openapi: 3.0.1
info:
  description: The Disk Resource Provider Client.
  title: DiskResourceProviderClient
  version: 2018-09-30
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/compute/resource-manager/Microsoft.Compute/stable/2018-09-30/disk.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: compute-disk
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Compute/disks:
    get:
      description: Lists all the disks under a subscription.
      operationId: disks_list
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiskList'
          description: OK
      tags:
      - Disks
      x-ms-examples:
        List all managed disks in a subscription.:
          parameters:
            api-version: 2018-09-30
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                nextLink: "http://disksvchost:99/subscriptions/{subscriptionId}/providers/Microsoft.Compute/disks?$skiptoken={token}/Subscriptions/{subscriptionId}/ResourceGroups/myResourceGroup/Disks/myManagedDisk"
                value:
                - id: "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myManagedDisk1"
                  location: westus
                  name: myManagedDisk1
                  properties:
                    creationData:
                      createOption: Copy
                      sourceResourceId: "subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myManagedDisk1"
                    diskSizeGB: 200
                    encryptionSettings:
                      diskEncryptionKey:
                        secretUrl: "https://myvmvault.vault-int.azure-int.net/secrets/{secret}"
                        sourceVault:
                          id: "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.KeyVault/vaults/myVMVault"
                      enabled: true
                      keyEncryptionKey:
                        keyUrl: "https://myvmvault.vault-int.azure-int.net/keys/{key}"
                        sourceVault:
                          id: "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.KeyVault/vaults/myVMVault"
                    osType: Windows
                    provisioningState: Succeeded
                    timeCreated: 2016-12-28T04:41:35.9278721+00:00
                  tags:
                    department: Development
                    project: ManagedDisks
                  type: Microsoft.Compute/disks
                - id: "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myManagedDisk2"
                  location: westus
                  name: myManagedDisk2
                  properties:
                    creationData:
                      createOption: Empty
                    diskSizeGB: 10
                    osType: Windows
                    provisioningState: Succeeded
                    timeCreated: 2016-12-28T04:41:36.872242+00:00
                  type: Microsoft.Compute/disks
                - id: "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myManagedDisk3"
                  location: westus
                  name: myManagedDisk3
                  properties:
                    creationData:
                      createOption: FromImage
                      imageReference:
                        id: "/Subscriptions/{subscriptionId}/Providers/Microsoft.Compute/Locations/uswest/Publishers/Microsoft/ArtifactTypes/VMImage/Offers/{offer}"
                    diskSizeGB: 200
                    encryptionSettings:
                      diskEncryptionKey:
                        secretUrl: "https://myvmvault.vault-int.azure-int.net/secrets/{secret}"
                        sourceVault:
                          id: "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.KeyVault/vaults/myVMVault"
                      enabled: true
                      keyEncryptionKey:
                        keyUrl: "https://myvmvault.vault-int.azure-int.net/keys/{key}"
                        sourceVault:
                          id: "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.KeyVault/vaults/myVMVault"
                    osType: Windows
                    provisioningState: Succeeded
                    timeCreated: 2016-12-28T04:41:36.3973934+00:00
                  tags:
                    department: Development
                    project: ManagedDisks
                  type: Microsoft.Compute/disks
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.disks_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Compute/snapshots:
    get:
      description: Lists snapshots under a subscription.
      operationId: snapshots_list
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SnapshotList'
          description: OK
      tags:
      - Snapshots
      x-ms-examples:
        List all snapshots in a subscription.:
          parameters:
            api-version: 2018-09-30
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                value:
                - id: "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot1"
                  location: westus
                  name: mySnapshot1
                  properties:
                    creationData:
                      createOption: Copy
                      sourceResourceId: "subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot"
                    diskSizeGB: 200
                    encryptionSettings:
                      diskEncryptionKey:
                        secretUrl: "https://myvmvault.vault-int.azure-int.net/secrets/{secret}"
                        sourceVault:
                          id: "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.KeyVault/vaults/myVMVault"
                      enabled: true
                      keyEncryptionKey:
                        keyUrl: "https://myvmvault.vault-int.azure-int.net/keys/{key}"
                        sourceVault:
                          id: "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.KeyVault/vaults/myVMVault"
                    osType: Windows
                    provisioningState: Succeeded
                    timeCreated: 2016-12-28T04:47:30.6630569+00:00
                  tags:
                    department: Development
                    project: Snapshots
                  type: Microsoft.Compute/snapshots
                - id: "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot2"
                  location: westus
                  name: mySnapshot2
                  properties:
                    creationData:
                      createOption: Import
                      sourceUri: https://mystorageaccount.blob.core.windows.net/osimages/osimage.vhd
                      storageAccountId: "subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Storage/storageAccounts/myStorageAccount"
                    diskSizeGB: 200
                    encryptionSettings:
                      diskEncryptionKey:
                        secretUrl: "https://myvmvault.vault-int.azure-int.net/secrets/{secret}"
                        sourceVault:
                          id: "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.KeyVault/vaults/myVMVault"
                      enabled: true
                      keyEncryptionKey:
                        keyUrl: "https://myvmvault.vault-int.azure-int.net/keys/{key}"
                        sourceVault:
                          id: "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.KeyVault/vaults/myVMVault"
                    osType: Windows
                    provisioningState: Succeeded
                    timeCreated: 2016-12-28T04:47:30.3247198+00:00
                  tags:
                    department: Development
                    project: Snapshots
                  type: Microsoft.Compute/snapshots
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.snapshots_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/disks:
    get:
      description: Lists all the disks under a resource group.
      operationId: disks_list_by_resource_group
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiskList'
          description: OK
      tags:
      - Disks
      x-ms-examples:
        List all managed disks in a resource group.:
          parameters:
            api-version: 2018-09-30
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                nextLink: "http://disksvchost:99/subscriptions/{subscriptionId}/providers/Microsoft.Compute/disks?$skiptoken={token}/Subscriptions/{subscriptionId}/ResourceGroups/myResourceGroup/Disks/myManagedDisk"
                value:
                - id: "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myManagedDisk"
                  location: westus
                  name: myManagedDisk
                  properties:
                    creationData:
                      createOption: Copy
                      sourceResourceId: "subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myManagedDisk"
                    diskSizeGB: 200
                    encryptionSettings:
                      diskEncryptionKey:
                        secretUrl: "https://myvmvault.vault-int.azure-int.net/secrets/{secret}"
                        sourceVault:
                          id: "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.KeyVault/vaults/myVMVault"
                      enabled: true
                      keyEncryptionKey:
                        keyUrl: "https://myvmvault.vault-int.azure-int.net/keys/{key}"
                        sourceVault:
                          id: "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.KeyVault/vaults/myVMVault"
                    osType: Windows
                    provisioningState: Succeeded
                    timeCreated: 2016-12-28T04:41:35.9278721+00:00
                  tags:
                    department: Development
                    project: ManagedDisks
                  type: Microsoft.Compute/disks
                - id: "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myManagedDisk"
                  location: westus
                  name: myManagedDisk
                  properties:
                    creationData:
                      createOption: Empty
                    diskSizeGB: 10
                    osType: Windows
                    provisioningState: Succeeded
                    timeCreated: 2016-12-28T04:41:36.872242+00:00
                  type: Microsoft.Compute/disks
                - id: "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myManagedDisk"
                  location: westus
                  name: myManagedDisk
                  properties:
                    creationData:
                      createOption: FromImage
                      imageReference:
                        id: "/Subscriptions/{subscriptionId}/Providers/Microsoft.Compute/Locations/uswest/Publishers/Microsoft/ArtifactTypes/VMImage/Offers/{offer}"
                    diskSizeGB: 200
                    encryptionSettings:
                      diskEncryptionKey:
                        secretUrl: "https://myvmvault.vault-int.azure-int.net/secrets/{secret}"
                        sourceVault:
                          id: "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.KeyVault/vaults/myVMVault"
                      enabled: true
                      keyEncryptionKey:
                        keyUrl: "https://myvmvault.vault-int.azure-int.net/keys/{key}"
                        sourceVault:
                          id: "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.KeyVault/vaults/myVMVault"
                    osType: Windows
                    provisioningState: Succeeded
                    timeCreated: 2016-12-28T04:41:36.3973934+00:00
                  tags:
                    department: Development
                    project: ManagedDisks
                  type: Microsoft.Compute/disks
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.disks_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/disks/{diskName}:
    delete:
      description: Deletes a disk.
      operationId: disks_delete
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "The name of the managed disk that is being created. The name\
          \ can't be changed after the disk is created. Supported characters for the\
          \ name are a-z, A-Z, 0-9 and _. The maximum name length is 80 characters."
        in: path
        name: disk_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "202":
          content: {}
          description: Accepted
        "204":
          content: {}
          description: "If the disk is deleted, this is an expected error code."
      tags:
      - Disks
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.disks_controller
    get:
      description: Gets information about a disk.
      operationId: disks_get
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "The name of the managed disk that is being created. The name\
          \ can't be changed after the disk is created. Supported characters for the\
          \ name are a-z, A-Z, 0-9 and _. The maximum name length is 80 characters."
        in: path
        name: diskName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Disk'
          description: OK
      tags:
      - Disks
      x-ms-examples:
        Get information about a managed disk.:
          parameters:
            api-version: 2018-09-30
            diskName: myManagedDisk
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                id: "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myManagedDisk"
                location: westus
                managedBy: /subscriptions/123caaa-123v-v211-a49f-f88ccac5bf88/resourceGroups/ResourceGroupName/providers/Microsoft.Compute/virtualMachines/TestVM414689371c88843d65ec
                name: myManagedDisk
                properties:
                  creationData:
                    createOption: Empty
                  diskSizeGB: 10
                  encryptionSettings:
                    diskEncryptionKey:
                      secretUrl: "https://myvmvault.vault-int.azure-int.net/secrets/{secret}"
                      sourceVault:
                        id: "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.KeyVault/vaults/myVMVault"
                    enabled: true
                    keyEncryptionKey:
                      keyUrl: "https://myvmvault.vault-int.azure-int.net/keys/{key}"
                      sourceVault:
                        id: "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.KeyVault/vaults/myVMVault"
                  osType: Windows
                  provisioningState: Succeeded
                  timeCreated: 2016-12-28T04:41:35.079872+00:00
                sku:
                  name: Standard_LRS
                tags:
                  department: Development
                  project: ManagedDisks
                type: Microsoft.Compute/disks
      x-openapi-router-controller: openapi_server.controllers.disks_controller
    patch:
      description: Updates (patches) a disk.
      operationId: disks_update
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "The name of the managed disk that is being created. The name\
          \ can't be changed after the disk is created. Supported characters for the\
          \ name are a-z, A-Z, 0-9 and _. The maximum name length is 80 characters."
        in: path
        name: disk_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DiskUpdate'
        description: Disk object supplied in the body of the Patch disk operation.
        required: true
        x-body-name: disk
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Disk'
          description: OK
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Disk'
          description: Accepted
      tags:
      - Disks
      x-ms-long-running-operation: true
      x-codegen-request-body-name: disk
      x-openapi-router-controller: openapi_server.controllers.disks_controller
    put:
      description: Creates or updates a disk.
      operationId: disks_create_or_update
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "The name of the managed disk that is being created. The name\
          \ can't be changed after the disk is created. Supported characters for the\
          \ name are a-z, A-Z, 0-9 and _. The maximum name length is 80 characters."
        in: path
        name: disk_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Disk'
        description: Disk object supplied in the body of the Put disk operation.
        required: true
        x-body-name: disk
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Disk'
          description: OK
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Disk'
          description: Accepted
      tags:
      - Disks
      x-ms-examples:
        Create a managed disk by copying a snapshot.:
          parameters:
            api-version: 2018-09-30
            disk:
              location: West US
              name: myDisk
              properties:
                creationData:
                  createOption: Copy
                  sourceResourceId: "subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot"
            diskName: myDisk
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                location: West US
                name: myDisk
                properties:
                  creationData:
                    createOption: Copy
                    sourceResourceId: "subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot"
                  provisioningState: Updating
            "202":
              body:
                location: West US
                name: myDisk
                properties:
                  creationData:
                    createOption: Copy
                    sourceResourceId: "subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot"
                  provisioningState: Updating
        Create a managed disk by importing an unmanaged blob from a different subscription.:
          parameters:
            api-version: 2018-09-30
            disk:
              location: West US
              name: myDisk
              properties:
                creationData:
                  createOption: Import
                  sourceUri: https://mystorageaccount.blob.core.windows.net/osimages/osimage.vhd
                  storageAccountId: "subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Storage/storageAccounts/myStorageAccount"
            diskName: myDisk
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                location: West US
                name: myDisk
                properties:
                  creationData:
                    createOption: Import
                    sourceUri: https://mystorageaccount.blob.core.windows.net/osimages/osimage.vhd
                    storageAccountId: "subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Storage/storageAccounts/myStorageAccount"
                  provisioningState: Updating
            "202":
              body:
                location: West US
                name: myDisk
                properties:
                  creationData:
                    createOption: Import
                    sourceUri: https://mystorageaccount.blob.core.windows.net/osimages/osimage.vhd
                    storageAccountId: "subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Storage/storageAccounts/myStorageAccount"
                  provisioningState: Updating
        Create a managed disk by importing an unmanaged blob from the same subscription.:
          parameters:
            api-version: 2018-09-30
            disk:
              location: West US
              name: myDisk
              properties:
                creationData:
                  createOption: Import
                  sourceUri: https://mystorageaccount.blob.core.windows.net/osimages/osimage.vhd
            diskName: myDisk
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                location: West US
                name: myDisk
                properties:
                  creationData:
                    createOption: Import
                    sourceUri: https://mystorageaccount.blob.core.windows.net/osimages/osimage.vhd
                  provisioningState: Updating
            "202":
              body:
                location: West US
                name: myDisk
                properties:
                  creationData:
                    createOption: Import
                    sourceUri: https://mystorageaccount.blob.core.windows.net/osimages/osimage.vhd
                  provisioningState: Updating
        Create a managed disk from a platform image.:
          parameters:
            api-version: 2018-09-30
            disk:
              location: West US
              name: myDisk
              properties:
                creationData:
                  createOption: FromImage
                  imageReference:
                    id: "/Subscriptions/{subscriptionId}/Providers/Microsoft.Compute/Locations/uswest/Publishers/Microsoft/ArtifactTypes/VMImage/Offers/{offer}"
                osType: Windows
            diskName: myDisk
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                location: West US
                name: myDisk
                properties:
                  creationData:
                    createOption: FromImage
                    imageReference:
                      id: "/Subscriptions/{subscriptionId}/Providers/Microsoft.Compute/Locations/uswest/Publishers/Microsoft/ArtifactTypes/VMImage/Offers/{offer}"
                  osType: Windows
                  provisioningState: Updating
            "202":
              body:
                location: West US
                name: myDisk
                properties:
                  creationData:
                    createOption: FromImage
                    imageReference:
                      id: "/Subscriptions/{subscriptionId}/Providers/Microsoft.Compute/Locations/uswest/Publishers/Microsoft/ArtifactTypes/VMImage/Offers/{offer}"
                  osType: Windows
                  provisioningState: Updating
        Create a managed disk from an existing managed disk in the same or different subscription.:
          parameters:
            api-version: 2018-09-30
            disk:
              location: West US
              name: myDisk2
              properties:
                creationData:
                  createOption: Copy
                  sourceResourceId: "subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myDisk1"
            diskName: myDisk2
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                location: West US
                name: myDisk2
                properties:
                  creationData:
                    createOption: Copy
                    sourceResourceId: "subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myDisk1"
                  provisioningState: Updating
            "202":
              body:
                location: West US
                name: myDisk2
                properties:
                  creationData:
                    createOption: Copy
                    sourceResourceId: "subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myDisk1"
                  provisioningState: Updating
        Create an empty managed disk.:
          parameters:
            api-version: 2018-09-30
            disk:
              location: West US
              name: myDisk
              properties:
                creationData:
                  createOption: Empty
                diskSizeGB: 200
            diskName: myDisk
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                location: West US
                name: myDisk
                properties:
                  creationData:
                    createOption: Empty
                  diskSizeGB: 200
                  provisioningState: Updating
            "202":
              body:
                location: West US
                name: myDisk
                properties:
                  creationData:
                    createOption: Empty
                  diskSizeGB: 200
                  provisioningState: Updating
      x-ms-long-running-operation: true
      x-codegen-request-body-name: disk
      x-openapi-router-controller: openapi_server.controllers.disks_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/disks/{diskName}/beginGetAccess:
    post:
      description: Grants access to a disk.
      operationId: disks_grant_access
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "The name of the managed disk that is being created. The name\
          \ can't be changed after the disk is created. Supported characters for the\
          \ name are a-z, A-Z, 0-9 and _. The maximum name length is 80 characters."
        in: path
        name: disk_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GrantAccessData'
        description: Access data object supplied in the body of the get disk access
          operation.
        required: true
        x-body-name: grantAccessData
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessUri'
          description: OK
        "202":
          content: {}
          description: Accepted
      tags:
      - Disks
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-codegen-request-body-name: grantAccessData
      x-openapi-router-controller: openapi_server.controllers.disks_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/disks/{diskName}/endGetAccess:
    post:
      description: Revokes access to a disk.
      operationId: disks_revoke_access
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "The name of the managed disk that is being created. The name\
          \ can't be changed after the disk is created. Supported characters for the\
          \ name are a-z, A-Z, 0-9 and _. The maximum name length is 80 characters."
        in: path
        name: disk_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "202":
          content: {}
          description: Accepted
      tags:
      - Disks
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-openapi-router-controller: openapi_server.controllers.disks_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/snapshots:
    get:
      description: Lists snapshots under a resource group.
      operationId: snapshots_list_by_resource_group
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SnapshotList'
          description: OK
      tags:
      - Snapshots
      x-ms-examples:
        List all snapshots in a resource group.:
          parameters:
            api-version: 2018-09-30
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                value:
                - id: "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot"
                  location: westus
                  name: mySnapshot
                  properties:
                    creationData:
                      createOption: Copy
                      sourceResourceId: "subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot"
                    diskSizeGB: 200
                    encryptionSettings:
                      diskEncryptionKey:
                        secretUrl: "https://myvmvault.vault-int.azure-int.net/secrets/{secret}"
                        sourceVault:
                          id: "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.KeyVault/vaults/myVMVault"
                      enabled: true
                      keyEncryptionKey:
                        keyUrl: "https://myvmvault.vault-int.azure-int.net/keys/{key}"
                        sourceVault:
                          id: "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.KeyVault/vaults/myVMVault"
                    osType: Windows
                    provisioningState: Succeeded
                    timeCreated: 2016-12-28T04:41:35.9278721+00:00
                  tags:
                    department: Development
                    project: Snapshots
                  type: Microsoft.Compute/snapshots
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.snapshots_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/snapshots/{snapshotName}:
    delete:
      description: Deletes a snapshot.
      operationId: snapshots_delete
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "The name of the snapshot that is being created. The name can't\
          \ be changed after the snapshot is created. Supported characters for the\
          \ name are a-z, A-Z, 0-9 and _. The max name length is 80 characters."
        in: path
        name: snapshot_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "202":
          content: {}
          description: Accepted
        "204":
          content: {}
          description: "If the snapshot is deleted, this is an expected error code."
      tags:
      - Snapshots
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.snapshots_controller
    get:
      description: Gets information about a snapshot.
      operationId: snapshots_get
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "The name of the snapshot that is being created. The name can't\
          \ be changed after the snapshot is created. Supported characters for the\
          \ name are a-z, A-Z, 0-9 and _. The max name length is 80 characters."
        in: path
        name: snapshotName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Snapshot'
          description: OK
      tags:
      - Snapshots
      x-ms-examples:
        Get information about a snapshot.:
          parameters:
            api-version: 2018-09-30
            resourceGroupName: myResourceGroup
            snapshotName: mySnapshot
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                id: "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot"
                location: westus
                name: mySnapshot
                properties:
                  creationData:
                    createOption: Empty
                  diskSizeGB: 100
                  encryptionSettings:
                    diskEncryptionKey:
                      secretUrl: "https://myvmvault.vault-int.azure-int.net/secrets/{secret}"
                      sourceVault:
                        id: "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.KeyVault/vaults/myVMVault"
                    enabled: true
                    keyEncryptionKey:
                      keyUrl: "https://myvmvault.vault-int.azure-int.net/keys/{key}"
                      sourceVault:
                        id: "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.KeyVault/vaults/myVMVault"
                  osType: Windows
                  provisioningState: Succeeded
                  timeCreated: 2016-12-28T04:41:35.079872+00:00
                tags:
                  department: Development
                  project: Snapshots
                type: Microsoft.Compute/snapshots
      x-openapi-router-controller: openapi_server.controllers.snapshots_controller
    patch:
      description: Updates (patches) a snapshot.
      operationId: snapshots_update
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "The name of the snapshot that is being created. The name can't\
          \ be changed after the snapshot is created. Supported characters for the\
          \ name are a-z, A-Z, 0-9 and _. The max name length is 80 characters."
        in: path
        name: snapshot_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SnapshotUpdate'
        description: Snapshot object supplied in the body of the Patch snapshot operation.
        required: true
        x-body-name: snapshot
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Snapshot'
          description: OK
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Snapshot'
          description: Accepted
      tags:
      - Snapshots
      x-ms-long-running-operation: true
      x-codegen-request-body-name: snapshot
      x-openapi-router-controller: openapi_server.controllers.snapshots_controller
    put:
      description: Creates or updates a snapshot.
      operationId: snapshots_create_or_update
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "The name of the snapshot that is being created. The name can't\
          \ be changed after the snapshot is created. Supported characters for the\
          \ name are a-z, A-Z, 0-9 and _. The max name length is 80 characters."
        in: path
        name: snapshot_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Snapshot'
        description: Snapshot object supplied in the body of the Put disk operation.
        required: true
        x-body-name: snapshot
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Snapshot'
          description: OK
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Snapshot'
          description: Accepted
      tags:
      - Snapshots
      x-ms-examples:
        Create a snapshot by importing an unmanaged blob from a different subscription.:
          parameters:
            api-version: 2018-09-30
            resourceGroupName: myResourceGroup
            snapshot:
              location: West US
              name: mySnapshot1
              properties:
                creationData:
                  createOption: Import
                  sourceUri: https://mystorageaccount.blob.core.windows.net/osimages/osimage.vhd
                  storageAccountId: "subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Storage/storageAccounts/myStorageAccount"
            snapshotName: mySnapshot1
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                location: West US
                name: mySnapshot1
                properties:
                  creationData:
                    createOption: Import
                    sourceUri: https://mystorageaccount.blob.core.windows.net/osimages/osimage.vhd
                    storageAccountId: "subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Storage/storageAccounts/myStorageAccount"
                  provisioningState: Updating
            "202":
              body:
                location: West US
                name: mySnapshot1
                properties:
                  creationData:
                    createOption: Import
                    sourceUri: https://mystorageaccount.blob.core.windows.net/osimages/osimage.vhd
                    storageAccountId: "subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Storage/storageAccounts/myStorageAccount"
                  provisioningState: Updating
        Create a snapshot by importing an unmanaged blob from the same subscription.:
          parameters:
            api-version: 2018-09-30
            resourceGroupName: myResourceGroup
            snapshot:
              location: West US
              name: mySnapshot1
              properties:
                creationData:
                  createOption: Import
                  sourceUri: https://mystorageaccount.blob.core.windows.net/osimages/osimage.vhd
            snapshotName: mySnapshot1
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                location: West US
                name: mySnapshot1
                properties:
                  creationData:
                    createOption: Import
                    sourceUri: https://mystorageaccount.blob.core.windows.net/osimages/osimage.vhd
                  provisioningState: Updating
            "202":
              body:
                location: West US
                name: mySnapshot1
                properties:
                  creationData:
                    createOption: Import
                    sourceUri: https://mystorageaccount.blob.core.windows.net/osimages/osimage.vhd
                  provisioningState: Updating
        Create a snapshot from an existing snapshot in the same or a different subscription.:
          parameters:
            api-version: 2018-09-30
            resourceGroupName: myResourceGroup
            snapshot:
              location: West US
              name: mySnapshot2
              properties:
                creationData:
                  createOption: Copy
                  sourceResourceId: "subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot1"
            snapshotName: mySnapshot2
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                location: West US
                name: mySnapshot2
                properties:
                  creationData:
                    createOption: Copy
                    sourceResourceId: "subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot1"
                  provisioningState: Updating
            "202":
              body:
                location: West US
                name: mySnapshot2
                properties:
                  creationData:
                    createOption: Copy
                    sourceResourceId: "subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot1"
                  provisioningState: Updating
      x-ms-long-running-operation: true
      x-codegen-request-body-name: snapshot
      x-openapi-router-controller: openapi_server.controllers.snapshots_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/snapshots/{snapshotName}/beginGetAccess
  : post:
      description: Grants access to a snapshot.
      operationId: snapshots_grant_access
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "The name of the snapshot that is being created. The name can't\
          \ be changed after the snapshot is created. Supported characters for the\
          \ name are a-z, A-Z, 0-9 and _. The max name length is 80 characters."
        in: path
        name: snapshot_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GrantAccessData'
        description: Access data object supplied in the body of the get snapshot access
          operation.
        required: true
        x-body-name: grantAccessData
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessUri'
          description: OK
        "202":
          content: {}
          description: Accepted
      tags:
      - Snapshots
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-codegen-request-body-name: grantAccessData
      x-openapi-router-controller: openapi_server.controllers.snapshots_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/snapshots/{snapshotName}/endGetAccess
  : post:
      description: Revokes access to a snapshot.
      operationId: snapshots_revoke_access
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "The name of the snapshot that is being created. The name can't\
          \ be changed after the snapshot is created. Supported characters for the\
          \ name are a-z, A-Z, 0-9 and _. The max name length is 80 characters."
        in: path
        name: snapshot_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "202":
          content: {}
          description: Accepted
      tags:
      - Snapshots
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-openapi-router-controller: openapi_server.controllers.snapshots_controller
components:
  parameters:
    ApiVersionParameter:
      description: Client Api Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    DiskNameParameter:
      description: "The name of the managed disk that is being created. The name can't\
        \ be changed after the disk is created. Supported characters for the name\
        \ are a-z, A-Z, 0-9 and _. The maximum name length is 80 characters."
      in: path
      name: diskName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ResourceGroupNameParameter:
      description: The name of the resource group.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SnapshotNameParameter:
      description: "The name of the snapshot that is being created. The name can't\
        \ be changed after the snapshot is created. Supported characters for the name\
        \ are a-z, A-Z, 0-9 and _. The max name length is 80 characters."
      in: path
      name: snapshotName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: Subscription credentials which uniquely identify Microsoft Azure
        subscription. The subscription ID forms part of the URI for every service
        call.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    AccessUri:
      description: A disk access SAS uri.
      example:
        accessSAS: accessSAS
      properties:
        accessSAS:
          description: A SAS uri for accessing a disk.
          readOnly: true
          title: accessSAS
          type: string
      title: AccessUri
      type: object
    CreationData:
      description: Data used when creating a disk.
      example:
        storageAccountId: storageAccountId
        sourceUri: sourceUri
        imageReference:
          lun: 0
          id: id
        createOption: Empty
        sourceResourceId: sourceResourceId
      properties:
        createOption:
          description: This enumerates the possible sources of a disk's creation.
          enum:
          - Empty
          - Attach
          - FromImage
          - Import
          - Copy
          - Restore
          - Upload
          title: createOption
          type: string
          x-ms-enum:
            modelAsString: true
            name: DiskCreateOption
        imageReference:
          $ref: '#/components/schemas/ImageDiskReference'
        sourceResourceId:
          description: "If createOption is Copy, this is the ARM id of the source\
            \ snapshot or disk."
          title: sourceResourceId
          type: string
        sourceUri:
          description: "If createOption is Import, this is the URI of a blob to be\
            \ imported into a managed disk."
          title: sourceUri
          type: string
        storageAccountId:
          description: "If createOption is Import, the Azure Resource Manager identifier\
            \ of the storage account containing the blob to import as a disk. Required\
            \ only if the blob is in a different subscription"
          title: storageAccountId
          type: string
      required:
      - createOption
      title: CreationData
      type: object
    Disk:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: Disk resource.
      example:
        managedBy: managedBy
        sku:
          tier: Standard
          name: Standard_LRS
        zones:
        - zones
        - zones
        properties:
          diskMBpsReadWrite: 1
          diskState: Unattached
          creationData:
            storageAccountId: storageAccountId
            sourceUri: sourceUri
            imageReference:
              lun: 0
              id: id
            createOption: Empty
            sourceResourceId: sourceResourceId
          diskIOPSReadWrite: 6
          osType: Windows
          hyperVGeneration: V1
          timeCreated: 2000-01-23T04:56:07.000+00:00
          provisioningState: provisioningState
          encryptionSettingsCollection:
            enabled: true
            encryptionSettings:
            - diskEncryptionKey:
                secretUrl: secretUrl
                sourceVault:
                  id: id
              keyEncryptionKey:
                sourceVault:
                  id: id
                keyUrl: keyUrl
            - diskEncryptionKey:
                secretUrl: secretUrl
                sourceVault:
                  id: id
              keyEncryptionKey:
                sourceVault:
                  id: id
                keyUrl: keyUrl
          diskSizeGB: 5
      properties:
        managedBy:
          description: A relative URI containing the ID of the VM that has the disk
            attached.
          readOnly: true
          title: managedBy
          type: string
        properties:
          $ref: '#/components/schemas/DiskProperties'
        sku:
          $ref: '#/components/schemas/DiskSku'
        zones:
          description: The Logical zone list for Disk.
          items:
            type: string
          title: zones
          type: array
      title: Disk
    DiskList:
      description: The List Disks operation response.
      example:
        value:
        - managedBy: managedBy
          sku:
            tier: Standard
            name: Standard_LRS
          zones:
          - zones
          - zones
          properties:
            diskMBpsReadWrite: 1
            diskState: Unattached
            creationData:
              storageAccountId: storageAccountId
              sourceUri: sourceUri
              imageReference:
                lun: 0
                id: id
              createOption: Empty
              sourceResourceId: sourceResourceId
            diskIOPSReadWrite: 6
            osType: Windows
            hyperVGeneration: V1
            timeCreated: 2000-01-23T04:56:07.000+00:00
            provisioningState: provisioningState
            encryptionSettingsCollection:
              enabled: true
              encryptionSettings:
              - diskEncryptionKey:
                  secretUrl: secretUrl
                  sourceVault:
                    id: id
                keyEncryptionKey:
                  sourceVault:
                    id: id
                  keyUrl: keyUrl
              - diskEncryptionKey:
                  secretUrl: secretUrl
                  sourceVault:
                    id: id
                keyEncryptionKey:
                  sourceVault:
                    id: id
                  keyUrl: keyUrl
            diskSizeGB: 5
        - managedBy: managedBy
          sku:
            tier: Standard
            name: Standard_LRS
          zones:
          - zones
          - zones
          properties:
            diskMBpsReadWrite: 1
            diskState: Unattached
            creationData:
              storageAccountId: storageAccountId
              sourceUri: sourceUri
              imageReference:
                lun: 0
                id: id
              createOption: Empty
              sourceResourceId: sourceResourceId
            diskIOPSReadWrite: 6
            osType: Windows
            hyperVGeneration: V1
            timeCreated: 2000-01-23T04:56:07.000+00:00
            provisioningState: provisioningState
            encryptionSettingsCollection:
              enabled: true
              encryptionSettings:
              - diskEncryptionKey:
                  secretUrl: secretUrl
                  sourceVault:
                    id: id
                keyEncryptionKey:
                  sourceVault:
                    id: id
                  keyUrl: keyUrl
              - diskEncryptionKey:
                  secretUrl: secretUrl
                  sourceVault:
                    id: id
                keyEncryptionKey:
                  sourceVault:
                    id: id
                  keyUrl: keyUrl
            diskSizeGB: 5
        nextLink: nextLink
      properties:
        nextLink:
          description: The uri to fetch the next page of disks. Call ListNext() with
            this to fetch the next page of disks.
          title: nextLink
          type: string
        value:
          description: A list of disks.
          items:
            $ref: '#/components/schemas/Disk'
          title: value
          type: array
      required:
      - value
      title: DiskList
      type: object
    DiskProperties:
      description: Disk resource properties.
      example:
        diskMBpsReadWrite: 1
        diskState: Unattached
        creationData:
          storageAccountId: storageAccountId
          sourceUri: sourceUri
          imageReference:
            lun: 0
            id: id
          createOption: Empty
          sourceResourceId: sourceResourceId
        diskIOPSReadWrite: 6
        osType: Windows
        hyperVGeneration: V1
        timeCreated: 2000-01-23T04:56:07.000+00:00
        provisioningState: provisioningState
        encryptionSettingsCollection:
          enabled: true
          encryptionSettings:
          - diskEncryptionKey:
              secretUrl: secretUrl
              sourceVault:
                id: id
            keyEncryptionKey:
              sourceVault:
                id: id
              keyUrl: keyUrl
          - diskEncryptionKey:
              secretUrl: secretUrl
              sourceVault:
                id: id
            keyEncryptionKey:
              sourceVault:
                id: id
              keyUrl: keyUrl
        diskSizeGB: 5
      properties:
        creationData:
          $ref: '#/components/schemas/CreationData'
        diskIOPSReadWrite:
          description: The number of IOPS allowed for this disk; only settable for
            UltraSSD disks. One operation can transfer between 4k and 256k bytes.
          format: int64
          title: diskIOPSReadWrite
          type: integer
        diskMBpsReadWrite:
          description: "The bandwidth allowed for this disk; only settable for UltraSSD\
            \ disks. MBps means millions of bytes per second - MB here uses the ISO\
            \ notation, of powers of 10."
          format: int32
          title: diskMBpsReadWrite
          type: integer
        diskSizeGB:
          description: "If creationData.createOption is Empty, this field is mandatory\
            \ and it indicates the size of the VHD to create. If this field is present\
            \ for updates or creation with other options, it indicates a resize. Resizes\
            \ are only allowed if the disk is not attached to a running VM, and can\
            \ only increase the disk's size."
          format: int32
          title: diskSizeGB
          type: integer
        diskState:
          description: The state of the disk.
          enum:
          - Unattached
          - Attached
          - Reserved
          - ActiveSAS
          - ReadyToUpload
          - ActiveUpload
          readOnly: true
          title: diskState
          type: string
          x-ms-enum:
            modelAsString: true
            name: DiskState
        encryptionSettingsCollection:
          $ref: '#/components/schemas/EncryptionSettingsCollection'
        hyperVGeneration:
          description: The hypervisor generation of the Virtual Machine. Applicable
            to OS disks only.
          enum:
          - V1
          - V2
          title: hyperVGeneration
          type: string
          x-ms-enum:
            modelAsString: true
            name: HyperVGeneration
        osType:
          description: The Operating System type.
          enum:
          - Windows
          - Linux
          title: osType
          type: string
          x-ms-enum:
            modelAsString: false
            name: OperatingSystemTypes
        provisioningState:
          description: The disk provisioning state.
          readOnly: true
          title: provisioningState
          type: string
        timeCreated:
          description: The time when the disk was created.
          format: date-time
          readOnly: true
          title: timeCreated
          type: string
      required:
      - creationData
      title: DiskProperties
      type: object
    DiskSku:
      description: "The disks sku name. Can be Standard_LRS, Premium_LRS, StandardSSD_LRS,\
        \ or UltraSSD_LRS."
      example:
        tier: Standard
        name: Standard_LRS
      properties:
        name:
          description: The sku name.
          enum:
          - Standard_LRS
          - Premium_LRS
          - StandardSSD_LRS
          - UltraSSD_LRS
          title: name
          type: string
          x-ms-enum:
            modelAsString: true
            name: DiskStorageAccountTypes
        tier:
          default: Standard
          description: The sku tier.
          readOnly: true
          title: tier
          type: string
      title: DiskSku
      type: object
    DiskUpdate:
      description: Disk update resource.
      example:
        sku:
          tier: Standard
          name: Standard_LRS
        properties:
          diskMBpsReadWrite: 6
          diskIOPSReadWrite: 0
          osType: Windows
          encryptionSettingsCollection:
            enabled: true
            encryptionSettings:
            - diskEncryptionKey:
                secretUrl: secretUrl
                sourceVault:
                  id: id
              keyEncryptionKey:
                sourceVault:
                  id: id
                keyUrl: keyUrl
            - diskEncryptionKey:
                secretUrl: secretUrl
                sourceVault:
                  id: id
              keyEncryptionKey:
                sourceVault:
                  id: id
                keyUrl: keyUrl
          diskSizeGB: 1
        tags:
          key: tags
      properties:
        properties:
          $ref: '#/components/schemas/DiskUpdateProperties'
        sku:
          $ref: '#/components/schemas/DiskSku'
        tags:
          additionalProperties:
            type: string
          description: Resource tags
          title: tags
          type: object
      title: DiskUpdate
      type: object
    DiskUpdateProperties:
      description: Disk resource update properties.
      example:
        diskMBpsReadWrite: 6
        diskIOPSReadWrite: 0
        osType: Windows
        encryptionSettingsCollection:
          enabled: true
          encryptionSettings:
          - diskEncryptionKey:
              secretUrl: secretUrl
              sourceVault:
                id: id
            keyEncryptionKey:
              sourceVault:
                id: id
              keyUrl: keyUrl
          - diskEncryptionKey:
              secretUrl: secretUrl
              sourceVault:
                id: id
            keyEncryptionKey:
              sourceVault:
                id: id
              keyUrl: keyUrl
        diskSizeGB: 1
      properties:
        diskIOPSReadWrite:
          description: The number of IOPS allowed for this disk; only settable for
            UltraSSD disks. One operation can transfer between 4k and 256k bytes.
          format: int64
          title: diskIOPSReadWrite
          type: integer
        diskMBpsReadWrite:
          description: "The bandwidth allowed for this disk; only settable for UltraSSD\
            \ disks. MBps means millions of bytes per second - MB here uses the ISO\
            \ notation, of powers of 10."
          format: int32
          title: diskMBpsReadWrite
          type: integer
        diskSizeGB:
          description: "If creationData.createOption is Empty, this field is mandatory\
            \ and it indicates the size of the VHD to create. If this field is present\
            \ for updates or creation with other options, it indicates a resize. Resizes\
            \ are only allowed if the disk is not attached to a running VM, and can\
            \ only increase the disk's size."
          format: int32
          title: diskSizeGB
          type: integer
        encryptionSettingsCollection:
          $ref: '#/components/schemas/EncryptionSettingsCollection'
        osType:
          description: the Operating System type.
          enum:
          - Windows
          - Linux
          title: osType
          type: string
          x-ms-enum:
            modelAsString: false
            name: OperatingSystemTypes
      title: DiskUpdateProperties
      type: object
    EncryptionSettingsCollection:
      description: Encryption settings for disk or snapshot
      example:
        enabled: true
        encryptionSettings:
        - diskEncryptionKey:
            secretUrl: secretUrl
            sourceVault:
              id: id
          keyEncryptionKey:
            sourceVault:
              id: id
            keyUrl: keyUrl
        - diskEncryptionKey:
            secretUrl: secretUrl
            sourceVault:
              id: id
          keyEncryptionKey:
            sourceVault:
              id: id
            keyUrl: keyUrl
      properties:
        enabled:
          description: "Set this flag to true and provide DiskEncryptionKey and optional\
            \ KeyEncryptionKey to enable encryption. Set this flag to false and remove\
            \ DiskEncryptionKey and KeyEncryptionKey to disable encryption. If EncryptionSettings\
            \ is null in the request object, the existing settings remain unchanged."
          title: enabled
          type: boolean
        encryptionSettings:
          description: "A collection of encryption settings, one for each disk volume."
          items:
            $ref: '#/components/schemas/EncryptionSettingsElement'
          title: encryptionSettings
          type: array
      required:
      - enabled
      title: EncryptionSettingsCollection
      type: object
    EncryptionSettingsElement:
      description: Encryption settings for one disk volume.
      example:
        diskEncryptionKey:
          secretUrl: secretUrl
          sourceVault:
            id: id
        keyEncryptionKey:
          sourceVault:
            id: id
          keyUrl: keyUrl
      properties:
        diskEncryptionKey:
          $ref: '#/components/schemas/KeyVaultAndSecretReference'
        keyEncryptionKey:
          $ref: '#/components/schemas/KeyVaultAndKeyReference'
      title: EncryptionSettingsElement
      type: object
    GrantAccessData:
      description: Data used for requesting a SAS.
      example:
        access: None
        durationInSeconds: 0
      properties:
        access:
          enum:
          - None
          - Read
          - Write
          title: access
          type: string
          x-ms-enum:
            modelAsString: true
            name: AccessLevel
        durationInSeconds:
          description: Time duration in seconds until the SAS access expires.
          format: int32
          title: durationInSeconds
          type: integer
      required:
      - access
      - durationInSeconds
      title: GrantAccessData
      type: object
    ImageDiskReference:
      description: The source image used for creating the disk.
      example:
        lun: 0
        id: id
      properties:
        id:
          description: A relative uri containing either a Platform Image Repository
            or user image reference.
          title: id
          type: string
        lun:
          description: "If the disk is created from an image's data disk, this is\
            \ an index that indicates which of the data disks in the image to use.\
            \ For OS disks, this field is null."
          format: int32
          title: lun
          type: integer
      required:
      - id
      title: ImageDiskReference
      type: object
    KeyVaultAndKeyReference:
      description: "Key Vault Key Url and vault id of KeK, KeK is optional and when\
        \ provided is used to unwrap the encryptionKey"
      example:
        sourceVault:
          id: id
        keyUrl: keyUrl
      properties:
        keyUrl:
          description: Url pointing to a key or secret in KeyVault
          title: keyUrl
          type: string
        sourceVault:
          $ref: '#/components/schemas/SourceVault'
      required:
      - keyUrl
      - sourceVault
      title: KeyVaultAndKeyReference
      type: object
    KeyVaultAndSecretReference:
      description: 'Key Vault Secret Url and vault id of the encryption key '
      example:
        secretUrl: secretUrl
        sourceVault:
          id: id
      properties:
        secretUrl:
          description: Url pointing to a key or secret in KeyVault
          title: secretUrl
          type: string
        sourceVault:
          $ref: '#/components/schemas/SourceVault'
      required:
      - secretUrl
      - sourceVault
      title: KeyVaultAndSecretReference
      type: object
    Resource:
      description: The Resource model definition.
      properties:
        id:
          description: Resource Id
          readOnly: true
          title: id
          type: string
        location:
          description: Resource location
          title: location
          type: string
        name:
          description: Resource name
          readOnly: true
          title: name
          type: string
        tags:
          additionalProperties:
            type: string
          description: Resource tags
          title: tags
          type: object
        type:
          description: Resource type
          readOnly: true
          title: type
          type: string
      required:
      - location
      title: Resource
      type: object
      x-ms-azure-resource: true
    Snapshot:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: Snapshot resource.
      example:
        managedBy: managedBy
        sku:
          tier: Standard
          name: Standard_LRS
        properties:
          creationData:
            storageAccountId: storageAccountId
            sourceUri: sourceUri
            imageReference:
              lun: 0
              id: id
            createOption: Empty
            sourceResourceId: sourceResourceId
          osType: Windows
          hyperVGeneration: V1
          timeCreated: 2000-01-23T04:56:07.000+00:00
          provisioningState: provisioningState
          encryptionSettingsCollection:
            enabled: true
            encryptionSettings:
            - diskEncryptionKey:
                secretUrl: secretUrl
                sourceVault:
                  id: id
              keyEncryptionKey:
                sourceVault:
                  id: id
                keyUrl: keyUrl
            - diskEncryptionKey:
                secretUrl: secretUrl
                sourceVault:
                  id: id
              keyEncryptionKey:
                sourceVault:
                  id: id
                keyUrl: keyUrl
          diskSizeGB: 0
      properties:
        managedBy:
          description: Unused. Always Null.
          readOnly: true
          title: managedBy
          type: string
        properties:
          $ref: '#/components/schemas/SnapshotProperties'
        sku:
          $ref: '#/components/schemas/SnapshotSku'
      title: Snapshot
    SnapshotList:
      description: The List Snapshots operation response.
      example:
        value:
        - managedBy: managedBy
          sku:
            tier: Standard
            name: Standard_LRS
          properties:
            creationData:
              storageAccountId: storageAccountId
              sourceUri: sourceUri
              imageReference:
                lun: 0
                id: id
              createOption: Empty
              sourceResourceId: sourceResourceId
            osType: Windows
            hyperVGeneration: V1
            timeCreated: 2000-01-23T04:56:07.000+00:00
            provisioningState: provisioningState
            encryptionSettingsCollection:
              enabled: true
              encryptionSettings:
              - diskEncryptionKey:
                  secretUrl: secretUrl
                  sourceVault:
                    id: id
                keyEncryptionKey:
                  sourceVault:
                    id: id
                  keyUrl: keyUrl
              - diskEncryptionKey:
                  secretUrl: secretUrl
                  sourceVault:
                    id: id
                keyEncryptionKey:
                  sourceVault:
                    id: id
                  keyUrl: keyUrl
            diskSizeGB: 0
        - managedBy: managedBy
          sku:
            tier: Standard
            name: Standard_LRS
          properties:
            creationData:
              storageAccountId: storageAccountId
              sourceUri: sourceUri
              imageReference:
                lun: 0
                id: id
              createOption: Empty
              sourceResourceId: sourceResourceId
            osType: Windows
            hyperVGeneration: V1
            timeCreated: 2000-01-23T04:56:07.000+00:00
            provisioningState: provisioningState
            encryptionSettingsCollection:
              enabled: true
              encryptionSettings:
              - diskEncryptionKey:
                  secretUrl: secretUrl
                  sourceVault:
                    id: id
                keyEncryptionKey:
                  sourceVault:
                    id: id
                  keyUrl: keyUrl
              - diskEncryptionKey:
                  secretUrl: secretUrl
                  sourceVault:
                    id: id
                keyEncryptionKey:
                  sourceVault:
                    id: id
                  keyUrl: keyUrl
            diskSizeGB: 0
        nextLink: nextLink
      properties:
        nextLink:
          description: The uri to fetch the next page of snapshots. Call ListNext()
            with this to fetch the next page of snapshots.
          title: nextLink
          type: string
        value:
          description: A list of snapshots.
          items:
            $ref: '#/components/schemas/Snapshot'
          title: value
          type: array
      required:
      - value
      title: SnapshotList
      type: object
    SnapshotProperties:
      description: Snapshot resource properties.
      example:
        creationData:
          storageAccountId: storageAccountId
          sourceUri: sourceUri
          imageReference:
            lun: 0
            id: id
          createOption: Empty
          sourceResourceId: sourceResourceId
        osType: Windows
        hyperVGeneration: V1
        timeCreated: 2000-01-23T04:56:07.000+00:00
        provisioningState: provisioningState
        encryptionSettingsCollection:
          enabled: true
          encryptionSettings:
          - diskEncryptionKey:
              secretUrl: secretUrl
              sourceVault:
                id: id
            keyEncryptionKey:
              sourceVault:
                id: id
              keyUrl: keyUrl
          - diskEncryptionKey:
              secretUrl: secretUrl
              sourceVault:
                id: id
            keyEncryptionKey:
              sourceVault:
                id: id
              keyUrl: keyUrl
        diskSizeGB: 0
      properties:
        creationData:
          $ref: '#/components/schemas/CreationData'
        diskSizeGB:
          description: "If creationData.createOption is Empty, this field is mandatory\
            \ and it indicates the size of the VHD to create. If this field is present\
            \ for updates or creation with other options, it indicates a resize. Resizes\
            \ are only allowed if the disk is not attached to a running VM, and can\
            \ only increase the disk's size."
          format: int32
          title: diskSizeGB
          type: integer
        encryptionSettingsCollection:
          $ref: '#/components/schemas/EncryptionSettingsCollection'
        hyperVGeneration:
          description: The hypervisor generation of the Virtual Machine. Applicable
            to OS disks only.
          enum:
          - V1
          - V2
          title: hyperVGeneration
          type: string
          x-ms-enum:
            modelAsString: true
            name: HyperVGeneration
        osType:
          description: The Operating System type.
          enum:
          - Windows
          - Linux
          title: osType
          type: string
          x-ms-enum:
            modelAsString: false
            name: OperatingSystemTypes
        provisioningState:
          description: The disk provisioning state.
          readOnly: true
          title: provisioningState
          type: string
        timeCreated:
          description: The time when the disk was created.
          format: date-time
          readOnly: true
          title: timeCreated
          type: string
      required:
      - creationData
      title: SnapshotProperties
      type: object
    SnapshotSku:
      description: "The snapshots sku name. Can be Standard_LRS, Premium_LRS, or Standard_ZRS."
      example:
        tier: Standard
        name: Standard_LRS
      properties:
        name:
          description: The sku name.
          enum:
          - Standard_LRS
          - Premium_LRS
          - Standard_ZRS
          title: name
          type: string
          x-ms-enum:
            modelAsString: true
            name: SnapshotStorageAccountTypes
        tier:
          default: Standard
          description: The sku tier.
          readOnly: true
          title: tier
          type: string
      title: SnapshotSku
      type: object
    SnapshotUpdate:
      description: Snapshot update resource.
      example:
        sku:
          tier: Standard
          name: Standard_LRS
        properties:
          osType: Windows
          encryptionSettingsCollection:
            enabled: true
            encryptionSettings:
            - diskEncryptionKey:
                secretUrl: secretUrl
                sourceVault:
                  id: id
              keyEncryptionKey:
                sourceVault:
                  id: id
                keyUrl: keyUrl
            - diskEncryptionKey:
                secretUrl: secretUrl
                sourceVault:
                  id: id
              keyEncryptionKey:
                sourceVault:
                  id: id
                keyUrl: keyUrl
          diskSizeGB: 0
        tags:
          key: tags
      properties:
        properties:
          $ref: '#/components/schemas/SnapshotUpdateProperties'
        sku:
          $ref: '#/components/schemas/SnapshotSku'
        tags:
          additionalProperties:
            type: string
          description: Resource tags
          title: tags
          type: object
      title: SnapshotUpdate
      type: object
    SnapshotUpdateProperties:
      description: Snapshot resource update properties.
      example:
        osType: Windows
        encryptionSettingsCollection:
          enabled: true
          encryptionSettings:
          - diskEncryptionKey:
              secretUrl: secretUrl
              sourceVault:
                id: id
            keyEncryptionKey:
              sourceVault:
                id: id
              keyUrl: keyUrl
          - diskEncryptionKey:
              secretUrl: secretUrl
              sourceVault:
                id: id
            keyEncryptionKey:
              sourceVault:
                id: id
              keyUrl: keyUrl
        diskSizeGB: 0
      properties:
        diskSizeGB:
          description: "If creationData.createOption is Empty, this field is mandatory\
            \ and it indicates the size of the VHD to create. If this field is present\
            \ for updates or creation with other options, it indicates a resize. Resizes\
            \ are only allowed if the disk is not attached to a running VM, and can\
            \ only increase the disk's size."
          format: int32
          title: diskSizeGB
          type: integer
        encryptionSettingsCollection:
          $ref: '#/components/schemas/EncryptionSettingsCollection'
        osType:
          description: the Operating System type.
          enum:
          - Windows
          - Linux
          title: osType
          type: string
          x-ms-enum:
            modelAsString: false
            name: OperatingSystemTypes
      title: SnapshotUpdateProperties
      type: object
    SourceVault:
      description: "The vault id is an Azure Resource Manager Resource id in the form\
        \ /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.KeyVault/vaults/{vaultName}"
      example:
        id: id
      properties:
        id:
          description: Resource Id
          title: id
          type: string
      title: SourceVault
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
