openapi: 3.0.1
info:
  description: Azure EventGrid Management Client
  title: EventGridManagementClient
  version: 2018-09-15-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/eventgrid/resource-manager/Microsoft.EventGrid/preview/2018-09-15-preview/EventGrid.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: eventgrid-EventGrid
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
paths:
  /providers/Microsoft.EventGrid/operations:
    get:
      description: List the available operations supported by the Microsoft.EventGrid
        resource provider
      operationId: operations_list
      parameters:
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationsListResult'
          description: OK
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      summary: List available operations
      tags:
      - Operations
      x-ms-examples:
        Operations_List:
          parameters:
            api-version: 2018-09-15-preview
          responses:
            "200":
              body:
                value:
                - display:
                    description: Registers the eventSubscription for the EventGrid
                      resource provider and enables the creation of Event Grid subscriptions.
                    operation: Registers the EventGrid Resource Provider
                    provider: Microsoft Event Grid
                    resource: EventGrid Resource Provider
                  name: Microsoft.EventGrid/register/action
                  origin: UserAndSystem
                - display:
                    description: Create or update a eventSubscription
                    operation: Write EventSubscription
                    provider: Microsoft Event Grid
                    resource: eventSubscriptions
                  name: Microsoft.EventGrid/eventSubscriptions/write
                  origin: UserAndSystem
                - display:
                    description: Read a eventSubscription
                    operation: Read EventSubscription
                    provider: Microsoft Event Grid
                    resource: eventSubscriptions
                  name: Microsoft.EventGrid/eventSubscriptions/read
                  origin: UserAndSystem
                - display:
                    description: Delete a eventSubscription
                    operation: Delete EventSubscription
                    provider: Microsoft Event Grid
                    resource: eventSubscriptions
                  name: Microsoft.EventGrid/eventSubscriptions/delete
                  origin: UserAndSystem
                - display:
                    description: Create or update a topic
                    operation: Write Topic
                    provider: Microsoft Event Grid
                    resource: topics
                  name: Microsoft.EventGrid/topics/write
                  origin: UserAndSystem
                - display:
                    description: Read a topic
                    operation: Read Topic
                    provider: Microsoft Event Grid
                    resource: topics
                  name: Microsoft.EventGrid/topics/read
                  origin: UserAndSystem
                - display:
                    description: Delete a topic
                    operation: Delete Topic
                    provider: Microsoft Event Grid
                    resource: topics
                  name: Microsoft.EventGrid/topics/delete
                  origin: UserAndSystem
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.operations_controller
  /providers/Microsoft.EventGrid/topicTypes:
    get:
      description: List all registered topic types
      operationId: topic_types_list
      parameters:
      - description: Version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopicTypesListResult'
          description: OK
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 404 Not Found.

             * 500 Internal Server Error.
      summary: List topic types
      tags:
      - TopicTypes
      x-ms-examples:
        TopicTypes_List:
          parameters:
            api-version: 2018-09-15-preview
          responses:
            "200":
              body:
                value:
                - id: providers/Microsoft.EventGrid/topicTypes/Microsoft.Eventhub.Namespaces
                  name: Microsoft.Eventhub.Namespaces
                  properties:
                    description: Microsoft EventHubs service events.
                    displayName: EventHubs Namespace
                    provider: Microsoft.Eventhub
                    provisioningState: Succeeded
                    resourceRegionType: RegionalResource
                  type: Microsoft.EventGrid/topicTypes
                - id: providers/Microsoft.EventGrid/topicTypes/Microsoft.Storage.StorageAccounts
                  name: Microsoft.Storage.StorageAccounts
                  properties:
                    description: Microsoft Storage service events.
                    displayName: Storage Accounts
                    provider: Microsoft.Storage
                    provisioningState: Succeeded
                    resourceRegionType: RegionalResource
                  type: Microsoft.EventGrid/topicTypes
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.topic_types_controller
  /providers/Microsoft.EventGrid/topicTypes/{topicTypeName}:
    get:
      description: Get information about a topic type
      operationId: topic_types_get
      parameters:
      - description: Name of the topic type
        in: path
        name: topicTypeName
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopicTypeInfo'
          description: OK
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 404 Not Found.

             * 500 Internal Server Error.
      summary: Get a topic type
      tags:
      - TopicTypes
      x-ms-examples:
        TopicTypes_Get:
          parameters:
            api-version: 2018-09-15-preview
            topicTypeName: Microsoft.Storage.StorageAccounts
          responses:
            "200":
              body:
                id: providers/Microsoft.EventGrid/topicTypes/Microsoft.Storage.StorageAccounts
                name: Microsoft.Storage.StorageAccounts
                properties:
                  description: Microsoft Storage service events.
                  displayName: Storage Accounts
                  provider: Microsoft.Storage
                  provisioningState: Succeeded
                  resourceRegionType: RegionalResource
                type: Microsoft.EventGrid/topicTypes
      x-openapi-router-controller: openapi_server.controllers.topic_types_controller
  /providers/Microsoft.EventGrid/topicTypes/{topicTypeName}/eventTypes:
    get:
      description: List event types for a topic type
      operationId: topic_types_list_event_types
      parameters:
      - description: Name of the topic type
        in: path
        name: topicTypeName
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventTypesListResult'
          description: OK
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 404 Not Found.

             * 500 Internal Server Error.
      summary: List event types
      tags:
      - TopicTypes
      x-ms-examples:
        TopicTypes_ListEventTypes:
          parameters:
            api-version: 2018-09-15-preview
            topicTypeName: Microsoft.Storage.StorageAccounts
          responses:
            "200":
              body:
                value:
                - id: providers/Microsoft.EventGrid/topicTypes/Microsoft.Storage.StorageAccounts/eventTypes/Microsoft.Storage.BlobCreated
                  name: Microsoft.Storage.BlobCreated
                  properties:
                    description: Raised when a blob is created.
                    displayName: Blob Created
                    schemaUrl: tbd
                  type: Microsoft.EventGrid/topicTypes/eventTypes
                - id: providers/Microsoft.EventGrid/topicTypes/Microsoft.Storage.StorageAccounts/eventTypes/Microsoft.Storage.BlobDeleted
                  name: Microsoft.Storage.BlobDeleted
                  properties:
                    description: Raised when a blob is deleted.
                    displayName: Blob Deleted
                    schemaUrl: tbd
                  type: Microsoft.EventGrid/topicTypes/eventTypes
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.topic_types_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.EventGrid/domains:
    get:
      description: List all the domains under an Azure subscription
      operationId: domains_list_by_subscription
      parameters:
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainsListResult'
          description: OK
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      summary: List domains under an Azure subscription
      tags:
      - Domains
      x-ms-examples:
        Domains_ListBySubscription:
          parameters:
            api-version: 2018-09-15-preview
            subscriptionId: 5b4b650e-28b9-4790-b3ab-ddbd88d727c4
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/domains/exampledomain1
                  location: westus2
                  name: exampledomain1
                  properties:
                    endpoint: https://exampledomain1.westus2-1.eventgrid.azure.net/api/events
                    provisioningState: Succeeded
                  tags:
                    tag1: value1
                    tag2: value2
                  type: Microsoft.EventGrid/domains
                - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/domains/exampledomain2
                  location: westcentralus
                  name: exampledomain2
                  properties:
                    endpoint: https://exampledomain2.westcentralus-1.eventgrid.azure.net/api/events
                    provisioningState: Succeeded
                  tags:
                    tag1: value1
                    tag2: value2
                  type: Microsoft.EventGrid/domains
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.domains_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.EventGrid/eventSubscriptions:
    get:
      description: List all aggregated global event subscriptions under a specific
        Azure subscription
      operationId: event_subscriptions_list_global_by_subscription
      parameters:
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSubscriptionsListResult'
          description: OK
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      summary: Get an aggregated list of all global event subscriptions under an Azure
        subscription
      tags:
      - EventSubscriptions
      x-ms-examples:
        EventSubscriptions_ListGlobalBySubscription:
          parameters:
            api-version: 2018-09-15-preview
            subscriptionId: 5b4b650e-28b9-4790-b3ab-ddbd88d727c4
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/eventSubscriptions/examplesubscription2
                  name: examplesubscription2
                  properties:
                    destination:
                      endpointType: WebHook
                      properties:
                        endpointBaseUrl: https://requestb.in/15ksip71
                    filter:
                      includedEventTypes:
                      - All
                      isSubjectCaseSensitive: false
                      subjectBeginsWith: ""
                      subjectEndsWith: ""
                    provisioningState: Succeeded
                    topic: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg
                  type: Microsoft.EventGrid/eventSubscriptions
                - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/eventSubscriptions/examplesubscription4
                  name: examplesubscription4
                  properties:
                    destination:
                      endpointType: WebHook
                      properties:
                        endpointBaseUrl: https://requestb.in/15ksip71
                    filter:
                      includedEventTypes:
                      - All
                      isSubjectCaseSensitive: false
                      subjectBeginsWith: ""
                      subjectEndsWith: ""
                    provisioningState: Succeeded
                    topic: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg
                  type: Microsoft.EventGrid/eventSubscriptions
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.event_subscriptions_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.EventGrid/locations/{location}/eventSubscriptions:
    get:
      description: List all event subscriptions from the given location under a specific
        Azure subscription
      operationId: event_subscriptions_list_regional_by_subscription
      parameters:
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Name of the location
        in: path
        name: location
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSubscriptionsListResult'
          description: OK
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      summary: List all regional event subscriptions under an Azure subscription
      tags:
      - EventSubscriptions
      x-ms-examples:
        EventSubscriptions_ListRegionalBySubscription:
          parameters:
            api-version: 2018-09-15-preview
            location: westus2
            subscriptionId: 5b4b650e-28b9-4790-b3ab-ddbd88d727c4
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventHub/namespaces/examplenamespace1/providers/Microsoft.EventGrid/eventSubscriptions/examplesubscription10
                  name: examplesubscription10
                  properties:
                    destination:
                      endpointType: EventHub
                      properties:
                        resourceId: /subscriptions/55f3dcd4-cac7-43b4-990b-a139d62a1eb2/resourceGroups/TestRG/providers/Microsoft.EventHub/namespaces/ContosoNamespace/eventhubs/EH1
                    filter:
                      includedEventTypes:
                      - All
                      isSubjectCaseSensitive: false
                      subjectBeginsWith: ExamplePrefix
                      subjectEndsWith: ExampleSuffix
                    labels:
                    - Finance
                    - HR
                    provisioningState: Succeeded
                    topic: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/microsoft.eventhub/namespaces/examplenamespace1
                  type: Microsoft.EventGrid/eventSubscriptions
                - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventHub/namespaces/examplenamespace1/providers/Microsoft.EventGrid/eventSubscriptions/examplesubscription11
                  name: examplesubscription11
                  properties:
                    destination:
                      endpointType: WebHook
                      properties:
                        endpointBaseUrl: https://requestb.in/15ksip71
                    filter:
                      includedEventTypes:
                      - All
                      isSubjectCaseSensitive: false
                      subjectBeginsWith: ExamplePrefix
                      subjectEndsWith: ExampleSuffix
                    labels:
                    - Finance
                    - HR
                    provisioningState: Succeeded
                    topic: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/microsoft.eventhub/namespaces/examplenamespace1
                  type: Microsoft.EventGrid/eventSubscriptions
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.event_subscriptions_controller
  ? /subscriptions/{subscriptionId}/providers/Microsoft.EventGrid/locations/{location}/topicTypes/{topicTypeName}/eventSubscriptions
  : get:
      description: List all event subscriptions from the given location under a specific
        Azure subscription and topic type.
      operationId: event_subscriptions_list_regional_by_subscription_for_topic_type
      parameters:
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Name of the location
        in: path
        name: location
        required: true
        schema:
          type: string
      - description: Name of the topic type
        in: path
        name: topicTypeName
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSubscriptionsListResult'
          description: OK
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      summary: List all regional event subscriptions under an Azure subscription for
        a topic type
      tags:
      - EventSubscriptions
      x-ms-examples:
        EventSubscriptions_ListRegionalBySubscriptionForTopicType:
          parameters:
            api-version: 2018-09-15-preview
            location: westus2
            subscriptionId: 5b4b650e-28b9-4790-b3ab-ddbd88d727c4
            topicTypeName: Microsoft.EventHub.namespaces
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventHub/namespaces/examplenamespace1/providers/Microsoft.EventGrid/eventSubscriptions/examplesubscription10
                  name: examplesubscription10
                  properties:
                    destination:
                      endpointType: WebHook
                      properties:
                        endpointBaseUrl: https://requestb.in/15ksip71
                    filter:
                      includedEventTypes:
                      - All
                      isSubjectCaseSensitive: false
                      subjectBeginsWith: ExamplePrefix
                      subjectEndsWith: ExampleSuffix
                    labels:
                    - Finance
                    - HR
                    provisioningState: Succeeded
                    topic: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/microsoft.eventhub/namespaces/examplenamespace1
                  type: Microsoft.EventGrid/eventSubscriptions
                - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventHub/namespaces/examplenamespace1/providers/Microsoft.EventGrid/eventSubscriptions/examplesubscription11
                  name: examplesubscription11
                  properties:
                    destination:
                      endpointType: WebHook
                      properties:
                        endpointBaseUrl: https://requestb.in/15ksip71
                    filter:
                      includedEventTypes:
                      - All
                      isSubjectCaseSensitive: false
                      subjectBeginsWith: ExamplePrefix
                      subjectEndsWith: ExampleSuffix
                    labels:
                    - Finance
                    - HR
                    provisioningState: Succeeded
                    topic: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/microsoft.eventhub/namespaces/examplenamespace1
                  type: Microsoft.EventGrid/eventSubscriptions
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.event_subscriptions_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.EventGrid/topicTypes/{topicTypeName}/eventSubscriptions:
    get:
      description: List all global event subscriptions under an Azure subscription
        for a topic type.
      operationId: event_subscriptions_list_global_by_subscription_for_topic_type
      parameters:
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Name of the topic type
        in: path
        name: topicTypeName
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSubscriptionsListResult'
          description: OK
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      summary: List all global event subscriptions for a topic type
      tags:
      - EventSubscriptions
      x-ms-examples:
        EventSubscriptions_ListGlobalBySubscriptionForTopicType:
          parameters:
            api-version: 2018-09-15-preview
            subscriptionId: 5b4b650e-28b9-4790-b3ab-ddbd88d727c4
            topicTypeName: Microsoft.Resources.Subscriptions
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/providers/Microsoft.EventGrid/eventSubscriptions/examplesubscription3
                  name: examplesubscription3
                  properties:
                    destination:
                      endpointType: WebHook
                      properties:
                        endpointBaseUrl: https://requestb.in/15ksip71
                    filter:
                      includedEventTypes:
                      - All
                      isSubjectCaseSensitive: false
                      subjectBeginsWith: ExamplePrefix
                      subjectEndsWith: ExampleSuffix
                    labels:
                    - Finance
                    - HR
                    provisioningState: Succeeded
                    topic: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4
                  type: Microsoft.EventGrid/eventSubscriptions
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.event_subscriptions_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.EventGrid/topics:
    get:
      description: List all the topics under an Azure subscription
      operationId: topics_list_by_subscription
      parameters:
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopicsListResult'
          description: OK
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      summary: List topics under an Azure subscription
      tags:
      - Topics
      x-ms-examples:
        Topics_ListBySubscription:
          parameters:
            api-version: 2018-09-15-preview
            subscriptionId: 5b4b650e-28b9-4790-b3ab-ddbd88d727c4
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/topics/exampletopic1
                  location: westus2
                  name: exampletopic1
                  properties:
                    endpoint: https://exampletopic1.westus2-1.eventgrid.azure.net/api/events
                    provisioningState: Succeeded
                  tags:
                    tag1: value1
                    tag2: value2
                  type: Microsoft.EventGrid/topics
                - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/topics/exampletopic2
                  location: westcentralus
                  name: exampletopic2
                  properties:
                    endpoint: https://exampletopic2.westcentralus-1.eventgrid.azure.net/api/events
                    provisioningState: Succeeded
                  tags:
                    tag1: value1
                    tag2: value2
                  type: Microsoft.EventGrid/topics
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.topics_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/domains:
    get:
      description: List all the domains under a resource group
      operationId: domains_list_by_resource_group
      parameters:
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group within the user's subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainsListResult'
          description: OK
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      summary: List domains under a resource group
      tags:
      - Domains
      x-ms-examples:
        Domains_ListByResourceGroup:
          parameters:
            api-version: 2018-09-15-preview
            resourceGroupName: examplerg
            subscriptionId: 5b4b650e-28b9-4790-b3ab-ddbd88d727c4
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/domains/exampledomain1
                  location: westus2
                  name: exampledomain1
                  properties:
                    endpoint: https://exampledomain1.westus2-1.eventgrid.azure.net/api/events
                    provisioningState: Succeeded
                  tags:
                    tag1: value1
                    tag2: value2
                  type: Microsoft.EventGrid/domains
                - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/domains/exampledomain2
                  location: westcentralus
                  name: exampledomain2
                  properties:
                    endpoint: https://exampledomain2.westcentralus-1.eventgrid.azure.net/api/events
                    provisioningState: Succeeded
                  tags:
                    tag1: value1
                    tag2: value2
                  type: Microsoft.EventGrid/domains
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.domains_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/domains/{domainName}:
    delete:
      description: Delete existing domain
      operationId: domains_delete
      parameters:
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group within the user's subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Name of the domain
        in: path
        name: domainName
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "202":
          content: {}
          description: Accepted
        "204":
          content: {}
          description: NoContent
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 404 Not Found.

             * 500 Internal Server Error.
      summary: Delete a domain
      tags:
      - Domains
      x-ms-examples:
        Domains_Delete:
          parameters:
            api-version: 2018-09-15-preview
            domainName: exampledomain1
            resourceGroupName: examplerg
            subscriptionId: 5b4b650e-28b9-4790-b3ab-ddbd88d727c4
          responses:
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.domains_controller
    get:
      description: Get properties of a domain
      operationId: domains_get
      parameters:
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group within the user's subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Name of the domain
        in: path
        name: domainName
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
          description: OK
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      summary: Get a domain
      tags:
      - Domains
      x-ms-examples:
        Domains_Get:
          parameters:
            api-version: 2018-09-15-preview
            domainName: exampledomain2
            resourceGroupName: examplerg
            subscriptionId: 5b4b650e-28b9-4790-b3ab-ddbd88d727c4
          responses:
            "200":
              body:
                id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/domains/exampledomain2
                location: westcentralus
                name: exampledomain2
                properties:
                  endpoint: https://exampledomain2.westcentralus-1.eventgrid.azure.net/api/events
                  provisioningState: Succeeded
                tags:
                  tag1: value1
                  tag2: value2
                type: Microsoft.EventGrid/domains
      x-openapi-router-controller: openapi_server.controllers.domains_controller
    patch:
      description: Asynchronously updates a domain with the specified parameters.
      operationId: domains_update
      parameters:
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group within the user's subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Name of the domain
        in: path
        name: domainName
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainUpdateParameters'
        description: Domain update information
        required: true
        x-body-name: domainUpdateParameters
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
          description: Domain update request accepted.
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      summary: Update a domain
      tags:
      - Domains
      x-ms-examples:
        Domains_Update:
          parameters:
            api-version: 2018-09-15-preview
            domainName: exampledomain1
            domainUpdateParameters:
              tags:
                tag1: value1
                tag2: value2
            resourceGroupName: examplerg
            subscriptionId: 5b4b650e-28b9-4790-b3ab-ddbd88d727c4
          responses:
            "201":
              body:
                id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/domains/exampledomain1
                location: westus2
                name: exampledomain1
                properties:
                  endpoint: https://exampledomain1.westus2-1.eventgrid.azure.net/api/events
                  provisioningState: Succeeded
                tags:
                  tag1: value1
                  tag2: value2
                type: Microsoft.EventGrid/domains
      x-ms-long-running-operation: true
      x-codegen-request-body-name: domainUpdateParameters
      x-openapi-router-controller: openapi_server.controllers.domains_controller
    put:
      description: Asynchronously creates a new domain with the specified parameters.
      operationId: domains_create_or_update
      parameters:
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group within the user's subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Name of the domain
        in: path
        name: domainName
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Domain'
        description: Domain information
        required: true
        x-body-name: domainInfo
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
          description: Created
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      summary: Create a domain
      tags:
      - Domains
      x-ms-examples:
        Domains_CreateOrUpdate:
          parameters:
            api-version: 2018-09-15-preview
            domainInfo:
              location: westus2
              tags:
                tag1: value1
                tag2: value2
            domainName: exampledomain1
            resourceGroupName: examplerg
            subscriptionId: 5b4b650e-28b9-4790-b3ab-ddbd88d727c4
          responses:
            "201":
              body:
                id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/domains/exampledomain1
                location: westus2
                name: exampledomain1
                properties:
                  endpoint: https://exampledomain1.westus2-1.eventgrid.azure.net/api/events
                  provisioningState: Succeeded
                tags:
                  tag1: value1
                  tag2: value2
                type: Microsoft.EventGrid/domains
      x-ms-long-running-operation: true
      x-codegen-request-body-name: domainInfo
      x-openapi-router-controller: openapi_server.controllers.domains_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/domains/{domainName}/listKeys:
    post:
      description: List the two keys used to publish to a domain
      operationId: domains_list_shared_access_keys
      parameters:
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group within the user's subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Name of the domain
        in: path
        name: domainName
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainSharedAccessKeys'
          description: OK
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      summary: List keys for a domain
      tags:
      - Domains
      x-ms-examples:
        Domains_ListSharedAccessKeys:
          parameters:
            api-version: 2018-09-15-preview
            domainName: exampledomain2
            resourceGroupName: examplerg
            subscriptionId: 5b4b650e-28b9-4790-b3ab-ddbd88d727c4
          responses:
            "200":
              body:
                key1: Rqfq5wWxtQnIQJyswP0Uh/hqQfDDMUOYyQSYEpx5e5g=
                key2: sesymbkIXMtZVqXEFHarJmdGmZjjnY+BZC8yRD/FeuA=
      x-openapi-router-controller: openapi_server.controllers.domains_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/domains/{domainName}/regenerateKey
  : post:
      description: Regenerate a shared access key for a domain
      operationId: domains_regenerate_key
      parameters:
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group within the user's subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Name of the domain
        in: path
        name: domainName
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainRegenerateKeyRequest'
        description: Request body to regenerate key
        required: true
        x-body-name: regenerateKeyRequest
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainSharedAccessKeys'
          description: OK
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      summary: Regenerate key for a domain
      tags:
      - Domains
      x-ms-examples:
        Domains_RegenerateKey:
          parameters:
            api-version: 2018-09-15-preview
            domainName: exampledomain2
            regenerateKeyRequest:
              keyName: key1
            resourceGroupName: examplerg
            subscriptionId: 5b4b650e-28b9-4790-b3ab-ddbd88d727c4
          responses:
            "200":
              body:
                key1: Rqfq5wWxtQnIQJyswP0Uh/hqQfDDMUOYyQSYEpx5e5g=
                key2: sesymbkIXMtZVqXEFHarJmdGmZjjnY+BZC8yRD/FeuA=
      x-codegen-request-body-name: regenerateKeyRequest
      x-openapi-router-controller: openapi_server.controllers.domains_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/domains/{domainName}/topics:
    get:
      description: List all the topics in a domain.
      operationId: domain_topics_list_by_domain
      parameters:
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group within the user's subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Domain name.
        in: path
        name: domainName
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainTopicsListResult'
          description: OK
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      summary: List domain topics.
      tags:
      - DomainTopics
      x-ms-examples:
        DomainTopics_ListByDomain:
          parameters:
            api-version: 2018-09-15-preview
            resourceGroupName: examplerg
            subscriptionId: 5b4b650e-28b9-4790-b3ab-ddbd88d727c4
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/domains/exampledomain1
                  location: westus2
                  name: exampledomain1
                  properties:
                    endpoint: https://exampledomain1.westus2-1.eventgrid.azure.net/api/events
                    provisioningState: Succeeded
                  tags:
                    tag1: value1
                    tag2: value2
                  type: Microsoft.EventGrid/domains
                - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/domains/exampledomain2
                  location: westcentralus
                  name: exampledomain2
                  properties:
                    endpoint: https://exampledomain2.westcentralus-1.eventgrid.azure.net/api/events
                    provisioningState: Succeeded
                  tags:
                    tag1: value1
                    tag2: value2
                  type: Microsoft.EventGrid/domains
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.domain_topics_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/domains/{domainName}/topics/{topicName}
  : get:
      description: Get properties of a domain topic
      operationId: domain_topics_get
      parameters:
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group within the user's subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Name of the domain
        in: path
        name: domainName
        required: true
        schema:
          type: string
      - description: Name of the topic
        in: path
        name: topicName
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainTopic'
          description: OK
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      summary: Get a domain topic
      tags:
      - DomainTopics
      x-ms-examples:
        DomainTopics_Get:
          parameters:
            api-version: 2018-09-15-preview
            domainName: exampledomain2
            resourceGroupName: examplerg
            subscriptionId: 5b4b650e-28b9-4790-b3ab-ddbd88d727c4
            topicName: topic1
          responses:
            "200":
              body:
                id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/domains/exampledomain2/topics/topic1
                location: westcentralus
                name: topic1
                properties: {}
                type: Microsoft.EventGrid/domains/topics
      x-openapi-router-controller: openapi_server.controllers.domain_topics_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/domains/{domainName}/topics/{topicName}/providers/Microsoft.EventGrid/eventSubscriptions
  : get:
      description: List all event subscriptions that have been created for a specific
        domain topic
      operationId: event_subscriptions_list_by_domain_topic
      parameters:
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group within the user's subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Name of the top level domain
        in: path
        name: domainName
        required: true
        schema:
          type: string
      - description: Name of the domain topic
        in: path
        name: topicName
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSubscriptionsListResult'
          description: OK
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      summary: List all event subscriptions for a specific domain topic
      tags:
      - EventSubscriptions
      x-ms-examples:
        EventSubscriptions_ListByDomainTopic:
          parameters:
            api-version: 2018-09-15-preview
            domainName: domain1
            resourceGroupName: examplerg
            subscriptionId: 5b4b650e-28b9-4790-b3ab-ddbd88d727c4
            topicName: topic1
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/domains/domain1/topics/topic1/providers/Microsoft.EventGrid/eventSubscriptions/examplesubscription1
                  name: examplesubscription1
                  properties:
                    destination:
                      endpointType: WebHook
                      properties:
                        endpointBaseUrl: https://requestb.in/15ksip71
                    filter:
                      includedEventTypes:
                      - All
                      isSubjectCaseSensitive: false
                      subjectBeginsWith: ""
                      subjectEndsWith: ""
                    provisioningState: Succeeded
                    topic: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/microsoft.eventgrid/domains/domain1/topics/topic1
                  type: Microsoft.EventGrid/eventSubscriptions
                - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/domains/domain1/topics/topic1/providers/Microsoft.EventGrid/eventSubscriptions/examplesubscription2
                  name: examplesubscription2
                  properties:
                    destination:
                      endpointType: WebHook
                      properties:
                        endpointBaseUrl: https://requestb.in/15ksip71
                    filter:
                      includedEventTypes:
                      - All
                      isSubjectCaseSensitive: false
                      subjectBeginsWith: ""
                      subjectEndsWith: ""
                    provisioningState: Succeeded
                    topic: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/microsoft.eventgrid/domains/domain1/topics/topic1
                  type: Microsoft.EventGrid/eventSubscriptions
                - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/domains/domain1/topics/topic1/providers/Microsoft.EventGrid/eventSubscriptions/examplesubscription3
                  name: examplesubscription3
                  properties:
                    destination:
                      endpointType: WebHook
                      properties:
                        endpointBaseUrl: https://requestb.in/15ksip71
                    filter:
                      includedEventTypes:
                      - All
                      isSubjectCaseSensitive: false
                      subjectBeginsWith: ""
                      subjectEndsWith: ""
                    labels: []
                    provisioningState: Succeeded
                    topic: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/microsoft.eventgrid/domains/domain1/topics/topic1
                  type: Microsoft.EventGrid/eventSubscriptions
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.event_subscriptions_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/eventSubscriptions:
    get:
      description: List all global event subscriptions under a specific Azure subscription
        and resource group
      operationId: event_subscriptions_list_global_by_resource_group
      parameters:
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group within the user's subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSubscriptionsListResult'
          description: OK
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      summary: List all global event subscriptions under an Azure subscription and
        resource group
      tags:
      - EventSubscriptions
      x-ms-examples:
        EventSubscriptions_ListGlobalByResourceGroup:
          parameters:
            api-version: 2018-09-15-preview
            resourceGroupName: examplerg
            subscriptionId: 5b4b650e-28b9-4790-b3ab-ddbd88d727c4
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/eventSubscriptions/examplesubscription2
                  name: examplesubscription2
                  properties:
                    destination:
                      endpointType: WebHook
                      properties:
                        endpointBaseUrl: https://requestb.in/15ksip71
                    filter:
                      includedEventTypes:
                      - All
                      isSubjectCaseSensitive: false
                      subjectBeginsWith: ""
                      subjectEndsWith: ""
                    provisioningState: Succeeded
                    topic: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg
                  type: Microsoft.EventGrid/eventSubscriptions
                - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/eventSubscriptions/examplesubscription4
                  name: examplesubscription4
                  properties:
                    destination:
                      endpointType: WebHook
                      properties:
                        endpointBaseUrl: https://requestb.in/15ksip71
                    filter:
                      includedEventTypes:
                      - All
                      isSubjectCaseSensitive: false
                      subjectBeginsWith: ""
                      subjectEndsWith: ""
                    provisioningState: Succeeded
                    topic: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg
                  type: Microsoft.EventGrid/eventSubscriptions
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.event_subscriptions_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/locations/{location}/eventSubscriptions
  : get:
      description: List all event subscriptions from the given location under a specific
        Azure subscription and resource group
      operationId: event_subscriptions_list_regional_by_resource_group
      parameters:
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group within the user's subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Name of the location
        in: path
        name: location
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSubscriptionsListResult'
          description: OK
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      summary: List all regional event subscriptions under an Azure subscription and
        resource group
      tags:
      - EventSubscriptions
      x-ms-examples:
        EventSubscriptions_ListRegionalByResourceGroup:
          parameters:
            api-version: 2018-09-15-preview
            location: westus2
            resourceGroupName: examplerg
            subscriptionId: 5b4b650e-28b9-4790-b3ab-ddbd88d727c4
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventHub/namespaces/examplenamespace1/providers/Microsoft.EventGrid/eventSubscriptions/examplesubscription10
                  name: examplesubscription10
                  properties:
                    destination:
                      endpointType: WebHook
                      properties:
                        endpointBaseUrl: https://requestb.in/15ksip71
                    filter:
                      includedEventTypes:
                      - All
                      isSubjectCaseSensitive: false
                      subjectBeginsWith: ExamplePrefix
                      subjectEndsWith: ExampleSuffix
                    labels:
                    - Finance
                    - HR
                    provisioningState: Succeeded
                    topic: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/microsoft.eventhub/namespaces/examplenamespace1
                  type: Microsoft.EventGrid/eventSubscriptions
                - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventHub/namespaces/examplenamespace1/providers/Microsoft.EventGrid/eventSubscriptions/examplesubscription11
                  name: examplesubscription11
                  properties:
                    destination:
                      endpointType: WebHook
                      properties:
                        endpointBaseUrl: https://requestb.in/15ksip71
                    filter:
                      includedEventTypes:
                      - All
                      isSubjectCaseSensitive: false
                      subjectBeginsWith: ExamplePrefix
                      subjectEndsWith: ExampleSuffix
                    labels:
                    - Finance
                    - HR
                    provisioningState: Succeeded
                    topic: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/microsoft.eventhub/namespaces/examplenamespace1
                  type: Microsoft.EventGrid/eventSubscriptions
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.event_subscriptions_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/locations/{location}/topicTypes/{topicTypeName}/eventSubscriptions
  : get:
      description: List all event subscriptions from the given location under a specific
        Azure subscription and resource group and topic type
      operationId: event_subscriptions_list_regional_by_resource_group_for_topic_type
      parameters:
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group within the user's subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Name of the location
        in: path
        name: location
        required: true
        schema:
          type: string
      - description: Name of the topic type
        in: path
        name: topicTypeName
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSubscriptionsListResult'
          description: OK
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      summary: List all regional event subscriptions under an Azure subscription and
        resource group for a topic type
      tags:
      - EventSubscriptions
      x-ms-examples:
        EventSubscriptions_ListRegionalByResourceGroupForTopicType:
          parameters:
            api-version: 2018-09-15-preview
            location: westus2
            resourceGroupName: examplerg
            subscriptionId: 5b4b650e-28b9-4790-b3ab-ddbd88d727c4
            topicTypeName: Microsoft.EventHub.namespaces
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventHub/namespaces/examplenamespace1/providers/Microsoft.EventGrid/eventSubscriptions/examplesubscription10
                  name: examplesubscription10
                  properties:
                    destination:
                      endpointType: WebHook
                      properties:
                        endpointBaseUrl: https://requestb.in/15ksip71
                    filter:
                      includedEventTypes:
                      - All
                      isSubjectCaseSensitive: false
                      subjectBeginsWith: ExamplePrefix
                      subjectEndsWith: ExampleSuffix
                    labels:
                    - Finance
                    - HR
                    provisioningState: Succeeded
                    topic: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/microsoft.eventhub/namespaces/examplenamespace1
                  type: Microsoft.EventGrid/eventSubscriptions
                - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventHub/namespaces/examplenamespace1/providers/Microsoft.EventGrid/eventSubscriptions/examplesubscription11
                  name: examplesubscription11
                  properties:
                    destination:
                      endpointType: WebHook
                      properties:
                        endpointBaseUrl: https://requestb.in/15ksip71
                    filter:
                      includedEventTypes:
                      - All
                      isSubjectCaseSensitive: false
                      subjectBeginsWith: ExamplePrefix
                      subjectEndsWith: ExampleSuffix
                    labels:
                    - Finance
                    - HR
                    provisioningState: Succeeded
                    topic: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/microsoft.eventhub/namespaces/examplenamespace1
                  type: Microsoft.EventGrid/eventSubscriptions
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.event_subscriptions_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/topicTypes/{topicTypeName}/eventSubscriptions
  : get:
      description: List all global event subscriptions under a resource group for
        a specific topic type.
      operationId: event_subscriptions_list_global_by_resource_group_for_topic_type
      parameters:
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group within the user's subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Name of the topic type
        in: path
        name: topicTypeName
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSubscriptionsListResult'
          description: OK
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      summary: List all global event subscriptions under a resource group for a topic
        type
      tags:
      - EventSubscriptions
      x-ms-examples:
        EventSubscriptions_ListGlobalByResourceGroupForTopicType:
          parameters:
            api-version: 2018-09-15-preview
            resourceGroupName: examplerg
            subscriptionId: 5b4b650e-28b9-4790-b3ab-ddbd88d727c4
            topicTypeName: Microsoft.Resources.ResourceGroups
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/eventSubscriptions/examplesubscription3
                  name: examplesubscription3
                  properties:
                    destination:
                      endpointType: WebHook
                      properties:
                        endpointBaseUrl: https://requestb.in/15ksip71
                    filter:
                      includedEventTypes:
                      - All
                      isSubjectCaseSensitive: false
                      subjectBeginsWith: ExamplePrefix
                      subjectEndsWith: ExampleSuffix
                    labels:
                    - Finance
                    - HR
                    provisioningState: Succeeded
                    topic: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg
                  type: Microsoft.EventGrid/eventSubscriptions
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.event_subscriptions_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/topics:
    get:
      description: List all the topics under a resource group
      operationId: topics_list_by_resource_group
      parameters:
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group within the user's subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopicsListResult'
          description: OK
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      summary: List topics under a resource group
      tags:
      - Topics
      x-ms-examples:
        Topics_ListByResourceGroup:
          parameters:
            api-version: 2018-09-15-preview
            resourceGroupName: examplerg
            subscriptionId: 5b4b650e-28b9-4790-b3ab-ddbd88d727c4
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/topics/exampletopic1
                  location: westus2
                  name: exampletopic1
                  properties:
                    endpoint: https://exampletopic1.westus2-1.eventgrid.azure.net/api/events
                    provisioningState: Succeeded
                  tags:
                    tag1: value1
                    tag2: value2
                  type: Microsoft.EventGrid/topics
                - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/topics/exampletopic2
                  location: westcentralus
                  name: exampletopic2
                  properties:
                    endpoint: https://exampletopic2.westcentralus-1.eventgrid.azure.net/api/events
                    provisioningState: Succeeded
                  tags:
                    tag1: value1
                    tag2: value2
                  type: Microsoft.EventGrid/topics
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.topics_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/topics/{topicName}:
    delete:
      description: Delete existing topic
      operationId: topics_delete
      parameters:
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group within the user's subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Name of the topic
        in: path
        name: topicName
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "202":
          content: {}
          description: Accepted
        "204":
          content: {}
          description: NoContent
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 404 Not Found.

             * 500 Internal Server Error.
      summary: Delete a topic
      tags:
      - Topics
      x-ms-examples:
        Topics_Delete:
          parameters:
            api-version: 2018-09-15-preview
            resourceGroupName: examplerg
            subscriptionId: 5b4b650e-28b9-4790-b3ab-ddbd88d727c4
            topicName: exampletopic1
          responses:
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.topics_controller
    get:
      description: Get properties of a topic
      operationId: topics_get
      parameters:
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group within the user's subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Name of the topic
        in: path
        name: topicName
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Topic'
          description: OK
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      summary: Get a topic
      tags:
      - Topics
      x-ms-examples:
        Topics_Get:
          parameters:
            api-version: 2018-09-15-preview
            resourceGroupName: examplerg
            subscriptionId: 5b4b650e-28b9-4790-b3ab-ddbd88d727c4
            topicName: exampletopic2
          responses:
            "200":
              body:
                id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/topics/exampletopic2
                location: westcentralus
                name: exampletopic2
                properties:
                  endpoint: https://exampletopic2.westcentralus-1.eventgrid.azure.net/api/events
                  provisioningState: Succeeded
                tags:
                  tag1: value1
                  tag2: value2
                type: Microsoft.EventGrid/topics
      x-openapi-router-controller: openapi_server.controllers.topics_controller
    patch:
      description: Asynchronously updates a topic with the specified parameters.
      operationId: topics_update
      parameters:
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group within the user's subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Name of the topic
        in: path
        name: topicName
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TopicUpdateParameters'
        description: Topic update information
        required: true
        x-body-name: topicUpdateParameters
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Topic'
          description: Topic update request accepted.
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      summary: Update a topic
      tags:
      - Topics
      x-ms-examples:
        Topics_Update:
          parameters:
            api-version: 2018-09-15-preview
            resourceGroupName: examplerg
            subscriptionId: 5b4b650e-28b9-4790-b3ab-ddbd88d727c4
            topicName: exampletopic1
            topicUpdateParameters:
              tags:
                tag1: value1
                tag2: value2
          responses:
            "201":
              body:
                id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/topics/exampletopic1
                location: westus2
                name: exampletopic1
                properties:
                  endpoint: https://exampletopic1.westus2-1.eventgrid.azure.net/api/events
                  provisioningState: Succeeded
                tags:
                  tag1: value1
                  tag2: value2
                type: Microsoft.EventGrid/topics
      x-ms-long-running-operation: true
      x-codegen-request-body-name: topicUpdateParameters
      x-openapi-router-controller: openapi_server.controllers.topics_controller
    put:
      description: Asynchronously creates a new topic with the specified parameters.
      operationId: topics_create_or_update
      parameters:
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group within the user's subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Name of the topic
        in: path
        name: topicName
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Topic'
        description: Topic information
        required: true
        x-body-name: topicInfo
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Topic'
          description: Created
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      summary: Create a topic
      tags:
      - Topics
      x-ms-examples:
        Topics_CreateOrUpdate:
          parameters:
            api-version: 2018-09-15-preview
            resourceGroupName: examplerg
            subscriptionId: 5b4b650e-28b9-4790-b3ab-ddbd88d727c4
            topicInfo:
              location: westus2
              tags:
                tag1: value1
                tag2: value2
            topicName: exampletopic1
          responses:
            "201":
              body:
                id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/topics/exampletopic1
                location: westus2
                name: exampletopic1
                properties:
                  endpoint: https://exampletopic1.westus2-1.eventgrid.azure.net/api/events
                  provisioningState: Succeeded
                tags:
                  tag1: value1
                  tag2: value2
                type: Microsoft.EventGrid/topics
      x-ms-long-running-operation: true
      x-codegen-request-body-name: topicInfo
      x-openapi-router-controller: openapi_server.controllers.topics_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/topics/{topicName}/listKeys:
    post:
      description: List the two keys used to publish to a topic
      operationId: topics_list_shared_access_keys
      parameters:
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group within the user's subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Name of the topic
        in: path
        name: topicName
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopicSharedAccessKeys'
          description: OK
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      summary: List keys for a topic
      tags:
      - Topics
      x-ms-examples:
        Topics_ListSharedAccessKeys:
          parameters:
            api-version: 2018-09-15-preview
            resourceGroupName: examplerg
            subscriptionId: 5b4b650e-28b9-4790-b3ab-ddbd88d727c4
            topicName: exampletopic2
          responses:
            "200":
              body:
                key1: Rqfq5wWxtQnIQJyswP0Uh/hqQfDDMUOYyQSYEpx5e5g=
                key2: sesymbkIXMtZVqXEFHarJmdGmZjjnY+BZC8yRD/FeuA=
      x-openapi-router-controller: openapi_server.controllers.topics_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/topics/{topicName}/regenerateKey
  : post:
      description: Regenerate a shared access key for a topic
      operationId: topics_regenerate_key
      parameters:
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group within the user's subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Name of the topic
        in: path
        name: topicName
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TopicRegenerateKeyRequest'
        description: Request body to regenerate key
        required: true
        x-body-name: regenerateKeyRequest
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopicSharedAccessKeys'
          description: OK
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      summary: Regenerate key for a topic
      tags:
      - Topics
      x-ms-examples:
        Topics_RegenerateKey:
          parameters:
            api-version: 2018-09-15-preview
            regenerateKeyRequest:
              keyName: key1
            resourceGroupName: examplerg
            subscriptionId: 5b4b650e-28b9-4790-b3ab-ddbd88d727c4
            topicName: exampletopic2
          responses:
            "200":
              body:
                key1: Rqfq5wWxtQnIQJyswP0Uh/hqQfDDMUOYyQSYEpx5e5g=
                key2: sesymbkIXMtZVqXEFHarJmdGmZjjnY+BZC8yRD/FeuA=
      x-codegen-request-body-name: regenerateKeyRequest
      x-openapi-router-controller: openapi_server.controllers.topics_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{providerNamespace}/{resourceTypeName}/{resourceName}/providers/Microsoft.EventGrid/eventSubscriptions
  : get:
      description: List all event subscriptions that have been created for a specific
        topic
      operationId: event_subscriptions_list_by_resource
      parameters:
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group within the user's subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Namespace of the provider of the topic
        in: path
        name: providerNamespace
        required: true
        schema:
          type: string
      - description: Name of the resource type
        in: path
        name: resourceTypeName
        required: true
        schema:
          type: string
      - description: Name of the resource
        in: path
        name: resourceName
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSubscriptionsListResult'
          description: OK
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      summary: List all event subscriptions for a specific topic
      tags:
      - EventSubscriptions
      x-ms-examples:
        EventSubscriptions_ListByResource:
          parameters:
            api-version: 2018-09-15-preview
            providerNamespace: Microsoft.EventGrid
            resourceGroupName: examplerg
            resourceName: exampletopic2
            resourceTypeName: topics
            subscriptionId: 5b4b650e-28b9-4790-b3ab-ddbd88d727c4
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/topics/exampletopic2/providers/Microsoft.EventGrid/eventSubscriptions/examplesubscription1
                  name: examplesubscription1
                  properties:
                    destination:
                      endpointType: WebHook
                      properties:
                        endpointBaseUrl: https://requestb.in/15ksip71
                    filter:
                      includedEventTypes:
                      - All
                      isSubjectCaseSensitive: false
                      subjectBeginsWith: ""
                      subjectEndsWith: ""
                    provisioningState: Succeeded
                    topic: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/microsoft.eventgrid/topics/exampletopic2
                  type: Microsoft.EventGrid/eventSubscriptions
                - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/topics/exampletopic2/providers/Microsoft.EventGrid/eventSubscriptions/examplesubscription2
                  name: examplesubscription2
                  properties:
                    destination:
                      endpointType: WebHook
                      properties:
                        endpointBaseUrl: https://requestb.in/15ksip71
                    filter:
                      includedEventTypes:
                      - All
                      isSubjectCaseSensitive: false
                      subjectBeginsWith: ""
                      subjectEndsWith: ""
                    provisioningState: Succeeded
                    topic: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/microsoft.eventgrid/topics/exampletopic2
                  type: Microsoft.EventGrid/eventSubscriptions
                - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/topics/exampletopic2/providers/Microsoft.EventGrid/eventSubscriptions/examplesubscription3
                  name: examplesubscription3
                  properties:
                    destination:
                      endpointType: WebHook
                      properties:
                        endpointBaseUrl: https://requestb.in/15ksip71
                    filter:
                      includedEventTypes:
                      - All
                      isSubjectCaseSensitive: false
                      subjectBeginsWith: ""
                      subjectEndsWith: ""
                    labels: []
                    provisioningState: Succeeded
                    topic: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/microsoft.eventgrid/topics/exampletopic2
                  type: Microsoft.EventGrid/eventSubscriptions
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.event_subscriptions_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{providerNamespace}/{resourceTypeName}/{resourceName}/providers/Microsoft.EventGrid/eventTypes
  : get:
      description: List event types for a topic
      operationId: topics_list_event_types
      parameters:
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group within the user's subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Namespace of the provider of the topic
        in: path
        name: providerNamespace
        required: true
        schema:
          type: string
      - description: Name of the topic type
        in: path
        name: resourceTypeName
        required: true
        schema:
          type: string
      - description: Name of the topic
        in: path
        name: resourceName
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventTypesListResult'
          description: OK
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      summary: List topic event types
      tags:
      - Topics
      x-ms-examples:
        Topics_ListEventTypes:
          parameters:
            api-version: 2018-09-15-preview
            providerNamespace: Microsoft.Storage
            resourceGroupName: examplerg
            resourceName: ExampleStorageAccount
            resourceTypeName: storageAccounts
            subscriptionId: 5b4b650e-28b9-4790-b3ab-ddbd88d727c4
          responses:
            "200":
              body:
                value:
                - id: providers/Microsoft.EventGrid/topicTypes/Microsoft.Storage.StorageAccounts/eventTypes/Microsoft.Storage.BlobCreated
                  name: Microsoft.Storage.BlobCreated
                  properties:
                    description: Raised when a blob is created.
                    displayName: Blob Created
                    schemaUrl: tbd
                  type: Microsoft.EventGrid/topicTypes/eventTypes
[...]
