openapi: 3.0.1
info:
  description: The Managed Service Identity Client.
  title: ManagedServiceIdentityClient
  version: 2015-08-31-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/msi/resource-manager/Microsoft.ManagedIdentity/preview/2015-08-31-preview/ManagedIdentity.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: msi-ManagedIdentity
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.ManagedIdentity/operations:
    get:
      description: Lists available operations for the Microsoft.ManagedIdentity provider
      operationId: operations_list
      parameters:
      - description: Version of API to invoke.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
          description: The operation was successful. The response contains the list
            of available operations.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      x-ms-examples:
        MsiOperationsList:
          parameters:
            api-version: 2015-08-31-preview
          responses:
            "200":
              body:
                nextLink: https://serviceRoot/providers/Microsoft.ManagedIdentity/operations?api-version=2015-08-31-preview&$skiptoken=X'12345'
                value:
                - display:
                    description: Gets an existing user assigned identity
                    operation: Get User Assigned Identity
                    provider: Managed Service Identity
                    resource: User Assigned Identities
                  name: Microsoft.ManagedIdentity/userAssignedIdentities/read
                - display:
                    description: Creates a new user assigned identity or updates the
                      tags associated with an existing user assigned identity
                    operation: Create/Update User Assigned Identity
                    provider: Managed Service Identity
                    resource: User Assigned Identities
                  name: Microsoft.ManagedIdentity/userAssignedIdentities/write
                - display:
                    description: Deletes an existing user assigned identity
                    operation: Delete User Assigned Identity
                    provider: Managed Service Identity
                    resource: User Assigned Identities
                  name: Microsoft.ManagedIdentity/userAssignedIdentities/delete
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.ManagedIdentity/userAssignedIdentities:
    get:
      description: Lists all the userAssignedIdentities available under the specified
        subscription.
      operationId: user_assigned_identities_list_by_subscription
      parameters:
      - description: The Id of the Subscription to which the identity belongs.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Version of API to invoke.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAssignedIdentitiesListResult'
          description: OK. The list of userAssignedIdentities was retrieved and returned
            successfully.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      x-ms-examples:
        IdentityListBySubscription:
          parameters:
            api-version: 2015-08-31-preview
            subscriptionId: subid
          responses:
            "200":
              body:
                nextLink: https://serviceRoot/subscriptions/subId/providers/Microsoft.ManagedIdentity/userAssignedIdentities?api-version=2015-08-31-preview&$skiptoken=X'12345'
                value:
                - id: /subscriptions/subid/resourcegroups/rgName/providers/Microsoft.ManagedIdentity/userAssignedIdentities/identityName
                  location: cus
                  name: identityName
                  properties:
                    clientId: clientGUID
                    clientSecretUrl: https://serviceRoot/subscriptions/subscriptionId/resourcegroups/rgName/providers/Microsoft.ManagedIdentity/userAssignedIdentities/identityName/credentials?tid=tenantId&oid=principalId&aid=clientId
                    principalId: identityObjectID
                    tenantId: tenantGUID
                  tags:
                    key1: value1
                    key2: value2
                  type: Microsoft.ManagedIdentity/userAssignedIdentities
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities:
    get:
      description: Lists all the userAssignedIdentities available under the specified
        ResourceGroup.
      operationId: user_assigned_identities_list_by_resource_group
      parameters:
      - description: The Id of the Subscription to which the identity belongs.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the Resource Group to which the identity belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of API to invoke.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAssignedIdentitiesListResult'
          description: OK. The list of userAssignedIdentities was retrieved and returned
            successfully.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      x-ms-examples:
        IdentityListByResourceGroup:
          parameters:
            api-version: 2015-08-31-preview
            resourceGroupName: rgName
            subscriptionId: subid
          responses:
            "200":
              body:
                nextLink: https://serviceRoot/subscriptions/subId/resourcegroups/rgName/providers/Microsoft.ManagedIdentity/userAssignedIdentities?api-version=2015-08-31-preview&$skiptoken=X'12345'
                value:
                - id: /subscriptions/subid/resourcegroups/rgName/providers/Microsoft.ManagedIdentity/userAssignedIdentities/identityName
                  location: cus
                  name: identityName
                  properties:
                    clientId: clientGUID
                    clientSecretUrl: https://serviceRoot/subscriptions/subscriptionId/resourcegroups/rgName/providers/Microsoft.ManagedIdentity/userAssignedIdentities/identityName/credentials?tid=tenantId&oid=principalId&aid=clientId
                    principalId: identityObjectID
                    tenantId: tenantGUID
                  tags:
                    key1: value1
                    key2: value2
                  type: Microsoft.ManagedIdentity/userAssignedIdentities
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.default_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{resourceName}
  : delete:
      description: Deletes the identity.
      operationId: user_assigned_identities_delete
      parameters:
      - description: The Id of the Subscription to which the identity belongs.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the Resource Group to which the identity belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the identity resource.
        in: path
        name: resource_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of API to invoke.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK. Deleted Identity.
        "204":
          content: {}
          description: The specified identity does not exist.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      x-ms-examples:
        IdentityDelete:
          parameters:
            api-version: 2015-08-31-preview
            resourceGroupName: rgName
            resourceName: resourceName
            subscriptionId: subid
          responses:
            "200": {}
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.default_controller
    get:
      description: Gets the identity.
      operationId: user_assigned_identities_get
      parameters:
      - description: The Id of the Subscription to which the identity belongs.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the Resource Group to which the identity belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the identity resource.
        in: path
        name: resourceName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of API to invoke.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Identity'
          description: OK. The requested identity.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      x-ms-examples:
        IdentityGet:
          parameters:
            api-version: 2015-08-31-preview
            resourceGroupName: rgName
            resourceName: resourceName
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourcegroups/rgName/providers/Microsoft.ManagedIdentity/userAssignedIdentities/identityName
                location: cus
                name: identityName
                properties:
                  clientId: clientGUID
                  clientSecretUrl: https://serviceRoot/subscriptions/subscriptionId/resourcegroups/rgName/providers/Microsoft.ManagedIdentity/userAssignedIdentities/identityName/credentials?tid=tenantId&oid=principalId&aid=clientId
                  principalId: identityObjectID
                  tenantId: tenantGUID
                tags:
                  key1: value1
                  key2: value2
                type: Microsoft.ManagedIdentity/userAssignedIdentities
      x-openapi-router-controller: openapi_server.controllers.default_controller
    patch:
      description: Update an identity in the specified subscription and resource group.
      operationId: user_assigned_identities_update
      parameters:
      - description: The Id of the Subscription to which the identity belongs.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the Resource Group to which the identity belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the identity resource.
        in: path
        name: resource_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of API to invoke.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Identity'
        description: Parameters to update the identity
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Identity'
          description: Updated identity
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      x-ms-examples:
        IdentityUpdate:
          parameters:
            api-version: 2015-08-31-preview
            parameters:
              location: cus
              tags:
                key1: value1
                key2: value2
            resourceGroupName: rgName
            resourceName: resourceName
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourcegroups/rgName/providers/Microsoft.ManagedIdentity/userAssignedIdentities/identityName
                location: cus
                name: identityName
                properties:
                  clientId: clientGUID
                  clientSecretUrl: https://serviceRoot/subscriptions/subscriptionId/resourcegroups/rgName/providers/Microsoft.ManagedIdentity/userAssignedIdentities/identityName/credentials?tid=tenantId&oid=principalId&aid=clientId
                  principalId: identityObjectID
                  tenantId: tenantGUID
                tags:
                  key1: value1
                  key2: value2
                type: Microsoft.ManagedIdentity/userAssignedIdentities
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.default_controller
    put:
      description: Create or update an identity in the specified subscription and
        resource group.
      operationId: user_assigned_identities_create_or_update
      parameters:
      - description: The Id of the Subscription to which the identity belongs.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the Resource Group to which the identity belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the identity resource.
        in: path
        name: resource_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of API to invoke.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Identity'
        description: Parameters to create or update the identity
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Identity'
          description: Updated identity
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Identity'
          description: Created identity
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      x-ms-examples:
        IdentityCreate:
          parameters:
            api-version: 2015-08-31-preview
            parameters:
              location: cus
              tags:
                key1: value1
                key2: value2
            resourceGroupName: rgName
            resourceName: resourceName
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourcegroups/rgName/providers/Microsoft.ManagedIdentity/userAssignedIdentities/identityName
                location: cus
                name: identityName
                properties:
                  clientId: clientGUID
                  clientSecretUrl: https://serviceRoot/subscriptions/subscriptionId/resourcegroups/rgName/providers/Microsoft.ManagedIdentity/userAssignedIdentities/identityName/credentials?tid=tenantId&oid=principalId&aid=clientId
                  principalId: identityObjectID
                  tenantId: tenantGUID
                tags:
                  key1: value1
                  key2: value2
                type: Microsoft.ManagedIdentity/userAssignedIdentities
            "201":
              body:
                id: /subscriptions/subid/resourcegroups/rgName/providers/Microsoft.ManagedIdentity/userAssignedIdentities/identityName
                location: cus
                name: identityName
                properties:
                  clientId: clientGUID
                  clientSecretUrl: https://serviceRoot/subscriptions/subscriptionId/resourcegroups/rgName/providers/Microsoft.ManagedIdentity/userAssignedIdentities/identityName/credentials?tid=tenantId&oid=principalId&aid=clientId
                  principalId: identityObjectID
                  tenantId: tenantGUID
                tags:
                  key1: value1
                  key2: value2
                type: Microsoft.ManagedIdentity/userAssignedIdentities
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.default_controller
components:
  parameters:
    ApiVersionParameter:
      description: Version of API to invoke.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    ResourceGroupNameParameter:
      description: The name of the Resource Group to which the identity belongs.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ResourceNameParameter:
      description: The name of the identity resource.
      in: path
      name: resourceName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: The Id of the Subscription to which the identity belongs.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    CloudError:
      description: An error response from the ManagedServiceIdentity service.
      example:
        error:
          code: code
          details:
          - null
          - null
          message: message
          target: target
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorBody'
      title: CloudError
      type: object
      x-ms-external: true
    CloudErrorBody:
      description: An error response from the ManagedServiceIdentity service.
      example:
        code: code
        details:
        - null
        - null
        message: message
        target: target
      properties:
        code:
          description: An identifier for the error.
          title: code
          type: string
        details:
          description: A list of additional details about the error.
          items:
            $ref: '#/components/schemas/CloudErrorBody'
          title: details
          type: array
        message:
          description: "A message describing the error, intended to be suitable for\
            \ display in a user interface."
          title: message
          type: string
        target:
          description: "The target of the particular error. For example, the name\
            \ of the property in error."
          title: target
          type: string
      title: CloudErrorBody
      type: object
      x-ms-external: true
    Identity:
      description: Describes an identity resource.
      example:
        name: name
        location: location
        id: id
        type: Microsoft.ManagedIdentity/userAssignedIdentities
        properties:
          clientId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          tenantId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          principalId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          clientSecretUrl: clientSecretUrl
        tags:
          key: tags
      properties:
        id:
          description: The id of the created identity.
          readOnly: true
          title: id
          type: string
        location:
          description: The Azure region where the identity lives.
          title: location
          type: string
        name:
          description: The name of the created identity.
          readOnly: true
          title: name
          type: string
        properties:
          $ref: '#/components/schemas/IdentityProperties'
        tags:
          additionalProperties:
            type: string
          description: Resource tags
          title: tags
          type: object
        type:
          description: The type of resource i.e. Microsoft.ManagedIdentity/userAssignedIdentities
          enum:
          - Microsoft.ManagedIdentity/userAssignedIdentities
          readOnly: true
          title: type
          type: string
          x-ms-enum:
            modelAsString: true
            name: UserAssignedIdentities
      title: Identity
      type: object
      x-ms-azure-resource: true
    IdentityProperties:
      description: The properties associated with the identity.
      example:
        clientId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        tenantId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        principalId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        clientSecretUrl: clientSecretUrl
      properties:
        clientId:
          description: The id of the app associated with the identity. This is a random
            generated UUID by MSI.
          format: uuid
          readOnly: true
          title: clientId
          type: string
        clientSecretUrl:
          description: ' The ManagedServiceIdentity DataPlane URL that can be queried
            to obtain the identity credentials.'
          readOnly: true
          title: clientSecretUrl
          type: string
        principalId:
          description: The id of the service principal object associated with the
            created identity.
          format: uuid
          readOnly: true
          title: principalId
          type: string
        tenantId:
          description: The id of the tenant which the identity belongs to.
          format: uuid
          readOnly: true
          title: tenantId
          type: string
      title: Identity properties.
      type: object
    Operation:
      description: Operation supported by the Microsoft.ManagedIdentity REST API.
      example:
        display:
          provider: provider
          resource: resource
          description: description
          operation: operation
        name: name
      properties:
        display:
          $ref: '#/components/schemas/OperationDisplay'
        name:
          description: "The name of the REST Operation. This is of the format {provider}/{resource}/{operation}."
          title: Operation Name.
          type: string
      title: Microsoft.ManagedIdentity Operation.
      type: object
    OperationDisplay:
      description: The object that describes the operation.
      example:
        provider: provider
        resource: resource
        description: description
        operation: operation
      properties:
        description:
          description: A description of the operation.
          title: Operation description
          type: string
        operation:
          description: "The type of operation. For example: read, write, delete."
          title: Operation Type.
          type: string
        provider:
          description: Friendly name of the resource provider.
          title: Resource Provider Name.
          type: string
        resource:
          description: The resource type on which the operation is performed.
          title: Resource Type.
          type: string
      title: Operation Display.
      type: object
    OperationListResult:
      description: A list of operations supported by Microsoft.ManagedIdentity Resource
        Provider.
      example:
        value:
        - display:
            provider: provider
            resource: resource
            description: description
            operation: operation
          name: name
        - display:
            provider: provider
            resource: resource
            description: description
            operation: operation
          name: name
        nextLink: nextLink
      properties:
        nextLink:
          description: "The url to get the next page of results, if any."
          title: Next Link
          type: string
        value:
          description: A list of operations supported by Microsoft.ManagedIdentity
            Resource Provider.
          items:
            $ref: '#/components/schemas/Operation'
          title: Operations List.
          type: array
      title: Operations List.
      type: object
    UserAssignedIdentitiesListResult:
      description: Values returned by the List operation.
      example:
        value:
        - name: name
          location: location
          id: id
          type: Microsoft.ManagedIdentity/userAssignedIdentities
          properties:
            clientId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            tenantId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            principalId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            clientSecretUrl: clientSecretUrl
          tags:
            key: tags
        - name: name
          location: location
          id: id
          type: Microsoft.ManagedIdentity/userAssignedIdentities
          properties:
            clientId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            tenantId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            principalId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            clientSecretUrl: clientSecretUrl
          tags:
            key: tags
        nextLink: nextLink
      properties:
        nextLink:
          description: "The url to get the next page of results, if any."
          title: nextLink
          type: string
        value:
          description: The collection of userAssignedIdentities returned by the listing
            operation.
          items:
            $ref: '#/components/schemas/Identity'
          title: value
          type: array
      title: UserAssignedIdentitiesListResult
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
