openapi: 3.0.0
info:
  contact:
    x-twitter: nfldata
  title: CBB v3 Stats
  version: "1.0"
  x-apisguru-categories:
  - entertainment
  x-logo:
    url: https://twitter.com/nfldata/profile_image?size=original
  x-origin:
  - format: swagger
    url: https://fantasydata.com/downloads/swagger/cbb-v3-stats.json
    version: "2.0"
  x-providerName: sportsdata.io
  x-serviceName: cbb-v3-stats
servers:
- url: http://azure-api.sportsdata.io/v3/cbb/stats
- url: https://azure-api.sportsdata.io/v3/cbb/stats
security:
- apiKeyHeader: []
- apiKeyQuery: []
paths:
  /{format}/AreAnyGamesInProgress:
    get:
      description: Returns <code>true</code> if there is at least one game being played
        at the time of the request or <code>false</code> if there are none.
      operationId: are_games_in_progress
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                nullable: false
                type: boolean
          description: ""
      summary: Are Games In Progress
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/BoxScore/{gameid}:
    get:
      operationId: box_score
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: The GameID of an CBB game.  GameIDs can be found in the Games
          API.  Valid entries are <code>14620</code> or <code>16905</code>
        explode: false
        in: path
        name: gameid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BoxScore'
          description: ""
      summary: Box Score
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/BoxScores/{date}:
    get:
      operationId: box_scores_by_date
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: |-
          The date of the game(s).
          <br>Examples: <code>2018-FEB-27</code>, <code>2017-DEC-01</code>.
        explode: false
        in: path
        name: date
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/BoxScore'
                type: array
          description: ""
      summary: Box Scores by Date
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/BoxScoresDelta/{date}/{minutes}:
    get:
      operationId: box_scores_by_date_delta
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: |-
          The date of the game(s).
          <br>Examples: <code>2018-FEB-27</code>, <code>2017-DEC-01</code>.
        explode: false
        in: path
        name: date
        required: true
        schema:
          type: string
        style: simple
      - description: |-
          Only returns player statistics that have changed in the last X minutes.  You specify how many minutes in time to go back.  Valid entries are:
          <code>1</code> or <code>2</code>.
        explode: false
        in: path
        name: minutes
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/BoxScore'
                type: array
          description: ""
      summary: Box Scores by Date Delta
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/CurrentSeason:
    get:
      operationId: current_season
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Season'
          description: ""
      summary: Current Season
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/Games/{season}:
    get:
      operationId: schedules
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Year of the season (with optional season type).<br>Examples:\
          \ <code>2018</code>, <code>2018PRE</code>, <code>2018POST</code>, <code>2018STAR</code>,\
          \ <code>2019</code>, etc."
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Game'
                type: array
          description: ""
      summary: Schedules
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/GamesByDate/{date}:
    get:
      operationId: games_by_date
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: |-
          The date of the game(s).
          <br>Examples: <code>2018-FEB-27</code>, <code>2017-DEC-01</code>.
        explode: false
        in: path
        name: date
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Game'
                type: array
          description: ""
      summary: Games by Date
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/InjuredPlayers:
    get:
      description: "This endpoint provides all currently injured college basketball\
        \ players, along with injury details."
      operationId: injured_players
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Player'
                type: array
          description: ""
      summary: Injured Players
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/LeagueHierarchy:
    get:
      operationId: league_hierarchy
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Conference'
                type: array
          description: ""
      summary: League Hierarchy
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/Player/{playerid}:
    get:
      operationId: player_details_by_player
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: |-
          Unique FantasyData Player ID.
          Example:<code>60003802</code>.
        explode: false
        in: path
        name: playerid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Player'
          description: ""
      summary: Player Details by Player
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/PlayerGameProjectionStatsByDate/{date}:
    get:
      operationId: projected_player_game_stats_by_date
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: |-
          The date of the game(s).
          <br>Examples: <code>2018-FEB-27</code>, <code>2017-DEC-01</code>.
        explode: false
        in: path
        name: date
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PlayerGameProjection'
                type: array
          description: ""
      summary: Projected Player Game Stats by Date
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/PlayerGameProjectionStatsByPlayer/{date}/{playerid}:
    get:
      operationId: projected_player_game_stats_by_player
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: |-
          The date of the game(s).
          <br>Examples: <code>2018-FEB-27</code>, <code>2017-DEC-01</code>.
        explode: false
        in: path
        name: date
        required: true
        schema:
          type: string
        style: simple
      - description: |-
          Unique FantasyData Player ID.
          Example:<code>60003802</code>.
        explode: false
        in: path
        name: playerid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerGameProjection'
          description: ""
      summary: Projected Player Game Stats by Player
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/PlayerGameStatsByDate/{date}:
    get:
      operationId: player_game_stats_by_date
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: |-
          The date of the game(s).
          <br>Examples: <code>2018-FEB-27</code>, <code>2017-DEC-01</code>.
        explode: false
        in: path
        name: date
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PlayerGame'
                type: array
          description: ""
      summary: Player Game Stats by Date
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/PlayerGameStatsByPlayer/{date}/{playerid}:
    get:
      operationId: player_game_stats_by_player
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: |-
          The date of the game(s).
          <br>Examples: <code>2018-FEB-27</code>, <code>2017-DEC-01</code>.
        explode: false
        in: path
        name: date
        required: true
        schema:
          type: string
        style: simple
      - description: |-
          Unique FantasyData Player ID.
          Example:<code>60003802</code>.
        explode: false
        in: path
        name: playerid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerGame'
          description: ""
      summary: Player Game Stats by Player
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/PlayerGameStatsBySeason/{season}/{playerid}/{numberofgames}:
    get:
      operationId: player_game_logs_by_season
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Season to get games from. Example <code>2019POST</code>, <code>2020</code>"
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: Unique FantasyData Player ID.Example:<code>60008094</code>.
        explode: false
        in: path
        name: playerid
        required: true
        schema:
          type: string
        style: simple
      - description: "How many games to return. Example <code>all</code>, <code>10</code>,\
          \ <code>25</code>"
        explode: false
        in: path
        name: numberofgames
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PlayerGame'
                type: array
          description: ""
      summary: Player Game Logs By Season
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/PlayerSeasonStats/{season}:
    get:
      operationId: player_season_stats
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Year of the season (with optional season type).<br>Examples:\
          \ <code>2018</code>, <code>2018POST</code>, <code>2019</code>."
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PlayerSeason'
                type: array
          description: ""
      summary: Player Season Stats
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/PlayerSeasonStatsByPlayer/{season}/{playerid}:
    get:
      operationId: player_season_stats_by_player
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Year of the season (with optional season type).<br>Examples:\
          \ <code>2018</code>, <code>2018POST</code>, <code>2019</code>."
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: |-
          Unique FantasyData Player ID.
          Example:<code>60003802</code>.
        explode: false
        in: path
        name: playerid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerSeason'
          description: ""
      summary: Player Season Stats By Player
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/PlayerSeasonStatsByTeam/{season}/{team}:
    get:
      operationId: player_season_stats_by_team
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Year of the season (with optional season type).<br>Examples:\
          \ <code>2018</code>, <code>2018POST</code>, <code>2019</code>."
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: |-
          The abbreviation of the requested team.
          <br>Examples: <code>SF</code>, <code>NYY</code>.
        explode: false
        in: path
        name: team
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PlayerSeason'
                type: array
          description: ""
      summary: Player Season Stats by Team
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/Players:
    get:
      operationId: player_details_by_active
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Player'
                type: array
          description: ""
      summary: Player Details by Active
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/Players/{team}:
    get:
      operationId: player_details_by_team
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: |-
          The abbreviation of the requested team.
          <br>Examples: <code>SF</code>, <code>NYY</code>.
        explode: false
        in: path
        name: team
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Player'
                type: array
          description: ""
      summary: Player Details by Team
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/Stadiums:
    get:
      operationId: stadiums
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Stadium'
                type: array
          description: ""
      summary: Stadiums
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/TeamGameStatsByDate/{date}:
    get:
      operationId: team_game_stats_by_date
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: |-
          The date of the game(s).
          <br>Examples: <code>2018-FEB-27</code>, <code>2017-DEC-01</code>.
        explode: false
        in: path
        name: date
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TeamGame'
                type: array
          description: ""
      summary: Team Game Stats by Date
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/TeamGameStatsBySeason/{season}/{teamid}/{numberofgames}:
    get:
      description: Game by game log of total team statistics.
      operationId: team_game_logs_by_season
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Season to get games from. Example <code>2019POST</code>, <code>2020</code>"
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: Unique ID of team.  Example <code> 1 </code>
        explode: false
        in: path
        name: teamid
        required: true
        schema:
          type: string
        style: simple
      - description: "How many games to return. Example <code>all</code>, <code>10</code>,\
          \ <code>25</code>"
        explode: false
        in: path
        name: numberofgames
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TeamGame'
                type: array
          description: ""
      summary: Team Game Logs By Season
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/TeamSeasonStats/{season}:
    get:
      operationId: team_season_stats
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Year of the season (with optional season type).<br>Examples:\
          \ <code>2018</code>, <code>2018POST</code>, <code>2019</code>."
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TeamSeason'
                type: array
          description: ""
      summary: Team Season Stats
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/Tournament/{season}:
    get:
      operationId: tournament_hierarchy
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Year of the season (with optional season type).<br>Examples:\
          \ <code>2018</code>, <code>2018POST</code>, <code>2019</code>."
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tournament'
          description: ""
      summary: Tournament Hierarchy
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/teams:
    get:
      operationId: teams
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Team'
                type: array
          description: ""
      summary: Teams
      x-openapi-router-controller: openapi_server.controllers.default_controller
components:
  schemas:
    BoxScore:
      example:
        Periods:
        - HomeScore: 3
          Type: Type
          Number: 6
          AwayScore: 9
          PeriodID: 1
          GameID: 6
          Name: Name
        - HomeScore: 3
          Type: Type
          Number: 6
          AwayScore: 9
          PeriodID: 1
          GameID: 6
          Name: Name
        Game:
          AwayTeam: AwayTeam
          HomeTeamMoneyLine: 1
          HomeTeamID: 7
          DateTime: DateTime
          HomePointSpreadPayout: 1
          HomeTeamPreviousGlobalGameID: 5
          GameID: 4
          OverPayout: 6
          HomeTeamPreviousGameID: 4
          Status: Status
          TopTeamPreviousGameId: 6
          HomeTeam: HomeTeam
          Updated: Updated
          Channel: Channel
          Period: Period
          TournamentDisplayOrderForHomeTeam: TournamentDisplayOrderForHomeTeam
          NeutralVenue: true
          AwayTeamPreviousGameID: 2
          AwayRotationNumber: 1
          AwayTeamScore: 9
          GlobalAwayTeamID: 7
          DateTimeUTC: DateTimeUTC
          AwayTeamMoneyLine: 5
          Stadium:
            Zip: Zip
            Active: true
            Address: Address
            GeoLat: 3.353193347011243
            Capacity: 6
            State: State
            Country: Country
            GeoLong: 3.0937452626664474
            City: City
            Name: Name
            StadiumID: 7
          GameEndDateTime: GameEndDateTime
          HomeRotationNumber: 6
          HomeTeamSeed: 9
          AwayTeamID: 5
          IsClosed: true
          TournamentDisplayOrder: 0
          TimeRemainingSeconds: 7
          UnderPayout: 8
          Round: 6
          GlobalHomeTeamID: 1
          TournamentID: 4
          Season: 6
          GlobalGameID: 1
          Attendance: 0
          Bracket: Bracket
          TimeRemainingMinutes: 0
          AwayTeamSeed: 3
          OverUnder: 8.762042012749001
          AwayTeamPreviousGlobalGameID: 7
          Periods:
          - HomeScore: 3
            Type: Type
            Number: 6
            AwayScore: 9
            PeriodID: 1
            GameID: 6
            Name: Name
          - HomeScore: 3
            Type: Type
            Number: 6
            AwayScore: 9
            PeriodID: 1
            GameID: 6
            Name: Name
          SeasonType: 5
          HomeTeamScore: 9
          PointSpread: 2.8841621266687802
          AwayPointSpreadPayout: 6
          BottomTeamPreviousGameId: 2
          Day: Day
        PlayerGames:
        - PlayerID: 3
          FanDuelPosition: FanDuelPosition
          InjuryStartDate: InjuryStartDate
          FreeThrowsPercentage: 4.86315908102884
          ThreePointersAttempted: 3
          GlobalTeamID: 0
          DateTime: DateTime
          InjuryStatus: InjuryStatus
          Minutes: 2
          TotalReboundsPercentage: 7.835035282970782
          DraftKingsSalary: 4
          Name: Name
          Steals: 8
          FreeThrowsAttempted: 7
          GameID: 6
          OpponentPositionRank: 4
          Updated: Updated
          Position: Position
          ThreePointersPercentage: 5.877124706116695
          FantasyPointsFanDuel: 7.260521264802104
          TwoPointersMade: 4
          OpponentID: 6
          Assists: 7
          PersonalFouls: 9
          OffensiveReboundsPercentage: 8.28965939814297
          StealsPercentage: 7.606863723092579
          FantasyPointsDraftKings: 4.678947989005849
          Games: 8
          BlockedShots: 3
          StatID: 5
          TrueShootingAttempts: 0.4768402382624515
          BlocksPercentage: 7.04836565559697
          OffensiveRebounds: 1
          IsGameOver: true
          DefensiveRebounds: 5
          FantasyPointsYahoo: 9.132027271330688
          OpponentRank: 8
          Rebounds: 8
          TeamID: 3
          FieldGoalsPercentage: 0.5199002018724985
          Turnovers: 3
          YahooSalary: 7
          FantasyDataSalary: 4
          ThreePointersMade: 9
          TwoPointersPercentage: 0.4833312865174044
          Points: 9
          FieldGoalsAttempted: 0
          DraftKingsPosition: DraftKingsPosition
          GlobalOpponentID: 3
          Opponent: Opponent
          Team: Team
          Season: 0
          GlobalGameID: 4
          YahooPosition: YahooPosition
          FanDuelSalary: 6
          FantasyPoints: 1.041444916118296
          AssistsPercentage: 3.0205796992916243
          DefensiveReboundsPercentage: 3.2588565619047607
          EffectiveFieldGoalsPercentage: 0.2025324113236393
          TwoPointersAttempted: 8
          InjuryBodyPart: InjuryBodyPart
          HomeOrAway: HomeOrAway
          InjuryNotes: InjuryNotes
          SeasonType: 5
          FreeThrowsMade: 5
          FieldGoalsMade: 9
          UsageRatePercentage: 0.35262192099236644
          PlayerEfficiencyRating: 1.8268702177058116
          TurnOversPercentage: 2.380090174313445
          Day: Day
          TrueShootingPercentage: 3.1497903714250555
        - PlayerID: 3
          FanDuelPosition: FanDuelPosition
          InjuryStartDate: InjuryStartDate
          FreeThrowsPercentage: 4.86315908102884
          ThreePointersAttempted: 3
          GlobalTeamID: 0
          DateTime: DateTime
          InjuryStatus: InjuryStatus
          Minutes: 2
          TotalReboundsPercentage: 7.835035282970782
          DraftKingsSalary: 4
          Name: Name
          Steals: 8
          FreeThrowsAttempted: 7
          GameID: 6
          OpponentPositionRank: 4
          Updated: Updated
          Position: Position
          ThreePointersPercentage: 5.877124706116695
          FantasyPointsFanDuel: 7.260521264802104
          TwoPointersMade: 4
          OpponentID: 6
          Assists: 7
          PersonalFouls: 9
          OffensiveReboundsPercentage: 8.28965939814297
          StealsPercentage: 7.606863723092579
          FantasyPointsDraftKings: 4.678947989005849
          Games: 8
          BlockedShots: 3
          StatID: 5
          TrueShootingAttempts: 0.4768402382624515
          BlocksPercentage: 7.04836565559697
          OffensiveRebounds: 1
          IsGameOver: true
          DefensiveRebounds: 5
          FantasyPointsYahoo: 9.132027271330688
          OpponentRank: 8
          Rebounds: 8
          TeamID: 3
          FieldGoalsPercentage: 0.5199002018724985
          Turnovers: 3
          YahooSalary: 7
          FantasyDataSalary: 4
          ThreePointersMade: 9
          TwoPointersPercentage: 0.4833312865174044
          Points: 9
          FieldGoalsAttempted: 0
          DraftKingsPosition: DraftKingsPosition
          GlobalOpponentID: 3
          Opponent: Opponent
          Team: Team
          Season: 0
          GlobalGameID: 4
          YahooPosition: YahooPosition
          FanDuelSalary: 6
          FantasyPoints: 1.041444916118296
          AssistsPercentage: 3.0205796992916243
          DefensiveReboundsPercentage: 3.2588565619047607
          EffectiveFieldGoalsPercentage: 0.2025324113236393
          TwoPointersAttempted: 8
          InjuryBodyPart: InjuryBodyPart
          HomeOrAway: HomeOrAway
          InjuryNotes: InjuryNotes
          SeasonType: 5
          FreeThrowsMade: 5
          FieldGoalsMade: 9
          UsageRatePercentage: 0.35262192099236644
          PlayerEfficiencyRating: 1.8268702177058116
          TurnOversPercentage: 2.380090174313445
          Day: Day
          TrueShootingPercentage: 3.1497903714250555
        TeamGames:
        - FreeThrowsPercentage: 1.0639121808530916
          ThreePointersAttempted: 5
          GlobalTeamID: 7
          DateTime: DateTime
          Minutes: 1
          TotalReboundsPercentage: 6.749525837406151
          Name: Name
          Steals: 6
          Possessions: 8.276461147928103
          FreeThrowsAttempted: 5
          Wins: 4
          GameID: 3
          Updated: Updated
          ThreePointersPercentage: 7.3842318535314
          FantasyPointsFanDuel: 3.812761638325517
          TwoPointersMade: 7
          OpponentID: 8
          Assists: 4
          PersonalFouls: 2
          Losses: 9
          OffensiveReboundsPercentage: 3.209082285545927
          StealsPercentage: 0.8411762798681321
          FantasyPointsDraftKings: 1.2555055362323109
          Games: 9
          BlockedShots: 9
          StatID: 2
          TrueShootingAttempts: 4.943637496515336
          BlocksPercentage: 0.58919091925136
          OffensiveRebounds: 4
          IsGameOver: true
          DefensiveRebounds: 4
          FantasyPointsYahoo: 5.6644160867523485
          Rebounds: 6
          TeamID: 2
          FieldGoalsPercentage: 5.7911894223693885
          Turnovers: 9
          ThreePointersMade: 0
          TwoPointersPercentage: 6.918231485891953
          Points: 4
          FieldGoalsAttempted: 1
          GlobalOpponentID: 7
          Opponent: Opponent
          Team: Team
          ConferenceWins: 6
          Season: 4
          GlobalGameID: 7
          ConferenceLosses: 2
          FantasyPoints: 1.3949519358941398
          AssistsPercentage: 2.7977867356748476
          DefensiveReboundsPercentage: 6.966044574347761
          EffectiveFieldGoalsPercentage: 9.806951670467935
          TwoPointersAttempted: 9
          HomeOrAway: HomeOrAway
          SeasonType: 8
          FreeThrowsMade: 3
          FieldGoalsMade: 4
          UsageRatePercentage: 0.11859130807119977
          PlayerEfficiencyRating: 9.146339979307802
          TurnOversPercentage: 0.4867146239815201
          Day: Day
          TrueShootingPercentage: 0.30134145536422907
        - FreeThrowsPercentage: 1.0639121808530916
          ThreePointersAttempted: 5
          GlobalTeamID: 7
          DateTime: DateTime
          Minutes: 1
          TotalReboundsPercentage: 6.749525837406151
          Name: Name
          Steals: 6
          Possessions: 8.276461147928103
          FreeThrowsAttempted: 5
          Wins: 4
          GameID: 3
          Updated: Updated
          ThreePointersPercentage: 7.3842318535314
          FantasyPointsFanDuel: 3.812761638325517
          TwoPointersMade: 7
          OpponentID: 8
          Assists: 4
          PersonalFouls: 2
          Losses: 9
          OffensiveReboundsPercentage: 3.209082285545927
          StealsPercentage: 0.8411762798681321
          FantasyPointsDraftKings: 1.2555055362323109
          Games: 9
          BlockedShots: 9
          StatID: 2
          TrueShootingAttempts: 4.943637496515336
          BlocksPercentage: 0.58919091925136
          OffensiveRebounds: 4
          IsGameOver: true
          DefensiveRebounds: 4
          FantasyPointsYahoo: 5.6644160867523485
          Rebounds: 6
          TeamID: 2
          FieldGoalsPercentage: 5.7911894223693885
          Turnovers: 9
          ThreePointersMade: 0
          TwoPointersPercentage: 6.918231485891953
          Points: 4
          FieldGoalsAttempted: 1
          GlobalOpponentID: 7
          Opponent: Opponent
          Team: Team
          ConferenceWins: 6
          Season: 4
          GlobalGameID: 7
          ConferenceLosses: 2
          FantasyPoints: 1.3949519358941398
          AssistsPercentage: 2.7977867356748476
          DefensiveReboundsPercentage: 6.966044574347761
          EffectiveFieldGoalsPercentage: 9.806951670467935
          TwoPointersAttempted: 9
          HomeOrAway: HomeOrAway
          SeasonType: 8
          FreeThrowsMade: 3
          FieldGoalsMade: 4
          UsageRatePercentage: 0.11859130807119977
          PlayerEfficiencyRating: 9.146339979307802
          TurnOversPercentage: 0.4867146239815201
          Day: Day
          TrueShootingPercentage: 0.30134145536422907
      properties:
        Game:
          $ref: '#/components/schemas/Game'
        Periods:
          items:
            $ref: '#/components/schemas/Period'
          title: Periods
          type: array
        PlayerGames:
          items:
            $ref: '#/components/schemas/PlayerGame'
          title: PlayerGames
          type: array
        TeamGames:
          items:
            $ref: '#/components/schemas/TeamGame'
          title: TeamGames
          type: array
      title: BoxScore
    Conference:
      example:
        Teams:
        - Stadium:
            Zip: Zip
            Active: true
            Address: Address
            GeoLat: 3.353193347011243
            Capacity: 6
            State: State
            Country: Country
            GeoLong: 3.0937452626664474
            City: City
            Name: Name
            StadiumID: 7
          ConferenceLosses: 5
          ApRank: 6
          GlobalTeamID: 2
          TeamID: 9
          Conference: Conference
          Name: Name
          Active: true
          School: School
          TeamLogoUrl: TeamLogoUrl
          Losses: 7
          ShortDisplayName: ShortDisplayName
          ConferenceID: 1
          ConferenceWins: 5
          Key: Key
          Wins: 3
        - Stadium:
            Zip: Zip
            Active: true
            Address: Address
            GeoLat: 3.353193347011243
            Capacity: 6
            State: State
            Country: Country
            GeoLong: 3.0937452626664474
            City: City
            Name: Name
            StadiumID: 7
          ConferenceLosses: 5
          ApRank: 6
          GlobalTeamID: 2
          TeamID: 9
          Conference: Conference
          Name: Name
          Active: true
          School: School
          TeamLogoUrl: TeamLogoUrl
          Losses: 7
          ShortDisplayName: ShortDisplayName
          ConferenceID: 1
          ConferenceWins: 5
          Key: Key
          Wins: 3
        ConferenceID: 0
        Name: Name
      properties:
        ConferenceID:
          nullable: false
          title: ConferenceID
          type: integer
        Name:
          nullable: true
          title: Name
          type: string
        Teams:
          items:
            $ref: '#/components/schemas/Team'
          title: Teams
          type: array
      title: Conference
    Game:
      example:
        AwayTeam: AwayTeam
        HomeTeamMoneyLine: 1
        HomeTeamID: 7
        DateTime: DateTime
        HomePointSpreadPayout: 1
        HomeTeamPreviousGlobalGameID: 5
        GameID: 4
        OverPayout: 6
        HomeTeamPreviousGameID: 4
        Status: Status
        TopTeamPreviousGameId: 6
        HomeTeam: HomeTeam
        Updated: Updated
        Channel: Channel
        Period: Period
        TournamentDisplayOrderForHomeTeam: TournamentDisplayOrderForHomeTeam
        NeutralVenue: true
        AwayTeamPreviousGameID: 2
        AwayRotationNumber: 1
        AwayTeamScore: 9
        GlobalAwayTeamID: 7
        DateTimeUTC: DateTimeUTC
        AwayTeamMoneyLine: 5
        Stadium:
          Zip: Zip
          Active: true
          Address: Address
          GeoLat: 3.353193347011243
          Capacity: 6
          State: State
          Country: Country
          GeoLong: 3.0937452626664474
          City: City
          Name: Name
          StadiumID: 7
        GameEndDateTime: GameEndDateTime
        HomeRotationNumber: 6
        HomeTeamSeed: 9
        AwayTeamID: 5
        IsClosed: true
        TournamentDisplayOrder: 0
        TimeRemainingSeconds: 7
        UnderPayout: 8
        Round: 6
        GlobalHomeTeamID: 1
        TournamentID: 4
        Season: 6
        GlobalGameID: 1
        Attendance: 0
        Bracket: Bracket
        TimeRemainingMinutes: 0
        AwayTeamSeed: 3
        OverUnder: 8.762042012749001
        AwayTeamPreviousGlobalGameID: 7
        Periods:
        - HomeScore: 3
          Type: Type
          Number: 6
          AwayScore: 9
          PeriodID: 1
          GameID: 6
          Name: Name
        - HomeScore: 3
          Type: Type
          Number: 6
          AwayScore: 9
          PeriodID: 1
          GameID: 6
          Name: Name
        SeasonType: 5
        HomeTeamScore: 9
        PointSpread: 2.8841621266687802
        AwayPointSpreadPayout: 6
        BottomTeamPreviousGameId: 2
        Day: Day
      properties:
        Attendance:
          nullable: true
          title: Attendance
          type: integer
        AwayPointSpreadPayout:
          nullable: true
          title: AwayPointSpreadPayout
          type: integer
        AwayRotationNumber:
          nullable: true
          title: AwayRotationNumber
          type: integer
        AwayTeam:
          nullable: true
          title: AwayTeam
          type: string
        AwayTeamID:
          nullable: true
          title: AwayTeamID
          type: integer
        AwayTeamMoneyLine:
          nullable: true
          title: AwayTeamMoneyLine
          type: integer
        AwayTeamPreviousGameID:
          nullable: true
          title: AwayTeamPreviousGameID
          type: integer
        AwayTeamPreviousGlobalGameID:
          nullable: true
          title: AwayTeamPreviousGlobalGameID
          type: integer
        AwayTeamScore:
          nullable: true
          title: AwayTeamScore
          type: integer
        AwayTeamSeed:
          nullable: true
          title: AwayTeamSeed
          type: integer
        BottomTeamPreviousGameId:
          nullable: true
          title: BottomTeamPreviousGameId
          type: integer
        Bracket:
          nullable: true
          title: Bracket
          type: string
        Channel:
          nullable: true
          title: Channel
          type: string
        DateTime:
          nullable: true
          title: DateTime
          type: string
        DateTimeUTC:
          nullable: true
          title: DateTimeUTC
          type: string
        Day:
          nullable: true
          title: Day
          type: string
        GameEndDateTime:
          nullable: true
          title: GameEndDateTime
          type: string
        GameID:
          nullable: false
          title: GameID
          type: integer
        GlobalAwayTeamID:
          nullable: true
          title: GlobalAwayTeamID
          type: integer
        GlobalGameID:
          nullable: false
          title: GlobalGameID
          type: integer
        GlobalHomeTeamID:
          nullable: true
          title: GlobalHomeTeamID
          type: integer
        HomePointSpreadPayout:
          nullable: true
          title: HomePointSpreadPayout
          type: integer
        HomeRotationNumber:
          nullable: true
          title: HomeRotationNumber
          type: integer
        HomeTeam:
          nullable: true
          title: HomeTeam
          type: string
        HomeTeamID:
          nullable: true
          title: HomeTeamID
          type: integer
        HomeTeamMoneyLine:
          nullable: true
          title: HomeTeamMoneyLine
          type: integer
        HomeTeamPreviousGameID:
          nullable: true
          title: HomeTeamPreviousGameID
          type: integer
        HomeTeamPreviousGlobalGameID:
          nullable: true
          title: HomeTeamPreviousGlobalGameID
          type: integer
        HomeTeamScore:
          nullable: true
          title: HomeTeamScore
          type: integer
        HomeTeamSeed:
          nullable: true
          title: HomeTeamSeed
          type: integer
        IsClosed:
          nullable: false
          title: IsClosed
          type: boolean
        NeutralVenue:
          nullable: true
          title: NeutralVenue
          type: boolean
        OverPayout:
          nullable: true
          title: OverPayout
          type: integer
        OverUnder:
          nullable: true
          title: OverUnder
          type: number
        Period:
          nullable: true
          title: Period
          type: string
        Periods:
          items:
            $ref: '#/components/schemas/Period'
          title: Periods
          type: array
        PointSpread:
          nullable: true
          title: PointSpread
          type: number
        Round:
          nullable: true
          title: Round
          type: integer
        Season:
          nullable: false
          title: Season
          type: integer
        SeasonType:
          nullable: false
          title: SeasonType
          type: integer
        Stadium:
          $ref: '#/components/schemas/Stadium'
        Status:
          nullable: true
          title: Status
          type: string
        TimeRemainingMinutes:
          nullable: true
          title: TimeRemainingMinutes
          type: integer
        TimeRemainingSeconds:
          nullable: true
          title: TimeRemainingSeconds
          type: integer
        TopTeamPreviousGameId:
          nullable: true
          title: TopTeamPreviousGameId
          type: integer
        TournamentDisplayOrder:
          nullable: true
          title: TournamentDisplayOrder
          type: integer
        TournamentDisplayOrderForHomeTeam:
          nullable: true
          title: TournamentDisplayOrderForHomeTeam
          type: string
        TournamentID:
          nullable: true
          title: TournamentID
          type: integer
        UnderPayout:
          nullable: true
          title: UnderPayout
          type: integer
        Updated:
          nullable: true
          title: Updated
          type: string
      title: Game
    Period:
      example:
        HomeScore: 3
        Type: Type
        Number: 6
        AwayScore: 9
        PeriodID: 1
        GameID: 6
        Name: Name
      properties:
        AwayScore:
          nullable: true
          title: AwayScore
          type: integer
        GameID:
          nullable: false
          title: GameID
          type: integer
        HomeScore:
          nullable: true
          title: HomeScore
          type: integer
        Name:
          nullable: true
          title: Name
          type: string
        Number:
          nullable: false
          title: Number
          type: integer
        PeriodID:
          nullable: false
          title: PeriodID
          type: integer
        Type:
          nullable: true
          title: Type
          type: string
      title: Period
    Player:
      example:
        PlayerID: 5
        InjuryStartDate: InjuryStartDate
        Position: Position
        FirstName: FirstName
        GlobalTeamID: 6
        BirthState: BirthState
        RotoworldPlayerID: 7
        TeamID: 9
        InjuryBodyPart: InjuryBodyPart
        InjuryStatus: InjuryStatus
        Weight: 3
        InjuryNotes: InjuryNotes
        RotoWirePlayerID: 2
        FantasyAlarmPlayerID: 0
        SportRadarPlayerID: SportRadarPlayerID
        HighSchool: HighSchool
        BirthCity: BirthCity
        Class: Class
        Height: 1
        Team: Team
        Jersey: 5
        LastName: LastName
      properties:
        BirthCity:
          nullable: true
          title: BirthCity
          type: string
        BirthState:
          nullable: true
          title: BirthState
          type: string
        Class:
          nullable: true
          title: Class
          type: string
        FantasyAlarmPlayerID:
          nullable: true
          title: FantasyAlarmPlayerID
          type: integer
        FirstName:
          nullable: true
          title: FirstName
          type: string
        GlobalTeamID:
          nullable: true
          title: GlobalTeamID
          type: integer
        Height:
          nullable: true
          title: Height
          type: integer
        HighSchool:
          nullable: true
          title: HighSchool
          type: string
        InjuryBodyPart:
          nullable: true
          title: InjuryBodyPart
          type: string
        InjuryNotes:
          nullable: true
          title: InjuryNotes
          type: string
        InjuryStartDate:
          nullable: true
          title: InjuryStartDate
          type: string
        InjuryStatus:
          nullable: true
          title: InjuryStatus
          type: string
        Jersey:
          nullable: true
          title: Jersey
          type: integer
        LastName:
          nullable: true
          title: LastName
          type: string
        PlayerID:
          nullable: false
          title: PlayerID
          type: integer
        Position:
          nullable: true
          title: Position
          type: string
        RotoWirePlayerID:
          nullable: true
          title: RotoWirePlayerID
          type: integer
        RotoworldPlayerID:
          nullable: true
          title: RotoworldPlayerID
          type: integer
        SportRadarPlayerID:
          nullable: true
          title: SportRadarPlayerID
          type: string
        Team:
          nullable: true
          title: Team
          type: string
        TeamID:
          nullable: true
          title: TeamID
          type: integer
        Weight:
          nullable: true
          title: Weight
          type: integer
      title: Player
    PlayerGame:
      example:
        PlayerID: 3
        FanDuelPosition: FanDuelPosition
        InjuryStartDate: InjuryStartDate
        FreeThrowsPercentage: 4.86315908102884
        ThreePointersAttempted: 3
        GlobalTeamID: 0
        DateTime: DateTime
        InjuryStatus: InjuryStatus
        Minutes: 2
        TotalReboundsPercentage: 7.835035282970782
        DraftKingsSalary: 4
        Name: Name
        Steals: 8
        FreeThrowsAttempted: 7
        GameID: 6
        OpponentPositionRank: 4
        Updated: Updated
        Position: Position
        ThreePointersPercentage: 5.877124706116695
        FantasyPointsFanDuel: 7.260521264802104
        TwoPointersMade: 4
        OpponentID: 6
        Assists: 7
        PersonalFouls: 9
        OffensiveReboundsPercentage: 8.28965939814297
        StealsPercentage: 7.606863723092579
        FantasyPointsDraftKings: 4.678947989005849
        Games: 8
        BlockedShots: 3
        StatID: 5
        TrueShootingAttempts: 0.4768402382624515
        BlocksPercentage: 7.04836565559697
        OffensiveRebounds: 1
        IsGameOver: true
        DefensiveRebounds: 5
        FantasyPointsYahoo: 9.132027271330688
        OpponentRank: 8
        Rebounds: 8
        TeamID: 3
        FieldGoalsPercentage: 0.5199002018724985
        Turnovers: 3
        YahooSalary: 7
        FantasyDataSalary: 4
        ThreePointersMade: 9
        TwoPointersPercentage: 0.4833312865174044
        Points: 9
        FieldGoalsAttempted: 0
        DraftKingsPosition: DraftKingsPosition
        GlobalOpponentID: 3
        Opponent: Opponent
        Team: Team
        Season: 0
        GlobalGameID: 4
        YahooPosition: YahooPosition
        FanDuelSalary: 6
        FantasyPoints: 1.041444916118296
        AssistsPercentage: 3.0205796992916243
        DefensiveReboundsPercentage: 3.2588565619047607
        EffectiveFieldGoalsPercentage: 0.2025324113236393
        TwoPointersAttempted: 8
        InjuryBodyPart: InjuryBodyPart
        HomeOrAway: HomeOrAway
        InjuryNotes: InjuryNotes
        SeasonType: 5
        FreeThrowsMade: 5
        FieldGoalsMade: 9
        UsageRatePercentage: 0.35262192099236644
        PlayerEfficiencyRating: 1.8268702177058116
        TurnOversPercentage: 2.380090174313445
        Day: Day
        TrueShootingPercentage: 3.1497903714250555
      properties:
        Assists:
          nullable: true
          title: Assists
          type: integer
        AssistsPercentage:
          nullable: true
          title: AssistsPercentage
          type: number
        BlockedShots:
          nullable: true
          title: BlockedShots
          type: integer
        BlocksPercentage:
          nullable: true
          title: BlocksPercentage
          type: number
        DateTime:
          nullable: true
          title: DateTime
          type: string
        Day:
          nullable: true
          title: Day
          type: string
        DefensiveRebounds:
          nullable: true
          title: DefensiveRebounds
          type: integer
        DefensiveReboundsPercentage:
          nullable: true
          title: DefensiveReboundsPercentage
          type: number
        DraftKingsPosition:
          nullable: true
          title: DraftKingsPosition
          type: string
        DraftKingsSalary:
          nullable: true
          title: DraftKingsSalary
          type: integer
        EffectiveFieldGoalsPercentage:
          nullable: true
          title: EffectiveFieldGoalsPercentage
          type: number
        FanDuelPosition:
          nullable: true
          title: FanDuelPosition
          type: string
        FanDuelSalary:
          nullable: true
          title: FanDuelSalary
          type: integer
        FantasyDataSalary:
          nullable: true
          title: FantasyDataSalary
          type: integer
        FantasyPoints:
          nullable: true
          title: FantasyPoints
          type: number
        FantasyPointsDraftKings:
          nullable: true
          title: FantasyPointsDraftKings
          type: number
        FantasyPointsFanDuel:
          nullable: true
          title: FantasyPointsFanDuel
          type: number
        FantasyPointsYahoo:
          nullable: true
          title: FantasyPointsYahoo
          type: number
        FieldGoalsAttempted:
          nullable: true
          title: FieldGoalsAttempted
          type: integer
        FieldGoalsMade:
          nullable: true
          title: FieldGoalsMade
          type: integer
        FieldGoalsPercentage:
          nullable: true
          title: FieldGoalsPercentage
          type: number
        FreeThrowsAttempted:
          nullable: true
          title: FreeThrowsAttempted
          type: integer
        FreeThrowsMade:
          nullable: true
          title: FreeThrowsMade
          type: integer
        FreeThrowsPercentage:
          nullable: true
          title: FreeThrowsPercentage
          type: number
        GameID:
          nullable: true
          title: GameID
          type: integer
        Games:
          nullable: true
          title: Games
          type: integer
        GlobalGameID:
          nullable: true
          title: GlobalGameID
          type: integer
        GlobalOpponentID:
          nullable: true
          title: GlobalOpponentID
          type: integer
        GlobalTeamID:
          nullable: true
          title: GlobalTeamID
          type: integer
        HomeOrAway:
          nullable: true
          title: HomeOrAway
          type: string
        InjuryBodyPart:
          nullable: true
          title: InjuryBodyPart
          type: string
        InjuryNotes:
          nullable: true
          title: InjuryNotes
          type: string
        InjuryStartDate:
          nullable: true
          title: InjuryStartDate
          type: string
        InjuryStatus:
          nullable: true
          title: InjuryStatus
          type: string
        IsGameOver:
          nullable: false
          title: IsGameOver
          type: boolean
        Minutes:
          nullable: true
          title: Minutes
          type: integer
        Name:
          nullable: true
          title: Name
          type: string
        OffensiveRebounds:
          nullable: true
          title: OffensiveRebounds
          type: integer
        OffensiveReboundsPercentage:
          nullable: true
          title: OffensiveReboundsPercentage
          type: number
        Opponent:
          nullable: true
          title: Opponent
          type: string
        OpponentID:
          nullable: true
          title: OpponentID
          type: integer
        OpponentPositionRank:
          nullable: true
          title: OpponentPositionRank
          type: integer
        OpponentRank:
          nullable: true
          title: OpponentRank
          type: integer
        PersonalFouls:
          nullable: true
          title: PersonalFouls
          type: integer
        PlayerEfficiencyRating:
          nullable: true
          title: PlayerEfficiencyRating
          type: number
        PlayerID:
          nullable: true
          title: PlayerID
          type: integer
        Points:
          nullable: true
          title: Points
          type: integer
        Position:
          nullable: true
          title: Position
          type: string
        Rebounds:
          nullable: true
          title: Rebounds
          type: integer
        Season:
          nullable: true
          title: Season
          type: integer
        SeasonType:
          nullable: true
          title: SeasonType
          type: integer
        StatID:
          nullable: false
          title: StatID
          type: integer
        Steals:
          nullable: true
          title: Steals
          type: integer
        StealsPercentage:
          nullable: true
          title: StealsPercentage
          type: number
        Team:
          nullable: true
          title: Team
          type: string
        TeamID:
          nullable: true
          title: TeamID
          type: integer
        ThreePointersAttempted:
          nullable: true
          title: ThreePointersAttempted
          type: integer
        ThreePointersMade:
          nullable: true
          title: ThreePointersMade
          type: integer
        ThreePointersPercentage:
          nullable: true
          title: ThreePointersPercentage
          type: number
        TotalReboundsPercentage:
          nullable: true
          title: TotalReboundsPercentage
          type: number
        TrueShootingAttempts:
          nullable: true
          title: TrueShootingAttempts
          type: number
        TrueShootingPercentage:
          nullable: true
          title: TrueShootingPercentage
          type: number
        TurnOversPercentage:
          nullable: true
          title: TurnOversPercentage
          type: number
        Turnovers:
          nullable: true
          title: Turnovers
          type: integer
        TwoPointersAttempted:
          nullable: true
          title: TwoPointersAttempted
          type: integer
        TwoPointersMade:
          nullable: true
          title: TwoPointersMade
          type: integer
        TwoPointersPercentage:
          nullable: true
          title: TwoPointersPercentage
          type: number
        Updated:
          nullable: true
          title: Updated
          type: string
        UsageRatePercentage:
          nullable: true
          title: UsageRatePercentage
          type: number
        YahooPosition:
          nullable: true
          title: YahooPosition
          type: string
        YahooSalary:
          nullable: true
          title: YahooSalary
          type: integer
      title: PlayerGame
    PlayerGameProjection:
      example:
        PlayerID: 6
        FanDuelPosition: FanDuelPosition
        InjuryStartDate: InjuryStartDate
        FreeThrowsPercentage: 5.025004791520295
        ThreePointersAttempted: 8
        GlobalTeamID: 9
        DateTime: DateTime
        InjuryStatus: InjuryStatus
        Minutes: 6
        TotalReboundsPercentage: 3.0576100241049344
        DraftKingsSalary: 7
        Name: Name
        Steals: 6
        FreeThrowsAttempted: 1
        GameID: 9
        OpponentPositionRank: 2
        Updated: Updated
        Position: Position
        ThreePointersPercentage: 3.0205796992916243
        FantasyPointsFanDuel: 1.2315135367772556
        TwoPointersMade: 6
        OpponentID: 1
        Assists: 0
        PersonalFouls: 6
        OffensiveReboundsPercentage: 6.965117697638846
        StealsPercentage: 0.10263654006109402
        FantasyPointsDraftKings: 7.386281948385884
        Games: 9
        BlockedShots: 1
        StatID: 7
        TrueShootingAttempts: 7.04836565559697
        BlocksPercentage: 5.962133916683182
        OffensiveRebounds: 3
        IsGameOver: true
        DefensiveRebounds: 5
        FantasyPointsYahoo: 1.0246457001441578
        OpponentRank: 6
        Rebounds: 3
        TeamID: 4
        FieldGoalsPercentage: 7.457744773683766
        Turnovers: 4
        YahooSalary: 4
        FantasyDataSalary: 2
        ThreePointersMade: 7
        TwoPointersPercentage: 4.258773108174356
        Points: 3
        FieldGoalsAttempted: 1
        DraftKingsPosition: DraftKingsPosition
        GlobalOpponentID: 8
        Opponent: Opponent
        Team: Team
        Season: 7
        GlobalGameID: 6
        YahooPosition: YahooPosition
        FanDuelSalary: 3
        FantasyPoints: 4.145608029883936
        AssistsPercentage: 6.027456183070403
        DefensiveReboundsPercentage: 2.3021358869347655
        EffectiveFieldGoalsPercentage: 9.301444243932576
        TwoPointersAttempted: 0
        InjuryBodyPart: InjuryBodyPart
        HomeOrAway: HomeOrAway
        InjuryNotes: InjuryNotes
        SeasonType: 0
        FreeThrowsMade: 4
        FieldGoalsMade: 6
        UsageRatePercentage: 1.041444916118296
        PlayerEfficiencyRating: 5.944895607614016
        TurnOversPercentage: 3.2588565619047607
        Day: Day
        TrueShootingPercentage: 5.533258397034986
      properties:
        Assists:
          nullable: true
          title: Assists
          type: integer
        AssistsPercentage:
          nullable: true
          title: AssistsPercentage
          type: number
        BlockedShots:
          nullable: true
          title: BlockedShots
          type: integer
        BlocksPercentage:
          nullable: true
          title: BlocksPercentage
          type: number
        DateTime:
          nullable: true
          title: DateTime
          type: string
        Day:
          nullable: true
          title: Day
          type: string
        DefensiveRebounds:
          nullable: true
          title: DefensiveRebounds
          type: integer
        DefensiveReboundsPercentage:
          nullable: true
          title: DefensiveReboundsPercentage
          type: number
        DraftKingsPosition:
          nullable: true
          title: DraftKingsPosition
          type: string
        DraftKingsSalary:
          nullable: true
          title: DraftKingsSalary
          type: integer
        EffectiveFieldGoalsPercentage:
          nullable: true
          title: EffectiveFieldGoalsPercentage
          type: number
        FanDuelPosition:
          nullable: true
          title: FanDuelPosition
          type: string
        FanDuelSalary:
          nullable: true
          title: FanDuelSalary
          type: integer
        FantasyDataSalary:
          nullable: true
          title: FantasyDataSalary
          type: integer
        FantasyPoints:
          nullable: true
          title: FantasyPoints
          type: number
        FantasyPointsDraftKings:
          nullable: true
          title: FantasyPointsDraftKings
          type: number
        FantasyPointsFanDuel:
          nullable: true
          title: FantasyPointsFanDuel
          type: number
        FantasyPointsYahoo:
          nullable: true
          title: FantasyPointsYahoo
          type: number
        FieldGoalsAttempted:
          nullable: true
          title: FieldGoalsAttempted
          type: integer
        FieldGoalsMade:
          nullable: true
          title: FieldGoalsMade
          type: integer
        FieldGoalsPercentage:
          nullable: true
          title: FieldGoalsPercentage
          type: number
        FreeThrowsAttempted:
          nullable: true
          title: FreeThrowsAttempted
          type: integer
        FreeThrowsMade:
          nullable: true
          title: FreeThrowsMade
          type: integer
        FreeThrowsPercentage:
          nullable: true
          title: FreeThrowsPercentage
          type: number
        GameID:
          nullable: true
          title: GameID
          type: integer
        Games:
          nullable: true
          title: Games
          type: integer
        GlobalGameID:
          nullable: true
          title: GlobalGameID
          type: integer
        GlobalOpponentID:
          nullable: true
          title: GlobalOpponentID
          type: integer
        GlobalTeamID:
          nullable: true
          title: GlobalTeamID
          type: integer
        HomeOrAway:
          nullable: true
          title: HomeOrAway
          type: string
        InjuryBodyPart:
          nullable: true
          title: InjuryBodyPart
          type: string
        InjuryNotes:
          nullable: true
          title: InjuryNotes
          type: string
        InjuryStartDate:
          nullable: true
          title: InjuryStartDate
          type: string
        InjuryStatus:
          nullable: true
          title: InjuryStatus
          type: string
        IsGameOver:
          nullable: false
          title: IsGameOver
          type: boolean
        Minutes:
          nullable: true
          title: Minutes
          type: integer
        Name:
          nullable: true
          title: Name
          type: string
        OffensiveRebounds:
          nullable: true
          title: OffensiveRebounds
          type: integer
        OffensiveReboundsPercentage:
          nullable: true
          title: OffensiveReboundsPercentage
          type: number
        Opponent:
          nullable: true
          title: Opponent
          type: string
        OpponentID:
          nullable: true
          title: OpponentID
          type: integer
        OpponentPositionRank:
          nullable: true
          title: OpponentPositionRank
          type: integer
        OpponentRank:
          nullable: true
          title: OpponentRank
          type: integer
        PersonalFouls:
          nullable: true
          title: PersonalFouls
          type: integer
        PlayerEfficiencyRating:
          nullable: true
          title: PlayerEfficiencyRating
          type: number
        PlayerID:
          nullable: true
          title: PlayerID
          type: integer
        Points:
          nullable: true
          title: Points
          type: integer
        Position:
          nullable: true
          title: Position
          type: string
        Rebounds:
          nullable: true
          title: Rebounds
          type: integer
        Season:
          nullable: true
          title: Season
          type: integer
        SeasonType:
          nullable: true
          title: SeasonType
          type: integer
        StatID:
          nullable: false
          title: StatID
          type: integer
        Steals:
          nullable: true
          title: Steals
          type: integer
        StealsPercentage:
          nullable: true
          title: StealsPercentage
          type: number
        Team:
          nullable: true
          title: Team
          type: string
        TeamID:
          nullable: true
          title: TeamID
          type: integer
        ThreePointersAttempted:
          nullable: true
          title: ThreePointersAttempted
          type: integer
        ThreePointersMade:
          nullable: true
          title: ThreePointersMade
          type: integer
        ThreePointersPercentage:
          nullable: true
          title: ThreePointersPercentage
          type: number
        TotalReboundsPercentage:
          nullable: true
          title: TotalReboundsPercentage
          type: number
        TrueShootingAttempts:
          nullable: true
          title: TrueShootingAttempts
          type: number
        TrueShootingPercentage:
          nullable: true
          title: TrueShootingPercentage
          type: number
        TurnOversPercentage:
          nullable: true
          title: TurnOversPercentage
          type: number
        Turnovers:
          nullable: true
          title: Turnovers
          type: integer
        TwoPointersAttempted:
          nullable: true
          title: TwoPointersAttempted
          type: integer
        TwoPointersMade:
          nullable: true
          title: TwoPointersMade
          type: integer
        TwoPointersPercentage:
          nullable: true
          title: TwoPointersPercentage
          type: number
        Updated:
          nullable: true
          title: Updated
          type: string
        UsageRatePercentage:
          nullable: true
          title: UsageRatePercentage
          type: number
        YahooPosition:
          nullable: true
          title: YahooPosition
          type: string
        YahooSalary:
          nullable: true
          title: YahooSalary
          type: integer
      title: PlayerGameProjection
    PlayerSeason:
      example:
        PlayerID: 9
        FreeThrowsPercentage: 7.457744773683766
        ThreePointersAttempted: 6
        GlobalTeamID: 4
        Minutes: 5
        TotalReboundsPercentage: 7.143538047012306
        Name: Name
        Steals: 6
        FreeThrowsAttempted: 1
        Updated: Updated
        Position: Position
        ThreePointersPercentage: 3.0937452626664474
        FantasyPointsFanDuel: 2.027123023002322
        TwoPointersMade: 8
        Assists: 0
        PersonalFouls: 6
        OffensiveReboundsPercentage: 9.369310271410669
        StealsPercentage: 6.878052220127876
        FantasyPointsDraftKings: 3.616076749251911
        Games: 1
        BlockedShots: 1
        StatID: 2
        TrueShootingAttempts: 0.8851374739011653
        BlocksPercentage: 5.962133916683182
        OffensiveRebounds: 9
        DefensiveRebounds: 5
        FantasyPointsYahoo: 4.145608029883936
        Rebounds: 3
        TeamID: 5
        FieldGoalsPercentage: 1.0246457001441578
        Turnovers: 0
        ThreePointersMade: 3
        TwoPointersPercentage: 7.740351818741173
        Points: 6
        FieldGoalsAttempted: 7
        Team: Team
        Season: 6
        FantasyPoints: 9.301444243932576
        AssistsPercentage: 6.027456183070403
        DefensiveReboundsPercentage: 2.3021358869347655
        EffectiveFieldGoalsPercentage: 7.061401241503109
        TwoPointersAttempted: 4
        SeasonType: 1
        FreeThrowsMade: 6
        FieldGoalsMade: 1
        UsageRatePercentage: 3.0205796992916243
        PlayerEfficiencyRating: 8.762042012749001
        TurnOversPercentage: 6.519180951018382
        TrueShootingPercentage: 7.058770351582356
      properties:
        Assists:
          nullable: true
          title: Assists
          type: integer
        AssistsPercentage:
          nullable: true
          title: AssistsPercentage
          type: number
        BlockedShots:
          nullable: true
          title: BlockedShots
          type: integer
        BlocksPercentage:
          nullable: true
          title: BlocksPercentage
          type: number
        DefensiveRebounds:
          nullable: true
          title: DefensiveRebounds
          type: integer
        DefensiveReboundsPercentage:
          nullable: true
          title: DefensiveReboundsPercentage
          type: number
        EffectiveFieldGoalsPercentage:
          nullable: true
          title: EffectiveFieldGoalsPercentage
          type: number
        FantasyPoints:
          nullable: true
          title: FantasyPoints
          type: number
        FantasyPointsDraftKings:
          nullable: true
          title: FantasyPointsDraftKings
          type: number
        FantasyPointsFanDuel:
          nullable: true
          title: FantasyPointsFanDuel
          type: number
        FantasyPointsYahoo:
          nullable: true
          title: FantasyPointsYahoo
          type: number
        FieldGoalsAttempted:
          nullable: true
          title: FieldGoalsAttempted
          type: integer
        FieldGoalsMade:
          nullable: true
          title: FieldGoalsMade
          type: integer
        FieldGoalsPercentage:
          nullable: true
          title: FieldGoalsPercentage
          type: number
        FreeThrowsAttempted:
          nullable: true
          title: FreeThrowsAttempted
          type: integer
        FreeThrowsMade:
          nullable: true
          title: FreeThrowsMade
          type: integer
        FreeThrowsPercentage:
          nullable: true
          title: FreeThrowsPercentage
          type: number
        Games:
          nullable: true
          title: Games
          type: integer
        GlobalTeamID:
          nullable: true
          title: GlobalTeamID
          type: integer
        Minutes:
          nullable: true
          title: Minutes
          type: integer
        Name:
          nullable: true
          title: Name
          type: string
        OffensiveRebounds:
          nullable: true
          title: OffensiveRebounds
          type: integer
        OffensiveReboundsPercentage:
          nullable: true
          title: OffensiveReboundsPercentage
          type: number
        PersonalFouls:
          nullable: true
          title: PersonalFouls
          type: integer
        PlayerEfficiencyRating:
          nullable: true
          title: PlayerEfficiencyRating
          type: number
        PlayerID:
          nullable: true
          title: PlayerID
          type: integer
        Points:
          nullable: true
          title: Points
          type: integer
        Position:
          nullable: true
          title: Position
          type: string
        Rebounds:
          nullable: true
          title: Rebounds
          type: integer
        Season:
          nullable: true
          title: Season
          type: integer
        SeasonType:
          nullable: true
          title: SeasonType
          type: integer
        StatID:
          nullable: false
          title: StatID
          type: integer
        Steals:
          nullable: true
          title: Steals
          type: integer
        StealsPercentage:
          nullable: true
          title: StealsPercentage
          type: number
        Team:
          nullable: true
          title: Team
          type: string
        TeamID:
          nullable: true
          title: TeamID
          type: integer
        ThreePointersAttempted:
          nullable: true
          title: ThreePointersAttempted
          type: integer
        ThreePointersMade:
          nullable: true
          title: ThreePointersMade
          type: integer
        ThreePointersPercentage:
          nullable: true
          title: ThreePointersPercentage
          type: number
        TotalReboundsPercentage:
          nullable: true
          title: TotalReboundsPercentage
          type: number
        TrueShootingAttempts:
          nullable: true
          title: TrueShootingAttempts
          type: number
        TrueShootingPercentage:
          nullable: true
          title: TrueShootingPercentage
          type: number
        TurnOversPercentage:
          nullable: true
          title: TurnOversPercentage
          type: number
        Turnovers:
          nullable: true
          title: Turnovers
          type: integer
        TwoPointersAttempted:
          nullable: true
          title: TwoPointersAttempted
          type: integer
        TwoPointersMade:
          nullable: true
          title: TwoPointersMade
          type: integer
        TwoPointersPercentage:
          nullable: true
          title: TwoPointersPercentage
          type: number
        Updated:
          nullable: true
          title: Updated
          type: string
        UsageRatePercentage:
          nullable: true
          title: UsageRatePercentage
          type: number
      title: PlayerSeason
    Season:
      example:
        Description: Description
        EndYear: 0
        RegularSeasonStartDate: RegularSeasonStartDate
        StartYear: 1
        PostSeasonStartDate: PostSeasonStartDate
        ApiSeason: ApiSeason
        Season: 6
      properties:
        ApiSeason:
          nullable: true
          title: ApiSeason
          type: string
        Description:
          nullable: true
          title: Description
          type: string
        EndYear:
          nullable: false
          title: EndYear
          type: integer
        PostSeasonStartDate:
          nullable: true
          title: PostSeasonStartDate
          type: string
        RegularSeasonStartDate:
          nullable: true
          title: RegularSeasonStartDate
          type: string
        Season:
          nullable: false
          title: Season
          type: integer
        StartYear:
          nullable: false
          title: StartYear
          type: integer
      title: Season
    Stadium:
      example:
        Zip: Zip
        Active: true
        Address: Address
        GeoLat: 3.353193347011243
        Capacity: 6
        State: State
        Country: Country
        GeoLong: 3.0937452626664474
        City: City
        Name: Name
        StadiumID: 7
      properties:
        Active:
          nullable: false
          title: Active
          type: boolean
        Address:
          nullable: true
          title: Address
          type: string
        Capacity:
          nullable: true
          title: Capacity
          type: integer
        City:
          nullable: true
          title: City
          type: string
        Country:
          nullable: true
          title: Country
          type: string
        GeoLat:
          nullable: true
          title: GeoLat
          type: number
        GeoLong:
          nullable: true
          title: GeoLong
          type: number
        Name:
          nullable: true
          title: Name
          type: string
        StadiumID:
          nullable: false
          title: StadiumID
          type: integer
        State:
          nullable: true
          title: State
          type: string
        Zip:
          nullable: true
          title: Zip
          type: string
      title: Stadium
    Team:
      example:
        Stadium:
          Zip: Zip
          Active: true
          Address: Address
          GeoLat: 3.353193347011243
          Capacity: 6
          State: State
          Country: Country
          GeoLong: 3.0937452626664474
          City: City
          Name: Name
          StadiumID: 7
        ConferenceLosses: 5
        ApRank: 6
        GlobalTeamID: 2
        TeamID: 9
        Conference: Conference
        Name: Name
        Active: true
        School: School
        TeamLogoUrl: TeamLogoUrl
        Losses: 7
        ShortDisplayName: ShortDisplayName
        ConferenceID: 1
        ConferenceWins: 5
        Key: Key
        Wins: 3
      properties:
        Active:
          nullable: false
          title: Active
          type: boolean
        ApRank:
          nullable: true
          title: ApRank
          type: integer
        Conference:
          nullable: true
          title: Conference
          type: string
        ConferenceID:
          nullable: true
          title: ConferenceID
          type: integer
        ConferenceLosses:
          nullable: true
          title: ConferenceLosses
          type: integer
        ConferenceWins:
          nullable: true
          title: ConferenceWins
          type: integer
        GlobalTeamID:
          nullable: false
          title: GlobalTeamID
          type: integer
        Key:
          nullable: true
          title: Key
          type: string
        Losses:
          nullable: true
          title: Losses
          type: integer
        Name:
          nullable: true
          title: Name
          type: string
        School:
          nullable: true
          title: School
          type: string
        ShortDisplayName:
          nullable: true
          title: ShortDisplayName
          type: string
        Stadium:
          $ref: '#/components/schemas/Stadium'
        TeamID:
          nullable: false
          title: TeamID
          type: integer
        TeamLogoUrl:
          nullable: true
          title: TeamLogoUrl
          type: string
        Wins:
          nullable: true
          title: Wins
          type: integer
      title: Team
    TeamGame:
      example:
        FreeThrowsPercentage: 1.0639121808530916
        ThreePointersAttempted: 5
        GlobalTeamID: 7
        DateTime: DateTime
        Minutes: 1
        TotalReboundsPercentage: 6.749525837406151
        Name: Name
        Steals: 6
        Possessions: 8.276461147928103
        FreeThrowsAttempted: 5
        Wins: 4
        GameID: 3
        Updated: Updated
        ThreePointersPercentage: 7.3842318535314
        FantasyPointsFanDuel: 3.812761638325517
        TwoPointersMade: 7
        OpponentID: 8
        Assists: 4
        PersonalFouls: 2
        Losses: 9
        OffensiveReboundsPercentage: 3.209082285545927
        StealsPercentage: 0.8411762798681321
        FantasyPointsDraftKings: 1.2555055362323109
        Games: 9
        BlockedShots: 9
        StatID: 2
        TrueShootingAttempts: 4.943637496515336
        BlocksPercentage: 0.58919091925136
        OffensiveRebounds: 4
        IsGameOver: true
        DefensiveRebounds: 4
        FantasyPointsYahoo: 5.6644160867523485
        Rebounds: 6
        TeamID: 2
        FieldGoalsPercentage: 5.7911894223693885
        Turnovers: 9
        ThreePointersMade: 0
        TwoPointersPercentage: 6.918231485891953
        Points: 4
        FieldGoalsAttempted: 1
        GlobalOpponentID: 7
        Opponent: Opponent
        Team: Team
        ConferenceWins: 6
        Season: 4
        GlobalGameID: 7
        ConferenceLosses: 2
        FantasyPoints: 1.3949519358941398
        AssistsPercentage: 2.7977867356748476
        DefensiveReboundsPercentage: 6.966044574347761
        EffectiveFieldGoalsPercentage: 9.806951670467935
        TwoPointersAttempted: 9
        HomeOrAway: HomeOrAway
        SeasonType: 8
        FreeThrowsMade: 3
        FieldGoalsMade: 4
        UsageRatePercentage: 0.11859130807119977
        PlayerEfficiencyRating: 9.146339979307802
        TurnOversPercentage: 0.4867146239815201
        Day: Day
        TrueShootingPercentage: 0.30134145536422907
      properties:
        Assists:
          nullable: true
          title: Assists
          type: integer
        AssistsPercentage:
          nullable: true
          title: AssistsPercentage
          type: number
        BlockedShots:
          nullable: true
          title: BlockedShots
          type: integer
        BlocksPercentage:
          nullable: true
          title: BlocksPercentage
          type: number
        ConferenceLosses:
          nullable: true
          title: ConferenceLosses
          type: integer
        ConferenceWins:
          nullable: true
          title: ConferenceWins
          type: integer
        DateTime:
          nullable: true
          title: DateTime
          type: string
        Day:
          nullable: true
          title: Day
          type: string
        DefensiveRebounds:
          nullable: true
          title: DefensiveRebounds
          type: integer
        DefensiveReboundsPercentage:
          nullable: true
          title: DefensiveReboundsPercentage
          type: number
        EffectiveFieldGoalsPercentage:
          nullable: true
          title: EffectiveFieldGoalsPercentage
          type: number
        FantasyPoints:
          nullable: true
          title: FantasyPoints
          type: number
        FantasyPointsDraftKings:
          nullable: true
          title: FantasyPointsDraftKings
          type: number
        FantasyPointsFanDuel:
          nullable: true
          title: FantasyPointsFanDuel
          type: number
        FantasyPointsYahoo:
          nullable: true
          title: FantasyPointsYahoo
          type: number
        FieldGoalsAttempted:
          nullable: true
          title: FieldGoalsAttempted
          type: integer
        FieldGoalsMade:
          nullable: true
          title: FieldGoalsMade
          type: integer
        FieldGoalsPercentage:
          nullable: true
          title: FieldGoalsPercentage
          type: number
        FreeThrowsAttempted:
          nullable: true
          title: FreeThrowsAttempted
          type: integer
        FreeThrowsMade:
          nullable: true
          title: FreeThrowsMade
          type: integer
        FreeThrowsPercentage:
          nullable: true
          title: FreeThrowsPercentage
          type: number
        GameID:
          nullable: true
          title: GameID
          type: integer
        Games:
          nullable: true
          title: Games
          type: integer
        GlobalGameID:
          nullable: true
          title: GlobalGameID
          type: integer
        GlobalOpponentID:
          nullable: true
          title: GlobalOpponentID
          type: integer
        GlobalTeamID:
          nullable: true
          title: GlobalTeamID
          type: integer
        HomeOrAway:
          nullable: true
          title: HomeOrAway
          type: string
        IsGameOver:
          nullable: false
          title: IsGameOver
          type: boolean
        Losses:
          nullable: true
          title: Losses
          type: integer
        Minutes:
          nullable: true
          title: Minutes
          type: integer
        Name:
          nullable: true
          title: Name
          type: string
        OffensiveRebounds:
          nullable: true
          title: OffensiveRebounds
          type: integer
        OffensiveReboundsPercentage:
          nullable: true
          title: OffensiveReboundsPercentage
          type: number
        Opponent:
          nullable: true
          title: Opponent
          type: string
        OpponentID:
          nullable: true
          title: OpponentID
          type: integer
        PersonalFouls:
          nullable: true
          title: PersonalFouls
          type: integer
        PlayerEfficiencyRating:
          nullable: true
          title: PlayerEfficiencyRating
          type: number
        Points:
          nullable: true
          title: Points
          type: integer
        Possessions:
          nullable: true
          title: Possessions
          type: number
        Rebounds:
          nullable: true
          title: Rebounds
          type: integer
        Season:
          nullable: true
          title: Season
          type: integer
        SeasonType:
          nullable: true
          title: SeasonType
          type: integer
        StatID:
          nullable: false
          title: StatID
          type: integer
        Steals:
          nullable: true
          title: Steals
          type: integer
        StealsPercentage:
          nullable: true
          title: StealsPercentage
          type: number
        Team:
          nullable: true
          title: Team
          type: string
        TeamID:
          nullable: true
          title: TeamID
          type: integer
        ThreePointersAttempted:
          nullable: true
          title: ThreePointersAttempted
          type: integer
        ThreePointersMade:
          nullable: true
          title: ThreePointersMade
          type: integer
        ThreePointersPercentage:
          nullable: true
          title: ThreePointersPercentage
          type: number
        TotalReboundsPercentage:
          nullable: true
          title: TotalReboundsPercentage
          type: number
        TrueShootingAttempts:
          nullable: true
          title: TrueShootingAttempts
          type: number
        TrueShootingPercentage:
          nullable: true
          title: TrueShootingPercentage
          type: number
        TurnOversPercentage:
          nullable: true
          title: TurnOversPercentage
          type: number
        Turnovers:
          nullable: true
          title: Turnovers
          type: integer
        TwoPointersAttempted:
          nullable: true
          title: TwoPointersAttempted
          type: integer
        TwoPointersMade:
          nullable: true
          title: TwoPointersMade
          type: integer
        TwoPointersPercentage:
          nullable: true
          title: TwoPointersPercentage
          type: number
        Updated:
          nullable: true
          title: Updated
          type: string
        UsageRatePercentage:
          nullable: true
          title: UsageRatePercentage
          type: number
        Wins:
          nullable: true
          title: Wins
          type: integer
      title: TeamGame
    TeamSeason:
      example:
        FreeThrowsPercentage: 4.965218492984954
        ThreePointersAttempted: 7
        GlobalTeamID: 9
        Minutes: 6
        TotalReboundsPercentage: 6.519180951018382
        Name: Name
        Steals: 6
        Possessions: 1.284659006116532
        FreeThrowsAttempted: 7
        Wins: 3
        Updated: Updated
        ThreePointersPercentage: 7.058770351582356
        FantasyPointsFanDuel: 7.386281948385884
        TwoPointersMade: 3
        Assists: 0
        PersonalFouls: 6
        Losses: 9
        OffensiveReboundsPercentage: 9.018348186070783
        StealsPercentage: 3.353193347011243
        FantasyPointsDraftKings: 4.145608029883936
        Games: 5
        BlockedShots: 1
        StatID: 5
        TrueShootingAttempts: 0.10263654006109402
        BlocksPercentage: 5.962133916683182
        OffensiveRebounds: 8
        DefensiveRebounds: 7
        FantasyPointsYahoo: 1.2315135367772556
        Rebounds: 2
        TeamID: 3
        FieldGoalsPercentage: 6.84685269835264
        Turnovers: 7
        ThreePointersMade: 0
        TwoPointersPercentage: 7.04836565559697
        Points: 6
        FieldGoalsAttempted: 1
        Team: Team
        ConferenceWins: 2
        Season: 6
        ConferenceLosses: 5
        FantasyPoints: 2.027123023002322
        AssistsPercentage: 6.027456183070403
        DefensiveReboundsPercentage: 9.301444243932576
        EffectiveFieldGoalsPercentage: 3.616076749251911
        TwoPointersAttempted: 3
        SeasonType: 6
        FreeThrowsMade: 1
        FieldGoalsMade: 1
        UsageRatePercentage: 5.533258397034986
        PlayerEfficiencyRating: 3.5571952270680973
        TurnOversPercentage: 8.969578798196912
        TrueShootingPercentage: 4.652396432933246
      properties:
        Assists:
          nullable: true
          title: Assists
          type: integer
        AssistsPercentage:
          nullable: true
          title: AssistsPercentage
          type: number
        BlockedShots:
          nullable: true
          title: BlockedShots
          type: integer
        BlocksPercentage:
          nullable: true
          title: BlocksPercentage
          type: number
        ConferenceLosses:
          nullable: true
          title: ConferenceLosses
          type: integer
        ConferenceWins:
          nullable: true
          title: ConferenceWins
          type: integer
        DefensiveRebounds:
          nullable: true
          title: DefensiveRebounds
          type: integer
        DefensiveReboundsPercentage:
          nullable: true
          title: DefensiveReboundsPercentage
          type: number
        EffectiveFieldGoalsPercentage:
          nullable: true
          title: EffectiveFieldGoalsPercentage
          type: number
        FantasyPoints:
          nullable: true
          title: FantasyPoints
          type: number
        FantasyPointsDraftKings:
          nullable: true
          title: FantasyPointsDraftKings
          type: number
        FantasyPointsFanDuel:
          nullable: true
          title: FantasyPointsFanDuel
          type: number
        FantasyPointsYahoo:
          nullable: true
          title: FantasyPointsYahoo
          type: number
        FieldGoalsAttempted:
          nullable: true
          title: FieldGoalsAttempted
          type: integer
        FieldGoalsMade:
          nullable: true
          title: FieldGoalsMade
          type: integer
        FieldGoalsPercentage:
          nullable: true
          title: FieldGoalsPercentage
          type: number
        FreeThrowsAttempted:
          nullable: true
          title: FreeThrowsAttempted
          type: integer
        FreeThrowsMade:
          nullable: true
          title: FreeThrowsMade
          type: integer
        FreeThrowsPercentage:
          nullable: true
          title: FreeThrowsPercentage
          type: number
        Games:
          nullable: true
          title: Games
          type: integer
        GlobalTeamID:
          nullable: true
          title: GlobalTeamID
          type: integer
        Losses:
          nullable: true
          title: Losses
          type: integer
        Minutes:
          nullable: true
          title: Minutes
          type: integer
        Name:
          nullable: true
          title: Name
          type: string
        OffensiveRebounds:
          nullable: true
          title: OffensiveRebounds
          type: integer
        OffensiveReboundsPercentage:
          nullable: true
          title: OffensiveReboundsPercentage
          type: number
        PersonalFouls:
          nullable: true
          title: PersonalFouls
          type: integer
        PlayerEfficiencyRating:
          nullable: true
          title: PlayerEfficiencyRating
          type: number
        Points:
          nullable: true
          title: Points
          type: integer
        Possessions:
          nullable: true
          title: Possessions
          type: number
        Rebounds:
          nullable: true
          title: Rebounds
          type: integer
        Season:
          nullable: true
          title: Season
          type: integer
        SeasonType:
          nullable: true
          title: SeasonType
          type: integer
        StatID:
          nullable: false
          title: StatID
          type: integer
        Steals:
          nullable: true
          title: Steals
          type: integer
        StealsPercentage:
          nullable: true
          title: StealsPercentage
          type: number
        Team:
          nullable: true
          title: Team
          type: string
        TeamID:
          nullable: true
          title: TeamID
          type: integer
        ThreePointersAttempted:
          nullable: true
          title: ThreePointersAttempted
          type: integer
        ThreePointersMade:
          nullable: true
          title: ThreePointersMade
          type: integer
        ThreePointersPercentage:
          nullable: true
          title: ThreePointersPercentage
          type: number
        TotalReboundsPercentage:
          nullable: true
          title: TotalReboundsPercentage
          type: number
        TrueShootingAttempts:
          nullable: true
          title: TrueShootingAttempts
          type: number
        TrueShootingPercentage:
          nullable: true
          title: TrueShootingPercentage
          type: number
        TurnOversPercentage:
          nullable: true
          title: TurnOversPercentage
          type: number
        Turnovers:
          nullable: true
          title: Turnovers
[...]
