openapi: 3.0.1
info:
  description: Helps acquirers identify potentially high-risk merchants before entering
    to a merchant agreement.
  title: MATCH API
  version: 1.0.0
  x-artifactId: match
  x-origin:
  - format: swagger
    url: https://developer.mastercard.com/devzone/api/portal/swagger/match
    version: "2.0"
  x-providerName: mastercard.com
  x-serviceName: MATCH
servers:
- url: https://api.mastercard.com/
paths:
  /fraud/merchant/v3/add-merchant:
    post:
      description: |
        Used by Acquirers to add a terminated a merchant in the MATCH system. Merchant information, and up to five principal owners per merchant, can be provided by an acquiring bank as part of the listing.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddTerminatedMerchantRequestSchema'
        description: Body of the Add Terminated Merchant Request
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddTerminatedMerchantResponseSchema'
          description: The add terminated merchant response object.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
          description: Unexpected error
      summary: "Used by Acquirers to add a terminated a merchant in the MATCH system.\
        \ Merchant information, and up to five principal owners per merchant, can\
        \ be provided by an acquiring bank as part of the listing."
      tags:
      - Add Terminated Merchant
      x-samples:
      - name: example_add_terminated_merchant
        request:
          application/json: |-
            {
                "AddMerchantRequest": {
                    "AcquirerId": "1996",
                    "Merchant": {
                        "Name": "TEST TECHMERCHANT1",
                        "DoingBusinessAsName": "TEST TECHMERCHANT1",
                        "MerchantId": "@remember-integer[15]@",
                        "MerchantCategory": "0742",
                        "Address": {
                            "Line1": "6700 Ben Nevis",
                            "Line2": "",
                            "City": "GLASGOW",
                            "Province": "",
                            "CountrySubdivision": "MA",
                            "PostalCode": "93137",
                            "Country": "USA"
                        },
                        "PhoneNumber": "5675542210",
                        "AltPhoneNumber": "5672655441",
                        "NationalTaxId": "56733",
                        "CountrySubdivisionTaxId": "37354",
                        "CATFlag": "N",
                        "DateOpened": "04/12/2009",
                        "DateClosed": "03/19/2013",
                        "ServiceProvLegal": "TEST SVC PRVDER",
                        "ServiceProvDBA": "JNL ASSOC",
                        "Url": [
                            "www.testjj.com",
                            "www.jnltestjj.com"
                        ],
                        "Principal": {
                            "FirstName": "PAUL",
                            "LastName": "HEMINGHOFF",
                            "MiddleInitial": "L",
                            "Address": {
                                "Line1": "2200 Shepley Drive",
                                "Line2": "SUITE 789",
                                "City": "BROWNSVILLE",
                                "Province": "",
                                "CountrySubdivision": "MO",
                                "PostalCode": "89022",
                                "Country": "USA"
                            },
                            "PhoneNumber": "3906541234",
                            "AltPhoneNumber": "4567390234",
                            "NationalId": "123456789",
                            "DriversLicense": {
                                "Number": "3K33094",
                                "CountrySubdivision": "MS",
                                "Country": "USA"
                            }
                        },
                        "ReasonCode": "04",
                        "Comments": "Added for test reasons"
                    }
                }
            }
        response:
          application/json: "{\n    \n}"
      x-codegen-request-body-name: AddTerminatedMerchantRequestSchema
      x-content-type: application/json
      x-accepts:
      - application/json
  /fraud/merchant/v3/common/contact-details:
    post:
      description: |
        Returns the contact information for the acquirer id requested. When MATCH returns a possible merchant match, this resource assists users by retrieving the contact information associated with the Acquirer ID/ICA that added the merchant to MATCH.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactRequestSchema'
        description: The contact request object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactResponseSchema'
          description: The acquirer contact response object.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
          description: Bad request
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
          description: Unexpected error
      summary: "Returns the contact information for the acquirer id requested. When\
        \ MATCH returns a possible merchant match, this resource assists users by\
        \ retrieving the contact information associated with the Acquirer ID/ICA that\
        \ added the merchant to MATCH."
      tags:
      - Acquirer Contact Request
      x-samples:
      - name: example_contact_details
        request:
          application/json: |-
            {

              "ContactRequest": {
                "AcquirerId": "12086"
              }

            }
        response:
          application/json: |-
            {

            }
      x-codegen-request-body-name: ContactRequest
      x-content-type: application/json
      x-accepts:
      - application/json
  /fraud/merchant/v3/retro/retro-inquiry-details:
    post:
      description: |
        Returns detailed information about Merchants, URLs and up to five principal owners, that have been terminated by an acquiring bank after the inquiry was made.  This MATCH resource assists acquirer's ability to consider the merchants terminated after the inquiry was made. If an initial inquiry does not result in a possible match, it is still possible that the merchant listing could appear sometime in the next 360 days. This may occur when another acquirer enters the merchant into the MATCH database. The system will automatically continue to search the MATCH system for 360 days. To view these notifications, acquirers must use the Retroactive Inquiry Summary service. This resource can be used to obtain detailed information, such as, if a Merchant or individual has been terminated by another acquirer after an inquiry was made, the reason for termination, and the history of fraudulent or risky business practices that led to that termination.
      parameters:
      - description: The Member ICA number which is used to validate that the application
          has permission to hit the MATCH database. This number must be obtained from
          a participating MATCH acquiring bank or entity before a developer can access
          the MATCH resource.
        in: query
        name: AcquirerId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetroInquiryRequestSchema'
        description: The retro inquiry request object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetroInquiryResponseSchema'
          description: The retroactive inquiry response object.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
          description: Unexpected error
      summary: "Returns detailed information about Merchants, URLs and up to five\
        \ principal owners, that have been terminated by an acquiring bank after the\
        \ inquiry was made.  This MATCH resource assists acquirer's ability to consider\
        \ the merchants terminated after the inquiry was made. If an initial inquiry\
        \ does not result in a possible match, it is still possible that the merchant\
        \ listing could appear sometime in the next 360 days. This may occur when\
        \ another acquirer enters the merchant into the MATCH database. The system\
        \ will automatically continue to search the MATCH system for 360 days. To\
        \ view these notifications, acquirers must use the Retroactive Inquiry Summary\
        \ service. This resource can be used to obtain detailed information, such\
        \ as, if a Merchant or individual has been terminated by another acquirer\
        \ after an inquiry was made, the reason for termination, and the history of\
        \ fraudulent or risky business practices that led to that termination."
      tags:
      - Retroactive Inquiry Details Request
      x-samples:
      - name: example_retroactive_inquiry_details
        request:
          application/json: |-
            {
              "AcquirerId" : " 1996",
              "RetroInquiryRequest" : {
                "InquiryReferenceNumber" : "19962014090200009"
              }
            }
        response:
          application/json: "{\n    \n}"
      x-testable: false
      x-codegen-request-body-name: RetroInquiryRequest
      x-content-type: application/json
      x-accepts:
      - application/json
  /fraud/merchant/v3/retro/retro-list:
    post:
      description: |
        Returns the summary of Retro matches for the given Acquirer Id. This resource will return the summary of Retroactive Inquiry matches for the given Acquirer ID/ICA. If an initial inquiry does not result in a possible match, it is still possible that the merchant listing could appear sometime in the next 360 days. This may occur when another acquirer enters the merchant into the MATCH database. The system will automatically continue to search the MATCH system for 360 days. To view these notifications, acquirers must use the Retroactive Inquiry service.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetroRequestSchema'
        description: The retro request object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetroResponseSchema'
          description: The retroactive request response object.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
          description: Unexpected error
      summary: "Returns the summary of Retro matches for the given Acquirer Id. This\
        \ resource will return the summary of Retroactive Inquiry matches for the\
        \ given Acquirer ID/ICA. If an initial inquiry does not result in a possible\
        \ match, it is still possible that the merchant listing could appear sometime\
        \ in the next 360 days. This may occur when another acquirer enters the merchant\
        \ into the MATCH database. The system will automatically continue to search\
        \ the MATCH system for 360 days. To view these notifications, acquirers must\
        \ use the Retroactive Inquiry service."
      tags:
      - Retroactive Inquiry Request
      x-samples:
      - name: example_retroactive_inquiry
        request:
          application/json: |-
            {
              "RetroRequest" : {
                "AcquirerId" : "1996"
              }
            }
        response:
          application/json: "{\n    \n}"
      x-testable: false
      x-codegen-request-body-name: RetroRequest
      x-content-type: application/json
      x-accepts:
      - application/json
  /fraud/merchant/v3/termination-inquiry:
    post:
      description: |
        Returns information on merchants that have been terminated and merchants which have been inquired upon. MATCH can provide the acquiring bank with information, such as, if a Merchant or individual has been terminated by another acquirer already, the reason for termination, the history of fraudulent or risky business practices that led to that termination and the inquiry that was made already on the Merchant or individual by own or another acquiring bank (If opted)
      parameters:
      - description: The zero-based offset to start at. The actual start position
          is this value +1. An offset of 10 starts at item 11. Combined with the PageLength
          option this allows pagination to be supported through the service requests.
        example: 0
        in: query
        name: PageOffset
        required: true
        schema:
          type: number
      - description: The maximum number of items to retrieve within the current "page"
          of results.
        example: 10
        in: query
        name: PageLength
        required: true
        schema:
          type: number
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TerminationInquiryRequestSchema'
        description: Body of the Termination Inquiry Request
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TerminationInquirySchema'
          description: The termination inquiry response object.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
          description: Unexpected error
      summary: "Returns information on merchants that have been terminated and merchants\
        \ that have inquired upon. Provides the acquiring bank with information, such\
        \ as, if a Merchant or individual has been terminated by another acquirer\
        \ already, the reason for termination, the history of fraudulent or risky\
        \ business practices that led to that termination and the inquiry that was\
        \ made already on the Merchant or individual by own or another acquiring bank\
        \ (if opted)."
      tags:
      - TerminationInquiryRequest
      x-samples:
      - name: example_termination_inquiry
        request:
          application/json: "{\n  \"PageOffset\" : \"0\",\n  \"PageLength\" : \"10\"\
            ,\n  \"TerminationInquiryRequest\": {\n    \"AcquirerId\": \"1996\",\n\
            \    \"Merchant\": {\n      \"Name\": \"XYZTEST  XYZTECHMERCHANT\",\n\
            \      \"DoingBusinessAsName\": \"XYZTEST  XYZTECHMERCHANT\",\n      \"\
            AltPhoneNumber\": \"3098876333\",\n      \"Address\": {\n        \"Line1\"\
            : \"88 Nounce World\",\n        \"Line2\": \"APT 9009\",\n        \"City\"\
            : \"MICKENVINCE\",\n        \"CountrySubdivision\": \"MO\",\n        \"\
            PostalCode\": \"66559\",\n        \"Country\": \"USA\"\n      },\n   \
            \   \"ServiceProvLegal\": \"JJC WORKSHIRE\",\n      \"Principal\": \n\
            \      [\n      {\n        \"FirstName\": \"PRINCE\",\n        \"LastName\"\
            : \"HENREY\",\n        \"PhoneNumber\": \"9983339923\",\n        \"AltPhoneNumber\"\
            : \"6365689336\",\n        \"Address\": {\n          \"Line1\": \"42 ELM\
            \ AVENUE\",\n          \"City\": \"DALLAS\",\n          \"CountrySubdivision\"\
            : \"IL\",\n          \"PostalCode\": \"66579\",\n          \"Country\"\
            : \"USA\"\n        },\n        \"DriversLicense\": {\n          \n   \
            \     }\n      }],\n      \"SearchCriteria\": {\n        \"SearchAll\"\
            : \"Y\",\n        \"MinPossibleMatchCount\": \"1\"\n      }\n    }\n \
            \ }\n}"
        response:
          application/json: |-
            {
              "TerminationInquiry": {
                "PageOffset": 0,
                "PossibleMerchantMatches": [
                  {
                    "TotalLength": 14,
                    "TerminatedMerchant": [
                      {
                        "Merchant": {
                          "Name": "XYZTEST  XYZTECHMERCHANT",
                          "DoingBusinessAsName": "XYZTEST  XYZTECHMERCHANT",
                          "AddedByAcquirerID": "1996",
                          "AddedOnDate": "10/13/2015",
                          "PhoneNumber": "5675543210",
                          "AltPhoneNumber": "5672655441",
                          "Address": {
                            "Line1": "6700 BEN NEVIS",
                            "City": "GLASGOW",
                            "CountrySubdivision": "MA",
                            "PostalCode": "93137",
                            "Country": "USA"
                          },
                          "CountrySubdivisionTaxId": "*****",
                          "NationalTaxId": "*****",
                          "ServiceProvLegal": "TESTXYZ SVC PRVDER",
                          "ServiceProvDBA": "JNL ASSOC",
                          "Principal": [
                            {
                              "FirstName": "PAUL",
                              "LastName": "HEMINGHOFF",
                              "NationalId": "*****",
                              "PhoneNumber": "3906541234",
                              "AltPhoneNumber": "4567390234",
                              "Address": {
                                "Line1": "2200 SHEPLEY DRIVE",
                                "Line2": "SUITE 789",
                                "City": "BROWNSVILLE",
                                "CountrySubdivision": "MO",
                                "PostalCode": "89022",
                                "Country": "USA"
                              },
                              "DriversLicense": {
                                "Number": "*****",
                                "CountrySubdivision": "MS",
                                "Country": "USA"
                              }
                            }
                          ],
                          "UrlGroup": [
                            {
                              "NoMatchUrls": {
                                "Url": [
                                  "WWW.TESTJJ.COM",
                                  "WWW.JNLTESTJJ.COM"
                                ]
                              }
                            }
                          ],
                          "TerminationReasonCode": "04"
                        },
                        "MerchantMatch": {
                          "Name": "M01",
                          "DoingBusinessAsName": "M02",
                          "Address": "M00",
                          "PhoneNumber": "M00",
                          "AltPhoneNumber": "M00",
                          "CountrySubdivisionTaxId": "M00",
                          "NationalTaxId": "M00",
                          "ServiceProvLegal": "M00",
                          "ServiceProvDBA": "M00",
                          "PrincipalMatch": [
                            {
                              "Name": "M00",
                              "Address": "M00",
                              "PhoneNumber": "M00",
                              "AltPhoneNumber": "M00",
                              "NationalId": "M00",
                              "DriversLicense": "M00"
                            }
                          ]
                        }
                      },
                      {
                        "Merchant": {
                          "Name": "XYZTEST  XYZTECHMERCHANT",
                          "DoingBusinessAsName": "XYZTEST  XYZTECHMERCHANT",
                          "AddedByAcquirerID": "1996",
                          "AddedOnDate": "01/20/2016",
                          "PhoneNumber": "5675543210",
                          "AltPhoneNumber": "5672655441",
                          "Address": {
                            "Line1": "6700 BEN NEVIS",
                            "City": "GLASGOW",
                            "CountrySubdivision": "MA",
                            "PostalCode": "93137",
                            "Country": "USA"
                          },
                          "CountrySubdivisionTaxId": "*****",
                          "NationalTaxId": "*****",
                          "ServiceProvLegal": "TESTXYZ SVC PRVDER",
                          "ServiceProvDBA": "JNL ASSOC",
                          "Principal": [
                            {
                              "FirstName": "PAUL",
                              "LastName": "HEMINGHOFF",
                              "NationalId": "*****",
                              "PhoneNumber": "3906541234",
                              "AltPhoneNumber": "4567390234",
                              "Address": {
                                "Line1": "2200 SHEPLEY DRIVE",
                                "Line2": "SUITE 789",
                                "City": "BROWNSVILLE",
                                "CountrySubdivision": "MO",
                                "PostalCode": "89022",
                                "Country": "USA"
                              },
                              "DriversLicense": {
                                "Number": "*****",
                                "CountrySubdivision": "MS",
                                "Country": "USA"
                              }
                            }
                          ],
                          "UrlGroup": [
                            {
                              "NoMatchUrls": {
                                "Url": [
                                  "WWW.TESTJJ.COM",
                                  "WWW.JNLTESTJJ.COM"
                                ]
                              }
                            }
                          ],
                          "TerminationReasonCode": "04"
                        },
                        "MerchantMatch": {
                          "Name": "M01",
                          "DoingBusinessAsName": "M02",
                          "Address": "M00",
                          "PhoneNumber": "M00",
                          "AltPhoneNumber": "M00",
                          "CountrySubdivisionTaxId": "M00",
                          "NationalTaxId": "M00",
                          "ServiceProvLegal": "M00",
                          "ServiceProvDBA": "M00",
                          "PrincipalMatch": [
                            {
                              "Name": "M00",
                              "Address": "M00",
                              "PhoneNumber": "M00",
                              "AltPhoneNumber": "M00",
                              "NationalId": "M00",
                              "DriversLicense": "M00"
                            }
                          ]
                        }
                      }
                    ]
                  }
                ]
              }
            }
      - name: example_termination_inquiry_documentation
        populateDefaults:
          application/json: |-
            {
              "PageOffset" : true,
              "PageLength" : true,
              "TerminationInquiryRequest": {
                "AcquirerId": true,
                "Merchant": {
                  "Name": true,
                  "DoingBusinessAsName": true,
                  "AltPhoneNumber": true,
                  "Address": {
                    "Line1": true,
                    "Line2": true,
                    "City": true,
                    "CountrySubdivision": true,
                    "PostalCode": true,
                    "Country": true
                  },
                  "ServiceProvLegal": true,
                  "Principal":
                    {
                      "FirstName": true,
                      "LastName": true,
                      "PhoneNumber": true,
                      "AltPhoneNumber": true,
                      "Address": {
                        "CountrySubdivision": true,
                        "PostalCode": true,
                        "Country": true
                      }
                    }
                  ,
                  "SearchCriteria": {
                    "SearchAll": true,
                    "MinPossibleMatchCount": true
                  }
                }
              }
            }
        request:
          application/json: "{\n  \"PageOffset\" : \"0\",\n  \"PageLength\" : \"10\"\
            ,\n  \"TerminationInquiryRequest\": {\n    \"AcquirerId\": \"1996\",\n\
            \    \"Merchant\": {\n      \"Name\": \"XYZTEST  XYZTECHMERCHANT\",\n\
            \      \"DoingBusinessAsName\": \"XYZTEST  XYZTECHMERCHANT\",\n      \"\
            AltPhoneNumber\": \"3098876333\",\n      \"Address\": {\n        \"Line1\"\
            : \"88 Nounce World\",\n        \"Line2\": \"APT 9009\",\n        \"City\"\
            : \"MICKENVINCE\",\n        \"CountrySubdivision\": \"MO\",\n        \"\
            PostalCode\": \"66559\",\n        \"Country\": \"USA\"\n      },\n   \
            \   \"ServiceProvLegal\": \"JJC WORKSHIRE\",\n      \"Principal\": [\n\
            \        {\n          \"FirstName\": \"PRINCE\",\n          \"LastName\"\
            : \"HENREY\",\n          \"PhoneNumber\": \"9983339923\",\n          \"\
            AltPhoneNumber\": \"6365689336\",\n          \"Address\": {\n        \
            \    \"Line1\": \"42 ELM AVENUE\",\n            \"City\": \"DALLAS\",\n\
            \            \"CountrySubdivision\": \"IL\",\n            \"PostalCode\"\
            : \"66579\",\n            \"Country\": \"USA\"\n          },\n       \
            \   \"DriversLicense\": {\n            \n          }\n        }\n    \
            \  ],\n      \"SearchCriteria\": {\n        \"SearchAll\": \"Y\",\n  \
            \      \"MinPossibleMatchCount\": \"1\"\n      }\n    }\n  }\n}"
        response:
          application/json: |-
            {
              "TerminationInquiry": {
                "PageOffset": 0,
                "PossibleMerchantMatches": [
                  {
                    "TotalLength": 14,
                    "TerminatedMerchant": [
                      {
                        "Merchant": {
                          "Name": "XYZTEST  XYZTECHMERCHANT",
                          "DoingBusinessAsName": "XYZTEST  XYZTECHMERCHANT",
                          "AddedByAcquirerID": "1996",
                          "AddedOnDate": "10/13/2015",
                          "PhoneNumber": "5675543210",
                          "AltPhoneNumber": "5672655441",
                          "Address": {
                            "Line1": "6700 BEN NEVIS",
                            "City": "GLASGOW",
                            "CountrySubdivision": "MA",
                            "PostalCode": "93137",
                            "Country": "USA"
                          },
                          "CountrySubdivisionTaxId": "*****",
                          "NationalTaxId": "*****",
                          "ServiceProvLegal": "TESTXYZ SVC PRVDER",
                          "ServiceProvDBA": "JNL ASSOC",
                          "Principal": [
                            {
                              "FirstName": "PAUL",
                              "LastName": "HEMINGHOFF",
                              "NationalId": "*****",
                              "PhoneNumber": "3906541234",
                              "AltPhoneNumber": "4567390234",
                              "Address": {
                                "Line1": "2200 SHEPLEY DRIVE",
                                "Line2": "SUITE 789",
                                "City": "BROWNSVILLE",
                                "CountrySubdivision": "MO",
                                "PostalCode": "89022",
                                "Country": "USA"
                              },
                              "DriversLicense": {
                                "Number": "*****",
                                "CountrySubdivision": "MS",
                                "Country": "USA"
                              }
                            }
                          ],
                          "UrlGroup": [
                            {
                              "NoMatchUrls": {
                                "Url": [
                                  "WWW.TESTJJ.COM",
                                  "WWW.JNLTESTJJ.COM"
                                ]
                              }
                            }
                          ],
                          "TerminationReasonCode": "04"
                        },
                        "MerchantMatch": {
                          "Name": "M01",
                          "DoingBusinessAsName": "M02",
                          "Address": "M00",
                          "PhoneNumber": "M00",
                          "AltPhoneNumber": "M00",
                          "CountrySubdivisionTaxId": "M00",
                          "NationalTaxId": "M00",
                          "ServiceProvLegal": "M00",
                          "ServiceProvDBA": "M00",
                          "PrincipalMatch": [
                            {
                              "Name": "M00",
                              "Address": "M00",
                              "PhoneNumber": "M00",
                              "AltPhoneNumber": "M00",
                              "NationalId": "M00",
                              "DriversLicense": "M00"
                            }
                          ]
                        }
                      },
                      {
                        "Merchant": {
                          "Name": "XYZTEST  XYZTECHMERCHANT",
                          "DoingBusinessAsName": "XYZTEST  XYZTECHMERCHANT",
                          "AddedByAcquirerID": "1996",
                          "AddedOnDate": "01/20/2016",
                          "PhoneNumber": "5675543210",
                          "AltPhoneNumber": "5672655441",
                          "Address": {
                            "Line1": "6700 BEN NEVIS",
                            "City": "GLASGOW",
                            "CountrySubdivision": "MA",
                            "PostalCode": "93137",
                            "Country": "USA"
                          },
                          "CountrySubdivisionTaxId": "*****",
                          "NationalTaxId": "*****",
                          "ServiceProvLegal": "TESTXYZ SVC PRVDER",
                          "ServiceProvDBA": "JNL ASSOC",
                          "Principal": [
                            {
                              "FirstName": "PAUL",
                              "LastName": "HEMINGHOFF",
                              "NationalId": "*****",
                              "PhoneNumber": "3906541234",
                              "AltPhoneNumber": "4567390234",
                              "Address": {
                                "Line1": "2200 SHEPLEY DRIVE",
                                "Line2": "SUITE 789",
                                "City": "BROWNSVILLE",
                                "CountrySubdivision": "MO",
                                "PostalCode": "89022",
                                "Country": "USA"
                              },
                              "DriversLicense": {
                                "Number": "*****",
                                "CountrySubdivision": "MS",
                                "Country": "USA"
                              }
                            }
                          ],
                          "UrlGroup": [
                            {
                              "NoMatchUrls": {
                                "Url": [
                                  "WWW.TESTJJ.COM",
                                  "WWW.JNLTESTJJ.COM"
                                ]
                              }
                            }
                          ],
                          "TerminationReasonCode": "04"
                        },
                        "MerchantMatch": {
                          "Name": "M01",
                          "DoingBusinessAsName": "M02",
                          "Address": "M00",
                          "PhoneNumber": "M00",
                          "AltPhoneNumber": "M00",
                          "CountrySubdivisionTaxId": "M00",
                          "NationalTaxId": "M00",
                          "ServiceProvLegal": "M00",
                          "ServiceProvDBA": "M00",
                          "PrincipalMatch": [
                            {
                              "Name": "M00",
                              "Address": "M00",
                              "PhoneNumber": "M00",
                              "AltPhoneNumber": "M00",
                              "NationalId": "M00",
                              "DriversLicense": "M00"
                            }
                          ]
                        }
                      }
                    ]
                  }
                ]
              }
            }
        type: documentation
      x-codegen-request-body-name: TerminationInquiryRequest
      x-content-type: application/json
      x-accepts:
      - application/json
  /fraud/merchant/v3/termination-inquiry/{IRN}:
    get:
      description: |
        Returns information about Merchants, URLs and up to five principal owners, that have been terminated by an acquiring bank from a previous inquiry. The Inquiry History Results resource displays the inquiry with the option to view either; Possible Merchant Matches or Possible Inquiry Matches.
      parameters:
      - description: The zero-based offset to start at. The actual start position
          is this value +1. An offset of 10 starts at item 11. Combined with the PageLength
          option this allows pagination to be supported through the service requests.
        example: 0
        in: query
        name: PageOffset
        required: true
        schema:
          type: number
      - description: The maximum number of items to retrieve within the current "page"
          of results.
        example: 10
        in: query
        name: PageLength
        required: true
        schema:
          type: number
      - description: The Member ICA number which is used to validate that the application
          has permission to hit the MATCH database. This number must be obtained from
          a participating MATCH acquiring bank or entity before a developer can access
          the MATCH resource.
        example: 1996
        in: query
        name: AcquirerId
        required: true
        schema:
          type: string
      - description: "Inquiry Reference Number (IRN) A unique identifier generated\
          \ by the MATCH system that is returned in the original, previously submitted\
          \ POST request (contained within the \"TerminationInquiry.Ref\" response\
          \ node). This unique identifier should be present as a URL parameter within\
          \ all GET requests."
        example: 19962016070500348
        in: path
        name: IRN
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TerminationInquirySchema'
          description: The termination inquiry history response object.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
          description: Unexpected error
      summary: "Returns information about Merchants, URLs and up to five principal\
        \ owners, that have been terminated by an acquiring bank from a previous inquiry.\
        \ The Inquiry History Results resource displays the inquiry with the option\
        \ to view either; Possible Merchant Matches or Possible Inquiry Matches."
      tags:
      - Termination Inquiry History Request
      x-samples:
      - name: example_termination_history_inquiry
        request:
          application/json: |-
            {
              "IRN" : "19962016070500348",
              "AcquirerId" : "1996",
              "PageOffset" : "0",
              "PageLength" : "10"
            }
              inquiry/19962016070500348?id=&AcquirerId=1996&PageOffset=0&PageLength=10
        response:
          application/json: "{\n    \n}"
      x-testable: false
      x-accepts:
      - application/json
components:
  schemas:
    AddMerchantMerchant:
      example:
        DateOpened: 12/31/2013
        DoingBusinessAsName: BAIT R US
        Address:
          Country: USA
          PostalCode: "66579"
          CountrySubdivision: IL
          City: DALLAS
          Line1: 42 ELM AVENUE
          Line2: SUITE 201
          Province: ""
        Comments: Added for reasons of fraud
        MerchantCategory: "0742"
        AltPhoneNumber: "6367558968"
        NationalTaxId: '*****'
        MerchantId: "@random-string[14]@"
        ReasonCode: "13"
        Url:
        - 'www.testmerchant.com '
        - 'www.testmerchant.com '
        CATFlag: "Y"
        Name: THE BAIT SHOP
        DateClosed: 10/12/2014
        CountrySubdivisionTaxId: '*****'
        PhoneNumber: "6367558963"
        ServiceProvLegal: XYZ FINANCIAL SERVICE INCORPORATED
        Principal:
          Address:
            Country: USA
            PostalCode: "66579"
            CountrySubdivision: IL
            City: DALLAS
            Line1: 42 ELM AVENUE
            Line2: SUITE 201
            Province: ""
          MiddleInitial: P
          FirstName: DAVID
          NationalId: "541022104"
          PhoneNumber: "3165557625"
          AltPhoneNumber: "3165557625"
          DriversLicense:
            Number: M15698025
            Country: USA
            CountrySubdivision: IL
          LastName: SMITH
          SearchCriteria:
            MinPossibleMatchCount: "3"
            SearchAll: "N"
            Country:
            - USA
            - USA
            Region:
            - A
            - A
        ServiceProvDBA: XYZ FINANCIAL SERVICE
      properties:
        Address:
          $ref: '#/components/schemas/Address'
        AltPhoneNumber:
          description: The Business or Merchant's alternate phone number.
          example: "6367558968"
          type: string
        CATFlag:
          description: Cardholder-activated terminal indicator.
          example: "Y"
          type: string
          x-explorer: true
        Comments:
          description: Brief comments on why Merchant is added
          example: Added for reasons of fraud
          type: string
        CountrySubdivisionTaxId:
          description: The Merchant's state tax ID; for the U.S region only. Return
            value will be hidden.
          example: '*****'
          type: string
          x-explorer: true
        DateClosed:
          description: Date the agreement was terminated with the merchant
          example: 10/12/2014
          type: string
          x-explorer: true
        DateOpened:
          description: Date the merchant entered into agreement with the acquirer
          example: 12/31/2013
          type: string
          x-explorer: true
        DoingBusinessAsName:
          description: "The name used by a merchant that could be different from the\
            \ legal name of the business. Such as Bait R Us instead of the legal name,\
            \ The Bait Shop"
          example: BAIT R US
          type: string
        MerchantCategory:
          description: "A classification code used in authorization, clearing, and\
            \ other transactions or reports to identify the type of merchant."
          example: "0742"
          type: string
          x-explorer: true
        MerchantId:
          description: The identifier assigned to a merchant by an Acquirer. An Acquirer
            Id and Merchant Id combination must be unique.
          example: "@random-string[14]@"
          type: string
          x-explorer: true
        Name:
          description: The name of the Business which has been terminated.
          example: THE BAIT SHOP
          type: string
          x-explorer: true
        NationalTaxId:
          description: The National tax ID or business registration number. Return
            value will be hidden.
          example: '*****'
          type: string
        PhoneNumber:
          description: The Business or Merchant's phone number.
          example: "6367558963"
          type: string
          x-explorer: true
        Principal:
          $ref: '#/components/schemas/Principal'
        ReasonCode:
          description: "A two digit numeric code indication why a particular merchant\
            \ was terminated.  01   Account Data Compromise, 02   Common Points of\
            \ Purchase, 03   Laundering, 04   Excessive Chargebacks, 05   Excessive\
            \ Fraud, 06   Reserved for Future Use, 07   Fraud Conviction, 08   MasterCard\
            \ Questionable Merchant Audit Program, 09   Bankruptcy/Liquidation/Insolvency,\
            \ 10   Violation of MasterCard Standards, 11   Merchant collusion, 12\
            \   PCI Data Security Standard, Noncompliance, 13   Illegal Transactions,\
            \ 14   Identity Theft"
          example: "13"
          type: string
          x-explorer: true
        ServiceProvDBA:
          description: The name of the service provider associated with the merchant
            listed in the MATCH.
          example: XYZ FINANCIAL SERVICE
          type: string
        ServiceProvLegal:
          description: The name of the service provider associated with the merchant
            listed in the MATCH.
          example: XYZ FINANCIAL SERVICE INCORPORATED
          type: string
        Url:
          items:
            description: Website address of the merchant. A request may include multiple
              URLs . The total cumulative size of the URLs cannot exceed 20000 bytes.
            example: 'www.testmerchant.com '
            type: string
          type: array
      required:
      - CATFlag
      - CountrySubdivisionTaxId
      - DateClosed
      - DateOpened
      - MerchantCategory
      - MerchantId
      - Name
      - PhoneNumber
      - ReasonCode
      type: object
    AddMerchantRequest:
      example:
        Merchant:
          DateOpened: 12/31/2013
          DoingBusinessAsName: BAIT R US
          Address:
            Country: USA
            PostalCode: "66579"
            CountrySubdivision: IL
            City: DALLAS
            Line1: 42 ELM AVENUE
            Line2: SUITE 201
            Province: ""
          Comments: Added for reasons of fraud
          MerchantCategory: "0742"
          AltPhoneNumber: "6367558968"
          NationalTaxId: '*****'
          MerchantId: "@random-string[14]@"
          ReasonCode: "13"
          Url:
          - 'www.testmerchant.com '
          - 'www.testmerchant.com '
          CATFlag: "Y"
          Name: THE BAIT SHOP
          DateClosed: 10/12/2014
          CountrySubdivisionTaxId: '*****'
          PhoneNumber: "6367558963"
          ServiceProvLegal: XYZ FINANCIAL SERVICE INCORPORATED
          Principal:
            Address:
              Country: USA
              PostalCode: "66579"
              CountrySubdivision: IL
              City: DALLAS
              Line1: 42 ELM AVENUE
              Line2: SUITE 201
              Province: ""
            MiddleInitial: P
            FirstName: DAVID
            NationalId: "541022104"
            PhoneNumber: "3165557625"
            AltPhoneNumber: "3165557625"
            DriversLicense:
              Number: M15698025
              Country: USA
              CountrySubdivision: IL
            LastName: SMITH
            SearchCriteria:
              MinPossibleMatchCount: "3"
              SearchAll: "N"
              Country:
              - USA
              - USA
              Region:
              - A
              - A
          ServiceProvDBA: XYZ FINANCIAL SERVICE
        AcquirerId: "1996"
      properties:
        AcquirerId:
          description: The ID of the acquirer.
          example: "1996"
          type: string
          x-explorer: true
        Merchant:
          $ref: '#/components/schemas/AddMerchantMerchant'
      required:
      - AcquirerId
      type: object
    AddMerchantResponse:
      example:
        MerchantReferenceNumber: "19962015072000000"
        Name: XYZTEST XYZTECHMERCHANT
      properties:
        MerchantReferenceNumber:
          description: A number assigned by the MATCH system to uniquely identify
            the newly added merchant. Return of this number indicates a successful
            add.
          example: "19962015072000000"
          type: string
        Name:
          description: Name of the merchant that was added to the MATCH system as
            verification of what was added.
          example: XYZTEST XYZTECHMERCHANT
          type: string
      type: object
    AddTerminatedMerchantRequestSchema:
      example:
        AddMerchantRequest:
          Merchant:
            DateOpened: 12/31/2013
            DoingBusinessAsName: BAIT R US
            Address:
              Country: USA
              PostalCode: "66579"
              CountrySubdivision: IL
              City: DALLAS
              Line1: 42 ELM AVENUE
              Line2: SUITE 201
              Province: ""
            Comments: Added for reasons of fraud
            MerchantCategory: "0742"
            AltPhoneNumber: "6367558968"
            NationalTaxId: '*****'
            MerchantId: "@random-string[14]@"
            ReasonCode: "13"
            Url:
            - 'www.testmerchant.com '
            - 'www.testmerchant.com '
            CATFlag: "Y"
            Name: THE BAIT SHOP
            DateClosed: 10/12/2014
            CountrySubdivisionTaxId: '*****'
            PhoneNumber: "6367558963"
            ServiceProvLegal: XYZ FINANCIAL SERVICE INCORPORATED
            Principal:
              Address:
                Country: USA
                PostalCode: "66579"
                CountrySubdivision: IL
                City: DALLAS
                Line1: 42 ELM AVENUE
                Line2: SUITE 201
                Province: ""
              MiddleInitial: P
              FirstName: DAVID
              NationalId: "541022104"
              PhoneNumber: "3165557625"
              AltPhoneNumber: "3165557625"
              DriversLicense:
                Number: M15698025
                Country: USA
                CountrySubdivision: IL
              LastName: SMITH
              SearchCriteria:
                MinPossibleMatchCount: "3"
                SearchAll: "N"
                Country:
                - USA
                - USA
                Region:
                - A
                - A
            ServiceProvDBA: XYZ FINANCIAL SERVICE
          AcquirerId: "1996"
      properties:
        AddMerchantRequest:
          $ref: '#/components/schemas/AddMerchantRequest'
      type: object
    AddTerminatedMerchantResponseSchema:
      example:
        AddMerchantResponse:
          MerchantReferenceNumber: "19962015072000000"
          Name: XYZTEST XYZTECHMERCHANT
      properties:
        AddMerchantResponse:
          $ref: '#/components/schemas/AddMerchantResponse'
      type: object
    Address:
      example:
        Country: USA
        PostalCode: "66579"
        CountrySubdivision: IL
        City: DALLAS
        Line1: 42 ELM AVENUE
        Line2: SUITE 201
        Province: ""
      properties:
        City:
          description: The name of the city for a merchant location.
          example: DALLAS
          type: string
          x-explorer: true
        Country:
          description: The three digit country code of the principal owner. Valid
            values are Three digit alpha country codes as defined in ISO 3166-1.
          example: USA
          type: string
          x-explorer: true
        CountrySubdivision:
          description: The abbreviated state or province code for a merchant location
            (only supported for US and Canada merchants).
          example: IL
          type: string
          x-explorer: true
        Line1:
          description: Line 1 of the street address for the merchant location. Usually
            includes street number and name.
          example: 42 ELM AVENUE
          type: string
          x-explorer: true
        Line2:
          description: "Line 2 of the street address,usually an apartment number or\
            \ suite number."
          example: SUITE 201
          type: string
        PostalCode:
          description: The postal code for a merchant location (only supported for
            US and Canada merchants).
          example: "66579"
          type: string
          x-explorer: true
        Province:
          description: The name of the province for the location.
          example: ""
          type: string
      required:
      - City
      - Country
      - CountrySubdivision
      - Line1
      - PostalCode
      type: object
    Contact:
      example:
        BankName: THE XYZ BANK
        FirstName: JACK
        FaxNumber: "6360000001"
        PhoneNumber: "6360000000"
        Region: UNITED STATES
        LastName: SMITH
        EmailAddress: JACK_SMITH@XYZ.COM
      properties:
        BankName:
          description: The name of acquiring bank.
          example: THE XYZ BANK
          type: string
        EmailAddress:
          description: The Email address of primary contact of acquiring bank. The
            results may return information for more than one Contact.
          example: JACK_SMITH@XYZ.COM
          type: string
        FaxNumber:
          description: The Fax Number of primary contact of acquiring bank. The results
            may return information for more than one Contact.
          example: "6360000001"
          type: string
        FirstName:
          description: The first name of primary contact of acquiring bank. The results
            may return information for more than one Contact.
          example: JACK
          type: string
        LastName:
          description: The last name of primary contact of acquiring bank. The results
            may return information for more than one Contact.
          example: SMITH
          type: string
        PhoneNumber:
          description: The Phone Number of primary contact of acquiring bank. The
            results may return information for more than one Contact.
          example: "6360000000"
          type: string
        Region:
          description: The region of acquiring bank. The results may return information
            for more than one Contact.
          example: UNITED STATES
          type: string
      type: object
    ContactRequest:
      example:
        AcquirerId: "12086"
      properties:
        AcquirerId:
          description: The acquiring bank ICA number whose contact information is
            to be fetched.
          example: "12086"
          type: string
          x-explorer: true
      required:
      - AcquirerId
      type: object
    ContactRequestSchema:
      example:
        ContactRequest:
          AcquirerId: "12086"
      properties:
        ContactRequest:
          $ref: '#/components/schemas/ContactRequest'
      type: object
    ContactResponse:
      example:
        Contact:
        - BankName: THE XYZ BANK
          FirstName: JACK
          FaxNumber: "6360000001"
          PhoneNumber: "6360000000"
          Region: UNITED STATES
          LastName: SMITH
          EmailAddress: JACK_SMITH@XYZ.COM
        - BankName: THE XYZ BANK
          FirstName: JACK
          FaxNumber: "6360000001"
          PhoneNumber: "6360000000"
          Region: UNITED STATES
          LastName: SMITH
          EmailAddress: JACK_SMITH@XYZ.COM
      properties:
        Contact:
          items:
            $ref: '#/components/schemas/Contact'
          type: array
      type: object
    ContactResponseSchema:
      example:
        ContactResponse:
          Contact:
          - BankName: THE XYZ BANK
            FirstName: JACK
            FaxNumber: "6360000001"
            PhoneNumber: "6360000000"
            Region: UNITED STATES
            LastName: SMITH
            EmailAddress: JACK_SMITH@XYZ.COM
          - BankName: THE XYZ BANK
            FirstName: JACK
            FaxNumber: "6360000001"
            PhoneNumber: "6360000000"
            Region: UNITED STATES
            LastName: SMITH
            EmailAddress: JACK_SMITH@XYZ.COM
      properties:
        ContactResponse:
          $ref: '#/components/schemas/ContactResponse'
      type: object
    DriversLicense:
      example:
        Number: M15698025
        Country: USA
        CountrySubdivision: IL
      properties:
        Country:
          description: The three digit country code of the principal owner. Valid
            values are Three digit alpha country codes as defined in ISO 3166-1. Required
            when Drivers License Number is provided. Should not be provided if Drivers
            License Number is not provided.
          example: USA
          type: string
        CountrySubdivision:
          description: The abbreviated state or province code for a merchant location
            (only supported for US and Canada merchants).  Required when Drivers License
            Country is 'USA' . Should not be provided for non-US Drivers License Country.
          example: IL
          type: string
        Number:
          description: The drivers license number of a principal owner.
          example: M15698025
          type: string
      type: object
    Error:
      example:
        Description: Unauthorized Access
        ReasonCode: AUTHENTICATION_FAILED
        Source: System
        Recoverable: true
      properties:
        Description:
          description: This is the text description of the error. This is optional
            and will only be displayed if more information is available than is stored
            in the data identifier and reason code.
          example: Unauthorized Access
          type: string
        ReasonCode:
          description: This will identify the reason for the error.
          example: AUTHENTICATION_FAILED
          type: string
        Recoverable:
          description: This is a true/false presentation to explain if the transaction
            was submitted again would it be successful or not.
          example: true
          type: boolean
        Source:
          description: This is the unique identifier that attempts to define the field
            in error when available.  If a specific field cant be identified System
            will be returned.
          example: System
          type: string
      type: object
    Errors:
      example:
        Error:
        - Description: Unauthorized Access
          ReasonCode: AUTHENTICATION_FAILED
          Source: System
          Recoverable: true
        - Description: Unauthorized Access
          ReasonCode: AUTHENTICATION_FAILED
          Source: System
          Recoverable: true
      properties:
        Error:
          items:
            $ref: '#/components/schemas/Error'
          type: array
      type: object
    ErrorsResponse:
      example:
        Errors:
          Error:
          - Description: Unauthorized Access
            ReasonCode: AUTHENTICATION_FAILED
            Source: System
            Recoverable: true
          - Description: Unauthorized Access
            ReasonCode: AUTHENTICATION_FAILED
            Source: System
            Recoverable: true
      properties:
        Errors:
          $ref: '#/components/schemas/Errors'
      type: object
    InquiredMerchant:
      example:
        Merchant:
          DoingBusinessAsName: BAIT R US
          UrlGroup:
            CloseMatchUrls:
            - Url:
              - WWW.SHOESHOP.COM
              - WWW.SHOESHOP.COM
            - Url:
              - WWW.SHOESHOP.COM
              - WWW.SHOESHOP.COM
            NoMatchUrls:
              Url:
              - WWW.SHOESHOP.COM
              - WWW.SHOESHOP.COM
            ExactMatchUrls:
            - Url:
              - WWW.SHOESHOP.COM
              - WWW.SHOESHOP.COM
            - Url:
              - WWW.SHOESHOP.COM
              - WWW.SHOESHOP.COM
          Address:
            Country: USA
            PostalCode: "66579"
            CountrySubdivision: IL
            City: DALLAS
            Line1: 42 ELM AVENUE
            Line2: SUITE 201
            Province: ""
          AltPhoneNumber: "6367558968"
          NationalTaxId: '*****'
          AddedByAcquirerID: "1234"
          AddedOnDate: 12/03/2009
          Name: THE BAIT SHOP
          CountrySubdivisionTaxId: '*****'
          PhoneNumber: "6367558963"
          ServiceProvLegal: XYZ FINANCIAL SERVICE INCORPORATED
          MerchantMatch:
            DoingBusinessAsName: BAIT R US
            CountrySubdivisionTaxId: '*****'
            Address:
              Country: USA
              PostalCode: "66579"
              CountrySubdivision: IL
              City: DALLAS
              Line1: 42 ELM AVENUE
              Line2: SUITE 201
              Province: ""
            PhoneNumber: "6367558963"
            ServiceProvLegal: XYZ FINANCIAL SERVICE INCORPORATED
            AltPhoneNumber: "6367558968"
            NationalTaxId: '*****'
            Name: THE BAIT SHOP
            PrincipalMatch:
            - Address:
                Country: USA
                PostalCode: "66579"
                CountrySubdivision: IL
                City: DALLAS
                Line1: 42 ELM AVENUE
                Line2: SUITE 201
                Province: ""
              MiddleInitial: P
              FirstName: DAVID
              NationalId: "541022104"
              PhoneNumber: "3165557625"
              AltPhoneNumber: "3165557625"
              DriversLicense:
                Number: M15698025
                Country: USA
                CountrySubdivision: IL
              LastName: SMITH
              SearchCriteria:
                MinPossibleMatchCount: "3"
                SearchAll: "N"
                Country:
                - USA
                - USA
                Region:
                - A
                - A
              Name: THE BAIT SHOP
            - Address:
                Country: USA
                PostalCode: "66579"
                CountrySubdivision: IL
                City: DALLAS
                Line1: 42 ELM AVENUE
                Line2: SUITE 201
                Province: ""
              MiddleInitial: P
              FirstName: DAVID
              NationalId: "541022104"
              PhoneNumber: "3165557625"
              AltPhoneNumber: "3165557625"
              DriversLicense:
                Number: M15698025
                Country: USA
                CountrySubdivision: IL
              LastName: SMITH
              SearchCriteria:
                MinPossibleMatchCount: "3"
                SearchAll: "N"
                Country:
                - USA
                - USA
                Region:
                - A
                - A
              Name: THE BAIT SHOP
            ServiceProvDBA: XYZ FINANCIAL SERVICE
          TerminationReasonCode: "13"
          Principal:
            Address:
              Country: USA
              PostalCode: "66579"
              CountrySubdivision: IL
              City: DALLAS
              Line1: 42 ELM AVENUE
              Line2: SUITE 201
              Province: ""
            MiddleInitial: P
            FirstName: DAVID
            NationalId: "541022104"
            PhoneNumber: "3165557625"
            AltPhoneNumber: "3165557625"
            DriversLicense:
              Number: M15698025
              Country: USA
              CountrySubdivision: IL
            LastName: SMITH
            SearchCriteria:
              MinPossibleMatchCount: "3"
              SearchAll: "N"
              Country:
              - USA
              - USA
              Region:
              - A
              - A
          ServiceProvDBA: XYZ FINANCIAL SERVICE
      properties:
        Merchant:
          $ref: '#/components/schemas/InquiredMerchant_Merchant'
      type: object
    Merchant:
      example:
        DoingBusinessAsName: BAIT R US
        UrlGroup:
        - CloseMatchUrls:
          - Url:
            - WWW.SHOESHOP.COM
            - WWW.SHOESHOP.COM
          - Url:
            - WWW.SHOESHOP.COM
            - WWW.SHOESHOP.COM
          NoMatchUrls:
            Url:
            - WWW.SHOESHOP.COM
            - WWW.SHOESHOP.COM
          ExactMatchUrls:
          - Url:
            - WWW.SHOESHOP.COM
            - WWW.SHOESHOP.COM
          - Url:
            - WWW.SHOESHOP.COM
            - WWW.SHOESHOP.COM
        - CloseMatchUrls:
          - Url:
            - WWW.SHOESHOP.COM
            - WWW.SHOESHOP.COM
          - Url:
            - WWW.SHOESHOP.COM
            - WWW.SHOESHOP.COM
          NoMatchUrls:
            Url:
            - WWW.SHOESHOP.COM
            - WWW.SHOESHOP.COM
          ExactMatchUrls:
          - Url:
            - WWW.SHOESHOP.COM
            - WWW.SHOESHOP.COM
          - Url:
            - WWW.SHOESHOP.COM
            - WWW.SHOESHOP.COM
        Address:
          Country: USA
          PostalCode: "66579"
          CountrySubdivision: IL
          City: DALLAS
          Line1: 42 ELM AVENUE
          Line2: SUITE 201
          Province: ""
        AltPhoneNumber: "3165557625"
        NationalTaxId: "888596927"
        AddedByAcquirerID: "1234"
        AddedOnDate: 10/13/2015
        SearchCriteria:
          MinPossibleMatchCount: "3"
          SearchAll: "N"
          Country:
          - USA
          - USA
          Region:
          - A
          - A
        Url: WWW.TESTMERCHANT.COM
        Name: THE BAIT SHOP
        CountrySubdivisionTaxId: "492321030"
        PhoneNumber: "3165557625"
        ServiceProvLegal: XYZ FINANCIAL SERVICE INCORPORATED
        TerminationReasonCode: "13"
        Principal:
        - Address:
            Country: USA
            PostalCode: "66579"
            CountrySubdivision: IL
            City: DALLAS
            Line1: 42 ELM AVENUE
            Line2: SUITE 201
            Province: ""
          MiddleInitial: P
          FirstName: DAVID
          NationalId: "541022104"
          PhoneNumber: "3165557625"
          AltPhoneNumber: "3165557625"
          DriversLicense:
            Number: M15698025
            Country: USA
            CountrySubdivision: IL
          LastName: SMITH
          SearchCriteria:
            MinPossibleMatchCount: "3"
            SearchAll: "N"
            Country:
            - USA
            - USA
            Region:
            - A
            - A
        - Address:
            Country: USA
            PostalCode: "66579"
            CountrySubdivision: IL
            City: DALLAS
            Line1: 42 ELM AVENUE
            Line2: SUITE 201
            Province: ""
          MiddleInitial: P
          FirstName: DAVID
          NationalId: "541022104"
          PhoneNumber: "3165557625"
          AltPhoneNumber: "3165557625"
          DriversLicense:
            Number: M15698025
            Country: USA
            CountrySubdivision: IL
          LastName: SMITH
          SearchCriteria:
            MinPossibleMatchCount: "3"
            SearchAll: "N"
            Country:
            - USA
            - USA
            Region:
            - A
            - A
        ServiceProvDBA: XYZ FINANCIAL SERVICE
      properties:
        AddedByAcquirerID:
          description: The Member ICA that has added the merchant to the MATCH system
          example: "1234"
          type: string
        AddedOnDate:
          description: Date the merchant was added to the MATCH database.
          example: 10/13/2015
          type: string
        Address:
          $ref: '#/components/schemas/Address'
        AltPhoneNumber:
          description: "The Business or Merchant's alternate phone number, including\
            \ the area code. Within the USA, phone numbers have a length of 10, and\
            \ for out outside the US, a max length of 25. Within the U.S. phone numbers\
            \ can not start with 0 or 1. If the number is outside the U.S. region;\
            \ do not include the country code. The number must be digits only, with\
            \ no format characters such as parenthesis or dashes."
          example: "3165557625"
          type: string
        CountrySubdivisionTaxId:
          description: "The Merchant Country Subdivision tax ID, leave blank if not\
            \ in the U.S region."
          example: "492321030"
          type: string
        DoingBusinessAsName:
          description: "The name used by a merchant that could be different from the\
            \ legal name of the business. Such as Bait R Us instead of the legal name,\
            \ The Bait Shop."
          example: BAIT R US
          type: string
        Name:
          description: The name of the business assigned by the principal owner(s)
          example: THE BAIT SHOP
          type: string
        NationalTaxId:
          description: "The Merchant national tax ID, leave blank if not in the U.S\
            \ region."
          example: "888596927"
          type: string
        PhoneNumber:
          description: "The Business or Merchant's phone number, including the area\
            \ code. Within the USA, phone numbers have a length of 10, and for outside\
            \ the US, it can be any length with a maximum of 12 digits. Within the\
            \ U.S. phone numbers can not start with 0 or 1. If the number is outside\
            \ the U.S. region; do not include the country code. The phone number must\
            \ be digits only, with no format characters such as parenthesis or dashes."
          example: "3165557625"
          type: string
        Principal:
          description: The details for the principal owner of the business.  A maximum
            of 5 principals may be submitted.
          items:
            $ref: '#/components/schemas/Principal'
          type: array
        SearchCriteria:
          $ref: '#/components/schemas/SearchCriteria'
        ServiceProvDBA:
          description: The name of the service provider associated with the merchant
            listed in the MATCH
          example: XYZ FINANCIAL SERVICE
          type: string
        ServiceProvLegal:
          description: The name of the service provider associated with the merchant
            listed in the MATCH
          example: XYZ FINANCIAL SERVICE INCORPORATED
          type: string
        TerminationReasonCode:
          description: "A two digit numeric code indication why a particular merchant\
            \ was terminated.  01   Account Data Compromise, 02   Common Points of\
            \ Purchase, 03   Laundering, 04   Excessive Chargebacks, 05   Excessive\
            \ Fraud, 06   Reserved for Future Use, 07   Fraud Conviction, 08   MasterCard\
            \ Questionable Merchant Audit Program, 09   Bankruptcy/Liquidation/Insolvency,\
            \ 10   Violation of MasterCard Standards, 11   Merchant collusion, 12\
            \   PCI Data Security Standard, Noncompliance, 13   Illegal Transactions,\
            \ 14   Identity Theft"
          example: "13"
          type: string
        Url:
          description: "Website address of the merchant. A request may include multiple\
            \ URLs. The total cumulative size of the URLs cannot exceed 20,000 bytes."
          example: WWW.TESTMERCHANT.COM
          type: string
        UrlGroup:
          items:
            $ref: '#/components/schemas/UrlGroup'
          type: array
      required:
      - Name
      type: object
    MerchantMatch:
      example:
        DoingBusinessAsName: BAIT R US
        CountrySubdivisionTaxId: '*****'
        Address:
          Country: USA
          PostalCode: "66579"
          CountrySubdivision: IL
          City: DALLAS
          Line1: 42 ELM AVENUE
          Line2: SUITE 201
          Province: ""
        PhoneNumber: "6367558963"
        ServiceProvLegal: XYZ FINANCIAL SERVICE INCORPORATED
        AltPhoneNumber: "6367558968"
        NationalTaxId: '*****'
        Name: THE BAIT SHOP
        PrincipalMatch:
        - Address:
            Country: USA
            PostalCode: "66579"
            CountrySubdivision: IL
            City: DALLAS
            Line1: 42 ELM AVENUE
            Line2: SUITE 201
            Province: ""
          MiddleInitial: P
          FirstName: DAVID
          NationalId: "541022104"
          PhoneNumber: "3165557625"
          AltPhoneNumber: "3165557625"
          DriversLicense:
            Number: M15698025
            Country: USA
            CountrySubdivision: IL
          LastName: SMITH
          SearchCriteria:
            MinPossibleMatchCount: "3"
            SearchAll: "N"
            Country:
            - USA
            - USA
            Region:
            - A
            - A
          Name: THE BAIT SHOP
        - Address:
            Country: USA
            PostalCode: "66579"
            CountrySubdivision: IL
            City: DALLAS
            Line1: 42 ELM AVENUE
            Line2: SUITE 201
            Province: ""
          MiddleInitial: P
          FirstName: DAVID
          NationalId: "541022104"
          PhoneNumber: "3165557625"
          AltPhoneNumber: "3165557625"
          DriversLicense:
            Number: M15698025
            Country: USA
            CountrySubdivision: IL
          LastName: SMITH
          SearchCriteria:
            MinPossibleMatchCount: "3"
            SearchAll: "N"
            Country:
            - USA
            - USA
            Region:
            - A
            - A
          Name: THE BAIT SHOP
        ServiceProvDBA: XYZ FINANCIAL SERVICE
      properties:
        Address:
          $ref: '#/components/schemas/Address'
        AltPhoneNumber:
          description: The Business or Merchant's alternate phone number.
          example: "6367558968"
          type: string
        CountrySubdivisionTaxId:
          description: The Merchant's state tax ID; for the U.S region only. Return
            value will be hidden.
          example: '*****'
          type: string
        DoingBusinessAsName:
          description: "The name used by a merchant that could be different from the\
            \ legal name of the business. Such as Bait R Us instead of the legal name,\
            \ The Bait Shop"
          example: BAIT R US
          type: string
        Name:
          description: The name of the Business which has been terminated.
          example: THE BAIT SHOP
          type: string
        NationalTaxId:
          description: The National tax ID or business registration number. Return
            value will be hidden.
          example: '*****'
          type: string
        PhoneNumber:
          description: The Business or Merchant's phone number.
          example: "6367558963"
          type: string
        PrincipalMatch:
          items:
            $ref: '#/components/schemas/PrincipalMatch'
          type: array
        ServiceProvDBA:
          description: The name of the service provider associated with the merchant
            listed in the MATCH.
          example: XYZ FINANCIAL SERVICE
          type: string
        ServiceProvLegal:
          description: The name of the service provider associated with the merchant
            listed in the MATCH.
          example: XYZ FINANCIAL SERVICE INCORPORATED
          type: string
      type: object
    PossibleInquiryMatches:
      example:
        TotalLength: "2"
        InquiredMerchant:
        - Merchant:
            DoingBusinessAsName: BAIT R US
            UrlGroup:
              CloseMatchUrls:
              - Url:
                - WWW.SHOESHOP.COM
                - WWW.SHOESHOP.COM
              - Url:
                - WWW.SHOESHOP.COM
                - WWW.SHOESHOP.COM
              NoMatchUrls:
                Url:
                - WWW.SHOESHOP.COM
                - WWW.SHOESHOP.COM
              ExactMatchUrls:
              - Url:
                - WWW.SHOESHOP.COM
                - WWW.SHOESHOP.COM
              - Url:
                - WWW.SHOESHOP.COM
                - WWW.SHOESHOP.COM
            Address:
              Country: USA
              PostalCode: "66579"
              CountrySubdivision: IL
              City: DALLAS
              Line1: 42 ELM AVENUE
              Line2: SUITE 201
              Province: ""
            AltPhoneNumber: "6367558968"
            NationalTaxId: '*****'
            AddedByAcquirerID: "1234"
            AddedOnDate: 12/03/2009
            Name: THE BAIT SHOP
            CountrySubdivisionTaxId: '*****'
            PhoneNumber: "6367558963"
            ServiceProvLegal: XYZ FINANCIAL SERVICE INCORPORATED
            MerchantMatch:
              DoingBusinessAsName: BAIT R US
              CountrySubdivisionTaxId: '*****'
              Address:
                Country: USA
                PostalCode: "66579"
                CountrySubdivision: IL
                City: DALLAS
                Line1: 42 ELM AVENUE
                Line2: SUITE 201
                Province: ""
              PhoneNumber: "6367558963"
              ServiceProvLegal: XYZ FINANCIAL SERVICE INCORPORATED
              AltPhoneNumber: "6367558968"
              NationalTaxId: '*****'
              Name: THE BAIT SHOP
              PrincipalMatch:
              - Address:
                  Country: USA
                  PostalCode: "66579"
                  CountrySubdivision: IL
                  City: DALLAS
                  Line1: 42 ELM AVENUE
                  Line2: SUITE 201
                  Province: ""
                MiddleInitial: P
                FirstName: DAVID
                NationalId: "541022104"
                PhoneNumber: "3165557625"
                AltPhoneNumber: "3165557625"
                DriversLicense:
                  Number: M15698025
                  Country: USA
                  CountrySubdivision: IL
                LastName: SMITH
                SearchCriteria:
                  MinPossibleMatchCount: "3"
                  SearchAll: "N"
                  Country:
                  - USA
                  - USA
                  Region:
                  - A
                  - A
                Name: THE BAIT SHOP
              - Address:
                  Country: USA
                  PostalCode: "66579"
                  CountrySubdivision: IL
                  City: DALLAS
                  Line1: 42 ELM AVENUE
                  Line2: SUITE 201
                  Province: ""
                MiddleInitial: P
                FirstName: DAVID
                NationalId: "541022104"
                PhoneNumber: "3165557625"
                AltPhoneNumber: "3165557625"
                DriversLicense:
                  Number: M15698025
                  Country: USA
                  CountrySubdivision: IL
                LastName: SMITH
                SearchCriteria:
                  MinPossibleMatchCount: "3"
                  SearchAll: "N"
                  Country:
                  - USA
                  - USA
                  Region:
                  - A
                  - A
                Name: THE BAIT SHOP
              ServiceProvDBA: XYZ FINANCIAL SERVICE
            TerminationReasonCode: "13"
            Principal:
              Address:
                Country: USA
                PostalCode: "66579"
                CountrySubdivision: IL
                City: DALLAS
                Line1: 42 ELM AVENUE
                Line2: SUITE 201
                Province: ""
              MiddleInitial: P
              FirstName: DAVID
              NationalId: "541022104"
              PhoneNumber: "3165557625"
              AltPhoneNumber: "3165557625"
              DriversLicense:
                Number: M15698025
                Country: USA
                CountrySubdivision: IL
              LastName: SMITH
              SearchCriteria:
                MinPossibleMatchCount: "3"
                SearchAll: "N"
                Country:
                - USA
                - USA
                Region:
                - A
                - A
            ServiceProvDBA: XYZ FINANCIAL SERVICE
        - Merchant:
            DoingBusinessAsName: BAIT R US
            UrlGroup:
              CloseMatchUrls:
              - Url:
                - WWW.SHOESHOP.COM
                - WWW.SHOESHOP.COM
              - Url:
                - WWW.SHOESHOP.COM
                - WWW.SHOESHOP.COM
              NoMatchUrls:
                Url:
                - WWW.SHOESHOP.COM
                - WWW.SHOESHOP.COM
              ExactMatchUrls:
              - Url:
                - WWW.SHOESHOP.COM
                - WWW.SHOESHOP.COM
              - Url:
                - WWW.SHOESHOP.COM
                - WWW.SHOESHOP.COM
            Address:
              Country: USA
              PostalCode: "66579"
              CountrySubdivision: IL
              City: DALLAS
              Line1: 42 ELM AVENUE
              Line2: SUITE 201
              Province: ""
            AltPhoneNumber: "6367558968"
            NationalTaxId: '*****'
            AddedByAcquirerID: "1234"
            AddedOnDate: 12/03/2009
            Name: THE BAIT SHOP
            CountrySubdivisionTaxId: '*****'
            PhoneNumber: "6367558963"
            ServiceProvLegal: XYZ FINANCIAL SERVICE INCORPORATED
            MerchantMatch:
              DoingBusinessAsName: BAIT R US
              CountrySubdivisionTaxId: '*****'
              Address:
                Country: USA
                PostalCode: "66579"
                CountrySubdivision: IL
                City: DALLAS
                Line1: 42 ELM AVENUE
                Line2: SUITE 201
                Province: ""
              PhoneNumber: "6367558963"
              ServiceProvLegal: XYZ FINANCIAL SERVICE INCORPORATED
              AltPhoneNumber: "6367558968"
              NationalTaxId: '*****'
              Name: THE BAIT SHOP
              PrincipalMatch:
              - Address:
                  Country: USA
                  PostalCode: "66579"
                  CountrySubdivision: IL
                  City: DALLAS
                  Line1: 42 ELM AVENUE
                  Line2: SUITE 201
                  Province: ""
                MiddleInitial: P
                FirstName: DAVID
                NationalId: "541022104"
                PhoneNumber: "3165557625"
                AltPhoneNumber: "3165557625"
                DriversLicense:
                  Number: M15698025
                  Country: USA
                  CountrySubdivision: IL
                LastName: SMITH
                SearchCriteria:
                  MinPossibleMatchCount: "3"
                  SearchAll: "N"
                  Country:
                  - USA
                  - USA
                  Region:
                  - A
                  - A
                Name: THE BAIT SHOP
              - Address:
                  Country: USA
                  PostalCode: "66579"
                  CountrySubdivision: IL
                  City: DALLAS
                  Line1: 42 ELM AVENUE
                  Line2: SUITE 201
                  Province: ""
                MiddleInitial: P
                FirstName: DAVID
                NationalId: "541022104"
                PhoneNumber: "3165557625"
                AltPhoneNumber: "3165557625"
                DriversLicense:
                  Number: M15698025
                  Country: USA
                  CountrySubdivision: IL
                LastName: SMITH
                SearchCriteria:
                  MinPossibleMatchCount: "3"
                  SearchAll: "N"
                  Country:
                  - USA
                  - USA
                  Region:
                  - A
                  - A
                Name: THE BAIT SHOP
              ServiceProvDBA: XYZ FINANCIAL SERVICE
            TerminationReasonCode: "13"
            Principal:
              Address:
                Country: USA
                PostalCode: "66579"
                CountrySubdivision: IL
                City: DALLAS
                Line1: 42 ELM AVENUE
                Line2: SUITE 201
                Province: ""
              MiddleInitial: P
              FirstName: DAVID
              NationalId: "541022104"
              PhoneNumber: "3165557625"
              AltPhoneNumber: "3165557625"
              DriversLicense:
                Number: M15698025
                Country: USA
                CountrySubdivision: IL
              LastName: SMITH
              SearchCriteria:
                MinPossibleMatchCount: "3"
                SearchAll: "N"
                Country:
                - USA
                - USA
                Region:
                - A
                - A
            ServiceProvDBA: XYZ FINANCIAL SERVICE
      properties:
        InquiredMerchant:
          items:
            $ref: '#/components/schemas/InquiredMerchant'
          type: array
        TotalLength:
          description: The total length of the result set from possible merchant matches
            of inquiry.
          example: "2"
          type: string
      type: object
    PossibleMerchantMatches:
      example:
        TerminatedMerchant:
        - Merchant:
            DoingBusinessAsName: BAIT R US
            UrlGroup:
            - CloseMatchUrls:
              - Url:
                - WWW.SHOESHOP.COM
                - WWW.SHOESHOP.COM
              - Url:
                - WWW.SHOESHOP.COM
                - WWW.SHOESHOP.COM
              NoMatchUrls:
                Url:
                - WWW.SHOESHOP.COM
                - WWW.SHOESHOP.COM
              ExactMatchUrls:
              - Url:
                - WWW.SHOESHOP.COM
                - WWW.SHOESHOP.COM
              - Url:
                - WWW.SHOESHOP.COM
                - WWW.SHOESHOP.COM
            - CloseMatchUrls:
              - Url:
                - WWW.SHOESHOP.COM
                - WWW.SHOESHOP.COM
              - Url:
                - WWW.SHOESHOP.COM
                - WWW.SHOESHOP.COM
              NoMatchUrls:
                Url:
                - WWW.SHOESHOP.COM
                - WWW.SHOESHOP.COM
              ExactMatchUrls:
              - Url:
                - WWW.SHOESHOP.COM
                - WWW.SHOESHOP.COM
              - Url:
                - WWW.SHOESHOP.COM
                - WWW.SHOESHOP.COM
            Address:
              Country: USA
              PostalCode: "66579"
              CountrySubdivision: IL
              City: DALLAS
              Line1: 42 ELM AVENUE
              Line2: SUITE 201
              Province: ""
            AltPhoneNumber: "3165557625"
            NationalTaxId: "888596927"
            AddedByAcquirerID: "1234"
            AddedOnDate: 10/13/2015
            SearchCriteria:
              MinPossibleMatchCount: "3"
              SearchAll: "N"
              Country:
              - USA
              - USA
              Region:
              - A
              - A
            Url: WWW.TESTMERCHANT.COM
            Name: THE BAIT SHOP
            CountrySubdivisionTaxId: "492321030"
            PhoneNumber: "3165557625"
            ServiceProvLegal: XYZ FINANCIAL SERVICE INCORPORATED
            TerminationReasonCode: "13"
            Principal:
            - Address:
                Country: USA
                PostalCode: "66579"
                CountrySubdivision: IL
                City: DALLAS
                Line1: 42 ELM AVENUE
                Line2: SUITE 201
                Province: ""
              MiddleInitial: P
              FirstName: DAVID
              NationalId: "541022104"
              PhoneNumber: "3165557625"
              AltPhoneNumber: "3165557625"
              DriversLicense:
                Number: M15698025
                Country: USA
                CountrySubdivision: IL
              LastName: SMITH
              SearchCriteria:
                MinPossibleMatchCount: "3"
                SearchAll: "N"
                Country:
                - USA
                - USA
                Region:
                - A
                - A
            - Address:
                Country: USA
                PostalCode: "66579"
                CountrySubdivision: IL
                City: DALLAS
                Line1: 42 ELM AVENUE
                Line2: SUITE 201
                Province: ""
              MiddleInitial: P
              FirstName: DAVID
              NationalId: "541022104"
              PhoneNumber: "3165557625"
              AltPhoneNumber: "3165557625"
              DriversLicense:
                Number: M15698025
                Country: USA
                CountrySubdivision: IL
              LastName: SMITH
              SearchCriteria:
                MinPossibleMatchCount: "3"
                SearchAll: "N"
                Country:
                - USA
                - USA
                Region:
                - A
                - A
            ServiceProvDBA: XYZ FINANCIAL SERVICE
          MerchantMatch:
            DoingBusinessAsName: BAIT R US
            CountrySubdivisionTaxId: '*****'
            Address:
              Country: USA
              PostalCode: "66579"
              CountrySubdivision: IL
              City: DALLAS
              Line1: 42 ELM AVENUE
              Line2: SUITE 201
              Province: ""
            PhoneNumber: "6367558963"
            ServiceProvLegal: XYZ FINANCIAL SERVICE INCORPORATED
            AltPhoneNumber: "6367558968"
            NationalTaxId: '*****'
            Name: THE BAIT SHOP
            PrincipalMatch:
            - Address:
                Country: USA
                PostalCode: "66579"
                CountrySubdivision: IL
                City: DALLAS
                Line1: 42 ELM AVENUE
                Line2: SUITE 201
                Province: ""
              MiddleInitial: P
              FirstName: DAVID
              NationalId: "541022104"
              PhoneNumber: "3165557625"
              AltPhoneNumber: "3165557625"
              DriversLicense:
                Number: M15698025
                Country: USA
                CountrySubdivision: IL
              LastName: SMITH
              SearchCriteria:
                MinPossibleMatchCount: "3"
                SearchAll: "N"
                Country:
                - USA
                - USA
                Region:
                - A
                - A
              Name: THE BAIT SHOP
            - Address:
                Country: USA
                PostalCode: "66579"
                CountrySubdivision: IL
                City: DALLAS
                Line1: 42 ELM AVENUE
                Line2: SUITE 201
                Province: ""
              MiddleInitial: P
              FirstName: DAVID
              NationalId: "541022104"
              PhoneNumber: "3165557625"
              AltPhoneNumber: "3165557625"
              DriversLicense:
                Number: M15698025
                Country: USA
                CountrySubdivision: IL
              LastName: SMITH
              SearchCriteria:
                MinPossibleMatchCount: "3"
                SearchAll: "N"
                Country:
                - USA
                - USA
                Region:
                - A
                - A
              Name: THE BAIT SHOP
            ServiceProvDBA: XYZ FINANCIAL SERVICE
        - Merchant:
            DoingBusinessAsName: BAIT R US
            UrlGroup:
            - CloseMatchUrls:
              - Url:
                - WWW.SHOESHOP.COM
                - WWW.SHOESHOP.COM
              - Url:
                - WWW.SHOESHOP.COM
                - WWW.SHOESHOP.COM
              NoMatchUrls:
                Url:
                - WWW.SHOESHOP.COM
                - WWW.SHOESHOP.COM
              ExactMatchUrls:
              - Url:
                - WWW.SHOESHOP.COM
                - WWW.SHOESHOP.COM
              - Url:
                - WWW.SHOESHOP.COM
                - WWW.SHOESHOP.COM
            - CloseMatchUrls:
              - Url:
                - WWW.SHOESHOP.COM
                - WWW.SHOESHOP.COM
              - Url:
                - WWW.SHOESHOP.COM
                - WWW.SHOESHOP.COM
              NoMatchUrls:
                Url:
                - WWW.SHOESHOP.COM
                - WWW.SHOESHOP.COM
              ExactMatchUrls:
              - Url:
                - WWW.SHOESHOP.COM
                - WWW.SHOESHOP.COM
              - Url:
                - WWW.SHOESHOP.COM
                - WWW.SHOESHOP.COM
            Address:
              Country: USA
              PostalCode: "66579"
              CountrySubdivision: IL
              City: DALLAS
              Line1: 42 ELM AVENUE
              Line2: SUITE 201
              Province: ""
            AltPhoneNumber: "3165557625"
            NationalTaxId: "888596927"
            AddedByAcquirerID: "1234"
            AddedOnDate: 10/13/2015
            SearchCriteria:
              MinPossibleMatchCount: "3"
              SearchAll: "N"
              Country:
              - USA
              - USA
              Region:
              - A
              - A
            Url: WWW.TESTMERCHANT.COM
            Name: THE BAIT SHOP
            CountrySubdivisionTaxId: "492321030"
            PhoneNumber: "3165557625"
            ServiceProvLegal: XYZ FINANCIAL SERVICE INCORPORATED
            TerminationReasonCode: "13"
            Principal:
            - Address:
                Country: USA
                PostalCode: "66579"
                CountrySubdivision: IL
                City: DALLAS
                Line1: 42 ELM AVENUE
                Line2: SUITE 201
                Province: ""
              MiddleInitial: P
              FirstName: DAVID
              NationalId: "541022104"
              PhoneNumber: "3165557625"
              AltPhoneNumber: "3165557625"
              DriversLicense:
                Number: M15698025
                Country: USA
                CountrySubdivision: IL
              LastName: SMITH
              SearchCriteria:
                MinPossibleMatchCount: "3"
                SearchAll: "N"
                Country:
                - USA
                - USA
                Region:
                - A
                - A
            - Address:
                Country: USA
                PostalCode: "66579"
                CountrySubdivision: IL
                City: DALLAS
                Line1: 42 ELM AVENUE
                Line2: SUITE 201
                Province: ""
              MiddleInitial: P
              FirstName: DAVID
              NationalId: "541022104"
              PhoneNumber: "3165557625"
              AltPhoneNumber: "3165557625"
              DriversLicense:
                Number: M15698025
                Country: USA
                CountrySubdivision: IL
              LastName: SMITH
              SearchCriteria:
                MinPossibleMatchCount: "3"
                SearchAll: "N"
                Country:
                - USA
                - USA
                Region:
                - A
                - A
            ServiceProvDBA: XYZ FINANCIAL SERVICE
          MerchantMatch:
            DoingBusinessAsName: BAIT R US
            CountrySubdivisionTaxId: '*****'
            Address:
              Country: USA
              PostalCode: "66579"
              CountrySubdivision: IL
              City: DALLAS
              Line1: 42 ELM AVENUE
              Line2: SUITE 201
              Province: ""
            PhoneNumber: "6367558963"
            ServiceProvLegal: XYZ FINANCIAL SERVICE INCORPORATED
            AltPhoneNumber: "6367558968"
            NationalTaxId: '*****'
            Name: THE BAIT SHOP
            PrincipalMatch:
            - Address:
                Country: USA
                PostalCode: "66579"
                CountrySubdivision: IL
                City: DALLAS
                Line1: 42 ELM AVENUE
                Line2: SUITE 201
                Province: ""
              MiddleInitial: P
              FirstName: DAVID
              NationalId: "541022104"
              PhoneNumber: "3165557625"
              AltPhoneNumber: "3165557625"
              DriversLicense:
                Number: M15698025
                Country: USA
                CountrySubdivision: IL
              LastName: SMITH
              SearchCriteria:
                MinPossibleMatchCount: "3"
                SearchAll: "N"
                Country:
                - USA
                - USA
                Region:
                - A
                - A
              Name: THE BAIT SHOP
            - Address:
                Country: USA
                PostalCode: "66579"
                CountrySubdivision: IL
                City: DALLAS
                Line1: 42 ELM AVENUE
                Line2: SUITE 201
                Province: ""
              MiddleInitial: P
              FirstName: DAVID
              NationalId: "541022104"
              PhoneNumber: "3165557625"
              AltPhoneNumber: "3165557625"
              DriversLicense:
                Number: M15698025
                Country: USA
                CountrySubdivision: IL
              LastName: SMITH
              SearchCriteria:
                MinPossibleMatchCount: "3"
                SearchAll: "N"
                Country:
                - USA
                - USA
                Region:
                - A
                - A
              Name: THE BAIT SHOP
            ServiceProvDBA: XYZ FINANCIAL SERVICE
        TotalLength: "2"
      properties:
        TerminatedMerchant:
          items:
            $ref: '#/components/schemas/TerminatedMerchant'
          type: array
        TotalLength:
          description: The total length of the result set from possible merchant matches
            of inquiry.
          example: "2"
          type: string
      type: object
    Principal:
      example:
        Address:
          Country: USA
          PostalCode: "66579"
          CountrySubdivision: IL
          City: DALLAS
          Line1: 42 ELM AVENUE
          Line2: SUITE 201
          Province: ""
        MiddleInitial: P
        FirstName: DAVID
        NationalId: "541022104"
        PhoneNumber: "3165557625"
        AltPhoneNumber: "3165557625"
        DriversLicense:
          Number: M15698025
          Country: USA
          CountrySubdivision: IL
        LastName: SMITH
        SearchCriteria:
          MinPossibleMatchCount: "3"
          SearchAll: "N"
          Country:
          - USA
          - USA
          Region:
          - A
          - A
      properties:
        Address:
          $ref: '#/components/schemas/Address'
        AltPhoneNumber:
          description: "The Business or Merchant's alternate phone number, including\
            \ the area code. Within the USA, phone numbers have a length of 10, and\
            \ for out outside the US, a max length of 25. Within the U.S. phone numbers\
            \ can not start with 0 or 1. If the number is outside the U.S. region;\
            \ do not include the country code. The number must be digits only, with\
            \ no format characters such as parenthesis or dashes."
          example: "3165557625"
          type: string
        DriversLicense:
          $ref: '#/components/schemas/DriversLicense'
        FirstName:
          description: The first name of the principal owner of the business.
          example: DAVID
          type: string
          x-explorer: true
        LastName:
          description: The last name of the principal owner of the business.
          example: SMITH
          type: string
          x-explorer: true
        MiddleInitial:
          description: THe middle initial of the name of the principal owner of the
            business.
          example: P
          type: string
        NationalId:
          description: "The Social Security number of a principal owner. If the principal\
            \ owner is not from the U.S. Region, then use their national ID card number."
          example: "541022104"
          type: string
        PhoneNumber:
          description: "The Business or Merchant's phone number, including the area\
            \ code. Within the USA, phone numbers have a length of 10, and for outside\
            \ the US, it can be any length with a maximum of 12 digits. Within the\
            \ U.S. phone numbers can not start with 0 or 1. If the number is outside\
            \ the U.S. region; do not include the country code. The phone number must\
            \ be digits only, with no format characters such as parenthesis or dashes."
          example: "3165557625"
          type: string
        SearchCriteria:
          $ref: '#/components/schemas/SearchCriteria'
      required:
      - FirstName
      - LastName
      type: object
    PrincipalMatch:
      example:
        Address:
          Country: USA
          PostalCode: "66579"
          CountrySubdivision: IL
          City: DALLAS
          Line1: 42 ELM AVENUE
          Line2: SUITE 201
          Province: ""
        MiddleInitial: P
        FirstName: DAVID
        NationalId: "541022104"
        PhoneNumber: "3165557625"
        AltPhoneNumber: "3165557625"
        DriversLicense:
          Number: M15698025
          Country: USA
          CountrySubdivision: IL
        LastName: SMITH
        SearchCriteria:
          MinPossibleMatchCount: "3"
          SearchAll: "N"
          Country:
          - USA
          - USA
          Region:
          - A
          - A
        Name: THE BAIT SHOP
      properties:
        Address:
          $ref: '#/components/schemas/Address'
        AltPhoneNumber:
          description: "The Business or Merchant's alternate phone number, including\
            \ the area code. Within the USA, phone numbers have a length of 10, and\
            \ for out outside the US, a max length of 25. Within the U.S. phone numbers\
            \ can not start with 0 or 1. If the number is outside the U.S. region;\
[...]
