openapi: 3.0.1
info:
  description: The Admin Backup Management Client.
  title: BackupManagementClient
  version: 2018-09-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/backup/Microsoft.Backup.Admin/preview/2018-09-01/Backups.json
    version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: azsadmin-Backups
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://adminmanagement.local.azurestack.external/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Backup.Admin/backupLocations/{location}/backups
  : get:
      description: Returns a list of backups from a location.
      operationId: backups_list
      parameters:
      - description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the backup location.
        in: path
        name: location
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          default: 2018-09-01
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackupList'
          description: OK
      tags:
      - Backups
      x-ms-examples:
        Returns a list of backups from a location.:
          parameters:
            api-version: 2018-09-01
            location: local
            resourceGroupName: System.local
            subscriptionId: 11111111-2222-3333-4444-555555555555
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/11111111-2222-3333-4444-555555555555/resourceGroups/System.local/providers/Microsoft.Backup.Admin/backupLocations/local/backups/64e8625a-8dc0-49df-a195-932901b4be81
                  location: local
                  name: 64e8625a-8dc0-49df-a195-932901b4be81
                  properties:
                    backupInfo:
                      backupDataVersion: 1.0.1
                      createdDateTime: 2018-08-28T07:47:11.3081476Z
                      deploymentID: d3236bc0-6a46-4877-a9da-6fe69e9661df
                      encryptionCertThumbprint: BDB07F879C1F1A05B74EB43AEAF5E5B5F84DCEA8
                      isCloudRecoveryReady: true
                      roleStatus:
                      - roleName: NRP
                        status: Succeeded
                      - roleName: SRP
                        status: Succeeded
                      - roleName: CRP
                        status: Succeeded
                      - roleName: KeyVaultInternalControlPlane
                        status: Succeeded
                      - roleName: KeyVaultInternalDataPlane
                        status: Succeeded
                      - roleName: KeyVaultControlPlane
                        status: Succeeded
                      - roleName: KeyVaultDataPlane
                        status: Succeeded
                      - roleName: KeyVaultNamingService
                        status: Succeeded
                      - roleName: WAS
                        status: Succeeded
                      - roleName: ECE
                        status: Succeeded
                      - roleName: Domain
                        status: Succeeded
                      - roleName: CA
                        status: Succeeded
                      - roleName: ACS
                        status: Succeeded
                      stampVersion: 1.1809.0.25
                      status: Succeeded
                      timeTakenToCreate: PT20M48.5970829S
                  tags: {}
                  type: Microsoft.Backup.Admin/backupLocations/backups
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.backups_controller
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Backup.Admin/backupLocations/{location}/backups/{backup}
  : get:
      description: Returns a backup from a location based on name.
      operationId: backups_get
      parameters:
      - description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the backup location.
        in: path
        name: location
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the backup.
        in: path
        name: backup
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          default: 2018-09-01
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Backup'
          description: OK
      tags:
      - Backups
      x-ms-examples:
        Returns a backup from a location based on name.:
          parameters:
            api-version: 2018-09-01
            backup: 64e8625a-8dc0-49df-a195-932901b4be81
            location: local
            resourceGroupName: System.local
            subscriptionId: 11111111-2222-3333-4444-555555555555
          responses:
            "200":
              body:
                id: /subscriptions/11111111-2222-3333-4444-555555555555/resourceGroups/System.local/providers/Microsoft.Backup.Admin/backupLocations/local/backups/64e8625a-8dc0-49df-a195-932901b4be81
                location: local
                name: 64e8625a-8dc0-49df-a195-932901b4be81
                properties:
                  backupInfo:
                    backupDataVersion: 1.0.1
                    createdDateTime: 2018-08-28T07:47:11.3081476Z
                    deploymentID: d3236bc0-6a46-4877-a9da-6fe69e9661df
                    encryptionCertThumbprint: BDB07F879C1F1A05B74EB43AEAF5E5B5F84DCEA8
                    isCloudRecoveryReady: true
                    roleStatus:
                    - roleName: NRP
                      status: Succeeded
                    - roleName: SRP
                      status: Succeeded
                    - roleName: CRP
                      status: Succeeded
                    - roleName: KeyVaultInternalControlPlane
                      status: Succeeded
                    - roleName: KeyVaultInternalDataPlane
                      status: Succeeded
                    - roleName: KeyVaultControlPlane
                      status: Succeeded
                    - roleName: KeyVaultDataPlane
                      status: Succeeded
                    - roleName: KeyVaultNamingService
                      status: Succeeded
                    - roleName: WAS
                      status: Succeeded
                    - roleName: ECE
                      status: Succeeded
                    - roleName: Domain
                      status: Succeeded
                    - roleName: CA
                      status: Succeeded
                    - roleName: ACS
                      status: Succeeded
                    stampVersion: 1.1809.0.25
                    status: Succeeded
                    timeTakenToCreate: PT20M48.5970829S
                tags: {}
                type: Microsoft.Backup.Admin/backupLocations/backups
      x-openapi-router-controller: openapi_server.controllers.backups_controller
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Backup.Admin/backupLocations/{location}/backups/{backup}/restore
  : post:
      description: Restore a backup.
      operationId: backups_restore
      parameters:
      - description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of the backup location.
        in: path
        name: location
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the backup.
        in: path
        name: backup
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          default: 2018-09-01
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RestoreOptions'
        description: Restore options.
        required: true
        x-ms-parameter-location: method
        x-body-name: restoreOptions
      responses:
        "200":
          content: {}
          description: OK
        "202":
          content: {}
          description: ACCEPTED
      tags:
      - Backups
      x-ms-examples:
        Restore a backup.:
          parameters:
            api-version: 2018-09-01
            backup: 64e8625a-8dc0-49df-a195-932901b4be81
            location: local
            resourceGroupName: System.local
            restoreOptions:
              decryptionCertBase64: decryptionCert
              decryptionCertPassword: decryptionCertPassword
            subscriptionId: 11111111-2222-3333-4444-555555555555
          responses:
            "200": {}
            "202": {}
        Restore a single role from backup.:
          parameters:
            api-version: 2018-09-01
            backup: 64e8625a-8dc0-49df-a195-932901b4be81
            location: local
            resourceGroupName: System.local
            restoreOptions:
              decryptionCertBase64: decryptionCert
              decryptionCertPassword: decryptionCertPassword
              roleName: fakerp
            subscriptionId: 11111111-2222-3333-4444-555555555555
          responses:
            "200": {}
            "202": {}
      x-ms-long-running-operation: true
      x-codegen-request-body-name: restoreOptions
      x-openapi-router-controller: openapi_server.controllers.backups_controller
components:
  parameters:
    BackupParameter:
      description: Name of the backup.
      in: path
      name: backup
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  requestBodies:
    RestoreOptionsParameter:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RestoreOptions'
      description: Restore options.
      required: true
      x-ms-parameter-location: method
      x-body-name: restoreOptions
  schemas:
    Backup:
      allOf:
      - description: Base Resource Object
        properties:
          id:
            description: URI of the resource.
            readOnly: true
            type: string
          location:
            description: Location of the resource.
            type: string
          name:
            description: Name of the resource.
            readOnly: true
            type: string
          tags:
            additionalProperties:
              type: string
            description: List of key value pairs.
            type: object
          type:
            description: Type of resource.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: Information related to a backup.
      example:
        properties:
          backupInfo:
            timeTakenToCreate: timeTakenToCreate
            stampVersion: stampVersion
            oemVersion: oemVersion
            backupDataVersion: backupDataVersion
            deploymentID: deploymentID
            createdDateTime: 2000-01-23T04:56:07.000+00:00
            isCloudRecoveryReady: true
            encryptionCertThumbprint: encryptionCertThumbprint
            roleStatus:
            - roleName: roleName
              status: Creating
            - roleName: roleName
              status: Creating
            status: null
      properties:
        properties:
          $ref: '#/components/schemas/BackupModel'
      title: Backup
    BackupInfo:
      description: Holds information for a backup.
      example:
        timeTakenToCreate: timeTakenToCreate
        stampVersion: stampVersion
        oemVersion: oemVersion
        backupDataVersion: backupDataVersion
        deploymentID: deploymentID
        createdDateTime: 2000-01-23T04:56:07.000+00:00
        isCloudRecoveryReady: true
        encryptionCertThumbprint: encryptionCertThumbprint
        roleStatus:
        - roleName: roleName
          status: Creating
        - roleName: roleName
          status: Creating
        status: null
      properties:
        backupDataVersion:
          description: Version of the backup data.
          readOnly: true
          title: backupDataVersion
          type: string
        createdDateTime:
          description: Creation time of the backup.
          format: date-time
          readOnly: true
          title: createdDateTime
          type: string
        deploymentID:
          description: Deployment Id of the stamp.
          readOnly: true
          title: deploymentID
          type: string
        encryptionCertThumbprint:
          description: The thumbprint of the certificate used to encrypt the backup
            encryption key.
          readOnly: true
          title: encryptionCertThumbprint
          type: string
        isCloudRecoveryReady:
          description: True if the backup can be used for cloud recovery scenario.
          readOnly: true
          title: isCloudRecoveryReady
          type: boolean
        oemVersion:
          description: OEM version.
          readOnly: true
          title: oemVersion
          type: string
        roleStatus:
          description: object
          items:
            $ref: '#/components/schemas/RoleOperationStatus'
          title: RoleOperationStatusList
          type: array
        stampVersion:
          description: Azure Stack stamp version of the backup.
          readOnly: true
          title: stampVersion
          type: string
        status:
          $ref: '#/components/schemas/OperationStatus'
        timeTakenToCreate:
          description: Duration to create the backup.
          readOnly: true
          title: timeTakenToCreate
          type: string
      title: BackupInfo
      type: object
    BackupList:
      description: List of backups.
      example:
        value:
        - properties:
            backupInfo:
              timeTakenToCreate: timeTakenToCreate
              stampVersion: stampVersion
              oemVersion: oemVersion
              backupDataVersion: backupDataVersion
              deploymentID: deploymentID
              createdDateTime: 2000-01-23T04:56:07.000+00:00
              isCloudRecoveryReady: true
              encryptionCertThumbprint: encryptionCertThumbprint
              roleStatus:
              - roleName: roleName
                status: Creating
              - roleName: roleName
                status: Creating
              status: null
        - properties:
            backupInfo:
              timeTakenToCreate: timeTakenToCreate
              stampVersion: stampVersion
              oemVersion: oemVersion
              backupDataVersion: backupDataVersion
              deploymentID: deploymentID
              createdDateTime: 2000-01-23T04:56:07.000+00:00
              isCloudRecoveryReady: true
              encryptionCertThumbprint: encryptionCertThumbprint
              roleStatus:
              - roleName: roleName
                status: Creating
              - roleName: roleName
                status: Creating
              status: null
        nextLink: nextLink
      properties:
        nextLink:
          description: URI to the next page.
          title: nextLink
          type: string
        value:
          description: List of backups.
          items:
            $ref: '#/components/schemas/Backup'
          title: value
          type: array
      title: BackupList
      type: object
    BackupModel:
      description: Properties for a backup.
      example:
        backupInfo:
          timeTakenToCreate: timeTakenToCreate
          stampVersion: stampVersion
          oemVersion: oemVersion
          backupDataVersion: backupDataVersion
          deploymentID: deploymentID
          createdDateTime: 2000-01-23T04:56:07.000+00:00
          isCloudRecoveryReady: true
          encryptionCertThumbprint: encryptionCertThumbprint
          roleStatus:
          - roleName: roleName
            status: Creating
          - roleName: roleName
            status: Creating
          status: null
      properties:
        backupInfo:
          $ref: '#/components/schemas/BackupInfo'
      title: BackupModel
      type: object
    OperationStatus:
      description: Status of an operation.
      enum:
      - Creating
      - Queued
      - Running
      - Deleted
      - Failed
      - PartialSucceeded
      - Succeeded
      title: OperationStatus
      type: string
      x-ms-enum:
        modelAsString: false
        name: OperationStatus
    RestoreOptions:
      description: Properties for restore options.
      example:
        decryptionCertBase64: decryptionCertBase64
        decryptionCertPassword: decryptionCertPassword
        roleName: roleName
      properties:
        decryptionCertBase64:
          description: The certificate file raw data in Base64 string. This should
            be the .pfx file with the private key.
          title: decryptionCertBase64
          type: string
        decryptionCertPassword:
          description: The password for the decryption certificate.
          title: decryptionCertPassword
          type: string
        roleName:
          description: "The Azure Stack role name for restore, set it to empty for\
            \ all infrastructure role"
          title: roleName
          type: string
      title: RestoreOptions
      type: object
    RoleOperationStatus:
      description: Backup status for a role.
      example:
        roleName: roleName
        status: Creating
      properties:
        roleName:
          description: Name of the role.
          title: roleName
          type: string
        status:
          $ref: '#/components/schemas/OperationStatus'
      title: RoleOperationStatus
      type: object
    RoleOperationStatusList:
      description: object
      items:
        $ref: '#/components/schemas/RoleOperationStatus'
      title: RoleOperationStatusList
      type: array
  securitySchemes:
    azure_auth:
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
