openapi: 3.0.0
info:
  contact:
    x-twitter: nfldata
  description: NBA play-by-play API.
  title: NBA v3 Play-by-Play
  version: "1.0"
  x-apisguru-categories:
  - entertainment
  x-logo:
    url: https://twitter.com/nfldata/profile_image?size=original
  x-origin:
  - format: swagger
    url: https://fantasydata.com/downloads/swagger/nba-v3-play-by-play.json
    version: "2.0"
  x-providerName: sportsdata.io
  x-serviceName: nba-v3-play-by-play
servers:
- url: http://azure-api.sportsdata.io/v3/nba/pbp
- url: https://azure-api.sportsdata.io/v3/nba/pbp
security:
- apiKeyHeader: []
- apiKeyQuery: []
paths:
  /{format}/PlayByPlay/{gameid}:
    get:
      operationId: play_by_play
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "The GameID of an NBA game.  GameIDs can be found in the Games\
          \ API.  Valid entries are <code>14620</code>, <code>16905</code>, etc."
        explode: false
        in: path
        name: gameid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayByPlay'
          description: ""
      summary: Play By Play
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/PlayByPlayDelta/{date}/{minutes}:
    get:
      operationId: play_by_play_delta
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: |-
          The date of the game(s).
          <br>Examples: <code>2016-OCT-31</code>, <code>2017-JAN-15</code>.
        explode: false
        in: path
        name: date
        required: true
        schema:
          type: string
        style: simple
      - description: |-
          Only returns plays that have changed in the last X minutes.  You specify how many minutes in time to go back.  Valid entries are:
          <code>1</code>, <code>2</code> ... <code>all</code>.
        explode: false
        in: path
        name: minutes
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PlayByPlay'
                type: array
          description: ""
      summary: Play By Play Delta
      x-openapi-router-controller: openapi_server.controllers.default_controller
components:
  schemas:
    Game:
      example:
        Quarter: Quarter
        AwayTeam: AwayTeam
        GameEndDateTime: GameEndDateTime
        HomeRotationNumber: 7
        HomeTeamMoneyLine: 1
        HomeTeamID: 1
        AwayTeamID: 5
        IsClosed: true
        DateTime: DateTime
        LastPlay: LastPlay
        TimeRemainingSeconds: 3
        RefereeID: 6
        UnderPayout: 7
        UmpireID: 3
        GlobalHomeTeamID: 4
        AlternateID: 0
        Quarters:
        - QuarterID: 9
          HomeScore: 6
          Number: 8
          AwayScore: 9
          GameID: 9
          Name: Name
        - QuarterID: 9
          HomeScore: 6
          Number: 8
          AwayScore: 9
          GameID: 9
          Name: Name
        Season: 3
        GameID: 9
        GlobalGameID: 2
        OverPayout: 6
        Attendance: 6
        Status: Status
        HomeTeam: HomeTeam
        Updated: Updated
        TimeRemainingMinutes: 6
        Channel: Channel
        OverUnder: 7.457744773683766
        NeutralVenue: true
        StadiumID: 5
        SeriesInfo:
          GameNumber: 2
          MaxLength: 6
          AwayTeamWins: 1
          HomeTeamWins: 6
        SeasonType: 6
        CrewChiefID: 7
        HomeTeamScore: 1
        PointSpread: 1.1730742509559433
        AwayRotationNumber: 1
        PointSpreadAwayTeamMoneyLine: 4
        AwayTeamScore: 2
        GlobalAwayTeamID: 3
        DateTimeUTC: DateTimeUTC
        PointSpreadHomeTeamMoneyLine: 5
        AwayTeamMoneyLine: 5
        Day: Day
      properties:
        AlternateID:
          nullable: true
          title: AlternateID
          type: integer
        Attendance:
          nullable: true
          title: Attendance
          type: integer
        AwayRotationNumber:
          nullable: true
          title: AwayRotationNumber
          type: integer
        AwayTeam:
          nullable: true
          title: AwayTeam
          type: string
        AwayTeamID:
          nullable: false
          title: AwayTeamID
          type: integer
        AwayTeamMoneyLine:
          nullable: true
          title: AwayTeamMoneyLine
          type: integer
        AwayTeamScore:
          nullable: true
          title: AwayTeamScore
          type: integer
        Channel:
          nullable: true
          title: Channel
          type: string
        CrewChiefID:
          nullable: true
          title: CrewChiefID
          type: integer
        DateTime:
          nullable: true
          title: DateTime
          type: string
        DateTimeUTC:
          nullable: true
          title: DateTimeUTC
          type: string
        Day:
          nullable: true
          title: Day
          type: string
        GameEndDateTime:
          nullable: true
          title: GameEndDateTime
          type: string
        GameID:
          nullable: false
          title: GameID
          type: integer
        GlobalAwayTeamID:
          nullable: false
          title: GlobalAwayTeamID
          type: integer
        GlobalGameID:
          nullable: false
          title: GlobalGameID
          type: integer
        GlobalHomeTeamID:
          nullable: false
          title: GlobalHomeTeamID
          type: integer
        HomeRotationNumber:
          nullable: true
          title: HomeRotationNumber
          type: integer
        HomeTeam:
          nullable: true
          title: HomeTeam
          type: string
        HomeTeamID:
          nullable: false
          title: HomeTeamID
          type: integer
        HomeTeamMoneyLine:
          nullable: true
          title: HomeTeamMoneyLine
          type: integer
        HomeTeamScore:
          nullable: true
          title: HomeTeamScore
          type: integer
        IsClosed:
          nullable: false
          title: IsClosed
          type: boolean
        LastPlay:
          nullable: true
          title: LastPlay
          type: string
        NeutralVenue:
          nullable: true
          title: NeutralVenue
          type: boolean
        OverPayout:
          nullable: true
          title: OverPayout
          type: integer
        OverUnder:
          nullable: true
          title: OverUnder
          type: number
        PointSpread:
          nullable: true
          title: PointSpread
          type: number
        PointSpreadAwayTeamMoneyLine:
          nullable: true
          title: PointSpreadAwayTeamMoneyLine
          type: integer
        PointSpreadHomeTeamMoneyLine:
          nullable: true
          title: PointSpreadHomeTeamMoneyLine
          type: integer
        Quarter:
          nullable: true
          title: Quarter
          type: string
        Quarters:
          items:
            $ref: '#/components/schemas/Quarter'
          title: Quarters
          type: array
        RefereeID:
          nullable: true
          title: RefereeID
          type: integer
        Season:
          nullable: false
          title: Season
          type: integer
        SeasonType:
          nullable: false
          title: SeasonType
          type: integer
        SeriesInfo:
          $ref: '#/components/schemas/Series'
        StadiumID:
          nullable: true
          title: StadiumID
          type: integer
        Status:
          nullable: true
          title: Status
          type: string
        TimeRemainingMinutes:
          nullable: true
          title: TimeRemainingMinutes
          type: integer
        TimeRemainingSeconds:
          nullable: true
          title: TimeRemainingSeconds
          type: integer
        UmpireID:
          nullable: true
          title: UmpireID
          type: integer
        UnderPayout:
          nullable: true
          title: UnderPayout
          type: integer
        Updated:
          nullable: true
          title: Updated
          type: string
      title: Game
    Play:
      example:
        QuarterID: 4
        PlayerID: 7
        Category: Category
        Description: Description
        AssistedByPlayerID: 0
        PlayID: 3
        TeamID: 0
        BlockedByPlayerID: 4
        QuarterName: QuarterName
        Created: Created
        SubstituteOutPlayerID: 9
        Points: 5
        TimeRemainingSeconds: 0
        PotentialPoints: 3
        SidelineOffsetPercentage: 1.041444916118296
        Opponent: Opponent
        HomePlayerID: 8
        Team: Team
        FastBreak: true
        AwayPlayerID: 7
        ReceivingTeamID: 6
        Updated: Updated
        TimeRemainingMinutes: 9
        Coordinates: Coordinates
        BaselineOffsetPercentage: 0.10263654006109402
        Sequence: 4
        ReceivingPlayerID: 0
        SideOfBasket: SideOfBasket
        OpponentID: 3
        StolenByPlayerID: 4
        Type: Type
        HomeTeamScore: 7
        ShotMade: true
        ReceivingTeam: ReceivingTeam
        AwayTeamScore: 6
        SubstituteInPlayerID: 7
      properties:
        AssistedByPlayerID:
          nullable: true
          title: AssistedByPlayerID
          type: integer
        AwayPlayerID:
          nullable: true
          title: AwayPlayerID
          type: integer
        AwayTeamScore:
          nullable: true
          title: AwayTeamScore
          type: integer
        BaselineOffsetPercentage:
          nullable: true
          title: BaselineOffsetPercentage
          type: number
        BlockedByPlayerID:
          nullable: true
          title: BlockedByPlayerID
          type: integer
        Category:
          nullable: true
          title: Category
          type: string
        Coordinates:
          nullable: true
          title: Coordinates
          type: string
        Created:
          nullable: true
          title: Created
          type: string
        Description:
          nullable: true
          title: Description
          type: string
        FastBreak:
          nullable: true
          title: FastBreak
          type: boolean
        HomePlayerID:
          nullable: true
          title: HomePlayerID
          type: integer
        HomeTeamScore:
          nullable: true
          title: HomeTeamScore
          type: integer
        Opponent:
          nullable: true
          title: Opponent
          type: string
        OpponentID:
          nullable: true
          title: OpponentID
          type: integer
        PlayID:
          nullable: false
          title: PlayID
          type: integer
        PlayerID:
          nullable: true
          title: PlayerID
          type: integer
        Points:
          nullable: true
          title: Points
          type: integer
        PotentialPoints:
          nullable: true
          title: PotentialPoints
          type: integer
        QuarterID:
          nullable: false
          title: QuarterID
          type: integer
        QuarterName:
          nullable: true
          title: QuarterName
          type: string
        ReceivingPlayerID:
          nullable: true
          title: ReceivingPlayerID
          type: integer
        ReceivingTeam:
          nullable: true
          title: ReceivingTeam
          type: string
        ReceivingTeamID:
          nullable: true
          title: ReceivingTeamID
          type: integer
        Sequence:
          nullable: false
          title: Sequence
          type: integer
        ShotMade:
          nullable: true
          title: ShotMade
          type: boolean
        SideOfBasket:
          nullable: true
          title: SideOfBasket
          type: string
        SidelineOffsetPercentage:
          nullable: true
          title: SidelineOffsetPercentage
          type: number
        StolenByPlayerID:
          nullable: true
          title: StolenByPlayerID
          type: integer
        SubstituteInPlayerID:
          nullable: true
          title: SubstituteInPlayerID
          type: integer
        SubstituteOutPlayerID:
          nullable: true
          title: SubstituteOutPlayerID
          type: integer
        Team:
          nullable: true
          title: Team
          type: string
        TeamID:
          nullable: true
          title: TeamID
          type: integer
        TimeRemainingMinutes:
          nullable: true
          title: TimeRemainingMinutes
          type: integer
        TimeRemainingSeconds:
          nullable: true
          title: TimeRemainingSeconds
          type: integer
        Type:
          nullable: true
          title: Type
          type: string
        Updated:
          nullable: true
          title: Updated
          type: string
      title: Play
    PlayByPlay:
      example:
        Game:
          Quarter: Quarter
          AwayTeam: AwayTeam
          GameEndDateTime: GameEndDateTime
          HomeRotationNumber: 7
          HomeTeamMoneyLine: 1
          HomeTeamID: 1
          AwayTeamID: 5
          IsClosed: true
          DateTime: DateTime
          LastPlay: LastPlay
          TimeRemainingSeconds: 3
          RefereeID: 6
          UnderPayout: 7
          UmpireID: 3
          GlobalHomeTeamID: 4
          AlternateID: 0
          Quarters:
          - QuarterID: 9
            HomeScore: 6
            Number: 8
            AwayScore: 9
            GameID: 9
            Name: Name
          - QuarterID: 9
            HomeScore: 6
            Number: 8
            AwayScore: 9
            GameID: 9
            Name: Name
          Season: 3
          GameID: 9
          GlobalGameID: 2
          OverPayout: 6
          Attendance: 6
          Status: Status
          HomeTeam: HomeTeam
          Updated: Updated
          TimeRemainingMinutes: 6
          Channel: Channel
          OverUnder: 7.457744773683766
          NeutralVenue: true
          StadiumID: 5
          SeriesInfo:
            GameNumber: 2
            MaxLength: 6
            AwayTeamWins: 1
            HomeTeamWins: 6
          SeasonType: 6
          CrewChiefID: 7
          HomeTeamScore: 1
          PointSpread: 1.1730742509559433
          AwayRotationNumber: 1
          PointSpreadAwayTeamMoneyLine: 4
          AwayTeamScore: 2
          GlobalAwayTeamID: 3
          DateTimeUTC: DateTimeUTC
          PointSpreadHomeTeamMoneyLine: 5
          AwayTeamMoneyLine: 5
          Day: Day
        Plays:
        - QuarterID: 4
          PlayerID: 7
          Category: Category
          Description: Description
          AssistedByPlayerID: 0
          PlayID: 3
          TeamID: 0
          BlockedByPlayerID: 4
          QuarterName: QuarterName
          Created: Created
          SubstituteOutPlayerID: 9
          Points: 5
          TimeRemainingSeconds: 0
          PotentialPoints: 3
          SidelineOffsetPercentage: 1.041444916118296
          Opponent: Opponent
          HomePlayerID: 8
          Team: Team
          FastBreak: true
          AwayPlayerID: 7
          ReceivingTeamID: 6
          Updated: Updated
          TimeRemainingMinutes: 9
          Coordinates: Coordinates
          BaselineOffsetPercentage: 0.10263654006109402
          Sequence: 4
          ReceivingPlayerID: 0
          SideOfBasket: SideOfBasket
          OpponentID: 3
          StolenByPlayerID: 4
          Type: Type
          HomeTeamScore: 7
          ShotMade: true
          ReceivingTeam: ReceivingTeam
          AwayTeamScore: 6
          SubstituteInPlayerID: 7
        - QuarterID: 4
          PlayerID: 7
          Category: Category
          Description: Description
          AssistedByPlayerID: 0
          PlayID: 3
          TeamID: 0
          BlockedByPlayerID: 4
          QuarterName: QuarterName
          Created: Created
          SubstituteOutPlayerID: 9
          Points: 5
          TimeRemainingSeconds: 0
          PotentialPoints: 3
          SidelineOffsetPercentage: 1.041444916118296
          Opponent: Opponent
          HomePlayerID: 8
          Team: Team
          FastBreak: true
          AwayPlayerID: 7
          ReceivingTeamID: 6
          Updated: Updated
          TimeRemainingMinutes: 9
          Coordinates: Coordinates
          BaselineOffsetPercentage: 0.10263654006109402
          Sequence: 4
          ReceivingPlayerID: 0
          SideOfBasket: SideOfBasket
          OpponentID: 3
          StolenByPlayerID: 4
          Type: Type
          HomeTeamScore: 7
          ShotMade: true
          ReceivingTeam: ReceivingTeam
          AwayTeamScore: 6
          SubstituteInPlayerID: 7
        Quarters:
        - QuarterID: 9
          HomeScore: 6
          Number: 8
          AwayScore: 9
          GameID: 9
          Name: Name
        - QuarterID: 9
          HomeScore: 6
          Number: 8
          AwayScore: 9
          GameID: 9
          Name: Name
      properties:
        Game:
          $ref: '#/components/schemas/Game'
        Plays:
          items:
            $ref: '#/components/schemas/Play'
          title: Plays
          type: array
        Quarters:
          items:
            $ref: '#/components/schemas/Quarter'
          title: Quarters
          type: array
      title: PlayByPlay
    Quarter:
      example:
        QuarterID: 9
        HomeScore: 6
        Number: 8
        AwayScore: 9
        GameID: 9
        Name: Name
      properties:
        AwayScore:
          nullable: true
          title: AwayScore
          type: integer
        GameID:
          nullable: false
          title: GameID
          type: integer
        HomeScore:
          nullable: true
          title: HomeScore
          type: integer
        Name:
          nullable: true
          title: Name
          type: string
        Number:
          nullable: false
          title: Number
          type: integer
        QuarterID:
          nullable: false
          title: QuarterID
          type: integer
      title: Quarter
    Series:
      example:
        GameNumber: 2
        MaxLength: 6
        AwayTeamWins: 1
        HomeTeamWins: 6
      properties:
        AwayTeamWins:
          nullable: false
          title: AwayTeamWins
          type: integer
        GameNumber:
          nullable: false
          title: GameNumber
          type: integer
        HomeTeamWins:
          nullable: false
          title: HomeTeamWins
          type: integer
        MaxLength:
          nullable: false
          title: MaxLength
          type: integer
      title: Series
  securitySchemes:
    apiKeyHeader:
      in: header
      name: Ocp-Apim-Subscription-Key
      type: apiKey
      x-apikeyInfoFunc: openapi_server.controllers.security_controller.info_from_apiKeyHeader
    apiKeyQuery:
      in: query
      name: key
      type: apiKey
      x-apikeyInfoFunc: openapi_server.controllers.security_controller.info_from_apiKeyQuery
