openapi: 3.0.2
info:
  contact:
    email: kevin@presalytics.io
    name: Presalytics.io
    url: http://presalytics.io
  description: "This api converts file formats of OpenXml and OpenOffice documents\
    \ formats to vector files (e.g., svg)"
  license:
    name: AGPL
  title: Doc Converter
  version: "0.1"
  x-apisguru-categories:
  - analytics
  x-logo:
    url: https://presalytics.io/static/img/Logo/Logos/Orange-White/navbar.png
  x-origin:
  - format: openapi
    url: https://api.presalytics.io/doc-converter/openapi.json
    version: "3.0"
  x-providerName: presalytics.io
  x-serviceName: converter
servers:
- description: Base server
  url: https://api.presalytics.io/doc-converter/
paths:
  /svgconvert:
    post:
      operationId: svgconvert
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/File_to_Convert'
        description: Fizepath to pptx file
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/File_Url'
          description: Url of svg file
        "400":
          description: Bad Request.
        "415":
          description: Invalid file type
      summary: converts pptx file to svg image
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
components:
  schemas:
    File_to_Convert:
      properties:
        file:
          format: binary
          type: string
      title: File to Convert
      type: object
    File_Url:
      example:
        blob_name: blob_name
        blob_url: blob_url
      properties:
        blob_name:
          title: blob_name
          type: string
        blob_url:
          title: blob_url
          type: string
      title: File Url
      type: object
