openapi: 3.0.1
info:
  description: Use these REST APIs for performing operations on Identity Provider
    entity associated with your Azure API Management deployment. Setting up an external
    Identity Provider for authentication can help you manage the developer portal
    logins using the OAuth2 flow.
  title: ApiManagementClient
  version: 2017-03-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2017-03-01/apimidentityprovider.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: apimanagement-apimidentityprovider
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/identityProviders
  : get:
      description: Lists a collection of Identity Provider configured in the specified
        service instance.
      externalDocs:
        url: https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-aad#how-to-authorize-developer-accounts-using-azure-active-directory
      operationId: identity_provider_list_by_service
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentityProviderList'
          description: Lists a collection of Identity Providers.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentityProvider_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - IdentityProvider
      x-ms-examples:
        ApiManagementListIdentityProviders:
          parameters:
            api-version: 2017-03-01
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                nextLink: ""
                value:
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/identityProviders/Google
                  name: Google
                  properties:
                    clientId: googleId
                    clientSecret: googlesecret
                    type: google
                  type: Microsoft.ApiManagement/service/identityProviders
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/identityProviders/Aad
                  name: Aad
                  properties:
                    allowedTenants:
                    - samiraad.onmicrosoft.com
                    clientId: aadapplicationid
                    clientSecret: aadapplicationkey
                    type: aad
                  type: Microsoft.ApiManagement/service/identityProviders
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/identityProviders/AadB2C
                  name: AadB2C
                  properties:
                    allowedTenants:
                    - samirtestbc.onmicrosoft.com
                    clientId: aadb2clientId
                    clientSecret: aadb2cClientKey
                    signinPolicyName: B2C_1_Signin_Default
                    signupPolicyName: B2C_1_Signup_Default
                    type: aadB2C
                  type: Microsoft.ApiManagement/service/identityProviders
      x-openapi-router-controller: openapi_server.controllers.identity_provider_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/identityProviders/{identityProviderName}
  : delete:
      description: Deletes the specified identity provider configuration.
      operationId: identity_provider_delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Identity Provider Type identifier.
        in: path
        name: identity_provider_name
        required: true
        schema:
          enum:
          - facebook
          - google
          - microsoft
          - twitter
          - aad
          - aadB2C
          type: string
          x-ms-enum:
            modelAsString: true
            name: IdentityProviderType
            values:
            - description: Facebook as Identity provider.
              value: facebook
            - description: Google as Identity provider.
              value: google
            - description: Microsoft Live as Identity provider.
              value: microsoft
            - description: Twitter as Identity provider.
              value: twitter
            - description: Azure Active Directory as Identity provider.
              value: aad
            - description: Azure Active Directory B2C as Identity provider.
              value: aadB2C
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: IdentityProviderType
          values:
          - description: Facebook as Identity provider.
            value: facebook
          - description: Google as Identity provider.
            value: google
          - description: Microsoft Live as Identity provider.
            value: microsoft
          - description: Twitter as Identity provider.
            value: twitter
          - description: Azure Active Directory as Identity provider.
            value: aad
          - description: Azure Active Directory B2C as Identity provider.
            value: aadB2C
        x-ms-parameter-location: method
      - description: The entity state (Etag) version of the backend to delete. A value
          of "*" can be used for If-Match to unconditionally apply the operation.
        in: header
        name: If-Match
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: The identity provider configuration was successfully deleted.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentityProvider_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - IdentityProvider
      x-ms-examples:
        ApiManagementDeleteIdentityProvider:
          parameters:
            If-Match: '*'
            api-version: 2017-03-01
            identityProviderName: aad
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.identity_provider_controller
    get:
      description: Gets the configuration details of the identity Provider configured
        in specified service instance.
      operationId: identity_provider_get
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Identity Provider Type identifier.
        in: path
        name: identityProviderName
        required: true
        schema:
          enum:
          - facebook
          - google
          - microsoft
          - twitter
          - aad
          - aadB2C
          type: string
          x-ms-enum:
            modelAsString: true
            name: IdentityProviderType
            values:
            - description: Facebook as Identity provider.
              value: facebook
            - description: Google as Identity provider.
              value: google
            - description: Microsoft Live as Identity provider.
              value: microsoft
            - description: Twitter as Identity provider.
              value: twitter
            - description: Azure Active Directory as Identity provider.
              value: aad
            - description: Azure Active Directory B2C as Identity provider.
              value: aadB2C
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: IdentityProviderType
          values:
          - description: Facebook as Identity provider.
            value: facebook
          - description: Google as Identity provider.
            value: google
          - description: Microsoft Live as Identity provider.
            value: microsoft
          - description: Twitter as Identity provider.
            value: twitter
          - description: Azure Active Directory as Identity provider.
            value: aad
          - description: Azure Active Directory B2C as Identity provider.
            value: aadB2C
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentityProviderContract'
          description: The response body contains the specified IdentityProvider entity
            configuration details.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentityProvider_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - IdentityProvider
      x-ms-examples:
        ApiManagementGetIdentityProvider:
          parameters:
            api-version: 2017-03-01
            identityProviderName: aadB2C
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/identityProviders/aadB2C
                name: aadB2C
                properties:
                  allowedTenants:
                  - samirtestbc.onmicrosoft.com
                  clientId: 315c8e2b-29fc-413d-822f-4efab7f43c42
                  clientSecret: SnE4laLjmxc2QKWTPoRxOiwvSnnwMCFN+jLYDpBCUXw=
                  signinPolicyName: B2C_1_signup-policy
                  signupPolicyName: B2C_1_Signup_Default
                  type: aadB2C
                type: Microsoft.ApiManagement/service/identityProviders
      x-openapi-router-controller: openapi_server.controllers.identity_provider_controller
    head:
      description: Gets the entity state (Etag) version of the identityProvider specified
        by its identifier.
      operationId: identity_provider_get_entity_tag
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Identity Provider Type identifier.
        in: path
        name: identity_provider_name
        required: true
        schema:
          enum:
          - facebook
          - google
          - microsoft
          - twitter
          - aad
          - aadB2C
          type: string
          x-ms-enum:
            modelAsString: true
            name: IdentityProviderType
            values:
            - description: Facebook as Identity provider.
              value: facebook
            - description: Google as Identity provider.
              value: google
            - description: Microsoft Live as Identity provider.
              value: microsoft
            - description: Twitter as Identity provider.
              value: twitter
            - description: Azure Active Directory as Identity provider.
              value: aad
            - description: Azure Active Directory B2C as Identity provider.
              value: aadB2C
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: IdentityProviderType
          values:
          - description: Facebook as Identity provider.
            value: facebook
          - description: Google as Identity provider.
            value: google
          - description: Microsoft Live as Identity provider.
            value: microsoft
          - description: Twitter as Identity provider.
            value: twitter
          - description: Azure Active Directory as Identity provider.
            value: aad
          - description: Azure Active Directory B2C as Identity provider.
            value: aadB2C
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Specified identity provider entity exists and current entity
            state version is present in the ETag header.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentityProvider_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - IdentityProvider
      x-ms-examples:
        ApiManagementHeadIdentityProvider:
          parameters:
            api-version: 2017-03-01
            identityProviderName: aadB2C
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              headers:
                etag: AAAAAAAAAAa=
      x-openapi-router-controller: openapi_server.controllers.identity_provider_controller
    patch:
      description: Updates an existing IdentityProvider configuration.
      operationId: identity_provider_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Identity Provider Type identifier.
        in: path
        name: identity_provider_name
        required: true
        schema:
          enum:
          - facebook
          - google
          - microsoft
          - twitter
          - aad
          - aadB2C
          type: string
          x-ms-enum:
            modelAsString: true
            name: IdentityProviderType
            values:
            - description: Facebook as Identity provider.
              value: facebook
            - description: Google as Identity provider.
              value: google
            - description: Microsoft Live as Identity provider.
              value: microsoft
            - description: Twitter as Identity provider.
              value: twitter
            - description: Azure Active Directory as Identity provider.
              value: aad
            - description: Azure Active Directory B2C as Identity provider.
              value: aadB2C
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: IdentityProviderType
          values:
          - description: Facebook as Identity provider.
            value: facebook
          - description: Google as Identity provider.
            value: google
          - description: Microsoft Live as Identity provider.
            value: microsoft
          - description: Twitter as Identity provider.
            value: twitter
          - description: Azure Active Directory as Identity provider.
            value: aad
          - description: Azure Active Directory B2C as Identity provider.
            value: aadB2C
        x-ms-parameter-location: method
      - description: The entity state (Etag) version of the identity provider configuration
          to update. A value of "*" can be used for If-Match to unconditionally apply
          the operation.
        in: header
        name: If-Match
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IdentityProviderUpdateParameters'
        description: Update parameters.
        required: true
        x-body-name: parameters
      responses:
        "204":
          content: {}
          description: The existing identity provider configuration was successfully
            updated.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentityProvider_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - IdentityProviders
      x-ms-examples:
        ApiManagementUpdateIdentityProvider:
          parameters:
            If-Match: '*'
            api-version: 2017-03-01
            identityProviderName: facebook
            parameters:
              properties:
                clientId: updatedfacebookid
                clientSecret: updatedfacebooksecret
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "204": {}
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.identity_providers_controller
    put:
      description: Creates or Updates the IdentityProvider configuration.
      operationId: identity_provider_create_or_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Identity Provider Type identifier.
        in: path
        name: identity_provider_name
        required: true
        schema:
          enum:
          - facebook
          - google
          - microsoft
          - twitter
          - aad
          - aadB2C
          type: string
          x-ms-enum:
            modelAsString: true
            name: IdentityProviderType
            values:
            - description: Facebook as Identity provider.
              value: facebook
            - description: Google as Identity provider.
              value: google
            - description: Microsoft Live as Identity provider.
              value: microsoft
            - description: Twitter as Identity provider.
              value: twitter
            - description: Azure Active Directory as Identity provider.
              value: aad
            - description: Azure Active Directory B2C as Identity provider.
              value: aadB2C
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: IdentityProviderType
          values:
          - description: Facebook as Identity provider.
            value: facebook
          - description: Google as Identity provider.
            value: google
          - description: Microsoft Live as Identity provider.
            value: microsoft
          - description: Twitter as Identity provider.
            value: twitter
          - description: Azure Active Directory as Identity provider.
            value: aad
          - description: Azure Active Directory B2C as Identity provider.
            value: aadB2C
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IdentityProviderContract'
        description: Create parameters.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentityProviderContract'
          description: The existing Identity Provider was successfully updated.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentityProviderContract'
          description: IdentityProvider configuration were successfully created.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentityProvider_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - IdentityProvider
      x-ms-examples:
        ApiManagementCreateIdentityProvider:
          parameters:
            api-version: 2017-03-01
            identityProviderName: facebook
            parameters:
              properties:
                clientId: facebookid
                clientSecret: facebookapplicationsecret
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/identityProviders/Facebook
                name: Facebook
                properties:
                  clientId: facebookid
                  clientSecret: facebookapplicationsecret
                  type: facebook
                type: Microsoft.ApiManagement/service/identityProviders
            "201":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/identityProviders/Facebook
                name: Facebook
                properties:
                  clientId: facebookid
                  clientSecret: facebookapplicationsecret
                  type: facebook
                type: Microsoft.ApiManagement/service/identityProviders
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.identity_provider_controller
components:
  parameters:
    IdentityProviderNameParameter:
      description: Identity Provider Type identifier.
      in: path
      name: identityProviderName
      required: true
      schema:
        enum:
        - facebook
        - google
        - microsoft
        - twitter
        - aad
        - aadB2C
        type: string
        x-ms-enum:
          modelAsString: true
          name: IdentityProviderType
          values:
          - description: Facebook as Identity provider.
            value: facebook
          - description: Google as Identity provider.
            value: google
          - description: Microsoft Live as Identity provider.
            value: microsoft
          - description: Twitter as Identity provider.
            value: twitter
          - description: Azure Active Directory as Identity provider.
            value: aad
          - description: Azure Active Directory B2C as Identity provider.
            value: aadB2C
        x-ms-parameter-location: method
      x-ms-enum:
        modelAsString: true
        name: IdentityProviderType
        values:
        - description: Facebook as Identity provider.
          value: facebook
        - description: Google as Identity provider.
          value: google
        - description: Microsoft Live as Identity provider.
          value: microsoft
        - description: Twitter as Identity provider.
          value: twitter
        - description: Azure Active Directory as Identity provider.
          value: aad
        - description: Azure Active Directory B2C as Identity provider.
          value: aadB2C
      x-ms-parameter-location: method
  schemas:
    IdentityProviderBaseParameters:
      description: Identity Provider Base Parameter Properties.
      properties:
        allowedTenants:
          description: List of Allowed Tenants when configuring Azure Active Directory
            login.
          items:
            type: string
          maxItems: 32
          title: allowedTenants
          type: array
        passwordResetPolicyName:
          description: Password Reset Policy Name. Only applies to AAD B2C Identity
            Provider.
          minLength: 1
          title: passwordResetPolicyName
          type: string
        profileEditingPolicyName:
          description: Profile Editing Policy Name. Only applies to AAD B2C Identity
            Provider.
          minLength: 1
          title: profileEditingPolicyName
          type: string
        signinPolicyName:
          description: Signin Policy Name. Only applies to AAD B2C Identity Provider.
          minLength: 1
          title: signinPolicyName
          type: string
        signupPolicyName:
          description: Signup Policy Name. Only applies to AAD B2C Identity Provider.
          minLength: 1
          title: signupPolicyName
          type: string
        type:
          description: Identity Provider Type identifier.
          enum:
          - facebook
          - google
          - microsoft
          - twitter
          - aad
          - aadB2C
          title: type
          type: string
          x-ms-enum:
            modelAsString: true
            name: IdentityProviderType
            values:
            - description: Facebook as Identity provider.
              value: facebook
            - description: Google as Identity provider.
              value: google
            - description: Microsoft Live as Identity provider.
              value: microsoft
            - description: Twitter as Identity provider.
              value: twitter
            - description: Azure Active Directory as Identity provider.
              value: aad
            - description: Azure Active Directory B2C as Identity provider.
              value: aadB2C
      title: IdentityProviderBaseParameters
      type: object
    IdentityProviderContract:
      allOf:
      - description: The Resource definition.
        properties:
          id:
            description: Resource ID.
            readOnly: true
            type: string
          name:
            description: Resource name.
            readOnly: true
            type: string
          type:
            description: Resource type for API Management resource.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: Identity Provider details.
      example:
        properties:
          clientId: clientId
          clientSecret: clientSecret
      properties:
        properties:
          $ref: '#/components/schemas/IdentityProviderContractProperties'
      title: IdentityProviderContract
    IdentityProviderContractProperties:
      allOf:
      - $ref: '#/components/schemas/IdentityProviderBaseParameters'
      description: "The external Identity Providers like Facebook, Google, Microsoft,\
        \ Twitter or Azure Active Directory which can be used to enable access to\
        \ the API Management service developer portal for all users."
      example:
        clientId: clientId
        clientSecret: clientSecret
      properties:
        clientId:
          description: "Client Id of the Application in the external Identity Provider.\
            \ It is App ID for Facebook login, Client ID for Google login, App ID\
            \ for Microsoft."
          minLength: 1
          title: clientId
          type: string
        clientSecret:
          description: "Client secret of the Application in external Identity Provider,\
            \ used to authenticate login request. For example, it is App Secret for\
            \ Facebook login, API Key for Google login, Public Key for Microsoft."
          minLength: 1
          title: clientSecret
          type: string
      required:
      - clientId
      - clientSecret
      title: IdentityProviderContractProperties
    IdentityProviderList:
      description: List of all the Identity Providers configured on the service instance.
      example:
        value:
        - properties:
            clientId: clientId
            clientSecret: clientSecret
        - properties:
            clientId: clientId
            clientSecret: clientSecret
        nextLink: nextLink
      properties:
        nextLink:
          description: Next page link if any.
          title: nextLink
          type: string
        value:
          description: Identity Provider configuration values.
          items:
            $ref: '#/components/schemas/IdentityProviderContract'
          title: value
          type: array
      title: IdentityProviderList
      type: object
    IdentityProviderUpdateParameters:
      description: Parameters supplied to update Identity Provider
      example:
        properties:
          clientId: clientId
          clientSecret: clientSecret
      properties:
        properties:
          $ref: '#/components/schemas/IdentityProviderUpdateProperties'
      title: IdentityProviderUpdateParameters
      type: object
    IdentityProviderUpdateProperties:
      allOf:
      - $ref: '#/components/schemas/IdentityProviderBaseParameters'
      description: Parameters supplied to the Update Identity Provider operation.
      example:
        clientId: clientId
        clientSecret: clientSecret
      properties:
        clientId:
          description: "Client Id of the Application in the external Identity Provider.\
            \ It is App ID for Facebook login, Client ID for Google login, App ID\
            \ for Microsoft."
          minLength: 1
          title: clientId
          type: string
        clientSecret:
          description: "Client secret of the Application in external Identity Provider,\
            \ used to authenticate login request. For example, it is App Secret for\
            \ Facebook login, API Key for Google login, Public Key for Microsoft."
          minLength: 1
          title: clientSecret
          type: string
      title: IdentityProviderUpdateProperties
    IdentityProvider_ListByService_default_response_details_inner:
      description: Error Field contract.
      example:
        code: code
        message: message
        target: target
      properties:
        code:
          description: Property level error code.
          title: code
          type: string
        message:
          description: Human-readable representation of property-level error.
          title: message
          type: string
        target:
          description: Property name.
          title: target
          type: string
      title: IdentityProvider_ListByService_default_response_details_inner
      type: object
    IdentityProvider_ListByService_default_response:
      description: Error Body contract.
      example:
        code: code
        details:
        - code: code
          message: message
          target: target
        - code: code
          message: message
          target: target
        message: message
      properties:
        code:
          description: Service-defined error code. This code serves as a sub-status
            for the HTTP error code specified in the response.
          title: code
          type: string
        details:
          description: "The list of invalid fields send in request, in case of validation\
            \ error."
          items:
            $ref: '#/components/schemas/IdentityProvider_ListByService_default_response_details_inner'
          title: details
          type: array
        message:
          description: Human-readable representation of the error.
          title: message
          type: string
      title: IdentityProvider_ListByService_default_response
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
