openapi: 3.0.0
info:
  title: ""
  version: 1.0.0
  x-apisguru-categories:
  - hosting
  x-origin:
  - format: swagger
    url: https://developer.godaddy.com/swagger/swagger_countries.json
    version: "2.0"
  x-providerName: ote-godaddy.com
  x-serviceName: countries
servers:
- url: //api.ote-godaddy.com
tags:
- description: ""
  name: v1
paths:
  /v1/countries:
    get:
      description: Authorization is not required
      operationId: get_countries
      parameters:
      - description: "MarketId in which the request is being made, and for which responses\
          \ should be localized"
        explode: true
        in: query
        name: marketId
        required: true
        schema:
          format: bcp-47
          type: string
        style: form
      - description: Restrict countries to this region type; required if regionName
          is supplied
        explode: true
        in: query
        name: regionTypeId
        required: false
        schema:
          type: integer
        style: form
      - description: Restrict countries to this region name; required if regionTypeId
          is supplied
        explode: true
        in: query
        name: regionName
        required: false
        schema:
          type: string
        style: form
      - description: The term to sort the result countries by.
        explode: true
        in: query
        name: sort
        required: false
        schema:
          default: key
          enum:
          - key
          - label
          type: string
        style: form
      - description: The direction to sort the result countries by.
        explode: true
        in: query
        name: order
        required: false
        schema:
          default: ascending
          enum:
          - ascending
          - descending
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArrayOfCountrySummary'
          description: Request was successful
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: marketId is required<br>regionTypeId is not a valid integer<br>regionName
            is required when regionTypeId is provided<br>regionTypeId is required
            when regionName is provided
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
          description: Too many requests received within interval
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error
      summary: Retrieves summary country information for the provided marketId and
        filters
      tags:
      - v1
      x-openapi-router-controller: openapi_server.controllers.v1_controller
  /v1/countries/{countryKey}:
    get:
      description: Authorization is not required
      operationId: get_country
      parameters:
      - description: The country key
        explode: false
        in: path
        name: countryKey
        required: true
        schema:
          format: iso-country-code
          type: string
        style: simple
      - description: "MarketId in which the request is being made, and for which responses\
          \ should be localized"
        explode: true
        in: query
        name: marketId
        required: true
        schema:
          format: bcp-47
          type: string
        style: form
      - description: The term to sort the result country states by.
        explode: true
        in: query
        name: sort
        required: false
        schema:
          default: key
          enum:
          - key
          - label
          type: string
        style: form
      - description: The direction to sort the result country states by.
        explode: true
        in: query
        name: order
        required: false
        schema:
          default: ascending
          enum:
          - ascending
          - descending
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArrayOfCountry'
          description: Request was successful
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Country not found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: marketId is required
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorLimit'
          description: Too many requests received within interval
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error
      summary: Retrieves country and summary state information for provided countryKey
      tags:
      - v1
      x-openapi-router-controller: openapi_server.controllers.v1_controller
components:
  schemas:
    ArrayOfCountry:
      items:
        $ref: '#/components/schemas/Country'
      type: array
    ArrayOfCountrySummary:
      items:
        $ref: '#/components/schemas/CountrySummary'
      type: array
    Country:
      example:
        callingCode: callingCode
        countryKey: countryKey
        label: label
        states:
        - label: label
          stateKey: stateKey
        - label: label
          stateKey: stateKey
      properties:
        callingCode:
          description: The calling code prefix used for phone numbers in this country
          title: callingCode
          type: string
        countryKey:
          description: The ISO country-code
          format: iso-country-code
          title: countryKey
          type: string
        label:
          description: The localized name of the country
          title: label
          type: string
        states:
          description: List of states/provinces in this country
          items:
            $ref: '#/components/schemas/State'
          title: states
          type: array
      title: Country
    CountrySummary:
      example:
        callingCode: callingCode
        countryKey: countryKey
        label: label
      properties:
        callingCode:
          description: The calling code prefix used for phone numbers in this country
          title: callingCode
          type: string
        countryKey:
          description: The ISO country-code
          format: iso-country-code
          title: countryKey
          type: string
        label:
          description: The localized name of the country
          title: label
          type: string
      title: CountrySummary
    Error:
      example:
        stack:
        - stack
        - stack
        code: code
        fields:
        - path: path
          code: code
          message: message
        - path: path
          code: code
          message: message
        message: message
      properties:
        code:
          description: "Short identifier for the error, suitable for indicating the\
            \ specific error within client code"
          format: constant
          title: code
          type: string
        fields:
          description: "List of the specific fields, and the errors found with their\
            \ contents"
          items:
            $ref: '#/components/schemas/ErrorField'
          title: fields
          type: array
        message:
          description: "Human-readable, English description of the error"
          title: message
          type: string
        stack:
          description: |-
            Stack trace indicating where the error occurred.<br/>
            NOTE: This attribute <strong>MAY</strong> be included for Development and Test environments.
            However, it <strong>MUST NOT</strong> be exposed from OTE nor Production systems
          items:
            type: string
          title: stack
          type: array
      required:
      - code
      title: Error
    ErrorField:
      example:
        path: path
        code: code
        message: message
      properties:
        code:
          description: "Short identifier for the error, suitable for indicating the\
            \ specific error within client code"
          format: constant
          title: code
          type: string
        message:
          description: "Human-readable, English description of the problem with the\
            \ contents of the field"
          title: message
          type: string
        path:
          description: JSONPath referring to the field within the submitted data containing
            an error
          format: json-path
          title: path
          type: string
      required:
      - code
      - path
      title: ErrorField
    ErrorLimit:
      example:
        stack:
        - stack
        - stack
        code: code
        retryAfterSec: 0
        fields:
        - path: path
          code: code
          message: message
        - path: path
          code: code
          message: message
        message: message
      properties:
        code:
          description: "Short identifier for the error, suitable for indicating the\
            \ specific error within client code"
          format: constant
          title: code
          type: string
        fields:
          description: "List of the specific fields, and the errors found with their\
            \ contents"
          items:
            $ref: '#/components/schemas/ErrorField'
          title: fields
          type: array
        message:
          description: "Human-readable, English description of the error"
          title: message
          type: string
        retryAfterSec:
          description: Number of seconds to wait before attempting a similar request
          format: integer-positive
          title: retryAfterSec
          type: integer
        stack:
          description: |-
            Stack trace indicating where the error occurred.<br/>
            NOTE: This attribute <strong>MAY</strong> be included for Development and Test environments.
            However, it <strong>MUST NOT</strong> be exposed from OTE nor Production systems
          items:
            type: string
          title: stack
          type: array
      required:
      - code
      - retryAfterSec
      title: ErrorLimit
    State:
      example:
        label: label
        stateKey: stateKey
      properties:
        label:
          description: "The localized name of the state, province, or territory"
          title: label
          type: string
        stateKey:
          description: The state code
          title: stateKey
          type: string
      title: State
