openapi: 3.0.1
info:
  description: The Microsoft Azure Network management API provides a RESTful set of
    web services that interact with Microsoft Azure Networks service to manage your
    network resources. The API has entities that capture the relationship between
    an end user and the Microsoft Azure Networks service.
  title: NetworkManagementClient
  version: 2019-07-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/network/resource-manager/Microsoft.Network/stable/2019-07-01/operation.json
    version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: network-operation
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.Network/operations:
    get:
      description: Lists all of the available Network Rest API operations.
      operationId: operations_list
      parameters:
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
          description: OK. The request has succeeded.
      x-ms-examples:
        Get a list of operations for a resource provider:
          parameters:
            api-version: 2019-07-01
            location: westus
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - display:
                    description: Gets LocalNetworkGateway
                    operation: Get LocalNetworkGateway
                    provider: Microsoft Network
                    resource: LocalNetworkGateway
                  name: Microsoft.Network/localnetworkgateways/read
                - display:
                    description: Creates or updates an existing LocalNetworkGateway
                    operation: Create or update LocalNetworkGateway
                    provider: Microsoft Network
                    resource: LocalNetworkGateway
                  name: Microsoft.Network/localnetworkgateways/write
                - display:
                    description: Deletes LocalNetworkGateway
                    operation: Delete LocalNetworkGateway
                    provider: Microsoft Network
                    resource: LocalNetworkGateway
                  name: Microsoft.Network/localnetworkgateways/delete
                - display:
                    description: Gets available metrics for the Network Interface
                    operation: Read Network Interface metric definitions
                    provider: Microsoft Network
                    resource: Network Interface metric definition
                  name: Microsoft.Network/networkInterfaces/providers/Microsoft.Insights/metricDefinitions/read
                  origin: system
                  properties:
                    serviceSpecification:
                      metricSpecifications:
                      - aggregationType: Total
                        availabilities:
                        - blobDuration: 01:00:00
                          retention: 00:00:00
                          timeGrain: 00:01:00
                        - blobDuration: 1.00:00:00
                          retention: 00:00:00
                          timeGrain: 01:00:00
                        dimensions: []
                        displayDescription: Number of bytes the Network Interface
                          sent
                        displayName: Bytes Sent
                        enableRegionalMdmAccount: false
                        fillGapWithZero: false
                        isInternal: false
                        metricFilterPattern: ^__Ready__$
                        name: BytesSentRate
                        unit: Count
                      - aggregationType: Total
                        availabilities:
                        - blobDuration: 01:00:00
                          retention: 00:00:00
                          timeGrain: 00:01:00
                        - blobDuration: 1.00:00:00
                          retention: 00:00:00
                          timeGrain: 01:00:00
                        dimensions: []
                        displayDescription: Number of bytes the Network Interface
                          received
                        displayName: Bytes Received
                        enableRegionalMdmAccount: false
                        fillGapWithZero: false
                        isInternal: false
                        metricFilterPattern: ^__Ready__$
                        name: BytesReceivedRate
                        unit: Count
                - display:
                    description: Gets the events for network security group
                    operation: Get Network Security Group Event Log Definitions
                    provider: Microsoft Network
                    resource: Network Security Groups Log Definitions
                  name: Microsoft.Network/networksecuritygroups/providers/Microsoft.Insights/logDefinitions/read
                  origin: system
                  properties:
                    serviceSpecification:
                      logSpecifications:
                      - blobDuration: PT1H
                        displayName: Network Security Group Event
                        name: NetworkSecurityGroupEvent
                      - blobDuration: PT1H
                        displayName: Network Security Group Rule Counter
                        name: NetworkSecurityGroupRuleCounter
                      - blobDuration: PT1H
                        displayName: Network Security Group Rule Flow Event
                        name: NetworkSecurityGroupFlowEvent
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.default_controller
components:
  schemas:
    Availability:
      description: Availability of the metric.
      example:
        timeGrain: timeGrain
        blobDuration: blobDuration
        retention: retention
      properties:
        blobDuration:
          description: Duration of the availability blob.
          title: blobDuration
          type: string
        retention:
          description: The retention of the availability.
          title: retention
          type: string
        timeGrain:
          description: The time grain of the availability.
          title: timeGrain
          type: string
      title: Availability
      type: object
    Dimension:
      description: Dimension of the metric.
      example:
        internalName: internalName
        displayName: displayName
        name: name
      properties:
        displayName:
          description: The display name of the dimension.
          title: displayName
          type: string
        internalName:
          description: The internal name of the dimension.
          title: internalName
          type: string
        name:
          description: The name of the dimension.
          title: name
          type: string
      title: Dimension
      type: object
    LogSpecification:
      description: Description of logging specification.
      example:
        blobDuration: blobDuration
        displayName: displayName
        name: name
      properties:
        blobDuration:
          description: Duration of the blob.
          title: blobDuration
          type: string
        displayName:
          description: The display name of the specification.
          title: displayName
          type: string
        name:
          description: The name of the specification.
          title: name
          type: string
      title: LogSpecification
      type: object
    MetricSpecification:
      description: Description of metrics specification.
      example:
        displayDescription: displayDescription
        aggregationType: aggregationType
        sourceMdmNamespace: sourceMdmNamespace
        availabilities:
        - timeGrain: timeGrain
          blobDuration: blobDuration
          retention: retention
        - timeGrain: timeGrain
          blobDuration: blobDuration
          retention: retention
        displayName: displayName
        enableRegionalMdmAccount: true
        isInternal: true
        unit: unit
        resourceIdDimensionNameOverride: resourceIdDimensionNameOverride
        fillGapWithZero: true
        name: name
        sourceMdmAccount: sourceMdmAccount
        metricFilterPattern: metricFilterPattern
        dimensions:
        - internalName: internalName
          displayName: displayName
          name: name
        - internalName: internalName
          displayName: displayName
          name: name
      properties:
        aggregationType:
          description: The aggregation type.
          title: aggregationType
          type: string
        availabilities:
          description: List of availability.
          items:
            $ref: '#/components/schemas/Availability'
          title: availabilities
          type: array
        dimensions:
          description: List of dimensions.
          items:
            $ref: '#/components/schemas/Dimension'
          title: dimensions
          type: array
        displayDescription:
          description: The description of the metric.
          title: displayDescription
          type: string
        displayName:
          description: The display name of the metric.
          title: displayName
          type: string
        enableRegionalMdmAccount:
          description: Whether regional MDM account enabled.
          title: enableRegionalMdmAccount
          type: boolean
        fillGapWithZero:
          description: Whether gaps would be filled with zeros.
          title: fillGapWithZero
          type: boolean
        isInternal:
          description: Whether the metric is internal.
          title: isInternal
          type: boolean
        metricFilterPattern:
          description: Pattern for the filter of the metric.
          title: metricFilterPattern
          type: string
        name:
          description: The name of the metric.
          title: name
          type: string
        resourceIdDimensionNameOverride:
          description: The resource Id dimension name override.
          title: resourceIdDimensionNameOverride
          type: string
        sourceMdmAccount:
          description: The source MDM account.
          title: sourceMdmAccount
          type: string
        sourceMdmNamespace:
          description: The source MDM namespace.
          title: sourceMdmNamespace
          type: string
        unit:
          description: Units the metric to be displayed in.
          title: unit
          type: string
      title: MetricSpecification
      type: object
    Operation:
      description: Network REST API operation definition.
      example:
        display:
          provider: provider
          resource: resource
          description: description
          operation: operation
        origin: origin
        name: name
        properties:
          serviceSpecification:
            logSpecifications:
            - blobDuration: blobDuration
              displayName: displayName
              name: name
            - blobDuration: blobDuration
              displayName: displayName
              name: name
            metricSpecifications:
            - displayDescription: displayDescription
              aggregationType: aggregationType
              sourceMdmNamespace: sourceMdmNamespace
              availabilities:
              - timeGrain: timeGrain
                blobDuration: blobDuration
                retention: retention
              - timeGrain: timeGrain
                blobDuration: blobDuration
                retention: retention
              displayName: displayName
              enableRegionalMdmAccount: true
              isInternal: true
              unit: unit
              resourceIdDimensionNameOverride: resourceIdDimensionNameOverride
              fillGapWithZero: true
              name: name
              sourceMdmAccount: sourceMdmAccount
              metricFilterPattern: metricFilterPattern
              dimensions:
              - internalName: internalName
                displayName: displayName
                name: name
              - internalName: internalName
                displayName: displayName
                name: name
            - displayDescription: displayDescription
              aggregationType: aggregationType
              sourceMdmNamespace: sourceMdmNamespace
              availabilities:
              - timeGrain: timeGrain
                blobDuration: blobDuration
                retention: retention
              - timeGrain: timeGrain
                blobDuration: blobDuration
                retention: retention
              displayName: displayName
              enableRegionalMdmAccount: true
              isInternal: true
              unit: unit
              resourceIdDimensionNameOverride: resourceIdDimensionNameOverride
              fillGapWithZero: true
              name: name
              sourceMdmAccount: sourceMdmAccount
              metricFilterPattern: metricFilterPattern
              dimensions:
              - internalName: internalName
                displayName: displayName
                name: name
              - internalName: internalName
                displayName: displayName
                name: name
      properties:
        display:
          $ref: '#/components/schemas/Operation_display'
        name:
          description: "Operation name: {provider}/{resource}/{operation}."
          title: name
          type: string
        origin:
          description: Origin of the operation.
          title: origin
          type: string
        properties:
          $ref: '#/components/schemas/OperationPropertiesFormat'
      title: Operation
      type: object
    OperationListResult:
      description: Result of the request to list Network operations. It contains a
        list of operations and a URL link to get the next set of results.
      example:
        value:
        - display:
            provider: provider
            resource: resource
            description: description
            operation: operation
          origin: origin
          name: name
          properties:
            serviceSpecification:
              logSpecifications:
              - blobDuration: blobDuration
                displayName: displayName
                name: name
              - blobDuration: blobDuration
                displayName: displayName
                name: name
              metricSpecifications:
              - displayDescription: displayDescription
                aggregationType: aggregationType
                sourceMdmNamespace: sourceMdmNamespace
                availabilities:
                - timeGrain: timeGrain
                  blobDuration: blobDuration
                  retention: retention
                - timeGrain: timeGrain
                  blobDuration: blobDuration
                  retention: retention
                displayName: displayName
                enableRegionalMdmAccount: true
                isInternal: true
                unit: unit
                resourceIdDimensionNameOverride: resourceIdDimensionNameOverride
                fillGapWithZero: true
                name: name
                sourceMdmAccount: sourceMdmAccount
                metricFilterPattern: metricFilterPattern
                dimensions:
                - internalName: internalName
                  displayName: displayName
                  name: name
                - internalName: internalName
                  displayName: displayName
                  name: name
              - displayDescription: displayDescription
                aggregationType: aggregationType
                sourceMdmNamespace: sourceMdmNamespace
                availabilities:
                - timeGrain: timeGrain
                  blobDuration: blobDuration
                  retention: retention
                - timeGrain: timeGrain
                  blobDuration: blobDuration
                  retention: retention
                displayName: displayName
                enableRegionalMdmAccount: true
                isInternal: true
                unit: unit
                resourceIdDimensionNameOverride: resourceIdDimensionNameOverride
                fillGapWithZero: true
                name: name
                sourceMdmAccount: sourceMdmAccount
                metricFilterPattern: metricFilterPattern
                dimensions:
                - internalName: internalName
                  displayName: displayName
                  name: name
                - internalName: internalName
                  displayName: displayName
                  name: name
        - display:
            provider: provider
            resource: resource
            description: description
            operation: operation
          origin: origin
          name: name
          properties:
            serviceSpecification:
              logSpecifications:
              - blobDuration: blobDuration
                displayName: displayName
                name: name
              - blobDuration: blobDuration
                displayName: displayName
                name: name
              metricSpecifications:
              - displayDescription: displayDescription
                aggregationType: aggregationType
                sourceMdmNamespace: sourceMdmNamespace
                availabilities:
                - timeGrain: timeGrain
                  blobDuration: blobDuration
                  retention: retention
                - timeGrain: timeGrain
                  blobDuration: blobDuration
                  retention: retention
                displayName: displayName
                enableRegionalMdmAccount: true
                isInternal: true
                unit: unit
                resourceIdDimensionNameOverride: resourceIdDimensionNameOverride
                fillGapWithZero: true
                name: name
                sourceMdmAccount: sourceMdmAccount
                metricFilterPattern: metricFilterPattern
                dimensions:
                - internalName: internalName
                  displayName: displayName
                  name: name
                - internalName: internalName
                  displayName: displayName
                  name: name
              - displayDescription: displayDescription
                aggregationType: aggregationType
                sourceMdmNamespace: sourceMdmNamespace
                availabilities:
                - timeGrain: timeGrain
                  blobDuration: blobDuration
                  retention: retention
                - timeGrain: timeGrain
                  blobDuration: blobDuration
                  retention: retention
                displayName: displayName
                enableRegionalMdmAccount: true
                isInternal: true
                unit: unit
                resourceIdDimensionNameOverride: resourceIdDimensionNameOverride
                fillGapWithZero: true
                name: name
                sourceMdmAccount: sourceMdmAccount
                metricFilterPattern: metricFilterPattern
                dimensions:
                - internalName: internalName
                  displayName: displayName
                  name: name
                - internalName: internalName
                  displayName: displayName
                  name: name
        nextLink: nextLink
      properties:
        nextLink:
          description: URL to get the next set of operation list results if there
            are any.
          title: nextLink
          type: string
        value:
          description: List of Network operations supported by the Network resource
            provider.
          items:
            $ref: '#/components/schemas/Operation'
          title: value
          type: array
      title: OperationListResult
      type: object
    OperationPropertiesFormat:
      description: Description of operation properties format.
      example:
        serviceSpecification:
          logSpecifications:
          - blobDuration: blobDuration
            displayName: displayName
            name: name
          - blobDuration: blobDuration
            displayName: displayName
            name: name
          metricSpecifications:
          - displayDescription: displayDescription
            aggregationType: aggregationType
            sourceMdmNamespace: sourceMdmNamespace
            availabilities:
            - timeGrain: timeGrain
              blobDuration: blobDuration
              retention: retention
            - timeGrain: timeGrain
              blobDuration: blobDuration
              retention: retention
            displayName: displayName
            enableRegionalMdmAccount: true
            isInternal: true
            unit: unit
            resourceIdDimensionNameOverride: resourceIdDimensionNameOverride
            fillGapWithZero: true
            name: name
            sourceMdmAccount: sourceMdmAccount
            metricFilterPattern: metricFilterPattern
            dimensions:
            - internalName: internalName
              displayName: displayName
              name: name
            - internalName: internalName
              displayName: displayName
              name: name
          - displayDescription: displayDescription
            aggregationType: aggregationType
            sourceMdmNamespace: sourceMdmNamespace
            availabilities:
            - timeGrain: timeGrain
              blobDuration: blobDuration
              retention: retention
            - timeGrain: timeGrain
              blobDuration: blobDuration
              retention: retention
            displayName: displayName
            enableRegionalMdmAccount: true
            isInternal: true
            unit: unit
            resourceIdDimensionNameOverride: resourceIdDimensionNameOverride
            fillGapWithZero: true
            name: name
            sourceMdmAccount: sourceMdmAccount
            metricFilterPattern: metricFilterPattern
            dimensions:
            - internalName: internalName
              displayName: displayName
              name: name
            - internalName: internalName
              displayName: displayName
              name: name
      properties:
        serviceSpecification:
          $ref: '#/components/schemas/OperationPropertiesFormat_serviceSpecification'
      title: OperationPropertiesFormat
      type: object
    Operation_display:
      description: Display metadata associated with the operation.
      example:
        provider: provider
        resource: resource
        description: description
        operation: operation
      properties:
        description:
          description: Description of the operation.
          title: description
          type: string
        operation:
          description: "Type of the operation: get, read, delete, etc."
          title: operation
          type: string
        provider:
          description: "Service provider: Microsoft Network."
          title: provider
          type: string
        resource:
          description: Resource on which the operation is performed.
          title: resource
          type: string
      title: Operation_display
      type: object
    OperationPropertiesFormat_serviceSpecification:
      description: Specification of the service.
      example:
        logSpecifications:
        - blobDuration: blobDuration
          displayName: displayName
          name: name
        - blobDuration: blobDuration
          displayName: displayName
          name: name
        metricSpecifications:
        - displayDescription: displayDescription
          aggregationType: aggregationType
          sourceMdmNamespace: sourceMdmNamespace
          availabilities:
          - timeGrain: timeGrain
            blobDuration: blobDuration
            retention: retention
          - timeGrain: timeGrain
            blobDuration: blobDuration
            retention: retention
          displayName: displayName
          enableRegionalMdmAccount: true
          isInternal: true
          unit: unit
          resourceIdDimensionNameOverride: resourceIdDimensionNameOverride
          fillGapWithZero: true
          name: name
          sourceMdmAccount: sourceMdmAccount
          metricFilterPattern: metricFilterPattern
          dimensions:
          - internalName: internalName
            displayName: displayName
            name: name
          - internalName: internalName
            displayName: displayName
            name: name
        - displayDescription: displayDescription
          aggregationType: aggregationType
          sourceMdmNamespace: sourceMdmNamespace
          availabilities:
          - timeGrain: timeGrain
            blobDuration: blobDuration
            retention: retention
          - timeGrain: timeGrain
            blobDuration: blobDuration
            retention: retention
          displayName: displayName
          enableRegionalMdmAccount: true
          isInternal: true
          unit: unit
          resourceIdDimensionNameOverride: resourceIdDimensionNameOverride
          fillGapWithZero: true
          name: name
          sourceMdmAccount: sourceMdmAccount
          metricFilterPattern: metricFilterPattern
          dimensions:
          - internalName: internalName
            displayName: displayName
            name: name
          - internalName: internalName
            displayName: displayName
            name: name
      properties:
        logSpecifications:
          description: Operation log specification.
          items:
            $ref: '#/components/schemas/LogSpecification'
          title: logSpecifications
          type: array
        metricSpecifications:
          description: Operation service specification.
          items:
            $ref: '#/components/schemas/MetricSpecification'
          title: metricSpecifications
          type: array
      title: OperationPropertiesFormat_serviceSpecification
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
