openapi: 3.0.1
info:
  description: Use these REST APIs for performing operations on tenant entity associated
    with your Azure API Management deployment. Using this entity you can manage properties
    and configuration that apply to the entire API Management service instance.
  title: ApiManagementClient
  version: 2016-10-10
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2016-10-10/apimtenant.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: apimanagement-apimtenant
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/tenant/access
  : get:
      description: Get tenant access information details.
      operationId: TenantAccess_Get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessInformationContract'
          description: Tenant Access information.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
      tags:
      - TenantAccess
      x-accepts:
      - application/json
    patch:
      description: Update tenant access information details.
      operationId: TenantAccess_Update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The entity state (Etag) version of the tenant access settings
          to update. A value of "*" can be used for If-Match to unconditionally apply
          the operation.
        in: header
        name: If-Match
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccessInformationUpdateParameters'
        description: Parameters.
        required: true
      responses:
        "201":
          content: {}
          description: Tenant's access information updated successfully.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantAccess_Update_default_response'
          description: Error response describing why the operation failed.
      tags:
      - TenantAccess
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/tenant/access/git
  : get:
      description: Gets the Git access configuration for the tenant.
      operationId: TenantAccessGit_Get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessInformationContract'
          description: Git Access Information for the Service.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantAccess_Update_default_response'
          description: Error response describing why the operation failed.
      tags:
      - TenantAccessGit
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/tenant/access/git/regeneratePrimaryKey
  : post:
      description: Regenerate primary access key for GIT.
      operationId: TenantAccessGit_RegeneratePrimaryKey
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: The primary key was successfully regenerated.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantAccess_Update_default_response'
          description: Error response describing why the operation failed.
      tags:
      - TenantAccessGit
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/tenant/access/git/regenerateSecondaryKey
  : post:
      description: Regenerate secondary access key for GIT.
      operationId: TenantAccessGit_RegenerateSecondaryKey
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: The secondary key was successfully regenerated.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantAccess_Update_default_response'
          description: Error response describing why the operation failed.
      tags:
      - TenantAccessGit
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/tenant/access/regeneratePrimaryKey
  : post:
      description: Regenerate primary access key.
      operationId: TenantAccess_RegeneratePrimaryKey
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: The primary key was successfully regenerated.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantAccess_Update_default_response'
          description: Error response describing why the operation failed.
      tags:
      - TenantAccess
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/tenant/access/regenerateSecondaryKey
  : post:
      description: Regenerate secondary access key.
      operationId: TenantAccess_RegenerateSecondaryKey
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: The secondary key was successfully regenerated.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantAccess_Update_default_response'
          description: Error response describing why the operation failed.
      tags:
      - TenantAccess
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/tenant/configuration/deploy
  : post:
      description: This operation applies changes from the specified Git branch to
        the configuration database. This is a long running operation and could take
        several minutes to complete.
      externalDocs:
        description: To deploy any service configuration changes to the API Management
          service instance
        url: https://azure.microsoft.com/en-us/documentation/articles/api-management-configuration-repository-git/#to-deploy-any-service-configuration-changes-to-the-api-management-service-instance
      operationId: TenantConfiguration_Deploy
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeployConfigurationParameters'
        description: Deploy Configuration parameters.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResultContract'
          description: Result of applying changes from Git branch to database.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantAccess_Update_default_response'
          description: Error response describing why the operation failed.
      tags:
      - TenantConfiguration
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/tenant/configuration/save
  : post:
      description: This operation creates a commit with the current configuration
        snapshot to the specified branch in the repository. This is a long running
        operation and could take several minutes to complete.
      externalDocs:
        description: To save the service configuration to the Git repository
        url: https://azure.microsoft.com/en-us/documentation/articles/api-management-configuration-repository-git/#to-save-the-service-configuration-to-the-git-repository
      operationId: TenantConfiguration_Save
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SaveConfigurationParameter'
        description: Save Configuration parameters.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResultContract'
          description: Result of creating a commit in the repository.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantAccess_Update_default_response'
          description: Error response describing why the operation failed.
      tags:
      - TenantConfiguration
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/tenant/configuration/syncState
  : get:
      description: Gets the status of the most recent synchronization between the
        configuration database and the Git repository.
      operationId: TenantConfigurationSyncState_Get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantConfigurationSyncStateContract'
          description: Sync state result.
      tags:
      - TenantConfigurationSyncState
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/tenant/configuration/validate
  : post:
      description: This operation validates the changes in the specified Git branch.
        This is a long running operation and could take several minutes to complete.
      operationId: TenantConfiguration_Validate
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeployConfigurationParameters'
        description: Validate Configuration parameters.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResultContract'
          description: Result of validating the changes in the specified Git branch.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantAccess_Update_default_response'
          description: Error response describing why the operation failed.
      tags:
      - TenantConfiguration
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/tenant/policy
  : delete:
      description: Deletes the global tenant policy configuration.
      operationId: TenantPolicy_Delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The entity state (Etag) version of the tenant policy to update.
          A value of "*" can be used for If-Match to unconditionally apply the operation.
        in: header
        name: If-Match
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Successfully deleted the global policy configuration of the
            Tenant.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantAccess_Update_default_response'
          description: Error response describing why the operation failed.
      tags:
      - TenantPolicy
      x-accepts:
      - application/json
    get:
      description: Get the global policy configuration of the tenant.
      operationId: TenantPolicy_Get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.ms-azure-apim.policy+xml:
              schema:
                format: binary
                type: string
          description: Tenant Global Policy information.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
      tags:
      - TenantPolicy
      x-accepts:
      - application/vnd.ms-azure-apim.policy+xml
    put:
      description: Creates or updates global policy configuration for the tenant.
      operationId: TenantPolicy_CreateOrUpdate
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The entity state (Etag) version of the tenant policy to update.
          A value of "*" can be used for If-Match to unconditionally apply the operation.
        in: header
        name: If-Match
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.ms-azure-apim.policy+xml:
            schema:
              format: file
              type: object
        description: The policy content details.
        required: true
      responses:
        "201":
          content: {}
          description: Global policy configuration was successfully created.
        "204":
          content: {}
          description: Global policy configuration of the tenant was successfully
            updated.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantAccess_Update_default_response'
          description: Error response describing why the operation failed.
      tags:
      - TenantPolicy
      x-codegen-request-body-name: parameters
      x-content-type: application/vnd.ms-azure-apim.policy+xml
      x-accepts:
      - application/json
components:
  schemas:
    AccessInformationContract:
      description: Tenant access information contract of the API Management service.
      example:
        secondaryKey: secondaryKey
        id: id
        enabled: true
        primaryKey: primaryKey
      properties:
        enabled:
          description: Tenant access information of the API Management service.
          type: boolean
        id:
          description: Identifier.
          type: string
        primaryKey:
          description: Primary access key.
          type: string
        secondaryKey:
          description: Secondary access key.
          type: string
      type: object
    AccessInformationUpdateParameters:
      description: Tenant access information update parameters of the API Management
        service.
      example:
        enabled: true
      properties:
        enabled:
          description: Tenant access information of the API Management service.
          type: boolean
      required:
      - enabled
      type: object
    DeployConfigurationParameters:
      description: Parameters supplied to the Deploy Configuration operation.
      example:
        force: true
        branch: branch
      properties:
        branch:
          description: The name of the Git branch from which the configuration is
            to be deployed to the configuration database.
          type: string
        force:
          description: The value enforcing deleting subscriptions to products that
            are deleted in this update.
          type: boolean
      required:
      - branch
      type: object
    OperationResultContract:
      description: Operation Result.
      example:
        started: 2000-01-23T04:56:07.000+00:00
        id: id
        error:
          code: code
          details:
          - code: code
            message: message
            target: target
          - code: code
            message: message
            target: target
          message: message
        updated: 2000-01-23T04:56:07.000+00:00
        resultInfo: resultInfo
        status: Started
      properties:
        error:
          $ref: '#/components/schemas/TenantAccess_Update_default_response'
        id:
          description: Operation result identifier.
          type: string
        resultInfo:
          description: Optional result info.
          type: string
        started:
          description: |
            Start time of an async operation. The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601 standard.
          format: date-time
          type: string
        status:
          description: Status of an async operation.
          enum:
          - Started
          - InProgress
          - Succeeded
          - Failed
          type: string
          x-ms-enum:
            modelAsString: false
            name: AsyncOperationState
        updated:
          description: |
            Last update time of an async operation. The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601 standard.
          format: date-time
          type: string
      type: object
    SaveConfigurationParameter:
      description: Parameters supplied to the Save Tenant Configuration operation.
      example:
        force: true
        branch: branch
      properties:
        branch:
          description: The name of the Git branch in which to commit the current configuration
            snapshot.
          type: string
        force:
          description: "The value if true, the current configuration database is committed\
            \ to the Git repository, even if the Git repository has newer changes\
            \ that would be overwritten."
          type: boolean
      required:
      - branch
      type: object
    TenantConfigurationSyncStateContract:
      description: Tenant Configuration Synchronization State.
      example:
        isGitEnabled: true
        isSynced: true
        isExport: true
        syncDate: 2000-01-23T04:56:07.000+00:00
        configurationChangeDate: 2000-01-23T04:56:07.000+00:00
        commitId: commitId
        branch: branch
      properties:
        branch:
          description: The name of Git branch.
          type: string
        commitId:
          description: The latest commit Id.
          type: string
        configurationChangeDate:
          description: |
            The date of the latest configuration change. The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601 standard.
          format: date-time
          type: string
        isExport:
          description: value indicating if last sync was save (true) or deploy (false)
            operation.
          type: boolean
        isGitEnabled:
          description: value indicating whether Git configuration access is enabled.
          type: boolean
        isSynced:
          description: value indicating if last synchronization was later than the
            configuration change.
          type: boolean
        syncDate:
          description: |
            The date of the latest synchronization. The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601 standard.
          format: date-time
          type: string
      type: object
    TenantAccess_Update_default_response_details_inner:
      description: Error Field contract.
      example:
        code: code
        message: message
        target: target
      properties:
        code:
          description: Property level error code.
          type: string
        message:
          description: Human-readable representation of property-level error.
          type: string
        target:
          description: Property name.
          type: string
      type: object
    TenantAccess_Update_default_response:
      description: Error Body contract.
      example:
        code: code
        details:
        - code: code
          message: message
          target: target
        - code: code
          message: message
          target: target
        message: message
      properties:
        code:
          description: Service-defined error code. This code serves as a sub-status
            for the HTTP error code specified in the response.
          type: string
        details:
          description: "The list of invalid fields send in request, in case of validation\
            \ error."
          items:
            $ref: '#/components/schemas/TenantAccess_Update_default_response_details_inner'
          type: array
        message:
          description: Human-readable representation of the error.
          type: string
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

