openapi: 3.0.1
info:
  description: ARM applications
  title: ApplicationClient
  version: 2019-07-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/resources/resource-manager/Microsoft.Solutions/stable/2019-07-01/managedapplications.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: resources-managedapplications
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.Solutions/operations:
    get:
      description: Lists all of the available Microsoft.Solutions REST API operations.
      operationId: ListOperations
      parameters:
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
          description: OK. The request has succeeded.
      tags:
      - Operations
      x-ms-examples:
        List Solutions operations:
          parameters:
            api-version: 2019-07-01
          responses:
            "200":
              body:
                value:
                - display:
                    operation: Read
                    provider: Microsoft.ResourceProvider
                    resource: Resource1
                  name: SolutionsOpeartion1
                - display:
                    operation: Write
                    provider: Microsoft.ResourceProvider
                    resource: Resource2
                  name: SolutionssOpeartion2
              headers: {}
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.Solutions/applications:
    get:
      description: Gets all the applications within a subscription.
      operationId: Applications_ListBySubscription
      parameters:
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationListResult'
          description: OK - Returns an array of applications.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Applications
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.Solutions/jitRequests:
    get:
      description: Retrieves all JIT requests within the subscription.
      operationId: jitRequests_ListBySubscription
      parameters:
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JitRequestDefinitionListResult'
          description: OK - Returns an array of JIT requests.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - JitRequests
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Solutions/applicationDefinitions:
    get:
      description: Lists the managed application definitions in a resource group.
      operationId: ApplicationDefinitions_ListByResourceGroup
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationDefinitionListResult'
          description: OK - Returns an array of managed application definitions.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - ApplicationDefinitions
      x-ms-examples:
        List managed application definitions:
          parameters:
            api-version: 2019-07-01
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Solutions/applicationDefinitions/myManagedApplicationDef
                  location: East US 2
                  name: myManagedApplicationDef
                  properties:
                    artifacts:
                    - name: CreateUiDefinition
                      type: Custom
                      uri: https://path/to/managedApplicationCreateUiDefinition.json
                    - name: ApplicationResourceTemplate
                      type: Template
                      uri: https://path/to/mainTemplate.json
                    authorizations:
                    - principalId: validprincipalguid
                      roleDefinitionId: validroleguid
                    description: myManagedApplicationDef description
                    displayName: myManagedApplicationDef
                    lockLevel: None
                    packageFileUri: https://path/to/packagezipfile
                  type: Microsoft.Solutions/applicationDefinitions
                - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Solutions/applicationDefinitions/myManagedApplicationDef2
                  location: West US
                  name: myManagedApplicationDef2
                  properties:
                    artifacts:
                    - name: CreateUiDefinition
                      type: Custom
                      uri: https://path/to/managedApplicationCreateUiDefinition.json
                    - name: ApplicationResourceTemplate
                      type: Template
                      uri: https://path/to/mainTemplate.json
                    authorizations:
                    - principalId: validprincipalguid
                      roleDefinitionId: validroleguid
                    description: myManagedApplicationDef2 description
                    displayName: myManagedApplicationDef2
                    lockLevel: None
                    packageFileUri: https://path/to/packagezipfile
                  type: Microsoft.Solutions/applicationDefinitions
              headers: {}
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Solutions/applicationDefinitions/{applicationDefinitionName}
  : delete:
      description: Deletes the managed application definition.
      operationId: ApplicationDefinitions_Delete
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: The name of the managed application definition to delete.
        in: path
        name: applicationDefinitionName
        required: true
        schema:
          maxLength: 64
          minLength: 3
          type: string
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "202":
          content: {}
          description: Accepted - Returns this status until the asynchronous operation
            has completed.
        "204":
          content: {}
          description: NoContent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - ApplicationDefinitions
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
    get:
      description: Gets the managed application definition.
      operationId: ApplicationDefinitions_Get
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: The name of the managed application definition.
        in: path
        name: applicationDefinitionName
        required: true
        schema:
          maxLength: 64
          minLength: 3
          type: string
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationDefinition'
          description: OK - Returns the managed application definition.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - ApplicationDefinitions
      x-ms-examples:
        Get managed application definition:
          parameters:
            api-version: 2019-07-01
            applicationDefinitionName: myManagedApplicationDef
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Solutions/applicationDefinitions/myManagedApplicationDef
                location: East US 2
                name: myManagedApplicationDef
                properties:
                  artifacts:
                  - name: CreateUiDefinition
                    type: Custom
                    uri: https://path/to/managedApplicationCreateUiDefinition.json
                  - name: ApplicationResourceTemplate
                    type: Template
                    uri: https://path/to/mainTemplate.json
                  authorizations:
                  - principalId: validprincipalguid
                    roleDefinitionId: validroleguid
                  description: myManagedApplicationDef description
                  displayName: myManagedApplicationDef
                  lockLevel: None
                  packageFileUri: https://path/to/packagezipfile
                  policies: []
                type: Microsoft.Solutions/applicationDefinitions
              headers: {}
      x-accepts:
      - application/json
    put:
      description: Creates a new managed application definition.
      operationId: ApplicationDefinitions_CreateOrUpdate
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: The name of the managed application definition.
        in: path
        name: applicationDefinitionName
        required: true
        schema:
          maxLength: 64
          minLength: 3
          type: string
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationDefinition'
        description: Parameters supplied to the create or update an managed application
          definition.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationDefinition'
          description: "OK - Returns information about the managed application definition,\
            \ including provisioning status."
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationDefinition'
          description: "Created - Returns information about the managed application\
            \ definition, including provisioning status."
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - ApplicationDefinitions
      x-ms-examples:
        Create or update managed application definition:
          parameters:
            api-version: 2019-07-01
            applicationDefinitionName: myManagedApplicationDef
            parameters:
              location: East US 2
              properties:
                authorizations:
                - principalId: validprincipalguid
                  roleDefinitionId: validroleguid
                description: myManagedApplicationDef description
                displayName: myManagedApplicationDef
                lockLevel: None
                packageFileUri: https://path/to/packagezipfile
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Solutions/applicationDefinitions/myManagedApplicationDef
                location: East US 2
                name: myManagedApplicationDef
                properties:
                  artifacts:
                  - name: CreateUiDefinition
                    type: Custom
                    uri: https://path/to/managedApplicationCreateUiDefinition.json
                  - name: ApplicationResourceTemplate
                    type: Template
                    uri: https://path/to/mainTemplate.json
                  authorizations:
                  - principalId: validprincipalguid
                    roleDefinitionId: validroleguid
                  description: myManagedApplicationDef description
                  displayName: myManagedApplicationDef
                  lockLevel: None
                  packageFileUri: https://path/to/packagezipfile
                type: Microsoft.Solutions/applicationDefinitions
              headers: {}
            "201":
              body:
                id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Solutions/applicationDefinitions/myManagedApplicationDef
                location: East US 2
                name: myManagedApplicationDef
                properties:
                  artifacts:
                  - name: CreateUiDefinition
                    type: Custom
                    uri: https://path/to/managedApplicationCreateUiDefinition.json
                  - name: ApplicationResourceTemplate
                    type: Template
                    uri: https://path/to/mainTemplate.json
                  authorizations:
                  - principalId: validprincipalguid
                    roleDefinitionId: validroleguid
                  description: myManagedApplicationDef description
                  displayName: myManagedApplicationDef
                  lockLevel: None
                  packageFileUri: https://path/to/packagezipfile
                type: Microsoft.Solutions/applicationDefinitions
              headers: {}
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Solutions/applications:
    get:
      description: Gets all the applications within a resource group.
      operationId: Applications_ListByResourceGroup
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationListResult'
          description: OK - Returns an array of applications.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Applications
      x-ms-examples:
        Lists applications:
          parameters:
            api-version: 2019-07-01
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Solutions/applications/myManagedApplication
                  kind: ServiceCatalog
                  location: East US 2
                  name: myManagedApplication
                  properties:
                    applicationDefinitionId: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Solutions/managedApplicationDefinitions/myAppDef
                    managedResourceGroupId: /subscriptions/subid/resourceGroups/myManagedRG
                    provisioningState: Created
                  type: Microsoft.Solutions/applications
                - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Solutions/applications/myManagedApplication2
                  kind: ServiceCatalog
                  location: West US
                  name: myManagedApplication2
                  properties:
                    applicationDefinitionId: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Solutions/managedApplicationDefinitions/myAppDef2
                    managedResourceGroupId: /subscriptions/subid/resourceGroups/myManagedRG
                    provisioningState: Created
                  type: Microsoft.Solutions/applications
              headers: {}
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Solutions/applications/{applicationName}:
    delete:
      description: Deletes the managed application.
      operationId: Applications_Delete
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: The name of the managed application.
        in: path
        name: applicationName
        required: true
        schema:
          maxLength: 64
          minLength: 3
          type: string
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "202":
          content: {}
          description: Accepted - Returns this status until the asynchronous operation
            has completed.
        "204":
          content: {}
          description: NoContent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Applications
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
    get:
      description: Gets the managed application.
      operationId: Applications_Get
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: The name of the managed application.
        in: path
        name: applicationName
        required: true
        schema:
          maxLength: 64
          minLength: 3
          type: string
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
          description: OK - Returns the managed application.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Applications
      x-ms-examples:
        Get a managed application:
          parameters:
            api-version: 2019-07-01
            applicationName: myManagedApplication
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Solutions/applications/myManagedApplication
                kind: ServiceCatalog
                location: East US 2
                name: myManagedApplication
                properties:
                  applicationDefinitionId: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Solutions/managedApplicationDefinitions/myAppDef
                  artifacts: []
                  authorizations:
                  - principalId: validprincipalguid
                    roleDefinitionId: validroleguid
                  createdBy:
                    applicationId: ClientApplicationId
                    oid: ClientOid
                    puid: ClientPuid
                  managedResourceGroupId: /subscriptions/subid/resourceGroups/myManagedRG
                  managementMode: Managed
                  provisioningState: Created
                  updatedBy:
                    applicationId: ClientApplicationId
                    oid: ClientOid
                    puid: ClientPuid
                type: Microsoft.Solutions/applications
              headers: {}
      x-accepts:
      - application/json
    patch:
      description: Updates an existing managed application. The only value that can
        be updated via PATCH currently is the tags.
      operationId: Applications_Update
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: The name of the managed application.
        in: path
        name: applicationName
        required: true
        schema:
          maxLength: 64
          minLength: 3
          type: string
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Application'
        description: Parameters supplied to update an existing managed application.
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
          description: "Created - Returns information about the managed application,\
            \ including provisioning status."
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Applications
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: Creates a new managed application.
      operationId: Applications_CreateOrUpdate
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: The name of the managed application.
        in: path
        name: applicationName
        required: true
        schema:
          maxLength: 64
          minLength: 3
          type: string
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Application'
        description: Parameters supplied to the create or update a managed application.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
          description: "Created - Returns information about the managed application,\
            \ including provisioning status."
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
          description: "Created - Returns information about the managed application,\
            \ including provisioning status."
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Applications
      x-ms-examples:
        Create or update managed application:
          parameters:
            api-version: 2019-07-01
            applicationName: myManagedApplication
            parameters:
              kind: ServiceCatalog
              location: East US 2
              properties:
                applicationDefinitionId: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Solutions/applicationDefinitions/myAppDef
                managedResourceGroupId: /subscriptions/subid/resourceGroups/myManagedRG
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Solutions/applications/myManagedApplication
                kind: ServiceCatalog
                location: East US 2
                name: myManagedApplication
                properties:
                  applicationDefinitionId: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Solutions/applicationDefinitions/myAppDef
                  managedResourceGroupId: /subscriptions/subid/resourceGroups/myManagedRG
                  provisioningState: Created
                type: Microsoft.Solutions/applications
              headers: {}
            "201":
              body:
                id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Solutions/applications/myManagedApplication
                kind: ServiceCatalog
                location: East US 2
                name: myManagedApplication
                properties:
                  applicationDefinitionId: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Solutions/applicationDefinitions/myAppDef
                  managedResourceGroupId: /subscriptions/subid/resourceGroups/myManagedRG
                  provisioningState: Created
                type: Microsoft.Solutions/applications
              headers: {}
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Solutions/applications/{applicationName}/refreshPermissions
  : post:
      description: Refresh Permissions for application.
      operationId: Applications_RefreshPermissions
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: The name of the managed application.
        in: path
        name: applicationName
        required: true
        schema:
          maxLength: 64
          minLength: 3
          type: string
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "202":
          content: {}
          description: Accepted - Returns this status until the asynchronous operation
            has completed.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Applications
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Solutions/jitRequests:
    get:
      description: Retrieves all JIT requests within the resource group.
      operationId: jitRequests_ListByResourceGroup
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JitRequestDefinitionListResult'
          description: OK - Returns an array of JIT requests.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - JitRequests
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Solutions/jitRequests/{jitRequestName}:
    delete:
      description: Deletes the JIT request.
      operationId: jitRequests_Delete
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: The name of the JIT request.
        in: path
        name: jitRequestName
        required: true
        schema:
          type: string
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "204":
          content: {}
          description: NoContent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - JitRequests
      x-accepts:
      - application/json
    get:
      description: Gets the JIT request.
      operationId: JitRequests_Get
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: The name of the JIT request.
        in: path
        name: jitRequestName
        required: true
        schema:
          type: string
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JitRequestDefinition'
          description: OK - Returns the JIT request
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - JitRequests
      x-accepts:
      - application/json
    patch:
      description: Updates the JIT request.
      operationId: JitRequests_Update
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: The name of the JIT request.
        in: path
        name: jitRequestName
        required: true
        schema:
          type: string
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JitRequestPatchable'
        description: Parameters supplied to the update JIT request.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JitRequestDefinition'
          description: Ok - Returns information about the JIT request.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - JitRequests
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: Creates or updates the JIT request.
      operationId: jitRequests_CreateOrUpdate
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: The name of the JIT request.
        in: path
        name: jitRequestName
        required: true
        schema:
          type: string
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JitRequestDefinition'
        description: Parameters supplied to the update JIT request.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JitRequestDefinition'
          description: Ok - Returns information about existing JIT request.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JitRequestDefinition'
          description: Created - Returns information about the JIT request.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - JitRequests
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  /{applicationId}:
    delete:
      description: Deletes the managed application.
      operationId: Applications_DeleteById
      parameters:
      - description: "The fully qualified ID of the managed application, including\
          \ the managed application name and the managed application resource type.\
          \ Use the format, /subscriptions/{guid}/resourceGroups/{resource-group-name}/Microsoft.Solutions/applications/{application-name}"
        in: path
        name: applicationId
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "202":
          content: {}
          description: Accepted - Returns this status until the asynchronous operation
            has completed.
        "204":
          content: {}
          description: NoContent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Applications
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
    get:
      description: Gets the managed application.
      operationId: Applications_GetById
      parameters:
      - description: "The fully qualified ID of the managed application, including\
          \ the managed application name and the managed application resource type.\
          \ Use the format, /subscriptions/{guid}/resourceGroups/{resource-group-name}/Microsoft.Solutions/applications/{application-name}"
        in: path
        name: applicationId
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
          description: OK - Returns the managed application.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Applications
      x-accepts:
      - application/json
    patch:
      description: Updates an existing managed application. The only value that can
        be updated via PATCH currently is the tags.
      operationId: Applications_UpdateById
      parameters:
      - description: "The fully qualified ID of the managed application, including\
          \ the managed application name and the managed application resource type.\
          \ Use the format, /subscriptions/{guid}/resourceGroups/{resource-group-name}/Microsoft.Solutions/applications/{application-name}"
        in: path
        name: applicationId
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Application'
        description: Parameters supplied to update an existing managed application.
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
          description: "Created - Returns information about the managed application,\
            \ including provisioning status."
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Applications
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: Creates a new managed application.
      operationId: Applications_CreateOrUpdateById
      parameters:
      - description: "The fully qualified ID of the managed application, including\
          \ the managed application name and the managed application resource type.\
          \ Use the format, /subscriptions/{guid}/resourceGroups/{resource-group-name}/Microsoft.Solutions/applications/{application-name}"
        in: path
        name: applicationId
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Application'
        description: Parameters supplied to the create or update a managed application.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
          description: "Created - Returns information about the managed application,\
            \ including provisioning status."
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
          description: "Created - Returns information about the managed application,\
            \ including provisioning status."
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Applications
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
components:
  parameters:
    ApiVersionParameter:
      description: The API version to use for this operation.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    SubscriptionIdParameter:
      description: The ID of the target subscription.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    Application:
      allOf:
      - $ref: '#/components/schemas/GenericResource'
      description: Information about managed application.
      example:
        identity:
          tenantId: tenantId
          principalId: principalId
          type: SystemAssigned
        kind: kind
        plan:
          product: product
          name: name
          promotionCode: promotionCode
          publisher: publisher
          version: version
        properties:
          customerSupport:
            phone: phone
            contactName: contactName
            email: email
          outputs: "{}"
          jitAccessPolicy:
            jitApprovers:
            - displayName: displayName
              id: id
              type: user
            - displayName: displayName
              id: id
              type: user
            jitApprovalMode: NotSpecified
            jitAccessEnabled: true
            maximumJitAccessDuration: maximumJitAccessDuration
          updatedBy:
            puid: puid
            oid: oid
            applicationId: applicationId
          billingDetails:
            resourceUsageId: resourceUsageId
          authorizations:
          - roleDefinitionId: roleDefinitionId
            principalId: principalId
          - roleDefinitionId: roleDefinitionId
            principalId: principalId
          publisherTenantId: publisherTenantId
          managementMode: NotSpecified
          provisioningState: NotSpecified
          applicationDefinitionId: applicationDefinitionId
          createdBy:
            puid: puid
            oid: oid
            applicationId: applicationId
          managedResourceGroupId: managedResourceGroupId
          supportUrls:
            governmentCloud: governmentCloud
            publicAzure: publicAzure
          parameters: "{}"
          artifacts:
          - name: NotSpecified
            type: NotSpecified
            uri: uri
          - name: NotSpecified
            type: NotSpecified
            uri: uri
      properties:
        identity:
          $ref: '#/components/schemas/Identity'
        kind:
          description: The kind of the managed application. Allowed values are MarketPlace
            and ServiceCatalog.
          pattern: "^[-\\w\\._,\\(\\)]+$"
          type: string
        plan:
          $ref: '#/components/schemas/Plan'
        properties:
          $ref: '#/components/schemas/ApplicationProperties'
      required:
      - kind
      - properties
    ApplicationArtifact:
      description: Managed application artifact.
      example:
        name: NotSpecified
        type: NotSpecified
        uri: uri
      properties:
        name:
          $ref: '#/components/schemas/ApplicationArtifactName'
        type:
          $ref: '#/components/schemas/ApplicationArtifactType'
        uri:
          description: The managed application artifact blob uri.
          type: string
      required:
      - name
      - type
      - uri
      type: object
    ApplicationArtifactName:
      description: The managed application artifact name.
      enum:
      - NotSpecified
      - ViewDefinition
      - Authorizations
      - CustomRoleDefinition
      type: string
      x-ms-enum:
        modelAsString: true
        name: ApplicationArtifactName
    ApplicationArtifactType:
      description: The managed application artifact type.
      enum:
      - NotSpecified
      - Template
      - Custom
      type: string
      x-ms-enum:
        modelAsString: false
        name: ApplicationArtifactType
    ApplicationAuthorization:
      description: The managed application provider authorization.
      example:
        roleDefinitionId: roleDefinitionId
        principalId: principalId
      properties:
        principalId:
          description: The provider's principal identifier. This is the identity that
            the provider will use to call ARM to manage the managed application resources.
          type: string
        roleDefinitionId:
          description: The provider's role definition identifier. This role will define
            all the permissions that the provider must have on the managed application's
            container resource group. This role definition cannot have permission
            to delete the resource group.
          type: string
      required:
      - principalId
      - roleDefinitionId
      type: object
    ApplicationBillingDetailsDefinition:
      description: Managed application billing details definition.
      example:
        resourceUsageId: resourceUsageId
      properties:
        resourceUsageId:
          description: The managed application resource usage Id.
          type: string
      type: object
    ApplicationClientDetails:
      description: The application client details to track the entity creating/updating
        the managed app resource.
      example:
        puid: puid
        oid: oid
        applicationId: applicationId
      properties:
        applicationId:
          description: The client application Id.
          type: string
        oid:
          description: The client Oid.
          type: string
        puid:
          description: The client Puid
          type: string
      type: object
    ApplicationDefinition:
      allOf:
      - $ref: '#/components/schemas/GenericResource'
      description: Information about managed application definition.
      example:
        properties:
          notificationPolicy:
            notificationEndpoints:
            - uri: uri
            - uri: uri
          managementPolicy:
            mode: NotSpecified
          displayName: displayName
          lockLevel: CanNotDelete
          packageFileUri: packageFileUri
          authorizations:
          - roleDefinitionId: roleDefinitionId
            principalId: principalId
          - roleDefinitionId: roleDefinitionId
            principalId: principalId
          policies:
          - policyDefinitionId: policyDefinitionId
            name: name
            parameters: parameters
          - policyDefinitionId: policyDefinitionId
            name: name
            parameters: parameters
          description: description
          lockingPolicy:
            allowedActions:
            - allowedActions
            - allowedActions
          deploymentPolicy:
            deploymentMode: NotSpecified
          mainTemplate: "{}"
          createUiDefinition: "{}"
          isEnabled: true
          artifacts:
          - name: NotSpecified
            type: NotSpecified
            uri: uri
          - name: NotSpecified
            type: NotSpecified
            uri: uri
      properties:
        properties:
          $ref: '#/components/schemas/ApplicationDefinitionProperties'
      required:
      - properties
    ApplicationDefinitionArtifact:
      description: Application definition artifact.
      example:
        name: NotSpecified
        type: NotSpecified
        uri: uri
      properties:
        name:
          $ref: '#/components/schemas/ApplicationDefinitionArtifactName'
        type:
          $ref: '#/components/schemas/ApplicationArtifactType'
        uri:
          description: The managed application definition artifact blob uri.
          type: string
      required:
      - name
      - type
      - uri
      type: object
    ApplicationDefinitionArtifactName:
      description: The managed application artifact name.
      enum:
      - NotSpecified
      - ApplicationResourceTemplate
      - CreateUiDefinition
      - MainTemplateParameters
      type: string
      x-ms-enum:
        modelAsString: true
        name: ApplicationDefinitionArtifactName
    ApplicationDefinitionListResult:
      description: List of managed application definitions.
      example:
        value:
        - properties:
            notificationPolicy:
              notificationEndpoints:
              - uri: uri
              - uri: uri
            managementPolicy:
              mode: NotSpecified
            displayName: displayName
            lockLevel: CanNotDelete
            packageFileUri: packageFileUri
            authorizations:
            - roleDefinitionId: roleDefinitionId
              principalId: principalId
            - roleDefinitionId: roleDefinitionId
              principalId: principalId
            policies:
            - policyDefinitionId: policyDefinitionId
              name: name
              parameters: parameters
            - policyDefinitionId: policyDefinitionId
              name: name
              parameters: parameters
            description: description
            lockingPolicy:
              allowedActions:
              - allowedActions
              - allowedActions
            deploymentPolicy:
              deploymentMode: NotSpecified
            mainTemplate: "{}"
            createUiDefinition: "{}"
            isEnabled: true
            artifacts:
            - name: NotSpecified
              type: NotSpecified
              uri: uri
            - name: NotSpecified
              type: NotSpecified
              uri: uri
        - properties:
            notificationPolicy:
              notificationEndpoints:
              - uri: uri
              - uri: uri
            managementPolicy:
              mode: NotSpecified
            displayName: displayName
            lockLevel: CanNotDelete
            packageFileUri: packageFileUri
            authorizations:
            - roleDefinitionId: roleDefinitionId
              principalId: principalId
            - roleDefinitionId: roleDefinitionId
              principalId: principalId
            policies:
            - policyDefinitionId: policyDefinitionId
              name: name
              parameters: parameters
            - policyDefinitionId: policyDefinitionId
              name: name
              parameters: parameters
            description: description
            lockingPolicy:
              allowedActions:
              - allowedActions
              - allowedActions
            deploymentPolicy:
              deploymentMode: NotSpecified
            mainTemplate: "{}"
            createUiDefinition: "{}"
            isEnabled: true
            artifacts:
            - name: NotSpecified
              type: NotSpecified
              uri: uri
            - name: NotSpecified
              type: NotSpecified
              uri: uri
        nextLink: nextLink
      properties:
        nextLink:
          description: The URL to use for getting the next set of results.
          type: string
        value:
          description: The array of managed application definitions.
          items:
            $ref: '#/components/schemas/ApplicationDefinition'
          type: array
      type: object
    ApplicationDefinitionProperties:
      description: The managed application definition properties.
      example:
        notificationPolicy:
          notificationEndpoints:
          - uri: uri
          - uri: uri
        managementPolicy:
          mode: NotSpecified
        displayName: displayName
        lockLevel: CanNotDelete
        packageFileUri: packageFileUri
        authorizations:
        - roleDefinitionId: roleDefinitionId
          principalId: principalId
        - roleDefinitionId: roleDefinitionId
          principalId: principalId
        policies:
        - policyDefinitionId: policyDefinitionId
          name: name
          parameters: parameters
        - policyDefinitionId: policyDefinitionId
          name: name
          parameters: parameters
        description: description
        lockingPolicy:
          allowedActions:
          - allowedActions
          - allowedActions
        deploymentPolicy:
          deploymentMode: NotSpecified
        mainTemplate: "{}"
        createUiDefinition: "{}"
        isEnabled: true
        artifacts:
        - name: NotSpecified
          type: NotSpecified
          uri: uri
        - name: NotSpecified
          type: NotSpecified
          uri: uri
      properties:
        artifacts:
          description: The collection of managed application artifacts. The portal
            will use the files specified as artifacts to construct the user experience
            of creating a managed application from a managed application definition.
          items:
            $ref: '#/components/schemas/ApplicationDefinitionArtifact'
          type: array
        authorizations:
          description: The managed application provider authorizations.
          items:
            $ref: '#/components/schemas/ApplicationAuthorization'
          type: array
        createUiDefinition:
          description: The createUiDefinition json for the backing template with Microsoft.Solutions/applications
            resource. It can be a JObject or well-formed JSON string.
          properties: {}
          type: object
        deploymentPolicy:
          $ref: '#/components/schemas/ApplicationDeploymentPolicy'
        description:
          description: The managed application definition description.
          type: string
        displayName:
          description: The managed application definition display name.
          type: string
        isEnabled:
          description: A value indicating whether the package is enabled or not.
          type: boolean
        lockLevel:
          $ref: '#/components/schemas/ApplicationLockLevel'
        lockingPolicy:
          $ref: '#/components/schemas/ApplicationPackageLockingPolicyDefinition'
        mainTemplate:
          description: The inline main template json which has resources to be provisioned.
            It can be a JObject or well-formed JSON string.
          properties: {}
          type: object
        managementPolicy:
          $ref: '#/components/schemas/ApplicationManagementPolicy'
        notificationPolicy:
          $ref: '#/components/schemas/ApplicationNotificationPolicy'
        packageFileUri:
          description: The managed application definition package file Uri. Use this
            element
          type: string
        policies:
          description: The managed application provider policies.
          items:
            $ref: '#/components/schemas/ApplicationPolicy'
          type: array
      required:
      - lockLevel
      type: object
    ApplicationDeploymentPolicy:
      description: Managed application deployment policy.
      example:
        deploymentMode: NotSpecified
      properties:
        deploymentMode:
          $ref: '#/components/schemas/DeploymentMode'
      required:
      - deploymentMode
      type: object
    ApplicationJitAccessPolicy:
      description: Managed application Jit access policy.
      example:
        jitApprovers:
        - displayName: displayName
          id: id
          type: user
        - displayName: displayName
          id: id
          type: user
        jitApprovalMode: NotSpecified
        jitAccessEnabled: true
        maximumJitAccessDuration: maximumJitAccessDuration
      properties:
        jitAccessEnabled:
          description: Whether the JIT access is enabled.
          type: boolean
        jitApprovalMode:
          $ref: '#/components/schemas/JitApprovalMode'
        jitApprovers:
          description: The JIT approvers
          items:
            $ref: '#/components/schemas/JitApproverDefinition'
          type: array
        maximumJitAccessDuration:
          description: The maximum duration JIT access is granted. This is an ISO8601
            time period value.
          type: string
      required:
      - jitAccessEnabled
      type: object
    ApplicationListResult:
      description: List of managed applications.
      example:
        value:
        - identity:
            tenantId: tenantId
            principalId: principalId
            type: SystemAssigned
          kind: kind
          plan:
            product: product
            name: name
            promotionCode: promotionCode
            publisher: publisher
            version: version
          properties:
            customerSupport:
              phone: phone
              contactName: contactName
              email: email
            outputs: "{}"
            jitAccessPolicy:
              jitApprovers:
              - displayName: displayName
                id: id
                type: user
              - displayName: displayName
                id: id
                type: user
              jitApprovalMode: NotSpecified
              jitAccessEnabled: true
              maximumJitAccessDuration: maximumJitAccessDuration
            updatedBy:
              puid: puid
              oid: oid
              applicationId: applicationId
            billingDetails:
              resourceUsageId: resourceUsageId
            authorizations:
            - roleDefinitionId: roleDefinitionId
              principalId: principalId
            - roleDefinitionId: roleDefinitionId
              principalId: principalId
            publisherTenantId: publisherTenantId
            managementMode: NotSpecified
            provisioningState: NotSpecified
            applicationDefinitionId: applicationDefinitionId
            createdBy:
              puid: puid
              oid: oid
              applicationId: applicationId
            managedResourceGroupId: managedResourceGroupId
            supportUrls:
              governmentCloud: governmentCloud
              publicAzure: publicAzure
            parameters: "{}"
            artifacts:
            - name: NotSpecified
              type: NotSpecified
              uri: uri
            - name: NotSpecified
              type: NotSpecified
              uri: uri
        - identity:
            tenantId: tenantId
            principalId: principalId
            type: SystemAssigned
          kind: kind
          plan:
            product: product
            name: name
            promotionCode: promotionCode
            publisher: publisher
            version: version
          properties:
            customerSupport:
              phone: phone
              contactName: contactName
              email: email
            outputs: "{}"
            jitAccessPolicy:
              jitApprovers:
              - displayName: displayName
                id: id
                type: user
              - displayName: displayName
                id: id
                type: user
              jitApprovalMode: NotSpecified
              jitAccessEnabled: true
              maximumJitAccessDuration: maximumJitAccessDuration
            updatedBy:
              puid: puid
              oid: oid
              applicationId: applicationId
            billingDetails:
              resourceUsageId: resourceUsageId
            authorizations:
            - roleDefinitionId: roleDefinitionId
              principalId: principalId
            - roleDefinitionId: roleDefinitionId
              principalId: principalId
            publisherTenantId: publisherTenantId
            managementMode: NotSpecified
            provisioningState: NotSpecified
            applicationDefinitionId: applicationDefinitionId
            createdBy:
              puid: puid
              oid: oid
              applicationId: applicationId
            managedResourceGroupId: managedResourceGroupId
            supportUrls:
              governmentCloud: governmentCloud
              publicAzure: publicAzure
            parameters: "{}"
            artifacts:
            - name: NotSpecified
              type: NotSpecified
              uri: uri
            - name: NotSpecified
              type: NotSpecified
              uri: uri
        nextLink: nextLink
      properties:
        nextLink:
          description: The URL to use for getting the next set of results.
          type: string
        value:
          description: The array of managed applications.
          items:
            $ref: '#/components/schemas/Application'
          type: array
      type: object
    ApplicationLockLevel:
      description: The managed application lock level.
      enum:
      - CanNotDelete
      - ReadOnly
      - None
      type: string
      x-ms-enum:
        modelAsString: false
        name: ApplicationLockLevel
    ApplicationManagementMode:
      description: The management mode.
      enum:
      - NotSpecified
      - Unmanaged
      - Managed
      type: string
      x-ms-enum:
        modelAsString: true
        name: ApplicationManagementMode
    ApplicationManagementPolicy:
      description: Managed application management policy.
      example:
        mode: NotSpecified
      properties:
        mode:
          $ref: '#/components/schemas/ApplicationManagementMode'
      type: object
    ApplicationNotificationEndpoint:
      description: Managed application notification endpoint.
      example:
        uri: uri
      properties:
        uri:
          description: The managed application notification endpoint uri.
          type: string
      required:
      - uri
      type: object
    ApplicationNotificationPolicy:
      description: Managed application notification policy.
      example:
        notificationEndpoints:
        - uri: uri
        - uri: uri
      properties:
        notificationEndpoints:
          description: The managed application notification endpoint.
          items:
            $ref: '#/components/schemas/ApplicationNotificationEndpoint'
          type: array
      required:
      - notificationEndpoints
      type: object
    ApplicationPackageContact:
      description: The application package contact information.
      example:
        phone: phone
        contactName: contactName
        email: email
      properties:
        contactName:
          description: The contact name.
          type: string
        email:
          description: The contact email.
          type: string
        phone:
          description: The contact phone number.
          type: string
      required:
      - email
      - phone
      type: object
    ApplicationPackageLockingPolicyDefinition:
      description: Managed application locking policy.
      example:
        allowedActions:
        - allowedActions
        - allowedActions
      properties:
        allowedActions:
          description: The deny assignment excluded actions.
          items:
            type: string
          type: array
      type: object
    ApplicationPackageSupportUrls:
      description: The appliance package support URLs.
      example:
        governmentCloud: governmentCloud
        publicAzure: publicAzure
      properties:
        governmentCloud:
          description: The government cloud support URL.
          type: string
        publicAzure:
          description: The public azure support URL.
          type: string
      type: object
    ApplicationPatchable:
      allOf:
      - $ref: '#/components/schemas/GenericResource'
      description: Information about managed application.
      properties:
        identity:
          $ref: '#/components/schemas/Identity'
        kind:
          description: The kind of the managed application. Allowed values are MarketPlace
            and ServiceCatalog.
          pattern: "^[-\\w\\._,\\(\\)]+$"
          type: string
        plan:
          $ref: '#/components/schemas/PlanPatchable'
        properties:
          $ref: '#/components/schemas/ApplicationPropertiesPatchable'
    ApplicationPolicy:
      description: Managed application policy.
      example:
        policyDefinitionId: policyDefinitionId
        name: name
        parameters: parameters
      properties:
        name:
          description: The policy name
          type: string
        parameters:
          description: The policy parameters.
          type: string
        policyDefinitionId:
          description: The policy definition Id.
          type: string
      type: object
    ApplicationProperties:
      description: The managed application properties.
      example:
        customerSupport:
          phone: phone
          contactName: contactName
          email: email
        outputs: "{}"
        jitAccessPolicy:
          jitApprovers:
          - displayName: displayName
            id: id
            type: user
          - displayName: displayName
            id: id
            type: user
          jitApprovalMode: NotSpecified
          jitAccessEnabled: true
          maximumJitAccessDuration: maximumJitAccessDuration
        updatedBy:
          puid: puid
          oid: oid
          applicationId: applicationId
        billingDetails:
          resourceUsageId: resourceUsageId
        authorizations:
        - roleDefinitionId: roleDefinitionId
          principalId: principalId
        - roleDefinitionId: roleDefinitionId
          principalId: principalId
        publisherTenantId: publisherTenantId
        managementMode: NotSpecified
        provisioningState: NotSpecified
        applicationDefinitionId: applicationDefinitionId
        createdBy:
          puid: puid
          oid: oid
          applicationId: applicationId
        managedResourceGroupId: managedResourceGroupId
        supportUrls:
          governmentCloud: governmentCloud
          publicAzure: publicAzure
        parameters: "{}"
        artifacts:
        - name: NotSpecified
          type: NotSpecified
          uri: uri
        - name: NotSpecified
          type: NotSpecified
          uri: uri
      properties:
        applicationDefinitionId:
          description: The fully qualified path of managed application definition
            Id.
          type: string
        artifacts:
          description: The collection of managed application artifacts.
          items:
            $ref: '#/components/schemas/ApplicationArtifact'
          readOnly: true
          type: array
        authorizations:
          description: The  read-only authorizations property that is retrieved from
            the application package.
          items:
            $ref: '#/components/schemas/ApplicationAuthorization'
          readOnly: true
          type: array
        billingDetails:
          $ref: '#/components/schemas/ApplicationBillingDetailsDefinition'
        createdBy:
          $ref: '#/components/schemas/ApplicationClientDetails'
        customerSupport:
          $ref: '#/components/schemas/ApplicationPackageContact'
        jitAccessPolicy:
          $ref: '#/components/schemas/ApplicationJitAccessPolicy'
        managedResourceGroupId:
          description: The managed resource group Id.
          type: string
        managementMode:
          $ref: '#/components/schemas/ApplicationManagementMode'
        outputs:
          description: Name and value pairs that define the managed application outputs.
          properties: {}
          readOnly: true
          type: object
        parameters:
          description: Name and value pairs that define the managed application parameters.
            It can be a JObject or a well formed JSON string.
          properties: {}
          type: object
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
        publisherTenantId:
          description: The publisher tenant Id.
          readOnly: true
          type: string
        supportUrls:
          $ref: '#/components/schemas/ApplicationPackageSupportUrls'
        updatedBy:
          $ref: '#/components/schemas/ApplicationClientDetails'
      type: object
    ApplicationPropertiesPatchable:
      description: The managed application properties.
      properties:
        applicationDefinitionId:
          description: The fully qualified path of managed application definition
            Id.
          type: string
        managedResourceGroupId:
          description: The managed resource group Id.
          type: string
        outputs:
          description: Name and value pairs that define the managed application outputs.
          properties: {}
          readOnly: true
          type: object
        parameters:
          description: Name and value pairs that define the managed application parameters.
            It can be a JObject or a well formed JSON string.
          properties: {}
          type: object
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
      type: object
    DeploymentMode:
      description: The deployment mode.
      enum:
      - NotSpecified
      - Incremental
      - Complete
      type: string
      x-ms-enum:
        modelAsString: true
        name: DeploymentMode
    ErrorResponse:
      description: Error response indicates managed application is not able to process
        the incoming request. The reason is provided in the error message.
      example:
        httpStatus: httpStatus
        errorMessage: errorMessage
        errorCode: errorCode
      properties:
        errorCode:
          description: Error code.
          type: string
        errorMessage:
          description: Error message indicating why the operation failed.
          type: string
        httpStatus:
          description: Http status code.
          type: string
      type: object
    GenericResource:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: Resource information.
      properties:
        managedBy:
          description: ID of the resource that manages this resource.
          type: string
        sku:
          $ref: '#/components/schemas/Sku'
    Identity:
      description: Identity for the resource.
      example:
        tenantId: tenantId
        principalId: principalId
        type: SystemAssigned
      properties:
        principalId:
          description: The principal ID of resource identity.
          readOnly: true
          type: string
        tenantId:
          description: The tenant ID of resource.
          readOnly: true
          type: string
        type:
          description: The identity type.
          enum:
          - SystemAssigned
          type: string
          x-ms-enum:
            modelAsString: false
            name: ResourceIdentityType
      type: object
    JitApprovalMode:
      description: The Jit approval mode.
      enum:
      - NotSpecified
      - AutoApprove
      - ManualApprove
      type: string
      x-ms-enum:
        modelAsString: true
        name: JitApprovalMode
    JitApproverDefinition:
      description: JIT approver definition.
      example:
        displayName: displayName
        id: id
        type: user
      properties:
        displayName:
          description: The approver display name.
          type: string
        id:
          description: The approver service principal Id.
          type: string
        type:
          description: The approver type.
          enum:
          - user
          - group
          type: string
          x-ms-enum:
            modelAsString: true
            name: JitApproverType
      required:
      - id
      type: object
    JitAuthorizationPolicies:
      description: The JIT authorization policies.
      example:
        roleDefinitionId: roleDefinitionId
        principalId: principalId
      properties:
        principalId:
          description: The the principal id that will be granted JIT access.
          type: string
        roleDefinitionId:
          description: The role definition id that will be granted to the Principal.
          type: string
      required:
      - principalId
      - roleDefinitionId
      type: object
    JitRequestDefinition:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: Information about JIT request definition.
      example:
        properties:
          jitSchedulingPolicy:
            duration: duration
            startTime: 2000-01-23T04:56:07.000+00:00
            type: NotSpecified
          updatedBy:
            puid: puid
            oid: oid
            applicationId: applicationId
          createdBy:
            puid: puid
            oid: oid
            applicationId: applicationId
          jitRequestState: NotSpecified
          jitAuthorizationPolicies:
          - roleDefinitionId: roleDefinitionId
            principalId: principalId
          - roleDefinitionId: roleDefinitionId
            principalId: principalId
          publisherTenantId: publisherTenantId
          provisioningState: NotSpecified
          applicationResourceId: applicationResourceId
      properties:
        properties:
          $ref: '#/components/schemas/JitRequestProperties'
    JitRequestDefinitionListResult:
      description: List of JIT requests.
      example:
        value:
        - properties:
            jitSchedulingPolicy:
              duration: duration
              startTime: 2000-01-23T04:56:07.000+00:00
              type: NotSpecified
            updatedBy:
              puid: puid
              oid: oid
              applicationId: applicationId
            createdBy:
              puid: puid
              oid: oid
              applicationId: applicationId
            jitRequestState: NotSpecified
            jitAuthorizationPolicies:
            - roleDefinitionId: roleDefinitionId
              principalId: principalId
            - roleDefinitionId: roleDefinitionId
              principalId: principalId
            publisherTenantId: publisherTenantId
            provisioningState: NotSpecified
            applicationResourceId: applicationResourceId
        - properties:
            jitSchedulingPolicy:
              duration: duration
              startTime: 2000-01-23T04:56:07.000+00:00
              type: NotSpecified
            updatedBy:
              puid: puid
              oid: oid
              applicationId: applicationId
            createdBy:
              puid: puid
              oid: oid
              applicationId: applicationId
            jitRequestState: NotSpecified
            jitAuthorizationPolicies:
            - roleDefinitionId: roleDefinitionId
              principalId: principalId
            - roleDefinitionId: roleDefinitionId
              principalId: principalId
            publisherTenantId: publisherTenantId
            provisioningState: NotSpecified
            applicationResourceId: applicationResourceId
        nextLink: nextLink
      properties:
        nextLink:
          description: The URL to use for getting the next set of results.
          type: string
        value:
          description: The array of Jit request definition.
          items:
            $ref: '#/components/schemas/JitRequestDefinition'
          type: array
      type: object
    JitRequestPatchable:
      description: Information about JIT request.
      example:
        tags:
          key: tags
      properties:
        tags:
          additionalProperties:
            type: string
          description: Jit request tags
          type: object
      type: object
    JitRequestProperties:
      description: Information about JIT request properties
      example:
        jitSchedulingPolicy:
          duration: duration
          startTime: 2000-01-23T04:56:07.000+00:00
          type: NotSpecified
        updatedBy:
          puid: puid
          oid: oid
          applicationId: applicationId
        createdBy:
          puid: puid
          oid: oid
          applicationId: applicationId
        jitRequestState: NotSpecified
        jitAuthorizationPolicies:
        - roleDefinitionId: roleDefinitionId
          principalId: principalId
        - roleDefinitionId: roleDefinitionId
          principalId: principalId
        publisherTenantId: publisherTenantId
        provisioningState: NotSpecified
        applicationResourceId: applicationResourceId
      properties:
        applicationResourceId:
          description: The parent application id.
          type: string
        createdBy:
          $ref: '#/components/schemas/ApplicationClientDetails'
        jitAuthorizationPolicies:
          description: The JIT authorization policies.
          items:
            $ref: '#/components/schemas/JitAuthorizationPolicies'
          type: array
        jitRequestState:
          $ref: '#/components/schemas/JitRequestState'
        jitSchedulingPolicy:
          $ref: '#/components/schemas/JitSchedulingPolicy'
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
        publisherTenantId:
          description: The publisher tenant id.
          readOnly: true
          type: string
        updatedBy:
          $ref: '#/components/schemas/ApplicationClientDetails'
      required:
      - applicationResourceId
      - jitAuthorizationPolicies
      - jitSchedulingPolicy
      type: object
    JitRequestState:
      description: The JIT request state.
      enum:
      - NotSpecified
      - Pending
      - Approved
      - Denied
      - Failed
      - Canceled
      - Expired
      - Timeout
      type: string
      x-ms-enum:
        modelAsString: true
        name: JitRequestState
    JitSchedulingPolicy:
      description: The JIT scheduling policies.
      example:
        duration: duration
        startTime: 2000-01-23T04:56:07.000+00:00
        type: NotSpecified
      properties:
        duration:
          format: duration
          title: The required duration of the JIT request.
          type: string
        startTime:
          description: The start time of the request.
          format: date-time
          type: string
        type:
          $ref: '#/components/schemas/JitSchedulingType'
      required:
      - duration
      - startTime
      - type
      type: object
    JitSchedulingType:
      description: The JIT request scheduling type.
      enum:
      - NotSpecified
      - Once
      - Recurring
      type: string
      x-ms-enum:
        modelAsString: true
        name: JitSchedulingType
    Operation:
      description: Microsoft.Solutions operation
      example:
        display:
          provider: provider
          resource: resource
          operation: operation
        name: name
      properties:
        display:
          $ref: '#/components/schemas/Operation_display'
        name:
          description: "Operation name: {provider}/{resource}/{operation}"
          type: string
      type: object
    OperationListResult:
      description: Result of the request to list Microsoft.Solutions operations. It
        contains a list of operations and a URL link to get the next set of results.
      example:
        value:
        - display:
            provider: provider
            resource: resource
            operation: operation
          name: name
        - display:
            provider: provider
            resource: resource
            operation: operation
          name: name
        nextLink: nextLink
      properties:
        nextLink:
          description: URL to get the next set of operation list results if there
            are any.
          type: string
        value:
          description: List of Microsoft.Solutions operations.
          items:
            $ref: '#/components/schemas/Operation'
          type: array
      type: object
    Plan:
      description: Plan for the managed application.
      example:
        product: product
        name: name
        promotionCode: promotionCode
        publisher: publisher
        version: version
      properties:
        name:
          description: The plan name.
          type: string
        product:
          description: The product code.
          type: string
        promotionCode:
          description: The promotion code.
          type: string
        publisher:
          description: The publisher ID.
          type: string
        version:
          description: The plan's version.
          type: string
      required:
      - name
      - product
      - publisher
      - version
      type: object
    PlanPatchable:
      description: Plan for the managed application.
      properties:
        name:
          description: The plan name.
          type: string
        product:
          description: The product code.
          type: string
        promotionCode:
          description: The promotion code.
          type: string
        publisher:
          description: The publisher ID.
          type: string
        version:
          description: The plan's version.
          type: string
      type: object
    ProvisioningState:
      description: Provisioning status of the managed application.
      enum:
      - NotSpecified
      - Accepted
      - Running
      - Ready
      - Creating
      - Created
      - Deleting
      - Deleted
      - Canceled
      - Failed
      - Succeeded
      - Updating
      type: string
      x-ms-enum:
        modelAsString: true
        name: ProvisioningState
    Resource:
      description: Resource information.
      properties:
        id:
          description: Resource ID
          readOnly: true
          type: string
        location:
          description: Resource location
          type: string
        name:
          description: Resource name
          readOnly: true
          type: string
        tags:
          additionalProperties:
            type: string
          description: Resource tags
          type: object
        type:
          description: Resource type
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
    Sku:
      description: SKU for the resource.
      properties:
        capacity:
          description: The SKU capacity.
          format: int32
          type: integer
        family:
          description: The SKU family.
          type: string
        model:
          description: The SKU model.
          type: string
        name:
          description: The SKU name.
          type: string
        size:
          description: The SKU size.
          type: string
        tier:
          description: The SKU tier.
          type: string
      required:
      - name
      type: object
    Operation_display:
      description: The object that represents the operation.
      example:
        provider: provider
        resource: resource
        operation: operation
      properties:
        operation:
          description: "Operation type: Read, write, delete, etc."
          type: string
        provider:
          description: "Service provider: Microsoft.Solutions"
          type: string
        resource:
          description: "Resource on which the operation is performed: Application,\
            \ JitRequest, etc."
          type: string
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-ms-paths:
  /{applicationDefinitionId}?disambiguation_dummy:
    delete:
      description: Deletes the managed application definition.
      operationId: ApplicationDefinitions_DeleteById
      parameters:
      - description: "The fully qualified ID of the managed application definition,\
          \ including the managed application name and the managed application definition\
          \ resource type. Use the format, /subscriptions/{guid}/resourceGroups/{resource-group-name}/Microsoft.Solutions/applicationDefinitions/{applicationDefinition-name}"
        in: path
        name: applicationDefinitionId
        required: true
        type: string
        x-ms-skip-url-encoding: true
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        "200":
          description: OK
        "202":
          description: Accepted - Returns this status until the asynchronous operation
            has completed.
        "204":
          description: NoContent
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - ApplicationDefinitions
      x-ms-long-running-operation: true
    get:
      description: Gets the managed application definition.
      operationId: ApplicationDefinitions_GetById
      parameters:
      - description: "The fully qualified ID of the managed application definition,\
          \ including the managed application name and the managed application definition\
          \ resource type. Use the format, /subscriptions/{guid}/resourceGroups/{resource-group-name}/Microsoft.Solutions/applicationDefinitions/{applicationDefinition-name}"
        in: path
        name: applicationDefinitionId
        required: true
        type: string
        x-ms-skip-url-encoding: true
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        "200":
          description: OK - Returns the managed application definition.
          schema:
            $ref: '#/definitions/ApplicationDefinition'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - ApplicationDefinitions
    put:
      description: Creates a new managed application definition.
      operationId: ApplicationDefinitions_CreateOrUpdateById
      parameters:
      - description: "The fully qualified ID of the managed application definition,\
          \ including the managed application name and the managed application definition\
          \ resource type. Use the format, /subscriptions/{guid}/resourceGroups/{resource-group-name}/Microsoft.Solutions/applicationDefinitions/{applicationDefinition-name}"
        in: path
        name: applicationDefinitionId
        required: true
        type: string
        x-ms-skip-url-encoding: true
      - description: Parameters supplied to the create or update a managed application
          definition.
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/ApplicationDefinition'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        "200":
          description: "OK - Returns information about the managed application definition,\
            \ including provisioning status."
          schema:
            $ref: '#/definitions/ApplicationDefinition'
        "201":
          description: "Created - Returns information about the managed application\
            \ definition, including provisioning status."
          schema:
            $ref: '#/definitions/ApplicationDefinition'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - ApplicationDefinitions
      x-ms-long-running-operation: true
x-original-swagger-version: "2.0"

