openapi: 3.0.0
info:
  contact:
    x-twitter: microsoft
  title: TrainingApi
  version: "2.0"
  x-apisguru-categories:
  - developer_tools
  - cloud
  x-logo:
    url: https://twitter.com/microsoft/profile_image?size=original
  x-origin:
  - format: openapi
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/cognitiveservices/data-plane/CustomVision/Training/stable/v2.0/Training.json
    version: "3.0"
  x-preferred: false
  x-providerName: microsoft.com
  x-serviceName: cognitiveservices-Training
  x-tags:
  - Microsoft
servers:
- url: https://southcentralus.api.cognitive.microsoft.com/customvision/v2.0/Training
paths:
  /domains:
    get:
      operationId: GetDomains
      parameters:
      - examples:
          Successful CreateImageRegions request:
            value: "{API Key}"
          Successful CreateImageTags request:
            value: "{API Key}"
          Successful CreateImagesFromData request:
            value: "{API Key}"
          Successful CreateImagesFromFiles request:
            value: "{API Key}"
          Successful CreateImagesFromPredictions request:
            value: "{API Key}"
          Successful CreateImagesFromUrls request:
            value: "{API Key}"
          Successful CreateProject request:
            value: "{API Key}"
          Successful CreateTag request:
            value: "{API Key}"
          Successful DeleteImageRegions request:
            value: "{API Key}"
          Successful DeleteImageTags request:
            value: "{API Key}"
          Successful DeleteImages request:
            value: "{API Key}"
          Successful DeleteIteration request:
            value: "{API Key}"
          Successful DeletePrediction request:
            value: "{API Key}"
          Successful DeleteProject request:
            value: "{API Key}"
          Successful DeleteTag request:
            value: "{API Key}"
          Successful ExportIteration request:
            value: "{API Key}"
          Successful GetDomain request:
            value: "{API Key}"
          Successful GetDomains request:
            value: "{API Key}"
          Successful GetExports request:
            value: "{API Key}"
          Successful GetImagePerformanceCount request:
            value: "{API Key}"
          Successful GetImagePerformances request:
            value: "{API Key}"
          Successful GetImageRegionProposals request:
            value: "{API Key}"
          Successful GetImagesByIds request:
            value: "{API Key}"
          Successful GetIteration request:
            value: "{API Key}"
          Successful GetIterationPerformance request:
            value: "{API Key}"
          Successful GetIterations request:
            value: "{API Key}"
          Successful GetProject request:
            value: "{API Key}"
          Successful GetProjects request:
            value: "{API Key}"
          Successful GetTag request:
            value: "{API Key}"
          Successful GetTaggedImageCount request:
            value: "{API Key}"
          Successful GetTaggedImages request:
            value: "{API Key}"
          Successful GetTags request:
            value: "{API Key}"
          Successful GetUntaggedImageCount request:
            value: "{API Key}"
          Successful GetUntaggedImages request:
            value: "{API Key}"
          Successful QueryPredictions request:
            value: "{API Key}"
          Successful QuickTestImage request:
            value: "{API Key}"
          Successful QuickTestImageUrl request:
            value: "{API Key}"
          Successful TrainProject request:
            value: "{API Key}"
          Successful UpdateIteration request:
            value: "{API Key}"
          Successful UpdateProject request:
            value: "{API Key}"
          Successful UpdateTag request:
            value: "{API Key}"
        explode: false
        in: header
        name: Training-Key
        required: true
        schema:
          type: string
        style: simple
        x-ms-client-name: ApiKey
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful GetDomains request:
                  $ref: '#/components/examples/Successful_GetDomains_request'
              schema:
                items:
                  $ref: '#/components/schemas/Domain'
                nullable: true
                type: array
            application/xml:
              examples:
                Successful GetDomains request:
                  $ref: '#/components/examples/Successful_GetDomains_request'
              schema:
                items:
                  $ref: '#/components/schemas/Domain'
                nullable: true
                type: array
            text/json:
              examples:
                Successful GetDomains request:
                  $ref: '#/components/examples/Successful_GetDomains_request'
              schema:
                items:
                  $ref: '#/components/schemas/Domain'
                nullable: true
                type: array
            text/xml:
              examples:
                Successful GetDomains request:
                  $ref: '#/components/examples/Successful_GetDomains_request'
              schema:
                items:
                  $ref: '#/components/schemas/Domain'
                nullable: true
                type: array
          description: OK
      summary: Get a list of the available domains
      tags:
      - DomainsApi
      x-accepts:
      - application/json
      - application/xml
      - text/json
      - text/xml
  /domains/{domainId}:
    get:
      operationId: GetDomain
      parameters:
      - description: The id of the domain to get information about
        examples:
          Successful GetDomain request:
            value: b30a91ae-e3c1-4f73-a81e-c270bff27c39
        explode: false
        in: path
        name: domainId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
        x-nullable: false
      - examples:
          Successful CreateImageRegions request:
            value: "{API Key}"
          Successful CreateImageTags request:
            value: "{API Key}"
          Successful CreateImagesFromData request:
            value: "{API Key}"
          Successful CreateImagesFromFiles request:
            value: "{API Key}"
          Successful CreateImagesFromPredictions request:
            value: "{API Key}"
          Successful CreateImagesFromUrls request:
            value: "{API Key}"
          Successful CreateProject request:
            value: "{API Key}"
          Successful CreateTag request:
            value: "{API Key}"
          Successful DeleteImageRegions request:
            value: "{API Key}"
          Successful DeleteImageTags request:
            value: "{API Key}"
          Successful DeleteImages request:
            value: "{API Key}"
          Successful DeleteIteration request:
            value: "{API Key}"
          Successful DeletePrediction request:
            value: "{API Key}"
          Successful DeleteProject request:
            value: "{API Key}"
          Successful DeleteTag request:
            value: "{API Key}"
          Successful ExportIteration request:
            value: "{API Key}"
          Successful GetDomain request:
            value: "{API Key}"
          Successful GetDomains request:
            value: "{API Key}"
          Successful GetExports request:
            value: "{API Key}"
          Successful GetImagePerformanceCount request:
            value: "{API Key}"
          Successful GetImagePerformances request:
            value: "{API Key}"
          Successful GetImageRegionProposals request:
            value: "{API Key}"
          Successful GetImagesByIds request:
            value: "{API Key}"
          Successful GetIteration request:
            value: "{API Key}"
          Successful GetIterationPerformance request:
            value: "{API Key}"
          Successful GetIterations request:
            value: "{API Key}"
          Successful GetProject request:
            value: "{API Key}"
          Successful GetProjects request:
            value: "{API Key}"
          Successful GetTag request:
            value: "{API Key}"
          Successful GetTaggedImageCount request:
            value: "{API Key}"
          Successful GetTaggedImages request:
            value: "{API Key}"
          Successful GetTags request:
            value: "{API Key}"
          Successful GetUntaggedImageCount request:
            value: "{API Key}"
          Successful GetUntaggedImages request:
            value: "{API Key}"
          Successful QueryPredictions request:
            value: "{API Key}"
          Successful QuickTestImage request:
            value: "{API Key}"
          Successful QuickTestImageUrl request:
            value: "{API Key}"
          Successful TrainProject request:
            value: "{API Key}"
          Successful UpdateIteration request:
            value: "{API Key}"
          Successful UpdateProject request:
            value: "{API Key}"
          Successful UpdateTag request:
            value: "{API Key}"
        explode: false
        in: header
        name: Training-Key
        required: true
        schema:
          type: string
        style: simple
        x-ms-client-name: ApiKey
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful GetDomain request:
                  $ref: '#/components/examples/Successful_GetDomain_request'
              schema:
                $ref: '#/components/schemas/Domain'
            application/xml:
              examples:
                Successful GetDomain request:
                  $ref: '#/components/examples/Successful_GetDomain_request'
              schema:
                $ref: '#/components/schemas/Domain'
            text/json:
              examples:
                Successful GetDomain request:
                  $ref: '#/components/examples/Successful_GetDomain_request'
              schema:
                $ref: '#/components/schemas/Domain'
            text/xml:
              examples:
                Successful GetDomain request:
                  $ref: '#/components/examples/Successful_GetDomain_request'
              schema:
                $ref: '#/components/schemas/Domain'
          description: OK
      summary: Get information about a specific domain
      tags:
      - DomainsApi
      x-accepts:
      - application/json
      - application/xml
      - text/json
      - text/xml
  /projects:
    get:
      operationId: GetProjects
      parameters:
      - examples:
          Successful CreateImageRegions request:
            value: "{API Key}"
          Successful CreateImageTags request:
            value: "{API Key}"
          Successful CreateImagesFromData request:
            value: "{API Key}"
          Successful CreateImagesFromFiles request:
            value: "{API Key}"
          Successful CreateImagesFromPredictions request:
            value: "{API Key}"
          Successful CreateImagesFromUrls request:
            value: "{API Key}"
          Successful CreateProject request:
            value: "{API Key}"
          Successful CreateTag request:
            value: "{API Key}"
          Successful DeleteImageRegions request:
            value: "{API Key}"
          Successful DeleteImageTags request:
            value: "{API Key}"
          Successful DeleteImages request:
            value: "{API Key}"
          Successful DeleteIteration request:
            value: "{API Key}"
          Successful DeletePrediction request:
            value: "{API Key}"
          Successful DeleteProject request:
            value: "{API Key}"
          Successful DeleteTag request:
            value: "{API Key}"
          Successful ExportIteration request:
            value: "{API Key}"
          Successful GetDomain request:
            value: "{API Key}"
          Successful GetDomains request:
            value: "{API Key}"
          Successful GetExports request:
            value: "{API Key}"
          Successful GetImagePerformanceCount request:
            value: "{API Key}"
          Successful GetImagePerformances request:
            value: "{API Key}"
          Successful GetImageRegionProposals request:
            value: "{API Key}"
          Successful GetImagesByIds request:
            value: "{API Key}"
          Successful GetIteration request:
            value: "{API Key}"
          Successful GetIterationPerformance request:
            value: "{API Key}"
          Successful GetIterations request:
            value: "{API Key}"
          Successful GetProject request:
            value: "{API Key}"
          Successful GetProjects request:
            value: "{API Key}"
          Successful GetTag request:
            value: "{API Key}"
          Successful GetTaggedImageCount request:
            value: "{API Key}"
          Successful GetTaggedImages request:
            value: "{API Key}"
          Successful GetTags request:
            value: "{API Key}"
          Successful GetUntaggedImageCount request:
            value: "{API Key}"
          Successful GetUntaggedImages request:
            value: "{API Key}"
          Successful QueryPredictions request:
            value: "{API Key}"
          Successful QuickTestImage request:
            value: "{API Key}"
          Successful QuickTestImageUrl request:
            value: "{API Key}"
          Successful TrainProject request:
            value: "{API Key}"
          Successful UpdateIteration request:
            value: "{API Key}"
          Successful UpdateProject request:
            value: "{API Key}"
          Successful UpdateTag request:
            value: "{API Key}"
        explode: false
        in: header
        name: Training-Key
        required: true
        schema:
          type: string
        style: simple
        x-ms-client-name: ApiKey
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful GetProjects request:
                  $ref: '#/components/examples/Successful_GetProjects_request'
              schema:
                items:
                  $ref: '#/components/schemas/Project'
                nullable: true
                type: array
            application/xml:
              examples:
                Successful GetProjects request:
                  $ref: '#/components/examples/Successful_GetProjects_request'
              schema:
                items:
                  $ref: '#/components/schemas/Project'
                nullable: true
                type: array
            text/json:
              examples:
                Successful GetProjects request:
                  $ref: '#/components/examples/Successful_GetProjects_request'
              schema:
                items:
                  $ref: '#/components/schemas/Project'
                nullable: true
                type: array
            text/xml:
              examples:
                Successful GetProjects request:
                  $ref: '#/components/examples/Successful_GetProjects_request'
              schema:
                items:
                  $ref: '#/components/schemas/Project'
                nullable: true
                type: array
          description: OK
      summary: Get your projects
      tags:
      - ProjectApi
      x-accepts:
      - application/json
      - application/xml
      - text/json
      - text/xml
    post:
      operationId: CreateProject
      parameters:
      - description: Name of the project
        examples:
          Successful CreateProject request:
            value: My New Project
        explode: true
        in: query
        name: name
        required: true
        schema:
          type: string
        style: form
        x-nullable: true
      - description: The description of the project
        examples:
          Successful CreateProject request:
            value: A test project
        explode: true
        in: query
        name: description
        required: false
        schema:
          type: string
        style: form
        x-nullable: true
      - description: The id of the domain to use for this project. Defaults to General
        examples:
          Successful CreateProject request:
            value: ee85a74c-405e-4adc-bb47-ffa8ca0c9f31
        explode: true
        in: query
        name: domainId
        required: false
        schema:
          format: uuid
          type: string
        style: form
        x-nullable: true
      - examples:
          Successful CreateImageRegions request:
            value: "{API Key}"
          Successful CreateImageTags request:
            value: "{API Key}"
          Successful CreateImagesFromData request:
            value: "{API Key}"
          Successful CreateImagesFromFiles request:
            value: "{API Key}"
          Successful CreateImagesFromPredictions request:
            value: "{API Key}"
          Successful CreateImagesFromUrls request:
            value: "{API Key}"
          Successful CreateProject request:
            value: "{API Key}"
          Successful CreateTag request:
            value: "{API Key}"
          Successful DeleteImageRegions request:
            value: "{API Key}"
          Successful DeleteImageTags request:
            value: "{API Key}"
          Successful DeleteImages request:
            value: "{API Key}"
          Successful DeleteIteration request:
            value: "{API Key}"
          Successful DeletePrediction request:
            value: "{API Key}"
          Successful DeleteProject request:
            value: "{API Key}"
          Successful DeleteTag request:
            value: "{API Key}"
          Successful ExportIteration request:
            value: "{API Key}"
          Successful GetDomain request:
            value: "{API Key}"
          Successful GetDomains request:
            value: "{API Key}"
          Successful GetExports request:
            value: "{API Key}"
          Successful GetImagePerformanceCount request:
            value: "{API Key}"
          Successful GetImagePerformances request:
            value: "{API Key}"
          Successful GetImageRegionProposals request:
            value: "{API Key}"
          Successful GetImagesByIds request:
            value: "{API Key}"
          Successful GetIteration request:
            value: "{API Key}"
          Successful GetIterationPerformance request:
            value: "{API Key}"
          Successful GetIterations request:
            value: "{API Key}"
          Successful GetProject request:
            value: "{API Key}"
          Successful GetProjects request:
            value: "{API Key}"
          Successful GetTag request:
            value: "{API Key}"
          Successful GetTaggedImageCount request:
            value: "{API Key}"
          Successful GetTaggedImages request:
            value: "{API Key}"
          Successful GetTags request:
            value: "{API Key}"
          Successful GetUntaggedImageCount request:
            value: "{API Key}"
          Successful GetUntaggedImages request:
            value: "{API Key}"
          Successful QueryPredictions request:
            value: "{API Key}"
          Successful QuickTestImage request:
            value: "{API Key}"
          Successful QuickTestImageUrl request:
            value: "{API Key}"
          Successful TrainProject request:
            value: "{API Key}"
          Successful UpdateIteration request:
            value: "{API Key}"
          Successful UpdateProject request:
            value: "{API Key}"
          Successful UpdateTag request:
            value: "{API Key}"
        explode: false
        in: header
        name: Training-Key
        required: true
        schema:
          type: string
        style: simple
        x-ms-client-name: ApiKey
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful CreateProject request:
                  $ref: '#/components/examples/Successful_CreateProject_request'
              schema:
                $ref: '#/components/schemas/Project'
            application/xml:
              examples:
                Successful CreateProject request:
                  $ref: '#/components/examples/Successful_CreateProject_request'
              schema:
                $ref: '#/components/schemas/Project'
            text/json:
              examples:
                Successful CreateProject request:
                  $ref: '#/components/examples/Successful_CreateProject_request'
              schema:
                $ref: '#/components/schemas/Project'
            text/xml:
              examples:
                Successful CreateProject request:
                  $ref: '#/components/examples/Successful_CreateProject_request'
              schema:
                $ref: '#/components/schemas/Project'
          description: OK
      summary: Create a project
      tags:
      - ProjectApi
      x-accepts:
      - application/json
      - application/xml
      - text/json
      - text/xml
  /projects/{projectId}:
    delete:
      operationId: DeleteProject
      parameters:
      - description: The project id
        examples:
          Successful DeleteProject request:
            value: bc3f7dad-5544-468c-8573-3ef04d55463e
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
        x-nullable: false
      - examples:
          Successful CreateImageRegions request:
            value: "{API Key}"
          Successful CreateImageTags request:
            value: "{API Key}"
          Successful CreateImagesFromData request:
            value: "{API Key}"
          Successful CreateImagesFromFiles request:
            value: "{API Key}"
          Successful CreateImagesFromPredictions request:
            value: "{API Key}"
          Successful CreateImagesFromUrls request:
            value: "{API Key}"
          Successful CreateProject request:
            value: "{API Key}"
          Successful CreateTag request:
            value: "{API Key}"
          Successful DeleteImageRegions request:
            value: "{API Key}"
          Successful DeleteImageTags request:
            value: "{API Key}"
          Successful DeleteImages request:
            value: "{API Key}"
          Successful DeleteIteration request:
            value: "{API Key}"
          Successful DeletePrediction request:
            value: "{API Key}"
          Successful DeleteProject request:
            value: "{API Key}"
          Successful DeleteTag request:
            value: "{API Key}"
          Successful ExportIteration request:
            value: "{API Key}"
          Successful GetDomain request:
            value: "{API Key}"
          Successful GetDomains request:
            value: "{API Key}"
          Successful GetExports request:
            value: "{API Key}"
          Successful GetImagePerformanceCount request:
            value: "{API Key}"
          Successful GetImagePerformances request:
            value: "{API Key}"
          Successful GetImageRegionProposals request:
            value: "{API Key}"
          Successful GetImagesByIds request:
            value: "{API Key}"
          Successful GetIteration request:
            value: "{API Key}"
          Successful GetIterationPerformance request:
            value: "{API Key}"
          Successful GetIterations request:
            value: "{API Key}"
          Successful GetProject request:
            value: "{API Key}"
          Successful GetProjects request:
            value: "{API Key}"
          Successful GetTag request:
            value: "{API Key}"
          Successful GetTaggedImageCount request:
            value: "{API Key}"
          Successful GetTaggedImages request:
            value: "{API Key}"
          Successful GetTags request:
            value: "{API Key}"
          Successful GetUntaggedImageCount request:
            value: "{API Key}"
          Successful GetUntaggedImages request:
            value: "{API Key}"
          Successful QueryPredictions request:
            value: "{API Key}"
          Successful QuickTestImage request:
            value: "{API Key}"
          Successful QuickTestImageUrl request:
            value: "{API Key}"
          Successful TrainProject request:
            value: "{API Key}"
          Successful UpdateIteration request:
            value: "{API Key}"
          Successful UpdateProject request:
            value: "{API Key}"
          Successful UpdateTag request:
            value: "{API Key}"
        explode: false
        in: header
        name: Training-Key
        required: true
        schema:
          type: string
        style: simple
        x-ms-client-name: ApiKey
        x-ms-parameter-location: client
      responses:
        "204":
          description: No Content
      summary: Delete a specific project
      tags:
      - ProjectApi
      x-accepts:
      - application/json
    get:
      operationId: GetProject
      parameters:
      - description: The id of the project to get
        examples:
          Successful GetProject request:
            value: bc3f7dad-5544-468c-8573-3ef04d55463e
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
        x-nullable: false
      - examples:
          Successful CreateImageRegions request:
            value: "{API Key}"
          Successful CreateImageTags request:
            value: "{API Key}"
          Successful CreateImagesFromData request:
            value: "{API Key}"
          Successful CreateImagesFromFiles request:
            value: "{API Key}"
          Successful CreateImagesFromPredictions request:
            value: "{API Key}"
          Successful CreateImagesFromUrls request:
            value: "{API Key}"
          Successful CreateProject request:
            value: "{API Key}"
          Successful CreateTag request:
            value: "{API Key}"
          Successful DeleteImageRegions request:
            value: "{API Key}"
          Successful DeleteImageTags request:
            value: "{API Key}"
          Successful DeleteImages request:
            value: "{API Key}"
          Successful DeleteIteration request:
            value: "{API Key}"
          Successful DeletePrediction request:
            value: "{API Key}"
          Successful DeleteProject request:
            value: "{API Key}"
          Successful DeleteTag request:
            value: "{API Key}"
          Successful ExportIteration request:
            value: "{API Key}"
          Successful GetDomain request:
            value: "{API Key}"
          Successful GetDomains request:
            value: "{API Key}"
          Successful GetExports request:
            value: "{API Key}"
          Successful GetImagePerformanceCount request:
            value: "{API Key}"
          Successful GetImagePerformances request:
            value: "{API Key}"
          Successful GetImageRegionProposals request:
            value: "{API Key}"
          Successful GetImagesByIds request:
            value: "{API Key}"
          Successful GetIteration request:
            value: "{API Key}"
          Successful GetIterationPerformance request:
            value: "{API Key}"
          Successful GetIterations request:
            value: "{API Key}"
          Successful GetProject request:
            value: "{API Key}"
          Successful GetProjects request:
            value: "{API Key}"
          Successful GetTag request:
            value: "{API Key}"
          Successful GetTaggedImageCount request:
            value: "{API Key}"
          Successful GetTaggedImages request:
            value: "{API Key}"
          Successful GetTags request:
            value: "{API Key}"
          Successful GetUntaggedImageCount request:
            value: "{API Key}"
          Successful GetUntaggedImages request:
            value: "{API Key}"
          Successful QueryPredictions request:
            value: "{API Key}"
          Successful QuickTestImage request:
            value: "{API Key}"
          Successful QuickTestImageUrl request:
            value: "{API Key}"
          Successful TrainProject request:
            value: "{API Key}"
          Successful UpdateIteration request:
            value: "{API Key}"
          Successful UpdateProject request:
            value: "{API Key}"
          Successful UpdateTag request:
            value: "{API Key}"
        explode: false
        in: header
        name: Training-Key
        required: true
        schema:
          type: string
        style: simple
        x-ms-client-name: ApiKey
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful GetProject request:
                  $ref: '#/components/examples/Successful_GetProject_request'
              schema:
                $ref: '#/components/schemas/Project'
            application/xml:
              examples:
                Successful GetProject request:
                  $ref: '#/components/examples/Successful_GetProject_request'
              schema:
                $ref: '#/components/schemas/Project'
            text/json:
              examples:
                Successful GetProject request:
                  $ref: '#/components/examples/Successful_GetProject_request'
              schema:
                $ref: '#/components/schemas/Project'
            text/xml:
              examples:
                Successful GetProject request:
                  $ref: '#/components/examples/Successful_GetProject_request'
              schema:
                $ref: '#/components/schemas/Project'
          description: OK
      summary: Get a specific project
      tags:
      - ProjectApi
      x-accepts:
      - application/json
      - application/xml
      - text/json
      - text/xml
    patch:
      operationId: UpdateProject
      parameters:
      - description: The id of the project to update
        examples:
          Successful UpdateProject request:
            value: bc3f7dad-5544-468c-8573-3ef04d55463e
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
        x-nullable: false
      - examples:
          Successful CreateImageRegions request:
            value: "{API Key}"
          Successful CreateImageTags request:
            value: "{API Key}"
          Successful CreateImagesFromData request:
            value: "{API Key}"
          Successful CreateImagesFromFiles request:
            value: "{API Key}"
          Successful CreateImagesFromPredictions request:
            value: "{API Key}"
          Successful CreateImagesFromUrls request:
            value: "{API Key}"
          Successful CreateProject request:
            value: "{API Key}"
          Successful CreateTag request:
            value: "{API Key}"
          Successful DeleteImageRegions request:
            value: "{API Key}"
          Successful DeleteImageTags request:
            value: "{API Key}"
          Successful DeleteImages request:
            value: "{API Key}"
          Successful DeleteIteration request:
            value: "{API Key}"
          Successful DeletePrediction request:
            value: "{API Key}"
          Successful DeleteProject request:
            value: "{API Key}"
          Successful DeleteTag request:
            value: "{API Key}"
          Successful ExportIteration request:
            value: "{API Key}"
          Successful GetDomain request:
            value: "{API Key}"
          Successful GetDomains request:
            value: "{API Key}"
          Successful GetExports request:
            value: "{API Key}"
          Successful GetImagePerformanceCount request:
            value: "{API Key}"
          Successful GetImagePerformances request:
            value: "{API Key}"
          Successful GetImageRegionProposals request:
            value: "{API Key}"
          Successful GetImagesByIds request:
            value: "{API Key}"
          Successful GetIteration request:
            value: "{API Key}"
          Successful GetIterationPerformance request:
            value: "{API Key}"
          Successful GetIterations request:
            value: "{API Key}"
          Successful GetProject request:
            value: "{API Key}"
          Successful GetProjects request:
            value: "{API Key}"
          Successful GetTag request:
            value: "{API Key}"
          Successful GetTaggedImageCount request:
            value: "{API Key}"
          Successful GetTaggedImages request:
            value: "{API Key}"
          Successful GetTags request:
            value: "{API Key}"
          Successful GetUntaggedImageCount request:
            value: "{API Key}"
          Successful GetUntaggedImages request:
            value: "{API Key}"
          Successful QueryPredictions request:
            value: "{API Key}"
          Successful QuickTestImage request:
            value: "{API Key}"
          Successful QuickTestImageUrl request:
            value: "{API Key}"
          Successful TrainProject request:
            value: "{API Key}"
          Successful UpdateIteration request:
            value: "{API Key}"
          Successful UpdateProject request:
            value: "{API Key}"
          Successful UpdateTag request:
            value: "{API Key}"
        explode: false
        in: header
        name: Training-Key
        required: true
        schema:
          type: string
        style: simple
        x-ms-client-name: ApiKey
        x-ms-parameter-location: client
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Project'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Project'
          application/xml:
            schema:
              $ref: '#/components/schemas/Project'
          text/json:
            schema:
              $ref: '#/components/schemas/Project'
          text/xml:
            schema:
              $ref: '#/components/schemas/Project'
        description: The updated project model
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful UpdateProject request:
                  $ref: '#/components/examples/Successful_UpdateProject_request'
              schema:
                $ref: '#/components/schemas/Project'
            application/xml:
              examples:
                Successful UpdateProject request:
                  $ref: '#/components/examples/Successful_UpdateProject_request'
              schema:
                $ref: '#/components/schemas/Project'
            text/json:
              examples:
                Successful UpdateProject request:
                  $ref: '#/components/examples/Successful_UpdateProject_request'
              schema:
                $ref: '#/components/schemas/Project'
            text/xml:
              examples:
                Successful UpdateProject request:
                  $ref: '#/components/examples/Successful_UpdateProject_request'
              schema:
                $ref: '#/components/schemas/Project'
          description: OK
      summary: Update a specific project
      tags:
      - ProjectApi
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/xml
      - text/json
      - text/xml
  /projects/{projectId}/images:
    delete:
      operationId: DeleteImages
      parameters:
      - description: The project id
        examples:
          Successful DeleteImages request:
            value: 64b822c5-8082-4b36-a426-27225f4aa18c
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
        x-nullable: false
      - description: Ids of the images to be deleted. Limited to 256 images per batch
        examples:
          Successful DeleteImages request:
            value:
            - e31a14ab-5d78-4f7b-a267-3a1e4fd8a758
            - cf0f83fb-ebaa-4b25-8e34-613a6a0b8a12
        explode: false
        in: query
        name: imageIds
        required: true
        schema:
          items:
            nullable: false
            type: string
          type: array
        style: form
        x-nullable: true
      - examples:
          Successful CreateImageRegions request:
            value: "{API Key}"
          Successful CreateImageTags request:
            value: "{API Key}"
          Successful CreateImagesFromData request:
            value: "{API Key}"
          Successful CreateImagesFromFiles request:
            value: "{API Key}"
          Successful CreateImagesFromPredictions request:
            value: "{API Key}"
          Successful CreateImagesFromUrls request:
            value: "{API Key}"
          Successful CreateProject request:
            value: "{API Key}"
          Successful CreateTag request:
            value: "{API Key}"
          Successful DeleteImageRegions request:
            value: "{API Key}"
          Successful DeleteImageTags request:
            value: "{API Key}"
          Successful DeleteImages request:
            value: "{API Key}"
          Successful DeleteIteration request:
            value: "{API Key}"
          Successful DeletePrediction request:
            value: "{API Key}"
          Successful DeleteProject request:
            value: "{API Key}"
          Successful DeleteTag request:
            value: "{API Key}"
          Successful ExportIteration request:
            value: "{API Key}"
          Successful GetDomain request:
            value: "{API Key}"
          Successful GetDomains request:
            value: "{API Key}"
          Successful GetExports request:
            value: "{API Key}"
          Successful GetImagePerformanceCount request:
            value: "{API Key}"
          Successful GetImagePerformances request:
            value: "{API Key}"
          Successful GetImageRegionProposals request:
            value: "{API Key}"
          Successful GetImagesByIds request:
            value: "{API Key}"
          Successful GetIteration request:
            value: "{API Key}"
          Successful GetIterationPerformance request:
            value: "{API Key}"
          Successful GetIterations request:
            value: "{API Key}"
          Successful GetProject request:
            value: "{API Key}"
          Successful GetProjects request:
            value: "{API Key}"
          Successful GetTag request:
            value: "{API Key}"
          Successful GetTaggedImageCount request:
            value: "{API Key}"
          Successful GetTaggedImages request:
            value: "{API Key}"
          Successful GetTags request:
            value: "{API Key}"
          Successful GetUntaggedImageCount request:
            value: "{API Key}"
          Successful GetUntaggedImages request:
            value: "{API Key}"
          Successful QueryPredictions request:
            value: "{API Key}"
          Successful QuickTestImage request:
            value: "{API Key}"
          Successful QuickTestImageUrl request:
            value: "{API Key}"
          Successful TrainProject request:
            value: "{API Key}"
          Successful UpdateIteration request:
            value: "{API Key}"
          Successful UpdateProject request:
            value: "{API Key}"
          Successful UpdateTag request:
            value: "{API Key}"
        explode: false
        in: header
        name: Training-Key
        required: true
        schema:
          type: string
        style: simple
        x-ms-client-name: ApiKey
        x-ms-parameter-location: client
      responses:
        "204":
          description: No Content
      summary: Delete images from the set of training images
      tags:
      - ImageApi
      x-accepts:
      - application/json
    post:
      description: "This API accepts body content as multipart/form-data and application/octet-stream.\
        \ When using multipart\r\nmultiple image files can be sent at once, with a\
        \ maximum of 64 files"
      operationId: CreateImagesFromData
      parameters:
      - description: The project id
        examples:
          Successful CreateImagesFromData request:
            value: 64b822c5-8082-4b36-a426-27225f4aa18c
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
        x-nullable: false
      - description: The tags ids with which to tag each image. Limited to 20
        examples:
          Successful CreateImagesFromData request:
            value:
            - b607964f-7bd6-4a3b-a869-6791fb6aab87
        explode: false
        in: query
        name: tagIds
        required: false
        schema:
          items:
            nullable: false
            type: string
          type: array
        style: form
        x-nullable: true
      - examples:
          Successful CreateImageRegions request:
            value: "{API Key}"
          Successful CreateImageTags request:
            value: "{API Key}"
          Successful CreateImagesFromData request:
            value: "{API Key}"
          Successful CreateImagesFromFiles request:
            value: "{API Key}"
          Successful CreateImagesFromPredictions request:
            value: "{API Key}"
          Successful CreateImagesFromUrls request:
            value: "{API Key}"
          Successful CreateProject request:
            value: "{API Key}"
          Successful CreateTag request:
            value: "{API Key}"
          Successful DeleteImageRegions request:
            value: "{API Key}"
          Successful DeleteImageTags request:
            value: "{API Key}"
          Successful DeleteImages request:
            value: "{API Key}"
          Successful DeleteIteration request:
            value: "{API Key}"
          Successful DeletePrediction request:
            value: "{API Key}"
          Successful DeleteProject request:
            value: "{API Key}"
          Successful DeleteTag request:
            value: "{API Key}"
          Successful ExportIteration request:
            value: "{API Key}"
          Successful GetDomain request:
            value: "{API Key}"
          Successful GetDomains request:
            value: "{API Key}"
          Successful GetExports request:
            value: "{API Key}"
          Successful GetImagePerformanceCount request:
            value: "{API Key}"
          Successful GetImagePerformances request:
            value: "{API Key}"
          Successful GetImageRegionProposals request:
            value: "{API Key}"
          Successful GetImagesByIds request:
            value: "{API Key}"
          Successful GetIteration request:
            value: "{API Key}"
          Successful GetIterationPerformance request:
            value: "{API Key}"
          Successful GetIterations request:
            value: "{API Key}"
          Successful GetProject request:
            value: "{API Key}"
          Successful GetProjects request:
            value: "{API Key}"
          Successful GetTag request:
            value: "{API Key}"
          Successful GetTaggedImageCount request:
            value: "{API Key}"
          Successful GetTaggedImages request:
            value: "{API Key}"
          Successful GetTags request:
            value: "{API Key}"
          Successful GetUntaggedImageCount request:
            value: "{API Key}"
          Successful GetUntaggedImages request:
            value: "{API Key}"
          Successful QueryPredictions request:
            value: "{API Key}"
          Successful QuickTestImage request:
            value: "{API Key}"
          Successful QuickTestImageUrl request:
            value: "{API Key}"
          Successful TrainProject request:
            value: "{API Key}"
          Successful UpdateIteration request:
            value: "{API Key}"
          Successful UpdateProject request:
            value: "{API Key}"
          Successful UpdateTag request:
            value: "{API Key}"
        explode: false
        in: header
        name: Training-Key
        required: true
        schema:
          type: string
        style: simple
        x-ms-client-name: ApiKey
        x-ms-parameter-location: client
      requestBody:
        $ref: '#/components/requestBodies/CreateImagesFromData'
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful CreateImagesFromData request:
                  $ref: '#/components/examples/Successful_CreateImagesFromData_request'
              schema:
                $ref: '#/components/schemas/ImageCreateSummary'
            application/xml:
              examples:
                Successful CreateImagesFromData request:
                  $ref: '#/components/examples/Successful_CreateImagesFromData_request'
              schema:
                $ref: '#/components/schemas/ImageCreateSummary'
            text/json:
              examples:
                Successful CreateImagesFromData request:
                  $ref: '#/components/examples/Successful_CreateImagesFromData_request'
              schema:
                $ref: '#/components/schemas/ImageCreateSummary'
            text/xml:
              examples:
                Successful CreateImagesFromData request:
                  $ref: '#/components/examples/Successful_CreateImagesFromData_request'
              schema:
                $ref: '#/components/schemas/ImageCreateSummary'
          description: OK
      summary: Add the provided images to the set of training images
      tags:
      - ImageApi
      x-content-type: multipart/form-data
      x-accepts:
      - application/json
      - application/xml
      - text/json
      - text/xml
  /projects/{projectId}/images/files:
    post:
      description: "This API accepts a batch of files, and optionally tags, to create\
        \ images. There is a limit of 64 images and 20 tags."
      operationId: CreateImagesFromFiles
      parameters:
      - description: The project id
        examples:
          Successful CreateImagesFromFiles request:
            value: 64b822c5-8082-4b36-a426-27225f4aa18c
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
        x-nullable: false
      - examples:
          Successful CreateImageRegions request:
            value: "{API Key}"
          Successful CreateImageTags request:
            value: "{API Key}"
          Successful CreateImagesFromData request:
            value: "{API Key}"
          Successful CreateImagesFromFiles request:
            value: "{API Key}"
          Successful CreateImagesFromPredictions request:
            value: "{API Key}"
          Successful CreateImagesFromUrls request:
            value: "{API Key}"
          Successful CreateProject request:
            value: "{API Key}"
          Successful CreateTag request:
            value: "{API Key}"
          Successful DeleteImageRegions request:
            value: "{API Key}"
          Successful DeleteImageTags request:
            value: "{API Key}"
          Successful DeleteImages request:
            value: "{API Key}"
          Successful DeleteIteration request:
            value: "{API Key}"
          Successful DeletePrediction request:
            value: "{API Key}"
          Successful DeleteProject request:
            value: "{API Key}"
          Successful DeleteTag request:
            value: "{API Key}"
          Successful ExportIteration request:
            value: "{API Key}"
          Successful GetDomain request:
            value: "{API Key}"
          Successful GetDomains request:
            value: "{API Key}"
          Successful GetExports request:
            value: "{API Key}"
          Successful GetImagePerformanceCount request:
            value: "{API Key}"
          Successful GetImagePerformances request:
            value: "{API Key}"
          Successful GetImageRegionProposals request:
            value: "{API Key}"
          Successful GetImagesByIds request:
            value: "{API Key}"
          Successful GetIteration request:
            value: "{API Key}"
          Successful GetIterationPerformance request:
            value: "{API Key}"
          Successful GetIterations request:
            value: "{API Key}"
          Successful GetProject request:
            value: "{API Key}"
          Successful GetProjects request:
            value: "{API Key}"
          Successful GetTag request:
            value: "{API Key}"
          Successful GetTaggedImageCount request:
            value: "{API Key}"
          Successful GetTaggedImages request:
            value: "{API Key}"
          Successful GetTags request:
            value: "{API Key}"
          Successful GetUntaggedImageCount request:
            value: "{API Key}"
          Successful GetUntaggedImages request:
            value: "{API Key}"
          Successful QueryPredictions request:
            value: "{API Key}"
          Successful QuickTestImage request:
            value: "{API Key}"
          Successful QuickTestImageUrl request:
            value: "{API Key}"
          Successful TrainProject request:
            value: "{API Key}"
          Successful UpdateIteration request:
            value: "{API Key}"
          Successful UpdateProject request:
            value: "{API Key}"
          Successful UpdateTag request:
            value: "{API Key}"
        explode: false
        in: header
        name: Training-Key
        required: true
        schema:
          type: string
        style: simple
        x-ms-client-name: ApiKey
        x-ms-parameter-location: client
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImageFileCreateBatch'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ImageFileCreateBatch'
          application/xml:
            schema:
              $ref: '#/components/schemas/ImageFileCreateBatch'
          text/json:
            schema:
              $ref: '#/components/schemas/ImageFileCreateBatch'
          text/xml:
            schema:
              $ref: '#/components/schemas/ImageFileCreateBatch'
        description: The batch of image files to add. Limited to 64 images and 20
          tags per batch
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful CreateImagesFromFiles request:
                  $ref: '#/components/examples/Successful_CreateImagesFromFiles_request'
              schema:
                $ref: '#/components/schemas/ImageCreateSummary'
            application/xml:
              examples:
                Successful CreateImagesFromFiles request:
                  $ref: '#/components/examples/Successful_CreateImagesFromFiles_request'
              schema:
                $ref: '#/components/schemas/ImageCreateSummary'
            text/json:
              examples:
                Successful CreateImagesFromFiles request:
                  $ref: '#/components/examples/Successful_CreateImagesFromFiles_request'
              schema:
                $ref: '#/components/schemas/ImageCreateSummary'
            text/xml:
              examples:
                Successful CreateImagesFromFiles request:
                  $ref: '#/components/examples/Successful_CreateImagesFromFiles_request'
              schema:
                $ref: '#/components/schemas/ImageCreateSummary'
          description: OK
      summary: Add the provided batch of images to the set of training images
      tags:
      - ImageApi
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/xml
      - text/json
      - text/xml
  /projects/{projectId}/images/id:
    get:
      description: "This API will return a set of Images for the specified tags and\
        \ optionally iteration. If no iteration is specified the\r\ncurrent workspace\
        \ is used."
      operationId: GetImagesByIds
      parameters:
      - description: The project id
        examples:
          Successful GetImagesByIds request:
            value: bc3f7dad-5544-468c-8573-3ef04d55463e
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
        x-nullable: false
      - description: The list of image ids to retrieve. Limited to 256
        explode: false
        in: query
        name: imageIds
        required: false
        schema:
          items:
            nullable: false
            type: string
          type: array
        style: form
        x-nullable: true
      - description: The iteration id. Defaults to workspace
        examples:
          Successful GetImagesByIds request:
            value: cf0f83fb-ebaa-4b25-8e34-613a6a0b8a12
        explode: true
        in: query
        name: iterationId
        required: false
        schema:
          format: uuid
          type: string
        style: form
        x-nullable: true
      - examples:
          Successful CreateImageRegions request:
            value: "{API Key}"
          Successful CreateImageTags request:
            value: "{API Key}"
          Successful CreateImagesFromData request:
            value: "{API Key}"
          Successful CreateImagesFromFiles request:
            value: "{API Key}"
          Successful CreateImagesFromPredictions request:
            value: "{API Key}"
          Successful CreateImagesFromUrls request:
            value: "{API Key}"
          Successful CreateProject request:
            value: "{API Key}"
          Successful CreateTag request:
            value: "{API Key}"
          Successful DeleteImageRegions request:
            value: "{API Key}"
          Successful DeleteImageTags request:
            value: "{API Key}"
          Successful DeleteImages request:
            value: "{API Key}"
          Successful DeleteIteration request:
            value: "{API Key}"
          Successful DeletePrediction request:
            value: "{API Key}"
          Successful DeleteProject request:
            value: "{API Key}"
          Successful DeleteTag request:
            value: "{API Key}"
          Successful ExportIteration request:
            value: "{API Key}"
          Successful GetDomain request:
            value: "{API Key}"
          Successful GetDomains request:
            value: "{API Key}"
          Successful GetExports request:
            value: "{API Key}"
          Successful GetImagePerformanceCount request:
            value: "{API Key}"
          Successful GetImagePerformances request:
            value: "{API Key}"
          Successful GetImageRegionProposals request:
            value: "{API Key}"
          Successful GetImagesByIds request:
            value: "{API Key}"
          Successful GetIteration request:
            value: "{API Key}"
          Successful GetIterationPerformance request:
            value: "{API Key}"
          Successful GetIterations request:
            value: "{API Key}"
          Successful GetProject request:
            value: "{API Key}"
          Successful GetProjects request:
            value: "{API Key}"
          Successful GetTag request:
            value: "{API Key}"
          Successful GetTaggedImageCount request:
            value: "{API Key}"
          Successful GetTaggedImages request:
            value: "{API Key}"
          Successful GetTags request:
            value: "{API Key}"
          Successful GetUntaggedImageCount request:
            value: "{API Key}"
          Successful GetUntaggedImages request:
            value: "{API Key}"
          Successful QueryPredictions request:
            value: "{API Key}"
          Successful QuickTestImage request:
            value: "{API Key}"
          Successful QuickTestImageUrl request:
            value: "{API Key}"
          Successful TrainProject request:
            value: "{API Key}"
          Successful UpdateIteration request:
            value: "{API Key}"
          Successful UpdateProject request:
            value: "{API Key}"
          Successful UpdateTag request:
            value: "{API Key}"
        explode: false
        in: header
        name: Training-Key
        required: true
        schema:
          type: string
        style: simple
        x-ms-client-name: ApiKey
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful GetImagesByIds request:
                  $ref: '#/components/examples/Successful_GetImagesByIds_request'
              schema:
                items:
                  $ref: '#/components/schemas/Image'
                nullable: true
                type: array
            application/xml:
              examples:
                Successful GetImagesByIds request:
                  $ref: '#/components/examples/Successful_GetImagesByIds_request'
              schema:
                items:
                  $ref: '#/components/schemas/Image'
                nullable: true
                type: array
            text/json:
              examples:
                Successful GetImagesByIds request:
                  $ref: '#/components/examples/Successful_GetImagesByIds_request'
              schema:
                items:
                  $ref: '#/components/schemas/Image'
                nullable: true
                type: array
            text/xml:
              examples:
                Successful GetImagesByIds request:
                  $ref: '#/components/examples/Successful_GetImagesByIds_request'
              schema:
                items:
                  $ref: '#/components/schemas/Image'
                nullable: true
                type: array
          description: OK
      summary: Get images by id for a given project iteration
      tags:
      - ImageApi
      x-accepts:
      - application/json
      - application/xml
      - text/json
      - text/xml
  /projects/{projectId}/images/predictions:
    post:
      description: This API creates a batch of images from predicted images specified.
        There is a limit of 64 images and 20 tags.
      operationId: CreateImagesFromPredictions
      parameters:
      - description: The project id
        examples:
          Successful CreateImagesFromPredictions request:
            value: 64b822c5-8082-4b36-a426-27225f4aa18c
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
        x-nullable: false
      - examples:
          Successful CreateImageRegions request:
            value: "{API Key}"
          Successful CreateImageTags request:
            value: "{API Key}"
          Successful CreateImagesFromData request:
            value: "{API Key}"
          Successful CreateImagesFromFiles request:
            value: "{API Key}"
          Successful CreateImagesFromPredictions request:
            value: "{API Key}"
          Successful CreateImagesFromUrls request:
            value: "{API Key}"
          Successful CreateProject request:
            value: "{API Key}"
          Successful CreateTag request:
            value: "{API Key}"
          Successful DeleteImageRegions request:
            value: "{API Key}"
          Successful DeleteImageTags request:
            value: "{API Key}"
          Successful DeleteImages request:
            value: "{API Key}"
          Successful DeleteIteration request:
            value: "{API Key}"
          Successful DeletePrediction request:
            value: "{API Key}"
          Successful DeleteProject request:
            value: "{API Key}"
          Successful DeleteTag request:
            value: "{API Key}"
          Successful ExportIteration request:
            value: "{API Key}"
          Successful GetDomain request:
            value: "{API Key}"
          Successful GetDomains request:
            value: "{API Key}"
          Successful GetExports request:
            value: "{API Key}"
          Successful GetImagePerformanceCount request:
            value: "{API Key}"
          Successful GetImagePerformances request:
            value: "{API Key}"
          Successful GetImageRegionProposals request:
            value: "{API Key}"
          Successful GetImagesByIds request:
            value: "{API Key}"
          Successful GetIteration request:
            value: "{API Key}"
          Successful GetIterationPerformance request:
            value: "{API Key}"
          Successful GetIterations request:
            value: "{API Key}"
          Successful GetProject request:
            value: "{API Key}"
          Successful GetProjects request:
            value: "{API Key}"
          Successful GetTag request:
            value: "{API Key}"
          Successful GetTaggedImageCount request:
            value: "{API Key}"
          Successful GetTaggedImages request:
            value: "{API Key}"
          Successful GetTags request:
            value: "{API Key}"
          Successful GetUntaggedImageCount request:
            value: "{API Key}"
          Successful GetUntaggedImages request:
            value: "{API Key}"
          Successful QueryPredictions request:
            value: "{API Key}"
          Successful QuickTestImage request:
            value: "{API Key}"
          Successful QuickTestImageUrl request:
            value: "{API Key}"
          Successful TrainProject request:
            value: "{API Key}"
          Successful UpdateIteration request:
            value: "{API Key}"
          Successful UpdateProject request:
            value: "{API Key}"
          Successful UpdateTag request:
            value: "{API Key}"
        explode: false
        in: header
        name: Training-Key
        required: true
        schema:
          type: string
        style: simple
        x-ms-client-name: ApiKey
        x-ms-parameter-location: client
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImageIdCreateBatch'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ImageIdCreateBatch'
          application/xml:
            schema:
              $ref: '#/components/schemas/ImageIdCreateBatch'
          text/json:
            schema:
              $ref: '#/components/schemas/ImageIdCreateBatch'
          text/xml:
            schema:
              $ref: '#/components/schemas/ImageIdCreateBatch'
        description: Image and tag ids. Limited to 64 images and 20 tags per batch
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful CreateImagesFromPredictions request:
                  $ref: '#/components/examples/Successful_CreateImagesFromPredictions_request'
              schema:
                $ref: '#/components/schemas/ImageCreateSummary'
            application/xml:
              examples:
                Successful CreateImagesFromPredictions request:
                  $ref: '#/components/examples/Successful_CreateImagesFromPredictions_request'
              schema:
                $ref: '#/components/schemas/ImageCreateSummary'
            text/json:
              examples:
                Successful CreateImagesFromPredictions request:
                  $ref: '#/components/examples/Successful_CreateImagesFromPredictions_request'
              schema:
                $ref: '#/components/schemas/ImageCreateSummary'
            text/xml:
              examples:
                Successful CreateImagesFromPredictions request:
                  $ref: '#/components/examples/Successful_CreateImagesFromPredictions_request'
              schema:
                $ref: '#/components/schemas/ImageCreateSummary'
          description: OK
      summary: Add the specified predicted images to the set of training images
      tags:
      - ImageApi
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/xml
      - text/json
      - text/xml
  /projects/{projectId}/images/regions:
    delete:
      operationId: DeleteImageRegions
      parameters:
      - description: The project id
        examples:
          Successful DeleteImageRegions request:
            value: bc3f7dad-5544-468c-8573-3ef04d55463e
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
        x-nullable: false
      - description: Regions to delete. Limited to 64
        examples:
          Successful DeleteImageRegions request:
            value:
            - ""
        explode: false
        in: query
        name: regionIds
        required: true
        schema:
          items:
            nullable: false
            type: string
          type: array
        style: form
        x-nullable: true
      - examples:
          Successful CreateImageRegions request:
            value: "{API Key}"
          Successful CreateImageTags request:
            value: "{API Key}"
          Successful CreateImagesFromData request:
            value: "{API Key}"
          Successful CreateImagesFromFiles request:
            value: "{API Key}"
          Successful CreateImagesFromPredictions request:
            value: "{API Key}"
          Successful CreateImagesFromUrls request:
            value: "{API Key}"
          Successful CreateProject request:
            value: "{API Key}"
          Successful CreateTag request:
            value: "{API Key}"
          Successful DeleteImageRegions request:
            value: "{API Key}"
          Successful DeleteImageTags request:
            value: "{API Key}"
          Successful DeleteImages request:
            value: "{API Key}"
          Successful DeleteIteration request:
            value: "{API Key}"
          Successful DeletePrediction request:
            value: "{API Key}"
          Successful DeleteProject request:
            value: "{API Key}"
          Successful DeleteTag request:
            value: "{API Key}"
          Successful ExportIteration request:
            value: "{API Key}"
          Successful GetDomain request:
            value: "{API Key}"
          Successful GetDomains request:
            value: "{API Key}"
          Successful GetExports request:
            value: "{API Key}"
          Successful GetImagePerformanceCount request:
            value: "{API Key}"
          Successful GetImagePerformances request:
            value: "{API Key}"
          Successful GetImageRegionProposals request:
            value: "{API Key}"
          Successful GetImagesByIds request:
            value: "{API Key}"
          Successful GetIteration request:
            value: "{API Key}"
          Successful GetIterationPerformance request:
            value: "{API Key}"
          Successful GetIterations request:
            value: "{API Key}"
          Successful GetProject request:
            value: "{API Key}"
          Successful GetProjects request:
            value: "{API Key}"
          Successful GetTag request:
            value: "{API Key}"
          Successful GetTaggedImageCount request:
            value: "{API Key}"
          Successful GetTaggedImages request:
            value: "{API Key}"
          Successful GetTags request:
            value: "{API Key}"
          Successful GetUntaggedImageCount request:
            value: "{API Key}"
          Successful GetUntaggedImages request:
            value: "{API Key}"
          Successful QueryPredictions request:
            value: "{API Key}"
          Successful QuickTestImage request:
            value: "{API Key}"
          Successful QuickTestImageUrl request:
            value: "{API Key}"
          Successful TrainProject request:
            value: "{API Key}"
          Successful UpdateIteration request:
            value: "{API Key}"
          Successful UpdateProject request:
            value: "{API Key}"
          Successful UpdateTag request:
            value: "{API Key}"
        explode: false
        in: header
        name: Training-Key
        required: true
        schema:
          type: string
        style: simple
        x-ms-client-name: ApiKey
        x-ms-parameter-location: client
      responses:
        "204":
          description: No Content
      summary: Delete a set of image regions
      tags:
      - ImageApi
      x-accepts:
      - application/json
    post:
      description: "This API accepts a batch of image regions, and optionally tags,\
        \ to update existing images with region information.\r\nThere is a limit of\
        \ 64 entries in the batch."
      operationId: CreateImageRegions
      parameters:
      - description: The project id
        examples:
          Successful CreateImageRegions request:
            value: bc3f7dad-5544-468c-8573-3ef04d55463e
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
        x-nullable: false
      - examples:
          Successful CreateImageRegions request:
            value: "{API Key}"
          Successful CreateImageTags request:
            value: "{API Key}"
          Successful CreateImagesFromData request:
            value: "{API Key}"
          Successful CreateImagesFromFiles request:
            value: "{API Key}"
          Successful CreateImagesFromPredictions request:
            value: "{API Key}"
          Successful CreateImagesFromUrls request:
            value: "{API Key}"
          Successful CreateProject request:
            value: "{API Key}"
          Successful CreateTag request:
            value: "{API Key}"
          Successful DeleteImageRegions request:
            value: "{API Key}"
          Successful DeleteImageTags request:
            value: "{API Key}"
          Successful DeleteImages request:
            value: "{API Key}"
          Successful DeleteIteration request:
            value: "{API Key}"
          Successful DeletePrediction request:
            value: "{API Key}"
          Successful DeleteProject request:
            value: "{API Key}"
          Successful DeleteTag request:
            value: "{API Key}"
          Successful ExportIteration request:
            value: "{API Key}"
          Successful GetDomain request:
            value: "{API Key}"
          Successful GetDomains request:
            value: "{API Key}"
          Successful GetExports request:
            value: "{API Key}"
          Successful GetImagePerformanceCount request:
            value: "{API Key}"
          Successful GetImagePerformances request:
            value: "{API Key}"
          Successful GetImageRegionProposals request:
            value: "{API Key}"
          Successful GetImagesByIds request:
            value: "{API Key}"
          Successful GetIteration request:
            value: "{API Key}"
          Successful GetIterationPerformance request:
            value: "{API Key}"
          Successful GetIterations request:
            value: "{API Key}"
          Successful GetProject request:
            value: "{API Key}"
          Successful GetProjects request:
            value: "{API Key}"
          Successful GetTag request:
            value: "{API Key}"
          Successful GetTaggedImageCount request:
            value: "{API Key}"
          Successful GetTaggedImages request:
            value: "{API Key}"
          Successful GetTags request:
            value: "{API Key}"
          Successful GetUntaggedImageCount request:
            value: "{API Key}"
          Successful GetUntaggedImages request:
            value: "{API Key}"
          Successful QueryPredictions request:
            value: "{API Key}"
          Successful QuickTestImage request:
            value: "{API Key}"
          Successful QuickTestImageUrl request:
            value: "{API Key}"
          Successful TrainProject request:
            value: "{API Key}"
          Successful UpdateIteration request:
            value: "{API Key}"
          Successful UpdateProject request:
            value: "{API Key}"
          Successful UpdateTag request:
            value: "{API Key}"
        explode: false
        in: header
        name: Training-Key
        required: true
        schema:
          type: string
        style: simple
        x-ms-client-name: ApiKey
        x-ms-parameter-location: client
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImageRegionCreateBatch'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ImageRegionCreateBatch'
          application/xml:
            schema:
              $ref: '#/components/schemas/ImageRegionCreateBatch'
          text/json:
            schema:
              $ref: '#/components/schemas/ImageRegionCreateBatch'
          text/xml:
            schema:
              $ref: '#/components/schemas/ImageRegionCreateBatch'
        description: Batch of image regions which include a tag and bounding box.
          Limited to 64
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful CreateImageRegions request:
                  $ref: '#/components/examples/Successful_CreateImageRegions_request'
              schema:
                $ref: '#/components/schemas/ImageRegionCreateSummary'
            application/xml:
              examples:
                Successful CreateImageRegions request:
                  $ref: '#/components/examples/Successful_CreateImageRegions_request'
              schema:
                $ref: '#/components/schemas/ImageRegionCreateSummary'
            text/json:
              examples:
                Successful CreateImageRegions request:
                  $ref: '#/components/examples/Successful_CreateImageRegions_request'
              schema:
                $ref: '#/components/schemas/ImageRegionCreateSummary'
            text/xml:
              examples:
                Successful CreateImageRegions request:
                  $ref: '#/components/examples/Successful_CreateImageRegions_request'
              schema:
                $ref: '#/components/schemas/ImageRegionCreateSummary'
          description: OK
      summary: Create a set of image regions
      tags:
      - ImageApi
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/xml
      - text/json
      - text/xml
  /projects/{projectId}/images/tagged:
    get:
      description: "This API supports batching and range selection. By default it\
        \ will only return first 50 images matching images.\r\nUse the {take} and\
        \ {skip} parameters to control how many images to return in a given batch.\r\
        \nThe filtering is on an and/or relationship. For example, if the provided\
        \ tag ids are for the \"Dog\" and\r\n\"Cat\" tags, then only images tagged\
        \ with Dog and/or Cat will be returned"
      operationId: GetTaggedImages
      parameters:
      - description: The project id
        examples:
          Successful GetTaggedImages request:
            value: bc3f7dad-5544-468c-8573-3ef04d55463e
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
        x-nullable: false
      - description: The iteration id. Defaults to workspace
        examples:
          Successful GetTaggedImages request:
            value: cf0f83fb-ebaa-4b25-8e34-613a6a0b8a12
        explode: true
        in: query
        name: iterationId
        required: false
        schema:
          format: uuid
          type: string
        style: form
        x-nullable: true
      - description: A list of tags ids to filter the images. Defaults to all tagged
          images when null. Limited to 20
        explode: false
        in: query
        name: tagIds
        required: false
        schema:
          items:
            nullable: false
            type: string
          type: array
        style: form
        x-nullable: true
      - description: The ordering. Defaults to newest
        explode: true
        in: query
        name: orderBy
        required: false
        schema:
          enum:
          - Newest
          - Oldest
          type: string
        style: form
        x-nullable: false
      - description: "Maximum number of images to return. Defaults to 50, limited\
          \ to 256"
        explode: true
        in: query
        name: take
        required: false
        schema:
          default: 50
          format: int32
          type: integer
        style: form
      - description: Number of images to skip before beginning the image batch. Defaults
          to 0
        explode: true
        in: query
        name: skip
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
      - examples:
          Successful CreateImageRegions request:
            value: "{API Key}"
          Successful CreateImageTags request:
            value: "{API Key}"
          Successful CreateImagesFromData request:
            value: "{API Key}"
          Successful CreateImagesFromFiles request:
            value: "{API Key}"
          Successful CreateImagesFromPredictions request:
            value: "{API Key}"
          Successful CreateImagesFromUrls request:
            value: "{API Key}"
          Successful CreateProject request:
            value: "{API Key}"
          Successful CreateTag request:
            value: "{API Key}"
          Successful DeleteImageRegions request:
            value: "{API Key}"
          Successful DeleteImageTags request:
            value: "{API Key}"
          Successful DeleteImages request:
            value: "{API Key}"
          Successful DeleteIteration request:
            value: "{API Key}"
          Successful DeletePrediction request:
            value: "{API Key}"
          Successful DeleteProject request:
            value: "{API Key}"
          Successful DeleteTag request:
            value: "{API Key}"
          Successful ExportIteration request:
            value: "{API Key}"
          Successful GetDomain request:
            value: "{API Key}"
          Successful GetDomains request:
            value: "{API Key}"
          Successful GetExports request:
            value: "{API Key}"
          Successful GetImagePerformanceCount request:
            value: "{API Key}"
          Successful GetImagePerformances request:
            value: "{API Key}"
          Successful GetImageRegionProposals request:
            value: "{API Key}"
          Successful GetImagesByIds request:
            value: "{API Key}"
          Successful GetIteration request:
            value: "{API Key}"
          Successful GetIterationPerformance request:
            value: "{API Key}"
          Successful GetIterations request:
            value: "{API Key}"
          Successful GetProject request:
            value: "{API Key}"
          Successful GetProjects request:
            value: "{API Key}"
          Successful GetTag request:
            value: "{API Key}"
          Successful GetTaggedImageCount request:
            value: "{API Key}"
          Successful GetTaggedImages request:
            value: "{API Key}"
          Successful GetTags request:
            value: "{API Key}"
          Successful GetUntaggedImageCount request:
            value: "{API Key}"
          Successful GetUntaggedImages request:
            value: "{API Key}"
          Successful QueryPredictions request:
            value: "{API Key}"
          Successful QuickTestImage request:
            value: "{API Key}"
          Successful QuickTestImageUrl request:
            value: "{API Key}"
          Successful TrainProject request:
            value: "{API Key}"
          Successful UpdateIteration request:
            value: "{API Key}"
          Successful UpdateProject request:
            value: "{API Key}"
          Successful UpdateTag request:
            value: "{API Key}"
        explode: false
        in: header
        name: Training-Key
        required: true
        schema:
          type: string
        style: simple
        x-ms-client-name: ApiKey
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful GetTaggedImages request:
                  $ref: '#/components/examples/Successful_GetTaggedImages_request'
              schema:
                items:
                  $ref: '#/components/schemas/Image'
                nullable: true
                type: array
            application/xml:
              examples:
                Successful GetTaggedImages request:
                  $ref: '#/components/examples/Successful_GetTaggedImages_request'
              schema:
                items:
                  $ref: '#/components/schemas/Image'
                nullable: true
                type: array
            text/json:
              examples:
                Successful GetTaggedImages request:
                  $ref: '#/components/examples/Successful_GetTaggedImages_request'
              schema:
                items:
                  $ref: '#/components/schemas/Image'
                nullable: true
                type: array
            text/xml:
              examples:
                Successful GetTaggedImages request:
                  $ref: '#/components/examples/Successful_GetTaggedImages_request'
              schema:
                items:
                  $ref: '#/components/schemas/Image'
                nullable: true
                type: array
          description: OK
      summary: Get tagged images for a given project iteration
      tags:
      - ImageApi
      x-accepts:
      - application/json
      - application/xml
      - text/json
      - text/xml
  /projects/{projectId}/images/tagged/count:
    get:
      description: "The filtering is on an and/or relationship. For example, if the\
        \ provided tag ids are for the \"Dog\" and\r\n\"Cat\" tags, then only images\
        \ tagged with Dog and/or Cat will be returned"
      operationId: GetTaggedImageCount
      parameters:
      - description: The project id
        examples:
          Successful GetTaggedImageCount request:
            value: bc3f7dad-5544-468c-8573-3ef04d55463e
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
        x-nullable: false
      - description: The iteration id. Defaults to workspace
        examples:
          Successful GetTaggedImageCount request:
            value: cf0f83fb-ebaa-4b25-8e34-613a6a0b8a12
        explode: true
        in: query
        name: iterationId
        required: false
        schema:
          format: uuid
          type: string
        style: form
        x-nullable: true
      - description: A list of tags ids to filter the images to count. Defaults to
          all tags when null.
        explode: false
        in: query
        name: tagIds
        required: false
        schema:
          items:
            nullable: false
            type: string
          type: array
        style: form
        x-nullable: true
      - examples:
          Successful CreateImageRegions request:
            value: "{API Key}"
          Successful CreateImageTags request:
            value: "{API Key}"
          Successful CreateImagesFromData request:
            value: "{API Key}"
          Successful CreateImagesFromFiles request:
            value: "{API Key}"
          Successful CreateImagesFromPredictions request:
            value: "{API Key}"
          Successful CreateImagesFromUrls request:
            value: "{API Key}"
          Successful CreateProject request:
            value: "{API Key}"
          Successful CreateTag request:
            value: "{API Key}"
          Successful DeleteImageRegions request:
            value: "{API Key}"
          Successful DeleteImageTags request:
            value: "{API Key}"
          Successful DeleteImages request:
            value: "{API Key}"
          Successful DeleteIteration request:
            value: "{API Key}"
          Successful DeletePrediction request:
            value: "{API Key}"
          Successful DeleteProject request:
            value: "{API Key}"
          Successful DeleteTag request:
            value: "{API Key}"
          Successful ExportIteration request:
            value: "{API Key}"
          Successful GetDomain request:
            value: "{API Key}"
          Successful GetDomains request:
            value: "{API Key}"
          Successful GetExports request:
            value: "{API Key}"
          Successful GetImagePerformanceCount request:
            value: "{API Key}"
          Successful GetImagePerformances request:
            value: "{API Key}"
          Successful GetImageRegionProposals request:
            value: "{API Key}"
          Successful GetImagesByIds request:
            value: "{API Key}"
          Successful GetIteration request:
            value: "{API Key}"
          Successful GetIterationPerformance request:
            value: "{API Key}"
          Successful GetIterations request:
            value: "{API Key}"
          Successful GetProject request:
            value: "{API Key}"
          Successful GetProjects request:
            value: "{API Key}"
          Successful GetTag request:
            value: "{API Key}"
          Successful GetTaggedImageCount request:
            value: "{API Key}"
          Successful GetTaggedImages request:
            value: "{API Key}"
          Successful GetTags request:
            value: "{API Key}"
          Successful GetUntaggedImageCount request:
            value: "{API Key}"
          Successful GetUntaggedImages request:
            value: "{API Key}"
          Successful QueryPredictions request:
            value: "{API Key}"
          Successful QuickTestImage request:
            value: "{API Key}"
          Successful QuickTestImageUrl request:
            value: "{API Key}"
          Successful TrainProject request:
            value: "{API Key}"
          Successful UpdateIteration request:
            value: "{API Key}"
          Successful UpdateProject request:
            value: "{API Key}"
          Successful UpdateTag request:
            value: "{API Key}"
        explode: false
        in: header
        name: Training-Key
        required: true
        schema:
          type: string
        style: simple
        x-ms-client-name: ApiKey
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful GetTaggedImageCount request:
                  $ref: '#/components/examples/Successful_GetTaggedImageCount_request'
              schema:
                format: int32
                nullable: false
                type: integer
            application/xml:
              examples:
                Successful GetTaggedImageCount request:
                  $ref: '#/components/examples/Successful_GetTaggedImageCount_request'
              schema:
                format: int32
                nullable: false
                type: integer
            text/json:
              examples:
                Successful GetTaggedImageCount request:
                  $ref: '#/components/examples/Successful_GetTaggedImageCount_request'
              schema:
                format: int32
                nullable: false
                type: integer
            text/xml:
              examples:
                Successful GetTaggedImageCount request:
                  $ref: '#/components/examples/Successful_GetTaggedImageCount_request'
              schema:
                format: int32
                nullable: false
                type: integer
          description: OK
      summary: "Gets the number of images tagged with the provided {tagIds}"
      tags:
      - ImageApi
      x-accepts:
      - application/json
      - application/xml
      - text/json
      - text/xml
  /projects/{projectId}/images/tags:
    delete:
      operationId: DeleteImageTags
      parameters:
      - description: The project id
        examples:
          Successful DeleteImageTags request:
            value: 64b822c5-8082-4b36-a426-27225f4aa18c
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
        x-nullable: false
      - description: Image ids. Limited to 64 images
        examples:
          Successful DeleteImageTags request:
            value:
            - e31a14ab-5d78-4f7b-a267-3a1e4fd8a758
            - cf0f83fb-ebaa-4b25-8e34-613a6a0b8a12
        explode: false
        in: query
        name: imageIds
        required: true
        schema:
          items:
            nullable: false
            type: string
          type: array
        style: form
        x-nullable: true
      - description: Tags to be deleted from the specified images. Limited to 20 tags
        examples:
          Successful DeleteImageTags request:
            value:
            - e31a14ab-5d78-4f7b-a267-3a1e4fd8a758
            - cf0f83fb-ebaa-4b25-8e34-613a6a0b8a12
        explode: false
        in: query
        name: tagIds
        required: true
        schema:
          items:
            nullable: false
            type: string
          type: array
        style: form
        x-nullable: true
      - examples:
          Successful CreateImageRegions request:
            value: "{API Key}"
          Successful CreateImageTags request:
            value: "{API Key}"
          Successful CreateImagesFromData request:
            value: "{API Key}"
          Successful CreateImagesFromFiles request:
            value: "{API Key}"
          Successful CreateImagesFromPredictions request:
            value: "{API Key}"
          Successful CreateImagesFromUrls request:
            value: "{API Key}"
          Successful CreateProject request:
            value: "{API Key}"
          Successful CreateTag request:
            value: "{API Key}"
          Successful DeleteImageRegions request:
            value: "{API Key}"
          Successful DeleteImageTags request:
            value: "{API Key}"
          Successful DeleteImages request:
            value: "{API Key}"
          Successful DeleteIteration request:
            value: "{API Key}"
          Successful DeletePrediction request:
            value: "{API Key}"
          Successful DeleteProject request:
            value: "{API Key}"
          Successful DeleteTag request:
            value: "{API Key}"
          Successful ExportIteration request:
            value: "{API Key}"
          Successful GetDomain request:
            value: "{API Key}"
          Successful GetDomains request:
            value: "{API Key}"
          Successful GetExports request:
            value: "{API Key}"
          Successful GetImagePerformanceCount request:
            value: "{API Key}"
          Successful GetImagePerformances request:
            value: "{API Key}"
          Successful GetImageRegionProposals request:
            value: "{API Key}"
          Successful GetImagesByIds request:
            value: "{API Key}"
          Successful GetIteration request:
            value: "{API Key}"
          Successful GetIterationPerformance request:
            value: "{API Key}"
          Successful GetIterations request:
            value: "{API Key}"
          Successful GetProject request:
            value: "{API Key}"
          Successful GetProjects request:
            value: "{API Key}"
          Successful GetTag request:
            value: "{API Key}"
          Successful GetTaggedImageCount request:
            value: "{API Key}"
          Successful GetTaggedImages request:
            value: "{API Key}"
          Successful GetTags request:
            value: "{API Key}"
          Successful GetUntaggedImageCount request:
            value: "{API Key}"
          Successful GetUntaggedImages request:
            value: "{API Key}"
          Successful QueryPredictions request:
            value: "{API Key}"
          Successful QuickTestImage request:
            value: "{API Key}"
          Successful QuickTestImageUrl request:
            value: "{API Key}"
          Successful TrainProject request:
            value: "{API Key}"
          Successful UpdateIteration request:
            value: "{API Key}"
          Successful UpdateProject request:
            value: "{API Key}"
          Successful UpdateTag request:
            value: "{API Key}"
        explode: false
        in: header
        name: Training-Key
        required: true
        schema:
          type: string
        style: simple
        x-ms-client-name: ApiKey
        x-ms-parameter-location: client
      responses:
        "204":
          description: No Content
      summary: Remove a set of tags from a set of images
      tags:
      - ImageApi
      x-accepts:
      - application/json
    post:
      operationId: CreateImageTags
      parameters:
      - description: The project id
        examples:
          Successful CreateImageTags request:
            value: bc3f7dad-5544-468c-8573-3ef04d55463e
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
        x-nullable: false
      - examples:
          Successful CreateImageRegions request:
            value: "{API Key}"
          Successful CreateImageTags request:
            value: "{API Key}"
          Successful CreateImagesFromData request:
            value: "{API Key}"
          Successful CreateImagesFromFiles request:
            value: "{API Key}"
          Successful CreateImagesFromPredictions request:
            value: "{API Key}"
          Successful CreateImagesFromUrls request:
            value: "{API Key}"
          Successful CreateProject request:
            value: "{API Key}"
          Successful CreateTag request:
            value: "{API Key}"
          Successful DeleteImageRegions request:
            value: "{API Key}"
          Successful DeleteImageTags request:
            value: "{API Key}"
          Successful DeleteImages request:
            value: "{API Key}"
          Successful DeleteIteration request:
            value: "{API Key}"
          Successful DeletePrediction request:
            value: "{API Key}"
          Successful DeleteProject request:
            value: "{API Key}"
          Successful DeleteTag request:
            value: "{API Key}"
          Successful ExportIteration request:
            value: "{API Key}"
          Successful GetDomain request:
            value: "{API Key}"
          Successful GetDomains request:
            value: "{API Key}"
          Successful GetExports request:
            value: "{API Key}"
          Successful GetImagePerformanceCount request:
            value: "{API Key}"
          Successful GetImagePerformances request:
            value: "{API Key}"
          Successful GetImageRegionProposals request:
            value: "{API Key}"
          Successful GetImagesByIds request:
            value: "{API Key}"
          Successful GetIteration request:
            value: "{API Key}"
          Successful GetIterationPerformance request:
            value: "{API Key}"
          Successful GetIterations request:
            value: "{API Key}"
          Successful GetProject request:
            value: "{API Key}"
          Successful GetProjects request:
            value: "{API Key}"
          Successful GetTag request:
            value: "{API Key}"
          Successful GetTaggedImageCount request:
            value: "{API Key}"
          Successful GetTaggedImages request:
            value: "{API Key}"
          Successful GetTags request:
            value: "{API Key}"
          Successful GetUntaggedImageCount request:
            value: "{API Key}"
          Successful GetUntaggedImages request:
            value: "{API Key}"
          Successful QueryPredictions request:
            value: "{API Key}"
          Successful QuickTestImage request:
            value: "{API Key}"
          Successful QuickTestImageUrl request:
            value: "{API Key}"
          Successful TrainProject request:
            value: "{API Key}"
          Successful UpdateIteration request:
            value: "{API Key}"
          Successful UpdateProject request:
            value: "{API Key}"
          Successful UpdateTag request:
            value: "{API Key}"
        explode: false
        in: header
        name: Training-Key
        required: true
        schema:
          type: string
        style: simple
        x-ms-client-name: ApiKey
        x-ms-parameter-location: client
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImageTagCreateBatch'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ImageTagCreateBatch'
          application/xml:
            schema:
              $ref: '#/components/schemas/ImageTagCreateBatch'
          text/json:
            schema:
              $ref: '#/components/schemas/ImageTagCreateBatch'
          text/xml:
            schema:
              $ref: '#/components/schemas/ImageTagCreateBatch'
        description: Batch of image tags. Limited to 128 tags per batch
        required: true
      responses:
        "200":
          content:
[...]
