openapi: 3.0.0
info:
  contact:
    email: devrel@nexmo.com
    name: Nexmo.com
    url: https://developer.nexmo.com/
    x-twitter: Nexmo
  description: |-
    <div class="Vlt-callout Vlt-callout--critical"> <i></i> <div class="Vlt-callout__content">
      <h4>Applications V1 is deprecated</h4>
      This version of the API has been deprecated. Please use <a href="/api/application.v2">version 2</a> going forwards
    </div> </div>
    A Nexmo application contains the security and configuration information you need to connect to Nexmo endpoints and easily use our products.
  license:
    name: The MIT License (MIT)
    url: https://opensource.org/licenses/MIT
  termsOfService: https://www.nexmo.com/terms-of-use
  title: Nexmo Application API
  version: 1.0.2
  x-apiClientRegistration: https://dashboard.nexmo.com/sign-up
  x-logo:
    url: https://www.vonage.com/content/dam/vonage/us-en/api/illustrations/Mobile_APIs_Services.svg
  x-origin:
  - format: openapi
    url: https://raw.githubusercontent.com/nexmo/api-specification/master/definitions/application.yml
    version: "3.0"
  x-providerName: nexmo.com
  x-serviceName: application
externalDocs:
  url: https://developer.nexmo.com/api/developer/application
  x-sha1: d8836c374e2a7504bd2cd59e05fcee440f67cb44
servers:
- url: https://api.nexmo.com/v1/applications
paths:
  /:
    get:
      description: You use a `GET` request to retrieve details of all applications
        associated with your account.
      operationId: retrieve_applications
      parameters:
      - description: "You can find your API key in your [account overview](https://dashboard.nexmo.com/account-overview)"
        explode: true
        in: query
        name: api_key
        required: true
        schema:
          type: string
        style: form
      - description: "You can find your API secret in your [account overview](https://dashboard.nexmo.com/account-overview)"
        explode: true
        in: query
        name: api_secret
        required: true
        schema:
          type: string
        style: form
      - description: Set the number of items returned on each call to this endpoint.
          The default is 10 records.
        example: 10
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          default: 10
          type: integer
        style: form
      - description: Set the offset from the first page. The default value is `0`.
        example: 0
        explode: true
        in: query
        name: page_index
        required: false
        schema:
          default: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/applications'
          description: OK
      summary: Retrieve all Applications
      x-openapi-router-controller: openapi_server.controllers.default_controller
    post:
      description: You use a `POST` request to create a new application.
      operationId: create_application
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createApplication_request'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/applicationCreated'
          description: Created
      summary: Create Application
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /{app_id}:
    delete:
      description: You use a `DELETE` request to delete a single application.
      operationId: delete_application
      parameters:
      - description: The ID allocated to your application by Nexmo.
        example: aaaaaaaa-bbbb-cccc-dddd-0123456789ab
        explode: false
        in: path
        name: app_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No content
      summary: Destroy Application
      x-openapi-router-controller: openapi_server.controllers.default_controller
    get:
      description: You use a `GET` request to retrieve details about a single application.
      operationId: retrieve_application
      parameters:
      - description: "You can find your API key in your [account overview](https://dashboard.nexmo.com/account-overview)"
        explode: true
        in: query
        name: api_key
        required: true
        schema:
          type: string
        style: form
      - description: "You can find your API secret in your [account overview](https://dashboard.nexmo.com/account-overview)"
        explode: true
        in: query
        name: api_secret
        required: true
        schema:
          type: string
        style: form
      - description: The ID allocated to your application by Nexmo.
        example: aaaaaaaa-bbbb-cccc-dddd-0123456789ab
        explode: false
        in: path
        name: app_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/application'
          description: OK
      summary: Retrieve Application
      x-openapi-router-controller: openapi_server.controllers.default_controller
    put:
      description: You use a `PUT` request to update an existing application.
      operationId: update_application
      parameters:
      - description: The ID allocated to your application by Nexmo.
        example: aaaaaaaa-bbbb-cccc-dddd-0123456789ab
        explode: false
        in: path
        name: app_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateApplication_request'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/application'
          description: OK
      summary: Update Application
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
components:
  parameters:
    apiKeyQueryString:
      description: "You can find your API key in your [account overview](https://dashboard.nexmo.com/account-overview)"
      explode: true
      in: query
      name: api_key
      required: true
      schema:
        type: string
      style: form
    apiSecretQueryString:
      description: "You can find your API secret in your [account overview](https://dashboard.nexmo.com/account-overview)"
      explode: true
      in: query
      name: api_secret
      required: true
      schema:
        type: string
      style: form
    app_id:
      description: The ID allocated to your application by Nexmo.
      example: aaaaaaaa-bbbb-cccc-dddd-0123456789ab
      explode: false
      in: path
      name: app_id
      required: true
      schema:
        type: string
      style: simple
  schemas:
    apiKey:
      description: "You can find your API key in your [account overview](https://dashboard.nexmo.com/account-overview)"
      example: ap1k3y
      title: api_key
      type: string
    apiSecret:
      description: "You can find your API secret in your [account overview](https://dashboard.nexmo.com/account-overview)"
      example: 230e6cf0709417176df1b4fc1e083adc
      title: api_secret
      type: string
    application:
      example:
        voice:
          webhooks:
          - endpoint: https://example.com/webhooks/answer
            endpoint_type: answer_url
            http_method: GET
          - endpoint: https://example.com/webhooks/answer
            endpoint_type: answer_url
            http_method: GET
        _links:
          href: /v1/applications/aaaaaaaa-bbbb-cccc-dddd-0123456789ab
        keys:
          public_key: PUBLIC_KEY
        name: "{}"
        messages:
          webhooks:
          - endpoint: https://example.com/webhooks/status
            endpoint_type: status_url
            http_method: POST
          - endpoint: https://example.com/webhooks/status
            endpoint_type: status_url
            http_method: POST
        id: "{}"
      properties:
        _links:
          $ref: '#/components/schemas/links'
        id:
          $ref: '#/components/schemas/applicationBase/properties/id'
        keys:
          $ref: '#/components/schemas/keys'
        messages:
          $ref: '#/components/schemas/messages'
        name:
          $ref: '#/components/schemas/applicationBase/properties/name'
        voice:
          $ref: '#/components/schemas/voice'
      required:
      - messages
      - name
      - voice
      title: application
      type: object
    applicationBase:
      properties:
        id:
          description: The ID allocated to your application by Nexmo.
          example: aaaaaaaa-bbbb-cccc-dddd-0123456789ab
          type: string
        name:
          description: The name of your application
          example: My Application
          type: string
      type: object
    applicationCreated:
      allOf:
      - $ref: '#/components/schemas/application'
      - properties:
          keys:
            $ref: '#/components/schemas/keysWithPrivateKey'
      example:
        voice:
          webhooks:
          - endpoint: https://example.com/webhooks/answer
            endpoint_type: answer_url
            http_method: GET
          - endpoint: https://example.com/webhooks/answer
            endpoint_type: answer_url
            http_method: GET
        _links:
          href: /v1/applications/aaaaaaaa-bbbb-cccc-dddd-0123456789ab
        keys:
          public_key: PUBLIC_KEY
          private_key: PRIVATE_KEY
        name: "{}"
        messages:
          webhooks:
          - endpoint: https://example.com/webhooks/status
            endpoint_type: status_url
            http_method: POST
          - endpoint: https://example.com/webhooks/status
            endpoint_type: status_url
            http_method: POST
        id: "{}"
      title: applicationCreated
    applications:
      example:
        _embedded: "{}"
        _links:
          href: /v1/applications/aaaaaaaa-bbbb-cccc-dddd-0123456789ab
        page_index: "{}"
        count: "{}"
        page_size: "{}"
      properties:
        _embedded:
          $ref: '#/components/schemas/applicationsBase/properties/_embedded'
        _links:
          $ref: '#/components/schemas/links'
        count:
          $ref: '#/components/schemas/applicationsBase/properties/count'
        page_index:
          $ref: '#/components/schemas/applicationsBase/properties/page_index'
        page_size:
          $ref: '#/components/schemas/applicationsBase/properties/page_size'
      required:
      - _embedded
      - _links
      - count
      - page_index
      - page_size
      title: applications
      type: object
    applicationsBase:
      properties:
        _embedded:
          $ref: '#/components/schemas/applicationsBase__embedded'
        count:
          description: The number of items associated with your account.
          example: 1
          type: integer
        page_index:
          description: The offset from the first page.
          example: 1
          type: integer
        page_size:
          description: The number of items returned on each call to this endpoint.
            The default is 10 records.
          example: 10
          type: integer
    keys:
      description: The Nexmo product that you access with this application.
      example:
        public_key: PUBLIC_KEY
      properties:
        public_key:
          description: "The public key used to validate the [JWT](https://en.wikipedia.org/wiki/JSON_Web_Token)."
          example: PUBLIC_KEY
          title: public_key
          type: string
      title: keys
      type: object
    keysWithPrivateKey:
      allOf:
      - $ref: '#/components/schemas/keys'
      - properties:
          private_key:
            description: The private key you use to generate the JSON Web Token (JWT)
              that authenticates your requests to Messages API.
            example: PRIVATE_KEY
            type: string
      example:
        public_key: PUBLIC_KEY
        private_key: PRIVATE_KEY
      title: keysWithPrivateKey
    links:
      description: "A series of links between resources in this API in the following\
        \ [HAL specification](http://stateless.co/hal_specification.html)."
      example:
        href: /v1/applications/aaaaaaaa-bbbb-cccc-dddd-0123456789ab
      properties:
        href:
          description: The link URL.
          example: /v1/applications/aaaaaaaa-bbbb-cccc-dddd-0123456789ab
          format: url
          title: href
          type: string
      title: links
      type: object
    messages:
      description: The Nexmo product that you access with this application.
      example:
        webhooks:
        - endpoint: https://example.com/webhooks/status
          endpoint_type: status_url
          http_method: POST
        - endpoint: https://example.com/webhooks/status
          endpoint_type: status_url
          http_method: POST
      properties:
        webhooks:
          items:
            $ref: '#/components/schemas/messages_webhooks_inner'
          title: webhooks
          type: array
      title: messages
      type: object
    voice:
      description: The Nexmo product that you access with this application.
      example:
        webhooks:
        - endpoint: https://example.com/webhooks/answer
          endpoint_type: answer_url
          http_method: GET
        - endpoint: https://example.com/webhooks/answer
          endpoint_type: answer_url
          http_method: GET
      properties:
        webhooks:
          items:
            $ref: '#/components/schemas/voice_webhooks_inner'
          title: webhooks
          type: array
      title: voice
      type: object
    createApplication_request:
      properties:
        answer_method:
          description: The HTTP method used to make the request to `answer_url`. The
            default value is `GET`.
          example: GET
          title: answer_method
          type: string
        answer_url:
          description: The URL where your webhook delivers the Nexmo Call Control
            Object that governs this call. As soon as your user answers a call Nexmo
            makes a request to `answer_url`. Required for inbound calls only.
          example: https://example.com/webhooks/answer
          title: answer_url
          type: string
        api_key:
          description: "You can find your API key in your [account overview](https://dashboard.nexmo.com/account-overview)"
          example: ap1k3y
          title: api_key
          type: string
        api_secret:
          description: "You can find your API secret in your [account overview](https://dashboard.nexmo.com/account-overview)"
          example: 230e6cf0709417176df1b4fc1e083adc
          title: api_secret
          type: string
        event_method:
          description: The HTTP method used to send event information to `event_url`.
            The default value is `POST`. For `voice` type applications only.
          example: POST
          title: event_method
          type: string
        event_url:
          description: Nexmo sends event information asynchronously to this URL when
            status changes for `voice` applications. Always required for `voice` applications.
          example: https://example.com/webhooks/event
          title: event_url
          type: string
        inbound_method:
          description: The HTTP method used to send event information to `inbound_url`.
            The default value is `POST`. For `messages` type applications only.
          example: POST
          title: inbound_method
          type: string
        inbound_url:
          description: Nexmo sends a request to this URL when an inbound message is
            received. Required for `messages` type applications only.
          example: https://example.com/webhooks/inbound
          title: inbound_url
          type: string
        name:
          description: The name of your application.
          example: My Application
          title: name
          type: string
        status_method:
          description: The HTTP method used to send event information to `status_url`.
            The default value is `POST`. For `messages` type applications only.
          example: POST
          title: status_method
          type: string
        status_url:
          description: Nexmo sends event information asynchronously to this URL when
            status changes. Required for `messages` type applications only.
          example: https://example.com/webhooks/status
          title: status_url
          type: string
        type:
          description: The Nexmo product or products that you access with this application.
            Currently `voice` and `messages` application types are supported.
          enum:
          - voice
          - messages
          example: voice
          title: type
          type: string
      required:
      - api_key
      - api_secret
      - name
      - type
      title: createApplication_request
      type: object
    updateApplication_request:
      properties:
        answer_method:
          default: GET
          description: The HTTP method used to make the request to `answer_url`. The
            default value is `GET`.
          example: GET
          title: answer_method
          type: string
        answer_url:
          description: The URL where your webhook delivers the Nexmo Call Control
            Object that governs this call. As soon as your user answers a call Nexmo
            makes a request to `answer_url`.
          example: https://example.com/webhooks/answer
          format: url
          title: answer_url
          type: string
        api_key:
          description: "You can find your API key in your [account overview](https://dashboard.nexmo.com/account-overview)"
          example: ap1k3y
          title: api_key
          type: string
        api_secret:
          description: "You can find your API secret in your [account overview](https://dashboard.nexmo.com/account-overview)"
          example: 230e6cf0709417176df1b4fc1e083adc
          title: api_secret
          type: string
        event_method:
          default: POST
          description: The HTTP method used to send event information to `event_url`.
            The default value is POST.
          example: POST
          title: event_method
          type: string
        event_url:
          description: Nexmo sends event information asynchronously to this URL when
            status changes.
          example: https://example.com/webhooks/event
          format: url
          title: event_url
          type: string
        name:
          description: The name of your application.
          example: UpdatedApplication
          title: name
          type: string
        type:
          description: The Nexmo product or products that you access with this application.
            Currently `voice` and `messages` application types are supported. You  can't
            change the type of application.
          enum:
          - voice
          - messages
          example: voice
          title: type
          type: string
      required:
      - api_key
      - api_secret
      - name
      - type
      title: updateApplication_request
      type: object
    applicationsBase__embedded:
      properties:
        applications:
          description: The collection of your applications. Each object contains information
            about an an individual application. The public_key is not included in
            the application information.
          items:
            $ref: '#/components/schemas/application'
          title: applications
          type: array
      title: applicationsBase__embedded
      type: object
    messages_webhooks_inner:
      example:
        endpoint: https://example.com/webhooks/status
        endpoint_type: status_url
        http_method: POST
      properties:
        endpoint:
          description: "`inbound_url`: The URL where inbound messages are delivered.\
            \ `status_url`: The URL where message status is delivered."
          example: https://example.com/webhooks/status
          format: url
          title: endpoint
          type: string
        endpoint_type:
          enum:
          - inbound_url
          - status_url
          example: status_url
          title: endpoint_type
          type: string
        http_method:
          description: The HTTP method used to send data to the `inbound_url` or `status_url`.
            Default is POST.
          enum:
          - GET
          - POST
          example: POST
          title: http_method
          type: string
      required:
      - endpoint
      - endpoint_type
      - http_method
      title: messages_webhooks_inner
      type: object
    voice_webhooks_inner:
      example:
        endpoint: https://example.com/webhooks/answer
        endpoint_type: answer_url
        http_method: GET
      properties:
        endpoint:
          description: "`answer_url`: The URL where your webhook delivers the Nexmo\
            \ Call Control Object that governs this call. As soon as your user answers\
            \ a call Nexmo makes a request to answer_url. `event_url`: Nexmo sends\
            \ event information asynchronously to this URL when status changes."
          example: https://example.com/webhooks/answer
          format: url
          title: endpoint
          type: string
        endpoint_type:
          enum:
          - answer_url
          - event_url
          example: answer_url
          title: endpoint_type
          type: string
        http_method:
          description: The HTTP method used to send event information to the `event_url`
            or `answer_url`.
          enum:
          - GET
          - POST
          example: GET
          title: http_method
          type: string
      required:
      - endpoint
      - endpoint_type
      - http_method
      title: voice_webhooks_inner
      type: object
