openapi: 3.0.1
info:
  title: Lucidtech API
  version: 2023-03-23T15:40:40Z
  x-logo:
    url: https://assets-global.website-files.com/5d3e265ac89f6a3e64292efc/5d5595354de4fbdd8c554dba_default_webclip.png
  x-origin:
  - format: openapi
    url: https://raw.githubusercontent.com/LucidtechAI/cradl-docs/master/static/oas.yaml
    version: "3.0"
  x-providerName: webflow.com
servers:
- url: "https://api.lucidtech.ai/{basePath}"
  variables:
    basePath:
      default: v1
paths:
  /appClients:
    get:
      operationId: app_clients_get
      parameters:
      - explode: true
        in: query
        name: nextToken
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: maxResults
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppClients'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 400 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 403 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 404 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 415 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 500 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      security:
      - OAuth2:
        - api.lucidtech.ai/appclients:read
      x-openapi-router-controller: openapi_server.controllers.default_controller
    options:
      operationId: app_clients_options
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Empty'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Methods:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
    post:
      operationId: app_clients_post
      parameters:
      - explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostAppClients'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppClient'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 400 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 403 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 404 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 415 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 500 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      security:
      - OAuth2:
        - api.lucidtech.ai/appclients:write
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /appClients/{appClientId}:
    delete:
      operationId: app_clients_app_client_id_delete
      parameters:
      - explode: false
        in: path
        name: appClientId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppClient'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 400 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 403 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 404 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 415 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 500 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      security: []
      x-openapi-router-controller: openapi_server.controllers.default_controller
    options:
      operationId: app_clients_app_client_id_options
      parameters:
      - explode: false
        in: path
        name: appClientId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Empty'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Methods:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
    patch:
      operationId: app_clients_app_client_id_patch
      parameters:
      - explode: false
        in: path
        name: appClientId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchAppClientId'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppClient'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 400 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 403 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 404 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 415 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 500 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      security:
      - OAuth2:
        - api.lucidtech.ai/appclients:write
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /assets:
    get:
      operationId: assets_get
      parameters:
      - explode: true
        in: query
        name: nextToken
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: maxResults
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Assets'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 400 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 403 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 404 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 415 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 500 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      security:
      - OAuth2:
        - api.lucidtech.ai/assets:read
      x-openapi-router-controller: openapi_server.controllers.default_controller
    options:
      operationId: assets_options
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Empty'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Methods:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
    post:
      operationId: assets_post
      parameters:
      - explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostAssets'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Asset'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 400 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 403 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 404 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 415 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 500 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      security:
      - OAuth2:
        - api.lucidtech.ai/assets:write
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /assets/{assetId}:
    delete:
      operationId: assets_asset_id_delete
      parameters:
      - explode: false
        in: path
        name: assetId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Asset'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 400 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 403 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 404 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 415 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 500 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      security:
      - OAuth2:
        - api.lucidtech.ai/assets:read
      x-openapi-router-controller: openapi_server.controllers.default_controller
    get:
      operationId: assets_asset_id_get
      parameters:
      - explode: false
        in: path
        name: assetId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Asset'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 400 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 403 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 404 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 415 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 500 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      security:
      - OAuth2:
        - api.lucidtech.ai/assets:read
      x-openapi-router-controller: openapi_server.controllers.default_controller
    options:
      operationId: assets_asset_id_options
      parameters:
      - explode: false
        in: path
        name: assetId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Empty'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Methods:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
    patch:
      operationId: assets_asset_id_patch
      parameters:
      - explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: assetId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchAssetId'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Asset'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 400 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 403 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 404 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 415 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 500 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      security:
      - OAuth2:
        - api.lucidtech.ai/assets:write
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /datasets:
    get:
      operationId: datasets_get
      parameters:
      - explode: true
        in: query
        name: nextToken
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: maxResults
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Datasets'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 400 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 403 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 404 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 415 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 500 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      security:
      - OAuth2:
        - api.lucidtech.ai/datasets:read
      x-openapi-router-controller: openapi_server.controllers.default_controller
    options:
      operationId: datasets_options
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Empty'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Methods:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
    post:
      operationId: datasets_post
      parameters:
      - explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostDatasets'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dataset'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 400 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 403 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 404 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 415 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 500 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      security:
      - OAuth2:
        - api.lucidtech.ai/datasets:write
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /datasets/{datasetId}:
    delete:
      operationId: datasets_dataset_id_delete
      parameters:
      - explode: false
        in: path
        name: datasetId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dataset'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 400 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 403 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 404 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 415 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 500 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      security:
      - OAuth2:
        - api.lucidtech.ai/datasets:read
      x-openapi-router-controller: openapi_server.controllers.default_controller
    get:
      operationId: datasets_dataset_id_get
      parameters:
      - explode: false
        in: path
        name: datasetId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dataset'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 400 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 403 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 404 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 415 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 500 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      security:
      - OAuth2:
        - api.lucidtech.ai/datasets:read
      x-openapi-router-controller: openapi_server.controllers.default_controller
    options:
      operationId: datasets_dataset_id_options
      parameters:
      - explode: false
        in: path
        name: datasetId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Empty'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Methods:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
    patch:
      operationId: datasets_dataset_id_patch
      parameters:
      - explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: datasetId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchDatasetId'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dataset'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 400 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 403 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 404 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 415 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 500 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      security:
      - OAuth2:
        - api.lucidtech.ai/datasets:write
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /deploymentEnvironments:
    get:
      operationId: deployment_environments_get
      parameters:
      - explode: true
        in: query
        name: owner
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: nextToken
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: maxResults
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentEnvironments'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 400 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 403 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 404 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 415 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 500 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      security:
      - OAuth2:
        - api.lucidtech.ai/secrets:read
      x-openapi-router-controller: openapi_server.controllers.default_controller
    options:
      operationId: deployment_environments_options
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Empty'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Methods:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /deploymentEnvironments/{deploymentEnvironmentId}:
    get:
      operationId: deployment_environments_deployment_environment_id_get
      parameters:
      - explode: false
        in: path
        name: deploymentEnvironmentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentEnvironment'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 400 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 403 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 404 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 415 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 500 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      security:
      - OAuth2:
        - api.lucidtech.ai/organizations:read
      x-openapi-router-controller: openapi_server.controllers.default_controller
    options:
      operationId: deployment_environments_deployment_environment_id_options
      parameters:
      - explode: false
        in: path
        name: deploymentEnvironmentId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Empty'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Methods:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /documents:
    delete:
      operationId: documents_delete
      parameters:
      - explode: true
        in: query
        name: consentId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: datasetId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: nextToken
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: maxResults
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Documents'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 400 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 403 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 404 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 415 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 500 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      security:
      - OAuth2:
        - api.lucidtech.ai/documents:write
      x-openapi-router-controller: openapi_server.controllers.default_controller
    get:
      operationId: documents_get
      parameters:
      - explode: true
        in: query
        name: datasetId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: nextToken
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: order
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: documentId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: consentId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: maxResults
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sortBy
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Documents'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 400 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 403 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 404 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 415 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 500 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      security:
      - OAuth2:
        - api.lucidtech.ai/documents:read
      x-openapi-router-controller: openapi_server.controllers.default_controller
    options:
      operationId: documents_options
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Empty'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Methods:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
    post:
      operationId: documents_post
      parameters:
      - explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostDocuments'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 400 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 403 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 404 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 415 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 500 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      security:
      - OAuth2:
        - api.lucidtech.ai/documents:write
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /documents/{documentId}:
    delete:
      operationId: documents_document_id_delete
      parameters:
      - explode: false
        in: path
        name: documentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 400 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 403 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 404 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 415 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 500 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      security:
      - OAuth2:
        - api.lucidtech.ai/documents:read
      x-openapi-router-controller: openapi_server.controllers.default_controller
    get:
      operationId: documents_document_id_get
      parameters:
      - explode: false
        in: path
        name: documentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 400 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 403 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 404 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 415 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 500 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      security:
      - OAuth2:
        - api.lucidtech.ai/documents:read
      x-openapi-router-controller: openapi_server.controllers.default_controller
    options:
      operationId: documents_document_id_options
      parameters:
      - explode: false
        in: path
        name: documentId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Empty'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Methods:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
    patch:
      operationId: documents_document_id_patch
      parameters:
      - explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: documentId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchDocumentId'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 400 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 403 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 404 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 415 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 500 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      security:
      - OAuth2:
        - api.lucidtech.ai/documents:write
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /logs:
    get:
      operationId: logs_get
      parameters:
      - explode: true
        in: query
        name: workflowId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: nextToken
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: order
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: transitionExecutionId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: transitionId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: maxResults
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: workflowExecutionId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Logs'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 400 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 403 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 404 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 415 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 500 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      security:
      - OAuth2:
        - api.lucidtech.ai/logs:read
      x-openapi-router-controller: openapi_server.controllers.default_controller
    options:
      operationId: logs_options
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Empty'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Methods:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /logs/{logId}:
    get:
      operationId: logs_log_id_get
      parameters:
      - explode: false
        in: path
        name: logId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Log'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 400 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 403 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 404 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 415 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 500 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      security:
      - OAuth2:
        - api.lucidtech.ai/logs:read
      x-openapi-router-controller: openapi_server.controllers.default_controller
    options:
      operationId: logs_log_id_options
      parameters:
      - explode: false
        in: path
        name: logId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Empty'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Methods:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /models:
    get:
      operationId: models_get
      parameters:
      - explode: true
        in: query
        name: owner
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: nextToken
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: maxResults
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
[...]
