openapi: 3.0.1
info:
  contact:
    email: bfritz@fadingsignal.com
    name: Open Movie Database
    url: http://omdbapi.com
  description: "The Open Movie Database. The OMDb API is a free web service to obtain\
    \ movie information, all content and images on the site are contributed and maintained\
    \ by our users."
  license:
    name: CC BY-NC 4.0
    url: https://creativecommons.org/licenses/by-nc/4.0/
  termsOfService: http://www.omdbapi.com/legal.htm
  title: OMDb
  version: "1"
  x-apisguru-categories:
  - media
  - open_data
  x-logo:
    backgroundColor: '#FFFFFF'
    url: http://raw.githubusercontent.com/Mermade/open_api_specifications/master/OMDb/OMDb.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Mermade/open_api_specifications/master/OMDb/swagger.json
    version: "2.0"
  x-providerName: omdbapi.com
  x-unofficialSpec: true
externalDocs:
  description: OMDb Usage
  url: http://www.omdbapi.com/#usage
servers:
- url: http://www.omdbapi.com/
- url: https://www.omdbapi.com/
paths:
  /:
    get:
      description: "Find a movie, series or episode from the OMDb by title, IMDb-id\
        \ or by free-text search"
      operationId: Get_OMDb Search
      parameters:
      - description: "Movie title to search for. One of t, i or s is required."
        in: query
        name: t
        schema:
          type: string
      - description: "A valid IMDb ID (e.g. tt1285016). One of t, i or s is required."
        in: query
        name: i
        schema:
          type: string
      - description: "Movie title to search for. One of t, i or s is required."
        in: query
        name: s
        schema:
          type: string
      - description: Year of release.
        in: query
        name: "y"
        schema:
          type: integer
      - description: Type of result to return.
        in: query
        name: type
        schema:
          enum:
          - movie
          - series
          - episode
          type: string
      - description: Return short or full plot.
        in: query
        name: plot
        schema:
          default: short
          enum:
          - short
          - full
          type: string
      - description: Include Rotten Tomatoes ratings.
        in: query
        name: tomatoes
        schema:
          default: false
          type: boolean
      - description: The data type to return.
        in: query
        name: r
        required: true
        schema:
          default: json
          enum:
          - json
          - xml
          type: string
      - description: API version (reserved for future use).
        in: query
        name: v
        schema:
          default: 1
          type: integer
      - description: Page number to return.
        in: query
        name: page
        schema:
          default: 1
          format: int32
          type: integer
      - description: JSONP callback name.
        in: query
        name: callback
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/combinedResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/combinedResult'
          description: Default response
      security: []
      summary: OMDb Search
      x-accepts:
      - application/json
      - application/xml
components:
  schemas:
    combinedResult:
      example:
        tomatoUserRating: tomatoUserRating
        Metascore: Metascore
        tomatoUserMeter: tomatoUserMeter
        BoxOffice: BoxOffice
        tomatoMeter: tomatoMeter
        Website: Website
        imdbRating: imdbRating
        imdbVotes: imdbVotes
        tomatoURL: tomatoURL
        Runtime: Runtime
        totalResults: totalResults
        tomatoImage: tomatoImage
        Language: Language
        Rated: Rated
        Production: Production
        Search:
        - Type: Type
          Year: Year
          imdbID: imdbID
          Poster: Poster
          Title: Title
        - Type: Type
          Year: Year
          imdbID: imdbID
          Poster: Poster
          Title: Title
        Released: Released
        totalSeasons: totalSeasons
        imdbID: imdbID
        Plot: Plot
        tomatoRotten: tomatoRotten
        Director: Director
        tomatoUserReviews: tomatoUserReviews
        Title: Title
        Actors: Actors
        tomatoConsensus: tomatoConsensus
        Response: Response
        Type: Type
        Awards: Awards
        DVD: DVD
        Year: Year
        tomatoRating: tomatoRating
        tomatoReviews: tomatoReviews
        Poster: Poster
        Country: Country
        Genre: Genre
        Writer: Writer
        tomatoFresh: tomatoFresh
      properties:
        Actors:
          type: string
        Awards:
          type: string
        BoxOffice:
          type: string
        Country:
          type: string
        DVD:
          type: string
        Director:
          type: string
        Genre:
          type: string
        Language:
          type: string
        Metascore:
          type: string
        Plot:
          type: string
        Poster:
          type: string
        Production:
          type: string
        Rated:
          type: string
        Released:
          type: string
        Response:
          type: string
        Runtime:
          type: string
        Search:
          items:
            $ref: '#/components/schemas/combinedResult_Search_inner'
          type: array
        Title:
          type: string
        Type:
          type: string
        Website:
          type: string
        Writer:
          type: string
        Year:
          type: string
        imdbID:
          type: string
        imdbRating:
          type: string
        imdbVotes:
          type: string
        tomatoConsensus:
          type: string
        tomatoFresh:
          type: string
        tomatoImage:
          type: string
        tomatoMeter:
          type: string
        tomatoRating:
          type: string
        tomatoReviews:
          type: string
        tomatoRotten:
          type: string
        tomatoURL:
          type: string
        tomatoUserMeter:
          type: string
        tomatoUserRating:
          type: string
        tomatoUserReviews:
          type: string
        totalResults:
          type: string
        totalSeasons:
          type: string
      required:
      - Response
      type: object
    combinedResult_Search_inner:
      example:
        Type: Type
        Year: Year
        imdbID: imdbID
        Poster: Poster
        Title: Title
      properties:
        Poster:
          type: string
        Title:
          type: string
        Type:
          type: string
        Year:
          type: string
        imdbID:
          type: string
      required:
      - Poster
      - Title
      - Type
      - Year
      - imdbID
      type: object
x-original-swagger-version: "2.0"

