# DialogflowApi.GoogleCloudDialogflowV2ValidationResult

## Properties

Name | Type | Description | Notes
------------ | ------------- | ------------- | -------------
**validationErrors** | [**[GoogleCloudDialogflowV2ValidationError]**](GoogleCloudDialogflowV2ValidationError.md) | Contains all validation errors. | [optional] 


