openapi: 3.0.0
info:
  description: "<strong>GoDaddy Abuse API Terms of Use:</strong><p>GoDaddy’s Abuse\
    \ API is provided to simplify and standardize the abuse reporting experience.\
    \ To help us streamline the review of abuse reports, you acknowledge and agree\
    \ that your use of GoDaddy’s Abuse API is subject to the following quality metrics\
    \ and terms of use.</p><p>GoDaddy may, in its sole and absolute discretion, change\
    \ or modify these terms, and such changes or modifications shall be effective\
    \ immediately upon notice to you. Your use of GoDaddy’s Abuse API after such changes\
    \ or modifications shall constitute your acceptance of these terms as last revised.\
    \ If you do not agree to be bound by these terms as last revised, do not use (or\
    \ continue to use) our Abuse API.</p><p>As an Abuse API user, you must only submit\
    \ abuse reports via the API portal and cease all email submissions, including\
    \ but not limited, to phishing@godaddy.com, netabuse@godaddy.com, malware@godaddy.com,\
    \ or spam@godaddy.com, etc.  Any additional or duplicate submission outside of\
    \ the API portal will be deprioritized for review. Submissions related to trademark,\
    \ copyright or content issues may still be sent to trademarkclaims@godaddy.com,\
    \ coyprightclaims@godaddy.com, and contentcomplaints@godaddy.com, respectively.\
    \ Our [Front of Site](https://supportcenter.godaddy.com/AbuseReport) also describes\
    \ other scenarios not covered by the API.</p><p>When you submit abuse reports\
    \ via GoDaddy’s Abuse API, you must ensure that you accurately categorize the\
    \ abuse type of each report to match our definitions in the API documentations\
    \ provided to you. Any submission that fails to match our definitions or is miscategorized\
    \ will be marked as a false positive. Examples include, but are not limited to,\
    \ submissions of trademark complaints marked as phishing or malware, or submissions\
    \ of copyright complaints marked as phishing or malware, etc.</p><p>If, at any\
    \ time, the false positive rate of submissions exceeds 40% of your total submissions,\
    \ as determined by GoDaddy, GoDaddy may in its sole discretion deprioritize any\
    \ subsequent reports submitted by you and/or your organization.</p><p>You acknowledge\
    \ and agree that submitting every URL for a single domain is not necessary and\
    \ will not expedite the review process. If your submissions exceed five (5) URLs\
    \ for a single domain, your report will be marked as a duplicate submission taking\
    \ into account that the final outcome of such submissions would yield the same\
    \ result as the original report. GoDaddy may in its sole discretion deprioritize\
    \ reports submitted by you and/or your organization in the event more than 20%\
    \ of your submissions are classified as duplicate submissions.</p><p>You further\
    \ acknowledge and agree that our Customer Support lines are not intended to address\
    \ abuse reporting matters or your use of GoDaddy’s Abuse API. Contacting Customer\
    \ Support will not expedite the review process and may result in abuse reports\
    \ being deprioritized, to be determined in our sole discretion.</p><p>Should you\
    \ have any questions about GoDaddy’s Abuse API or any of the terms and conditions\
    \ set forth above, please contact abuseapisupport@godaddy.com.</p>"
  title: ""
  version: 1.0.0
  x-apisguru-categories:
  - hosting
  x-origin:
  - format: swagger
    url: https://developer.godaddy.com/swagger/swagger_abuse.json
    version: "2.0"
  x-providerName: ote-godaddy.com
  x-serviceName: abuse
servers:
- url: //api.ote-godaddy.com
tags:
- description: ""
  name: v1
paths:
  /v1/abuse/tickets:
    get:
      operationId: get_tickets
      parameters:
      - description: The type of abuse.
        explode: true
        in: query
        name: type
        required: false
        schema:
          enum:
          - A_RECORD
          - CHILD_ABUSE
          - CONTENT
          - FRAUD_WIRE
          - IP_BLOCK
          - MALWARE
          - NETWORK_ABUSE
          - PHISHING
          - SPAM
          type: string
        style: form
      - description: Is this abuse ticket closed?
        explode: true
        in: query
        name: closed
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: The domain name or ip address the abuse originated from
        explode: true
        in: query
        name: sourceDomainOrIp
        required: false
        schema:
          format: host-name-or-ip-address
          type: string
        style: form
      - description: "The brand/company the abuse is targeting. ie: brand name/bank\
          \ name"
        explode: true
        in: query
        name: target
        required: false
        schema:
          type: string
        style: form
      - description: The earliest abuse ticket creation date to pull abuse tickets
          for
        explode: true
        in: query
        name: createdStart
        required: false
        schema:
          format: iso-datetime
          type: string
        style: form
      - description: The latest abuse ticket creation date to pull abuse tickets for
        explode: true
        in: query
        name: createdEnd
        required: false
        schema:
          format: iso-datetime
          type: string
        style: form
      - description: Number of abuse ticket numbers to return.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          format: integer-positive
          maximum: 100
          type: integer
        style: form
      - description: The earliest result set record number to pull abuse tickets for
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          format: integer-positive
          type: integer
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AbuseTicketList'
          description: Success
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: Authentication info not sent or invalid
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: Authenticated user is not allowed access
        "422":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: List all abuse tickets ids that match user provided filters
      tags:
      - v1
      x-openapi-router-controller: openapi_server.controllers.v1_controller
    post:
      operationId: create_ticket
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AbuseTicketCreate'
        description: The endpoint which allows the Reporter to create a new abuse
          ticket
        required: true
        x-body-name: body
      responses:
        "200":
          description: No response was specified
        "201":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AbuseTicketId'
          description: Success
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: Authentication info not sent or invalid
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: Authenticated user is not allowed access
        "422":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Create a new abuse ticket
      tags:
      - v1
      x-openapi-router-controller: openapi_server.controllers.v1_controller
      x-codegen-request-body-name: body
  /v1/abuse/tickets/{ticketId}:
    get:
      operationId: get_ticket_info
      parameters:
      - description: A unique abuse ticket identifier
        explode: false
        in: path
        name: ticketId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AbuseTicket'
          description: Success
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: Authentication info not sent or invalid
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: Authenticated user is not allowed access
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: Invalid ticket id provided
      summary: Return the abuse ticket data for a given ticket id
      tags:
      - v1
      x-openapi-router-controller: openapi_server.controllers.v1_controller
components:
  schemas:
    AbuseTicket:
      description: "The associated fields returned, given a unique abuse ticket id"
      example:
        createdAt: createdAt
        closed: false
        domainIp: domainIp
        reporter: reporter
        source: source
        closedAt: closedAt
        type: A_RECORD
        ticketId: ticketId
        target: target
      properties:
        closed:
          default: false
          description: Is this abuse ticket closed?
          title: closed
          type: boolean
        closedAt:
          description: The date the abuse ticket was closed
          format: iso-datetime
          title: closedAt
          type: string
        createdAt:
          description: The date the abuse ticket was created
          format: iso-datetime
          title: createdAt
          type: string
        domainIp:
          description: The domain or IP the suspected abuse was reported against
          title: domainIp
          type: string
        reporter:
          description: The shopper id of the person who reported the suspected abuse
          title: reporter
          type: string
        source:
          description: The single URL or IP the suspected abuse was reported against
          title: source
          type: string
        target:
          description: The company the suspected abuse is targeting
          title: target
          type: string
        ticketId:
          description: Abuse ticket ID
          title: ticketId
          type: string
        type:
          description: The type of abuse being reported
          enum:
          - A_RECORD
          - CHILD_ABUSE
          - CONTENT
          - FRAUD_WIRE
          - IP_BLOCK
          - MALWARE
          - NETWORK_ABUSE
          - PHISHING
          - SPAM
          title: type
          type: string
      required:
      - closed
      - closedAt
      - createdAt
      - domainIp
      - reporter
      - source
      - target
      - ticketId
      - type
      title: AbuseTicket
    AbuseTicketCreate:
      example:
        proxy: proxy
        infoUrl: http://example.com/aeiou
        intentional: false
        source: source
        type: A_RECORD
        info: info
        target: target
      properties:
        info:
          description: "Additional information that may assist the abuse investigator.\
            \ ie: server logs or email headers/body for SPAM"
          title: info
          type: string
        infoUrl:
          description: Reporter URL if housing additional information that may assist
            the abuse investigator
          format: url
          title: infoUrl
          type: string
        intentional:
          default: false
          description: Do you believe this is intentional abuse by the domain holder?
          title: intentional
          type: boolean
        proxy:
          description: "The Proxy information required to view the abuse being reported.\
            \ ie: Specific IP used, or country of IP viewing from"
          title: proxy
          type: string
        source:
          description: "The URL or IP where live abuse content is located at. ie:\
            \ https://www.example.com/bad_stuff/bad.php"
          title: source
          type: string
        target:
          description: "The brand/company the abuse is targeting. ie: brand name/bank\
            \ name"
          title: target
          type: string
        type:
          description: The type of abuse being reported.
          enum:
          - A_RECORD
          - CHILD_ABUSE
          - CONTENT
          - FRAUD_WIRE
          - IP_BLOCK
          - MALWARE
          - NETWORK_ABUSE
          - PHISHING
          - SPAM
          title: type
          type: string
      title: AbuseTicketCreate
    AbuseTicketId:
      description: The primary key of a newly created abuse ticket
      example:
        u_number: u_number
      properties:
        u_number:
          description: Abuse ticket ID
          title: u_number
          type: string
      required:
      - ticketId
      title: AbuseTicketId
    AbuseTicketList:
      example:
        pagination:
          next: next
          total: 0
          last: last
          previous: previous
          first: first
        ticketIds:
        - ticketIds
        - ticketIds
      properties:
        pagination:
          $ref: '#/components/schemas/Pagination'
        ticketIds:
          description: A list of abuse ticket ids originated by this reporter.
          items:
            type: string
          title: ticketIds
          type: array
      required:
      - ticketIds
      title: AbuseTicketList
    Error:
      example:
        stack:
        - stack
        - stack
        code: code
        fields:
        - pathRelated: pathRelated
          path: path
          code: code
          message: message
        - pathRelated: pathRelated
          path: path
          code: code
          message: message
        message: message
      properties:
        code:
          description: "Short identifier for the error, suitable for indicating the\
            \ specific error within client code"
          format: constant
          title: code
          type: string
        fields:
          description: "List of the specific fields, and the errors found with their\
            \ contents"
          items:
            $ref: '#/components/schemas/ErrorField'
          title: fields
          type: array
        message:
          description: "Human-readable, English description of the error"
          title: message
          type: string
        stack:
          description: |-
            Stack trace indicating where the error occurred.<br/>
            NOTE: This attribute <strong>MAY</strong> be included for Development and Test environments.
            However, it <strong>MUST NOT</strong> be exposed from OTE nor Production systems.
          items:
            type: string
          title: stack
          type: array
      required:
      - code
      title: Error
    ErrorField:
      example:
        pathRelated: pathRelated
        path: path
        code: code
        message: message
      properties:
        code:
          description: "Short identifier for the error, suitable for indicating the\
            \ specific error within client code"
          format: constant
          title: code
          type: string
        message:
          description: "Human-readable, English description of the problem with the\
            \ contents of the field"
          title: message
          type: string
        path:
          description: 1) JSONPath referring to the field within the data containing
            an error<br/>or<br/>2) JSONPath referring to an object containing an error
          format: json-path
          title: path
          type: string
        pathRelated:
          description: JSONPath referring to the field on the object referenced by
            `path` containing an error
          format: json-path
          title: pathRelated
          type: string
      required:
      - code
      - path
      title: ErrorField
    Pagination:
      example:
        next: next
        total: 0
        last: last
        previous: previous
        first: first
      properties:
        first:
          description: Optional link to first list of results
          title: first
          type: string
        last:
          description: Optional link to last list of results
          title: last
          type: string
        next:
          description: Optional link to next list of results
          title: next
          type: string
        previous:
          description: Optional link to previous list of results
          title: previous
          type: string
        total:
          description: Number of records available
          title: total
          type: integer
      title: Pagination
