openapi: 3.0.1
info:
  description: "Provides create, read, update and delete functionality for Azure SQL\
    \ Databases."
  title: Azure SQL Database
  version: 2014-04-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/sql/resource-manager/Microsoft.Sql/stable/2014-04-01/databases.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: sql-databases
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
paths:
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases:
    get:
      description: Returns a list of databases in a server.
      operationId: databases_list_by_server
      parameters:
      - description: The API version to use for the request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: serverName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "A comma separated list of child objects to expand in the response.\
          \ Possible properties: serviceTierAdvisors, transparentDataEncryption."
        in: query
        name: $expand
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: An OData filter expression that describes a subset of databases
          to return.
        in: query
        name: $filter
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatabaseListResult'
          description: OK
      tags:
      - Databases
      x-ms-examples:
        List databases by server:
          parameters:
            api-version: 2014-04-01
            resourceGroupName: sqlcrudtest-6845
            serverName: sqlcrudtest-7177
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6845/providers/Microsoft.Sql/servers/sqlcrudtest-7177/databases/master
                  kind: "v12.0,system"
                  location: Japan East
                  name: master
                  properties:
                    collation: SQL_Latin1_General_CP1_CI_AS
                    containmentState: 2
                    creationDate: 2017-02-10T00:59:33.483Z
                    currentServiceObjectiveId: 620323bf-2879-4807-b30d-c2e6d7b3b3aa
                    databaseId: e760a51c-3dce-4d8c-976b-a2b929a73e08
                    defaultSecondaryLocation: Japan West
                    edition: System
                    maxSizeBytes: "32212254720"
                    readScale: Disabled
                    requestedServiceObjectiveId: 620323bf-2879-4807-b30d-c2e6d7b3b3aa
                    requestedServiceObjectiveName: System2
                    serviceLevelObjective: System2
                    status: Online
                  type: Microsoft.Sql/servers/databases
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6845/providers/Microsoft.Sql/servers/sqlcrudtest-7177/databases/sqlcrudtest-1142
                  kind: "v12.0,user"
                  location: Japan East
                  name: sqlcrudtest-1142
                  properties:
                    collation: SQL_Latin1_General_CP1_CI_AS
                    containmentState: 2
                    creationDate: 2017-02-10T01:03:34.04Z
                    currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                    databaseId: 11c1813c-52db-4d17-95d7-119eda1850b1
                    defaultSecondaryLocation: Japan West
                    earliestRestoreDate: 2017-02-10T01:14:10.233Z
                    edition: Standard
                    maxSizeBytes: "268435456000"
                    readScale: Disabled
                    requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                    requestedServiceObjectiveName: S0
                    serviceLevelObjective: S0
                    status: Online
                  type: Microsoft.Sql/servers/databases
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6845/providers/Microsoft.Sql/servers/sqlcrudtest-7177/databases/sqlcrudtest-2788
                  kind: "v12.0,user"
                  location: Japan East
                  name: sqlcrudtest-2788
                  properties:
                    collation: SQL_Latin1_General_CP1_CI_AS
                    containmentState: 2
                    creationDate: 2017-02-10T01:00:21.067Z
                    currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                    databaseId: d63e118b-41cf-49b9-8dac-aa6ef6f91731
                    defaultSecondaryLocation: Japan West
                    earliestRestoreDate: 2017-02-10T01:10:52.25Z
                    edition: Standard
                    maxSizeBytes: "268435456000"
                    readScale: Disabled
                    requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                    requestedServiceObjectiveName: S0
                    serviceLevelObjective: S0
                    status: Online
                  type: Microsoft.Sql/servers/databases
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6845/providers/Microsoft.Sql/servers/sqlcrudtest-7177/databases/sqlcrudtest-6877
                  kind: "v12.0,user"
                  location: Japan East
                  name: sqlcrudtest-6877
                  properties:
                    collation: SQL_Latin1_General_CP1_CI_AS
                    containmentState: 2
                    creationDate: 2017-02-10T01:02:28.853Z
                    currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                    databaseId: 40ac16e8-855c-439c-b495-c97e918a771c
                    defaultSecondaryLocation: Japan West
                    earliestRestoreDate: 2017-02-10T01:13:21.66Z
                    edition: Standard
                    maxSizeBytes: "268435456000"
                    readScale: Disabled
                    requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                    requestedServiceObjectiveName: S0
                    serviceLevelObjective: S0
                    status: Online
                  type: Microsoft.Sql/servers/databases
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6845/providers/Microsoft.Sql/servers/sqlcrudtest-7177/databases/sqlcrudtest-9888
                  kind: "v12.0,user"
                  location: Japan East
                  name: sqlcrudtest-9888
                  properties:
                    collation: SQL_Latin1_General_CP1_CI_AS
                    containmentState: 2
                    creationDate: 2017-02-10T01:01:25.347Z
                    currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                    databaseId: 59daf4ad-082f-4ac5-b38a-ed656b937980
                    defaultSecondaryLocation: Japan West
                    earliestRestoreDate: 2017-02-10T01:12:05.303Z
                    edition: Standard
                    maxSizeBytes: "268435456000"
                    readScale: Disabled
                    requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                    requestedServiceObjectiveName: S0
                    serviceLevelObjective: S0
                    status: Online
                  type: Microsoft.Sql/servers/databases
        List databases by server with filter:
          parameters:
            $filter: properties/edition eq 'System'
            api-version: 2014-04-01
            resourceGroupName: sqlcrudtest-6845
            serverName: sqlcrudtest-7177
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6845/providers/Microsoft.Sql/servers/sqlcrudtest-7177/databases/master
                  kind: "v12.0,system"
                  location: Japan East
                  name: master
                  properties:
                    collation: SQL_Latin1_General_CP1_CI_AS
                    containmentState: 2
                    creationDate: 2017-02-10T00:59:33.483Z
                    currentServiceObjectiveId: 620323bf-2879-4807-b30d-c2e6d7b3b3aa
                    databaseId: e760a51c-3dce-4d8c-976b-a2b929a73e08
                    defaultSecondaryLocation: Japan West
                    edition: System
                    maxSizeBytes: "32212254720"
                    readScale: Disabled
                    requestedServiceObjectiveId: 620323bf-2879-4807-b30d-c2e6d7b3b3aa
                    requestedServiceObjectiveName: System2
                    serviceLevelObjective: System2
                    status: Online
                  type: Microsoft.Sql/servers/databases
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.databases_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}
  : delete:
      description: Deletes a database.
      operationId: databases_delete
      parameters:
      - description: The API version to use for the request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: server_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the database to be deleted.
        in: path
        name: databaseName
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "204":
          content: {}
          description: NoContent
      tags:
      - Databases
      x-ms-examples:
        Delete a database:
          parameters:
            api-version: 2014-04-01
            databaseName: sqlcrudtest-331
            resourceGroupName: sqlcrudtest-6852
            serverName: sqlcrudtest-2080
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200": {}
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.databases_controller
    get:
      description: Gets a database.
      operationId: databases_get
      parameters:
      - description: The API version to use for the request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: server_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the database to be retrieved.
        in: path
        name: databaseName
        required: true
        schema:
          type: string
      - description: "A comma separated list of child objects to expand in the response.\
          \ Possible properties: serviceTierAdvisors, transparentDataEncryption."
        in: query
        name: expand
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Database'
          description: OK
      tags:
      - Databases
      x-ms-examples:
        Get a database:
          parameters:
            api-version: 2014-04-01
            databaseName: sqlcrudtest-9187
            resourceGroupName: sqlcrudtest-6852
            serverName: sqlcrudtest-2080
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6852/providers/Microsoft.Sql/servers/sqlcrudtest-2080/databases/sqlcrudtest-9187
                kind: "v12.0,user"
                location: Japan East
                name: sqlcrudtest-9187
                properties:
                  collation: SQL_Latin1_General_CP1_CI_AS
                  containmentState: 2
                  creationDate: 2017-02-10T00:56:19.2Z
                  currentServiceObjectiveId: dd6d99bb-f193-4ec1-86f2-43d3bccbc49c
                  databaseId: 200216b2-dc19-4866-85aa-f73fe4a1ebac
                  defaultSecondaryLocation: Japan West
                  earliestRestoreDate: 2017-02-10T01:06:29.78Z
                  edition: Basic
                  maxSizeBytes: "2147483648"
                  readScale: Disabled
                  requestedServiceObjectiveId: dd6d99bb-f193-4ec1-86f2-43d3bccbc49c
                  requestedServiceObjectiveName: Basic
                  serviceLevelObjective: Basic
                  status: Online
                tags:
                  tagKey1: TagValue1
                type: Microsoft.Sql/servers/databases
      x-openapi-router-controller: openapi_server.controllers.databases_controller
    patch:
      description: Updates an existing database.
      operationId: databases_update
      parameters:
      - description: The API version to use for the request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: server_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the database to be updated.
        in: path
        name: databaseName
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DatabaseUpdate'
        description: The required parameters for updating a database.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Database'
          description: OK
        "202":
          content: {}
          description: Accepted
      tags:
      - Databases
      x-ms-examples:
        Update a database max:
          parameters:
            api-version: 2014-04-01
            databaseName: testdb
            parameters:
              properties:
                collation: SQL_Latin1_General_CP1_CI_AS
                containmentState: 2
                createMode: Default
                currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                defaultSecondaryLocation: Japan West
                earliestRestoreDate: 2017-02-10T01:52:52.923Z
                edition: Standard
                maxSizeBytes: "268435456000"
                readScale: Disabled
                requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                requestedServiceObjectiveName: S0
                serviceLevelObjective: S0
                status: Online
            resourceGroupName: sqlcrudtest-4799
            serverName: sqlcrudtest-5961
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-5961/databases/testdb
                kind: "v12.0,user"
                location: Japan East
                name: testdb
                properties:
                  collation: SQL_Latin1_General_CP1_CI_AS
                  containmentState: 2
                  creationDate: 2017-02-24T22:39:46.547Z
                  currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  defaultSecondaryLocation: Japan West
                  earliestRestoreDate: 2017-02-10T01:52:52.923Z
                  edition: Standard
                  maxSizeBytes: "268435456000"
                  readScale: Disabled
                  requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  requestedServiceObjectiveName: S0
                  serviceLevelObjective: S0
                  status: Online
                type: Microsoft.Sql/servers/databases
            "202": {}
        Update a database min:
          parameters:
            api-version: 2014-04-01
            databaseName: testdb
            parameters: {}
            resourceGroupName: sqlcrudtest-4799
            serverName: sqlcrudtest-5961
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-5961/databases/testdb
                kind: "v12.0,user"
                location: Japan East
                name: testdb
                properties:
                  collation: SQL_Latin1_General_CP1_CI_AS
                  containmentState: 2
                  creationDate: 2017-02-24T22:39:46.547Z
                  currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  defaultSecondaryLocation: Japan West
                  earliestRestoreDate: 2017-02-10T01:52:52.923Z
                  edition: Standard
                  maxSizeBytes: "268435456000"
                  readScale: Disabled
                  requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  requestedServiceObjectiveName: S0
                  serviceLevelObjective: S0
                  status: Online
                type: Microsoft.Sql/servers/databases
            "202": {}
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.databases_controller
    put:
      description: Creates a new database or updates an existing database.
      operationId: databases_create_or_update
      parameters:
      - description: The API version to use for the request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: server_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the database to be operated on (updated or created).
        in: path
        name: databaseName
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Database'
        description: The required parameters for creating or updating a database.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Database'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Database'
          description: Created
        "202":
          content: {}
          description: Accepted
      tags:
      - Databases
      x-ms-examples:
        Create a database as a copy:
          parameters:
            api-version: 2014-04-01
            databaseName: testdb
            parameters:
              location: Japan East
              properties:
                createMode: Copy
                sourceDatabaseId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-3782/databases/testdb
            resourceGroupName: sqlcrudtest-4799
            serverName: sqlcrudtest-6440
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-6440/databases/testdb
                kind: "v12.0,user"
                location: Japan East
                name: testdb
                properties:
                  collation: SQL_Latin1_General_CP1_CI_AS
                  containmentState: 2
                  creationDate: 2017-02-24T22:39:46.547Z
                  currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  defaultSecondaryLocation: Japan West
                  earliestRestoreDate: 2017-02-10T01:52:52.923Z
                  edition: Standard
                  maxSizeBytes: "268435456000"
                  readScale: Disabled
                  requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  requestedServiceObjectiveName: S0
                  serviceLevelObjective: S0
                  status: Online
                type: Microsoft.Sql/servers/databases
            "201":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-6440/databases/testdb
                kind: "v12.0,user"
                location: Japan East
                name: testdb
                properties:
                  collation: SQL_Latin1_General_CP1_CI_AS
                  containmentState: 2
                  creationDate: 2017-02-24T22:39:46.547Z
                  currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  defaultSecondaryLocation: Japan West
                  earliestRestoreDate: 2017-02-10T01:52:52.923Z
                  edition: Standard
                  maxSizeBytes: "268435456000"
                  readScale: Disabled
                  requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  requestedServiceObjectiveName: S0
                  serviceLevelObjective: S0
                  status: Online
                type: Microsoft.Sql/servers/databases
            "202": {}
        Create a database as a dropped database restore to a specific point in time:
          parameters:
            api-version: 2014-04-01
            databaseName: testdb
            parameters:
              location: Japan East
              properties:
                createMode: Restore
                restorePointInTime: 2017-05-20T21:24:37.467Z
                sourceDatabaseId: "/subscriptions/00000000-1111-2222-3333-444444444444\
                  \ /resourceGroups/sqlcrudtest-8412/providers/Microsoft.Sql/servers/sqlcrudtest-3782/restorableDroppedDatabases/sourcedb,131403269876900000"
            resourceGroupName: sqlcrudtest-8412
            serverName: sqlcrudtest-3584
            subscriptionId: '00000000-1111-2222-3333-444444444444 '
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-3782/databases/testdb
                kind: "v12.0,user"
                location: Japan East
                name: testdb
                properties:
                  collation: SQL_Latin1_General_CP1_CI_AS
                  containmentState: 2
                  creationDate: 2017-05-30T22:39:46.547Z
                  currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  defaultSecondaryLocation: Japan West
                  earliestRestoreDate: 2017-05-30T22:50:46.547Z
                  edition: Standard
                  maxSizeBytes: "268435456000"
                  readScale: Disabled
                  requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  requestedServiceObjectiveName: S0
                  serviceLevelObjective: S0
                  status: Online
                type: Microsoft.Sql/servers/databases
            "201":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-3782/databases/testdb
                kind: "v12.0,user"
                location: Japan East
                name: testdb
                properties:
                  collation: SQL_Latin1_General_CP1_CI_AS
                  containmentState: 2
                  creationDate: 2017-05-30T22:39:46.547Z
                  currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  defaultSecondaryLocation: Japan West
                  earliestRestoreDate: 2017-05-30T22:50:46.547Z
                  edition: Standard
                  maxSizeBytes: "268435456000"
                  readScale: Disabled
                  requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  requestedServiceObjectiveName: S0
                  serviceLevelObjective: S0
                  status: Online
                type: Microsoft.Sql/servers/databases
            "202": {}
        Create a database as a dropped database restore to deletion time:
          parameters:
            api-version: 2014-04-01
            databaseName: testdb
            parameters:
              location: Japan East
              properties:
                createMode: Restore
                sourceDatabaseDeletionDate: 2017-05-27T02:49:47.69Z
                sourceDatabaseId: /subscriptions/00000000-1111-2222-3333-444444444444
                  /resourceGroups/sqlcrudtest-8412/providers/Microsoft.Sql/servers/sqlcrudtest-3782/databases/sourcedb
            resourceGroupName: sqlcrudtest-8412
            serverName: sqlcrudtest-3584
            subscriptionId: '00000000-1111-2222-3333-444444444444 '
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-3782/databases/testdb
                kind: "v12.0,user"
                location: Japan East
                name: testdb
                properties:
                  collation: SQL_Latin1_General_CP1_CI_AS
                  containmentState: 2
                  creationDate: 2017-05-30T22:39:46.547Z
                  currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  defaultSecondaryLocation: Japan West
                  earliestRestoreDate: 2017-05-30T22:50:46.547Z
                  edition: Standard
                  maxSizeBytes: "268435456000"
                  readScale: Disabled
                  requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  requestedServiceObjectiveName: S0
                  serviceLevelObjective: S0
                  status: Online
                type: Microsoft.Sql/servers/databases
            "201":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-3782/databases/testdb
                kind: "v12.0,user"
                location: Japan East
                name: testdb
                properties:
                  collation: SQL_Latin1_General_CP1_CI_AS
                  containmentState: 2
                  creationDate: 2017-05-30T22:39:46.547Z
                  currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  defaultSecondaryLocation: Japan West
                  earliestRestoreDate: 2017-05-30T22:50:46.547Z
                  edition: Standard
                  maxSizeBytes: "268435456000"
                  readScale: Disabled
                  requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  requestedServiceObjectiveName: S0
                  serviceLevelObjective: S0
                  status: Online
                type: Microsoft.Sql/servers/databases
            "202": {}
        Create a database as a geo restore:
          parameters:
            api-version: 2014-04-01
            databaseName: testdb
            parameters:
              location: Japan East
              properties:
                createMode: Recovery
                sourceDatabaseId: /subscriptions/00000000-1111-2222-3333-444444444444
                  /resourceGroups/sqlcrudtest-8412/providers/Microsoft.Sql/servers/sqlcrudtest-3782/recoverableDatabases/sourcedb
            resourceGroupName: sqlcrudtest-8412
            serverName: sqlcrudtest-3584
            subscriptionId: '00000000-1111-2222-3333-444444444444 '
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-3782/databases/testdb
                kind: "v12.0,user"
                location: Japan East
                name: testdb
                properties:
                  collation: SQL_Latin1_General_CP1_CI_AS
                  containmentState: 2
                  creationDate: 2017-05-30T22:39:46.547Z
                  currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  defaultSecondaryLocation: Japan West
                  earliestRestoreDate: 2017-05-30T22:50:46.547Z
                  edition: Standard
                  maxSizeBytes: "268435456000"
                  readScale: Disabled
                  requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  requestedServiceObjectiveName: S0
                  serviceLevelObjective: S0
                  status: Online
                type: Microsoft.Sql/servers/databases
            "201":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-3782/databases/testdb
                kind: "v12.0,user"
                location: Japan East
                name: testdb
                properties:
                  collation: SQL_Latin1_General_CP1_CI_AS
                  containmentState: 2
                  creationDate: 2017-05-30T22:39:46.547Z
                  currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  defaultSecondaryLocation: Japan West
                  earliestRestoreDate: 2017-05-30T22:50:46.547Z
                  edition: Standard
                  maxSizeBytes: "268435456000"
                  readScale: Disabled
                  requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  requestedServiceObjectiveName: S0
                  serviceLevelObjective: S0
                  status: Online
                type: Microsoft.Sql/servers/databases
            "202": {}
        Create a database as a non-readable secondary:
          parameters:
            api-version: 2014-04-01
            databaseName: testdb
            parameters:
              location: Japan East
              properties:
                createMode: NonReadableSecondary
                sourceDatabaseId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-3782/databases/testdb
            resourceGroupName: sqlcrudtest-4799
            serverName: sqlcrudtest-6440
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-6440/databases/testdb
                kind: "v12.0,user"
                location: Japan East
                name: testdb
                properties:
                  collation: SQL_Latin1_General_CP1_CI_AS
                  containmentState: 2
                  creationDate: 2017-02-24T22:39:46.547Z
                  currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  defaultSecondaryLocation: Japan West
                  earliestRestoreDate: 2017-02-10T01:52:52.923Z
                  edition: Standard
                  maxSizeBytes: "268435456000"
                  readScale: Disabled
                  requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  requestedServiceObjectiveName: S0
                  serviceLevelObjective: S0
                  status: Online
                type: Microsoft.Sql/servers/databases
            "201":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-6440/databases/testdb
                kind: "v12.0,user"
                location: Japan East
                name: testdb
                properties:
                  collation: SQL_Latin1_General_CP1_CI_AS
                  containmentState: 2
                  creationDate: 2017-02-24T22:39:46.547Z
                  currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  defaultSecondaryLocation: Japan West
                  earliestRestoreDate: 2017-02-10T01:52:52.923Z
                  edition: Standard
                  maxSizeBytes: "268435456000"
                  readScale: Disabled
                  requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  requestedServiceObjectiveName: S0
                  serviceLevelObjective: S0
                  status: Online
                type: Microsoft.Sql/servers/databases
            "202": {}
        Create a database as a point in time restore:
          parameters:
            api-version: 2014-04-01
            databaseName: testdb
            parameters:
              location: Japan East
              properties:
                createMode: PointInTimeRestore
                restorePointInTime: 2017-02-16T21:24:37.467Z
                sourceDatabaseId: /subscriptions/00000000-1111-2222-3333-444444444444
                  /resourceGroups/sqlcrudtest-8412/providers/Microsoft.Sql/servers/sqlcrudtest-3782/databases/testdb
            resourceGroupName: sqlcrudtest-8412
            serverName: sqlcrudtest-3584
            subscriptionId: '00000000-1111-2222-3333-444444444444 '
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-3782/databases/testdb
                kind: "v12.0,user"
                location: Japan East
                name: testdb
                properties:
                  collation: SQL_Latin1_General_CP1_CI_AS
                  containmentState: 2
                  creationDate: 2017-02-24T22:39:46.547Z
                  currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  defaultSecondaryLocation: Japan West
                  earliestRestoreDate: 2017-02-10T01:52:52.923Z
                  edition: Standard
                  maxSizeBytes: "268435456000"
                  readScale: Disabled
                  requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  requestedServiceObjectiveName: S0
                  serviceLevelObjective: S0
                  status: Online
                type: Microsoft.Sql/servers/databases
            "201":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-3782/databases/testdb
                kind: "v12.0,user"
                location: Japan East
                name: testdb
                properties:
                  collation: SQL_Latin1_General_CP1_CI_AS
                  containmentState: 2
                  creationDate: 2017-02-24T22:39:46.547Z
                  currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  defaultSecondaryLocation: Japan West
                  earliestRestoreDate: 2017-02-10T01:52:52.923Z
                  edition: Standard
                  maxSizeBytes: "268435456000"
                  readScale: Disabled
                  requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  requestedServiceObjectiveName: S0
                  serviceLevelObjective: S0
                  status: Online
                type: Microsoft.Sql/servers/databases
            "202": {}
        Create a database as an online secondary:
          parameters:
            api-version: 2014-04-01
            databaseName: testdb
            parameters:
              location: Japan East
              properties:
                createMode: OnlineSecondary
                sourceDatabaseId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-3782/databases/testdb
            resourceGroupName: sqlcrudtest-4799
            serverName: sqlcrudtest-6440
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-3782/databases/testdb
                kind: "v12.0,user"
                location: Japan East
                name: testdb
                properties:
                  collation: SQL_Latin1_General_CP1_CI_AS
                  containmentState: 2
                  creationDate: 2017-02-24T22:39:46.547Z
                  currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  defaultSecondaryLocation: Japan West
                  earliestRestoreDate: 2017-02-10T01:52:52.923Z
                  edition: Standard
                  maxSizeBytes: "268435456000"
                  readScale: Disabled
                  requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  requestedServiceObjectiveName: S0
                  serviceLevelObjective: S0
                  status: Online
                type: Microsoft.Sql/servers/databases
            "201":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-3782/databases/testdb
                kind: "v12.0,user"
                location: Japan East
                name: testdb
                properties:
                  collation: SQL_Latin1_General_CP1_CI_AS
                  containmentState: 2
                  creationDate: 2017-02-24T22:39:46.547Z
                  currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  defaultSecondaryLocation: Japan West
                  earliestRestoreDate: 2017-02-10T01:52:52.923Z
                  edition: Standard
                  maxSizeBytes: "268435456000"
                  readScale: Disabled
                  requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  requestedServiceObjectiveName: S0
                  serviceLevelObjective: S0
                  status: Online
                type: Microsoft.Sql/servers/databases
            "202": {}
        Create a database from a long term retention backup:
          parameters:
            api-version: 2014-04-01
            databaseName: testdb
            parameters:
              location: Japan East
              properties:
                createMode: RestoreLongTermRetentionBackup
                recoveryServicesRecoveryPointResourceId: /subscriptions/00000000-1111-2222-3333-444444444444
                  /resourceGroups/sqlcrudtest-8412/providers/Microsoft.RecoveryServices/vaults/testVault/backupFabrics/Azure/protectionContainers/AzureSqlContainer;Sql;sqlcrudtest-8412;testsvr/protectedItems/AzureSqlDb;dsName;testdb;9dafcc99-7c84-4727-88ee-1a4fdb89afd7/RecoveryPoints/16043455089734
            resourceGroupName: sqlcrudtest-8412
            serverName: sqlcrudtest-3584
            subscriptionId: '00000000-1111-2222-3333-444444444444 '
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-3782/databases/testdb
                kind: "v12.0,user"
                location: Japan East
                name: testdb
                properties:
                  collation: SQL_Latin1_General_CP1_CI_AS
                  containmentState: 2
                  creationDate: 2017-05-30T22:39:46.547Z
                  currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  defaultSecondaryLocation: Japan West
                  earliestRestoreDate: 2017-05-30T22:50:46.547Z
                  edition: Standard
                  maxSizeBytes: "268435456000"
                  readScale: Disabled
                  requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  requestedServiceObjectiveName: S0
                  serviceLevelObjective: S0
                  status: Online
                type: Microsoft.Sql/servers/databases
            "201":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-3782/databases/testdb
                kind: "v12.0,user"
                location: Japan East
                name: testdb
                properties:
                  collation: SQL_Latin1_General_CP1_CI_AS
                  containmentState: 2
                  creationDate: 2017-05-30T22:39:46.547Z
                  currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  defaultSecondaryLocation: Japan West
                  earliestRestoreDate: 2017-05-30T22:50:46.547Z
                  edition: Standard
                  maxSizeBytes: "268435456000"
                  readScale: Disabled
                  requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  requestedServiceObjectiveName: S0
                  serviceLevelObjective: S0
                  status: Online
                type: Microsoft.Sql/servers/databases
            "202": {}
        Create a database max:
          parameters:
            api-version: 2014-04-01
            databaseName: testdb
            parameters:
              location: Japan East
              properties:
                collation: SQL_Latin1_General_CP1_CI_AS
                containmentState: 2
                createMode: Default
                creationDate: 2017-02-10T01:37:18.847Z
                currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                databaseId: 816c5f7e-0e36-4eec-9c51-eee7a276c14c
                defaultSecondaryLocation: Japan West
                earliestRestoreDate: 2017-02-10T01:48:08.237Z
                edition: Standard
                maxSizeBytes: "268435456000"
                readScale: Disabled
                requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                requestedServiceObjectiveName: S0
                sampleName: AdventureWorksLT
                serviceLevelObjective: S0
                status: Online
            resourceGroupName: sqlcrudtest-4799
            serverName: sqlcrudtest-6440
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-8931/providers/Microsoft.Sql/servers/sqlcrudtest-1932/databases/testdb
                kind: "v12.0,user"
                location: Japan East
                name: testdb
                properties:
                  collation: SQL_Latin1_General_CP1_CI_AS
                  containmentState: 2
                  createMode: Default
                  creationDate: 2017-02-10T01:37:18.847Z
                  currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  databaseId: 816c5f7e-0e36-4eec-9c51-eee7a276c14c
                  defaultSecondaryLocation: Japan West
                  earliestRestoreDate: 2017-02-10T01:48:08.237Z
                  edition: Standard
                  maxSizeBytes: "268435456000"
                  readScale: Disabled
                  requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  requestedServiceObjectiveName: S0
                  serviceLevelObjective: S0
                  status: Online
                type: Microsoft.Sql/servers/databases
            "201":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-8931/providers/Microsoft.Sql/servers/sqlcrudtest-1932/databases/testdb
                kind: "v12.0,user"
                location: Japan East
                name: testdb
                properties:
                  collation: SQL_Latin1_General_CP1_CI_AS
                  containmentState: 2
                  createMode: Default
                  creationDate: 2017-02-10T01:37:18.847Z
                  currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  databaseId: 816c5f7e-0e36-4eec-9c51-eee7a276c14c
                  defaultSecondaryLocation: Japan West
                  earliestRestoreDate: 2017-02-10T01:48:08.237Z
                  edition: Standard
                  maxSizeBytes: "268435456000"
                  readScale: Disabled
                  requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  requestedServiceObjectiveName: S0
                  serviceLevelObjective: S0
                  status: Online
                type: Microsoft.Sql/servers/databases
            "202": {}
        Create a database min:
          parameters:
            api-version: 2014-04-01
            databaseName: testdb
            parameters:
              location: Japan East
            resourceGroupName: sqlcrudtest-4799
            serverName: sqlcrudtest-5961
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-5961/databases/testdb
                kind: "v12.0,user"
                location: Japan East
                name: testdb
                properties:
                  collation: SQL_Latin1_General_CP1_CI_AS
                  containmentState: 2
                  creationDate: 2017-02-24T22:39:46.547Z
                  currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  defaultSecondaryLocation: Japan West
                  earliestRestoreDate: 2017-02-10T01:52:52.923Z
                  edition: Standard
                  maxSizeBytes: "268435456000"
                  readScale: Disabled
                  requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  requestedServiceObjectiveName: S0
                  serviceLevelObjective: S0
                  status: Online
                type: Microsoft.Sql/servers/databases
            "201":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-5961/databases/testdb
                kind: "v12.0,user"
                location: Japan East
                name: testdb
                properties:
                  collation: SQL_Latin1_General_CP1_CI_AS
                  containmentState: 2
                  creationDate: 2017-02-24T22:39:46.547Z
                  currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  defaultSecondaryLocation: Japan West
                  earliestRestoreDate: 2017-02-10T01:52:52.923Z
                  edition: Standard
                  maxSizeBytes: "268435456000"
                  readScale: Disabled
                  requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  requestedServiceObjectiveName: S0
                  serviceLevelObjective: S0
                  status: Online
                type: Microsoft.Sql/servers/databases
            "202": {}
        Update a database max:
          parameters:
            api-version: 2014-04-01
            databaseName: testdb
            parameters:
              location: Japan East
              properties:
                collation: SQL_Latin1_General_CP1_CI_AS
                containmentState: 2
                createMode: Default
                currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                defaultSecondaryLocation: Japan West
                earliestRestoreDate: 2017-02-10T01:52:52.923Z
                edition: Standard
                maxSizeBytes: "268435456000"
                readScale: Disabled
                requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                requestedServiceObjectiveName: S0
                serviceLevelObjective: S0
                status: Online
            resourceGroupName: sqlcrudtest-4799
            serverName: sqlcrudtest-5961
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-5961/databases/testdb
                kind: "v12.0,user"
                location: Japan East
                name: testdb
                properties:
                  collation: SQL_Latin1_General_CP1_CI_AS
                  containmentState: 2
                  creationDate: 2017-02-24T22:39:46.547Z
                  currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  defaultSecondaryLocation: Japan West
                  earliestRestoreDate: 2017-02-10T01:52:52.923Z
                  edition: Standard
                  maxSizeBytes: "268435456000"
                  readScale: Disabled
                  requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  requestedServiceObjectiveName: S0
                  serviceLevelObjective: S0
                  status: Online
                type: Microsoft.Sql/servers/databases
            "201":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-5961/databases/testdb
                kind: "v12.0,user"
                location: Japan East
                name: testdb
                properties:
                  collation: SQL_Latin1_General_CP1_CI_AS
                  containmentState: 2
                  creationDate: 2017-02-24T22:39:46.547Z
                  currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  defaultSecondaryLocation: Japan West
                  earliestRestoreDate: 2017-02-10T01:52:52.923Z
                  edition: Standard
                  maxSizeBytes: "268435456000"
                  readScale: Disabled
                  requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  requestedServiceObjectiveName: S0
                  serviceLevelObjective: S0
                  status: Online
                type: Microsoft.Sql/servers/databases
            "202": {}
        Update a database's elastic pool':
          parameters:
            api-version: 2014-04-01
            databaseName: testdb
            parameters:
              location: Japan East
              properties:
                elasticPoolName: "7537"
            resourceGroupName: sqlcrudtest-4799
            serverName: sqlcrudtest-6440
            subscriptionId: 9d4e2ad0-e20b-4464-9219-353bded52513
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-6440/databases/testdb
                kind: "v12.0,user"
                location: Japan East
                name: testdb
                properties:
                  collation: SQL_Latin1_General_CP1_CI_AS
                  containmentState: 2
                  currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  defaultSecondaryLocation: Japan West
                  earliestRestoreDate: 2017-02-10T01:52:52.923Z
                  edition: Standard
                  maxSizeBytes: "268435456000"
                  readScale: Disabled
                  requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  requestedServiceObjectiveName: S0
                  serviceLevelObjective: S0
                  status: Online
                type: Microsoft.Sql/servers/databases
            "201":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-6440/databases/testdb
                kind: "v12.0,user"
                location: Japan East
                name: testdb
                properties:
                  collation: SQL_Latin1_General_CP1_CI_AS
                  containmentState: 2
                  currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  defaultSecondaryLocation: Japan West
                  earliestRestoreDate: 2017-02-10T01:52:52.923Z
                  edition: Standard
                  maxSizeBytes: "268435456000"
                  readScale: Disabled
                  requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  requestedServiceObjectiveName: S0
                  serviceLevelObjective: S0
                  status: Online
                type: Microsoft.Sql/servers/databases
            "202": {}
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.databases_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/pause
  : post:
      description: Pauses a data warehouse.
      operationId: databases_pause
      parameters:
      - description: The API version to use for the request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: server_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the data warehouse to pause.
        in: path
        name: databaseName
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "202":
          content: {}
          description: Accepted
      tags:
      - DatabaseActivation
      x-ms-examples:
        Pause a data warehouse:
          parameters:
            api-version: 2014-04-01
            databaseName: sqlcrudtest-9187
            resourceGroupName: sqlcrudtest-6852
            serverName: sqlcrudtest-2080
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200": {}
            "202": {}
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.database_activation_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/resume
  : post:
      description: Resumes a data warehouse.
      operationId: databases_resume
      parameters:
      - description: The API version to use for the request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: server_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the data warehouse to resume.
        in: path
        name: databaseName
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "202":
          content: {}
          description: Accepted
      tags:
      - DatabaseActivation
      x-ms-examples:
        Resume a data warehouse:
          parameters:
            api-version: 2014-04-01
            databaseName: sqlcrudtest-9187
            resourceGroupName: sqlcrudtest-6852
            serverName: sqlcrudtest-2080
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200": {}
            "202": {}
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.database_activation_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/elasticPools/{elasticPoolName}/databases
  : get:
      description: Returns a list of databases in an elastic pool.
      operationId: databases_list_by_elastic_pool
      parameters:
      - description: The API version to use for the request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: server_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the elastic pool to be retrieved.
        in: path
        name: elasticPoolName
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatabaseListResult'
          description: OK
      tags:
      - Databases
      x-ms-examples:
        Gets databases in an elastic pool:
          parameters:
            api-version: 2014-04-01
            elasticPoolName: sqlcrudtest-7745
            resourceGroupName: sqlcrudtest-6845
            serverName: sqlcrudtest-7177
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6845/providers/Microsoft.Sql/servers/sqlcrudtest-7177/databases/master
                  kind: "v12.0,system"
                  location: Japan East
                  name: master
                  properties:
                    collation: SQL_Latin1_General_CP1_CI_AS
                    containmentState: 2
                    creationDate: 2017-02-10T00:59:33.483Z
                    currentServiceObjectiveId: 620323bf-2879-4807-b30d-c2e6d7b3b3aa
                    databaseId: e760a51c-3dce-4d8c-976b-a2b929a73e08
                    defaultSecondaryLocation: Japan West
                    edition: System
                    maxSizeBytes: "32212254720"
                    readScale: Disabled
                    requestedServiceObjectiveId: 620323bf-2879-4807-b30d-c2e6d7b3b3aa
                    requestedServiceObjectiveName: System2
                    serviceLevelObjective: System2
                    status: Online
                  type: Microsoft.Sql/servers/databases
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6845/providers/Microsoft.Sql/servers/sqlcrudtest-7177/databases/sqlcrudtest-1142
                  kind: "v12.0,user"
                  location: Japan East
                  name: sqlcrudtest-1142
                  properties:
                    collation: SQL_Latin1_General_CP1_CI_AS
                    containmentState: 2
                    creationDate: 2017-02-10T01:03:34.04Z
                    currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                    databaseId: 11c1813c-52db-4d17-95d7-119eda1850b1
                    defaultSecondaryLocation: Japan West
                    earliestRestoreDate: 2017-02-10T01:14:10.233Z
                    edition: Standard
                    maxSizeBytes: "268435456000"
                    readScale: Disabled
                    requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                    requestedServiceObjectiveName: S0
                    serviceLevelObjective: S0
                    status: Online
                  type: Microsoft.Sql/servers/databases
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6845/providers/Microsoft.Sql/servers/sqlcrudtest-7177/databases/sqlcrudtest-2788
                  kind: "v12.0,user"
                  location: Japan East
                  name: sqlcrudtest-2788
                  properties:
                    collation: SQL_Latin1_General_CP1_CI_AS
                    containmentState: 2
                    creationDate: 2017-02-10T01:00:21.067Z
                    currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                    databaseId: d63e118b-41cf-49b9-8dac-aa6ef6f91731
                    defaultSecondaryLocation: Japan West
                    earliestRestoreDate: 2017-02-10T01:10:52.25Z
                    edition: Standard
                    maxSizeBytes: "268435456000"
                    readScale: Disabled
                    requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                    requestedServiceObjectiveName: S0
                    serviceLevelObjective: S0
                    status: Online
                  type: Microsoft.Sql/servers/databases
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6845/providers/Microsoft.Sql/servers/sqlcrudtest-7177/databases/sqlcrudtest-6877
                  kind: "v12.0,user"
                  location: Japan East
                  name: sqlcrudtest-6877
                  properties:
                    collation: SQL_Latin1_General_CP1_CI_AS
                    containmentState: 2
                    creationDate: 2017-02-10T01:02:28.853Z
                    currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                    databaseId: 40ac16e8-855c-439c-b495-c97e918a771c
                    defaultSecondaryLocation: Japan West
                    earliestRestoreDate: 2017-02-10T01:13:21.66Z
                    edition: Standard
                    maxSizeBytes: "268435456000"
                    readScale: Disabled
                    requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                    requestedServiceObjectiveName: S0
                    serviceLevelObjective: S0
                    status: Online
                  type: Microsoft.Sql/servers/databases
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6845/providers/Microsoft.Sql/servers/sqlcrudtest-7177/databases/sqlcrudtest-9888
                  kind: "v12.0,user"
                  location: Japan East
                  name: sqlcrudtest-9888
                  properties:
                    collation: SQL_Latin1_General_CP1_CI_AS
                    containmentState: 2
                    creationDate: 2017-02-10T01:01:25.347Z
                    currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                    databaseId: 59daf4ad-082f-4ac5-b38a-ed656b937980
                    defaultSecondaryLocation: Japan West
                    earliestRestoreDate: 2017-02-10T01:12:05.303Z
                    edition: Standard
                    maxSizeBytes: "268435456000"
                    readScale: Disabled
                    requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                    requestedServiceObjectiveName: S0
                    serviceLevelObjective: S0
                    status: Online
                  type: Microsoft.Sql/servers/databases
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.databases_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/elasticPools/{elasticPoolName}/databases/{databaseName}
  : get:
      description: Gets a database inside of an elastic pool.
      operationId: databases_get_by_elastic_pool
      parameters:
      - description: The API version to use for the request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: server_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the elastic pool to be retrieved.
        in: path
        name: elasticPoolName
        required: true
        schema:
          type: string
      - description: The name of the database to be retrieved.
        in: path
        name: databaseName
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Database'
          description: OK
      tags:
      - ElasticPools
      x-ms-examples:
        Get a database in an elastic pool:
          parameters:
            api-version: 2014-04-01
            databaseName: sqlcrudtest-9187
            elasticPoolName: sqlcrudtest-7745
            resourceGroupName: sqlcrudtest-6852
            serverName: sqlcrudtest-2080
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6852/providers/Microsoft.Sql/servers/sqlcrudtest-2080/databases/sqlcrudtest-9187
                kind: "v12.0,user"
                location: Japan East
                name: sqlcrudtest-9187
                properties:
                  collation: SQL_Latin1_General_CP1_CI_AS
                  containmentState: 2
                  creationDate: 2017-02-10T00:56:19.2Z
                  currentServiceObjectiveId: dd6d99bb-f193-4ec1-86f2-43d3bccbc49c
                  databaseId: 200216b2-dc19-4866-85aa-f73fe4a1ebac
                  defaultSecondaryLocation: Japan West
                  earliestRestoreDate: 2017-02-10T01:06:29.78Z
                  edition: Basic
                  maxSizeBytes: "2147483648"
                  readScale: Disabled
                  requestedServiceObjectiveId: dd6d99bb-f193-4ec1-86f2-43d3bccbc49c
                  requestedServiceObjectiveName: Basic
                  serviceLevelObjective: Basic
                  status: Online
                tags:
                  tagKey1: TagValue1
                type: Microsoft.Sql/servers/databases
      x-openapi-router-controller: openapi_server.controllers.elastic_pools_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/recommendedElasticPools/{recommendedElasticPoolName}/databases
  : get:
      description: Returns a list of databases inside a recommended elastic pool.
      operationId: databases_list_by_recommended_elastic_pool
      parameters:
      - description: The API version to use for the request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: server_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the recommended elastic pool to be retrieved.
        in: path
        name: recommendedElasticPoolName
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatabaseListResult'
          description: OK
      tags:
      - Databases
      x-ms-examples:
        Gets databases in an elastic pool:
          parameters:
            api-version: 2014-04-01
            recommendedElasticPoolName: sqlcrudtest-7745
            resourceGroupName: sqlcrudtest-6845
            serverName: sqlcrudtest-7177
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6845/providers/Microsoft.Sql/servers/sqlcrudtest-7177/databases/master
                  kind: "v12.0,system"
                  location: Japan East
                  name: master
                  properties:
                    collation: SQL_Latin1_General_CP1_CI_AS
                    containmentState: 2
                    creationDate: 2017-02-10T00:59:33.483Z
                    currentServiceObjectiveId: 620323bf-2879-4807-b30d-c2e6d7b3b3aa
                    databaseId: e760a51c-3dce-4d8c-976b-a2b929a73e08
                    defaultSecondaryLocation: Japan West
                    edition: System
                    maxSizeBytes: "32212254720"
                    readScale: Disabled
                    requestedServiceObjectiveId: 620323bf-2879-4807-b30d-c2e6d7b3b3aa
                    requestedServiceObjectiveName: System2
                    serviceLevelObjective: System2
                    status: Online
                  type: Microsoft.Sql/servers/databases
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6845/providers/Microsoft.Sql/servers/sqlcrudtest-7177/databases/sqlcrudtest-1142
                  kind: "v12.0,user"
                  location: Japan East
                  name: sqlcrudtest-1142
                  properties:
                    collation: SQL_Latin1_General_CP1_CI_AS
                    containmentState: 2
                    creationDate: 2017-02-10T01:03:34.04Z
                    currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                    databaseId: 11c1813c-52db-4d17-95d7-119eda1850b1
                    defaultSecondaryLocation: Japan West
                    earliestRestoreDate: 2017-02-10T01:14:10.233Z
                    edition: Standard
                    maxSizeBytes: "268435456000"
                    readScale: Disabled
                    requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                    requestedServiceObjectiveName: S0
                    serviceLevelObjective: S0
                    status: Online
                  type: Microsoft.Sql/servers/databases
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6845/providers/Microsoft.Sql/servers/sqlcrudtest-7177/databases/sqlcrudtest-2788
                  kind: "v12.0,user"
                  location: Japan East
                  name: sqlcrudtest-2788
                  properties:
                    collation: SQL_Latin1_General_CP1_CI_AS
                    containmentState: 2
                    creationDate: 2017-02-10T01:00:21.067Z
                    currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                    databaseId: d63e118b-41cf-49b9-8dac-aa6ef6f91731
                    defaultSecondaryLocation: Japan West
                    earliestRestoreDate: 2017-02-10T01:10:52.25Z
                    edition: Standard
                    maxSizeBytes: "268435456000"
                    readScale: Disabled
                    requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                    requestedServiceObjectiveName: S0
                    serviceLevelObjective: S0
                    status: Online
                  type: Microsoft.Sql/servers/databases
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6845/providers/Microsoft.Sql/servers/sqlcrudtest-7177/databases/sqlcrudtest-6877
                  kind: "v12.0,user"
                  location: Japan East
                  name: sqlcrudtest-6877
                  properties:
                    collation: SQL_Latin1_General_CP1_CI_AS
                    containmentState: 2
                    creationDate: 2017-02-10T01:02:28.853Z
                    currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                    databaseId: 40ac16e8-855c-439c-b495-c97e918a771c
                    defaultSecondaryLocation: Japan West
                    earliestRestoreDate: 2017-02-10T01:13:21.66Z
                    edition: Standard
                    maxSizeBytes: "268435456000"
                    readScale: Disabled
                    requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                    requestedServiceObjectiveName: S0
                    serviceLevelObjective: S0
                    status: Online
                  type: Microsoft.Sql/servers/databases
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6845/providers/Microsoft.Sql/servers/sqlcrudtest-7177/databases/sqlcrudtest-9888
                  kind: "v12.0,user"
                  location: Japan East
                  name: sqlcrudtest-9888
                  properties:
                    collation: SQL_Latin1_General_CP1_CI_AS
                    containmentState: 2
                    creationDate: 2017-02-10T01:01:25.347Z
                    currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                    databaseId: 59daf4ad-082f-4ac5-b38a-ed656b937980
                    defaultSecondaryLocation: Japan West
                    earliestRestoreDate: 2017-02-10T01:12:05.303Z
                    edition: Standard
                    maxSizeBytes: "268435456000"
                    readScale: Disabled
                    requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                    requestedServiceObjectiveName: S0
                    serviceLevelObjective: S0
                    status: Online
                  type: Microsoft.Sql/servers/databases
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.databases_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/recommendedElasticPools/{recommendedElasticPoolName}/databases/{databaseName}
  : get:
      description: Gets a database inside of a recommended elastic pool.
      operationId: databases_get_by_recommended_elastic_pool
      parameters:
      - description: The API version to use for the request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: server_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the elastic pool to be retrieved.
        in: path
        name: recommendedElasticPoolName
        required: true
        schema:
          type: string
      - description: The name of the database to be retrieved.
        in: path
        name: databaseName
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Database'
          description: OK
      tags:
      - Databases
      x-ms-examples:
        Get a database in a recommended elastic pool:
          parameters:
            api-version: 2014-04-01
            databaseName: sqlcrudtest-9187
            recommendedElasticPoolName: sqlcrudtest-7745
            resourceGroupName: sqlcrudtest-6852
            serverName: sqlcrudtest-2080
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6852/providers/Microsoft.Sql/servers/sqlcrudtest-2080/databases/sqlcrudtest-9187
                kind: "v12.0,user"
                location: Japan East
                name: sqlcrudtest-9187
                properties:
                  collation: SQL_Latin1_General_CP1_CI_AS
                  containmentState: 2
                  creationDate: 2017-02-10T00:56:19.2Z
                  currentServiceObjectiveId: dd6d99bb-f193-4ec1-86f2-43d3bccbc49c
                  databaseId: 200216b2-dc19-4866-85aa-f73fe4a1ebac
                  defaultSecondaryLocation: Japan West
                  earliestRestoreDate: 2017-02-10T01:06:29.78Z
                  edition: Basic
                  maxSizeBytes: "2147483648"
                  readScale: Disabled
                  requestedServiceObjectiveId: dd6d99bb-f193-4ec1-86f2-43d3bccbc49c
                  requestedServiceObjectiveName: Basic
                  serviceLevelObjective: Basic
                  status: Online
                tags:
                  tagKey1: TagValue1
                type: Microsoft.Sql/servers/databases
      x-openapi-router-controller: openapi_server.controllers.databases_controller
components:
  parameters:
    DatabaseExpandParameter:
      description: "A comma separated list of child objects to expand in the response.\
        \ Possible properties: serviceTierAdvisors, transparentDataEncryption."
      in: query
      name: $expand
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ServerNameParameter:
      description: The name of the server.
      in: path
      name: serverName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    TransparentDataEncryptionNameParameter:
      description: The name of the transparent data encryption configuration.
      in: path
      name: transparentDataEncryptionName
      required: true
      schema:
        enum:
        - current
        type: string
        x-ms-enum:
          modelAsString: true
          name: TransparentDataEncryptionName
        x-ms-parameter-location: method
      x-ms-enum:
        modelAsString: true
        name: TransparentDataEncryptionName
      x-ms-parameter-location: method
  schemas:
    Database:
      allOf:
      - allOf:
        - description: ARM resource.
          properties:
            id:
              description: Resource ID.
              readOnly: true
              type: string
            name:
              description: Resource name.
              readOnly: true
              type: string
            type:
              description: Resource type.
              readOnly: true
              type: string
          type: object
          x-ms-azure-resource: true
        description: ARM tracked top level resource.
        properties:
          location:
            description: Resource location.
            type: string
            x-ms-mutability:
            - read
            - create
          tags:
            additionalProperties:
              type: string
            description: Resource tags.
            type: object
        required:
        - location
      description: Represents a database.
      example:
        kind: kind
        properties:
          elasticPoolName: elasticPoolName
          sourceDatabaseDeletionDate: 2000-01-23T04:56:07.000+00:00
          edition: Web
          failoverGroupId: failoverGroupId
          currentServiceObjectiveId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          recommendedIndex:
          - properties:
              reportedImpact:
              - unit: unit
                changeValueRelative: 1.4658129805029452
                name: name
                changeValueAbsolute: 6.027456183070403
              - unit: unit
                changeValueRelative: 1.4658129805029452
                name: name
                changeValueAbsolute: 6.027456183070403
              schema: schema
              estimatedImpact:
              - unit: unit
                changeValueRelative: 1.4658129805029452
                name: name
                changeValueAbsolute: 6.027456183070403
              - unit: unit
                changeValueRelative: 1.4658129805029452
                name: name
                changeValueAbsolute: 6.027456183070403
              indexType: CLUSTERED
              columns:
              - columns
              - columns
              created: 2000-01-23T04:56:07.000+00:00
              includedColumns:
              - includedColumns
              - includedColumns
              action: Create
              indexScript: indexScript
              lastModified: 2000-01-23T04:56:07.000+00:00
              state: Active
              table: table
          - properties:
              reportedImpact:
              - unit: unit
                changeValueRelative: 1.4658129805029452
                name: name
                changeValueAbsolute: 6.027456183070403
              - unit: unit
                changeValueRelative: 1.4658129805029452
                name: name
                changeValueAbsolute: 6.027456183070403
              schema: schema
              estimatedImpact:
              - unit: unit
                changeValueRelative: 1.4658129805029452
                name: name
                changeValueAbsolute: 6.027456183070403
              - unit: unit
                changeValueRelative: 1.4658129805029452
                name: name
                changeValueAbsolute: 6.027456183070403
              indexType: CLUSTERED
              columns:
              - columns
              - columns
              created: 2000-01-23T04:56:07.000+00:00
              includedColumns:
              - includedColumns
              - includedColumns
              action: Create
              indexScript: indexScript
              lastModified: 2000-01-23T04:56:07.000+00:00
              state: Active
              table: table
          restorePointInTime: 2000-01-23T04:56:07.000+00:00
          sampleName: AdventureWorksLT
          maxSizeBytes: maxSizeBytes
          defaultSecondaryLocation: defaultSecondaryLocation
          collation: collation
          databaseId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          earliestRestoreDate: 2000-01-23T04:56:07.000+00:00
          requestedServiceObjectiveName: System
          transparentDataEncryption:
          - location: location
            properties:
              status: Enabled
          - location: location
            properties:
              status: Enabled
          serviceTierAdvisors:
          - properties:
              currentServiceLevelObjective: currentServiceLevelObjective
              databaseSizeBasedRecommendationServiceLevelObjective: databaseSizeBasedRecommendationServiceLevelObjective
              overallRecommendationServiceLevelObjective: overallRecommendationServiceLevelObjective
              avgDtu: 5.637376656633329
              confidence: 2.3021358869347655
              overallRecommendationServiceLevelObjectiveId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              minDtu: 3.616076749251911
              disasterPlanBasedRecommendationServiceLevelObjectiveId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              usageBasedRecommendationServiceLevelObjectiveId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              maxDtu: 7.061401241503109
              serviceLevelObjectiveUsageMetrics:
              - serviceLevelObjectiveId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                serviceLevelObjective: System
                inRangeTimeRatio: 2.027123023002322
              - serviceLevelObjectiveId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                serviceLevelObjective: System
                inRangeTimeRatio: 2.027123023002322
              observationPeriodEnd: 2000-01-23T04:56:07.000+00:00
              activeTimeRatio: 5.962133916683182
              databaseSizeBasedRecommendationServiceLevelObjectiveId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              currentServiceLevelObjectiveId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              disasterPlanBasedRecommendationServiceLevelObjective: disasterPlanBasedRecommendationServiceLevelObjective
              observationPeriodStart: 2000-01-23T04:56:07.000+00:00
              maxSizeInGB: 9.301444243932576
              usageBasedRecommendationServiceLevelObjective: usageBasedRecommendationServiceLevelObjective
          - properties:
              currentServiceLevelObjective: currentServiceLevelObjective
              databaseSizeBasedRecommendationServiceLevelObjective: databaseSizeBasedRecommendationServiceLevelObjective
              overallRecommendationServiceLevelObjective: overallRecommendationServiceLevelObjective
              avgDtu: 5.637376656633329
              confidence: 2.3021358869347655
              overallRecommendationServiceLevelObjectiveId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              minDtu: 3.616076749251911
              disasterPlanBasedRecommendationServiceLevelObjectiveId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              usageBasedRecommendationServiceLevelObjectiveId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              maxDtu: 7.061401241503109
              serviceLevelObjectiveUsageMetrics:
              - serviceLevelObjectiveId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                serviceLevelObjective: System
                inRangeTimeRatio: 2.027123023002322
              - serviceLevelObjectiveId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                serviceLevelObjective: System
                inRangeTimeRatio: 2.027123023002322
              observationPeriodEnd: 2000-01-23T04:56:07.000+00:00
              activeTimeRatio: 5.962133916683182
              databaseSizeBasedRecommendationServiceLevelObjectiveId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              currentServiceLevelObjectiveId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              disasterPlanBasedRecommendationServiceLevelObjective: disasterPlanBasedRecommendationServiceLevelObjective
              observationPeriodStart: 2000-01-23T04:56:07.000+00:00
              maxSizeInGB: 9.301444243932576
              usageBasedRecommendationServiceLevelObjective: usageBasedRecommendationServiceLevelObjective
          readScale: Enabled
          createMode: Copy
          zoneRedundant: true
          creationDate: 2000-01-23T04:56:07.000+00:00
          serviceLevelObjective: System
          sourceDatabaseId: sourceDatabaseId
          recoveryServicesRecoveryPointResourceId: recoveryServicesRecoveryPointResourceId
          containmentState: 0
          requestedServiceObjectiveId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          status: status
      properties:
        kind:
          description: Kind of database.  This is metadata used for the Azure portal
            experience.
          readOnly: true
          title: kind
          type: string
        properties:
          $ref: '#/components/schemas/DatabaseProperties'
      title: Database
    DatabaseListResult:
      description: Represents the response to a list database request.
      example:
        value:
        - kind: kind
          properties:
            elasticPoolName: elasticPoolName
            sourceDatabaseDeletionDate: 2000-01-23T04:56:07.000+00:00
            edition: Web
            failoverGroupId: failoverGroupId
            currentServiceObjectiveId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            recommendedIndex:
            - properties:
                reportedImpact:
                - unit: unit
                  changeValueRelative: 1.4658129805029452
                  name: name
                  changeValueAbsolute: 6.027456183070403
                - unit: unit
                  changeValueRelative: 1.4658129805029452
                  name: name
                  changeValueAbsolute: 6.027456183070403
                schema: schema
                estimatedImpact:
                - unit: unit
                  changeValueRelative: 1.4658129805029452
                  name: name
                  changeValueAbsolute: 6.027456183070403
                - unit: unit
                  changeValueRelative: 1.4658129805029452
                  name: name
                  changeValueAbsolute: 6.027456183070403
                indexType: CLUSTERED
                columns:
                - columns
                - columns
                created: 2000-01-23T04:56:07.000+00:00
                includedColumns:
                - includedColumns
                - includedColumns
                action: Create
                indexScript: indexScript
                lastModified: 2000-01-23T04:56:07.000+00:00
                state: Active
                table: table
            - properties:
                reportedImpact:
                - unit: unit
                  changeValueRelative: 1.4658129805029452
                  name: name
                  changeValueAbsolute: 6.027456183070403
                - unit: unit
                  changeValueRelative: 1.4658129805029452
                  name: name
                  changeValueAbsolute: 6.027456183070403
                schema: schema
                estimatedImpact:
                - unit: unit
                  changeValueRelative: 1.4658129805029452
                  name: name
                  changeValueAbsolute: 6.027456183070403
                - unit: unit
                  changeValueRelative: 1.4658129805029452
                  name: name
                  changeValueAbsolute: 6.027456183070403
                indexType: CLUSTERED
                columns:
                - columns
                - columns
                created: 2000-01-23T04:56:07.000+00:00
                includedColumns:
[...]
