openapi: 3.0.0
info:
  title: Healthcare
  version: 1.0.0
  x-apisguru-categories:
  - open_data
  x-logo:
    url: https://www.healthcare.gov/images/logo.png
  x-origin:
  - format: openapi
    url: https://raw.githubusercontent.com/APIs-guru/unofficial_openapi_specs/master/healthcare.gov/1.0.0/swagger.yaml
    version: "3.0"
  x-providerName: healthcare.gov
  x-unofficialSpec: true
externalDocs:
  url: https://www.healthcare.gov/developers/
servers:
- url: https://www.healthcare.gov
paths:
  /api/articles{mediaTypeExtension}:
    get:
      description: Returns pages content.
      operationId: api_articlesmedia_type_extension_get
      parameters:
      - description: Omiting the param causes html to be returned.
        explode: false
        in: path
        name: mediaTypeExtension
        required: true
        schema:
          enum:
          - .json
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/articlesList'
          description: OK
        "404":
          description: Resource not found.
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /api/blog{mediaTypeExtension}:
    get:
      description: Returns pages content.
      operationId: api_blogmedia_type_extension_get
      parameters:
      - description: Omiting the param causes html to be returned.
        explode: false
        in: path
        name: mediaTypeExtension
        required: true
        schema:
          enum:
          - .json
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/blogList'
          description: OK
        "404":
          description: Resource not found.
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /api/glossary{mediaTypeExtension}:
    get:
      description: Returns pages content.
      operationId: api_glossarymedia_type_extension_get
      parameters:
      - description: Omiting the param causes html to be returned.
        explode: false
        in: path
        name: mediaTypeExtension
        required: true
        schema:
          enum:
          - .json
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/glossaryList'
          description: OK
        "404":
          description: Resource not found.
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /api/questions{mediaTypeExtension}:
    get:
      description: Returns pages content.
      operationId: api_questionsmedia_type_extension_get
      parameters:
      - description: Omiting the param causes html to be returned.
        explode: false
        in: path
        name: mediaTypeExtension
        required: true
        schema:
          enum:
          - .json
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/questionsList'
          description: OK
        "404":
          description: Resource not found.
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /api/states{mediaTypeExtension}:
    get:
      description: Returns pages content.
      operationId: api_statesmedia_type_extension_get
      parameters:
      - description: Omiting the param causes html to be returned.
        explode: false
        in: path
        name: mediaTypeExtension
        required: true
        schema:
          enum:
          - .json
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/statesList'
          description: OK
        "404":
          description: Resource not found.
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /api/topics{mediaTypeExtension}:
    get:
      description: Returns pages content.
      operationId: api_topicsmedia_type_extension_get
      parameters:
      - description: Omiting the param causes html to be returned.
        explode: false
        in: path
        name: mediaTypeExtension
        required: true
        schema:
          enum:
          - .json
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/topicsList'
          description: OK
        "404":
          description: Resource not found.
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /blog/{pageName}{mediaTypeExtension}:
    get:
      description: Returns pages content.
      operationId: blog_page_namemedia_type_extension_get
      parameters:
      - description: Omiting the param causes html to be returned.
        explode: false
        in: path
        name: mediaTypeExtension
        required: true
        schema:
          enum:
          - .json
          type: string
        style: simple
      - explode: false
        in: path
        name: pageName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/html:
              schema:
                $ref: '#/components/schemas/blogPage'
          description: OK
        "404":
          description: Resource not found.
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /es/blog/{pageName}{mediaTypeExtension}:
    get:
      description: Returns pages content.
      operationId: es_blog_page_namemedia_type_extension_get
      parameters:
      - description: Omiting the param causes html to be returned.
        explode: false
        in: path
        name: mediaTypeExtension
        required: true
        schema:
          enum:
          - .json
          type: string
        style: simple
      - explode: false
        in: path
        name: pageName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/html:
              schema:
                $ref: '#/components/schemas/blogPage'
          description: OK
        "404":
          description: Resource not found.
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /es/glossary/{pageName}{mediaTypeExtension}:
    get:
      description: Returns pages content.
      operationId: es_glossary_page_namemedia_type_extension_get
      parameters:
      - description: Omiting the param causes html to be returned.
        explode: false
        in: path
        name: mediaTypeExtension
        required: true
        schema:
          enum:
          - .json
          type: string
        style: simple
      - explode: false
        in: path
        name: pageName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/html:
              schema:
                $ref: '#/components/schemas/glossaryPage'
          description: OK
        "404":
          description: Resource not found.
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /es/question/{pageName}{mediaTypeExtension}:
    get:
      description: Returns pages content.
      operationId: es_question_page_namemedia_type_extension_get
      parameters:
      - description: Omiting the param causes html to be returned.
        explode: false
        in: path
        name: mediaTypeExtension
        required: true
        schema:
          enum:
          - .json
          type: string
        style: simple
      - explode: false
        in: path
        name: pageName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/questionPage'
          description: OK
        "404":
          description: Resource not found.
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /es/{pageName}{mediaTypeExtension}:
    get:
      description: Returns pages content.
      operationId: es_page_namemedia_type_extension_get
      parameters:
      - description: Omiting the param causes html to be returned.
        explode: false
        in: path
        name: mediaTypeExtension
        required: true
        schema:
          enum:
          - .json
          type: string
        style: simple
      - explode: false
        in: path
        name: pageName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/html:
              schema:
                $ref: '#/components/schemas/page'
          description: OK
        "404":
          description: Resource not found.
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /es/{stateName}{mediaTypeExtension}:
    get:
      description: Returns pages content.
      operationId: es_state_namemedia_type_extension_get
      parameters:
      - description: Omiting the param causes html to be returned.
        explode: false
        in: path
        name: mediaTypeExtension
        required: true
        schema:
          enum:
          - .json
          type: string
        style: simple
      - explode: false
        in: path
        name: stateName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/statePage'
          description: OK
        "404":
          description: Resource not found.
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /glossary/{pageName}{mediaTypeExtension}:
    get:
      description: Returns pages content.
      operationId: glossary_page_namemedia_type_extension_get
      parameters:
      - description: Omiting the param causes html to be returned.
        explode: false
        in: path
        name: mediaTypeExtension
        required: true
        schema:
          enum:
          - .json
          type: string
        style: simple
      - explode: false
        in: path
        name: pageName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/html:
              schema:
                $ref: '#/components/schemas/glossaryPage'
          description: OK
        "404":
          description: Resource not found.
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /question/{pageName}{mediaTypeExtension}:
    get:
      description: Returns pages content.
      operationId: question_page_namemedia_type_extension_get
      parameters:
      - description: Omiting the param causes html to be returned.
        explode: false
        in: path
        name: mediaTypeExtension
        required: true
        schema:
          enum:
          - .json
          type: string
        style: simple
      - explode: false
        in: path
        name: pageName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/questionPage'
          description: OK
        "404":
          description: Resource not found.
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{pageName}{mediaTypeExtension}:
    get:
      description: Returns pages content.
      operationId: page_namemedia_type_extension_get
      parameters:
      - description: Omiting the param causes html to be returned.
        explode: false
        in: path
        name: mediaTypeExtension
        required: true
        schema:
          enum:
          - .json
          type: string
        style: simple
      - explode: false
        in: path
        name: pageName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/html:
              schema:
                $ref: '#/components/schemas/page'
          description: OK
        "404":
          description: Resource not found.
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{stateName}{mediaTypeExtension}:
    get:
      description: Returns pages content.
      operationId: state_namemedia_type_extension_get
      parameters:
      - description: Omiting the param causes html to be returned.
        explode: false
        in: path
        name: mediaTypeExtension
        required: true
        schema:
          enum:
          - .json
          type: string
        style: simple
      - explode: false
        in: path
        name: stateName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/statePage'
          description: OK
        "404":
          description: Resource not found.
      x-openapi-router-controller: openapi_server.controllers.default_controller
components:
  schemas:
    articlesList:
      example:
        articles:
        - date: date
          title-short: title-short
          featured: true
          topics:
          - - topics
            - topics
          - - topics
            - topics
          published: true
          sort: 0.8008281904610115
          title: title
          content: content
          url: url
          seo-keywords: seo-keywords
          tags:
          - - ""
            - ""
          - - ""
            - ""
          layout: layout
          path: path
          meta-description: meta-description
          related:
          - - related
            - related
          - - related
            - related
          bite: bite
          meta-title: meta-title
          categories:
          - - categories
            - categories
          - - categories
            - categories
          id: id
          excerpt: excerpt
          lang: lang
        - date: date
          title-short: title-short
          featured: true
          topics:
          - - topics
            - topics
          - - topics
            - topics
          published: true
          sort: 0.8008281904610115
          title: title
          content: content
          url: url
          seo-keywords: seo-keywords
          tags:
          - - ""
            - ""
          - - ""
            - ""
          layout: layout
          path: path
          meta-description: meta-description
          related:
          - - related
            - related
          - - related
            - related
          bite: bite
          meta-title: meta-title
          categories:
          - - categories
            - categories
          - - categories
            - categories
          id: id
          excerpt: excerpt
          lang: lang
      properties:
        articles:
          items:
            $ref: '#/components/schemas/articlesList_articles_inner'
          title: articles
          type: array
      title: articlesList
      type: object
    blogList:
      example:
        blog:
        - - date: date
            topics:
            - - topics
              - topics
            - - topics
              - topics
            published: true
            sort: 0.8008281904610115
            title: title
            content: content
            url: url
            seo-keywords: seo-keywords
            tags:
            - - ""
              - ""
            - - ""
              - ""
            layout: layout
            meta-description: meta-description
            meta-title: meta-title
            categories:
            - - categories
              - categories
            - - categories
              - categories
            lang: lang
          - date: date
            topics:
            - - topics
              - topics
            - - topics
              - topics
            published: true
            sort: 0.8008281904610115
            title: title
            content: content
            url: url
            seo-keywords: seo-keywords
            tags:
            - - ""
              - ""
            - - ""
              - ""
            layout: layout
            meta-description: meta-description
            meta-title: meta-title
            categories:
            - - categories
              - categories
            - - categories
              - categories
            lang: lang
        - - date: date
            topics:
            - - topics
              - topics
            - - topics
              - topics
            published: true
            sort: 0.8008281904610115
            title: title
            content: content
            url: url
            seo-keywords: seo-keywords
            tags:
            - - ""
              - ""
            - - ""
              - ""
            layout: layout
            meta-description: meta-description
            meta-title: meta-title
            categories:
            - - categories
              - categories
            - - categories
              - categories
            lang: lang
          - date: date
            topics:
            - - topics
              - topics
            - - topics
              - topics
            published: true
            sort: 0.8008281904610115
            title: title
            content: content
            url: url
            seo-keywords: seo-keywords
            tags:
            - - ""
              - ""
            - - ""
              - ""
            layout: layout
            meta-description: meta-description
            meta-title: meta-title
            categories:
            - - categories
              - categories
            - - categories
              - categories
            lang: lang
      properties:
        blog:
          items:
            items:
              $ref: '#/components/schemas/blogList_blog_inner_inner'
            type: array
          title: blog
          type: array
      title: blogList
      type: object
    blogPage:
      properties:
        categories:
          items:
            items:
              type: string
            type: array
          title: categories
          type: array
        content:
          title: content
          type: string
        date:
          title: date
          type: string
        excerpt:
          title: excerpt
          type: string
        id:
          title: id
          type: string
        lang:
          title: lang
          type: string
        layout:
          title: layout
          type: string
        meta-description:
          title: meta-description
          type: string
        meta-title:
          title: meta-title
          type: string
        path:
          title: path
          type: string
        published:
          title: published
          type: boolean
        seo-keywords:
          title: seo-keywords
          type: string
        sort:
          title: sort
          type: number
        tags:
          items:
            items: {}
            type: array
          title: tags
          type: array
        title:
          title: title
          type: string
        topics:
          items:
            items:
              type: string
            type: array
          title: topics
          type: array
        url:
          title: url
          type: string
      title: blogPage
      type: object
    glossaryList:
      example:
        glossary:
        - date: date
          published: true
          sort: 0.8008281904610115
          title: title
          content: content
          url: url
          tags:
          - tags
          - tags
          layout: layout
          path: path
          categories:
          - categories
          - categories
          id: id
          excerpt: excerpt
          lang: lang
        - date: date
          published: true
          sort: 0.8008281904610115
          title: title
          content: content
          url: url
          tags:
          - tags
          - tags
          layout: layout
          path: path
          categories:
          - categories
          - categories
          id: id
          excerpt: excerpt
          lang: lang
      properties:
        glossary:
          items:
            $ref: '#/components/schemas/glossaryList_glossary_inner'
          title: glossary
          type: array
      title: glossaryList
      type: object
    glossaryPage:
      properties:
        categories:
          items:
            type: string
          title: categories
          type: array
        content:
          title: content
          type: string
        date:
          title: date
          type: string
        excerpt:
          title: excerpt
          type: string
        id:
          title: id
          type: string
        lang:
          title: lang
          type: string
        layout:
          title: layout
          type: string
        path:
          title: path
          type: string
        published:
          title: published
          type: boolean
        sort:
          title: sort
          type: number
        tags:
          items:
            type: string
          title: tags
          type: array
        title:
          title: title
          type: string
        url:
          title: url
          type: string
      title: glossaryPage
      type: object
    page:
      properties:
        categories:
          items:
            items: {}
            type: array
          title: categories
          type: array
        content:
          title: content
          type: string
        date:
          title: date
          type: string
        excerpt:
          title: excerpt
          type: string
        experience:
          title: experience
          type: string
        id:
          title: id
          type: string
        lang:
          title: lang
          type: string
        layout:
          title: layout
          type: string
        path:
          title: path
          type: string
        published:
          title: published
          type: boolean
        sort:
          title: sort
          type: number
        tags:
          items:
            items: {}
            type: array
          title: tags
          type: array
        title:
          title: title
          type: string
        url:
          title: url
          type: string
      title: page
      type: object
    questionPage:
      example:
        date: date
        path: path
        categories:
        - categories
        - categories
        id: id
        published: true
        sort: 0.8008281904610115
        excerpt: excerpt
        lang: lang
        title: title
        content: content
        url: url
        tags:
        - tags
        - tags
      properties:
        categories:
          items:
            type: string
          title: categories
          type: array
        content:
          title: content
          type: string
        date:
          title: date
          type: string
        excerpt:
          title: excerpt
          type: string
        id:
          title: id
          type: string
        lang:
          title: lang
          type: string
        path:
          title: path
          type: string
        published:
          title: published
          type: boolean
        sort:
          title: sort
          type: number
        tags:
          items:
            type: string
          title: tags
          type: array
        title:
          title: title
          type: string
        url:
          title: url
          type: string
      title: questionPage
      type: object
    questionsList:
      example:
        questions:
        - date: date
          path: path
          categories:
          - categories
          - categories
          id: id
          published: true
          sort: 0.8008281904610115
          excerpt: excerpt
          lang: lang
          title: title
          content: content
          url: url
          tags:
          - tags
          - tags
        - date: date
          path: path
          categories:
          - categories
          - categories
          id: id
          published: true
          sort: 0.8008281904610115
          excerpt: excerpt
          lang: lang
          title: title
          content: content
          url: url
          tags:
          - tags
          - tags
      properties:
        questions:
          items:
            $ref: '#/components/schemas/questionsList_questions_inner'
          title: questions
          type: array
      title: questionsList
      type: object
    statePage:
      example:
        date: date
        path: path
        categories:
        - - ""
          - ""
        - - ""
          - ""
        id: id
        sort: 0.8008281904610115
        excerpt: excerpt
        lang: lang
        stateurl: stateurl
        title: title
        content: content
        url: url
        tags:
        - - tags
          - tags
        - - tags
          - tags
      properties:
        categories:
          items:
            items: {}
            type: array
          title: categories
          type: array
        content:
          title: content
          type: string
        date:
          title: date
          type: string
        excerpt:
          title: excerpt
          type: string
        id:
          title: id
          type: string
        lang:
          title: lang
          type: string
        path:
          title: path
          type: string
        sort:
          title: sort
          type: number
        stateurl:
          title: stateurl
          type: string
        tags:
          items:
            items:
              type: string
            type: array
          title: tags
          type: array
        title:
          title: title
          type: string
        url:
          title: url
          type: string
      title: statePage
      type: object
    statesList:
      example:
        states:
        - - date: date
            path: path
            categories:
            - - ""
              - ""
            - - ""
              - ""
            id: id
            sort: 0.8008281904610115
            excerpt: excerpt
            lang: lang
            stateurl: stateurl
            title: title
            content: content
            url: url
            tags:
            - - tags
              - tags
            - - tags
              - tags
          - date: date
            path: path
            categories:
            - - ""
              - ""
            - - ""
              - ""
            id: id
            sort: 0.8008281904610115
            excerpt: excerpt
            lang: lang
            stateurl: stateurl
            title: title
            content: content
            url: url
            tags:
            - - tags
              - tags
            - - tags
              - tags
        - - date: date
            path: path
            categories:
            - - ""
              - ""
            - - ""
              - ""
            id: id
            sort: 0.8008281904610115
            excerpt: excerpt
            lang: lang
            stateurl: stateurl
            title: title
            content: content
            url: url
            tags:
            - - tags
              - tags
            - - tags
              - tags
          - date: date
            path: path
            categories:
            - - ""
              - ""
            - - ""
              - ""
            id: id
            sort: 0.8008281904610115
            excerpt: excerpt
            lang: lang
            stateurl: stateurl
            title: title
            content: content
            url: url
            tags:
            - - tags
              - tags
            - - tags
              - tags
      properties:
        states:
          items:
            items:
              $ref: '#/components/schemas/statesList_states_inner_inner'
            type: array
          title: states
          type: array
      title: statesList
      type: object
    topicsList:
      example:
        topics:
        - date: date
          published: true
          sort: 6.027456183070403
          title: title
          content: content
          url: url
          tags:
          - - tags
            - tags
          - - tags
            - tags
          layout: layout
          path: path
          meta-description: meta-description
          meta-title: meta-title
          articleorder:
          - - articleorder
            - articleorder
          - - articleorder
            - articleorder
          categories:
          - - ""
            - ""
          - - ""
            - ""
          id: id
          excerpt: excerpt
          lang: lang
          order: 0.8008281904610115
        - date: date
          published: true
          sort: 6.027456183070403
          title: title
          content: content
          url: url
          tags:
          - - tags
            - tags
          - - tags
            - tags
          layout: layout
          path: path
          meta-description: meta-description
          meta-title: meta-title
          articleorder:
          - - articleorder
            - articleorder
          - - articleorder
            - articleorder
          categories:
          - - ""
            - ""
          - - ""
            - ""
          id: id
          excerpt: excerpt
          lang: lang
          order: 0.8008281904610115
      properties:
        topics:
          items:
            $ref: '#/components/schemas/topicsList_topics_inner'
          title: topics
          type: array
      title: topicsList
      type: object
    articlesList_articles_inner:
      example:
        date: date
        title-short: title-short
        featured: true
        topics:
        - - topics
          - topics
        - - topics
          - topics
        published: true
        sort: 0.8008281904610115
        title: title
        content: content
        url: url
        seo-keywords: seo-keywords
        tags:
        - - ""
          - ""
        - - ""
          - ""
        layout: layout
        path: path
        meta-description: meta-description
        related:
        - - related
          - related
        - - related
          - related
        bite: bite
        meta-title: meta-title
        categories:
        - - categories
          - categories
        - - categories
          - categories
        id: id
        excerpt: excerpt
        lang: lang
      properties:
        bite:
          title: bite
          type: string
        categories:
          items:
            items:
              type: string
            type: array
          title: categories
          type: array
        content:
          title: content
          type: string
        date:
          title: date
          type: string
        excerpt:
          title: excerpt
          type: string
        featured:
          title: featured
          type: boolean
        id:
          title: id
          type: string
        lang:
          title: lang
          type: string
        layout:
          title: layout
          type: string
        meta-description:
          title: meta-description
          type: string
        meta-title:
          title: meta-title
          type: string
        path:
          title: path
          type: string
        published:
          title: published
          type: boolean
        related:
          items:
            items:
              type: string
            type: array
          title: related
          type: array
        seo-keywords:
          title: seo-keywords
          type: string
        sort:
          title: sort
          type: number
        tags:
          items:
            items: {}
            type: array
          title: tags
          type: array
        title:
          title: title
          type: string
        title-short:
          title: title-short
          type: string
        topics:
          items:
            items:
              type: string
            type: array
          title: topics
          type: array
        url:
          title: url
          type: string
      title: articlesList_articles_inner
      type: object
    blogList_blog_inner_inner:
      example:
        date: date
        topics:
        - - topics
          - topics
        - - topics
          - topics
        published: true
        sort: 0.8008281904610115
        title: title
        content: content
        url: url
        seo-keywords: seo-keywords
        tags:
        - - ""
          - ""
        - - ""
          - ""
        layout: layout
        meta-description: meta-description
        meta-title: meta-title
        categories:
        - - categories
          - categories
        - - categories
          - categories
        lang: lang
      properties:
        categories:
          items:
            items:
              type: string
            type: array
          title: categories
          type: array
        content:
          title: content
          type: string
        date:
          title: date
          type: string
        lang:
          title: lang
          type: string
        layout:
          title: layout
          type: string
        meta-description:
          title: meta-description
          type: string
        meta-title:
          title: meta-title
          type: string
        published:
          title: published
          type: boolean
        seo-keywords:
          title: seo-keywords
          type: string
        sort:
          title: sort
          type: number
        tags:
          items:
            items: {}
            type: array
          title: tags
          type: array
        title:
          title: title
          type: string
        topics:
          items:
            items:
              type: string
            type: array
          title: topics
          type: array
        url:
          title: url
          type: string
      title: blogList_blog_inner_inner
      type: object
    glossaryList_glossary_inner:
      example:
        date: date
        published: true
        sort: 0.8008281904610115
        title: title
        content: content
        url: url
        tags:
        - tags
        - tags
        layout: layout
        path: path
        categories:
        - categories
        - categories
        id: id
        excerpt: excerpt
        lang: lang
      properties:
        categories:
          items:
            type: string
          title: categories
          type: array
        content:
          title: content
          type: string
        date:
          title: date
          type: string
        excerpt:
          title: excerpt
          type: string
        id:
          title: id
          type: string
        lang:
          title: lang
          type: string
        layout:
          title: layout
          type: string
        path:
          title: path
          type: string
        published:
          title: published
          type: boolean
        sort:
          title: sort
          type: number
        tags:
          items:
            type: string
          title: tags
          type: array
        title:
          title: title
          type: string
        url:
          title: url
          type: string
      title: glossaryList_glossary_inner
      type: object
    questionsList_questions_inner:
      example:
        date: date
        path: path
        categories:
        - categories
        - categories
        id: id
        published: true
        sort: 0.8008281904610115
        excerpt: excerpt
        lang: lang
        title: title
        content: content
        url: url
        tags:
        - tags
        - tags
      properties:
        categories:
          items:
            type: string
          title: categories
          type: array
        content:
          title: content
          type: string
        date:
          title: date
          type: string
        excerpt:
          title: excerpt
          type: string
        id:
          title: id
          type: string
        lang:
          title: lang
          type: string
        path:
          title: path
          type: string
        published:
          title: published
          type: boolean
        sort:
          title: sort
          type: number
        tags:
          items:
            type: string
          title: tags
          type: array
        title:
          title: title
          type: string
        url:
          title: url
          type: string
      title: questionsList_questions_inner
      type: object
    statesList_states_inner_inner:
      example:
        date: date
        path: path
        categories:
        - - ""
          - ""
        - - ""
          - ""
        id: id
        sort: 0.8008281904610115
        excerpt: excerpt
        lang: lang
        stateurl: stateurl
        title: title
        content: content
        url: url
        tags:
        - - tags
          - tags
        - - tags
          - tags
      properties:
        categories:
          items:
            items: {}
            type: array
          title: categories
          type: array
        content:
          title: content
          type: string
        date:
          title: date
          type: string
        excerpt:
          title: excerpt
          type: string
        id:
          title: id
          type: string
        lang:
          title: lang
          type: string
        path:
          title: path
          type: string
        sort:
          title: sort
          type: number
        stateurl:
          title: stateurl
          type: string
        tags:
          items:
            items:
              type: string
            type: array
          title: tags
          type: array
        title:
          title: title
          type: string
        url:
          title: url
          type: string
      title: statesList_states_inner_inner
      type: object
    topicsList_topics_inner:
      example:
        date: date
        published: true
        sort: 6.027456183070403
        title: title
        content: content
        url: url
        tags:
        - - tags
          - tags
        - - tags
          - tags
        layout: layout
        path: path
        meta-description: meta-description
        meta-title: meta-title
        articleorder:
        - - articleorder
          - articleorder
        - - articleorder
          - articleorder
        categories:
        - - ""
          - ""
        - - ""
          - ""
        id: id
        excerpt: excerpt
        lang: lang
        order: 0.8008281904610115
      properties:
        articleorder:
          items:
            items:
              type: string
            type: array
          title: articleorder
          type: array
        categories:
          items:
            items: {}
            type: array
          title: categories
          type: array
        content:
          title: content
          type: string
        date:
          title: date
          type: string
        excerpt:
          title: excerpt
          type: string
        id:
          title: id
          type: string
        lang:
          title: lang
          type: string
        layout:
          title: layout
          type: string
        meta-description:
          title: meta-description
          type: string
        meta-title:
          title: meta-title
          type: string
        order:
          title: order
          type: number
        path:
          title: path
          type: string
        published:
          title: published
          type: boolean
        sort:
          title: sort
          type: number
        tags:
          items:
            items:
              type: string
            type: array
          title: tags
          type: array
        title:
          title: title
          type: string
        url:
          title: url
          type: string
      title: topicsList_topics_inner
      type: object
x-hasEquivalentPaths: true
