openapi: 3.0.1
info:
  description: "The Azure SQL Database management API provides a RESTful set of web\
    \ APIs that interact with Azure SQL Database services to manage your databases.\
    \ The API enables users to create, retrieve, update, and delete databases, servers,\
    \ and other entities."
  title: SqlManagementClient
  version: 2017-10-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/sql/resource-manager/Microsoft.Sql/preview/2017-10-01-preview/managedDatabaseVulnerabilityAssessments.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: sql-managedDatabaseVulnerabilityAssessments
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/managedInstances/{managedInstanceName}/databases/{databaseName}/vulnerabilityAssessments
  : get:
      description: Lists the vulnerability assessments of a managed database.
      operationId: ManagedDatabaseVulnerabilityAssessments_ListByDatabase
      parameters:
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the managed instance.
        in: path
        name: managedInstanceName
        required: true
        schema:
          type: string
      - description: The name of the database for which the vulnerability assessment
          is defined.
        in: path
        name: databaseName
        required: true
        schema:
          type: string
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The API version to use for the request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatabaseVulnerabilityAssessmentListResult'
          description: Successfully retrieved the database vulnerability assessments.
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 InvalidStorageAccountName - The provided storage account is not valid or does not exist.

             * 400 InvalidStorageAccountCredentials - The provided storage account shared access signature or account storage key is not valid.

             * 400 DatabaseVulnerabilityAssessmentMissingStorageContainerPath - Storage container path must be provided if it isn't set in server level policy

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 SourceDatabaseNotFound - The source database does not exist.

             * 404 DatabaseDoesNotExist - User has specified a database name that does not exist on this server instance.

             * 500 DatabaseIsUnavailable - Loading failed. Please try again later.
      tags:
      - ManagedDatabaseVulnerabilityAssessments
      x-ms-examples:
        Get a database's vulnerability assessments list:
          parameters:
            api-version: 2018-06-01-preview
            databaseName: testdb
            managedInstanceName: vulnerabilityaseessmenttest-6440
            resourceGroupName: vulnerabilityaseessmenttest-4799
            subscriptionId: 00000000-1111-2222-3333-444444444444
            vulnerabilityAssessmentName: default
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/vulnerabilityaseessmenttest-4799/providers/Microsoft.Sql/managedInstances/vulnerabilityaseessmenttest-6440/databases/testdb/vulnerabilityAssessments/default
                  name: default
                  properties:
                    recurringScans:
                      emailSubscriptionAdmins: true
                      emails:
                      - email1@mail.com
                      - email2@mail.com
                      isEnabled: true
                    storageContainerPath: https://myStorage.blob.core.windows.net/vulnerability-assessment/
                  type: Microsoft.Sql/servers/databases/vulnerabilityAssessments
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/managedInstances/{managedInstanceName}/databases/{databaseName}/vulnerabilityAssessments/{vulnerabilityAssessmentName}
  : delete:
      description: Removes the database's vulnerability assessment.
      operationId: ManagedDatabaseVulnerabilityAssessments_Delete
      parameters:
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the managed instance.
        in: path
        name: managedInstanceName
        required: true
        schema:
          type: string
      - description: The name of the database for which the vulnerability assessment
          is defined.
        in: path
        name: databaseName
        required: true
        schema:
          type: string
      - description: The name of the vulnerability assessment.
        in: path
        name: vulnerabilityAssessmentName
        required: true
        schema:
          enum:
          - default
          type: string
          x-ms-enum:
            modelAsString: true
            name: VulnerabilityAssessmentName
        x-ms-enum:
          modelAsString: true
          name: VulnerabilityAssessmentName
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The API version to use for the request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content: {}
          description: Successfully removed the database vulnerability assessment.
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 InvalidStorageAccountName - The provided storage account is not valid or does not exist.

             * 400 InvalidStorageAccountCredentials - The provided storage account shared access signature or account storage key is not valid.

             * 400 DatabaseVulnerabilityAssessmentMissingStorageContainerPath - Storage container path must be provided if it isn't set in server level policy

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 SourceDatabaseNotFound - The source database does not exist.

             * 404 DatabaseDoesNotExist - User has specified a database name that does not exist on this server instance.

             * 500 DatabaseIsUnavailable - Loading failed. Please try again later.
      tags:
      - ManagedDatabaseVulnerabilityAssessments
      x-ms-examples:
        Remove a database's vulnerability assessment:
          parameters:
            api-version: 2017-10-01-preview
            databaseName: testdb
            managedInstanceName: vulnerabilityaseessmenttest-6440
            resourceGroupName: vulnerabilityaseessmenttest-4799
            subscriptionId: 00000000-1111-2222-3333-444444444444
            vulnerabilityAssessmentName: default
          responses:
            "200": {}
      x-accepts:
      - application/json
    get:
      description: Gets the database's vulnerability assessment.
      operationId: ManagedDatabaseVulnerabilityAssessments_Get
      parameters:
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the managed instance.
        in: path
        name: managedInstanceName
        required: true
        schema:
          type: string
      - description: The name of the database for which the vulnerability assessment
          is defined.
        in: path
        name: databaseName
        required: true
        schema:
          type: string
      - description: The name of the vulnerability assessment.
        in: path
        name: vulnerabilityAssessmentName
        required: true
        schema:
          enum:
          - default
          type: string
          x-ms-enum:
            modelAsString: true
            name: VulnerabilityAssessmentName
        x-ms-enum:
          modelAsString: true
          name: VulnerabilityAssessmentName
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The API version to use for the request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatabaseVulnerabilityAssessment'
          description: Successfully retrieved the database vulnerability assessment.
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 InvalidStorageAccountName - The provided storage account is not valid or does not exist.

             * 400 InvalidStorageAccountCredentials - The provided storage account shared access signature or account storage key is not valid.

             * 400 DatabaseVulnerabilityAssessmentMissingStorageContainerPath - Storage container path must be provided if it isn't set in server level policy

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 SourceDatabaseNotFound - The source database does not exist.

             * 404 DatabaseDoesNotExist - User has specified a database name that does not exist on this server instance.

             * 500 DatabaseIsUnavailable - Loading failed. Please try again later.
      tags:
      - ManagedDatabaseVulnerabilityAssessments
      x-ms-examples:
        Get a database's vulnerability assessment:
          parameters:
            api-version: 2017-10-01-preview
            databaseName: testdb
            managedInstanceName: vulnerabilityaseessmenttest-6440
            resourceGroupName: vulnerabilityaseessmenttest-4799
            subscriptionId: 00000000-1111-2222-3333-444444444444
            vulnerabilityAssessmentName: default
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/vulnerabilityaseessmenttest-4799/providers/Microsoft.Sql/managedInstances/vulnerabilityaseessmenttest-6440/databases/testdb/vulnerabilityAssessments/default
                name: default
                properties:
                  recurringScans:
                    emailSubscriptionAdmins: true
                    emails:
                    - email1@mail.com
                    - email2@mail.com
                    isEnabled: true
                  storageContainerPath: https://myStorage.blob.core.windows.net/vulnerability-assessment/
                type: Microsoft.Sql/servers/databases/vulnerabilityAssessments
      x-accepts:
      - application/json
    put:
      description: Creates or updates the database's vulnerability assessment.
      operationId: ManagedDatabaseVulnerabilityAssessments_CreateOrUpdate
      parameters:
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the managed instance.
        in: path
        name: managedInstanceName
        required: true
        schema:
          type: string
      - description: The name of the database for which the vulnerability assessment
          is defined.
        in: path
        name: databaseName
        required: true
        schema:
          type: string
      - description: The name of the vulnerability assessment.
        in: path
        name: vulnerabilityAssessmentName
        required: true
        schema:
          enum:
          - default
          type: string
          x-ms-enum:
            modelAsString: true
            name: VulnerabilityAssessmentName
        x-ms-enum:
          modelAsString: true
          name: VulnerabilityAssessmentName
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The API version to use for the request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DatabaseVulnerabilityAssessment'
        description: The requested resource.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatabaseVulnerabilityAssessment'
          description: Successfully set the vulnerability assessment.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatabaseVulnerabilityAssessment'
          description: Successfully created the vulnerability assessment.
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 InvalidStorageAccountName - The provided storage account is not valid or does not exist.

             * 400 InvalidStorageAccountCredentials - The provided storage account shared access signature or account storage key is not valid.

             * 400 DatabaseVulnerabilityAssessmentMissingStorageContainerPath - Storage container path must be provided if it isn't set in server level policy

             * 400 InvalidVulnerabilityAssessmentOperationRequest - The vulnerability assessment operation request does not exist or has no properties object.

             * 400 DataSecurityInvalidUserSuppliedParameter - An invalid parameter value was provided by the client.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 SourceDatabaseNotFound - The source database does not exist.

             * 404 DatabaseDoesNotExist - User has specified a database name that does not exist on this server instance.

             * 500 DatabaseIsUnavailable - Loading failed. Please try again later.
      tags:
      - ManagedDatabaseVulnerabilityAssessments
      x-ms-examples:
        Create a database's vulnerability assessment with all parameters:
          parameters:
            api-version: 2017-10-01-preview
            databaseName: testdb
            managedInstanceName: vulnerabilityaseessmenttest-6440
            parameters:
              properties:
                recurringScans:
                  emailSubscriptionAdmins: true
                  emails:
                  - email1@mail.com
                  - email2@mail.com
                  isEnabled: true
                storageContainerPath: https://myStorage.blob.core.windows.net/vulnerability-assessment/
                storageContainerSasKey: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
            resourceGroupName: vulnerabilityaseessmenttest-4799
            subscriptionId: 00000000-1111-2222-3333-444444444444
            vulnerabilityAssessmentName: default
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/vulnerabilityaseessmenttest-4799/providers/Microsoft.Sql/managedInstances/vulnerabilityaseessmenttest-6440/databases/testdb/vulnerabilityAssessments/default
                name: default
                properties:
                  recurringScans:
                    emailSubscriptionAdmins: true
                    emails:
                    - email1@mail.com
                    - email2@mail.com
                    isEnabled: true
                  storageContainerPath: https://myStorage.blob.core.windows.net/vulnerability-assessment/
                type: Microsoft.Sql/servers/databases/vulnerabilityAssessments
            "201":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/vulnerabilityaseessmenttest-4799/providers/Microsoft.Sql/managedInstances/vulnerabilityaseessmenttest-6440/databases/testdb/vulnerabilityAssessments/default
                name: default
                properties:
                  recurringScans:
                    emailSubscriptionAdmins: true
                    emails:
                    - email1@mail.com
                    - email2@mail.com
                    isEnabled: true
                  storageContainerPath: https://myStorage.blob.core.windows.net/vulnerability-assessment/
                type: Microsoft.Sql/servers/databases/vulnerabilityAssessments
        Create a database's vulnerability assessment with minimal parameters:
          parameters:
            api-version: 2017-10-01-preview
            databaseName: testdb
            managedInstanceName: vulnerabilityaseessmenttest-6440
            parameters:
              properties:
                storageContainerPath: https://myStorage.blob.core.windows.net/vulnerability-assessment/
                storageContainerSasKey: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
            resourceGroupName: vulnerabilityaseessmenttest-4799
            subscriptionId: 00000000-1111-2222-3333-444444444444
            vulnerabilityAssessmentName: default
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/vulnerabilityaseessmenttest-4799/providers/Microsoft.Sql/managedInstances/vulnerabilityaseessmenttest-6440/databases/testdb/vulnerabilityAssessments/default
                name: default
                properties:
                  recurringScans:
                    emailSubscriptionAdmins: false
                    emails: []
                    isEnabled: false
                  storageContainerPath: https://myStorage.blob.core.windows.net/vulnerability-assessment/
                type: Microsoft.Sql/servers/databases/vulnerabilityAssessments
            "201":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/vulnerabilityaseessmenttest-4799/providers/Microsoft.Sql/managedInstances/vulnerabilityaseessmenttest-6440/databases/testdb/vulnerabilityAssessments/default
                name: default
                properties:
                  recurringScans:
                    emailSubscriptionAdmins: false
                    emails: []
                    isEnabled: false
                  storageContainerPath: https://myStorage.blob.core.windows.net/vulnerability-assessment/
                type: Microsoft.Sql/servers/databases/vulnerabilityAssessments
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
components:
  parameters:
    ApiVersionParameter:
      description: The API version to use for the request.
      in: query
      name: api-version
      required: true
      schema:
        type: string
        x-ms-parameter-location: client
      x-ms-parameter-location: client
    BlobAuditingPolicyNameParameter:
      description: The name of the blob auditing policy.
      in: path
      name: blobAuditingPolicyName
      required: true
      schema:
        enum:
        - default
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    DatabaseNameParameter:
      description: The name of the database.
      in: path
      name: databaseName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ManagedInstanceNameParameter:
      description: The name of the managed instance.
      in: path
      name: managedInstanceName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ResourceGroupParameter:
      description: The name of the resource group that contains the resource. You
        can obtain this value from the Azure Resource Manager API or the portal.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ServerNameParameter:
      description: The name of the server.
      in: path
      name: serverName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SqlVirtualMachineContainerNameParameter:
      description: The name of the SqlVirtualMachineContainer.
      in: path
      name: sqlVirtualMachineContainerName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SqlVirtualMachineInstanceNameParameter:
      description: The name of the SqlVirtualMachineInstance.
      in: path
      name: sqlVirtualMachineInstanceName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: The subscription ID that identifies an Azure subscription.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
        x-ms-parameter-location: client
      x-ms-parameter-location: client
    VirtualClusterNameParameter:
      description: The name of the virtual cluster.
      in: path
      name: virtualClusterName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  schemas:
    DatabaseVulnerabilityAssessment:
      allOf:
      - allOf:
        - description: ARM resource.
          properties:
            id:
              description: Resource ID.
              readOnly: true
              type: string
            name:
              description: Resource name.
              readOnly: true
              type: string
            type:
              description: Resource type.
              readOnly: true
              type: string
          type: object
          x-ms-azure-resource: true
        description: ARM proxy resource.
      description: A database vulnerability assessment.
      example:
        properties:
          storageAccountAccessKey: storageAccountAccessKey
          storageContainerSasKey: storageContainerSasKey
          recurringScans:
            emails:
            - emails
            - emails
            isEnabled: true
            emailSubscriptionAdmins: true
          storageContainerPath: storageContainerPath
      properties:
        properties:
          $ref: '#/components/schemas/DatabaseVulnerabilityAssessmentProperties'
    DatabaseVulnerabilityAssessmentListResult:
      description: A list of the database's vulnerability assessments.
      example:
        value:
        - properties:
            storageAccountAccessKey: storageAccountAccessKey
            storageContainerSasKey: storageContainerSasKey
            recurringScans:
              emails:
              - emails
              - emails
              isEnabled: true
              emailSubscriptionAdmins: true
            storageContainerPath: storageContainerPath
        - properties:
            storageAccountAccessKey: storageAccountAccessKey
            storageContainerSasKey: storageContainerSasKey
            recurringScans:
              emails:
              - emails
              - emails
              isEnabled: true
              emailSubscriptionAdmins: true
            storageContainerPath: storageContainerPath
        nextLink: nextLink
      properties:
        nextLink:
          description: Link to retrieve next page of results.
          readOnly: true
          type: string
        value:
          description: Array of results.
          items:
            $ref: '#/components/schemas/DatabaseVulnerabilityAssessment'
          readOnly: true
          type: array
      type: object
    DatabaseVulnerabilityAssessmentProperties:
      description: Properties of a database Vulnerability Assessment.
      example:
        storageAccountAccessKey: storageAccountAccessKey
        storageContainerSasKey: storageContainerSasKey
        recurringScans:
          emails:
          - emails
          - emails
          isEnabled: true
          emailSubscriptionAdmins: true
        storageContainerPath: storageContainerPath
      properties:
        recurringScans:
          $ref: '#/components/schemas/VulnerabilityAssessmentRecurringScansProperties'
        storageAccountAccessKey:
          description: "Specifies the identifier key of the storage account for vulnerability\
            \ assessment scan results. If 'StorageContainerSasKey' isn't specified,\
            \ storageAccountAccessKey is required."
          type: string
          x-ms-mutability:
          - create
          - update
        storageContainerPath:
          description: A blob storage container path to hold the scan results (e.g.
            https://myStorage.blob.core.windows.net/VaScans/).  It is required if
            server level vulnerability assessment policy doesn't set
          type: string
          x-ms-mutability:
          - create
          - update
        storageContainerSasKey:
          description: "A shared access signature (SAS Key) that has read and write\
            \ access to the blob container specified in 'storageContainerPath' parameter.\
            \ If 'storageAccountAccessKey' isn't specified, StorageContainerSasKey\
            \ is required."
          type: string
          x-ms-mutability:
          - create
          - update
      type: object
    VulnerabilityAssessmentRecurringScansProperties:
      description: Properties of a Vulnerability Assessment recurring scans.
      example:
        emails:
        - emails
        - emails
        isEnabled: true
        emailSubscriptionAdmins: true
      properties:
        emailSubscriptionAdmins:
          default: true
          description: Specifies that the schedule scan notification will be is sent
            to the subscription administrators.
          type: boolean
        emails:
          description: Specifies an array of e-mail addresses to which the scan notification
            is sent.
          items:
            type: string
          type: array
        isEnabled:
          description: Recurring scans state.
          type: boolean
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

