openapi: 3.0.0
info:
  contact:
    email: support@billbee.io
    name: Billbee GmbH
    url: https://www.billbee.io
    x-twitter: billbeeio
  description: "Documentation of the Billbee REST API to connect a Billbee account\
    \ to external aplications.\n\n## Endpoint\n\nThe Billbee API endpoint base url\
    \ is https://api.billbee.io/api/v1 \n\n## Activation\n\nYou have to enable the\
    \ API in the settings of your Billbee account. In addition you need a Billbee\
    \ API Key identifying the application you develop. To get an API key, send a mail\
    \ to support@billbee.io and send us a short note about what you are building.\n\
    \n## Authorization & security\n\nBecause you can access private data with the\
    \ Billbee API, every request has to be sent over https and must\n\n* Contain a\
    \ valid API Key identifying the application/developer. It has to be sent as the\
    \ HTTP header X-Billbee-Api-Key\n* Contain a valid user login with billbee username\
    \ and api password in form of a basic auth HTTP header\n\n## Throttling\n\nEach\
    \ endpoint has a throttle of max 2 requests per second per combination of API\
    \ Key and Billbee user.\n\nWhen you exceed these 2 calls, the API will return\
    \ a HTTP 429 status code\n\n"
  title: Billbee API
  version: v1
  x-apisguru-categories:
  - ecommerce
  x-logo:
    url: https://twitter.com/billbeeio/profile_image?size=original
  x-origin:
  - format: openapi
    url: https://app.billbee.io/swagger/docs/v1
    version: "3.0"
  x-providerName: billbee.io
servers:
- url: https://app.billbee.io
paths:
  /api/v1/automaticprovision/createaccount:
    post:
      operationId: automatic_provisioning_create_account
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.AutomaticProvisioningController.CreateAccountContainer'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.AutomaticProvisioningController.CreateAccountContainer'
          application/xml:
            schema:
              $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.AutomaticProvisioningController.CreateAccountContainer'
          text/json:
            schema:
              $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.AutomaticProvisioningController.CreateAccountContainer'
          text/xml:
            schema:
              $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.AutomaticProvisioningController.CreateAccountContainer'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
          description: OK
      summary: Creates a new Billbee user account with the data passed
      tags:
      - Provisioning
      x-openapi-router-controller: openapi_server.controllers.provisioning_controller
      x-codegen-request-body-name: body
  /api/v1/automaticprovision/termsinfo:
    get:
      operationId: automatic_provisioning_terms_info
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
          description: OK
      summary: Returns infos about Billbee terms and conditions
      tags:
      - Provisioning
      x-openapi-router-controller: openapi_server.controllers.provisioning_controller
  /api/v1/cloudstorages:
    get:
      operationId: cloud_storage_api_get_list
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_System.Collections.Generic.List_Billbee.Interfaces.BillbeeAPI.Model.CloudStorageApiModel_'
            application/xml:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_System.Collections.Generic.List_Billbee.Interfaces.BillbeeAPI.Model.CloudStorageApiModel_'
            text/json:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_System.Collections.Generic.List_Billbee.Interfaces.BillbeeAPI.Model.CloudStorageApiModel_'
            text/xml:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_System.Collections.Generic.List_Billbee.Interfaces.BillbeeAPI.Model.CloudStorageApiModel_'
          description: OK
      summary: Gets a list of all connected cloud storage devices
      tags:
      - CloudStorage
      x-openapi-router-controller: openapi_server.controllers.cloud_storage_controller
  /api/v1/customer-addresses:
    get:
      operationId: customer_addresses_get_all
      parameters:
      - description: The current page to request starting with 1 (default is 1)
        explode: true
        in: query
        name: page
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: The page size for the result list. Values between 1 and 250 are
          allowed. (default is 50)
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult_System.Collections.Generic.List_Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel_'
            application/xml:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult_System.Collections.Generic.List_Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel_'
            text/json:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult_System.Collections.Generic.List_Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel_'
            text/xml:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult_System.Collections.Generic.List_Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel_'
          description: OK
      summary: Get a list of all customer addresses
      tags:
      - CustomerAddresses
      x-openapi-router-controller: openapi_server.controllers.customer_addresses_controller
    post:
      operationId: customer_addresses_create
      requestBody:
        $ref: '#/components/requestBodies/Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel_'
            application/xml:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel_'
            text/json:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel_'
            text/xml:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel_'
          description: OK
      summary: Creates a new customer address
      tags:
      - CustomerAddresses
      x-openapi-router-controller: openapi_server.controllers.customer_addresses_controller
      x-codegen-request-body-name: body
  /api/v1/customer-addresses/{id}:
    get:
      operationId: customer_addresses_get_one
      parameters:
      - description: The id of the address to query
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel_'
            application/xml:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel_'
            text/json:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel_'
            text/xml:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel_'
          description: OK
      summary: Queries a single customer address by id
      tags:
      - CustomerAddresses
      x-openapi-router-controller: openapi_server.controllers.customer_addresses_controller
    put:
      operationId: customer_addresses_update
      parameters:
      - description: The id of the address
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel_'
            application/xml:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel_'
            text/json:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel_'
            text/xml:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel_'
          description: OK
      summary: Updates a customer address by id
      tags:
      - CustomerAddresses
      x-openapi-router-controller: openapi_server.controllers.customer_addresses_controller
      x-codegen-request-body-name: body
  /api/v1/customers:
    get:
      operationId: customer_get_all
      parameters:
      - description: The current page to request starting with 1
        explode: true
        in: query
        name: page
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: The pagesize for the result list. Values between 1 and 250 are
          allowed
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult_System.Collections.Generic.List_Billbee.Interfaces.BillbeeAPI.Model.CustomerApiModel_'
            application/xml:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult_System.Collections.Generic.List_Billbee.Interfaces.BillbeeAPI.Model.CustomerApiModel_'
            text/json:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult_System.Collections.Generic.List_Billbee.Interfaces.BillbeeAPI.Model.CustomerApiModel_'
            text/xml:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult_System.Collections.Generic.List_Billbee.Interfaces.BillbeeAPI.Model.CustomerApiModel_'
          description: OK
      summary: Get a list of all customers
      tags:
      - Customers
      x-openapi-router-controller: openapi_server.controllers.customers_controller
    post:
      operationId: customer_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.CreateCustomerApiModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.CreateCustomerApiModel'
          application/xml:
            schema:
              $ref: '#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.CreateCustomerApiModel'
          text/json:
            schema:
              $ref: '#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.CreateCustomerApiModel'
          text/xml:
            schema:
              $ref: '#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.CreateCustomerApiModel'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.CustomerApiModel_'
            application/xml:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.CustomerApiModel_'
            text/json:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.CustomerApiModel_'
            text/xml:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.CustomerApiModel_'
          description: OK
      summary: Creates a new customer
      tags:
      - Customers
      x-openapi-router-controller: openapi_server.controllers.customers_controller
      x-codegen-request-body-name: body
  /api/v1/customers/addresses/{id}:
    get:
      operationId: customer_get_customer_address
      parameters:
      - description: The id of the address
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel_'
            application/xml:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel_'
            text/json:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel_'
            text/xml:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel_'
          description: OK
      summary: Queries a single address from a customer
      tags:
      - Customers
      x-openapi-router-controller: openapi_server.controllers.customers_controller
    patch:
      description: Id and CustomerId cannot be changed
      operationId: customer_patch_address
      parameters:
      - description: The id of the address
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              type: object
          application/x-www-form-urlencoded:
            schema:
              type: object
          text/json:
            schema:
              type: object
        description: The address fields to be changed. Please query an address via
          (todo) to see all fields. Note that Id and CustomerId cannot be changed.
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel_'
            application/xml:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel_'
            text/json:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel_'
            text/xml:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel_'
          description: OK
      summary: Updates one or more fields of an address
      tags:
      - Customers
      x-openapi-router-controller: openapi_server.controllers.customers_controller
      x-codegen-request-body-name: body
    put:
      description: Id and CustomerId cannot be changed. Fields you do not send will
        become empty.
      operationId: customer_update_address
      parameters:
      - description: The id of the address
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel'
          application/xml:
            schema:
              $ref: '#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel'
          text/json:
            schema:
              $ref: '#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel'
          text/xml:
            schema:
              $ref: '#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel'
        description: The updated address. Please query an address via (todo) to see
          all fields. Note that Id and CustomerId cannot be changed.
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel_'
            application/xml:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel_'
            text/json:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel_'
            text/xml:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel_'
          description: OK
      summary: Updates all fields of an address
      tags:
      - Customers
      x-openapi-router-controller: openapi_server.controllers.customers_controller
      x-codegen-request-body-name: body
  /api/v1/customers/{id}:
    get:
      operationId: customer_get_one
      parameters:
      - description: The id of the customer to query
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.CustomerApiModel_'
            application/xml:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.CustomerApiModel_'
            text/json:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.CustomerApiModel_'
            text/xml:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.CustomerApiModel_'
          description: OK
      summary: Queries a single customer by id
      tags:
      - Customers
      x-openapi-router-controller: openapi_server.controllers.customers_controller
    put:
      operationId: customer_update
      parameters:
      - description: The id of the customer
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.CustomerApiModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.CustomerApiModel'
          application/xml:
            schema:
              $ref: '#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.CustomerApiModel'
          text/json:
            schema:
              $ref: '#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.CustomerApiModel'
          text/xml:
            schema:
              $ref: '#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.CustomerApiModel'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.CustomerApiModel_'
            application/xml:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.CustomerApiModel_'
            text/json:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.CustomerApiModel_'
            text/xml:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.CustomerApiModel_'
          description: OK
      summary: Updates a customer by id
      tags:
      - Customers
      x-openapi-router-controller: openapi_server.controllers.customers_controller
      x-codegen-request-body-name: body
  /api/v1/customers/{id}/addresses:
    get:
      operationId: customer_get_customer_addresses
      parameters:
      - description: The id of the customer
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: The current page to request starting with 1
        explode: true
        in: query
        name: page
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: The pagesize for the result list. Values between 1 and 250 are
          allowed
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult_System.Collections.Generic.List_Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel_'
            application/xml:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult_System.Collections.Generic.List_Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel_'
            text/json:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult_System.Collections.Generic.List_Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel_'
            text/xml:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult_System.Collections.Generic.List_Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel_'
          description: OK
      summary: Queries a list of addresses from a customer
      tags:
      - Customers
      x-openapi-router-controller: openapi_server.controllers.customers_controller
    post:
      description: "Id and  CustomerId will be ignored in model. If Id is set, the\
        \ addition will be stopped."
      operationId: customer_add_customer_address
      parameters:
      - description: CustomerId to attach the new address to.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel'
          application/xml:
            schema:
              $ref: '#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel'
          text/json:
            schema:
              $ref: '#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel'
          text/xml:
            schema:
              $ref: '#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel'
        description: "Model containing the address, that should be attached."
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel_'
            application/xml:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel_'
            text/json:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel_'
            text/xml:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel_'
          description: OK
      summary: Adds a new address to a customer
      tags:
      - Customers
      x-openapi-router-controller: openapi_server.controllers.customers_controller
      x-codegen-request-body-name: body
  /api/v1/customers/{id}/orders:
    get:
      operationId: customer_get_customer_orders
      parameters:
      - description: The id of the customer
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: The current page to request starting with 1
        explode: true
        in: query
        name: page
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: The pagesize for the result list. Values between 1 and 250 are
          allowed
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult_System.Collections.Generic.List_Rechnungsdruck.WebApp.Controllers.Api.Order_'
            application/xml:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult_System.Collections.Generic.List_Rechnungsdruck.WebApp.Controllers.Api.Order_'
            text/json:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult_System.Collections.Generic.List_Rechnungsdruck.WebApp.Controllers.Api.Order_'
            text/xml:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult_System.Collections.Generic.List_Rechnungsdruck.WebApp.Controllers.Api.Order_'
          description: OK
      summary: Queries a list of orders from a customer
      tags:
      - Customers
      x-openapi-router-controller: openapi_server.controllers.customers_controller
  /api/v1/enums/orderstates:
    get:
      operationId: enum_api_get_order_states
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
          description: OK
      summary: Returns a list with all defined orderstates
      tags:
      - EnumApi
      x-openapi-router-controller: openapi_server.controllers.enum_api_controller
  /api/v1/enums/paymenttypes:
    get:
      operationId: enum_api_get_payment_types
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
          description: OK
      summary: Returns a list with all defined paymenttypes
      tags:
      - EnumApi
      x-openapi-router-controller: openapi_server.controllers.enum_api_controller
  /api/v1/enums/shipmenttypes:
    get:
      operationId: enum_api_get_shipment_types
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
          description: OK
      summary: Returns a list with all defined shipmenttypes
      tags:
      - EnumApi
      x-openapi-router-controller: openapi_server.controllers.enum_api_controller
  /api/v1/enums/shippingcarriers:
    get:
      operationId: enum_api_get_shipping_carriers
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
          description: OK
      summary: Returns a list with all defined shippingcarriers
      tags:
      - EnumApi
      x-openapi-router-controller: openapi_server.controllers.enum_api_controller
  /api/v1/events:
    get:
      operationId: event_api_get_list
      parameters:
      - description: Specifies the oldest date to include in the response
        explode: true
        in: query
        name: minDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Specifies the newest date to include in the response
        explode: true
        in: query
        name: maxDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Specifies the page to request
        explode: true
        in: query
        name: page
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: "Specifies the pagesize. Defaults to 50, max value is 250"
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Filter for specific event types
        explode: true
        in: query
        name: typeId
        required: false
        schema:
          items:
            format: int32
            type: integer
          type: array
        style: form
      - description: Filter for specific order id
        explode: true
        in: query
        name: orderId
        required: false
        schema:
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
          description: OK
      summary: Get a list of all events optionally filtered by date. This request
        is extra throttled to 2 calls per page per hour.
      tags:
      - Events
      x-openapi-router-controller: openapi_server.controllers.events_controller
  /api/v1/layouts:
    get:
      operationId: layout_api_get_list
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_System.Collections.Generic.List_Billbee.Interfaces.BillbeeAPI.Models.LayoutTemplate_'
            application/xml:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_System.Collections.Generic.List_Billbee.Interfaces.BillbeeAPI.Models.LayoutTemplate_'
            text/json:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_System.Collections.Generic.List_Billbee.Interfaces.BillbeeAPI.Models.LayoutTemplate_'
            text/xml:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_System.Collections.Generic.List_Billbee.Interfaces.BillbeeAPI.Models.LayoutTemplate_'
          description: OK
      tags:
      - Orders
      x-openapi-router-controller: openapi_server.controllers.orders_controller
  /api/v1/orders:
    get:
      operationId: order_api_get_list
      parameters:
      - description: Specifies the oldest order date to include in the response
        explode: true
        in: query
        name: minOrderDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Specifies the newest order date to include in the response
        explode: true
        in: query
        name: maxOrderDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Specifies the page to request
        explode: true
        in: query
        name: page
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: "Specifies the pagesize. Defaults to 50, max value is 250"
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Specifies a list of shop ids for which invoices should be included
        explode: true
        in: query
        name: shopId
        required: false
        schema:
          items:
            format: int64
            type: integer
          type: array
        style: form
      - description: Specifies a list of state ids to include in the response
        explode: true
        in: query
        name: orderStateId
        required: false
        schema:
          items:
            format: int32
            type: integer
          type: array
        style: form
      - description: Specifies a list of tags the order must have attached to be included
          in the response
        explode: true
        in: query
        name: tag
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "If given, all delivered orders have an Id greater than or equal\
          \ to the given minimumOrderId"
        explode: true
        in: query
        name: minimumBillBeeOrderId
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: "If given, the last modification has to be newer than the given\
          \ date"
        explode: true
        in: query
        name: modifiedAtMin
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "If given, the last modification has to be older or equal than\
          \ the given date."
        explode: true
        in: query
        name: modifiedAtMax
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "The source field for the article title. 0 = Order Position (default),\
          \ 1 = Article Title, 2 = Article Invoice Text"
        explode: true
        in: query
        name: articleTitleSource
        required: false
        schema:
          enum:
          - 0
          - 1
          - 2
          - 3
          format: int32
          type: integer
        style: form
      - description: If true the list of tags passed to the call are used to filter
          orders to not include these tags
        explode: true
        in: query
        name: excludeTags
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult_System.Collections.Generic.List_Billbee.Interfaces.BillbeeAPI.Model.Order_'
            application/xml:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult_System.Collections.Generic.List_Billbee.Interfaces.BillbeeAPI.Model.Order_'
            text/json:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult_System.Collections.Generic.List_Billbee.Interfaces.BillbeeAPI.Model.Order_'
            text/xml:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult_System.Collections.Generic.List_Billbee.Interfaces.BillbeeAPI.Model.Order_'
          description: OK
      summary: Get a list of all orders optionally filtered by date
      tags:
      - Orders
      x-openapi-router-controller: openapi_server.controllers.orders_controller
    post:
      description: "To create an order POST an JSON object to the orders endpoint\
        \ with the shown properties.\r\nNot all properties are required."
      operationId: order_api_post_new_order
      parameters:
      - description: "Deprecated, if orderData.ApiAccountId is set, it will be used\
          \ instead of 'shopId'"
        explode: true
        in: query
        name: shopId
        required: false
        schema:
          format: int64
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.Order'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.Order'
          application/xml:
            schema:
              $ref: '#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.Order'
          text/json:
            schema:
              $ref: '#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.Order'
          text/xml:
            schema:
              $ref: '#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.Order'
        required: true
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.Order_'
            application/xml:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.Order_'
            text/json:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.Order_'
            text/xml:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.Order_'
          description: The order was created successfully
        "400":
          description: Invalid data was received in the request
        "500":
          description: An internal exception occured. Order was not created
      summary: Creates a new order in the Billbee account
      tags:
      - Orders
      x-openapi-router-controller: openapi_server.controllers.orders_controller
      x-codegen-request-body-name: body
  /api/v1/orders/CreateDeliveryNote/{id}:
    post:
      operationId: order_api_create_delivery_note
      parameters:
      - description: The internal billbee id of the order
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: "If true, the PDF is included in the response as base64 encoded\
          \ string"
        explode: true
        in: query
        name: includePdf
        required: false
        schema:
          type: boolean
        style: form
      - description: Optionally specify the id of a billbee connected cloud device
          to send the pdf to
        explode: true
        in: query
        name: sendToCloudId
        required: false
        schema:
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
          description: OK
      summary: Create an delivery note for an existing order. This request is extra
        throttled by order and api key to a maximum of 1 per 5 minutes.
      tags:
      - Orders
      - DeliveryNote
      x-openapi-router-controller: openapi_server.controllers.orders_controller
  /api/v1/orders/CreateInvoice/{id}:
    post:
      operationId: order_api_create_invoice
      parameters:
      - description: The internal billbee id of the order
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: "If true, the PDF is included in the response as base64 encoded\
          \ string"
        explode: true
        in: query
        name: includeInvoicePdf
        required: false
        schema:
          type: boolean
        style: form
      - description: You can pass the id of an invoice template to overwrite the assigned
          template for invoice creation
        explode: true
        in: query
        name: templateId
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: You can pass the id of a connected cloud printer/storage to send
          the invoice to it
        explode: true
        in: query
        name: sendToCloudId
        required: false
        schema:
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Rechnungsdruck.WebApp.Controllers.Api.Invoice_'
            application/xml:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Rechnungsdruck.WebApp.Controllers.Api.Invoice_'
            text/json:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Rechnungsdruck.WebApp.Controllers.Api.Invoice_'
            text/xml:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Rechnungsdruck.WebApp.Controllers.Api.Invoice_'
          description: OK
      summary: Create an invoice for an existing order. This request is extra throttled
        by order and api key to a maximum of 1 per 5 minutes.
      tags:
      - Orders
      - Invoice
      x-openapi-router-controller: openapi_server.controllers.orders_controller
  /api/v1/orders/PatchableFields:
    get:
      operationId: order_api_get_patchable_fields
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
          description: OK
      summary: "Returns a list of fields which can be updated with the orders/{id}\
        \ patch call"
      tags:
      - Orders
      x-openapi-router-controller: openapi_server.controllers.orders_controller
  /api/v1/orders/find/{id}/{partner}:
    get:
      deprecated: true
      operationId: order_api_find
      parameters:
      - description: The order id from the external system
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Optional the name of the shop/marketplace the order was imported
          from
        explode: false
        in: path
        name: partner
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
          description: OK
      summary: Find a single order by its external id (order number)
      tags:
      - Orders
      x-openapi-router-controller: openapi_server.controllers.orders_controller
  /api/v1/orders/findbyextref/{extRef}:
    get:
      operationId: order_api_get_by_ext_ref
      parameters:
      - description: The extern order number of the order
        explode: false
        in: path
        name: extRef
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.Order_'
            application/xml:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.Order_'
            text/json:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.Order_'
            text/xml:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.Order_'
          description: OK
      summary: Get a single order by its external order number
      tags:
      - Orders
      x-openapi-router-controller: openapi_server.controllers.orders_controller
  /api/v1/orders/invoices:
    get:
      operationId: order_api_get_invoice_list
      parameters:
      - description: Specifies the oldest invoice date to include
        explode: true
        in: query
        name: minInvoiceDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Specifies the newest invoice date to include
        explode: true
        in: query
        name: maxInvoiceDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Specifies the page to request
        explode: true
        in: query
        name: page
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: "Specifies the pagesize. Defaults to 50, max value is 250"
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Specifies a list of shop ids for which invoices should be included
        explode: true
        in: query
        name: shopId
        required: false
        schema:
          items:
            format: int64
            type: integer
          type: array
        style: form
      - description: Specifies a list of state ids to include in the response
        explode: true
        in: query
        name: orderStateId
        required: false
        schema:
          items:
            format: int32
            type: integer
          type: array
        style: form
      - explode: true
        in: query
        name: tag
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: minPayDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: maxPayDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: includePositions
        required: false
        schema:
          type: boolean
        style: form
      - description: If true the list of tags passed to the call are used to filter
          orders to not include these tags
        explode: true
        in: query
        name: excludeTags
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult_System.Collections.Generic.List_Billbee.Interfaces.BillbeeAPI.Model.InvoiceApiModel_'
            application/xml:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult_System.Collections.Generic.List_Billbee.Interfaces.BillbeeAPI.Model.InvoiceApiModel_'
            text/json:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult_System.Collections.Generic.List_Billbee.Interfaces.BillbeeAPI.Model.InvoiceApiModel_'
            text/xml:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult_System.Collections.Generic.List_Billbee.Interfaces.BillbeeAPI.Model.InvoiceApiModel_'
          description: OK
      summary: Get a list of all invoices optionally filtered by date. This request
        ist throttled to 1 per 1 minute for same page and minInvoiceDate
      tags:
      - Orders
      - Invoice
      x-openapi-router-controller: openapi_server.controllers.orders_controller
  /api/v1/orders/{id}:
    get:
      operationId: order_api_get
      parameters:
      - description: The internal billbee id of the order
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: "The source field for the article title. 0 = Order Position (default),\
          \ 1 = Article Title, 2 = Article Invoice Text"
        explode: true
        in: query
        name: articleTitleSource
        required: false
        schema:
          enum:
          - 0
          - 1
          - 2
          - 3
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.Order_'
            application/xml:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.Order_'
            text/json:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.Order_'
            text/xml:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.Order_'
          description: OK
      summary: Get a single order by its internal billbee id. This request is throttled
        to 6 calls per order in one minute
      tags:
      - Orders
      x-openapi-router-controller: openapi_server.controllers.orders_controller
    patch:
      operationId: order_api_patch_order
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/Article_PatchArticleModel'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.Order_'
            application/xml:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.Order_'
            text/json:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.Order_'
            text/xml:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.Order_'
          description: OK
      summary: Updates one or more fields of an order
      tags:
      - Orders
      x-openapi-router-controller: openapi_server.controllers.orders_controller
      x-codegen-request-body-name: body
  /api/v1/orders/{id}/orderstate:
    put:
      description: "### REMARKS ###\r\nUse this call to change the state of an order\
        \ to i.e. paid or sent.\r\n\r\nThe state is transfered to the external shop/marketplace\
        \ if configured.\r\nThis is the list of known states:\r\n- 1: ordered\r\n\
        - 2: confirmed\r\n- 3: paid\r\n- 4: shipped\r\n- 5: reclamation\r\n- 6: deleted\r\
        \n- 7: closed\r\n- 8: canceled\r\n- 9: archived\r\n- 10: not used\r\n- 11:\
        \ demand note 1\r\n- 12: demand note 2\r\n- 13: packed\r\n- 14: offered\r\n\
        - 15: payment reminder\r\n- 16: fulfilling"
      operationId: order_api_update_state
      parameters:
      - description: The internal id of the order
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.OrderStateUpdate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.OrderStateUpdate'
          application/xml:
            schema:
              $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.OrderStateUpdate'
          text/json:
            schema:
              $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.OrderStateUpdate'
          text/xml:
            schema:
              $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.OrderStateUpdate'
        description: The data used to change the state
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
          description: OK
      summary: Changes the main state of a single order
      tags:
      - Orders
      x-openapi-router-controller: openapi_server.controllers.orders_controller
      x-codegen-request-body-name: body
  /api/v1/orders/{id}/parse-placeholders:
    post:
      operationId: order_api_parse_placeholders
      parameters:
      - description: The id of the order
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.OrderApiController.ParseTextContainer'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.OrderApiController.ParseTextContainer'
          application/xml:
            schema:
              $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.OrderApiController.ParseTextContainer'
          text/json:
            schema:
              $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.OrderApiController.ParseTextContainer'
          text/xml:
            schema:
              $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.OrderApiController.ParseTextContainer'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
          description: OK
      summary: Parses a text and replaces all placeholders
      tags:
      - Orders
      x-openapi-router-controller: openapi_server.controllers.orders_controller
      x-codegen-request-body-name: body
  /api/v1/orders/{id}/send-message:
    post:
      operationId: order_api_send_message
      parameters:
      - description: The id of the order
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.OrderApiController.SendMessageModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.OrderApiController.SendMessageModel'
          application/xml:
            schema:
              $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.OrderApiController.SendMessageModel'
          text/json:
            schema:
              $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.OrderApiController.SendMessageModel'
          text/xml:
            schema:
              $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.OrderApiController.SendMessageModel'
        description: The message model
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
          description: OK
      summary: Sends a message to the buyer
      tags:
      - Orders
      x-openapi-router-controller: openapi_server.controllers.orders_controller
      x-codegen-request-body-name: body
  /api/v1/orders/{id}/shipment:
    post:
      operationId: order_api_add_shipment
      parameters:
      - description: The internal billbee id of the order
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiAddShipmentToOrderModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiAddShipmentToOrderModel'
          application/xml:
            schema:
              $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiAddShipmentToOrderModel'
          text/json:
            schema:
              $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiAddShipmentToOrderModel'
          text/xml:
            schema:
              $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiAddShipmentToOrderModel'
        description: The shipment data to create the shipment
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
          description: OK
      summary: Add a shipment to a given order
      tags:
      - Orders
      x-openapi-router-controller: openapi_server.controllers.orders_controller
      x-codegen-request-body-name: body
  /api/v1/orders/{id}/tags:
    post:
      description: "When a tag is already attached, it is ignored. Tags are not case\
        \ sensitive. All given tags are added to the existing tags."
      operationId: order_api_tags_create
      parameters:
      - description: The internal id of the order
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/Rechnungsdruck.WebApp.Controllers.Api.OrderTagCreate'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
          description: OK
      summary: Attach one or more tags to an order
      tags:
      - Orders
      x-openapi-router-controller: openapi_server.controllers.orders_controller
      x-codegen-request-body-name: body
    put:
      description: "All existing tags will be replaced by the given list of new tags.\
        \ To just add tags, use POST method."
      operationId: order_api_tags_update
      parameters:
      - description: The internal id of the order
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/Rechnungsdruck.WebApp.Controllers.Api.OrderTagCreate'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
          description: OK
      summary: Sets the tags attached to an order
      tags:
      - Orders
      x-openapi-router-controller: openapi_server.controllers.orders_controller
      x-codegen-request-body-name: body
  /api/v1/orders/{id}/trigger-event:
    post:
      operationId: order_api_trigger_event
      parameters:
      - description: The id of the order
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.OrderApiController.TriggerEventContainer'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.OrderApiController.TriggerEventContainer'
          application/xml:
            schema:
              $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.OrderApiController.TriggerEventContainer'
          text/json:
            schema:
              $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.OrderApiController.TriggerEventContainer'
          text/xml:
            schema:
              $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.OrderApiController.TriggerEventContainer'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
          description: OK
      summary: Triggers a rule event
      tags:
      - Orders
      x-openapi-router-controller: openapi_server.controllers.orders_controller
      x-codegen-request-body-name: body
  /api/v1/products:
    get:
      operationId: article_get_list
      parameters:
      - description: The current page to request starting with 1
        explode: true
        in: query
        name: page
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: The pagesize for the result list. Values between 1 and 250 are
          allowed
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Optional the oldest create date of the articles to be returned
        explode: true
        in: query
        name: minCreatedAt
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: minimumBillBeeArticleId
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: maximumBillBeeArticleId
        required: false
        schema:
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult_System.Collections.Generic.List_Billbee.Interfaces.BillbeeAPI.Model.ArticleApiModel_'
            text/json:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult_System.Collections.Generic.List_Billbee.Interfaces.BillbeeAPI.Model.ArticleApiModel_'
          description: OK
      summary: Get a list of all products
      tags:
      - Products
      x-openapi-router-controller: openapi_server.controllers.products_controller
    post:
      operationId: article_create_article
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.ArticleApiModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.ArticleApiModel'
          text/json:
            schema:
              $ref: '#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.ArticleApiModel'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
          description: OK
      summary: Creates a new product
      tags:
      - Products
      x-openapi-router-controller: openapi_server.controllers.products_controller
      x-codegen-request-body-name: body
  /api/v1/products/PatchableFields:
    get:
      operationId: article_get_patchable_fields
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
          description: OK
      summary: Returns a list of fields which can be updated with the patch call
      tags:
      - Products
      x-openapi-router-controller: openapi_server.controllers.products_controller
  /api/v1/products/category:
    get:
      operationId: article_get_category
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
          description: OK
      summary: GEts a list of all defined categories
      tags:
      - Products
      x-openapi-router-controller: openapi_server.controllers.products_controller
  /api/v1/products/custom-fields:
    get:
      operationId: article_get_custom_fields
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: pageSize
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult_System.Collections.Generic.List_Billbee.Interfaces.BillbeeAPI.Model.ArticleApiCustomFieldDefinitionModel_'
            application/xml:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult_System.Collections.Generic.List_Billbee.Interfaces.BillbeeAPI.Model.ArticleApiCustomFieldDefinitionModel_'
            text/json:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult_System.Collections.Generic.List_Billbee.Interfaces.BillbeeAPI.Model.ArticleApiCustomFieldDefinitionModel_'
            text/xml:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult_System.Collections.Generic.List_Billbee.Interfaces.BillbeeAPI.Model.ArticleApiCustomFieldDefinitionModel_'
          description: OK
      summary: Queries a list of all custom fields
      tags:
      - Products
      x-openapi-router-controller: openapi_server.controllers.products_controller
  /api/v1/products/custom-fields/{id}:
    get:
      operationId: article_get_custom_field
      parameters:
      - description: The id of the custom field to query
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.ArticleApiCustomFieldDefinitionModel_'
            application/xml:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.ArticleApiCustomFieldDefinitionModel_'
            text/json:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.ArticleApiCustomFieldDefinitionModel_'
            text/xml:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.ArticleApiCustomFieldDefinitionModel_'
          description: OK
      summary: Queries a single custom field
      tags:
      - Products
      x-openapi-router-controller: openapi_server.controllers.products_controller
  /api/v1/products/images/delete:
    post:
      operationId: article_delete_images
      requestBody:
        content:
          application/json:
            schema:
              items:
                format: int64
                type: integer
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                format: int64
                type: integer
              type: array
          application/xml:
            schema:
              items:
                format: int64
                type: integer
              type: array
          text/json:
            schema:
              items:
                format: int64
                type: integer
              type: array
          text/xml:
            schema:
              items:
                format: int64
                type: integer
              type: array
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.DeletedImagesModel_'
            application/xml:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.DeletedImagesModel_'
            text/json:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.DeletedImagesModel_'
            text/xml:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.DeletedImagesModel_'
          description: OK
      summary: Delete multiple images by id
      tags:
      - Products
      x-openapi-router-controller: openapi_server.controllers.products_controller
      x-codegen-request-body-name: body
  /api/v1/products/images/{imageId}:
    delete:
      operationId: article_delete_image
      parameters:
      - description: The image id
        explode: false
        in: path
        name: imageId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
          description: OK
      summary: Deletes a single image by id
      tags:
      - Products
      x-openapi-router-controller: openapi_server.controllers.products_controller
    get:
      operationId: article_get_image
      parameters:
      - description: The Id of the image
        explode: false
        in: path
        name: imageId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.ArticleImageRelationApiModel_'
            application/xml:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.ArticleImageRelationApiModel_'
            text/json:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.ArticleImageRelationApiModel_'
            text/xml:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.ArticleImageRelationApiModel_'
          description: OK
      summary: Returns a single image by id
      tags:
      - Products
      x-openapi-router-controller: openapi_server.controllers.products_controller
  /api/v1/products/reservedamount:
    get:
      operationId: article_get_reserved_amount
      parameters:
      - description: The id or the sku of the article to query
        explode: true
        in: query
        name: id
        required: true
        schema:
          type: string
        style: form
      - description: Either the value id or the value sku to specify the meaning of
          the id parameter
        explode: true
        in: query
        name: lookupBy
        required: false
        schema:
          type: string
        style: form
      - description: Optional the stock id if the multi stock feature is enabled
        explode: true
        in: query
        name: stockId
        required: false
        schema:
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.GetReservedAmountResponseData_'
            application/xml:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.GetReservedAmountResponseData_'
            text/json:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.GetReservedAmountResponseData_'
            text/xml:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.GetReservedAmountResponseData_'
          description: OK
      summary: Queries the reserved amount for a single article by id or by sku
      tags:
      - Products
      x-openapi-router-controller: openapi_server.controllers.products_controller
  /api/v1/products/stocks:
    get:
      operationId: article_get_stocks
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_System.Collections.Generic.List_Billbee.Interfaces.BillbeeAPI.Model.StockResponseData_'
            application/xml:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_System.Collections.Generic.List_Billbee.Interfaces.BillbeeAPI.Model.StockResponseData_'
            text/json:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_System.Collections.Generic.List_Billbee.Interfaces.BillbeeAPI.Model.StockResponseData_'
            text/xml:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_System.Collections.Generic.List_Billbee.Interfaces.BillbeeAPI.Model.StockResponseData_'
          description: OK
      summary: Query all defined stock locations
      tags:
      - Products
      x-openapi-router-controller: openapi_server.controllers.products_controller
  /api/v1/products/updatestock:
    post:
      description: The article is specified by sku. You have to send the absolute
        value for the current stock
      operationId: article_update_stock
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.UpdateStockApiModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.UpdateStockApiModel'
          application/xml:
            schema:
              $ref: '#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.UpdateStockApiModel'
          text/json:
            schema:
              $ref: '#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.UpdateStockApiModel'
          text/xml:
            schema:
              $ref: '#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.UpdateStockApiModel'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.UpdateStockResponseData_'
            application/xml:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.UpdateStockResponseData_'
            text/json:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.UpdateStockResponseData_'
            text/xml:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.UpdateStockResponseData_'
          description: OK
      summary: Update the stock qty of an article
      tags:
      - Products
      x-openapi-router-controller: openapi_server.controllers.products_controller
      x-codegen-request-body-name: body
  /api/v1/products/updatestockcode:
    post:
      operationId: article_update_stock_code
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.UpdateStockCodeApiModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.UpdateStockCodeApiModel'
          application/xml:
            schema:
              $ref: '#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.UpdateStockCodeApiModel'
          text/json:
            schema:
              $ref: '#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.UpdateStockCodeApiModel'
          text/xml:
            schema:
              $ref: '#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.UpdateStockCodeApiModel'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.UpdateStockCodeResponseData_'
            application/xml:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.UpdateStockCodeResponseData_'
            text/json:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.UpdateStockCodeResponseData_'
            text/xml:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.UpdateStockCodeResponseData_'
          description: OK
      summary: Update the stock code of an article
      tags:
      - Products
      x-openapi-router-controller: openapi_server.controllers.products_controller
      x-codegen-request-body-name: body
  /api/v1/products/updatestockmultiple:
    post:
      operationId: article_update_stock_multiple
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.UpdateStockApiModel'
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.UpdateStockApiModel'
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.UpdateStockApiModel'
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.UpdateStockApiModel'
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.UpdateStockApiModel'
              type: array
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.UpdateStockResponseData_'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.UpdateStockResponseData_'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.UpdateStockResponseData_'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.UpdateStockResponseData_'
                type: array
          description: OK
      summary: Update the stock qty for multiple articles at once
      tags:
      - Products
      x-openapi-router-controller: openapi_server.controllers.products_controller
      x-codegen-request-body-name: body
  /api/v1/products/{id}:
    delete:
      operationId: article_delete_article
      parameters:
      - description: The id of the Product
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
          description: OK
      summary: Deletes a product
      tags:
      - Products
      x-openapi-router-controller: openapi_server.controllers.products_controller
    get:
      operationId: article_get_article
      parameters:
      - description: The id or the sku of the article to query
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: "Either the value id, ean or the value sku to specify the meaning\
          \ of the id parameter."
        explode: true
        in: query
        name: lookupBy
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.ArticleApiModel_'
            text/json:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.ArticleApiModel_'
          description: OK
      summary: Queries a single article by id or by sku
      tags:
      - Products
      x-openapi-router-controller: openapi_server.controllers.products_controller
    patch:
      operationId: article_patch_article
      parameters:
      - description: The id of the Product
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/Article_PatchArticleModel'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
          description: OK
      summary: Updates one or more fields of a product
      tags:
      - Products
      x-openapi-router-controller: openapi_server.controllers.products_controller
      x-codegen-request-body-name: body
  /api/v1/products/{productId}/images:
    get:
      operationId: article_get_images
      parameters:
      - description: The Id of the product
        explode: false
        in: path
        name: productId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_System.Collections.Generic.List_Billbee.Interfaces.BillbeeAPI.Model.ArticleImageRelationApiModel_'
            application/xml:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_System.Collections.Generic.List_Billbee.Interfaces.BillbeeAPI.Model.ArticleImageRelationApiModel_'
            text/json:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_System.Collections.Generic.List_Billbee.Interfaces.BillbeeAPI.Model.ArticleImageRelationApiModel_'
            text/xml:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_System.Collections.Generic.List_Billbee.Interfaces.BillbeeAPI.Model.ArticleImageRelationApiModel_'
          description: OK
      summary: Returns a list of all images of the product
      tags:
      - Products
      x-openapi-router-controller: openapi_server.controllers.products_controller
    put:
      operationId: article_put_images
      parameters:
      - description: The id of the product
        explode: false
        in: path
        name: productId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: "If you pass true, the images will be replaced by the passed\
          \ images. Otherwise the passed images will be appended to the product."
        explode: true
        in: query
        name: replace
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.ArticleImageRelationApiModel'
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.ArticleImageRelationApiModel'
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.ArticleImageRelationApiModel'
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.ArticleImageRelationApiModel'
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.ArticleImageRelationApiModel'
              type: array
        description: An array of ArticleApiImageModel
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.ArticleImageRelationApiModel_'
            application/xml:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.ArticleImageRelationApiModel_'
            text/json:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.ArticleImageRelationApiModel_'
            text/xml:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.ArticleImageRelationApiModel_'
          description: OK
      summary: Add multiple images to a product or replace the product images by the
        given images
      tags:
      - Products
      x-openapi-router-controller: openapi_server.controllers.products_controller
      x-codegen-request-body-name: body
  /api/v1/products/{productId}/images/{imageId}:
    delete:
      operationId: article_delete_image_from_product
      parameters:
      - description: The product id
        explode: false
        in: path
        name: productId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: The image id
        explode: false
        in: path
        name: imageId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
          description: OK
      summary: Deletes a single image from a product
      tags:
      - Products
      x-openapi-router-controller: openapi_server.controllers.products_controller
    get:
      operationId: article_get_image_from_product
      parameters:
      - description: The Id of the product
        explode: false
        in: path
        name: productId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: The Id of the image
        explode: false
        in: path
        name: imageId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.ArticleImageRelationApiModel_'
            application/xml:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.ArticleImageRelationApiModel_'
            text/json:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.ArticleImageRelationApiModel_'
            text/xml:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.ArticleImageRelationApiModel_'
          description: OK
      summary: Returns a single image by id
      tags:
      - Products
      x-openapi-router-controller: openapi_server.controllers.products_controller
    put:
      operationId: article_put_image
      parameters:
      - description: The product id
        explode: false
        in: path
        name: productId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: "The image id. If you pass 0, the image will be added"
        explode: false
        in: path
        name: imageId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.ArticleImageRelationApiModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.ArticleImageRelationApiModel'
          application/xml:
            schema:
              $ref: '#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.ArticleImageRelationApiModel'
          text/json:
            schema:
              $ref: '#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.ArticleImageRelationApiModel'
          text/xml:
            schema:
              $ref: '#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.ArticleImageRelationApiModel'
        description: The ArticleApiImageModel
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.ArticleImageRelationApiModel_'
            application/xml:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.ArticleImageRelationApiModel_'
            text/json:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.ArticleImageRelationApiModel_'
            text/xml:
              schema:
                $ref: '#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.ArticleImageRelationApiModel_'
          description: OK
      summary: Add or update an existing image of a product
      tags:
[...]
