openapi: 3.0.1
info:
  contact:
    email: support@cloud-elements.com
  title: ecwid
  version: api-v2
  x-apisguru-categories:
  - ecommerce
  x-element-hub: ecommerce
  x-element-id: 52
  x-element-key: ecwid
  x-element-name: Ecwid
  x-logo:
    url: https://cloud-elements.com/wp-content/uploads/2019/05/ces_favicon_32x32.png
  x-origin:
  - format: swagger
    url: https://api.cloud-elements.com/elements/api-v2/elements/52/docs?version=-1
    version: "2.0"
  x-providerName: cloud-elements.com
  x-serviceName: ecwid
servers:
- url: https://api.cloud-elements.com/elements/api-v2
tags:
- name: ping
- name: objects
- name: objectName
- name: orders
- name: customers
- name: bulk
- name: products
paths:
  /bulk/download:
    post:
      operationId: create_bulk_download
      parameters:
      - description: "The authorization tokens. The format for the header value is\
          \ 'Element &lt;token&gt;, User &lt;user secret&gt;'"
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/bulkDownloadRequest'
        description: The object body
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BulkQuery'
          description: OK - Everything worked as expected
        "400":
          content: {}
          description: Bad Request - Often due to a missing request parameter
        "401":
          content: {}
          description: "Unauthorized - An invalid element token, user secret and/or\
            \ org secret provided"
        "403":
          content: {}
          description: Forbidden - Access to the resource by the provider is forbidden
        "404":
          content: {}
          description: Not found - The requested resource is not found
        "405":
          content: {}
          description: "Method not allowed - Incorrect HTTP verb used, e.g., GET used\
            \ when POST expected"
        "406":
          content: {}
          description: Not acceptable - The response content type does not match the
            'Accept' header value
        "409":
          content: {}
          description: Conflict - If a resource being created already exists
        "415":
          content: {}
          description: Unsupported media type - The server cannot handle the requested
            Content-Type
        "500":
          content: {}
          description: Server error - Something went wrong on the Cloud Elements server
        "502":
          content: {}
          description: Provider server error - Something went wrong on the Provider
            or Endpoint's server
      summary: Create a new bulk download job (asynchronous)
      tags:
      - bulk
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.bulk_controller
  /bulk/jobs:
    get:
      operationId: get_bulk_jobs
      parameters:
      - description: "The authorization tokens. The format for the header value is\
          \ 'Element &lt;token&gt;, User &lt;user secret&gt;'"
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: "The CEQL search expression, or the where clause, without the\
          \ WHERE keyword, in a typical SQL query. For example to get all upload jobs\
          \ the expression would be where=job_direction='UPLOAD'. The following fields\
          \ are valid search fields 'object_name', 'job_status', 'job_direction',\
          \ 'record_count'"
        in: query
        name: where
        schema:
          type: string
      - description: "The next page cursor, taken from the response header: `elements-next-page-token`"
        in: query
        name: nextPage
        schema:
          type: string
      - description: "The page size for pagination, which defaults to 200 if not supplied"
        in: query
        name: pageSize
        schema:
          format: int64
          type: integer
      - description: The fields to return on the response. Can be a single field or
          a comma-separated list of fields
        in: query
        name: fields
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BulkJobList'
          description: OK - Everything worked as expected
        "400":
          content: {}
          description: Bad Request - Often due to a missing request parameter
        "401":
          content: {}
          description: "Unauthorized - An invalid element token, user secret and/or\
            \ org secret provided"
        "403":
          content: {}
          description: Forbidden - Access to the resource by the provider is forbidden
        "404":
          content: {}
          description: Not found - The requested resource is not found
        "405":
          content: {}
          description: "Method not allowed - Incorrect HTTP verb used, e.g., GET used\
            \ when POST expected"
        "406":
          content: {}
          description: Not acceptable - The response content type does not match the
            'Accept' header value
        "409":
          content: {}
          description: Conflict - If a resource being created already exists
        "415":
          content: {}
          description: Unsupported media type - The server cannot handle the requested
            Content-Type
        "500":
          content: {}
          description: Server error - Something went wrong on the Cloud Elements server
        "502":
          content: {}
          description: Provider server error - Something went wrong on the Provider
            or Endpoint's server
      summary: Fetch all the bulk jobs for an instance
      tags:
      - bulk
      x-openapi-router-controller: openapi_server.controllers.bulk_controller
  /bulk/query:
    post:
      operationId: create_bulk_query
      parameters:
      - description: "The authorization tokens. The format for the header value is\
          \ 'Element &lt;token&gt;, User &lt;user secret&gt;'"
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: The Url to send the notification to when the Job is completed
        in: header
        name: Elements-Async-Callback-Url
        schema:
          type: string
      - description: "The CEQL query. When this parameter is omitted, all objects\
          \ of the given type are returned via the bulk job. Endpoint limiters may\
          \ still apply."
        in: query
        name: q
        schema:
          type: string
      - description: The last time this query was run. This is optional. You can also
          have this parameter in the query and leave this blank - optional eg. '2014-10-06T13:22:17-08:00'
        in: query
        name: lastRunDate
        schema:
          type: string
      - description: The created/updated date of the object to filter on - optional
          eg. '2014-10-06T13:22:17-08:00'
        in: query
        name: from
        schema:
          type: string
      - description: The created/updated date of the object to filter on - optional
          eg. '2014-10-06T13:22:17-08:00'
        in: query
        name: to
        schema:
          type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/createBulkQuery_request'
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BulkQuery'
          description: OK - Everything worked as expected
        "400":
          content: {}
          description: Bad Request - Often due to a missing request parameter
        "401":
          content: {}
          description: "Unauthorized - An invalid element token, user secret and/or\
            \ org secret provided"
        "403":
          content: {}
          description: Forbidden - Access to the resource by the provider is forbidden
        "404":
          content: {}
          description: Not found - The requested resource is not found
        "405":
          content: {}
          description: "Method not allowed - Incorrect HTTP verb used, e.g., GET used\
            \ when POST expected"
        "406":
          content: {}
          description: Not acceptable - The response content type does not match the
            'Accept' header value
        "409":
          content: {}
          description: Conflict - If a resource being created already exists
        "415":
          content: {}
          description: Unsupported media type - The server cannot handle the requested
            Content-Type
        "500":
          content: {}
          description: Server error - Something went wrong on the Cloud Elements server
        "502":
          content: {}
          description: Provider server error - Something went wrong on the Provider
            or Endpoint's server
      summary: Create an asynchronous bulk query job.
      tags:
      - bulk
      x-openapi-router-controller: openapi_server.controllers.bulk_controller
      x-codegen-request-body-name: body
  /bulk/{id}/cancel:
    put:
      operationId: replace_bulk_cancel
      parameters:
      - description: "The authorization tokens. The format for the header value is\
          \ 'Element &lt;token&gt;, User &lt;user secret&gt;'"
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: The ID of the bulk job to cancel.
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BulkStatus'
          description: OK - Everything worked as expected
        "400":
          content: {}
          description: Bad Request - Often due to a missing request parameter
        "401":
          content: {}
          description: "Unauthorized - An invalid element token, user secret and/or\
            \ org secret provided"
        "403":
          content: {}
          description: Forbidden - Access to the resource by the provider is forbidden
        "404":
          content: {}
          description: Not found - The requested resource is not found
        "405":
          content: {}
          description: "Method not allowed - Incorrect HTTP verb used, e.g., GET used\
            \ when POST expected"
        "406":
          content: {}
          description: Not acceptable - The response content type does not match the
            'Accept' header value
        "409":
          content: {}
          description: Conflict - If a resource being created already exists
        "415":
          content: {}
          description: Unsupported media type - The server cannot handle the requested
            Content-Type
        "500":
          content: {}
          description: Server error - Something went wrong on the Cloud Elements server
        "502":
          content: {}
          description: Provider server error - Something went wrong on the Provider
            or Endpoint's server
      summary: Cancel an asynchronous bulk query job.
      tags:
      - bulk
      x-openapi-router-controller: openapi_server.controllers.bulk_controller
  /bulk/{id}/errors:
    get:
      operationId: get_bulk_errors
      parameters:
      - description: "The authorization tokens. The format for the header value is\
          \ 'Element &lt;token&gt;, User &lt;user secret&gt;'"
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: The ID of the bulk job to retrieve its errors.
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: "The page size for pagination, which defaults to 200 if not supplied"
        in: query
        name: pageSize
        schema:
          format: int64
          type: integer
      - description: "The next page cursor, taken from the response header: `elements-next-page-token`"
        in: query
        name: nextPage
        schema:
          type: string
      - description: The fields to return on the response. Can be a single field or
          a comma-separated list of fields
        in: query
        name: fields
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  type: string
                type: array
          description: OK - Everything worked as expected
        "400":
          content: {}
          description: Bad Request - Often due to a missing request parameter
        "401":
          content: {}
          description: "Unauthorized - An invalid element token, user secret and/or\
            \ org secret provided"
        "403":
          content: {}
          description: Forbidden - Access to the resource by the provider is forbidden
        "404":
          content: {}
          description: Not found - The requested resource is not found
        "405":
          content: {}
          description: "Method not allowed - Incorrect HTTP verb used, e.g., GET used\
            \ when POST expected"
        "406":
          content: {}
          description: Not acceptable - The response content type does not match the
            'Accept' header value
        "409":
          content: {}
          description: Conflict - If a resource being created already exists
        "415":
          content: {}
          description: Unsupported media type - The server cannot handle the requested
            Content-Type
        "500":
          content: {}
          description: Server error - Something went wrong on the Cloud Elements server
        "502":
          content: {}
          description: Provider server error - Something went wrong on the Provider
            or Endpoint's server
      summary: Retrieve the errors of a bulk job.
      tags:
      - bulk
      x-openapi-router-controller: openapi_server.controllers.bulk_controller
  /bulk/{id}/status:
    get:
      operationId: get_bulk_status
      parameters:
      - description: "The authorization tokens. The format for the header value is\
          \ 'Element &lt;token&gt;, User &lt;user secret&gt;'"
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: The ID of the bulk job to retrieve its status.
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BulkStatus'
          description: OK - Everything worked as expected
        "400":
          content: {}
          description: Bad Request - Often due to a missing request parameter
        "401":
          content: {}
          description: "Unauthorized - An invalid element token, user secret and/or\
            \ org secret provided"
        "403":
          content: {}
          description: Forbidden - Access to the resource by the provider is forbidden
        "404":
          content: {}
          description: Not found - The requested resource is not found
        "405":
          content: {}
          description: "Method not allowed - Incorrect HTTP verb used, e.g., GET used\
            \ when POST expected"
        "406":
          content: {}
          description: Not acceptable - The response content type does not match the
            'Accept' header value
        "409":
          content: {}
          description: Conflict - If a resource being created already exists
        "415":
          content: {}
          description: Unsupported media type - The server cannot handle the requested
            Content-Type
        "500":
          content: {}
          description: Server error - Something went wrong on the Cloud Elements server
        "502":
          content: {}
          description: Provider server error - Something went wrong on the Provider
            or Endpoint's server
      summary: Retrieve the status of a bulk job.
      tags:
      - bulk
      x-openapi-router-controller: openapi_server.controllers.bulk_controller
  /bulk/{id}/{objectName}:
    get:
      operationId: get_bulk_by_object_name
      parameters:
      - description: "The authorization tokens. The format for the header value is\
          \ 'Element &lt;token&gt;, User &lt;user secret&gt;'"
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: The ID of the bulk job
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: The name of the object
        in: path
        name: objectName
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            text/csv:
              schema:
                format: binary
                type: string
            application/json:
              schema:
                format: binary
                type: string
            application/jsonl:
              schema:
                format: binary
                type: string
          description: OK - Everything worked as expected
        "400":
          content: {}
          description: Bad Request - Often due to a missing request parameter
        "401":
          content: {}
          description: "Unauthorized - An invalid element token, user secret and/or\
            \ org secret provided"
        "403":
          content: {}
          description: Forbidden - Access to the resource by the provider is forbidden
        "404":
          content: {}
          description: Not found - The requested resource is not found
        "405":
          content: {}
          description: "Method not allowed - Incorrect HTTP verb used, e.g., GET used\
            \ when POST expected"
        "406":
          content: {}
          description: Not acceptable - The response content type does not match the
            'Accept' header value
        "409":
          content: {}
          description: Conflict - If a resource being created already exists
        "415":
          content: {}
          description: Unsupported media type - The server cannot handle the requested
            Content-Type
        "500":
          content: {}
          description: Server error - Something went wrong on the Cloud Elements server
        "502":
          content: {}
          description: Provider server error - Something went wrong on the Provider
            or Endpoint's server
      summary: Retrieve the results of an asynchronous bulk query.
      tags:
      - bulk
      x-openapi-router-controller: openapi_server.controllers.bulk_controller
  /bulk/{objectName}:
    post:
      operationId: create_bulk_by_object_name
      parameters:
      - description: "The authorization tokens. The format for the header value is\
          \ 'Element &lt;token&gt;, User &lt;user secret&gt;'"
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: The Url to send the notification to when the Job is completed
        in: header
        name: Elements-Async-Callback-Url
        schema:
          type: string
      - description: The name of the object for which data needs to be uploaded.
        in: path
        name: objectName
        required: true
        schema:
          type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/createBulkByObjectName_request'
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BulkUploadResponse'
          description: OK - Everything worked as expected
        "400":
          content: {}
          description: Bad Request - Often due to a missing request parameter
        "401":
          content: {}
          description: "Unauthorized - An invalid element token, user secret and/or\
            \ org secret provided"
        "403":
          content: {}
          description: Forbidden - Access to the resource by the provider is forbidden
        "404":
          content: {}
          description: Not found - The requested resource is not found
        "405":
          content: {}
          description: "Method not allowed - Incorrect HTTP verb used, e.g., GET used\
            \ when POST expected"
        "406":
          content: {}
          description: Not acceptable - The response content type does not match the
            'Accept' header value
        "409":
          content: {}
          description: Conflict - If a resource being created already exists
        "415":
          content: {}
          description: Unsupported media type - The server cannot handle the requested
            Content-Type
        "500":
          content: {}
          description: Server error - Something went wrong on the Cloud Elements server
        "502":
          content: {}
          description: Provider server error - Something went wrong on the Provider
            or Endpoint's server
      summary: Upload a file of objects to be bulk uploaded to the provider.
      tags:
      - bulk
      x-openapi-router-controller: openapi_server.controllers.bulk_controller
      x-codegen-request-body-name: body
  /customers:
    get:
      operationId: get_customers
      parameters:
      - description: "The authorization tokens. The format for the header value is\
          \ 'Element &lt;token&gt;, User &lt;user secret&gt;'"
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: "The CEQL search expression, or the where clause, without the\
          \ WHERE keyword, in a typical SQL query (i.e. field='value'). <p>Supported\
          \ search terms: customer_id and customer_email. All other search criteria\
          \ are ignored. NOTE: When searching by customer_id, do not quote the value\
          \ (ex: customer_id=15693430), as the ID is a number rather than a string.\
          \  When searching by email, quote the value (ex: customer_email='a@b.c'),\
          \ as the email parameter is a string"
        in: query
        name: where
        schema:
          type: string
      - description: "The number of results to fetch in a given page. When this parameter\
          \ is omitted, a maximum of 200 results are returned"
        in: query
        name: pageSize
        schema:
          format: int64
          type: integer
      - description: "The next page cursor, taken from the response header: `elements-next-page-token`"
        in: query
        name: nextPage
        schema:
          type: string
      - description: The fields to return on the response. Can be a single field or
          a comma-separated list of fields
        in: query
        name: fields
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/Customer'
                type: array
          description: OK - Everything worked as expected
        "400":
          content: {}
          description: Bad Request - Often due to a missing request parameter
        "401":
          content: {}
          description: "Unauthorized - An invalid element token, user secret and/or\
            \ org secret provided"
        "403":
          content: {}
          description: Forbidden - Access to the resource by the provider is forbidden
        "404":
          content: {}
          description: Not found - The requested resource is not found
        "405":
          content: {}
          description: "Method not allowed - Incorrect HTTP verb used, e.g., GET used\
            \ when POST expected"
        "406":
          content: {}
          description: Not acceptable - The response content type does not match the
            'Accept' header value
        "409":
          content: {}
          description: Conflict - If a resource being created already exists
        "415":
          content: {}
          description: Unsupported media type - The server cannot handle the requested
            Content-Type
        "500":
          content: {}
          description: Server error - Something went wrong on the Cloud Elements server
        "502":
          content: {}
          description: Provider server error - Something went wrong on the Provider
            or Endpoint's server
      summary: "Find customers in the eCommerce system, using the provided CEQL search\
        \ expression. If no search expression is provided, all records will be retrieved"
      tags:
      - customers
      x-openapi-router-controller: openapi_server.controllers.customers_controller
    post:
      operationId: create_customer
      parameters:
      - description: "The authorization tokens. The format for the header value is\
          \ 'Element &lt;token&gt;, User &lt;user secret&gt;'"
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/CustomerPost'
        description: The customer object to be created
        required: true
        x-body-name: customer
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Customer'
          description: OK - Everything worked as expected
        "400":
          content: {}
          description: Bad Request - Often due to a missing request parameter
        "401":
          content: {}
          description: "Unauthorized - An invalid element token, user secret and/or\
            \ org secret provided"
        "403":
          content: {}
          description: Forbidden - Access to the resource by the provider is forbidden
        "404":
          content: {}
          description: Not found - The requested resource is not found
        "405":
          content: {}
          description: "Method not allowed - Incorrect HTTP verb used, e.g., GET used\
            \ when POST expected"
        "406":
          content: {}
          description: Not acceptable - The response content type does not match the
            'Accept' header value
        "409":
          content: {}
          description: Conflict - If a resource being created already exists
        "415":
          content: {}
          description: Unsupported media type - The server cannot handle the requested
            Content-Type
        "500":
          content: {}
          description: Server error - Something went wrong on the Cloud Elements server
        "502":
          content: {}
          description: Provider server error - Something went wrong on the Provider
            or Endpoint's server
      summary: "Create a new customer in eCommerce system.With the exception of the\
        \ 'id' field, the required fields indicated in the 'Customer' model are those\
        \ required to create a new customer"
      tags:
      - customers
      x-codegen-request-body-name: customer
      x-openapi-router-controller: openapi_server.controllers.customers_controller
  /customers/{id}:
    delete:
      operationId: delete_customer_by_id
      parameters:
      - description: "The authorization tokens. The format for the header value is\
          \ 'Element &lt;token&gt;, User &lt;user secret&gt;'"
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: The ID of the customer to delete from the eCommerce system
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK - Everything worked as expected
        "400":
          content: {}
          description: Bad Request - Often due to a missing request parameter
        "401":
          content: {}
          description: "Unauthorized - An invalid element token, user secret and/or\
            \ org secret provided"
        "403":
          content: {}
          description: Forbidden - Access to the resource by the provider is forbidden
        "404":
          content: {}
          description: Not found - The requested resource is not found
        "405":
          content: {}
          description: "Method not allowed - Incorrect HTTP verb used, e.g., GET used\
            \ when POST expected"
        "406":
          content: {}
          description: Not acceptable - The response content type does not match the
            'Accept' header value
        "409":
          content: {}
          description: Conflict - If a resource being created already exists
        "415":
          content: {}
          description: Unsupported media type - The server cannot handle the requested
            Content-Type
        "500":
          content: {}
          description: Server error - Something went wrong on the Cloud Elements server
        "502":
          content: {}
          description: Provider server error - Something went wrong on the Provider
            or Endpoint's server
      summary: Delete a customer associated with a given ID from your eCommerce system.
        Specifying a customer associated with a given ID that does not exist will
        result in an error message
      tags:
      - customers
      x-openapi-router-controller: openapi_server.controllers.customers_controller
    get:
      operationId: get_customer_by_id
      parameters:
      - description: "The authorization tokens. The format for the header value is\
          \ 'Element &lt;token&gt;, User &lt;user secret&gt;'"
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: The ID of the customer to retrieve from the eCommerce system
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Customer'
          description: OK - Everything worked as expected
        "400":
          content: {}
          description: Bad Request - Often due to a missing request parameter
        "401":
          content: {}
          description: "Unauthorized - An invalid element token, user secret and/or\
            \ org secret provided"
        "403":
          content: {}
          description: Forbidden - Access to the resource by the provider is forbidden
        "404":
          content: {}
          description: Not found - The requested resource is not found
        "405":
          content: {}
          description: "Method not allowed - Incorrect HTTP verb used, e.g., GET used\
            \ when POST expected"
        "406":
          content: {}
          description: Not acceptable - The response content type does not match the
            'Accept' header value
        "409":
          content: {}
          description: Conflict - If a resource being created already exists
        "415":
          content: {}
          description: Unsupported media type - The server cannot handle the requested
            Content-Type
        "500":
          content: {}
          description: Server error - Something went wrong on the Cloud Elements server
        "502":
          content: {}
          description: Provider server error - Something went wrong on the Provider
            or Endpoint's server
      summary: Retrieve a customer associated with a given ID from the eCommerce system.
        Specifying a customer with an ID that does not exist will result in an error
        response
      tags:
      - customers
      x-openapi-router-controller: openapi_server.controllers.customers_controller
    patch:
      operationId: update_customer_by_id
      parameters:
      - description: "The authorization tokens. The format for the header value is\
          \ 'Element &lt;token&gt;, User &lt;user secret&gt;'"
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: The ID of the customer to update in the eCommerce system
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/CustomerPatch'
        description: The customer object to be created
        required: true
        x-body-name: customer
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Customer'
          description: OK - Everything worked as expected
        "400":
          content: {}
          description: Bad Request - Often due to a missing request parameter
        "401":
          content: {}
          description: "Unauthorized - An invalid element token, user secret and/or\
            \ org secret provided"
        "403":
          content: {}
          description: Forbidden - Access to the resource by the provider is forbidden
        "404":
          content: {}
          description: Not found - The requested resource is not found
        "405":
          content: {}
          description: "Method not allowed - Incorrect HTTP verb used, e.g., GET used\
            \ when POST expected"
        "406":
          content: {}
          description: Not acceptable - The response content type does not match the
            'Accept' header value
        "409":
          content: {}
          description: Conflict - If a resource being created already exists
        "415":
          content: {}
          description: Unsupported media type - The server cannot handle the requested
            Content-Type
        "500":
          content: {}
          description: Server error - Something went wrong on the Cloud Elements server
        "502":
          content: {}
          description: Provider server error - Something went wrong on the Provider
            or Endpoint's server
      summary: "Update an customer associated with a given ID in the eCommerce system.The\
        \ update API uses the PATCH HTTP verb, so only those fields provided in the\
        \ customer object will be updated, and those fields not provided will be left\
        \ alone. Updating a customer with a specified ID that does not exist will\
        \ result in an error response"
      tags:
      - customers
      x-codegen-request-body-name: customer
      x-openapi-router-controller: openapi_server.controllers.customers_controller
  /customers/{id}/orders:
    get:
      operationId: get_customers_orders
      parameters:
      - description: "The authorization tokens. The format for the header value is\
          \ 'Element &lt;token&gt;, User &lt;user secret&gt;'"
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: The ID of the customer to get orders form in the eCommerce system
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: "The number of results to fetch in a given page. When this parameter\
          \ is omitted, a maximum of 200 results are returned"
        in: query
        name: pageSize
        schema:
          format: int64
          type: integer
      - description: "The next page cursor, taken from the response header: `elements-next-page-token`"
        in: query
        name: nextPage
        schema:
          type: string
      - description: The fields to return on the response. Can be a single field or
          a comma-separated list of fields
        in: query
        name: fields
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/Order'
                type: array
          description: OK - Everything worked as expected
        "400":
          content: {}
          description: Bad Request - Often due to a missing request parameter
        "401":
          content: {}
          description: "Unauthorized - An invalid element token, user secret and/or\
            \ org secret provided"
        "403":
          content: {}
          description: Forbidden - Access to the resource by the provider is forbidden
        "404":
          content: {}
          description: Not found - The requested resource is not found
        "405":
          content: {}
          description: "Method not allowed - Incorrect HTTP verb used, e.g., GET used\
            \ when POST expected"
        "406":
          content: {}
          description: Not acceptable - The response content type does not match the
            'Accept' header value
        "409":
          content: {}
          description: Conflict - If a resource being created already exists
        "415":
          content: {}
          description: Unsupported media type - The server cannot handle the requested
            Content-Type
        "500":
          content: {}
          description: Server error - Something went wrong on the Cloud Elements server
        "502":
          content: {}
          description: Provider server error - Something went wrong on the Provider
            or Endpoint's server
      summary: "Find orders in the customer associated with a given ID. If the customer\
        \ does not exist, an error response will be returned. If no orders are found\
        \ in the given customer then an empty array will be returned"
      tags:
      - customers
      x-openapi-router-controller: openapi_server.controllers.customers_controller
  /objects:
    get:
      operationId: get_objects
      parameters:
      - description: "The authorization tokens. The format for the header value is\
          \ 'Element &lt;token&gt;, User &lt;user secret&gt;'"
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: "Elements Version to be used for getting metadata, possible options\
          \ are Hydrogen, Helium. Default value is Hydrogen"
        in: header
        name: Elements-Version
        schema:
          enum:
          - Hydrogen
          - Helium
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  type: string
                type: array
          description: OK - Everything worked as expected
        "400":
          content: {}
          description: Bad Request - Often due to a missing request parameter
        "401":
          content: {}
          description: "Unauthorized - An invalid element token, user secret and/or\
            \ org secret provided"
        "403":
          content: {}
          description: Forbidden - Access to the resource by the provider is forbidden
        "404":
          content: {}
          description: Not found - The requested resource is not found
        "405":
          content: {}
          description: "Method not allowed - Incorrect HTTP verb used, e.g., GET used\
            \ when POST expected"
        "406":
          content: {}
          description: Not acceptable - The response content type does not match the
            'Accept' header value
        "409":
          content: {}
          description: Conflict - If a resource being created already exists
        "415":
          content: {}
          description: Unsupported media type - The server cannot handle the requested
            Content-Type
        "500":
          content: {}
          description: Server error - Something went wrong on the Cloud Elements server
        "502":
          content: {}
          description: Provider server error - Something went wrong on the Provider
            or Endpoint's server
      summary: Get a list of all the available objects.
      tags:
      - objects
      x-openapi-router-controller: openapi_server.controllers.objects_controller
  /objects/{objectName}/docs:
    get:
      operationId: get_objects_object_name_docs
      parameters:
      - description: "The authorization tokens. The format for the header value is\
          \ 'Element &lt;token&gt;, User &lt;user secret&gt;'"
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: The name of the object
        in: path
        name: objectName
        required: true
        schema:
          type: string
      - description: Include discovery metadata in definitions
        in: query
        name: discovery
        schema:
          type: boolean
      - description: Optionally resolve swagger references for an inline object definition
        in: query
        name: resolveReferences
        schema:
          type: boolean
      - description: Include only OpenAPI / Swagger properties in definitions
        in: query
        name: basic
        schema:
          type: boolean
      - description: "The element swagger version to get the corresponding element\
          \ swagger, Passing in \"-1\" gives latest element swagger"
        in: query
        name: version
        schema:
          default: "-1"
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/swaggerDocs'
          description: OK - Everything worked as expected
        "400":
          content: {}
          description: Bad Request - Often due to a missing request parameter
        "401":
          content: {}
          description: "Unauthorized - An invalid element token, user secret and/or\
            \ org secret provided"
        "403":
          content: {}
          description: Forbidden - Access to the resource by the provider is forbidden
        "404":
          content: {}
          description: Not found - The requested resource is not found
        "405":
          content: {}
          description: "Method not allowed - Incorrect HTTP verb used, e.g., GET used\
            \ when POST expected"
        "406":
          content: {}
          description: Not acceptable - The response content type does not match the
            'Accept' header value
        "409":
          content: {}
          description: Conflict - If a resource being created already exists
        "415":
          content: {}
          description: Unsupported media type - The server cannot handle the requested
            Content-Type
        "500":
          content: {}
          description: Server error - Something went wrong on the Cloud Elements server
        "502":
          content: {}
          description: Provider server error - Something went wrong on the Provider
            or Endpoint's server
      summary: Get swagger docs for an object.
      tags:
      - objects
      x-openapi-router-controller: openapi_server.controllers.objects_controller
  /objects/{objectName}/metadata:
    get:
      operationId: get_objects_object_name_metadata
      parameters:
      - description: "The authorization tokens. The format for the header value is\
          \ 'Element &lt;token&gt;, User &lt;user secret&gt;'"
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: The name of the object
        in: path
        name: objectName
        required: true
        schema:
          type: string
      - description: "Elements Version to be used for getting metadata, possible options\
          \ are Hydrogen, Helium. Default value is Hydrogen"
        in: header
        name: Elements-Version
        schema:
          enum:
          - Hydrogen
          - Helium
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/objectsMetadata'
          description: OK - Everything worked as expected
        "400":
          content: {}
          description: Bad Request - Often due to a missing request parameter
        "401":
          content: {}
          description: "Unauthorized - An invalid element token, user secret and/or\
            \ org secret provided"
        "403":
          content: {}
          description: Forbidden - Access to the resource by the provider is forbidden
        "404":
          content: {}
          description: Not found - The requested resource is not found
        "405":
          content: {}
          description: "Method not allowed - Incorrect HTTP verb used, e.g., GET used\
            \ when POST expected"
        "406":
          content: {}
          description: Not acceptable - The response content type does not match the
            'Accept' header value
        "409":
          content: {}
          description: Conflict - If a resource being created already exists
        "415":
          content: {}
          description: Unsupported media type - The server cannot handle the requested
            Content-Type
        "500":
          content: {}
          description: Server error - Something went wrong on the Cloud Elements server
        "502":
          content: {}
          description: Provider server error - Something went wrong on the Provider
            or Endpoint's server
      summary: Get a list of all the field for an object.
      tags:
      - objects
      x-openapi-router-controller: openapi_server.controllers.objects_controller
  /orders:
    get:
      operationId: get_orders
      parameters:
      - description: "The authorization tokens. The format for the header value is\
          \ 'Element &lt;token&gt;, User &lt;user secret&gt;'"
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: "The CEQL search expression, or the where clause, without the\
          \ WHERE keyword, in a typical SQL query (i.e. field='value'). <p>Supported\
          \ search terms: date, from_date, to_date, from_update_date, to_update_date,\
          \ order, from_order, to_order, customer_id, customer_email and statuses.\
          \ All other search criteria are ignored"
        in: query
        name: where
        schema:
          type: string
      - description: "The number of results to fetch in a given page. When this parameter\
          \ is omitted, a maximum of 200 results are returned"
        in: query
        name: pageSize
        schema:
          format: int64
          type: integer
      - description: "The next page cursor, taken from the response header: `elements-next-page-token`"
        in: query
        name: nextPage
        schema:
          type: string
      - description: The fields to return on the response. Can be a single field or
          a comma-separated list of fields
        in: query
        name: fields
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/Order'
                type: array
          description: OK - Everything worked as expected
        "400":
          content: {}
          description: Bad Request - Often due to a missing request parameter
        "401":
          content: {}
          description: "Unauthorized - An invalid element token, user secret and/or\
            \ org secret provided"
        "403":
          content: {}
          description: Forbidden - Access to the resource by the provider is forbidden
        "404":
          content: {}
          description: Not found - The requested resource is not found
        "405":
          content: {}
          description: "Method not allowed - Incorrect HTTP verb used, e.g., GET used\
            \ when POST expected"
        "406":
          content: {}
          description: Not acceptable - The response content type does not match the
            'Accept' header value
        "409":
          content: {}
          description: Conflict - If a resource being created already exists
        "415":
          content: {}
          description: Unsupported media type - The server cannot handle the requested
            Content-Type
        "500":
          content: {}
          description: Server error - Something went wrong on the Cloud Elements server
        "502":
          content: {}
          description: Provider server error - Something went wrong on the Provider
            or Endpoint's server
      summary: "Find orders in the eCommerce system, using the provided CEQL search\
        \ expression. If no search expression is provided, all records will be retrieved"
      tags:
      - orders
      x-openapi-router-controller: openapi_server.controllers.orders_controller
    post:
      operationId: create_order
      parameters:
      - description: "The authorization tokens. The format for the header value is\
          \ 'Element &lt;token&gt;, User &lt;user secret&gt;'"
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/OrderPost'
        description: The order object to be created
        required: true
        x-body-name: order
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Order'
          description: OK - Everything worked as expected
        "400":
          content: {}
          description: Bad Request - Often due to a missing request parameter
        "401":
          content: {}
          description: "Unauthorized - An invalid element token, user secret and/or\
            \ org secret provided"
        "403":
          content: {}
          description: Forbidden - Access to the resource by the provider is forbidden
        "404":
          content: {}
          description: Not found - The requested resource is not found
        "405":
          content: {}
          description: "Method not allowed - Incorrect HTTP verb used, e.g., GET used\
            \ when POST expected"
        "406":
          content: {}
          description: Not acceptable - The response content type does not match the
            'Accept' header value
        "409":
          content: {}
          description: Conflict - If a resource being created already exists
        "415":
          content: {}
          description: Unsupported media type - The server cannot handle the requested
            Content-Type
        "500":
          content: {}
          description: Server error - Something went wrong on the Cloud Elements server
        "502":
          content: {}
          description: Provider server error - Something went wrong on the Provider
            or Endpoint's server
      summary: "Create an order in the eCommerce system.With the exception of the\
        \ 'id' field, the required fields indicated in the 'Order' model are those\
        \ required to create a new order.The paymentStatus can only be AWAITING_PAYMENT\
        \ or INCOMPLETE.The fulfillmentStatus can only be AWAITING_PROCESSING"
      tags:
      - orders
      x-codegen-request-body-name: order
      x-openapi-router-controller: openapi_server.controllers.orders_controller
  /orders/{id}:
    delete:
      operationId: delete_order_by_id
      parameters:
      - description: "The authorization tokens. The format for the header value is\
          \ 'Element &lt;token&gt;, User &lt;user secret&gt;'"
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: The ID of the order to delete from the eCommerce system
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK - Everything worked as expected
        "400":
          content: {}
          description: Bad Request - Often due to a missing request parameter
        "401":
          content: {}
          description: "Unauthorized - An invalid element token, user secret and/or\
            \ org secret provided"
        "403":
          content: {}
          description: Forbidden - Access to the resource by the provider is forbidden
        "404":
          content: {}
          description: Not found - The requested resource is not found
        "405":
          content: {}
          description: "Method not allowed - Incorrect HTTP verb used, e.g., GET used\
            \ when POST expected"
        "406":
          content: {}
          description: Not acceptable - The response content type does not match the
            'Accept' header value
        "409":
          content: {}
          description: Conflict - If a resource being created already exists
        "415":
          content: {}
          description: Unsupported media type - The server cannot handle the requested
            Content-Type
        "500":
          content: {}
          description: Server error - Something went wrong on the Cloud Elements server
        "502":
          content: {}
          description: Provider server error - Something went wrong on the Provider
            or Endpoint's server
      summary: Delete an order associated with a given ID from your eCommerce system.
        Specifying an order associated with a given ID that does not exist will result
        in an error message
      tags:
      - orders
      x-openapi-router-controller: openapi_server.controllers.orders_controller
    get:
      operationId: get_order_by_id
      parameters:
      - description: "The authorization tokens. The format for the header value is\
          \ 'Element &lt;token&gt;, User &lt;user secret&gt;'"
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: The ID of the order to retrieve from the eCommerce system
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Order'
          description: OK - Everything worked as expected
        "400":
          content: {}
          description: Bad Request - Often due to a missing request parameter
        "401":
          content: {}
          description: "Unauthorized - An invalid element token, user secret and/or\
            \ org secret provided"
        "403":
          content: {}
          description: Forbidden - Access to the resource by the provider is forbidden
        "404":
          content: {}
          description: Not found - The requested resource is not found
        "405":
          content: {}
          description: "Method not allowed - Incorrect HTTP verb used, e.g., GET used\
            \ when POST expected"
        "406":
          content: {}
          description: Not acceptable - The response content type does not match the
            'Accept' header value
        "409":
          content: {}
          description: Conflict - If a resource being created already exists
        "415":
          content: {}
          description: Unsupported media type - The server cannot handle the requested
            Content-Type
        "500":
          content: {}
          description: Server error - Something went wrong on the Cloud Elements server
        "502":
          content: {}
          description: Provider server error - Something went wrong on the Provider
            or Endpoint's server
      summary: Retrieve an order associated with a given ID from the eCommerce system.
        Specifying an order with an ID that does not exist will result in an error
        response
      tags:
      - orders
      x-openapi-router-controller: openapi_server.controllers.orders_controller
    patch:
      operationId: update_order_by_id
      parameters:
      - description: "The authorization tokens. The format for the header value is\
          \ 'Element &lt;token&gt;, User &lt;user secret&gt;'"
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: The ID of the order to update in the eCommerce system
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: "An action to perform on the order: cancel, reopen or close.\
          \ If left blank then the order is updated but no action is taken"
        in: query
        name: action
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/OrderPatch'
        description: "The order object, with those fields that are to be updated"
        required: true
        x-body-name: order
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Order'
          description: OK - Everything worked as expected
        "400":
          content: {}
          description: Bad Request - Often due to a missing request parameter
        "401":
          content: {}
          description: "Unauthorized - An invalid element token, user secret and/or\
            \ org secret provided"
        "403":
          content: {}
          description: Forbidden - Access to the resource by the provider is forbidden
        "404":
          content: {}
          description: Not found - The requested resource is not found
        "405":
          content: {}
          description: "Method not allowed - Incorrect HTTP verb used, e.g., GET used\
            \ when POST expected"
        "406":
          content: {}
          description: Not acceptable - The response content type does not match the
            'Accept' header value
        "409":
          content: {}
          description: Conflict - If a resource being created already exists
        "415":
          content: {}
          description: Unsupported media type - The server cannot handle the requested
            Content-Type
        "500":
          content: {}
          description: Server error - Something went wrong on the Cloud Elements server
        "502":
          content: {}
          description: Provider server error - Something went wrong on the Provider
            or Endpoint's server
      summary: "Update an order associated with a given ID in the eCommerce system.\
        \ The update API uses the PATCH HTTP verb, so only those fields provided in\
        \ the order object will be updated, and those fields not provided will be\
        \ left alone. Updating an order with a specified ID that does not exist will\
        \ result in an error response</strong>"
      tags:
      - orders
      x-codegen-request-body-name: order
      x-openapi-router-controller: openapi_server.controllers.orders_controller
  /orders/{orderId}/payments:
    get:
      operationId: get_orders_payments
      parameters:
      - description: "The authorization tokens. The format for the header value is\
          \ 'Element &lt;token&gt;, User &lt;user secret&gt;'"
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: The ID of the order to retrieve payments from in the eCommerce
          system
        in: path
        name: orderId
        required: true
        schema:
          type: string
      - description: "The number of results to fetch in a given page. When this parameter\
          \ is omitted, a maximum of 200 results are returned"
        in: query
        name: pageSize
        schema:
          format: int64
          type: integer
      - description: "The next page cursor, taken from the response header: `elements-next-page-token`"
        in: query
        name: nextPage
        schema:
          type: string
      - description: The fields to return on the response. Can be a single field or
          a comma-separated list of fields
        in: query
        name: fields
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/Payment'
                type: array
          description: OK - Everything worked as expected
        "400":
          content: {}
          description: Bad Request - Often due to a missing request parameter
        "401":
          content: {}
          description: "Unauthorized - An invalid element token, user secret and/or\
            \ org secret provided"
        "403":
          content: {}
          description: Forbidden - Access to the resource by the provider is forbidden
        "404":
          content: {}
          description: Not found - The requested resource is not found
        "405":
          content: {}
          description: "Method not allowed - Incorrect HTTP verb used, e.g., GET used\
            \ when POST expected"
        "406":
          content: {}
          description: Not acceptable - The response content type does not match the
            'Accept' header value
        "409":
          content: {}
          description: Conflict - If a resource being created already exists
        "415":
          content: {}
          description: Unsupported media type - The server cannot handle the requested
            Content-Type
        "500":
          content: {}
          description: Server error - Something went wrong on the Cloud Elements server
        "502":
          content: {}
          description: Provider server error - Something went wrong on the Provider
            or Endpoint's server
      summary: Retrieve the payments in the eCommerce system for the specified order
      tags:
      - orders
      x-openapi-router-controller: openapi_server.controllers.orders_controller
  /orders/{orderId}/refunds:
    get:
      operationId: get_orders_refunds
      parameters:
      - description: "The authorization tokens. The format for the header value is\
          \ 'Element &lt;token&gt;, User &lt;user secret&gt;'"
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: The ID of the order to retrieve refunds from in the eCommerce
          system
        in: path
        name: orderId
        required: true
        schema:
          type: string
      - description: "The number of results to fetch in a given page. When this parameter\
          \ is omitted, a maximum of 200 results are returned"
        in: query
        name: pageSize
        schema:
          format: int64
          type: integer
      - description: "The next page cursor, taken from the response header: `elements-next-page-token`"
        in: query
        name: nextPage
        schema:
          type: string
      - description: The fields to return on the response. Can be a single field or
          a comma-separated list of fields
        in: query
        name: fields
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/Payment'
                type: array
          description: OK - Everything worked as expected
        "400":
          content: {}
          description: Bad Request - Often due to a missing request parameter
        "401":
          content: {}
          description: "Unauthorized - An invalid element token, user secret and/or\
            \ org secret provided"
        "403":
          content: {}
          description: Forbidden - Access to the resource by the provider is forbidden
        "404":
          content: {}
          description: Not found - The requested resource is not found
        "405":
          content: {}
          description: "Method not allowed - Incorrect HTTP verb used, e.g., GET used\
            \ when POST expected"
        "406":
          content: {}
          description: Not acceptable - The response content type does not match the
            'Accept' header value
        "409":
          content: {}
          description: Conflict - If a resource being created already exists
        "415":
          content: {}
          description: Unsupported media type - The server cannot handle the requested
            Content-Type
        "500":
          content: {}
          description: Server error - Something went wrong on the Cloud Elements server
        "502":
          content: {}
          description: Provider server error - Something went wrong on the Provider
            or Endpoint's server
      summary: Retrieve the refunds in the eCommerce system for the specified order
      tags:
      - orders
      x-openapi-router-controller: openapi_server.controllers.orders_controller
  /ping:
    get:
      operationId: get_ping
      parameters:
      - description: "The authorization tokens. The format for the header value is\
          \ 'Element &lt;token&gt;, User &lt;user secret&gt;'"
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Pong'
          description: OK - Everything worked as expected
        "400":
          content: {}
          description: Bad Request - Often due to a missing request parameter
        "401":
          content: {}
          description: "Unauthorized - An invalid element token, user secret and/or\
            \ org secret provided"
        "403":
          content: {}
          description: Forbidden - Access to the resource by the provider is forbidden
        "404":
          content: {}
          description: Not found - The requested resource is not found
        "405":
          content: {}
          description: "Method not allowed - Incorrect HTTP verb used, e.g., GET used\
            \ when POST expected"
        "406":
          content: {}
          description: Not acceptable - The response content type does not match the
            'Accept' header value
        "409":
          content: {}
          description: Conflict - If a resource being created already exists
        "415":
          content: {}
          description: Unsupported media type - The server cannot handle the requested
            Content-Type
        "500":
          content: {}
          description: Server error - Something went wrong on the Cloud Elements server
        "502":
          content: {}
          description: Provider server error - Something went wrong on the Provider
            or Endpoint's server
      summary: "Ping the Element to confirm that the Hub Element has a heartbeat.\
        \  If the Element does not have a heartbeat, an error message will be returned."
      tags:
      - ping
      x-openapi-router-controller: openapi_server.controllers.ping_controller
  /products:
    get:
      operationId: get_products
      parameters:
      - description: "The authorization tokens. The format for the header value is\
          \ 'Element &lt;token&gt;, User &lt;user secret&gt;'"
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: "The CEQL search expression, or the where clause, without the\
          \ WHERE keyword, in a typical SQL query (i.e. field='value'). <p>Supported\
          \ search terms: category, hidden_products. All other search criteria are\
          \ ignored"
        in: query
        name: where
        schema:
          type: string
      - description: "The number of results to fetch in a given page. When this parameter\
          \ is omitted, a maximum of 200 results are returned"
        in: query
        name: pageSize
        schema:
          format: int64
          type: integer
      - description: "The next page cursor, taken from the response header: `elements-next-page-token`"
        in: query
        name: nextPage
        schema:
          type: string
      - description: The fields to return on the response. Can be a single field or
          a comma-separated list of fields
        in: query
        name: fields
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/Product'
                type: array
          description: OK - Everything worked as expected
        "400":
          content: {}
          description: Bad Request - Often due to a missing request parameter
        "401":
          content: {}
          description: "Unauthorized - An invalid element token, user secret and/or\
            \ org secret provided"
        "403":
          content: {}
          description: Forbidden - Access to the resource by the provider is forbidden
        "404":
          content: {}
          description: Not found - The requested resource is not found
        "405":
          content: {}
          description: "Method not allowed - Incorrect HTTP verb used, e.g., GET used\
            \ when POST expected"
        "406":
          content: {}
          description: Not acceptable - The response content type does not match the
            'Accept' header value
        "409":
          content: {}
          description: Conflict - If a resource being created already exists
        "415":
          content: {}
          description: Unsupported media type - The server cannot handle the requested
            Content-Type
        "500":
          content: {}
          description: Server error - Something went wrong on the Cloud Elements server
        "502":
          content: {}
          description: Provider server error - Something went wrong on the Provider
            or Endpoint's server
      summary: "Find products in the eCommerce system, using the provided CEQL search\
        \ expression. The search expression in CEQL is the WHERE clause in a typical\
        \ SQL query, but without the WHERE keyword.  If no search expression is provided,\
        \ all records will be retrieved"
      tags:
      - products
      x-openapi-router-controller: openapi_server.controllers.products_controller
    post:
      operationId: create_product
      parameters:
      - description: "The authorization tokens. The format for the header value is\
          \ 'Element &lt;token&gt;, User &lt;user secret&gt;'"
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ProductPost'
        description: The product object to be created
        required: true
        x-body-name: product
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Product'
          description: OK - Everything worked as expected
        "400":
          content: {}
          description: Bad Request - Often due to a missing request parameter
        "401":
          content: {}
          description: "Unauthorized - An invalid element token, user secret and/or\
            \ org secret provided"
        "403":
          content: {}
          description: Forbidden - Access to the resource by the provider is forbidden
        "404":
          content: {}
          description: Not found - The requested resource is not found
        "405":
          content: {}
          description: "Method not allowed - Incorrect HTTP verb used, e.g., GET used\
            \ when POST expected"
        "406":
          content: {}
          description: Not acceptable - The response content type does not match the
            'Accept' header value
        "409":
          content: {}
          description: Conflict - If a resource being created already exists
        "415":
          content: {}
          description: Unsupported media type - The server cannot handle the requested
            Content-Type
        "500":
          content: {}
          description: Server error - Something went wrong on the Cloud Elements server
        "502":
          content: {}
          description: Provider server error - Something went wrong on the Provider
            or Endpoint's server
      summary: "Create a new product in eCommerce system.With the exception of the\
        \ 'id' field, the required fields indicated in the 'Product' model are those\
        \ required to create a new product"
      tags:
      - products
      x-codegen-request-body-name: product
      x-openapi-router-controller: openapi_server.controllers.products_controller
  /products/{id}:
    delete:
      operationId: delete_product_by_id
      parameters:
      - description: "The authorization tokens. The format for the header value is\
          \ 'Element &lt;token&gt;, User &lt;user secret&gt;'"
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: The ID of the product to delete from the eCommerce system
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK - Everything worked as expected
        "400":
          content: {}
          description: Bad Request - Often due to a missing request parameter
        "401":
          content: {}
          description: "Unauthorized - An invalid element token, user secret and/or\
            \ org secret provided"
        "403":
          content: {}
          description: Forbidden - Access to the resource by the provider is forbidden
        "404":
          content: {}
          description: Not found - The requested resource is not found
        "405":
          content: {}
          description: "Method not allowed - Incorrect HTTP verb used, e.g., GET used\
            \ when POST expected"
        "406":
          content: {}
          description: Not acceptable - The response content type does not match the
            'Accept' header value
        "409":
          content: {}
          description: Conflict - If a resource being created already exists
        "415":
          content: {}
          description: Unsupported media type - The server cannot handle the requested
            Content-Type
        "500":
          content: {}
          description: Server error - Something went wrong on the Cloud Elements server
        "502":
          content: {}
          description: Provider server error - Something went wrong on the Provider
            or Endpoint's server
      summary: Delete a product associated with a given ID from your eCommerce system.
        Specifying a product associated with a given ID that does not exist will result
        in an error message
      tags:
      - products
      x-openapi-router-controller: openapi_server.controllers.products_controller
    get:
      operationId: get_product_by_id
      parameters:
      - description: "The authorization tokens. The format for the header value is\
          \ 'Element &lt;token&gt;, User &lt;user secret&gt;'"
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: The ID of the product to retrieve from the eCommerce system
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Product'
          description: OK - Everything worked as expected
        "400":
          content: {}
          description: Bad Request - Often due to a missing request parameter
        "401":
          content: {}
          description: "Unauthorized - An invalid element token, user secret and/or\
            \ org secret provided"
        "403":
          content: {}
          description: Forbidden - Access to the resource by the provider is forbidden
        "404":
          content: {}
          description: Not found - The requested resource is not found
        "405":
          content: {}
          description: "Method not allowed - Incorrect HTTP verb used, e.g., GET used\
            \ when POST expected"
        "406":
          content: {}
          description: Not acceptable - The response content type does not match the
            'Accept' header value
        "409":
          content: {}
          description: Conflict - If a resource being created already exists
        "415":
          content: {}
          description: Unsupported media type - The server cannot handle the requested
            Content-Type
        "500":
          content: {}
          description: Server error - Something went wrong on the Cloud Elements server
        "502":
          content: {}
          description: Provider server error - Something went wrong on the Provider
            or Endpoint's server
      summary: Retrieve a product associated with a given ID from the eCommerce system.
        Specifying a product with an ID that does not exist will result in an error
        response
      tags:
      - products
      x-openapi-router-controller: openapi_server.controllers.products_controller
    patch:
      operationId: update_product_by_id
      parameters:
      - description: "The authorization tokens. The format for the header value is\
          \ 'Element &lt;token&gt;, User &lt;user secret&gt;'"
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: The ID of the product to update in the eCommerce system
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ProductPatch'
        description: "The product object, with those fields that are to be updated"
        required: true
        x-body-name: product
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Product'
          description: OK - Everything worked as expected
        "400":
          content: {}
          description: Bad Request - Often due to a missing request parameter
        "401":
          content: {}
          description: "Unauthorized - An invalid element token, user secret and/or\
            \ org secret provided"
        "403":
          content: {}
          description: Forbidden - Access to the resource by the provider is forbidden
        "404":
          content: {}
          description: Not found - The requested resource is not found
        "405":
          content: {}
          description: "Method not allowed - Incorrect HTTP verb used, e.g., GET used\
            \ when POST expected"
        "406":
          content: {}
          description: Not acceptable - The response content type does not match the
            'Accept' header value
        "409":
          content: {}
          description: Conflict - If a resource being created already exists
        "415":
          content: {}
          description: Unsupported media type - The server cannot handle the requested
            Content-Type
        "500":
          content: {}
          description: Server error - Something went wrong on the Cloud Elements server
        "502":
          content: {}
          description: Provider server error - Something went wrong on the Provider
            or Endpoint's server
      summary: "Update a product associated with a given ID in the eCommerce system.\
        \ The update API uses the PATCH HTTP verb, so only those fields provided in\
        \ the product object will be updated, and those fields not provided will be\
        \ left alone. Updating a product with a specified ID that does not exist will\
        \ result in an error response. <p><strong>Update supports the following fields:\
        \ sku, quantity, trackQuantity, quantityDelta, warningLimit, name, price,\
        \ weight, tangible, enabled, fixedShippingRateOnly, fixedShippingRate, description,\
        \ wholesalePrices, compareAtPrice, productClassId</strong>"
      tags:
      - products
      x-codegen-request-body-name: product
      x-openapi-router-controller: openapi_server.controllers.products_controller
  /{objectName}:
    get:
      operationId: get_by_object_name
      parameters:
      - description: "The authorization tokens. The format for the header value is\
          \ 'Element &lt;token&gt;, User &lt;user secret&gt;'"
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: The name of the object
        in: path
        name: objectName
        required: true
        schema:
          type: string
      - description: The CEQL search expression.
        in: query
        name: where
        schema:
          type: string
      - description: The page size. Defaults to 200 if not provided. Maximum of 5000.
        in: query
        name: pageSize
        schema:
          format: int64
          type: integer
      - description: "The next page cursor, taken from the response header: `elements-next-page-token`"
        in: query
        name: nextPage
        schema:
          type: string
      - description: The fields to return on the response. Can be a single field or
          a comma-separated list of fields
        in: query
        name: fields
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/Object'
                type: array
          description: OK - Everything worked as expected
        "400":
          content: {}
          description: Bad Request - Often due to a missing request parameter
        "401":
          content: {}
          description: "Unauthorized - An invalid element token, user secret and/or\
            \ org secret provided"
        "403":
          content: {}
          description: Forbidden - Access to the resource by the provider is forbidden
        "404":
          content: {}
          description: Not found - The requested resource is not found
        "405":
          content: {}
          description: "Method not allowed - Incorrect HTTP verb used, e.g., GET used\
            \ when POST expected"
        "406":
          content: {}
          description: Not acceptable - The response content type does not match the
            'Accept' header value
        "409":
          content: {}
          description: Conflict - If a resource being created already exists
        "415":
          content: {}
          description: Unsupported media type - The server cannot handle the requested
            Content-Type
        "500":
          content: {}
          description: Server error - Something went wrong on the Cloud Elements server
        "502":
          content: {}
          description: Provider server error - Something went wrong on the Provider
            or Endpoint's server
      summary: "Search for {objectName}"
      tags:
      - objectName
      x-openapi-router-controller: openapi_server.controllers.object_name_controller
    post:
      operationId: create_by_object_name
      parameters:
      - description: "The authorization tokens. The format for the header value is\
          \ 'Element &lt;token&gt;, User &lt;user secret&gt;'"
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: The name of the object
        in: path
        name: objectName
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/Object'
        description: "The {objectName}"
        required: true
        x-body-name: Body
      responses:
        "200":
          content: {}
          description: OK - Everything worked as expected
        "400":
          content: {}
          description: Bad Request - Often due to a missing request parameter
        "401":
          content: {}
          description: "Unauthorized - An invalid element token, user secret and/or\
            \ org secret provided"
        "403":
          content: {}
          description: Forbidden - Access to the resource by the provider is forbidden
        "404":
          content: {}
          description: Not found - The requested resource is not found
        "405":
          content: {}
          description: "Method not allowed - Incorrect HTTP verb used, e.g., GET used\
            \ when POST expected"
        "406":
          content: {}
          description: Not acceptable - The response content type does not match the
            'Accept' header value
        "409":
          content: {}
          description: Conflict - If a resource being created already exists
        "415":
          content: {}
          description: Unsupported media type - The server cannot handle the requested
            Content-Type
        "500":
          content: {}
          description: Server error - Something went wrong on the Cloud Elements server
        "502":
          content: {}
          description: Provider server error - Something went wrong on the Provider
            or Endpoint's server
      summary: "Create an {objectName}"
      tags:
      - objectName
      x-codegen-request-body-name: Body
      x-openapi-router-controller: openapi_server.controllers.object_name_controller
  /{objectName}/{objectId}:
    delete:
      operationId: delete_object_name_by_object_id
      parameters:
      - description: "The authorization tokens. The format for the header value is\
          \ 'Element &lt;token&gt;, User &lt;user secret&gt;'"
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: The name of the object
        in: path
        name: objectName
        required: true
        schema:
          type: string
      - description: "The {objectName} ID"
        in: path
        name: objectId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK - Everything worked as expected
        "400":
          content: {}
          description: Bad Request - Often due to a missing request parameter
        "401":
          content: {}
          description: "Unauthorized - An invalid element token, user secret and/or\
            \ org secret provided"
        "403":
          content: {}
          description: Forbidden - Access to the resource by the provider is forbidden
        "404":
          content: {}
          description: Not found - The requested resource is not found
        "405":
          content: {}
          description: "Method not allowed - Incorrect HTTP verb used, e.g., GET used\
            \ when POST expected"
        "406":
          content: {}
          description: Not acceptable - The response content type does not match the
            'Accept' header value
        "409":
          content: {}
          description: Conflict - If a resource being created already exists
        "415":
          content: {}
          description: Unsupported media type - The server cannot handle the requested
            Content-Type
        "500":
          content: {}
          description: Server error - Something went wrong on the Cloud Elements server
        "502":
          content: {}
          description: Provider server error - Something went wrong on the Provider
            or Endpoint's server
      summary: "Delete an {objectName}"
      tags:
      - objectName
      x-openapi-router-controller: openapi_server.controllers.object_name_controller
    get:
      operationId: get_object_name_by_object_id
      parameters:
      - description: "The authorization tokens. The format for the header value is\
          \ 'Element &lt;token&gt;, User &lt;user secret&gt;'"
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: The name of the object
        in: path
        name: objectName
        required: true
        schema:
          type: string
      - description: "The {objectName} ID"
        in: path
        name: objectId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Object'
            application/pdf:
              schema:
                $ref: '#/components/schemas/Object'
          description: OK - Everything worked as expected
        "400":
          content: {}
          description: Bad Request - Often due to a missing request parameter
        "401":
          content: {}
          description: "Unauthorized - An invalid element token, user secret and/or\
            \ org secret provided"
        "403":
          content: {}
          description: Forbidden - Access to the resource by the provider is forbidden
        "404":
          content: {}
          description: Not found - The requested resource is not found
        "405":
          content: {}
          description: "Method not allowed - Incorrect HTTP verb used, e.g., GET used\
            \ when POST expected"
        "406":
          content: {}
          description: Not acceptable - The response content type does not match the
            'Accept' header value
        "409":
          content: {}
          description: Conflict - If a resource being created already exists
        "415":
          content: {}
          description: Unsupported media type - The server cannot handle the requested
            Content-Type
        "500":
          content: {}
          description: Server error - Something went wrong on the Cloud Elements server
        "502":
          content: {}
          description: Provider server error - Something went wrong on the Provider
            or Endpoint's server
      summary: "Retrieve an {objectName}"
      tags:
      - objectName
      x-openapi-router-controller: openapi_server.controllers.object_name_controller
    patch:
      operationId: update_object_name_by_object_id
      parameters:
      - description: "The authorization tokens. The format for the header value is\
          \ 'Element &lt;token&gt;, User &lt;user secret&gt;'"
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: The name of the object
        in: path
        name: objectName
        required: true
        schema:
          type: string
      - description: "The {objectName} ID"
        in: path
        name: objectId
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/Object'
        description: "The {objectName}"
        required: true
        x-body-name: Body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Object'
          description: OK - Everything worked as expected
        "400":
          content: {}
          description: Bad Request - Often due to a missing request parameter
        "401":
          content: {}
          description: "Unauthorized - An invalid element token, user secret and/or\
            \ org secret provided"
        "403":
          content: {}
          description: Forbidden - Access to the resource by the provider is forbidden
        "404":
          content: {}
          description: Not found - The requested resource is not found
        "405":
          content: {}
          description: "Method not allowed - Incorrect HTTP verb used, e.g., GET used\
            \ when POST expected"
        "406":
          content: {}
          description: Not acceptable - The response content type does not match the
            'Accept' header value
        "409":
          content: {}
          description: Conflict - If a resource being created already exists
        "415":
          content: {}
          description: Unsupported media type - The server cannot handle the requested
            Content-Type
        "500":
          content: {}
          description: Server error - Something went wrong on the Cloud Elements server
        "502":
          content: {}
          description: Provider server error - Something went wrong on the Provider
            or Endpoint's server
      summary: "Update an {objectName}"
      tags:
      - objectName
      x-codegen-request-body-name: Body
      x-openapi-router-controller: openapi_server.controllers.object_name_controller
    put:
      operationId: replace_object_name_by_object_id
      parameters:
      - description: "The authorization tokens. The format for the header value is\
          \ 'Element &lt;token&gt;, User &lt;user secret&gt;'"
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: The name of the object
        in: path
        name: objectName
        required: true
        schema:
          type: string
      - description: "The {objectName} ID"
        in: path
        name: objectId
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/Object'
        description: "The {objectName}"
        required: true
        x-body-name: Body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Object'
          description: OK - Everything worked as expected
        "400":
          content: {}
          description: Bad Request - Often due to a missing request parameter
        "401":
          content: {}
          description: "Unauthorized - An invalid element token, user secret and/or\
            \ org secret provided"
        "403":
          content: {}
          description: Forbidden - Access to the resource by the provider is forbidden
        "404":
          content: {}
          description: Not found - The requested resource is not found
        "405":
          content: {}
          description: "Method not allowed - Incorrect HTTP verb used, e.g., GET used\
            \ when POST expected"
        "406":
          content: {}
          description: Not acceptable - The response content type does not match the
            'Accept' header value
        "409":
          content: {}
          description: Conflict - If a resource being created already exists
        "415":
          content: {}
          description: Unsupported media type - The server cannot handle the requested
            Content-Type
        "500":
          content: {}
          description: Server error - Something went wrong on the Cloud Elements server
        "502":
          content: {}
          description: Provider server error - Something went wrong on the Provider
            or Endpoint's server
      summary: "Update an {objectName}"
      tags:
      - objectName
      x-codegen-request-body-name: Body
      x-openapi-router-controller: openapi_server.controllers.object_name_controller
  /{objectName}/{objectId}/{childObjectName}:
    get:
      operationId: get_object_name_by_child_object_name
      parameters:
      - description: "The authorization tokens. The format for the header value is\
          \ 'Element &lt;token&gt;, User &lt;user secret&gt;'"
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: The name of the object
        in: path
        name: objectName
        required: true
        schema:
          type: string
      - description: "The {objectName} ID"
        in: path
        name: objectId
        required: true
        schema:
          type: string
      - description: The name of the childObjectName
        in: path
        name: childObjectName
        required: true
        schema:
          type: string
      - description: The CEQL search expression.
        in: query
        name: where
        schema:
          type: string
      - description: The page size. Defaults to 200 if not provided. Maximum of 5000.
        in: query
        name: pageSize
        schema:
          format: int64
          type: integer
      - description: "The next page cursor, taken from the response header: `elements-next-page-token`"
        in: query
        name: nextPage
        schema:
          type: string
      - description: The fields to return on the response. Can be a single field or
          a comma-separated list of fields
        in: query
        name: fields
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/Object'
                type: array
          description: OK - Everything worked as expected
        "400":
          content: {}
          description: Bad Request - Often due to a missing request parameter
        "401":
          content: {}
          description: "Unauthorized - An invalid element token, user secret and/or\
            \ org secret provided"
        "403":
          content: {}
          description: Forbidden - Access to the resource by the provider is forbidden
        "404":
          content: {}
          description: Not found - The requested resource is not found
        "405":
          content: {}
          description: "Method not allowed - Incorrect HTTP verb used, e.g., GET used\
            \ when POST expected"
        "406":
          content: {}
[...]
