openapi: 3.0.1
info:
  description: "Build secure and scalable custom apps for onboarding and setup. Our\
    \ flexible API provides many options for configuration.\r\n<br><br>\r\nTake the\
    \ API for a test drive. Just click on the Authorize button below and authenticate.\
    \ \r\nYou can access our demo company profile if you are not a customer, or your\
    \ own profile by using your assigned ClientId and Secret.\r\n<br><br>\r\nThe API\
    \ has two interfaces, consumer and setup. \r\n<ul>\r\n<li>\r\nThe consumer interface\
    \ provides all the endpoints required for implementing consumer booking flows.\r\
    \n</li>\r\n<li>\r\nThe setup interface provides endpoints for profile configuration\
    \ and setup.\r\n</li>\r\n</ul>\r\nToggle freely between the two interfaces using\
    \ the swagger tool bar option labelled 'Select a definition'.\r\n"
  title: OnSched Setup API
  version: v1
  x-apisguru-categories:
  - collaboration
  x-logo:
    url: https://onsched.com/img/apple-touch-icon-57x57-precomposed.ico
  x-origin:
  - format: openapi
    url: https://sandbox-api.onsched.com/swagger/setup/swagger.json
    version: "3.0"
  x-providerName: onsched.com
  x-serviceName: setup
servers:
- url: https://sandbox-api.onsched.com/
security:
- oauth2:
  - OnSchedApi
paths:
  /setup/v1/appointments:
    get:
      description: "<p>Use this endpoint to return a <b>List of Appointments</b>.\
        \ Use the offset and limit parameters to control the page start and number\
        \ of results. Default offset is 0, limit is 20, max is 100. Use the query\
        \ parameters to filter the results further. For more information: <a href=\"\
        https://onsched.readme.io/docs/appointments-overview\">Appointments Overview</a></p>"
      operationId: setup_v1_appointments_get
      parameters:
      - description: "id of business location, defaults to primary business location"
        explode: true
        in: query
        name: locationId
        required: false
        schema:
          type: string
        style: form
      - description: Filter appointments by email address
        explode: true
        in: query
        name: email
        required: false
        schema:
          type: string
        style: form
      - description: Filter appointments by lastname or part of
        explode: true
        in: query
        name: lastname
        required: false
        schema:
          type: string
        style: form
      - description: Filter appointments by service
        explode: true
        in: query
        name: serviceId
        required: false
        schema:
          type: string
        style: form
      - description: Filter appointments by calendar
        explode: true
        in: query
        name: calendarId
        required: false
        schema:
          type: string
        style: form
      - description: Filter appointments by resource
        explode: true
        in: query
        name: resourceId
        required: false
        schema:
          type: string
        style: form
      - description: Filter appointments by customer
        explode: true
        in: query
        name: customerId
        required: false
        schema:
          type: string
        style: form
      - description: Filter appointments by service allocation
        explode: true
        in: query
        name: serviceAllocationId
        required: false
        schema:
          type: string
        style: form
      - description: "Format YYYY-MM-DD: Filter appointments by on/after startDate"
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Format YYYY-MM-DD: Filter appointments on/before endDate"
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Filter appointments by status: IN, BK, CN, RE, RS"
        explode: true
        in: query
        name: status
        required: false
        schema:
          type: string
        style: form
      - description: Filter appointments by user email who booked
        explode: true
        in: query
        name: bookedBy
        required: false
        schema:
          type: string
        style: form
      - description: "Starting row of page, default 0"
        explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: "Page limit default 20, max 100"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppointmentListViewModel'
          description: Success
      summary: List Appointments
      tags:
      - Appointments
      x-openapi-router-controller: openapi_server.controllers.appointments_controller
  /setup/v1/appointments/{id}:
    get:
      description: <p>Use this endpoint to return an <b>Appointment</b> object. A
        valid <b>appointment id</b> is required. Find appointment id's by using the
        <i>GET​/setup​/v1​/appointments</i> endpoint.</p>
      operationId: setup_v1_appointments_id_get
      parameters:
      - description: id of appointment object
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppointmentViewModel'
          description: Success
      summary: Get Appointment
      tags:
      - Appointments
      x-openapi-router-controller: openapi_server.controllers.appointments_controller
  /setup/v1/appointments/{id}/reassign/resource/{resourceId}:
    put:
      description: "<p>Use this endpoint to <b>Reassign</b> an appointment from one\
        \ resource to another. The result returned is a single appointment that was\
        \ reassigned to the target resource. A valid <b>appointment id</b> and <b>resource\
        \ id</b> is required. Find appointment id's by using the <i>GET /setup/v1/appointments</i>\
        \ endpoint, find resource id's by using the <i>GET ​/setup​/v1​/resources</i>\
        \ endpoint.</p>"
      operationId: setup_v1_appointments_id_reassign_resource_resource_id_put
      parameters:
      - description: id of appointment object
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: id of target resource
        explode: false
        in: path
        name: resourceId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppointmentViewModel'
          description: Success
      summary: Reassign Appointment
      tags:
      - Appointments
      x-openapi-router-controller: openapi_server.controllers.appointments_controller
  /setup/v1/businessusers:
    get:
      description: "<p>Use this endpoint to return a <b>List of Business Users and\
        \ their Roles</b>. The results are returned in pages. Use the offset and limit\
        \ parameters to control the page start and number of results. Default offset\
        \ is 0, limit is 20, max is 100. Use the query parameters to filter the results\
        \ further.</p>"
      operationId: setup_v1_businessusers_get
      parameters:
      - description: "id of business location, defaults to primary business location"
        explode: true
        in: query
        name: locationId
        required: false
        schema:
          type: string
        style: form
      - description: Filter by email address
        explode: true
        in: query
        name: email
        required: false
        schema:
          type: string
        style: form
      - description: Filter user role
        explode: true
        in: query
        name: role
        required: false
        schema:
          type: string
        style: form
      - description: "Starting row of page, default 0"
        explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: "Page limit default 20, max 100"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessUserListViewModel'
          description: Success
      summary: List Users
      tags:
      - BusinessUsers
      x-openapi-router-controller: openapi_server.controllers.business_users_controller
    post:
      description: "<p>Use this endpoint to <b>Create</b> a Business User. If not\
        \ specified, the business location defaults to the primary business location.\
        \ </p>\r\n<p>Required fields: <b>Name</b>, <b>Email</b> and <b>Role</b><b>Note:</b>\
        \ If the businessUser is a bookable resource (bizresource) then a resourceId\
        \ is required.</p>\r\n<p>For role, use one of the values listed. <b>Business\
        \ Roles Include: bizowner</b> (Business Owner), <b>bizadmin</b> (Business\
        \ Administrator), <b>bizresource</b> (Business User - Bookable Resource).</p>\r\
        \n<p>The <b>sendRegistrationInvite</b> parameter is available to API consumers\
        \ for their own use. It provides no added functionality in OnSched.</p>"
      operationId: setup_v1_businessusers_post
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/BusinessUserInputModel'
          application/json:
            schema:
              $ref: '#/components/schemas/BusinessUserInputModel'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/BusinessUserInputModel'
          text/json:
            schema:
              $ref: '#/components/schemas/BusinessUserInputModel'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessUserViewModel'
          description: Success
      summary: Create User
      tags:
      - BusinessUsers
      x-openapi-router-controller: openapi_server.controllers.business_users_controller
      x-codegen-request-body-name: body
  /setup/v1/businessusers/permissions:
    get:
      description: "<p>Use this endpoint to return a <b>List of Business User Permissions\
        \ by Role</b>. Results are returned in pages. Use the offset and limit parameters\
        \ to control the page start and number of results. Default offset is 0, limit\
        \ is 20, max is 100. Use the query parameters to filter the results further.</p>"
      operationId: setup_v1_businessusers_permissions_get
      parameters:
      - description: Filter permissions by role
        explode: true
        in: query
        name: role
        required: false
        schema:
          type: string
        style: form
      - description: "Starting row of page, default 0"
        explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: "Page limit default 20, max 100"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessPermissionListViewModel'
          description: Success
      summary: List User Permissions
      tags:
      - BusinessUsers
      x-openapi-router-controller: openapi_server.controllers.business_users_controller
  /setup/v1/businessusers/{email}/companies:
    get:
      description: "<p>Use this endpoint to return a <b>List of Companies</b> associated\
        \ with the business users email requested. A business user <b>email</b> address\
        \ is required. Use the offset and limit parameters to control the page start\
        \ and number of results. Default offset is 0, limit is 20, max is 100. Use\
        \ the query parameters to filter the results further.</p>"
      operationId: setup_v1_businessusers_email_companies_get
      parameters:
      - description: Email of business user
        explode: false
        in: path
        name: email
        required: true
        schema:
          type: string
        style: simple
      - description: All or partial company name
        explode: true
        in: query
        name: searchText
        required: false
        schema:
          type: string
        style: form
      - description: "Starting row of page, default 0"
        explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: "Page limit default 20, max 100"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizedCompanyListViewModel'
          description: Success
      summary: List User Companies
      tags:
      - BusinessUsers
      x-openapi-router-controller: openapi_server.controllers.business_users_controller
  /setup/v1/businessusers/{id}:
    delete:
      description: <p>Use this endpoint to permanently <b>Delete</b> a Business User.
        A valid <b>businessUser id</b> is required.</p>
      operationId: setup_v1_businessusers_id_delete
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Success
      summary: Delete User
      tags:
      - BusinessUsers
      x-openapi-router-controller: openapi_server.controllers.business_users_controller
    get:
      description: <p>Use this endpoint to return a <b>Business User</b> object. A
        valid <b>businessUser id</b> is required. Find businessUser id's using the
        <i>GET /setup/v1/businessusers</i> endpoint.</p>
      operationId: setup_v1_businessusers_id_get
      parameters:
      - description: id of businessUser object
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessUserViewModel'
          description: Success
      summary: Get User
      tags:
      - BusinessUsers
      x-openapi-router-controller: openapi_server.controllers.business_users_controller
    put:
      description: "<p>Use this endpoint to <b>Update</b> a Business User. A valid\
        \ <b>businessUser id</b> is required.</p>\r\n<p>\r\n  <b>Business Roles Include:\
        \ bizowner</b> (Business Owner), <b>bizadmin</b> (Business Administrator),\
        \ <b>bizresource</b> (Business User - Bookable Resource).</p>"
      operationId: setup_v1_businessusers_id_put
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/BusinessUserUpdateModel'
          application/json:
            schema:
              $ref: '#/components/schemas/BusinessUserUpdateModel'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/BusinessUserUpdateModel'
          text/json:
            schema:
              $ref: '#/components/schemas/BusinessUserUpdateModel'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessUserViewModel'
          description: Success
      summary: Update User
      tags:
      - BusinessUsers
      x-openapi-router-controller: openapi_server.controllers.business_users_controller
      x-codegen-request-body-name: body
  /setup/v1/calendars:
    get:
      description: "<p>Use this endpoint to return a <b>List of Calendars</b> from\
        \ the requested location. If not specified, the business location defaults\
        \ to the primary business location. </p>"
      operationId: setup_v1_calendars_get
      parameters:
      - description: "id of business location, defaults to primary business location"
        explode: true
        in: query
        name: locationId
        required: false
        schema:
          type: string
        style: form
      - description: Filter by deleted status
        explode: true
        in: query
        name: deleted
        required: false
        schema:
          type: boolean
        style: form
      - description: "Starting row of page, default 0"
        explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: "Page limit default 20, max 100"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleListViewModel'
          description: Success
      summary: List Calendars
      tags:
      - Calendars
      x-openapi-router-controller: openapi_server.controllers.calendars_controller
    post:
      description: "<p>\r\n  <b>DEPRECATING:</b> Create Calendar</p>\r\n<p>We are\
        \ no longer supporting Multiple Calendar Functionality as it is part of our\
        \ Legacy Application and has no relevance in the API.</p>"
      operationId: setup_v1_calendars_post
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/ScheduleInputModel'
          application/json:
            schema:
              $ref: '#/components/schemas/ScheduleInputModel'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ScheduleInputModel'
          text/json:
            schema:
              $ref: '#/components/schemas/ScheduleInputModel'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleViewModel'
          description: Success
      summary: "DEPRECATING: Create"
      tags:
      - Calendars
      x-openapi-router-controller: openapi_server.controllers.calendars_controller
      x-codegen-request-body-name: body
  /setup/v1/calendars/block/{id}:
    delete:
      description: <p>Use this endpoint to permanently <b>Delete</b> a calendar block.
        A valid <b>calendarBlock id</b> is required.</p>
      operationId: setup_v1_calendars_block_id_delete
      parameters:
      - description: id of a calendarBlock object
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarBlockViewModel'
          description: Success
      summary: Delete Calendar Block
      tags:
      - Calendars
      x-openapi-router-controller: openapi_server.controllers.calendars_controller
    put:
      description: "<p>Use this endpoint to <b>Create</b> a Calendar Block. A valid\
        \ <b>calendarBlock id</b> is required. Refer to the <i>POST ​/setup​/v1​/calendars​\
        /{id}​/block</i> endpoint for fieldnames and details.</p>"
      operationId: setup_v1_calendars_block_id_put
      parameters:
      - description: id of calendarBlock object
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/CalendarBlockUpdateModel'
          application/json:
            schema:
              $ref: '#/components/schemas/CalendarBlockUpdateModel'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/CalendarBlockUpdateModel'
          text/json:
            schema:
              $ref: '#/components/schemas/CalendarBlockUpdateModel'
        description: Resource Block input model
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarBlockViewModel'
          description: Success
      summary: Update Calendar Block
      tags:
      - Calendars
      x-openapi-router-controller: openapi_server.controllers.calendars_controller
      x-codegen-request-body-name: body
  /setup/v1/calendars/blocks/{id}:
    get:
      description: <p>Use this endpoint to return a <b>Calendar Block</b>. A valid
        <b>calendarBlock id</b> is required. </p>
      operationId: setup_v1_calendars_blocks_id_get
      parameters:
      - description: id of calendarBlock object
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarBlockViewModel'
          description: Success
      summary: Get Calendar Block
      tags:
      - Calendars
      x-openapi-router-controller: openapi_server.controllers.calendars_controller
  /setup/v1/calendars/{id}:
    delete:
      description: "<p>Use this endpoint to <b>Delete</b> a calendar object. A valid\
        \ <b>calendar id</b> is required. The calendar is not permanently deleted\
        \ and can be recovered by using the <i>PUT ​/setup​/v1​/calendars​/{id}​/recover\
        \ </i>endpoint.</p>"
      operationId: setup_v1_calendars_id_delete
      parameters:
      - description: id of calendar object
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleViewModel'
          description: Success
      summary: Delete Calendar
      tags:
      - Calendars
      x-openapi-router-controller: openapi_server.controllers.calendars_controller
    get:
      description: <p>Use this endpoint to return a <b>Calendar</b> object. A valid
        <b>calendar id</b> is required.</p>
      operationId: setup_v1_calendars_id_get
      parameters:
      - description: id of calendar object
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleViewModel'
          description: Success
      summary: Get Calendar
      tags:
      - Calendars
      x-openapi-router-controller: openapi_server.controllers.calendars_controller
    put:
      description: "<p>Use this endpoint to <b>Update</b> a calendar object. A valid\
        \ <b>calendar id</b> is required. When your company was created a calendar\
        \ object was automatically created with 24-hour weekly availability. Its <b>name\
        \ = Main</b>, the <b>type = resource</b> and by default the <b>interval =\
        \ 30 mins</b>. We are currently supporting resource calendar type. Other types\
        \ were part of our Legacy Application and has no relevance in the API product.</p>"
      operationId: setup_v1_calendars_id_put
      parameters:
      - description: id of calendar object
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/ScheduleUpdateModel'
          application/json:
            schema:
              $ref: '#/components/schemas/ScheduleUpdateModel'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ScheduleUpdateModel'
          text/json:
            schema:
              $ref: '#/components/schemas/ScheduleUpdateModel'
        description: Input model for the calendar object
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleViewModel'
          description: Success
      summary: Update Calendar
      tags:
      - Calendars
      x-openapi-router-controller: openapi_server.controllers.calendars_controller
      x-codegen-request-body-name: body
  /setup/v1/calendars/{id}/block:
    post:
      description: "<p>Use this endpoint to <b>Create</b> a Calendar Block. A valid\
        \ <b>calendar id</b> is required.</p>\r\n<p>Required fields: <b>startDate,\
        \ endDate, startTime, endTime</b> and <b>reason</b>.</p>\r\n<p>Calendar blocks\
        \ can be set to specific time ranges or for the whole day. Th block a whole\
        \ day set the startTime to 0 and endTime to 2400.</p>\r\n<p>Calendar blocks\
        \ can be for a specific date range instance or set to repeat at a specified\
        \ frequency.</p>\r\n<p>\r\n  <b>Repeat object: (repeats = true)</b>\r\n</p>\r\
        \n<p>The <b>frequency</b> can be set to a value of <b>D, W or M</b> for <b>Day,\
        \ Week</b> or <b>Month</b> respectively.</p>\r\n<p>Use the <b>interval</b>\
        \ property to specify the interval that the block repeats. For example, an\
        \ interval of 2 for a weekly block means that the block will repeat every\
        \ 2nd week beginning at the day specified. A daily block with an interval\
        \ of 10 means the block will repeat every 10 days. The interval property applies\
        \ to all repeat frequencies. <b>If using the repeat functionality an interval\
        \ value is required</b>.</p>\r\n<p>\r\n  <b>DAILY BLOCKS</b>: Will repeat\
        \ for each day of the week for the date range specified for the interval specified.\
        \  An interval value of “1” repeats every day, and an interval value of “\
        3” is every 3rd day.</p>\r\n<p>\r\n  <b>WEEKLY BLOCKS</b>: Will repeat only\
        \ on the specified days of the week for the date range specified. For weekly\
        \ the <b>frequency</b>  is required and should be set to <b>“W”</b>.  You\
        \ must specify the <b>weekdays</b> parameter. Weekdays are expressed as a\
        \ string of digits with each single digit in the string representing a day\
        \ of the week. The possible values are <b>0,1,2,3,4,5,6</b> where <b>0=Sunday,\
        \ 1=Monday, 2=Tuesday, 3=Wednesday, 4=Thursday, 5=Friday, 6=Saturday</b>.\
        \ For example, a weekly frequency with an interval of “1”, and an entry of\
        \ weekdays = “24”, will repeat each week on Tuesday and Thursday for the duration\
        \ of the block date range.</p>\r\n<p>\r\n  <b>MONTHLY BLOCKS</b>: Will repeat\
        \ either on the day of the month specified in the <b>monthDay</b> property\
        \ or on the day of the week and week of the month specified by the <b>monthType</b>\
        \ property.  In both cases <b>frequency</b> is required and should be set\
        \ to <b>“M”</b>, monthly, <b>monthDay</b> is the day of the month you want\
        \ blocked.  If monthDay=’15’ this means to block the 15th of every month in\
        \ the date range requested. Using monthDay in conjunction with monthType addresses\
        \ “day of the week and week of the month” scenario.  There are two possible\
        \ values for monthType: <b>D for Day of Month</b> or <b>W for Week of Month.</b>\
        \ For <b>monthType D</b>, monthDay value must be between 1 and 31. It is the\
        \ day of the month to repeat on. For <b>monthType M</b>, monthDay value contains\
        \ 2 digits: day of week (0-6), (0,1,2,3,4,5,6 where 0=Sunday, 1=Monday, 2=Tuesday,\
        \ 3=Wednesday, 4=Thursday, 5=Friday, 6=Saturday) and week of month (1-5).\
        \ 1 being the first week, 2 being the second. The third Thursday of the month\
        \ is depicted as a monthType=”M” and monthDay=”43”.</p>\r\n<p>\r\n  <b>Repeats\
        \ will end on the date specified by the end date.</b>\r\n</p>"
      operationId: setup_v1_calendars_id_block_post
      parameters:
      - description: id of calendar object
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/CalendarBlockInputModel'
          application/json:
            schema:
              $ref: '#/components/schemas/CalendarBlockInputModel'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/CalendarBlockInputModel'
          text/json:
            schema:
              $ref: '#/components/schemas/CalendarBlockInputModel'
        description: ""
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceBlockViewModel'
          description: Success
      summary: Create Calendar Block
      tags:
      - Calendars
      x-openapi-router-controller: openapi_server.controllers.calendars_controller
      x-codegen-request-body-name: body
  /setup/v1/calendars/{id}/blocks:
    get:
      description: <p>Use this endpoint to return a <b>List of Calendar Blocks</b>
        for the requested calendar. A valid <b>calendar id</b> is required. </p>
      operationId: setup_v1_calendars_id_blocks_get
      parameters:
      - description: id of calendar to list blocks
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: "Starting row of page, default 0"
        explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: "Page limit default 20, max 100"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarBlockListViewModel'
          description: Valid response
        "400":
          description: Missing or invalid values in the request
        "401":
          description: Authorization error.
        "404":
          description: Resource was not found
      summary: List Calendar Blocks
      tags:
      - Calendars
      x-openapi-router-controller: openapi_server.controllers.calendars_controller
  /setup/v1/calendars/{id}/recover:
    put:
      description: <p>Use this endpoint to <b>Recover</b> a previously deleted calendar
        object. A valid <b>calendar id</b> is required.</p>
      operationId: setup_v1_calendars_id_recover_put
      parameters:
      - description: id of calendar object
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleViewModel'
          description: Success
      summary: Recover Calendar
      tags:
      - Calendars
      x-openapi-router-controller: openapi_server.controllers.calendars_controller
  /setup/v1/calendars/{id}/services:
    get:
      description: <p>Use this endpoint to return a <b>List of Linked Services</b>
        of a calendar object. A valid <b>calendar id</b> is required. Find calendar
        id's by using the <i>GET /setup/v1/calendars</i> endpoint.</p>
      operationId: setup_v1_calendars_id_services_get
      parameters:
      - description: id of calendar object
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: "Starting row of page, default 0"
        explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: "Page limit default 20, max 100"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceListViewModel'
          description: Success
      summary: List Calendar Services
      tags:
      - Calendars
      x-openapi-router-controller: openapi_server.controllers.calendars_controller
  /setup/v1/companies:
    get:
      description: "<p>Use this endpoint to return the <b>Authorized Company</b> information.\
        \ The company is the main entity that oversees all business locations defined\
        \ below it, hierarchically. </p>\r\n<p>Access to the company credentials gives\
        \ you access to all business locations defined in the authorized company.\
        \ Client credentials resolve to a single company and are purposely hidden\
        \ from this endpoint.</p>"
      operationId: setup_v1_companies_get
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyViewModel'
          description: Success
      summary: Get Company
      tags:
      - Companies
      x-openapi-router-controller: openapi_server.controllers.companies_controller
    post:
      description: "<p>Use this endpoint to <b>Create</b> a new authorized company.</p>\r\
        \n<p>\r\n  <b>Note: Special API Partner credentials are required to access\
        \ this endpoint.</b>\r\n</p>\r\n<p>The <b>name, registrationEmail, phone,\
        \ country</b> and <b>timezoneName</b> are required fields. For <b>country</b>\
        \ use the standard ISO 3166 2-character country code.</p>\r\n<p>The <b>timezoneName</b>\
        \ must be expressed as an IANA Timezone e.g., <i>America/New_York</i>.</p>\r\
        \n<p>For more information: <a href=\"https://en.wikipedia.org/wiki/List_of_tz_database_time_zones\"\
        >Timezone IANA Wiki</a></p>"
      operationId: setup_v1_companies_post
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/CompanyInputModel'
          application/json:
            schema:
              $ref: '#/components/schemas/CompanyInputModel'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/CompanyInputModel'
          text/json:
            schema:
              $ref: '#/components/schemas/CompanyInputModel'
        description: Company Input Model
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyViewModel'
          description: Success
      summary: Create Company
      tags:
      - Companies
      x-openapi-router-controller: openapi_server.controllers.companies_controller
      x-codegen-request-body-name: body
    put:
      description: "<p>Use this endpoint to <b>Update</b> the authorized company information.\
        \ Your client credentials resolve to a single company. The timezoneName must\
        \ be expressed as an IANA Timezone, e.g., <i>America/New_York</i>. </p>\r\n\
        <p>For more information: <a href=\"https://en.wikipedia.org/wiki/List_of_tz_database_time_zones\"\
        >Timezone IANA Wiki</a></p>"
      operationId: setup_v1_companies_put
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/CompanyUpdateModel'
          application/json:
            schema:
              $ref: '#/components/schemas/CompanyUpdateModel'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/CompanyUpdateModel'
          text/json:
            schema:
              $ref: '#/components/schemas/CompanyUpdateModel'
        description: Company Update Model
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyViewModel'
          description: Success
      summary: Update Company
      tags:
      - Companies
      x-openapi-router-controller: openapi_server.controllers.companies_controller
      x-codegen-request-body-name: body
  /setup/v1/companies/domains:
    get:
      description: <p>Use this endpoint to return a <b>List of Company Domains</b>
        for the authorized company. To share the OnSchedJS booking widget on your
        website or in your application your domain must be listed.</p>
      operationId: setup_v1_companies_domains_get
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyDomainListViewModel'
          description: Success
      summary: List Company Domains
      tags:
      - Companies
      x-openapi-router-controller: openapi_server.controllers.companies_controller
    post:
      description: <p>Use this endpoint to <b>Create</b> an OnSchedJs domain for your
        authorized company. To share the OnSchedJS booking widget on your website
        or in your application you must add the domain.</p>
      operationId: setup_v1_companies_domains_post
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/CompanyDomainInputModel'
          application/json:
            schema:
              $ref: '#/components/schemas/CompanyDomainInputModel'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/CompanyDomainInputModel'
          text/json:
            schema:
              $ref: '#/components/schemas/CompanyDomainInputModel'
        description: Company Domain Input Model
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyDomainViewModel'
          description: Success
      summary: Create Company Domain
      tags:
      - Companies
      x-openapi-router-controller: openapi_server.controllers.companies_controller
      x-codegen-request-body-name: body
  /setup/v1/companies/domains/{id}:
    delete:
      description: <p>Use this endpoint to <b>Delete</b> an OnSchedJs domain from
        your authorized company. A valid <b>companyDomain id</b> is required.</p>
      operationId: setup_v1_companies_domains_id_delete
      parameters:
      - description: id of companyDomain object
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyDomainViewModel'
          description: Success
      summary: Delete Company Domain
      tags:
      - Companies
      x-openapi-router-controller: openapi_server.controllers.companies_controller
    get:
      description: <p>Use this endpoint to return a <b>Company Domain</b> object.
        A valid <b>companyDomain id</b> is required. </p>
      operationId: setup_v1_companies_domains_id_get
      parameters:
      - description: id of companyDomain object
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyDomainViewModel'
          description: Success
      summary: Get Company Domain
      tags:
      - Companies
      x-openapi-router-controller: openapi_server.controllers.companies_controller
    put:
      description: <p>Use this endpoint to <b>Update</b> an OnSchedJs domain for your
        authorized company. A valid <b>companyDomain id</b> is required.</p>
      operationId: setup_v1_companies_domains_id_put
      parameters:
      - description: id of companyDomain object
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/CompanyDomainUpdateModel'
          application/json:
            schema:
              $ref: '#/components/schemas/CompanyDomainUpdateModel'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/CompanyDomainUpdateModel'
          text/json:
            schema:
              $ref: '#/components/schemas/CompanyDomainUpdateModel'
        description: Company Domain Update Model
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyDomainViewModel'
          description: Success
      summary: Update Company Domain
      tags:
      - Companies
      x-openapi-router-controller: openapi_server.controllers.companies_controller
      x-codegen-request-body-name: body
  /setup/v1/companies/email/templates:
    get:
      description: "<p>Use this endpoint to return a <b>List of Email Templates</b>\
        \ that are provided and may be customized. If the template has been customized,\
        \ the customized property is true. The scope parameter indicates if the email\
        \ template has been customized at the Business Location level or Company level.\
        \ This endpoint returns <b>only company level templates</b>, so the scope\
        \ is always company.</p>"
      operationId: setup_v1_companies_email_templates_get
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailTemplateListViewModel'
          description: Success
      summary: List Email Templates
      tags:
      - Companies
      x-openapi-router-controller: openapi_server.controllers.companies_controller
  /setup/v1/companies/email/templates/master:
    delete:
      description: <p>Use this endpoint to <b>Delete Custom Master Email Template
        Settings</b>. Deleting a custom master email template setting will reactivate
        the original default OnSched template settings.</p>
      operationId: setup_v1_companies_email_templates_master_delete
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MasterEmailTemplateSettingsViewModel'
          description: Success
      summary: Delete Master Template Settings
      tags:
      - Companies
      x-openapi-router-controller: openapi_server.controllers.companies_controller
    get:
      description: <p>Use this endpoint to return the <b>Master Email Template Settings</b>.
        Settings exist for showing or hiding email panels and for changing color schemes.
        </p>
      operationId: setup_v1_companies_email_templates_master_get
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MasterEmailTemplateSettingsViewModel'
          description: Success
      summary: Get Master Template Settings
      tags:
      - Companies
      x-openapi-router-controller: openapi_server.controllers.companies_controller
    post:
      description: "<p>Use this endpoint to <b>Create Custom Master Email Template\
        \ Settings</b>. Settings exist for showing or hiding email panels and for\
        \ changing color schemes. Use the <i>GET ​/setup​/v1​/companies​/email​/templates</i>\
        \ endpoint to display the settings offered. Changes to the Master Template\
        \ Settings will be reflected in all business locations associated with this\
        \ company. </p>\r\n<p>The email template endpoints work a little differently\
        \ than most. There are no endpoints to update the templates, we use the post\
        \ endpoint to create a custom template instead. This endpoint creates a new\
        \ custom Master Template Settings file that will be used instead. If you delete\
        \ it you are deleting the custom template settings you created and the original\
        \ default Master Template created by OnSched would be reactivated.</p>"
      operationId: setup_v1_companies_email_templates_master_post
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/MasterTemplateSettingsInputModel'
          application/json:
            schema:
              $ref: '#/components/schemas/MasterTemplateSettingsInputModel'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/MasterTemplateSettingsInputModel'
          text/json:
            schema:
              $ref: '#/components/schemas/MasterTemplateSettingsInputModel'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MasterEmailTemplateSettingsViewModel'
          description: Success
      summary: Create Master Template Settings
      tags:
      - Companies
      x-openapi-router-controller: openapi_server.controllers.companies_controller
      x-codegen-request-body-name: body
  /setup/v1/companies/email/templates/{templateName}:
    get:
      description: "<p>Use this endpoint to return the requested <b>Email Template</b>.\
        \ If it wasn't customized the default template is returned. The response content\
        \ is in html format. A valid emailTemplate <b>name</b> is required. Find template\
        \ names by using the: <i>GET ​/setup​/v1​/companies​/email​/templates</i>\
        \ endpoint. Note: The master template cannot be accessed here. </p>\r\n<p>To\
        \ create custom company email templates, go to the <i>POST ​/setup​/v1​/locations​\
        /{id}​/email​/templates</i> endpoint and create a template using the Primary\
        \ Business Location Id.</p>"
      operationId: setup_v1_companies_email_templates_template_name_get
      parameters:
      - description: Email template name
        explode: false
        in: path
        name: templateName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentResult'
          description: Success
      summary: Get Email Template
      tags:
      - Companies
      x-openapi-router-controller: openapi_server.controllers.companies_controller
  /setup/v1/companies/regions:
    get:
      description: "<p>Use this endpoint to return a list of <b>Regions</b> in the\
        \ authorized company. The results are returned in pages. Use the offset and\
        \ limit parameters to control the page start and number of results. Default\
        \ offset is 0, limit is 20, max is 100. Use the query parameters to filter\
        \ the results further. </p>"
      operationId: setup_v1_companies_regions_get
      parameters:
      - description: "Starting row of page, default 0"
        explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: "Page limit default 20, max 100"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegionListViewModel'
          description: region object's
        "400":
          description: Missing or invalid values in the request
        "401":
          description: Authorization error.
        "404":
          description: Resource was not found
      summary: List Regions
      tags:
      - Companies
      x-openapi-router-controller: openapi_server.controllers.companies_controller
    post:
      description: <p>Use this endpoint to <b>Create</b> a region object. Regions
        can be mapped to business locations. They can be used by the locations endpoints
        to filter locations by region id.</p>
      operationId: setup_v1_companies_regions_post
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/RegionInputModel'
          application/json:
            schema:
              $ref: '#/components/schemas/RegionInputModel'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/RegionInputModel'
          text/json:
            schema:
              $ref: '#/components/schemas/RegionInputModel'
        description: ""
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegionViewModel'
          description: Success
      summary: Create Region
      tags:
      - Companies
      x-openapi-router-controller: openapi_server.controllers.companies_controller
      x-codegen-request-body-name: body
  /setup/v1/companies/regions/{id}:
    delete:
      description: <p>Use this endpoint to <b>Delete</b> a region object. A valid
        <b>region id</b> is required. If the region is related to any business locations
        it won't be deleted. You must first remove any references to region id from
        the business locations prior to deleting.</p>
      operationId: setup_v1_companies_regions_id_delete
      parameters:
      - description: id of Region
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegionViewModel'
          description: Success
      summary: Delete Region
      tags:
      - Companies
      x-openapi-router-controller: openapi_server.controllers.companies_controller
    get:
      description: <p>Use this endpoint to return a <b>Region</b> object. A valid
        <b>region id</b> is required.</p>
      operationId: setup_v1_companies_regions_id_get
      parameters:
      - description: id of a region object
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegionViewModel'
          description: Success
      summary: Get Region
      tags:
      - Companies
      x-openapi-router-controller: openapi_server.controllers.companies_controller
    put:
      description: <p>Use this endpoint to <b>Update</b> a region object. A valid
        <b>region id</b> is required.</p>
      operationId: setup_v1_companies_regions_id_put
      parameters:
      - description: id of Region
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/RegionUpdateModel'
          application/json:
            schema:
              $ref: '#/components/schemas/RegionUpdateModel'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/RegionUpdateModel'
          text/json:
            schema:
              $ref: '#/components/schemas/RegionUpdateModel'
        description: Region Update Model
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegionViewModel'
          description: Success
      summary: Update Region
      tags:
      - Companies
      x-openapi-router-controller: openapi_server.controllers.companies_controller
      x-codegen-request-body-name: body
  /setup/v1/companies/timezones/{date}:
    get:
      description: "<p>Use this endpoint to return a <b>List of timezone names, timezoneIana\
        \ and tzOffset values</b> calculated for the date requested. Daylight Savings\
        \ may or may not apply depending on the date specified.</p>"
      operationId: setup_v1_companies_timezones_date_get
      parameters:
      - description: "\"YYYY-MM-DD: Date for timezone info\""
        explode: false
        in: path
        name: date
        required: true
        schema:
          format: date-time
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimezoneViewModel'
          description: Success
      summary: List Time Zones
      tags:
      - Companies
      x-openapi-router-controller: openapi_server.controllers.companies_controller
  /setup/v1/customers:
    get:
      description: "<p>Use this endpoint to return a <b>List of Customers</b>. The\
        \ results are returned in pages. Use the offset and limit parameters to control\
        \ the page start and number of results. Default offset is 0, limit is 20,\
        \ max is 100. Use the query parameters to filter the results further.</p>"
      operationId: setup_v1_customers_get
      parameters:
      - description: "id of business location, defaults to primary business location"
        explode: true
        in: query
        name: locationId
        required: false
        schema:
          type: string
        style: form
      - description: Filter by groupId
        explode: true
        in: query
        name: groupId
        required: false
        schema:
          type: string
        style: form
      - description: Filter by email address.
        explode: true
        in: query
        name: email
        required: false
        schema:
          type: string
        style: form
      - description: Search by lastname.
        explode: true
        in: query
        name: lastname
        required: false
        schema:
          type: string
        style: form
      - description: Filter by deleted status.
        explode: true
        in: query
        name: deleted
        required: false
        schema:
          type: boolean
        style: form
      - description: "Starting row of page, default 0"
        explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: "Page limit default 20, max 100"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerListViewModel'
          description: Success
      summary: List Customers
      tags:
      - Customers
      x-openapi-router-controller: openapi_server.controllers.customers_controller
  /setup/v1/customers/{id}:
    get:
      description: <p>Use this endpoint to return a <b>Customer</b> object. A valid
        <b>customer id</b> is required. Find customer id's by using the <i>GET /setup/v1/customers</i>
        endpoint.</p>
      operationId: setup_v1_customers_id_get
      parameters:
      - description: id of customer object
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerViewModel'
          description: Success
      summary: Get Customer
      tags:
      - Customers
      x-openapi-router-controller: openapi_server.controllers.customers_controller
  /setup/v1/customers/{id}/privacy:
    get:
      description: <p>Use this endpoint to return the <b>Customer</b> object. A valid
        <b>customer id</b> is required. Find customer id's using the <i>GET /setup/v1/customers</i>
        endpoint.</p>
      operationId: setup_v1_customers_id_privacy_get
      parameters:
      - description: id of customer object
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerPrivacyViewModel'
          description: Success
      summary: Get Customer Data
      tags:
      - Customers
      x-openapi-router-controller: openapi_server.controllers.customers_controller
  /setup/v1/locations:
    get:
      description: "<p>Use this endpoint to <b>List Business Locations</b> associated\
        \ with your company. The results are returned in pages. Use the offset and\
        \ limit parameters to control the page start and number of results. Default\
        \ offset is 0, limit is 20, max is 100. Use the query parameters to filter\
        \ the results further.</p>\r\n<p>\r\n  <b>IMPORTANT DEPRECATION NOTICE</b>:\
        \ The following online settings parameters were intended for internal use\
        \ in our Portal application only. They will be deprecated on <b>OCTOBER 15,\
        \ 2022</b>. These fields are currently part of the <b>SETTINGS</b> object\
        \ in all location endpoints: <b>businessId, enabled, familyMembersEnabled,\
        \ serviceLabel, resourceLabel, resourceAnyLabel, resourceSelection, liveMode,\
        \ formFlow, availabilityForm, showServiceGroups, showOnSchedLogo, showBusinessLogo,\
        \ disableAuthorization, hideNavBar, hideLocationNav, hideServiceGroupsNav,\
        \ hideServicesNav, hideContinueBooking, returnToService, returnToAvailability,\
        \ hideBreadCrumbNav.</b> If you are using these fields, please adjust your\
        \ code to handle the deprecation or let us know by submitting a ticket to:\
        \ <b><i>support@onsched.com</i></b> as we do not want to interrupt your existing\
        \ workflows.</p>"
      operationId: setup_v1_locations_get
      parameters:
      - description: Location name(full or partial) to filter on
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: Find locations that offer this service
        explode: true
        in: query
        name: serviceId
        required: false
        schema:
          type: string
        style: form
      - description: friendlyId of location
        explode: true
        in: query
        name: friendlyId
        required: false
        schema:
          type: string
        style: form
      - description: Filter locations on deleted status
        explode: true
        in: query
        name: deleted
        required: false
        schema:
          type: boolean
        style: form
      - description: "Starting row of page, default 0"
        explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: "Page limit default 20, max 100"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationListViewModel'
          description: Success
      summary: List Locations
      tags:
      - Locations
      x-openapi-router-controller: openapi_server.controllers.locations_controller
    post:
      description: "<p>Use this endpoint to <b>Create</b> a new business location.\
        \ The result is a business location object with a GUID assigned to the location.</p>\r\
        \n<p>The <b>name</b> and <b>timezoneName</b> fields are required. The <b>timezoneName</b>\
        \ must be expressed as an IANA Timezone e.g., <i>America/New_York</i>. Refer\
        \ to: <a href=\"https://en.wikipedia.org/wiki/List_of_tz_database_time_zones\"\
        >Timezone Wiki</a> for a listing of IANA time zones.</p>\r\n<p>\r\n  <b>Business\
        \ hours</b> are set by defining the <b>startTime</b> and <b>endTime</b> values\
        \ for each day available/open. All days of the week must be provided when\
        \ setting availability. Days are defined as <b>sun, mon, tue, wed, thu, fri\
        \ and sat</b>. Start and End Times are entered in <b>military format. e.g.,\
        \ 800 is 8:00am, 2230 is 10:30pm</b>. If there is no physical location and\
        \ the business hours are irrelevant, set the hours to open 24 hours by setting\
        \ startTime=0 and endTime=2400. To set a whole day as unavailable, set both\
        \ the startTime and endTime to 0. </p>\r\n<p>\r\n  <b>Settings</b> can be\
        \ set here. Booking timer minutes, book ahead restrictions and customer bookings\
        \ per day are all available here. Please read about the settings scope parameter\
        \ before setting these values as it may simplify your process.</p>\r\n<p>\r\
        \n  <b>Settings Scope</b> can be set to the company or the business location\
        \ level. You can have all locations use the same company level settings or\
        \ individual business locations can define their own, business location scope.\
        \ If you want to use the company settings throughout all locations, do not\
        \ pass in <b>settings element</b>. To create business location scoped settings,\
        \ pass in the <b>settings element</b> with the field values defined in the\
        \ post body. </p>\r\n<p>\r\n  <b>Appointment Reminders</b> Reminder values\
        \ are used to define how many hours, days, or weeks (interval value) prior\
        \ to the appointment to send the reminder. <b>Interval</b> values are used\
        \ to define the reminder interval: <b>1 = Hours</b>, <b>2 = Days</b> and <b>3\
        \ = Weeks</b>. The reminder fields are numbers. If you are using the hours\
        \ interval, use a number from 1 to 24.</p>\r\n<p>Example 1: <b>emailFirstReminder:\
        \  1, emailFirstReminderInterval:  2</b> - results in 1st reminder being sent\
        \ <b>1 Day before</b> the appointment time.</p>\r\n<p>Example 2: <b>emailSecondReminder:\
        \ 3, emailSecondReminderInterval: 1</b> - results in 2nd reminder being sent\
        \ <b>3 Hours before</b> the appointment time.</p>\r\n<p>\r\n  <b>IMPORTANT\
        \ DEPRECATION NOTICE</b>: The following online settings parameters were intended\
        \ for internal use in our Portal application only. They will be deprecated\
        \ on <b>OCTOBER 15, 2022</b>. These fields are currently part of the <b>SETTINGS</b>\
        \ object in all location endpoints: <b>businessId, enabled, familyMembersEnabled,\
        \ serviceLabel, resourceLabel, resourceAnyLabel, resourceSelection, liveMode,\
        \ formFlow, availabilityForm, showServiceGroups, showOnSchedLogo, showBusinessLogo,\
        \ disableAuthorization, hideNavBar, hideLocationNav, hideServiceGroupsNav,\
        \ hideServicesNav, hideContinueBooking, returnToService, returnToAvailability,\
        \ hideBreadCrumbNav.</b> If you are using these fields, please adjust your\
        \ code to handle the deprecation or let us know by submitting a ticket to:\
        \ <b><i>support@onsched.com</i></b> as we do not want to interrupt your existing\
        \ workflows.</p>"
      operationId: setup_v1_locations_post
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/LocationInputModel'
          application/json:
            schema:
              $ref: '#/components/schemas/LocationInputModel'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/LocationInputModel'
          text/json:
            schema:
              $ref: '#/components/schemas/LocationInputModel'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationViewModel'
          description: Success
      summary: Create Location
      tags:
      - Locations
      x-openapi-router-controller: openapi_server.controllers.locations_controller
      x-codegen-request-body-name: body
  /setup/v1/locations/bulk:
    post:
      description: "<p>Use this endpoint to <b>Create Bulk</b> business locations.\
        \ The posted list of locations cannot exceed 100 location objects per transaction\
        \ for performance purposes. The result is a list of new business location\
        \ objects with a GUID assigned to each location.</p>\r\n<p>The <b>name</b>\
        \ and <b>timezoneName</b> fields are required. The <b>timezoneName</b> must\
        \ be expressed as an IANA Timezone e.g., <i>America/New_York</i>. Refer to:\
        \ <a href=\"https://en.wikipedia.org/wiki/List_of_tz_database_time_zones\"\
        >Timezone Wiki</a> for a listing of IANA time zones.</p>\r\n<p>\r\n  <b>Business\
        \ hours</b> are set by defining the <b>startTime</b> and <b>endTime</b> values\
        \ for each day available/open. All days of the week must be provided when\
        \ setting availability. Days are defined as <b>sun, mon, tue, wed, thu, fri\
        \ and sat</b>. Start and End Times are entered in <b>military format. e.g.,\
        \ 800 is 8:00am, 2230 is 10:30pm</b>. If there is no physical location and\
        \ the business hours are irrelevant, set the hours to open 24 hours by setting\
        \ startTime=0 and endTime=2400. To set a whole day as unavailable, set both\
        \ the startTime and endTime to 0. </p>\r\n<p>\r\n  <b>Settings</b> can be\
        \ set here. Booking timer minutes, book ahead restrictions and customer bookings\
        \ per day are all available here. Please read about the settings scope parameter\
        \ before setting these values as it may simplify your process.</p>\r\n<p>\r\
        \n  <b>Settings Scope</b> can be set to the company or the business location\
        \ level. You can have all locations use the same company level settings or\
        \ individual business locations can define their own, business location scope.\
        \ If you want to use the company settings throughout all locations, do not\
        \ pass in <b>settings element</b>. To create business location scoped settings,\
        \ pass in the <b>settings element</b> with the field values defined in the\
        \ post body. </p>\r\n<p>\r\n  <b>Appointment Reminders</b> Reminder values\
        \ are used to define how many hours, days, or weeks (interval value) prior\
        \ to the appointment to send the reminder. <b>Interval</b> values are used\
        \ to define the reminder interval: <b>1 = Hours</b>, <b>2 = Days</b> and <b>3\
        \ = Weeks</b>. The reminder fields are numbers. If you are using the hours\
        \ interval, use a number from 1 to 24.</p>\r\n<p>Example 1: <b>emailFirstReminder:\
        \  1, emailFirstReminderInterval:  2</b> - results in 1st reminder being sent\
        \ <b>1 Day before</b> the appointment time.</p>\r\n<p>Example 2: <b>emailSecondReminder:\
        \ 3, emailSecondReminderInterval: 1</b> - results in 2nd reminder being sent\
        \ <b>3 Hours before</b> the appointment time.</p>\r\n<p>\r\n  <b>IMPORTANT\
        \ DEPRECATION NOTICE</b>: The following online settings parameters were intended\
        \ for internal use in our Portal application only. They will be deprecated\
        \ on <b>OCTOBER 15, 2022</b>. These fields are currently part of the <b>SETTINGS</b>\
        \ object in all location endpoints: <b>businessId, enabled, familyMembersEnabled,\
        \ serviceLabel, resourceLabel, resourceAnyLabel, resourceSelection, liveMode,\
        \ formFlow, availabilityForm, showServiceGroups, showOnSchedLogo, showBusinessLogo,\
        \ disableAuthorization, hideNavBar, hideLocationNav, hideServiceGroupsNav,\
        \ hideServicesNav, hideContinueBooking, returnToService, returnToAvailability,\
        \ hideBreadCrumbNav.</b> If you are using these fields, please adjust your\
        \ code to handle the deprecation or let us know by submitting a ticket to:\
        \ <b><i>support@onsched.com</i></b> as we do not want to interrupt your existing\
        \ workflows.</p>"
      operationId: setup_v1_locations_bulk_post
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/LocationsInputModel'
          application/json:
            schema:
              $ref: '#/components/schemas/LocationsInputModel'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/LocationsInputModel'
          text/json:
            schema:
              $ref: '#/components/schemas/LocationsInputModel'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/LocationViewModel'
                type: array
          description: Success
      summary: Create Locations Bulk
      tags:
      - Locations
      x-openapi-router-controller: openapi_server.controllers.locations_controller
      x-codegen-request-body-name: body
  /setup/v1/locations/services/{id}:
    delete:
      description: "<p>Use this endpoint to <b>Unlink</b> a location service from\
        \ a business location. A valid <b>locationService id</b> is required. Find\
        \ location services by using the <i>GET ​/setup​/v1​/locations​/{id}​/services</i>\
        \ endpoint. </p>"
      operationId: setup_v1_locations_services_id_delete
      parameters:
      - description: id of locationService object
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationViewModel'
          description: Success
      summary: Unlink Service
      tags:
      - Locations
      x-openapi-router-controller: openapi_server.controllers.locations_controller
    get:
      description: <p>Use this endpoint to <b>Get a Linked Service</b>. A valid <b>locationService
        id</b> is required.</p>
      operationId: setup_v1_locations_services_id_get
      parameters:
      - description: id of locationService object
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessServiceViewModel'
          description: location service objects
        "400":
          description: Missing or invalid values in the request
        "401":
          description: Authorization error.
        "404":
          description: Location was not found
      summary: Get Linked Service
      tags:
      - Locations
      x-openapi-router-controller: openapi_server.controllers.locations_controller
  /setup/v1/locations/{id}:
    delete:
      description: "<p>Use this endpoint to <b>Delete</b> a business location. A valid\
        \ business <b>location id</b> is required. The location is not permanently\
        \ deleted and can be recovered by using the <i>PUT /setup​/v1​/locations​\
        /{id}​/recover</i> endpoint.</p>"
      operationId: setup_v1_locations_id_delete
      parameters:
      - description: "id of business location, defaults to primary business location"
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationViewModel'
          description: Success
      summary: Delete Location
      tags:
      - Locations
      x-openapi-router-controller: openapi_server.controllers.locations_controller
    get:
      description: "<p>Use this endpoint to return a <b>Location</b> object. A valid\
        \ <b>location id</b> is required. If not specified, the business location\
        \ defaults to the primary business location. Find all business location id's,\
        \ by using the <i>GET /consumer/v1/locations</i> endpoint.</p>\r\n<p>\r\n\
        \  <b>IMPORTANT DEPRECATION NOTICE</b>: The following online settings parameters\
        \ were intended for internal use in our Portal application only. They will\
        \ be deprecated on <b>OCTOBER 15, 2022</b>. These fields are currently part\
        \ of the <b>SETTINGS</b> object in all location endpoints: <b>businessId,\
        \ enabled, familyMembersEnabled, serviceLabel, resourceLabel, resourceAnyLabel,\
        \ resourceSelection, liveMode, formFlow, availabilityForm, showServiceGroups,\
        \ showOnSchedLogo, showBusinessLogo, disableAuthorization, hideNavBar, hideLocationNav,\
        \ hideServiceGroupsNav, hideServicesNav, hideContinueBooking, returnToService,\
        \ returnToAvailability, hideBreadCrumbNav.</b> If you are using these fields,\
        \ please adjust your code to handle the deprecation or let us know by submitting\
        \ a ticket to: <b><i>support@onsched.com</i></b> as we do not want to interrupt\
        \ your existing workflows.</p>"
      operationId: setup_v1_locations_id_get
      parameters:
      - description: "id of business location, defaults to primary business location"
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationViewModel'
          description: Success
      summary: Get Location
      tags:
      - Locations
      x-openapi-router-controller: openapi_server.controllers.locations_controller
    put:
      description: "<p>Use this endpoint to <b>Update</b> a business location object.\
        \ A valid business <b>location id</b> is required. The optional removeRegion\
        \ query parameter can be used to remove the region relationship from the location.</p>\r\
        \n<p>If the settings element is populated the scope will be set to the business\
        \ location with the settings supplied. If your settings are uniform across\
        \ all locations, then do not supply the settings element and the location\
        \ will use the settings defined on the primary business location (company\
        \ scoped). Company scoped settings cascade down to the locations. You can\
        \ override any location that needs different settings by providing settings\
        \ in the update model. Use the <i>PUT /setup/v1/locations/{id}/settings/scope/{settingsScope}</i>\
        \ endpoint to change the settings scope only. This is typically used when\
        \ switching from business location scope back to company.</p>\r\n<p>Refer\
        \ to: <i><b>POST ​/setup​/v1​/locations</b></i> endpoint for details.</p>"
      operationId: setup_v1_locations_id_put
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: removeRegion
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/LocationUpdateModel'
          application/json:
            schema:
              $ref: '#/components/schemas/LocationUpdateModel'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/LocationUpdateModel'
          text/json:
            schema:
              $ref: '#/components/schemas/LocationUpdateModel'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationViewModel'
          description: Success
      summary: Update Location
      tags:
      - Locations
      x-openapi-router-controller: openapi_server.controllers.locations_controller
      x-codegen-request-body-name: body
  /setup/v1/locations/{id}/appointmentreminders:
    get:
      description: <p>Use this endpoint to <b>Get Email and SMS appointment reminder
        settings</b> for the requested location. A valid business <b>location id</b>
        is required. </p>
      operationId: setup_v1_locations_id_appointmentreminders_get
      parameters:
      - description: "id of business location, defaults to primary business location"
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppointmentReminderViewModel'
          description: Success
      summary: Get Reminders
      tags:
      - Locations
      x-openapi-router-controller: openapi_server.controllers.locations_controller
    put:
      description: "<p>Use this endpoint to <b>Update</b> Email and SMS appointment\
        \ reminder settings for the requested location. A valid business <b>location\
        \ id</b> is required. </p>\r\n<p>\r\n  <b>Appointment Reminders</b> Reminder\
        \ values are used to define how many hours, days, or weeks (interval value)\
        \ prior to the appointment to send the reminder. <b>Interval</b> values are\
        \ used to define the reminder interval: <b>1 = Hours</b>, <b>2 = Days</b>\
        \ and <b>3 = Weeks</b>. The reminder fields are numbers. If you are using\
        \ the hours interval, use a number from 1 to 24.</p>\r\n<p>Example 1: <b>emailFirstReminder:\
        \  1, emailFirstReminderInterval:  2</b> - results in 1st reminder being sent\
        \ <b>1 Day before</b> the appointment time.</p>\r\n<p>Example 2: <b>emailSecondReminder:\
        \ 3, emailSecondReminderInterval: 1</b> - results in 2nd reminder being sent\
        \ <b>3 Hours before</b> the appointment time.</p>"
      operationId: setup_v1_locations_id_appointmentreminders_put
      parameters:
      - description: "id of business location, defaults to primary business location"
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/AppointmentRemindersInputModel'
          application/json:
            schema:
              $ref: '#/components/schemas/AppointmentRemindersInputModel'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/AppointmentRemindersInputModel'
          text/json:
            schema:
              $ref: '#/components/schemas/AppointmentRemindersInputModel'
        description: input model for reminders
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationViewModel'
          description: Success
      summary: Update Reminders
      tags:
      - Locations
      x-openapi-router-controller: openapi_server.controllers.locations_controller
      x-codegen-request-body-name: body
  /setup/v1/locations/{id}/deleteallimages:
    delete:
      description: <p>Use this endpoint to <b>Delete All</b> location images from
        the location blob storage container. An option exists to use upper case for
        matching the subdirectory name. Legacy apps stored pics using upper case while
        the API uses lower case names.</p>
      operationId: setup_v1_locations_id_deleteallimages_delete
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: uppercase
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                type: boolean
          description: Success
      summary: Delete All Location Images
      tags:
      - Locations
      x-openapi-router-controller: openapi_server.controllers.locations_controller
  /setup/v1/locations/{id}/deleteimage:
    delete:
      description: <p>Use this endpoint to <b>Delete</b> a previously uploaded location
        image. A valid business <b>location id</b> is required.</p>
      operationId: setup_v1_locations_id_deleteimage_delete
      parameters:
      - description: "id of business location, defaults to primary business location"
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationViewModel'
          description: Success
      summary: Delete Location Image
      tags:
      - Locations
      x-openapi-router-controller: openapi_server.controllers.locations_controller
  /setup/v1/locations/{id}/email/templates:
    get:
      description: "<p>Use this endpoint to return a <b>List of Email Templates</b>\
        \ that are provided and may be customized. If the template has been customized,\
        \ the customized property is true. The scope parameter indicates if the email\
        \ template has been customized. This endpoint returns <b>only company level\
        \ templates</b>, so the scope is always company.</p>"
      operationId: setup_v1_locations_id_email_templates_get
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailTemplateListViewModel'
          description: Success
      summary: List Email Templates
      tags:
      - Locations
      x-openapi-router-controller: openapi_server.controllers.locations_controller
    post:
      description: "<p>Use this endpoint to a <b>Create</b> a Custom Email Template.\
        \ You must convert the content to a base64 encoded string. Updates to the\
        \ primary business location create company scoped custom templates. Updates\
        \ to non-primary business locations create business location scoped custom\
        \ templates. The master template cannot be updated with this endpoint.</p>\r\
        \n<p>The email template endpoints work a little differently than most. There\
        \ are no endpoints to update the templates, we use the post endpoint to create\
        \ a custom template instead. This endpoint creates a new email template that\
        \ will be used instead. If you delete it, you are deleting the custom template\
        \ you created and the original default template created by OnSched will be\
        \ reactivated.</p>"
      operationId: setup_v1_locations_id_email_templates_post
      parameters:
      - description: "id of business location, defaults to primary business location"
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/EmailTemplateInputModel'
          application/json:
            schema:
              $ref: '#/components/schemas/EmailTemplateInputModel'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/EmailTemplateInputModel'
          text/json:
            schema:
              $ref: '#/components/schemas/EmailTemplateInputModel'
        description: Input model for email template
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentResult'
          description: Success
      summary: Create Custom Template
      tags:
      - Locations
      x-openapi-router-controller: openapi_server.controllers.locations_controller
      x-codegen-request-body-name: body
  /setup/v1/locations/{id}/email/templates/master:
    delete:
      description: <p>Use this endpoint to <b>Delete Custom Master Email Template
        Settings</b>. A valid business <b>location id</b> is required. Deleting a
        custom master email template will reactivate the original default OnSched
        template settings.</p>
      operationId: setup_v1_locations_id_email_templates_master_delete
      parameters:
      - description: "id of business location, defaults to primary business location"
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MasterEmailTemplateSettingsViewModel'
          description: Success
      summary: Delete Master Template Settings
      tags:
      - Locations
      x-openapi-router-controller: openapi_server.controllers.locations_controller
    get:
      description: <p>Use this endpoint to get <b>Master Email Template Settings</b>.
        A valid business <b>location id</b> is required. Settings exist for showing
        or hiding panels and for changing color schemes. </p>
      operationId: setup_v1_locations_id_email_templates_master_get
      parameters:
      - description: "id of business location, defaults to primary business location"
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MasterEmailTemplateSettingsViewModel'
          description: Success
      summary: Get Master Template Settings
      tags:
      - Locations
      x-openapi-router-controller: openapi_server.controllers.locations_controller
    post:
      description: "<p>Use this endpoint to <b>Create Custom Master Email Template\
        \ Settings</b>. A valid business <b>location id</b> is required. Settings\
        \ exist for showing or hiding email panels and for changing color schemes.\
        \ Use the <i>GET ​/setup​/v1​/locations​/{id}​/email​/templates​/masterSettings</i>\
        \ endpoint to display the settings offered. Changes to the Master Template\
        \ Settings will be reflected in all business locations associated with this\
        \ company. </p>\r\n<p>The email template endpoints work a little differently\
        \ than most. There are no endpoints to update the templates, we use the post\
        \ endpoint to create a custom template instead. This endpoint creates a new\
        \ custom Master Template Settings file that will be used instead. If you delete\
        \ it, you are deleting the custom template settings you created and the original\
        \ default Master Template created by OnSched would be reactivated.</p>"
      operationId: setup_v1_locations_id_email_templates_master_post
      parameters:
      - description: "id of business location, defaults to primary business location"
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/MasterTemplateSettingsInputModel'
          application/json:
            schema:
              $ref: '#/components/schemas/MasterTemplateSettingsInputModel'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/MasterTemplateSettingsInputModel'
          text/json:
            schema:
              $ref: '#/components/schemas/MasterTemplateSettingsInputModel'
        description: Input model for master email template settings
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MasterEmailTemplateSettingsViewModel'
          description: Success
      summary: Create Master Template Settings
      tags:
      - Locations
      x-openapi-router-controller: openapi_server.controllers.locations_controller
      x-codegen-request-body-name: body
  /setup/v1/locations/{id}/email/templates/{templateName}:
    delete:
      description: "<p>Use this endpoint to <b>Delete</b> a Custom Email Template\
        \ that was previously created. A valid business <b>location id</b> and email\
        \ <b>templateName</b> are required. Deleting a custom email template will\
        \ revert the template back to its default originally created by OnSched. Changes\
        \ will be reflected in all business locations associated with this company.</p>\r\
        \n<p>The email template endpoints work a little differently than most. When\
        \ you delete you are deleting the custom template you created, and the original\
        \ default Email Template created by OnSched will be reactivated.</p>"
      operationId: setup_v1_locations_id_email_templates_template_name_delete
      parameters:
      - description: "id of business location, defaults to primary business location"
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Name of the email template
        explode: false
        in: path
        name: templateName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentResult'
          description: Success
      summary: Delete Custom Template
      tags:
      - Locations
      x-openapi-router-controller: openapi_server.controllers.locations_controller
    get:
      description: "<p>Use this endpoint to return the requested <b>Email Template</b>.\
        \ The template is from the primary business location. If it wasn't customized\
        \ the default template is returned. The response content is in html format.\
        \ A valid <b>emailTemplate name</b> is required. Find template names by using\
        \ the <i>GET ​/setup​/v1​/locations​/{id}​/email​/templates</i> endpoint.\
        \ Note: The master template cannot be accessed here. </p>"
      operationId: setup_v1_locations_id_email_templates_template_name_get
      parameters:
      - description: id of business location
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: name of the email template
        explode: false
        in: path
        name: templateName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentResult'
          description: Success
      summary: Get Email Template
      tags:
      - Locations
      x-openapi-router-controller: openapi_server.controllers.locations_controller
  /setup/v1/locations/{id}/google/service/account:
    delete:
      description: <p>Use this endpoint to <b>Delete</b> authorized access to all
        google calendar users in your organization. Upon deletion Google Calendars
        will no longer be synced for resources.</p>
      operationId: setup_v1_locations_id_google_service_account_delete
      parameters:
      - description: "id of business location, defaults to primary business location"
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Success
      summary: Delete Google Cal Access
      tags:
      - Locations
      x-openapi-router-controller: openapi_server.controllers.locations_controller
    post:
      description: "<p>Use this endpoint to <b>Authorize Access</b> to google calendar\
        \ users in your organization. You must create/have a Google Service account\
        \ as an admin of your GSuite, then save the credentials as a Json Key file.\
        \ This <b>Json Key</b> and a valid business <b>location id</b> are required.\
        \ </p>"
      operationId: setup_v1_locations_id_google_service_account_post
      parameters:
      - description: "id of business location, defaults to primary business location"
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/GoogleServiceAccountCreds'
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleServiceAccountCreds'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/GoogleServiceAccountCreds'
          text/json:
            schema:
              $ref: '#/components/schemas/GoogleServiceAccountCreds'
        description: Generated Json Key file from Google
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleServiceAccountCreds'
          description: Success
      summary: Create Google Cal Access
      tags:
      - Locations
      x-openapi-router-controller: openapi_server.controllers.locations_controller
      x-codegen-request-body-name: body
  /setup/v1/locations/{id}/holidays/{holidayId}/{closed}:
    put:
      description: "<p>Use this endpoint to <b>Update</b> Business Holidays as Opened\
        \ or Closed. A valid business <b>location id</b> is required. If not specified,\
        \ the business location defaults to the primary business location.</p>\r\n\
        <p>Holidays are automatically defined with the initial Post Location endpoint\
        \ and are based on country code. Find your location holiday codes by using\
        \ the: <i>GET /setup​/v1​/locations​/{id}</i> endpoint. Change your holidays\
        \ to open or closed by passing in the <b>holidayId</b> along with the <b>closed</b>\
        \ boolean value to change the status of a specific holiday. Pass in an <b>asterisk\
        \ *</b> for the holidayId then all business holidays will be set as defined.</p>"
      operationId: setup_v1_locations_id_holidays_holiday_id_closed_put
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: holidayId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: closed
        required: true
        schema:
          type: boolean
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationViewModel'
          description: Success
      summary: Update Location Holidays
      tags:
      - Locations
      x-openapi-router-controller: openapi_server.controllers.locations_controller
  /setup/v1/locations/{id}/recover:
    put:
[...]
