openapi: 3.0.3
info:
  contact:
    name: sonallux
    url: https://github.com/sonallux/spotify-web-api
  description: |
    You can use Spotify's Web API to discover music and podcasts, manage your Spotify library, control audio playback, and much more. Browse our available Web API endpoints using the sidebar at left, or via the navigation bar on top of this page on smaller screens.

    In order to make successful Web API requests your app will need a valid access token. One can be obtained through <a href="https://developer.spotify.com/documentation/general/guides/authorization-guide/">OAuth 2.0</a>.

    The base URI for all Web API requests is `https://api.spotify.com/v1`.

    Need help? See our <a href="https://developer.spotify.com/documentation/web-api/guides/">Web API guides</a> for more information, or visit the <a href="https://community.spotify.com/t5/Spotify-for-Developers/bd-p/Spotify_Developer">Spotify for Developers community forum</a> to ask questions and connect with other developers.
  termsOfService: https://developer.spotify.com/terms/
  title: Spotify Web API with fixes and improvements from sonallux
  version: 2023.2.27
  x-apisguru-categories:
  - media
  x-logo:
    url: https://logo-core.clearbit.com/spotify.com
  x-origin:
  - format: openapi
    url: https://raw.githubusercontent.com/sonallux/spotify-web-api/main/fixed-spotify-open-api.yml
    version: "3.0"
  x-providerName: spotify.com
  x-serviceName: sonallux
  x-unofficialSpec: true
servers:
- url: https://api.spotify.com/v1
paths:
  /albums:
    get:
      description: |
        Get Spotify catalog information for multiple albums identified by their Spotify IDs.
      operationId: get_multiple_albums
      parameters:
      - explode: true
        in: query
        name: ids
        required: true
        schema:
          description: |
            A comma-separated list of the [Spotify IDs](/documentation/web-api/concepts/spotify-uris-ids) for the albums. Maximum: 20 IDs.
          example: "382ObEPsp2rxGrnsizN5TX,1A2GTWGtFfWp7KSQTwWOyo,2noRn2Aes5aoNVsU6iWThc"
          title: Spotify Album IDs
          type: string
        style: form
      - explode: true
        in: query
        name: market
        required: false
        schema:
          description: |
            An [ISO 3166-1 alpha-2 country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).
              If a country code is specified, only content that is available in that market will be returned.<br/>
              If a valid user access token is specified in the request header, the country associated with
              the user account will take priority over this parameter.<br/>
              _**Note**: If neither market or user country are provided, the content is considered unavailable for the client._<br/>
              Users can view the country that is associated with their account in the [account settings](https://www.spotify.com/se/account/overview/).
          example: ES
          title: Market
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_albums_200_response'
          description: A set of albums
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_albums_401_response'
          description: |
            Bad or expired token. This can happen if the user revoked a token or
            the access token has expired. You should re-authenticate the user.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_albums_401_response'
          description: |
            Bad OAuth request (wrong consumer key, bad nonce, expired
            timestamp...). Unfortunately, re-authenticating the user won't help here.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_albums_401_response'
          description: |
            The app has exceeded its rate limits.
      security:
      - oauth_2_0: []
      summary: |
        Get Several Albums
      tags:
      - Albums
      x-spotify-docs-console-url: /console/get-several-albums/
      x-spotify-docs-endpoint-name: Get Multiple Albums
      x-openapi-router-controller: openapi_server.controllers.albums_controller
    x-spotify-docs-category: Albums
    x-spotify-docs-display-name: several-albums
  /albums/{id}:
    get:
      description: |
        Get Spotify catalog information for a single album.
      operationId: get_an_album
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: |
            The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids) of the album.
          example: 4aawyAB9vmqN3uQ7FjRGTy
          title: Spotify Album ID
          type: string
        style: simple
      - explode: true
        in: query
        name: market
        required: false
        schema:
          description: |
            An [ISO 3166-1 alpha-2 country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).
              If a country code is specified, only content that is available in that market will be returned.<br/>
              If a valid user access token is specified in the request header, the country associated with
              the user account will take priority over this parameter.<br/>
              _**Note**: If neither market or user country are provided, the content is considered unavailable for the client._<br/>
              Users can view the country that is associated with their account in the [account settings](https://www.spotify.com/se/account/overview/).
          example: ES
          title: Market
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlbumObject'
          description: An album
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_albums_401_response'
          description: |
            Bad or expired token. This can happen if the user revoked a token or
            the access token has expired. You should re-authenticate the user.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_albums_401_response'
          description: |
            Bad OAuth request (wrong consumer key, bad nonce, expired
            timestamp...). Unfortunately, re-authenticating the user won't help here.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_albums_401_response'
          description: |
            The app has exceeded its rate limits.
      security:
      - oauth_2_0: []
      summary: |
        Get Album
      tags:
      - Albums
      x-spotify-docs-console-url: /console/get-album/?id=0sNOF9WDwhWunNAHPD3Baj
      x-spotify-docs-endpoint-name: Get an Album
      x-openapi-router-controller: openapi_server.controllers.albums_controller
    x-spotify-docs-category: Albums
    x-spotify-docs-display-name: album
  /albums/{id}/tracks:
    get:
      description: |
        Get Spotify catalog information about an album’s tracks.
        Optional parameters can be used to limit the number of tracks returned.
      operationId: get_an_albums_tracks
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: |
            The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids) of the album.
          example: 4aawyAB9vmqN3uQ7FjRGTy
          title: Spotify Album ID
          type: string
        style: simple
      - explode: true
        in: query
        name: market
        required: false
        schema:
          description: |
            An [ISO 3166-1 alpha-2 country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).
              If a country code is specified, only content that is available in that market will be returned.<br/>
              If a valid user access token is specified in the request header, the country associated with
              the user account will take priority over this parameter.<br/>
              _**Note**: If neither market or user country are provided, the content is considered unavailable for the client._<br/>
              Users can view the country that is associated with their account in the [account settings](https://www.spotify.com/se/account/overview/).
          example: ES
          title: Market
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          description: |
            The maximum number of items to return. Default: 20. Minimum: 1. Maximum: 50.
          example: 10
          maximum: 50
          minimum: 1
          title: Limit
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          description: |
            The index of the first item to return. Default: 0 (the first item). Use with limit to get the next set of items.
          example: 5
          title: Offset
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagingSimplifiedTrackObject'
          description: Pages of tracks
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_albums_401_response'
          description: |
            Bad or expired token. This can happen if the user revoked a token or
            the access token has expired. You should re-authenticate the user.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_albums_401_response'
          description: |
            Bad OAuth request (wrong consumer key, bad nonce, expired
            timestamp...). Unfortunately, re-authenticating the user won't help here.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_albums_401_response'
          description: |
            The app has exceeded its rate limits.
      security:
      - oauth_2_0: []
      summary: |
        Get Album Tracks
      tags:
      - Albums
      - Tracks
      x-spotify-docs-console-url: /console/get-album-tracks/
      x-spotify-docs-endpoint-name: Get an Album's Tracks
      x-openapi-router-controller: openapi_server.controllers.albums_controller
    x-spotify-docs-category: Albums
    x-spotify-docs-display-name: album-tracks
  /artists:
    get:
      description: |
        Get Spotify catalog information for several artists based on their Spotify IDs.
      operationId: get_multiple_artists
      parameters:
      - explode: true
        in: query
        name: ids
        required: true
        schema:
          description: |
            A comma-separated list of the [Spotify IDs](/documentation/web-api/concepts/spotify-uris-ids) for the artists. Maximum: 50 IDs.
          example: "2CIMQHirSU0MQqyYHq0eOx,57dN52uHvrHOxijzpIgu3E,1vCWHaC5f2uS3yhpwWbIA6"
          title: Spotify Artist IDs
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_artists_200_response'
          description: A set of artists
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_albums_401_response'
          description: |
            Bad or expired token. This can happen if the user revoked a token or
            the access token has expired. You should re-authenticate the user.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_albums_401_response'
          description: |
            Bad OAuth request (wrong consumer key, bad nonce, expired
            timestamp...). Unfortunately, re-authenticating the user won't help here.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_albums_401_response'
          description: |
            The app has exceeded its rate limits.
      security:
      - oauth_2_0: []
      summary: |
        Get Several Artists
      tags:
      - Artists
      x-spotify-docs-console-url: "/console/get-several-artists/?ids=0oSGxfWSnnOXhD2fKuz2Gy,3dBVyJ7JuOMt4GE9607Qin"
      x-spotify-docs-endpoint-name: Get Multiple Artists
      x-openapi-router-controller: openapi_server.controllers.artists_controller
    x-spotify-docs-category: Artists
    x-spotify-docs-display-name: several-artists
  /artists/{id}:
    get:
      description: |
        Get Spotify catalog information for a single artist identified by their unique Spotify ID.
      operationId: get_an_artist
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: |
            The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids) of the artist.
          example: 0TnOYISbd1XYRBk9myaseg
          title: Spotify Artist ID
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtistObject'
          description: An artist
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_albums_401_response'
          description: |
            Bad or expired token. This can happen if the user revoked a token or
            the access token has expired. You should re-authenticate the user.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_albums_401_response'
          description: |
            Bad OAuth request (wrong consumer key, bad nonce, expired
            timestamp...). Unfortunately, re-authenticating the user won't help here.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_albums_401_response'
          description: |
            The app has exceeded its rate limits.
      security:
      - oauth_2_0: []
      summary: |
        Get Artist
      tags:
      - Artists
      x-spotify-docs-console-url: /console/get-artist/?id=0OdUWJ0sBjDrqHygGUXeCF
      x-spotify-docs-endpoint-name: Get an Artist
      x-openapi-router-controller: openapi_server.controllers.artists_controller
    x-spotify-docs-category: Artists
    x-spotify-docs-display-name: artist
  /artists/{id}/albums:
    get:
      description: |
        Get Spotify catalog information about an artist's albums.
      operationId: get_an_artists_albums
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: |
            The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids) of the artist.
          example: 0TnOYISbd1XYRBk9myaseg
          title: Spotify Artist ID
          type: string
        style: simple
      - explode: true
        in: query
        name: include_groups
        required: false
        schema:
          description: |
            A comma-separated list of keywords that will be used to filter the response. If not supplied, all album types will be returned. <br/>
            Valid values are:<br/>- `album`<br/>- `single`<br/>- `appears_on`<br/>- `compilation`<br/>For example: `include_groups=album,single`.
          example: "single,appears_on"
          title: "Groups to include (single, album, appears_on, compilation)"
          type: string
        style: form
      - explode: true
        in: query
        name: market
        required: false
        schema:
          description: |
            An [ISO 3166-1 alpha-2 country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).
              If a country code is specified, only content that is available in that market will be returned.<br/>
              If a valid user access token is specified in the request header, the country associated with
              the user account will take priority over this parameter.<br/>
              _**Note**: If neither market or user country are provided, the content is considered unavailable for the client._<br/>
              Users can view the country that is associated with their account in the [account settings](https://www.spotify.com/se/account/overview/).
          example: ES
          title: Market
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          description: |
            The maximum number of items to return. Default: 20. Minimum: 1. Maximum: 50.
          example: 10
          maximum: 50
          minimum: 1
          title: Limit
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          description: |
            The index of the first item to return. Default: 0 (the first item). Use with limit to get the next set of items.
          example: 5
          title: Offset
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagingSimplifiedAlbumObject'
          description: Pages of albums
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_albums_401_response'
          description: |
            Bad or expired token. This can happen if the user revoked a token or
            the access token has expired. You should re-authenticate the user.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_albums_401_response'
          description: |
            Bad OAuth request (wrong consumer key, bad nonce, expired
            timestamp...). Unfortunately, re-authenticating the user won't help here.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_albums_401_response'
          description: |
            The app has exceeded its rate limits.
      security:
      - oauth_2_0: []
      summary: |
        Get Artist's Albums
      tags:
      - Artists
      - Albums
      x-spotify-docs-console-url: /console/get-artist-albums/?album_type=single&amp;limit=2&amp;market=ES&amp;id=1vCWHaC5f2uS3yhpwWbIA6
      x-spotify-docs-endpoint-name: Get an Artist's Albums
      x-openapi-router-controller: openapi_server.controllers.artists_controller
    x-spotify-docs-category: Artists
    x-spotify-docs-display-name: artist-albums
  /artists/{id}/related-artists:
    get:
      description: |
        Get Spotify catalog information about artists similar to a given artist. Similarity is based on analysis of the Spotify community's [listening history](http://news.spotify.com/se/2010/02/03/related-artists/).
      operationId: get_an_artists_related_artists
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: |
            The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids) of the artist.
          example: 0TnOYISbd1XYRBk9myaseg
          title: Spotify Artist ID
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_artists_200_response'
          description: A set of artists
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_albums_401_response'
          description: |
            Bad or expired token. This can happen if the user revoked a token or
            the access token has expired. You should re-authenticate the user.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_albums_401_response'
          description: |
            Bad OAuth request (wrong consumer key, bad nonce, expired
            timestamp...). Unfortunately, re-authenticating the user won't help here.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_albums_401_response'
          description: |
            The app has exceeded its rate limits.
      security:
      - oauth_2_0: []
      summary: |
        Get Artist's Related Artists
      tags:
      - Artists
      x-spotify-docs-console-url: /console/get-artist-related-artists/?id=43ZHCT0cAZBISjO8DG9PnE
      x-spotify-docs-endpoint-name: Get an Artist's Related Artists
      x-openapi-router-controller: openapi_server.controllers.artists_controller
    x-spotify-docs-category: Artists
    x-spotify-docs-display-name: artist-related-artists
  /artists/{id}/top-tracks:
    get:
      description: |
        Get Spotify catalog information about an artist's top tracks by country.
      operationId: get_an_artists_top_tracks
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: |
            The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids) of the artist.
          example: 0TnOYISbd1XYRBk9myaseg
          title: Spotify Artist ID
          type: string
        style: simple
      - explode: true
        in: query
        name: market
        required: false
        schema:
          description: |
            An [ISO 3166-1 alpha-2 country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).
              If a country code is specified, only content that is available in that market will be returned.<br/>
              If a valid user access token is specified in the request header, the country associated with
              the user account will take priority over this parameter.<br/>
              _**Note**: If neither market or user country are provided, the content is considered unavailable for the client._<br/>
              Users can view the country that is associated with their account in the [account settings](https://www.spotify.com/se/account/overview/).
          example: ES
          title: Market
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_an_artists_top_tracks_200_response'
          description: A set of tracks
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_albums_401_response'
          description: |
            Bad or expired token. This can happen if the user revoked a token or
            the access token has expired. You should re-authenticate the user.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_albums_401_response'
          description: |
            Bad OAuth request (wrong consumer key, bad nonce, expired
            timestamp...). Unfortunately, re-authenticating the user won't help here.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_albums_401_response'
          description: |
            The app has exceeded its rate limits.
      security:
      - oauth_2_0: []
      summary: |
        Get Artist's Top Tracks
      tags:
      - Artists
      - Tracks
      x-spotify-docs-console-url: /console/get-artist-top-tracks/?country=SE&amp;id=43ZHCT0cAZBISjO8DG9PnE
      x-spotify-docs-endpoint-name: Get an Artist's Top Tracks
      x-openapi-router-controller: openapi_server.controllers.artists_controller
    x-spotify-docs-category: Artists
    x-spotify-docs-display-name: artist-top-tracks
  /audio-analysis/{id}:
    get:
      description: |
        Get a low-level audio analysis for a track in the Spotify catalog. The audio analysis describes the track’s structure and musical content, including rhythm, pitch, and timbre.
      operationId: get_audio_analysis
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: |
            The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids)
            for the track.
          example: 11dFghVXANMlKmJXsNCbNl
          title: Spotify Track ID
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudioAnalysisObject'
          description: Audio analysis for one track
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_albums_401_response'
          description: |
            Bad or expired token. This can happen if the user revoked a token or
            the access token has expired. You should re-authenticate the user.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_albums_401_response'
          description: |
            Bad OAuth request (wrong consumer key, bad nonce, expired
            timestamp...). Unfortunately, re-authenticating the user won't help here.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_albums_401_response'
          description: |
            The app has exceeded its rate limits.
      security:
      - oauth_2_0: []
      summary: |
        Get Track's Audio Analysis
      tags:
      - Tracks
      x-spotify-docs-console-url: /console/get-audio-analysis-track/?id=06AKEBrKUckW0KREUWRnvT
      x-spotify-docs-endpoint-name: Get Audio Analysis for a Track
      x-openapi-router-controller: openapi_server.controllers.tracks_controller
    x-spotify-docs-category: Tracks
    x-spotify-docs-display-name: audio-analysis-track
  /audio-features:
    get:
      description: |
        Get audio features for multiple tracks based on their Spotify IDs.
      operationId: get_several_audio_features
      parameters:
      - explode: true
        in: query
        name: ids
        required: true
        schema:
          description: |
            A comma-separated list of the [Spotify IDs](/documentation/web-api/concepts/spotify-uris-ids)
            for the tracks. Maximum: 100 IDs.
          example: "7ouMYWpwJ422jRcDASZB7P,4VqPOruhp5EdPBeR92t6lQ,2takcwOaAZWiXQijPHIx7B"
          title: Spotify Track IDs
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_several_audio_features_200_response'
          description: A set of audio features
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_albums_401_response'
          description: |
            Bad or expired token. This can happen if the user revoked a token or
            the access token has expired. You should re-authenticate the user.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_albums_401_response'
          description: |
            Bad OAuth request (wrong consumer key, bad nonce, expired
            timestamp...). Unfortunately, re-authenticating the user won't help here.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_albums_401_response'
          description: |
            The app has exceeded its rate limits.
      security:
      - oauth_2_0: []
      summary: |
        Get Tracks' Audio Features
      tags:
      - Tracks
      x-spotify-docs-console-url: "/console/get-audio-features-several-tracks/?ids=4JpKVNYnVcJ8tuMKjAj50A,2NRANZE9UCmPAS5XVbXL40,24JygzOLM0EmRQeGtFcIcG"
      x-spotify-docs-endpoint-name: Get Audio Features for Several Tracks
      x-openapi-router-controller: openapi_server.controllers.tracks_controller
    x-spotify-docs-category: Tracks
    x-spotify-docs-display-name: audio-features-several-tracks
  /audio-features/{id}:
    get:
      description: |
        Get audio feature information for a single track identified by its unique
        Spotify ID.
      operationId: get_audio_features
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: |
            The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids) for the track.
          example: 11dFghVXANMlKmJXsNCbNl
          title: Spotify Track ID
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudioFeaturesObject'
          description: Audio features for one track
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_albums_401_response'
          description: |
            Bad or expired token. This can happen if the user revoked a token or
            the access token has expired. You should re-authenticate the user.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_albums_401_response'
          description: |
            Bad OAuth request (wrong consumer key, bad nonce, expired
            timestamp...). Unfortunately, re-authenticating the user won't help here.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_albums_401_response'
          description: |
            The app has exceeded its rate limits.
      security:
      - oauth_2_0: []
      summary: |
        Get Track's Audio Features
      tags:
      - Tracks
      x-spotify-docs-console-url: /console/get-audio-features-track/?id=06AKEBrKUckW0KREUWRnvT
      x-spotify-docs-endpoint-name: Get Audio Features for a Track
      x-openapi-router-controller: openapi_server.controllers.tracks_controller
    x-spotify-docs-category: Tracks
    x-spotify-docs-display-name: audio-features-track
  /audiobooks:
    get:
      description: |
        Get Spotify catalog information for several audiobooks identified by their Spotify IDs.<br />
        **Note: Audiobooks are only available for the US, UK, Ireland, New Zealand and Australia markets.**
      operationId: get_multiple_audiobooks
      parameters:
      - explode: true
        in: query
        name: ids
        required: true
        schema:
          description: |
            A comma-separated list of the [Spotify IDs](/documentation/web-api/concepts/spotify-uris-ids). For example: `ids=18yVqkdbdRvS24c0Ilj2ci,1HGw3J3NxZO1TP1BTtVhpZ`. Maximum: 50 IDs.
          example: "18yVqkdbdRvS24c0Ilj2ci,1HGw3J3NxZO1TP1BTtVhpZ,7iHfbu1YPACw6oZPAFJtqe"
          title: Spotify Audiobook IDs
          type: string
        style: form
      - explode: true
        in: query
        name: market
        required: false
        schema:
          description: |
            An [ISO 3166-1 alpha-2 country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).
              If a country code is specified, only content that is available in that market will be returned.<br/>
              If a valid user access token is specified in the request header, the country associated with
              the user account will take priority over this parameter.<br/>
              _**Note**: If neither market or user country are provided, the content is considered unavailable for the client._<br/>
              Users can view the country that is associated with their account in the [account settings](https://www.spotify.com/se/account/overview/).
          example: ES
          title: Market
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_audiobooks_200_response'
          description: A set of audiobooks
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_albums_401_response'
          description: |
            Bad or expired token. This can happen if the user revoked a token or
            the access token has expired. You should re-authenticate the user.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_albums_401_response'
          description: |
            Bad OAuth request (wrong consumer key, bad nonce, expired
            timestamp...). Unfortunately, re-authenticating the user won't help here.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_albums_401_response'
          description: |
            The app has exceeded its rate limits.
      security:
      - oauth_2_0: []
      summary: |
        Get Several Audiobooks
      tags:
      - Audiobooks
      x-spotify-docs-console-url: "/console/get-several-audiobooks/?ids=5thw29eqjomhIDMY1XKsLk,2IEBhnu61ieYGFRPEJIO40"
      x-spotify-docs-endpoint-name: Get Several Audiobooks
      x-openapi-router-controller: openapi_server.controllers.audiobooks_controller
    x-spotify-docs-category: Audiobooks
    x-spotify-docs-display-name: several-audiobooks
  /audiobooks/{id}:
    get:
      description: |
        Get Spotify catalog information for a single audiobook.<br />
        **Note: Audiobooks are only available for the US, UK, Ireland, New Zealand and Australia markets.**
      operationId: get_an_audiobook
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: |
            The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids)
            for the audiobook.
          example: 7iHfbu1YPACw6oZPAFJtqe
          title: Spotify Audiobook ID
          type: string
        style: simple
      - explode: true
        in: query
        name: market
        required: false
        schema:
          description: |
            An [ISO 3166-1 alpha-2 country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).
              If a country code is specified, only content that is available in that market will be returned.<br/>
              If a valid user access token is specified in the request header, the country associated with
              the user account will take priority over this parameter.<br/>
              _**Note**: If neither market or user country are provided, the content is considered unavailable for the client._<br/>
              Users can view the country that is associated with their account in the [account settings](https://www.spotify.com/se/account/overview/).
          example: ES
          title: Market
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudiobookObject'
          description: An Audiobook
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_albums_401_response'
          description: |
            The request contains malformed data in path, query parameters, or body.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_albums_401_response'
          description: |
            Bad or expired token. This can happen if the user revoked a token or
            the access token has expired. You should re-authenticate the user.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_albums_401_response'
          description: |
            Bad OAuth request (wrong consumer key, bad nonce, expired
            timestamp...). Unfortunately, re-authenticating the user won't help here.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_albums_401_response'
          description: |
            The requested resource cannot be found.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_albums_401_response'
          description: |
            The app has exceeded its rate limits.
      security:
      - oauth_2_0: []
      summary: |
        Get an Audiobook
      tags:
      - Audiobooks
      x-spotify-docs-console-url: /console/get-audiobook/?id=5thw29eqjomhIDMY1XKsLk
      x-spotify-docs-endpoint-name: Get an Audiobook
      x-openapi-router-controller: openapi_server.controllers.audiobooks_controller
    x-spotify-docs-category: Audiobooks
    x-spotify-docs-display-name: audiobook
  /audiobooks/{id}/chapters:
    get:
      description: |
        Get Spotify catalog information about an audiobook's chapters.<br />
        **Note: Audiobooks are only available for the US, UK, Ireland, New Zealand and Australia markets.**
      operationId: get_audiobook_chapters
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: |
            The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids)
            for the audiobook.
          example: 7iHfbu1YPACw6oZPAFJtqe
          title: Spotify Audiobook ID
          type: string
        style: simple
      - explode: true
        in: query
        name: market
        required: false
        schema:
          description: |
            An [ISO 3166-1 alpha-2 country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).
              If a country code is specified, only content that is available in that market will be returned.<br/>
              If a valid user access token is specified in the request header, the country associated with
              the user account will take priority over this parameter.<br/>
              _**Note**: If neither market or user country are provided, the content is considered unavailable for the client._<br/>
              Users can view the country that is associated with their account in the [account settings](https://www.spotify.com/se/account/overview/).
          example: ES
          title: Market
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          description: |
            The maximum number of items to return. Default: 20. Minimum: 1. Maximum: 50.
          example: 10
          maximum: 50
          minimum: 1
          title: Limit
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          description: |
            The index of the first item to return. Default: 0 (the first item). Use with limit to get the next set of items.
          example: 5
          title: Offset
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagingSimplifiedChapterObject'
          description: Pages of chapters
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_albums_401_response'
          description: |
            Bad or expired token. This can happen if the user revoked a token or
            the access token has expired. You should re-authenticate the user.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_albums_401_response'
          description: |
            Bad OAuth request (wrong consumer key, bad nonce, expired
            timestamp...). Unfortunately, re-authenticating the user won't help here.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_albums_401_response'
          description: |
            The app has exceeded its rate limits.
      security:
      - oauth_2_0: []
      summary: |
        Get Audiobook Chapters
      tags:
      - Audiobooks
      - Chapters
      x-spotify-docs-console-url: /console/get-audiobook-chapters/?id=5thw29eqjomhIDMY1XKsLk
      x-spotify-docs-endpoint-name: Get an Audiobook's Chapters
      x-openapi-router-controller: openapi_server.controllers.audiobooks_controller
    x-spotify-docs-category: Audiobooks
    x-spotify-docs-display-name: audiobook-chapters
  /browse/categories:
    get:
      description: |
        Get a list of categories used to tag items in Spotify (on, for example, the Spotify player’s “Browse” tab).
      operationId: get_categories
      parameters:
      - explode: true
        in: query
        name: country
        required: false
        schema:
          description: |
            A country: an [ISO 3166-1 alpha-2 country code](http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2). Provide this parameter if you want to narrow the list of returned categories to those relevant to a particular country. If omitted, the returned items will be globally relevant.
          example: SE
          title: Country
          type: string
        style: form
      - explode: true
        in: query
        name: locale
        required: false
        schema:
          description: |
            The desired language, consisting of an [ISO 639-1](http://en.wikipedia.org/wiki/ISO_639-1) language code and an [ISO 3166-1 alpha-2 country code](http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2), joined by an underscore. For example: `es_MX`, meaning "Spanish (Mexico)". Provide this parameter if you want the category metadata returned in a particular language. <br/>
            _**Note**: if `locale` is not supplied, or if the specified language is not available, all strings will be returned in the Spotify default language (American English). The `locale` parameter, combined with the `country` parameter, may give odd results if not carefully matched. For example `country=SE&locale=de_DE` will return a list of categories relevant to Sweden but as German language strings._
          example: sv_SE
          title: Locale
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          description: |
            The maximum number of items to return. Default: 20. Minimum: 1. Maximum: 50.
          example: 10
          maximum: 50
          minimum: 1
          title: Limit
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          description: |
            The index of the first item to return. Default: 0 (the first item). Use with limit to get the next set of items.
          example: 5
          title: Offset
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_categories_200_response'
          description: A paged set of categories
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_albums_401_response'
          description: |
            Bad or expired token. This can happen if the user revoked a token or
            the access token has expired. You should re-authenticate the user.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_albums_401_response'
          description: |
            Bad OAuth request (wrong consumer key, bad nonce, expired
            timestamp...). Unfortunately, re-authenticating the user won't help here.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_albums_401_response'
          description: |
            The app has exceeded its rate limits.
      security:
      - oauth_2_0: []
      summary: |
        Get Several Browse Categories
      tags:
      - Categories
      x-spotify-docs-console-url: /console/get-browse-categories/
      x-spotify-docs-endpoint-name: Get All Categories
      x-openapi-router-controller: openapi_server.controllers.categories_controller
    x-spotify-docs-category: Browse
    x-spotify-docs-display-name: browse-categories
  /browse/categories/{category_id}:
    get:
      description: |
        Get a single category used to tag items in Spotify (on, for example, the Spotify player’s “Browse” tab).
      operationId: get_a_category
      parameters:
      - explode: false
        in: path
        name: category_id
        required: true
        schema:
          description: |
            The [Spotify category ID](/documentation/web-api/concepts/spotify-uris-ids) for the category.
          example: dinner
          title: Category ID
          type: string
        style: simple
      - explode: true
        in: query
        name: country
        required: false
        schema:
          description: |
            A country: an [ISO 3166-1 alpha-2 country code](http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2). Provide this parameter to ensure that the category exists for a particular country.
          example: SE
          title: Country
          type: string
        style: form
      - explode: true
        in: query
        name: locale
        required: false
        schema:
          description: |
            The desired language, consisting of an [ISO 639-1](http://en.wikipedia.org/wiki/ISO_639-1) language code and an [ISO 3166-1 alpha-2 country code](http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2), joined by an underscore. For example: `es_MX`, meaning &quot;Spanish (Mexico)&quot;. Provide this parameter if you want the category strings returned in a particular language.<br/> _**Note**: if `locale` is not supplied, or if the specified language is not available, the category strings returned will be in the Spotify default language (American English)._
          example: sv_SE
          title: Locale
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryObject'
          description: A category
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_albums_401_response'
          description: |
            Bad or expired token. This can happen if the user revoked a token or
            the access token has expired. You should re-authenticate the user.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_albums_401_response'
          description: |
            Bad OAuth request (wrong consumer key, bad nonce, expired
            timestamp...). Unfortunately, re-authenticating the user won't help here.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_albums_401_response'
          description: |
            The app has exceeded its rate limits.
      security:
      - oauth_2_0: []
      summary: |
        Get Single Browse Category
      tags:
      - Categories
      x-spotify-docs-console-url: /console/get-browse-category/
      x-spotify-docs-endpoint-name: Get a Category
      x-openapi-router-controller: openapi_server.controllers.categories_controller
    x-spotify-docs-category: Browse
    x-spotify-docs-display-name: browse-category
  /browse/categories/{category_id}/playlists:
    get:
      description: |
        Get a list of Spotify playlists tagged with a particular category.
      operationId: get_a_categories_playlists
      parameters:
      - explode: false
        in: path
        name: category_id
        required: true
        schema:
          description: |
            The [Spotify category ID](/documentation/web-api/concepts/spotify-uris-ids) for the category.
          example: dinner
          title: Category ID
          type: string
        style: simple
      - explode: true
        in: query
        name: country
        required: false
        schema:
          description: |
            A country: an [ISO 3166-1 alpha-2 country code](http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2). Provide this parameter to ensure that the category exists for a particular country.
          example: SE
          title: Country
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          description: |
            The maximum number of items to return. Default: 20. Minimum: 1. Maximum: 50.
          example: 10
          maximum: 50
          minimum: 1
          title: Limit
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          description: |
            The index of the first item to return. Default: 0 (the first item). Use with limit to get the next set of items.
          example: 5
          title: Offset
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagingFeaturedPlaylistObject'
          description: A paged set of playlists
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_albums_401_response'
          description: |
            Bad or expired token. This can happen if the user revoked a token or
            the access token has expired. You should re-authenticate the user.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_albums_401_response'
          description: |
            Bad OAuth request (wrong consumer key, bad nonce, expired
            timestamp...). Unfortunately, re-authenticating the user won't help here.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_albums_401_response'
          description: |
            The app has exceeded its rate limits.
      security:
      - oauth_2_0: []
      summary: |
        Get Category's Playlists
      tags:
      - Playlists
      - Categories
      x-spotify-docs-console-url: /console/get-category-playlists/?country=BR&amp;category_id=party&amp;limit=2
      x-spotify-docs-endpoint-name: Get a Category's Playlists
      x-openapi-router-controller: openapi_server.controllers.playlists_controller
    x-spotify-docs-category: Browse
    x-spotify-docs-display-name: category-playlists
  /browse/featured-playlists:
    get:
      description: |
        Get a list of Spotify featured playlists (shown, for example, on a Spotify player's 'Browse' tab).
      operationId: get_featured_playlists
      parameters:
      - explode: true
        in: query
        name: country
        required: false
        schema:
          description: |
            A country: an [ISO 3166-1 alpha-2 country code](http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2). Provide this parameter if you want the list of returned items to be relevant to a particular country. If omitted, the returned items will be relevant to all countries.
          example: SE
          title: Country
          type: string
        style: form
      - explode: true
        in: query
        name: locale
        required: false
        schema:
          description: |
            The desired language, consisting of a lowercase [ISO 639-1 language code](http://en.wikipedia.org/wiki/ISO_639-1) and an uppercase [ISO 3166-1 alpha-2 country code](http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2), joined by an underscore. For example: `es_MX`, meaning "Spanish (Mexico)". Provide this parameter if you want the results returned in a particular language (where available). <br/>
            _**Note**: if `locale` is not supplied, or if the specified language is not available, all strings will be returned in the Spotify default language (American English). The `locale` parameter, combined with the `country` parameter, may give odd results if not carefully matched. For example `country=SE&locale=de_DE` will return a list of categories relevant to Sweden but as German language strings._
          example: sv_SE
          title: Locale
          type: string
        style: form
      - explode: true
        in: query
        name: timestamp
        required: false
        schema:
          description: |
            A timestamp in [ISO 8601 format](http://en.wikipedia.org/wiki/ISO_8601): `yyyy-MM-ddTHH:mm:ss`. Use this parameter to specify the user's local time to get results tailored for that specific date and time in the day. If not provided, the response defaults to the current UTC time. Example: "2014-10-23T09:00:00" for a user whose local time is 9AM. If there were no featured playlists (or there is no data) at the specified time, the response will revert to the current UTC time.
          example: 2014-10-23T09:00:00
          title: Timestamp
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          description: |
            The maximum number of items to return. Default: 20. Minimum: 1. Maximum: 50.
          example: 10
          maximum: 50
          minimum: 1
          title: Limit
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          description: |
            The index of the first item to return. Default: 0 (the first item). Use with limit to get the next set of items.
          example: 5
          title: Offset
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagingFeaturedPlaylistObject'
          description: A paged set of playlists
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_albums_401_response'
          description: |
            Bad or expired token. This can happen if the user revoked a token or
            the access token has expired. You should re-authenticate the user.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_albums_401_response'
          description: |
            Bad OAuth request (wrong consumer key, bad nonce, expired
            timestamp...). Unfortunately, re-authenticating the user won't help here.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_albums_401_response'
          description: |
            The app has exceeded its rate limits.
      security:
      - oauth_2_0: []
      summary: |
        Get Featured Playlists
      tags:
      - Playlists
      x-spotify-docs-console-url: /console/get-featured-playlists/?country=SE&amp;limit=2
      x-spotify-docs-endpoint-name: Get All Featured Playlists
      x-openapi-router-controller: openapi_server.controllers.playlists_controller
    x-spotify-docs-category: Browse
    x-spotify-docs-display-name: featured-playlists
  /browse/new-releases:
    get:
      description: |
        Get a list of new album releases featured in Spotify (shown, for example, on a Spotify player’s “Browse” tab).
      operationId: get_new_releases
      parameters:
      - explode: true
        in: query
        name: country
        required: false
        schema:
          description: |
            A country: an [ISO 3166-1 alpha-2 country code](http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2). Provide this parameter if you want the list of returned items to be relevant to a particular country. If omitted, the returned items will be relevant to all countries.
          example: SE
          title: Country
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          description: |
            The maximum number of items to return. Default: 20. Minimum: 1. Maximum: 50.
          example: 10
          maximum: 50
          minimum: 1
          title: Limit
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          description: |
            The index of the first item to return. Default: 0 (the first item). Use with limit to get the next set of items.
          example: 5
          title: Offset
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_new_releases_200_response'
          description: A paged set of albums
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_albums_401_response'
          description: |
            Bad or expired token. This can happen if the user revoked a token or
            the access token has expired. You should re-authenticate the user.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_albums_401_response'
          description: |
            Bad OAuth request (wrong consumer key, bad nonce, expired
            timestamp...). Unfortunately, re-authenticating the user won't help here.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_albums_401_response'
          description: |
            The app has exceeded its rate limits.
      security:
      - oauth_2_0: []
      summary: |
        Get New Releases
      tags:
      - Albums
      x-spotify-docs-console-url: /console/get-new-releases/?country=SE
      x-spotify-docs-endpoint-name: Get All New Releases
      x-openapi-router-controller: openapi_server.controllers.albums_controller
    x-spotify-docs-category: Browse
    x-spotify-docs-display-name: new-releases
  /chapters:
    get:
      description: |
        Get Spotify catalog information for several chapters identified by their Spotify IDs.<br />
        **Note: Chapters are only available for the US, UK, Ireland, New Zealand and Australia markets.**
      operationId: get_several_chapters
      parameters:
      - explode: true
        in: query
        name: ids
        required: true
        schema:
          description: |
            A comma-separated list of the [Spotify IDs](/documentation/web-api/concepts/spotify-uris-ids). For example: `ids=0IsXVP0JmcB2adSE338GkK,3ZXb8FKZGU0EHALYX6uCzU`. Maximum: 50 IDs.
          example: "0IsXVP0JmcB2adSE338GkK,3ZXb8FKZGU0EHALYX6uCzU,0D5wENdkdwbqlrHoaJ9g29"
          title: Spotify Chapter IDs
          type: string
        style: form
      - explode: true
        in: query
        name: market
        required: false
        schema:
          description: |
            An [ISO 3166-1 alpha-2 country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).
              If a country code is specified, only content that is available in that market will be returned.<br/>
              If a valid user access token is specified in the request header, the country associated with
              the user account will take priority over this parameter.<br/>
              _**Note**: If neither market or user country are provided, the content is considered unavailable for the client._<br/>
              Users can view the country that is associated with their account in the [account settings](https://www.spotify.com/se/account/overview/).
          example: ES
          title: Market
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_several_chapters_200_response'
          description: A set of chapters
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_albums_401_response'
          description: |
            Bad or expired token. This can happen if the user revoked a token or
            the access token has expired. You should re-authenticate the user.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_albums_401_response'
          description: |
            Bad OAuth request (wrong consumer key, bad nonce, expired
            timestamp...). Unfortunately, re-authenticating the user won't help here.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_albums_401_response'
          description: |
            The app has exceeded its rate limits.
      security:
      - oauth_2_0: []
      summary: |
        Get Several Chapters
      tags:
      - Chapters
      x-spotify-docs-console-url: "/console/get-several-chapters/?ids=2i47HuOBSV2XaJNy0NCZXM,2GUbORsUnP1qVVlLwd9DzP"
      x-spotify-docs-endpoint-name: Get Several Chapters
      x-openapi-router-controller: openapi_server.controllers.chapters_controller
    x-spotify-docs-category: Chapters
    x-spotify-docs-display-name: several-chapters
  /chapters/{id}:
    get:
      description: |
        Get Spotify catalog information for a single chapter.<br />
        **Note: Chapters are only available for the US, UK, Ireland, New Zealand and Australia markets.**
      operationId: get_a_chapter
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: |
            The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids)
            for the chapter.
          example: 0D5wENdkdwbqlrHoaJ9g29
          title: Spotify Chapter ID
          type: string
        style: simple
      - explode: true
        in: query
        name: market
        required: false
        schema:
          description: |
            An [ISO 3166-1 alpha-2 country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).
              If a country code is specified, only content that is available in that market will be returned.<br/>
              If a valid user access token is specified in the request header, the country associated with
              the user account will take priority over this parameter.<br/>
              _**Note**: If neither market or user country are provided, the content is considered unavailable for the client._<br/>
              Users can view the country that is associated with their account in the [account settings](https://www.spotify.com/se/account/overview/).
          example: ES
          title: Market
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChapterObject'
          description: A Chapter
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_albums_401_response'
          description: |
            Bad or expired token. This can happen if the user revoked a token or
            the access token has expired. You should re-authenticate the user.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_albums_401_response'
          description: |
            Bad OAuth request (wrong consumer key, bad nonce, expired
            timestamp...). Unfortunately, re-authenticating the user won't help here.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_albums_401_response'
          description: |
            The app has exceeded its rate limits.
      security:
      - oauth_2_0: []
      summary: |
        Get a Chapter
      tags:
      - Chapters
      x-spotify-docs-console-url: /console/get-chapter/?id=2i47HuOBSV2XaJNy0NCZXM
      x-spotify-docs-endpoint-name: Get a Chapter
      x-openapi-router-controller: openapi_server.controllers.chapters_controller
    x-spotify-docs-category: Chapters
    x-spotify-docs-display-name: chapters
  /episodes:
    get:
      description: |
        Get Spotify catalog information for several episodes based on their Spotify IDs.
      operationId: get_multiple_episodes
      parameters:
      - explode: true
        in: query
        name: ids
        required: true
        schema:
          description: |
            A comma-separated list of the [Spotify IDs](/documentation/web-api/concepts/spotify-uris-ids) for the episodes. Maximum: 50 IDs.
          example: "77o6BIVlYM3msb4MMIL1jH,0Q86acNRm6V9GYx55SXKwf"
          title: Ids
          type: string
        style: form
      - explode: true
        in: query
        name: market
        required: false
        schema:
          description: |
            An [ISO 3166-1 alpha-2 country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).
              If a country code is specified, only content that is available in that market will be returned.<br/>
              If a valid user access token is specified in the request header, the country associated with
              the user account will take priority over this parameter.<br/>
              _**Note**: If neither market or user country are provided, the content is considered unavailable for the client._<br/>
              Users can view the country that is associated with their account in the [account settings](https://www.spotify.com/se/account/overview/).
          example: ES
          title: Market
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_episodes_200_response'
          description: A set of episodes
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_albums_401_response'
          description: |
            Bad or expired token. This can happen if the user revoked a token or
            the access token has expired. You should re-authenticate the user.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_albums_401_response'
          description: |
            Bad OAuth request (wrong consumer key, bad nonce, expired
            timestamp...). Unfortunately, re-authenticating the user won't help here.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_albums_401_response'
          description: |
            The app has exceeded its rate limits.
      security:
      - oauth_2_0:
        - user-read-playback-position
      summary: |
        Get Several Episodes
      tags:
      - Episodes
      x-spotify-docs-console-url: "/console/get-several-episodes/?ids=77o6BIVlYM3msb4MMIL1jH,0Q86acNRm6V9GYx55SXKwf"
      x-spotify-docs-endpoint-name: Get Multiple Episodes
      x-openapi-router-controller: openapi_server.controllers.episodes_controller
    x-spotify-docs-category: Episodes
    x-spotify-docs-display-name: several-episodes
  /episodes/{id}:
    get:
      description: |
        Get Spotify catalog information for a single episode identified by its
        unique Spotify ID.
      operationId: get_an_episode
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: "The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids)\
            \ for the episode."
          example: 512ojhOuo1ktJprKbVcKyQ
          title: Get an Episode
          type: string
        style: simple
      - explode: true
        in: query
        name: market
        required: false
        schema:
          description: |
            An [ISO 3166-1 alpha-2 country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).
              If a country code is specified, only content that is available in that market will be returned.<br/>
              If a valid user access token is specified in the request header, the country associated with
              the user account will take priority over this parameter.<br/>
              _**Note**: If neither market or user country are provided, the content is considered unavailable for the client._<br/>
              Users can view the country that is associated with their account in the [account settings](https://www.spotify.com/se/account/overview/).
          example: ES
          title: Market
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EpisodeObject'
          description: An episode
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_albums_401_response'
          description: |
            Bad or expired token. This can happen if the user revoked a token or
            the access token has expired. You should re-authenticate the user.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_albums_401_response'
          description: |
            Bad OAuth request (wrong consumer key, bad nonce, expired
            timestamp...). Unfortunately, re-authenticating the user won't help here.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_albums_401_response'
          description: |
            The app has exceeded its rate limits.
      security:
      - oauth_2_0:
        - user-read-playback-position
      summary: |
        Get Episode
      tags:
      - Episodes
      x-spotify-docs-console-url: /console/get-episode/?id=512ojhOuo1ktJprKbVcKyQ
      x-spotify-docs-endpoint-name: Get an Episode
      x-openapi-router-controller: openapi_server.controllers.episodes_controller
    x-spotify-docs-category: Episodes
    x-spotify-docs-display-name: episode
  /markets:
    get:
      description: |
        Get the list of markets where Spotify is available.
      operationId: get_available_markets
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_available_markets_200_response'
          description: A markets object with an array of country codes
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_albums_401_response'
          description: |
            Bad or expired token. This can happen if the user revoked a token or
            the access token has expired. You should re-authenticate the user.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_albums_401_response'
          description: |
            Bad OAuth request (wrong consumer key, bad nonce, expired
            timestamp...). Unfortunately, re-authenticating the user won't help here.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_albums_401_response'
          description: |
            The app has exceeded its rate limits.
      security:
      - oauth_2_0: []
      summary: |
        Get Available Markets
      tags:
      - Markets
      x-spotify-docs-console-url: /console/get-available-markets/
      x-spotify-docs-endpoint-name: Get Available Markets
      x-openapi-router-controller: openapi_server.controllers.markets_controller
    x-spotify-docs-category: Markets
    x-spotify-docs-display-name: available-markets
  /me:
    get:
      description: |
        Get detailed profile information about the current user (including the
        current user's username).
      operationId: get_current_users_profile
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateUserObject'
          description: A user
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_albums_401_response'
          description: |
            Bad or expired token. This can happen if the user revoked a token or
            the access token has expired. You should re-authenticate the user.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_albums_401_response'
          description: |
            Bad OAuth request (wrong consumer key, bad nonce, expired
            timestamp...). Unfortunately, re-authenticating the user won't help here.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_albums_401_response'
          description: |
            The app has exceeded its rate limits.
      security:
      - oauth_2_0:
        - user-read-private
        - user-read-email
      summary: |
        Get Current User's Profile
      tags:
      - Users
      x-spotify-docs-console-url: /console/get-current-user/
      x-spotify-docs-endpoint-name: Get Current User's Profile
      x-openapi-router-controller: openapi_server.controllers.users_controller
    x-spotify-docs-category: Users Profile
    x-spotify-docs-display-name: current-user
  /me/albums:
    delete:
      description: |
        Remove one or more albums from the current user's 'Your Music' library.
      operationId: remove_albums_user
      parameters:
      - explode: true
        in: query
        name: ids
        required: true
        schema:
          description: |
            A comma-separated list of the [Spotify IDs](/documentation/web-api/concepts/spotify-uris-ids) for the albums. Maximum: 20 IDs.
          example: "382ObEPsp2rxGrnsizN5TX,1A2GTWGtFfWp7KSQTwWOyo,2noRn2Aes5aoNVsU6iWThc"
          title: Spotify Album IDs
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/save_albums_user_request'
        x-body-name: body
      responses:
        "200":
          description: Album(s) have been removed from the library
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_albums_401_response'
          description: |
            Bad or expired token. This can happen if the user revoked a token or
            the access token has expired. You should re-authenticate the user.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_albums_401_response'
          description: |
            Bad OAuth request (wrong consumer key, bad nonce, expired
            timestamp...). Unfortunately, re-authenticating the user won't help here.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_albums_401_response'
          description: |
            The app has exceeded its rate limits.
      security:
      - oauth_2_0:
        - user-library-modify
      summary: |
        Remove Users' Saved Albums
      tags:
      - Albums
      - Library
      x-spotify-docs-console-url: /console/delete-current-user-saved-albums/?ids=07bYtmE3bPsLB6ZbmmFi8d%2C48JYNjh7GMie6NjqYHMmtT%2C27cZdqrQiKt3IT00338dws
      x-spotify-docs-endpoint-name: Remove Albums for Current User
      x-openapi-router-controller: openapi_server.controllers.albums_controller
      x-codegen-request-body-name: body
    get:
      description: |
        Get a list of the albums saved in the current Spotify user's 'Your Music' library.
      operationId: get_users_saved_albums
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          description: |
            The maximum number of items to return. Default: 20. Minimum: 1. Maximum: 50.
          example: 10
          maximum: 50
          minimum: 1
          title: Limit
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          description: |
            The index of the first item to return. Default: 0 (the first item). Use with limit to get the next set of items.
          example: 5
          title: Offset
          type: integer
        style: form
      - explode: true
        in: query
        name: market
        required: false
        schema:
          description: |
            An [ISO 3166-1 alpha-2 country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).
              If a country code is specified, only content that is available in that market will be returned.<br/>
              If a valid user access token is specified in the request header, the country associated with
              the user account will take priority over this parameter.<br/>
              _**Note**: If neither market or user country are provided, the content is considered unavailable for the client._<br/>
              Users can view the country that is associated with their account in the [account settings](https://www.spotify.com/se/account/overview/).
          example: ES
          title: Market
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagingSavedAlbumObject'
          description: Pages of albums
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_albums_401_response'
          description: |
            Bad or expired token. This can happen if the user revoked a token or
            the access token has expired. You should re-authenticate the user.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_albums_401_response'
          description: |
            Bad OAuth request (wrong consumer key, bad nonce, expired
            timestamp...). Unfortunately, re-authenticating the user won't help here.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_albums_401_response'
          description: |
            The app has exceeded its rate limits.
      security:
      - oauth_2_0:
        - user-library-read
      summary: |
        Get User's Saved Albums
      tags:
      - Albums
      - Library
      x-spotify-docs-console-url: /console/get-current-user-saved-albums/?limit=1
      x-spotify-docs-endpoint-name: Get User's Saved Albums
      x-openapi-router-controller: openapi_server.controllers.albums_controller
    put:
      description: |
        Save one or more albums to the current user's 'Your Music' library.
      operationId: save_albums_user
      parameters:
      - explode: true
        in: query
        name: ids
        required: true
        schema:
          description: |
            A comma-separated list of the [Spotify IDs](/documentation/web-api/concepts/spotify-uris-ids) for the albums. Maximum: 20 IDs.
          example: "382ObEPsp2rxGrnsizN5TX,1A2GTWGtFfWp7KSQTwWOyo,2noRn2Aes5aoNVsU6iWThc"
          title: Spotify Album IDs
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/save_albums_user_request'
        x-body-name: body
      responses:
        "200":
          description: The album is saved
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_albums_401_response'
          description: |
            Bad or expired token. This can happen if the user revoked a token or
            the access token has expired. You should re-authenticate the user.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_albums_401_response'
          description: |
            Bad OAuth request (wrong consumer key, bad nonce, expired
            timestamp...). Unfortunately, re-authenticating the user won't help here.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_albums_401_response'
          description: |
            The app has exceeded its rate limits.
      security:
      - oauth_2_0:
        - user-library-modify
      summary: |
        Save Albums for Current User
      tags:
      - Albums
      - Library
      x-spotify-docs-console-url: /console/put-current-user-saved-albums/?ids=07bYtmE3bPsLB6ZbmmFi8d%2C48JYNjh7GMie6NjqYHMmtT%2C27cZdqrQiKt3IT00338dws
      x-spotify-docs-endpoint-name: Save Albums for Current User
      x-openapi-router-controller: openapi_server.controllers.albums_controller
      x-codegen-request-body-name: body
    x-spotify-docs-category: Library
    x-spotify-docs-display-name: current-user-saved-albums
  /me/albums/contains:
    get:
      description: |
        Check if one or more albums is already saved in the current Spotify user's 'Your Music' library.
      operationId: check_users_saved_albums
      parameters:
      - explode: true
        in: query
        name: ids
        required: true
        schema:
          description: |
            A comma-separated list of the [Spotify IDs](/documentation/web-api/concepts/spotify-uris-ids) for the albums. Maximum: 20 IDs.
          example: "382ObEPsp2rxGrnsizN5TX,1A2GTWGtFfWp7KSQTwWOyo,2noRn2Aes5aoNVsU6iWThc"
          title: Spotify Album IDs
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                example:
                - false
                - true
                items:
                  type: boolean
                type: array
          description: Array of booleans
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_albums_401_response'
          description: |
            Bad or expired token. This can happen if the user revoked a token or
            the access token has expired. You should re-authenticate the user.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_albums_401_response'
          description: |
            Bad OAuth request (wrong consumer key, bad nonce, expired
            timestamp...). Unfortunately, re-authenticating the user won't help here.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_albums_401_response'
          description: |
            The app has exceeded its rate limits.
      security:
      - oauth_2_0:
        - user-library-read
      summary: |
        Check User's Saved Albums
      tags:
      - Albums
      - Library
      x-spotify-docs-console-url: /console/get-current-user-contains-saved-albums/?ids=0pJJgBzj26qnE1nSQUxaB0%2C5ZAKzV4ZIa5Gt7z29OYHv0
      x-spotify-docs-endpoint-name: Check User's Saved Albums
      x-openapi-router-controller: openapi_server.controllers.albums_controller
    x-spotify-docs-category: Library
    x-spotify-docs-display-name: current-user-contains-saved-albums
  /me/audiobooks:
    delete:
      description: |
        Remove one or more audiobooks from the Spotify user's library.
      operationId: remove_audiobooks_user
      parameters:
      - explode: true
        in: query
        name: ids
        required: true
        schema:
          description: |
            A comma-separated list of the [Spotify IDs](/documentation/web-api/concepts/spotify-uris-ids). For example: `ids=18yVqkdbdRvS24c0Ilj2ci,1HGw3J3NxZO1TP1BTtVhpZ`. Maximum: 50 IDs.
          example: "18yVqkdbdRvS24c0Ilj2ci,1HGw3J3NxZO1TP1BTtVhpZ,7iHfbu1YPACw6oZPAFJtqe"
          title: Spotify Audiobook IDs
          type: string
        style: form
      responses:
        "200":
          description: Audiobook(s) have been removed from the library
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_albums_401_response'
          description: |
            Bad or expired token. This can happen if the user revoked a token or
            the access token has expired. You should re-authenticate the user.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_albums_401_response'
          description: |
            Bad OAuth request (wrong consumer key, bad nonce, expired
            timestamp...). Unfortunately, re-authenticating the user won't help here.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_albums_401_response'
          description: |
            The app has exceeded its rate limits.
      security:
      - oauth_2_0:
        - user-library-modify
      summary: |
        Remove User's Saved Audiobooks
      tags:
      - Audiobooks
      - Library
      x-spotify-docs-console-url: /console/delete-current-user-saved-audiobooks/?ids=07bYtmE3bPsLB6ZbmmFi8d%2C48JYNjh7GMie6NjqYHMmtT%2C27cZdqrQiKt3IT00338dws
      x-spotify-docs-endpoint-name: Remove Audiobooks for Current User
      x-openapi-router-controller: openapi_server.controllers.audiobooks_controller
    get:
      description: |
        Get a list of the audiobooks saved in the current Spotify user's 'Your Music' library.
      operationId: get_users_saved_audiobooks
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          description: |
            The maximum number of items to return. Default: 20. Minimum: 1. Maximum: 50.
          example: 10
          maximum: 50
          minimum: 1
          title: Limit
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          description: |
            The index of the first item to return. Default: 0 (the first item). Use with limit to get the next set of items.
          example: 5
          title: Offset
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagingSavedAudiobookObject'
          description: Pages of saved audiobooks
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_albums_401_response'
          description: |
            Bad or expired token. This can happen if the user revoked a token or
            the access token has expired. You should re-authenticate the user.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_albums_401_response'
          description: |
            Bad OAuth request (wrong consumer key, bad nonce, expired
            timestamp...). Unfortunately, re-authenticating the user won't help here.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_albums_401_response'
          description: |
            The app has exceeded its rate limits.
      security:
      - oauth_2_0:
        - user-library-read
      summary: |
        Get User's Saved Audiobooks
      tags:
      - Audiobooks
      - Library
      x-spotify-docs-console-url: /console/get-current-user-saved-audiobooks/?limit=1
      x-spotify-docs-endpoint-name: Get User's Saved Audiobooks
      x-openapi-router-controller: openapi_server.controllers.audiobooks_controller
    put:
      description: |
        Save one or more audiobooks to the current Spotify user's library.
      operationId: save_audiobooks_user
      parameters:
      - explode: true
        in: query
        name: ids
        required: true
        schema:
          description: |
            A comma-separated list of the [Spotify IDs](/documentation/web-api/concepts/spotify-uris-ids). For example: `ids=18yVqkdbdRvS24c0Ilj2ci,1HGw3J3NxZO1TP1BTtVhpZ`. Maximum: 50 IDs.
          example: "18yVqkdbdRvS24c0Ilj2ci,1HGw3J3NxZO1TP1BTtVhpZ,7iHfbu1YPACw6oZPAFJtqe"
          title: Spotify Audiobook IDs
          type: string
        style: form
      responses:
        "200":
          description: Audiobook(s) are saved to the library
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_albums_401_response'
          description: |
            Bad or expired token. This can happen if the user revoked a token or
            the access token has expired. You should re-authenticate the user.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_albums_401_response'
          description: |
            Bad OAuth request (wrong consumer key, bad nonce, expired
            timestamp...). Unfortunately, re-authenticating the user won't help here.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_albums_401_response'
          description: |
            The app has exceeded its rate limits.
      security:
      - oauth_2_0:
        - user-library-modify
      summary: |
        Save Audiobooks for Current User
      tags:
      - Audiobooks
      - Library
      x-spotify-docs-console-url: /console/put-current-user-saved-audiobooks/?ids=07bYtmE3bPsLB6ZbmmFi8d%2C48JYNjh7GMie6NjqYHMmtT%2C27cZdqrQiKt3IT00338dws
      x-spotify-docs-endpoint-name: Save Audiobooks for Current User
      x-openapi-router-controller: openapi_server.controllers.audiobooks_controller
    x-spotify-docs-category: Library
    x-spotify-docs-display-name: current-user-saved-audiobooks
  /me/audiobooks/contains:
    get:
      description: |
        Check if one or more audiobooks are already saved in the current Spotify user's library.
      operationId: check_users_saved_audiobooks
      parameters:
      - explode: true
        in: query
        name: ids
        required: true
        schema:
          description: |
            A comma-separated list of the [Spotify IDs](/documentation/web-api/concepts/spotify-uris-ids). For example: `ids=18yVqkdbdRvS24c0Ilj2ci,1HGw3J3NxZO1TP1BTtVhpZ`. Maximum: 50 IDs.
          example: "18yVqkdbdRvS24c0Ilj2ci,1HGw3J3NxZO1TP1BTtVhpZ,7iHfbu1YPACw6oZPAFJtqe"
          title: Spotify Audiobook IDs
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                example:
                - false
                - true
                items:
                  type: boolean
                type: array
          description: Array of booleans
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_albums_401_response'
          description: |
            Bad or expired token. This can happen if the user revoked a token or
            the access token has expired. You should re-authenticate the user.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_albums_401_response'
          description: |
            Bad OAuth request (wrong consumer key, bad nonce, expired
            timestamp...). Unfortunately, re-authenticating the user won't help here.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_albums_401_response'
          description: |
            The app has exceeded its rate limits.
      security:
      - oauth_2_0:
        - user-library-read
      summary: |
        Check User's Saved Audiobooks
      tags:
      - Audiobooks
      - Library
      x-spotify-docs-console-url: /console/get-current-user-contains-saved-audiobooks/?ids=0pJJgBzj26qnE1nSQUxaB0%2C5ZAKzV4ZIa5Gt7z29OYHv0
      x-spotify-docs-endpoint-name: Check User's Saved Audiobooks
      x-openapi-router-controller: openapi_server.controllers.audiobooks_controller
    x-spotify-docs-category: Library
    x-spotify-docs-display-name: current-user-contains-saved-audiobooks
  /me/episodes:
    delete:
      description: |
        Remove one or more episodes from the current user's library.<br/>
        This API endpoint is in __beta__ and could change without warning. Please share any feedback that you have, or issues that you discover, in our [developer community forum](https://community.spotify.com/t5/Spotify-for-Developers/bd-p/Spotify_Developer).
      operationId: remove_episodes_user
      parameters:
      - explode: true
        in: query
        name: ids
        required: true
        schema:
          description: |
            A comma-separated list of the [Spotify IDs](/documentation/web-api/concepts/spotify-uris-ids). For example: `ids=4iV5W9uYEdYUVa79Axb7Rh,1301WleyT98MSxVHPZCA6M`. Maximum: 50 IDs.
          example: "7ouMYWpwJ422jRcDASZB7P,4VqPOruhp5EdPBeR92t6lQ,2takcwOaAZWiXQijPHIx7B"
          title: Spotify Track IDs
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/remove_episodes_user_request'
        x-body-name: body
      responses:
        "200":
          description: Episode removed
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_albums_401_response'
          description: |
            Bad or expired token. This can happen if the user revoked a token or
            the access token has expired. You should re-authenticate the user.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_albums_401_response'
          description: |
            Bad OAuth request (wrong consumer key, bad nonce, expired
            timestamp...). Unfortunately, re-authenticating the user won't help here.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_multiple_albums_401_response'
          description: |
            The app has exceeded its rate limits.
      security:
      - oauth_2_0:
        - user-library-modify
      summary: |
        Remove User's Saved Episodes
      tags:
      - Episodes
      - Library
      x-spotify-docs-console-url: /console/delete-current-user-saved-episodes/?ids=77o6BIVlYM3msb4MMIL1jH%2C0Q86acNRm6V9GYx55SXKwf
      x-spotify-docs-endpoint-name: Remove User's Saved Episodes
      x-openapi-router-controller: openapi_server.controllers.episodes_controller
      x-codegen-request-body-name: body
    get:
      description: |
        Get a list of the episodes saved in the current Spotify user's library.<br/>
[...]
