# AmazonNimbleStudio.ValidationResult

## Properties

Name | Type | Description | Notes
------------ | ------------- | ------------- | -------------
**state** | [**LaunchProfileValidationState**](LaunchProfileValidationState.md) |  | 
**statusCode** | [**LaunchProfileValidationStatusCode**](LaunchProfileValidationStatusCode.md) |  | 
**statusMessage** | **String** |  | 
**type** | [**LaunchProfileValidationType**](LaunchProfileValidationType.md) |  | 


