openapi: 3.0.1
info:
  description: Description of the new service
  title: VMwareCloudSimple
  version: 2019-04-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-ms-code-generation-settings:
    name: VMwareCloudSimpleClient
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/vmwarecloudsimple/resource-manager/Microsoft.VMwareCloudSimple/stable/2019-04-01/vmwarecloudsimple.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: vmwarecloudsimple
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
tags:
- description: Subscription life cycle
  name: Subscription
- description: Virtual machine resource operations
  name: VirtualMachines
- description: Virtual networks functions
  name: VirtualNetwork
- description: VM templates functions
  name: VirtualMachineTemplates
- description: available operations function
  name: Operations
- description: Resource pools operations
  name: ResourcePools
- description: dedicated cloud nodes operations
  name: DedicatedCloudNodes
- description: Azure Service object operations
  name: AzureService
- description: operations related to availability and usage
  name: AvailabilityUsages
- description: Customization policies operations
  name: CustomizationPolicies
paths:
  /providers/Microsoft.VMwareCloudSimple/operations:
    get:
      description: Return list of operations
      operationId: operations_list
      parameters:
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailableOperationsListResponse'
          description: successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CSRPError'
          description: General Error
      summary: Implements list of available operations
      tags:
      - Operations
      x-ms-examples:
        ListOperations:
          parameters:
            api-version: 2019-04-01
          responses:
            "200":
              body:
                nextLink: string
                value:
                - display:
                    description: Creates a new dedicated cloud node
                    operation: Create Dedicated Cloud Node
                    provider: VMware Solution by CloudSimple
                    resource: Dedicated Cloud Nodes
                  name: Microsoft.VMwareCloudSimple/dedicatedCloudNodes/write
                  origin: "user,system"
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.operations_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.VMwareCloudSimple/dedicatedCloudNodes:
    get:
      description: Returns list of dedicate cloud nodes within subscription
      operationId: dedicated_cloud_nodes_list_by_subscription
      parameters:
      - description: The subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The filter to apply on the list operation
        in: query
        name: $filter
        schema:
          type: string
      - description: The maximum number of record sets to return
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: to be used by nextLink implementation
        in: query
        name: $skipToken
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DedicatedCloudNodeListResponse'
          description: successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CSRPError'
          description: General Error
      summary: Implements list of dedicated cloud nodes within subscription method
      tags:
      - DedicatedCloudNodes
      x-ms-examples:
        ListDedicatedCloudNodes:
          parameters:
            api-version: 2019-04-01
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                value:
                - id: "/subscriptions/{subscription-id}/resourceGroups/myResourceGroup-1/providers/Microsoft.VMwareCloudSimple/dedicatedCloudNodes/node-2"
                  location: westus2
                  name: node-2
                  properties:
                    availabilityZoneId: az1
                    availabilityZoneName: Availability Zone 1
                    cloudRackName: cloud_rack_1
                    created: 2019-05-21T07:32:12.134Z
                    nodesCount: 0
                    placementGroupId: n2
                    placementGroupName: Placement Group 2
                    privateCloudId: "/subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud"
                    privateCloudName: private_cloud_name
                    purchaseId: 225fadec-3bbe-4e61-a119-ff102da67d0d
                    skuDescription:
                      id: general
                      name: CS28-Node
                    status: used
                    vmwareClusterName: Cluster
                  sku:
                    name: VMware_CloudSimple_CS28
                  type: Microsoft.VMwareCloudSimple/dedicatedCloudNodes
                - id: "/subscriptions/{subscription-id}/resourceGroups/myResourceGroup-2/providers/Microsoft.VMwareCloudSimple/dedicatedCloudNodes/node-1"
                  location: westus2
                  name: node1
                  properties:
                    availabilityZoneId: az1
                    availabilityZoneName: Availability Zone 1
                    created: 2019-05-22T11:57:43.891Z
                    nodesCount: 0
                    placementGroupId: n1
                    placementGroupName: Placement Group 1
                    purchaseId: eb9d2e22-c787-4723-aa4f-3760b53a0a4d
                    skuDescription:
                      id: general
                      name: CS28-Node
                    status: unused
                  sku:
                    name: VMware_CloudSimple_CS28
                  type: Microsoft.VMwareCloudSimple/dedicatedCloudNodes
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.dedicated_cloud_nodes_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.VMwareCloudSimple/dedicatedCloudServices:
    get:
      description: Returns list of dedicated cloud services within a subscription
      operationId: dedicated_cloud_services_list_by_subscription
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The filter to apply on the list operation
        in: query
        name: $filter
        schema:
          type: string
      - description: The maximum number of record sets to return
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: to be used by nextLink implementation
        in: query
        name: $skipToken
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DedicatedCloudServiceListResponse'
          description: successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CSRPError'
          description: General Error
      summary: Implements list of dedicatedCloudService objects within subscription
        method
      tags:
      - DedicatedCloudServices
      x-ms-examples:
        ListDedicatedCloudServices:
          parameters:
            api-version: 2019-04-01
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                value:
                - id: "/subscriptions/{subscription-id}/resourceGroups/myResourceGroup-1/providers/Microsoft.VMwareCloudSimple/dedicatedCloudServices/service-east"
                  location: eastus
                  name: service-east
                  properties:
                    gatewaySubnet: 10.101.201.0/28
                    isAccountOnboarded: onBoarded
                    serviceURL: https://eastus-he.azure.cloudsimple.com
                  type: Microsoft.VMwareCloudSimple/dedicatedCloudServices
                - id: "/subscriptions/{subscription-id}/resourceGroups/myResourceGroup-2/providers/Microsoft.VMwareCloudSimple/dedicatedCloudServices/service-west"
                  location: westus
                  name: service-west
                  properties:
                    gatewaySubnet: 10.0.0.0/28
                    isAccountOnboarded: onBoarded
                    serviceURL: https://westus-he.azure.cloudsimple.com
                  type: Microsoft.VMwareCloudSimple/dedicatedCloudServices
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.dedicated_cloud_services_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.VMwareCloudSimple/locations/{regionId}/availabilities:
    get:
      description: Returns list of available resources in region
      operationId: skus_availability_list
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: "The region Id (westus, eastus)"
        in: path
        name: regionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "sku id, if no sku is passed availability for all skus will be\
          \ returned"
        in: query
        name: skuId
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SkuAvailabilityListResponse'
          description: successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CSRPError'
          description: General Error
      summary: Implements SkuAvailability List method
      tags:
      - AvailabilityUsages
      x-ms-examples:
        ListAvailabilities:
          parameters:
            api-version: 2019-04-01
            regionId: westus2
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                value:
                - dedicatedAvailabilityZoneId: az1
                  dedicatedAvailabilityZoneName: Availability Zone 1
                  dedicatedPlacementGroupId: n1
                  dedicatedPlacementGroupName: Placement Group 1
                  limit: 0
                  resourceType: Microsoft.VMwareCloudSimple/dedicatedCloudNodes
                  skuId: general
                  skuName: CS28-Node
                - dedicatedAvailabilityZoneId: az1
                  dedicatedAvailabilityZoneName: Availability Zone 1
                  dedicatedPlacementGroupId: n1
                  dedicatedPlacementGroupName: Placement Group 1
                  limit: 0
                  resourceType: Microsoft.VMwareCloudSimple/dedicatedCloudNodes
                  skuId: large
                  skuName: CS36-Node
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.availability_usages_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.VMwareCloudSimple/locations/{regionId}/operationResults/{operationId}:
    get:
      description: Return an async operation
      operationId: operations_get
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: "The region Id (westus, eastus)"
        in: path
        name: region_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: referer url
        in: header
        name: Referer
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: operation id
        in: path
        name: operationId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResource'
          description: Successful operation
        "202":
          content: {}
          description: Operation is still running
          headers:
            Retry-After:
              schema:
                type: integer
            Location:
              schema:
                type: string
        "204":
          content: {}
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CSRPError'
          description: General Error
          headers:
            Content-Type:
              schema:
                default: application/json
                type: string
      summary: Implements get of async operation
      tags:
      - Operations
      x-ms-examples:
        GetFailedOperationResult:
          parameters:
            Referer: https://management.azure.com/
            api-version: 2019-04-01
            operationId: d030bb3f-7d53-11e9-8e09-9a86872085ff
            regionId: westus2
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                endTime: 2019-05-23T12:11:00.655Z
                error:
                  code: InternalError
                  message: Internal Service error
                id: "/subscriptions/{subscription-id}/providers/microsoft.vmwarecloudsimple/locations/westus2/operationresults/d030bb3f-7d53-11e9-8e09-9a86872085ff"
                name: d030bb3f-7d53-11e9-8e09-9a86872085ff
                startTime: 2019-05-23T12:10:54.012Z
                status: Failed
            "202": {}
            "204": {}
        GetOperationResult:
          parameters:
            Referer: https://management.azure.com/
            api-version: 2019-04-01
            operationId: f8e1c8f1-7d52-11e9-8e07-9a86872085ff
            regionId: westus2
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                endTime: 2019-05-23T12:05:55.660Z
                id: "/subscriptions/{subscription-id}/providers/microsoft.vmwarecloudsimple/locations/westus2/operationresults/f8e1c8f1-7d52-11e9-8e07-9a86872085ff"
                name: f8e1c8f1-7d52-11e9-8e07-9a86872085ff
                startTime: 2019-05-23T12:04:52.784Z
                status: Succeeded
            "202": {}
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.operations_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.VMwareCloudSimple/locations/{regionId}/privateClouds:
    get:
      description: Returns list of private clouds in particular region
      operationId: private_clouds_list
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: "The region Id (westus, eastus)"
        in: path
        name: region_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateCloudList'
          description: successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CSRPError'
          description: General Error
      summary: Implements private cloud list GET method
      tags:
      - PrivateClouds
      x-ms-examples:
        ListPrivateCloudInLocation:
          parameters:
            api-version: 2019-04-01
            regionId: eastus
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                value:
                - id: "/subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/eastus/privateClouds/myPrivateCloud"
                  location: eastus
                  name: myPrivateCloud
                  properties:
                    availabilityZoneId: az1
                    availabilityZoneName: Availability Zone 1
                    clustersNumber: 1
                    createdBy: john.doe@cloudsimple.com
                    createdOn: 2019-05-21T07:32:59.491Z
                    dnsServers:
                    - 100.100.100.8
                    - 100.100.100.9
                    expires: n/a
                    nsxType: Advanced
                    placementGroupId: n2
                    placementGroupName: Placement Group 2
                    privateCloudId: private-cloud-id
                    state: operational
                    totalCpuCores: 84
                    totalNodes: 3
                    totalRam: 768
                    totalStorage: 16.875
                    type: vSphere
                    vSphereVersion: 6.7u1
                    vcenterFqdn: vcsa-eastus.az.cloudsimple.io
                    vcenterRefid: 100.100.100.6
                  type: Microsoft.VMwareCloudSimple/privateClouds
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.private_clouds_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.VMwareCloudSimple/locations/{regionId}/privateClouds/{pcName}:
    get:
      description: Returns private cloud by its name
      operationId: private_clouds_get
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The private cloud name
        in: path
        name: pcName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "The region Id (westus, eastus)"
        in: path
        name: region_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateCloud'
          description: successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CSRPError'
          description: General Error
      summary: Implements private cloud GET method
      tags:
      - PrivateClouds
      x-ms-examples:
        GetPrivateCloud:
          parameters:
            api-version: 2019-04-01
            pcName: myPrivateCloud
            regionId: westus2
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                id: "/subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud"
                location: westus2
                name: myPrivateCloud
                properties:
                  availabilityZoneId: az1
                  availabilityZoneName: Availability Zone 1
                  clustersNumber: 1
                  createdBy: john.doe@cloudsimple.com
                  createdOn: 2019-05-22T09:55:36.627Z
                  dnsServers:
                  - 100.0.0.8
                  - 100.0.0.9
                  expires: n/a
                  nsxType: Advanced
                  placementGroupId: n1
                  placementGroupName: Placement Group 1
                  privateCloudId: "{pc-id}"
                  resourcePools:
                  - id: "/subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud/resourcePools/resgroup-26"
                    location: westus2
                    name: Workload
                    privateCloudId: "/subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud"
                    properties:
                      fullName: myPrivateCloud/Datacenter/Cluster/Workload
                    type: Microsoft.VMwareCloudSimple/resourcePools
                  state: operational
                  totalCpuCores: 28
                  totalNodes: 1
                  totalRam: 256
                  totalStorage: 5.625
                  type: vSphere
                  vSphereVersion: 6.7u1
                  vcenterFqdn: vcsa-4-westus2.az.cloudsimple.io
                  vcenterRefid: 100.0.0.6
                  virtualMachineTemplates:
                  - id: "/subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud/virtualMachineTemplates/vm-34"
                    location: westus2
                    name: centos-template
                    properties:
                      amountOfRam: 4096
                      controllers:
                      - id: "1000"
                        name: SCSI controller 0
                        subType: LSI_PARALEL
                        type: SCSI
                      disks:
                      - controllerId: "1000"
                        independenceMode: persistent
                        totalSize: 10485760
                        virtualDiskId: "2000"
                        virtualDiskName: Hard disk 1
                      guestOS: Other (32-bit)
                      guestOSType: other
                      nics:
                      - macAddress: 00:50:56:a6:7e:93
                        network:
                          id: "/subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud/virtualNetworks/dvportgroup-19"
                        nicType: E1000
                        powerOnBoot: true
                        virtualNicId: "4000"
                        virtualNicName: Network adapter 1
                      numberOfCores: 2
                      path: Datacenter/Workload VMs
                      privateCloudId: "/subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud"
                      vmwaretools: "10309"
                    type: Microsoft.VMwareCloudSimple/virtualMachineTemplates
                  virtualNetworks:
                  - assignable: false
                    id: "/subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud/virtualNetworks/dvportgroup-19"
                    location: westus2
                    name: Datacenter/CS-Management
                    properties:
                      privateCloudId: "/subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud"
                    type: Microsoft.VMwareCloudSimple/virtualNetworks
                  - assignable: true
                    id: "/subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud/virtualNetworks/dvportgroup-20"
                    location: westus2
                    name: Datacenter/CS-Rescue
                    properties:
                      privateCloudId: "/subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud"
                    type: Microsoft.VMwareCloudSimple/virtualNetworks
                  - assignable: false
                    id: "/subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud/virtualNetworks/dvportgroup-21"
                    location: westus2
                    name: Datacenter/CS-VSAN
                    properties:
                      privateCloudId: "/subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud"
                    type: Microsoft.VMwareCloudSimple/virtualNetworks
                  - assignable: false
                    id: "/subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud/virtualNetworks/dvportgroup-22"
                    location: westus2
                    name: Datacenter/CS-VMotion
                    properties:
                      privateCloudId: "/subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud"
                    type: Microsoft.VMwareCloudSimple/virtualNetworks
                  - assignable: true
                    id: "/subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud/virtualNetworks/dvportgroup-35"
                    location: westus2
                    name: Datacenter/net-01
                    properties:
                      privateCloudId: "/subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud"
                    type: Microsoft.VMwareCloudSimple/virtualNetworks
                type: Microsoft.VMwareCloudSimple/privateClouds
      x-openapi-router-controller: openapi_server.controllers.private_clouds_controller
  ? /subscriptions/{subscriptionId}/providers/Microsoft.VMwareCloudSimple/locations/{regionId}/privateClouds/{pcName}/customizationPolicies
  : get:
      description: Returns list of customization policies in region for private cloud
      operationId: customization_policies_list
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: "The region Id (westus, eastus)"
        in: path
        name: region_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The private cloud name
        in: path
        name: pc_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The filter to apply on the list operation. only type is allowed
          here as a filter e.g. $filter=type eq 'xxxx'
        in: query
        name: $filter
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomizationPoliciesListResponse'
          description: successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CSRPError'
          description: General Error
      summary: Implements get of customization policies list
      tags:
      - customizationPolicies
      x-ms-examples:
        ListCustomizationPolicies:
          parameters:
            api-version: 2019-04-01
            pcName: myPrivateCloud
            regionId: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/b85c4986-56ae-4ebd-b5c5-a1595ca3dab1/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/foobar/customizationpolicies/Linux1
                  location: westus2
                  name: Linux1
                  properties:
                    privateCloudId: /subscriptions/b85c4986-56ae-4ebd-b5c5-a1595ca3dab1/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/foobar
                    specification:
                      identity:
                        hostName:
                          type: USER_DEFINED
                        type: LINUX
                        userData:
                          isPasswordPredefined: false
                      nicSettings:
                      - adapter:
                          ip:
                            type: USER_DEFINED
                    type: LINUX
                    version: "1568102823"
                  type: Microsoft.VMwareCloudSimple/customizationPolicies
                - id: /subscriptions/b85c4986-56ae-4ebd-b5c5-a1595ca3dab1/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/foobar/customizationpolicies/Linux2
                  location: westus2
                  name: Linux2
                  properties:
                    privateCloudId: /subscriptions/b85c4986-56ae-4ebd-b5c5-a1595ca3dab1/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/foobar
                    specification:
                      identity:
                        hostName:
                          type: VIRTUAL_MACHINE_NAME
                        type: LINUX
                        userData:
                          isPasswordPredefined: false
                      nicSettings:
                      - adapter:
                          ip:
                            type: DHCP_IP
                    type: LINUX
                    version: "1568102846"
                  type: Microsoft.VMwareCloudSimple/customizationPolicies
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.customization_policies_controller
  ? /subscriptions/{subscriptionId}/providers/Microsoft.VMwareCloudSimple/locations/{regionId}/privateClouds/{pcName}/customizationPolicies/{customizationPolicyName}
  : get:
      description: Returns customization policy by its name
      operationId: customization_policies_get
      parameters:
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: "The region Id (westus, eastus)"
        in: path
        name: region_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The private cloud name
        in: path
        name: pc_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: customization policy name
        in: path
        name: customizationPolicyName
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomizationPolicy'
          description: successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CSRPError'
          description: General Error
      summary: Implements get of customization policy
      tags:
      - customizationPolicies
      x-ms-examples:
        GetCustomizationPolicy:
          parameters:
            api-version: 2019-04-01
            customizationPolicyName: Linux1
            pcName: myPrivateCloud
            regionId: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                id: /subscriptions/b85c4986-56ae-4ebd-b5c5-a1595ca3dab1/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/foobar/customizationpolicies/Linux1
                location: westus2
                name: Linux1
                properties:
                  privateCloudId: /subscriptions/b85c4986-56ae-4ebd-b5c5-a1595ca3dab1/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/foobar
                  specification:
                    identity:
                      hostName:
                        type: USER_DEFINED
                      type: LINUX
                      userData:
                        isPasswordPredefined: false
                    nicSettings:
                    - adapter:
                        ip:
                          type: USER_DEFINED
                  type: LINUX
                  version: "1568102823"
                type: Microsoft.VMwareCloudSimple/customizationPolicies
      x-openapi-router-controller: openapi_server.controllers.customization_policies_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.VMwareCloudSimple/locations/{regionId}/privateClouds/{pcName}/resourcePools:
    get:
      description: Returns list of resource pools in region for private cloud
      operationId: resource_pools_list
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: "The region Id (westus, eastus)"
        in: path
        name: region_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The private cloud name
        in: path
        name: pc_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourcePoolsListResponse'
          description: successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CSRPError'
          description: General Error
      summary: Implements get of resource pools list
      tags:
      - ResourcePools
      x-ms-examples:
        ListResourcePools:
          parameters:
            api-version: 2019-04-01
            pcName: myPrivateCloud
            regionId: westus2
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                value:
                - id: "/subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud/resourcePools/resgroup-26"
                  location: westus2
                  name: Workload
                  privateCloudId: "/subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud"
                  properties:
                    fullName: myPrivateCloud/Datacenter/Cluster/Workload
                  type: Microsoft.VMwareCloudSimple/resourcePools
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.resource_pools_controller
  ? /subscriptions/{subscriptionId}/providers/Microsoft.VMwareCloudSimple/locations/{regionId}/privateClouds/{pcName}/resourcePools/{resourcePoolName}
  : get:
      description: Returns resource pool templates by its name
      operationId: resource_pools_get
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: "The region Id (westus, eastus)"
        in: path
        name: region_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The private cloud name
        in: path
        name: pc_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: resource pool id (vsphereId)
        in: path
        name: resourcePoolName
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourcePool'
          description: successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CSRPError'
          description: General Error
      summary: Implements get of resource pool
      tags:
      - ResourcePools
      x-ms-examples:
        GetResourcePool:
          parameters:
            api-version: 2019-04-01
            pcName: myPrivateCloud
            regionId: westus2
            resourcePoolName: resgroup-26
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                id: "/subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud/resourcePools/resgroup-26"
                location: westus2
                name: Workload
                privateCloudId: "/subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud"
                properties:
                  fullName: myPrivateCloud/Datacenter/Cluster/Workload
                type: Microsoft.VMwareCloudSimple/resourcePools
      x-openapi-router-controller: openapi_server.controllers.resource_pools_controller
  ? /subscriptions/{subscriptionId}/providers/Microsoft.VMwareCloudSimple/locations/{regionId}/privateClouds/{pcName}/virtualMachineTemplates
  : get:
      description: Returns list of virtual machine templates in region for private
        cloud
      operationId: virtual_machine_templates_list
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The private cloud name
        in: path
        name: pc_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "The region Id (westus, eastus)"
        in: path
        name: region_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Resource pool used to derive vSphere cluster which contains VM
          templates
        in: query
        name: resourcePoolName
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualMachineTemplateListResponse'
          description: successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CSRPError'
          description: General Error
      summary: Implements list of available VM templates
      tags:
      - VirtualMachineTemplates
      x-ms-examples:
        ListVirtualMachineTemplates:
          parameters:
            api-version: 2019-04-01
            pcName: myPrivateCloud
            regionId: westus2
            resourcePoolName: "/subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud/resourcePools/resgroup-26"
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                value:
                - id: "/subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud/virtualMachineTemplates/vm-34"
                  location: westus2
                  name: centos-template
                  properties:
                    amountOfRam: 4096
                    controllers:
                    - id: "1000"
                      name: SCSI controller 0
                      subType: LSI_PARALEL
                      type: SCSI
                    disks:
                    - controllerId: "1000"
                      independenceMode: persistent
                      totalSize: 10485760
                      virtualDiskId: "2000"
                      virtualDiskName: Hard disk 1
                    guestOS: Other (32-bit)
                    guestOSType: other
                    nics:
                    - macAddress: 00:50:56:a6:7e:93
                      network:
                        id: "/subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud/virtualNetworks/dvportgroup-19"
                      nicType: E1000
                      powerOnBoot: true
                      virtualNicId: "4000"
                      virtualNicName: Network adapter 1
                    numberOfCores: 2
                    path: Datacenter/Workload VMs
                    privateCloudId: "/subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud"
                    vmwaretools: "10309"
                  type: Microsoft.VMwareCloudSimple/virtualMachineTemplates
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.virtual_machine_templates_controller
  ? /subscriptions/{subscriptionId}/providers/Microsoft.VMwareCloudSimple/locations/{regionId}/privateClouds/{pcName}/virtualMachineTemplates/{virtualMachineTemplateName}
  : get:
      description: Returns virtual machine templates by its name
      operationId: virtual_machine_templates_get
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: "The region Id (westus, eastus)"
        in: path
        name: region_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The private cloud name
        in: path
        name: pc_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: virtual machine template id (vsphereId)
        in: path
        name: virtualMachineTemplateName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualMachineTemplate'
          description: successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CSRPError'
          description: General Error
      summary: Implements virtual machine template GET method
      tags:
      - VirtualMachineTemplates
      x-ms-examples:
        GetVirtualMachineTemplate:
          parameters:
            api-version: 2019-04-01
            pcName: myPrivateCloud
            regionId: westus2
            subscriptionId: "{subscription-id}"
            virtualMachineTemplateName: vm-34
          responses:
            "200":
              body:
                id: "/subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud/virtualMachineTemplates/vm-34"
                location: westus2
                name: centos-template
                properties:
                  amountOfRam: 4096
                  controllers:
                  - id: "1000"
                    name: SCSI controller 0
                    subType: LSI_PARALEL
                    type: SCSI
                  disks:
                  - controllerId: "1000"
                    independenceMode: persistent
                    totalSize: 10485760
                    virtualDiskId: "2000"
                    virtualDiskName: Hard disk 1
                  guestOS: Other (32-bit)
                  guestOSType: other
                  nics:
                  - macAddress: 00:50:56:a6:7e:93
                    network:
                      id: "/subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud/virtualNetworks/dvportgroup-19"
                    nicType: E1000
                    powerOnBoot: true
                    virtualNicId: "4000"
                    virtualNicName: Network adapter 1
                  numberOfCores: 2
                  path: Datacenter/Workload VMs
                  privateCloudId: "/subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud"
                  vmwaretools: "10309"
                type: Microsoft.VMwareCloudSimple/virtualMachineTemplates
      x-openapi-router-controller: openapi_server.controllers.virtual_machine_templates_controller
  ? /subscriptions/{subscriptionId}/providers/Microsoft.VMwareCloudSimple/locations/{regionId}/privateClouds/{pcName}/virtualNetworks
  : get:
      description: Return list of virtual networks in location for private cloud
      operationId: virtual_networks_list
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: "The region Id (westus, eastus)"
        in: path
        name: region_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The private cloud name
        in: path
        name: pc_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Resource pool used to derive vSphere cluster which contains virtual
          networks
        in: query
        name: resourcePoolName
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkListResponse'
          description: successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CSRPError'
          description: General Error
      summary: Implements list available virtual networks within a subscription method
      tags:
      - VirtualNetworks
      x-ms-examples:
        ListVirtualNetworks:
          parameters:
            api-version: 2019-04-01
            pcName: myPrivateCloud
            regionId: westus2
            resourcePoolName: "/subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud/resourcePools/resgroup-26"
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                value:
                - assignable: false
                  id: "/subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud/virtualNetworks/dvportgroup-19"
                  location: westus2
                  name: Datacenter/CS-Management
                  properties:
                    privateCloudId: "/subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud"
                  type: Microsoft.VMwareCloudSimple/virtualNetworks
                - assignable: true
                  id: "/subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud/virtualNetworks/dvportgroup-20"
                  location: westus2
                  name: Datacenter/CS-Rescue
                  properties:
                    privateCloudId: "/subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud"
                  type: Microsoft.VMwareCloudSimple/virtualNetworks
                - assignable: false
                  id: "/subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud/virtualNetworks/dvportgroup-21"
                  location: westus2
                  name: Datacenter/CS-VSAN
                  properties:
                    privateCloudId: "/subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud"
                  type: Microsoft.VMwareCloudSimple/virtualNetworks
                - assignable: false
                  id: "/subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud/virtualNetworks/dvportgroup-22"
                  location: westus2
                  name: Datacenter/CS-VMotion
                  properties:
                    privateCloudId: "/subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud"
                  type: Microsoft.VMwareCloudSimple/virtualNetworks
                - assignable: true
                  id: "/subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud/virtualNetworks/dvportgroup-35"
                  location: westus2
                  name: Datacenter/net-01
                  properties:
                    privateCloudId: "/subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud"
                  type: Microsoft.VMwareCloudSimple/virtualNetworks
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.virtual_networks_controller
  ? /subscriptions/{subscriptionId}/providers/Microsoft.VMwareCloudSimple/locations/{regionId}/privateClouds/{pcName}/virtualNetworks/{virtualNetworkName}
  : get:
      description: Return virtual network by its name
      operationId: virtual_networks_get
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: "The region Id (westus, eastus)"
        in: path
        name: region_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The private cloud name
        in: path
        name: pc_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: virtual network id (vsphereId)
        in: path
        name: virtualNetworkName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetwork'
          description: successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CSRPError'
          description: General Error
      summary: Implements virtual network GET method
      tags:
      - VirtualNetworks
      x-ms-examples:
        GetVirtualNetwork:
          parameters:
            api-version: 2019-04-01
            pcName: myPrivateCloud
            regionId: westus2
            subscriptionId: "{subscription-id}"
            virtualNetworkName: dvportgroup-19
          responses:
            "200":
              body:
                assignable: false
                id: "/subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud/virtualNetworks/dvportgroup-19"
                location: westus2
                name: Datacenter/CS-Management
                properties:
                  privateCloudId: "/subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud"
                type: Microsoft.VMwareCloudSimple/virtualNetworks
      x-openapi-router-controller: openapi_server.controllers.virtual_networks_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.VMwareCloudSimple/locations/{regionId}/usages:
    get:
      description: Returns list of usage in region
      operationId: usages_list
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: "The region Id (westus, eastus)"
        in: path
        name: region_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The filter to apply on the list operation. only name.value is
          allowed here as a filter e.g. $filter=name.value eq 'xxxx'
        in: query
        name: $filter
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageListResponse'
          description: successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CSRPError'
          description: General Error
      summary: Implements Usages List method
      tags:
      - AvailabilityUsages
      x-ms-examples:
        ListUsages:
          parameters:
            api-version: 2019-04-01
            regionId: westus2
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                value:
                - currentValue: 1
                  limit: 5
                  name:
                    localizedValue: CS28-Node
                    value: general
                  unit: Count
                - currentValue: 0
                  limit: 5
                  name:
                    localizedValue: CS36-Node
                    value: large
                  unit: Count
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.availability_usages_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.VMwareCloudSimple/virtualMachines:
    get:
      description: Returns list virtual machine within subscription
      operationId: virtual_machines_list_by_subscription
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The filter to apply on the list operation
        in: query
        name: $filter
        schema:
          type: string
      - description: The maximum number of record sets to return
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: to be used by nextLink implementation
        in: query
        name: $skipToken
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualMachineListResponse'
          description: successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CSRPError'
          description: General Error
      summary: Implements list virtual machine within subscription method
      tags:
      - VirtualMachines
      x-ms-examples:
        ListVirtualMachines:
          parameters:
            api-version: 2019-04-01
            regionId: westus2
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                value:
                - id: "/subscriptions/{subscription-id}/resourceGroups/myResourceGroup-1/providers/Microsoft.VMwareCloudSimple/virtualMachines/virtualMachine-1"
                  location: westus2
                  name: virtualMachine-1
                  properties:
                    amountOfRam: 4096
                    controllers:
                    - id: "1000"
                      name: SCSI controller 0
                      subType: LSI_PARALEL
                      type: SCSI
                    disks:
                    - controllerId: "1000"
                      independenceMode: persistent
                      totalSize: 10485760
                      virtualDiskId: "2000"
                      virtualDiskName: Hard disk 1
                    guestOS: Other (32-bit)
                    guestOSType: other
                    nics:
                    - macAddress: 00:50:56:a6:d0:e1
                      network:
                        id: "/subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud/virtualNetworks/dvportgroup-19"
                      nicType: E1000
                      powerOnBoot: true
                      virtualNicId: "4000"
                      virtualNicName: Network adapter 1
                    numberOfCores: 2
                    privateCloudId: "/subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud"
                    resourcePool:
                      id: "/subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/rp-test/resourcepools/resgroup-26"
                    templateId: "/subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud/virtualMachineTemplates/vm-34"
                    vmId: vm-100
                    vmwaretools: "10309"
                  tags:
                    inUse: "true"
                  type: Microsoft.VMwareCloudSimple/virtualMachines
                - id: "/subscriptions/{subscription-id}/resourceGroups/myResourceGroup-2/providers/Microsoft.VMwareCloudSimple/virtualMachines/virtualMachine-2"
                  location: westus2
                  name: virtualMachine-2
                  properties:
                    amountOfRam: 4096
                    controllers:
                    - id: "1000"
                      name: SCSI controller 0
                      subType: LSI_PARALEL
                      type: SCSI
                    disks:
                    - controllerId: "1000"
                      independenceMode: persistent
                      totalSize: 10485760
                      virtualDiskId: "2000"
                      virtualDiskName: Hard disk 1
                    guestOS: Other (32-bit)
                    guestOSType: other
                    nics:
                    - macAddress: 00:50:56:a6:33:12
                      network:
                        id: "/subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud/virtualNetworks/dvportgroup-19"
                      nicType: E1000
                      powerOnBoot: true
                      virtualNicId: "4000"
                      virtualNicName: Network adapter 1
                    numberOfCores: 2
                    privateCloudId: "/subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud"
                    resourcePool:
                      id: "/subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/rp-test/resourcepools/resgroup-26"
                    templateId: "/subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud/virtualMachineTemplates/vm-34"
                    vmId: vm-101
                    vmwaretools: "10309"
                  tags:
                    inUse: "true"
                  type: Microsoft.VMwareCloudSimple/virtualMachines
                - id: "/subscriptions/{subscription-id}/resourceGroups/myResourceGroup-1/providers/Microsoft.VMwareCloudSimple/virtualMachines/virtualMachine-3"
                  location: westus2
                  name: virtualMachine-3
                  properties:
                    amountOfRam: 4096
                    controllers:
                    - id: "1000"
                      name: SCSI controller 0
                      subType: LSI_PARALEL
                      type: SCSI
                    disks:
                    - controllerId: "1000"
                      independenceMode: persistent
                      totalSize: 10485760
                      virtualDiskId: "2000"
                      virtualDiskName: Hard disk 1
                    guestOS: Other (32-bit)
                    guestOSType: other
                    nics:
                    - macAddress: 00:50:56:a6:63:f3
                      network:
                        id: "/subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud/virtualNetworks/dvportgroup-19"
                      nicType: E1000
                      powerOnBoot: true
                      virtualNicId: "4000"
                      virtualNicName: Network adapter 1
                    numberOfCores: 2
                    privateCloudId: "/subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud"
                    resourcePool:
                      id: "/subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/rp-test/resourcepools/resgroup-26"
                    templateId: "/subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud/virtualMachineTemplates/vm-34"
                    vmId: vm-102
                    vmwaretools: "10309"
                  tags:
                    inUse: "true"
                  type: Microsoft.VMwareCloudSimple/virtualMachines
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.virtual_machines_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.VMwareCloudSimple/dedicatedCloudNodes:
    get:
      description: Returns list of dedicate cloud nodes within resource group
      operationId: dedicated_cloud_nodes_list_by_resource_group
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The filter to apply on the list operation
        in: query
        name: $filter
        schema:
          type: string
      - description: The maximum number of record sets to return
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: to be used by nextLink implementation
        in: query
        name: $skipToken
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DedicatedCloudNodeListResponse'
          description: successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CSRPError'
          description: General Error
      summary: Implements list of dedicated cloud nodes within RG method
      tags:
      - DedicatedCloudNodes
      x-ms-examples:
        ListRGDedicatedCloudNodes:
          parameters:
            api-version: 2019-04-01
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                value:
                - id: "/subscriptions/{subscription-id}/resourcegroups/myResourceGroup/providers/Microsoft.VMwareCloudSimple/dedicatedCloudNodes/node-east-1"
                  location: eastus
                  name: node-east-1
                  properties:
                    availabilityZoneId: az1
                    availabilityZoneName: Availability Zone 1
                    cloudRackName: cloud_rack_1
                    created: 2019-05-21T07:32:12.134Z
                    nodesCount: 0
                    placementGroupId: n2
                    placementGroupName: Placement Group 2
                    privateCloudId: private_cloud_id
                    privateCloudName: private_cloud_name
                    purchaseId: 225fadec-3bbe-4e61-a119-ff102da67d0d
                    skuDescription:
                      id: general
                      name: CS28-Node
                    status: used
                    vmwareClusterName: Cluster
                  sku:
                    name: VMware_CloudSimple_CS28
                  type: Microsoft.VMwareCloudSimple/dedicatedCloudNodes
                - id: "/subscriptions/{subscription-id}/resourcegroups/myResourceGroup/providers/Microsoft.VMwareCloudSimple/dedicatedCloudNodes/node-east-2"
                  location: eastus
                  name: node-east-2
                  properties:
                    availabilityZoneId: az1
                    availabilityZoneName: Availability Zone 1
                    cloudRackName: cloud_rack_1
                    created: 2019-05-21T07:32:12.114Z
                    nodesCount: 0
                    placementGroupId: n2
                    placementGroupName: Placement Group 2
                    privateCloudId: "/subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud"
                    privateCloudName: private_cloud_name
                    purchaseId: 225fadec-3bbe-4e61-a119-ff102da67d0d
                    skuDescription:
                      id: general
                      name: CS28-Node
                    status: used
                    vmwareClusterName: Cluster
                  sku:
                    name: VMware_CloudSimple_CS28
                  type: Microsoft.VMwareCloudSimple/dedicatedCloudNodes
                - id: "/subscriptions/{subscription-id}/resourcegroups/myResourceGroup/providers/Microsoft.VMwareCloudSimple/dedicatedCloudNodes/myNode"
                  location: eastus
                  name: myNode
                  properties:
                    availabilityZoneId: az1
                    availabilityZoneName: Availability Zone 1
                    cloudRackName: cloud_rack_1
                    created: 2019-05-08T09:35:47.961Z
                    nodesCount: 0
                    placementGroupId: n2
                    placementGroupName: Placement Group 2
                    privateCloudId: "/subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud"
                    privateCloudName: myPrivateCloud
                    purchaseId: b3fcd958-f19c-4421-ab46-e4fa9cc8514e
                    skuDescription:
                      id: general
                      name: CS28-Node
                    status: used
                    vmwareClusterName: Cluster
                  sku:
                    name: VMware_CloudSimple_CS28
                  type: Microsoft.VMwareCloudSimple/dedicatedCloudNodes
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.dedicated_cloud_nodes_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.VMwareCloudSimple/dedicatedCloudNodes/{dedicatedCloudNodeName}
  : delete:
      description: Delete dedicated cloud node
      operationId: dedicated_cloud_nodes_delete
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: dedicated cloud node name
        in: path
        name: dedicatedCloudNodeName
        required: true
        schema:
          pattern: "^[a-zA-Z0-9]([-_.a-zA-Z0-9]*[a-zA-Z0-9])?$"
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: no content. resource does not exist and the request is well
            formed
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CSRPError'
          description: General Error
          headers:
            Content-Type:
              schema:
                default: application/json
                type: string
      summary: Implements dedicated cloud node DELETE method
      tags:
      - DedicatedCloudNodes
      x-ms-examples:
        DeleteDedicatedCloudNode:
          parameters:
            api-version: 2019-04-01
            dedicatedCloudNodeName: myNode
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.dedicated_cloud_nodes_controller
    get:
      description: Returns dedicated cloud node
      operationId: dedicated_cloud_nodes_get
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: dedicated cloud node name
        in: path
        name: dedicatedCloudNodeName
        required: true
        schema:
          pattern: "^[a-zA-Z0-9]([-_.a-zA-Z0-9]*[a-zA-Z0-9])?$"
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DedicatedCloudNode'
          description: successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CSRPError'
          description: General Error
      summary: Implements dedicated cloud node GET method
      tags:
      - DedicatedCloudNodes
      x-ms-examples:
        GetDedicatedCloudNode:
          parameters:
            api-version: 2019-04-01
            dedicatedCloudNodeName: myNode
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                id: "/subscriptions/{subscription-id}/resourcegroups/myResourceGroup/providers/Microsoft.VMwareCloudSimple/dedicatedCloudNodes/myNode"
                location: eastus
                name: myNode
                properties:
                  availabilityZoneId: az1
                  availabilityZoneName: Availability Zone 1
                  cloudRackName: cloud_rack_1
                  created: 2019-05-21T07:32:12.114Z
                  nodesCount: 0
                  placementGroupId: n2
                  placementGroupName: Placement Group 2
                  privateCloudId: "/subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud"
                  privateCloudName: private_cloud_name
                  purchaseId: 225fadec-3bbe-4e61-a119-ff102da67d0d
                  skuDescription:
                    id: general
                    name: CS28-Node
                  status: used
                  vmwareClusterName: Cluster
                sku:
                  name: VMware_CloudSimple_CS28
                type: Microsoft.VMwareCloudSimple/dedicatedCloudNodes
      x-openapi-router-controller: openapi_server.controllers.dedicated_cloud_nodes_controller
    patch:
      description: Patches dedicated node properties
      operationId: dedicated_cloud_nodes_update
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: dedicated cloud node name
        in: path
        name: dedicatedCloudNodeName
        required: true
        schema:
          pattern: "^[a-zA-Z0-9]([-_.a-zA-Z0-9]*[a-zA-Z0-9])?$"
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchPayload'
        description: Patch Dedicated Cloud Node request
        required: true
        x-body-name: dedicatedCloudNodeRequest
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DedicatedCloudNode'
          description: "If resource is created or updated successfully, 200 should\
            \ be returned"
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CSRPError'
          description: General Error
      summary: Implements dedicated cloud node PATCH method
      tags:
      - DedicatedCloudNodes
      x-ms-examples:
        PatchDedicatedCloudNode:
          parameters:
            Referer: https://management.azure.com/
            api-version: 2019-04-01
            dedicatedCloudNodeName: myNode
            dedicatedCloudNodeRequest:
              tags:
                myTag: tagValue
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                id: "/subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.VMwareCloudSimple/dedicatedCloudNodes/myNode"
                location: westus
                name: myNode
                properties:
                  availabilityZoneId: az1
                  created: 2019-05-21T13:43:26.441Z
                  nodesCount: 0
                  placementGroupId: n1
                  purchaseId: 56acbd46-3d36-4bbf-9b08-57c30fdf6932
                  skuDescription:
                    id: general
                    name: CS28-Node
                  status: unused
                tags:
                  myTag: tagValue
                type: Microsoft.VMwareCloudSimple/dedicatedCloudNodes
      x-codegen-request-body-name: dedicatedCloudNodeRequest
      x-openapi-router-controller: openapi_server.controllers.dedicated_cloud_nodes_controller
    put:
      description: Returns dedicated cloud node by its name
      operationId: dedicated_cloud_nodes_create_or_update
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: referer url
        in: header
        name: referer
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: dedicated cloud node name
        in: path
        name: dedicatedCloudNodeName
        required: true
        schema:
          pattern: "^[a-zA-Z0-9]([-_.a-zA-Z0-9]*[a-zA-Z0-9])?$"
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DedicatedCloudNode'
        description: Create Dedicated Cloud Node request
        required: true
        x-body-name: dedicatedCloudNodeRequest
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DedicatedCloudNode'
          description: "If resource is created or updated successfully, 200 should\
            \ be returned"
          headers:
            Retry-After:
              schema:
                type: integer
            Azure-AsyncOperation:
              schema:
                type: string
            Location:
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CSRPError'
          description: General Error
      summary: Implements dedicated cloud node PUT method
      tags:
      - DedicatedCloudNodes
      x-ms-examples:
        CreateDedicatedCloudNode:
          parameters:
            Referer: https://management.azure.com/
            api-version: 2019-04-01
            dedicatedCloudNodeName: myNode
            dedicatedCloudNodeRequest:
              location: westus
              properties:
                availabilityZoneId: az1
                nodesCount: 1
                placementGroupId: n1
                purchaseId: 56acbd46-3d36-4bbf-9b08-57c30fdf6932
                skuDescription:
                  id: general
                  name: CS28-Node
              sku:
                name: VMware_CloudSimple_CS28
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                id: "/subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.VMwareCloudSimple/dedicatedCloudNodes/myNode"
                location: westus
                name: myNode
                properties:
                  availabilityZoneId: az1
                  created: 2019-05-21T13:43:26.441Z
                  nodesCount: 0
                  placementGroupId: n1
                  provisioningState: Accepted
                  purchaseId: 56acbd46-3d36-4bbf-9b08-57c30fdf6932
                  skuDescription:
                    id: general
                    name: CS28-Node
                  status: unused
                sku:
                  name: VMware_CloudSimple_CS28
                type: Microsoft.VMwareCloudSimple/dedicatedCloudNodes
      x-ms-long-running-operation: true
      x-codegen-request-body-name: dedicatedCloudNodeRequest
      x-openapi-router-controller: openapi_server.controllers.dedicated_cloud_nodes_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.VMwareCloudSimple/dedicatedCloudServices:
    get:
      description: Returns list of dedicated cloud services within a resource group
      operationId: dedicated_cloud_services_list_by_resource_group
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The filter to apply on the list operation
        in: query
        name: $filter
        schema:
          type: string
      - description: The maximum number of record sets to return
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: to be used by nextLink implementation
        in: query
        name: $skipToken
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DedicatedCloudServiceListResponse'
          description: successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CSRPError'
          description: General Error
      summary: Implements list of dedicatedCloudService objects within RG method
      tags:
      - DedicatedCloudServices
      x-ms-examples:
        ListRGDedicatedCloudServices:
          parameters:
            api-version: 2019-04-01
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                value:
                - id: "/subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.VMwareCloudSimple/dedicatedCloudServices/service-east"
                  location: eastus
                  name: service-east
                  properties:
                    gatewaySubnet: 10.101.201.0/28
                    isAccountOnboarded: onBoarded
                    serviceURL: https://eastus-he.azure.cloudsimple.com
                  type: Microsoft.VMwareCloudSimple/dedicatedCloudServices
                - id: "/subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.VMwareCloudSimple/dedicatedCloudServices/service-west"
                  location: westus
                  name: service-west
                  properties:
                    gatewaySubnet: 10.0.0.0/28
                    isAccountOnboarded: onBoarded
                    serviceURL: https://westus-he.azure.cloudsimple.com
                  type: Microsoft.VMwareCloudSimple/dedicatedCloudServices
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.dedicated_cloud_services_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.VMwareCloudSimple/dedicatedCloudServices/{dedicatedCloudServiceName}
  : delete:
      description: Delete dedicate cloud service
      operationId: dedicated_cloud_services_delete
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: dedicated cloud service name
        in: path
        name: dedicatedCloudServiceName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: no content. resource does not exist and the request is well
            formed
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CSRPError'
          description: General Error
          headers:
            Content-Type:
              schema:
                default: application/json
                type: string
      summary: Implements dedicatedCloudService DELETE method
      tags:
      - DedicatedCloudServices
      x-ms-examples:
        DeleteDedicatedCloudService:
          parameters:
            api-version: 2019-04-01
            dedicatedCloudServiceName: myService
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "204": {}
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.dedicated_cloud_services_controller
    get:
      description: Returns Dedicate Cloud Service
      operationId: dedicated_cloud_services_get
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: dedicated cloud Service name
        in: path
        name: dedicatedCloudServiceName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DedicatedCloudService'
          description: successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CSRPError'
          description: General Error
      summary: Implements dedicatedCloudService GET method
      tags:
      - DedicatedCloudServices
      x-ms-examples:
        GetDedicatedCloudService:
          parameters:
            api-version: 2019-04-01
            dedicatedCloudServiceName: myService
            dedicatedCloudServiceRequest:
              location: westus
              name: myService
              properties:
                gatewaySubnet: 10.0.0.0
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                id: "/subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.VMwareCloudSimple/dedicatedCloudServices/myService"
                location: westus
                name: myService
                properties:
                  gatewaySubnet: 10.0.10.0/28
                  isAccountOnboarded: notOnBoarded
                  nodes: 1
                  serviceURL: https://westus-he.azure.cloudsimple.com
                type: Microsoft.VMwareCloudSimple/dedicatedCloudServices
      x-openapi-router-controller: openapi_server.controllers.dedicated_cloud_services_controller
    patch:
      description: Patch dedicated cloud service's properties
      operationId: dedicated_cloud_services_update
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: dedicated cloud service name
        in: path
        name: dedicatedCloudServiceName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchPayload'
        description: Patch Dedicated Cloud Service request
        required: true
        x-body-name: dedicatedCloudServiceRequest
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DedicatedCloudService'
          description: "If resource is created or updated successfully, 200 should\
            \ be returned"
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CSRPError'
          description: General Error
      summary: Implements dedicatedCloudService PATCH method
      tags:
      - DedicatedCloudServices
      x-ms-examples:
        PatchDedicatedService:
          parameters:
            api-version: 2019-04-01
            dedicatedCloudServiceName: myService
            dedicatedCloudServiceRequest:
              tags:
                myTag: tagValue
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                id: "/subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.VMwareCloudSimple/dedicatedCloudServices/myService"
                location: westus2
                name: myService
                properties:
                  gatewaySubnet: 10.0.0.0/28
                  isAccountOnboarded: onBoarded
                  serviceURL: https://westus-he.azure.cloudsimple.com
                tags:
                  myTag: tagValue
                type: Microsoft.VMwareCloudSimple/dedicatedCloudServices
      x-codegen-request-body-name: dedicatedCloudServiceRequest
      x-openapi-router-controller: openapi_server.controllers.dedicated_cloud_services_controller
    put:
      description: Create dedicate cloud service
      operationId: dedicated_cloud_services_create_or_update
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: dedicated cloud Service name
        in: path
        name: dedicatedCloudServiceName
        required: true
        schema:
          pattern: "^[a-zA-Z0-9]([-_.a-zA-Z0-9]*[a-zA-Z0-9])?$"
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DedicatedCloudService'
        description: Create Dedicated Cloud Service request
        required: true
        x-body-name: dedicatedCloudServiceRequest
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DedicatedCloudService'
          description: "If resource is created or updated successfully, 200 should\
            \ be returned"
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CSRPError'
          description: General Error
      summary: Implements dedicated cloud service PUT method
      tags:
      - DedicatedCloudServices
      x-ms-examples:
        CreateDedicatedCloudService:
          parameters:
            Referer: https://management.azure.com/
            api-version: 2019-04-01
            dedicatedCloudServiceName: myService
            dedicatedCloudServiceRequest:
              location: westus
              properties:
                gatewaySubnet: 10.0.0.0
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                id: "/subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.VMwareCloudSimple/dedicatedCloudServices/myService"
                location: westus
                name: myService
                properties:
                  gatewaySubnet: 10.0.10.0/28
                  isAccountOnboarded: notOnBoarded
                type: Microsoft.VMwareCloudSimple/dedicatedCloudServices
      x-codegen-request-body-name: dedicatedCloudServiceRequest
      x-openapi-router-controller: openapi_server.controllers.dedicated_cloud_services_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.VMwareCloudSimple/virtualMachines:
    get:
      description: Returns list of virtual machine within resource group
      operationId: virtual_machines_list_by_resource_group
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The filter to apply on the list operation
        in: query
        name: $filter
        schema:
          type: string
      - description: The maximum number of record sets to return
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: to be used by nextLink implementation
        in: query
        name: $skipToken
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualMachineListResponse'
          description: successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CSRPError'
          description: General Error
      summary: Implements list virtual machine within RG method
      tags:
      - VirtualMachines
      x-ms-examples:
        ListRGVirtualMachines:
          parameters:
            api-version: 2019-04-01
            regionId: westus2
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                value:
                - id: "/subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.VMwareCloudSimple/virtualMachines/virtualMachine-2"
                  location: westus2
                  name: virtualMachine-2
                  properties:
                    amountOfRam: 4096
                    controllers:
                    - id: "1000"
                      name: SCSI controller 0
[...]
