openapi: 3.0.1
info:
  description: The Container Service Client.
  title: ContainerServiceClient
  version: 2015-11-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/compute/resource-manager/Microsoft.ContainerService/preview/2015-11-01-preview/containerService.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: compute-containerService
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/containerServices:
    get:
      description: The operation to list container services.
      operationId: ContainerService_ListByResourceGroup
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContainerServiceListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ContainerServiceListResult'
          description: ""
      tags:
      - ContainerService
      x-ms-pageable: {}
      x-accepts:
      - application/json
      - text/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/containerServices/{containerServiceName}
  : delete:
      description: The operation to delete a container service.
      operationId: ContainerService_Delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the container service within the given subscription
          and resource group.
        in: path
        name: containerServiceName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "202":
          content: {}
          description: ""
        "204":
          content: {}
          description: ""
      tags:
      - ContainerService
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
    get:
      description: The operation to get a container service.
      operationId: ContainerService_Get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the container service within the given subscription
          and resource group.
        in: path
        name: containerServiceName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContainerService'
            text/json:
              schema:
                $ref: '#/components/schemas/ContainerService'
          description: ""
      tags:
      - ContainerService
      x-accepts:
      - application/json
      - text/json
    put:
      description: The operation to create or update a container service.
      operationId: ContainerService_CreateOrUpdate
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the container service within the given subscription
          and resource group.
        in: path
        name: containerServiceName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContainerService'
          text/json:
            schema:
              $ref: '#/components/schemas/ContainerService'
        description: Parameters supplied to the Create Container Service operation.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContainerService'
            text/json:
              schema:
                $ref: '#/components/schemas/ContainerService'
          description: ""
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContainerService'
            text/json:
              schema:
                $ref: '#/components/schemas/ContainerService'
          description: ""
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContainerService'
            text/json:
              schema:
                $ref: '#/components/schemas/ContainerService'
          description: ""
      tags:
      - ContainerService
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/json
components:
  parameters:
    ApiVersionParameter:
      description: Client Api Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    SubscriptionIdParameter:
      description: Subscription credentials which uniquely identify Microsoft Azure
        subscription. The subscription ID forms part of the URI for every service
        call.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    ContainerService:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: Container service
      example:
        properties:
          agentPoolProfiles:
          - fqdn: fqdn
            count: 8
            name: name
            dnsPrefix: dnsPrefix
            vmSize: Standard_A0
          - fqdn: fqdn
            count: 8
            name: name
            dnsPrefix: dnsPrefix
            vmSize: Standard_A0
          orchestratorProfile:
            orchestratorType: Mesos
          windowsProfile:
            adminUsername: adminUsername
            adminPassword: adminPassword
          diagnosticsProfile:
            vmDiagnostics:
              storageUri: storageUri
              enabled: true
          provisioningState: provisioningState
          linuxProfile:
            adminUsername: adminUsername
            ssh:
              publicKeys:
              - keyData: keyData
              - keyData: keyData
          masterProfile:
            fqdn: fqdn
            count: 6
            dnsPrefix: dnsPrefix
      properties:
        properties:
          $ref: '#/components/schemas/ContainerServiceProperties'
    ContainerServiceAgentPoolProfile:
      description: Profile for container service agent pool
      example:
        fqdn: fqdn
        count: 8
        name: name
        dnsPrefix: dnsPrefix
        vmSize: Standard_A0
      properties:
        count:
          description: No. of agents (VMs) that will host docker containers
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        dnsPrefix:
          description: DNS prefix to be used to create FQDN for this agent pool
          type: string
        fqdn:
          description: FQDN for the agent pool
          readOnly: true
          type: string
        name:
          description: Unique name of the agent pool profile within the context of
            the subscription and resource group
          type: string
        vmSize:
          description: Size of agent VMs
          enum:
          - Standard_A0
          - Standard_A1
          - Standard_A2
          - Standard_A3
          - Standard_A4
          - Standard_A5
          - Standard_A6
          - Standard_A7
          - Standard_A8
          - Standard_A9
          - Standard_A10
          - Standard_A11
          - Standard_D1
          - Standard_D2
          - Standard_D3
          - Standard_D4
          - Standard_D11
          - Standard_D12
          - Standard_D13
          - Standard_D14
          - Standard_D1_v2
          - Standard_D2_v2
          - Standard_D3_v2
          - Standard_D4_v2
          - Standard_D5_v2
          - Standard_D11_v2
          - Standard_D12_v2
          - Standard_D13_v2
          - Standard_D14_v2
          - Standard_G1
          - Standard_G2
          - Standard_G3
          - Standard_G4
          - Standard_G5
          - Standard_DS1
          - Standard_DS2
          - Standard_DS3
          - Standard_DS4
          - Standard_DS11
          - Standard_DS12
          - Standard_DS13
          - Standard_DS14
          - Standard_GS1
          - Standard_GS2
          - Standard_GS3
          - Standard_GS4
          - Standard_GS5
          type: string
          x-ms-enum:
            modelAsString: true
            name: ContainerServiceVMSizeTypes
      required:
      - dnsPrefix
      - name
      type: object
    ContainerServiceDiagnosticsProfile:
      example:
        vmDiagnostics:
          storageUri: storageUri
          enabled: true
      properties:
        vmDiagnostics:
          $ref: '#/components/schemas/ContainerServiceVMDiagnostics'
      type: object
    ContainerServiceLinuxProfile:
      description: Profile for Linux VM
      example:
        adminUsername: adminUsername
        ssh:
          publicKeys:
          - keyData: keyData
          - keyData: keyData
      properties:
        adminUsername:
          description: The administrator username to use for all Linux VMs
          type: string
        ssh:
          $ref: '#/components/schemas/ContainerServiceSshConfiguration'
      required:
      - adminUsername
      - ssh
      type: object
    ContainerServiceListResult:
      description: The List Container Service operation response
      example:
        value:
        - properties:
            agentPoolProfiles:
            - fqdn: fqdn
              count: 8
              name: name
              dnsPrefix: dnsPrefix
              vmSize: Standard_A0
            - fqdn: fqdn
              count: 8
              name: name
              dnsPrefix: dnsPrefix
              vmSize: Standard_A0
            orchestratorProfile:
              orchestratorType: Mesos
            windowsProfile:
              adminUsername: adminUsername
              adminPassword: adminPassword
            diagnosticsProfile:
              vmDiagnostics:
                storageUri: storageUri
                enabled: true
            provisioningState: provisioningState
            linuxProfile:
              adminUsername: adminUsername
              ssh:
                publicKeys:
                - keyData: keyData
                - keyData: keyData
            masterProfile:
              fqdn: fqdn
              count: 6
              dnsPrefix: dnsPrefix
        - properties:
            agentPoolProfiles:
            - fqdn: fqdn
              count: 8
              name: name
              dnsPrefix: dnsPrefix
              vmSize: Standard_A0
            - fqdn: fqdn
              count: 8
              name: name
              dnsPrefix: dnsPrefix
              vmSize: Standard_A0
            orchestratorProfile:
              orchestratorType: Mesos
            windowsProfile:
              adminUsername: adminUsername
              adminPassword: adminPassword
            diagnosticsProfile:
              vmDiagnostics:
                storageUri: storageUri
                enabled: true
            provisioningState: provisioningState
            linuxProfile:
              adminUsername: adminUsername
              ssh:
                publicKeys:
                - keyData: keyData
                - keyData: keyData
            masterProfile:
              fqdn: fqdn
              count: 6
              dnsPrefix: dnsPrefix
      properties:
        value:
          description: Gets or sets the list of container services.
          items:
            $ref: '#/components/schemas/ContainerService'
          type: array
      type: object
    ContainerServiceMasterProfile:
      description: Profile for container service master
      example:
        fqdn: fqdn
        count: 6
        dnsPrefix: dnsPrefix
      properties:
        count:
          description: Number of masters (VMs) in the container cluster
          enum:
          - 1
          - 3
          - 5
          format: int32
          type: integer
        dnsPrefix:
          description: DNS prefix to be used to create FQDN for master
          type: string
        fqdn:
          description: FQDN for the master
          readOnly: true
          type: string
      required:
      - dnsPrefix
      type: object
    ContainerServiceOrchestratorProfile:
      description: Profile for Orchestrator
      example:
        orchestratorType: Mesos
      properties:
        orchestratorType:
          description: Specifies what orchestrator will be used to manage container
            cluster resources.
          enum:
          - Mesos
          - SwarmPreview
          - DCOS
          type: string
          x-ms-enum:
            modelAsString: false
            name: ContainerServiceOchestratorTypes
      type: object
    ContainerServiceProperties:
      description: Properties of container service
      example:
        agentPoolProfiles:
        - fqdn: fqdn
          count: 8
          name: name
          dnsPrefix: dnsPrefix
          vmSize: Standard_A0
        - fqdn: fqdn
          count: 8
          name: name
          dnsPrefix: dnsPrefix
          vmSize: Standard_A0
        orchestratorProfile:
          orchestratorType: Mesos
        windowsProfile:
          adminUsername: adminUsername
          adminPassword: adminPassword
        diagnosticsProfile:
          vmDiagnostics:
            storageUri: storageUri
            enabled: true
        provisioningState: provisioningState
        linuxProfile:
          adminUsername: adminUsername
          ssh:
            publicKeys:
            - keyData: keyData
            - keyData: keyData
        masterProfile:
          fqdn: fqdn
          count: 6
          dnsPrefix: dnsPrefix
      properties:
        agentPoolProfiles:
          description: Properties of agent pools
          items:
            $ref: '#/components/schemas/ContainerServiceAgentPoolProfile'
          type: array
        diagnosticsProfile:
          $ref: '#/components/schemas/ContainerServiceDiagnosticsProfile'
        linuxProfile:
          $ref: '#/components/schemas/ContainerServiceLinuxProfile'
        masterProfile:
          $ref: '#/components/schemas/ContainerServiceMasterProfile'
        orchestratorProfile:
          $ref: '#/components/schemas/ContainerServiceOrchestratorProfile'
        provisioningState:
          description: "Gets the provisioning state, which only appears in the response."
          readOnly: true
          type: string
        windowsProfile:
          $ref: '#/components/schemas/ContainerServiceWindowsProfile'
      required:
      - agentPoolProfiles
      - linuxProfile
      - masterProfile
      type: object
    ContainerServiceSshConfiguration:
      description: SSH configuration for Linux based VMs running on Azure
      example:
        publicKeys:
        - keyData: keyData
        - keyData: keyData
      properties:
        publicKeys:
          description: Gets or sets the list of SSH public keys used to authenticate
            with Linux based VMs
          items:
            $ref: '#/components/schemas/ContainerServiceSshPublicKey'
          type: array
      type: object
    ContainerServiceSshPublicKey:
      description: Contains information about SSH certificate public key data.
      example:
        keyData: keyData
      properties:
        keyData:
          description: Gets or sets Certificate public key used to authenticate with
            VM through SSH. The certificate must be in Pem format with or without
            headers.
          type: string
      required:
      - keyData
      type: object
    ContainerServiceVMDiagnostics:
      description: Describes VM Diagnostics.
      example:
        storageUri: storageUri
        enabled: true
      properties:
        enabled:
          description: Gets or sets whether VM Diagnostic Agent should be provisioned
            on the Virtual Machine.
          type: boolean
        storageUri:
          description: Gets or sets whether VM Diagnostic Agent should be provisioned
            on the Virtual Machine.
          readOnly: true
          type: string
      type: object
    ContainerServiceWindowsProfile:
      description: Profile for Windows jumpbox
      example:
        adminUsername: adminUsername
        adminPassword: adminPassword
      properties:
        adminPassword:
          description: The administrator password to use for Windows jumpbox
          type: string
        adminUsername:
          description: The administrator username to use for Windows jumpbox
          type: string
      required:
      - adminPassword
      - adminUsername
      type: object
    Resource:
      description: The Resource model definition.
      properties:
        id:
          description: Resource Id
          readOnly: true
          type: string
        location:
          description: Resource location
          type: string
        name:
          description: Resource name
          readOnly: true
          type: string
        tags:
          additionalProperties:
            type: string
          description: Resource tags
          type: object
        type:
          description: Resource type
          readOnly: true
          type: string
      required:
      - location
      type: object
      x-ms-azure-resource: true
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

