openapi: 3.0.0
info:
  contact:
    email: bdp@betfair.com
    name: BDP Support
    url: https://developer.betfair.com/support/
    x-twitter: Betfair
  description: API to receive streamed updates. This is an ssl socket connection of
    CRLF delimited json messages (see RequestMessage & ResponseMessage)
  license:
    name: See BDP site
  title: "Betfair: Exchange Streaming API"
  version: 1.0.1423
  x-apisguru-categories:
  - entertainment
  x-logo:
    url: https://twitter.com/Betfair/profile_image?size=original
  x-origin:
  - format: openapi
    url: https://raw.githubusercontent.com/betfair/stream-api-sample-code/master/ESASwaggerSchema.json
    version: "3.0"
  x-providerName: betfair.com
servers:
- url: http://stream-api.betfair.com:443/api
paths:
  /request:
    post:
      description: This is a socket protocol delimited by CRLF (not http)
      operationId: request_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AllRequestTypesExample'
        description: Requests are sent to socket
        required: true
        x-body-name: body
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllResponseTypesExample'
          description: Responses are received from socket
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
components:
  schemas:
    AllRequestTypesExample:
      example:
        opTypes: heartbeat
        heartbeat:
          op: op
          id: 6
        orderSubscriptionMessage:
          op: op
          segmentationEnabled: true
          orderFilter:
            includeOverallPosition: true
            accountIds:
            - 2
            - 2
            customerStrategyRefs:
            - customerStrategyRefs
            - customerStrategyRefs
            partitionMatchedByStrategyRef: true
          clk: clk
          heartbeatMs: 3
          initialClk: initialClk
          conflateMs: 9
          id: 7
        marketSubscription:
          op: op
          segmentationEnabled: true
          clk: clk
          heartbeatMs: 5
          initialClk: initialClk
          marketFilter:
            countryCodes:
            - countryCodes
            - countryCodes
            bettingTypes:
            - ODDS
            - ODDS
            turnInPlayEnabled: true
            marketTypes:
            - marketTypes
            - marketTypes
            venues:
            - venues
            - venues
            marketIds:
            - marketIds
            - marketIds
            eventIds:
            - eventIds
            - eventIds
            eventTypeIds:
            - eventTypeIds
            - eventTypeIds
            bspMarket: true
            raceTypes:
            - raceTypes
            - raceTypes
          conflateMs: 5
          id: 1
          marketDataFilter:
            ladderLevels: 2
            fields:
            - EX_BEST_OFFERS_DISP
            - EX_BEST_OFFERS_DISP
        authentication:
          op: op
          session: session
          appKey: appKey
          id: 0
      properties:
        authentication:
          $ref: '#/components/schemas/AuthenticationMessage'
        heartbeat:
          $ref: '#/components/schemas/HeartbeatMessage'
        marketSubscription:
          $ref: '#/components/schemas/MarketSubscriptionMessage'
        opTypes:
          enum:
          - heartbeat
          - authentication
          - marketSubscription
          - orderSubscription
          title: opTypes
          type: string
        orderSubscriptionMessage:
          $ref: '#/components/schemas/OrderSubscriptionMessage'
      title: AllRequestTypesExample
    AllResponseTypesExample:
      example:
        opTypes: connection
        marketChangeMessage:
          op: op
          ct: SUB_IMAGE
          clk: clk
          heartbeatMs: 5
          pt: 7
          initialClk: initialClk
          mc:
          - rc:
            - tv: 3.353193347011243
              batb:
              - - 6.683562403749608
                - 6.683562403749608
              - - 6.683562403749608
                - 6.683562403749608
              bdatl:
              - - 6.438423552598547
                - 6.438423552598547
              - - 6.438423552598547
                - 6.438423552598547
              spb:
              - - 2.8841621266687802
                - 2.8841621266687802
              - - 2.8841621266687802
                - 2.8841621266687802
              trd:
              - - 6.704019297950036
                - 6.704019297950036
              - - 6.704019297950036
                - 6.704019297950036
              spf: 6.778324963048013
              ltp: 1.284659006116532
              atb:
              - - 9.965781217890562
                - 9.965781217890562
              - - 9.965781217890562
                - 9.965781217890562
              spl:
              - - 6.878052220127876
                - 6.878052220127876
              - - 6.878052220127876
                - 6.878052220127876
              spn: 5.944895607614016
              atl:
              - - 9.369310271410669
                - 9.369310271410669
              - - 9.369310271410669
                - 9.369310271410669
              batl:
              - - 8.762042012749001
                - 8.762042012749001
              - - 8.762042012749001
                - 8.762042012749001
              hc: 3.5571952270680973
              id: 6
              bdatb:
              - - 9.018348186070783
                - 9.018348186070783
              - - 9.018348186070783
                - 9.018348186070783
            - tv: 3.353193347011243
              batb:
              - - 6.683562403749608
                - 6.683562403749608
              - - 6.683562403749608
                - 6.683562403749608
              bdatl:
              - - 6.438423552598547
                - 6.438423552598547
              - - 6.438423552598547
                - 6.438423552598547
              spb:
              - - 2.8841621266687802
                - 2.8841621266687802
              - - 2.8841621266687802
                - 2.8841621266687802
              trd:
              - - 6.704019297950036
                - 6.704019297950036
              - - 6.704019297950036
                - 6.704019297950036
              spf: 6.778324963048013
              ltp: 1.284659006116532
              atb:
              - - 9.965781217890562
                - 9.965781217890562
              - - 9.965781217890562
                - 9.965781217890562
              spl:
              - - 6.878052220127876
                - 6.878052220127876
              - - 6.878052220127876
                - 6.878052220127876
              spn: 5.944895607614016
              atl:
              - - 9.369310271410669
                - 9.369310271410669
              - - 9.369310271410669
                - 9.369310271410669
              batl:
              - - 8.762042012749001
                - 8.762042012749001
              - - 8.762042012749001
                - 8.762042012749001
              hc: 3.5571952270680973
              id: 6
              bdatb:
              - - 9.018348186070783
                - 9.018348186070783
              - - 9.018348186070783
                - 9.018348186070783
            img: true
            tv: 3.0937452626664474
            con: true
            marketDefinition:
              venue: venue
              raceType: raceType
              settledTime: 2000-01-23T04:56:07.000+00:00
              timezone: timezone
              eachWayDivisor: 2.3021358869347655
              regulators:
              - regulators
              - regulators
              marketType: marketType
              marketBaseRate: 7.386281948385884
              numberOfWinners: 1
              countryCode: countryCode
              lineMaxUnit: 2.027123023002322
              inPlay: true
              betDelay: 5
              bettingType: ODDS
              bspMarket: true
              lineMinUnit: 4.145608029883936
              numberOfActiveRunners: 1
              eventId: eventId
              crossMatching: true
              runnersVoidable: true
              turnInPlayEnabled: true
              keyLineDefinition:
                kl:
                - hc: 7.061401241503109
                  id: 9
                - hc: 7.061401241503109
                  id: 9
              priceLadderDefinition:
                type: CLASSIC
              suspendTime: 2000-01-23T04:56:07.000+00:00
              discountAllowed: true
              persistenceEnabled: true
              runners:
              - sortPriority: 4
                removalDate: 2000-01-23T04:56:07.000+00:00
                hc: 7.457744773683766
                id: 1
                adjustmentFactor: 1.4894159098541704
                bsp: 6.84685269835264
                status: ACTIVE
              - sortPriority: 4
                removalDate: 2000-01-23T04:56:07.000+00:00
                hc: 7.457744773683766
                id: 1
                adjustmentFactor: 1.4894159098541704
                bsp: 6.84685269835264
                status: ACTIVE
              version: 5
              eventTypeId: eventTypeId
              complete: true
              openDate: 2000-01-23T04:56:07.000+00:00
              bspReconciled: true
              lineInterval: 3.616076749251911
              marketTime: 2000-01-23T04:56:07.000+00:00
              status: INACTIVE
            id: id
          - rc:
            - tv: 3.353193347011243
              batb:
              - - 6.683562403749608
                - 6.683562403749608
              - - 6.683562403749608
                - 6.683562403749608
              bdatl:
              - - 6.438423552598547
                - 6.438423552598547
              - - 6.438423552598547
                - 6.438423552598547
              spb:
              - - 2.8841621266687802
                - 2.8841621266687802
              - - 2.8841621266687802
                - 2.8841621266687802
              trd:
              - - 6.704019297950036
                - 6.704019297950036
              - - 6.704019297950036
                - 6.704019297950036
              spf: 6.778324963048013
              ltp: 1.284659006116532
              atb:
              - - 9.965781217890562
                - 9.965781217890562
              - - 9.965781217890562
                - 9.965781217890562
              spl:
              - - 6.878052220127876
                - 6.878052220127876
              - - 6.878052220127876
                - 6.878052220127876
              spn: 5.944895607614016
              atl:
              - - 9.369310271410669
                - 9.369310271410669
              - - 9.369310271410669
                - 9.369310271410669
              batl:
              - - 8.762042012749001
                - 8.762042012749001
              - - 8.762042012749001
                - 8.762042012749001
              hc: 3.5571952270680973
              id: 6
              bdatb:
              - - 9.018348186070783
                - 9.018348186070783
              - - 9.018348186070783
                - 9.018348186070783
            - tv: 3.353193347011243
              batb:
              - - 6.683562403749608
                - 6.683562403749608
              - - 6.683562403749608
                - 6.683562403749608
              bdatl:
              - - 6.438423552598547
                - 6.438423552598547
              - - 6.438423552598547
                - 6.438423552598547
              spb:
              - - 2.8841621266687802
                - 2.8841621266687802
              - - 2.8841621266687802
                - 2.8841621266687802
              trd:
              - - 6.704019297950036
                - 6.704019297950036
              - - 6.704019297950036
                - 6.704019297950036
              spf: 6.778324963048013
              ltp: 1.284659006116532
              atb:
              - - 9.965781217890562
                - 9.965781217890562
              - - 9.965781217890562
                - 9.965781217890562
              spl:
              - - 6.878052220127876
                - 6.878052220127876
              - - 6.878052220127876
                - 6.878052220127876
              spn: 5.944895607614016
              atl:
              - - 9.369310271410669
                - 9.369310271410669
              - - 9.369310271410669
                - 9.369310271410669
              batl:
              - - 8.762042012749001
                - 8.762042012749001
              - - 8.762042012749001
                - 8.762042012749001
              hc: 3.5571952270680973
              id: 6
              bdatb:
              - - 9.018348186070783
                - 9.018348186070783
              - - 9.018348186070783
                - 9.018348186070783
            img: true
            tv: 3.0937452626664474
            con: true
            marketDefinition:
              venue: venue
              raceType: raceType
              settledTime: 2000-01-23T04:56:07.000+00:00
              timezone: timezone
              eachWayDivisor: 2.3021358869347655
              regulators:
              - regulators
              - regulators
              marketType: marketType
              marketBaseRate: 7.386281948385884
              numberOfWinners: 1
              countryCode: countryCode
              lineMaxUnit: 2.027123023002322
              inPlay: true
              betDelay: 5
              bettingType: ODDS
              bspMarket: true
              lineMinUnit: 4.145608029883936
              numberOfActiveRunners: 1
              eventId: eventId
              crossMatching: true
              runnersVoidable: true
              turnInPlayEnabled: true
              keyLineDefinition:
                kl:
                - hc: 7.061401241503109
                  id: 9
                - hc: 7.061401241503109
                  id: 9
              priceLadderDefinition:
                type: CLASSIC
              suspendTime: 2000-01-23T04:56:07.000+00:00
              discountAllowed: true
              persistenceEnabled: true
              runners:
              - sortPriority: 4
                removalDate: 2000-01-23T04:56:07.000+00:00
                hc: 7.457744773683766
                id: 1
                adjustmentFactor: 1.4894159098541704
                bsp: 6.84685269835264
                status: ACTIVE
              - sortPriority: 4
                removalDate: 2000-01-23T04:56:07.000+00:00
                hc: 7.457744773683766
                id: 1
                adjustmentFactor: 1.4894159098541704
                bsp: 6.84685269835264
                status: ACTIVE
              version: 5
              eventTypeId: eventTypeId
              complete: true
              openDate: 2000-01-23T04:56:07.000+00:00
              bspReconciled: true
              lineInterval: 3.616076749251911
              marketTime: 2000-01-23T04:56:07.000+00:00
              status: INACTIVE
            id: id
          conflateMs: 1
          id: 6
          segmentType: SEG_START
          status: 0
        connection:
          op: op
          connectionId: connectionId
          id: 0
        orderChangeMessage:
          op: op
          ct: SUB_IMAGE
          clk: clk
          heartbeatMs: 0
          oc:
          - accountId: 4
            orc:
            - mb:
              - - 3.0205796992916243
                - 3.0205796992916243
              - - 3.0205796992916243
                - 3.0205796992916243
              smc:
                key:
                  mb:
                  - - 7.04836565559697
                    - 7.04836565559697
                  - - 7.04836565559697
                    - 7.04836565559697
                  ml:
                  - - 5.533258397034986
                    - 5.533258397034986
                  - - 5.533258397034986
                    - 5.533258397034986
              uo:
              - cd: 0
                side: B
                sv: 7.933506881737151
                pt: L
                ot: L
                lsrc: lsrc
                p: 1.041444916118296
                sc: 9.132027271330688
                rc: rc
                s: 7.260521264802104
                pd: 4
                rac: rac
                md: 4
                ld: 6
                sl: 0.8774076871421566
                avp: 3.2588565619047607
                rfo: rfo
                sm: 9.702963800023566
                id: id
                bsp: 4.078845849666752
                rfs: rfs
                sr: 0.5199002018724985
                status: E
              - cd: 0
                side: B
                sv: 7.933506881737151
                pt: L
                ot: L
                lsrc: lsrc
                p: 1.041444916118296
                sc: 9.132027271330688
                rc: rc
                s: 7.260521264802104
                pd: 4
                rac: rac
                md: 4
                ld: 6
                sl: 0.8774076871421566
                avp: 3.2588565619047607
                rfo: rfo
                sm: 9.702963800023566
                id: id
                bsp: 4.078845849666752
                rfs: rfs
                sr: 0.5199002018724985
                status: E
              hc: 8.969578798196912
              id: 7
              fullImage: true
              ml:
              - - 3.0576100241049344
                - 3.0576100241049344
              - - 3.0576100241049344
                - 3.0576100241049344
            - mb:
              - - 3.0205796992916243
                - 3.0205796992916243
              - - 3.0205796992916243
                - 3.0205796992916243
              smc:
                key:
                  mb:
                  - - 7.04836565559697
                    - 7.04836565559697
                  - - 7.04836565559697
                    - 7.04836565559697
                  ml:
                  - - 5.533258397034986
                    - 5.533258397034986
                  - - 5.533258397034986
                    - 5.533258397034986
              uo:
              - cd: 0
                side: B
                sv: 7.933506881737151
                pt: L
                ot: L
                lsrc: lsrc
                p: 1.041444916118296
                sc: 9.132027271330688
                rc: rc
                s: 7.260521264802104
                pd: 4
                rac: rac
                md: 4
                ld: 6
                sl: 0.8774076871421566
                avp: 3.2588565619047607
                rfo: rfo
                sm: 9.702963800023566
                id: id
                bsp: 4.078845849666752
                rfs: rfs
                sr: 0.5199002018724985
                status: E
              - cd: 0
                side: B
                sv: 7.933506881737151
                pt: L
                ot: L
                lsrc: lsrc
                p: 1.041444916118296
                sc: 9.132027271330688
                rc: rc
                s: 7.260521264802104
                pd: 4
                rac: rac
                md: 4
                ld: 6
                sl: 0.8774076871421566
                avp: 3.2588565619047607
                rfo: rfo
                sm: 9.702963800023566
                id: id
                bsp: 4.078845849666752
                rfs: rfs
                sr: 0.5199002018724985
                status: E
              hc: 8.969578798196912
              id: 7
              fullImage: true
              ml:
              - - 3.0576100241049344
                - 3.0576100241049344
              - - 3.0576100241049344
                - 3.0576100241049344
            closed: true
            id: id
            fullImage: true
          - accountId: 4
            orc:
            - mb:
              - - 3.0205796992916243
                - 3.0205796992916243
              - - 3.0205796992916243
                - 3.0205796992916243
              smc:
                key:
                  mb:
                  - - 7.04836565559697
                    - 7.04836565559697
                  - - 7.04836565559697
                    - 7.04836565559697
                  ml:
                  - - 5.533258397034986
                    - 5.533258397034986
                  - - 5.533258397034986
                    - 5.533258397034986
              uo:
              - cd: 0
                side: B
                sv: 7.933506881737151
                pt: L
                ot: L
                lsrc: lsrc
                p: 1.041444916118296
                sc: 9.132027271330688
                rc: rc
                s: 7.260521264802104
                pd: 4
                rac: rac
                md: 4
                ld: 6
                sl: 0.8774076871421566
                avp: 3.2588565619047607
                rfo: rfo
                sm: 9.702963800023566
                id: id
                bsp: 4.078845849666752
                rfs: rfs
                sr: 0.5199002018724985
                status: E
              - cd: 0
                side: B
                sv: 7.933506881737151
                pt: L
                ot: L
                lsrc: lsrc
                p: 1.041444916118296
                sc: 9.132027271330688
                rc: rc
                s: 7.260521264802104
                pd: 4
                rac: rac
                md: 4
                ld: 6
                sl: 0.8774076871421566
                avp: 3.2588565619047607
                rfo: rfo
                sm: 9.702963800023566
                id: id
                bsp: 4.078845849666752
                rfs: rfs
                sr: 0.5199002018724985
                status: E
              hc: 8.969578798196912
              id: 7
              fullImage: true
              ml:
              - - 3.0576100241049344
                - 3.0576100241049344
              - - 3.0576100241049344
                - 3.0576100241049344
            - mb:
              - - 3.0205796992916243
                - 3.0205796992916243
              - - 3.0205796992916243
                - 3.0205796992916243
              smc:
                key:
                  mb:
                  - - 7.04836565559697
                    - 7.04836565559697
                  - - 7.04836565559697
                    - 7.04836565559697
                  ml:
                  - - 5.533258397034986
                    - 5.533258397034986
                  - - 5.533258397034986
                    - 5.533258397034986
              uo:
              - cd: 0
                side: B
                sv: 7.933506881737151
                pt: L
                ot: L
                lsrc: lsrc
                p: 1.041444916118296
                sc: 9.132027271330688
                rc: rc
                s: 7.260521264802104
                pd: 4
                rac: rac
                md: 4
                ld: 6
                sl: 0.8774076871421566
                avp: 3.2588565619047607
                rfo: rfo
                sm: 9.702963800023566
                id: id
                bsp: 4.078845849666752
                rfs: rfs
                sr: 0.5199002018724985
                status: E
              - cd: 0
                side: B
                sv: 7.933506881737151
                pt: L
                ot: L
                lsrc: lsrc
                p: 1.041444916118296
                sc: 9.132027271330688
                rc: rc
                s: 7.260521264802104
                pd: 4
                rac: rac
                md: 4
                ld: 6
                sl: 0.8774076871421566
                avp: 3.2588565619047607
                rfo: rfo
                sm: 9.702963800023566
                id: id
                bsp: 4.078845849666752
                rfs: rfs
                sr: 0.5199002018724985
                status: E
              hc: 8.969578798196912
              id: 7
              fullImage: true
              ml:
              - - 3.0576100241049344
                - 3.0576100241049344
              - - 3.0576100241049344
                - 3.0576100241049344
            closed: true
            id: id
            fullImage: true
          pt: 5
          initialClk: initialClk
          conflateMs: 6
          id: 7
          segmentType: SEG_START
          status: 4
        status:
          op: op
          connectionsAvailable: 8
          errorMessage: errorMessage
          connectionId: connectionId
          errorCode: NO_APP_KEY
          connectionClosed: true
          id: 6
          statusCode: SUCCESS
      properties:
        connection:
          $ref: '#/components/schemas/ConnectionMessage'
        marketChangeMessage:
          $ref: '#/components/schemas/MarketChangeMessage'
        opTypes:
          enum:
          - connection
          - status
          - mcm
          - ocm
          title: opTypes
          type: string
        orderChangeMessage:
          $ref: '#/components/schemas/OrderChangeMessage'
        status:
          $ref: '#/components/schemas/StatusMessage'
      title: AllResponseTypesExample
    AuthenticationMessage:
      allOf:
      - $ref: '#/components/schemas/RequestMessage'
      - properties:
          appKey:
            type: string
          session:
            type: string
        type: object
      example:
        op: op
        session: session
        appKey: appKey
        id: 0
      title: AuthenticationMessage
    ConnectionMessage:
      allOf:
      - $ref: '#/components/schemas/ResponseMessage'
      - properties:
          connectionId:
            description: The connection id
            type: string
        type: object
      example:
        op: op
        connectionId: connectionId
        id: 0
      title: ConnectionMessage
    HeartbeatMessage:
      allOf:
      - $ref: '#/components/schemas/RequestMessage'
      - type: object
      example:
        op: op
        id: 6
      title: HeartbeatMessage
    KeyLineDefinition:
      example:
        kl:
        - hc: 7.061401241503109
          id: 9
        - hc: 7.061401241503109
          id: 9
      properties:
        kl:
          items:
            $ref: '#/components/schemas/KeyLineSelection'
          title: kl
          type: array
      title: KeyLineDefinition
    KeyLineSelection:
      example:
        hc: 7.061401241503109
        id: 9
      properties:
        hc:
          format: double
          title: hc
          type: number
        id:
          format: int64
          title: id
          type: integer
      title: KeyLineSelection
    MarketChange:
      example:
        rc:
        - tv: 3.353193347011243
          batb:
          - - 6.683562403749608
            - 6.683562403749608
          - - 6.683562403749608
            - 6.683562403749608
          bdatl:
          - - 6.438423552598547
            - 6.438423552598547
          - - 6.438423552598547
            - 6.438423552598547
          spb:
          - - 2.8841621266687802
            - 2.8841621266687802
          - - 2.8841621266687802
            - 2.8841621266687802
          trd:
          - - 6.704019297950036
            - 6.704019297950036
          - - 6.704019297950036
            - 6.704019297950036
          spf: 6.778324963048013
          ltp: 1.284659006116532
          atb:
          - - 9.965781217890562
            - 9.965781217890562
          - - 9.965781217890562
            - 9.965781217890562
          spl:
          - - 6.878052220127876
            - 6.878052220127876
          - - 6.878052220127876
            - 6.878052220127876
          spn: 5.944895607614016
          atl:
          - - 9.369310271410669
            - 9.369310271410669
          - - 9.369310271410669
            - 9.369310271410669
          batl:
          - - 8.762042012749001
            - 8.762042012749001
          - - 8.762042012749001
            - 8.762042012749001
          hc: 3.5571952270680973
          id: 6
          bdatb:
          - - 9.018348186070783
            - 9.018348186070783
          - - 9.018348186070783
            - 9.018348186070783
        - tv: 3.353193347011243
          batb:
          - - 6.683562403749608
            - 6.683562403749608
          - - 6.683562403749608
            - 6.683562403749608
          bdatl:
          - - 6.438423552598547
            - 6.438423552598547
          - - 6.438423552598547
            - 6.438423552598547
          spb:
          - - 2.8841621266687802
            - 2.8841621266687802
          - - 2.8841621266687802
            - 2.8841621266687802
          trd:
          - - 6.704019297950036
            - 6.704019297950036
          - - 6.704019297950036
            - 6.704019297950036
          spf: 6.778324963048013
          ltp: 1.284659006116532
          atb:
          - - 9.965781217890562
            - 9.965781217890562
          - - 9.965781217890562
            - 9.965781217890562
          spl:
          - - 6.878052220127876
            - 6.878052220127876
          - - 6.878052220127876
            - 6.878052220127876
          spn: 5.944895607614016
          atl:
          - - 9.369310271410669
            - 9.369310271410669
          - - 9.369310271410669
            - 9.369310271410669
          batl:
          - - 8.762042012749001
            - 8.762042012749001
          - - 8.762042012749001
            - 8.762042012749001
          hc: 3.5571952270680973
          id: 6
          bdatb:
          - - 9.018348186070783
            - 9.018348186070783
          - - 9.018348186070783
            - 9.018348186070783
        img: true
        tv: 3.0937452626664474
        con: true
        marketDefinition:
          venue: venue
          raceType: raceType
          settledTime: 2000-01-23T04:56:07.000+00:00
          timezone: timezone
          eachWayDivisor: 2.3021358869347655
          regulators:
          - regulators
          - regulators
          marketType: marketType
          marketBaseRate: 7.386281948385884
          numberOfWinners: 1
          countryCode: countryCode
          lineMaxUnit: 2.027123023002322
          inPlay: true
          betDelay: 5
          bettingType: ODDS
          bspMarket: true
          lineMinUnit: 4.145608029883936
          numberOfActiveRunners: 1
          eventId: eventId
          crossMatching: true
          runnersVoidable: true
          turnInPlayEnabled: true
          keyLineDefinition:
            kl:
            - hc: 7.061401241503109
              id: 9
            - hc: 7.061401241503109
              id: 9
          priceLadderDefinition:
            type: CLASSIC
          suspendTime: 2000-01-23T04:56:07.000+00:00
          discountAllowed: true
          persistenceEnabled: true
          runners:
          - sortPriority: 4
            removalDate: 2000-01-23T04:56:07.000+00:00
            hc: 7.457744773683766
            id: 1
            adjustmentFactor: 1.4894159098541704
            bsp: 6.84685269835264
            status: ACTIVE
          - sortPriority: 4
            removalDate: 2000-01-23T04:56:07.000+00:00
            hc: 7.457744773683766
            id: 1
            adjustmentFactor: 1.4894159098541704
            bsp: 6.84685269835264
            status: ACTIVE
          version: 5
          eventTypeId: eventTypeId
          complete: true
          openDate: 2000-01-23T04:56:07.000+00:00
          bspReconciled: true
          lineInterval: 3.616076749251911
          marketTime: 2000-01-23T04:56:07.000+00:00
          status: INACTIVE
        id: id
      properties:
        con:
          description: Conflated - have more than a single change been combined (or
            null if not conflated)
          title: con
          type: boolean
        id:
          description: Market Id - the id of the market
          title: id
          type: string
        img:
          description: "Image - replace existing prices / data with the data supplied:\
            \ it is not a delta (or null if delta)"
          title: img
          type: boolean
        marketDefinition:
          $ref: '#/components/schemas/MarketDefinition'
        rc:
          description: Runner Changes - a list of changes to runners (or null if un-changed)
          items:
            $ref: '#/components/schemas/RunnerChange'
          title: rc
          type: array
        tv:
          description: The total amount matched across the market. This value is truncated
            at 2dp (or null if un-changed)
          format: double
          title: tv
          type: number
      title: MarketChange
    MarketChangeMessage:
      allOf:
      - $ref: '#/components/schemas/ResponseMessage'
      - properties:
          clk:
            description: Token value (non-null) should be stored and passed in a MarketSubscriptionMessage
              to resume subscription (in case of disconnect)
            type: string
          conflateMs:
            description: Conflate Milliseconds - the conflation rate (may differ from
              that requested if subscription is delayed)
            format: int64
            type: integer
          ct:
            description: Change Type - set to indicate the type of change - if null
              this is a delta)
            enum:
            - SUB_IMAGE
            - RESUB_DELTA
            - HEARTBEAT
            type: string
          heartbeatMs:
            description: "Heartbeat Milliseconds - the heartbeat rate (may differ\
              \ from requested: bounds are 500 to 30000)"
            format: int64
            type: integer
          initialClk:
            description: Token value (non-null) should be stored and passed in a MarketSubscriptionMessage
              to resume subscription (in case of disconnect)
            type: string
          mc:
            description: MarketChanges - the modifications to markets (will be null
              on a heartbeat
            items:
              $ref: '#/components/schemas/MarketChange'
            type: array
          pt:
            description: Publish Time (in millis since epoch) that the changes were
              generated
            format: int64
            type: integer
          segmentType:
            description: "Segment Type - if the change is split into multiple segments,\
              \ this denotes the beginning and end of a change, and segments in between.\
              \ Will be null if data is not segmented"
            enum:
            - SEG_START
            - SEG
            - SEG_END
            type: string
          status:
            description: "Stream status: set to null if the exchange stream data is\
              \ up to date and 503 if the downstream services are experiencing latencies"
            format: int32
            type: integer
        type: object
      example:
        op: op
        ct: SUB_IMAGE
        clk: clk
        heartbeatMs: 5
        pt: 7
        initialClk: initialClk
        mc:
        - rc:
          - tv: 3.353193347011243
            batb:
            - - 6.683562403749608
              - 6.683562403749608
            - - 6.683562403749608
              - 6.683562403749608
            bdatl:
            - - 6.438423552598547
              - 6.438423552598547
            - - 6.438423552598547
              - 6.438423552598547
            spb:
            - - 2.8841621266687802
              - 2.8841621266687802
            - - 2.8841621266687802
              - 2.8841621266687802
            trd:
            - - 6.704019297950036
              - 6.704019297950036
            - - 6.704019297950036
              - 6.704019297950036
            spf: 6.778324963048013
            ltp: 1.284659006116532
            atb:
            - - 9.965781217890562
              - 9.965781217890562
            - - 9.965781217890562
              - 9.965781217890562
            spl:
            - - 6.878052220127876
              - 6.878052220127876
            - - 6.878052220127876
              - 6.878052220127876
            spn: 5.944895607614016
            atl:
            - - 9.369310271410669
              - 9.369310271410669
            - - 9.369310271410669
              - 9.369310271410669
            batl:
            - - 8.762042012749001
              - 8.762042012749001
            - - 8.762042012749001
              - 8.762042012749001
            hc: 3.5571952270680973
            id: 6
            bdatb:
            - - 9.018348186070783
              - 9.018348186070783
            - - 9.018348186070783
              - 9.018348186070783
          - tv: 3.353193347011243
            batb:
            - - 6.683562403749608
              - 6.683562403749608
            - - 6.683562403749608
              - 6.683562403749608
            bdatl:
            - - 6.438423552598547
              - 6.438423552598547
            - - 6.438423552598547
              - 6.438423552598547
            spb:
            - - 2.8841621266687802
              - 2.8841621266687802
            - - 2.8841621266687802
              - 2.8841621266687802
            trd:
            - - 6.704019297950036
              - 6.704019297950036
            - - 6.704019297950036
              - 6.704019297950036
            spf: 6.778324963048013
            ltp: 1.284659006116532
            atb:
            - - 9.965781217890562
              - 9.965781217890562
            - - 9.965781217890562
              - 9.965781217890562
            spl:
            - - 6.878052220127876
              - 6.878052220127876
            - - 6.878052220127876
              - 6.878052220127876
            spn: 5.944895607614016
            atl:
            - - 9.369310271410669
              - 9.369310271410669
            - - 9.369310271410669
              - 9.369310271410669
            batl:
            - - 8.762042012749001
              - 8.762042012749001
            - - 8.762042012749001
              - 8.762042012749001
            hc: 3.5571952270680973
            id: 6
            bdatb:
            - - 9.018348186070783
              - 9.018348186070783
            - - 9.018348186070783
              - 9.018348186070783
          img: true
          tv: 3.0937452626664474
          con: true
          marketDefinition:
            venue: venue
            raceType: raceType
            settledTime: 2000-01-23T04:56:07.000+00:00
            timezone: timezone
            eachWayDivisor: 2.3021358869347655
            regulators:
            - regulators
            - regulators
            marketType: marketType
            marketBaseRate: 7.386281948385884
            numberOfWinners: 1
            countryCode: countryCode
            lineMaxUnit: 2.027123023002322
            inPlay: true
            betDelay: 5
            bettingType: ODDS
            bspMarket: true
            lineMinUnit: 4.145608029883936
            numberOfActiveRunners: 1
            eventId: eventId
            crossMatching: true
            runnersVoidable: true
            turnInPlayEnabled: true
            keyLineDefinition:
              kl:
              - hc: 7.061401241503109
                id: 9
              - hc: 7.061401241503109
                id: 9
            priceLadderDefinition:
              type: CLASSIC
            suspendTime: 2000-01-23T04:56:07.000+00:00
            discountAllowed: true
            persistenceEnabled: true
            runners:
            - sortPriority: 4
              removalDate: 2000-01-23T04:56:07.000+00:00
              hc: 7.457744773683766
              id: 1
              adjustmentFactor: 1.4894159098541704
              bsp: 6.84685269835264
              status: ACTIVE
            - sortPriority: 4
              removalDate: 2000-01-23T04:56:07.000+00:00
              hc: 7.457744773683766
              id: 1
              adjustmentFactor: 1.4894159098541704
              bsp: 6.84685269835264
              status: ACTIVE
            version: 5
            eventTypeId: eventTypeId
            complete: true
            openDate: 2000-01-23T04:56:07.000+00:00
            bspReconciled: true
            lineInterval: 3.616076749251911
            marketTime: 2000-01-23T04:56:07.000+00:00
            status: INACTIVE
          id: id
        - rc:
          - tv: 3.353193347011243
            batb:
            - - 6.683562403749608
              - 6.683562403749608
            - - 6.683562403749608
              - 6.683562403749608
            bdatl:
            - - 6.438423552598547
              - 6.438423552598547
            - - 6.438423552598547
              - 6.438423552598547
            spb:
            - - 2.8841621266687802
              - 2.8841621266687802
            - - 2.8841621266687802
              - 2.8841621266687802
            trd:
            - - 6.704019297950036
              - 6.704019297950036
            - - 6.704019297950036
              - 6.704019297950036
            spf: 6.778324963048013
            ltp: 1.284659006116532
            atb:
            - - 9.965781217890562
              - 9.965781217890562
            - - 9.965781217890562
              - 9.965781217890562
            spl:
            - - 6.878052220127876
              - 6.878052220127876
            - - 6.878052220127876
              - 6.878052220127876
            spn: 5.944895607614016
            atl:
            - - 9.369310271410669
              - 9.369310271410669
            - - 9.369310271410669
              - 9.369310271410669
            batl:
            - - 8.762042012749001
              - 8.762042012749001
            - - 8.762042012749001
              - 8.762042012749001
            hc: 3.5571952270680973
            id: 6
            bdatb:
            - - 9.018348186070783
              - 9.018348186070783
            - - 9.018348186070783
              - 9.018348186070783
          - tv: 3.353193347011243
            batb:
            - - 6.683562403749608
              - 6.683562403749608
            - - 6.683562403749608
              - 6.683562403749608
            bdatl:
            - - 6.438423552598547
              - 6.438423552598547
            - - 6.438423552598547
              - 6.438423552598547
            spb:
            - - 2.8841621266687802
              - 2.8841621266687802
            - - 2.8841621266687802
              - 2.8841621266687802
            trd:
            - - 6.704019297950036
              - 6.704019297950036
            - - 6.704019297950036
              - 6.704019297950036
            spf: 6.778324963048013
            ltp: 1.284659006116532
            atb:
            - - 9.965781217890562
              - 9.965781217890562
            - - 9.965781217890562
              - 9.965781217890562
            spl:
            - - 6.878052220127876
              - 6.878052220127876
            - - 6.878052220127876
              - 6.878052220127876
            spn: 5.944895607614016
            atl:
            - - 9.369310271410669
              - 9.369310271410669
            - - 9.369310271410669
              - 9.369310271410669
            batl:
            - - 8.762042012749001
              - 8.762042012749001
            - - 8.762042012749001
              - 8.762042012749001
            hc: 3.5571952270680973
            id: 6
            bdatb:
            - - 9.018348186070783
              - 9.018348186070783
            - - 9.018348186070783
              - 9.018348186070783
          img: true
          tv: 3.0937452626664474
          con: true
          marketDefinition:
            venue: venue
            raceType: raceType
            settledTime: 2000-01-23T04:56:07.000+00:00
            timezone: timezone
            eachWayDivisor: 2.3021358869347655
            regulators:
            - regulators
            - regulators
            marketType: marketType
            marketBaseRate: 7.386281948385884
            numberOfWinners: 1
            countryCode: countryCode
            lineMaxUnit: 2.027123023002322
            inPlay: true
            betDelay: 5
            bettingType: ODDS
            bspMarket: true
            lineMinUnit: 4.145608029883936
            numberOfActiveRunners: 1
            eventId: eventId
            crossMatching: true
            runnersVoidable: true
            turnInPlayEnabled: true
            keyLineDefinition:
              kl:
              - hc: 7.061401241503109
                id: 9
              - hc: 7.061401241503109
                id: 9
            priceLadderDefinition:
              type: CLASSIC
            suspendTime: 2000-01-23T04:56:07.000+00:00
            discountAllowed: true
            persistenceEnabled: true
            runners:
            - sortPriority: 4
              removalDate: 2000-01-23T04:56:07.000+00:00
              hc: 7.457744773683766
              id: 1
              adjustmentFactor: 1.4894159098541704
              bsp: 6.84685269835264
              status: ACTIVE
            - sortPriority: 4
              removalDate: 2000-01-23T04:56:07.000+00:00
              hc: 7.457744773683766
              id: 1
              adjustmentFactor: 1.4894159098541704
              bsp: 6.84685269835264
              status: ACTIVE
            version: 5
            eventTypeId: eventTypeId
            complete: true
            openDate: 2000-01-23T04:56:07.000+00:00
            bspReconciled: true
            lineInterval: 3.616076749251911
            marketTime: 2000-01-23T04:56:07.000+00:00
            status: INACTIVE
          id: id
        conflateMs: 1
        id: 6
        segmentType: SEG_START
        status: 0
      title: MarketChangeMessage
    MarketDataFilter:
      example:
        ladderLevels: 2
        fields:
        - EX_BEST_OFFERS_DISP
        - EX_BEST_OFFERS_DISP
      properties:
        fields:
          items:
            enum:
            - EX_BEST_OFFERS_DISP
            - EX_BEST_OFFERS
            - EX_ALL_OFFERS
            - EX_TRADED
            - EX_TRADED_VOL
            - EX_LTP
            - EX_MARKET_DEF
            - SP_TRADED
            - SP_PROJECTED
            type: string
          title: fields
          type: array
        ladderLevels:
          format: int32
          title: ladderLevels
          type: integer
      title: MarketDataFilter
    MarketDefinition:
      example:
        venue: venue
        raceType: raceType
        settledTime: 2000-01-23T04:56:07.000+00:00
        timezone: timezone
        eachWayDivisor: 2.3021358869347655
        regulators:
        - regulators
        - regulators
        marketType: marketType
        marketBaseRate: 7.386281948385884
        numberOfWinners: 1
        countryCode: countryCode
        lineMaxUnit: 2.027123023002322
        inPlay: true
        betDelay: 5
        bettingType: ODDS
        bspMarket: true
        lineMinUnit: 4.145608029883936
        numberOfActiveRunners: 1
        eventId: eventId
        crossMatching: true
        runnersVoidable: true
        turnInPlayEnabled: true
        keyLineDefinition:
          kl:
          - hc: 7.061401241503109
            id: 9
          - hc: 7.061401241503109
            id: 9
        priceLadderDefinition:
          type: CLASSIC
        suspendTime: 2000-01-23T04:56:07.000+00:00
        discountAllowed: true
        persistenceEnabled: true
        runners:
        - sortPriority: 4
          removalDate: 2000-01-23T04:56:07.000+00:00
          hc: 7.457744773683766
          id: 1
          adjustmentFactor: 1.4894159098541704
          bsp: 6.84685269835264
          status: ACTIVE
        - sortPriority: 4
          removalDate: 2000-01-23T04:56:07.000+00:00
          hc: 7.457744773683766
          id: 1
          adjustmentFactor: 1.4894159098541704
          bsp: 6.84685269835264
          status: ACTIVE
        version: 5
        eventTypeId: eventTypeId
        complete: true
        openDate: 2000-01-23T04:56:07.000+00:00
        bspReconciled: true
        lineInterval: 3.616076749251911
        marketTime: 2000-01-23T04:56:07.000+00:00
        status: INACTIVE
      properties:
        betDelay:
          format: int32
          title: betDelay
          type: integer
        bettingType:
          enum:
          - ODDS
          - LINE
          - RANGE
          - ASIAN_HANDICAP_DOUBLE_LINE
          - ASIAN_HANDICAP_SINGLE_LINE
          title: bettingType
          type: string
        bspMarket:
          title: bspMarket
          type: boolean
        bspReconciled:
          title: bspReconciled
          type: boolean
        complete:
          title: complete
          type: boolean
        countryCode:
          title: countryCode
          type: string
        crossMatching:
          title: crossMatching
          type: boolean
        discountAllowed:
          title: discountAllowed
          type: boolean
        eachWayDivisor:
          format: double
          title: eachWayDivisor
          type: number
        eventId:
          title: eventId
          type: string
        eventTypeId:
          description: The Event Type the market is contained within.
          title: eventTypeId
          type: string
        inPlay:
          title: inPlay
          type: boolean
        keyLineDefinition:
          $ref: '#/components/schemas/KeyLineDefinition'
        lineInterval:
          description: "For Handicap and Line markets, the lines available on this\
            \ market will be between the range of lineMinUnit and lineMaxUnit, in\
            \ increments of the lineInterval value. e.g. If unit is runs, lineMinUnit=10,\
            \ lineMaxUnit=20 and lineInterval=0.5, then valid lines include 10, 10.5,\
            \ 11, 11.5 up to 20 runs."
          format: double
          title: lineInterval
          type: number
        lineMaxUnit:
          description: "For Handicap and Line markets, the maximum value for the outcome,\
            \ in market units for this market (eg 100 runs)."
          format: double
          title: lineMaxUnit
          type: number
        lineMinUnit:
          description: "For Handicap and Line markets, the minimum value for the outcome,\
            \ in market units for this market (eg 0 runs)."
          format: double
          title: lineMinUnit
          type: number
        marketBaseRate:
          format: double
          title: marketBaseRate
          type: number
        marketTime:
          format: date-time
          title: marketTime
          type: string
        marketType:
          title: marketType
          type: string
        numberOfActiveRunners:
          format: int32
          title: numberOfActiveRunners
          type: integer
        numberOfWinners:
          format: int32
          title: numberOfWinners
          type: integer
        openDate:
          format: date-time
          title: openDate
          type: string
        persistenceEnabled:
          title: persistenceEnabled
          type: boolean
        priceLadderDefinition:
          $ref: '#/components/schemas/PriceLadderDefinition'
        raceType:
          title: raceType
          type: string
        regulators:
          description: The market regulators.
          items:
            type: string
          title: regulators
          type: array
        runners:
          items:
            $ref: '#/components/schemas/RunnerDefinition'
          title: runners
          type: array
        runnersVoidable:
          title: runnersVoidable
          type: boolean
        settledTime:
          format: date-time
          title: settledTime
          type: string
        status:
          enum:
          - INACTIVE
          - OPEN
          - SUSPENDED
          - CLOSED
          title: status
          type: string
        suspendTime:
          format: date-time
          title: suspendTime
          type: string
        timezone:
          title: timezone
          type: string
        turnInPlayEnabled:
          title: turnInPlayEnabled
          type: boolean
        venue:
          title: venue
          type: string
        version:
          format: int64
          title: version
          type: integer
      title: MarketDefinition
    MarketFilter:
      example:
        countryCodes:
        - countryCodes
        - countryCodes
        bettingTypes:
        - ODDS
        - ODDS
        turnInPlayEnabled: true
        marketTypes:
        - marketTypes
        - marketTypes
        venues:
        - venues
        - venues
        marketIds:
        - marketIds
        - marketIds
        eventIds:
        - eventIds
        - eventIds
        eventTypeIds:
        - eventTypeIds
        - eventTypeIds
        bspMarket: true
        raceTypes:
        - raceTypes
        - raceTypes
      properties:
        bettingTypes:
          items:
            enum:
            - ODDS
            - LINE
            - RANGE
            - ASIAN_HANDICAP_DOUBLE_LINE
            - ASIAN_HANDICAP_SINGLE_LINE
            type: string
          title: bettingTypes
          type: array
        bspMarket:
          title: bspMarket
          type: boolean
        countryCodes:
          items:
            type: string
          title: countryCodes
          type: array
        eventIds:
          items:
            type: string
          title: eventIds
          type: array
        eventTypeIds:
          items:
            type: string
          title: eventTypeIds
          type: array
        marketIds:
          items:
            type: string
          title: marketIds
          type: array
        marketTypes:
          items:
            type: string
          title: marketTypes
          type: array
        raceTypes:
          items:
            type: string
          title: raceTypes
          type: array
        turnInPlayEnabled:
          title: turnInPlayEnabled
          type: boolean
        venues:
          items:
            type: string
          title: venues
          type: array
      title: MarketFilter
    MarketSubscriptionMessage:
      allOf:
      - $ref: '#/components/schemas/RequestMessage'
      - properties:
          clk:
            description: Token value delta (received in MarketChangeMessage) that
              should be passed to resume a subscription
            type: string
          conflateMs:
            description: "Conflate Milliseconds - the conflation rate (looped back\
              \ on initial image after validation: bounds are 0 to 120000)"
            format: int64
            type: integer
          heartbeatMs:
            description: "Heartbeat Milliseconds - the heartbeat rate (looped back\
              \ on initial image after validation: bounds are 500 to 5000)"
            format: int64
            type: integer
          initialClk:
            description: Token value (received in initial MarketChangeMessage) that
              should be passed to resume a subscription
            type: string
          marketDataFilter:
            $ref: '#/components/schemas/MarketDataFilter'
          marketFilter:
            $ref: '#/components/schemas/MarketFilter'
          segmentationEnabled:
            description: "Segmentation Enabled - allow the server to send large sets\
              \ of data in segments, instead of a single block"
            type: boolean
        type: object
      example:
        op: op
        segmentationEnabled: true
        clk: clk
        heartbeatMs: 5
        initialClk: initialClk
        marketFilter:
          countryCodes:
          - countryCodes
          - countryCodes
          bettingTypes:
          - ODDS
          - ODDS
          turnInPlayEnabled: true
          marketTypes:
          - marketTypes
          - marketTypes
          venues:
          - venues
          - venues
          marketIds:
          - marketIds
          - marketIds
          eventIds:
          - eventIds
          - eventIds
          eventTypeIds:
          - eventTypeIds
          - eventTypeIds
          bspMarket: true
          raceTypes:
          - raceTypes
          - raceTypes
        conflateMs: 5
        id: 1
        marketDataFilter:
          ladderLevels: 2
          fields:
          - EX_BEST_OFFERS_DISP
          - EX_BEST_OFFERS_DISP
      title: MarketSubscriptionMessage
    Order:
      example:
        cd: 0
        side: B
        sv: 7.933506881737151
        pt: L
        ot: L
        lsrc: lsrc
        p: 1.041444916118296
        sc: 9.132027271330688
        rc: rc
        s: 7.260521264802104
        pd: 4
        rac: rac
        md: 4
        ld: 6
        sl: 0.8774076871421566
        avp: 3.2588565619047607
        rfo: rfo
        sm: 9.702963800023566
        id: id
        bsp: 4.078845849666752
        rfs: rfs
        sr: 0.5199002018724985
        status: E
      properties:
        avp:
          description: Average Price Matched - the average price the order was matched
            at (null if the order is not matched). This value is not meaningful for
            activity on Line markets and is not guaranteed to be returned or maintained
            for these markets.
          format: double
          title: avp
          type: number
        bsp:
          description: BSP Liability - the BSP liability of the order (null if the
            order is not a BSP order)
          format: double
          title: bsp
          type: number
        cd:
          description: Cancelled Date - the date the order was cancelled (null if
            the order is not cancelled)
          format: int64
          title: cd
          type: integer
        id:
          description: Bet Id - the id of the order
          title: id
          type: string
        ld:
          description: Lapsed Date - the date the order was lapsed (null if the order
            is not lapsed)
          format: int64
          title: ld
          type: integer
        lsrc:
          description: Lapse Status Reason Code - the reason that some or all of this
            order has been lapsed (null if no portion of the order is lapsed
          title: lsrc
          type: string
        md:
          description: Matched Date - the date the order was matched (null if the
            order is not matched)
          format: int64
          title: md
          type: integer
        ot:
          description: "Order Type - the type of the order (L = LIMIT, MOC = MARKET_ON_CLOSE,\
            \ LOC = LIMIT_ON_CLOSE)"
          enum:
          - L
          - LOC
          - MOC
          title: ot
          type: string
        p:
          description: "Price - the original placed price of the order. Line markets\
            \ operate at even-money odds of 2.0.\_However, price for these markets\
            \ refers to the line positions available as defined by the markets min-max\
            \ range and interval steps"
          format: double
          title: p
          type: number
        pd:
          description: Placed Date - the date the order was placed
          format: int64
          title: pd
          type: integer
        pt:
          description: "Persistence Type - whether the order will persist at in play\
            \ or not (L = LAPSE, P = PERSIST, MOC = Market On Close)"
          enum:
          - L
          - P
          - MOC
          title: pt
          type: string
        rac:
          description: Regulator Auth Code - the auth code returned by the regulator
          title: rac
          type: string
        rc:
          description: Regulator Code - the regulator of the order
          title: rc
          type: string
        rfo:
          description: Order Reference - the customer's order reference for this order
            (empty string if one was not set)
          title: rfo
          type: string
        rfs:
          description: Strategy Reference - the customer's strategy reference for
            this order (empty string if one was not set)
          title: rfs
          type: string
        s:
          description: Size - the original placed size of the order
          format: double
          title: s
          type: number
        sc:
          description: Size Cancelled - the amount of the order that has been cancelled
          format: double
          title: sc
          type: number
        side:
          description: Side - the side of the order. For Line markets a 'B' bet refers
            to a SELL line and an 'L' bet refers to a BUY line.
          enum:
          - B
          - L
          title: side
          type: string
        sl:
          description: Size Lapsed - the amount of the order that has been lapsed
          format: double
          title: sl
          type: number
        sm:
          description: Size Matched - the amount of the order that has been matched
          format: double
          title: sm
          type: number
        sr:
          description: Size Remaining - the amount of the order that is remaining
            unmatched
          format: double
          title: sr
          type: number
        status:
          description: "Status - the status of the order (E = EXECUTABLE, EC = EXECUTION_COMPLETE)"
          enum:
          - E
          - EC
          title: status
          type: string
        sv:
          description: Size Voided - the amount of the order that has been voided
          format: double
          title: sv
          type: number
      title: Order
    OrderChangeMessage:
      allOf:
      - $ref: '#/components/schemas/ResponseMessage'
      - properties:
          clk:
            description: Token value (non-null) should be stored and passed in a MarketSubscriptionMessage
              to resume subscription (in case of disconnect)
            type: string
          conflateMs:
            description: Conflate Milliseconds - the conflation rate (may differ from
              that requested if subscription is delayed)
            format: int64
            type: integer
          ct:
            description: Change Type - set to indicate the type of change - if null
              this is a delta)
            enum:
            - SUB_IMAGE
            - RESUB_DELTA
            - HEARTBEAT
            type: string
          heartbeatMs:
            description: "Heartbeat Milliseconds - the heartbeat rate (may differ\
              \ from requested: bounds are 500 to 30000)"
            format: int64
            type: integer
          initialClk:
            description: Token value (non-null) should be stored and passed in a MarketSubscriptionMessage
              to resume subscription (in case of disconnect)
            type: string
          oc:
            description: OrderMarketChanges - the modifications to account's orders
              (will be null on a heartbeat
            items:
              $ref: '#/components/schemas/OrderMarketChange'
            type: array
          pt:
            description: Publish Time (in millis since epoch) that the changes were
              generated
            format: int64
            type: integer
          segmentType:
            description: "Segment Type - if the change is split into multiple segments,\
              \ this denotes the beginning and end of a change, and segments in between.\
              \ Will be null if data is not segmented"
            enum:
            - SEG_START
            - SEG
            - SEG_END
            type: string
          status:
            description: "Stream status: set to null if the exchange stream data is\
              \ up to date and 503 if the downstream services are experiencing latencies"
            format: int32
            type: integer
        type: object
      example:
        op: op
        ct: SUB_IMAGE
        clk: clk
        heartbeatMs: 0
        oc:
        - accountId: 4
          orc:
          - mb:
            - - 3.0205796992916243
              - 3.0205796992916243
            - - 3.0205796992916243
              - 3.0205796992916243
            smc:
              key:
                mb:
                - - 7.04836565559697
                  - 7.04836565559697
                - - 7.04836565559697
                  - 7.04836565559697
                ml:
                - - 5.533258397034986
                  - 5.533258397034986
                - - 5.533258397034986
                  - 5.533258397034986
            uo:
            - cd: 0
              side: B
              sv: 7.933506881737151
              pt: L
              ot: L
              lsrc: lsrc
              p: 1.041444916118296
              sc: 9.132027271330688
              rc: rc
              s: 7.260521264802104
              pd: 4
              rac: rac
              md: 4
              ld: 6
              sl: 0.8774076871421566
              avp: 3.2588565619047607
              rfo: rfo
              sm: 9.702963800023566
              id: id
              bsp: 4.078845849666752
              rfs: rfs
              sr: 0.5199002018724985
              status: E
            - cd: 0
              side: B
              sv: 7.933506881737151
              pt: L
              ot: L
              lsrc: lsrc
              p: 1.041444916118296
              sc: 9.132027271330688
              rc: rc
              s: 7.260521264802104
              pd: 4
              rac: rac
              md: 4
              ld: 6
              sl: 0.8774076871421566
              avp: 3.2588565619047607
              rfo: rfo
              sm: 9.702963800023566
              id: id
              bsp: 4.078845849666752
              rfs: rfs
              sr: 0.5199002018724985
              status: E
            hc: 8.969578798196912
            id: 7
            fullImage: true
            ml:
            - - 3.0576100241049344
              - 3.0576100241049344
            - - 3.0576100241049344
              - 3.0576100241049344
          - mb:
            - - 3.0205796992916243
              - 3.0205796992916243
            - - 3.0205796992916243
              - 3.0205796992916243
            smc:
              key:
                mb:
                - - 7.04836565559697
                  - 7.04836565559697
                - - 7.04836565559697
                  - 7.04836565559697
                ml:
                - - 5.533258397034986
                  - 5.533258397034986
                - - 5.533258397034986
                  - 5.533258397034986
            uo:
            - cd: 0
              side: B
              sv: 7.933506881737151
              pt: L
              ot: L
              lsrc: lsrc
              p: 1.041444916118296
              sc: 9.132027271330688
              rc: rc
              s: 7.260521264802104
              pd: 4
              rac: rac
              md: 4
              ld: 6
              sl: 0.8774076871421566
              avp: 3.2588565619047607
              rfo: rfo
              sm: 9.702963800023566
              id: id
              bsp: 4.078845849666752
              rfs: rfs
              sr: 0.5199002018724985
              status: E
            - cd: 0
              side: B
              sv: 7.933506881737151
              pt: L
              ot: L
              lsrc: lsrc
              p: 1.041444916118296
              sc: 9.132027271330688
              rc: rc
              s: 7.260521264802104
              pd: 4
              rac: rac
              md: 4
              ld: 6
              sl: 0.8774076871421566
              avp: 3.2588565619047607
              rfo: rfo
              sm: 9.702963800023566
              id: id
              bsp: 4.078845849666752
              rfs: rfs
              sr: 0.5199002018724985
              status: E
            hc: 8.969578798196912
            id: 7
            fullImage: true
            ml:
            - - 3.0576100241049344
              - 3.0576100241049344
            - - 3.0576100241049344
              - 3.0576100241049344
          closed: true
          id: id
          fullImage: true
        - accountId: 4
          orc:
          - mb:
            - - 3.0205796992916243
              - 3.0205796992916243
            - - 3.0205796992916243
              - 3.0205796992916243
            smc:
              key:
                mb:
                - - 7.04836565559697
                  - 7.04836565559697
                - - 7.04836565559697
                  - 7.04836565559697
                ml:
                - - 5.533258397034986
                  - 5.533258397034986
                - - 5.533258397034986
                  - 5.533258397034986
            uo:
            - cd: 0
              side: B
              sv: 7.933506881737151
              pt: L
              ot: L
              lsrc: lsrc
              p: 1.041444916118296
              sc: 9.132027271330688
              rc: rc
              s: 7.260521264802104
              pd: 4
              rac: rac
              md: 4
              ld: 6
              sl: 0.8774076871421566
              avp: 3.2588565619047607
              rfo: rfo
              sm: 9.702963800023566
              id: id
              bsp: 4.078845849666752
              rfs: rfs
              sr: 0.5199002018724985
              status: E
            - cd: 0
              side: B
              sv: 7.933506881737151
              pt: L
              ot: L
              lsrc: lsrc
              p: 1.041444916118296
              sc: 9.132027271330688
              rc: rc
              s: 7.260521264802104
              pd: 4
              rac: rac
              md: 4
              ld: 6
              sl: 0.8774076871421566
              avp: 3.2588565619047607
              rfo: rfo
              sm: 9.702963800023566
              id: id
              bsp: 4.078845849666752
              rfs: rfs
              sr: 0.5199002018724985
              status: E
            hc: 8.969578798196912
            id: 7
            fullImage: true
            ml:
            - - 3.0576100241049344
              - 3.0576100241049344
            - - 3.0576100241049344
              - 3.0576100241049344
          - mb:
            - - 3.0205796992916243
              - 3.0205796992916243
            - - 3.0205796992916243
              - 3.0205796992916243
            smc:
              key:
                mb:
                - - 7.04836565559697
                  - 7.04836565559697
                - - 7.04836565559697
                  - 7.04836565559697
                ml:
                - - 5.533258397034986
                  - 5.533258397034986
                - - 5.533258397034986
                  - 5.533258397034986
            uo:
            - cd: 0
              side: B
              sv: 7.933506881737151
              pt: L
              ot: L
              lsrc: lsrc
              p: 1.041444916118296
              sc: 9.132027271330688
              rc: rc
              s: 7.260521264802104
              pd: 4
              rac: rac
              md: 4
              ld: 6
              sl: 0.8774076871421566
              avp: 3.2588565619047607
              rfo: rfo
              sm: 9.702963800023566
              id: id
              bsp: 4.078845849666752
              rfs: rfs
              sr: 0.5199002018724985
              status: E
            - cd: 0
              side: B
              sv: 7.933506881737151
              pt: L
              ot: L
              lsrc: lsrc
              p: 1.041444916118296
              sc: 9.132027271330688
              rc: rc
              s: 7.260521264802104
              pd: 4
              rac: rac
              md: 4
              ld: 6
              sl: 0.8774076871421566
              avp: 3.2588565619047607
              rfo: rfo
              sm: 9.702963800023566
              id: id
              bsp: 4.078845849666752
              rfs: rfs
              sr: 0.5199002018724985
              status: E
            hc: 8.969578798196912
            id: 7
            fullImage: true
            ml:
            - - 3.0576100241049344
              - 3.0576100241049344
            - - 3.0576100241049344
              - 3.0576100241049344
          closed: true
          id: id
          fullImage: true
        pt: 5
        initialClk: initialClk
        conflateMs: 6
        id: 7
        segmentType: SEG_START
        status: 4
      title: OrderChangeMessage
    OrderFilter:
      example:
        includeOverallPosition: true
        accountIds:
        - 2
        - 2
        customerStrategyRefs:
        - customerStrategyRefs
        - customerStrategyRefs
        partitionMatchedByStrategyRef: true
      properties:
        accountIds:
          description: Internal use only & should not be set on your filter (your
            subscription is already locked to your account). If set subscription will
            fail.
          items:
            format: int64
            type: integer
          title: accountIds
          type: array
        customerStrategyRefs:
          description: "Restricts to specified customerStrategyRefs; this will filter\
            \ orders and StrategyMatchChanges accordingly (Note: overall postition\
            \ is not filtered)"
          items:
            type: string
          title: customerStrategyRefs
          type: array
        includeOverallPosition:
          description: "Returns overall / net position (See: OrderRunnerChange.mb\
            \ / OrderRunnerChange.ml). Default=true"
          title: includeOverallPosition
          type: boolean
        partitionMatchedByStrategyRef:
          description: "Returns strategy positions (See: OrderRunnerChange.smc=Map<customerStrategyRef,\
            \ StrategyMatchChange>) - these are sent in delta format as per overall\
            \ position. Default=false"
          title: partitionMatchedByStrategyRef
          type: boolean
      title: OrderFilter
    OrderMarketChange:
      example:
        accountId: 4
        orc:
        - mb:
          - - 3.0205796992916243
            - 3.0205796992916243
          - - 3.0205796992916243
            - 3.0205796992916243
          smc:
            key:
              mb:
              - - 7.04836565559697
                - 7.04836565559697
              - - 7.04836565559697
                - 7.04836565559697
              ml:
              - - 5.533258397034986
                - 5.533258397034986
              - - 5.533258397034986
                - 5.533258397034986
          uo:
          - cd: 0
            side: B
            sv: 7.933506881737151
            pt: L
            ot: L
            lsrc: lsrc
            p: 1.041444916118296
            sc: 9.132027271330688
            rc: rc
            s: 7.260521264802104
            pd: 4
            rac: rac
            md: 4
            ld: 6
            sl: 0.8774076871421566
            avp: 3.2588565619047607
            rfo: rfo
            sm: 9.702963800023566
            id: id
            bsp: 4.078845849666752
            rfs: rfs
            sr: 0.5199002018724985
            status: E
          - cd: 0
            side: B
            sv: 7.933506881737151
            pt: L
            ot: L
            lsrc: lsrc
            p: 1.041444916118296
            sc: 9.132027271330688
            rc: rc
            s: 7.260521264802104
            pd: 4
            rac: rac
            md: 4
            ld: 6
            sl: 0.8774076871421566
            avp: 3.2588565619047607
            rfo: rfo
            sm: 9.702963800023566
            id: id
            bsp: 4.078845849666752
            rfs: rfs
            sr: 0.5199002018724985
            status: E
          hc: 8.969578798196912
          id: 7
          fullImage: true
          ml:
          - - 3.0576100241049344
            - 3.0576100241049344
          - - 3.0576100241049344
            - 3.0576100241049344
        - mb:
          - - 3.0205796992916243
            - 3.0205796992916243
          - - 3.0205796992916243
            - 3.0205796992916243
          smc:
            key:
              mb:
              - - 7.04836565559697
                - 7.04836565559697
              - - 7.04836565559697
                - 7.04836565559697
              ml:
              - - 5.533258397034986
                - 5.533258397034986
              - - 5.533258397034986
                - 5.533258397034986
          uo:
          - cd: 0
            side: B
            sv: 7.933506881737151
            pt: L
            ot: L
            lsrc: lsrc
            p: 1.041444916118296
            sc: 9.132027271330688
            rc: rc
            s: 7.260521264802104
            pd: 4
            rac: rac
            md: 4
            ld: 6
            sl: 0.8774076871421566
            avp: 3.2588565619047607
            rfo: rfo
            sm: 9.702963800023566
            id: id
            bsp: 4.078845849666752
            rfs: rfs
            sr: 0.5199002018724985
            status: E
          - cd: 0
            side: B
            sv: 7.933506881737151
            pt: L
            ot: L
            lsrc: lsrc
            p: 1.041444916118296
            sc: 9.132027271330688
            rc: rc
            s: 7.260521264802104
            pd: 4
            rac: rac
            md: 4
            ld: 6
            sl: 0.8774076871421566
            avp: 3.2588565619047607
            rfo: rfo
            sm: 9.702963800023566
            id: id
            bsp: 4.078845849666752
            rfs: rfs
            sr: 0.5199002018724985
            status: E
          hc: 8.969578798196912
          id: 7
          fullImage: true
          ml:
          - - 3.0576100241049344
            - 3.0576100241049344
          - - 3.0576100241049344
            - 3.0576100241049344
        closed: true
        id: id
        fullImage: true
      properties:
        accountId:
          format: int64
          title: accountId
          type: integer
        closed:
          title: closed
          type: boolean
        fullImage:
          title: fullImage
          type: boolean
        id:
          description: Market Id - the id of the market the order is on
          title: id
          type: string
        orc:
          description: Order Changes - a list of changes to orders on a selection
          items:
            $ref: '#/components/schemas/OrderRunnerChange'
          title: orc
          type: array
      title: OrderMarketChange
    OrderRunnerChange:
      example:
        mb:
        - - 3.0205796992916243
          - 3.0205796992916243
        - - 3.0205796992916243
          - 3.0205796992916243
        smc:
          key:
            mb:
            - - 7.04836565559697
              - 7.04836565559697
            - - 7.04836565559697
              - 7.04836565559697
            ml:
            - - 5.533258397034986
              - 5.533258397034986
            - - 5.533258397034986
              - 5.533258397034986
        uo:
        - cd: 0
          side: B
          sv: 7.933506881737151
          pt: L
          ot: L
          lsrc: lsrc
          p: 1.041444916118296
          sc: 9.132027271330688
          rc: rc
          s: 7.260521264802104
          pd: 4
          rac: rac
          md: 4
          ld: 6
          sl: 0.8774076871421566
          avp: 3.2588565619047607
          rfo: rfo
          sm: 9.702963800023566
          id: id
          bsp: 4.078845849666752
          rfs: rfs
          sr: 0.5199002018724985
          status: E
        - cd: 0
          side: B
          sv: 7.933506881737151
          pt: L
          ot: L
          lsrc: lsrc
          p: 1.041444916118296
          sc: 9.132027271330688
          rc: rc
          s: 7.260521264802104
          pd: 4
          rac: rac
          md: 4
          ld: 6
          sl: 0.8774076871421566
          avp: 3.2588565619047607
          rfo: rfo
          sm: 9.702963800023566
          id: id
          bsp: 4.078845849666752
          rfs: rfs
          sr: 0.5199002018724985
          status: E
        hc: 8.969578798196912
        id: 7
        fullImage: true
        ml:
        - - 3.0576100241049344
          - 3.0576100241049344
        - - 3.0576100241049344
          - 3.0576100241049344
      properties:
        fullImage:
          title: fullImage
          type: boolean
        hc:
          description: Handicap - the handicap of the runner (selection) (null if
            not applicable)
          format: double
          title: hc
          type: number
        id:
          description: Selection Id - the id of the runner (selection)
          format: int64
          title: id
          type: integer
        mb:
          description: Matched Backs - matched amounts by distinct matched price on
            the Back side for this runner (selection)
          items:
            items:
              format: double
              type: number
            type: array
          title: mb
          type: array
        ml:
          description: Matched Lays - matched amounts by distinct matched price on
            the Lay side for this runner (selection)
          items:
            items:
              format: double
              type: number
            type: array
          title: ml
          type: array
        smc:
          additionalProperties:
            $ref: '#/components/schemas/StrategyMatchChange'
          description: Strategy Matches - Matched Backs and Matched Lays grouped by
            strategy reference
          title: smc
          type: object
        uo:
          description: Unmatched Orders - orders on this runner (selection) that are
            not fully matched
          items:
            $ref: '#/components/schemas/Order'
          title: uo
          type: array
      title: OrderRunnerChange
    OrderSubscriptionMessage:
      allOf:
      - $ref: '#/components/schemas/RequestMessage'
      - properties:
          clk:
            description: Token value delta (received in MarketChangeMessage) that
              should be passed to resume a subscription
            type: string
          conflateMs:
            description: "Conflate Milliseconds - the conflation rate (looped back\
              \ on initial image after validation: bounds are 0 to 120000)"
            format: int64
            type: integer
          heartbeatMs:
            description: "Heartbeat Milliseconds - the heartbeat rate (looped back\
              \ on initial image after validation: bounds are 500 to 5000)"
            format: int64
            type: integer
          initialClk:
            description: Token value (received in initial MarketChangeMessage) that
              should be passed to resume a subscription
            type: string
          orderFilter:
            $ref: '#/components/schemas/OrderFilter'
          segmentationEnabled:
            description: "Segmentation Enabled - allow the server to send large sets\
              \ of data in segments, instead of a single block"
            type: boolean
        type: object
      example:
        op: op
        segmentationEnabled: true
        orderFilter:
          includeOverallPosition: true
          accountIds:
          - 2
          - 2
          customerStrategyRefs:
          - customerStrategyRefs
          - customerStrategyRefs
          partitionMatchedByStrategyRef: true
        clk: clk
        heartbeatMs: 3
        initialClk: initialClk
        conflateMs: 9
        id: 7
      title: OrderSubscriptionMessage
    PriceLadderDefinition:
      example:
        type: CLASSIC
      properties:
        type:
          enum:
          - CLASSIC
          - FINEST
          - LINE_RANGE
          title: type
          type: string
      title: PriceLadderDefinition
    RequestMessage:
      discriminator:
        propertyName: op
      properties:
        id:
          description: Client generated unique id to link request with response (like
            json rpc)
          format: int32
          title: id
          type: integer
        op:
          description: The operation type
          type: string
      title: RequestMessage
    ResponseMessage:
      discriminator:
        propertyName: op
      properties:
        id:
          description: Client generated unique id to link request with response (like
            json rpc)
          format: int32
          title: id
          type: integer
        op:
          description: The operation type
          type: string
      title: ResponseMessage
    RunnerChange:
      example:
        tv: 3.353193347011243
        batb:
        - - 6.683562403749608
          - 6.683562403749608
        - - 6.683562403749608
          - 6.683562403749608
        bdatl:
        - - 6.438423552598547
          - 6.438423552598547
        - - 6.438423552598547
          - 6.438423552598547
        spb:
        - - 2.8841621266687802
          - 2.8841621266687802
        - - 2.8841621266687802
          - 2.8841621266687802
        trd:
        - - 6.704019297950036
          - 6.704019297950036
        - - 6.704019297950036
          - 6.704019297950036
        spf: 6.778324963048013
        ltp: 1.284659006116532
        atb:
        - - 9.965781217890562
          - 9.965781217890562
        - - 9.965781217890562
          - 9.965781217890562
        spl:
        - - 6.878052220127876
          - 6.878052220127876
        - - 6.878052220127876
          - 6.878052220127876
        spn: 5.944895607614016
        atl:
        - - 9.369310271410669
          - 9.369310271410669
        - - 9.369310271410669
          - 9.369310271410669
        batl:
        - - 8.762042012749001
          - 8.762042012749001
        - - 8.762042012749001
          - 8.762042012749001
        hc: 3.5571952270680973
        id: 6
        bdatb:
        - - 9.018348186070783
          - 9.018348186070783
        - - 9.018348186070783
          - 9.018348186070783
      properties:
        atb:
          description: Available To Back - PriceVol tuple delta of price changes (0
            vol is remove)
          items:
            items:
              format: double
              type: number
            type: array
          title: atb
          type: array
        atl:
          description: Available To Lay - PriceVol tuple delta of price changes (0
            vol is remove)
          items:
            items:
              format: double
              type: number
            type: array
          title: atl
          type: array
        batb:
          description: "Best Available To Back - LevelPriceVol triple delta of price\
            \ changes, keyed by level (0 vol is remove)"
          items:
            items:
              format: double
              type: number
            type: array
          title: batb
          type: array
        batl:
          description: "Best Available To Lay - LevelPriceVol triple delta of price\
            \ changes, keyed by level (0 vol is remove)"
          items:
            items:
              format: double
              type: number
            type: array
          title: batl
          type: array
        bdatb:
          description: "Best Display Available To Back (includes virtual prices)-\
            \ LevelPriceVol triple delta of price changes, keyed by level (0 vol is\
            \ remove)"
          items:
            items:
              format: double
              type: number
            type: array
          title: bdatb
          type: array
        bdatl:
          description: "Best Display Available To Lay (includes virtual prices)- LevelPriceVol\
            \ triple delta of price changes, keyed by level (0 vol is remove)"
          items:
            items:
              format: double
              type: number
            type: array
          title: bdatl
          type: array
        hc:
          description: Handicap - the handicap of the runner (selection) (null if
            not applicable)
          format: double
          title: hc
          type: number
        id:
          description: Selection Id - the id of the runner (selection)
          format: int64
          title: id
          type: integer
        ltp:
          description: Last Traded Price - The last traded price (or null if un-changed)
          format: double
          title: ltp
          type: number
        spb:
          description: Starting Price Back - PriceVol tuple delta of price changes
            (0 vol is remove)
          items:
            items:
              format: double
              type: number
            type: array
          title: spb
          type: array
        spf:
          description: Starting Price Far - The far starting price (or null if un-changed)
          format: double
          title: spf
          type: number
        spl:
          description: Starting Price Lay - PriceVol tuple delta of price changes
            (0 vol is remove)
          items:
            items:
              format: double
              type: number
            type: array
          title: spl
          type: array
        spn:
          description: Starting Price Near - The far starting price (or null if un-changed)
          format: double
          title: spn
          type: number
        trd:
          description: Traded - PriceVol tuple delta of price changes (0 vol is remove)
          items:
            items:
              format: double
              type: number
            type: array
          title: trd
          type: array
        tv:
          description: The total amount matched. This value is truncated at 2dp.
          format: double
          title: tv
          type: number
      title: RunnerChange
    RunnerDefinition:
      example:
        sortPriority: 4
        removalDate: 2000-01-23T04:56:07.000+00:00
        hc: 7.457744773683766
        id: 1
        adjustmentFactor: 1.4894159098541704
        bsp: 6.84685269835264
        status: ACTIVE
      properties:
        adjustmentFactor:
          format: double
          title: adjustmentFactor
          type: number
        bsp:
          format: double
          title: bsp
          type: number
        hc:
          description: Handicap - the handicap of the runner (selection) (null if
            not applicable)
          format: double
          title: hc
          type: number
        id:
          description: Selection Id - the id of the runner (selection)
          format: int64
          title: id
          type: integer
        removalDate:
          format: date-time
          title: removalDate
          type: string
        sortPriority:
          format: int32
          title: sortPriority
          type: integer
        status:
          enum:
          - ACTIVE
          - WINNER
          - LOSER
          - REMOVED
          - REMOVED_VACANT
          - HIDDEN
          - PLACED
          title: status
          type: string
      title: RunnerDefinition
    StatusMessage:
      allOf:
      - $ref: '#/components/schemas/ResponseMessage'
      - properties:
          connectionClosed:
            description: Is the connection now closed
            type: boolean
          connectionId:
            description: The connection id
            type: string
          connectionsAvailable:
            description: The number of connections available for this account at this
              moment in time. Present on responses to Authentication messages only.
            format: int32
            type: integer
          errorCode:
            description: The type of error in case of a failure
            enum:
            - NO_APP_KEY
            - INVALID_APP_KEY
            - NO_SESSION
            - INVALID_SESSION_INFORMATION
            - NOT_AUTHORIZED
            - INVALID_INPUT
            - INVALID_CLOCK
            - UNEXPECTED_ERROR
            - TIMEOUT
            - SUBSCRIPTION_LIMIT_EXCEEDED
            - INVALID_REQUEST
            - CONNECTION_FAILED
            - MAX_CONNECTION_LIMIT_EXCEEDED
            - TOO_MANY_REQUESTS
            type: string
          errorMessage:
            description: Additional message in case of a failure
            type: string
          statusCode:
            description: The status of the last request
            enum:
            - SUCCESS
            - FAILURE
            type: string
        type: object
      example:
        op: op
        connectionsAvailable: 8
        errorMessage: errorMessage
        connectionId: connectionId
        errorCode: NO_APP_KEY
        connectionClosed: true
        id: 6
        statusCode: SUCCESS
      title: StatusMessage
    StrategyMatchChange:
      example:
        mb:
        - - 7.04836565559697
          - 7.04836565559697
        - - 7.04836565559697
          - 7.04836565559697
        ml:
        - - 5.533258397034986
          - 5.533258397034986
        - - 5.533258397034986
          - 5.533258397034986
      properties:
        mb:
          description: Matched Backs - matched amounts by distinct matched price on
            the Back side for this strategy
          items:
            items:
              format: double
              type: number
            type: array
          title: mb
          type: array
        ml:
          description: Matched Lays - matched amounts by distinct matched price on
            the Lay side for this strategy
          items:
            items:
              format: double
              type: number
            type: array
          title: ml
          type: array
      title: StrategyMatchChange
