openapi: 3.0.1
info:
  contact:
    name: "U.S. EPA, OECA Integration, Targeting and Access Branch"
    url: https://echo.epa.gov/resources/general-info/contact-us
  description: "Enforcement and Compliance History Online (ECHO) is a tool developed\
    \ and maintained by EPA's Office of Enforcement and Compliance Assurance for public\
    \ use. ECHO provides integrated compliance and enforcement information for over\
    \ 1 million regulated facilities nationwide.\n   RCRA Rest Services provides multiple\
    \ service endpoints, each with specific capabilities, to search and retrieve data\
    \ on hazardous waste handlers/facilities regulated under the Resource Conservation\
    \ and Recovery Act (RCRA).   The returned results reflect data drawn from EPA's\
    \ RCRAInfo database.\n\\\nThe get_facilities, get_map, get_qid, and get_download\
    \ end points are meant to be used together, while the enhanced get_facility_info\
    \ end point is self contained.\n  The get_facility_info end point returns either\
    \ an array of state, county or zip clusters with summary statistics per cluster\
    \ or an array of facilities.\n\\\nThe recommended use scenario for get_facilities,\
    \ get_qid, get_map, and get_downoad is:\n\\\n <b>1)</b>  Use get_facilities to\
    \ validate passed query parameters, obtain summary statistics and to obtain a\
    \ query_id (QID).  QIDs are time sensitive and will be valid for approximately\
    \ 30 minutes.\n <b>2)</b>  Use get_qid, with the returned QID, to paginate through\
    \ arrays of facility results.\n <b>3)</b>  Use get_map, with the returned QID,\
    \ to zoom in/out and pan on the clustered and individual facility coordinates\
    \ that meet the QID query criteria.\n <b>4)</b>  Use get_download, with the returned\
    \ QID, to generate a Comma Separated Value (CSV) file of facility information\
    \ that meets the QID query criteria.\n\\\n\\\nUse the qcolumns parameter to customize\
    \ your search results.  Use the Metadata service endpoint for a list of available\
    \ output objects, their Column Ids, and their definitions to help you build your\
    \ customized output. \n\\\nAdditional ECHO Resources:   <a href=\"https://echo.epa.gov/tools/web-services\"\
    >Web Services</a>, <a href=\"https://echo.epa.gov/resources/echo-data/about-the-data\"\
    >About ECHO's Data</a>, <a href=\"https://echo.epa.gov/tools/data-downloads\"\
    >Data Downloads</a>\n "
  license:
    name: U.S. Public Domain License
    url: https://edg.epa.gov/EPA_Data_License.html
  title: 'U.S. EPA Enforcement and Compliance History Online (ECHO) - Resource Conservation
    and Recovery Act '
  version: 2019.10.15
  x-apisguru-categories:
  - open_data
  x-logo:
    backgroundColor: '#FFFFFF'
    url: https://pbs.twimg.com/profile_images/632233890594299904/DgRDU6dx_400x400.png
  x-origin:
  - format: swagger
    url: https://ofmpub.epa.gov/echo/swaggerx.swagger_json?p_prefix=RCRA
    version: "2.0"
  x-providerName: epa.gov
  x-serviceName: rcra
servers:
- url: https://echodata.epa.gov/echo
paths:
  /rcra_rest_services.get_download:
    get:
      description: "Based on the QID obtained from a get_facilities or get_facility_info\
        \ query, return a comma separated value (CSV) file of the facilities found."
      operationId: rcra_rest_services_get_download_get
      parameters:
      - description: |-
          Output Format Flag.  Enter one of the following keywords:
          - CSV = Facility results formatted as comma delimited file download (default).
          - GEOJSOND = Facility results formatted as GeoJSON feature collection download.
        in: query
        name: output
        schema:
          type: string
      - description: Query ID Selector.  Enter the QueryID number from a previously
          run query.
        in: query
        name: qid
        required: true
        schema:
          type: string
      - description: Used to customize service output.  A list of comma-separated
          column IDs of output objects that will be returned in the service query
          object or download.  Use the metadata service endpoint for a complete list
          of Ids and definitions.
        in: query
        name: qcolumns
        schema:
          type: string
      - description: Optional flag to request GeoJSON formatted results to be pretty
          printed.  Only provide a numeric value when the output needs to be human
          readable as pretty printing has a performance cost.
        in: query
        name: p_pretty_print
        schema:
          type: number
      responses:
        "200":
          content:
            application/json:
              schema:
                format: binary
                type: string
            application/xml:
              schema:
                format: binary
                type: string
          description: Results are a comma separated value (CSV) file or a file containing
            a GeoJSON feature collection.
      summary: Resource Conservation and Recovery Act (RCRA) Download Data Service
      tags:
      - Resource Conservation and Recovery Act
      x-openapi-router-controller: openapi_server.controllers.resource_conservation_and_recovery_act_controller
    post:
      description: "Based on the QID obtained from a get_facilities or get_facility_info\
        \ query, return a comma separated value (CSV) file of the facilities found."
      operationId: rcra_rest_services_get_download_post
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/_rcra_rest_services_get_download_post_request'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                format: binary
                type: string
            application/xml:
              schema:
                format: binary
                type: string
          description: Results are a comma separated value (CSV) file or a file containing
            a GeoJSON feature collection.
      summary: Resource Conservation and Recovery Act (RCRA) Download Data Service
      tags:
      - Resource Conservation and Recovery Act
      x-openapi-router-controller: openapi_server.controllers.resource_conservation_and_recovery_act_controller
      x-codegen-request-body-name: body
  /rcra_rest_services.get_facilities:
    get:
      description: Validates query search parameters and returns query identifier.  Use
        the responseset parameter to set the page size
      operationId: rcra_rest_services_get_facilities_get
      parameters:
      - description: "Output Format Flag.  Enter one of the following keywords:\n\
          - JSON = Data model formatted as Javascript Object Notation (default).\n\
          - JSONP = Data model formatted as Javascript Object Notation with Padding.\
          \  \n- XML = Data model formatted as Extensible Markup Language."
        in: query
        name: output
        schema:
          enum:
          - JSONP
          - JSON
          - XML
          type: string
      - description: Facility Name Filter. Enter one or more case-insensitive facility
          names to filter results.  Provide multiple values as a comma-delimited list.  See
          p_fntype for additional modifiers.
        in: query
        name: p_fn
        schema:
          type: string
      - description: Facility street address. Enter a complete or partial street address.
        in: query
        name: p_sa
        schema:
          type: string
      - description: Facility street address. Enter a complete or partial street address.   Note
          that p_sa1 is culmulative with p_sa.
        in: query
        name: p_sa1
        schema:
          type: string
      - description: Facility City Filter. Enter a single case-insensitive city name
          to filter results.
        in: query
        name: p_ct
        schema:
          type: string
      - description: Facility County Filter. Provide a single county name in combination
          with a state value provided via p_st.
        in: query
        name: p_co
        schema:
          type: string
      - description: "FIPS Code Filter.  Enter a single 5-character Federal Information\
          \ Processing Standards (FIPS) state + county value to restrict results.\
          \  E.g. to limit results to Kenosha County, Wisconsin, use 55059."
        in: query
        name: p_fips
        schema:
          type: string
      - description: Facility State and State-Equivalent Filter.  Provide one or more
          USPS postal abbreviations for states and state-equivalents to filter results.  Provide
          multiple values as a comma-delimited list.
        in: query
        name: p_st
        schema:
          type: string
      - description: State District Filter.  Enter a single state district to restrict
          results.
        in: query
        name: p_stdist
        schema:
          type: string
      - description: 5-Digit ZIP Code Filter. Provide one or more 5-digit postal zip
          codes to filter results.  May contain multiple comma-separated values.
        in: query
        name: p_zip
        schema:
          type: string
      - description: Facility Registry Service ID Filter. Enter a single 12-digit
          FRS identifier to filter results.
        in: query
        name: p_frs
        schema:
          type: string
      - description: EPA Region Filter. Provide a single value of 01 thru 10 to restrict
          results to a single EPA region.
        in: query
        name: p_reg
        schema:
          enum:
          - "01"
          - "02"
          - "03"
          - "04"
          - "05"
          - "06"
          - "07"
          - "08"
          - "09"
          - "10"
          type: string
      - description: "Standard Industrial Classification (SIC) Code Filter.  Enter\
          \ a single 4-digit SIC Code to filter results.  If more complex filtering\
          \ is required, use p_sic2 and p_sic4."
        in: query
        name: p_sic
        schema:
          type: string
      - description: North American Industry Classification System Filter. Enter two
          to six digits to filter results to facilities having matching NAICS codes.  Digits
          less than six will match to all codes beginning with the provided values.
        in: query
        name: p_ncs
        schema:
          type: string
      - description: "Last Penality Date Qualifier Filter.  Enter one of the following:\
          \   \n- NEVER = No Penalties\n- ANY = Any Penalty\n- LEXX = Less than or\
          \ equal to XX months.  Provide a number in place of XX, e.g. \"LE5\" for\
          \ a facility with a penalty within previous 5 months.\n- GTXX = Greater\
          \ than XX months.  Provide a number in place of XX, eg. GT12, for a facility\
          \ with the last penalty greater than 12 months ago."
        in: query
        name: p_pen
        schema:
          type: string
      - description: In decimal degrees.  Latitude of 1st corner of box that bounds
          the resulting facilities. The latitude and longitude of both corners of
          the bounding box must be provided.
        in: query
        name: p_c1lat
        schema:
          type: number
      - description: In decimal degrees.  Longitude of 1st corner of box that bounds
          the resulting facilities. The latitude and longitude of both corners of
          the bounding box must be provided.
        in: query
        name: p_c1lon
        schema:
          type: number
      - description: In decimal degrees.  Latitude of 2nd corner of box that bounds
          the resulting facilities. The latitude and longitude of both corners of
          the bounding box must be provided.
        in: query
        name: p_c2lat
        schema:
          type: number
      - description: In decimal degrees.  Longitude of 2nd corner of box that bounds
          the resulting facilities. The latitude and longitude of both corners of
          the bounding box must be provided.
        in: query
        name: p_c2lon
        schema:
          type: number
      - description: US-Mexico Border Flag.  Enter Y/N to restrict searches to facilities
          located within 100KM of the border.
        in: query
        name: p_usmex
        schema:
          enum:
          - "Y"
          - "N"
          type: string
      - description: "Standard Industrial Classification (SIC) Code Filter Alternate\
          \ 2. Enter a wild-card search against SIC codes.  A final wild-card is always\
          \ present allowing \"22\" to match all SIC codes beginning with 22.  Use\
          \ the \"%\" character within strings to match any SIC values with the pattern.\
          \  For example, \"2%21\" matches 2021, 2121, 2221, etc."
        in: query
        name: p_sic2
        schema:
          type: string
      - description: "Standard Industrial Classification (SIC) Code Filter Alternate\
          \ 3.  Enter the first 2, 3 or 4 SIC code digits to filter results to facilities\
          \ having those code prefixes.  As this alternative does not utilize an index,\
          \ p_sic2 will generally be quicker."
        in: query
        name: p_sic4
        schema:
          type: string
      - description: Federal Agency. 1 character or 5-character values; may contain
          multiple comma-separated values. ALL will retrieve all facilities where
          the federal agency code is not null.  Use the Federal Agencies lookup service
          to obtain a list of values.
        in: query
        name: p_fa
        schema:
          type: string
      - description: Active Permits/Facilities Flag.  Provide Y or N to filter results
          to facilities with active permits.
        in: query
        name: p_act
        schema:
          enum:
          - "Y"
          - "N"
          - A
          type: string
      - description: |-
          Formal Enforcement Actions [within / not within] specified date range indicator. The date range is determined by parameters p_fead1 and p_fead2 or by parameter p_feay.
          - W = within date range
          - N = not within date range
        in: query
        name: p_fea
        schema:
          enum:
          - W
          - "N"
          type: string
      - description: Years (1 to 5) Range.  This value is used to create a date range
          for Formal Enforcement Actions (FEA). Used along with p_fea (which indicates
          whether to look within or outside of the date range) to find FEAs within
          (or not within) the number of years specified.
        in: query
        name: p_feay
        schema:
          enum:
          - 1
          - 2
          - 3
          - 4
          - 5
          type: number
      - description: |-
          Agency associated with Formal Enforcement Actions:
          - E = EPA
          - S = State
          - A = All
        in: query
        name: p_feaa
        schema:
          enum:
          - A
          - E
          - S
          type: string
      - description: |-
          Informal Enforcement Actions [within / not within] specified date range.  The date range is determined by parameters p_iead1 and p_iead2 or by parameter p_ieay.
          - W = within date range
          - N = not within date range
        in: query
        name: p_iea
        schema:
          enum:
          - W
          - "N"
          type: string
      - description: Years (1 to 5) Range.  This value is used to create a date range
          for Informal Enforcement Actions (IEA). Used along with p_iea (which indicates
          whether to look within or outside of the date range) to find IEAs within
          (or not within) the number of years specified.
        in: query
        name: p_ieay
        schema:
          enum:
          - 1
          - 2
          - 3
          - 4
          - 5
          type: number
      - description: |-
          Agency associated with Informal Enforcement Actions. If left blank, both agencies are included.
          - E = EPA
          - S = State
        in: query
        name: p_ieaa
        schema:
          enum:
          - E
          - S
          type: string
      - description: |-
          RCRA Current Compliance Status Limiter.  Enter one or more of the following keywords to limit results.  Enter multiple values as a comma-delimited list.
          - No Violation
          - In Violation
          - In Significant Noncompliance
        in: query
        name: p_cmps
        schema:
          type: string
      - description: Law Statute Code Filter.  Enter a single statute code to limit
          results.
        in: query
        name: p_law
        schema:
          type: string
      - description: Law Section Code Filter. Enter one or more law section codes
          to limit results.  Provide multiple values as a comma-delimited list.
        in: query
        name: p_section
        schema:
          type: string
      - description: |-
          Quarters in Noncompliance Limiter.  Enter a coded value to limit results to facilities with given quarter of noncompliance.
          - Z = Zero quarters in noncompliance.
          - GEXX = Replacing XX with a numeric value, that number of quarterd or more in noncompliance.
          - GTXX = Replacing XX with a numeric value, more than that number of quarters in noncompliance.
        in: query
        name: p_qiv
        schema:
          enum:
          - "0"
          - GT1
          - GT2
          - GT4
          - GT8
          - "12"
          type: string
      - description: Discharging into Impaired Waters Flag. Enter Y to limit results
          to facilities with discharge to waterbodies listed as impaired in the ATTAINS
          database.
        in: query
        name: p_impw
        schema:
          enum:
          - "Y"
          - "N"
          type: string
      - description: |-
          Current Toxics Release Inventory (TRI) Reporter Limiter.  Enter one of the following codes to limit results.
          - CURR = Current TRI reporter.
          - NONCURR = Has reported to TRI in the past but not for the current reporting year.
        in: query
        name: p_trep
        schema:
          enum:
          - CURR
          - NOTCURR
          type: string
      - description: |-
          Toxics Release Inventory Pounds of Off-Site Land Releases Limiter.  Enter a keyword to filter results.
          - Z = Zero pounds of land releases.
          - GT0 = More than zero pounds of land releases.
          - GT1000 = More than one thousand pounds of land releases.
          - GT5000 = More than five thousand pounds of land releases.
          - GT10000 = More than ten thousand pounds of land releases.
          - GT20000 = More than twenty thousand pounds of land releases.
          - GT50000 = More than fifty thousand pounds of land releases.
        in: query
        name: p_olr
        schema:
          type: string
      - description: |-
          Toxic Release Inventory Pounds of Off-Site Chemical Releases Limiter.  Enter a keyword to filter results.
          - Z = Zero pounds of chemical releases.
          - GT0 = More than zero pounds of chemical releases.
          - GT1000 = More than one thousand pounds of chemical releases.
          - GT5000 = More than five thousand pounds of chemical releases.
          - GT10000 = More than ten thousand pounds of chemical releases.
          - GT20000 = More than twenty thousand pounds of chemical releases.
          - GT50000 = More than fifty thousand pounds of chemical releases.
        in: query
        name: p_oct
        schema:
          enum:
          - Z
          - GT0
          - GT1000
          - GT5000
          - GT10000
          - GT20000
          - GT50000
          type: string
      - in: query
        name: p_trichem
        schema:
          type: string
      - in: query
        name: p_tri_lr_pol
        schema:
          type: string
      - in: query
        name: p_tri_lr_yr
        schema:
          type: string
      - in: query
        name: p_tri_lr_amt
        schema:
          type: string
      - description: |-
          Percent Minority Population Limiter.  Enter a value to restrict results to facilities with a given percentage of minority population within 3-mile radius.
          - NONE = 0%
          - GT5 = greater than 5%
          - GT10 = greater than 10%
          - GT25 = greater than 25%
          - GT50 = greater than 50%
          - GT75 = greater than 75%
        in: query
        name: p_pm
        schema:
          enum:
          - NONE
          - GT5
          - GT10
          - GT25
          - GT50
          - GT75
          type: string
      - description: |-
          Population Density Limiter (per sq mile). Enter a value to limit results to facilities located in area of a given population density.
          - NONE = 0 population density per square mile
          - GT100 = More than 100 population density per square mile
          - GT500 = More than 500 population density per square mile
          - GT1000 = More than 1000 population density per square mile
          - GT5000 = More than 5000 population density per square mile
          - GT10000 = More than 10000 population density per square mile
          - GT20000 = More than 20000 population density per square mile
        in: query
        name: p_pd
        schema:
          enum:
          - NONE
          - GT100
          - GT500
          - GT1000
          - GT5000
          - GT10000
          - GT20000
          type: string
      - description: Indian Country Flag.  Enter a "Y" or "N" to restrict searches
          to facilities inside or outside Indian Country.
        in: query
        name: p_ico
        schema:
          enum:
          - "Y"
          - "N"
          type: string
      - description: "2-, 4-, 6-, or 8-character watershed code. May contain multiple\
          \ comma-separated values."
        in: query
        name: p_huc
        schema:
          type: string
      - description: "2-, 4-, 6-, 8-, 10-, or 12-character watershed (WBD from the\
          \ USGS Watershed Boundary Dataset). May contain multiple comma-separated\
          \ values.  Uses the FRS Best Pick Coordinate to obtain the WBD12 Huc value."
        in: query
        name: p_wbd
        schema:
          type: string
      - description: Nine-digit permit IDs. May contain up to 2000 comma-separated
          values.
        in: query
        name: p_pid
        schema:
          type: string
      - description: |-
          Filter Results by Media.
          - A = Air
          - M = RMP (Risk Management Plan)
          - R = RCRA (Hazardous Waste)
          - S = SDWA (Public Drinking Water Systems)
          - W = Water
          - ALL = Air and Water and RCRA
        in: query
        name: p_med
        schema:
          enum:
          - A
          - M
          - R
          - S
          - W
          - ALL
          type: string
      - in: query
        name: p_owc
        schema:
          type: string
      - in: query
        name: p_owd
        schema:
          type: string
      - in: query
        name: p_opc
        schema:
          type: string
      - in: query
        name: p_opd
        schema:
          type: string
      - description: |-
          Last Facility Inspection [within / not within] Specified Date Range Indicator. The date range is determined by parameters p_idt1 and p_idt2 or by parameter p_ysly.
          - W = within date range
          - N = not within date range
        in: query
        name: p_ysl
        schema:
          enum:
          - W
          - "N"
          - NV
          type: string
      - description: Number of years (1 to 5) since last facility inspection.  A value
          of 1 means that it has been inspected within the year.
        in: query
        name: p_ysly
        schema:
          enum:
          - 1
          - 2
          - 3
          - 4
          - 5
          type: number
      - description: |-
          Facility Last Inspection Code Filter.  If left blank, both agencies are included.  Enter a value to limit results:
          - E = EPA
          - S = State
        in: query
        name: p_ysla
        schema:
          enum:
          - E
          - S
          - A
          type: string
      - description: "Quick Search. Allows entry for city, state, and/or zip code."
        in: query
        name: p_qs
        schema:
          type: string
      - description: "Single Facility Search Filter.  Provide a facility name or program\
          \ system identifier to limit results.  For the all data search, the FRS\
          \ registry identifier is also searched."
        in: query
        name: p_sfs
        schema:
          type: string
      - description: Numeric code for tribe (or list of tribes).
        in: query
        name: p_tribeid
        schema:
          type: number
      - description: Tribe Name Filter.  Enter a single tribe name to filter results.
        in: query
        name: p_tribename
        schema:
          type: string
      - description: Proximity to tribal land limiter. Enter an amount of mile between
          0 and 25 to filter results.  This parameter is only evaluated if p_tribeid
          is populated.
        in: query
        name: p_tribedist
        schema:
          type: number
      - description: |-
          Owner/Operator code filter.  Enter one of the following codes to filter results:
          - PUBLIC
          - PRIVATE
          - FEDERAL
        in: query
        name: p_owop
        schema:
          enum:
          - PRIVATE
          - PUBLIC
          - FEDERAL
          type: string
      - description: Indicates whether to AND or OR the Owner/Operator parameter (p_owop)
          and the federal agency code (p_fa) parameters.
        in: query
        name: p_agoo
        schema:
          enum:
          - AND
          - OR
          type: string
      - description: Beginning of date range of most recent facility inspection.
        in: query
        name: p_idt1
        schema:
          type: string
      - description: End of date range of most recent facility inspection.
        in: query
        name: p_idt2
        schema:
          type: string
      - description: |-
          Inspection Type:
          - CAC = Corrective Action Inspection
          - CAV = Compliance Assistance Visit
          - CDI = Case Development Inspection
          - CEI = Inspection Inspection
          - CSE = Compliance Schedule Evaluation
          - FCI = Focused Compliance
          - FRR = Financial Record Review
          - FSD = Facility Self Disclosure
          - FUI = Follow-Up Inspection
          - GME = Groundwater Monitoring Evaluation
          - NRR = Non-Financial Record Review
          - OAM = Operation and Maintenance Inspection
          May contain multiple comma-separated values.
        in: query
        name: p_pityp
        schema:
          type: string
      - description: Compliance issuess found during inspection.
        in: query
        name: p_cifdi
        schema:
          enum:
          - Any
          - "true"
          - "false"
          - Undetermined
          type: string
      - description: Formal Enforcement Action Date Range Start.  Enter a date in
          MM/DD/YYYY format to set the start of the range for filtering by recent
          Formal Enforcement Action (FEA) taken against the facility within the last
          five years.
        in: query
        name: p_pfead1
        schema:
          type: string
      - description: Formal Enforcement Action Date Range End.  Enter a date in MM/DD/YYYY
          format to set the end of the date range for filtering by recent Formal Enforcement
          Action (FEA) taken against the facility within the last five years.
        in: query
        name: p_pfead2
        schema:
          type: string
      - description: Formal Enforcement Action (FEA) Code Filter.  Enter one or more
          three-letter FEA codes to restrict results to facilities with these attributes.  Use
          p_fead1 and p_fead2 parameters to further restrict this filter by entering
          a date range.  Provide multiple codes as a comma-delimited list.
        in: query
        name: p_pfeat
        schema:
          type: string
      - description: |-
          Quarters in Significant Noncompliance Limiter.  Enter a coded value to limit results to facilities with given quarter of significant noncompliance.
          - Z = Zero quarters in significant noncompliance.
          - GEXX = Replacing XX with a numeric value, that number of quarterd or more in significant noncompliance.
          - GTXX = Replacing XX with a numeric value, more than that number of quarters in significant noncompliance.
        in: query
        name: p_psncq
        schema:
          enum:
          - GT1
          - GE1
          - GT2
          - GE2
          - GT4
          - GE4
          - GT8
          - GE8
          - GT12
          - GE12
          type: string
      - description: Direct Water Discharges. Pounds of toxic chemicals released directly
          to surface water as reported to the Toxics Release Inventory.
        in: query
        name: p_dwd
        schema:
          enum:
          - "0"
          - GT0
          - GT1000
          - GT5000
          - GT10000
          - GT20000
          - GT50000
          type: string
      - description: Years Since Last Violation Limiter.  Enter a value in the format
          GTXX where XX is replaced by the number of years since the last violation.
        in: query
        name: p_violy
        schema:
          enum:
          - 1
          - 2
          - 3
          type: number
      - description: Number of Current Violations Limiter.  Enter a value in the format
          GTXX replacing XX with a numeric value to select facilities with an equal
          to greater count of current violations.  Enter Z to select facilities with
          zero violations.
        in: query
        name: p_ncv
        schema:
          type: string
      - description: Years of Continuing Violations Limiter.  Enter a value in the
          format GTXX where XX is replaced by the number of years in continuing violation.
        in: query
        name: p_fcv
        schema:
          type: string
      - description: RCRA Violation Type.  Enter one or more Resource Conservation
          and Recovery Act violation types to limit results.  Provide multiple values
          as a comma-delimited list.
        in: query
        name: p_violt
        schema:
          type: string
      - description: Universe Designation Limiter.  Enter one or more universe designation
          codes.  Provide multiple values as a comma-delimited list.  Use code "TSDF"
          to return the full enforcement TSDF universe and "Operating TSDF" to return
          the operating TSDF universe.
        in: query
        name: p_des
        schema:
          type: string
      - description: "Controls type of text search performed on facility name with\
          \ parameter p_fn.\n- EXACT = Find facilities having the exact provided name(s).\n\
          - BEGINS = Find facilities with names starting with the provided term(s).\n\
          - ALL = Find facilities using Oracle text search terms.\n- CONTAINS = "
        in: query
        name: p_fntype
        schema:
          enum:
          - ALL
          - CONTAINS
          - EXACT
          - BEGINS
          type: string
      - description: "Controls whether search is restricted to existing system. Y\
          \ means the search will match the p_pid parameter against all associated\
          \ permits (AIR, RCRA, SDWIS, etc)."
        in: query
        name: p_pidall
        schema:
          enum:
          - "Y"
          - "N"
          type: string
      - description: FRS tribal land code flag.  Enter "Y" or "N" to include or exclude
          facilities based on FRS tribal land code.
        in: query
        name: p_fac_ico
        schema:
          enum:
          - "Y"
          - "N"
          type: string
      - description: "Indian country search and/or flag.  Enter \"Y\" to set indian\
          \ country search conditions to return any results found using p_ico, p_fac_ico\
          \ or p_fac_icoo.  Otherwise only results matching all provided p_ico, p_fac_ico\
          \ or p_fac_icoo conditions will be returned."
        in: query
        name: p_icoo
        schema:
          type: string
      - description: FRS tribal land spatial flag.  Enter "Y" or "N" to include or
          exclude facilities based on FRS tribal land spatial flag.
        in: query
        name: p_fac_icos
        schema:
          type: string
      - description: Enter "Y" to limit facilities to Census block groups where one
          of more Environmental Justice indexes above 80th percentile.
        in: query
        name: p_ejscreen
        schema:
          type: string
      - description: 'Limit Address Search Flag.  Enter Y to restrict facility searches
          to native data source only.  '
        in: query
        name: p_limit_addr
        schema:
          enum:
          - "Y"
          - "N"
          type: string
      - description: Latitude location in decimal degrees.
        in: query
        name: p_lat
        schema:
          type: number
      - description: Longitude location in decimal degrees.
        in: query
        name: p_long
        schema:
          type: number
      - description: Spatial Search Radius.  Enter a radius up to 100 miles in which
          to spatially search for facilities.
        in: query
        name: p_radius
        schema:
          type: number
      - description: Decouple Inspection Code Search Flag.  Enter "Y" to search for
          inspection code types with p_pityp without respect to the date range search
          provided with p_ysl* parameters.
        in: query
        name: p_decouple
        schema:
          enum:
          - "Y"
          - "N"
          type: string
      - description: The number of Environmenmt Justice Indicators above the 80th
          percentile.  Valid values are 1 through 11.
        in: query
        name: p_ejscreen_over80cnt
        schema:
          enum:
          - "1"
          - "2"
          - "3"
          - "4"
          - "5"
          - "6"
          - "7"
          - "8"
          - "9"
          - "10"
          - "11"
          type: string
      - description: "Query Limiter.  Enter a value to limit the number of records\
          \ returned for each query. Value cannot exceed 70,000."
        in: query
        name: queryset
        schema:
          type: number
      - description: "Response Set Limiter. Enter a value to limit the number of records\
          \ per page. Value cannot exceed 1,000."
        in: query
        name: responseset
        schema:
          type: number
      - description: Table List Flag. Enter a Y to display the first page of facility
          results.
        in: query
        name: tablelist
        schema:
          enum:
          - "Y"
          - "N"
          type: string
      - description: Map List Flag.  Provide a Y to return mappable coordinates representing
          the full geographic extent of the queryset (all facilities that met the
          selection criteria).
        in: query
        name: maplist
        schema:
          enum:
          - "Y"
          - "N"
          type: string
      - description: Summary List Flag.  Enter a Y to return a list of summary statistics
          based on the parameters submitted to the query service.
        in: query
        name: summarylist
        schema:
          enum:
          - "Y"
          - "N"
          type: string
      - description: JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter
          a name of the function in which to wrap the JSON response.
        in: query
        name: callback
        schema:
          type: string
      - description: Used to customize service output.  A list of comma-separated
          column IDs of output objects that will be returned in the service query
          object or download.  Use the metadata service endpoint for a complete list
          of Ids and definitions.
        in: query
        name: qcolumns
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_rcra_rest_services_get_facilities_get_200_response'
            application/xml:
              schema:
                $ref: '#/components/schemas/_rcra_rest_services_get_facilities_get_200_response'
          description: Results are summary statistics for the query and a query identifier
            (QID).
      summary: Resource Conservation and Recovery Act (RCRA) Facility Search Service
      tags:
      - Resource Conservation and Recovery Act
      x-openapi-router-controller: openapi_server.controllers.resource_conservation_and_recovery_act_controller
    post:
      description: Validates query search parameters and returns query identifier.  Use
        the responseset parameter to set the page size
      operationId: rcra_rest_services_get_facilities_post
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/_rcra_rest_services_get_facilities_post_request'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_rcra_rest_services_get_facilities_get_200_response'
            application/xml:
              schema:
                $ref: '#/components/schemas/_rcra_rest_services_get_facilities_get_200_response'
          description: Results are summary statistics for the query and a query identifier
            (QID).
      summary: Resource Conservation and Recovery Act (RCRA) Facility Search Service
      tags:
      - Resource Conservation and Recovery Act
      x-openapi-router-controller: openapi_server.controllers.resource_conservation_and_recovery_act_controller
      x-codegen-request-body-name: body
  /rcra_rest_services.get_facility_info:
    get:
      description: Returns either an array of Facilities or an array of Clusters that
        meet the specified search criteria.
      operationId: rcra_rest_services_get_facility_info_get
      parameters:
      - description: "Output Format Flag.  Enter one of the following keywords:\n\
          - JSON = Data model formatted as Javascript Object Notation (default).\n\
          - JSONP = Data model formatted as Javascript Object Notation with Padding.\
          \  \n- XML = Data model formatted as Extensible Markup Language.\n- CSV\
          \ = Facility results formatted as comma delimited file download.\n- GEOJSON\
          \ = Facility results formatted as GeoJSON feature collection.\n- GEOJSONP\
          \ = Facility results formatted as GeoJSON feature collection with Padding.\n\
          - GEOJSOND = Facility results formatted as GeoJSON feature collection download."
        in: query
        name: output
        schema:
          type: string
      - description: Facility Name Filter. Enter one or more case-insensitive facility
          names to filter results.  Provide multiple values as a comma-delimited list.  See
          p_fntype for additional modifiers.
        in: query
        name: p_fn
        schema:
          type: string
      - description: Facility street address. Enter a complete or partial street address.
        in: query
        name: p_sa
        schema:
          type: string
      - description: Facility street address. Enter a complete or partial street address.   Note
          that p_sa1 is culmulative with p_sa.
        in: query
        name: p_sa1
        schema:
          type: string
      - description: Facility City Filter. Enter a single case-insensitive city name
          to filter results.
        in: query
        name: p_ct
        schema:
          type: string
      - description: Facility County Filter. Provide a single county name in combination
          with a state value provided via p_st.
        in: query
        name: p_co
        schema:
          type: string
      - description: "FIPS Code Filter.  Enter a single 5-character Federal Information\
          \ Processing Standards (FIPS) state + county value to restrict results.\
          \  E.g. to limit results to Kenosha County, Wisconsin, use 55059."
        in: query
        name: p_fips
        schema:
          type: string
      - description: Facility State and State-Equivalent Filter.  Provide one or more
          USPS postal abbreviations for states and state-equivalents to filter results.  Provide
          multiple values as a comma-delimited list.
        in: query
        name: p_st
        schema:
          type: string
      - description: State District Filter.  Enter a single state district to restrict
          results.
        in: query
        name: p_stdist
        schema:
          type: string
      - description: 5-Digit ZIP Code Filter. Provide one or more 5-digit postal zip
          codes to filter results.  May contain multiple comma-separated values.
        in: query
        name: p_zip
        schema:
          type: string
      - description: Facility Registry Service ID Filter. Enter a single 12-digit
          FRS identifier to filter results.
        in: query
        name: p_frs
        schema:
          type: string
      - description: EPA Region Filter. Provide a single value of 01 thru 10 to restrict
          results to a single EPA region.
        in: query
        name: p_reg
        schema:
          enum:
          - "01"
          - "02"
          - "03"
          - "04"
          - "05"
          - "06"
          - "07"
          - "08"
          - "09"
          - "10"
          type: string
      - description: "Standard Industrial Classification (SIC) Code Filter.  Enter\
          \ a single 4-digit SIC Code to filter results.  If more complex filtering\
          \ is required, use p_sic2 and p_sic4."
        in: query
        name: p_sic
        schema:
          type: string
      - description: North American Industry Classification System Filter. Enter two
          to six digits to filter results to facilities having matching NAICS codes.  Digits
          less than six will match to all codes beginning with the provided values.
        in: query
        name: p_ncs
        schema:
          type: string
      - description: "Last Penality Date Qualifier Filter.  Enter one of the following:\
          \   \n- NEVER = No Penalties\n- ANY = Any Penalty\n- LEXX = Less than or\
          \ equal to XX months.  Provide a number in place of XX, e.g. \"LE5\" for\
          \ a facility with a penalty within previous 5 months.\n- GTXX = Greater\
          \ than XX months.  Provide a number in place of XX, eg. GT12, for a facility\
          \ with the last penalty greater than 12 months ago."
        in: query
        name: p_pen
        schema:
          type: string
      - description: Minimum longitude value in decimal degrees.
        in: query
        name: xmin
        schema:
          type: number
      - description: Minimum latitude value in decimal degrees.
        in: query
        name: ymin
        schema:
          type: number
      - description: Maximum longitude value in decimal degrees.
        in: query
        name: xmax
        schema:
          type: number
      - description: Maximum latitude value in decimal degrees.
        in: query
        name: ymax
        schema:
          type: number
      - description: US-Mexico Border Flag.  Enter Y/N to restrict searches to facilities
          located within 100KM of the border.
        in: query
        name: p_usmex
        schema:
          enum:
          - "Y"
          - "N"
          type: string
      - description: "Standard Industrial Classification (SIC) Code Filter Alternate\
          \ 2. Enter a wild-card search against SIC codes.  A final wild-card is always\
          \ present allowing \"22\" to match all SIC codes beginning with 22.  Use\
          \ the \"%\" character within strings to match any SIC values with the pattern.\
          \  For example, \"2%21\" matches 2021, 2121, 2221, etc."
        in: query
        name: p_sic2
        schema:
          type: string
      - description: "Standard Industrial Classification (SIC) Code Filter Alternate\
          \ 3.  Enter the first 2, 3 or 4 SIC code digits to filter results to facilities\
          \ having those code prefixes.  As this alternative does not utilize an index,\
          \ p_sic2 will generally be quicker."
        in: query
        name: p_sic4
        schema:
          type: string
      - description: Federal Agency. 1 character or 5-character values; may contain
          multiple comma-separated values. ALL will retrieve all facilities where
          the federal agency code is not null.  Use the Federal Agencies lookup service
          to obtain a list of values.
        in: query
        name: p_fa
        schema:
          type: string
      - description: Active Permits/Facilities Flag.  Provide Y or N to filter results
          to facilities with active permits.
        in: query
        name: p_act
        schema:
          enum:
          - "Y"
          - "N"
          - A
          type: string
      - description: |-
          Formal Enforcement Actions [within / not within] specified date range indicator. The date range is determined by parameters p_fead1 and p_fead2 or by parameter p_feay.
          - W = within date range
          - N = not within date range
        in: query
        name: p_fea
        schema:
          enum:
          - W
          - "N"
          type: string
      - description: Years (1 to 5) Range.  This value is used to create a date range
          for Formal Enforcement Actions (FEA). Used along with p_fea (which indicates
          whether to look within or outside of the date range) to find FEAs within
          (or not within) the number of years specified.
        in: query
        name: p_feay
        schema:
          enum:
          - 1
          - 2
          - 3
          - 4
          - 5
          type: number
      - description: |-
          Agency associated with Formal Enforcement Actions:
          - E = EPA
          - S = State
          - A = All
        in: query
        name: p_feaa
        schema:
          enum:
          - A
          - E
          - S
          type: string
      - description: |-
          Informal Enforcement Actions [within / not within] specified date range.  The date range is determined by parameters p_iead1 and p_iead2 or by parameter p_ieay.
          - W = within date range
          - N = not within date range
        in: query
        name: p_iea
        schema:
          enum:
          - W
          - "N"
          type: string
      - description: Years (1 to 5) Range.  This value is used to create a date range
          for Informal Enforcement Actions (IEA). Used along with p_iea (which indicates
          whether to look within or outside of the date range) to find IEAs within
          (or not within) the number of years specified.
        in: query
        name: p_ieay
        schema:
          enum:
          - 1
          - 2
          - 3
          - 4
          - 5
          type: number
      - description: |-
          Agency associated with Informal Enforcement Actions. If left blank, both agencies are included.
          - E = EPA
          - S = State
        in: query
        name: p_ieaa
        schema:
          enum:
          - E
          - S
          type: string
      - description: |-
          RCRA Current Compliance Status Limiter.  Enter one or more of the following keywords to limit results.  Enter multiple values as a comma-delimited list.
          - No Violation
          - In Violation
          - In Significant Noncompliance
        in: query
        name: p_cmps
        schema:
          type: string
      - description: Law Statute Code Filter.  Enter a single statute code to limit
          results.
        in: query
        name: p_law
        schema:
          type: string
      - description: Law Section Code Filter. Enter one or more law section codes
          to limit results.  Provide multiple values as a comma-delimited list.
        in: query
        name: p_section
        schema:
          type: string
      - description: |-
          Quarters in Noncompliance Limiter.  Enter a coded value to limit results to facilities with given quarter of noncompliance.
          - Z = Zero quarters in noncompliance.
          - GEXX = Replacing XX with a numeric value, that number of quarterd or more in noncompliance.
          - GTXX = Replacing XX with a numeric value, more than that number of quarters in noncompliance.
        in: query
        name: p_qiv
        schema:
          enum:
          - "0"
          - GT1
          - GT2
          - GT4
          - GT8
          - "12"
          type: string
      - description: Discharging into Impaired Waters Flag. Enter Y to limit results
          to facilities with discharge to waterbodies listed as impaired in the ATTAINS
          database.
        in: query
        name: p_impw
        schema:
          enum:
          - "Y"
          - "N"
          type: string
      - description: |-
          Current Toxics Release Inventory (TRI) Reporter Limiter.  Enter one of the following codes to limit results.
          - CURR = Current TRI reporter.
          - NONCURR = Has reported to TRI in the past but not for the current reporting year.
        in: query
        name: p_trep
        schema:
          enum:
          - CURR
          - NOTCURR
          type: string
      - description: |-
          Toxics Release Inventory Pounds of Off-Site Land Releases Limiter.  Enter a keyword to filter results.
          - Z = Zero pounds of land releases.
          - GT0 = More than zero pounds of land releases.
          - GT1000 = More than one thousand pounds of land releases.
          - GT5000 = More than five thousand pounds of land releases.
          - GT10000 = More than ten thousand pounds of land releases.
          - GT20000 = More than twenty thousand pounds of land releases.
          - GT50000 = More than fifty thousand pounds of land releases.
        in: query
        name: p_olr
        schema:
          type: string
      - description: |-
          Toxic Release Inventory Pounds of Off-Site Chemical Releases Limiter.  Enter a keyword to filter results.
          - Z = Zero pounds of chemical releases.
          - GT0 = More than zero pounds of chemical releases.
          - GT1000 = More than one thousand pounds of chemical releases.
          - GT5000 = More than five thousand pounds of chemical releases.
          - GT10000 = More than ten thousand pounds of chemical releases.
          - GT20000 = More than twenty thousand pounds of chemical releases.
          - GT50000 = More than fifty thousand pounds of chemical releases.
        in: query
        name: p_oct
        schema:
          enum:
          - Z
          - GT0
          - GT1000
          - GT5000
          - GT10000
          - GT20000
          - GT50000
          type: string
      - in: query
        name: p_trichem
        schema:
          type: string
      - in: query
        name: p_tri_lr_pol
        schema:
          type: string
      - in: query
        name: p_tri_lr_yr
        schema:
          type: string
      - in: query
        name: p_tri_lr_amt
        schema:
          type: string
      - description: |-
          Percent Minority Population Limiter.  Enter a value to restrict results to facilities with a given percentage of minority population within 3-mile radius.
          - NONE = 0%
          - GT5 = greater than 5%
          - GT10 = greater than 10%
          - GT25 = greater than 25%
          - GT50 = greater than 50%
          - GT75 = greater than 75%
        in: query
        name: p_pm
        schema:
          enum:
          - NONE
          - GT5
          - GT10
          - GT25
          - GT50
          - GT75
          type: string
      - description: |-
          Population Density Limiter (per sq mile). Enter a value to limit results to facilities located in area of a given population density.
          - NONE = 0 population density per square mile
          - GT100 = More than 100 population density per square mile
          - GT500 = More than 500 population density per square mile
          - GT1000 = More than 1000 population density per square mile
          - GT5000 = More than 5000 population density per square mile
          - GT10000 = More than 10000 population density per square mile
          - GT20000 = More than 20000 population density per square mile
        in: query
        name: p_pd
        schema:
          enum:
          - NONE
          - GT100
          - GT500
          - GT1000
          - GT5000
          - GT10000
          - GT20000
          type: string
      - description: Indian Country Flag.  Enter a "Y" or "N" to restrict searches
          to facilities inside or outside Indian Country.
        in: query
        name: p_ico
        schema:
          enum:
          - "Y"
          - "N"
          type: string
      - description: "2-, 4-, 6-, or 8-character watershed code. May contain multiple\
          \ comma-separated values."
        in: query
        name: p_huc
        schema:
          type: string
      - description: "2-, 4-, 6-, 8-, 10-, or 12-character watershed (WBD from the\
          \ USGS Watershed Boundary Dataset). May contain multiple comma-separated\
          \ values.  Uses the FRS Best Pick Coordinate to obtain the WBD12 Huc value."
        in: query
        name: p_wbd
        schema:
          type: string
      - description: Nine-digit permit IDs. May contain up to 2000 comma-separated
          values.
        in: query
        name: p_pid
        schema:
          type: string
      - description: |-
          Filter Results by Media.
          - A = Air
          - M = RMP (Risk Management Plan)
          - R = RCRA (Hazardous Waste)
          - S = SDWA (Public Drinking Water Systems)
          - W = Water
          - ALL = Air and Water and RCRA
        in: query
        name: p_med
        schema:
          enum:
          - A
          - M
          - R
          - S
          - W
          - ALL
          type: string
      - in: query
        name: p_owc
        schema:
          type: string
      - in: query
        name: p_owd
        schema:
          type: string
      - in: query
        name: p_opc
        schema:
          type: string
      - in: query
        name: p_opd
        schema:
          type: string
      - description: |-
          Last Facility Inspection [within / not within] Specified Date Range Indicator. The date range is determined by parameters p_idt1 and p_idt2 or by parameter p_ysly.
          - W = within date range
          - N = not within date range
        in: query
        name: p_ysl
        schema:
          enum:
          - W
          - "N"
          - NV
          type: string
      - description: Number of years (1 to 5) since last facility inspection.  A value
          of 1 means that it has been inspected within the year.
        in: query
        name: p_ysly
        schema:
          enum:
          - 1
          - 2
          - 3
          - 4
          - 5
          type: number
      - description: |-
          Facility Last Inspection Code Filter.  If left blank, both agencies are included.  Enter a value to limit results:
          - E = EPA
          - S = State
        in: query
        name: p_ysla
        schema:
          enum:
          - E
          - S
          - A
          type: string
      - description: "Quick Search. Allows entry for city, state, and/or zip code."
        in: query
        name: p_qs
        schema:
          type: string
      - description: "Single Facility Search Filter.  Provide a facility name or program\
          \ system identifier to limit results.  For the all data search, the FRS\
          \ registry identifier is also searched."
        in: query
        name: p_sfs
        schema:
          type: string
      - description: Numeric code for tribe (or list of tribes).
        in: query
        name: p_tribeid
        schema:
          type: number
      - description: Tribe Name Filter.  Enter a single tribe name to filter results.
        in: query
        name: p_tribename
        schema:
          type: string
      - description: Proximity to tribal land limiter. Enter an amount of mile between
          0 and 25 to filter results.  This parameter is only evaluated if p_tribeid
          is populated.
        in: query
        name: p_tribedist
        schema:
          type: number
      - description: |-
          Owner/Operator code filter.  Enter one of the following codes to filter results:
          - PUBLIC
          - PRIVATE
          - FEDERAL
        in: query
        name: p_owop
        schema:
          enum:
          - PRIVATE
          - PUBLIC
          - FEDERAL
          type: string
      - description: Indicates whether to AND or OR the Owner/Operator parameter (p_owop)
          and the federal agency code (p_fa) parameters.
        in: query
        name: p_agoo
        schema:
          enum:
          - AND
          - OR
          type: string
      - description: Beginning of date range of most recent facility inspection.
        in: query
        name: p_idt1
        schema:
          type: string
      - description: End of date range of most recent facility inspection.
        in: query
        name: p_idt2
        schema:
          type: string
      - description: |-
          Inspection Type:
          - CAC = Corrective Action Inspection
          - CAV = Compliance Assistance Visit
          - CDI = Case Development Inspection
          - CEI = Inspection Inspection
          - CSE = Compliance Schedule Evaluation
          - FCI = Focused Compliance
          - FRR = Financial Record Review
          - FSD = Facility Self Disclosure
          - FUI = Follow-Up Inspection
          - GME = Groundwater Monitoring Evaluation
          - NRR = Non-Financial Record Review
          - OAM = Operation and Maintenance Inspection
          May contain multiple comma-separated values.
        in: query
        name: p_pityp
        schema:
          type: string
      - description: Compliance issuess found during inspection.
        in: query
        name: p_cifdi
        schema:
          enum:
          - Any
          - "true"
          - "false"
          - Undetermined
          type: string
      - description: Formal Enforcement Action Date Range Start.  Enter a date in
          MM/DD/YYYY format to set the start of the range for filtering by recent
          Formal Enforcement Action (FEA) taken against the facility within the last
          five years.
        in: query
        name: p_pfead1
        schema:
          type: string
      - description: Formal Enforcement Action Date Range End.  Enter a date in MM/DD/YYYY
          format to set the end of the date range for filtering by recent Formal Enforcement
          Action (FEA) taken against the facility within the last five years.
        in: query
        name: p_pfead2
        schema:
          type: string
      - description: Formal Enforcement Action (FEA) Code Filter.  Enter one or more
          three-letter FEA codes to restrict results to facilities with these attributes.  Use
          p_fead1 and p_fead2 parameters to further restrict this filter by entering
          a date range.  Provide multiple codes as a comma-delimited list.
        in: query
        name: p_pfeat
        schema:
          type: string
      - description: |-
          Quarters in Significant Noncompliance Limiter.  Enter a coded value to limit results to facilities with given quarter of significant noncompliance.
          - Z = Zero quarters in significant noncompliance.
          - GEXX = Replacing XX with a numeric value, that number of quarterd or more in significant noncompliance.
          - GTXX = Replacing XX with a numeric value, more than that number of quarters in significant noncompliance.
        in: query
        name: p_psncq
        schema:
          enum:
          - GT1
          - GE1
          - GT2
          - GE2
          - GT4
          - GE4
          - GT8
          - GE8
          - GT12
          - GE12
          type: string
      - description: Direct Water Discharges. Pounds of toxic chemicals released directly
          to surface water as reported to the Toxics Release Inventory.
        in: query
        name: p_dwd
        schema:
          enum:
          - "0"
          - GT0
          - GT1000
          - GT5000
          - GT10000
          - GT20000
          - GT50000
          type: string
      - description: Years Since Last Violation Limiter.  Enter a value in the format
          GTXX where XX is replaced by the number of years since the last violation.
        in: query
        name: p_violy
        schema:
          enum:
          - 1
          - 2
          - 3
          type: number
      - description: Number of Current Violations Limiter.  Enter a value in the format
          GTXX replacing XX with a numeric value to select facilities with an equal
          to greater count of current violations.  Enter Z to select facilities with
          zero violations.
        in: query
        name: p_ncv
        schema:
          type: string
      - description: Years of Continuing Violations Limiter.  Enter a value in the
          format GTXX where XX is replaced by the number of years in continuing violation.
        in: query
        name: p_fcv
        schema:
          type: string
      - description: RCRA Violation Type.  Enter one or more Resource Conservation
          and Recovery Act violation types to limit results.  Provide multiple values
          as a comma-delimited list.
        in: query
        name: p_violt
        schema:
          type: string
      - description: Universe Designation Limiter.  Enter one or more universe designation
          codes.  Provide multiple values as a comma-delimited list.  Use code "TSDF"
          to return the full enforcement TSDF universe and "Operating TSDF" to return
          the operating TSDF universe.
        in: query
        name: p_des
        schema:
          type: string
      - description: "Controls type of text search performed on facility name with\
          \ parameter p_fn.\n- EXACT = Find facilities having the exact provided name(s).\n\
          - BEGINS = Find facilities with names starting with the provided term(s).\n\
          - ALL = Find facilities using Oracle text search terms.\n- CONTAINS = "
        in: query
        name: p_fntype
        schema:
          enum:
          - ALL
          - CONTAINS
          - EXACT
          - BEGINS
          type: string
      - description: "Controls whether search is restricted to existing system. Y\
          \ means the search will match the p_pid parameter against all associated\
          \ permits (AIR, RCRA, SDWIS, etc)."
        in: query
        name: p_pidall
        schema:
          enum:
          - "Y"
          - "N"
          type: string
      - description: FRS tribal land code flag.  Enter "Y" or "N" to include or exclude
          facilities based on FRS tribal land code.
        in: query
        name: p_fac_ico
        schema:
          enum:
          - "Y"
          - "N"
          type: string
      - description: "Indian country search and/or flag.  Enter \"Y\" to set indian\
          \ country search conditions to return any results found using p_ico, p_fac_ico\
          \ or p_fac_icoo.  Otherwise only results matching all provided p_ico, p_fac_ico\
          \ or p_fac_icoo conditions will be returned."
        in: query
        name: p_icoo
        schema:
          type: string
      - description: FRS tribal land spatial flag.  Enter "Y" or "N" to include or
          exclude facilities based on FRS tribal land spatial flag.
        in: query
        name: p_fac_icos
        schema:
          type: string
      - description: Enter "Y" to limit facilities to Census block groups where one
          of more Environmental Justice indexes above 80th percentile.
        in: query
        name: p_ejscreen
        schema:
          type: string
      - description: 'Limit Address Search Flag.  Enter Y to restrict facility searches
          to native data source only.  '
        in: query
        name: p_limit_addr
        schema:
          enum:
          - "Y"
          - "N"
          type: string
      - description: Latitude location in decimal degrees.
        in: query
        name: p_lat
        schema:
          type: number
      - description: Longitude location in decimal degrees.
        in: query
        name: p_long
        schema:
          type: number
      - description: Spatial Search Radius.  Enter a radius up to 100 miles in which
          to spatially search for facilities.
        in: query
        name: p_radius
        schema:
          type: number
      - description: Decouple Inspection Code Search Flag.  Enter "Y" to search for
          inspection code types with p_pityp without respect to the date range search
          provided with p_ysl* parameters.
        in: query
        name: p_decouple
        schema:
          enum:
          - "Y"
          - "N"
          type: string
      - description: The number of Environmenmt Justice Indicators above the 80th
          percentile.  Valid values are 1 through 11.
        in: query
        name: p_ejscreen_over80cnt
        schema:
          enum:
          - "1"
          - "2"
          - "3"
          - "4"
          - "5"
          - "6"
          - "7"
          - "8"
          - "9"
          - "10"
          - "11"
          type: string
      - description: "Query Limiter.  Enter a value to limit the number of records\
          \ returned for each query. Value cannot exceed 70,000."
        in: query
        name: queryset
        schema:
          type: number
      - description: "Response Set Limiter. Enter a value to limit the number of records\
          \ per page. Value cannot exceed 1,000."
        in: query
        name: responseset
        schema:
          type: number
      - description: Summary List Flag.  Enter a Y to return a list of summary statistics
          based on the parameters submitted to the query service.
        in: query
        name: summarylist
        schema:
          enum:
          - "Y"
          - "N"
          type: string
      - description: JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter
          a name of the function in which to wrap the JSON response.
        in: query
        name: param_callback
        schema:
          type: string
      - description: Used to customize service output.  A list of comma-separated
          column IDs of output objects that will be returned in the service query
          object or download.  Use the metadata service endpoint for a complete list
          of Ids and definitions.
        in: query
        name: qcolumns
        schema:
          type: string
      - description: Optional flag to request GeoJSON formatted results to be pretty
          printed.  Only provide a numeric value when the output needs to be human
          readable as pretty printing has a performance cost.
        in: query
        name: p_pretty_print
        schema:
          type: number
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_rcra_rest_services_get_facility_info_get_200_response'
            application/xml:
              schema:
                $ref: '#/components/schemas/_rcra_rest_services_get_facility_info_get_200_response'
          description: "Results will either be an array of Facilities or an array\
            \ of Clusters. The search will return clusters if the number of facilities\
            \ returned is greater than the resposeset size, otherwise individual facility\
            \ records will be returned."
      summary: Resource Conservation and Recovery Act (RCRA) Facility Enhanced Search
        Service
      tags:
      - Resource Conservation and Recovery Act
      x-openapi-router-controller: openapi_server.controllers.resource_conservation_and_recovery_act_controller
    post:
      description: Returns either an array of Facilities or an array of Clusters that
        meet the specified search criteria.
      operationId: rcra_rest_services_get_facility_info_post
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/_rcra_rest_services_get_facility_info_post_request'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_rcra_rest_services_get_facility_info_get_200_response'
            application/xml:
              schema:
                $ref: '#/components/schemas/_rcra_rest_services_get_facility_info_get_200_response'
          description: "Results will either be an array of Facilities or an array\
            \ of Clusters. The search will return clusters if the number of facilities\
            \ returned is greater than the resposeset size, otherwise individual facility\
            \ records will be returned."
      summary: Resource Conservation and Recovery Act (RCRA) Facility Enhanced Search
        Service
      tags:
      - Resource Conservation and Recovery Act
      x-openapi-router-controller: openapi_server.controllers.resource_conservation_and_recovery_act_controller
      x-codegen-request-body-name: body
  /rcra_rest_services.get_geojson:
    get:
      description: "Based on the QID obtained from a get_facilities or get_facility_info\
        \ query, return GeoJSON of the facilities found."
      operationId: rcra_rest_services_get_geojson_get
      parameters:
      - description: |-
          Output Format Flag.  Enter one of the following keywords:
          - GEOJSON = Facility results formatted as GeoJSON feature collection (default).
          - GEOJSONP = Facility results formatted as GeoJSON feature collection with Padding.
          - GEOJSOND = Facility results formatted as GeoJSON feature collection download.
        in: query
        name: output
        schema:
          type: string
      - description: Query ID Selector.  Enter the QueryID number from a previously
          run query.
        in: query
        name: qid
        required: true
        schema:
          type: string
      - description: JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter
          a name of the function in which to wrap the JSON response.
        in: query
        name: param_callback
        schema:
          type: string
      - description: Output Sort Column.  Enter the number of the column on which
          the data will be sorted. If unpopulated results will sort on the first column.
        in: query
        name: newsort
        schema:
          type: number
      - description: Output Sort Column Descending Flag.  Enter Y to column identified
          in the newsort parameter descending.  Enter N to use ascending sort order.
          Used only when newsort parameter is populated.
        in: query
        name: descending
        schema:
          enum:
          - "Y"
          - "N"
          type: string
      - description: Used to customize service output.  A list of comma-separated
          column IDs of output objects that will be returned in the service query
          object or download.  Use the metadata service endpoint for a complete list
          of Ids and definitions.
        in: query
        name: qcolumns
        schema:
          type: string
      - description: Optional flag to request GeoJSON formatted results to be pretty
          printed.  Only provide a numeric value when the output needs to be human
          readable as pretty printing has a performance cost.
        in: query
        name: p_pretty_print
        schema:
          type: number
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_rcra_rest_services_get_geojson_get_200_response'
            application/xml:
              schema:
                $ref: '#/components/schemas/_rcra_rest_services_get_geojson_get_200_response'
          description: Results are formatted as a GeoJSON feature collection.
      summary: Resource Conservation and Recovery Act (RCRA) GeoJSON Service
      tags:
      - Resource Conservation and Recovery Act
      x-openapi-router-controller: openapi_server.controllers.resource_conservation_and_recovery_act_controller
    post:
      description: "Based on the QID obtained from a get_facilities or get_facility_info\
        \ query, return GeoJSON of the facilities found."
      operationId: rcra_rest_services_get_geojson_post
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/_rcra_rest_services_get_geojson_post_request'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_rcra_rest_services_get_geojson_get_200_response'
            application/xml:
              schema:
                $ref: '#/components/schemas/_rcra_rest_services_get_geojson_get_200_response'
          description: Results are formatted as a GeoJSON feature collection.
      summary: Resource Conservation and Recovery Act (RCRA) GeoJSON Service
      tags:
      - Resource Conservation and Recovery Act
      x-openapi-router-controller: openapi_server.controllers.resource_conservation_and_recovery_act_controller
      x-codegen-request-body-name: body
  /rcra_rest_services.get_info_clusters:
    get:
      description: "Based on the QID obtained from a clustered get_facility_info query,\
        \ download cluster facility information as either a CSV or GEOJSON file."
      operationId: rcra_rest_services_get_info_clusters_get
      parameters:
      - description: |-
          Output Format Flag.  Enter one of the following keywords:
          - CSV = Facility results formatted as comma delimited file download (default).
          - GEOJSOND = Facility results formatted as GeoJSON feature collection download.
        in: query
        name: output
        schema:
          type: string
      - description: Query ID Selector.  Enter the QueryID number from a previously
          run query.
        in: query
        name: p_qid
        required: true
        schema:
          type: string
      - description: Optional flag to request GeoJSON formatted results to be pretty
          printed.  Only provide a numeric value when the output needs to be human
          readable as pretty printing has a performance cost.
        in: query
        name: p_pretty_print
        schema:
          type: number
      responses:
        "200":
          content:
            application/json:
              schema:
                format: binary
                type: string
            application/xml:
              schema:
                format: binary
                type: string
          description: Results are a comma separated value (CSV) file or a file containing
            a GeoJSON feature collection.
      summary: Resource Conservation and Recovery Act (RCRA) Info Clusters Service
      tags:
      - Resource Conservation and Recovery Act
      x-openapi-router-controller: openapi_server.controllers.resource_conservation_and_recovery_act_controller
    post:
      description: "Based on the QID obtained from a clustered get_facility_info query,\
        \ download cluster facility information as either a CSV or GEOJSON file."
      operationId: rcra_rest_services_get_info_clusters_post
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/_rcra_rest_services_get_info_clusters_post_request'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                format: binary
                type: string
            application/xml:
              schema:
                format: binary
                type: string
          description: Results are a comma separated value (CSV) file or a file containing
            a GeoJSON feature collection.
      summary: Resource Conservation and Recovery Act (RCRA) Info Clusters Service
      tags:
      - Resource Conservation and Recovery Act
      x-openapi-router-controller: openapi_server.controllers.resource_conservation_and_recovery_act_controller
      x-codegen-request-body-name: body
  /rcra_rest_services.get_map:
    get:
      description: "The purpose of the GET_MAP service is to display facility coordinates\
        \ and facility clusters related to a get_facilities facility query. Currently,\
        \ the maximum number of coordinates returned is 500. GET_MAP performs automatic\
        \ clustering at the state, county, and zip code levels to maximize the number\
        \ of coordinates returned."
      operationId: rcra_rest_services_get_map_get
      parameters:
      - description: "Output Format Flag.  Enter one of the following keywords:\n\
          - JSON = Data model formatted as Javascript Object Notation (default).\n\
          - JSONP = Data model formatted as Javascript Object Notation with Padding.\
          \  \n- XML = Data model formatted as Extensible Markup Language."
        in: query
        name: output
        schema:
          enum:
          - JSONP
          - JSON
          - XML
          type: string
      - description: Query ID Selector.  Enter the QueryID number from a previously
          run query.
        in: query
        name: qid
        required: true
        schema:
          type: string
      - description: JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter
          a name of the function in which to wrap the JSON response.
        in: query
        name: param_callback
        schema:
          type: string
      - description: Table List Flag. Enter a Y to display the first page of facility
          results.
        in: query
        name: tablelist
        schema:
          enum:
          - "Y"
          - "N"
          type: string
      - description: Latitude of 1st corner of box that bounds the resulting facilities.
          The latitude and longitude of both corners of the bounding box must be provided.
        in: query
        name: c1_lat
        schema:
          type: number
      - description: Longitude of 1st corner of box that bounds the resulting facilities.
          The latitude and longitude of both corners of the bounding box must be provided.
        in: query
        name: c1_long
        schema:
          type: number
      - description: Latitude of 2nd corner of box that bounds the resulting facilities.
          The latitude and longitude of both corners of the bounding box must be provided.
        in: query
        name: c2_lat
        schema:
          type: number
      - description: Longitude of 2nd corner of box that bounds the resulting facilities.
          The latitude and longitude of both corners of the bounding box must be provided.
        in: query
        name: c2_long
        schema:
          type: number
      - description: Identifier for the service.
        in: query
        name: p_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_rcra_rest_services_get_map_get_200_response'
            application/xml:
              schema:
                $ref: '#/components/schemas/_rcra_rest_services_get_map_get_200_response'
          description: "Results are either an array of State, County, Zip Code facility\
            \ cluster map coordinates or individual facility coordinates.  Coordinates\
            \ provided are in WGS84."
      summary: Resource Conservation and Recovery Act (RCRA) Map Service
      tags:
      - Resource Conservation and Recovery Act
      x-openapi-router-controller: openapi_server.controllers.resource_conservation_and_recovery_act_controller
    post:
      description: "The purpose of the GET_MAP service is to display facility coordinates\
        \ and facility clusters related to a get_facilities facility query. Currently,\
        \ the maximum number of coordinates returned is 500. GET_MAP performs automatic\
        \ clustering at the state, county, and zip code levels to maximize the number\
        \ of coordinates returned."
      operationId: rcra_rest_services_get_map_post
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/_rcra_rest_services_get_map_post_request'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_rcra_rest_services_get_map_get_200_response'
            application/xml:
              schema:
                $ref: '#/components/schemas/_rcra_rest_services_get_map_get_200_response'
          description: "Results are either an array of State, County, Zip Code facility\
            \ cluster map coordinates or individual facility coordinates.  Coordinates\
            \ provided are in WGS84."
      summary: Resource Conservation and Recovery Act (RCRA) Map Service
      tags:
      - Resource Conservation and Recovery Act
      x-openapi-router-controller: openapi_server.controllers.resource_conservation_and_recovery_act_controller
      x-codegen-request-body-name: body
  /rcra_rest_services.get_qid:
    get:
      description: 'GET_QID is passed with a query ID corresponding to a previously
        run get_facilities query. It then returns a Facility object containing all
        matching facilities. The main purpose of GET_QID is for large querysets that
        contain multiple pages (responsesets) of output. GET_QID allows for pagination
        and for the selection and sorting of columns. '
      operationId: rcra_rest_services_get_qid_get
      parameters:
      - description: "Output Format Flag.  Enter one of the following keywords:\n\
          - JSON = Data model formatted as Javascript Object Notation (default).\n\
          - JSONP = Data model formatted as Javascript Object Notation with Padding.\
          \  \n- XML = Data model formatted as Extensible Markup Language."
        in: query
        name: output
        schema:
          enum:
          - JSONP
          - JSON
          - XML
          type: string
      - description: Query ID Selector.  Enter the QueryID number from a previously
          run query.
        in: query
        name: qid
        required: true
        schema:
          type: string
      - description: Indicates the number of the page to display. It is used only
          when the results are paginated.
        in: query
        name: pageno
        schema:
          default: 1.0
          type: number
      - description: JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter
          a name of the function in which to wrap the JSON response.
        in: query
        name: param_callback
        schema:
          type: string
      - description: Output Sort Column.  Enter the number of the column on which
          the data will be sorted. If unpopulated results will sort on the first column.
        in: query
        name: newsort
        schema:
          type: number
      - description: Output Sort Column Descending Flag.  Enter Y to column identified
          in the newsort parameter descending.  Enter N to use ascending sort order.
          Used only when newsort parameter is populated.
        in: query
        name: descending
        schema:
          enum:
          - "Y"
          - "N"
          type: string
      - description: Used to customize service output.  A list of comma-separated
          column IDs of output objects that will be returned in the service query
          object or download.  Use the metadata service endpoint for a complete list
          of Ids and definitions.
        in: query
        name: qcolumns
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_rcra_rest_services_get_qid_get_200_response'
            application/xml:
              schema:
                $ref: '#/components/schemas/_rcra_rest_services_get_qid_get_200_response'
          description: Results are an array (page)  of RCRA (RCRAInfo) Facilities/Hazardous
            Waste Handlers with the number of facilities equal to the responseset
            (page size).
      summary: Resource Conservation and Recovery Act (RCRA) Paginated Results Service
      tags:
      - Resource Conservation and Recovery Act
      x-openapi-router-controller: openapi_server.controllers.resource_conservation_and_recovery_act_controller
    post:
      description: 'GET_QID is passed with a query ID corresponding to a previously
        run get_facilities query. It then returns a Facility object containing all
        matching facilities. The main purpose of GET_QID is for large querysets that
        contain multiple pages (responsesets) of output. GET_QID allows for pagination
        and for the selection and sorting of columns. '
      operationId: rcra_rest_services_get_qid_post
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/_rcra_rest_services_get_qid_post_request'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_rcra_rest_services_get_qid_get_200_response'
            application/xml:
              schema:
                $ref: '#/components/schemas/_rcra_rest_services_get_qid_get_200_response'
          description: Results are an array (page)  of RCRA (RCRAInfo) Facilities/Hazardous
            Waste Handlers with the number of facilities equal to the responseset
            (page size).
      summary: Resource Conservation and Recovery Act (RCRA) Paginated Results Service
      tags:
      - Resource Conservation and Recovery Act
      x-openapi-router-controller: openapi_server.controllers.resource_conservation_and_recovery_act_controller
      x-codegen-request-body-name: body
  /rcra_rest_services.metadata:
    get:
      description: "Returns the JSON Object Name and ColumnId for usage with the qcolumns\
        \ parameter for get_qid, get_facility_info and other service endpoints."
      operationId: rcra_rest_services_metadata_get
      parameters:
      - description: "Output Format Flag.  Enter one of the following keywords:\n\
          - JSON = Data model formatted as Javascript Object Notation (default).\n\
          - JSONP = Data model formatted as Javascript Object Notation with Padding.\
          \  \n- XML = Data model formatted as Extensible Markup Language."
        in: query
        name: output
        schema:
          enum:
          - JSONP
          - JSON
          - XML
          type: string
      - description: JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter
          a name of the function in which to wrap the JSON response.
        in: query
        name: param_callback
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_rcra_rest_services_metadata_get_200_response'
            application/xml:
              schema:
                $ref: '#/components/schemas/_rcra_rest_services_metadata_get_200_response'
          description: Results are an array of columns/objects.
      summary: Resource Conservation and Recovery Act (RCRA) Metadata Service
      tags:
      - Metadata
      x-openapi-router-controller: openapi_server.controllers.metadata_controller
    post:
      description: "Returns the JSON Object Name and ColumnId for usage with the qcolumns\
        \ parameter for get_qid, get_facility_info and other service endpoints."
      operationId: rcra_rest_services_metadata_post
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/_rcra_rest_services_metadata_post_request'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_rcra_rest_services_metadata_get_200_response'
            application/xml:
              schema:
                $ref: '#/components/schemas/_rcra_rest_services_metadata_get_200_response'
          description: Results are an array of columns/objects.
      summary: Resource Conservation and Recovery Act (RCRA) Metadata Service
      tags:
      - Metadata
      x-openapi-router-controller: openapi_server.controllers.metadata_controller
      x-codegen-request-body-name: body
components:
  parameters:
    q.c1_lat:
      description: Latitude of 1st corner of box that bounds the resulting facilities.
        The latitude and longitude of both corners of the bounding box must be provided.
      in: query
      name: c1_lat
      schema:
        type: number
    q.c1_long:
      description: Longitude of 1st corner of box that bounds the resulting facilities.
        The latitude and longitude of both corners of the bounding box must be provided.
      in: query
      name: c1_long
      schema:
        type: number
    q.c2_lat:
      description: Latitude of 2nd corner of box that bounds the resulting facilities.
        The latitude and longitude of both corners of the bounding box must be provided.
      in: query
      name: c2_lat
      schema:
        type: number
    q.c2_long:
      description: Longitude of 2nd corner of box that bounds the resulting facilities.
        The latitude and longitude of both corners of the bounding box must be provided.
      in: query
      name: c2_long
      schema:
        type: number
    q.callback:
      description: JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter
        a name of the function in which to wrap the JSON response.
      in: query
      name: callback
      schema:
        type: string
    q.descending:
      description: Output Sort Column Descending Flag.  Enter Y to column identified
        in the newsort parameter descending.  Enter N to use ascending sort order.
        Used only when newsort parameter is populated.
      in: query
      name: descending
      schema:
        enum:
        - "Y"
        - "N"
        type: string
    q.maplist:
      description: Map List Flag.  Provide a Y to return mappable coordinates representing
        the full geographic extent of the queryset (all facilities that met the selection
        criteria).
      in: query
      name: maplist
      schema:
        enum:
        - "Y"
        - "N"
        type: string
    q.newsort:
      description: Output Sort Column.  Enter the number of the column on which the
        data will be sorted. If unpopulated results will sort on the first column.
      in: query
      name: newsort
      schema:
        type: number
    q.p_act:
      description: Active Permits/Facilities Flag.  Provide Y or N to filter results
        to facilities with active permits.
      in: query
      name: p_act
      schema:
        enum:
        - "Y"
        - "N"
        - A
        type: string
    q.p_agoo:
      description: Indicates whether to AND or OR the Owner/Operator parameter (p_owop)
        and the federal agency code (p_fa) parameters.
      in: query
      name: p_agoo
      schema:
        enum:
        - AND
        - OR
        type: string
    q.p_c1lat:
      description: In decimal degrees.  Latitude of 1st corner of box that bounds
        the resulting facilities. The latitude and longitude of both corners of the
        bounding box must be provided.
      in: query
      name: p_c1lat
      schema:
        type: number
    q.p_c1lon:
      description: In decimal degrees.  Longitude of 1st corner of box that bounds
        the resulting facilities. The latitude and longitude of both corners of the
        bounding box must be provided.
      in: query
      name: p_c1lon
      schema:
        type: number
    q.p_c2lat:
      description: In decimal degrees.  Latitude of 2nd corner of box that bounds
        the resulting facilities. The latitude and longitude of both corners of the
        bounding box must be provided.
      in: query
      name: p_c2lat
      schema:
        type: number
    q.p_c2lon:
      description: In decimal degrees.  Longitude of 2nd corner of box that bounds
        the resulting facilities. The latitude and longitude of both corners of the
        bounding box must be provided.
      in: query
      name: p_c2lon
      schema:
        type: number
    q.p_cifdi:
      description: Compliance issuess found during inspection.
      in: query
      name: p_cifdi
      schema:
        enum:
        - Any
        - "true"
        - "false"
        - Undetermined
        type: string
    q.p_cmps:
      description: |-
        RCRA Current Compliance Status Limiter.  Enter one or more of the following keywords to limit results.  Enter multiple values as a comma-delimited list.
        - No Violation
        - In Violation
        - In Significant Noncompliance
      in: query
      name: p_cmps
      schema:
        type: string
    q.p_co:
      description: Facility County Filter. Provide a single county name in combination
        with a state value provided via p_st.
      in: query
      name: p_co
      schema:
        type: string
    q.p_ct:
      description: Facility City Filter. Enter a single case-insensitive city name
        to filter results.
      in: query
      name: p_ct
      schema:
        type: string
    q.p_decouple:
      description: Decouple Inspection Code Search Flag.  Enter "Y" to search for
        inspection code types with p_pityp without respect to the date range search
        provided with p_ysl* parameters.
      in: query
      name: p_decouple
      schema:
        enum:
        - "Y"
        - "N"
        type: string
    q.p_des:
      description: Universe Designation Limiter.  Enter one or more universe designation
        codes.  Provide multiple values as a comma-delimited list.  Use code "TSDF"
        to return the full enforcement TSDF universe and "Operating TSDF" to return
        the operating TSDF universe.
      in: query
      name: p_des
      schema:
        type: string
    q.p_dwd:
      description: Direct Water Discharges. Pounds of toxic chemicals released directly
        to surface water as reported to the Toxics Release Inventory.
      in: query
      name: p_dwd
      schema:
        enum:
        - "0"
        - GT0
        - GT1000
        - GT5000
        - GT10000
        - GT20000
        - GT50000
        type: string
    q.p_ejscreen:
      description: Enter "Y" to limit facilities to Census block groups where one
        of more Environmental Justice indexes above 80th percentile.
      in: query
      name: p_ejscreen
      schema:
        type: string
    q.p_ejscreen_over80cnt:
      description: The number of Environmenmt Justice Indicators above the 80th percentile.  Valid
        values are 1 through 11.
      in: query
      name: p_ejscreen_over80cnt
      schema:
        enum:
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        type: string
    q.p_fa:
      description: Federal Agency. 1 character or 5-character values; may contain
        multiple comma-separated values. ALL will retrieve all facilities where the
        federal agency code is not null.  Use the Federal Agencies lookup service
        to obtain a list of values.
      in: query
      name: p_fa
      schema:
        type: string
    q.p_fac_ico:
      description: FRS tribal land code flag.  Enter "Y" or "N" to include or exclude
        facilities based on FRS tribal land code.
      in: query
      name: p_fac_ico
      schema:
        enum:
        - "Y"
        - "N"
        type: string
    q.p_fac_icos:
      description: FRS tribal land spatial flag.  Enter "Y" or "N" to include or exclude
        facilities based on FRS tribal land spatial flag.
      in: query
      name: p_fac_icos
      schema:
        type: string
    q.p_fcv:
      description: Years of Continuing Violations Limiter.  Enter a value in the format
        GTXX where XX is replaced by the number of years in continuing violation.
      in: query
      name: p_fcv
      schema:
        type: string
    q.p_fea:
      description: |-
        Formal Enforcement Actions [within / not within] specified date range indicator. The date range is determined by parameters p_fead1 and p_fead2 or by parameter p_feay.
        - W = within date range
        - N = not within date range
      in: query
      name: p_fea
      schema:
        enum:
        - W
        - "N"
        type: string
    q.p_feaa:
      description: |-
        Agency associated with Formal Enforcement Actions:
        - E = EPA
        - S = State
        - A = All
      in: query
      name: p_feaa
      schema:
        enum:
        - A
        - E
        - S
        type: string
    q.p_feay:
      description: Years (1 to 5) Range.  This value is used to create a date range
        for Formal Enforcement Actions (FEA). Used along with p_fea (which indicates
        whether to look within or outside of the date range) to find FEAs within (or
        not within) the number of years specified.
      in: query
      name: p_feay
      schema:
        enum:
        - 1
        - 2
        - 3
        - 4
        - 5
        type: number
    q.p_fips:
      description: "FIPS Code Filter.  Enter a single 5-character Federal Information\
        \ Processing Standards (FIPS) state + county value to restrict results.  E.g.\
[...]
