openapi: 3.1.0
info:
  contact:
    email: hello@exoapi.dev
    name: ExoAPI
    url: https://exoapi.dev
  description: "Universal API for developers - Geocoding, HTML rendering, barcode\
    \ generation & more"
  termsOfService: https://exoapi.dev/terms-and-conditions
  title: ExoAPI
  version: 1.0.0
  x-apisguru-categories:
  - developer_tools
  x-logo:
    altText: ExoAPI logo
    url: https://exoapi.dev/assets/exoapi-logo-square.svg
  x-origin:
  - format: openapi
    url: https://api.exoapi.dev/openapi.json
    version: "3.1"
  x-providerName: exoapi.dev
externalDocs:
  description: Documentation
  url: https://exoapi.dev/documentation
servers:
- url: https://api.exoapi.dev
security:
- bearerAuth: []
tags:
- description: The easiest QR code & barcode generator API 🤳
  name: Barcode generator
- description: The simplest HTML rendering API 📄✨
  name: HTML renderer
- description: The affordable reverse geocoding API 🗺️📍
  name: Reverse geocoding
- description: The simplest unit & currency conversion API
  name: Unit converter
paths:
  /barcode-generator:
    post:
      description: Generate high quality QR code & barcode images in a matter of seconds
      operationId: barcode_generator_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/barcode_generator_post_request'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            image/png:
              schema:
                format: binary
                type: string
            image/svg+xml:
              schema:
                format: binary
                type: string
          description: 🟢 200 OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/barcode_generator_post_400_response'
          description: 🟡 400 Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/barcode_generator_post_400_response'
          description: 🟡 401 Unauthorized
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/barcode_generator_post_400_response'
          description: 🟡 429 Too many requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/barcode_generator_post_400_response'
          description: 🔴 500 Internal server error
      tags:
      - Barcode generator
      x-openapi-router-controller: openapi_server.controllers.barcode_generator_controller
      x-codegen-request-body-name: body
  /html-renderer:
    post:
      description: Generate high-quality PDF documents or images from HTML
      operationId: html_renderer_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/html_renderer_post_request'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/pdf:
              schema:
                format: binary
                type: string
            image/png:
              schema:
                format: binary
                type: string
          description: 🟢 200 OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/barcode_generator_post_400_response'
          description: 🟡 401 Unauthorized
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/barcode_generator_post_400_response'
          description: 🟡 429 Too many requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/barcode_generator_post_400_response'
          description: 🔴 500 Internal server error
      tags:
      - HTML renderer
      x-openapi-router-controller: openapi_server.controllers.html_renderer_controller
      x-codegen-request-body-name: body
  /reverse-geocoding:
    get:
      description: Quickly convert GPS coordinates to human-readable addresses
      operationId: reverse_geocoding_get
      parameters:
      - explode: true
        in: query
        name: lat
        required: true
        schema:
          description: Latitude
          type: number
        style: form
      - explode: true
        in: query
        name: lon
        required: true
        schema:
          description: Longitude
          type: number
        style: form
      - explode: true
        in: query
        name: locale
        required: false
        schema:
          description: BCP 47 language/country code
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/reverse_geocoding_get_200_response'
          description: 🟢 200 OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/barcode_generator_post_400_response'
          description: 🟡 401 Unauthorized
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/barcode_generator_post_400_response'
          description: 🟡 429 Too many requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/barcode_generator_post_400_response'
          description: 🔴 500 Internal server error
      tags:
      - Reverse geocoding
      x-openapi-router-controller: openapi_server.controllers.reverse_geocoding_controller
  /unit-converter:
    get:
      description: Quickly convert between all different kinds of measurement units
      operationId: unit_converter_get
      parameters:
      - explode: true
        in: query
        name: from
        required: true
        schema:
          description: Source unit
          enum:
          - m/s2
          - ''''
          - ''''''
          - deg
          - gon
          - rad
          - rad/s
          - "[acr_us]"
          - "[sft_i]"
          - "[sin_i]"
          - "[smi_us]"
          - "[syd_i]"
          - ar
          - cm2
          - har
          - km2
          - m2
          - mm2
          - AUD
          - BGN
          - BRL
          - CAD
          - CHF
          - CNY
          - CZK
          - DKK
          - EUR
          - GBP
          - HKD
          - HUF
          - IDR
          - ILS
          - INR
          - ISK
          - JPY
          - KRW
          - MXN
          - MYR
          - NOK
          - NZD
          - PHP
          - PLN
          - RON
          - SEK
          - SGD
          - THB
          - TRY
          - USD
          - ZAR
          - F
          - C
          - S
          - A
          - V
          - Ohm
          - "[Btu_IT]"
          - J
          - kW.h
          - MJ
          - kW.h/100km
          - m/J
          - W.h/km
          - "N"
          - '%'
          - bpm
          - Hz
          - rpm
          - "[mi_i]/[gal_br]"
          - L/100km
          - m/m3
          - lx
          - H
          - "[ft_i]"
          - "[in_i]"
          - "[mi_i]"
          - "[nmi_i]"
          - "[yd_i]"
          - cm
          - dm
          - km
          - m
          - mm
          - g/km
          - kg/m
          - lm
          - Wb
          - T
          - "[lb_av]"
          - g
          - kg
          - t
          - "[HP_e]"
          - "[HP_m]"
          - "[HP_s]"
          - "[HP]"
          - kW
          - W
          - Pa
          - Bq
          - "[kn_i]"
          - km/h
          - m/s
          - "[degF]"
          - Cel
          - K
          - a
          - d
          - h
          - min
          - mo
          - s
          - wk
          - N.m
          - "[gal_br]"
          - "[pk_br]"
          - L
          - m3
          type: string
        style: form
      - explode: true
        in: query
        name: to
        required: true
        schema:
          description: Target unit
          enum:
          - m/s2
          - ''''
          - ''''''
          - deg
          - gon
          - rad
          - rad/s
          - "[acr_us]"
          - "[sft_i]"
          - "[sin_i]"
          - "[smi_us]"
          - "[syd_i]"
          - ar
          - cm2
          - har
          - km2
          - m2
          - mm2
          - AUD
          - BGN
          - BRL
          - CAD
          - CHF
          - CNY
          - CZK
          - DKK
          - EUR
          - GBP
          - HKD
          - HUF
          - IDR
          - ILS
          - INR
          - ISK
          - JPY
          - KRW
          - MXN
          - MYR
          - NOK
          - NZD
          - PHP
          - PLN
          - RON
          - SEK
          - SGD
          - THB
          - TRY
          - USD
          - ZAR
          - F
          - C
          - S
          - A
          - V
          - Ohm
          - "[Btu_IT]"
          - J
          - kW.h
          - MJ
          - kW.h/100km
          - m/J
          - W.h/km
          - "N"
          - '%'
          - bpm
          - Hz
          - rpm
          - "[mi_i]/[gal_br]"
          - L/100km
          - m/m3
          - lx
          - H
          - "[ft_i]"
          - "[in_i]"
          - "[mi_i]"
          - "[nmi_i]"
          - "[yd_i]"
          - cm
          - dm
          - km
          - m
          - mm
          - g/km
          - kg/m
          - lm
          - Wb
          - T
          - "[lb_av]"
          - g
          - kg
          - t
          - "[HP_e]"
          - "[HP_m]"
          - "[HP_s]"
          - "[HP]"
          - kW
          - W
          - Pa
          - Bq
          - "[kn_i]"
          - km/h
          - m/s
          - "[degF]"
          - Cel
          - K
          - a
          - d
          - h
          - min
          - mo
          - s
          - wk
          - N.m
          - "[gal_br]"
          - "[pk_br]"
          - L
          - m3
          type: string
        style: form
      - explode: true
        in: query
        name: value
        required: true
        schema:
          description: Value to convert
          type: number
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unit_converter_get_200_response'
          description: 🟢 200 OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/barcode_generator_post_400_response'
          description: 🟡 400 Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/barcode_generator_post_400_response'
          description: 🟡 401 Unauthorized
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/barcode_generator_post_400_response'
          description: 🟡 429 Too many requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/barcode_generator_post_400_response'
          description: 🔴 500 Internal server error
      tags:
      - Unit converter
      x-openapi-router-controller: openapi_server.controllers.unit_converter_controller
components:
  schemas:
    reverse_geocoding_get_200_response:
      example:
        country: country
        address: address
        city: city
        postalCode: postalCode
        houseNumber: houseNumber
        lon: 6.027456183070403
        countryCode3: countryCode3
        regionCode: regionCode
        countryCode: countryCode
        street: street
        currency: currency
        region: region
        lat: 0.8008281904610115
      properties:
        address:
          description: Formatted address according to locale parameter
          title: address
          type: string
        city:
          description: City name
          title: city
          type: string
        country:
          description: Country name
          title: country
          type: string
        countryCode:
          description: ISO 3166-1 alpha-2 country code
          title: countryCode
          type: string
        countryCode3:
          description: ISO3166-1 alpha3 country code
          title: countryCode3
          type: string
        currency:
          description: "ISO 4217 currency code, if available"
          title: currency
          type: string
        houseNumber:
          description: House number
          title: houseNumber
          type: string
        lat:
          description: Latitude
          title: lat
          type: number
        lon:
          description: Longitude
          title: lon
          type: number
        postalCode:
          description: Postal code
          title: postalCode
          type: string
        region:
          description: Region/state name
          title: region
          type: string
        regionCode:
          description: ISO3166-2 region/state code
          title: regionCode
          type: string
        street:
          description: Street name
          title: street
          type: string
      title: reverse_geocoding_get_200_response
    barcode_generator_post_request:
      properties:
        backgroundColor:
          default: '#ffffff'
          description: Image background color (hexadecimal format)
          title: backgroundColor
          type: string
        fitWidth:
          default: false
          description: "Stretch barcodes to exactly fit the `width`. Due to the nature\
            \ of barcodes, where every bar's width is a multiple of the narrowest\
            \ bar, stretching may result in slightly blurry images, which are more\
            \ difficult for devices to scan."
          title: fitWidth
          type: boolean
        foregroundColor:
          default: '#000000'
          description: Barcode color (hexadecimal format)
          title: foregroundColor
          type: string
        format:
          default: png
          description: Output image format
          enum:
          - png
          - svg
          title: format
          type: string
        height:
          description: Height of the PNG code image
          title: height
          type: integer
        showText:
          default: true
          description: Display human-readable text under barcodes
          title: showText
          type: boolean
        type:
          default: qrcode
          description: Type of code
          enum:
          - auspost
          - azteccode
          - azteccodecompact
          - aztecrune
          - bc412
          - channelcode
          - codablockf
          - code11
          - code128
          - code16k
          - code2of5
          - code32
          - code39
          - code39ext
          - code49
          - code93
          - code93ext
          - codeone
          - coop2of5
          - daft
          - databarexpanded
          - databarexpandedcomposite
          - databarexpandedstacked
          - databarexpandedstackedcomposite
          - databarlimited
          - databarlimitedcomposite
          - databaromni
          - databaromnicomposite
          - databarstacked
          - databarstackedcomposite
          - databarstackedomni
          - databarstackedomnicomposite
          - databartruncated
          - databartruncatedcomposite
          - datalogic2of5
          - datamatrix
          - datamatrixrectangular
          - datamatrixrectangularextension
          - dotcode
          - ean13
          - ean13composite
          - ean14
          - ean2
          - ean5
          - ean8
          - ean8composite
          - flattermarken
          - gs1-128
          - gs1-128composite
          - gs1-cc
          - gs1datamatrix
          - gs1datamatrixrectangular
          - gs1northamericancoupon
          - gs1qrcode
          - hanxin
          - hibcazteccode
          - hibccodablockf
          - hibccode128
          - hibccode39
          - hibcdatamatrix
          - hibcdatamatrixrectangular
          - hibcmicropdf417
          - hibcpdf417
          - hibcqrcode
          - iata2of5
          - identcode
          - industrial2of5
          - interleaved2of5
          - isbn
          - ismn
          - issn
          - itf14
          - japanpost
          - kix
          - leitcode
          - mailmark
          - matrix2of5
          - maxicode
          - micropdf417
          - microqrcode
          - msi
          - onecode
          - pdf417
          - pdf417compact
          - pharmacode
          - pharmacode2
          - planet
          - plessey
          - posicode
          - postnet
          - pzn
          - qrcode
          - rationalizedCodabar
          - raw
          - royalmail
          - sscc18
          - symbol
          - telepen
          - telepennumeric
          - ultracode
          - upca
          - upcacomposite
          - upce
          - upcecomposite
          title: type
          type: string
        value:
          description: Content to encode into the code
          title: value
          type: string
        width:
          default: 256
          description: Width of the PNG code image
          title: width
          type: integer
      required:
      - type
      - value
      title: barcode_generator_post_request
    html_renderer_post_request:
      properties:
        css:
          description: Custom CSS style content
          title: css
          type: string
        footer:
          description: "HTML page footer content. Use special CSS classes to inject\
            \ parameters: \"date\", \"pageNumber\", \"totalPages\""
          title: footer
          type: string
        format:
          default: pdf
          description: Output format
          enum:
          - pdf
          - png
          title: format
          type: string
        header:
          description: "HTML page header content. Use special CSS classes to inject\
            \ parameters: \"date\", \"pageNumber\", \"totalPages\""
          title: header
          type: string
        html:
          description: HTML content to render
          title: html
          type: string
        imageHeight:
          description: "PNG image height (in pixels). In not specified, the height\
            \ will automatically adapt to the content"
          title: imageHeight
          type: integer
        imageWidth:
          default: 512
          description: PNG image width (in pixels)
          title: imageWidth
          type: integer
        landscape:
          default: false
          description: PDF document orientation
          title: landscape
          type: boolean
        margin:
          default: 0
          description: "PDF page margin (in px, mm, in or cm)"
          title: margin
          type: string
        marginBottom:
          default: 0
          description: "PDF bottom margin (in px, mm, in or cm)"
          title: marginBottom
          type: string
        marginLeft:
          default: 0
          description: "PDF left margin (in px, mm, in or cm)"
          title: marginLeft
          type: string
        marginRight:
          default: 0
          description: "PDF right margin (in px, mm, in or cm)"
          title: marginRight
          type: string
        marginTop:
          default: 0
          description: "PDF top margin (in px, mm, in or cm)"
          title: marginTop
          type: string
        pageHeight:
          description: "Explicit PDF height (in px, mm, in or cm)"
          title: pageHeight
          type: string
        pageSize:
          default: a4
          description: Default page size of the generated PDF document
          enum:
          - letter
          - legal
          - tabloid
          - ledger
          - a0
          - a1
          - a2
          - a3
          - a4
          - a5
          - a6
          title: pageSize
          type: string
        pageWidth:
          description: "Explicit PDF width (in px, mm, in or cm)"
          title: pageWidth
          type: string
        title:
          description: Title of the generated PDF document or PNG image
          title: title
          type: string
      required:
      - html
      title: html_renderer_post_request
    barcode_generator_post_400_response:
      example:
        detail: detail
        title: title
        status: status
      properties:
        detail:
          description: Error description
          title: detail
          type: string
        status:
          description: Status code
          title: status
          type: string
        title:
          description: Error type
          title: title
          type: string
      title: barcode_generator_post_400_response
    unit_converter_get_200_response:
      example:
        result: 0.8008281904610115
        from: m/s2
        to: m/s2
        type: acceleration
        value: 6.027456183070403
      properties:
        from:
          description: Source unit
          enum:
          - m/s2
          - ''''
          - ''''''
          - deg
          - gon
          - rad
          - rad/s
          - "[acr_us]"
          - "[sft_i]"
          - "[sin_i]"
          - "[smi_us]"
          - "[syd_i]"
          - ar
          - cm2
          - har
          - km2
          - m2
          - mm2
          - AUD
          - BGN
          - BRL
          - CAD
          - CHF
          - CNY
          - CZK
          - DKK
          - EUR
          - GBP
          - HKD
          - HUF
          - IDR
          - ILS
          - INR
          - ISK
          - JPY
          - KRW
          - MXN
          - MYR
          - NOK
          - NZD
          - PHP
          - PLN
          - RON
          - SEK
          - SGD
          - THB
          - TRY
          - USD
          - ZAR
          - F
          - C
          - S
          - A
          - V
          - Ohm
          - "[Btu_IT]"
          - J
          - kW.h
          - MJ
          - kW.h/100km
          - m/J
          - W.h/km
          - "N"
          - '%'
          - bpm
          - Hz
          - rpm
          - "[mi_i]/[gal_br]"
          - L/100km
          - m/m3
          - lx
          - H
          - "[ft_i]"
          - "[in_i]"
          - "[mi_i]"
          - "[nmi_i]"
          - "[yd_i]"
          - cm
          - dm
          - km
          - m
          - mm
          - g/km
          - kg/m
          - lm
          - Wb
          - T
          - "[lb_av]"
          - g
          - kg
          - t
          - "[HP_e]"
          - "[HP_m]"
          - "[HP_s]"
          - "[HP]"
          - kW
          - W
          - Pa
          - Bq
          - "[kn_i]"
          - km/h
          - m/s
          - "[degF]"
          - Cel
          - K
          - a
          - d
          - h
          - min
          - mo
          - s
          - wk
          - N.m
          - "[gal_br]"
          - "[pk_br]"
          - L
          - m3
          title: from
          type: string
        result:
          description: Result of the conversion
          title: result
          type: number
        to:
          description: Target unit
          enum:
          - m/s2
          - ''''
          - ''''''
          - deg
          - gon
          - rad
          - rad/s
          - "[acr_us]"
          - "[sft_i]"
          - "[sin_i]"
          - "[smi_us]"
          - "[syd_i]"
          - ar
          - cm2
          - har
          - km2
          - m2
          - mm2
          - AUD
          - BGN
          - BRL
          - CAD
          - CHF
          - CNY
          - CZK
          - DKK
          - EUR
          - GBP
          - HKD
          - HUF
          - IDR
          - ILS
          - INR
          - ISK
          - JPY
          - KRW
          - MXN
          - MYR
          - NOK
          - NZD
          - PHP
          - PLN
          - RON
          - SEK
          - SGD
          - THB
          - TRY
          - USD
          - ZAR
          - F
          - C
          - S
          - A
          - V
          - Ohm
          - "[Btu_IT]"
          - J
          - kW.h
          - MJ
          - kW.h/100km
          - m/J
          - W.h/km
          - "N"
          - '%'
          - bpm
          - Hz
          - rpm
          - "[mi_i]/[gal_br]"
          - L/100km
          - m/m3
          - lx
          - H
          - "[ft_i]"
          - "[in_i]"
          - "[mi_i]"
          - "[nmi_i]"
          - "[yd_i]"
          - cm
          - dm
          - km
          - m
          - mm
          - g/km
          - kg/m
          - lm
          - Wb
          - T
          - "[lb_av]"
          - g
          - kg
          - t
          - "[HP_e]"
          - "[HP_m]"
          - "[HP_s]"
          - "[HP]"
          - kW
          - W
          - Pa
          - Bq
          - "[kn_i]"
          - km/h
          - m/s
          - "[degF]"
          - Cel
          - K
          - a
          - d
          - h
          - min
          - mo
          - s
          - wk
          - N.m
          - "[gal_br]"
          - "[pk_br]"
          - L
          - m3
          title: to
          type: string
        type:
          enum:
          - acceleration
          - angle
          - angularVelocity
          - area
          - currency
          - electricCapacitance
          - electricCharge
          - electricConductance
          - electricCurrent
          - electricPotential
          - electricResistance
          - energy
          - energyEfficiency
          - force
          - fraction
          - frequency
          - fuelEfficiency
          - illuminance
          - inductance
          - length
          - linearMassDensity
          - luminousFlux
          - magneticFlux
          - magneticFluxDensity
          - mass
          - power
          - pressure
          - radioactivity
          - speed
          - temperature
          - time
          - torque
          - volume
          title: type
          type: string
        value:
          description: Value to convert
          title: value
          type: number
      title: unit_converter_get_200_response
  securitySchemes:
    bearerAuth:
      scheme: bearer
      type: http
      x-bearerInfoFunc: openapi_server.controllers.security_controller.info_from_bearerAuth
