openapi: 3.0.1
info:
  title: Compute Admin Client
  version: 2015-12-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/compute/Microsoft.Compute.Admin/preview/2015-12-01-preview/Compute.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: azsadmin-Compute
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://adminmanagement.local.azurestack.external/
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.Compute.Admin/operations:
    get:
      description: Returns the list of supported REST operations.
      operationId: operations_list
      parameters:
      - description: Client API Version.
        in: query
        name: api-version
        required: true
        schema:
          default: 2015-12-01-preview
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationList'
          description: OK
      tags:
      - Compute
      x-ms-examples:
        Returns the list of supported REST operations.:
          parameters:
            api-version: 2015-12-01-preview
          responses:
            "200": {}
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.compute_controller
components:
  parameters:
    ApiVersionParameter:
      description: Client API Version.
      in: query
      name: api-version
      required: true
      schema:
        default: 2015-12-01-preview
        type: string
    LocationParameter:
      description: Location of the resource.
      in: path
      name: location
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    PublisherParameter:
      description: Name of the publisher.
      in: path
      name: publisher
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: Subscription credentials that uniquely identify Microsoft Azure
        subscription. The subscription ID forms part of the URI for every service
        call.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
    VersionParameter:
      description: The version of the resource.
      in: path
      name: version
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  schemas:
    Display:
      description: Contains the localized display information for this particular
        operation or action.
      example:
        provider: provider
        resource: resource
        description: description
        operation: operation
      properties:
        description:
          description: "The localized, friendly description for the operation. The\
            \ description will be displayed to the user. It should be thorough and\
            \ concise for used in both tooltips and detailed views."
          title: description
          type: string
        operation:
          description: "The localized, friendly name for the operation. Use the name\
            \ as it will displayed to the user."
          title: operation
          type: string
        provider:
          description: "The localized, friendly version of the resource provider name.\
            \ The provider name is expected to include the name of the publisher or\
            \ company responsible. The provider name format should use title case\
            \ and begin with \"Microsoft\" for first-party services. For example,\
            \ the provider name may be\"Microsoft Monitoring Insights\" or \"Microsoft\
            \ Compute.\""
          title: provider
          type: string
        resource:
          description: "The localized, friendly version of the resource type related\
            \ to this action or operation; the resource type should match the public\
            \ documentation for the resource provider."
          title: resource
          type: string
      title: Display
      type: object
    Operation:
      description: Describes the supported REST operation.
      example:
        display:
          provider: provider
          resource: resource
          description: description
          operation: operation
        name: name
      properties:
        display:
          $ref: '#/components/schemas/Display'
        name:
          description: The name of the operation being performed on this particular
            object. This name should match the name that appears in RBAC or the event
            service.
          title: name
          type: string
      title: Operation
      type: object
    OperationList:
      description: List of Operations
      example:
        value:
        - display:
            provider: provider
            resource: resource
            description: description
            operation: operation
          name: name
        - display:
            provider: provider
            resource: resource
            description: description
            operation: operation
          name: name
        nextLink: nextLink
      properties:
        nextLink:
          description: URI to the next page of operations.
          title: nextLink
          type: string
        value:
          description: Array of operations
          items:
            $ref: '#/components/schemas/Operation'
          title: value
          type: array
      title: OperationList
      type: object
    ProvisioningState:
      description: The provisioning state of the resource.
      enum:
      - Creating
      - Failed
      - Succeeded
      - Canceled
      type: string
      x-ms-enum:
        name: ProvisioningState
    Resource:
      description: Base resource object.
      properties:
        id:
          description: ID of the resource.
          readOnly: true
          type: string
        location:
          description: Location of the resource.
          type: string
        name:
          description: Name of the resource.
          readOnly: true
          type: string
        type:
          description: Type of Resource.
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
  securitySchemes:
    azure_auth:
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
