openapi: 3.0.0
info:
  contact:
    email: apiteam@twinehealth.com
  description: |
    # Overview
    The Fitbit Plus API is a RESTful API. The requests and responses are formated according to the
    [JSON API](http://jsonapi.org/format/1.0/) specification.

    In addition to this documentation, we also provide an
    [OpenAPI](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md) "yaml" file describing the API:
    [Fitbit Plus API Specification](swagger.yaml).

    # Authentication
    Authentication for the Fitbit Plus API is based on the
    [OAuth 2.0 Authorization Framework](https://tools.ietf.org/html/rfc6749). Fitbit Plus currently supports grant
    types of **client_credentials** and **refresh_token**.

    See [POST /oauth/token](#operation/createToken) for details on the request and response formats.
    <!-- ReDoc-Inject: <security-definitions> -->

    ## Building Integrations
    We will provide customers with unique client credentials for each application/integration they build, allowing us
    to enforce appropriate access controls and monitor API usage.
    The client credentials will be scoped to the organization, and allow full access to all patients and related data
    within that organization.

    These credentials are appropriate for creating an integration that does one of the following:
     - background reporting/analysis
     - synchronizing data with another system (such as an EMR)

    The API credentials and oauth flows we currently support are **not** well suited for creating a user-facing
    application that allows a user (patient, coach, or admin) to login and have access to data which is appropriate to
    that specific user. It is possible to build such an application, but it is not possible to use Fitbit Plus as a
    federated identity provider. You would need to have a separate means of verifying a user's identity. We do not
    currently support the required password-based oauth flow to make this possible.

    # Paging
    The Fitbit Plus API supports two different pagination strategies for GET collection endpoints.

    #### Skip-based paging

    Skip-based paging uses the query parameters `page[size]` and `page[number]` to specify the max number of resources returned and the page number. We default to skip-based paging if there are no page parameters. The response will include a `links` object containing links to the first, last, prev, and next pages of data.

    If the contents of the collection change while you are iterating through the collection, you will see duplicate or missing documents. For example, if you are iterating through the `calender_event` resource via `GET /pub/calendar_event?sort=start_at&page[size]=50&page[number]=1`, and a new `calendar_event` is created that has a `start_at` value before the first `calendar_event`, when you fetch the next page at `GET /pub/calendar_event?sort=start_at&page[size]=50&page[number]=2`, the first entry in the second response will be a duplicate of the last entry in the first response.

    #### Cursor-based paging
    Cursor-based paging uses the query parameters `page[limit]` and `page[after]` to specify the max number of entries returned and identify where to begin the next page. Add `page[limit]` to the parameters to use cursor-based paging. The response will include a `links` object containing a link to the next page of data, if the next page exists.

    Cursor-based paging is not subject to duplication if new resources are added to the collection. For example, if you are iterating through the `calender_event` resource via `GET /pub/calendar_event?sort=start_at&page[limit]=50`, and a new `calendar_event` is created that has a `start_at` value before the first `calendar_event`, you will not see a duplicate entry when you fetch the next page at `GET /pub/calendar_event?sort=start_at&page[limit]=50&page[after]=<cursor>`.

    We encourage the use of cursor-based paging for performance reasons.

    In either form of paging, you can determine whether any resources were missed by comparing the number of fetched resources against `meta.count`. Set `page[size]` or `page[limit]` to 0 to get only the count.

    It is not valid to mix the two strategies.
  title: Fitbit Plus API
  version: v7.78.1
  x-apisguru-categories:
  - support
  x-logo:
    url: http://developer.twinehealth.com/images/Fitbit_Plus_lockup_2C_RGB-32.png
  x-origin:
  - format: openapi
    url: https://raw.githubusercontent.com/TwineHealth/TwineDeveloperDocs/master/spec/swagger.yaml
    version: "3.0"
  x-providerName: twinehealth.com
servers:
- url: https://api.twinehealth.com/pub
tags:
- description: Authentication operations
  name: oauth
- description: An organization is a Fitbit Plus customer. No data is accessible across
    organizations.
  name: organization
- description: "A group is a cohort of patients within an organization. The creation\
    \ of groups allows for the segmentation of dashboards and analytics. For example,\
    \ a group might correspond to the patients in a particular practice or the employees\
    \ of a particular employer."
  name: group
- description: A coach is a person that supports a patient
  name: coach
- description: A reward program provides the details for a rewards program for a group.
    Different rewards programs can be created for different periods of time specified
    by the start_at and end_at dates. A reward program can activated for a patient
    any time between these dates. An activated reward program for a patient is called
    a reward program activation.
  name: reward program
- description: An action is an actionable item in a patient's plan.
  name: action
- description: A bundle is a collection of actions (an action plan) in a patient's
    plan summary.
  name: bundle
- description: A calendar event represents an event involving or relevant to a patient
    which will or has occurred on a specific date or during a specific period of time.
  name: calendar event
- description: A calendar event response indicates the attendee's response to a calendar
    event.  Only `POST` for creation is allowed as the responses are updated into
    the corresponding calendar events.
  name: calendar event response
- description: Email history represents a single email that was sent using Fitbit
    Plus.
  name: email history
- description: A health profile contains a set of health questions and answers for
    a patient.
  name: health profile
- description: A health profile answer is the answer to a question for a patient.
  name: health profile answer
- description: A health profile question contains a health question and the corresponding
    answer for a patient.
  name: health profile question
- description: A health question definition specifies a health question and the corresponding
    answer choices.
  name: health question definition
- description: "A metric is a quantitative result for a patient. For example, vital\
    \ signs, lab results, etc. are all metrics."
  name: metric
- description: A patient is the core user of Fitbit Plus.
  name: patient
- description: A plan is the set of actions and associated goals for a patient.
  name: plan
- description: A patient health result is a quantitative result for a patient.
  name: result
- description: A reward allocates a portion of the budget from the reward program
    activation for achieving a particular goal and sets a target date.
  name: reward
- description: A reward earning specifies the portion of a reward that was earned
    and at what date.
  name: reward earning
- description: A reward earning fulfillment specifies the portion of a reward earning
    that was fulfilled and at what date.
  name: reward earning fulfillment
- description: A reward program activation is the activation of a reward program for
    a specific patient.
  name: reward program activation
paths:
  /action:
    post:
      description: Create a plan action
      operationId: create_action
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/CreateActionRequest'
        required: true
        x-body-name: body
      responses:
        "201":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CreateActionResponse'
          description: OK
        "401":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CreateOrUpdateErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CreateOrUpdateErrorResponse'
          description: Forbidden
        "409":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CreateOrUpdateErrorResponse'
          description: Invalid Request
      summary: Create action
      tags:
      - action
      x-openapi-router-controller: openapi_server.controllers.action_controller
      x-codegen-request-body-name: body
  /action/{id}:
    get:
      description: Get a health action from a patient's plan.
      operationId: fetch_action
      parameters:
      - description: Action identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchActionResponse'
          description: OK
        "401":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchErrorResponse'
          description: Forbidden
      summary: Get an action
      tags:
      - action
      x-openapi-router-controller: openapi_server.controllers.action_controller
    patch:
      description: Update a health action from a patient's plan.
      operationId: update_action
      parameters:
      - description: Action identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/UpdateActionRequest'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UpdateActionResponse'
          description: OK
        "401":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchErrorResponse'
          description: Forbidden
        "409":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CreateOrUpdateErrorResponse'
          description: Invalid Request
      summary: Update an action
      tags:
      - action
      x-openapi-router-controller: openapi_server.controllers.action_controller
      x-codegen-request-body-name: body
  /bundle:
    post:
      description: Create a bundle in a patient's plan
      operationId: create_bundle
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/CreateBundleRequest'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CreateBundleResponse'
          description: OK
        "401":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CreateOrUpdateErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CreateOrUpdateErrorResponse'
          description: Forbidden
        "409":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CreateOrUpdateErrorResponse'
          description: Invalid Request
      summary: Create bundle
      tags:
      - bundle
      x-openapi-router-controller: openapi_server.controllers.bundle_controller
      x-codegen-request-body-name: body
  /bundle/{id}:
    get:
      description: Get a bundle from a patient's plan.
      operationId: fetch_bundle
      parameters:
      - description: Bundle identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchBundleResponse'
          description: OK
        "401":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchErrorResponse'
          description: Forbidden
      summary: Get a bundle
      tags:
      - bundle
      x-openapi-router-controller: openapi_server.controllers.bundle_controller
    patch:
      description: Updte a bundle from a patient's plan.
      operationId: update_bundle
      parameters:
      - description: Bundle identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/UpdateBundleRequest'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UpdateBundleResponse'
          description: OK
        "401":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchErrorResponse'
          description: Forbidden
        "409":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CreateOrUpdateErrorResponse'
          description: Invalid Request
      summary: Update a bundle
      tags:
      - bundle
      x-openapi-router-controller: openapi_server.controllers.bundle_controller
      x-codegen-request-body-name: body
  /calendar_event:
    get:
      description: Get a list of calendar events
      operationId: fetch_calendar_events
      parameters:
      - description: |
          Patient id to fetch calendar event. Note that one of the following filters must be specified: `filter[patient]`, `filter[group]`, `filter[organization]`, or `filter[attendees]`.
        explode: true
        in: query
        name: "filter[patient]"
        required: false
        schema:
          type: string
        style: form
      - description: |
          Comma-separated list of group ids. Note that one of the following filters must be specified: `filter[patient]`, `filter[group]`, `filter[organization]`, or `filter[attendees]`.
        explode: true
        in: query
        name: "filter[groups]"
        required: false
        schema:
          type: string
        style: form
      - description: |
          Fitbit Plus organization id. Note that one of the following filters must be specified: `filter[patient]`, `filter[group]`, `filter[organization]`, or `filter[attendees]`.
        explode: true
        in: query
        name: "filter[organization]"
        required: false
        schema:
          type: string
        style: form
      - description: |
          Comma-separated list of coach or patient ids. Note that one of the following filters must be specified: `filter[patient]`, `filter[group]`, `filter[organization]`, or `filter[attendees]`.
        explode: true
        in: query
        name: "filter[attendees]"
        required: false
        schema:
          type: string
        style: form
      - description: Calendar event type
        explode: true
        in: query
        name: "filter[type]"
        required: false
        schema:
          enum:
          - plan-check-in
          - reminder
          - telephone-call
          - office-visit
          - video-call
          type: string
        style: form
      - description: "If not specified, return all calendar events. If set to `true`\
          \ return only events marked as completed, if set to `false`, return only\
          \ events not marked as completed yet."
        explode: true
        in: query
        name: "filter[completed]"
        required: false
        schema:
          type: boolean
        style: form
      - description: |
          The start (inclusive) and end (exclusive) dates are ISO date and time strings separated by `..`. Example for events starting in November 2017 (America/New_York): `filter[start_at]=2017-11-01T00:00:00-04:00..2017-12-01T00:00:00-05:00`
        explode: true
        in: query
        name: "filter[start_at]"
        required: false
        schema:
          type: string
        style: form
      - description: |
          The start (inclusive) and end (exclusive) dates are ISO date and time strings separated by `..`. Example for events ending in November 2017 (America/New_York): `filter[end_at]=2017-11-01T00:00:00-04:00..2017-12-01T00:00:00-05:00`
        explode: true
        in: query
        name: "filter[end_at]"
        required: false
        schema:
          type: string
        style: form
      - description: |
          The start (inclusive) and end (exclusive) dates are ISO date and time strings separated by `..`. Example for events completed in November 2017 (America/New_York): `filter[completed_at]=2017-11-01T00:00:00-04:00..2017-12-01T00:00:00-05:00`
        explode: true
        in: query
        name: "filter[completed_at]"
        required: false
        schema:
          type: string
        style: form
      - description: |
          The start (inclusive) and end (exclusive) dates are ISO date and time strings separated by `..`. Example for events created in November 2017 (America/New_York): `filter[created_at]=2017-11-01T00:00:00-04:00..2017-12-01T00:00:00-05:00`
        explode: true
        in: query
        name: "filter[created_at]"
        required: false
        schema:
          type: string
        style: form
      - description: |
          The start (inclusive) and end (exclusive) dates are ISO date and time strings separated by `..`. Example for events updated in November 2017 (America/New_York): `filter[updated_at]=2017-11-01T00:00:00-04:00..2017-12-01T00:00:00-05:00`
        explode: true
        in: query
        name: "filter[updated_at]"
        required: false
        schema:
          type: string
        style: form
      - description: Page number
        explode: true
        in: query
        name: "page[number]"
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - description: Page size
        explode: true
        in: query
        name: "page[size]"
        required: false
        schema:
          default: 10
          maximum: 50
          minimum: 0
          type: integer
        style: form
      - description: Page limit
        explode: true
        in: query
        name: "page[limit]"
        required: false
        schema:
          default: 50
          minimum: 0
          type: integer
        style: form
      - description: Page cursor
        explode: true
        in: query
        name: "page[cursor]"
        required: false
        schema:
          type: string
        style: form
      - description: List of related resources to include in the response
        explode: true
        in: query
        name: include
        required: false
        schema:
          enum:
          - owner
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchCalendarEventsResponse'
          description: OK
        "401":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchErrorResponse'
          description: Forbidden
        "409":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchErrorResponse'
          description: Invalid Request
      summary: List calendar events
      tags:
      - calendar event
      x-openapi-router-controller: openapi_server.controllers.calendar_event_controller
    post:
      description: Create a calendar event for a patient. Attribute `all_day` must
        be set to `true` and `end_at` cannot be set for `plan-check-in` event type.
      operationId: create_calendar_event
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/CreateCalendarEventRequest'
        required: true
        x-body-name: body
      responses:
        "201":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CreateCalendarEventResponse'
          description: OK
        "401":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CreateOrUpdateErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CreateOrUpdateErrorResponse'
          description: Forbidden
        "409":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CreateOrUpdateErrorResponse'
          description: Invalid Request
      summary: Create calendar event
      tags:
      - calendar event
      x-openapi-router-controller: openapi_server.controllers.calendar_event_controller
      x-codegen-request-body-name: body
  /calendar_event/{id}:
    delete:
      description: Delete a calendar event by id
      operationId: delete_calendar_event
      parameters:
      - description: Calendar event identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: OK
        "401":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchErrorResponse'
          description: Forbidden
      summary: Delete a calendar event
      tags:
      - calendar event
      x-openapi-router-controller: openapi_server.controllers.calendar_event_controller
    get:
      description: Get a calendar event by id
      operationId: fetch_calendar_event
      parameters:
      - description: Calendar event identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchCalendarEventResponse'
          description: OK
        "401":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchErrorResponse'
          description: Forbidden
      summary: Get a calendar event
      tags:
      - calendar event
      x-openapi-router-controller: openapi_server.controllers.calendar_event_controller
    patch:
      description: "Update a calendar event for a patient. Attribute `all_day` must\
        \ be true and `end_at` cannot be specified for `plan-check-in` event type.\
        \ To mark a calendar event as 'completed', set `completed_at` and `completed_by`\
        \ to desired values.  To mark a completed calendar event as 'not completed',\
        \ set `completed_at` and `completed_by` to `null`. Attendees can be added\
        \ or removed, but response status cannot be updated. Use the calendar event\
        \ response api for response status updates instead."
      operationId: update_calendar_event
      parameters:
      - description: Calendar event identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/UpdateCalendarEventRequest'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UpdateCalendarEventResponse'
          description: OK
        "401":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchErrorResponse'
          description: Forbidden
        "409":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CreateOrUpdateErrorResponse'
          description: Invalid Request
      summary: Update a calendar event
      tags:
      - calendar event
      x-openapi-router-controller: openapi_server.controllers.calendar_event_controller
      x-codegen-request-body-name: body
  /calendar_event_response:
    post:
      description: "Create a calendar event response for an attendee of a calendar\
        \ event, the attendee can be a coach or patient.  Calendar event responses\
        \ cannot be fetched, updated nor deleted.  Use calendar event api to fetch\
        \ the response status for attendees."
      operationId: create_calendar_event_response
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/CreateCalendarEventResponseRequest'
        required: true
        x-body-name: body
      responses:
        "201":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CreateCalendarEventResponseRequest'
          description: OK
        "401":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CreateOrUpdateErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CreateOrUpdateErrorResponse'
          description: Forbidden
        "409":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CreateOrUpdateErrorResponse'
          description: Invalid Request
      summary: Create calendar event response
      tags:
      - calendar event response
      x-openapi-router-controller: openapi_server.controllers.calendar_event_response_controller
      x-codegen-request-body-name: body
  /coach:
    get:
      description: Get a list of coaches matching the specified filters.
      operationId: fetch_coaches
      parameters:
      - description: |
          Comma-separated list of group ids. Note that one of the following filters must be specified: `filter[groups]`, `filter[organization]`.
        explode: true
        in: query
        name: "filter[groups]"
        required: false
        schema:
          type: string
        style: form
      - description: |
          Fitbit Plus organization id. Note that one of the following filters must be specified: `filter[groups]`, `filter[organization]`.
        explode: true
        in: query
        name: "filter[organization]"
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchCoachesResponse'
          description: OK
        "401":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchErrorResponse'
          description: Forbidden
      summary: List coaches
      tags:
      - coach
      x-openapi-router-controller: openapi_server.controllers.coach_controller
  /coach/{id}:
    get:
      description: Get a coach record by id.
      operationId: fetch_coach
      parameters:
      - description: Coach identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchCoachResponse'
          description: OK
        "401":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchErrorResponse'
          description: Forbidden
      summary: Get a coach
      tags:
      - coach
      x-openapi-router-controller: openapi_server.controllers.coach_controller
  /email_history:
    get:
      description: Get a list of email histories
      operationId: fetch_email_histories
      parameters:
      - description: "Fitbit Plus user id of email recipient. Required if filter[sender]\
          \ is not defined."
        explode: true
        in: query
        name: "filter[receiver]"
        required: false
        schema:
          type: string
        style: form
      - description: "Fitbit Plus user id of email sender. Required if filter[receiver]\
          \ is not defined."
        explode: true
        in: query
        name: "filter[sender]"
        required: false
        schema:
          type: string
        style: form
      - description: Type of email
        explode: true
        in: query
        name: "filter[emailType]"
        required: false
        schema:
          type: string
        style: form
      - description: |
          valid sorts:
            * send_time - ascending by send_time
            * -send_time - descending by send_time
        explode: true
        in: query
        name: sort
        required: false
        schema:
          enum:
          - send_time
          - -send_time
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchEmailHistoriesResponse'
          description: OK
        "401":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchErrorResponse'
          description: Forbidden
        "409":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchErrorResponse'
          description: Invalid Request
      summary: List email histories
      tags:
      - email history
      x-openapi-router-controller: openapi_server.controllers.email_history_controller
  /email_history/{id}:
    get:
      description: Get an email history by id
      operationId: fetch_email_history
      parameters:
      - description: Email history identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchEmailHistoryResponse'
          description: OK
        "401":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchErrorResponse'
          description: Forbidden
      summary: Get an email history
      tags:
      - email history
      x-openapi-router-controller: openapi_server.controllers.email_history_controller
  /group:
    get:
      description: Get a list of groups matching the specified filters.
      operationId: fetch_groups
      parameters:
      - description: Organization identifier
        explode: true
        in: query
        name: "filter[organization]"
        required: true
        schema:
          type: string
        style: form
      - description: Group name
        explode: true
        in: query
        name: "filter[name]"
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchGroupsResponse'
          description: OK
        "401":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchErrorResponse'
          description: Forbidden
      summary: List groups
      tags:
      - group
      x-openapi-router-controller: openapi_server.controllers.group_controller
    post:
      description: Create a group record.
      operationId: create_group
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/CreateGroupRequest'
        required: true
        x-body-name: body
      responses:
        "201":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CreateGroupResponse'
          description: Created
        "401":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CreateOrUpdateErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CreateOrUpdateErrorResponse'
          description: Forbidden
        "409":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CreateOrUpdateErrorResponse'
          description: Invalid Request
      summary: Create a group
      tags:
      - group
      x-openapi-router-controller: openapi_server.controllers.group_controller
      x-codegen-request-body-name: body
  /group/{id}:
    get:
      description: Get a group record by id.
      operationId: fetch_group
      parameters:
      - description: Group identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchGroupResponse'
          description: OK
        "401":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchErrorResponse'
          description: Forbidden
      summary: Get a group
      tags:
      - group
      x-openapi-router-controller: openapi_server.controllers.group_controller
  /health_profile:
    get:
      description: Get a list of health profiles
      operationId: fetch_health_profiles
      parameters:
      - description: |
          Patient id to fetch health profile. Note that one of the following filters must be specified: `filter[patient]`, `filter[group]`, or `filter[organization]`.
        explode: true
        in: query
        name: "filter[patient]"
        required: false
        schema:
          type: string
        style: form
      - description: |
          Comma-separated list of group ids. Note that one of the following filters must be specified: `filter[patient]`, `filter[group]`, or `filter[organization]`.
        explode: true
        in: query
        name: "filter[groups]"
        required: false
        schema:
          type: string
        style: form
      - description: |
          Fitbit Plus organization id. Note that one of the following filters must be specified: `filter[patient]`, `filter[group]`, or `filter[organization]`.
        explode: true
        in: query
        name: "filter[organization]"
        required: false
        schema:
          type: string
        style: form
      - description: Page number
        explode: true
        in: query
        name: "page[number]"
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - description: Page size
        explode: true
        in: query
        name: "page[size]"
        required: false
        schema:
          default: 10
          maximum: 50
          minimum: 0
          type: integer
        style: form
      - description: Page limit
        explode: true
        in: query
        name: "page[limit]"
        required: false
        schema:
          default: 50
          minimum: 0
          type: integer
        style: form
      - description: Page cursor
        explode: true
        in: query
        name: "page[cursor]"
        required: false
        schema:
          type: string
        style: form
      - description: List of related resources to include in the response
        explode: true
        in: query
        name: include
        required: false
        schema:
          enum:
          - patient
          - questions
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchHealthProfilesResponse'
          description: OK
        "401":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchErrorResponse'
          description: Forbidden
        "409":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchErrorResponse'
          description: Invalid Request
      summary: List health profiles
      tags:
      - health profile
      x-openapi-router-controller: openapi_server.controllers.health_profile_controller
  /health_profile/{id}:
    get:
      description: Get a health profile by id
      operationId: fetch_health_profile
      parameters:
      - description: Health profile identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: List of related resources to include in the response
        explode: true
        in: query
        name: include
        required: false
        schema:
          enum:
          - patient
          - questions
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchHealthProfileResponse'
          description: OK
        "401":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchErrorResponse'
          description: Forbidden
      summary: Get a health profile
      tags:
      - health profile
      x-openapi-router-controller: openapi_server.controllers.health_profile_controller
  /health_profile_answer:
    get:
      description: Get a list of health profile answers
      operationId: fetch_health_profile_answers
      parameters:
      - description: |
          Patient id to fetch healt profile answers. Note that one of the following filters must be specified: `filter[patient]`, `filter[group]`, or `filter[organization]`.
        explode: true
        in: query
        name: "filter[patient]"
        required: false
        schema:
          type: string
        style: form
      - description: |
          Comma-separated list of group ids. Note that one of the following filters must be specified: `filter[patient]`, `filter[group]`, or `filter[organization]`.
        explode: true
        in: query
        name: "filter[groups]"
        required: false
        schema:
          type: string
        style: form
      - description: |
          Fitbit Plus organization id. Note that one of the following filters must be specified: `filter[patient]`, `filter[group]`, or `filter[organization]`.
        explode: true
        in: query
        name: "filter[organization]"
        required: false
        schema:
          type: string
        style: form
      - description: Page number
        explode: true
        in: query
        name: "page[number]"
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - description: Page size
        explode: true
        in: query
        name: "page[size]"
        required: false
        schema:
          default: 50
          maximum: 100
          minimum: 0
          type: integer
        style: form
      - description: Page limit
        explode: true
        in: query
        name: "page[limit]"
        required: false
        schema:
          default: 50
          minimum: 0
          type: integer
        style: form
      - description: Page cursor
        explode: true
        in: query
        name: "page[cursor]"
        required: false
        schema:
          type: string
        style: form
      - description: List of related resources to include in the response
        explode: true
        in: query
        name: include
        required: false
        schema:
          enum:
          - patient
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchHealthProfileAnswersResponse'
          description: OK
        "401":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchErrorResponse'
          description: Forbidden
        "409":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchErrorResponse'
          description: Invalid Request
      summary: List health profile answers
      tags:
      - health profile answer
      x-openapi-router-controller: openapi_server.controllers.health_profile_answer_controller
  /health_profile_answer/{id}:
    get:
      description: Get a health profile answer by id
      operationId: fetch_health_profile_answer
      parameters:
      - description: Health profile answer identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: List of related resources to include in the response
        explode: true
        in: query
        name: include
        required: false
        schema:
          enum:
          - patient
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchHealthProfileAnswerResponse'
          description: OK
        "401":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchErrorResponse'
          description: Forbidden
      summary: Get a health profile answer
      tags:
      - health profile answer
      x-openapi-router-controller: openapi_server.controllers.health_profile_answer_controller
  /health_profile_question:
    get:
      description: Get a list of health profile questions
      operationId: fetch_health_profile_questions
      parameters:
      - description: |
          Patient id to fetch healt profile questions. Note that one of the following filters must be specified: `filter[patient]`, `filter[group]`, or `filter[organization]`.
        explode: true
        in: query
        name: "filter[patient]"
        required: false
        schema:
          type: string
        style: form
      - description: |
          Comma-separated list of group ids. Note that one of the following filters must be specified: `filter[patient]`, `filter[group]`, or `filter[organization]`.
        explode: true
        in: query
        name: "filter[groups]"
        required: false
        schema:
          type: string
        style: form
      - description: |
          Fitbit Plus organization id. Note that one of the following filters must be specified: `filter[patient]`, `filter[group]`, or `filter[organization]`.
        explode: true
        in: query
        name: "filter[organization]"
        required: false
        schema:
          type: string
        style: form
      - description: List of related resources to include in the response
        explode: true
        in: query
        name: include
        required: false
        schema:
          enum:
          - question_definition
          - answer
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchHealthProfileQuestionsResponse'
          description: OK
        "401":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchErrorResponse'
          description: Forbidden
        "409":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchErrorResponse'
          description: Invalid Request
      summary: List health profile questions
      tags:
      - health profile question
      x-openapi-router-controller: openapi_server.controllers.health_profile_question_controller
  /health_profile_question/{id}:
    get:
      description: Get a health profile by id
      operationId: fetch_health_profile_question
      parameters:
      - description: Health profile question identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: List of related resources to include in the response
        explode: true
        in: query
        name: include
        required: false
        schema:
          enum:
          - question_definition
          - answer
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchHealthProfileQuestionResponse'
          description: OK
        "401":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchErrorResponse'
          description: Forbidden
      summary: Get a health profile question
      tags:
      - health profile question
      x-openapi-router-controller: openapi_server.controllers.health_profile_question_controller
  /health_question_definition:
    get:
      description: Get a list of all health question definitions
      operationId: fetch_health_question_definitions
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchHealthQuestionDefinitionsResponse'
          description: OK
        "401":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchErrorResponse'
          description: Forbidden
        "409":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchErrorResponse'
          description: Invalid Request
      summary: List health question definitions
      tags:
      - health question definition
      x-openapi-router-controller: openapi_server.controllers.health_question_definition_controller
  /health_question_definition/{id}:
    get:
      description: Get a health question definition by id
      operationId: fetch_health_question_definition
      parameters:
      - description: Health question definition identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchHealthQuestionDefinitionResponse'
          description: OK
        "401":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchErrorResponse'
          description: Forbidden
      summary: Get a health question definition
      tags:
      - health question definition
      x-openapi-router-controller: openapi_server.controllers.health_question_definition_controller
  /oauth/token:
    post:
      description: |
        Create an OAuth 2.0 Bearer token. A valid bearer token is required for all other API requests.

        Be sure to set the header `Content-Type: "application/vnd.api+json"`. Otherwise, you will get an error
        403 Forbidden. Using `Content-Type: "application/json"` is permitted (to support older oauth clients) but when
        using `application/json` the body should have a body in the following format instead of nesting under
        `data.attributes`:
        ```
        {
          "grant_type": "client_credentials",
          "client_id": "95c78ab2-167f-40b8-8bec-8398d4b87454",
          "client_secret": "35d18dc9-a3dd-4948-b787-063a490b9354"
        }
        ```
      operationId: create_token
      parameters:
      - description: List of related resources to include in the response
        explode: true
        in: query
        name: include
        required: false
        schema:
          enum:
          - groups
          - organization
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTokenRequest'
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/CreateTokenRequest'
        required: true
        x-body-name: body
      responses:
        "201":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CreateTokenResponse'
          description: Created
        "401":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CreateOrUpdateErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CreateOrUpdateErrorResponse'
          description: Forbidden
        "409":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CreateOrUpdateErrorResponse'
          description: Invalid Request
      security:
      - OAuth2:
        - group
        - organization
      summary: Create an oauth token
      tags:
      - oauth
      x-openapi-router-controller: openapi_server.controllers.oauth_controller
      x-codegen-request-body-name: body
  /oauth/token/{id}/groups:
    get:
      description: Get the list of groups a token can be used to access.
      operationId: fetch_token_groups
      parameters:
      - description: Token identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchGroupsResponse'
          description: OK
        "401":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchErrorResponse'
          description: Forbidden
      security:
      - OAuth2:
        - group
        - organization
      summary: Get the groups for a token
      tags:
      - oauth
      x-openapi-router-controller: openapi_server.controllers.oauth_controller
  /oauth/token/{id}/organization:
    get:
      description: Get the organization a token can be used to access.
      operationId: fetch_token_organization
      parameters:
      - description: Token identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchOrganizationResponse'
          description: OK
        "401":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchErrorResponse'
          description: Forbidden
      summary: Get the organization for a token
      tags:
      - oauth
      x-openapi-router-controller: openapi_server.controllers.oauth_controller
  /organization/{id}:
    get:
      description: Get an organization record by id.
      operationId: fetch_organization
      parameters:
      - description: Organization identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchOrganizationResponse'
          description: OK
        "401":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchErrorResponse'
          description: Forbidden
      summary: Get an organization
      tags:
      - organization
      x-openapi-router-controller: openapi_server.controllers.organization_controller
  /patient:
    get:
      description: Get a list of patients.
      operationId: fetch_patients
      parameters:
      - description: "Comma-separated list of group ids. Note that either `filter[group]`\
          \ or `filter[organization]` must be specified."
        explode: true
        in: query
        name: "filter[groups]"
        required: false
        schema:
          type: string
        style: form
      - description: "Fitbit Plus organization id. Note that either `filter[group]`\
          \ or `filter[organization]` must be specified."
        explode: true
        in: query
        name: "filter[organization]"
        required: false
        schema:
          type: string
        style: form
      - description: "Identifier system (example: \"MyEHR\") - requires a \"filter[identifier][value]\"\
          \ parameter"
        explode: true
        in: query
        name: "filter[identifier][system]"
        required: false
        schema:
          type: string
        style: form
      - description: "Identifier value (example: \"12345\") - requires a \"filter[identifier][system]\"\
          \ parameter"
        explode: true
        in: query
        name: "filter[identifier][value]"
        required: false
        schema:
          type: string
        style: form
      - description: "If not specified, return all patients. If set to 'true' return\
          \ only archived patients, if set to 'false', return only patients who are\
          \ not archived."
        explode: true
        in: query
        name: "filter[archived]"
        required: false
        schema:
          type: boolean
        style: form
      - description: |
          The start (inclusive) and end (exclusive) dates are ISO date and time strings separated by `..`. Example for patients created in November 2017 (America/New_York): `filter[created_at]=2017-11-01T00:00:00-04:00..2017-12-01T00:00:00-05:00`
        explode: true
        in: query
        name: "filter[created_at]"
        required: false
        schema:
          type: string
        style: form
      - description: |
          The start (inclusive) and end (exclusive) dates are ISO date and time strings separated by `..`. Example for patients updated in November 2017 (America/New_York): `filter[updated_at]=2017-11-01T00:00:00-04:00..2017-12-01T00:00:00-05:00`
        explode: true
        in: query
        name: "filter[updated_at]"
        required: false
        schema:
          type: string
        style: form
      - description: Page number
        explode: true
        in: query
        name: "page[number]"
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - description: Page size
        explode: true
        in: query
        name: "page[size]"
        required: false
        schema:
          default: 10
          maximum: 50
          minimum: 0
          type: integer
        style: form
      - description: Page limit
        explode: true
        in: query
        name: "page[limit]"
        required: false
        schema:
          default: 50
          minimum: 0
          type: integer
        style: form
      - description: Page cursor
        explode: true
        in: query
        name: "page[cursor]"
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchPatientsResponse'
          description: OK
        "401":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchErrorResponse'
          description: Forbidden
        "409":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchErrorResponse'
          description: Invalid Request
      summary: List patients
      tags:
      - patient
      x-openapi-router-controller: openapi_server.controllers.patient_controller
    post:
      description: |
        Create a patient record.

        Example for creating a patient with a group specified using `meta.query` instead of `id`:

        ```JSON
        {
          "data": {
            "type": "patient",
            "attributes": {
              "first_name": "Andrew",
              "last_name": "Smith"
            },
            "relationships": {
              "groups": {
                "data": [
                  {
                    "type": "group",
                    "meta": {
                      "query": {
                        "organization": "58c88de7c93eb96357a87033",
                        "name": "Patients Lead"
                      }
                    }
                  }
                ]
              }
            }
          }
        }
        ```
      operationId: create_patient
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/CreatePatientRequest'
        required: true
        x-body-name: body
      responses:
        "201":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CreatePatientResponse'
          description: Created
        "401":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CreateOrUpdateErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CreateOrUpdateErrorResponse'
          description: Forbidden
        "409":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CreateOrUpdateErrorResponse'
          description: Invalid Request
      summary: Create a patient
      tags:
      - patient
      x-openapi-router-controller: openapi_server.controllers.patient_controller
      x-codegen-request-body-name: body
    put:
      description: Create a new patient or update an existing patient
      operationId: upsert_patient
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/UpsertPatientRequest'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CreatePatientResponse'
          description: OK
        "401":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CreateOrUpdateErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CreateOrUpdateErrorResponse'
          description: Forbidden
        "409":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CreateOrUpdateErrorResponse'
          description: Invalid Request
      summary: Upsert patient
      tags:
      - patient
      x-openapi-router-controller: openapi_server.controllers.patient_controller
      x-codegen-request-body-name: body
  /patient/{id}:
    get:
      description: Gets a patient record by id.
      operationId: fetch_patient
      parameters:
      - description: Patient identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchPatientResponse'
          description: OK
        "401":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchErrorResponse'
          description: Forbidden
      summary: Get a patient
      tags:
      - patient
      x-openapi-router-controller: openapi_server.controllers.patient_controller
    patch:
      description: Update a patient record.
      operationId: update_patient
      parameters:
      - description: Patient identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/UpdatePatientRequest'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UpdatePatientResponse'
          description: OK
        "401":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CreateOrUpdateErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CreateOrUpdateErrorResponse'
          description: Forbidden
        "409":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CreateOrUpdateErrorResponse'
          description: Invalid Request
      summary: Update a patient
      tags:
      - patient
      x-openapi-router-controller: openapi_server.controllers.patient_controller
      x-codegen-request-body-name: body
  /patient/{id}/coaches:
    get:
      description: Get the list of coaches for a patient.
      operationId: fetch_patient_coaches
      parameters:
      - description: Patient identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchCoachesResponse'
          description: OK
        "401":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchErrorResponse'
          description: Forbidden
      summary: List coaches for a patient
      tags:
      - patient
      x-openapi-router-controller: openapi_server.controllers.patient_controller
  /patient/{id}/groups:
    get:
      description: Get the list of groups for a patient.
      operationId: fetch_patient_groups
      parameters:
      - description: Patient identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchGroupsResponse'
          description: OK
        "401":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchErrorResponse'
          description: Forbidden
      summary: List groups for a patient
      tags:
      - patient
      x-openapi-router-controller: openapi_server.controllers.patient_controller
  /patient_health_metric:
    get:
      description: Get a list of patient health metrics.
      operationId: fetch_patient_health_metrics
      parameters:
      - description: |
          Filter the patient health metrics for a specified patient. Note that one of the following filters must be specified: `filter[patient]`, `filter[groups]`, `filter[organization]`.
        explode: true
        in: query
        name: "filter[patient]"
        required: false
        schema:
          type: string
        style: form
      - description: |
          Comma-separated list of group ids. Note that one of the following filters must be specified: `filter[patient]`, `filter[groups]`, `filter[organization]`.
        explode: true
        in: query
        name: "filter[groups]"
        required: false
        schema:
          type: string
        style: form
      - description: |
          Fitbit Plus organization id. Note that one of the following filters must be specified: `filter[patient]`, `filter[groups]`, `filter[organization]`.
        explode: true
        in: query
        name: "filter[organization]"
        required: false
        schema:
          type: string
        style: form
      - description: Page number
        explode: true
        in: query
        name: "page[number]"
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - description: Page size
        explode: true
        in: query
        name: "page[size]"
        required: false
        schema:
          default: 10
          maximum: 50
          minimum: 0
          type: integer
        style: form
      - description: Page limit
        explode: true
        in: query
        name: "page[limit]"
        required: false
        schema:
          default: 50
          minimum: 0
          type: integer
        style: form
      - description: Page cursor
        explode: true
        in: query
        name: "page[cursor]"
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchPatientHealthMetricResponse'
          description: OK
        "401":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchErrorResponse'
          description: Forbidden
        "409":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchErrorResponse'
          description: Invalid Request
      summary: List patient health metrics
      tags:
      - metric
      x-openapi-router-controller: openapi_server.controllers.metric_controller
    post:
      description: |
        Create one or more patient health metrics.

        Example for creating a patient health result with a patient specified using `meta.query` instead of `id`:

        ```JSON
          {
            "data": {
              "type": "patient_health_metric",
               "attributes": {
                 "code": {
                   "system": "LOINC",
                   "value": "13457-7"
                 },
                 "type": "ldl_cholesterol",
                 "occurred_at": "2017-03-14T11:00:57.000Z",
                 "value": 121,
                 "unit": "mg/dl"
              },
              "relationships": {
                "patient": {
                  "data": {
                    "type": "patient",
                    "meta": {
                      "query": {
                        "identifier": {
                          "system": "medical-record-number",
                          "value": "121212"
                        },
                        "organization": "58c4554710123c5c40dbab81"
                      }
                    }
                  }
                }
              }
            }
          }
        ```
      operationId: create_patient_health_metric
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/CreatePatientHealthMetricRequest'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CreatePatientHealthMetricResponse'
          description: OK
        "401":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CreateOrUpdateErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CreateOrUpdateErrorResponse'
          description: Forbidden
        "409":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CreateOrUpdateErrorResponse'
          description: Invalid Request
      summary: Create patient health metrics
      tags:
      - metric
      x-openapi-router-controller: openapi_server.controllers.metric_controller
      x-codegen-request-body-name: body
  /patient_health_metric/{id}:
    get:
      description: Get the plan summary for a patient.
      operationId: fetch_patient_health_metric
      parameters:
      - description: Patient health metric identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchPatientHealthMetricResponse'
          description: OK
        "401":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchErrorResponse'
          description: Forbidden
      summary: Get a patient health metric
      tags:
      - metric
      x-openapi-router-controller: openapi_server.controllers.metric_controller
  /patient_plan_summary:
    get:
      description: Get a list of patient plan summaries
      operationId: fetch_patient_plan_summaries
      parameters:
      - description: |
          Patient id to fetch plan summary for. Note that one of the following filters must be specified: `filter[patient]`, `filter[groups]`, `filter[organization]`.
        explode: true
        in: query
        name: "filter[patient]"
        required: false
        schema:
          type: string
        style: form
      - description: |
          Comma-separated list of group ids. Note that one of the following filters must be specified: `filter[patient]`, `filter[groups]`, `filter[organization]`.
        explode: true
        in: query
        name: "filter[groups]"
        required: false
        schema:
          type: string
        style: form
      - description: |
          Fitbit Plus organization id. Note that one of the following filters must be specified: `filter[patient]`, `filter[groups]`, `filter[organization]`.
        explode: true
        in: query
        name: "filter[organization]"
        required: false
        schema:
          type: string
        style: form
      - description: List of related resources to include in the response
        explode: true
        in: query
        name: include
        required: false
        schema:
          enum:
          - actions
          - bundles
          - patient
          - current_results
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchPatientPlanSummariesResponse'
          description: OK
        "401":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchErrorResponse'
          description: Forbidden
      summary: List patient plan summaries
      tags:
      - plan
      x-openapi-router-controller: openapi_server.controllers.plan_controller
  /patient_plan_summary/{id}:
    get:
      description: Get the plan summary for a patient.
      operationId: fetch_patient_plan_summary
      parameters:
      - description: Plan summary identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: List of related resources to include in the response
        explode: true
        in: query
        name: include
        required: false
        schema:
          enum:
          - actions
          - bundles
          - patient
          - current_results
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchPatientPlanSummaryResponse'
          description: OK
        "401":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchErrorResponse'
          description: Forbidden
      summary: Get the plan summary for a patient
      tags:
      - plan
      x-openapi-router-controller: openapi_server.controllers.plan_controller
    patch:
      description: Update a plan summary record for a patient.
      operationId: update_patient_plan_summary
      parameters:
      - description: Plan summary identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/UpdatePatientPlanSummaryRequest'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UpdatePatientPlanSummaryResponse'
          description: OK
        "401":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CreateOrUpdateErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CreateOrUpdateErrorResponse'
          description: Forbidden
        "409":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CreateOrUpdateErrorResponse'
          description: Invalid Request
      summary: Update a plan summary
      tags:
      - plan
      x-openapi-router-controller: openapi_server.controllers.plan_controller
      x-codegen-request-body-name: body
  /result:
    get:
      description: Get a list of patient health results.
      operationId: fetch_patient_health_results
      parameters:
      - description: Filter the patient health results for a specified patient
        explode: true
        in: query
        name: "filter[patient]"
        required: true
        schema:
          type: string
        style: form
      - description: A comma-separated list of action identifiers
        explode: true
        in: query
        name: "filter[actions]"
        required: false
        schema:
          type: string
        style: form
      - description: Filter results that occurred after the passed ISO date and time
          string
        explode: true
        in: query
        name: "filter[start_at]"
        required: false
        schema:
          format: dateTime
          type: string
        style: form
      - description: Filter results that occurred before the passed ISO date and time
          string
        explode: true
        in: query
        name: "filter[end_at]"
        required: false
        schema:
          format: dateTime
          type: string
        style: form
      - description: A comma-separated list of thread identifiers
        explode: true
        in: query
        name: "filter[threads]"
        required: false
        schema:
          type: string
        style: form
      - description: |
          The start (inclusive) and end (exclusive) dates are ISO date and time strings separated by `..`. Example for results created in November 2017 (America/New_York): `filter[created_at]=2017-11-01T00:00:00-04:00..2017-12-01T00:00:00-05:00`
        explode: true
        in: query
        name: "filter[created_at]"
        required: false
        schema:
          type: string
        style: form
      - description: |
          The start (inclusive) and end (exclusive) dates are ISO date and time strings separated by `..`. Example for results updated in November 2017 (America/New_York): `filter[updated_at]=2017-11-01T00:00:00-04:00..2017-12-01T00:00:00-05:00`
        explode: true
        in: query
        name: "filter[updated_at]"
        required: false
        schema:
          type: string
        style: form
      - description: Page number
        explode: true
        in: query
        name: "page[number]"
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - description: Page size
        explode: true
        in: query
        name: "page[size]"
        required: false
        schema:
          default: 10
          maximum: 50
          minimum: 0
          type: integer
        style: form
      - description: Page limit
        explode: true
        in: query
        name: "page[limit]"
        required: false
        schema:
          default: 50
          minimum: 0
          type: integer
        style: form
      - description: Page cursor
        explode: true
        in: query
        name: "page[after]"
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchPatientHealthResultResponse'
          description: OK
        "401":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchErrorResponse'
          description: Forbidden
        "409":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchErrorResponse'
          description: Invalid Request
      summary: List patient health results
      tags:
      - result
      x-openapi-router-controller: openapi_server.controllers.result_controller
  /result/{id}:
    get:
      description: Get patient health result by id.
      operationId: fetch_patient_health_result
      parameters:
      - description: Patient health result identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchPatientHealthResultResponse'
          description: OK
        "401":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchErrorResponse'
          description: Forbidden
      summary: Get a patient health result
      tags:
      - result
      x-openapi-router-controller: openapi_server.controllers.result_controller
  /reward:
    get:
      description: Get a list of rewards matching the specified filters.
      operationId: fetch_rewards
      parameters:
      - description: |
          Patient identifier. Note that one of the following filters must be specified: `filter[patient]`, `filter[groups]`, `filter[organization]`.
        explode: true
        in: query
        name: "filter[patient]"
        required: false
        schema:
          type: string
        style: form
      - description: Reward program activation identifier
        explode: true
        in: query
        name: "filter[reward_program_activation]"
        required: false
        schema:
          type: string
        style: form
      - description: Thread identifier
        explode: true
        in: query
        name: "filter[thread]"
        required: false
        schema:
          type: string
        style: form
      - description: |
          Comma-separated list of group ids. Note that one of the following filters must be specified: `filter[patient]`, `filter[groups]`, `filter[organization]`.
        explode: true
        in: query
        name: "filter[groups]"
        required: false
        schema:
          type: string
        style: form
      - description: |
          Fitbit Plus organization id. Note that one of the following filters must be specified: `filter[patient]`, `filter[groups]`, `filter[organization]`.
        explode: true
        in: query
        name: "filter[organization]"
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchRewardsResponse'
          description: OK
        "401":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchErrorResponse'
          description: Forbidden
      summary: List rewards
      tags:
      - reward
      x-openapi-router-controller: openapi_server.controllers.reward_controller
    post:
      description: Create a reward for a patient.
      operationId: create_reward
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/CreateRewardRequest'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CreateRewardResponse'
          description: OK
        "401":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CreateOrUpdateErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CreateOrUpdateErrorResponse'
          description: Forbidden
        "409":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CreateOrUpdateErrorResponse'
          description: Invalid Request
      summary: Create a reward
      tags:
      - reward
      x-openapi-router-controller: openapi_server.controllers.reward_controller
      x-codegen-request-body-name: body
  /reward/{id}:
    get:
      description: Get a reward record by id.
      operationId: fetch_reward
      parameters:
      - description: Reward identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchRewardResponse'
          description: OK
        "401":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchErrorResponse'
          description: Forbidden
      summary: Get a reward
      tags:
      - reward
      x-openapi-router-controller: openapi_server.controllers.reward_controller
  /reward_earning:
    get:
      description: Get a list of reward earnings matching the specified filters.
      operationId: fetch_reward_earnings
      parameters:
      - description: Group identifiers
        explode: true
        in: query
        name: "filter[groups]"
        required: true
        schema:
          type: string
        style: form
      - description: Patient identifier
        explode: true
        in: query
        name: "filter[patient]"
        required: true
        schema:
          type: string
        style: form
      - description: "If true, only returns those reward earnings for which ready_for_fulfillment\
          \ is true and fulfilled_at is null. If false, only returns those reward\
          \ earnings for which ready_for_fulfillment is false and fulfilled_at is\
          \ null."
        explode: true
        in: query
        name: "filter[ready_for_fulfillment]"
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchRewardEarningsResponse'
          description: OK
        "401":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchErrorResponse'
          description: Forbidden
      summary: List reward earnings
      tags:
      - reward earning
      x-openapi-router-controller: openapi_server.controllers.reward_earning_controller
    post:
      description: Create a reward earning for a reward. There can only be one earning
        for a reward. It is possilble to create multiple reward earnings simultaneously
        by providing and array of reward earnings in the data property.
      operationId: create_reward_earning
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/CreateRewardEarningRequest'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CreateRewardEarningResponse'
          description: OK
        "401":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CreateOrUpdateErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CreateOrUpdateErrorResponse'
          description: Forbidden
        "409":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CreateOrUpdateErrorResponse'
          description: Invalid Request
      summary: Create a reward earning
      tags:
      - reward earning
      x-openapi-router-controller: openapi_server.controllers.reward_earning_controller
      x-codegen-request-body-name: body
  /reward_earning/{id}:
    get:
      description: Get a reward earning record by id.
      operationId: fetch_reward_earning
      parameters:
      - description: Reward earning identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchRewardEarningResponse'
          description: OK
        "401":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchErrorResponse'
          description: Forbidden
      summary: Get a reward earning
      tags:
      - reward earning
      x-openapi-router-controller: openapi_server.controllers.reward_earning_controller
  /reward_earning_fulfillment:
    get:
      description: Get a list of reward earning fulfillments matching the specified
        filters.
      operationId: fetch_reward_earning_fulfillments
      parameters:
      - description: Patient identifier
        explode: true
        in: query
        name: "filter[patient]"
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchRewardEarningFulfillmentsResponse'
          description: OK
        "401":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FetchErrorResponse'
          description: Forbidden
      summary: List reward earning fulfillments
      tags:
      - reward earning fulfillment
      x-openapi-router-controller: openapi_server.controllers.reward_earning_fulfillment_controller
    post:
      description: Create a reward earning fulfillment for a reward earning. There
        can only be one fulfillment for each earning.
      operationId: create_reward_earning_fulfillment
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/CreateRewardEarningFulfillmentRequest'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CreateRewardEarningFulfillmentResponse'
          description: OK
        "401":
          content:
[...]
