openapi: 3.0.1
info:
  description: |
    These are the Network Experiment APIs.
  title: NetworkExperiments
  version: 2019-11-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/frontdoor/resource-manager/Microsoft.Network/stable/2019-11-01/networkexperiment.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: frontdoor-networkexperiment
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
tags:
- description: The configuration of Network Experiment profiles
  name: NetworkExperimentProfiles
- description: The configuration of the Network Experiment experiments
  name: Experiments
- description: The preconfigured endpoints and details
  name: PreconfiguredEndpoints
- description: The analysis and results of the experiments
  name: Reports
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/NetworkExperimentProfiles:
    get:
      operationId: network_experiment_profiles_list
      parameters:
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileList'
          description: successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      summary: Gets a list of Network Experiment Profiles under a subscription
      tags:
      - NetworkExperimentProfiles
      x-ms-examples:
        List NetworkExperiment Profiles in a Resource Group:
          parameters:
            api-version: 2019-11-01
            resourceGroupName: MyResourceGroup
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subid/resourceGroups/MyResourceGroup/providers/Microsoft.Network/NetworkExperimentProfiles/
                  location: WestUs
                  name: MyProfile
                  properties:
                    enabledState: Enabled
                    resourceState: Creating
                  tags:
                    key1: value1
                    key2: value2
                  type: Microsoft.Network/NetworkExperimentprofiles
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.network_experiment_profiles_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/NetworkExperimentProfiles:
    get:
      operationId: network_experiment_profiles_list_by_resource_group
      parameters:
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 80
          minLength: 1
          pattern: "^[a-zA-Z0-9_\\-\\(\\)\\.]*[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileList'
          description: successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      summary: Gets a list of Network Experiment Profiles within a resource group
        under a subscription
      tags:
      - NetworkExperimentProfiles
      x-ms-examples:
        List NetworkExperiment Profiles in a Resource Group:
          parameters:
            api-version: 2019-11-01
            resourceGroupName: MyResourceGroup
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subid/resourceGroups/MyResourceGroup/providers/Microsoft.Network/NetworkExperimentProfiles/
                  location: WestUs
                  name: MyProfile
                  properties:
                    enabledState: Enabled
                    resourceState: Creating
                  tags:
                    key1: value1
                    key2: value2
                  type: Microsoft.Network/NetworkExperimentprofiles
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.network_experiment_profiles_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/NetworkExperimentProfiles/{profileName}
  : delete:
      operationId: network_experiment_profiles_delete
      parameters:
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 80
          minLength: 1
          pattern: "^[a-zA-Z0-9_\\-\\(\\)\\.]*[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Profile identifier associated with the Tenant and Partner
        in: path
        name: profile_name
        required: true
        schema:
          pattern: "^[a-zA-Z0-9_\\-\\(\\)\\.]*[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content: {}
          description: Delete successful.
        "202":
          content: {}
          description: Accepted. The request has been accepted for processing and
            the operation will complete asynchronously.
        "204":
          content: {}
          description: No Content. The request has been accepted but the profile was
            not found.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      summary: Deletes an NetworkExperiment Profile by ProfileName
      tags:
      - NetworkExperimentProfiles
      x-ms-examples:
        Deletes an NetworkExperiment Profile by ProfileName:
          parameters:
            api-version: 2019-11-01
            profileName: MyProfile
            resourceGroupName: MyResourceGroup
            subscriptionId: subid
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.network_experiment_profiles_controller
    get:
      operationId: network_experiment_profiles_get
      parameters:
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 80
          minLength: 1
          pattern: "^[a-zA-Z0-9_\\-\\(\\)\\.]*[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Profile identifier associated with the Tenant and Partner
        in: path
        name: profileName
        required: true
        schema:
          pattern: "^[a-zA-Z0-9_\\-\\(\\)\\.]*[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
          description: successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      summary: Gets an NetworkExperiment Profile by ProfileName
      tags:
      - NetworkExperimentProfiles
      x-ms-examples:
        Gets an NetworkExperiment Profile by Profile Id:
          parameters:
            api-version: 2019-11-01
            profileName: MyProfile
            resourceGroupName: MyResourceGroup
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/MyResourceGroup/providers/Microsoft.Network/NetworkExperimentProfiles/MyProfile
                location: WestUs
                name: MyProfile
                properties:
                  enabledState: Enabled
                  resourceState: Creating
                tags:
                  key1: value1
                  key2: value2
      x-openapi-router-controller: openapi_server.controllers.network_experiment_profiles_controller
    patch:
      description: Updates an NetworkExperimentProfiles
      operationId: network_experiment_profiles_update
      parameters:
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 80
          minLength: 1
          pattern: "^[a-zA-Z0-9_\\-\\(\\)\\.]*[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Profile identifier associated with the Tenant and Partner
        in: path
        name: profile_name
        required: true
        schema:
          pattern: "^[a-zA-Z0-9_\\-\\(\\)\\.]*[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProfileUpdateModel'
        description: The Profile Update Model
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
          description: OK. successful operation
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
          description: Accepted. The request has been accepted for processing and
            the operation will complete asynchronously.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      summary: Updates an NetworkExperimentProfiles by NetworkExperimentProfile name
      tags:
      - NetworkExperimentProfiles
      x-ms-examples:
        Updates an Experiment:
          parameters:
            api-version: 2019-11-01
            parameters:
              properties:
                enabledState: Enabled
              tags:
                key1: value1
                key2: value2
            profileName: MyProfile
            resourceGroupName: MyResourceGroup
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/MyResourceGroup/providers/Microsoft.Network/NetworkExperimentProfiles/MyProfile
                location: WestUs
                name: MyProfile
                properties:
                  enabledState: Enabled
                  resourceState: Creating
                tags:
                  key1: value1
                  key2: value2
                type: Microsoft.Network/NetworkExperimentprofiles
            "202":
              body:
                id: /subscriptions/subid/resourceGroups/MyResourceGroup/providers/Microsoft.Network/NetworkExperimentProfiles/MyProfile
                location: WestUs
                name: MyProfile
                properties:
                  enabledState: Enabled
                  resourceState: Creating
                tags:
                  key1: value1
                  key2: value2
                type: Microsoft.Network/NetworkExperimentprofiles
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.network_experiment_profiles_controller
    put:
      operationId: network_experiment_profiles_create_or_update
      parameters:
      - description: The Profile identifier associated with the Tenant and Partner
        in: path
        name: profile_name
        required: true
        schema:
          pattern: "^[a-zA-Z0-9_\\-\\(\\)\\.]*[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 80
          minLength: 1
          pattern: "^[a-zA-Z0-9_\\-\\(\\)\\.]*[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Profile'
        description: An Network Experiment Profile
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
          description: OK. The request has succeeded.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
          description: Created. The request has been fulfilled and a new protection
            policy has been created.
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
          description: Accepted. The request has been accepted for processing and
            the operation will complete asynchronously.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      summary: Creates an NetworkExperiment Profile
      tags:
      - NetworkExperimentProfiles
      x-ms-examples:
        Creates an NetworkExperiment Profile in a Resource Group:
          parameters:
            api-version: 2019-11-01
            parameters:
              location: WestUs
              properties:
                enabledState: Enabled
            profileName: MyProfile
            resourceGroupName: MyResourceGroup
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/MyResourceGroup/providers/Microsoft.Network/NetworkExperimentProfiles/MyProfile
                location: WestUs
                name: MyProfile
                properties:
                  enabledState: Enabled
                  resourceState: Creating
                tags:
                  key1: value1
                  key2: value2
                type: Microsoft.Network/NetworkExperimentprofiles
            "201":
              body:
                id: /subscriptions/subid/resourceGroups/MyResourceGroup/providers/Microsoft.Network/NetworkExperimentProfiles/MyProfile
                location: WestUs
                name: MyProfile
                properties:
                  enabledState: Enabled
                  resourceState: Creating
                tags:
                  key1: value1
                  key2: value2
                type: Microsoft.Network/NetworkExperimentprofiles
            "202":
              body:
                id: /subscriptions/subid/resourceGroups/MyResourceGroup/providers/Microsoft.Network/NetworkExperimentProfiles/MyProfile
                location: WestUs
                name: MyProfile
                properties:
                  enabledState: Enabled
                  resourceState: Creating
                tags:
                  key1: value1
                  key2: value2
                type: Microsoft.Network/NetworkExperimentprofiles
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.network_experiment_profiles_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/NetworkExperimentProfiles/{profileName}/Experiments
  : get:
      operationId: experiments_list_by_profile
      parameters:
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 80
          minLength: 1
          pattern: "^[a-zA-Z0-9_\\-\\(\\)\\.]*[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Profile identifier associated with the Tenant and Partner
        in: path
        name: profile_name
        required: true
        schema:
          pattern: "^[a-zA-Z0-9_\\-\\(\\)\\.]*[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExperimentList'
          description: successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      summary: Gets a list of Experiments
      tags:
      - Experiments
      x-ms-examples:
        Gets a list of Experiments:
          parameters:
            api-version: 2019-11-01
            profileName: MyProfile
            resourceGroupName: MyResourceGroup
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subId/resourceGroups/MyResourceGroup/providers/Microsoft.Network/NetworkExperimentProfiles/MyProfile/Experiments
                  name: MyExperiment
                  properties:
                    description: this is my first experiment!
                    enabledState: Enabled
                    endpointA:
                      endpoint: endpointA.net
                      name: endpoint A
                    endpointB:
                      endpoint: endpointB.net
                      name: endpoint B
                    resourceState: Creating
                    scriptFileUri: www.myScript.com
                    status: ongoing
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.experiments_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/NetworkExperimentProfiles/{profileName}/Experiments/{experimentName}
  : delete:
      operationId: experiments_delete
      parameters:
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 80
          minLength: 1
          pattern: "^[a-zA-Z0-9_\\-\\(\\)\\.]*[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Profile identifier associated with the Tenant and Partner
        in: path
        name: profile_name
        required: true
        schema:
          pattern: "^[a-zA-Z0-9_\\-\\(\\)\\.]*[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Experiment identifier associated with the Experiment
        in: path
        name: experiment_name
        required: true
        schema:
          pattern: "^[a-zA-Z0-9_\\-\\(\\)\\.]*[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content: {}
          description: Delete successful.
        "202":
          content: {}
          description: Accepted. The request has been accepted for processing and
            the operation will complete asynchronously.
        "204":
          content: {}
          description: No Content. The request has been accepted but the policy was
            not found.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      summary: Deletes an Experiment
      tags:
      - Experiments
      x-ms-examples:
        Deletes an Experiment:
          parameters:
            api-version: 2019-11-01
            experimentName: MyExperiment
            profileName: MyProfile
            resourceGroupName: MyResourceGroup
            subscriptionId: subid
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.experiments_controller
    get:
      operationId: experiments_get
      parameters:
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 80
          minLength: 1
          pattern: "^[a-zA-Z0-9_\\-\\(\\)\\.]*[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Profile identifier associated with the Tenant and Partner
        in: path
        name: profile_name
        required: true
        schema:
          pattern: "^[a-zA-Z0-9_\\-\\(\\)\\.]*[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Experiment identifier associated with the Experiment
        in: path
        name: experimentName
        required: true
        schema:
          pattern: "^[a-zA-Z0-9_\\-\\(\\)\\.]*[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Experiment'
          description: successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      summary: Gets an Experiment by ExperimentName
      tags:
      - Experiments
      x-ms-examples:
        Gets an Experiment by ExperimentName:
          parameters:
            api-version: 2019-11-01
            experimentName: MyExperiment
            profileName: MyProfile
            resourceGroupName: MyResourceGroup
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/MyResourceGroup/providers/Microsoft.Network/NetworkExperimentProfiles/MyProfile/Experiments/MyExperiment
                location: WestUs
                name: MyExperiment
                properties:
                  description: this is my first experiment!
                  enabledState: Enabled
                  endpointA:
                    endpoint: endpointA.net
                    name: endpoint A
                  endpointB:
                    endpoint: endpointB.net
                    name: endpoint B
                  resourceState: Creating
                  scriptFileUri: www.myScript.com
                  status: ongoing
                tags:
                  key1: value1
                  key2: value2
      x-openapi-router-controller: openapi_server.controllers.experiments_controller
    patch:
      description: Updates an Experiment
      operationId: experiments_update
      parameters:
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 80
          minLength: 1
          pattern: "^[a-zA-Z0-9_\\-\\(\\)\\.]*[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Profile identifier associated with the Tenant and Partner
        in: path
        name: profile_name
        required: true
        schema:
          pattern: "^[a-zA-Z0-9_\\-\\(\\)\\.]*[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Experiment identifier associated with the Experiment
        in: path
        name: experiment_name
        required: true
        schema:
          pattern: "^[a-zA-Z0-9_\\-\\(\\)\\.]*[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExperimentUpdateModel'
        description: The Experiment Update Model
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Experiment'
          description: OK. successful operation
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Experiment'
          description: Accepted. The request has been accepted for processing and
            the operation will complete asynchronously.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      summary: Updates an Experiment by Experiment id
      tags:
      - Experiments
      x-ms-examples:
        Updates an Experiment:
          parameters:
            api-version: 2019-11-01
            experimentName: MyExperiment
            parameters:
              properties:
                description: string
                enabledState: Enabled
            profileName: MyProfile
            resourceGroupName: MyResourceGroup
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/MyResourceGroup/providers/Microsoft.Network/NetworkExperimentProfiles/MyProfile/Experiments/MyExperiment
                location: WestUs
                name: MyExperiment
                properties:
                  description: this is my first experiment!
                  enabledState: Enabled
                  endpointA:
                    endpoint: endpointA.net
                    name: endpoint A
                  endpointB:
                    endpoint: endpointB.net
                    name: endpoint B
                  resourceState: Creating
                  scriptFileUri: www.myScript.com
                  status: ongoing
                tags:
                  key1: value1
                  key2: value2
                type: Microsoft.Network/NetworkExperimentprofiles
            "202":
              body:
                id: /subscriptions/subid/resourceGroups/MyResourceGroup/providers/Microsoft.Network/NetworkExperimentProfiles/MyProfile/Experiments/MyExperiment
                location: WestUs
                name: MyExperiment
                properties:
                  description: this is my first experiment!
                  enabledState: Enabled
                  endpointA:
                    endpoint: endpointA.net
                    name: endpoint A
                  endpointB:
                    endpoint: endpointB.net
                    name: endpoint B
                  resourceState: Creating
                  scriptFileUri: www.myScript.com
                  status: ongoing
                tags:
                  key1: value1
                  key2: value2
                type: Microsoft.Network/NetworkExperimentprofiles
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.experiments_controller
    put:
      operationId: experiments_create_or_update
      parameters:
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 80
          minLength: 1
          pattern: "^[a-zA-Z0-9_\\-\\(\\)\\.]*[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Profile identifier associated with the Tenant and Partner
        in: path
        name: profile_name
        required: true
        schema:
          pattern: "^[a-zA-Z0-9_\\-\\(\\)\\.]*[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Experiment identifier associated with the Experiment
        in: path
        name: experiment_name
        required: true
        schema:
          pattern: "^[a-zA-Z0-9_\\-\\(\\)\\.]*[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Experiment'
        description: The Experiment resource
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Experiment'
          description: OK. The request has succeeded.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Experiment'
          description: Created. The request has been fulfilled and a new experiment
            has been created.
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Experiment'
          description: Accepted. The request has been accepted for processing and
            the operation will complete asynchronously.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      summary: Creates or updates an Experiment
      tags:
      - Experiments
      x-ms-examples:
        Creates an Experiment:
          parameters:
            api-version: 2019-11-01
            experimentName: MyExperiment
            parameters:
              properties:
                description: this is my first experiment!
                enabledState: Enabled
                endpointA:
                  endpoint: endpointA.net
                  name: endpoint A
                endpointB:
                  endpoint: endpointB.net
                  name: endpoint B
            profileName: MyProfile
            resourceGroupName: MyResourceGroup
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/MyResourceGroup/providers/Microsoft.Network/NetworkExperimentProfiles/MyProfile/Experiments/MyExperiment
                location: WestUs
                name: MyExperiment
                properties:
                  description: this is my first experiment!
                  enabledState: Enabled
                  endpointA:
                    endpoint: endpointA.net
                    name: endpoint A
                  endpointB:
                    endpoint: endpointB.net
                    name: endpoint B
                  resourceState: Creating
                  scriptFileUri: www.myScript.com
                  status: ongoing
                tags:
                  key1: value1
                  key2: value2
            "201":
              body:
                id: /subscriptions/subid/resourceGroups/MyResourceGroup/providers/Microsoft.Network/NetworkExperimentProfiles/MyProfile/Experiments/MyExperiment
                location: WestUs
                name: MyExperiment
                properties:
                  description: this is my first experiment!
                  enabledState: Enabled
                  endpointA:
                    endpoint: endpointA.net
                    name: endpoint A
                  endpointB:
                    endpoint: endpointB.net
                    name: endpoint B
                  resourceState: Creating
                  scriptFileUri: www.myScript.com
                  status: ongoing
                tags:
                  key1: value1
                  key2: value2
            "202":
              body:
                id: /subscriptions/subid/resourceGroups/MyResourceGroup/providers/Microsoft.Network/NetworkExperimentProfiles/MyProfile/Experiments/MyExperiment
                location: WestUs
                name: MyExperiment
                properties:
                  description: this is my first experiment!
                  enabledState: Enabled
                  endpointA:
                    endpoint: endpointA.net
                    name: endpoint A
                  endpointB:
                    endpoint: endpointB.net
                    name: endpoint B
                  resourceState: Creating
                  scriptFileUri: www.myScript.com
                  status: ongoing
                tags:
                  key1: value1
                  key2: value2
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.experiments_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/NetworkExperimentProfiles/{profileName}/Experiments/{experimentName}/LatencyScorecard
  : get:
      operationId: reports_get_latency_scorecards
      parameters:
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 80
          minLength: 1
          pattern: "^[a-zA-Z0-9_\\-\\(\\)\\.]*[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Profile identifier associated with the Tenant and Partner
        in: path
        name: profile_name
        required: true
        schema:
          pattern: "^[a-zA-Z0-9_\\-\\(\\)\\.]*[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Experiment identifier associated with the Experiment
        in: path
        name: experiment_name
        required: true
        schema:
          pattern: "^[a-zA-Z0-9_\\-\\(\\)\\.]*[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The end DateTime of the Latency Scorecard in UTC
        in: query
        name: endDateTimeUTC
        schema:
          type: string
      - description: The country associated with the Latency Scorecard. Values are
          country ISO codes as specified here- https://www.iso.org/iso-3166-country-codes.html
        in: query
        name: country
        schema:
          type: string
      - description: The aggregation interval of the Latency Scorecard
        in: query
        name: aggregationInterval
        required: true
        schema:
          enum:
          - Daily
          - Weekly
          - Monthly
          type: string
          x-ms-enum:
            modelAsString: true
            name: latencyScorecardAggregationInterval
        x-ms-enum:
          modelAsString: true
          name: latencyScorecardAggregationInterval
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LatencyScorecard'
          description: successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      summary: Gets a Latency Scorecard for a given Experiment
      tags:
      - Reports
      x-ms-examples:
        Gets a Latency Scorecard for a given Experiment:
          parameters:
            aggregationInterval: Daily
            api-version: 2019-11-01
            experimentName: MyExperiment
            profileName: MyProfile
            resourceGroupName: MyResourceGroup
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/MyResourceGroup/providers/Microsoft.Network/NetworkExperimentProfiles/MyProfile/Experiments/MyExperiment/LatencyScorecard
                name: DailyLatencyScorecard
                properties:
                  country: USA
                  description: "This scorecard is the latency scorecard, aggregated\
                    \ over a day"
                  endDateTimeUTC: 2019-09-21T17:32:28Z
                  endpointA: https://endpointA.com
                  endpointB: https://endpoingB.com
                  startDateTimeUTC: 2019-07-21T17:32:28Z
      x-openapi-router-controller: openapi_server.controllers.reports_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/NetworkExperimentProfiles/{profileName}/Experiments/{experimentName}/Timeseries
  : get:
      operationId: reports_get_timeseries
      parameters:
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 80
          minLength: 1
          pattern: "^[a-zA-Z0-9_\\-\\(\\)\\.]*[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Profile identifier associated with the Tenant and Partner
        in: path
        name: profile_name
        required: true
        schema:
          pattern: "^[a-zA-Z0-9_\\-\\(\\)\\.]*[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Experiment identifier associated with the Experiment
        in: path
        name: experiment_name
        required: true
        schema:
          pattern: "^[a-zA-Z0-9_\\-\\(\\)\\.]*[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The start DateTime of the Timeseries in UTC
        in: query
        name: startDateTimeUTC
        required: true
        schema:
          format: date-time
          type: string
      - description: The end DateTime of the Timeseries in UTC
        in: query
        name: endDateTimeUTC
        required: true
        schema:
          format: date-time
          type: string
      - description: The aggregation interval of the Timeseries
        in: query
        name: aggregationInterval
        required: true
        schema:
          enum:
          - Hourly
          - Daily
          type: string
          x-ms-enum:
            modelAsString: true
            name: timeseriesAggregationInterval
        x-ms-enum:
          modelAsString: true
          name: timeseriesAggregationInterval
      - description: The type of Timeseries
        in: query
        name: timeseriesType
        required: true
        schema:
          enum:
          - MeasurementCounts
          - LatencyP50
          - LatencyP75
          - LatencyP95
          type: string
          x-ms-enum:
            modelAsString: true
            name: timeseriesType
        x-ms-enum:
          modelAsString: true
          name: timeseriesType
      - description: The specific endpoint
        in: query
        name: endpoint
        schema:
          type: string
      - description: The country associated with the Timeseries. Values are country
          ISO codes as specified here- https://www.iso.org/iso-3166-country-codes.html
        in: query
        name: country
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Timeseries'
          description: successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      summary: Gets a Timeseries for a given Experiment
      tags:
      - Reports
      x-ms-examples:
        Gets a Timeseries for a given Experiment:
          parameters:
            aggregationInterval: Hourly
            api-version: 2019-11-01
            endDateTimeUTC: 2019-09-21T17:32:28Z
            experimentName: MyExperiment
            profileName: MyProfile
            resourceGroupName: MyResourceGroup
            startDateTimeUTC: 2019-07-21T17:32:28Z
            subscriptionId: subid
            timeseriesType: MeasurementCounts
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/MyResourceGroup/providers/Microsoft.Network/NetworkExperimentProfiles/MyProfile/Experiments/MyExperiment/Timeseries
                properties:
                  aggregationInterval: Hourly
                  country: United States
                  endDateTimeUTC: 2019-08-02
                  endpoint: https://endpointA.com
                  startDateTimeUTC: 2019-07-29
                  timeseriesData:
                  - dateTimeUTC: 2019-07-22T17:32:28Z
                    value: 79
                  timeseriesType: MeasurementCounts
      x-openapi-router-controller: openapi_server.controllers.reports_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/NetworkExperimentProfiles/{profileName}/PreconfiguredEndpoints
  : get:
      operationId: preconfigured_endpoints_list
      parameters:
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 80
          minLength: 1
          pattern: "^[a-zA-Z0-9_\\-\\(\\)\\.]*[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Profile identifier associated with the Tenant and Partner
        in: path
        name: profile_name
        required: true
        schema:
          pattern: "^[a-zA-Z0-9_\\-\\(\\)\\.]*[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreconfiguredEndpointList'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      summary: Gets a list of Preconfigured Endpoints
      tags:
      - PreconfiguredEndpoints
      x-ms-examples:
        Gets a list of Preconfigured Endpoints:
          parameters:
            api-version: 2019-11-01
            profileName: MyProfile
            resourceGroupName: MyResourceGroup
            subscriptionId: subid
          responses:
            "200":
              body:
                nextLink: string
                value:
                - name: Endpoint 1
                  properties:
                    backend: WESTUS
                    description: this is the endpoint 1 preconfigured endpoint.
                    endpoint: endpoint1.net
                    endpointType: AFD
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.preconfigured_endpoints_controller
components:
  parameters:
    ExperimentNameParameter:
      description: The Experiment identifier associated with the Experiment
      in: path
      name: experimentName
      required: true
      schema:
        pattern: "^[a-zA-Z0-9_\\-\\(\\)\\.]*[^\\.]$"
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ProfileNameParameter:
      description: The Profile identifier associated with the Tenant and Partner
      in: path
      name: profileName
      required: true
      schema:
        pattern: "^[a-zA-Z0-9_\\-\\(\\)\\.]*[^\\.]$"
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ResourceGroupNameParameter:
      description: Name of the Resource group within the Azure subscription.
      in: path
      name: resourceGroupName
      required: true
      schema:
        maxLength: 80
        minLength: 1
        pattern: "^[a-zA-Z0-9_\\-\\(\\)\\.]*[^\\.]$"
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  schemas:
    Endpoint:
      description: Defines the endpoint properties
      example:
        endpoint: endpoint
        name: name
      properties:
        endpoint:
          description: The endpoint URL
          title: endpoint
          type: string
        name:
          description: The name of the endpoint
          title: name
          type: string
      title: Endpoint
      type: object
    ErrorResponse:
      description: Error response indicates Front Door service is not able to process
        the incoming request. The reason is provided in the error message.
      example:
        code: code
        message: message
      properties:
        code:
          description: Error code.
          readOnly: true
          title: code
          type: string
        message:
          description: Error message indicating why the operation failed.
          readOnly: true
          title: message
          type: string
      title: ErrorResponse
      type: object
    Experiment:
      allOf:
      - description: Common resource representation.
        properties:
          id:
            description: Resource ID.
            readOnly: true
            type: string
          location:
            description: Resource location.
            type: string
          name:
            description: Resource name.
            readOnly: true
            type: string
          tags:
            additionalProperties:
              type: string
            description: Resource tags.
            type: object
          type:
            description: Resource type.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: Defines the properties of an Experiment
      example:
        name: name
        properties:
          endpointA:
            endpoint: endpoint
            name: name
          endpointB:
            endpoint: endpoint
            name: name
          enabledState: Enabled
          scriptFileUri: scriptFileUri
          description: description
          resourceState: Creating
          status: status
      properties:
        name:
          description: The name of the Experiment
          readOnly: true
          title: name
          type: string
        properties:
          $ref: '#/components/schemas/ExperimentProperties'
      title: Experiment
    ExperimentList:
      description: Defines a list of Experiments. It contains a list of Experiment
        objects and a URL link to get the next set of results.
      example:
        value:
        - name: name
          properties:
            endpointA:
              endpoint: endpoint
              name: name
            endpointB:
              endpoint: endpoint
              name: name
            enabledState: Enabled
            scriptFileUri: scriptFileUri
            description: description
            resourceState: Creating
            status: status
        - name: name
          properties:
            endpointA:
              endpoint: endpoint
              name: name
            endpointB:
              endpoint: endpoint
              name: name
            enabledState: Enabled
            scriptFileUri: scriptFileUri
            description: description
            resourceState: Creating
            status: status
        nextLink: nextLink
      properties:
        nextLink:
          description: URL to get the next set of Experiment objects if there are
            any.
          title: nextLink
          type: string
        value:
          description: List of Experiments within a resource group.
          items:
            $ref: '#/components/schemas/Experiment'
          readOnly: true
          title: value
          type: array
      title: ExperimentList
      type: object
    ExperimentProperties:
      description: Defines the properties of an experiment
      example:
        endpointA:
          endpoint: endpoint
          name: name
        endpointB:
          endpoint: endpoint
          name: name
        enabledState: Enabled
        scriptFileUri: scriptFileUri
        description: description
        resourceState: Creating
        status: status
      properties:
        description:
          description: The description of the details or intents of the Experiment
          title: description
          type: string
        enabledState:
          description: The state of the Experiment
          enum:
          - Enabled
          - Disabled
          title: enabledState
          type: string
          x-ms-enum:
            modelAsString: true
            name: state
        endpointA:
          $ref: '#/components/schemas/Endpoint'
        endpointB:
          $ref: '#/components/schemas/Endpoint'
        resourceState:
          $ref: '#/components/schemas/NetworkExperimentResourceState'
        scriptFileUri:
          description: The uri to the Script used in the Experiment
          readOnly: true
          title: scriptFileUri
          type: string
        status:
          description: The description of Experiment status from the server side
          readOnly: true
          title: status
          type: string
      title: ExperimentProperties
      type: object
    ExperimentUpdateModel:
      description: Defines modifiable attributes of an Experiment
      example:
        properties:
          enabledState: Enabled
          description: description
        tags:
          key: tags
      properties:
        properties:
          $ref: '#/components/schemas/ExperimentUpdateProperties'
        tags:
          additionalProperties:
            type: string
          description: Resource tags.
          title: tags
          type: object
      title: ExperimentUpdateModel
      type: object
    ExperimentUpdateProperties:
      description: Defines the properties of an experiment
      example:
        enabledState: Enabled
        description: description
      properties:
        description:
          description: The description of the intent or details of the Experiment
          title: description
          type: string
        enabledState:
          description: The state of the Experiment
          enum:
          - Enabled
          - Disabled
          title: enabledState
          type: string
          x-ms-enum:
            modelAsString: true
            name: state
      title: ExperimentUpdateProperties
      type: object
    LatencyMetric:
      description: Defines the properties of a latency metric used in the latency
        scorecard
      example:
        aCLower95CI: 0.8008281904610115
        delta: 7.061401241503109
        name: name
        bCLower95CI: 5.962133916683182
        bValue: 2.3021358869347655
        endDateTimeUTC: endDateTimeUTC
        bUpper95CI: 5.637376656633329
        aHUpper95CI: 6.027456183070403
        deltaPercent: 9.301444243932576
        aValue: 1.4658129805029452
      properties:
        aCLower95CI:
          description: The lower end of the 95% confidence interval for endpoint A
          readOnly: true
          title: aCLower95CI
          type: number
        aHUpper95CI:
          description: The upper end of the 95% confidence interval for endpoint A
          readOnly: true
          title: aHUpper95CI
          type: number
        aValue:
          description: The metric value of the A endpoint
          readOnly: true
          title: aValue
          type: number
        bCLower95CI:
          description: The lower end of the 95% confidence interval for endpoint B
          readOnly: true
          title: bCLower95CI
          type: number
        bUpper95CI:
          description: The upper end of the 95% confidence interval for endpoint B
          readOnly: true
          title: bUpper95CI
          type: number
        bValue:
          description: The metric value of the B endpoint
          readOnly: true
          title: bValue
          type: number
        delta:
          description: The difference in value between endpoint A and B
          readOnly: true
          title: delta
          type: number
        deltaPercent:
          description: The percent difference between endpoint A and B
          readOnly: true
          title: deltaPercent
          type: number
        endDateTimeUTC:
          description: The end time of the Latency Scorecard in UTC
          readOnly: true
          title: endDateTimeUTC
          type: string
        name:
          description: The name of the Latency Metric
          readOnly: true
          title: name
          type: string
      title: LatencyMetric
      type: object
    LatencyScorecard:
      allOf:
      - description: Common resource representation.
        properties:
          id:
            description: Resource ID.
            readOnly: true
            type: string
          location:
            description: Resource location.
            type: string
          name:
            description: Resource name.
            readOnly: true
            type: string
          tags:
            additionalProperties:
              type: string
            description: Resource tags.
            type: object
          type:
            description: Resource type.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: Defines the LatencyScorecard
      example:
        properties:
          endpointA: endpointA
          latencyMetrics:
          - aCLower95CI: 0.8008281904610115
            delta: 7.061401241503109
            name: name
            bCLower95CI: 5.962133916683182
            bValue: 2.3021358869347655
            endDateTimeUTC: endDateTimeUTC
            bUpper95CI: 5.637376656633329
            aHUpper95CI: 6.027456183070403
            deltaPercent: 9.301444243932576
            aValue: 1.4658129805029452
          - aCLower95CI: 0.8008281904610115
            delta: 7.061401241503109
            name: name
            bCLower95CI: 5.962133916683182
            bValue: 2.3021358869347655
            endDateTimeUTC: endDateTimeUTC
            bUpper95CI: 5.637376656633329
            aHUpper95CI: 6.027456183070403
            deltaPercent: 9.301444243932576
            aValue: 1.4658129805029452
          startDateTimeUTC: 2000-01-23T04:56:07.000+00:00
          country: country
          endpointB: endpointB
          name: name
          description: description
          endDateTimeUTC: 2000-01-23T04:56:07.000+00:00
          id: id
      properties:
        properties:
          $ref: '#/components/schemas/LatencyScorecardProperties'
      title: LatencyScorecard
    LatencyScorecardProperties:
      description: Defines a the properties of a Latency Scorecard
      example:
        endpointA: endpointA
        latencyMetrics:
        - aCLower95CI: 0.8008281904610115
          delta: 7.061401241503109
          name: name
          bCLower95CI: 5.962133916683182
          bValue: 2.3021358869347655
          endDateTimeUTC: endDateTimeUTC
          bUpper95CI: 5.637376656633329
          aHUpper95CI: 6.027456183070403
          deltaPercent: 9.301444243932576
          aValue: 1.4658129805029452
        - aCLower95CI: 0.8008281904610115
          delta: 7.061401241503109
          name: name
          bCLower95CI: 5.962133916683182
          bValue: 2.3021358869347655
          endDateTimeUTC: endDateTimeUTC
          bUpper95CI: 5.637376656633329
          aHUpper95CI: 6.027456183070403
          deltaPercent: 9.301444243932576
          aValue: 1.4658129805029452
        startDateTimeUTC: 2000-01-23T04:56:07.000+00:00
        country: country
        endpointB: endpointB
        name: name
        description: description
        endDateTimeUTC: 2000-01-23T04:56:07.000+00:00
        id: id
      properties:
        country:
          description: The country associated with the Latency Scorecard. Values are
            country ISO codes as specified here- https://www.iso.org/iso-3166-country-codes.html
          readOnly: true
          title: country
          type: string
        description:
          description: The description of the Latency Scorecard
          readOnly: true
          title: description
          type: string
        endDateTimeUTC:
          description: The end time of the Latency Scorecard in UTC
          format: date-time
          readOnly: true
          title: endDateTimeUTC
          type: string
        endpointA:
          description: The A endpoint in the scorecard
          readOnly: true
          title: endpointA
          type: string
        endpointB:
          description: The B endpoint in the scorecard
          readOnly: true
          title: endpointB
          type: string
        id:
          description: The unique identifier of the Latency Scorecard
          readOnly: true
          title: id
          type: string
        latencyMetrics:
          description: The latency metrics of the Latency Scorecard
          items:
            $ref: '#/components/schemas/LatencyMetric'
          title: latencyMetrics
          type: array
        name:
          description: The name of the Latency Scorecard
          readOnly: true
          title: name
          type: string
        startDateTimeUTC:
          description: The start time of the Latency Scorecard in UTC
          format: date-time
          readOnly: true
          title: startDateTimeUTC
          type: string
      title: LatencyScorecardProperties
      type: object
    NetworkExperimentResourceState:
      description: Defines the server side resource status
      enum:
      - Creating
      - Enabling
      - Enabled
      - Disabling
      - Disabled
      - Deleting
      title: NetworkExperimentResourceState
      type: string
      x-ms-enum:
        modelAsString: true
        name: NetworkExperimentResourceState
    PreconfiguredEndpoint:
      allOf:
      - description: Common resource representation.
        properties:
          id:
            description: Resource ID.
            readOnly: true
            type: string
          location:
            description: Resource location.
            type: string
          name:
            description: Resource name.
            readOnly: true
            type: string
          tags:
            additionalProperties:
              type: string
            description: Resource tags.
            type: object
          type:
            description: Resource type.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: Defines the properties of a preconfigured endpoint
      example:
        name: name
        properties:
          endpoint: endpoint
          endpointType: AFD
          description: description
          backend: backend
      properties:
        name:
          description: The name of the endpoint
          title: name
          type: string
        properties:
          $ref: '#/components/schemas/PreconfiguredEndpointProperties'
      title: PreconfiguredEndpoint
    PreconfiguredEndpointList:
      description: Defines a list of preconfigured endpoints.
      example:
        value:
        - name: name
          properties:
            endpoint: endpoint
            endpointType: AFD
            description: description
            backend: backend
        - name: name
          properties:
            endpoint: endpoint
            endpointType: AFD
            description: description
            backend: backend
        nextLink: nextLink
      properties:
        nextLink:
          description: URL to get the next set of PreconfiguredEndpoints if there
            are any.
          title: nextLink
          type: string
        value:
          description: List of PreconfiguredEndpoints supported by NetworkExperiment.
          items:
            $ref: '#/components/schemas/PreconfiguredEndpoint'
          readOnly: true
          title: value
          type: array
      title: PreconfiguredEndpointList
      type: object
    PreconfiguredEndpointProperties:
      description: Defines the properties of a preconfigured endpoint
      example:
        endpoint: endpoint
        endpointType: AFD
        description: description
        backend: backend
      properties:
        backend:
          description: The preconfigured endpoint backend
          title: backend
          type: string
        description:
          description: The description of the endpoint
          title: description
          type: string
        endpoint:
          description: The endpoint that is preconfigured
          title: endpoint
          type: string
        endpointType:
          description: The type of endpoint
          enum:
          - AFD
          - AzureRegion
          - CDN
          - ATM
          title: endpointType
          type: string
          x-ms-enum:
            modelAsString: true
            name: endpointType
      title: PreconfiguredEndpointProperties
      type: object
    Profile:
      allOf:
      - description: Common resource representation.
        properties:
          id:
            description: Resource ID.
            readOnly: true
            type: string
          location:
            description: Resource location.
            type: string
          name:
            description: Resource name.
            readOnly: true
            type: string
          tags:
            additionalProperties:
              type: string
            description: Resource tags.
            type: object
          type:
            description: Resource type.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: Defines an Network Experiment Profile and lists of Experiments
      example:
        name: name
        etag: etag
        properties:
          enabledState: Enabled
          resourceState: Creating
      properties:
        etag:
          description: Gets a unique read-only string that changes whenever the resource
            is updated.
          title: etag
          type: string
        name:
          description: The name of the Profile
          title: name
          type: string
        properties:
          $ref: '#/components/schemas/ProfileProperties'
      title: Profile
    ProfileList:
      description: Defines a list of Profiles. It contains a list of Profile objects
        and a URL link to get the next set of results.
      example:
        value:
        - name: name
          etag: etag
          properties:
            enabledState: Enabled
            resourceState: Creating
        - name: name
          etag: etag
          properties:
            enabledState: Enabled
            resourceState: Creating
        nextLink: nextLink
      properties:
        nextLink:
          description: URL to get the next set of Profile objects if there are any.
          title: nextLink
          type: string
        value:
          description: List of Profiles within a resource group.
          items:
            $ref: '#/components/schemas/Profile'
          readOnly: true
          title: value
          type: array
      title: ProfileList
      type: object
    ProfileProperties:
      description: Defines the properties of an experiment
      example:
        enabledState: Enabled
        resourceState: Creating
      properties:
        enabledState:
          description: The state of the Experiment
          enum:
          - Enabled
          - Disabled
          title: enabledState
          type: string
          x-ms-enum:
            modelAsString: true
            name: state
        resourceState:
          $ref: '#/components/schemas/NetworkExperimentResourceState'
      title: ProfileProperties
      type: object
    ProfileUpdateModel:
      description: Defines modifiable attributes of a Profile
      example:
        properties:
          enabledState: Enabled
        tags:
          key: tags
      properties:
        properties:
          $ref: '#/components/schemas/ProfileUpdateProperties'
        tags:
          additionalProperties:
            type: string
          description: Resource tags.
          title: tags
          type: object
      title: ProfileUpdateModel
      type: object
    ProfileUpdateProperties:
      description: Defines the properties of an experiment
      example:
        enabledState: Enabled
      properties:
        enabledState:
          description: The enabled state of the Profile
          enum:
          - Enabled
          - Disabled
          title: enabledState
          type: string
          x-ms-enum:
            modelAsString: true
            name: state
      title: ProfileUpdateProperties
      type: object
    Timeseries:
      allOf:
      - description: Common resource representation.
        properties:
          id:
            description: Resource ID.
            readOnly: true
            type: string
          location:
            description: Resource location.
            type: string
          name:
            description: Resource name.
            readOnly: true
            type: string
          tags:
            additionalProperties:
              type: string
            description: Resource tags.
            type: object
          type:
            description: Resource type.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: Defines the Timeseries
      example:
        properties:
          startDateTimeUTC: startDateTimeUTC
          aggregationInterval: Hourly
          country: country
          endpoint: endpoint
          timeseriesData:
          - dateTimeUTC: dateTimeUTC
            value: 0.8008281904610115
          - dateTimeUTC: dateTimeUTC
            value: 0.8008281904610115
          endDateTimeUTC: endDateTimeUTC
          timeseriesType: MeasurementCounts
      properties:
        properties:
          $ref: '#/components/schemas/TimeseriesProperties'
      title: Timeseries
    TimeseriesDataPoint:
      description: Defines a timeseries datapoint used in a timeseries
      example:
        dateTimeUTC: dateTimeUTC
        value: 0.8008281904610115
      properties:
        dateTimeUTC:
          description: The DateTime of the Timeseries data point in UTC
          title: dateTimeUTC
          type: string
        value:
          description: The Value of the Timeseries data point
          title: value
          type: number
      title: TimeseriesDataPoint
      type: object
    TimeseriesProperties:
      description: Defines the properties of a timeseries
      example:
        startDateTimeUTC: startDateTimeUTC
        aggregationInterval: Hourly
        country: country
        endpoint: endpoint
        timeseriesData:
        - dateTimeUTC: dateTimeUTC
          value: 0.8008281904610115
        - dateTimeUTC: dateTimeUTC
          value: 0.8008281904610115
        endDateTimeUTC: endDateTimeUTC
        timeseriesType: MeasurementCounts
      properties:
        aggregationInterval:
          description: The aggregation interval of the Timeseries
          enum:
          - Hourly
          - Daily
          title: aggregationInterval
          type: string
          x-ms-enum:
            modelAsString: true
            name: aggregationInterval
        country:
          description: The country associated with the Timeseries. Values are country
            ISO codes as specified here- https://www.iso.org/iso-3166-country-codes.html
          title: country
          type: string
        endDateTimeUTC:
          description: The end DateTime of the Timeseries in UTC
          title: endDateTimeUTC
          type: string
        endpoint:
          description: The endpoint associated with the Timeseries data point
          title: endpoint
          type: string
        startDateTimeUTC:
          description: The start DateTime of the Timeseries in UTC
          title: startDateTimeUTC
          type: string
        timeseriesData:
          description: The set of data points for the timeseries
          items:
            $ref: '#/components/schemas/TimeseriesDataPoint'
          title: timeseriesData
          type: array
        timeseriesType:
          description: The type of Timeseries
          enum:
          - MeasurementCounts
          - LatencyP50
          - LatencyP75
          - LatencyP95
          title: timeseriesType
          type: string
          x-ms-enum:
            modelAsString: true
            name: timeseriesType
      title: TimeseriesProperties
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
