openapi: 3.0.0
info:
  contact:
    name: Slack developer relations
    url: https://api.slack.com/support
  description: "One way to interact with the Slack platform is its HTTP RPC-based\
    \ Web API, a collection of methods requiring OAuth 2.0-based user, bot, or workspace\
    \ tokens blessed with related OAuth scopes."
  title: Slack Web API
  version: 1.7.0
  x-apisguru-categories:
  - collaboration
  - messaging
  x-logo:
    url: http://static.tumblr.com/wvuzcz9/LlKncfhmp/slack_logo_240.png
  x-origin:
  - format: openapi
    url: https://raw.githubusercontent.com/slackapi/slack-api-specs/master/web-api/slack_web_openapi_v2.json
    version: "3.0"
  x-providerName: slack.com
externalDocs:
  description: Learn more about the Slack Web API
  url: https://api.slack.com/web
servers:
- url: https://slack.com/api
paths:
  /admin.apps.approve:
    post:
      description: Approve an app for installation on a workspace.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.apps.approve
      operationId: admin_apps_approve
      parameters:
      - description: "Authentication token. Requires scope: `admin.apps:write`"
        explode: false
        in: header
        name: token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/admin_apps_approve_request'
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                $ref: '#/components/schemas/Default_success_template'
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: '#/components/schemas/Default_error_template'
          description: Typical error response
      security:
      - slackAuth:
        - admin.apps:write
      tags:
      - admin.apps
      - admin
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
  /admin.apps.approved.list:
    get:
      description: List approved apps for an org or workspace.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.apps.approved.list
      operationId: admin_apps_approved_list
      parameters:
      - description: "Authentication token. Requires scope: `admin.apps:read`"
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      - description: The maximum number of items to return. Must be between 1 - 1000
          both inclusive.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Set `cursor` to `next_cursor` returned by the previous call to
          list items in the next page
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: team_id
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: enterprise_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    approved_apps:
                    - app:
                        additional_info: ""
                        app_directory_url: https://myteam.enterprise.slack.com/apps/A0W7UKG8E-my-test-app
                        app_homepage_url: https://www.slack.com
                        description: test app
                        help_url: https://www.slack.com
                        icons:
                          image_1024: https://3026743124446w96_2bd4ea1ad1f89a23c242_1024.png
                          image_128: https://30267341249446w6_2bd4ea1ad1f89a23c242_128.png
                          image_192: https://30267431249446w6_2bd4ea1ad1f89a23c242_192.png
                          image_32: https://302674312496446w_2bd4ea1ad1f89a23c242_32.png
                          image_36: https://302674312496446w_2bd4ea1ad1f89a23c242_36.png
                          image_48: https://302674312496446w_2bd4ea1ad1f89a23c242_48.png
                          image_512: https://30267431249446w6_2bd4ea1ad1f89a23c242_512.png
                          image_64: https://302674312496446w_2bd4ea1ad1f89a23c242_64.png
                          image_72: https://302674312496446w_2bd4ea1ad1f89a23c242_72.png
                          image_96: https://302674312496446w_2bd4ea1ad1f89a23c242_96.png
                          image_original: https://302674446w12496_2bd4ea1ad1f89a23c242_original.png
                        id: A0W7UKG8E
                        is_app_directory_approved: false
                        is_internal: false
                        name: My Test App
                        privacy_policy_url: https://www.slack.com
                      date_updated: 1574296707
                      last_resolved_by:
                        actor_id: W0G82F4FD
                        actor_type: user
                      scopes:
                      - description: Add the ability for people to direct message
                          or mention @my_test_app
                        is_sensitive: true
                        name: bot
                        token_type: bot
                    ok: true
                    response_metadata:
                      next_cursor: ""
              schema:
                $ref: '#/components/schemas/Default_success_template'
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: '#/components/schemas/Default_error_template'
          description: Typical error response
      security:
      - slackAuth:
        - admin.apps:read
      tags:
      - admin.apps.approved
      - admin
      x-accepts:
      - application/json
  /admin.apps.requests.list:
    get:
      description: List app requests for a team/workspace.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.apps.requests.list
      operationId: admin_apps_requests_list
      parameters:
      - description: "Authentication token. Requires scope: `admin.apps:read`"
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      - description: The maximum number of items to return. Must be between 1 - 1000
          both inclusive.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Set `cursor` to `next_cursor` returned by the previous call to
          list items in the next page
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: team_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    app_requests:
                    - app:
                        additional_info: ""
                        app_directory_url: https://acmecorp.slack.com/apps/A061BL8RQ0-test-app
                        app_homepage_url: ""
                        description: ""
                        help_url: ""
                        icons:
                          image_1024: /cdn/15258203/img/testapp/service_1024.png
                          image_128: /cdn/157258203/img/testapp/service_128.png
                          image_192: /cdn/157258203/img/testapp/service_192.png
                          image_32: /cdn/157658203/img/testapp/service_32.png
                          image_36: /cdn/157658203/img/testapp/service_36.png
                          image_48: /cdn/157658203/img/testapp/service_48.png
                          image_512: /cdn/15758203/img/testapp/service_512.png
                          image_64: /cdn/157658203/img/testapp/service_64.png
                          image_72: /cdn/157658203/img/testapp/service_72.png
                          image_96: /cdn/157658203/img/testapp/service_96.png
                        id: A061BL8RQ0
                        is_app_directory_approved: true
                        is_internal: false
                        name: Test App
                        privacy_policy_url: https://testapp.com/privacy
                      date_created: 1578956327
                      id: Ar0XJGFLMLS
                      message: test test again
                      previous_resolution: null
                      scopes:
                      - description: Post messages to specific channels in Slack
                        is_sensitive: false
                        name: incoming-webhook
                        token_type: user
                      team:
                        domain: acmecorp
                        id: T0M94LNUCR
                        name: Acme Corp
                      user:
                        email: janedoe@example.com
                        id: W08RA9G5HR
                        name: Jane Doe
                    ok: true
                    response_metadata:
                      next_cursor: ""
              schema:
                $ref: '#/components/schemas/Default_success_template'
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: missing_scope
                    needed: admin.apps:read
                    ok: false
                    provided: "read,client,admin,identify,post,apps"
              schema:
                $ref: '#/components/schemas/Default_error_template'
          description: Typical error response
      security:
      - slackAuth:
        - admin.apps:read
      tags:
      - admin.apps.requests
      - admin
      x-accepts:
      - application/json
  /admin.apps.restrict:
    post:
      description: Restrict an app for installation on a workspace.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.apps.restrict
      operationId: admin_apps_restrict
      parameters:
      - description: "Authentication token. Requires scope: `admin.apps:write`"
        explode: false
        in: header
        name: token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/admin_apps_restrict_request'
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                $ref: '#/components/schemas/Default_success_template'
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: '#/components/schemas/Default_error_template'
          description: Typical error response
      security:
      - slackAuth:
        - admin.apps:write
      tags:
      - admin.apps
      - admin
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
  /admin.apps.restricted.list:
    get:
      description: List restricted apps for an org or workspace.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.apps.restricted.list
      operationId: admin_apps_restricted_list
      parameters:
      - description: "Authentication token. Requires scope: `admin.apps:read`"
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      - description: The maximum number of items to return. Must be between 1 - 1000
          both inclusive.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Set `cursor` to `next_cursor` returned by the previous call to
          list items in the next page
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: team_id
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: enterprise_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
                    response_metadata:
                      next_cursor: ""
                    restricted_apps:
                    - app:
                        additional_info: ""
                        app_directory_url: https://myteam.enterprise.slack.com/apps/A0FDLP8M2L-my-test-app
                        app_homepage_url: https://example.com
                        description: A fun test app for Slack
                        help_url: https://example.com
                        icons:
                          image_1024: https://1433265338rl878408_eb57dbc818daa4ba15d6_1024.png
                          image_128: https://4332653438rl87808_eb57dbc818daa4ba15d6_128.png
                          image_192: https://4332653438rl87808_eb57dbc818daa4ba15d6_192.png
                          image_32: https://143326534038rl8788_eb57dbc818daa4ba15d6_32.png
                          image_36: https://143326534038rl8788_eb57dbc818daa4ba15d6_36.png
                          image_48: https://143326534038rl8788_eb57dbc818daa4ba15d6_48.png
                          image_512: https://4332653438rl87808_eb57dbc818daa4ba15d6_512.png
                          image_64: https://143326534038rl8788_eb57dbc818daa4ba15d6_64.png
                          image_72: https://143326534038rl8788_eb57dbc818daa4ba15d6_72.png
                          image_96: https://143326534038rl8788_eb57dbc818daa4ba15d6_96.png
                          image_original: https://143338rl8782653408_eb57dbc818daa4ba15d6_original.png
                        id: A0FDLP8M2L
                        is_app_directory_approved: true
                        is_internal: false
                        name: My Test App
                        privacy_policy_url: https://example.com
                      date_updated: 1574296721
                      last_resolved_by:
                        actor_id: W0G82LMFD
                        actor_type: user
                      scopes:
                      - description: "Upload, edit, and delete files on the user‟\
                          s behalf"
                        is_sensitive: true
                        name: files:write:user
                        token_type: user
              schema:
                $ref: '#/components/schemas/Default_success_template'
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: '#/components/schemas/Default_error_template'
          description: Typical error response
      security:
      - slackAuth:
        - admin.apps:read
      tags:
      - admin.apps.restricted
      - admin
      x-accepts:
      - application/json
  /admin.conversations.archive:
    post:
      description: Archive a public or private channel.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.conversations.archive
      operationId: admin_conversations_archive
      parameters:
      - description: "Authentication token. Requires scope: `admin.conversations:write`"
        explode: false
        in: header
        name: token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/admin_conversations_archive_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                $ref: '#/components/schemas/admin_conversations_archive_schema'
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: '#/components/schemas/admin_conversations_archive_error_schema'
          description: Typical error response
      security:
      - slackAuth:
        - admin.conversations:write
      tags:
      - admin.conversations
      - admin
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
  /admin.conversations.convertToPrivate:
    post:
      description: Convert a public channel to a private channel.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.conversations.convertToPrivate
      operationId: admin_conversations_convertToPrivate
      parameters:
      - description: "Authentication token. Requires scope: `admin.conversations:write`"
        explode: false
        in: header
        name: token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/admin_conversations_convertToPrivate_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                $ref: '#/components/schemas/admin_conversations_convertToPrivate_schema'
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: '#/components/schemas/admin_conversations_convertToPrivate_error_schema'
          description: Typical error response
      security:
      - slackAuth:
        - admin.conversations:write
      tags:
      - admin.conversations
      - admin
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
  /admin.conversations.create:
    post:
      description: Create a public or private channel-based conversation.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.conversations.create
      operationId: admin_conversations_create
      parameters:
      - description: "Authentication token. Requires scope: `admin.conversations:write`"
        explode: false
        in: header
        name: token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/admin_conversations_create_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    channel_id: C12345
                    ok: true
              schema:
                $ref: '#/components/schemas/admin_conversations_create_schema'
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: '#/components/schemas/admin_conversations_create_error_schema'
          description: Typical error response
      security:
      - slackAuth:
        - admin.conversations:write
      tags:
      - admin.conversations
      - admin
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
  /admin.conversations.delete:
    post:
      description: Delete a public or private channel.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.conversations.delete
      operationId: admin_conversations_delete
      parameters:
      - description: "Authentication token. Requires scope: `admin.conversations:write`"
        explode: false
        in: header
        name: token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/admin_conversations_delete_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                $ref: '#/components/schemas/admin_conversations_delete_schema'
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: '#/components/schemas/admin_conversations_delete_error_schema'
          description: Typical error response
      security:
      - slackAuth:
        - admin.conversations:write
      tags:
      - admin.conversations
      - admin
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
  /admin.conversations.disconnectShared:
    post:
      description: Disconnect a connected channel from one or more workspaces.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.conversations.disconnectShared
      operationId: admin_conversations_disconnectShared
      parameters:
      - description: "Authentication token. Requires scope: `admin.conversations:write`"
        explode: false
        in: header
        name: token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/admin_conversations_disconnectShared_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                $ref: '#/components/schemas/admin_conversations_rename_schema'
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: '#/components/schemas/admin_conversations_disconnectShared_error_schema'
          description: Typical error response
      security:
      - slackAuth:
        - admin.conversations:write
      tags:
      - admin.conversations
      - admin
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
  /admin.conversations.ekm.listOriginalConnectedChannelInfo:
    get:
      description: "List all disconnected channels—i.e., channels that were once connected\
        \ to other workspaces and then disconnected—and the corresponding original\
        \ channel IDs for key revocation with EKM."
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.conversations.ekm.listOriginalConnectedChannelInfo
      operationId: admin_conversations_ekm_listOriginalConnectedChannelInfo
      parameters:
      - description: "Authentication token. Requires scope: `admin.conversations:read`"
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      - description: A comma-separated list of channels to filter to.
        explode: true
        in: query
        name: channel_ids
        required: false
        schema:
          type: string
        style: form
      - description: A comma-separated list of the workspaces to which the channels
          you would like returned belong.
        explode: true
        in: query
        name: team_ids
        required: false
        schema:
          type: string
        style: form
      - description: The maximum number of items to return. Must be between 1 - 1000
          both inclusive.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Set `cursor` to `next_cursor` returned by the previous call to
          list items in the next page.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    channels:
                    - id: string
                      internal_team_ids: array
                      original_connected_channel_id: string
                      original_connected_host_id: string
                    ok: true
              schema:
                $ref: '#/components/schemas/Default_success_template'
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: '#/components/schemas/Default_error_template'
          description: Typical error response
      security:
      - slackAuth:
        - admin.conversations:read
      tags:
      - admin.conversations.ekm
      - admin
      x-accepts:
      - application/json
  /admin.conversations.getConversationPrefs:
    get:
      description: Get conversation preferences for a public or private channel.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.conversations.getConversationPrefs
      operationId: admin_conversations_getConversationPrefs
      parameters:
      - description: "Authentication token. Requires scope: `admin.conversations:read`"
        explode: false
        in: header
        name: token
        required: true
        schema:
          type: string
        style: simple
      - description: The channel to get preferences for.
        explode: true
        in: query
        name: channel_id
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                $ref: '#/components/schemas/admin_conversations_getConversationPrefs_schema'
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: '#/components/schemas/admin_conversations_unarchive_error_schema'
          description: Typical error response
      security:
      - slackAuth:
        - admin.conversations:read
      tags:
      - admin.conversations
      - admin
      x-accepts:
      - application/json
  /admin.conversations.getTeams:
    get:
      description: Get all the workspaces a given public or private channel is connected
        to within this Enterprise org.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.conversations.getTeams
      operationId: admin_conversations_getTeams
      parameters:
      - description: "Authentication token. Requires scope: `admin.conversations:read`"
        explode: false
        in: header
        name: token
        required: true
        schema:
          type: string
        style: simple
      - description: The channel to determine connected workspaces within the organization
          for.
        explode: true
        in: query
        name: channel_id
        required: true
        schema:
          type: string
        style: form
      - description: Set `cursor` to `next_cursor` returned by the previous call to
          list items in the next page
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: The maximum number of items to return. Must be between 1 - 1000
          both inclusive.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
                    teams:
                    - T1234
                    - T5678
              schema:
                $ref: '#/components/schemas/admin_conversations_getTeams_schema'
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: '#/components/schemas/admin_conversations_getTeams_error_schema'
          description: Typical error response
      security:
      - slackAuth:
        - admin.conversations:read
      tags:
      - admin.conversations
      - admin
      x-accepts:
      - application/json
  /admin.conversations.invite:
    post:
      description: Invite a user to a public or private channel.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.conversations.invite
      operationId: admin_conversations_invite
      parameters:
      - description: "Authentication token. Requires scope: `admin.conversations:write`"
        explode: false
        in: header
        name: token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/admin_conversations_invite_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                $ref: '#/components/schemas/admin_conversations_invite_schema'
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: '#/components/schemas/admin_conversations_invite_error_schema'
          description: Typical error response
      security:
      - slackAuth:
        - admin.conversations:write
      tags:
      - admin.conversations
      - admin
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
  /admin.conversations.rename:
    post:
      description: Rename a public or private channel.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.conversations.rename
      operationId: admin_conversations_rename
      parameters:
      - description: "Authentication token. Requires scope: `admin.conversations:write`"
        explode: false
        in: header
        name: token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/admin_conversations_rename_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                $ref: '#/components/schemas/admin_conversations_rename_schema_1'
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: '#/components/schemas/admin_conversations_unarchive_error_schema_1'
          description: Typical error response
      security:
      - slackAuth:
        - admin.conversations:write
      tags:
      - admin.conversations
      - admin
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
  /admin.conversations.restrictAccess.addGroup:
    post:
      description: Add an allowlist of IDP groups for accessing a channel
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.conversations.restrictAccess.addGroup
      operationId: admin_conversations_restrictAccess_addGroup
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/admin_conversations_restrictAccess_addGroup_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                $ref: '#/components/schemas/Default_success_template'
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: '#/components/schemas/Default_error_template'
          description: Typical error response
      security:
      - slackAuth:
        - admin.conversations:write
      tags:
      - admin.conversations.restrictAccess
      - admin
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
  /admin.conversations.restrictAccess.listGroups:
    get:
      description: List all IDP Groups linked to a channel
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.conversations.restrictAccess.listGroups
      operationId: admin_conversations_restrictAccess_listGroups
      parameters:
      - description: "Authentication token. Requires scope: `admin.conversations:read`"
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: channel_id
        required: true
        schema:
          type: string
        style: form
      - description: "The workspace where the channel exists. This argument is required\
          \ for channels only tied to one workspace, and optional for channels that\
          \ are shared across an organization."
        explode: true
        in: query
        name: team_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    group_ids:
                    - YOUR_GROUP_ID
                    ok: true
              schema:
                $ref: '#/components/schemas/Default_success_template'
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: '#/components/schemas/Default_error_template'
          description: Typical error response
      security:
      - slackAuth:
        - admin.conversations:read
      tags:
      - admin.conversations.restrictAccess
      - admin
      x-accepts:
      - application/json
  /admin.conversations.restrictAccess.removeGroup:
    post:
      description: Remove a linked IDP group linked from a private channel
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.conversations.restrictAccess.removeGroup
      operationId: admin_conversations_restrictAccess_removeGroup
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/admin_conversations_restrictAccess_removeGroup_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                $ref: '#/components/schemas/Default_success_template'
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: '#/components/schemas/Default_error_template'
          description: Typical error response
      security:
      - slackAuth:
        - admin.conversations:write
      tags:
      - admin.conversations.restrictAccess
      - admin
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
  /admin.conversations.search:
    get:
      description: Search for public or private channels in an Enterprise organization.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.conversations.search
      operationId: admin_conversations_search
      parameters:
      - description: "Authentication token. Requires scope: `admin.conversations:read`"
        explode: false
        in: header
        name: token
        required: true
        schema:
          type: string
        style: simple
      - description: "Comma separated string of team IDs, signifying the workspaces\
          \ to search through."
        explode: true
        in: query
        name: team_ids
        required: false
        schema:
          type: string
        style: form
      - description: Name of the the channel to query by.
        explode: true
        in: query
        name: query
        required: false
        schema:
          type: string
        style: form
      - description: Maximum number of items to be returned. Must be between 1 - 20
          both inclusive. Default is 10.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Set `cursor` to `next_cursor` returned by the previous call to
          list items in the next page.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: "The type of channel to include or exclude in the search. For\
          \ example `private` will search private channels, while `private_exclude`\
          \ will exclude them. For a full list of types, check the [Types section](#types)."
        explode: true
        in: query
        name: search_channel_types
        required: false
        schema:
          type: string
        style: form
      - description: "Possible values are `relevant` (search ranking based on what\
          \ we think is closest), `name` (alphabetical), `member_count` (number of\
          \ users in the channel), and `created` (date channel was created). You can\
          \ optionally pair this with the `sort_dir` arg to change how it is sorted "
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - description: "Sort direction. Possible values are `asc` for ascending order\
          \ like (1, 2, 3) or (a, b, c), and `desc` for descending order like (3,\
          \ 2, 1) or (c, b, a)"
        explode: true
        in: query
        name: sort_dir
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    channels:
                    - created: 1449252889
                      creator: U012A3CDE
                      id: C012AB3CD
                      is_archived: false
                      is_channel: true
                      is_ext_shared: false
                      is_general: true
                      is_group: false
                      is_im: false
                      is_member: true
                      is_mpim: false
                      is_org_shared: false
                      is_pending_ext_shared: false
                      is_private: false
                      is_shared: false
                      name: general
                      name_normalized: general
                      num_members: 4
                      pending_shared: []
                      previous_names: []
                      purpose:
                        creator: ""
                        last_set: 0
                        value: This channel is for team-wide communication and announcements.
                          All team members are in this channel.
                      topic:
                        creator: ""
                        last_set: 0
                        value: Company-wide announcements and work-based matters
                      unlinked: 0
                    ok: true
                    response_metadata:
                      next_cursor: dGVhbTpDMDYxRkE1UEI=
              schema:
                $ref: '#/components/schemas/admin_conversations_search_schema'
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: not_an_enterprise
                    ok: false
              schema:
                $ref: '#/components/schemas/admin_conversations_search_error_schema'
          description: Typical error response
      security:
      - slackAuth:
        - admin.conversations:read
      tags:
      - admin.conversations
      - admin
      x-accepts:
      - application/json
  /admin.conversations.setConversationPrefs:
    post:
      description: Set the posting permissions for a public or private channel.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.conversations.setConversationPrefs
      operationId: admin_conversations_setConversationPrefs
      parameters:
      - description: "Authentication token. Requires scope: `admin.conversations:write`"
        explode: false
        in: header
        name: token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/admin_conversations_setConversationPrefs_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                $ref: '#/components/schemas/admin_conversations_setConversationPrefs_schema'
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: '#/components/schemas/admin_conversations_setConversationPrefs_error_schema'
          description: Typical error response
      security:
      - slackAuth:
        - admin.conversations:write
      tags:
      - admin.conversations
      - admin
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
  /admin.conversations.setTeams:
    post:
      description: Set the workspaces in an Enterprise grid org that connect to a
        public or private channel.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.conversations.setTeams
      operationId: admin_conversations_setTeams
      parameters:
      - description: "Authentication token. Requires scope: `admin.conversations:write`"
        explode: false
        in: header
        name: token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/admin_conversations_setTeams_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                $ref: '#/components/schemas/Default_success_template'
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: '#/components/schemas/Default_error_template'
          description: Typical error response
      security:
      - slackAuth:
        - admin.conversations:write
      tags:
      - admin.conversations
      - admin
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
  /admin.conversations.unarchive:
    post:
      description: Unarchive a public or private channel.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.conversations.unarchive
      operationId: admin_conversations_unarchive
      parameters:
      - description: "Authentication token. Requires scope: `admin.conversations:write`"
        explode: false
        in: header
        name: token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/admin_conversations_unarchive_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                $ref: '#/components/schemas/admin_conversations_unarchive_schema'
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: '#/components/schemas/admin_conversations_unarchive_error_schema_2'
          description: Typical error response
      security:
      - slackAuth:
        - admin.conversations:write
      tags:
      - admin.conversations
      - admin
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
  /admin.emoji.add:
    post:
      description: Add an emoji.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.emoji.add
      operationId: admin_emoji_add
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/admin_emoji_add_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                $ref: '#/components/schemas/Default_success_template'
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: '#/components/schemas/Default_error_template'
          description: Typical error response
      security:
      - slackAuth:
        - admin.teams:write
      tags:
      - admin.emoji
      - admin
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
  /admin.emoji.addAlias:
    post:
      description: Add an emoji alias.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.emoji.addAlias
      operationId: admin_emoji_addAlias
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/admin_emoji_addAlias_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                $ref: '#/components/schemas/Default_success_template'
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: '#/components/schemas/Default_error_template'
          description: Typical error response
      security:
      - slackAuth:
        - admin.teams:write
      tags:
      - admin.emoji
      - admin
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
  /admin.emoji.list:
    get:
      description: List emoji for an Enterprise Grid organization.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.emoji.list
      operationId: admin_emoji_list
      parameters:
      - description: "Authentication token. Requires scope: `admin.teams:read`"
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      - description: Set `cursor` to `next_cursor` returned by the previous call to
          list items in the next page
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: The maximum number of items to return. Must be between 1 - 1000
          both inclusive.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    cache_ts: "1575283387.000000"
                    categories:
                    - emoji_names:
                      - grinning
                      - grin
                      - joy
                      - etc etc ...
                      name: Smileys & People
                    categories_version: "5"
                    emoji:
                      black_square: alias:black_large_square
                      bowtie: https://emoji.slack-edge.com/T9TK3CUKW/bowtie/f3ec6f2bb0.png
                      cubimal_chick: https://emoji.slack-edge.com/T9TK3CUKW/cubimal_chick/85961c43d7.png
                      dusty_stick: https://emoji.slack-edge.com/T9TK3CUKW/dusty_stick/6177a62312.png
                      glitch_crab: https://emoji.slack-edge.com/T9TK3CUKW/glitch_crab/db049f1f9c.png
                      piggy: https://emoji.slack-edge.com/T9TK3CUKW/piggy/b7762ee8cd.png
                      pride: https://emoji.slack-edge.com/T9TK3CUKW/pride/56b1bd3388.png
                      shipit: alias:squirrel
                      simple_smile:
                        apple: https://a.slack-edge.com/80588/img/emoji_2017_12_06/apple/simple_smile.png
                        google: https://a.slack-edge.com/80588/img/emoji_2017_12_06/google/simple_smile.png
                      slack: https://emoji.slack-edge.com/T9TK3CUKW/slack/7d462d2443.png
                      slack_call: https://emoji.slack-edge.com/T9TK3CUKW/slack_call/b81fffd6dd.png
                      squirrel: https://emoji.slack-edge.com/T9TK3CUKW/squirrel/465f40c0e0.png
                      thumbsup_all: https://emoji.slack-edge.com/T9TK3CUKW/thumbsup_all/50096a1020.gif
                      white_square: alias:white_large_square
                    ok: true
              schema:
                $ref: '#/components/schemas/Default_success_template'
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: '#/components/schemas/Default_error_template'
          description: Typical error response
      security:
      - slackAuth:
        - admin.teams:read
      tags:
      - admin.emoji
      - admin
      x-accepts:
      - application/json
  /admin.emoji.remove:
    post:
      description: Remove an emoji across an Enterprise Grid organization
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.emoji.remove
      operationId: admin_emoji_remove
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/admin_emoji_remove_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                $ref: '#/components/schemas/Default_success_template'
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: '#/components/schemas/Default_error_template'
          description: Typical error response
      security:
      - slackAuth:
        - admin.teams:write
      tags:
      - admin.emoji
      - admin
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
  /admin.emoji.rename:
    post:
      description: Rename an emoji.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.emoji.rename
      operationId: admin_emoji_rename
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/admin_emoji_rename_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                $ref: '#/components/schemas/Default_success_template'
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: '#/components/schemas/Default_error_template'
          description: Typical error response
      security:
      - slackAuth:
        - admin.teams:write
      tags:
      - admin.emoji
      - admin
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
  /admin.inviteRequests.approve:
    post:
      description: Approve a workspace invite request.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.inviteRequests.approve
      operationId: admin_inviteRequests_approve
      parameters:
      - description: "Authentication token. Requires scope: `admin.invites:write`"
        explode: false
        in: header
        name: token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/admin_inviteRequests_approve'
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                $ref: '#/components/schemas/Default_success_template'
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: '#/components/schemas/Default_error_template'
          description: Typical error response
      security:
      - slackAuth:
        - admin.invites:write
      tags:
      - admin.inviteRequests
      - admin
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
  /admin.inviteRequests.approved.list:
    get:
      description: List all approved workspace invite requests.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.inviteRequests.approved.list
      operationId: admin_inviteRequests_approved_list
      parameters:
      - description: "Authentication token. Requires scope: `admin.invites:read`"
        explode: false
        in: header
        name: token
        required: true
        schema:
          type: string
        style: simple
      - description: ID for the workspace where the invite requests were made.
        explode: true
        in: query
        name: team_id
        required: false
        schema:
          type: string
        style: form
      - description: Value of the `next_cursor` field sent as part of the previous
          API response
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: "The number of results that will be returned by the API on each\
          \ invocation. Must be between 1 - 1000, both inclusive"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                $ref: '#/components/schemas/Default_success_template'
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: '#/components/schemas/Default_error_template'
          description: Typical error response
      security:
      - slackAuth:
        - admin.invites:read
      tags:
      - admin.inviteRequests.approved
      - admin
      x-accepts:
      - application/json
  /admin.inviteRequests.denied.list:
    get:
      description: List all denied workspace invite requests.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.inviteRequests.denied.list
      operationId: admin_inviteRequests_denied_list
      parameters:
      - description: "Authentication token. Requires scope: `admin.invites:read`"
        explode: false
        in: header
        name: token
        required: true
        schema:
          type: string
        style: simple
      - description: ID for the workspace where the invite requests were made.
        explode: true
        in: query
        name: team_id
        required: false
        schema:
          type: string
        style: form
      - description: Value of the `next_cursor` field sent as part of the previous
          api response
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: The number of results that will be returned by the API on each
          invocation. Must be between 1 - 1000 both inclusive
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                $ref: '#/components/schemas/Default_success_template'
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: '#/components/schemas/Default_error_template'
          description: Typical error response
      security:
      - slackAuth:
        - admin.invites:read
      tags:
      - admin.inviteRequests.denied
      - admin
      x-accepts:
      - application/json
  /admin.inviteRequests.deny:
    post:
      description: Deny a workspace invite request.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.inviteRequests.deny
      operationId: admin_inviteRequests_deny
      parameters:
      - description: "Authentication token. Requires scope: `admin.invites:write`"
        explode: false
        in: header
        name: token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/admin_inviteRequests_approve'
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                $ref: '#/components/schemas/Default_success_template'
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: '#/components/schemas/Default_error_template'
          description: Typical error response
      security:
      - slackAuth:
        - admin.invites:write
      tags:
      - admin.inviteRequests
      - admin
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
  /admin.inviteRequests.list:
    get:
      description: List all pending workspace invite requests.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.inviteRequests.list
      operationId: admin_inviteRequests_list
      parameters:
      - description: "Authentication token. Requires scope: `admin.invites:read`"
        explode: false
        in: header
        name: token
        required: true
        schema:
          type: string
        style: simple
      - description: ID for the workspace where the invite requests were made.
        explode: true
        in: query
        name: team_id
        required: false
        schema:
          type: string
        style: form
      - description: Value of the `next_cursor` field sent as part of the previous
          API response
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: "The number of results that will be returned by the API on each\
          \ invocation. Must be between 1 - 1000, both inclusive"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                $ref: '#/components/schemas/Default_success_template'
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: '#/components/schemas/Default_error_template'
          description: Typical error response
      security:
      - slackAuth:
        - admin.invites:read
      tags:
      - admin.inviteRequests
      - admin
      x-accepts:
      - application/json
  /admin.teams.admins.list:
    get:
      description: List all of the admins on a given workspace.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.teams.admins.list
      operationId: admin_teams_admins_list
      parameters:
      - description: "Authentication token. Requires scope: `admin.teams:read`"
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      - description: The maximum number of items to return.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Set `cursor` to `next_cursor` returned by the previous call to
          list items in the next page.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: team_id
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    admin_ids:
                    - U1234
                    ok: true
              schema:
                $ref: '#/components/schemas/Default_success_template'
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: '#/components/schemas/Default_error_template'
          description: Typical error response
      security:
      - slackAuth:
        - admin.teams:read
      tags:
      - admin.teams.admins
      - admin
      x-accepts:
      - application/json
  /admin.teams.create:
    post:
      description: Create an Enterprise team.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.teams.create
      operationId: admin_teams_create
      parameters:
      - description: "Authentication token. Requires scope: `admin.teams:write`"
        explode: false
        in: header
        name: token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/admin_teams_create_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
                    team: T12345
              schema:
                $ref: '#/components/schemas/Default_success_template'
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: '#/components/schemas/Default_error_template'
          description: Typical error response
      security:
      - slackAuth:
        - admin.teams:write
      tags:
      - admin.teams
      - admin
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
  /admin.teams.list:
    get:
      description: List all teams on an Enterprise organization
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.teams.list
      operationId: admin_teams_list
      parameters:
      - description: "Authentication token. Requires scope: `admin.teams:read`"
        explode: false
        in: header
        name: token
        required: true
        schema:
          type: string
        style: simple
      - description: The maximum number of items to return. Must be between 1 - 100
          both inclusive.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Set `cursor` to `next_cursor` returned by the previous call to
          list items in the next page.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
                    teams:
                    - discoverability: hidden
                      id: T1234
                      name: My Team
                      primary_owner:
                        email: bront@slack.com
                        user_id: W1234
                      team_url: https://subarachnoid.slack.com/
              schema:
                $ref: '#/components/schemas/Default_success_template'
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: '#/components/schemas/Default_error_template'
          description: Typical error response
      security:
      - slackAuth:
        - admin.teams:read
      tags:
      - admin.teams
      - admin
      x-accepts:
      - application/json
  /admin.teams.owners.list:
    get:
      description: List all of the owners on a given workspace.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.teams.owners.list
      operationId: admin_teams_owners_list
      parameters:
      - description: "Authentication token. Requires scope: `admin.teams:read`"
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: team_id
        required: true
        schema:
          type: string
        style: form
      - description: The maximum number of items to return. Must be between 1 - 1000
          both inclusive.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Set `cursor` to `next_cursor` returned by the previous call to
          list items in the next page.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
                    owner_ids:
                    - U1234
              schema:
                $ref: '#/components/schemas/Default_success_template'
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: '#/components/schemas/Default_error_template'
          description: Typical error response
      security:
      - slackAuth:
        - admin.teams:read
      tags:
      - admin.teams.owners
      - admin
      x-accepts:
      - application/json
  /admin.teams.settings.info:
    get:
      description: Fetch information about settings in a workspace
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.teams.settings.info
      operationId: admin_teams_settings_info
      parameters:
      - description: "Authentication token. Requires scope: `admin.teams:read`"
        explode: false
        in: header
        name: token
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: team_id
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
                    team:
                      default_channels: array
                      domain: string
                      email_domain: string
                      enterprise_id: string
                      enterprise_name: string
                      icon: array
                      id: string
                      name: string
              schema:
                $ref: '#/components/schemas/Default_success_template'
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: '#/components/schemas/Default_error_template'
          description: Typical error response
      security:
      - slackAuth:
        - admin.teams:read
      tags:
      - admin.teams.settings
      - admin
      x-accepts:
      - application/json
  /admin.teams.settings.setDefaultChannels:
    post:
      description: Set the default channels of a workspace.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.teams.settings.setDefaultChannels
      operationId: admin_teams_settings_setDefaultChannels
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/admin_teams_settings_setDefaultChannels_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                $ref: '#/components/schemas/Default_success_template'
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: '#/components/schemas/Default_error_template'
          description: Typical error response
      security:
      - slackAuth:
        - admin.teams:write
      tags:
      - admin.teams.settings
      - admin
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
  /admin.teams.settings.setDescription:
    post:
      description: Set the description of a given workspace.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.teams.settings.setDescription
      operationId: admin_teams_settings_setDescription
      parameters:
      - description: "Authentication token. Requires scope: `admin.teams:write`"
        explode: false
        in: header
        name: token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/admin_teams_settings_setDescription_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                $ref: '#/components/schemas/Default_success_template'
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: '#/components/schemas/Default_error_template'
          description: Typical error response
      security:
      - slackAuth:
        - admin.teams:write
      tags:
      - admin.teams.settings
      - admin
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
  /admin.teams.settings.setDiscoverability:
    post:
      description: An API method that allows admins to set the discoverability of
        a given workspace
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.teams.settings.setDiscoverability
      operationId: admin_teams_settings_setDiscoverability
      parameters:
      - description: "Authentication token. Requires scope: `admin.teams:write`"
        explode: false
        in: header
        name: token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/admin_teams_settings_setDiscoverability_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                $ref: '#/components/schemas/Default_success_template'
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: '#/components/schemas/Default_error_template'
          description: Typical error response
      security:
      - slackAuth:
        - admin.teams:write
      tags:
      - admin.teams.settings
      - admin
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
  /admin.teams.settings.setIcon:
    post:
      description: Sets the icon of a workspace.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.teams.settings.setIcon
      operationId: admin_teams_settings_setIcon
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/admin_teams_settings_setIcon_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                $ref: '#/components/schemas/Default_success_template'
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: '#/components/schemas/Default_error_template'
          description: Typical error response
      security:
      - slackAuth:
        - admin.teams:write
      tags:
      - admin.teams.settings
      - admin
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
  /admin.teams.settings.setName:
    post:
      description: Set the name of a given workspace.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.teams.settings.setName
      operationId: admin_teams_settings_setName
      parameters:
      - description: "Authentication token. Requires scope: `admin.teams:write`"
        explode: false
        in: header
        name: token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/admin_teams_settings_setName_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                $ref: '#/components/schemas/Default_success_template'
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: '#/components/schemas/Default_error_template'
          description: Typical error response
      security:
      - slackAuth:
        - admin.teams:write
      tags:
      - admin.teams.settings
      - admin
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
  /admin.usergroups.addChannels:
    post:
      description: Add one or more default channels to an IDP group.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.usergroups.addChannels
      operationId: admin_usergroups_addChannels
      parameters:
      - description: "Authentication token. Requires scope: `admin.usergroups:write`"
        explode: false
        in: header
        name: token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/admin_usergroups_addChannels_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                $ref: '#/components/schemas/Default_success_template'
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: not_an_admin
                    ok: false
              schema:
                $ref: '#/components/schemas/Default_error_template'
          description: Typical error response if the token provided is not associated
            with an Org Admin or Owner
      security:
      - slackAuth:
        - admin.usergroups:write
      tags:
      - admin.usergroups
      - admin
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
  /admin.usergroups.addTeams:
    post:
      description: Associate one or more default workspaces with an organization-wide
        IDP group.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.usergroups.addTeams
      operationId: admin_usergroups_addTeams
      parameters:
      - description: "Authentication token. Requires scope: `admin.teams:write`"
        explode: false
        in: header
        name: token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/admin_usergroups_addTeams_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                $ref: '#/components/schemas/Default_success_template'
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: '#/components/schemas/Default_error_template'
          description: Typical error response
      security:
      - slackAuth:
        - admin.teams:write
      tags:
      - admin.usergroups
      - admin
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
  /admin.usergroups.listChannels:
    get:
      description: List the channels linked to an org-level IDP group (user group).
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.usergroups.listChannels
      operationId: admin_usergroups_listChannels
      parameters:
      - description: "Authentication token. Requires scope: `admin.usergroups:read`"
        explode: false
        in: header
        name: token
        required: true
        schema:
          type: string
        style: simple
      - description: ID of the IDP group to list default channels for.
        explode: true
        in: query
        name: usergroup_id
        required: true
        schema:
          type: string
        style: form
      - description: ID of the the workspace.
        explode: true
        in: query
        name: team_id
        required: false
        schema:
          type: string
        style: form
      - description: Flag to include or exclude the count of members per channel.
        explode: true
        in: query
        name: include_num_members
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    channels:
                    - id: C024BE91L
                      name: fun
                      num_members: 34
                      team_id: T024BE911
                    - id: C024BE91K
                      name: more fun
                      team_id: T024BE912
                    - id: C024BE91M
                      is_redacted: true
                      name: public-channel
                      num_members: 34
                      team_id: T024BE911
                    - id: C024BE91N
                      name: some more fun
                      team_id: T024BE921
                    ok: true
              schema:
                $ref: '#/components/schemas/Default_success_template'
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: not_an_admin
                    ok: false
              schema:
                $ref: '#/components/schemas/Default_error_template'
          description: Typical error response if the token provided is not associated
            with an Org Admin or Owner
      security:
      - slackAuth:
        - admin.usergroups:read
      tags:
      - admin.usergroups
      - admin
      x-accepts:
      - application/json
  /admin.usergroups.removeChannels:
    post:
      description: Remove one or more default channels from an org-level IDP group
        (user group).
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.usergroups.removeChannels
      operationId: admin_usergroups_removeChannels
      parameters:
      - description: "Authentication token. Requires scope: `admin.usergroups:write`"
        explode: false
        in: header
        name: token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/admin_usergroups_removeChannels_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                $ref: '#/components/schemas/Default_success_template'
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: not_an_admin
                    ok: false
              schema:
                $ref: '#/components/schemas/Default_error_template'
          description: Typical error response if the token provided is not associated
            with an Org Admin or Owner
      security:
      - slackAuth:
        - admin.usergroups:write
      tags:
      - admin.usergroups
      - admin
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
  /admin.users.assign:
    post:
      description: Add an Enterprise user to a workspace.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.users.assign
      operationId: admin_users_assign
      parameters:
      - description: "Authentication token. Requires scope: `admin.users:write`"
        explode: false
        in: header
        name: token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/admin_users_assign_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                $ref: '#/components/schemas/Default_success_template'
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: '#/components/schemas/Default_error_template'
          description: Typical error response
      security:
      - slackAuth:
        - admin.users:write
      tags:
      - admin.users
      - admin
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
  /admin.users.invite:
    post:
      description: Invite a user to a workspace.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.users.invite
      operationId: admin_users_invite
      parameters:
      - description: "Authentication token. Requires scope: `admin.users:write`"
        explode: false
        in: header
        name: token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/admin_users_invite_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                $ref: '#/components/schemas/Default_success_template'
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: '#/components/schemas/Default_error_template'
          description: Typical error response
      security:
      - slackAuth:
        - admin.users:write
      tags:
      - admin.users
      - admin
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
  /admin.users.list:
    get:
      description: List users on a workspace
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.users.list
      operationId: admin_users_list
      parameters:
      - description: "Authentication token. Requires scope: `admin.users:read`"
        explode: false
        in: header
        name: token
        required: true
        schema:
          type: string
        style: simple
      - description: The ID (`T1234`) of the workspace.
        explode: true
        in: query
        name: team_id
        required: true
        schema:
          type: string
        style: form
      - description: Set `cursor` to `next_cursor` returned by the previous call to
          list items in the next page.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Limit for how many users to be retrieved per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
                    users:
                    - email: bront@slack.com
                      id: T1234
                      is_admin: false
                      is_bot: false
                      is_owner: false
                      is_primary_owner: false
                      is_restricted: false
                      is_ultra_restricted: false
              schema:
                $ref: '#/components/schemas/Default_success_template'
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: '#/components/schemas/Default_error_template'
          description: Typical error response
      security:
      - slackAuth:
        - admin.users:read
      tags:
[...]
