openapi: 3.0.1
info:
  description: "The Azure Management Groups API enables consolidation of multiple\
    \ \nsubscriptions/resources into an organizational hierarchy and centrally \n\
    manage access control, policies, alerting and reporting for those resources.\n"
  title: Management Groups
  version: 2017-11-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/managementgroups/resource-manager/Microsoft.Management/preview/2017-11-01-preview/management.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: managementgroups-management
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
tags:
- description: "A Management Group is a customer defined scope (grouping mechanism)\
    \ that \nprovides access control (authorization), policy management and reporting.\
    \ \nManagement Groups are organized in a strictly tree-based hierarchy.\n"
  name: ManagementGroups
- description: |
    Management operations supported by the Microsoft.Management resource provider.
  name: Operations
paths:
  /providers/Microsoft.Management/managementGroups:
    get:
      description: |
        List management groups for the authenticated user.
      operationId: management_groups_list
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2017-11-01-preview.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Indicates that the request shouldn't utilize any caches.
        in: header
        name: Cache-Control
        schema:
          default: no-cache
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "Page continuation token is only used if a previous operation\
          \ returned a partial result. \nIf a previous response contains a nextLink\
          \ element, the value of the nextLink element will include a token parameter\
          \ that specifies a starting point to use for subsequent calls.\n"
        in: query
        name: $skiptoken
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementGroupListResult'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error
      tags:
      - ManagementGroups
      x-ms-examples:
        GetManagementGroups:
          parameters:
            api-version: 2017-11-01-preview
          responses:
            "200":
              body:
                value:
                - id: /providers/Microsoft.Management/managementGroups/00000000-0000-0000-0000-000000000001
                  name: 00000000-0000-0000-0000-000000000001
                  properties:
                    displayName: Group Name 1
                    tenantId: 00000000-0000-0000-0000-000000000000
                  type: /providers/Microsoft.Management/managementGroups
                - id: /providers/Microsoft.Management/managementGroups/00000000-0000-0000-0000-000000000002
                  name: 00000000-0000-0000-0000-000000000002
                  properties:
                    displayName: Group Name 2
                    tenantId: 00000000-0000-0000-0000-000000000000
                  type: /providers/Microsoft.Management/managementGroups
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.management_groups_controller
  /providers/Microsoft.Management/managementGroups/{groupId}:
    delete:
      description: |
        Delete management group.
        If a management group contains child resources, the request will fail.
      operationId: management_groups_delete
      parameters:
      - description: Management Group ID.
        in: path
        name: group_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request. The current
          version is 2017-11-01-preview.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Indicates that the request shouldn't utilize any caches.
        in: header
        name: cache_control
        schema:
          default: no-cache
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content: {}
          description: OK - management group deleted successfully
        "204":
          content: {}
          description: NoContent - management group does not exist
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error
      tags:
      - ManagementGroups
      x-ms-examples:
        DeleteManagementGroup:
          parameters:
            api-version: 2017-11-01-preview
            groupId: 00000000-0000-0000-0000-000000000001
          responses:
            "200": {}
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.management_groups_controller
    get:
      description: |
        Get the details of the management group.
      operationId: management_groups_get
      parameters:
      - description: Management Group ID.
        in: path
        name: groupId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request. The current
          version is 2017-11-01-preview.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The $expand=children query string parameter allows clients to
          request inclusion of children in the response payload.
        in: query
        name: $expand
        schema:
          enum:
          - children
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The $recurse=true query string parameter allows clients to request
          inclusion of entire hierarchy in the response payload.
        in: query
        name: $recurse
        schema:
          type: boolean
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Indicates that the request shouldn't utilize any caches.
        in: header
        name: cache_control
        schema:
          default: no-cache
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementGroup'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error
      tags:
      - ManagementGroups
      x-ms-examples:
        GetManagementGroup:
          parameters:
            Cache-Control: no-cache
            api-version: 2018-01-01-preview
            groupId: 20000000-0001-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /providers/Microsoft.Management/managementGroups/20000000-0001-0000-0000-000000000000
                name: 20000000-0001-0000-0000-000000000000
                properties:
                  details:
                    parent:
                      displayName: RootGroup
                      parentId: /providers/Microsoft.Management/managementGroups/RootGroup
                    updatedBy: 16b8ef21-5c9f-420c-bcc9-e4f8c9f30b4b
                    updatedTime: 2018-01-01T00:00:00.00Z
                    version: 1
                  displayName: Group 1 Tenant 2
                  tenantId: 20000000-0000-0000-0000-000000000000
                type: /providers/Microsoft.Management/managementGroups
        GetManagementGroupWithExpand:
          parameters:
            $expand: children
            Cache-Control: no-cache
            api-version: 2017-11-01-preview
            groupId: 00000000-0000-0000-0000-000000000001
          responses:
            "200":
              body:
                id: /providers/Microsoft.Management/managementGroups/00000000-0000-0000-0000-000000000001
                name: 00000000-0000-0000-0000-000000000001
                properties:
                  children:
                  - childId: /providers/Microsoft.Management/managementGroups/00000000-0000-0000-0000-000000000002
                    childType: ManagementGroup
                    displayName: Group Name 2
                  - childId: /providers/Microsoft.Management/managementGroups/00000000-0000-0000-0000-000000000003
                    childType: ManagementGroup
                    displayName: Group Name 3
                  - childId: /subscriptions/00000000-0000-0000-0000-000000000011
                    childType: Subscription
                    displayName: Subscription Name 1
                  details:
                    parent:
                      displayName: RootGroup
                      parentId: /providers/Microsoft.Management/managementGroups/RootGroup
                    updatedBy: Test
                    updatedTime: 2017-01-01T00:00:00Z
                    version: 1
                  displayName: Group Name 1
                  tenantId: 00000000-0000-0000-0000-000000000000
                type: /providers/Microsoft.Management/managementGroups
        GetManagementGroupsWithExpandAndRecurse:
          parameters:
            $expand: children
            $recurse: true
            Cache-Control: no-cache
            api-version: 2017-11-01-preview
            groupId: 00000000-0000-0000-0000-000000000001
          responses:
            "200":
              body:
                id: /providers/Microsoft.Management/managementGroups/00000000-0000-0000-0000-000000000001
                name: 00000000-0000-0000-0000-000000000001
                properties:
                  children:
                  - childId: /providers/Microsoft.Management/managementGroups/00000000-0000-0000-0000-000000000002
                    childType: ManagementGroup
                    children:
                    - childId: /providers/Microsoft.Management/managementGroups/00000000-0000-0000-0000-000000000004
                      childType: ManagementGroup
                      children:
                      - childId: /subscriptions/00000000-0000-0000-0000-000000000012
                        childType: Subscription
                        displayName: Subscription Name 2
                      - childId: /subscriptions/00000000-0000-0000-0000-000000000013
                        childType: Subscription
                        displayName: Subscription Name 3
                      displayName: Group Name 4
                    displayName: Group Name 2
                  - childId: /providers/Microsoft.Management/managementGroups/00000000-0000-0000-0000-000000000003
                    childType: ManagementGroup
                    children:
                    - childId: /subscriptions/00000000-0000-0000-0000-000000000014
                      childType: Subscription
                      displayName: Subscription Name 4
                    displayName: Group Name 3
                  - childId: /subscriptions/00000000-0000-0000-0000-000000000011
                    childType: Subscription
                    displayName: Subscription Name 1
                  details:
                    parent:
                      displayName: RootGroup
                      parentId: /providers/Microsoft.Management/managementGroups/RootGroup
                    updatedBy: Test
                    updatedTime: 2017-01-01T00:00:00Z
                    version: 1
                  displayName: Group Name 1
                  tenantId: 00000000-0000-0000-0000-000000000000
                type: /providers/Microsoft.Management/managementGroups
      x-openapi-router-controller: openapi_server.controllers.management_groups_controller
    patch:
      description: |
        Update a management group.
      operationId: management_groups_update
      parameters:
      - description: Management Group ID.
        in: path
        name: group_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request. The current
          version is 2017-11-01-preview.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Indicates that the request shouldn't utilize any caches.
        in: header
        name: cache_control
        schema:
          default: no-cache
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateManagementGroupRequest'
        description: Management group creation parameters.
        required: true
        x-ms-parameter-location: method
        x-body-name: createManagementGroupRequest
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementGroup'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error
      tags:
      - ManagementGroups
      x-ms-examples:
        PatchManagementGroup:
          parameters:
            api-version: 2017-11-01-preview
            createManagementGroupRequest:
              'properties ':
                displayName: Group Name 2
                parentGroupId: /providers/Microsoft.Management/managementGroups/00000000-0000-0000-0000-000000000001
            groupId: 00000000-0000-0000-0000-000000000002
          responses:
            "200":
              body:
                id: /providers/Microsoft.Management/managementGroups/00000000-0000-0000-0000-000000000002
                name: 00000000-0000-0000-0000-000000000002
                properties:
                  details:
                    parent:
                      displayName: Group Name 1
                      parentId: /providers/Microsoft.Management/managementGroups/00000000-0000-0000-0000-000000000001
                    updatedBy: Test
                    updatedTime: 2017-01-01T00:00:00.00Z
                    version: 1
                  displayName: Group Name 2
                  tenantId: 00000000-0000-0000-0000-000000000000
                type: /providers/Microsoft.Management/managementGroups
      x-codegen-request-body-name: createManagementGroupRequest
      x-openapi-router-controller: openapi_server.controllers.management_groups_controller
    put:
      description: |
        Create or update a management group.
        If a management group is already created and a subsequent create request is issued with different properties, the management group properties will be updated.
      operationId: management_groups_create_or_update
      parameters:
      - description: Management Group ID.
        in: path
        name: group_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request. The current
          version is 2017-11-01-preview.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Indicates that the request shouldn't utilize any caches.
        in: header
        name: cache_control
        schema:
          default: no-cache
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateManagementGroupRequest'
        description: Management group creation parameters.
        required: true
        x-ms-parameter-location: method
        x-body-name: createManagementGroupRequest
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementGroup'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error
      tags:
      - ManagementGroups
      x-ms-examples:
        PutManagementGroup:
          parameters:
            api-version: 2017-11-01-preview
            createManagementGroupRequest:
              'properties ':
                displayName: Group Name 2
                parentGroupId: /providers/Microsoft.Management/managementGroups/00000000-0000-0000-0000-000000000001
            groupId: 00000000-0000-0000-0000-000000000002
          responses:
            "200":
              body:
                id: /providers/Microsoft.Management/managementGroups/00000000-0000-0000-0000-000000000002
                name: 00000000-0000-0000-0000-000000000002
                properties:
                  details:
                    parent:
                      displayName: Group Name 1
                      parentId: /providers/Microsoft.Management/managementGroups/00000000-0000-0000-0000-000000000001
                    updatedBy: Test
                    updatedTime: 2017-01-01T00:00:00.00Z
                    version: 1
                  displayName: Group Name 2
                  tenantId: 00000000-0000-0000-0000-000000000000
                type: /providers/Microsoft.Management/managementGroups
      x-codegen-request-body-name: createManagementGroupRequest
      x-openapi-router-controller: openapi_server.controllers.management_groups_controller
  /providers/Microsoft.Management/managementGroups/{groupId}/subscriptions/{subscriptionId}:
    delete:
      description: |
        De-associates subscription from the management group.
      operationId: management_group_subscriptions_delete
      parameters:
      - description: Management Group ID.
        in: path
        name: group_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request. The current
          version is 2017-11-01-preview.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Indicates that the request shouldn't utilize any caches.
        in: header
        name: cache_control
        schema:
          default: no-cache
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "204":
          content: {}
          description: No Content - subscription deleted successfully
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error
      tags:
      - ManagementGroups
      x-ms-examples:
        DeleteSubscriptionFromManagementGroup:
          parameters:
            api-version: 2017-11-01-preview
            groupId: 00000000-0000-0000-0000-000000000001
            subscriptionId: 00000000-0000-0000-0000-000000000011
          responses:
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.management_groups_controller
    put:
      description: |
        Associates existing subscription with the management group.
      operationId: management_group_subscriptions_create
      parameters:
      - description: Management Group ID.
        in: path
        name: group_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request. The current
          version is 2017-11-01-preview.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Indicates that the request shouldn't utilize any caches.
        in: header
        name: cache_control
        schema:
          default: no-cache
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "204":
          content: {}
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error
      tags:
      - ManagementGroups
      x-ms-examples:
        AddSubscriptionToManagementGroup:
          parameters:
            api-version: 2017-11-01-preview
            groupId: 00000000-0000-0000-0000-000000000001
            subscriptionId: 00000000-0000-0000-0000-000000000011
          responses:
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.management_groups_controller
  /providers/Microsoft.Management/operations:
    get:
      description: Lists all of the available Management REST API operations.
      operationId: operations_list
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2017-11-01-preview.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Operations
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.operations_controller
components:
  parameters:
    ApiVersionParameter:
      description: Version of the API to be used with the client request. The current
        version is 2017-11-01-preview.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    CacheControlHeader:
      description: Indicates that the request shouldn't utilize any caches.
      in: header
      name: Cache-Control
      schema:
        default: no-cache
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ExpandParameter:
      description: The $expand=children query string parameter allows clients to request
        inclusion of children in the response payload.
      in: query
      name: $expand
      schema:
        enum:
        - children
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    GroupIdParameter:
      description: Management Group ID.
      in: path
      name: groupId
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    RecurseParameter:
      description: The $recurse=true query string parameter allows clients to request
        inclusion of entire hierarchy in the response payload.
      in: query
      name: $recurse
      schema:
        type: boolean
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: Subscription ID.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  requestBodies:
    CreateManagementGroupRequestParameter:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CreateManagementGroupRequest'
      description: Management group creation parameters.
      required: true
      x-ms-parameter-location: method
      x-body-name: createManagementGroupRequest
  schemas:
    CreateManagementGroupRequest:
      description: Management group creation parameters.
      example:
        displayName: displayName
        parentId: parentId
      properties:
        displayName:
          description: The friendly name of the management group.
          title: displayName
          type: string
        parentId:
          description: "(Optional) The fully qualified ID for the parent management\
            \ group.  For example, /providers/Microsoft.Management/managementGroups/0000000-0000-0000-0000-000000000000"
          title: parentId
          type: string
      title: CreateManagementGroupRequest
      type: object
    ErrorDetails:
      description: The details of the error.
      example:
        code: code
        message: message
      properties:
        code:
          description: One of a server-defined set of error codes.
          title: code
          type: string
        message:
          description: A human-readable representation of the error.
          title: message
          type: string
      title: ErrorDetails
      type: object
    ErrorResponse:
      description: The error object.
      example:
        error:
          code: code
          message: message
      properties:
        error:
          $ref: '#/components/schemas/ErrorDetails'
      title: ErrorResponse
      type: object
    ManagementGroup:
      description: The management group details.
      example:
        name: name
        id: id
        type: type
        properties:
          children:
          - childType: ManagementGroup
            children:
            - null
            - null
            displayName: displayName
            childId: childId
          - childType: ManagementGroup
            children:
            - null
            - null
            displayName: displayName
            childId: childId
          displayName: displayName
          tenantId: tenantId
          details:
            parent:
              displayName: displayName
              parentId: parentId
            updatedTime: 2000-01-23T04:56:07.000+00:00
            updatedBy: updatedBy
            version: 0.8008281904610115
      properties:
        id:
          description: "The fully qualified ID for the management group.  For example,\
            \ /providers/Microsoft.Management/managementGroups/0000000-0000-0000-0000-000000000000"
          readOnly: true
          title: id
          type: string
        name:
          description: "The name of the management group. For example, 00000000-0000-0000-0000-000000000000"
          readOnly: true
          title: name
          type: string
        properties:
          $ref: '#/components/schemas/ManagementGroupProperties'
        type:
          description: "The type of the resource.  For example, /providers/Microsoft.Management/managementGroups"
          readOnly: true
          title: type
          type: string
      title: ManagementGroup
      type: object
      x-ms-azure-resource: true
    ManagementGroupChildInfo:
      description: The child information of a management group.
      example:
        childType: ManagementGroup
        children:
        - null
        - null
        displayName: displayName
        childId: childId
      properties:
        childId:
          description: "The fully qualified ID for the child resource (management\
            \ group or subscription).  For example, /providers/Microsoft.Management/managementGroups/0000000-0000-0000-0000-000000000000"
          title: childId
          type: string
        childType:
          $ref: '#/components/schemas/ManagementGroupChildType'
        children:
          description: The list of children.
          items:
            $ref: '#/components/schemas/ManagementGroupChildInfo'
          title: children
          type: array
        displayName:
          description: The friendly name of the child resource.
          title: displayName
          type: string
      title: ManagementGroupChildInfo
      type: object
    ManagementGroupChildType:
      description: The type of child resource.
      enum:
      - ManagementGroup
      - Subscription
      title: ManagementGroupChildType
      type: string
    ManagementGroupDetails:
      description: The details of a management group.
      example:
        parent:
          displayName: displayName
          parentId: parentId
        updatedTime: 2000-01-23T04:56:07.000+00:00
        updatedBy: updatedBy
        version: 0.8008281904610115
      properties:
        parent:
          $ref: '#/components/schemas/ParentGroupInfo'
        updatedBy:
          description: The identity of the principal or process that updated the object.
          title: updatedBy
          type: string
        updatedTime:
          description: The date and time when this object was last updated.
          format: date-time
          title: updatedTime
          type: string
        version:
          description: The version number of the object.
          format: int32
          title: version
          type: number
      title: ManagementGroupDetails
      type: object
    ManagementGroupInfo:
      description: The management group resource.
      example:
        name: name
        id: id
        type: type
        properties:
          displayName: displayName
          tenantId: tenantId
      properties:
        id:
          description: "The fully qualified ID for the management group.  For example,\
            \ /providers/Microsoft.Management/managementGroups/0000000-0000-0000-0000-000000000000"
          readOnly: true
          title: id
          type: string
        name:
          description: "The name of the management group. For example, 00000000-0000-0000-0000-000000000000"
          readOnly: true
          title: name
          type: string
        properties:
          $ref: '#/components/schemas/ManagementGroupInfoProperties'
        type:
          description: "The type of the resource. For example, /providers/Microsoft.Management/managementGroups"
          readOnly: true
          title: type
          type: string
      title: ManagementGroupInfo
      type: object
    ManagementGroupInfoProperties:
      description: The generic properties of a management group.
      example:
        displayName: displayName
        tenantId: tenantId
      properties:
        displayName:
          description: The friendly name of the management group.
          title: displayName
          type: string
        tenantId:
          description: "The AAD Tenant ID associated with the management group. For\
            \ example, 00000000-0000-0000-0000-000000000000"
          title: tenantId
          type: string
      title: ManagementGroupInfoProperties
      type: object
    ManagementGroupListResult:
      description: Describes the result of the request to list management groups.
      example:
        value:
        - name: name
          id: id
          type: type
          properties:
            displayName: displayName
            tenantId: tenantId
        - name: name
          id: id
          type: type
          properties:
            displayName: displayName
            tenantId: tenantId
        nextLink: nextLink
      properties:
        nextLink:
          description: The URL to use for getting the next set of results.
          readOnly: true
          title: nextLink
          type: string
        value:
          description: The list of management groups.
          items:
            $ref: '#/components/schemas/ManagementGroupInfo'
          title: value
          type: array
      title: ManagementGroupListResult
      type: object
    ManagementGroupProperties:
      description: The generic properties of a management group.
      example:
        children:
        - childType: ManagementGroup
          children:
          - null
          - null
          displayName: displayName
          childId: childId
        - childType: ManagementGroup
          children:
          - null
          - null
          displayName: displayName
          childId: childId
        displayName: displayName
        tenantId: tenantId
        details:
          parent:
            displayName: displayName
            parentId: parentId
          updatedTime: 2000-01-23T04:56:07.000+00:00
          updatedBy: updatedBy
          version: 0.8008281904610115
      properties:
        children:
          description: The list of children.
          items:
            $ref: '#/components/schemas/ManagementGroupChildInfo'
          title: children
          type: array
        details:
          $ref: '#/components/schemas/ManagementGroupDetails'
        displayName:
          description: The friendly name of the management group.
          title: displayName
          type: string
        tenantId:
          description: "The AAD Tenant ID associated with the management group. For\
            \ example, 00000000-0000-0000-0000-000000000000"
          title: tenantId
          type: string
      title: ManagementGroupProperties
      type: object
    Operation:
      description: Operation supported by the Microsoft.Management resource provider.
      example:
        display:
          provider: provider
          resource: resource
          description: description
          operation: operation
        name: name
      properties:
        display:
          $ref: '#/components/schemas/Operation_display'
        name:
          description: "Operation name: {provider}/{resource}/{operation}."
          readOnly: true
          title: name
          type: string
      title: Operation
      type: object
    OperationListResult:
      description: Describes the result of the request to list Microsoft.Management
        operations.
      example:
        value:
        - display:
            provider: provider
            resource: resource
            description: description
            operation: operation
          name: name
        - display:
            provider: provider
            resource: resource
            description: description
            operation: operation
          name: name
        nextLink: nextLink
      properties:
        nextLink:
          description: URL to get the next set of operation list results if there
            are any.
          readOnly: true
          title: nextLink
          type: string
        value:
          description: List of operations supported by the Microsoft.Management resource
            provider.
          items:
            $ref: '#/components/schemas/Operation'
          readOnly: true
          title: value
          type: array
      title: OperationListResult
      type: object
    ParentGroupInfo:
      description: (Optional) The ID of the parent management group.
      example:
        displayName: displayName
        parentId: parentId
      properties:
        displayName:
          description: The friendly name of the parent management group.
          title: displayName
          type: string
        parentId:
          description: "The fully qualified ID for the parent management group.  For\
            \ example, /providers/Microsoft.Management/managementGroups/0000000-0000-0000-0000-000000000000"
          title: parentId
          type: string
      title: ParentGroupInfo
      type: object
    Operation_display:
      description: The object that represents the operation.
      example:
        provider: provider
        resource: resource
        description: description
        operation: operation
      properties:
        description:
          description: Operation description.
          readOnly: true
          title: description
          type: string
        operation:
          description: The operation that can be performed.
          readOnly: true
          title: operation
          type: string
        provider:
          description: The name of the provider.
          readOnly: true
          title: provider
          type: string
        resource:
          description: The resource on which the operation is performed.
          readOnly: true
          title: resource
          type: string
      title: Operation_display
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
