openapi: 3.0.0
info:
  contact:
    name: Public Transport Victoria
    url: http://ptv.vic.gov.au/digital
  description: "The PTV Timetable API provides direct access to Public Transport Victoria’\
    s public transport timetable data.\r\n\r\nThe API returns scheduled timetable,\
    \ route and stop data for all metropolitan and regional train, tram and bus services\
    \ in Victoria, including Night Network(Night Train and Night Tram data are included\
    \ in metropolitan train and tram services data, respectively, whereas Night Bus\
    \ is a separate route type).\r\n\r\nThe API also returns real-time data for metropolitan\
    \ train, tram and bus services (where this data is made available to PTV), as\
    \ well as disruption information, stop facility information, and access to myki\
    \ ticket outlet data.\r\n\r\nThis Swagger is for Version 3 of the PTV Timetable\
    \ API. By using this documentation you agree to comply with the licence and terms\
    \ of service.\r\n\r\nTrain timetable data is updated daily, while the remaining\
    \ data is updated weekly, taking into account any planned timetable changes (for\
    \ example, due to holidays or planned disruptions). The PTV timetable API is the\
    \ same API used by PTV for its apps. To access the most up to date data PTV has\
    \ (including real-time data) you must use the API dynamically.\r\n\r\nYou can\
    \ access the PTV Timetable API through a HTTP or HTTPS interface, as follows:\r\
    \n\r\n    base URL / version number / API name / query string\r\nThe base URL\
    \ is either:\r\n  *  http://timetableapi.ptv.vic.gov.au\r\nor\r\n  *  https://timetableapi.ptv.vic.gov.au\r\
    \n\r\nThe Swagger JSON file is available at http://timetableapi.ptv.vic.gov.au/swagger/docs/v3\r\
    \n\r\nFrequently asked questions are available on the PTV website at http://ptv.vic.gov.au/apifaq\r\
    \n\r\nLinks to the following information are also provided on the PTV website\
    \ at http://ptv.vic.gov.au/ptv-timetable-api/\r\n* How to register for an API\
    \ key and calculate a signature\r\n* PTV Timetable API V2 to V3 Migration Guide\r\
    \n* Documentation for Version 2 of the PTV Timetable API\r\n* PTV Timetable API\
    \ Data Quality Statement\r\n\r\nAll information about how to use the API is in\
    \ this documentation. PTV cannot provide technical support for the API.\r\n\r\n\
    Credits: This page has been based on Steve Bennett's http://opentransportdata.org/,\
    \ used with permission.\r\n"
  license:
    name: Creative Commons Attribution 4.0 International
    url: https://creativecommons.org/licenses/by/4.0/
  title: PTV Timetable API - Version 3
  version: v3
  x-apisguru-categories:
  - transport
  x-logo:
    backgroundColor: '#FFFFFF'
    url: https://pbs.twimg.com/profile_images/544730682023346176/sAia9jJQ_400x400.jpeg
  x-origin:
  - format: openapi
    url: http://timetableapi.ptv.vic.gov.au/swagger/docs/v3
    version: "3.0"
  x-providerName: ptv.vic.gov.au
servers:
- url: http://timetableapi.ptv.vic.gov.au
- url: https://timetableapi.ptv.vic.gov.au
paths:
  /v3/departures/route_type/{route_type}/stop/{stop_id}:
    get:
      deprecated: false
      operationId: departures_get_for_stop
      parameters:
      - description: Number identifying transport mode; values returned via RouteTypes
          API
        explode: false
        in: path
        name: route_type
        required: true
        schema:
          enum:
          - 0
          - 1
          - 2
          - 3
          - 4
          format: int32
          type: integer
        style: simple
      - description: Identifier of stop; values returned by Stops API
        explode: false
        in: path
        name: stop_id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: Filter by platform number at stop
        explode: true
        in: query
        name: platform_numbers
        required: false
        schema:
          items:
            format: int32
            type: integer
          type: array
        style: form
      - description: "Filter by identifier of direction of travel; values returned\
          \ by Directions API - /v3/directions/route/{route_id}"
        explode: true
        in: query
        name: direction_id
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Indicates that stop_id parameter will accept "GTFS stop_id" data
        explode: true
        in: query
        name: gtfs
        required: false
        schema:
          type: boolean
        style: form
      - description: Filter by the date and time of the request (ISO 8601 UTC format)
          (default = current date and time)
        explode: true
        in: query
        name: date_utc
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Maximum number of results returned
        explode: true
        in: query
        name: max_results
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Indicates if cancelled services (if they exist) are returned
          (default = false) - metropolitan train only
        explode: true
        in: query
        name: include_cancelled
        required: false
        schema:
          type: boolean
        style: form
      - description: Indicates if filtering runs (and their departures) to those that
          arrive at destination before date_utc (default = false). Requires max_results
          &gt; 0.
        explode: true
        in: query
        name: look_backwards
        required: false
        schema:
          type: boolean
        style: form
      - description: "List of objects to be returned in full (i.e. expanded) - options\
          \ include: All, Stop, Route, Run, Direction, Disruption, VehiclePosition,\
          \ VehicleDescriptor or None.\r\n            Run must be expanded to receive\
          \ VehiclePosition and VehicleDescriptor information."
        explode: true
        in: query
        name: expand
        required: false
        schema:
          items:
            enum:
            - All
            - Stop
            - Route
            - Run
            - Direction
            - Disruption
            - VehicleDescriptor
            - VehiclePosition
            - None
            type: string
          type: array
        style: form
      - description: Indicates if the route geopath should be returned
        explode: true
        in: query
        name: include_geopath
        required: false
        schema:
          type: boolean
        style: form
      - description: Please ignore
        explode: true
        in: query
        name: token
        required: false
        schema:
          type: string
        style: form
      - description: Your developer id
        explode: true
        in: query
        name: devid
        required: false
        schema:
          type: string
        style: form
      - description: Authentication signature for request
        explode: true
        in: query
        name: signature
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.DeparturesResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.DeparturesResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.DeparturesResponse'
          description: Service departures from the specified stop for all routes of
            the specified route type; departures are timetabled and real-time (if
            applicable).
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
          description: Invalid Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
          description: Access Denied
      summary: View departures for all routes from a stop
      tags:
      - Departures
      x-openapi-router-controller: openapi_server.controllers.departures_controller
  /v3/departures/route_type/{route_type}/stop/{stop_id}/route/{route_id}:
    get:
      deprecated: false
      operationId: departures_get_for_stop_and_route
      parameters:
      - description: Number identifying transport mode; values returned via RouteTypes
          API
        explode: false
        in: path
        name: route_type
        required: true
        schema:
          enum:
          - 0
          - 1
          - 2
          - 3
          - 4
          format: int32
          type: integer
        style: simple
      - description: Identifier of stop; values returned by Stops API
        explode: false
        in: path
        name: stop_id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: Identifier of route; values returned by Routes API - v3/routes
        explode: false
        in: path
        name: route_id
        required: true
        schema:
          type: string
        style: simple
      - description: "Filter by identifier of direction of travel; values returned\
          \ by Directions API - /v3/directions/route/{route_id}"
        explode: true
        in: query
        name: direction_id
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Indicates that stop_id parameter will accept "GTFS stop_id" data
        explode: true
        in: query
        name: gtfs
        required: false
        schema:
          type: boolean
        style: form
      - description: Filter by the date and time of the request (ISO 8601 UTC format)
          (default = current date and time)
        explode: true
        in: query
        name: date_utc
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Maximum number of results returned
        explode: true
        in: query
        name: max_results
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Indicates if cancelled services (if they exist) are returned
          (default = false) - metropolitan train only
        explode: true
        in: query
        name: include_cancelled
        required: false
        schema:
          type: boolean
        style: form
      - description: Indicates if filtering runs (and their departures) to those that
          arrive at destination before date_utc (default = false). Requires max_results
          &gt; 0.
        explode: true
        in: query
        name: look_backwards
        required: false
        schema:
          type: boolean
        style: form
      - description: "List of objects to be returned in full (i.e. expanded) - options\
          \ include: All, Stop, Route, Run, Direction, Disruption, VehiclePosition,\
          \ VehicleDescriptor or None.\r\n            Run must be expanded to receive\
          \ VehiclePosition and VehicleDescriptor information."
        explode: true
        in: query
        name: expand
        required: false
        schema:
          items:
            enum:
            - All
            - Stop
            - Route
            - Run
            - Direction
            - Disruption
            - VehicleDescriptor
            - VehiclePosition
            - None
            type: string
          type: array
        style: form
      - description: Indicates if the route geopath should be returned
        explode: true
        in: query
        name: include_geopath
        required: false
        schema:
          type: boolean
        style: form
      - description: Please ignore
        explode: true
        in: query
        name: token
        required: false
        schema:
          type: string
        style: form
      - description: Your developer id
        explode: true
        in: query
        name: devid
        required: false
        schema:
          type: string
        style: form
      - description: Authentication signature for request
        explode: true
        in: query
        name: signature
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.DeparturesResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.DeparturesResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.DeparturesResponse'
          description: Service departures from the specified stop for the specified
            route (and route type); departures are timetabled and real-time (if applicable).
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
          description: Invalid Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
          description: Access Denied
      summary: View departures for a specific route from a stop
      tags:
      - Departures
      x-openapi-router-controller: openapi_server.controllers.departures_controller
  /v3/directions/route/{route_id}:
    get:
      deprecated: false
      operationId: directions_for_route
      parameters:
      - description: Identifier of route; values returned by Routes API - v3/routes
        explode: false
        in: path
        name: route_id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: Please ignore
        explode: true
        in: query
        name: token
        required: false
        schema:
          type: string
        style: form
      - description: Your developer id
        explode: true
        in: query
        name: devid
        required: false
        schema:
          type: string
        style: form
      - description: Authentication signature for request
        explode: true
        in: query
        name: signature
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.DirectionsResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.DirectionsResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.DirectionsResponse'
          description: The directions that a specified route travels in.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
          description: Invalid Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
          description: Access Denied
      summary: View directions that a route travels in
      tags:
      - Directions
      x-openapi-router-controller: openapi_server.controllers.directions_controller
  /v3/directions/{direction_id}:
    get:
      deprecated: false
      operationId: directions_for_direction
      parameters:
      - description: "Identifier of direction of travel; values returned by Directions\
          \ API - /v3/directions/route/{route_id}"
        explode: false
        in: path
        name: direction_id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: Please ignore
        explode: true
        in: query
        name: token
        required: false
        schema:
          type: string
        style: form
      - description: Your developer id
        explode: true
        in: query
        name: devid
        required: false
        schema:
          type: string
        style: form
      - description: Authentication signature for request
        explode: true
        in: query
        name: signature
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.DirectionsResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.DirectionsResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.DirectionsResponse'
          description: All routes that travel in the specified direction.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
          description: Invalid Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
          description: Access Denied
      summary: View all routes for a direction of travel
      tags:
      - Directions
      x-openapi-router-controller: openapi_server.controllers.directions_controller
  /v3/directions/{direction_id}/route_type/{route_type}:
    get:
      deprecated: false
      operationId: directions_for_direction_and_type
      parameters:
      - description: "Identifier of direction of travel; values returned by Directions\
          \ API - /v3/directions/route/{route_id}"
        explode: false
        in: path
        name: direction_id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: Number identifying transport mode; values returned via RouteTypes
          API
        explode: false
        in: path
        name: route_type
        required: true
        schema:
          enum:
          - 0
          - 1
          - 2
          - 3
          - 4
          format: int32
          type: integer
        style: simple
      - description: Please ignore
        explode: true
        in: query
        name: token
        required: false
        schema:
          type: string
        style: form
      - description: Your developer id
        explode: true
        in: query
        name: devid
        required: false
        schema:
          type: string
        style: form
      - description: Authentication signature for request
        explode: true
        in: query
        name: signature
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.DirectionsResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.DirectionsResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.DirectionsResponse'
          description: All routes of the specified route type that travel in the specified
            direction.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
          description: Invalid Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
          description: Access Denied
      summary: View all routes of a particular type for a direction of travel
      tags:
      - Directions
      x-openapi-router-controller: openapi_server.controllers.directions_controller
  /v3/disruptions:
    get:
      deprecated: false
      operationId: disruptions_get_all_disruptions
      parameters:
      - description: Filter by route_type; values returned via RouteTypes API
        explode: true
        in: query
        name: route_types
        required: false
        schema:
          items:
            enum:
            - 0
            - 1
            - 2
            - 3
            - 4
            format: int32
            type: integer
          type: array
        style: form
      - description: Filter by disruption_mode; values returned via v3/disruptions/modes
          API
        explode: true
        in: query
        name: disruption_modes
        required: false
        schema:
          items:
            enum:
            - 1
            - 2
            - 3
            - 4
            - 5
            - 7
            - 8
            - 9
            - 10
            - 11
            - 12
            - 13
            - 14
            - 100
            format: int32
            type: integer
          type: array
        style: form
      - description: Filter by status of disruption
        explode: true
        in: query
        name: disruption_status
        required: false
        schema:
          enum:
          - current
          - planned
          type: string
        style: form
      - description: Please ignore
        explode: true
        in: query
        name: token
        required: false
        schema:
          type: string
        style: form
      - description: Your developer id
        explode: true
        in: query
        name: devid
        required: false
        schema:
          type: string
        style: form
      - description: Authentication signature for request
        explode: true
        in: query
        name: signature
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.DisruptionsResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.DisruptionsResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.DisruptionsResponse'
          description: All disruption information for all route types.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
          description: Invalid Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
          description: Access Denied
      summary: View all disruptions for all route types
      tags:
      - Disruptions
      x-openapi-router-controller: openapi_server.controllers.disruptions_controller
  /v3/disruptions/modes:
    get:
      deprecated: false
      operationId: disruptions_get_disruption_modes
      parameters:
      - description: Please ignore
        explode: true
        in: query
        name: token
        required: false
        schema:
          type: string
        style: form
      - description: Your developer id
        explode: true
        in: query
        name: devid
        required: false
        schema:
          type: string
        style: form
      - description: Authentication signature for request
        explode: true
        in: query
        name: signature
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.DisruptionModesResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.DisruptionModesResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.DisruptionModesResponse'
          description: Disruption specific modes
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
          description: Invalid Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
          description: Access Denied
      summary: Get all disruption modes
      tags:
      - Disruptions
      x-openapi-router-controller: openapi_server.controllers.disruptions_controller
  /v3/disruptions/route/{route_id}:
    get:
      deprecated: false
      operationId: disruptions_get_disruptions_by_route
      parameters:
      - description: Identifier of route; values returned by Routes API - v3/routes
        explode: false
        in: path
        name: route_id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: Filter by status of disruption
        explode: true
        in: query
        name: disruption_status
        required: false
        schema:
          enum:
          - current
          - planned
          type: string
        style: form
      - description: Please ignore
        explode: true
        in: query
        name: token
        required: false
        schema:
          type: string
        style: form
      - description: Your developer id
        explode: true
        in: query
        name: devid
        required: false
        schema:
          type: string
        style: form
      - description: Authentication signature for request
        explode: true
        in: query
        name: signature
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.DisruptionsResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.DisruptionsResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.DisruptionsResponse'
          description: All disruption information (if any exists) for the specified
            route.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
          description: Invalid Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
          description: Access Denied
      summary: View all disruptions for a particular route
      tags:
      - Disruptions
      x-openapi-router-controller: openapi_server.controllers.disruptions_controller
  /v3/disruptions/route/{route_id}/stop/{stop_id}:
    get:
      deprecated: false
      operationId: disruptions_get_disruptions_by_route_and_stop
      parameters:
      - description: Identifier of route; values returned by Routes API - v3/routes
        explode: false
        in: path
        name: route_id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: Identifier of stop; values returned by Stops API - v3/stops
        explode: false
        in: path
        name: stop_id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: Filter by status of disruption
        explode: true
        in: query
        name: disruption_status
        required: false
        schema:
          enum:
          - current
          - planned
          type: string
        style: form
      - description: Please ignore
        explode: true
        in: query
        name: token
        required: false
        schema:
          type: string
        style: form
      - description: Your developer id
        explode: true
        in: query
        name: devid
        required: false
        schema:
          type: string
        style: form
      - description: Authentication signature for request
        explode: true
        in: query
        name: signature
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.DisruptionsResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.DisruptionsResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.DisruptionsResponse'
          description: All disruption information (if any exists) for the specified
            route and stop.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
          description: Invalid Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
          description: Access Denied
      summary: View all disruptions for a particular route and stop
      tags:
      - Disruptions
      x-openapi-router-controller: openapi_server.controllers.disruptions_controller
  /v3/disruptions/stop/{stop_id}:
    get:
      deprecated: false
      operationId: disruptions_get_disruptions_by_stop
      parameters:
      - description: Identifier of stop; values returned by Stops API - v3/stops
        explode: false
        in: path
        name: stop_id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: Filter by status of disruption
        explode: true
        in: query
        name: disruption_status
        required: false
        schema:
          enum:
          - current
          - planned
          type: string
        style: form
      - description: Please ignore
        explode: true
        in: query
        name: token
        required: false
        schema:
          type: string
        style: form
      - description: Your developer id
        explode: true
        in: query
        name: devid
        required: false
        schema:
          type: string
        style: form
      - description: Authentication signature for request
        explode: true
        in: query
        name: signature
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.DisruptionsResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.DisruptionsResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.DisruptionsResponse'
          description: All disruption information (if any exists) for the specified
            stop.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
          description: Invalid Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
          description: Access Denied
      summary: View all disruptions for a particular stop
      tags:
      - Disruptions
      x-openapi-router-controller: openapi_server.controllers.disruptions_controller
  /v3/disruptions/{disruption_id}:
    get:
      deprecated: false
      operationId: disruptions_get_disruption_by_id
      parameters:
      - description: "Identifier of disruption; values returned by Disruptions API\
          \ - /v3/disruptions OR /v3/disruptions/route/{route_id}"
        explode: false
        in: path
        name: disruption_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Please ignore
        explode: true
        in: query
        name: token
        required: false
        schema:
          type: string
        style: form
      - description: Your developer id
        explode: true
        in: query
        name: devid
        required: false
        schema:
          type: string
        style: form
      - description: Authentication signature for request
        explode: true
        in: query
        name: signature
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.DisruptionResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.DisruptionResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.DisruptionResponse'
          description: Disruption information for the specified disruption ID.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
          description: Invalid Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
          description: Access Denied
      summary: View a specific disruption
      tags:
      - Disruptions
      x-openapi-router-controller: openapi_server.controllers.disruptions_controller
  /v3/fare_estimate/min_zone/{minZone}/max_zone/{maxZone}:
    get:
      deprecated: false
      operationId: fare_estimate_get_fare_estimate_by_zone
      parameters:
      - description: Minimum Zone travelled through ie. 1
        explode: false
        in: path
        name: minZone
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: Maximum Zone travelled through id. 6
        explode: false
        in: path
        name: maxZone
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: JourneyTouchOnUtc in format yyyy-M-d h:m (e.g 2016-5-31 16:53).
        explode: true
        in: query
        name: journey_touch_on_utc
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: JourneyTouchOffUtc in format yyyy-M-d h:m (e.g 2016-5-31 16:53).
        explode: true
        in: query
        name: journey_touch_off_utc
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: is_journey_in_free_tram_zone
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: travelled_route_types
        required: false
        schema:
          items:
            enum:
            - 0
            - 1
            - 2
            - 3
            - 4
            format: int32
            type: integer
          type: array
        style: form
      - description: Please ignore
        explode: true
        in: query
        name: token
        required: false
        schema:
          type: string
        style: form
      - description: Your developer id
        explode: true
        in: query
        name: devid
        required: false
        schema:
          type: string
        style: form
      - description: Authentication signature for request
        explode: true
        in: query
        name: signature
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.FareEstimateResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.FareEstimateResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.FareEstimateResponse'
          description: Resultant set fare estimates
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
          description: Invalid Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
          description: Access Denied
      summary: Estimate a fare by zone
      tags:
      - FareEstimate
      x-openapi-router-controller: openapi_server.controllers.fare_estimate_controller
  /v3/outlets:
    get:
      deprecated: false
      operationId: outlets_get_all_outlets
      parameters:
      - description: Maximum number of results returned (default = 30)
        explode: true
        in: query
        name: max_results
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Please ignore
        explode: true
        in: query
        name: token
        required: false
        schema:
          type: string
        style: form
      - description: Your developer id
        explode: true
        in: query
        name: devid
        required: false
        schema:
          type: string
        style: form
      - description: Authentication signature for request
        explode: true
        in: query
        name: signature
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.OutletResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.OutletResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.OutletResponse'
          description: Ticket outlets.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
          description: Invalid Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
          description: Access Denied
      summary: List all ticket outlets
      tags:
      - Outlets
      x-openapi-router-controller: openapi_server.controllers.outlets_controller
  /v3/outlets/location/{latitude},{longitude}:
    get:
      deprecated: false
      operationId: outlets_get_outlets_by_geolocation
      parameters:
      - description: Geographic coordinate of latitude
        explode: false
        in: path
        name: latitude
        required: true
        schema:
          format: float
          type: number
        style: simple
      - description: Geographic coordinate of longitude
        explode: false
        in: path
        name: longitude
        required: true
        schema:
          format: float
          type: number
        style: simple
      - description: Filter by maximum distance (in metres) from location specified
          via latitude and longitude parameters (default = 300)
        explode: true
        in: query
        name: max_distance
        required: false
        schema:
          format: double
          type: number
        style: form
      - description: Maximum number of results returned (default = 30)
        explode: true
        in: query
        name: max_results
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Please ignore
        explode: true
        in: query
        name: token
        required: false
        schema:
          type: string
        style: form
      - description: Your developer id
        explode: true
        in: query
        name: devid
        required: false
        schema:
          type: string
        style: form
      - description: Authentication signature for request
        explode: true
        in: query
        name: signature
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.OutletGeolocationResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.OutletGeolocationResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.OutletGeolocationResponse'
          description: Ticket outlets near the specified location.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
          description: Invalid Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
          description: Access Denied
      summary: List ticket outlets near a specific location
      tags:
      - Outlets
      x-openapi-router-controller: openapi_server.controllers.outlets_controller
  /v3/pattern/run/{run_ref}/route_type/{route_type}:
    get:
      deprecated: false
      operationId: patterns_get_pattern_by_run
      parameters:
      - description: "The run_ref is the identifier of a run as returned by the departures/*\
          \ and runs/* endpoints. WARNING, run_id is deprecated. Use run_ref instead."
        explode: false
        in: path
        name: run_ref
        required: true
        schema:
          type: string
        style: simple
      - description: Number identifying transport mode; values returned via RouteTypes
          API
        explode: false
        in: path
        name: route_type
        required: true
        schema:
          enum:
          - 0
          - 1
          - 2
          - 3
          - 4
          format: int32
          type: integer
        style: simple
      - description: "List of objects to be returned in full (i.e. expanded) - options\
          \ include: All, Stop, Route, Run, Direction, Disruption, VehiclePosition,\
          \ VehicleDescriptor and None. Default is Disruption. Run must be expanded\
          \ to receive VehiclePosition and VehicleDescriptor information."
        explode: true
        in: query
        name: expand
        required: true
        schema:
          items:
            enum:
            - All
            - Stop
            - Route
            - Run
            - Direction
            - Disruption
            - VehicleDescriptor
            - VehiclePosition
            - None
            type: string
          type: array
        style: form
      - description: Filter by stop_id; values returned by Stops API
        explode: true
        in: query
        name: stop_id
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Filter by the date and time of the request (ISO 8601 UTC format)
        explode: true
        in: query
        name: date_utc
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Include any skipped stops in a stopping pattern. Defaults to
          false.
        explode: true
        in: query
        name: include_skipped_stops
        required: false
        schema:
          type: boolean
        style: form
      - description: Indicates if geopath data will be returned (default = false)
        explode: true
        in: query
        name: include_geopath
        required: false
        schema:
          type: boolean
        style: form
      - description: Please ignore
        explode: true
        in: query
        name: token
        required: false
        schema:
          type: string
        style: form
      - description: Your developer id
        explode: true
        in: query
        name: devid
        required: false
        schema:
          type: string
        style: form
      - description: Authentication signature for request
        explode: true
        in: query
        name: signature
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.StoppingPattern'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.StoppingPattern'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.StoppingPattern'
          description: "The stopping pattern of the specified run_ref and route type.\
            \ (NOTE: the departure sequence field should be used to sort departures\
            \ in chronological order, however it is not always N+1 or N-1 of the previous\
            \ or following departure. e.g 100, 200, 250, 300 instead of 1, 2, 3, 4)"
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
          description: Invalid Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
          description: Access Denied
      summary: View the stopping pattern for a specific trip/service run
      tags:
      - Patterns
      x-openapi-router-controller: openapi_server.controllers.patterns_controller
  /v3/route_types:
    get:
      deprecated: false
      operationId: route_types_get_route_types
      parameters:
      - description: Please ignore
        explode: true
        in: query
        name: token
        required: false
        schema:
          type: string
        style: form
      - description: Your developer id
        explode: true
        in: query
        name: devid
        required: false
        schema:
          type: string
        style: form
      - description: Authentication signature for request
        explode: true
        in: query
        name: signature
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.RouteTypesResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.RouteTypesResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.RouteTypesResponse'
          description: All route types (i.e. identifiers of transport modes) and their
            names.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
          description: Invalid Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
          description: Access Denied
      summary: View all route types and their names
      tags:
      - RouteTypes
      x-openapi-router-controller: openapi_server.controllers.route_types_controller
  /v3/routes:
    get:
      deprecated: false
      operationId: routes_one_or_more_routes
      parameters:
      - description: Filter by route_type; values returned via RouteTypes API
        explode: true
        in: query
        name: route_types
        required: false
        schema:
          items:
            enum:
            - 0
            - 1
            - 2
            - 3
            - 4
            format: int32
            type: integer
          type: array
        style: form
      - description: Filter by name  of route (accepts partial route name matches)
        explode: true
        in: query
        name: route_name
        required: false
        schema:
          type: string
        style: form
      - description: Please ignore
        explode: true
        in: query
        name: token
        required: false
        schema:
          type: string
        style: form
      - description: Your developer id
        explode: true
        in: query
        name: devid
        required: false
        schema:
          type: string
        style: form
      - description: Authentication signature for request
        explode: true
        in: query
        name: signature
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.RouteResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.RouteResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.RouteResponse'
          description: Route names and numbers for all routes of all route types.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
          description: Invalid Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
          description: Access Denied
      summary: View route names and numbers for all routes
      tags:
      - Routes
      x-openapi-router-controller: openapi_server.controllers.routes_controller
  /v3/routes/{route_id}:
    get:
      deprecated: false
      operationId: routes_route_from_id
      parameters:
      - description: "Identifier of route; values returned by Departures, Directions\
          \ and Disruptions APIs"
        explode: false
        in: path
        name: route_id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: Indicates kif geopath data will be returned (default = false)
        explode: true
        in: query
        name: include_geopath
        required: false
        schema:
          type: boolean
        style: form
      - description: Filter geopaths by date (ISO 8601 UTC format) (default = current
          date)
        explode: true
        in: query
        name: geopath_utc
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Please ignore
        explode: true
        in: query
        name: token
        required: false
        schema:
          type: string
        style: form
      - description: Your developer id
        explode: true
        in: query
        name: devid
        required: false
        schema:
          type: string
        style: form
      - description: Authentication signature for request
        explode: true
        in: query
        name: signature
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.RouteResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.RouteResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.RouteResponse'
          description: The route name and number for the specified route ID.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
          description: Invalid Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
          description: Access Denied
      summary: View route name and number for specific route ID
      tags:
      - Routes
      x-openapi-router-controller: openapi_server.controllers.routes_controller
  /v3/runs/route/{route_id}:
    get:
      deprecated: false
      operationId: runs_for_route
      parameters:
      - description: Identifier of route; values returned by Routes API - v3/routes.
        explode: false
        in: path
        name: route_id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: "List of objects to be returned in full (i.e. expanded) - options\
          \ include: All, VehiclePosition, VehicleDescriptor, or None. Default is\
          \ None."
        explode: true
        in: query
        name: expand
        required: false
        schema:
          items:
            enum:
            - All
            - VehicleDescriptor
            - VehiclePosition
            - None
            type: string
          type: array
        style: form
      - description: Date of the request. (optional - defaults to now)
        explode: true
        in: query
        name: date_utc
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Please ignore
        explode: true
        in: query
        name: token
        required: false
        schema:
          type: string
        style: form
      - description: Your developer id
        explode: true
        in: query
        name: devid
        required: false
        schema:
          type: string
        style: form
      - description: Authentication signature for request
        explode: true
        in: query
        name: signature
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.RunsResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.RunsResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.RunsResponse'
          description: All trip/service run details for the specified route ID.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
          description: Invalid Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
          description: Access Denied
      summary: View all trip/service runs for a specific route ID
      tags:
      - Runs
      x-openapi-router-controller: openapi_server.controllers.runs_controller
  /v3/runs/route/{route_id}/route_type/{route_type}:
    get:
      deprecated: false
      operationId: runs_for_route_and_route_type
      parameters:
      - description: Identifier of route; values returned by Routes API - v3/routes.
        explode: false
        in: path
        name: route_id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: Number identifying transport mode; values returned via RouteTypes
          API
        explode: false
        in: path
        name: route_type
        required: true
        schema:
          enum:
          - 0
          - 1
          - 2
          - 3
          - 4
          format: int32
          type: integer
        style: simple
      - description: "List of objects to be returned in full (i.e. expanded) - options\
          \ include: All, VehiclePosition, VehicleDescriptor, or None. Default is\
          \ All."
        explode: true
        in: query
        name: expand
        required: true
        schema:
          items:
            enum:
            - All
            - VehicleDescriptor
            - VehiclePosition
            - None
            type: string
          type: array
        style: form
      - description: Date of the request. (optional - defaults to now)
        explode: true
        in: query
        name: date_utc
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Please ignore
        explode: true
        in: query
        name: token
        required: false
        schema:
          type: string
        style: form
      - description: Your developer id
        explode: true
        in: query
        name: devid
        required: false
        schema:
          type: string
        style: form
      - description: Authentication signature for request
        explode: true
        in: query
        name: signature
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.RunsResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.RunsResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.RunsResponse'
          description: All trip/service run details for the specified route ID and
            route type.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
          description: Invalid Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
          description: Access Denied
      summary: View all trip/service runs for a specific route ID and route type
      tags:
      - Runs
      x-openapi-router-controller: openapi_server.controllers.runs_controller
  /v3/runs/{run_ref}:
    get:
      deprecated: false
      operationId: runs_for_run
      parameters:
      - description: "The run_ref is the identifier of a run as returned by the departures/*\
          \ and runs/* endpoints. WARNING, run_id is deprecated. Use run_ref instead."
        explode: false
        in: path
        name: run_ref
        required: true
        schema:
          type: string
        style: simple
      - description: "List of objects to be returned in full (i.e. expanded) - options\
          \ include: All, VehiclePosition, VehicleDescriptor, or None. Default is\
          \ None."
        explode: true
        in: query
        name: expand
        required: true
        schema:
          items:
            enum:
            - All
            - VehicleDescriptor
            - VehiclePosition
            - None
            type: string
          type: array
        style: form
      - description: Date of the request. (optional - defaults to now)
        explode: true
        in: query
        name: date_utc
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Indicates if geopath data will be returned (default = false)
        explode: true
        in: query
        name: include_geopath
        required: false
        schema:
          type: boolean
        style: form
      - description: Please ignore
        explode: true
        in: query
        name: token
        required: false
        schema:
          type: string
        style: form
      - description: Your developer id
        explode: true
        in: query
        name: devid
        required: false
        schema:
          type: string
        style: form
      - description: Authentication signature for request
        explode: true
        in: query
        name: signature
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.RunsResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.RunsResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.RunsResponse'
          description: All trip/service run details for the specified run_ref.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
          description: Invalid Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
          description: Access Denied
      summary: View all trip/service runs for a specific run_ref
      tags:
      - Runs
      x-openapi-router-controller: openapi_server.controllers.runs_controller
  /v3/runs/{run_ref}/route_type/{route_type}:
    get:
      deprecated: false
      operationId: runs_for_run_and_route_type
      parameters:
      - description: "The run_ref is the identifier of a run as returned by the departures/*\
          \ and runs/* endpoints. WARNING, run_id is deprecated. Use run_ref instead."
        explode: false
        in: path
        name: run_ref
        required: true
        schema:
          type: string
        style: simple
      - description: Number identifying transport mode; values returned via RouteTypes
          API
        explode: false
        in: path
        name: route_type
        required: true
        schema:
          enum:
          - 0
          - 1
          - 2
          - 3
          - 4
          format: int32
          type: integer
        style: simple
      - description: "List of objects to be returned in full (i.e. expanded) - options\
          \ include: All, VehiclePosition, VehicleDescriptor, or None. Default is\
          \ None."
        explode: true
        in: query
        name: expand
        required: true
        schema:
          items:
            enum:
            - All
            - VehicleDescriptor
            - VehiclePosition
            - None
            type: string
          type: array
        style: form
      - description: Date of the request. (optional - defaults to now)
        explode: true
        in: query
        name: date_utc
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Indicates if geopath data will be returned (default = false)
        explode: true
        in: query
        name: include_geopath
        required: false
        schema:
          type: boolean
        style: form
      - description: Please ignore
        explode: true
        in: query
        name: token
        required: false
        schema:
          type: string
        style: form
      - description: Your developer id
        explode: true
        in: query
        name: devid
        required: false
        schema:
          type: string
        style: form
      - description: Authentication signature for request
        explode: true
        in: query
        name: signature
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.RunResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.RunResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.RunResponse'
          description: The trip/service run details for the run_ref and route type
            specified.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
          description: Invalid Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
          description: Access Denied
      summary: View the trip/service run for a specific run_ref and route type
      tags:
      - Runs
      x-openapi-router-controller: openapi_server.controllers.runs_controller
  /v3/search/{search_term}:
    get:
      deprecated: false
      operationId: search_search
      parameters:
      - description: "Search text (note: if search text is numeric and/or less than\
          \ 3 characters, the API will only return routes)"
        explode: false
        in: path
        name: search_term
        required: true
        schema:
          type: string
        style: simple
      - description: "Filter by route_type; values returned via RouteTypes API (note:\
          \ stops and routes are ordered by route_types specified)"
        explode: true
        in: query
        name: route_types
        required: false
        schema:
          items:
            enum:
            - 0
            - 1
            - 2
            - 3
            - 4
            format: int32
            type: integer
          type: array
        style: form
      - description: Filter by geographic coordinate of latitude
        explode: true
        in: query
        name: latitude
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Filter by geographic coordinate of longitude
        explode: true
        in: query
        name: longitude
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Filter by maximum distance (in metres) from location specified
          via latitude and longitude parameters
        explode: true
        in: query
        name: max_distance
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Placeholder for future development; currently unavailable
        explode: true
        in: query
        name: include_addresses
        required: false
        schema:
          type: boolean
        style: form
      - description: Indicates if outlets will be returned in response (default =
          true)
        explode: true
        in: query
        name: include_outlets
        required: false
        schema:
          type: boolean
        style: form
      - description: Indicates whether to find stops by suburbs in the search term
          (default = true)
        explode: true
        in: query
        name: match_stop_by_suburb
        required: false
        schema:
          type: boolean
        style: form
      - description: Indicates whether to find routes by suburbs in the search term
          (default = true)
        explode: true
        in: query
        name: match_route_by_suburb
        required: false
        schema:
          type: boolean
        style: form
      - description: Indicates whether to search for stops according to a metlink
          stop ID (default = false)
        explode: true
        in: query
        name: match_stop_by_gtfs_stop_id
        required: false
        schema:
          type: boolean
        style: form
      - description: Please ignore
        explode: true
        in: query
        name: token
        required: false
        schema:
          type: string
        style: form
      - description: Your developer id
        explode: true
        in: query
        name: devid
        required: false
        schema:
          type: string
        style: form
      - description: Authentication signature for request
        explode: true
        in: query
        name: signature
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.SearchResult'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.SearchResult'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.SearchResult'
          description: "Stops, routes and myki ticket outlets that contain the search\
            \ term (note: stops and routes are ordered by route_type by default)."
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
          description: Invalid Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
          description: Access Denied
      summary: "View stops, routes and myki ticket outlets that match the search term"
      tags:
      - Search
      x-openapi-router-controller: openapi_server.controllers.search_controller
  /v3/stops/location/{latitude},{longitude}:
    get:
      deprecated: false
      operationId: stops_stops_by_geolocation
      parameters:
      - description: Geographic coordinate of latitude
        explode: false
        in: path
        name: latitude
        required: true
        schema:
          format: float
          type: number
        style: simple
      - description: Geographic coordinate of longitude
        explode: false
        in: path
        name: longitude
        required: true
        schema:
          format: float
          type: number
        style: simple
      - description: Filter by route_type; values returned via RouteTypes API
        explode: true
        in: query
        name: route_types
        required: false
        schema:
          items:
            enum:
            - 0
            - 1
            - 2
            - 3
            - 4
            format: int32
            type: integer
          type: array
        style: form
      - description: Maximum number of results returned (default = 30)
        explode: true
        in: query
        name: max_results
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Filter by maximum distance (in metres) from location specified
          via latitude and longitude parameters (default = 300)
        explode: true
        in: query
        name: max_distance
        required: false
        schema:
          format: double
          type: number
        style: form
      - description: Indicates if stop disruption information will be returned (default
          = false)
        explode: true
        in: query
        name: stop_disruptions
        required: false
        schema:
          type: boolean
        style: form
      - description: Please ignore
        explode: true
        in: query
        name: token
        required: false
        schema:
          type: string
        style: form
      - description: Your developer id
        explode: true
        in: query
        name: devid
        required: false
        schema:
          type: string
        style: form
      - description: Authentication signature for request
        explode: true
        in: query
        name: signature
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.StopsByDistanceResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.StopsByDistanceResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.StopsByDistanceResponse'
          description: All stops near the specified location.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
          description: Invalid Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
          description: Access Denied
      summary: View all stops near a specific location
      tags:
      - Stops
      x-openapi-router-controller: openapi_server.controllers.stops_controller
  /v3/stops/route/{route_id}/route_type/{route_type}:
    get:
      deprecated: false
      operationId: stops_stops_for_route
      parameters:
      - description: Identifier of route; values returned by Routes API - v3/routes
        explode: false
        in: path
        name: route_id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: Number identifying transport mode; values returned via RouteTypes
          API
        explode: false
        in: path
        name: route_type
        required: true
        schema:
          enum:
          - 0
          - 1
          - 2
          - 3
          - 4
          format: int32
          type: integer
        style: simple
      - description: "An optional direction; values returned by Directions API. When\
          \ this is set, stop sequence information is returned in the response."
        explode: true
        in: query
        name: direction_id
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Indicates if stop disruption information will be returned (default
          = false)
        explode: true
        in: query
        name: stop_disruptions
        required: false
        schema:
          type: boolean
        style: form
      - description: Indicates if geopath data will be returned (default = false)
        explode: true
        in: query
        name: include_geopath
        required: false
        schema:
          type: boolean
        style: form
      - description: Filter geopaths by date (ISO 8601 UTC format) (default = current
          date)
        explode: true
        in: query
        name: geopath_utc
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Please ignore
        explode: true
        in: query
        name: token
        required: false
        schema:
          type: string
        style: form
      - description: Your developer id
        explode: true
        in: query
        name: devid
        required: false
        schema:
          type: string
        style: form
      - description: Authentication signature for request
        explode: true
        in: query
        name: signature
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.StopsOnRouteResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.StopsOnRouteResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.StopsOnRouteResponse'
          description: All stops on the specified route.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
          description: Invalid Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
          description: Access Denied
      summary: View all stops on a specific route
      tags:
      - Stops
      x-openapi-router-controller: openapi_server.controllers.stops_controller
  /v3/stops/{stop_id}/route_type/{route_type}:
    get:
      deprecated: false
      operationId: stops_stop_details
      parameters:
      - description: Identifier of stop; values returned by Stops API
        explode: false
        in: path
        name: stop_id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: Number identifying transport mode; values returned via RouteTypes
          API
        explode: false
        in: path
        name: route_type
        required: true
        schema:
          enum:
          - 0
          - 1
          - 2
          - 3
          - 4
          format: int32
          type: integer
        style: simple
      - description: Indicates if stop location information will be returned (default
          = false)
        explode: true
        in: query
        name: stop_location
        required: false
        schema:
          type: boolean
        style: form
      - description: Indicates if stop amenity information will be returned (default
          = false)
        explode: true
        in: query
        name: stop_amenities
        required: false
        schema:
          type: boolean
        style: form
      - description: Indicates if stop accessibility information will be returned
          (default = false)
        explode: true
        in: query
        name: stop_accessibility
        required: false
        schema:
          type: boolean
        style: form
      - description: Indicates if stop contact information will be returned (default
          = false)
        explode: true
        in: query
        name: stop_contact
        required: false
        schema:
          type: boolean
        style: form
      - description: Indicates if stop ticket information will be returned (default
          = false)
        explode: true
        in: query
        name: stop_ticket
        required: false
        schema:
          type: boolean
        style: form
      - description: Incdicates whether the stop_id is a GTFS ID or not
        explode: true
        in: query
        name: gtfs
        required: false
        schema:
          type: boolean
        style: form
      - description: Indicates if stop staffing information will be returned (default
          = false)
        explode: true
        in: query
        name: stop_staffing
        required: false
        schema:
          type: boolean
        style: form
      - description: Indicates if stop disruption information will be returned (default
          = false)
        explode: true
        in: query
        name: stop_disruptions
        required: false
        schema:
          type: boolean
        style: form
      - description: Please ignore
        explode: true
        in: query
        name: token
        required: false
        schema:
          type: string
        style: form
      - description: Your developer id
        explode: true
        in: query
        name: devid
        required: false
        schema:
          type: string
        style: form
      - description: Authentication signature for request
        explode: true
        in: query
        name: signature
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.StopResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.StopResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.StopResponse'
          description: "Stop location, amenity and accessibility facility information\
            \ for the specified stop (metropolitan and V/Line stations only)."
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
          description: Invalid Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
          description: Access Denied
      summary: View facilities at a specific stop (Metro and V/Line stations only)
      tags:
      - Stops
      x-openapi-router-controller: openapi_server.controllers.stops_controller
components:
  schemas:
    V2.Object:
      example: {}
      properties: {}
      title: V2.Object
      type: object
    V2.Void:
      properties: {}
      type: object
    V3.BulkDeparturesRequest:
      properties:
        date_utc:
          description: Filter by the date and time of the request (ISO 8601 UTC format)
            (default = current date and time)
          format: date-time
          type: string
        expand:
          description: "List objects to be returned in full (i.e. expanded) - options\
            \ include: all, stop, route, run, direction, disruption, none"
          items:
            enum:
            - All
            - Stop
            - Route
            - Run
            - Direction
            - Disruption
            - VehicleDescriptor
            - VehiclePosition
            - None
            type: string
          type: array
        include_cancelled:
          description: Indicates if cancelled services (if they exist) are returned
            (default = false) - metropolitan train only
          type: boolean
        include_geopath:
          description: Indicates if the route geopath should be returned
          type: boolean
        look_backwards:
          description: Indicates if filtering runs (and their departures) to those
            that arrive at destination before date_utc (default = false). Requires
            max_results &gt; 0.
          type: boolean
        requests:
          description: Collection of departure requests
          items:
            $ref: '#/components/schemas/V3.StopDepartureRequest'
          type: array
      required:
      - requests
      type: object
    V3.BulkDeparturesResponse:
      properties:
        directions:
          description: Directions of travel of route
          items:
            $ref: '#/components/schemas/V3.Direction'
          type: array
        disruptions:
          additionalProperties:
            $ref: '#/components/schemas/V3.Disruption'
          description: Disruption information applicable to relevant routes or stops
          type: object
        responses:
          description: Contains departures for the requested stop and route(s). It
            includes details as to the route_direction and whether it is still valid.
          items:
            $ref: '#/components/schemas/V3.BulkDeparturesUpdateResponse'
          type: array
        routes:
          description: "Train lines, tram routes, bus routes, regional coach routes,\
            \ Night Bus routes"
          items:
            $ref: '#/components/schemas/V2.Object'
          type: array
        runs:
          description: Individual trips/services of a route
          items:
            $ref: '#/components/schemas/V3.Run'
          type: array
        status:
          $ref: '#/components/schemas/V3.Status'
        stops:
          additionalProperties:
            $ref: '#/components/schemas/V3.BulkDeparturesStopResponse'
          description: "A train station, tram stop, bus stop, regional coach stop\
            \ or Night Bus stop"
          type: object
      type: object
    V3.BulkDeparturesRouteDirectionResponse:
      properties:
        direction_id:
          description: Direction of travel identifier
          format: int32
          title: direction_id
          type: integer
        direction_name:
          description: Name of direction of travel
          title: direction_name
          type: string
        route_id:
          description: Route identifier
          title: route_id
          type: string
      title: V3.BulkDeparturesRouteDirectionResponse
      type: object
    V3.BulkDeparturesStopResponse:
      properties:
        stop_id:
          description: Stop identifier
          format: int32
          title: stop_id
          type: integer
        stop_landmark:
          description: Landmark in proximity of stop
          title: stop_landmark
          type: string
        stop_latitude:
          description: Geographic coordinate of latitude at stop
          format: float
          title: stop_latitude
          type: number
        stop_longitude:
          description: Geographic coordinate of longitude at stop
          format: float
          title: stop_longitude
          type: number
        stop_name:
          description: Name of stop
          title: stop_name
          type: string
        stop_suburb:
          description: suburb of stop
          title: stop_suburb
          type: string
      title: V3.BulkDeparturesStopResponse
      type: object
    V3.BulkDeparturesUpdateResponse:
      properties:
        departures:
          description: Timetabled and real-time service departures
          items:
            $ref: '#/components/schemas/V3.Departure'
          title: departures
          type: array
        requested_route_direction:
          $ref: '#/components/schemas/V3.BulkDeparturesRouteDirectionResponse'
        route_direction:
          $ref: '#/components/schemas/V3.BulkDeparturesRouteDirectionResponse'
        route_direction_status:
          description: "The status of the route direction (changed | unchanged).\r\
            \n            If changed, requests should change the requested_route_direction\
            \ for the route_direction supplied."
          enum:
          - 0
          - 1
          format: int32
          title: route_direction_status
          type: integer
        route_type:
          description: Transport mode identifier
          format: int32
          title: route_type
          type: integer
        stop_id:
          description: Stop identifier
          format: int32
          title: stop_id
          type: integer
      title: V3.BulkDeparturesUpdateResponse
      type: object
    V3.Departure:
      example:
        scheduled_departure_utc: 2000-01-23T04:56:07.000+00:00
        direction_id: 6
        departure_sequence: 0
        estimated_departure_utc: 2000-01-23T04:56:07.000+00:00
        route_id: 5
        run_id: 5
        run_ref: run_ref
        stop_id: 2
        flags: flags
        platform_number: platform_number
        at_platform: true
        disruption_ids:
        - 1
        - 1
      properties:
        at_platform:
          description: Indicates if the metropolitan train service is at the platform
            at the time of query; returns false for other modes
          title: at_platform
          type: boolean
        departure_sequence:
          description: "Chronological sequence for the departures in a run. Order\
            \ ascendingly by this field to get chronological order (earliest first)\
            \ of departures with the same run_ref. NOTE, this field is not always\
            \ N+1 or N-1 of the previous or following departure. e.g 100, 200, 250,\
            \ 300 instead of 1, 2, 3, 4"
          format: int32
          title: departure_sequence
          type: integer
        direction_id:
          description: Direction of travel identifier
          format: int32
          title: direction_id
          type: integer
        disruption_ids:
          description: Disruption information identifier(s)
          items:
            format: int64
            type: integer
          title: disruption_ids
          type: array
        estimated_departure_utc:
          description: Real-time estimate of departure time and date in ISO 8601 UTC
            format
          format: date-time
          title: estimated_departure_utc
          type: string
        flags:
          description: "Flag indicating special condition for run (e.g. RR Reservations\
            \ Required, GC Guaranteed Connection, DOO Drop Off Only, PUO Pick Up Only,\
            \ MO Mondays only, TU Tuesdays only, WE Wednesdays only, TH Thursdays\
            \ only, FR Fridays only, SS School days only; ignore E flag)"
          title: flags
          type: string
        platform_number:
[...]
