openapi: 3.0.1
info:
  description: Azure Application Insights client for selecting pricing plans and options.
  title: ApplicationInsightsManagementClient
  version: 2015-05-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2015-05-01/componentFeaturesAndPricing_API.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: applicationinsights-componentFeaturesAndPricing_API
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/components/{resourceName}/currentbillingfeatures
  : get:
      description: Returns current billing features for an Application Insights component.
      operationId: component_current_billing_features_get
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the Application Insights component resource.
        in: path
        name: resourceName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationInsightsComponentBillingFeatures'
          description: An Application Insights component billing features definition.
      x-ms-examples:
        ComponentCurrentBillingFeaturesGet:
          parameters:
            api-version: 2015-05-01
            resourceGroupName: my-resource-group
            resourceName: my-component
            subscriptionId: subid
          responses:
            "200":
              body:
                CurrentBillingFeatures:
                - Basic
                DataVolumeCap:
                  Cap: 500
                  MaxHistoryCap: 500
                  ResetTime: 16
                  StopSendNotificationWhenHitCap: false
                  StopSendNotificationWhenHitThreshold: false
                  WarningThreshold: 90
      x-openapi-router-controller: openapi_server.controllers.default_controller
    put:
      description: Update current billing features for an Application Insights component.
      operationId: component_current_billing_features_update
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the Application Insights component resource.
        in: path
        name: resource_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationInsightsComponentBillingFeatures'
        description: Properties that need to be specified to update billing features
          for an Application Insights component.
        required: true
        x-body-name: BillingFeaturesProperties
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationInsightsComponentBillingFeatures'
          description: Successful request when updating billing features for an Application
            Insights component. The updated current billing features are returned.
      x-ms-examples:
        ComponentCurrentBillingFeaturesUpdate:
          parameters:
            BillingFeaturesProperties:
              CurrentBillingFeatures:
              - Basic
              - Application Insights Enterprise
              DataVolumeCap:
                Cap: 100
                StopSendNotificationWhenHitCap: true
            api-version: 2015-05-01
            resourceGroupName: my-resource-group
            resourceName: my-component
            subscriptionId: subid
          responses:
            "200":
              body:
                CurrentBillingFeatures:
                - Basic
                - Application Insights Enterprise
                DataVolumeCap:
                  Cap: 100
                  MaxHistoryCap: 500
                  ResetTime: 16
                  StopSendNotificationWhenHitCap: true
                  StopSendNotificationWhenHitThreshold: false
                  WarningThreshold: 90
      x-codegen-request-body-name: BillingFeaturesProperties
      x-openapi-router-controller: openapi_server.controllers.default_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/components/{resourceName}/featurecapabilities
  : get:
      description: Returns feature capabilities of the application insights component.
      operationId: component_feature_capabilities_get
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the Application Insights component resource.
        in: path
        name: resource_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationInsightsComponentFeatureCapabilities'
          description: An Application Insights component feature capabilities definition.
      x-ms-examples:
        ComponentCurrentBillingFeaturesGet:
          parameters:
            api-version: 2015-05-01
            resourceGroupName: my-resource-group
            resourceName: my-component
            subscriptionId: subid
          responses:
            "200":
              body:
                AnalyticsIntegration: true
                ApiAccessLevel: Premium
                ApplicationMap: true
                BurstThrottlePolicy: B2
                DailyCap: 0.0323
                DailyCapResetTime: 4
                LiveStreamMetrics: true
                MultipleStepWebTest: true
                OpenSchema: true
                PowerBIIntegration: true
                ProactiveDetection: false
                SupportExportData: true
                ThrottleRate: 0
                TrackingType: Basic
                WorkItemIntegration: true
      x-openapi-router-controller: openapi_server.controllers.default_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/components/{resourceName}/getavailablebillingfeatures
  : get:
      description: Returns all available features of the application insights component.
      operationId: component_available_features_get
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the Application Insights component resource.
        in: path
        name: resource_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationInsightsComponentAvailableFeatures'
          description: An Application Insights component available features definition.
      x-ms-examples:
        ComponentCurrentBillingFeaturesGet:
          parameters:
            api-version: 2015-05-01
            resourceGroupName: my-resource-group
            resourceName: my-component
            subscriptionId: subid
          responses:
            "200":
              body:
                Result:
                - Capabilities:
                  - Description: Number of application hosts
                    Name: hostnumber
                    Value: Unlimited
                  - Description: Included data
                    MeterId: acf26b15-ee92-440d-9973-9a72d77641aa
                    MeterRateFrequency: GB/month
                    Name: includeddata
                    Value: "1"
                  - Description: Additional data
                    MeterId: b90f8b65-6c3e-43fc-9149-bdfc73b6a5b9
                    MeterRateFrequency: /GB
                    Name: additionaldata
                  - Description: Data retention
                    Name: dataretention
                    Unit: days
                    Value: "90"
                  - Description: Response time monitoring and diagnostics
                    Name: responsetimemonitoring
                    Value: Enabled
                  - Description: Failed requests monitoring and diagnostics
                    Name: failedrequestsmonitoring
                    Value: Enabled
                  - Description: Browser performance
                    Name: browserperformance
                    Value: Enabled
                  - Description: Usage analysis
                    Name: usageanalysis
                    Value: Enabled
                  - Description: Server monitoring
                    Name: servermonitoring
                    Value: Enabled
                  - Description: Alerting and notifications
                    Name: alertingandnotifications
                    Value: Enabled
                  - Description: Daily notification of failed request rate spikes
                    Name: notificationfailedrequestrate
                    Value: Enabled
                  - Description: Telemetry analyzer
                    Name: telemetryanalyzer
                    Value: Enabled
                  - Description: Search and Analytics
                    Name: searchandanalytics
                    Value: Enabled
                  - Description: Web tests (multi-step tests)
                    MeterId: 0aa0e0e9-3f58-4dcf-9bb0-9db7ae1d5954
                    MeterRateFrequency: /test (per month)
                    Name: webtests
                  - Description: Live stream metrics
                    Name: livestreammetrics
                    Value: Enabled
                  - Description: Application map
                    Name: applicationmap
                    Value: Enabled
                  - Description: Daily notification for many key metrics
                    Name: dailynotificationforkeymetrics
                    Value: Enabled
                  - Description: Work item integration
                    Name: workitemintegration
                    Value: Enabled
                  - Description: API access
                    Name: apiaccess
                    Value: Enabled
                  - Description: Power BI integration
                    Name: powerbiintegration
                    Value: Enabled
                  - Description: Bulk data import
                    Name: bulkdataimport
                    Value: Enabled
                  - Description: Automatic data evaluation
                    Name: automaticdataevaluation
                    Value: Enabled
                  - Description: Analytics integration with Azure dashboards
                    Name: analyticsintegration
                    Value: Enabled
                  - Description: Continuous export
                    MeterId: 90fa4d31-3ea2-4178-a894-ec4c76c712b2
                    MeterRateFrequency: /GB
                    Name: continuousexport
                    Value: Enabled
                  - Description: Default daily cap
                    Name: defaultdailycap
                    Unit: G
                    Value: "100"
                  - Description: Default maximum daily cap
                    Name: defaultmaxdailycap
                    Unit: G
                    Value: "1000"
                  FeatureName: Basic
                  IsHidden: true
                  IsMainFeature: true
                  MeterId: c9a05f12-4910-4527-a9ec-1db4e4dba60e
                  MeterRateFrequency: /month
                  SupportedAddonFeatures: Application Insights Enterprise
                  Title: Application Insights Basic
                - Capabilities:
                  - Description: Enterprise Included data
                    MeterId: acf26b15-ee92-440d-9973-9a72d77641aa
                    MeterRateFrequency: GB/month
                    Name: enterpriseincludeddata
                    Value: "0.20"
                  - Description: Enterprise Additional data
                    MeterId: 3fedc88a-b68f-4936-bbf0-f290a254388c
                    MeterRateFrequency: /GB
                    Name: enterpriseadditionaldata
                  - Description: Default daily cap
                    Name: defaultdailycap
                    Unit: G
                    Value: "100"
                  - Description: Default maximum daily cap
                    Name: defaultmaxdailycap
                    Unit: G
                    Value: "1000"
                  FeatureName: Application Insights Enterprise
                  IsHidden: false
                  IsMainFeature: false
                  MeterId: 222f32c5-a319-4787-b934-5fb95105b2c8
                  MeterRateFrequency: /node/month
                  Title: Enterprise
      x-openapi-router-controller: openapi_server.controllers.default_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/components/{resourceName}/quotastatus
  : get:
      description: Returns daily data volume cap (quota) status for an Application
        Insights component.
      operationId: component_quota_status_get
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the Application Insights component resource.
        in: path
        name: resource_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationInsightsComponentQuotaStatus'
          description: An Application Insights component daily data volume cap status
            definition.
      x-ms-examples:
        ComponentCurrentBillingFeaturesGet:
          parameters:
            api-version: 2015-05-01
            resourceGroupName: my-resource-group
            resourceName: my-component
            subscriptionId: subid
          responses:
            "200":
              body:
                AppId: 887f4bfd-b5fd-40d7-9fc3-123456789abc
                ExpirationTime: 2017-08-10T05:00:00
                ShouldBeThrottled: true
      x-openapi-router-controller: openapi_server.controllers.default_controller
components:
  parameters:
    ResourceNameParameter:
      description: The name of the Application Insights component resource.
      in: path
      name: resourceName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  schemas:
    ApplicationInsightsComponentAvailableFeatures:
      description: An Application Insights component available features.
      example:
        Result:
        - IsHidden: true
          Capabilities:
          - Description: Description
            Value: Value
            MeterRateFrequency: MeterRateFrequency
            Unit: Unit
            MeterId: MeterId
            Name: Name
          - Description: Description
            Value: Value
            MeterRateFrequency: MeterRateFrequency
            Unit: Unit
            MeterId: MeterId
            Name: Name
          IsMainFeature: true
          MeterRateFrequency: MeterRateFrequency
          Title: Title
          ResouceId: ResouceId
          SupportedAddonFeatures: SupportedAddonFeatures
          FeatureName: FeatureName
          MeterId: MeterId
        - IsHidden: true
          Capabilities:
          - Description: Description
            Value: Value
            MeterRateFrequency: MeterRateFrequency
            Unit: Unit
            MeterId: MeterId
            Name: Name
          - Description: Description
            Value: Value
            MeterRateFrequency: MeterRateFrequency
            Unit: Unit
            MeterId: MeterId
            Name: Name
          IsMainFeature: true
          MeterRateFrequency: MeterRateFrequency
          Title: Title
          ResouceId: ResouceId
          SupportedAddonFeatures: SupportedAddonFeatures
          FeatureName: FeatureName
          MeterId: MeterId
      properties:
        Result:
          description: A list of Application Insights component feature.
          items:
            $ref: '#/components/schemas/ApplicationInsightsComponentFeature'
          readOnly: true
          title: Result
          type: array
      title: ApplicationInsightsComponentAvailableFeatures
      type: object
    ApplicationInsightsComponentBillingFeatures:
      description: An Application Insights component billing features
      example:
        CurrentBillingFeatures:
        - CurrentBillingFeatures
        - CurrentBillingFeatures
        DataVolumeCap:
          Cap: 0.8008281904610115
          WarningThreshold: 5
          MaxHistoryCap: 6.027456183070403
          StopSendNotificationWhenHitCap: true
          StopSendNotificationWhenHitThreshold: true
          ResetTime: 1
      properties:
        CurrentBillingFeatures:
          description: "Current enabled pricing plan. When the component is in the\
            \ Enterprise plan, this will list both 'Basic' and 'Application Insights\
            \ Enterprise'."
          items:
            type: string
          title: CurrentBillingFeatures
          type: array
        DataVolumeCap:
          $ref: '#/components/schemas/ApplicationInsightsComponentDataVolumeCap'
      title: ApplicationInsightsComponentBillingFeatures
      type: object
    ApplicationInsightsComponentDataVolumeCap:
      description: An Application Insights component daily data volume cap
      example:
        Cap: 0.8008281904610115
        WarningThreshold: 5
        MaxHistoryCap: 6.027456183070403
        StopSendNotificationWhenHitCap: true
        StopSendNotificationWhenHitThreshold: true
        ResetTime: 1
      properties:
        Cap:
          description: Daily data volume cap in GB.
          title: Cap
          type: number
        MaxHistoryCap:
          description: Maximum daily data volume cap that the user can set for this
            component.
          readOnly: true
          title: MaxHistoryCap
          type: number
        ResetTime:
          description: Daily data volume cap UTC reset hour.
          readOnly: true
          title: ResetTime
          type: integer
        StopSendNotificationWhenHitCap:
          description: Do not send a notification email when the daily data volume
            cap is met.
          title: StopSendNotificationWhenHitCap
          type: boolean
        StopSendNotificationWhenHitThreshold:
          description: "Reserved, not used for now."
          title: StopSendNotificationWhenHitThreshold
          type: boolean
        WarningThreshold:
          description: "Reserved, not used for now."
          title: WarningThreshold
          type: integer
      title: ApplicationInsightsComponentDataVolumeCap
      type: object
    ApplicationInsightsComponentFeature:
      description: An Application Insights component daily data volume cap status
      example:
        IsHidden: true
        Capabilities:
        - Description: Description
          Value: Value
          MeterRateFrequency: MeterRateFrequency
          Unit: Unit
          MeterId: MeterId
          Name: Name
        - Description: Description
          Value: Value
          MeterRateFrequency: MeterRateFrequency
          Unit: Unit
          MeterId: MeterId
          Name: Name
        IsMainFeature: true
        MeterRateFrequency: MeterRateFrequency
        Title: Title
        ResouceId: ResouceId
        SupportedAddonFeatures: SupportedAddonFeatures
        FeatureName: FeatureName
        MeterId: MeterId
      properties:
        Capabilities:
          description: A list of Application Insights component feature capability.
          items:
            $ref: '#/components/schemas/ApplicationInsightsComponentFeatureCapability'
          readOnly: true
          title: Capabilities
          type: array
        FeatureName:
          description: The pricing feature name.
          readOnly: true
          title: FeatureName
          type: string
        IsHidden:
          description: "Reserved, not used now."
          readOnly: true
          title: IsHidden
          type: boolean
        IsMainFeature:
          description: Whether can apply addon feature on to it.
          readOnly: true
          title: IsMainFeature
          type: boolean
        MeterId:
          description: The meter id used for the feature.
          readOnly: true
          title: MeterId
          type: string
        MeterRateFrequency:
          description: The meter rate for the feature's meter.
          readOnly: true
          title: MeterRateFrequency
          type: string
        ResouceId:
          description: "Reserved, not used now."
          readOnly: true
          title: ResouceId
          type: string
        SupportedAddonFeatures:
          description: The add on features on main feature.
          readOnly: true
          title: SupportedAddonFeatures
          type: string
        Title:
          description: Display name of the feature.
          readOnly: true
          title: Title
          type: string
      title: ApplicationInsightsComponentFeature
      type: object
    ApplicationInsightsComponentFeatureCapabilities:
      description: An Application Insights component feature capabilities
      example:
        ApplicationMap: true
        ThrottleRate: 1.4658129805029452
        LiveStreamMetrics: true
        ApiAccessLevel: ApiAccessLevel
        AnalyticsIntegration: true
        MultipleStepWebTest: true
        PowerBIIntegration: true
        ProactiveDetection: true
        OpenSchema: true
        TrackingType: TrackingType
        WorkItemIntegration: true
        MetadataClass: MetadataClass
        DailyCap: 0.8008281904610115
        BurstThrottlePolicy: BurstThrottlePolicy
        DailyCapResetTime: 6.027456183070403
        SupportExportData: true
      properties:
        AnalyticsIntegration:
          description: "Reserved, not used now."
          readOnly: true
          title: AnalyticsIntegration
          type: boolean
        ApiAccessLevel:
          description: "Reserved, not used now."
          readOnly: true
          title: ApiAccessLevel
          type: string
        ApplicationMap:
          description: "Reserved, not used now."
          readOnly: true
          title: ApplicationMap
          type: boolean
        BurstThrottlePolicy:
          description: "Reserved, not used now."
          readOnly: true
          title: BurstThrottlePolicy
          type: string
        DailyCap:
          description: Daily data volume cap in GB.
          readOnly: true
          title: DailyCap
          type: number
        DailyCapResetTime:
          description: Daily data volume cap UTC reset hour.
          readOnly: true
          title: DailyCapResetTime
          type: number
        LiveStreamMetrics:
          description: "Reserved, not used now."
          readOnly: true
          title: LiveStreamMetrics
          type: boolean
        MetadataClass:
          description: "Reserved, not used now."
          readOnly: true
          title: MetadataClass
          type: string
        MultipleStepWebTest:
          description: Whether allow to use multiple steps web test feature.
          readOnly: true
          title: MultipleStepWebTest
          type: boolean
        OpenSchema:
          description: "Reserved, not used now."
          readOnly: true
          title: OpenSchema
          type: boolean
        PowerBIIntegration:
          description: "Reserved, not used now."
          readOnly: true
          title: PowerBIIntegration
          type: boolean
        ProactiveDetection:
          description: "Reserved, not used now."
          readOnly: true
          title: ProactiveDetection
          type: boolean
        SupportExportData:
          description: Whether allow to use continuous export feature.
          readOnly: true
          title: SupportExportData
          type: boolean
        ThrottleRate:
          description: "Reserved, not used now."
          readOnly: true
          title: ThrottleRate
          type: number
        TrackingType:
          description: The application insights component used tracking type.
          readOnly: true
          title: TrackingType
          type: string
        WorkItemIntegration:
          description: Whether allow to use work item integration feature.
          readOnly: true
          title: WorkItemIntegration
          type: boolean
      title: ApplicationInsightsComponentFeatureCapabilities
      type: object
    ApplicationInsightsComponentFeatureCapability:
      description: An Application Insights component feature capability
      example:
        Description: Description
        Value: Value
        MeterRateFrequency: MeterRateFrequency
        Unit: Unit
        MeterId: MeterId
        Name: Name
      properties:
        Description:
          description: The description of the capability.
          readOnly: true
          title: Description
          type: string
        MeterId:
          description: The meter used for the capability.
          readOnly: true
          title: MeterId
          type: string
        MeterRateFrequency:
          description: The meter rate of the meter.
          readOnly: true
          title: MeterRateFrequency
          type: string
        Name:
          description: The name of the capability.
          readOnly: true
          title: Name
          type: string
        Unit:
          description: The unit of the capability.
          readOnly: true
          title: Unit
          type: string
        Value:
          description: The value of the capability.
          readOnly: true
          title: Value
          type: string
      title: ApplicationInsightsComponentFeatureCapability
      type: object
    ApplicationInsightsComponentQuotaStatus:
      description: An Application Insights component daily data volume cap status
      example:
        AppId: AppId
        ExpirationTime: ExpirationTime
        ShouldBeThrottled: true
      properties:
        AppId:
          description: The Application ID for the Application Insights component.
          readOnly: true
          title: AppId
          type: string
        ExpirationTime:
          description: "Date and time when the daily data volume cap will be reset,\
            \ and data ingestion will resume."
          readOnly: true
          title: ExpirationTime
          type: string
        ShouldBeThrottled:
          description: "The daily data volume cap is met, and data ingestion will\
            \ be stopped."
          readOnly: true
          title: ShouldBeThrottled
          type: boolean
      title: ApplicationInsightsComponentQuotaStatus
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
