openapi: 3.0.0
info:
  contact:
    email: gunifydevops@vonage.com
    name: VGIS
    url: https://integrate.vonage.com
  description: |
    The Vonage Integration Suite API enables call control and webhooks for call events.

    Your application must subscribe to the VonageIntegrationSuite API suite to use this API.
  title: Vonage Integration Suite
  version: 1.0.1
  x-origin:
  - format: openapi
    url: https://raw.githubusercontent.com/nexmo/api-specification/master/definitions/vonage-business-cloud/vgis.yml
    version: "3.0"
  x-providerName: vonage.com
  x-serviceName: vgis
servers:
- url: https://api.vonage.com/t/vbc.prod/vis/v1
tags:
- name: Users
- name: Accounts
- name: Calls
- name: Events
- description: Webhooks are external URLs which subscribe to receive events via HTTP
    POST for a specified set of events.
  name: Webhooks
paths:
  /self:
    get:
      operationId: get_user
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Bad Request: The client should not repeat the request without\
            \ modifications"
        "401":
          description: "Unauthorized: Invalid access token"
        "403":
          description: "Forbidden: The user has no rights to access the resource(s)"
        "408":
          description: "Timeout: The client may repeat the request without modifications"
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation Error
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
      summary: User info
      tags:
      - Users
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-openapi-router-controller: openapi_server.controllers.users_controller
  /self/account:
    get:
      operationId: get_account
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Bad Request: The client should not repeat the request without\
            \ modifications"
        "401":
          description: "Unauthorized: Invalid access token"
        "403":
          description: "Forbidden: The user has no rights to access the resource(s)"
        "408":
          description: "Timeout: The client may repeat the request without modifications"
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation Error
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
      summary: Account info
      tags:
      - Accounts
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-openapi-router-controller: openapi_server.controllers.accounts_controller
  /self/calls:
    get:
      description: Lists currently active calls
      operationId: list_calls
      parameters:
      - description: Return calls that occurred after this point in time
        explode: true
        in: query
        name: fromDate
        required: false
        schema:
          type: integer
        style: form
      - description: Return calls that occurred before this point in time
        explode: true
        in: query
        name: toDate
        required: false
        schema:
          type: integer
        style: form
      - description: "Filter by call direction. For multiple criteria, seperate values\
          \ by a comma."
        explode: true
        in: query
        name: direction
        required: false
        schema:
          enum:
          - INBOUND
          - OUTBOUND
          example: "INBOUND,OUTBOUND"
          type: string
        style: form
      - description: "Filter calls by state. For multiple criteria, seperate values\
          \ by a comma."
        explode: true
        in: query
        name: states
        required: false
        schema:
          default: ACTIVE
          enum:
          - INITIALIZING
          - RINGING
          - ACTIVE
          - HELD
          - REMOTE_HELD
          example: "ACTIVE,RINGING"
          type: string
        style: form
      - description: Page number of calls to return
        explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Return this amount of calls in the response
        explode: true
        in: query
        name: size
        required: false
        schema:
          default: 20
          type: integer
        style: form
      - description: Sort in either ascending or descending order
        explode: true
        in: query
        name: order
        required: false
        schema:
          default: ASC
          enum:
          - DESC
          - ASC
          type: string
        style: form
      - description: Sort calls by property
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Call'
                type: array
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Bad Request: The client should not repeat the request without\
            \ modifications"
        "401":
          description: "Unauthorized: Invalid access token"
        "403":
          description: "Forbidden: The user has no rights to access the resource(s)"
        "408":
          description: "Timeout: The client may repeat the request without modifications"
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation Error
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
      summary: List active calls
      tags:
      - Calls
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-openapi-router-controller: openapi_server.controllers.calls_controller
    post:
      operationId: create_call
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallCreate'
        description: Place call parameters
        required: true
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Call'
                type: array
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Bad Request: The client should not repeat the request without\
            \ modifications"
        "401":
          description: "Unauthorized: Invalid access token"
        "403":
          description: "Forbidden: The user has no rights to access the resource(s)"
        "408":
          description: "Timeout: The client may repeat the request without modifications"
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation Error
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
      summary: Place a call
      tags:
      - Calls
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-openapi-router-controller: openapi_server.controllers.calls_controller
      x-codegen-request-body-name: body
  /self/calls/count:
    get:
      operationId: get_calls_count
      parameters:
      - description: Return calls that occurred after this point in time
        explode: true
        in: query
        name: fromDate
        required: false
        schema:
          type: integer
        style: form
      - description: Return calls that occurred before this point in time
        explode: true
        in: query
        name: toDate
        required: false
        schema:
          type: integer
        style: form
      - description: "Filter by call direction. For multiple criteria, seperate values\
          \ by a comma."
        explode: true
        in: query
        name: direction
        required: false
        schema:
          enum:
          - INBOUND
          - OUTBOUND
          example: "INBOUND,OUTBOUND"
          type: string
        style: form
      - description: "Filter calls by state. For multiple criteria, seperate values\
          \ by a comma."
        explode: true
        in: query
        name: states
        required: false
        schema:
          default: ACTIVE
          enum:
          - INITIALIZING
          - RINGING
          - ACTIVE
          - HELD
          - REMOTE_HELD
          example: "ACTIVE,RINGING"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventsCount'
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Bad Request: The client should not repeat the request without\
            \ modifications"
        "401":
          description: "Unauthorized: Invalid access token"
        "403":
          description: "Forbidden: The user has no rights to access the resource(s)"
        "408":
          description: "Timeout: The client may repeat the request without modifications"
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation Error
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
      summary: Get calls count
      tags:
      - Calls
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-openapi-router-controller: openapi_server.controllers.calls_controller
  /self/calls/{id}:
    delete:
      operationId: destroy_call
      parameters:
      - description: Unique identifier of the call
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Call'
                type: array
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Bad Request: The client should not repeat the request without\
            \ modifications"
        "401":
          description: "Unauthorized: Invalid access token"
        "403":
          description: "Forbidden: The user has no rights to access the resource(s)"
        "408":
          description: "Timeout: The client may repeat the request without modifications"
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation Error
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
      summary: End a call
      tags:
      - Calls
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-openapi-router-controller: openapi_server.controllers.calls_controller
    get:
      operationId: get_roles
      parameters:
      - description: Unique identifier of the call
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Call'
                type: array
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Bad Request: The client should not repeat the request without\
            \ modifications"
        "401":
          description: "Unauthorized: Invalid access token"
        "403":
          description: "Forbidden: The user has no rights to access the resource(s)"
        "408":
          description: "Timeout: The client may repeat the request without modifications"
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation Error
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
      summary: Get a call
      tags:
      - Calls
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-openapi-router-controller: openapi_server.controllers.calls_controller
  /self/calls/{id}/answer:
    put:
      operationId: call_answer
      parameters:
      - description: Unique identifier of the call
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Call'
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Bad Request: The client should not repeat the request without\
            \ modifications"
        "401":
          description: "Unauthorized: Invalid access token"
        "403":
          description: "Forbidden: The user has no rights to access the resource(s)"
        "408":
          description: "Timeout: The client may repeat the request without modifications"
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation Error
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
      summary: Answer call (On supported devices)
      tags:
      - Calls
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-openapi-router-controller: openapi_server.controllers.calls_controller
  /self/calls/{id}/hold:
    delete:
      operationId: call_unold
      parameters:
      - description: Unique identifier of the call
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Call'
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Bad Request: The client should not repeat the request without\
            \ modifications"
        "401":
          description: "Unauthorized: Invalid access token"
        "403":
          description: "Forbidden: The user has no rights to access the resource(s)"
        "408":
          description: "Timeout: The client may repeat the request without modifications"
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation Error
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
      summary: Unhold
      tags:
      - Calls
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-openapi-router-controller: openapi_server.controllers.calls_controller
    put:
      operationId: call_hold
      parameters:
      - description: Unique identifier of the call
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Call'
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Bad Request: The client should not repeat the request without\
            \ modifications"
        "401":
          description: "Unauthorized: Invalid access token"
        "403":
          description: "Forbidden: The user has no rights to access the resource(s)"
        "408":
          description: "Timeout: The client may repeat the request without modifications"
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation Error
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
      summary: Put call on hold
      tags:
      - Calls
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-openapi-router-controller: openapi_server.controllers.calls_controller
  /self/calls/{id}/transfer:
    post:
      operationId: call_transfer
      parameters:
      - description: Unique identifier of the call
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallTransfer'
        description: Call transfer parameters
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Call'
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Bad Request: The client should not repeat the request without\
            \ modifications"
        "401":
          description: "Unauthorized: Invalid access token"
        "403":
          description: "Forbidden: The user has no rights to access the resource(s)"
        "408":
          description: "Timeout: The client may repeat the request without modifications"
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation Error
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
      summary: Transfer call
      tags:
      - Calls
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-openapi-router-controller: openapi_server.controllers.calls_controller
      x-codegen-request-body-name: body
  /self/calls/{id}/vmtransfer:
    put:
      operationId: call_vm_transfer
      parameters:
      - description: Unique identifier of the call
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Call'
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Bad Request: The client should not repeat the request without\
            \ modifications"
        "401":
          description: "Unauthorized: Invalid access token"
        "403":
          description: "Forbidden: The user has no rights to access the resource(s)"
        "408":
          description: "Timeout: The client may repeat the request without modifications"
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation Error
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
      summary: Send call to voicemail
      tags:
      - Calls
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-openapi-router-controller: openapi_server.controllers.calls_controller
  /self/events:
    get:
      operationId: list_events
      parameters:
      - description: Record type
        explode: true
        in: query
        name: types
        required: false
        schema:
          enum:
          - CALL
          example: CALL
          type: string
        style: form
      - description: Return events that occurred after this point in time
        explode: true
        in: query
        name: fromDate
        required: false
        schema:
          type: integer
        style: form
      - description: Return events that occurred before this point in time
        explode: true
        in: query
        name: toDate
        required: false
        schema:
          type: integer
        style: form
      - description: Filter by event direction
        explode: true
        in: query
        name: direction
        required: false
        schema:
          enum:
          - INBOUND
          - OUTBOUND
          example: "INBOUND,OUTBOUND"
          type: string
        style: form
      - description: Filter events by state
        explode: true
        in: query
        name: states
        required: false
        schema:
          enum:
          - INITIALIZING
          - RINGING
          - ACTIVE
          - HELD
          - REMOTE_HELD
          - DETACHED
          - REJECTED
          - CANCELLED
          - ANSWERED
          - MISSED
          example: "ACTIVE,RINGING"
          type: string
        style: form
      - description: Page number of events to return
        explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Return this amount of events in the response
        explode: true
        in: query
        name: size
        required: false
        schema:
          default: 20
          type: integer
        style: form
      - description: Sort in either ascending or descending order'
        explode: true
        in: query
        name: order
        required: false
        schema:
          default: ASC
          enum:
          - DESC
          - ASC
          type: string
        style: form
      - description: Sort events by property
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Event'
                type: array
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Bad Request: The client should not repeat the request without\
            \ modifications"
        "401":
          description: "Unauthorized: Invalid access token"
        "403":
          description: "Forbidden: The user has no rights to access the resource(s)"
        "408":
          description: "Timeout: The client may repeat the request without modifications"
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation Error
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
      summary: List events
      tags:
      - Events
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-openapi-router-controller: openapi_server.controllers.events_controller
  /self/events/count:
    get:
      operationId: get_events_count
      parameters:
      - description: Return events that occurred after this point in time
        explode: true
        in: query
        name: fromDate
        required: false
        schema:
          type: integer
        style: form
      - description: Return events that occurred before this point in time
        explode: true
        in: query
        name: toDate
        required: false
        schema:
          type: integer
        style: form
      - description: Filter by event direction
        explode: true
        in: query
        name: direction
        required: false
        schema:
          enum:
          - INBOUND
          - OUTBOUND
          example: "INBOUND,OUTBOUND"
          type: string
        style: form
      - description: Filter events by state
        explode: true
        in: query
        name: states
        required: false
        schema:
          enum:
          - INITIALIZING
          - RINGING
          - ACTIVE
          - HELD
          - REMOTE_HELD
          example: "ACTIVE,RINGING"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventsCount'
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Bad Request: The client should not repeat the request without\
            \ modifications"
        "401":
          description: "Unauthorized: Invalid access token"
        "403":
          description: "Forbidden: The user has no rights to access the resource(s)"
        "408":
          description: "Timeout: The client may repeat the request without modifications"
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation Error
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
      summary: Get events count
      tags:
      - Events
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-openapi-router-controller: openapi_server.controllers.events_controller
  /self/events/{id}:
    get:
      operationId: get_event
      parameters:
      - description: Unique identifier of the event
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Event'
                type: array
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Bad Request: The client should not repeat the request without\
            \ modifications"
        "401":
          description: "Unauthorized: Invalid access token"
        "403":
          description: "Forbidden: The user has no rights to access the resource(s)"
        "408":
          description: "Timeout: The client may repeat the request without modifications"
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation Error
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
      summary: Get event
      tags:
      - Events
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-openapi-router-controller: openapi_server.controllers.events_controller
  /self/webhooks:
    get:
      operationId: list_webhooks
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Webhook'
                type: array
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Bad Request: The client should not repeat the request without\
            \ modifications"
        "401":
          description: "Unauthorized: Invalid access token"
        "403":
          description: "Forbidden: The user has no rights to access the resource(s)"
        "408":
          description: "Timeout: The client may repeat the request without modifications"
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation Error
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
      summary: List web hooks
      tags:
      - Webhooks
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-openapi-router-controller: openapi_server.controllers.webhooks_controller
    post:
      operationId: create_webhook
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookCreate'
        description: Webhook create parameters
        required: true
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Bad Request: The client should not repeat the request without\
            \ modifications"
        "401":
          description: "Unauthorized: Invalid access token"
        "403":
          description: "Forbidden: The user has no rights to access the resource(s)"
        "408":
          description: "Timeout: The client may repeat the request without modifications"
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation Error
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
      summary: Create a new webhook subscription
      tags:
      - Webhooks
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-openapi-router-controller: openapi_server.controllers.webhooks_controller
      x-codegen-request-body-name: body
  /self/webhooks/{id}:
    delete:
      operationId: destroy_webhook
      parameters:
      - description: Unique identifier of the webhook
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Bad Request: The client should not repeat the request without\
            \ modifications"
        "401":
          description: "Unauthorized: Invalid access token"
        "403":
          description: "Forbidden: The user has no rights to access the resource(s)"
        "408":
          description: "Timeout: The client may repeat the request without modifications"
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation Error
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
      summary: Remove a web hook
      tags:
      - Webhooks
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-openapi-router-controller: openapi_server.controllers.webhooks_controller
    get:
      operationId: view_webhook
      parameters:
      - description: Unique identifier of the webhook
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Bad Request: The client should not repeat the request without\
            \ modifications"
        "401":
          description: "Unauthorized: Invalid access token"
        "403":
          description: "Forbidden: The user has no rights to access the resource(s)"
        "408":
          description: "Timeout: The client may repeat the request without modifications"
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation Error
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
      summary: Get web hook details
      tags:
      - Webhooks
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-openapi-router-controller: openapi_server.controllers.webhooks_controller
  /self/webhooks/{id}/renew:
    put:
      operationId: renew_webhook
      parameters:
      - description: Webhook ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Bad Request: The client should not repeat the request without\
            \ modifications"
        "401":
          description: "Unauthorized: Invalid access token"
        "403":
          description: "Forbidden: The user has no rights to access the resource(s)"
        "408":
          description: "Timeout: The client may repeat the request without modifications"
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation Error
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
      summary: Renews a web hook
      tags:
      - Webhooks
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-openapi-router-controller: openapi_server.controllers.webhooks_controller
components:
  schemas:
    Account:
      example:
        org: Vonage
        name: Vonage
        id: 257073
        ucis:
        - health:
            message: message
            status: status
          ucpAccountId: ucpAccountId
          id: 0
          type: ACCOUNT_UCI
          ucpLabel: ucpLabel
        - health:
            message: message
            status: status
          ucpAccountId: ucpAccountId
          id: 0
          type: ACCOUNT_UCI
          ucpLabel: ucpLabel
        status: ACTIVE
      properties:
        id:
          description: Unique identifier of the account
          example: 257073
          title: id
          type: integer
        name:
          description: Name of the account
          example: Vonage
          title: name
          type: string
        org:
          description: Organization of the account
          example: Vonage
          title: org
          type: string
        status:
          description: Status of the account
          enum:
          - PENDING
          - ACTIVE
          - DELETED
          - ARCHIVED
          example: ACTIVE
          title: status
          type: string
        ucis:
          items:
            $ref: '#/components/schemas/Account_ucis_inner'
          title: ucis
          type: array
      title: Account
      type: object
    Call:
      example:
        answerTime: 2000-01-23
        externalId: externalId
        uciId: 5
        type: CALL
        userId: 5
        duration: 6
        accountId: 0
        phoneNumber: phoneNumber
        startTime: 2000-01-23
        callerId: callerId
        endTime: 2000-01-23
        id: 1
        state: INITIALIZING
        direction: INBOUND
      properties:
        accountId:
          description: Unique identifier of the account
          format: int64
          title: accountId
          type: integer
        answerTime:
          description: Time to answer the call
          format: date
          title: answerTime
          type: string
        callerId:
          description: Remote caller ID
          title: callerId
          type: string
        direction:
          description: Direction of the call
          enum:
          - INBOUND
          - OUTBOUND
          title: direction
          type: string
        duration:
          description: Duration of the call in milliseconds
          format: int64
          title: duration
          type: integer
        endTime:
          description: End time of the call
          format: date
          title: endTime
          type: string
        externalId:
          description: External identifier of the call
          title: externalId
          type: string
        id:
          description: Unique identifier of the call
          format: int64
          title: id
          type: integer
        phoneNumber:
          description: Unique identifier of the account
          title: phoneNumber
          type: string
        startTime:
          description: Start time of the call
          format: date
          title: startTime
          type: string
        state:
          description: Status of the call
          enum:
          - INITIALIZING
          - RINGING
          - ACTIVE
          - HELD
          - REMOTE_HELD
          - DETACHED
          - REJECTED
          - CANCELLED
          - ANSWERED
          - MISSED
          title: state
          type: string
        type:
          description: Record type
          enum:
          - CALL
          title: type
          type: string
        uciId:
          description: Unique identifier of communications provider
          format: int64
          title: uciId
          type: integer
        userId:
          description: Unique identifier of the user
          format: int64
          title: userId
          type: integer
      required:
      - accountId
      - direction
      - duration
      - id
      - phoneNumber
      - startTime
      - state
      - type
      - uciId
      - userId
      title: Call
      type: object
    CallCreate:
      example:
        phoneNumber: phoneNumber
      properties:
        phoneNumber:
          description: Phone number to call
          title: phoneNumber
          type: string
      required:
      - phoneNumber
      title: CallCreate
      type: object
    CallTransfer:
      example:
        phoneNumber: phoneNumber
      properties:
        phoneNumber:
          description: Phone number to transfer to
          title: phoneNumber
          type: string
      required:
      - phoneNumber
      title: CallTransfer
      type: object
    Error:
      example:
        field: field
        message: message
      properties:
        field:
          title: field
          type: string
        message:
          title: message
          type: string
      title: Error
      type: object
    ErrorResponse:
      example:
        errorMessage: errorMessage
        errorCode: errorCode
        errors:
        - field: field
          message: message
        - field: field
          message: message
      properties:
        errorCode:
          title: errorCode
          type: string
        errorMessage:
          title: errorMessage
          type: string
        errors:
          items:
            $ref: '#/components/schemas/Error'
          title: errors
          type: array
      title: ErrorResponse
      type: object
    Event:
      example:
        smsData: smsData
        answerTime: 2000-01-23
        externalId: externalId
        uciId: 5
        type: CALL
        userId: 5
        duration: 6
        accountId: 0
        phoneNumber: phoneNumber
        startTime: 2000-01-23
        callerId: callerId
        endTime: 2000-01-23
        id: 1
        state: INITIALIZING
        direction: INBOUND
      properties:
        accountId:
          description: Unique identifier of the account
          format: int64
          title: accountId
          type: integer
        answerTime:
          description: Time to answer the event
          format: date
          title: answerTime
          type: string
        callerId:
          description: Remote caller ID
          title: callerId
          type: string
        direction:
          description: Direction of the event
          enum:
          - INBOUND
          - OUTBOUND
          title: direction
          type: string
        duration:
          description: Duration of the call in milliseconds
          format: int64
          title: duration
          type: integer
        endTime:
          description: End time of the event
          format: date
          title: endTime
          type: string
        externalId:
          description: External identifier of the event
          title: externalId
          type: string
        id:
          description: Unique identifier of the event
          format: int64
          title: id
          type: integer
        phoneNumber:
          description: Unique identifier of the account
          title: phoneNumber
          type: string
        smsData:
          title: smsData
          type: string
        startTime:
          description: Start time of the event
          format: date
          title: startTime
          type: string
        state:
          description: Status of the event
          enum:
          - INITIALIZING
          - RINGING
          - ACTIVE
          - HELD
          - REMOTE_HELD
          - DETACHED
          - REJECTED
          - CANCELLED
          - ANSWERED
          - MISSED
          title: state
          type: string
        type:
          description: Record type
          enum:
          - CALL
          title: type
          type: string
        uciId:
          description: Unique identifier of communications provider
          format: int64
          title: uciId
          type: integer
        userId:
          description: Unique identifier of the user
          format: int64
          title: userId
          type: integer
      required:
      - accountId
      - direction
      - id
      - phoneNumber
      - startTime
      - state
      - type
      - uciId
      - userId
      title: Event
      type: object
    EventsCount:
      example:
        count: 0
      properties:
        count:
          description: Number of events found
          format: int64
          title: count
          type: integer
      title: EventsCount
      type: object
    User:
      example:
        accountId: 257073
        firstName: Robert
        lastName: Smith
        emailAddress: john.smith@example.com
        acountLabel: Vonage
        roles:
        - code: AU
          name: Account User
        - code: AU
          name: Account User
        contactNumber: "14155550100"
        id: 522078
        ucis:
        - health:
            message: message
            status: status
          id: 0
          type: USER_UCI
          ucpLabel: ucpLabel
        - health:
            message: message
            status: status
          id: 0
          type: USER_UCI
          ucpLabel: ucpLabel
        status: ACTIVE
      properties:
        accountId:
          description: Unique identifier of the user's account
          example: 257073
          title: accountId
          type: integer
        acountLabel:
          description: The name of the user's account
          example: Vonage
          title: acountLabel
          type: string
        contactNumber:
          description: Contact number of the user
          example: "14155550100"
          title: contactNumber
          type: string
        emailAddress:
          description: Email address of the user
          example: john.smith@example.com
          title: emailAddress
          type: string
        firstName:
          description: First name of the user
          example: Robert
          title: firstName
          type: string
        id:
          description: Unique identifier of the user
          example: 522078
          title: id
          type: integer
        lastName:
          description: Last name of the user
          example: Smith
          title: lastName
          type: string
        roles:
          items:
            $ref: '#/components/schemas/User_roles_inner'
          title: roles
          type: array
        status:
          description: Status of the user
          enum:
          - PENDING
          - ACTIVE
          - DELETED
          - ARCHIVED
          example: ACTIVE
          title: status
          type: string
        ucis:
          items:
            $ref: '#/components/schemas/User_ucis_inner'
          title: ucis
          type: array
      title: User
      type: object
    Webhook:
      example:
        purgeAt: 2019-01-01T00:00:00.000Z
        signingAlgo: HMAC_SHA256
        expireAt: 2019-01-01T00:00:00.000Z
        renewedAt: 2019-01-01T00:00:00.000Z
        userId: "522078"
        url: https://www.example.com
        accountId: "257073"
        createdAt: 2019-01-01T00:00:00.000Z
        signingKey: signingKey
        id: "184094"
        metadataPolicy: NONE
        events:
        - CALL
        statistics:
          totalFailures: 10
          totalSuccesses: 10
          totalAttempts: 10
          failed: false
        status: ACTIVE
      properties:
        accountId:
          description: Unique identifier of the account
          example: "257073"
          title: accountId
          type: string
        createdAt:
          description: Created time for the webhook
          example: 2019-01-01T00:00:00.000Z
          title: createdAt
          type: string
        events:
          description: Subscribed events for the webhook
          example:
          - CALL
          items:
            enum:
            - CALL
            type: string
          title: events
          type: array
        expireAt:
          description: Expiration time for the webhook
          example: 2019-01-01T00:00:00.000Z
          title: expireAt
          type: string
        id:
          description: Unique identifier for the webhook
          example: "184094"
          title: id
          type: string
        metadataPolicy:
          description: Metadata policy for the webhook
          enum:
          - NONE
          - HEADER
          - BODY
          example: NONE
          title: metadataPolicy
          type: string
        purgeAt:
          description: Scheduled purge time for the webhook
          example: 2019-01-01T00:00:00.000Z
          title: purgeAt
          type: string
        renewedAt:
          description: Last renewed time for the webhook
          example: 2019-01-01T00:00:00.000Z
          title: renewedAt
          type: string
        signingAlgo:
          description: Signing algorithm for the webhook
          enum:
          - HMAC_SHA256
          - NONE
          example: HMAC_SHA256
          title: signingAlgo
          type: string
        signingKey:
          description: Signing key for the webhook
          title: signingKey
          type: string
        statistics:
          $ref: '#/components/schemas/Webhook_statistics'
        status:
          description: Status for the webhook
          enum:
          - ACTIVE
          - PAUSED
          example: ACTIVE
          title: status
          type: string
        url:
          description: Destination URL for events
          example: https://www.example.com
          title: url
          type: string
        userId:
          description: Unique identifier of the user
          example: "522078"
          title: userId
          type: string
      title: Webhook
      type: object
    WebhookCreate:
      example:
        signingKey: signingKey
        signingAlgo: HMAC_SHA256
        metadataPolicy: NONE
        events:
        - CALL
        url: https://www.example.com
      properties:
        events:
          description: Events to subscribe to the webhook
          example:
          - CALL
          items:
            enum:
            - CALL
            example: CALL
            type: string
          title: events
          type: array
        metadataPolicy:
          description: Metadata policy for the webhook
          enum:
          - NONE
          - HEADER
          - BODY
          example: NONE
          title: metadataPolicy
          type: string
        signingAlgo:
          description: Signing algorithm for the webhook
          enum:
          - HMAC_SHA256
          example: HMAC_SHA256
          title: signingAlgo
          type: string
        signingKey:
          description: Signing key for the webhook
          title: signingKey
          type: string
        url:
          description: Destination URL for events
          example: https://www.example.com
          title: url
          type: string
      title: WebhookCreate
      type: object
    Account_ucis_inner_health:
      example:
        message: message
        status: status
      properties:
        message:
          title: message
          type: string
        status:
          title: status
          type: string
      title: Account_ucis_inner_health
      type: object
    Account_ucis_inner:
      example:
        health:
          message: message
          status: status
        ucpAccountId: ucpAccountId
        id: 0
        type: ACCOUNT_UCI
        ucpLabel: ucpLabel
      properties:
        health:
          $ref: '#/components/schemas/Account_ucis_inner_health'
        id:
          format: int64
          title: id
          type: integer
        type:
          default: ACCOUNT_UCI
          title: type
          type: string
        ucpAccountId:
          title: ucpAccountId
          type: string
        ucpLabel:
          title: ucpLabel
          type: string
      title: Account_ucis_inner
      type: object
    User_roles_inner:
      example:
        code: AU
        name: Account User
      properties:
        code:
          description: Code for the role
          example: AU
          title: code
          type: string
        name:
          description: Name for the role
          example: Account User
          title: name
          type: string
      title: User_roles_inner
      type: object
    User_ucis_inner:
      example:
        health:
          message: message
          status: status
        id: 0
        type: USER_UCI
        ucpLabel: ucpLabel
      properties:
        health:
          $ref: '#/components/schemas/Account_ucis_inner_health'
        id:
          format: int64
          title: id
          type: integer
        type:
          default: USER_UCI
          title: type
          type: string
        ucpLabel:
          title: ucpLabel
          type: string
      title: User_ucis_inner
      type: object
    Webhook_statistics:
      example:
        totalFailures: 10
        totalSuccesses: 10
        totalAttempts: 10
        failed: false
      properties:
        failed:
          description: Current delivery status
          example: false
          title: failed
          type: boolean
        totalAttempts:
          description: Total delivery attempts
          example: 10
          title: totalAttempts
          type: integer
        totalFailures:
          description: Total failed deliveries
          example: 10
          title: totalFailures
          type: integer
        totalSuccesses:
          description: Total successful deliveries
          example: 10
          title: totalSuccesses
          type: integer
      title: Webhook_statistics
      type: object
