openapi: 3.0.1
info:
  description: dropX.io API provides programmatic access to the e-commerce intelligence
    data.
  title: DropX
  version: 1.0.0
  x-apisguru-categories:
  - ecommerce
  x-origin:
  - format: swagger
    url: http://dropx.io/dropx-swagger.yaml
    version: "2.0"
  x-providerName: dropx.io
servers:
- url: http://dropx.io/api/v1
paths:
  /products/:
    get:
      description: Returns product details
      parameters:
      - description: search array of ids
        in: query
        name: pids
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: A list of search details
        "401":
          content: {}
          description: Invalid authentication
        "456":
          content: {}
          description: "We are sorry, You have reached your limit"
        "458":
          content: {}
          description: Oops...! we don\'t have enough data to serve your request
        "459":
          content: {}
          description: Oops...! Missing reqired "pids" parameter to serve your request
        "464":
          content: {}
          description: Error in finding default plan
        "490":
          content: {}
          description: Unexpected error occurred while processing your request
        "500":
          content: {}
          description: internal server error
      security:
      - api_key: []
      summary: Get product details by providing the product IDs
      tags:
      - Product Details
      x-accepts:
      - application/json
  /products/link-search:
    get:
      description: Returns list of e-commerce product that are close to the one provided
        -- one from each provider
      parameters:
      - description: URL must be a url encoded value
        in: query
        name: url
        required: true
        schema:
          type: string
      - description: "A valid e commerce website link(eg. www.flipkart.com or http://www.amazon.in)\
          \ by a ',' seperated values to filter response by required e-commerce providers"
        in: query
        name: providers
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: A list of search details
        "401":
          content: {}
          description: Invalid authentication
        "452":
          content: {}
          description: Requested url parameter value is not a valid url
        "453":
          content: {}
          description: Requested ip is not white listed app token assigned ip list
        "454":
          content: {}
          description: App does not have any IP
        "455":
          content: {}
          description: User requested with invalid app token
        "456":
          content: {}
          description: User reached maximum allow limit according to his plan
        "458":
          content: {}
          description: Requested search does not have any response
        "459":
          content: {}
          description: Requested search products api required parameter "term" is
            missing
        "460":
          content: {}
          description: Requested similar search products api required parameter "url"
            is missing
        "461":
          content: {}
          description: Requested search product api required "term" parameter does
            not have valid value or empty value passed
        "462":
          content: {}
          description: Requested similar search product api required "url" parameter
            does not have valid url or empty value passed
        "463":
          content: {}
          description: Error in processing search request in elastic search
        "490":
          content: {}
          description: some unexpected error raised in processing user request
        "500":
          content: {}
          description: internal server error
      security:
      - api_key: []
      summary: Search for similar products by providing a link to any e-commerce product.
      tags:
      - LookUp
      x-accepts:
      - application/json
  /products/link-search-v2:
    get:
      description: Returns list of e-commerce product that are close to the one provided
        -- one from each provider
      parameters:
      - description: URL must be a url encoded value
        in: query
        name: url
        required: true
        schema:
          type: string
      - description: "A valid e commerce website link(eg. www.flipkart.com or http://www.amazon.in)\
          \ by a ',' seperated values to filter response by required e-commerce providers"
        in: query
        name: providers
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: A list of search details
        "401":
          content: {}
          description: Invalid authentication
        "452":
          content: {}
          description: Requested url parameter value is not a valid url
        "453":
          content: {}
          description: Requested ip is not white listed app token assigned ip list
        "454":
          content: {}
          description: App does not have any IP
        "455":
          content: {}
          description: User requested with invalid app token
        "456":
          content: {}
          description: User reached maximum allow limit according to his plan
        "458":
          content: {}
          description: Requested search does not have any response
        "459":
          content: {}
          description: Requested search products api required parameter "term" is
            missing
        "460":
          content: {}
          description: Requested similar search products api required parameter "url"
            is missing
        "461":
          content: {}
          description: Requested search product api required "term" parameter does
            not have valid value or empty value passed
        "462":
          content: {}
          description: Requested similar search product api required "url" parameter
            does not have valid url or empty value passed
        "463":
          content: {}
          description: Error in processing search request in elastic search
        "490":
          content: {}
          description: some unexpected error raised in processing user request
        "500":
          content: {}
          description: internal server error
      security:
      - api_key: []
      summary: Search for similar products by providing a link to any e-commerce product.
      tags:
      - LookUp
      x-accepts:
      - application/json
  /products/search:
    get:
      description: Returns one unique result from every provider that dropx.io tracks
      parameters:
      - description: search terms giving any title of products that are sold online
        in: query
        name: term
        required: true
        schema:
          type: string
      - description: "A valid e commerce website link(eg. www.flipkart.com or http://www.amazon.in)\
          \ by a ',' seperated values to filter response by required e-commerce providers"
        in: query
        name: providers
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: A list of search details
        "401":
          content: {}
          description: Invalid authentication
        "452":
          content: {}
          description: Requested url parameter value is not a valid url
        "453":
          content: {}
          description: Requested ip is not white listed app token assigned ip list
        "454":
          content: {}
          description: App does not have any IP
        "455":
          content: {}
          description: User requested with invalid app token
        "456":
          content: {}
          description: User reached maximum allow limit according to his plan
        "458":
          content: {}
          description: Requested search does not have any response
        "459":
          content: {}
          description: Requested search products api required parameter "term" is
            missing
        "460":
          content: {}
          description: Requested similar search products api required parameter "url"
            is missing
        "461":
          content: {}
          description: Requested search product api required "term" parameter does
            not have valid value or empty value passed
        "462":
          content: {}
          description: Requested similar search product api required "url" parameter
            does not have valid url or empty value passed
        "463":
          content: {}
          description: Error in processing search request in elastic search
        "490":
          content: {}
          description: some unexpected error raised in processing user request
        "500":
          content: {}
          description: internal server error
      security:
      - api_key: []
      summary: Search for any product using title
      tags:
      - LookUp
      x-accepts:
      - application/json
  /products/search-v2:
    get:
      description: Returns one unique result from every provider that dropx.io tracks
      parameters:
      - description: search terms giving any title of products that are sold online
        in: query
        name: term
        required: true
        schema:
          type: string
      - description: "A valid e commerce website link(eg. www.flipkart.com or http://www.amazon.in)\
          \ by a ',' seperated values to filter response by required e-commerce providers"
        in: query
        name: providers
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: A list of search details
        "401":
          content: {}
          description: Invalid authentication
        "452":
          content: {}
          description: Requested url parameter value is not a valid url
        "453":
          content: {}
          description: Requested ip is not white listed app token assigned ip list
        "454":
          content: {}
          description: App does not have any IP
        "455":
          content: {}
          description: User requested with invalid app token
        "456":
          content: {}
          description: User reached maximum allow limit according to his plan
        "458":
          content: {}
          description: Requested search does not have any response
        "459":
          content: {}
          description: Requested search products api required parameter "term" is
            missing
        "460":
          content: {}
          description: Requested similar search products api required parameter "url"
            is missing
        "461":
          content: {}
          description: Requested search product api required "term" parameter does
            not have valid value or empty value passed
        "462":
          content: {}
          description: Requested similar search product api required "url" parameter
            does not have valid url or empty value passed
        "463":
          content: {}
          description: Error in processing search request in elastic search
        "490":
          content: {}
          description: some unexpected error raised in processing user request
        "500":
          content: {}
          description: internal server error
      security:
      - api_key: []
      summary: Search for any product using title
      tags:
      - LookUp
      x-accepts:
      - application/json
  /products/title-search:
    get:
      description: Returns list of product ids
      parameters:
      - description: search terms giving any title of products that are sold online
        in: query
        name: term
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: A list of product details
        "401":
          content: {}
          description: Invalid authentication
        "456":
          content: {}
          description: "We are sorry, You have reached your limit"
        "458":
          content: {}
          description: Oops...! we don\'t have enough data to serve your request
        "459":
          content: {}
          description: Oops...! Missing reqired "term" parameter to serve your request
        "461":
          content: {}
          description: Oops...! Required "term" parameter should not be empty
        "464":
          content: {}
          description: Error in finding default plan
        "490":
          content: {}
          description: Unexpected error occurred while processing your request
        "500":
          content: {}
          description: internal server error
      security:
      - api_key: []
      summary: Search for any product using title
      tags:
      - LookUp
      x-accepts:
      - application/json
  /users/usage:
    get:
      description: Returns API request consumption details.
      responses:
        "200":
          content: {}
          description: A list of usage details
        "401":
          content: {}
          description: Invalid authentication
        "500":
          content: {}
          description: internal server error
      summary: Get API usuage details
      tags:
      - Monitor
      x-accepts:
      - application/json
components:
  schemas: {}
  securitySchemes:
    api_key:
      description: authentication header should be in header
      in: header
      name: access_token
      type: apiKey
x-original-swagger-version: "2.0"

