openapi: 3.0.0
info:
  contact:
    email: oss@maif.fr
    name: Otoroshi Team
  description: Admin API of the Otoroshi reverse proxy
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  title: Otoroshi Admin API
  version: 1.5.0-dev
  x-apisguru-categories:
  - developer_tools
  x-logo:
    backgroundColor: '#FFFFFF'
    url: https://maif.github.io/otoroshi/assets/images/svg/otoroshi_logo.svg
  x-origin:
  - format: openapi
    url: https://raw.githubusercontent.com/MAIF/otoroshi/master/docs/manual/code/swagger.json
    version: "3.0"
  x-providerName: maif.local
  x-serviceName: otoroshi
externalDocs:
  description: Find out more about Otoroshi
  url: https://maif.github.io/otoroshi/
servers:
- url: http://otoroshi-api.oto.tools/
- url: http://maif.local
tags:
- description: Everything about Otoroshi global configuration
  name: configuration
- description: Everything about Otoroshi import/export
  name: import
- description: Everything about Otoroshi entities templates
  name: templates
- description: Everything about Otoroshi Environments
  name: environments
- description: Everything about Otoroshi service groups
  name: groups
- description: Everything about Otoroshi api keys
  name: apikeys
- description: Everything about Otoroshi service descriptors
  name: services
- description: Everything about Otoroshi stats
  name: stats
- description: Everything about Otoroshi Snow Monkey
  name: snowmonkey
- description: Everything about Otoroshi health status
  name: health
- description: Everything about Otoroshi global JWT token verifiers
  name: jwt-verifiers
- description: Everything about Otoroshi global auth. module config
  name: auth-config
- description: Everything about Otoroshi request transformer scripts
  name: scripts
- description: Everything about Otoroshi SSL/TLS certificates
  name: certificates
- description: Everything about Otoroshi validation authorities
  name: validation-authorities
- description: Everything about Otoroshi data exporters
  name: data-exporter-configs
paths:
  /api/apikeys:
    get:
      deprecated: false
      description: Get all api keys
      operationId: all_api_keys
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ApiKey'
                type: array
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Get all api keys
      tags:
      - apikeys
      x-openapi-router-controller: openapi_server.controllers.apikeys_controller
  /api/auths:
    get:
      deprecated: false
      description: Get all global auth. module configs
      operationId: find_all_global_auth_modules
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/findAllGlobalAuthModules_200_response_inner'
                type: array
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Get all global auth. module configs
      tags:
      - auth-config
      x-openapi-router-controller: openapi_server.controllers.auth_config_controller
    post:
      deprecated: false
      description: Create one global auth. module config
      operationId: create_global_auth_module
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/findAllGlobalAuthModules_200_response_inner'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/findAllGlobalAuthModules_200_response_inner'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Create one global auth. module config
      tags:
      - auth-config
      x-openapi-router-controller: openapi_server.controllers.auth_config_controller
      x-codegen-request-body-name: body
  /api/auths/{id}:
    delete:
      deprecated: false
      description: Delete one global auth. module config
      operationId: delete_global_auth_module
      parameters:
      - description: The auth. config id id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deleted'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Delete one global auth. module config
      tags:
      - auth-config
      x-openapi-router-controller: openapi_server.controllers.auth_config_controller
    get:
      deprecated: false
      description: Get one global auth. module configs
      operationId: find_global_auth_module_by_id
      parameters:
      - description: The auth. config id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/findAllGlobalAuthModules_200_response_inner'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Get one global auth. module configs
      tags:
      - auth-config
      x-openapi-router-controller: openapi_server.controllers.auth_config_controller
    patch:
      deprecated: false
      description: Update one global auth. module config
      operationId: patch_global_auth_module
      parameters:
      - description: The auth. config id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Patch'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/findAllGlobalAuthModules_200_response_inner'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Update one global auth. module config
      tags:
      - auth-config
      x-openapi-router-controller: openapi_server.controllers.auth_config_controller
      x-codegen-request-body-name: body
    put:
      deprecated: false
      description: Update one global auth. module config
      operationId: update_global_auth_module
      parameters:
      - description: The auth. config id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/findAllGlobalAuthModules_200_response_inner'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/findAllGlobalAuthModules_200_response_inner'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Update one global auth. module config
      tags:
      - auth-config
      x-openapi-router-controller: openapi_server.controllers.auth_config_controller
      x-codegen-request-body-name: body
  /api/certificates:
    get:
      deprecated: false
      description: Get all certificates
      operationId: all_certs
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Certificate'
                type: array
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Get all certificates
      tags:
      - certificates
      x-openapi-router-controller: openapi_server.controllers.certificates_controller
    post:
      deprecated: false
      description: Create one certificate
      operationId: create_cert
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Certificate'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Certificate'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Create one certificate
      tags:
      - certificates
      x-openapi-router-controller: openapi_server.controllers.certificates_controller
      x-codegen-request-body-name: body
  /api/certificates/{id}:
    delete:
      deprecated: false
      description: Delete one certificate by id
      operationId: delete_cert
      parameters:
      - description: The certificate id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deleted'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Delete one certificate by id
      tags:
      - certificates
      x-openapi-router-controller: openapi_server.controllers.certificates_controller
    get:
      deprecated: false
      description: Get one certificate by id
      operationId: one_cert
      parameters:
      - description: The auth. config id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Certificate'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Get one certificate by id
      tags:
      - certificates
      x-openapi-router-controller: openapi_server.controllers.certificates_controller
    patch:
      deprecated: false
      description: Update one certificate by id
      operationId: patch_cert
      parameters:
      - description: The certificate id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Patch'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Certificate'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Update one certificate by id
      tags:
      - certificates
      x-openapi-router-controller: openapi_server.controllers.certificates_controller
      x-codegen-request-body-name: body
    put:
      deprecated: false
      description: Update one certificate by id
      operationId: put_cert
      parameters:
      - description: The certificate id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Certificate'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Certificate'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Update one certificate by id
      tags:
      - certificates
      x-openapi-router-controller: openapi_server.controllers.certificates_controller
      x-codegen-request-body-name: body
  /api/client-validators:
    get:
      deprecated: false
      description: Get all validation authoritiess
      operationId: find_all_client_validators
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ValidationAuthority'
                type: array
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Get all validation authoritiess
      tags:
      - validation-authorities
      x-openapi-router-controller: openapi_server.controllers.validation_authorities_controller
    post:
      deprecated: false
      description: Create one validation authorities
      operationId: create_client_validator
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidationAuthority'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationAuthority'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Create one validation authorities
      tags:
      - validation-authorities
      x-openapi-router-controller: openapi_server.controllers.validation_authorities_controller
      x-codegen-request-body-name: body
  /api/client-validators/{id}:
    delete:
      deprecated: false
      description: Delete one validation authorities by id
      operationId: delete_client_validator
      parameters:
      - description: The validation authorities id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deleted'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Delete one validation authorities by id
      tags:
      - validation-authorities
      x-openapi-router-controller: openapi_server.controllers.validation_authorities_controller
    get:
      deprecated: false
      description: Get one validation authorities by id
      operationId: find_client_validator_by_id
      parameters:
      - description: The auth. config id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationAuthority'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Get one validation authorities by id
      tags:
      - validation-authorities
      x-openapi-router-controller: openapi_server.controllers.validation_authorities_controller
    patch:
      deprecated: false
      description: Update one validation authorities by id
      operationId: patch_client_validator
      parameters:
      - description: The validation authorities id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Patch'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationAuthority'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Update one validation authorities by id
      tags:
      - validation-authorities
      x-openapi-router-controller: openapi_server.controllers.validation_authorities_controller
      x-codegen-request-body-name: body
    put:
      deprecated: false
      description: Update one validation authorities by id
      operationId: update_client_validator
      parameters:
      - description: The validation authorities id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidationAuthority'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationAuthority'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Update one validation authorities by id
      tags:
      - validation-authorities
      x-openapi-router-controller: openapi_server.controllers.validation_authorities_controller
      x-codegen-request-body-name: body
  /api/data-exporter-configs:
    get:
      deprecated: false
      description: Get all data exporter configs
      operationId: find_all_data_exporters
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/DataExporterConfig'
                type: array
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Get all data exporter configs
      tags:
      - data-exporter-configs
      x-openapi-router-controller: openapi_server.controllers.data_exporter_configs_controller
    post:
      deprecated: false
      description: Create a new data exporter config
      operationId: create_data_exporter_config
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataExporterConfig'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataExporterConfig'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Create a new data exporter config
      tags:
      - data-exporter-configs
      x-openapi-router-controller: openapi_server.controllers.data_exporter_configs_controller
      x-codegen-request-body-name: body
  /api/data-exporter-configs/_bulk:
    delete:
      deprecated: false
      description: Delete a data exporter config
      operationId: deletebulk_data_exporter_config
      parameters: []
      requestBody:
        content:
          application/ndjson:
            schema:
              $ref: '#/components/schemas/Patch'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/deletebulkDataExporterConfig_200_response_inner'
                type: array
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Delete a data exporter config
      tags:
      - data-exporter-configs
      x-openapi-router-controller: openapi_server.controllers.data_exporter_configs_controller
      x-codegen-request-body-name: body
    patch:
      deprecated: false
      description: Update a data exporter configs with a diff
      operationId: patch_bulk_data_exporter_config
      parameters: []
      requestBody:
        content:
          application/ndjson:
            schema:
              $ref: '#/components/schemas/Patch'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/updateBulkDataExporterConfig_200_response_inner'
                type: array
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Update a data exporter configs with a diff
      tags:
      - data-exporter-configs
      x-openapi-router-controller: openapi_server.controllers.data_exporter_configs_controller
      x-codegen-request-body-name: body
    post:
      deprecated: false
      description: Create a new data exporter configs
      operationId: create_bulk_data_exporter_configs
      parameters: []
      requestBody:
        content:
          application/ndjson:
            schema:
              $ref: '#/components/schemas/DataExporterConfig'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/createBulkDataExporterConfigs_200_response_inner'
                type: array
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Create a new data exporter configs
      tags:
      - data-exporter-configs
      x-openapi-router-controller: openapi_server.controllers.data_exporter_configs_controller
      x-codegen-request-body-name: body
    put:
      deprecated: false
      description: Update a data exporter configs
      operationId: update_bulk_data_exporter_config
      parameters: []
      requestBody:
        content:
          application/ndjson:
            schema:
              $ref: '#/components/schemas/DataExporterConfig'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/updateBulkDataExporterConfig_200_response_inner'
                type: array
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Update a data exporter configs
      tags:
      - data-exporter-configs
      x-openapi-router-controller: openapi_server.controllers.data_exporter_configs_controller
      x-codegen-request-body-name: body
  /api/data-exporter-configs/_template:
    get:
      deprecated: false
      description: Get all data exporter configs
      operationId: data_exporter_template
      parameters:
      - description: The data exporter config type
        explode: true
        in: query
        name: type
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataExporterConfig'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Get all data exporter configs
      tags:
      - data-exporter-configs
      x-openapi-router-controller: openapi_server.controllers.data_exporter_configs_controller
  /api/data-exporter-configs/{dataExporterConfigId}:
    delete:
      deprecated: false
      description: Delete a data exporter config
      operationId: delete_data_exporter_config
      parameters:
      - description: The data exporter config id
        explode: false
        in: path
        name: dataExporterConfigId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deleted'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Delete a data exporter config
      tags:
      - data-exporter-configs
      x-openapi-router-controller: openapi_server.controllers.data_exporter_configs_controller
    get:
      deprecated: false
      description: Get a data exporter config
      operationId: find_data_exporter_config_by_id
      parameters:
      - description: The data exporter config id
        explode: false
        in: path
        name: dataExporterConfigId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataExporterConfig'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Get a data exporter config
      tags:
      - data-exporter-configs
      x-openapi-router-controller: openapi_server.controllers.data_exporter_configs_controller
    patch:
      deprecated: false
      description: Update a data exporter config with a diff
      operationId: patch_data_exporter_config
      parameters:
      - description: The data exporter config id
        explode: false
        in: path
        name: dataExporterConfigId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Patch'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataExporterConfig'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Update a data exporter config with a diff
      tags:
      - data-exporter-configs
      x-openapi-router-controller: openapi_server.controllers.data_exporter_configs_controller
      x-codegen-request-body-name: body
    put:
      deprecated: false
      description: Update a data exporter config
      operationId: update_data_exporter_config
      parameters:
      - description: The data exporter config id
        explode: false
        in: path
        name: dataExporterConfigId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataExporterConfig'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataExporterConfig'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Update a data exporter config
      tags:
      - data-exporter-configs
      x-openapi-router-controller: openapi_server.controllers.data_exporter_configs_controller
      x-codegen-request-body-name: body
  /api/globalconfig:
    get:
      deprecated: false
      description: Get the full configuration of Otoroshi
      operationId: global_config
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalConfig'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Get the full configuration of Otoroshi
      tags:
      - configuration
      x-openapi-router-controller: openapi_server.controllers.configuration_controller
    patch:
      deprecated: false
      description: Update the global configuration with a diff
      operationId: patch_global_config
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Patch'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalConfig'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Update the global configuration with a diff
      tags:
      - configuration
      x-openapi-router-controller: openapi_server.controllers.configuration_controller
      x-codegen-request-body-name: body
    put:
      deprecated: false
      description: Update the global configuration
      operationId: put_global_config
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GlobalConfig'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalConfig'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Update the global configuration
      tags:
      - configuration
      x-openapi-router-controller: openapi_server.controllers.configuration_controller
      x-codegen-request-body-name: body
  /api/groups:
    get:
      deprecated: false
      description: Get all service groups
      operationId: all_service_groups
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Group'
                type: array
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Get all service groups
      tags:
      - groups
      x-openapi-router-controller: openapi_server.controllers.groups_controller
    post:
      deprecated: false
      description: Create a new service group
      operationId: create_group
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Group'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Create a new service group
      tags:
      - groups
      x-openapi-router-controller: openapi_server.controllers.groups_controller
      x-codegen-request-body-name: body
  /api/groups/{groupId}/apikeys:
    get:
      deprecated: false
      description: Get all api keys for the group of a service
      operationId: api_keys_from_group
      parameters:
      - description: The api key group id
        explode: false
        in: path
        name: groupId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ApiKey'
                type: array
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Get all api keys for the group of a service
      tags:
      - apikeys
      x-openapi-router-controller: openapi_server.controllers.apikeys_controller
    post:
      deprecated: false
      description: Create a new api key for a group
      operationId: create_api_key_from_group
      parameters:
      - description: The api key group id
        explode: false
        in: path
        name: groupId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKey'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKey'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Create a new api key for a group
      tags:
      - apikeys
      x-openapi-router-controller: openapi_server.controllers.apikeys_controller
      x-codegen-request-body-name: body
  /api/groups/{groupId}/apikeys/{clientId}:
    delete:
      deprecated: false
      description: Delete an api key for a specified service group
      operationId: delete_api_key_from_group
      parameters:
      - description: The api key group id
        explode: false
        in: path
        name: groupId
        required: true
        schema:
          type: string
        style: simple
      - description: the api key id
        explode: false
        in: path
        name: clientId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deleted'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Delete an api key
      tags:
      - apikeys
      x-openapi-router-controller: openapi_server.controllers.apikeys_controller
    get:
      deprecated: false
      description: Get an api key for a specified service group
      operationId: api_key_from_group
      parameters:
      - description: The api key group id
        explode: false
        in: path
        name: groupId
        required: true
        schema:
          type: string
        style: simple
      - description: the api key id
        explode: false
        in: path
        name: clientId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKey'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Get an api key
      tags:
      - apikeys
      x-openapi-router-controller: openapi_server.controllers.apikeys_controller
    patch:
      deprecated: false
      description: Update an api key for a specified service descriptor with a diff
      operationId: patch_api_key_from_group
      parameters:
      - description: The api key group id
        explode: false
        in: path
        name: groupId
        required: true
        schema:
          type: string
        style: simple
      - description: the api key id
        explode: false
        in: path
        name: clientId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Patch'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKey'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Update an api key with a diff
      tags:
      - apikeys
      x-openapi-router-controller: openapi_server.controllers.apikeys_controller
      x-codegen-request-body-name: body
    put:
      deprecated: false
      description: Update an api key for a specified service group
      operationId: update_api_key_from_group
      parameters:
      - description: The api key group id
        explode: false
        in: path
        name: groupId
        required: true
        schema:
          type: string
        style: simple
      - description: the api key id
        explode: false
        in: path
        name: clientId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKey'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKey'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Update an api key
      tags:
      - apikeys
      x-openapi-router-controller: openapi_server.controllers.apikeys_controller
      x-codegen-request-body-name: body
  /api/groups/{groupId}/apikeys/{clientId}/quotas:
    delete:
      deprecated: false
      description: Reset the quota state of an api key
      operationId: reset_api_key_from_group_quotas
      parameters:
      - description: The api key group id
        explode: false
        in: path
        name: groupId
        required: true
        schema:
          type: string
        style: simple
      - description: the api key id
        explode: false
        in: path
        name: clientId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Quotas'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Reset the quota state of an api key
      tags:
      - apikeys
      x-openapi-router-controller: openapi_server.controllers.apikeys_controller
    get:
      deprecated: false
      description: Get the quota state of an api key
      operationId: api_key_from_group_quotas
      parameters:
      - description: The api key group id
        explode: false
        in: path
        name: groupId
        required: true
        schema:
          type: string
        style: simple
      - description: the api key id
        explode: false
        in: path
        name: clientId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Quotas'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Get the quota state of an api key
      tags:
      - apikeys
      x-openapi-router-controller: openapi_server.controllers.apikeys_controller
  /api/groups/{serviceGroupId}:
    delete:
      deprecated: false
      description: Delete a service group
      operationId: delete_group
      parameters:
      - description: The service group id
        explode: false
        in: path
        name: serviceGroupId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deleted'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Delete a service group
      tags:
      - groups
      x-openapi-router-controller: openapi_server.controllers.groups_controller
    get:
      deprecated: false
      description: Get a service group
      operationId: service_group
      parameters:
      - description: The service group id
        explode: false
        in: path
        name: serviceGroupId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Get a service group
      tags:
      - groups
      x-openapi-router-controller: openapi_server.controllers.groups_controller
    patch:
      deprecated: false
      description: Update a service group with a diff
      operationId: patch_group
      parameters:
      - description: The service group id
        explode: false
        in: path
        name: serviceGroupId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Patch'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Update a service group with a diff
      tags:
      - groups
      x-openapi-router-controller: openapi_server.controllers.groups_controller
      x-codegen-request-body-name: body
    put:
      deprecated: false
      description: Update a service group
      operationId: update_group
      parameters:
      - description: The service group id
        explode: false
        in: path
        name: serviceGroupId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Group'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Update a service group
      tags:
      - groups
      x-openapi-router-controller: openapi_server.controllers.groups_controller
      x-codegen-request-body-name: body
  /api/groups/{serviceGroupId}/services:
    get:
      deprecated: false
      description: Get all services descriptor for a group
      operationId: service_group_services
      parameters:
      - description: The service group id
        explode: false
        in: path
        name: serviceGroupId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ApiKey'
                type: array
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Get all services descriptor for a group
      tags:
      - services
      x-openapi-router-controller: openapi_server.controllers.services_controller
  /api/import:
    post:
      deprecated: false
      description: Import the full state of Otoroshi as a file
      operationId: full_import_from_file
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImportExport'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Done'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Import the full state of Otoroshi as a file
      tags:
      - import
      x-openapi-router-controller: openapi_server.controllers.import_controller
      x-codegen-request-body-name: body
  /api/live:
    get:
      deprecated: false
      description: Get global otoroshi stats
      operationId: global_live_stats
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Stats'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Get global otoroshi stats
      tags:
      - stats
      x-openapi-router-controller: openapi_server.controllers.stats_controller
  /api/live/{id}:
    get:
      deprecated: false
      description: "Get live feed of global otoroshi stats (global) or for a service\
        \ {id}"
      operationId: service_live_stats
      parameters:
      - description: The service id or global for otoroshi stats
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Stats'
            text/event-stream:
              schema:
                $ref: '#/components/schemas/Stats'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Get live feed of otoroshi stats
      tags:
      - stats
      x-openapi-router-controller: openapi_server.controllers.stats_controller
  /api/otoroshi.json:
    get:
      deprecated: false
      description: Export the full state of Otoroshi
      operationId: full_export
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImportExport'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Export the full state of Otoroshi
      tags:
      - import
      x-openapi-router-controller: openapi_server.controllers.import_controller
    post:
      deprecated: false
      description: Import the full state of Otoroshi
      operationId: full_import
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImportExport'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Done'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Import the full state of Otoroshi
      tags:
      - import
      x-openapi-router-controller: openapi_server.controllers.import_controller
      x-codegen-request-body-name: body
  /api/scripts:
    get:
      deprecated: false
      description: Get all scripts
      operationId: find_all_scripts
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Script'
                type: array
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Get all scripts
      tags:
      - scripts
      x-openapi-router-controller: openapi_server.controllers.scripts_controller
    post:
      deprecated: false
      description: Create a new script
      operationId: create_script
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Script'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Script'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Create a new script
      tags:
      - scripts
      x-openapi-router-controller: openapi_server.controllers.scripts_controller
      x-codegen-request-body-name: body
  /api/scripts/_compile:
    post:
      deprecated: false
      description: Compile a script
      operationId: compile_script
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Script'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScriptCompilationResult'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Compile a script
      tags:
      - scripts
      x-openapi-router-controller: openapi_server.controllers.scripts_controller
      x-codegen-request-body-name: body
  /api/scripts/{scriptId}:
    delete:
      deprecated: false
      description: Delete a script
      operationId: delete_script
      parameters:
      - description: The script id
        explode: false
        in: path
        name: scriptId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deleted'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Delete a script
      tags:
      - scripts
      x-openapi-router-controller: openapi_server.controllers.scripts_controller
    get:
      deprecated: false
      description: Get a script
      operationId: find_script_by_id
      parameters:
      - description: The script id
        explode: false
        in: path
        name: scriptId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Script'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Get a script
      tags:
      - scripts
      x-openapi-router-controller: openapi_server.controllers.scripts_controller
    patch:
      deprecated: false
      description: Update a script with a diff
      operationId: patch_script
      parameters:
      - description: The script id
        explode: false
        in: path
        name: scriptId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Patch'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Script'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Update a script with a diff
      tags:
      - scripts
      x-openapi-router-controller: openapi_server.controllers.scripts_controller
      x-codegen-request-body-name: body
    put:
      deprecated: false
      description: Update a script
      operationId: update_script
      parameters:
      - description: The script id
        explode: false
        in: path
        name: scriptId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Script'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Script'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Update a script
      tags:
      - scripts
      x-openapi-router-controller: openapi_server.controllers.scripts_controller
      x-codegen-request-body-name: body
  /api/services:
    get:
      deprecated: false
      description: Get all services
      operationId: all_services
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Service'
                type: array
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Get all services
      tags:
      - services
      x-openapi-router-controller: openapi_server.controllers.services_controller
    post:
      deprecated: false
      description: Create a new service descriptor
      operationId: create_service
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Service'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Service'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Create a new service descriptor
      tags:
      - services
      x-openapi-router-controller: openapi_server.controllers.services_controller
      x-codegen-request-body-name: body
  /api/services/{serviceId}:
    delete:
      deprecated: false
      description: Delete a service descriptor
      operationId: delete_service
      parameters:
      - description: The service id
        explode: false
        in: path
        name: serviceId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deleted'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Delete a service descriptor
      tags:
      - services
      x-openapi-router-controller: openapi_server.controllers.services_controller
    get:
      deprecated: false
      description: Get a service descriptor
      operationId: service
      parameters:
      - description: The service id
        explode: false
        in: path
        name: serviceId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Service'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Get a service descriptor
      tags:
      - services
      x-openapi-router-controller: openapi_server.controllers.services_controller
    patch:
      deprecated: false
      description: Update a service descriptor with a diff
      operationId: patch_service
      parameters:
      - description: The service id
        explode: false
        in: path
        name: serviceId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Patch'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Service'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Update a service descriptor with a diff
      tags:
      - services
      x-openapi-router-controller: openapi_server.controllers.services_controller
      x-codegen-request-body-name: body
    put:
      deprecated: false
      description: Update a service descriptor
      operationId: update_service
      parameters:
      - description: The service id
        explode: false
        in: path
        name: serviceId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Service'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Service'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Update a service descriptor
      tags:
      - services
      x-openapi-router-controller: openapi_server.controllers.services_controller
      x-codegen-request-body-name: body
  /api/services/{serviceId}/apikeys:
    get:
      deprecated: false
      description: Get all api keys for the group of a service
      operationId: api_keys
      parameters:
      - description: The api key service id
        explode: false
        in: path
        name: serviceId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ApiKey'
                type: array
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Get all api keys for the group of a service
      tags:
      - apikeys
      x-openapi-router-controller: openapi_server.controllers.apikeys_controller
    post:
      deprecated: false
      description: ""
      operationId: create_api_key
      parameters:
      - description: The api key service id
        explode: false
        in: path
        name: serviceId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKey'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKey'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Create a new api key for a service
      tags:
      - apikeys
      x-openapi-router-controller: openapi_server.controllers.apikeys_controller
      x-codegen-request-body-name: body
  /api/services/{serviceId}/apikeys/{clientId}:
    delete:
      deprecated: false
      description: Delete an api key for a specified service descriptor
      operationId: delete_api_key
      parameters:
      - description: The api key service id
        explode: false
        in: path
        name: serviceId
        required: true
        schema:
          type: string
        style: simple
      - description: the api key id
        explode: false
        in: path
        name: clientId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deleted'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Delete an api key
      tags:
      - apikeys
      x-openapi-router-controller: openapi_server.controllers.apikeys_controller
    get:
      deprecated: false
      description: Get an api key for a specified service descriptor
      operationId: api_key
      parameters:
      - description: The api key service id
        explode: false
        in: path
        name: serviceId
        required: true
        schema:
          type: string
        style: simple
      - description: the api key id
        explode: false
        in: path
        name: clientId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKey'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Get an api key
      tags:
      - apikeys
      x-openapi-router-controller: openapi_server.controllers.apikeys_controller
    patch:
      deprecated: false
      description: Update an api key for a specified service descriptor with a diff
      operationId: patch_api_key
      parameters:
      - description: The api key service id
        explode: false
        in: path
        name: serviceId
        required: true
        schema:
          type: string
        style: simple
      - description: the api key id
        explode: false
        in: path
        name: clientId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Patch'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKey'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Update an api key with a diff
      tags:
      - apikeys
      x-openapi-router-controller: openapi_server.controllers.apikeys_controller
      x-codegen-request-body-name: body
    put:
      deprecated: false
      description: Update an api key for a specified service descriptor
      operationId: update_api_key
      parameters:
      - description: The api key service id
        explode: false
        in: path
        name: serviceId
        required: true
        schema:
          type: string
        style: simple
      - description: the api key id
        explode: false
        in: path
        name: clientId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKey'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKey'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Update an api key
      tags:
      - apikeys
      x-openapi-router-controller: openapi_server.controllers.apikeys_controller
      x-codegen-request-body-name: body
  /api/services/{serviceId}/apikeys/{clientId}/group:
    get:
      deprecated: false
      description: Get the group of an api key
      operationId: api_key_group
      parameters:
      - description: The api key service id
        explode: false
        in: path
        name: serviceId
        required: true
        schema:
          type: string
        style: simple
      - description: the api key id
        explode: false
        in: path
        name: clientId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Get the group of an api key
      tags:
      - apikeys
      x-openapi-router-controller: openapi_server.controllers.apikeys_controller
  /api/services/{serviceId}/apikeys/{clientId}/quotas:
    delete:
      deprecated: false
      description: Reset the quota state of an api key
      operationId: reset_api_key_quotas
      parameters:
      - description: The api key service id
        explode: false
        in: path
        name: serviceId
        required: true
        schema:
          type: string
        style: simple
      - description: the api key id
        explode: false
        in: path
        name: clientId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Quotas'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Reset the quota state of an api key
      tags:
      - apikeys
      x-openapi-router-controller: openapi_server.controllers.apikeys_controller
    get:
      deprecated: false
      description: Get the quota state of an api key
      operationId: api_key_quotas
      parameters:
      - description: The api key service id
        explode: false
        in: path
        name: serviceId
        required: true
        schema:
          type: string
        style: simple
      - description: the api key id
        explode: false
        in: path
        name: clientId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Quotas'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Get the quota state of an api key
      tags:
      - apikeys
      x-openapi-router-controller: openapi_server.controllers.apikeys_controller
  /api/services/{serviceId}/targets:
    delete:
      deprecated: false
      description: Delete a service descriptor target
      operationId: service_delete_target
      parameters:
      - description: The service id
        explode: false
        in: path
        name: serviceId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Target'
                type: array
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Delete a service descriptor target
      tags:
      - services
      x-openapi-router-controller: openapi_server.controllers.services_controller
    get:
      deprecated: false
      description: Get a service descriptor targets
      operationId: service_targets
      parameters:
      - description: The service id
        explode: false
        in: path
        name: serviceId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Target'
                type: array
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Get a service descriptor targets
      tags:
      - services
      x-openapi-router-controller: openapi_server.controllers.services_controller
    patch:
      deprecated: false
      description: Update a service descriptor targets
      operationId: update_service_targets
      parameters:
      - description: The service id
        explode: false
        in: path
        name: serviceId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Patch'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Target'
                type: array
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
[...]
