openapi: 3.0.1
info:
  contact:
    email: support@twilio.com
    name: Twilio Support
    url: https://support.twilio.com
  description: This is the public Twilio REST API.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://www.twilio.com/legal/tos
  title: Twilio - Studio
  version: 1.55.0
  x-apisguru-categories:
  - telecom
  - messaging
  x-logo:
    url: https://static1.twilio.com/marketing/bundles/marketing/img/logos/wordmark-red.svg
  x-origin:
  - format: openapi
    url: https://raw.githubusercontent.com/twilio/twilio-oai/main/spec/json/twilio_studio_v2.json
    version: "3.0"
  x-providerName: twilio.com
  x-serviceName: twilio_studio_v2
servers:
- url: https://studio.twilio.com
tags:
- name: StudioV2Execution
- name: StudioV2ExecutionContext
- name: StudioV2ExecutionStep
- name: StudioV2ExecutionStepContext
- name: StudioV2Flow
- name: StudioV2FlowRevision
- name: StudioV2FlowTestUser
- name: StudioV2FlowValidate
paths:
  /v2/Flows:
    description: Studio flows
    get:
      description: Retrieve a list of all Flows.
      operationId: list_flow
      parameters:
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFlowResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - StudioV2Flow
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.studio_v2_flow_controller
    post:
      description: Create a Flow.
      operationId: create_flow
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateFlowRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/studio.v2.flow'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - StudioV2Flow
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.studio_v2_flow_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://studio.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      - status
      - revision
      dependentProperties:
        executions:
          mapping:
            flow_sid: sid
          resource_url: "/v2/Flows/{flow_sid}/Executions"
        revisions:
          mapping:
            sid: sid
          resource_url: "/v2/Flows/{sid}/Revisions"
        test_users:
          mapping:
            sid: sid
          resource_url: "/v2/Flows/{sid}/TestUsers"
      pathType: list
  /v2/Flows/Validate:
    description: Flow definition validator
    post:
      description: Validate flow JSON definition
      operationId: update_flow_validate
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateFlowValidateRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/studio.v2.flow_validate'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - StudioV2FlowValidate
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.studio_v2_flow_validate_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://studio.twilio.com
    x-twilio:
      defaultOutputProperties:
      - valid
      mountName: flow_validate
      pathType: list
  /v2/Flows/{FlowSid}/Executions:
    description: Executions of Studio flows
    get:
      description: Retrieve a list of all Executions for the Flow.
      operationId: list_execution
      parameters:
      - description: The SID of the Flow with the Execution resources to read.
        explode: false
        in: path
        name: FlowSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^FW[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "Only show Execution resources starting on or after this [ISO\
          \ 8601](https://en.wikipedia.org/wiki/ISO_8601) date-time, given as `YYYY-MM-DDThh:mm:ss-hh:mm`."
        explode: true
        in: query
        name: DateCreatedFrom
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Only show Execution resources starting before this [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601)\
          \ date-time, given as `YYYY-MM-DDThh:mm:ss-hh:mm`."
        explode: true
        in: query
        name: DateCreatedTo
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListExecutionResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - StudioV2Execution
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.studio_v2_execution_controller
    post:
      description: Triggers a new Execution for the Flow
      operationId: create_execution
      parameters:
      - description: The SID of the Excecution's Flow.
        explode: false
        in: path
        name: FlowSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^FW[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateExecutionRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/studio.v2.flow.execution'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - StudioV2Execution
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.studio_v2_execution_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://studio.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - status
      - date_created
      dependentProperties:
        execution_context:
          mapping:
            execution_sid: sid
            flow_sid: flow_sid
          resource_url: "/v2/Flows/{flow_sid}/Executions/{execution_sid}/Context"
        steps:
          mapping:
            execution_sid: sid
            flow_sid: flow_sid
          resource_url: "/v2/Flows/{flow_sid}/Executions/{execution_sid}/Steps"
      parent: "/Flows/{Sid}"
      pathType: list
  /v2/Flows/{FlowSid}/Executions/{ExecutionSid}/Context:
    description: JSON context for executions
    get:
      description: Retrieve the most recent context for an Execution.
      operationId: fetch_execution_context
      parameters:
      - description: The SID of the Flow with the Execution context to fetch.
        explode: false
        in: path
        name: FlowSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^FW[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The SID of the Execution context to fetch.
        explode: false
        in: path
        name: ExecutionSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^FN[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/studio.v2.flow.execution.execution_context'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - StudioV2ExecutionContext
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.studio_v2_execution_context_controller
    servers:
    - url: https://studio.twilio.com
    x-twilio:
      defaultOutputProperties:
      - context
      mountName: execution_context
      parent: "/Flows/{FlowSid}/Executions/{Sid}"
      pathType: instance
  /v2/Flows/{FlowSid}/Executions/{ExecutionSid}/Steps:
    description: Individual steps within an execution
    get:
      description: Retrieve a list of all Steps for an Execution.
      operationId: list_execution_step
      parameters:
      - description: The SID of the Flow with the Steps to read.
        explode: false
        in: path
        name: FlowSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^FW[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The SID of the Execution with the Steps to read.
        explode: false
        in: path
        name: ExecutionSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^FN[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListExecutionStepResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - StudioV2ExecutionStep
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.studio_v2_execution_step_controller
    servers:
    - url: https://studio.twilio.com
    x-twilio:
      className: execution_step
      defaultOutputProperties:
      - sid
      - name
      - date_created
      dependentProperties:
        step_context:
          mapping:
            execution_sid: execution_sid
            flow_sid: flow_sid
            step_sid: sid
          resource_url: "/v2/Flows/{flow_sid}/Executions/{execution_sid}/Steps/{step_sid}/Context"
      parent: "/Flows/{FlowSid}/Executions/{Sid}"
      pathType: list
  /v2/Flows/{FlowSid}/Executions/{ExecutionSid}/Steps/{Sid}:
    description: Individual steps within an execution
    get:
      description: Retrieve a Step.
      operationId: fetch_execution_step
      parameters:
      - description: The SID of the Flow with the Step to fetch.
        explode: false
        in: path
        name: FlowSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^FW[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The SID of the Execution resource with the Step to fetch.
        explode: false
        in: path
        name: ExecutionSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^FN[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The SID of the ExecutionStep resource to fetch.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^FT[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/studio.v2.flow.execution.execution_step'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - StudioV2ExecutionStep
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.studio_v2_execution_step_controller
    servers:
    - url: https://studio.twilio.com
    x-twilio:
      className: execution_step
      defaultOutputProperties:
      - sid
      - name
      - date_created
      dependentProperties:
        step_context:
          mapping:
            execution_sid: execution_sid
            flow_sid: flow_sid
            step_sid: sid
          resource_url: "/v2/Flows/{flow_sid}/Executions/{execution_sid}/Steps/{step_sid}/Context"
      parent: "/Flows/{FlowSid}/Executions/{Sid}"
      pathType: instance
  /v2/Flows/{FlowSid}/Executions/{ExecutionSid}/Steps/{StepSid}/Context:
    description: JSON context for an individual step within an execution
    get:
      description: Retrieve the context for an Execution Step.
      operationId: fetch_execution_step_context
      parameters:
      - description: The SID of the Flow with the Step to fetch.
        explode: false
        in: path
        name: FlowSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^FW[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The SID of the Execution resource with the Step to fetch.
        explode: false
        in: path
        name: ExecutionSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^FN[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The SID of the Step to fetch.
        explode: false
        in: path
        name: StepSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^FT[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/studio.v2.flow.execution.execution_step.execution_step_context'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - StudioV2ExecutionStepContext
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.studio_v2_execution_step_context_controller
    servers:
    - url: https://studio.twilio.com
    x-twilio:
      className: execution_step_context
      defaultOutputProperties:
      - context
      mountName: step_context
      parent: "/Flows/{FlowSid}/Executions/{ExecutionSid}/Steps/{Sid}"
      pathType: instance
  /v2/Flows/{FlowSid}/Executions/{Sid}:
    delete:
      description: Delete the Execution and all Steps relating to it.
      operationId: delete_execution
      parameters:
      - description: The SID of the Flow with the Execution resources to delete.
        explode: false
        in: path
        name: FlowSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^FW[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The SID of the Execution resource to delete.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^FN[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - StudioV2Execution
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.studio_v2_execution_controller
    description: Executions of Studio flows
    get:
      description: Retrieve an Execution
      operationId: fetch_execution
      parameters:
      - description: The SID of the Flow with the Execution resource to fetch
        explode: false
        in: path
        name: FlowSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^FW[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The SID of the Execution resource to fetch.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^FN[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/studio.v2.flow.execution'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - StudioV2Execution
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.studio_v2_execution_controller
    post:
      description: Update the status of an Execution to `ended`.
      operationId: update_execution
      parameters:
      - description: The SID of the Flow with the Execution resources to update.
        explode: false
        in: path
        name: FlowSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^FW[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The SID of the Execution resource to update.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^FN[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateExecutionRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/studio.v2.flow.execution'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - StudioV2Execution
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.studio_v2_execution_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://studio.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - status
      - date_created
      dependentProperties:
        execution_context:
          mapping:
            execution_sid: sid
            flow_sid: flow_sid
          resource_url: "/v2/Flows/{flow_sid}/Executions/{execution_sid}/Context"
        steps:
          mapping:
            execution_sid: sid
            flow_sid: flow_sid
          resource_url: "/v2/Flows/{flow_sid}/Executions/{execution_sid}/Steps"
      parent: "/Flows/{Sid}"
      pathType: instance
  /v2/Flows/{Sid}:
    delete:
      description: Delete a specific Flow.
      operationId: delete_flow
      parameters:
      - description: The SID of the Flow resource to delete.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^FW[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - StudioV2Flow
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.studio_v2_flow_controller
    description: Studio flows
    get:
      description: Retrieve a specific Flow.
      operationId: fetch_flow
      parameters:
      - description: The SID of the Flow resource to fetch.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^FW[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/studio.v2.flow'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - StudioV2Flow
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.studio_v2_flow_controller
    post:
      description: Update a Flow.
      operationId: update_flow
      parameters:
      - description: The SID of the Flow resource to fetch.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^FW[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateFlowRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/studio.v2.flow'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - StudioV2Flow
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.studio_v2_flow_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://studio.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      - status
      - revision
      dependentProperties:
        executions:
          mapping:
            flow_sid: sid
          resource_url: "/v2/Flows/{flow_sid}/Executions"
        revisions:
          mapping:
            sid: sid
          resource_url: "/v2/Flows/{sid}/Revisions"
        test_users:
          mapping:
            sid: sid
          resource_url: "/v2/Flows/{sid}/TestUsers"
      pathType: instance
  /v2/Flows/{Sid}/Revisions:
    description: Studio flows revisions
    get:
      description: Retrieve a list of all Flows revisions.
      operationId: list_flow_revision
      parameters:
      - description: The SID of the Flow resource to fetch.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^FW[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFlowRevisionResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - StudioV2FlowRevision
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.studio_v2_flow_revision_controller
    servers:
    - url: https://studio.twilio.com
    x-twilio:
      className: flow_revision
      defaultOutputProperties:
      - sid
      - friendly_name
      - status
      - revision
      parent: "/Flows/{Sid}"
      pathType: list
  /v2/Flows/{Sid}/Revisions/{Revision}:
    description: Studio flows revisions
    get:
      description: Retrieve a specific Flow revision.
      operationId: fetch_flow_revision
      parameters:
      - description: The SID of the Flow resource to fetch.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^FW[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: Specific Revision number or can be `LatestPublished` and `LatestRevision`.
        explode: false
        in: path
        name: Revision
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/studio.v2.flow.flow_revision'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - StudioV2FlowRevision
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.studio_v2_flow_revision_controller
    servers:
    - url: https://studio.twilio.com
    x-twilio:
      className: flow_revision
      defaultOutputProperties:
      - sid
      - friendly_name
      - status
      - revision
      parent: "/Flows/{Sid}"
      pathType: instance
  /v2/Flows/{Sid}/TestUsers:
    description: Test users of a flow
    get:
      description: Fetch flow test users
      operationId: fetch_test_user
      parameters:
      - description: Unique identifier of the flow.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^FW[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/studio.v2.flow.test_user'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - StudioV2FlowTestUser
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.studio_v2_flow_test_user_controller
    post:
      description: Update flow test users
      operationId: update_test_user
      parameters:
      - description: Unique identifier of the flow.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^FW[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateTestUserRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/studio.v2.flow.test_user'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - StudioV2FlowTestUser
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.studio_v2_flow_test_user_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://studio.twilio.com
    x-twilio:
      className: flow_test_user
      defaultOutputProperties:
      - test_users
      parent: "/Flows/{Sid}"
      pathType: instance
components:
  schemas:
    execution_enum_status:
      enum:
      - active
      - ended
      title: execution_enum_status
      type: string
    flow_enum_status:
      enum:
      - draft
      - published
      title: flow_enum_status
      type: string
    flow_revision_enum_status:
      enum:
      - draft
      - published
      title: flow_revision_enum_status
      type: string
    flow_validate_enum_status:
      enum:
      - draft
      - published
      title: flow_validate_enum_status
      type: string
    studio.v2.flow:
      example:
        friendly_name: friendly_name
        date_updated: 2000-01-23T04:56:07.000+00:00
        webhook_url: https://openapi-generator.tech
        date_created: 2000-01-23T04:56:07.000+00:00
        warnings:
        - ""
        - ""
        commit_message: commit_message
        url: https://openapi-generator.tech
        revision: 0
        sid: sid
        valid: true
        account_sid: account_sid
        definition: ""
        links: "{}"
        errors:
        - ""
        - ""
        status: status
      properties:
        account_sid:
          description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
            \ that created the Flow resource."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          title: account_sid
          type: string
        commit_message:
          description: Description of change made in the revision.
          nullable: true
          title: commit_message
          type: string
        date_created:
          description: "The date and time in GMT when the resource was created specified\
            \ in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format."
          format: date-time
          nullable: true
          title: date_created
          type: string
        date_updated:
          description: "The date and time in GMT when the resource was last updated\
            \ specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format."
          format: date-time
          nullable: true
          title: date_updated
          type: string
        definition:
          description: JSON representation of flow definition.
          nullable: true
          title: definition
        errors:
          description: List of error in the flow definition.
          items: {}
          nullable: true
          title: errors
          type: array
        friendly_name:
          description: The string that you assigned to describe the Flow.
          nullable: true
          title: friendly_name
          type: string
        links:
          description: The URLs of the Flow's nested resources.
          format: uri-map
          nullable: true
          title: links
          type: object
        revision:
          description: The latest revision number of the Flow's definition.
          nullable: true
          title: revision
          type: integer
        sid:
          description: The unique string that we created to identify the Flow resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^FW[0-9a-fA-F]{32}$"
          title: sid
          type: string
        status:
          $ref: '#/components/schemas/flow_enum_status'
        url:
          description: The absolute URL of the resource.
          format: uri
          nullable: true
          title: url
          type: string
        valid:
          description: Boolean if the flow definition is valid.
          nullable: true
          title: valid
          type: boolean
        warnings:
          description: List of warnings in the flow definition.
          items: {}
          nullable: true
          title: warnings
          type: array
        webhook_url:
          format: uri
          nullable: true
          title: webhook_url
          type: string
      title: studio.v2.flow
      type: object
    studio.v2.flow.execution:
      example:
        flow_sid: flow_sid
        date_updated: 2000-01-23T04:56:07.000+00:00
        contact_channel_address: contact_channel_address
        date_created: 2000-01-23T04:56:07.000+00:00
        context: ""
        account_sid: account_sid
        links: "{}"
        url: https://openapi-generator.tech
        sid: sid
        status: status
      properties:
        account_sid:
          description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
            \ that created the Execution resource."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          title: account_sid
          type: string
        contact_channel_address:
          description: "The phone number, SIP address or Client identifier that triggered\
            \ the Execution. Phone numbers are in E.164 format (e.g. +16175551212).\
            \ SIP addresses are formatted as `name@company.com`. Client identifiers\
            \ are formatted `client:name`."
          nullable: true
          title: contact_channel_address
          type: string
          x-twilio:
            pii:
              deleteSla: 30
              handling: standard
        context:
          description: "The current state of the Flow's Execution. As a flow executes,\
            \ we save its state in this context. We save data that your widgets can\
            \ access as variables in configuration fields or in text areas as variable\
            \ substitution."
          nullable: true
          title: context
          x-twilio:
            pii:
              deleteSla: 30
              handling: standard
        date_created:
          description: "The date and time in GMT when the resource was created specified\
            \ in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format."
          format: date-time
          nullable: true
          title: date_created
          type: string
        date_updated:
          description: "The date and time in GMT when the resource was last updated\
            \ specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format."
          format: date-time
          nullable: true
          title: date_updated
          type: string
        flow_sid:
          description: The SID of the Flow.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^FW[0-9a-fA-F]{32}$"
          title: flow_sid
          type: string
        links:
          description: The URLs of nested resources.
          format: uri-map
          nullable: true
          title: links
          type: object
        sid:
          description: The unique string that we created to identify the Execution
            resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^FN[0-9a-fA-F]{32}$"
          title: sid
          type: string
        status:
          $ref: '#/components/schemas/execution_enum_status'
        url:
          description: The absolute URL of the resource.
          format: uri
          nullable: true
          title: url
          type: string
      title: studio.v2.flow.execution
      type: object
    studio.v2.flow.execution.execution_context:
      example:
        flow_sid: flow_sid
        context: ""
        account_sid: account_sid
        execution_sid: execution_sid
        url: https://openapi-generator.tech
      properties:
        account_sid:
          description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
            \ that created the ExecutionContext resource."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          title: account_sid
          type: string
        context:
          description: "The current state of the Flow's Execution. As a flow executes,\
            \ we save its state in this context. We save data that your widgets can\
            \ access as variables in configuration fields or in text areas as variable\
            \ substitution."
          nullable: true
          title: context
          x-twilio:
            pii:
              deleteSla: 30
              handling: standard
        execution_sid:
          description: The SID of the context's Execution resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^FN[0-9a-fA-F]{32}$"
          title: execution_sid
          type: string
        flow_sid:
          description: The SID of the Flow.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^FW[0-9a-fA-F]{32}$"
          title: flow_sid
          type: string
        url:
          description: The absolute URL of the resource.
          format: uri
          nullable: true
          title: url
          type: string
      title: studio.v2.flow.execution.execution_context
      type: object
    studio.v2.flow.execution.execution_step:
      example:
        flow_sid: flow_sid
        date_updated: 2000-01-23T04:56:07.000+00:00
        date_created: 2000-01-23T04:56:07.000+00:00
        context: ""
        name: name
        account_sid: account_sid
        links: "{}"
        transitioned_to: transitioned_to
        execution_sid: execution_sid
        transitioned_from: transitioned_from
        url: https://openapi-generator.tech
        sid: sid
      properties:
        account_sid:
          description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
            \ that created the ExecutionStep resource."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          title: account_sid
          type: string
        context:
          description: "The current state of the Flow's Execution. As a flow executes,\
            \ we save its state in this context. We save data that your widgets can\
            \ access as variables in configuration fields or in text areas as variable\
            \ substitution."
          nullable: true
          title: context
          x-twilio:
            pii:
              deleteSla: 30
              handling: standard
        date_created:
          description: "The date and time in GMT when the resource was created specified\
            \ in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format."
          format: date-time
          nullable: true
          title: date_created
          type: string
        date_updated:
          description: "The date and time in GMT when the resource was last updated\
            \ specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format."
          format: date-time
          nullable: true
          title: date_updated
          type: string
        execution_sid:
          description: The SID of the Step's Execution resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^FN[0-9a-fA-F]{32}$"
          title: execution_sid
          type: string
        flow_sid:
          description: The SID of the Flow.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^FW[0-9a-fA-F]{32}$"
          title: flow_sid
          type: string
        links:
          description: The URLs of related resources.
          format: uri-map
          nullable: true
          title: links
          type: object
        name:
          description: The event that caused the Flow to transition to the Step.
          nullable: true
          title: name
          type: string
        sid:
          description: The unique string that we created to identify the ExecutionStep
            resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^FT[0-9a-fA-F]{32}$"
          title: sid
          type: string
        transitioned_from:
          description: The Widget that preceded the Widget for the Step.
          nullable: true
          title: transitioned_from
          type: string
        transitioned_to:
          description: The Widget that will follow the Widget for the Step.
          nullable: true
          title: transitioned_to
          type: string
        url:
          description: The absolute URL of the resource.
          format: uri
          nullable: true
          title: url
          type: string
      title: studio.v2.flow.execution.execution_step
      type: object
    studio.v2.flow.execution.execution_step.execution_step_context:
      example:
        flow_sid: flow_sid
        step_sid: step_sid
        context: ""
        account_sid: account_sid
        execution_sid: execution_sid
        url: https://openapi-generator.tech
      properties:
        account_sid:
          description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
            \ that created the ExecutionStepContext resource."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          title: account_sid
          type: string
        context:
          description: "The current state of the Flow's Execution. As a flow executes,\
            \ we save its state in this context. We save data that your widgets can\
            \ access as variables in configuration fields or in text areas as variable\
            \ substitution."
          nullable: true
          title: context
          x-twilio:
            pii:
              deleteSla: 30
              handling: standard
        execution_sid:
          description: The SID of the context's Execution resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^FN[0-9a-fA-F]{32}$"
          title: execution_sid
          type: string
        flow_sid:
          description: The SID of the Flow.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^FW[0-9a-fA-F]{32}$"
          title: flow_sid
          type: string
        step_sid:
          description: The SID of the Step that the context is associated with.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^FT[0-9a-fA-F]{32}$"
          title: step_sid
          type: string
        url:
          description: The absolute URL of the resource.
          format: uri
          nullable: true
          title: url
          type: string
      title: studio.v2.flow.execution.execution_step.execution_step_context
      type: object
    studio.v2.flow.flow_revision:
      example:
        valid: true
        friendly_name: friendly_name
        date_updated: 2000-01-23T04:56:07.000+00:00
        date_created: 2000-01-23T04:56:07.000+00:00
        account_sid: account_sid
        definition: ""
        commit_message: commit_message
        errors:
        - ""
        - ""
        url: https://openapi-generator.tech
        revision: 0
        sid: sid
        status: status
      properties:
        account_sid:
          description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
            \ that created the Flow resource."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          title: account_sid
          type: string
        commit_message:
          description: Description of change made in the revision.
          nullable: true
          title: commit_message
          type: string
        date_created:
          description: "The date and time in GMT when the resource was created specified\
            \ in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format."
          format: date-time
          nullable: true
          title: date_created
          type: string
        date_updated:
          description: "The date and time in GMT when the resource was last updated\
            \ specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format."
          format: date-time
          nullable: true
          title: date_updated
          type: string
        definition:
          description: JSON representation of flow definition.
          nullable: true
          title: definition
        errors:
          description: List of error in the flow definition.
          items: {}
          nullable: true
          title: errors
          type: array
        friendly_name:
          description: The string that you assigned to describe the Flow.
          nullable: true
          title: friendly_name
          type: string
        revision:
          description: The latest revision number of the Flow's definition.
          nullable: true
          title: revision
          type: integer
        sid:
          description: The unique string that we created to identify the Flow resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^FW[0-9a-fA-F]{32}$"
          title: sid
          type: string
        status:
          $ref: '#/components/schemas/flow_revision_enum_status'
        url:
          description: The absolute URL of the resource.
          format: uri
          nullable: true
          title: url
          type: string
        valid:
          description: Boolean if the flow definition is valid.
          nullable: true
          title: valid
          type: boolean
      title: studio.v2.flow.flow_revision
      type: object
    studio.v2.flow.test_user:
      example:
        url: https://openapi-generator.tech
        sid: sid
        test_users:
        - test_users
        - test_users
      properties:
        sid:
          description: Unique identifier of the flow.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^FW[0-9a-fA-F]{32}$"
          title: sid
          type: string
        test_users:
          description: List of test user identities that can test draft versions of
            the flow.
          items:
            type: string
          nullable: true
          title: test_users
          type: array
        url:
          description: The URL of this resource.
          format: uri
          nullable: true
          title: url
          type: string
      title: studio.v2.flow.test_user
      type: object
    studio.v2.flow_validate:
      example:
        valid: true
      properties:
        valid:
          description: Boolean if the flow definition is valid.
          nullable: true
          title: valid
          type: boolean
      title: studio.v2.flow_validate
      type: object
    ListFlowResponse_meta:
      example:
        first_page_url: https://openapi-generator.tech
        next_page_url: https://openapi-generator.tech
        previous_page_url: https://openapi-generator.tech
        page: 6
        key: key
        url: https://openapi-generator.tech
        page_size: 1
      properties:
        first_page_url:
          format: uri
          title: first_page_url
          type: string
        key:
          title: key
          type: string
        next_page_url:
          format: uri
          nullable: true
          title: next_page_url
          type: string
        page:
          title: page
          type: integer
        page_size:
          title: page_size
          type: integer
        previous_page_url:
          format: uri
          nullable: true
          title: previous_page_url
          type: string
        url:
          format: uri
          title: url
          type: string
      title: ListFlowResponse_meta
      type: object
    ListFlowResponse:
      example:
        flows:
        - friendly_name: friendly_name
          date_updated: 2000-01-23T04:56:07.000+00:00
          webhook_url: https://openapi-generator.tech
          date_created: 2000-01-23T04:56:07.000+00:00
          warnings:
          - ""
          - ""
          commit_message: commit_message
          url: https://openapi-generator.tech
          revision: 0
          sid: sid
          valid: true
          account_sid: account_sid
          definition: ""
          links: "{}"
          errors:
          - ""
          - ""
          status: status
        - friendly_name: friendly_name
          date_updated: 2000-01-23T04:56:07.000+00:00
          webhook_url: https://openapi-generator.tech
          date_created: 2000-01-23T04:56:07.000+00:00
          warnings:
          - ""
          - ""
          commit_message: commit_message
          url: https://openapi-generator.tech
          revision: 0
          sid: sid
          valid: true
          account_sid: account_sid
          definition: ""
          links: "{}"
          errors:
          - ""
          - ""
          status: status
        meta:
          first_page_url: https://openapi-generator.tech
          next_page_url: https://openapi-generator.tech
          previous_page_url: https://openapi-generator.tech
          page: 6
          key: key
          url: https://openapi-generator.tech
          page_size: 1
      properties:
        flows:
          items:
            $ref: '#/components/schemas/studio.v2.flow'
          title: flows
          type: array
        meta:
          $ref: '#/components/schemas/ListFlowResponse_meta'
      title: ListFlowResponse
      type: object
    CreateFlowRequest:
      properties:
        CommitMessage:
          description: Description of change made in the revision.
          type: string
        Definition:
          description: JSON representation of flow definition.
        FriendlyName:
          description: The string that you assigned to describe the Flow.
          type: string
        Status:
          $ref: '#/components/schemas/flow_enum_status'
      required:
      - Definition
      - FriendlyName
      - Status
      title: CreateFlowRequest
      type: object
    UpdateFlowValidateRequest:
      properties:
        CommitMessage:
          description: Description of change made in the revision.
          type: string
        Definition:
          description: JSON representation of flow definition.
        FriendlyName:
          description: The string that you assigned to describe the Flow.
          type: string
        Status:
          $ref: '#/components/schemas/flow_validate_enum_status'
      required:
      - Definition
      - FriendlyName
      - Status
      title: UpdateFlowValidateRequest
      type: object
    ListExecutionResponse:
      example:
        executions:
        - flow_sid: flow_sid
          date_updated: 2000-01-23T04:56:07.000+00:00
          contact_channel_address: contact_channel_address
          date_created: 2000-01-23T04:56:07.000+00:00
          context: ""
          account_sid: account_sid
          links: "{}"
          url: https://openapi-generator.tech
          sid: sid
          status: status
        - flow_sid: flow_sid
          date_updated: 2000-01-23T04:56:07.000+00:00
          contact_channel_address: contact_channel_address
          date_created: 2000-01-23T04:56:07.000+00:00
          context: ""
          account_sid: account_sid
          links: "{}"
          url: https://openapi-generator.tech
          sid: sid
          status: status
        meta:
          first_page_url: https://openapi-generator.tech
          next_page_url: https://openapi-generator.tech
          previous_page_url: https://openapi-generator.tech
          page: 6
          key: key
          url: https://openapi-generator.tech
          page_size: 1
      properties:
        executions:
          items:
            $ref: '#/components/schemas/studio.v2.flow.execution'
          title: executions
          type: array
        meta:
          $ref: '#/components/schemas/ListFlowResponse_meta'
      title: ListExecutionResponse
      type: object
    CreateExecutionRequest:
      properties:
        From:
          description: "The Twilio phone number to send messages or initiate calls\
            \ from during the Flow's Execution. Available as variable `{{flow.channel.address}}`.\
            \ For SMS, this can also be a Messaging Service SID."
          format: phone-number
          type: string
        Parameters:
          description: "JSON data that will be added to the Flow's context and that\
            \ can be accessed as variables inside your Flow. For example, if you pass\
            \ in `Parameters={\"name\":\"Zeke\"}`, a widget in your Flow can reference\
            \ the variable `{{flow.data.name}}`, which returns \"Zeke\". Note: the\
            \ JSON value must explicitly be passed as a string, not as a hash object.\
            \ Depending on your particular HTTP library, you may need to add quotes\
            \ or URL encode the JSON string."
        To:
          description: "The Contact phone number to start a Studio Flow Execution,\
            \ available as variable `{{contact.channel.address}}`."
          format: phone-number
          type: string
      required:
      - From
      - To
      title: CreateExecutionRequest
      type: object
    ListExecutionStepResponse:
      example:
        meta:
          first_page_url: https://openapi-generator.tech
          next_page_url: https://openapi-generator.tech
          previous_page_url: https://openapi-generator.tech
          page: 6
          key: key
          url: https://openapi-generator.tech
          page_size: 1
        steps:
        - flow_sid: flow_sid
          date_updated: 2000-01-23T04:56:07.000+00:00
          date_created: 2000-01-23T04:56:07.000+00:00
          context: ""
          name: name
          account_sid: account_sid
          links: "{}"
          transitioned_to: transitioned_to
          execution_sid: execution_sid
          transitioned_from: transitioned_from
          url: https://openapi-generator.tech
          sid: sid
        - flow_sid: flow_sid
          date_updated: 2000-01-23T04:56:07.000+00:00
          date_created: 2000-01-23T04:56:07.000+00:00
          context: ""
          name: name
          account_sid: account_sid
          links: "{}"
          transitioned_to: transitioned_to
          execution_sid: execution_sid
          transitioned_from: transitioned_from
          url: https://openapi-generator.tech
          sid: sid
      properties:
        meta:
          $ref: '#/components/schemas/ListFlowResponse_meta'
        steps:
          items:
            $ref: '#/components/schemas/studio.v2.flow.execution.execution_step'
          title: steps
          type: array
      title: ListExecutionStepResponse
      type: object
    UpdateExecutionRequest:
      properties:
        Status:
          $ref: '#/components/schemas/execution_enum_status'
      required:
      - Status
      title: UpdateExecutionRequest
      type: object
    UpdateFlowRequest:
      properties:
        CommitMessage:
          description: Description of change made in the revision.
          type: string
        Definition:
          description: JSON representation of flow definition.
        FriendlyName:
          description: The string that you assigned to describe the Flow.
          type: string
        Status:
          $ref: '#/components/schemas/flow_enum_status'
      required:
      - Status
      title: UpdateFlowRequest
      type: object
    ListFlowRevisionResponse:
      example:
        meta:
          first_page_url: https://openapi-generator.tech
          next_page_url: https://openapi-generator.tech
          previous_page_url: https://openapi-generator.tech
          page: 6
          key: key
          url: https://openapi-generator.tech
          page_size: 1
        revisions:
        - valid: true
          friendly_name: friendly_name
          date_updated: 2000-01-23T04:56:07.000+00:00
          date_created: 2000-01-23T04:56:07.000+00:00
          account_sid: account_sid
          definition: ""
          commit_message: commit_message
          errors:
          - ""
          - ""
          url: https://openapi-generator.tech
          revision: 0
          sid: sid
          status: status
        - valid: true
          friendly_name: friendly_name
          date_updated: 2000-01-23T04:56:07.000+00:00
          date_created: 2000-01-23T04:56:07.000+00:00
          account_sid: account_sid
          definition: ""
          commit_message: commit_message
          errors:
          - ""
          - ""
          url: https://openapi-generator.tech
          revision: 0
          sid: sid
          status: status
      properties:
        meta:
          $ref: '#/components/schemas/ListFlowResponse_meta'
        revisions:
          items:
            $ref: '#/components/schemas/studio.v2.flow.flow_revision'
          title: revisions
          type: array
      title: ListFlowRevisionResponse
      type: object
    UpdateTestUserRequest:
      properties:
        TestUsers:
          description: List of test user identities that can test draft versions of
            the flow.
          items:
            type: string
          type: array
      required:
      - TestUsers
      title: UpdateTestUserRequest
      type: object
  securitySchemes:
    accountSid_authToken:
      scheme: basic
      type: http
      x-basicInfoFunc: openapi_server.controllers.security_controller.info_from_accountSid_authToken
x-maturity:
- description: This product is Generally Available.
  name: GA
