openapi: 3.0.0
info:
  contact:
    email: api@clickmeter.com
    name: Api Support
    url: http://www.clickmeter.com/api
  description: Api dashboard for ClickMeter API
  title: ClickMeter API
  version: v2
  x-apisguru-categories:
  - marketing
  x-logo:
    url: https://s3.amazonaws.com/clickmeter.com/Web/static/cmlogo.svg
  x-origin:
  - format: openapi
    url: http://api.v2.clickmeter.com.s3.amazonaws.com/docs/api-docs-v2.json
    version: "3.0"
  x-providerName: clickmeter.com
servers:
- url: http://apiv2.clickmeter.com:80
- url: https://apiv2.clickmeter.com:80
security:
- api_key: []
paths:
  /account:
    get:
      deprecated: false
      operationId: Account_Get
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api.Core.Dto.Accounting.User'
            application/xml:
              schema:
                $ref: '#/components/schemas/Api.Core.Dto.Accounting.User'
            text/json:
              schema:
                $ref: '#/components/schemas/Api.Core.Dto.Accounting.User'
            text/xml:
              schema:
                $ref: '#/components/schemas/Api.Core.Dto.Accounting.User'
          description: ""
        "401":
          description: Unauthorized
        "500":
          description: Internal Server Error
      summary: Retrieve current account data
      tags:
      - Account
      x-accepts:
      - application/json
      - application/xml
      - text/json
      - text/xml
    post:
      deprecated: false
      operationId: Account_Post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Api.Core.Dto.Accounting.User'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Api.Core.Dto.Accounting.User'
          application/xml:
            schema:
              $ref: '#/components/schemas/Api.Core.Dto.Accounting.User'
          text/json:
            schema:
              $ref: '#/components/schemas/Api.Core.Dto.Accounting.User'
          text/xml:
            schema:
              $ref: '#/components/schemas/Api.Core.Dto.Accounting.User'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api.Core.Dto.Accounting.User'
            application/xml:
              schema:
                $ref: '#/components/schemas/Api.Core.Dto.Accounting.User'
            text/json:
              schema:
                $ref: '#/components/schemas/Api.Core.Dto.Accounting.User'
            text/xml:
              schema:
                $ref: '#/components/schemas/Api.Core.Dto.Accounting.User'
          description: ""
        "401":
          description: Unauthorized
        "500":
          description: Internal Server Error
      summary: Update current account data
      tags:
      - Account
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/xml
      - text/json
      - text/xml
  /account/domainwhitelist:
    get:
      deprecated: false
      operationId: Account_GetDomainWhitelist
      parameters:
      - description: Offset where to start from
        explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int32
          minLength: 0
          type: integer
        style: form
      - description: Limit results to this number
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          maxLength: 0
          minLength: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api.Core.Responses.EntitiesResponse_Api.Core.Dto.Accounting.DomainWhitelistEntry_'
            text/json:
              schema:
                $ref: '#/components/schemas/Api.Core.Responses.EntitiesResponse_Api.Core.Dto.Accounting.DomainWhitelistEntry_'
          description: ""
        "401":
          description: Unauthorized
        "500":
          description: Internal Server Error
      summary: Retrieve list of a domains allowed to redirect in DDU mode
      tags:
      - Account
      x-accepts:
      - application/json
      - text/json
    post:
      deprecated: false
      operationId: Account_PutDomainWhitelist
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Api.Core.Dto.Accounting.DomainWhitelistEntry'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Api.Core.Dto.Accounting.DomainWhitelistEntry'
          application/xml:
            schema:
              $ref: '#/components/schemas/Api.Core.Dto.Accounting.DomainWhitelistEntry'
          text/json:
            schema:
              $ref: '#/components/schemas/Api.Core.Dto.Accounting.DomainWhitelistEntry'
          text/xml:
            schema:
              $ref: '#/components/schemas/Api.Core.Dto.Accounting.DomainWhitelistEntry'
        description: The entry to add
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api.Core.Dto.Accounting.DomainWhitelistEntry'
            application/xml:
              schema:
                $ref: '#/components/schemas/Api.Core.Dto.Accounting.DomainWhitelistEntry'
            text/json:
              schema:
                $ref: '#/components/schemas/Api.Core.Dto.Accounting.DomainWhitelistEntry'
            text/xml:
              schema:
                $ref: '#/components/schemas/Api.Core.Dto.Accounting.DomainWhitelistEntry'
          description: ""
        "401":
          description: Unauthorized
        "500":
          description: Internal Server Error
      summary: Create an domain entry
      tags:
      - Account
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/xml
      - text/json
      - text/xml
  /account/domainwhitelist/{whitelistId}:
    delete:
      deprecated: false
      operationId: Account_DeleteDomainWhitelist
      parameters:
      - description: The id of the domain to delete
        explode: false
        in: path
        name: whitelistId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api.Core.Dto.Accounting.DomainWhitelistEntry'
            application/xml:
              schema:
                $ref: '#/components/schemas/Api.Core.Dto.Accounting.DomainWhitelistEntry'
            text/json:
              schema:
                $ref: '#/components/schemas/Api.Core.Dto.Accounting.DomainWhitelistEntry'
            text/xml:
              schema:
                $ref: '#/components/schemas/Api.Core.Dto.Accounting.DomainWhitelistEntry'
          description: ""
        "401":
          description: Unauthorized
        "500":
          description: Internal Server Error
      summary: Delete an domain entry
      tags:
      - Account
      x-accepts:
      - application/json
      - application/xml
      - text/json
      - text/xml
  /account/guests:
    get:
      deprecated: false
      operationId: Account_GetGuests
      parameters:
      - description: Offset where to start from
        explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int32
          minLength: 0
          type: integer
        style: form
      - description: Limit results to this number
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          maxLength: 0
          minLength: 0
          type: integer
        style: form
      - description: Field to sort by
        explode: true
        in: query
        name: sortBy
        required: false
        schema:
          type: string
        style: form
      - description: Direction of sort "asc" or "desc"
        explode: true
        in: query
        name: sortDirection
        required: false
        schema:
          enum:
          - asc
          - desc
          type: string
        style: form
      - description: Filter fields by this pattern
        explode: true
        in: query
        name: textSearch
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api.Core.Responses.EntitiesResponse_Api.Core.Responses.EntityUri_System.Int64_'
            text/json:
              schema:
                $ref: '#/components/schemas/Api.Core.Responses.EntitiesResponse_Api.Core.Responses.EntityUri_System.Int64_'
          description: ""
        "401":
          description: Unauthorized
        "500":
          description: Internal Server Error
      summary: Retrieve list of a guest
      tags:
      - Account
      x-accepts:
      - application/json
      - text/json
    post:
      deprecated: false
      operationId: Account_PutGuest
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Api.Core.Dto.Accounting.Guest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Api.Core.Dto.Accounting.Guest'
          application/xml:
            schema:
              $ref: '#/components/schemas/Api.Core.Dto.Accounting.Guest'
          text/json:
            schema:
              $ref: '#/components/schemas/Api.Core.Dto.Accounting.Guest'
          text/xml:
            schema:
              $ref: '#/components/schemas/Api.Core.Dto.Accounting.Guest'
        description: Guest object to create
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api.Core.Dto.Accounting.Guest'
            application/xml:
              schema:
                $ref: '#/components/schemas/Api.Core.Dto.Accounting.Guest'
            text/json:
              schema:
                $ref: '#/components/schemas/Api.Core.Dto.Accounting.Guest'
            text/xml:
              schema:
                $ref: '#/components/schemas/Api.Core.Dto.Accounting.Guest'
          description: ""
        "401":
          description: Unauthorized
        "500":
          description: Internal Server Error
      summary: Create a guest
      tags:
      - Account
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/xml
      - text/json
      - text/xml
  /account/guests/count:
    get:
      deprecated: false
      operationId: Account_GetGuestsCount
      parameters:
      - description: Filter fields by this pattern
        explode: true
        in: query
        name: textSearch
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api.Core.Responses.CountResponce'
            application/xml:
              schema:
                $ref: '#/components/schemas/Api.Core.Responses.CountResponce'
            text/json:
              schema:
                $ref: '#/components/schemas/Api.Core.Responses.CountResponce'
            text/xml:
              schema:
                $ref: '#/components/schemas/Api.Core.Responses.CountResponce'
          description: ""
        "401":
          description: Unauthorized
        "500":
          description: Internal Server Error
      summary: Retrieve count of guests
      tags:
      - Account
      x-accepts:
      - application/json
      - application/xml
      - text/json
      - text/xml
  /account/guests/{guestId}:
    delete:
      deprecated: false
      operationId: Account_DeleteGuest
      parameters:
      - description: Id of the guest
        explode: false
        in: path
        name: guestId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api.Core.Responses.EntityUri_System.Int64_'
            application/xml:
              schema:
                $ref: '#/components/schemas/Api.Core.Responses.EntityUri_System.Int64_'
            text/json:
              schema:
                $ref: '#/components/schemas/Api.Core.Responses.EntityUri_System.Int64_'
            text/xml:
              schema:
                $ref: '#/components/schemas/Api.Core.Responses.EntityUri_System.Int64_'
          description: ""
        "401":
          description: Unauthorized
        "500":
          description: Internal Server Error
      summary: Delete a guest
      tags:
      - Account
      x-accepts:
      - application/json
      - application/xml
      - text/json
      - text/xml
    get:
      deprecated: false
      operationId: Account_GetGuest
      parameters:
      - description: Id of the guest
        explode: false
        in: path
        name: guestId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api.Core.Dto.Accounting.Guest'
            application/xml:
              schema:
                $ref: '#/components/schemas/Api.Core.Dto.Accounting.Guest'
            text/json:
              schema:
                $ref: '#/components/schemas/Api.Core.Dto.Accounting.Guest'
            text/xml:
              schema:
                $ref: '#/components/schemas/Api.Core.Dto.Accounting.Guest'
          description: ""
        "401":
          description: Unauthorized
        "500":
          description: Internal Server Error
      summary: Retrieve a guest
      tags:
      - Account
      x-accepts:
      - application/json
      - application/xml
      - text/json
      - text/xml
    post:
      deprecated: false
      operationId: Account_PostGuest
      parameters:
      - description: Id of the guest
        explode: false
        in: path
        name: guestId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Api.Core.Dto.Accounting.Guest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Api.Core.Dto.Accounting.Guest'
          application/xml:
            schema:
              $ref: '#/components/schemas/Api.Core.Dto.Accounting.Guest'
          text/json:
            schema:
              $ref: '#/components/schemas/Api.Core.Dto.Accounting.Guest'
          text/xml:
            schema:
              $ref: '#/components/schemas/Api.Core.Dto.Accounting.Guest'
        description: Guest object with field updated
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api.Core.Dto.Accounting.Guest'
            application/xml:
              schema:
                $ref: '#/components/schemas/Api.Core.Dto.Accounting.Guest'
            text/json:
              schema:
                $ref: '#/components/schemas/Api.Core.Dto.Accounting.Guest'
            text/xml:
              schema:
                $ref: '#/components/schemas/Api.Core.Dto.Accounting.Guest'
          description: ""
        "401":
          description: Unauthorized
        "500":
          description: Internal Server Error
      summary: Update a guest
      tags:
      - Account
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/xml
      - text/json
      - text/xml
  /account/guests/{guestId}/permissions:
    get:
      deprecated: false
      operationId: Account_GetPermissions
      parameters:
      - description: Id of the guest
        explode: false
        in: path
        name: guestId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Can be "datapoint" or "group"
        explode: true
        in: query
        name: entityType
        required: false
        schema:
          enum:
          - datapoint
          - group
          type: string
        style: form
      - description: Offset where to start from
        explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int32
          minLength: 0
          type: integer
        style: form
      - description: Limit results to this number
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          maxLength: 0
          minLength: 0
          type: integer
        style: form
      - description: Can be "w" or "r"
        explode: true
        in: query
        name: type
        required: false
        schema:
          enum:
          - r
          - w
          type: string
        style: form
      - description: Optional id of the datapoint/group entity to filter by
        explode: true
        in: query
        name: entityId
        required: false
        schema:
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api.Core.Responses.EntitiesResponse_Api.Core.Dto.Grants.Grant_'
            text/json:
              schema:
                $ref: '#/components/schemas/Api.Core.Responses.EntitiesResponse_Api.Core.Dto.Grants.Grant_'
          description: ""
        "401":
          description: Unauthorized
        "500":
          description: Internal Server Error
      summary: Retrieve permissions for a guest
      tags:
      - Account
      x-accepts:
      - application/json
      - text/json
  /account/guests/{guestId}/permissions/count:
    get:
      deprecated: false
      operationId: Account_GetPermissionsCount
      parameters:
      - description: Id of the guest
        explode: false
        in: path
        name: guestId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Can be "datapoint" or "group"
        explode: true
        in: query
        name: entityType
        required: false
        schema:
          enum:
          - datapoint
          - group
          type: string
        style: form
      - description: Can be "w" or "r"
        explode: true
        in: query
        name: type
        required: false
        schema:
          enum:
          - r
          - w
          type: string
        style: form
      - description: Optional id of the datapoint/group entity to filter by
        explode: true
        in: query
        name: entityId
        required: false
        schema:
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api.Core.Responses.CountResponce'
            application/xml:
              schema:
                $ref: '#/components/schemas/Api.Core.Responses.CountResponce'
            text/json:
              schema:
                $ref: '#/components/schemas/Api.Core.Responses.CountResponce'
            text/xml:
              schema:
                $ref: '#/components/schemas/Api.Core.Responses.CountResponce'
          description: ""
        "401":
          description: Unauthorized
        "500":
          description: Internal Server Error
      summary: Retrieve count of the permissions for a guest
      tags:
      - Account
      x-accepts:
      - application/json
      - application/xml
      - text/json
      - text/xml
  /account/guests/{guestId}/{type}/permissions/patch:
    post:
      deprecated: false
      parameters:
      - description: Id of the guest
        explode: false
        in: path
        name: guestId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Can be "datapoint" or "group"
        explode: false
        in: path
        name: type
        required: true
        schema:
          enum:
          - datapoint
          - group
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/Api.Core.Requests.PermissionPatchRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api.Core.Responses.EntityUri_System.Int64_'
            application/xml:
              schema:
                $ref: '#/components/schemas/Api.Core.Responses.EntityUri_System.Int64_'
            text/json:
              schema:
                $ref: '#/components/schemas/Api.Core.Responses.EntityUri_System.Int64_'
            text/xml:
              schema:
                $ref: '#/components/schemas/Api.Core.Responses.EntityUri_System.Int64_'
          description: ""
        "401":
          description: Unauthorized
        "500":
          description: Internal Server Error
      summary: Change the permission on a shared object
      tags:
      - Account
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/xml
      - text/json
      - text/xml
    put:
      deprecated: false
      operationId: Account_PatchPermissions
      parameters:
      - description: Id of the guest
        explode: false
        in: path
        name: guestId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Can be "datapoint" or "group"
        explode: false
        in: path
        name: type
        required: true
        schema:
          enum:
          - datapoint
          - group
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/Api.Core.Requests.PermissionPatchRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api.Core.Responses.EntityUri_System.Int64_'
            application/xml:
              schema:
                $ref: '#/components/schemas/Api.Core.Responses.EntityUri_System.Int64_'
            text/json:
              schema:
                $ref: '#/components/schemas/Api.Core.Responses.EntityUri_System.Int64_'
            text/xml:
              schema:
                $ref: '#/components/schemas/Api.Core.Responses.EntityUri_System.Int64_'
          description: ""
        "401":
          description: Unauthorized
        "500":
          description: Internal Server Error
      summary: Change the permission on a shared object
      tags:
      - Account
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/xml
      - text/json
      - text/xml
  /account/ipblacklist:
    get:
      deprecated: false
      operationId: Account_GetIpBlacklist
      parameters:
      - description: Offset where to start from
        explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int32
          minLength: 0
          type: integer
        style: form
      - description: Limit results to this number
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          maxLength: 0
          minLength: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api.Core.Responses.EntitiesResponse_Api.Core.Dto.Accounting.IpBlacklistEntry_'
            text/json:
              schema:
                $ref: '#/components/schemas/Api.Core.Responses.EntitiesResponse_Api.Core.Dto.Accounting.IpBlacklistEntry_'
          description: ""
        "401":
          description: Unauthorized
        "500":
          description: Internal Server Error
      summary: Retrieve list of a ip to exclude from event tracking
      tags:
      - Account
      x-accepts:
      - application/json
      - text/json
    post:
      deprecated: false
      operationId: Account_PutIpBlacklist
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Api.Core.Dto.Accounting.IpBlacklistEntry'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Api.Core.Dto.Accounting.IpBlacklistEntry'
          application/xml:
            schema:
              $ref: '#/components/schemas/Api.Core.Dto.Accounting.IpBlacklistEntry'
          text/json:
            schema:
              $ref: '#/components/schemas/Api.Core.Dto.Accounting.IpBlacklistEntry'
          text/xml:
            schema:
              $ref: '#/components/schemas/Api.Core.Dto.Accounting.IpBlacklistEntry'
        description: The entry to add
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api.Core.Dto.Accounting.IpBlacklistEntry'
            application/xml:
              schema:
                $ref: '#/components/schemas/Api.Core.Dto.Accounting.IpBlacklistEntry'
            text/json:
              schema:
                $ref: '#/components/schemas/Api.Core.Dto.Accounting.IpBlacklistEntry'
            text/xml:
              schema:
                $ref: '#/components/schemas/Api.Core.Dto.Accounting.IpBlacklistEntry'
          description: ""
        "401":
          description: Unauthorized
        "500":
          description: Internal Server Error
      summary: Create an ip blacklist entry
      tags:
      - Account
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/xml
      - text/json
      - text/xml
  /account/ipblacklist/{blacklistId}:
    delete:
      deprecated: false
      operationId: Account_DeleteIpBlacklist
      parameters:
      - description: The id of the ip to delete
        explode: false
        in: path
        name: blacklistId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api.Core.Dto.Accounting.IpBlacklistEntry'
            application/xml:
              schema:
                $ref: '#/components/schemas/Api.Core.Dto.Accounting.IpBlacklistEntry'
            text/json:
              schema:
                $ref: '#/components/schemas/Api.Core.Dto.Accounting.IpBlacklistEntry'
            text/xml:
              schema:
                $ref: '#/components/schemas/Api.Core.Dto.Accounting.IpBlacklistEntry'
          description: ""
        "401":
          description: Unauthorized
        "500":
          description: Internal Server Error
      summary: Delete an ip blacklist entry
      tags:
      - Account
      x-accepts:
      - application/json
      - application/xml
      - text/json
      - text/xml
  /account/plan:
    get:
      deprecated: false
      operationId: Account_GetPlan
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api.Core.Dto.Accounting.Plan'
            application/xml:
              schema:
                $ref: '#/components/schemas/Api.Core.Dto.Accounting.Plan'
            text/json:
              schema:
                $ref: '#/components/schemas/Api.Core.Dto.Accounting.Plan'
            text/xml:
              schema:
                $ref: '#/components/schemas/Api.Core.Dto.Accounting.Plan'
          description: ""
        "401":
          description: Unauthorized
        "500":
          description: Internal Server Error
      summary: Retrieve current account plan
      tags:
      - Account
      x-accepts:
      - application/json
      - application/xml
      - text/json
      - text/xml
  /aggregated:
    get:
      deprecated: false
      operationId: Aggregated_GetStatisticsSingle
      parameters:
      - description: Timeframe of the request. See list at $timeframeList
        explode: true
        in: query
        name: timeFrame
        required: true
        schema:
          enum:
          - today
          - yesterday
          - last7
          - last30
          - lastmonth
          - currentmonth
          - previousmonth
          - last90
          - last120
          - last180
          - last12months
          - lastyear
          - currentyear
          - beginning
          - custom
          type: string
        style: form
      - description: If using a "custom" timeFrame you can specify the starting day
          (YYYYMMDD)
        explode: true
        in: query
        name: fromDay
        required: false
        schema:
          type: string
        style: form
      - description: If using a "custom" timeFrame you can specify the ending day
          (YYYYMMDD)
        explode: true
        in: query
        name: toDay
        required: false
        schema:
          type: string
        style: form
      - description: If using "yesterday" or "today" timeframe you can ask for the
          hourly detail
        explode: true
        in: query
        name: hourly
        required: false
        schema:
          type: boolean
        style: form
      - description: ""
        explode: true
        in: query
        name: onlyFavorites
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api.Core.Dto.Aggregated.AggregatedResult'
            text/json:
              schema:
                $ref: '#/components/schemas/Api.Core.Dto.Aggregated.AggregatedResult'
          description: ""
        "401":
          description: Unauthorized
        "500":
          description: Internal Server Error
      summary: Retrieve statistics about this customer for a timeframe
      tags:
      - Aggregated
      x-accepts:
      - application/json
      - text/json
  /aggregated/list:
    get:
      deprecated: false
      operationId: Aggregated_GetStatisticsList
      parameters:
      - description: Timeframe of the request. See list at $timeframeList
        explode: true
        in: query
        name: timeFrame
        required: true
        schema:
          enum:
          - today
          - yesterday
          - last7
          - last30
          - lastmonth
          - currentmonth
          - previousmonth
          - last90
          - last120
          - last180
          - last12months
          - lastyear
          - currentyear
          - beginning
          - custom
          type: string
        style: form
      - description: If using a "custom" timeFrame you can specify the starting day
          (YYYYMMDD)
        explode: true
        in: query
        name: fromDay
        required: false
        schema:
          type: string
        style: form
      - description: If using a "custom" timeFrame you can specify the ending day
          (YYYYMMDD)
        explode: true
        in: query
        name: toDay
        required: false
        schema:
          type: string
        style: form
      - description: The temporal entity you want to group by ("week"/"month"). If
          unspecified is "day".
        explode: true
        in: query
        name: groupBy
        required: false
        schema:
          enum:
          - week
          - month
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api.Core.Responses.EntitiesResponse_Api.Core.Dto.Aggregated.AggregatedResult_'
            text/json:
              schema:
                $ref: '#/components/schemas/Api.Core.Responses.EntitiesResponse_Api.Core.Dto.Aggregated.AggregatedResult_'
          description: ""
        "401":
          description: Unauthorized
        "500":
          description: Internal Server Error
      summary: Retrieve statistics about this customer for a timeframe grouped by
        some temporal entity (day/week/month)
      tags:
      - Aggregated
      x-accepts:
      - application/json
      - text/json
  /aggregated/summary/conversions:
    get:
      deprecated: false
      operationId: Aggregated_GetConversionsSummary
      parameters:
      - description: Timeframe of the request. See list at $timeframeList
        explode: true
        in: query
        name: timeFrame
        required: true
        schema:
          enum:
          - today
          - yesterday
          - last7
          - last30
          - lastmonth
          - currentmonth
          - previousmonth
          - last90
          - last120
          - last180
          - last12months
          - lastyear
          - currentyear
          - beginning
          - custom
          type: string
        style: form
      - description: If using a "custom" timeFrame you can specify the starting day
          (YYYYMMDD)
        explode: true
        in: query
        name: fromDay
        required: false
        schema:
          type: string
        style: form
      - description: If using a "custom" timeFrame you can specify the ending day
          (YYYYMMDD)
        explode: true
        in: query
        name: toDay
        required: false
        schema:
          type: string
        style: form
      - description: Status of conversion ("deleted"/"active")
        explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - deleted
          - active
          type: string
        style: form
      - description: Field to sort by
        explode: true
        in: query
        name: sortBy
        required: false
        schema:
          type: string
        style: form
      - description: Direction of sort "asc" or "desc"
        explode: true
        in: query
        name: sortDirection
        required: false
        schema:
          enum:
          - asc
          - desc
          type: string
        style: form
      - description: Offset where to start from
        explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int32
          minLength: 0
          type: integer
        style: form
      - description: Limit results to this number
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          maxLength: 0
          minLength: 0
          type: integer
        style: form
      - description: Filter fields by this pattern
        explode: true
        in: query
        name: textSearch
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api.Core.Dto.Aggregated.AggregatedSummaryResult'
            text/json:
              schema:
                $ref: '#/components/schemas/Api.Core.Dto.Aggregated.AggregatedSummaryResult'
          description: ""
        "401":
          description: Unauthorized
        "500":
          description: Internal Server Error
      summary: Retrieve statistics about a subset of conversions for a timeframe with
        conversions data
      tags:
      - Aggregated
      x-accepts:
      - application/json
      - text/json
  /aggregated/summary/datapoints:
    get:
      deprecated: false
      operationId: Aggregated_GetDatapointsSummary
      parameters:
      - description: Timeframe of the request. See list at $timeframeList
        explode: true
        in: query
        name: timeFrame
        required: true
        schema:
          enum:
          - today
          - yesterday
          - last7
          - last30
          - lastmonth
          - currentmonth
          - previousmonth
          - last90
          - last120
          - last180
          - last12months
          - lastyear
          - currentyear
          - beginning
          - custom
          type: string
        style: form
      - description: Type of datapoint ("tl"/"tp")
        explode: true
        in: query
        name: type
        required: true
        schema:
          enum:
          - tp
          - tl
          type: string
        style: form
      - description: If using a "custom" timeFrame you can specify the starting day
          (YYYYMMDD)
        explode: true
        in: query
        name: fromDay
        required: false
        schema:
          type: string
        style: form
      - description: If using a "custom" timeFrame you can specify the ending day
          (YYYYMMDD)
        explode: true
        in: query
        name: toDay
        required: false
        schema:
          type: string
        style: form
      - description: Status of datapoint ("deleted"/"active"/"paused"/"spam")
        explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - deleted
          - active
          - paused
          - spam
          type: string
        style: form
      - description: A comma separated list of tags you want to filter with.
        explode: true
        in: query
        name: tag
        required: false
        schema:
          type: string
        style: form
      - description: Is the datapoint marked as favourite
        explode: true
        in: query
        name: favourite
        required: false
        schema:
          type: boolean
        style: form
      - description: Field to sort by
        explode: true
        in: query
        name: sortBy
        required: false
        schema:
          type: string
        style: form
      - description: Direction of sort "asc" or "desc"
        explode: true
        in: query
        name: sortDirection
        required: false
        schema:
          enum:
          - asc
          - desc
          type: string
        style: form
      - description: Offset where to start from
        explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int32
          minLength: 0
          type: integer
        style: form
      - description: Limit results to this number
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          maxLength: 0
          minLength: 0
          type: integer
        style: form
      - description: Filter by this group id
        explode: true
        in: query
        name: groupId
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Filter fields by this pattern
        explode: true
        in: query
        name: textSearch
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api.Core.Dto.Aggregated.AggregatedSummaryResult'
            text/json:
              schema:
                $ref: '#/components/schemas/Api.Core.Dto.Aggregated.AggregatedSummaryResult'
          description: ""
        "401":
          description: Unauthorized
        "500":
          description: Internal Server Error
      summary: Retrieve statistics about a subset of datapoints for a timeframe with
        datapoints data
      tags:
      - Aggregated
      x-accepts:
      - application/json
      - text/json
  /aggregated/summary/groups:
    get:
      deprecated: false
      operationId: Aggregated_GetGroupsSummary
      parameters:
      - description: Timeframe of the request. See list at $timeframeList
        explode: true
        in: query
        name: timeFrame
        required: true
        schema:
          enum:
          - today
          - yesterday
          - last7
          - last30
          - lastmonth
          - currentmonth
          - previousmonth
          - last90
          - last120
          - last180
          - last12months
          - lastyear
          - currentyear
          - beginning
          - custom
          type: string
        style: form
      - description: If using a "custom" timeFrame you can specify the starting day
          (YYYYMMDD)
        explode: true
        in: query
        name: fromDay
        required: false
        schema:
          type: string
        style: form
      - description: If using a "custom" timeFrame you can specify the ending day
          (YYYYMMDD)
        explode: true
        in: query
        name: toDay
        required: false
        schema:
          type: string
        style: form
      - description: Status of group ("deleted"/"active")
        explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - deleted
          - active
          type: string
        style: form
      - description: A comma separated list of tags you want to filter with.
        explode: true
        in: query
        name: tag
        required: false
        schema:
          type: string
        style: form
      - description: Is the group marked as favourite
        explode: true
        in: query
        name: favourite
        required: false
        schema:
          type: boolean
        style: form
      - description: Field to sort by
        explode: true
        in: query
        name: sortBy
        required: false
        schema:
          type: string
        style: form
      - description: Direction of sort "asc" or "desc"
        explode: true
        in: query
        name: sortDirection
        required: false
        schema:
          enum:
          - asc
          - desc
          type: string
        style: form
      - description: Offset where to start from
        explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int32
          minLength: 0
          type: integer
        style: form
      - description: Limit results to this number
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          maxLength: 0
          minLength: 0
          type: integer
        style: form
      - description: Filter fields by this pattern
        explode: true
        in: query
        name: textSearch
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api.Core.Dto.Aggregated.AggregatedSummaryResult'
            text/json:
              schema:
                $ref: '#/components/schemas/Api.Core.Dto.Aggregated.AggregatedSummaryResult'
          description: ""
        "401":
          description: Unauthorized
        "500":
          description: Internal Server Error
      summary: Retrieve statistics about a subset of groups for a timeframe with groups
        data
      tags:
      - Aggregated
      x-accepts:
      - application/json
      - text/json
  /clickstream:
    get:
      deprecated: false
      operationId: ClickStream_Get
      parameters:
      - description: Filter by this group id (mutually exclusive with "datapoint"
          and "conversion")
        explode: true
        in: query
        name: group
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Filter by this datapoint id (mutually exclusive with "group"
          and "conversion")
        explode: true
        in: query
        name: datapoint
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Filter by this conversion id (mutually exclusive with "datapoint"
          and "group")
        explode: true
        in: query
        name: conversion
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Limit results to this number
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 50
          format: int32
          type: integer
        style: form
      - description: Filter event type ("spiders"/"uniques"/"nonuniques"/"conversions")
        explode: true
        in: query
        name: filter
        required: false
        schema:
          enum:
          - ""
          - spiders
          - uniques
          - nonuniques
          - conversions
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api.Core.Responses.EntitiesResponse_Api.Core.Dto.ClickStream.Hit_'
            text/json:
              schema:
                $ref: '#/components/schemas/Api.Core.Responses.EntitiesResponse_Api.Core.Dto.ClickStream.Hit_'
          description: ""
        "401":
          description: Unauthorized
        "500":
          description: Internal Server Error
      summary: Retrieve the latest list of events of this account. Limited to last
        100.
      tags:
      - ClickStream
      x-accepts:
      - application/json
      - text/json
  /conversions:
    get:
      deprecated: false
      operationId: Conversions_Get
      parameters:
      - description: Offset where to start from
        explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int32
          minLength: 0
          type: integer
        style: form
      - description: Limit results to this number
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          maxLength: 0
          minLength: 0
          type: integer
        style: form
      - description: Status of conversion ("deleted"/"active")
        explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - deleted
          - active
          type: string
        style: form
      - description: Filter fields by this pattern
        explode: true
        in: query
        name: textSearch
        required: false
        schema:
          type: string
        style: form
      - description: Exclude conversions created before this date (YYYYMMDD)
        explode: true
        in: query
        name: createdAfter
        required: false
        schema:
          type: string
        style: form
      - description: Exclude conversions created after this date (YYYYMMDD)
        explode: true
        in: query
        name: createdBefore
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api.Core.Responses.EntitiesResponse_Api.Core.Responses.EntityUri_System.Int64_'
            text/json:
              schema:
                $ref: '#/components/schemas/Api.Core.Responses.EntitiesResponse_Api.Core.Responses.EntityUri_System.Int64_'
          description: ""
        "401":
          description: Unauthorized
        "500":
          description: Internal Server Error
      summary: Retrieve a list of conversions
      tags:
      - Conversions
      x-accepts:
      - application/json
      - text/json
    post:
      deprecated: false
      operationId: Conversions_Put
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Api.Core.Dto.Conversions.Conversion'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Api.Core.Dto.Conversions.Conversion'
          application/xml:
            schema:
              $ref: '#/components/schemas/Api.Core.Dto.Conversions.Conversion'
          text/json:
            schema:
              $ref: '#/components/schemas/Api.Core.Dto.Conversions.Conversion'
          text/xml:
            schema:
              $ref: '#/components/schemas/Api.Core.Dto.Conversions.Conversion'
        description: The body of the conversion
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api.Core.Responses.EntityUri_System.Int64_'
            application/xml:
              schema:
                $ref: '#/components/schemas/Api.Core.Responses.EntityUri_System.Int64_'
            text/json:
              schema:
                $ref: '#/components/schemas/Api.Core.Responses.EntityUri_System.Int64_'
            text/xml:
              schema:
                $ref: '#/components/schemas/Api.Core.Responses.EntityUri_System.Int64_'
          description: ""
        "401":
          description: Unauthorized
        "404":
          description: Not found
        "500":
          description: Internal Server Error
      summary: Create a conversion
      tags:
      - Conversions
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/xml
      - text/json
      - text/xml
  /conversions/aggregated/list:
    get:
      deprecated: false
      operationId: Conversions_GetStatisticsAllList
      parameters:
      - description: Timeframe of the request. See list at $timeframeList
        explode: true
        in: query
        name: timeFrame
        required: true
        schema:
          enum:
          - today
          - yesterday
          - last7
          - last30
          - lastmonth
          - currentmonth
          - previousmonth
          - last90
          - last120
          - last180
          - last12months
          - lastyear
          - currentyear
          - beginning
          - custom
          type: string
        style: form
      - description: If using a "custom" timeFrame you can specify the starting day
          (YYYYMMDD)
        explode: true
        in: query
        name: fromDay
        required: false
        schema:
          type: string
        style: form
      - description: If using a "custom" timeFrame you can specify the ending day
          (YYYYMMDD)
        explode: true
        in: query
        name: toDay
        required: false
        schema:
          type: string
        style: form
      - description: Status of conversion ("deleted"/"active")
        explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - deleted
          - active
          type: string
        style: form
      - description: The temporal entity you want to group by ("week"/"month"). If
          unspecified is "day".
        explode: true
        in: query
        name: groupBy
        required: false
        schema:
          enum:
          - week
          - month
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api.Core.Responses.EntitiesResponse_Api.Core.Dto.Aggregated.AggregatedResult_'
            text/json:
              schema:
                $ref: '#/components/schemas/Api.Core.Responses.EntitiesResponse_Api.Core.Dto.Aggregated.AggregatedResult_'
          description: ""
        "401":
          description: Unauthorized
        "500":
          description: Internal Server Error
      summary: Retrieve statistics about this customer for a timeframe related to
        a subset of conversions grouped by some temporal entity (day/week/month)
      tags:
      - Conversions
      x-accepts:
      - application/json
      - text/json
  /conversions/count:
    get:
      deprecated: false
      operationId: Conversions_Count
      parameters:
      - description: Status of conversion ("deleted"/"active")
        explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - deleted
          - active
          type: string
        style: form
      - description: Filter fields by this pattern
        explode: true
        in: query
        name: textSearch
        required: false
        schema:
          type: string
        style: form
      - description: Exclude conversions created before this date (YYYYMMDD)
        explode: true
        in: query
        name: createdAfter
        required: false
        schema:
          type: string
        style: form
      - description: Exclude conversions created after this date (YYYYMMDD)
        explode: true
        in: query
        name: createdBefore
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api.Core.Responses.CountResponce'
            application/xml:
              schema:
                $ref: '#/components/schemas/Api.Core.Responses.CountResponce'
            text/json:
              schema:
                $ref: '#/components/schemas/Api.Core.Responses.CountResponce'
            text/xml:
              schema:
                $ref: '#/components/schemas/Api.Core.Responses.CountResponce'
          description: ""
        "401":
          description: Unauthorized
        "500":
          description: Internal Server Error
      summary: Retrieve a count of conversions
      tags:
      - Conversions
      x-accepts:
      - application/json
      - application/xml
      - text/json
      - text/xml
  /conversions/{conversionId}:
    delete:
      deprecated: false
      operationId: Conversions_Delete
      parameters:
      - description: Id of the conversion
        explode: false
        in: path
        name: conversionId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api.Core.Responses.EntityUri_System.Int64_'
            application/xml:
              schema:
                $ref: '#/components/schemas/Api.Core.Responses.EntityUri_System.Int64_'
            text/json:
              schema:
                $ref: '#/components/schemas/Api.Core.Responses.EntityUri_System.Int64_'
            text/xml:
              schema:
                $ref: '#/components/schemas/Api.Core.Responses.EntityUri_System.Int64_'
          description: ""
        "401":
          description: Unauthorized
        "404":
          description: Not found
        "500":
          description: Internal Server Error
      summary: Delete conversion specified by id
      tags:
      - Conversions
      x-accepts:
      - application/json
      - application/xml
      - text/json
      - text/xml
    get:
      deprecated: false
      parameters:
      - description: Id of the conversion
        explode: false
        in: path
        name: conversionId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api.Core.Dto.Conversions.Conversion'
            application/xml:
              schema:
                $ref: '#/components/schemas/Api.Core.Dto.Conversions.Conversion'
            text/json:
              schema:
                $ref: '#/components/schemas/Api.Core.Dto.Conversions.Conversion'
            text/xml:
              schema:
                $ref: '#/components/schemas/Api.Core.Dto.Conversions.Conversion'
          description: ""
        "401":
          description: Unauthorized
        "404":
          description: Not found
        "500":
          description: Internal Server Error
      summary: Retrieve conversion specified by id
      tags:
      - Conversions
      x-accepts:
      - application/json
      - application/xml
      - text/json
      - text/xml
    post:
      deprecated: false
      operationId: Conversions_Post
      parameters:
      - description: Id of the conversion
        explode: false
        in: path
        name: conversionId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Api.Core.Dto.Conversions.Conversion'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Api.Core.Dto.Conversions.Conversion'
          application/xml:
            schema:
              $ref: '#/components/schemas/Api.Core.Dto.Conversions.Conversion'
          text/json:
            schema:
              $ref: '#/components/schemas/Api.Core.Dto.Conversions.Conversion'
          text/xml:
            schema:
              $ref: '#/components/schemas/Api.Core.Dto.Conversions.Conversion'
        description: Updated body of the conversion
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api.Core.Responses.EntityUri_System.Int64_'
            application/xml:
              schema:
                $ref: '#/components/schemas/Api.Core.Responses.EntityUri_System.Int64_'
            text/json:
              schema:
                $ref: '#/components/schemas/Api.Core.Responses.EntityUri_System.Int64_'
            text/xml:
              schema:
                $ref: '#/components/schemas/Api.Core.Responses.EntityUri_System.Int64_'
          description: ""
        "401":
          description: Unauthorized
        "404":
          description: Not found
        "500":
          description: Internal Server Error
      summary: Update conversion specified by id
      tags:
      - Conversions
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/xml
      - text/json
      - text/xml
  /conversions/{conversionId}/aggregated:
    get:
      deprecated: false
      operationId: Conversions_GetStatisticsSingle
      parameters:
      - description: Id of the conversion
        explode: false
        in: path
        name: conversionId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Timeframe of the request. See list at $timeframeList
        explode: true
        in: query
        name: timeFrame
        required: true
        schema:
          enum:
          - today
          - yesterday
          - last7
          - last30
          - lastmonth
          - currentmonth
          - previousmonth
          - last90
          - last120
          - last180
          - last12months
          - lastyear
          - currentyear
          - beginning
          - custom
          type: string
        style: form
      - description: If using a "custom" timeFrame you can specify the starting day
          (YYYYMMDD)
        explode: true
        in: query
        name: fromDay
        required: false
        schema:
          type: string
        style: form
      - description: If using a "custom" timeFrame you can specify the ending day
          (YYYYMMDD)
        explode: true
        in: query
        name: toDay
        required: false
        schema:
          type: string
        style: form
      - description: Filter by this tag name
        explode: true
        in: query
        name: tag
        required: false
        schema:
          type: string
        style: form
      - description: Is the datapoint marked as favourite
        explode: true
        in: query
        name: favourite
        required: false
        schema:
          type: boolean
        style: form
      - description: If using "yesterday" or "today" timeframe you can ask for the
          hourly detail
        explode: true
        in: query
        name: hourly
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api.Core.Dto.Aggregated.AggregatedResult'
            text/json:
              schema:
                $ref: '#/components/schemas/Api.Core.Dto.Aggregated.AggregatedResult'
          description: ""
        "401":
          description: Unauthorized
        "500":
          description: Internal Server Error
      summary: Retrieve statistics about this conversion for a timeframe
      tags:
      - Conversions
      x-accepts:
      - application/json
      - text/json
  /conversions/{conversionId}/aggregated/list:
    get:
      deprecated: false
      operationId: Conversions_GetStatisticsList
      parameters:
      - description: Id of the conversion
        explode: false
        in: path
        name: conversionId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Timeframe of the request. See list at $timeframeList
        explode: true
        in: query
        name: timeFrame
        required: true
        schema:
          enum:
          - today
          - yesterday
          - last7
          - last30
          - lastmonth
          - currentmonth
          - previousmonth
          - last90
          - last120
          - last180
          - last12months
          - lastyear
          - currentyear
          - beginning
          - custom
          type: string
        style: form
      - description: If using a "custom" timeFrame you can specify the starting day
          (YYYYMMDD)
        explode: true
        in: query
        name: fromDay
        required: false
        schema:
          type: string
        style: form
      - description: If using a "custom" timeFrame you can specify the ending day
          (YYYYMMDD)
        explode: true
        in: query
        name: toDay
        required: false
        schema:
          type: string
        style: form
      - description: The temporal entity you want to group by ("week"/"month"). If
          unspecified is "day".
        explode: true
        in: query
        name: groupBy
        required: false
        schema:
          enum:
          - week
          - month
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api.Core.Responses.EntitiesResponse_Api.Core.Dto.Aggregated.AggregatedResult_'
            text/json:
              schema:
                $ref: '#/components/schemas/Api.Core.Responses.EntitiesResponse_Api.Core.Dto.Aggregated.AggregatedResult_'
          description: ""
        "401":
          description: Unauthorized
        "500":
          description: Internal Server Error
      summary: Retrieve statistics about this conversion for a timeframe grouped by
        some temporal entity (day/week/month)
      tags:
      - Conversions
      x-accepts:
      - application/json
      - text/json
  /conversions/{conversionId}/datapoints:
    get:
      deprecated: false
      operationId: Conversions_GetDatapoints
      parameters:
      - description: Id of the conversion
        explode: false
        in: path
        name: conversionId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Offset where to start from
        explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int32
          minLength: 0
          type: integer
        style: form
      - description: Limit results to this number
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          maxLength: 0
          minLength: 0
          type: integer
        style: form
      - description: Type of datapoint ("tl"/"tp")
        explode: true
        in: query
        name: type
        required: false
        schema:
          enum:
          - tp
          - tl
          type: string
        style: form
      - description: Status of datapoint ("deleted"/"active"/"paused"/"spam")
        explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - deleted
          - active
          - paused
          - spam
          type: string
        style: form
      - description: Filter by this tag name
        explode: true
        in: query
        name: tags
        required: false
        schema:
          type: string
        style: form
      - description: Filter fields by this pattern
        explode: true
        in: query
        name: textSearch
        required: false
        schema:
          type: string
        style: form
      - description: Exclude datapoints created before this date (YYYYMMDD)
        explode: true
        in: query
        name: createdAfter
        required: false
        schema:
          type: string
        style: form
      - description: Exclude datapoints created after this date (YYYYMMDD)
        explode: true
        in: query
        name: createdBefore
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api.Core.Responses.EntitiesResponse_Api.Core.Responses.EntityUri_System.Int64_'
            text/json:
              schema:
                $ref: '#/components/schemas/Api.Core.Responses.EntitiesResponse_Api.Core.Responses.EntityUri_System.Int64_'
          description: ""
        "401":
          description: Unauthorized
        "500":
          description: Internal Server Error
      summary: Retrieve a list of datapoints connected to this conversion
      tags:
      - Conversions
      x-accepts:
      - application/json
      - text/json
  /conversions/{conversionId}/datapoints/batch/patch:
    put:
      deprecated: false
      parameters:
      - description: Id of the conversion
        explode: false
        in: path
        name: conversionId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Api.Core.Requests.PatchBodyBatch'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Api.Core.Requests.PatchBodyBatch'
          text/json:
            schema:
              $ref: '#/components/schemas/Api.Core.Requests.PatchBodyBatch'
        description: Patch requests
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api.Core.Responses.EntityUri_System.Int64_'
            application/xml:
              schema:
                $ref: '#/components/schemas/Api.Core.Responses.EntityUri_System.Int64_'
            text/json:
              schema:
                $ref: '#/components/schemas/Api.Core.Responses.EntityUri_System.Int64_'
            text/xml:
              schema:
                $ref: '#/components/schemas/Api.Core.Responses.EntityUri_System.Int64_'
          description: ""
        "401":
          description: Unauthorized
        "404":
          description: Not found
        "500":
          description: Internal Server Error
      summary: Modify the association between a conversion and multiple datapoints
      tags:
      - Conversions
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/xml
      - text/json
      - text/xml
  /conversions/{conversionId}/datapoints/count:
    get:
      deprecated: false
      operationId: Conversions_GetDatapointsCount
      parameters:
      - description: Id of the conversion
        explode: false
        in: path
        name: conversionId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Type of datapoint ("tl"/"tp")
        explode: true
        in: query
        name: type
        required: false
        schema:
          type: string
        style: form
      - description: Status of datapoint ("deleted"/"active"/"paused"/"spam")
        explode: true
        in: query
        name: status
        required: false
        schema:
          type: string
        style: form
      - description: Filter by this tag name
        explode: true
        in: query
        name: tags
        required: false
        schema:
          type: string
        style: form
      - description: Filter fields by this pattern
        explode: true
        in: query
        name: textSearch
        required: false
        schema:
          type: string
        style: form
      - description: Exclude datapoints created before this date (YYYYMMDD)
        explode: true
        in: query
        name: createdAfter
        required: false
        schema:
          type: string
        style: form
      - description: Exclude datapoints created after this date (YYYYMMDD)
        explode: true
        in: query
        name: createdBefore
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api.Core.Responses.CountResponce'
            application/xml:
              schema:
                $ref: '#/components/schemas/Api.Core.Responses.CountResponce'
            text/json:
              schema:
                $ref: '#/components/schemas/Api.Core.Responses.CountResponce'
            text/xml:
              schema:
                $ref: '#/components/schemas/Api.Core.Responses.CountResponce'
          description: ""
        "401":
          description: Unauthorized
        "500":
          description: Internal Server Error
      summary: Retrieve a count of datapoints connected to this conversion
      tags:
      - Conversions
      x-accepts:
      - application/json
      - application/xml
      - text/json
      - text/xml
  /conversions/{conversionId}/datapoints/patch:
    put:
      deprecated: false
      operationId: Conversions_Patch
      parameters:
      - description: Id of the conversion
        explode: false
        in: path
        name: conversionId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Api.Core.Requests.ConversionPatchBody'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Api.Core.Requests.ConversionPatchBody'
          application/xml:
            schema:
              $ref: '#/components/schemas/Api.Core.Requests.ConversionPatchBody'
          text/json:
            schema:
              $ref: '#/components/schemas/Api.Core.Requests.ConversionPatchBody'
          text/xml:
            schema:
              $ref: '#/components/schemas/Api.Core.Requests.ConversionPatchBody'
        description: Patch request
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api.Core.Responses.EntityUri_System.Int64_'
            application/xml:
              schema:
                $ref: '#/components/schemas/Api.Core.Responses.EntityUri_System.Int64_'
            text/json:
              schema:
                $ref: '#/components/schemas/Api.Core.Responses.EntityUri_System.Int64_'
            text/xml:
              schema:
                $ref: '#/components/schemas/Api.Core.Responses.EntityUri_System.Int64_'
          description: ""
        "401":
          description: Unauthorized
        "404":
          description: Not found
        "500":
          description: Internal Server Error
      summary: Modify the association between a conversion and a datapoint
      tags:
      - Conversions
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/xml
      - text/json
      - text/xml
  /conversions/{conversionId}/hits:
    get:
      deprecated: false
      operationId: Conversions_GetHits
      parameters:
      - description: Id of the conversion
        explode: false
        in: path
        name: conversionId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Timeframe of the request. See list at $timeframeList
        explode: true
        in: query
        name: timeframe
        required: true
        schema:
          enum:
          - yesterday
          - last7
          - last30
          - lastmonth
          - currentmonth
          - previousmonth
          - last90
          - last120
          - last180
          - custom
          type: string
        style: form
      - description: Limit results to this number
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          maxLength: 0
          minLength: 0
          type: integer
        style: form
      - description: Offset where to start from (it's the lastKey field in the response
          object)
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: string
        style: form
      - description: If using a "custom" timeFrame you can specify the starting day
          (YYYYMMDD)
        explode: true
        in: query
        name: fromDay
        required: false
        schema:
          type: string
        style: form
      - description: If using a "custom" timeFrame you can specify the ending day
          (YYYYMMDD)
        explode: true
        in: query
        name: toDay
        required: false
        schema:
          type: string
        style: form
      - description: Filter event type ("spiders"/"uniques"/"nonuniques"/"conversions")
        explode: true
        in: query
        name: filter
        required: false
        schema:
          enum:
          - spiders
          - uniques
          - nonuniques
          - conversions
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api.Core.Dto.ClickStream.HitListPage'
            text/json:
              schema:
                $ref: '#/components/schemas/Api.Core.Dto.ClickStream.HitListPage'
          description: ""
        "401":
          description: Unauthorized
        "500":
          description: Internal Server Error
      summary: Retrieve the list of events related to this conversion.
      tags:
      - Conversions
      x-accepts:
      - application/json
      - text/json
  /conversions/{conversionId}/notes:
    put:
      deprecated: false
      operationId: Conversions_PatchNotes
      parameters:
      - description: Id of the conversion
        explode: false
        in: path
        name: conversionId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/Api.Core.Requests.GenericTextPatch'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api.Core.Responses.EntityUri_System.Int64_'
            application/xml:
              schema:
                $ref: '#/components/schemas/Api.Core.Responses.EntityUri_System.Int64_'
            text/json:
              schema:
                $ref: '#/components/schemas/Api.Core.Responses.EntityUri_System.Int64_'
            text/xml:
              schema:
                $ref: '#/components/schemas/Api.Core.Responses.EntityUri_System.Int64_'
          description: ""
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not found
        "500":
          description: Internal Server Error
      summary: Fast patch the "notes" field of a conversion
      tags:
      - Conversions
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/xml
      - text/json
      - text/xml
  /datapoints:
    get:
      deprecated: false
      operationId: DataPoints_Get
      parameters:
      - description: Where to start when retrieving elements. Default is 0 if not
          specified.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          format: int32
          minLength: 0
          type: integer
        style: form
      - description: Maximum elements to retrieve. Default to 20 if not specified.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          format: int32
          maxLength: 0
          minLength: 0
          type: integer
        style: form
      - description: Type of the datapoint ("tp"/"tl")
        explode: true
        in: query
        name: type
        required: false
        schema:
          enum:
          - tp
          - tl
          type: string
        style: form
      - description: Status of the datapoint
        explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - deleted
          - active
          - paused
          - spam
          type: string
        style: form
      - description: A comma separated list of tags you want to filter with.
        explode: true
        in: query
        name: tags
        required: false
        schema:
          type: string
        style: form
      - description: Filter fields by this pattern
        explode: true
        in: query
        name: textSearch
        required: false
        schema:
          type: string
        style: form
      - description: Filter fields by favourite status
        explode: true
        in: query
        name: onlyFavorites
        required: false
        schema:
          type: boolean
        style: form
      - description: Field to sort by
        explode: true
        in: query
        name: sortBy
        required: false
        schema:
          type: string
        style: form
      - description: Direction of sort "asc" or "desc"
        explode: true
        in: query
        name: sortDirection
        required: false
        schema:
          enum:
          - asc
          - desc
          type: string
        style: form
      - description: Exclude datapoints created before this date (YYYYMMDD)
        explode: true
        in: query
        name: createdAfter
        required: false
        schema:
          type: string
        style: form
      - description: Exclude datapoints created after this date (YYYYMMDD)
        explode: true
        in: query
        name: createdBefore
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api.Core.Responses.EntitiesResponse_Api.Core.Responses.EntityUri_System.Int64_'
            text/json:
              schema:
                $ref: '#/components/schemas/Api.Core.Responses.EntitiesResponse_Api.Core.Responses.EntityUri_System.Int64_'
          description: ""
        "401":
          description: Unauthorized
        "404":
          description: Not found
        "500":
          description: Internal Server Error
      summary: List of all the datapoints associated to the user
      tags:
      - DataPoints
      x-accepts:
      - application/json
      - text/json
    post:
      deprecated: false
      operationId: DataPoints_Put
      requestBody:
        $ref: '#/components/requestBodies/Api.Core.Dto.Datapoints.Datapoint'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api.Core.Responses.EntityUri_System.Int64_'
            application/xml:
              schema:
                $ref: '#/components/schemas/Api.Core.Responses.EntityUri_System.Int64_'
            text/json:
              schema:
                $ref: '#/components/schemas/Api.Core.Responses.EntityUri_System.Int64_'
            text/xml:
              schema:
                $ref: '#/components/schemas/Api.Core.Responses.EntityUri_System.Int64_'
          description: ""
        "401":
          description: Unauthorized
        "404":
          description: Not found
        "500":
          description: Internal Server Error
      summary: Create a datapoint
      tags:
      - DataPoints
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/xml
      - text/json
      - text/xml
  /datapoints/aggregated:
    get:
      deprecated: false
      operationId: DataPoints_GetStatisticsAggregatedSingle
      parameters:
      - description: Timeframe of the request. See list at $timeframeList
        explode: true
        in: query
        name: timeFrame
        required: true
        schema:
          enum:
          - today
          - yesterday
          - last7
          - last30
          - lastmonth
          - currentmonth
          - previousmonth
          - last90
          - last120
          - last180
          - last12months
          - lastyear
          - currentyear
          - beginning
          - custom
          type: string
        style: form
      - description: Type of datapoint ("tl"/"tp")
        explode: true
        in: query
        name: type
        required: false
        schema:
          enum:
          - tp
          - tl
          type: string
        style: form
      - description: If using a "custom" timeFrame you can specify the starting day
          (YYYYMMDD)
        explode: true
        in: query
        name: fromDay
        required: false
        schema:
          type: string
        style: form
      - description: If using a "custom" timeFrame you can specify the ending day
          (YYYYMMDD)
        explode: true
        in: query
        name: toDay
        required: false
        schema:
          type: string
        style: form
      - description: If using "yesterday" or "today" timeframe you can ask for the
          hourly detail
        explode: true
        in: query
        name: hourly
        required: false
        schema:
          type: boolean
        style: form
      - description: Status of datapoint ("deleted"/"active"/"paused"/"spam")
        explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - deleted
          - active
          - paused
          - spam
          type: string
        style: form
      - description: A comma separated list of tags you want to filter with.
        explode: true
        in: query
        name: tag
        required: false
        schema:
          type: string
        style: form
      - description: Is the datapoint is marked as favourite
        explode: true
        in: query
        name: favourite
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api.Core.Dto.Aggregated.AggregatedResult'
            text/json:
              schema:
                $ref: '#/components/schemas/Api.Core.Dto.Aggregated.AggregatedResult'
          description: ""
        "401":
          description: Unauthorized
        "500":
          description: Internal Server Error
      summary: Retrieve statistics about this customer for a timeframe by groups
      tags:
      - DataPoints
      x-accepts:
      - application/json
      - text/json
  /datapoints/aggregated/list:
    get:
      deprecated: false
      operationId: DataPoints_GetStatisticsAllList
      parameters:
      - description: Type of datapoint ("tl"/"tp")
        explode: true
        in: query
        name: type
        required: true
        schema:
          enum:
          - tp
          - tl
          type: string
        style: form
      - description: Timeframe of the request. See list at $timeframeList
        explode: true
        in: query
        name: timeFrame
        required: true
        schema:
          enum:
          - today
          - yesterday
          - last7
          - last30
          - lastmonth
          - currentmonth
          - previousmonth
          - last90
          - last120
          - last180
          - last12months
          - lastyear
          - currentyear
          - beginning
          - custom
          type: string
        style: form
      - description: If using a "custom" timeFrame you can specify the starting day
          (YYYYMMDD)
        explode: true
        in: query
        name: fromDay
        required: false
        schema:
          type: string
        style: form
      - description: If using a "custom" timeFrame you can specify the ending day
          (YYYYMMDD)
        explode: true
        in: query
        name: toDay
        required: false
        schema:
          type: string
        style: form
      - description: Status of datapoint ("deleted"/"active"/"paused"/"spam")
        explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - deleted
          - active
          - paused
          - spam
          type: string
        style: form
      - description: A comma separated list of tags you want to filter with.
        explode: true
        in: query
        name: tag
        required: false
        schema:
          type: string
        style: form
      - description: Is the datapoint is marked as favourite
        explode: true
        in: query
        name: favourite
        required: false
        schema:
          type: boolean
        style: form
      - description: The temporal entity you want to group by ("week"/"month"). If
          unspecified is "day".
        explode: true
        in: query
        name: groupBy
        required: false
        schema:
          enum:
          - week
          - month
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api.Core.Responses.EntitiesResponse_Api.Core.Dto.Aggregated.AggregatedResult_'
            text/json:
              schema:
                $ref: '#/components/schemas/Api.Core.Responses.EntitiesResponse_Api.Core.Dto.Aggregated.AggregatedResult_'
          description: ""
        "401":
          description: Unauthorized
        "500":
          description: Internal Server Error
      summary: Retrieve statistics about all datapoints of this customer for a timeframe
        grouped by some temporal entity (day/week/month)
      tags:
      - DataPoints
      x-accepts:
      - application/json
      - text/json
  /datapoints/batch:
    delete:
      deprecated: false
      operationId: DataPoints_BatchDelete
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Api.Core.Requests.DeleteBatch'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Api.Core.Requests.DeleteBatch'
          text/json:
            schema:
              $ref: '#/components/schemas/Api.Core.Requests.DeleteBatch'
        description: A json containing the datapoints to delete.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api.Core.Responses.ModifyBatchItemResponce_Api.Core.Dto.Datapoints.Datapoint_System.Int64_'
            text/json:
              schema:
                $ref: '#/components/schemas/Api.Core.Responses.ModifyBatchItemResponce_Api.Core.Dto.Datapoints.Datapoint_System.Int64_'
          description: ""
        "401":
          description: Unauthorized
        "404":
          description: Not found
        "500":
          description: Internal Server Error
      summary: Delete multiple datapoints
      tags:
      - DataPoints
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/json
    post:
      deprecated: false
      operationId: DataPoints_BatchPost
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Api.Core.Requests.DatapointsBatch'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Api.Core.Requests.DatapointsBatch'
          text/json:
            schema:
              $ref: '#/components/schemas/Api.Core.Requests.DatapointsBatch'
        description: A json containing the datapoints to update.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api.Core.Responses.ModifyBatchItemResponce_Api.Core.Dto.Datapoints.Datapoint_System.Int64_'
            text/json:
              schema:
                $ref: '#/components/schemas/Api.Core.Responses.ModifyBatchItemResponce_Api.Core.Dto.Datapoints.Datapoint_System.Int64_'
          description: ""
        "401":
          description: Unauthorized
        "404":
          description: Not found
        "500":
          description: Internal Server Error
      summary: Update multiple datapoints
      tags:
      - DataPoints
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/json
    put:
      deprecated: false
      operationId: DataPoints_BatchPut
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Api.Core.Requests.DatapointsBatch'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Api.Core.Requests.DatapointsBatch'
          text/json:
            schema:
              $ref: '#/components/schemas/Api.Core.Requests.DatapointsBatch'
        description: A json containing the datapoints to create.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api.Core.Responses.ModifyBatchItemResponce_Api.Core.Dto.Datapoints.Datapoint_System.Int64_'
            text/json:
              schema:
                $ref: '#/components/schemas/Api.Core.Responses.ModifyBatchItemResponce_Api.Core.Dto.Datapoints.Datapoint_System.Int64_'
          description: ""
        "401":
          description: Unauthorized
        "404":
          description: Not found
        "500":
          description: Internal Server Error
      summary: Create multiple datapoints
      tags:
      - DataPoints
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/json
  /datapoints/count:
    get:
      deprecated: false
      operationId: DataPoints_Count
      parameters:
      - description: Type of the datapoint ("tp"/"tl")
        explode: true
        in: query
        name: type
        required: false
        schema:
          enum:
          - tp
          - tl
          type: string
        style: form
      - description: Status of the datapoint
        explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - deleted
          - active
          - paused
          - spam
          type: string
        style: form
      - description: A comma separated list of tags you want to filter with.
        explode: true
        in: query
        name: tags
        required: false
        schema:
          type: string
        style: form
      - description: Filter fields by this pattern
        explode: true
        in: query
        name: textSearch
        required: false
        schema:
          type: string
        style: form
      - description: Filter fields by favourite status
        explode: true
        in: query
        name: onlyFavorites
        required: false
        schema:
          type: boolean
        style: form
      - description: Exclude datapoints created before this date (YYYYMMDD)
        explode: true
        in: query
        name: createdAfter
        required: false
        schema:
          type: string
        style: form
      - description: Exclude datapoints created after this date (YYYYMMDD)
        explode: true
        in: query
        name: createdBefore
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api.Core.Responses.CountResponce'
            application/xml:
              schema:
                $ref: '#/components/schemas/Api.Core.Responses.CountResponce'
            text/json:
              schema:
                $ref: '#/components/schemas/Api.Core.Responses.CountResponce'
            text/xml:
              schema:
                $ref: '#/components/schemas/Api.Core.Responses.CountResponce'
          description: ""
        "401":
          description: Unauthorized
        "404":
          description: Not found
        "500":
          description: Internal Server Error
      summary: Count the datapoints associated to the user
      tags:
      - DataPoints
      x-accepts:
      - application/json
      - application/xml
      - text/json
      - text/xml
  /datapoints/{id}:
    delete:
      deprecated: false
      operationId: DataPoints_Delete
      parameters:
      - description: The id of the datapoint
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api.Core.Responses.EntityUri_System.Int64_'
            application/xml:
              schema:
                $ref: '#/components/schemas/Api.Core.Responses.EntityUri_System.Int64_'
            text/json:
              schema:
                $ref: '#/components/schemas/Api.Core.Responses.EntityUri_System.Int64_'
            text/xml:
              schema:
                $ref: '#/components/schemas/Api.Core.Responses.EntityUri_System.Int64_'
          description: ""
        "401":
          description: Unauthorized
        "404":
          description: Not found
        "500":
          description: Internal Server Error
      summary: Delete a datapoint
      tags:
      - DataPoints
      x-accepts:
      - application/json
      - application/xml
      - text/json
      - text/xml
    get:
      deprecated: false
      parameters:
      - description: The id of the datapoint
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api.Core.Dto.Datapoints.Datapoint'
            text/json:
              schema:
                $ref: '#/components/schemas/Api.Core.Dto.Datapoints.Datapoint'
          description: ""
        "401":
          description: Unauthorized
        "404":
          description: Not found
        "500":
          description: Internal Server Error
      summary: Get a datapoint
      tags:
      - DataPoints
      x-accepts:
      - application/json
      - text/json
    post:
      deprecated: false
      operationId: DataPoints_Post
      parameters:
      - description: The id of the datapoint
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/Api.Core.Dto.Datapoints.Datapoint'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api.Core.Responses.EntityUri_System.Int64_'
            application/xml:
              schema:
                $ref: '#/components/schemas/Api.Core.Responses.EntityUri_System.Int64_'
            text/json:
              schema:
                $ref: '#/components/schemas/Api.Core.Responses.EntityUri_System.Int64_'
            text/xml:
              schema:
                $ref: '#/components/schemas/Api.Core.Responses.EntityUri_System.Int64_'
          description: ""
        "401":
          description: Unauthorized
        "404":
          description: Not found
        "500":
          description: Internal Server Error
      summary: Update a datapoint
      tags:
      - DataPoints
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/xml
      - text/json
[...]
