openapi: 3.0.0
info:
  description: |
    # Introduction
    The Business Registries API is built on HTTP. The API is RESTful. It has predictable resource URIs.

      The API is documented in <a target="_blank" href="https://github.com/OAI/OpenAPI-Specification">OpenAPI</a> format.
      In addition to the standard OpenAPI syntax we use a few
      <a target="_blank" href="https://github.com/Rebilly/ReDoc/blob/master/docs/redoc-vendor-extensions.md">vendor extensions</a>.

    # Overview
    The following sections describe the resources that make up the Business Registries REST API.
    ## Current Version
    By default, all requests to https://api.abr.ato.gov.au receive the `v1` version of the REST API. We encourage you to explicitly request this version via the `Accept` header.

        Accept: application/vnd.abr-ato.v1+json

    ## Schema
    All API access is over HTTPS, and accessed from https://api.abr.ato.gov.au. All data is sent and received as JSON. Blank fields are included.

      All dates use the [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format:

        YYYY-MM-DD

      For example: `2017-07-01` (the 1st of July 2017)

      All timestamps use the [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format:

        YYYY-MM-DDTHH:MM:SSZ

      For example: `2017-07-01T11:05:06+10:00`

    ## Timezones
    Some requests allow for specifying timestamps or generate timestamps with time zone information. We apply the following rules, in order of priority, to determine timezone information for API calls.
    ### Explicitly provide an ISO 8601 timestamp with timezone information
    For API calls that allow for a timestamp to be specified, we use that exact timestamp.

      For example: `2017-07-01T11:05:06+10:00`

    ## Pagination
    Information about pagination is provided in the [Link](https://tools.ietf.org/html/rfc5988#page-6) header.

      For example:

        Link: <https://api.abr.ato.gov.au/individuals?page=2>; rel="next",
              <https://api.abr.ato.gov.au/individuals?page=34>; rel="last"

    `rel="next"` states that the next page is `page=2`. This makes sense, since by default, all paginated queries start at page `1`. `rel="last"` provides some more information, stating that the last page of results is on `page 34`. Accordingly, we have 33 more pages of information that we can consume.
    ## Parameters
    Many API methods take optional parameters:

        GET /individuals/1234/addresses/?addressType='Mailing'

    In this example, the '1234' value is provided for the `:partyId` parameter in the path while `:addressType` is passed in the query string.
    For POST, PATCH, PUT, and DELETE requests, parameters not included in the URL should be encoded as JSON with a Content-Type of 'application/json'.
    ## Metadata
    The API provides **metadata services** that you can use to discover information about the classifcation schemes and values used by the Registry.

      For example:

        GET /classifications/roles

      Sample response:

        [
          {
            "id": "123e4567-e89b-12d3-a456-426655440001",
            "role": "Director",
            "roleDescription": "An individual responsible for managing a company's ...",
            "relationship": "Directorship",
            "reciprocalRole": "Company",
            "reciprocalRoleDescription": "An incorporated legal entity."
          },
          {
            ...
          }
        ]

    ## Root Endpoint
    You can issue a GET request to the root endpoint (also known as the service root) to get all the endpoint categories that the REST API supports:

        curl https://api.abr.ato.gov.au

    ## Authentication
    The Business Registries API supports API Key authentication.

      When you sign up for an account, you are given your first API key. You can generate additional API keys, and delete
      API keys (as you may need to rotate your keys in the future). You authenticate to the Business Registries API by
      providing your secret key in the request header.

      **Note:** Some requests will return `404 Not Found`, instead of `403 Permission Denied`. This is to prevent the
      accidental leakage of information to unauthorised users.
  license:
    name: Creative Commons Attribution 3.0 Australia
    url: https://creativecommons.org/licenses/by/3.0/au/
  termsOfService: https://ato.gov.au/terms-of-service/
  title: Business Registries
  version: 0.0.6
  x-apisguru-categories:
  - financial
  x-logo:
    backgroundColor: '#D3D3D3'
    url: https://www.ato.gov.au/uploadedImages/Content/_DEM/Images/logo-ato.png
  x-origin:
  - format: swagger
    url: https://ato-team.github.io/business-registries-rest-api-specification/swagger.yaml
    version: "2.0"
  x-providerName: ato.gov.au
servers:
- description: Production API Server
  url: //api.abr.ato.gov.au/
- description: Sandbox API Server
  url: //api.sandbox.abr.ato.gov.au/
tags:
- description: |
    An individual is a person about whom the registry wishes to maintain information.

      For example, the individual's date and place of birth (for the purposes of identification) and the individual's
      residential address (which is used for administrative purposes).
  name: Individuals
- description: |
    A role defines the characteristics of a relationship between parties.
    An Individual can participate in a relationship with other individuals and organisations.

    For example:

    | Party         | Role           | Relationship     | Role          | Party                           |
    | ------------- | -------------- | ---------------- | ------------- | ------------------------------- |
    | Homer Simpson | Husband        | Marriage         | Wife          | Marge Simpson                   |
    | Homer Simpson | Employee       | Employment       | Employer      | Springfield Nuclear Power Plant |
    | Homer Simpson | Safety Officer | Colleague        | Supervisor    | Carl Carlson                    |
    | Homer Simpson | Director       | Directorship     | Company       | Compu Global Hyper Mega Net     |
    | Homer Simpson | Employee       | Employment       | Employer      | Compu Global Hyper Mega Net     |
    | Homer Simpson | Member         | Membership       | Organisation  | The Stonecutters                |
    | Homer Simpson | Partner        | Partnership      | Partnership   | The Be Sharps                   |
    | Homer Simpson | Trustee        | Trusteeship      | Trust         | The Simpson Family Trust        |
    | Homer Simpson | Member         | Membership       | Association   | Mensa International             |

    You can use the API's **metadata services** to retrieve information about the classifcation schemes and
    values used by the Registry.
  name: Individuals Roles
- description: |
    The registry maintains information about an individual's contact details for administrative purposes.

      Including:
      - an address for the service of documents
      - a principal place of business address
  name: Individuals Addresses
- description: |
    The registry maintains information about an individual's contact details for administrative purposes.

      Including:
      - an email address
      - a mobile number
  name: Individuals Electronic Addresses
- description: |
    A business name is a name or title under which a person conducts a business.
  name: Individuals Business Names
- description: |
    If you carry on a business you may need to hold a licence.

      For example, if you provide financial services, you are required to hold an Australian Financial
      Services (AFS) licence.
  name: Individuals Licenses
- description: |
    An organisation usually consists of a number of individuals or groups bound by a common purpose about whom the
    registry wishes to maintain information.

      For example, the organisation's legal entity type (e.g., Incorporated Entity, Unincorporated Entity,
      Partnership or Joint Venture).
  name: Organisations
- description: |
    A role defines the characteristics of a relationship between parties.
    An Organisation can participate in a relationship with other organisations and indiviuals.

    For example:

    | Party                           | Role     | Relationship | Role         | Party             |
    | ------------------------------- | -------- | -------------| ------------ | ----------------- |
    | Springfield Nuclear Power Plant | Employer | Employment   | Employee     | Homer Simpson     |
    | Springfield Nuclear Power Plant | Company  | Directorship | Director     | Mr Burns          |
    | Springfield Nuclear Power Plant | Employer | Employment   | Employee     | Mr Burns          |
    | Springfield Nuclear Power Plant | Sponsor  | Sponsorship  | Organisation | The Stonecutters  |

    You can use the API's **metadata services** to retrieve information about the classifcation schemes and
    values used by the Registry.
  name: Organisations Roles
- description: |
    The registry maintains information about an organisation's contact details for administrative purposes.

      Including:
      - an address for the service of documents
      - a principal place of business address
  name: Organisations Addresses
- description: |
    The registry maintains information about an organisation's contact details for administrative purposes.

      Including:
      - an email address
      - a mobile number
  name: Organisations Electronic Addresses
- description: |
    A business name is a name or title under which an organisation conducts a business.
  name: Organisations Business Names
- description: |
    If you carry on a business you may need to hold a licence.

      For example, if you provide financial services, you are required to hold an Australian Financial
      Services (AFS) licence.
  name: Organisations Licenses
- description: |
    A business name is a name or title under which a person or organisation conducts a business.
  name: Business Names
- description: |
    If you carry on a business you may need to hold a licence.

      For example, if you provide financial services, you are required to hold an Australian Financial
      Services (AFS) licence.
  name: Licenses
- description: |
    A classification scheme for business names.
  name: Business Name Lifecycle States
- description: |
    A classification scheme for names.
  name: Name Directions
- description: |
    A classification scheme for names.
  name: Name Prefixes
- description: |
    A classification scheme for names.
  name: Name Types
- description: |
    A classification scheme for addresses.
  name: Address Types
- description: |
    A classification scheme for electronic addresses.
  name: Electronic Address Types
- description: |
    A classification scheme for the representation of human sexes.
  name: Genders
- description: |
    A classification scheme for parties (individuals and organisations).
  name: Legal Entity Types
- description: |
    A classification scheme for licenses.
  name: License Lifecycle States
- description: |
    A classification scheme for licenses.
  name: License Types
- description: |
    A classification scheme for registered identifiers.
  name: Registered Identifier Types
- description: |
    A classification scheme for the characteristics of relationships between parties (individuals and organisations).
  name: Roles
paths:
  /business-names:
    get:
      description: |
        Retrieve a list of business names
      parameters:
      - description: The API key.
        explode: false
        in: header
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/business-name'
                type: array
          description: A list of business names was retrieved successfully
          headers:
            Link:
              description: |
                Information about pagination is provided in the [Link](https://tools.ietf.org/html/rfc5988#page-6) header.
                For example:

                    Link: <https://api.abr.ato.gov.au/individuals?page=2>; rel="next",
                          <https://api.abr.ato.gov.au/individuals?page=34>; rel="last"

                `rel="next"` states that the next page is `page=2`. This makes sense, since by default, all paginated queries start at page `1`. `rel="last"` provides some more information, stating that the last page of results is on `page 34`. Accordingly, we have 33 more pages of information that we can consume.
              explode: false
              schema:
                type: string
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthenticated'
          description: "Request not authenticated due to missing, invalid, or expired\
            \ token"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not-found'
          description: The specified resource was not found
      summary: Retrieve a list of business names
      tags:
      - Business Names
      x-accepts:
      - application/json
  /classifications/address-types:
    get:
      parameters:
      - description: The API key.
        explode: false
        in: header
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                example:
                - description: The address at which an individual or organisation
                    receives letters or packages.
                  id: 123e4567-e89b-12d3-a456-426655440001
                  name: Mailing
                - description: The main location where work is conducted.
                  id: 123e4567-e89b-12d3-a456-426655440002
                  name: Principal Place of Business
                items:
                  $ref: '#/components/schemas/address-type'
                type: array
          description: Address types were retrieved successfully
          headers:
            Link:
              description: |
                Information about pagination is provided in the [Link](https://tools.ietf.org/html/rfc5988#page-6) header.
                For example:

                    Link: <https://api.abr.ato.gov.au/individuals?page=2>; rel="next",
                          <https://api.abr.ato.gov.au/individuals?page=34>; rel="last"

                `rel="next"` states that the next page is `page=2`. This makes sense, since by default, all paginated queries start at page `1`. `rel="last"` provides some more information, stating that the last page of results is on `page 34`. Accordingly, we have 33 more pages of information that we can consume.
              explode: false
              schema:
                type: string
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthenticated'
          description: "Request not authenticated due to missing, invalid, or expired\
            \ token"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not-found'
          description: The specified resource was not found
      summary: Retrieve a list of address types
      tags:
      - Address Types
      x-accepts:
      - application/json
  /classifications/business-name-lifecycle-states:
    get:
      parameters:
      - description: The API key.
        explode: false
        in: header
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                example:
                - description: The Business Name has been approved.
                  id: 123e4567-e89b-12d3-a456-426655440001
                  name: Approved
                - description: The Business Name has expired.
                  id: 123e4567-e89b-12d3-a456-426655440002
                  name: Expired
                - description: The Business Name has been issued.
                  id: 123e4567-e89b-12d3-a456-426655440003
                  name: Issued
                - description: The Business Name is pending approval.
                  id: 123e4567-e89b-12d3-a456-426655440004
                  name: Pending Approval
                - description: The Business Name has been suspended.
                  id: 123e4567-e89b-12d3-a456-426655440005
                  name: Suspended
                items:
                  $ref: '#/components/schemas/business-name-lifecycle-state'
                type: array
          description: Business name lifecycle states were retrieved successfully
          headers:
            Link:
              description: |
                Information about pagination is provided in the [Link](https://tools.ietf.org/html/rfc5988#page-6) header.
                For example:

                    Link: <https://api.abr.ato.gov.au/individuals?page=2>; rel="next",
                          <https://api.abr.ato.gov.au/individuals?page=34>; rel="last"

                `rel="next"` states that the next page is `page=2`. This makes sense, since by default, all paginated queries start at page `1`. `rel="last"` provides some more information, stating that the last page of results is on `page 34`. Accordingly, we have 33 more pages of information that we can consume.
              explode: false
              schema:
                type: string
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthenticated'
          description: "Request not authenticated due to missing, invalid, or expired\
            \ token"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not-found'
          description: The specified resource was not found
      summary: Retrieve a list of business name lifecycle states
      tags:
      - Business Name Lifecycle States
      x-accepts:
      - application/json
  /classifications/electronic-address-types:
    get:
      parameters:
      - description: The API key.
        explode: false
        in: header
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                example:
                - description: An address used to send and receive emails.
                  id: 123e4567-e89b-12d3-a456-426655440001
                  name: Email
                - description: A number used to send and receive faxes.
                  id: 123e4567-e89b-12d3-a456-426655440002
                  name: Fax
                items:
                  $ref: '#/components/schemas/electronic-address-type'
                type: array
          description: Electronic address types were retrieved successfully
          headers:
            Link:
              description: |
                Information about pagination is provided in the [Link](https://tools.ietf.org/html/rfc5988#page-6) header.
                For example:

                    Link: <https://api.abr.ato.gov.au/individuals?page=2>; rel="next",
                          <https://api.abr.ato.gov.au/individuals?page=34>; rel="last"

                `rel="next"` states that the next page is `page=2`. This makes sense, since by default, all paginated queries start at page `1`. `rel="last"` provides some more information, stating that the last page of results is on `page 34`. Accordingly, we have 33 more pages of information that we can consume.
              explode: false
              schema:
                type: string
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthenticated'
          description: "Request not authenticated due to missing, invalid, or expired\
            \ token"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not-found'
          description: The specified resource was not found
      summary: Retrieve a list of electronic address types
      tags:
      - Electronic Address Types
      x-accepts:
      - application/json
  /classifications/genders:
    get:
      parameters:
      - description: The API key.
        explode: false
        in: header
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                example:
                - gender: Not Known
                  id: 123e4567-e89b-12d3-a456-426655440001
                - gender: Male
                  id: 123e4567-e89b-12d3-a456-426655440002
                - gender: Female
                  id: 123e4567-e89b-12d3-a456-426655440003
                - gender: Not Applicable
                  id: 123e4567-e89b-12d3-a456-426655440004
                items:
                  $ref: '#/components/schemas/gender'
                type: array
          description: Genders were retrieved successfully
          headers:
            Link:
              description: |
                Information about pagination is provided in the [Link](https://tools.ietf.org/html/rfc5988#page-6) header.
                For example:

                    Link: <https://api.abr.ato.gov.au/individuals?page=2>; rel="next",
                          <https://api.abr.ato.gov.au/individuals?page=34>; rel="last"

                `rel="next"` states that the next page is `page=2`. This makes sense, since by default, all paginated queries start at page `1`. `rel="last"` provides some more information, stating that the last page of results is on `page 34`. Accordingly, we have 33 more pages of information that we can consume.
              explode: false
              schema:
                type: string
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthenticated'
          description: "Request not authenticated due to missing, invalid, or expired\
            \ token"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not-found'
          description: The specified resource was not found
      summary: Retrieve a list of genders
      tags:
      - Genders
      x-accepts:
      - application/json
  /classifications/legal-entity-types:
    get:
      parameters:
      - description: The API key.
        explode: false
        in: header
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                example:
                - description: "If you operate as a sole trader, you're responsible\
                    \ for all aspects of the business, including any debts the business\
                    \ incurs."
                  id: 123e4567-e89b-12d3-a456-426655440001
                  name: Sole Trader
                - description: A partnership is two or more individuals or organisations
                    who do business as partners or receive income jointly.
                  id: 123e4567-e89b-12d3-a456-426655440002
                  name: Partnership
                - description: "A joint venture is two or more people or entities\
                    \ who join to do business together for a particular purpose, usually\
                    \ a single project, rather than as an ongoing business."
                  id: 123e4567-e89b-12d3-a456-426655440003
                  name: Joint Venture
                - description: "A company is a separate legal entity. This means it\
                    \ has the same rights as a natural person and can incur debt,\
                    \ sue and be sued."
                  id: 123e4567-e89b-12d3-a456-426655440004
                  name: Company
                - description: A trust is an obligation imposed on a person – the
                    trustee – to hold property or assets (e.g. business assets) for
                    the benefit of others (known as beneficiaries).
                  id: 123e4567-e89b-12d3-a456-426655440005
                  name: Trust
                items:
                  $ref: '#/components/schemas/legal-entity-type'
                type: array
          description: Legal entity types were retrieved successfully
          headers:
            Link:
              description: |
                Information about pagination is provided in the [Link](https://tools.ietf.org/html/rfc5988#page-6) header.
                For example:

                    Link: <https://api.abr.ato.gov.au/individuals?page=2>; rel="next",
                          <https://api.abr.ato.gov.au/individuals?page=34>; rel="last"

                `rel="next"` states that the next page is `page=2`. This makes sense, since by default, all paginated queries start at page `1`. `rel="last"` provides some more information, stating that the last page of results is on `page 34`. Accordingly, we have 33 more pages of information that we can consume.
              explode: false
              schema:
                type: string
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthenticated'
          description: "Request not authenticated due to missing, invalid, or expired\
            \ token"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not-found'
          description: The specified resource was not found
      summary: Retrieve a list of legal entity types
      tags:
      - Legal Entity Types
      x-accepts:
      - application/json
  /classifications/license-lifecycle-states:
    get:
      parameters:
      - description: The API key.
        explode: false
        in: header
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                example:
                - description: The License has been approved.
                  id: 123e4567-e89b-12d3-a456-426655440001
                  name: Approved
                - description: The License has expired.
                  id: 123e4567-e89b-12d3-a456-426655440002
                  name: Expired
                - description: The License has been issued.
                  id: 123e4567-e89b-12d3-a456-426655440003
                  name: Issued
                - description: The License is pending approval.
                  id: 123e4567-e89b-12d3-a456-426655440004
                  name: Pending Approval
                - description: The License has been suspended.
                  id: 123e4567-e89b-12d3-a456-426655440005
                  name: Suspended
                items:
                  $ref: '#/components/schemas/license-lifecycle-state'
                type: array
          description: License lifecycle states were retrieved successfully
          headers:
            Link:
              description: |
                Information about pagination is provided in the [Link](https://tools.ietf.org/html/rfc5988#page-6) header.
                For example:

                    Link: <https://api.abr.ato.gov.au/individuals?page=2>; rel="next",
                          <https://api.abr.ato.gov.au/individuals?page=34>; rel="last"

                `rel="next"` states that the next page is `page=2`. This makes sense, since by default, all paginated queries start at page `1`. `rel="last"` provides some more information, stating that the last page of results is on `page 34`. Accordingly, we have 33 more pages of information that we can consume.
              explode: false
              schema:
                type: string
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthenticated'
          description: "Request not authenticated due to missing, invalid, or expired\
            \ token"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not-found'
          description: The specified resource was not found
      summary: Retrieve a list of license lifecycle states
      tags:
      - License Lifecycle States
      x-accepts:
      - application/json
  /classifications/license-types:
    get:
      parameters:
      - description: The API key.
        explode: false
        in: header
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                example:
                - description: "To conduct a financial services business in Australia,\
                    \ you must have an Australian Financial Services (AFS) licence."
                  id: 123e4567-e89b-12d3-a456-426655440001
                  name: Australian Financial Services License
                - description: To conduct a <insert-name-here> business you must have
                    a 2B licence.
                  id: 123e4567-e89b-12d3-a456-426655440002
                  name: 2B License
                items:
                  $ref: '#/components/schemas/license-type'
                type: array
          description: License types were retrieved successfully
          headers:
            Link:
              description: |
                Information about pagination is provided in the [Link](https://tools.ietf.org/html/rfc5988#page-6) header.
                For example:

                    Link: <https://api.abr.ato.gov.au/individuals?page=2>; rel="next",
                          <https://api.abr.ato.gov.au/individuals?page=34>; rel="last"

                `rel="next"` states that the next page is `page=2`. This makes sense, since by default, all paginated queries start at page `1`. `rel="last"` provides some more information, stating that the last page of results is on `page 34`. Accordingly, we have 33 more pages of information that we can consume.
              explode: false
              schema:
                type: string
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthenticated'
          description: "Request not authenticated due to missing, invalid, or expired\
            \ token"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not-found'
          description: The specified resource was not found
      summary: Retrieve a list of license types
      tags:
      - License Types
      x-accepts:
      - application/json
  /classifications/name-directions:
    get:
      parameters:
      - description: The API key.
        explode: false
        in: header
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                example:
                - description: The full name or formal salutation is rendered left
                    to right.
                  id: 123e4567-e89b-12d3-a456-426655440001
                  name: left-to-right
                - description: The full name or formal salutation is rendered right
                    to left.
                  id: 123e4567-e89b-12d3-a456-426655440002
                  name: right-to-left
                items:
                  $ref: '#/components/schemas/name-direction'
                type: array
          description: Name directions were retrieved successfully
          headers:
            Link:
              description: |
                Information about pagination is provided in the [Link](https://tools.ietf.org/html/rfc5988#page-6) header.
                For example:

                    Link: <https://api.abr.ato.gov.au/individuals?page=2>; rel="next",
                          <https://api.abr.ato.gov.au/individuals?page=34>; rel="last"

                `rel="next"` states that the next page is `page=2`. This makes sense, since by default, all paginated queries start at page `1`. `rel="last"` provides some more information, stating that the last page of results is on `page 34`. Accordingly, we have 33 more pages of information that we can consume.
              explode: false
              schema:
                type: string
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthenticated'
          description: "Request not authenticated due to missing, invalid, or expired\
            \ token"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not-found'
          description: The specified resource was not found
      summary: Retrieve a list of name directions
      tags:
      - Name Directions
      x-accepts:
      - application/json
  /classifications/name-prefixes:
    get:
      parameters:
      - description: The API key.
        explode: false
        in: header
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                example:
                - description: A title used before a family name or formal salutation
                    to address a man.
                  id: 123e4567-e89b-12d3-a456-426655440001
                  name: Mr
                - description: A title used before a family name or formal salutation
                    to address a woman.
                  id: 123e4567-e89b-12d3-a456-426655440002
                  name: Ms
                items:
                  $ref: '#/components/schemas/name-prefix'
                type: array
          description: Name prefixes were retrieved successfully
          headers:
            Link:
              description: |
                Information about pagination is provided in the [Link](https://tools.ietf.org/html/rfc5988#page-6) header.
                For example:

                    Link: <https://api.abr.ato.gov.au/individuals?page=2>; rel="next",
                          <https://api.abr.ato.gov.au/individuals?page=34>; rel="last"

                `rel="next"` states that the next page is `page=2`. This makes sense, since by default, all paginated queries start at page `1`. `rel="last"` provides some more information, stating that the last page of results is on `page 34`. Accordingly, we have 33 more pages of information that we can consume.
              explode: false
              schema:
                type: string
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthenticated'
          description: "Request not authenticated due to missing, invalid, or expired\
            \ token"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not-found'
          description: The specified resource was not found
      summary: Retrieve a list of name prefixes
      tags:
      - Name Prefixes
      x-accepts:
      - application/json
  /classifications/name-types:
    get:
      parameters:
      - description: The API key.
        explode: false
        in: header
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                example:
                - description: An alternate name used by a party.
                  id: 123e4567-e89b-12d3-a456-426655440001
                  name: Alias
                - description: The primary name used by a party.
                  id: 123e4567-e89b-12d3-a456-426655440002
                  name: Principal Name
                items:
                  $ref: '#/components/schemas/name-type'
                type: array
          description: Name types were retrieved successfully
          headers:
            Link:
              description: |
                Information about pagination is provided in the [Link](https://tools.ietf.org/html/rfc5988#page-6) header.
                For example:

                    Link: <https://api.abr.ato.gov.au/individuals?page=2>; rel="next",
                          <https://api.abr.ato.gov.au/individuals?page=34>; rel="last"

                `rel="next"` states that the next page is `page=2`. This makes sense, since by default, all paginated queries start at page `1`. `rel="last"` provides some more information, stating that the last page of results is on `page 34`. Accordingly, we have 33 more pages of information that we can consume.
              explode: false
              schema:
                type: string
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthenticated'
          description: "Request not authenticated due to missing, invalid, or expired\
            \ token"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not-found'
          description: The specified resource was not found
      summary: Retrieve a list of name types
      tags:
      - Name Types
      x-accepts:
      - application/json
  /classifications/registered-identifier-types:
    get:
      parameters:
      - description: The API key.
        explode: false
        in: header
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                example:
                - description: An Australian Business Number (ABN) is a unique eleven-character
                    number issued by the Australian Business Register (ABR).
                  id: 123e4567-e89b-12d3-a456-426655440001
                  name: ABN
                - description: An Australian Company Number (ACN) is a unique nine-character
                    number issued by the Australian Securities and Investments Commission
                    (ASIC).
                  id: 123e4567-e89b-12d3-a456-426655440002
                  name: ACN
                items:
                  $ref: '#/components/schemas/registered-identifier-type'
                type: array
          description: Registered identifier types were retrieved successfully
          headers:
            Link:
              description: |
                Information about pagination is provided in the [Link](https://tools.ietf.org/html/rfc5988#page-6) header.
                For example:

                    Link: <https://api.abr.ato.gov.au/individuals?page=2>; rel="next",
                          <https://api.abr.ato.gov.au/individuals?page=34>; rel="last"

                `rel="next"` states that the next page is `page=2`. This makes sense, since by default, all paginated queries start at page `1`. `rel="last"` provides some more information, stating that the last page of results is on `page 34`. Accordingly, we have 33 more pages of information that we can consume.
              explode: false
              schema:
                type: string
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthenticated'
          description: "Request not authenticated due to missing, invalid, or expired\
            \ token"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not-found'
          description: The specified resource was not found
      summary: Retrieve a list of registered identifier types
      tags:
      - Registered Identifier Types
      x-accepts:
      - application/json
  /classifications/roles:
    get:
      parameters:
      - description: The API key.
        explode: false
        in: header
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                example:
                - id: 123e4567-e89b-12d3-a456-426655440001
                  reciprocalRole: Company
                  reciprocalRoleDescription: An incorporated legal entity.
                  relationship: Directorship
                  role: Director
                  roleDescription: An individual responsible for managing a company's
                    business activities.
                - id: 123e4567-e89b-12d3-a456-426655440002
                  reciprocalRole: Employer
                  reciprocalRoleDescription: An individual or organisation that employs
                    people.
                  relationship: Employment
                  role: Employee
                  roleDescription: An individual employed for wages or salary.
                items:
                  $ref: '#/components/schemas/role'
                type: array
          description: Roles were retrieved successfully
          headers:
            Link:
              description: |
                Information about pagination is provided in the [Link](https://tools.ietf.org/html/rfc5988#page-6) header.
                For example:

                    Link: <https://api.abr.ato.gov.au/individuals?page=2>; rel="next",
                          <https://api.abr.ato.gov.au/individuals?page=34>; rel="last"

                `rel="next"` states that the next page is `page=2`. This makes sense, since by default, all paginated queries start at page `1`. `rel="last"` provides some more information, stating that the last page of results is on `page 34`. Accordingly, we have 33 more pages of information that we can consume.
              explode: false
              schema:
                type: string
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthenticated'
          description: "Request not authenticated due to missing, invalid, or expired\
            \ token"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not-found'
          description: The specified resource was not found
      summary: Retrieve a list of roles
      tags:
      - Roles
      x-accepts:
      - application/json
  /individuals:
    get:
      description: |
        Retrieve a list of individuals
      parameters:
      - description: The API key.
        explode: false
        in: header
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      - description: "The individual's date of birth, for example, `1979-01-13` (in\
          \ [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format)."
        explode: true
        in: query
        name: dateOfBirth
        required: false
        schema:
          type: string
        style: form
      - description: "The individual's place of birth, for example, `Tamworth`."
        explode: true
        in: query
        name: placeOfBirth
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/individual'
                type: array
          description: A list of individuals was retrieved successfully
          headers:
            Link:
              description: |
                Information about pagination is provided in the [Link](https://tools.ietf.org/html/rfc5988#page-6) header.
                For example:

                    Link: <https://api.abr.ato.gov.au/individuals?page=2>; rel="next",
                          <https://api.abr.ato.gov.au/individuals?page=34>; rel="last"

                `rel="next"` states that the next page is `page=2`. This makes sense, since by default, all paginated queries start at page `1`. `rel="last"` provides some more information, stating that the last page of results is on `page 34`. Accordingly, we have 33 more pages of information that we can consume.
              explode: false
              schema:
                type: string
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthenticated'
          description: "Request not authenticated due to missing, invalid, or expired\
            \ token"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not-found'
          description: The specified resource was not found
      summary: Retrieve a list of individuals
      tags:
      - Individuals
      x-accepts:
      - application/json
    post:
      description: |
        Create an individual
      parameters:
      - description: The API key.
        explode: false
        in: header
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/individual'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/individual'
          description: Individual was created
          headers:
            Location:
              description: |
                A [Location](https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.30) header pointing to the location of the new resource.
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invalid-argument'
          description: The client specified an invalid argument
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthenticated'
          description: "Request not authenticated due to missing, invalid, or expired\
            \ token"
      summary: Create an individual
      tags:
      - Individuals
      x-content-type: application/json
      x-accepts:
      - application/json
  /individuals/{partyId}:
    delete:
      description: |
        Delete an individual with the specified identifier
      parameters:
      - description: The API key.
        explode: false
        in: header
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      - description: The party identifier.
        explode: false
        in: path
        name: partyId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Individual was deleted
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/failed-precondition'
          description: Request can not be executed in the current system state
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthenticated'
          description: "Request not authenticated due to missing, invalid, or expired\
            \ token"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not-found'
          description: The specified resource was not found
      summary: Delete an individual
      tags:
      - Individuals
      x-accepts:
      - application/json
    get:
      description: |
        Retrieve an individual with the specified identifier
      parameters:
      - description: The API key.
        explode: false
        in: header
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      - description: The party identifier.
        explode: false
        in: path
        name: partyId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/individual'
          description: Individual was retrieved successfully
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthenticated'
          description: "Request not authenticated due to missing, invalid, or expired\
            \ token"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not-found'
          description: The specified resource was not found
      summary: Retrieve an individual
      tags:
      - Individuals
      x-accepts:
      - application/json
    put:
      description: |
        Update an individual
      parameters:
      - description: The API key.
        explode: false
        in: header
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      - description: The party identifier.
        explode: false
        in: path
        name: partyId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/individual'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/individual'
          description: Individual was updated
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invalid-argument'
          description: The client specified an invalid argument
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthenticated'
          description: "Request not authenticated due to missing, invalid, or expired\
            \ token"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not-found'
          description: The specified resource was not found
      summary: Update an individual
      tags:
      - Individuals
      x-content-type: application/json
      x-accepts:
      - application/json
  /individuals/{partyId}/addresses:
    get:
      parameters:
      - description: The API key.
        explode: false
        in: header
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      - description: The party identifier.
        explode: false
        in: path
        name: partyId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/address'
                type: array
          description: Addresses were retrieved successfully
          headers:
            Link:
              description: |
                Information about pagination is provided in the [Link](https://tools.ietf.org/html/rfc5988#page-6) header.
                For example:

                    Link: <https://api.abr.ato.gov.au/individuals?page=2>; rel="next",
                          <https://api.abr.ato.gov.au/individuals?page=34>; rel="last"

                `rel="next"` states that the next page is `page=2`. This makes sense, since by default, all paginated queries start at page `1`. `rel="last"` provides some more information, stating that the last page of results is on `page 34`. Accordingly, we have 33 more pages of information that we can consume.
              explode: false
              schema:
                type: string
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthenticated'
          description: "Request not authenticated due to missing, invalid, or expired\
            \ token"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not-found'
          description: The specified resource was not found
      summary: Retrieve a list of addresses
      tags:
      - Individuals Addresses
      x-accepts:
      - application/json
    post:
      description: |
        Create an address
      parameters:
      - description: The API key.
        explode: false
        in: header
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      - description: The party identifier.
        explode: false
        in: path
        name: partyId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/address'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/address'
          description: Address was created
          headers:
            Location:
              description: |
                A [Location](https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.30) header pointing to the location of the new resource.
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invalid-argument'
          description: The client specified an invalid argument
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthenticated'
          description: "Request not authenticated due to missing, invalid, or expired\
            \ token"
      summary: Create an address
      tags:
      - Individuals Addresses
      x-content-type: application/json
      x-accepts:
      - application/json
  /individuals/{partyId}/addresses/{addressId}:
    delete:
      description: |
        Delete an address
      parameters:
      - description: The API key.
        explode: false
        in: header
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      - description: The party identifier.
        explode: false
        in: path
        name: partyId
        required: true
        schema:
          type: string
        style: simple
      - description: The address identifier.
        explode: false
        in: path
        name: addressId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Address was deleted
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthenticated'
          description: "Request not authenticated due to missing, invalid, or expired\
            \ token"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not-found'
          description: The specified resource was not found
      summary: Delete an address
      tags:
      - Individuals Addresses
      x-accepts:
      - application/json
    get:
      description: |
        Retrieve an address
      parameters:
      - description: The API key.
        explode: false
        in: header
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      - description: The party identifier.
        explode: false
        in: path
        name: partyId
        required: true
        schema:
          type: string
        style: simple
      - description: The address identifier.
        explode: false
        in: path
        name: addressId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/address'
          description: Address was retrieved successfully
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthenticated'
          description: "Request not authenticated due to missing, invalid, or expired\
            \ token"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not-found'
          description: The specified resource was not found
      summary: Retrieve an address
      tags:
      - Individuals Addresses
      x-accepts:
      - application/json
    put:
      description: |
        Update an address
      parameters:
      - description: The API key.
        explode: false
        in: header
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      - description: The party identifier.
        explode: false
        in: path
        name: partyId
        required: true
        schema:
          type: string
        style: simple
      - description: The address identifier.
        explode: false
        in: path
        name: addressId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/address'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/address'
          description: Address was updated
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invalid-argument'
          description: The client specified an invalid argument
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthenticated'
          description: "Request not authenticated due to missing, invalid, or expired\
            \ token"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not-found'
          description: The specified resource was not found
      summary: Update an address
      tags:
      - Individuals Addresses
      x-content-type: application/json
      x-accepts:
      - application/json
  /individuals/{partyId}/business-names:
    get:
      parameters:
      - description: The API key.
        explode: false
        in: header
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      - description: The party identifier.
        explode: false
        in: path
        name: partyId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/business-name'
                type: array
          description: Business Names were retrieved successfully
          headers:
            Link:
              description: |
                Information about pagination is provided in the [Link](https://tools.ietf.org/html/rfc5988#page-6) header.
                For example:

                    Link: <https://api.abr.ato.gov.au/individuals?page=2>; rel="next",
                          <https://api.abr.ato.gov.au/individuals?page=34>; rel="last"

                `rel="next"` states that the next page is `page=2`. This makes sense, since by default, all paginated queries start at page `1`. `rel="last"` provides some more information, stating that the last page of results is on `page 34`. Accordingly, we have 33 more pages of information that we can consume.
              explode: false
              schema:
                type: string
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthenticated'
          description: "Request not authenticated due to missing, invalid, or expired\
            \ token"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not-found'
          description: The specified resource was not found
      summary: Retrieve a list of business names
      tags:
      - Individuals Business Names
      x-accepts:
      - application/json
    post:
      description: |
        Create a business name
      parameters:
      - description: The API key.
        explode: false
        in: header
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      - description: The party identifier.
        explode: false
        in: path
        name: partyId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/business-name'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/business-name'
          description: Business Name was created
          headers:
            Location:
              description: |
                A [Location](https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.30) header pointing to the location of the new resource.
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invalid-argument'
          description: The client specified an invalid argument
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthenticated'
          description: "Request not authenticated due to missing, invalid, or expired\
            \ token"
      summary: Create a business name
      tags:
      - Individuals Business Names
      x-content-type: application/json
      x-accepts:
      - application/json
  /individuals/{partyId}/business-names/{productId}:
    delete:
      description: |
        Delete a business name
      parameters:
      - description: The API key.
        explode: false
        in: header
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      - description: The party identifier.
        explode: false
        in: path
        name: partyId
        required: true
        schema:
          type: string
        style: simple
      - description: The product identifier.
        explode: false
        in: path
        name: productId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Address was deleted
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthenticated'
          description: "Request not authenticated due to missing, invalid, or expired\
            \ token"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not-found'
          description: The specified resource was not found
      summary: Delete a business name
      tags:
      - Individuals Business Names
      x-accepts:
      - application/json
    get:
      description: |
        Retrieve a business name
      parameters:
      - description: The API key.
        explode: false
        in: header
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      - description: The party identifier.
        explode: false
        in: path
        name: partyId
        required: true
        schema:
          type: string
        style: simple
      - description: The product identifier.
        explode: false
        in: path
        name: productId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/business-name'
          description: Business Name was retrieved successfully
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthenticated'
          description: "Request not authenticated due to missing, invalid, or expired\
            \ token"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not-found'
          description: The specified resource was not found
      summary: Retrieve a business name
      tags:
      - Individuals Business Names
      x-accepts:
      - application/json
    put:
      description: |
        Update a business name
      parameters:
      - description: The API key.
        explode: false
        in: header
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      - description: The party identifier.
        explode: false
        in: path
        name: partyId
        required: true
        schema:
          type: string
        style: simple
      - description: The product identifier.
        explode: false
        in: path
        name: productId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/business-name'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/business-name'
          description: Address was updated
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invalid-argument'
          description: The client specified an invalid argument
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthenticated'
          description: "Request not authenticated due to missing, invalid, or expired\
            \ token"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not-found'
          description: The specified resource was not found
      summary: Update a business name
      tags:
      - Individuals Business Names
      x-content-type: application/json
      x-accepts:
      - application/json
  /individuals/{partyId}/electronic-addresses:
    get:
      parameters:
      - description: The API key.
        explode: false
        in: header
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      - description: The party identifier.
        explode: false
        in: path
        name: partyId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/electronic-address'
                type: array
          description: Electronic addresses were retrieved successfully
          headers:
            Link:
              description: |
                Information about pagination is provided in the [Link](https://tools.ietf.org/html/rfc5988#page-6) header.
                For example:

                    Link: <https://api.abr.ato.gov.au/individuals?page=2>; rel="next",
                          <https://api.abr.ato.gov.au/individuals?page=34>; rel="last"

                `rel="next"` states that the next page is `page=2`. This makes sense, since by default, all paginated queries start at page `1`. `rel="last"` provides some more information, stating that the last page of results is on `page 34`. Accordingly, we have 33 more pages of information that we can consume.
              explode: false
              schema:
                type: string
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthenticated'
          description: "Request not authenticated due to missing, invalid, or expired\
            \ token"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not-found'
          description: The specified resource was not found
      summary: Retrieve a list of electronic addresses
      tags:
      - Individuals Electronic Addresses
      x-accepts:
      - application/json
    post:
      description: |
        Create an electronic address
      parameters:
      - description: The API key.
        explode: false
        in: header
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      - description: The party identifier.
        explode: false
        in: path
        name: partyId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/electronic-address'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/electronic-address'
          description: Electronic Address was created
          headers:
            Location:
              description: |
                A [Location](https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.30) header pointing to the location of the new resource.
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invalid-argument'
          description: The client specified an invalid argument
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthenticated'
          description: "Request not authenticated due to missing, invalid, or expired\
            \ token"
      summary: Create an electronic address
      tags:
      - Individuals Electronic Addresses
      x-content-type: application/json
      x-accepts:
      - application/json
  /individuals/{partyId}/electronic-addresses/{addressId}:
    delete:
      description: |
        Delete an electronic address
      parameters:
      - description: The API key.
        explode: false
        in: header
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      - description: The party identifier.
        explode: false
        in: path
        name: partyId
        required: true
        schema:
          type: string
        style: simple
      - description: The address identifier.
        explode: false
        in: path
        name: addressId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Electronic Address was deleted
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthenticated'
          description: "Request not authenticated due to missing, invalid, or expired\
            \ token"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not-found'
          description: The specified resource was not found
      summary: Delete an electronic address
      tags:
      - Individuals Electronic Addresses
      x-accepts:
      - application/json
    get:
      description: |
        Retrieve an electronic address
      parameters:
      - description: The API key.
        explode: false
        in: header
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      - description: The party identifier.
        explode: false
        in: path
        name: partyId
        required: true
        schema:
          type: string
        style: simple
      - description: The address identifier.
        explode: false
        in: path
        name: addressId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/electronic-address'
          description: Electronic Address was retrieved successfully
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthenticated'
          description: "Request not authenticated due to missing, invalid, or expired\
            \ token"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not-found'
          description: The specified resource was not found
      summary: Retrieve an electronic address
      tags:
      - Individuals Electronic Addresses
      x-accepts:
      - application/json
    put:
      description: |
        Update an electronic address
      parameters:
      - description: The API key.
        explode: false
        in: header
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      - description: The party identifier.
        explode: false
        in: path
        name: partyId
        required: true
        schema:
          type: string
        style: simple
      - description: The address identifier.
        explode: false
        in: path
        name: addressId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/electronic-address'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/electronic-address'
          description: Electronic Address was updated
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invalid-argument'
          description: The client specified an invalid argument
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthenticated'
          description: "Request not authenticated due to missing, invalid, or expired\
            \ token"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not-found'
          description: The specified resource was not found
      summary: Update an electronic address
      tags:
      - Individuals Electronic Addresses
      x-content-type: application/json
      x-accepts:
      - application/json
  /individuals/{partyId}/licenses:
    get:
      parameters:
      - description: The API key.
        explode: false
        in: header
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      - description: The party identifier.
        explode: false
        in: path
        name: partyId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/license'
                type: array
          description: Licenses were retrieved successfully
          headers:
            Link:
              description: |
                Information about pagination is provided in the [Link](https://tools.ietf.org/html/rfc5988#page-6) header.
                For example:

                    Link: <https://api.abr.ato.gov.au/individuals?page=2>; rel="next",
                          <https://api.abr.ato.gov.au/individuals?page=34>; rel="last"

                `rel="next"` states that the next page is `page=2`. This makes sense, since by default, all paginated queries start at page `1`. `rel="last"` provides some more information, stating that the last page of results is on `page 34`. Accordingly, we have 33 more pages of information that we can consume.
              explode: false
              schema:
                type: string
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthenticated'
          description: "Request not authenticated due to missing, invalid, or expired\
            \ token"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not-found'
          description: The specified resource was not found
      summary: Retrieve a list of licenses
      tags:
      - Individuals Licenses
      x-accepts:
      - application/json
    post:
      description: |
        Create a license
      parameters:
      - description: The API key.
        explode: false
        in: header
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      - description: The party identifier.
        explode: false
        in: path
        name: partyId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/license'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/license'
          description: License was created
          headers:
            Location:
              description: |
                A [Location](https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.30) header pointing to the location of the new resource.
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invalid-argument'
          description: The client specified an invalid argument
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthenticated'
          description: "Request not authenticated due to missing, invalid, or expired\
            \ token"
      summary: Create a license
      tags:
      - Individuals Licenses
      x-content-type: application/json
      x-accepts:
      - application/json
  /individuals/{partyId}/licenses/{productId}:
    delete:
      description: |
        Delete a license
      parameters:
      - description: The API key.
        explode: false
        in: header
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      - description: The party identifier.
        explode: false
        in: path
        name: partyId
        required: true
        schema:
          type: string
        style: simple
      - description: The product identifier.
        explode: false
        in: path
        name: productId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: License was deleted
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthenticated'
          description: "Request not authenticated due to missing, invalid, or expired\
            \ token"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not-found'
          description: The specified resource was not found
      summary: Delete a license
      tags:
      - Individuals Licenses
      x-accepts:
      - application/json
    get:
      description: |
        Retrieve a license
      parameters:
      - description: The API key.
        explode: false
        in: header
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      - description: The party identifier.
        explode: false
        in: path
        name: partyId
        required: true
        schema:
          type: string
        style: simple
      - description: The product identifier.
        explode: false
        in: path
        name: productId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/license'
          description: License was retrieved successfully
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthenticated'
          description: "Request not authenticated due to missing, invalid, or expired\
            \ token"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not-found'
          description: The specified resource was not found
      summary: Retrieve a license
      tags:
      - Individuals Licenses
      x-accepts:
      - application/json
    put:
      description: |
        Update a license
      parameters:
      - description: The API key.
        explode: false
        in: header
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      - description: The party identifier.
        explode: false
        in: path
        name: partyId
        required: true
        schema:
          type: string
        style: simple
      - description: The product identifier.
        explode: false
        in: path
        name: productId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/license'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/license'
          description: License was updated
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invalid-argument'
          description: The client specified an invalid argument
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthenticated'
          description: "Request not authenticated due to missing, invalid, or expired\
            \ token"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not-found'
          description: The specified resource was not found
      summary: Update a license
      tags:
      - Individuals Licenses
      x-content-type: application/json
      x-accepts:
      - application/json
  /individuals/{partyId}/roles:
    get:
      parameters:
      - description: The API key.
        explode: false
        in: header
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      - description: The party identifier.
        explode: false
        in: path
        name: partyId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/party-role'
                type: array
          description: Roles were retrieved successfully
          headers:
            Link:
              description: |
                Information about pagination is provided in the [Link](https://tools.ietf.org/html/rfc5988#page-6) header.
                For example:

                    Link: <https://api.abr.ato.gov.au/individuals?page=2>; rel="next",
                          <https://api.abr.ato.gov.au/individuals?page=34>; rel="last"

                `rel="next"` states that the next page is `page=2`. This makes sense, since by default, all paginated queries start at page `1`. `rel="last"` provides some more information, stating that the last page of results is on `page 34`. Accordingly, we have 33 more pages of information that we can consume.
              explode: false
              schema:
                type: string
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthenticated'
          description: "Request not authenticated due to missing, invalid, or expired\
            \ token"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not-found'
          description: The specified resource was not found
      summary: Retrieve a list of roles
      tags:
      - Individuals Roles
      x-accepts:
      - application/json
    post:
      description: |
        Create a role
      parameters:
      - description: The API key.
        explode: false
        in: header
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      - description: The party identifier.
        explode: false
        in: path
        name: partyId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/party-role'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/party-role'
          description: Role was created
          headers:
            Location:
              description: |
                A [Location](https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.30) header pointing to the location of the new resource.
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invalid-argument'
          description: The client specified an invalid argument
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthenticated'
          description: "Request not authenticated due to missing, invalid, or expired\
            \ token"
      summary: Create a role
      tags:
      - Individuals Roles
      x-content-type: application/json
      x-accepts:
      - application/json
  /individuals/{partyId}/roles/{roleId}:
    delete:
      description: |
        Delete a role
      parameters:
      - description: The API key.
        explode: false
        in: header
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      - description: The party identifier.
        explode: false
        in: path
        name: partyId
        required: true
        schema:
          type: string
        style: simple
      - description: The role identifier.
        explode: false
        in: path
        name: roleId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Role was deleted
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthenticated'
          description: "Request not authenticated due to missing, invalid, or expired\
            \ token"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not-found'
          description: The specified resource was not found
      summary: Delete a role
      tags:
      - Individuals Roles
      x-accepts:
      - application/json
    get:
      description: |
        Retrieve a role
      parameters:
      - description: The API key.
        explode: false
        in: header
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      - description: The party identifier.
        explode: false
        in: path
        name: partyId
        required: true
        schema:
          type: string
        style: simple
      - description: The role identifier.
        explode: false
        in: path
        name: roleId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/party-role'
          description: Role was retrieved successfully
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthenticated'
          description: "Request not authenticated due to missing, invalid, or expired\
            \ token"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not-found'
          description: The specified resource was not found
      summary: Retrieve a role
      tags:
      - Individuals Roles
      x-accepts:
      - application/json
    put:
      description: |
        Update a role
      parameters:
      - description: The API key.
        explode: false
        in: header
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      - description: The party identifier.
        explode: false
        in: path
        name: partyId
        required: true
        schema:
          type: string
        style: simple
      - description: The role identifier.
        explode: false
        in: path
        name: roleId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/party-role'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/party-role'
          description: Role was updated
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invalid-argument'
          description: The client specified an invalid argument
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthenticated'
          description: "Request not authenticated due to missing, invalid, or expired\
            \ token"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not-found'
          description: The specified resource was not found
      summary: Update a role
      tags:
      - Individuals Roles
      x-content-type: application/json
      x-accepts:
      - application/json
  /licenses:
    get:
      description: |
        Retrieve a list of licenses
      parameters:
      - description: The API key.
        explode: false
        in: header
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/license'
                type: array
          description: A list of licenses was retrieved successfully
          headers:
            Link:
              description: |
                Information about pagination is provided in the [Link](https://tools.ietf.org/html/rfc5988#page-6) header.
                For example:

                    Link: <https://api.abr.ato.gov.au/individuals?page=2>; rel="next",
                          <https://api.abr.ato.gov.au/individuals?page=34>; rel="last"

                `rel="next"` states that the next page is `page=2`. This makes sense, since by default, all paginated queries start at page `1`. `rel="last"` provides some more information, stating that the last page of results is on `page 34`. Accordingly, we have 33 more pages of information that we can consume.
              explode: false
              schema:
                type: string
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthenticated'
          description: "Request not authenticated due to missing, invalid, or expired\
            \ token"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not-found'
          description: The specified resource was not found
      summary: Retrieve a list of licenses
      tags:
      - Licenses
      x-accepts:
      - application/json
  /organisations:
    get:
      description: |
        Retrieve a list of organisations
      parameters:
      - description: The API key.
        explode: false
        in: header
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      - description: "The registered identifier, for example, `ACN` or `ABN`."
        explode: true
        in: query
        name: registeredIdentifier
        required: false
        schema:
          type: string
        style: form
      - description: "The identifier, for example, `123456789`."
        explode: true
        in: query
        name: identifier
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/organisation'
                type: array
          description: A list of organisations was retrieved successfully
          headers:
            Link:
              description: |
                Information about pagination is provided in the [Link](https://tools.ietf.org/html/rfc5988#page-6) header.
                For example:

                    Link: <https://api.abr.ato.gov.au/individuals?page=2>; rel="next",
                          <https://api.abr.ato.gov.au/individuals?page=34>; rel="last"

                `rel="next"` states that the next page is `page=2`. This makes sense, since by default, all paginated queries start at page `1`. `rel="last"` provides some more information, stating that the last page of results is on `page 34`. Accordingly, we have 33 more pages of information that we can consume.
              explode: false
              schema:
                type: string
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthenticated'
          description: "Request not authenticated due to missing, invalid, or expired\
            \ token"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not-found'
          description: The specified resource was not found
      summary: Retrieve a list of organisations
      tags:
      - Organisations
      x-accepts:
      - application/json
    post:
      description: |
        Create an organisation
      parameters:
      - description: The API key.
        explode: false
        in: header
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/organisation'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/organisation'
          description: Organisation was created
          headers:
            Location:
              description: |
                A [Location](https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.30) header pointing to the location of the new resource.
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invalid-argument'
          description: The client specified an invalid argument
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthenticated'
          description: "Request not authenticated due to missing, invalid, or expired\
            \ token"
      summary: Create an organisation
      tags:
      - Organisations
      x-content-type: application/json
      x-accepts:
      - application/json
  /organisations/{partyId}:
    delete:
      description: |
        Delete an organisation with the specified identifier
      parameters:
[...]
