openapi: 3.0.1
info:
  description: "Use these REST APIs for performing operations on Product entity associated\
    \ with your Azure API Management deployment. The Product entity represents a product\
    \ in API Management. Products include one or more APIs and their associated terms\
    \ of use. Once a product is published, developers can subscribe to the product\
    \ and begin to use the product’s APIs."
  title: ApiManagementClient
  version: 2018-06-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2018-06-01-preview/apimproducts.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: apimanagement-apimproducts
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/products
  : get:
      description: Lists a collection of products in the specified service instance.
      operationId: Product_ListByService
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "| Field       | Supported operators    | Supported functions\
          \               |\n|-------------|------------------------|-----------------------------------|\n\
          \r\n|name | ge, le, eq, ne, gt, lt | substringof, contains, startswith,\
          \ endswith|\n|displayName | ge, le, eq, ne, gt, lt | substringof, contains,\
          \ startswith, endswith|\n|description | ge, le, eq, ne, gt, lt | substringof,\
          \ contains, startswith, endswith|\n|terms | ge, le, eq, ne, gt, lt | substringof,\
          \ contains, startswith, endswith|\n|state | eq |    |\n|groups |     | \
          \   |\n"
        in: query
        name: $filter
        schema:
          type: string
      - description: Number of records to return.
        in: query
        name: $top
        schema:
          format: int32
          minimum: 1
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Number of records to skip.
        in: query
        name: $skip
        schema:
          format: int32
          minimum: 0
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "When set to true, the response contains an array of groups that\
          \ have visibility to the product. The default is false."
        in: query
        name: expandGroups
        schema:
          type: boolean
      - description: Products which are part of a specific tag.
        in: query
        name: tags
        schema:
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product_ListByService_200_response'
          description: A Collection of the Product entities for the specified API
            Management service instance.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Product
      x-ms-examples:
        ApiManagementListProducts:
          parameters:
            api-version: 2018-06-01-preview
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                nextLink: ""
                value:
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/products/kjoshiarmtemplateCert1
                  name: kjoshiarmtemplateCert1
                  properties:
                    description: Development Product
                    displayName: Dev
                    state: published
                    subscriptionRequired: false
                  type: Microsoft.ApiManagement/service/products
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/products/starter
                  name: starter
                  properties:
                    approvalRequired: false
                    description: Subscribers will be able to run 5 calls/minute up
                      to a maximum of 100 calls/week.
                    displayName: Starter
                    state: published
                    subscriptionRequired: true
                    subscriptionsLimit: 1
                    terms: ""
                  type: Microsoft.ApiManagement/service/products
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/products/unlimited
                  name: unlimited
                  properties:
                    approvalRequired: true
                    description: Subscribers have completely unlimited access to the
                      API. Administrator approval is required.
                    displayName: Unlimited
                    state: published
                    subscriptionRequired: true
                    subscriptionsLimit: 1
                  type: Microsoft.ApiManagement/service/products
      x-ms-odata: ./definitions.json#/definitions/ProductContract
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/products/{productId}
  : delete:
      description: Delete product.
      operationId: Product_Delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Product identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: productId
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: ETag of the Entity. ETag should match the current entity state
          from the header response of the GET request or it should be * for unconditional
          update.
        in: header
        name: If-Match
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Delete existing subscriptions associated with the product or
          not.
        in: query
        name: deleteSubscriptions
        schema:
          type: boolean
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Product was successfully removed.
        "204":
          content: {}
          description: Product was successfully removed by previous request or does
            not exist.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Product
      x-ms-examples:
        ApiManagementDeleteProduct:
          parameters:
            If-Match: '*'
            api-version: 2018-06-01-preview
            deleteSubscriptions: true
            productId: testproduct
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200": {}
            "204": {}
      x-accepts:
      - application/json
    get:
      description: Gets the details of the product specified by its identifier.
      operationId: Product_Get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Product identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: productId
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product_Get_200_response'
          description: The response body contains the specified Product entity.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Product
      x-ms-examples:
        ApiManagementGetProduct:
          parameters:
            api-version: 2018-06-01-preview
            productId: unlimited
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/products/unlimited
                name: unlimited
                properties:
                  approvalRequired: true
                  description: Subscribers have completely unlimited access to the
                    API. Administrator approval is required.
                  displayName: Unlimited
                  state: published
                  subscriptionRequired: true
                  subscriptionsLimit: 1
                type: Microsoft.ApiManagement/service/products
      x-accepts:
      - application/json
    head:
      description: Gets the entity state (Etag) version of the product specified by
        its identifier.
      operationId: Product_GetEntityTag
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Product identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: productId
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Specified Product entity exists and current entity state version
            is present in the ETag header.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Product
      x-ms-examples:
        ApiManagementHeadProduct:
          parameters:
            api-version: 2018-06-01-preview
            productId: unlimited
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              headers:
                etag: AAAAAAAAAAa=
      x-accepts:
      - application/json
    patch:
      description: Update existing product details.
      operationId: Product_Update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Product identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: productId
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: ETag of the Entity. ETag should match the current entity state
          from the header response of the GET request or it should be * for unconditional
          update.
        in: header
        name: If-Match
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Product_Update_request'
        description: Update parameters.
        required: true
      responses:
        "204":
          content: {}
          description: Product details was successfully updated.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Product
      x-ms-examples:
        ApiManagementUpdateProduct:
          parameters:
            If-Match: '*'
            api-version: 2018-06-01-preview
            parameters:
              properties:
                displayName: Test Template ProductName 4
            productId: testproduct
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "204": {}
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: Creates or Updates a product.
      operationId: Product_CreateOrUpdate
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Product identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: productId
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "ETag of the Entity. Not required when creating an entity, but\
          \ required when updating an entity."
        in: header
        name: If-Match
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Product_Get_200_response'
        description: Create or update parameters.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product_Get_200_response'
          description: Product was successfully updated.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product_Get_200_response'
          description: Product was successfully created.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Product
      x-ms-examples:
        ApiManagementCreateProduct:
          parameters:
            api-version: 2018-06-01-preview
            parameters:
              properties:
                displayName: Test Template ProductName 4
            productId: testproduct
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/products/testproduct
                name: testproduct
                properties:
                  approvalRequired: false
                  displayName: Test Template ProductName 4
                  state: notPublished
                  subscriptionRequired: true
                type: Microsoft.ApiManagement/service/products
            "201":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/products/testproduct
                name: testproduct
                properties:
                  approvalRequired: false
                  displayName: Test Template ProductName 4
                  state: notPublished
                  subscriptionRequired: true
                type: Microsoft.ApiManagement/service/products
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/products/{productId}/apis
  : get:
      description: Lists a collection of the APIs associated with a product.
      operationId: ProductApi_ListByProduct
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Product identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: productId
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "| Field       | Supported operators    | Supported functions\
          \               |\n|-------------|------------------------|-----------------------------------|\n\
          \r\n|name | ge, le, eq, ne, gt, lt | substringof, contains, startswith,\
          \ endswith|\n|displayName | ge, le, eq, ne, gt, lt | substringof, contains,\
          \ startswith, endswith|\n|description | ge, le, eq, ne, gt, lt | substringof,\
          \ contains, startswith, endswith|\n|serviceUrl | ge, le, eq, ne, gt, lt\
          \ | substringof, contains, startswith, endswith|\n|path | ge, le, eq, ne,\
          \ gt, lt | substringof, contains, startswith, endswith|\n"
        in: query
        name: $filter
        schema:
          type: string
      - description: Number of records to return.
        in: query
        name: $top
        schema:
          format: int32
          minimum: 1
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Number of records to skip.
        in: query
        name: $skip
        schema:
          format: int32
          minimum: 0
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductApi_ListByProduct_200_response'
          description: The response body contains a collection of Api entities in
            the product.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - ProductApi
      x-ms-examples:
        ApiManagementListProductApis:
          parameters:
            api-version: 2018-06-01-preview
            productId: 5768181ea40f7eb6c49f6ac7
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                nextLink: ""
                value:
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/products/5768181ea40f7eb6c49f6ac7/apis/57681820a40f7eb6c49f6aca
                  name: 57681820a40f7eb6c49f6aca
                  properties:
                    apiRevision: "1"
                    description: description_57681820a40f7eb6c49f6acc
                    displayName: api_57681820a40f7eb6c49f6acb
                    isCurrent: true
                    path: suffix_57681820a40f7eb6c49f6ace
                    protocols:
                    - https
                    serviceUrl: http://contoso/57681820a40f7eb6c49f6acd
                  type: Microsoft.ApiManagement/service/products/apis
      x-ms-odata: ./definitions.json#/definitions/ApiContract
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/products/{productId}/apis/{apiId}
  : delete:
      description: Deletes the specified API from the specified product.
      operationId: ProductApi_Delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Product identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: productId
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API revision identifier. Must be unique in the current API Management
          service instance. Non-current revision has ;rev=n as a suffix where n is
          the revision number.
        in: path
        name: apiId
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: API was successfully removed from product
        "204":
          content: {}
          description: API successfully removed by previous request or does not exist
            in product
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - ProductApi
      x-ms-examples:
        ApiManagementDeleteProductApi:
          parameters:
            If-Match: '*'
            api-version: 2018-06-01-preview
            apiId: echo-api
            productId: testproduct
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200": {}
            "204": {}
      x-accepts:
      - application/json
    head:
      description: Checks that API entity specified by identifier is associated with
        the Product entity.
      operationId: ProductApi_CheckEntityExists
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Product identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: productId
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API revision identifier. Must be unique in the current API Management
          service instance. Non-current revision has ;rev=n as a suffix where n is
          the revision number.
        in: path
        name: apiId
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Entity exists
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - ProductApi
      x-ms-examples:
        ApiManagementHeadProductApi:
          parameters:
            api-version: 2018-06-01-preview
            apiId: 59306a29e4bbd510dc24e5f9
            productId: 5931a75ae4bbd512a88c680b
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "204": {}
      x-accepts:
      - application/json
    put:
      description: Adds an API to the specified product.
      operationId: ProductApi_CreateOrUpdate
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Product identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: productId
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API revision identifier. Must be unique in the current API Management
          service instance. Non-current revision has ;rev=n as a suffix where n is
          the revision number.
        in: path
        name: apiId
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductApi_CreateOrUpdate_200_response'
          description: The specified API is already added to the product.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductApi_CreateOrUpdate_200_response'
          description: The API was successfully added to the product.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - ProductApi
      x-ms-examples:
        ApiManagementCreateProductApi:
          parameters:
            api-version: 2018-06-01-preview
            apiId: echo-api
            productId: testproduct
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/5931a75ae4bbd512a88c680b
                name: 5931a75ae4bbd512a88c680b
                properties:
                  apiRevision: "1"
                  displayName: EchoApi
                  isCurrent: true
                  path: ""
                  protocols:
                  - http
                  - https
                  serviceUrl: https://contoso.com/apis/echo
                  subscriptionKeyParameterNames:
                    header: Ocp-Apim-Subscription-Key
                    query: subscription-key
                type: Microsoft.ApiManagement/service/apis
            "201":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/5931a75ae4bbd512a88c680b
                name: 5931a75ae4bbd512a88c680b
                properties:
                  apiRevision: "1"
                  displayName: EchoApi
                  isCurrent: true
                  path: ""
                  protocols:
                  - http
                  - https
                  serviceUrl: https://contoso.com/apis/echo
                  subscriptionKeyParameterNames:
                    header: Ocp-Apim-Subscription-Key
                    query: subscription-key
                type: Microsoft.ApiManagement/service/apis
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/products/{productId}/groups
  : get:
      description: Lists the collection of developer groups associated with the specified
        product.
      operationId: ProductGroup_ListByProduct
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Product identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: productId
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "| Field       | Supported operators    | Supported functions\
          \               |\n|-------------|------------------------|-----------------------------------|\n\
          \r\n|name | ge, le, eq, ne, gt, lt |    |\n|displayName | eq, ne |    |\n\
          |description | eq, ne |    |\n"
        in: query
        name: $filter
        schema:
          type: string
      - description: Number of records to return.
        in: query
        name: $top
        schema:
          format: int32
          minimum: 1
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Number of records to skip.
        in: query
        name: $skip
        schema:
          format: int32
          minimum: 0
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductGroup_ListByProduct_200_response'
          description: Lists a collection of Group entities.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - ProductGroup
      x-ms-examples:
        ApiManagementListProductGroups:
          parameters:
            api-version: 2018-06-01-preview
            productId: 5600b57e7e8880006a060002
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                nextLink: ""
                value:
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/products/5600b57e7e8880006a060002/groups/5600b57e7e8880006a020001
                  name: 5600b57e7e8880006a020001
                  properties:
                    builtIn: true
                    description: Administrators is a built-in group. Its membership
                      is managed by the system. Microsoft Azure subscription administrators
                      fall into this group.
                    displayName: Administrators
                    type: system
                  type: Microsoft.ApiManagement/service/products/groups
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/products/5600b57e7e8880006a060002/groups/5600b57e7e8880006a020002
                  name: 5600b57e7e8880006a020002
                  properties:
                    builtIn: true
                    description: Developers is a built-in group. Its membership is
                      managed by the system. Signed-in users fall into this group.
                    displayName: Developers
                    type: system
                  type: Microsoft.ApiManagement/service/products/groups
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/products/5600b57e7e8880006a060002/groups/5600b57e7e8880006a020003
                  name: 5600b57e7e8880006a020003
                  properties:
                    builtIn: true
                    description: Guests is a built-in group. Its membership is managed
                      by the system. Unauthenticated users visiting the developer
                      portal fall into this group.
                    displayName: Guests
                    type: system
                  type: Microsoft.ApiManagement/service/products/groups
      x-ms-odata: ./definitions.json#/definitions/GroupContract
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/products/{productId}/groups/{groupId}
  : delete:
      description: Deletes the association between the specified group and product.
      operationId: ProductGroup_Delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Product identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: productId
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Group identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: groupId
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: The group was successfully disassociated with the product.
        "204":
          content: {}
          description: The group was successfully disassociated with the product.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - ProductGroup
      x-ms-examples:
        ApiManagementDeleteProductGroup:
          parameters:
            If-Match: '*'
            api-version: 2018-06-01-preview
            groupId: templateGroup
            productId: testproduct
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200": {}
            "204": {}
      x-accepts:
      - application/json
    head:
      description: Checks that Group entity specified by identifier is associated
        with the Product entity.
      operationId: ProductGroup_CheckEntityExists
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Product identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: productId
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Group identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: groupId
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: The Group is associated with the Product.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - ProductGroup
      x-ms-examples:
        ApiManagementHeadProductGroup:
          parameters:
            api-version: 2018-06-01-preview
            groupId: 59306a29e4bbd510dc24e5f9
            productId: 5931a75ae4bbd512a88c680b
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "204": {}
      x-accepts:
      - application/json
    put:
      description: Adds the association between the specified developer group with
        the specified product.
      operationId: ProductGroup_CreateOrUpdate
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Product identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: productId
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Group identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: groupId
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductGroup_CreateOrUpdate_200_response'
          description: The specified group is already associated with the product.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductGroup_CreateOrUpdate_200_response'
          description: The group was successfully associated with the product.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - ProductGroup
      x-ms-examples:
        ApiManagementCreateProductGroup:
          parameters:
            api-version: 2018-06-01-preview
            groupId: templateGroup
            productId: testproduct
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/groups/templateGroup
                name: templateGroup
                properties:
                  builtIn: false
                  description: group created via Template
                  displayName: Template Group
                  type: custom
                type: Microsoft.ApiManagement/service/products/groups
            "201":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/groups/templateGroup
                name: templateGroup
                properties:
                  builtIn: false
                  description: group created via Template
                  displayName: Template Group
                  type: custom
                type: Microsoft.ApiManagement/service/products/groups
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/products/{productId}/policies
  : get:
      description: Get the policy configuration at the Product level.
      operationId: ProductPolicy_ListByProduct
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Product identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: productId
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductPolicy_ListByProduct_200_response'
          description: Product Policy information.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - ProductPolicy
      x-ms-examples:
        ApiManagementListProductPolicies:
          parameters:
            api-version: 2018-06-01-preview
            productId: armTemplateProduct4
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                nextLink: ""
                value:
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/products/armTemplateProduct4/policies/policy
                  name: policy
                  properties:
                    policyContent: "<policies>\r\n  <inbound>\r\n    <base />\r\n\
                      \  </inbound>\r\n  <backend>\r\n    <base />\r\n  </backend>\r\
                      \n  <outbound>\r\n    <base />\r\n  </outbound>\r\n  <on-error>\r\
                      \n    <base />\r\n  </on-error>\r\n</policies>"
                  type: Microsoft.ApiManagement/service/products/policies
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/products/{productId}/policies/{policyId}
  : delete:
      description: Deletes the policy configuration at the Product.
      operationId: ProductPolicy_Delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Product identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: productId
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The identifier of the Policy.
        in: path
        name: policyId
        required: true
        schema:
          enum:
          - policy
          type: string
          x-ms-enum:
            modelAsString: true
            name: PolicyIdName
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: PolicyIdName
        x-ms-parameter-location: method
      - description: ETag of the Entity. ETag should match the current entity state
          from the header response of the GET request or it should be * for unconditional
          update.
        in: header
        name: If-Match
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Successfully deleted the policy configuration at the Product
            level.
        "204":
          content: {}
          description: Successfully deleted the policy configuration at the Product
            level.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - ProductPolicy
      x-ms-examples:
        ApiManagementDeleteProductPolicy:
          parameters:
            If-Match: '*'
            api-version: 2018-06-01-preview
            policyId: policy
            productId: testproduct
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200": {}
            "204": {}
      x-accepts:
      - application/json
    get:
      description: Get the policy configuration at the Product level.
      operationId: ProductPolicy_Get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Product identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: productId
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The identifier of the Policy.
        in: path
        name: policyId
        required: true
        schema:
          enum:
          - policy
          type: string
          x-ms-enum:
            modelAsString: true
            name: PolicyIdName
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: PolicyIdName
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductPolicy_Get_200_response'
          description: Product Policy information.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - ProductPolicy
      x-ms-examples:
        ApiManagementGetProductPolicy:
          parameters:
            api-version: 2018-06-01-preview
            policyId: policy
            productId: kjoshiarmTemplateProduct4
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/products/kjoshiarmTemplateProduct4/policies/policy
                name: policy
                properties:
                  policyContent: "<policies>\r\n  <inbound>\r\n    <base />\r\n  </inbound>\r\
                    \n  <backend>\r\n    <base />\r\n  </backend>\r\n  <outbound>\r\
                    \n    <base />\r\n  </outbound>\r\n  <on-error>\r\n    <base />\r\
                    \n  </on-error>\r\n</policies>"
                type: Microsoft.ApiManagement/service/products/policies
      x-accepts:
      - application/json
    head:
      description: Get the ETag of the policy configuration at the Product level.
      operationId: ProductPolicy_GetEntityTag
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Product identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: productId
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The identifier of the Policy.
        in: path
        name: policyId
        required: true
        schema:
          enum:
          - policy
          type: string
          x-ms-enum:
            modelAsString: true
            name: PolicyIdName
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: PolicyIdName
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Product Policy Etag information.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - ProductPolicy
      x-ms-examples:
        ApiManagementHeadProductPolicy:
          parameters:
            api-version: 2018-06-01-preview
            policyId: policy
            productId: unlimited
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              headers:
                etag: AAAAAAAAAAa=
      x-accepts:
      - application/json
    put:
      description: Creates or updates policy configuration for the Product.
      operationId: ProductPolicy_CreateOrUpdate
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Product identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: productId
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The identifier of the Policy.
        in: path
        name: policyId
        required: true
        schema:
          enum:
          - policy
          type: string
          x-ms-enum:
            modelAsString: true
            name: PolicyIdName
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: PolicyIdName
        x-ms-parameter-location: method
      - description: "ETag of the Entity. Not required when creating an entity, but\
          \ required when updating an entity."
        in: header
        name: If-Match
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductPolicy_Get_200_response'
        description: The policy contents to apply.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductPolicy_Get_200_response'
          description: Product policy configuration of the tenant was successfully
            updated.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductPolicy_Get_200_response'
          description: Product policy configuration was successfully created.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - ProductPolicy
      x-ms-examples:
        ApiManagementCreateProductPolicy:
          parameters:
            api-version: 2018-06-01-preview
            parameters:
              properties:
                contentFormat: xml
                policyContent: "<policies>\r\n  <inbound>\r\n    <rate-limit calls=\"\
                  {{call-count}}\" renewal-period=\"15\"></rate-limit>\r\n    <log-to-eventhub\
                  \ logger-id=\"16\">\r\n                      @( string.Join(\",\"\
                  , DateTime.UtcNow, context.Deployment.ServiceName, context.RequestId,\
                  \ context.Request.IpAddress, context.Operation.Name) ) \r\n    \
                  \              </log-to-eventhub>\r\n    <quota-by-key calls=\"\
                  40\" counter-key=\"cc\" renewal-period=\"3600\" increment-count=\"\
                  @(context.Request.Method == &quot;POST&quot; ? 1:2)\" />\r\n   \
                  \ <base />\r\n  </inbound>\r\n  <backend>\r\n    <base />\r\n  </backend>\r\
                  \n  <outbound>\r\n    <base />\r\n  </outbound>\r\n</policies>"
            policyId: policy
            productId: 5702e97e5157a50f48dce801
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/products/5702e97e5157a50f48dce801/policies/policy
                name: policy
                properties:
                  policyContent: "<policies>\r\n  <inbound>\r\n    <rate-limit calls=\"\
                    {{58c884fed8d14f127cec38f0}}\" renewal-period=\"15\" version=\"\
                    2\"></rate-limit>\r\n    <log-to-eventhub logger-id=\"16\">\r\n\
                    \                      @( string.Join(\",\", DateTime.UtcNow,\
                    \ context.Deployment.ServiceName, context.RequestId, context.Request.IpAddress,\
                    \ context.Operation.Name) ) \r\n                  </log-to-eventhub>\r\
                    \n    <quota-by-key calls=\"40\" counter-key=\"cc\" renewal-period=\"\
                    3600\" increment-count=\"@(context.Request.Method == &quot;POST&quot;\
                    \ ? 1:2)\" />\r\n    <base />\r\n  </inbound>\r\n  <backend>\r\
                    \n    <base />\r\n  </backend>\r\n  <outbound>\r\n    <base />\r\
                    \n  </outbound>\r\n</policies>"
                type: Microsoft.ApiManagement/service/products/policies
            "201":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/products/5702e97e5157a50f48dce801/policies/policy
                name: policy
                properties:
                  policyContent: "<policies>\r\n  <inbound>\r\n    <rate-limit calls=\"\
                    {{58c884fed8d14f127cec38f0}}\" renewal-period=\"15\" version=\"\
                    2\"></rate-limit>\r\n    <log-to-eventhub logger-id=\"16\">\r\n\
                    \                      @( string.Join(\",\", DateTime.UtcNow,\
                    \ context.Deployment.ServiceName, context.RequestId, context.Request.IpAddress,\
                    \ context.Operation.Name) ) \r\n                  </log-to-eventhub>\r\
                    \n    <quota-by-key calls=\"40\" counter-key=\"cc\" renewal-period=\"\
                    3600\" increment-count=\"@(context.Request.Method == &quot;POST&quot;\
                    \ ? 1:2)\" />\r\n    <base />\r\n  </inbound>\r\n  <backend>\r\
                    \n    <base />\r\n  </backend>\r\n  <outbound>\r\n    <base />\r\
                    \n  </outbound>\r\n</policies>"
                type: Microsoft.ApiManagement/service/products/policies
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/products/{productId}/subscriptions
  : get:
      description: Lists the collection of subscriptions to the specified product.
      operationId: ProductSubscriptions_List
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Product identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: productId
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "| Field       | Supported operators    | Supported functions\
          \               |\n|-------------|------------------------|-----------------------------------|\n\
          \r\n|name | ge, le, eq, ne, gt, lt | substringof, contains, startswith,\
          \ endswith|\n|displayName | ge, le, eq, ne, gt, lt | substringof, contains,\
          \ startswith, endswith|\n|stateComment | ge, le, eq, ne, gt, lt | substringof,\
          \ contains, startswith, endswith|\n|ownerId | ge, le, eq, ne, gt, lt | substringof,\
          \ contains, startswith, endswith|\n|scope | ge, le, eq, ne, gt, lt | substringof,\
          \ contains, startswith, endswith|\n|userId | ge, le, eq, ne, gt, lt | substringof,\
          \ contains, startswith, endswith|\n|productId | ge, le, eq, ne, gt, lt |\
          \ substringof, contains, startswith, endswith|\n|state | eq |    |\n|user\
          \ |     |    |\n"
        in: query
        name: $filter
        schema:
          type: string
      - description: Number of records to return.
        in: query
        name: $top
        schema:
          format: int32
          minimum: 1
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Number of records to skip.
        in: query
        name: $skip
        schema:
          format: int32
          minimum: 0
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductSubscriptions_List_200_response'
          description: Lists a collection of subscription entities.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - ProductSubscription
      x-ms-examples:
        ApiManagementListProductSubscriptions:
          parameters:
            api-version: 2018-06-01-preview
            productId: 5600b57e7e8880006a060002
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                nextLink: ""
                value:
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/products/5600b57e7e8880006a060002/subscriptions/5600b57e7e8880006a070002
                  name: 5600b57e7e8880006a070002
                  properties:
                    createdDate: 2015-09-22T01:57:18.723Z
                    ownerId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/users/1
                    primaryKey: ba95768e868648848e215f0290eec023
                    scope: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/products/5600b57e7e8880006a060002
                    secondaryKey: 140f866def81419b9bb9732d05d24535
                    state: active
                  type: Microsoft.ApiManagement/service/products/subscriptions
      x-ms-odata: ./definitions.json#/definitions/SubscriptionContract
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/products/{productId}/tags
  : get:
      description: Lists all Tags associated with the Product.
      operationId: Tag_ListByProduct
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Product identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: productId
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "| Field       | Supported operators    | Supported functions\
          \               |\n|-------------|------------------------|-----------------------------------|\n\
          \r\n|displayName | ge, le, eq, ne, gt, lt | substringof, contains, startswith,\
          \ endswith|\n|name | ge, le, eq, ne, gt, lt | substringof, contains, startswith,\
          \ endswith|\n"
        in: query
        name: $filter
        schema:
          type: string
      - description: Number of records to return.
        in: query
        name: $top
        schema:
          format: int32
          minimum: 1
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Number of records to skip.
        in: query
        name: $skip
        schema:
          format: int32
          minimum: 0
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tag_ListByProduct_200_response'
          description: The operation returns a collection of tags associated with
            the Product entity.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - ProductTag
      x-ms-examples:
        ApiManagementListProductTags:
          parameters:
            api-version: 2018-06-01-preview
            productId: 57d2ef278aa04f0888cba3f1
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                nextLink: ""
                value:
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/tags/5600b539c53f5b0062060002
                  name: 5600b539c53f5b0062060002
                  properties:
                    displayName: tag1
                  type: Microsoft.ApiManagement/service/tags
      x-ms-odata: ./definitions.json#/definitions/TagContract
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/products/{productId}/tags/{tagId}
  : delete:
      description: Detach the tag from the Product.
      operationId: Tag_DetachFromProduct
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Product identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: productId
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Tag identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: tagId
        required: true
        schema:
          maxLength: 80
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Successfully detached the tag from the Product.
        "204":
          content: {}
          description: Successfully detached the tag from the Product.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - ProductTag
      x-ms-examples:
        ApiManagementDeleteProductTag:
          parameters:
            If-Match: '*'
            api-version: 2018-06-01-preview
            productId: 59d5b28d1f7fab116c282650
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
            tagId: 59d5b28e1f7fab116402044e
          responses:
            "200": {}
            "204": {}
      x-accepts:
      - application/json
    get:
      description: Get tag associated with the Product.
      operationId: Tag_GetByProduct
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Product identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: productId
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Tag identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: tagId
        required: true
        schema:
          maxLength: 80
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tag_GetByProduct_200_response'
          description: Gets the details of the tag specified by its identifier.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - ProductTag
      x-ms-examples:
        ApiManagementGetProductTag:
          parameters:
            api-version: 2018-06-01-preview
            productId: 59d6bb8f1f7fab13dc67ec9b
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
            tagId: 59306a29e4bbd510dc24e5f9
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/tags/59306a29e4bbd510dc24e5f9
                name: 59306a29e4bbd510dc24e5f9
                properties:
                  displayName: tag1
                type: Microsoft.ApiManagement/service/tags
      x-accepts:
      - application/json
    head:
      description: Gets the entity state version of the tag specified by its identifier.
      operationId: Tag_GetEntityStateByProduct
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Product identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: productId
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Tag identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: tagId
        required: true
        schema:
          maxLength: 80
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: "Empty response body, ETag header entity state version."
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - ProductTag
      x-ms-examples:
        ApiManagementHeadProductTag:
          parameters:
            api-version: 2018-06-01-preview
            productId: 59306a29e4bbd510dc24e5f8
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
            tagId: 59306a29e4bbd510dc24e5f9
          responses:
            "200":
              headers:
                Etag: AAAAAAAACCI=
      x-accepts:
      - application/json
    put:
      description: Assign tag to the Product.
      operationId: Tag_AssignToProduct
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Product identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: productId
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Tag identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: tagId
        required: true
        schema:
          maxLength: 80
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tag_GetByProduct_200_response'
          description: Tag is already assigned to the Product.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tag_GetByProduct_200_response'
          description: Tag was assigned to the Product.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - ProductTag
      x-ms-examples:
        ApiManagementCreateProductTag:
          parameters:
            api-version: 2018-06-01-preview
            productId: 5931a75ae4bbd512a88c680b
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
            tagId: tagId1
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/tags/tagId1
                name: tagId1
                properties:
                  displayName: tag1
                type: Microsoft.ApiManagement/service/tags
            "201":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/tags/tagId1
                name: tagId1
                properties:
                  displayName: tag1
                type: Microsoft.ApiManagement/service/tags
      x-accepts:
[...]
