openapi: 3.0.1
info:
  description: The DevTest Labs Client.
  title: DevTestLabsClient
  version: 2016-05-15
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/devtestlabs/resource-manager/Microsoft.DevTestLab/stable/2016-05-15/DTL.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: devtestlabs-DTL
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.DevTestLab/operations:
    get:
      description: Result of the request to list REST API operations
      operationId: provider_operations_list
      parameters:
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          default: 2016-05-15
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderOperationResult'
          description: Success
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - ProviderOperations
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.provider_operations_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.DevTestLab/labs:
    get:
      description: List labs in a subscription.
      operationId: labs_list_by_subscription
      parameters:
      - description: The subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: "Specify the $expand query. Example: 'properties($select=defaultStorageAccount)'"
        in: query
        name: $expand
        schema:
          type: string
      - description: The filter to apply to the operation.
        in: query
        name: $filter
        schema:
          type: string
      - description: The maximum number of resources to return from the operation.
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: "The ordering expression for the results, using OData notation."
        in: query
        name: $orderby
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2016-05-15
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseWithContinuation[Lab]"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - Labs
      x-ms-odata: '#/definitions/Lab'
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.labs_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.DevTestLab/locations/{locationName}/operations/{name}:
    get:
      description: Get operation.
      operationId: operations_get
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the location.
        in: path
        name: locationName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the operation.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2016-05-15
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResult'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - Operations
      x-openapi-router-controller: openapi_server.controllers.operations_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.DevTestLab/schedules:
    get:
      description: List schedules in a subscription.
      operationId: global_schedules_list_by_subscription
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: "Specify the $expand query. Example: 'properties($select=status)'"
        in: query
        name: $expand
        schema:
          type: string
      - description: The filter to apply to the operation.
        in: query
        name: $filter
        schema:
          type: string
      - description: The maximum number of resources to return from the operation.
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: "The ordering expression for the results, using OData notation."
        in: query
        name: $orderby
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2016-05-15
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseWithContinuation[Schedule]"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - GlobalSchedules
      x-ms-odata: '#/definitions/Schedule'
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.global_schedules_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs:
    get:
      description: List labs in a resource group.
      operationId: labs_list_by_resource_group
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "Specify the $expand query. Example: 'properties($select=defaultStorageAccount)'"
        in: query
        name: $expand
        schema:
          type: string
      - description: The filter to apply to the operation.
        in: query
        name: $filter
        schema:
          type: string
      - description: The maximum number of resources to return from the operation.
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: "The ordering expression for the results, using OData notation."
        in: query
        name: $orderby
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2016-05-15
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseWithContinuation[Lab]"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - Labs
      x-ms-odata: '#/definitions/Lab'
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.labs_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/artifactsources
  : get:
      description: List artifact sources in a given lab.
      operationId: artifact_sources_list
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: "Specify the $expand query. Example: 'properties($select=displayName)'"
        in: query
        name: $expand
        schema:
          type: string
      - description: The filter to apply to the operation.
        in: query
        name: $filter
        schema:
          type: string
      - description: The maximum number of resources to return from the operation.
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: "The ordering expression for the results, using OData notation."
        in: query
        name: $orderby
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2016-05-15
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseWithContinuation[ArtifactSource]"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - ArtifactSources
      x-ms-odata: '#/definitions/ArtifactSource'
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.artifact_sources_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/artifactsources/{artifactSourceName}/armtemplates
  : get:
      description: List azure resource manager templates in a given artifact source.
      operationId: arm_templates_list
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the artifact source.
        in: path
        name: artifactSourceName
        required: true
        schema:
          type: string
      - description: "Specify the $expand query. Example: 'properties($select=displayName)'"
        in: query
        name: $expand
        schema:
          type: string
      - description: The filter to apply to the operation.
        in: query
        name: $filter
        schema:
          type: string
      - description: The maximum number of resources to return from the operation.
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: "The ordering expression for the results, using OData notation."
        in: query
        name: $orderby
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2016-05-15
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseWithContinuation[ArmTemplate]"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - ArmTemplates
      x-ms-odata: '#/definitions/ArmTemplate'
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.arm_templates_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/artifactsources/{artifactSourceName}/armtemplates/{name}
  : get:
      description: Get azure resource manager template.
      operationId: arm_templates_get
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the artifact source.
        in: path
        name: artifactSourceName
        required: true
        schema:
          type: string
      - description: The name of the azure Resource Manager template.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: "Specify the $expand query. Example: 'properties($select=displayName)'"
        in: query
        name: $expand
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2016-05-15
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArmTemplate'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - ArmTemplates
      x-openapi-router-controller: openapi_server.controllers.arm_templates_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/artifactsources/{artifactSourceName}/artifacts
  : get:
      description: List artifacts in a given artifact source.
      operationId: artifacts_list
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the artifact source.
        in: path
        name: artifactSourceName
        required: true
        schema:
          type: string
      - description: "Specify the $expand query. Example: 'properties($select=title)'"
        in: query
        name: $expand
        schema:
          type: string
      - description: The filter to apply to the operation.
        in: query
        name: $filter
        schema:
          type: string
      - description: The maximum number of resources to return from the operation.
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: "The ordering expression for the results, using OData notation."
        in: query
        name: $orderby
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2016-05-15
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseWithContinuation[Artifact]"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - Artifacts
      x-ms-odata: '#/definitions/Artifact'
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.artifacts_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/artifactsources/{artifactSourceName}/artifacts/{name}
  : get:
      description: Get artifact.
      operationId: artifacts_get
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the artifact source.
        in: path
        name: artifactSourceName
        required: true
        schema:
          type: string
      - description: The name of the artifact.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: "Specify the $expand query. Example: 'properties($select=title)'"
        in: query
        name: $expand
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2016-05-15
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Artifact'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - Artifacts
      x-openapi-router-controller: openapi_server.controllers.artifacts_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/artifactsources/{artifactSourceName}/artifacts/{name}/generateArmTemplate
  : post:
      description: "Generates an ARM template for the given artifact, uploads the\
        \ required files to a storage account, and validates the generated artifact."
      operationId: artifacts_generate_arm_template
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the artifact source.
        in: path
        name: artifactSourceName
        required: true
        schema:
          type: string
      - description: The name of the artifact.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2016-05-15
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateArmTemplateRequest'
        description: Parameters for generating an ARM template for deploying artifacts.
        required: true
        x-body-name: generateArmTemplateRequest
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArmTemplateInfo'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - Artifacts
      x-codegen-request-body-name: generateArmTemplateRequest
      x-openapi-router-controller: openapi_server.controllers.artifacts_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/artifactsources/{name}
  : delete:
      description: Delete artifact source.
      operationId: artifact_sources_delete
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the artifact source.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2016-05-15
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "204":
          content: {}
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - ArtifactSources
      x-openapi-router-controller: openapi_server.controllers.artifact_sources_controller
    get:
      description: Get artifact source.
      operationId: artifact_sources_get
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the artifact source.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: "Specify the $expand query. Example: 'properties($select=displayName)'"
        in: query
        name: $expand
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2016-05-15
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtifactSource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - ArtifactSources
      x-openapi-router-controller: openapi_server.controllers.artifact_sources_controller
    patch:
      description: Modify properties of artifact sources.
      operationId: artifact_sources_update
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the artifact source.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2016-05-15
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArtifactSourceFragment'
        description: Properties of an artifact source.
        required: true
        x-body-name: artifactSource
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtifactSource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - ArtifactSources
      x-codegen-request-body-name: artifactSource
      x-openapi-router-controller: openapi_server.controllers.artifact_sources_controller
    put:
      description: Create or replace an existing artifact source.
      operationId: artifact_sources_create_or_update
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the artifact source.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2016-05-15
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArtifactSource'
        description: Properties of an artifact source.
        required: true
        x-body-name: artifactSource
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtifactSource'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtifactSource'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - ArtifactSources
      x-codegen-request-body-name: artifactSource
      x-openapi-router-controller: openapi_server.controllers.artifact_sources_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/costs/{name}:
    get:
      description: Get cost.
      operationId: costs_get
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the cost.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: "Specify the $expand query. Example: 'properties($expand=labCostDetails)'"
        in: query
        name: $expand
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2016-05-15
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabCost'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - Costs
      x-openapi-router-controller: openapi_server.controllers.costs_controller
    put:
      description: Create or replace an existing cost.
      operationId: costs_create_or_update
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the cost.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2016-05-15
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LabCost'
        description: A cost item.
        required: true
        x-body-name: labCost
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabCost'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabCost'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - Costs
      x-codegen-request-body-name: labCost
      x-openapi-router-controller: openapi_server.controllers.costs_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/customimages:
    get:
      description: List custom images in a given lab.
      operationId: custom_images_list
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: "Specify the $expand query. Example: 'properties($select=vm)'"
        in: query
        name: $expand
        schema:
          type: string
      - description: The filter to apply to the operation.
        in: query
        name: $filter
        schema:
          type: string
      - description: The maximum number of resources to return from the operation.
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: "The ordering expression for the results, using OData notation."
        in: query
        name: $orderby
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2016-05-15
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseWithContinuation[CustomImage]"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - CustomImages
      x-ms-odata: '#/definitions/CustomImage'
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.custom_images_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/customimages/{name}
  : delete:
      description: Delete custom image. This operation can take a while to complete.
      operationId: custom_images_delete
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the custom image.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2016-05-15
          type: string
      responses:
        "202":
          content: {}
          description: Accepted
        "204":
          content: {}
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - CustomImages
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.custom_images_controller
    get:
      description: Get custom image.
      operationId: custom_images_get
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the custom image.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: "Specify the $expand query. Example: 'properties($select=vm)'"
        in: query
        name: $expand
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2016-05-15
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomImage'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - CustomImages
      x-openapi-router-controller: openapi_server.controllers.custom_images_controller
    put:
      description: Create or replace an existing custom image. This operation can
        take a while to complete.
      operationId: custom_images_create_or_update
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the custom image.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2016-05-15
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomImage'
        description: A custom image.
        required: true
        x-body-name: customImage
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomImage'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomImage'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - CustomImages
      x-ms-long-running-operation: true
      x-codegen-request-body-name: customImage
      x-openapi-router-controller: openapi_server.controllers.custom_images_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/formulas:
    get:
      description: List formulas in a given lab.
      operationId: formulas_list
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: "Specify the $expand query. Example: 'properties($select=description)'"
        in: query
        name: $expand
        schema:
          type: string
      - description: The filter to apply to the operation.
        in: query
        name: $filter
        schema:
          type: string
      - description: The maximum number of resources to return from the operation.
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: "The ordering expression for the results, using OData notation."
        in: query
        name: $orderby
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2016-05-15
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseWithContinuation[Formula]"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - Formulas
      x-ms-odata: '#/definitions/Formula'
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.formulas_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/formulas/{name}
  : delete:
      description: Delete formula.
      operationId: formulas_delete
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the formula.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2016-05-15
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "204":
          content: {}
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - Formulas
      x-openapi-router-controller: openapi_server.controllers.formulas_controller
    get:
      description: Get formula.
      operationId: formulas_get
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the formula.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: "Specify the $expand query. Example: 'properties($select=description)'"
        in: query
        name: $expand
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2016-05-15
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Formula'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - Formulas
      x-openapi-router-controller: openapi_server.controllers.formulas_controller
    put:
      description: Create or replace an existing Formula. This operation can take
        a while to complete.
      operationId: formulas_create_or_update
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the formula.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2016-05-15
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Formula'
        description: "A formula for creating a VM, specifying an image base and other\
          \ parameters"
        required: true
        x-body-name: formula
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Formula'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Formula'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - Formulas
      x-ms-long-running-operation: true
      x-codegen-request-body-name: formula
      x-openapi-router-controller: openapi_server.controllers.formulas_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/galleryimages:
    get:
      description: List gallery images in a given lab.
      operationId: gallery_images_list
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: "Specify the $expand query. Example: 'properties($select=author)'"
        in: query
        name: $expand
        schema:
          type: string
      - description: The filter to apply to the operation.
        in: query
        name: $filter
        schema:
          type: string
      - description: The maximum number of resources to return from the operation.
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: "The ordering expression for the results, using OData notation."
        in: query
        name: $orderby
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2016-05-15
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseWithContinuation[GalleryImage]"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - GalleryImages
      x-ms-odata: '#/definitions/GalleryImage'
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.gallery_images_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/notificationchannels
  : get:
      description: List notification channels in a given lab.
      operationId: notification_channels_list
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: "Specify the $expand query. Example: 'properties($select=webHookUrl)'"
        in: query
        name: $expand
        schema:
          type: string
      - description: The filter to apply to the operation.
        in: query
        name: $filter
        schema:
          type: string
      - description: The maximum number of resources to return from the operation.
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: "The ordering expression for the results, using OData notation."
        in: query
        name: $orderby
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2016-05-15
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseWithContinuation[NotificationChannel]"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - NotificationChannels
      x-ms-odata: '#/definitions/NotificationChannel'
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.notification_channels_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/notificationchannels/{name}
  : delete:
      description: Delete notification channel.
      operationId: notification_channels_delete
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the notificationChannel.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2016-05-15
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "204":
          content: {}
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - NotificationChannels
      x-openapi-router-controller: openapi_server.controllers.notification_channels_controller
    get:
      description: Get notification channels.
      operationId: notification_channels_get
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the notificationChannel.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: "Specify the $expand query. Example: 'properties($select=webHookUrl)'"
        in: query
        name: $expand
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2016-05-15
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationChannel'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - NotificationChannels
      x-openapi-router-controller: openapi_server.controllers.notification_channels_controller
    patch:
      description: Modify properties of notification channels.
      operationId: notification_channels_update
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the notificationChannel.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2016-05-15
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotificationChannelFragment'
        description: A notification.
        required: true
        x-body-name: notificationChannel
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationChannel'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - NotificationChannels
      x-codegen-request-body-name: notificationChannel
      x-openapi-router-controller: openapi_server.controllers.notification_channels_controller
    put:
      description: Create or replace an existing notificationChannel.
      operationId: notification_channels_create_or_update
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the notificationChannel.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2016-05-15
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotificationChannel'
        description: A notification.
        required: true
        x-body-name: notificationChannel
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationChannel'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationChannel'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - NotificationChannels
      x-codegen-request-body-name: notificationChannel
      x-openapi-router-controller: openapi_server.controllers.notification_channels_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/notificationchannels/{name}/notify
  : post:
      description: Send notification to provided channel.
      operationId: notification_channels_notify
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the notificationChannel.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2016-05-15
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotifyParameters'
        description: Properties for generating a Notification.
        required: true
        x-body-name: notifyParameters
      responses:
        "200":
          content: {}
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - NotificationChannels
      x-codegen-request-body-name: notifyParameters
      x-openapi-router-controller: openapi_server.controllers.notification_channels_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/policysets/{name}/evaluatePolicies
  : post:
      description: Evaluates lab policy.
      operationId: policy_sets_evaluate_policies
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the policy set.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2016-05-15
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EvaluatePoliciesRequest'
        description: Request body for evaluating a policy set.
        required: true
        x-body-name: evaluatePoliciesRequest
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EvaluatePoliciesResponse'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - PolicySets
      x-codegen-request-body-name: evaluatePoliciesRequest
      x-openapi-router-controller: openapi_server.controllers.policy_sets_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/policysets/{policySetName}/policies
  : get:
      description: List policies in a given policy set.
      operationId: policies_list
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the policy set.
        in: path
        name: policySetName
        required: true
        schema:
          type: string
      - description: "Specify the $expand query. Example: 'properties($select=description)'"
        in: query
        name: $expand
        schema:
          type: string
      - description: The filter to apply to the operation.
        in: query
        name: $filter
        schema:
          type: string
      - description: The maximum number of resources to return from the operation.
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: "The ordering expression for the results, using OData notation."
        in: query
        name: $orderby
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2016-05-15
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseWithContinuation[Policy]"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - Policies
      x-ms-odata: '#/definitions/Policy'
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.policies_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/policysets/{policySetName}/policies/{name}
  : delete:
      description: Delete policy.
      operationId: policies_delete
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the policy set.
        in: path
        name: policySetName
        required: true
        schema:
          type: string
      - description: The name of the policy.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2016-05-15
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "204":
          content: {}
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - Policies
      x-openapi-router-controller: openapi_server.controllers.policies_controller
    get:
      description: Get policy.
      operationId: policies_get
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the policy set.
        in: path
        name: policySetName
        required: true
        schema:
          type: string
      - description: The name of the policy.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: "Specify the $expand query. Example: 'properties($select=description)'"
        in: query
        name: $expand
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2016-05-15
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Policy'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - Policies
      x-openapi-router-controller: openapi_server.controllers.policies_controller
    patch:
      description: Modify properties of policies.
      operationId: policies_update
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the policy set.
        in: path
        name: policySetName
        required: true
        schema:
          type: string
      - description: The name of the policy.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2016-05-15
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PolicyFragment'
        description: A Policy.
        required: true
        x-body-name: policy
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Policy'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - Policies
      x-codegen-request-body-name: policy
      x-openapi-router-controller: openapi_server.controllers.policies_controller
    put:
      description: Create or replace an existing policy.
      operationId: policies_create_or_update
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the policy set.
        in: path
        name: policySetName
        required: true
        schema:
          type: string
      - description: The name of the policy.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2016-05-15
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Policy'
        description: A Policy.
        required: true
        x-body-name: policy
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Policy'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Policy'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - Policies
      x-codegen-request-body-name: policy
      x-openapi-router-controller: openapi_server.controllers.policies_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/schedules:
    get:
      description: List schedules in a given lab.
      operationId: schedules_list
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: "Specify the $expand query. Example: 'properties($select=status)'"
        in: query
        name: $expand
        schema:
          type: string
      - description: The filter to apply to the operation.
        in: query
        name: $filter
        schema:
          type: string
      - description: The maximum number of resources to return from the operation.
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: "The ordering expression for the results, using OData notation."
        in: query
        name: $orderby
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2016-05-15
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseWithContinuation[Schedule]"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - Schedules
      x-ms-odata: '#/definitions/Schedule'
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.schedules_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/schedules/{name}
  : delete:
      description: Delete schedule.
      operationId: schedules_delete
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the schedule.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2016-05-15
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "204":
          content: {}
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - Schedules
      x-openapi-router-controller: openapi_server.controllers.schedules_controller
    get:
      description: Get schedule.
      operationId: schedules_get
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the schedule.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: "Specify the $expand query. Example: 'properties($select=status)'"
        in: query
        name: $expand
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2016-05-15
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schedule'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - Schedules
      x-openapi-router-controller: openapi_server.controllers.schedules_controller
    patch:
      description: Modify properties of schedules.
      operationId: schedules_update
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the schedule.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2016-05-15
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScheduleFragment'
        description: A schedule.
        required: true
        x-body-name: schedule
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schedule'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - Schedules
      x-codegen-request-body-name: schedule
      x-openapi-router-controller: openapi_server.controllers.schedules_controller
    put:
      description: Create or replace an existing schedule.
      operationId: schedules_create_or_update
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the schedule.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2016-05-15
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Schedule'
        description: A schedule.
        required: true
        x-body-name: schedule
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schedule'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schedule'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - Schedules
      x-codegen-request-body-name: schedule
      x-openapi-router-controller: openapi_server.controllers.schedules_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/schedules/{name}/execute
  : post:
      description: Execute a schedule. This operation can take a while to complete.
      operationId: schedules_execute
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the schedule.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2016-05-15
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "202":
          content: {}
          description: Accepted
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - Schedules
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.schedules_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/schedules/{name}/listApplicable
  : post:
      description: Lists all applicable schedules
      operationId: schedules_list_applicable
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the schedule.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2016-05-15
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseWithContinuation[Schedule]"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - Schedules
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.schedules_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/servicerunners:
    get:
      description: List service runners in a given lab.
      operationId: service_runners_list
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The filter to apply to the operation.
        in: query
        name: $filter
        schema:
          type: string
      - description: The maximum number of resources to return from the operation.
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: "The ordering expression for the results, using OData notation."
        in: query
        name: $orderby
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2016-05-15
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseWithContinuation[ServiceRunner]"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - ServiceRunners
      x-ms-odata: '#/definitions/ServiceRunner'
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.service_runners_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/servicerunners/{name}
  : delete:
      description: Delete service runner.
      operationId: service_runners_delete
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the service runner.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2016-05-15
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "204":
          content: {}
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - ServiceRunners
      x-openapi-router-controller: openapi_server.controllers.service_runners_controller
    get:
      description: Get service runner.
      operationId: service_runners_get
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the service runner.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2016-05-15
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceRunner'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - ServiceRunners
      x-openapi-router-controller: openapi_server.controllers.service_runners_controller
    put:
      description: Create or replace an existing Service runner.
      operationId: service_runners_create_or_update
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the service runner.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2016-05-15
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceRunner'
        description: A container for a managed identity to execute DevTest lab services.
        required: true
        x-body-name: serviceRunner
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceRunner'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceRunner'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - ServiceRunners
      x-codegen-request-body-name: serviceRunner
      x-openapi-router-controller: openapi_server.controllers.service_runners_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/users:
    get:
      description: List user profiles in a given lab.
      operationId: users_list
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: "Specify the $expand query. Example: 'properties($select=identity)'"
        in: query
        name: $expand
        schema:
          type: string
      - description: The filter to apply to the operation.
        in: query
        name: $filter
        schema:
          type: string
      - description: The maximum number of resources to return from the operation.
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: "The ordering expression for the results, using OData notation."
        in: query
        name: $orderby
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2016-05-15
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseWithContinuation[User]"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - Users
      x-ms-odata: '#/definitions/User'
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.users_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/users/{name}:
    delete:
      description: Delete user profile. This operation can take a while to complete.
      operationId: users_delete
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the user profile.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2016-05-15
          type: string
      responses:
        "202":
          content: {}
          description: Accepted
        "204":
          content: {}
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - Users
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.users_controller
    get:
      description: Get user profile.
      operationId: users_get
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the user profile.
        in: path
[...]
