openapi: 3.0.0
info:
  contact:
    email: oss@maif.fr
    name: Otoroshi Team
  description: Admin API of the Otoroshi reverse proxy
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  title: Otoroshi Admin API
  version: 1.5.0-dev
  x-apisguru-categories:
  - developer_tools
  x-logo:
    backgroundColor: '#FFFFFF'
    url: https://maif.github.io/otoroshi/assets/images/svg/otoroshi_logo.svg
  x-origin:
  - format: openapi
    url: https://raw.githubusercontent.com/MAIF/otoroshi/master/docs/manual/code/swagger.json
    version: "3.0"
  x-providerName: maif.local
  x-serviceName: otoroshi
externalDocs:
  description: Find out more about Otoroshi
  url: https://maif.github.io/otoroshi/
servers:
- url: http://otoroshi-api.oto.tools/
- url: http://maif.local
tags:
- description: Everything about Otoroshi global configuration
  name: configuration
- description: Everything about Otoroshi import/export
  name: import
- description: Everything about Otoroshi entities templates
  name: templates
- description: Everything about Otoroshi Environments
  name: environments
- description: Everything about Otoroshi service groups
  name: groups
- description: Everything about Otoroshi api keys
  name: apikeys
- description: Everything about Otoroshi service descriptors
  name: services
- description: Everything about Otoroshi stats
  name: stats
- description: Everything about Otoroshi Snow Monkey
  name: snowmonkey
- description: Everything about Otoroshi health status
  name: health
- description: Everything about Otoroshi global JWT token verifiers
  name: jwt-verifiers
- description: Everything about Otoroshi global auth. module config
  name: auth-config
- description: Everything about Otoroshi request transformer scripts
  name: scripts
- description: Everything about Otoroshi SSL/TLS certificates
  name: certificates
- description: Everything about Otoroshi validation authorities
  name: validation-authorities
- description: Everything about Otoroshi data exporters
  name: data-exporter-configs
paths:
  /api/apikeys:
    get:
      deprecated: false
      description: Get all api keys
      operationId: allApiKeys
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ApiKey'
                type: array
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Get all api keys
      tags:
      - apikeys
      x-accepts:
      - application/json
  /api/auths:
    get:
      deprecated: false
      description: Get all global auth. module configs
      operationId: findAllGlobalAuthModules
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/findAllGlobalAuthModules_200_response_inner'
                type: array
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Get all global auth. module configs
      tags:
      - auth-config
      x-accepts:
      - application/json
    post:
      deprecated: false
      description: Create one global auth. module config
      operationId: createGlobalAuthModule
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/findAllGlobalAuthModules_200_response_inner'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/findAllGlobalAuthModules_200_response_inner'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Create one global auth. module config
      tags:
      - auth-config
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/auths/{id}:
    delete:
      deprecated: false
      description: Delete one global auth. module config
      operationId: deleteGlobalAuthModule
      parameters:
      - description: The auth. config id id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deleted'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Delete one global auth. module config
      tags:
      - auth-config
      x-accepts:
      - application/json
    get:
      deprecated: false
      description: Get one global auth. module configs
      operationId: findGlobalAuthModuleById
      parameters:
      - description: The auth. config id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/findAllGlobalAuthModules_200_response_inner'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Get one global auth. module configs
      tags:
      - auth-config
      x-accepts:
      - application/json
    patch:
      deprecated: false
      description: Update one global auth. module config
      operationId: patchGlobalAuthModule
      parameters:
      - description: The auth. config id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Patch'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/findAllGlobalAuthModules_200_response_inner'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Update one global auth. module config
      tags:
      - auth-config
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      deprecated: false
      description: Update one global auth. module config
      operationId: updateGlobalAuthModule
      parameters:
      - description: The auth. config id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/findAllGlobalAuthModules_200_response_inner'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/findAllGlobalAuthModules_200_response_inner'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Update one global auth. module config
      tags:
      - auth-config
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/certificates:
    get:
      deprecated: false
      description: Get all certificates
      operationId: allCerts
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Certificate'
                type: array
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Get all certificates
      tags:
      - certificates
      x-accepts:
      - application/json
    post:
      deprecated: false
      description: Create one certificate
      operationId: createCert
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Certificate'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Certificate'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Create one certificate
      tags:
      - certificates
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/certificates/{id}:
    delete:
      deprecated: false
      description: Delete one certificate by id
      operationId: deleteCert
      parameters:
      - description: The certificate id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deleted'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Delete one certificate by id
      tags:
      - certificates
      x-accepts:
      - application/json
    get:
      deprecated: false
      description: Get one certificate by id
      operationId: oneCert
      parameters:
      - description: The auth. config id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Certificate'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Get one certificate by id
      tags:
      - certificates
      x-accepts:
      - application/json
    patch:
      deprecated: false
      description: Update one certificate by id
      operationId: patchCert
      parameters:
      - description: The certificate id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Patch'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Certificate'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Update one certificate by id
      tags:
      - certificates
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      deprecated: false
      description: Update one certificate by id
      operationId: putCert
      parameters:
      - description: The certificate id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Certificate'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Certificate'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Update one certificate by id
      tags:
      - certificates
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/client-validators:
    get:
      deprecated: false
      description: Get all validation authoritiess
      operationId: findAllClientValidators
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ValidationAuthority'
                type: array
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Get all validation authoritiess
      tags:
      - validation-authorities
      x-accepts:
      - application/json
    post:
      deprecated: false
      description: Create one validation authorities
      operationId: createClientValidator
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidationAuthority'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationAuthority'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Create one validation authorities
      tags:
      - validation-authorities
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/client-validators/{id}:
    delete:
      deprecated: false
      description: Delete one validation authorities by id
      operationId: deleteClientValidator
      parameters:
      - description: The validation authorities id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deleted'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Delete one validation authorities by id
      tags:
      - validation-authorities
      x-accepts:
      - application/json
    get:
      deprecated: false
      description: Get one validation authorities by id
      operationId: findClientValidatorById
      parameters:
      - description: The auth. config id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationAuthority'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Get one validation authorities by id
      tags:
      - validation-authorities
      x-accepts:
      - application/json
    patch:
      deprecated: false
      description: Update one validation authorities by id
      operationId: patchClientValidator
      parameters:
      - description: The validation authorities id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Patch'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationAuthority'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Update one validation authorities by id
      tags:
      - validation-authorities
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      deprecated: false
      description: Update one validation authorities by id
      operationId: updateClientValidator
      parameters:
      - description: The validation authorities id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidationAuthority'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationAuthority'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Update one validation authorities by id
      tags:
      - validation-authorities
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/data-exporter-configs:
    get:
      deprecated: false
      description: Get all data exporter configs
      operationId: findAllDataExporters
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/DataExporterConfig'
                type: array
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Get all data exporter configs
      tags:
      - data-exporter-configs
      x-accepts:
      - application/json
    post:
      deprecated: false
      description: Create a new data exporter config
      operationId: createDataExporterConfig
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataExporterConfig'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataExporterConfig'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Create a new data exporter config
      tags:
      - data-exporter-configs
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/data-exporter-configs/_bulk:
    delete:
      deprecated: false
      description: Delete a data exporter config
      operationId: deletebulkDataExporterConfig
      parameters: []
      requestBody:
        content:
          application/ndjson:
            schema:
              $ref: '#/components/schemas/Patch'
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/deletebulkDataExporterConfig_200_response_inner'
                type: array
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Delete a data exporter config
      tags:
      - data-exporter-configs
      x-content-type: application/ndjson
      x-accepts:
      - application/json
    patch:
      deprecated: false
      description: Update a data exporter configs with a diff
      operationId: patchBulkDataExporterConfig
      parameters: []
      requestBody:
        content:
          application/ndjson:
            schema:
              $ref: '#/components/schemas/Patch'
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/updateBulkDataExporterConfig_200_response_inner'
                type: array
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Update a data exporter configs with a diff
      tags:
      - data-exporter-configs
      x-content-type: application/ndjson
      x-accepts:
      - application/json
    post:
      deprecated: false
      description: Create a new data exporter configs
      operationId: createBulkDataExporterConfigs
      parameters: []
      requestBody:
        content:
          application/ndjson:
            schema:
              $ref: '#/components/schemas/DataExporterConfig'
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/createBulkDataExporterConfigs_200_response_inner'
                type: array
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Create a new data exporter configs
      tags:
      - data-exporter-configs
      x-content-type: application/ndjson
      x-accepts:
      - application/json
    put:
      deprecated: false
      description: Update a data exporter configs
      operationId: updateBulkDataExporterConfig
      parameters: []
      requestBody:
        content:
          application/ndjson:
            schema:
              $ref: '#/components/schemas/DataExporterConfig'
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/updateBulkDataExporterConfig_200_response_inner'
                type: array
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Update a data exporter configs
      tags:
      - data-exporter-configs
      x-content-type: application/ndjson
      x-accepts:
      - application/json
  /api/data-exporter-configs/_template:
    get:
      deprecated: false
      description: Get all data exporter configs
      operationId: DataExporterTemplate
      parameters:
      - description: The data exporter config type
        explode: true
        in: query
        name: type
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataExporterConfig'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Get all data exporter configs
      tags:
      - data-exporter-configs
      x-accepts:
      - application/json
  /api/data-exporter-configs/{dataExporterConfigId}:
    delete:
      deprecated: false
      description: Delete a data exporter config
      operationId: deleteDataExporterConfig
      parameters:
      - description: The data exporter config id
        explode: false
        in: path
        name: dataExporterConfigId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deleted'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Delete a data exporter config
      tags:
      - data-exporter-configs
      x-accepts:
      - application/json
    get:
      deprecated: false
      description: Get a data exporter config
      operationId: findDataExporterConfigById
      parameters:
      - description: The data exporter config id
        explode: false
        in: path
        name: dataExporterConfigId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataExporterConfig'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Get a data exporter config
      tags:
      - data-exporter-configs
      x-accepts:
      - application/json
    patch:
      deprecated: false
      description: Update a data exporter config with a diff
      operationId: patchDataExporterConfig
      parameters:
      - description: The data exporter config id
        explode: false
        in: path
        name: dataExporterConfigId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Patch'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataExporterConfig'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Update a data exporter config with a diff
      tags:
      - data-exporter-configs
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      deprecated: false
      description: Update a data exporter config
      operationId: updateDataExporterConfig
      parameters:
      - description: The data exporter config id
        explode: false
        in: path
        name: dataExporterConfigId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataExporterConfig'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataExporterConfig'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Update a data exporter config
      tags:
      - data-exporter-configs
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/globalconfig:
    get:
      deprecated: false
      description: Get the full configuration of Otoroshi
      operationId: globalConfig
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalConfig'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Get the full configuration of Otoroshi
      tags:
      - configuration
      x-accepts:
      - application/json
    patch:
      deprecated: false
      description: Update the global configuration with a diff
      operationId: patchGlobalConfig
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Patch'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalConfig'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Update the global configuration with a diff
      tags:
      - configuration
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      deprecated: false
      description: Update the global configuration
      operationId: putGlobalConfig
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GlobalConfig'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalConfig'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Update the global configuration
      tags:
      - configuration
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/groups:
    get:
      deprecated: false
      description: Get all service groups
      operationId: allServiceGroups
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Group'
                type: array
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Get all service groups
      tags:
      - groups
      x-accepts:
      - application/json
    post:
      deprecated: false
      description: Create a new service group
      operationId: createGroup
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Group'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Create a new service group
      tags:
      - groups
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/groups/{groupId}/apikeys:
    get:
      deprecated: false
      description: Get all api keys for the group of a service
      operationId: apiKeysFromGroup
      parameters:
      - description: The api key group id
        explode: false
        in: path
        name: groupId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ApiKey'
                type: array
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Get all api keys for the group of a service
      tags:
      - apikeys
      x-accepts:
      - application/json
    post:
      deprecated: false
      description: Create a new api key for a group
      operationId: createApiKeyFromGroup
      parameters:
      - description: The api key group id
        explode: false
        in: path
        name: groupId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKey'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKey'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Create a new api key for a group
      tags:
      - apikeys
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/groups/{groupId}/apikeys/{clientId}:
    delete:
      deprecated: false
      description: Delete an api key for a specified service group
      operationId: deleteApiKeyFromGroup
      parameters:
      - description: The api key group id
        explode: false
        in: path
        name: groupId
        required: true
        schema:
          type: string
        style: simple
      - description: the api key id
        explode: false
        in: path
        name: clientId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deleted'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Delete an api key
      tags:
      - apikeys
      x-accepts:
      - application/json
    get:
      deprecated: false
      description: Get an api key for a specified service group
      operationId: apiKeyFromGroup
      parameters:
      - description: The api key group id
        explode: false
        in: path
        name: groupId
        required: true
        schema:
          type: string
        style: simple
      - description: the api key id
        explode: false
        in: path
        name: clientId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKey'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Get an api key
      tags:
      - apikeys
      x-accepts:
      - application/json
    patch:
      deprecated: false
      description: Update an api key for a specified service descriptor with a diff
      operationId: patchApiKeyFromGroup
      parameters:
      - description: The api key group id
        explode: false
        in: path
        name: groupId
        required: true
        schema:
          type: string
        style: simple
      - description: the api key id
        explode: false
        in: path
        name: clientId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Patch'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKey'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Update an api key with a diff
      tags:
      - apikeys
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      deprecated: false
      description: Update an api key for a specified service group
      operationId: updateApiKeyFromGroup
      parameters:
      - description: The api key group id
        explode: false
        in: path
        name: groupId
        required: true
        schema:
          type: string
        style: simple
      - description: the api key id
        explode: false
        in: path
        name: clientId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKey'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKey'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Update an api key
      tags:
      - apikeys
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/groups/{groupId}/apikeys/{clientId}/quotas:
    delete:
      deprecated: false
      description: Reset the quota state of an api key
      operationId: resetApiKeyFromGroupQuotas
      parameters:
      - description: The api key group id
        explode: false
        in: path
        name: groupId
        required: true
        schema:
          type: string
        style: simple
      - description: the api key id
        explode: false
        in: path
        name: clientId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Quotas'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Reset the quota state of an api key
      tags:
      - apikeys
      x-accepts:
      - application/json
    get:
      deprecated: false
      description: Get the quota state of an api key
      operationId: apiKeyFromGroupQuotas
      parameters:
      - description: The api key group id
        explode: false
        in: path
        name: groupId
        required: true
        schema:
          type: string
        style: simple
      - description: the api key id
        explode: false
        in: path
        name: clientId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Quotas'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Get the quota state of an api key
      tags:
      - apikeys
      x-accepts:
      - application/json
  /api/groups/{serviceGroupId}:
    delete:
      deprecated: false
      description: Delete a service group
      operationId: deleteGroup
      parameters:
      - description: The service group id
        explode: false
        in: path
        name: serviceGroupId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deleted'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Delete a service group
      tags:
      - groups
      x-accepts:
      - application/json
    get:
      deprecated: false
      description: Get a service group
      operationId: serviceGroup
      parameters:
      - description: The service group id
        explode: false
        in: path
        name: serviceGroupId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Get a service group
      tags:
      - groups
      x-accepts:
      - application/json
    patch:
      deprecated: false
      description: Update a service group with a diff
      operationId: patchGroup
      parameters:
      - description: The service group id
        explode: false
        in: path
        name: serviceGroupId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Patch'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Update a service group with a diff
      tags:
      - groups
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      deprecated: false
      description: Update a service group
      operationId: updateGroup
      parameters:
      - description: The service group id
        explode: false
        in: path
        name: serviceGroupId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Group'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Update a service group
      tags:
      - groups
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/groups/{serviceGroupId}/services:
    get:
      deprecated: false
      description: Get all services descriptor for a group
      operationId: serviceGroupServices
      parameters:
      - description: The service group id
        explode: false
        in: path
        name: serviceGroupId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ApiKey'
                type: array
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Get all services descriptor for a group
      tags:
      - services
      x-accepts:
      - application/json
  /api/import:
    post:
      deprecated: false
      description: Import the full state of Otoroshi as a file
      operationId: fullImportFromFile
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImportExport'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Done'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Import the full state of Otoroshi as a file
      tags:
      - import
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/live:
    get:
      deprecated: false
      description: Get global otoroshi stats
      operationId: globalLiveStats
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Stats'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Get global otoroshi stats
      tags:
      - stats
      x-accepts:
      - application/json
  /api/live/{id}:
    get:
      deprecated: false
      description: "Get live feed of global otoroshi stats (global) or for a service\
        \ {id}"
      operationId: serviceLiveStats
      parameters:
      - description: The service id or global for otoroshi stats
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Stats'
            text/event-stream:
              schema:
                $ref: '#/components/schemas/Stats'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Get live feed of otoroshi stats
      tags:
      - stats
      x-accepts:
      - application/json
      - text/event-stream
  /api/otoroshi.json:
    get:
      deprecated: false
      description: Export the full state of Otoroshi
      operationId: fullExport
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImportExport'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Export the full state of Otoroshi
      tags:
      - import
      x-accepts:
      - application/json
    post:
      deprecated: false
      description: Import the full state of Otoroshi
      operationId: fullImport
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImportExport'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Done'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Import the full state of Otoroshi
      tags:
      - import
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/scripts:
    get:
      deprecated: false
      description: Get all scripts
      operationId: findAllScripts
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Script'
                type: array
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Get all scripts
      tags:
      - scripts
      x-accepts:
      - application/json
    post:
      deprecated: false
      description: Create a new script
      operationId: createScript
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Script'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Script'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Create a new script
      tags:
      - scripts
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/scripts/_compile:
    post:
      deprecated: false
      description: Compile a script
      operationId: compileScript
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Script'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScriptCompilationResult'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Compile a script
      tags:
      - scripts
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/scripts/{scriptId}:
    delete:
      deprecated: false
      description: Delete a script
      operationId: deleteScript
      parameters:
      - description: The script id
        explode: false
        in: path
        name: scriptId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deleted'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Delete a script
      tags:
      - scripts
      x-accepts:
      - application/json
    get:
      deprecated: false
      description: Get a script
      operationId: findScriptById
      parameters:
      - description: The script id
        explode: false
        in: path
        name: scriptId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Script'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Get a script
      tags:
      - scripts
      x-accepts:
      - application/json
    patch:
      deprecated: false
      description: Update a script with a diff
      operationId: patchScript
      parameters:
      - description: The script id
        explode: false
        in: path
        name: scriptId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Patch'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Script'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Update a script with a diff
      tags:
      - scripts
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      deprecated: false
      description: Update a script
      operationId: updateScript
      parameters:
      - description: The script id
        explode: false
        in: path
        name: scriptId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Script'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Script'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Update a script
      tags:
      - scripts
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/services:
    get:
      deprecated: false
      description: Get all services
      operationId: allServices
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Service'
                type: array
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Get all services
      tags:
      - services
      x-accepts:
      - application/json
    post:
      deprecated: false
      description: Create a new service descriptor
      operationId: createService
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Service'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Service'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Create a new service descriptor
      tags:
      - services
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/services/{serviceId}:
    delete:
      deprecated: false
      description: Delete a service descriptor
      operationId: deleteService
      parameters:
      - description: The service id
        explode: false
        in: path
        name: serviceId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deleted'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Delete a service descriptor
      tags:
      - services
      x-accepts:
      - application/json
    get:
      deprecated: false
      description: Get a service descriptor
      operationId: service
      parameters:
      - description: The service id
        explode: false
        in: path
        name: serviceId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Service'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Get a service descriptor
      tags:
      - services
      x-accepts:
      - application/json
    patch:
      deprecated: false
      description: Update a service descriptor with a diff
      operationId: patchService
      parameters:
      - description: The service id
        explode: false
        in: path
        name: serviceId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Patch'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Service'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Update a service descriptor with a diff
      tags:
      - services
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      deprecated: false
      description: Update a service descriptor
      operationId: updateService
      parameters:
      - description: The service id
        explode: false
        in: path
        name: serviceId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Service'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Service'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Update a service descriptor
      tags:
      - services
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/services/{serviceId}/apikeys:
    get:
      deprecated: false
      description: Get all api keys for the group of a service
      operationId: apiKeys
      parameters:
      - description: The api key service id
        explode: false
        in: path
        name: serviceId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ApiKey'
                type: array
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Get all api keys for the group of a service
      tags:
      - apikeys
      x-accepts:
      - application/json
    post:
      deprecated: false
      description: ""
      operationId: createApiKey
      parameters:
      - description: The api key service id
        explode: false
        in: path
        name: serviceId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKey'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKey'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Create a new api key for a service
      tags:
      - apikeys
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/services/{serviceId}/apikeys/{clientId}:
    delete:
      deprecated: false
      description: Delete an api key for a specified service descriptor
      operationId: deleteApiKey
      parameters:
      - description: The api key service id
        explode: false
        in: path
        name: serviceId
        required: true
        schema:
          type: string
        style: simple
      - description: the api key id
        explode: false
        in: path
        name: clientId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deleted'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Delete an api key
      tags:
      - apikeys
      x-accepts:
      - application/json
    get:
      deprecated: false
      description: Get an api key for a specified service descriptor
      operationId: apiKey
      parameters:
      - description: The api key service id
        explode: false
        in: path
        name: serviceId
        required: true
        schema:
          type: string
        style: simple
      - description: the api key id
        explode: false
        in: path
        name: clientId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKey'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Get an api key
      tags:
      - apikeys
      x-accepts:
      - application/json
    patch:
      deprecated: false
      description: Update an api key for a specified service descriptor with a diff
      operationId: patchApiKey
      parameters:
      - description: The api key service id
        explode: false
        in: path
        name: serviceId
        required: true
        schema:
          type: string
        style: simple
      - description: the api key id
        explode: false
        in: path
        name: clientId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Patch'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKey'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Update an api key with a diff
      tags:
      - apikeys
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      deprecated: false
      description: Update an api key for a specified service descriptor
      operationId: updateApiKey
      parameters:
      - description: The api key service id
        explode: false
        in: path
        name: serviceId
        required: true
        schema:
          type: string
        style: simple
      - description: the api key id
        explode: false
        in: path
        name: clientId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKey'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKey'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Update an api key
      tags:
      - apikeys
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/services/{serviceId}/apikeys/{clientId}/group:
    get:
      deprecated: false
      description: Get the group of an api key
      operationId: apiKeyGroup
      parameters:
      - description: The api key service id
        explode: false
        in: path
        name: serviceId
        required: true
        schema:
          type: string
        style: simple
      - description: the api key id
        explode: false
        in: path
        name: clientId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Get the group of an api key
      tags:
      - apikeys
      x-accepts:
      - application/json
  /api/services/{serviceId}/apikeys/{clientId}/quotas:
    delete:
      deprecated: false
      description: Reset the quota state of an api key
      operationId: resetApiKeyQuotas
      parameters:
      - description: The api key service id
        explode: false
        in: path
        name: serviceId
        required: true
        schema:
          type: string
        style: simple
      - description: the api key id
        explode: false
        in: path
        name: clientId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Quotas'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Reset the quota state of an api key
      tags:
      - apikeys
      x-accepts:
      - application/json
    get:
      deprecated: false
      description: Get the quota state of an api key
      operationId: apiKeyQuotas
      parameters:
      - description: The api key service id
        explode: false
        in: path
        name: serviceId
        required: true
        schema:
          type: string
        style: simple
      - description: the api key id
        explode: false
        in: path
        name: clientId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Quotas'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Get the quota state of an api key
      tags:
      - apikeys
      x-accepts:
      - application/json
  /api/services/{serviceId}/targets:
    delete:
      deprecated: false
      description: Delete a service descriptor target
      operationId: serviceDeleteTarget
      parameters:
      - description: The service id
        explode: false
        in: path
        name: serviceId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Target'
                type: array
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Delete a service descriptor target
      tags:
      - services
      x-accepts:
      - application/json
    get:
      deprecated: false
      description: Get a service descriptor targets
      operationId: serviceTargets
      parameters:
      - description: The service id
        explode: false
        in: path
        name: serviceId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Target'
                type: array
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Get a service descriptor targets
      tags:
      - services
      x-accepts:
      - application/json
    patch:
      deprecated: false
      description: Update a service descriptor targets
      operationId: updateServiceTargets
      parameters:
      - description: The service id
        explode: false
        in: path
        name: serviceId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Patch'
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Target'
                type: array
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Update a service descriptor targets
      tags:
      - services
      x-content-type: application/json
      x-accepts:
      - application/json
    post:
      deprecated: false
      description: Add a target to a service descriptor
      operationId: serviceAddTarget
      parameters:
      - description: The service id
        explode: false
        in: path
        name: serviceId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Target'
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Target'
                type: array
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Add a target to a service descriptor
      tags:
      - services
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/services/{serviceId}/template:
    delete:
      deprecated: false
      description: Delete a service descriptor error template
      operationId: deleteServiceTemplate
      parameters:
      - description: The service id
        explode: false
        in: path
        name: serviceId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deleted'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Delete a service descriptor error template
      tags:
      - services
      x-accepts:
      - application/json
    get:
      deprecated: false
      description: Get a service descriptor error template
      operationId: serviceTemplate
      parameters:
      - description: The service id
        explode: false
        in: path
        name: serviceId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorTemplate'
          description: Successful operation
        "400":
          description: "Bad resource format. Take another look to the swagger, or\
            \ open an issue :)"
        "401":
          description: "You have to provide an Api Key. Api Key can be passed with\
            \ 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic\
            \ http authentication"
        "404":
          description: Resource not found or does not exist
      security:
      - otoroshi_auth: []
      summary: Get a service descriptor error template
      tags:
      - services
      x-accepts:
      - application/json
    post:
      deprecated: false
      description: Update a service descriptor targets
      operationId: createServiceTemplate
      parameters:
      - description: The service id
        explode: false
        in: path
        name: serviceId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ErrorTemplate'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorTemplate'
[...]
