openapi: 3.0.0
info:
  contact:
    x-twitter: nfldata
  title: Golf v2
  version: "1.0"
  x-apisguru-categories:
  - entertainment
  x-logo:
    url: https://twitter.com/nfldata/profile_image?size=original
  x-origin:
  - format: swagger
    url: https://fantasydata.com/downloads/swagger/golf-v2.json
    version: "2.0"
  x-providerName: sportsdata.io
  x-serviceName: golf-v2
servers:
- url: http://azure-api.sportsdata.io/golf/v2
- url: https://azure-api.sportsdata.io/golf/v2
security:
- apiKeyHeader: []
- apiKeyQuery: []
paths:
  /{format}/CurrentSeason:
    get:
      operationId: current_season
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Season'
          description: ""
      summary: Current Season
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/DfsSlatesByTournament/{tournamentid}:
    get:
      operationId: dfs_slates
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "The TournamentID of a tournament.  TournamentIDs can be found\
          \ in the Tournaments API.  Valid entries are <code>58</code>, <code>61</code>,\
          \ etc."
        explode: false
        in: path
        name: tournamentid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/DfsSlate'
                type: array
          description: ""
      summary: DFS Slates
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/Injuries:
    get:
      operationId: injuries
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Injury'
                type: array
          description: ""
      summary: Injuries
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/InjuriesByHistorical:
    get:
      operationId: injuries_historical
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Injury'
                type: array
          description: ""
      summary: Injuries (Historical)
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/Leaderboard/{tournamentid}:
    get:
      operationId: leaderboard
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "The TournamentID of a tournament.  TournamentIDs can be found\
          \ in the Tournaments API.  Valid entries are <code>58</code>, <code>61</code>,\
          \ etc."
        explode: false
        in: path
        name: tournamentid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Leaderboard'
          description: ""
      summary: Leaderboard
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/News:
    get:
      operationId: news
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/News'
                type: array
          description: ""
      summary: News
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/NewsByDate/{date}:
    get:
      operationId: news_by_date
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: |-
          The date of the game(s).
          <br>Examples: <code>2015-JUL-31</code>, <code>2015-SEP-01</code>.
        explode: false
        in: path
        name: date
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/News'
                type: array
          description: ""
      summary: News by Date
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/NewsByPlayerID/{playerid}:
    get:
      operationId: news_by_player
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: |-
          Unique FantasyData Player ID.
          Example:<code>40000019</code>.
        explode: false
        in: path
        name: playerid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/News'
                type: array
          description: ""
      summary: News by Player
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/Player/{playerid}:
    get:
      operationId: player
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: |-
          Unique FantasyData Player ID.
          Example:<code>40000019</code>.
        explode: false
        in: path
        name: playerid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Player'
          description: ""
      summary: Player
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/PlayerSeasonStats/{season}:
    get:
      operationId: player_season_stats_w_world_golf_rankings
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: |-
          Year of the season.
          <br>Examples: <code>2016</code>, <code>2017</code>.
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PlayerSeason'
                type: array
          description: ""
      summary: Player Season Stats (w/ World Golf Rankings)
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/PlayerTournamentProjectionStats/{tournamentid}:
    get:
      operationId: player_tournament_projected_stats_w_draftkings_salaries
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "The TournamentID of a tournament.  TournamentIDs can be found\
          \ in the Tournaments API.  Valid entries are <code>78</code>, <code>79</code>,\
          \ <code>80</code>, etc."
        explode: false
        in: path
        name: tournamentid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PlayerTournamentProjection'
                type: array
          description: ""
      summary: Player Tournament Projected Stats (w/ DraftKings Salaries)
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/PlayerTournamentStatsByPlayer/{tournamentid}/{playerid}:
    get:
      operationId: player_tournament_stats_by_player
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "The TournamentID of a tournament.  TournamentIDs can be found\
          \ in the Tournaments API.  Valid entries are <code>58</code>, <code>61</code>,\
          \ etc."
        explode: false
        in: path
        name: tournamentid
        required: true
        schema:
          type: string
        style: simple
      - description: |-
          Unique FantasyData Player ID.
          Example:<code>40000019</code>.
        explode: false
        in: path
        name: playerid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerTournament'
          description: ""
      summary: Player Tournament Stats By Player
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/Players:
    get:
      operationId: players
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Player'
                type: array
          description: ""
      summary: Players
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/Tournaments:
    get:
      operationId: schedule
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Tournament'
                type: array
          description: ""
      summary: Schedule
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/Tournaments/{season}:
    get:
      operationId: schedule_by_season
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: |-
          Year of the season.
          <br>Examples: <code>2016</code>, <code>2017</code>.
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Tournament'
                type: array
          description: ""
      summary: Schedule by Season
      x-openapi-router-controller: openapi_server.controllers.default_controller
components:
  schemas:
    DfsSlate:
      example:
        Operator: Operator
        OperatorDay: OperatorDay
        OperatorName: OperatorName
        IsMultiDaySlate: true
        SlateID: 5
        SlateRosterSlots:
        - SlateRosterSlots
        - SlateRosterSlots
        OperatorStartTime: OperatorStartTime
        RemovedByOperator: true
        NumberOfTournaments: 1
        OperatorGameType: OperatorGameType
        DfsSlatePlayers:
        - PlayerID: 6
          OperatorSalary: 0
          RemovedByOperator: true
          SlateTournamentID: 2
          OperatorRosterSlots:
          - OperatorRosterSlots
          - OperatorRosterSlots
          OperatorPosition: OperatorPosition
          OperatorSlatePlayerID: OperatorSlatePlayerID
          OperatorPlayerName: OperatorPlayerName
          SlateID: 5
          OperatorPlayerID: OperatorPlayerID
          SlatePlayerID: 5
          PlayerTournamentProjectionID: 1
        - PlayerID: 6
          OperatorSalary: 0
          RemovedByOperator: true
          SlateTournamentID: 2
          OperatorRosterSlots:
          - OperatorRosterSlots
          - OperatorRosterSlots
          OperatorPosition: OperatorPosition
          OperatorSlatePlayerID: OperatorSlatePlayerID
          OperatorPlayerName: OperatorPlayerName
          SlateID: 5
          OperatorPlayerID: OperatorPlayerID
          SlatePlayerID: 5
          PlayerTournamentProjectionID: 1
        OperatorSlateID: 4
        DfsSlateTournaments:
        - RemovedByOperator: true
          SlateTournamentID: 3
          SlateID: 9
          OperatorTournamentID: 7
          TournamentID: 7
          Tournament:
            Par: 2
            Purse: 4.145608029883936
            Venue: Venue
            Rounds:
            - Number: 7
              RoundID: 1
              TournamentID: 1
              Day: Day
            - Number: 7
              RoundID: 1
              TournamentID: 1
              Day: Day
            ZipCode: ZipCode
            SportRadarTournamentID: SportRadarTournamentID
            Yards: 6
            City: City
            EndDate: EndDate
            Covered: true
            Name: Name
            IsInProgress: true
            StartDate: StartDate
            IsOver: true
            TimeZone: TimeZone
            Format: Format
            StartDateTime: StartDateTime
            OddsCoverage: OddsCoverage
            State: State
            Country: Country
            TournamentID: 1
            Canceled: true
            Location: Location
        - RemovedByOperator: true
          SlateTournamentID: 3
          SlateID: 9
          OperatorTournamentID: 7
          TournamentID: 7
          Tournament:
            Par: 2
            Purse: 4.145608029883936
            Venue: Venue
            Rounds:
            - Number: 7
              RoundID: 1
              TournamentID: 1
              Day: Day
            - Number: 7
              RoundID: 1
              TournamentID: 1
              Day: Day
            ZipCode: ZipCode
            SportRadarTournamentID: SportRadarTournamentID
            Yards: 6
            City: City
            EndDate: EndDate
            Covered: true
            Name: Name
            IsInProgress: true
            StartDate: StartDate
            IsOver: true
            TimeZone: TimeZone
            Format: Format
            StartDateTime: StartDateTime
            OddsCoverage: OddsCoverage
            State: State
            Country: Country
            TournamentID: 1
            Canceled: true
            Location: Location
      properties:
        DfsSlatePlayers:
          items:
            $ref: '#/components/schemas/DfsSlatePlayer'
          title: DfsSlatePlayers
          type: array
        DfsSlateTournaments:
          items:
            $ref: '#/components/schemas/DfsSlateTournament'
          title: DfsSlateTournaments
          type: array
        IsMultiDaySlate:
          nullable: true
          title: IsMultiDaySlate
          type: boolean
        NumberOfTournaments:
          nullable: true
          title: NumberOfTournaments
          type: integer
        Operator:
          nullable: true
          title: Operator
          type: string
        OperatorDay:
          nullable: true
          title: OperatorDay
          type: string
        OperatorGameType:
          nullable: true
          title: OperatorGameType
          type: string
        OperatorName:
          nullable: true
          title: OperatorName
          type: string
        OperatorSlateID:
          nullable: true
          title: OperatorSlateID
          type: integer
        OperatorStartTime:
          nullable: true
          title: OperatorStartTime
          type: string
        RemovedByOperator:
          nullable: true
          title: RemovedByOperator
          type: boolean
        SlateID:
          nullable: false
          title: SlateID
          type: integer
        SlateRosterSlots:
          items:
            nullable: true
            type: string
          title: SlateRosterSlots
          type: array
      title: DfsSlate
    DfsSlatePlayer:
      example:
        PlayerID: 6
        OperatorSalary: 0
        RemovedByOperator: true
        SlateTournamentID: 2
        OperatorRosterSlots:
        - OperatorRosterSlots
        - OperatorRosterSlots
        OperatorPosition: OperatorPosition
        OperatorSlatePlayerID: OperatorSlatePlayerID
        OperatorPlayerName: OperatorPlayerName
        SlateID: 5
        OperatorPlayerID: OperatorPlayerID
        SlatePlayerID: 5
        PlayerTournamentProjectionID: 1
      properties:
        OperatorPlayerID:
          nullable: true
          title: OperatorPlayerID
          type: string
        OperatorPlayerName:
          nullable: true
          title: OperatorPlayerName
          type: string
        OperatorPosition:
          nullable: true
          title: OperatorPosition
          type: string
        OperatorRosterSlots:
          items:
            nullable: true
            type: string
          title: OperatorRosterSlots
          type: array
        OperatorSalary:
          nullable: true
          title: OperatorSalary
          type: integer
        OperatorSlatePlayerID:
          nullable: true
          title: OperatorSlatePlayerID
          type: string
        PlayerID:
          nullable: true
          title: PlayerID
          type: integer
        PlayerTournamentProjectionID:
          nullable: true
          title: PlayerTournamentProjectionID
          type: integer
        RemovedByOperator:
          nullable: true
          title: RemovedByOperator
          type: boolean
        SlateID:
          nullable: false
          title: SlateID
          type: integer
        SlatePlayerID:
          nullable: false
          title: SlatePlayerID
          type: integer
        SlateTournamentID:
          nullable: true
          title: SlateTournamentID
          type: integer
      title: DfsSlatePlayer
    DfsSlateTournament:
      example:
        RemovedByOperator: true
        SlateTournamentID: 3
        SlateID: 9
        OperatorTournamentID: 7
        TournamentID: 7
        Tournament:
          Par: 2
          Purse: 4.145608029883936
          Venue: Venue
          Rounds:
          - Number: 7
            RoundID: 1
            TournamentID: 1
            Day: Day
          - Number: 7
            RoundID: 1
            TournamentID: 1
            Day: Day
          ZipCode: ZipCode
          SportRadarTournamentID: SportRadarTournamentID
          Yards: 6
          City: City
          EndDate: EndDate
          Covered: true
          Name: Name
          IsInProgress: true
          StartDate: StartDate
          IsOver: true
          TimeZone: TimeZone
          Format: Format
          StartDateTime: StartDateTime
          OddsCoverage: OddsCoverage
          State: State
          Country: Country
          TournamentID: 1
          Canceled: true
          Location: Location
      properties:
        OperatorTournamentID:
          nullable: true
          title: OperatorTournamentID
          type: integer
        RemovedByOperator:
          nullable: true
          title: RemovedByOperator
          type: boolean
        SlateID:
          nullable: false
          title: SlateID
          type: integer
        SlateTournamentID:
          nullable: false
          title: SlateTournamentID
          type: integer
        Tournament:
          $ref: '#/components/schemas/Tournament'
        TournamentID:
          nullable: true
          title: TournamentID
          type: integer
      title: DfsSlateTournament
    Injury:
      example:
        StartDate: StartDate
        Status: Status
        BodyPart: BodyPart
        PlayerID: 6
        Active: true
        InjuryID: 0
        ExpectedReturn: ExpectedReturn
        Name: Name
      properties:
        Active:
          nullable: false
          title: Active
          type: boolean
        BodyPart:
          nullable: true
          title: BodyPart
          type: string
        ExpectedReturn:
          nullable: true
          title: ExpectedReturn
          type: string
        InjuryID:
          nullable: false
          title: InjuryID
          type: integer
        Name:
          nullable: true
          title: Name
          type: string
        PlayerID:
          nullable: false
          title: PlayerID
          type: integer
        StartDate:
          nullable: true
          title: StartDate
          type: string
        Status:
          nullable: true
          title: Status
          type: string
      title: Injury
    Leaderboard:
      example:
        Tournament:
          Par: 2
          Purse: 4.145608029883936
          Venue: Venue
          Rounds:
          - Number: 7
            RoundID: 1
            TournamentID: 1
            Day: Day
          - Number: 7
            RoundID: 1
            TournamentID: 1
            Day: Day
          ZipCode: ZipCode
          SportRadarTournamentID: SportRadarTournamentID
          Yards: 6
          City: City
          EndDate: EndDate
          Covered: true
          Name: Name
          IsInProgress: true
          StartDate: StartDate
          IsOver: true
          TimeZone: TimeZone
          Format: Format
          StartDateTime: StartDateTime
          OddsCoverage: OddsCoverage
          State: State
          Country: Country
          TournamentID: 1
          Canceled: true
          Location: Location
        Players:
        - PlayerID: 6
          BogeyFreeRounds: 6.027456183070403
          Rounds:
          - Par: 0
            IncludesStreakOfFourBirdiesOrBetter: true
            Bogeys: 3
            WorseThanTripleBogey: 5
            Eagles: 6
            DoubleBogeys: 2
            TripleBogeys: 3
            IncludesStreakOfThreeBirdiesOrBetter: true
            ConsecutiveBirdieOrBetterCount: 1.284659006116532
            Number: 6
            BogeyFree: true
            IncludesStreakOfSixBirdiesOrBetter: true
            IncludesFiveOrMoreBirdiesOrBetter: true
            Birdies: 6
            IncludesStreakOfFiveBirdiesOrBetter: true
            Score: 3
            LongestBirdieOrBetterStreak: 7.058770351582356
            DoubleEagles: 6
            BackNineStart: true
            Pars: 4
            PlayerTournamentID: 7
            WorseThanDoubleBogey: 7
            BounceBackCount: 6.965117697638846
            Holes:
            - Par: 3
              Birdie: true
              IsPar: true
              Score: 7
              Number: 6
              HoleInOne: true
              ToPar: 0
              DoubleEagle: true
              WorseThanDoubleBogey: true
              Bogey: true
              DoubleBogey: true
              PlayerRoundID: 3
              Eagle: true
            - Par: 3
              Birdie: true
              IsPar: true
              Score: 7
              Number: 6
              HoleInOne: true
              ToPar: 0
              DoubleEagle: true
              WorseThanDoubleBogey: true
              Bogey: true
              DoubleBogey: true
              PlayerRoundID: 3
              Eagle: true
            TeeTime: TeeTime
            PlayerRoundID: 8
            Day: Day
            HoleInOnes: 5
          - Par: 0
            IncludesStreakOfFourBirdiesOrBetter: true
            Bogeys: 3
            WorseThanTripleBogey: 5
            Eagles: 6
            DoubleBogeys: 2
            TripleBogeys: 3
            IncludesStreakOfThreeBirdiesOrBetter: true
            ConsecutiveBirdieOrBetterCount: 1.284659006116532
            Number: 6
            BogeyFree: true
            IncludesStreakOfSixBirdiesOrBetter: true
            IncludesFiveOrMoreBirdiesOrBetter: true
            Birdies: 6
            IncludesStreakOfFiveBirdiesOrBetter: true
            Score: 3
            LongestBirdieOrBetterStreak: 7.058770351582356
            DoubleEagles: 6
            BackNineStart: true
            Pars: 4
            PlayerTournamentID: 7
            WorseThanDoubleBogey: 7
            BounceBackCount: 6.965117697638846
            Holes:
            - Par: 3
              Birdie: true
              IsPar: true
              Score: 7
              Number: 6
              HoleInOne: true
              ToPar: 0
              DoubleEagle: true
              WorseThanDoubleBogey: true
              Bogey: true
              DoubleBogey: true
              PlayerRoundID: 3
              Eagle: true
            - Par: 3
              Birdie: true
              IsPar: true
              Score: 7
              Number: 6
              HoleInOne: true
              ToPar: 0
              DoubleEagle: true
              WorseThanDoubleBogey: true
              Bogey: true
              DoubleBogey: true
              PlayerRoundID: 3
              Eagle: true
            TeeTime: TeeTime
            PlayerRoundID: 8
            Day: Day
            HoleInOnes: 5
          Bogeys: 1.4658129805029452
          RoundsUnderSeventy: 3.2588565619047607
          WorseThanTripleBogey: 5.507386964179881
          Eagles: 3.616076749251911
          FantasyPointsYahoo: 7.457744773683766
          StreaksOfThreeBirdiesOrBetter: 1.041444916118296
          DoubleBogeys: 2.3021358869347655
          RoundsWithFiveOrMoreBirdiesOrBetter: 4.078845849666752
          TotalStrokes: 7.260521264802104
          DraftKingsSalary: 9
          Name: Name
          TripleBogeys: 9.702963800023566
          StreaksOfFourBirdiesOrBetter: 6.628464275087742
          StreaksOfSixBirdiesOrBetter: 4.258773108174356
          ConsecutiveBirdieOrBetterCount: 5.637376656633329
          FantasyPointsFantasyDraft: 6.84685269835264
          FedExPoints: 1
          TournamentID: 0
          TotalScore: 4.678947989005849
          FanDuelSalary: 4
          FantasyPoints: 1.2315135367772556
          Birdies: 0.8008281904610115
          OddsToWinDescription: OddsToWinDescription
          TournamentStatus: TournamentStatus
          TotalThrough: 9
          IsWithdrawn: true
          FantasyDraftSalary: 7
          FantasyPointsFanDuel: 1.4894159098541704
          IsAlternate: true
          Rank: 9
          OddsToWin: 9.965781217890562
          FantasyPointsDraftKings: 1.0246457001441578
          MadeCutDidNotFinish: true
          DoubleEagles: 7.061401241503109
          Pars: 9.369310271410669
          PlayerTournamentID: 8
          StreaksOfFiveBirdiesOrBetter: 0.2025324113236393
          WorseThanDoubleBogey: 7.933506881737151
          BounceBackCount: 5.962133916683182
          Country: Country
          TeeTime: TeeTime
          MadeCut: 5.025004791520295
          Earnings: 2.027123023002322
          Win: 0.5199002018724985
          HoleInOnes: 4.965218492984954
        - PlayerID: 6
          BogeyFreeRounds: 6.027456183070403
          Rounds:
          - Par: 0
            IncludesStreakOfFourBirdiesOrBetter: true
            Bogeys: 3
            WorseThanTripleBogey: 5
            Eagles: 6
            DoubleBogeys: 2
            TripleBogeys: 3
            IncludesStreakOfThreeBirdiesOrBetter: true
            ConsecutiveBirdieOrBetterCount: 1.284659006116532
            Number: 6
            BogeyFree: true
            IncludesStreakOfSixBirdiesOrBetter: true
            IncludesFiveOrMoreBirdiesOrBetter: true
            Birdies: 6
            IncludesStreakOfFiveBirdiesOrBetter: true
            Score: 3
            LongestBirdieOrBetterStreak: 7.058770351582356
            DoubleEagles: 6
            BackNineStart: true
            Pars: 4
            PlayerTournamentID: 7
            WorseThanDoubleBogey: 7
            BounceBackCount: 6.965117697638846
            Holes:
            - Par: 3
              Birdie: true
              IsPar: true
              Score: 7
              Number: 6
              HoleInOne: true
              ToPar: 0
              DoubleEagle: true
              WorseThanDoubleBogey: true
              Bogey: true
              DoubleBogey: true
              PlayerRoundID: 3
              Eagle: true
            - Par: 3
              Birdie: true
              IsPar: true
              Score: 7
              Number: 6
              HoleInOne: true
              ToPar: 0
              DoubleEagle: true
              WorseThanDoubleBogey: true
              Bogey: true
              DoubleBogey: true
              PlayerRoundID: 3
              Eagle: true
            TeeTime: TeeTime
            PlayerRoundID: 8
            Day: Day
            HoleInOnes: 5
          - Par: 0
            IncludesStreakOfFourBirdiesOrBetter: true
            Bogeys: 3
            WorseThanTripleBogey: 5
            Eagles: 6
            DoubleBogeys: 2
            TripleBogeys: 3
            IncludesStreakOfThreeBirdiesOrBetter: true
            ConsecutiveBirdieOrBetterCount: 1.284659006116532
            Number: 6
            BogeyFree: true
            IncludesStreakOfSixBirdiesOrBetter: true
            IncludesFiveOrMoreBirdiesOrBetter: true
            Birdies: 6
            IncludesStreakOfFiveBirdiesOrBetter: true
            Score: 3
            LongestBirdieOrBetterStreak: 7.058770351582356
            DoubleEagles: 6
            BackNineStart: true
            Pars: 4
            PlayerTournamentID: 7
            WorseThanDoubleBogey: 7
            BounceBackCount: 6.965117697638846
            Holes:
            - Par: 3
              Birdie: true
              IsPar: true
              Score: 7
              Number: 6
              HoleInOne: true
              ToPar: 0
              DoubleEagle: true
              WorseThanDoubleBogey: true
              Bogey: true
              DoubleBogey: true
              PlayerRoundID: 3
              Eagle: true
            - Par: 3
              Birdie: true
              IsPar: true
              Score: 7
              Number: 6
              HoleInOne: true
              ToPar: 0
              DoubleEagle: true
              WorseThanDoubleBogey: true
              Bogey: true
              DoubleBogey: true
              PlayerRoundID: 3
              Eagle: true
            TeeTime: TeeTime
            PlayerRoundID: 8
            Day: Day
            HoleInOnes: 5
          Bogeys: 1.4658129805029452
          RoundsUnderSeventy: 3.2588565619047607
          WorseThanTripleBogey: 5.507386964179881
          Eagles: 3.616076749251911
          FantasyPointsYahoo: 7.457744773683766
          StreaksOfThreeBirdiesOrBetter: 1.041444916118296
          DoubleBogeys: 2.3021358869347655
          RoundsWithFiveOrMoreBirdiesOrBetter: 4.078845849666752
          TotalStrokes: 7.260521264802104
          DraftKingsSalary: 9
          Name: Name
          TripleBogeys: 9.702963800023566
          StreaksOfFourBirdiesOrBetter: 6.628464275087742
          StreaksOfSixBirdiesOrBetter: 4.258773108174356
          ConsecutiveBirdieOrBetterCount: 5.637376656633329
          FantasyPointsFantasyDraft: 6.84685269835264
          FedExPoints: 1
          TournamentID: 0
          TotalScore: 4.678947989005849
          FanDuelSalary: 4
          FantasyPoints: 1.2315135367772556
          Birdies: 0.8008281904610115
          OddsToWinDescription: OddsToWinDescription
          TournamentStatus: TournamentStatus
          TotalThrough: 9
          IsWithdrawn: true
          FantasyDraftSalary: 7
          FantasyPointsFanDuel: 1.4894159098541704
          IsAlternate: true
          Rank: 9
          OddsToWin: 9.965781217890562
          FantasyPointsDraftKings: 1.0246457001441578
          MadeCutDidNotFinish: true
          DoubleEagles: 7.061401241503109
          Pars: 9.369310271410669
          PlayerTournamentID: 8
          StreaksOfFiveBirdiesOrBetter: 0.2025324113236393
          WorseThanDoubleBogey: 7.933506881737151
          BounceBackCount: 5.962133916683182
          Country: Country
          TeeTime: TeeTime
          MadeCut: 5.025004791520295
          Earnings: 2.027123023002322
          Win: 0.5199002018724985
          HoleInOnes: 4.965218492984954
      properties:
        Players:
          items:
            $ref: '#/components/schemas/PlayerTournament'
          title: Players
          type: array
        Tournament:
          $ref: '#/components/schemas/Tournament'
      title: Leaderboard
    News:
      example:
        PlayerID: 6
        OriginalSourceUrl: OriginalSourceUrl
        Updated: Updated
        Categories: Categories
        TermsOfUse: TermsOfUse
        Content: Content
        OriginalSource: OriginalSource
        Author: Author
        Title: Title
        Source: Source
        Url: Url
        NewsID: 0
      properties:
        Author:
          nullable: true
          title: Author
          type: string
        Categories:
          nullable: true
          title: Categories
          type: string
        Content:
          nullable: true
          title: Content
          type: string
        NewsID:
          nullable: false
          title: NewsID
          type: integer
        OriginalSource:
          nullable: true
          title: OriginalSource
          type: string
        OriginalSourceUrl:
          nullable: true
          title: OriginalSourceUrl
          type: string
        PlayerID:
          nullable: true
          title: PlayerID
          type: integer
        Source:
          nullable: true
          title: Source
          type: string
        TermsOfUse:
          nullable: true
          title: TermsOfUse
          type: string
        Title:
          nullable: true
          title: Title
          type: string
        Updated:
          nullable: true
          title: Updated
          type: string
        Url:
          nullable: true
          title: Url
          type: string
      title: News
    Player:
      example:
        PlayerID: 7
        FantasyDraftPlayerID: 5
        PgaDebut: 5
        FanDuelPlayerID: 6
        FirstName: FirstName
        BirthState: BirthState
        FanDuelName: FanDuelName
        DraftKingsName: DraftKingsName
        RotoworldPlayerID: 3
        Weight: 2
        PgaTourPlayerID: 2
        RotoWirePlayerID: 9
        FantasyAlarmPlayerID: 1
        SportRadarPlayerID: SportRadarPlayerID
        DraftKingsPlayerID: 0
        Swings: Swings
        BirthCity: BirthCity
        College: College
        Country: Country
        LastName: LastName
        PhotoUrl: PhotoUrl
        YahooPlayerID: 4
        BirthDate: BirthDate
        FantasyDraftName: FantasyDraftName
      properties:
        BirthCity:
          nullable: true
          title: BirthCity
          type: string
        BirthDate:
          nullable: true
          title: BirthDate
          type: string
        BirthState:
          nullable: true
          title: BirthState
          type: string
        College:
          nullable: true
          title: College
          type: string
        Country:
          nullable: true
          title: Country
          type: string
        DraftKingsName:
          nullable: true
          title: DraftKingsName
          type: string
        DraftKingsPlayerID:
          nullable: true
          title: DraftKingsPlayerID
          type: integer
        FanDuelName:
          nullable: true
          title: FanDuelName
          type: string
        FanDuelPlayerID:
          nullable: true
          title: FanDuelPlayerID
          type: integer
        FantasyAlarmPlayerID:
          nullable: true
          title: FantasyAlarmPlayerID
          type: integer
        FantasyDraftName:
          nullable: true
          title: FantasyDraftName
          type: string
        FantasyDraftPlayerID:
          nullable: true
          title: FantasyDraftPlayerID
          type: integer
        FirstName:
          nullable: true
          title: FirstName
          type: string
        LastName:
          nullable: true
          title: LastName
          type: string
        PgaDebut:
          nullable: true
          title: PgaDebut
          type: integer
        PgaTourPlayerID:
          nullable: true
          title: PgaTourPlayerID
          type: integer
        PhotoUrl:
          nullable: true
          title: PhotoUrl
          type: string
        PlayerID:
          nullable: false
          title: PlayerID
          type: integer
        RotoWirePlayerID:
          nullable: true
          title: RotoWirePlayerID
          type: integer
        RotoworldPlayerID:
          nullable: true
          title: RotoworldPlayerID
          type: integer
        SportRadarPlayerID:
          nullable: true
          title: SportRadarPlayerID
          type: string
        Swings:
          nullable: true
          title: Swings
          type: string
        Weight:
          nullable: true
          title: Weight
          type: integer
        YahooPlayerID:
          nullable: true
          title: YahooPlayerID
          type: integer
      title: Player
    PlayerHole:
      example:
        Par: 3
        Birdie: true
        IsPar: true
        Score: 7
        Number: 6
        HoleInOne: true
        ToPar: 0
        DoubleEagle: true
        WorseThanDoubleBogey: true
        Bogey: true
        DoubleBogey: true
        PlayerRoundID: 3
        Eagle: true
      properties:
        Birdie:
          nullable: false
          title: Birdie
          type: boolean
        Bogey:
          nullable: false
          title: Bogey
          type: boolean
        DoubleBogey:
          nullable: false
          title: DoubleBogey
          type: boolean
        DoubleEagle:
          nullable: false
          title: DoubleEagle
          type: boolean
        Eagle:
          nullable: false
          title: Eagle
          type: boolean
        HoleInOne:
          nullable: false
          title: HoleInOne
          type: boolean
        IsPar:
          nullable: false
          title: IsPar
          type: boolean
        Number:
          nullable: true
          title: Number
          type: integer
        Par:
          nullable: true
          title: Par
          type: integer
        PlayerRoundID:
          nullable: false
          title: PlayerRoundID
          type: integer
        Score:
          nullable: true
          title: Score
          type: integer
        ToPar:
          nullable: true
          title: ToPar
          type: integer
        WorseThanDoubleBogey:
          nullable: false
          title: WorseThanDoubleBogey
          type: boolean
      title: PlayerHole
    PlayerRound:
      example:
        Par: 0
        IncludesStreakOfFourBirdiesOrBetter: true
        Bogeys: 3
        WorseThanTripleBogey: 5
        Eagles: 6
        DoubleBogeys: 2
        TripleBogeys: 3
        IncludesStreakOfThreeBirdiesOrBetter: true
        ConsecutiveBirdieOrBetterCount: 1.284659006116532
        Number: 6
        BogeyFree: true
        IncludesStreakOfSixBirdiesOrBetter: true
        IncludesFiveOrMoreBirdiesOrBetter: true
        Birdies: 6
        IncludesStreakOfFiveBirdiesOrBetter: true
        Score: 3
        LongestBirdieOrBetterStreak: 7.058770351582356
        DoubleEagles: 6
        BackNineStart: true
        Pars: 4
        PlayerTournamentID: 7
        WorseThanDoubleBogey: 7
        BounceBackCount: 6.965117697638846
        Holes:
        - Par: 3
          Birdie: true
          IsPar: true
          Score: 7
          Number: 6
          HoleInOne: true
          ToPar: 0
          DoubleEagle: true
          WorseThanDoubleBogey: true
          Bogey: true
          DoubleBogey: true
          PlayerRoundID: 3
          Eagle: true
        - Par: 3
          Birdie: true
          IsPar: true
          Score: 7
          Number: 6
          HoleInOne: true
          ToPar: 0
          DoubleEagle: true
          WorseThanDoubleBogey: true
          Bogey: true
          DoubleBogey: true
          PlayerRoundID: 3
          Eagle: true
        TeeTime: TeeTime
        PlayerRoundID: 8
        Day: Day
        HoleInOnes: 5
      properties:
        BackNineStart:
          nullable: true
          title: BackNineStart
          type: boolean
        Birdies:
          nullable: true
          title: Birdies
          type: integer
        BogeyFree:
          nullable: false
          title: BogeyFree
          type: boolean
        Bogeys:
          nullable: true
          title: Bogeys
          type: integer
        BounceBackCount:
          nullable: true
          title: BounceBackCount
          type: number
        ConsecutiveBirdieOrBetterCount:
          nullable: true
          title: ConsecutiveBirdieOrBetterCount
          type: number
        Day:
          nullable: true
          title: Day
          type: string
        DoubleBogeys:
          nullable: true
          title: DoubleBogeys
          type: integer
        DoubleEagles:
          nullable: true
          title: DoubleEagles
          type: integer
        Eagles:
          nullable: true
          title: Eagles
          type: integer
        HoleInOnes:
          nullable: true
          title: HoleInOnes
          type: integer
        Holes:
          items:
            $ref: '#/components/schemas/PlayerHole'
          title: Holes
          type: array
        IncludesFiveOrMoreBirdiesOrBetter:
          nullable: false
          title: IncludesFiveOrMoreBirdiesOrBetter
          type: boolean
        IncludesStreakOfFiveBirdiesOrBetter:
          nullable: false
          title: IncludesStreakOfFiveBirdiesOrBetter
          type: boolean
        IncludesStreakOfFourBirdiesOrBetter:
          nullable: false
          title: IncludesStreakOfFourBirdiesOrBetter
          type: boolean
        IncludesStreakOfSixBirdiesOrBetter:
          nullable: false
          title: IncludesStreakOfSixBirdiesOrBetter
          type: boolean
        IncludesStreakOfThreeBirdiesOrBetter:
          nullable: false
          title: IncludesStreakOfThreeBirdiesOrBetter
          type: boolean
        LongestBirdieOrBetterStreak:
          nullable: true
          title: LongestBirdieOrBetterStreak
          type: number
        Number:
          nullable: true
          title: Number
          type: integer
        Par:
          nullable: true
          title: Par
          type: integer
        Pars:
          nullable: true
          title: Pars
          type: integer
        PlayerRoundID:
          nullable: false
          title: PlayerRoundID
          type: integer
        PlayerTournamentID:
          nullable: false
          title: PlayerTournamentID
          type: integer
        Score:
          nullable: true
          title: Score
          type: integer
        TeeTime:
          nullable: true
          title: TeeTime
          type: string
        TripleBogeys:
          nullable: true
          title: TripleBogeys
          type: integer
        WorseThanDoubleBogey:
          nullable: true
          title: WorseThanDoubleBogey
          type: integer
        WorseThanTripleBogey:
          nullable: true
          title: WorseThanTripleBogey
          type: integer
      title: PlayerRound
    PlayerSeason:
      example:
        PlayerID: 1
        AveragePoints: 0.8008281904610115
        WorldGolfRank: 3
        PointsLost: 2.3021358869347655
        Events: 6
        PointsGained: 5.637376656633329
        PlayerSeasonID: 5
        WorldGolfRankLastWeek: 2
        Season: 7
        TotalPoints: 9.301444243932576
        Name: Name
      properties:
        AveragePoints:
          nullable: true
          title: AveragePoints
          type: number
        Events:
          nullable: true
          title: Events
          type: integer
        Name:
          nullable: true
          title: Name
          type: string
        PlayerID:
          nullable: false
          title: PlayerID
          type: integer
        PlayerSeasonID:
          nullable: false
          title: PlayerSeasonID
          type: integer
        PointsGained:
          nullable: true
          title: PointsGained
          type: number
        PointsLost:
          nullable: true
          title: PointsLost
          type: number
        Season:
          nullable: false
          title: Season
          type: integer
        TotalPoints:
          nullable: true
          title: TotalPoints
          type: number
        WorldGolfRank:
          nullable: true
          title: WorldGolfRank
          type: integer
        WorldGolfRankLastWeek:
          nullable: true
          title: WorldGolfRankLastWeek
          type: integer
      title: PlayerSeason
    PlayerTournament:
      example:
        PlayerID: 6
        BogeyFreeRounds: 6.027456183070403
        Rounds:
        - Par: 0
          IncludesStreakOfFourBirdiesOrBetter: true
          Bogeys: 3
          WorseThanTripleBogey: 5
          Eagles: 6
          DoubleBogeys: 2
          TripleBogeys: 3
          IncludesStreakOfThreeBirdiesOrBetter: true
          ConsecutiveBirdieOrBetterCount: 1.284659006116532
          Number: 6
          BogeyFree: true
          IncludesStreakOfSixBirdiesOrBetter: true
          IncludesFiveOrMoreBirdiesOrBetter: true
          Birdies: 6
          IncludesStreakOfFiveBirdiesOrBetter: true
          Score: 3
          LongestBirdieOrBetterStreak: 7.058770351582356
          DoubleEagles: 6
          BackNineStart: true
          Pars: 4
          PlayerTournamentID: 7
          WorseThanDoubleBogey: 7
          BounceBackCount: 6.965117697638846
          Holes:
          - Par: 3
            Birdie: true
            IsPar: true
            Score: 7
            Number: 6
            HoleInOne: true
            ToPar: 0
            DoubleEagle: true
            WorseThanDoubleBogey: true
            Bogey: true
            DoubleBogey: true
            PlayerRoundID: 3
            Eagle: true
          - Par: 3
            Birdie: true
            IsPar: true
            Score: 7
            Number: 6
            HoleInOne: true
            ToPar: 0
            DoubleEagle: true
            WorseThanDoubleBogey: true
            Bogey: true
            DoubleBogey: true
            PlayerRoundID: 3
            Eagle: true
          TeeTime: TeeTime
          PlayerRoundID: 8
          Day: Day
          HoleInOnes: 5
        - Par: 0
          IncludesStreakOfFourBirdiesOrBetter: true
          Bogeys: 3
          WorseThanTripleBogey: 5
          Eagles: 6
          DoubleBogeys: 2
          TripleBogeys: 3
          IncludesStreakOfThreeBirdiesOrBetter: true
          ConsecutiveBirdieOrBetterCount: 1.284659006116532
          Number: 6
          BogeyFree: true
          IncludesStreakOfSixBirdiesOrBetter: true
          IncludesFiveOrMoreBirdiesOrBetter: true
          Birdies: 6
          IncludesStreakOfFiveBirdiesOrBetter: true
          Score: 3
          LongestBirdieOrBetterStreak: 7.058770351582356
          DoubleEagles: 6
          BackNineStart: true
          Pars: 4
          PlayerTournamentID: 7
          WorseThanDoubleBogey: 7
          BounceBackCount: 6.965117697638846
          Holes:
          - Par: 3
            Birdie: true
            IsPar: true
            Score: 7
            Number: 6
            HoleInOne: true
            ToPar: 0
            DoubleEagle: true
            WorseThanDoubleBogey: true
            Bogey: true
            DoubleBogey: true
            PlayerRoundID: 3
            Eagle: true
          - Par: 3
            Birdie: true
            IsPar: true
            Score: 7
            Number: 6
            HoleInOne: true
            ToPar: 0
            DoubleEagle: true
            WorseThanDoubleBogey: true
            Bogey: true
            DoubleBogey: true
            PlayerRoundID: 3
            Eagle: true
          TeeTime: TeeTime
          PlayerRoundID: 8
          Day: Day
          HoleInOnes: 5
        Bogeys: 1.4658129805029452
        RoundsUnderSeventy: 3.2588565619047607
        WorseThanTripleBogey: 5.507386964179881
        Eagles: 3.616076749251911
        FantasyPointsYahoo: 7.457744773683766
        StreaksOfThreeBirdiesOrBetter: 1.041444916118296
        DoubleBogeys: 2.3021358869347655
        RoundsWithFiveOrMoreBirdiesOrBetter: 4.078845849666752
        TotalStrokes: 7.260521264802104
        DraftKingsSalary: 9
        Name: Name
        TripleBogeys: 9.702963800023566
        StreaksOfFourBirdiesOrBetter: 6.628464275087742
        StreaksOfSixBirdiesOrBetter: 4.258773108174356
        ConsecutiveBirdieOrBetterCount: 5.637376656633329
        FantasyPointsFantasyDraft: 6.84685269835264
        FedExPoints: 1
        TournamentID: 0
        TotalScore: 4.678947989005849
        FanDuelSalary: 4
        FantasyPoints: 1.2315135367772556
        Birdies: 0.8008281904610115
        OddsToWinDescription: OddsToWinDescription
        TournamentStatus: TournamentStatus
        TotalThrough: 9
        IsWithdrawn: true
        FantasyDraftSalary: 7
        FantasyPointsFanDuel: 1.4894159098541704
        IsAlternate: true
        Rank: 9
        OddsToWin: 9.965781217890562
        FantasyPointsDraftKings: 1.0246457001441578
        MadeCutDidNotFinish: true
        DoubleEagles: 7.061401241503109
        Pars: 9.369310271410669
        PlayerTournamentID: 8
        StreaksOfFiveBirdiesOrBetter: 0.2025324113236393
        WorseThanDoubleBogey: 7.933506881737151
        BounceBackCount: 5.962133916683182
        Country: Country
        TeeTime: TeeTime
        MadeCut: 5.025004791520295
        Earnings: 2.027123023002322
        Win: 0.5199002018724985
        HoleInOnes: 4.965218492984954
      properties:
        Birdies:
          nullable: true
          title: Birdies
          type: number
        BogeyFreeRounds:
          nullable: true
          title: BogeyFreeRounds
          type: number
        Bogeys:
          nullable: true
          title: Bogeys
          type: number
        BounceBackCount:
          nullable: true
          title: BounceBackCount
          type: number
        ConsecutiveBirdieOrBetterCount:
          nullable: true
          title: ConsecutiveBirdieOrBetterCount
          type: number
        Country:
          nullable: true
          title: Country
          type: string
        DoubleBogeys:
          nullable: true
          title: DoubleBogeys
          type: number
        DoubleEagles:
          nullable: true
          title: DoubleEagles
          type: number
        DraftKingsSalary:
          nullable: true
          title: DraftKingsSalary
          type: integer
        Eagles:
          nullable: true
          title: Eagles
          type: number
        Earnings:
          nullable: true
          title: Earnings
          type: number
        FanDuelSalary:
          nullable: true
          title: FanDuelSalary
          type: integer
        FantasyDraftSalary:
          nullable: true
          title: FantasyDraftSalary
          type: integer
        FantasyPoints:
          nullable: true
          title: FantasyPoints
          type: number
        FantasyPointsDraftKings:
          nullable: true
          title: FantasyPointsDraftKings
          type: number
        FantasyPointsFanDuel:
          nullable: true
          title: FantasyPointsFanDuel
          type: number
        FantasyPointsFantasyDraft:
          nullable: true
          title: FantasyPointsFantasyDraft
          type: number
        FantasyPointsYahoo:
          nullable: true
          title: FantasyPointsYahoo
          type: number
        FedExPoints:
          nullable: true
          title: FedExPoints
          type: integer
        HoleInOnes:
          nullable: true
          title: HoleInOnes
          type: number
        IsAlternate:
          nullable: true
          title: IsAlternate
          type: boolean
        IsWithdrawn:
          nullable: false
          title: IsWithdrawn
          type: boolean
        MadeCut:
          nullable: true
          title: MadeCut
          type: number
        MadeCutDidNotFinish:
          nullable: true
          title: MadeCutDidNotFinish
          type: boolean
        Name:
          nullable: true
          title: Name
          type: string
        OddsToWin:
          nullable: true
          title: OddsToWin
          type: number
        OddsToWinDescription:
          nullable: true
          title: OddsToWinDescription
          type: string
        Pars:
          nullable: true
          title: Pars
          type: number
        PlayerID:
          nullable: false
          title: PlayerID
          type: integer
        PlayerTournamentID:
          nullable: false
          title: PlayerTournamentID
          type: integer
        Rank:
          nullable: true
          title: Rank
          type: integer
        Rounds:
          items:
            $ref: '#/components/schemas/PlayerRound'
          title: Rounds
          type: array
        RoundsUnderSeventy:
          nullable: true
          title: RoundsUnderSeventy
          type: number
        RoundsWithFiveOrMoreBirdiesOrBetter:
          nullable: true
          title: RoundsWithFiveOrMoreBirdiesOrBetter
          type: number
        StreaksOfFiveBirdiesOrBetter:
          nullable: true
          title: StreaksOfFiveBirdiesOrBetter
          type: number
        StreaksOfFourBirdiesOrBetter:
          nullable: true
          title: StreaksOfFourBirdiesOrBetter
          type: number
        StreaksOfSixBirdiesOrBetter:
          nullable: true
          title: StreaksOfSixBirdiesOrBetter
          type: number
        StreaksOfThreeBirdiesOrBetter:
          nullable: true
          title: StreaksOfThreeBirdiesOrBetter
          type: number
        TeeTime:
          nullable: true
          title: TeeTime
          type: string
        TotalScore:
          nullable: true
          title: TotalScore
          type: number
        TotalStrokes:
          nullable: true
          title: TotalStrokes
          type: number
        TotalThrough:
          nullable: true
          title: TotalThrough
          type: integer
        TournamentID:
          nullable: false
          title: TournamentID
          type: integer
        TournamentStatus:
          nullable: true
          title: TournamentStatus
          type: string
        TripleBogeys:
          nullable: true
          title: TripleBogeys
          type: number
        Win:
          nullable: true
          title: Win
          type: number
        WorseThanDoubleBogey:
          nullable: true
          title: WorseThanDoubleBogey
          type: number
        WorseThanTripleBogey:
          nullable: true
          title: WorseThanTripleBogey
          type: number
      title: PlayerTournament
    PlayerTournamentProjection:
      example:
        PlayerID: 6
        BogeyFreeRounds: 6.027456183070403
        Rounds:
        - Par: 0
          IncludesStreakOfFourBirdiesOrBetter: true
          Bogeys: 3
          WorseThanTripleBogey: 5
          Eagles: 6
          DoubleBogeys: 2
          TripleBogeys: 3
          IncludesStreakOfThreeBirdiesOrBetter: true
          ConsecutiveBirdieOrBetterCount: 1.284659006116532
          Number: 6
          BogeyFree: true
          IncludesStreakOfSixBirdiesOrBetter: true
          IncludesFiveOrMoreBirdiesOrBetter: true
          Birdies: 6
          IncludesStreakOfFiveBirdiesOrBetter: true
          Score: 3
          LongestBirdieOrBetterStreak: 7.058770351582356
          DoubleEagles: 6
          BackNineStart: true
          Pars: 4
          PlayerTournamentID: 7
          WorseThanDoubleBogey: 7
          BounceBackCount: 6.965117697638846
          Holes:
          - Par: 3
            Birdie: true
            IsPar: true
            Score: 7
            Number: 6
            HoleInOne: true
            ToPar: 0
            DoubleEagle: true
            WorseThanDoubleBogey: true
            Bogey: true
            DoubleBogey: true
            PlayerRoundID: 3
            Eagle: true
          - Par: 3
            Birdie: true
            IsPar: true
            Score: 7
            Number: 6
            HoleInOne: true
            ToPar: 0
            DoubleEagle: true
            WorseThanDoubleBogey: true
            Bogey: true
            DoubleBogey: true
            PlayerRoundID: 3
            Eagle: true
          TeeTime: TeeTime
          PlayerRoundID: 8
          Day: Day
          HoleInOnes: 5
        - Par: 0
          IncludesStreakOfFourBirdiesOrBetter: true
          Bogeys: 3
          WorseThanTripleBogey: 5
          Eagles: 6
          DoubleBogeys: 2
          TripleBogeys: 3
          IncludesStreakOfThreeBirdiesOrBetter: true
          ConsecutiveBirdieOrBetterCount: 1.284659006116532
          Number: 6
          BogeyFree: true
          IncludesStreakOfSixBirdiesOrBetter: true
          IncludesFiveOrMoreBirdiesOrBetter: true
          Birdies: 6
          IncludesStreakOfFiveBirdiesOrBetter: true
          Score: 3
          LongestBirdieOrBetterStreak: 7.058770351582356
          DoubleEagles: 6
          BackNineStart: true
          Pars: 4
          PlayerTournamentID: 7
          WorseThanDoubleBogey: 7
          BounceBackCount: 6.965117697638846
          Holes:
          - Par: 3
            Birdie: true
            IsPar: true
            Score: 7
            Number: 6
            HoleInOne: true
            ToPar: 0
            DoubleEagle: true
            WorseThanDoubleBogey: true
            Bogey: true
            DoubleBogey: true
            PlayerRoundID: 3
            Eagle: true
          - Par: 3
            Birdie: true
            IsPar: true
            Score: 7
            Number: 6
            HoleInOne: true
            ToPar: 0
            DoubleEagle: true
            WorseThanDoubleBogey: true
            Bogey: true
            DoubleBogey: true
            PlayerRoundID: 3
            Eagle: true
          TeeTime: TeeTime
          PlayerRoundID: 8
          Day: Day
          HoleInOnes: 5
        Bogeys: 1.4658129805029452
        RoundsUnderSeventy: 6.438423552598547
        WorseThanTripleBogey: 7.058770351582356
        Eagles: 3.616076749251911
        FantasyPointsYahoo: 7.457744773683766
        StreaksOfThreeBirdiesOrBetter: 6.778324963048013
        DoubleBogeys: 2.3021358869347655
        RoundsWithFiveOrMoreBirdiesOrBetter: 3.5571952270680973
        TotalStrokes: 5.944895607614016
        DraftKingsSalary: 9
        Name: Name
        TripleBogeys: 3.0937452626664474
        StreaksOfFourBirdiesOrBetter: 1.284659006116532
        StreaksOfSixBirdiesOrBetter: 2.8841621266687802
        ConsecutiveBirdieOrBetterCount: 5.637376656633329
        FantasyPointsFantasyDraft: 6.84685269835264
        FedExPoints: 1
        TournamentID: 3
        TotalScore: 6.878052220127876
        FanDuelSalary: 4
        FantasyPoints: 1.2315135367772556
        Birdies: 0.8008281904610115
        OddsToWinDescription: OddsToWinDescription
        TournamentStatus: TournamentStatus
        TotalThrough: 6
        IsWithdrawn: true
        FantasyDraftSalary: 7
        FantasyPointsFanDuel: 1.4894159098541704
        IsAlternate: true
        Rank: 9
        OddsToWin: 9.965781217890562
        FantasyPointsDraftKings: 1.0246457001441578
        MadeCutDidNotFinish: true
        DoubleEagles: 7.061401241503109
        Pars: 9.369310271410669
        PlayerTournamentID: 8
        StreaksOfFiveBirdiesOrBetter: 6.965117697638846
        WorseThanDoubleBogey: 0.8851374739011653
        BounceBackCount: 5.962133916683182
        Country: Country
        TeeTime: TeeTime
        MadeCut: 5.025004791520295
        Earnings: 2.027123023002322
        Win: 7.143538047012306
        HoleInOnes: 4.965218492984954
      properties:
        Birdies:
          nullable: true
          title: Birdies
          type: number
        BogeyFreeRounds:
          nullable: true
          title: BogeyFreeRounds
          type: number
        Bogeys:
          nullable: true
          title: Bogeys
          type: number
        BounceBackCount:
          nullable: true
          title: BounceBackCount
          type: number
        ConsecutiveBirdieOrBetterCount:
          nullable: true
          title: ConsecutiveBirdieOrBetterCount
          type: number
        Country:
          nullable: true
          title: Country
          type: string
        DoubleBogeys:
          nullable: true
          title: DoubleBogeys
          type: number
        DoubleEagles:
          nullable: true
          title: DoubleEagles
          type: number
        DraftKingsSalary:
          nullable: true
          title: DraftKingsSalary
          type: integer
        Eagles:
          nullable: true
          title: Eagles
          type: number
        Earnings:
          nullable: true
          title: Earnings
          type: number
        FanDuelSalary:
          nullable: true
          title: FanDuelSalary
          type: integer
        FantasyDraftSalary:
          nullable: true
          title: FantasyDraftSalary
          type: integer
        FantasyPoints:
          nullable: true
          title: FantasyPoints
          type: number
        FantasyPointsDraftKings:
          nullable: true
          title: FantasyPointsDraftKings
          type: number
        FantasyPointsFanDuel:
          nullable: true
          title: FantasyPointsFanDuel
          type: number
        FantasyPointsFantasyDraft:
          nullable: true
          title: FantasyPointsFantasyDraft
          type: number
        FantasyPointsYahoo:
          nullable: true
          title: FantasyPointsYahoo
          type: number
        FedExPoints:
          nullable: true
          title: FedExPoints
          type: integer
        HoleInOnes:
          nullable: true
          title: HoleInOnes
          type: number
        IsAlternate:
          nullable: true
          title: IsAlternate
          type: boolean
        IsWithdrawn:
          nullable: false
          title: IsWithdrawn
          type: boolean
        MadeCut:
          nullable: true
          title: MadeCut
          type: number
        MadeCutDidNotFinish:
          nullable: true
          title: MadeCutDidNotFinish
          type: boolean
        Name:
          nullable: true
          title: Name
          type: string
        OddsToWin:
          nullable: true
          title: OddsToWin
          type: number
        OddsToWinDescription:
          nullable: true
          title: OddsToWinDescription
          type: string
        Pars:
          nullable: true
          title: Pars
          type: number
        PlayerID:
          nullable: false
          title: PlayerID
          type: integer
        PlayerTournamentID:
          nullable: false
          title: PlayerTournamentID
          type: integer
        Rank:
          nullable: true
          title: Rank
          type: integer
        Rounds:
          items:
            $ref: '#/components/schemas/PlayerRound'
          title: Rounds
          type: array
        RoundsUnderSeventy:
          nullable: true
          title: RoundsUnderSeventy
          type: number
        RoundsWithFiveOrMoreBirdiesOrBetter:
          nullable: true
          title: RoundsWithFiveOrMoreBirdiesOrBetter
          type: number
        StreaksOfFiveBirdiesOrBetter:
          nullable: true
          title: StreaksOfFiveBirdiesOrBetter
          type: number
        StreaksOfFourBirdiesOrBetter:
          nullable: true
          title: StreaksOfFourBirdiesOrBetter
          type: number
        StreaksOfSixBirdiesOrBetter:
          nullable: true
          title: StreaksOfSixBirdiesOrBetter
          type: number
        StreaksOfThreeBirdiesOrBetter:
          nullable: true
          title: StreaksOfThreeBirdiesOrBetter
          type: number
        TeeTime:
          nullable: true
          title: TeeTime
          type: string
        TotalScore:
          nullable: true
          title: TotalScore
          type: number
        TotalStrokes:
          nullable: true
          title: TotalStrokes
          type: number
        TotalThrough:
          nullable: true
          title: TotalThrough
          type: integer
        TournamentID:
          nullable: false
          title: TournamentID
          type: integer
        TournamentStatus:
          nullable: true
          title: TournamentStatus
          type: string
        TripleBogeys:
          nullable: true
          title: TripleBogeys
          type: number
        Win:
          nullable: true
          title: Win
          type: number
        WorseThanDoubleBogey:
          nullable: true
          title: WorseThanDoubleBogey
          type: number
        WorseThanTripleBogey:
          nullable: true
          title: WorseThanTripleBogey
          type: number
      title: PlayerTournamentProjection
    Round:
      example:
        Number: 7
        RoundID: 1
        TournamentID: 1
        Day: Day
      properties:
        Day:
          nullable: true
          title: Day
          type: string
        Number:
          nullable: true
          title: Number
          type: integer
        RoundID:
          nullable: false
          title: RoundID
          type: integer
        TournamentID:
          nullable: false
          title: TournamentID
          type: integer
      title: Round
    Season:
      example:
        StartDate: StartDate
        Description: Description
        SeasonID: 0
        EndDate: EndDate
      properties:
        Description:
          nullable: true
          title: Description
          type: string
        EndDate:
          nullable: true
          title: EndDate
          type: string
        SeasonID:
          nullable: false
          title: SeasonID
          type: integer
        StartDate:
          nullable: true
          title: StartDate
          type: string
      title: Season
    Tournament:
      example:
        Par: 2
        Purse: 4.145608029883936
        Venue: Venue
        Rounds:
        - Number: 7
          RoundID: 1
          TournamentID: 1
          Day: Day
        - Number: 7
          RoundID: 1
          TournamentID: 1
          Day: Day
        ZipCode: ZipCode
        SportRadarTournamentID: SportRadarTournamentID
        Yards: 6
        City: City
        EndDate: EndDate
        Covered: true
        Name: Name
        IsInProgress: true
        StartDate: StartDate
        IsOver: true
        TimeZone: TimeZone
        Format: Format
        StartDateTime: StartDateTime
        OddsCoverage: OddsCoverage
        State: State
        Country: Country
        TournamentID: 1
        Canceled: true
        Location: Location
      properties:
        Canceled:
          nullable: true
          title: Canceled
          type: boolean
        City:
          nullable: true
          title: City
          type: string
        Country:
          nullable: true
          title: Country
          type: string
        Covered:
          nullable: true
          title: Covered
          type: boolean
        EndDate:
          nullable: true
          title: EndDate
          type: string
        Format:
          nullable: true
          title: Format
          type: string
        IsInProgress:
          nullable: false
          title: IsInProgress
          type: boolean
        IsOver:
          nullable: false
          title: IsOver
          type: boolean
        Location:
          nullable: true
          title: Location
          type: string
        Name:
          nullable: true
          title: Name
          type: string
        OddsCoverage:
          nullable: true
          title: OddsCoverage
          type: string
        Par:
          nullable: true
          title: Par
          type: integer
        Purse:
          nullable: true
          title: Purse
          type: number
        Rounds:
          items:
            $ref: '#/components/schemas/Round'
          title: Rounds
          type: array
        SportRadarTournamentID:
          nullable: true
          title: SportRadarTournamentID
          type: string
        StartDate:
          nullable: true
          title: StartDate
          type: string
        StartDateTime:
          nullable: true
          title: StartDateTime
          type: string
        State:
          nullable: true
          title: State
          type: string
        TimeZone:
          nullable: true
          title: TimeZone
          type: string
        TournamentID:
          nullable: false
          title: TournamentID
          type: integer
        Venue:
          nullable: true
          title: Venue
          type: string
        Yards:
          nullable: true
          title: Yards
          type: integer
        ZipCode:
          nullable: true
          title: ZipCode
          type: string
      title: Tournament
  securitySchemes:
    apiKeyHeader:
      in: header
      name: Ocp-Apim-Subscription-Key
      type: apiKey
      x-apikeyInfoFunc: openapi_server.controllers.security_controller.info_from_apiKeyHeader
    apiKeyQuery:
      in: query
      name: key
      type: apiKey
      x-apikeyInfoFunc: openapi_server.controllers.security_controller.info_from_apiKeyQuery
