openapi: 3.0.1
info:
  contact:
    email: support@twilio.com
    name: Twilio Support
    url: https://support.twilio.com
  description: This is the public Twilio REST API.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://www.twilio.com/legal/tos
  title: Twilio - Conversations
  version: 1.55.0
  x-apisguru-categories:
  - telecom
  - messaging
  x-logo:
    url: https://static1.twilio.com/marketing/bundles/marketing/img/logos/wordmark-red.svg
  x-origin:
  - format: openapi
    url: https://raw.githubusercontent.com/twilio/twilio-oai/main/spec/json/twilio_conversations_v1.json
    version: "3.0"
  x-providerName: twilio.com
  x-serviceName: twilio_conversations_v1
servers:
- url: https://conversations.twilio.com
tags:
- name: ConversationsV1AddressConfiguration
- name: ConversationsV1Binding
- name: ConversationsV1Configuration
- name: ConversationsV1Conversation
- name: ConversationsV1Credential
- name: ConversationsV1DeliveryReceipt
- name: ConversationsV1Message
- name: ConversationsV1Notification
- name: ConversationsV1Participant
- name: ConversationsV1ParticipantConversation
- name: ConversationsV1Role
- name: ConversationsV1Service
- name: ConversationsV1User
- name: ConversationsV1UserConversation
- name: ConversationsV1Webhook
paths:
  /v1/Configuration:
    description: The Configuration resource manages a set of account-level settings
      applicable to the Conversations API.
    get:
      description: Fetch the global configuration of conversations on your account
      operationId: fetch_configuration
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conversations.v1.configuration'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - ConversationsV1Configuration
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.conversations_v1_configuration_controller
    post:
      description: Update the global configuration of conversations on your account
      operationId: update_configuration
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateConfigurationRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conversations.v1.configuration'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - ConversationsV1Configuration
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.conversations_v1_configuration_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://conversations.twilio.com
    x-twilio:
      defaultOutputProperties:
      - account_sid
      - default_chat_service_sid
      - default_messaging_service_sid
      pathType: instance
  /v1/Configuration/Addresses:
    description: Address Configuration resource manages the configurations related
      to a unique address within Conversations
    get:
      description: Retrieve a list of address configurations for an account
      operationId: list_configuration_address
      parameters:
      - description: "Filter the address configurations by its type. This value can\
          \ be one of: `whatsapp`, `sms`."
        explode: true
        in: query
        name: Type
        required: false
        schema:
          type: string
        style: form
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListConfigurationAddressResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - ConversationsV1AddressConfiguration
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.conversations_v1_address_configuration_controller
    post:
      description: Create a new address configuration
      operationId: create_configuration_address
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateConfigurationAddressRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conversations.v1.configuration_address'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - ConversationsV1AddressConfiguration
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.conversations_v1_address_configuration_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://conversations.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - type
      - address
      - friendly_name
      mountName: address_configurations
      pathType: list
  /v1/Configuration/Addresses/{Sid}:
    delete:
      description: Remove an existing address configuration
      operationId: delete_configuration_address
      parameters:
      - description: The SID of the Address Configuration resource. This value can
          be either the `sid` or the `address` of the configuration
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - ConversationsV1AddressConfiguration
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.conversations_v1_address_configuration_controller
    description: Address Configuration resource manages the configurations related
      to a unique address within Conversations
    get:
      description: 'Fetch an address configuration '
      operationId: fetch_configuration_address
      parameters:
      - description: The SID of the Address Configuration resource. This value can
          be either the `sid` or the `address` of the configuration
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conversations.v1.configuration_address'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - ConversationsV1AddressConfiguration
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.conversations_v1_address_configuration_controller
    post:
      description: Update an existing address configuration
      operationId: update_configuration_address
      parameters:
      - description: The SID of the Address Configuration resource. This value can
          be either the `sid` or the `address` of the configuration
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateConfigurationAddressRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conversations.v1.configuration_address'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - ConversationsV1AddressConfiguration
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.conversations_v1_address_configuration_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://conversations.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - type
      - address
      - friendly_name
      mountName: address_configurations
      pathType: instance
  /v1/Configuration/Webhooks:
    description: A Webhook resource manages a service-level set of callback URLs and
      their configuration for receiving all conversation events.
    get:
      description: ""
      operationId: fetch_configuration_webhook
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conversations.v1.configuration.configuration_webhook'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - ConversationsV1Webhook
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.conversations_v1_webhook_controller
    post:
      description: ""
      operationId: update_configuration_webhook
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateConfigurationWebhookRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conversations.v1.configuration.configuration_webhook'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - ConversationsV1Webhook
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.conversations_v1_webhook_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://conversations.twilio.com
    x-twilio:
      defaultOutputProperties:
      - target
      - method
      - pre_webhook_url
      - post_webhook_url
      parent: /Configuration
      pathType: instance
  /v1/Conversations:
    description: A Conversation resource represents an omnichannel group conversation
      with an ordered list of messages and a participant roster.
    get:
      description: Retrieve a list of conversations in your account's default service
      operationId: list_conversation
      parameters:
      - description: "Start date or time in ISO8601 format for filtering list of Conversations.\
          \ If a date is provided, the start time of the date is used (YYYY-MM-DDT00:00:00Z).\
          \ Can be combined with other filters."
        explode: true
        in: query
        name: StartDate
        required: false
        schema:
          type: string
        style: form
      - description: "End date or time in ISO8601 format for filtering list of Conversations.\
          \ If a date is provided, the end time of the date is used (YYYY-MM-DDT23:59:59Z).\
          \ Can be combined with other filters."
        explode: true
        in: query
        name: EndDate
        required: false
        schema:
          type: string
        style: form
      - description: "State for sorting and filtering list of Conversations. Can be\
          \ `active`, `inactive` or `closed`"
        explode: true
        in: query
        name: State
        required: false
        schema:
          $ref: '#/components/schemas/conversation_enum_state'
        style: form
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListConversationResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - ConversationsV1Conversation
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.conversations_v1_conversation_controller
    post:
      description: Create a new conversation in your account's default service
      operationId: create_conversation
      parameters:
      - description: The X-Twilio-Webhook-Enabled HTTP request header
        explode: false
        in: header
        name: X-Twilio-Webhook-Enabled
        required: false
        schema:
          $ref: '#/components/schemas/conversation_enum_webhook_enabled_type'
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateConversationRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conversations.v1.conversation'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - ConversationsV1Conversation
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.conversations_v1_conversation_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://conversations.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - chat_service_sid
      - friendly_name
      - date_created
      dependentProperties:
        messages:
          mapping:
            conversation_sid: sid
          resource_url: "/v1/Conversations/{conversation_sid}/Messages"
        participants:
          mapping:
            conversation_sid: sid
          resource_url: "/v1/Conversations/{conversation_sid}/Participants"
        webhooks:
          mapping:
            conversation_sid: sid
          resource_url: "/v1/Conversations/{conversation_sid}/Webhooks"
      pathType: list
  /v1/Conversations/{ConversationSid}/Messages:
    description: A Message resource represents a message in a conversation.
    get:
      description: Retrieve a list of all messages in the conversation
      operationId: list_conversation_message
      parameters:
      - description: "The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource)\
          \ for messages."
        explode: false
        in: path
        name: ConversationSid
        required: true
        schema:
          type: string
        style: simple
      - description: "The sort order of the returned messages. Can be: `asc` (ascending)\
          \ or `desc` (descending), with `asc` as the default."
        explode: true
        in: query
        name: Order
        required: false
        schema:
          $ref: '#/components/schemas/conversation_message_enum_order_type'
        style: form
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListConversationMessageResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - ConversationsV1Message
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.conversations_v1_message_controller
    post:
      description: Add a new message to the conversation
      operationId: create_conversation_message
      parameters:
      - description: "The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource)\
          \ for this message."
        explode: false
        in: path
        name: ConversationSid
        required: true
        schema:
          type: string
        style: simple
      - description: The X-Twilio-Webhook-Enabled HTTP request header
        explode: false
        in: header
        name: X-Twilio-Webhook-Enabled
        required: false
        schema:
          $ref: '#/components/schemas/conversation_message_enum_webhook_enabled_type'
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateConversationMessageRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conversations.v1.conversation.conversation_message'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - ConversationsV1Message
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.conversations_v1_message_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://conversations.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - index
      - author
      - date_created
      dependentProperties:
        channel_metadata:
          mapping:
            conversation_sid: conversation_sid
            message_sid: sid
          resource_url: "/v1/Conversations/{conversation_sid}/Messages/{message_sid}/ChannelMetadata"
        delivery_receipts:
          mapping:
            conversation_sid: conversation_sid
            message_sid: sid
          resource_url: "/v1/Conversations/{conversation_sid}/Messages/{message_sid}/Receipts"
      parent: "/Conversations/{Sid}"
      pathType: list
  /v1/Conversations/{ConversationSid}/Messages/{MessageSid}/Receipts:
    description: A Message Receipt resource represents a delivery/read receipt of
      a message in a conversation.
    get:
      description: Retrieve a list of all delivery and read receipts of the conversation
        message
      operationId: list_conversation_message_receipt
      parameters:
      - description: "The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource)\
          \ for this message."
        explode: false
        in: path
        name: ConversationSid
        required: true
        schema:
          type: string
        style: simple
      - description: "The SID of the message within a [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource)\
          \ the delivery receipt belongs to."
        explode: false
        in: path
        name: MessageSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IM[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListConversationMessageReceiptResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - ConversationsV1DeliveryReceipt
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.conversations_v1_delivery_receipt_controller
    servers:
    - url: https://conversations.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - message_sid
      - status
      - date_created
      mountName: delivery_receipts
      parent: "/Conversations/{ConversationSid}/Messages/{Sid}"
      pathType: list
  /v1/Conversations/{ConversationSid}/Messages/{MessageSid}/Receipts/{Sid}:
    description: A Message Receipt resource represents a delivery/read receipt of
      a message in a conversation.
    get:
      description: Fetch the delivery and read receipts of the conversation message
      operationId: fetch_conversation_message_receipt
      parameters:
      - description: "The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource)\
          \ for this message."
        explode: false
        in: path
        name: ConversationSid
        required: true
        schema:
          type: string
        style: simple
      - description: "The SID of the message within a [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource)\
          \ the delivery receipt belongs to."
        explode: false
        in: path
        name: MessageSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IM[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: A 34 character string that uniquely identifies this resource.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^DY[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conversations.v1.conversation.conversation_message.conversation_message_receipt'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - ConversationsV1DeliveryReceipt
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.conversations_v1_delivery_receipt_controller
    servers:
    - url: https://conversations.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - message_sid
      - status
      - date_created
      mountName: delivery_receipts
      parent: "/Conversations/{ConversationSid}/Messages/{Sid}"
      pathType: instance
  /v1/Conversations/{ConversationSid}/Messages/{Sid}:
    delete:
      description: Remove a message from the conversation
      operationId: delete_conversation_message
      parameters:
      - description: "The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource)\
          \ for this message."
        explode: false
        in: path
        name: ConversationSid
        required: true
        schema:
          type: string
        style: simple
      - description: A 34 character string that uniquely identifies this resource.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IM[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The X-Twilio-Webhook-Enabled HTTP request header
        explode: false
        in: header
        name: X-Twilio-Webhook-Enabled
        required: false
        schema:
          $ref: '#/components/schemas/conversation_message_enum_webhook_enabled_type'
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - ConversationsV1Message
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.conversations_v1_message_controller
    description: A Message resource represents a message in a conversation.
    get:
      description: Fetch a message from the conversation
      operationId: fetch_conversation_message
      parameters:
      - description: "The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource)\
          \ for this message."
        explode: false
        in: path
        name: ConversationSid
        required: true
        schema:
          type: string
        style: simple
      - description: A 34 character string that uniquely identifies this resource.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IM[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conversations.v1.conversation.conversation_message'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - ConversationsV1Message
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.conversations_v1_message_controller
    post:
      description: Update an existing message in the conversation
      operationId: update_conversation_message
      parameters:
      - description: "The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource)\
          \ for this message."
        explode: false
        in: path
        name: ConversationSid
        required: true
        schema:
          type: string
        style: simple
      - description: A 34 character string that uniquely identifies this resource.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IM[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The X-Twilio-Webhook-Enabled HTTP request header
        explode: false
        in: header
        name: X-Twilio-Webhook-Enabled
        required: false
        schema:
          $ref: '#/components/schemas/conversation_message_enum_webhook_enabled_type'
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateConversationMessageRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conversations.v1.conversation.conversation_message'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - ConversationsV1Message
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.conversations_v1_message_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://conversations.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - index
      - author
      - date_created
      dependentProperties:
        channel_metadata:
          mapping:
            conversation_sid: conversation_sid
            message_sid: sid
          resource_url: "/v1/Conversations/{conversation_sid}/Messages/{message_sid}/ChannelMetadata"
        delivery_receipts:
          mapping:
            conversation_sid: conversation_sid
            message_sid: sid
          resource_url: "/v1/Conversations/{conversation_sid}/Messages/{message_sid}/Receipts"
      parent: "/Conversations/{Sid}"
      pathType: instance
  /v1/Conversations/{ConversationSid}/Participants:
    description: A Participant resource represents a member of the conversation.
    get:
      description: Retrieve a list of all participants of the conversation
      operationId: list_conversation_participant
      parameters:
      - description: "The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource)\
          \ for participants."
        explode: false
        in: path
        name: ConversationSid
        required: true
        schema:
          type: string
        style: simple
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListConversationParticipantResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - ConversationsV1Participant
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.conversations_v1_participant_controller
    post:
      description: Add a new participant to the conversation
      operationId: create_conversation_participant
      parameters:
      - description: "The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource)\
          \ for this participant."
        explode: false
        in: path
        name: ConversationSid
        required: true
        schema:
          type: string
        style: simple
      - description: The X-Twilio-Webhook-Enabled HTTP request header
        explode: false
        in: header
        name: X-Twilio-Webhook-Enabled
        required: false
        schema:
          $ref: '#/components/schemas/conversation_participant_enum_webhook_enabled_type'
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateConversationParticipantRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conversations.v1.conversation.conversation_participant'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - ConversationsV1Participant
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.conversations_v1_participant_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://conversations.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - messaging_binding
      parent: "/Conversations/{Sid}"
      pathType: list
  /v1/Conversations/{ConversationSid}/Participants/{Sid}:
    delete:
      description: Remove a participant from the conversation
      operationId: delete_conversation_participant
      parameters:
      - description: "The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource)\
          \ for this participant."
        explode: false
        in: path
        name: ConversationSid
        required: true
        schema:
          type: string
        style: simple
      - description: A 34 character string that uniquely identifies this resource.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      - description: The X-Twilio-Webhook-Enabled HTTP request header
        explode: false
        in: header
        name: X-Twilio-Webhook-Enabled
        required: false
        schema:
          $ref: '#/components/schemas/conversation_participant_enum_webhook_enabled_type'
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - ConversationsV1Participant
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.conversations_v1_participant_controller
    description: A Participant resource represents a member of the conversation.
    get:
      description: Fetch a participant of the conversation
      operationId: fetch_conversation_participant
      parameters:
      - description: "The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource)\
          \ for this participant."
        explode: false
        in: path
        name: ConversationSid
        required: true
        schema:
          type: string
        style: simple
      - description: "A 34 character string that uniquely identifies this resource.\
          \ Alternatively, you can pass a Participant's `identity` rather than the\
          \ SID."
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conversations.v1.conversation.conversation_participant'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - ConversationsV1Participant
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.conversations_v1_participant_controller
    post:
      description: Update an existing participant in the conversation
      operationId: update_conversation_participant
      parameters:
      - description: "The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource)\
          \ for this participant."
        explode: false
        in: path
        name: ConversationSid
        required: true
        schema:
          type: string
        style: simple
      - description: A 34 character string that uniquely identifies this resource.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      - description: The X-Twilio-Webhook-Enabled HTTP request header
        explode: false
        in: header
        name: X-Twilio-Webhook-Enabled
        required: false
        schema:
          $ref: '#/components/schemas/conversation_participant_enum_webhook_enabled_type'
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateConversationParticipantRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conversations.v1.conversation.conversation_participant'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - ConversationsV1Participant
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.conversations_v1_participant_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://conversations.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - messaging_binding
      parent: "/Conversations/{Sid}"
      pathType: instance
  /v1/Conversations/{ConversationSid}/Webhooks:
    description: A Scoped Webhook resource manages a set of callback URLs and their
      configuration for receiving events specific to one conversation.
    get:
      description: Retrieve a list of all webhooks scoped to the conversation
      operationId: list_conversation_scoped_webhook
      parameters:
      - description: "The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource)\
          \ for this webhook."
        explode: false
        in: path
        name: ConversationSid
        required: true
        schema:
          type: string
        style: simple
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListConversationScopedWebhookResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - ConversationsV1Webhook
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.conversations_v1_webhook_controller
    post:
      description: Create a new webhook scoped to the conversation
      operationId: create_conversation_scoped_webhook
      parameters:
      - description: "The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource)\
          \ for this webhook."
        explode: false
        in: path
        name: ConversationSid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateConversationScopedWebhookRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conversations.v1.conversation.conversation_scoped_webhook'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - ConversationsV1Webhook
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.conversations_v1_webhook_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://conversations.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - target
      parent: "/Conversations/{Sid}"
      pathType: list
  /v1/Conversations/{ConversationSid}/Webhooks/{Sid}:
    delete:
      description: Remove an existing webhook scoped to the conversation
      operationId: delete_conversation_scoped_webhook
      parameters:
      - description: "The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource)\
          \ for this webhook."
        explode: false
        in: path
        name: ConversationSid
        required: true
        schema:
          type: string
        style: simple
      - description: A 34 character string that uniquely identifies this resource.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^WH[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - ConversationsV1Webhook
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.conversations_v1_webhook_controller
    description: A Scoped Webhook resource manages a set of callback URLs and their
      configuration for receiving events specific to one conversation.
    get:
      description: Fetch the configuration of a conversation-scoped webhook
      operationId: fetch_conversation_scoped_webhook
      parameters:
      - description: "The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource)\
          \ for this webhook."
        explode: false
        in: path
        name: ConversationSid
        required: true
        schema:
          type: string
        style: simple
      - description: A 34 character string that uniquely identifies this resource.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^WH[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conversations.v1.conversation.conversation_scoped_webhook'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - ConversationsV1Webhook
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.conversations_v1_webhook_controller
    post:
      description: Update an existing conversation-scoped webhook
      operationId: update_conversation_scoped_webhook
      parameters:
      - description: "The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource)\
          \ for this webhook."
        explode: false
        in: path
        name: ConversationSid
        required: true
        schema:
          type: string
        style: simple
      - description: A 34 character string that uniquely identifies this resource.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^WH[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateConversationScopedWebhookRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conversations.v1.conversation.conversation_scoped_webhook'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - ConversationsV1Webhook
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.conversations_v1_webhook_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://conversations.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - target
      parent: "/Conversations/{Sid}"
      pathType: instance
  /v1/Conversations/{Sid}:
    delete:
      description: Remove a conversation from your account's default service
      operationId: delete_conversation
      parameters:
      - description: A 34 character string that uniquely identifies this resource.
          Can also be the `unique_name` of the Conversation.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      - description: The X-Twilio-Webhook-Enabled HTTP request header
        explode: false
        in: header
        name: X-Twilio-Webhook-Enabled
        required: false
        schema:
          $ref: '#/components/schemas/conversation_enum_webhook_enabled_type'
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - ConversationsV1Conversation
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.conversations_v1_conversation_controller
    description: A Conversation resource represents an omnichannel group conversation
      with an ordered list of messages and a participant roster.
    get:
      description: Fetch a conversation from your account's default service
      operationId: fetch_conversation
      parameters:
      - description: A 34 character string that uniquely identifies this resource.
          Can also be the `unique_name` of the Conversation.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conversations.v1.conversation'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - ConversationsV1Conversation
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.conversations_v1_conversation_controller
    post:
      description: Update an existing conversation in your account's default service
      operationId: update_conversation
      parameters:
      - description: A 34 character string that uniquely identifies this resource.
          Can also be the `unique_name` of the Conversation.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      - description: The X-Twilio-Webhook-Enabled HTTP request header
        explode: false
        in: header
        name: X-Twilio-Webhook-Enabled
        required: false
        schema:
          $ref: '#/components/schemas/conversation_enum_webhook_enabled_type'
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateConversationRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conversations.v1.conversation'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - ConversationsV1Conversation
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.conversations_v1_conversation_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://conversations.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - chat_service_sid
      - friendly_name
      - date_created
      dependentProperties:
        messages:
          mapping:
            conversation_sid: sid
          resource_url: "/v1/Conversations/{conversation_sid}/Messages"
        participants:
          mapping:
            conversation_sid: sid
          resource_url: "/v1/Conversations/{conversation_sid}/Participants"
        webhooks:
          mapping:
            conversation_sid: sid
          resource_url: "/v1/Conversations/{conversation_sid}/Webhooks"
      pathType: instance
  /v1/Credentials:
    description: A Credential resource represents a push notification credential.
    get:
      description: Retrieve a list of all push notification credentials on your account
      operationId: list_credential
      parameters:
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCredentialResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - ConversationsV1Credential
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.conversations_v1_credential_controller
    post:
      description: Add a new push notification credential to your account
      operationId: create_credential
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateCredentialRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conversations.v1.credential'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - ConversationsV1Credential
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.conversations_v1_credential_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://conversations.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      - type
      pathType: list
  /v1/Credentials/{Sid}:
    delete:
      description: Remove a push notification credential from your account
      operationId: delete_credential
      parameters:
      - description: A 34 character string that uniquely identifies this resource.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^CR[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - ConversationsV1Credential
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.conversations_v1_credential_controller
    description: A Credential resource represents a push notification credential.
    get:
      description: Fetch a push notification credential from your account
      operationId: fetch_credential
      parameters:
      - description: A 34 character string that uniquely identifies this resource.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^CR[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conversations.v1.credential'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - ConversationsV1Credential
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.conversations_v1_credential_controller
    post:
      description: Update an existing push notification credential on your account
      operationId: update_credential
      parameters:
      - description: A 34 character string that uniquely identifies this resource.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^CR[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateCredentialRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conversations.v1.credential'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - ConversationsV1Credential
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.conversations_v1_credential_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://conversations.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      - type
      pathType: instance
  /v1/ParticipantConversations:
    description: Participant Conversations resource represents a list of Conversations
      that this Participant belongs to belonging to a default conversation service.
    get:
      description: Retrieve a list of all Conversations that this Participant belongs
        to by identity or by address. Only one parameter should be specified.
      operationId: list_participant_conversation
      parameters:
      - description: "A unique string identifier for the conversation participant\
          \ as [Conversation User](https://www.twilio.com/docs/conversations/api/user-resource).\
          \ This parameter is non-null if (and only if) the participant is using the\
          \ Conversations SDK to communicate. Limited to 256 characters."
        explode: true
        in: query
        name: Identity
        required: false
        schema:
          type: string
        style: form
      - description: A unique string identifier for the conversation participant who's
          not a Conversation User. This parameter could be found in messaging_binding.address
          field of Participant resource. It should be url-encoded.
        explode: true
        in: query
        name: Address
        required: false
        schema:
          type: string
        style: form
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListParticipantConversationResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - ConversationsV1ParticipantConversation
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.conversations_v1_participant_conversation_controller
    servers:
    - url: https://conversations.twilio.com
    x-twilio:
      defaultOutputProperties:
      - chat_service_sid
      - participant_sid
      - conversation_sid
      pathType: list
  /v1/Roles:
    description: A Role resource represents a set of permissions granted to a user
      within a service or a conversation.
    get:
      description: Retrieve a list of all user roles in your account's default service
      operationId: list_role
      parameters:
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListRoleResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - ConversationsV1Role
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.conversations_v1_role_controller
    post:
      description: Create a new user role in your account's default service
      operationId: create_role
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateRoleRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conversations.v1.role'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - ConversationsV1Role
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.conversations_v1_role_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://conversations.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      - type
      pathType: list
  /v1/Roles/{Sid}:
    delete:
      description: Remove a user role from your account's default service
      operationId: delete_role
      parameters:
      - description: The SID of the Role resource to delete.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^RL[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - ConversationsV1Role
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.conversations_v1_role_controller
    description: A Role resource represents a set of permissions granted to a user
      within a service or a conversation.
    get:
      description: Fetch a user role from your account's default service
      operationId: fetch_role
      parameters:
      - description: The SID of the Role resource to fetch.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^RL[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conversations.v1.role'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - ConversationsV1Role
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.conversations_v1_role_controller
    post:
      description: Update an existing user role in your account's default service
      operationId: update_role
      parameters:
      - description: The SID of the Role resource to update.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^RL[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateRoleRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conversations.v1.role'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - ConversationsV1Role
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.conversations_v1_role_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://conversations.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      - type
      pathType: instance
  /v1/Services:
    description: A Service resource is a top-level conversation resource container
      that serves as a data silo.
    get:
      description: Retrieve a list of all conversation services on your account
      operationId: list_service
      parameters:
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListServiceResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - ConversationsV1Service
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.conversations_v1_service_controller
    post:
      description: Create a new conversation service on your account
      operationId: create_service
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateServiceRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conversations.v1.service'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - ConversationsV1Service
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.conversations_v1_service_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://conversations.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      dependentProperties:
        bindings:
          mapping:
            chat_service_sid: sid
          resource_url: "/v1/Services/{chat_service_sid}/Bindings"
        configuration:
          mapping:
            chat_service_sid: sid
          resource_url: "/v1/Services/{chat_service_sid}/Configuration"
        conversations:
          mapping:
            chat_service_sid: sid
          resource_url: "/v1/Services/{chat_service_sid}/Conversations"
        participant_conversations:
          mapping:
            chat_service_sid: sid
          resource_url: "/v1/Services/{chat_service_sid}/ParticipantConversations"
        roles:
          mapping:
            chat_service_sid: sid
          resource_url: "/v1/Services/{chat_service_sid}/Roles"
        users:
          mapping:
            chat_service_sid: sid
          resource_url: "/v1/Services/{chat_service_sid}/Users"
      pathType: list
  /v1/Services/{ChatServiceSid}/Bindings:
    description: "A Binding resource represents a push notification binding and its\
      \ configuration, for delivering conversation events to mobile or web endpoints."
    get:
      description: Retrieve a list of all push notification bindings in the conversation
        service
      operationId: list_service_binding
      parameters:
      - description: "The SID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource)\
          \ the Binding resource is associated with."
        explode: false
        in: path
        name: ChatServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "The push technology used by the Binding resources to read. \
          \ Can be: `apn`, `gcm`, or `fcm`.  See [push notification configuration](https://www.twilio.com/docs/chat/push-notification-configuration)\
          \ for more info."
        explode: true
        in: query
        name: BindingType
        required: false
        schema:
          items:
            $ref: '#/components/schemas/service_binding_enum_binding_type'
          type: array
        style: form
      - description: "The identity of a [Conversation User](https://www.twilio.com/docs/conversations/api/user-resource)\
          \ this binding belongs to. See [access tokens](https://www.twilio.com/docs/conversations/create-tokens)\
          \ for more details."
        explode: true
        in: query
        name: Identity
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
        x-twilio:
          pii:
            deleteSla: 30
            handling: standard
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListServiceBindingResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - ConversationsV1Binding
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.conversations_v1_binding_controller
    servers:
    - url: https://conversations.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - endpoint
      - identity
      parent: "/Services/{Sid}"
      pathType: list
  /v1/Services/{ChatServiceSid}/Bindings/{Sid}:
    delete:
      description: Remove a push notification binding from the conversation service
      operationId: delete_service_binding
      parameters:
      - description: "The SID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource)\
          \ to delete the Binding resource from."
        explode: false
        in: path
        name: ChatServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The SID of the Binding resource to delete.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^BS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - ConversationsV1Binding
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.conversations_v1_binding_controller
    description: "A Binding resource represents a push notification binding and its\
      \ configuration, for delivering conversation events to mobile or web endpoints."
    get:
      description: Fetch a push notification binding from the conversation service
      operationId: fetch_service_binding
      parameters:
      - description: "The SID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource)\
          \ the Binding resource is associated with."
        explode: false
        in: path
        name: ChatServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: A 34 character string that uniquely identifies this resource.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^BS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conversations.v1.service.service_binding'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - ConversationsV1Binding
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.conversations_v1_binding_controller
    servers:
    - url: https://conversations.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - endpoint
      - identity
      parent: "/Services/{Sid}"
      pathType: instance
  /v1/Services/{ChatServiceSid}/Configuration:
    description: A Service Configuration resource manages service-level settings applicable
      to the Conversation API.
    get:
      description: Fetch the configuration of a conversation service
      operationId: fetch_service_configuration
      parameters:
      - description: The SID of the Service configuration resource to fetch.
        explode: false
        in: path
        name: ChatServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conversations.v1.service.service_configuration'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - ConversationsV1Configuration
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.conversations_v1_configuration_controller
    post:
      description: Update configuration settings of a conversation service
      operationId: update_service_configuration
      parameters:
      - description: The SID of the Service configuration resource to update.
        explode: false
        in: path
        name: ChatServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateServiceConfigurationRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conversations.v1.service.service_configuration'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - ConversationsV1Configuration
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.conversations_v1_configuration_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://conversations.twilio.com
    x-twilio:
      defaultOutputProperties:
      - chat_service_sid
      parent: "/Services/{Sid}"
      pathType: instance
  /v1/Services/{ChatServiceSid}/Configuration/Notifications:
    description: A Service Notification resource manages a set of settings to determine
      push notification behavior at service level.
    get:
      description: Fetch push notification service settings
      operationId: fetch_service_notification
      parameters:
      - description: "The SID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource)\
          \ the Configuration applies to."
        explode: false
        in: path
        name: ChatServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conversations.v1.service.service_configuration.service_notification'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - ConversationsV1Notification
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.conversations_v1_notification_controller
    post:
      description: Update push notification service settings
      operationId: update_service_notification
      parameters:
      - description: "The SID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource)\
          \ the Configuration applies to."
        explode: false
        in: path
        name: ChatServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateServiceNotificationRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conversations.v1.service.service_configuration.service_notification'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - ConversationsV1Notification
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.conversations_v1_notification_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://conversations.twilio.com
    x-twilio:
      defaultOutputProperties:
      - chat_service_sid
      parent: "/Services/{ChatServiceSid}/Configuration"
      pathType: instance
  /v1/Services/{ChatServiceSid}/Configuration/Webhooks:
    description: A service webhook configuration resource manages a service-level
      set of callback URLs and their configuration for receiving all the corresponding
      service events.
    get:
      description: Fetch a specific service webhook configuration.
      operationId: fetch_service_webhook_configuration
      parameters:
      - description: "The unique ID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource)\
          \ this conversation belongs to."
        explode: false
        in: path
        name: ChatServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conversations.v1.service.service_configuration.service_webhook_configuration'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - ConversationsV1Webhook
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.conversations_v1_webhook_controller
    post:
      description: Update a specific Webhook.
      operationId: update_service_webhook_configuration
      parameters:
      - description: "The unique ID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource)\
          \ this conversation belongs to."
        explode: false
        in: path
        name: ChatServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateServiceWebhookConfigurationRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conversations.v1.service.service_configuration.service_webhook_configuration'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - ConversationsV1Webhook
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.conversations_v1_webhook_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://conversations.twilio.com
    x-twilio:
      defaultOutputProperties:
      - chat_service_sid
      parent: "/Services/{ChatServiceSid}/Configuration"
      pathType: instance
  /v1/Services/{ChatServiceSid}/Conversations:
    description: A Service Conversation resource represents an omnichannel group conversation
      with an ordered list of messages and a participant roster.
    get:
      description: Retrieve a list of conversations in your service
      operationId: list_service_conversation
      parameters:
      - description: "The SID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource)\
          \ the Conversation resource is associated with."
        explode: false
        in: path
        name: ChatServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "Start date or time in ISO8601 format for filtering list of Conversations.\
          \ If a date is provided, the start time of the date is used (YYYY-MM-DDT00:00:00Z).\
          \ Can be combined with other filters."
        explode: true
        in: query
        name: StartDate
        required: false
        schema:
          type: string
        style: form
      - description: "End date or time in ISO8601 format for filtering list of Conversations.\
          \ If a date is provided, the end time of the date is used (YYYY-MM-DDT23:59:59Z).\
          \ Can be combined with other filters."
        explode: true
        in: query
        name: EndDate
        required: false
        schema:
          type: string
        style: form
      - description: "State for sorting and filtering list of Conversations. Can be\
          \ `active`, `inactive` or `closed`"
        explode: true
        in: query
        name: State
        required: false
        schema:
          $ref: '#/components/schemas/service_conversation_enum_state'
        style: form
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListServiceConversationResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - ConversationsV1Conversation
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.conversations_v1_conversation_controller
    post:
      description: Create a new conversation in your service
      operationId: create_service_conversation
      parameters:
      - description: "The SID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource)\
          \ the Conversation resource is associated with."
        explode: false
        in: path
        name: ChatServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The X-Twilio-Webhook-Enabled HTTP request header
        explode: false
        in: header
        name: X-Twilio-Webhook-Enabled
        required: false
        schema:
          $ref: '#/components/schemas/service_conversation_enum_webhook_enabled_type'
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateServiceConversationRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conversations.v1.service.service_conversation'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - ConversationsV1Conversation
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.conversations_v1_conversation_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://conversations.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - chat_service_sid
      - friendly_name
      - date_created
      dependentProperties:
        messages:
          mapping:
            chat_service_sid: chat_service_sid
            conversation_sid: sid
          resource_url: "/v1/Services/{chat_service_sid}/Conversations/{conversation_sid}/Messages"
        participants:
          mapping:
            chat_service_sid: chat_service_sid
            conversation_sid: sid
          resource_url: "/v1/Services/{chat_service_sid}/Conversations/{conversation_sid}/Participants"
        webhooks:
          mapping:
            chat_service_sid: chat_service_sid
            conversation_sid: sid
          resource_url: "/v1/Services/{chat_service_sid}/Conversations/{conversation_sid}/Webhooks"
      parent: "/Services/{Sid}"
      pathType: list
  /v1/Services/{ChatServiceSid}/Conversations/{ConversationSid}/Messages:
    description: A Service Message resource represents a message in a conversation
      within a specific service.
    get:
      description: Retrieve a list of all messages in the conversation
      operationId: list_service_conversation_message
      parameters:
      - description: "The SID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource)\
          \ the Participant resource is associated with."
        explode: false
        in: path
        name: ChatServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource)\
          \ for messages."
        explode: false
        in: path
        name: ConversationSid
        required: true
        schema:
          type: string
        style: simple
      - description: "The sort order of the returned messages. Can be: `asc` (ascending)\
          \ or `desc` (descending), with `asc` as the default."
        explode: true
        in: query
        name: Order
        required: false
        schema:
          $ref: '#/components/schemas/service_conversation_message_enum_order_type'
        style: form
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListServiceConversationMessageResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - ConversationsV1Message
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.conversations_v1_message_controller
    post:
      description: Add a new message to the conversation in a specific service
      operationId: create_service_conversation_message
      parameters:
      - description: "The SID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource)\
          \ the Participant resource is associated with."
        explode: false
        in: path
        name: ChatServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource)\
          \ for this message."
        explode: false
        in: path
        name: ConversationSid
        required: true
        schema:
          type: string
        style: simple
      - description: The X-Twilio-Webhook-Enabled HTTP request header
        explode: false
        in: header
        name: X-Twilio-Webhook-Enabled
        required: false
        schema:
          $ref: '#/components/schemas/service_conversation_message_enum_webhook_enabled_type'
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateServiceConversationMessageRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conversations.v1.service.service_conversation.service_conversation_message'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - ConversationsV1Message
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.conversations_v1_message_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://conversations.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - index
      - author
      - date_created
      dependentProperties:
        channel_metadata:
          mapping:
            chat_service_sid: chat_service_sid
            conversation_sid: conversation_sid
            message_sid: sid
          resource_url: "/v1/Services/{chat_service_sid}/Conversations/{conversation_sid}/Messages/{message_sid}/ChannelMetadata"
        delivery_receipts:
          mapping:
            chat_service_sid: chat_service_sid
            conversation_sid: conversation_sid
            message_sid: sid
          resource_url: "/v1/Services/{chat_service_sid}/Conversations/{conversation_sid}/Messages/{message_sid}/Receipts"
      parent: "/Services/{ChatServiceSid}/Conversations/{Sid}"
      pathType: list
  /v1/Services/{ChatServiceSid}/Conversations/{ConversationSid}/Messages/{MessageSid}/Receipts:
    description: A Service Message Receipt resource represents a delivery/read receipt
      of a message in a conversation.
    get:
      description: Retrieve a list of all delivery and read receipts of the conversation
        message
      operationId: list_service_conversation_message_receipt
      parameters:
      - description: "The SID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource)\
          \ the Message resource is associated with."
        explode: false
        in: path
        name: ChatServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource)\
          \ for this message."
        explode: false
        in: path
        name: ConversationSid
        required: true
        schema:
          type: string
        style: simple
      - description: "The SID of the message within a [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource)\
          \ the delivery receipt belongs to."
        explode: false
        in: path
        name: MessageSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IM[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListServiceConversationMessageReceiptResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - ConversationsV1DeliveryReceipt
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.conversations_v1_delivery_receipt_controller
    servers:
    - url: https://conversations.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - message_sid
      - status
      - date_created
      mountName: delivery_receipts
      parent: "/Services/{ChatServiceSid}/Conversations/{ConversationSid}/Messages/{Sid}"
      pathType: list
  /v1/Services/{ChatServiceSid}/Conversations/{ConversationSid}/Messages/{MessageSid}/Receipts/{Sid}:
    description: A Service Message Receipt resource represents a delivery/read receipt
      of a message in a conversation.
    get:
      description: Fetch the delivery and read receipts of the conversation message
      operationId: fetch_service_conversation_message_receipt
      parameters:
      - description: "The SID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource)\
          \ the Message resource is associated with."
        explode: false
        in: path
        name: ChatServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource)\
          \ for this message."
        explode: false
        in: path
        name: ConversationSid
        required: true
        schema:
          type: string
        style: simple
      - description: "The SID of the message within a [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource)\
          \ the delivery receipt belongs to."
        explode: false
        in: path
        name: MessageSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IM[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: A 34 character string that uniquely identifies this resource.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^DY[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conversations.v1.service.service_conversation.service_conversation_message.service_conversation_message_receipt'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - ConversationsV1DeliveryReceipt
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.conversations_v1_delivery_receipt_controller
    servers:
    - url: https://conversations.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - message_sid
      - status
      - date_created
      mountName: delivery_receipts
      parent: "/Services/{ChatServiceSid}/Conversations/{ConversationSid}/Messages/{Sid}"
      pathType: instance
  /v1/Services/{ChatServiceSid}/Conversations/{ConversationSid}/Messages/{Sid}:
    delete:
      description: Remove a message from the conversation
      operationId: delete_service_conversation_message
      parameters:
      - description: "The SID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource)\
          \ the Participant resource is associated with."
        explode: false
        in: path
        name: ChatServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource)\
          \ for this message."
        explode: false
        in: path
        name: ConversationSid
        required: true
        schema:
          type: string
        style: simple
      - description: A 34 character string that uniquely identifies this resource.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IM[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The X-Twilio-Webhook-Enabled HTTP request header
        explode: false
        in: header
        name: X-Twilio-Webhook-Enabled
        required: false
        schema:
          $ref: '#/components/schemas/service_conversation_message_enum_webhook_enabled_type'
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - ConversationsV1Message
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.conversations_v1_message_controller
    description: A Service Message resource represents a message in a conversation
      within a specific service.
    get:
      description: Fetch a message from the conversation
      operationId: fetch_service_conversation_message
      parameters:
      - description: "The SID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource)\
          \ the Participant resource is associated with."
        explode: false
        in: path
        name: ChatServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource)\
          \ for this message."
        explode: false
        in: path
        name: ConversationSid
        required: true
        schema:
          type: string
        style: simple
      - description: A 34 character string that uniquely identifies this resource.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IM[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
[...]
