openapi: 3.0.0
info:
  contact:
    x-twitter: nfldata
  title: NASCAR v2
  version: "1.0"
  x-apisguru-categories:
  - entertainment
  x-logo:
    url: https://twitter.com/nfldata/profile_image?size=original
  x-origin:
  - format: swagger
    url: https://fantasydata.com/downloads/swagger/nascar-v2.json
    version: "2.0"
  x-providerName: sportsdata.io
  x-serviceName: nascar-v2
servers:
- url: http://azure-api.sportsdata.io/nascar/v2
- url: https://azure-api.sportsdata.io/nascar/v2
security:
- apiKeyHeader: []
- apiKeyQuery: []
paths:
  /{format}/DriverRaceProjections/{raceid}:
    get:
      operationId: DriverRaceProjectionsEntryList
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          type: string
        style: simple
      - description: |-
          Unique FantasyData Race ID.
          Example:<code>1</code>, <code>2</code>, etc.
        explode: false
        in: path
        name: raceid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/DriverRaceProjection'
                type: array
          description: ""
      summary: Driver Race Projections (Entry List)
      x-accepts:
      - application/json
  /{format}/driver/{driverid}:
    get:
      operationId: DriverDetails
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          type: string
        style: simple
      - description: |-
          Unique FantasyData Driver ID.
          Example:<code>80000268</code>.
        explode: false
        in: path
        name: driverid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Driver'
          description: ""
      summary: Driver Details
      x-accepts:
      - application/json
  /{format}/drivers:
    get:
      operationId: Drivers
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Driver'
                type: array
          description: ""
      summary: Drivers
      x-accepts:
      - application/json
  /{format}/raceresult/{raceid}:
    get:
      operationId: RaceResults
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          type: string
        style: simple
      - description: |-
          Unique FantasyData Race ID.
          Example:<code>1</code>, <code>2</code>, etc.
        explode: false
        in: path
        name: raceid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RaceResult'
          description: ""
      summary: Race Results
      x-accepts:
      - application/json
  /{format}/races/{season}:
    get:
      operationId: RacesSchedule
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          type: string
        style: simple
      - description: |-
          Year of the season.
          <br>Examples: <code>2015</code>, <code>2016</code>.
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Race'
                type: array
          description: ""
      summary: Races / Schedule
      x-accepts:
      - application/json
  /{format}/series:
    get:
      operationId: Series
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Series'
                type: array
          description: ""
      summary: Series
      x-accepts:
      - application/json
components:
  schemas:
    Driver:
      example:
        Chassis: Chassis
        BirthPlace: BirthPlace
        NumberDisplay: NumberDisplay
        Updated: Updated
        FirstName: FirstName
        Gender: Gender
        Weight: 5
        Created: Created
        Sponsors: Sponsors
        CrewChief: CrewChief
        DriverID: 0
        Number: 1
        Manufacturer: Manufacturer
        Height: 6
        Team: Team
        LastName: LastName
        PhotoUrl: PhotoUrl
        Engine: Engine
        BirthDate: BirthDate
      properties:
        BirthDate:
          nullable: true
          type: string
        BirthPlace:
          nullable: true
          type: string
        Chassis:
          nullable: true
          type: string
        Created:
          nullable: true
          type: string
        CrewChief:
          nullable: true
          type: string
        DriverID:
          nullable: false
          type: integer
        Engine:
          nullable: true
          type: string
        FirstName:
          nullable: true
          type: string
        Gender:
          nullable: true
          type: string
        Height:
          nullable: true
          type: integer
        LastName:
          nullable: true
          type: string
        Manufacturer:
          nullable: true
          type: string
        Number:
          nullable: true
          type: integer
        NumberDisplay:
          nullable: true
          type: string
        PhotoUrl:
          nullable: true
          type: string
        Sponsors:
          nullable: true
          type: string
        Team:
          nullable: true
          type: string
        Updated:
          nullable: true
          type: string
        Weight:
          nullable: true
          type: integer
    DriverRace:
      example:
        Poles: 1.4894159098541704
        FinalPosition: 9.301444243932576
        DateTime: DateTime
        StartPosition: 5.025004791520295
        Created: Created
        DraftKingsSalary: 1
        Name: Name
        PositionDifferential: 6.84685269835264
        DriverID: 5
        Points: 1.2315135367772556
        CurrentPosition: 6.027456183070403
        Number: 4
        Manufacturer: Manufacturer
        Season: 4
        FastestLaps: 7.061401241503109
        Wins: 9.369310271410669
        FantasyPoints: 5.637376656633329
        NumberDisplay: NumberDisplay
        Updated: Updated
        Bonus: 0.8008281904610115
        QualifyingSpeed: 7.457744773683766
        LapsLed: 2.027123023002322
        Penalty: 7.386281948385884
        FantasyPointsDraftKings: 2.3021358869347655
        Laps: 3.616076749251911
        PoleFinalPosition: 1.0246457001441578
        Day: Day
        StatID: 9
        RaceID: 1
      properties:
        Bonus:
          nullable: true
          type: number
        Created:
          nullable: true
          type: string
        CurrentPosition:
          nullable: true
          type: number
        DateTime:
          nullable: true
          type: string
        Day:
          nullable: true
          type: string
        DraftKingsSalary:
          nullable: true
          type: integer
        DriverID:
          nullable: false
          type: integer
        FantasyPoints:
          nullable: true
          type: number
        FantasyPointsDraftKings:
          nullable: true
          type: number
        FastestLaps:
          nullable: true
          type: number
        FinalPosition:
          nullable: true
          type: number
        Laps:
          nullable: true
          type: number
        LapsLed:
          nullable: true
          type: number
        Manufacturer:
          nullable: true
          type: string
        Name:
          nullable: true
          type: string
        Number:
          nullable: true
          type: integer
        NumberDisplay:
          nullable: true
          type: string
        Penalty:
          nullable: true
          type: number
        Points:
          nullable: true
          type: number
        PoleFinalPosition:
          nullable: true
          type: number
        Poles:
          nullable: true
          type: number
        PositionDifferential:
          nullable: true
          type: number
        QualifyingSpeed:
          nullable: true
          type: number
        RaceID:
          nullable: true
          type: integer
        Season:
          nullable: false
          type: integer
        StartPosition:
          nullable: true
          type: number
        StatID:
          nullable: false
          type: integer
        Updated:
          nullable: true
          type: string
        Wins:
          nullable: true
          type: number
    DriverRaceProjection:
      example:
        Poles: 1.4894159098541704
        FinalPosition: 9.301444243932576
        DateTime: DateTime
        StartPosition: 5.025004791520295
        Created: Created
        DraftKingsSalary: 1
        Name: Name
        PositionDifferential: 6.84685269835264
        DriverID: 5
        Points: 1.2315135367772556
        CurrentPosition: 6.027456183070403
        Number: 4
        Manufacturer: Manufacturer
        Season: 4
        FastestLaps: 7.061401241503109
        Wins: 9.369310271410669
        FantasyPoints: 5.637376656633329
        NumberDisplay: NumberDisplay
        Updated: Updated
        Bonus: 0.8008281904610115
        QualifyingSpeed: 7.457744773683766
        LapsLed: 2.027123023002322
        Penalty: 7.386281948385884
        FantasyPointsDraftKings: 2.3021358869347655
        Laps: 3.616076749251911
        PoleFinalPosition: 1.0246457001441578
        Day: Day
        StatID: 9
        RaceID: 1
      properties:
        Bonus:
          nullable: true
          type: number
        Created:
          nullable: true
          type: string
        CurrentPosition:
          nullable: true
          type: number
        DateTime:
          nullable: true
          type: string
        Day:
          nullable: true
          type: string
        DraftKingsSalary:
          nullable: true
          type: integer
        DriverID:
          nullable: false
          type: integer
        FantasyPoints:
          nullable: true
          type: number
        FantasyPointsDraftKings:
          nullable: true
          type: number
        FastestLaps:
          nullable: true
          type: number
        FinalPosition:
          nullable: true
          type: number
        Laps:
          nullable: true
          type: number
        LapsLed:
          nullable: true
          type: number
        Manufacturer:
          nullable: true
          type: string
        Name:
          nullable: true
          type: string
        Number:
          nullable: true
          type: integer
        NumberDisplay:
          nullable: true
          type: string
        Penalty:
          nullable: true
          type: number
        Points:
          nullable: true
          type: number
        PoleFinalPosition:
          nullable: true
          type: number
        Poles:
          nullable: true
          type: number
        PositionDifferential:
          nullable: true
          type: number
        QualifyingSpeed:
          nullable: true
          type: number
        RaceID:
          nullable: true
          type: integer
        Season:
          nullable: false
          type: integer
        StartPosition:
          nullable: true
          type: number
        StatID:
          nullable: false
          type: integer
        Updated:
          nullable: true
          type: string
        Wins:
          nullable: true
          type: number
    Race:
      example:
        PoleWinnerID: 8
        SeriesID: 6
        Updated: Updated
        RescheduledDay: RescheduledDay
        DateTime: DateTime
        Created: Created
        Name: Name
        IsInProgress: true
        ScheduledLaps: 6
        IsOver: true
        RescheduledDateTime: RescheduledDateTime
        SeriesName: SeriesName
        Broadcast: Broadcast
        Canceled: true
        ActualLaps: 6
        Season: 3
        Day: Day
        WinnerID: 1
        RaceID: 9
        Track: Track
      properties:
        ActualLaps:
          nullable: true
          type: integer
        Broadcast:
          nullable: true
          type: string
        Canceled:
          nullable: false
          type: boolean
        Created:
          nullable: true
          type: string
        DateTime:
          nullable: true
          type: string
        Day:
          nullable: true
          type: string
        IsInProgress:
          nullable: false
          type: boolean
        IsOver:
          nullable: false
          type: boolean
        Name:
          nullable: true
          type: string
        PoleWinnerID:
          nullable: true
          type: integer
        RaceID:
          nullable: false
          type: integer
        RescheduledDateTime:
          nullable: true
          type: string
        RescheduledDay:
          nullable: true
          type: string
        ScheduledLaps:
          nullable: true
          type: integer
        Season:
          nullable: false
          type: integer
        SeriesID:
          nullable: false
          type: integer
        SeriesName:
          nullable: true
          type: string
        Track:
          nullable: true
          type: string
        Updated:
          nullable: true
          type: string
        WinnerID:
          nullable: true
          type: integer
    RaceResult:
      example:
        DriverRaces:
        - Poles: 1.4894159098541704
          FinalPosition: 9.301444243932576
          DateTime: DateTime
          StartPosition: 5.025004791520295
          Created: Created
          DraftKingsSalary: 1
          Name: Name
          PositionDifferential: 6.84685269835264
          DriverID: 5
          Points: 1.2315135367772556
          CurrentPosition: 6.027456183070403
          Number: 4
          Manufacturer: Manufacturer
          Season: 4
          FastestLaps: 7.061401241503109
          Wins: 9.369310271410669
          FantasyPoints: 5.637376656633329
          NumberDisplay: NumberDisplay
          Updated: Updated
          Bonus: 0.8008281904610115
          QualifyingSpeed: 7.457744773683766
          LapsLed: 2.027123023002322
          Penalty: 7.386281948385884
          FantasyPointsDraftKings: 2.3021358869347655
          Laps: 3.616076749251911
          PoleFinalPosition: 1.0246457001441578
          Day: Day
          StatID: 9
          RaceID: 1
        - Poles: 1.4894159098541704
          FinalPosition: 9.301444243932576
          DateTime: DateTime
          StartPosition: 5.025004791520295
          Created: Created
          DraftKingsSalary: 1
          Name: Name
          PositionDifferential: 6.84685269835264
          DriverID: 5
          Points: 1.2315135367772556
          CurrentPosition: 6.027456183070403
          Number: 4
          Manufacturer: Manufacturer
          Season: 4
          FastestLaps: 7.061401241503109
          Wins: 9.369310271410669
          FantasyPoints: 5.637376656633329
          NumberDisplay: NumberDisplay
          Updated: Updated
          Bonus: 0.8008281904610115
          QualifyingSpeed: 7.457744773683766
          LapsLed: 2.027123023002322
          Penalty: 7.386281948385884
          FantasyPointsDraftKings: 2.3021358869347655
          Laps: 3.616076749251911
          PoleFinalPosition: 1.0246457001441578
          Day: Day
          StatID: 9
          RaceID: 1
        Race:
          PoleWinnerID: 8
          SeriesID: 6
          Updated: Updated
          RescheduledDay: RescheduledDay
          DateTime: DateTime
          Created: Created
          Name: Name
          IsInProgress: true
          ScheduledLaps: 6
          IsOver: true
          RescheduledDateTime: RescheduledDateTime
          SeriesName: SeriesName
          Broadcast: Broadcast
          Canceled: true
          ActualLaps: 6
          Season: 3
          Day: Day
          WinnerID: 1
          RaceID: 9
          Track: Track
      properties:
        DriverRaces:
          items:
            $ref: '#/components/schemas/DriverRace'
          type: array
        Race:
          $ref: '#/components/schemas/Race'
    Series:
      example:
        SeriesID: 0
        Name: Name
      properties:
        Name:
          nullable: true
          type: string
        SeriesID:
          nullable: false
          type: integer
  securitySchemes:
    apiKeyHeader:
      in: header
      name: Ocp-Apim-Subscription-Key
      type: apiKey
    apiKeyQuery:
      in: query
      name: key
      type: apiKey

