openapi: 3.0.3
info:
  contact: {}
  description: |-
    Ntropy Transaction API for transaction classification & management

    Contact Support:
     Name: API Support
     Email: api@ntropy.network
  title: Ntropy Transaction API v1
  version: 1.0.0
  x-apisguru-categories:
  - financial
  x-logo:
    url: https://assets.website-files.com/60478d22345ad2b2ea2a1a12/6070b22f45729bf27b1f6be1_ntropy.png
  x-origin:
  - format: postman
    url: https://www.postman.com/collections/15141771-9e1b6dfc-9afc-4527-9926-479b8ce9366a-TzCJfpx4
    version: 2.x
  x-providerName: ntropy.network
servers:
- url: https://api.ntropy.network
tags:
- name: classifier
- name: consumer
- name: batch
- name: business
- name: batch1
paths:
  /classifier/business/batch/{id}:
    get:
      description: Get a batch of business transaction classification results.
      operationId: get_a_batch_of_business_transaction_classification_results
      parameters:
      - description: (Required) Batch id.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 247ee045-3d04-4b3c-872b-a9160b810f33
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Returned a batch of business transaction classification results.:
                  value:
                    id: urn:uuid:d4b197a2-f2cf-8302-0ef8-566
                    progress: 68497089
                    results:
                    - labels:
                      - Cloud computing
                      - Infrastructure
                      logo: https://logo.clearbit.com/aws.amazon.com
                      merchant: Amazon Web Services
                      transaction_id: xbx8YP14g565Xketw3tFmn4yp49x3tbj9mD8DB4fM8DDY6x
                      website: https://aws.amazon.com/
                    - labels:
                      - Cloud computing
                      - Infrastructure
                      logo: https://logo.clearbit.com/aws.amazon.com
                      merchant: Amazon Web Services
                      transaction_id: xbx8YP14g565Xketw3tFmn4yp49x3tbj9mD8DB4fM8DDY6x
                      website: https://aws.amazon.com/
                    status: finished
                    updated_at: 1949-08-24T23:09:35.824Z
              schema:
                $ref: '#/components/schemas/getABatchOfBusinessTransactionClassificationResults_200_response'
          description: Returned a batch of business transaction classification results.
        "404":
          content:
            text/plain:
              examples:
                Not found.:
                  value: ""
          description: Not found.
        "500":
          content:
            text/plain:
              examples:
                Internal server error.:
                  value: ""
          description: Internal server error.
      summary: Get a batch of business transaction classification results.
      tags:
      - classifier
      - business
      - batch1
      x-openapi-router-controller: openapi_server.controllers.classifier_controller
  /classifier/consumer/batch/{id}:
    get:
      description: Get a batch of consumer transaction classification results.
      operationId: get_a_batch_of_consumer_transaction_classification_results
      parameters:
      - description: (Required) Batch id.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 247ee045-3d04-4b3c-872b-a9160b810f33
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Returned a batch of consumer transaction classification results.:
                  value:
                    id: 5d13df6c-6a20-59b6-9259-fb4f0ad90411
                    progress: -62518197
                    results:
                    - contact:
                        email: hUkvsYKUamGpI@rWdfbzlEMyCxWD.ep
                        phone: exercitation esse sed nisi
                      labels:
                      - eu quis pr
                      - eu
                      location:
                        address: pariatur esse officia cupidatat
                        city: fugiat tempor reprehenderit
                        country: ad ea ut id
                        lat: -6.816440035857312E7
                        lon: 8.511897913578662E7
                        postal_code: minim est
                      logo: laborum fugiat
                      merchant: do enim ullamco irure
                      person: non
                      rating:
                        reviews: 49181631
                        value: -1.8636660679956168E7
                      transaction_id: proident occaecat
                      website: ""
                    - contact:
                        email: B2b9F6BqZI@dnlLjJGCVnHqEgVFyDwSWrcCVtCuR.wsx
                        phone: incididunt reprehenderit do cupidatat
                      labels:
                      - non cupidatat et esse
                      - nisi reprehenderit est conse
                      location:
                        address: irure magna
                        city: deserunt ut in
                        country: dolore Excepteur aliqua do
                        lat: -5.3232704415080525E7
                        lon: 2.4234387569050018E7
                        postal_code: officia dolore dolor
                      logo: est
                      merchant: laboris culpa Excepteur consequat consectetur
                      person: fugiat
                      rating:
                        reviews: 97241118
                        value: -5.1476788074969985E7
                      transaction_id: labore Ut
                      website: cillum laborum c
                    status: error
                    updated_at: 2014-05-05T08:09:39.758Z
              schema:
                $ref: '#/components/schemas/getABatchOfConsumerTransactionClassificationResults_200_response'
          description: Returned a batch of consumer transaction classification results.
        "404":
          content:
            text/plain:
              examples:
                Not found:
                  value: ""
          description: Not found
        "500":
          content:
            text/plain:
              examples:
                Internal server error:
                  value: ""
          description: Internal server error
      summary: Get a batch of consumer transaction classification results.
      tags:
      - classifier
      - consumer
      - batch
      x-openapi-router-controller: openapi_server.controllers.classifier_controller
components:
  schemas:
    getABatchOfConsumerTransactionClassificationResults_200_response_results_inner_contact:
      properties:
        email:
          example: hUkvsYKUamGpI@rWdfbzlEMyCxWD.ep
          title: email
          type: string
        phone:
          example: exercitation esse sed nisi
          title: phone
          type: string
      title: getABatchOfConsumerTransactionClassificationResults_200_response_results_inner_contact
      type: object
    getABatchOfConsumerTransactionClassificationResults_200_response_results_inner:
      properties:
        contact:
          $ref: '#/components/schemas/getABatchOfConsumerTransactionClassificationResults_200_response_results_inner_contact'
        labels:
          example:
          - eu quis pr
          - eu
          items:
            example: eu quis pr
            type: string
          title: labels
          type: array
        location:
          $ref: '#/components/schemas/getABatchOfConsumerTransactionClassificationResults_200_response_results_inner_location'
        logo:
          example: laborum fugiat
          title: logo
          type: string
        merchant:
          example: do enim ullamco irure
          title: merchant
          type: string
        person:
          example: non
          title: person
          type: string
        rating:
          $ref: '#/components/schemas/getABatchOfConsumerTransactionClassificationResults_200_response_results_inner_rating'
        transaction_id:
          example: proident occaecat
          title: transaction_id
          type: string
        website:
          example: ""
          title: website
          type: string
      title: getABatchOfConsumerTransactionClassificationResults_200_response_results_inner
      type: object
    getABatchOfConsumerTransactionClassificationResults_200_response:
      example:
        updated_at: 2014-05-05T08:09:39.758Z
        progress: -62518197
        id: 5d13df6c-6a20-59b6-9259-fb4f0ad90411
        results:
        - contact:
            email: hUkvsYKUamGpI@rWdfbzlEMyCxWD.ep
            phone: exercitation esse sed nisi
          labels:
          - eu quis pr
          - eu
          location:
            address: pariatur esse officia cupidatat
            city: fugiat tempor reprehenderit
            country: ad ea ut id
            lat: -6.816440035857312E7
            lon: 8.511897913578662E7
            postal_code: minim est
          logo: laborum fugiat
          merchant: do enim ullamco irure
          person: non
          rating:
            reviews: 49181631
            value: -1.8636660679956168E7
          transaction_id: proident occaecat
          website: ""
        - contact:
            email: B2b9F6BqZI@dnlLjJGCVnHqEgVFyDwSWrcCVtCuR.wsx
            phone: incididunt reprehenderit do cupidatat
          labels:
          - non cupidatat et esse
          - nisi reprehenderit est conse
          location:
            address: irure magna
            city: deserunt ut in
            country: dolore Excepteur aliqua do
            lat: -5.3232704415080525E7
            lon: 2.4234387569050018E7
            postal_code: officia dolore dolor
          logo: est
          merchant: laboris culpa Excepteur consequat consectetur
          person: fugiat
          rating:
            reviews: 97241118
            value: -5.1476788074969985E7
          transaction_id: labore Ut
          website: cillum laborum c
        status: error
      properties:
        id:
          example: 5d13df6c-6a20-59b6-9259-fb4f0ad90411
          title: id
          type: string
        progress:
          example: -62518197
          title: progress
          type: number
        results:
          example:
          - contact:
              email: hUkvsYKUamGpI@rWdfbzlEMyCxWD.ep
              phone: exercitation esse sed nisi
            labels:
            - eu quis pr
            - eu
            location:
              address: pariatur esse officia cupidatat
              city: fugiat tempor reprehenderit
              country: ad ea ut id
              lat: -6.816440035857312E7
              lon: 8.511897913578662E7
              postal_code: minim est
            logo: laborum fugiat
            merchant: do enim ullamco irure
            person: non
            rating:
              reviews: 49181631
              value: -1.8636660679956168E7
            transaction_id: proident occaecat
            website: ""
          - contact:
              email: B2b9F6BqZI@dnlLjJGCVnHqEgVFyDwSWrcCVtCuR.wsx
              phone: incididunt reprehenderit do cupidatat
            labels:
            - non cupidatat et esse
            - nisi reprehenderit est conse
            location:
              address: irure magna
              city: deserunt ut in
              country: dolore Excepteur aliqua do
              lat: -5.3232704415080525E7
              lon: 2.4234387569050018E7
              postal_code: officia dolore dolor
            logo: est
            merchant: laboris culpa Excepteur consequat consectetur
            person: fugiat
            rating:
              reviews: 97241118
              value: -5.1476788074969985E7
            transaction_id: labore Ut
            website: cillum laborum c
          items:
            $ref: '#/components/schemas/getABatchOfConsumerTransactionClassificationResults_200_response_results_inner'
          title: results
          type: array
        status:
          example: error
          title: status
          type: string
        updated_at:
          example: 2014-05-05T08:09:39.758Z
          title: updated_at
          type: string
      title: getABatchOfConsumerTransactionClassificationResults_200_response
      type: object
    getABatchOfConsumerTransactionClassificationResults_200_response_results_inner_location:
      properties:
        address:
          example: pariatur esse officia cupidatat
          title: address
          type: string
        city:
          example: fugiat tempor reprehenderit
          title: city
          type: string
        country:
          example: ad ea ut id
          title: country
          type: string
        lat:
          example: -68164400.35857312
          title: lat
          type: number
        lon:
          example: 85118979.13578662
          title: lon
          type: number
        postal_code:
          example: minim est
          title: postal_code
          type: string
      title: getABatchOfConsumerTransactionClassificationResults_200_response_results_inner_location
      type: object
    getABatchOfBusinessTransactionClassificationResults_200_response_results_inner:
      properties:
        labels:
          example:
          - Cloud computing
          - Infrastructure
          items:
            example: Cloud computing
            type: string
          title: labels
          type: array
        logo:
          example: https://logo.clearbit.com/aws.amazon.com
          title: logo
          type: string
        merchant:
          example: Amazon Web Services
          title: merchant
          type: string
        transaction_id:
          example: xbx8YP14g565Xketw3tFmn4yp49x3tbj9mD8DB4fM8DDY6x
          title: transaction_id
          type: string
        website:
          example: https://aws.amazon.com/
          title: website
          type: string
      title: getABatchOfBusinessTransactionClassificationResults_200_response_results_inner
      type: object
    getABatchOfBusinessTransactionClassificationResults_200_response:
      example:
        updated_at: 1949-08-24T23:09:35.824Z
        progress: 68497089
        id: urn:uuid:d4b197a2-f2cf-8302-0ef8-566
        results:
        - labels:
          - Cloud computing
          - Infrastructure
          logo: https://logo.clearbit.com/aws.amazon.com
          merchant: Amazon Web Services
          transaction_id: xbx8YP14g565Xketw3tFmn4yp49x3tbj9mD8DB4fM8DDY6x
          website: https://aws.amazon.com/
        - labels:
          - Cloud computing
          - Infrastructure
          logo: https://logo.clearbit.com/aws.amazon.com
          merchant: Amazon Web Services
          transaction_id: xbx8YP14g565Xketw3tFmn4yp49x3tbj9mD8DB4fM8DDY6x
          website: https://aws.amazon.com/
        status: finished
      properties:
        id:
          example: urn:uuid:d4b197a2-f2cf-8302-0ef8-566
          title: id
          type: string
        progress:
          example: 68497089
          title: progress
          type: number
        results:
          example:
          - labels:
            - Cloud computing
            - Infrastructure
            logo: https://logo.clearbit.com/aws.amazon.com
            merchant: Amazon Web Services
            transaction_id: xbx8YP14g565Xketw3tFmn4yp49x3tbj9mD8DB4fM8DDY6x
            website: https://aws.amazon.com/
          - labels:
            - Cloud computing
            - Infrastructure
            logo: https://logo.clearbit.com/aws.amazon.com
            merchant: Amazon Web Services
            transaction_id: xbx8YP14g565Xketw3tFmn4yp49x3tbj9mD8DB4fM8DDY6x
            website: https://aws.amazon.com/
          items:
            $ref: '#/components/schemas/getABatchOfBusinessTransactionClassificationResults_200_response_results_inner'
          title: results
          type: array
        status:
          example: finished
          title: status
          type: string
        updated_at:
          example: 1949-08-24T23:09:35.824Z
          title: updated_at
          type: string
      title: getABatchOfBusinessTransactionClassificationResults_200_response
      type: object
    getABatchOfConsumerTransactionClassificationResults_200_response_results_inner_rating:
      properties:
        reviews:
          example: 49181631
          title: reviews
          type: number
        value:
          example: -18636660.679956168
          title: value
          type: number
      title: getABatchOfConsumerTransactionClassificationResults_200_response_results_inner_rating
      type: object
