openapi: 3.0.0
info:
  contact:
    x-twitter: nfldata
  title: NHL v3 Scores
  version: "1.0"
  x-apisguru-categories:
  - entertainment
  x-logo:
    url: https://twitter.com/nfldata/profile_image?size=original
  x-origin:
  - format: swagger
    url: https://fantasydata.com/downloads/swagger/nhl-v3-scores.json
    version: "2.0"
  x-providerName: sportsdata.io
  x-serviceName: nhl-v3-scores
servers:
- url: http://azure-api.sportsdata.io/v3/nhl/scores
- url: https://azure-api.sportsdata.io/v3/nhl/scores
security:
- apiKeyHeader: []
- apiKeyQuery: []
paths:
  /{format}/AllTeams:
    get:
      operationId: teams_all
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Team'
                type: array
          description: ""
      summary: Teams (All)
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/AreAnyGamesInProgress:
    get:
      description: Returns <code>true</code> if there is at least one game being played
        at the time of the request or <code>false</code> if there are none.
      operationId: are_games_in_progress
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                nullable: false
                type: boolean
          description: ""
      summary: Are Games In Progress
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/CurrentSeason:
    get:
      operationId: current_season
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Season'
          description: ""
      summary: Current Season
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/FreeAgents:
    get:
      operationId: player_details_by_free_agent
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Player'
                type: array
          description: ""
      summary: Player Details by Free Agent
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/Games/{season}:
    get:
      operationId: schedules
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Year of the season (with optional season type).<br>Examples:\
          \ <code>2018</code>, <code>2018PRE</code>, <code>2018POST</code>, <code>2018STAR</code>,\
          \ <code>2019</code>, etc."
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Game'
                type: array
          description: ""
      summary: Schedules
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/GamesByDate/{date}:
    get:
      operationId: games_by_date
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "The date of the game(s).\n <br>Examples: <code>2018-JAN-31</code>,\
          \ <code>2017-OCT-01</code>.\n "
        explode: false
        in: path
        name: date
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Game'
                type: array
          description: ""
      summary: Games by Date
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/News:
    get:
      operationId: news
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/News'
                type: array
          description: ""
      summary: News
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/NewsByDate/{date}:
    get:
      operationId: news_by_date
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "The date of the news.\n <br>Examples: <code>2018-JAN-31</code>,\
          \ <code>2017-OCT-01</code>.\n "
        explode: false
        in: path
        name: date
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/News'
                type: array
          description: ""
      summary: News by Date
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/NewsByPlayerID/{playerid}:
    get:
      operationId: news_by_player
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Unique FantasyData Player ID.\n Example:<code>10000507</code>.\n\
          \ "
        explode: false
        in: path
        name: playerid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/News'
                type: array
          description: ""
      summary: News by Player
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/Player/{playerid}:
    get:
      operationId: player_details_by_player
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: |-
          Unique FantasyData Player ID.
          Example:<code>30000007</code>.
        explode: false
        in: path
        name: playerid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Player'
          description: ""
      summary: Player Details by Player
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/Players:
    get:
      operationId: player_details_by_active
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Player'
                type: array
          description: ""
      summary: Player Details by Active
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/Players/{team}:
    get:
      operationId: players_by_team
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "The abbreviation of the requested team.\n <br>Examples: <code>SF</code>,\
          \ <code>NYY</code>.\n "
        explode: false
        in: path
        name: team
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Player'
                type: array
          description: ""
      summary: Players by Team
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/PlayersBasic/{team}:
    get:
      operationId: players_by_team_basic
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "The abbreviation of the requested team.\n <br>Examples: <code>SF</code>,\
          \ <code>NYY</code>.\n "
        explode: false
        in: path
        name: team
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PlayerBasic'
                type: array
          description: ""
      summary: Players by Team (Basic)
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/SchedulesBasic/{season}:
    get:
      operationId: schedules_basic
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Year of the season (with optional season type).<br>Examples:\
          \ <code>2018</code>, <code>2018PRE</code>, <code>2018POST</code>, <code>2018STAR</code>,\
          \ <code>2019</code>, etc."
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ScheduleBasic'
                type: array
          description: ""
      summary: Schedules (Basic)
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/ScoresBasic/{date}:
    get:
      operationId: games_by_date_basic
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "The date of the game(s).\n <br>Examples: <code>2018-JAN-31</code>,\
          \ <code>2017-OCT-01</code>.\n "
        explode: false
        in: path
        name: date
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ScoreBasic'
                type: array
          description: ""
      summary: Games by Date (Basic)
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/Stadiums:
    get:
      operationId: stadiums
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Stadium'
                type: array
          description: ""
      summary: Stadiums
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/Standings/{season}:
    get:
      operationId: standings
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Year of the season.\n <br>Examples: <code>2016</code>, <code>2017</code>.\n\
          \ "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Standing'
                type: array
          description: ""
      summary: Standings
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/TeamGameStatsByDate/{date}:
    get:
      operationId: team_game_stats_by_date
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "The date of the game(s).\n <br>Examples: <code>2018-JAN-31</code>,\
          \ <code>2017-OCT-01</code>.\n "
        explode: false
        in: path
        name: date
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TeamGame'
                type: array
          description: ""
      summary: Team Game Stats by Date
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/TeamGameStatsBySeason/{season}/{teamid}/{numberofgames}:
    get:
      operationId: team_game_logs_by_season
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Season to get games from. Example <code>2019POST</code>, <code>2020</code>"
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: Unique ID of team.  Example <code> 8 </code>
        explode: false
        in: path
        name: teamid
        required: true
        schema:
          type: string
        style: simple
      - description: "How many games to return. Example <code>all</code>, <code>10</code>,\
          \ <code>25</code>"
        explode: false
        in: path
        name: numberofgames
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TeamGame'
                type: array
          description: ""
      summary: Team Game Logs By Season
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/TeamSeasonStats/{season}:
    get:
      operationId: team_season_stats
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Year of the season.\n <br>Examples: <code>2016</code>, <code>2017</code>.\n\
          \ "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TeamSeason'
                type: array
          description: ""
      summary: Team Season Stats
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/teams:
    get:
      operationId: teams_active
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Team'
                type: array
          description: ""
      summary: Teams (Active)
      x-openapi-router-controller: openapi_server.controllers.default_controller
components:
  schemas:
    Game:
      example:
        AwayTeam: AwayTeam
        GameEndDateTime: GameEndDateTime
        HomeRotationNumber: 2
        HomeTeamMoneyLine: 7
        HomeTeamID: 4
        AwayTeamID: 1
        IsClosed: true
        DateTime: DateTime
        LastPlay: LastPlay
        TimeRemainingSeconds: 1
        UnderPayout: 4
        GlobalHomeTeamID: 3
        Season: 3
        GameID: 2
        GlobalGameID: 9
        OverPayout: 1
        Attendance: 0
        Status: Status
        HomeTeam: HomeTeam
        Updated: Updated
        TimeRemainingMinutes: 4
        Channel: Channel
        Period: Period
        OverUnder: 1.4894159098541704
        NeutralVenue: true
        StadiumID: 6
        Periods:
        - HomeScore: 1
          ScoringPlays:
          - EmptyNet: true
            ShortHanded: true
            TimeRemainingMinutes: 0
            PowerPlay: true
            AssistedByPlayerID2: 5
            AssistedByPlayerID1: 6
            PeriodID: 3
            Sequence: 6
            TimeRemainingSeconds: 4
            HomeTeamScore: 3
            AwayTeamScore: 6
            ScoringPlayID: 7
            AllowedByTeamID: 6
            ScoredByTeamID: 0
            ScoredByPlayerID: 7
          - EmptyNet: true
            ShortHanded: true
            TimeRemainingMinutes: 0
            PowerPlay: true
            AssistedByPlayerID2: 5
            AssistedByPlayerID1: 6
            PeriodID: 3
            Sequence: 6
            TimeRemainingSeconds: 4
            HomeTeamScore: 3
            AwayTeamScore: 6
            ScoringPlayID: 7
            AllowedByTeamID: 6
            ScoredByTeamID: 0
            ScoredByPlayerID: 7
          Penalties:
          - Description: Description
            TimeRemainingMinutes: 6
            DrawnByTeamID: 9
            IsBenchPenalty: true
            PeriodID: 6
            Sequence: 3
            PenaltyMinutes: 9
            PenaltyID: 8
            DrawnByPlayerID: 5
            TimeRemainingSeconds: 1
            PenalizedTeamID: 6
            PenalizedPlayerID: 9
            BenchPenaltyServedByPlayerID: 4
          - Description: Description
            TimeRemainingMinutes: 6
            DrawnByTeamID: 9
            IsBenchPenalty: true
            PeriodID: 6
            Sequence: 3
            PenaltyMinutes: 9
            PenaltyID: 8
            DrawnByPlayerID: 5
            TimeRemainingSeconds: 1
            PenalizedTeamID: 6
            PenalizedPlayerID: 9
            BenchPenaltyServedByPlayerID: 4
          AwayScore: 6
          PeriodID: 2
          GameID: 7
          Name: Name
        - HomeScore: 1
          ScoringPlays:
          - EmptyNet: true
            ShortHanded: true
            TimeRemainingMinutes: 0
            PowerPlay: true
            AssistedByPlayerID2: 5
            AssistedByPlayerID1: 6
            PeriodID: 3
            Sequence: 6
            TimeRemainingSeconds: 4
            HomeTeamScore: 3
            AwayTeamScore: 6
            ScoringPlayID: 7
            AllowedByTeamID: 6
            ScoredByTeamID: 0
            ScoredByPlayerID: 7
          - EmptyNet: true
            ShortHanded: true
            TimeRemainingMinutes: 0
            PowerPlay: true
            AssistedByPlayerID2: 5
            AssistedByPlayerID1: 6
            PeriodID: 3
            Sequence: 6
            TimeRemainingSeconds: 4
            HomeTeamScore: 3
            AwayTeamScore: 6
            ScoringPlayID: 7
            AllowedByTeamID: 6
            ScoredByTeamID: 0
            ScoredByPlayerID: 7
          Penalties:
          - Description: Description
            TimeRemainingMinutes: 6
            DrawnByTeamID: 9
            IsBenchPenalty: true
            PeriodID: 6
            Sequence: 3
            PenaltyMinutes: 9
            PenaltyID: 8
            DrawnByPlayerID: 5
            TimeRemainingSeconds: 1
            PenalizedTeamID: 6
            PenalizedPlayerID: 9
            BenchPenaltyServedByPlayerID: 4
          - Description: Description
            TimeRemainingMinutes: 6
            DrawnByTeamID: 9
            IsBenchPenalty: true
            PeriodID: 6
            Sequence: 3
            PenaltyMinutes: 9
            PenaltyID: 8
            DrawnByPlayerID: 5
            TimeRemainingSeconds: 1
            PenalizedTeamID: 6
            PenalizedPlayerID: 9
            BenchPenaltyServedByPlayerID: 4
          AwayScore: 6
          PeriodID: 2
          GameID: 7
          Name: Name
        SeriesInfo:
          GameNumber: 3
          MaxLength: 0
          AwayTeamWins: 5
          HomeTeamWins: 4
        SeasonType: 7
        HomeTeamScore: 1
        PointSpread: 8.969578798196912
        AwayRotationNumber: 6
        PointSpreadAwayTeamMoneyLine: 7
        AwayTeamScore: 5
        GlobalAwayTeamID: 7
        DateTimeUTC: DateTimeUTC
        PointSpreadHomeTeamMoneyLine: 3
        AwayTeamMoneyLine: 5
        Day: Day
      properties:
        Attendance:
          nullable: true
          title: Attendance
          type: integer
        AwayRotationNumber:
          nullable: true
          title: AwayRotationNumber
          type: integer
        AwayTeam:
          nullable: true
          title: AwayTeam
          type: string
        AwayTeamID:
          nullable: false
          title: AwayTeamID
          type: integer
        AwayTeamMoneyLine:
          nullable: true
          title: AwayTeamMoneyLine
          type: integer
        AwayTeamScore:
          nullable: true
          title: AwayTeamScore
          type: integer
        Channel:
          nullable: true
          title: Channel
          type: string
        DateTime:
          nullable: true
          title: DateTime
          type: string
        DateTimeUTC:
          nullable: true
          title: DateTimeUTC
          type: string
        Day:
          nullable: true
          title: Day
          type: string
        GameEndDateTime:
          nullable: true
          title: GameEndDateTime
          type: string
        GameID:
          nullable: false
          title: GameID
          type: integer
        GlobalAwayTeamID:
          nullable: false
          title: GlobalAwayTeamID
          type: integer
        GlobalGameID:
          nullable: false
          title: GlobalGameID
          type: integer
        GlobalHomeTeamID:
          nullable: false
          title: GlobalHomeTeamID
          type: integer
        HomeRotationNumber:
          nullable: true
          title: HomeRotationNumber
          type: integer
        HomeTeam:
          nullable: true
          title: HomeTeam
          type: string
        HomeTeamID:
          nullable: false
          title: HomeTeamID
          type: integer
        HomeTeamMoneyLine:
          nullable: true
          title: HomeTeamMoneyLine
          type: integer
        HomeTeamScore:
          nullable: true
          title: HomeTeamScore
          type: integer
        IsClosed:
          nullable: true
          title: IsClosed
          type: boolean
        LastPlay:
          nullable: true
          title: LastPlay
          type: string
        NeutralVenue:
          nullable: true
          title: NeutralVenue
          type: boolean
        OverPayout:
          nullable: true
          title: OverPayout
          type: integer
        OverUnder:
          nullable: true
          title: OverUnder
          type: number
        Period:
          nullable: true
          title: Period
          type: string
        Periods:
          items:
            $ref: '#/components/schemas/Period'
          title: Periods
          type: array
        PointSpread:
          nullable: true
          title: PointSpread
          type: number
        PointSpreadAwayTeamMoneyLine:
          nullable: true
          title: PointSpreadAwayTeamMoneyLine
          type: integer
        PointSpreadHomeTeamMoneyLine:
          nullable: true
          title: PointSpreadHomeTeamMoneyLine
          type: integer
        Season:
          nullable: false
          title: Season
          type: integer
        SeasonType:
          nullable: false
          title: SeasonType
          type: integer
        SeriesInfo:
          $ref: '#/components/schemas/Series'
        StadiumID:
          nullable: true
          title: StadiumID
          type: integer
        Status:
          nullable: true
          title: Status
          type: string
        TimeRemainingMinutes:
          nullable: true
          title: TimeRemainingMinutes
          type: integer
        TimeRemainingSeconds:
          nullable: true
          title: TimeRemainingSeconds
          type: integer
        UnderPayout:
          nullable: true
          title: UnderPayout
          type: integer
        Updated:
          nullable: true
          title: Updated
          type: string
      title: Game
    News:
      example:
        PlayerID: 6
        Updated: Updated
        TermsOfUse: TermsOfUse
        Content: Content
        Title: Title
        Team: Team
        TeamID: 1
        Source: Source
        Url: Url
        NewsID: 0
      properties:
        Content:
          nullable: true
          title: Content
          type: string
        NewsID:
          nullable: false
          title: NewsID
          type: integer
        PlayerID:
          nullable: true
          title: PlayerID
          type: integer
        Source:
          nullable: true
          title: Source
          type: string
        Team:
          nullable: true
          title: Team
          type: string
        TeamID:
          nullable: true
          title: TeamID
          type: integer
        TermsOfUse:
          nullable: true
          title: TermsOfUse
          type: string
        Title:
          nullable: true
          title: Title
          type: string
        Updated:
          nullable: true
          title: Updated
          type: string
        Url:
          nullable: true
          title: Url
          type: string
      title: News
    OpponentSeason:
      example:
        ShootoutGoals: 4.459605034958679
        GoaltendingShotsAgainst: 4.078845849666752
        GlobalTeamID: 4
        Minutes: 7
        ShortHandedAssists: 3.901545264248647
        Name: Name
        PlusMinus: 9.702963800023566
        ShotsOnGoal: 2.9409642974827896
        GoaltendingMinutes: 3
        PowerPlayAssists: 0.5199002018724985
        Takeaways: 6.623518433804886
        ShortHandedGoals: 0.43431398824148815
        Wins: 8
        OpponentPosition: OpponentPosition
        FaceoffsLost: 5.944895607614016
        GoaltendingOvertimeLosses: 7.04836565559697
        Updated: Updated
        FaceoffsWon: 6.704019297950036
        FantasyPointsFanDuel: 7.143538047012306
        PenaltyMinutes: 0.8774076871421566
        Assists: 1.284659006116532
        Losses: 4
        GoaltendingWins: 6.628464275087742
        FantasyPointsDraftKings: 3.0937452626664474
        GoaltendingGoalsAgainst: 7.740351818741173
        Games: 6
        Goals: 8.969578798196912
        StatID: 8
        Hits: 1.041444916118296
        Started: 1
        GoaltendingSeconds: 3
        GoaltendingLosses: 3.0205796992916243
        FantasyPointsYahoo: 7.058770351582356
        TeamID: 4
        EmptyNetGoals: 6.878052220127876
        PowerPlayGoals: 7.933506881737151
        FantasyPointsFantasyDraft: 0.8851374739011653
        GoaltendingSaves: 5.533258397034986
        Team: Team
        Season: 5
        Shifts: 8.251625748923757
        FantasyPoints: 3.353193347011243
        Blocks: 6.778324963048013
        BenchPenaltyMinutes: 2.8841621266687802
        OvertimeLosses: 9
        Giveaways: 0.10263654006109402
        HatTricks: 4.258773108174356
        GoaltendingShutouts: 0.2025324113236393
        SeasonType: 4
        Seconds: 6
      properties:
        Assists:
          nullable: true
          title: Assists
          type: number
        BenchPenaltyMinutes:
          nullable: true
          title: BenchPenaltyMinutes
          type: number
        Blocks:
          nullable: true
          title: Blocks
          type: number
        EmptyNetGoals:
          nullable: true
          title: EmptyNetGoals
          type: number
        FaceoffsLost:
          nullable: true
          title: FaceoffsLost
          type: number
        FaceoffsWon:
          nullable: true
          title: FaceoffsWon
          type: number
        FantasyPoints:
          nullable: true
          title: FantasyPoints
          type: number
        FantasyPointsDraftKings:
          nullable: true
          title: FantasyPointsDraftKings
          type: number
        FantasyPointsFanDuel:
          nullable: true
          title: FantasyPointsFanDuel
          type: number
        FantasyPointsFantasyDraft:
          nullable: true
          title: FantasyPointsFantasyDraft
          type: number
        FantasyPointsYahoo:
          nullable: true
          title: FantasyPointsYahoo
          type: number
        Games:
          nullable: true
          title: Games
          type: integer
        Giveaways:
          nullable: true
          title: Giveaways
          type: number
        GlobalTeamID:
          nullable: true
          title: GlobalTeamID
          type: integer
        Goals:
          nullable: true
          title: Goals
          type: number
        GoaltendingGoalsAgainst:
          nullable: true
          title: GoaltendingGoalsAgainst
          type: number
        GoaltendingLosses:
          nullable: true
          title: GoaltendingLosses
          type: number
        GoaltendingMinutes:
          nullable: true
          title: GoaltendingMinutes
          type: integer
        GoaltendingOvertimeLosses:
          nullable: true
          title: GoaltendingOvertimeLosses
          type: number
        GoaltendingSaves:
          nullable: true
          title: GoaltendingSaves
          type: number
        GoaltendingSeconds:
          nullable: true
          title: GoaltendingSeconds
          type: integer
        GoaltendingShotsAgainst:
          nullable: true
          title: GoaltendingShotsAgainst
          type: number
        GoaltendingShutouts:
          nullable: true
          title: GoaltendingShutouts
          type: number
        GoaltendingWins:
          nullable: true
          title: GoaltendingWins
          type: number
        HatTricks:
          nullable: true
          title: HatTricks
          type: number
        Hits:
          nullable: true
          title: Hits
          type: number
        Losses:
          nullable: true
          title: Losses
          type: integer
        Minutes:
          nullable: true
          title: Minutes
          type: integer
        Name:
          nullable: true
          title: Name
          type: string
        OpponentPosition:
          nullable: true
          title: OpponentPosition
          type: string
        OvertimeLosses:
          nullable: true
          title: OvertimeLosses
          type: integer
        PenaltyMinutes:
          nullable: true
          title: PenaltyMinutes
          type: number
        PlusMinus:
          nullable: true
          title: PlusMinus
          type: number
        PowerPlayAssists:
          nullable: true
          title: PowerPlayAssists
          type: number
        PowerPlayGoals:
          nullable: true
          title: PowerPlayGoals
          type: number
        Season:
          nullable: true
          title: Season
          type: integer
        SeasonType:
          nullable: true
          title: SeasonType
          type: integer
        Seconds:
          nullable: true
          title: Seconds
          type: integer
        Shifts:
          nullable: true
          title: Shifts
          type: number
        ShootoutGoals:
          nullable: true
          title: ShootoutGoals
          type: number
        ShortHandedAssists:
          nullable: true
          title: ShortHandedAssists
          type: number
        ShortHandedGoals:
          nullable: true
          title: ShortHandedGoals
          type: number
        ShotsOnGoal:
          nullable: true
          title: ShotsOnGoal
          type: number
        Started:
          nullable: true
          title: Started
          type: integer
        StatID:
          nullable: false
          title: StatID
          type: integer
        Takeaways:
          nullable: true
          title: Takeaways
          type: number
        Team:
          nullable: true
          title: Team
          type: string
        TeamID:
          nullable: true
          title: TeamID
          type: integer
        Updated:
          nullable: true
          title: Updated
          type: string
        Wins:
          nullable: true
          title: Wins
          type: integer
      title: OpponentSeason
    Penalty:
      example:
        Description: Description
        TimeRemainingMinutes: 6
        DrawnByTeamID: 9
        IsBenchPenalty: true
        PeriodID: 6
        Sequence: 3
        PenaltyMinutes: 9
        PenaltyID: 8
        DrawnByPlayerID: 5
        TimeRemainingSeconds: 1
        PenalizedTeamID: 6
        PenalizedPlayerID: 9
        BenchPenaltyServedByPlayerID: 4
      properties:
        BenchPenaltyServedByPlayerID:
          nullable: true
          title: BenchPenaltyServedByPlayerID
          type: integer
        Description:
          nullable: true
          title: Description
          type: string
        DrawnByPlayerID:
          nullable: true
          title: DrawnByPlayerID
          type: integer
        DrawnByTeamID:
          nullable: true
          title: DrawnByTeamID
          type: integer
        IsBenchPenalty:
          nullable: true
          title: IsBenchPenalty
          type: boolean
        PenalizedPlayerID:
          nullable: true
          title: PenalizedPlayerID
          type: integer
        PenalizedTeamID:
          nullable: true
          title: PenalizedTeamID
          type: integer
        PenaltyID:
          nullable: false
          title: PenaltyID
          type: integer
        PenaltyMinutes:
          nullable: true
          title: PenaltyMinutes
          type: integer
        PeriodID:
          nullable: false
          title: PeriodID
          type: integer
        Sequence:
          nullable: true
          title: Sequence
          type: integer
        TimeRemainingMinutes:
          nullable: true
          title: TimeRemainingMinutes
          type: integer
        TimeRemainingSeconds:
          nullable: true
          title: TimeRemainingSeconds
          type: integer
      title: Penalty
    Period:
      example:
        HomeScore: 1
        ScoringPlays:
        - EmptyNet: true
          ShortHanded: true
          TimeRemainingMinutes: 0
          PowerPlay: true
          AssistedByPlayerID2: 5
          AssistedByPlayerID1: 6
          PeriodID: 3
          Sequence: 6
          TimeRemainingSeconds: 4
          HomeTeamScore: 3
          AwayTeamScore: 6
          ScoringPlayID: 7
          AllowedByTeamID: 6
          ScoredByTeamID: 0
          ScoredByPlayerID: 7
        - EmptyNet: true
          ShortHanded: true
          TimeRemainingMinutes: 0
          PowerPlay: true
          AssistedByPlayerID2: 5
          AssistedByPlayerID1: 6
          PeriodID: 3
          Sequence: 6
          TimeRemainingSeconds: 4
          HomeTeamScore: 3
          AwayTeamScore: 6
          ScoringPlayID: 7
          AllowedByTeamID: 6
          ScoredByTeamID: 0
          ScoredByPlayerID: 7
        Penalties:
        - Description: Description
          TimeRemainingMinutes: 6
          DrawnByTeamID: 9
          IsBenchPenalty: true
          PeriodID: 6
          Sequence: 3
          PenaltyMinutes: 9
          PenaltyID: 8
          DrawnByPlayerID: 5
          TimeRemainingSeconds: 1
          PenalizedTeamID: 6
          PenalizedPlayerID: 9
          BenchPenaltyServedByPlayerID: 4
        - Description: Description
          TimeRemainingMinutes: 6
          DrawnByTeamID: 9
          IsBenchPenalty: true
          PeriodID: 6
          Sequence: 3
          PenaltyMinutes: 9
          PenaltyID: 8
          DrawnByPlayerID: 5
          TimeRemainingSeconds: 1
          PenalizedTeamID: 6
          PenalizedPlayerID: 9
          BenchPenaltyServedByPlayerID: 4
        AwayScore: 6
        PeriodID: 2
        GameID: 7
        Name: Name
      properties:
        AwayScore:
          nullable: true
          title: AwayScore
          type: integer
        GameID:
          nullable: false
          title: GameID
          type: integer
        HomeScore:
          nullable: true
          title: HomeScore
          type: integer
        Name:
          nullable: true
          title: Name
          type: string
        Penalties:
          items:
            $ref: '#/components/schemas/Penalty'
          title: Penalties
          type: array
        PeriodID:
          nullable: false
          title: PeriodID
          type: integer
        ScoringPlays:
          items:
            $ref: '#/components/schemas/ScoringPlay'
          title: ScoringPlays
          type: array
      title: Period
    Player:
      example:
        PlayerID: 3
        FantasyDraftPlayerID: 5
        InjuryStartDate: InjuryStartDate
        YahooName: YahooName
        GlobalTeamID: 2
        FanDuelName: FanDuelName
        RotoworldPlayerID: 4
        TeamID: 1
        InjuryStatus: InjuryStatus
        UsaTodayHeadshotUpdated: UsaTodayHeadshotUpdated
        Catches: Catches
        SportsDirectPlayerID: 7
        DraftKingsPlayerID: 6
        UsaTodayPlayerID: 1
        DepthChartPosition: DepthChartPosition
        UsaTodayHeadshotNoBackgroundUpdated: UsaTodayHeadshotNoBackgroundUpdated
        Height: 7
        Team: Team
        Jersey: 9
        PhotoUrl: PhotoUrl
        Shoots: Shoots
        YahooPlayerID: 1
        FantasyDraftName: FantasyDraftName
        StatsPlayerID: 1
        Status: Status
        Position: Position
        FanDuelPlayerID: 1
        FirstName: FirstName
        UsaTodayHeadshotNoBackgroundUrl: UsaTodayHeadshotNoBackgroundUrl
        UsaTodayHeadshotUrl: UsaTodayHeadshotUrl
        BirthState: BirthState
        XmlTeamPlayerID: 7
        DraftKingsName: DraftKingsName
        InjuryBodyPart: InjuryBodyPart
        Weight: 6
        InjuryNotes: InjuryNotes
        RotoWirePlayerID: 2
        DepthChartOrder: 0
        FantasyAlarmPlayerID: 5
        SportRadarPlayerID: SportRadarPlayerID
        BirthCity: BirthCity
        LastName: LastName
        BirthDate: BirthDate
      properties:
        BirthCity:
          nullable: true
          title: BirthCity
          type: string
        BirthDate:
          nullable: true
          title: BirthDate
          type: string
        BirthState:
          nullable: true
          title: BirthState
          type: string
        Catches:
          nullable: true
          title: Catches
          type: string
        DepthChartOrder:
          nullable: true
          title: DepthChartOrder
          type: integer
        DepthChartPosition:
          nullable: true
          title: DepthChartPosition
          type: string
        DraftKingsName:
          nullable: true
          title: DraftKingsName
          type: string
        DraftKingsPlayerID:
          nullable: true
          title: DraftKingsPlayerID
          type: integer
        FanDuelName:
          nullable: true
          title: FanDuelName
          type: string
        FanDuelPlayerID:
          nullable: true
          title: FanDuelPlayerID
          type: integer
        FantasyAlarmPlayerID:
          nullable: true
          title: FantasyAlarmPlayerID
          type: integer
        FantasyDraftName:
          nullable: true
          title: FantasyDraftName
          type: string
        FantasyDraftPlayerID:
          nullable: true
          title: FantasyDraftPlayerID
          type: integer
        FirstName:
          nullable: true
          title: FirstName
          type: string
        GlobalTeamID:
          nullable: true
          title: GlobalTeamID
          type: integer
        Height:
          nullable: true
          title: Height
          type: integer
        InjuryBodyPart:
          nullable: true
          title: InjuryBodyPart
          type: string
        InjuryNotes:
          nullable: true
          title: InjuryNotes
          type: string
        InjuryStartDate:
          nullable: true
          title: InjuryStartDate
          type: string
        InjuryStatus:
          nullable: true
          title: InjuryStatus
          type: string
        Jersey:
          nullable: true
          title: Jersey
          type: integer
        LastName:
          nullable: true
          title: LastName
          type: string
        PhotoUrl:
          nullable: true
          title: PhotoUrl
          type: string
        PlayerID:
          nullable: false
          title: PlayerID
          type: integer
        Position:
          nullable: true
          title: Position
          type: string
        RotoWirePlayerID:
          nullable: true
          title: RotoWirePlayerID
          type: integer
        RotoworldPlayerID:
          nullable: true
          title: RotoworldPlayerID
          type: integer
        Shoots:
          nullable: true
          title: Shoots
          type: string
        SportRadarPlayerID:
          nullable: true
          title: SportRadarPlayerID
          type: string
        SportsDirectPlayerID:
          nullable: true
          title: SportsDirectPlayerID
          type: integer
        StatsPlayerID:
          nullable: true
          title: StatsPlayerID
          type: integer
        Status:
          nullable: true
          title: Status
          type: string
        Team:
          nullable: true
          title: Team
          type: string
        TeamID:
          nullable: true
          title: TeamID
          type: integer
        UsaTodayHeadshotNoBackgroundUpdated:
          nullable: true
          title: UsaTodayHeadshotNoBackgroundUpdated
          type: string
        UsaTodayHeadshotNoBackgroundUrl:
          nullable: true
          title: UsaTodayHeadshotNoBackgroundUrl
          type: string
        UsaTodayHeadshotUpdated:
          nullable: true
          title: UsaTodayHeadshotUpdated
          type: string
        UsaTodayHeadshotUrl:
          nullable: true
          title: UsaTodayHeadshotUrl
          type: string
        UsaTodayPlayerID:
          nullable: true
          title: UsaTodayPlayerID
          type: integer
        Weight:
          nullable: true
          title: Weight
          type: integer
        XmlTeamPlayerID:
          nullable: true
          title: XmlTeamPlayerID
          type: integer
        YahooName:
          nullable: true
          title: YahooName
          type: string
        YahooPlayerID:
          nullable: true
          title: YahooPlayerID
          type: integer
      title: Player
    PlayerBasic:
      example:
        Status: Status
        PlayerID: 5
        Position: Position
        FirstName: FirstName
        GlobalTeamID: 0
        BirthState: BirthState
        TeamID: 5
        Weight: 2
        BirthCity: BirthCity
        Height: 6
        Team: Team
        Jersey: 1
        LastName: LastName
        BirthDate: BirthDate
      properties:
        BirthCity:
          nullable: true
          title: BirthCity
          type: string
        BirthDate:
          nullable: true
          title: BirthDate
          type: string
        BirthState:
          nullable: true
          title: BirthState
          type: string
        FirstName:
          nullable: true
          title: FirstName
          type: string
        GlobalTeamID:
          nullable: true
          title: GlobalTeamID
          type: integer
        Height:
          nullable: true
          title: Height
          type: integer
        Jersey:
          nullable: true
          title: Jersey
          type: integer
        LastName:
          nullable: true
          title: LastName
          type: string
        PlayerID:
          nullable: false
          title: PlayerID
          type: integer
        Position:
          nullable: true
          title: Position
          type: string
        Status:
          nullable: true
          title: Status
          type: string
        Team:
          nullable: true
          title: Team
          type: string
        TeamID:
          nullable: true
          title: TeamID
          type: integer
        Weight:
          nullable: true
          title: Weight
          type: integer
      title: PlayerBasic
    ScheduleBasic:
      example:
        Status: Status
        AwayTeam: AwayTeam
        GameEndDateTime: GameEndDateTime
        HomeTeam: HomeTeam
        Updated: Updated
        HomeTeamID: 7
        AwayTeamID: 0
        IsClosed: true
        DateTime: DateTime
        NeutralVenue: true
        StadiumID: 4
        SeriesInfo:
          GameNumber: 3
          MaxLength: 0
          AwayTeamWins: 5
          HomeTeamWins: 4
        SeasonType: 2
        HomeTeamScore: 9
        AwayTeamScore: 6
        GlobalAwayTeamID: 5
        DateTimeUTC: DateTimeUTC
        GlobalHomeTeamID: 2
        Season: 3
        Day: Day
        GameID: 1
        GlobalGameID: 5
      properties:
        AwayTeam:
          nullable: true
          title: AwayTeam
          type: string
        AwayTeamID:
          nullable: false
          title: AwayTeamID
          type: integer
        AwayTeamScore:
          nullable: true
          title: AwayTeamScore
          type: integer
        DateTime:
          nullable: true
          title: DateTime
          type: string
        DateTimeUTC:
          nullable: true
          title: DateTimeUTC
          type: string
        Day:
          nullable: true
          title: Day
          type: string
        GameEndDateTime:
          nullable: true
          title: GameEndDateTime
          type: string
        GameID:
          nullable: false
          title: GameID
          type: integer
        GlobalAwayTeamID:
          nullable: false
          title: GlobalAwayTeamID
          type: integer
        GlobalGameID:
          nullable: false
          title: GlobalGameID
          type: integer
        GlobalHomeTeamID:
          nullable: false
          title: GlobalHomeTeamID
          type: integer
        HomeTeam:
          nullable: true
          title: HomeTeam
          type: string
        HomeTeamID:
          nullable: false
          title: HomeTeamID
          type: integer
        HomeTeamScore:
          nullable: true
          title: HomeTeamScore
          type: integer
        IsClosed:
          nullable: true
          title: IsClosed
          type: boolean
        NeutralVenue:
          nullable: true
          title: NeutralVenue
          type: boolean
        Season:
          nullable: false
          title: Season
          type: integer
        SeasonType:
          nullable: false
          title: SeasonType
          type: integer
        SeriesInfo:
          $ref: '#/components/schemas/Series'
        StadiumID:
          nullable: true
          title: StadiumID
          type: integer
        Status:
          nullable: true
          title: Status
          type: string
        Updated:
          nullable: true
          title: Updated
          type: string
      title: ScheduleBasic
    ScoreBasic:
      example:
        Status: Status
        AwayTeam: AwayTeam
        GameEndDateTime: GameEndDateTime
        HomeTeam: HomeTeam
        Updated: Updated
        HomeTeamID: 5
        AwayTeamID: 0
        IsClosed: true
        DateTime: DateTime
        StadiumID: 9
        SeasonType: 7
        HomeTeamScore: 5
        AwayTeamScore: 6
        Season: 2
        Day: Day
        GameID: 1
      properties:
        AwayTeam:
          nullable: true
          title: AwayTeam
          type: string
        AwayTeamID:
          nullable: false
          title: AwayTeamID
          type: integer
        AwayTeamScore:
          nullable: true
          title: AwayTeamScore
          type: integer
        DateTime:
          nullable: true
          title: DateTime
          type: string
        Day:
          nullable: true
          title: Day
          type: string
        GameEndDateTime:
          nullable: true
          title: GameEndDateTime
          type: string
        GameID:
          nullable: false
          title: GameID
          type: integer
        HomeTeam:
          nullable: true
          title: HomeTeam
          type: string
        HomeTeamID:
          nullable: false
          title: HomeTeamID
          type: integer
        HomeTeamScore:
          nullable: true
          title: HomeTeamScore
          type: integer
        IsClosed:
          nullable: true
          title: IsClosed
          type: boolean
        Season:
          nullable: false
          title: Season
          type: integer
        SeasonType:
          nullable: false
          title: SeasonType
          type: integer
        StadiumID:
          nullable: true
          title: StadiumID
          type: integer
        Status:
          nullable: true
          title: Status
          type: string
        Updated:
          nullable: true
          title: Updated
          type: string
      title: ScoreBasic
    ScoringPlay:
      example:
        EmptyNet: true
        ShortHanded: true
        TimeRemainingMinutes: 0
        PowerPlay: true
        AssistedByPlayerID2: 5
        AssistedByPlayerID1: 6
        PeriodID: 3
        Sequence: 6
        TimeRemainingSeconds: 4
        HomeTeamScore: 3
        AwayTeamScore: 6
        ScoringPlayID: 7
        AllowedByTeamID: 6
        ScoredByTeamID: 0
        ScoredByPlayerID: 7
      properties:
        AllowedByTeamID:
          nullable: true
          title: AllowedByTeamID
          type: integer
        AssistedByPlayerID1:
          nullable: true
          title: AssistedByPlayerID1
          type: integer
        AssistedByPlayerID2:
          nullable: true
          title: AssistedByPlayerID2
          type: integer
        AwayTeamScore:
          nullable: true
          title: AwayTeamScore
          type: integer
        EmptyNet:
          nullable: true
          title: EmptyNet
          type: boolean
        HomeTeamScore:
          nullable: true
          title: HomeTeamScore
          type: integer
        PeriodID:
          nullable: false
          title: PeriodID
          type: integer
        PowerPlay:
          nullable: true
          title: PowerPlay
          type: boolean
        ScoredByPlayerID:
          nullable: true
          title: ScoredByPlayerID
          type: integer
        ScoredByTeamID:
          nullable: true
          title: ScoredByTeamID
          type: integer
        ScoringPlayID:
          nullable: false
          title: ScoringPlayID
          type: integer
        Sequence:
          nullable: true
          title: Sequence
          type: integer
        ShortHanded:
          nullable: true
          title: ShortHanded
          type: boolean
        TimeRemainingMinutes:
          nullable: true
          title: TimeRemainingMinutes
          type: integer
        TimeRemainingSeconds:
          nullable: true
          title: TimeRemainingSeconds
          type: integer
      title: ScoringPlay
    Season:
      example:
        Description: Description
        SeasonType: SeasonType
        EndYear: 0
        RegularSeasonStartDate: RegularSeasonStartDate
        StartYear: 1
        PostSeasonStartDate: PostSeasonStartDate
        ApiSeason: ApiSeason
        Season: 6
      properties:
        ApiSeason:
          nullable: true
          title: ApiSeason
          type: string
        Description:
          nullable: true
          title: Description
          type: string
        EndYear:
          nullable: false
          title: EndYear
          type: integer
        PostSeasonStartDate:
          nullable: true
          title: PostSeasonStartDate
          type: string
        RegularSeasonStartDate:
          nullable: true
          title: RegularSeasonStartDate
          type: string
        Season:
          nullable: false
          title: Season
          type: integer
        SeasonType:
          nullable: true
          title: SeasonType
          type: string
        StartYear:
          nullable: false
          title: StartYear
          type: integer
      title: Season
    Series:
      example:
        GameNumber: 3
        MaxLength: 0
        AwayTeamWins: 5
        HomeTeamWins: 4
      properties:
        AwayTeamWins:
          nullable: false
          title: AwayTeamWins
          type: integer
        GameNumber:
          nullable: false
          title: GameNumber
          type: integer
        HomeTeamWins:
          nullable: false
          title: HomeTeamWins
          type: integer
        MaxLength:
          nullable: false
          title: MaxLength
          type: integer
      title: Series
    Stadium:
      example:
        Zip: Zip
        Active: true
        Address: Address
        GeoLat: 6.027456183070403
        Capacity: 0
        State: State
        Country: Country
        GeoLong: 1.4658129805029452
        City: City
        Name: Name
        StadiumID: 5
      properties:
        Active:
          nullable: false
          title: Active
          type: boolean
        Address:
          nullable: true
          title: Address
          type: string
        Capacity:
          nullable: true
          title: Capacity
          type: integer
        City:
          nullable: true
          title: City
          type: string
        Country:
          nullable: true
          title: Country
          type: string
        GeoLat:
          nullable: true
          title: GeoLat
          type: number
        GeoLong:
          nullable: true
          title: GeoLong
          type: number
        Name:
          nullable: true
          title: Name
          type: string
        StadiumID:
          nullable: false
          title: StadiumID
          type: integer
        State:
          nullable: true
          title: State
          type: string
        Zip:
          nullable: true
          title: Zip
          type: string
      title: Stadium
    Standing:
      example:
        ShutoutWins: 1
        ConferenceLosses: 0
        ConferenceRank: 6
        DivisionRank: 5
        Percentage: 2.027123023002322
        DivisionLosses: 5
        OvertimeLosses: 3
        GlobalTeamID: 7
        City: City
        TeamID: 1
        Conference: Conference
        Name: Name
        Losses: 9
        SeasonType: 7
        Division: Division
        DivisionWins: 2
        ConferenceWins: 1
        Season: 4
        Key: Key
        Wins: 1
      properties:
        City:
          nullable: true
          title: City
          type: string
        Conference:
          nullable: true
          title: Conference
          type: string
        ConferenceLosses:
          nullable: true
          title: ConferenceLosses
          type: integer
        ConferenceRank:
          nullable: true
          title: ConferenceRank
          type: integer
        ConferenceWins:
          nullable: true
          title: ConferenceWins
          type: integer
        Division:
          nullable: true
          title: Division
          type: string
        DivisionLosses:
          nullable: true
          title: DivisionLosses
          type: integer
        DivisionRank:
          nullable: true
          title: DivisionRank
          type: integer
        DivisionWins:
          nullable: true
          title: DivisionWins
          type: integer
        GlobalTeamID:
          nullable: true
          title: GlobalTeamID
          type: integer
        Key:
          nullable: true
          title: Key
          type: string
        Losses:
          nullable: true
          title: Losses
          type: integer
        Name:
          nullable: true
          title: Name
          type: string
        OvertimeLosses:
          nullable: true
          title: OvertimeLosses
          type: integer
        Percentage:
          nullable: true
          title: Percentage
          type: number
        Season:
          nullable: false
          title: Season
          type: integer
        SeasonType:
          nullable: false
          title: SeasonType
          type: integer
        ShutoutWins:
          nullable: true
          title: ShutoutWins
          type: integer
        TeamID:
          nullable: false
          title: TeamID
          type: integer
        Wins:
          nullable: true
          title: Wins
          type: integer
      title: Standing
    Team:
      example:
        WikipediaLogoUrl: WikipediaLogoUrl
        GlobalTeamID: 0
        TertiaryColor: TertiaryColor
        City: City
        TeamID: 1
        Conference: Conference
        Name: Name
        StadiumID: 6
        Active: true
        PrimaryColor: PrimaryColor
        WikipediaWordMarkUrl: WikipediaWordMarkUrl
        SecondaryColor: SecondaryColor
        Division: Division
        Key: Key
        QuaternaryColor: QuaternaryColor
      properties:
        Active:
          nullable: false
          title: Active
          type: boolean
        City:
          nullable: true
          title: City
          type: string
        Conference:
          nullable: true
          title: Conference
          type: string
        Division:
          nullable: true
          title: Division
          type: string
        GlobalTeamID:
          nullable: false
          title: GlobalTeamID
          type: integer
        Key:
          nullable: true
          title: Key
          type: string
        Name:
          nullable: true
          title: Name
          type: string
        PrimaryColor:
          nullable: true
          title: PrimaryColor
          type: string
        QuaternaryColor:
          nullable: true
          title: QuaternaryColor
          type: string
        SecondaryColor:
          nullable: true
          title: SecondaryColor
          type: string
        StadiumID:
          nullable: true
          title: StadiumID
          type: integer
        TeamID:
          nullable: false
          title: TeamID
          type: integer
        TertiaryColor:
          nullable: true
          title: TertiaryColor
          type: string
        WikipediaLogoUrl:
          nullable: true
          title: WikipediaLogoUrl
          type: string
        WikipediaWordMarkUrl:
          nullable: true
          title: WikipediaWordMarkUrl
          type: string
      title: Team
    TeamGame:
      example:
        ShootoutGoals: 4.652396432933246
        GoaltendingShotsAgainst: 9.018348186070783
        GlobalTeamID: 7
        DateTime: DateTime
        Minutes: 6
        ShortHandedAssists: 8.969578798196912
        Name: Name
        PlusMinus: 3.353193347011243
        ShotsOnGoal: 3.0205796992916243
        GoaltendingMinutes: 9
        PowerPlayAssists: 3.0937452626664474
        Takeaways: 5.533258397034986
        ShortHandedGoals: 7.740351818741173
        Wins: 4
        GameID: 7
        FaceoffsLost: 5.637376656633329
        GoaltendingOvertimeLosses: 9.369310271410669
        Updated: Updated
        FaceoffsWon: 2.3021358869347655
        FantasyPointsFanDuel: 3.616076749251911
        PenaltyMinutes: 6.704019297950036
        OpponentID: 6
        Assists: 0.8008281904610115
        Losses: 2
        GoaltendingWins: 3.5571952270680973
        FantasyPointsDraftKings: 9.301444243932576
        GoaltendingGoalsAgainst: 4.965218492984954
        Games: 1
        Goals: 1.1730742509559433
        StatID: 7
        Hits: 1.284659006116532
        Started: 3
        GoaltendingSeconds: 8
        IsGameOver: true
        GoaltendingLosses: 5.025004791520295
        FantasyPointsYahoo: 4.145608029883936
        TeamID: 3
        EmptyNetGoals: 5.962133916683182
        PowerPlayGoals: 7.143538047012306
        FantasyPointsFantasyDraft: 2.027123023002322
        GlobalOpponentID: 6
        GoaltendingSaves: 6.683562403749608
        Opponent: Opponent
        Team: Team
        Season: 0
        Shifts: 0.10263654006109402
        GlobalGameID: 1
        FantasyPoints: 7.061401241503109
        Blocks: 1.4658129805029452
        BenchPenaltyMinutes: 6.027456183070403
        OvertimeLosses: 5
        Giveaways: 1.0246457001441578
        HatTricks: 6.965117697638846
        HomeOrAway: HomeOrAway
        GoaltendingShutouts: 6.438423552598547
        SeasonType: 7
        Seconds: 6
        Day: Day
      properties:
        Assists:
          nullable: true
          title: Assists
          type: number
        BenchPenaltyMinutes:
          nullable: true
          title: BenchPenaltyMinutes
          type: number
        Blocks:
          nullable: true
          title: Blocks
          type: number
        DateTime:
          nullable: true
          title: DateTime
          type: string
        Day:
          nullable: true
          title: Day
          type: string
        EmptyNetGoals:
          nullable: true
          title: EmptyNetGoals
          type: number
        FaceoffsLost:
          nullable: true
          title: FaceoffsLost
          type: number
        FaceoffsWon:
          nullable: true
          title: FaceoffsWon
          type: number
        FantasyPoints:
          nullable: true
          title: FantasyPoints
          type: number
        FantasyPointsDraftKings:
          nullable: true
          title: FantasyPointsDraftKings
          type: number
        FantasyPointsFanDuel:
          nullable: true
          title: FantasyPointsFanDuel
          type: number
        FantasyPointsFantasyDraft:
          nullable: true
          title: FantasyPointsFantasyDraft
          type: number
        FantasyPointsYahoo:
          nullable: true
          title: FantasyPointsYahoo
          type: number
        GameID:
          nullable: true
          title: GameID
          type: integer
        Games:
          nullable: true
          title: Games
          type: integer
        Giveaways:
          nullable: true
          title: Giveaways
          type: number
        GlobalGameID:
          nullable: true
          title: GlobalGameID
          type: integer
        GlobalOpponentID:
          nullable: true
          title: GlobalOpponentID
          type: integer
        GlobalTeamID:
          nullable: true
          title: GlobalTeamID
          type: integer
        Goals:
          nullable: true
          title: Goals
          type: number
        GoaltendingGoalsAgainst:
          nullable: true
          title: GoaltendingGoalsAgainst
          type: number
        GoaltendingLosses:
          nullable: true
          title: GoaltendingLosses
          type: number
        GoaltendingMinutes:
          nullable: true
          title: GoaltendingMinutes
          type: integer
        GoaltendingOvertimeLosses:
          nullable: true
          title: GoaltendingOvertimeLosses
          type: number
        GoaltendingSaves:
          nullable: true
          title: GoaltendingSaves
          type: number
        GoaltendingSeconds:
          nullable: true
          title: GoaltendingSeconds
          type: integer
        GoaltendingShotsAgainst:
          nullable: true
          title: GoaltendingShotsAgainst
          type: number
        GoaltendingShutouts:
          nullable: true
          title: GoaltendingShutouts
          type: number
        GoaltendingWins:
          nullable: true
          title: GoaltendingWins
          type: number
        HatTricks:
          nullable: true
          title: HatTricks
          type: number
        Hits:
          nullable: true
          title: Hits
          type: number
        HomeOrAway:
          nullable: true
          title: HomeOrAway
          type: string
        IsGameOver:
          nullable: false
          title: IsGameOver
          type: boolean
        Losses:
          nullable: true
          title: Losses
          type: integer
        Minutes:
          nullable: true
          title: Minutes
          type: integer
        Name:
          nullable: true
          title: Name
          type: string
        Opponent:
          nullable: true
          title: Opponent
          type: string
        OpponentID:
          nullable: true
          title: OpponentID
          type: integer
        OvertimeLosses:
          nullable: true
          title: OvertimeLosses
          type: integer
        PenaltyMinutes:
          nullable: true
          title: PenaltyMinutes
          type: number
        PlusMinus:
          nullable: true
          title: PlusMinus
          type: number
        PowerPlayAssists:
          nullable: true
          title: PowerPlayAssists
          type: number
        PowerPlayGoals:
          nullable: true
          title: PowerPlayGoals
          type: number
        Season:
          nullable: true
          title: Season
          type: integer
        SeasonType:
          nullable: true
          title: SeasonType
          type: integer
        Seconds:
          nullable: true
          title: Seconds
          type: integer
        Shifts:
          nullable: true
          title: Shifts
          type: number
        ShootoutGoals:
          nullable: true
          title: ShootoutGoals
          type: number
        ShortHandedAssists:
          nullable: true
          title: ShortHandedAssists
          type: number
        ShortHandedGoals:
          nullable: true
          title: ShortHandedGoals
          type: number
        ShotsOnGoal:
          nullable: true
          title: ShotsOnGoal
          type: number
        Started:
          nullable: true
          title: Started
          type: integer
        StatID:
          nullable: false
          title: StatID
          type: integer
        Takeaways:
          nullable: true
          title: Takeaways
          type: number
        Team:
          nullable: true
          title: Team
          type: string
        TeamID:
          nullable: true
          title: TeamID
          type: integer
        Updated:
          nullable: true
          title: Updated
          type: string
        Wins:
          nullable: true
          title: Wins
          type: integer
      title: TeamGame
    TeamSeason:
      example:
        ShootoutGoals: 7.606863723092579
        GoaltendingShotsAgainst: 9.369310271410669
        GlobalTeamID: 1
        Minutes: 6
        ShortHandedAssists: 3.7814124730767915
        Name: Name
        PlusMinus: 3.502657762086401
        ShotsOnGoal: 9.897492629215506
        GoaltendingMinutes: 1
        PowerPlayAssists: 9.183123594773994
        Takeaways: 0.4768402382624515
        ShortHandedGoals: 3.111202833403195
        Wins: 2
        OpponentPosition: OpponentPosition
        FaceoffsLost: 5.637376656633329
        GoaltendingOvertimeLosses: 4.965218492984954
        Updated: Updated
        FaceoffsWon: 2.3021358869347655
        FantasyPointsFanDuel: 3.616076749251911
        PenaltyMinutes: 1.8268702177058116
        Assists: 0.8008281904610115
        Losses: 3
        GoaltendingWins: 8.762042012749001
        FantasyPointsDraftKings: 9.301444243932576
        GoaltendingGoalsAgainst: 6.84685269835264
        Games: 7
        Goals: 1.4894159098541704
        StatID: 7
        Hits: 6.438423552598547
        Started: 5
        GoaltendingSeconds: 9
        GoaltendingLosses: 7.457744773683766
        FantasyPointsYahoo: 4.145608029883936
        TeamID: 3
        EmptyNetGoals: 5.962133916683182
        PowerPlayGoals: 8.761432466225475
        FantasyPointsFantasyDraft: 2.027123023002322
        GoaltendingSaves: 5.025004791520295
        Team: Team
        Season: 0
        Shifts: 8.37823741034869
        FantasyPoints: 7.061401241503109
        Blocks: 1.4658129805029452
        BenchPenaltyMinutes: 6.027456183070403
        OvertimeLosses: 9
        Giveaways: 1.2315135367772556
        HatTricks: 9.018348186070783
        GoaltendingShutouts: 6.683562403749608
        OpponentStat:
          ShootoutGoals: 4.459605034958679
          GoaltendingShotsAgainst: 4.078845849666752
          GlobalTeamID: 4
          Minutes: 7
          ShortHandedAssists: 3.901545264248647
          Name: Name
          PlusMinus: 9.702963800023566
          ShotsOnGoal: 2.9409642974827896
          GoaltendingMinutes: 3
          PowerPlayAssists: 0.5199002018724985
          Takeaways: 6.623518433804886
          ShortHandedGoals: 0.43431398824148815
          Wins: 8
          OpponentPosition: OpponentPosition
          FaceoffsLost: 5.944895607614016
          GoaltendingOvertimeLosses: 7.04836565559697
          Updated: Updated
          FaceoffsWon: 6.704019297950036
          FantasyPointsFanDuel: 7.143538047012306
          PenaltyMinutes: 0.8774076871421566
          Assists: 1.284659006116532
          Losses: 4
          GoaltendingWins: 6.628464275087742
          FantasyPointsDraftKings: 3.0937452626664474
          GoaltendingGoalsAgainst: 7.740351818741173
          Games: 6
          Goals: 8.969578798196912
          StatID: 8
          Hits: 1.041444916118296
          Started: 1
          GoaltendingSeconds: 3
          GoaltendingLosses: 3.0205796992916243
          FantasyPointsYahoo: 7.058770351582356
          TeamID: 4
          EmptyNetGoals: 6.878052220127876
          PowerPlayGoals: 7.933506881737151
          FantasyPointsFantasyDraft: 0.8851374739011653
          GoaltendingSaves: 5.533258397034986
          Team: Team
          Season: 5
          Shifts: 8.251625748923757
          FantasyPoints: 3.353193347011243
          Blocks: 6.778324963048013
          BenchPenaltyMinutes: 2.8841621266687802
          OvertimeLosses: 9
          Giveaways: 0.10263654006109402
          HatTricks: 4.258773108174356
          GoaltendingShutouts: 0.2025324113236393
          SeasonType: 4
          Seconds: 6
        SeasonType: 5
        Seconds: 5
      properties:
        Assists:
          nullable: true
          title: Assists
          type: number
        BenchPenaltyMinutes:
          nullable: true
          title: BenchPenaltyMinutes
          type: number
        Blocks:
          nullable: true
          title: Blocks
          type: number
        EmptyNetGoals:
          nullable: true
          title: EmptyNetGoals
          type: number
        FaceoffsLost:
          nullable: true
          title: FaceoffsLost
          type: number
        FaceoffsWon:
          nullable: true
          title: FaceoffsWon
          type: number
        FantasyPoints:
          nullable: true
          title: FantasyPoints
          type: number
        FantasyPointsDraftKings:
          nullable: true
          title: FantasyPointsDraftKings
          type: number
        FantasyPointsFanDuel:
          nullable: true
          title: FantasyPointsFanDuel
          type: number
        FantasyPointsFantasyDraft:
          nullable: true
          title: FantasyPointsFantasyDraft
          type: number
        FantasyPointsYahoo:
          nullable: true
          title: FantasyPointsYahoo
          type: number
        Games:
          nullable: true
          title: Games
          type: integer
        Giveaways:
          nullable: true
          title: Giveaways
          type: number
        GlobalTeamID:
          nullable: true
          title: GlobalTeamID
          type: integer
        Goals:
          nullable: true
          title: Goals
          type: number
        GoaltendingGoalsAgainst:
          nullable: true
          title: GoaltendingGoalsAgainst
          type: number
        GoaltendingLosses:
          nullable: true
          title: GoaltendingLosses
          type: number
        GoaltendingMinutes:
          nullable: true
          title: GoaltendingMinutes
          type: integer
        GoaltendingOvertimeLosses:
          nullable: true
          title: GoaltendingOvertimeLosses
          type: number
        GoaltendingSaves:
          nullable: true
          title: GoaltendingSaves
          type: number
        GoaltendingSeconds:
          nullable: true
          title: GoaltendingSeconds
          type: integer
        GoaltendingShotsAgainst:
          nullable: true
          title: GoaltendingShotsAgainst
          type: number
        GoaltendingShutouts:
          nullable: true
          title: GoaltendingShutouts
          type: number
        GoaltendingWins:
          nullable: true
          title: GoaltendingWins
          type: number
        HatTricks:
          nullable: true
          title: HatTricks
          type: number
        Hits:
          nullable: true
          title: Hits
          type: number
        Losses:
          nullable: true
          title: Losses
          type: integer
        Minutes:
          nullable: true
          title: Minutes
          type: integer
        Name:
          nullable: true
          title: Name
          type: string
        OpponentPosition:
          nullable: true
          title: OpponentPosition
          type: string
        OpponentStat:
          $ref: '#/components/schemas/OpponentSeason'
        OvertimeLosses:
          nullable: true
          title: OvertimeLosses
          type: integer
        PenaltyMinutes:
          nullable: true
          title: PenaltyMinutes
          type: number
        PlusMinus:
          nullable: true
          title: PlusMinus
          type: number
        PowerPlayAssists:
          nullable: true
          title: PowerPlayAssists
          type: number
        PowerPlayGoals:
          nullable: true
          title: PowerPlayGoals
          type: number
        Season:
          nullable: true
          title: Season
          type: integer
        SeasonType:
          nullable: true
          title: SeasonType
          type: integer
        Seconds:
          nullable: true
          title: Seconds
          type: integer
        Shifts:
          nullable: true
          title: Shifts
          type: number
        ShootoutGoals:
          nullable: true
          title: ShootoutGoals
          type: number
        ShortHandedAssists:
          nullable: true
          title: ShortHandedAssists
          type: number
        ShortHandedGoals:
          nullable: true
          title: ShortHandedGoals
          type: number
        ShotsOnGoal:
          nullable: true
          title: ShotsOnGoal
          type: number
        Started:
          nullable: true
          title: Started
          type: integer
        StatID:
          nullable: false
          title: StatID
          type: integer
        Takeaways:
          nullable: true
          title: Takeaways
          type: number
        Team:
          nullable: true
          title: Team
          type: string
        TeamID:
          nullable: true
          title: TeamID
          type: integer
        Updated:
          nullable: true
          title: Updated
          type: string
        Wins:
          nullable: true
          title: Wins
          type: integer
      title: TeamSeason
  securitySchemes:
    apiKeyHeader:
      in: header
      name: Ocp-Apim-Subscription-Key
      type: apiKey
      x-apikeyInfoFunc: openapi_server.controllers.security_controller.info_from_apiKeyHeader
    apiKeyQuery:
      in: query
      name: key
      type: apiKey
      x-apikeyInfoFunc: openapi_server.controllers.security_controller.info_from_apiKeyQuery
