openapi: 3.0.0
info:
  title: OpenChannel Market API
  version: 2.0.24
  x-origin:
  - format: swagger
    url: https://api.swaggerhub.com/apis/OpenChannel/Market-API/2.0.24
    version: "2.0"
  x-providerName: openchannel.io
  x-serviceName: market
servers:
- url: https://market.openchannel.io/v2
security:
- basicAuth: []
paths:
  /apps:
    get:
      description: |
        - Results are paginated and the default is value is 1000 if no limit is provided
        - If no query is specified, returns all APPROVED or SUSPENDED apps within the marketplace
      parameters:
      - description: "A query document. Example: {'name':'MyApp'} matches all the\
          \ apps that have the name 'MyApp'"
        explode: true
        in: query
        name: query
        required: false
        schema:
          type: string
        style: form
      - description: "A sort document. Example: {'name':1} sorts the results by name\
          \ in ascending order"
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - description: The result set page number to be returned
        explode: true
        in: query
        name: pageNumber
        required: false
        schema:
          type: integer
        style: form
      - description: The maximum number of results to return per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: The unique id of the user requesting this resource
        explode: true
        in: query
        name: userId
        required: false
        schema:
          type: string
        style: form
      - description: Whether this result should only contain apps that are owned by
          this user
        explode: true
        in: query
        name: isOwner
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "400":
          description: "Bad Request - Required parameters are missing, malformed or\
            \ invalid"
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AppPages'
          description: OK
      summary: Returns a paginated list of APPROVED or SUSPENDED apps
      tags:
      - "apps : Find and modify apps"
      x-accepts:
      - '*/*'
    post:
      description: |
        - This method is called on behalf of a developer.
        - Price is required if the model is 'single' or 'recurring'
        - Returns the newly created app
      parameters:
      - description: The unique id of the developer that is adding this app
        explode: true
        in: query
        name: developerId
        required: true
        schema:
          type: string
        style: form
      - description: The name of the app
        explode: true
        in: query
        name: name
        required: true
        schema:
          type: string
        style: form
      - description: The type for this app
        explode: true
        in: query
        name: type
        required: false
        schema:
          type: string
        style: form
      - description: A JSON object representing the pricing model type for this app
        explode: true
        in: query
        name: model
        required: false
        schema:
          type: string
        style: form
      - description: A custom JSON object that you can create and attach to this record
        explode: true
        in: query
        name: customData
        required: false
        schema:
          type: string
        style: form
      - description: A custom set of app attributes defined by the administrator and
          attached to this app
        explode: true
        in: query
        name: attributes
        required: false
        schema:
          type: string
        style: form
      - description: "JSON object to restrict users from owning or viewing this app.\
          \ Example: {'view':{'country':['Canada','Mexico']},'own':{'country':['Canada','Mexico']}}\
          \ restricts users from canada and mexico from viewing or owning this app"
        explode: true
        in: query
        name: restrict
        required: false
        schema:
          type: string
        style: form
      - description: "JSON object to restrict users from owning or viewing this app.\
          \ Example: {'view':{'country':['Canada','Mexico']},'own':{'country':['Canada','Mexico']}}\
          \ restricts users from canada and mexico from viewing or owning this app"
        explode: true
        in: query
        name: allow
        required: false
        schema:
          type: string
        style: form
      - description: JSON array of data access requirements
        explode: true
        in: query
        name: access
        required: false
        schema:
          type: string
        style: form
      responses:
        "400":
          description: "Bad Request - Required parameters are missing, malformed or\
            \ invalid"
        "409":
          description: Already Exists - An app with this name already exists
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AppVersion'
          description: OK
      summary: Adds a new app for this developer
      tags:
      - "apps : Find and modify apps"
      x-accepts:
      - '*/*'
  /apps/bySafeName/{safeName}:
    get:
      description: |
        - A 'view' event is recorded when trackViews is set to true
      parameters:
      - description: The safeName of the App to be located
        explode: false
        in: path
        name: safeName
        required: true
        schema:
          type: string
        style: simple
      - description: The unique id of the user that is requesting this resource
        explode: true
        in: query
        name: userId
        required: false
        schema:
          type: string
        style: form
      - description: Whether this call should be tracked as a 'view' for this app.
          Default is false.
        explode: true
        in: query
        name: trackViews
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "400":
          description: "Bad Request - Required parameters are missing, malformed or\
            \ invalid"
        "404":
          description: Not Found - The App is either restricted or was not found
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/App'
          description: OK
      summary: Returns a single APPROVED or SUSPENDED app
      tags:
      - "apps : Find and modify apps"
      x-accepts:
      - '*/*'
  /apps/textSearch:
    get:
      description: |
        - Results are returned for the market provided within the basic authentication credentials
      parameters:
      - description: "A query document. Example: {'name':'MyApp'} matches all the\
          \ documents that have the name 'MyApp'"
        explode: true
        in: query
        name: query
        required: false
        schema:
          type: string
        style: form
      - description: The text to search for.
        explode: true
        in: query
        name: text
        required: true
        schema:
          type: string
        style: form
      - description: "A JSON array containing all the fields to be searched through.\
          \ Example: ['name', 'customData.description']"
        explode: true
        in: query
        name: fields
        required: true
        schema:
          type: string
        style: form
      - description: The result set page number to be returned
        explode: true
        in: query
        name: pageNumber
        required: false
        schema:
          type: integer
        style: form
      - description: The maximum number of results to return per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: The unique id of the user requesting this resource
        explode: true
        in: query
        name: userId
        required: false
        schema:
          type: string
        style: form
      - description: Whether this result should only contain apps that are owned by
          this user
        explode: true
        in: query
        name: isOwned
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "400":
          description: "Bad Request - Required parameters are missing, malformed or\
            \ invalid"
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SearchPages'
          description: OK
      summary: Searches through the text of fields to find APPROVED or SUSPENDED apps
      tags:
      - "apps : Find and modify apps"
      x-accepts:
      - '*/*'
  /apps/versions:
    get:
      description: |
        - Results are paginated when limit is set, otherwise all results are returned
        - If no query is specified, returns all AppVersions within the marketplace
        - Only returns AppVersions owned by this developer
      parameters:
      - description: "A query document. Example: {'name':'MyApp'} matches all the\
          \ apps that have the name 'MyApp'"
        explode: true
        in: query
        name: query
        required: false
        schema:
          type: string
        style: form
      - description: "A sort document. Example: {'name':1} sorts the results by name\
          \ in ascending order"
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - description: The result set page number to be returned
        explode: true
        in: query
        name: pageNumber
        required: false
        schema:
          type: integer
        style: form
      - description: The maximum number of results to return per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: The unique id of the developer requesting this resource
        explode: true
        in: query
        name: developerId
        required: false
        schema:
          type: string
        style: form
      responses:
        "400":
          description: "Bad Request - Required parameters are missing, malformed or\
            \ invalid"
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/VersionPages'
          description: OK
      summary: Returns a paginated list of AppVersions
      tags:
      - "apps : Find and modify apps"
      x-accepts:
      - '*/*'
  /apps/{appId}:
    delete:
      description: |
        - This method is called on behalf of a developer.
      parameters:
      - description: The id of the App to be removed
        explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      - description: The unique id of the developer that is removing this app
        explode: true
        in: query
        name: developerId
        required: true
        schema:
          type: string
        style: form
      responses:
        "404":
          description: Not Found - App is not found
      summary: Removes app and all versions
      tags:
      - "apps : Find and modify apps"
      x-accepts:
      - application/json
    get:
      description: |
        - A 'view' event is recorded when trackViews is set to true
      parameters:
      - description: The id of the App to be located
        explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      - description: The unique id of the user that is requesting this resource
        explode: true
        in: query
        name: userId
        required: false
        schema:
          type: string
        style: form
      - description: Whether this call should be tracked as a 'view' for this app.
          Default is false.
        explode: true
        in: query
        name: trackViews
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "400":
          description: "Bad Request - Required parameters are missing, malformed or\
            \ invalid"
        "404":
          description: Not Found - The App is either restricted or was not found
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/App'
          description: OK
      summary: Returns a single APPROVED or SUSPENDED app
      tags:
      - "apps : Find and modify apps"
      x-accepts:
      - '*/*'
  /apps/{appId}/live:
    post:
      description: |
        - This method is called on behalf of a developer.
      parameters:
      - description: The id of the App to be changed
        explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      - description: The unique id of the developer that is changing this AppVersion
        explode: true
        in: query
        name: developerId
        required: true
        schema:
          type: string
        style: form
      - description: The new version of the live App
        explode: true
        in: query
        name: version
        required: true
        schema:
          type: string
        style: form
      responses:
        "400":
          description: "Bad Request - Required parameters are missing, malformed or\
            \ invalid"
        "404":
          description: Not Found - App is not found
      summary: "Change the live app to another, previously approved version"
      tags:
      - "apps : Find and modify apps"
      x-accepts:
      - application/json
  /apps/{appId}/publish:
    post:
      description: "- This method is called on behalf of a developer. \n- Only effects\
        \ the current working version of the app.\n"
      parameters:
      - description: The id of the app to be published
        explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      - description: The unique id of the developer that is modifying this app
        explode: true
        in: query
        name: developerId
        required: true
        schema:
          type: string
        style: form
      - description: The version of the app to be published
        explode: true
        in: query
        name: version
        required: true
        schema:
          type: integer
        style: form
      - description: "If true, this AppVersion is automatically approved and becomes\
          \ immediately available to end users"
        explode: true
        in: query
        name: autoApprove
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "202":
          description: Accepted - Publishing succeeded but there are restrictions
        "400":
          description: "Bad Request - Required parameters are missing, malformed or\
            \ invalid"
        "404":
          description: Not Found - App was not found
        "409":
          description: Conflict - An app with that name already exists
      summary: Publishes the current working version of the app to the marketplace
      tags:
      - "apps : Find and modify apps"
      x-accepts:
      - application/json
  /apps/{appId}/versions/{version}:
    delete:
      description: |
        - This method is called on behalf of a developer.
      parameters:
      - description: The id of the App to be removed
        explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      - description: The version of the App to be removed
        explode: false
        in: path
        name: version
        required: true
        schema:
          type: string
        style: simple
      - description: The unique id of the developer that is removing this app
        explode: true
        in: query
        name: developerId
        required: true
        schema:
          type: string
        style: form
      responses:
        "404":
          description: Not Found - App is not found
      summary: Removes AppVersion
      tags:
      - "apps : Find and modify apps"
      x-accepts:
      - application/json
    get:
      description: |
        - Only returns AppVersions owned by this developer
      parameters:
      - description: The id of the App to be located
        explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      - description: The version number of the app
        explode: false
        in: path
        name: version
        required: true
        schema:
          type: integer
        style: simple
      - description: The unique id of the developer that is requesting this resource
        explode: true
        in: query
        name: developerId
        required: false
        schema:
          type: string
        style: form
      responses:
        "400":
          description: "Bad Request - Required parameters are missing, malformed or\
            \ invalid"
        "404":
          description: Not Found - The App or version number was not found
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AppVersion'
          description: OK
      summary: Returns a single AppVersion
      tags:
      - "apps : Find and modify apps"
      x-accepts:
      - '*/*'
    patch:
      description: "- This method is called on behalf of a developer.\n- Price and\
        \ is required if the model is 'single' or 'recurring'\n- Returns the newly\
        \ updated app\n- This endpoint updates only the fields provided in the request\
        \ (relative update). In contrast, the POST version of this method replaces\
        \ the entire object to match the request (absolute update). \n"
      parameters:
      - description: The id of the App to be updated
        explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      - description: The version of the App to be updated
        explode: false
        in: path
        name: version
        required: true
        schema:
          type: string
        style: simple
      - description: The unique id of the developer that is updating this app
        explode: true
        in: query
        name: developerId
        required: true
        schema:
          type: string
        style: form
      - description: The name of the app
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: The type for this app
        explode: true
        in: query
        name: type
        required: false
        schema:
          type: string
        style: form
      - description: A JSON object representing the pricing model type for this app
        explode: true
        in: query
        name: model
        required: false
        schema:
          type: string
        style: form
      - description: A custom JSON object that you can create and attach to this record
        explode: true
        in: query
        name: customData
        required: false
        schema:
          type: string
        style: form
      - description: A custom set of app attributes defined by the administrator and
          attached to this app
        explode: true
        in: query
        name: attributes
        required: false
        schema:
          type: string
        style: form
      - description: "JSON object to restrict users from purchasing or viewing this\
          \ app. Example: {'view':{'country':['Canada','Mexico']},'purchase':{'country':['Canada','Mexico']}}\
          \ restricts users from canada and mexico from viewing or purchasing this\
          \ app"
        explode: true
        in: query
        name: restrict
        required: false
        schema:
          type: string
        style: form
      - description: "JSON object to allow users to purchase or view this app. Example:\
          \ {'purchase':{'country':['Canada','Mexico']}} allows only users from canada\
          \ and mexico to purchase this app"
        explode: true
        in: query
        name: allow
        required: false
        schema:
          type: string
        style: form
      - description: JSON array of data access requirements
        explode: true
        in: query
        name: access
        required: false
        schema:
          type: string
        style: form
      - description: False if updates should skip the approval process and be available
          immediately. Default is True
        explode: true
        in: query
        name: approvalRequired
        required: false
        schema:
          type: string
        style: form
      responses:
        "400":
          description: "Bad Request - Required parameters are missing, malformed or\
            \ invalid"
        "404":
          description: Not Found - App is not found
        "409":
          description: Already Exists - An app with this name already exists
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AppVersion'
          description: OK
      summary: Updates the app fields or creates a new version
      tags:
      - "apps : Find and modify apps"
      x-accepts:
      - '*/*'
    post:
      description: |
        - This method is called on behalf of a developer.
        - Price and is required if the model is 'single' or 'recurring'
        - Returns the newly updated app
        - This endpoint replaces the entire object to match the request (absolute update). In contrast, the PATCH version of this endpoint updates only the fields provided in the request (relative update).
      parameters:
      - description: The id of the App to be updated
        explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      - description: The version of the App to be updated
        explode: false
        in: path
        name: version
        required: true
        schema:
          type: string
        style: simple
      - description: The unique id of the developer that is updating this app
        explode: true
        in: query
        name: developerId
        required: true
        schema:
          type: string
        style: form
      - description: The name of the app
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: The type for this app
        explode: true
        in: query
        name: type
        required: false
        schema:
          type: string
        style: form
      - description: A JSON object representing the pricing model type for this app
        explode: true
        in: query
        name: model
        required: false
        schema:
          type: string
        style: form
      - description: A custom JSON object that you can create and attach to this record
        explode: true
        in: query
        name: customData
        required: false
        schema:
          type: string
        style: form
      - description: A custom set of app attributes defined by the administrator and
          attached to this app
        explode: true
        in: query
        name: attributes
        required: false
        schema:
          type: string
        style: form
      - description: "JSON object to restrict users from purchasing or viewing this\
          \ app. Example: {'view':{'country':['Canada','Mexico']},'purchase':{'country':['Canada','Mexico']}}\
          \ restricts users from canada and mexico from viewing or purchasing this\
          \ app"
        explode: true
        in: query
        name: restrict
        required: false
        schema:
          type: string
        style: form
      - description: "JSON object to allow users to purchase or view this app. Example:\
          \ {'purchase':{'country':['Canada','Mexico']}} allows only users from canada\
          \ and mexico to purchase this app"
        explode: true
        in: query
        name: allow
        required: false
        schema:
          type: string
        style: form
      - description: JSON array of data access requirements
        explode: true
        in: query
        name: access
        required: false
        schema:
          type: string
        style: form
      - description: False if updates should skip the approval process and be available
          immediately. Default is True
        explode: true
        in: query
        name: approvalRequired
        required: false
        schema:
          type: string
        style: form
      responses:
        "400":
          description: "Bad Request - Required parameters are missing, malformed or\
            \ invalid"
        "404":
          description: Not Found - App is not found
        "409":
          description: Already Exists - An app with this name already exists
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AppVersion'
          description: OK
      summary: Updates the app or creates a new version
      tags:
      - "apps : Find and modify apps"
      x-accepts:
      - '*/*'
  /apps/{appId}/versions/{version}/status:
    post:
      description: |
        Only certain status changes are allowed. For instance, a developer is only able to suspend and unsuspend their app (which must already be approved). See here for a state change diagram of allowed status changes for administrators: https://support.openchannel.io/documentation/api/#415-apps-status-change
      parameters:
      - description: The id of the App to be updated
        explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      - description: The version of the App to be updated
        explode: false
        in: path
        name: version
        required: true
        schema:
          type: integer
        style: simple
      - description: The unique id of the developer that is modifying this app
        explode: true
        in: query
        name: developerId
        required: false
        schema:
          type: string
        style: form
      - description: "The new status for this app. Can be either 'inReview', 'approved',\
          \ 'suspended' or 'rejected'"
        explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - inReview
          - approved
          - suspended
          - rejected
          type: string
        style: form
      - description: The role initiating this status change. Can be either 'developer'
          or 'administrator' (default)
        explode: true
        in: query
        name: modifiedBy
        required: false
        schema:
          default: administrator
          enum:
          - developer
          - administrator
          type: string
        style: form
      - description: The reason for this status change
        explode: true
        in: query
        name: reason
        required: false
        schema:
          type: string
        style: form
      responses:
        "400":
          description: "Bad Request - Required parameters are missing, malformed or\
            \ invalid"
        "404":
          description: Not Found - App is not found
        "412":
          description: Precondition Failed - The app's new status is not valid because
            of the app's current status
      summary: Allows a developer or administrator to change the status of apps
      tags:
      - "apps : Find and modify apps"
      x-accepts:
      - application/json
  /custom-gateway/payment/{ownershipId}:
    post:
      description: "- Results are returned for the market provided within the basic\
        \ authentication credentials \n- Payments must be enabled and 'Custom' must\
        \ be selected as the gateway in order to use this API endpoint\n"
      parameters:
      - description: The id of the ownership record involved in this transaction
        explode: false
        in: path
        name: ownershipId
        required: true
        schema:
          type: string
        style: simple
      - description: The total amount paid in cents
        explode: true
        in: query
        name: amount
        required: true
        schema:
          type: integer
        style: form
      - description: The date (in milliseconds) of when this payment was made
        explode: true
        in: query
        name: date
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: The fee (in cents) paid to a payment processors or third parties
          to process this payment. Default is 0.
        explode: true
        in: query
        name: feeAmount
        required: false
        schema:
          type: integer
        style: form
      - description: The amount (in cents) paid to the marketplace owner as a commission
          for the purchase of this app. Defaults based on the commission amount configured
          for this marketplace.
        explode: true
        in: query
        name: marketplaceAmount
        required: false
        schema:
          type: integer
        style: form
      - description: The amount (in cents) paid to the owner of the app. Defaults
          based on the commission amount configured for this marketplace.
        explode: true
        in: query
        name: developerAmount
        required: false
        schema:
          type: integer
        style: form
      - description: A custom JSON object to attach to this transaction
        explode: true
        in: query
        name: customData
        required: false
        schema:
          type: string
        style: form
      responses:
        "400":
          description: "Bad Request - Required parameters are missing, malformed or\
            \ invalid"
        "412":
          description: Precondition Failed - Payments must be enabled and 'Custom'
            must be selected as the gateway in order to use this API endpoint
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Transaction'
          description: OK
      summary: Adds a payment for an app on behalf of a user
      tags:
      - "custom-gateway : Process payments and refunds"
      x-accepts:
      - '*/*'
  /custom-gateway/refund/{ownershipId}:
    post:
      description: |
        - Results are returned for the market provided within the basic authentication credentials
        - Payments must be enabled and 'Custom' must be selected as the gateway in order to use this API endpoint
      parameters:
      - description: The id of the ownership record involved in this transaction
        explode: false
        in: path
        name: ownershipId
        required: true
        schema:
          type: string
        style: simple
      - description: The total amount refunded in cents
        explode: true
        in: query
        name: amount
        required: true
        schema:
          type: integer
        style: form
      - description: The date (in milliseconds) of when this refund was made
        explode: true
        in: query
        name: date
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: The fee (in cents) recovered from a payment processor or third
          party to process this payment. The default value is 0
        explode: true
        in: query
        name: feeAmount
        required: false
        schema:
          type: integer
        style: form
      - description: The amount (in cents) recovered from the marketplace owner as
          a commission refund for the purchase of this app
        explode: true
        in: query
        name: marketplaceAmount
        required: false
        schema:
          type: integer
        style: form
      - description: The amount (in cents) recovered from the owner of the app
        explode: true
        in: query
        name: developerAmount
        required: false
        schema:
          type: integer
        style: form
      - description: A custom JSON object to attach to this transaction
        explode: true
        in: query
        name: customData
        required: false
        schema:
          type: string
        style: form
      responses:
        "400":
          description: "Bad Request - Required parameters are missing, malformed or\
            \ invalid"
        "412":
          description: Precondition Failed - Payments must be enabled and 'Custom'
            must be selected as the gateway in order to use this API endpoint
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Transaction'
          description: OK
      summary: Fully or partially refund payment for an app on behalf of a user
      tags:
      - "custom-gateway : Process payments and refunds"
      x-accepts:
      - '*/*'
  /developerAccounts:
    get:
      description: |
        - Results are paginated and the default is value is 1000 if no limit is provided
      parameters:
      - description: "A query document. Example: {'name':'NASA'} matches all the developerAccounts\
          \ that have the name 'NASA'"
        explode: true
        in: query
        name: query
        required: false
        schema:
          type: string
        style: form
      - description: "A sort document. Example: {'name':1} sorts the results by name\
          \ in ascending order"
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - description: The result set page number to be returned
        explode: true
        in: query
        name: pageNumber
        required: false
        schema:
          type: integer
        style: form
      - description: The maximum number of results to return per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      responses:
        "400":
          description: "Bad Request - Required parameters are missing, malformed or\
            \ invalid"
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DeveloperAccountPages'
          description: OK
      summary: Returns a paginated list of developerAccounts
      tags:
      - "developerAccounts : Find and modify developer accounts"
      x-accepts:
      - '*/*'
  /developerAccounts/{developerAccountId}:
    delete:
      parameters:
      - description: The id of the developer account to be updated
        explode: false
        in: path
        name: developerAccountId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "400":
          description: "Bad Request - Required parameters are missing, malformed or\
            \ invalid"
        default:
          description: OK
      summary: Removes the developer account
      tags:
      - "developerAccounts : Find and modify developer accounts"
      x-accepts:
      - application/json
    get:
      parameters:
      - description: The id of the developer account to be located
        explode: false
        in: path
        name: developerAccountId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "400":
          description: "Bad Request - Required parameters are missing, malformed or\
            \ invalid"
        "404":
          description: Not Found - Developer account is not found
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DeveloperAccount'
          description: OK
      summary: Returns a single developer account
      tags:
      - "developerAccounts : Find and modify developer accounts"
      x-accepts:
      - '*/*'
    patch:
      parameters:
      - description: The id of the developer account to be updated
        explode: false
        in: path
        name: developerAccountId
        required: true
        schema:
          type: string
        style: simple
      - description: The id of the developer that this account belongs to
        explode: true
        in: query
        name: developerId
        required: true
        schema:
          type: string
        style: form
      - description: The contact email address
        explode: true
        in: query
        name: email
        required: false
        schema:
          type: string
        style: form
      - description: The name for the account
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: A custom JSON object that you can create and attach to this record
        explode: true
        in: query
        name: customData
        required: false
        schema:
          type: string
        style: form
      responses:
        "400":
          description: "Bad Request - Required parameters are missing, malformed or\
            \ invalid"
        "404":
          description: Not Found - The developer is not found
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DeveloperAccount'
          description: OK
      summary: Updates the developer account fields
      tags:
      - "developerAccounts : Find and modify developer accounts"
      x-accepts:
      - '*/*'
    post:
      parameters:
      - description: The id of the developer account to be updated
        explode: false
        in: path
        name: developerAccountId
        required: true
        schema:
          type: string
        style: simple
      - description: The id of the developer that this account belongs to
        explode: true
        in: query
        name: developerId
        required: true
        schema:
          type: string
        style: form
      - description: The contact email address
        explode: true
        in: query
        name: email
        required: false
        schema:
          type: string
        style: form
      - description: The name for the account
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: A custom JSON object that you can create and attach to this record
        explode: true
        in: query
        name: customData
        required: false
        schema:
          type: string
        style: form
      responses:
        "400":
          description: "Bad Request - Required parameters are missing, malformed or\
            \ invalid"
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DeveloperAccount'
          description: OK
      summary: Updates the developer account or adds the developer account if it doesn't
        exist
      tags:
      - "developerAccounts : Find and modify developer accounts"
      x-accepts:
      - '*/*'
  /developers:
    get:
      description: |
        - Results are paginated and the default is value is 100 if no limit is provided
      parameters:
      - description: "A query document. Example: {'name':'John'} matches all the developers\
          \ that have the name 'John'"
        explode: true
        in: query
        name: query
        required: false
        schema:
          type: string
        style: form
      - description: "A sort document. Example: {'name':1} sorts the results by name\
          \ in ascending order"
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - description: The result set page number to be returned
        explode: true
        in: query
        name: pageNumber
        required: false
        schema:
          type: integer
        style: form
      - description: The maximum number of results to return per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      responses:
        "400":
          description: "Bad Request - Required parameters are missing, malformed or\
            \ invalid"
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DeveloperPages'
          description: OK
      summary: Returns a paginated list of developers
      tags:
      - "developers : Find and modify developers"
      x-accepts:
      - '*/*'
  /developers/{developerId}:
    delete:
      parameters:
      - description: The id of the developer to be removed
        explode: false
        in: path
        name: developerId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "400":
          description: "Bad Request - Required parameters are missing, malformed or\
            \ invalid"
        "404":
          description: Not Found - Developer is not found
        default:
          description: OK
      summary: Removes a single developer
      tags:
      - "developers : Find and modify developers"
      x-accepts:
      - application/json
    get:
      parameters:
      - description: The id of the developer to be located
        explode: false
        in: path
        name: developerId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "400":
          description: "Bad Request - Required parameters are missing, malformed or\
            \ invalid"
        "404":
          description: Not Found - Developer is not found
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Developer'
          description: OK
      summary: Returns a single developer
      tags:
      - "developers : Find and modify developers"
      x-accepts:
      - '*/*'
    patch:
      parameters:
      - description: The id of the developer to be located
        explode: false
        in: path
        name: developerId
        required: true
        schema:
          type: string
        style: simple
      - description: The type for this developer
        explode: true
        in: query
        name: type
        required: false
        schema:
          type: string
        style: form
      - description: The developer's email
        explode: true
        in: query
        name: email
        required: false
        schema:
          type: string
        style: form
      - description: The developer's username
        explode: true
        in: query
        name: username
        required: false
        schema:
          type: string
        style: form
      - description: The developer's name
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: A custom JSON object that you can create and attach to this record
        explode: true
        in: query
        name: customData
        required: false
        schema:
          type: string
        style: form
      responses:
        "400":
          description: "Bad Request - Required parameters are missing, malformed or\
            \ invalid"
        "404":
          description: Not Found - The developer is not found
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Developer'
          description: OK
      summary: Updates the developer fields
      tags:
      - "developers : Find and modify developers"
      x-accepts:
      - '*/*'
    post:
      parameters:
      - description: The id of the developer to be located
        explode: false
        in: path
        name: developerId
        required: true
        schema:
          type: string
        style: simple
      - description: The type for this developer
        explode: true
        in: query
        name: type
        required: false
        schema:
          type: string
        style: form
      - description: The developer's email
        explode: true
        in: query
        name: email
        required: false
        schema:
          type: string
        style: form
      - description: The developer's username
        explode: true
        in: query
        name: username
        required: false
        schema:
          type: string
        style: form
      - description: The developer's name
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: A custom JSON object that you can create and attach to this record
        explode: true
        in: query
        name: customData
        required: false
        schema:
          type: string
        style: form
      responses:
        "400":
          description: "Bad Request - Required parameters are missing, malformed or\
            \ invalid"
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Developer'
          description: OK
      summary: Updates the developer record or adds the developer if it doesn't exist
      tags:
      - "developers : Find and modify developers"
      x-accepts:
      - '*/*'
  /events/{eventId}:
    get:
      description: |
        - Results are returned for the market provided within the basic authentication credentials
      parameters:
      - description: The id of the event
        explode: false
        in: path
        name: eventId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "400":
          description: "Bad Request - Required parameters are missing, malformed or\
            \ invalid"
        "404":
          description: Not Found - The event was not found
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Event'
          description: OK
      summary: Returns an event
      tags:
      - "events : Find events"
      x-accepts:
      - '*/*'
  /files:
    get:
      parameters:
      - description: "A query document. Example: {'name':'file.txt'} matches all the\
          \ files that have the name 'file.txt'"
        explode: true
        in: query
        name: query
        required: false
        schema:
          type: string
        style: form
      - description: "A sort document. Example: {'name':1} sorts the results by name\
          \ in ascending order"
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - description: The result set page number to be returned
        explode: true
        in: query
        name: pageNumber
        required: false
        schema:
          type: integer
        style: form
      - description: The maximum number of results to return per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      responses:
        "400":
          description: "Bad Request - Required parameters are missing, malformed or\
            \ invalid"
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/File'
          description: OK
      summary: Returns a paginated list of files
      tags:
      - "files : Upload files "
      x-accepts:
      - '*/*'
    post:
      description: "- WARNING: File URLs or fileIds must be stored somewhere within\
        \ the customData field for an app, review, developer or user. Unused files\
        \ will be removed after a few days. \n- This method is called on behalf of\
        \ a developer.\n"
      parameters:
      - description: "If true, this file will be protected as a private file and require\
          \ the generation of a signed URL in order to download using the Download\
          \ File API. The default is false."
        explode: true
        in: query
        name: isPrivate
        required: false
        schema:
          type: boolean
        style: form
      - description: A comma separated list of hashes to return in order to verify
          file integrity.
        explode: true
        in: query
        name: hash
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/_files_post_request'
        required: true
      responses:
        "400":
          description: "Bad Request - Required parameters are missing, malformed or\
            \ invalid"
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/File'
          description: OK
      summary: Uploads a file.
      tags:
      - "files : Upload files "
      x-content-type: multipart/form-data
      x-accepts:
      - '*/*'
  /files/byIdOrUrl:
    get:
      parameters:
      - description: The fileId or fileUrl of the file to be returned
        explode: true
        in: query
        name: fileIdOrUrl
        required: true
        schema:
          type: string
        style: form
      responses:
        "400":
          description: "Bad Request - Required parameters are missing, malformed or\
            \ invalid"
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/File'
          description: OK
      summary: Get the details for a file.
      tags:
      - "files : Upload files "
      x-accepts:
      - '*/*'
  /files/download:
    get:
      parameters:
      - description: The URL of the file to be uploaded
        explode: true
        in: query
        name: fileId
        required: true
        schema:
          type: string
        style: form
      - description: The number of seconds that this signed URL should be valid for.
          The default is 60.
        explode: true
        in: query
        name: validSeconds
        required: false
        schema:
          type: integer
        style: form
      responses:
        "400":
          description: "Bad Request - Required parameters are missing, malformed or\
            \ invalid"
        "404":
          description: Not Found - The file was not found
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FileDownload'
          description: OK
      summary: A signed URL for downloading a private file can be returned by providing
        the fileId.
      tags:
      - "files : Upload files "
      x-accepts:
      - '*/*'
  /files/url:
    post:
      description: |
        - WARNING: File URLs or fileIds must be stored somewhere within the customData field for an app, review, developer or user. Unused files will be removed after a few days.
        - This method is called on behalf of a developer.
      parameters:
      - description: The URL of the file to be uploaded
        explode: true
        in: query
        name: url
        required: true
        schema:
          type: string
        style: form
      - description: "If true, this file will be protected as a private file and require\
          \ the generation of a signed URL in order to download using the Download\
          \ File API. The default is false."
        explode: true
        in: query
        name: isPrivate
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "400":
          description: "Bad Request - Required parameters are missing, malformed or\
            \ invalid"
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/File'
          description: OK
      summary: Uploads a file from a URL
      tags:
      - "files : Upload files "
      x-accepts:
      - '*/*'
  /markets/this:
    get:
      responses:
        "400":
          description: "Bad Request - Required parameters are missing, malformed or\
            \ invalid"
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Market'
          description: OK
      summary: Returns the current marketplace
      tags:
      - "markets : This marketplace"
      x-accepts:
      - '*/*'
  /ownership:
    get:
      description: ' - Results are returned for the market provided within the basic
        authentication credentials '
      parameters:
      - description: "A query document. Example: {'userId':'12'} matches all the ownership\
          \ records that have the userId '12'."
        explode: true
        in: query
        name: query
        required: false
        schema:
          type: string
        style: form
      - description: "A sort document. Example: {'date':1} sorts the results by date\
          \ in ascending order"
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - description: The result set page number to be returned
        explode: true
        in: query
        name: pageNumber
        required: false
        schema:
          type: integer
        style: form
      - description: The maximum number of results to return per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      responses:
        "400":
          description: "Bad Request - Required parameters are missing, malformed or\
            \ invalid"
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OwnershipPages'
          description: OK
      summary: Returns a paginated list of app licenses
      tags:
      - "ownership : Find ownership"
      x-accepts:
      - '*/*'
  /ownership/install:
    post:
      description: ' - This method is called on behalf of a user - This method requires
        either a modelId from the app or a custom model - User data and statistics
        are recorded when this method is called '
      parameters:
      - description: The id of the App being owned
        explode: true
        in: query
        name: appId
        required: true
        schema:
          type: string
        style: form
      - description: The id of the User requesting to own the App
        explode: true
        in: query
        name: userId
        required: true
        schema:
          type: string
        style: form
      - description: The id of the model associated with this ownership request
        explode: true
        in: query
        name: modelId
        required: false
        schema:
          type: string
        style: form
      - description: A custom model that will override the app's default model for
          this install
        explode: true
        in: query
        name: model
        required: false
        schema:
          type: string
        style: form
      - description: A custom JSON object to attach to this ownership record
        explode: true
        in: query
        name: customData
        required: false
        schema:
          type: string
        style: form
      responses:
        "400":
          description: "Bad Request - Required parameters are missing, malformed or\
            \ invalid"
        "402":
          description: Payment Required - The App requires a user with pre-set payment
            details
        "404":
          description: Not Found - The App is either restricted or was not found
        "409":
          description: Already Exists - The User already owns this app (or is already
            participating in a trial)
        "412":
          description: Payment Failed - The User's payment details are invalid
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Ownership'
          description: OK
      summary: Aquires an app license for a user (installs app)
      tags:
      - "ownership : Find ownership"
      x-accepts:
      - '*/*'
  /ownership/uninstall/{ownershipId}:
    post:
      description: ' - This method is called on behalf of a user - User data and statistics
        are recorded when this method is called '
      parameters:
      - description: The id of the ownership to be unintalled
        explode: false
        in: path
        name: ownershipId
        required: true
        schema:
          type: string
        style: simple
      - description: The id of the User requesting to uninstall the App
        explode: true
        in: query
        name: userId
        required: true
        schema:
          type: string
        style: form
      - description: True if this app will require payment to be re-installed. Default
          is false
        explode: true
        in: query
        name: cancelOwnership
        required: false
        schema:
          type: boolean
        style: form
      - description: A custom JSON object to attach to this ownership record
        explode: true
        in: query
        name: customData
        required: false
        schema:
          type: string
        style: form
      responses:
        "400":
          description: "Bad Request - Required parameters are missing, malformed or\
            \ invalid"
        "404":
          description: Not Found - App is not found
        "409":
          description: App is not owned by this user
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Ownership'
          description: OK
      summary: Uninstalls a license for a particular user and app (uninstalls app)
      tags:
      - "ownership : Find ownership"
      x-accepts:
      - '*/*'
  /ownership/{ownershipId}:
    get:
      description: ' - Results are returned for the market provided within the basic
        authentication credentials '
      parameters:
      - description: The id belonging to the ownership record
        explode: false
        in: path
        name: ownershipId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "400":
          description: "Bad Request - Required parameters are missing, malformed or\
            \ invalid"
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Ownership'
          description: OK
      summary: Returns an ownership record
      tags:
      - "ownership : Find ownership"
      x-accepts:
      - '*/*'
    patch:
      description: ' - Results are returned for the market provided within the basic
        authentication credentials '
      parameters:
      - description: The id of the ownership to be updated
        explode: false
        in: path
        name: ownershipId
        required: true
        schema:
          type: string
        style: simple
      - description: Custom JSON object that will be attached to this ownership record
        explode: true
        in: query
        name: customData
        required: false
        schema:
          type: string
        style: form
      - description: The date (in millis) of when this app ownership expires
        explode: true
        in: query
        name: expires
        required: false
        schema:
          format: int64
          type: integer
        style: form
      responses:
        "400":
          description: "Bad Request - Required parameters are missing, malformed or\
            \ invalid"
        "404":
          description: Not Found - The ownership was not found
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Ownership'
          description: OK
      summary: Updates ownership fields
      tags:
      - "ownership : Find ownership"
      x-accepts:
      - '*/*'
    post:
      description: ' - Results are returned for the market provided within the basic
        authentication credentials '
      parameters:
      - description: The id of the ownership to be updated
        explode: false
        in: path
        name: ownershipId
        required: true
        schema:
          type: string
        style: simple
      - description: Custom JSON object that will be attached to this ownership record
        explode: true
        in: query
        name: customData
        required: false
        schema:
          type: string
        style: form
      - description: The date (in millis) of when this app ownership expires
        explode: true
        in: query
        name: expires
        required: false
        schema:
          format: int64
          type: integer
        style: form
      responses:
        "400":
          description: "Bad Request - Required parameters are missing, malformed or\
            \ invalid"
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Ownership'
          description: OK
      summary: Updates an ownership record
      tags:
      - "ownership : Find ownership"
      x-accepts:
      - '*/*'
  /permission/apps/{appId}:
    delete:
      parameters:
      - description: The id of the app
        explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      - description: The id of the user
        explode: true
        in: query
        name: userId
        required: true
        schema:
          type: string
        style: form
      responses:
        "400":
          description: "Bad Request - Required parameters are missing, malformed or\
            \ invalid"
        "404":
          description: Not Found - The access is not found
      summary: Removes permission that allows the app to access this user's data
      tags:
      - "permission : Add and remove permissions "
      x-accepts:
      - application/json
    get:
      parameters:
      - description: The id of the app
        explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      - description: The id of the user
        explode: true
        in: query
        name: userId
        required: true
        schema:
          type: string
        style: form
      responses:
        "400":
          description: "Bad Request - Required parameters are missing, malformed or\
            \ invalid"
        "404":
          description: Not Found - The access is not found
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Access'
          description: OK
      summary: Returns permission that allows the app to access this user's data
      tags:
      - "permission : Add and remove permissions "
      x-accepts:
      - '*/*'
    post:
      parameters:
      - description: The id of the app
        explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      - description: The id of the user
        explode: true
        in: query
        name: userId
        required: true
        schema:
          type: string
        style: form
      - description: The time (in milliseconds) of when the user agreed to the access
          request
        explode: true
        in: query
        name: date
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: The ip address of the user agreeing to the access request
        explode: true
        in: query
        name: ip
        required: false
        schema:
          type: string
        style: form
      responses:
        "400":
          description: "Bad Request - Required parameters are missing, malformed or\
            \ invalid"
        "404":
          description: Not Found - App not found
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Access'
          description: OK
      summary: Adds permission to allow the app to access this user's data
      tags:
      - "permission : Add and remove permissions "
      x-accepts:
      - '*/*'
  /reviews:
    get:
      description: |
        - Results are paginated and the default is value is 100 if no limit is provided
      parameters:
      - description: "A query document. Example: {'rating': 500} matches all the reviews\
          \ that have a rating of 500. "
        explode: true
        in: query
        name: query
        required: false
        schema:
          type: string
        style: form
      - description: "A sort document. Example: {'rating':1} sorts the results by\
          \ rating in ascending order"
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - description: The result set page number to be returned
        explode: true
        in: query
        name: pageNumber
        required: false
        schema:
          type: integer
        style: form
      - description: The maximum number of results to return per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      responses:
        "400":
          description: "Bad Request - Required parameters are missing, malformed or\
            \ invalid"
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ReviewPages'
          description: OK
      summary: Find reviews for a particular App and marketplace. Results are automatically
        paginated when limit is set
      tags:
      - "reviews : Find and modify reviews "
      x-accepts:
      - '*/*'
    post:
      description: |
        - Only authenticated users are able to post reviews
        - Returns the newly created review
      parameters:
      - description: The id of the App that will own this review
        explode: true
        in: query
        name: appId
        required: true
        schema:
          type: string
        style: form
      - description: The id of the User that is posting this review
        explode: true
        in: query
        name: userId
        required: true
        schema:
          type: string
        style: form
      - description: The id of the User account that is posting this review
        explode: true
        in: query
        name: userAccountId
        required: false
        schema:
          type: string
        style: form
      - description: The review's headline. Limited to 50 characters.
        explode: true
        in: query
        name: headline
        required: true
        schema:
          type: string
        style: form
      - description: The rating given within this review. The rating is represented
          as an integer between 0 and 500 (0 - 5 stars)
        explode: true
        in: query
        name: rating
        required: true
        schema:
          maximum: 500
          minimum: 0
          type: integer
        style: form
      - description: The review's description. Limited to 2000 characters.
        explode: true
        in: query
        name: description
        required: true
        schema:
          type: string
        style: form
      - description: The type for this review
        explode: true
        in: query
        name: type
        required: false
        schema:
          type: string
        style: form
      - description: True if a review can be created only by a user that has owned
          the app. The default is True.
        explode: true
        in: query
        name: mustOwnApp
        required: false
        schema:
          type: boolean
        style: form
      - description: True if the review should be automatically approved. The default
          is False.
        explode: true
        in: query
        name: autoApprove
        required: false
        schema:
          type: boolean
        style: form
      - description: A custom JSON object that you can create and attach to this record
        explode: true
        in: query
        name: customData
        required: false
        schema:
          type: string
        style: form
      responses:
        "400":
          description: "Bad Request - Required parameters are missing, malformed or\
            \ invalid"
        "403":
          description: Forbidden - Users must have owned the app before they can post
            a review; Anonymous users cannot post reviews
        "409":
          description: Already Exists - The User has already reviewed this app
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Review'
          description: OK
      summary: Post a review from a User and returns the new post
      tags:
      - "reviews : Find and modify reviews "
      x-accepts:
      - '*/*'
  /reviews/{reviewId}:
    delete:
      description: |
        - Only the review author is able to remove their review
      parameters:
      - description: The id of the Review to be updated
        explode: false
        in: path
        name: reviewId
        required: true
        schema:
          type: string
        style: simple
      - description: The id of the User that is removing this review
        explode: true
        in: query
        name: userId
        required: true
        schema:
          type: string
        style: form
      - description: The id of the User account that is emoving this review
        explode: true
        in: query
        name: userAccountId
        required: false
        schema:
          type: string
        style: form
      responses:
        "400":
          description: "Bad Request - Required parameters are missing, malformed or\
            \ invalid"
      summary: Remove a review
      tags:
      - "reviews : Find and modify reviews "
      x-accepts:
      - application/json
    get:
      parameters:
      - description: The id of the review to be located
        explode: false
        in: path
        name: reviewId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "400":
          description: "Bad Request - Required parameters are missing, malformed or\
            \ invalid"
        "404":
          description: Not Found - Review is not found
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Review'
          description: OK
      summary: Find a Review within a particular App and marketplace
      tags:
      - "reviews : Find and modify reviews "
      x-accepts:
      - '*/*'
    patch:
      description: |
        - Only the review author is able to update their review
        - Returns the newly updated review
      parameters:
      - description: The id of the Review to be updated
        explode: false
        in: path
        name: reviewId
        required: true
        schema:
          type: string
        style: simple
      - description: The id of the User that is updating this review
        explode: true
        in: query
        name: userId
        required: true
        schema:
          type: string
        style: form
      - description: The id of the User account that is posting this review
        explode: true
        in: query
        name: userAccountId
        required: false
        schema:
          type: string
        style: form
      - description: The review's headline. Limited to 50 characters.
        explode: true
        in: query
        name: headline
        required: false
        schema:
          type: string
        style: form
      - description: The rating given within this review. The rating is represented
          as an integer between 0 and 500 (0 - 5 stars)
        explode: true
        in: query
        name: rating
        required: false
        schema:
          maximum: 500
          minimum: 0
          type: integer
        style: form
      - description: The review's description. Limited to 2000 characters.
        explode: true
        in: query
        name: description
        required: false
        schema:
          type: string
        style: form
      - description: A custom JSON object that you can create and attach to this record
        explode: true
        in: query
        name: customData
        required: false
        schema:
          type: string
        style: form
      responses:
        "400":
          description: "Bad Request - Required parameters are missing, malformed or\
            \ invalid"
        "403":
          description: Forbidden - Anonymous users cannot update reviews
        "404":
          description: Not Found - This review was not found
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Review'
          description: OK
      summary: Update a review fields
      tags:
      - "reviews : Find and modify reviews "
      x-accepts:
      - '*/*'
    post:
      description: |
        - Only the review author is able to update their review
        - Returns the newly updated review
      parameters:
      - description: The id of the Review to be updated
        explode: false
        in: path
        name: reviewId
        required: true
        schema:
          type: string
        style: simple
      - description: The id of the User that is updating this review
        explode: true
        in: query
        name: userId
        required: true
        schema:
          type: string
        style: form
      - description: The id of the User account that is posting this review
        explode: true
        in: query
        name: userAccountId
        required: true
        schema:
          type: string
        style: form
      - description: The review's headline. Limited to 50 characters.
        explode: true
        in: query
        name: headline
        required: true
        schema:
          type: string
        style: form
      - description: The rating given within this review. The rating is represented
          as an integer between 0 and 500 (0 - 5 stars)
        explode: true
        in: query
        name: rating
        required: true
        schema:
          maximum: 500
          minimum: 0
          type: integer
        style: form
      - description: The review's description. Limited to 2000 characters.
        explode: true
        in: query
        name: description
        required: true
        schema:
          type: string
        style: form
      - description: A custom JSON object that you can create and attach to this record
        explode: true
        in: query
        name: customData
        required: false
        schema:
          type: string
        style: form
      responses:
        "400":
          description: "Bad Request - Required parameters are missing, malformed or\
            \ invalid"
        "403":
          description: Forbidden - Anonymous users cannot update reviews
        "404":
          description: Not Found - This review was not found
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Review'
          description: OK
      summary: Update a review from a User and returns the new post
      tags:
      - "reviews : Find and modify reviews "
      x-accepts:
      - '*/*'
  /stats/increment/{field}:
    post:
      description: increment a statistics field
      parameters:
      - description: The field to be incremented
        explode: false
        in: path
        name: field
        required: true
        schema:
          type: string
        style: simple
      - description: The id of the app associated with this statistic value
        explode: true
        in: query
        name: appId
        required: true
        schema:
          type: string
        style: form
      - description: The id of the user that is performing the action
        explode: true
        in: query
        name: userId
        required: false
        schema:
          type: string
        style: form
      - description: The increment amount. Default is 1 if no value is provided.
        explode: true
        in: query
        name: value
        required: false
        schema:
          type: integer
        style: form
      - description: The date (in millis) for when this increment occurred. The default
          is the current date if no value is provided.
        explode: true
        in: query
        name: date
        required: false
        schema:
          format: int64
          type: integer
        style: form
      responses:
        default:
          description: OK
      summary: Increments a statistics field
      tags:
      - "stats: Find marketplace statistics"
      x-accepts:
      - application/json
  /stats/series/{period}/{fields}:
    get:
      description: "Return a timeseries nested array containing date and value. Example:\
        \ [[1406520000000,2],[1406606400000,34],[1406692800000,245],...]"
      parameters:
      - description: The period for the series (day or month)
        explode: false
        in: path
        name: period
        required: true
        schema:
          enum:
          - day
          - month
          type: string
        style: simple
      - description: The field to be graphed. This also be a comma separated list
          of fields and the result will be a single timeseries containing the sum
          of all fields.
        explode: false
        in: path
        name: fields
        required: true
        schema:
          type: string
        style: simple
      - description: The start date for this series (in millis)
        explode: true
        in: query
        name: start
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: The end date for this series (in millis)
        explode: true
        in: query
        name: end
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: "A query document. Example: {'developerId': '112'} matches all\
          \ the apps that have the developer with id 112"
        explode: true
        in: query
        name: query
        required: false
        schema:
          type: string
        style: form
      responses:
        default:
          content:
            '*/*':
              schema:
                items:
                  items:
                    type: object
                  type: array
                type: array
          description: OK
      summary: Return a timeseries for a particular field
      tags:
      - "stats: Find marketplace statistics"
      x-accepts:
      - '*/*'
  /stats/total:
    get:
      parameters:
      - description: "A comma seperated list of all the fields to be returned in the\
          \ total (available by default: dislikes, likes, reviews, totalSales, developerSales,\
          \ marketplaceSales, downloads, ownerships, views)"
        explode: true
        in: query
        name: fields
        required: true
        schema:
          type: string
        style: form
      - description: "A query document. Example: {'developerId': '112'} matches all\
          \ the apps that have the developer with id 112"
        explode: true
        in: query
        name: query
        required: false
        schema:
          type: string
        style: form
      - description: The start date for this total (in millis)
        explode: true
        in: query
        name: start
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: The end date for this total (in millis)
        explode: true
        in: query
        name: end
        required: false
        schema:
          format: int64
          type: integer
        style: form
      responses:
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Total'
          description: OK
      summary: Returns the total number of events for a particular field.
      tags:
      - "stats: Find marketplace statistics"
      x-accepts:
      - '*/*'
  /stripe-gateway/developer/{developerId}/accounts:
    get:
      description: |
        - Results are returned for the market provided within the basic authentication credentials
      parameters:
      - description: The id of the developer connecting their Stripe account
        explode: false
        in: path
        name: developerId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "400":
          description: "Bad Request - Required parameters are missing, malformed or\
            \ invalid"
        "412":
          description: Precondition Failed - Payments must be enabled and 'Stripe'
            must be selected as the gateway in order to use this API endpoint
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Accounts'
          description: OK
      summary: Returns a developers connected Stripe accounts
      tags:
      - "stripe-gateway : Process payments and refunds "
      x-accepts:
      - '*/*'
    post:
      description: "- Results are returned for the market provided within the basic\
        \ authentication credentials \n- The URL generated by this method is only\
        \ valid for 48 hours.\n"
      parameters:
      - description: The id of the developer connecting their Stripe account
        explode: false
        in: path
        name: developerId
        required: true
        schema:
          type: string
        style: simple
      - description: The URL to redirect this developer after they have connected
          their Stripe account
        explode: true
        in: query
        name: redirectUrl
        required: true
        schema:
          type: string
        style: form
      responses:
        "400":
          description: "Bad Request - Required parameters are missing, malformed or\
            \ invalid"
        "412":
          description: Precondition Failed - Payments must be enabled and 'Stripe'
            must be selected as the gateway in order to use this API endpoint
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DeveloperToken'
          description: OK
      summary: Generate a temporary URL to allow a developer to connect their Stripe
        account
      tags:
      - "stripe-gateway : Process payments and refunds "
      x-accepts:
      - '*/*'
  /stripe-gateway/developer/{developerId}/accounts/{stripeId}:
    delete:
      description: |2

        - Results are returned for the market provided within the basic authentication credentials
      parameters:
      - description: The id of the developer disconnecting their Stripe account
        explode: false
        in: path
        name: developerId
        required: true
        schema:
          type: string
        style: simple
      - description: The id of the stripe account to disconnect
        explode: false
        in: path
        name: stripeId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "400":
          description: "Bad Request - Required parameters are missing, malformed or\
            \ invalid"
        "412":
          description: Precondition Failed - Payments must be enabled and 'Stripe'
            must be selected as the gateway in order to use this API endpoint
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Accounts'
          description: OK
      summary: Disconnects a developer's Stripe account
      tags:
      - "stripe-gateway : Process payments and refunds "
      x-accepts:
      - '*/*'
  /stripe-gateway/user/{userId}/cards:
    get:
      description: |
        - Results are returned for the market provided within the basic authentication credentials
      parameters:
      - description: The id of the user requesting their credit cards
        explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "400":
          description: "Bad Request - Required parameters are missing, malformed or\
            \ invalid"
        "412":
          description: Precondition Failed - Payments must be enabled and 'Stripe'
            must be selected as the gateway in order to use this API endpoint
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Cards'
          description: OK
      summary: Returns credit cards for this user
      tags:
      - "stripe-gateway : Process payments and refunds "
      x-accepts:
      - '*/*'
    post:
      description: |
        - Results are returned for the market provided within the basic authentication credentials
      parameters:
      - description: The id of the user adding their credit card
        explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      - description: The Stripe token returned by the Stripe.js Stripe.card.createToken
          call
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      - description: Set to true if this should be set to be the default credit card
        explode: true
        in: query
        name: isDefault
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "400":
          description: "Bad Request - Required parameters are missing, malformed or\
            \ invalid"
        "412":
          description: Precondition Failed - Payments must be enabled and 'Stripe'
            must be selected as the gateway in order to use this API endpoint
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Cards'
          description: OK
      summary: Adds credit card for this user
      tags:
      - "stripe-gateway : Process payments and refunds "
      x-accepts:
      - '*/*'
  /stripe-gateway/user/{userId}/cards/{cardId}:
    delete:
      parameters:
      - description: The id of the user removing their credit card
        explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      - description: The id of the credit card to remove
        explode: false
        in: path
        name: cardId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "400":
          description: "Bad Request - Required parameters are missing, malformed or\
            \ invalid"
        "412":
          description: Precondition Failed - Payments must be enabled and 'Stripe'
            must be selected as the gateway in order to use this API endpoint
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Cards'
          description: OK
      summary: Removes a credit card for a user
      tags:
      - "stripe-gateway : Process payments and refunds "
      x-accepts:
      - '*/*'
    post:
      description: |2

        - Results are returned for the market provided within the basic authentication credentials
      parameters:
      - description: The id of the user adding their credit card
        explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      - description: The id of the card to be updated
        explode: false
        in: path
        name: cardId
        required: true
        schema:
          type: string
        style: simple
      - description: Set to true if this should be set to be the default credit card
        explode: true
        in: query
        name: isDefault
        required: false
        schema:
          type: boolean
        style: form
      - description: The card holder's city
        explode: true
        in: query
        name: address_city
        required: false
        schema:
          type: string
        style: form
      - description: The card holder's country
        explode: true
        in: query
        name: address_country
        required: false
        schema:
          type: string
        style: form
      - description: The card holder's street address
        explode: true
        in: query
        name: address_line1
        required: false
        schema:
          type: string
        style: form
      - description: The card holder's street address
        explode: true
        in: query
        name: address_line2
        required: false
        schema:
          type: string
        style: form
      - description: The card holder's city state/province
        explode: true
        in: query
        name: address_state
        required: false
        schema:
          type: string
        style: form
      - description: The card holder's zip/postal code
        explode: true
        in: query
        name: address_zip
        required: false
        schema:
          type: string
        style: form
      responses:
        "400":
          description: "Bad Request - Required parameters are missing, malformed or\
            \ invalid"
        "412":
          description: Precondition Failed - Payments must be enabled and 'Stripe'
            must be selected as the gateway in order to use this API endpoint
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Cards'
          description: OK
      summary: Updates a credit card for this user
      tags:
      - "stripe-gateway : Process payments and refunds "
      x-accepts:
      - '*/*'
  /transactions:
    get:
      description: |
        - Results are paginated and the default is value is 100 if no limit is provided
      parameters:
      - description: "A query document. Example: {'userId':'1'} matches all the transactions\
          \ that have the userId '1'."
        explode: true
        in: query
        name: query
        required: false
        schema:
          type: string
        style: form
      - description: "A sort document. Example: {'date':1} sorts the results by total\
          \ in ascending order"
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - description: The result set page number to be returned
        explode: true
        in: query
        name: pageNumber
        required: false
        schema:
          type: integer
        style: form
      - description: The maximum number of results to return per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      responses:
        "400":
          description: "Bad Request - Required parameters are missing, malformed or\
            \ invalid"
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TransactionPages'
          description: OK
      summary: Returns a paginated list of transactions
      tags:
      - "transactions : Find payments and refunds "
      x-accepts:
      - '*/*'
  /transactions/{transactionId}:
    delete:
      description: |
        - Results are returned for the market provided within the basic authentication credentials
      parameters:
      - description: The id of the transaction to be deleted
        explode: false
        in: path
        name: transactionId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "400":
          description: "Bad Request - Required parameters are missing, malformed or\
            \ invalid"
      summary: Deleted a transaction
      tags:
      - "transactions : Find payments and refunds "
      x-accepts:
      - application/json
    get:
      description: |
        - Results are returned for the market provided within the basic authentication credentials
      parameters:
      - description: The id of the transaction to return
        explode: false
        in: path
        name: transactionId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "400":
          description: "Bad Request - Required parameters are missing, malformed or\
            \ invalid"
      summary: Returns a transaction
      tags:
      - "transactions : Find payments and refunds "
      x-accepts:
      - application/json
    post:
      description: |
        - Results are returned for the market provided within the basic authentication credentials
      parameters:
      - description: The id of the transaction to be updated
        explode: false
        in: path
        name: transactionId
        required: true
        schema:
          type: string
        style: simple
      - description: A custom JSON object that you can create and attach to this record
        explode: true
        in: query
        name: customData
        required: false
        schema:
          type: string
        style: form
      responses:
        "400":
          description: "Bad Request - Required parameters are missing, malformed or\
            \ invalid"
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Transaction'
          description: OK
      summary: Updates a transaction
      tags:
      - "transactions : Find payments and refunds "
      x-accepts:
      - '*/*'
  /userAccounts:
    get:
      description: |
        - Results are paginated and the default is value is 1000 if no limit is provided
      parameters:
      - description: "A query document. Example: {'name':'NASA'} matches all the userAccounts\
          \ that have the name 'NASA'"
        explode: true
        in: query
        name: query
        required: false
        schema:
          type: string
        style: form
      - description: "A sort document. Example: {'name':1} sorts the results by name\
          \ in ascending order"
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - description: The result set page number to be returned
        explode: true
        in: query
        name: pageNumber
        required: false
        schema:
          type: integer
        style: form
      - description: The maximum number of results to return per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      responses:
        "400":
          description: "Bad Request - Required parameters are missing, malformed or\
            \ invalid"
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UserAccountPages'
          description: OK
      summary: Returns a paginated list of userAccounts
      tags:
      - "userAccounts : Find and modify user accounts "
      x-accepts:
      - '*/*'
  /userAccounts/{userAccountId}:
    delete:
      parameters:
      - description: The id of the user account to be removed
        explode: false
        in: path
        name: userAccountId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "400":
          description: "Bad Request - Required parameters are missing, malformed or\
            \ invalid"
        default:
          description: OK
      summary: Removes the user account
      tags:
      - "userAccounts : Find and modify user accounts "
      x-accepts:
      - application/json
    get:
      parameters:
      - description: The id of the user account to be located
        explode: false
        in: path
        name: userAccountId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "400":
          description: "Bad Request - Required parameters are missing, malformed or\
            \ invalid"
        "404":
          description: Not Found - Developer account is not found
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UserAccount'
          description: OK
      summary: Returns a single user account
      tags:
      - "userAccounts : Find and modify user accounts "
      x-accepts:
      - '*/*'
    patch:
      parameters:
      - description: The id of the user account to be updated
        explode: false
        in: path
        name: userAccountId
        required: true
        schema:
          type: string
        style: simple
      - description: The Id of the user that this account belongs to
        explode: true
        in: query
        name: userId
        required: true
[...]
