openapi: 3.0.1
info:
  description: The Compute Management Client.
  title: ComputeManagementClient
  version: 2019-04-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/compute/resource-manager/Microsoft.Compute/stable/2019-04-01/skus.json
    version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: compute-skus
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Compute/skus:
    get:
      description: Gets the list of Microsoft.Compute SKUs available for your Subscription.
      operationId: resource_skus_list
      parameters:
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceSkusResult'
          description: OK
      tags:
      - Skus
      - AvailabilitySets
      x-ms-examples:
        Lists all available Resource SKUs:
          parameters:
            api-version: 2019-04-01
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                value:
                - capabilities:
                  - name: MaxResourceVolumeMB
                    value: "20480"
                  - name: OSVhdSizeMB
                    value: "1047552"
                  - name: vCPUs
                    value: "1"
                  - name: HyperVGenerations
                    value: V1
                  - name: MemoryGB
                    value: "0.75"
                  - name: MaxDataDiskCount
                    value: "1"
                  - name: LowPriorityCapable
                    value: "False"
                  - name: PremiumIO
                    value: "False"
                  - name: vCPUsAvailable
                    value: "1"
                  - name: ACUs
                    value: "50"
                  - name: vCPUsPerCore
                    value: "1"
                  - name: EphemeralOSDiskSupported
                    value: "False"
                  - name: AcceleratedNetworkingEnabled
                    value: "False"
                  - name: RdmaEnabled
                    value: "False"
                  - name: MaxNetworkInterfaces
                    value: "2"
                  family: standardA0_A7Family
                  locationInfo:
                  - location: westus
                    zoneDetails:
                    - capabilities:
                      - name: UltraSSDAvailable
                        value: "True"
                      name:
                      - westus-AZ01
                    zones:
                    - westus-AZ01
                  locations:
                  - westus
                  name: Standard_A0
                  resourceType: virtualMachines
                  size: A0
                  tier: Standard
                - capabilities:
                  - name: MaxResourceVolumeMB
                    value: "71680"
                  - name: OSVhdSizeMB
                    value: "1047552"
                  - name: vCPUs
                    value: "1"
                  - name: HyperVGenerations
                    value: V1
                  - name: MemoryGB
                    value: "1.75"
                  - name: MaxDataDiskCount
                    value: "2"
                  - name: LowPriorityCapable
                    value: "True"
                  - name: PremiumIO
                    value: "False"
                  - name: vCPUsAvailable
                    value: "1"
                  - name: ACUs
                    value: "100"
                  - name: vCPUsPerCore
                    value: "1"
                  - name: EphemeralOSDiskSupported
                    value: "False"
                  - name: AcceleratedNetworkingEnabled
                    value: "False"
                  - name: RdmaEnabled
                    value: "False"
                  - name: MaxNetworkInterfaces
                    value: "2"
                  family: standardA0_A7Family
                  locationInfo:
                  - location: westus
                    zones:
                    - westus-AZ02
                    - westus-AZ01
                  locations:
                  - westus
                  name: Standard_A1
                  resourceType: virtualMachines
                  size: A1
                  tier: Standard
        Lists all available Resource SKUs for the specified region:
          parameters:
            $filter: location eq 'westus'
            api-version: 2019-04-01
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                value:
                - capabilities:
                  - name: MaxResourceVolumeMB
                    value: "20480"
                  - name: OSVhdSizeMB
                    value: "1047552"
                  - name: vCPUs
                    value: "1"
                  - name: HyperVGenerations
                    value: V1
                  - name: MemoryGB
                    value: "0.75"
                  - name: MaxDataDiskCount
                    value: "1"
                  - name: LowPriorityCapable
                    value: "False"
                  - name: PremiumIO
                    value: "False"
                  - name: vCPUsAvailable
                    value: "1"
                  - name: ACUs
                    value: "50"
                  - name: vCPUsPerCore
                    value: "1"
                  - name: EphemeralOSDiskSupported
                    value: "False"
                  - name: AcceleratedNetworkingEnabled
                    value: "False"
                  - name: RdmaEnabled
                    value: "False"
                  - name: MaxNetworkInterfaces
                    value: "2"
                  family: standardA0_A7Family
                  locationInfo:
                  - location: westus
                    zoneDetails:
                    - capabilities:
                      - name: UltraSSDAvailable
                        value: "True"
                      name:
                      - westus-AZ01
                    zones:
                    - westus-AZ01
                  locations:
                  - westus
                  name: Standard_A0
                  resourceType: virtualMachines
                  size: A0
                  tier: Standard
                - capabilities:
                  - name: MaxResourceVolumeMB
                    value: "71680"
                  - name: OSVhdSizeMB
                    value: "1047552"
                  - name: vCPUs
                    value: "1"
                  - name: HyperVGenerations
                    value: V1
                  - name: MemoryGB
                    value: "1.75"
                  - name: MaxDataDiskCount
                    value: "2"
                  - name: LowPriorityCapable
                    value: "True"
                  - name: PremiumIO
                    value: "False"
                  - name: vCPUsAvailable
                    value: "1"
                  - name: ACUs
                    value: "100"
                  - name: vCPUsPerCore
                    value: "1"
                  - name: EphemeralOSDiskSupported
                    value: "False"
                  - name: AcceleratedNetworkingEnabled
                    value: "False"
                  - name: RdmaEnabled
                    value: "False"
                  - name: MaxNetworkInterfaces
                    value: "2"
                  family: standardA0_A7Family
                  locationInfo:
                  - location: westus
                    zones:
                    - westus-AZ02
                    - westus-AZ01
                  locations:
                  - westus
                  name: Standard_A1
                  resourceType: virtualMachines
                  size: A1
                  tier: Standard
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.skus_controller
components:
  parameters:
    ApiVersionParameter:
      description: Client Api Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    SubscriptionIdParameter:
      description: Subscription credentials which uniquely identify Microsoft Azure
        subscription. The subscription ID forms part of the URI for every service
        call.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    ResourceSku:
      description: Describes an available Compute SKU.
      example:
        costs:
        - quantity: 5
          meterID: meterID
          extendedUnit: extendedUnit
        - quantity: 5
          meterID: meterID
          extendedUnit: extendedUnit
        locationInfo:
        - zoneDetails:
          - capabilities:
            - name: name
              value: value
            - name: name
              value: value
            name:
            - name
            - name
          - capabilities:
            - name: name
              value: value
            - name: name
              value: value
            name:
            - name
            - name
          location: location
          zones:
          - zones
          - zones
        - zoneDetails:
          - capabilities:
            - name: name
              value: value
            - name: name
              value: value
            name:
            - name
            - name
          - capabilities:
            - name: name
              value: value
            - name: name
              value: value
            name:
            - name
            - name
          location: location
          zones:
          - zones
          - zones
        capabilities:
        - name: name
          value: value
        - name: name
          value: value
        kind: kind
        restrictions:
        - values:
          - values
          - values
          restrictionInfo:
            locations:
            - locations
            - locations
            zones:
            - zones
            - zones
          reasonCode: QuotaId
          type: Location
        - values:
          - values
          - values
          restrictionInfo:
            locations:
            - locations
            - locations
            zones:
            - zones
            - zones
          reasonCode: QuotaId
          type: Location
        capacity:
          default: 0
          scaleType: Automatic
          maximum: 6
          minimum: 1
        size: size
        tier: tier
        apiVersions:
        - apiVersions
        - apiVersions
        name: name
        locations:
        - locations
        - locations
        family: family
        resourceType: resourceType
      properties:
        apiVersions:
          description: The api versions that support this SKU.
          items:
            type: string
          readOnly: true
          title: apiVersions
          type: array
        capabilities:
          description: A name value pair to describe the capability.
          items:
            $ref: '#/components/schemas/ResourceSkuCapabilities'
          readOnly: true
          title: capabilities
          type: array
        capacity:
          $ref: '#/components/schemas/ResourceSkuCapacity'
        costs:
          description: Metadata for retrieving price info.
          items:
            $ref: '#/components/schemas/ResourceSkuCosts'
          readOnly: true
          title: costs
          type: array
        family:
          description: The Family of this particular SKU.
          readOnly: true
          title: family
          type: string
        kind:
          description: The Kind of resources that are supported in this SKU.
          readOnly: true
          title: kind
          type: string
        locationInfo:
          description: A list of locations and availability zones in those locations
            where the SKU is available.
          items:
            $ref: '#/components/schemas/ResourceSkuLocationInfo'
          readOnly: true
          title: locationInfo
          type: array
        locations:
          description: The set of locations that the SKU is available.
          items:
            type: string
          readOnly: true
          title: locations
          type: array
        name:
          description: The name of SKU.
          readOnly: true
          title: name
          type: string
        resourceType:
          description: The type of resource the SKU applies to.
          readOnly: true
          title: resourceType
          type: string
        restrictions:
          description: The restrictions because of which SKU cannot be used. This
            is empty if there are no restrictions.
          items:
            $ref: '#/components/schemas/ResourceSkuRestrictions'
          readOnly: true
          title: restrictions
          type: array
        size:
          description: The Size of the SKU.
          readOnly: true
          title: size
          type: string
        tier:
          description: Specifies the tier of virtual machines in a scale set.<br /><br
            /> Possible Values:<br /><br /> **Standard**<br /><br /> **Basic**
          readOnly: true
          title: tier
          type: string
      title: ResourceSku
      type: object
    ResourceSkuCapabilities:
      description: Describes The SKU capabilities object.
      example:
        name: name
        value: value
      properties:
        name:
          description: An invariant to describe the feature.
          readOnly: true
          title: name
          type: string
        value:
          description: An invariant if the feature is measured by quantity.
          readOnly: true
          title: value
          type: string
      title: ResourceSkuCapabilities
      type: object
    ResourceSkuCapacity:
      description: Describes scaling information of a SKU.
      example:
        default: 0
        scaleType: Automatic
        maximum: 6
        minimum: 1
      properties:
        default:
          description: The default capacity.
          format: int64
          readOnly: true
          title: default
          type: integer
        maximum:
          description: The maximum capacity that can be set.
          format: int64
          readOnly: true
          title: maximum
          type: integer
        minimum:
          description: The minimum capacity.
          format: int64
          readOnly: true
          title: minimum
          type: integer
        scaleType:
          description: The scale type applicable to the sku.
          enum:
          - Automatic
          - Manual
          - None
          readOnly: true
          title: scaleType
          type: string
          x-ms-enum:
            modelAsString: false
            name: ResourceSkuCapacityScaleType
      title: ResourceSkuCapacity
      type: object
    ResourceSkuCosts:
      description: Describes metadata for retrieving price info.
      example:
        quantity: 5
        meterID: meterID
        extendedUnit: extendedUnit
      properties:
        extendedUnit:
          description: An invariant to show the extended unit.
          readOnly: true
          title: extendedUnit
          type: string
        meterID:
          description: Used for querying price from commerce.
          readOnly: true
          title: meterID
          type: string
        quantity:
          description: The multiplier is needed to extend the base metered cost.
          format: int64
          readOnly: true
          title: quantity
          type: integer
      title: ResourceSkuCosts
      type: object
    ResourceSkuLocationInfo:
      example:
        zoneDetails:
        - capabilities:
          - name: name
            value: value
          - name: name
            value: value
          name:
          - name
          - name
        - capabilities:
          - name: name
            value: value
          - name: name
            value: value
          name:
          - name
          - name
        location: location
        zones:
        - zones
        - zones
      properties:
        location:
          description: Location of the SKU
          readOnly: true
          title: location
          type: string
        zoneDetails:
          description: Details of capabilities available to a SKU in specific zones.
          items:
            $ref: '#/components/schemas/ResourceSkuZoneDetails'
          readOnly: true
          title: zoneDetails
          type: array
        zones:
          description: List of availability zones where the SKU is supported.
          items:
            type: string
          readOnly: true
          title: zones
          type: array
      title: ResourceSkuLocationInfo
      type: object
    ResourceSkuRestrictionInfo:
      example:
        locations:
        - locations
        - locations
        zones:
        - zones
        - zones
      properties:
        locations:
          description: Locations where the SKU is restricted
          items:
            type: string
          readOnly: true
          title: locations
          type: array
        zones:
          description: List of availability zones where the SKU is restricted.
          items:
            type: string
          readOnly: true
          title: zones
          type: array
      title: ResourceSkuRestrictionInfo
      type: object
    ResourceSkuRestrictions:
      description: Describes scaling information of a SKU.
      example:
        values:
        - values
        - values
        restrictionInfo:
          locations:
          - locations
          - locations
          zones:
          - zones
          - zones
        reasonCode: QuotaId
        type: Location
      properties:
        reasonCode:
          description: The reason for restriction.
          enum:
          - QuotaId
          - NotAvailableForSubscription
          readOnly: true
          title: reasonCode
          type: string
          x-ms-enum:
            modelAsString: false
            name: ResourceSkuRestrictionsReasonCode
        restrictionInfo:
          $ref: '#/components/schemas/ResourceSkuRestrictionInfo'
        type:
          description: The type of restrictions.
          enum:
          - Location
          - Zone
          readOnly: true
          title: type
          type: string
          x-ms-enum:
            modelAsString: false
            name: ResourceSkuRestrictionsType
        values:
          description: The value of restrictions. If the restriction type is set to
            location. This would be different locations where the SKU is restricted.
          items:
            type: string
          readOnly: true
          title: values
          type: array
      title: ResourceSkuRestrictions
      type: object
    ResourceSkuZoneDetails:
      description: Describes The zonal capabilities of a SKU.
      example:
        capabilities:
        - name: name
          value: value
        - name: name
          value: value
        name:
        - name
        - name
      properties:
        capabilities:
          description: A list of capabilities that are available for the SKU in the
            specified list of zones.
          items:
            $ref: '#/components/schemas/ResourceSkuCapabilities'
          readOnly: true
          title: capabilities
          type: array
        name:
          description: The set of zones that the SKU is available in with the specified
            capabilities.
          items:
            type: string
          readOnly: true
          title: name
          type: array
      title: ResourceSkuZoneDetails
      type: object
    ResourceSkusResult:
      description: The List Resource Skus operation response.
      example:
        value:
        - costs:
          - quantity: 5
            meterID: meterID
            extendedUnit: extendedUnit
          - quantity: 5
            meterID: meterID
            extendedUnit: extendedUnit
          locationInfo:
          - zoneDetails:
            - capabilities:
              - name: name
                value: value
              - name: name
                value: value
              name:
              - name
              - name
            - capabilities:
              - name: name
                value: value
              - name: name
                value: value
              name:
              - name
              - name
            location: location
            zones:
            - zones
            - zones
          - zoneDetails:
            - capabilities:
              - name: name
                value: value
              - name: name
                value: value
              name:
              - name
              - name
            - capabilities:
              - name: name
                value: value
              - name: name
                value: value
              name:
              - name
              - name
            location: location
            zones:
            - zones
            - zones
          capabilities:
          - name: name
            value: value
          - name: name
            value: value
          kind: kind
          restrictions:
          - values:
            - values
            - values
            restrictionInfo:
              locations:
              - locations
              - locations
              zones:
              - zones
              - zones
            reasonCode: QuotaId
            type: Location
          - values:
            - values
            - values
            restrictionInfo:
              locations:
              - locations
              - locations
              zones:
              - zones
              - zones
            reasonCode: QuotaId
            type: Location
          capacity:
            default: 0
            scaleType: Automatic
            maximum: 6
            minimum: 1
          size: size
          tier: tier
          apiVersions:
          - apiVersions
          - apiVersions
          name: name
          locations:
          - locations
          - locations
          family: family
          resourceType: resourceType
        - costs:
          - quantity: 5
            meterID: meterID
            extendedUnit: extendedUnit
          - quantity: 5
            meterID: meterID
            extendedUnit: extendedUnit
          locationInfo:
          - zoneDetails:
            - capabilities:
              - name: name
                value: value
              - name: name
                value: value
              name:
              - name
              - name
            - capabilities:
              - name: name
                value: value
              - name: name
                value: value
              name:
              - name
              - name
            location: location
            zones:
            - zones
            - zones
          - zoneDetails:
            - capabilities:
              - name: name
                value: value
              - name: name
                value: value
              name:
              - name
              - name
            - capabilities:
              - name: name
                value: value
              - name: name
                value: value
              name:
              - name
              - name
            location: location
            zones:
            - zones
            - zones
          capabilities:
          - name: name
            value: value
          - name: name
            value: value
          kind: kind
          restrictions:
          - values:
            - values
            - values
            restrictionInfo:
              locations:
              - locations
              - locations
              zones:
              - zones
              - zones
            reasonCode: QuotaId
            type: Location
          - values:
            - values
            - values
            restrictionInfo:
              locations:
              - locations
              - locations
              zones:
              - zones
              - zones
            reasonCode: QuotaId
            type: Location
          capacity:
            default: 0
            scaleType: Automatic
            maximum: 6
            minimum: 1
          size: size
          tier: tier
          apiVersions:
          - apiVersions
          - apiVersions
          name: name
          locations:
          - locations
          - locations
          family: family
          resourceType: resourceType
        nextLink: nextLink
      properties:
        nextLink:
          description: The URI to fetch the next page of Resource Skus. Call ListNext()
            with this URI to fetch the next page of Resource Skus
          title: nextLink
          type: string
        value:
          description: The list of skus available for the subscription.
          items:
            $ref: '#/components/schemas/ResourceSku'
          title: value
          type: array
      required:
      - value
      title: ResourceSkusResult
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
