openapi: 3.0.1
info:
  description: This Swagger was generated by the API Framework.
  title: Azure Media Services
  version: 2018-07-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/mediaservices/resource-manager/Microsoft.Media/preview/2019-05-01-preview/Encoding.json
    version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: mediaservices-Encoding
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaServices/{accountName}/transforms
  : get:
      description: Lists the Transforms in the account.
      operationId: transforms_list
      parameters:
      - description: The unique identifier for a Microsoft Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Media Services account name.
        in: path
        name: accountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Restricts the set of items returned.
        in: query
        name: $filter
        schema:
          type: string
      - description: Specifies the key by which the result collection should be ordered.
        in: query
        name: $orderby
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransformCollection'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Detailed error information.
      summary: List Transforms
      x-ms-examples:
        Lists the Transforms:
          parameters:
            accountName: contosomedia
            api-version: 2018-07-01
            resourceGroupName: contosoresources
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contosoresources/providers/Microsoft.Media/mediaservices/contosomedia/transforms/sampleEncode
                  name: sampleEncode
                  properties:
                    created: 2018-07-26T19:11:48.9717921-07:00
                    description: A sample Transform using the Standard Encoder with
                      a built in preset.
                    lastModified: 2018-07-26T19:11:48.9717921-07:00
                    outputs:
                    - onError: StopProcessingJob
                      preset:
                        '@odata.type': '#Microsoft.Media.BuiltInStandardEncoderPreset'
                        presetName: AdaptiveStreaming
                      relativePriority: Normal
                  type: Microsoft.Media/mediaservices/transforms
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contosoresources/providers/Microsoft.Media/mediaservices/contosomedia/transforms/sampleEncodeAndVideoIndex
                  name: sampleEncodeAndVideoIndex
                  properties:
                    created: 2018-07-26T19:11:48.9767793-07:00
                    description: "A sample Transform using the Standard Encoder with\
                      \ a built-in preset, as well as the Video Analyzer."
                    lastModified: 2018-07-26T19:11:48.9767793-07:00
                    outputs:
                    - onError: StopProcessingJob
                      preset:
                        '@odata.type': '#Microsoft.Media.VideoAnalyzerPreset'
                        insightsToExtract: AllInsights
                      relativePriority: Normal
                    - onError: StopProcessingJob
                      preset:
                        '@odata.type': '#Microsoft.Media.BuiltInStandardEncoderPreset'
                        presetName: AdaptiveStreaming
                      relativePriority: Normal
                  type: Microsoft.Media/mediaservices/transforms
        Lists the Transforms filter by created:
          parameters:
            $filter: properties/created gt 2018-09-27T22:56:07.7621546Z and properties/created
              le 2018-09-27T22:56:17.7621546Z
            $orderby: properties/created
            accountName: contosomedia
            api-version: 2018-07-01
            resourceGroupName: contosoresources
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contosoresources/providers/Microsoft.Media/mediaservices/contosomedia/transforms/sampleEncodeAndVideoIndex
                  name: sampleEncodeAndVideoIndex
                  properties:
                    created: 2018-09-27T22:56:17.7621546-07:00
                    description: A sample Transform using the Video Analyzer.
                    lastModified: 2018-09-27T22:56:17.7621546-07:00
                    outputs:
                    - onError: StopProcessingJob
                      preset:
                        '@odata.type': '#Microsoft.Media.VideoAnalyzerPreset'
                        insightsToExtract: AllInsights
                      relativePriority: Normal
                  type: Microsoft.Media/mediaservices/transforms
        Lists the Transforms filter by lastmodified:
          parameters:
            $filter: properties/lastmodified gt 2018-09-27T22:56:07.7840953Z and properties/lastmodified
              le 2018-09-27T22:56:17.7840953Z
            $orderby: properties/lastmodified desc
            accountName: contosomedia
            api-version: 2018-07-01
            resourceGroupName: contosoresources
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contosoresources/providers/Microsoft.Media/mediaservices/contosomedia/transforms/sampleEncodeAndVideoIndex
                  name: sampleEncodeAndVideoIndex
                  properties:
                    created: 2018-09-27T22:56:17.7840953-07:00
                    description: A sample Transform using the Video Analyzer.
                    lastModified: 2018-09-27T22:56:17.7840953-07:00
                    outputs:
                    - onError: StopProcessingJob
                      preset:
                        '@odata.type': '#Microsoft.Media.VideoAnalyzerPreset'
                        insightsToExtract: AllInsights
                      relativePriority: Normal
                  type: Microsoft.Media/mediaservices/transforms
        Lists the Transforms filter by name:
          parameters:
            $filter: (name eq 'sampleEncode') or (name eq 'sampleEncodeAndVideoIndex')
            $orderby: name desc
            accountName: contosomedia
            api-version: 2018-07-01
            resourceGroupName: contosoresources
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contosoresources/providers/Microsoft.Media/mediaservices/contosomedia/transforms/sampleEncodeAndVideoIndex
                  name: sampleEncodeAndVideoIndex
                  properties:
                    created: 2018-09-27T22:56:07.5846087-07:00
                    description: "A sample Transform using the Standard Encoder with\
                      \ a built-in preset, as well as the Video Analyzer."
                    lastModified: 2018-09-27T22:56:07.5846087-07:00
                    outputs:
                    - onError: StopProcessingJob
                      preset:
                        '@odata.type': '#Microsoft.Media.VideoAnalyzerPreset'
                        insightsToExtract: AllInsights
                      relativePriority: Normal
                    - onError: StopProcessingJob
                      preset:
                        '@odata.type': '#Microsoft.Media.BuiltInStandardEncoderPreset'
                        presetName: AdaptiveStreaming
                      relativePriority: Normal
                  type: Microsoft.Media/mediaservices/transforms
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contosoresources/providers/Microsoft.Media/mediaservices/contosomedia/transforms/sampleEncode
                  name: sampleEncode
                  properties:
                    created: 2018-09-27T22:56:07.5846087-07:00
                    description: A sample Transform using the Standard Encoder with
                      a built in preset.
                    lastModified: 2018-09-27T22:56:07.5846087-07:00
                    outputs:
                    - onError: StopProcessingJob
                      preset:
                        '@odata.type': '#Microsoft.Media.BuiltInStandardEncoderPreset'
                        presetName: AdaptiveStreaming
                      relativePriority: Normal
                  type: Microsoft.Media/mediaservices/transforms
      x-ms-odata: '#/definitions/Transform'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
      x-openapi-router-controller: openapi_server.controllers.default_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaServices/{accountName}/transforms/{transformName}
  : delete:
      description: Deletes a Transform.
      operationId: transforms_delete
      parameters:
      - description: The unique identifier for a Microsoft Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group within the Azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Media Services account name.
        in: path
        name: account_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Transform name.
        in: path
        name: transformName
        required: true
        schema:
          type: string
      - description: The Version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "204":
          content: {}
          description: NoContent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Detailed error information.
      summary: Delete Transform
      x-ms-examples:
        Delete a Transform:
          parameters:
            accountName: contosomedia
            api-version: 2018-07-01
            resourceGroupName: contosoresources
            subscriptionId: 00000000-0000-0000-0000-000000000000
            transformName: sampleTransform
          responses:
            "200": {}
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.default_controller
    get:
      description: Gets a Transform.
      operationId: transforms_get
      parameters:
      - description: The unique identifier for a Microsoft Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group within the Azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Media Services account name.
        in: path
        name: account_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Transform name.
        in: path
        name: transformName
        required: true
        schema:
          type: string
      - description: The Version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transform'
          description: OK
        "404":
          content: {}
          description: NotFound
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Detailed error information.
      summary: Get Transform
      x-ms-examples:
        Get a Transform by name:
          parameters:
            accountName: contosomedia
            api-version: 2018-07-01
            resourceGroupName: contosoresources
            subscriptionId: 00000000-0000-0000-0000-000000000000
            transformName: sampleTransform
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contosoresources/providers/Microsoft.Media/mediaservices/contosomedia/transforms/sampleTransform
                name: sampleTransform
                properties:
                  created: 2018-08-08T16:29:57.8095562-04:00
                  description: A sample Transform using the Standard Encoder with
                    a built in preset.
                  lastModified: 2018-08-08T16:29:57.8095562-04:00
                  outputs:
                  - onError: StopProcessingJob
                    preset:
                      '@odata.type': '#Microsoft.Media.BuiltInStandardEncoderPreset'
                      presetName: H264MultipleBitrate1080p
                    relativePriority: Normal
                type: Microsoft.Media/mediaservices/transforms
            "404": {}
      x-openapi-router-controller: openapi_server.controllers.default_controller
    patch:
      description: Updates a Transform.
      operationId: transforms_update
      parameters:
      - description: The unique identifier for a Microsoft Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group within the Azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Media Services account name.
        in: path
        name: account_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Transform name.
        in: path
        name: transformName
        required: true
        schema:
          type: string
      - description: The Version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Transform'
        description: The request parameters
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transform'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Detailed error information.
      summary: Update Transform
      x-ms-examples:
        Update a Transform.:
          parameters:
            accountName: contosomedia
            api-version: 2018-07-01
            parameters:
              properties:
                description: Example transform to illustrate update.
                outputs:
                - preset:
                    '@odata.type': '#Microsoft.Media.BuiltInStandardEncoderPreset'
                    presetName: H264MultipleBitrate720p
                  relativePriority: High
            resourceGroupName: contosoresources
            subscriptionId: 00000000-0000-0000-0000-000000000000
            transformName: transformToUpdate
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contosoresources/providers/Microsoft.Media/mediaservices/contosomedia/transforms/transformToUpdate
                name: transformToUpdate
                properties:
                  created: 2019-05-29T17:01:44.2001108-07:00
                  description: Example transform to illustrate update.
                  lastModified: 2019-05-29T17:01:44.2761137-07:00
                  outputs:
                  - onError: StopProcessingJob
                    preset:
                      '@odata.type': '#Microsoft.Media.BuiltInStandardEncoderPreset'
                      presetName: H264MultipleBitrate720p
                    relativePriority: High
                type: Microsoft.Media/mediaservices/transforms
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.default_controller
    put:
      description: Creates or updates a new Transform.
      operationId: transforms_create_or_update
      parameters:
      - description: The unique identifier for a Microsoft Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group within the Azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Media Services account name.
        in: path
        name: account_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Transform name.
        in: path
        name: transformName
        required: true
        schema:
          type: string
      - description: The Version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Transform'
        description: The request parameters
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transform'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transform'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Detailed error information.
      summary: Create or Update Transform
      x-ms-examples:
        Create or update a Transform:
          parameters:
            accountName: contosomedia
            api-version: 2018-07-01
            parameters:
              properties:
                description: Example Transform to illustrate create and update.
                outputs:
                - preset:
                    '@odata.type': '#Microsoft.Media.BuiltInStandardEncoderPreset'
                    presetName: AdaptiveStreaming
            resourceGroupName: contosoresources
            subscriptionId: 00000000-0000-0000-0000-000000000000
            transformName: createdTransform
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contosoresources/providers/Microsoft.Media/mediaservices/contosomedia/transforms/createdTransform
                name: createdTransform
                properties:
                  created: 2019-05-29T17:01:44.0571152-07:00
                  description: Example Transform to illustrate create and update.
                  lastModified: 2019-05-29T17:01:44.0571152-07:00
                  outputs:
                  - onError: StopProcessingJob
                    preset:
                      '@odata.type': '#Microsoft.Media.BuiltInStandardEncoderPreset'
                      presetName: AdaptiveStreaming
                    relativePriority: Normal
                type: Microsoft.Media/mediaservices/transforms
            "201":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contosoresources/providers/Microsoft.Media/mediaservices/contosomedia/transforms/createdTransform
                name: createdTransform
                properties:
                  created: 2019-05-29T17:01:44.0571152-07:00
                  description: Example Transform to illustrate create and update.
                  lastModified: 2019-05-29T17:01:44.0571152-07:00
                  outputs:
                  - onError: StopProcessingJob
                    preset:
                      '@odata.type': '#Microsoft.Media.BuiltInStandardEncoderPreset'
                      presetName: AdaptiveStreaming
                    relativePriority: Normal
                type: Microsoft.Media/mediaservices/transforms
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.default_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaServices/{accountName}/transforms/{transformName}/jobs
  : get:
      description: Lists all of the Jobs for the Transform.
      operationId: jobs_list
      parameters:
      - description: The unique identifier for a Microsoft Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group within the Azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Media Services account name.
        in: path
        name: account_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Transform name.
        in: path
        name: transformName
        required: true
        schema:
          type: string
      - description: The Version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Restricts the set of items returned.
        in: query
        name: $filter
        schema:
          type: string
      - description: Specifies the by which the result collection should be ordered.
        in: query
        name: $orderby
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobCollection'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Detailed error information.
      summary: List Jobs
      x-ms-examples:
        Lists Jobs for the Transform filter by created.:
          parameters:
            $filter: properties/created ge 2018-09-27T22:56:18.5507138Z and properties/created
              le 2018-09-27T22:56:28.5507138Z
            $orderby: properties/created
            accountName: contosomedia
            api-version: 2018-07-01
            resourceGroupName: contosoresources
            subscriptionId: 00000000-0000-0000-0000-000000000000
            transformName: exampleTransform
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contosoresources/providers/Microsoft.Media/mediaservices/contosomedia/transforms/exampleTransform/jobs/job2
                  name: job2
                  properties:
                    correlationData: {}
                    created: 2018-09-27T22:56:18.5507138Z
                    input:
                      '@odata.type': '#Microsoft.Media.JobInputs'
                      inputs:
                      - '@odata.type': '#Microsoft.Media.JobInputAsset'
                        assetName: job2 input
                        files: []
                    lastModified: 2018-09-27T22:56:18.5507138Z
                    outputs:
                    - '@odata.type': '#Microsoft.Media.JobOutputAsset'
                      assetName: job2 output
                      label: example-custom-label
                      progress: 50
                      state: Processing
                    priority: Low
                    state: Processing
                  type: Microsoft.Media/mediaservices/transforms/jobs
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contosoresources/providers/Microsoft.Media/mediaservices/contosomedia/transforms/exampleTransform/jobs/job3
                  name: job3
                  properties:
                    correlationData: {}
                    created: 2018-09-27T22:56:28.5507138Z
                    input:
                      '@odata.type': '#Microsoft.Media.JobInputs'
                      inputs:
                      - '@odata.type': '#Microsoft.Media.JobInputAsset'
                        assetName: job3 input
                        files: []
                    lastModified: 2018-09-27T22:56:28.5507138Z
                    outputs:
                    - '@odata.type': '#Microsoft.Media.JobOutputAsset'
                      assetName: job3 output
                      label: example-custom-label
                      progress: 100
                      state: Finished
                    priority: Low
                    state: Finished
                  type: Microsoft.Media/mediaservices/transforms/jobs
        Lists Jobs for the Transform filter by lastmodified.:
          parameters:
            $filter: properties/lastmodified ge 2018-09-27T22:56:18.5821662Z and properties/lastmodified
              le 2018-09-27T22:56:28.5821662Z
            $orderby: properties/lastmodified desc
            accountName: contosomedia
            api-version: 2018-07-01
            resourceGroupName: contosoresources
            subscriptionId: 00000000-0000-0000-0000-000000000000
            transformName: exampleTransform
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contosoresources/providers/Microsoft.Media/mediaservices/contosomedia/transforms/exampleTransform/jobs/job3
                  name: job3
                  properties:
                    correlationData: {}
                    created: 2018-09-27T22:56:28.5821662Z
                    input:
                      '@odata.type': '#Microsoft.Media.JobInputs'
                      inputs:
                      - '@odata.type': '#Microsoft.Media.JobInputAsset'
                        assetName: job3 input
                        files: []
                    lastModified: 2018-09-27T22:56:28.5821662Z
                    outputs:
                    - '@odata.type': '#Microsoft.Media.JobOutputAsset'
                      assetName: job3 output
                      label: example-custom-label
                      progress: 100
                      state: Finished
                    priority: Low
                    state: Finished
                  type: Microsoft.Media/mediaservices/transforms/jobs
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contosoresources/providers/Microsoft.Media/mediaservices/contosomedia/transforms/exampleTransform/jobs/job2
                  name: job2
                  properties:
                    correlationData: {}
                    created: 2018-09-27T22:56:18.5821662Z
                    input:
                      '@odata.type': '#Microsoft.Media.JobInputs'
                      inputs:
                      - '@odata.type': '#Microsoft.Media.JobInputAsset'
                        assetName: job2 input
                        files: []
                    lastModified: 2018-09-27T22:56:18.5821662Z
                    outputs:
                    - '@odata.type': '#Microsoft.Media.JobOutputAsset'
                      assetName: job2 output
                      label: example-custom-label
                      progress: 50
                      state: Processing
                    priority: Low
                    state: Processing
                  type: Microsoft.Media/mediaservices/transforms/jobs
        Lists Jobs for the Transform filter by name and state.:
          parameters:
            $filter: name eq 'job3' and properties/state eq Microsoft.Media.JobState'finished'
            accountName: contosomedia
            api-version: 2018-07-01
            resourceGroupName: contosoresources
            subscriptionId: 00000000-0000-0000-0000-000000000000
            transformName: exampleTransform
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contosoresources/providers/Microsoft.Media/mediaservices/contosomedia/transforms/exampleTransform/jobs/job3
                  name: job3
                  properties:
                    correlationData: {}
                    created: 0001-01-01T00:00:00Z
                    input:
                      '@odata.type': '#Microsoft.Media.JobInputs'
                      inputs:
                      - '@odata.type': '#Microsoft.Media.JobInputAsset'
                        assetName: job3 input
                        files: []
                    lastModified: 0001-01-01T00:00:00Z
                    outputs:
                    - '@odata.type': '#Microsoft.Media.JobOutputAsset'
                      assetName: job3 output
                      label: example-custom-label
                      progress: 100
                      state: Finished
                    priority: Low
                    state: Finished
                  type: Microsoft.Media/mediaservices/transforms/jobs
        Lists Jobs for the Transform filter by name.:
          parameters:
            $filter: name eq 'job1' or name eq 'job2'
            $orderby: name
            accountName: contosomedia
            api-version: 2018-07-01
            resourceGroupName: contosoresources
            subscriptionId: 00000000-0000-0000-0000-000000000000
            transformName: exampleTransform
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contosoresources/providers/Microsoft.Media/mediaservices/contosomedia/transforms/exampleTransform/jobs/job1
                  name: job1
                  properties:
                    correlationData: {}
                    created: 0001-01-01T00:00:00Z
                    input:
                      '@odata.type': '#Microsoft.Media.JobInputs'
                      inputs:
                      - '@odata.type': '#Microsoft.Media.JobInputAsset'
                        assetName: job1 input
                        files: []
                    lastModified: 0001-01-01T00:00:00Z
                    outputs:
                    - '@odata.type': '#Microsoft.Media.JobOutputAsset'
                      assetName: job1 output
                      label: example-custom-label
                      progress: 0
                      state: Queued
                    priority: Low
                    state: Queued
                  type: Microsoft.Media/mediaservices/transforms/jobs
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contosoresources/providers/Microsoft.Media/mediaservices/contosomedia/transforms/exampleTransform/jobs/job2
                  name: job2
                  properties:
                    correlationData: {}
                    created: 0001-01-01T00:00:00Z
                    input:
                      '@odata.type': '#Microsoft.Media.JobInputs'
                      inputs:
                      - '@odata.type': '#Microsoft.Media.JobInputAsset'
                        assetName: job2 input
                        files: []
                    lastModified: 0001-01-01T00:00:00Z
                    outputs:
                    - '@odata.type': '#Microsoft.Media.JobOutputAsset'
                      assetName: job2 output
                      label: example-custom-label
                      progress: 50
                      state: Processing
                    priority: Low
                    state: Processing
                  type: Microsoft.Media/mediaservices/transforms/jobs
        Lists Jobs for the Transform filter by state equal.:
          parameters:
            $filter: properties/state eq Microsoft.Media.JobState'Processing'
            accountName: contosomedia
            api-version: 2018-07-01
            resourceGroupName: contosoresources
            subscriptionId: 00000000-0000-0000-0000-000000000000
            transformName: exampleTransform
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contosoresources/providers/Microsoft.Media/mediaservices/contosomedia/transforms/exampleTransform/jobs/job2
                  name: job2
                  properties:
                    correlationData: {}
                    created: 0001-01-01T00:00:00Z
                    input:
                      '@odata.type': '#Microsoft.Media.JobInputs'
                      inputs:
                      - '@odata.type': '#Microsoft.Media.JobInputAsset'
                        assetName: job2 input
                        files: []
                    lastModified: 0001-01-01T00:00:00Z
                    outputs:
                    - '@odata.type': '#Microsoft.Media.JobOutputAsset'
                      assetName: job2 output
                      label: example-custom-label
                      progress: 50
                      state: Processing
                    priority: Low
                    state: Processing
                  type: Microsoft.Media/mediaservices/transforms/jobs
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contosoresources/providers/Microsoft.Media/mediaservices/contosomedia/transforms/exampleTransform/jobs/job3
                  name: job3
                  properties:
                    correlationData: {}
                    created: 0001-01-01T00:00:00Z
                    input:
                      '@odata.type': '#Microsoft.Media.JobInputs'
                      inputs:
                      - '@odata.type': '#Microsoft.Media.JobInputAsset'
                        assetName: job3 input
                        files: []
                    lastModified: 0001-01-01T00:00:00Z
                    outputs:
                    - '@odata.type': '#Microsoft.Media.JobOutputAsset'
                      assetName: job3 output
                      label: example-custom-label
                      progress: 50
                      state: Processing
                    priority: Low
                    state: Processing
                  type: Microsoft.Media/mediaservices/transforms/jobs
        Lists Jobs for the Transform filter by state not equal.:
          parameters:
            $filter: properties/state ne Microsoft.Media.JobState'processing'
            accountName: contosomedia
            api-version: 2018-07-01
            resourceGroupName: contosoresources
            subscriptionId: 00000000-0000-0000-0000-000000000000
            transformName: exampleTransform
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contosoresources/providers/Microsoft.Media/mediaservices/contosomedia/transforms/exampleTransform/jobs/job1
                  name: job1
                  properties:
                    correlationData: {}
                    created: 0001-01-01T00:00:00Z
                    input:
                      '@odata.type': '#Microsoft.Media.JobInputs'
                      inputs:
                      - '@odata.type': '#Microsoft.Media.JobInputAsset'
                        assetName: job1 input
                        files: []
                    lastModified: 0001-01-01T00:00:00Z
                    outputs:
                    - '@odata.type': '#Microsoft.Media.JobOutputAsset'
                      assetName: job1 output
                      label: example-custom-label
                      progress: 0
                      state: Queued
                    priority: Low
                    state: Queued
                  type: Microsoft.Media/mediaservices/transforms/jobs
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contosoresources/providers/Microsoft.Media/mediaservices/contosomedia/transforms/exampleTransform/jobs/job4
                  name: job4
                  properties:
                    correlationData: {}
                    created: 0001-01-01T00:00:00Z
                    input:
                      '@odata.type': '#Microsoft.Media.JobInputs'
                      inputs:
                      - '@odata.type': '#Microsoft.Media.JobInputAsset'
                        assetName: job4 input
                        files: []
                    lastModified: 0001-01-01T00:00:00Z
                    outputs:
                    - '@odata.type': '#Microsoft.Media.JobOutputAsset'
                      assetName: job4 output
                      label: example-custom-label
                      progress: 100
                      state: Finished
                    priority: Low
                    state: Finished
                  type: Microsoft.Media/mediaservices/transforms/jobs
        Lists all of the Jobs for the Transform.:
          parameters:
            accountName: contosomedia
            api-version: 2018-07-01
            resourceGroupName: contosoresources
            subscriptionId: 00000000-0000-0000-0000-000000000000
            transformName: exampleTransform
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contosoresources/providers/Microsoft.Media/mediaservices/contosomedia/transforms/exampleTransform/jobs/job1
                  name: job1
                  properties:
                    correlationData: {}
                    created: 2018-08-08T16:29:58.0908004Z
                    input:
                      '@odata.type': '#Microsoft.Media.JobInputs'
                      inputs:
                      - '@odata.type': '#Microsoft.Media.JobInputAsset'
                        assetName: job1 input
                        files: []
                    lastModified: 2018-08-08T16:29:58.0908004Z
                    outputs:
                    - '@odata.type': '#Microsoft.Media.JobOutputAsset'
                      assetName: job1 output
                      label: example-custom-label
                      progress: 0
                      state: Queued
                    priority: Low
                    state: Queued
                  type: Microsoft.Media/mediaservices/transforms/jobs
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contosoresources/providers/Microsoft.Media/mediaservices/contosomedia/transforms/exampleTransform/jobs/job2
                  name: job2
                  properties:
                    correlationData: {}
                    created: 2018-08-08T16:29:58.0927994Z
                    input:
                      '@odata.type': '#Microsoft.Media.JobInputs'
                      inputs:
                      - '@odata.type': '#Microsoft.Media.JobInputAsset'
                        assetName: job2 input
                        files: []
                    lastModified: 2018-08-08T16:29:58.0927994Z
                    outputs:
                    - '@odata.type': '#Microsoft.Media.JobOutputAsset'
                      assetName: job2 output
                      label: example-custom-label
                      progress: 50
                      state: Processing
                    priority: Low
                    state: Processing
                  type: Microsoft.Media/mediaservices/transforms/jobs
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contosoresources/providers/Microsoft.Media/mediaservices/contosomedia/transforms/exampleTransform/jobs/job3
                  name: job3
                  properties:
                    correlationData: {}
                    created: 2018-08-08T16:29:58.0927994Z
                    input:
                      '@odata.type': '#Microsoft.Media.JobInputs'
                      inputs:
                      - '@odata.type': '#Microsoft.Media.JobInputAsset'
                        assetName: job3 input
                        files: []
                    lastModified: 2018-08-08T16:29:58.0927994Z
                    outputs:
                    - '@odata.type': '#Microsoft.Media.JobOutputAsset'
                      assetName: job3 output
                      label: example-custom-label
                      progress: 100
                      state: Finished
                    priority: Low
                    state: Finished
                  type: Microsoft.Media/mediaservices/transforms/jobs
      x-ms-odata: '#/definitions/Job'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
      x-openapi-router-controller: openapi_server.controllers.default_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaServices/{accountName}/transforms/{transformName}/jobs/{jobName}
  : delete:
      description: Deletes a Job.
      operationId: jobs_delete
      parameters:
      - description: The unique identifier for a Microsoft Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group within the Azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Media Services account name.
        in: path
        name: account_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Transform name.
        in: path
        name: transformName
        required: true
        schema:
          type: string
      - description: The Job name.
        in: path
        name: jobName
        required: true
        schema:
          type: string
      - description: The Version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "204":
          content: {}
          description: NoContent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Detailed error information.
      summary: Delete Job
      x-ms-examples:
        Delete a Job:
          parameters:
            accountName: contosomedia
            api-version: 2018-07-01
            jobName: jobToDelete
            resourceGroupName: contosoresources
            subscriptionId: 00000000-0000-0000-0000-000000000000
            transformName: exampleTransform
          responses:
            "200": {}
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.default_controller
    get:
      description: Gets a Job.
      operationId: jobs_get
      parameters:
      - description: The unique identifier for a Microsoft Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group within the Azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Media Services account name.
        in: path
        name: account_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Transform name.
        in: path
        name: transformName
        required: true
        schema:
          type: string
      - description: The Job name.
        in: path
        name: jobName
        required: true
        schema:
          type: string
      - description: The Version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
          description: OK
        "404":
          content: {}
          description: NotFound
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Detailed error information.
      summary: Get Job
      x-ms-examples:
        Get a Job by name:
          parameters:
            accountName: contosomedia
            api-version: 2018-07-01
            jobName: job1
            resourceGroupName: contosoresources
            subscriptionId: 00000000-0000-0000-0000-000000000000
            transformName: exampleTransform
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contosoresources/providers/Microsoft.Media/mediaservices/contosomedia/transforms/exampleTransform/jobs/job1
                name: job1
                properties:
                  correlationData: {}
                  created: 2018-08-08T16:29:58.1798Z
                  input:
                    '@odata.type': '#Microsoft.Media.JobInputs'
                    inputs:
                    - '@odata.type': '#Microsoft.Media.JobInputAsset'
                      assetName: job1 input
                      files: []
                  lastModified: 2018-08-08T16:29:58.1798Z
                  outputs:
                  - '@odata.type': '#Microsoft.Media.JobOutputAsset'
                    assetName: job1 output
                    label: example-custom-label
                    progress: 0
                    state: Queued
                  priority: Low
                  state: Queued
                type: Microsoft.Media/mediaservices/transforms/jobs
            "404": {}
      x-openapi-router-controller: openapi_server.controllers.default_controller
    patch:
      description: Update is only supported for description and priority. Updating
        Priority will take effect when the Job state is Queued or Scheduled and depending
        on the timing the priority update may be ignored.
      operationId: jobs_update
      parameters:
      - description: The unique identifier for a Microsoft Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group within the Azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Media Services account name.
        in: path
        name: account_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Transform name.
        in: path
        name: transformName
        required: true
        schema:
          type: string
      - description: The Job name.
        in: path
        name: jobName
        required: true
        schema:
          type: string
      - description: The Version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Job'
        description: The request parameters
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Detailed error information.
      summary: Update Job
      x-ms-examples:
        Update a Job:
          parameters:
            accountName: contosomedia
            api-version: 2018-07-01
            jobName: job1
            parameters:
              properties:
                description: Example job to illustrate update.
                priority: High
            resourceGroupName: contosoresources
            subscriptionId: 00000000-0000-0000-0000-000000000000
            transformName: exampleTransform
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contosoresources/providers/Microsoft.Media/mediaservices/contosomedia/transforms/exampleTransform/jobs/job1
                name: job1
                properties:
                  correlationData: {}
                  created: 2018-08-08T16:29:58.3218119Z
                  description: Example job to illustrate update.
                  input:
                    '@odata.type': '#Microsoft.Media.JobInputs'
                    inputs:
                    - '@odata.type': '#Microsoft.Media.JobInputAsset'
                      assetName: job1 input
                      files: []
                  lastModified: 2018-08-08T16:29:58.3368364Z
                  outputs:
                  - '@odata.type': '#Microsoft.Media.JobOutputAsset'
                    assetName: job1 output
                    label: example-custom-label
                    progress: 0
                    state: Queued
                  priority: High
                  state: Queued
                type: Microsoft.Media/mediaservices/transforms/jobs
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.default_controller
    put:
      description: Creates a Job.
      operationId: jobs_create
      parameters:
      - description: The unique identifier for a Microsoft Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group within the Azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Media Services account name.
        in: path
        name: account_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Transform name.
        in: path
        name: transformName
        required: true
        schema:
          type: string
      - description: The Job name.
        in: path
        name: jobName
        required: true
        schema:
          type: string
      - description: The Version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Job'
        description: The request parameters
        required: true
        x-body-name: parameters
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Detailed error information.
      summary: Create Job
      x-ms-examples:
        Create a Job:
          parameters:
            accountName: contosomedia
            api-version: 2018-07-01
            jobName: job1
            parameters:
              properties:
                correlationData:
                  Key 2: Value 2
                  key1: value1
                input:
                  '@odata.type': '#Microsoft.Media.JobInputAsset'
                  assetName: job1-InputAsset
                outputs:
                - '@odata.type': '#Microsoft.Media.JobOutputAsset'
                  assetName: job1-OutputAsset
            resourceGroupName: contosoresources
            subscriptionId: 00000000-0000-0000-0000-000000000000
            transformName: exampleTransform
          responses:
            "201":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contosoresources/providers/Microsoft.Media/mediaservices/contosomedia/transforms/exampleTransform/jobs/job1
                name: job1
                properties:
                  correlationData:
                    Key 2: Value 2
                    key1: value1
                  created: 2018-08-08T16:29:58.2188352Z
                  input:
                    '@odata.type': '#Microsoft.Media.JobInputAsset'
                    assetName: job1-InputAsset
                    files: []
                  lastModified: 2018-08-08T16:29:58.2188352Z
                  outputs:
                  - '@odata.type': '#Microsoft.Media.JobOutputAsset'
                    assetName: job1-OutputAsset
                    label: BuiltInStandardEncoderPreset_0
                    progress: 0
                    state: Queued
                  priority: Normal
                  state: Queued
                type: Microsoft.Media/mediaservices/transforms/jobs
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.default_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaServices/{accountName}/transforms/{transformName}/jobs/{jobName}/cancelJob
  : post:
      description: Cancel a Job.
      operationId: jobs_cancel_job
      parameters:
      - description: The unique identifier for a Microsoft Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group within the Azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Media Services account name.
        in: path
        name: account_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Transform name.
        in: path
        name: transformName
        required: true
        schema:
          type: string
      - description: The Job name.
        in: path
        name: jobName
        required: true
        schema:
          type: string
      - description: The Version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Detailed error information.
      summary: Cancel Job
      x-ms-examples:
        Cancel a Job:
          parameters:
            accountName: contosomedia
            api-version: 2018-07-01
            jobName: job1
            resourceGroupName: contosoresources
            subscriptionId: 00000000-0000-0000-0000-000000000000
            transformName: exampleTransform
          responses:
            "200": {}
      x-openapi-router-controller: openapi_server.controllers.default_controller
components:
  parameters:
    ApiVersion:
      description: The Version of the API to be used with the client request.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    MediaServicesAccountName:
      description: The Media Services account name.
      in: path
      name: accountName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ResourceGroupName:
      description: The name of the resource group within the Azure subscription.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SubscriptionId:
      description: The unique identifier for a Microsoft Azure subscription.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    AacAudio:
      allOf:
      - $ref: '#/components/schemas/Audio'
      description: Describes Advanced Audio Codec (AAC) audio encoding settings.
      properties:
        profile:
          description: The encoding profile to be used when encoding audio with AAC.
          enum:
          - AacLc
          - HeAacV1
          - HeAacV2
          type: string
          x-ms-enum:
            modelAsString: true
            name: AacAudioProfile
            values:
            - description: Specifies that the output audio is to be encoded into AAC
                Low Complexity profile (AAC-LC).
              value: AacLc
            - description: Specifies that the output audio is to be encoded into HE-AAC
                v1 profile.
              value: HeAacV1
            - description: Specifies that the output audio is to be encoded into HE-AAC
                v2 profile.
              value: HeAacV2
      x-ms-discriminator-value: '#Microsoft.Media.AacAudio'
    AbsoluteClipTime:
      allOf:
      - $ref: '#/components/schemas/ClipTime'
      description: Specifies the clip time as an absolute time position in the media
        file.  The absolute time can point to a different position depending on whether
        the media file starts from a timestamp of zero or not.
      properties:
        time:
          description: The time position on the timeline of the input media. It is
            usually specified as an ISO8601 period. e.g PT30S for 30 seconds.
          format: duration
          type: string
      required:
      - time
      x-ms-discriminator-value: '#Microsoft.Media.AbsoluteClipTime'
    ApiError:
      description: The API error.
      example:
        error:
          code: code
          details:
          - null
          - null
          message: message
          target: target
      properties:
        error:
          $ref: '#/components/schemas/ODataError'
      title: ApiError
      type: object
    Audio:
      allOf:
      - $ref: '#/components/schemas/Codec'
      description: Defines the common properties for all audio codecs.
      properties:
        bitrate:
          description: "The bitrate, in bits per second, of the output encoded audio."
          format: int32
          title: bitrate
          type: integer
        channels:
          description: The number of channels in the audio.
          format: int32
          title: channels
          type: integer
        samplingRate:
          description: The sampling rate to use for encoding in hertz.
          format: int32
          title: samplingRate
          type: integer
      title: Audio
      x-ms-discriminator-value: '#Microsoft.Media.Audio'
    AudioAnalyzerPreset:
      allOf:
      - $ref: '#/components/schemas/Preset'
      description: "The Audio Analyzer preset applies a pre-defined set of AI-based\
        \ analysis operations, including speech transcription. Currently, the preset\
        \ supports processing of content with a single audio track."
      properties:
        audioLanguage:
          description: "The language for the audio payload in the input using the\
            \ BCP-47 format of 'language tag-region' (e.g: 'en-US').  The list of\
            \ supported languages are English ('en-US' and 'en-GB'), Spanish ('es-ES'\
            \ and 'es-MX'), French ('fr-FR'), Italian ('it-IT'), Japanese ('ja-JP'),\
            \ Portuguese ('pt-BR'), Chinese ('zh-CN'), German ('de-DE'), Arabic ('ar-EG'\
            \ and 'ar-SY'), Russian ('ru-RU'), Hindi ('hi-IN'), and Korean ('ko-KR').\
            \ If you know the language of your content, it is recommended that you\
            \ specify it. If the language isn't specified or set to null, automatic\
            \ language detection will choose the first language detected and process\
            \ with the selected language for the duration of the file. This language\
            \ detection feature currently supports English, Chinese, French, German,\
            \ Italian, Japanese, Spanish, Russian, and Portuguese. It does not currently\
            \ support dynamically switching between languages after the first language\
            \ is detected. The automatic detection works best with audio recordings\
            \ with clearly discernable speech. If automatic detection fails to find\
            \ the language, transcription would fallback to 'en-US'.\""
          title: audioLanguage
          type: string
      title: AudioAnalyzerPreset
      x-ms-discriminator-value: '#Microsoft.Media.AudioAnalyzerPreset'
    AudioOverlay:
      allOf:
      - $ref: '#/components/schemas/Overlay'
      description: Describes the properties of an audio overlay.
      x-ms-discriminator-value: '#Microsoft.Media.AudioOverlay'
    BuiltInStandardEncoderPreset:
      allOf:
      - $ref: '#/components/schemas/Preset'
      description: Describes a built-in preset for encoding the input video with the
        Standard Encoder.
      properties:
        presetName:
          description: The built-in preset to be used for encoding videos.
          enum:
          - H264SingleBitrateSD
          - H264SingleBitrate720p
          - H264SingleBitrate1080p
          - AdaptiveStreaming
          - AACGoodQualityAudio
          - ContentAwareEncodingExperimental
          - H264MultipleBitrate1080p
          - H264MultipleBitrate720p
          - H264MultipleBitrateSD
          type: string
          x-ms-enum:
            modelAsString: true
            name: EncoderNamedPreset
            values:
            - description: "Produces an MP4 file where the video is encoded with H.264\
                \ codec at 2200 kbps and a picture height of 480 pixels, and the stereo\
                \ audio is encoded with AAC-LC codec at 64 kbps."
              value: H264SingleBitrateSD
            - description: "Produces an MP4 file where the video is encoded with H.264\
                \ codec at 4500 kbps and a picture height of 720 pixels, and the stereo\
                \ audio is encoded with AAC-LC codec at 64 kbps."
              value: H264SingleBitrate720p
            - description: "Produces an MP4 file where the video is encoded with H.264\
                \ codec at 6750 kbps and a picture height of 1080 pixels, and the\
                \ stereo audio is encoded with AAC-LC codec at 64 kbps."
              value: H264SingleBitrate1080p
            - description: "Produces a set of GOP aligned MP4 files with H.264 video\
                \ and stereo AAC audio. Auto-generates a bitrate ladder based on the\
                \ input resolution and bitrate. The auto-generated preset will never\
                \ exceed the input resolution and bitrate. For example, if the input\
                \ is 720p at 3 Mbps, output will remain 720p at best, and will start\
                \ at rates lower than 3 Mbps. The output will have video and audio\
                \ in separate MP4 files, which is optimal for adaptive streaming."
              value: AdaptiveStreaming
            - description: Produces a single MP4 file containing only stereo audio
                encoded at 192 kbps.
              value: AACGoodQualityAudio
            - description: "Exposes an experimental preset for content-aware encoding.\
                \ Given any input content, the service attempts to automatically determine\
                \ the optimal number of layers, appropriate bitrate and resolution\
                \ settings for delivery by adaptive streaming. The underlying algorithms\
                \ will continue to evolve over time. The output will contain MP4 files\
                \ with video and audio interleaved."
              value: ContentAwareEncodingExperimental
            - description: "Produces a set of 8 GOP-aligned MP4 files, ranging from\
                \ 6000 kbps to 400 kbps, and stereo AAC audio. Resolution starts at\
                \ 1080p and goes down to 360p."
              value: H264MultipleBitrate1080p
            - description: "Produces a set of 6 GOP-aligned MP4 files, ranging from\
                \ 3400 kbps to 400 kbps, and stereo AAC audio. Resolution starts at\
                \ 720p and goes down to 360p."
              value: H264MultipleBitrate720p
            - description: "Produces a set of 5 GOP-aligned MP4 files, ranging from\
                \ 1600 kbps to 400 kbps, and stereo AAC audio. Resolution starts at\
                \ 480p and goes down to 360p."
              value: H264MultipleBitrateSD
      required:
      - presetName
      x-ms-discriminator-value: '#Microsoft.Media.BuiltInStandardEncoderPreset'
    ClipTime:
      description: Base class for specifying a clip time. Use sub classes of this
        class to specify the time position in the media.
      discriminator:
        propertyName: '@odata.type'
      properties:
        '@odata.type':
          description: The discriminator for derived types.
          title: '@odata.type'
          type: string
      required:
      - '@odata.type'
      title: ClipTime
      type: object
    Codec:
      description: Describes the basic properties of all codecs.
      discriminator:
        propertyName: '@odata.type'
      properties:
        '@odata.type':
          description: The discriminator for derived types.
          title: '@odata.type'
          type: string
        label:
          description: An optional label for the codec. The label can be used to control
            muxing behavior.
          title: label
          type: string
      required:
      - '@odata.type'
      title: Codec
      type: object
    CopyAudio:
      allOf:
      - $ref: '#/components/schemas/Codec'
      description: "A codec flag, which tells the encoder to copy the input audio\
        \ bitstream."
      x-ms-discriminator-value: '#Microsoft.Media.CopyAudio'
    CopyVideo:
      allOf:
      - $ref: '#/components/schemas/Codec'
      description: "A codec flag, which tells the encoder to copy the input video\
        \ bitstream without re-encoding."
      x-ms-discriminator-value: '#Microsoft.Media.CopyVideo'
    Deinterlace:
      description: Describes the de-interlacing settings.
      properties:
        mode:
          description: The deinterlacing mode. Defaults to AutoPixelAdaptive.
          enum:
          - "Off"
          - AutoPixelAdaptive
          title: mode
          type: string
          x-ms-enum:
            modelAsString: true
            name: DeinterlaceMode
            values:
            - description: Disables de-interlacing of the source video.
              value: "Off"
            - description: Apply automatic pixel adaptive de-interlacing on each frame
                in the input video.
              value: AutoPixelAdaptive
        parity:
          description: "The field parity for de-interlacing, defaults to Auto."
          enum:
          - Auto
          - TopFieldFirst
          - BottomFieldFirst
          title: parity
          type: string
          x-ms-enum:
            modelAsString: true
            name: DeinterlaceParity
            values:
            - description: Automatically detect the order of fields
              value: Auto
            - description: Apply top field first processing of input video.
              value: TopFieldFirst
            - description: Apply bottom field first processing of input video.
              value: BottomFieldFirst
      title: Deinterlace
      type: object
    FaceDetectorPreset:
      allOf:
      - $ref: '#/components/schemas/Preset'
      description: Describes all the settings to be used when analyzing a video in
        order to detect all the faces present.
      properties:
        resolution:
          description: "Specifies the maximum resolution at which your video is analyzed.\
            \ The default behavior is \"SourceResolution,\" which will keep the input\
            \ video at its original resolution when analyzed. Using \"StandardDefinition\"\
            \ will resize input videos to standard definition while preserving the\
            \ appropriate aspect ratio. It will only resize if the video is of higher\
            \ resolution. For example, a 1920x1080 input would be scaled to 640x360\
            \ before processing. Switching to \"StandardDefinition\" will reduce the\
            \ time it takes to process high resolution video. It may also reduce the\
            \ cost of using this component (see https://azure.microsoft.com/en-us/pricing/details/media-services/#analytics\
            \ for details). However, faces that end up being too small in the resized\
            \ video may not be detected."
          enum:
          - SourceResolution
          - StandardDefinition
          type: string
          x-ms-enum:
            modelAsString: true
            name: AnalysisResolution
            values:
            - value: SourceResolution
            - value: StandardDefinition
      x-ms-discriminator-value: '#Microsoft.Media.FaceDetectorPreset'
    Filters:
      description: "Describes all the filtering operations, such as de-interlacing,\
        \ rotation etc. that are to be applied to the input media before encoding."
      properties:
        crop:
          $ref: '#/components/schemas/Rectangle'
        deinterlace:
          $ref: '#/components/schemas/Deinterlace'
        overlays:
          description: "The properties of overlays to be applied to the input video.\
            \ These could be audio, image or video overlays."
          items:
            $ref: '#/components/schemas/Overlay'
          title: overlays
          type: array
        rotation:
          description: "The rotation, if any, to be applied to the input video, before\
            \ it is encoded. Default is Auto"
          enum:
          - Auto
          - None
          - Rotate0
          - Rotate90
          - Rotate180
          - Rotate270
          title: rotation
          type: string
          x-ms-enum:
            modelAsString: true
            name: Rotation
            values:
            - description: Automatically detect and rotate as needed.
              value: Auto
            - description: "Do not rotate the video.  If the output format supports\
                \ it, any metadata about rotation is kept intact."
              value: None
            - description: Do not rotate the video but remove any metadata about the
                rotation.
              value: Rotate0
            - description: Rotate 90 degrees clockwise.
              value: Rotate90
            - description: Rotate 180 degrees clockwise.
              value: Rotate180
            - description: Rotate 270 degrees clockwise.
              value: Rotate270
      title: Filters
      type: object
    Format:
      description: Base class for output.
      discriminator:
        propertyName: '@odata.type'
      properties:
        '@odata.type':
          description: The discriminator for derived types.
          title: '@odata.type'
          type: string
        filenamePattern:
          description: "The pattern of the file names for the generated output files.\
            \ The following macros are supported in the file name: {Basename} - The\
            \ base name of the input video {Extension} - The appropriate extension\
            \ for this format. {Label} - The label assigned to the codec/layer. {Index}\
            \ - A unique index for thumbnails. Only applicable to thumbnails. {Bitrate}\
            \ - The audio/video bitrate. Not applicable to thumbnails. {Codec} - The\
            \ type of the audio/video codec. Any unsubstituted macros will be collapsed\
            \ and removed from the filename."
          title: filenamePattern
          type: string
      required:
      - '@odata.type'
      - filenamePattern
      title: Format
      type: object
    H264Layer:
      allOf:
      - $ref: '#/components/schemas/VideoLayer'
      description: Describes the settings to be used when encoding the input video
        into a desired output bitrate layer with the H.264 video codec.
      properties:
        bufferWindow:
          description: "The VBV buffer window length. The value should be in ISO 8601\
            \ format. The value should be in the range [0.1-100] seconds. The default\
            \ is 5 seconds (for example, PT5S)."
          format: duration
          title: bufferWindow
          type: string
        entropyMode:
          description: "The entropy mode to be used for this layer. If not specified,\
            \ the encoder chooses the mode that is appropriate for the profile and\
            \ level."
          enum:
          - Cabac
          - Cavlc
          title: entropyMode
          type: string
          x-ms-enum:
            modelAsString: true
            name: EntropyMode
            values:
            - description: Context Adaptive Binary Arithmetic Coder (CABAC) entropy
                encoding.
              value: Cabac
            - description: Context Adaptive Variable Length Coder (CAVLC) entropy
                encoding.
              value: Cavlc
        level:
          description: "We currently support Level up to 6.2. The value can be Auto,\
            \ or a number that matches the H.264 profile. If not specified, the default\
            \ is Auto, which lets the encoder choose the Level that is appropriate\
            \ for this layer."
          title: level
          type: string
        profile:
          description: "We currently support Baseline, Main, High, High422, High444.\
            \ Default is Auto."
          enum:
          - Auto
          - Baseline
          - Main
          - High
          - High422
          - High444
          title: profile
          type: string
          x-ms-enum:
            modelAsString: true
            name: H264VideoProfile
            values:
            - description: Tells the encoder to automatically determine the appropriate
                H.264 profile.
              value: Auto
            - description: Baseline profile
              value: Baseline
            - description: Main profile
              value: Main
            - description: High profile.
              value: High
            - description: High 4:2:2 profile.
              value: High422
            - description: High 4:4:4 predictive profile.
              value: High444
        referenceFrames:
          description: "The number of reference frames to be used when encoding this\
            \ layer. If not specified, the encoder determines an appropriate number\
            \ based on the encoder complexity setting."
          format: int32
          title: referenceFrames
          type: integer
      title: H264Layer
      x-ms-discriminator-value: '#Microsoft.Media.H264Layer'
    H264Video:
      allOf:
      - $ref: '#/components/schemas/Video'
      description: Describes all the properties for encoding a video with the H.264
        codec.
      properties:
        complexity:
          description: Tells the encoder how to choose its encoding settings. The
            default value is Balanced.
          enum:
          - Speed
          - Balanced
          - Quality
          type: string
          x-ms-enum:
            modelAsString: true
            name: H264Complexity
            values:
            - description: Tells the encoder to use settings that are optimized for
                faster encoding. Quality is sacrificed to decrease encoding time.
              value: Speed
            - description: Tells the encoder to use settings that achieve a balance
                between speed and quality.
              value: Balanced
            - description: Tells the encoder to use settings that are optimized to
                produce higher quality output at the expense of slower overall encode
                time.
              value: Quality
        layers:
          description: The collection of output H.264 layers to be produced by the
            encoder.
          items:
            $ref: '#/components/schemas/H264Layer'
          type: array
        sceneChangeDetection:
          description: "Whether or not the encoder should insert key frames at scene\
            \ changes. If not specified, the default is false. This flag should be\
            \ set to true only when the encoder is being configured to produce a single\
            \ output video."
          type: boolean
      x-ms-discriminator-value: '#Microsoft.Media.H264Video'
    Image:
      allOf:
      - $ref: '#/components/schemas/Video'
      description: Describes the basic properties for generating thumbnails from the
        input video
      properties:
        range:
          description: "The position in the input video at which to stop generating\
            \ thumbnails. The value can be in absolute timestamp (ISO 8601, e.g: PT5M30S\
            \ to stop at 5 minutes and 30 seconds), or a frame count (For example,\
            \ 300 to stop at the 300th frame), or a relative value (For example, 100%)."
          title: range
          type: string
        start:
          description: "The position in the input video from where to start generating\
            \ thumbnails. The value can be in absolute timestamp (ISO 8601, e.g: PT05S),\
            \ or a frame count (For example, 10 for the 10th frame), or a relative\
            \ value (For example, 1%). Also supports a macro {Best}, which tells the\
            \ encoder to select the best thumbnail from the first few seconds of the\
            \ video."
          title: start
          type: string
        step:
          description: "The intervals at which thumbnails are generated. The value\
            \ can be in absolute timestamp (ISO 8601, e.g: PT05S for one image every\
            \ 5 seconds), or a frame count (For example, 30 for every 30 frames),\
            \ or a relative value (For example, 1%)."
          title: step
          type: string
      required:
      - start
      title: Image
      x-ms-discriminator-value: '#Microsoft.Media.Image'
    ImageFormat:
      allOf:
      - $ref: '#/components/schemas/Format'
      description: Describes the properties for an output image file.
      title: ImageFormat
      x-ms-discriminator-value: '#Microsoft.Media.ImageFormat'
    Job:
      allOf:
      - allOf:
        - description: The core properties of ARM resources.
          properties:
            id:
              description: Fully qualified resource ID for the resource.
              readOnly: true
              type: string
            name:
              description: The name of the resource.
              readOnly: true
              type: string
            type:
              description: The type of the resource.
              readOnly: true
              type: string
          type: object
          x-ms-azure-resource: true
        description: The resource model definition for a ARM proxy resource.
      description: A Job resource type. The progress and state can be obtained by
        polling a Job or subscribing to events using EventGrid.
      example:
        properties:
          correlationData:
            key: correlationData
          outputs:
          - '@odata.type': '@odata.type'
            progress: 0
            label: label
            state: Canceled
            error:
              code: ServiceError
              details:
              - code: code
                message: message
              - code: code
                message: message
              category: Service
              message: message
              retry: DoNotRetry
          - '@odata.type': '@odata.type'
            progress: 0
            label: label
            state: Canceled
            error:
              code: ServiceError
              details:
              - code: code
                message: message
              - code: code
                message: message
              category: Service
              message: message
              retry: DoNotRetry
          input:
            '@odata.type': '@odata.type'
          created: 2000-01-23T04:56:07.000+00:00
          description: description
          lastModified: 2000-01-23T04:56:07.000+00:00
          state: Canceled
          priority: Low
      properties:
        properties:
          $ref: '#/components/schemas/JobProperties'
      title: Job
    JobCollection:
      description: A collection of Job items.
      example:
        '@odata.nextLink': '@odata.nextLink'
        value:
        - properties:
            correlationData:
              key: correlationData
            outputs:
            - '@odata.type': '@odata.type'
              progress: 0
              label: label
              state: Canceled
              error:
                code: ServiceError
                details:
                - code: code
                  message: message
                - code: code
                  message: message
                category: Service
                message: message
                retry: DoNotRetry
            - '@odata.type': '@odata.type'
              progress: 0
              label: label
              state: Canceled
              error:
                code: ServiceError
                details:
                - code: code
                  message: message
                - code: code
                  message: message
                category: Service
                message: message
                retry: DoNotRetry
            input:
              '@odata.type': '@odata.type'
            created: 2000-01-23T04:56:07.000+00:00
            description: description
            lastModified: 2000-01-23T04:56:07.000+00:00
            state: Canceled
            priority: Low
        - properties:
            correlationData:
              key: correlationData
            outputs:
            - '@odata.type': '@odata.type'
              progress: 0
              label: label
              state: Canceled
              error:
                code: ServiceError
                details:
                - code: code
                  message: message
                - code: code
                  message: message
                category: Service
                message: message
                retry: DoNotRetry
            - '@odata.type': '@odata.type'
              progress: 0
              label: label
              state: Canceled
              error:
                code: ServiceError
                details:
                - code: code
                  message: message
                - code: code
                  message: message
                category: Service
                message: message
                retry: DoNotRetry
            input:
              '@odata.type': '@odata.type'
            created: 2000-01-23T04:56:07.000+00:00
            description: description
            lastModified: 2000-01-23T04:56:07.000+00:00
            state: Canceled
            priority: Low
      properties:
        '@odata.nextLink':
          description: A link to the next page of the collection (when the collection
            contains too many results to return in one response).
          title: '@odata.nextLink'
          type: string
        value:
          description: A collection of Job items.
          items:
            $ref: '#/components/schemas/Job'
          title: value
          type: array
      title: JobCollection
      type: object
    JobError:
      description: Details of JobOutput errors.
      example:
        code: ServiceError
        details:
        - code: code
          message: message
        - code: code
          message: message
        category: Service
        message: message
        retry: DoNotRetry
      properties:
        category:
          description: Helps with categorization of errors.
          enum:
          - Service
          - Download
          - Upload
          - Configuration
          - Content
          nullable: false
          readOnly: true
          title: category
          type: string
          x-ms-enum:
            modelAsString: true
            name: JobErrorCategory
            values:
            - description: The error is service related.
              value: Service
            - description: The error is download related.
              value: Download
            - description: The error is upload related.
              value: Upload
            - description: The error is configuration related.
              value: Configuration
            - description: The error is related to data in the input files.
              value: Content
        code:
          description: Error code describing the error.
          enum:
          - ServiceError
          - ServiceTransientError
          - DownloadNotAccessible
          - DownloadTransientError
          - UploadNotAccessible
          - UploadTransientError
          - ConfigurationUnsupported
          - ContentMalformed
          - ContentUnsupported
          nullable: false
          readOnly: true
          title: code
          type: string
          x-ms-enum:
            modelAsString: true
            name: JobErrorCode
            values:
            - description: "Fatal service error, please contact support."
              value: ServiceError
            - description: "Transient error, please retry, if retry is unsuccessful,\
                \ please contact support."
              value: ServiceTransientError
            - description: "While trying to download the input files, the files were\
                \ not accessible, please check the availability of the source."
              value: DownloadNotAccessible
            - description: "While trying to download the input files, there was an\
                \ issue during transfer (storage service, network errors), see details\
                \ and check your source."
              value: DownloadTransientError
            - description: "While trying to upload the output files, the destination\
                \ was not reachable, please check the availability of the destination."
              value: UploadNotAccessible
            - description: "While trying to upload the output files, there was an\
                \ issue during transfer (storage service, network errors), see details\
                \ and check your destination."
              value: UploadTransientError
            - description: "There was a problem with the combination of input files\
                \ and the configuration settings applied, fix the configuration settings\
                \ and retry with the same input, or change input to match the configuration."
              value: ConfigurationUnsupported
            - description: "There was a problem with the input content (for example:\
                \ zero byte files, or corrupt/non-decodable files), check the input\
                \ files."
              value: ContentMalformed
            - description: "There was a problem with the format of the input (not\
                \ valid media file, or an unsupported file/codec), check the validity\
                \ of the input files."
              value: ContentUnsupported
        details:
          description: An array of details about specific errors that led to this
            reported error.
          items:
            $ref: '#/components/schemas/JobErrorDetail'
          readOnly: true
          title: details
          type: array
        message:
          description: A human-readable language-dependent representation of the error.
          readOnly: true
          title: message
          type: string
        retry:
          description: "Indicates that it may be possible to retry the Job. If retry\
            \ is unsuccessful, please contact Azure support via Azure Portal."
          enum:
          - DoNotRetry
          - MayRetry
          nullable: false
          readOnly: true
          title: retry
          type: string
          x-ms-enum:
            modelAsString: true
            name: JobRetry
            values:
            - description: Issue needs to be investigated and then the job resubmitted
                with corrections or retried once the underlying issue has been corrected.
              value: DoNotRetry
            - description: Issue may be resolved after waiting for a period of time
                and resubmitting the same Job.
              value: MayRetry
      title: JobError
      type: object
    JobErrorDetail:
      description: Details of JobOutput errors.
      example:
        code: code
        message: message
      properties:
        code:
          description: Code describing the error detail.
          readOnly: true
          title: code
          type: string
        message:
          description: A human-readable representation of the error.
          readOnly: true
          title: message
          type: string
      title: JobErrorDetail
      type: object
    JobInput:
      description: Base class for inputs to a Job.
      discriminator:
        propertyName: '@odata.type'
      example:
        '@odata.type': '@odata.type'
      properties:
        '@odata.type':
          description: The discriminator for derived types.
          title: '@odata.type'
          type: string
      required:
      - '@odata.type'
      title: JobInput
      type: object
    JobInputAsset:
      allOf:
      - $ref: '#/components/schemas/JobInputClip'
      description: Represents an Asset for input into a Job.
      properties:
        assetName:
          description: The name of the input Asset.
          type: string
      required:
      - assetName
      x-ms-discriminator-value: '#Microsoft.Media.JobInputAsset'
    JobInputClip:
      allOf:
      - $ref: '#/components/schemas/JobInput'
      description: Represents input files for a Job.
      properties:
        end:
          $ref: '#/components/schemas/ClipTime'
        files:
          description: List of files. Required for JobInputHttp. Maximum of 4000 characters
            each.
          items:
            type: string
          title: files
          type: array
        label:
          description: "A label that is assigned to a JobInputClip, that is used to\
            \ satisfy a reference used in the Transform. For example, a Transform\
            \ can be authored so as to take an image file with the label 'xyz' and\
            \ apply it as an overlay onto the input video before it is encoded. When\
            \ submitting a Job, exactly one of the JobInputs should be the image file,\
            \ and it should have the label 'xyz'."
          title: label
          type: string
        start:
          $ref: '#/components/schemas/ClipTime'
      title: JobInputClip
      x-ms-discriminator-value: '#Microsoft.Media.JobInputClip'
    JobInputHttp:
      allOf:
      - $ref: '#/components/schemas/JobInputClip'
      description: Represents HTTPS job input.
      properties:
        baseUri:
          description: "Base URI for HTTPS job input. It will be concatenated with\
            \ provided file names. If no base uri is given, then the provided file\
            \ list is assumed to be fully qualified uris. Maximum length of 4000 characters."
          type: string
      x-ms-discriminator-value: '#Microsoft.Media.JobInputHttp'
    JobInputs:
      allOf:
      - $ref: '#/components/schemas/JobInput'
      description: Describes a list of inputs to a Job.
      properties:
        inputs:
          description: List of inputs to a Job.
          items:
            $ref: '#/components/schemas/JobInput'
          type: array
      x-ms-discriminator-value: '#Microsoft.Media.JobInputs'
    JobOutput:
      description: Describes all the properties of a JobOutput.
      discriminator:
        propertyName: '@odata.type'
      example:
        '@odata.type': '@odata.type'
        progress: 0
        label: label
        state: Canceled
        error:
          code: ServiceError
          details:
          - code: code
            message: message
          - code: code
            message: message
          category: Service
          message: message
          retry: DoNotRetry
      properties:
        '@odata.type':
          description: The discriminator for derived types.
          title: '@odata.type'
          type: string
        error:
          $ref: '#/components/schemas/JobError'
        label:
          description: "A label that is assigned to a JobOutput in order to help uniquely\
            \ identify it. This is useful when your Transform has more than one TransformOutput,\
            \ whereby your Job has more than one JobOutput. In such cases, when you\
            \ submit the Job, you will add two or more JobOutputs, in the same order\
            \ as TransformOutputs in the Transform. Subsequently, when you retrieve\
            \ the Job, either through events or on a GET request, you can use the\
            \ label to easily identify the JobOutput. If a label is not provided,\
            \ a default value of '{presetName}_{outputIndex}' will be used, where\
            \ the preset name is the name of the preset in the corresponding TransformOutput\
            \ and the output index is the relative index of the this JobOutput within\
            \ the Job. Note that this index is the same as the relative index of the\
            \ corresponding TransformOutput within its Transform."
          title: label
          type: string
        progress:
          description: "If the JobOutput is in a Processing state, this contains the\
            \ Job completion percentage. The value is an estimate and not intended\
            \ to be used to predict Job completion times. To determine if the JobOutput\
            \ is complete, use the State property."
          format: int32
          nullable: false
          readOnly: true
          title: progress
          type: integer
        state:
          description: Describes the state of the JobOutput.
          enum:
          - Canceled
          - Canceling
          - Error
          - Finished
          - Processing
          - Queued
          - Scheduled
          nullable: false
          readOnly: true
          title: state
          type: string
          x-ms-enum:
            modelAsString: true
            name: JobState
            values:
            - description: The job was canceled. This is a final state for the job.
              value: Canceled
            - description: The job is in the process of being canceled. This is a
                transient state for the job.
              value: Canceling
            - description: The job has encountered an error. This is a final state
                for the job.
              value: Error
            - description: The job is finished. This is a final state for the job.
              value: Finished
[...]
