openapi: 3.0.0
info:
  description: "Search for data in lots of places - manage your documents, photos\
    \ and critical business knowledge - communicate and coordinate with blogs, interactive\
    \ wikis, and data integration dashboards."
  title: geodesystems.com:443
  version: 1.0.0
  x-logo:
    url: https://geodesystems.com/repository/images/geodesystems.png
  x-origin:
  - converter:
      url: https://github.com/lucybot/api-spec-converter
      version: 2.7.31
    format: swagger
    url: https://geodesystems.com/repository/swagger/api-docs
    version: "1.2"
  x-providerName: geodesystems.com
servers:
- url: https://geodesystems.com:443/
tags:
- description: Grid point data API
  name: gridaspoint
- description: Grid subset API
  name: gridsubset
- description: Point data API
  name: point
- description: ' API for Extract sheets'
  name: service/media_tabular_extractsheet
- description: Search API for '2017 Boulder Election Expenditures' entry type
  name: type/2017_boulder_election_expenditures
- description: Search API for 'Any file type' entry type
  name: type/any
- description: Search API for 'Before and After Images' entry type
  name: type/beforeafter
- description: Search API for 'Bibliographic Entry' entry type
  name: type/biblio
- description: Search API for 'DICOM File' entry type
  name: type/bio_dicom
- description: Search API for 'DICOM Test File' entry type
  name: type/bio_dicom_test
- description: Search API for 'FASTA File' entry type
  name: type/bio_fasta
- description: Search API for 'FASTQ File' entry type
  name: type/bio_fastq
- description: Search API for 'HMMER Index File' entry type
  name: type/bio_hmmer_index
- description: Search API for 'OME TIFF File' entry type
  name: type/bio_ome_tiff
- description: Search API for 'Assay' entry type
  name: type/bio_ontology_assay
- description: Search API for 'Cohort' entry type
  name: type/bio_ontology_cohort
- description: Search API for 'Person' entry type
  name: type/bio_ontology_person
- description: Search API for 'Sample' entry type
  name: type/bio_ontology_sample
- description: Search API for 'Series' entry type
  name: type/bio_ontology_series
- description: Search API for 'Study' entry type
  name: type/bio_ontology_study
- description: Search API for 'SAM Data' entry type
  name: type/bio_sam
- description: Search API for 'PDB Protein File' entry type
  name: type/bio_sf_pdb
- description: Search API for 'Sequence Read Archive' entry type
  name: type/bio_sra
- description: Search API for 'Stockholm File' entry type
  name: type/bio_stockholm
- description: Search API for 'Taxonomic Entry' entry type
  name: type/bio_taxonomy
- description: Search API for 'Weblog Entry' entry type
  name: type/blogentry
- description: Search API for 'Boulder Rental Housing' entry type
  name: type/bolder_rental_housing
- description: Search API for 'Bookmarks' entry type
  name: type/bookmarks
- description: Search API for 'Boston Crime' entry type
  name: type/boston_crime
- description: Search API for 'Boulder 2017 Election Contributions' entry type
  name: type/boulder_2017_election_contributions
- description: Search API for 'Boulder Campaign Contributions' entry type
  name: type/boulder_campaign_contributions
- description: Search API for 'Boulder Consulting Services Database' entry type
  name: type/boulder_consulting_services
- description: Search API for 'Boulder County Voter Details' entry type
  name: type/boulder_county_voter_details
- description: Search API for 'Boulder Crime Reports' entry type
  name: type/boulder_crimes
- description: Search API for 'Boulder Council Emails' entry type
  name: type/boulder_emails
- description: Search API for 'Boulder Employee Salaries' entry type
  name: type/boulder_employee_salaries
- description: Search API for 'Calendar' entry type
  name: type/calendar
- description: Search API for 'Campaign Donors' entry type
  name: type/campaign_donors
- description: Search API for 'Campaign Expenditures' entry type
  name: type/campaign_expenditures
- description: Search API for 'Catalog Link' entry type
  name: type/cataloglink
- description: Search API for 'Gridded Data File' entry type
  name: type/cdm_grid
- description: Search API for 'Chat Room' entry type
  name: type/chatroom
- description: Search API for 'Colorado Water Rights' entry type
  name: type/colorado_water_rights
- description: Search API for 'Committee Donations' entry type
  name: type/committee_donations
- description: Search API for 'Data Hub' entry type
  name: type/community_datahub
- description: Search API for 'Facility' entry type
  name: type/community_resource
- description: Search API for 'Construction Permits' entry type
  name: type/construction_permits
- description: Search API for 'Contact List' entry type
  name: type/contact
- description: Search API for 'Colorado Health Indicators' entry type
  name: type/db_co_indicators
- description: Search API for 'Landsat Satellite Data' entry type
  name: type/earth_satellite_landsat
- description: Search API for 'FAQ' entry type
  name: type/faq
- description: Search API for 'FEC PACs' entry type
  name: type/fec_pacs
- description: Search API for 'Candidates' entry type
  name: type/feccandidates
- description: Search API for 'RSS/ATOM Feed' entry type
  name: type/feed
- description: Search API for 'File' entry type
  name: type/file
- description: Search API for 'FITS Data File' entry type
  name: type/fits_data
- description: Search API for 'Remote FTP File View' entry type
  name: type/ftp
- description: Search API for 'Countdown' entry type
  name: type/gadgets_countdown
- description: Search API for 'Stock Ticker' entry type
  name: type/gadgets_stock
- description: Search API for 'Weather' entry type
  name: type/gadgets_weather
- description: Search API for 'Census Tracts' entry type
  name: type/gazeteer_census_tracts
- description: Search API for 'Census Gazeteer Counties' entry type
  name: type/gazeteer_counties
- description: Search API for 'GeoJson File' entry type
  name: type/geo_ge
- description: Search API for 'GeoTIFF' entry type
  name: type/geo_geotiff
- description: Search API for 'GPX GPS File' entry type
  name: type/geo_gpx
- description: Search API for 'HDF5 File' entry type
  name: type/geo_hdf5
- description: Search API for 'KML/KMZ File' entry type
  name: type/geo_kml
- description: Search API for 'Shapefile' entry type
  name: type/geo_shapefile
- description: Search API for 'Shapefile with FIPS Code' entry type
  name: type/geo_shapefile_fips
- description: Search API for 'Glossary' entry type
  name: type/glossary
- description: Search API for 'Grid Aggregation' entry type
  name: type/gridaggregation
- description: Search API for 'Folder' entry type
  name: type/group
- description: Search API for 'HipChat Group' entry type
  name: type/hipchat_group
- description: Search API for 'Home Page' entry type
  name: type/homepage
- description: Search API for 'Incident' entry type
  name: type/incident
- description: Search API for 'Jeopardy' entry type
  name: type/jeopardy
- description: Search API for 'Lat-Lon Image' entry type
  name: type/latlonimage
- description: Search API for 'LiDAR Collection' entry type
  name: type/lidar_collection
- description: Search API for 'LAS Lidar Data' entry type
  name: type/lidar_las
- description: Search API for 'LVIS Lidar Data' entry type
  name: type/lidar_lvis
- description: Search API for 'Link' entry type
  name: type/link
- description: Search API for 'Server Side Files' entry type
  name: type/localfiles
- description: Search API for 'Locations' entry type
  name: type/locations
- description: Search API for 'Google Map URL' entry type
  name: type/map_googlemap
- description: Search API for 'Audio File' entry type
  name: type/media_audiofile
- description: Search API for 'Image Loop' entry type
  name: type/media_imageloop
- description: Search API for 'Photo Album' entry type
  name: type/media_photoalbum
- description: Search API for 'Video Channel' entry type
  name: type/media_video_channel
- description: Search API for 'Quicktime Video' entry type
  name: type/media_video_quicktime
- description: Search API for 'YouTube Video' entry type
  name: type/media_youtubevideo
- description: Search API for 'Notes' entry type
  name: type/notes
- description: Search API for 'Json File' entry type
  name: type/notes_jsonfile
- description: Search API for 'Note' entry type
  name: type/notes_note
- description: Search API for 'Notebook' entry type
  name: type/notes_notebook
- description: Search API for 'NWS Forecast Feed' entry type
  name: type/nwsfeed
- description: Search API for 'OPeNDAP Link' entry type
  name: type/opendaplink
- description: Search API for 'OWL Class' entry type
  name: type/owl.class
- description: Search API for 'OWL Ontology' entry type
  name: type/owl.ontology
- description: Search API for 'Paste Text Entry' entry type
  name: type/pasteitentry
- description: Search API for 'Text Point Data' entry type
  name: type/point_text
- description: Search API for 'Police Stop Data' entry type
  name: type/police_stop_data
- description: Search API for 'Poll' entry type
  name: type/poll
- description: Search API for 'Campaign' entry type
  name: type/project_campaign
- description: Search API for 'Case Study' entry type
  name: type/project_casestudy
- description: Search API for 'Research Contribution' entry type
  name: type/project_contribution
- description: Search API for 'Data Format' entry type
  name: type/project_dataformat
- description: Search API for 'Dataset' entry type
  name: type/project_dataset
- description: Search API for 'Deployment' entry type
  name: type/project_deployment
- description: Search API for 'Experiment' entry type
  name: type/project_experiment
- description: Search API for 'Field Note' entry type
  name: type/project_fieldnote
- description: Search API for 'Control Points File' entry type
  name: type/project_gps_controlpoints
- description: Search API for 'Raw GPS File' entry type
  name: type/project_gps_raw
- description: Search API for 'RINEX File' entry type
  name: type/project_gps_rinex
- description: Search API for 'Instrument Data Collection' entry type
  name: type/project_instrument
- description: Search API for 'Teaching Resource' entry type
  name: type/project_learning_resource
- description: Search API for 'Meeting' entry type
  name: type/project_meeting
- description: Search API for 'Organization' entry type
  name: type/project_organization
- description: Search API for 'Program' entry type
  name: type/project_program
- description: Search API for 'Project' entry type
  name: type/project_project
- description: Search API for 'Data Access Service' entry type
  name: type/project_service
- description: Search API for 'Site' entry type
  name: type/project_site
- description: Search API for 'Software Tool' entry type
  name: type/project_softwarepackage
- description: Search API for 'Standard Parameter Name' entry type
  name: type/project_standard_name
- description: Search API for 'Survey Location' entry type
  name: type/project_surveylocation
- description: Search API for 'Vocabulary Term' entry type
  name: type/project_term
- description: Search API for 'Site Visit' entry type
  name: type/project_visit
- description: Search API for 'Vocabulary' entry type
  name: type/project_vocabulary
- description: Search API for 'Property Sales' entry type
  name: type/property_sales
- description: Search API for 'Property Database' entry type
  name: type/propertydb
- description: Search API for 'IPython Notebook file' entry type
  name: type/python_notebook
- description: Search API for 'Slack Team' entry type
  name: type/slack_team
- description: Search API for 'Status Board' entry type
  name: type/statusboard
- description: Search API for 'Sunrise/Sunset Display' entry type
  name: type/sunrisesunset
- description: Search API for 'Tasks' entry type
  name: type/tasks
- description: Search API for 'Tmdb Movies' entry type
  name: type/tmdbmovies
- description: Search API for 'Todo' entry type
  name: type/todo
- description: Search API for 'Event' entry type
  name: type/trip_event
- description: Search API for 'Flight Leg' entry type
  name: type/trip_flight
- description: Search API for 'Lodging' entry type
  name: type/trip_hotel
- description: Search API for 'Trip Report' entry type
  name: type/trip_report
- description: Search API for 'Trip' entry type
  name: type/trip_trip
- description: Search API for 'AWC Weather Observations' entry type
  name: type/type_awc_metar
- description: Search API for 'Stock Ticker Data' entry type
  name: type/type_biz_stockseries
- description: Search API for 'BLS Series' entry type
  name: type/type_bls_series
- description: Search API for 'BLS Survey' entry type
  name: type/type_bls_survey
- description: Search API for 'US Census ACS Data' entry type
  name: type/type_census_acs
- description: Search API for 'Daymet Daily Weather' entry type
  name: type/type_daymet
- description: Search API for 'Database Table' entry type
  name: type/type_db_table
- description: Search API for 'CSV File' entry type
  name: type/type_document_csv
- description: Search API for 'Word File' entry type
  name: type/type_document_doc
- description: Search API for 'HTML File' entry type
  name: type/type_document_html
- description: Search API for 'PDF File' entry type
  name: type/type_document_pdf
- description: Search API for 'Powerpoint File' entry type
  name: type/type_document_ppt
- description: Search API for 'Excel File' entry type
  name: type/type_document_xls
- description: Search API for 'Drilsdown Case Study' entry type
  name: type/type_drilsdown_casestudy
- description: Search API for 'SEC EDGAR Filing' entry type
  name: type/type_edgar_filing
- description: Search API for 'EIA Category' entry type
  name: type/type_eia_category
- description: Search API for 'EIA Series' entry type
  name: type/type_eia_series
- description: Search API for 'ESRI Feature Server' entry type
  name: type/type_esri_featureserver
- description: Search API for 'ESRI Geometry Server' entry type
  name: type/type_esri_geometryserver
- description: Search API for 'ESRI GP Server' entry type
  name: type/type_esri_gpserver
- description: Search API for 'ESRI Image Server' entry type
  name: type/type_esri_imageserver
- description: Search API for 'ESRI Layer' entry type
  name: type/type_esri_layer
- description: Search API for 'ESRI Map Server' entry type
  name: type/type_esri_mapserver
- description: Search API for 'ESRI Services Folder' entry type
  name: type/type_esri_restfolder
- description: Search API for 'ESRI Web Server' entry type
  name: type/type_esri_restserver
- description: Search API for 'ESRI Rest Service' entry type
  name: type/type_esri_restservice
- description: Search API for 'NOAA Extremes Data' entry type
  name: type/type_extremes
- description: Search API for 'FRED Category' entry type
  name: type/type_fred_category
- description: Search API for 'FRED Series' entry type
  name: type/type_fred_series
- description: Search API for 'Transit Agency' entry type
  name: type/type_gtfs_agency
- description: Search API for 'Transit Route' entry type
  name: type/type_gtfs_route
- description: Search API for 'Transit Route Collection' entry type
  name: type/type_gtfs_routes
- description: Search API for 'Transit Stop' entry type
  name: type/type_gtfs_stop
- description: Search API for 'Transit Stop Collection' entry type
  name: type/type_gtfs_stops
- description: Search API for 'Transit Trip' entry type
  name: type/type_gtfs_trip
- description: Search API for 'Hazard Data' entry type
  name: type/type_hazarddata
- description: Search API for 'Colorado DNR Stream Gage' entry type
  name: type/type_hydro_colorado
- description: Search API for 'IDV Bundle' entry type
  name: type/type_idv_bundle
- description: Search API for 'Image' entry type
  name: type/type_image
- description: Search API for 'Airport Image' entry type
  name: type/type_image_airport
- description: Search API for 'Webcam' entry type
  name: type/type_image_webcam
- description: Search API for 'MB Bathymetry' entry type
  name: type/type_mb
- description: Search API for 'Bathymetry Collection' entry type
  name: type/type_mb_collection
- description: Search API for 'Basic MB point file' entry type
  name: type/type_mb_point_basic
- description: Search API for 'Metadata Dictionary' entry type
  name: type/type_metameta_dictionary
- description: Search API for 'Metadata Field' entry type
  name: type/type_metameta_field
- description: Search API for 'NASA AMES File' entry type
  name: type/type_nasaames
- description: Search API for 'NetCDF Point Subset' entry type
  name: type/type_ncss
- description: Search API for 'NITF File' entry type
  name: type/type_nitf
- description: Search API for 'Ameriflux Level 2 CSV File' entry type
  name: type/type_point_ameriflux_level2
- description: Search API for 'AMRC Final QC Data' entry type
  name: type/type_point_amrc_final
- description: Search API for 'AMRC Freewave  Data' entry type
  name: type/type_point_amrc_freewave
- description: Search API for 'CZO Display File Format' entry type
  name: type/type_point_czo
- description: Search API for 'GC-Net Point Data' entry type
  name: type/type_point_gcnet
- description: Search API for 'IAGA 2002 Geomagnetism Data' entry type
  name: type/type_point_geomag_iaga2002
- description: Search API for 'WaterML' entry type
  name: type/type_point_hydro_waterml
- description: Search API for 'ATM Ice SSN Data' entry type
  name: type/type_point_icebridge_atm_icessn
- description: Search API for 'ATM QFIT Data' entry type
  name: type/type_point_icebridge_atm_qfit
- description: Search API for 'McCords Irmcr2 Data' entry type
  name: type/type_point_icebridge_mccords_irmcr2
- description: Search API for 'McCords Irmcr3 Data' entry type
  name: type/type_point_icebridge_mccords_irmcr3
- description: Search API for 'Paris Data' entry type
  name: type/type_point_icebridge_paris
- description: Search API for 'IDV Point File' entry type
  name: type/type_point_idv
- description: Search API for 'Inline Point File' entry type
  name: type/type_point_inline
- description: Search API for 'NC  DC Climate Data' entry type
  name: type/type_point_ncdc_climate
- description: Search API for 'NetCDF Point File' entry type
  name: type/type_point_netcdf
- description: Search API for 'NOAA Carbon Measurements' entry type
  name: type/type_point_noaa_carbon
- description: Search API for 'NOAA Flask Event Measurements' entry type
  name: type/type_point_noaa_flask_event
- description: Search API for 'NOAA Flask Month Measurements' entry type
  name: type/type_point_noaa_flask_month
- description: Search API for 'NOAA MADIS Point Data' entry type
  name: type/type_point_noaa_madis
- description: Search API for 'NOAA Tower Network' entry type
  name: type/type_point_noaa_tower
- description: Search API for 'SeaBird CNV Data' entry type
  name: type/type_point_ocean_cnv
- description: Search API for 'SADO TTS Data' entry type
  name: type/type_point_ocean_csv_sado_TTS
- description: Search API for 'SADO Meteo Data' entry type
  name: type/type_point_ocean_csv_sado_meteo
- description: Search API for 'SADO Position Data' entry type
  name: type/type_point_ocean_csv_sado_position
- description: Search API for 'NetCDF Glider Data' entry type
  name: type/type_point_ocean_netcdf_glider
- description: Search API for 'NetCDF Track Data' entry type
  name: type/type_point_ocean_netcdf_track
- description: Search API for 'OOI Data' entry type
  name: type/type_point_ocean_ooi_dmgx
- description: Search API for 'Open AQ Air Quality' entry type
  name: type/type_point_openaq
- description: Search API for 'PBO Position Time Series' entry type
  name: type/type_point_pbo_position_time_series
- description: Search API for 'Simple Records' entry type
  name: type/type_point_simple_records
- description: Search API for 'SNOTEL Snow Data' entry type
  name: type/type_point_snotel
- description: Search API for 'Record Text File' entry type
  name: type/type_point_text
- description: Search API for 'Global Geodynamics GGP Format' entry type
  name: type/type_point_wsbb_ggp
- description: Search API for 'NOAA-ESRL-PSD Monthly Climate Index' entry type
  name: type/type_psd_monthly_climate_index
- description: Search API for 'QUANDL Series' entry type
  name: type/type_quandl_series
- description: Search API for 'Service Group' entry type
  name: type/type_service_group
- description: Search API for 'Service Link' entry type
  name: type/type_service_link
- description: Search API for 'SOCRATA Series' entry type
  name: type/type_socrata_series
- description: Search API for 'COD Sounding' entry type
  name: type/type_sounding_cod
- description: Search API for 'FRD Sounding' entry type
  name: type/type_sounding_frd
- description: Search API for 'GSD Sounding' entry type
  name: type/type_sounding_gsd
- description: Search API for 'UW Sounding' entry type
  name: type/type_sounding_wyoming
- description: Search API for 'NREL TMY Data' entry type
  name: type/type_tmy
- description: Search API for 'Tweet' entry type
  name: type/type_tweet
- description: Search API for 'USGS Stream Gauge' entry type
  name: type/type_usgs_gauge
- description: Search API for 'Virtual Group' entry type
  name: type/type_virtual
- description: Search API for 'WMS Capabilities' entry type
  name: type/type_wms_capabilities
- description: Search API for 'WMS Layer' entry type
  name: type/type_wms_layer
- description: Search API for 'Ufo Sightings' entry type
  name: type/ufo_sightings
- description: Search API for 'US Places' entry type
  name: type/us_places
- description: Search API for 'Simple Yes-No Vote' entry type
  name: type/vote_yesno
- description: Search API for 'Weblog' entry type
  name: type/weblog
- description: Search API for 'Wiki Page' entry type
  name: type/wikipage
paths:
  /repository/entry/show:
    get:
      description: "API to call: Extract sheets"
      operationId: media_tabular_extractsheet
      parameters:
      - description: Output type  -don't change
        explode: true
        in: query
        name: output
        required: true
        schema:
          default: media_tabular_extractsheet
          type: string
        style: form
      - description: Entry ID
        explode: true
        in: query
        name: entryid
        required: true
        schema:
          type: string
        style: form
      - description: Sheets
        explode: true
        in: query
        name: arg1
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: No response was specified
      summary: API for Extract sheets
      tags:
      - service/media_tabular_extractsheet
      x-openapi-router-controller: openapi_server.controllers.service_media_tabular_extractsheet_controller
  /repository/search/type/2017_boulder_election_expenditures:
    get:
      description: API to search for entries of type 2017 Boulder Election Expenditures
      operationId: search2017_boulder_election_expenditures
      parameters:
      - description: Search text
        explode: true
        in: query
        name: text
        required: false
        schema:
          type: string
        style: form
      - description: Search name
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: Search description
        explode: true
        in: query
        name: description
        required: false
        schema:
          type: string
        style: form
      - description: From date
        explode: true
        in: query
        name: fromdate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: To date
        explode: true
        in: query
        name: todate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Archive create date from
        explode: true
        in: query
        name: createdate.from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Archive create date to
        explode: true
        in: query
        name: createdate.to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Archive change date from
        explode: true
        in: query
        name: changedate.from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Archive change date to
        explode: true
        in: query
        name: changedate.to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Parent entry
        explode: true
        in: query
        name: group
        required: false
        schema:
          type: string
        style: form
      - description: File suffix
        explode: true
        in: query
        name: filesuffix
        required: false
        schema:
          type: string
        style: form
      - description: Northern bounds of search
        explode: true
        in: query
        name: maxlatitude
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Western bounds of search
        explode: true
        in: query
        name: minlongitude
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Southern bounds of search
        explode: true
        in: query
        name: minlatitude
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Eastern bounds of search
        explode: true
        in: query
        name: maxlongitude
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Max number of results
        explode: true
        in: query
        name: max
        required: false
        schema:
          type: integer
        style: form
      - description: Number to skip
        explode: true
        in: query
        name: skip
        required: false
        schema:
          type: integer
        style: form
      - description: Committee
        explode: true
        in: query
        name: search.db_2017_boulder_election_expenditures.committee
        required: false
        schema:
          type: string
        style: form
      - description: Transaction Date
        explode: true
        in: query
        name: search.db_2017_boulder_election_expenditures.transaction_date
        required: false
        schema:
          type: string
        style: form
      - description: Name
        explode: true
        in: query
        name: search.db_2017_boulder_election_expenditures.name
        required: false
        schema:
          type: string
        style: form
      - description: Street
        explode: true
        in: query
        name: search.db_2017_boulder_election_expenditures.street
        required: false
        schema:
          type: string
        style: form
      - description: City
        explode: true
        in: query
        name: search.db_2017_boulder_election_expenditures.city
        required: false
        schema:
          type: string
        style: form
      - description: State
        explode: true
        in: query
        name: search.db_2017_boulder_election_expenditures.state
        required: false
        schema:
          type: string
        style: form
      - description: Zip
        explode: true
        in: query
        name: search.db_2017_boulder_election_expenditures.zip
        required: false
        schema:
          type: string
        style: form
      - description: Expenditure
        explode: true
        in: query
        name: search.db_2017_boulder_election_expenditures.expenditure
        required: false
        schema:
          format: double
          type: number
        style: form
      - description: Purpose
        explode: true
        in: query
        name: search.db_2017_boulder_election_expenditures.purpose
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: No response was specified
      summary: Search API for '2017 Boulder Election Expenditures' entry type
      tags:
      - type/2017_boulder_election_expenditures
      x-openapi-router-controller: openapi_server.controllers.type2017_boulder_election_expenditures_controller
  /repository/search/type/any:
    get:
      description: API to search for entries of type Any file type
      operationId: search_any
      parameters:
      - description: Search text
        explode: true
        in: query
        name: text
        required: false
        schema:
          type: string
        style: form
      - description: Search name
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: Search description
        explode: true
        in: query
        name: description
        required: false
        schema:
          type: string
        style: form
      - description: From date
        explode: true
        in: query
        name: fromdate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: To date
        explode: true
        in: query
        name: todate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Archive create date from
        explode: true
        in: query
        name: createdate.from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Archive create date to
        explode: true
        in: query
        name: createdate.to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Archive change date from
        explode: true
        in: query
        name: changedate.from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Archive change date to
        explode: true
        in: query
        name: changedate.to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Parent entry
        explode: true
        in: query
        name: group
        required: false
        schema:
          type: string
        style: form
      - description: File suffix
        explode: true
        in: query
        name: filesuffix
        required: false
        schema:
          type: string
        style: form
      - description: Northern bounds of search
        explode: true
        in: query
        name: maxlatitude
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Western bounds of search
        explode: true
        in: query
        name: minlongitude
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Southern bounds of search
        explode: true
        in: query
        name: minlatitude
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Eastern bounds of search
        explode: true
        in: query
        name: maxlongitude
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Max number of results
        explode: true
        in: query
        name: max
        required: false
        schema:
          type: integer
        style: form
      - description: Number to skip
        explode: true
        in: query
        name: skip
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          description: No response was specified
      summary: Search API for 'Any file type' entry type
      tags:
      - type/any
      x-openapi-router-controller: openapi_server.controllers.type_any_controller
  /repository/search/type/beforeafter:
    get:
      description: API to search for entries of type Before and After Images
      operationId: search_beforeafter
      parameters:
      - description: Search text
        explode: true
        in: query
        name: text
        required: false
        schema:
          type: string
        style: form
      - description: Search name
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: Search description
        explode: true
        in: query
        name: description
        required: false
        schema:
          type: string
        style: form
      - description: From date
        explode: true
        in: query
        name: fromdate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: To date
        explode: true
        in: query
        name: todate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Archive create date from
        explode: true
        in: query
        name: createdate.from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Archive create date to
        explode: true
        in: query
        name: createdate.to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Archive change date from
        explode: true
        in: query
        name: changedate.from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Archive change date to
        explode: true
        in: query
        name: changedate.to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Parent entry
        explode: true
        in: query
        name: group
        required: false
        schema:
          type: string
        style: form
      - description: File suffix
        explode: true
        in: query
        name: filesuffix
        required: false
        schema:
          type: string
        style: form
      - description: Northern bounds of search
        explode: true
        in: query
        name: maxlatitude
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Western bounds of search
        explode: true
        in: query
        name: minlongitude
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Southern bounds of search
        explode: true
        in: query
        name: minlatitude
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Eastern bounds of search
        explode: true
        in: query
        name: maxlongitude
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Max number of results
        explode: true
        in: query
        name: max
        required: false
        schema:
          type: integer
        style: form
      - description: Number to skip
        explode: true
        in: query
        name: skip
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          description: No response was specified
      summary: Search API for 'Before and After Images' entry type
      tags:
      - type/beforeafter
      x-openapi-router-controller: openapi_server.controllers.type_beforeafter_controller
  /repository/search/type/biblio:
    get:
      description: API to search for entries of type Bibliographic Entry
      operationId: search_biblio
      parameters:
      - description: Search text
        explode: true
        in: query
        name: text
        required: false
        schema:
          type: string
        style: form
      - description: Search name
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: Search description
        explode: true
        in: query
        name: description
        required: false
        schema:
          type: string
        style: form
      - description: From date
        explode: true
        in: query
        name: fromdate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: To date
        explode: true
        in: query
        name: todate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Archive create date from
        explode: true
        in: query
        name: createdate.from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Archive create date to
        explode: true
        in: query
        name: createdate.to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Archive change date from
        explode: true
        in: query
        name: changedate.from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Archive change date to
        explode: true
        in: query
        name: changedate.to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Parent entry
        explode: true
        in: query
        name: group
        required: false
        schema:
          type: string
        style: form
      - description: File suffix
        explode: true
        in: query
        name: filesuffix
        required: false
        schema:
          type: string
        style: form
      - description: Northern bounds of search
        explode: true
        in: query
        name: maxlatitude
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Western bounds of search
        explode: true
        in: query
        name: minlongitude
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Southern bounds of search
        explode: true
        in: query
        name: minlatitude
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Eastern bounds of search
        explode: true
        in: query
        name: maxlongitude
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Max number of results
        explode: true
        in: query
        name: max
        required: false
        schema:
          type: integer
        style: form
      - description: Number to skip
        explode: true
        in: query
        name: skip
        required: false
        schema:
          type: integer
        style: form
      - description: Primary Author
        explode: true
        in: query
        name: search.biblio.primary_author
        required: false
        schema:
          type: string
        style: form
      - description: Publication Type
        explode: true
        in: query
        name: search.biblio.type
        required: false
        schema:
          type: string
        style: form
      - description: Institution
        explode: true
        in: query
        name: search.biblio.institution
        required: false
        schema:
          type: string
        style: form
      - description: Other Authors
        explode: true
        in: query
        name: search.biblio.other_authors
        required: false
        schema:
          type: string
        style: form
      - description: Publication
        explode: true
        in: query
        name: search.biblio.publication
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: No response was specified
      summary: Search API for 'Bibliographic Entry' entry type
      tags:
      - type/biblio
      x-openapi-router-controller: openapi_server.controllers.type_biblio_controller
  /repository/search/type/bio_dicom:
    get:
      description: API to search for entries of type DICOM File
      operationId: search_bio_dicom
      parameters:
      - description: Search text
        explode: true
        in: query
        name: text
        required: false
        schema:
          type: string
        style: form
      - description: Search name
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: Search description
        explode: true
        in: query
        name: description
        required: false
        schema:
          type: string
        style: form
      - description: From date
        explode: true
        in: query
        name: fromdate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: To date
        explode: true
        in: query
        name: todate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Archive create date from
        explode: true
        in: query
        name: createdate.from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Archive create date to
        explode: true
        in: query
        name: createdate.to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Archive change date from
        explode: true
        in: query
        name: changedate.from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Archive change date to
        explode: true
        in: query
        name: changedate.to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Parent entry
        explode: true
        in: query
        name: group
        required: false
        schema:
          type: string
        style: form
      - description: File suffix
        explode: true
        in: query
        name: filesuffix
        required: false
        schema:
          type: string
        style: form
      - description: Northern bounds of search
        explode: true
        in: query
        name: maxlatitude
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Western bounds of search
        explode: true
        in: query
        name: minlongitude
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Southern bounds of search
        explode: true
        in: query
        name: minlatitude
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Eastern bounds of search
        explode: true
        in: query
        name: maxlongitude
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Max number of results
        explode: true
        in: query
        name: max
        required: false
        schema:
          type: integer
        style: form
      - description: Number to skip
        explode: true
        in: query
        name: skip
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          description: No response was specified
      summary: Search API for 'DICOM File' entry type
      tags:
      - type/bio_dicom
      x-openapi-router-controller: openapi_server.controllers.type_bio_dicom_controller
  /repository/search/type/bio_dicom_test:
    get:
      description: API to search for entries of type DICOM Test File
      operationId: search_bio_dicom_test
      parameters:
      - description: Search text
        explode: true
        in: query
        name: text
        required: false
        schema:
          type: string
        style: form
      - description: Search name
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: Search description
        explode: true
        in: query
        name: description
        required: false
        schema:
          type: string
        style: form
      - description: From date
        explode: true
        in: query
        name: fromdate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: To date
        explode: true
        in: query
        name: todate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Archive create date from
        explode: true
        in: query
        name: createdate.from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Archive create date to
        explode: true
        in: query
        name: createdate.to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Archive change date from
        explode: true
        in: query
        name: changedate.from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Archive change date to
        explode: true
        in: query
        name: changedate.to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Parent entry
        explode: true
        in: query
        name: group
        required: false
        schema:
          type: string
        style: form
      - description: File suffix
        explode: true
        in: query
        name: filesuffix
        required: false
        schema:
          type: string
        style: form
      - description: Northern bounds of search
        explode: true
        in: query
        name: maxlatitude
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Western bounds of search
        explode: true
        in: query
        name: minlongitude
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Southern bounds of search
        explode: true
        in: query
        name: minlatitude
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Eastern bounds of search
        explode: true
        in: query
        name: maxlongitude
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Max number of results
        explode: true
        in: query
        name: max
        required: false
        schema:
          type: integer
        style: form
      - description: Number to skip
        explode: true
        in: query
        name: skip
        required: false
        schema:
          type: integer
        style: form
      - description: Patient Name
        explode: true
        in: query
        name: search.bio_dicom_test.PatientName
        required: false
        schema:
          type: string
        style: form
      - description: Patient ID
        explode: true
        in: query
        name: search.bio_dicom_test.PatientID
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: No response was specified
      summary: Search API for 'DICOM Test File' entry type
      tags:
      - type/bio_dicom_test
      x-openapi-router-controller: openapi_server.controllers.type_bio_dicom_test_controller
  /repository/search/type/bio_fasta:
    get:
      description: API to search for entries of type FASTA File
      operationId: search_bio_fasta
      parameters:
      - description: Search text
        explode: true
        in: query
        name: text
        required: false
        schema:
          type: string
        style: form
      - description: Search name
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: Search description
        explode: true
        in: query
        name: description
        required: false
        schema:
          type: string
        style: form
      - description: From date
        explode: true
        in: query
        name: fromdate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: To date
        explode: true
        in: query
        name: todate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Archive create date from
        explode: true
        in: query
        name: createdate.from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Archive create date to
        explode: true
        in: query
        name: createdate.to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Archive change date from
        explode: true
        in: query
        name: changedate.from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Archive change date to
        explode: true
        in: query
        name: changedate.to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Parent entry
        explode: true
        in: query
        name: group
        required: false
        schema:
          type: string
        style: form
      - description: File suffix
        explode: true
        in: query
        name: filesuffix
        required: false
        schema:
          type: string
        style: form
      - description: Northern bounds of search
        explode: true
        in: query
        name: maxlatitude
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Western bounds of search
        explode: true
        in: query
        name: minlongitude
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Southern bounds of search
        explode: true
        in: query
        name: minlatitude
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Eastern bounds of search
        explode: true
        in: query
        name: maxlongitude
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Max number of results
        explode: true
        in: query
        name: max
        required: false
        schema:
          type: integer
        style: form
      - description: Number to skip
        explode: true
        in: query
        name: skip
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          description: No response was specified
      summary: Search API for 'FASTA File' entry type
      tags:
      - type/bio_fasta
      x-openapi-router-controller: openapi_server.controllers.type_bio_fasta_controller
  /repository/search/type/bio_fastq:
    get:
      description: API to search for entries of type FASTQ File
      operationId: search_bio_fastq
      parameters:
      - description: Search text
        explode: true
        in: query
        name: text
        required: false
        schema:
          type: string
        style: form
      - description: Search name
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: Search description
        explode: true
        in: query
        name: description
        required: false
        schema:
          type: string
        style: form
      - description: From date
        explode: true
        in: query
        name: fromdate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: To date
        explode: true
        in: query
        name: todate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Archive create date from
        explode: true
        in: query
        name: createdate.from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Archive create date to
        explode: true
        in: query
        name: createdate.to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Archive change date from
        explode: true
        in: query
        name: changedate.from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Archive change date to
        explode: true
        in: query
        name: changedate.to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Parent entry
        explode: true
        in: query
        name: group
        required: false
        schema:
          type: string
        style: form
      - description: File suffix
        explode: true
        in: query
        name: filesuffix
        required: false
        schema:
          type: string
        style: form
      - description: Northern bounds of search
        explode: true
        in: query
        name: maxlatitude
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Western bounds of search
        explode: true
        in: query
        name: minlongitude
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Southern bounds of search
        explode: true
        in: query
        name: minlatitude
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Eastern bounds of search
        explode: true
        in: query
        name: maxlongitude
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Max number of results
        explode: true
        in: query
        name: max
        required: false
        schema:
          type: integer
        style: form
      - description: Number to skip
        explode: true
        in: query
        name: skip
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          description: No response was specified
      summary: Search API for 'FASTQ File' entry type
      tags:
      - type/bio_fastq
      x-openapi-router-controller: openapi_server.controllers.type_bio_fastq_controller
  /repository/search/type/bio_hmmer_index:
    get:
      description: API to search for entries of type HMMER Index File
      operationId: search_bio_hmmer_index
      parameters:
      - description: Search text
        explode: true
        in: query
        name: text
        required: false
        schema:
          type: string
        style: form
      - description: Search name
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: Search description
        explode: true
        in: query
        name: description
        required: false
        schema:
          type: string
        style: form
      - description: From date
        explode: true
        in: query
        name: fromdate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: To date
        explode: true
        in: query
        name: todate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Archive create date from
        explode: true
        in: query
        name: createdate.from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Archive create date to
        explode: true
        in: query
        name: createdate.to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Archive change date from
        explode: true
        in: query
        name: changedate.from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Archive change date to
        explode: true
        in: query
        name: changedate.to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Parent entry
        explode: true
        in: query
        name: group
        required: false
        schema:
          type: string
        style: form
      - description: File suffix
        explode: true
        in: query
        name: filesuffix
        required: false
        schema:
          type: string
        style: form
      - description: Northern bounds of search
        explode: true
        in: query
        name: maxlatitude
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Western bounds of search
        explode: true
        in: query
        name: minlongitude
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Southern bounds of search
        explode: true
        in: query
        name: minlatitude
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Eastern bounds of search
        explode: true
        in: query
        name: maxlongitude
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Max number of results
        explode: true
        in: query
        name: max
        required: false
        schema:
          type: integer
        style: form
      - description: Number to skip
        explode: true
        in: query
        name: skip
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          description: No response was specified
      summary: Search API for 'HMMER Index File' entry type
      tags:
      - type/bio_hmmer_index
      x-openapi-router-controller: openapi_server.controllers.type_bio_hmmer_index_controller
  /repository/search/type/bio_ome_tiff:
    get:
      description: API to search for entries of type OME TIFF File
      operationId: search_bio_ome_tiff
      parameters:
      - description: Search text
        explode: true
        in: query
        name: text
        required: false
        schema:
          type: string
        style: form
      - description: Search name
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: Search description
        explode: true
        in: query
        name: description
        required: false
        schema:
          type: string
        style: form
      - description: From date
        explode: true
        in: query
        name: fromdate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: To date
        explode: true
        in: query
        name: todate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Archive create date from
        explode: true
        in: query
        name: createdate.from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Archive create date to
        explode: true
        in: query
        name: createdate.to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Archive change date from
        explode: true
        in: query
        name: changedate.from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Archive change date to
        explode: true
        in: query
        name: changedate.to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Parent entry
        explode: true
        in: query
        name: group
        required: false
        schema:
          type: string
        style: form
      - description: File suffix
        explode: true
        in: query
        name: filesuffix
        required: false
        schema:
          type: string
        style: form
      - description: Northern bounds of search
        explode: true
        in: query
        name: maxlatitude
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Western bounds of search
        explode: true
        in: query
        name: minlongitude
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Southern bounds of search
        explode: true
        in: query
        name: minlatitude
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Eastern bounds of search
        explode: true
        in: query
        name: maxlongitude
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Max number of results
        explode: true
        in: query
        name: max
        required: false
        schema:
          type: integer
        style: form
      - description: Number to skip
        explode: true
        in: query
        name: skip
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          description: No response was specified
      summary: Search API for 'OME TIFF File' entry type
      tags:
      - type/bio_ome_tiff
      x-openapi-router-controller: openapi_server.controllers.type_bio_ome_tiff_controller
  /repository/search/type/bio_ontology_assay:
    get:
      description: API to search for entries of type Assay
      operationId: search_bio_ontology_assay
      parameters:
      - description: Search text
        explode: true
        in: query
        name: text
        required: false
        schema:
          type: string
        style: form
      - description: Search name
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: Search description
        explode: true
        in: query
        name: description
        required: false
        schema:
          type: string
        style: form
      - description: From date
        explode: true
        in: query
        name: fromdate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: To date
        explode: true
        in: query
        name: todate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Archive create date from
        explode: true
        in: query
        name: createdate.from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Archive create date to
        explode: true
        in: query
        name: createdate.to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Archive change date from
        explode: true
        in: query
        name: changedate.from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Archive change date to
        explode: true
        in: query
        name: changedate.to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Parent entry
        explode: true
        in: query
        name: group
        required: false
        schema:
          type: string
        style: form
      - description: File suffix
        explode: true
        in: query
        name: filesuffix
        required: false
        schema:
          type: string
        style: form
      - description: Northern bounds of search
        explode: true
        in: query
        name: maxlatitude
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Western bounds of search
        explode: true
        in: query
        name: minlongitude
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Southern bounds of search
        explode: true
        in: query
        name: minlatitude
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Eastern bounds of search
        explode: true
        in: query
        name: maxlongitude
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Max number of results
        explode: true
        in: query
        name: max
        required: false
        schema:
          type: integer
        style: form
      - description: Number to skip
        explode: true
        in: query
        name: skip
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          description: No response was specified
      summary: Search API for 'Assay' entry type
      tags:
      - type/bio_ontology_assay
      x-openapi-router-controller: openapi_server.controllers.type_bio_ontology_assay_controller
  /repository/search/type/bio_ontology_cohort:
    get:
      description: API to search for entries of type Cohort
      operationId: search_bio_ontology_cohort
      parameters:
      - description: Search text
        explode: true
        in: query
        name: text
        required: false
        schema:
          type: string
        style: form
      - description: Search name
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: Search description
        explode: true
        in: query
        name: description
        required: false
        schema:
          type: string
        style: form
      - description: From date
        explode: true
        in: query
        name: fromdate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: To date
        explode: true
        in: query
        name: todate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Archive create date from
        explode: true
        in: query
        name: createdate.from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Archive create date to
        explode: true
        in: query
        name: createdate.to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Archive change date from
        explode: true
        in: query
        name: changedate.from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Archive change date to
        explode: true
        in: query
        name: changedate.to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Parent entry
        explode: true
        in: query
        name: group
        required: false
        schema:
          type: string
        style: form
      - description: File suffix
        explode: true
        in: query
        name: filesuffix
        required: false
        schema:
          type: string
        style: form
      - description: Northern bounds of search
        explode: true
        in: query
        name: maxlatitude
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Western bounds of search
        explode: true
        in: query
        name: minlongitude
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Southern bounds of search
        explode: true
        in: query
        name: minlatitude
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Eastern bounds of search
        explode: true
        in: query
        name: maxlongitude
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Max number of results
        explode: true
        in: query
        name: max
        required: false
        schema:
          type: integer
        style: form
      - description: Number to skip
        explode: true
        in: query
        name: skip
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          description: No response was specified
      summary: Search API for 'Cohort' entry type
      tags:
      - type/bio_ontology_cohort
      x-openapi-router-controller: openapi_server.controllers.type_bio_ontology_cohort_controller
  /repository/search/type/bio_ontology_person:
    get:
      description: API to search for entries of type Person
      operationId: search_bio_ontology_person
      parameters:
      - description: Search text
        explode: true
        in: query
        name: text
        required: false
        schema:
          type: string
        style: form
      - description: Search name
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: Search description
        explode: true
        in: query
        name: description
        required: false
        schema:
          type: string
        style: form
      - description: From date
        explode: true
        in: query
        name: fromdate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: To date
        explode: true
        in: query
        name: todate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Archive create date from
        explode: true
        in: query
        name: createdate.from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Archive create date to
        explode: true
        in: query
        name: createdate.to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Archive change date from
        explode: true
        in: query
        name: changedate.from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Archive change date to
        explode: true
        in: query
        name: changedate.to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Parent entry
        explode: true
        in: query
        name: group
        required: false
        schema:
          type: string
        style: form
      - description: File suffix
        explode: true
        in: query
        name: filesuffix
        required: false
        schema:
          type: string
        style: form
      - description: Northern bounds of search
        explode: true
        in: query
        name: maxlatitude
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Western bounds of search
        explode: true
        in: query
        name: minlongitude
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Southern bounds of search
        explode: true
        in: query
        name: minlatitude
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Eastern bounds of search
        explode: true
        in: query
        name: maxlongitude
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Max number of results
        explode: true
        in: query
        name: max
        required: false
        schema:
          type: integer
        style: form
      - description: Number to skip
        explode: true
        in: query
        name: skip
        required: false
        schema:
          type: integer
        style: form
      - description: Gender
        explode: true
        in: query
        name: search.bio_ontology_person.gender
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: No response was specified
      summary: Search API for 'Person' entry type
      tags:
      - type/bio_ontology_person
      x-openapi-router-controller: openapi_server.controllers.type_bio_ontology_person_controller
  /repository/search/type/bio_ontology_sample:
    get:
      description: API to search for entries of type Sample
      operationId: search_bio_ontology_sample
      parameters:
      - description: Search text
        explode: true
        in: query
        name: text
        required: false
        schema:
          type: string
        style: form
      - description: Search name
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: Search description
        explode: true
        in: query
        name: description
        required: false
        schema:
          type: string
        style: form
      - description: From date
        explode: true
        in: query
        name: fromdate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: To date
        explode: true
        in: query
        name: todate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Archive create date from
        explode: true
        in: query
        name: createdate.from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Archive create date to
        explode: true
        in: query
        name: createdate.to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Archive change date from
        explode: true
        in: query
        name: changedate.from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Archive change date to
        explode: true
        in: query
        name: changedate.to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Parent entry
        explode: true
        in: query
        name: group
        required: false
        schema:
          type: string
        style: form
      - description: File suffix
        explode: true
        in: query
        name: filesuffix
        required: false
        schema:
          type: string
        style: form
      - description: Northern bounds of search
        explode: true
        in: query
        name: maxlatitude
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Western bounds of search
        explode: true
        in: query
        name: minlongitude
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Southern bounds of search
        explode: true
        in: query
        name: minlatitude
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Eastern bounds of search
        explode: true
        in: query
        name: maxlongitude
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Max number of results
        explode: true
        in: query
        name: max
        required: false
        schema:
          type: integer
        style: form
      - description: Number to skip
        explode: true
        in: query
        name: skip
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          description: No response was specified
      summary: Search API for 'Sample' entry type
      tags:
      - type/bio_ontology_sample
      x-openapi-router-controller: openapi_server.controllers.type_bio_ontology_sample_controller
  /repository/search/type/bio_ontology_series:
    get:
      description: API to search for entries of type Series
      operationId: search_bio_ontology_series
      parameters:
      - description: Search text
        explode: true
        in: query
        name: text
        required: false
        schema:
          type: string
        style: form
      - description: Search name
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: Search description
        explode: true
        in: query
        name: description
        required: false
        schema:
          type: string
        style: form
      - description: From date
        explode: true
        in: query
        name: fromdate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: To date
        explode: true
        in: query
        name: todate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Archive create date from
        explode: true
        in: query
        name: createdate.from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Archive create date to
        explode: true
        in: query
        name: createdate.to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Archive change date from
        explode: true
        in: query
        name: changedate.from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Archive change date to
        explode: true
        in: query
        name: changedate.to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Parent entry
        explode: true
        in: query
        name: group
        required: false
        schema:
          type: string
        style: form
      - description: File suffix
        explode: true
        in: query
        name: filesuffix
        required: false
        schema:
          type: string
        style: form
      - description: Northern bounds of search
        explode: true
        in: query
        name: maxlatitude
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Western bounds of search
        explode: true
        in: query
        name: minlongitude
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Southern bounds of search
        explode: true
        in: query
        name: minlatitude
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Eastern bounds of search
        explode: true
        in: query
        name: maxlongitude
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Max number of results
        explode: true
        in: query
        name: max
        required: false
        schema:
          type: integer
        style: form
      - description: Number to skip
        explode: true
        in: query
        name: skip
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          description: No response was specified
      summary: Search API for 'Series' entry type
      tags:
      - type/bio_ontology_series
      x-openapi-router-controller: openapi_server.controllers.type_bio_ontology_series_controller
  /repository/search/type/bio_ontology_study:
    get:
      description: API to search for entries of type Study
      operationId: search_bio_ontology_study
      parameters:
      - description: Search text
        explode: true
        in: query
        name: text
        required: false
        schema:
          type: string
        style: form
      - description: Search name
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: Search description
        explode: true
        in: query
        name: description
        required: false
        schema:
          type: string
        style: form
      - description: From date
        explode: true
        in: query
        name: fromdate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: To date
        explode: true
        in: query
        name: todate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Archive create date from
        explode: true
        in: query
        name: createdate.from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Archive create date to
        explode: true
        in: query
        name: createdate.to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Archive change date from
        explode: true
        in: query
        name: changedate.from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Archive change date to
        explode: true
        in: query
        name: changedate.to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Parent entry
        explode: true
        in: query
        name: group
        required: false
        schema:
          type: string
        style: form
      - description: File suffix
        explode: true
        in: query
        name: filesuffix
        required: false
        schema:
          type: string
        style: form
      - description: Northern bounds of search
        explode: true
        in: query
        name: maxlatitude
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Western bounds of search
        explode: true
        in: query
        name: minlongitude
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Southern bounds of search
        explode: true
        in: query
        name: minlatitude
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Eastern bounds of search
        explode: true
        in: query
        name: maxlongitude
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Max number of results
        explode: true
        in: query
        name: max
        required: false
        schema:
          type: integer
        style: form
      - description: Number to skip
        explode: true
        in: query
        name: skip
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          description: No response was specified
      summary: Search API for 'Study' entry type
      tags:
      - type/bio_ontology_study
      x-openapi-router-controller: openapi_server.controllers.type_bio_ontology_study_controller
  /repository/search/type/bio_sam:
    get:
      description: API to search for entries of type SAM Data
      operationId: search_bio_sam
      parameters:
      - description: Search text
        explode: true
        in: query
        name: text
        required: false
        schema:
          type: string
        style: form
      - description: Search name
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: Search description
        explode: true
        in: query
        name: description
        required: false
        schema:
          type: string
        style: form
      - description: From date
        explode: true
        in: query
        name: fromdate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: To date
        explode: true
        in: query
        name: todate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Archive create date from
        explode: true
        in: query
        name: createdate.from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Archive create date to
        explode: true
        in: query
        name: createdate.to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Archive change date from
        explode: true
        in: query
        name: changedate.from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Archive change date to
        explode: true
        in: query
        name: changedate.to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Parent entry
        explode: true
        in: query
        name: group
        required: false
        schema:
          type: string
        style: form
      - description: File suffix
        explode: true
        in: query
        name: filesuffix
        required: false
        schema:
          type: string
        style: form
      - description: Northern bounds of search
        explode: true
        in: query
        name: maxlatitude
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Western bounds of search
        explode: true
        in: query
        name: minlongitude
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Southern bounds of search
        explode: true
        in: query
        name: minlatitude
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Eastern bounds of search
        explode: true
        in: query
        name: maxlongitude
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Max number of results
        explode: true
        in: query
        name: max
        required: false
        schema:
          type: integer
        style: form
      - description: Number to skip
        explode: true
        in: query
        name: skip
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          description: No response was specified
      summary: Search API for 'SAM Data' entry type
      tags:
      - type/bio_sam
      x-openapi-router-controller: openapi_server.controllers.type_bio_sam_controller
  /repository/search/type/bio_sf_pdb:
    get:
      description: API to search for entries of type PDB Protein File
      operationId: search_bio_sf_pdb
      parameters:
      - description: Search text
        explode: true
        in: query
        name: text
        required: false
        schema:
          type: string
        style: form
      - description: Search name
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: Search description
        explode: true
        in: query
        name: description
        required: false
        schema:
          type: string
        style: form
      - description: From date
        explode: true
        in: query
        name: fromdate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: To date
        explode: true
        in: query
        name: todate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Archive create date from
        explode: true
        in: query
        name: createdate.from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Archive create date to
        explode: true
        in: query
        name: createdate.to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Archive change date from
        explode: true
        in: query
        name: changedate.from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Archive change date to
        explode: true
        in: query
        name: changedate.to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Parent entry
        explode: true
        in: query
        name: group
        required: false
        schema:
          type: string
        style: form
      - description: File suffix
        explode: true
        in: query
        name: filesuffix
        required: false
        schema:
          type: string
        style: form
      - description: Northern bounds of search
        explode: true
        in: query
        name: maxlatitude
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Western bounds of search
        explode: true
        in: query
        name: minlongitude
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Southern bounds of search
        explode: true
        in: query
        name: minlatitude
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Eastern bounds of search
        explode: true
        in: query
        name: maxlongitude
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Max number of results
        explode: true
        in: query
        name: max
        required: false
        schema:
          type: integer
        style: form
      - description: Number to skip
        explode: true
        in: query
        name: skip
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          description: No response was specified
      summary: Search API for 'PDB Protein File' entry type
      tags:
      - type/bio_sf_pdb
      x-openapi-router-controller: openapi_server.controllers.type_bio_sf_pdb_controller
  /repository/search/type/bio_sra:
    get:
      description: API to search for entries of type Sequence Read Archive
      operationId: search_bio_sra
      parameters:
      - description: Search text
        explode: true
        in: query
        name: text
        required: false
        schema:
          type: string
        style: form
      - description: Search name
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: Search description
        explode: true
        in: query
        name: description
        required: false
        schema:
          type: string
        style: form
      - description: From date
        explode: true
        in: query
        name: fromdate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: To date
        explode: true
        in: query
        name: todate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Archive create date from
        explode: true
        in: query
        name: createdate.from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Archive create date to
        explode: true
        in: query
        name: createdate.to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Archive change date from
        explode: true
        in: query
        name: changedate.from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Archive change date to
        explode: true
        in: query
        name: changedate.to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Parent entry
        explode: true
        in: query
        name: group
        required: false
        schema:
          type: string
        style: form
      - description: File suffix
        explode: true
        in: query
        name: filesuffix
        required: false
        schema:
          type: string
        style: form
      - description: Northern bounds of search
        explode: true
        in: query
        name: maxlatitude
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Western bounds of search
        explode: true
        in: query
        name: minlongitude
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Southern bounds of search
        explode: true
        in: query
        name: minlatitude
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Eastern bounds of search
        explode: true
        in: query
        name: maxlongitude
        required: false
        schema:
          format: float
          type: number
        style: form
[...]
