openapi: 3.0.1
info:
  contact:
    email: support@twilio.com
    name: Twilio Support
    url: https://support.twilio.com
  description: This is the public Twilio REST API.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://www.twilio.com/legal/tos
  title: Twilio - Trunking
  version: 1.55.0
  x-apisguru-categories:
  - telecom
  - messaging
  x-logo:
    url: https://static1.twilio.com/marketing/bundles/marketing/img/logos/wordmark-red.svg
  x-origin:
  - format: openapi
    url: https://raw.githubusercontent.com/twilio/twilio-oai/main/spec/json/twilio_trunking_v1.json
    version: "3.0"
  x-providerName: twilio.com
  x-serviceName: twilio_trunking_v1
servers:
- url: https://trunking.twilio.com
tags:
- name: TrunkingV1CredentialList
- name: TrunkingV1IpAccessControlList
- name: TrunkingV1OriginationUrl
- name: TrunkingV1PhoneNumber
- name: TrunkingV1Recording
- name: TrunkingV1Trunk
paths:
  /v1/Trunks:
    description: Represents a SIP trunk
    get:
      description: ""
      operationId: ListTrunk
      parameters:
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTrunkResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - TrunkingV1Trunk
      x-maturity:
      - GA
      x-accepts:
      - application/json
    post:
      description: ""
      operationId: CreateTrunk
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateTrunkRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/trunking.v1.trunk'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - TrunkingV1Trunk
      x-maturity:
      - GA
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
    servers:
    - url: https://trunking.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      - domain_name
      dependentProperties:
        credentials_lists:
          mapping:
            trunk_sid: sid
          resource_url: "/v1/Trunks/{trunk_sid}/CredentialLists"
        ip_access_control_lists:
          mapping:
            trunk_sid: sid
          resource_url: "/v1/Trunks/{trunk_sid}/IpAccessControlLists"
        origination_urls:
          mapping:
            trunk_sid: sid
          resource_url: "/v1/Trunks/{trunk_sid}/OriginationUrls"
        phone_numbers:
          mapping:
            trunk_sid: sid
          resource_url: "/v1/Trunks/{trunk_sid}/PhoneNumbers"
        recordings:
          mapping:
            trunk_sid: sid
          resource_url: "/v1/Trunks/{trunk_sid}/Recording"
      pathType: list
  /v1/Trunks/{Sid}:
    delete:
      description: ""
      operationId: DeleteTrunk
      parameters:
      - description: The unique string that we created to identify the Trunk resource
          to delete.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^TK[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - TrunkingV1Trunk
      x-maturity:
      - GA
      x-accepts:
      - application/json
    description: Represents a SIP trunk
    get:
      description: ""
      operationId: FetchTrunk
      parameters:
      - description: The unique string that we created to identify the Trunk resource
          to fetch.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^TK[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/trunking.v1.trunk'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - TrunkingV1Trunk
      x-maturity:
      - GA
      x-accepts:
      - application/json
    post:
      description: ""
      operationId: UpdateTrunk
      parameters:
      - description: The unique string that we created to identify the OriginationUrl
          resource to update.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^TK[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateTrunkRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/trunking.v1.trunk'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - TrunkingV1Trunk
      x-maturity:
      - GA
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
    servers:
    - url: https://trunking.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      - domain_name
      dependentProperties:
        credentials_lists:
          mapping:
            trunk_sid: sid
          resource_url: "/v1/Trunks/{trunk_sid}/CredentialLists"
        ip_access_control_lists:
          mapping:
            trunk_sid: sid
          resource_url: "/v1/Trunks/{trunk_sid}/IpAccessControlLists"
        origination_urls:
          mapping:
            trunk_sid: sid
          resource_url: "/v1/Trunks/{trunk_sid}/OriginationUrls"
        phone_numbers:
          mapping:
            trunk_sid: sid
          resource_url: "/v1/Trunks/{trunk_sid}/PhoneNumbers"
        recordings:
          mapping:
            trunk_sid: sid
          resource_url: "/v1/Trunks/{trunk_sid}/Recording"
      pathType: instance
  /v1/Trunks/{TrunkSid}/CredentialLists:
    description: List of credentials for accessing a trunk
    get:
      description: ""
      operationId: ListCredentialList
      parameters:
      - description: The SID of the Trunk from which to read the credential lists.
        explode: false
        in: path
        name: TrunkSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^TK[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCredentialListResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - TrunkingV1CredentialList
      x-maturity:
      - GA
      x-accepts:
      - application/json
    post:
      description: ""
      operationId: CreateCredentialList
      parameters:
      - description: The SID of the Trunk to associate the credential list with.
        explode: false
        in: path
        name: TrunkSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^TK[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateCredentialListRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/trunking.v1.trunk.credential_list'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - TrunkingV1CredentialList
      x-maturity:
      - GA
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
    servers:
    - url: https://trunking.twilio.com
    x-twilio:
      className: credential_list
      defaultOutputProperties:
      - sid
      - friendly_name
      - date_created
      mountName: credentials_lists
      parent: "/Trunks/{Sid}"
      pathType: list
  /v1/Trunks/{TrunkSid}/CredentialLists/{Sid}:
    delete:
      description: ""
      operationId: DeleteCredentialList
      parameters:
      - description: The SID of the Trunk from which to delete the credential list.
        explode: false
        in: path
        name: TrunkSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^TK[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The unique string that we created to identify the CredentialList
          resource to delete.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^CL[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - TrunkingV1CredentialList
      x-maturity:
      - GA
      x-accepts:
      - application/json
    description: List of credentials for accessing a trunk
    get:
      description: ""
      operationId: FetchCredentialList
      parameters:
      - description: The SID of the Trunk from which to fetch the credential list.
        explode: false
        in: path
        name: TrunkSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^TK[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The unique string that we created to identify the CredentialList
          resource to fetch.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^CL[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/trunking.v1.trunk.credential_list'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - TrunkingV1CredentialList
      x-maturity:
      - GA
      x-accepts:
      - application/json
    servers:
    - url: https://trunking.twilio.com
    x-twilio:
      className: credential_list
      defaultOutputProperties:
      - sid
      - friendly_name
      - date_created
      mountName: credentials_lists
      parent: "/Trunks/{Sid}"
      pathType: instance
  /v1/Trunks/{TrunkSid}/IpAccessControlLists:
    description: List of IP addresses for accessing a trunk
    get:
      description: List all IP Access Control Lists for a Trunk
      operationId: ListIpAccessControlList
      parameters:
      - description: The SID of the Trunk from which to read the IP Access Control
          Lists.
        explode: false
        in: path
        name: TrunkSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^TK[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListIpAccessControlListResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - TrunkingV1IpAccessControlList
      x-maturity:
      - GA
      x-accepts:
      - application/json
    post:
      description: Associate an IP Access Control List with a Trunk
      operationId: CreateIpAccessControlList
      parameters:
      - description: The SID of the Trunk to associate the IP Access Control List
          with.
        explode: false
        in: path
        name: TrunkSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^TK[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateIpAccessControlListRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/trunking.v1.trunk.ip_access_control_list'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - TrunkingV1IpAccessControlList
      x-maturity:
      - GA
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
    servers:
    - url: https://trunking.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      - date_created
      parent: "/Trunks/{Sid}"
      pathType: list
  /v1/Trunks/{TrunkSid}/IpAccessControlLists/{Sid}:
    delete:
      description: Remove an associated IP Access Control List from a Trunk
      operationId: DeleteIpAccessControlList
      parameters:
      - description: The SID of the Trunk from which to delete the IP Access Control
          List.
        explode: false
        in: path
        name: TrunkSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^TK[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The unique string that we created to identify the IpAccessControlList
          resource to delete.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^AL[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - TrunkingV1IpAccessControlList
      x-maturity:
      - GA
      x-accepts:
      - application/json
    description: List of IP addresses for accessing a trunk
    get:
      description: ""
      operationId: FetchIpAccessControlList
      parameters:
      - description: The SID of the Trunk from which to fetch the IP Access Control
          List.
        explode: false
        in: path
        name: TrunkSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^TK[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The unique string that we created to identify the IpAccessControlList
          resource to fetch.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^AL[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/trunking.v1.trunk.ip_access_control_list'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - TrunkingV1IpAccessControlList
      x-maturity:
      - GA
      x-accepts:
      - application/json
    servers:
    - url: https://trunking.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      - date_created
      parent: "/Trunks/{Sid}"
      pathType: instance
  /v1/Trunks/{TrunkSid}/OriginationUrls:
    description: Network element entry points into your communications infrastructure
    get:
      description: ""
      operationId: ListOriginationUrl
      parameters:
      - description: The SID of the Trunk from which to read the OriginationUrl.
        explode: false
        in: path
        name: TrunkSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^TK[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOriginationUrlResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - TrunkingV1OriginationUrl
      x-maturity:
      - GA
      x-accepts:
      - application/json
    post:
      description: ""
      operationId: CreateOriginationUrl
      parameters:
      - description: The SID of the Trunk to associate the resource with.
        explode: false
        in: path
        name: TrunkSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^TK[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateOriginationUrlRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/trunking.v1.trunk.origination_url'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - TrunkingV1OriginationUrl
      x-maturity:
      - GA
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
    servers:
    - url: https://trunking.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      - sip_url
      - priority
      - weight
      parent: "/Trunks/{Sid}"
      pathType: list
  /v1/Trunks/{TrunkSid}/OriginationUrls/{Sid}:
    delete:
      description: ""
      operationId: DeleteOriginationUrl
      parameters:
      - description: The SID of the Trunk from which to delete the OriginationUrl.
        explode: false
        in: path
        name: TrunkSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^TK[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The unique string that we created to identify the OriginationUrl
          resource to delete.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^OU[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - TrunkingV1OriginationUrl
      x-maturity:
      - GA
      x-accepts:
      - application/json
    description: Network element entry points into your communications infrastructure
    get:
      description: ""
      operationId: FetchOriginationUrl
      parameters:
      - description: The SID of the Trunk from which to fetch the OriginationUrl.
        explode: false
        in: path
        name: TrunkSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^TK[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The unique string that we created to identify the OriginationUrl
          resource to fetch.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^OU[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/trunking.v1.trunk.origination_url'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - TrunkingV1OriginationUrl
      x-maturity:
      - GA
      x-accepts:
      - application/json
    post:
      description: ""
      operationId: UpdateOriginationUrl
      parameters:
      - description: The SID of the Trunk from which to update the OriginationUrl.
        explode: false
        in: path
        name: TrunkSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^TK[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The unique string that we created to identify the OriginationUrl
          resource to update.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^OU[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateOriginationUrlRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/trunking.v1.trunk.origination_url'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - TrunkingV1OriginationUrl
      x-maturity:
      - GA
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
    servers:
    - url: https://trunking.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      - sip_url
      - priority
      - weight
      parent: "/Trunks/{Sid}"
      pathType: instance
  /v1/Trunks/{TrunkSid}/PhoneNumbers:
    description: Phone numbers associated with trunks
    get:
      description: ""
      operationId: ListPhoneNumber
      parameters:
      - description: The SID of the Trunk from which to read the PhoneNumber resources.
        explode: false
        in: path
        name: TrunkSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^TK[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPhoneNumberResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - TrunkingV1PhoneNumber
      x-maturity:
      - GA
      x-accepts:
      - application/json
    post:
      description: ""
      operationId: CreatePhoneNumber
      parameters:
      - description: The SID of the Trunk to associate the phone number with.
        explode: false
        in: path
        name: TrunkSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^TK[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreatePhoneNumberRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/trunking.v1.trunk.phone_number'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - TrunkingV1PhoneNumber
      x-maturity:
      - GA
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
    servers:
    - url: https://trunking.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      - phone_number
      parent: "/Trunks/{Sid}"
      pathType: list
  /v1/Trunks/{TrunkSid}/PhoneNumbers/{Sid}:
    delete:
      description: ""
      operationId: DeletePhoneNumber
      parameters:
      - description: The SID of the Trunk from which to delete the PhoneNumber resource.
        explode: false
        in: path
        name: TrunkSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^TK[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The unique string that we created to identify the PhoneNumber
          resource to delete.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^PN[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - TrunkingV1PhoneNumber
      x-maturity:
      - GA
      x-accepts:
      - application/json
    description: Phone numbers associated with trunks
    get:
      description: ""
      operationId: FetchPhoneNumber
      parameters:
      - description: The SID of the Trunk from which to fetch the PhoneNumber resource.
        explode: false
        in: path
        name: TrunkSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^TK[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The unique string that we created to identify the PhoneNumber
          resource to fetch.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^PN[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/trunking.v1.trunk.phone_number'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - TrunkingV1PhoneNumber
      x-maturity:
      - GA
      x-accepts:
      - application/json
    servers:
    - url: https://trunking.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      - phone_number
      parent: "/Trunks/{Sid}"
      pathType: instance
  /v1/Trunks/{TrunkSid}/Recording:
    description: Recording settings for a trunk
    get:
      description: ""
      operationId: FetchRecording
      parameters:
      - description: The SID of the Trunk from which to fetch the recording settings.
        explode: false
        in: path
        name: TrunkSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^TK[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/trunking.v1.trunk.recording'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - TrunkingV1Recording
      x-maturity:
      - GA
      x-accepts:
      - application/json
    post:
      description: ""
      operationId: UpdateRecording
      parameters:
      - description: The SID of the Trunk that will have its recording settings updated.
        explode: false
        in: path
        name: TrunkSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^TK[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateRecordingRequest'
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/trunking.v1.trunk.recording'
          description: Accepted
      security:
      - accountSid_authToken: []
      tags:
      - TrunkingV1Recording
      x-maturity:
      - GA
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
    servers:
    - url: https://trunking.twilio.com
    x-twilio:
      defaultOutputProperties:
      - mode
      - trim
      mountName: recordings
      parent: "/Trunks/{Sid}"
      pathType: instance
components:
  schemas:
    phone_number_enum_address_requirement:
      enum:
      - none
      - any
      - local
      - foreign
      type: string
    recording_enum_recording_mode:
      enum:
      - do-not-record
      - record-from-ringing
      - record-from-answer
      - record-from-ringing-dual
      - record-from-answer-dual
      type: string
    recording_enum_recording_trim:
      enum:
      - trim-silence
      - do-not-trim
      type: string
    trunk_enum_transfer_caller_id:
      enum:
      - from-transferee
      - from-transferor
      type: string
    trunk_enum_transfer_setting:
      enum:
      - disable-all
      - enable-all
      - sip-only
      type: string
    trunking.v1.trunk:
      example:
        auth_type: auth_type
        friendly_name: friendly_name
        date_updated: 2000-01-23T04:56:07.000+00:00
        transfer_mode: transfer_mode
        date_created: 2000-01-23T04:56:07.000+00:00
        recording: ""
        disaster_recovery_method: HEAD
        secure: true
        url: https://openapi-generator.tech
        sid: sid
        transfer_caller_id: transfer_caller_id
        cnam_lookup_enabled: true
        domain_name: domain_name
        auth_type_set:
        - auth_type_set
        - auth_type_set
        disaster_recovery_url: https://openapi-generator.tech
        account_sid: account_sid
        links: "{}"
      properties:
        account_sid:
          description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
            \ that created the Trunk resource."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
        auth_type:
          description: "The types of authentication mapped to the domain. Can be:\
            \ `IP_ACL` and `CREDENTIAL_LIST`. If both are mapped, the values are returned\
            \ in a comma delimited list. If empty, the domain will not receive any\
            \ traffic."
          nullable: true
          type: string
        auth_type_set:
          description: Reserved.
          items:
            type: string
          nullable: true
          type: array
        cnam_lookup_enabled:
          description: "Whether Caller ID Name (CNAM) lookup is enabled for the trunk.\
            \ If enabled, all inbound calls to the SIP Trunk from the United States\
            \ and Canada automatically perform a CNAM Lookup and display Caller ID\
            \ data on your phone. See [CNAM Lookups](https://www.twilio.com/docs/sip-trunking#CNAM)\
            \ for more information."
          nullable: true
          type: boolean
        date_created:
          description: "The date and time in GMT when the resource was created specified\
            \ in [RFC 2822](https://www.ietf.org/rfc/rfc2822.txt) format."
          format: date-time
          nullable: true
          type: string
        date_updated:
          description: "The date and time in GMT when the resource was last updated\
            \ specified in [RFC 2822](https://www.ietf.org/rfc/rfc2822.txt) format."
          format: date-time
          nullable: true
          type: string
        disaster_recovery_method:
          description: "The HTTP method we use to call the `disaster_recovery_url`.\
            \ Can be: `GET` or `POST`."
          enum:
          - HEAD
          - GET
          - POST
          - PATCH
          - PUT
          - DELETE
          format: http-method
          nullable: true
          type: string
        disaster_recovery_url:
          description: "The URL we call using the `disaster_recovery_method` if an\
            \ error occurs while sending SIP traffic towards the configured Origination\
            \ URL. We retrieve TwiML from this URL and execute the instructions like\
            \ any other normal TwiML call. See [Disaster Recovery](https://www.twilio.com/docs/sip-trunking#disaster-recovery)\
            \ for more information."
          format: uri
          nullable: true
          type: string
          x-twilio:
            pii:
              deleteSla: 30
              handling: standard
        domain_name:
          description: "The unique address you reserve on Twilio to which you route\
            \ your SIP traffic. Domain names can contain letters, digits, and `-`\
            \ and must end with `pstn.twilio.com`. See [Termination Settings](https://www.twilio.com/docs/sip-trunking#termination)\
            \ for more information."
          nullable: true
          type: string
        friendly_name:
          description: The string that you assigned to describe the resource.
          nullable: true
          type: string
        links:
          description: The URLs of related resources.
          format: uri-map
          nullable: true
          type: object
        recording:
          description: "The recording settings for the trunk. Can be: `do-not-record`,\
            \ `record-from-ringing`, `record-from-answer`. If set to `record-from-ringing`\
            \ or `record-from-answer`, all calls going through the trunk will be recorded.\
            \ The only way to change recording parameters is on a sub-resource of\
            \ a Trunk after it has been created. e.g.`/Trunks/[Trunk_SID]/Recording\
            \ -XPOST -d'Mode=record-from-answer'`. See [Recording](https://www.twilio.com/docs/sip-trunking#recording)\
            \ for more information."
          nullable: true
        secure:
          description: "Whether Secure Trunking is enabled for the trunk. If enabled,\
            \ all calls going through the trunk will be secure using SRTP for media\
            \ and TLS for signaling. If disabled, then RTP will be used for media.\
            \ See [Secure Trunking](https://www.twilio.com/docs/sip-trunking#securetrunking)\
            \ for more information."
          nullable: true
          type: boolean
        sid:
          description: The unique string that we created to identify the Trunk resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^TK[0-9a-fA-F]{32}$"
          type: string
        transfer_caller_id:
          $ref: '#/components/schemas/trunk_enum_transfer_caller_id'
        transfer_mode:
          $ref: '#/components/schemas/trunk_enum_transfer_setting'
        url:
          description: The absolute URL of the resource.
          format: uri
          nullable: true
          type: string
      type: object
    trunking.v1.trunk.credential_list:
      example:
        friendly_name: friendly_name
        date_updated: 2000-01-23T04:56:07.000+00:00
        trunk_sid: trunk_sid
        date_created: 2000-01-23T04:56:07.000+00:00
        account_sid: account_sid
        url: https://openapi-generator.tech
        sid: sid
      properties:
        account_sid:
          description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
            \ that created the CredentialList resource."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
        date_created:
          description: "The date and time in GMT when the resource was created specified\
            \ in [RFC 2822](https://www.ietf.org/rfc/rfc2822.txt) format."
          format: date-time
          nullable: true
          type: string
        date_updated:
          description: "The date and time in GMT when the resource was last updated\
            \ specified in [RFC 2822](https://www.ietf.org/rfc/rfc2822.txt) format."
          format: date-time
          nullable: true
          type: string
        friendly_name:
          description: The string that you assigned to describe the resource.
          nullable: true
          type: string
        sid:
          description: The unique string that we created to identify the CredentialList
            resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^CL[0-9a-fA-F]{32}$"
          type: string
        trunk_sid:
          description: The SID of the Trunk the credential list in associated with.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^TK[0-9a-fA-F]{32}$"
          type: string
        url:
          description: The absolute URL of the resource.
          format: uri
          nullable: true
          type: string
      type: object
    trunking.v1.trunk.ip_access_control_list:
      example:
        friendly_name: friendly_name
        date_updated: 2000-01-23T04:56:07.000+00:00
        trunk_sid: trunk_sid
        date_created: 2000-01-23T04:56:07.000+00:00
        account_sid: account_sid
        url: https://openapi-generator.tech
        sid: sid
      properties:
        account_sid:
          description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
            \ that created the IpAccessControlList resource."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
        date_created:
          description: "The date and time in GMT when the resource was created specified\
            \ in [RFC 2822](https://www.ietf.org/rfc/rfc2822.txt) format."
          format: date-time
          nullable: true
          type: string
        date_updated:
          description: "The date and time in GMT when the resource was last updated\
            \ specified in [RFC 2822](https://www.ietf.org/rfc/rfc2822.txt) format."
          format: date-time
          nullable: true
          type: string
        friendly_name:
          description: The string that you assigned to describe the resource.
          nullable: true
          type: string
        sid:
          description: The unique string that we created to identify the IpAccessControlList
            resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AL[0-9a-fA-F]{32}$"
          type: string
        trunk_sid:
          description: The SID of the Trunk the resource is associated with.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^TK[0-9a-fA-F]{32}$"
          type: string
        url:
          description: The absolute URL of the resource.
          format: uri
          nullable: true
          type: string
      type: object
    trunking.v1.trunk.origination_url:
      example:
        friendly_name: friendly_name
        date_updated: 2000-01-23T04:56:07.000+00:00
        trunk_sid: trunk_sid
        date_created: 2000-01-23T04:56:07.000+00:00
        account_sid: account_sid
        weight: 6
        sip_url: https://openapi-generator.tech
        priority: 0
        enabled: true
        url: https://openapi-generator.tech
        sid: sid
      properties:
        account_sid:
          description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
            \ that created the OriginationUrl resource."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
        date_created:
          description: "The date and time in GMT when the resource was created specified\
            \ in [RFC 2822](https://www.ietf.org/rfc/rfc2822.txt) format."
          format: date-time
          nullable: true
          type: string
        date_updated:
          description: "The date and time in GMT when the resource was last updated\
            \ specified in [RFC 2822](https://www.ietf.org/rfc/rfc2822.txt) format."
          format: date-time
          nullable: true
          type: string
        enabled:
          description: Whether the URL is enabled. The default is `true`.
          nullable: true
          type: boolean
        friendly_name:
          description: The string that you assigned to describe the resource.
          nullable: true
          type: string
        priority:
          description: "The relative importance of the URI. Can be an integer from\
            \ 0 to 65535, inclusive, and the default is 10. The lowest number represents\
            \ the most important URI."
          nullable: true
          type: integer
        sid:
          description: The unique string that we created to identify the OriginationUrl
            resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^OU[0-9a-fA-F]{32}$"
          type: string
        sip_url:
          description: The SIP address you want Twilio to route your Origination calls
            to. This must be a `sip:` schema.
          format: uri
          nullable: true
          type: string
          x-twilio:
            pii:
              deleteSla: 30
              handling: standard
        trunk_sid:
          description: The SID of the Trunk that owns the Origination URL.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^TK[0-9a-fA-F]{32}$"
          type: string
        url:
          description: The absolute URL of the resource.
          format: uri
          nullable: true
          type: string
        weight:
          description: "The value that determines the relative share of the load the\
            \ URI should receive compared to other URIs with the same priority. Can\
            \ be an integer from 1 to 65535, inclusive, and the default is 10. URLs\
            \ with higher values receive more load than those with lower ones with\
            \ the same priority."
          nullable: true
          type: integer
      type: object
    trunking.v1.trunk.phone_number:
      example:
        date_updated: 2000-01-23T04:56:07.000+00:00
        trunk_sid: trunk_sid
        status_callback_method: HEAD
        sms_fallback_method: HEAD
        sid: sid
        voice_fallback_url: https://openapi-generator.tech
        sms_fallback_url: https://openapi-generator.tech
        account_sid: account_sid
        links: "{}"
        beta: true
        voice_application_sid: voice_application_sid
        voice_method: HEAD
        friendly_name: friendly_name
        capabilities: "{}"
        voice_url: https://openapi-generator.tech
        date_created: 2000-01-23T04:56:07.000+00:00
        sms_url: https://openapi-generator.tech
        address_requirements: address_requirements
        voice_fallback_method: HEAD
        status_callback: https://openapi-generator.tech
        api_version: api_version
        url: https://openapi-generator.tech
        voice_caller_id_lookup: true
        sms_method: HEAD
        phone_number: phone_number
        sms_application_sid: sms_application_sid
      properties:
        account_sid:
          description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
            \ that created the PhoneNumber resource."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
        address_requirements:
          $ref: '#/components/schemas/phone_number_enum_address_requirement'
        api_version:
          description: The API version used to start a new TwiML session.
          nullable: true
          type: string
        beta:
          description: "Whether the phone number is new to the Twilio platform. Can\
            \ be: `true` or `false`."
          nullable: true
          type: boolean
        capabilities:
          description: "The set of Boolean properties that indicate whether a phone\
            \ number can receive calls or messages.  Capabilities are  `Voice`, `SMS`,\
            \ and `MMS` and each capability can be: `true` or `false`."
          format: string-map
          nullable: true
          type: object
        date_created:
          description: "The date and time in GMT when the resource was created specified\
            \ in [RFC 2822](https://www.ietf.org/rfc/rfc2822.txt) format."
          format: date-time
          nullable: true
          type: string
        date_updated:
          description: "The date and time in GMT when the resource was last updated\
            \ specified in [RFC 2822](https://www.ietf.org/rfc/rfc2822.txt) format."
          format: date-time
          nullable: true
          type: string
        friendly_name:
          description: The string that you assigned to describe the resource.
          nullable: true
          type: string
          x-twilio:
            pii:
              deleteSla: 30
              handling: standard
        links:
          description: The URLs of related resources.
          format: uri-map
          nullable: true
          type: object
        phone_number:
          description: "The phone number in [E.164](https://www.twilio.com/docs/glossary/what-e164)\
            \ format, which consists of a + followed by the country code and subscriber\
            \ number."
          format: phone-number
          nullable: true
          type: string
        sid:
          description: The unique string that we created to identify the PhoneNumber
            resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^PN[0-9a-fA-F]{32}$"
          type: string
        sms_application_sid:
          description: "The SID of the application that handles SMS messages sent\
            \ to the phone number. If an `sms_application_sid` is present, we ignore\
            \ all `sms_*_url` values and use those of the application."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AP[0-9a-fA-F]{32}$"
          type: string
        sms_fallback_method:
          description: "The HTTP method we use to call `sms_fallback_url`. Can be:\
            \ `GET` or `POST`."
          enum:
          - HEAD
          - GET
          - POST
          - PATCH
          - PUT
          - DELETE
          format: http-method
          nullable: true
          type: string
        sms_fallback_url:
          description: The URL that we call using the `sms_fallback_method` when an
            error occurs while retrieving or executing the TwiML from `sms_url`.
          format: uri
          nullable: true
          type: string
        sms_method:
          description: "The HTTP method we use to call `sms_url`. Can be: `GET` or\
            \ `POST`."
          enum:
          - HEAD
          - GET
          - POST
          - PATCH
          - PUT
          - DELETE
          format: http-method
          nullable: true
          type: string
        sms_url:
          description: The URL we call using the `sms_method` when the phone number
            receives an incoming SMS message.
          format: uri
          nullable: true
          type: string
        status_callback:
          description: The URL we call using the `status_callback_method` to send
            status information to your application.
          format: uri
          nullable: true
          type: string
        status_callback_method:
          description: "The HTTP method we use to call `status_callback`. Can be:\
            \ `GET` or `POST`."
          enum:
          - HEAD
          - GET
          - POST
          - PATCH
          - PUT
          - DELETE
          format: http-method
          nullable: true
          type: string
        trunk_sid:
          description: "The SID of the Trunk that handles calls to the phone number.\
            \ If a `trunk_sid` is present, we ignore all of the voice URLs and voice\
            \ applications and use those set on the Trunk. Setting a `trunk_sid` will\
            \ automatically delete your `voice_application_sid` and vice versa."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^TK[0-9a-fA-F]{32}$"
          type: string
        url:
          description: The absolute URL of the resource.
          format: uri
          nullable: true
          type: string
        voice_application_sid:
          description: "The SID of the application that handles calls to the phone\
            \ number. If a `voice_application_sid` is present, we ignore all of the\
            \ voice URLs and use those set on the application. Setting a `voice_application_sid`\
            \ will automatically delete your `trunk_sid` and vice versa."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AP[0-9a-fA-F]{32}$"
          type: string
        voice_caller_id_lookup:
          description: "Whether we look up the caller's caller-ID name from the CNAM\
            \ database ($0.01 per look up). Can be: `true` or `false`."
          nullable: true
          type: boolean
        voice_fallback_method:
          description: "The HTTP method that we use to call `voice_fallback_url`.\
            \ Can be: `GET` or `POST`."
          enum:
          - HEAD
          - GET
          - POST
          - PATCH
          - PUT
          - DELETE
          format: http-method
          nullable: true
          type: string
        voice_fallback_url:
          description: The URL that we call using the `voice_fallback_method` when
            an error occurs retrieving or executing the TwiML requested by `url`.
          format: uri
          nullable: true
          type: string
        voice_method:
          description: "The HTTP method we use to call `voice_url`. Can be: `GET`\
            \ or `POST`."
          enum:
          - HEAD
          - GET
          - POST
          - PATCH
          - PUT
          - DELETE
          format: http-method
          nullable: true
          type: string
        voice_url:
          description: The URL we call using the `voice_method` when the phone number
            receives a call. The `voice_url` is not be used if a `voice_application_sid`
            or a `trunk_sid` is set.
          format: uri
          nullable: true
          type: string
      type: object
    trunking.v1.trunk.recording:
      example:
        mode: mode
        trim: trim
      properties:
        mode:
          $ref: '#/components/schemas/recording_enum_recording_mode'
        trim:
          $ref: '#/components/schemas/recording_enum_recording_trim'
      type: object
    ListTrunkResponse_meta:
      example:
        first_page_url: https://openapi-generator.tech
        next_page_url: https://openapi-generator.tech
        previous_page_url: https://openapi-generator.tech
        page: 0
        key: key
        url: https://openapi-generator.tech
        page_size: 6
      properties:
        first_page_url:
          format: uri
          type: string
        key:
          type: string
        next_page_url:
          format: uri
          nullable: true
          type: string
        page:
          type: integer
        page_size:
          type: integer
        previous_page_url:
          format: uri
          nullable: true
          type: string
        url:
          format: uri
          type: string
      type: object
    ListTrunkResponse:
      example:
        trunks:
        - auth_type: auth_type
          friendly_name: friendly_name
          date_updated: 2000-01-23T04:56:07.000+00:00
          transfer_mode: transfer_mode
          date_created: 2000-01-23T04:56:07.000+00:00
          recording: ""
          disaster_recovery_method: HEAD
          secure: true
          url: https://openapi-generator.tech
          sid: sid
          transfer_caller_id: transfer_caller_id
          cnam_lookup_enabled: true
          domain_name: domain_name
          auth_type_set:
          - auth_type_set
          - auth_type_set
          disaster_recovery_url: https://openapi-generator.tech
          account_sid: account_sid
          links: "{}"
        - auth_type: auth_type
          friendly_name: friendly_name
          date_updated: 2000-01-23T04:56:07.000+00:00
          transfer_mode: transfer_mode
          date_created: 2000-01-23T04:56:07.000+00:00
          recording: ""
          disaster_recovery_method: HEAD
          secure: true
          url: https://openapi-generator.tech
          sid: sid
          transfer_caller_id: transfer_caller_id
          cnam_lookup_enabled: true
          domain_name: domain_name
          auth_type_set:
          - auth_type_set
          - auth_type_set
          disaster_recovery_url: https://openapi-generator.tech
          account_sid: account_sid
          links: "{}"
        meta:
          first_page_url: https://openapi-generator.tech
          next_page_url: https://openapi-generator.tech
          previous_page_url: https://openapi-generator.tech
          page: 0
          key: key
          url: https://openapi-generator.tech
          page_size: 6
      properties:
        meta:
          $ref: '#/components/schemas/ListTrunkResponse_meta'
        trunks:
          items:
            $ref: '#/components/schemas/trunking.v1.trunk'
          type: array
      title: ListTrunkResponse
      type: object
    CreateTrunkRequest:
      properties:
        CnamLookupEnabled:
          description: "Whether Caller ID Name (CNAM) lookup should be enabled for\
            \ the trunk. If enabled, all inbound calls to the SIP Trunk from the United\
            \ States and Canada automatically perform a CNAM Lookup and display Caller\
            \ ID data on your phone. See [CNAM Lookups](https://www.twilio.com/docs/sip-trunking#CNAM)\
            \ for more information."
          type: boolean
        DisasterRecoveryMethod:
          description: "The HTTP method we should use to call the `disaster_recovery_url`.\
            \ Can be: `GET` or `POST`."
          enum:
          - HEAD
          - GET
          - POST
          - PATCH
          - PUT
          - DELETE
          format: http-method
          type: string
        DisasterRecoveryUrl:
          description: "The URL we should call using the `disaster_recovery_method`\
            \ if an error occurs while sending SIP traffic towards the configured\
            \ Origination URL. We retrieve TwiML from the URL and execute the instructions\
            \ like any other normal TwiML call. See [Disaster Recovery](https://www.twilio.com/docs/sip-trunking#disaster-recovery)\
            \ for more information."
          format: uri
          type: string
        DomainName:
          description: "The unique address you reserve on Twilio to which you route\
            \ your SIP traffic. Domain names can contain letters, digits, and `-`\
            \ and must end with `pstn.twilio.com`. See [Termination Settings](https://www.twilio.com/docs/sip-trunking#termination)\
            \ for more information."
          type: string
        FriendlyName:
          description: A descriptive string that you create to describe the resource.
            It can be up to 64 characters long.
          type: string
        Secure:
          description: "Whether Secure Trunking is enabled for the trunk. If enabled,\
            \ all calls going through the trunk will be secure using SRTP for media\
            \ and TLS for signaling. If disabled, then RTP will be used for media.\
            \ See [Secure Trunking](https://www.twilio.com/docs/sip-trunking#securetrunking)\
            \ for more information."
          type: boolean
        TransferCallerId:
          $ref: '#/components/schemas/trunk_enum_transfer_caller_id'
        TransferMode:
          $ref: '#/components/schemas/trunk_enum_transfer_setting'
      title: CreateTrunkRequest
      type: object
    UpdateTrunkRequest:
      properties:
        CnamLookupEnabled:
          description: "Whether Caller ID Name (CNAM) lookup should be enabled for\
            \ the trunk. If enabled, all inbound calls to the SIP Trunk from the United\
            \ States and Canada automatically perform a CNAM Lookup and display Caller\
            \ ID data on your phone. See [CNAM Lookups](https://www.twilio.com/docs/sip-trunking#CNAM)\
            \ for more information."
          type: boolean
        DisasterRecoveryMethod:
          description: "The HTTP method we should use to call the `disaster_recovery_url`.\
            \ Can be: `GET` or `POST`."
          enum:
          - HEAD
          - GET
          - POST
          - PATCH
          - PUT
          - DELETE
          format: http-method
          type: string
        DisasterRecoveryUrl:
          description: "The URL we should call using the `disaster_recovery_method`\
            \ if an error occurs while sending SIP traffic towards the configured\
            \ Origination URL. We retrieve TwiML from the URL and execute the instructions\
            \ like any other normal TwiML call. See [Disaster Recovery](https://www.twilio.com/docs/sip-trunking#disaster-recovery)\
            \ for more information."
          format: uri
          type: string
        DomainName:
          description: "The unique address you reserve on Twilio to which you route\
            \ your SIP traffic. Domain names can contain letters, digits, and `-`\
            \ and must end with `pstn.twilio.com`. See [Termination Settings](https://www.twilio.com/docs/sip-trunking#termination)\
            \ for more information."
          type: string
        FriendlyName:
          description: A descriptive string that you create to describe the resource.
            It can be up to 64 characters long.
          type: string
        Secure:
          description: "Whether Secure Trunking is enabled for the trunk. If enabled,\
            \ all calls going through the trunk will be secure using SRTP for media\
            \ and TLS for signaling. If disabled, then RTP will be used for media.\
            \ See [Secure Trunking](https://www.twilio.com/docs/sip-trunking#securetrunking)\
            \ for more information."
          type: boolean
        TransferCallerId:
          $ref: '#/components/schemas/trunk_enum_transfer_caller_id'
        TransferMode:
          $ref: '#/components/schemas/trunk_enum_transfer_setting'
      title: UpdateTrunkRequest
      type: object
    ListCredentialListResponse:
      example:
        meta:
          first_page_url: https://openapi-generator.tech
          next_page_url: https://openapi-generator.tech
          previous_page_url: https://openapi-generator.tech
          page: 0
          key: key
          url: https://openapi-generator.tech
          page_size: 6
        credential_lists:
        - friendly_name: friendly_name
          date_updated: 2000-01-23T04:56:07.000+00:00
          trunk_sid: trunk_sid
          date_created: 2000-01-23T04:56:07.000+00:00
          account_sid: account_sid
          url: https://openapi-generator.tech
          sid: sid
        - friendly_name: friendly_name
          date_updated: 2000-01-23T04:56:07.000+00:00
          trunk_sid: trunk_sid
          date_created: 2000-01-23T04:56:07.000+00:00
          account_sid: account_sid
          url: https://openapi-generator.tech
          sid: sid
      properties:
        credential_lists:
          items:
            $ref: '#/components/schemas/trunking.v1.trunk.credential_list'
          type: array
        meta:
          $ref: '#/components/schemas/ListTrunkResponse_meta'
      title: ListCredentialListResponse
      type: object
    CreateCredentialListRequest:
      properties:
        CredentialListSid:
          description: "The SID of the [Credential List](https://www.twilio.com/docs/voice/sip/api/sip-credentiallist-resource)\
            \ that you want to associate with the trunk. Once associated, we will\
            \ authenticate access to the trunk against this list."
          maxLength: 34
          minLength: 34
          pattern: "^CL[0-9a-fA-F]{32}$"
          type: string
      required:
      - CredentialListSid
      title: CreateCredentialListRequest
      type: object
    ListIpAccessControlListResponse:
      example:
        ip_access_control_lists:
        - friendly_name: friendly_name
          date_updated: 2000-01-23T04:56:07.000+00:00
          trunk_sid: trunk_sid
          date_created: 2000-01-23T04:56:07.000+00:00
          account_sid: account_sid
          url: https://openapi-generator.tech
          sid: sid
        - friendly_name: friendly_name
          date_updated: 2000-01-23T04:56:07.000+00:00
          trunk_sid: trunk_sid
          date_created: 2000-01-23T04:56:07.000+00:00
          account_sid: account_sid
          url: https://openapi-generator.tech
          sid: sid
        meta:
          first_page_url: https://openapi-generator.tech
          next_page_url: https://openapi-generator.tech
          previous_page_url: https://openapi-generator.tech
          page: 0
          key: key
          url: https://openapi-generator.tech
          page_size: 6
      properties:
        ip_access_control_lists:
          items:
            $ref: '#/components/schemas/trunking.v1.trunk.ip_access_control_list'
          type: array
        meta:
          $ref: '#/components/schemas/ListTrunkResponse_meta'
      title: ListIpAccessControlListResponse
      type: object
    CreateIpAccessControlListRequest:
      properties:
        IpAccessControlListSid:
          description: "The SID of the [IP Access Control List](https://www.twilio.com/docs/voice/sip/api/sip-ipaccesscontrollist-resource)\
            \ that you want to associate with the trunk."
          maxLength: 34
          minLength: 34
          pattern: "^AL[0-9a-fA-F]{32}$"
          type: string
      required:
      - IpAccessControlListSid
      title: CreateIpAccessControlListRequest
      type: object
    ListOriginationUrlResponse:
      example:
        origination_urls:
        - friendly_name: friendly_name
          date_updated: 2000-01-23T04:56:07.000+00:00
          trunk_sid: trunk_sid
          date_created: 2000-01-23T04:56:07.000+00:00
          account_sid: account_sid
          weight: 6
          sip_url: https://openapi-generator.tech
          priority: 0
          enabled: true
          url: https://openapi-generator.tech
          sid: sid
        - friendly_name: friendly_name
          date_updated: 2000-01-23T04:56:07.000+00:00
          trunk_sid: trunk_sid
          date_created: 2000-01-23T04:56:07.000+00:00
          account_sid: account_sid
          weight: 6
          sip_url: https://openapi-generator.tech
          priority: 0
          enabled: true
          url: https://openapi-generator.tech
          sid: sid
        meta:
          first_page_url: https://openapi-generator.tech
          next_page_url: https://openapi-generator.tech
          previous_page_url: https://openapi-generator.tech
          page: 0
          key: key
          url: https://openapi-generator.tech
          page_size: 6
      properties:
        meta:
          $ref: '#/components/schemas/ListTrunkResponse_meta'
        origination_urls:
          items:
            $ref: '#/components/schemas/trunking.v1.trunk.origination_url'
          type: array
      title: ListOriginationUrlResponse
      type: object
    CreateOriginationUrlRequest:
      properties:
        Enabled:
          description: Whether the URL is enabled. The default is `true`.
          type: boolean
        FriendlyName:
          description: A descriptive string that you create to describe the resource.
            It can be up to 64 characters long.
          type: string
        Priority:
          description: "The relative importance of the URI. Can be an integer from\
            \ 0 to 65535, inclusive, and the default is 10. The lowest number represents\
            \ the most important URI."
          type: integer
        SipUrl:
          description: The SIP address you want Twilio to route your Origination calls
            to. This must be a `sip:` schema.
          format: uri
          type: string
        Weight:
          description: "The value that determines the relative share of the load the\
            \ URI should receive compared to other URIs with the same priority. Can\
            \ be an integer from 1 to 65535, inclusive, and the default is 10. URLs\
            \ with higher values receive more load than those with lower ones with\
            \ the same priority."
          type: integer
      required:
      - Enabled
      - FriendlyName
      - Priority
      - SipUrl
      - Weight
      title: CreateOriginationUrlRequest
      type: object
    UpdateOriginationUrlRequest:
      properties:
        Enabled:
          description: Whether the URL is enabled. The default is `true`.
          type: boolean
        FriendlyName:
          description: A descriptive string that you create to describe the resource.
            It can be up to 64 characters long.
          type: string
        Priority:
          description: "The relative importance of the URI. Can be an integer from\
            \ 0 to 65535, inclusive, and the default is 10. The lowest number represents\
            \ the most important URI."
          type: integer
        SipUrl:
          description: The SIP address you want Twilio to route your Origination calls
            to. This must be a `sip:` schema. `sips` is NOT supported.
          format: uri
          type: string
        Weight:
          description: "The value that determines the relative share of the load the\
            \ URI should receive compared to other URIs with the same priority. Can\
            \ be an integer from 1 to 65535, inclusive, and the default is 10. URLs\
            \ with higher values receive more load than those with lower ones with\
            \ the same priority."
          type: integer
      title: UpdateOriginationUrlRequest
      type: object
    ListPhoneNumberResponse:
      example:
        phone_numbers:
        - date_updated: 2000-01-23T04:56:07.000+00:00
          trunk_sid: trunk_sid
          status_callback_method: HEAD
          sms_fallback_method: HEAD
          sid: sid
          voice_fallback_url: https://openapi-generator.tech
          sms_fallback_url: https://openapi-generator.tech
          account_sid: account_sid
          links: "{}"
          beta: true
          voice_application_sid: voice_application_sid
          voice_method: HEAD
          friendly_name: friendly_name
          capabilities: "{}"
          voice_url: https://openapi-generator.tech
          date_created: 2000-01-23T04:56:07.000+00:00
          sms_url: https://openapi-generator.tech
          address_requirements: address_requirements
          voice_fallback_method: HEAD
          status_callback: https://openapi-generator.tech
          api_version: api_version
          url: https://openapi-generator.tech
          voice_caller_id_lookup: true
          sms_method: HEAD
          phone_number: phone_number
          sms_application_sid: sms_application_sid
        - date_updated: 2000-01-23T04:56:07.000+00:00
          trunk_sid: trunk_sid
          status_callback_method: HEAD
          sms_fallback_method: HEAD
          sid: sid
          voice_fallback_url: https://openapi-generator.tech
          sms_fallback_url: https://openapi-generator.tech
          account_sid: account_sid
          links: "{}"
          beta: true
          voice_application_sid: voice_application_sid
          voice_method: HEAD
          friendly_name: friendly_name
          capabilities: "{}"
          voice_url: https://openapi-generator.tech
          date_created: 2000-01-23T04:56:07.000+00:00
          sms_url: https://openapi-generator.tech
          address_requirements: address_requirements
          voice_fallback_method: HEAD
          status_callback: https://openapi-generator.tech
          api_version: api_version
          url: https://openapi-generator.tech
          voice_caller_id_lookup: true
          sms_method: HEAD
          phone_number: phone_number
          sms_application_sid: sms_application_sid
        meta:
          first_page_url: https://openapi-generator.tech
          next_page_url: https://openapi-generator.tech
          previous_page_url: https://openapi-generator.tech
          page: 0
          key: key
          url: https://openapi-generator.tech
          page_size: 6
      properties:
        meta:
          $ref: '#/components/schemas/ListTrunkResponse_meta'
        phone_numbers:
          items:
            $ref: '#/components/schemas/trunking.v1.trunk.phone_number'
          type: array
      title: ListPhoneNumberResponse
      type: object
    CreatePhoneNumberRequest:
      properties:
        PhoneNumberSid:
          description: "The SID of the [Incoming Phone Number](https://www.twilio.com/docs/phone-numbers/api/incomingphonenumber-resource)\
            \ that you want to associate with the trunk."
          maxLength: 34
          minLength: 34
          pattern: "^PN[0-9a-fA-F]{32}$"
          type: string
      required:
      - PhoneNumberSid
      title: CreatePhoneNumberRequest
      type: object
    UpdateRecordingRequest:
      properties:
        Mode:
          $ref: '#/components/schemas/recording_enum_recording_mode'
        Trim:
          $ref: '#/components/schemas/recording_enum_recording_trim'
      title: UpdateRecordingRequest
      type: object
  securitySchemes:
    accountSid_authToken:
      scheme: basic
      type: http
x-maturity:
- description: This product is Generally Available.
  name: GA

