openapi: 3.0.0
info:
  contact:
    email: developer@climate.com
    name: Climate FieldView Support
  description: "**Last Modified**: Wed Jan  4 12:47:29 UTC 2023\n\n\nAll endpoints\
    \ are only accessible via HTTPS.\n\n* All API endpoints are located at `https://platform.climate.com`\
    \ (e.g.\n`https://platform.climate.com/v4/fields`).\n\n* The authorization token\
    \ endpoint is located at\n`https://api.climate.com/api/oauth/token`.\n\n## Troubleshooting\n\
    \n`X-Http-Request-Id` response header will be returned on every call,\nsuccessful\
    \ or not. If you experience an issue with our api and need\nto contact technical\
    \ support, please supply the value of the `X-Http-Request-Id`\nheader along with\
    \ an approximate time of when the request was made.\n\n## Request Limits\n\nWhen\
    \ you’re onboarded to Climate’s API platform, your `x-api-key` is assigned a custom\
    \ usage plan. Usage plans are unique to each partner and have the following key\
    \ attributes: \n\n1. Throttling information\n    * burstLimit: Maximum rate limit\
    \ over a period ranging from 1 second to a few seconds\n    * rateLimit: A steady-state\
    \ rate limit\n\n2. Quota information\n    * Limit: The maximum number of requests\
    \ that can be made in a given month\n\nWhen the request rate threshold is exceeded,\
    \ a `429` response code is returned. Optionally, the [`Retry-After`](https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.37)\
    \ header may be returned: \n\nFollowing are examples of rate limit errors:\n\n\
    1. Rate limit exceeded:\n\n<br>HTTP/1.1 429 \n<br>Content-Type: application/json\n\
    <br>Content-Length: 32\n\n   {\"message\":\"Too Many Requests\"}\n\n2. Quota exhausted:\n\
    <br>HTTP/1.1 429 \n<br>Content-Type: application/json\n<br>Content-Length: 29\n\
    \n    {\"message\":\"Limit Exceeded\"}\n\n## Pagination\n\nPagination is performed\
    \ via headers. Any request which returns a `\"results\"`\narray may be paginated.\
    \ The following figure shows how query results are laid out with\nX-Limit=4 and\
    \ no filter applied.\n\n<img style=\"width:70%;height:auto;\" src=\"https://s3-us-west-2.amazonaws.com/climate-com/images/svg_upload_tests/paging.png\"\
    >\n\n* If there are no results, a response code of `304` will be returned.\n\n\
    * If the response is the last set of results, a response code of `200` or\n`206`\
    \ will be returned.\n\n* If there are more results, a response code of `206` will\
    \ be returned.\n\n* If `X-Next-Token` is provided in the request headers but the\
    \ token has\nexpired, a response code of `409` will be returned. This is only\
    \ applicable\nfor some endpoints; see specific endpoint documentation below.\n\
    \n#### X-Limit\n\nThe page size can be controlled with the `X-Limit` header. Valid\
    \ values are\n`1-100` and defaults to `100`.\n\n#### X-Next-Token\n\nIf the results\
    \ are paginated, a response header of `X-Next-Token` will be\nreturned. Use the\
    \ associated value in the subsequent request (via the `X-Next-Token`\nrequest\
    \ header) to retrieve the next page. The following sequence diagram shows how\
    \ to\nuse `X-Next-Token` to fetch all the records.\n\n<img src=\"https://s3-us-west-2.amazonaws.com/climate-com/images/svg_upload_tests/x-next-token.svg\"\
    >\n\n\n## Chunked Uploads\n\nUploads larger than `5MiB` (`5242880 bytes`) must\
    \ be done in `5MiB` chunks\n(with the exception of the final chunk). Each chunk\
    \ request MUST contain a\n`Content-Range` header specifying the portion of the\
    \ upload, and a `Content-Type`\nheader specifying binary content type (`application/octet-stream`).\
    \ Range\nuploads must be contiguous. The maximum upload size is capped at `500MiB`\
    \ (`524288000 bytes`).\n\n## Chunked Downloads\n\nDownloads larger than `5MiB`\
    \ (`5242880 bytes`) must be done in `1-5MiB`\nchunks (with the exception of the\
    \ final chunk, which may be less than `1MiB`).\nEach chunk request MUST contain\
    \ a `Range` header specifying the requested portion of the download,\nand an `Accept`\
    \ header specifying binary and json content types  (`application/octet-stream,application/json`)\n\
    or all content types (`*/*`).\n\n## Drivers\n\nIf you need drivers to process\
    \ agronomic data, download the ADAPT plugin below. We only support the plugin\
    \ in the Windows environment, minimum is Windows 7 SP1.\n\nFor asPlanted, asHarvested\
    \ and asApplied data:\n* [ADAPT Plugin](https://dev.fieldview.com/drivers/ClimateADAPTPlugin_latest.exe)\n\
    <br>Release notes can be found [here](https://dev.fieldview.com/drivers/adapt-release-notes.txt).\n\
    <br>Download and use of the ADAPT plugin means that you agree to the EULA for\
    \ use of the ADAPT plugin. \n<br>Please review the [EULA](https://dev.fieldview.com/EULA/ADAPT%20Plugin%20EULA-06-19.pdf)\
    \ (last updated on June 6th, 2019) before download and use of the ADAPT plugin.\n\
    <br>For more information, please refer to:\n  * [ADAPT Resources](https://adaptframework.org/)\n\
    \  * [ADAPT Overview](https://aggateway.atlassian.net/wiki/spaces/ADM/overview)\n\
    \  * [ADAPT FAQ](https://aggateway.atlassian.net/wiki/spaces/ADM/pages/165942474/ADAPT+Frequently-Asked+Questions+FAQ)\n\
    \  * [ADAPT Videos](https://adaptframework.org/adapt-videos/)\n\n## Sample Test\
    \ Data\n\nSample agronomic data:\n* [asPlanted and asHarvested data](https://dev.fieldview.com/sample-agronomic-data/Planting_Harvesting_data_04_18_2018_21_46_18.zip)\n\
    * [asApplied data set 1](https://dev.fieldview.com/sample-agronomic-data/as-applied-data1.zip)\n\
    * [asApplied data set 2](https://dev.fieldview.com/sample-agronomic-data/as-applied-data2.zip)\n\
    <br>To upload the sample data to your account, please follow the instructions\
    \ in this [link](https://support.climate.com/kt#/kA02A000000AaxzSAC/en_US).\n\n\
    Sample soil data:\n* [Sample soil data](https://dev.fieldview.com/sample-soil-data/soil-sample.xml)\n\
    ---\n"
  title: Climate FieldView Platform APIs
  version: 4.0.11
  x-apisguru-categories:
  - open_data
  x-origin:
  - format: openapi
    url: https://dev.fieldview.com/openapi/platform.yaml
    version: "3.0"
  x-providerName: climate.com
servers:
- url: https://platform.climate.com/
tags:
- description: Field Boundary data endpoints.
  name: Boundaries
- description: Field data endpoints.
  name: Fields
- description: General data upload endpoints.
  name: Uploads
- description: General data export endpoints.
  name: Exports
- description: General data retrieval endpoints.
  name: Layers
- description: Resource Owner data endpoints.
  name: ResourceOwners
- description: Farm organization data endpoints.
  name: FarmOrganizations
- description: Operation data endpoints.
  name: Operations
paths:
  /v4/boundaries:
    post:
      description: |-
        Upload a **Boundary** entry by passing the geometry of the boundary. This will store the boundary but will not create field in Climate FieldView and will not link to an existing field in Climate FieldView.
        This is restricted to callers with **boundaries:write** scope.
        To upload a field boundary for field creation in Climate FieldView, please use **POST /v4/uploads**.
      operationId: uploadBoundary
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BoundaryUpload'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadedBoundaryId'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Input
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Too Many Requests
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Server Busy
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying the request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
      security:
      - api_key: []
      - oauth2_authorization_code:
        - boundaries:write
      summary: Upload a boundary
      tags:
      - Boundaries
      x-content-type: application/json
      x-accepts:
      - application/json
  /v4/boundaries/query:
    post:
      description: Retrieve multiple **Boundaries** (up to 10 per request).
      operationId: fetchBoundaries
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BoundariesQuery'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Boundaries'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Input
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Too Many Requests
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Server Busy
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying the request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
      security:
      - api_key: []
      - oauth2_authorization_code:
        - fields:read
      summary: Retrieve Boundaries in batch
      tags:
      - Boundaries
      x-content-type: application/json
      x-accepts:
      - application/json
  /v4/boundaries/{boundaryId}:
    get:
      description: Retrieve a **Boundary** by ID.
      operationId: fetchBoundaryById
      parameters:
      - description: Unique identifier of the Boundary
        explode: false
        in: path
        name: boundaryId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Boundary'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Input
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Too Many Requests
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Server Busy
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying the request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
      security:
      - api_key: []
      - oauth2_authorization_code:
        - platform
        - fields:read
      summary: Retrieve a Boundary by ID
      tags:
      - Boundaries
      x-accepts:
      - application/json
  /v4/exports:
    post:
      description: "Step one in requesting a data product. The method will return\
        \ an **Export** ID which the caller will use in subsequent `GET` requests.\n\
        The following `contentTypes` may be requested:\n  * __application/vnd.climate.acrsi.geojson__\
        \ (Beta)\n     Exports the planting activities accessible by the authenticated\
        \ user and optionally filtered by resource owner\n     as a [GeoJSON Feature\
        \ Collection](https://tools.ietf.org/html/rfc7946#page-12).\n\n     The export\
        \ request definition must contain the following properties:\n       * plantingStartDate\n\
        \       * plantingEndDate\n       * resourceOwnerId\n\n     Requires `exports:read`\
        \ and `plantingActivitySummary:read` scope.\n  \n  * __application/vnd.climate.harvest.geojson__\n\
        \     Exports the harvesting activities accessible by the authenticated user\
        \ and optionally filtered by resource owner\n     as a [GeoJSON Feature Collection](https://tools.ietf.org/html/rfc7946#page-12).\n\
        \n     The export request definition must contain the following properties:\n\
        \       * harvestStartDate\n       * harvestEndDate\n       * resourceOwnerId\n\
        \n     Requires `exports:read` and `plantingActivitySummary:read` scope."
      operationId: postExport
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Export'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatedExport'
          description: OK
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Input
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Too Many Requests
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Server Busy
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying the request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
      security:
      - api_key: []
      - oauth2_authorization_code:
        - exports:read
      summary: Initiate a new export request.
      tags:
      - Exports
      x-content-type: application/json
      x-accepts:
      - application/json
  /v4/exports/{exportId}/contents:
    get:
      description: Downloads larger than `5MiB` (`5242880 bytes`) in size must be
        downloaded in chunks no larger than `5MiB` (`5242880 bytes`) and no smaller
        than `1MiB` (`1048576 bytes`). The last chunk could be less than `1MiB` (`1048576
        bytes`).
      operationId: fetchExportContentsById
      parameters:
      - description: "Must be either \\*/* or application/octet-stream,application/json"
        explode: false
        in: header
        name: Accept
        required: true
        schema:
          type: string
        style: simple
      - description: Unique identifier of an Export.
        explode: false
        in: path
        name: exportId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: "Byte range `bytes=start-end` (https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.35.1).\
          \ e.g. bytes=0-1048576. Currently only single range value is supported.\
          \ Both start and end need to be specified, end value should be greater than\
          \ start and end - start should not be greater than 5MiB."
        explode: false
        in: header
        name: Range
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No Content
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
        "206":
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ExportContents'
          description: Partial Result
          headers:
            Content-Range:
              description: Byte range `bytes start-end/total` (https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.16).
                e.g. bytes 0-5242879/10242880. Downloads larger than 5MiB (5242880
                bytes) in size must be downloaded in chunks no larger than 5MiB (5242880
                bytes) and no smaller than 1MiB (1048576 bytes). The last chunk could
                be less than 1MiB (1048576 bytes).
              explode: false
              schema:
                type: string
              style: simple
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: Not Modified
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
            X-Next-Token:
              description: A token which may be used to poll for updates.
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Input
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Conflict (Report generation is still in progress)
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
        "410":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Gone (Report is expired)
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
        "416":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Range Not Satisfiable
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Too Many Requests
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Server Busy
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying the request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
      security:
      - api_key: []
      - oauth2_authorization_code:
        - exports:read
      summary: Retrieve the binary contents of a processed export request.
      tags:
      - Exports
      x-accepts:
      - application/json
      - application/octet-stream
  /v4/exports/{exportId}/status:
    get:
      description: Check the status of an **Export** by ID.
      operationId: fetchExportStatusById
      parameters:
      - description: Unique identifier of an Export.
        explode: false
        in: path
        name: exportId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExportStatus'
          description: OK
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Input
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Too Many Requests
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Server Busy
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying the request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
      security:
      - api_key: []
      - oauth2_authorization_code:
        - exports:read
      summary: Retrieve the status of an Export.
      tags:
      - Exports
      x-accepts:
      - application/json
  /v4/farmOrganizations/{farmOrganizationType}/{farmOrganizationId}:
    get:
      description: Retrieve a given **farm organization** by organization type and
        ID.
      operationId: fetchFarmOrganizationByTypeAndId
      parameters:
      - description: Type of the farm organization.
        explode: false
        in: path
        name: farmOrganizationType
        required: true
        schema:
          enum:
          - farm
          type: string
        style: simple
      - description: Unique identifier of the farm organization.
        explode: false
        in: path
        name: farmOrganizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FarmOrganization'
          description: Returns the requested farm organization.
          headers:
            X-Http-Request-Id:
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Input
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Too Many Requests
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Server Busy
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying the request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
      security:
      - api_key: []
      - oauth2_authorization_code:
        - farmOrganizations:read
      summary: Retrieve a specific farm organization by organization type and ID
      tags:
      - FarmOrganizations
      x-accepts:
      - application/json
  /v4/fields:
    get:
      description: Retrieve list of **Fields**. Filter the results by field name if
        the `fieldName` query parameter is specified.
      operationId: fetchFields
      parameters:
      - description: Opaque string which allows for fetching the next batch of results.  Can
          be used to poll for changes.
        explode: false
        in: header
        name: X-Next-Token
        required: false
        schema:
          type: string
        style: simple
      - description: Max number of results to return per batch.  Must be between 1
          and 100 inclusive.  Defaults to 100.
        explode: false
        in: header
        name: X-Limit
        required: false
        schema:
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: simple
      - description: Optional prefix filter for field name. Must be at least 3 characters.
        explode: true
        in: query
        name: fieldName
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fields'
          description: OK
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
            X-Next-Token:
              description: Token used to poll for updates.
              explode: false
              schema:
                type: string
              style: simple
        "206":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fields'
          description: Partial Result
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
            X-Next-Token:
              description: Token used to fetch next batch of results.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: Not Modified
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
            X-Next-Token:
              description: A token which may be used to poll for updates.
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Input
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Too Many Requests
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Server Busy
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying the request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
      security:
      - api_key: []
      - oauth2_authorization_code:
        - platform
        - fields:read
      summary: Retrieve list of Fields
      tags:
      - Fields
      x-accepts:
      - application/json
  /v4/fields/all:
    get:
      description: |-
        Retrieve all fields the authenticated user has access to, including fields shared with the authenticated user from other resource owners. Filter the results by field name if the `fieldName` query parameter is specified.
        A 409 will be returned if the X-Next-Token has expired. When receiving a 409, the client should discard the X-Next-Token, discard all currently persisted fields for the user, and re-fetch fields from /fields/all.
      operationId: fetchAllFields
      parameters:
      - description: Opaque string which allows for fetching the next batch of results.  Can
          be used to poll for changes.
        explode: false
        in: header
        name: X-Next-Token
        required: false
        schema:
          type: string
        style: simple
      - description: Max number of results to return per batch.  Must be between 1
          and 100 inclusive.  Defaults to 100.
        explode: false
        in: header
        name: X-Limit
        required: false
        schema:
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: simple
      - description: Optional prefix filter for field name. Must be at least 3 characters.
        explode: true
        in: query
        name: fieldName
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fields'
          description: OK
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
            X-Next-Token:
              description: Token used to poll for updates.
              explode: false
              schema:
                type: string
              style: simple
        "206":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fields'
          description: Partial Result
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
            X-Next-Token:
              description: Token used to fetch next batch of results.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: Not Modified
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
            X-Next-Token:
              description: A token which may be used to poll for updates.
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Input
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Conflict
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Too Many Requests
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Server Busy
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying the request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
      security:
      - api_key: []
      - oauth2_authorization_code:
        - platform
        - fields:read
      summary: Retrieve list of all Fields the user has access to.
      tags:
      - Fields
      x-accepts:
      - application/json
  /v4/fields/{fieldId}:
    get:
      description: Retrieve a given **Field** by ID.
      operationId: fetchFieldById
      parameters:
      - description: Unique identifier of the Field.
        explode: false
        in: path
        name: fieldId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Field'
          description: Returns the requested Field.
          headers:
            X-Http-Request-Id:
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Input
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Too Many Requests
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Server Busy
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying the request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
      security:
      - api_key: []
      - oauth2_authorization_code:
        - platform
        - fields:read
      summary: Retrieve a specific Field by ID
      tags:
      - Fields
      x-accepts:
      - application/json
  /v4/layers/asApplied:
    get:
      description: "Retrieve a list of application activities. The id in the response\
        \ is used for  GET /v4/layers/asApplied/{activityId}/contents."
      parameters:
      - description: "Must be either \\*/* or application/octet-stream,application/json"
        explode: false
        in: header
        name: Accept
        required: true
        schema:
          type: string
        style: simple
      - description: Opaque string which allows for fetching the next batch of results.  Can
          be used to poll for changes.
        explode: false
        in: header
        name: X-Next-Token
        required: false
        schema:
          type: string
        style: simple
      - description: Max number of results to return per batch.  Must be between 1
          and 100 inclusive.  Defaults to 100.
        explode: false
        in: header
        name: X-Limit
        required: false
        schema:
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: simple
      - description: "Optional unique identifier of the resource owner.  If resourceOwnerId\
          \ is not specified, it defaults to the x-authenticated-user-uuid."
        explode: true
        in: query
        name: resourceOwnerId
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: "Optional start time by which to filter layer results. Time must\
          \ be in ISO 8601 format with time zone, e.g. 2016-05-13T00:00:00Z (https://tools.ietf.org/html/rfc3339).\
          \ Layers with an end time at or after (inclusive) the specified time will\
          \ match this filter. If both occurredAfter and occurredBefore are populated,\
          \ occurredAfter must be <= occurredBefore."
        explode: true
        in: query
        name: occurredAfter
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Optional end time by which to filter layer results. Time must\
          \ be in ISO 8601 format with time zone, e.g. 2016-05-13T00:00:00Z (https://tools.ietf.org/html/rfc3339).\
          \ Layers with a start time at or before (inclusive) the specified time.\
          \ If both occurredAfter and occurredBefore are populated, occurredAfter\
          \ must be <= occurredBefore."
        explode: true
        in: query
        name: occurredBefore
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Optional updated time by which to filter layer results. Time\
          \ must be in ISO 8601 format with time zone, e.g. 2016-05-13T00:00:00Z (https://tools.ietf.org/html/rfc3339).\
          \ Layers with a modification time at or after (inclusive) the specified\
          \ time."
        explode: true
        in: query
        name: updatedAfter
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationActivities'
          description: OK
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
            X-Next-Token:
              description: Token used to poll for updates.
              explode: false
              schema:
                type: string
              style: simple
        "206":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationActivities'
          description: Partial Result
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
            X-Next-Token:
              description: Token used to fetch next batch of results.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: Not Modified
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
            X-Next-Token:
              description: A token which may be used to poll for updates.
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Input
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
      security:
      - api_key: []
      - oauth2_authorization_code:
        - platform
        - asApplied:read
      summary: Retrieve a list of application activities
      tags:
      - Layers
      x-accepts:
      - application/json
  /v4/layers/asApplied/{activityId}/contents:
    get:
      description: "Retrieve an individual application activity by id.  Ids are retrieved\
        \ via the  /layers/asApplied route. Downloads larger than `5MiB` (`5242880\
        \ bytes`) in size, must be downloaded in chunks no larger than `5MiB` (`5242880\
        \ bytes`) and no smaller than `1MiB`  (`1048576 bytes`). The last chunk could\
        \ be less than `1MiB` (`1048576 bytes`). The data is compressed using .zip\
        \ format."
      parameters:
      - description: "Must be either \\*/* or application/octet-stream,application/json"
        explode: false
        in: header
        name: Accept
        required: true
        schema:
          type: string
        style: simple
      - description: Unique identifier of the Application Activity.
        explode: false
        in: path
        name: activityId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: "Byte range `bytes=start-end` (https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.35.1).\
          \ e.g. bytes=0-1048576. Currently only single range value is supported.\
          \ Both start and end need to be specified, end value should be greater than\
          \ start and end - start should not be greater than 5MiB."
        explode: false
        in: header
        name: Range
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ApplicationActivityContents'
          description: OK
          headers:
            Content-Range:
              description: Byte range `bytes start-end/total` (https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.16).
                e.g. bytes 0-5242880/10242880. Downloads larger than 5MiB (5242880
                bytes) in size must be downloaded in chunks no larger than 5MiB (5242880
                bytes) and no smaller than 1MiB (1048576 bytes). The last chunk could
                be less than 1MiB (1048576 bytes).
              explode: false
              schema:
                type: string
              style: simple
            X-Http-Request-Id:
              description: Unique identifier assigned to the request
              explode: false
              schema:
                type: string
              style: simple
        "206":
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ApplicationActivityContents'
          description: Partial Result
          headers:
            Content-Range:
              description: Byte range `bytes start-end/total` (https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.16).
                e.g. bytes 0-5242880/10242880. Downloads larger than 5MiB (5242880
                bytes) in size must be downloaded in chunks no larger than 5MiB (5242880
                bytes) and no smaller than 1MiB (1048576 bytes). The last chunk could
                be less than 1MiB (1048576 bytes).
              explode: false
              schema:
                type: string
              style: simple
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: Not Modified
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
            X-Next-Token:
              description: A token which may be used to poll for updates.
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Input
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
        "416":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Range Not Satisfiable
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Server Busy
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying the request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
      security:
      - api_key: []
      - oauth2_authorization_code:
        - asApplied:read
      summary: Retrieve the raw application activity
      tags:
      - Layers
      x-accepts:
      - application/json
      - application/octet-stream
  /v4/layers/asHarvested:
    get:
      description: "Retrieve a list of harvest activities. The id in the response\
        \ is used for  GET /v4/layers/asHarvested/{activityId}/contents."
      parameters:
      - description: "Must be either \\*/* or application/octet-stream,application/json"
        explode: false
        in: header
        name: Accept
        required: true
        schema:
          type: string
        style: simple
      - description: Opaque string which allows for fetching the next batch of results.  Can
          be used to poll for changes.
        explode: false
        in: header
        name: X-Next-Token
        required: false
        schema:
          type: string
        style: simple
      - description: Max number of results to return per batch.  Must be between 1
          and 100 inclusive.  Defaults to 100.
        explode: false
        in: header
        name: X-Limit
        required: false
        schema:
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: simple
      - description: "Optional unique identifier of the resource owner.  If resourceOwnerId\
          \ is not specified, it defaults to the x-authenticated-user-uuid."
        explode: true
        in: query
        name: resourceOwnerId
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: "Optional start time by which to filter layer results. Time must\
          \ be in ISO 8601 format with time zone, e.g. 2016-05-13T00:00:00Z (https://tools.ietf.org/html/rfc3339).\
          \ Layers with an end time at or after (inclusive) the specified time will\
          \ match this filter. If both occurredAfter and occurredBefore are populated,\
          \ occurredAfter must be <= occurredBefore."
        explode: true
        in: query
        name: occurredAfter
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Optional end time by which to filter layer results. Time must\
          \ be in ISO 8601 format with time zone, e.g. 2016-05-13T00:00:00Z (https://tools.ietf.org/html/rfc3339).\
          \ Layers with a start time at or before (inclusive) the specified time.\
          \ If both occurredAfter and occurredBefore are populated, occurredAfter\
          \ must be <= occurredBefore."
        explode: true
        in: query
        name: occurredBefore
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Optional updated time by which to filter layer results. Time\
          \ must be in ISO 8601 format with time zone, e.g. 2016-05-13T00:00:00Z (https://tools.ietf.org/html/rfc3339).\
          \ Layers with a modification time at or after (inclusive) the specified\
          \ time."
        explode: true
        in: query
        name: updatedAfter
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HarvestActivities'
          description: OK
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
            X-Next-Token:
              description: Token used to poll for updates.
              explode: false
              schema:
                type: string
              style: simple
        "206":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HarvestActivities'
          description: Partial Result
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
            X-Next-Token:
              description: Token used to fetch next batch of results.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: Not Modified
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
            X-Next-Token:
              description: A token which may be used to poll for updates.
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Input
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
      security:
      - api_key: []
      - oauth2_authorization_code:
        - platform
        - asHarvested:read
      summary: Retrieve a list of harvest activities
      tags:
      - Layers
      x-accepts:
      - application/json
  /v4/layers/asHarvested/{activityId}/contents:
    get:
      description: "Retrieve an individual harvest activity by id.  Ids are retrieved\
        \ via the  /layers/asHarvested route. Downloads larger than `5MiB` (`5242880\
        \ bytes`) in size, must be downloaded in chunks no larger than `5MiB` (`5242880\
        \ bytes`) and no smaller than `1MiB`  (`1048576 bytes`). The last chunk could\
        \ be less than `1MiB` (`1048576 bytes`). The data is compressed using .zip\
        \ format."
      parameters:
      - description: "Must be either \\*/* or application/octet-stream,application/json"
        explode: false
        in: header
        name: Accept
        required: true
        schema:
          type: string
        style: simple
      - description: Unique identifier of the Harvest Activity.
        explode: false
        in: path
        name: activityId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: "Byte range `bytes=start-end` (https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.35.1).\
          \ e.g. bytes=0-1048576. Currently only single range value is supported.\
          \ Both start and end need to be specified, end value should be greater than\
          \ start and end - start should not be greater than 5MiB."
        explode: false
        in: header
        name: Range
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/HarvestActivityContents'
          description: OK
          headers:
            Content-Range:
              description: Byte range `bytes start-end/total` (https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.16).
                e.g. bytes 0-5242880/10242880. Downloads larger than 5MiB (5242880
                bytes) in size must be downloaded in chunks no larger than 5MiB (5242880
                bytes) and no smaller than 1MiB (1048576 bytes). The last chunk could
                be less than 1MiB (1048576 bytes).
              explode: false
              schema:
                type: string
              style: simple
            X-Http-Request-Id:
              description: Unique identifier assigned to the request
              explode: false
              schema:
                type: string
              style: simple
        "206":
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/HarvestActivityContents'
          description: Partial Result
          headers:
            Content-Range:
              description: Byte range `bytes start-end/total` (https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.16).
                e.g. bytes 0-5242880/10242880. Downloads larger than 5MiB (5242880
                bytes) in size must be downloaded in chunks no larger than 5MiB (5242880
                bytes) and no smaller than 1MiB (1048576 bytes). The last chunk could
                be less than 1MiB (1048576 bytes).
              explode: false
              schema:
                type: string
              style: simple
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: Not Modified
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
            X-Next-Token:
              description: A token which may be used to poll for updates.
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Input
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
        "416":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Range Not Satisfiable
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Server Busy
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying the request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
      security:
      - api_key: []
      - oauth2_authorization_code:
        - asHarvested:read
      summary: Retrieve the raw harvest activity
      tags:
      - Layers
      x-accepts:
      - application/json
      - application/octet-stream
  /v4/layers/asPlanted:
    get:
      description: "Retrieve a list of planting activities. The id in the response\
        \ is used for  GET /v4/layers/asPlanted/{activityId}/contents."
      parameters:
      - description: "Must be either \\*/* or application/octet-stream,application/json"
        explode: false
        in: header
        name: Accept
        required: true
        schema:
          type: string
        style: simple
      - description: Opaque string which allows for fetching the next batch of results.  Can
          be used to poll for changes.
        explode: false
        in: header
        name: X-Next-Token
        required: false
        schema:
          type: string
        style: simple
      - description: Max number of results to return per batch.  Must be between 1
          and 100 inclusive.  Defaults to 100.
        explode: false
        in: header
        name: X-Limit
        required: false
        schema:
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: simple
      - description: "Optional unique identifier of the resource owner.  If resourceOwnerId\
          \ is not specified, it defaults to the x-authenticated-user-uuid."
        explode: true
        in: query
        name: resourceOwnerId
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: "Optional start time by which to filter layer results. Time must\
          \ be in ISO 8601 format with time zone, e.g. 2016-05-13T00:00:00Z (https://tools.ietf.org/html/rfc3339).\
          \ Layers with an end time at or after (inclusive) the specified time will\
          \ match this filter. If both occurredAfter and occurredBefore are populated,\
          \ occurredAfter must be <= occurredBefore."
        explode: true
        in: query
        name: occurredAfter
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Optional end time by which to filter layer results. Time must\
          \ be in ISO 8601 format with time zone, e.g. 2016-05-13T00:00:00Z (https://tools.ietf.org/html/rfc3339).\
          \ Layers with a start time at or before (inclusive) the specified time.\
          \ If both occurredAfter and occurredBefore are populated, occurredAfter\
          \ must be <= occurredBefore."
        explode: true
        in: query
        name: occurredBefore
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Optional updated time by which to filter layer results. Time\
          \ must be in ISO 8601 format with time zone, e.g. 2016-05-13T00:00:00Z (https://tools.ietf.org/html/rfc3339).\
          \ Layers with a modification time at or after (inclusive) the specified\
          \ time."
        explode: true
        in: query
        name: updatedAfter
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlantingActivities'
          description: OK
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
            X-Next-Token:
              description: Token used to poll for updates.
              explode: false
              schema:
                type: string
              style: simple
        "206":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlantingActivities'
          description: Partial Result
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
            X-Next-Token:
              description: Token used to fetch next batch of results.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: Not Modified
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
            X-Next-Token:
              description: A token which may be used to poll for updates.
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Input
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
      security:
      - api_key: []
      - oauth2_authorization_code:
        - platform
        - asPlanted:read
      summary: Retrieve a list of planting activities
      tags:
      - Layers
      x-accepts:
      - application/json
  /v4/layers/asPlanted/{activityId}/contents:
    get:
      description: "Retrieve an individual planting activity by id.  Ids are retrieved\
        \ via the  /layers/asPlanted route. Downloads larger than `5MiB` (`5242880\
        \ bytes`) in size, must be downloaded in chunks no larger than `5MiB` (`5242880\
        \ bytes`) and no smaller than `1MiB`  (`1048576 bytes`). The last chunk could\
        \ be less than `1MiB` (`1048576 bytes`).  The data is compressed using .zip\
        \ format."
      parameters:
      - description: "Must be either \\*/* or application/octet-stream,application/json"
        explode: false
        in: header
        name: Accept
        required: true
        schema:
          type: string
        style: simple
      - description: Unique identifier of the Planting Activity.
        explode: false
        in: path
        name: activityId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: "Byte range `bytes=start-end` (https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.35.1).\
          \ e.g. bytes=0-1048576. Currently only single range value is supported.\
          \ Both start and end need to be specified, end value should be greater than\
          \ start and end - start should not be greater than 5MiB."
        explode: false
        in: header
        name: Range
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/PlantingActivityContents'
          description: OK
          headers:
            Content-Range:
              description: Byte range `bytes start-end/total` (https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.16).
                e.g. bytes 0-5242880/10242880. Downloads larger than 5MiB (5242880
                bytes) in size must be downloaded in chunks no larger than 5MiB (5242880
                bytes) and no smaller than 1MiB (1048576 bytes). The last chunk could
                be less than 1MiB (1048576 bytes).
              explode: false
              schema:
                type: string
              style: simple
            X-Http-Request-Id:
              description: Unique identifier assigned to the request
              explode: false
              schema:
                type: string
              style: simple
        "206":
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/PlantingActivityContents'
          description: Partial Result
          headers:
            Content-Range:
              description: Byte range `bytes start-end/total` (https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.16).
                e.g. bytes 0-5242880/10242880. Downloads larger than 5MiB (5242880
                bytes) in size must be downloaded in chunks no larger than 5MiB (5242880
                bytes) and no smaller than 1MiB (1048576 bytes). The last chunk could
                be less than 1MiB (1048576 bytes).
              explode: false
              schema:
                type: string
              style: simple
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: Not Modified
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
            X-Next-Token:
              description: A token which may be used to poll for updates.
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Input
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
        "416":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Range Not Satisfiable
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Server Busy
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying the request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
      security:
      - api_key: []
      - oauth2_authorization_code:
        - asPlanted:read
      summary: Retrieve the raw planting activity
      tags:
      - Layers
      x-accepts:
      - application/json
      - application/octet-stream
  /v4/layers/scoutingObservations:
    get:
      description: Retrieve a list of scouting observations created or updated by
        the user identified by the Authorization header.
      parameters:
      - description: Opaque string which allows for fetching the next batch of results.  Can
          be used to poll for changes.
        explode: false
        in: header
        name: X-Next-Token
        required: false
        schema:
          type: string
        style: simple
      - description: Max number of results to return per batch.  Must be between 1
          and 100 inclusive.  Defaults to 100.
        explode: false
        in: header
        name: X-Limit
        required: false
        schema:
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: simple
      - description: "Optional start time by which to filter layer results. Time must\
          \ be in ISO 8601 format with time zone, e.g. 2016-05-13T00:00:00Z (https://tools.ietf.org/html/rfc3339).\
          \ Layers with an end time at or after (inclusive) the specified time will\
          \ match this filter. If both occurredAfter and occurredBefore are populated,\
          \ occurredAfter must be <= occurredBefore."
        explode: true
        in: query
        name: occurredAfter
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Optional end time by which to filter layer results. Time must\
          \ be in ISO 8601 format with time zone, e.g. 2016-05-13T00:00:00Z (https://tools.ietf.org/html/rfc3339).\
          \ Layers with a start time at or before (inclusive) the specified time.\
          \ If both occurredAfter and occurredBefore are populated, occurredAfter\
          \ must be <= occurredBefore."
        explode: true
        in: query
        name: occurredBefore
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScoutingObservations'
          description: OK
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
            X-Next-Token:
              description: Token used to poll for updates.
              explode: false
              schema:
                type: string
              style: simple
        "206":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScoutingObservations'
          description: Partial Result
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
            X-Next-Token:
              description: Token used to fetch next batch of results.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: Not Modified
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
            X-Next-Token:
              description: A token which may be used to poll for updates.
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Input
          headers:
            X-Http-Request-Id:
              description: Unique identifier assigned to the request.
              explode: false
              schema:
                type: string
              style: simple
      security:
      - api_key: []
      - oauth2_authorization_code:
        - platform
        - scouting:read
      summary: Retrieve a list of scouting observations
      tags:
      - Layers
      x-accepts:
      - application/json
  /v4/layers/scoutingObservations/{scoutingObservationId}:
    get:
      description: Retrieve an individual scouting observation by id.  Ids are retrieved
        via the /layers/scoutingObservations route.
      parameters:
[...]
