openapi: 3.0.0
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: playgrouping.googleapis.com API.
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Google Play Grouping API
  version: v1alpha1
  x-apisguru-categories:
  - analytics
  - media
  x-logo:
    url: https://upload.wikimedia.org/wikipedia/commons/e/e1/YouTube_play_buttom_icon_%282013-2017%29.svg
  x-origin:
  - format: google
    url: https://playgrouping.googleapis.com/$discovery/rest?version=v1alpha1
    version: v1
  x-providerName: googleapis.com
  x-serviceName: playgrouping
externalDocs:
  url: https://cloud.google.com/playgrouping/
servers:
- url: https://playgrouping.googleapis.com/
tags:
- name: apps
paths:
  /v1alpha1/{appPackage}/{token}/tags:createOrUpdate:
    post:
      description: Create or update tags for the user and app that are represented
        by the given token.
      operationId: playgrouping_apps_tokens_tags_create_or_update
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. App whose tags are being manipulated. Format: apps/{package_name}"
        explode: false
        in: path
        name: appPackage
        required: true
        schema:
          type: string
        style: simple
      - description: "Required. Token for which the tags are being inserted or updated.\
          \ Format: tokens/{token}"
        explode: false
        in: path
        name: token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrUpdateTagsRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOrUpdateTagsResponse'
          description: Successful response
      tags:
      - apps
      x-openapi-router-controller: openapi_server.controllers.apps_controller
      x-codegen-request-body-name: body
  /v1alpha1/{appPackage}/{token}:verify:
    post:
      description: Verify an API token by asserting the app and persona it belongs
        to. The verification is a protection against client-side attacks and will
        fail if the contents of the token don't match the provided values. A token
        must be verified before it can be used to manipulate user tags.
      operationId: playgrouping_apps_tokens_verify
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. App the token belongs to. Format: apps/{package_name}"
        explode: false
        in: path
        name: appPackage
        required: true
        schema:
          type: string
        style: simple
      - description: "Required. The token to be verified. Format: tokens/{token}"
        explode: false
        in: path
        name: token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyTokenRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyTokenResponse'
          description: Successful response
      tags:
      - apps
      x-openapi-router-controller: openapi_server.controllers.apps_controller
      x-codegen-request-body-name: body
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      explode: true
      in: query
      name: $.xgafv
      required: false
      schema:
        enum:
        - "1"
        - "2"
        type: string
      style: form
    access_token:
      description: OAuth access token.
      explode: true
      in: query
      name: access_token
      required: false
      schema:
        type: string
      style: form
    alt:
      description: Data format for response.
      explode: true
      in: query
      name: alt
      required: false
      schema:
        enum:
        - json
        - media
        - proto
        type: string
      style: form
    callback:
      description: JSONP
      explode: true
      in: query
      name: callback
      required: false
      schema:
        type: string
      style: form
    fields:
      description: Selector specifying which fields to include in a partial response.
      explode: true
      in: query
      name: fields
      required: false
      schema:
        type: string
      style: form
    key:
      description: "API key. Your API key identifies your project and provides you\
        \ with API access, quota, and reports. Required unless you provide an OAuth\
        \ 2.0 token."
      explode: true
      in: query
      name: key
      required: false
      schema:
        type: string
      style: form
    oauth_token:
      description: OAuth 2.0 token for the current user.
      explode: true
      in: query
      name: oauth_token
      required: false
      schema:
        type: string
      style: form
    prettyPrint:
      description: Returns response with indentations and line breaks.
      explode: true
      in: query
      name: prettyPrint
      required: false
      schema:
        type: boolean
      style: form
    quotaUser:
      description: "Available to use for quota purposes for server-side applications.\
        \ Can be any arbitrary string assigned to a user, but should not exceed 40\
        \ characters."
      explode: true
      in: query
      name: quotaUser
      required: false
      schema:
        type: string
      style: form
    uploadType:
      description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
        )."
      explode: true
      in: query
      name: uploadType
      required: false
      schema:
        type: string
      style: form
    upload_protocol:
      description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
      explode: true
      in: query
      name: upload_protocol
      required: false
      schema:
        type: string
      style: form
  schemas:
    CreateOrUpdateTagsRequest:
      description: Request message for CreateOrUpdateTags. VerifyToken.
      example:
        tags:
        - int64Value: int64Value
          stringValue: stringValue
          booleanValue: true
          timeValue: timeValue
          key: key
        - int64Value: int64Value
          stringValue: stringValue
          booleanValue: true
          timeValue: timeValue
          key: key
      properties:
        tags:
          description: Tags to be inserted or updated.
          items:
            $ref: '#/components/schemas/Tag'
          title: tags
          type: array
      title: CreateOrUpdateTagsRequest
      type: object
    CreateOrUpdateTagsResponse:
      description: Response message for CreateOrUpdateTags.
      example:
        tags:
        - int64Value: int64Value
          stringValue: stringValue
          booleanValue: true
          timeValue: timeValue
          key: key
        - int64Value: int64Value
          stringValue: stringValue
          booleanValue: true
          timeValue: timeValue
          key: key
      properties:
        tags:
          description: "All requested tags are returned, including pre-existing ones."
          items:
            $ref: '#/components/schemas/Tag'
          title: tags
          type: array
      title: CreateOrUpdateTagsResponse
      type: object
    Tag:
      description: A tag is associated with exactly one package name and user.
      example:
        int64Value: int64Value
        stringValue: stringValue
        booleanValue: true
        timeValue: timeValue
        key: key
      properties:
        booleanValue:
          description: A boolean value of the tag.
          title: booleanValue
          type: boolean
        int64Value:
          description: A signed 64-bit integer value of the tag.
          format: int64
          title: int64Value
          type: string
        key:
          description: Required. Key for the tag.
          title: key
          type: string
        stringValue:
          description: A string value of the tag.
          title: stringValue
          type: string
        timeValue:
          description: A time value of the tag.
          format: google-datetime
          title: timeValue
          type: string
      title: Tag
      type: object
    VerifyTokenRequest:
      description: Request message for VerifyToken.
      example:
        persona: persona
      properties:
        persona:
          description: "Required. Persona represented by the token. Format: personas/{persona}"
          title: persona
          type: string
      title: VerifyTokenRequest
      type: object
    VerifyTokenResponse:
      description: Response message for VerifyToken.
      properties: {}
      type: object
