openapi: 3.0.1
info:
  contact:
    name: "U.S. EPA, OECA Integration, Targeting and Access Branch"
    url: https://echo.epa.gov/resources/general-info/contact-us
  description: "Enforcement and Compliance History Online (ECHO) is a tool developed\
    \ and maintained by EPA's Office of Enforcement and Compliance Assurance for public\
    \ use. ECHO provides integrated compliance and enforcement information for over\
    \ 1 million regulated facilities nationwide.\n   SDW Rest Services provides multiple\
    \ service endpoints, each with specific capabilities, to search and retrieve data\
    \ on public water systems regulated under the Safe Drinking Water Act (SDWA).\
    \  The returned results reflect data drawn from EPA's Federal Safe Drinking Water\
    \ Information System (SDWIS) database.\n\\\nThe get_systems, get_qid, and get_download\
    \ end points are meant to be used together.\n\\\nThe recommended use scenario\
    \ for get_systems, get_qid, and get_downoad is:\n\\\n <b>1)</b>  Use get_systems\
    \ to validate passed query parameters, obtain summary statistics and to obtain\
    \ a query_id (QID).  QIDs are time sensitive and will be valid for approximately\
    \ 30 minutes.\n <b>2)</b>  Use get_qid, with the returned QID, to paginate through\
    \ arrays of water system results.\n <b>3)</b>  Use get_download, with the returned\
    \ QID, to generate a Comma Separated Value (CSV) file of water system information\
    \ that meets the QID query criteria.\n\\\n\\\nUse the qcolumns parameter to customize\
    \ your search results.  Use the Metadata service endpoint for a list of available\
    \ output objects, their Column Ids, and their definitions to help you build your\
    \ customized output. \n\\\nAdditional ECHO Resources:   <a href=\"https://echo.epa.gov/tools/web-services\"\
    >Web Services</a>, <a href=\"https://echo.epa.gov/resources/echo-data/about-the-data\"\
    >About ECHO's Data</a>, <a href=\"https://echo.epa.gov/tools/data-downloads\"\
    >Data Downloads</a>\n "
  license:
    name: U.S. Public Domain License
    url: https://edg.epa.gov/EPA_Data_License.html
  title: U.S. EPA Enforcement and Compliance History Online (ECHO) - Safe Drinking
    Water Act
  version: 2019.10.15
  x-apisguru-categories:
  - open_data
  x-logo:
    backgroundColor: '#FFFFFF'
    url: https://pbs.twimg.com/profile_images/632233890594299904/DgRDU6dx_400x400.png
  x-origin:
  - format: swagger
    url: https://ofmpub.epa.gov/echo/swaggerx.swagger_json?p_prefix=SDW
    version: "2.0"
  x-providerName: epa.gov
  x-serviceName: sdw
servers:
- url: https://echodata.epa.gov/echo
paths:
  /sdw_rest_services.get_download:
    get:
      description: "Based on the QID obtained from a get_systems query, return a comma\
        \ separated value (CSV) file of the water systems found."
      parameters:
      - description: |-
          Output Format Flag.  Enter one of the following keywords:
          - CSV = Facility results formatted as comma delimited file download (default).
        in: query
        name: output
        schema:
          type: string
      - description: Query ID Selector.  Enter the QueryID number from a previously
          run query.
        in: query
        name: qid
        required: true
        schema:
          type: string
      - description: Used to customize service output.  A list of comma-separated
          column IDs of output objects that will be returned in the service query
          object or download.  Use the metadata service endpoint for a complete list
          of Ids and definitions.
        in: query
        name: qcolumns
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                format: binary
                type: string
            application/xml:
              schema:
                format: binary
                type: string
          description: Results are a comma separated value (CSV) file.
      summary: Safe Drinking Water Act (SDWA) Download Data Service
      tags:
      - Safe Drinking Water
      x-accepts:
      - application/json
      - application/xml
    post:
      description: "Based on the QID obtained from a get_systems query, return a comma\
        \ separated value (CSV) file of the water systems found."
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/_sdw_rest_services_get_download_post_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                format: binary
                type: string
            application/xml:
              schema:
                format: binary
                type: string
          description: Results are a comma separated value (CSV) file.
      summary: Safe Drinking Water Act (SDWA) Download Data Service
      tags:
      - Safe Drinking Water
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
      - application/xml
  /sdw_rest_services.get_qid:
    get:
      description: 'GET_QID is passed with a query ID corresponding to a previously
        run get_systems query. It then returns a Systems object containing all matching
        water systems. The main purpose of GET_QID is for large querysets that contain
        multiple pages (responsesets) of output. GET_QID allows for pagination and
        for the selection and sorting of columns. '
      parameters:
      - description: "Output Format Flag.  Enter one of the following keywords:\n\
          - JSON = Data model formatted as Javascript Object Notation (default).\n\
          - JSONP = Data model formatted as Javascript Object Notation with Padding.\
          \  \n- XML = Data model formatted as Extensible Markup Language."
        in: query
        name: output
        schema:
          enum:
          - JSONP
          - JSON
          - XML
          type: string
      - description: Query ID Selector.  Enter the QueryID number from a previously
          run query.
        in: query
        name: qid
        required: true
        schema:
          type: string
      - description: Indicates the number of the page to display. It is used only
          when the results are paginated.
        in: query
        name: pageno
        schema:
          default: 1.0
          type: number
      - description: JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter
          a name of the function in which to wrap the JSON response.
        in: query
        name: callback
        schema:
          type: string
      - description: Output Sort Column.  Enter the number of the column on which
          the data will be sorted. If unpopulated results will sort on the first column.
        in: query
        name: newsort
        schema:
          type: number
      - description: Output Sort Column Descending Flag.  Enter Y to column identified
          in the newsort parameter descending.  Enter N to use ascending sort order.
          Used only when newsort parameter is populated.
        in: query
        name: descending
        schema:
          enum:
          - "Y"
          - "N"
          type: string
      - description: Used to customize service output.  A list of comma-separated
          column IDs of output objects that will be returned in the service query
          object or download.  Use the metadata service endpoint for a complete list
          of Ids and definitions.
        in: query
        name: qcolumns
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_sdw_rest_services_get_qid_get_200_response'
            application/xml:
              schema:
                $ref: '#/components/schemas/_sdw_rest_services_get_qid_get_200_response'
          description: Results are an array (page)  of SDWA (SDWIS) Water Systems
            with the number of systems equal to the responseset (page size).
      summary: Safe Drinking Water Act (SDWA) Paginated Results Service
      tags:
      - Safe Drinking Water
      x-accepts:
      - application/json
      - application/xml
    post:
      description: 'GET_QID is passed with a query ID corresponding to a previously
        run get_systems query. It then returns a Systems object containing all matching
        water systems. The main purpose of GET_QID is for large querysets that contain
        multiple pages (responsesets) of output. GET_QID allows for pagination and
        for the selection and sorting of columns. '
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/_sdw_rest_services_get_qid_post_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_sdw_rest_services_get_qid_get_200_response'
            application/xml:
              schema:
                $ref: '#/components/schemas/_sdw_rest_services_get_qid_get_200_response'
          description: Results are an array (page)  of SDWA (SDWIS) Water Systems
            with the number of systems equal to the responseset (page size).
      summary: Safe Drinking Water Act (SDWA) Paginated Results Service
      tags:
      - Safe Drinking Water
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
      - application/xml
  /sdw_rest_services.get_systems:
    get:
      description: Returns an array of public water systems that meet the specified
        search criteria.
      parameters:
      - description: "Output Format Flag.  Enter one of the following keywords:\n\
          - JSON = Data model formatted as Javascript Object Notation (default).\n\
          - JSONP = Data model formatted as Javascript Object Notation with Padding.\
          \  \n- XML = Data model formatted as Extensible Markup Language."
        in: query
        name: output
        schema:
          enum:
          - JSONP
          - JSON
          - XML
          type: string
      - description: Facility Name Filter. Enter one or more case-insensitive facility
          names to filter results.  Provide multiple values as a comma-delimited list.  See
          p_fntype for additional modifiers.
        in: query
        name: p_fn
        schema:
          type: string
      - description: Facility City Filter. Enter a single case-insensitive city name
          to filter results.
        in: query
        name: p_ct
        schema:
          type: string
      - description: Facility County Filter. Provide a single county name in combination
          with a state value provided via p_st.
        in: query
        name: p_co
        schema:
          type: string
      - description: "FIPS Code Filter.  Enter a single 5-character Federal Information\
          \ Processing Standards (FIPS) state + county value to restrict results.\
          \  E.g. to limit results to Kenosha County, Wisconsin, use 55059."
        in: query
        name: p_fips
        schema:
          type: string
      - description: Facility State and State-Equivalent Filter.  Provide one or more
          USPS postal abbreviations for states and state-equivalents to filter results.  Provide
          multiple values as a comma-delimited list.
        in: query
        name: p_st
        schema:
          type: string
      - description: 5-Digit ZIP Code Filter. Provide one or more 5-digit postal zip
          codes to filter results.  May contain multiple comma-separated values.
        in: query
        name: p_zip
        schema:
          type: string
      - description: EPA Region Filter. Provide a single value of 01 thru 10 to restrict
          results to a single EPA region.
        in: query
        name: p_reg
        schema:
          enum:
          - "01"
          - "02"
          - "03"
          - "04"
          - "05"
          - "06"
          - "07"
          - "08"
          - "09"
          - "10"
          type: string
      - description: Tribe name
        in: query
        name: p_trb
        schema:
          type: string
      - description: Active Permits/Facilities Flag.  Provide Y or N to filter results
          to facilities with active permits.
        in: query
        name: p_act
        schema:
          enum:
          - "Y"
          - "N"
          - A
          type: string
      - description: |-
          Quarters in Noncompliance Limiter.  Enter a coded value to limit results to facilities with given quarter of noncompliance.
          - Z = Zero quarters in noncompliance.
          - GEXX = Replacing XX with a numeric value, that number of quarterd or more in noncompliance.
          - GTXX = Replacing XX with a numeric value, more than that number of quarters in noncompliance.
        in: query
        name: p_qiv
        schema:
          enum:
          - "0"
          - GT1
          - GT2
          - GT4
          - GT8
          - "12"
          type: string
      - description: Indian Country Flag.  Enter a "Y" or "N" to restrict searches
          to facilities inside or outside Indian Country.
        in: query
        name: p_ico
        schema:
          enum:
          - "Y"
          - "N"
          type: string
      - description: Nine-digit permit IDs. May contain up to 2000 comma-separated
          values.
        in: query
        name: p_pid
        schema:
          type: string
      - description: |-
          Owner/Operator code filter.  Enter one of the following codes to filter results:
          - F = Federal Government
          - S = State Government
          - L = Local Government
          - M = Public/Private
          - N = Native American
          - P = Private
        in: query
        name: p_owop
        schema:
          enum:
          - F
          - S
          - L
          - M
          - "N"
          - P
          type: string
      - description: |-
          Type of public water system:
          - CWS=Community water system
          - NCWS=Non-community water system
          - NTCWS=Non-transient non-community water system
          - TNCWS=Transient non-community water system
        in: query
        name: p_systyp
        schema:
          enum:
          - CWS
          - NCWS
          - NTCWS
          - TNCWS
          type: string
      - description: "Source Water Type:\n- SW = Surface water \n- GW= Ground water\n\
          - GU = Ground water under direct influence of (UDI) surface water\n- SWP\
          \ = Purchased Surface water\n- GWP = Purchased Ground water\n- GUP = Purchased\
          \ Ground water UDI surface water"
        in: query
        name: p_swtyp
        schema:
          enum:
          - SW
          - GW
          - GU
          - SWP
          - GWP
          - GUP
          type: string
      - description: |-
          Estimated average daily population served by a system:
          - LE500 = 500 or less
          - IN501_3K = 501-3,300
          - IN3K_10K = 3,301-10,000
          - IN10K_100K = 10,001-100,000
          - IN100K_1M = 100,001-1,000,000
          - GT1M = More than 1,000,000
          May contain multiple comma-separated values.
        in: query
        name: p_popsv
        schema:
          type: string
      - in: query
        name: p_cntysv
        schema:
          type: string
      - description: |-
          Current violations:
          - M = Monitoring and Reporting Violations
          - H = Health-based Violations
          - O = Other Violations
          - P = Public Notice Violations
          - S = Serious Violator
          - N = No Violations
          May contain multiple comma-separated values.
        in: query
        name: p_cs
        schema:
          type: string
      - description: Monitoring and Reporting Violations (failure to conduct regular
          monitoring of drinking water quality or submit monitoring results in a timely
          fashion).
        in: query
        name: p_mr
        schema:
          enum:
          - "Y"
          - "N"
          type: string
      - description: "Violations of health-based drinking water standards (maximum\
          \ contaminant levels, maximum residual disinfectant levels, or treatment\
          \ technique rules)."
        in: query
        name: p_health
        schema:
          enum:
          - "Y"
          - "N"
          type: string
      - description: "Other violations, such as failing to issue annual consumer confidence\
          \ reports or maintain required records."
        in: query
        name: p_other
        schema:
          enum:
          - "Y"
          - "N"
          type: string
      - description: Public Notice Violations (failure to immediately alert consumers
          of serious problem with drinking water).
        in: query
        name: p_pn
        schema:
          enum:
          - "Y"
          - "N"
          type: string
      - description: "Serious Violator (unresolved serious, multiple, and/or continuing\
          \ violations). A value of Y will return only SDWIS systems that are Serious\
          \ Violators, while a value of N will only return SDWIS Systems that are\
          \ not Serious Violators."
        in: query
        name: p_sv
        schema:
          enum:
          - "Y"
          - "N"
          type: string
      - description: "Quick Search. Allows entry for city, state, and/or zip code."
        in: query
        name: p_qs
        schema:
          type: string
      - description: "Single Facility Search Filter.  Provide a facility name or program\
          \ system identifier to limit results.  For the all data search, the FRS\
          \ registry identifier is also searched."
        in: query
        name: p_sfs
        schema:
          type: string
      - description: "For CWA, pollutant names for surface water discharges. for Drinking\
          \ Water, SDWIS Violation contaminant codes for unaddressed violations that\
          \ have occurred in the last 3 years. May contain multiple comma-separated\
          \ values."
        in: query
        name: p_pswpol
        schema:
          type: string
      - description: "Used in conjuction with parameters p_pswpol and p_pswparam,\
          \ indicates whether search should only include pollutants with violations."
        in: query
        name: p_pswvio
        schema:
          enum:
          - "Y"
          - "N"
          type: string
      - description: Lead Action Level Exceedance.  A "Y" value will select water
          systems with at least 1 Lead Action Level Exceedance.
        in: query
        name: p_pbale
        schema:
          type: string
      - description: Copper Action Level Exceedance.  A "Y" value will select water
          systems with at least 1 Copper Action Level Exceedance.
        in: query
        name: p_cuale
        schema:
          type: string
      - description: Rule code 350 violation. A "Y" value will select water systems
          with at least one rule code 350 violation.
        in: query
        name: p_rc350v
        schema:
          type: string
      - description: Lead Violations.  A "Y" value will select water systems with
          at least 1 Lead Violation.
        in: query
        name: p_pbv
        schema:
          type: string
      - description: Copper Violation.  A "Y" value will select water systems with
          at least 1 Copper Violation.
        in: query
        name: p_cuv
        schema:
          type: string
      - description: Lead or Copper rule violations.  A "Y" value will select water
          systems with at least 1 Lead or Copper Rule Violation.
        in: query
        name: p_lcrv
        schema:
          type: string
      - description: |-
          Formal Enforcement Actions [within / not within] specified date range indicator. The date range is determined by parameters p_fead1 and p_fead2 or by parameter p_feay.
          - W = within date range
          - N = not within date range
        in: query
        name: p_fea
        schema:
          enum:
          - W
          - "N"
          type: string
      - description: Years (1 to 5) Range.  This value is used to create a date range
          for Formal Enforcement Actions (FEA). Used along with p_fea (which indicates
          whether to look within or outside of the date range) to find FEAs within
          (or not within) the number of years specified.
        in: query
        name: p_feay
        schema:
          enum:
          - 1
          - 2
          - 3
          - 4
          - 5
          type: number
      - description: |-
          Agency associated with Formal Enforcement Actions:
          - E = EPA
          - S = State
          - A = All
        in: query
        name: p_feaa
        schema:
          enum:
          - A
          - E
          - S
          type: string
      - description: |-
          Informal Enforcement Actions [within / not within] specified date range.  The date range is determined by parameters p_iead1 and p_iead2 or by parameter p_ieay.
          - W = within date range
          - N = not within date range
        in: query
        name: p_iea
        schema:
          enum:
          - W
          - "N"
          type: string
      - description: Years (1 to 5) Range.  This value is used to create a date range
          for Informal Enforcement Actions (IEA). Used along with p_iea (which indicates
          whether to look within or outside of the date range) to find IEAs within
          (or not within) the number of years specified.
        in: query
        name: p_ieay
        schema:
          enum:
          - 1
          - 2
          - 3
          - 4
          - 5
          type: number
      - description: |-
          Agency associated with Informal Enforcement Actions. If left blank, both agencies are included.
          - E = EPA
          - S = State
        in: query
        name: p_ieaa
        schema:
          enum:
          - E
          - S
          type: string
      - description: |-
          Significant Quarters in Noncompliance Limiter.  Enter one of the following codes to limit results to facilities having given quarters of noncompliance.
          - Z = Zero quarters in noncompliance.
          - GE1 = One or more quarters in noncompliance.
          - GT1 = More than one quarters in noncompliance.
          - GE2 = Two or more quarters in noncompliance.
          - GT2 = More than two quarters in noncompliance.
          - GE4 = Four or more quarters in noncompliance.
          - GT4 = More than four quarters in noncompliance.
          - GE8 = Eight or more quarters in noncompliance.
          - GT8 = More than eight quarters in noncompliance.
          - GE12 = Twelve or more quarters in noncompliance.
          - GT12 = Twelve or more quarters in noncompliance.
          - 12 = Exactly twelve quarters in noncompliance.
          Note the seemingly incongruous of GT12 is deliberate.
        in: query
        name: p_qis
        schema:
          enum:
          - Z
          - GE1
          - GT1
          - GE2
          - GT2
          - GE4
          - GT4
          - GE8
          - GT8
          - GE12
          - GT12
          - "12"
          type: string
      - description: Formal Enforcement Action Date Range Start.  Enter a date in
          MM/DD/YYYY format to set the start of the range for filtering by recent
          Formal Enforcement Action (FEA) taken against the facility within the last
          five years.
        in: query
        name: p_pfead1
        schema:
          type: string
      - description: Formal Enforcement Action Date Range End.  Enter a date in MM/DD/YYYY
          format to set the end of the date range for filtering by recent Formal Enforcement
          Action (FEA) taken against the facility within the last five years.
        in: query
        name: p_pfead2
        schema:
          type: string
      - description: Formal Enforcement Action (FEA) Code Filter.  Enter one or more
          three-letter FEA codes to restrict results to facilities with these attributes.  Use
          p_fead1 and p_fead2 parameters to further restrict this filter by entering
          a date range.  Provide multiple codes as a comma-delimited list.
        in: query
        name: p_pfeat
        schema:
          type: string
      - description: "Sanitary Surveys (in past 5 years) flag.  Values of visit_reason_code\
          \ are either \"SNSV\" or \"SNSP\" in the past 5 years indicate a Sanitary\
          \ Survey.  \n\nEnter \"Y\" to select facilities with Sanitary Surveys within\
          \ the past 5 years.  \n\nEnter \"N\" to select facilities without Sanitary\
          \ Surveys in the past 5 years.\n\nEnter a number to search for greater for\
          \ facilities with a quantity than or equal to that value.\n\n\n"
        in: query
        name: p_ss5yr
        schema:
          type: string
      - description: "Significant Deficiency Count (in past 5 years) flag.  \n\nEnter\
          \ \"Y\" to select facilities with Sanitary Surveys within the past 5 years.\
          \  \n\nEnter \"N\" to select facilities without Sanitary Surveys in the\
          \ past 5 years.\n\nEnter a number to search for facilities with a quantity\
          \ greater than or equal to that value."
        in: query
        name: p_sdc
        schema:
          type: string
      - in: query
        name: p_sdc_ils
        schema:
          type: string
      - description: |-
          Last Facility Inspection [within / not within] Specified Date Range Indicator. The date range is determined by parameters p_idt1 and p_idt2 or by parameter p_ysly.
          - W = within date range
          - N = not within date range
        in: query
        name: p_ysl
        schema:
          enum:
          - W
          - "N"
          - NV
          type: string
      - description: Number of years (1 to 5) since last facility inspection.  A value
          of 1 means that it has been inspected within the year.
        in: query
        name: p_ysly
        schema:
          enum:
          - "1"
          - "2"
          - "3"
          - "4"
          - "5"
          type: string
      - description: |-
          Facility Last Inspection Code Filter.  If left blank, both agencies are included.  Enter a value to limit results:
          - E = EPA
          - S = State
        in: query
        name: p_ysla
        schema:
          enum:
          - E
          - S
          - A
          type: string
      - description: Beginning of date range of most recent facility inspection.
        in: query
        name: p_idt1
        schema:
          type: string
      - description: End of date range of most recent facility inspection.
        in: query
        name: p_idt2
        schema:
          type: string
      - in: query
        name: p_cms_flag
        schema:
          type: string
      - description: "Query Limiter.  Enter a value to limit the number of records\
          \ returned for each query. Value cannot exceed 70,000."
        in: query
        name: queryset
        schema:
          type: number
      - description: "Response Set Limiter. Enter a value to limit the number of records\
          \ per page. Value cannot exceed 1,000."
        in: query
        name: responseset
        schema:
          type: number
      - description: JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter
          a name of the function in which to wrap the JSON response.
        in: query
        name: callback
        schema:
          type: string
      - description: Used to customize service output.  A list of comma-separated
          column IDs of output objects that will be returned in the service query
          object or download.  Use the metadata service endpoint for a complete list
          of Ids and definitions.
        in: query
        name: qcolumns
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_sdw_rest_services_get_systems_get_200_response'
            application/xml:
              schema:
                $ref: '#/components/schemas/_sdw_rest_services_get_systems_get_200_response'
          description: Returns an array of public water systems that meet the specified
            search criteria.
      summary: Safe Drinking Water Act (SDWA) Systems Search Service
      tags:
      - Safe Drinking Water
      x-accepts:
      - application/json
      - application/xml
    post:
      description: Returns an array of public water systems that meet the specified
        search criteria.
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/_sdw_rest_services_get_systems_post_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_sdw_rest_services_get_systems_get_200_response'
            application/xml:
              schema:
                $ref: '#/components/schemas/_sdw_rest_services_get_systems_get_200_response'
          description: Returns an array of public water systems that meet the specified
            search criteria.
      summary: Safe Drinking Water Act (SDWA) Systems Search Service
      tags:
      - Safe Drinking Water
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
      - application/xml
  /sdw_rest_services.metadata:
    get:
      description: Returns the JSON Object Name and ColumnId for usage with the qcolumns
        parameter for get_systems endpoint.
      parameters:
      - description: "Output Format Flag.  Enter one of the following keywords:\n\
          - JSON = Data model formatted as Javascript Object Notation (default).\n\
          - JSONP = Data model formatted as Javascript Object Notation with Padding.\
          \  \n- XML = Data model formatted as Extensible Markup Language."
        in: query
        name: output
        schema:
          enum:
          - JSONP
          - JSON
          - XML
          type: string
      - description: JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter
          a name of the function in which to wrap the JSON response.
        in: query
        name: callback
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_sdw_rest_services_metadata_get_200_response'
            application/xml:
              schema:
                $ref: '#/components/schemas/_sdw_rest_services_metadata_get_200_response'
          description: Results are an array of columns/objects.
      summary: Safe Drinking Water Act (SDWA) Metadata Service
      tags:
      - Metadata
      x-accepts:
      - application/json
      - application/xml
    post:
      description: Returns the JSON Object Name and ColumnId for usage with the qcolumns
        parameter for get_systems endpoint.
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/_sdw_rest_services_metadata_post_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_sdw_rest_services_metadata_get_200_response'
            application/xml:
              schema:
                $ref: '#/components/schemas/_sdw_rest_services_metadata_get_200_response'
          description: Results are an array of columns/objects.
      summary: Safe Drinking Water Act (SDWA) Metadata Service
      tags:
      - Metadata
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
      - application/xml
components:
  parameters:
    q.callback:
      description: JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter
        a name of the function in which to wrap the JSON response.
      in: query
      name: callback
      schema:
        type: string
    q.descending:
      description: Output Sort Column Descending Flag.  Enter Y to column identified
        in the newsort parameter descending.  Enter N to use ascending sort order.
        Used only when newsort parameter is populated.
      in: query
      name: descending
      schema:
        enum:
        - "Y"
        - "N"
        type: string
    q.newsort:
      description: Output Sort Column.  Enter the number of the column on which the
        data will be sorted. If unpopulated results will sort on the first column.
      in: query
      name: newsort
      schema:
        type: number
    q.p_act:
      description: Active Permits/Facilities Flag.  Provide Y or N to filter results
        to facilities with active permits.
      in: query
      name: p_act
      schema:
        enum:
        - "Y"
        - "N"
        - A
        type: string
    q.p_cms_flag:
      in: query
      name: p_cms_flag
      schema:
        type: string
    q.p_cntysv:
      in: query
      name: p_cntysv
      schema:
        type: string
    q.p_co:
      description: Facility County Filter. Provide a single county name in combination
        with a state value provided via p_st.
      in: query
      name: p_co
      schema:
        type: string
    q.p_cs:
      description: |-
        Current violations:
        - M = Monitoring and Reporting Violations
        - H = Health-based Violations
        - O = Other Violations
        - P = Public Notice Violations
        - S = Serious Violator
        - N = No Violations
        May contain multiple comma-separated values.
      in: query
      name: p_cs
      schema:
        type: string
    q.p_ct:
      description: Facility City Filter. Enter a single case-insensitive city name
        to filter results.
      in: query
      name: p_ct
      schema:
        type: string
    q.p_cuale:
      description: Copper Action Level Exceedance.  A "Y" value will select water
        systems with at least 1 Copper Action Level Exceedance.
      in: query
      name: p_cuale
      schema:
        type: string
    q.p_cuv:
      description: Copper Violation.  A "Y" value will select water systems with at
        least 1 Copper Violation.
      in: query
      name: p_cuv
      schema:
        type: string
    q.p_fea:
      description: |-
        Formal Enforcement Actions [within / not within] specified date range indicator. The date range is determined by parameters p_fead1 and p_fead2 or by parameter p_feay.
        - W = within date range
        - N = not within date range
      in: query
      name: p_fea
      schema:
        enum:
        - W
        - "N"
        type: string
    q.p_feaa:
      description: |-
        Agency associated with Formal Enforcement Actions:
        - E = EPA
        - S = State
        - A = All
      in: query
      name: p_feaa
      schema:
        enum:
        - A
        - E
        - S
        type: string
    q.p_feay:
      description: Years (1 to 5) Range.  This value is used to create a date range
        for Formal Enforcement Actions (FEA). Used along with p_fea (which indicates
        whether to look within or outside of the date range) to find FEAs within (or
        not within) the number of years specified.
      in: query
      name: p_feay
      schema:
        enum:
        - 1
        - 2
        - 3
        - 4
        - 5
        type: number
    q.p_fips:
      description: "FIPS Code Filter.  Enter a single 5-character Federal Information\
        \ Processing Standards (FIPS) state + county value to restrict results.  E.g.\
        \ to limit results to Kenosha County, Wisconsin, use 55059."
      in: query
      name: p_fips
      schema:
        type: string
    q.p_fn:
      description: Facility Name Filter. Enter one or more case-insensitive facility
        names to filter results.  Provide multiple values as a comma-delimited list.  See
        p_fntype for additional modifiers.
      in: query
      name: p_fn
      schema:
        type: string
    q.p_health:
      description: "Violations of health-based drinking water standards (maximum contaminant\
        \ levels, maximum residual disinfectant levels, or treatment technique rules)."
      in: query
      name: p_health
      schema:
        enum:
        - "Y"
        - "N"
        type: string
    q.p_ico:
      description: Indian Country Flag.  Enter a "Y" or "N" to restrict searches to
        facilities inside or outside Indian Country.
      in: query
      name: p_ico
      schema:
        enum:
        - "Y"
        - "N"
        type: string
    q.p_idt1:
      description: Beginning of date range of most recent facility inspection.
      in: query
      name: p_idt1
      schema:
        type: string
    q.p_idt2:
      description: End of date range of most recent facility inspection.
      in: query
      name: p_idt2
      schema:
        type: string
    q.p_iea:
      description: |-
        Informal Enforcement Actions [within / not within] specified date range.  The date range is determined by parameters p_iead1 and p_iead2 or by parameter p_ieay.
        - W = within date range
        - N = not within date range
      in: query
      name: p_iea
      schema:
        enum:
        - W
        - "N"
        type: string
    q.p_ieaa:
      description: |-
        Agency associated with Informal Enforcement Actions. If left blank, both agencies are included.
        - E = EPA
        - S = State
      in: query
      name: p_ieaa
      schema:
        enum:
        - E
        - S
        type: string
    q.p_ieay:
      description: Years (1 to 5) Range.  This value is used to create a date range
        for Informal Enforcement Actions (IEA). Used along with p_iea (which indicates
        whether to look within or outside of the date range) to find IEAs within (or
        not within) the number of years specified.
      in: query
      name: p_ieay
      schema:
        enum:
        - 1
        - 2
        - 3
        - 4
        - 5
        type: number
    q.p_lcrv:
      description: Lead or Copper rule violations.  A "Y" value will select water
        systems with at least 1 Lead or Copper Rule Violation.
      in: query
      name: p_lcrv
      schema:
        type: string
    q.p_mr:
      description: Monitoring and Reporting Violations (failure to conduct regular
        monitoring of drinking water quality or submit monitoring results in a timely
        fashion).
      in: query
      name: p_mr
      schema:
        enum:
        - "Y"
        - "N"
        type: string
    q.p_other:
      description: "Other violations, such as failing to issue annual consumer confidence\
        \ reports or maintain required records."
      in: query
      name: p_other
      schema:
        enum:
        - "Y"
        - "N"
        type: string
    q.p_owop:
      description: |-
        Owner/Operator code filter.  Enter one of the following codes to filter results:
        - F = Federal Government
        - S = State Government
        - L = Local Government
        - M = Public/Private
        - N = Native American
        - P = Private
      in: query
      name: p_owop
      schema:
        enum:
        - F
        - S
        - L
        - M
        - "N"
        - P
        type: string
    q.p_pbale:
      description: Lead Action Level Exceedance.  A "Y" value will select water systems
        with at least 1 Lead Action Level Exceedance.
      in: query
      name: p_pbale
      schema:
        type: string
    q.p_pbv:
      description: Lead Violations.  A "Y" value will select water systems with at
        least 1 Lead Violation.
      in: query
      name: p_pbv
      schema:
        type: string
    q.p_pfead1:
      description: Formal Enforcement Action Date Range Start.  Enter a date in MM/DD/YYYY
        format to set the start of the range for filtering by recent Formal Enforcement
        Action (FEA) taken against the facility within the last five years.
      in: query
      name: p_pfead1
      schema:
        type: string
    q.p_pfead2:
      description: Formal Enforcement Action Date Range End.  Enter a date in MM/DD/YYYY
        format to set the end of the date range for filtering by recent Formal Enforcement
        Action (FEA) taken against the facility within the last five years.
      in: query
      name: p_pfead2
      schema:
        type: string
    q.p_pfeat:
      description: Formal Enforcement Action (FEA) Code Filter.  Enter one or more
        three-letter FEA codes to restrict results to facilities with these attributes.  Use
        p_fead1 and p_fead2 parameters to further restrict this filter by entering
        a date range.  Provide multiple codes as a comma-delimited list.
      in: query
      name: p_pfeat
      schema:
        type: string
    q.p_pid:
      description: Nine-digit permit IDs. May contain up to 2000 comma-separated values.
      in: query
      name: p_pid
      schema:
        type: string
    q.p_pn:
      description: Public Notice Violations (failure to immediately alert consumers
        of serious problem with drinking water).
      in: query
      name: p_pn
      schema:
        enum:
        - "Y"
        - "N"
        type: string
    q.p_popsv:
      description: |-
        Estimated average daily population served by a system:
        - LE500 = 500 or less
        - IN501_3K = 501-3,300
        - IN3K_10K = 3,301-10,000
        - IN10K_100K = 10,001-100,000
        - IN100K_1M = 100,001-1,000,000
        - GT1M = More than 1,000,000
        May contain multiple comma-separated values.
      in: query
      name: p_popsv
      schema:
        type: string
    q.p_pswpol:
      description: "For CWA, pollutant names for surface water discharges. for Drinking\
        \ Water, SDWIS Violation contaminant codes for unaddressed violations that\
        \ have occurred in the last 3 years. May contain multiple comma-separated\
        \ values."
      in: query
      name: p_pswpol
      schema:
        type: string
    q.p_pswvio:
      description: "Used in conjuction with parameters p_pswpol and p_pswparam, indicates\
        \ whether search should only include pollutants with violations."
      in: query
      name: p_pswvio
      schema:
        enum:
        - "Y"
        - "N"
        type: string
    q.p_qis:
      description: |-
        Significant Quarters in Noncompliance Limiter.  Enter one of the following codes to limit results to facilities having given quarters of noncompliance.
        - Z = Zero quarters in noncompliance.
        - GE1 = One or more quarters in noncompliance.
        - GT1 = More than one quarters in noncompliance.
        - GE2 = Two or more quarters in noncompliance.
        - GT2 = More than two quarters in noncompliance.
        - GE4 = Four or more quarters in noncompliance.
        - GT4 = More than four quarters in noncompliance.
        - GE8 = Eight or more quarters in noncompliance.
        - GT8 = More than eight quarters in noncompliance.
        - GE12 = Twelve or more quarters in noncompliance.
        - GT12 = Twelve or more quarters in noncompliance.
        - 12 = Exactly twelve quarters in noncompliance.
        Note the seemingly incongruous of GT12 is deliberate.
      in: query
      name: p_qis
      schema:
        enum:
        - Z
        - GE1
        - GT1
        - GE2
        - GT2
        - GE4
        - GT4
        - GE8
        - GT8
        - GE12
        - GT12
        - "12"
        type: string
    q.p_qiv:
      description: |-
        Quarters in Noncompliance Limiter.  Enter a coded value to limit results to facilities with given quarter of noncompliance.
        - Z = Zero quarters in noncompliance.
        - GEXX = Replacing XX with a numeric value, that number of quarterd or more in noncompliance.
        - GTXX = Replacing XX with a numeric value, more than that number of quarters in noncompliance.
      in: query
      name: p_qiv
      schema:
        enum:
        - "0"
        - GT1
        - GT2
        - GT4
        - GT8
        - "12"
        type: string
    q.p_qs:
      description: "Quick Search. Allows entry for city, state, and/or zip code."
      in: query
      name: p_qs
      schema:
        type: string
    q.p_rc350v:
      description: Rule code 350 violation. A "Y" value will select water systems
        with at least one rule code 350 violation.
      in: query
      name: p_rc350v
      schema:
        type: string
    q.p_reg:
      description: EPA Region Filter. Provide a single value of 01 thru 10 to restrict
        results to a single EPA region.
      in: query
      name: p_reg
      schema:
        enum:
        - "01"
        - "02"
        - "03"
        - "04"
        - "05"
        - "06"
        - "07"
        - "08"
        - "09"
        - "10"
        type: string
    q.p_sdc:
      description: "Significant Deficiency Count (in past 5 years) flag.  \n\nEnter\
        \ \"Y\" to select facilities with Sanitary Surveys within the past 5 years.\
        \  \n\nEnter \"N\" to select facilities without Sanitary Surveys in the past\
        \ 5 years.\n\nEnter a number to search for facilities with a quantity greater\
        \ than or equal to that value."
      in: query
      name: p_sdc
      schema:
        type: string
    q.p_sdc_ils:
      in: query
      name: p_sdc_ils
      schema:
        type: string
    q.p_sfs:
      description: "Single Facility Search Filter.  Provide a facility name or program\
        \ system identifier to limit results.  For the all data search, the FRS registry\
        \ identifier is also searched."
      in: query
      name: p_sfs
      schema:
        type: string
    q.p_ss5yr:
      description: "Sanitary Surveys (in past 5 years) flag.  Values of visit_reason_code\
        \ are either \"SNSV\" or \"SNSP\" in the past 5 years indicate a Sanitary\
        \ Survey.  \n\nEnter \"Y\" to select facilities with Sanitary Surveys within\
        \ the past 5 years.  \n\nEnter \"N\" to select facilities without Sanitary\
        \ Surveys in the past 5 years.\n\nEnter a number to search for greater for\
        \ facilities with a quantity than or equal to that value.\n\n\n"
      in: query
      name: p_ss5yr
      schema:
        type: string
    q.p_st:
      description: Facility State and State-Equivalent Filter.  Provide one or more
        USPS postal abbreviations for states and state-equivalents to filter results.  Provide
        multiple values as a comma-delimited list.
      in: query
      name: p_st
      schema:
        type: string
    q.p_sv:
      description: "Serious Violator (unresolved serious, multiple, and/or continuing\
        \ violations). A value of Y will return only SDWIS systems that are Serious\
        \ Violators, while a value of N will only return SDWIS Systems that are not\
        \ Serious Violators."
      in: query
      name: p_sv
      schema:
        enum:
        - "Y"
        - "N"
        type: string
    q.p_swtyp:
      description: "Source Water Type:\n- SW = Surface water \n- GW= Ground water\n\
        - GU = Ground water under direct influence of (UDI) surface water\n- SWP =\
        \ Purchased Surface water\n- GWP = Purchased Ground water\n- GUP = Purchased\
        \ Ground water UDI surface water"
      in: query
      name: p_swtyp
      schema:
        enum:
        - SW
        - GW
        - GU
        - SWP
        - GWP
        - GUP
        type: string
    q.p_systyp:
      description: |-
        Type of public water system:
        - CWS=Community water system
        - NCWS=Non-community water system
        - NTCWS=Non-transient non-community water system
        - TNCWS=Transient non-community water system
      in: query
      name: p_systyp
      schema:
        enum:
        - CWS
        - NCWS
        - NTCWS
        - TNCWS
        type: string
    q.p_trb:
      description: Tribe name
      in: query
      name: p_trb
      schema:
        type: string
    q.p_ysl:
      description: |-
        Last Facility Inspection [within / not within] Specified Date Range Indicator. The date range is determined by parameters p_idt1 and p_idt2 or by parameter p_ysly.
        - W = within date range
        - N = not within date range
      in: query
      name: p_ysl
      schema:
        enum:
        - W
        - "N"
        - NV
        type: string
    q.p_ysla:
      description: |-
        Facility Last Inspection Code Filter.  If left blank, both agencies are included.  Enter a value to limit results:
        - E = EPA
        - S = State
      in: query
      name: p_ysla
      schema:
        enum:
        - E
        - S
        - A
        type: string
    q.p_ysly:
      description: Number of years (1 to 5) since last facility inspection.  A value
        of 1 means that it has been inspected within the year.
      in: query
      name: p_ysly
      schema:
        enum:
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        type: string
    q.p_zip:
      description: 5-Digit ZIP Code Filter. Provide one or more 5-digit postal zip
        codes to filter results.  May contain multiple comma-separated values.
      in: query
      name: p_zip
      schema:
        type: string
    q.pageno:
      description: Indicates the number of the page to display. It is used only when
        the results are paginated.
      in: query
      name: pageno
      schema:
        default: 1.0
        type: number
    q.qcolumns:
      description: Used to customize service output.  A list of comma-separated column
        IDs of output objects that will be returned in the service query object or
        download.  Use the metadata service endpoint for a complete list of Ids and
        definitions.
      in: query
      name: qcolumns
      schema:
        type: string
    q.qid:
      description: Query ID Selector.  Enter the QueryID number from a previously
        run query.
      in: query
      name: qid
      required: true
      schema:
        type: string
    q.queryset:
      description: "Query Limiter.  Enter a value to limit the number of records returned\
        \ for each query. Value cannot exceed 70,000."
      in: query
      name: queryset
      schema:
        type: number
    q.responseset:
      description: "Response Set Limiter. Enter a value to limit the number of records\
        \ per page. Value cannot exceed 1,000."
      in: query
      name: responseset
      schema:
        type: number
  schemas:
    formData_f.callback:
      description: JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter
        a name of the function in which to wrap the JSON response.
      type: string
    formData_f.descending:
      description: Output Sort Column Descending Flag.  Enter Y to column identified
        in the newsort parameter descending.  Enter N to use ascending sort order.
        Used only when newsort parameter is populated.
      enum:
      - "Y"
      - "N"
      type: string
    formData_f.newsort:
      description: Output Sort Column.  Enter the number of the column on which the
        data will be sorted. If unpopulated results will sort on the first column.
      type: number
    formData_f.p_act:
      description: Active Permits/Facilities Flag.  Provide Y or N to filter results
        to facilities with active permits.
      enum:
      - "Y"
      - "N"
      - A
      type: string
    formData_f.p_cms_flag:
      type: string
    formData_f.p_cntysv:
      type: string
    formData_f.p_co:
      description: Facility County Filter. Provide a single county name in combination
        with a state value provided via p_st.
      type: string
    formData_f.p_cs:
      description: |-
        Current violations:
        - M = Monitoring and Reporting Violations
        - H = Health-based Violations
        - O = Other Violations
        - P = Public Notice Violations
        - S = Serious Violator
        - N = No Violations
        May contain multiple comma-separated values.
      type: string
    formData_f.p_ct:
      description: Facility City Filter. Enter a single case-insensitive city name
        to filter results.
      type: string
    formData_f.p_cuale:
      description: Copper Action Level Exceedance.  A "Y" value will select water
        systems with at least 1 Copper Action Level Exceedance.
      type: string
    formData_f.p_cuv:
      description: Copper Violation.  A "Y" value will select water systems with at
        least 1 Copper Violation.
      type: string
    formData_f.p_fea:
      description: |-
        Formal Enforcement Actions [within / not within] specified date range indicator. The date range is determined by parameters p_fead1 and p_fead2 or by parameter p_feay.
        - W = within date range
        - N = not within date range
      enum:
      - W
      - "N"
      type: string
    formData_f.p_feaa:
      description: |-
        Agency associated with Formal Enforcement Actions:
        - E = EPA
        - S = State
        - A = All
      enum:
      - A
      - E
      - S
      type: string
    formData_f.p_feay:
      description: Years (1 to 5) Range.  This value is used to create a date range
        for Formal Enforcement Actions (FEA). Used along with p_fea (which indicates
        whether to look within or outside of the date range) to find FEAs within (or
        not within) the number of years specified.
      enum:
      - "1"
      - "2"
      - "3"
      - "4"
      - "5"
      type: number
    formData_f.p_fips:
      description: "FIPS Code Filter.  Enter a single 5-character Federal Information\
        \ Processing Standards (FIPS) state + county value to restrict results.  E.g.\
        \ to limit results to Kenosha County, Wisconsin, use 55059."
      type: string
    formData_f.p_fn:
      description: Facility Name Filter. Enter one or more case-insensitive facility
        names to filter results.  Provide multiple values as a comma-delimited list.  See
        p_fntype for additional modifiers.
      type: string
    formData_f.p_health:
      description: "Violations of health-based drinking water standards (maximum contaminant\
        \ levels, maximum residual disinfectant levels, or treatment technique rules)."
      enum:
      - "Y"
      - "N"
      type: string
    formData_f.p_ico:
      description: Indian Country Flag.  Enter a "Y" or "N" to restrict searches to
        facilities inside or outside Indian Country.
      enum:
      - "Y"
      - "N"
      type: string
    formData_f.p_idt1:
      description: Beginning of date range of most recent facility inspection.
      type: string
    formData_f.p_idt2:
      description: End of date range of most recent facility inspection.
      type: string
    formData_f.p_iea:
      description: |-
        Informal Enforcement Actions [within / not within] specified date range.  The date range is determined by parameters p_iead1 and p_iead2 or by parameter p_ieay.
        - W = within date range
        - N = not within date range
      enum:
      - W
      - "N"
      type: string
    formData_f.p_ieaa:
      description: |-
        Agency associated with Informal Enforcement Actions. If left blank, both agencies are included.
        - E = EPA
        - S = State
      enum:
      - E
      - S
      type: string
    formData_f.p_ieay:
      description: Years (1 to 5) Range.  This value is used to create a date range
        for Informal Enforcement Actions (IEA). Used along with p_iea (which indicates
        whether to look within or outside of the date range) to find IEAs within (or
        not within) the number of years specified.
      enum:
      - "1"
      - "2"
      - "3"
      - "4"
      - "5"
      type: number
    formData_f.p_lcrv:
      description: Lead or Copper rule violations.  A "Y" value will select water
        systems with at least 1 Lead or Copper Rule Violation.
      type: string
    formData_f.p_mr:
      description: Monitoring and Reporting Violations (failure to conduct regular
        monitoring of drinking water quality or submit monitoring results in a timely
        fashion).
      enum:
      - "Y"
      - "N"
      type: string
    formData_f.p_other:
      description: "Other violations, such as failing to issue annual consumer confidence\
        \ reports or maintain required records."
      enum:
      - "Y"
      - "N"
      type: string
    formData_f.p_owop:
      description: |-
        Owner/Operator code filter.  Enter one of the following codes to filter results:
        - F = Federal Government
        - S = State Government
        - L = Local Government
        - M = Public/Private
        - N = Native American
        - P = Private
      enum:
      - F
      - S
      - L
      - M
      - "N"
      - P
      type: string
    formData_f.p_pbale:
      description: Lead Action Level Exceedance.  A "Y" value will select water systems
        with at least 1 Lead Action Level Exceedance.
      type: string
    formData_f.p_pbv:
      description: Lead Violations.  A "Y" value will select water systems with at
        least 1 Lead Violation.
      type: string
    formData_f.p_pfead1:
      description: Formal Enforcement Action Date Range Start.  Enter a date in MM/DD/YYYY
        format to set the start of the range for filtering by recent Formal Enforcement
        Action (FEA) taken against the facility within the last five years.
      type: string
    formData_f.p_pfead2:
      description: Formal Enforcement Action Date Range End.  Enter a date in MM/DD/YYYY
        format to set the end of the date range for filtering by recent Formal Enforcement
        Action (FEA) taken against the facility within the last five years.
      type: string
    formData_f.p_pfeat:
      description: Formal Enforcement Action (FEA) Code Filter.  Enter one or more
        three-letter FEA codes to restrict results to facilities with these attributes.  Use
        p_fead1 and p_fead2 parameters to further restrict this filter by entering
        a date range.  Provide multiple codes as a comma-delimited list.
      type: string
    formData_f.p_pid:
      description: Nine-digit permit IDs. May contain up to 2000 comma-separated values.
      type: string
    formData_f.p_pn:
      description: Public Notice Violations (failure to immediately alert consumers
        of serious problem with drinking water).
      enum:
      - "Y"
      - "N"
      type: string
    formData_f.p_popsv:
      description: |-
        Estimated average daily population served by a system:
        - LE500 = 500 or less
        - IN501_3K = 501-3,300
        - IN3K_10K = 3,301-10,000
        - IN10K_100K = 10,001-100,000
        - IN100K_1M = 100,001-1,000,000
        - GT1M = More than 1,000,000
        May contain multiple comma-separated values.
      type: string
    formData_f.p_pswpol:
      description: "For CWA, pollutant names for surface water discharges. for Drinking\
        \ Water, SDWIS Violation contaminant codes for unaddressed violations that\
        \ have occurred in the last 3 years. May contain multiple comma-separated\
        \ values."
      type: string
    formData_f.p_pswvio:
      description: "Used in conjuction with parameters p_pswpol and p_pswparam, indicates\
        \ whether search should only include pollutants with violations."
      enum:
      - "Y"
      - "N"
      type: string
    formData_f.p_qis:
      description: |-
        Significant Quarters in Noncompliance Limiter.  Enter one of the following codes to limit results to facilities having given quarters of noncompliance.
        - Z = Zero quarters in noncompliance.
        - GE1 = One or more quarters in noncompliance.
        - GT1 = More than one quarters in noncompliance.
        - GE2 = Two or more quarters in noncompliance.
        - GT2 = More than two quarters in noncompliance.
        - GE4 = Four or more quarters in noncompliance.
        - GT4 = More than four quarters in noncompliance.
        - GE8 = Eight or more quarters in noncompliance.
        - GT8 = More than eight quarters in noncompliance.
        - GE12 = Twelve or more quarters in noncompliance.
        - GT12 = Twelve or more quarters in noncompliance.
        - 12 = Exactly twelve quarters in noncompliance.
        Note the seemingly incongruous of GT12 is deliberate.
      enum:
      - Z
      - GE1
      - GT1
      - GE2
      - GT2
      - GE4
      - GT4
      - GE8
      - GT8
      - GE12
      - GT12
      - "12"
      type: string
    formData_f.p_qiv:
      description: |-
        Quarters in Noncompliance Limiter.  Enter a coded value to limit results to facilities with given quarter of noncompliance.
        - Z = Zero quarters in noncompliance.
        - GEXX = Replacing XX with a numeric value, that number of quarterd or more in noncompliance.
        - GTXX = Replacing XX with a numeric value, more than that number of quarters in noncompliance.
      enum:
      - "0"
      - GT1
      - GT2
      - GT4
      - GT8
      - "12"
      type: string
    formData_f.p_qs:
      description: "Quick Search. Allows entry for city, state, and/or zip code."
      type: string
    formData_f.p_rc350v:
      description: Rule code 350 violation. A "Y" value will select water systems
        with at least one rule code 350 violation.
      type: string
    formData_f.p_reg:
      description: EPA Region Filter. Provide a single value of 01 thru 10 to restrict
        results to a single EPA region.
      enum:
      - "01"
      - "02"
      - "03"
      - "04"
      - "05"
      - "06"
      - "07"
      - "08"
      - "09"
      - "10"
      type: string
    formData_f.p_sdc:
      description: "Significant Deficiency Count (in past 5 years) flag.  \n\nEnter\
        \ \"Y\" to select facilities with Sanitary Surveys within the past 5 years.\
        \  \n\nEnter \"N\" to select facilities without Sanitary Surveys in the past\
        \ 5 years.\n\nEnter a number to search for facilities with a quantity greater\
        \ than or equal to that value."
      type: string
    formData_f.p_sdc_ils:
      type: string
    formData_f.p_sfs:
      description: "Single Facility Search Filter.  Provide a facility name or program\
        \ system identifier to limit results.  For the all data search, the FRS registry\
        \ identifier is also searched."
      type: string
    formData_f.p_ss5yr:
      description: "Sanitary Surveys (in past 5 years) flag.  Values of visit_reason_code\
        \ are either \"SNSV\" or \"SNSP\" in the past 5 years indicate a Sanitary\
        \ Survey.  \n\nEnter \"Y\" to select facilities with Sanitary Surveys within\
        \ the past 5 years.  \n\nEnter \"N\" to select facilities without Sanitary\
        \ Surveys in the past 5 years.\n\nEnter a number to search for greater for\
        \ facilities with a quantity than or equal to that value.\n\n\n"
      type: string
    formData_f.p_st:
      description: Facility State and State-Equivalent Filter.  Provide one or more
        USPS postal abbreviations for states and state-equivalents to filter results.  Provide
        multiple values as a comma-delimited list.
      type: string
    formData_f.p_sv:
      description: "Serious Violator (unresolved serious, multiple, and/or continuing\
        \ violations). A value of Y will return only SDWIS systems that are Serious\
        \ Violators, while a value of N will only return SDWIS Systems that are not\
        \ Serious Violators."
      enum:
      - "Y"
      - "N"
      type: string
    formData_f.p_swtyp:
      description: "Source Water Type:\n- SW = Surface water \n- GW= Ground water\n\
        - GU = Ground water under direct influence of (UDI) surface water\n- SWP =\
        \ Purchased Surface water\n- GWP = Purchased Ground water\n- GUP = Purchased\
        \ Ground water UDI surface water"
      enum:
      - SW
      - GW
      - GU
      - SWP
      - GWP
      - GUP
      type: string
    formData_f.p_systyp:
      description: |-
        Type of public water system:
        - CWS=Community water system
        - NCWS=Non-community water system
        - NTCWS=Non-transient non-community water system
        - TNCWS=Transient non-community water system
      enum:
      - CWS
      - NCWS
      - NTCWS
      - TNCWS
      type: string
    formData_f.p_trb:
      description: Tribe name
      type: string
    formData_f.p_ysl:
      description: |-
        Last Facility Inspection [within / not within] Specified Date Range Indicator. The date range is determined by parameters p_idt1 and p_idt2 or by parameter p_ysly.
        - W = within date range
        - N = not within date range
      enum:
      - W
      - "N"
      - NV
      type: string
    formData_f.p_ysla:
      description: |-
        Facility Last Inspection Code Filter.  If left blank, both agencies are included.  Enter a value to limit results:
        - E = EPA
        - S = State
      enum:
      - E
      - S
      - A
      type: string
    formData_f.p_ysly:
      description: Number of years (1 to 5) since last facility inspection.  A value
        of 1 means that it has been inspected within the year.
      enum:
      - "1"
      - "2"
      - "3"
      - "4"
      - "5"
      type: string
    formData_f.p_zip:
      description: 5-Digit ZIP Code Filter. Provide one or more 5-digit postal zip
        codes to filter results.  May contain multiple comma-separated values.
      type: string
    formData_f.pageno:
      default: 1.0
      description: Indicates the number of the page to display. It is used only when
        the results are paginated.
      type: number
    formData_f.qcolumns:
      description: Used to customize service output.  A list of comma-separated column
        IDs of output objects that will be returned in the service query object or
        download.  Use the metadata service endpoint for a complete list of Ids and
        definitions.
      type: string
    formData_f.qid:
      description: Query ID Selector.  Enter the QueryID number from a previously
        run query.
      type: string
    formData_f.queryset:
      description: "Query Limiter.  Enter a value to limit the number of records returned\
        \ for each query. Value cannot exceed 70,000."
      type: number
    formData_f.responseset:
      description: "Response Set Limiter. Enter a value to limit the number of records\
        \ per page. Value cannot exceed 1,000."
      type: number
    meta1:
      description: Results Object
      example:
        Message: Success
        ResultColumns:
        - ColumnID: ColumnID
          ColumnName: ColumnName
          Description: Description
          DataLength: "10"
          DataType: NUMBER
          ObjectName: CaseName
        - ColumnID: ColumnID
          ColumnName: ColumnName
          Description: Description
          DataLength: "10"
          DataType: NUMBER
          ObjectName: CaseName
      properties:
        Message:
          description: Field to record messages (typically performance-related) about
            packet processing
          example: Success
          title: Message
          type: string
        ResultColumns:
          items:
            $ref: '#/components/schemas/meta3'
          title: Result Columns
          type: array
          xml:
            name: ResultColumns
            wrapped: true
      required:
      - Message
      type: object
    meta3:
      description: Results Column Object
      example:
        ColumnID: ColumnID
        ColumnName: ColumnName
        Description: Description
        DataLength: "10"
        DataType: NUMBER
        ObjectName: CaseName
      properties:
        ColumnID:
          title: Column ID
          type: string
        ColumnName:
          title: Column Name
          type: string
        DataLength:
          description: Data length for EPA program database column.
          example: "10"
          title: Data Length
          type: string
        DataType:
          description: Data type for EPA program database column.
          example: NUMBER
          title: Data Type
          type: string
        Description:
          title: Column Description
          type: string
        ObjectName:
          description: The JSON name used for the database column.
          example: CaseName
          title: Object Name
          type: string
      required:
      - ColumnID
      - ColumnName
      - DataLength
      - DataType
      - Description
      - ObjectName
      type: object
      xml:
        name: ResultColumn
    sdw02:
      description: Results Object
      example:
        WaterSystems:
        - SignificantDeficiencyCountIls: SignificantDeficiencyCountIls
          SignificantDeficiencyCount: "3"
          RulesVio3yr: "5"
          CountiesServed: ALEXANDRIA
          ViolationCategories: ViolationCategories
          SiteVisits5yrAll: SiteVisits5yrAll
          OtherFlag: "Y"
          PrimarySourceDesc: Surface water
          PbViol: "1"
          SDWDateLastFea: 1/27/2013
          Rc350Viol: "2"
          PWSTypeDesc: Transient non-community system
          PnFlag: "Y"
          CurrVioFlag: "0"
          MrFlag: "Y"
          QtrsWithSNC: "0"
          SDWDateLastIeaSt: 7/17/2010
          SiteVisits5yrInspections: SiteVisits5yrInspections
          Vioremain: "4"
          SeriousViolator: "false"
          FIPSCodes: "51033"
          FeaFlag: "1"
          Sansurvey5yr: "5"
          RulesVio: "0"
          PWSActivityCode: A
          CitiesServed: CAROLINE
          ServiceAreaTypeDesc: ServiceAreaTypeDesc
          OwnerDesc: Local Government
          PWSTypeCode: TNCWS
          SDWA3yrComplQtrsHistory: ____SS__VVUU
          Viortcnofea: "2"
          NewVioFlg: "false"
          Ifea: "3"
          Viortcfea: "6"
          PbAle: PbAle
          ZipCodesServed: "22302"
          LeadAndCopperViol: "4"
          PopulationServedCount: "34"
          SNCFlag: "0"
          OwnerTypeCode: P
          IeaFlag: "1"
          PWSActivityDesc: Active
          PWSName: ARBOR CHRISTIAN HOME
          SNC: In Violation
          DateLastSansurvey: DateLastSansurvey
          VioFlag: "0"
          CuAle: "4"
          SDWDateLastFeaSt: 2/19/2010
          QtrsWithVio: "0"
          SDWDateLastIea: 6/30/2008
          Viopaccr: "12"
          MaxScore: "1"
          SDWAContaminantsInViol3yr: 2456=Total Haloacetic Acids (HAA5); 7500=Public
            Notice
          ServiceAreaTypeCode: ServiceAreaTypeCode
          SDWDateLastVisit: 4/11/2013
          TRIbalFlag: "1"
          RegistryID: "110020837601"
          SDWAContaminants: SDWAContaminants
          SDWAContaminantsInCurViol: 7500=Public Notice
          DfrUrl: DfrUrl
          StateCode: VA
          GwSwCode: GW
          SDWDateLastVisitState: 4/11/2013
          Insp5yrFlag: "1"
          SDWDateLastVisitEPA: 4/11/2013
          CuViol: "2"
          SDWDateLastFeaEPA: 4/5/2011
          HealthFlag: "Y"
          Feas: "2"
          SDWDateLastIeaEPA: 4/11/2013
          PrimarySourceCode: SW
          PWSId: VA0033235
          EPARegion: "04"
          SiteVisits5yrOther: SiteVisits5yrOther
          IndianCountry: "N"
          Viofeanot: "1"
          SDWDateLastVisitLocal: 4/11/2013
        - SignificantDeficiencyCountIls: SignificantDeficiencyCountIls
          SignificantDeficiencyCount: "3"
          RulesVio3yr: "5"
          CountiesServed: ALEXANDRIA
          ViolationCategories: ViolationCategories
          SiteVisits5yrAll: SiteVisits5yrAll
          OtherFlag: "Y"
          PrimarySourceDesc: Surface water
          PbViol: "1"
          SDWDateLastFea: 1/27/2013
          Rc350Viol: "2"
          PWSTypeDesc: Transient non-community system
          PnFlag: "Y"
          CurrVioFlag: "0"
          MrFlag: "Y"
          QtrsWithSNC: "0"
          SDWDateLastIeaSt: 7/17/2010
          SiteVisits5yrInspections: SiteVisits5yrInspections
          Vioremain: "4"
          SeriousViolator: "false"
          FIPSCodes: "51033"
          FeaFlag: "1"
          Sansurvey5yr: "5"
          RulesVio: "0"
          PWSActivityCode: A
          CitiesServed: CAROLINE
          ServiceAreaTypeDesc: ServiceAreaTypeDesc
          OwnerDesc: Local Government
          PWSTypeCode: TNCWS
          SDWA3yrComplQtrsHistory: ____SS__VVUU
          Viortcnofea: "2"
          NewVioFlg: "false"
          Ifea: "3"
          Viortcfea: "6"
          PbAle: PbAle
          ZipCodesServed: "22302"
          LeadAndCopperViol: "4"
          PopulationServedCount: "34"
          SNCFlag: "0"
          OwnerTypeCode: P
          IeaFlag: "1"
          PWSActivityDesc: Active
          PWSName: ARBOR CHRISTIAN HOME
          SNC: In Violation
          DateLastSansurvey: DateLastSansurvey
          VioFlag: "0"
          CuAle: "4"
          SDWDateLastFeaSt: 2/19/2010
          QtrsWithVio: "0"
          SDWDateLastIea: 6/30/2008
          Viopaccr: "12"
          MaxScore: "1"
          SDWAContaminantsInViol3yr: 2456=Total Haloacetic Acids (HAA5); 7500=Public
            Notice
          ServiceAreaTypeCode: ServiceAreaTypeCode
          SDWDateLastVisit: 4/11/2013
          TRIbalFlag: "1"
          RegistryID: "110020837601"
          SDWAContaminants: SDWAContaminants
          SDWAContaminantsInCurViol: 7500=Public Notice
          DfrUrl: DfrUrl
          StateCode: VA
          GwSwCode: GW
          SDWDateLastVisitState: 4/11/2013
          Insp5yrFlag: "1"
          SDWDateLastVisitEPA: 4/11/2013
          CuViol: "2"
          SDWDateLastFeaEPA: 4/5/2011
          HealthFlag: "Y"
          Feas: "2"
          SDWDateLastIeaEPA: 4/11/2013
          PrimarySourceCode: SW
          PWSId: VA0033235
          EPARegion: "04"
          SiteVisits5yrOther: SiteVisits5yrOther
          IndianCountry: "N"
          Viofeanot: "1"
          SDWDateLastVisitLocal: 4/11/2013
        Message: Success
        QueryID: "245"
        PageNo: "1"
        QueryRows: "5"
      properties:
        Message:
          description: Field to record messages (typically performance-related) about
            packet processing
          example: Success
          title: Message
          type: string
        PageNo:
          description: The number of pages of results returned
          example: "1"
          title: Page Number
          type: string
        QueryID:
          description: Sequential number assigned to entire search result
          example: "245"
          title: Query Identifier
          type: string
        QueryRows:
          description: Number of query results returned
          example: "5"
          title: Query Row Count
          type: string
        WaterSystems:
          items:
            $ref: '#/components/schemas/sdw04'
          title: Water Systems
          type: array
          xml:
            name: WaterSystems
            wrapped: true
      required:
      - Message
      - PageNo
      - QueryID
      - QueryRows
      type: object
    sdw03:
      description: Results Object
      example:
        V3Rows: "2"
        InfFEARows: "0"
        Message: Success
        BadSystemIDs: BadSystemIDs
        QueryID: "245"
        IndianCountryRows: "0"
        WaterSystems:
        - SignificantDeficiencyCountIls: SignificantDeficiencyCountIls
          SignificantDeficiencyCount: "3"
          RulesVio3yr: "5"
          CountiesServed: ALEXANDRIA
          ViolationCategories: ViolationCategories
          SiteVisits5yrAll: SiteVisits5yrAll
          OtherFlag: "Y"
          PrimarySourceDesc: Surface water
          PbViol: "1"
          SDWDateLastFea: 1/27/2013
          Rc350Viol: "2"
          PWSTypeDesc: Transient non-community system
          PnFlag: "Y"
          CurrVioFlag: "0"
          MrFlag: "Y"
          QtrsWithSNC: "0"
          SDWDateLastIeaSt: 7/17/2010
          SiteVisits5yrInspections: SiteVisits5yrInspections
          Vioremain: "4"
          SeriousViolator: "false"
          FIPSCodes: "51033"
          FeaFlag: "1"
          Sansurvey5yr: "5"
          RulesVio: "0"
          PWSActivityCode: A
          CitiesServed: CAROLINE
          ServiceAreaTypeDesc: ServiceAreaTypeDesc
          OwnerDesc: Local Government
          PWSTypeCode: TNCWS
          SDWA3yrComplQtrsHistory: ____SS__VVUU
          Viortcnofea: "2"
          NewVioFlg: "false"
          Ifea: "3"
          Viortcfea: "6"
          PbAle: PbAle
          ZipCodesServed: "22302"
          LeadAndCopperViol: "4"
          PopulationServedCount: "34"
          SNCFlag: "0"
          OwnerTypeCode: P
          IeaFlag: "1"
          PWSActivityDesc: Active
          PWSName: ARBOR CHRISTIAN HOME
          SNC: In Violation
          DateLastSansurvey: DateLastSansurvey
          VioFlag: "0"
          CuAle: "4"
          SDWDateLastFeaSt: 2/19/2010
          QtrsWithVio: "0"
          SDWDateLastIea: 6/30/2008
          Viopaccr: "12"
          MaxScore: "1"
          SDWAContaminantsInViol3yr: 2456=Total Haloacetic Acids (HAA5); 7500=Public
            Notice
          ServiceAreaTypeCode: ServiceAreaTypeCode
          SDWDateLastVisit: 4/11/2013
          TRIbalFlag: "1"
          RegistryID: "110020837601"
          SDWAContaminants: SDWAContaminants
          SDWAContaminantsInCurViol: 7500=Public Notice
          DfrUrl: DfrUrl
          StateCode: VA
          GwSwCode: GW
          SDWDateLastVisitState: 4/11/2013
          Insp5yrFlag: "1"
          SDWDateLastVisitEPA: 4/11/2013
          CuViol: "2"
          SDWDateLastFeaEPA: 4/5/2011
          HealthFlag: "Y"
          Feas: "2"
          SDWDateLastIeaEPA: 4/11/2013
          PrimarySourceCode: SW
          PWSId: VA0033235
          EPARegion: "04"
          SiteVisits5yrOther: SiteVisits5yrOther
          IndianCountry: "N"
          Viofeanot: "1"
          SDWDateLastVisitLocal: 4/11/2013
        - SignificantDeficiencyCountIls: SignificantDeficiencyCountIls
          SignificantDeficiencyCount: "3"
          RulesVio3yr: "5"
          CountiesServed: ALEXANDRIA
          ViolationCategories: ViolationCategories
          SiteVisits5yrAll: SiteVisits5yrAll
          OtherFlag: "Y"
          PrimarySourceDesc: Surface water
          PbViol: "1"
          SDWDateLastFea: 1/27/2013
          Rc350Viol: "2"
          PWSTypeDesc: Transient non-community system
          PnFlag: "Y"
          CurrVioFlag: "0"
          MrFlag: "Y"
          QtrsWithSNC: "0"
          SDWDateLastIeaSt: 7/17/2010
          SiteVisits5yrInspections: SiteVisits5yrInspections
          Vioremain: "4"
          SeriousViolator: "false"
          FIPSCodes: "51033"
          FeaFlag: "1"
          Sansurvey5yr: "5"
          RulesVio: "0"
          PWSActivityCode: A
          CitiesServed: CAROLINE
          ServiceAreaTypeDesc: ServiceAreaTypeDesc
          OwnerDesc: Local Government
          PWSTypeCode: TNCWS
          SDWA3yrComplQtrsHistory: ____SS__VVUU
          Viortcnofea: "2"
          NewVioFlg: "false"
          Ifea: "3"
          Viortcfea: "6"
          PbAle: PbAle
          ZipCodesServed: "22302"
          LeadAndCopperViol: "4"
          PopulationServedCount: "34"
          SNCFlag: "0"
          OwnerTypeCode: P
          IeaFlag: "1"
          PWSActivityDesc: Active
          PWSName: ARBOR CHRISTIAN HOME
          SNC: In Violation
          DateLastSansurvey: DateLastSansurvey
          VioFlag: "0"
          CuAle: "4"
          SDWDateLastFeaSt: 2/19/2010
          QtrsWithVio: "0"
          SDWDateLastIea: 6/30/2008
          Viopaccr: "12"
          MaxScore: "1"
          SDWAContaminantsInViol3yr: 2456=Total Haloacetic Acids (HAA5); 7500=Public
            Notice
          ServiceAreaTypeCode: ServiceAreaTypeCode
          SDWDateLastVisit: 4/11/2013
          TRIbalFlag: "1"
          RegistryID: "110020837601"
          SDWAContaminants: SDWAContaminants
          SDWAContaminantsInCurViol: 7500=Public Notice
          DfrUrl: DfrUrl
          StateCode: VA
          GwSwCode: GW
          SDWDateLastVisitState: 4/11/2013
          Insp5yrFlag: "1"
          SDWDateLastVisitEPA: 4/11/2013
          CuViol: "2"
          SDWDateLastFeaEPA: 4/5/2011
          HealthFlag: "Y"
          Feas: "2"
          SDWDateLastIeaEPA: 4/11/2013
          PrimarySourceCode: SW
          PWSId: VA0033235
          EPARegion: "04"
          SiteVisits5yrOther: SiteVisits5yrOther
          IndianCountry: "N"
          Viofeanot: "1"
          SDWDateLastVisitLocal: 4/11/2013
        Version: 'v2016-02-02 14:'
        FEARows: "1"
        INSPRows: "1"
        SVRows: "0"
        PageNo: "1"
        CVRows: "0"
        QueryRows: "5"
      properties:
        BadSystemIDs:
          description: Identifies which passed query system identifiers are invalid.
          type: string
        CVRows:
          description: Summary count of the number of CWA facilities or SDWA public
            drinking water systems with current violations.
          example: "0"
          type: string
        FEARows:
          description: Summary count of the number of facilities with a formal enforcement
            action in the past five years
          example: "1"
          type: string
        INSPRows:
          description: Number of facilities with insp_5yr_flag populated (CWP_DATE_LAST_INSPECTION)
          example: "1"
          type: string
        IndianCountryRows:
          description: Number of facilities with tribal_flag populated
          example: "0"
          title: Indian Country Row Count
          type: string
        InfFEARows:
          description: Number of facilities with infea_5yr_flag populated (INFORMAL_ENF_ACT_COUNT
            > 0)
          example: "0"
          type: string
        Message:
          description: Field to record messages (typically performance-related) about
            packet processing
          example: Success
          title: Message
          type: string
        PageNo:
          description: The number of pages of results returned
          example: "1"
          title: Page Number
          type: string
        QueryID:
          description: Sequential number assigned to entire search result
          example: "245"
          title: Query Identifier
          type: string
        QueryRows:
          description: Number of query results returned
          example: "5"
          title: Query Row Count
          type: string
        SVRows:
          description: Number of facilities with curr_sv_flag populated (CWP_STATUS
            = "Significant Violation")
          example: "0"
          title: Significant Violation Result Count
          type: string
        V3Rows:
          description: Number of facilities having one or more quarters in non-compliance
            (QNC) in the last three years
          example: "2"
          type: string
        Version:
          description: Version of the SDWA system service
          example: 'v2016-02-02 14:'
          title: Version
          type: string
        WaterSystems:
          items:
            $ref: '#/components/schemas/sdw04'
          title: Water Systems
          type: array
          xml:
            name: WaterSystems
            wrapped: true
      required:
      - BadSystemIDs
      - CVRows
      - FEARows
      - INSPRows
      - IndianCountryRows
      - InfFEARows
      - Message
      - PageNo
      - QueryID
      - QueryRows
      - SVRows
      - V3Rows
      - Version
      type: object
    sdw04:
      description: Safe Drinking Water Search Results Object
      example:
        SignificantDeficiencyCountIls: SignificantDeficiencyCountIls
        SignificantDeficiencyCount: "3"
        RulesVio3yr: "5"
        CountiesServed: ALEXANDRIA
        ViolationCategories: ViolationCategories
        SiteVisits5yrAll: SiteVisits5yrAll
        OtherFlag: "Y"
        PrimarySourceDesc: Surface water
        PbViol: "1"
        SDWDateLastFea: 1/27/2013
        Rc350Viol: "2"
        PWSTypeDesc: Transient non-community system
        PnFlag: "Y"
        CurrVioFlag: "0"
        MrFlag: "Y"
        QtrsWithSNC: "0"
        SDWDateLastIeaSt: 7/17/2010
        SiteVisits5yrInspections: SiteVisits5yrInspections
        Vioremain: "4"
        SeriousViolator: "false"
        FIPSCodes: "51033"
        FeaFlag: "1"
        Sansurvey5yr: "5"
        RulesVio: "0"
        PWSActivityCode: A
        CitiesServed: CAROLINE
        ServiceAreaTypeDesc: ServiceAreaTypeDesc
        OwnerDesc: Local Government
        PWSTypeCode: TNCWS
        SDWA3yrComplQtrsHistory: ____SS__VVUU
        Viortcnofea: "2"
        NewVioFlg: "false"
        Ifea: "3"
        Viortcfea: "6"
        PbAle: PbAle
        ZipCodesServed: "22302"
        LeadAndCopperViol: "4"
        PopulationServedCount: "34"
        SNCFlag: "0"
        OwnerTypeCode: P
        IeaFlag: "1"
        PWSActivityDesc: Active
        PWSName: ARBOR CHRISTIAN HOME
        SNC: In Violation
        DateLastSansurvey: DateLastSansurvey
        VioFlag: "0"
        CuAle: "4"
        SDWDateLastFeaSt: 2/19/2010
        QtrsWithVio: "0"
        SDWDateLastIea: 6/30/2008
        Viopaccr: "12"
        MaxScore: "1"
        SDWAContaminantsInViol3yr: 2456=Total Haloacetic Acids (HAA5); 7500=Public
          Notice
        ServiceAreaTypeCode: ServiceAreaTypeCode
        SDWDateLastVisit: 4/11/2013
        TRIbalFlag: "1"
        RegistryID: "110020837601"
        SDWAContaminants: SDWAContaminants
        SDWAContaminantsInCurViol: 7500=Public Notice
        DfrUrl: DfrUrl
        StateCode: VA
        GwSwCode: GW
        SDWDateLastVisitState: 4/11/2013
        Insp5yrFlag: "1"
        SDWDateLastVisitEPA: 4/11/2013
        CuViol: "2"
        SDWDateLastFeaEPA: 4/5/2011
        HealthFlag: "Y"
        Feas: "2"
        SDWDateLastIeaEPA: 4/11/2013
        PrimarySourceCode: SW
        PWSId: VA0033235
        EPARegion: "04"
        SiteVisits5yrOther: SiteVisits5yrOther
        IndianCountry: "N"
        Viofeanot: "1"
        SDWDateLastVisitLocal: 4/11/2013
      properties:
        CitiesServed:
          description: County
          example: CAROLINE
          type: string
        CountiesServed:
          description: City
          example: ALEXANDRIA
          title: City
          type: string
        CuAle:
          description: The count of occurrences when 90th percentile sample concentrations
            of copper exceeded the copper action level of 1.3 mg/L in the past five
            years.
          example: "4"
          title: Copper Action Level Exceedances (5 years)
          type: string
        CuViol:
          description: The number of copper violations in the last five years.
          example: "2"
          title: Copper Violation
          type: string
        CurrVioFlag:
          description: Indicates if the facility has a current violation. 1 = Yes
          example: "0"
          title: Current Violation Flag
          type: string
        DateLastSansurvey:
          type: string
        DfrUrl:
          description: The URL to the facility's Detailed Facility Report.
          title: DFR URL
          type: string
        EPARegion:
          description: The EPA region in which the facility is located
          example: "04"
          title: EPA Region
          type: string
        FIPSCodes:
          description: "Five-character Federal Information Processing Standards (FIPS)\
            \ value: 2-character state || 3-character county"
          example: "51033"
          type: string
        FeaFlag:
          description: Number of formal enforcement responses during the past 5 years
            (20 most recent quarters) as of the last quarterly refresh.  Formal enforcement
            actions compel a PWS to take specific actions by specific dates to return
            to compliance
          example: "1"
          type: string
        Feas:
          description: Number of formal enforcement responses during the past 5 years
            (20 most recent quarters) as of the last quarterly refresh.  Formal enforcement
            actions compel a PWS to take specific actions by specific dates to return
            to compliance.
          example: "2"
          title: Formal Enforcement Actions
          type: string
        GwSwCode:
          description: Returns "GW" if the system�source water type is ground water.
            Returns "SW" if the system source water type is surface water.
          example: GW
          title: Ground Water/Surface Water Code
          type: string
        HealthFlag:
          description: Indicates whether system has violations of health-based drinking
            water standards
          example: "Y"
          title: Health Flag
          type: string
        IeaFlag:
          description: Returns 0 if the system does not have informal enforcement
            actions in the past five years. Returns 1 if the system does have informal
            enforcement actions in the past five years.
          example: "1"
          title: Informal Enforcement Action Flag
          type: string
        Ifea:
          description: Number of informal enforcement responses during the past 5
            years (20 most recent quarters) as of the last quarterly refresh.  Informal
            enforcement actions do not specify actions and deadlines for returning
            to compliance.
          example: "3"
          title: Informal Enforcement Actions
          type: string
        IndianCountry:
          description: Indicates whether the facility is located in Indian Country
          example: "N"
          title: Indian Country
          type: string
        Insp5yrFlag:
          description: Indicates if the facility has an inspection within the last
            5 years. 1 = Yes
          example: "1"
          title: Inspected Within Last Five Years Flag
          type: string
        LeadAndCopperViol:
          description: The number of lead and copper violations.
          example: "4"
          title: Lead and Copper Violation
          type: string
        MaxScore:
          description: A sorting score for internal use.
          example: "1"
          title: Max Score
          type: string
        MrFlag:
          description: Indicates whether system has monitoring and reporting violations
          example: "Y"
          type: string
        NewVioFlg:
          description: Violations that have been reported to SDWA since end of the
            last official quarter. These violations are considered draft and do not
            reflect the official compliance status for the facility.
          example: "false"
          title: Has New Violations
          type: string
        OtherFlag:
          description: "Indicates whether system has other violations, such as failing\
            \ to issue annual consumer confidence reports or maintain required records"
          example: "Y"
          title: Other Flag
          type: string
        OwnerDesc:
          description: Description of Owner code
          example: Local Government
          title: Owner Description
          type: string
        OwnerTypeCode:
          description: |-
            Owner/Operator:
            - P = Private
            - F = Federal Government
            - S = State Government
            - L = Local Government
          example: P
          title: Owner Type Code
          type: string
        PWSActivityCode:
          description: Indicates whether systems have an active or inactive designation.
          example: A
          title: PWS Activity Code
          type: string
        PWSActivityDesc:
          description: "Description of activity status code (ACT), e.g., active, inactive."
          example: Active
          title: PWS Activity Description
          type: string
        PWSId:
          description: "Unique identifying code for a public water system, consisting\
            \ of a two-letter state or region code, followed by seven digits"
          example: VA0033235
          title: Public Water System Identifier
          type: string
        PWSName:
          description: Name of the system regulated under the Safe Drinking Water
            Act (SDWA)
          example: ARBOR CHRISTIAN HOME
          title: System Name
          type: string
        PWSTypeCode:
          description: |-
            Type of public water system:
            - CWS   = Community water system
            - NCWS  = Non-community water system
            - NTCWS = Non-transient non-community water system
            - TNCWS = Transient non-community water system
          example: TNCWS
          title: System Type
          type: string
        PWSTypeDesc:
          description: "The type of public water system (PWS) and description of corresponding\
            \ SystemType code. A public water system is a system for the provision\
            \ to the public of piped water for human consumption, which has at least\
            \ 15 service connections or regularly serves a"
          example: Transient non-community system
          title: System Type Description
          type: string
        PbAle:
          description: The count of occurrences when 90th percentile sample concentrations
            of lead exceeded the lead action level of 0.015 mg/L in the past five
            years.
          title: Lead Action Level Exceedances (5 years)
          type: string
        PbViol:
          description: The number of lead violations in the last five years.
          example: "1"
          title: Lead Violation
          type: string
        PnFlag:
          description: Indicates whether system has Public Notice Violations (failure
            to immediately alert consumers of serious problem with drinking water)
          example: "Y"
          title: Public Notice Violation Flag
          type: string
        PopulationServedCount:
          description: Estimated average daily population served by a system
          example: "34"
          title: Population Served
          type: string
        PrimarySourceCode:
          description: |-
            The source water type:
            Surface water (SW) - Water pumped and treated from sources open to the atmosphere, such as rivers, lakes, and reservoirs.
            Ground water (GW) - Water pumped and treated from aquifers (natural reservoirs below the earth's surface).
            Ground water under direct influence of surface water (GU) - Any water pumped from natural reservoirs below the earth's surface that has been determined to be under the direct influence of surface water.
            Purchased (Surface, Ground, Ground UDI Surface) Water - Water purchased from a wholesaler who pumps and treats water.
          example: SW
          title: Primary Source Code
          type: string
        PrimarySourceDesc:
          description: |-
            The source water type:
            Surface water (SW) - Water pumped and treated from sources open to the atmosphere, such as rivers, lakes, and reservoirs.
            Ground water (GW) - Water pumped and treated from aquifers (natural reservoirs below the earth's surface).
            Ground water under direct influence of surface water (GU) - Any water pumped from natural reservoirs below the earth's surface that has been determined to be under the direct influence of surface water.
            Purchased (Surface, Ground, Ground UDI Surface) Water - Water purchased from a wholesaler who pumps and treats water.
          example: Surface water
          title: Primary Source Description
          type: string
        QtrsWithSNC:
          description: The number of quarters the system was designated by EPA as
            a serious violator over the past 3 years (12 most recent quarters).
          example: "0"
          title: Quarters with SNC
          type: string
        QtrsWithVio:
          description: The number of quarters the system was in violation over the
            past three years. This includes the 12 most recent official quarters and
            new violations reported after the end of the last official quarter.
          example: "0"
          title: Quarters with Violation
          type: string
        Rc350Viol:
          description: "The count of open health-based lead violations in the past\
            \ five years. These include violations of maximum contaminant levels (MCLs),\
            \ maximum residual disinfectant levels (MRDLs), or treatment technique\
            \ (TT) rules. This count includes new violations that have been reported\
            \ since the end of the last official quarter."
          example: "2"
          type: string
        RegistryID:
          description: An internal 12-digit Facility Registry Service (FRS) tracking
            number used to tie all facility data together in EPA regulatory program
            databases.
          example: "110020837601"
          title: FRS ID
          type: string
        RulesVio:
          description: "The count of rules the system is violating as of the latest\
            \ official quarter of data in the source system, SDWIS, which may lag\
            \ by 3-6 months. This includes violations in the most recent official\
            \ quarter and new violations reported after the end of the last official\
            \ quarter."
          example: "0"
          title: Rules Being Violated
          type: string
        RulesVio3yr:
          description: The count of rules the system was in violation of over the
            past three years. This includes the 12 most recent official quarters and
            new violations reported after the end of the last official quarter.
          example: "5"
          title: Rules In Violation (past 3 years)
          type: string
        SDWA3yrComplQtrsHistory:
          description: |-
            The system's 3-year compliance status history by quarter (3-month period). Each character represents a quarter of compliance, going from oldest to most recent. Character values correspond to the following compliance statuses:
            _ - No Violation Identified
            V - Noncompliance
            S - Significant Noncompliance
            U - Undetermined
          example: ____SS__VVUU
          title: SDWA 3-Year Compliance History
          type: string
        SDWAContaminants:
          description: All unresolved violation contaminants or violation contaminants
            that have been resolved in the last 5 years.
          title: SDWA Contaminants
          type: string
        SDWAContaminantsInCurViol:
          description: The contaminant name and code (in SDWIS) in violation of a
            SDWA regulation. This includes violations in the most recent official
            quarter and new violations that have been reported since the end of the
            last official quarter.
          example: 7500=Public Notice
[...]
