openapi: 3.0.0
info:
  contact:
    email: groundwater@gov.bc.ca
  description: "The groundwater wells, aquifers and registry API contains information\
    \ related to groundwater wells and aquifers as well as a register of qualified\
    \ well drillers and well pump installers registered to operate in B.C."
  license:
    name: Open Government License - British Columbia
    url: https://www2.gov.bc.ca/gov/content?id=A519A56BC2BF44E4A008B33FCF527F61
  termsOfService: http://www2.gov.bc.ca/gov/content?id=D1EE0A405E584363B205CD4353E02C88
  title: "Groundwater Wells, Aquifers and Registry API"
  version: v1
  x-apisguru-categories:
  - open_data
  x-logo:
    url: https://avatars1.githubusercontent.com/u/916280?v=3&s=200
  x-origin:
  - converter:
      url: https://github.com/mermade/oas-kit
      version: 7.0.4
    format: openapi
    url: https://raw.githubusercontent.com/bcgov/api-specs/master/gwells/gwells.json
    version: "3.0"
  x-providerName: gov.bc.ca
  x-serviceName: gwells
servers:
- url: https://apps.nrs.gov.bc.ca/gwells/api/v1/
security:
- Bearer: []
paths:
  /api-token-auth/: {}
  /aquifer-codes/demand/:
    get:
      description: return a list of aquifer demand codes
      operationId: aquifer-codes_demand_list
      parameters:
      - description: Number of results to return per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: The initial index from which to return the results.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aquifer_codes_demand_list_200_response'
          description: ""
      tags:
      - aquifer-codes
      x-accepts:
      - application/json
  /aquifer-codes/materials/:
    get:
      description: return a list of aquifer material codes
      operationId: aquifer-codes_materials_list
      parameters:
      - description: Number of results to return per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: The initial index from which to return the results.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aquifer_codes_materials_list_200_response'
          description: ""
      tags:
      - aquifer-codes
      x-accepts:
      - application/json
  /aquifer-codes/productivity/:
    get:
      description: return a list of aquifer productivity codes
      operationId: aquifer-codes_productivity_list
      parameters:
      - description: Number of results to return per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: The initial index from which to return the results.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aquifer_codes_productivity_list_200_response'
          description: ""
      tags:
      - aquifer-codes
      x-accepts:
      - application/json
  /aquifer-codes/quality-concerns/:
    get:
      description: return a list of quality concern codes
      operationId: aquifer-codes_quality-concerns_list
      parameters:
      - description: Number of results to return per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: The initial index from which to return the results.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aquifer_codes_quality_concerns_list_200_response'
          description: ""
      tags:
      - aquifer-codes
      x-accepts:
      - application/json
  /aquifer-codes/subtypes/:
    get:
      description: return a list of aquifer subtype codes
      operationId: aquifer-codes_subtypes_list
      parameters:
      - description: Number of results to return per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: The initial index from which to return the results.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aquifer_codes_subtypes_list_200_response'
          description: ""
      tags:
      - aquifer-codes
      x-accepts:
      - application/json
  /aquifer-codes/vulnerability/:
    get:
      description: return a list of aquifer vulnerability codes
      operationId: aquifer-codes_vulnerability_list
      parameters:
      - description: Number of results to return per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: The initial index from which to return the results.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aquifer_codes_vulnerability_list_200_response'
          description: ""
      tags:
      - aquifer-codes
      x-accepts:
      - application/json
  /aquifer-codes/water-use/:
    get:
      description: return a list of water use codes
      operationId: aquifer-codes_water-use_list
      parameters:
      - description: Number of results to return per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: The initial index from which to return the results.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aquifer_codes_water_use_list_200_response'
          description: ""
      tags:
      - aquifer-codes
      x-accepts:
      - application/json
  /aquifers/:
    get:
      description: return a list of aquifers
      operationId: aquifers_list
      parameters:
      - description: ""
        explode: true
        in: query
        name: aquifer_id
        required: false
        schema:
          type: number
        style: form
      - description: Which field to use when ordering the results.
        explode: true
        in: query
        name: ordering
        required: false
        schema:
          type: string
        style: form
      - description: A search term.
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: The initial index from which to return the results.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aquifers_list_200_response'
          description: ""
      tags:
      - aquifers
      x-accepts:
      - application/json
  /aquifers/names/:
    get:
      description: List all aquifers in a simplified format
      operationId: aquifers_names_list
      parameters:
      - description: A search term.
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AquiferSerializerBasic'
                type: array
          description: ""
      tags:
      - aquifers
      x-accepts:
      - application/json
  /aquifers/{aquifer_id}/:
    get:
      description: return details of aquifers
      operationId: aquifers_read
      parameters:
      - description: A unique integer value identifying this aquifer.
        explode: false
        in: path
        name: aquifer_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Aquifer'
          description: ""
      tags:
      - aquifers
      x-accepts:
      - application/json
  /aquifers/{aquifer_id}/files:
    get:
      description: list files found for the aquifer identified in the uri
      operationId: aquifers_files_list
      parameters:
      - explode: false
        in: path
        name: aquifer_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aquifers_files_list_200_response'
          description: OK
      tags:
      - aquifers
      x-accepts:
      - application/json
  /cities/drillers/:
    get:
      description: "returns a list of cities with a qualified, registered operator\
        \ (driller or installer)"
      operationId: cities_drillers_list
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CityList'
                type: array
          description: ""
      tags:
      - cities
      x-accepts:
      - application/json
  /cities/installers/:
    get:
      description: "returns a list of cities with a qualified, registered operator\
        \ (driller or installer)"
      operationId: cities_installers_list
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CityList'
                type: array
          description: ""
      tags:
      - cities
      x-accepts:
      - application/json
  /config:
    get:
      description: serves general configuration
      operationId: config_list
      responses:
        "200":
          description: ""
      tags:
      - config
      x-accepts:
      - application/json
  /drillers/:
    get:
      description: Returns a list of all person records
      operationId: drillers_list
      parameters:
      - description: A search term.
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: Which field to use when ordering the results.
        explode: true
        in: query
        name: ordering
        required: false
        schema:
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: The initial index from which to return the results.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PersonList'
                type: array
          description: ""
      tags:
      - drillers
      x-accepts:
      - application/json
  /drillers/names/:
    get:
      description: Search for a person in the Register
      operationId: drillers_names_list
      parameters:
      - description: A search term.
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PersonName'
                type: array
          description: ""
      tags:
      - drillers
      x-accepts:
      - application/json
  /drillers/options/: {}
  /drillers/{person_guid}/files/:
    get:
      description: list files found for the aquifer identified in the uri
      operationId: drillers_files_list
      parameters:
      - explode: false
        in: path
        name: person_guid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aquifers_files_list_200_response'
          description: OK
      tags:
      - drillers
      x-accepts:
      - application/json
  /keycloak:
    get:
      description: serves keycloak config
      operationId: keycloak_list
      responses:
        "200":
          description: ""
      tags:
      - keycloak
      x-accepts:
      - application/json
  /submissions/options/:
    get:
      description: Options required for submitting activity report forms
      operationId: submissions_options_list
      responses:
        "200":
          description: ""
      tags:
      - submissions
      x-accepts:
      - application/json
  /surveys/:
    get:
      description: returns a list of active surveys
      operationId: surveys_list
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Survey'
                type: array
          description: ""
      tags:
      - surveys
      x-accepts:
      - application/json
  /wells/:
    get:
      description: returns a list of wells
      operationId: wells_list
      parameters:
      - description: Number of results to return per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: The initial index from which to return the results.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/wells_list_200_response'
          description: ""
      tags:
      - wells
      x-accepts:
      - application/json
  /wells/extracts: {}
  /wells/tags/:
    get:
      description: seach for wells by tag or owner
      operationId: wells_tags_list
      parameters:
      - description: A search term.
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: Which field to use when ordering the results.
        explode: true
        in: query
        name: ordering
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/WellTagSearch'
                type: array
          description: ""
      tags:
      - wells
      x-accepts:
      - application/json
  /wells/{tag}/files:
    get:
      description: list files found for the well identified in the uri
      operationId: wells_files_list
      parameters:
      - explode: false
        in: path
        name: tag
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aquifers_files_list_200_response'
          description: OK
      tags:
      - wells
      x-accepts:
      - application/json
  /wells/{well_tag_number}:
    get:
      description: |-
        Return well detail.
        This view is open to all, and has no permissions.
      operationId: wells_read
      parameters:
      - description: A unique integer value identifying this well.
        explode: false
        in: path
        name: well_tag_number
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WellDetail'
          description: ""
      tags:
      - wells
      x-accepts:
      - application/json
components:
  schemas:
    ApplicationList:
      example:
        cert_authority: cert_authority
        qualifications:
        - well_class: well_class
          description: description
        - well_class: well_class
          description: description
        removal_date: 2000-01-23
        subactivity:
          description: description
          qualification_set:
          - well_class: well_class
            description: description
          - well_class: well_class
            description: description
          registries_subactivity_code: registries_subactivity_code
        certificate: certificate
        current_status:
          code: code
          description: description
        display_status: display_status
      properties:
        cert_authority:
          readOnly: true
          title: Cert authority
          type: string
        certificate:
          readOnly: true
          title: Certificate
          type: string
        current_status:
          $ref: '#/components/schemas/ApplicationStatusCode'
        display_status:
          readOnly: true
          title: Display status
          type: string
        qualifications:
          items:
            $ref: '#/components/schemas/Qualification'
          readOnly: true
          type: array
        removal_date:
          format: date
          title: Removal date
          type: string
        subactivity:
          $ref: '#/components/schemas/Subactivity'
      required:
      - subactivity
      type: object
    ApplicationStatusCode:
      example:
        code: code
        description: description
      properties:
        code:
          readOnly: true
          title: Code
          type: string
        description:
          maxLength: 100
          title: Description
          type: string
      required:
      - description
      title: Current status
      type: object
    Aquifer:
      example:
        area: area
        notes: notes
        productivity_description: productivity_description
        vulnerability: vulnerability
        vulnerability_description: vulnerability_description
        location_description: location_description
        demand: demand
        litho_stratographic_unit: litho_stratographic_unit
        known_water_use: known_water_use
        known_water_use_description: known_water_use_description
        subtype_description: subtype_description
        mapping_year: 1994
        aquifer_name: aquifer_name
        demand_description: demand_description
        material: material
        productivity: productivity
        subtype: subtype
        quality_concern_description: quality_concern_description
        aquifer_id: 6
        quality_concern: quality_concern
        material_description: material_description
      properties:
        aquifer_id:
          readOnly: true
          title: Aquifer ID Number
          type: integer
        aquifer_name:
          maxLength: 100
          title: Aquifer name
          type: string
        area:
          format: decimal
          title: Size (square km)
          type: string
        demand:
          title: Demand Reference
          type: string
        demand_description:
          readOnly: true
          title: Demand description
          type: string
        known_water_use:
          title: Known Water Use Reference
          type: string
        known_water_use_description:
          readOnly: true
          title: Known water use description
          type: string
        litho_stratographic_unit:
          maxLength: 100
          title: Lithographic Stratographic Unit
          type: string
        location_description:
          maxLength: 100
          title: Description of Location
          type: string
        mapping_year:
          description: "Use the following format: "
          maximum: 2019
          minimum: 1990
          title: Date of Mapping
          type: integer
        material:
          title: Material Reference
          type: string
        material_description:
          readOnly: true
          title: Material description
          type: string
        notes:
          maxLength: 2000
          title: "Notes on Aquifer, for internal use only."
          type: string
        productivity:
          title: Productivity Reference
          type: string
        productivity_description:
          readOnly: true
          title: Productivity description
          type: string
        quality_concern:
          title: Quality Concern Reference
          type: string
        quality_concern_description:
          readOnly: true
          title: Quality concern description
          type: string
        subtype:
          title: Subtype Reference
          type: string
        subtype_description:
          readOnly: true
          title: Subtype description
          type: string
        vulnerability:
          title: Aquifer Vulnerabiliy
          type: string
        vulnerability_description:
          readOnly: true
          title: Vulnerability description
          type: string
      type: object
    AquiferDemand:
      example:
        code: code
        description: description
      properties:
        code:
          maxLength: 1
          title: Code
          type: string
        description:
          maxLength: 100
          title: Description
          type: string
      required:
      - code
      - description
      type: object
    AquiferMaterial:
      example:
        code: code
        description: description
      properties:
        code:
          maxLength: 10
          title: Code
          type: string
        description:
          maxLength: 100
          title: Description
          type: string
      required:
      - code
      - description
      type: object
    AquiferProductivity:
      example:
        code: code
        description: description
      properties:
        code:
          maxLength: 1
          title: Code
          type: string
        description:
          maxLength: 100
          title: Description
          type: string
      required:
      - code
      - description
      type: object
    AquiferSerializerBasic:
      example:
        aquifer_id: 0
        description: description
      properties:
        aquifer_id:
          readOnly: true
          title: Aquifer ID Number
          type: integer
        description:
          readOnly: true
          title: Description
          type: string
      type: object
    AquiferSubtype:
      example:
        code: code
        description: description
      properties:
        code:
          maxLength: 3
          title: Code
          type: string
        description:
          title: Description
          type: string
      required:
      - code
      - description
      type: object
    AquiferVulnerability:
      example:
        code: code
        description: description
      properties:
        code:
          maxLength: 1
          title: Code
          type: string
        description:
          maxLength: 100
          title: Description
          type: string
      required:
      - code
      - description
      type: object
    Casing:
      example:
        wall_thickness: wall_thickness
        diameter: diameter
        casing_code: casing_code
        start: start
        end: end
        drive_shoe: true
        casing_material: casing_material
      properties:
        casing_code:
          title: Casing Type Code
          type: string
        casing_material:
          title: Casing Material Code
          type: string
        diameter:
          format: decimal
          title: Diameter
          type: string
        drive_shoe:
          title: Drive Shoe
          type: boolean
        end:
          format: decimal
          title: To
          type: string
        start:
          format: decimal
          title: From
          type: string
        wall_thickness:
          format: decimal
          title: Wall Thickness
          type: string
      required:
      - diameter
      - end
      - start
      type: object
    CityList:
      example:
        organization:
          fax_tel: fax_tel
          main_tel: main_tel
          street_address: street_address
          org_guid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          website_url: https://openapi-generator.tech
          city: city
          name: name
          province_state: province_state
          org_verbose_name: org_verbose_name
          postal_code: postal_code
          email: email
      properties:
        organization:
          $ref: '#/components/schemas/Organization'
      required:
      - organization
      type: object
    DecommissionDescription:
      example:
        material: material
        observations: observations
        start: start
        end: end
      properties:
        end:
          format: decimal
          title: Decommissioned To
          type: string
        material:
          title: Material
          type: string
        observations:
          maxLength: 255
          title: Observations
          type: string
        start:
          format: decimal
          title: Decommissioned From
          type: string
      required:
      - end
      - material
      - start
      type: object
    LinerPerforation:
      example:
        start: start
        end: end
      properties:
        end:
          format: decimal
          title: Perforated To
          type: string
        start:
          format: decimal
          title: Perforated From
          type: string
      required:
      - end
      - start
      type: object
    LithologyDescription:
      example:
        lithology_from: lithology_from
        lithology_hardness: lithology_hardness
        water_bearing_estimated_flow: water_bearing_estimated_flow
        lithology_to: lithology_to
        lithology_colour: lithology_colour
        lithology_moisture: lithology_moisture
        lithology_raw_data: lithology_raw_data
      properties:
        lithology_colour:
          title: Colour
          type: string
        lithology_from:
          format: decimal
          title: From
          type: string
        lithology_hardness:
          title: Hardness
          type: string
        lithology_moisture:
          title: Moisture
          type: string
        lithology_raw_data:
          maxLength: 250
          title: Raw Data
          type: string
        lithology_to:
          format: decimal
          title: To
          type: string
        water_bearing_estimated_flow:
          format: decimal
          title: Water Bearing Estimated Flow
          type: string
      type: object
    Organization:
      example:
        fax_tel: fax_tel
        main_tel: main_tel
        street_address: street_address
        org_guid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        website_url: https://openapi-generator.tech
        city: city
        name: name
        province_state: province_state
        org_verbose_name: org_verbose_name
        postal_code: postal_code
        email: email
      properties:
        city:
          maxLength: 50
          title: Town/City
          type: string
        email:
          format: email
          maxLength: 254
          title: Email adddress
          type: string
        fax_tel:
          maxLength: 15
          title: Fax number
          type: string
        main_tel:
          maxLength: 15
          title: Telephone number
          type: string
        name:
          maxLength: 200
          title: Name
          type: string
        org_guid:
          format: uuid
          readOnly: true
          title: Organization UUID
          type: string
        org_verbose_name:
          readOnly: true
          title: Org verbose name
          type: string
        postal_code:
          maxLength: 10
          title: Postal Code
          type: string
        province_state:
          title: Province/State
          type: string
        street_address:
          maxLength: 100
          title: Street Address
          type: string
        website_url:
          format: uri
          maxLength: 200
          title: Website
          type: string
      required:
      - name
      - province_state
      title: Organization
      type: object
    OrganizationList:
      example:
        fax_tel: fax_tel
        main_tel: main_tel
        street_address: street_address
        org_guid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        website_url: https://openapi-generator.tech
        city: city
        name: name
        province_state: province_state
        org_verbose_name: org_verbose_name
        postal_code: postal_code
        email: email
      properties:
        city:
          maxLength: 50
          title: Town/City
          type: string
        email:
          format: email
          maxLength: 254
          title: Email adddress
          type: string
        fax_tel:
          maxLength: 15
          title: Fax number
          type: string
        main_tel:
          maxLength: 15
          title: Telephone number
          type: string
        name:
          maxLength: 200
          title: Name
          type: string
        org_guid:
          format: uuid
          readOnly: true
          title: Organization UUID
          type: string
        org_verbose_name:
          readOnly: true
          title: Org verbose name
          type: string
        postal_code:
          maxLength: 10
          title: Postal Code
          type: string
        province_state:
          title: Province/State
          type: string
        street_address:
          maxLength: 100
          title: Street Address
          type: string
        website_url:
          format: uri
          maxLength: 200
          title: Website
          type: string
      required:
      - name
      - province_state
      title: Organization
      type: object
    OrganizationNameList:
      example:
        org_guid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        name: name
        org_verbose_name: org_verbose_name
      properties:
        name:
          maxLength: 200
          title: Name
          type: string
        org_guid:
          format: uuid
          readOnly: true
          title: Organization UUID
          type: string
        org_verbose_name:
          readOnly: true
          title: Org verbose name
          type: string
      required:
      - name
      title: Company of person responsible
      type: object
    PersonBasic:
      example:
        name: name
        person_guid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      properties:
        name:
          readOnly: true
          title: Name
          type: string
        person_guid:
          format: uuid
          readOnly: true
          title: Person UUID
          type: string
      title: Person responsible
      type: object
    PersonList:
      example:
        contact_cell: contact_cell
        registrations:
        - activity: activity
          organization:
            fax_tel: fax_tel
            main_tel: main_tel
            street_address: street_address
            org_guid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            website_url: https://openapi-generator.tech
            city: city
            name: name
            province_state: province_state
            org_verbose_name: org_verbose_name
            postal_code: postal_code
            email: email
          activity_description: activity_description
          applications:
          - cert_authority: cert_authority
            qualifications:
            - well_class: well_class
              description: description
            - well_class: well_class
              description: description
            removal_date: 2000-01-23
            subactivity:
              description: description
              qualification_set:
              - well_class: well_class
                description: description
              - well_class: well_class
                description: description
              registries_subactivity_code: registries_subactivity_code
            certificate: certificate
            current_status:
              code: code
              description: description
            display_status: display_status
          - cert_authority: cert_authority
            qualifications:
            - well_class: well_class
              description: description
            - well_class: well_class
              description: description
            removal_date: 2000-01-23
            subactivity:
              description: description
              qualification_set:
              - well_class: well_class
                description: description
              - well_class: well_class
                description: description
              registries_subactivity_code: registries_subactivity_code
            certificate: certificate
            current_status:
              code: code
              description: description
            display_status: display_status
          registration_no: registration_no
        - activity: activity
          organization:
            fax_tel: fax_tel
            main_tel: main_tel
            street_address: street_address
            org_guid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            website_url: https://openapi-generator.tech
            city: city
            name: name
            province_state: province_state
            org_verbose_name: org_verbose_name
            postal_code: postal_code
            email: email
          activity_description: activity_description
          applications:
          - cert_authority: cert_authority
            qualifications:
            - well_class: well_class
              description: description
            - well_class: well_class
              description: description
            removal_date: 2000-01-23
            subactivity:
              description: description
              qualification_set:
              - well_class: well_class
                description: description
              - well_class: well_class
                description: description
              registries_subactivity_code: registries_subactivity_code
            certificate: certificate
            current_status:
              code: code
              description: description
            display_status: display_status
          - cert_authority: cert_authority
            qualifications:
            - well_class: well_class
              description: description
            - well_class: well_class
              description: description
            removal_date: 2000-01-23
            subactivity:
              description: description
              qualification_set:
              - well_class: well_class
                description: description
              - well_class: well_class
                description: description
              registries_subactivity_code: registries_subactivity_code
            certificate: certificate
            current_status:
              code: code
              description: description
            display_status: display_status
          registration_no: registration_no
        surname: surname
        contact_tel: contact_tel
        first_name: first_name
        contact_email: contact_email
        person_guid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      properties:
        contact_cell:
          maxLength: 15
          title: Contact cell number
          type: string
        contact_email:
          format: email
          maxLength: 254
          title: Email address
          type: string
        contact_tel:
          maxLength: 15
          title: Contact telephone number
          type: string
        first_name:
          maxLength: 100
          title: First name
          type: string
        person_guid:
          format: uuid
          readOnly: true
          title: Person UUID
          type: string
        registrations:
          items:
            $ref: '#/components/schemas/RegistrationsList'
          readOnly: true
          type: array
        surname:
          maxLength: 100
          title: Surname
          type: string
      required:
      - first_name
      - surname
      type: object
    PersonName:
      example:
        registrations:
        - registries_activity: registries_activity
          registration_no: registration_no
        - registries_activity: registries_activity
          registration_no: registration_no
        name: name
        person_guid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      properties:
        name:
          readOnly: true
          title: Name
          type: string
        person_guid:
          format: uuid
          readOnly: true
          title: Person UUID
          type: string
        registrations:
          items:
            $ref: '#/components/schemas/RegistrationsNumber'
          readOnly: true
          type: array
      type: object
    Qualification:
      example:
        well_class: well_class
        description: description
      properties:
        description:
          readOnly: true
          title: Description
          type: string
        well_class:
          title: Well class
          type: string
      required:
      - well_class
      type: object
    QualityConcern:
      example:
        code: code
        description: description
      properties:
        code:
          maxLength: 2
          title: Code
          type: string
        description:
          maxLength: 100
          title: Description
          type: string
      required:
      - code
      - description
      type: object
    RegistrationsList:
      example:
        activity: activity
        organization:
          fax_tel: fax_tel
          main_tel: main_tel
          street_address: street_address
          org_guid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          website_url: https://openapi-generator.tech
          city: city
          name: name
          province_state: province_state
          org_verbose_name: org_verbose_name
          postal_code: postal_code
          email: email
        activity_description: activity_description
        applications:
        - cert_authority: cert_authority
          qualifications:
          - well_class: well_class
            description: description
          - well_class: well_class
            description: description
          removal_date: 2000-01-23
          subactivity:
            description: description
            qualification_set:
            - well_class: well_class
              description: description
            - well_class: well_class
              description: description
            registries_subactivity_code: registries_subactivity_code
          certificate: certificate
          current_status:
            code: code
            description: description
          display_status: display_status
        - cert_authority: cert_authority
          qualifications:
          - well_class: well_class
            description: description
          - well_class: well_class
            description: description
          removal_date: 2000-01-23
          subactivity:
            description: description
            qualification_set:
            - well_class: well_class
              description: description
            - well_class: well_class
              description: description
            registries_subactivity_code: registries_subactivity_code
          certificate: certificate
          current_status:
            code: code
            description: description
          display_status: display_status
        registration_no: registration_no
      properties:
        activity:
          readOnly: true
          title: Activity
          type: string
        activity_description:
          readOnly: true
          title: Activity description
          type: string
        applications:
          items:
            $ref: '#/components/schemas/ApplicationList'
          readOnly: true
          type: array
        organization:
          $ref: '#/components/schemas/OrganizationList'
        registration_no:
          maxLength: 15
          title: Registration no
          type: string
      required:
      - organization
      type: object
    RegistrationsNumber:
      example:
        registries_activity: registries_activity
        registration_no: registration_no
      properties:
        registration_no:
          maxLength: 15
          title: Registration no
          type: string
        registries_activity:
          title: Registries activity
          type: string
      required:
      - registries_activity
      type: object
    Screen:
      example:
        slot_size: slot_size
        assembly_type: assembly_type
        start: start
        internal_diameter: internal_diameter
        end: end
      properties:
        assembly_type:
          title: Assembly type
          type: string
        end:
          format: decimal
          title: To
          type: string
        internal_diameter:
          format: decimal
          title: Diameter
          type: string
        slot_size:
          format: decimal
          title: Slot Size
          type: string
        start:
          format: decimal
          title: From
          type: string
      required:
      - assembly_type
      - end
      - start
      type: object
    Subactivity:
      example:
        description: description
        qualification_set:
        - well_class: well_class
          description: description
        - well_class: well_class
          description: description
        registries_subactivity_code: registries_subactivity_code
      properties:
        description:
          maxLength: 100
          title: Description
          type: string
        qualification_set:
          items:
            $ref: '#/components/schemas/Qualification'
          readOnly: true
          type: array
        registries_subactivity_code:
          readOnly: true
          title: Registries subactivity code
          type: string
      required:
      - description
      title: Subactivity
      type: object
    Survey:
      example:
        survey_link: survey_link
        survey_guid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        survey_page: w
        survey_introduction_text: survey_introduction_text
      properties:
        survey_guid:
          format: uuid
          readOnly: true
          title: Survey guid
          type: string
        survey_introduction_text:
          maxLength: 250
          title: Introduction Text
          type: string
        survey_link:
          maxLength: 100
          title: Link
          type: string
        survey_page:
          enum:
          - w
          - r
          - s
          - a
          title: Page
          type: string
      type: object
    WaterUse:
      example:
        code: code
        description: description
      properties:
        code:
          maxLength: 2
          title: Code
          type: string
        description:
          maxLength: 100
          title: Description
          type: string
      required:
      - code
      - description
      type: object
    WellDetail:
      example:
        utm_northing: 885365090
        hydro_fracturing_performed: true
        testing_method: testing_method
        ground_elevation_method: ground_elevation_method
        yield_estimation_rate: yield_estimation_rate
        surface_seal_material: surface_seal_material
        filter_pack_to: filter_pack_to
        decommission_details: decommission_details
        owner_full_name: owner_full_name
        water_quality_odour: water_quality_odour
        linerperforation_set:
        - start: start
          end: end
        - start: start
          end: end
        screen_information: screen_information
        artesian_flow: artesian_flow
        drilling_company: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        hydraulic_conductivity: hydraulic_conductivity
        legal_district_lot: legal_district_lot
        development_notes: development_notes
        screen_intake_method: screen_intake_method
        company_of_person_responsible:
          org_guid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          name: name
          org_verbose_name: org_verbose_name
        well_guid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        screen_set:
        - slot_size: slot_size
          assembly_type: assembly_type
          start: start
          internal_diameter: internal_diameter
          end: end
        - slot_size: slot_size
          assembly_type: assembly_type
          start: start
          internal_diameter: internal_diameter
          end: end
        water_supply_system_well_name: water_supply_system_well_name
        water_quality_colour: water_quality_colour
        decommission_end_date: 2000-01-23
        backfill_depth: backfill_depth
        legal_range: legal_range
        legal_lot: legal_lot
        decommission_description_set:
        - material: material
          observations: observations
          start: start
          end: end
        - material: material
          observations: observations
          start: start
          end: end
        aquifer_vulnerability_index: aquifer_vulnerability_index
        screen_bottom: screen_bottom
        development_hours: development_hours
        screen_type: screen_type
        city: city
        backfill_material: backfill_material
        latitude: latitude
        final_casing_stick_up: final_casing_stick_up
        land_district: land_district
        legal_section: legal_section
        boundary_effect: boundary_effect
        decommission_start_date: 2000-01-23
        utm_easting: -1158723813
        licenced_status: licenced_status
        drawdown: drawdown
        screen_material: screen_material
        bcgs_id: 6
        artesian_pressure: artesian_pressure
        observation_well_number: observation_well_number
        legal_township: legal_township
        well_cap_type: well_cap_type
        legal_plan: legal_plan
        yield_estimation_method: yield_estimation_method
        casing_set:
        - wall_thickness: wall_thickness
          diameter: diameter
          casing_code: casing_code
          start: start
          end: end
          drive_shoe: true
          casing_material: casing_material
        - wall_thickness: wall_thickness
          diameter: diameter
          casing_code: casing_code
          start: start
          end: end
          drive_shoe: true
          casing_material: casing_material
        other_drilling_method: other_drilling_method
        filter_pack_material: filter_pack_material
        observation_well_status: observation_well_status
        well_yield_unit: well_yield_unit
        hydro_fracturing_yield_increase: hydro_fracturing_yield_increase
        yield_estimation_duration: yield_estimation_duration
        construction_end_date: 2000-01-23
        surface_seal_length: surface_seal_length
        backfill_type: backfill_type
        specific_yield: specific_yield
        well_disinfected: true
        coordinate_acquisition_code: coordinate_acquisition_code
        sealant_material: sealant_material
        filter_pack_from: filter_pack_from
        well_identification_plate_attached: well_identification_plate_attached
        development_method: development_method
        drilling_method: drilling_method
        liner_material: liner_material
        liner_thickness: liner_thickness
        static_water_level: static_water_level
        surface_seal_method: surface_seal_method
        well_location_description: well_location_description
        well_orientation: true
        other_screen_material: other_screen_material
        well_subclass: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        diameter: diameter
        recommended_pump_depth: recommended_pump_depth
        longitude: longitude
        surface_seal_depth: surface_seal_depth
        legal_block: legal_block
        decommission_method: decommission_method
        storativity: storativity
        id_plate_attached_by: id_plate_attached_by
        filter_pack_thickness: filter_pack_thickness
        intended_water_use: intended_water_use
        transmissivity: transmissivity
        lithologydescription_set:
        - lithology_from: lithology_from
          lithology_hardness: lithology_hardness
          water_bearing_estimated_flow: water_bearing_estimated_flow
          lithology_to: lithology_to
          lithology_colour: lithology_colour
          lithology_moisture: lithology_moisture
          lithology_raw_data: lithology_raw_data
        - lithology_from: lithology_from
          lithology_hardness: lithology_hardness
          water_bearing_estimated_flow: water_bearing_estimated_flow
          lithology_to: lithology_to
          lithology_colour: lithology_colour
          lithology_moisture: lithology_moisture
          lithology_raw_data: lithology_raw_data
        filter_pack_material_size: filter_pack_material_size
        well_tag_number: 3
        surface_seal_thickness: surface_seal_thickness
        water_quality_characteristics:
        - water_quality_characteristics
        - water_quality_characteristics
        liner_to: liner_to
        alteration_end_date: 2000-01-23
        bedrock_depth: bedrock_depth
        ground_elevation: ground_elevation
        utm_zone_code: utm_zone_code
        liner_diameter: liner_diameter
        recommended_pump_rate: recommended_pump_rate
        street_address: street_address
        well_class: well_class
        alternative_specs_submitted: true
        other_screen_bottom: other_screen_bottom
        decommission_reason: decommission_reason
        finished_well_depth: finished_well_depth
        analytic_solution_type: analytic_solution_type
        ems: ems
        screen_opening: screen_opening
        water_supply_system_name: water_supply_system_name
        liner_from: liner_from
        static_level_before_test: static_level_before_test
        testing_duration: 1210617418
        comments: comments
        well_yield: well_yield
        well_status: well_status
        person_responsible:
          name: name
          person_guid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        specific_storage: specific_storage
        identification_plate_number: 314780940
        construction_start_date: 2000-01-23
        legal_pid: 1280358508
        total_depth_drilled: total_depth_drilled
        well: 9
        aquifer: 0
      properties:
        alteration_end_date:
          format: date
          title: Alteration Date
          type: string
        alternative_specs_submitted:
          title: Alternative specs submitted (if required)
          type: boolean
        analytic_solution_type:
          format: decimal
          title: Analytic Solution Type
          type: string
        aquifer:
          title: Aquifer ID Number
          type: integer
        aquifer_vulnerability_index:
          format: decimal
          title: AVI
          type: string
        artesian_flow:
          format: decimal
          title: Artesian Flow
          type: string
        artesian_pressure:
          format: decimal
          title: Artesian Pressure
          type: string
        backfill_depth:
          format: decimal
          title: Backfill Depth
          type: string
        backfill_material:
          maxLength: 100
          title: Backfill Material
          type: string
        backfill_type:
          maxLength: 250
          title: Backfill Material Above Surface Seal
          type: string
        bcgs_id:
          title: BCGS Mapsheet Number
          type: integer
        bedrock_depth:
          format: decimal
          title: Depth to Bedrock
          type: string
        boundary_effect:
          format: decimal
          title: Boundary Effect
          type: string
        casing_set:
          items:
            $ref: '#/components/schemas/Casing'
          type: array
        city:
          maxLength: 50
          title: Town/City
          type: string
        comments:
          maxLength: 3000
          title: Comments
          type: string
        company_of_person_responsible:
          $ref: '#/components/schemas/OrganizationNameList'
        construction_end_date:
          format: date
          title: Construction Date
          type: string
        construction_start_date:
          format: date
          title: Construction Start Date
          type: string
        coordinate_acquisition_code:
          title: Location Accuracy Code
          type: string
        decommission_description_set:
          items:
            $ref: '#/components/schemas/DecommissionDescription'
          type: array
        decommission_details:
          maxLength: 250
          title: Decommission Details
          type: string
        decommission_end_date:
          format: date
          title: Decommission Date
          type: string
        decommission_method:
          title: Method of Decommission
          type: string
        decommission_reason:
          maxLength: 250
          title: Reason for Decommission
          type: string
        decommission_start_date:
          format: date
          title: Decommission Start Date
          type: string
        development_hours:
          format: decimal
          title: Development Total Duration
          type: string
        development_method:
          title: Developed By
          type: string
        development_notes:
          maxLength: 255
          title: Development Notes
          type: string
        diameter:
          maxLength: 9
          title: Diameter
          type: string
        drawdown:
          format: decimal
          title: Drawdown
          type: string
        drilling_company:
          format: uuid
          title: Drilling Company
          type: string
        drilling_method:
          title: Drilling Method
          type: string
        ems:
          maxLength: 10
          title: Environmental Monitoring System (EMS) ID
          type: string
        filter_pack_from:
          format: decimal
          title: Filter Pack From
          type: string
        filter_pack_material:
          title: Filter Pack Material
          type: string
        filter_pack_material_size:
          title: Filter Pack Material Size
          type: string
        filter_pack_thickness:
          format: decimal
          title: Filter Pack Thickness
          type: string
        filter_pack_to:
          format: decimal
          title: Filter Pack To
          type: string
        final_casing_stick_up:
          format: decimal
          title: Final Casing Stick Up
          type: string
        finished_well_depth:
          format: decimal
          title: Finished Well Depth
          type: string
        ground_elevation:
          format: decimal
          title: Ground Elevation
          type: string
        ground_elevation_method:
          title: Elevation Determined By
          type: string
        hydraulic_conductivity:
          maxLength: 100
          title: Hydraulic Conductivity
          type: string
        hydro_fracturing_performed:
          title: Hydro-fracturing Performed?
          type: boolean
        hydro_fracturing_yield_increase:
          format: decimal
          title: Well Yield Increase Due to Hydro-fracturing
          type: string
        id_plate_attached_by:
          maxLength: 100
          title: Well identification plate attached by
          type: string
        identification_plate_number:
          maximum: 2147483647
          minimum: 0
          title: Well Identification Plate Number
          type: integer
        intended_water_use:
          title: Intended Water Use
          type: string
        land_district:
          title: Land District
          type: string
        latitude:
          format: decimal
          title: Latitude
          type: string
        legal_block:
          maxLength: 10
          title: Block
          type: string
        legal_district_lot:
          maxLength: 20
          title: District Lot
          type: string
        legal_lot:
          maxLength: 10
          title: Lot
          type: string
        legal_pid:
          maximum: 2147483647
          minimum: 0
          title: Property Identification Description (PID)
          type: integer
        legal_plan:
          maxLength: 20
          title: Plan
          type: string
        legal_range:
          maxLength: 10
          title: Range
          type: string
        legal_section:
          maxLength: 10
          title: Section
          type: string
        legal_township:
          maxLength: 20
          title: Township
          type: string
        licenced_status:
          title: Licenced Status
          type: string
        liner_diameter:
          format: decimal
          title: Liner Diameter
          type: string
        liner_from:
          format: decimal
          title: Liner From
          type: string
        liner_material:
          title: Liner Material
          type: string
        liner_thickness:
          format: decimal
          title: Liner Thickness
          type: string
        liner_to:
          format: decimal
          title: Liner To
          type: string
        linerperforation_set:
          items:
            $ref: '#/components/schemas/LinerPerforation'
          type: array
        lithologydescription_set:
          items:
            $ref: '#/components/schemas/LithologyDescription'
          type: array
        longitude:
          format: decimal
          title: Longitude
          type: string
        observation_well_number:
          maxLength: 30
          title: Observation Well Number
          type: string
        observation_well_status:
          title: Observation Well Status
          type: string
        other_drilling_method:
          maxLength: 50
          title: Specify Other Drilling Method
          type: string
        other_screen_bottom:
          maxLength: 50
          title: Specify Other Screen Bottom
          type: string
        other_screen_material:
          maxLength: 50
          title: Specify Other Screen Material
          type: string
        owner_full_name:
          maxLength: 200
          title: Owner Name
          type: string
        person_responsible:
          $ref: '#/components/schemas/PersonBasic'
        recommended_pump_depth:
          format: decimal
          title: Recommended pump depth
          type: string
        recommended_pump_rate:
          format: decimal
          title: Recommended pump rate
          type: string
        screen_bottom:
          title: Bottom
          type: string
        screen_information:
          maxLength: 300
          title: Screen Information
          type: string
        screen_intake_method:
          title: Intake Method
          type: string
        screen_material:
          title: Material
          type: string
        screen_opening:
          title: Opening
          type: string
        screen_set:
          items:
            $ref: '#/components/schemas/Screen'
          type: array
        screen_type:
          title: Type
          type: string
        sealant_material:
          maxLength: 100
          title: Sealant Material
          type: string
        specific_storage:
          maxLength: 100
          title: Specific Storage
          type: string
        specific_yield:
          format: decimal
          title: Specific Yield
          type: string
        static_level_before_test:
          format: decimal
          title: SWL Before Test
          type: string
        static_water_level:
          format: decimal
          title: Static Water Level (BTOC)
          type: string
        storativity:
          format: decimal
          title: Storativity
          type: string
        street_address:
          maxLength: 100
          title: Street Address
          type: string
        surface_seal_depth:
          format: decimal
          title: Surface Seal Depth
          type: string
        surface_seal_length:
          format: decimal
          title: Surface Seal Length
          type: string
        surface_seal_material:
          title: Surface Seal Material
          type: string
        surface_seal_method:
          title: Surface Seal Installation Method
          type: string
        surface_seal_thickness:
          format: decimal
          title: Surface Seal Thickness
          type: string
        testing_duration:
          maximum: 2147483647
          minimum: 0
          title: Testing duration
          type: integer
        testing_method:
          maxLength: 100
          title: Testing Method
          type: string
        total_depth_drilled:
          format: decimal
          title: Total Depth Drilled
          type: string
        transmissivity:
          format: decimal
          title: Transmissivity
          type: string
        utm_easting:
          maximum: 2147483647
          minimum: -2147483648
          title: UTM Easting
          type: integer
        utm_northing:
          maximum: 2147483647
          minimum: -2147483648
          title: UTM Northing
          type: integer
        utm_zone_code:
          maxLength: 10
          title: Zone
          type: string
        water_quality_characteristics:
          items:
            title: Obvious Water Quality Characteristics
            type: string
          type: array
          uniqueItems: true
        water_quality_colour:
          maxLength: 60
          title: Water Quality Colour
          type: string
        water_quality_odour:
          maxLength: 60
          title: Water Quality Odour
          type: string
        water_supply_system_name:
          maxLength: 80
          title: Water Supply System Name
          type: string
        water_supply_system_well_name:
          maxLength: 80
          title: Water Supply System Well Name
          type: string
        well:
          title: Well
          type: integer
        well_cap_type:
          maxLength: 40
          title: Well Cap
          type: string
        well_class:
          title: Well Class
          type: string
        well_disinfected:
          title: Well Disinfected
          type: boolean
        well_guid:
          format: uuid
          readOnly: true
          title: Well guid
          type: string
        well_identification_plate_attached:
          maxLength: 500
          title: Well Identification Plate Is Attached
          type: string
        well_location_description:
          maxLength: 500
          title: Description of Well Location
          type: string
        well_orientation:
          title: Orientation of Well
          type: boolean
        well_status:
          title: Well Status
          type: string
        well_subclass:
          format: uuid
          title: Well Subclass
          type: string
        well_tag_number:
          readOnly: true
          title: Well Tag Number
          type: integer
        well_yield:
          format: decimal
          title: Estimated Well Yield
          type: string
        well_yield_unit:
          title: Well yield unit
          type: string
        yield_estimation_duration:
          format: decimal
          title: Estimation Duration
          type: string
        yield_estimation_method:
          title: Estimation Method
          type: string
        yield_estimation_rate:
          format: decimal
          title: Estimation Rate
          type: string
      required:
      - casing_set
      - company_of_person_responsible
      - decommission_description_set
      - linerperforation_set
      - lithologydescription_set
      - owner_full_name
      - person_responsible
      - screen_set
      - well
      type: object
    WellList:
      example:
        utm_northing: 1847456234
        hydro_fracturing_performed: true
        testing_method: testing_method
        ground_elevation_method: ground_elevation_method
        yield_estimation_rate: yield_estimation_rate
        surface_seal_material: surface_seal_material
        filter_pack_to: filter_pack_to
        decommission_details: decommission_details
        owner_full_name: owner_full_name
        water_quality_odour: water_quality_odour
        screen_information: screen_information
        artesian_flow: artesian_flow
        drilling_company: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        hydraulic_conductivity: hydraulic_conductivity
        legal_district_lot: legal_district_lot
        development_notes: development_notes
        screen_intake_method: screen_intake_method
        well_guid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        water_supply_system_well_name: water_supply_system_well_name
        water_quality_colour: water_quality_colour
        decommission_end_date: 2000-01-23
        backfill_depth: backfill_depth
        legal_range: legal_range
        legal_lot: legal_lot
        aquifer_vulnerability_index: aquifer_vulnerability_index
        screen_bottom: screen_bottom
        development_hours: development_hours
        screen_type: screen_type
        city: city
        backfill_material: backfill_material
        latitude: latitude
        final_casing_stick_up: final_casing_stick_up
        land_district: land_district
        legal_section: legal_section
        boundary_effect: boundary_effect
        decommission_start_date: 2000-01-23
        utm_easting: 885365090
        licenced_status: licenced_status
        drawdown: drawdown
        screen_material: screen_material
        bcgs_id: 1
        artesian_pressure: artesian_pressure
        observation_well_number: observation_well_number
        legal_township: legal_township
        well_cap_type: well_cap_type
        legal_plan: legal_plan
        yield_estimation_method: yield_estimation_method
        other_drilling_method: other_drilling_method
        filter_pack_material: filter_pack_material
        observation_well_status: observation_well_status
        well_yield_unit: well_yield_unit
        hydro_fracturing_yield_increase: hydro_fracturing_yield_increase
        yield_estimation_duration: yield_estimation_duration
        construction_end_date: 2000-01-23
        surface_seal_length: surface_seal_length
        backfill_type: backfill_type
        specific_yield: specific_yield
        well_disinfected: true
        coordinate_acquisition_code: coordinate_acquisition_code
        sealant_material: sealant_material
        filter_pack_from: filter_pack_from
        well_identification_plate_attached: well_identification_plate_attached
        development_method: development_method
        drilling_method: drilling_method
        liner_material: liner_material
        liner_thickness: liner_thickness
        static_water_level: static_water_level
        surface_seal_method: surface_seal_method
        well_location_description: well_location_description
        well_orientation: true
        other_screen_material: other_screen_material
        well_subclass: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        diameter: diameter
        recommended_pump_depth: recommended_pump_depth
        longitude: longitude
        surface_seal_depth: surface_seal_depth
        legal_block: legal_block
        decommission_method: decommission_method
        storativity: storativity
        id_plate_attached_by: id_plate_attached_by
        filter_pack_thickness: filter_pack_thickness
        intended_water_use: intended_water_use
        transmissivity: transmissivity
        filter_pack_material_size: filter_pack_material_size
        well_tag_number: 3
        surface_seal_thickness: surface_seal_thickness
        water_quality_characteristics:
        - water_quality_characteristics
        - water_quality_characteristics
        liner_to: liner_to
        alteration_end_date: 2000-01-23
        bedrock_depth: bedrock_depth
        ground_elevation: ground_elevation
        utm_zone_code: utm_zone_code
        liner_diameter: liner_diameter
        recommended_pump_rate: recommended_pump_rate
        street_address: street_address
        well_class: well_class
        alternative_specs_submitted: true
        other_screen_bottom: other_screen_bottom
        decommission_reason: decommission_reason
        finished_well_depth: finished_well_depth
        analytic_solution_type: analytic_solution_type
        ems: ems
        screen_opening: screen_opening
        water_supply_system_name: water_supply_system_name
        liner_from: liner_from
        static_level_before_test: static_level_before_test
        testing_duration: 494379917
        comments: comments
        well_yield: well_yield
        well_status: well_status
        specific_storage: specific_storage
        identification_plate_number: 1280358508
        construction_start_date: 2000-01-23
        legal_pid: 1210617418
        total_depth_drilled: total_depth_drilled
        aquifer: 6
      properties:
        alteration_end_date:
          format: date
          title: Alteration Date
          type: string
        alternative_specs_submitted:
          title: Alternative specs submitted (if required)
          type: boolean
        analytic_solution_type:
          format: decimal
          title: Analytic Solution Type
          type: string
        aquifer:
          title: Aquifer ID Number
          type: integer
        aquifer_vulnerability_index:
          format: decimal
          title: AVI
          type: string
        artesian_flow:
          format: decimal
          title: Artesian Flow
          type: string
        artesian_pressure:
          format: decimal
          title: Artesian Pressure
          type: string
        backfill_depth:
          format: decimal
          title: Backfill Depth
          type: string
        backfill_material:
          maxLength: 100
          title: Backfill Material
          type: string
        backfill_type:
          maxLength: 250
          title: Backfill Material Above Surface Seal
          type: string
        bcgs_id:
          title: BCGS Mapsheet Number
          type: integer
        bedrock_depth:
          format: decimal
          title: Depth to Bedrock
          type: string
        boundary_effect:
          format: decimal
          title: Boundary Effect
          type: string
        city:
          maxLength: 50
          title: Town/City
          type: string
        comments:
          maxLength: 3000
          title: Comments
          type: string
        construction_end_date:
          format: date
          title: Construction Date
          type: string
        construction_start_date:
          format: date
          title: Construction Start Date
          type: string
        coordinate_acquisition_code:
          title: Location Accuracy Code
          type: string
        decommission_details:
          maxLength: 250
          title: Decommission Details
          type: string
        decommission_end_date:
          format: date
          title: Decommission Date
          type: string
        decommission_method:
          title: Method of Decommission
          type: string
        decommission_reason:
          maxLength: 250
          title: Reason for Decommission
          type: string
        decommission_start_date:
          format: date
          title: Decommission Start Date
          type: string
        development_hours:
          format: decimal
          title: Development Total Duration
          type: string
        development_method:
          title: Developed By
          type: string
        development_notes:
          maxLength: 255
          title: Development Notes
          type: string
        diameter:
          maxLength: 9
          title: Diameter
          type: string
        drawdown:
          format: decimal
          title: Drawdown
          type: string
        drilling_company:
          format: uuid
          title: Drilling Company
          type: string
        drilling_method:
          title: Drilling Method
          type: string
        ems:
          maxLength: 10
          title: Environmental Monitoring System (EMS) ID
          type: string
        filter_pack_from:
          format: decimal
          title: Filter Pack From
          type: string
        filter_pack_material:
          title: Filter Pack Material
          type: string
        filter_pack_material_size:
          title: Filter Pack Material Size
          type: string
        filter_pack_thickness:
          format: decimal
          title: Filter Pack Thickness
          type: string
        filter_pack_to:
          format: decimal
          title: Filter Pack To
          type: string
        final_casing_stick_up:
          format: decimal
          title: Final Casing Stick Up
          type: string
        finished_well_depth:
          format: decimal
          title: Finished Well Depth
          type: string
        ground_elevation:
          format: decimal
          title: Ground Elevation
          type: string
        ground_elevation_method:
          title: Elevation Determined By
          type: string
        hydraulic_conductivity:
          maxLength: 100
          title: Hydraulic Conductivity
          type: string
        hydro_fracturing_performed:
          title: Hydro-fracturing Performed?
          type: boolean
        hydro_fracturing_yield_increase:
          format: decimal
          title: Well Yield Increase Due to Hydro-fracturing
          type: string
        id_plate_attached_by:
          maxLength: 100
          title: Well identification plate attached by
          type: string
        identification_plate_number:
          maximum: 2147483647
          minimum: 0
          title: Well Identification Plate Number
          type: integer
        intended_water_use:
          title: Intended Water Use
          type: string
        land_district:
          title: Land District
          type: string
        latitude:
          format: decimal
          title: Latitude
          type: string
        legal_block:
          maxLength: 10
          title: Block
          type: string
        legal_district_lot:
          maxLength: 20
          title: District Lot
          type: string
        legal_lot:
          maxLength: 10
          title: Lot
          type: string
        legal_pid:
          maximum: 2147483647
          minimum: 0
          title: Property Identification Description (PID)
          type: integer
        legal_plan:
          maxLength: 20
          title: Plan
          type: string
        legal_range:
          maxLength: 10
          title: Range
          type: string
        legal_section:
          maxLength: 10
          title: Section
          type: string
        legal_township:
          maxLength: 20
          title: Township
          type: string
        licenced_status:
          title: Licenced Status
          type: string
        liner_diameter:
          format: decimal
          title: Liner Diameter
          type: string
        liner_from:
          format: decimal
          title: Liner From
          type: string
        liner_material:
          title: Liner Material
          type: string
        liner_thickness:
          format: decimal
          title: Liner Thickness
          type: string
        liner_to:
          format: decimal
          title: Liner To
          type: string
        longitude:
          format: decimal
          title: Longitude
          type: string
        observation_well_number:
          maxLength: 30
          title: Observation Well Number
          type: string
        observation_well_status:
          title: Observation Well Status
          type: string
        other_drilling_method:
          maxLength: 50
          title: Specify Other Drilling Method
          type: string
        other_screen_bottom:
          maxLength: 50
          title: Specify Other Screen Bottom
          type: string
        other_screen_material:
          maxLength: 50
          title: Specify Other Screen Material
          type: string
        owner_full_name:
          maxLength: 200
          title: Owner Name
          type: string
        recommended_pump_depth:
          format: decimal
          title: Recommended pump depth
          type: string
        recommended_pump_rate:
          format: decimal
          title: Recommended pump rate
          type: string
        screen_bottom:
          title: Bottom
          type: string
        screen_information:
          maxLength: 300
          title: Screen Information
          type: string
        screen_intake_method:
          title: Intake Method
          type: string
        screen_material:
          title: Material
          type: string
        screen_opening:
          title: Opening
          type: string
        screen_type:
          title: Type
          type: string
        sealant_material:
          maxLength: 100
          title: Sealant Material
          type: string
        specific_storage:
          maxLength: 100
          title: Specific Storage
          type: string
        specific_yield:
          format: decimal
          title: Specific Yield
          type: string
        static_level_before_test:
          format: decimal
          title: SWL Before Test
          type: string
        static_water_level:
          format: decimal
          title: Static Water Level (BTOC)
          type: string
        storativity:
          format: decimal
          title: Storativity
          type: string
        street_address:
          maxLength: 100
          title: Street Address
          type: string
        surface_seal_depth:
          format: decimal
          title: Surface Seal Depth
          type: string
        surface_seal_length:
          format: decimal
          title: Surface Seal Length
          type: string
        surface_seal_material:
          title: Surface Seal Material
          type: string
        surface_seal_method:
          title: Surface Seal Installation Method
          type: string
        surface_seal_thickness:
          format: decimal
          title: Surface Seal Thickness
          type: string
        testing_duration:
          maximum: 2147483647
          minimum: 0
          title: Testing duration
          type: integer
        testing_method:
          maxLength: 100
          title: Testing Method
          type: string
        total_depth_drilled:
          format: decimal
          title: Total Depth Drilled
          type: string
        transmissivity:
          format: decimal
          title: Transmissivity
          type: string
        utm_easting:
          maximum: 2147483647
          minimum: -2147483648
          title: UTM Easting
          type: integer
        utm_northing:
          maximum: 2147483647
          minimum: -2147483648
          title: UTM Northing
          type: integer
        utm_zone_code:
          maxLength: 10
          title: Zone
          type: string
        water_quality_characteristics:
          items:
            title: Obvious Water Quality Characteristics
            type: string
          type: array
          uniqueItems: true
        water_quality_colour:
          maxLength: 60
          title: Water Quality Colour
          type: string
        water_quality_odour:
          maxLength: 60
          title: Water Quality Odour
          type: string
        water_supply_system_name:
          maxLength: 80
          title: Water Supply System Name
          type: string
        water_supply_system_well_name:
          maxLength: 80
          title: Water Supply System Well Name
          type: string
        well_cap_type:
          maxLength: 40
          title: Well Cap
          type: string
        well_class:
          title: Well Class
          type: string
        well_disinfected:
          title: Well Disinfected
          type: boolean
        well_guid:
          format: uuid
          readOnly: true
          title: Well guid
          type: string
        well_identification_plate_attached:
          maxLength: 500
          title: Well Identification Plate Is Attached
          type: string
        well_location_description:
          maxLength: 500
          title: Description of Well Location
          type: string
        well_orientation:
          title: Orientation of Well
          type: boolean
        well_status:
          title: Well Status
          type: string
        well_subclass:
          format: uuid
          title: Well Subclass
          type: string
        well_tag_number:
          readOnly: true
          title: Well Tag Number
          type: integer
        well_yield:
          format: decimal
          title: Estimated Well Yield
          type: string
        well_yield_unit:
          title: Well yield unit
          type: string
        yield_estimation_duration:
          format: decimal
          title: Estimation Duration
          type: string
        yield_estimation_method:
          title: Estimation Method
          type: string
        yield_estimation_rate:
          format: decimal
          title: Estimation Rate
          type: string
      required:
      - owner_full_name
      type: object
    WellTagSearch:
      example:
        owner_full_name: owner_full_name
        well_tag_number: 0
      properties:
        owner_full_name:
          maxLength: 200
          title: Owner Name
          type: string
        well_tag_number:
          readOnly: true
          title: Well Tag Number
          type: integer
      required:
      - owner_full_name
      type: object
    aquifer_codes_demand_list_200_response:
      example:
        next: https://openapi-generator.tech
        previous: https://openapi-generator.tech
        count: 0
        results:
        - code: code
          description: description
        - code: code
          description: description
      properties:
        count:
          type: integer
        next:
          format: uri
          type: string
        previous:
          format: uri
          type: string
        results:
          items:
            $ref: '#/components/schemas/AquiferDemand'
          type: array
      required:
      - count
      - results
      type: object
    aquifer_codes_materials_list_200_response:
      example:
        next: https://openapi-generator.tech
        previous: https://openapi-generator.tech
        count: 0
        results:
        - code: code
          description: description
        - code: code
          description: description
      properties:
        count:
          type: integer
        next:
          format: uri
          type: string
        previous:
          format: uri
          type: string
        results:
          items:
            $ref: '#/components/schemas/AquiferMaterial'
          type: array
      required:
      - count
      - results
      type: object
    aquifer_codes_productivity_list_200_response:
      example:
        next: https://openapi-generator.tech
        previous: https://openapi-generator.tech
        count: 0
        results:
        - code: code
          description: description
        - code: code
          description: description
      properties:
        count:
          type: integer
        next:
          format: uri
          type: string
        previous:
          format: uri
          type: string
        results:
          items:
            $ref: '#/components/schemas/AquiferProductivity'
          type: array
      required:
      - count
      - results
      type: object
    aquifer_codes_quality_concerns_list_200_response:
      example:
        next: https://openapi-generator.tech
        previous: https://openapi-generator.tech
        count: 0
        results:
        - code: code
          description: description
        - code: code
          description: description
      properties:
        count:
          type: integer
        next:
          format: uri
          type: string
        previous:
          format: uri
          type: string
        results:
          items:
            $ref: '#/components/schemas/QualityConcern'
          type: array
      required:
      - count
      - results
      type: object
    aquifer_codes_subtypes_list_200_response:
      example:
        next: https://openapi-generator.tech
        previous: https://openapi-generator.tech
        count: 0
        results:
        - code: code
          description: description
        - code: code
          description: description
      properties:
        count:
          type: integer
        next:
          format: uri
          type: string
        previous:
          format: uri
          type: string
        results:
          items:
            $ref: '#/components/schemas/AquiferSubtype'
          type: array
      required:
      - count
      - results
      type: object
    aquifer_codes_vulnerability_list_200_response:
      example:
        next: https://openapi-generator.tech
        previous: https://openapi-generator.tech
        count: 0
        results:
        - code: code
          description: description
        - code: code
          description: description
      properties:
        count:
          type: integer
        next:
          format: uri
          type: string
        previous:
          format: uri
          type: string
        results:
          items:
            $ref: '#/components/schemas/AquiferVulnerability'
          type: array
      required:
      - count
      - results
      type: object
    aquifer_codes_water_use_list_200_response:
      example:
        next: https://openapi-generator.tech
        previous: https://openapi-generator.tech
        count: 0
        results:
        - code: code
          description: description
        - code: code
          description: description
      properties:
        count:
          type: integer
        next:
          format: uri
          type: string
        previous:
          format: uri
          type: string
        results:
          items:
            $ref: '#/components/schemas/WaterUse'
          type: array
      required:
      - count
      - results
      type: object
    aquifers_list_200_response:
      example:
        next: https://openapi-generator.tech
        previous: https://openapi-generator.tech
        count: 0
        results:
        - area: area
          notes: notes
          productivity_description: productivity_description
          vulnerability: vulnerability
          vulnerability_description: vulnerability_description
          location_description: location_description
          demand: demand
          litho_stratographic_unit: litho_stratographic_unit
          known_water_use: known_water_use
          known_water_use_description: known_water_use_description
          subtype_description: subtype_description
          mapping_year: 1994
          aquifer_name: aquifer_name
          demand_description: demand_description
          material: material
          productivity: productivity
          subtype: subtype
          quality_concern_description: quality_concern_description
          aquifer_id: 6
          quality_concern: quality_concern
          material_description: material_description
        - area: area
          notes: notes
          productivity_description: productivity_description
          vulnerability: vulnerability
          vulnerability_description: vulnerability_description
          location_description: location_description
          demand: demand
          litho_stratographic_unit: litho_stratographic_unit
          known_water_use: known_water_use
          known_water_use_description: known_water_use_description
          subtype_description: subtype_description
          mapping_year: 1994
          aquifer_name: aquifer_name
          demand_description: demand_description
          material: material
          productivity: productivity
          subtype: subtype
          quality_concern_description: quality_concern_description
          aquifer_id: 6
          quality_concern: quality_concern
          material_description: material_description
      properties:
        count:
          type: integer
        next:
          format: uri
          type: string
        previous:
          format: uri
          type: string
        results:
          items:
            $ref: '#/components/schemas/Aquifer'
          type: array
      required:
      - count
      - results
      type: object
    aquifers_files_list_200_response_private_inner:
      example:
        name: name
        url: url
      properties:
        name:
          type: string
        url:
          type: string
      type: object
    aquifers_files_list_200_response:
      example:
        private:
        - name: name
          url: url
        - name: name
          url: url
        public:
        - name: name
          url: url
        - name: name
          url: url
      properties:
        private:
          items:
            $ref: '#/components/schemas/aquifers_files_list_200_response_private_inner'
          type: array
        public:
          items:
            $ref: '#/components/schemas/aquifers_files_list_200_response_private_inner'
          type: array
      type: object
    wells_list_200_response:
      example:
        next: https://openapi-generator.tech
        previous: https://openapi-generator.tech
        count: 0
        results:
        - utm_northing: 1847456234
          hydro_fracturing_performed: true
          testing_method: testing_method
          ground_elevation_method: ground_elevation_method
          yield_estimation_rate: yield_estimation_rate
          surface_seal_material: surface_seal_material
          filter_pack_to: filter_pack_to
          decommission_details: decommission_details
          owner_full_name: owner_full_name
          water_quality_odour: water_quality_odour
          screen_information: screen_information
          artesian_flow: artesian_flow
          drilling_company: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          hydraulic_conductivity: hydraulic_conductivity
          legal_district_lot: legal_district_lot
          development_notes: development_notes
          screen_intake_method: screen_intake_method
          well_guid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          water_supply_system_well_name: water_supply_system_well_name
          water_quality_colour: water_quality_colour
          decommission_end_date: 2000-01-23
          backfill_depth: backfill_depth
          legal_range: legal_range
          legal_lot: legal_lot
          aquifer_vulnerability_index: aquifer_vulnerability_index
          screen_bottom: screen_bottom
          development_hours: development_hours
          screen_type: screen_type
          city: city
          backfill_material: backfill_material
          latitude: latitude
          final_casing_stick_up: final_casing_stick_up
          land_district: land_district
          legal_section: legal_section
          boundary_effect: boundary_effect
          decommission_start_date: 2000-01-23
          utm_easting: 885365090
          licenced_status: licenced_status
          drawdown: drawdown
          screen_material: screen_material
          bcgs_id: 1
          artesian_pressure: artesian_pressure
          observation_well_number: observation_well_number
          legal_township: legal_township
          well_cap_type: well_cap_type
          legal_plan: legal_plan
          yield_estimation_method: yield_estimation_method
          other_drilling_method: other_drilling_method
          filter_pack_material: filter_pack_material
          observation_well_status: observation_well_status
          well_yield_unit: well_yield_unit
          hydro_fracturing_yield_increase: hydro_fracturing_yield_increase
          yield_estimation_duration: yield_estimation_duration
          construction_end_date: 2000-01-23
          surface_seal_length: surface_seal_length
          backfill_type: backfill_type
          specific_yield: specific_yield
          well_disinfected: true
          coordinate_acquisition_code: coordinate_acquisition_code
          sealant_material: sealant_material
          filter_pack_from: filter_pack_from
          well_identification_plate_attached: well_identification_plate_attached
          development_method: development_method
          drilling_method: drilling_method
          liner_material: liner_material
          liner_thickness: liner_thickness
          static_water_level: static_water_level
          surface_seal_method: surface_seal_method
          well_location_description: well_location_description
          well_orientation: true
          other_screen_material: other_screen_material
          well_subclass: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          diameter: diameter
          recommended_pump_depth: recommended_pump_depth
          longitude: longitude
          surface_seal_depth: surface_seal_depth
          legal_block: legal_block
          decommission_method: decommission_method
          storativity: storativity
          id_plate_attached_by: id_plate_attached_by
          filter_pack_thickness: filter_pack_thickness
          intended_water_use: intended_water_use
          transmissivity: transmissivity
          filter_pack_material_size: filter_pack_material_size
          well_tag_number: 3
          surface_seal_thickness: surface_seal_thickness
          water_quality_characteristics:
          - water_quality_characteristics
          - water_quality_characteristics
          liner_to: liner_to
          alteration_end_date: 2000-01-23
          bedrock_depth: bedrock_depth
          ground_elevation: ground_elevation
          utm_zone_code: utm_zone_code
          liner_diameter: liner_diameter
          recommended_pump_rate: recommended_pump_rate
          street_address: street_address
          well_class: well_class
          alternative_specs_submitted: true
          other_screen_bottom: other_screen_bottom
          decommission_reason: decommission_reason
          finished_well_depth: finished_well_depth
          analytic_solution_type: analytic_solution_type
          ems: ems
          screen_opening: screen_opening
          water_supply_system_name: water_supply_system_name
          liner_from: liner_from
          static_level_before_test: static_level_before_test
          testing_duration: 494379917
          comments: comments
          well_yield: well_yield
          well_status: well_status
          specific_storage: specific_storage
          identification_plate_number: 1280358508
          construction_start_date: 2000-01-23
          legal_pid: 1210617418
          total_depth_drilled: total_depth_drilled
          aquifer: 6
        - utm_northing: 1847456234
          hydro_fracturing_performed: true
          testing_method: testing_method
          ground_elevation_method: ground_elevation_method
          yield_estimation_rate: yield_estimation_rate
          surface_seal_material: surface_seal_material
          filter_pack_to: filter_pack_to
          decommission_details: decommission_details
          owner_full_name: owner_full_name
          water_quality_odour: water_quality_odour
          screen_information: screen_information
          artesian_flow: artesian_flow
          drilling_company: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          hydraulic_conductivity: hydraulic_conductivity
          legal_district_lot: legal_district_lot
          development_notes: development_notes
          screen_intake_method: screen_intake_method
          well_guid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          water_supply_system_well_name: water_supply_system_well_name
          water_quality_colour: water_quality_colour
          decommission_end_date: 2000-01-23
          backfill_depth: backfill_depth
          legal_range: legal_range
          legal_lot: legal_lot
          aquifer_vulnerability_index: aquifer_vulnerability_index
          screen_bottom: screen_bottom
          development_hours: development_hours
          screen_type: screen_type
          city: city
          backfill_material: backfill_material
          latitude: latitude
          final_casing_stick_up: final_casing_stick_up
          land_district: land_district
          legal_section: legal_section
          boundary_effect: boundary_effect
          decommission_start_date: 2000-01-23
          utm_easting: 885365090
          licenced_status: licenced_status
          drawdown: drawdown
          screen_material: screen_material
          bcgs_id: 1
          artesian_pressure: artesian_pressure
          observation_well_number: observation_well_number
          legal_township: legal_township
          well_cap_type: well_cap_type
          legal_plan: legal_plan
          yield_estimation_method: yield_estimation_method
          other_drilling_method: other_drilling_method
          filter_pack_material: filter_pack_material
          observation_well_status: observation_well_status
          well_yield_unit: well_yield_unit
          hydro_fracturing_yield_increase: hydro_fracturing_yield_increase
          yield_estimation_duration: yield_estimation_duration
          construction_end_date: 2000-01-23
          surface_seal_length: surface_seal_length
[...]
