openapi: 3.0.1
info:
  description: "Provides create, read, update and delete functionality for Azure SQL\
    \ Database resources including recommendations and operations."
  title: Azure SQL Database
  version: 2014-04-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/sql/resource-manager/Microsoft.Sql/stable/2014-04-01/sql.core.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: sql-sql.core
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/serviceTierAdvisors
  : get:
      description: Returns service tier advisors for specified database.
      operationId: service_tier_advisors_list_by_database
      parameters:
      - description: The API version to use for the request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: serverName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of database.
        in: path
        name: databaseName
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceTierAdvisorListResult'
          description: OK
      tags:
      - ServiceTierAdvisors
      x-ms-examples:
        Get a list of a service tier advisors:
          parameters:
            api-version: 2014-04-01
            databaseName: sqlcrudtest-9187
            resourceGroupName: sqlcrudtest-6852
            serverName: sqlcrudtest-2080
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6852/providers/Microsoft.Sql/servers/sqlcrudtest-2080/databases/sqlcrudtest-9187/serviceTierAdvisors/Current
                  name: Current
                  properties:
                    activeTimeRatio: 0
                    avgDtu: 0
                    confidence: 1
                    currentServiceLevelObjective: S0
                    currentServiceLevelObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                    maxDtu: 0
                    maxSizeInGB: 0.0234375
                    minDtu: 0
                    observationPeriodEnd: 2017-07-26T13:00:00Z
                    observationPeriodStart: 2017-07-12T12:00:00Z
                    serviceLevelObjectiveUsageMetrics:
                    - inRangeTimeRatio: 1
                      serviceLevelObjective: Basic
                      serviceLevelObjectiveId: dd6d99bb-f193-4ec1-86f2-43d3bccbc49c
                  type: Microsoft.Sql/servers/databases/serviceTierAdvisors
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.service_tier_advisors_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/serviceTierAdvisors/{serviceTierAdvisorName}
  : get:
      description: Gets a service tier advisor.
      operationId: service_tier_advisors_get
      parameters:
      - description: The API version to use for the request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: server_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of database.
        in: path
        name: databaseName
        required: true
        schema:
          type: string
      - description: The name of service tier advisor.
        in: path
        name: serviceTierAdvisorName
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceTierAdvisor'
          description: OK
      tags:
      - ServiceTierAdvisors
      x-ms-examples:
        Get a service tier advisor:
          parameters:
            api-version: 2014-04-01
            databaseName: sqlcrudtest-9187
            resourceGroupName: sqlcrudtest-6852
            serverName: sqlcrudtest-2080
            serviceTierAdvisorName: Current
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6852/providers/Microsoft.Sql/servers/sqlcrudtest-2080/databases/sqlcrudtest-9187/serviceTierAdvisors/Current
                name: Current
                properties:
                  activeTimeRatio: 0
                  avgDtu: 0
                  confidence: 1
                  currentServiceLevelObjective: S0
                  currentServiceLevelObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  maxDtu: 0
                  maxSizeInGB: 0.0234375
                  minDtu: 0
                  observationPeriodEnd: 2017-07-26T13:00:00Z
                  observationPeriodStart: 2017-07-12T12:00:00Z
                  serviceLevelObjectiveUsageMetrics:
                  - inRangeTimeRatio: 1
                    serviceLevelObjective: Basic
                    serviceLevelObjectiveId: dd6d99bb-f193-4ec1-86f2-43d3bccbc49c
                type: Microsoft.Sql/servers/databases/serviceTierAdvisors
      x-openapi-router-controller: openapi_server.controllers.service_tier_advisors_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/transparentDataEncryption/{transparentDataEncryptionName}
  : get:
      description: Gets a database's transparent data encryption configuration.
      operationId: transparent_data_encryptions_get
      parameters:
      - description: The API version to use for the request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: server_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the database for which the transparent data encryption
          applies.
        in: path
        name: databaseName
        required: true
        schema:
          type: string
      - description: The name of the transparent data encryption configuration.
        in: path
        name: transparentDataEncryptionName
        required: true
        schema:
          enum:
          - current
          type: string
          x-ms-enum:
            modelAsString: true
            name: TransparentDataEncryptionName
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: TransparentDataEncryptionName
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransparentDataEncryption'
          description: OK
      tags:
      - TransparentDataEncryption
      x-ms-examples:
        Get a database's transparent data encryption configuration:
          parameters:
            api-version: 2014-04-01
            databaseName: sqlcrudtest-9187
            resourceGroupName: sqlcrudtest-6852
            serverName: sqlcrudtest-2080
            subscriptionId: 00000000-1111-2222-3333-444444444444
            transparentDataEncryptionName: current
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6852/providers/Microsoft.Sql/servers/sqlcrudtest-2080/databases/sqlcrudtest-9187/transparentDataEncryption/current
                location: North Europe
                name: current
                properties:
                  status: Enabled
                type: Microsoft.Sql/servers/databases/transparentDataEncryption
      x-openapi-router-controller: openapi_server.controllers.transparent_data_encryption_controller
    put:
      description: Creates or updates a database's transparent data encryption configuration.
      operationId: transparent_data_encryptions_create_or_update
      parameters:
      - description: The API version to use for the request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: server_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the database for which setting the transparent data
          encryption applies.
        in: path
        name: databaseName
        required: true
        schema:
          type: string
      - description: The name of the transparent data encryption configuration.
        in: path
        name: transparent_data_encryption_name
        required: true
        schema:
          enum:
          - current
          type: string
          x-ms-enum:
            modelAsString: true
            name: TransparentDataEncryptionName
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: TransparentDataEncryptionName
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransparentDataEncryption'
        description: The required parameters for creating or updating transparent
          data encryption.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransparentDataEncryption'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransparentDataEncryption'
          description: Created
      tags:
      - TransparentDataEncryption
      x-ms-examples:
        Create or update a database's transparent data encryption configuration:
          parameters:
            api-version: 2014-04-01
            databaseName: sqlcrudtest-9187
            parameters:
              properties:
                status: Enabled
            resourceGroupName: sqlcrudtest-6852
            serverName: sqlcrudtest-2080
            subscriptionId: 00000000-1111-2222-3333-444444444444
            transparentDataEncryptionName: current
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6852/providers/Microsoft.Sql/servers/sqlcrudtest-2080/databases/sqlcrudtest-9187/transparentDataEncryption/current
                location: North Europe
                name: current
                properties:
                  status: Enabled
                type: Microsoft.Sql/servers/databases/transparentDataEncryption
            "201":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6852/providers/Microsoft.Sql/servers/sqlcrudtest-2080/databases/sqlcrudtest-9187/transparentDataEncryption/current
                location: North Europe
                name: current
                properties:
                  status: Enabled
                type: Microsoft.Sql/servers/databases/transparentDataEncryption
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.transparent_data_encryption_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/transparentDataEncryption/{transparentDataEncryptionName}/operationResults
  : get:
      description: Returns a database's transparent data encryption operation result.
      operationId: transparent_data_encryption_activities_list_by_configuration
      parameters:
      - description: The API version to use for the request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: server_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the database for which the transparent data encryption
          applies.
        in: path
        name: databaseName
        required: true
        schema:
          type: string
      - description: The name of the transparent data encryption configuration.
        in: path
        name: transparent_data_encryption_name
        required: true
        schema:
          enum:
          - current
          type: string
          x-ms-enum:
            modelAsString: true
            name: TransparentDataEncryptionName
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: TransparentDataEncryptionName
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransparentDataEncryptionActivityListResult'
          description: OK
      tags:
      - TransparentDataEncryption
      x-ms-examples:
        List a database's transparent data encryption activities:
          parameters:
            api-version: 2014-04-01
            databaseName: sqlcrudtest-9187
            resourceGroupName: sqlcrudtest-6852
            serverName: sqlcrudtest-2080
            subscriptionId: 00000000-1111-2222-3333-444444444444
            transparentDataEncryptionName: current
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6852/providers/Microsoft.Sql/servers/sqlcrudtest-2080/databases/sqlcrudtest-9187/transparentDataEncryption/current/operationResults/current
                  location: West US
                  name: current
                  properties:
                    percentComplete: 100
                    status: Encrypting
                  type: Microsoft.Sql/servers/databases/transparentDataEncryption/operationResults
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.transparent_data_encryption_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/elasticPools/{elasticPoolName}/elasticPoolActivity
  : get:
      description: Returns elastic pool activities.
      operationId: elastic_pool_activities_list_by_elastic_pool
      parameters:
      - description: The API version to use for the request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: server_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the elastic pool for which to get the current activity.
        in: path
        name: elasticPoolName
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ElasticPoolActivityListResult'
          description: OK
      tags:
      - ElasticPools
      x-ms-examples:
        List Elastic pool activity:
          parameters:
            api-version: 2014-04-01
            elasticPoolName: "8749"
            resourceGroupName: sqlcrudtest-4291
            serverName: sqlcrudtest-6574
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4291/providers/Microsoft.Sql/servers/sqlcrudtest-6574/elasticPools/8749/elasticPoolActivity/851f1672-f7f0-46f6-a262-ee9b51e18e97
                  location: Japan East
                  name: 851f1672-f7f0-46f6-a262-ee9b51e18e97
                  properties:
                    elasticPoolName: "8749"
                    endTime: 2017-02-10T02:03:23.263Z
                    operation: CREATE
                    operationId: 851f1672-f7f0-46f6-a262-ee9b51e18e97
                    percentComplete: 100
                    requestedDatabaseDtuCap: 5
                    requestedDatabaseDtuGuarantee: 0
                    requestedDtuGuarantee: 100
                    requestedStorageLimitInGB: 9
                    requestedStorageLimitInMB: 10000
                    serverName: sqlcrudtest-6574
                    startTime: 2017-02-10T02:03:06.16Z
                    state: COMPLETED
                  type: Microsoft.Sql/servers/elasticPools/elasticPoolActivity
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.elastic_pools_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/elasticPools/{elasticPoolName}/elasticPoolDatabaseActivity
  : get:
      description: Returns activity on databases inside of an elastic pool.
      operationId: elastic_pool_database_activities_list_by_elastic_pool
      parameters:
      - description: The API version to use for the request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: server_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the elastic pool.
        in: path
        name: elasticPoolName
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ElasticPoolDatabaseActivityListResult'
          description: OK
      tags:
      - ElasticPools
      x-ms-examples:
        List elastic pool database activity:
          parameters:
            api-version: 2014-04-01
            elasticPoolName: "7537"
            resourceGroupName: sqlcrudtest-4673
            serverName: sqlcrudtest-603
            subscriptionId: 9d4e2ad0-e20b-4464-9219-353bded52513
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/9d4e2ad0-e20b-4464-9219-353bded52513/resourceGroups/sqlcrudtest-4673/providers/Microsoft.Sql/servers/sqlcrudtest-603/elasticPools/7537/elasticPoolDatabaseActivity/3a3272b3-f1fe-423c-9feb-7b843157eda5
                  location: Japan East
                  name: 3a3272b3-f1fe-423c-9feb-7b843157eda5
                  properties:
                    currentElasticPoolName: "7537"
                    currentServiceObjective: ElasticPool
                    databaseName: "2396"
                    endTime: 2016-10-23T03:08:02.95
                    operation: UPDATE
                    operationId: 3a3272b3-f1fe-423c-9feb-7b843157eda5
                    percentComplete: 100
                    serverName: sqlcrudtest-603
                    startTime: 2016-10-23T03:07:12.577
                    state: COMPLETED
                  type: Microsoft.Sql/servers/elasticPools/elasticPoolDatabaseActivity
                - id: /subscriptions/9d4e2ad0-e20b-4464-9219-353bded52513/resourceGroups/sqlcrudtest-4673/providers/Microsoft.Sql/servers/sqlcrudtest-603/elasticPools/7537/elasticPoolDatabaseActivity/95108a78-384e-48d3-b4de-7bf23b93a26d
                  location: Japan East
                  name: 95108a78-384e-48d3-b4de-7bf23b93a26d
                  properties:
                    currentElasticPoolName: "7537"
                    currentServiceObjective: ElasticPool
                    databaseName: "2396"
                    endTime: 2016-10-23T03:06:49.197
                    operation: CREATE
                    operationId: 95108a78-384e-48d3-b4de-7bf23b93a26d
                    percentComplete: 100
                    serverName: sqlcrudtest-603
                    startTime: 2016-10-23T03:06:11.19
                    state: COMPLETED
                  type: Microsoft.Sql/servers/elasticPools/elasticPoolDatabaseActivity
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.elastic_pools_controller
components:
  parameters:
    DatabaseExpandParameter:
      description: "A comma separated list of child objects to expand in the response.\
        \ Possible properties: serviceTierAdvisors, transparentDataEncryption."
      in: query
      name: $expand
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ServerNameParameter:
      description: The name of the server.
      in: path
      name: serverName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    TransparentDataEncryptionNameParameter:
      description: The name of the transparent data encryption configuration.
      in: path
      name: transparentDataEncryptionName
      required: true
      schema:
        enum:
        - current
        type: string
        x-ms-enum:
          modelAsString: true
          name: TransparentDataEncryptionName
        x-ms-parameter-location: method
      x-ms-enum:
        modelAsString: true
        name: TransparentDataEncryptionName
      x-ms-parameter-location: method
  schemas:
    ElasticPoolActivity:
      allOf:
      - allOf:
        - description: ARM resource.
          properties:
            id:
              description: Resource ID.
              readOnly: true
              type: string
            name:
              description: Resource name.
              readOnly: true
              type: string
            type:
              description: Resource type.
              readOnly: true
              type: string
          type: object
          x-ms-azure-resource: true
        description: ARM proxy resource.
      description: Represents the activity on an elastic pool.
      example:
        location: location
        properties:
          elasticPoolName: elasticPoolName
          requestedDtuGuarantee: 3
          requestedDatabaseDtuGuarantee: 5
          requestedDatabaseDtuMin: 7
          errorMessage: errorMessage
          errorSeverity: 6
          errorCode: 0
          serverName: serverName
          percentComplete: 1
          requestedDtu: 9
          requestedElasticPoolName: requestedElasticPoolName
          requestedStorageLimitInMB: 4
          requestedStorageLimitInGB: 2
          requestedDatabaseDtuMax: 2
          operationId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          requestedDatabaseDtuCap: 5
          startTime: 2000-01-23T04:56:07.000+00:00
          endTime: 2000-01-23T04:56:07.000+00:00
          state: state
          operation: operation
      properties:
        location:
          description: The geo-location where the resource lives
          title: location
          type: string
          x-ms-mutability:
          - read
          - create
        properties:
          $ref: '#/components/schemas/ElasticPoolActivityProperties'
      title: ElasticPoolActivity
    ElasticPoolActivityListResult:
      description: Represents the response to a list elastic pool activity request.
      example:
        value:
        - location: location
          properties:
            elasticPoolName: elasticPoolName
            requestedDtuGuarantee: 3
            requestedDatabaseDtuGuarantee: 5
            requestedDatabaseDtuMin: 7
            errorMessage: errorMessage
            errorSeverity: 6
            errorCode: 0
            serverName: serverName
            percentComplete: 1
            requestedDtu: 9
            requestedElasticPoolName: requestedElasticPoolName
            requestedStorageLimitInMB: 4
            requestedStorageLimitInGB: 2
            requestedDatabaseDtuMax: 2
            operationId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            requestedDatabaseDtuCap: 5
            startTime: 2000-01-23T04:56:07.000+00:00
            endTime: 2000-01-23T04:56:07.000+00:00
            state: state
            operation: operation
        - location: location
          properties:
            elasticPoolName: elasticPoolName
            requestedDtuGuarantee: 3
            requestedDatabaseDtuGuarantee: 5
            requestedDatabaseDtuMin: 7
            errorMessage: errorMessage
            errorSeverity: 6
            errorCode: 0
            serverName: serverName
            percentComplete: 1
            requestedDtu: 9
            requestedElasticPoolName: requestedElasticPoolName
            requestedStorageLimitInMB: 4
            requestedStorageLimitInGB: 2
            requestedDatabaseDtuMax: 2
            operationId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            requestedDatabaseDtuCap: 5
            startTime: 2000-01-23T04:56:07.000+00:00
            endTime: 2000-01-23T04:56:07.000+00:00
            state: state
            operation: operation
      properties:
        value:
          description: The list of elastic pool activities.
          items:
            $ref: '#/components/schemas/ElasticPoolActivity'
          title: value
          type: array
      required:
      - value
      title: ElasticPoolActivityListResult
      type: object
    ElasticPoolActivityProperties:
      description: Represents the properties of an elastic pool.
      example:
        elasticPoolName: elasticPoolName
        requestedDtuGuarantee: 3
        requestedDatabaseDtuGuarantee: 5
        requestedDatabaseDtuMin: 7
        errorMessage: errorMessage
        errorSeverity: 6
        errorCode: 0
        serverName: serverName
        percentComplete: 1
        requestedDtu: 9
        requestedElasticPoolName: requestedElasticPoolName
        requestedStorageLimitInMB: 4
        requestedStorageLimitInGB: 2
        requestedDatabaseDtuMax: 2
        operationId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        requestedDatabaseDtuCap: 5
        startTime: 2000-01-23T04:56:07.000+00:00
        endTime: 2000-01-23T04:56:07.000+00:00
        state: state
        operation: operation
      properties:
        elasticPoolName:
          description: The name of the elastic pool.
          readOnly: true
          title: elasticPoolName
          type: string
        endTime:
          description: The time the operation finished (ISO8601 format).
          format: date-time
          readOnly: true
          title: endTime
          type: string
        errorCode:
          description: The error code if available.
          format: int32
          readOnly: true
          title: errorCode
          type: integer
        errorMessage:
          description: The error message if available.
          readOnly: true
          title: errorMessage
          type: string
        errorSeverity:
          description: The error severity if available.
          format: int32
          readOnly: true
          title: errorSeverity
          type: integer
        operation:
          description: The operation name.
          readOnly: true
          title: operation
          type: string
        operationId:
          description: The unique operation ID.
          format: uuid
          nullable: false
          readOnly: true
          title: operationId
          type: string
        percentComplete:
          description: The percentage complete if available.
          format: int32
          readOnly: true
          title: percentComplete
          type: integer
        requestedDatabaseDtuCap:
          description: The requested per database DTU cap.
          format: int32
          readOnly: true
          title: requestedDatabaseDtuCap
          type: integer
        requestedDatabaseDtuGuarantee:
          description: The requested per database DTU guarantee.
          format: int32
          readOnly: true
          title: requestedDatabaseDtuGuarantee
          type: integer
        requestedDatabaseDtuMax:
          description: The requested max DTU per database if available.
          format: int32
          readOnly: true
          title: requestedDatabaseDtuMax
          type: integer
        requestedDatabaseDtuMin:
          description: The requested min DTU per database if available.
          format: int32
          readOnly: true
          title: requestedDatabaseDtuMin
          type: integer
        requestedDtu:
          description: The requested DTU for the pool if available.
          format: int32
          readOnly: true
          title: requestedDtu
          type: integer
        requestedDtuGuarantee:
          description: The requested DTU guarantee.
          format: int32
          readOnly: true
          title: requestedDtuGuarantee
          type: integer
        requestedElasticPoolName:
          description: The requested name for the elastic pool if available.
          readOnly: true
          title: requestedElasticPoolName
          type: string
        requestedStorageLimitInGB:
          description: The requested storage limit for the pool in GB if available.
          format: int64
          readOnly: true
          title: requestedStorageLimitInGB
          type: integer
        requestedStorageLimitInMB:
          description: The requested storage limit in MB.
          format: int32
          readOnly: true
          title: requestedStorageLimitInMB
          type: integer
        serverName:
          description: The name of the server the elastic pool is in.
          readOnly: true
          title: serverName
          type: string
        startTime:
          description: The time the operation started (ISO8601 format).
          format: date-time
          readOnly: true
          title: startTime
          type: string
        state:
          description: The current state of the operation.
          readOnly: true
          title: state
          type: string
      title: ElasticPoolActivityProperties
      type: object
    ElasticPoolDatabaseActivity:
      allOf:
      - allOf:
        - description: ARM resource.
          properties:
            id:
              description: Resource ID.
              readOnly: true
              type: string
            name:
              description: Resource name.
              readOnly: true
              type: string
            type:
              description: Resource type.
              readOnly: true
              type: string
          type: object
          x-ms-azure-resource: true
        description: ARM proxy resource.
      description: Represents the activity on an elastic pool.
      example:
        location: location
        properties:
          databaseName: databaseName
          currentElasticPoolName: currentElasticPoolName
          errorMessage: errorMessage
          errorSeverity: 6
          errorCode: 0
          serverName: serverName
          percentComplete: 1
          currentServiceObjective: currentServiceObjective
          requestedElasticPoolName: requestedElasticPoolName
          requestedServiceObjective: requestedServiceObjective
          operationId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          startTime: 2000-01-23T04:56:07.000+00:00
          endTime: 2000-01-23T04:56:07.000+00:00
          state: state
          operation: operation
      properties:
        location:
          description: The geo-location where the resource lives
          title: location
          type: string
          x-ms-mutability:
          - read
          - create
        properties:
          $ref: '#/components/schemas/ElasticPoolDatabaseActivityProperties'
      title: ElasticPoolDatabaseActivity
    ElasticPoolDatabaseActivityListResult:
      description: Represents the response to a list elastic pool database activity
        request.
      example:
        value:
        - location: location
          properties:
            databaseName: databaseName
            currentElasticPoolName: currentElasticPoolName
            errorMessage: errorMessage
            errorSeverity: 6
            errorCode: 0
            serverName: serverName
            percentComplete: 1
            currentServiceObjective: currentServiceObjective
            requestedElasticPoolName: requestedElasticPoolName
            requestedServiceObjective: requestedServiceObjective
            operationId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            startTime: 2000-01-23T04:56:07.000+00:00
            endTime: 2000-01-23T04:56:07.000+00:00
            state: state
            operation: operation
        - location: location
          properties:
            databaseName: databaseName
            currentElasticPoolName: currentElasticPoolName
            errorMessage: errorMessage
            errorSeverity: 6
            errorCode: 0
            serverName: serverName
            percentComplete: 1
            currentServiceObjective: currentServiceObjective
            requestedElasticPoolName: requestedElasticPoolName
            requestedServiceObjective: requestedServiceObjective
            operationId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            startTime: 2000-01-23T04:56:07.000+00:00
            endTime: 2000-01-23T04:56:07.000+00:00
            state: state
            operation: operation
      properties:
        value:
          description: The list of elastic pool database activities.
          items:
            $ref: '#/components/schemas/ElasticPoolDatabaseActivity'
          title: value
          type: array
      required:
      - value
      title: ElasticPoolDatabaseActivityListResult
      type: object
    ElasticPoolDatabaseActivityProperties:
      description: Represents the properties of an elastic pool database activity.
      example:
        databaseName: databaseName
        currentElasticPoolName: currentElasticPoolName
        errorMessage: errorMessage
        errorSeverity: 6
        errorCode: 0
        serverName: serverName
        percentComplete: 1
        currentServiceObjective: currentServiceObjective
        requestedElasticPoolName: requestedElasticPoolName
        requestedServiceObjective: requestedServiceObjective
        operationId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        startTime: 2000-01-23T04:56:07.000+00:00
        endTime: 2000-01-23T04:56:07.000+00:00
        state: state
        operation: operation
      properties:
        currentElasticPoolName:
          description: The name of the current elastic pool the database is in if
            available.
          readOnly: true
          title: currentElasticPoolName
          type: string
        currentServiceObjective:
          description: The name of the current service objective if available.
          readOnly: true
          title: currentServiceObjective
          type: string
        databaseName:
          description: The database name.
          readOnly: true
          title: databaseName
          type: string
        endTime:
          description: The time the operation finished (ISO8601 format).
          format: date-time
          readOnly: true
          title: endTime
          type: string
        errorCode:
          description: The error code if available.
          format: int32
          readOnly: true
          title: errorCode
          type: integer
        errorMessage:
          description: The error message if available.
          readOnly: true
          title: errorMessage
          type: string
        errorSeverity:
          description: The error severity if available.
          format: int32
          readOnly: true
          title: errorSeverity
          type: integer
        operation:
          description: The operation name.
          readOnly: true
          title: operation
          type: string
        operationId:
          description: The unique operation ID.
          format: uuid
          nullable: false
          readOnly: true
          title: operationId
          type: string
        percentComplete:
          description: The percentage complete if available.
          format: int32
          readOnly: true
          title: percentComplete
          type: integer
        requestedElasticPoolName:
          description: The name for the elastic pool the database is moving into if
            available.
          readOnly: true
          title: requestedElasticPoolName
          type: string
        requestedServiceObjective:
          description: The name of the requested service objective if available.
          readOnly: true
          title: requestedServiceObjective
          type: string
        serverName:
          description: The name of the server the elastic pool is in.
          readOnly: true
          title: serverName
          type: string
        startTime:
          description: The time the operation started (ISO8601 format).
          format: date-time
          readOnly: true
          title: startTime
          type: string
        state:
          description: The current state of the operation.
          readOnly: true
          title: state
          type: string
      title: ElasticPoolDatabaseActivityProperties
      type: object
    OperationImpact:
      description: "The impact of an operation, both in absolute and relative terms."
      properties:
        changeValueAbsolute:
          description: The absolute impact to dimension.
          format: double
          readOnly: true
          title: changeValueAbsolute
          type: number
        changeValueRelative:
          description: The relative impact to dimension (null if not applicable)
          format: double
          readOnly: true
          title: changeValueRelative
          type: number
        name:
          description: The name of the impact dimension.
          readOnly: true
          title: name
          type: string
        unit:
          description: The unit in which estimated impact to dimension is measured.
          readOnly: true
          title: unit
          type: string
      title: OperationImpact
      type: object
    RecommendedIndex:
      allOf:
      - allOf:
        - description: ARM resource.
          properties:
            id:
              description: Resource ID.
              readOnly: true
              type: string
            name:
              description: Resource name.
              readOnly: true
              type: string
            type:
              description: Resource type.
              readOnly: true
              type: string
          type: object
          x-ms-azure-resource: true
        description: ARM proxy resource.
      description: Represents a database recommended index.
      properties:
        properties:
          $ref: '#/components/schemas/RecommendedIndexProperties'
    RecommendedIndexProperties:
      description: Represents the properties of a database recommended index.
      properties:
        action:
          description: "The proposed index action. You can create a missing index,\
            \ drop an unused index, or rebuild an existing index to improve its performance."
          enum:
          - Create
          - Drop
          - Rebuild
          readOnly: true
          title: action
          type: string
          x-ms-enum:
            name: RecommendedIndexAction
        columns:
          description: Columns over which to build index
          items:
            type: string
          readOnly: true
          title: columns
          type: array
        created:
          description: The UTC datetime showing when this resource was created (ISO8601
            format).
          format: date-time
          readOnly: true
          title: created
          type: string
        estimatedImpact:
          description: The estimated impact of doing recommended index action.
          items:
            $ref: '#/components/schemas/OperationImpact'
          readOnly: true
          title: estimatedImpact
          type: array
        includedColumns:
          description: The list of column names to be included in the index
          items:
            type: string
          readOnly: true
          title: includedColumns
          type: array
        indexScript:
          description: The full build index script
          readOnly: true
          title: indexScript
          type: string
        indexType:
          description: "The type of index (CLUSTERED, NONCLUSTERED, COLUMNSTORE, CLUSTERED\
            \ COLUMNSTORE)"
          enum:
          - CLUSTERED
          - NONCLUSTERED
          - COLUMNSTORE
          - CLUSTERED COLUMNSTORE
          readOnly: true
          title: indexType
          type: string
          x-ms-enum:
            name: RecommendedIndexType
        lastModified:
          description: The UTC datetime of when was this resource last changed (ISO8601
            format).
          format: date-time
          readOnly: true
          title: lastModified
          type: string
        reportedImpact:
          description: The values reported after index action is complete.
          items:
            $ref: '#/components/schemas/OperationImpact'
          readOnly: true
          title: reportedImpact
          type: array
        schema:
          description: The schema where table to build index over resides
          readOnly: true
          title: schema
          type: string
        state:
          description: The current recommendation state.
          enum:
          - Active
          - Pending
          - Executing
          - Verifying
          - Pending Revert
          - Reverting
          - Reverted
          - Ignored
          - Expired
          - Blocked
          - Success
          readOnly: true
          title: state
          type: string
          x-ms-enum:
            name: RecommendedIndexState
        table:
          description: The table on which to build index.
          readOnly: true
          title: table
          type: string
      title: RecommendedIndexProperties
      type: object
    ServiceTierAdvisor:
      allOf:
      - allOf:
        - description: ARM resource.
          properties:
            id:
              description: Resource ID.
              readOnly: true
              type: string
            name:
              description: Resource name.
              readOnly: true
              type: string
            type:
              description: Resource type.
              readOnly: true
              type: string
          type: object
          x-ms-azure-resource: true
        description: ARM proxy resource.
      description: Represents a Service Tier Advisor.
      example:
        properties:
          currentServiceLevelObjective: currentServiceLevelObjective
          databaseSizeBasedRecommendationServiceLevelObjective: databaseSizeBasedRecommendationServiceLevelObjective
          overallRecommendationServiceLevelObjective: overallRecommendationServiceLevelObjective
          avgDtu: 6.027456183070403
          confidence: 1.4658129805029452
          overallRecommendationServiceLevelObjectiveId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          minDtu: 2.3021358869347655
          disasterPlanBasedRecommendationServiceLevelObjectiveId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          usageBasedRecommendationServiceLevelObjectiveId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          maxDtu: 5.962133916683182
          serviceLevelObjectiveUsageMetrics:
          - serviceLevelObjectiveId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            serviceLevelObjective: System
            inRangeTimeRatio: 7.061401241503109
          - serviceLevelObjectiveId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            serviceLevelObjective: System
            inRangeTimeRatio: 7.061401241503109
          observationPeriodEnd: 2000-01-23T04:56:07.000+00:00
          activeTimeRatio: 0.8008281904610115
          databaseSizeBasedRecommendationServiceLevelObjectiveId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          currentServiceLevelObjectiveId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          disasterPlanBasedRecommendationServiceLevelObjective: disasterPlanBasedRecommendationServiceLevelObjective
          observationPeriodStart: 2000-01-23T04:56:07.000+00:00
          maxSizeInGB: 5.637376656633329
          usageBasedRecommendationServiceLevelObjective: usageBasedRecommendationServiceLevelObjective
      properties:
        properties:
          $ref: '#/components/schemas/ServiceTierAdvisorProperties'
      title: ServiceTierAdvisor
    ServiceTierAdvisorListResult:
      description: Represents the response to a list service tier advisor request.
      example:
        value:
        - properties:
            currentServiceLevelObjective: currentServiceLevelObjective
            databaseSizeBasedRecommendationServiceLevelObjective: databaseSizeBasedRecommendationServiceLevelObjective
            overallRecommendationServiceLevelObjective: overallRecommendationServiceLevelObjective
            avgDtu: 6.027456183070403
            confidence: 1.4658129805029452
            overallRecommendationServiceLevelObjectiveId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            minDtu: 2.3021358869347655
            disasterPlanBasedRecommendationServiceLevelObjectiveId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            usageBasedRecommendationServiceLevelObjectiveId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            maxDtu: 5.962133916683182
            serviceLevelObjectiveUsageMetrics:
            - serviceLevelObjectiveId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              serviceLevelObjective: System
              inRangeTimeRatio: 7.061401241503109
            - serviceLevelObjectiveId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              serviceLevelObjective: System
              inRangeTimeRatio: 7.061401241503109
            observationPeriodEnd: 2000-01-23T04:56:07.000+00:00
            activeTimeRatio: 0.8008281904610115
            databaseSizeBasedRecommendationServiceLevelObjectiveId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            currentServiceLevelObjectiveId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            disasterPlanBasedRecommendationServiceLevelObjective: disasterPlanBasedRecommendationServiceLevelObjective
            observationPeriodStart: 2000-01-23T04:56:07.000+00:00
            maxSizeInGB: 5.637376656633329
            usageBasedRecommendationServiceLevelObjective: usageBasedRecommendationServiceLevelObjective
        - properties:
            currentServiceLevelObjective: currentServiceLevelObjective
            databaseSizeBasedRecommendationServiceLevelObjective: databaseSizeBasedRecommendationServiceLevelObjective
            overallRecommendationServiceLevelObjective: overallRecommendationServiceLevelObjective
            avgDtu: 6.027456183070403
            confidence: 1.4658129805029452
            overallRecommendationServiceLevelObjectiveId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            minDtu: 2.3021358869347655
            disasterPlanBasedRecommendationServiceLevelObjectiveId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            usageBasedRecommendationServiceLevelObjectiveId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            maxDtu: 5.962133916683182
            serviceLevelObjectiveUsageMetrics:
            - serviceLevelObjectiveId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              serviceLevelObjective: System
              inRangeTimeRatio: 7.061401241503109
            - serviceLevelObjectiveId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              serviceLevelObjective: System
              inRangeTimeRatio: 7.061401241503109
            observationPeriodEnd: 2000-01-23T04:56:07.000+00:00
            activeTimeRatio: 0.8008281904610115
            databaseSizeBasedRecommendationServiceLevelObjectiveId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            currentServiceLevelObjectiveId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            disasterPlanBasedRecommendationServiceLevelObjective: disasterPlanBasedRecommendationServiceLevelObjective
            observationPeriodStart: 2000-01-23T04:56:07.000+00:00
            maxSizeInGB: 5.637376656633329
            usageBasedRecommendationServiceLevelObjective: usageBasedRecommendationServiceLevelObjective
      properties:
        value:
          description: The list of service tier advisors for specified database.
          items:
            $ref: '#/components/schemas/ServiceTierAdvisor'
          title: value
          type: array
      required:
      - value
      title: ServiceTierAdvisorListResult
      type: object
    ServiceTierAdvisorProperties:
      description: Represents the properties of a Service Tier Advisor.
      example:
        currentServiceLevelObjective: currentServiceLevelObjective
        databaseSizeBasedRecommendationServiceLevelObjective: databaseSizeBasedRecommendationServiceLevelObjective
        overallRecommendationServiceLevelObjective: overallRecommendationServiceLevelObjective
        avgDtu: 6.027456183070403
        confidence: 1.4658129805029452
        overallRecommendationServiceLevelObjectiveId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        minDtu: 2.3021358869347655
        disasterPlanBasedRecommendationServiceLevelObjectiveId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        usageBasedRecommendationServiceLevelObjectiveId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        maxDtu: 5.962133916683182
        serviceLevelObjectiveUsageMetrics:
        - serviceLevelObjectiveId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          serviceLevelObjective: System
          inRangeTimeRatio: 7.061401241503109
        - serviceLevelObjectiveId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          serviceLevelObjective: System
          inRangeTimeRatio: 7.061401241503109
        observationPeriodEnd: 2000-01-23T04:56:07.000+00:00
        activeTimeRatio: 0.8008281904610115
        databaseSizeBasedRecommendationServiceLevelObjectiveId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        currentServiceLevelObjectiveId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        disasterPlanBasedRecommendationServiceLevelObjective: disasterPlanBasedRecommendationServiceLevelObjective
        observationPeriodStart: 2000-01-23T04:56:07.000+00:00
        maxSizeInGB: 5.637376656633329
        usageBasedRecommendationServiceLevelObjective: usageBasedRecommendationServiceLevelObjective
      properties:
        activeTimeRatio:
          description: The activeTimeRatio for service tier advisor.
          format: double
          readOnly: true
          title: activeTimeRatio
          type: number
        avgDtu:
          description: Gets or sets avgDtu for service tier advisor.
          format: double
          readOnly: true
          title: avgDtu
          type: number
        confidence:
          description: Gets or sets confidence for service tier advisor.
          format: double
          nullable: false
          readOnly: true
          title: confidence
          type: number
        currentServiceLevelObjective:
          description: Gets or sets currentServiceLevelObjective for service tier
            advisor.
          readOnly: true
          title: currentServiceLevelObjective
          type: string
        currentServiceLevelObjectiveId:
          description: Gets or sets currentServiceLevelObjectiveId for service tier
            advisor.
          format: uuid
          readOnly: true
          title: currentServiceLevelObjectiveId
          type: string
        databaseSizeBasedRecommendationServiceLevelObjective:
          description: Gets or sets databaseSizeBasedRecommendationServiceLevelObjective
            for service tier advisor.
          readOnly: true
          title: databaseSizeBasedRecommendationServiceLevelObjective
          type: string
        databaseSizeBasedRecommendationServiceLevelObjectiveId:
          description: Gets or sets databaseSizeBasedRecommendationServiceLevelObjectiveId
            for service tier advisor.
          format: uuid
          readOnly: true
          title: databaseSizeBasedRecommendationServiceLevelObjectiveId
          type: string
        disasterPlanBasedRecommendationServiceLevelObjective:
          description: Gets or sets disasterPlanBasedRecommendationServiceLevelObjective
            for service tier advisor.
          readOnly: true
          title: disasterPlanBasedRecommendationServiceLevelObjective
          type: string
        disasterPlanBasedRecommendationServiceLevelObjectiveId:
          description: Gets or sets disasterPlanBasedRecommendationServiceLevelObjectiveId
            for service tier advisor.
          format: uuid
          readOnly: true
          title: disasterPlanBasedRecommendationServiceLevelObjectiveId
          type: string
        maxDtu:
          description: Gets or sets maxDtu for service tier advisor.
          format: double
          readOnly: true
          title: maxDtu
          type: number
        maxSizeInGB:
          description: Gets or sets maxSizeInGB for service tier advisor.
          format: double
          readOnly: true
          title: maxSizeInGB
          type: number
        minDtu:
          description: Gets or sets minDtu for service tier advisor.
          format: double
          readOnly: true
          title: minDtu
          type: number
        observationPeriodEnd:
          description: The observation period start (ISO8601 format).
          format: date-time
          readOnly: true
          title: observationPeriodEnd
          type: string
        observationPeriodStart:
          description: The observation period start (ISO8601 format).
          format: date-time
          readOnly: true
          title: observationPeriodStart
          type: string
        overallRecommendationServiceLevelObjective:
          description: Gets or sets overallRecommendationServiceLevelObjective for
            service tier advisor.
          readOnly: true
          title: overallRecommendationServiceLevelObjective
          type: string
        overallRecommendationServiceLevelObjectiveId:
          description: Gets or sets overallRecommendationServiceLevelObjectiveId for
            service tier advisor.
          format: uuid
          readOnly: true
          title: overallRecommendationServiceLevelObjectiveId
          type: string
        serviceLevelObjectiveUsageMetrics:
          description: Gets or sets serviceLevelObjectiveUsageMetrics for the service
            tier advisor.
          items:
            $ref: '#/components/schemas/SloUsageMetric'
          readOnly: true
          title: serviceLevelObjectiveUsageMetrics
          type: array
        usageBasedRecommendationServiceLevelObjective:
          description: Gets or sets usageBasedRecommendationServiceLevelObjective
            for service tier advisor.
          readOnly: true
          title: usageBasedRecommendationServiceLevelObjective
          type: string
        usageBasedRecommendationServiceLevelObjectiveId:
          description: Gets or sets usageBasedRecommendationServiceLevelObjectiveId
            for service tier advisor.
          format: uuid
          readOnly: true
          title: usageBasedRecommendationServiceLevelObjectiveId
          type: string
      title: ServiceTierAdvisorProperties
      type: object
    SloUsageMetric:
      description: A Slo Usage Metric.
      example:
        serviceLevelObjectiveId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        serviceLevelObjective: System
        inRangeTimeRatio: 7.061401241503109
      properties:
        inRangeTimeRatio:
          description: Gets or sets inRangeTimeRatio for SLO usage metric.
          format: double
          nullable: false
          readOnly: true
          title: inRangeTimeRatio
          type: number
        serviceLevelObjective:
          description: The serviceLevelObjective for SLO usage metric.
          enum:
          - System
          - System0
          - System1
          - System2
          - System3
          - System4
          - System2L
          - System3L
          - System4L
          - Free
          - Basic
          - S0
          - S1
          - S2
          - S3
          - S4
          - S6
          - S7
          - S9
          - S12
          - P1
          - P2
          - P3
          - P4
          - P6
          - P11
          - P15
          - PRS1
          - PRS2
          - PRS4
          - PRS6
          - DW100
          - DW200
          - DW300
          - DW400
          - DW500
          - DW600
          - DW1000
          - DW1200
          - DW1000c
          - DW1500
          - DW1500c
          - DW2000
          - DW2000c
          - DW3000
          - DW2500c
          - DW3000c
          - DW6000
          - DW5000c
          - DW6000c
          - DW7500c
          - DW10000c
          - DW15000c
          - DW30000c
          - DS100
          - DS200
          - DS300
          - DS400
          - DS500
          - DS600
          - DS1000
          - DS1200
          - DS1500
          - DS2000
          - ElasticPool
          readOnly: true
          title: serviceLevelObjective
          type: string
          x-ms-enum:
            modelAsString: true
            name: ServiceObjectiveName
        serviceLevelObjectiveId:
          description: The serviceLevelObjectiveId for SLO usage metric.
          format: uuid
          nullable: false
          readOnly: true
          title: serviceLevelObjectiveId
          type: string
      title: SloUsageMetric
      type: object
    TransparentDataEncryption:
      allOf:
      - allOf:
        - description: ARM resource.
          properties:
            id:
              description: Resource ID.
              readOnly: true
              type: string
            name:
              description: Resource name.
              readOnly: true
              type: string
            type:
              description: Resource type.
              readOnly: true
              type: string
          type: object
          x-ms-azure-resource: true
        description: ARM proxy resource.
      description: Represents a database transparent data encryption configuration.
      example:
        location: location
        properties:
          status: Enabled
      properties:
        location:
          description: Resource location.
          readOnly: true
          title: location
          type: string
        properties:
          $ref: '#/components/schemas/TransparentDataEncryptionProperties'
      title: TransparentDataEncryption
    TransparentDataEncryptionActivity:
      allOf:
      - allOf:
        - description: ARM resource.
          properties:
            id:
              description: Resource ID.
              readOnly: true
              type: string
            name:
              description: Resource name.
              readOnly: true
              type: string
            type:
              description: Resource type.
              readOnly: true
              type: string
          type: object
          x-ms-azure-resource: true
        description: ARM proxy resource.
      description: Represents a database transparent data encryption Scan.
      example:
        location: location
        properties:
          percentComplete: 0.8008282
          status: Encrypting
      properties:
        location:
          description: Resource location.
          readOnly: true
          title: location
          type: string
        properties:
          $ref: '#/components/schemas/TransparentDataEncryptionActivityProperties'
      title: TransparentDataEncryptionActivity
    TransparentDataEncryptionActivityListResult:
      description: Represents the response to a list database transparent data encryption
        activity request.
      example:
        value:
        - location: location
          properties:
            percentComplete: 0.8008282
            status: Encrypting
        - location: location
          properties:
            percentComplete: 0.8008282
            status: Encrypting
      properties:
        value:
          description: The list of database transparent data encryption activities.
          items:
            $ref: '#/components/schemas/TransparentDataEncryptionActivity'
          title: value
          type: array
      required:
      - value
      title: TransparentDataEncryptionActivityListResult
      type: object
    TransparentDataEncryptionActivityProperties:
      description: Represents the properties of a database transparent data encryption
        Scan.
      example:
        percentComplete: 0.8008282
        status: Encrypting
      properties:
        percentComplete:
          description: The percent complete of the transparent data encryption scan
            for a database.
          format: float
          readOnly: true
          title: percentComplete
          type: number
        status:
          description: The status of the database.
          enum:
          - Encrypting
          - Decrypting
          readOnly: true
          title: status
          type: string
          x-ms-enum:
            modelAsString: true
            name: TransparentDataEncryptionActivityStatus
      title: TransparentDataEncryptionActivityProperties
      type: object
    TransparentDataEncryptionProperties:
      description: Represents the properties of a database transparent data encryption.
      example:
        status: Enabled
      properties:
        status:
          description: The status of the database transparent data encryption.
          enum:
          - Enabled
          - Disabled
          title: status
          type: string
          x-ms-enum:
            name: TransparentDataEncryptionStatus
      title: TransparentDataEncryptionProperties
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
