openapi: 3.0.1
info:
  description: "Use these REST APIs for performing operations on Property entity associated\
    \ with your Azure API Management deployment. API Management policies are a powerful\
    \ capability of the system that allow the publisher to change the behavior of\
    \ the API through configuration. Policies are a collection of statements that\
    \ are executed sequentially on the request or response of an API. Policy statements\
    \ can be constructed using literal text values, policy expressions, and properties.\
    \ Each API Management service instance has a properties collection of key/value\
    \ pairs that are global to the service instance. These properties can be used\
    \ to manage constant string values across all API configuration and policies."
  title: ApiManagementClient
  version: 2018-01-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2018-01-01/apimproperties.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: apimanagement-apimproperties
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/properties
  : get:
      description: Lists a collection of properties defined within a service instance.
      externalDocs:
        url: https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-properties
      operationId: Property_ListByService
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: |-
          | Field | Supported operators    | Supported functions                                   |
          |-------|------------------------|-------------------------------------------------------|
          | tags  | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith, any, all |
          | name  | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith           |
        in: query
        name: $filter
        schema:
          type: string
      - description: Number of records to return.
        in: query
        name: $top
        schema:
          format: int32
          minimum: 1
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Number of records to skip.
        in: query
        name: $skip
        schema:
          format: int32
          minimum: 0
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyCollection'
          description: A Collection of the Property entities for the specified API
            Management service instance.
      tags:
      - Property
      x-ms-examples:
        ApiManagementListProperties:
          parameters:
            api-version: 2018-01-01
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                nextLink: ""
                value:
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/properties/592f1174cc83890dc4f32686
                  name: 592f1174cc83890dc4f32686
                  properties:
                    displayName: Logger-Credentials-592f1174cc83890dc4f32687
                    secret: true
                    value: Endpoint=sb://testtemplatetesteh.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=...
                  type: Microsoft.ApiManagement/service/properties
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/properties/testarmTemplateproperties2
                  name: testarmTemplateproperties2
                  properties:
                    displayName: propName
                    secret: false
                    tags:
                    - foo
                    - bar
                    value: propValue
                  type: Microsoft.ApiManagement/service/properties
      x-ms-odata: '#/definitions/PropertyContract'
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/properties/{propId}
  : delete:
      description: Deletes specific property from the API Management service instance.
      operationId: Property_Delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Identifier of the property.
        in: path
        name: propId
        required: true
        schema:
          maxLength: 80
          pattern: "(^[\\w]+$)|(^[\\w][\\w\\-]+[\\w]$)"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: ETag of the Entity. ETag should match the current entity state
          from the header response of the GET request or it should be * for unconditional
          update.
        in: header
        name: If-Match
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Property was successfully deleted.
        "204":
          content: {}
          description: Property was successfully deleted.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Property_Get_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Property
      x-ms-examples:
        ApiManagementDeleteProperty:
          parameters:
            If-Match: '*'
            api-version: 2018-01-01
            propId: testprop2
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200": {}
            "204": {}
      x-accepts:
      - application/json
    get:
      description: Gets the details of the property specified by its identifier.
      operationId: Property_Get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Identifier of the property.
        in: path
        name: propId
        required: true
        schema:
          maxLength: 80
          pattern: "(^[\\w]+$)|(^[\\w][\\w\\-]+[\\w]$)"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyContract'
          description: The response body contains the specified Property entity.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Property_Get_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Property
      x-ms-examples:
        ApiManagementGetProperty:
          parameters:
            api-version: 2018-01-01
            propId: testarmTemplateproperties2
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/properties/testarmTemplateproperties2
                name: testarmTemplateproperties2
                properties:
                  displayName: propName
                  secret: false
                  tags:
                  - foo
                  - bar
                  value: propValue
                type: Microsoft.ApiManagement/service/properties
      x-accepts:
      - application/json
    head:
      description: Gets the entity state (Etag) version of the property specified
        by its identifier.
      operationId: Property_GetEntityTag
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Identifier of the property.
        in: path
        name: propId
        required: true
        schema:
          maxLength: 80
          pattern: "(^[\\w]+$)|(^[\\w][\\w\\-]+[\\w]$)"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Specified Property entity exists and current entity state version
            is present in the ETag header.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Property_Get_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Property
      x-ms-examples:
        ApiManagementHeadProperty:
          parameters:
            api-version: 2018-01-01
            propId: testarmTemplateproperties2
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              headers:
                etag: AAAAAAAAAAa=
      x-accepts:
      - application/json
    patch:
      description: Updates the specific property.
      operationId: Property_Update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Identifier of the property.
        in: path
        name: propId
        required: true
        schema:
          maxLength: 80
          pattern: "(^[\\w]+$)|(^[\\w][\\w\\-]+[\\w]$)"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: ETag of the Entity. ETag should match the current entity state
          from the header response of the GET request or it should be * for unconditional
          update.
        in: header
        name: If-Match
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PropertyUpdateParameters'
        description: Update parameters.
        required: true
      responses:
        "204":
          content: {}
          description: Property was successfully updated.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Property_Get_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Property
      x-ms-examples:
        ApiManagementUpdateProperty:
          parameters:
            If-Match: '*'
            api-version: 2018-01-01
            parameters:
              properties:
                secret: true
                tags:
                - foo
                - bar2
            propId: testprop2
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "204": {}
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: Creates or updates a property.
      operationId: Property_CreateOrUpdate
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Identifier of the property.
        in: path
        name: propId
        required: true
        schema:
          maxLength: 80
          pattern: "(^[\\w]+$)|(^[\\w][\\w\\-]+[\\w]$)"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "ETag of the Entity. Not required when creating an entity, but\
          \ required when updating an entity."
        in: header
        name: If-Match
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PropertyContract'
        description: Create parameters.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyContract'
          description: Property was successfully updated.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyContract'
          description: Property was successfully created.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Property_Get_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Property
      x-ms-examples:
        ApiManagementCreateProperty:
          parameters:
            api-version: 2018-01-01
            parameters:
              properties:
                displayName: prop3name
                secret: true
                tags:
                - foo
                - bar
                value: propValue
            propId: testprop2
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/properties/testprop2
                name: testprop2
                properties:
                  displayName: prop3name
                  secret: true
                  tags:
                  - foo
                  - bar
                  value: propValue
                type: Microsoft.ApiManagement/service/properties
            "201":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/properties/testprop2
                name: testprop2
                properties:
                  displayName: prop3name
                  secret: true
                  tags:
                  - foo
                  - bar
                  value: propValue
                type: Microsoft.ApiManagement/service/properties
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
components:
  parameters:
    PropertyIdParameter:
      description: Identifier of the property.
      in: path
      name: propId
      required: true
      schema:
        maxLength: 80
        pattern: "(^[\\w]+$)|(^[\\w][\\w\\-]+[\\w]$)"
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  schemas:
    PropertyCollection:
      description: Paged Property list representation.
      example:
        value:
        - properties:
            displayName: displayName
            value: value
        - properties:
            displayName: displayName
            value: value
        nextLink: nextLink
      properties:
        nextLink:
          description: Next page link if any.
          type: string
        value:
          description: Page values.
          items:
            $ref: '#/components/schemas/PropertyContract'
          type: array
      type: object
    PropertyContract:
      allOf:
      - description: The Resource definition.
        properties:
          id:
            description: Resource ID.
            readOnly: true
            type: string
          name:
            description: Resource name.
            readOnly: true
            type: string
          type:
            description: Resource type for API Management resource.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: Property details.
      example:
        properties:
          displayName: displayName
          value: value
      properties:
        properties:
          $ref: '#/components/schemas/PropertyContractProperties'
    PropertyContractProperties:
      allOf:
      - $ref: '#/components/schemas/PropertyEntityBaseParameters'
      description: Property Contract properties.
      example:
        displayName: displayName
        value: value
      properties:
        displayName:
          description: "Unique name of Property. It may contain only letters, digits,\
            \ period, dash, and underscore characters."
          maxLength: 256
          minLength: 1
          pattern: "^[A-Za-z0-9-._]+$"
          type: string
        value:
          description: Value of the property. Can contain policy expressions. It may
            not be empty or consist only of whitespace.
          maxLength: 4096
          minLength: 1
          type: string
      required:
      - displayName
      - value
    PropertyEntityBaseParameters:
      description: Property Entity Base Parameters set.
      properties:
        secret:
          description: Determines whether the value is a secret and should be encrypted
            or not. Default value is false.
          type: boolean
        tags:
          description: Optional tags that when provided can be used to filter the
            property list.
          items:
            type: string
          maxItems: 32
          type: array
      type: object
    PropertyUpdateParameterProperties:
      allOf:
      - $ref: '#/components/schemas/PropertyEntityBaseParameters'
      description: Property Contract properties.
      example:
        displayName: displayName
        value: value
      properties:
        displayName:
          description: "Unique name of Property. It may contain only letters, digits,\
            \ period, dash, and underscore characters."
          maxLength: 256
          minLength: 1
          pattern: "^[A-Za-z0-9-._]+$"
          type: string
        value:
          description: Value of the property. Can contain policy expressions. It may
            not be empty or consist only of whitespace.
          maxLength: 4096
          minLength: 1
          type: string
    PropertyUpdateParameters:
      description: Property update Parameters.
      example:
        properties:
          displayName: displayName
          value: value
      properties:
        properties:
          $ref: '#/components/schemas/PropertyUpdateParameterProperties'
      type: object
    Property_Get_default_response_error_details_inner:
      description: Error Field contract.
      example:
        code: code
        message: message
        target: target
      properties:
        code:
          description: Property level error code.
          type: string
        message:
          description: Human-readable representation of property-level error.
          type: string
        target:
          description: Property name.
          type: string
      type: object
    Property_Get_default_response_error:
      description: Error Body contract.
      example:
        code: code
        details:
        - code: code
          message: message
          target: target
        - code: code
          message: message
          target: target
        message: message
      properties:
        code:
          description: Service-defined error code. This code serves as a sub-status
            for the HTTP error code specified in the response.
          type: string
        details:
          description: "The list of invalid fields send in request, in case of validation\
            \ error."
          items:
            $ref: '#/components/schemas/Property_Get_default_response_error_details_inner'
          type: array
        message:
          description: Human-readable representation of the error.
          type: string
      type: object
    Property_Get_default_response:
      description: Error Response.
      example:
        error:
          code: code
          details:
          - code: code
            message: message
            target: target
          - code: code
            message: message
            target: target
          message: message
      properties:
        error:
          $ref: '#/components/schemas/Property_Get_default_response_error'
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

