openapi: 3.0.1
info:
  contact: {}
  description: API documentation for redirection.io
  title: redirection.io
  version: 1.1.0
  x-apisguru-categories:
  - hosting
  x-logo:
    url: https://twitter.com/redirectionio/profile_image?size=original
  x-origin:
  - format: swagger
    url: https://api.redirection.io/docs.json
    version: "2.0"
  x-providerName: redirection.io
servers:
- url: https://api.redirection.io/
security:
- apiKey: []
paths:
  /agent-flush-aggregate-requests:
    post:
      operationId: post_agent_flush_aggregate_request_collection
      requestBody:
        content:
          application/ld+json:
            schema:
              $ref: '#/components/schemas/AgentFlushAggregateRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/AgentFlushAggregateRequest'
          text/html:
            schema:
              $ref: '#/components/schemas/AgentFlushAggregateRequest'
          text/csv:
            schema:
              $ref: '#/components/schemas/AgentFlushAggregateRequest'
        description: The new AgentFlushAggregateRequest resource
        required: false
        x-body-name: agentFlushAggregateRequest
      responses:
        "201":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/AgentFlushAggregateRequest'
            application/json:
              schema:
                $ref: '#/components/schemas/AgentFlushAggregateRequest'
            text/html:
              schema:
                $ref: '#/components/schemas/AgentFlushAggregateRequest'
            text/csv:
              schema:
                $ref: '#/components/schemas/AgentFlushAggregateRequest'
          description: AgentFlushAggregateRequest resource created
        "400":
          content: {}
          description: Invalid input
        "404":
          content: {}
          description: Resource not found
      summary: Creates a AgentFlushAggregateRequest resource.
      tags:
      - AgentFlushAggregateRequest
      x-codegen-request-body-name: agentFlushAggregateRequest
      x-openapi-router-controller: openapi_server.controllers.agent_flush_aggregate_request_controller
  /agent-flush-requests:
    post:
      operationId: agent_flush_requests_post
      requestBody:
        content:
          application/ld+json:
            schema:
              $ref: '#/components/schemas/AgentFlushRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/AgentFlushRequest'
          text/html:
            schema:
              $ref: '#/components/schemas/AgentFlushRequest'
          text/csv:
            schema:
              $ref: '#/components/schemas/AgentFlushRequest'
        description: The new AgentFlushRequest resource
        required: false
        x-body-name: agentFlushRequest
      responses:
        "201":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/AgentFlushRequest'
            application/json:
              schema:
                $ref: '#/components/schemas/AgentFlushRequest'
            text/html:
              schema:
                $ref: '#/components/schemas/AgentFlushRequest'
            text/csv:
              schema:
                $ref: '#/components/schemas/AgentFlushRequest'
          description: AgentFlushRequest resource created
        "400":
          content: {}
          description: Invalid input
        "404":
          content: {}
          description: Resource not found
      summary: Creates a AgentFlushRequest resource.
      tags:
      - AgentFlushRequest
      x-codegen-request-body-name: agentFlushRequest
      x-openapi-router-controller: openapi_server.controllers.agent_flush_request_controller
  /agent-instance-updates:
    post:
      operationId: post_instance_collection
      requestBody:
        content:
          application/ld+json:
            schema:
              $ref: '#/components/schemas/Instance-Write'
          application/json:
            schema:
              $ref: '#/components/schemas/Instance-Write'
          text/html:
            schema:
              $ref: '#/components/schemas/Instance-Write'
          text/csv:
            schema:
              $ref: '#/components/schemas/Instance-Write'
        description: The new Instance resource
        required: false
        x-body-name: instance
      responses:
        "201":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Instance-Read'
            application/json:
              schema:
                $ref: '#/components/schemas/Instance-Read'
            text/html:
              schema:
                $ref: '#/components/schemas/Instance-Read'
            text/csv:
              schema:
                $ref: '#/components/schemas/Instance-Read'
          description: Instance resource created
        "400":
          content: {}
          description: Invalid input
        "404":
          content: {}
          description: Resource not found
      summary: Creates a Instance resource.
      tags:
      - Instance
      x-codegen-request-body-name: instance
      x-openapi-router-controller: openapi_server.controllers.instance_controller
  /agent-instance-updates/{id}:
    put:
      operationId: put_instance_item
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/ld+json:
            schema:
              $ref: '#/components/schemas/Instance-Write'
          application/json:
            schema:
              $ref: '#/components/schemas/Instance-Write'
          text/html:
            schema:
              $ref: '#/components/schemas/Instance-Write'
          text/csv:
            schema:
              $ref: '#/components/schemas/Instance-Write'
        description: The updated Instance resource
        required: false
        x-body-name: instance
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Instance-Read'
            application/json:
              schema:
                $ref: '#/components/schemas/Instance-Read'
            text/html:
              schema:
                $ref: '#/components/schemas/Instance-Read'
            text/csv:
              schema:
                $ref: '#/components/schemas/Instance-Read'
          description: Instance resource updated
        "400":
          content: {}
          description: Invalid input
        "404":
          content: {}
          description: Resource not found
      summary: Replaces the Instance resource.
      tags:
      - Instance
      x-codegen-request-body-name: instance
      x-openapi-router-controller: openapi_server.controllers.instance_controller
  /agent-rule-complexes:
    get:
      operationId: agent_legacy_complex_rule_collection
      parameters:
      - in: query
        name: projectId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                items:
                  $ref: '#/components/schemas/Rule-Read'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Rule-Read'
                type: array
            text/html:
              schema:
                items:
                  $ref: '#/components/schemas/Rule-Read'
                type: array
            text/csv:
              schema:
                items:
                  $ref: '#/components/schemas/Rule-Read'
                type: array
          description: Rule collection response
      summary: Retrieves the collection of Rule resources.
      tags:
      - Rule
      x-openapi-router-controller: openapi_server.controllers.rule_controller
  /agent-rule-straights:
    get:
      operationId: agent_legacy_straight_rule_collection
      parameters:
      - in: query
        name: projectId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                items:
                  $ref: '#/components/schemas/Rule-Read'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Rule-Read'
                type: array
            text/html:
              schema:
                items:
                  $ref: '#/components/schemas/Rule-Read'
                type: array
            text/csv:
              schema:
                items:
                  $ref: '#/components/schemas/Rule-Read'
                type: array
          description: Rule collection response
      summary: Retrieves the collection of Rule resources.
      tags:
      - Rule
      x-openapi-router-controller: openapi_server.controllers.rule_controller
  /agent-rules:
    get:
      operationId: agent_rule_collection
      parameters:
      - in: query
        name: projectId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                items:
                  $ref: '#/components/schemas/Rule-Read'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Rule-Read'
                type: array
            text/html:
              schema:
                items:
                  $ref: '#/components/schemas/Rule-Read'
                type: array
            text/csv:
              schema:
                items:
                  $ref: '#/components/schemas/Rule-Read'
                type: array
          description: Rule collection response
      summary: Retrieves the collection of Rule resources.
      tags:
      - Rule
      x-openapi-router-controller: openapi_server.controllers.rule_controller
  /aggregate-logs:
    get:
      operationId: get_aggregate_log_collection
      parameters:
      - description: The collection page number
        in: query
        name: page
        schema:
          type: integer
      - in: query
        name: projectId
        schema:
          type: string
      - in: query
        name: createdAt
        schema:
          type: string
      - in: query
        name: source
        schema:
          type: string
      - in: query
        name: target
        schema:
          type: string
      - in: query
        name: statusCode
        schema:
          type: string
      - in: query
        name: referrer
        schema:
          type: string
      - in: query
        name: userAgent
        schema:
          type: string
      - in: query
        name: userAgentType
        schema:
          type: string
      - in: query
        name: simplifiedUserAgent
        schema:
          type: string
      - in: query
        name: ruleId
        schema:
          type: string
      - in: query
        name: instanceName
        schema:
          type: string
      - in: query
        name: excludeUrls
        schema:
          type: string
      - in: query
        name: excludeEmptyReferrer
        schema:
          type: string
      - in: query
        name: createdAt_gt
        schema:
          type: string
      - in: query
        name: createdAt_gte
        schema:
          type: string
      - in: query
        name: createdAt_lt
        schema:
          type: string
      - in: query
        name: createdAt_lte
        schema:
          type: string
      - in: query
        name: statusCode_gt
        schema:
          type: string
      - in: query
        name: statusCode_gte
        schema:
          type: string
      - in: query
        name: statusCode_lt
        schema:
          type: string
      - in: query
        name: statusCode_lte
        schema:
          type: string
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                items:
                  $ref: '#/components/schemas/AggregateLog-Read'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AggregateLog-Read'
                type: array
            text/html:
              schema:
                items:
                  $ref: '#/components/schemas/AggregateLog-Read'
                type: array
            text/csv:
              schema:
                items:
                  $ref: '#/components/schemas/AggregateLog-Read'
                type: array
          description: AggregateLog collection response
      summary: Retrieves the collection of AggregateLog resources.
      tags:
      - AggregateLog
      x-openapi-router-controller: openapi_server.controllers.aggregate_log_controller
  /aggregate-logs/{id}:
    get:
      operationId: get_aggregate_log_item
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/AggregateLog-Read'
            application/json:
              schema:
                $ref: '#/components/schemas/AggregateLog-Read'
            text/html:
              schema:
                $ref: '#/components/schemas/AggregateLog-Read'
            text/csv:
              schema:
                $ref: '#/components/schemas/AggregateLog-Read'
          description: AggregateLog resource response
        "404":
          content: {}
          description: Resource not found
      summary: Retrieves a AggregateLog resource.
      tags:
      - AggregateLog
      x-openapi-router-controller: openapi_server.controllers.aggregate_log_controller
  /crawl-urls:
    get:
      operationId: get_crawl_url_collection
      parameters:
      - description: The collection page number
        in: query
        name: page
        schema:
          type: integer
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                items:
                  $ref: '#/components/schemas/CrawlUrl-Read'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CrawlUrl-Read'
                type: array
            text/html:
              schema:
                items:
                  $ref: '#/components/schemas/CrawlUrl-Read'
                type: array
            text/csv:
              schema:
                items:
                  $ref: '#/components/schemas/CrawlUrl-Read'
                type: array
          description: CrawlUrl collection response
      summary: Retrieves the collection of CrawlUrl resources.
      tags:
      - CrawlUrl
      x-openapi-router-controller: openapi_server.controllers.crawl_url_controller
  /crawl-urls/{id}:
    get:
      operationId: get_crawl_url_item
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/CrawlUrl-Read'
            application/json:
              schema:
                $ref: '#/components/schemas/CrawlUrl-Read'
            text/html:
              schema:
                $ref: '#/components/schemas/CrawlUrl-Read'
            text/csv:
              schema:
                $ref: '#/components/schemas/CrawlUrl-Read'
          description: CrawlUrl resource response
        "404":
          content: {}
          description: Resource not found
      summary: Retrieves a CrawlUrl resource.
      tags:
      - CrawlUrl
      x-openapi-router-controller: openapi_server.controllers.crawl_url_controller
  /crawls:
    get:
      operationId: get_crawl_collection
      parameters:
      - in: query
        name: projectId
        required: true
        schema:
          type: string
      - in: query
        name: firstUrl
        schema:
          type: string
      - in: query
        name: "sort[createdAt]"
        schema:
          type: string
      - description: The collection page number
        in: query
        name: page
        schema:
          type: integer
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                items:
                  $ref: '#/components/schemas/Crawl-Read'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Crawl-Read'
                type: array
            text/html:
              schema:
                items:
                  $ref: '#/components/schemas/Crawl-Read'
                type: array
            text/csv:
              schema:
                items:
                  $ref: '#/components/schemas/Crawl-Read'
                type: array
          description: Crawl collection response
      summary: Retrieves the collection of Crawl resources.
      tags:
      - Crawl
      x-openapi-router-controller: openapi_server.controllers.crawl_controller
    post:
      operationId: post_crawl_collection
      requestBody:
        content:
          application/ld+json:
            schema:
              $ref: '#/components/schemas/Crawl-Write'
          application/json:
            schema:
              $ref: '#/components/schemas/Crawl-Write'
          text/html:
            schema:
              $ref: '#/components/schemas/Crawl-Write'
          text/csv:
            schema:
              $ref: '#/components/schemas/Crawl-Write'
        description: The new Crawl resource
        required: false
        x-body-name: crawl
      responses:
        "201":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Crawl'
            application/json:
              schema:
                $ref: '#/components/schemas/Crawl'
            text/html:
              schema:
                $ref: '#/components/schemas/Crawl'
            text/csv:
              schema:
                $ref: '#/components/schemas/Crawl'
          description: Crawl resource created
        "400":
          content: {}
          description: Invalid input
        "404":
          content: {}
          description: Resource not found
      summary: Creates a Crawl resource.
      tags:
      - Crawl
      x-codegen-request-body-name: crawl
      x-openapi-router-controller: openapi_server.controllers.crawl_controller
  /crawls/{id}:
    get:
      operationId: get_crawl_item
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Crawl-ReadDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Crawl-ReadDetails'
            text/html:
              schema:
                $ref: '#/components/schemas/Crawl-ReadDetails'
            text/csv:
              schema:
                $ref: '#/components/schemas/Crawl-ReadDetails'
          description: Crawl resource response
        "404":
          content: {}
          description: Resource not found
      summary: Retrieves a Crawl resource.
      tags:
      - Crawl
      x-openapi-router-controller: openapi_server.controllers.crawl_controller
  /crawls/{id}/cancel:
    post:
      operationId: cancel_crawl_item
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/ld+json:
            schema:
              $ref: '#/components/schemas/Crawl'
          application/json:
            schema:
              $ref: '#/components/schemas/Crawl'
          text/html:
            schema:
              $ref: '#/components/schemas/Crawl'
          text/csv:
            schema:
              $ref: '#/components/schemas/Crawl'
        description: The new Crawl resource
        required: false
        x-body-name: crawl
      responses:
        "201":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Crawl-ReadDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Crawl-ReadDetails'
            text/html:
              schema:
                $ref: '#/components/schemas/Crawl-ReadDetails'
            text/csv:
              schema:
                $ref: '#/components/schemas/Crawl-ReadDetails'
          description: Crawl resource created
        "400":
          content: {}
          description: Invalid input
        "404":
          content: {}
          description: Resource not found
      summary: Creates a Crawl resource.
      tags:
      - Crawl
      x-codegen-request-body-name: crawl
      x-openapi-router-controller: openapi_server.controllers.crawl_controller
  /explain-urls:
    post:
      operationId: post_explain_url_collection
      requestBody:
        content:
          application/ld+json:
            schema:
              $ref: '#/components/schemas/ExplainUrl-Write'
          application/json:
            schema:
              $ref: '#/components/schemas/ExplainUrl-Write'
          text/html:
            schema:
              $ref: '#/components/schemas/ExplainUrl-Write'
          text/csv:
            schema:
              $ref: '#/components/schemas/ExplainUrl-Write'
        description: The new ExplainUrl resource
        required: false
        x-body-name: explainUrl
      responses:
        "201":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/ExplainUrl'
            application/json:
              schema:
                $ref: '#/components/schemas/ExplainUrl'
            text/html:
              schema:
                $ref: '#/components/schemas/ExplainUrl'
            text/csv:
              schema:
                $ref: '#/components/schemas/ExplainUrl'
          description: ExplainUrl resource created
        "400":
          content: {}
          description: Invalid input
        "404":
          content: {}
          description: Resource not found
      summary: Creates a ExplainUrl resource.
      tags:
      - ExplainUrl
      x-codegen-request-body-name: explainUrl
      x-openapi-router-controller: openapi_server.controllers.explain_url_controller
  /explain-urls/{id}:
    get:
      operationId: get_explain_url_item
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/ExplainUrl'
            application/json:
              schema:
                $ref: '#/components/schemas/ExplainUrl'
            text/html:
              schema:
                $ref: '#/components/schemas/ExplainUrl'
            text/csv:
              schema:
                $ref: '#/components/schemas/ExplainUrl'
          description: ExplainUrl resource response
        "404":
          content: {}
          description: Resource not found
      summary: Retrieves a ExplainUrl resource.
      tags:
      - ExplainUrl
      x-openapi-router-controller: openapi_server.controllers.explain_url_controller
  /export-rules:
    get:
      operationId: export_rule_collection
      parameters:
      - in: query
        name: projectId
        required: true
        schema:
          type: string
      - in: query
        name: "sort[id]"
        schema:
          type: string
      - in: query
        name: "sort[viewCount]"
        schema:
          type: string
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                items:
                  $ref: '#/components/schemas/Rule-Read'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Rule-Read'
                type: array
            text/html:
              schema:
                items:
                  $ref: '#/components/schemas/Rule-Read'
                type: array
            text/csv:
              schema:
                items:
                  $ref: '#/components/schemas/Rule-Read'
                type: array
          description: Rule collection response
      summary: Retrieves the collection of Rule resources.
      tags:
      - Rule
      x-openapi-router-controller: openapi_server.controllers.rule_controller
  /impact-rule-changes:
    post:
      operationId: post_impact_rule_change_collection
      requestBody:
        content:
          application/ld+json:
            schema:
              $ref: '#/components/schemas/ImpactRuleChange-Write'
          application/json:
            schema:
              $ref: '#/components/schemas/ImpactRuleChange-Write'
          text/html:
            schema:
              $ref: '#/components/schemas/ImpactRuleChange-Write'
          text/csv:
            schema:
              $ref: '#/components/schemas/ImpactRuleChange-Write'
        description: The new ImpactRuleChange resource
        required: false
        x-body-name: impactRuleChange
      responses:
        "201":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/ImpactRuleChange-Read'
            application/json:
              schema:
                $ref: '#/components/schemas/ImpactRuleChange-Read'
            text/html:
              schema:
                $ref: '#/components/schemas/ImpactRuleChange-Read'
            text/csv:
              schema:
                $ref: '#/components/schemas/ImpactRuleChange-Read'
          description: ImpactRuleChange resource created
        "400":
          content: {}
          description: Invalid input
        "404":
          content: {}
          description: Resource not found
      summary: Creates a ImpactRuleChange resource.
      tags:
      - ImpactRuleChange
      x-codegen-request-body-name: impactRuleChange
      x-openapi-router-controller: openapi_server.controllers.impact_rule_change_controller
  /impact-rule-changes/{id}:
    get:
      operationId: get_impact_rule_change_item
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/ImpactRuleChange-Read'
            application/json:
              schema:
                $ref: '#/components/schemas/ImpactRuleChange-Read'
            text/html:
              schema:
                $ref: '#/components/schemas/ImpactRuleChange-Read'
            text/csv:
              schema:
                $ref: '#/components/schemas/ImpactRuleChange-Read'
          description: ImpactRuleChange resource response
        "404":
          content: {}
          description: Resource not found
      summary: Retrieves a ImpactRuleChange resource.
      tags:
      - ImpactRuleChange
      x-openapi-router-controller: openapi_server.controllers.impact_rule_change_controller
  /impact-smart-lists:
    post:
      operationId: post_impact_smart_list_collection
      requestBody:
        content:
          application/ld+json:
            schema:
              $ref: '#/components/schemas/ImpactSmartList-Write'
          application/json:
            schema:
              $ref: '#/components/schemas/ImpactSmartList-Write'
          text/html:
            schema:
              $ref: '#/components/schemas/ImpactSmartList-Write'
          text/csv:
            schema:
              $ref: '#/components/schemas/ImpactSmartList-Write'
        description: The new ImpactSmartList resource
        required: false
        x-body-name: impactSmartList
      responses:
        "201":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/ImpactSmartList-Read'
            application/json:
              schema:
                $ref: '#/components/schemas/ImpactSmartList-Read'
            text/html:
              schema:
                $ref: '#/components/schemas/ImpactSmartList-Read'
            text/csv:
              schema:
                $ref: '#/components/schemas/ImpactSmartList-Read'
          description: ImpactSmartList resource created
        "400":
          content: {}
          description: Invalid input
        "404":
          content: {}
          description: Resource not found
      summary: Creates a ImpactSmartList resource.
      tags:
      - ImpactSmartList
      x-codegen-request-body-name: impactSmartList
      x-openapi-router-controller: openapi_server.controllers.impact_smart_list_controller
  /impact-smart-lists/{id}:
    get:
      operationId: get_impact_smart_list_item
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/ImpactSmartList-Read'
            application/json:
              schema:
                $ref: '#/components/schemas/ImpactSmartList-Read'
            text/html:
              schema:
                $ref: '#/components/schemas/ImpactSmartList-Read'
            text/csv:
              schema:
                $ref: '#/components/schemas/ImpactSmartList-Read'
          description: ImpactSmartList resource response
        "404":
          content: {}
          description: Resource not found
      summary: Retrieves a ImpactSmartList resource.
      tags:
      - ImpactSmartList
      x-openapi-router-controller: openapi_server.controllers.impact_smart_list_controller
  /imports:
    get:
      operationId: get_import_collection
      parameters:
      - in: query
        name: projectId
        required: true
        schema:
          type: string
      - description: The collection page number
        in: query
        name: page
        schema:
          type: integer
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                items:
                  $ref: '#/components/schemas/Import-Read'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Import-Read'
                type: array
            text/html:
              schema:
                items:
                  $ref: '#/components/schemas/Import-Read'
                type: array
            text/csv:
              schema:
                items:
                  $ref: '#/components/schemas/Import-Read'
                type: array
          description: Import collection response
      summary: Retrieves the collection of Import resources.
      tags:
      - Import
      x-openapi-router-controller: openapi_server.controllers.import_controller
    post:
      operationId: post_import_collection
      requestBody:
        content:
          application/ld+json:
            schema:
              $ref: '#/components/schemas/Import-Write'
          application/json:
            schema:
              $ref: '#/components/schemas/Import-Write'
          text/html:
            schema:
              $ref: '#/components/schemas/Import-Write'
          text/csv:
            schema:
              $ref: '#/components/schemas/Import-Write'
        description: The new Import resource
        required: false
        x-body-name: import
      responses:
        "201":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Import-Read'
            application/json:
              schema:
                $ref: '#/components/schemas/Import-Read'
            text/html:
              schema:
                $ref: '#/components/schemas/Import-Read'
            text/csv:
              schema:
                $ref: '#/components/schemas/Import-Read'
          description: Import resource created
        "400":
          content: {}
          description: Invalid input
        "404":
          content: {}
          description: Resource not found
      summary: Creates a Import resource.
      tags:
      - Import
      x-codegen-request-body-name: import
      x-openapi-router-controller: openapi_server.controllers.import_controller
  /imports/{id}:
    get:
      operationId: get_import_item
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Import-Read'
            application/json:
              schema:
                $ref: '#/components/schemas/Import-Read'
            text/html:
              schema:
                $ref: '#/components/schemas/Import-Read'
            text/csv:
              schema:
                $ref: '#/components/schemas/Import-Read'
          description: Import resource response
        "404":
          content: {}
          description: Resource not found
      summary: Retrieves a Import resource.
      tags:
      - Import
      x-openapi-router-controller: openapi_server.controllers.import_controller
  /instances:
    get:
      operationId: get_instance_collection
      parameters:
      - in: query
        name: projectId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                items:
                  $ref: '#/components/schemas/Instance-Read'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Instance-Read'
                type: array
            text/html:
              schema:
                items:
                  $ref: '#/components/schemas/Instance-Read'
                type: array
            text/csv:
              schema:
                items:
                  $ref: '#/components/schemas/Instance-Read'
                type: array
          description: Instance collection response
      summary: Retrieves the collection of Instance resources.
      tags:
      - Instance
      x-openapi-router-controller: openapi_server.controllers.instance_controller
  /instances/{id}:
    get:
      operationId: get_instance_item
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Instance-Read'
            application/json:
              schema:
                $ref: '#/components/schemas/Instance-Read'
            text/html:
              schema:
                $ref: '#/components/schemas/Instance-Read'
            text/csv:
              schema:
                $ref: '#/components/schemas/Instance-Read'
          description: Instance resource response
        "404":
          content: {}
          description: Resource not found
      summary: Retrieves a Instance resource.
      tags:
      - Instance
      x-openapi-router-controller: openapi_server.controllers.instance_controller
    put:
      operationId: logging_instance_item
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/ld+json:
            schema:
              $ref: '#/components/schemas/Instance-Write'
          application/json:
            schema:
              $ref: '#/components/schemas/Instance-Write'
          text/html:
            schema:
              $ref: '#/components/schemas/Instance-Write'
          text/csv:
            schema:
              $ref: '#/components/schemas/Instance-Write'
        description: The updated Instance resource
        required: false
        x-body-name: instance
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Instance-Read'
            application/json:
              schema:
                $ref: '#/components/schemas/Instance-Read'
            text/html:
              schema:
                $ref: '#/components/schemas/Instance-Read'
            text/csv:
              schema:
                $ref: '#/components/schemas/Instance-Read'
          description: Instance resource updated
        "400":
          content: {}
          description: Invalid input
        "404":
          content: {}
          description: Resource not found
      summary: Replaces the Instance resource.
      tags:
      - Instance
      x-codegen-request-body-name: instance
      x-openapi-router-controller: openapi_server.controllers.instance_controller
  /instances/{id}/live:
    put:
      operationId: live_instance_item
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/ld+json:
            schema:
              $ref: '#/components/schemas/Instance-Write'
          application/json:
            schema:
              $ref: '#/components/schemas/Instance-Write'
          text/html:
            schema:
              $ref: '#/components/schemas/Instance-Write'
          text/csv:
            schema:
              $ref: '#/components/schemas/Instance-Write'
        description: The updated Instance resource
        required: false
        x-body-name: instance
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Instance-Read'
            application/json:
              schema:
                $ref: '#/components/schemas/Instance-Read'
            text/html:
              schema:
                $ref: '#/components/schemas/Instance-Read'
            text/csv:
              schema:
                $ref: '#/components/schemas/Instance-Read'
          description: Instance resource updated
        "400":
          content: {}
          description: Invalid input
        "404":
          content: {}
          description: Resource not found
      summary: Replaces the Instance resource.
      tags:
      - Instance
      x-codegen-request-body-name: instance
      x-openapi-router-controller: openapi_server.controllers.instance_controller
  /invitations:
    get:
      operationId: get_invitation_collection
      parameters:
      - in: query
        name: targetId
        required: true
        schema:
          type: string
      - in: query
        name: targetType
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                items:
                  $ref: '#/components/schemas/Invitation-Read'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Invitation-Read'
                type: array
            text/html:
              schema:
                items:
                  $ref: '#/components/schemas/Invitation-Read'
                type: array
            text/csv:
              schema:
                items:
                  $ref: '#/components/schemas/Invitation-Read'
                type: array
          description: Invitation collection response
      summary: Retrieves the collection of Invitation resources.
      tags:
      - Invitation
      x-openapi-router-controller: openapi_server.controllers.invitation_controller
    post:
      operationId: post_invitation_collection
      requestBody:
        content:
          application/ld+json:
            schema:
              $ref: '#/components/schemas/Invitation-Write'
          application/json:
            schema:
              $ref: '#/components/schemas/Invitation-Write'
          text/html:
            schema:
              $ref: '#/components/schemas/Invitation-Write'
          text/csv:
            schema:
              $ref: '#/components/schemas/Invitation-Write'
        description: The new Invitation resource
        required: false
        x-body-name: invitation
      responses:
        "201":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Invitation-Read'
            application/json:
              schema:
                $ref: '#/components/schemas/Invitation-Read'
            text/html:
              schema:
                $ref: '#/components/schemas/Invitation-Read'
            text/csv:
              schema:
                $ref: '#/components/schemas/Invitation-Read'
          description: Invitation resource created
        "400":
          content: {}
          description: Invalid input
        "404":
          content: {}
          description: Resource not found
      summary: Creates a Invitation resource.
      tags:
      - Invitation
      x-codegen-request-body-name: invitation
      x-openapi-router-controller: openapi_server.controllers.invitation_controller
  /invitations/accept/{token}:
    post:
      operationId: accept_invitation_item
      parameters:
      - description: The invitation acceptation token
        in: path
        name: token
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/ld+json:
            schema:
              $ref: '#/components/schemas/Invitation'
          application/json:
            schema:
              $ref: '#/components/schemas/Invitation'
          text/html:
            schema:
              $ref: '#/components/schemas/Invitation'
          text/csv:
            schema:
              $ref: '#/components/schemas/Invitation'
        description: The new Invitation resource
        required: true
        x-body-name: invitation
      responses:
        "201":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Invitation-Read'
            application/json:
              schema:
                $ref: '#/components/schemas/Invitation-Read'
            text/html:
              schema:
                $ref: '#/components/schemas/Invitation-Read'
            text/csv:
              schema:
                $ref: '#/components/schemas/Invitation-Read'
          description: Invitation resource created
        "400":
          content: {}
          description: Invalid input
        "404":
          content: {}
          description: Resource not found
      summary: Creates a Invitation resource.
      tags:
      - Invitation
      x-codegen-request-body-name: invitation
      x-openapi-router-controller: openapi_server.controllers.invitation_controller
  /invitations/{id}:
    delete:
      operationId: delete_invitation_item
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Invitation resource deleted
        "404":
          content: {}
          description: Resource not found
      summary: Removes the Invitation resource.
      tags:
      - Invitation
      x-openapi-router-controller: openapi_server.controllers.invitation_controller
    get:
      operationId: get_invitation_item
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Invitation-Read'
            application/json:
              schema:
                $ref: '#/components/schemas/Invitation-Read'
            text/html:
              schema:
                $ref: '#/components/schemas/Invitation-Read'
            text/csv:
              schema:
                $ref: '#/components/schemas/Invitation-Read'
          description: Invitation resource response
        "404":
          content: {}
          description: Resource not found
      summary: Retrieves a Invitation resource.
      tags:
      - Invitation
      x-openapi-router-controller: openapi_server.controllers.invitation_controller
  /logs:
    get:
      operationId: get_log_collection
      parameters:
      - description: The collection page number
        in: query
        name: page
        schema:
          type: integer
      - in: query
        name: projectId
        schema:
          type: string
      - in: query
        name: createdAt
        schema:
          type: string
      - in: query
        name: source
        schema:
          type: string
      - in: query
        name: target
        schema:
          type: string
      - in: query
        name: statusCode
        schema:
          type: string
      - in: query
        name: referrer
        schema:
          type: string
      - in: query
        name: userAgent
        schema:
          type: string
      - in: query
        name: userAgentType
        schema:
          type: string
      - in: query
        name: simplifiedUserAgent
        schema:
          type: string
      - in: query
        name: ruleId
        schema:
          type: string
      - in: query
        name: instanceName
        schema:
          type: string
      - in: query
        name: excludeUrls
        schema:
          type: string
      - in: query
        name: excludeEmptyReferrer
        schema:
          type: string
      - in: query
        name: createdAt_gt
        schema:
          type: string
      - in: query
        name: createdAt_gte
        schema:
          type: string
      - in: query
        name: createdAt_lt
        schema:
          type: string
      - in: query
        name: createdAt_lte
        schema:
          type: string
      - in: query
        name: statusCode_gt
        schema:
          type: string
      - in: query
        name: statusCode_gte
        schema:
          type: string
      - in: query
        name: statusCode_lt
        schema:
          type: string
      - in: query
        name: statusCode_lte
        schema:
          type: string
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                items:
                  $ref: '#/components/schemas/Log-Read'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Log-Read'
                type: array
            text/html:
              schema:
                items:
                  $ref: '#/components/schemas/Log-Read'
                type: array
            text/csv:
              schema:
                items:
                  $ref: '#/components/schemas/Log-Read'
                type: array
          description: Log collection response
      summary: Retrieves the collection of Log resources.
      tags:
      - Log
      x-openapi-router-controller: openapi_server.controllers.log_controller
  /logs/{id}:
    get:
      operationId: get_log_item
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Log-Read'
            application/json:
              schema:
                $ref: '#/components/schemas/Log-Read'
            text/html:
              schema:
                $ref: '#/components/schemas/Log-Read'
            text/csv:
              schema:
                $ref: '#/components/schemas/Log-Read'
          description: Log resource response
        "404":
          content: {}
          description: Resource not found
      summary: Retrieves a Log resource.
      tags:
      - Log
      x-openapi-router-controller: openapi_server.controllers.log_controller
  /markers:
    post:
      operationId: post_marker_collection
      requestBody:
        content:
          application/ld+json:
            schema:
              $ref: '#/components/schemas/Marker-Write'
          application/json:
            schema:
              $ref: '#/components/schemas/Marker-Write'
          text/html:
            schema:
              $ref: '#/components/schemas/Marker-Write'
          text/csv:
            schema:
              $ref: '#/components/schemas/Marker-Write'
        description: The new Marker resource
        required: false
        x-body-name: marker
      responses:
        "201":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Marker'
            application/json:
              schema:
                $ref: '#/components/schemas/Marker'
            text/html:
              schema:
                $ref: '#/components/schemas/Marker'
            text/csv:
              schema:
                $ref: '#/components/schemas/Marker'
          description: Marker resource created
        "400":
          content: {}
          description: Invalid input
        "404":
          content: {}
          description: Resource not found
      summary: Creates a Marker resource.
      tags:
      - Marker
      x-codegen-request-body-name: marker
      x-openapi-router-controller: openapi_server.controllers.marker_controller
  /markers/{id}:
    delete:
      operationId: delete_marker_item
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Marker resource deleted
        "404":
          content: {}
          description: Resource not found
      summary: Removes the Marker resource.
      tags:
      - Marker
      x-openapi-router-controller: openapi_server.controllers.marker_controller
    get:
      operationId: get_marker_item
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Marker'
            application/json:
              schema:
                $ref: '#/components/schemas/Marker'
            text/html:
              schema:
                $ref: '#/components/schemas/Marker'
            text/csv:
              schema:
                $ref: '#/components/schemas/Marker'
          description: Marker resource response
        "404":
          content: {}
          description: Resource not found
      summary: Retrieves a Marker resource.
      tags:
      - Marker
      x-openapi-router-controller: openapi_server.controllers.marker_controller
    put:
      operationId: put_marker_item
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/ld+json:
            schema:
              $ref: '#/components/schemas/Marker'
          application/json:
            schema:
              $ref: '#/components/schemas/Marker'
          text/html:
            schema:
              $ref: '#/components/schemas/Marker'
          text/csv:
            schema:
              $ref: '#/components/schemas/Marker'
        description: The updated Marker resource
        required: false
        x-body-name: marker
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Marker'
            application/json:
              schema:
                $ref: '#/components/schemas/Marker'
            text/html:
              schema:
                $ref: '#/components/schemas/Marker'
            text/csv:
              schema:
                $ref: '#/components/schemas/Marker'
          description: Marker resource updated
        "400":
          content: {}
          description: Invalid input
        "404":
          content: {}
          description: Resource not found
      summary: Replaces the Marker resource.
      tags:
      - Marker
      x-codegen-request-body-name: marker
      x-openapi-router-controller: openapi_server.controllers.marker_controller
  /matching-urls:
    post:
      operationId: post_matching_url_collection
      requestBody:
        content:
          application/ld+json:
            schema:
              $ref: '#/components/schemas/MatchingUrl-Write'
          application/json:
            schema:
              $ref: '#/components/schemas/MatchingUrl-Write'
          text/html:
            schema:
              $ref: '#/components/schemas/MatchingUrl-Write'
          text/csv:
            schema:
              $ref: '#/components/schemas/MatchingUrl-Write'
        description: The new MatchingUrl resource
        required: false
        x-body-name: matchingUrl
      responses:
        "201":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/MatchingUrl-Read'
            application/json:
              schema:
                $ref: '#/components/schemas/MatchingUrl-Read'
            text/html:
              schema:
                $ref: '#/components/schemas/MatchingUrl-Read'
            text/csv:
              schema:
                $ref: '#/components/schemas/MatchingUrl-Read'
          description: MatchingUrl resource created
        "400":
          content: {}
          description: Invalid input
        "404":
          content: {}
          description: Resource not found
      summary: Creates a MatchingUrl resource.
      tags:
      - MatchingUrl
      x-codegen-request-body-name: matchingUrl
      x-openapi-router-controller: openapi_server.controllers.matching_url_controller
  /matching-urls/{id}:
    get:
      operationId: get_matching_url_item
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/MatchingUrl-Read'
            application/json:
              schema:
                $ref: '#/components/schemas/MatchingUrl-Read'
            text/html:
              schema:
                $ref: '#/components/schemas/MatchingUrl-Read'
            text/csv:
              schema:
                $ref: '#/components/schemas/MatchingUrl-Read'
          description: MatchingUrl resource response
        "404":
          content: {}
          description: Resource not found
      summary: Retrieves a MatchingUrl resource.
      tags:
      - MatchingUrl
      x-openapi-router-controller: openapi_server.controllers.matching_url_controller
  /notifications:
    get:
      operationId: get_notification_collection
      parameters:
      - description: The collection page number
        in: query
        name: page
        schema:
          type: integer
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                items:
                  $ref: '#/components/schemas/Notification-Read'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Notification-Read'
                type: array
            text/html:
              schema:
                items:
                  $ref: '#/components/schemas/Notification-Read'
                type: array
            text/csv:
              schema:
                items:
                  $ref: '#/components/schemas/Notification-Read'
                type: array
          description: Notification collection response
      summary: Retrieves the collection of Notification resources.
      tags:
      - Notification
      x-openapi-router-controller: openapi_server.controllers.notification_controller
  /notifications/{id}:
    get:
      operationId: get_notification_item
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Notification-Read'
            application/json:
              schema:
                $ref: '#/components/schemas/Notification-Read'
            text/html:
              schema:
                $ref: '#/components/schemas/Notification-Read'
            text/csv:
              schema:
                $ref: '#/components/schemas/Notification-Read'
          description: Notification resource response
        "404":
          content: {}
          description: Resource not found
      summary: Retrieves a Notification resource.
      tags:
      - Notification
      x-openapi-router-controller: openapi_server.controllers.notification_controller
  /organizations:
    post:
      operationId: post_organization_collection
      requestBody:
        content:
          application/ld+json:
            schema:
              $ref: '#/components/schemas/Organization-Write'
          application/json:
            schema:
              $ref: '#/components/schemas/Organization-Write'
          text/html:
            schema:
              $ref: '#/components/schemas/Organization-Write'
          text/csv:
            schema:
              $ref: '#/components/schemas/Organization-Write'
        description: The new Organization resource
        required: false
        x-body-name: organization
      responses:
        "201":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Organization-Read'
            application/json:
              schema:
                $ref: '#/components/schemas/Organization-Read'
            text/html:
              schema:
                $ref: '#/components/schemas/Organization-Read'
            text/csv:
              schema:
                $ref: '#/components/schemas/Organization-Read'
          description: Organization resource created
        "400":
          content: {}
          description: Invalid input
        "404":
          content: {}
          description: Resource not found
      summary: Creates a Organization resource.
      tags:
      - Organization
      x-codegen-request-body-name: organization
      x-openapi-router-controller: openapi_server.controllers.organization_controller
  /organizations/{id}:
    delete:
      operationId: delete_organization_item
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Organization resource deleted
        "404":
          content: {}
          description: Resource not found
      summary: Removes the Organization resource.
      tags:
      - Organization
      x-openapi-router-controller: openapi_server.controllers.organization_controller
    get:
      operationId: get_organization_item
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Organization-Read'
            application/json:
              schema:
                $ref: '#/components/schemas/Organization-Read'
            text/html:
              schema:
                $ref: '#/components/schemas/Organization-Read'
            text/csv:
              schema:
                $ref: '#/components/schemas/Organization-Read'
          description: Organization resource response
        "404":
          content: {}
          description: Resource not found
      summary: Retrieves a Organization resource.
      tags:
      - Organization
      x-openapi-router-controller: openapi_server.controllers.organization_controller
    put:
      operationId: put_organization_item
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/ld+json:
            schema:
              $ref: '#/components/schemas/Organization-Write'
          application/json:
            schema:
              $ref: '#/components/schemas/Organization-Write'
          text/html:
            schema:
              $ref: '#/components/schemas/Organization-Write'
          text/csv:
            schema:
              $ref: '#/components/schemas/Organization-Write'
        description: The updated Organization resource
        required: false
        x-body-name: organization
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Organization-Read'
            application/json:
              schema:
                $ref: '#/components/schemas/Organization-Read'
            text/html:
              schema:
                $ref: '#/components/schemas/Organization-Read'
            text/csv:
              schema:
                $ref: '#/components/schemas/Organization-Read'
          description: Organization resource updated
        "400":
          content: {}
          description: Invalid input
        "404":
          content: {}
          description: Resource not found
      summary: Replaces the Organization resource.
      tags:
      - Organization
      x-codegen-request-body-name: organization
      x-openapi-router-controller: openapi_server.controllers.organization_controller
  /post-logs:
    post:
      operationId: post_logs_post
      requestBody:
        content:
          application/ld+json:
            schema:
              $ref: '#/components/schemas/AgentFlushRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/AgentFlushRequest'
          text/html:
            schema:
              $ref: '#/components/schemas/AgentFlushRequest'
          text/csv:
            schema:
              $ref: '#/components/schemas/AgentFlushRequest'
        description: The new AgentFlushRequest resource
        required: false
        x-body-name: agentFlushRequest
      responses:
        "201":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/AgentFlushRequest'
            application/json:
              schema:
                $ref: '#/components/schemas/AgentFlushRequest'
            text/html:
              schema:
                $ref: '#/components/schemas/AgentFlushRequest'
            text/csv:
              schema:
                $ref: '#/components/schemas/AgentFlushRequest'
          description: AgentFlushRequest resource created
        "400":
          content: {}
          description: Invalid input
        "404":
          content: {}
          description: Resource not found
      summary: Creates a AgentFlushRequest resource.
      tags:
      - AgentFlushRequest
      x-codegen-request-body-name: agentFlushRequest
      x-openapi-router-controller: openapi_server.controllers.agent_flush_request_controller
  /projects:
    get:
      operationId: get_project_collection
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                items:
                  $ref: '#/components/schemas/Project-List'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Project-List'
                type: array
            text/html:
              schema:
                items:
                  $ref: '#/components/schemas/Project-List'
                type: array
            text/csv:
              schema:
                items:
                  $ref: '#/components/schemas/Project-List'
                type: array
          description: Project collection response
      summary: Retrieves the collection of Project resources.
      tags:
      - Project
      x-openapi-router-controller: openapi_server.controllers.project_controller
    post:
      operationId: post_project_collection
      requestBody:
        content:
          application/ld+json:
            schema:
              $ref: '#/components/schemas/Project-CreationWrite'
          application/json:
            schema:
              $ref: '#/components/schemas/Project-CreationWrite'
          text/html:
            schema:
              $ref: '#/components/schemas/Project-CreationWrite'
          text/csv:
            schema:
              $ref: '#/components/schemas/Project-CreationWrite'
        description: The new Project resource
        required: false
        x-body-name: project
      responses:
        "201":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Project-Read'
            application/json:
              schema:
                $ref: '#/components/schemas/Project-Read'
            text/html:
              schema:
                $ref: '#/components/schemas/Project-Read'
            text/csv:
              schema:
                $ref: '#/components/schemas/Project-Read'
          description: Project resource created
        "400":
          content: {}
          description: Invalid input
        "404":
          content: {}
          description: Resource not found
      summary: Creates a Project resource.
      tags:
      - Project
      x-codegen-request-body-name: project
      x-openapi-router-controller: openapi_server.controllers.project_controller
  /projects/{id}:
    delete:
      operationId: delete_project_item
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Project resource deleted
        "404":
          content: {}
          description: Resource not found
      summary: Removes the Project resource.
      tags:
      - Project
      x-openapi-router-controller: openapi_server.controllers.project_controller
    get:
      operationId: get_project_item
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Project-Read'
            application/json:
              schema:
                $ref: '#/components/schemas/Project-Read'
            text/html:
              schema:
                $ref: '#/components/schemas/Project-Read'
            text/csv:
              schema:
                $ref: '#/components/schemas/Project-Read'
          description: Project resource response
        "404":
          content: {}
          description: Resource not found
      summary: Retrieves a Project resource.
      tags:
      - Project
      x-openapi-router-controller: openapi_server.controllers.project_controller
    put:
      operationId: put_project_item
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/ld+json:
            schema:
              $ref: '#/components/schemas/Project-Write'
          application/json:
            schema:
              $ref: '#/components/schemas/Project-Write'
          text/html:
            schema:
              $ref: '#/components/schemas/Project-Write'
          text/csv:
            schema:
              $ref: '#/components/schemas/Project-Write'
        description: The updated Project resource
        required: false
        x-body-name: project
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Project-Read'
            application/json:
              schema:
                $ref: '#/components/schemas/Project-Read'
            text/html:
              schema:
                $ref: '#/components/schemas/Project-Read'
            text/csv:
              schema:
                $ref: '#/components/schemas/Project-Read'
          description: Project resource updated
        "400":
          content: {}
          description: Invalid input
        "404":
          content: {}
          description: Resource not found
      summary: Replaces the Project resource.
      tags:
      - Project
      x-codegen-request-body-name: project
      x-openapi-router-controller: openapi_server.controllers.project_controller
  /publish-histories:
    get:
      operationId: get_publish_history_collection
      parameters:
      - in: query
        name: projectId
        required: true
        schema:
          type: string
      - in: query
        name: "createdAt[before]"
        schema:
          type: string
      - in: query
        name: "createdAt[strictly_before]"
        schema:
          type: string
      - in: query
        name: "createdAt[after]"
        schema:
          type: string
      - in: query
        name: "createdAt[strictly_after]"
        schema:
          type: string
      - description: The collection page number
        in: query
        name: page
        schema:
          type: integer
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                items:
                  $ref: '#/components/schemas/PublishHistory-Read'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PublishHistory-Read'
                type: array
            text/html:
              schema:
                items:
                  $ref: '#/components/schemas/PublishHistory-Read'
                type: array
            text/csv:
              schema:
                items:
                  $ref: '#/components/schemas/PublishHistory-Read'
                type: array
          description: PublishHistory collection response
      summary: Retrieves the collection of PublishHistory resources.
      tags:
      - PublishHistory
      x-openapi-router-controller: openapi_server.controllers.publish_history_controller
  /publish-histories/{id}:
    get:
      operationId: get_publish_history_item
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/PublishHistory-Read'
            application/json:
              schema:
                $ref: '#/components/schemas/PublishHistory-Read'
            text/html:
              schema:
                $ref: '#/components/schemas/PublishHistory-Read'
            text/csv:
              schema:
                $ref: '#/components/schemas/PublishHistory-Read'
          description: PublishHistory resource response
        "404":
          content: {}
          description: Resource not found
      summary: Retrieves a PublishHistory resource.
      tags:
      - PublishHistory
      x-openapi-router-controller: openapi_server.controllers.publish_history_controller
  /rule-changes:
    get:
      operationId: get_rule_change_collection
      parameters:
      - in: query
        name: versionId
        required: true
        schema:
          type: string
      - description: The collection page number
        in: query
        name: page
        schema:
          type: integer
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                items:
                  $ref: '#/components/schemas/RuleChange-Read'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/RuleChange-Read'
                type: array
            text/html:
              schema:
                items:
                  $ref: '#/components/schemas/RuleChange-Read'
                type: array
            text/csv:
              schema:
                items:
                  $ref: '#/components/schemas/RuleChange-Read'
                type: array
          description: RuleChange collection response
      summary: Retrieves the collection of RuleChange resources.
      tags:
      - RuleChange
      x-openapi-router-controller: openapi_server.controllers.rule_change_controller
    post:
      operationId: post_rule_change_collection
      requestBody:
        content:
          application/ld+json:
            schema:
              $ref: '#/components/schemas/RuleChange-Write'
          application/json:
            schema:
              $ref: '#/components/schemas/RuleChange-Write'
          text/html:
            schema:
              $ref: '#/components/schemas/RuleChange-Write'
          text/csv:
            schema:
              $ref: '#/components/schemas/RuleChange-Write'
        description: The new RuleChange resource
        required: false
        x-body-name: ruleChange
      responses:
        "201":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/RuleChange-Read'
            application/json:
              schema:
                $ref: '#/components/schemas/RuleChange-Read'
            text/html:
              schema:
                $ref: '#/components/schemas/RuleChange-Read'
            text/csv:
              schema:
                $ref: '#/components/schemas/RuleChange-Read'
          description: RuleChange resource created
        "400":
          content: {}
          description: Invalid input
        "404":
          content: {}
          description: Resource not found
      summary: Creates a RuleChange resource.
      tags:
      - RuleChange
      x-codegen-request-body-name: ruleChange
      x-openapi-router-controller: openapi_server.controllers.rule_change_controller
  /rule-changes/{id}:
    delete:
      operationId: delete_rule_change_item
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: RuleChange resource deleted
        "404":
          content: {}
          description: Resource not found
      summary: Removes the RuleChange resource.
      tags:
      - RuleChange
      x-openapi-router-controller: openapi_server.controllers.rule_change_controller
    get:
      operationId: get_rule_change_item
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/RuleChange-Read'
            application/json:
              schema:
                $ref: '#/components/schemas/RuleChange-Read'
            text/html:
              schema:
                $ref: '#/components/schemas/RuleChange-Read'
            text/csv:
              schema:
                $ref: '#/components/schemas/RuleChange-Read'
          description: RuleChange resource response
        "404":
          content: {}
          description: Resource not found
      summary: Retrieves a RuleChange resource.
      tags:
      - RuleChange
      x-openapi-router-controller: openapi_server.controllers.rule_change_controller
  /rule-set-versions:
    get:
      operationId: get_rule_set_version_collection
      parameters:
      - in: query
        name: projectId
        required: true
        schema:
          type: string
      - in: query
        name: "sort[createdAt]"
        schema:
          type: string
      - description: The collection page number
        in: query
        name: page
        schema:
          type: integer
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                items:
                  $ref: '#/components/schemas/RuleSetVersion-Read'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/RuleSetVersion-Read'
                type: array
            text/html:
              schema:
                items:
                  $ref: '#/components/schemas/RuleSetVersion-Read'
                type: array
            text/csv:
              schema:
                items:
                  $ref: '#/components/schemas/RuleSetVersion-Read'
                type: array
          description: RuleSetVersion collection response
      summary: Retrieves the collection of RuleSetVersion resources.
      tags:
      - RuleSetVersion
      x-openapi-router-controller: openapi_server.controllers.rule_set_version_controller
  /rule-set-versions/{id}:
    get:
      operationId: get_rule_set_version_item
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/RuleSetVersion-Read'
            application/json:
              schema:
                $ref: '#/components/schemas/RuleSetVersion-Read'
            text/html:
              schema:
                $ref: '#/components/schemas/RuleSetVersion-Read'
            text/csv:
              schema:
                $ref: '#/components/schemas/RuleSetVersion-Read'
          description: RuleSetVersion resource response
        "404":
          content: {}
          description: Resource not found
      summary: Retrieves a RuleSetVersion resource.
      tags:
      - RuleSetVersion
      x-openapi-router-controller: openapi_server.controllers.rule_set_version_controller
  /rule-set-versions/{id}/clear:
    post:
      operationId: clear_rule_set_version_item
      parameters:
      - description: The id of the version
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/ld+json:
            schema:
              $ref: '#/components/schemas/RuleSetVersion'
          application/json:
            schema:
              $ref: '#/components/schemas/RuleSetVersion'
          text/html:
            schema:
              $ref: '#/components/schemas/RuleSetVersion'
          text/csv:
            schema:
              $ref: '#/components/schemas/RuleSetVersion'
        description: The new RuleSetVersion resource
        required: true
        x-body-name: ruleSetVersion
      responses:
        "201":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/RuleSetVersion-Read'
            application/json:
              schema:
                $ref: '#/components/schemas/RuleSetVersion-Read'
            text/html:
              schema:
                $ref: '#/components/schemas/RuleSetVersion-Read'
            text/csv:
              schema:
                $ref: '#/components/schemas/RuleSetVersion-Read'
          description: RuleSetVersion resource created
        "400":
          content: {}
          description: Invalid input
        "404":
          content: {}
          description: Resource not found
      summary: Clear a version
      tags:
      - RuleSetVersion
      x-codegen-request-body-name: ruleSetVersion
      x-openapi-router-controller: openapi_server.controllers.rule_set_version_controller
  /rule-set-versions/{id}/publish:
    post:
      operationId: publish_rule_set_version_item
      parameters:
      - description: The id of the version
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/ld+json:
            schema:
              $ref: '#/components/schemas/RuleSetVersion'
          application/json:
            schema:
              $ref: '#/components/schemas/RuleSetVersion'
          text/html:
            schema:
              $ref: '#/components/schemas/RuleSetVersion'
          text/csv:
            schema:
              $ref: '#/components/schemas/RuleSetVersion'
        description: The new RuleSetVersion resource
        required: true
        x-body-name: ruleSetVersion
      responses:
        "201":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/RuleSetVersion-Read'
            application/json:
              schema:
                $ref: '#/components/schemas/RuleSetVersion-Read'
            text/html:
              schema:
                $ref: '#/components/schemas/RuleSetVersion-Read'
            text/csv:
              schema:
                $ref: '#/components/schemas/RuleSetVersion-Read'
          description: RuleSetVersion resource created
        "400":
          content: {}
          description: Invalid input
        "404":
          content: {}
          description: Resource not found
      summary: Publish a version
      tags:
      - RuleSetVersion
      x-codegen-request-body-name: ruleSetVersion
      x-openapi-router-controller: openapi_server.controllers.rule_set_version_controller
  /rule-statistics:
    get:
      operationId: get_rule_statistic_collection
      parameters:
      - in: query
        name: projectId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                items:
                  $ref: '#/components/schemas/RuleStatistic'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/RuleStatistic'
                type: array
            text/html:
              schema:
                items:
                  $ref: '#/components/schemas/RuleStatistic'
                type: array
            text/csv:
              schema:
                items:
                  $ref: '#/components/schemas/RuleStatistic'
                type: array
          description: RuleStatistic collection response
      summary: Retrieves the collection of RuleStatistic resources.
      tags:
      - RuleStatistic
      x-openapi-router-controller: openapi_server.controllers.rule_statistic_controller
  /rule-statistics/{id}:
    get:
      operationId: get_rule_statistic_item
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/RuleStatistic'
            application/json:
              schema:
                $ref: '#/components/schemas/RuleStatistic'
            text/html:
              schema:
                $ref: '#/components/schemas/RuleStatistic'
            text/csv:
              schema:
                $ref: '#/components/schemas/RuleStatistic'
          description: RuleStatistic resource response
        "404":
          content: {}
          description: Resource not found
      summary: Retrieves a RuleStatistic resource.
      tags:
      - RuleStatistic
      x-openapi-router-controller: openapi_server.controllers.rule_statistic_controller
  /rules:
    get:
      operationId: get_rule_collection
      parameters:
      - in: query
        name: projectId
        required: true
        schema:
          type: string
      - in: query
        name: "sort[id]"
        schema:
          type: string
      - in: query
        name: "sort[viewCount]"
        schema:
          type: string
      - description: The collection page number
        in: query
        name: page
        schema:
          type: integer
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                items:
                  $ref: '#/components/schemas/Rule-Read'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Rule-Read'
                type: array
            text/html:
              schema:
                items:
                  $ref: '#/components/schemas/Rule-Read'
                type: array
            text/csv:
              schema:
                items:
                  $ref: '#/components/schemas/Rule-Read'
                type: array
          description: Rule collection response
      summary: Retrieves the collection of Rule resources.
      tags:
      - Rule
      x-openapi-router-controller: openapi_server.controllers.rule_controller
  /rules/{id}:
    get:
      operationId: get_rule_item
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Rule-Read'
            application/json:
              schema:
                $ref: '#/components/schemas/Rule-Read'
            text/html:
              schema:
                $ref: '#/components/schemas/Rule-Read'
            text/csv:
              schema:
                $ref: '#/components/schemas/Rule-Read'
          description: Rule resource response
        "404":
          content: {}
          description: Resource not found
      summary: Retrieves a Rule resource.
      tags:
      - Rule
      x-openapi-router-controller: openapi_server.controllers.rule_controller
  /smart-lists:
    get:
      operationId: get_smart_list_collection
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                items:
                  $ref: '#/components/schemas/SmartList'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/SmartList'
                type: array
            text/html:
              schema:
                items:
                  $ref: '#/components/schemas/SmartList'
                type: array
            text/csv:
              schema:
                items:
                  $ref: '#/components/schemas/SmartList'
                type: array
          description: SmartList collection response
      summary: Retrieves the collection of SmartList resources.
      tags:
      - SmartList
      x-openapi-router-controller: openapi_server.controllers.smart_list_controller
  /smart-lists/{id}:
    get:
      operationId: get_smart_list_item
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/SmartList'
            application/json:
              schema:
                $ref: '#/components/schemas/SmartList'
            text/html:
              schema:
                $ref: '#/components/schemas/SmartList'
            text/csv:
              schema:
                $ref: '#/components/schemas/SmartList'
          description: SmartList resource response
        "404":
          content: {}
          description: Resource not found
      summary: Retrieves a SmartList resource.
      tags:
      - SmartList
      x-openapi-router-controller: openapi_server.controllers.smart_list_controller
  /user-organizations:
    post:
      operationId: post_user_organization_collection
      requestBody:
        content:
          application/ld+json:
            schema:
              $ref: '#/components/schemas/UserOrganization-CreationWrite'
          application/json:
            schema:
              $ref: '#/components/schemas/UserOrganization-CreationWrite'
          text/html:
            schema:
              $ref: '#/components/schemas/UserOrganization-CreationWrite'
          text/csv:
            schema:
              $ref: '#/components/schemas/UserOrganization-CreationWrite'
        description: The new UserOrganization resource
        required: false
        x-body-name: userOrganization
      responses:
        "201":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/UserOrganization-Read'
            application/json:
              schema:
                $ref: '#/components/schemas/UserOrganization-Read'
            text/html:
              schema:
                $ref: '#/components/schemas/UserOrganization-Read'
            text/csv:
              schema:
                $ref: '#/components/schemas/UserOrganization-Read'
          description: UserOrganization resource created
        "400":
          content: {}
          description: Invalid input
        "404":
          content: {}
          description: Resource not found
      summary: Creates a UserOrganization resource.
      tags:
      - UserOrganization
      x-codegen-request-body-name: userOrganization
      x-openapi-router-controller: openapi_server.controllers.user_organization_controller
  /user-organizations/{id}:
    delete:
      operationId: delete_user_organization_item
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: UserOrganization resource deleted
        "404":
          content: {}
          description: Resource not found
      summary: Removes the UserOrganization resource.
      tags:
      - UserOrganization
      x-openapi-router-controller: openapi_server.controllers.user_organization_controller
    get:
      operationId: get_user_organization_item
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/UserOrganization-Read'
            application/json:
              schema:
                $ref: '#/components/schemas/UserOrganization-Read'
            text/html:
              schema:
                $ref: '#/components/schemas/UserOrganization-Read'
            text/csv:
              schema:
                $ref: '#/components/schemas/UserOrganization-Read'
          description: UserOrganization resource response
        "404":
          content: {}
          description: Resource not found
      summary: Retrieves a UserOrganization resource.
      tags:
      - UserOrganization
      x-openapi-router-controller: openapi_server.controllers.user_organization_controller
    put:
      operationId: put_user_organization_item
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/ld+json:
            schema:
              $ref: '#/components/schemas/UserOrganization-Write'
          application/json:
            schema:
              $ref: '#/components/schemas/UserOrganization-Write'
          text/html:
            schema:
              $ref: '#/components/schemas/UserOrganization-Write'
          text/csv:
            schema:
              $ref: '#/components/schemas/UserOrganization-Write'
        description: The updated UserOrganization resource
        required: false
        x-body-name: userOrganization
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/UserOrganization-Read'
            application/json:
              schema:
                $ref: '#/components/schemas/UserOrganization-Read'
            text/html:
              schema:
                $ref: '#/components/schemas/UserOrganization-Read'
            text/csv:
              schema:
                $ref: '#/components/schemas/UserOrganization-Read'
          description: UserOrganization resource updated
        "400":
          content: {}
          description: Invalid input
        "404":
          content: {}
          description: Resource not found
      summary: Replaces the UserOrganization resource.
      tags:
      - UserOrganization
      x-codegen-request-body-name: userOrganization
      x-openapi-router-controller: openapi_server.controllers.user_organization_controller
  /user-project-flatteneds/{id}:
    get:
      operationId: get_user_project_flattened_item
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/UserProjectFlattened-Read'
            application/json:
              schema:
                $ref: '#/components/schemas/UserProjectFlattened-Read'
            text/html:
              schema:
                $ref: '#/components/schemas/UserProjectFlattened-Read'
            text/csv:
              schema:
                $ref: '#/components/schemas/UserProjectFlattened-Read'
          description: UserProjectFlattened resource response
        "404":
          content: {}
          description: Resource not found
      summary: Retrieves a UserProjectFlattened resource.
      tags:
      - UserProjectFlattened
      x-openapi-router-controller: openapi_server.controllers.user_project_flattened_controller
  /user-projects:
    post:
      operationId: post_user_project_collection
      requestBody:
        content:
          application/ld+json:
            schema:
              $ref: '#/components/schemas/UserProject-CreationWrite'
          application/json:
            schema:
              $ref: '#/components/schemas/UserProject-CreationWrite'
          text/html:
            schema:
              $ref: '#/components/schemas/UserProject-CreationWrite'
          text/csv:
            schema:
              $ref: '#/components/schemas/UserProject-CreationWrite'
        description: The new UserProject resource
        required: false
        x-body-name: userProject
      responses:
        "201":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/UserProject-Read'
            application/json:
              schema:
                $ref: '#/components/schemas/UserProject-Read'
            text/html:
              schema:
                $ref: '#/components/schemas/UserProject-Read'
            text/csv:
              schema:
                $ref: '#/components/schemas/UserProject-Read'
          description: UserProject resource created
        "400":
          content: {}
          description: Invalid input
        "404":
          content: {}
          description: Resource not found
      summary: Creates a UserProject resource.
      tags:
      - UserProject
      x-codegen-request-body-name: userProject
      x-openapi-router-controller: openapi_server.controllers.user_project_controller
  /user-projects/{id}:
    delete:
      operationId: delete_user_project_item
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: UserProject resource deleted
        "404":
          content: {}
          description: Resource not found
      summary: Removes the UserProject resource.
      tags:
      - UserProject
      x-openapi-router-controller: openapi_server.controllers.user_project_controller
    get:
      operationId: get_user_project_item
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/UserProject-Read'
            application/json:
              schema:
                $ref: '#/components/schemas/UserProject-Read'
            text/html:
              schema:
                $ref: '#/components/schemas/UserProject-Read'
            text/csv:
              schema:
                $ref: '#/components/schemas/UserProject-Read'
          description: UserProject resource response
        "404":
          content: {}
          description: Resource not found
      summary: Retrieves a UserProject resource.
      tags:
      - UserProject
      x-openapi-router-controller: openapi_server.controllers.user_project_controller
    put:
      operationId: put_user_project_item
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/ld+json:
            schema:
              $ref: '#/components/schemas/UserProject-Write'
          application/json:
            schema:
              $ref: '#/components/schemas/UserProject-Write'
          text/html:
            schema:
              $ref: '#/components/schemas/UserProject-Write'
          text/csv:
            schema:
              $ref: '#/components/schemas/UserProject-Write'
        description: The updated UserProject resource
        required: false
        x-body-name: userProject
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/UserProject-Read'
            application/json:
              schema:
                $ref: '#/components/schemas/UserProject-Read'
            text/html:
              schema:
                $ref: '#/components/schemas/UserProject-Read'
            text/csv:
              schema:
                $ref: '#/components/schemas/UserProject-Read'
          description: UserProject resource updated
        "400":
          content: {}
          description: Invalid input
        "404":
          content: {}
          description: Resource not found
      summary: Replaces the UserProject resource.
      tags:
      - UserProject
      x-codegen-request-body-name: userProject
      x-openapi-router-controller: openapi_server.controllers.user_project_controller
  /users:
[...]
