openapi: 3.0.1
info:
  title: StreamAnalyticsManagementClient
  version: 2016-03-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/streamanalytics/resource-manager/Microsoft.StreamAnalytics/stable/2016-03-01/inputs.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: streamanalytics-inputs
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/streamingjobs/{jobName}/inputs
  : get:
      description: Lists all of the inputs under the specified streaming job.
      operationId: inputs_list_by_streaming_job
      parameters:
      - description: "The $select OData query parameter. This is a comma-separated\
          \ list of structural properties to include in the response, or \"*\" to\
          \ include all properties. By default, all properties are returned except\
          \ diagnostics. Currently only accepts '*' as a valid value."
        in: query
        name: $select
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: GUID which uniquely identify Microsoft Azure subscription. The
          subscription ID forms part of the URI for every service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the streaming job.
        in: path
        name: jobName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InputListResult'
          description: Successfully listed the inputs under the specified streaming
            job.
      tags:
      - Inputs
      x-ms-examples:
        List all inputs in a streaming job:
          parameters:
            api-version: 2016-03-01
            jobName: sj9597
            resourceGroupName: sjrg8440
            subscriptionId: 56b5e0a9-b645-407d-99b0-c64f86013e3d
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg8440/providers/Microsoft.StreamAnalytics/streamingjobs/sj9597/inputs/input7225
                  name: input7225
                  properties:
                    datasource:
                      properties:
                        container: differentContainer
                        dateFormat: yyyy/MM/dd
                        pathPattern: "{date}/{time}"
                        storageAccounts:
                        - accountName: someAccountName
                        timeFormat: HH
                      type: Microsoft.Storage/Blob
                    etag: a4ceb697-1c8f-40c8-b951-fb5ee4757437
                    serialization:
                      properties:
                        encoding: UTF8
                        fieldDelimiter: '|'
                      type: Csv
                    type: Reference
                  type: Microsoft.StreamAnalytics/streamingjobs/inputs
                - id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg8440/providers/Microsoft.StreamAnalytics/streamingjobs/sj9597/inputs/input8899
                  name: input8899
                  properties:
                    datasource:
                      properties:
                        container: state
                        dateFormat: yyyy/MM/dd
                        pathPattern: "{date}/{time}"
                        sourcePartitionCount: 32
                        storageAccounts:
                        - accountName: someAccountName
                        timeFormat: HH
                      type: Microsoft.Storage/Blob
                    etag: 3b35d57c-02f4-4b41-8e1d-af02a86c2fa1
                    serialization:
                      properties:
                        encoding: UTF8
                        fieldDelimiter: '|'
                      type: Csv
                    type: Stream
                  type: Microsoft.StreamAnalytics/streamingjobs/inputs
                - id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg8440/providers/Microsoft.StreamAnalytics/streamingjobs/sj9597/inputs/input7425
                  name: input7425
                  properties:
                    datasource:
                      properties:
                        consumerGroupName: differentConsumerGroupName
                        eventHubName: sdkeventhub
                        serviceBusNamespace: sdktest
                        sharedAccessPolicyName: RootManageSharedAccessKey
                      type: Microsoft.ServiceBus/EventHub
                    etag: 7548f259-81b5-4ea7-b896-25c6717d98ba
                    serialization:
                      properties: {}
                      type: Avro
                    type: Stream
                  type: Microsoft.StreamAnalytics/streamingjobs/inputs
                - id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg8440/providers/Microsoft.StreamAnalytics/streamingjobs/sj9597/inputs/input7970
                  name: input7970
                  properties:
                    datasource:
                      properties:
                        consumerGroupName: sdkconsumergroup
                        endpoint: messages/operationsMonitoringEvents
                        iotHubNamespace: iothub
                        sharedAccessPolicyName: owner
                      type: Microsoft.Devices/IotHubs
                    etag: e2d847e0-c95b-48ef-9e14-1afc1f2270cb
                    serialization:
                      properties:
                        encoding: UTF8
                        fieldDelimiter: '|'
                      type: Csv
                    type: Stream
                  type: Microsoft.StreamAnalytics/streamingjobs/inputs
        List all inputs in a streaming job and include diagnostic information using the $select OData query parameter:
          parameters:
            $select: '*'
            api-version: 2016-03-01
            jobName: sj7804
            resourceGroupName: sjrg3276
            subscriptionId: 56b5e0a9-b645-407d-99b0-c64f86013e3d
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg3276/providers/Microsoft.StreamAnalytics/streamingjobs/sj7804/inputs/inputtest
                  name: inputtest
                  properties:
                    datasource:
                      properties:
                        container: state
                        pathPattern: ""
                        storageAccounts:
                        - accountName: someAccountName
                      type: Microsoft.Storage/Blob
                    diagnostics:
                      conditions:
                      - code: INP-3
                        message: "Could not deserialize the input event as Json. Some\
                          \ possible reasons: 1) Malformed events 2) Input source\
                          \ configured with incorrect serialization format"
                        since: 2017-05-11T04:38:42.4938687Z
                    etag: ca88f8fa-605b-4c7f-8695-46f5faa60cd0
                    serialization:
                      properties:
                        encoding: UTF8
                      type: Json
                    type: Stream
                  type: Microsoft.StreamAnalytics/streamingjobs/inputs
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.inputs_controller
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/streamingjobs/{jobName}/inputs/{inputName}
  : delete:
      description: Deletes an input from the streaming job.
      operationId: inputs_delete
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: GUID which uniquely identify Microsoft Azure subscription. The
          subscription ID forms part of the URI for every service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the streaming job.
        in: path
        name: job_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the input.
        in: path
        name: input_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content: {}
          description: The input was successfully deleted.
        "204":
          content: {}
          description: The input does not exist.
      tags:
      - Inputs
      x-ms-examples:
        Delete an input:
          parameters:
            api-version: 2016-03-01
            inputName: input7225
            jobName: sj9597
            resourceGroupName: sjrg8440
            subscriptionId: 56b5e0a9-b645-407d-99b0-c64f86013e3d
          responses:
            "200": {}
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.inputs_controller
    get:
      description: Gets details about the specified input.
      operationId: inputs_get
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: GUID which uniquely identify Microsoft Azure subscription. The
          subscription ID forms part of the URI for every service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the streaming job.
        in: path
        name: job_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the input.
        in: path
        name: inputName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Input'
          description: Successfully retrieved the specified input.
          headers:
            ETag:
              description: The current entity tag for the input. This is an opaque
                string. You can use it to detect whether the resource has changed
                between requests. You can also use it in the If-Match or If-None-Match
                headers for write operations for optimistic concurrency.
              schema:
                type: string
      tags:
      - Inputs
      x-ms-examples:
        Get a reference blob input with CSV serialization:
          parameters:
            api-version: 2016-03-01
            inputName: input7225
            jobName: sj9597
            resourceGroupName: sjrg8440
            subscriptionId: 56b5e0a9-b645-407d-99b0-c64f86013e3d
          responses:
            "200":
              body:
                id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg8440/providers/Microsoft.StreamAnalytics/streamingjobs/sj9597/inputs/input7225
                name: input7225
                properties:
                  datasource:
                    properties:
                      container: state
                      dateFormat: yyyy/MM/dd
                      pathPattern: "{date}/{time}"
                      storageAccounts:
                      - accountName: someAccountName
                      timeFormat: HH
                    type: Microsoft.Storage/Blob
                  serialization:
                    properties:
                      encoding: UTF8
                      fieldDelimiter: ","
                    type: Csv
                  type: Reference
                type: Microsoft.StreamAnalytics/streamingjobs/inputs
              headers:
                ETag: c987701d-4039-47aa-a115-ad84f67d07c5
        Get a stream Event Hub input with JSON serialization:
          parameters:
            api-version: 2016-03-01
            inputName: input7425
            jobName: sj197
            resourceGroupName: sjrg3139
            subscriptionId: 56b5e0a9-b645-407d-99b0-c64f86013e3d
          responses:
            "200":
              body:
                id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg3139/providers/Microsoft.StreamAnalytics/streamingjobs/sj197/inputs/input7425
                name: input7425
                properties:
                  datasource:
                    properties:
                      consumerGroupName: sdkconsumergroup
                      eventHubName: sdkeventhub
                      serviceBusNamespace: sdktest
                      sharedAccessPolicyName: RootManageSharedAccessKey
                    type: Microsoft.ServiceBus/EventHub
                  serialization:
                    properties:
                      encoding: UTF8
                    type: Json
                  type: Stream
                type: Microsoft.StreamAnalytics/streamingjobs/inputs
              headers:
                ETag: afd0d184-37e9-4370-9e55-32501bc4de3a
        Get a stream IoT Hub input with Avro serialization:
          parameters:
            api-version: 2016-03-01
            inputName: input7970
            jobName: sj9742
            resourceGroupName: sjrg3467
            subscriptionId: 56b5e0a9-b645-407d-99b0-c64f86013e3d
          responses:
            "200":
              body:
                id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg3467/providers/Microsoft.StreamAnalytics/streamingjobs/sj9742/inputs/input7970
                name: input7970
                properties:
                  datasource:
                    properties:
                      consumerGroupName: sdkconsumergroup
                      endpoint: messages/events
                      iotHubNamespace: iothub
                      sharedAccessPolicyName: owner
                    type: Microsoft.Devices/IotHubs
                  serialization:
                    properties: {}
                    type: Avro
                  type: Stream
                type: Microsoft.StreamAnalytics/streamingjobs/inputs
              headers:
                ETag: bd8009b3-8165-4bd3-aad2-29a2b378dd14
        Get a stream blob input with CSV serialization:
          parameters:
            api-version: 2016-03-01
            inputName: input8899
            jobName: sj6695
            resourceGroupName: sjrg8161
            subscriptionId: 56b5e0a9-b645-407d-99b0-c64f86013e3d
          responses:
            "200":
              body:
                id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg8161/providers/Microsoft.StreamAnalytics/streamingjobs/sj6695/inputs/input8899
                name: input8899
                properties:
                  datasource:
                    properties:
                      container: state
                      dateFormat: yyyy/MM/dd
                      pathPattern: "{date}/{time}"
                      sourcePartitionCount: 16
                      storageAccounts:
                      - accountName: someAccountName
                      timeFormat: HH
                    type: Microsoft.Storage/Blob
                  serialization:
                    properties:
                      encoding: UTF8
                      fieldDelimiter: ","
                    type: Csv
                  type: Stream
                type: Microsoft.StreamAnalytics/streamingjobs/inputs
              headers:
                ETag: 475074b8-c957-4b1f-a219-12b8399c3d4c
      x-openapi-router-controller: openapi_server.controllers.inputs_controller
    patch:
      description: Updates an existing input under an existing streaming job. This
        can be used to partially update (ie. update one or two properties) an input
        without affecting the rest the job or input definition.
      operationId: inputs_update
      parameters:
      - description: The ETag of the input. Omit this value to always overwrite the
          current input. Specify the last-seen ETag value to prevent accidentally
          overwriting concurrent changes.
        in: header
        name: If-Match
        schema:
          type: string
          x-ms-client-name: IfMatch
        x-ms-client-name: IfMatch
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: GUID which uniquely identify Microsoft Azure subscription. The
          subscription ID forms part of the URI for every service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the streaming job.
        in: path
        name: job_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the input.
        in: path
        name: input_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Input'
        description: An Input object. The properties specified here will overwrite
          the corresponding properties in the existing input (ie. Those properties
          will be updated). Any properties that are set to null here will mean that
          the corresponding property in the existing input will remain the same and
          not change as a result of this PATCH operation.
        required: true
        x-body-name: input
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Input'
          description: The input was successfully updated.
          headers:
            ETag:
              description: The current entity tag for the input. This is an opaque
                string. You can use it to detect whether the resource has changed
                between requests. You can also use it in the If-Match or If-None-Match
                headers for write operations for optimistic concurrency.
              schema:
                type: string
      tags:
      - Inputs
      x-ms-examples:
        Update a reference blob input:
          parameters:
            api-version: 2016-03-01
            input:
              properties:
                datasource:
                  properties:
                    container: differentContainer
                  type: Microsoft.Storage/Blob
                serialization:
                  properties:
                    encoding: UTF8
                    fieldDelimiter: '|'
                  type: Csv
                type: Reference
            inputName: input7225
            jobName: sj9597
            resourceGroupName: sjrg8440
            subscriptionId: 56b5e0a9-b645-407d-99b0-c64f86013e3d
          responses:
            "200":
              body:
                id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg8440/providers/Microsoft.StreamAnalytics/streamingjobs/sj9597/inputs/input7225
                name: input7225
                properties:
                  datasource:
                    properties:
                      container: differentContainer
                      dateFormat: yyyy/MM/dd
                      pathPattern: "{date}/{time}"
                      storageAccounts:
                      - accountName: someAccountName
                      timeFormat: HH
                    type: Microsoft.Storage/Blob
                  serialization:
                    properties:
                      encoding: UTF8
                      fieldDelimiter: '|'
                    type: Csv
                  type: Reference
                type: Microsoft.StreamAnalytics/streamingjobs/inputs
              headers:
                ETag: a4ceb697-1c8f-40c8-b951-fb5ee4757437
        Update a stream Event Hub input:
          parameters:
            api-version: 2016-03-01
            input:
              properties:
                datasource:
                  properties:
                    consumerGroupName: differentConsumerGroupName
                  type: Microsoft.ServiceBus/EventHub
                serialization:
                  type: Avro
                type: Stream
            inputName: input7425
            jobName: sj197
            resourceGroupName: sjrg3139
            subscriptionId: 56b5e0a9-b645-407d-99b0-c64f86013e3d
          responses:
            "200":
              body:
                id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg3139/providers/Microsoft.StreamAnalytics/streamingjobs/sj197/inputs/input7425
                name: input7425
                properties:
                  datasource:
                    properties:
                      consumerGroupName: differentConsumerGroupName
                      eventHubName: sdkeventhub
                      serviceBusNamespace: sdktest
                      sharedAccessPolicyName: RootManageSharedAccessKey
                    type: Microsoft.ServiceBus/EventHub
                  serialization:
                    properties: {}
                    type: Avro
                  type: Stream
                type: Microsoft.StreamAnalytics/streamingjobs/inputs
              headers:
                ETag: 7548f259-81b5-4ea7-b896-25c6717d98ba
        Update a stream IoT Hub input:
          parameters:
            api-version: 2016-03-01
            input:
              properties:
                datasource:
                  properties:
                    endpoint: messages/operationsMonitoringEvents
                  type: Microsoft.Devices/IotHubs
                serialization:
                  properties:
                    encoding: UTF8
                    fieldDelimiter: '|'
                  type: Csv
                type: Stream
            inputName: input7970
            jobName: sj9742
            resourceGroupName: sjrg3467
            subscriptionId: 56b5e0a9-b645-407d-99b0-c64f86013e3d
          responses:
            "200":
              body:
                id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg3467/providers/Microsoft.StreamAnalytics/streamingjobs/sj9742/inputs/input7970
                name: input7970
                properties:
                  datasource:
                    properties:
                      consumerGroupName: sdkconsumergroup
                      endpoint: messages/operationsMonitoringEvents
                      iotHubNamespace: iothub
                      sharedAccessPolicyName: owner
                    type: Microsoft.Devices/IotHubs
                  serialization:
                    properties:
                      encoding: UTF8
                      fieldDelimiter: '|'
                    type: Csv
                  type: Stream
                type: Microsoft.StreamAnalytics/streamingjobs/inputs
              headers:
                ETag: e2d847e0-c95b-48ef-9e14-1afc1f2270cb
        Update a stream blob input:
          parameters:
            api-version: 2016-03-01
            input:
              properties:
                datasource:
                  properties:
                    sourcePartitionCount: 32
                  type: Microsoft.Storage/Blob
                serialization:
                  properties:
                    encoding: UTF8
                    fieldDelimiter: '|'
                  type: Csv
                type: Stream
            inputName: input8899
            jobName: sj6695
            resourceGroupName: sjrg8161
            subscriptionId: 56b5e0a9-b645-407d-99b0-c64f86013e3d
          responses:
            "200":
              body:
                id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg8161/providers/Microsoft.StreamAnalytics/streamingjobs/sj6695/inputs/input8899
                name: input8899
                properties:
                  datasource:
                    properties:
                      container: state
                      dateFormat: yyyy/MM/dd
                      pathPattern: "{date}/{time}"
                      sourcePartitionCount: 32
                      storageAccounts:
                      - accountName: someAccountName
                      timeFormat: HH
                    type: Microsoft.Storage/Blob
                  serialization:
                    properties:
                      encoding: UTF8
                      fieldDelimiter: '|'
                    type: Csv
                  type: Stream
                type: Microsoft.StreamAnalytics/streamingjobs/inputs
              headers:
                ETag: 3b35d57c-02f4-4b41-8e1d-af02a86c2fa1
      x-codegen-request-body-name: input
      x-openapi-router-controller: openapi_server.controllers.inputs_controller
    put:
      description: Creates an input or replaces an already existing input under an
        existing streaming job.
      operationId: inputs_create_or_replace
      parameters:
      - description: The ETag of the input. Omit this value to always overwrite the
          current input. Specify the last-seen ETag value to prevent accidentally
          overwriting concurrent changes.
        in: header
        name: If-Match
        schema:
          type: string
          x-ms-client-name: IfMatch
        x-ms-client-name: IfMatch
      - description: "Set to '*' to allow a new input to be created, but to prevent\
          \ updating an existing input. Other values will result in a 412 Pre-condition\
          \ Failed response."
        in: header
        name: If-None-Match
        schema:
          type: string
          x-ms-client-name: IfNoneMatch
        x-ms-client-name: IfNoneMatch
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: GUID which uniquely identify Microsoft Azure subscription. The
          subscription ID forms part of the URI for every service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the streaming job.
        in: path
        name: job_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the input.
        in: path
        name: input_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Input'
        description: The definition of the input that will be used to create a new
          input or replace the existing one under the streaming job.
        required: true
        x-body-name: input
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Input'
          description: The input was successfully created or replaced.
          headers:
            ETag:
              description: The current entity tag for the input. This is an opaque
                string. You can use it to detect whether the resource has changed
                between requests. You can also use it in the If-Match or If-None-Match
                headers for write operations for optimistic concurrency.
              schema:
                type: string
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Input'
          description: The input was successfully created or replaced.
          headers:
            ETag:
              description: The current entity tag for the input. This is an opaque
                string. You can use it to detect whether the resource has changed
                between requests. You can also use it in the If-Match or If-None-Match
                headers for write operations for optimistic concurrency.
              schema:
                type: string
      tags:
      - Inputs
      x-ms-examples:
        Create a reference blob input with CSV serialization:
          parameters:
            api-version: 2016-03-01
            input:
              properties:
                datasource:
                  properties:
                    container: state
                    dateFormat: yyyy/MM/dd
                    pathPattern: "{date}/{time}"
                    storageAccounts:
                    - accountKey: someAccountKey==
                      accountName: someAccountName
                    timeFormat: HH
                  type: Microsoft.Storage/Blob
                serialization:
                  properties:
                    encoding: UTF8
                    fieldDelimiter: ","
                  type: Csv
                type: Reference
            inputName: input7225
            jobName: sj9597
            resourceGroupName: sjrg8440
            subscriptionId: 56b5e0a9-b645-407d-99b0-c64f86013e3d
          responses:
            "200":
              body:
                id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg8440/providers/Microsoft.StreamAnalytics/streamingjobs/sj9597/inputs/input7225
                name: input7225
                properties:
                  datasource:
                    properties:
                      container: state
                      dateFormat: yyyy/MM/dd
                      pathPattern: "{date}/{time}"
                      storageAccounts:
                      - accountName: someAccountName
                      timeFormat: HH
                    type: Microsoft.Storage/Blob
                  serialization:
                    properties:
                      encoding: UTF8
                      fieldDelimiter: ","
                    type: Csv
                  type: Reference
                type: Microsoft.StreamAnalytics/streamingjobs/inputs
              headers:
                ETag: c987701d-4039-47aa-a115-ad84f67d07c5
            "201":
              body:
                id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg8440/providers/Microsoft.StreamAnalytics/streamingjobs/sj9597/inputs/input7225
                name: input7225
                properties:
                  datasource:
                    properties:
                      container: state
                      dateFormat: yyyy/MM/dd
                      pathPattern: "{date}/{time}"
                      storageAccounts:
                      - accountName: someAccountName
                      timeFormat: HH
                    type: Microsoft.Storage/Blob
                  serialization:
                    properties:
                      encoding: UTF8
                      fieldDelimiter: ","
                    type: Csv
                  type: Reference
                type: Microsoft.StreamAnalytics/streamingjobs/inputs
              headers:
                ETag: c987701d-4039-47aa-a115-ad84f67d07c5
        Create a stream Event Hub input with JSON serialization:
          parameters:
            api-version: 2016-03-01
            input:
              properties:
                datasource:
                  properties:
                    consumerGroupName: sdkconsumergroup
                    eventHubName: sdkeventhub
                    serviceBusNamespace: sdktest
                    sharedAccessPolicyKey: someSharedAccessPolicyKey==
                    sharedAccessPolicyName: RootManageSharedAccessKey
                  type: Microsoft.ServiceBus/EventHub
                serialization:
                  properties:
                    encoding: UTF8
                  type: Json
                type: Stream
            inputName: input7425
            jobName: sj197
            resourceGroupName: sjrg3139
            subscriptionId: 56b5e0a9-b645-407d-99b0-c64f86013e3d
          responses:
            "200":
              body:
                id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg3139/providers/Microsoft.StreamAnalytics/streamingjobs/sj197/inputs/input7425
                name: input7425
                properties:
                  datasource:
                    properties:
                      consumerGroupName: sdkconsumergroup
                      eventHubName: sdkeventhub
                      serviceBusNamespace: sdktest
                      sharedAccessPolicyName: RootManageSharedAccessKey
                    type: Microsoft.ServiceBus/EventHub
                  serialization:
                    properties:
                      encoding: UTF8
                    type: Json
                  type: Stream
                type: Microsoft.StreamAnalytics/streamingjobs/inputs
              headers:
                ETag: afd0d184-37e9-4370-9e55-32501bc4de3a
            "201":
              body:
                id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg3139/providers/Microsoft.StreamAnalytics/streamingjobs/sj197/inputs/input7425
                name: input7425
                properties:
                  datasource:
                    properties:
                      consumerGroupName: sdkconsumergroup
                      eventHubName: sdkeventhub
                      serviceBusNamespace: sdktest
                      sharedAccessPolicyName: RootManageSharedAccessKey
                    type: Microsoft.ServiceBus/EventHub
                  serialization:
                    properties:
                      encoding: UTF8
                    type: Json
                  type: Stream
                type: Microsoft.StreamAnalytics/streamingjobs/inputs
              headers:
                ETag: afd0d184-37e9-4370-9e55-32501bc4de3a
        Create a stream IoT Hub input with Avro serialization:
          parameters:
            api-version: 2016-03-01
            input:
              properties:
                datasource:
                  properties:
                    consumerGroupName: sdkconsumergroup
                    endpoint: messages/events
                    iotHubNamespace: iothub
                    sharedAccessPolicyKey: sharedAccessPolicyKey=
                    sharedAccessPolicyName: owner
                  type: Microsoft.Devices/IotHubs
                serialization:
                  type: Avro
                type: Stream
            inputName: input7970
            jobName: sj9742
            resourceGroupName: sjrg3467
            subscriptionId: 56b5e0a9-b645-407d-99b0-c64f86013e3d
          responses:
            "200":
              body:
                id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg3467/providers/Microsoft.StreamAnalytics/streamingjobs/sj9742/inputs/input7970
                name: input7970
                properties:
                  datasource:
                    properties:
                      consumerGroupName: sdkconsumergroup
                      endpoint: messages/events
                      iotHubNamespace: iothub
                      sharedAccessPolicyName: owner
                    type: Microsoft.Devices/IotHubs
                  serialization:
                    properties: {}
                    type: Avro
                  type: Stream
                type: Microsoft.StreamAnalytics/streamingjobs/inputs
              headers:
                ETag: bd8009b3-8165-4bd3-aad2-29a2b378dd14
            "201":
              body:
                id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg3467/providers/Microsoft.StreamAnalytics/streamingjobs/sj9742/inputs/input7970
                name: input7970
                properties:
                  datasource:
                    properties:
                      consumerGroupName: sdkconsumergroup
                      endpoint: messages/events
                      iotHubNamespace: iothub
                      sharedAccessPolicyName: owner
                    type: Microsoft.Devices/IotHubs
                  serialization:
                    properties: {}
                    type: Avro
                  type: Stream
                type: Microsoft.StreamAnalytics/streamingjobs/inputs
              headers:
                ETag: bd8009b3-8165-4bd3-aad2-29a2b378dd14
        Create a stream blob input with CSV serialization:
          parameters:
            api-version: 2016-03-01
            input:
              properties:
                datasource:
                  properties:
                    container: state
                    dateFormat: yyyy/MM/dd
                    pathPattern: "{date}/{time}"
                    sourcePartitionCount: 16
                    storageAccounts:
                    - accountKey: someAccountKey==
                      accountName: someAccountName
                    timeFormat: HH
                  type: Microsoft.Storage/Blob
                serialization:
                  properties:
                    encoding: UTF8
                    fieldDelimiter: ","
                  type: Csv
                type: Stream
            inputName: input8899
            jobName: sj6695
            resourceGroupName: sjrg8161
            subscriptionId: 56b5e0a9-b645-407d-99b0-c64f86013e3d
          responses:
            "200":
              body:
                id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg8161/providers/Microsoft.StreamAnalytics/streamingjobs/sj6695/inputs/input8899
                name: input8899
                properties:
                  datasource:
                    properties:
                      container: state
                      dateFormat: yyyy/MM/dd
                      pathPattern: "{date}/{time}"
                      sourcePartitionCount: 16
                      storageAccounts:
                      - accountName: someAccountName
                      timeFormat: HH
                    type: Microsoft.Storage/Blob
                  serialization:
                    properties:
                      encoding: UTF8
                      fieldDelimiter: ","
                    type: Csv
                  type: Stream
                type: Microsoft.StreamAnalytics/streamingjobs/inputs
              headers:
                ETag: 475074b8-c957-4b1f-a219-12b8399c3d4c
            "201":
              body:
                id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg8161/providers/Microsoft.StreamAnalytics/streamingjobs/sj6695/inputs/input8899
                name: input8899
                properties:
                  datasource:
                    properties:
                      container: state
                      dateFormat: yyyy/MM/dd
                      pathPattern: "{date}/{time}"
                      sourcePartitionCount: 16
                      storageAccounts:
                      - accountName: someAccountName
                      timeFormat: HH
                    type: Microsoft.Storage/Blob
                  serialization:
                    properties:
                      encoding: UTF8
                      fieldDelimiter: ","
                    type: Csv
                  type: Stream
                type: Microsoft.StreamAnalytics/streamingjobs/inputs
              headers:
                ETag: 475074b8-c957-4b1f-a219-12b8399c3d4c
      x-codegen-request-body-name: input
      x-openapi-router-controller: openapi_server.controllers.inputs_controller
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/streamingjobs/{jobName}/inputs/{inputName}/test
  : post:
      description: Tests whether an input’s datasource is reachable and usable by
        the Azure Stream Analytics service.
      operationId: inputs_test
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: GUID which uniquely identify Microsoft Azure subscription. The
          subscription ID forms part of the URI for every service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the streaming job.
        in: path
        name: job_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the input.
        in: path
        name: input_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Input'
        description: "If the input specified does not already exist, this parameter\
          \ must contain the full input definition intended to be tested. If the input\
          \ specified already exists, this parameter can be left null to test the\
          \ existing input as is or if specified, the properties specified will overwrite\
          \ the corresponding properties in the existing input (exactly like a PATCH\
          \ operation) and the resulting input will be tested."
        required: false
        x-body-name: input
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceTestStatus'
          description: The test operation completed successfully.
        "202":
          content: {}
          description: The test request was successfully initiated.
      tags:
      - Inputs
      x-ms-examples:
        Test the connection for an input:
          parameters:
            api-version: 2016-03-01
            inputName: input7225
            jobName: sj9597
            resourceGroupName: sjrg8440
            subscriptionId: 56b5e0a9-b645-407d-99b0-c64f86013e3d
          responses:
            "200":
              body:
                status: TestSucceeded
            "202": {}
      x-ms-long-running-operation: true
      x-codegen-request-body-name: input
      x-openapi-router-controller: openapi_server.controllers.inputs_controller
components:
  parameters:
    ApiVersionParameter:
      description: Client Api Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    InputNameParameter:
      description: The name of the input.
      in: path
      name: inputName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ResourceGroupNameParameter:
      description: The name of the resource group that contains the resource. You
        can obtain this value from the Azure Resource Manager API or the portal.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    StreamingJobNameParameter:
      description: The name of the streaming job.
      in: path
      name: jobName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: GUID which uniquely identify Microsoft Azure subscription. The
        subscription ID forms part of the URI for every service call.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    AvroSerialization:
      allOf:
      - $ref: '#/components/schemas/Serialization'
      description: Describes how data from an input is serialized or how data is serialized
        when written to an output in Avro format.
      properties:
        properties:
          description: The properties that are associated with the Avro serialization
            type.
          type: object
      x-ms-discriminator-value: Avro
    AvroSerializationProperties:
      description: The properties that are associated with the Avro serialization
        type.
      type: object
    BlobDataSourceProperties:
      description: The properties that are associated with a blob data source.
      properties:
        container:
          description: The name of a container within the associated Storage account.
            This container contains either the blob(s) to be read from or written
            to. Required on PUT (CreateOrReplace) requests.
          title: container
          type: string
        dateFormat:
          description: "The date format. Wherever {date} appears in pathPattern, the\
            \ value of this property is used as the date format instead."
          title: dateFormat
          type: string
        pathPattern:
          description: The blob path pattern. Not a regular expression. It represents
            a pattern against which blob names will be matched to determine whether
            or not they should be included as input or output to the job. See https://docs.microsoft.com/en-us/rest/api/streamanalytics/stream-analytics-input
            or https://docs.microsoft.com/en-us/rest/api/streamanalytics/stream-analytics-output
            for a more detailed explanation and example.
          title: pathPattern
          type: string
        storageAccounts:
          description: A list of one or more Azure Storage accounts. Required on PUT
            (CreateOrReplace) requests.
          items:
            $ref: '#/components/schemas/StorageAccount'
          title: storageAccounts
          type: array
        timeFormat:
          description: "The time format. Wherever {time} appears in pathPattern, the\
            \ value of this property is used as the time format instead."
          title: timeFormat
          type: string
      title: BlobDataSourceProperties
      type: object
    BlobReferenceInputDataSource:
      allOf:
      - $ref: '#/components/schemas/ReferenceInputDataSource'
      description: Describes a blob input data source that contains reference data.
      properties:
        properties:
          $ref: '#/components/schemas/BlobReferenceInputDataSourceProperties'
      x-ms-discriminator-value: Microsoft.Storage/Blob
    BlobReferenceInputDataSourceProperties:
      allOf:
      - $ref: '#/components/schemas/BlobDataSourceProperties'
      description: The properties that are associated with a blob input containing
        reference data.
      title: BlobReferenceInputDataSourceProperties
    BlobStreamInputDataSource:
      allOf:
      - $ref: '#/components/schemas/StreamInputDataSource'
      description: Describes a blob input data source that contains stream data.
      properties:
        properties:
          $ref: '#/components/schemas/BlobStreamInputDataSourceProperties'
      x-ms-discriminator-value: Microsoft.Storage/Blob
    BlobStreamInputDataSourceProperties:
      allOf:
      - $ref: '#/components/schemas/BlobDataSourceProperties'
      description: The properties that are associated with a blob input containing
        stream data.
      properties:
        sourcePartitionCount:
          description: The partition count of the blob input data source. Range 1
            - 256.
          format: int32
          title: sourcePartitionCount
          type: integer
      title: BlobStreamInputDataSourceProperties
    CsvSerialization:
      allOf:
      - $ref: '#/components/schemas/Serialization'
      description: Describes how data from an input is serialized or how data is serialized
        when written to an output in CSV format.
      properties:
        properties:
          $ref: '#/components/schemas/CsvSerializationProperties'
      x-ms-discriminator-value: Csv
    CsvSerializationProperties:
      description: The properties that are associated with the CSV serialization type.
      properties:
        encoding:
          $ref: '#/components/schemas/Encoding'
        fieldDelimiter:
          description: Specifies the delimiter that will be used to separate comma-separated
            value (CSV) records. See https://docs.microsoft.com/en-us/rest/api/streamanalytics/stream-analytics-input
            or https://docs.microsoft.com/en-us/rest/api/streamanalytics/stream-analytics-output
            for a list of supported values. Required on PUT (CreateOrReplace) requests.
          title: fieldDelimiter
          type: string
      title: CsvSerializationProperties
      type: object
    DiagnosticCondition:
      description: "Condition applicable to the resource, or to the job overall, that\
        \ warrant customer attention."
      example:
        code: code
        message: message
        since: since
      properties:
        code:
          description: The opaque diagnostic code.
          readOnly: true
          title: code
          type: string
        message:
          description: The human-readable message describing the condition in detail.
            Localized in the Accept-Language of the client request.
          readOnly: true
          title: message
          type: string
        since:
          description: The UTC timestamp of when the condition started. Customers
            should be able to find a corresponding event in the ops log around this
            time.
          readOnly: true
          title: since
          type: string
      title: DiagnosticCondition
      type: object
    Diagnostics:
      description: "Describes conditions applicable to the Input, Output, or the job\
        \ overall, that warrant customer attention."
      example:
        conditions:
        - code: code
          message: message
          since: since
        - code: code
          message: message
          since: since
      properties:
        conditions:
          description: "A collection of zero or more conditions applicable to the\
            \ resource, or to the job overall, that warrant customer attention."
          items:
            $ref: '#/components/schemas/DiagnosticCondition'
          readOnly: true
          title: conditions
          type: array
      title: Diagnostics
      type: object
    Encoding:
      description: Specifies the encoding of the incoming data in the case of input
        and the encoding of outgoing data in the case of output.
      enum:
      - UTF8
      title: Encoding
      type: string
      x-ms-enum:
        modelAsString: true
        name: Encoding
    ErrorResponse:
      description: Describes the error that occurred.
      example:
        code: code
        message: message
      properties:
        code:
          description: Error code associated with the error that occurred.
          readOnly: true
          title: code
          type: string
        message:
          description: Describes the error in detail.
          readOnly: true
          title: message
          type: string
      title: ErrorResponse
      type: object
    EventHubDataSourceProperties:
      allOf:
      - $ref: '#/components/schemas/ServiceBusDataSourceProperties'
      description: The common properties that are associated with Event Hub data sources.
      properties:
        eventHubName:
          description: The name of the Event Hub. Required on PUT (CreateOrReplace)
            requests.
          title: eventHubName
          type: string
      title: EventHubDataSourceProperties
    EventHubStreamInputDataSource:
      allOf:
      - $ref: '#/components/schemas/StreamInputDataSource'
      description: Describes an Event Hub input data source that contains stream data.
      properties:
        properties:
          $ref: '#/components/schemas/EventHubStreamInputDataSourceProperties'
      x-ms-discriminator-value: Microsoft.ServiceBus/EventHub
    EventHubStreamInputDataSourceProperties:
      allOf:
      - $ref: '#/components/schemas/EventHubDataSourceProperties'
      description: The properties that are associated with a Event Hub input containing
        stream data.
      properties:
        consumerGroupName:
          description: "The name of an Event Hub Consumer Group that should be used\
            \ to read events from the Event Hub. Specifying distinct consumer group\
            \ names for multiple inputs allows each of those inputs to receive the\
            \ same events from the Event Hub. If not specified, the input uses the\
            \ Event Hub’s default consumer group."
          title: consumerGroupName
          type: string
      title: EventHubStreamInputDataSourceProperties
    Input:
      allOf:
      - $ref: '#/components/schemas/SubResource'
      description: "An input object, containing all information associated with the\
        \ named input. All inputs are contained under a streaming job."
      example:
        properties:
          serialization:
            type: type
          diagnostics:
            conditions:
            - code: code
              message: message
              since: since
            - code: code
              message: message
              since: since
          etag: etag
          type: type
      properties:
        properties:
          $ref: '#/components/schemas/InputProperties'
      title: Input
    InputListResult:
      description: Object containing a list of inputs under a streaming job.
      example:
        value:
        - properties:
            serialization:
              type: type
            diagnostics:
              conditions:
              - code: code
                message: message
                since: since
              - code: code
                message: message
                since: since
            etag: etag
            type: type
        - properties:
            serialization:
              type: type
            diagnostics:
              conditions:
              - code: code
                message: message
                since: since
              - code: code
                message: message
                since: since
            etag: etag
            type: type
        nextLink: nextLink
      properties:
        nextLink:
          description: The link (url) to the next page of results.
          readOnly: true
          title: nextLink
          type: string
        value:
          description: A list of inputs under a streaming job. Populated by a 'List'
            operation.
          items:
            $ref: '#/components/schemas/Input'
          readOnly: true
          title: value
          type: array
      title: InputListResult
      type: object
    InputProperties:
      description: The properties that are associated with an input.
      discriminator:
        propertyName: type
      example:
        serialization:
          type: type
        diagnostics:
          conditions:
          - code: code
            message: message
            since: since
          - code: code
            message: message
            since: since
        etag: etag
        type: type
      properties:
        diagnostics:
          $ref: '#/components/schemas/Diagnostics'
        etag:
          description: The current entity tag for the input. This is an opaque string.
            You can use it to detect whether the resource has changed between requests.
            You can also use it in the If-Match or If-None-Match headers for write
            operations for optimistic concurrency.
          readOnly: true
          title: etag
          type: string
        serialization:
          $ref: '#/components/schemas/Serialization'
        type:
          description: Indicates whether the input is a source of reference data or
            stream data. Required on PUT (CreateOrReplace) requests.
          type: string
      title: InputProperties
      type: object
    IoTHubStreamInputDataSource:
      allOf:
      - $ref: '#/components/schemas/StreamInputDataSource'
      description: Describes an IoT Hub input data source that contains stream data.
      properties:
        properties:
          $ref: '#/components/schemas/IoTHubStreamInputDataSourceProperties'
      x-ms-discriminator-value: Microsoft.Devices/IotHubs
    IoTHubStreamInputDataSourceProperties:
      description: The properties that are associated with a IoT Hub input containing
        stream data.
      properties:
        consumerGroupName:
          description: "The name of an IoT Hub Consumer Group that should be used\
            \ to read events from the IoT Hub. If not specified, the input uses the\
            \ Iot Hub’s default consumer group."
          title: consumerGroupName
          type: string
        endpoint:
          description: "The IoT Hub endpoint to connect to (ie. messages/events, messages/operationsMonitoringEvents,\
            \ etc.)."
          title: endpoint
          type: string
        iotHubNamespace:
          description: The name or the URI of the IoT Hub. Required on PUT (CreateOrReplace)
            requests.
          title: iotHubNamespace
          type: string
        sharedAccessPolicyKey:
          description: The shared access policy key for the specified shared access
            policy. Required on PUT (CreateOrReplace) requests.
          title: sharedAccessPolicyKey
          type: string
        sharedAccessPolicyName:
          description: The shared access policy name for the IoT Hub. This policy
            must contain at least the Service connect permission. Required on PUT
            (CreateOrReplace) requests.
          title: sharedAccessPolicyName
          type: string
      title: IoTHubStreamInputDataSourceProperties
      type: object
    JsonOutputSerializationFormat:
      description: Specifies the format of the JSON the output will be written in.
        The currently supported values are 'lineSeparated' indicating the output will
        be formatted by having each JSON object separated by a new line and 'array'
        indicating the output will be formatted as an array of JSON objects.
      enum:
      - LineSeparated
      - Array
      title: JsonOutputSerializationFormat
      type: string
      x-ms-enum:
        modelAsString: true
        name: JsonOutputSerializationFormat
    JsonSerialization:
      allOf:
      - $ref: '#/components/schemas/Serialization'
      description: Describes how data from an input is serialized or how data is serialized
        when written to an output in JSON format.
      properties:
        properties:
          $ref: '#/components/schemas/JsonSerializationProperties'
      x-ms-discriminator-value: Json
    JsonSerializationProperties:
      description: The properties that are associated with the JSON serialization
        type.
      properties:
        encoding:
          $ref: '#/components/schemas/Encoding'
        format:
          $ref: '#/components/schemas/JsonOutputSerializationFormat'
      title: JsonSerializationProperties
      type: object
    ReferenceInputDataSource:
      description: Describes an input data source that contains reference data.
      discriminator:
        propertyName: type
      properties:
        type:
          description: Indicates the type of input data source containing reference
            data. Required on PUT (CreateOrReplace) requests.
          type: string
      title: ReferenceInputDataSource
      type: object
    ReferenceInputProperties:
      allOf:
      - $ref: '#/components/schemas/InputProperties'
      description: The properties that are associated with an input containing reference
        data.
      properties:
        datasource:
          $ref: '#/components/schemas/ReferenceInputDataSource'
      x-ms-discriminator-value: Reference
    ResourceTestStatus:
      description: "Describes the status of the test operation along with error information,\
        \ if applicable."
      example:
        error:
          code: code
          message: message
        status: status
      properties:
        error:
          $ref: '#/components/schemas/ErrorResponse'
        status:
          description: The status of the test operation.
          readOnly: true
          title: status
          type: string
      title: ResourceTestStatus
      type: object
    Serialization:
      description: Describes how data from an input is serialized or how data is serialized
        when written to an output.
      discriminator:
        propertyName: type
      example:
        type: type
      properties:
        type:
          description: Indicates the type of serialization that the input or output
            uses. Required on PUT (CreateOrReplace) requests.
          type: string
      title: Serialization
      type: object
    ServiceBusDataSourceProperties:
      description: "The common properties that are associated with Service Bus data\
        \ sources (Queues, Topics, Event Hubs, etc.)."
      properties:
        serviceBusNamespace:
          description: "The namespace that is associated with the desired Event Hub,\
            \ Service Bus Queue, Service Bus Topic, etc. Required on PUT (CreateOrReplace)\
            \ requests."
          title: serviceBusNamespace
          type: string
        sharedAccessPolicyKey:
          description: The shared access policy key for the specified shared access
            policy. Required on PUT (CreateOrReplace) requests.
          title: sharedAccessPolicyKey
          type: string
        sharedAccessPolicyName:
          description: "The shared access policy name for the Event Hub, Service Bus\
            \ Queue, Service Bus Topic, etc. Required on PUT (CreateOrReplace) requests."
          title: sharedAccessPolicyName
          type: string
      title: ServiceBusDataSourceProperties
      type: object
    StorageAccount:
      description: The properties that are associated with an Azure Storage account
      properties:
        accountKey:
          description: The account key for the Azure Storage account. Required on
            PUT (CreateOrReplace) requests.
          title: accountKey
          type: string
        accountName:
          description: The name of the Azure Storage account. Required on PUT (CreateOrReplace)
            requests.
          title: accountName
          type: string
      title: StorageAccount
      type: object
    StreamInputDataSource:
      description: Describes an input data source that contains stream data.
      discriminator:
        propertyName: type
      properties:
        type:
          description: Indicates the type of input data source containing stream data.
            Required on PUT (CreateOrReplace) requests.
          type: string
      title: StreamInputDataSource
      type: object
    StreamInputProperties:
      allOf:
      - $ref: '#/components/schemas/InputProperties'
      description: The properties that are associated with an input containing stream
        data.
      properties:
        datasource:
          $ref: '#/components/schemas/StreamInputDataSource'
      x-ms-discriminator-value: Stream
    SubResource:
      description: The base sub-resource model definition.
      properties:
        id:
          description: Resource Id
          readOnly: true
          title: id
          type: string
        name:
          description: Resource name
          title: name
          type: string
        type:
          description: Resource type
          readOnly: true
          title: type
          type: string
      title: SubResource
      type: object
      x-ms-azure-resource: true
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
