openapi: 3.0.1
info:
  title: MonitorClient
  version: 2016-03-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/monitor/resource-manager/Microsoft.Insights/stable/2016-03-01/metricDefinitions_API.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: monitor-metricDefinitions_API
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /{resourceUri}/providers/microsoft.insights/metricDefinitions:
    get:
      description: Lists the metric definitions for the resource.
      operationId: metric_definitions_list
      parameters:
      - description: The identifier of the resource.
        in: path
        name: resourceUri
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
          x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: "Reduces the set of data collected by retrieving particular metric\
          \ definitions from all the definitions available for the resource.<br>For\
          \ example, to get just the definition for the 'CPU percentage' counter:\
          \ $filter=name.value eq '\\Processor(_Total)\\% Processor Time'.<br>Multiple\
          \ metrics can be retrieved by joining together *'name eq <value>'* clauses\
          \ separated by *or* logical operators.<br>**NOTE**: No other syntax is allowed."
        in: query
        name: $filter
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
                value:
                - id: /subscriptions/df602c9c-7aa0-407d-a6fb-eb20c8bd1192/resourceGroups/andy0802australia/providers/Microsoft.Logic/workflows/andy0803australia/providers/microsoft.insights/metricdefinitions/RunsStarted
                  metricAvailabilities:
                  - retention: P30D
                    timeGrain: PT1M
                  - retention: P30D
                    timeGrain: PT1H
                  name:
                    localizedValue: Runs Started
                    value: RunsStarted
                  primaryAggregationType: Total
                  resourceId: /subscriptions/df602c9c-7aa0-407d-a6fb-eb20c8bd1192/resourceGroups/andy0802australia/providers/Microsoft.Logic/workflows/andy0803australia
                  unit: Count
                - id: /subscriptions/df602c9c-7aa0-407d-a6fb-eb20c8bd1192/resourceGroups/andy0802australia/providers/Microsoft.Logic/workflows/andy0803australia/providers/microsoft.insights/metricdefinitions/RunsCompleted
                  metricAvailabilities:
                  - retention: P30D
                    timeGrain: PT1M
                  - retention: P30D
                    timeGrain: PT1H
                  name:
                    localizedValue: Runs Completed
                    value: RunsCompleted
                  primaryAggregationType: Total
                  resourceId: /subscriptions/df602c9c-7aa0-407d-a6fb-eb20c8bd1192/resourceGroups/andy0802australia/providers/Microsoft.Logic/workflows/andy0803australia
                  unit: Count
                - id: /subscriptions/df602c9c-7aa0-407d-a6fb-eb20c8bd1192/resourceGroups/andy0802australia/providers/Microsoft.Logic/workflows/andy0803australia/providers/microsoft.insights/metricdefinitions/RunsSucceeded
                  metricAvailabilities:
                  - retention: P30D
                    timeGrain: PT1M
                  - retention: P30D
                    timeGrain: PT1H
                  name:
                    localizedValue: Runs Succeeded
                    value: RunsSucceeded
                  primaryAggregationType: Total
                  resourceId: /subscriptions/df602c9c-7aa0-407d-a6fb-eb20c8bd1192/resourceGroups/andy0802australia/providers/Microsoft.Logic/workflows/andy0803australia
                  unit: Count
              schema:
                $ref: '#/components/schemas/MetricDefinitionCollection'
          description: Successful request to get the list of metric definitions
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - MetricDefinitions
      x-ms-examples:
        Get Metric Definitions with filter:
          parameters:
            $filter: name.value eq 'RunsStarted' or name.value eq 'RunsSucceeded'
            api-version: 2016-03-01
            resourceUri: /subscriptions/df602c9c-7aa0-407d-a6fb-eb20c8bd1192/resourceGroups/andy0802australia/providers/Microsoft.Logic/workflows/andy0803australia
            subscriptionId: df602c9c-7aa0-407d-a6fb-eb20c8bd1192
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/df602c9c-7aa0-407d-a6fb-eb20c8bd1192/resourceGroups/andy0802australia/providers/Microsoft.Logic/workflows/andy0803australia/providers/microsoft.insights/metricdefinitions/RunsStarted
                  metricAvailabilities:
                  - retention: P30D
                    timeGrain: PT1M
                  - retention: P30D
                    timeGrain: PT1H
                  name:
                    localizedValue: Runs Started
                    value: RunsStarted
                  primaryAggregationType: Total
                  resourceId: /subscriptions/df602c9c-7aa0-407d-a6fb-eb20c8bd1192/resourceGroups/andy0802australia/providers/Microsoft.Logic/workflows/andy0803australia
                  unit: Count
                - id: /subscriptions/df602c9c-7aa0-407d-a6fb-eb20c8bd1192/resourceGroups/andy0802australia/providers/Microsoft.Logic/workflows/andy0803australia/providers/microsoft.insights/metricdefinitions/RunsSucceeded
                  metricAvailabilities:
                  - retention: P30D
                    timeGrain: PT1M
                  - retention: P30D
                    timeGrain: PT1H
                  name:
                    localizedValue: Runs Succeeded
                    value: RunsSucceeded
                  primaryAggregationType: Total
                  resourceId: /subscriptions/df602c9c-7aa0-407d-a6fb-eb20c8bd1192/resourceGroups/andy0802australia/providers/Microsoft.Logic/workflows/andy0803australia
                  unit: Count
        Get Metric Definitions without filter:
          parameters:
            api-version: 2016-03-01
            resourceUri: /subscriptions/df602c9c-7aa0-407d-a6fb-eb20c8bd1192/resourceGroups/andy0802australia/providers/Microsoft.Logic/workflows/andy0803australia
            subscriptionId: df602c9c-7aa0-407d-a6fb-eb20c8bd1192
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/df602c9c-7aa0-407d-a6fb-eb20c8bd1192/resourceGroups/andy0802australia/providers/Microsoft.Logic/workflows/andy0803australia/providers/microsoft.insights/metricdefinitions/RunsStarted
                  metricAvailabilities:
                  - retention: P30D
                    timeGrain: PT1M
                  - retention: P30D
                    timeGrain: PT1H
                  name:
                    localizedValue: Runs Started
                    value: RunsStarted
                  primaryAggregationType: Total
                  resourceId: /subscriptions/df602c9c-7aa0-407d-a6fb-eb20c8bd1192/resourceGroups/andy0802australia/providers/Microsoft.Logic/workflows/andy0803australia
                  unit: Count
                - id: /subscriptions/df602c9c-7aa0-407d-a6fb-eb20c8bd1192/resourceGroups/andy0802australia/providers/Microsoft.Logic/workflows/andy0803australia/providers/microsoft.insights/metricdefinitions/RunsCompleted
                  metricAvailabilities:
                  - retention: P30D
                    timeGrain: PT1M
                  - retention: P30D
                    timeGrain: PT1H
                  name:
                    localizedValue: Runs Completed
                    value: RunsCompleted
                  primaryAggregationType: Total
                  resourceId: /subscriptions/df602c9c-7aa0-407d-a6fb-eb20c8bd1192/resourceGroups/andy0802australia/providers/Microsoft.Logic/workflows/andy0803australia
                  unit: Count
                - id: /subscriptions/df602c9c-7aa0-407d-a6fb-eb20c8bd1192/resourceGroups/andy0802australia/providers/Microsoft.Logic/workflows/andy0803australia/providers/microsoft.insights/metricdefinitions/RunsSucceeded
                  metricAvailabilities:
                  - retention: P30D
                    timeGrain: PT1M
                  - retention: P30D
                    timeGrain: PT1H
                  name:
                    localizedValue: Runs Succeeded
                    value: RunsSucceeded
                  primaryAggregationType: Total
                  resourceId: /subscriptions/df602c9c-7aa0-407d-a6fb-eb20c8bd1192/resourceGroups/andy0802australia/providers/Microsoft.Logic/workflows/andy0803australia
                  unit: Count
      x-ms-odata: '#/definitions/MetricDefinition'
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.metric_definitions_controller
components:
  parameters:
    ApiVersionParameter:
      description: Client Api Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    ResourceUriParameter:
      description: The identifier of the resource.
      in: path
      name: resourceUri
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
      x-ms-parameter-location: method
      x-ms-skip-url-encoding: true
  schemas:
    ErrorResponse:
      description: Describes the format of Error response.
      example:
        code: code
        message: message
      properties:
        code:
          description: Error code
          title: code
          type: string
        message:
          description: Error message indicating why the operation failed.
          title: message
          type: string
      title: ErrorResponse
      type: object
    LocalizableString:
      description: The localizable string class.
      example:
        localizedValue: localizedValue
        value: value
      properties:
        localizedValue:
          description: the locale specific value.
          title: localizedValue
          type: string
        value:
          description: the invariant value.
          title: value
          type: string
      required:
      - value
      title: LocalizableString
      type: object
    MetricAvailability:
      description: Metric availability specifies the time grain (aggregation interval
        or frequency) and the retention period for that time grain.
      example:
        timeGrain: timeGrain
        retention: retention
      properties:
        retention:
          description: "the retention period for the metric at the specified timegrain.\
            \  Expressed as a duration 'PT1M', 'P1D', etc."
          format: duration
          title: retention
          type: string
        timeGrain:
          description: "the time grain specifies the aggregation interval for the\
            \ metric. Expressed as a duration 'PT1M', 'P1D', etc."
          format: duration
          title: timeGrain
          type: string
      title: MetricAvailability
      type: object
    MetricDefinition:
      description: Metric definition class specifies the metadata for a metric.
      example:
        primaryAggregationType: None
        resourceId: resourceId
        unit: Count
        name:
          localizedValue: localizedValue
          value: value
        id: id
        metricAvailabilities:
        - timeGrain: timeGrain
          retention: retention
        - timeGrain: timeGrain
          retention: retention
      properties:
        id:
          description: the resource identifier of the metric definition.
          title: id
          type: string
        metricAvailabilities:
          description: the collection of what aggregation intervals are available
            to be queried.
          items:
            $ref: '#/components/schemas/MetricAvailability'
          title: metricAvailabilities
          type: array
        name:
          $ref: '#/components/schemas/LocalizableString'
        primaryAggregationType:
          description: the primary aggregation type value defining how to use the
            values for display.
          enum:
          - None
          - Average
          - Count
          - Minimum
          - Maximum
          - Total
          title: primaryAggregationType
          type: string
          x-ms-enum:
            modelAsString: false
            name: AggregationType
        resourceId:
          description: the resource identifier of the resource that emitted the metric.
          title: resourceId
          type: string
        unit:
          $ref: '#/components/schemas/Unit'
      title: MetricDefinition
      type: object
    MetricDefinitionCollection:
      description: Represents collection of metric definitions.
      example:
        value:
        - primaryAggregationType: None
          resourceId: resourceId
          unit: Count
          name:
            localizedValue: localizedValue
            value: value
          id: id
          metricAvailabilities:
          - timeGrain: timeGrain
            retention: retention
          - timeGrain: timeGrain
            retention: retention
        - primaryAggregationType: None
          resourceId: resourceId
          unit: Count
          name:
            localizedValue: localizedValue
            value: value
          id: id
          metricAvailabilities:
          - timeGrain: timeGrain
            retention: retention
          - timeGrain: timeGrain
            retention: retention
      properties:
        value:
          description: the values for the metric definitions.
          items:
            $ref: '#/components/schemas/MetricDefinition'
          title: value
          type: array
      required:
      - value
      title: MetricDefinitionCollection
      type: object
    Unit:
      description: the unit of the metric.
      enum:
      - Count
      - Bytes
      - Seconds
      - CountPerSecond
      - BytesPerSecond
      - Percent
      - MilliSeconds
      title: Unit
      type: string
      x-ms-enum:
        modelAsString: false
        name: Unit
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
