openapi: 3.0.1
info:
  description: |
    Mandrill is a reliable, scalable, and secure delivery API for transactional emails from websites and applications. It's ideal for sending data-driven transactional emails, including targeted e-commerce and personalized one-to-one messages.
  title: Mandrill
  version: "1.0"
  x-apisguru-categories:
  - email
  - marketing
  x-logo:
    url: https://raw.githubusercontent.com/edent/SuperTinyIcons/master/images/svg/mailchimp.svg
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/APIs-guru/unofficial_openapi_specs/master/mandrillapp.com/1.0/swagger.yaml
    version: "2.0"
  x-providerName: mandrillapp.com
  x-unofficialSpec: true
externalDocs:
  url: https://mandrillapp.com/api/docs/
servers:
- url: https://mandrillapp.com/api/1.0/
paths:
  /exports/activity.json:
    post:
      description: "Begins an export of your activity history. The activity will be\
        \ exported to a zip archive containing a single file named activity.csv in\
        \ the same format as you would be able to export from your account's activity\
        \ view. It includes the following fields: Date, Email Address, Sender, Subject,\
        \ Status, Tags, Opens, Clicks, Bounce Detail. If you have configured any custom\
        \ metadata fields, they will be included in the exported data."
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/exports_activity'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/exports_satus'
          description: OK
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - '*/*'
  /exports/info.json:
    post:
      description: "Returns information about an export job. If the export job's state\
        \ is 'complete', the returned data will include a URL you can use to fetch\
        \ the results. Every export job produces a zip archive, but the format of\
        \ the archive is distinct for each job type. The api calls that initiate exports\
        \ include more details about the output format for that job type."
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/id'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/exports_info-response'
          description: OK
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - '*/*'
  /exports/list.json:
    post:
      description: Returns a list of your exports.
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/api_key'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/exports_list-response'
          description: OK
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - '*/*'
  /exports/rejects.json:
    post:
      description: "Begins an export of your rejection blacklist. The blacklist will\
        \ be exported to a zip archive containing a single file named rejects.csv\
        \ that includes the following fields: email, reason, detail, created_at, expires_at,\
        \ last_event_at, expires_at."
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/notify_email'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/exports_satus'
          description: OK
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - '*/*'
  /exports/whitelist.json:
    post:
      description: "Begins an export of your rejection whitelist. The whitelist will\
        \ be exported to a zip archive containing a single file named whitelist.csv\
        \ that includes the following fields: email, detail, created_at."
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/notify_email'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/exports_satus'
          description: OK
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - '*/*'
  /inbound/add-domain.json:
    post:
      description: Add an inbound domain to your account
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/domain'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/inbound_info'
          description: OK
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - '*/*'
  /inbound/add-route.json:
    post:
      description: Add a new mailbox route to an inbound domain
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/inbound_add-route'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/route'
          description: OK
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - '*/*'
  /inbound/check-domain.json:
    post:
      description: Check the MX settings for an inbound domain. The domain must have
        already been added with the add-domain call
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/domain'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/inbound_info'
          description: OK
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - '*/*'
  /inbound/delete-domain.json:
    post:
      description: Delete an inbound domain from the account. All mail will stop routing
        for this domain immediately.
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/domain'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/inbound_info'
          description: OK
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - '*/*'
  /inbound/delete-route.json:
    post:
      description: Delete an existing inbound mailbox route
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/id'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/route'
          description: OK
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - '*/*'
  /inbound/domains.json:
    post:
      description: List the domains that have been configured for inbound delivery
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/api_key'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/inbound_domains-response'
          description: OK
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - '*/*'
  /inbound/routes.json:
    post:
      description: List the mailbox routes defined for an inbound domain
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/domain'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/inbound_routes-response'
          description: OK
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - '*/*'
  /inbound/send-raw.json:
    post:
      description: "Take a raw MIME document destined for a domain with inbound domains\
        \ set up, and send it to the inbound hook exactly as if it had been sent over\
        \ SMTP"
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/inbound_send-raw'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/inbound_send-raw-response'
          description: OK
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - '*/*'
  /inbound/update-route.json:
    post:
      description: "Update the pattern or webhook of an existing inbound mailbox route.\
        \ If null is provided for any fields, the values will remain unchanged."
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/inbound_update-route'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/route'
          description: OK
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - '*/*'
  /ips/cancel-warmup.json:
    post:
      description: Cancels the warmup process for a dedicated IP.
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ip'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ip_info'
          description: OK
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - '*/*'
  /ips/check-custom-dns.json:
    post:
      description: Tests whether a domain name is valid for use as the custom reverse
        DNS for a dedicated IP.
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ip_domain'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ips_check-custom-dns-response'
          description: OK
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - '*/*'
  /ips/create-pool.json:
    post:
      description: "Creates a pool and returns it. If a pool already exists with this\
        \ name, no action will be performed."
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ips_pool-key'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ips_pool'
          description: OK
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - '*/*'
  /ips/delete-pool.json:
    post:
      description: "Deletes a pool. A pool must be empty before you can delete it,\
        \ and you cannot delete your default pool."
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ips_pool-key'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ips_delete-pool-response'
          description: OK
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - '*/*'
  /ips/delete.json:
    post:
      description: Deletes a dedicated IP. This is permanent and cannot be undone.
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ip'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ips_delete-response'
          description: OK
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - '*/*'
  /ips/info.json:
    post:
      description: Retrieves information about a single dedicated ip.
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ip'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ip_info'
          description: OK
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - '*/*'
  /ips/list-pools.json:
    post:
      description: Lists your dedicated IP pools.
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/api_key'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ips_list-pools-response'
          description: OK
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - '*/*'
  /ips/list.json:
    post:
      description: Lists your dedicated IPs.
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/api_key'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ips_list-response'
          description: OK
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - '*/*'
  /ips/pool-info.json:
    post:
      description: Describes a single dedicated IP pool.
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ips_pool-key'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ips_pool'
          description: OK
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - '*/*'
  /ips/provision.json:
    post:
      description: "Requests an additional dedicated IP for your account. Accounts\
        \ may have one outstanding request at any time, and provisioning requests\
        \ are processed within 24 hours."
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ips_provision'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ips_provision-response'
          description: OK
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - '*/*'
  /ips/set-custom-dns.json:
    post:
      description: Configures the custom DNS name for a dedicated IP.
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ip_domain'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ip_info'
          description: OK
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - '*/*'
  /ips/set-pool.json:
    post:
      description: Moves a dedicated IP to a different pool.
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ips_set-pool'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ip_info'
          description: OK
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - '*/*'
  /ips/start-warmup.json:
    post:
      description: "Begins the warmup process for a dedicated IP. During the warmup\
        \ process, Mandrill will gradually increase the percentage of your mail that\
        \ is sent over the warming-up IP, over a period of roughly 30 days. The rest\
        \ of your mail will be sent over shared IPs or other dedicated IPs in the\
        \ same pool."
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ip'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ip_info'
          description: OK
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - '*/*'
  /messages/cancel-scheduled.json:
    post:
      description: Cancels a scheduled email.
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/messages_cancel-scheduled'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/schedulingchange_info'
          description: OK
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - '*/*'
  /messages/content.json:
    post:
      description: Get the full content of a recently sent message
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/id'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/messages_content-response'
          description: OK
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - '*/*'
  /messages/info.json:
    post:
      description: Get the information for a single recently sent message
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/id'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/messages_info-response'
          description: OK
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - '*/*'
  /messages/list-scheduled.json:
    post:
      description: "Queries your scheduled emails by sender or recipient, or both."
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/messages_list-scheduled'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/messages_list-scheduled-response'
          description: OK
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - '*/*'
  /messages/parse.json:
    post:
      description: "Parse the full MIME document for an email message, returning the\
        \ content of the message broken into its constituent pieces"
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/messages_parse'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/messages_parse-response'
          description: OK
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - '*/*'
  /messages/reschedule.json:
    post:
      description: Reschedules a scheduled email.
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/messages_reschedule'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/schedulingchange_info'
          description: OK
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - '*/*'
  /messages/search-time-series.json:
    post:
      description: Search the content of recently sent messages and return the aggregated
        hourly stats for matching messages
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/messages_search-time-series'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/timeseries'
          description: OK
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - '*/*'
  /messages/search.json:
    post:
      description: "Search the content of recently sent messages and optionally narrow\
        \ by date range, tags and senders. This method may be called up to 20 times\
        \ per minute. If you need the data more often, you can use /messages/info.json\
        \ to get the information for a single message, or webhooks to push activity\
        \ to your own application for querying."
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/messages_search'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/messages_search-response'
          description: OK
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - '*/*'
  /messages/send-raw.json:
    post:
      description: "Take a raw MIME document for a message, and send it exactly as\
        \ if it were sent through Mandrill's SMTP servers"
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/messages_send-raw'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/message_send-status'
          description: OK
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - '*/*'
  /messages/send-template.json:
    post:
      description: Send a new transactional message through Mandrill using a template
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/messages_send-template'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/message_send-status'
          description: OK
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - '*/*'
  /messages/send.json:
    post:
      description: Send a new transactional message through Mandrill
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/messages_send'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/message_send-status'
          description: OK
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - '*/*'
  /metadata/add.json:
    post:
      description: Add a new custom metadata field to be indexed for the account.
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/metadata_template'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/metadata_info'
          description: OK
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - '*/*'
  /metadata/delete.json:
    post:
      description: "Delete an existing custom metadata field. Deletion isn't instataneous,\
        \ and /metadata/list will continue to return the field until the asynchronous\
        \ deletion process is complete."
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/name'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/metadata_info'
          description: OK
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - '*/*'
  /metadata/list.json:
    post:
      description: Get the list of custom metadata fields indexed for the account.
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/api_key'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/metadata_list-response'
          description: OK
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - '*/*'
  /metadata/update.json:
    post:
      description: Update an existing custom metadata field.
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/metadata_template'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/metadata_info'
          description: OK
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - '*/*'
  /rejects/add.json:
    post:
      description: Adds an email to your email rejection blacklist. Addresses that
        you add manually will never expire and there is no reputation penalty for
        removing them from your blacklist. Attempting to blacklist an address that
        has been whitelisted will have no effect.
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/rejects_add'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/rejects_add-response'
          description: OK
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - '*/*'
  /rejects/delete.json:
    post:
      description: "Deletes an email rejection. There is no limit to how many rejections\
        \ you can remove from your blacklist, but keep in mind that each deletion\
        \ has an affect on your reputation."
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/rejects_delete'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/rejects_delete-response'
          description: OK
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - '*/*'
  /rejects/list.json:
    post:
      description: "Retrieves your email rejection blacklist. You can provide an email\
        \ address to limit the results. Returns up to 1000 results. By default, entries\
        \ that have expired are excluded from the results; set include_expired to\
        \ true to include them."
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/rejects_list'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/rejects_list-response'
          description: OK
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - '*/*'
  /senders/add-domain.json:
    post:
      description: "Adds a sender domain to your account. Sender domains are added\
        \ automatically as you send, but you can use this call to add them ahead of\
        \ time."
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/domain'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/sender_domain_info'
          description: OK
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - '*/*'
  /senders/check-domain.json:
    post:
      description: "Checks the SPF and DKIM settings for a domain. If you haven't\
        \ already added this domain to your account, it will be added automatically."
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/domain'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/sender_domain_info'
          description: OK
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - '*/*'
  /senders/domains.json:
    post:
      description: Returns the sender domains that have been added to this account.
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/api_key'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/senders_domains-response'
          description: OK
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - '*/*'
  /senders/info.json:
    post:
      description: "Return more detailed information about a single sender, including\
        \ aggregates of recent stats"
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/sender_address'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/senders_info-response'
          description: OK
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - '*/*'
  /senders/list.json:
    post:
      description: Return the senders that have tried to use this account.
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/api_key'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/senders'
          description: OK
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - '*/*'
  /senders/time-series.json:
    post:
      description: Return the recent history (hourly stats for the last 30 days) for
        a sender
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/sender_address'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/time-series'
          description: OK
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - '*/*'
  /senders/verify-domain.json:
    post:
      description: "Sends a verification email in order to verify ownership of a domain.\
        \ Domain verification is an optional step to confirm ownership of a domain.\
        \ Once a domain has been verified in a Mandrill account, other accounts may\
        \ not have their messages signed by that domain unless they also verify the\
        \ domain. This prevents other Mandrill accounts from sending mail signed by\
        \ your domain."
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/senders_verify-domain'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/senders_verify-domain-response'
          description: OK
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - '*/*'
  /subaccounts/add.json:
    post:
      description: Add a new subaccount
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/subaccount_info'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/subaccount_info2'
          description: OK
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - '*/*'
  /subaccounts/delete.json:
    post:
      description: "Delete an existing subaccount. Any email related to the subaccount\
        \ will be saved, but stats will be removed and any future sending calls to\
        \ this subaccount will fail."
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/id'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/subaccount_info2'
          description: OK
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - '*/*'
  /subaccounts/info.json:
    post:
      description: "Given the ID of an existing subaccount, return the data about\
        \ it"
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/id'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/subaccounts_info-response'
          description: OK
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - '*/*'
  /subaccounts/list.json:
    post:
      description: "Get the list of subaccounts defined for the account, optionally\
        \ filtered by a prefix"
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/url_key'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/subaccounts_list-response'
          description: OK
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - '*/*'
  /subaccounts/pause.json:
    post:
      description: Pause a subaccount's sending. Any future emails delivered to this
        subaccount will be queued for a maximum of 3 days until the subaccount is
        resumed.
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/id'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/subaccount_info2'
          description: OK
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - '*/*'
  /subaccounts/resume.json:
    post:
      description: Resume a paused subaccount's sending
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/id'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/subaccount_info2'
          description: OK
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - '*/*'
  /subaccounts/update.json:
    post:
      description: Update an existing subaccount
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/subaccount_info'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/subaccount_info2'
          description: OK
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - '*/*'
  /tags/all-time-series.json:
    post:
      description: Return the recent history (hourly stats for the last 30 days) for
        all tags
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/api_key'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/timeseries'
          description: OK
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - '*/*'
  /tags/delete.json:
    post:
      description: "Deletes a tag permanently. Deleting a tag removes the tag from\
        \ any messages that have been sent, and also deletes the tag's stats. There\
        \ is no way to undo this operation, so use it carefully."
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/tag_key'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/tags_delete-response'
          description: OK
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - '*/*'
  /tags/info.json:
    post:
      description: "Return more detailed information about a single tag, including\
        \ aggregates of recent stats"
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/tag_key'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/tags_info-response'
          description: OK
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - '*/*'
  /tags/list.json:
    post:
      description: Return all of the user-defined tag information
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/api_key'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/tags_list-response'
          description: OK
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - '*/*'
  /tags/time-series.json:
    post:
      description: Return the recent history (hourly stats for the last 30 days) for
        a tag
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/tag_key'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/timeseries'
          description: OK
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - '*/*'
  /templates/add.json:
    post:
      description: Add a new template
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/template'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/template_detailed'
          description: OK
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - '*/*'
  /templates/delete.json:
    post:
      description: Delete a template
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/name'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/template_detailed'
          description: OK
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - '*/*'
  /templates/info.json:
    post:
      description: Get the information for an existing template
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/name'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/template_detailed'
          description: OK
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - '*/*'
  /templates/list.json:
    post:
      description: Return a list of all the templates available to this user
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/templates_list'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/templates_list-response'
          description: OK
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - '*/*'
  /templates/publish.json:
    post:
      description: Publish the content for the template. Any new messages sent using
        this template will start using the content that was previously in draft.
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/name'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/template_detailed'
          description: OK
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - '*/*'
  /templates/render.json:
    post:
      description: "Inject content and optionally merge fields into a template, returning\
        \ the HTML that results"
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/templates_render'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/templates_render-response'
          description: OK
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - '*/*'
  /templates/time-series.json:
    post:
      description: Return the recent history (hourly stats for the last 30 days) for
        a template
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/name'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/time-series'
          description: OK
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - '*/*'
  /templates/update.json:
    post:
      description: "Update the code for an existing template. If null is provided\
        \ for any fields, the values will remain unchanged."
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/template'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/template_detailed'
          description: OK
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - '*/*'
  /urls/add-tracking-domain.json:
    post:
      description: Add a tracking domain to your account
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/domain'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/tracking-domain-status'
          description: OK
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - '*/*'
  /urls/check-tracking-domain.json:
    post:
      description: Checks the CNAME settings for a tracking domain. The domain must
        have been added already with the add-tracking-domain call
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/domain'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/tracking-domain-status'
          description: OK
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - '*/*'
  /urls/list.json:
    post:
      description: Get the 100 most clicked URLs
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/api_key'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/url_infos'
          description: OK
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - '*/*'
  /urls/search.json:
    post:
      description: Return the 100 most clicked URLs that match the search query given
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/url_key'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/url_infos'
          description: OK
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - '*/*'
  /urls/time-series.json:
    post:
      description: Return the recent history (hourly stats for the last 30 days) for
        a url
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/urls_time-series'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/urls_time-series-response'
          description: OK
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - '*/*'
  /urls/tracking-domains.json:
    post:
      description: Get the list of tracking domains set up for this account
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/api_key'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/urls_tracking-domains-response'
          description: OK
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - '*/*'
  /users/info.json:
    post:
      description: Return the information about the API-connected user
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/api_key'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/users_info-response'
          description: OK
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - '*/*'
  /users/ping.json:
    post:
      description: Validate an API key and respond to a ping
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/api_key'
        required: true
      responses:
        "200":
          content: {}
          description: OK
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - application/json
  /users/ping2.json:
    post:
      description: Validate an API key and respond to a ping (anal JSON parser version)
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/api_key'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/users_ping2-response'
          description: OK
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - '*/*'
  /users/senders.json:
    post:
      description: "Return the senders that have tried to use this account, both verified\
        \ and unverified"
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/api_key'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/senders'
          description: OK
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - '*/*'
  /webhooks/add.json:
    post:
      description: Add a new webhook
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/webhooks_add'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/webhook'
          description: OK
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - '*/*'
  /webhooks/delete.json:
    post:
      description: Delete an existing webhook
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/webhook_key'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/webhook'
          description: OK
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - '*/*'
  /webhooks/info.json:
    post:
      description: "Given the ID of an existing webhook, return the data about it"
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/webhook_key'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/webhook'
          description: OK
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - '*/*'
  /webhooks/list.json:
    post:
      description: Get the list of all webhooks defined on the account
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/api_key'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/webhooks_list-response'
          description: OK
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - '*/*'
  /webhooks/update.json:
    post:
      description: Update an existing webhook
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/webhooks_update'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/webhook'
          description: OK
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - '*/*'
  /whitelists/add.json:
    post:
      description: "Adds an email to your email rejection whitelist. If the address\
        \ is currently on your blacklist, that blacklist entry will be removed automatically."
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/email'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/whitelists_add-response'
          description: OK
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - '*/*'
  /whitelists/delete.json:
    post:
      description: Removes an email address from the whitelist.
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/email'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/whitelists_delete-response'
          description: OK
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - '*/*'
  /whitelists/list.json:
    post:
      description: Retrieves your email rejection whitelist. You can provide an email
        address or search prefix to limit the results. Returns up to 1000 results.
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/email'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/whitelists_list-response'
          description: OK
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - '*/*'
components:
  schemas:
    api_key:
      properties:
        key:
          type: string
      type: object
    domain:
      properties:
        domain:
          type: string
        key:
          type: string
      type: object
    email:
      properties:
        email:
          type: string
        key:
          type: string
      type: object
    exports_activity:
      properties:
        api_keys:
          items:
            type: string
          type: array
        date_from:
          type: string
        date_to:
          type: string
        key:
          type: string
        notify_email:
          type: string
        senders:
          items:
            type: string
          type: array
        states:
          items:
            type: string
          type: array
        tags:
          items:
            type: string
          type: array
      type: object
    exports_info-response:
      example:
        result_url: result_url
        finished_at: finished_at
        created_at: created_at
        id: id
        state: state
        type: type
      properties:
        created_at:
          type: string
        finished_at:
          type: string
        id:
          type: string
        result_url:
          type: string
        state:
          type: string
        type:
          type: string
      type: object
    exports_list-response:
      items:
        $ref: '#/components/schemas/exports_list_response_inner'
      type: array
    exports_satus:
      example:
        created_at: created_at
        id: id
        state: state
        type: type
      properties:
        created_at:
          type: string
        id:
          type: string
        state:
          type: string
        type:
          type: string
      type: object
    id:
      properties:
        id:
          type: string
        key:
          type: string
      type: object
    inbound_add-route:
      properties:
        domain:
          type: string
        key:
          type: string
        pattern:
          type: string
        url:
          type: string
      type: object
    inbound_domains-response:
      items:
        $ref: '#/components/schemas/inbound_domains_response_inner'
      type: array
    inbound_info:
      example:
        domain: domain
        valid_mx: true
        created_at: created_at
      properties:
        created_at:
          type: string
        domain:
          type: string
        valid_mx:
          type: boolean
      type: object
    inbound_routes-response:
      items:
        $ref: '#/components/schemas/inbound_routes_response_inner'
      type: array
    inbound_send-raw:
      properties:
        client_address:
          type: string
        helo:
          type: string
        key:
          type: string
        mail_from:
          type: string
        raw_message:
          type: string
        to:
          items:
            type: string
          type: array
      type: object
    inbound_send-raw-response:
      items:
        $ref: '#/components/schemas/inbound_send_raw_response_inner'
      type: array
    inbound_update-route:
      properties:
        id:
          type: string
        key:
          type: string
        pattern:
          type: string
        url:
          type: string
      type: object
    ip:
      properties:
        ip:
          type: string
        key:
          type: string
      type: object
    ip_domain:
      properties:
        domain:
          type: string
        ip:
          type: string
        key:
          type: string
      type: object
    ip_info:
      example:
        custom_dns:
          valid: true
          error: error
          enabled: true
        domain: domain
        ip: ip
        pool: pool
        created_at: created_at
        warmup:
          end_at: end_at
          warming_up: true
          start_at: start_at
      properties:
        created_at:
          type: string
        custom_dns:
          $ref: '#/components/schemas/ip_info_custom_dns'
        domain:
          type: string
        ip:
          type: string
        pool:
          type: string
        warmup:
          $ref: '#/components/schemas/ip_info_warmup'
      type: object
    ips_check-custom-dns-response:
      example:
        valid: true
        error: error
      properties:
        error:
          type: string
        valid:
          type: boolean
      type: object
    ips_delete-pool-response:
      example:
        deleted: true
        pool: pool
      properties:
        deleted:
          type: boolean
        pool:
          type: string
      type: object
    ips_delete-response:
      example:
        deleted: true
        ip: ip
      properties:
        deleted:
          type: boolean
        ip:
          type: string
      type: object
    ips_list-pools-response:
      items:
        $ref: '#/components/schemas/ips_list_pools_response_inner'
      type: array
    ips_list-response:
      items:
        $ref: '#/components/schemas/ips_list_pools_response_inner_ips_inner'
      type: array
    ips_pool:
      example:
        name: name
        created_at: created_at
        ips:
        - custom_dns:
            valid: true
            error: error
            enabled: true
          domain: domain
          ip: ip
          pool: pool
          created_at: created_at
          warmup:
            end_at: end_at
            warming_up: true
            start_at: start_at
        - custom_dns:
            valid: true
            error: error
            enabled: true
          domain: domain
          ip: ip
          pool: pool
          created_at: created_at
          warmup:
            end_at: end_at
            warming_up: true
            start_at: start_at
      properties:
        created_at:
          type: string
        ips:
          items:
            $ref: '#/components/schemas/ips_list_pools_response_inner_ips_inner'
          type: array
        name:
          type: string
      type: object
    ips_pool-key:
      properties:
        key:
          type: string
        pool:
          type: string
      type: object
    ips_provision:
      properties:
        key:
          type: string
        pool:
          type: string
        warmup:
          type: boolean
      type: object
    ips_provision-response:
      example:
        requested_at: requested_at
      properties:
        requested_at:
          type: string
      type: object
    ips_set-pool:
      properties:
        create_pool:
          type: boolean
        ip:
          type: string
        key:
          type: string
        pool:
          type: string
      type: object
    message_send-status:
      items:
        $ref: '#/components/schemas/message_send_status_inner'
      type: array
    messages_cancel-scheduled:
      properties:
        key:
          type: string
      type: object
    messages_content-response:
      example:
        headers:
          Reply-To: Reply-To
        attachments:
        - name: name
          type: type
          content: content
        - name: name
          type: type
          content: content
        from_email: from_email
        subject: subject
        html: html
        _id: _id
        text: text
        to:
          name: name
          email: email
        from_name: from_name
        tags:
        - tags
        - tags
        ts: 0
      properties:
        _id:
          type: string
        attachments:
          items:
            $ref: '#/components/schemas/messages_content_response_attachments_inner'
          type: array
        from_email:
          type: string
        from_name:
          type: string
        headers:
          $ref: '#/components/schemas/messages_content_response_headers'
        html:
          type: string
        subject:
          type: string
        tags:
          items:
            type: string
          type: array
        text:
          type: string
        to:
          $ref: '#/components/schemas/messages_content_response_to'
        ts:
          type: integer
      type: object
    messages_info-response:
      example:
        template: template
        metadata:
          website: website
          user_id: user_id
        subject: subject
        clicks_detail:
        - ip: ip
          location: location
          ua: ua
          url: url
          ts: 6
        - ip: ip
          location: location
          ua: ua
          url: url
          ts: 6
        tags:
        - tags
        - tags
        opens_detail:
        - ip: ip
          location: location
          ua: ua
          ts: 5
        - ip: ip
          location: location
          ua: ua
          ts: 5
        sender: sender
        clicks: 0
        opens: 1
        _id: _id
        state: state
        smtp_events:
        - diag: diag
          type: type
          ts: 5
        - diag: diag
          type: type
          ts: 5
        email: email
        ts: 2
      properties:
        _id:
          type: string
        clicks:
          type: integer
        clicks_detail:
          items:
            $ref: '#/components/schemas/messages_info_response_clicks_detail_inner'
          type: array
        email:
          type: string
        metadata:
          $ref: '#/components/schemas/messages_info_response_metadata'
        opens:
          type: integer
        opens_detail:
          items:
            $ref: '#/components/schemas/messages_info_response_opens_detail_inner'
          type: array
        sender:
          type: string
        smtp_events:
          items:
            $ref: '#/components/schemas/messages_info_response_smtp_events_inner'
          type: array
        state:
          type: string
        subject:
          type: string
        tags:
          items:
            type: string
          type: array
        template:
          type: string
        ts:
          type: integer
      type: object
    messages_list-scheduled:
      properties:
        key:
          type: string
        to:
          type: string
      type: object
    messages_list-scheduled-response:
      items:
        $ref: '#/components/schemas/messages_list_scheduled_response_inner'
      type: array
    messages_parse:
      properties:
        key:
          type: string
        raw_message:
          type: string
      type: object
    messages_parse-response:
      example:
        headers:
          Reply-To: Reply-To
        images:
        - name: name
          type: type
          content: content
        - name: name
          type: type
          content: content
        attachments:
        - binary: true
          name: name
          type: type
          content: content
        - binary: true
          name: name
          type: type
          content: content
        from_email: from_email
        subject: subject
        html: html
        text: text
        to:
        - name: name
          email: email
        - name: name
          email: email
        from_name: from_name
      properties:
        attachments:
          items:
            $ref: '#/components/schemas/messages_parse_response_attachments_inner'
          type: array
        from_email:
          type: string
        from_name:
          type: string
        headers:
          $ref: '#/components/schemas/messages_content_response_headers'
        html:
          type: string
        images:
          items:
            $ref: '#/components/schemas/messages_content_response_attachments_inner'
          type: array
        subject:
          type: string
        text:
          type: string
        to:
          items:
            $ref: '#/components/schemas/messages_content_response_to'
          type: array
      type: object
    messages_reschedule:
      properties:
        id:
          type: string
        key:
          type: string
        send_at:
          type: string
      type: object
    messages_search:
      properties:
        api_keys:
          items:
            type: string
          type: array
        date_from:
          type: string
        date_to:
          type: string
        key:
          type: string
        limit:
          type: integer
        query:
          type: string
        senders:
          items:
            type: string
          type: array
        tags:
          items:
            type: string
          type: array
      type: object
    messages_search-response:
      items:
        $ref: '#/components/schemas/messages_search_response_inner'
      type: array
    messages_search-time-series:
      properties:
        date_from:
          type: string
        date_to:
          type: string
        key:
          type: string
        query:
          type: string
        senders:
          items:
            type: string
          type: array
        tags:
          items:
            type: string
          type: array
      type: object
    messages_send:
      properties:
        async:
          type: boolean
        ip_pool:
          type: string
        key:
          type: string
        message:
          $ref: '#/components/schemas/messages_send_message'
        send_at:
          type: string
      type: object
    messages_send-raw:
      properties:
        async:
          type: boolean
        from_email:
          type: string
        from_name:
          type: string
        ip_pool:
          type: string
        key:
          type: string
        raw_message:
          type: string
        send_at:
          type: string
        to:
          items:
            type: string
          type: array
      type: object
    messages_send-template:
      properties:
        async:
          type: boolean
        ip_pool:
          type: string
        key:
          type: string
        message:
          $ref: '#/components/schemas/messages_send_message'
        send_at:
          type: string
        template_content:
          items:
            $ref: '#/components/schemas/messages_send_message_global_merge_vars_inner'
          type: array
        template_name:
          type: string
      type: object
    metadata_info:
      example:
        name: name
        state: state
        view_template: view_template
      properties:
        name:
          type: string
        state:
          type: string
        view_template:
          type: string
      type: object
    metadata_list-response:
      items:
        $ref: '#/components/schemas/metadata_list_response_inner'
      type: array
    metadata_template:
      properties:
        key:
          type: string
        name:
          type: string
        view_template:
          type: string
      type: object
    name:
      properties:
        key:
          type: string
        name:
          type: string
      type: object
    notify_email:
      properties:
        key:
          type: string
        notify_email:
          type: string
      type: object
    rejects_add:
      properties:
        comment:
          type: string
        email:
          type: string
        key:
          type: string
        subaccount:
          type: string
      type: object
    rejects_add-response:
      example:
        added: true
        email: email
      properties:
        added:
          type: boolean
        email:
          type: string
      type: object
    rejects_delete:
      properties:
        email:
          type: string
        key:
          type: string
        subaccount:
          type: string
      type: object
    rejects_delete-response:
      example:
        deleted: true
        subaccount: subaccount
        email: email
      properties:
        deleted:
          type: boolean
        email:
          type: string
        subaccount:
          type: string
      type: object
    rejects_list:
      properties:
        email:
          type: string
        include_expired:
          type: boolean
        key:
          type: string
        subaccount:
          type: string
      type: object
    rejects_list-response:
      items:
        $ref: '#/components/schemas/rejects_list_response_inner'
      type: array
    route:
      example:
        pattern: pattern
        id: id
        url: url
      properties:
        id:
          type: string
        pattern:
          type: string
        url:
          type: string
      type: object
    schedulingchange_info:
      example:
        from_email: from_email
        subject: subject
        created_at: created_at
        send_at: send_at
        _id: _id
        to: to
      properties:
        _id:
          type: string
        created_at:
          type: string
        from_email:
          type: string
        send_at:
          type: string
        subject:
          type: string
        to:
          type: string
      type: object
    sender_address:
      properties:
        address:
          type: string
        key:
          type: string
      type: object
    sender_domain_info:
      example:
        valid_signing: true
        last_tested_at: last_tested_at
        dkim:
          valid: true
          valid_after: valid_after
          error: error
        verified_at: verified_at
        domain: domain
        spf:
          valid: true
          valid_after: valid_after
          error: error
        created_at: created_at
      properties:
        created_at:
          type: string
        dkim:
          $ref: '#/components/schemas/sender_domain_info_dkim'
        domain:
          type: string
        last_tested_at:
          type: string
        spf:
          $ref: '#/components/schemas/sender_domain_info_dkim'
        valid_signing:
          type: boolean
        verified_at:
          type: string
      type: object
    senders:
      items:
        $ref: '#/components/schemas/rejects_list_response_inner_sender'
      type: array
    senders_domains-response:
      items:
        $ref: '#/components/schemas/senders_domains_response_inner'
      type: array
    senders_info-response:
      example:
        rejects: 5
        address: address
        hard_bounces: 1
        stats:
          last_7_days:
            rejects: 7
            hard_bounces: 2
            unique_clicks: 1
            unsubs: 7
            complaints: 3
            clicks: 9
            opens: 4
            soft_bounces: 1
            sent: 1
            unique_opens: 6
          today:
            rejects: 7
            hard_bounces: 2
            unique_clicks: 1
            unsubs: 7
            complaints: 3
            clicks: 9
            opens: 4
            soft_bounces: 1
            sent: 1
            unique_opens: 6
          last_90_days:
            rejects: 7
            hard_bounces: 2
            unique_clicks: 1
            unsubs: 7
            complaints: 3
            clicks: 9
            opens: 4
            soft_bounces: 1
            sent: 1
            unique_opens: 6
          last_30_days:
            rejects: 7
            hard_bounces: 2
            unique_clicks: 1
            unsubs: 7
            complaints: 3
            clicks: 9
            opens: 4
            soft_bounces: 1
            sent: 1
            unique_opens: 6
          last_60_days:
            rejects: 7
            hard_bounces: 2
            unique_clicks: 1
            unsubs: 7
            complaints: 3
            clicks: 9
            opens: 4
            soft_bounces: 1
            sent: 1
            unique_opens: 6
        unsubs: 1
        complaints: 6
        clicks: 0
        created_at: created_at
        opens: 5
        soft_bounces: 7
        sent: 2
      properties:
        address:
          type: string
        clicks:
          type: integer
        complaints:
          type: integer
        created_at:
          type: string
        hard_bounces:
          type: integer
        opens:
          type: integer
        rejects:
          type: integer
        sent:
          type: integer
        soft_bounces:
          type: integer
        stats:
          $ref: '#/components/schemas/senders_info_response_stats'
        unsubs:
          type: integer
      type: object
    senders_verify-domain:
      properties:
        domain:
          type: string
        key:
          type: string
        mailbox:
          type: string
      type: object
    senders_verify-domain-response:
      example:
        domain: domain
        email: email
        status: status
      properties:
        domain:
          type: string
        email:
          type: string
        status:
          type: string
      type: object
    subaccount_info:
      properties:
        custom_quota:
          type: integer
        id:
          type: string
        key:
          type: string
        name:
          type: string
        notes:
          type: string
      type: object
    subaccount_info2:
      example:
        custom_quota: 0
        first_sent_at: first_sent_at
        name: name
        created_at: created_at
        reputation: 6
        sent_total: 5
        id: id
        sent_monthly: 1
        sent_weekly: 5
        status: status
      properties:
        created_at:
          type: string
        custom_quota:
          type: integer
        first_sent_at:
          type: string
        id:
          type: string
        name:
          type: string
        reputation:
          type: integer
        sent_monthly:
          type: integer
        sent_total:
          type: integer
        sent_weekly:
          type: integer
        status:
          type: string
      type: object
    subaccounts_info-response:
      example:
        notes: notes
        custom_quota: 0
        first_sent_at: first_sent_at
        created_at: created_at
        last_30_days:
          rejects: 7
          hard_bounces: 2
          unique_clicks: 1
          unsubs: 7
          complaints: 3
          clicks: 9
          opens: 4
          soft_bounces: 1
          sent: 1
          unique_opens: 6
        reputation: 1
        sent_weekly: 7
        hourly_quota: 6
        name: name
        sent_hourly: 5
        sent_total: 2
        id: id
        sent_monthly: 5
        status: status
      properties:
        created_at:
          type: string
        custom_quota:
          type: integer
        first_sent_at:
          type: string
        hourly_quota:
          type: integer
        id:
          type: string
        last_30_days:
          $ref: '#/components/schemas/senders_info_response_stats_last_30_days'
        name:
          type: string
        notes:
          type: string
        reputation:
          type: integer
        sent_hourly:
          type: integer
        sent_monthly:
          type: integer
        sent_total:
          type: integer
        sent_weekly:
          type: integer
        status:
          type: string
      type: object
    subaccounts_list-response:
      items:
        $ref: '#/components/schemas/subaccounts_list_response_inner'
      type: array
    tag_key:
      properties:
        key:
          type: string
        tag:
          type: string
      type: object
    tags_delete-response:
      example:
        rejects: 5
        hard_bounces: 1
        unique_clicks: 3
        unsubs: 4
        complaints: 6
        clicks: 0
        opens: 5
        reputation: 2
        soft_bounces: 9
        tag: tag
        sent: 7
        unique_opens: 2
      properties:
        clicks:
          type: integer
        complaints:
          type: integer
        hard_bounces:
          type: integer
        opens:
          type: integer
        rejects:
          type: integer
        reputation:
          type: integer
        sent:
          type: integer
        soft_bounces:
          type: integer
        tag:
          type: string
        unique_clicks:
          type: integer
        unique_opens:
          type: integer
        unsubs:
          type: integer
      type: object
    tags_info-response:
      example:
        rejects: 5
        hard_bounces: 1
        stats:
          last_7_days:
            rejects: 7
            hard_bounces: 2
            unique_clicks: 1
            unsubs: 7
            complaints: 3
            clicks: 9
            opens: 4
            soft_bounces: 1
            sent: 1
            unique_opens: 6
          today:
            rejects: 7
            hard_bounces: 2
            unique_clicks: 1
            unsubs: 7
            complaints: 3
            clicks: 9
            opens: 4
            soft_bounces: 1
            sent: 1
            unique_opens: 6
          last_90_days:
            rejects: 7
            hard_bounces: 2
            unique_clicks: 1
            unsubs: 7
            complaints: 3
            clicks: 9
            opens: 4
            soft_bounces: 1
            sent: 1
            unique_opens: 6
          last_30_days:
            rejects: 7
            hard_bounces: 2
            unique_clicks: 1
            unsubs: 7
            complaints: 3
            clicks: 9
            opens: 4
            soft_bounces: 1
            sent: 1
            unique_opens: 6
          last_60_days:
            rejects: 7
            hard_bounces: 2
            unique_clicks: 1
            unsubs: 7
            complaints: 3
            clicks: 9
            opens: 4
            soft_bounces: 1
            sent: 1
            unique_opens: 6
        unsubs: 9
        complaints: 6
        clicks: 0
        opens: 5
        soft_bounces: 7
        tag: tag
        sent: 2
      properties:
        clicks:
          type: integer
        complaints:
          type: integer
        hard_bounces:
          type: integer
        opens:
          type: integer
        rejects:
          type: integer
        sent:
          type: integer
        soft_bounces:
          type: integer
        stats:
          $ref: '#/components/schemas/senders_info_response_stats'
        tag:
          type: string
        unsubs:
          type: integer
      type: object
    tags_list-response:
      items:
        $ref: '#/components/schemas/tags_list_response_inner'
      type: array
    template:
      properties:
        code:
          type: string
        from_email:
          type: string
        from_name:
          type: string
        key:
          type: string
        labels:
          items:
            type: string
          type: array
        name:
          type: string
        publish:
          type: boolean
        subject:
          type: string
        text:
          type: string
      type: object
    template_detailed:
      example:
        code: code
        from_email: from_email
        subject: subject
        publish_from_email: publish_from_email
        created_at: created_at
        from_name: from_name
        labels:
        - labels
        - labels
        publish_name: publish_name
        publish_subject: publish_subject
        updated_at: updated_at
        publish_text: publish_text
        name: name
        text: text
        publish_from_name: publish_from_name
        published_at: published_at
        publish_code: publish_code
        slug: slug
      properties:
        code:
          type: string
        created_at:
          type: string
        from_email:
          type: string
        from_name:
          type: string
        labels:
          items:
            type: string
          type: array
        name:
          type: string
        publish_code:
          type: string
        publish_from_email:
          type: string
        publish_from_name:
          type: string
        publish_name:
          type: string
        publish_subject:
          type: string
        publish_text:
          type: string
        published_at:
          type: string
        slug:
          type: string
        subject:
          type: string
        text:
          type: string
        updated_at:
          type: string
      type: object
    templates_list:
      properties:
        key:
          type: string
        label:
          type: string
      type: object
    templates_list-response:
      items:
        $ref: '#/components/schemas/templates_list_response_inner'
      type: array
    templates_render:
      properties:
        key:
          type: string
        merge_vars:
          items:
            $ref: '#/components/schemas/messages_send_message_global_merge_vars_inner'
          type: array
        template_content:
          items:
            $ref: '#/components/schemas/messages_send_message_global_merge_vars_inner'
          type: array
        template_name:
          type: string
      type: object
    templates_render-response:
      example:
        html: html
      properties:
        html:
          type: string
      type: object
    time-series:
      items:
        $ref: '#/components/schemas/time_series_inner'
      type: array
    timeseries:
      items:
        $ref: '#/components/schemas/timeseries_inner'
      type: array
    tracking-domain-status:
      example:
        last_tested_at: last_tested_at
        valid_tracking: true
        domain: domain
        cname:
          valid: true
          valid_after: valid_after
          error: error
        created_at: created_at
      properties:
        cname:
          $ref: '#/components/schemas/sender_domain_info_dkim'
        created_at:
          type: string
        domain:
          type: string
        last_tested_at:
          type: string
        valid_tracking:
          type: boolean
      type: object
    url_infos:
      items:
        $ref: '#/components/schemas/url_infos_inner'
      type: array
    url_key:
      properties:
        key:
          type: string
        q:
          type: string
      type: object
    urls_time-series:
      properties:
        key:
          type: string
        url:
          type: string
      type: object
    urls_time-series-response:
      items:
        $ref: '#/components/schemas/urls_time_series_response_inner'
      type: array
    urls_tracking-domains-response:
      items:
        $ref: '#/components/schemas/urls_tracking_domains_response_inner'
      type: array
    users_info-response:
      example:
        hourly_quota: 6
        backlog: 0
        stats:
          last_7_days:
            rejects: 7
            hard_bounces: 2
            unique_clicks: 1
            unsubs: 7
            complaints: 3
            clicks: 9
            opens: 4
            soft_bounces: 1
            sent: 1
            unique_opens: 6
          all_time:
            rejects: 7
            hard_bounces: 2
            unique_clicks: 1
            unsubs: 7
            complaints: 3
            clicks: 9
            opens: 4
            soft_bounces: 1
            sent: 1
            unique_opens: 6
          today:
            rejects: 7
            hard_bounces: 2
            unique_clicks: 1
            unsubs: 7
            complaints: 3
            clicks: 9
            opens: 4
            soft_bounces: 1
            sent: 1
            unique_opens: 6
          last_90_days:
            rejects: 7
            hard_bounces: 2
            unique_clicks: 1
            unsubs: 7
            complaints: 3
            clicks: 9
            opens: 4
            soft_bounces: 1
            sent: 1
            unique_opens: 6
          last_30_days:
            rejects: 7
            hard_bounces: 2
            unique_clicks: 1
            unsubs: 7
            complaints: 3
            clicks: 9
            opens: 4
            soft_bounces: 1
            sent: 1
            unique_opens: 6
          last_60_days:
            rejects: 7
            hard_bounces: 2
            unique_clicks: 1
            unsubs: 7
            complaints: 3
            clicks: 9
            opens: 4
            soft_bounces: 1
            sent: 1
            unique_opens: 6
        created_at: created_at
        reputation: 1
        public_id: public_id
        username: username
      properties:
        backlog:
          type: integer
        created_at:
          type: string
        hourly_quota:
          type: integer
        public_id:
          type: string
        reputation:
          type: integer
        stats:
          $ref: '#/components/schemas/users_info_response_stats'
        username:
          type: string
      type: object
    users_ping2-response:
      example:
        PING: PING
      properties:
        PING:
          type: string
      type: object
    webhook:
      example:
        last_sent_at: last_sent_at
        events_sent: 6
        created_at: created_at
        description: description
        auth_key: auth_key
        batches_sent: 0
        id: 1
        last_error: last_error
        events:
        - events
        - events
        url: url
      properties:
        auth_key:
          type: string
        batches_sent:
          type: integer
        created_at:
          type: string
        description:
          type: string
        events:
          items:
            type: string
          type: array
        events_sent:
          type: integer
        id:
          type: integer
        last_error:
          type: string
        last_sent_at:
          type: string
        url:
          type: string
      type: object
    webhook_key:
      properties:
        id:
          type: integer
        key:
          type: string
      type: object
    webhooks_add:
      properties:
        description:
          type: string
        events:
          items:
            type: string
          type: array
        key:
          type: string
        url:
          type: string
      type: object
    webhooks_list-response:
      items:
        $ref: '#/components/schemas/webhooks_list_response_inner'
      type: array
    webhooks_update:
      properties:
        description:
          type: string
        events:
          items:
            type: string
          type: array
        id:
          type: integer
        key:
          type: string
        url:
          type: string
      type: object
    whitelists_add-response:
      example:
        whether: true
        email: email
      properties:
        email:
          type: string
        whether:
          type: boolean
      type: object
    whitelists_delete-response:
      example:
        deleted: true
        email: email
      properties:
        deleted:
          type: boolean
        email:
          type: string
      type: object
    whitelists_list-response:
      items:
        $ref: '#/components/schemas/whitelists_list_response_inner'
      type: array
    exports_list_response_inner:
      example:
        result_url: result_url
        finished_at: finished_at
        created_at: created_at
        id: id
        state: state
        type: type
      properties:
        created_at:
          type: string
        finished_at:
          type: string
        id:
          type: string
        result_url:
          type: string
        state:
          type: string
        type:
          type: string
      type: object
    inbound_domains_response_inner:
      example:
        domain: domain
        valid_mx: true
        created_at: created_at
      properties:
        created_at:
          type: string
        domain:
          type: string
        valid_mx:
          type: boolean
      type: object
    inbound_routes_response_inner:
      example:
        pattern: pattern
        id: id
        url: url
      properties:
        id:
          type: string
        pattern:
          type: string
        url:
          type: string
      type: object
    inbound_send_raw_response_inner:
      example:
        pattern: pattern
        email: email
        url: url
      properties:
        email:
          type: string
        pattern:
          type: string
        url:
          type: string
      type: object
    ip_info_custom_dns:
      example:
        valid: true
        error: error
        enabled: true
      properties:
        enabled:
          type: boolean
        error:
          type: string
        valid:
          type: boolean
      type: object
    ip_info_warmup:
      example:
        end_at: end_at
        warming_up: true
        start_at: start_at
      properties:
        end_at:
          type: string
        start_at:
          type: string
        warming_up:
          type: boolean
      type: object
    ips_list_pools_response_inner_ips_inner:
      example:
        custom_dns:
          valid: true
          error: error
          enabled: true
        domain: domain
        ip: ip
        pool: pool
        created_at: created_at
        warmup:
          end_at: end_at
          warming_up: true
          start_at: start_at
      properties:
        created_at:
          type: string
        custom_dns:
          $ref: '#/components/schemas/ip_info_custom_dns'
        domain:
          type: string
        ip:
          type: string
        pool:
          type: string
        warmup:
          $ref: '#/components/schemas/ip_info_warmup'
      type: object
    ips_list_pools_response_inner:
      example:
        name: name
        created_at: created_at
        ips:
        - custom_dns:
            valid: true
            error: error
            enabled: true
          domain: domain
          ip: ip
          pool: pool
          created_at: created_at
          warmup:
            end_at: end_at
            warming_up: true
            start_at: start_at
        - custom_dns:
            valid: true
            error: error
            enabled: true
          domain: domain
          ip: ip
          pool: pool
          created_at: created_at
          warmup:
            end_at: end_at
            warming_up: true
            start_at: start_at
      properties:
        created_at:
          type: string
        ips:
          items:
            $ref: '#/components/schemas/ips_list_pools_response_inner_ips_inner'
          type: array
        name:
          type: string
      type: object
    message_send_status_inner:
      example:
        _id: _id
        reject_reason: reject_reason
        email: email
        status: status
      properties:
        _id:
          type: string
        email:
          type: string
        reject_reason:
          type: string
        status:
          type: string
      type: object
    messages_content_response_attachments_inner:
      example:
        name: name
        type: type
        content: content
      properties:
        content:
          type: string
        name:
          type: string
        type:
          type: string
      type: object
    messages_content_response_headers:
      example:
        Reply-To: Reply-To
      properties:
        Reply-To:
          type: string
      type: object
    messages_content_response_to:
      example:
        name: name
        email: email
      properties:
        email:
          type: string
        name:
          type: string
      type: object
    messages_info_response_clicks_detail_inner:
      example:
        ip: ip
        location: location
        ua: ua
        url: url
        ts: 6
      properties:
        ip:
          type: string
        location:
          type: string
        ts:
          type: integer
        ua:
          type: string
        url:
          type: string
      type: object
    messages_info_response_metadata:
      example:
        website: website
        user_id: user_id
      properties:
        user_id:
          type: string
        website:
          type: string
      type: object
    messages_info_response_opens_detail_inner:
      example:
        ip: ip
        location: location
        ua: ua
        ts: 5
      properties:
        ip:
          type: string
        location:
          type: string
        ts:
          type: integer
        ua:
          type: string
      type: object
    messages_info_response_smtp_events_inner:
      example:
        diag: diag
        type: type
        ts: 5
      properties:
        diag:
          type: string
        ts:
          type: integer
        type:
          type: string
      type: object
    messages_list_scheduled_response_inner:
      example:
        from_email: from_email
        subject: subject
        created_at: created_at
        send_at: send_at
        _id: _id
        to: to
      properties:
        _id:
          type: string
        created_at:
          type: string
        from_email:
          type: string
        send_at:
          type: string
        subject:
          type: string
        to:
          type: string
      type: object
    messages_parse_response_attachments_inner:
      example:
        binary: true
        name: name
        type: type
        content: content
      properties:
        binary:
          type: boolean
        content:
          type: string
        name:
          type: string
        type:
          type: string
      type: object
    messages_search_response_inner:
      example:
        template: template
        metadata:
          website: website
          user_id: user_id
        subject: subject
        clicks_detail:
        - ip: ip
          location: location
          ua: ua
          url: url
          ts: 6
        - ip: ip
          location: location
          ua: ua
          url: url
          ts: 6
        tags:
        - tags
        - tags
        opens_detail:
        - ip: ip
          location: location
          ua: ua
          ts: 5
        - ip: ip
          location: location
          ua: ua
          ts: 5
        sender: sender
        clicks: 0
        opens: 6
        _id: _id
        state: state
        email: email
        ts: 1
      properties:
        _id:
          type: string
        clicks:
          type: integer
        clicks_detail:
          items:
            $ref: '#/components/schemas/messages_info_response_clicks_detail_inner'
          type: array
        email:
          type: string
        metadata:
          $ref: '#/components/schemas/messages_info_response_metadata'
        opens:
          type: integer
        opens_detail:
          items:
            $ref: '#/components/schemas/messages_info_response_opens_detail_inner'
          type: array
        sender:
          type: string
        state:
          type: string
        subject:
          type: string
        tags:
          items:
            type: string
          type: array
        template:
          type: string
        ts:
          type: integer
      type: object
    messages_send_message_global_merge_vars_inner:
      properties:
        content:
          type: string
        name:
          type: string
      type: object
    messages_send_message_merge_vars_inner:
      properties:
        rcpt:
          type: string
        vars:
          items:
            $ref: '#/components/schemas/messages_send_message_global_merge_vars_inner'
          type: array
      type: object
    messages_send_message_metadata:
      properties:
        website:
          type: string
      type: object
    messages_send_message_recipient_metadata_inner_values:
      properties:
        user_id:
          type: integer
      type: object
    messages_send_message_recipient_metadata_inner:
      properties:
        rcpt:
          type: string
        values:
          $ref: '#/components/schemas/messages_send_message_recipient_metadata_inner_values'
      type: object
    messages_send_message_to_inner:
      properties:
        email:
          type: string
        name:
          type: string
        type:
          type: string
      type: object
    messages_send_message:
      properties:
        attachments:
          items:
            $ref: '#/components/schemas/messages_content_response_attachments_inner'
          type: array
        bcc_address:
          type: string
        from_email:
          type: string
        from_name:
          type: string
        global_merge_vars:
          items:
            $ref: '#/components/schemas/messages_send_message_global_merge_vars_inner'
          type: array
        google_analytics_campaign:
          type: string
        google_analytics_domains:
          items:
            type: string
          type: array
        headers:
          $ref: '#/components/schemas/messages_content_response_headers'
        html:
          type: string
        images:
          items:
            $ref: '#/components/schemas/messages_content_response_attachments_inner'
          type: array
        important:
          type: boolean
        merge:
          type: boolean
        merge_vars:
          items:
            $ref: '#/components/schemas/messages_send_message_merge_vars_inner'
          type: array
        metadata:
          $ref: '#/components/schemas/messages_send_message_metadata'
        recipient_metadata:
          items:
            $ref: '#/components/schemas/messages_send_message_recipient_metadata_inner'
          type: array
        subaccount:
          type: string
        subject:
          type: string
        tags:
          items:
            type: string
          type: array
        text:
          type: string
        to:
          items:
            $ref: '#/components/schemas/messages_send_message_to_inner'
          type: array
      type: object
    metadata_list_response_inner:
      example:
        name: name
        state: state
        view_template: view_template
      properties:
        name:
          type: string
        state:
          type: string
        view_template:
          type: string
      type: object
    rejects_list_response_inner_sender:
      example:
        rejects: 5
        address: address
        hard_bounces: 1
        unique_clicks: 9
        unsubs: 2
        complaints: 6
[...]
