openapi: 3.0.1
info:
  contact: {}
  description: The Spell Check API - V7 lets you check a text string for spelling
    and grammar errors.
  title: Spell Check Client
  version: "1.0"
  x-apisguru-categories:
  - developer_tools
  - cloud
  x-logo:
    url: https://twitter.com/microsoft/profile_image?size=original
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/cognitiveservices/data-plane/SpellCheck/stable/v1.0/SpellCheck.json
    version: "2.0"
  x-providerName: microsoft.com
  x-serviceName: cognitiveservices-SpellCheck
  x-tags:
  - Microsoft
servers:
- url: https://api.cognitive.microsoft.com/bing/v7.0
security:
- apiKeyHeader: []
paths:
  /spellcheck:
    post:
      operationId: spell_checker
      parameters:
      - description: Activate swagger compliance
        in: header
        name: X-BingApis-SDK
        required: true
        schema:
          enum:
          - "true"
          type: string
          x-ms-enum:
            modelAsString: true
            name: XBingApisSDK
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: XBingApisSDK
        x-ms-parameter-location: method
      - description: "The default media type is application/json. To specify that\
          \ the response use [JSON-LD](http://json-ld.org/), set the Accept header\
          \ to application/ld+json."
        in: header
        name: Accept
        schema:
          type: string
      - description: "A comma-delimited list of one or more languages to use for user\
          \ interface strings. The list is in decreasing order of preference. For\
          \ additional information, including expected format, see [RFC2616](http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html).\
          \ This header and the setLang query parameter are mutually exclusive; do\
          \ not specify both. If you set this header, you must also specify the cc\
          \ query parameter. Bing will use the first supported language it finds from\
          \ the list, and combine that language with the cc parameter value to determine\
          \ the market to return results for. If the list does not include a supported\
          \ language, Bing will find the closest language and market that supports\
          \ the request, and may use an aggregated or default market for the results\
          \ instead of a specified one. You should use this header and the cc query\
          \ parameter only if you specify multiple languages; otherwise, you should\
          \ use the mkt and setLang query parameters. A user interface string is a\
          \ string that's used as a label in a user interface. There are very few\
          \ user interface strings in the JSON response objects. Any links in the\
          \ response objects to Bing.com properties will apply the specified language."
        in: header
        name: Accept-Language
        schema:
          type: string
          x-ms-client-name: AcceptLanguage
        x-ms-client-name: AcceptLanguage
      - description: "By default, Bing returns cached content, if available. To prevent\
          \ Bing from returning cached content, set the Pragma header to no-cache\
          \ (for example, Pragma: no-cache)."
        in: header
        name: Pragma
        schema:
          type: string
      - description: "The user agent originating the request. Bing uses the user agent\
          \ to provide mobile users with an optimized experience. Although optional,\
          \ you are strongly encouraged to always specify this header. The user-agent\
          \ should be the same string that any commonly used browser would send. For\
          \ information about user agents, see [RFC 2616](http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html)."
        in: header
        name: User-Agent
        schema:
          type: string
          x-ms-client-name: UserAgent
        x-ms-client-name: UserAgent
      - description: "Bing uses this header to provide users with consistent behavior\
          \ across Bing API calls. Bing often flights new features and improvements,\
          \ and it uses the client ID as a key for assigning traffic on different\
          \ flights. If you do not use the same client ID for a user across multiple\
          \ requests, then Bing may assign the user to multiple conflicting flights.\
          \ Being assigned to multiple conflicting flights can lead to an inconsistent\
          \ user experience. For example, if the second request has a different flight\
          \ assignment than the first, the experience may be unexpected. Also, Bing\
          \ can use the client ID to tailor web results to that client ID’s search\
          \ history, providing a richer experience for the user. Bing also uses this\
          \ header to help improve result rankings by analyzing the activity generated\
          \ by a client ID. The relevance improvements help with better quality of\
          \ results delivered by Bing APIs and in turn enables higher click-through\
          \ rates for the API consumer. IMPORTANT: Although optional, you should consider\
          \ this header required. Persisting the client ID across multiple requests\
          \ for the same end user and device combination enables 1) the API consumer\
          \ to receive a consistent user experience, and 2) higher click-through rates\
          \ via better quality of results from the Bing APIs. Each user that uses\
          \ your application on the device must have a unique, Bing generated client\
          \ ID. If you do not include this header in the request, Bing generates an\
          \ ID and returns it in the X-MSEdge-ClientID response header. The only time\
          \ that you should NOT include this header in a request is the first time\
          \ the user uses your app on that device. Use the client ID for each Bing\
          \ API request that your app makes for this user on the device. Persist the\
          \ client ID. To persist the ID in a browser app, use a persistent HTTP cookie\
          \ to ensure the ID is used across all sessions. Do not use a session cookie.\
          \ For other apps such as mobile apps, use the device's persistent storage\
          \ to persist the ID. The next time the user uses your app on that device,\
          \ get the client ID that you persisted. Bing responses may or may not include\
          \ this header. If the response includes this header, capture the client\
          \ ID and use it for all subsequent Bing requests for the user on that device.\
          \ If you include the X-MSEdge-ClientID, you must not include cookies in\
          \ the request."
        in: header
        name: X-MSEdge-ClientID
        schema:
          type: string
          x-ms-client-name: ClientId
        x-ms-client-name: ClientId
      - description: "The IPv4 or IPv6 address of the client device. The IP address\
          \ is used to discover the user's location. Bing uses the location information\
          \ to determine safe search behavior. Although optional, you are encouraged\
          \ to always specify this header and the X-Search-Location header. Do not\
          \ obfuscate the address (for example, by changing the last octet to 0).\
          \ Obfuscating the address results in the location not being anywhere near\
          \ the device's actual location, which may result in Bing serving erroneous\
          \ results."
        in: header
        name: X-MSEdge-ClientIP
        schema:
          type: string
          x-ms-client-name: ClientIp
        x-ms-client-name: ClientIp
      - description: "A semicolon-delimited list of key/value pairs that describe\
          \ the client's geographical location. Bing uses the location information\
          \ to determine safe search behavior and to return relevant local content.\
          \ Specify the key/value pair as <key>:<value>. The following are the keys\
          \ that you use to specify the user's location. lat (required): The latitude\
          \ of the client's location, in degrees. The latitude must be greater than\
          \ or equal to -90.0 and less than or equal to +90.0. Negative values indicate\
          \ southern latitudes and positive values indicate northern latitudes. long\
          \ (required): The longitude of the client's location, in degrees. The longitude\
          \ must be greater than or equal to -180.0 and less than or equal to +180.0.\
          \ Negative values indicate western longitudes and positive values indicate\
          \ eastern longitudes. re (required): The radius, in meters, which specifies\
          \ the horizontal accuracy of the coordinates. Pass the value returned by\
          \ the device's location service. Typical values might be 22m for GPS/Wi-Fi,\
          \ 380m for cell tower triangulation, and 18,000m for reverse IP lookup.\
          \ ts (optional): The UTC UNIX timestamp of when the client was at the location.\
          \ (The UNIX timestamp is the number of seconds since January 1, 1970.) head\
          \ (optional): The client's relative heading or direction of travel. Specify\
          \ the direction of travel as degrees from 0 through 360, counting clockwise\
          \ relative to true north. Specify this key only if the sp key is nonzero.\
          \ sp (optional): The horizontal velocity (speed), in meters per second,\
          \ that the client device is traveling. alt (optional): The altitude of the\
          \ client device, in meters. are (optional): The radius, in meters, that\
          \ specifies the vertical accuracy of the coordinates. Specify this key only\
          \ if you specify the alt key. Although many of the keys are optional, the\
          \ more information that you provide, the more accurate the location results\
          \ are. Although optional, you are encouraged to always specify the user's\
          \ geographical location. Providing the location is especially important\
          \ if the client's IP address does not accurately reflect the user's physical\
          \ location (for example, if the client uses VPN). For optimal results, you\
          \ should include this header and the  X-Search-ClientIP header, but at a\
          \ minimum, you should include this header."
        in: header
        name: X-Search-Location
        schema:
          type: string
          x-ms-client-name: Location
        x-ms-client-name: Location
      - description: A string that's used by logging to determine whether the request
          is coming from an interactive session or a page load. The following are
          the possible values. 1) Edit—The request is from an interactive session
          2) Load—The request is from a page load
        in: query
        name: ActionType
        schema:
          enum:
          - Edit
          - Load
          type: string
          x-ms-enum:
            modelAsString: true
            name: ActionType
        x-ms-enum:
          modelAsString: true
          name: ActionType
      - description: "The unique name of your app. The name must be known by Bing.\
          \ Do not include this parameter unless you have previously contacted Bing\
          \ to get a unique app name. To get a unique name, contact your Bing Business\
          \ Development manager."
        in: query
        name: AppName
        schema:
          type: string
      - description: "A 2-character country code of the country where the results\
          \ come from. This API supports only the United States market. If you specify\
          \ this query parameter, it must be set to us. If you set this parameter,\
          \ you must also specify the Accept-Language header. Bing uses the first\
          \ supported language it finds from the languages list, and combine that\
          \ language with the country code that you specify to determine the market\
          \ to return results for. If the languages list does not include a supported\
          \ language, Bing finds the closest language and market that supports the\
          \ request, or it may use an aggregated or default market for the results\
          \ instead of a specified one. You should use this query parameter and the\
          \ Accept-Language query parameter only if you specify multiple languages;\
          \ otherwise, you should use the mkt and setLang query parameters. This parameter\
          \ and the mkt query parameter are mutually exclusive—do not specify both."
        in: query
        name: cc
        schema:
          type: string
          x-ms-client-name: CountryCode
        x-ms-client-name: CountryCode
      - description: A unique name of the device that the request is being made from.
          Generate a unique value for each device (the value is unimportant). The
          service uses the ID to help debug issues and improve the quality of corrections.
        in: query
        name: ClientMachineName
        schema:
          type: string
      - description: A unique ID that identifies the document that the text belongs
          to. Generate a unique value for each document (the value is unimportant).
          The service uses the ID to help debug issues and improve the quality of
          corrections.
        in: query
        name: DocId
        schema:
          type: string
      - description: "The market where the results come from. You are strongly encouraged\
          \ to always specify the market, if known. Specifying the market helps Bing\
          \ route the request and return an appropriate and optimal response. This\
          \ parameter and the cc query parameter are mutually exclusive—do not specify\
          \ both."
        in: query
        name: mkt
        schema:
          type: string
          x-ms-client-name: Market
        x-ms-client-name: Market
      - description: A unique ID that identifies this user session. Generate a unique
          value for each user session (the value is unimportant). The service uses
          the ID to help debug issues and improve the quality of corrections
        in: query
        name: SessionId
        schema:
          type: string
      - description: "The language to use for user interface strings. Specify the\
          \ language using the ISO 639-1 2-letter language code. For example, the\
          \ language code for English is EN. The default is EN (English). Although\
          \ optional, you should always specify the language. Typically, you set setLang\
          \ to the same language specified by mkt unless the user wants the user interface\
          \ strings displayed in a different language. This parameter and the Accept-Language\
          \ header are mutually exclusive—do not specify both. A user interface string\
          \ is a string that's used as a label in a user interface. There are few\
          \ user interface strings in the JSON response objects. Also, any links to\
          \ Bing.com properties in the response objects apply the specified language."
        in: query
        name: SetLang
        schema:
          type: string
      - description: A unique ID that identifies the user. Generate a unique value
          for each user (the value is unimportant). The service uses the ID to help
          debug issues and improve the quality of corrections.
        in: query
        name: UserId
        schema:
          type: string
      - description: "The type of spelling and grammar checks to perform. The following\
          \ are the possible values (the values are case insensitive). The default\
          \ is Proof. 1) Proof—Finds most spelling and grammar mistakes. 2) Spell—\
          Finds most spelling mistakes but does not find some of the grammar errors\
          \ that Proof catches (for example, capitalization and repeated words)"
        in: query
        name: Mode
        schema:
          enum:
          - proof
          - spell
          type: string
          x-ms-enum:
            modelAsString: true
            name: Mode
        x-ms-enum:
          modelAsString: true
          name: Mode
      - description: "A string that gives context to the text string. For example,\
          \ the text string petal is valid. However, if you set preContextText to\
          \ bike, the context changes and the text string becomes not valid. In this\
          \ case, the API suggests that you change petal to pedal (as in bike pedal).\
          \ This text is not checked for grammar or spelling errors. The combined\
          \ length of the text string, preContextText string, and postContextText\
          \ string may not exceed 10,000 characters. You may specify this parameter\
          \ in the query string of a GET request or in the body of a POST request."
        in: query
        name: PreContextText
        schema:
          type: string
      - description: "A string that gives context to the text string. For example,\
          \ the text string read is valid. However, if you set postContextText to\
          \ carpet, the context changes and the text string becomes not valid. In\
          \ this case, the API suggests that you change read to red (as in red carpet).\
          \ This text is not checked for grammar or spelling errors. The combined\
          \ length of the text string, preContextText string, and postContextText\
          \ string may not exceed 10,000 characters. You may specify this parameter\
          \ in the query string of a GET request or in the body of a POST request."
        in: query
        name: PostContextText
        schema:
          type: string
      - description: "The text string to check for spelling and grammar errors. The\
          \ combined length of the text string, preContextText string, and postContextText\
          \ string may not exceed 10,000 characters. You may specify this parameter\
          \ in the query string of a GET request or in the body of a POST request.\
          \ Because of the query string length limit, you'll typically use a POST\
          \ request unless you're checking only short strings."
        in: query
        name: Text
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpellCheck'
          description: Success.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An error has occurred. Check the response type and/or status
            code for more details.
      summary: The Bing Spell Check API lets you perform contextual grammar and spell
        checking. Bing has developed a web-based spell-checker that leverages machine
        learning and statistical machine translation to dynamically train a constantly
        evolving and highly contextual algorithm. The spell-checker is based on a
        massive corpus of web searches and documents.
      tags:
      - SpellCheck
      x-ms-examples:
        Successful Proof Mode query:
          parameters:
            Accept: application/json
            Accept-language: en-gb
            ActionType: Edit
            CountryCode: US
            Ocp-Apim-Subscription-Key: "{API key}"
            PostContextText: paper
            Pragma: no-cache
            PreContextText: daily
            SetLang: en
            Text: nws
            User-Agent: "{User Agent}"
            X-BingApis-SDK: "true"
            X-MS-EdgeClientIP: "{IP AddresS}"
            mkt: en-us
          responses:
            "200":
              body:
                _type: SpellCheck
                flaggedTokens:
                - offset: 0
                  suggestions:
                  - score: 0.846818946208462
                    suggestion: news
                  token: nws
                  type: UnknownToken
              headers: {}
        Successful query:
          parameters:
            Mode: Spell
            Ocp-Apim-Subscription-Key: "{API key}"
            Text: micosoft
            X-BingApis-SDK: "true"
            mkt: en-US
          responses:
            "200":
              body:
                _type: SpellCheck
                flaggedTokens:
                - offset: 0
                  suggestions:
                  - score: 1
                    suggestion: microsoft
                  token: micosoft
                  type: UnknownToken
              headers: {}
      x-openapi-router-controller: openapi_server.controllers.spell_check_controller
components:
  parameters:
    x-bingapis-sdk:
      description: Activate swagger compliance
      in: header
      name: X-BingApis-SDK
      required: true
      schema:
        enum:
        - "true"
        type: string
        x-ms-enum:
          modelAsString: true
          name: XBingApisSDK
        x-ms-parameter-location: method
      x-ms-enum:
        modelAsString: true
        name: XBingApisSDK
      x-ms-parameter-location: method
  schemas:
    Answer:
      allOf:
      - $ref: '#/components/schemas/Response'
      title: Answer
    Error:
      description: Defines the error that occurred.
      example:
        code: None
        moreDetails: moreDetails
        subCode: UnexpectedError
        parameter: parameter
        message: message
        value: value
      properties:
        code:
          default: None
          description: The error code that identifies the category of error.
          enum:
          - None
          - ServerError
          - InvalidRequest
          - RateLimitExceeded
          - InvalidAuthorization
          - InsufficientAuthorization
          title: code
          type: string
          x-ms-enum:
            modelAsString: true
            name: ErrorCode
        message:
          description: A description of the error.
          title: message
          type: string
        moreDetails:
          description: A description that provides additional information about the
            error.
          readOnly: true
          title: moreDetails
          type: string
        parameter:
          description: The parameter in the request that caused the error.
          readOnly: true
          title: parameter
          type: string
        subCode:
          description: The error code that further helps to identify the error.
          enum:
          - UnexpectedError
          - ResourceError
          - NotImplemented
          - ParameterMissing
          - ParameterInvalidValue
          - HttpNotAllowed
          - Blocked
          - AuthorizationMissing
          - AuthorizationRedundancy
          - AuthorizationDisabled
          - AuthorizationExpired
          readOnly: true
          title: subCode
          type: string
          x-ms-enum:
            modelAsString: true
            name: ErrorSubCode
        value:
          description: The parameter's value in the request that was not valid.
          readOnly: true
          title: value
          type: string
      required:
      - code
      - message
      title: Error
      type: object
    ErrorResponse:
      allOf:
      - $ref: '#/components/schemas/Response'
      description: The top-level response that represents a failed request.
      example:
        errors:
        - code: None
          moreDetails: moreDetails
          subCode: UnexpectedError
          parameter: parameter
          message: message
          value: value
        - code: None
          moreDetails: moreDetails
          subCode: UnexpectedError
          parameter: parameter
          message: message
          value: value
      properties:
        errors:
          description: A list of errors that describe the reasons why the request
            failed.
          items:
            $ref: '#/components/schemas/Error'
          title: errors
          type: array
      required:
      - errors
      title: ErrorResponse
    Identifiable:
      allOf:
      - $ref: '#/components/schemas/ResponseBase'
      description: Defines the identity of a resource.
      properties:
        id:
          description: A String identifier.
          readOnly: true
          title: id
          type: string
      title: Identifiable
    Response:
      allOf:
      - $ref: '#/components/schemas/Identifiable'
      description: Defines a response. All schemas that could be returned at the root
        of a response should inherit from this
      title: Response
    ResponseBase:
      discriminator:
        propertyName: _type
      properties:
        _type:
          title: _type
          type: string
      required:
      - _type
      title: ResponseBase
      type: object
    SpellCheck:
      allOf:
      - $ref: '#/components/schemas/Answer'
      example:
        flaggedTokens:
        - offset: 0
          suggestions:
          - score: 6.027456183070403
            suggestion: suggestion
            pingUrlSuffix: pingUrlSuffix
          - score: 6.027456183070403
            suggestion: suggestion
            pingUrlSuffix: pingUrlSuffix
          type: UnknownToken
          pingUrlSuffix: pingUrlSuffix
          token: token
        - offset: 0
          suggestions:
          - score: 6.027456183070403
            suggestion: suggestion
            pingUrlSuffix: pingUrlSuffix
          - score: 6.027456183070403
            suggestion: suggestion
            pingUrlSuffix: pingUrlSuffix
          type: UnknownToken
          pingUrlSuffix: pingUrlSuffix
          token: token
      properties:
        flaggedTokens:
          items:
            $ref: '#/components/schemas/SpellingFlaggedToken'
          title: flaggedTokens
          type: array
      required:
      - flaggedTokens
      title: SpellCheck
    SpellingFlaggedToken:
      example:
        offset: 0
        suggestions:
        - score: 6.027456183070403
          suggestion: suggestion
          pingUrlSuffix: pingUrlSuffix
        - score: 6.027456183070403
          suggestion: suggestion
          pingUrlSuffix: pingUrlSuffix
        type: UnknownToken
        pingUrlSuffix: pingUrlSuffix
        token: token
      properties:
        offset:
          format: int32
          title: offset
          type: integer
        pingUrlSuffix:
          readOnly: true
          title: pingUrlSuffix
          type: string
        suggestions:
          items:
            $ref: '#/components/schemas/SpellingTokenSuggestion'
          readOnly: true
          title: suggestions
          type: array
        token:
          title: token
          type: string
        type:
          default: UnknownToken
          enum:
          - UnknownToken
          - RepeatedToken
          title: type
          type: string
          x-ms-enum:
            modelAsString: true
            name: ErrorType
      required:
      - offset
      - token
      - type
      title: SpellingFlaggedToken
      type: object
      x-ms-discriminator-value: Spelling/FlaggedToken
    SpellingTokenSuggestion:
      example:
        score: 6.027456183070403
        suggestion: suggestion
        pingUrlSuffix: pingUrlSuffix
      properties:
        pingUrlSuffix:
          readOnly: true
          title: pingUrlSuffix
          type: string
        score:
          format: double
          readOnly: true
          title: score
          type: number
        suggestion:
          title: suggestion
          type: string
      required:
      - suggestion
      title: SpellingTokenSuggestion
      type: object
      x-ms-discriminator-value: Spelling/TokenSuggestion
  securitySchemes:
    apiKeyHeader:
      in: header
      name: Ocp-Apim-Subscription-Key
      type: apiKey
      x-apikeyInfoFunc: openapi_server.controllers.security_controller.info_from_apiKeyHeader
x-ms-parameterized-host:
  hostTemplate: "{Endpoint}"
  parameters:
  - default: https://api.cognitive.microsoft.com
    description: "Supported Cognitive Services endpoints (protocol and hostname, for\
      \ example: \"https://westus.api.cognitive.microsoft.com\", \"https://api.cognitive.microsoft.com\"\
      )."
    x-ms-parameter-location: client
    x-ms-skip-url-encoding: true
  useSchemePrefix: false
x-original-swagger-version: "2.0"
