openapi: 3.0.0
info:
  description: The Archive API provides lists of NYT articles by month going back
    to 1851.  You can use it to build your own local database of NYT article metadata.
  termsOfService: http://developer.nytimes.com/tou
  title: Archive API
  version: 1.0.0
  x-apiClientRegistration:
    url: http://developer.nytimes.com/signup
  x-apisguru-categories:
  - media
  - open_data
  x-logo:
    url: https://static01.nyt.com/images/icons/t_logo_291_black.png
  x-origin:
  - format: openapi
    url: https://raw.githubusercontent.com/nytimes/public_api_specs/master/archive_api/archive_api.json
    version: "3.0"
  x-providerName: nytimes.com
  x-serviceName: archive
externalDocs:
  url: http://developer.nytimes.com/
servers:
- url: http://api.nytimes.com/svc/archive/v1
- url: https://api.nytimes.com/svc/archive/v1
security:
- apikey: []
paths:
  /{year}/{month}.json:
    get:
      description: |
        The Archive API provides lists of NYT articles by month going back to 1851.  Simply pass in the year and month you want and it returns a JSON object with all articles for that month.
      parameters:
      - description: The year (e.g. 2016).
        explode: false
        in: path
        name: year
        required: true
        schema:
          format: int32
          maximum: 2030
          minimum: 1851
          type: integer
        style: simple
        x-consoleDefault: "2016"
      - description: The month number (e.g. 1 for January).
        explode: false
        in: path
        name: month
        required: true
        schema:
          format: int32
          maximum: 12
          minimum: 1
          type: integer
        style: simple
        x-consoleDefault: "1"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/__year___month__json_get_200_response'
          description: The docs requested.
      summary: Archive API
      tags:
      - Archive
      x-accepts:
      - application/json
components:
  schemas:
    Doc:
      example:
        snippet: snippet
        slideshow_credits: slideshow_credits
        keywords:
          name: name
          rank: rank
          value: value
        print_page: print_page
        section_name: section_name
        abstract: abstract
        source: source
        blog:
        - ""
        - ""
        news_desk: news_desk
        pub_date: pub_date
        multimedia:
        - copyright: copyright
          subtype: subtype
          format: format
          width: 6
          caption: caption
          type: type
          url: url
          height: 0
        - copyright: copyright
          subtype: subtype
          format: format
          width: 6
          caption: caption
          type: type
          url: url
          height: 0
        word_count: word_count
        lead_paragraph: lead_paragraph
        type_of_material: type_of_material
        web_url: web_url
        _id: _id
        subsection_name: subsection_name
        byline:
          original: original
          person:
          - ""
          - ""
          organization: organization
        headline:
          main: main
          kicker: kicker
        document_type: document_type
      properties:
        _id:
          type: string
        abstract:
          type: string
        blog:
          items: {}
          type: array
        byline:
          $ref: '#/components/schemas/Doc_byline'
        document_type:
          type: string
        headline:
          $ref: '#/components/schemas/Doc_headline'
        keywords:
          $ref: '#/components/schemas/Doc_keywords'
        lead_paragraph:
          type: string
        multimedia:
          items:
            $ref: '#/components/schemas/Doc_multimedia_inner'
          type: array
        news_desk:
          type: string
        print_page:
          type: string
        pub_date:
          type: string
        section_name:
          type: string
        slideshow_credits:
          type: string
        snippet:
          type: string
        source:
          type: string
        subsection_name:
          type: string
        type_of_material:
          type: string
        web_url:
          type: string
        word_count:
          type: string
      type: object
    __year___month__json_get_200_response_response_meta:
      example:
        hits: 1
        offset: 5
        time: 5
      properties:
        hits:
          type: integer
        offset:
          type: integer
        time:
          type: integer
      type: object
    __year___month__json_get_200_response_response:
      example:
        docs:
        - snippet: snippet
          slideshow_credits: slideshow_credits
          keywords:
            name: name
            rank: rank
            value: value
          print_page: print_page
          section_name: section_name
          abstract: abstract
          source: source
          blog:
          - ""
          - ""
          news_desk: news_desk
          pub_date: pub_date
          multimedia:
          - copyright: copyright
            subtype: subtype
            format: format
            width: 6
            caption: caption
            type: type
            url: url
            height: 0
          - copyright: copyright
            subtype: subtype
            format: format
            width: 6
            caption: caption
            type: type
            url: url
            height: 0
          word_count: word_count
          lead_paragraph: lead_paragraph
          type_of_material: type_of_material
          web_url: web_url
          _id: _id
          subsection_name: subsection_name
          byline:
            original: original
            person:
            - ""
            - ""
            organization: organization
          headline:
            main: main
            kicker: kicker
          document_type: document_type
        - snippet: snippet
          slideshow_credits: slideshow_credits
          keywords:
            name: name
            rank: rank
            value: value
          print_page: print_page
          section_name: section_name
          abstract: abstract
          source: source
          blog:
          - ""
          - ""
          news_desk: news_desk
          pub_date: pub_date
          multimedia:
          - copyright: copyright
            subtype: subtype
            format: format
            width: 6
            caption: caption
            type: type
            url: url
            height: 0
          - copyright: copyright
            subtype: subtype
            format: format
            width: 6
            caption: caption
            type: type
            url: url
            height: 0
          word_count: word_count
          lead_paragraph: lead_paragraph
          type_of_material: type_of_material
          web_url: web_url
          _id: _id
          subsection_name: subsection_name
          byline:
            original: original
            person:
            - ""
            - ""
            organization: organization
          headline:
            main: main
            kicker: kicker
          document_type: document_type
        meta:
          hits: 1
          offset: 5
          time: 5
      properties:
        docs:
          items:
            $ref: '#/components/schemas/Doc'
          type: array
        meta:
          $ref: '#/components/schemas/__year___month__json_get_200_response_response_meta'
      type: object
    __year___month__json_get_200_response:
      example:
        response:
          docs:
          - snippet: snippet
            slideshow_credits: slideshow_credits
            keywords:
              name: name
              rank: rank
              value: value
            print_page: print_page
            section_name: section_name
            abstract: abstract
            source: source
            blog:
            - ""
            - ""
            news_desk: news_desk
            pub_date: pub_date
            multimedia:
            - copyright: copyright
              subtype: subtype
              format: format
              width: 6
              caption: caption
              type: type
              url: url
              height: 0
            - copyright: copyright
              subtype: subtype
              format: format
              width: 6
              caption: caption
              type: type
              url: url
              height: 0
            word_count: word_count
            lead_paragraph: lead_paragraph
            type_of_material: type_of_material
            web_url: web_url
            _id: _id
            subsection_name: subsection_name
            byline:
              original: original
              person:
              - ""
              - ""
              organization: organization
            headline:
              main: main
              kicker: kicker
            document_type: document_type
          - snippet: snippet
            slideshow_credits: slideshow_credits
            keywords:
              name: name
              rank: rank
              value: value
            print_page: print_page
            section_name: section_name
            abstract: abstract
            source: source
            blog:
            - ""
            - ""
            news_desk: news_desk
            pub_date: pub_date
            multimedia:
            - copyright: copyright
              subtype: subtype
              format: format
              width: 6
              caption: caption
              type: type
              url: url
              height: 0
            - copyright: copyright
              subtype: subtype
              format: format
              width: 6
              caption: caption
              type: type
              url: url
              height: 0
            word_count: word_count
            lead_paragraph: lead_paragraph
            type_of_material: type_of_material
            web_url: web_url
            _id: _id
            subsection_name: subsection_name
            byline:
              original: original
              person:
              - ""
              - ""
              organization: organization
            headline:
              main: main
              kicker: kicker
            document_type: document_type
          meta:
            hits: 1
            offset: 5
            time: 5
      properties:
        response:
          $ref: '#/components/schemas/__year___month__json_get_200_response_response'
      type: object
    Doc_byline:
      example:
        original: original
        person:
        - ""
        - ""
        organization: organization
      properties:
        organization:
          type: string
        original:
          type: string
        person:
          items: {}
          type: array
      type: object
    Doc_headline:
      example:
        main: main
        kicker: kicker
      properties:
        kicker:
          type: string
        main:
          type: string
      type: object
    Doc_keywords:
      example:
        name: name
        rank: rank
        value: value
      properties:
        name:
          type: string
        rank:
          type: string
        value:
          type: string
      type: object
    Doc_multimedia_inner:
      example:
        copyright: copyright
        subtype: subtype
        format: format
        width: 6
        caption: caption
        type: type
        url: url
        height: 0
      properties:
        caption:
          type: string
        copyright:
          type: string
        format:
          type: string
        height:
          type: integer
        subtype:
          type: string
        type:
          type: string
        url:
          type: string
        width:
          type: integer
      type: object
  securitySchemes:
    apikey:
      in: query
      name: api-key
      type: apiKey

