openapi: 3.1.0
info:
  title: RentCast API
  version: "1.0"
  x-apisguru-categories:
  - financial
  x-logo:
    url: https://uploads-ssl.webflow.com/5fcfc6872ea226dee1432ecd/617c460a237cd21ffdb2b9f8_logo-icon.svg
  x-origin:
  - format: openapi
    url: https://developers.rentcast.io/openapi/62980a560589b4001356b8a1
    version: "3.1"
  x-providerName: rentcast.io
servers:
- url: https://api.rentcast.io/v1
security:
- sec0: []
paths:
  /avm/rent/long-term:
    get:
      deprecated: false
      description: Returns a property rent estimate and comparable properties.
      operationId: rent_estimate_long_term
      parameters:
      - description: "The full property address, in the format of `Street, City, State,\
          \ Zip`. You need to provide either the `address` or the `latitude`/`longitude`\
          \ parameters"
        explode: true
        in: query
        name: address
        required: false
        schema:
          default: "5500 Grand Lake Drive, San Antonio, TX, 78244"
          type: string
        style: form
      - description: The latitude of the property. The `latitude`/`longitude` can
          be provided instead of the `address` parameter
        explode: true
        in: query
        name: latitude
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: The longitude of the property. The `latitude`/`longitude` can
          be provided instead of the `address` parameter
        explode: true
        in: query
        name: longitude
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: "The type of the property. See [explanation of property types](https://developers.rentcast.io/reference/property-types)"
        explode: true
        in: query
        name: propertyType
        required: false
        schema:
          default: Single Family
          enum:
          - Single Family
          - Condo
          - Townhouse
          - Manufactured
          - Multi-Family
          - Apartment
          type: string
        style: form
      - description: The number of bedrooms in the property. Use `0` to indicate a
          studio layout
        explode: true
        in: query
        name: bedrooms
        required: false
        schema:
          default: 4
          format: float
          type: number
        style: form
      - description: The number of bathrooms in the property. Supports fractions to
          indicate partial bathrooms
        explode: true
        in: query
        name: bathrooms
        required: false
        schema:
          default: 2
          format: float
          type: number
        style: form
      - description: "The total living area size of the property, in square feet"
        explode: true
        in: query
        name: squareFootage
        required: false
        schema:
          default: 1600
          format: float
          type: number
        style: form
      - description: "The maximum distance between comparable listings and the subject\
          \ property, in miles"
        explode: true
        in: query
        name: maxRadius
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: "The maximum number of days since comparable listings were last\
          \ seen on the market, with a minimum of 1"
        explode: true
        in: query
        name: daysOld
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: "The number of comparable listings to use when calculating the\
          \ rent estimate, between 5 and 25. Defaults to 10 if not provided"
        explode: true
        in: query
        name: compCount
        required: false
        schema:
          default: 5
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Response:
                  value: "{\"rent\":1800,\"rentRangeLow\":1740,\"rentRangeHigh\":1860,\"\
                    longitude\":-98.351442,\"latitude\":29.475962,\"comparables\"\
                    :[{\"id\":\"7410-Adaja-Riv,-San-Antonio,-TX-78244\",\"formattedAddress\"\
                    :\"7410 Adaja Riv, San Antonio, TX 78244\",\"addressLine1\":\"\
                    7410 Adaja Riv\",\"city\":\"San Antonio\",\"state\":\"TX\",\"\
                    zipCode\":\"78244\",\"county\":\"Bexar\",\"longitude\":-98.344856,\"\
                    latitude\":29.481005,\"propertyType\":\"Single Family\",\"bedrooms\"\
                    :4,\"bathrooms\":2,\"squareFootage\":1627,\"price\":1850,\"listedDate\"\
                    :\"2023-01-22T00:00:00.000Z\",\"lastSeenDate\":\"2023-02-17T00:00:00.000Z\"\
                    ,\"daysOld\":11,\"distance\":0.5282,\"correlation\":0.988},{\"\
                    id\":\"7303-Avila-Vis,-San-Antonio,-TX-78244\",\"formattedAddress\"\
                    :\"7303 Avila Vis, San Antonio, TX 78244\",\"addressLine1\":\"\
                    7303 Avila Vis\",\"city\":\"San Antonio\",\"state\":\"TX\",\"\
                    zipCode\":\"78244\",\"county\":\"Bexar\",\"longitude\":-98.34565,\"\
                    latitude\":29.483196,\"propertyType\":\"Single Family\",\"bedrooms\"\
                    :4,\"bathrooms\":2,\"squareFootage\":1627,\"price\":1850,\"listedDate\"\
                    :\"2023-02-03T00:00:00.000Z\",\"lastSeenDate\":\"2023-02-17T00:00:00.000Z\"\
                    ,\"daysOld\":11,\"distance\":0.6099,\"correlation\":0.9867},{\"\
                    id\":\"7331-Avila-Vis,-San-Antonio,-TX-78244\",\"formattedAddress\"\
                    :\"7331 Avila Vis, San Antonio, TX 78244\",\"addressLine1\":\"\
                    7331 Avila Vis\",\"city\":\"San Antonio\",\"state\":\"TX\",\"\
                    zipCode\":\"78244\",\"county\":\"Bexar\",\"longitude\":-98.34481,\"\
                    latitude\":29.482922,\"propertyType\":\"Single Family\",\"bedrooms\"\
                    :4,\"bathrooms\":2,\"squareFootage\":1627,\"price\":1810,\"listedDate\"\
                    :\"2023-02-21T00:00:00.000Z\",\"lastSeenDate\":\"2023-02-27T00:00:00.000Z\"\
                    ,\"daysOld\":1,\"distance\":0.6255,\"correlation\":0.9865},{\"\
                    id\":\"7411-Avila-Vis,-San-Antonio,-TX-78244\",\"formattedAddress\"\
                    :\"7411 Avila Vis, San Antonio, TX 78244\",\"addressLine1\":\"\
                    7411 Avila Vis\",\"city\":\"San Antonio\",\"state\":\"TX\",\"\
                    zipCode\":\"78244\",\"county\":\"Bexar\",\"longitude\":-98.344398,\"\
                    latitude\":29.482676,\"propertyType\":\"Single Family\",\"bedrooms\"\
                    :4,\"bathrooms\":2,\"squareFootage\":1627,\"price\":1815,\"listedDate\"\
                    :\"2023-01-16T00:00:00.000Z\",\"lastSeenDate\":\"2023-02-10T00:00:00.000Z\"\
                    ,\"daysOld\":18,\"distance\":0.629,\"correlation\":0.9864},{\"\
                    id\":\"7327-Plata-Cir,-San-Antonio,-TX-78244\",\"formattedAddress\"\
                    :\"7327 Plata Cir, San Antonio, TX 78244\",\"addressLine1\":\"\
                    7327 Plata Cir\",\"city\":\"San Antonio\",\"state\":\"TX\",\"\
                    zipCode\":\"78244\",\"county\":\"Bexar\",\"longitude\":-98.344406,\"\
                    latitude\":29.480621,\"propertyType\":\"Single Family\",\"bedrooms\"\
                    :4,\"bathrooms\":2,\"squareFootage\":1492,\"price\":1680,\"listedDate\"\
                    :\"2023-01-12T00:00:00.000Z\",\"lastSeenDate\":\"2023-02-08T00:00:00.000Z\"\
                    ,\"daysOld\":20,\"distance\":0.5323,\"correlation\":0.9758}]}"
              schema:
                $ref: '#/components/schemas/rent_estimate_long_term_200_response'
          description: "200"
      summary: Rent Estimate
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /avm/value:
    get:
      deprecated: false
      description: Returns a property value estimate and comparable properties.
      operationId: value_estimate
      parameters:
      - description: "The full property address, in the format of `Street, City, State,\
          \ Zip`. You need to provide either the `address` or the `latitude`/`longitude`\
          \ parameters"
        explode: true
        in: query
        name: address
        required: false
        schema:
          default: "5500 Grand Lake Drive, San Antonio, TX, 78244"
          type: string
        style: form
      - description: The latitude of the property. The `latitude`/`longitude` can
          be provided instead of the `address` parameter
        explode: true
        in: query
        name: latitude
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: The longitude of the property. The `latitude`/`longitude` can
          be provided instead of the `address` parameter
        explode: true
        in: query
        name: longitude
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: "The type of the property. See [explanation of property types](https://developers.rentcast.io/reference/property-types)"
        explode: true
        in: query
        name: propertyType
        required: false
        schema:
          default: Single Family
          enum:
          - Single Family
          - Condo
          - Townhouse
          - Manufactured
          - Multi-Family
          - Apartment
          - Land
          type: string
        style: form
      - description: The number of bedrooms in the property. Use `0` to indicate a
          studio layout
        explode: true
        in: query
        name: bedrooms
        required: false
        schema:
          default: 4
          format: float
          type: number
        style: form
      - description: The number of bathrooms in the property. Supports fractions to
          indicate partial bathrooms
        explode: true
        in: query
        name: bathrooms
        required: false
        schema:
          default: 2
          format: float
          type: number
        style: form
      - description: "The total living area size of the property, in square feet"
        explode: true
        in: query
        name: squareFootage
        required: false
        schema:
          default: 1600
          format: float
          type: number
        style: form
      - description: "The maximum distance between comparable listings and the subject\
          \ property, in miles"
        explode: true
        in: query
        name: maxRadius
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: "The maximum number of days since comparable listings were last\
          \ seen on the market, with a minimum of 1"
        explode: true
        in: query
        name: daysOld
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: "The number of comparable listings to use when calculating the\
          \ value estimate, between 5 and 25. Defaults to 10 if not provided"
        explode: true
        in: query
        name: compCount
        required: false
        schema:
          default: 5
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Response:
                  value: "{\"price\":232000,\"priceRangeLow\":213000,\"priceRangeHigh\"\
                    :251000,\"longitude\":-98.351442,\"latitude\":29.475962,\"comparables\"\
                    :[{\"id\":\"6807-Blue-Lake-Dr,-San-Antonio,-TX-78244\",\"formattedAddress\"\
                    :\"6807 Blue Lake Dr, San Antonio, TX 78244\",\"addressLine1\"\
                    :\"6807 Blue Lake Dr\",\"city\":\"San Antonio\",\"state\":\"TX\"\
                    ,\"zipCode\":\"78244\",\"county\":\"Bexar\",\"longitude\":-98.354769,\"\
                    latitude\":29.476178,\"propertyType\":\"Single Family\",\"bedrooms\"\
                    :4,\"bathrooms\":2,\"squareFootage\":1518,\"lotSize\":6534,\"\
                    yearBuilt\":1972,\"price\":198000,\"listedDate\":\"2023-02-18T00:00:00.000Z\"\
                    ,\"lastSeenDate\":\"2023-02-23T00:00:00.000Z\",\"daysOld\":5,\"\
                    distance\":0.2009,\"correlation\":0.9891},{\"id\":\"6823-Quail-Lk,-San-Antonio,-TX-78244\"\
                    ,\"formattedAddress\":\"6823 Quail Lk, San Antonio, TX 78244\"\
                    ,\"addressLine1\":\"6823 Quail Lk\",\"city\":\"San Antonio\",\"\
                    state\":\"TX\",\"zipCode\":\"78244\",\"county\":\"Bexar\",\"longitude\"\
                    :-98.351689,\"latitude\":29.473522,\"propertyType\":\"Single Family\"\
                    ,\"bedrooms\":4,\"bathrooms\":2,\"squareFootage\":1732,\"lotSize\"\
                    :6621,\"yearBuilt\":1987,\"price\":243900,\"listedDate\":\"2023-02-08T00:00:00.000Z\"\
                    ,\"lastSeenDate\":\"2023-02-27T00:00:00.000Z\",\"daysOld\":1,\"\
                    distance\":0.1694,\"correlation\":0.9862},{\"id\":\"5119-Pine-Lake-Dr,-San-Antonio,-TX-78244\"\
                    ,\"formattedAddress\":\"5119 Pine Lake Dr, San Antonio, TX 78244\"\
                    ,\"addressLine1\":\"5119 Pine Lake Dr\",\"city\":\"San Antonio\"\
                    ,\"state\":\"TX\",\"zipCode\":\"78244\",\"county\":\"Bexar\",\"\
                    longitude\":-98.35069,\"latitude\":29.470208,\"propertyType\"\
                    :\"Single Family\",\"bedrooms\":4,\"bathrooms\":2,\"squareFootage\"\
                    :1734,\"lotSize\":6665,\"yearBuilt\":1989,\"price\":260000,\"\
                    listedDate\":\"2023-01-30T00:00:00.000Z\",\"lastSeenDate\":\"\
                    2023-02-27T00:00:00.000Z\",\"daysOld\":1,\"distance\":0.4006,\"\
                    correlation\":0.9818},{\"id\":\"4710-Crystal-Farm,-San-Antonio,-TX-78244\"\
                    ,\"formattedAddress\":\"4710 Crystal Farm, San Antonio, TX 78244\"\
                    ,\"addressLine1\":\"4710 Crystal Farm\",\"city\":\"San Antonio\"\
                    ,\"state\":\"TX\",\"zipCode\":\"78244\",\"county\":\"Bexar\",\"\
                    longitude\":-98.361364,\"latitude\":29.470534,\"propertyType\"\
                    :\"Single Family\",\"bedrooms\":4,\"bathrooms\":2,\"squareFootage\"\
                    :1514,\"lotSize\":5489,\"yearBuilt\":1999,\"price\":225000,\"\
                    listedDate\":\"2023-01-13T00:00:00.000Z\",\"lastSeenDate\":\"\
                    2023-02-09T00:00:00.000Z\",\"daysOld\":19,\"distance\":0.7057,\"\
                    correlation\":0.9793},{\"id\":\"6162-Brandys-Farm,-San-Antonio,-TX-78244\"\
                    ,\"formattedAddress\":\"6162 Brandys Farm, San Antonio, TX 78244\"\
                    ,\"addressLine1\":\"6162 Brandys Farm\",\"city\":\"San Antonio\"\
                    ,\"state\":\"TX\",\"zipCode\":\"78244\",\"county\":\"Bexar\",\"\
                    longitude\":-98.366161,\"latitude\":29.469905,\"propertyType\"\
                    :\"Single Family\",\"bedrooms\":4,\"bathrooms\":2,\"squareFootage\"\
                    :1646,\"lotSize\":5489,\"yearBuilt\":2003,\"price\":235000,\"\
                    listedDate\":\"2023-02-25T00:00:00.000Z\",\"lastSeenDate\":\"\
                    2023-02-27T00:00:00.000Z\",\"daysOld\":1,\"distance\":0.9804,\"\
                    correlation\":0.9779}]}"
              schema:
                $ref: '#/components/schemas/value_estimate_200_response'
          description: "200"
      summary: Value Estimate
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /listings/rental/long-term:
    get:
      deprecated: false
      description: "Search for rental listings in a geographical area, or by a specific\
        \ address."
      operationId: rental_listings_long_term
      parameters:
      - description: "The full address of the property, in the format of `Street,\
          \ City, State, Zip`. Used to retrieve data for a specific property, or together\
          \ with the `radius` parameter to search for listings in a specific area"
        explode: true
        in: query
        name: address
        required: false
        schema:
          type: string
        style: form
      - description: "The name of the city, used to search for listings in a specific\
          \ city. This parameter is case-sensitive"
        explode: true
        in: query
        name: city
        required: false
        schema:
          default: Austin
          type: string
        style: form
      - description: "The 2-character state abbreviation, used to search for listings\
          \ in a specific state. This parameter is case-sensitive"
        explode: true
        in: query
        name: state
        required: false
        schema:
          default: TX
          type: string
        style: form
      - description: "The 5-digit zip code, used to search for listings in a specific\
          \ zip code"
        explode: true
        in: query
        name: zipCode
        required: false
        schema:
          type: string
        style: form
      - description: The latitude of the search area. Use the `latitude`/`longitude`
          and `radius` parameters to search for listings in a specific area
        explode: true
        in: query
        name: latitude
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: The longitude of the search area. Use the `latitude`/`longitude`
          and `radius` parameters to search for listings in a specific area
        explode: true
        in: query
        name: longitude
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: "The radius of the search area in miles, with a maximum of 100.\
          \ Use in combination with the `latitude`/`longitude` or `address` parameters\
          \ to search for listings in a specific area"
        explode: true
        in: query
        name: radius
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: "The type of the property, used to search for listings matching\
          \ this criteria. See [explanation of property types](https://developers.rentcast.io/reference/property-types)"
        explode: true
        in: query
        name: propertyType
        required: false
        schema:
          enum:
          - Single Family
          - Condo
          - Townhouse
          - Manufactured
          - Multi-Family
          - Apartment
          type: string
        style: form
      - description: "The number of bedrooms, used to search for listings matching\
          \ this criteria. Use `0` to indicate a studio layout"
        explode: true
        in: query
        name: bedrooms
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: "The number of bathrooms, used to search for listings matching\
          \ this criteria. Supports fractions to indicate partial bathrooms"
        explode: true
        in: query
        name: bathrooms
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: "The current listing status, used to search for listings matching\
          \ this criteria"
        explode: true
        in: query
        name: status
        required: false
        schema:
          default: Active
          enum:
          - Active
          - Inactive
          type: string
        style: form
      - description: "The maximum number of days since a property was listed on the\
          \ market, with a minimum of 1"
        explode: true
        in: query
        name: daysOld
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: "The maximum number of listings to return, between 1 and 500.\
          \ Defaults to 50 if not provided. [Learn more](https://developers.rentcast.io/reference/pagination)\
          \ about pagination"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 5
          format: int32
          type: integer
        style: form
      - description: "The index of the first listing to return, used to paginate through\
          \ large lists of results. Defaults to 0 if not provided. [Learn more](https://developers.rentcast.io/reference/pagination)\
          \ about pagination"
        explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Response:
                  value: "[{\"id\":\"10015-Lake-Creek-Pkwy,-Austin,-TX-78729\",\"\
                    formattedAddress\":\"10015 Lake Creek Pkwy, Austin, TX 78729\"\
                    ,\"addressLine1\":\"10015 Lake Creek Pkwy\",\"city\":\"Austin\"\
                    ,\"state\":\"TX\",\"zipCode\":\"78729\",\"county\":\"Williamson\"\
                    ,\"longitude\":-97.786581,\"latitude\":30.466927,\"propertyType\"\
                    :\"Apartment\",\"bedrooms\":1,\"bathrooms\":1,\"squareFootage\"\
                    :901,\"yearBuilt\":2001,\"status\":\"Active\",\"price\":1885,\"\
                    listedDate\":\"2023-01-13T00:00:00.000Z\",\"removedDate\":null,\"\
                    createdDate\":\"2019-11-07T15:23:43.984Z\",\"lastSeenDate\":\"\
                    2023-02-25T00:00:00.000Z\",\"daysOnMarket\":43},{\"id\":\"1000-W-26th-St,-Apt-216,-Austin,-TX-78705\"\
                    ,\"formattedAddress\":\"1000 W 26th St, Apt 216, Austin, TX 78705\"\
                    ,\"addressLine1\":\"1000 W 26th St\",\"addressLine2\":\"Apt 216\"\
                    ,\"city\":\"Austin\",\"state\":\"TX\",\"zipCode\":\"78705\",\"\
                    county\":\"Travis\",\"longitude\":-97.747833,\"latitude\":30.291138,\"\
                    propertyType\":\"Condo\",\"bedrooms\":1,\"bathrooms\":1,\"squareFootage\"\
                    :445,\"lotSize\":653,\"yearBuilt\":1973,\"status\":\"Active\"\
                    ,\"price\":1275,\"listedDate\":\"2022-11-21T00:00:00.000Z\",\"\
                    removedDate\":null,\"createdDate\":\"2019-11-07T15:13:54.790Z\"\
                    ,\"lastSeenDate\":\"2023-02-25T00:00:00.000Z\",\"daysOnMarket\"\
                    :96},{\"id\":\"10000-N-Lamar-Blvd,-Austin,-TX-78753\",\"formattedAddress\"\
                    :\"10000 N Lamar Blvd, Austin, TX 78753\",\"addressLine1\":\"\
                    10000 N Lamar Blvd\",\"city\":\"Austin\",\"state\":\"TX\",\"zipCode\"\
                    :\"78753\",\"county\":\"Travis\",\"longitude\":-97.695373,\"latitude\"\
                    :30.369334,\"propertyType\":\"Apartment\",\"bedrooms\":2,\"bathrooms\"\
                    :1,\"status\":\"Active\",\"price\":1294,\"listedDate\":\"2022-12-22T00:00:00.000Z\"\
                    ,\"removedDate\":null,\"createdDate\":\"2019-11-05T20:07:02.749Z\"\
                    ,\"lastSeenDate\":\"2023-02-25T00:00:00.000Z\",\"daysOnMarket\"\
                    :65},{\"id\":\"1001-Collinwood-West-Dr,-Austin,-TX-78753\",\"\
                    formattedAddress\":\"1001 Collinwood West Dr, Austin, TX 78753\"\
                    ,\"addressLine1\":\"1001 Collinwood West Dr\",\"city\":\"Austin\"\
                    ,\"state\":\"TX\",\"zipCode\":\"78753\",\"county\":\"Travis\"\
                    ,\"longitude\":-97.67469,\"latitude\":30.37071,\"propertyType\"\
                    :\"Apartment\",\"bedrooms\":2,\"bathrooms\":1,\"yearBuilt\":2001,\"\
                    status\":\"Active\",\"price\":925,\"listedDate\":\"2022-12-22T00:00:00.000Z\"\
                    ,\"removedDate\":null,\"createdDate\":\"2019-11-05T20:06:58.888Z\"\
                    ,\"lastSeenDate\":\"2023-02-25T00:00:00.000Z\",\"daysOnMarket\"\
                    :65},{\"id\":\"10011-Stonelake-Blvd,-Austin,-TX-78759\",\"formattedAddress\"\
                    :\"10011 Stonelake Blvd, Austin, TX 78759\",\"addressLine1\":\"\
                    10011 Stonelake Blvd\",\"city\":\"Austin\",\"state\":\"TX\",\"\
                    zipCode\":\"78759\",\"county\":\"Travis\",\"longitude\":-97.738149,\"\
                    latitude\":30.392466,\"propertyType\":\"Apartment\",\"bedrooms\"\
                    :1,\"bathrooms\":1,\"squareFootage\":924,\"yearBuilt\":2014,\"\
                    status\":\"Active\",\"price\":1581,\"listedDate\":\"2022-12-22T00:00:00.000Z\"\
                    ,\"removedDate\":null,\"createdDate\":\"2019-11-07T14:53:38.218Z\"\
                    ,\"lastSeenDate\":\"2023-02-25T00:00:00.000Z\",\"daysOnMarket\"\
                    :65}]"
              schema:
                items:
                  $ref: '#/components/schemas/rental_listings_long_term_200_response_inner'
                type: array
          description: "200"
      summary: Rental Listings
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /listings/rental/long-term/{id}:
    get:
      deprecated: false
      description: Returns a single rental listing matching the specified id.
      operationId: rental_listing_long_term_by_id
      parameters:
      - description: The id of the property listing to return
        explode: false
        in: path
        name: id
        required: true
        schema:
          default: "1702-Cherry-Orchard-Dr,-Austin,-TX-78745"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Response:
                  value: "{\"id\":\"1702-Cherry-Orchard-Dr,-Austin,-TX-78745\",\"\
                    formattedAddress\":\"1702 Cherry Orchard Dr, Austin, TX 78745\"\
                    ,\"addressLine1\":\"1702 Cherry Orchard Dr\",\"city\":\"Austin\"\
                    ,\"state\":\"TX\",\"zipCode\":\"78745\",\"county\":\"Travis\"\
                    ,\"longitude\":-97.802849,\"latitude\":30.201436,\"propertyType\"\
                    :\"Single Family\",\"bedrooms\":3,\"bathrooms\":1,\"squareFootage\"\
                    :910,\"lotSize\":8233,\"yearBuilt\":1972,\"status\":\"Active\"\
                    ,\"price\":2025,\"listedDate\":\"2022-10-18T00:00:00.000Z\",\"\
                    removedDate\":null,\"createdDate\":\"2022-10-18T00:00:00.000Z\"\
                    ,\"lastSeenDate\":\"2022-12-02T00:00:00.000Z\",\"daysOnMarket\"\
                    :45}\t"
              schema:
                $ref: '#/components/schemas/rental_listing_long_term_by_id_200_response'
          description: "200"
      summary: Rental Listing by Id
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /listings/sale:
    get:
      deprecated: false
      description: "Search for sale listings in a geographical area, or by a specific\
        \ address."
      operationId: sale_listings
      parameters:
      - description: "The full address of the property, in the format of `Street,\
          \ City, State, Zip`. Used to retrieve data for a specific property, or together\
          \ with the `radius` parameter to search for listings in a specific area"
        explode: true
        in: query
        name: address
        required: false
        schema:
          type: string
        style: form
      - description: "The name of the city, used to search for listings in a specific\
          \ city. This parameter is case-sensitive"
        explode: true
        in: query
        name: city
        required: false
        schema:
          default: Austin
          type: string
        style: form
      - description: "The 2-character state abbreviation, used to search for listings\
          \ in a specific state. This parameter is case-sensitive"
        explode: true
        in: query
        name: state
        required: false
        schema:
          default: TX
          type: string
        style: form
      - description: "The 5-digit zip code, used to search for listings in a specific\
          \ zip code"
        explode: true
        in: query
        name: zipCode
        required: false
        schema:
          type: string
        style: form
      - description: The latitude of the search area. Use the `latitude`/`longitude`
          and `radius` parameters to search for listings in a specific area
        explode: true
        in: query
        name: latitude
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: The longitude of the search area. Use the `latitude`/`longitude`
          and `radius` parameters to search for listings in a specific area
        explode: true
        in: query
        name: longitude
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: "The radius of the search area in miles, with a maximum of 100.\
          \ Use in combination with the `latitude`/`longitude` or `address` parameters\
          \ to search for listings in a specific area"
        explode: true
        in: query
        name: radius
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: "The type of the property, used to search for listings matching\
          \ this criteria. See [explanation of property types](https://developers.rentcast.io/reference/property-types)"
        explode: true
        in: query
        name: propertyType
        required: false
        schema:
          enum:
          - Single Family
          - Condo
          - Townhouse
          - Manufactured
          - Multi-Family
          - Apartment
          - Land
          type: string
        style: form
      - description: "The number of bedrooms, used to search for listings matching\
          \ this criteria. Use `0` to indicate a studio layout"
        explode: true
        in: query
        name: bedrooms
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: "The number of bathrooms, used to search for listings matching\
          \ this criteria. Supports fractions to indicate partial bathrooms"
        explode: true
        in: query
        name: bathrooms
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: "The current listing status, used to search for listings matching\
          \ this criteria"
        explode: true
        in: query
        name: status
        required: false
        schema:
          default: Active
          enum:
          - Active
          - Inactive
          type: string
        style: form
      - description: "The maximum number of days since a property was listed on the\
          \ market, with a minimum of 1"
        explode: true
        in: query
        name: daysOld
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: "The maximum number of listings to return, between 1 and 500.\
          \ Defaults to 50 if not provided. [Learn more](https://developers.rentcast.io/reference/pagination)\
          \ about pagination"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 5
          format: int32
          type: integer
        style: form
      - description: "The index of the first listing to return, used to paginate through\
          \ large lists of results. Defaults to 0 if not provided. [Learn more](https://developers.rentcast.io/reference/pagination)\
          \ about pagination"
        explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Response:
                  value: "[{\"id\":\"12166-Metric-Blvd,-Apt-212,-Austin,-TX-78758\"\
                    ,\"formattedAddress\":\"12166 Metric Blvd, Apt 212, Austin, TX\
                    \ 78758\",\"addressLine1\":\"12166 Metric Blvd\",\"addressLine2\"\
                    :\"Apt 212\",\"city\":\"Austin\",\"state\":\"TX\",\"zipCode\"\
                    :\"78758\",\"county\":\"Travis\",\"longitude\":-97.697869,\"latitude\"\
                    :30.406796,\"propertyType\":\"Condo\",\"bedrooms\":1,\"bathrooms\"\
                    :1,\"squareFootage\":516,\"lotSize\":1568,\"yearBuilt\":1986,\"\
                    status\":\"Active\",\"price\":205000,\"listedDate\":\"2023-01-13T00:00:00.000Z\"\
                    ,\"removedDate\":null,\"createdDate\":\"2020-09-15T05:26:05.426Z\"\
                    ,\"lastSeenDate\":\"2023-02-25T00:00:00.000Z\",\"daysOnMarket\"\
                    :43},{\"id\":\"2212-Big-Horn-Dr,-Austin,-TX-78734\",\"formattedAddress\"\
                    :\"2212 Big Horn Dr, Austin, TX 78734\",\"addressLine1\":\"2212\
                    \ Big Horn Dr\",\"city\":\"Austin\",\"state\":\"TX\",\"zipCode\"\
                    :\"78734\",\"county\":\"Travis\",\"longitude\":-97.916294,\"latitude\"\
                    :30.372577,\"propertyType\":\"Land\",\"lotSize\":10498,\"status\"\
                    :\"Active\",\"price\":265000,\"listedDate\":\"2022-05-19T00:00:00.000Z\"\
                    ,\"removedDate\":null,\"createdDate\":\"2020-09-15T04:00:54.343Z\"\
                    ,\"lastSeenDate\":\"2023-02-25T00:00:00.000Z\",\"daysOnMarket\"\
                    :282},{\"id\":\"364-Seneca-Dr,-Austin,-TX-78737\",\"formattedAddress\"\
                    :\"364 Seneca Dr, Austin, TX 78737\",\"addressLine1\":\"364 Seneca\
                    \ Dr\",\"city\":\"Austin\",\"state\":\"TX\",\"zipCode\":\"78737\"\
                    ,\"county\":\"Hays\",\"longitude\":-97.990657,\"latitude\":30.190639,\"\
                    propertyType\":\"Land\",\"lotSize\":14680,\"status\":\"Active\"\
                    ,\"price\":330000,\"listedDate\":\"2022-12-30T00:00:00.000Z\"\
                    ,\"removedDate\":null,\"createdDate\":\"2020-09-15T04:10:54.051Z\"\
                    ,\"lastSeenDate\":\"2023-02-25T00:00:00.000Z\",\"daysOnMarket\"\
                    :57},{\"id\":\"1410-E-Applegate-Dr,-Austin,-TX-78753\",\"formattedAddress\"\
                    :\"1410 E Applegate Dr, Austin, TX 78753\",\"addressLine1\":\"\
                    1410 E Applegate Dr\",\"city\":\"Austin\",\"state\":\"TX\",\"\
                    zipCode\":\"78753\",\"county\":\"Travis\",\"longitude\":-97.668667,\"\
                    latitude\":30.363393,\"propertyType\":\"Land\",\"lotSize\":141526,\"\
                    status\":\"Active\",\"price\":1100000,\"listedDate\":\"2023-01-31T00:00:00.000Z\"\
                    ,\"removedDate\":null,\"createdDate\":\"2020-09-15T05:26:05.430Z\"\
                    ,\"lastSeenDate\":\"2023-02-25T00:00:00.000Z\",\"daysOnMarket\"\
                    :25},{\"id\":\"8417-Lakewood-Ridge-Cv,-Austin,-TX-78738\",\"formattedAddress\"\
                    :\"8417 Lakewood Ridge Cv, Austin, TX 78738\",\"addressLine1\"\
                    :\"8417 Lakewood Ridge Cv\",\"city\":\"Austin\",\"state\":\"TX\"\
                    ,\"zipCode\":\"78738\",\"county\":\"Travis\",\"longitude\":-98.03995,\"\
                    latitude\":30.295995,\"propertyType\":\"Land\",\"lotSize\":45128,\"\
                    status\":\"Active\",\"price\":799000,\"listedDate\":\"2022-06-16T00:00:00.000Z\"\
                    ,\"removedDate\":null,\"createdDate\":\"2020-09-15T18:20:57.279Z\"\
                    ,\"lastSeenDate\":\"2023-02-25T00:00:00.000Z\",\"daysOnMarket\"\
                    :254}]"
              schema:
                items:
                  $ref: '#/components/schemas/sale_listings_200_response_inner'
                type: array
          description: "200"
      summary: Sale Listings
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /listings/sale/{id}:
    get:
      deprecated: false
      description: Returns a single sale listing matching the specified id.
      operationId: sale_listing_by_id
      parameters:
      - description: The id of the property listing to return
        explode: false
        in: path
        name: id
        required: true
        schema:
          default: "1702-Cherry-Orchard-Dr,-Austin,-TX-78745"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Response:
                  value: "{\"id\":\"1702-Cherry-Orchard-Dr,-Austin,-TX-78745\",\"\
                    formattedAddress\":\"1702 Cherry Orchard Dr, Austin, TX 78745\"\
                    ,\"addressLine1\":\"1702 Cherry Orchard Dr\",\"city\":\"Austin\"\
                    ,\"state\":\"TX\",\"zipCode\":\"78745\",\"county\":\"Travis\"\
                    ,\"longitude\":-97.802849,\"latitude\":30.201436,\"propertyType\"\
                    :\"Single Family\",\"bedrooms\":3,\"bathrooms\":1,\"squareFootage\"\
                    :910,\"lotSize\":8233,\"yearBuilt\":1972,\"status\":\"Active\"\
                    ,\"price\":385000,\"listedDate\":\"2023-02-02T00:00:00.000Z\"\
                    ,\"removedDate\":null,\"createdDate\":\"2020-09-20T00:00:00.000Z\"\
                    ,\"lastSeenDate\":\"2023-02-25T00:00:00.000Z\",\"daysOnMarket\"\
                    :23}\t"
              schema:
                $ref: '#/components/schemas/sale_listing_by_id_200_response'
          description: "200"
      summary: Sale Listing by Id
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /markets:
    get:
      deprecated: false
      description: Returns aggregate rental statistics and listing trends for a single
        US zip code.
      operationId: market_statistics
      parameters:
      - description: A valid 5-digit US zip code
        explode: true
        in: query
        name: zipCode
        required: true
        schema:
          default: "29611"
          type: string
        style: form
      - description: "The time range for historical record entries, in months. Defaults\
          \ to 12 if not provided"
        explode: true
        in: query
        name: historyRange
        required: false
        schema:
          default: 6
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Response:
                  value: "{\"id\":\"29611\",\"zipCode\":\"29611\",\"rentalData\":{\"\
                    averageRent\":1389,\"minRent\":750,\"maxRent\":2750,\"totalListings\"\
                    :87,\"dataByBedrooms\":[{\"bedrooms\":1,\"averageRent\":1130,\"\
                    minRent\":875,\"maxRent\":1610,\"totalListings\":6},{\"bedrooms\"\
                    :2,\"averageRent\":1286,\"minRent\":875,\"maxRent\":2750,\"totalListings\"\
                    :34},{\"bedrooms\":3,\"averageRent\":1470,\"minRent\":750,\"maxRent\"\
                    :2550,\"totalListings\":42},{\"bedrooms\":4,\"averageRent\":1719,\"\
                    minRent\":1150,\"maxRent\":1995,\"totalListings\":5}],\"history\"\
                    :{\"2023-05\":{\"averageRent\":1392,\"minRent\":575,\"maxRent\"\
                    :2900,\"totalListings\":106,\"dataByBedrooms\":[{\"bedrooms\"\
                    :1,\"averageRent\":942,\"minRent\":575,\"maxRent\":1610,\"totalListings\"\
                    :12},{\"bedrooms\":2,\"averageRent\":1325,\"minRent\":795,\"maxRent\"\
                    :2700,\"totalListings\":52},{\"bedrooms\":3,\"averageRent\":1568,\"\
                    minRent\":871,\"maxRent\":2900,\"totalListings\":36},{\"bedrooms\"\
                    :4,\"averageRent\":1814,\"minRent\":1595,\"maxRent\":1995,\"totalListings\"\
                    :6}]},\"2023-06\":{\"averageRent\":1394,\"minRent\":575,\"maxRent\"\
                    :2700,\"totalListings\":108,\"dataByBedrooms\":[{\"bedrooms\"\
                    :1,\"averageRent\":938,\"minRent\":575,\"maxRent\":1610,\"totalListings\"\
                    :10},{\"bedrooms\":2,\"averageRent\":1316,\"minRent\":795,\"maxRent\"\
                    :2700,\"totalListings\":52},{\"bedrooms\":3,\"averageRent\":1552,\"\
                    minRent\":950,\"maxRent\":2400,\"totalListings\":40},{\"bedrooms\"\
                    :4,\"averageRent\":1781,\"minRent\":1595,\"maxRent\":1995,\"totalListings\"\
                    :6}]},\"2023-07\":{\"averageRent\":1392,\"minRent\":650,\"maxRent\"\
                    :2700,\"totalListings\":102,\"dataByBedrooms\":[{\"bedrooms\"\
                    :1,\"averageRent\":987,\"minRent\":650,\"maxRent\":1610,\"totalListings\"\
                    :8},{\"bedrooms\":2,\"averageRent\":1300,\"minRent\":795,\"maxRent\"\
                    :2700,\"totalListings\":45},{\"bedrooms\":3,\"averageRent\":1514,\"\
                    minRent\":950,\"maxRent\":2400,\"totalListings\":44},{\"bedrooms\"\
                    :4,\"averageRent\":1797,\"minRent\":1595,\"maxRent\":1995,\"totalListings\"\
                    :5}]},\"2023-08\":{\"averageRent\":1389,\"minRent\":750,\"maxRent\"\
                    :2950,\"totalListings\":93,\"dataByBedrooms\":[{\"bedrooms\":1,\"\
                    averageRent\":1122,\"minRent\":875,\"maxRent\":1610,\"totalListings\"\
                    :7},{\"bedrooms\":2,\"averageRent\":1274,\"minRent\":795,\"maxRent\"\
                    :2700,\"totalListings\":42},{\"bedrooms\":3,\"averageRent\":1526,\"\
                    minRent\":750,\"maxRent\":2950,\"totalListings\":39},{\"bedrooms\"\
                    :4,\"averageRent\":1657,\"minRent\":1095,\"maxRent\":1995,\"totalListings\"\
                    :5}]},\"2023-09\":{\"averageRent\":1385,\"minRent\":750,\"maxRent\"\
                    :2750,\"totalListings\":88,\"dataByBedrooms\":[{\"bedrooms\":1,\"\
                    averageRent\":1130,\"minRent\":875,\"maxRent\":1610,\"totalListings\"\
                    :6},{\"bedrooms\":2,\"averageRent\":1282,\"minRent\":795,\"maxRent\"\
                    :2750,\"totalListings\":35},{\"bedrooms\":3,\"averageRent\":1476,\"\
                    minRent\":750,\"maxRent\":2550,\"totalListings\":43},{\"bedrooms\"\
                    :4,\"averageRent\":1686,\"minRent\":1150,\"maxRent\":1995,\"totalListings\"\
                    :4}]},\"2023-10\":{\"averageRent\":1389,\"minRent\":750,\"maxRent\"\
                    :2750,\"totalListings\":87,\"dataByBedrooms\":[{\"bedrooms\":1,\"\
                    averageRent\":1130,\"minRent\":875,\"maxRent\":1610,\"totalListings\"\
                    :6},{\"bedrooms\":2,\"averageRent\":1286,\"minRent\":875,\"maxRent\"\
                    :2750,\"totalListings\":34},{\"bedrooms\":3,\"averageRent\":1470,\"\
                    minRent\":750,\"maxRent\":2550,\"totalListings\":42},{\"bedrooms\"\
                    :4,\"averageRent\":1719,\"minRent\":1150,\"maxRent\":1995,\"totalListings\"\
                    :5}]}}}}"
              schema:
                $ref: '#/components/schemas/market_statistics_200_response'
          description: "200"
      summary: Market Statistics
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /properties:
    get:
      deprecated: false
      description: "Search for property records in a geographical area, or by a specific\
        \ address."
      operationId: property_records
      parameters:
      - description: "The full address of the property, in the format of `Street,\
          \ City, State, Zip`. Used to retrieve data for a specific property, or together\
          \ with the `radius` parameter to search for properties in a specific area"
        explode: true
        in: query
        name: address
        required: false
        schema:
          default: "5500 Grand Lake Dr, San Antonio, TX, 78244"
          type: string
        style: form
      - description: "The name of the city, used to search for properties in a specific\
          \ city. This parameter is case-sensitive"
        explode: true
        in: query
        name: city
        required: false
        schema:
          type: string
        style: form
      - description: "The 2-character state abbreviation, used to search for properties\
          \ in a specific state. This parameter is case-sensitive"
        explode: true
        in: query
        name: state
        required: false
        schema:
          type: string
        style: form
      - description: "The 5-digit zip code, used to search for properties in a specific\
          \ zip code"
        explode: true
        in: query
        name: zipCode
        required: false
        schema:
          type: string
        style: form
      - description: The latitude of the search area. Use the `latitude`/`longitude`
          and `radius` parameters to search for properties in a specific area
        explode: true
        in: query
        name: latitude
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: The longitude of the search area. Use the `latitude`/`longitude`
          and `radius` parameters to search for properties in a specific area
        explode: true
        in: query
        name: longitude
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: "The radius of the search area in miles, with a maximum of 100.\
          \ Use in combination with the `latitude`/`longitude` or `address` parameters\
          \ to search for properties in a specific area"
        explode: true
        in: query
        name: radius
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: "The type of the property, used to search for properties matching\
          \ this criteria. See [explanation of property types](https://developers.rentcast.io/reference/property-types)"
        explode: true
        in: query
        name: propertyType
        required: false
        schema:
          enum:
          - Single Family
          - Condo
          - Townhouse
          - Manufactured
          - Multi-Family
          - Apartment
          - Land
          type: string
        style: form
      - description: "The number of bedrooms, used to search for properties matching\
          \ this criteria. Use `0` to indicate a studio layout"
        explode: true
        in: query
        name: bedrooms
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: "The number of bathrooms, used to search for properties matching\
          \ this criteria. Supports fractions to indicate partial bathrooms"
        explode: true
        in: query
        name: bathrooms
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: "The maximum number of property records to return, between 1\
          \ and 500. Defaults to 50 if not provided. [Learn more](https://developers.rentcast.io/reference/pagination)\
          \ about pagination"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: "The index of the first property record to return, used to paginate\
          \ through large lists of results. Defaults to 0 if not provided. [Learn\
          \ more](https://developers.rentcast.io/reference/pagination) about pagination"
        explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Response:
                  value: "[{\"id\":\"5500-Grand-Lake-Dr,-San-Antonio,-TX-78244\",\"\
                    formattedAddress\":\"5500 Grand Lake Dr, San Antonio, TX 78244\"\
                    ,\"addressLine1\":\"5500 Grand Lake Dr\",\"city\":\"San Antonio\"\
                    ,\"state\":\"TX\",\"zipCode\":\"78244\",\"county\":\"Bexar\",\"\
                    longitude\":-98.351451,\"latitude\":29.475953,\"propertyType\"\
                    :\"Single Family\",\"bedrooms\":3,\"bathrooms\":2,\"squareFootage\"\
                    :1878,\"lotSize\":8843,\"yearBuilt\":1973,\"assessorID\":\"05076-103-0500\"\
                    ,\"legalDescription\":\"CB 5076A BLK 3 LOT 50\",\"subdivision\"\
                    :\"CONV A/S CODE\",\"zoning\":\"RH\",\"lastSaleDate\":\"2017-10-19T00:00:00.000Z\"\
                    ,\"lastSalePrice\":185000,\"features\":{\"architectureType\":\"\
                    Contemporary\",\"cooling\":true,\"coolingType\":\"Central\",\"\
                    exteriorType\":\"Wood\",\"floorCount\":1,\"foundationType\":\"\
                    Slab / Mat / Raft\",\"garage\":true,\"garageType\":\"Garage\"\
                    ,\"heating\":true,\"heatingType\":\"Forced Air\",\"pool\":true,\"\
                    roofType\":\"Asphalt\",\"roomCount\":5,\"unitCount\":1},\"taxAssessments\"\
                    :{\"2019\":{\"value\":135430,\"land\":23450,\"improvements\":111980},\"\
                    2020\":{\"value\":142610,\"land\":23450,\"improvements\":119160},\"\
                    2021\":{\"value\":163440,\"land\":45050,\"improvements\":118390},\"\
                    2022\":{\"value\":197600,\"land\":49560,\"improvements\":148040}},\"\
                    propertyTaxes\":{\"2019\":{\"total\":2984},\"2020\":{\"total\"\
                    :3023},\"2021\":{\"total\":3455},\"2022\":{\"total\":4091}},\"\
                    owner\":{\"names\":[\"MICHAEL SMITH\"],\"mailingAddress\":{\"\
                    addressLine1\":\"149 Weaver Blvd\",\"addressLine2\":\"# 264\"\
                    ,\"city\":\"Weaverville\",\"id\":\"149-Weaver-Blvd,---264,-Weaverville,-NC-28787\"\
                    ,\"state\":\"NC\",\"zipCode\":\"28787\"}},\"ownerOccupied\":false}]"
              schema:
                items:
                  $ref: '#/components/schemas/property_records_200_response_inner'
                type: array
          description: "200"
      summary: Property Records
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /properties/random:
    get:
      deprecated: false
      description: Returns a list of property records selected at random.
      operationId: property_records_random
      parameters:
      - description: "The number of records to return, between 1 and 500. Defaults\
          \ to 50 if not provided"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 5
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Response:
                  value: "[{\"id\":\"602-University-Dr,-Waldorf,-MD-20602\",\"formattedAddress\"\
                    :\"602 University Dr, Waldorf, MD 20602\",\"addressLine1\":\"\
                    602 University Dr\",\"city\":\"Waldorf\",\"state\":\"MD\",\"zipCode\"\
                    :\"20602\",\"county\":\"Charles\",\"longitude\":-76.916982,\"\
                    latitude\":38.589637,\"propertyType\":\"Single Family\",\"bedrooms\"\
                    :3,\"bathrooms\":1.5,\"squareFootage\":1500,\"lotSize\":11221,\"\
                    yearBuilt\":1977,\"assessorID\":\"06-078761\",\"legalDescription\"\
                    :\"L-36 B-66 S-IV-B CARRINGTON NEIGHBORHOOD ST CHARLES SUB\",\"\
                    subdivision\":\"CHARLES SUB\",\"zoning\":\"RH\",\"lastSaleDate\"\
                    :\"2006-12-11T00:00:00.000Z\",\"lastSalePrice\":298000,\"features\"\
                    :{\"architectureType\":\"Split Level\",\"cooling\":true,\"coolingType\"\
                    :\"Commercial\",\"exteriorType\":\"Aluminum / Vinyl Siding\",\"\
                    fireplace\":true,\"fireplaceType\":\"2 Story Brick Chimney\",\"\
                    floorCount\":2,\"garage\":true,\"garageType\":\"Garage\",\"heating\"\
                    :true,\"heatingType\":\"Forced Air\",\"roofType\":\"Composition\
                    \ Shingle\",\"unitCount\":1},\"taxAssessments\":{\"2022\":{\"\
                    value\":224100}},\"propertyTaxes\":{\"2022\":{\"total\":2808}},\"\
                    owner\":{\"names\":[\"PRISCILLA D HARLEY\"],\"mailingAddress\"\
                    :{\"id\":\"602-University-Dr,-Waldorf,-MD-20602\",\"addressLine1\"\
                    :\"602 University Dr\",\"city\":\"Waldorf\",\"state\":\"MD\",\"\
                    zipCode\":\"20602\"}},\"ownerOccupied\":true},{\"id\":\"10228-Enniscrone-Rd,-Pineville,-NC-28134\"\
                    ,\"formattedAddress\":\"10228 Enniscrone Rd, Pineville, NC 28134\"\
                    ,\"addressLine1\":\"10228 Enniscrone Rd\",\"city\":\"Pineville\"\
                    ,\"state\":\"NC\",\"zipCode\":\"28134\",\"county\":\"Mecklenburg\"\
                    ,\"longitude\":-80.884813,\"latitude\":35.072198,\"propertyType\"\
                    :\"Single Family\",\"bedrooms\":3,\"bathrooms\":3,\"squareFootage\"\
                    :2422,\"lotSize\":4356,\"yearBuilt\":2011,\"assessorID\":\"221-112-10\"\
                    ,\"legalDescription\":\"L71 M52-366\",\"subdivision\":\"PARKWAY\
                    \ XING MAP 03\",\"zoning\":\"BPCD\",\"lastSaleDate\":\"2014-11-03T00:00:00.000Z\"\
                    ,\"lastSalePrice\":194000,\"features\":{\"cooling\":true,\"coolingType\"\
                    :\"Central\",\"exteriorType\":\"Aluminum / Vinyl Siding\",\"fireplace\"\
                    :true,\"fireplaceType\":\"Prefab\",\"floorCount\":2,\"foundationType\"\
                    :\"Slab\",\"garage\":true,\"garageType\":\"Garage\",\"heating\"\
                    :true,\"heatingType\":\"Steam\"},\"taxAssessments\":{\"2020\"\
                    :{\"value\":274700,\"land\":65000,\"improvements\":209700}},\"\
                    propertyTaxes\":{\"2020\":{\"total\":2601}},\"owner\":{\"names\"\
                    :[\"ROBERT BROTHERTON\"],\"mailingAddress\":{\"id\":\"10228-Enniscrone-Rd,-Pineville,-NC-28134\"\
                    ,\"addressLine1\":\"10228 Enniscrone Rd\",\"city\":\"Pineville\"\
                    ,\"state\":\"NC\",\"zipCode\":\"28134\"}},\"ownerOccupied\":true},{\"\
                    id\":\"13-Stacy-Ln,-Gerrardstown,-WV-25420\",\"formattedAddress\"\
                    :\"13 Stacy Ln, Gerrardstown, WV 25420\",\"addressLine1\":\"13\
                    \ Stacy Ln\",\"city\":\"Gerrardstown\",\"state\":\"WV\",\"zipCode\"\
                    :\"25420\",\"county\":\"Berkeley\",\"longitude\":-78.112123,\"\
                    latitude\":39.361939,\"propertyType\":\"Land\",\"lotSize\":25265,\"\
                    assessorID\":\"02-03- 35J-0001.0005\",\"legalDescription\":\"\
                    .5838 AC LOT E S/OF GERRARDSTOWN\",\"features\":{},\"taxAssessments\"\
                    :{\"2022\":{\"value\":21900,\"land\":21900}},\"propertyTaxes\"\
                    :{\"2022\":{\"total\":510}},\"owner\":{\"names\":[\"STACEY SILVER\
                    \ MILLER\"],\"mailingAddress\":{\"id\":\"412-Ronald-Ln,-Gerrardstown,-WV-25420\"\
                    ,\"addressLine1\":\"412 Ronald Ln\",\"city\":\"Gerrardstown\"\
                    ,\"state\":\"WV\",\"zipCode\":\"25420\"}}},{\"id\":\"3618-Warrensburg-Rd,-Delaware,-OH-43015\"\
                    ,\"formattedAddress\":\"3618 Warrensburg Rd, Delaware, OH 43015\"\
                    ,\"addressLine1\":\"3618 Warrensburg Rd\",\"city\":\"Delaware\"\
                    ,\"state\":\"OH\",\"zipCode\":\"43015\",\"county\":\"Delaware\"\
                    ,\"longitude\":-83.136307,\"latitude\":40.312936,\"propertyType\"\
                    :\"Single Family\",\"bedrooms\":4,\"bathrooms\":3,\"squareFootage\"\
                    :2464,\"lotSize\":217844,\"yearBuilt\":1991,\"assessorID\":\"\
                    520-410-01-079-000\",\"legalDescription\":\"LANDS 20 5 4 15\"\
                    ,\"subdivision\":\"RADNOR\",\"lastSaleDate\":\"1996-12-09T00:00:00.000Z\"\
                    ,\"lastSalePrice\":220750,\"features\":{\"architectureType\":\"\
                    Conventional\",\"cooling\":true,\"coolingType\":\"Central\",\"\
                    exteriorType\":\"Combination\",\"fireplace\":true,\"floorCount\"\
                    :2,\"garage\":true,\"garageSpaces\":3,\"garageType\":\"Garage\"\
                    ,\"heating\":true,\"heatingType\":\"Baseboard\",\"roomCount\"\
                    :7,\"unitCount\":1},\"taxAssessments\":{\"2019\":{\"value\":105560,\"\
                    land\":22610,\"improvements\":82950}},\"propertyTaxes\":{\"2019\"\
                    :{\"total\":4465}},\"owner\":{\"names\":[\"D MATTHEW & NATALIE\
                    \ A KOEHLER\"],\"mailingAddress\":{\"id\":\"3618-Warrensburg-Rd,-Delaware,-OH-43015\"\
                    ,\"addressLine1\":\"3618 Warrensburg Rd\",\"city\":\"Delaware\"\
                    ,\"state\":\"OH\",\"zipCode\":\"43015\"}},\"ownerOccupied\":true},{\"\
                    id\":\"1314-S-Jackson-St,-Jacksonville,-TX-75766\",\"formattedAddress\"\
                    :\"1314 S Jackson St, Jacksonville, TX 75766\",\"addressLine1\"\
                    :\"1314 S Jackson St\",\"city\":\"Jacksonville\",\"state\":\"\
                    TX\",\"zipCode\":\"75766\",\"county\":\"Cherokee\",\"longitude\"\
                    :-95.263369,\"latitude\":31.952003,\"features\":{}}]"
              schema:
                items:
                  $ref: '#/components/schemas/property_records_random_200_response_inner'
                type: array
          description: "200"
      summary: Random Property Records
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /properties/{id}:
    get:
      deprecated: false
      description: Returns a single property record matching the specified id.
      operationId: property_record_by_id
      parameters:
      - description: The id of the property record to return
        explode: false
        in: path
        name: id
        required: true
        schema:
          default: "5500-Grand-Lake-Dr,-San-Antonio,-TX-78244"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Response:
                  value: "{\"id\":\"5500-Grand-Lake-Dr,-San-Antonio,-TX-78244\",\"\
                    formattedAddress\":\"5500 Grand Lake Dr, San Antonio, TX 78244\"\
                    ,\"addressLine1\":\"5500 Grand Lake Dr\",\"city\":\"San Antonio\"\
                    ,\"state\":\"TX\",\"zipCode\":\"78244\",\"county\":\"Bexar\",\"\
                    longitude\":-98.351451,\"latitude\":29.475953,\"propertyType\"\
                    :\"Single Family\",\"bedrooms\":3,\"bathrooms\":2,\"squareFootage\"\
                    :1878,\"lotSize\":8843,\"yearBuilt\":1973,\"assessorID\":\"05076-103-0500\"\
                    ,\"legalDescription\":\"CB 5076A BLK 3 LOT 50\",\"subdivision\"\
                    :\"CONV A/S CODE\",\"zoning\":\"RH\",\"lastSaleDate\":\"2017-10-19T00:00:00.000Z\"\
                    ,\"lastSalePrice\":185000,\"features\":{\"architectureType\":\"\
                    Contemporary\",\"cooling\":true,\"coolingType\":\"Central\",\"\
                    exteriorType\":\"Wood\",\"floorCount\":1,\"foundationType\":\"\
                    Slab / Mat / Raft\",\"garage\":true,\"garageType\":\"Garage\"\
                    ,\"heating\":true,\"heatingType\":\"Forced Air\",\"pool\":true,\"\
                    roofType\":\"Asphalt\",\"roomCount\":5,\"unitCount\":1},\"taxAssessments\"\
                    :{\"2019\":{\"value\":135430,\"land\":23450,\"improvements\":111980},\"\
                    2020\":{\"value\":142610,\"land\":23450,\"improvements\":119160},\"\
                    2021\":{\"value\":163440,\"land\":45050,\"improvements\":118390},\"\
                    2022\":{\"value\":197600,\"land\":49560,\"improvements\":148040}},\"\
                    propertyTaxes\":{\"2019\":{\"total\":2984},\"2020\":{\"total\"\
                    :3023},\"2021\":{\"total\":3455},\"2022\":{\"total\":4091}},\"\
                    owner\":{\"names\":[\"MICHAEL SMITH\"],\"mailingAddress\":{\"\
                    addressLine1\":\"149 Weaver Blvd\",\"addressLine2\":\"# 264\"\
                    ,\"city\":\"Weaverville\",\"id\":\"149-Weaver-Blvd,---264,-Weaverville,-NC-28787\"\
                    ,\"state\":\"NC\",\"zipCode\":\"28787\"}},\"ownerOccupied\":false}"
              schema:
                $ref: '#/components/schemas/property_records_200_response_inner'
          description: "200"
      summary: Property Record by Id
      x-openapi-router-controller: openapi_server.controllers.default_controller
components:
  schemas:
    property_records_random_200_response_inner_propertyTaxes:
      example:
        "2022":
          total: 2808
      properties:
        "2022":
          $ref: '#/components/schemas/property_records_random_200_response_inner_propertyTaxes_2022'
      title: property_records_random_200_response_inner_propertyTaxes
    rent_estimate_long_term_200_response:
      example:
        comparables:
        - zipCode: "78244"
          daysOld: 11
          distance: 0.5282
          city: San Antonio
          lastSeenDate: 2023-02-17T00:00:00.000Z
          latitude: 29.481005
          county: Bexar
          listedDate: 2023-01-22T00:00:00.000Z
          bathrooms: 2
          bedrooms: 4
          correlation: 0.988
          formattedAddress: "7410 Adaja Riv, San Antonio, TX 78244"
          squareFootage: 1627
          price: 1850
          propertyType: Single Family
          addressLine1: 7410 Adaja Riv
          id: "7410-Adaja-Riv,-San-Antonio,-TX-78244"
          state: TX
          longitude: -98.344856
        - zipCode: "78244"
          daysOld: 11
          distance: 0.5282
          city: San Antonio
          lastSeenDate: 2023-02-17T00:00:00.000Z
          latitude: 29.481005
          county: Bexar
          listedDate: 2023-01-22T00:00:00.000Z
          bathrooms: 2
          bedrooms: 4
          correlation: 0.988
          formattedAddress: "7410 Adaja Riv, San Antonio, TX 78244"
          squareFootage: 1627
          price: 1850
          propertyType: Single Family
          addressLine1: 7410 Adaja Riv
          id: "7410-Adaja-Riv,-San-Antonio,-TX-78244"
          state: TX
          longitude: -98.344856
        rentRangeLow: 1740
        latitude: 29.475962
        rent: 1800
        rentRangeHigh: 1860
        longitude: -98.351442
      properties:
        comparables:
          items:
            $ref: '#/components/schemas/rent_estimate_long_term_200_response_comparables_inner'
          title: comparables
          type: array
        latitude:
          default: 0
          example: 29.475962
          title: latitude
          type: number
        longitude:
          default: 0
          example: -98.351442
          title: longitude
          type: number
        rent:
          default: 0
          example: 1800
          title: rent
          type: integer
        rentRangeHigh:
          default: 0
          example: 1860
          title: rentRangeHigh
          type: integer
        rentRangeLow:
          default: 0
          example: 1740
          title: rentRangeLow
          type: integer
      title: rent_estimate_long_term_200_response
    property_records_random_200_response_inner:
      example:
        zipCode: "20602"
        city: Waldorf
        latitude: 38.589637
        ownerOccupied: true
        county: Charles
        yearBuilt: 1977
        legalDescription: L-36 B-66 S-IV-B CARRINGTON NEIGHBORHOOD ST CHARLES SUB
        features:
          heatingType: Forced Air
          architectureType: Split Level
          exteriorType: Aluminum / Vinyl Siding
          roofType: Composition Shingle
          floorCount: 2
          unitCount: 1
          garage: true
          fireplace: true
          garageType: Garage
          cooling: true
          coolingType: Commercial
          heating: true
          fireplaceType: 2 Story Brick Chimney
        subdivision: CHARLES SUB
        formattedAddress: "602 University Dr, Waldorf, MD 20602"
        squareFootage: 1500
        zoning: RH
        propertyType: Single Family
        addressLine1: 602 University Dr
        lastSaleDate: 2006-12-11T00:00:00.000Z
        id: "602-University-Dr,-Waldorf,-MD-20602"
        state: MD
        propertyTaxes:
          "2022":
            total: 2808
        longitude: -76.916982
        owner:
          names:
          - PRISCILLA D HARLEY
          - PRISCILLA D HARLEY
          mailingAddress:
            zipCode: "20602"
            city: Waldorf
            addressLine1: 602 University Dr
            id: "602-University-Dr,-Waldorf,-MD-20602"
            state: MD
        taxAssessments:
          "2022":
            value: 224100
        lotSize: 11221
        bathrooms: 1.5
        bedrooms: 3
        assessorID: 06-078761
        lastSalePrice: 298000
      properties:
        addressLine1:
          example: 602 University Dr
          title: addressLine1
          type: string
        assessorID:
          example: 06-078761
          title: assessorID
          type: string
        bathrooms:
          default: 0
          example: 1.5
          title: bathrooms
          type: number
        bedrooms:
          default: 0
          example: 3
          title: bedrooms
          type: integer
        city:
          example: Waldorf
          title: city
          type: string
        county:
          example: Charles
          title: county
          type: string
        features:
          $ref: '#/components/schemas/property_records_random_200_response_inner_features'
        formattedAddress:
          example: "602 University Dr, Waldorf, MD 20602"
          title: formattedAddress
          type: string
        id:
          example: "602-University-Dr,-Waldorf,-MD-20602"
          title: id
          type: string
        lastSaleDate:
          example: 2006-12-11T00:00:00.000Z
          title: lastSaleDate
          type: string
        lastSalePrice:
          default: 0
          example: 298000
          title: lastSalePrice
          type: integer
        latitude:
          default: 0
          example: 38.589637
          title: latitude
          type: number
        legalDescription:
          example: L-36 B-66 S-IV-B CARRINGTON NEIGHBORHOOD ST CHARLES SUB
          title: legalDescription
          type: string
        longitude:
          default: 0
          example: -76.916982
          title: longitude
          type: number
        lotSize:
          default: 0
          example: 11221
          title: lotSize
          type: integer
        owner:
          $ref: '#/components/schemas/property_records_random_200_response_inner_owner'
        ownerOccupied:
          default: true
          example: true
          title: cooling
          type: boolean
        propertyTaxes:
          $ref: '#/components/schemas/property_records_random_200_response_inner_propertyTaxes'
        propertyType:
          example: Single Family
          title: propertyType
          type: string
        squareFootage:
          default: 0
          example: 1500
          title: squareFootage
          type: integer
        state:
          example: MD
          title: state
          type: string
        subdivision:
          example: CHARLES SUB
          title: subdivision
          type: string
        taxAssessments:
          $ref: '#/components/schemas/property_records_random_200_response_inner_taxAssessments'
        yearBuilt:
          default: 0
          example: 1977
          title: yearBuilt
          type: integer
        zipCode:
          example: "20602"
          title: zipCode
          type: string
        zoning:
          example: RH
          title: zoning
          type: string
      title: property_records_random_200_response_inner
    property_records_random_200_response_inner_owner_mailingAddress:
      example:
        zipCode: "20602"
        city: Waldorf
        addressLine1: 602 University Dr
        id: "602-University-Dr,-Waldorf,-MD-20602"
        state: MD
      properties:
        addressLine1:
          example: 602 University Dr
          title: addressLine1
          type: string
        city:
          example: Waldorf
          title: city
          type: string
        id:
          example: "602-University-Dr,-Waldorf,-MD-20602"
          title: id
          type: string
        state:
          example: MD
          title: state
          type: string
        zipCode:
          example: "20602"
          title: zipCode
          type: string
      title: property_records_random_200_response_inner_owner_mailingAddress
    sale_listings_200_response_inner:
      example:
        zipCode: "78758"
        city: Austin
        lotSize: 1568
        lastSeenDate: 2023-02-25T00:00:00.000Z
        latitude: 30.406796
        county: Travis
        listedDate: 2023-01-13T00:00:00.000Z
        bathrooms: 1
        yearBuilt: 1986
        daysOnMarket: 43
        bedrooms: 1
        createdDate: 2020-09-15T05:26:05.426Z
        formattedAddress: "12166 Metric Blvd, Apt 212, Austin, TX 78758"
        squareFootage: 516
        price: 205000
        propertyType: Condo
        addressLine1: 12166 Metric Blvd
        addressLine2: Apt 212
        id: "12166-Metric-Blvd,-Apt-212,-Austin,-TX-78758"
        state: TX
        longitude: -97.697869
        removedDate: ""
        status: Active
      properties:
        addressLine1:
          example: 12166 Metric Blvd
          title: addressLine1
          type: string
        addressLine2:
          example: Apt 212
          title: addressLine2
          type: string
        bathrooms:
          default: 0
          example: 1
          title: unitCount
          type: integer
        bedrooms:
          default: 0
          example: 1
          title: unitCount
          type: integer
        city:
          example: Austin
          title: city
          type: string
        county:
          example: Travis
          title: county
          type: string
        createdDate:
          example: 2020-09-15T05:26:05.426Z
          title: createdDate
          type: string
        daysOnMarket:
          default: 0
          example: 43
          title: daysOnMarket
          type: integer
        formattedAddress:
          example: "12166 Metric Blvd, Apt 212, Austin, TX 78758"
          title: formattedAddress
          type: string
        id:
          example: "12166-Metric-Blvd,-Apt-212,-Austin,-TX-78758"
          title: id
          type: string
        lastSeenDate:
          example: 2023-02-25T00:00:00.000Z
          title: lastSeenDate
          type: string
        latitude:
          default: 0
          example: 30.406796
          title: latitude
          type: number
        listedDate:
          example: 2023-01-13T00:00:00.000Z
          title: listedDate
          type: string
        longitude:
          default: 0
          example: -97.697869
          title: longitude
          type: number
        lotSize:
          default: 0
          example: 1568
          title: lotSize
          type: integer
        price:
          default: 0
          example: 205000
          title: price
          type: integer
        propertyType:
          example: Condo
          title: propertyType
          type: string
        removedDate:
          title: removedDate
        squareFootage:
          default: 0
          example: 516
          title: squareFootage
          type: integer
        state:
          example: TX
          title: state
          type: string
        status:
          example: Active
          title: status
          type: string
        yearBuilt:
          default: 0
          example: 1986
          title: yearBuilt
          type: integer
        zipCode:
          example: "78758"
          title: zipCode
          type: string
      title: sale_listings_200_response_inner
    property_records_200_response_inner_propertyTaxes_2020:
      example:
        total: 3023
      properties:
        total:
          default: 0
          example: 3023
          title: total
          type: integer
      title: property_records_200_response_inner_propertyTaxes_2020
    property_records_200_response_inner_propertyTaxes_2021:
      example:
        total: 3455
      properties:
        total:
          default: 0
          example: 3455
          title: total
          type: integer
      title: property_records_200_response_inner_propertyTaxes_2021
    property_records_200_response_inner:
      example:
        zipCode: "78244"
        city: San Antonio
        latitude: 29.475953
        ownerOccupied: false
        county: Bexar
        yearBuilt: 1973
        legalDescription: CB 5076A BLK 3 LOT 50
        features:
          roomCount: 5
          heatingType: Forced Air
          architectureType: Contemporary
          exteriorType: Wood
          roofType: Asphalt
          floorCount: 1
          unitCount: 1
          garage: true
          pool: true
          foundationType: Slab / Mat / Raft
          garageType: Garage
          cooling: true
          coolingType: Central
          heating: true
        subdivision: CONV A/S CODE
        formattedAddress: "5500 Grand Lake Dr, San Antonio, TX 78244"
        squareFootage: 1878
        zoning: RH
        propertyType: Single Family
        addressLine1: 5500 Grand Lake Dr
        lastSaleDate: 2017-10-19T00:00:00.000Z
        id: "5500-Grand-Lake-Dr,-San-Antonio,-TX-78244"
        state: TX
        propertyTaxes:
          "2019":
            total: 2984
          "2022":
            total: 4091
          "2021":
            total: 3455
          "2020":
            total: 3023
        longitude: -98.351451
        owner:
          names:
          - MICHAEL SMITH
          - MICHAEL SMITH
          mailingAddress:
            zipCode: "28787"
            city: Weaverville
            addressLine1: 149 Weaver Blvd
            addressLine2: '# 264'
            id: "149-Weaver-Blvd,---264,-Weaverville,-NC-28787"
            state: NC
        taxAssessments:
          "2019":
            land: 23450
            value: 135430
            improvements: 111980
          "2022":
            land: 49560
            value: 197600
            improvements: 148040
          "2021":
            land: 45050
            value: 163440
            improvements: 118390
          "2020":
            land: 23450
            value: 142610
            improvements: 119160
        lotSize: 8843
        bathrooms: 2
        bedrooms: 3
        assessorID: 05076-103-0500
        lastSalePrice: 185000
      properties:
        addressLine1:
          example: 5500 Grand Lake Dr
          title: addressLine1
          type: string
        assessorID:
          example: 05076-103-0500
          title: assessorID
          type: string
        bathrooms:
          default: 0
          example: 2
          title: floorCount
          type: integer
        bedrooms:
          default: 0
          example: 3
          title: bedrooms
          type: integer
        city:
          example: San Antonio
          title: city
          type: string
        county:
          example: Bexar
          title: county
          type: string
        features:
          $ref: '#/components/schemas/property_records_200_response_inner_features'
        formattedAddress:
          example: "5500 Grand Lake Dr, San Antonio, TX 78244"
          title: formattedAddress
          type: string
        id:
          example: "5500-Grand-Lake-Dr,-San-Antonio,-TX-78244"
          title: id
          type: string
        lastSaleDate:
          example: 2017-10-19T00:00:00.000Z
          title: lastSaleDate
          type: string
        lastSalePrice:
          default: 0
          example: 185000
          title: lastSalePrice
          type: integer
        latitude:
          default: 0
          example: 29.475953
          title: latitude
          type: number
        legalDescription:
          example: CB 5076A BLK 3 LOT 50
          title: legalDescription
          type: string
        longitude:
          default: 0
          example: -98.351451
          title: longitude
          type: number
        lotSize:
          default: 0
          example: 8843
          title: lotSize
          type: integer
        owner:
          $ref: '#/components/schemas/property_records_200_response_inner_owner'
        ownerOccupied:
          default: true
          example: false
          title: ownerOccupied
          type: boolean
        propertyTaxes:
          $ref: '#/components/schemas/property_records_200_response_inner_propertyTaxes'
        propertyType:
          example: Single Family
          title: propertyType
          type: string
        squareFootage:
          default: 0
          example: 1878
          title: squareFootage
          type: integer
        state:
          example: TX
          title: state
          type: string
        subdivision:
          example: CONV A/S CODE
          title: subdivision
          type: string
        taxAssessments:
          $ref: '#/components/schemas/property_records_200_response_inner_taxAssessments'
        yearBuilt:
          default: 0
          example: 1973
          title: yearBuilt
          type: integer
        zipCode:
          example: "78244"
          title: zipCode
          type: string
        zoning:
          example: RH
          title: zoning
          type: string
      title: property_records_200_response_inner
    property_records_200_response_inner_propertyTaxes:
      example:
        "2019":
          total: 2984
        "2022":
          total: 4091
        "2021":
          total: 3455
        "2020":
          total: 3023
      properties:
        "2019":
          $ref: '#/components/schemas/property_records_200_response_inner_propertyTaxes_2019'
        "2020":
          $ref: '#/components/schemas/property_records_200_response_inner_propertyTaxes_2020'
        "2021":
          $ref: '#/components/schemas/property_records_200_response_inner_propertyTaxes_2021'
        "2022":
          $ref: '#/components/schemas/property_records_200_response_inner_propertyTaxes_2022'
      title: property_records_200_response_inner_propertyTaxes
    market_statistics_200_response_rentalData_dataByBedrooms_inner:
      example:
        bedrooms: 1
        totalListings: 6
        maxRent: 1610
        minRent: 875
        averageRent: 1130
      properties:
        averageRent:
          default: 0
          example: 1130
          title: averageRent
          type: integer
        bedrooms:
          default: 0
          example: 1
          title: unitCount
          type: integer
        maxRent:
          default: 0
          example: 1610
          title: maxRent
          type: integer
        minRent:
          default: 0
          example: 875
          title: minRent
          type: integer
        totalListings:
          default: 0
          example: 6
          title: totalListings
          type: integer
      title: market_statistics_200_response_rentalData_dataByBedrooms_inner
    market_statistics_200_response_rentalData_history:
      example:
        "2023-10":
          dataByBedrooms:
          - bedrooms: 1
            totalListings: 6
            maxRent: 1610
            minRent: 875
            averageRent: 1130
          - bedrooms: 1
            totalListings: 6
            maxRent: 1610
            minRent: 875
            averageRent: 1130
          totalListings: 87
          maxRent: 2750
          minRent: 750
          averageRent: 1389
        "2023-05":
          dataByBedrooms:
          - bedrooms: 1
            totalListings: 12
            maxRent: 1610
            minRent: 575
            averageRent: 942
          - bedrooms: 1
            totalListings: 12
            maxRent: 1610
            minRent: 575
            averageRent: 942
          totalListings: 106
          maxRent: 2900
          minRent: 575
          averageRent: 1392
        "2023-06":
          dataByBedrooms:
          - bedrooms: 1
            totalListings: 10
            maxRent: 1610
            minRent: 575
            averageRent: 938
          - bedrooms: 1
            totalListings: 10
            maxRent: 1610
            minRent: 575
            averageRent: 938
          totalListings: 108
          maxRent: 2700
          minRent: 575
          averageRent: 1394
        "2023-07":
          dataByBedrooms:
          - bedrooms: 1
            totalListings: 8
            maxRent: 1610
            minRent: 650
            averageRent: 987
          - bedrooms: 1
            totalListings: 8
            maxRent: 1610
            minRent: 650
            averageRent: 987
          totalListings: 102
          maxRent: 2700
          minRent: 650
          averageRent: 1392
        "2023-08":
          dataByBedrooms:
          - bedrooms: 1
            totalListings: 7
            maxRent: 1610
            minRent: 875
            averageRent: 1122
          - bedrooms: 1
            totalListings: 7
            maxRent: 1610
            minRent: 875
            averageRent: 1122
          totalListings: 93
          maxRent: 2950
          minRent: 750
          averageRent: 1389
        "2023-09":
          dataByBedrooms:
          - bedrooms: 1
            totalListings: 6
            maxRent: 1610
            minRent: 875
            averageRent: 1130
          - bedrooms: 1
            totalListings: 6
            maxRent: 1610
            minRent: 875
            averageRent: 1130
          totalListings: 88
          maxRent: 2750
          minRent: 750
          averageRent: 1385
      properties:
        "2023-05":
          $ref: '#/components/schemas/market_statistics_200_response_rentalData_history_2023_05'
        "2023-06":
          $ref: '#/components/schemas/market_statistics_200_response_rentalData_history_2023_06'
        "2023-07":
          $ref: '#/components/schemas/market_statistics_200_response_rentalData_history_2023_07'
        "2023-08":
          $ref: '#/components/schemas/market_statistics_200_response_rentalData_history_2023_08'
        "2023-09":
          $ref: '#/components/schemas/market_statistics_200_response_rentalData_history_2023_09'
        "2023-10":
          $ref: '#/components/schemas/market_statistics_200_response_rentalData_history_2023_10'
      title: market_statistics_200_response_rentalData_history
    property_records_200_response_inner_owner:
      example:
        names:
        - MICHAEL SMITH
        - MICHAEL SMITH
        mailingAddress:
          zipCode: "28787"
          city: Weaverville
          addressLine1: 149 Weaver Blvd
          addressLine2: '# 264'
          id: "149-Weaver-Blvd,---264,-Weaverville,-NC-28787"
          state: NC
      properties:
        mailingAddress:
          $ref: '#/components/schemas/property_records_200_response_inner_owner_mailingAddress'
        names:
          items:
            example: MICHAEL SMITH
            type: string
          title: names
          type: array
      title: property_records_200_response_inner_owner
    property_records_200_response_inner_propertyTaxes_2022:
      example:
        total: 4091
      properties:
        total:
          default: 0
          example: 4091
          title: total
          type: integer
      title: property_records_200_response_inner_propertyTaxes_2022
    property_records_200_response_inner_taxAssessments_2022:
      example:
        land: 49560
        value: 197600
        improvements: 148040
      properties:
        improvements:
          default: 0
          example: 148040
          title: improvements
          type: integer
        land:
          default: 0
          example: 49560
          title: land
          type: integer
        value:
          default: 0
          example: 197600
          title: value
          type: integer
      title: property_records_200_response_inner_taxAssessments_2022
    rent_estimate_long_term_200_response_comparables_inner:
      example:
        zipCode: "78244"
        daysOld: 11
        distance: 0.5282
        city: San Antonio
        lastSeenDate: 2023-02-17T00:00:00.000Z
        latitude: 29.481005
        county: Bexar
        listedDate: 2023-01-22T00:00:00.000Z
        bathrooms: 2
        bedrooms: 4
        correlation: 0.988
        formattedAddress: "7410 Adaja Riv, San Antonio, TX 78244"
        squareFootage: 1627
        price: 1850
        propertyType: Single Family
        addressLine1: 7410 Adaja Riv
        id: "7410-Adaja-Riv,-San-Antonio,-TX-78244"
        state: TX
        longitude: -98.344856
      properties:
        addressLine1:
          example: 7410 Adaja Riv
          title: addressLine1
          type: string
        bathrooms:
          default: 0
          example: 2
          title: bathrooms
          type: integer
        bedrooms:
          default: 0
          example: 4
          title: bedrooms
          type: integer
        city:
          example: San Antonio
          title: city
          type: string
        correlation:
          default: 0
          example: 0.988
          title: correlation
          type: number
        county:
          example: Bexar
          title: county
          type: string
        daysOld:
          default: 0
          example: 11
          title: daysOld
          type: integer
        distance:
          default: 0
          example: 0.5282
          title: distance
          type: number
        formattedAddress:
          example: "7410 Adaja Riv, San Antonio, TX 78244"
          title: formattedAddress
          type: string
        id:
          example: "7410-Adaja-Riv,-San-Antonio,-TX-78244"
          title: id
          type: string
        lastSeenDate:
          example: 2023-02-17T00:00:00.000Z
          title: lastSeenDate
          type: string
        latitude:
          default: 0
          example: 29.481005
          title: latitude
          type: number
        listedDate:
          example: 2023-01-22T00:00:00.000Z
          title: listedDate
          type: string
        longitude:
          default: 0
          example: -98.344856
          title: longitude
          type: number
        price:
          default: 0
          example: 1850
          title: price
          type: integer
        propertyType:
          example: Single Family
          title: propertyType
          type: string
        squareFootage:
          default: 0
          example: 1627
          title: squareFootage
          type: integer
        state:
          example: TX
          title: state
          type: string
        zipCode:
          example: "78244"
          title: zipCode
          type: string
      title: rent_estimate_long_term_200_response_comparables_inner
    market_statistics_200_response_rentalData_history_2023_06_dataByBedrooms_inner:
      example:
        bedrooms: 1
        totalListings: 10
        maxRent: 1610
        minRent: 575
        averageRent: 938
      properties:
        averageRent:
          default: 0
          example: 938
          title: averageRent
          type: integer
        bedrooms:
          default: 0
          example: 1
          title: unitCount
          type: integer
        maxRent:
          default: 0
          example: 1610
          title: maxRent
          type: integer
        minRent:
          default: 0
          example: 575
          title: minRent
          type: integer
        totalListings:
          default: 0
          example: 10
          title: totalListings
          type: integer
      title: market_statistics_200_response_rentalData_history_2023_06_dataByBedrooms_inner
    rental_listing_long_term_by_id_200_response:
      example:
        zipCode: "78745"
        city: Austin
        lotSize: 8233
        lastSeenDate: 2022-12-02T00:00:00.000Z
        latitude: 30.201436
        county: Travis
        listedDate: 2022-10-18T00:00:00.000Z
        bathrooms: 1
        yearBuilt: 1972
        daysOnMarket: 45
        bedrooms: 3
        createdDate: 2022-10-18T00:00:00.000Z
        formattedAddress: "1702 Cherry Orchard Dr, Austin, TX 78745"
        squareFootage: 910
        price: 2025
        propertyType: Single Family
        addressLine1: 1702 Cherry Orchard Dr
        id: "1702-Cherry-Orchard-Dr,-Austin,-TX-78745"
        state: TX
        longitude: -97.802849
        removedDate: ""
        status: Active
      properties:
        addressLine1:
          example: 1702 Cherry Orchard Dr
          title: addressLine1
          type: string
        bathrooms:
          default: 0
          example: 1
          title: unitCount
          type: integer
        bedrooms:
          default: 0
          example: 3
          title: bedrooms
          type: integer
        city:
          example: Austin
          title: city
          type: string
        county:
          example: Travis
          title: county
          type: string
        createdDate:
          example: 2022-10-18T00:00:00.000Z
          title: createdDate
          type: string
        daysOnMarket:
          default: 0
          example: 45
          title: daysOnMarket
          type: integer
        formattedAddress:
          example: "1702 Cherry Orchard Dr, Austin, TX 78745"
          title: formattedAddress
          type: string
        id:
          example: "1702-Cherry-Orchard-Dr,-Austin,-TX-78745"
          title: id
          type: string
        lastSeenDate:
          example: 2022-12-02T00:00:00.000Z
          title: lastSeenDate
          type: string
        latitude:
          default: 0
          example: 30.201436
          title: latitude
          type: number
        listedDate:
          example: 2022-10-18T00:00:00.000Z
          title: listedDate
          type: string
        longitude:
          default: 0
          example: -97.802849
          title: longitude
          type: number
        lotSize:
          default: 0
          example: 8233
          title: lotSize
          type: integer
        price:
          default: 0
          example: 2025
          title: price
          type: integer
        propertyType:
          example: Single Family
          title: propertyType
          type: string
        removedDate:
          title: removedDate
        squareFootage:
          default: 0
          example: 910
          title: squareFootage
          type: integer
        state:
          example: TX
          title: state
          type: string
        status:
          example: Active
          title: status
          type: string
        yearBuilt:
          default: 0
          example: 1972
          title: yearBuilt
          type: integer
        zipCode:
          example: "78745"
          title: zipCode
          type: string
      title: rental_listing_long_term_by_id_200_response
    property_records_200_response_inner_taxAssessments:
      example:
        "2019":
          land: 23450
          value: 135430
          improvements: 111980
        "2022":
          land: 49560
          value: 197600
          improvements: 148040
        "2021":
          land: 45050
          value: 163440
          improvements: 118390
        "2020":
          land: 23450
          value: 142610
          improvements: 119160
      properties:
        "2019":
          $ref: '#/components/schemas/property_records_200_response_inner_taxAssessments_2019'
        "2020":
          $ref: '#/components/schemas/property_records_200_response_inner_taxAssessments_2020'
        "2021":
          $ref: '#/components/schemas/property_records_200_response_inner_taxAssessments_2021'
        "2022":
          $ref: '#/components/schemas/property_records_200_response_inner_taxAssessments_2022'
      title: property_records_200_response_inner_taxAssessments
    property_records_200_response_inner_taxAssessments_2021:
      example:
        land: 45050
        value: 163440
        improvements: 118390
      properties:
        improvements:
          default: 0
          example: 118390
          title: improvements
          type: integer
        land:
          default: 0
          example: 45050
          title: land
          type: integer
        value:
          default: 0
          example: 163440
          title: value
          type: integer
      title: property_records_200_response_inner_taxAssessments_2021
    property_records_200_response_inner_taxAssessments_2020:
      example:
        land: 23450
        value: 142610
        improvements: 119160
      properties:
        improvements:
          default: 0
          example: 119160
          title: improvements
          type: integer
        land:
          default: 0
          example: 23450
          title: land
          type: integer
        value:
          default: 0
          example: 142610
          title: value
          type: integer
      title: property_records_200_response_inner_taxAssessments_2020
    property_records_200_response_inner_owner_mailingAddress:
      example:
        zipCode: "28787"
        city: Weaverville
        addressLine1: 149 Weaver Blvd
        addressLine2: '# 264'
        id: "149-Weaver-Blvd,---264,-Weaverville,-NC-28787"
        state: NC
      properties:
        addressLine1:
          example: 149 Weaver Blvd
          title: addressLine1
          type: string
        addressLine2:
          example: '# 264'
          title: addressLine2
          type: string
        city:
          example: Weaverville
          title: city
          type: string
        id:
          example: "149-Weaver-Blvd,---264,-Weaverville,-NC-28787"
          title: id
          type: string
        state:
          example: NC
          title: state
          type: string
        zipCode:
          example: "28787"
          title: zipCode
          type: string
      title: property_records_200_response_inner_owner_mailingAddress
    market_statistics_200_response_rentalData_history_2023_10:
      example:
        dataByBedrooms:
        - bedrooms: 1
          totalListings: 6
          maxRent: 1610
          minRent: 875
          averageRent: 1130
        - bedrooms: 1
          totalListings: 6
          maxRent: 1610
          minRent: 875
          averageRent: 1130
        totalListings: 87
        maxRent: 2750
        minRent: 750
        averageRent: 1389
      properties:
        averageRent:
          default: 0
          example: 1389
          title: averageRent
          type: integer
        dataByBedrooms:
          items:
            $ref: '#/components/schemas/market_statistics_200_response_rentalData_dataByBedrooms_inner'
          title: dataByBedrooms
          type: array
        maxRent:
          default: 0
          example: 2750
          title: maxRent
          type: integer
        minRent:
          default: 0
          example: 750
          title: minRent
          type: integer
        totalListings:
          default: 0
          example: 87
          title: totalListings
          type: integer
      title: market_statistics_200_response_rentalData_history_2023_10
    value_estimate_200_response_comparables_inner:
      example:
        zipCode: "78244"
        daysOld: 5
        distance: 0.2009
        city: San Antonio
        lotSize: 6534
        lastSeenDate: 2023-02-23T00:00:00.000Z
        latitude: 29.476178
        county: Bexar
        listedDate: 2023-02-18T00:00:00.000Z
        bathrooms: 2
        yearBuilt: 1972
        bedrooms: 4
        correlation: 0.9891
        formattedAddress: "6807 Blue Lake Dr, San Antonio, TX 78244"
        squareFootage: 1518
        price: 198000
        propertyType: Single Family
        addressLine1: 6807 Blue Lake Dr
        id: "6807-Blue-Lake-Dr,-San-Antonio,-TX-78244"
        state: TX
        longitude: -98.354769
      properties:
        addressLine1:
          example: 6807 Blue Lake Dr
          title: addressLine1
          type: string
        bathrooms:
          default: 0
          example: 2
          title: floorCount
          type: integer
        bedrooms:
          default: 0
          example: 4
          title: bedrooms
          type: integer
        city:
          example: San Antonio
          title: city
          type: string
        correlation:
          default: 0
          example: 0.9891
          title: correlation
          type: number
        county:
          example: Bexar
          title: county
          type: string
        daysOld:
          default: 0
          example: 5
          title: daysOld
          type: integer
        distance:
          default: 0
          example: 0.2009
          title: distance
          type: number
        formattedAddress:
          example: "6807 Blue Lake Dr, San Antonio, TX 78244"
          title: formattedAddress
          type: string
        id:
          example: "6807-Blue-Lake-Dr,-San-Antonio,-TX-78244"
          title: id
          type: string
        lastSeenDate:
          example: 2023-02-23T00:00:00.000Z
          title: lastSeenDate
          type: string
        latitude:
          default: 0
          example: 29.476178
          title: latitude
          type: number
        listedDate:
          example: 2023-02-18T00:00:00.000Z
          title: listedDate
          type: string
        longitude:
          default: 0
          example: -98.354769
          title: longitude
          type: number
        lotSize:
          default: 0
          example: 6534
          title: lotSize
          type: integer
        price:
          default: 0
          example: 198000
          title: price
          type: integer
        propertyType:
          example: Single Family
          title: propertyType
          type: string
        squareFootage:
          default: 0
          example: 1518
          title: squareFootage
          type: integer
        state:
          example: TX
          title: state
          type: string
        yearBuilt:
          default: 0
          example: 1972
          title: yearBuilt
          type: integer
        zipCode:
          example: "78244"
          title: zipCode
          type: string
      title: value_estimate_200_response_comparables_inner
[...]
