openapi: 3.0.0
info:
  description: "Our unified API brings together data across all modes of transport\
    \ into a single RESTful API. This API provides access to the most highly requested\
    \ realtime and status infomation across all the modes of transport, in a single\
    \ and consistent way. Access to the developer documentation is available at https://api.tfl.gov.uk"
  title: Transport for London Unified API
  version: v1
  x-apisguru-categories:
  - transport
  - open_data
  x-logo:
    url: https://twitter.com/TfL/profile_image?size=original
  x-origin:
  - format: openapi
    url: https://api.tfl.gov.uk/swagger/docs/v1
    version: "3.0"
  x-providerName: tfl.gov.uk
servers:
- url: https://api.digital.tfl.gov.uk
paths:
  /AccidentStats/{year}:
    get:
      deprecated: false
      operationId: accident_stats_get
      parameters:
      - description: The year for which to filter the accidents on.
        explode: false
        in: path
        name: year
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.AccidentStats.AccidentDetail'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.AccidentStats.AccidentDetail'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.AccidentStats.AccidentDetail'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.AccidentStats.AccidentDetail'
                type: array
          description: OK
      summary: Gets all accident details for accidents occuring in the specified year
      tags:
      - AccidentStats
      x-openapi-router-controller: openapi_server.controllers.accident_stats_controller
  /AirQuality:
    get:
      deprecated: false
      operationId: air_quality_get
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/System.Object'
          description: OK
      summary: Gets air quality data feed
      tags:
      - AirQuality
      x-openapi-router-controller: openapi_server.controllers.air_quality_controller
  /BikePoint:
    get:
      deprecated: false
      operationId: bike_point_get_all
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Place'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Place'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Place'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Place'
                type: array
          description: OK
      summary: "Gets all bike point locations. The Place object has an addtionalProperties\
        \ array which contains the nbBikes, nbDocks and nbSpaces\r\n            numbers\
        \ which give the status of the BikePoint. A mismatch in these numbers i.e.\
        \ nbDocks - (nbBikes + nbSpaces) != 0 indicates broken docks."
      tags:
      - BikePoint
      x-openapi-router-controller: openapi_server.controllers.bike_point_controller
  /BikePoint/Search:
    get:
      deprecated: false
      operationId: bike_point_search
      parameters:
      - description: The search term e.g. "St. James"
        explode: true
        in: query
        name: query
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Place'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Place'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Place'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Place'
                type: array
          description: OK
      summary: "Search for bike stations by their name, a bike point's name often\
        \ contains information about the name of the street\r\n            or nearby\
        \ landmarks, for example. Note that the search result does not contain the\
        \ PlaceProperties i.e. the status\r\n            or occupancy of the BikePoint,\
        \ to get that information you should retrieve the BikePoint by its id on /BikePoint/id."
      tags:
      - BikePoint
      x-openapi-router-controller: openapi_server.controllers.bike_point_controller
  /BikePoint/{id}:
    get:
      deprecated: false
      operationId: bike_point_get
      parameters:
      - description: A bike point id (a list of ids can be obtained from the above
          BikePoint call)
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Place'
            application/xml:
              schema:
                $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Place'
            text/json:
              schema:
                $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Place'
            text/xml:
              schema:
                $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Place'
          description: OK
      summary: Gets the bike point with the given id.
      tags:
      - BikePoint
      x-openapi-router-controller: openapi_server.controllers.bike_point_controller
  /Cabwise/search:
    get:
      deprecated: false
      operationId: cabwise_get
      parameters:
      - description: Latitude
        explode: true
        in: query
        name: lat
        required: true
        schema:
          format: double
          type: number
        style: form
      - description: Longitude
        explode: true
        in: query
        name: lon
        required: true
        schema:
          format: double
          type: number
        style: form
      - description: "Operator Type e.g Minicab, Executive, Limousine"
        explode: true
        in: query
        name: optype
        required: false
        schema:
          type: string
        style: form
      - description: Wheelchair accessible
        explode: true
        in: query
        name: wc
        required: false
        schema:
          type: string
        style: form
      - description: The radius of the bounding circle in metres
        explode: true
        in: query
        name: radius
        required: false
        schema:
          format: double
          type: number
        style: form
      - description: Trading name of operating company
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: An optional parameter to limit the number of results return.
          Default and maximum is 20.
        explode: true
        in: query
        name: maxResults
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Legacy Format
        explode: true
        in: query
        name: legacyFormat
        required: false
        schema:
          type: boolean
        style: form
      - description: Force Xml
        explode: true
        in: query
        name: forceXml
        required: false
        schema:
          type: boolean
        style: form
      - description: Twenty Four Seven Only
        explode: true
        in: query
        name: twentyFourSevenOnly
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/System.Object'
          description: OK
      summary: Gets taxis and minicabs contact information
      tags:
      - Cabwise
      x-openapi-router-controller: openapi_server.controllers.cabwise_controller
  /Journey/JourneyResults/{from}/to/{to}:
    get:
      deprecated: false
      operationId: journey_journey_results
      parameters:
      - description: "Origin of the journey. Can be WGS84 coordinates expressed as\
          \ \"lat,long\", a UK postcode, a Naptan (StopPoint) id, an ICS StopId, or\
          \ a free-text string (will cause disambiguation unless it exactly matches\
          \ a point of interest name)."
        explode: false
        in: path
        name: from
        required: true
        schema:
          type: string
        style: simple
      - description: "Destination of the journey. Can be WGS84 coordinates expressed\
          \ as \"lat,long\", a UK postcode, a Naptan (StopPoint) id, an ICS StopId,\
          \ or a free-text string (will cause disambiguation unless it exactly matches\
          \ a point of interest name)."
        explode: false
        in: path
        name: to
        required: true
        schema:
          type: string
        style: simple
      - description: "Travel through point on the journey. Can be WGS84 coordinates\
          \ expressed as \"lat,long\", a UK postcode, a Naptan (StopPoint) id, an\
          \ ICS StopId, or a free-text string (will cause disambiguation unless it\
          \ exactly matches a point of interest name)."
        explode: true
        in: query
        name: via
        required: false
        schema:
          type: string
        style: form
      - description: Does the journey cover stops outside London? eg. "nationalSearch=true"
        explode: true
        in: query
        name: nationalSearch
        required: false
        schema:
          type: boolean
        style: form
      - description: The date must be in yyyyMMdd format
        explode: true
        in: query
        name: date
        required: false
        schema:
          type: string
        style: form
      - description: The time must be in HHmm format
        explode: true
        in: query
        name: time
        required: false
        schema:
          type: string
        style: form
      - description: "Does the time given relate to arrival or leaving time? Possible\
          \ options: \"departing\" | \"arriving\""
        explode: true
        in: query
        name: timeIs
        required: false
        schema:
          enum:
          - Arriving
          - Departing
          type: string
        style: form
      - description: "The journey preference eg possible options: \"leastinterchange\"\
          \ | \"leasttime\" | \"leastwalking\""
        explode: true
        in: query
        name: journeyPreference
        required: false
        schema:
          enum:
          - LeastInterchange
          - LeastTime
          - LeastWalking
          type: string
        style: form
      - description: "The mode must be a comma separated list of modes. eg possible\
          \ options: \"public-bus,overground,train,tube,coach,dlr,cablecar,tram,river,walking,cycle\""
        explode: true
        in: query
        name: mode
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "The accessibility preference must be a comma separated list\
          \ eg. \"noSolidStairs,noEscalators,noElevators,stepFreeToVehicle,stepFreeToPlatform\""
        explode: true
        in: query
        name: accessibilityPreference
        required: false
        schema:
          items:
            enum:
            - NoRequirements
            - NoSolidStairs
            - NoEscalators
            - NoElevators
            - StepFreeToVehicle
            - StepFreeToPlatform
            type: string
          type: array
        style: form
      - description: An optional name to associate with the origin of the journey
          in the results.
        explode: true
        in: query
        name: fromName
        required: false
        schema:
          type: string
        style: form
      - description: An optional name to associate with the destination of the journey
          in the results.
        explode: true
        in: query
        name: toName
        required: false
        schema:
          type: string
        style: form
      - description: An optional name to associate with the via point of the journey
          in the results.
        explode: true
        in: query
        name: viaName
        required: false
        schema:
          type: string
        style: form
      - description: The max walking time in minutes for transfer eg. "120"
        explode: true
        in: query
        name: maxTransferMinutes
        required: false
        schema:
          type: string
        style: form
      - description: The max walking time in minutes for journeys eg. "120"
        explode: true
        in: query
        name: maxWalkingMinutes
        required: false
        schema:
          type: string
        style: form
      - description: "The walking speed. eg possible options: \"slow\" | \"average\"\
          \ | \"fast\"."
        explode: true
        in: query
        name: walkingSpeed
        required: false
        schema:
          enum:
          - Slow
          - Average
          - Fast
          type: string
        style: form
      - description: "The cycle preference. eg possible options: \"allTheWay\" | \"\
          leaveAtStation\" | \"takeOnTransport\" | \"cycleHire\""
        explode: true
        in: query
        name: cyclePreference
        required: false
        schema:
          enum:
          - None
          - LeaveAtStation
          - TakeOnTransport
          - AllTheWay
          - CycleHire
          type: string
        style: form
      - description: "Time adjustment command. eg possible options: \"TripFirst\"\
          \ | \"TripLast\""
        explode: true
        in: query
        name: adjustment
        required: false
        schema:
          type: string
        style: form
      - description: "A comma separated list of cycling proficiency levels. eg possible\
          \ options: \"easy,moderate,fast\""
        explode: true
        in: query
        name: bikeProficiency
        required: false
        schema:
          items:
            enum:
            - Easy
            - Moderate
            - Fast
            type: string
          type: array
        style: form
      - description: Option to determine whether to return alternative cycling journey
        explode: true
        in: query
        name: alternativeCycle
        required: false
        schema:
          type: boolean
        style: form
      - description: Option to determine whether to return alternative walking journey
        explode: true
        in: query
        name: alternativeWalking
        required: false
        schema:
          type: boolean
        style: form
      - description: Flag to determine whether certain text (e.g. walking instructions)
          should be output with HTML tags or not.
        explode: true
        in: query
        name: applyHtmlMarkup
        required: false
        schema:
          type: boolean
        style: form
      - description: "A boolean to indicate whether or not to return 3 public transport\
          \ journeys, a bus journey, a cycle hire journey, a personal cycle journey\
          \ and a walking journey"
        explode: true
        in: query
        name: useMultiModalCall
        required: false
        schema:
          type: boolean
        style: form
      - description: A boolean to indicate whether to optimize journeys using walking
        explode: true
        in: query
        name: walkingOptimization
        required: false
        schema:
          type: boolean
        style: form
      - description: "A boolean to indicate whether to return one or more taxi journeys.\
          \ Note, setting this to true will override \"useMultiModalCall\"."
        explode: true
        in: query
        name: taxiOnlyTrip
        required: false
        schema:
          type: boolean
        style: form
      - description: A boolean to indicate whether public transport routes should
          include directions between platforms and station entrances.
        explode: true
        in: query
        name: routeBetweenEntrances
        required: false
        schema:
          type: boolean
        style: form
      - description: A boolean to indicate if we want to receive real time live arrivals
          data where available.
        explode: true
        in: query
        name: useRealTimeLiveArrivals
        required: false
        schema:
          type: boolean
        style: form
      - description: "A boolean to make Journey Planner calculate journeys in one\
          \ temporal direction only. In other words, only calculate journeys after\
          \ the 'depart' time, or before the 'arrive' time. By default, the Journey\
          \ Planner engine (EFA) calculates journeys in both temporal directions."
        explode: true
        in: query
        name: calcOneDirection
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.JourneyPlanner.ItineraryResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.JourneyPlanner.ItineraryResult'
            text/json:
              schema:
                $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.JourneyPlanner.ItineraryResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.JourneyPlanner.ItineraryResult'
          description: OK
      summary: Perform a Journey Planner search from the parameters specified in simple
        types
      tags:
      - Journey
      x-openapi-router-controller: openapi_server.controllers.journey_controller
  /Journey/Meta/Modes:
    get:
      deprecated: false
      operationId: journey_meta
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Mode'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Mode'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Mode'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Mode'
                type: array
          description: OK
      summary: Gets a list of all of the available journey planner modes
      tags:
      - Journey
      x-openapi-router-controller: openapi_server.controllers.journey_controller
  /Line/Meta/DisruptionCategories:
    get:
      deprecated: false
      operationId: line_meta_disruption_categories
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
            application/xml:
              schema:
                items:
                  type: string
                type: array
            text/json:
              schema:
                items:
                  type: string
                type: array
            text/xml:
              schema:
                items:
                  type: string
                type: array
          description: OK
      summary: Gets a list of valid disruption categories
      tags:
      - Line
      x-openapi-router-controller: openapi_server.controllers.line_controller
  /Line/Meta/Modes:
    get:
      deprecated: false
      operationId: line_meta_modes
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Mode'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Mode'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Mode'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Mode'
                type: array
          description: OK
      summary: Gets a list of valid modes
      tags:
      - Line
      x-openapi-router-controller: openapi_server.controllers.line_controller
  /Line/Meta/ServiceTypes:
    get:
      deprecated: false
      operationId: line_meta_service_types
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
            application/xml:
              schema:
                items:
                  type: string
                type: array
            text/json:
              schema:
                items:
                  type: string
                type: array
            text/xml:
              schema:
                items:
                  type: string
                type: array
          description: OK
      summary: Gets a list of valid ServiceTypes to filter on
      tags:
      - Line
      x-openapi-router-controller: openapi_server.controllers.line_controller
  /Line/Meta/Severity:
    get:
      deprecated: false
      operationId: line_meta_severity
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.StatusSeverity'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.StatusSeverity'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.StatusSeverity'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.StatusSeverity'
                type: array
          description: OK
      summary: Gets a list of valid severity codes
      tags:
      - Line
      x-openapi-router-controller: openapi_server.controllers.line_controller
  /Line/Mode/{modes}:
    get:
      deprecated: false
      operationId: line_get_by_mode
      parameters:
      - description: "A comma-separated list of modes e.g. tube,dlr"
        explode: false
        in: path
        name: modes
        required: true
        schema:
          items:
            type: string
          type: array
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
                type: array
          description: OK
      summary: Gets lines that serve the given modes.
      tags:
      - Line
      x-openapi-router-controller: openapi_server.controllers.line_controller
  /Line/Mode/{modes}/Disruption:
    get:
      deprecated: false
      operationId: line_disruption_by_mode
      parameters:
      - description: "A comma-separated list of modes e.g. tube,dlr"
        explode: false
        in: path
        name: modes
        required: true
        schema:
          items:
            type: string
          type: array
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Disruption'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Disruption'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Disruption'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Disruption'
                type: array
          description: OK
      summary: Get disruptions for all lines of the given modes.
      tags:
      - Line
      x-openapi-router-controller: openapi_server.controllers.line_controller
  /Line/Mode/{modes}/Route:
    get:
      deprecated: false
      operationId: line_route_by_mode
      parameters:
      - description: "A comma-separated list of modes e.g. tube,dlr"
        explode: false
        in: path
        name: modes
        required: true
        schema:
          items:
            type: string
          type: array
        style: simple
      - description: "A comma seperated list of service types to filter on. Supported\
          \ values: Regular, Night. Defaulted to 'Regular' if not specified"
        explode: true
        in: query
        name: serviceTypes
        required: false
        schema:
          items:
            enum:
            - Regular
            - Night
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
                type: array
          description: OK
      summary: "Gets all lines and their valid routes for given modes, including the\
        \ name and id of the originating and terminating stops for each route"
      tags:
      - Line
      x-openapi-router-controller: openapi_server.controllers.line_controller
  /Line/Mode/{modes}/Status:
    get:
      deprecated: false
      operationId: line_status_by_mode
      parameters:
      - description: "A comma-separated list of modes to filter by. e.g. tube,dlr"
        explode: false
        in: path
        name: modes
        required: true
        schema:
          items:
            type: string
          type: array
        style: simple
      - description: Include details of the disruptions that are causing the line
          status including the affected stops and routes
        explode: true
        in: query
        name: detail
        required: false
        schema:
          type: boolean
        style: form
      - description: "If specified, ensures that only those line status(es) are returned\
          \ within the lines that have disruptions with the matching severity level."
        explode: true
        in: query
        name: severityLevel
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
                type: array
          description: OK
      summary: Gets the line status of for all lines for the given modes
      tags:
      - Line
      x-openapi-router-controller: openapi_server.controllers.line_controller
  /Line/Route:
    get:
      deprecated: false
      operationId: line_route
      parameters:
      - description: "A comma seperated list of service types to filter on. Supported\
          \ values: Regular, Night. Defaulted to 'Regular' if not specified"
        explode: true
        in: query
        name: serviceTypes
        required: false
        schema:
          items:
            enum:
            - Regular
            - Night
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
                type: array
          description: OK
      summary: "Get all valid routes for all lines, including the name and id of the\
        \ originating and terminating stops for each route."
      tags:
      - Line
      x-openapi-router-controller: openapi_server.controllers.line_controller
  /Line/Search/{query}:
    get:
      deprecated: false
      operationId: line_search
      parameters:
      - description: Search term e.g victoria
        explode: false
        in: path
        name: query
        required: true
        schema:
          type: string
        style: simple
      - description: Optionally filter by the specified modes
        explode: true
        in: query
        name: modes
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "A comma seperated list of service types to filter on. Supported\
          \ values: Regular, Night. Defaulted to 'Regular' if not specified"
        explode: true
        in: query
        name: serviceTypes
        required: false
        schema:
          items:
            enum:
            - Regular
            - Night
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.RouteSearchResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.RouteSearchResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.RouteSearchResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.RouteSearchResponse'
          description: OK
      summary: Search for lines or routes matching the query string
      tags:
      - Line
      x-openapi-router-controller: openapi_server.controllers.line_controller
  /Line/Status/{severity}:
    get:
      deprecated: false
      operationId: line_status_by_severity
      parameters:
      - description: "The level of severity (eg: a number from 0 to 14)"
        explode: false
        in: path
        name: severity
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
                type: array
          description: OK
      summary: "Gets the line status for all lines with a given severity\r\n     \
        \       A list of valid severity codes can be obtained from a call to Line/Meta/Severity"
      tags:
      - Line
      x-openapi-router-controller: openapi_server.controllers.line_controller
  /Line/{ids}:
    get:
      deprecated: false
      operationId: line_get
      parameters:
      - description: "A comma-separated list of line ids e.g. victoria,circle,N133.\
          \ Max. approx. 20 ids."
        explode: false
        in: path
        name: ids
        required: true
        schema:
          items:
            type: string
          type: array
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
                type: array
          description: OK
      summary: Gets lines that match the specified line ids.
      tags:
      - Line
      x-openapi-router-controller: openapi_server.controllers.line_controller
  /Line/{ids}/Arrivals/{stopPointId}:
    get:
      deprecated: false
      operationId: line_arrivals
      parameters:
      - description: "A comma-separated list of line ids e.g. victoria,circle,N133.\
          \ Max. approx. 20 ids."
        explode: false
        in: path
        name: ids
        required: true
        schema:
          items:
            type: string
          type: array
        style: simple
      - description: "Optional. Id of stop to get arrival predictions for (station\
          \ naptan code e.g. 940GZZLUASL, you can use /StopPoint/Search/{query} endpoint\
          \ to find a stop point id from a station name)"
        explode: false
        in: path
        name: stopPointId
        required: true
        schema:
          type: string
        style: simple
      - description: "Optional. The direction of travel. Can be inbound or outbound\
          \ or all. If left blank, and destinationStopId is set, will default to all"
        explode: true
        in: query
        name: direction
        required: false
        schema:
          enum:
          - inbound
          - outbound
          - all
          type: string
        style: form
      - description: Optional. Id of destination stop
        explode: true
        in: query
        name: destinationStationId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Prediction'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Prediction'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Prediction'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Prediction'
                type: array
          description: OK
      summary: Get the list of arrival predictions for given line ids based at the
        given stop
      tags:
      - Line
      x-openapi-router-controller: openapi_server.controllers.line_controller
  /Line/{ids}/Disruption:
    get:
      deprecated: false
      operationId: line_disruption
      parameters:
      - description: "A comma-separated list of line ids e.g. victoria,circle,N133.\
          \ Max. approx. 20 ids."
        explode: false
        in: path
        name: ids
        required: true
        schema:
          items:
            type: string
          type: array
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Disruption'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Disruption'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Disruption'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Disruption'
                type: array
          description: OK
      summary: Get disruptions for the given line ids
      tags:
      - Line
      x-openapi-router-controller: openapi_server.controllers.line_controller
  /Line/{ids}/Route:
    get:
      deprecated: false
      operationId: line_line_routes_by_ids
      parameters:
      - description: "A comma-separated list of line ids e.g. victoria,circle,N133.\
          \ Max. approx. 20 ids."
        explode: false
        in: path
        name: ids
        required: true
        schema:
          items:
            type: string
          type: array
        style: simple
      - description: "A comma seperated list of service types to filter on. Supported\
          \ values: Regular, Night. Defaulted to 'Regular' if not specified"
        explode: true
        in: query
        name: serviceTypes
        required: false
        schema:
          items:
            enum:
            - Regular
            - Night
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
                type: array
          description: OK
      summary: "Get all valid routes for given line ids, including the name and id\
        \ of the originating and terminating stops for each route."
      tags:
      - Line
      x-openapi-router-controller: openapi_server.controllers.line_controller
  /Line/{ids}/Status:
    get:
      deprecated: false
      operationId: line_status_by_ids
      parameters:
      - description: "A comma-separated list of line ids e.g. victoria,circle,N133.\
          \ Max. approx. 20 ids."
        explode: false
        in: path
        name: ids
        required: true
        schema:
          items:
            type: string
          type: array
        style: simple
      - description: Include details of the disruptions that are causing the line
          status including the affected stops and routes
        explode: true
        in: query
        name: detail
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
                type: array
          description: OK
      summary: Gets the line status of for given line ids e.g Minor Delays
      tags:
      - Line
      x-openapi-router-controller: openapi_server.controllers.line_controller
  /Line/{ids}/Status/{StartDate}/to/{EndDate}:
    get:
      deprecated: false
      operationId: line_status
      parameters:
      - description: "A comma-separated list of line ids e.g. victoria,circle,N133.\
          \ Max. approx. 20 ids."
        explode: false
        in: path
        name: ids
        required: true
        schema:
          items:
            type: string
          type: array
        style: simple
      - description: Include details of the disruptions that are causing the line
          status including the affected stops and routes
        explode: true
        in: query
        name: detail
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: startDate
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: dateRange.startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: dateRange.endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Automatically added
        explode: false
        in: path
        name: StartDate
        required: true
        schema:
          type: string
        style: simple
      - description: Automatically added
        explode: false
        in: path
        name: EndDate
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
                type: array
          description: OK
      summary: Gets the line status for given line ids during the provided dates e.g
        Minor Delays
      tags:
      - Line
      x-openapi-router-controller: openapi_server.controllers.line_controller
  /Line/{id}/Route/Sequence/{direction}:
    get:
      deprecated: false
      operationId: line_route_sequence
      parameters:
      - description: A single line id e.g. victoria
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: The direction of travel. Can be inbound or outbound.
        explode: false
        in: path
        name: direction
        required: true
        schema:
          enum:
          - inbound
          - outbound
          - all
          type: string
        style: simple
      - description: "A comma seperated list of service types to filter on. Supported\
          \ values: Regular, Night. Defaulted to 'Regular' if not specified"
        explode: true
        in: query
        name: serviceTypes
        required: false
        schema:
          items:
            enum:
            - Regular
            - Night
            type: string
          type: array
        style: form
      - description: That excludes crowding from line disruptions. Can be true or
          false.
        explode: true
        in: query
        name: excludeCrowding
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.RouteSequence'
            application/xml:
              schema:
                $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.RouteSequence'
            text/json:
              schema:
                $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.RouteSequence'
            text/xml:
              schema:
                $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.RouteSequence'
          description: OK
      summary: "Gets all valid routes for given line id, including the sequence of\
        \ stops on each route."
      tags:
      - Line
      x-openapi-router-controller: openapi_server.controllers.line_controller
  /Line/{id}/StopPoints:
    get:
      deprecated: false
      operationId: line_stop_points
      parameters:
      - description: A single line id e.g. victoria
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: "If the national-rail line is requested, this flag will filter\
          \ the national rail stations so that only those operated by TfL are returned"
        explode: true
        in: query
        name: tflOperatedNationalRailStationsOnly
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.StopPoint'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.StopPoint'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.StopPoint'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.StopPoint'
                type: array
          description: OK
      summary: Gets a list of the stations that serve the given line id
      tags:
      - Line
      x-openapi-router-controller: openapi_server.controllers.line_controller
  /Line/{id}/Timetable/{fromStopPointId}:
    get:
      deprecated: false
      operationId: line_timetable
      parameters:
      - description: "The originating station's stop point id (station naptan code\
          \ e.g. 940GZZLUASL, you can use /StopPoint/Search/{query} endpoint to find\
          \ a stop point id from a station name)"
        explode: false
        in: path
        name: fromStopPointId
        required: true
        schema:
          type: string
        style: simple
      - description: A single line id e.g. victoria
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.TimetableResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.TimetableResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.TimetableResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.TimetableResponse'
          description: OK
      summary: Gets the timetable for a specified station on the give line
      tags:
      - Line
      x-openapi-router-controller: openapi_server.controllers.line_controller
  /Line/{id}/Timetable/{fromStopPointId}/to/{toStopPointId}:
    get:
      deprecated: false
      operationId: line_timetable_to
      parameters:
      - description: "The originating station's stop point id (station naptan code\
          \ e.g. 940GZZLUASL, you can use /StopPoint/Search/{query} endpoint to find\
          \ a stop point id from a station name)"
        explode: false
        in: path
        name: fromStopPointId
        required: true
        schema:
          type: string
        style: simple
      - description: A single line id e.g. victoria
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: The destination stations's Naptan code
        explode: false
        in: path
        name: toStopPointId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.TimetableResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.TimetableResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.TimetableResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.TimetableResponse'
          description: OK
      summary: Gets the timetable for a specified station on the give line with specified
        destination
      tags:
      - Line
      x-openapi-router-controller: openapi_server.controllers.line_controller
  /Mode/ActiveServiceTypes:
    get:
      deprecated: false
      operationId: mode_get_active_service_types
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.ActiveServiceType'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.ActiveServiceType'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.ActiveServiceType'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.ActiveServiceType'
                type: array
          description: OK
      summary: "Returns the service type active for a mode.\r\n            Currently\
        \ only supports tube"
      tags:
      - Mode
      x-openapi-router-controller: openapi_server.controllers.mode_controller
  /Mode/{mode}/Arrivals:
    get:
      deprecated: false
      operationId: mode_arrivals
      parameters:
      - description: "A mode name e.g. tube, dlr"
        explode: false
        in: path
        name: mode
        required: true
        schema:
          type: string
        style: simple
      - description: "A number of arrivals to return for each stop, -1 to return all\
          \ available."
        explode: true
        in: query
        name: count
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Prediction'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Prediction'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Prediction'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Prediction'
                type: array
          description: OK
      summary: Gets the next arrival predictions for all stops of a given mode
      tags:
      - Mode
      x-openapi-router-controller: openapi_server.controllers.mode_controller
  /Occupancy/BikePoints/{ids}:
    get:
      deprecated: false
      operationId: occupancy_get_bike_points_occupancies
      parameters:
      - description: ""
        explode: false
        in: path
        name: ids
        required: true
        schema:
          items:
            type: string
          type: array
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.BikePointOccupancy'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.BikePointOccupancy'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.BikePointOccupancy'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.BikePointOccupancy'
                type: array
          description: OK
      summary: Get the occupancy for bike points.
      tags:
      - Occupancy
      x-openapi-router-controller: openapi_server.controllers.occupancy_controller
  /Occupancy/CarPark:
    get:
      deprecated: false
      operationId: occupancy_car_park_get
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.CarParkOccupancy'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.CarParkOccupancy'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.CarParkOccupancy'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.CarParkOccupancy'
                type: array
          description: OK
      summary: Gets the occupancy for all car parks that have occupancy data
      tags:
      - Occupancy
      x-openapi-router-controller: openapi_server.controllers.occupancy_controller
  /Occupancy/CarPark/{id}:
    get:
      deprecated: false
      operationId: occupancy_get
      parameters:
      - description: ""
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.CarParkOccupancy'
            application/xml:
              schema:
                $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.CarParkOccupancy'
            text/json:
              schema:
                $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.CarParkOccupancy'
            text/xml:
              schema:
                $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.CarParkOccupancy'
          description: OK
      summary: Gets the occupancy for a car park with a given id
      tags:
      - Occupancy
      x-openapi-router-controller: openapi_server.controllers.occupancy_controller
  /Occupancy/ChargeConnector:
    get:
      deprecated: false
      operationId: occupancy_get_all_charge_connector_status
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.ChargeConnectorOccupancy'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.ChargeConnectorOccupancy'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.ChargeConnectorOccupancy'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.ChargeConnectorOccupancy'
                type: array
          description: OK
      summary: Gets the occupancy for all charge connectors
      tags:
      - Occupancy
      x-openapi-router-controller: openapi_server.controllers.occupancy_controller
  /Occupancy/ChargeConnector/{ids}:
    get:
      deprecated: false
      operationId: occupancy_get_charge_connector_status
      parameters:
      - explode: false
        in: path
        name: ids
        required: true
        schema:
          items:
            type: string
          type: array
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.ChargeConnectorOccupancy'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.ChargeConnectorOccupancy'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.ChargeConnectorOccupancy'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.ChargeConnectorOccupancy'
                type: array
          description: OK
      summary: Gets the occupancy for a charge connectors with a given id (sourceSystemPlaceId)
      tags:
      - Occupancy
      x-openapi-router-controller: openapi_server.controllers.occupancy_controller
  /Place:
    get:
      deprecated: false
      operationId: place_get_by_geo
      parameters:
      - description: The radius of the bounding circle in metres when only lat/lon
          are specified.
        explode: true
        in: query
        name: radius
        required: false
        schema:
          format: double
          type: number
        style: form
      - description: "An optional list of comma separated property categories to return\
          \ in the Place's property bag. If null or empty, all categories of property\
          \ are returned. Pass the keyword \"none\" to return no properties (a valid\
          \ list of categories can be obtained from the /Place/Meta/categories endpoint)"
        explode: true
        in: query
        name: categories
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "Defaults to false. If true child places e.g. individual charging\
          \ stations at a charge point while be included, otherwise just the URLs\
          \ of any child places will be returned"
        explode: true
        in: query
        name: includeChildren
        required: false
        schema:
          type: boolean
        style: form
      - description: "Place types to filter on, or null to return all types"
        explode: true
        in: query
        name: type
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: An optional parameter to limit the results to active records
          only (Currently only the 'VariableMessageSign' place type is supported)
        explode: true
        in: query
        name: activeOnly
        required: false
        schema:
          type: boolean
        style: form
      - description: "If specified, limits the number of returned places equal to\
          \ the given value"
        explode: true
        in: query
        name: numberOfPlacesToReturn
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: placeGeo.swLat
        required: false
        schema:
          format: double
          type: number
        style: form
      - explode: true
        in: query
        name: placeGeo.swLon
        required: false
        schema:
          format: double
          type: number
        style: form
      - explode: true
        in: query
        name: placeGeo.neLat
        required: false
        schema:
          format: double
          type: number
        style: form
      - explode: true
        in: query
        name: placeGeo.neLon
        required: false
        schema:
          format: double
          type: number
        style: form
      - explode: true
        in: query
        name: placeGeo.lat
        required: false
        schema:
          format: double
          type: number
        style: form
      - explode: true
        in: query
        name: placeGeo.lon
        required: false
        schema:
          format: double
          type: number
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.StopPoint'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.StopPoint'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.StopPoint'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.StopPoint'
                type: array
          description: OK
      summary: "Gets the places that lie within a geographic region. The geographic\
        \ region of interest can either be specified\r\n            by using a lat/lon\
        \ geo-point and a radius in metres to return places within the locus defined\
        \ by the lat/lon of\r\n            its centre or alternatively, by the use\
        \ of a bounding box defined by the lat/lon of its north-west and south-east\
        \ corners.\r\n            Optionally filters on type and can strip properties\
        \ for a smaller payload."
      tags:
      - Place
      x-openapi-router-controller: openapi_server.controllers.place_controller
  /Place/Address/Streets/{Postcode}:
    get:
      deprecated: false
      operationId: place_get_streets_by_post_code
      parameters:
      - explode: true
        in: query
        name: postcode
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: postcodeInput.postcode
        required: false
        schema:
          pattern: "^(([gG][iI][rR] {0,}0[aA]{2})|((([a-pr-uwyzA-PR-UWYZ][a-hk-yA-HK-Y]?[0-9][0-9]?)|(([a-pr-uwyzA-PR-UWYZ][0-9][a-hjkstuwA-HJKSTUW])|([a-pr-uwyzA-PR-UWYZ][a-hk-yA-HK-Y][0-9][abehmnprv-yABEHMNPRV-Y])))\
            \ {0,}[0-9][abd-hjlnp-uw-zABD-HJLNP-UW-Z]{2}))$"
          type: string
        style: form
      - description: Automatically added
        explode: false
        in: path
        name: Postcode
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/System.Object'
          description: OK
      summary: Gets the set of streets associated with a post code.
      tags:
      - Place
      x-openapi-router-controller: openapi_server.controllers.place_controller
  /Place/Meta/Categories:
    get:
      deprecated: false
      operationId: place_meta_categories
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.PlaceCategory'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.PlaceCategory'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.PlaceCategory'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.PlaceCategory'
                type: array
          description: OK
      summary: Gets a list of all of the available place property categories and keys.
      tags:
      - Place
      x-openapi-router-controller: openapi_server.controllers.place_controller
  /Place/Meta/PlaceTypes:
    get:
      deprecated: false
      operationId: place_meta_place_types
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.PlaceCategory'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.PlaceCategory'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.PlaceCategory'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.PlaceCategory'
                type: array
          description: OK
      summary: Gets a list of the available types of Place.
      tags:
      - Place
      x-openapi-router-controller: openapi_server.controllers.place_controller
  /Place/Search:
    get:
      deprecated: false
      operationId: place_search
      parameters:
      - description: "The name of the place, you can use the /Place/Types/{types}\
          \ endpoint to get a list of places for a given type including their names."
        explode: true
        in: query
        name: name
        required: true
        schema:
          type: string
        style: form
      - description: A comma-separated list of the types to return. Max. approx 12
          types.
        explode: true
        in: query
        name: types
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Place'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Place'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Place'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Place'
                type: array
          description: OK
      summary: Gets all places that matches the given query
      tags:
      - Place
      x-openapi-router-controller: openapi_server.controllers.place_controller
  /Place/Type/{types}:
    get:
      deprecated: false
      operationId: place_get_by_type
      parameters:
      - description: "A comma-separated list of the types to return. Max. approx 12\
          \ types.\r\n            A valid list of place types can be obtained from\
          \ the /Place/Meta/placeTypes endpoint."
        explode: false
        in: path
        name: types
        required: true
        schema:
          items:
            type: string
          type: array
        style: simple
      - description: An optional parameter to limit the results to active records
          only (Currently only the 'VariableMessageSign' place type is supported)
        explode: true
        in: query
        name: activeOnly
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Place'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Place'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Place'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Place'
                type: array
          description: OK
      summary: Gets all places of a given type
      tags:
      - Place
      x-openapi-router-controller: openapi_server.controllers.place_controller
  /Place/{id}:
    get:
      deprecated: false
      operationId: place_get
      parameters:
      - description: "The id of the place, you can use the /Place/Types/{types} endpoint\
          \ to get a list of places for a given type including their ids"
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: "Defaults to false. If true child places e.g. individual charging\
          \ stations at a charge point while be included, otherwise just the URLs\
          \ of any child places will be returned"
        explode: true
        in: query
        name: includeChildren
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Place'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Place'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Place'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Place'
                type: array
          description: OK
      summary: Gets the place with the given id.
      tags:
      - Place
      x-openapi-router-controller: openapi_server.controllers.place_controller
  /Place/{type}/At/{Lat}/{Lon}:
    get:
      deprecated: false
      operationId: place_get_at
      parameters:
      - description: The place type (a valid list of place types can be obtained from
          the /Place/Meta/placeTypes endpoint)
        explode: false
        in: path
        name: type
        required: true
        schema:
          items:
            type: string
          type: array
        style: simple
      - explode: true
        in: query
        name: lat
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: lon
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: location.lat
        required: true
        schema:
          format: double
          type: number
        style: form
      - explode: true
        in: query
        name: location.lon
        required: true
        schema:
          format: double
          type: number
        style: form
      - description: Automatically added
        explode: false
        in: path
        name: Lat
        required: true
        schema:
          type: string
        style: simple
      - description: Automatically added
        explode: false
        in: path
        name: Lon
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/System.Object'
          description: OK
      summary: "Gets any places of the given type whose geography intersects the given\
        \ latitude and longitude. In practice this means the Place\r\n           \
        \ must be polygonal e.g. a BoroughBoundary."
      tags:
      - Place
      x-openapi-router-controller: openapi_server.controllers.place_controller
  /Place/{type}/overlay/{z}/{Lat}/{Lon}/{width}/{height}:
    get:
      deprecated: false
      operationId: place_get_overlay
      parameters:
      - description: The zoom level
        explode: false
        in: path
        name: z
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: The place type (a valid list of place types can be obtained from
          the /Place/Meta/placeTypes endpoint)
        explode: false
        in: path
        name: type
        required: true
        schema:
          items:
            type: string
          type: array
        style: simple
      - description: The width of the requested overlay.
        explode: false
        in: path
        name: width
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: The height of the requested overlay.
        explode: false
        in: path
        name: height
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - explode: true
        in: query
        name: lat
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: lon
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: location.lat
        required: true
        schema:
          format: double
          type: number
        style: form
      - explode: true
        in: query
        name: location.lon
        required: true
        schema:
          format: double
          type: number
        style: form
      - description: Automatically added
        explode: false
        in: path
        name: Lat
        required: true
        schema:
          type: string
        style: simple
      - description: Automatically added
        explode: false
        in: path
        name: Lon
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/System.Object'
          description: OK
      summary: Gets the place overlay for a given set of co-ordinates and a given
        width/height.
      tags:
      - Place
      x-openapi-router-controller: openapi_server.controllers.place_controller
  /Road:
    get:
      deprecated: false
      operationId: road_get
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.RoadCorridor'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.RoadCorridor'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.RoadCorridor'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.RoadCorridor'
                type: array
          description: OK
      summary: Gets all roads managed by TfL
      tags:
      - Road
      x-openapi-router-controller: openapi_server.controllers.road_controller
  /Road/Meta/Categories:
    get:
      deprecated: false
      operationId: road_meta_categories
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
            application/xml:
              schema:
                items:
                  type: string
                type: array
            text/json:
              schema:
                items:
                  type: string
                type: array
            text/xml:
              schema:
                items:
                  type: string
                type: array
          description: OK
      summary: Gets a list of valid RoadDisruption categories
      tags:
      - Road
      x-openapi-router-controller: openapi_server.controllers.road_controller
  /Road/Meta/Severities:
    get:
      deprecated: false
      operationId: road_meta_severities
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.StatusSeverity'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.StatusSeverity'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.StatusSeverity'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.StatusSeverity'
                type: array
          description: OK
      summary: Gets a list of valid RoadDisruption severity codes
      tags:
      - Road
      x-openapi-router-controller: openapi_server.controllers.road_controller
  /Road/all/Disruption/{disruptionIds}:
    get:
      deprecated: false
      operationId: road_disruption_by_id
      parameters:
      - description: Comma-separated list of disruption identifiers to filter by.
        explode: false
        in: path
        name: disruptionIds
        required: true
        schema:
          items:
            type: string
          type: array
        style: simple
      - description: "Optional, defaults to false. When true, removes every property/node\
          \ except for id, point, severity, severityDescription, startDate, endDate,\
          \ corridor details, location and comments."
        explode: true
        in: query
        name: stripContent
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/geo+json:
              schema:
                $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.RoadDisruption'
            application/json:
              schema:
                $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.RoadDisruption'
            application/xml:
              schema:
                $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.RoadDisruption'
            text/json:
              schema:
                $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.RoadDisruption'
            text/xml:
              schema:
                $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.RoadDisruption'
          description: OK
      summary: Gets a list of active disruptions filtered by disruption Ids.
      tags:
      - Road
      x-openapi-router-controller: openapi_server.controllers.road_controller
  /Road/all/Street/Disruption:
    get:
      deprecated: false
      operationId: road_disrupted_streets
      parameters:
      - description: "Optional, the start time to filter on."
        explode: true
        in: query
        name: startDate
        required: true
        schema:
          format: date-time
          type: string
        style: form
      - description: "Optional, The end time to filter on."
        explode: true
        in: query
        name: endDate
        required: true
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/System.Object'
          description: OK
      summary: "Gets a list of disrupted streets. If no date filters are provided,\
        \ current disruptions are returned."
      tags:
      - Road
      x-openapi-router-controller: openapi_server.controllers.road_controller
  /Road/{ids}:
    get:
      deprecated: false
      operationId: road_ids_get
      parameters:
      - description: "Comma-separated list of road identifiers e.g. \"A406, A2\" (a\
          \ full list of supported road identifiers can be found at the /Road/ endpoint)"
        explode: false
        in: path
        name: ids
        required: true
        schema:
          items:
            type: string
          type: array
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.RoadCorridor'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.RoadCorridor'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.RoadCorridor'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.RoadCorridor'
                type: array
          description: OK
      summary: Gets the road with the specified id (e.g. A1)
      tags:
      - Road
      x-openapi-router-controller: openapi_server.controllers.road_controller
  /Road/{ids}/Disruption:
    get:
      deprecated: false
      operationId: road_disruption
      parameters:
      - description: "Comma-separated list of road identifiers e.g. \"A406, A2\" use\
          \ all for all to ignore id filter (a full list of supported road identifiers\
          \ can be found at the /Road/ endpoint)"
        explode: false
        in: path
        name: ids
        required: true
        schema:
          items:
            type: string
          type: array
        style: simple
      - description: "Optional, defaults to false. When true, removes every property/node\
          \ except for id, point, severity, severityDescription, startDate, endDate,\
          \ corridor details, location, comments and streets"
        explode: true
        in: query
        name: stripContent
        required: false
        schema:
          type: boolean
        style: form
      - description: an optional list of Severity names to filter on (a valid list
          of severities can be obtained from the /Road/Meta/severities endpoint)
        explode: true
        in: query
        name: severities
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: an optional list of category names to filter on (a valid list
          of categories can be obtained from the /Road/Meta/categories endpoint)
        explode: true
        in: query
        name: categories
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "Optional, defaults to true. When true, always includes disruptions\
          \ that have road closures, regardless of the severity filter. When false,\
          \ the severity filter works as normal."
        explode: true
        in: query
        name: closures
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/geo+json:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.RoadDisruption'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.RoadDisruption'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.RoadDisruption'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.RoadDisruption'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.RoadDisruption'
                type: array
          description: OK
      summary: "Get active disruptions, filtered by road ids"
      tags:
      - Road
      x-openapi-router-controller: openapi_server.controllers.road_controller
  /Road/{ids}/Status:
    get:
      deprecated: false
      operationId: road_status
      parameters:
      - description: "Comma-separated list of road identifiers e.g. \"A406, A2\" or\
          \ use \"all\" to ignore id filter (a full list of supported road identifiers\
          \ can be found at the /Road/ endpoint)"
        explode: false
        in: path
        name: ids
        required: true
        schema:
          items:
            type: string
          type: array
        style: simple
      - explode: true
        in: query
        name: dateRangeNullable.startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: dateRangeNullable.endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.RoadCorridor'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.RoadCorridor'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.RoadCorridor'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.RoadCorridor'
                type: array
          description: OK
      summary: "Gets the specified roads with the status aggregated over the date\
        \ range specified, or now until the end of today if no dates are passed."
      tags:
      - Road
      x-openapi-router-controller: openapi_server.controllers.road_controller
  /Search:
    get:
      deprecated: false
      operationId: search_get
      parameters:
      - description: The search query
        explode: true
        in: query
        name: query
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.SearchResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.SearchResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.SearchResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.SearchResponse'
          description: OK
      summary: "Search the site for occurrences of the query string. The maximum number\
        \ of results returned is equal to the maximum page size\r\n            of\
        \ 100. To return subsequent pages, use the paginated overload."
      tags:
      - Search
      x-openapi-router-controller: openapi_server.controllers.search_controller
  /Search/BusSchedules:
    get:
      deprecated: false
      operationId: search_bus_schedules
      parameters:
      - description: The search query
        explode: true
        in: query
        name: query
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.SearchResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.SearchResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.SearchResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.SearchResponse'
          description: OK
      summary: Searches the bus schedules folder on S3 for a given bus number.
      tags:
      - Search
      x-openapi-router-controller: openapi_server.controllers.search_controller
  /Search/Meta/Categories:
    get:
      deprecated: false
      operationId: search_meta_categories
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
            application/xml:
              schema:
                items:
                  type: string
                type: array
            text/json:
              schema:
                items:
                  type: string
                type: array
            text/xml:
              schema:
                items:
                  type: string
                type: array
          description: OK
      summary: Gets the available search categories.
      tags:
      - Search
      x-openapi-router-controller: openapi_server.controllers.search_controller
  /Search/Meta/SearchProviders:
    get:
      deprecated: false
      operationId: search_meta_search_providers
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
            application/xml:
              schema:
                items:
                  type: string
                type: array
            text/json:
              schema:
                items:
                  type: string
                type: array
            text/xml:
              schema:
                items:
                  type: string
                type: array
          description: OK
      summary: Gets the available searchProvider names.
      tags:
      - Search
      x-openapi-router-controller: openapi_server.controllers.search_controller
  /Search/Meta/Sorts:
    get:
      deprecated: false
      operationId: search_meta_sorts
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
            application/xml:
              schema:
                items:
                  type: string
                type: array
            text/json:
              schema:
                items:
                  type: string
                type: array
[...]
