openapi: 3.0.1
info:
  description: The Microsoft Azure Network management API provides a RESTful set of
    web services that interact with Microsoft Azure Networks service to manage your
    network resources. The API has entities that capture the relationship between
    an end user and the Microsoft Azure Networks service.
  title: NetworkManagementClient
  version: 2018-08-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/network/resource-manager/Microsoft.Network/stable/2018-08-01/checkDnsAvailability.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: network-checkDnsAvailability
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/locations/{location}/CheckDnsNameAvailability:
    get:
      description: Checks whether a domain name in the cloudapp.azure.com zone is
        available for use.
      operationId: CheckDnsNameAvailability
      parameters:
      - description: The location of the domain name.
        in: path
        name: location
        required: true
        schema:
          type: string
      - description: "The domain name to be verified. It must conform to the following\
          \ regular expression: ^[a-z][a-z0-9-]{1,61}[a-z0-9]$."
        in: query
        name: domainNameLabel
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DnsNameAvailabilityResult'
          description: Request successful. Returns whether the DNS name is available.
      x-ms-examples:
        Check Dns Name Availability:
          parameters:
            api-version: 2018-08-01
            domainNameLabel: testdns
            location: westus
            subscriptionId: subid
          responses:
            "200":
              body:
                available: false
      x-accepts:
      - application/json
components:
  schemas:
    DnsNameAvailabilityResult:
      description: Response for the CheckDnsNameAvailability API service call.
      example:
        available: true
      properties:
        available:
          description: Domain availability (True/False).
          type: boolean
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

