openapi: 3.0.3
info:
  contact: {}
  description: |-
    Hello and welcome!

    To make use of this API collection collection as it's written, please duplicate [this database template](https://www.notion.so/8e2c2b769e1d47d287b9ed3035d607ae?v=dc1b92875fb94f10834ba8d36549bd2a).

    [Create an integration](https://www.notion.so/my-integrations) to retrieve an API token, add your database and page ID's as variables in the collection, and start making your requests!

    For our full documentation, including sample integrations and guides, visit [developers.notion.com](developers.notion.com)

    Need more help? Join our [developer community on Slack](https://join.slack.com/t/notiondevs/shared_invite/zt-lkrnk74h-YmPRroySRFGiqgjI193AqA/)
  title: Notion API
  version: 1.0.0
  x-apisguru-categories:
  - collaboration
  x-logo:
    url: https://notion.com/front-static/logo-ios.png
  x-origin:
  - format: postman
    url: https://www.postman.com/collections/15568543-d990f9b7-98d3-47d3-9131-4866ab9c6df2
    version: 2.x
  x-providerName: notion.com
servers:
- url: https://api.notion.com
tags:
- name: Users
- name: Databases
- name: Pages
- name: Blocks
- name: Search
- name: Comments
paths:
  /v1/blocks/{id}:
    delete:
      description: Delete a block
      operationId: deleteABlock
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          example: "{{BLOCK_ID}}"
          type: string
        style: simple
      - explode: false
        in: header
        name: Notion-Version
        required: false
        schema:
          example: "{{NOTION_VERSION}}"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                "200 Success - Delete a block":
                  value:
                    archived: true
                    created_by:
                      id: 6794760a-1f15-45cd-9c65-0dfe42f5135a
                      object: user
                    created_time: 2021-08-06T17:46:00.000Z
                    has_children: false
                    id: 4868767d-9029-4b9d-a41b-652ef4c9c7b9
                    last_edited_by:
                      id: 92a680bb-6970-4726-952b-4f4c03bff617
                      object: user
                    last_edited_time: 2022-02-24T22:26:00.000Z
                    object: block
                    paragraph:
                      text:
                      - annotations:
                          bold: false
                          code: false
                          color: default
                          italic: false
                          strikethrough: false
                          underline: false
                        href: null
                        plain_text: hello to you
                        text:
                          content: hello to you
                          link: null
                        type: text
                    type: paragraph
              schema:
                $ref: '#/components/schemas/deleteABlock_200_response'
          description: 200 Success - Delete a block
          headers:
            CF-Cache-Status:
              explode: false
              schema:
                example: DYNAMIC
                type: string
              style: simple
            CF-RAY:
              explode: false
              schema:
                example: 6e2c1dcfdbf0255c-SJC
                type: string
              style: simple
            Connection:
              explode: false
              schema:
                example: keep-alive
                type: string
              style: simple
            Content-Encoding:
              explode: false
              schema:
                example: gzip
                type: string
              style: simple
            Content-Security-Policy:
              explode: false
              schema:
                example: "script-src 'self' 'unsafe-inline' 'unsafe-eval' https://gist.github.com\
                  \ https://apis.google.com https://cdn.amplitude.com https://api.amplitude.com\
                  \ https://hkfxbbdzib.notion.so https://widget.intercom.io https://js.intercomcdn.com\
                  \ https://logs-01.loggly.com https://cdn.segment.com https://analytics.pgncs.notion.so\
                  \ https://o324374.ingest.sentry.io https://checkout.stripe.com https://js.stripe.com\
                  \ https://embed.typeform.com https://admin.typeform.com https://public.profitwell.com\
                  \ js.sentry-cdn.com https://js.chilipiper.com https://platform.twitter.com\
                  \ https://cdn.syndication.twimg.com; connect-src 'self' https://msgstore.www.notion.so\
                  \ wss://msgstore.www.notion.so ws://localhost:* ws://127.0.0.1:*\
                  \ https://notion-emojis.s3-us-west-2.amazonaws.com https://s3-us-west-2.amazonaws.com\
                  \ https://s3.us-west-2.amazonaws.com https://notion-production-snapshots-2.s3.us-west-2.amazonaws.com\
                  \ https: http: https://cdn.amplitude.com https://api.amplitude.com\
                  \ https://hkfxbbdzib.notion.so https://api.embed.ly https://js.intercomcdn.com\
                  \ https://api-iam.intercom.io wss://nexus-websocket-a.intercom.io\
                  \ https://logs-01.loggly.com https://cdn.segment.com https://api.segment.io\
                  \ https://analytics.pgncs.notion.so https://api.pgncs.notion.so\
                  \ https://o324374.ingest.sentry.io https://checkout.stripe.com https://js.stripe.com\
                  \ https://cdn.contentful.com https://preview.contentful.com https://images.ctfassets.net\
                  \ https://www2.profitwell.com https://tracking.chilipiper.com https://api.chilipiper.com\
                  \ https://api.unsplash.com https://boards-api.greenhouse.io https://api.statuspage.io\
                  \ https://pgncd.notion.so https://api.statsig.com; font-src 'self'\
                  \ data: https://cdnjs.cloudflare.com https://js.intercomcdn.com;\
                  \ img-src 'self' data: blob: https: https://platform.twitter.com\
                  \ https://syndication.twitter.com https://pbs.twimg.com https://ton.twimg.com;\
                  \ style-src 'self' 'unsafe-inline' https://cdnjs.cloudflare.com\
                  \ https://github.githubassets.com https://js.chilipiper.com https://platform.twitter.com\
                  \ https://ton.twimg.com; frame-src https: http:; media-src https:\
                  \ http:"
                type: string
              style: simple
            Date:
              explode: false
              schema:
                example: "Thu, 24 Feb 2022 22:26:40 GMT"
                type: string
              style: simple
            ETag:
              explode: false
              schema:
                example: W/"258-nR8cSrr3A4mS1zWlKjaHASxX/tQ"
                type: string
              style: simple
            Expect-CT:
              explode: false
              schema:
                example: "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\""
                type: string
              style: simple
            Referrer-Policy:
              explode: false
              schema:
                example: same-origin
                type: string
              style: simple
            Server:
              explode: false
              schema:
                example: cloudflare
                type: string
              style: simple
            Set-Cookie:
              explode: false
              schema:
                example: "notion_check_cookie_consent=false; Domain=www.notion.so;\
                  \ Path=/; Expires=Fri, 25 Feb 2022 22:26:36 GMT; Secure"
                type: string
              style: simple
            Strict-Transport-Security:
              explode: false
              schema:
                example: max-age=5184000; includeSubDomains
                type: string
              style: simple
            Transfer-Encoding:
              explode: false
              schema:
                example: chunked
                type: string
              style: simple
            Vary:
              explode: false
              schema:
                example: Accept-Encoding
                type: string
              style: simple
            X-Content-Security-Policy:
              explode: false
              schema:
                example: "script-src 'self' 'unsafe-inline' 'unsafe-eval' https://gist.github.com\
                  \ https://apis.google.com https://cdn.amplitude.com https://api.amplitude.com\
                  \ https://hkfxbbdzib.notion.so https://widget.intercom.io https://js.intercomcdn.com\
                  \ https://logs-01.loggly.com https://cdn.segment.com https://analytics.pgncs.notion.so\
                  \ https://o324374.ingest.sentry.io https://checkout.stripe.com https://js.stripe.com\
                  \ https://embed.typeform.com https://admin.typeform.com https://public.profitwell.com\
                  \ js.sentry-cdn.com https://js.chilipiper.com https://platform.twitter.com\
                  \ https://cdn.syndication.twimg.com; connect-src 'self' https://msgstore.www.notion.so\
                  \ wss://msgstore.www.notion.so ws://localhost:* ws://127.0.0.1:*\
                  \ https://notion-emojis.s3-us-west-2.amazonaws.com https://s3-us-west-2.amazonaws.com\
                  \ https://s3.us-west-2.amazonaws.com https://notion-production-snapshots-2.s3.us-west-2.amazonaws.com\
                  \ https: http: https://cdn.amplitude.com https://api.amplitude.com\
                  \ https://hkfxbbdzib.notion.so https://api.embed.ly https://js.intercomcdn.com\
                  \ https://api-iam.intercom.io wss://nexus-websocket-a.intercom.io\
                  \ https://logs-01.loggly.com https://cdn.segment.com https://api.segment.io\
                  \ https://analytics.pgncs.notion.so https://api.pgncs.notion.so\
                  \ https://o324374.ingest.sentry.io https://checkout.stripe.com https://js.stripe.com\
                  \ https://cdn.contentful.com https://preview.contentful.com https://images.ctfassets.net\
                  \ https://www2.profitwell.com https://tracking.chilipiper.com https://api.chilipiper.com\
                  \ https://api.unsplash.com https://boards-api.greenhouse.io https://api.statuspage.io\
                  \ https://pgncd.notion.so https://api.statsig.com; font-src 'self'\
                  \ data: https://cdnjs.cloudflare.com https://js.intercomcdn.com;\
                  \ img-src 'self' data: blob: https: https://platform.twitter.com\
                  \ https://syndication.twitter.com https://pbs.twimg.com https://ton.twimg.com;\
                  \ style-src 'self' 'unsafe-inline' https://cdnjs.cloudflare.com\
                  \ https://github.githubassets.com https://js.chilipiper.com https://platform.twitter.com\
                  \ https://ton.twimg.com; frame-src https: http:; media-src https:\
                  \ http:"
                type: string
              style: simple
            X-Content-Type-Options:
              explode: false
              schema:
                example: nosniff
                type: string
              style: simple
            X-DNS-Prefetch-Control:
              explode: false
              schema:
                example: "false"
                type: string
              style: simple
            X-Download-Options:
              explode: false
              schema:
                example: noopen
                type: string
              style: simple
            X-Frame-Options:
              explode: false
              schema:
                example: SAMEORIGIN
                type: string
              style: simple
            X-WebKit-CSP:
              explode: false
              schema:
                example: "script-src 'self' 'unsafe-inline' 'unsafe-eval' https://gist.github.com\
                  \ https://apis.google.com https://cdn.amplitude.com https://api.amplitude.com\
                  \ https://hkfxbbdzib.notion.so https://widget.intercom.io https://js.intercomcdn.com\
                  \ https://logs-01.loggly.com https://cdn.segment.com https://analytics.pgncs.notion.so\
                  \ https://o324374.ingest.sentry.io https://checkout.stripe.com https://js.stripe.com\
                  \ https://embed.typeform.com https://admin.typeform.com https://public.profitwell.com\
                  \ js.sentry-cdn.com https://js.chilipiper.com https://platform.twitter.com\
                  \ https://cdn.syndication.twimg.com; connect-src 'self' https://msgstore.www.notion.so\
                  \ wss://msgstore.www.notion.so ws://localhost:* ws://127.0.0.1:*\
                  \ https://notion-emojis.s3-us-west-2.amazonaws.com https://s3-us-west-2.amazonaws.com\
                  \ https://s3.us-west-2.amazonaws.com https://notion-production-snapshots-2.s3.us-west-2.amazonaws.com\
                  \ https: http: https://cdn.amplitude.com https://api.amplitude.com\
                  \ https://hkfxbbdzib.notion.so https://api.embed.ly https://js.intercomcdn.com\
                  \ https://api-iam.intercom.io wss://nexus-websocket-a.intercom.io\
                  \ https://logs-01.loggly.com https://cdn.segment.com https://api.segment.io\
                  \ https://analytics.pgncs.notion.so https://api.pgncs.notion.so\
                  \ https://o324374.ingest.sentry.io https://checkout.stripe.com https://js.stripe.com\
                  \ https://cdn.contentful.com https://preview.contentful.com https://images.ctfassets.net\
                  \ https://www2.profitwell.com https://tracking.chilipiper.com https://api.chilipiper.com\
                  \ https://api.unsplash.com https://boards-api.greenhouse.io https://api.statuspage.io\
                  \ https://pgncd.notion.so https://api.statsig.com; font-src 'self'\
                  \ data: https://cdnjs.cloudflare.com https://js.intercomcdn.com;\
                  \ img-src 'self' data: blob: https: https://platform.twitter.com\
                  \ https://syndication.twitter.com https://pbs.twimg.com https://ton.twimg.com;\
                  \ style-src 'self' 'unsafe-inline' https://cdnjs.cloudflare.com\
                  \ https://github.githubassets.com https://js.chilipiper.com https://platform.twitter.com\
                  \ https://ton.twimg.com; frame-src https: http:; media-src https:\
                  \ http:"
                type: string
              style: simple
            X-XSS-Protection:
              explode: false
              schema:
                example: 1; mode=block
                type: string
              style: simple
      summary: Delete a block
      tags:
      - Blocks
      x-accepts:
      - application/json
    get:
      description: Retrieve a block
      operationId: retrieveABlock
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          example: "{{BLOCK_ID}}"
          type: string
        style: simple
      - explode: false
        in: header
        name: Notion-Version
        required: false
        schema:
          example: "{{NOTION_VERSION}}"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                "200 Success - Retrieve a block":
                  value:
                    created_time: 2021-08-06T17:46:00.000Z
                    has_children: false
                    id: 4868767d-9029-4b9d-a41b-652ef4c9c7b9
                    last_edited_time: 2021-08-12T00:12:00.000Z
                    object: block
                    paragraph:
                      text:
                      - annotations:
                          bold: false
                          code: false
                          color: default
                          italic: false
                          strikethrough: false
                          underline: false
                        href: null
                        plain_text: hello to you
                        text:
                          content: hello to you
                          link: null
                        type: text
                    type: paragraph
              schema:
                $ref: '#/components/schemas/retrieveABlock_200_response'
          description: 200 Success - Retrieve a block
          headers:
            CF-Cache-Status:
              explode: false
              schema:
                example: DYNAMIC
                type: string
              style: simple
            CF-RAY:
              explode: false
              schema:
                example: 67d58148ef562544-SJC
                type: string
              style: simple
            Connection:
              explode: false
              schema:
                example: keep-alive
                type: string
              style: simple
            Content-Encoding:
              explode: false
              schema:
                example: gzip
                type: string
              style: simple
            Content-Security-Policy:
              explode: false
              schema:
                example: "script-src 'self' 'unsafe-inline' 'unsafe-eval' https://gist.github.com\
                  \ https://apis.google.com https://api.amplitude.com https://widget.intercom.io\
                  \ https://js.intercomcdn.com https://logs-01.loggly.com https://cdn.segment.com\
                  \ https://analytics.pgncs.notion.so https://o324374.ingest.sentry.io\
                  \ https://checkout.stripe.com https://js.stripe.com https://embed.typeform.com\
                  \ https://admin.typeform.com https://public.profitwell.com js.sentry-cdn.com\
                  \ https://platform.twitter.com https://cdn.syndication.twimg.com\
                  \ https://www.googletagmanager.com https://x.clearbitjs.com https://client-registry.mutinycdn.com\
                  \ https://client.mutinycdn.com/ https://user-data.mutinycdn.com;\
                  \ connect-src 'self' https://msgstore.www.notion.so wss://msgstore.www.notion.so\
                  \ ws://localhost:* https://notion-emojis.s3-us-west-2.amazonaws.com\
                  \ https://s3-us-west-2.amazonaws.com https://s3.us-west-2.amazonaws.com\
                  \ https://notion-production-snapshots-2.s3.us-west-2.amazonaws.com\
                  \ https: http: https://api.amplitude.com https://api.embed.ly https://js.intercomcdn.com\
                  \ https://api-iam.intercom.io wss://nexus-websocket-a.intercom.io\
                  \ https://logs-01.loggly.com https://cdn.segment.com https://api.segment.io\
                  \ https://api.pgncs.notion.so https://o324374.ingest.sentry.io https://checkout.stripe.com\
                  \ https://js.stripe.com https://cdn.contentful.com https://preview.contentful.com\
                  \ https://images.ctfassets.net https://www2.profitwell.com https://api.unsplash.com\
                  \ https://boards-api.greenhouse.io https://user-data.mutinycdn.com\
                  \ https://api-v2.mutinyhq.io https://api.statuspage.io; font-src\
                  \ 'self' data: https://cdnjs.cloudflare.com https://js.intercomcdn.com;\
                  \ img-src 'self' data: blob: https: https://platform.twitter.com\
                  \ https://syndication.twitter.com https://pbs.twimg.com https://ton.twimg.com\
                  \ www.googletagmanager.com; style-src 'self' 'unsafe-inline' https://cdnjs.cloudflare.com\
                  \ https://github.githubassets.com https://platform.twitter.com https://ton.twimg.com;\
                  \ frame-src https: http:; media-src https: http:"
                type: string
              style: simple
            Date:
              explode: false
              schema:
                example: "Thu, 12 Aug 2021 00:14:42 GMT"
                type: string
              style: simple
            ETag:
              explode: false
              schema:
                example: W/"1ae-RFHXdRIvpQZuh0kRKb9XuWbFwzo"
                type: string
              style: simple
            Expect-CT:
              explode: false
              schema:
                example: "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\""
                type: string
              style: simple
            Referrer-Policy:
              explode: false
              schema:
                example: same-origin
                type: string
              style: simple
            Server:
              explode: false
              schema:
                example: cloudflare
                type: string
              style: simple
            Set-Cookie:
              explode: false
              schema:
                example: "notion_browser_id=e557ec39-01fc-4a4e-84a1-0a6b1ab4a579;\
                  \ Domain=www.notion.so; Path=/; Expires=Sun, 20 Apr 2053 02:01:22\
                  \ GMT; Secure"
                type: string
              style: simple
            Strict-Transport-Security:
              explode: false
              schema:
                example: max-age=5184000; includeSubDomains
                type: string
              style: simple
            Transfer-Encoding:
              explode: false
              schema:
                example: chunked
                type: string
              style: simple
            Vary:
              explode: false
              schema:
                example: Accept-Encoding
                type: string
              style: simple
            X-Content-Security-Policy:
              explode: false
              schema:
                example: "script-src 'self' 'unsafe-inline' 'unsafe-eval' https://gist.github.com\
                  \ https://apis.google.com https://api.amplitude.com https://widget.intercom.io\
                  \ https://js.intercomcdn.com https://logs-01.loggly.com https://cdn.segment.com\
                  \ https://analytics.pgncs.notion.so https://o324374.ingest.sentry.io\
                  \ https://checkout.stripe.com https://js.stripe.com https://embed.typeform.com\
                  \ https://admin.typeform.com https://public.profitwell.com js.sentry-cdn.com\
                  \ https://platform.twitter.com https://cdn.syndication.twimg.com\
                  \ https://www.googletagmanager.com https://x.clearbitjs.com https://client-registry.mutinycdn.com\
                  \ https://client.mutinycdn.com/ https://user-data.mutinycdn.com;\
                  \ connect-src 'self' https://msgstore.www.notion.so wss://msgstore.www.notion.so\
                  \ ws://localhost:* https://notion-emojis.s3-us-west-2.amazonaws.com\
                  \ https://s3-us-west-2.amazonaws.com https://s3.us-west-2.amazonaws.com\
                  \ https://notion-production-snapshots-2.s3.us-west-2.amazonaws.com\
                  \ https: http: https://api.amplitude.com https://api.embed.ly https://js.intercomcdn.com\
                  \ https://api-iam.intercom.io wss://nexus-websocket-a.intercom.io\
                  \ https://logs-01.loggly.com https://cdn.segment.com https://api.segment.io\
                  \ https://api.pgncs.notion.so https://o324374.ingest.sentry.io https://checkout.stripe.com\
                  \ https://js.stripe.com https://cdn.contentful.com https://preview.contentful.com\
                  \ https://images.ctfassets.net https://www2.profitwell.com https://api.unsplash.com\
                  \ https://boards-api.greenhouse.io https://user-data.mutinycdn.com\
                  \ https://api-v2.mutinyhq.io https://api.statuspage.io; font-src\
                  \ 'self' data: https://cdnjs.cloudflare.com https://js.intercomcdn.com;\
                  \ img-src 'self' data: blob: https: https://platform.twitter.com\
                  \ https://syndication.twitter.com https://pbs.twimg.com https://ton.twimg.com\
                  \ www.googletagmanager.com; style-src 'self' 'unsafe-inline' https://cdnjs.cloudflare.com\
                  \ https://github.githubassets.com https://platform.twitter.com https://ton.twimg.com;\
                  \ frame-src https: http:; media-src https: http:"
                type: string
              style: simple
            X-Content-Type-Options:
              explode: false
              schema:
                example: nosniff
                type: string
              style: simple
            X-DNS-Prefetch-Control:
              explode: false
              schema:
                example: "false"
                type: string
              style: simple
            X-Download-Options:
              explode: false
              schema:
                example: noopen
                type: string
              style: simple
            X-Frame-Options:
              explode: false
              schema:
                example: SAMEORIGIN
                type: string
              style: simple
            X-WebKit-CSP:
              explode: false
              schema:
                example: "script-src 'self' 'unsafe-inline' 'unsafe-eval' https://gist.github.com\
                  \ https://apis.google.com https://api.amplitude.com https://widget.intercom.io\
                  \ https://js.intercomcdn.com https://logs-01.loggly.com https://cdn.segment.com\
                  \ https://analytics.pgncs.notion.so https://o324374.ingest.sentry.io\
                  \ https://checkout.stripe.com https://js.stripe.com https://embed.typeform.com\
                  \ https://admin.typeform.com https://public.profitwell.com js.sentry-cdn.com\
                  \ https://platform.twitter.com https://cdn.syndication.twimg.com\
                  \ https://www.googletagmanager.com https://x.clearbitjs.com https://client-registry.mutinycdn.com\
                  \ https://client.mutinycdn.com/ https://user-data.mutinycdn.com;\
                  \ connect-src 'self' https://msgstore.www.notion.so wss://msgstore.www.notion.so\
                  \ ws://localhost:* https://notion-emojis.s3-us-west-2.amazonaws.com\
                  \ https://s3-us-west-2.amazonaws.com https://s3.us-west-2.amazonaws.com\
                  \ https://notion-production-snapshots-2.s3.us-west-2.amazonaws.com\
                  \ https: http: https://api.amplitude.com https://api.embed.ly https://js.intercomcdn.com\
                  \ https://api-iam.intercom.io wss://nexus-websocket-a.intercom.io\
                  \ https://logs-01.loggly.com https://cdn.segment.com https://api.segment.io\
                  \ https://api.pgncs.notion.so https://o324374.ingest.sentry.io https://checkout.stripe.com\
                  \ https://js.stripe.com https://cdn.contentful.com https://preview.contentful.com\
                  \ https://images.ctfassets.net https://www2.profitwell.com https://api.unsplash.com\
                  \ https://boards-api.greenhouse.io https://user-data.mutinycdn.com\
                  \ https://api-v2.mutinyhq.io https://api.statuspage.io; font-src\
                  \ 'self' data: https://cdnjs.cloudflare.com https://js.intercomcdn.com;\
                  \ img-src 'self' data: blob: https: https://platform.twitter.com\
                  \ https://syndication.twitter.com https://pbs.twimg.com https://ton.twimg.com\
                  \ www.googletagmanager.com; style-src 'self' 'unsafe-inline' https://cdnjs.cloudflare.com\
                  \ https://github.githubassets.com https://platform.twitter.com https://ton.twimg.com;\
                  \ frame-src https: http:; media-src https: http:"
                type: string
              style: simple
            X-XSS-Protection:
              explode: false
              schema:
                example: 1; mode=block
                type: string
              style: simple
      summary: Retrieve a block
      tags:
      - Blocks
      x-accepts:
      - application/json
    patch:
      description: "This endpoint allows you to update block content. [See Full Documentation](https://developers.notion.com/reference/update-a-block)"
      operationId: updateABlock
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          example: "{{BLOCK_ID}}"
          type: string
        style: simple
      - explode: false
        in: header
        name: Notion-Version
        required: false
        schema:
          example: "{{NOTION_VERSION}}"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              paragraph:
                rich_text:
                - text:
                    content: hello to you
                  type: text
            schema:
              $ref: '#/components/schemas/updateABlock_request'
      responses:
        "200":
          content:
            application/json:
              examples:
                "200 Success - Update a block":
                  value:
                    created_time: 2021-08-06T17:46:00.000Z
                    has_children: false
                    id: 4868767d-9029-4b9d-a41b-652ef4c9c7b9
                    last_edited_time: 2021-08-12T00:12:00.000Z
                    object: block
                    paragraph:
                      text:
                      - annotations:
                          bold: false
                          code: false
                          color: default
                          italic: false
                          strikethrough: false
                          underline: false
                        href: null
                        plain_text: hello to you
                        text:
                          content: hello to you
                          link: null
                        type: text
                    type: paragraph
              schema:
                $ref: '#/components/schemas/retrieveABlock_200_response'
          description: 200 Success - Update a block
          headers:
            CF-Cache-Status:
              explode: false
              schema:
                example: DYNAMIC
                type: string
              style: simple
            CF-RAY:
              explode: false
              schema:
                example: 67d57e86ea672544-SJC
                type: string
              style: simple
            Connection:
              explode: false
              schema:
                example: keep-alive
                type: string
              style: simple
            Content-Encoding:
              explode: false
              schema:
                example: gzip
                type: string
              style: simple
            Content-Security-Policy:
              explode: false
              schema:
                example: "script-src 'self' 'unsafe-inline' 'unsafe-eval' https://gist.github.com\
                  \ https://apis.google.com https://api.amplitude.com https://widget.intercom.io\
                  \ https://js.intercomcdn.com https://logs-01.loggly.com https://cdn.segment.com\
                  \ https://analytics.pgncs.notion.so https://o324374.ingest.sentry.io\
                  \ https://checkout.stripe.com https://js.stripe.com https://embed.typeform.com\
                  \ https://admin.typeform.com https://public.profitwell.com js.sentry-cdn.com\
                  \ https://platform.twitter.com https://cdn.syndication.twimg.com\
                  \ https://www.googletagmanager.com https://x.clearbitjs.com https://client-registry.mutinycdn.com\
                  \ https://client.mutinycdn.com/ https://user-data.mutinycdn.com;\
                  \ connect-src 'self' https://msgstore.www.notion.so wss://msgstore.www.notion.so\
                  \ ws://localhost:* https://notion-emojis.s3-us-west-2.amazonaws.com\
                  \ https://s3-us-west-2.amazonaws.com https://s3.us-west-2.amazonaws.com\
                  \ https://notion-production-snapshots-2.s3.us-west-2.amazonaws.com\
                  \ https: http: https://api.amplitude.com https://api.embed.ly https://js.intercomcdn.com\
                  \ https://api-iam.intercom.io wss://nexus-websocket-a.intercom.io\
                  \ https://logs-01.loggly.com https://cdn.segment.com https://api.segment.io\
                  \ https://api.pgncs.notion.so https://o324374.ingest.sentry.io https://checkout.stripe.com\
                  \ https://js.stripe.com https://cdn.contentful.com https://preview.contentful.com\
                  \ https://images.ctfassets.net https://www2.profitwell.com https://api.unsplash.com\
                  \ https://boards-api.greenhouse.io https://user-data.mutinycdn.com\
                  \ https://api-v2.mutinyhq.io https://api.statuspage.io; font-src\
                  \ 'self' data: https://cdnjs.cloudflare.com https://js.intercomcdn.com;\
                  \ img-src 'self' data: blob: https: https://platform.twitter.com\
                  \ https://syndication.twitter.com https://pbs.twimg.com https://ton.twimg.com\
                  \ www.googletagmanager.com; style-src 'self' 'unsafe-inline' https://cdnjs.cloudflare.com\
                  \ https://github.githubassets.com https://platform.twitter.com https://ton.twimg.com;\
                  \ frame-src https: http:; media-src https: http:"
                type: string
              style: simple
            Date:
              explode: false
              schema:
                example: "Thu, 12 Aug 2021 00:12:49 GMT"
                type: string
              style: simple
            ETag:
              explode: false
              schema:
                example: W/"1ae-RFHXdRIvpQZuh0kRKb9XuWbFwzo"
                type: string
              style: simple
            Expect-CT:
              explode: false
              schema:
                example: "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\""
                type: string
              style: simple
            Referrer-Policy:
              explode: false
              schema:
                example: same-origin
                type: string
              style: simple
            Server:
              explode: false
              schema:
                example: cloudflare
                type: string
              style: simple
            Set-Cookie:
              explode: false
              schema:
                example: "notion_browser_id=72dd4057-624e-4aa3-80c6-ab911ed059b7;\
                  \ Domain=www.notion.so; Path=/; Expires=Sun, 20 Apr 2053 01:59:29\
                  \ GMT; Secure"
                type: string
              style: simple
            Strict-Transport-Security:
              explode: false
              schema:
                example: max-age=5184000; includeSubDomains
                type: string
              style: simple
            Transfer-Encoding:
              explode: false
              schema:
                example: chunked
                type: string
              style: simple
            Vary:
              explode: false
              schema:
                example: Accept-Encoding
                type: string
              style: simple
            X-Content-Security-Policy:
              explode: false
              schema:
                example: "script-src 'self' 'unsafe-inline' 'unsafe-eval' https://gist.github.com\
                  \ https://apis.google.com https://api.amplitude.com https://widget.intercom.io\
                  \ https://js.intercomcdn.com https://logs-01.loggly.com https://cdn.segment.com\
                  \ https://analytics.pgncs.notion.so https://o324374.ingest.sentry.io\
                  \ https://checkout.stripe.com https://js.stripe.com https://embed.typeform.com\
                  \ https://admin.typeform.com https://public.profitwell.com js.sentry-cdn.com\
                  \ https://platform.twitter.com https://cdn.syndication.twimg.com\
                  \ https://www.googletagmanager.com https://x.clearbitjs.com https://client-registry.mutinycdn.com\
                  \ https://client.mutinycdn.com/ https://user-data.mutinycdn.com;\
                  \ connect-src 'self' https://msgstore.www.notion.so wss://msgstore.www.notion.so\
                  \ ws://localhost:* https://notion-emojis.s3-us-west-2.amazonaws.com\
                  \ https://s3-us-west-2.amazonaws.com https://s3.us-west-2.amazonaws.com\
                  \ https://notion-production-snapshots-2.s3.us-west-2.amazonaws.com\
                  \ https: http: https://api.amplitude.com https://api.embed.ly https://js.intercomcdn.com\
                  \ https://api-iam.intercom.io wss://nexus-websocket-a.intercom.io\
                  \ https://logs-01.loggly.com https://cdn.segment.com https://api.segment.io\
                  \ https://api.pgncs.notion.so https://o324374.ingest.sentry.io https://checkout.stripe.com\
                  \ https://js.stripe.com https://cdn.contentful.com https://preview.contentful.com\
                  \ https://images.ctfassets.net https://www2.profitwell.com https://api.unsplash.com\
                  \ https://boards-api.greenhouse.io https://user-data.mutinycdn.com\
                  \ https://api-v2.mutinyhq.io https://api.statuspage.io; font-src\
                  \ 'self' data: https://cdnjs.cloudflare.com https://js.intercomcdn.com;\
                  \ img-src 'self' data: blob: https: https://platform.twitter.com\
                  \ https://syndication.twitter.com https://pbs.twimg.com https://ton.twimg.com\
                  \ www.googletagmanager.com; style-src 'self' 'unsafe-inline' https://cdnjs.cloudflare.com\
                  \ https://github.githubassets.com https://platform.twitter.com https://ton.twimg.com;\
                  \ frame-src https: http:; media-src https: http:"
                type: string
              style: simple
            X-Content-Type-Options:
              explode: false
              schema:
                example: nosniff
                type: string
              style: simple
            X-DNS-Prefetch-Control:
              explode: false
              schema:
                example: "false"
                type: string
              style: simple
            X-Download-Options:
              explode: false
              schema:
                example: noopen
                type: string
              style: simple
            X-Frame-Options:
              explode: false
              schema:
                example: SAMEORIGIN
                type: string
              style: simple
            X-WebKit-CSP:
              explode: false
              schema:
                example: "script-src 'self' 'unsafe-inline' 'unsafe-eval' https://gist.github.com\
                  \ https://apis.google.com https://api.amplitude.com https://widget.intercom.io\
                  \ https://js.intercomcdn.com https://logs-01.loggly.com https://cdn.segment.com\
                  \ https://analytics.pgncs.notion.so https://o324374.ingest.sentry.io\
                  \ https://checkout.stripe.com https://js.stripe.com https://embed.typeform.com\
                  \ https://admin.typeform.com https://public.profitwell.com js.sentry-cdn.com\
                  \ https://platform.twitter.com https://cdn.syndication.twimg.com\
                  \ https://www.googletagmanager.com https://x.clearbitjs.com https://client-registry.mutinycdn.com\
                  \ https://client.mutinycdn.com/ https://user-data.mutinycdn.com;\
                  \ connect-src 'self' https://msgstore.www.notion.so wss://msgstore.www.notion.so\
                  \ ws://localhost:* https://notion-emojis.s3-us-west-2.amazonaws.com\
                  \ https://s3-us-west-2.amazonaws.com https://s3.us-west-2.amazonaws.com\
                  \ https://notion-production-snapshots-2.s3.us-west-2.amazonaws.com\
                  \ https: http: https://api.amplitude.com https://api.embed.ly https://js.intercomcdn.com\
                  \ https://api-iam.intercom.io wss://nexus-websocket-a.intercom.io\
                  \ https://logs-01.loggly.com https://cdn.segment.com https://api.segment.io\
                  \ https://api.pgncs.notion.so https://o324374.ingest.sentry.io https://checkout.stripe.com\
                  \ https://js.stripe.com https://cdn.contentful.com https://preview.contentful.com\
                  \ https://images.ctfassets.net https://www2.profitwell.com https://api.unsplash.com\
                  \ https://boards-api.greenhouse.io https://user-data.mutinycdn.com\
                  \ https://api-v2.mutinyhq.io https://api.statuspage.io; font-src\
                  \ 'self' data: https://cdnjs.cloudflare.com https://js.intercomcdn.com;\
                  \ img-src 'self' data: blob: https: https://platform.twitter.com\
                  \ https://syndication.twitter.com https://pbs.twimg.com https://ton.twimg.com\
                  \ www.googletagmanager.com; style-src 'self' 'unsafe-inline' https://cdnjs.cloudflare.com\
                  \ https://github.githubassets.com https://platform.twitter.com https://ton.twimg.com;\
                  \ frame-src https: http:; media-src https: http:"
                type: string
              style: simple
            X-XSS-Protection:
              explode: false
              schema:
                example: 1; mode=block
                type: string
              style: simple
      summary: Update a block
      tags:
      - Blocks
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/blocks/{id}/children:
    get:
      description: Retrieve block children
      operationId: retrieveBlockChildren
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          example: "{{PAGE_ID}}"
          type: string
        style: simple
      - explode: true
        in: query
        name: page_size
        required: false
        schema:
          example: "100"
          type: string
        style: form
      - explode: false
        in: header
        name: Notion-Version
        required: false
        schema:
          example: "{{NOTION_VERSION}}"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                "200 Success - Retrieve block children":
                  value:
                    has_more: false
                    next_cursor: null
                    object: list
                    results:
                    - created_time: 2021-04-27T20:38:19.437Z
                      has_children: false
                      id: 48c1ffb5-2789-4025-937b-2c35eaaaab3f
                      last_edited_time: 2021-04-27T20:38:19.437Z
                      object: block
                      type: unsupported
                      unsupported: {}
                    - created_time: 2021-04-27T20:38:19.437Z
                      has_children: false
                      id: e381a0a3-4efb-4ba9-aa93-45b70fa9ce7f
                      last_edited_time: 2021-04-27T20:38:19.437Z
                      object: block
                      paragraph:
                        text:
                        - annotations:
                            bold: false
                            code: false
                            color: default
                            italic: false
                            strikethrough: false
                            underline: false
                          href: null
                          plain_text: I think we can all agree that Silicon Valley
                            needs more adult supervision right about now.
                          text:
                            content: I think we can all agree that Silicon Valley
                              needs more adult supervision right about now.
                            link: null
                          type: text
                      type: paragraph
                    - created_time: 2021-04-27T20:38:19.437Z
                      has_children: false
                      id: ce5f79ac-8145-44ab-be3b-8ad143d6f8a7
                      last_edited_time: 2021-04-27T20:38:19.437Z
                      object: block
                      paragraph:
                        text:
                        - annotations:
                            bold: false
                            code: false
                            color: default
                            italic: false
                            strikethrough: false
                            underline: false
                          href: null
                          plain_text: Is the solution for its companies to hire a
                            chief ethics officer?
                          text:
                            content: Is the solution for its companies to hire a chief
                              ethics officer?
                            link: null
                          type: text
                      type: paragraph
                    - created_time: 2021-04-27T20:38:19.437Z
                      has_children: false
                      id: 0387b374-7847-4ddc-bc53-6b0813ce4ed4
                      last_edited_time: 2021-04-27T20:38:19.437Z
                      object: block
                      paragraph:
                        text:
                        - annotations:
                            bold: false
                            code: false
                            color: default
                            italic: false
                            strikethrough: false
                            underline: false
                          href: null
                          plain_text: "While some tech companies like Google have\
                            \ top compliance officers and others turn to legal teams\
                            \ to police themselves, no big tech companies that I know\
                            \ of have yet taken this step. But a lot of them seem\
                            \ to be talking about it, and I’ve discussed the idea\
                            \ with several chief executives recently. Why? Because\
                            \ slowly, then all at once, it feels like too many digital\
                            \ leaders have lost their minds."
                          text:
                            content: "While some tech companies like Google have top\
                              \ compliance officers and others turn to legal teams\
                              \ to police themselves, no big tech companies that I\
                              \ know of have yet taken this step. But a lot of them\
                              \ seem to be talking about it, and I’ve discussed the\
                              \ idea with several chief executives recently. Why?\
                              \ Because slowly, then all at once, it feels like too\
                              \ many digital leaders have lost their minds."
                            link: null
                          type: text
                      type: paragraph
                    - created_time: 2021-04-27T20:38:19.437Z
                      has_children: false
                      id: da035311-5af3-48bc-8279-d28d9f4ef2e2
                      last_edited_time: 2021-04-27T20:38:19.437Z
                      object: block
                      paragraph:
                        text:
                        - annotations:
                            bold: false
                            code: false
                            color: default
                            italic: false
                            strikethrough: false
                            underline: false
                          href: null
                          plain_text: "It’s probably no surprise, considering the\
                            \ complex problems the tech industry faces. As one ethical\
                            \ quandary after another has hit its profoundly ill-prepared\
                            \ executives, their once-pristine reputations have fallen\
                            \ like palm trees in a hurricane. These last two weeks\
                            \ alone show how tech is stumbling to react to big world\
                            \ issues armed with only bubble world skills:"
                          text:
                            content: "It’s probably no surprise, considering the complex\
                              \ problems the tech industry faces. As one ethical quandary\
                              \ after another has hit its profoundly ill-prepared\
                              \ executives, their once-pristine reputations have fallen\
                              \ like palm trees in a hurricane. These last two weeks\
                              \ alone show how tech is stumbling to react to big world\
                              \ issues armed with only bubble world skills:"
                            link: null
                          type: text
                      type: paragraph
                    - created_time: 2021-04-27T20:38:19.437Z
                      has_children: false
                      id: 63a60fca-4a11-43eb-8773-c5f0164a3117
                      last_edited_time: 2021-04-27T20:38:19.437Z
                      object: block
                      paragraph:
                        text:
                        - annotations:
                            bold: false
                            code: false
                            color: default
                            italic: false
                            strikethrough: false
                            underline: false
                          href: null
                          plain_text: "As a journalist is beheaded and dismembered\
                            \ at the direction of Saudi Arabian leaders (allegedly,\
                            \ but the killers did bring a bone saw), Silicon Valley\
                            \ is swimming in oceans of money from the kingdom’s Public\
                            \ Investment Fund. Saudi funding includes hundreds of\
                            \ millions for Magic Leap, and huge investments in hot\
                            \ public companies like Tesla. Most significantly: Saudis\
                            \ have invested about $45 billion in SoftBank’s giant\
                            \ Vision Fund, which has in turn doused the tech landscape\
                            \ — $4.4 billion to WeWork, $250 million to Slack, and\
                            \ $300 million to the dog-walking app Wag. In total Uber\
                            \ has gotten almost $14 billion, either through direct\
                            \ investments from the Public Investment Fund or through\
                            \ the Saudis’ funding of the Vision Fund. A billion here,\
                            \ a billion there and it all adds up."
                          text:
                            content: "As a journalist is beheaded and dismembered\
                              \ at the direction of Saudi Arabian leaders (allegedly,\
                              \ but the killers did bring a bone saw), Silicon Valley\
                              \ is swimming in oceans of money from the kingdom’s\
                              \ Public Investment Fund. Saudi funding includes hundreds\
                              \ of millions for Magic Leap, and huge investments in\
                              \ hot public companies like Tesla. Most significantly:\
                              \ Saudis have invested about $45 billion in SoftBank’\
                              s giant Vision Fund, which has in turn doused the tech\
                              \ landscape — $4.4 billion to WeWork, $250 million to\
                              \ Slack, and $300 million to the dog-walking app Wag.\
                              \ In total Uber has gotten almost $14 billion, either\
                              \ through direct investments from the Public Investment\
                              \ Fund or through the Saudis’ funding of the Vision\
                              \ Fund. A billion here, a billion there and it all adds\
                              \ up."
                            link: null
                          type: text
                      type: paragraph
                    - created_time: 2021-04-27T20:38:19.437Z
                      has_children: false
                      id: 8c58c8f1-86ae-4a14-b6b9-74f5fa579620
                      last_edited_time: 2021-04-27T20:38:19.437Z
                      object: block
                      paragraph:
                        text:
                        - annotations:
                            bold: false
                            code: false
                            color: default
                            italic: false
                            strikethrough: false
                            underline: false
                          href: null
                          plain_text: "["
                          text:
                            content: "["
                            link: null
                          type: text
                        - annotations:
                            bold: false
                            code: false
                            color: default
                            italic: true
                            strikethrough: false
                            underline: false
                          href: null
                          plain_text: 'Kara Swisher answered your questions about
                            her column '
                          text:
                            content: 'Kara Swisher answered your questions about her
                              column '
                            link: null
                          type: text
                        - annotations:
                            bold: false
                            code: false
                            color: default
                            italic: true
                            strikethrough: false
                            underline: false
                          href: https://twitter.com/karaswisher/status/1054842303922298880
                          plain_text: on Twitter
                          text:
                            content: on Twitter
                            link:
                              url: https://twitter.com/karaswisher/status/1054842303922298880
                          type: text
                        - annotations:
                            bold: false
                            code: false
                            color: default
                            italic: true
                            strikethrough: false
                            underline: false
                          href: null
                          plain_text: "."
                          text:
                            content: "."
                            link: null
                          type: text
                        - annotations:
                            bold: false
                            code: false
                            color: default
                            italic: false
                            strikethrough: false
                            underline: false
                          href: null
                          plain_text: "]"
                          text:
                            content: "]"
                            link: null
                          type: text
                      type: paragraph
                    - created_time: 2021-04-27T20:38:19.437Z
                      has_children: false
                      id: 875d3aff-086b-45da-9ed1-bc3ddb185229
                      last_edited_time: 2021-04-27T20:38:19.437Z
                      object: block
                      paragraph:
                        text:
                        - annotations:
                            bold: false
                            code: false
                            color: default
                            italic: false
                            strikethrough: false
                            underline: false
                          href: null
                          plain_text: "Facebook introduced a new home video device\
                            \ called Portal, and promised that what could be seen\
                            \ as a surveillance tool would not share data for the\
                            \ sake of ad targeting. Soon after, as "
                          text:
                            content: "Facebook introduced a new home video device\
                              \ called Portal, and promised that what could be seen\
                              \ as a surveillance tool would not share data for the\
                              \ sake of ad targeting. Soon after, as "
                            link: null
                          type: text
                        - annotations:
                            bold: false
                            code: false
                            color: default
                            italic: false
                            strikethrough: false
                            underline: false
                          href: https://www.recode.net/2018/10/16/17966102/facebook-portal-ad-targeting-data-collection
                          plain_text: reported by Recode
                          text:
                            content: reported by Recode
                            link:
                              url: https://www.recode.net/2018/10/16/17966102/facebook-portal-ad-targeting-data-collection
                          type: text
                        - annotations:
                            bold: false
                            code: false
                            color: default
                            italic: false
                            strikethrough: false
                            underline: false
                          href: null
                          plain_text: ", Facebook admitted that “data about who you\
                            \ call and data about which apps you use on Portal "
                          text:
                            content: ", Facebook admitted that “data about who you\
                              \ call and data about which apps you use on Portal "
                            link: null
                          type: text
                        - annotations:
                            bold: false
                            code: false
                            color: default
                            italic: true
                            strikethrough: false
                            underline: false
                          href: null
                          plain_text: can
                          text:
                            content: can
                            link: null
                          type: text
                        - annotations:
                            bold: false
                            code: false
                            color: default
                            italic: false
                            strikethrough: false
                            underline: false
                          href: null
                          plain_text: ' be used to target you with ads on other Facebook-owned
                            properties.” Oh. Um. That’s awkward.'
                          text:
                            content: ' be used to target you with ads on other Facebook-owned
                              properties.” Oh. Um. That’s awkward.'
                            link: null
                          type: text
                      type: paragraph
                    - created_time: 2021-04-27T20:38:19.437Z
                      has_children: false
                      id: 306ab0fb-6daa-4c5b-b1f7-f51a5f92b6ff
                      last_edited_time: 2021-04-27T20:38:19.437Z
                      object: block
                      paragraph:
                        text:
                        - annotations:
                            bold: false
                            code: false
                            color: default
                            italic: false
                            strikethrough: false
                            underline: false
                          href: null
                          plain_text: "After agreeing to pay $20 million to the Securities\
                            \ and Exchange Commission for an ill-advised tweet about\
                            \ possible funding (from the Saudis, by the way), the\
                            \ Tesla co-founder Elon Musk proceeded to troll the regulatory\
                            \ agency on, you got it, Twitter. And even though the "
                          text:
                            content: "After agreeing to pay $20 million to the Securities\
                              \ and Exchange Commission for an ill-advised tweet about\
                              \ possible funding (from the Saudis, by the way), the\
                              \ Tesla co-founder Elon Musk proceeded to troll the\
                              \ regulatory agency on, you got it, Twitter. And even\
                              \ though the "
                            link: null
                          type: text
                        - annotations:
                            bold: false
                            code: false
                            color: default
                            italic: false
                            strikethrough: false
                            underline: false
                          href: https://www.sec.gov/news/press-release/2018-226
                          plain_text: settlement called for some kind of control of
                            his communications
                          text:
                            content: settlement called for some kind of control of
                              his communications
                            link:
                              url: https://www.sec.gov/news/press-release/2018-226
                          type: text
                        - annotations:
                            bold: false
                            code: false
                            color: default
                            italic: false
                            strikethrough: false
                            underline: false
                          href: null
                          plain_text: ", it appears that Mr. Musk will continue tweeting\
                            \ until someone steals his phone."
                          text:
                            content: ", it appears that Mr. Musk will continue tweeting\
                              \ until someone steals his phone."
                            link: null
                          type: text
                      type: paragraph
                    - created_time: 2021-04-27T20:38:19.437Z
                      has_children: false
                      id: 122b1457-4129-4513-abaa-7cce7d66e4a1
                      last_edited_time: 2021-04-27T20:38:19.437Z
                      object: block
                      paragraph:
                        text:
                        - annotations:
                            bold: false
                            code: false
                            color: default
                            italic: false
                            strikethrough: false
                            underline: false
                          href: null
                          plain_text: "Finally, Google took six months to make public\
                            \ that user data on its social network, Google Plus, "
                          text:
                            content: "Finally, Google took six months to make public\
                              \ that user data on its social network, Google Plus, "
                            link: null
                          type: text
                        - annotations:
                            bold: false
                            code: false
                            color: default
                            italic: false
                            strikethrough: false
                            underline: false
                          href: https://www.nytimes.com/2018/10/08/technology/google-plus-security-disclosure.html?module=inline
                          plain_text: had been exposed
                          text:
                            content: had been exposed
                            link:
                              url: https://www.nytimes.com/2018/10/08/technology/google-plus-security-disclosure.html?module=inline
                          type: text
                        - annotations:
                            bold: false
                            code: false
                            color: default
                            italic: false
                            strikethrough: false
                            underline: false
                          href: null
                          plain_text: " and that profiles of up to 500,000 users may\
                            \ have been compromised. While the service failed long\
                            \ ago, because it was pretty much designed by antisocial\
                            \ people, this lack of concern for privacy was profound."
                          text:
                            content: " and that profiles of up to 500,000 users may\
                              \ have been compromised. While the service failed long\
                              \ ago, because it was pretty much designed by antisocial\
                              \ people, this lack of concern for privacy was profound."
                            link: null
                          type: text
                      type: paragraph
                    - created_time: 2021-04-27T20:38:19.437Z
                      has_children: false
                      id: 4d4af599-556f-4d8b-af8e-4d01ebe2aa27
                      last_edited_time: 2021-04-27T20:38:19.437Z
                      object: block
                      paragraph:
                        text:
                        - annotations:
                            bold: false
                            code: false
                            color: default
                            italic: false
                            strikethrough: false
                            underline: false
                          href: null
                          plain_text: "Grappling with what to say and do about the\
                            \ disasters they themselves create is only the beginning.\
                            \ Then there are the broader issues that the denizens\
                            \ of Silicon Valley expect their employers to have a stance\
                            \ on: immigration, income inequality, artificial intelligence,\
                            \ automation, transgender rights, climate change, privacy,\
                            \ data rights and whether tech companies should be helping\
                            \ the government do controversial things. It’s an ethical\
                            \ swamp out there."
                          text:
                            content: "Grappling with what to say and do about the\
                              \ disasters they themselves create is only the beginning.\
                              \ Then there are the broader issues that the denizens\
                              \ of Silicon Valley expect their employers to have a\
                              \ stance on: immigration, income inequality, artificial\
                              \ intelligence, automation, transgender rights, climate\
                              \ change, privacy, data rights and whether tech companies\
                              \ should be helping the government do controversial\
                              \ things. It’s an ethical swamp out there."
                            link: null
                          type: text
                      type: paragraph
                    - created_time: 2021-04-27T20:38:19.437Z
                      has_children: false
                      id: f5775df5-59eb-4533-a2cb-e150412ec4f6
                      last_edited_time: 2021-04-27T20:38:19.437Z
                      object: block
                      paragraph:
                        text:
                        - annotations:
                            bold: false
                            code: false
                            color: default
                            italic: false
                            strikethrough: false
                            underline: false
                          href: null
                          plain_text: "That’s why, in a recent interview, Marc Benioff,\
                            \ the co-chief executive and a founder of Salesforce,\
                            \ told me he was in the process of hiring a chief ethical\
                            \ officer to help anticipate and address any thorny conundrums\
                            \ it might encounter as a business — like the decision\
                            \ it had to make a few months back about whether it should\
                            \ stop providing recruitment software for Customs and\
                            \ Border Protection because of the government’s policy\
                            \ of separating immigrant families at the border."
                          text:
                            content: "That’s why, in a recent interview, Marc Benioff,\
                              \ the co-chief executive and a founder of Salesforce,\
                              \ told me he was in the process of hiring a chief ethical\
                              \ officer to help anticipate and address any thorny\
                              \ conundrums it might encounter as a business — like\
                              \ the decision it had to make a few months back about\
                              \ whether it should stop providing recruitment software\
                              \ for Customs and Border Protection because of the government’\
                              s policy of separating immigrant families at the border."
                            link: null
                          type: text
                      type: paragraph
                    - created_time: 2021-04-27T20:38:19.437Z
                      has_children: false
                      id: 31405c6e-7ece-4667-8c4d-36c9d79a0bfa
                      last_edited_time: 2021-04-27T20:38:19.437Z
                      object: block
                      paragraph:
                        text:
                        - annotations:
                            bold: false
                            code: false
                            color: default
                            italic: false
                            strikethrough: false
                            underline: false
                          href: null
                          plain_text: "Amid much criticism, Mr. Benioff decided to\
                            \ keep the contract, but said he would focus more on social\
                            \ and political issues."
                          text:
                            content: "Amid much criticism, Mr. Benioff decided to\
                              \ keep the contract, but said he would focus more on\
                              \ social and political issues."
                            link: null
                          type: text
                      type: paragraph
                    - created_time: 2021-04-27T20:38:19.437Z
                      has_children: false
                      id: a2ab7e8a-d521-401d-89ae-9eb27efb9990
                      last_edited_time: 2021-04-27T20:38:19.437Z
                      object: block
                      paragraph:
                        text:
                        - annotations:
                            bold: false
                            code: false
                            color: default
                            italic: false
                            strikethrough: false
                            underline: false
                          href: null
                          plain_text: "At a recent company event, he elaborated: “\
                            We can have a structured conversation not just with our\
                            \ own employees myopically, but by bringing in the key\
                            \ advisers, supporters and pundits and philosophers and\
                            \ everybody necessary to ask the question if what we are\
                            \ doing today is ethical and humane.”"
                          text:
                            content: "At a recent company event, he elaborated: “\
                              We can have a structured conversation not just with\
                              \ our own employees myopically, but by bringing in the\
                              \ key advisers, supporters and pundits and philosophers\
                              \ and everybody necessary to ask the question if what\
                              \ we are doing today is ethical and humane.”"
                            link: null
                          type: text
                      type: paragraph
                    - created_time: 2021-04-27T20:38:19.437Z
                      has_children: false
                      id: a4498e1e-8b85-48d7-802a-db447ca7d1ac
                      last_edited_time: 2021-04-27T20:38:19.437Z
                      object: block
                      paragraph:
                        text:
                        - annotations:
                            bold: false
                            code: false
                            color: default
                            italic: false
                            strikethrough: false
                            underline: false
                          href: null
                          plain_text: "23andMe has also toyed with the idea of hiring\
                            \ a chief ethics officer. In an interview I did this week\
                            \ with its chief executive, Anne Wojcicki, she said the\
                            \ genetics company had even interviewed candidates, but\
                            \ that many of them wanted to remain in academia to be\
                            \ freer to ponder these issues. She acknowledged that\
                            \ the collection of DNA data is rife with ethical considerations,\
                            \ but said, “I think it has to be our management and leaders\
                            \ who have to add this to our skill set, rather than just\
                            \ hire one person to determine this.”"
                          text:
                            content: "23andMe has also toyed with the idea of hiring\
                              \ a chief ethics officer. In an interview I did this\
                              \ week with its chief executive, Anne Wojcicki, she\
                              \ said the genetics company had even interviewed candidates,\
                              \ but that many of them wanted to remain in academia\
                              \ to be freer to ponder these issues. She acknowledged\
                              \ that the collection of DNA data is rife with ethical\
                              \ considerations, but said, “I think it has to be our\
                              \ management and leaders who have to add this to our\
                              \ skill set, rather than just hire one person to determine\
                              \ this.”"
                            link: null
                          type: text
                      type: paragraph
                    - created_time: 2021-04-27T20:38:19.437Z
                      has_children: false
                      id: cbf7e7e0-5552-4b3f-b09e-9dcca120931c
                      last_edited_time: 2021-04-27T20:38:19.437Z
                      object: block
                      paragraph:
                        text:
                        - annotations:
                            bold: false
                            code: false
                            color: default
                            italic: false
                            strikethrough: false
                            underline: false
                          href: null
                          plain_text: "When asked about the idea of a single source\
                            \ of wisdom on ethics, some point out that legal or diversity/inclusion\
                            \ departments are designed for that purpose and that the\
                            \ ethics should really come from the top — the chief executive."
                          text:
                            content: "When asked about the idea of a single source\
                              \ of wisdom on ethics, some point out that legal or\
                              \ diversity/inclusion departments are designed for that\
                              \ purpose and that the ethics should really come from\
                              \ the top — the chief executive."
                            link: null
                          type: text
                      type: paragraph
                    - created_time: 2021-04-27T20:38:19.437Z
                      has_children: false
                      id: d24b2887-0f1f-4e91-99c1-c295bed8ad65
                      last_edited_time: 2021-04-27T20:38:19.437Z
                      object: block
                      paragraph:
                        text:
                        - annotations:
                            bold: false
                            code: false
                            color: default
                            italic: false
                            strikethrough: false
                            underline: false
                          href: null
                          plain_text: "Also of concern is the possibility that a single\
                            \ person would not get listened to or, worse, get steamrollered.\
                            \ And, if the person was bad at the job, of course, it\
                            \ could drag the whole thing down."
                          text:
                            content: "Also of concern is the possibility that a single\
                              \ person would not get listened to or, worse, get steamrollered.\
                              \ And, if the person was bad at the job, of course,\
                              \ it could drag the whole thing down."
                            link: null
                          type: text
                      type: paragraph
                    - created_time: 2021-04-27T20:38:19.437Z
                      has_children: false
                      id: 78c55f65-c8b8-4364-a369-c40699968e90
                      last_edited_time: 2021-04-27T20:38:19.437Z
                      object: block
                      paragraph:
                        text:
                        - annotations:
                            bold: false
                            code: false
                            color: default
                            italic: false
                            strikethrough: false
                            underline: false
                          href: null
                          plain_text: "Others are more worried that the move would\
                            \ be nothing but window dressing. One consultant who focuses\
                            \ on ethics, but did not want to be named, told me: “\
                            We haven’t even defined ethics, so what even is ethical\
                            \ use, especially for Silicon Valley companies that are\
                            \ babies in this game?”"
                          text:
                            content: "Others are more worried that the move would\
                              \ be nothing but window dressing. One consultant who\
                              \ focuses on ethics, but did not want to be named, told\
                              \ me: “We haven’t even defined ethics, so what even\
                              \ is ethical use, especially for Silicon Valley companies\
                              \ that are babies in this game?”"
                            link: null
                          type: text
                      type: paragraph
                    - created_time: 2021-04-27T20:38:19.437Z
                      has_children: false
                      id: 0b492111-1586-4a73-8848-04f0c391aadc
                      last_edited_time: 2021-04-27T20:38:19.437Z
                      object: block
                      paragraph:
                        text:
                        - annotations:
                            bold: false
                            code: false
                            color: default
                            italic: false
                            strikethrough: false
                            underline: false
                          href: null
                          plain_text: "How can an industry that, unlike other business\
                            \ sectors, persistently promotes itself as doing good,\
                            \ learn to do that in reality? Do you want to not do harm,\
                            \ or do you want to do good? These are two totally different\
                            \ things."
                          text:
                            content: "How can an industry that, unlike other business\
                              \ sectors, persistently promotes itself as doing good,\
                              \ learn to do that in reality? Do you want to not do\
                              \ harm, or do you want to do good? These are two totally\
                              \ different things."
                            link: null
                          type: text
                      type: paragraph
                    - created_time: 2021-04-27T20:38:19.437Z
                      has_children: false
                      id: 302f8229-2404-460b-8c3c-e7058b4365e5
                      last_edited_time: 2021-04-27T20:38:19.437Z
                      object: block
                      paragraph:
                        text:
                        - annotations:
                            bold: false
                            code: false
                            color: default
                            italic: false
                            strikethrough: false
                            underline: false
                          href: null
                          plain_text: "And how do you put an official ethical system\
                            \ in place without it seeming like you’re telling everyone\
                            \ how to behave? Who gets to decide those rules anyway,\
                            \ setting a moral path for the industry and — considering\
                            \ tech companies’ enormous power — the world."
                          text:
                            content: "And how do you put an official ethical system\
                              \ in place without it seeming like you’re telling everyone\
                              \ how to behave? Who gets to decide those rules anyway,\
                              \ setting a moral path for the industry and — considering\
                              \ tech companies’ enormous power — the world."
                            link: null
                          type: text
                      type: paragraph
                    - created_time: 2021-04-27T20:38:19.437Z
                      has_children: false
                      id: 8f9bc91c-5662-4b3f-a110-809f46b79f49
                      last_edited_time: 2021-04-27T20:38:19.437Z
                      object: block
                      paragraph:
                        text:
                        - annotations:
                            bold: false
                            code: false
                            color: default
                            italic: false
                            strikethrough: false
                            underline: false
                          href: null
                          plain_text: "Like I said, adult supervision. Or maybe, better\
                            \ still, Silicon Valley itself has to grow up."
                          text:
                            content: "Like I said, adult supervision. Or maybe, better\
                              \ still, Silicon Valley itself has to grow up."
                            link: null
                          type: text
                      type: paragraph
                    - created_time: 2021-04-27T20:38:19.437Z
                      has_children: false
                      id: 7bea1831-a25c-4b3e-8c9b-b37de814f948
                      last_edited_time: 2021-04-27T20:38:19.437Z
                      object: block
                      paragraph:
                        text:
                        - annotations:
                            bold: false
                            code: false
                            color: default
                            italic: true
                            strikethrough: false
                            underline: false
                          href: null
                          plain_text: 'Follow The New York Times Opinion section on '
                          text:
                            content: 'Follow The New York Times Opinion section on '
                            link: null
                          type: text
                        - annotations:
                            bold: false
                            code: false
                            color: default
                            italic: true
                            strikethrough: false
                            underline: false
                          href: https://www.facebook.com/nytopinion
                          plain_text: Facebook
                          text:
                            content: Facebook
                            link:
                              url: https://www.facebook.com/nytopinion
                          type: text
                        - annotations:
                            bold: false
                            code: false
                            color: default
                            italic: true
                            strikethrough: false
                            underline: false
                          href: null
                          plain_text: ", "
                          text:
                            content: ", "
                            link: null
                          type: text
                        - annotations:
                            bold: false
                            code: false
                            color: default
                            italic: true
                            strikethrough: false
                            underline: false
                          href: http://twitter.com/NYTOpinion
                          plain_text: Twitter (@NYTopinion)
                          text:
                            content: Twitter (@NYTopinion)
                            link:
                              url: http://twitter.com/NYTOpinion
                          type: text
                        - annotations:
                            bold: false
                            code: false
                            color: default
                            italic: true
                            strikethrough: false
                            underline: false
                          href: null
                          plain_text: ' and '
                          text:
                            content: ' and '
                            link: null
                          type: text
                        - annotations:
                            bold: false
                            code: false
                            color: default
                            italic: true
                            strikethrough: false
                            underline: false
                          href: https://www.instagram.com/nytopinion/
                          plain_text: Instagram
                          text:
                            content: Instagram
                            link:
                              url: https://www.instagram.com/nytopinion/
                          type: text
                        - annotations:
                            bold: false
                            code: false
                            color: default
                            italic: true
                            strikethrough: false
                            underline: false
                          href: null
                          plain_text: ", and sign up for the "
                          text:
                            content: ", and sign up for the "
                            link: null
                          type: text
                        - annotations:
                            bold: false
                            code: false
                            color: default
                            italic: true
                            strikethrough: false
                            underline: false
                          href: http://www.nytimes.com/newsletters/opiniontoday/
                          plain_text: Opinion Today newsletter
                          text:
                            content: Opinion Today newsletter
                            link:
                              url: http://www.nytimes.com/newsletters/opiniontoday/
                          type: text
                        - annotations:
                            bold: false
                            code: false
                            color: default
                            italic: true
                            strikethrough: false
                            underline: false
                          href: null
                          plain_text: "."
                          text:
                            content: "."
                            link: null
                          type: text
                      type: paragraph
              schema:
                $ref: '#/components/schemas/retrieveBlockChildren_200_response'
          description: 200 Success - Retrieve block children
          headers:
            CF-Cache-Status:
              explode: false
              schema:
                example: DYNAMIC
                type: string
              style: simple
            CF-RAY:
              explode: false
              schema:
                example: 647435237cce6dc4-SJC
                type: string
              style: simple
            Connection:
              explode: false
              schema:
                example: keep-alive
                type: string
              style: simple
            Content-Encoding:
              explode: false
              schema:
                example: gzip
                type: string
              style: simple
            Content-Security-Policy:
              explode: false
              schema:
                example: "script-src 'self' 'unsafe-inline' 'unsafe-eval' https://gist.github.com\
                  \ https://apis.google.com https://api.amplitude.com https://widget.intercom.io\
                  \ https://js.intercomcdn.com https://logs-01.loggly.com https://cdn.segment.com\
                  \ https://analytics.pgncs.notion.so https://checkout.stripe.com\
                  \ https://js.stripe.com/v3 https://embed.typeform.com https://admin.typeform.com\
                  \ https://platform.twitter.com https://cdn.syndication.twimg.com\
                  \ https://www.googletagmanager.com https://x.clearbitjs.com; connect-src\
                  \ 'self' https://msgstore.www.notion.so wss://msgstore.www.notion.so\
                  \ ws://localhost:* https://notion-emojis.s3-us-west-2.amazonaws.com\
                  \ https://s3-us-west-2.amazonaws.com https://s3.us-west-2.amazonaws.com\
                  \ https://notion-production-snapshots-2.s3.us-west-2.amazonaws.com\
                  \ https: http: https://api.amplitude.com https://api.embed.ly https://js.intercomcdn.com\
                  \ https://api-iam.intercom.io wss://nexus-websocket-a.intercom.io\
                  \ https://logs-01.loggly.com https://api.segment.io https://api.pgncs.notion.so\
                  \ https://checkout.stripe.com https://js.stripe.com/v3 https://cdn.contentful.com\
                  \ https://preview.contentful.com https://images.ctfassets.net https://api.unsplash.com\
                  \ https://boards-api.greenhouse.io; font-src 'self' data: https://cdnjs.cloudflare.com\
                  \ https://js.intercomcdn.com; img-src 'self' data: blob: https:\
                  \ https://platform.twitter.com https://syndication.twitter.com https://pbs.twimg.com\
                  \ https://ton.twimg.com www.googletagmanager.com; style-src 'self'\
                  \ 'unsafe-inline' https://cdnjs.cloudflare.com https://github.githubassets.com\
                  \ https://platform.twitter.com https://ton.twimg.com; frame-src\
                  \ https: http:; media-src https: http:"
                type: string
              style: simple
            Date:
              explode: false
              schema:
                example: "Wed, 28 Apr 2021 23:53:00 GMT"
                type: string
              style: simple
            ETag:
              explode: false
              schema:
                example: W/"65f3-d0AArGizyGsk597xfjWN7976xCc"
                type: string
              style: simple
            Expect-CT:
              explode: false
              schema:
                example: "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\""
                type: string
              style: simple
            Referrer-Policy:
              explode: false
              schema:
                example: same-origin
                type: string
              style: simple
            Server:
              explode: false
              schema:
                example: cloudflare
                type: string
              style: simple
            Set-Cookie:
              explode: false
              schema:
                example: "notion_browser_id=a1b1f1dd-7731-4a2b-b968-10b475e3b526;\
                  \ Domain=www.notion.so; Path=/; Expires=Sun, 05 Jan 2053 01:39:40\
                  \ GMT; Secure"
                type: string
              style: simple
            Strict-Transport-Security:
              explode: false
              schema:
                example: max-age=5184000; includeSubDomains
                type: string
              style: simple
            Transfer-Encoding:
              explode: false
              schema:
                example: chunked
                type: string
              style: simple
            Vary:
              explode: false
              schema:
                example: Accept-Encoding
                type: string
              style: simple
            X-Content-Security-Policy:
              explode: false
              schema:
                example: "script-src 'self' 'unsafe-inline' 'unsafe-eval' https://gist.github.com\
                  \ https://apis.google.com https://api.amplitude.com https://widget.intercom.io\
                  \ https://js.intercomcdn.com https://logs-01.loggly.com https://cdn.segment.com\
                  \ https://analytics.pgncs.notion.so https://checkout.stripe.com\
                  \ https://js.stripe.com/v3 https://embed.typeform.com https://admin.typeform.com\
                  \ https://platform.twitter.com https://cdn.syndication.twimg.com\
                  \ https://www.googletagmanager.com https://x.clearbitjs.com; connect-src\
                  \ 'self' https://msgstore.www.notion.so wss://msgstore.www.notion.so\
                  \ ws://localhost:* https://notion-emojis.s3-us-west-2.amazonaws.com\
                  \ https://s3-us-west-2.amazonaws.com https://s3.us-west-2.amazonaws.com\
                  \ https://notion-production-snapshots-2.s3.us-west-2.amazonaws.com\
                  \ https: http: https://api.amplitude.com https://api.embed.ly https://js.intercomcdn.com\
                  \ https://api-iam.intercom.io wss://nexus-websocket-a.intercom.io\
                  \ https://logs-01.loggly.com https://api.segment.io https://api.pgncs.notion.so\
                  \ https://checkout.stripe.com https://js.stripe.com/v3 https://cdn.contentful.com\
                  \ https://preview.contentful.com https://images.ctfassets.net https://api.unsplash.com\
                  \ https://boards-api.greenhouse.io; font-src 'self' data: https://cdnjs.cloudflare.com\
                  \ https://js.intercomcdn.com; img-src 'self' data: blob: https:\
                  \ https://platform.twitter.com https://syndication.twitter.com https://pbs.twimg.com\
                  \ https://ton.twimg.com www.googletagmanager.com; style-src 'self'\
                  \ 'unsafe-inline' https://cdnjs.cloudflare.com https://github.githubassets.com\
                  \ https://platform.twitter.com https://ton.twimg.com; frame-src\
                  \ https: http:; media-src https: http:"
                type: string
              style: simple
            X-Content-Type-Options:
              explode: false
              schema:
                example: nosniff
                type: string
              style: simple
            X-DNS-Prefetch-Control:
              explode: false
              schema:
                example: "false"
                type: string
              style: simple
            X-Download-Options:
              explode: false
[...]
