openapi: 3.0.1
info:
  contact:
    email: support@apptigent.com
    name: Customer Support
    url: https://www.apptigent.com/help/
  description: "Apptigent PowerTools Developer Edition is a powerful suite of API\
    \ endpoints for custom applications running on any stack. Manipulate text, modify\
    \ collections, format dates and times, convert currency, perform advanced mathematical\
    \ calculations, shorten URL's, encode strings, convert text to speech, translate\
    \ content into multiple languages, process images, and more. PowerTools is the\
    \ ultimate developer toolkit."
  title: PowerTools Developer
  version: 2021.1.01
  x-apisguru-categories:
  - developer_tools
  x-ibm-name: powertools-developer
  x-logo:
    url: https://portal.apptigent.com/sites/portal.apptigent.com/files/api/powertools-developer.png
  x-origin:
  - format: openapi
    url: https://portal.apptigent.com/sites/portal.apptigent.com/files/v3-powertools-developer-2021-1-01.json
    version: "3.0"
  x-providerName: apptigent.com
servers:
- url: https://connect.apptigent.com/api/utilities
security:
- apiKeyHeader: []
tags:
- description: Arrays of base values (strings and numbers).
  name: Collections
- description: Data conversion operations.
  name: Data
- description: Date and time operations.
  name: DateTime
- description: Financial calculations and conversions.
  name: Finance
- description: Mathematical calculations and conversions.
  name: Math
- description: "String manipulation, parsing, conversion and related operations."
  name: Text
- description: File operations.
  name: Files
paths:
  /AddToCollection:
    post:
      description: Add an item to a collection
      operationId: add_to_collection
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputCollectionModify'
        description: Collection modification parameters
        required: false
        x-body-name: collectionModify
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputCollectionResult'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: ERROR
      summary: Collections - Add to collection
      tags:
      - Collections
      x-codegen-request-body-name: collectionModify
      x-openapi-router-controller: openapi_server.controllers.collections_controller
  /CSVtoJSON:
    post:
      description: Convert a CSV string to a JSON array
      operationId: csv_to_json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputCsvConversionJSON'
        required: false
        x-body-name: csvConversionJSON
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: ERROR
      summary: Data - CSV to JSON
      tags:
      - Data
      x-codegen-request-body-name: csvConversionJSON
      x-openapi-router-controller: openapi_server.controllers.data_controller
  /CalculateAbsolute:
    post:
      description: Calculate the absolute value of a number
      operationId: calculate_absolute
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputCalculateNumber'
        description: Number calculation parameters
        required: false
        x-body-name: calculateNumber
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputNumber'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: ERROR
      summary: Math - Calculate Absolute
      tags:
      - Math
      x-codegen-request-body-name: calculateNumber
      x-openapi-router-controller: openapi_server.controllers.math_controller
  /CalculateAddition:
    post:
      description: Calculate the sum of two numbers
      operationId: calculate_addition
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputCalculateNumbers'
        description: Number calculation parameters
        required: false
        x-body-name: calculateNumbers
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputNumber'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: ERROR
      summary: Math - Calculate Addition
      tags:
      - Math
      x-codegen-request-body-name: calculateNumbers
      x-openapi-router-controller: openapi_server.controllers.math_controller
  /CalculateAverage:
    post:
      description: Calculate the average of two or more numbers
      operationId: calculate_average
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputCalculateSeries'
        description: Series calculation parameters
        required: false
        x-body-name: calculateSeries
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputNumber'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: ERROR
      summary: Math - Calculate average
      tags:
      - Math
      x-codegen-request-body-name: calculateSeries
      x-openapi-router-controller: openapi_server.controllers.math_controller
  /CalculateCosine:
    post:
      description: Calculate the cosine value of an angle
      operationId: calculate_cosine
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputCalculateNumber'
        description: Number calculation parameters
        required: false
        x-body-name: calculateNumber
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputNumber'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: ERROR
      summary: Math - Calculate Cosine
      tags:
      - Math
      x-codegen-request-body-name: calculateNumber
      x-openapi-router-controller: openapi_server.controllers.math_controller
  /CalculateDivision:
    post:
      description: Calculate the quotient of two numbers
      operationId: calculate_division
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputCalculateNumbers'
        description: Number calculation parameters
        required: false
        x-body-name: calculateNumbers
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputNumber'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: ERROR
      summary: Math - Calculate Division
      tags:
      - Math
      x-codegen-request-body-name: calculateNumbers
      x-openapi-router-controller: openapi_server.controllers.math_controller
  /CalculateLogarithm:
    post:
      description: Calculate the logarithm of a number
      operationId: calculate_logarithm
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputCalculateNumber'
        description: Number calculation parameters
        required: false
        x-body-name: calculateNumber
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputNumber'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: ERROR
      summary: Math - Calculate Logarithm
      tags:
      - Math
      x-codegen-request-body-name: calculateNumber
      x-openapi-router-controller: openapi_server.controllers.math_controller
  /CalculateMedian:
    post:
      description: Calculate the median of two or more numbers
      operationId: calculate_median
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputCalculateSeries'
        description: Series calculation parameters
        required: false
        x-body-name: calculateSeries
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputNumber'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: ERROR
      summary: Math - Calculate median
      tags:
      - Math
      x-codegen-request-body-name: calculateSeries
      x-openapi-router-controller: openapi_server.controllers.math_controller
  /CalculateMinMax:
    post:
      description: Calculate the minimum or maximum value in a sequence of numbers
      operationId: calculate_min_max
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputCalculateMinMax'
        description: Series calculation parameters
        required: false
        x-body-name: calculateSeries
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputNumber'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: ERROR
      summary: Math - Calculate minimum or maximum
      tags:
      - Math
      x-codegen-request-body-name: calculateSeries
      x-openapi-router-controller: openapi_server.controllers.math_controller
  /CalculateModulo:
    post:
      description: Calculate the remainder of dividing two numbers
      operationId: calculate_modulo
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputCalculateNumbers'
        description: Number calculation parameters
        required: false
        x-body-name: calculateNumbers
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputNumber'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: ERROR
      summary: Math - Calculate Modulo
      tags:
      - Math
      x-codegen-request-body-name: calculateNumbers
      x-openapi-router-controller: openapi_server.controllers.math_controller
  /CalculateMultiplication:
    post:
      description: Calculate the product of two numbers
      operationId: calculate_multiplication
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputCalculateNumbers'
        description: Number calculation parameters
        required: false
        x-body-name: calculateNumbers
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputNumber'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: ERROR
      summary: Math - Calculate Multiplication
      tags:
      - Math
      x-codegen-request-body-name: calculateNumbers
      x-openapi-router-controller: openapi_server.controllers.math_controller
  /CalculateNthRoot:
    post:
      description: Calculate the n-th root of a number
      operationId: calculate_nth_root
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputCalculateNumbers'
        description: Number calculation parameters
        required: false
        x-body-name: calculateNumbers
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputNumber'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: ERROR
      summary: Math - Calculate Nth Root
      tags:
      - Math
      x-codegen-request-body-name: calculateNumbers
      x-openapi-router-controller: openapi_server.controllers.math_controller
  /CalculatePower:
    post:
      description: Raise number to a specified power
      operationId: calculate_power
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputCalculatePower'
        description: Power calculation parameters
        required: false
        x-body-name: calculatePower
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputNumber'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: ERROR
      summary: Math - Calculate power
      tags:
      - Math
      x-codegen-request-body-name: calculatePower
      x-openapi-router-controller: openapi_server.controllers.math_controller
  /CalculateSine:
    post:
      description: Calculate the sine value of an angle
      operationId: calculate_sine
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputCalculateNumber'
        description: Number calculation parameters
        required: false
        x-body-name: calculateNumber
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputNumber'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: ERROR
      summary: Math - Calculate Sine
      tags:
      - Math
      x-codegen-request-body-name: calculateNumber
      x-openapi-router-controller: openapi_server.controllers.math_controller
  /CalculateSquareRoot:
    post:
      description: Calculate the square root of a number
      operationId: calculate_square_root
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputCalculateNumber'
        description: Number calculation parameters
        required: false
        x-body-name: calculateNumber
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputNumber'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: ERROR
      summary: Math - Calculate Square Root
      tags:
      - Math
      x-codegen-request-body-name: calculateNumber
      x-openapi-router-controller: openapi_server.controllers.math_controller
  /CalculateSubtraction:
    post:
      description: Calculate the difference between two numbers
      operationId: calculate_subtraction
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputCalculateNumbers'
        description: Number calculation parameters
        required: false
        x-body-name: calculateNumbers
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputNumber'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: ERROR
      summary: Math - Calculate Subtraction
      tags:
      - Math
      x-codegen-request-body-name: calculateNumbers
      x-openapi-router-controller: openapi_server.controllers.math_controller
  /CalculateSum:
    post:
      description: Calculate the sum of two or more numbers
      operationId: calculate_sum
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputCalculateSeries'
        description: Series calculation parameters
        required: false
        x-body-name: calculateSeries
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputNumber'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: ERROR
      summary: Math - Calculate sum
      tags:
      - Math
      x-codegen-request-body-name: calculateSeries
      x-openapi-router-controller: openapi_server.controllers.math_controller
  /CalculateTangent:
    post:
      description: Calculate the tangent value of an angle
      operationId: calculate_tangent
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputCalculateNumber'
        description: Number calculation parameters
        required: false
        x-body-name: calculateNumber
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputNumber'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: ERROR
      summary: Math - Calculate Tangent
      tags:
      - Math
      x-codegen-request-body-name: calculateNumber
      x-openapi-router-controller: openapi_server.controllers.math_controller
  /CalculateVariance:
    post:
      description: Calculate the statistical variance of two or more numbers
      operationId: calculate_variance
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputCalculateSeries'
        description: Series calculation parameters
        required: false
        x-body-name: calculateSeries
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputNumber'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: ERROR
      summary: Math - Calculate variance
      tags:
      - Math
      x-codegen-request-body-name: calculateSeries
      x-openapi-router-controller: openapi_server.controllers.math_controller
  /CollectionContainsNumber:
    post:
      description: Determine if a collection contains a specific number
      operationId: collection_contains_number
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputCollectionSearchNumeric'
        description: Collection search parameters
        required: false
        x-body-name: collectionSearch
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputCollectionNumber'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: ERROR
      summary: Collections - Contains number
      tags:
      - Collections
      x-codegen-request-body-name: collectionSearch
      x-openapi-router-controller: openapi_server.controllers.collections_controller
  /CollectionContainsString:
    post:
      description: Determine if any items in a collection contain a specific string
      operationId: collection_contains_string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputCollectionSearch'
        description: Collection search parameters
        required: false
        x-body-name: collectionSearch
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputCollectionString'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: ERROR
      summary: Collections - Contains string
      tags:
      - Collections
      x-codegen-request-body-name: collectionSearch
      x-openapi-router-controller: openapi_server.controllers.collections_controller
  /CollectionEndsWithString:
    post:
      description: Determine if any items in a collection end with a specific string
      operationId: collection_ends_with_string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputCollectionSearch'
        description: Collection search parameters
        required: false
        x-body-name: collectionSearch
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputCollectionString'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: ERROR
      summary: Collections - Ends with string
      tags:
      - Collections
      x-codegen-request-body-name: collectionSearch
      x-openapi-router-controller: openapi_server.controllers.collections_controller
  /CollectionStartsWithString:
    post:
      description: Determine if any items in a collection start with a specific string
      operationId: collection_starts_with_string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputCollectionSearch'
        description: Collection search parameters
        required: false
        x-body-name: collectionSearch
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputCollectionString'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: ERROR
      summary: Collections - Starts with string
      tags:
      - Collections
      x-codegen-request-body-name: collectionSearch
      x-openapi-router-controller: openapi_server.controllers.collections_controller
  /CollectionToJSON:
    post:
      description: Convert a collection to a named JSON object
      operationId: collection_to_json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputCollectionConversion'
        required: false
        x-body-name: collectionConversion
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: ERROR
      summary: Collections - Collection to JSON
      tags:
      - Collections
      x-codegen-request-body-name: collectionConversion
      x-openapi-router-controller: openapi_server.controllers.collections_controller
  /CollectionToXML:
    post:
      description: Convert a collection to an XML string
      operationId: collection_to_xml
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputCollectionConversionXML'
        required: false
        x-body-name: collectionConversionXML
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: ERROR
      summary: Collections - Collection to XML
      tags:
      - Collections
      x-codegen-request-body-name: collectionConversionXML
      x-openapi-router-controller: openapi_server.controllers.collections_controller
  /CompareStrings:
    post:
      description: Perform a comparison of two strings
      operationId: compare_strings
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputStringComparison'
        required: false
        x-body-name: stringComparison
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: ERROR
      summary: Text - Compare strings
      tags:
      - Text
      x-codegen-request-body-name: stringComparison
      x-openapi-router-controller: openapi_server.controllers.text_controller
  /ContainsString:
    post:
      description: Determine if a string contains another string
      operationId: contains_string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputStringContains'
        required: false
        x-body-name: stringContains
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: ERROR
      summary: Text - Contains string
      tags:
      - Text
      x-codegen-request-body-name: stringContains
      x-openapi-router-controller: openapi_server.controllers.text_controller
  /ConvertAngle:
    post:
      description: Convert value from one angle measurement to another
      operationId: convert_angle
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputConvertAngle'
        required: false
        x-body-name: convertAngle
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputNumber'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: ERROR
      summary: Math - Convert angle
      tags:
      - Math
      x-codegen-request-body-name: convertAngle
      x-openapi-router-controller: openapi_server.controllers.math_controller
  /ConvertArea:
    post:
      description: Convert value from one area measurement to another
      operationId: convert_area
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputConvertArea'
        required: false
        x-body-name: convertArea
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputNumber'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: ERROR
      summary: Math - Convert area
      tags:
      - Math
      x-codegen-request-body-name: convertArea
      x-openapi-router-controller: openapi_server.controllers.math_controller
  /ConvertCase:
    post:
      description: "Convert string to upper, lower or title case"
      operationId: convert_case
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputCaseConversion'
        required: false
        x-body-name: caseConversion
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: ERROR
      summary: Text - Convert case
      tags:
      - Text
      x-codegen-request-body-name: caseConversion
      x-openapi-router-controller: openapi_server.controllers.text_controller
  /ConvertCurrency:
    post:
      description: Calculate monetary value in a different currency
      operationId: convert_currency
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputCurrencyConversion'
        required: false
        x-body-name: currencyConversion
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputNumber'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: ERROR
      summary: Currency - Convert currency
      tags:
      - Finance
      x-codegen-request-body-name: currencyConversion
      x-openapi-router-controller: openapi_server.controllers.finance_controller
  /ConvertDistance:
    post:
      description: Convert value from one distance measurement to another
      operationId: convert_distance
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputConvertDistance'
        required: false
        x-body-name: convertDistance
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputNumber'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: ERROR
      summary: Math - Convert distance
      tags:
      - Math
      x-codegen-request-body-name: convertDistance
      x-openapi-router-controller: openapi_server.controllers.math_controller
  /ConvertDuration:
    post:
      description: Convert value from one duration measurement to another
      operationId: convert_duration
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputConvertDuration'
        required: false
        x-body-name: convertDuration
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputNumber'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: ERROR
      summary: Math - Convert duration
      tags:
      - Math
      x-codegen-request-body-name: convertDuration
      x-openapi-router-controller: openapi_server.controllers.math_controller
  /ConvertEnergy:
    post:
      description: Convert value from one energy measurement to another
      operationId: convert_energy
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputConvertEnergy'
        required: false
        x-body-name: convertEnergy
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputNumber'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: ERROR
      summary: Math - Convert energy
      tags:
      - Math
      x-codegen-request-body-name: convertEnergy
      x-openapi-router-controller: openapi_server.controllers.math_controller
  /ConvertImage:
    post:
      description: Convert an image from one format to another
      operationId: convert_image
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ConvertImage_request'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            image/bmp:
              schema:
                format: binary
                type: string
            image/gif:
              schema:
                format: binary
                type: string
            image/jpeg:
              schema:
                format: binary
                type: string
            image/png:
              schema:
                format: binary
                type: string
          description: OK
        "400":
          content:
            image/bmp:
              schema:
                $ref: '#/components/schemas/outputString'
            image/gif:
              schema:
                $ref: '#/components/schemas/outputString'
            image/jpeg:
              schema:
                $ref: '#/components/schemas/outputString'
            image/png:
              schema:
                $ref: '#/components/schemas/outputString'
          description: ERROR
      summary: Files - Convert Image
      tags:
      - Files
      x-openapi-router-controller: openapi_server.controllers.files_controller
      x-codegen-request-body-name: body
  /ConvertPower:
    post:
      description: Convert value from one power measurement to another
      operationId: convert_power
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputConvertPower'
        required: false
        x-body-name: convertPower
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputNumber'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: ERROR
      summary: Math - Convert power
      tags:
      - Math
      x-codegen-request-body-name: convertPower
      x-openapi-router-controller: openapi_server.controllers.math_controller
  /ConvertSpeed:
    post:
      description: Convert value from one speed measurement to another
      operationId: convert_speed
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputConvertSpeed'
        required: false
        x-body-name: convertSpeed
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputNumber'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: ERROR
      summary: Math - Convert speed
      tags:
      - Math
      x-codegen-request-body-name: convertSpeed
      x-openapi-router-controller: openapi_server.controllers.math_controller
  /ConvertTemperature:
    post:
      description: Convert value from one temperature measurement to another
      operationId: convert_temperature
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputConvertTemperature'
        required: false
        x-body-name: convertTemperature
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputNumber'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: ERROR
      summary: Math - Convert temperature
      tags:
      - Math
      x-codegen-request-body-name: convertTemperature
      x-openapi-router-controller: openapi_server.controllers.math_controller
  /ConvertVolume:
    post:
      description: Convert value from one volume measurement to another
      operationId: convert_volume
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputConvertVolume'
        required: false
        x-body-name: convertVolume
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputNumber'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: ERROR
      summary: Math - Convert volume
      tags:
      - Math
      x-codegen-request-body-name: convertVolume
      x-openapi-router-controller: openapi_server.controllers.math_controller
  /ConvertWeight:
    post:
      description: Convert value from one weight measurement to another
      operationId: convert_weight
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputConvertWeight'
        required: false
        x-body-name: convertWeight
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputNumber'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: ERROR
      summary: Math - Convert weight
      tags:
      - Math
      x-codegen-request-body-name: convertWeight
      x-openapi-router-controller: openapi_server.controllers.math_controller
  /CountCollection:
    post:
      description: Count a collection of items
      operationId: count_collection
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputCollectionCount'
        description: Count collection parameters
        required: false
        x-body-name: collectionCount
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputNumber'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: ERROR
      summary: Collections - Count collection
      tags:
      - Collections
      x-codegen-request-body-name: collectionCount
      x-openapi-router-controller: openapi_server.controllers.collections_controller
  /CropImage:
    post:
      description: Crop an image
      operationId: crop_image
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CropImage_request'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            image/bmp:
              schema:
                format: binary
                type: string
            image/gif:
              schema:
                format: binary
                type: string
            image/jpeg:
              schema:
                format: binary
                type: string
            image/png:
              schema:
                format: binary
                type: string
          description: OK
        "400":
          content:
            image/bmp:
              schema:
                $ref: '#/components/schemas/outputString'
            image/gif:
              schema:
                $ref: '#/components/schemas/outputString'
            image/jpeg:
              schema:
                $ref: '#/components/schemas/outputString'
            image/png:
              schema:
                $ref: '#/components/schemas/outputString'
          description: ERROR
      summary: Files - Crop Image
      tags:
      - Files
      x-openapi-router-controller: openapi_server.controllers.files_controller
      x-codegen-request-body-name: body
  /DateTimeDifference:
    post:
      description: Calculate the difference between two dates
      operationId: date_time_difference
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputDateTimeDifference'
        required: false
        x-body-name: dateTimeDifference
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputDateDifference'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: ERROR
      summary: DateTime - DateTime difference
      tags:
      - DateTime
      x-codegen-request-body-name: dateTimeDifference
      x-openapi-router-controller: openapi_server.controllers.date_time_controller
  /DateTimeInfo:
    post:
      description: "Retrieve useful date and time information, such as day of year,\
        \ total seconds and ticks"
      operationId: date_time_info
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputDateTimeInfo'
        required: false
        x-body-name: dateTimeInfo
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputDateInfo'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: ERROR
      summary: DateTime - Get date and time information
      tags:
      - DateTime
      x-codegen-request-body-name: dateTimeInfo
      x-openapi-router-controller: openapi_server.controllers.date_time_controller
  /DecodeString:
    post:
      description: Decode a string encoded with Base64 encoding
      operationId: decode_string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DecodeString_request'
        required: false
        x-body-name: stringInput
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: ERROR
      summary: Text - Decode string
      tags:
      - Text
      x-codegen-request-body-name: stringInput
      x-openapi-router-controller: openapi_server.controllers.text_controller
  /EncodeString:
    post:
      description: Encode a string using Base64 encoding
      operationId: encode_string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputString'
        required: false
        x-body-name: stringInput
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: ERROR
      summary: Text - Encode string
      tags:
      - Text
      x-codegen-request-body-name: stringInput
      x-openapi-router-controller: openapi_server.controllers.text_controller
  /FileToString:
    post:
      description: Convert a file to a Base64 string
      operationId: file_to_string
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/FileToString_request'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: ERROR
      summary: Files - File to string
      tags:
      - Files
      x-openapi-router-controller: openapi_server.controllers.files_controller
      x-codegen-request-body-name: body
  /FilterCollection:
    post:
      description: Filter a collection of strings by keyword
      operationId: filter_collection
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputCollectionFilter'
        description: Filter collection parameters
        required: false
        x-body-name: collectionFilter
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputCollectionResult'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: ERROR
      summary: Collections - Filter collection
      tags:
      - Collections
      x-codegen-request-body-name: collectionFilter
      x-openapi-router-controller: openapi_server.controllers.collections_controller
  /FlipImage:
    post:
      description: Flip an image (horizontal or vertical)
      operationId: flip_image
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/FlipImage_request'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                format: binary
                type: string
          description: OK
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/outputString'
          description: ERROR
      summary: Files - Flip Image
      tags:
      - Files
      x-openapi-router-controller: openapi_server.controllers.files_controller
      x-codegen-request-body-name: body
  /FormatCurrency:
    post:
      description: Apply currency symbol to a numeric value
      operationId: format_currency
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputCurrencyFormat'
        required: false
        x-body-name: currencyFormat
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: ERROR
      summary: Currency - Format currency
      tags:
      - Finance
      x-codegen-request-body-name: currencyFormat
      x-openapi-router-controller: openapi_server.controllers.finance_controller
  /FormatDateTime:
    post:
      description: Create a date/time string in a specific format
      operationId: format_date_time
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputDateTimeFormat'
        required: false
        x-body-name: dateTimeFormat
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: ERROR
      summary: DateTime - Format date and time
      tags:
      - DateTime
      x-codegen-request-body-name: dateTimeFormat
      x-openapi-router-controller: openapi_server.controllers.date_time_controller
  /GenerateGuid:
    post:
      description: Generate a globally unique identifier
      operationId: generate_guid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputGenerateUniqueID'
        required: false
        x-body-name: generateUniqueID
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: ERROR
      summary: Text - Generate GUID
      tags:
      - Text
      x-codegen-request-body-name: generateUniqueID
      x-openapi-router-controller: openapi_server.controllers.text_controller
  /GenerateHash:
    post:
      description: Generate a hash value from a string
      operationId: generate_hash
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputGenerateHash'
        required: false
        x-body-name: generateHash
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: ERROR
      summary: Text - Generate hash
      tags:
      - Text
      x-codegen-request-body-name: generateHash
      x-openapi-router-controller: openapi_server.controllers.text_controller
  /GenerateQRCode:
    post:
      description: Generate a QR code image
      operationId: generate_qr_code
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputQRCode'
        required: false
        x-body-name: inputQRCode
      responses:
        "200":
          content:
            image/png:
              schema:
                format: binary
                type: string
          description: OK
        "400":
          content:
            image/png:
              schema:
                $ref: '#/components/schemas/outputString'
          description: ERROR
      summary: Files - Generate QR code
      tags:
      - Files
      x-codegen-request-body-name: inputQRCode
      x-openapi-router-controller: openapi_server.controllers.files_controller
  /JSONtoCSV:
    post:
      description: Convert a JSON array to CSV string
      operationId: json_to_csv
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputJsonConversionCSV'
        required: false
        x-body-name: jsonConversionCSV
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: ERROR
      summary: Data - JSON to CSV
      tags:
      - Data
      x-codegen-request-body-name: jsonConversionCSV
      x-openapi-router-controller: openapi_server.controllers.data_controller
  /JSONtoHTML:
    post:
      description: Convert a JSON array to an HTML table
      operationId: json_to_html
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputJsonConversionHTML'
        required: false
        x-body-name: jsonConversionHTML
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: ERROR
      summary: Data - JSON to HTML Table
      tags:
      - Data
      x-codegen-request-body-name: jsonConversionHTML
      x-openapi-router-controller: openapi_server.controllers.data_controller
  /JSONtoXML:
    post:
      description: Convert a JSON object to an XML string
      operationId: json_to_xml
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputJsonConversionXML'
        required: false
        x-body-name: jsonConversionXML
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: ERROR
      summary: Data - JSON to XML
      tags:
      - Data
      x-codegen-request-body-name: jsonConversionXML
      x-openapi-router-controller: openapi_server.controllers.data_controller
  /JoinStrings:
    post:
      description: Join a collection of strings
      operationId: join_strings
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputJoinStrings'
        required: false
        x-body-name: joinStrings
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: ERROR
      summary: Text - Join strings
      tags:
      - Text
      x-codegen-request-body-name: joinStrings
      x-openapi-router-controller: openapi_server.controllers.text_controller
  /MarketIndex:
    post:
      description: Get current and historical market index information
      operationId: market_index
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputMarketIndex'
        required: false
        x-body-name: marketIndex
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputMarketIndex'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: ERROR
      summary: Finance - Market index
      tags:
      - Finance
      x-codegen-request-body-name: marketIndex
      x-openapi-router-controller: openapi_server.controllers.finance_controller
  /QueryJSON:
    post:
      description: Query a JSON object using a JSONPath expression
      operationId: query_json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputDataQuery'
        required: false
        x-body-name: inputDataQuery
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: ERROR
      summary: Data - Query JSON
      tags:
      - Data
      x-codegen-request-body-name: inputDataQuery
      x-openapi-router-controller: openapi_server.controllers.data_controller
  /QueryXML:
    post:
      description: Query an XML string using an XPath expression
      operationId: query_xml
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputDataQuery'
        required: false
        x-body-name: inputDataQuery
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: ERROR
      summary: Data - Query XML
      tags:
      - Data
      x-codegen-request-body-name: inputDataQuery
      x-openapi-router-controller: openapi_server.controllers.data_controller
  /RandomNumber:
    post:
      description: Generate a random number within a specified range
      operationId: random_number
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputNumberRange'
        required: false
        x-body-name: numberRange
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputNumber'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: ERROR
      summary: Math - Random number
      tags:
      - Math
      x-codegen-request-body-name: numberRange
      x-openapi-router-controller: openapi_server.controllers.math_controller
  /RedactString:
    post:
      description: Redact a strng containing sensitive content
      operationId: redact_string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputRedactString'
        required: false
        x-body-name: redactString
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: ERROR
      summary: Text - Redact string
      tags:
      - Text
      x-codegen-request-body-name: redactString
      x-openapi-router-controller: openapi_server.controllers.text_controller
  /RemoveFromCollection:
    post:
      description: Remove an item from a collection
      operationId: remove_from_collection
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputCollectionModify'
        description: Collection modification parameters
        required: false
        x-body-name: collectionModify
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputCollectionResult'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: ERROR
      summary: Collections - Remove from collection
      tags:
      - Collections
      x-codegen-request-body-name: collectionModify
      x-openapi-router-controller: openapi_server.controllers.collections_controller
  /ReplaceString:
    post:
      description: Replace one value with another in a string
      operationId: replace_string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputReplaceString'
        required: false
        x-body-name: replaceString
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: ERROR
      summary: Text - Replace string
      tags:
      - Text
      x-codegen-request-body-name: replaceString
      x-openapi-router-controller: openapi_server.controllers.text_controller
  /ReplaceValuesInCollection:
    post:
      description: Replace whole or partial strings in a collection
      operationId: replace_values_in_collection
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputCollectionReplace'
        description: Replace values in collection parameters
        required: false
        x-body-name: collectionReplace
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputCollectionResult'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: ERROR
      summary: Collections - Replace values in collection
      tags:
      - Collections
      x-codegen-request-body-name: collectionReplace
      x-openapi-router-controller: openapi_server.controllers.collections_controller
  /ResizeImage:
    post:
      description: Resize an image
      operationId: resize_image
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ResizeImage_request'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            image/bmp:
              schema:
                format: binary
                type: string
            image/gif:
              schema:
                format: binary
                type: string
            image/jpeg:
              schema:
                format: binary
                type: string
            image/png:
              schema:
                format: binary
                type: string
          description: OK
        "400":
          content:
            image/bmp:
              schema:
                $ref: '#/components/schemas/outputString'
            image/gif:
              schema:
                $ref: '#/components/schemas/outputString'
            image/jpeg:
              schema:
                $ref: '#/components/schemas/outputString'
            image/png:
              schema:
                $ref: '#/components/schemas/outputString'
          description: ERROR
      summary: Files - Resize Image
      tags:
      - Files
      x-openapi-router-controller: openapi_server.controllers.files_controller
      x-codegen-request-body-name: body
  /RotateImage:
    post:
      description: Rotate an image by specified number of degrees
      operationId: rotate_image
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/RotateImage_request'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                format: binary
                type: string
          description: OK
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/outputString'
          description: ERROR
      summary: Files - Rotate Image
      tags:
      - Files
      x-openapi-router-controller: openapi_server.controllers.files_controller
      x-codegen-request-body-name: body
  /RoundNumber:
    post:
      description: Round a numeric value up or down
      operationId: round_number
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputCalculateNumber'
        description: Numeric calculation parameters
        required: false
        x-body-name: calculateNumber
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputNumber'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: ERROR
      summary: Math - Round number
      tags:
      - Math
      x-codegen-request-body-name: calculateNumber
      x-openapi-router-controller: openapi_server.controllers.math_controller
  /ShortenLink:
    post:
      description: "Generate a simple, short URL from a complex URL"
      operationId: shorten_link
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShortenLink_request'
        required: false
        x-body-name: stringInput
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: ERROR
      summary: Text - Shorten hyperlink
      tags:
      - Text
      x-codegen-request-body-name: stringInput
      x-openapi-router-controller: openapi_server.controllers.text_controller
  /SortCollection:
    post:
      description: Sort a collection of strings
      operationId: sort_collection
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputCollectionSort'
        description: Sort collection parameters
        required: false
        x-body-name: collectionSort
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputCollectionResult'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: ERROR
      summary: Collections - Sort collection
      tags:
      - Collections
      x-codegen-request-body-name: collectionSort
      x-openapi-router-controller: openapi_server.controllers.collections_controller
  /SpeechToText:
    post:
      description: Convert audio file to text (10MB limit)
      operationId: speech_to_text
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/SpeechToText_request'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: ERROR
      summary: Text - Speech to Text
      tags:
      - Text
      x-openapi-router-controller: openapi_server.controllers.text_controller
      x-codegen-request-body-name: body
  /SplitCollection:
    post:
      description: Split a collection of items by matching value or index
      operationId: split_collection
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputCollectionSplit'
        description: Split collection parameters
        required: false
        x-body-name: collectionSplit
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputMultiCollection'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: ERROR
      summary: Collections - Split collection
      tags:
      - Collections
      x-codegen-request-body-name: collectionSplit
      x-openapi-router-controller: openapi_server.controllers.collections_controller
  /SplitString:
    post:
      description: Split a string based upon one or more characters
      operationId: split_string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputSplitString'
        required: false
        x-body-name: splitString
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputStringArray'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: ERROR
      summary: Text - Split string
      tags:
      - Text
      x-codegen-request-body-name: splitString
      x-openapi-router-controller: openapi_server.controllers.text_controller
  /StandardDeviation:
    post:
      description: Calculate the standard deviation of two or more numbers
      operationId: standard_deviation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputCalculateSeries'
        description: Series calculation parameters
        required: false
        x-body-name: calculateSeries
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputNumber'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: ERROR
      summary: Math - Calculate standard deviation
      tags:
      - Math
      x-codegen-request-body-name: calculateSeries
      x-openapi-router-controller: openapi_server.controllers.math_controller
  /StockPrices:
    post:
      description: Get current and historical stock price information
      operationId: stock_prices
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputStockPrices'
        required: false
        x-body-name: stockPrices
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputStockPrice'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: ERROR
      summary: Finance - Stock prices
      tags:
      - Finance
      x-codegen-request-body-name: stockPrices
      x-openapi-router-controller: openapi_server.controllers.finance_controller
  /StringToFile:
    post:
      description: Convert text string to file
      operationId: string_to_file
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputStringToFile'
        required: false
        x-body-name: inputStringToFile
      responses:
        "200":
          content:
            application/json:
              schema:
                format: binary
                type: string
            application/xml:
              schema:
                format: binary
                type: string
            text/css:
              schema:
                format: binary
                type: string
            text/csv:
              schema:
                format: binary
                type: string
            text/html:
              schema:
                format: binary
                type: string
            text/javascript:
              schema:
                format: binary
                type: string
            text/plain:
              schema:
                format: binary
                type: string
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
            application/xml:
              schema:
                $ref: '#/components/schemas/outputString'
            text/css:
              schema:
                $ref: '#/components/schemas/outputString'
            text/csv:
              schema:
                $ref: '#/components/schemas/outputString'
            text/html:
              schema:
                $ref: '#/components/schemas/outputString'
            text/javascript:
              schema:
                $ref: '#/components/schemas/outputString'
            text/plain:
              schema:
                $ref: '#/components/schemas/outputString'
          description: ERROR
      summary: Text - String to File
      tags:
      - Text
      x-codegen-request-body-name: inputStringToFile
      x-openapi-router-controller: openapi_server.controllers.text_controller
  /TextToSpeech:
    post:
      description: Convert text to an audio file using AI-driven speech synthesis.
      operationId: text_to_speech
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputTextToSpeech'
        required: false
        x-body-name: textToSpeech
      responses:
        "200":
          content:
            audio/mp3:
              schema:
                format: binary
                type: string
          description: OK
        "400":
          content:
            audio/mp3:
              schema:
                $ref: '#/components/schemas/outputString'
          description: ERROR
      summary: Text - Text to Speech
      tags:
      - Text
      x-codegen-request-body-name: textToSpeech
      x-openapi-router-controller: openapi_server.controllers.text_controller
  /TranslateString:
    post:
      description: Translate a string into a different language
      operationId: translate_string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputTranslateString'
        required: false
        x-body-name: translateString
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: ERROR
      summary: Text - Translate string
      tags:
      - Text
      x-codegen-request-body-name: translateString
      x-openapi-router-controller: openapi_server.controllers.text_controller
  /TrimString:
    post:
      description: Trim leading or trailing whitespace from a string
      operationId: trim_string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputTrimString'
        required: false
        x-body-name: trimString
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: ERROR
      summary: Text - Trim string
      tags:
      - Text
      x-codegen-request-body-name: trimString
      x-openapi-router-controller: openapi_server.controllers.text_controller
  /URLDecode:
    post:
      description: Decode an encoded URL
      operationId: url_decode
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UrlDecode_request'
        required: false
        x-body-name: stringInput
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: ERROR
      summary: Text - Decode URL
      tags:
      - Text
      x-codegen-request-body-name: stringInput
      x-openapi-router-controller: openapi_server.controllers.text_controller
  /URLEncode:
    post:
      description: Generate an encoded string from a complex hyperlink
      operationId: url_encode
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputString'
        required: false
        x-body-name: stringInput
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: ERROR
      summary: Text - Encode URL
      tags:
      - Text
      x-codegen-request-body-name: stringInput
      x-openapi-router-controller: openapi_server.controllers.text_controller
  /ValidateEmail:
    post:
      description: Determine if an email address is valid
      operationId: validate_email
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidateEmail_request'
        required: false
        x-body-name: stringInput
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: ERROR
      summary: Text - Validate email
      tags:
      - Text
      x-codegen-request-body-name: stringInput
      x-openapi-router-controller: openapi_server.controllers.text_controller
  /VerifyHash:
    post:
      description: Verify a hashed value against the original source string
      operationId: verify_hash
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputVerifyHash'
        required: false
        x-body-name: verifyHash
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputBoolean'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: ERROR
      summary: Text - Verify hash
      tags:
      - Text
      x-codegen-request-body-name: verifyHash
      x-openapi-router-controller: openapi_server.controllers.text_controller
  /WatermarkImage:
    post:
      description: Add watermark text to an image
      operationId: watermark_image
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/WatermarkImage_request'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                format: binary
                type: string
          description: OK
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/outputString'
          description: ERROR
      summary: Files - Watermark Image
      tags:
      - Files
      x-openapi-router-controller: openapi_server.controllers.files_controller
      x-codegen-request-body-name: body
  /WorldTime:
    post:
      description: Convert date and time from one time zone to another
      operationId: world_time
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputDateTimeConversion'
        required: false
        x-body-name: dateTimeConversion
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: ERROR
      summary: DateTime - Get world time
      tags:
      - DateTime
      x-codegen-request-body-name: dateTimeConversion
      x-openapi-router-controller: openapi_server.controllers.date_time_controller
  /XMLtoJSON:
    post:
      description: Convert an XML string to a JSON object
      operationId: xml_to_json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputXmlConversionJSON'
        required: false
        x-body-name: xmlConversionJSON
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
          description: ERROR
      summary: Data - XML to JSON
      tags:
      - Data
      x-codegen-request-body-name: xmlConversionJSON
      x-openapi-router-controller: openapi_server.controllers.data_controller
components:
  schemas:
    inputCalculateMinMax:
      example:
        input:
        - 1
        - 2
        - 3
        - 4
        - 5
        type: Minimum
      properties:
        input:
          description: Colllection of values to calculate
          items:
            type: number
          type: array
          x-ms-summary: Values
        type:
          default: Minimum
          description: Minimum or Maximum
          enum:
          - Minimum
          - Maximum
          type: string
          x-ms-summary: Min or Max
      required:
      - input
      - type
      title: inputCalculateMinMax
      type: object
    inputCalculateNumber:
      example:
        decimals: 2
        input: 0.195928
      properties:
        decimals:
          description: Round to number of decimal places
          minimum: 0
          type: number
          x-ms-summary: Decimal Places
        input:
          description: Numeric value to calculate
          type: number
          x-ms-summary: Value
      required:
      - decimals
      - input
      title: inputCalculateNumber
      type: object
    inputCalculateNumbers:
      example:
        decimals: 2
        input: 4
        value: 2
      properties:
        decimals:
          description: Round to number of decimal places
          minimum: 0
          type: number
          x-ms-summary: Decimal Places
        input:
          description: Numeric value
          type: number
          x-ms-summary: Primary Value
        value:
          description: "Addend, subtrahend, factor, divisor or radicand"
          type: number
          x-ms-summary: Secondary Value
      required:
      - decimals
      - input
      - value
      title: inputCalculateNumbers
      type: object
    inputCalculatePower:
      example:
        decimals: 2
        input: 5.53
        power: 4
      properties:
        decimals:
          description: Round to number of decimal places
          minimum: 0
          type: number
          x-ms-summary: Decimal Places
        input:
          description: Number to raise
          type: number
          x-ms-summary: Number
        power:
          description: Power
          type: number
          x-ms-summary: Power
      required:
      - decimals
      - input
      - power
      title: inputCalculatePower
      type: object
    inputCalculateSeries:
      example:
        decimals: 2
        input:
        - 1
        - 2
        - 3
        - 4
        - 5
      properties:
        decimals:
          description: Round to number of decimal places
          minimum: 0
          type: number
          x-ms-summary: Decimal Places
        input:
          description: Colllection of values to calculate
          items:
            type: number
          type: array
          x-ms-summary: Values
      required:
      - decimals
      - input
      title: inputCalculateSeries
      type: object
    inputCaseConversion:
      example:
        alphacase: Upper
        input: the brown cow
      properties:
        alphacase:
          description: Case of conversion result
          enum:
          - Upper
          - Lower
          - Title
          type: string
          x-ms-summary: Case
        input:
          description: String containing the text to convert
          type: string
          x-ms-summary: Value
      required:
      - alphacase
      - input
      title: inputCaseConversion
      type: object
    inputCollectionConversion:
      example:
        input:
        - a
        - b
        - c
        - d
        - e
        name: Items
      properties:
        input:
          description: Collection containing strings to convert
          items:
            type: string
          type: array
          x-ms-summary: Values
        name:
          description: Collection name
          type: string
          x-ms-summary: Name
      required:
      - input
      - name
      title: inputCollectionConversion
      type: object
    inputCollectionConversionXML:
      example:
        child: Item
        input:
        - a
        - b
        - c
        - d
        - e
        root: Items
      properties:
        child:
          description: Name of child XML node(s)
          type: string
          x-ms-summary: Child Node Name
        input:
          description: Collection containing strings to convert
          items:
            type: string
          type: array
          x-ms-summary: Values
        root:
          description: Name of root XML node
          type: string
          x-ms-summary: Root Node Name
      required:
      - child
      - input
      - root
      title: inputCollectionConversionXML
      type: object
    inputCollectionCount:
      example:
        input:
        - a
        - d
        - c
        - b
        - e
      properties:
        input:
          description: Collection of items to count
          items:
            type: string
          type: array
          x-ms-summary: Collection
      required:
      - input
      title: inputCollectionCount
      type: object
    inputCollectionFilter:
      example:
        input:
        - the cow
        - jumped over
        - the moon
        keywords: "cow,moon"
        match: Any
      properties:
        input:
          description: Collection of strings to filter
          items:
            type: string
          type: array
          x-ms-summary: Collection
        keywords:
          description: Keywords (separate multiple values with commas)
          type: string
          x-ms-summary: Keywords
        match:
          default: Any
          description: Match type
          enum:
          - Any
          - All
          - None
          type: string
          x-ms-summary: Match
      required:
      - input
      - keywords
      - match
      title: inputCollectionFilter
      type: object
    inputCollectionModify:
      example:
        index: "0"
        input:
        - a
        - b
        - c
        item: d
        items: ""
      properties:
        index:
          description: Index position for operation (leave blank to specify end of
            collection)
          type: string
          x-ms-summary: Index
        input:
          description: Collection of values or objects to modify
          items:
            type: string
          type: array
          x-ms-summary: Collection
        item:
          description: "Item (for multiple items, leave blank and use Items)"
          type: string
          x-ms-summary: Item
        items:
          description: "Items (Collection, for a single item leave blank and use Item)"
          items:
            type: string
          type: array
          x-ms-summary: Items
      required:
      - input
      title: inputCollectionModify
      type: object
    inputCollectionReplace:
      example:
        ignoreCase: true
        input:
        - the brown cow
        - jumped over
        - the brown dog
        match: Brown
        replacement: spotted
      properties:
        ignoreCase:
          default: "true"
          description: Ignore case
          enum:
          - "true"
          - "false"
          type: string
          x-ms-summary: Ignore case
        input:
          description: Collection of strings
          items:
            type: string
          type: array
          x-ms-summary: Collection
        match:
          description: Match value
          type: string
          x-ms-summary: Match value
        replacement:
          description: Replacement value
          type: string
          x-ms-summary: Replacement value
      required:
      - ignoreCase
      - input
      - match
      - replacement
      title: inputCollectionReplace
      type: object
    inputCollectionSearch:
      example:
        ignorecase: true
        input:
        - the
        - brown
        - 'cow '
        match: cow
        trim: true
      properties:
        ignorecase:
          description: Ignore case when performing comparison
          enum:
          - "true"
          - "false"
          type: string
          x-ms-summary: Ignore Case
        input:
          description: Collection of strings to search
          items:
            type: string
          type: array
          x-ms-summary: Values
        match:
          description: Text to match
          type: string
          x-ms-summary: Text
        trim:
          description: Trim white space from comparison string
          enum:
          - "true"
          - "false"
          type: string
          x-ms-summary: Trim
      required:
      - input
      - match
      title: inputCollectionSearch
      type: object
    inputCollectionSearchNumeric:
      example:
        input:
        - 1.25
        - 10.5
        - 20.75
        - 51.25
        - 119.6
        - 301.25
        match: "1.25,"
        type: Decimal
      properties:
        input:
          description: Collection of strings to search
          items:
            type: number
          type: array
          x-ms-summary: Values
        match:
          description: Number to match
          type: number
          x-ms-summary: Number
        type:
          default: Integer
          description: Type of number - integer or decimal
          enum:
          - Integer
          - Decimal
          type: string
          x-ms-summary: Number Type
      required:
      - input
      - match
      title: inputCollectionSearchNumeric
      type: object
    inputCollectionSort:
      example:
        input:
        - a
        - d
        - c
        - b
        - e
        order: Ascending
      properties:
        input:
          description: Collection of strings to sort
          items:
            type: string
          type: array
          x-ms-summary: Collection
        order:
          default: Ascending
          description: Sort order
          enum:
          - Ascending
          - Descending
          type: string
          x-ms-summary: Order
      required:
      - input
      - order
      title: inputCollectionSort
      type: object
    inputCollectionSplit:
      example:
        index: ""
        input:
        - the cow
        - jumped over
        - the moon
        match: jumped over
      properties:
        index:
          description: Index location to split (leave empty to use Match value)
          type: string
          x-ms-summary: Index
        input:
          description: Collection of items to split
          items:
            type: string
          type: array
          x-ms-summary: Collection
        match:
          description: "String to match (explicit, case-insensitive, leave empty to\
            \ use Index)"
          type: string
          x-ms-summary: Match Value
      required:
      - input
      title: inputCollectionSplit
      type: object
    inputConvertAngle:
      example:
        input: 16.036844
        source: Arcminute
        target: Arcsecond
      properties:
        input:
          type: number
          x-ms-summary: Measurement value
        source:
          enum:
          - Arcminute
          - Arcsecond
          - Centiradian
          - Deciradian
          - Degree
          - Gradian
          - Microdegree
          - Microradian
          - Millidegree
          - Milliradian
          - Nanodegree
          - Nanoradian
          - Radian
          - Revolution
          type: string
          x-ms-summary: Source measurement
        target:
          enum:
          - Arcminute
          - Arcsecond
          - Centiradian
          - Deciradian
          - Degree
          - Gradian
          - Microdegree
          - Microradian
          - Millidegree
          - Milliradian
          - Nanodegree
          - Nanoradian
          - Radian
          - Revolution
          type: string
          x-ms-summary: Target measurement
      required:
      - input
      - source
      - target
      title: inputConvertAngle
      type: object
    inputConvertArea:
      example:
        input: 0.416714
        source: Acre
        target: SquareFoot
      properties:
        input:
          type: number
          x-ms-summary: Measurement value
        source:
          enum:
          - Acre
          - Hectare
          - SquareCentimeter
          - SquareDecimeter
          - SquareFoot
          - SquareInch
          - SquareKilometer
          - SquareMeter
          - SquareMicrometer
          - SquareMile
          - SquareMillimeter
          - SquareYard
          type: string
          x-ms-summary: Source measurement
        target:
          enum:
          - Acre
          - Hectare
          - SquareCentimeter
          - SquareDecimeter
          - SquareFoot
          - SquareInch
          - SquareKilometer
          - SquareMeter
          - SquareMicrometer
          - SquareMile
          - SquareMillimeter
          - SquareYard
          type: string
          x-ms-summary: Target measurement
      required:
      - input
      - source
      - target
      title: inputConvertArea
      type: object
    inputConvertDistance:
      example:
        input: 0.525505
        source: Meter
        target: Foot
      properties:
        input:
          type: number
          x-ms-summary: Measurement value
        source:
          enum:
          - Centimeter
          - Decimeter
          - Fathom
          - Foot
          - Hectometer
          - Inch
          - Kilometer
          - LightYear
          - Meter
          - Micrometer
          - Mile
          - Millimeter
          - Nanometer
          - NauticalMile
          - Yard
          type: string
          x-ms-summary: Source measurement
        target:
          enum:
          - Centimeter
          - Decimeter
          - Fathom
          - Foot
          - Hectometer
          - Inch
          - Kilometer
          - LightYear
          - Meter
          - Micrometer
          - Mile
          - Millimeter
          - Nanometer
          - NauticalMile
          - Yard
          type: string
          x-ms-summary: Target measurement
      required:
      - input
      - source
      - target
      title: inputConvertDistance
      type: object
    inputConvertDuration:
      example:
        input: 0.66375
        source: Day
        target: Hour
      properties:
        input:
          type: number
          x-ms-summary: Measurement value
        source:
          enum:
          - Day
          - Hour
          - Microsecond
          - Millisecond
          - Minute
          - Month
          - Nanosecond
          - Second
          - Week
          - Year
          type: string
          x-ms-summary: Source measurement
        target:
          enum:
          - Day
          - Hour
          - Microsecond
          - Millisecond
          - Minute
          - Month
          - Nanosecond
          - Second
          - Week
          - Year
          type: string
          x-ms-summary: Target measurement
      required:
      - input
      - source
      - target
      title: inputConvertDuration
      type: object
    inputConvertEnergy:
      example:
        input: 0.397155
        source: Calorie
        target: Joule
      properties:
        input:
[...]
