openapi: 3.0.0
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: 'Manages and executes Google Apps Script projects. '
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Apps Script API
  version: v1
  x-apiClientRegistration:
    url: https://console.developers.google.com
  x-apisguru-categories:
  - analytics
  - media
  x-logo:
    url: https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png
  x-origin:
  - converter:
      url: https://github.com/mermade/oas-kit
      version: 7.0.4
    format: google
    url: https://script.googleapis.com/$discovery/rest?version=v1
    version: v1
  x-providerName: googleapis.com
  x-serviceName: script
externalDocs:
  url: https://developers.google.com/apps-script/api/
servers:
- url: https://script.googleapis.com/
tags:
- name: processes
- name: projects
- name: scripts
paths:
  /v1/processes:
    get:
      description: "List information about processes made by or on behalf of a user,\
        \ such as process type and current status."
      operationId: script_processes_list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: The maximum number of returned processes per page of results.
          Defaults to 50.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: The token for continuing a previous list request on the next
          page. This should be set to the value of `nextPageToken` from a previous
          response.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      - description: Optional field used to limit returned processes to those originating
          from projects with a specific deployment ID.
        explode: true
        in: query
        name: userProcessFilter.deploymentId
        required: false
        schema:
          type: string
        style: form
      - description: Optional field used to limit returned processes to those that
          completed on or before the given timestamp.
        explode: true
        in: query
        name: userProcessFilter.endTime
        required: false
        schema:
          type: string
        style: form
      - description: Optional field used to limit returned processes to those originating
          from a script function with the given function name.
        explode: true
        in: query
        name: userProcessFilter.functionName
        required: false
        schema:
          type: string
        style: form
      - description: Optional field used to limit returned processes to those originating
          from projects with project names containing a specific string.
        explode: true
        in: query
        name: userProcessFilter.projectName
        required: false
        schema:
          type: string
        style: form
      - description: Optional field used to limit returned processes to those originating
          from projects with a specific script ID.
        explode: true
        in: query
        name: userProcessFilter.scriptId
        required: false
        schema:
          type: string
        style: form
      - description: Optional field used to limit returned processes to those that
          were started on or after the given timestamp.
        explode: true
        in: query
        name: userProcessFilter.startTime
        required: false
        schema:
          type: string
        style: form
      - description: Optional field used to limit returned processes to those having
          one of the specified process statuses.
        explode: true
        in: query
        name: userProcessFilter.statuses
        required: false
        schema:
          items:
            enum:
            - PROCESS_STATUS_UNSPECIFIED
            - RUNNING
            - PAUSED
            - COMPLETED
            - CANCELED
            - FAILED
            - TIMED_OUT
            - UNKNOWN
            - DELAYED
            - EXECUTION_DISABLED
            type: string
          type: array
        style: form
      - description: Optional field used to limit returned processes to those having
          one of the specified process types.
        explode: true
        in: query
        name: userProcessFilter.types
        required: false
        schema:
          items:
            enum:
            - PROCESS_TYPE_UNSPECIFIED
            - ADD_ON
            - EXECUTION_API
            - TIME_DRIVEN
            - TRIGGER
            - WEBAPP
            - EDITOR
            - SIMPLE_TRIGGER
            - MENU
            - BATCH_TASK
            type: string
          type: array
        style: form
      - description: Optional field used to limit returned processes to those having
          one of the specified user access levels.
        explode: true
        in: query
        name: userProcessFilter.userAccessLevels
        required: false
        schema:
          items:
            enum:
            - USER_ACCESS_LEVEL_UNSPECIFIED
            - NONE
            - READ
            - WRITE
            - OWNER
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListUserProcessesResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/script.processes
        Oauth2c:
        - https://www.googleapis.com/auth/script.processes
      tags:
      - processes
      x-openapi-router-controller: openapi_server.controllers.processes_controller
  /v1/processes:listScriptProcesses:
    get:
      description: "List information about a script's executed processes, such as\
        \ process type and current status."
      operationId: script_processes_list_script_processes
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: The maximum number of returned processes per page of results.
          Defaults to 50.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: The token for continuing a previous list request on the next
          page. This should be set to the value of `nextPageToken` from a previous
          response.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      - description: The script ID of the project whose processes are listed.
        explode: true
        in: query
        name: scriptId
        required: false
        schema:
          type: string
        style: form
      - description: Optional field used to limit returned processes to those originating
          from projects with a specific deployment ID.
        explode: true
        in: query
        name: scriptProcessFilter.deploymentId
        required: false
        schema:
          type: string
        style: form
      - description: Optional field used to limit returned processes to those that
          completed on or before the given timestamp.
        explode: true
        in: query
        name: scriptProcessFilter.endTime
        required: false
        schema:
          type: string
        style: form
      - description: Optional field used to limit returned processes to those originating
          from a script function with the given function name.
        explode: true
        in: query
        name: scriptProcessFilter.functionName
        required: false
        schema:
          type: string
        style: form
      - description: Optional field used to limit returned processes to those that
          were started on or after the given timestamp.
        explode: true
        in: query
        name: scriptProcessFilter.startTime
        required: false
        schema:
          type: string
        style: form
      - description: Optional field used to limit returned processes to those having
          one of the specified process statuses.
        explode: true
        in: query
        name: scriptProcessFilter.statuses
        required: false
        schema:
          items:
            enum:
            - PROCESS_STATUS_UNSPECIFIED
            - RUNNING
            - PAUSED
            - COMPLETED
            - CANCELED
            - FAILED
            - TIMED_OUT
            - UNKNOWN
            - DELAYED
            - EXECUTION_DISABLED
            type: string
          type: array
        style: form
      - description: Optional field used to limit returned processes to those having
          one of the specified process types.
        explode: true
        in: query
        name: scriptProcessFilter.types
        required: false
        schema:
          items:
            enum:
            - PROCESS_TYPE_UNSPECIFIED
            - ADD_ON
            - EXECUTION_API
            - TIME_DRIVEN
            - TRIGGER
            - WEBAPP
            - EDITOR
            - SIMPLE_TRIGGER
            - MENU
            - BATCH_TASK
            type: string
          type: array
        style: form
      - description: Optional field used to limit returned processes to those having
          one of the specified user access levels.
        explode: true
        in: query
        name: scriptProcessFilter.userAccessLevels
        required: false
        schema:
          items:
            enum:
            - USER_ACCESS_LEVEL_UNSPECIFIED
            - NONE
            - READ
            - WRITE
            - OWNER
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListScriptProcessesResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/script.processes
        Oauth2c:
        - https://www.googleapis.com/auth/script.processes
      tags:
      - processes
      x-openapi-router-controller: openapi_server.controllers.processes_controller
  /v1/projects:
    post:
      description: "Creates a new, empty script project with no script files and a\
        \ base manifest file."
      operationId: script_projects_create
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProjectRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/script.projects
        Oauth2c:
        - https://www.googleapis.com/auth/script.projects
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
      x-codegen-request-body-name: body
  /v1/projects/{scriptId}:
    get:
      description: Gets a script project's metadata.
      operationId: script_projects_get
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: The script project's Drive ID.
        explode: false
        in: path
        name: scriptId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/script.projects
        Oauth2c:
        - https://www.googleapis.com/auth/script.projects
      - Oauth2:
        - https://www.googleapis.com/auth/script.projects.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/script.projects.readonly
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
  /v1/projects/{scriptId}/content:
    get:
      description: "Gets the content of the script project, including the code source\
        \ and metadata for each script file."
      operationId: script_projects_get_content
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: The script project's Drive ID.
        explode: false
        in: path
        name: scriptId
        required: true
        schema:
          type: string
        style: simple
      - description: "The version number of the project to retrieve. If not provided,\
          \ the project's HEAD version is returned."
        explode: true
        in: query
        name: versionNumber
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Content'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/script.projects
        Oauth2c:
        - https://www.googleapis.com/auth/script.projects
      - Oauth2:
        - https://www.googleapis.com/auth/script.projects.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/script.projects.readonly
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
    put:
      description: "Updates the content of the specified script project. This content\
        \ is stored as the HEAD version, and is used when the script is executed as\
        \ a trigger, in the script editor, in add-on preview mode, or as a web app\
        \ or Apps Script API in development mode. This clears all the existing files\
        \ in the project."
      operationId: script_projects_update_content
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: The script project's Drive ID.
        explode: false
        in: path
        name: scriptId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Content'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Content'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/script.projects
        Oauth2c:
        - https://www.googleapis.com/auth/script.projects
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
      x-codegen-request-body-name: body
  /v1/projects/{scriptId}/deployments:
    get:
      description: Lists the deployments of an Apps Script project.
      operationId: script_projects_deployments_list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: The script project's Drive ID.
        explode: false
        in: path
        name: scriptId
        required: true
        schema:
          type: string
        style: simple
      - description: The maximum number of deployments on each returned page. Defaults
          to 50.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: The token for continuing a previous list request on the next
          page. This should be set to the value of `nextPageToken` from a previous
          response.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListDeploymentsResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/script.deployments
        Oauth2c:
        - https://www.googleapis.com/auth/script.deployments
      - Oauth2:
        - https://www.googleapis.com/auth/script.deployments.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/script.deployments.readonly
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
    post:
      description: Creates a deployment of an Apps Script project.
      operationId: script_projects_deployments_create
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: The script project's Drive ID.
        explode: false
        in: path
        name: scriptId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeploymentConfig'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deployment'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/script.deployments
        Oauth2c:
        - https://www.googleapis.com/auth/script.deployments
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
      x-codegen-request-body-name: body
  /v1/projects/{scriptId}/deployments/{deploymentId}:
    delete:
      description: Deletes a deployment of an Apps Script project.
      operationId: script_projects_deployments_delete
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: The script project's Drive ID.
        explode: false
        in: path
        name: scriptId
        required: true
        schema:
          type: string
        style: simple
      - description: The deployment ID to be undeployed.
        explode: false
        in: path
        name: deploymentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/script.deployments
        Oauth2c:
        - https://www.googleapis.com/auth/script.deployments
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
    get:
      description: Gets a deployment of an Apps Script project.
      operationId: script_projects_deployments_get
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: The script project's Drive ID.
        explode: false
        in: path
        name: scriptId
        required: true
        schema:
          type: string
        style: simple
      - description: The deployment ID.
        explode: false
        in: path
        name: deploymentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deployment'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/script.deployments
        Oauth2c:
        - https://www.googleapis.com/auth/script.deployments
      - Oauth2:
        - https://www.googleapis.com/auth/script.deployments.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/script.deployments.readonly
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
    put:
      description: Updates a deployment of an Apps Script project.
      operationId: script_projects_deployments_update
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: The script project's Drive ID.
        explode: false
        in: path
        name: scriptId
        required: true
        schema:
          type: string
        style: simple
      - description: The deployment ID for this deployment.
        explode: false
        in: path
        name: deploymentId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDeploymentRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deployment'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/script.deployments
        Oauth2c:
        - https://www.googleapis.com/auth/script.deployments
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
      x-codegen-request-body-name: body
  /v1/projects/{scriptId}/metrics:
    get:
      description: "Get metrics data for scripts, such as number of executions and\
        \ active users."
      operationId: script_projects_get_metrics
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required field indicating the script to get metrics for.
        explode: false
        in: path
        name: scriptId
        required: true
        schema:
          type: string
        style: simple
      - description: Optional field indicating a specific deployment to retrieve metrics
          from.
        explode: true
        in: query
        name: metricsFilter.deploymentId
        required: false
        schema:
          type: string
        style: form
      - description: Required field indicating what granularity of metrics are returned.
        explode: true
        in: query
        name: metricsGranularity
        required: false
        schema:
          enum:
          - UNSPECIFIED_GRANULARITY
          - WEEKLY
          - DAILY
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Metrics'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/script.metrics
        Oauth2c:
        - https://www.googleapis.com/auth/script.metrics
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
  /v1/projects/{scriptId}/versions:
    get:
      description: List the versions of a script project.
      operationId: script_projects_versions_list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: The script project's Drive ID.
        explode: false
        in: path
        name: scriptId
        required: true
        schema:
          type: string
        style: simple
      - description: The maximum number of versions on each returned page. Defaults
          to 50.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: The token for continuing a previous list request on the next
          page. This should be set to the value of `nextPageToken` from a previous
          response.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListVersionsResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/script.projects
        Oauth2c:
        - https://www.googleapis.com/auth/script.projects
      - Oauth2:
        - https://www.googleapis.com/auth/script.projects.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/script.projects.readonly
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
    post:
      description: "Creates a new immutable version using the current code, with a\
        \ unique version number."
      operationId: script_projects_versions_create
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: The script project's Drive ID.
        explode: false
        in: path
        name: scriptId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Version'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Version'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/script.projects
        Oauth2c:
        - https://www.googleapis.com/auth/script.projects
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
      x-codegen-request-body-name: body
  /v1/projects/{scriptId}/versions/{versionNumber}:
    get:
      description: Gets a version of a script project.
      operationId: script_projects_versions_get
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: The script project's Drive ID.
        explode: false
        in: path
        name: scriptId
        required: true
        schema:
          type: string
        style: simple
      - description: The version number.
        explode: false
        in: path
        name: versionNumber
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Version'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/script.projects
        Oauth2c:
        - https://www.googleapis.com/auth/script.projects
      - Oauth2:
        - https://www.googleapis.com/auth/script.projects.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/script.projects.readonly
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
  /v1/scripts/{scriptId}:run:
    post:
      description: "Runs a function in an Apps Script project. The script project\
        \ must be deployed for use with the Apps Script API and the calling application\
        \ must share the same Cloud Platform project. This method requires authorization\
        \ with an OAuth 2.0 token that includes at least one of the scopes listed\
        \ in the [Authorization](#authorization-scopes) section; script projects that\
        \ do not require authorization cannot be executed through this API. To find\
        \ the correct scopes to include in the authentication token, open the script\
        \ project **Overview** page and scroll down to \"Project OAuth Scopes.\" The\
        \ error `403, PERMISSION_DENIED: The caller does not have permission` indicates\
        \ that the Cloud Platform project used to authorize the request is not the\
        \ same as the one used by the script."
      operationId: script_scripts_run
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "The script ID of the script to be executed. Find the script\
          \ ID on the **Project settings** page under \"IDs.\" As multiple executable\
          \ APIs can be deployed in new IDE for same script, this field should be\
          \ populated with DeploymentID generated while deploying in new IDE instead\
          \ of script ID."
        explode: false
        in: path
        name: scriptId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExecutionRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
          description: Successful response
      security:
      - Oauth2:
        - https://mail.google.com/
        Oauth2c:
        - https://mail.google.com/
      - Oauth2:
        - https://www.google.com/calendar/feeds
        Oauth2c:
        - https://www.google.com/calendar/feeds
      - Oauth2:
        - https://www.google.com/m8/feeds
        Oauth2c:
        - https://www.google.com/m8/feeds
      - Oauth2:
        - https://www.googleapis.com/auth/admin.directory.group
        Oauth2c:
        - https://www.googleapis.com/auth/admin.directory.group
      - Oauth2:
        - https://www.googleapis.com/auth/admin.directory.user
        Oauth2c:
        - https://www.googleapis.com/auth/admin.directory.user
      - Oauth2:
        - https://www.googleapis.com/auth/documents
        Oauth2c:
        - https://www.googleapis.com/auth/documents
      - Oauth2:
        - https://www.googleapis.com/auth/drive
        Oauth2c:
        - https://www.googleapis.com/auth/drive
      - Oauth2:
        - https://www.googleapis.com/auth/forms
        Oauth2c:
        - https://www.googleapis.com/auth/forms
      - Oauth2:
        - https://www.googleapis.com/auth/forms.currentonly
        Oauth2c:
        - https://www.googleapis.com/auth/forms.currentonly
      - Oauth2:
        - https://www.googleapis.com/auth/groups
        Oauth2c:
        - https://www.googleapis.com/auth/groups
      - Oauth2:
        - https://www.googleapis.com/auth/spreadsheets
        Oauth2c:
        - https://www.googleapis.com/auth/spreadsheets
      - Oauth2:
        - https://www.googleapis.com/auth/userinfo.email
        Oauth2c:
        - https://www.googleapis.com/auth/userinfo.email
      tags:
      - scripts
      x-openapi-router-controller: openapi_server.controllers.scripts_controller
      x-codegen-request-body-name: body
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      explode: true
      in: query
      name: $.xgafv
      required: false
      schema:
        enum:
        - "1"
        - "2"
        type: string
      style: form
    access_token:
      description: OAuth access token.
      explode: true
      in: query
      name: access_token
      required: false
      schema:
        type: string
      style: form
    alt:
      description: Data format for response.
      explode: true
      in: query
      name: alt
      required: false
      schema:
        enum:
        - json
        - media
        - proto
        type: string
      style: form
    callback:
      description: JSONP
      explode: true
      in: query
      name: callback
      required: false
      schema:
        type: string
      style: form
    fields:
      description: Selector specifying which fields to include in a partial response.
      explode: true
      in: query
      name: fields
      required: false
      schema:
        type: string
      style: form
    key:
      description: "API key. Your API key identifies your project and provides you\
        \ with API access, quota, and reports. Required unless you provide an OAuth\
        \ 2.0 token."
      explode: true
      in: query
      name: key
      required: false
      schema:
        type: string
      style: form
    oauth_token:
      description: OAuth 2.0 token for the current user.
      explode: true
      in: query
      name: oauth_token
      required: false
      schema:
        type: string
      style: form
    prettyPrint:
      description: Returns response with indentations and line breaks.
      explode: true
      in: query
      name: prettyPrint
      required: false
      schema:
        type: boolean
      style: form
    quotaUser:
      description: "Available to use for quota purposes for server-side applications.\
        \ Can be any arbitrary string assigned to a user, but should not exceed 40\
        \ characters."
      explode: true
      in: query
      name: quotaUser
      required: false
      schema:
        type: string
      style: form
    uploadType:
      description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
        )."
      explode: true
      in: query
      name: uploadType
      required: false
      schema:
        type: string
      style: form
    upload_protocol:
      description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
      explode: true
      in: query
      name: upload_protocol
      required: false
      schema:
        type: string
      style: form
  schemas:
    Content:
      description: The Content resource.
      example:
        scriptId: scriptId
        files:
        - lastModifyUser:
            photoUrl: photoUrl
            domain: domain
            name: name
            email: email
          functionSet:
            values:
            - name: name
              parameters:
              - parameters
              - parameters
            - name: name
              parameters:
              - parameters
              - parameters
          createTime: createTime
          name: name
          updateTime: updateTime
          source: source
          type: ENUM_TYPE_UNSPECIFIED
        - lastModifyUser:
            photoUrl: photoUrl
            domain: domain
            name: name
            email: email
          functionSet:
            values:
            - name: name
              parameters:
              - parameters
              - parameters
            - name: name
              parameters:
              - parameters
              - parameters
          createTime: createTime
          name: name
          updateTime: updateTime
          source: source
          type: ENUM_TYPE_UNSPECIFIED
      properties:
        files:
          description: "The list of script project files. One of the files is a script\
            \ manifest; it must be named \"appsscript\", must have type of JSON, and\
            \ include the manifest configurations for the project."
          items:
            $ref: '#/components/schemas/File'
          title: files
          type: array
        scriptId:
          description: The script project's Drive ID.
          title: scriptId
          type: string
      title: Content
      type: object
    CreateProjectRequest:
      description: Request to create a script project. Request to create a script
        project.
      example:
        title: title
        parentId: parentId
      properties:
        parentId:
          description: "The Drive ID of a parent file that the created script project\
            \ is bound to. This is usually the ID of a Google Doc, Google Sheet, Google\
            \ Form, or Google Slides file. If not set, a standalone script project\
            \ is created."
          title: parentId
          type: string
        title:
          description: The title for the project.
          title: title
          type: string
      title: CreateProjectRequest
      type: object
    Deployment:
      description: Representation of a single script deployment.
      example:
        deploymentConfig:
          scriptId: scriptId
          description: description
          manifestFileName: manifestFileName
          versionNumber: 0
        entryPoints:
        - executionApi:
            entryPointConfig:
              access: UNKNOWN_ACCESS
          webApp:
            entryPointConfig:
              access: UNKNOWN_ACCESS
              executeAs: UNKNOWN_EXECUTE_AS
            url: url
          addOn:
            reportIssueUrl: reportIssueUrl
            description: description
            helpUrl: helpUrl
            postInstallTipUrl: postInstallTipUrl
            title: title
            addOnType: UNKNOWN_ADDON_TYPE
          entryPointType: ENTRY_POINT_TYPE_UNSPECIFIED
        - executionApi:
            entryPointConfig:
              access: UNKNOWN_ACCESS
          webApp:
            entryPointConfig:
              access: UNKNOWN_ACCESS
              executeAs: UNKNOWN_EXECUTE_AS
            url: url
          addOn:
            reportIssueUrl: reportIssueUrl
            description: description
            helpUrl: helpUrl
            postInstallTipUrl: postInstallTipUrl
            title: title
            addOnType: UNKNOWN_ADDON_TYPE
          entryPointType: ENTRY_POINT_TYPE_UNSPECIFIED
        deploymentId: deploymentId
        updateTime: updateTime
      properties:
        deploymentConfig:
          $ref: '#/components/schemas/DeploymentConfig'
        deploymentId:
          description: The deployment ID for this deployment.
          title: deploymentId
          type: string
        entryPoints:
          description: The deployment's entry points.
          items:
            $ref: '#/components/schemas/EntryPoint'
          title: entryPoints
          type: array
        updateTime:
          description: Last modified date time stamp.
          format: google-datetime
          title: updateTime
          type: string
      title: Deployment
      type: object
    DeploymentConfig:
      description: Metadata the defines how a deployment is configured.
      example:
        scriptId: scriptId
        description: description
        manifestFileName: manifestFileName
        versionNumber: 0
      properties:
        description:
          description: The description for this deployment.
          title: description
          type: string
        manifestFileName:
          description: The manifest file name for this deployment.
          title: manifestFileName
          type: string
        scriptId:
          description: The script project's Drive ID.
          title: scriptId
          type: string
        versionNumber:
          description: The version number on which this deployment is based.
          format: int32
          title: versionNumber
          type: integer
      title: DeploymentConfig
      type: object
    Empty:
      description: "A generic empty message that you can re-use to avoid defining\
        \ duplicated empty messages in your APIs. A typical example is to use it as\
        \ the request or the response type of an API method. For instance: service\
        \ Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      properties: {}
      type: object
    EntryPoint:
      description: A configuration that defines how a deployment is accessed externally.
      example:
        executionApi:
          entryPointConfig:
            access: UNKNOWN_ACCESS
        webApp:
          entryPointConfig:
            access: UNKNOWN_ACCESS
            executeAs: UNKNOWN_EXECUTE_AS
          url: url
        addOn:
          reportIssueUrl: reportIssueUrl
          description: description
          helpUrl: helpUrl
          postInstallTipUrl: postInstallTipUrl
          title: title
          addOnType: UNKNOWN_ADDON_TYPE
        entryPointType: ENTRY_POINT_TYPE_UNSPECIFIED
      properties:
        addOn:
          $ref: '#/components/schemas/GoogleAppsScriptTypeAddOnEntryPoint'
        entryPointType:
          description: The type of the entry point.
          enum:
          - ENTRY_POINT_TYPE_UNSPECIFIED
          - WEB_APP
          - EXECUTION_API
          - ADD_ON
          title: entryPointType
          type: string
        executionApi:
          $ref: '#/components/schemas/GoogleAppsScriptTypeExecutionApiEntryPoint'
        webApp:
          $ref: '#/components/schemas/GoogleAppsScriptTypeWebAppEntryPoint'
      title: EntryPoint
      type: object
    ExecuteStreamResponse:
      description: The response for executing or debugging a function in an Apps Script
        project.
      properties:
        result:
          $ref: '#/components/schemas/ScriptExecutionResult'
      type: object
    ExecutionError:
      description: "An object that provides information about the nature of an error\
        \ resulting from an attempted execution of a script function using the Apps\
        \ Script API. If a run call succeeds but the script function (or Apps Script\
        \ itself) throws an exception, the response body's error field contains a\
        \ Status object. The `Status` object's `details` field contains an array with\
        \ a single one of these `ExecutionError` objects."
      properties:
        errorMessage:
          description: "The error message thrown by Apps Script, usually localized\
            \ into the user's language."
          type: string
        errorType:
          description: "The error type, for example `TypeError` or `ReferenceError`.\
            \ If the error type is unavailable, this field is not included."
          type: string
        scriptStackTraceElements:
          description: "An array of objects that provide a stack trace through the\
            \ script to show where the execution failed, with the deepest call first."
          items:
            $ref: '#/components/schemas/ScriptStackTraceElement'
          type: array
      type: object
    ExecutionRequest:
      description: A request to run the function in a script. The script is identified
        by the specified `script_id`. Executing a function on a script returns results
        based on the implementation of the script.
      example:
        devMode: true
        sessionState: sessionState
        function: function
        parameters:
        - ""
        - ""
      properties:
        devMode:
          description: "If `true` and the user is an owner of the script, the script\
            \ runs at the most recently saved version rather than the version deployed\
            \ for use with the Apps Script API. Optional; default is `false`."
          title: devMode
          type: boolean
        function:
          description: The name of the function to execute in the given script. The
            name does not include parentheses or parameters. It can reference a function
            in an included library such as `Library.libFunction1`.
          title: function
          type: string
        parameters:
          description: "The parameters to be passed to the function being executed.\
            \ The object type for each parameter should match the expected type in\
            \ Apps Script. Parameters cannot be Apps Script-specific object types\
            \ (such as a `Document` or a `Calendar`); they can only be primitive types\
            \ such as `string`, `number`, `array`, `object`, or `boolean`. Optional."
          items: {}
          title: parameters
          type: array
        sessionState:
          description: "*Deprecated*. For use with Android add-ons only. An ID that\
            \ represents the user's current session in the Android app for Google\
            \ Docs or Sheets, included as extra data in the [Intent](https://developer.android.com/guide/components/intents-filters.html)\
            \ that launches the add-on. When an Android add-on is run with a session\
            \ state, it gains the privileges of a [bound](https://developers.google.com/apps-script/guides/bound)\
            \ script—that is, it can access information like the user's current cursor\
            \ position (in Docs) or selected cell (in Sheets). To retrieve the state,\
            \ call `Intent.getStringExtra(\"com.google.android.apps.docs.addons.SessionState\"\
            )`. Optional."
          title: sessionState
          type: string
      title: ExecutionRequest
      type: object
    ExecutionResponse:
      description: "An object that provides the return value of a function executed\
        \ using the Apps Script API. If the script function returns successfully,\
        \ the response body's response field contains this `ExecutionResponse` object."
      properties:
        result:
          description: "The return value of the script function. The type matches\
            \ the object type returned in Apps Script. Functions called using the\
            \ Apps Script API cannot return Apps Script-specific objects (such as\
            \ a `Document` or a `Calendar`); they can only return primitive types\
            \ such as a `string`, `number`, `array`, `object`, or `boolean`."
      type: object
    File:
      description: "An individual file within a script project. A file is a third-party\
        \ source code created by one or more developers. It can be a server-side JS\
        \ code, HTML, or a configuration file. Each script project can contain multiple\
        \ files."
      example:
        lastModifyUser:
          photoUrl: photoUrl
          domain: domain
          name: name
          email: email
        functionSet:
          values:
          - name: name
            parameters:
            - parameters
            - parameters
          - name: name
            parameters:
            - parameters
            - parameters
        createTime: createTime
        name: name
        updateTime: updateTime
        source: source
        type: ENUM_TYPE_UNSPECIFIED
      properties:
        createTime:
          description: Creation date timestamp. This read-only field is only visible
            to users who have WRITER permission for the script project.
          format: google-datetime
          title: createTime
          type: string
        functionSet:
          $ref: '#/components/schemas/GoogleAppsScriptTypeFunctionSet'
        lastModifyUser:
          $ref: '#/components/schemas/GoogleAppsScriptTypeUser'
        name:
          description: "The name of the file. The file extension is not part of the\
            \ file name, which can be identified from the type field."
          title: name
          type: string
        source:
          description: The file content.
          title: source
          type: string
        type:
          description: The type of the file.
          enum:
          - ENUM_TYPE_UNSPECIFIED
          - SERVER_JS
          - HTML
          - JSON
          title: type
          type: string
        updateTime:
          description: Last modified date timestamp. This read-only field is only
            visible to users who have WRITER permission for the script project.
          format: google-datetime
          title: updateTime
          type: string
      title: File
      type: object
    GoogleAppsScriptTypeAddOnEntryPoint:
      description: An add-on entry point.
      example:
        reportIssueUrl: reportIssueUrl
        description: description
        helpUrl: helpUrl
        postInstallTipUrl: postInstallTipUrl
        title: title
        addOnType: UNKNOWN_ADDON_TYPE
      properties:
        addOnType:
          description: The add-on's required list of supported container types.
          enum:
          - UNKNOWN_ADDON_TYPE
          - GMAIL
          - DATA_STUDIO
          title: addOnType
          type: string
        description:
          description: The add-on's optional description.
          title: description
          type: string
        helpUrl:
          description: The add-on's optional help URL.
          title: helpUrl
          type: string
        postInstallTipUrl:
          description: The add-on's required post install tip URL.
          title: postInstallTipUrl
          type: string
        reportIssueUrl:
          description: The add-on's optional report issue URL.
          title: reportIssueUrl
          type: string
        title:
          description: The add-on's required title.
          title: title
          type: string
      title: GoogleAppsScriptTypeAddOnEntryPoint
      type: object
    GoogleAppsScriptTypeExecutionApiConfig:
      description: API executable entry point configuration.
      example:
        access: UNKNOWN_ACCESS
      properties:
        access:
          description: Who has permission to run the API executable.
          enum:
          - UNKNOWN_ACCESS
          - MYSELF
          - DOMAIN
          - ANYONE
          - ANYONE_ANONYMOUS
          title: access
          type: string
      title: GoogleAppsScriptTypeExecutionApiConfig
      type: object
    GoogleAppsScriptTypeExecutionApiEntryPoint:
      description: An API executable entry point.
      example:
        entryPointConfig:
          access: UNKNOWN_ACCESS
      properties:
        entryPointConfig:
          $ref: '#/components/schemas/GoogleAppsScriptTypeExecutionApiConfig'
      title: GoogleAppsScriptTypeExecutionApiEntryPoint
      type: object
    GoogleAppsScriptTypeFunction:
      description: Represents a function in a script project.
      example:
        name: name
        parameters:
        - parameters
        - parameters
      properties:
        name:
          description: The function name in the script project.
          title: name
          type: string
        parameters:
          description: The ordered list of parameter names of the function in the
            script project.
          items:
            type: string
          title: parameters
          type: array
      title: GoogleAppsScriptTypeFunction
      type: object
    GoogleAppsScriptTypeFunctionSet:
      description: A set of functions. No duplicates are permitted.
      example:
        values:
        - name: name
          parameters:
          - parameters
          - parameters
        - name: name
          parameters:
          - parameters
          - parameters
      properties:
        values:
          description: A list of functions composing the set.
          items:
            $ref: '#/components/schemas/GoogleAppsScriptTypeFunction'
          title: values
          type: array
      title: GoogleAppsScriptTypeFunctionSet
      type: object
    GoogleAppsScriptTypeProcess:
      description: "Representation of a single script process execution that was started\
        \ from the script editor, a trigger, an application, or using the Apps Script\
        \ API. This is distinct from the `Operation` resource, which only represents\
        \ executions started via the Apps Script API."
      example:
        duration: duration
        userAccessLevel: USER_ACCESS_LEVEL_UNSPECIFIED
        runtimeVersion: RUNTIME_VERSION_UNSPECIFIED
        processStatus: PROCESS_STATUS_UNSPECIFIED
        functionName: functionName
        startTime: startTime
        processType: PROCESS_TYPE_UNSPECIFIED
        projectName: projectName
      properties:
        duration:
          description: Duration the execution spent executing.
          format: google-duration
          title: duration
          type: string
        functionName:
          description: Name of the function the started the execution.
          title: functionName
          type: string
        processStatus:
          description: The executions status.
          enum:
          - PROCESS_STATUS_UNSPECIFIED
          - RUNNING
          - PAUSED
          - COMPLETED
          - CANCELED
          - FAILED
          - TIMED_OUT
          - UNKNOWN
          - DELAYED
          - EXECUTION_DISABLED
          title: processStatus
          type: string
        processType:
          description: The executions type.
          enum:
          - PROCESS_TYPE_UNSPECIFIED
          - ADD_ON
          - EXECUTION_API
          - TIME_DRIVEN
          - TRIGGER
          - WEBAPP
          - EDITOR
          - SIMPLE_TRIGGER
          - MENU
          - BATCH_TASK
          title: processType
          type: string
        projectName:
          description: Name of the script being executed.
          title: projectName
          type: string
        runtimeVersion:
          description: Which version of maestro to use to execute the script.
          enum:
          - RUNTIME_VERSION_UNSPECIFIED
          - DEPRECATED_ES5
          - V8
          title: runtimeVersion
          type: string
        startTime:
          description: Time the execution started.
          format: google-datetime
          title: startTime
          type: string
        userAccessLevel:
          description: The executing users access level to the script.
          enum:
          - USER_ACCESS_LEVEL_UNSPECIFIED
          - NONE
          - READ
          - WRITE
          - OWNER
          title: userAccessLevel
          type: string
      title: GoogleAppsScriptTypeProcess
      type: object
    GoogleAppsScriptTypeUser:
      description: A simple user profile resource.
      example:
        photoUrl: photoUrl
        domain: domain
        name: name
        email: email
      properties:
        domain:
          description: The user's domain.
          title: domain
          type: string
        email:
          description: The user's identifying email address.
          title: email
          type: string
        name:
          description: The user's display name.
          title: name
          type: string
        photoUrl:
          description: The user's photo.
          title: photoUrl
          type: string
      title: GoogleAppsScriptTypeUser
      type: object
    GoogleAppsScriptTypeWebAppConfig:
      description: Web app entry point configuration.
      example:
        access: UNKNOWN_ACCESS
        executeAs: UNKNOWN_EXECUTE_AS
      properties:
        access:
          description: Who has permission to run the web app.
          enum:
          - UNKNOWN_ACCESS
          - MYSELF
          - DOMAIN
          - ANYONE
          - ANYONE_ANONYMOUS
          title: access
          type: string
        executeAs:
          description: Who to execute the web app as.
          enum:
          - UNKNOWN_EXECUTE_AS
          - USER_ACCESSING
          - USER_DEPLOYING
          title: executeAs
          type: string
      title: GoogleAppsScriptTypeWebAppConfig
      type: object
    GoogleAppsScriptTypeWebAppEntryPoint:
      description: A web application entry point.
      example:
        entryPointConfig:
          access: UNKNOWN_ACCESS
          executeAs: UNKNOWN_EXECUTE_AS
        url: url
      properties:
        entryPointConfig:
          $ref: '#/components/schemas/GoogleAppsScriptTypeWebAppConfig'
        url:
          description: The URL for the web application.
          title: url
          type: string
      title: GoogleAppsScriptTypeWebAppEntryPoint
      type: object
    ListDeploymentsResponse:
      description: Response with the list of deployments for the specified Apps Script
        project.
      example:
        deployments:
        - deploymentConfig:
            scriptId: scriptId
            description: description
            manifestFileName: manifestFileName
            versionNumber: 0
          entryPoints:
          - executionApi:
              entryPointConfig:
                access: UNKNOWN_ACCESS
            webApp:
              entryPointConfig:
                access: UNKNOWN_ACCESS
                executeAs: UNKNOWN_EXECUTE_AS
              url: url
            addOn:
              reportIssueUrl: reportIssueUrl
              description: description
              helpUrl: helpUrl
              postInstallTipUrl: postInstallTipUrl
              title: title
              addOnType: UNKNOWN_ADDON_TYPE
            entryPointType: ENTRY_POINT_TYPE_UNSPECIFIED
          - executionApi:
              entryPointConfig:
                access: UNKNOWN_ACCESS
            webApp:
              entryPointConfig:
                access: UNKNOWN_ACCESS
                executeAs: UNKNOWN_EXECUTE_AS
              url: url
            addOn:
              reportIssueUrl: reportIssueUrl
              description: description
              helpUrl: helpUrl
              postInstallTipUrl: postInstallTipUrl
              title: title
              addOnType: UNKNOWN_ADDON_TYPE
            entryPointType: ENTRY_POINT_TYPE_UNSPECIFIED
          deploymentId: deploymentId
          updateTime: updateTime
        - deploymentConfig:
            scriptId: scriptId
            description: description
            manifestFileName: manifestFileName
            versionNumber: 0
          entryPoints:
          - executionApi:
              entryPointConfig:
                access: UNKNOWN_ACCESS
            webApp:
              entryPointConfig:
                access: UNKNOWN_ACCESS
                executeAs: UNKNOWN_EXECUTE_AS
              url: url
            addOn:
              reportIssueUrl: reportIssueUrl
              description: description
              helpUrl: helpUrl
              postInstallTipUrl: postInstallTipUrl
              title: title
              addOnType: UNKNOWN_ADDON_TYPE
[...]
