openapi: 3.0.1
info:
  description: Use this API to manage IoT Central Applications in your Azure subscription.
  title: IotCentralClient
  version: 2017-07-01-privatepreview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/iotcentral/resource-manager/Microsoft.IoTCentral/preview/2017-07-01-privatepreview/iotcentral.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: iotcentral
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.IoTCentral/operations:
    get:
      deprecated: false
      description: Lists all of the available IoT Central application REST API operations.
      operationId: Operations_List
      parameters:
      - description: The version of the API.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: DefaultErrorResponse
      tags:
      - Operations
      x-ms-examples:
        Operations_List:
          parameters:
            api-version: 2017-07-01-privatepreview
          responses:
            "200":
              body:
                value:
                - display:
                    description: Gets a single IoT Central Application
                    operation: Get IoT Central Application
                    provider: Microsoft IoT Central
                    resource: IoTApps
                  name: Microsoft.IoTCentral/IoTApps/read
                - display:
                    description: Creates or Updates an IoT Central Applications
                    operation: Create or Update IoT Central Application
                    provider: Microsoft IoT Central
                    resource: IoTApps
                  name: Microsoft.IoTCentral/IoTApps/write
                - display:
                    description: Deletes an IoT Central Applications
                    operation: Delete IoT Central Application
                    provider: Microsoft IoT Central
                    resource: IoTApps
                  name: Microsoft.IoTCentral/IoTApps/delete
                - display:
                    description: Checks if an IoT Central Application name is available
                    operation: Check resource name availability
                    provider: Microsoft IoT Central
                    resource: ""
                  name: Microsoft.IoTCentral/checkNameAvailability/action
                - display:
                    description: Gets all the available operations on IoT Central
                      Applications
                    operation: Get all the available operations
                    provider: Microsoft IoT Central
                    resource: ""
                  name: Microsoft.IoTCentral/operations/read
              headers: {}
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.IoTCentral/IoTApps:
    get:
      deprecated: false
      description: Get all IoT Central Applications in a subscription.
      operationId: Apps_ListBySubscription
      parameters:
      - description: The version of the API.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription identifier.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppListResult'
          description: This is a synchronous operation. The body contains a JSON-serialized
            array of the metadata from all the IoT Central Applications in the subscription.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: DefaultErrorResponse
      tags:
      - Apps
      x-ms-examples:
        Apps_ListBySubscription:
          parameters:
            api-version: 2017-07-01-privatepreview
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/resRg/providers/Microsoft.IoTCentral/IoTApps/myIoTCentralApp
                  location: westus
                  name: myIoTCentralApp
                  properties:
                    applicationId: 6ebd8fd3-6e34-419e-908f-9be61ec6f6d6
                    displayName: My IoT Central App
                    subdomain: my-iot-central-app
                    template: iotc-default@1.0.0
                  sku:
                    name: F1
                  type: Microsoft.IoTCentral/IoTApps
              headers: {}
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.IoTCentral/checkNameAvailability:
    post:
      deprecated: false
      description: Check if an IoT Central application name is available.
      operationId: Apps_CheckNameAvailability
      parameters:
      - description: The version of the API.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription identifier.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OperationInputs'
        description: Set the name parameter in the OperationInputs structure to the
          name of the IoT Central application to check.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppNameAvailabilityInfo'
          description: "This is a synchronous operation. The body contains a JSON-serialized\
            \ response that specifies whether the IoT Central application name is\
            \ available. If the name is not available, the body contains the reason."
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: DefaultErrorResponse
      tags:
      - Apps
      x-ms-examples:
        Apps_CheckNameAvailability:
          parameters:
            api-version: 2017-07-01-privatepreview
            operationInputs:
              name: myIoTCentralApp
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                nameAvailable: true
              headers: {}
      x-codegen-request-body-name: operationInputs
      x-content-type: application/json
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.IoTCentral/IoTApps:
    get:
      deprecated: false
      description: Get all the IoT Central Applications in a resource group.
      operationId: Apps_ListByResourceGroup
      parameters:
      - description: The version of the API.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription identifier.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the IoT Central
          application.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppListResult'
          description: This is a synchronous operation. The body contains a JSON-serialized
            array of the metadata from all the IoT Central Applications in the resource
            group.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: DefaultErrorResponse
      tags:
      - Apps
      x-ms-examples:
        Apps_ListByResourceGroup:
          parameters:
            api-version: 2017-07-01-privatepreview
            resourceGroupName: resRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/resRg/providers/Microsoft.IoTCentral/IoTApps/myIoTCentralApp
                  location: westus
                  name: myIoTCentralApp
                  properties:
                    applicationId: 6ebd8fd3-6e34-419e-908f-9be61ec6f6d6
                    displayName: My IoT Central App
                    subdomain: my-iot-central-app
                    template: iotc-default@1.0.0
                  sku:
                    name: F1
                  type: Microsoft.IoTCentral/IoTApps
              headers: {}
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.IoTCentral/IoTApps/{resourceName}:
    delete:
      description: Delete an IoT Central application.
      operationId: Apps_Delete
      parameters:
      - description: The version of the API.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription identifier.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the IoT Central
          application.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The ARM resource name of the IoT Central application.
        in: path
        name: resourceName
        required: true
        schema:
          type: string
          x-comment: "validation must match #/definitions/Resource"
          x-ms-parameter-location: method
        x-comment: "validation must match #/definitions/Resource"
        x-ms-parameter-location: method
      responses:
        "200":
          content: {}
          description: This is returned as a response to the status polling request
            for the delete operation. The body contains the resource representation
            that indicates a transitional provisioning state.
        "202":
          content: {}
          description: Accepted - Delete request accepted; the operation will complete
            asynchronously.
        "204":
          content: {}
          description: "Once the long running delete operation completes successfully,\
            \ a 204 No Content status code is returned when the status polling request\
            \ finds the IoT Central application metadata in the service and the status\
            \ of the delete operation is set to a completed state."
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: DefaultErrorResponse
      tags:
      - Apps
      x-ms-examples:
        Apps_Delete:
          parameters:
            api-version: 2017-07-01-privatepreview
            resourceGroupName: resRg
            resourceName: myIoTCentralApp
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
    get:
      deprecated: false
      description: Get the metadata of an IoT Central application.
      operationId: Apps_Get
      parameters:
      - description: The version of the API.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription identifier.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the IoT Central
          application.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The ARM resource name of the IoT Central application.
        in: path
        name: resourceName
        required: true
        schema:
          type: string
          x-comment: "validation must match #/definitions/Resource"
          x-ms-parameter-location: method
        x-comment: "validation must match #/definitions/Resource"
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/App'
          description: The body contains all the non-security properties of the IoT
            Central application. Security-related properties are set to null.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Default error response
      tags:
      - Apps
      x-ms-examples:
        Apps_Get:
          parameters:
            api-version: 2017-07-01-privatepreview
            resourceGroupName: resRg
            resourceName: myIoTCentralApp
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/resRg/providers/Microsoft.IoTCentral/IoTApps/myIoTCentralApp
                location: westus
                name: myIoTCentralApp
                properties:
                  applicationId: 6ebd8fd3-6e34-419e-908f-9be61ec6f6d6
                  displayName: My IoT Central App
                  subdomain: my-iot-central-app
                  template: iotc-default@1.0.0
                sku:
                  name: F1
                type: Microsoft.IoTCentral/IoTApps
              headers: {}
      x-accepts:
      - application/json
    patch:
      deprecated: false
      description: Update the metadata of an IoT Central application.
      operationId: Apps_Update
      parameters:
      - description: The version of the API.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription identifier.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the IoT Central
          application.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The ARM resource name of the IoT Central application.
        in: path
        name: resourceName
        required: true
        schema:
          type: string
          x-comment: "validation must match #/definitions/Resource"
          x-ms-parameter-location: method
        x-comment: "validation must match #/definitions/Resource"
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppPatch'
        description: The IoT Central application metadata and security metadata.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/App'
          description: This is returned as a response to the status polling request
            for the create or update operation. The body contains the resource representation
            that indicates a transitional provisioning state.
        "202":
          content: {}
          description: Accepted - Put request accepted; the operation will complete
            asynchronously.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: DefaultErrorResponse
      tags:
      - Apps
      x-ms-examples:
        Apps_Update:
          parameters:
            AppPatch:
              displayName: My IoT Central App 2
            api-version: 2017-07-01-privatepreview
            resourceGroupName: resRg
            resourceName: myIoTCentralApp
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/resRg/providers/Microsoft.IoTCentral/IoTApps/myIoTCentralApp
                location: westus
                name: myIoTCentralApp
                properties:
                  applicationId: 6ebd8fd3-6e34-419e-908f-9be61ec6f6d6
                  displayName: My IoT Central App 2
                  subdomain: my-iot-central-app-2
                  template: iotc-default@1.0.0
                sku:
                  name: F1
                type: Microsoft.IoTCentral/IoTApps
              headers: {}
            "202": {}
      x-ms-long-running-operation: true
      x-codegen-request-body-name: AppPatch
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      deprecated: false
      description: "Create or update the metadata of an IoT Central application. The\
        \ usual pattern to modify a property is to retrieve the IoT Central application\
        \ metadata and security metadata, and then combine them with the modified\
        \ values in a new body to update the IoT Central application."
      operationId: Apps_CreateOrUpdate
      parameters:
      - description: The version of the API.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription identifier.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the IoT Central
          application.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The ARM resource name of the IoT Central application.
        in: path
        name: resourceName
        required: true
        schema:
          type: string
          x-comment: "validation must match #/definitions/Resource"
          x-ms-parameter-location: method
        x-comment: "validation must match #/definitions/Resource"
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/App'
        description: The IoT Central application metadata and security metadata.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/App'
          description: This is returned as a response to the status polling request
            for the create or update operation. The body contains the resource representation
            that indicates a transitional provisioning state.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/App'
          description: This is returned as a response to the status polling request
            for the create or update operation. The body contains the resource representation
            that indicates a transitional provisioning state.
        "202":
          content: {}
          description: Accepted - Put request accepted; the operation will complete
            asynchronously.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: DefaultErrorResponse
      tags:
      - Apps
      x-ms-examples:
        Apps_CreateOrUpdate:
          parameters:
            App:
              displayName: My IoT Central App
              location: westus
              sku:
                name: F1
              subdomain: my-iot-central-app
              template: iotc-default@1.0.0
            api-version: 2017-07-01-privatepreview
            resourceGroupName: resRg
            resourceName: myIoTCentralApp
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/resRg/providers/Microsoft.IoTCentral/IoTApps/myIoTCentralApp
                location: westus
                name: myIoTCentralApp
                properties:
                  applicationId: 6ebd8fd3-6e34-419e-908f-9be61ec6f6d6
                  displayName: My IoT Central App 2
                  subdomain: my-iot-central-app-2
                  template: iotc-default@1.0.0
                sku:
                  name: F1
                type: Microsoft.IoTCentral/IoTApps
              headers: {}
            "201":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/resRg/providers/Microsoft.IoTCentral/IoTApps/myIoTCentralApp
                location: westus
                name: myIoTCentralApp
                properties:
                  applicationId: 6ebd8fd3-6e34-419e-908f-9be61ec6f6d6
                  displayName: My IoT Central App
                  subdomain: my-iot-central-app
                  template: iotc-default@1.0.0
                sku:
                  name: F1
                type: Microsoft.IoTCentral/IoTApps
              headers: {}
            "202": {}
      x-ms-long-running-operation: true
      x-codegen-request-body-name: App
      x-content-type: application/json
      x-accepts:
      - application/json
components:
  parameters:
    api-version:
      description: The version of the API.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    resourceGroupName:
      description: The name of the resource group that contains the IoT Central application.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    resourceName:
      description: The ARM resource name of the IoT Central application.
      in: path
      name: resourceName
      required: true
      schema:
        type: string
        x-comment: "validation must match #/definitions/Resource"
        x-ms-parameter-location: method
      x-comment: "validation must match #/definitions/Resource"
      x-ms-parameter-location: method
    subscriptionId:
      description: The subscription identifier.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    App:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: The IoT Central application.
      example:
        sku:
          name: F1
        properties:
          template: template
          displayName: displayName
          subdomain: subdomain
          applicationId: applicationId
      properties:
        properties:
          $ref: '#/components/schemas/AppProperties'
        sku:
          $ref: '#/components/schemas/AppSkuInfo'
      required:
      - sku
    AppListResult:
      description: A list of IoT Central Applications with a next link.
      example:
        value:
        - sku:
            name: F1
          properties:
            template: template
            displayName: displayName
            subdomain: subdomain
            applicationId: applicationId
        - sku:
            name: F1
          properties:
            template: template
            displayName: displayName
            subdomain: subdomain
            applicationId: applicationId
        nextLink: nextLink
      properties:
        nextLink:
          description: The link used to get the next page of IoT Central Applications.
          type: string
        value:
          description: A list of IoT Central Applications.
          items:
            $ref: '#/components/schemas/App'
          type: array
      type: object
    AppNameAvailabilityInfo:
      description: The properties indicating whether a given IoT Central application
        name is available.
      example:
        reason: Invalid
        nameAvailable: true
        message: message
      properties:
        message:
          description: The detailed reason message.
          type: string
        nameAvailable:
          description: The value which indicates whether the provided name is available.
          readOnly: true
          type: boolean
        reason:
          description: The reason for unavailability.
          enum:
          - Invalid
          - AlreadyExists
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: false
            name: AppNameUnavailabilityReason
      type: object
    AppPatch:
      description: The description of the IoT Central application.
      example:
        properties:
          template: template
          displayName: displayName
          subdomain: subdomain
          applicationId: applicationId
        tags:
          key: tags
      properties:
        properties:
          $ref: '#/components/schemas/AppProperties'
        tags:
          additionalProperties:
            type: string
          description: Instance tags
          type: object
      type: object
    AppProperties:
      description: The properties of an IoT Central application.
      example:
        template: template
        displayName: displayName
        subdomain: subdomain
        applicationId: applicationId
      properties:
        applicationId:
          description: The ID of the application.
          readOnly: true
          type: string
        displayName:
          description: The display name of the application.
          pattern: "^.{1,200}$"
          type: string
        subdomain:
          description: The subdomain of the application.
          pattern: "^[a-z0-9-]{1,63}$"
          type: string
        template:
          description: "The ID of the application template, which is a blueprint that\
            \ defines the characteristics and behaviors of an application. Optional;\
            \ if not specified, defaults to a blank blueprint and allows the application\
            \ to be defined from scratch."
          type: string
          x-ms-mutability:
          - create
          - read
      type: object
    AppSkuInfo:
      description: Information about the SKU of the IoT Central application.
      example:
        name: F1
      properties:
        name:
          description: The name of the SKU.
          enum:
          - F1
          - S1
          type: string
          x-ms-enum:
            modelAsString: true
            name: AppSku
      required:
      - name
      type: object
    ErrorDetails:
      description: Error details.
      example:
        code: code
        message: message
        target: target
      properties:
        code:
          description: The error code.
          readOnly: true
          type: string
        message:
          description: The error message.
          readOnly: true
          type: string
        target:
          description: The target of the particular error.
          readOnly: true
          type: string
      type: object
    Operation:
      description: IoT Central REST API operation
      example:
        display:
          provider: provider
          resource: resource
          description: description
          operation: operation
        name: name
      properties:
        display:
          $ref: '#/components/schemas/OperationDisplay'
        name:
          description: "Operation name: {provider}/{resource}/{read | write | action\
            \ | delete}"
          readOnly: true
          type: string
      type: object
    OperationDisplay:
      description: The object that represents the operation.
      example:
        provider: provider
        resource: resource
        description: description
        operation: operation
      properties:
        description:
          description: "Friendly description for the operation,"
          readOnly: true
          type: string
        operation:
          description: Name of the operation
          readOnly: true
          type: string
        provider:
          description: "Service provider: Microsoft IoT Central"
          readOnly: true
          type: string
        resource:
          description: "Resource Type: IoT Central"
          readOnly: true
          type: string
      type: object
    OperationInputs:
      description: Input values.
      example:
        name: name
      properties:
        name:
          description: The name of the IoT Central application instance to check.
          type: string
      required:
      - name
      type: object
    OperationListResult:
      description: A list of IoT Central operations. It contains a list of operations
        and a URL link to get the next set of results.
      example:
        value:
        - display:
            provider: provider
            resource: resource
            description: description
            operation: operation
          name: name
        - display:
            provider: provider
            resource: resource
            description: description
            operation: operation
          name: name
        nextLink: nextLink
      properties:
        nextLink:
          description: The link used to get the next page of IoT Central description
            objects.
          type: string
        value:
          description: A list of operations supported by the Microsoft.IoTCentral
            resource provider.
          items:
            $ref: '#/components/schemas/Operation'
          readOnly: true
          type: array
      type: object
    Resource:
      description: The common properties of an ARM resource.
      properties:
        id:
          description: The ARM resource identifier.
          readOnly: true
          type: string
        location:
          description: The resource location.
          type: string
          x-ms-mutability:
          - create
          - read
        name:
          description: The ARM resource name.
          pattern: "^(?![0-9]+$)(?!-)[a-zA-Z0-9-]{2,99}[a-zA-Z0-9]$"
          readOnly: true
          type: string
          x-comment: "pattern must match #/parameters/resourceName"
        tags:
          additionalProperties:
            type: string
          description: The resource tags.
          type: object
        type:
          description: The resource type.
          readOnly: true
          type: string
      required:
      - location
      type: object
      x-ms-azure-resource: true
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

