openapi: 3.0.0
info:
  contact:
    x-twitter: PersonioHR
  description: Personio Authentication API
  title: Authentication
  version: "1.0"
  x-apisguru-categories:
  - enterprise
  x-logo:
    url: https://twitter.com/PersonioHR/profile_image?size=original
  x-origin:
  - format: openapi
    url: https://raw.githubusercontent.com/personio/api-docs/master/personio-auth-api.yaml
    version: "3.0"
  x-providerName: personio.de
  x-serviceName: authentication
servers:
- url: https://api.personio.de/v1
paths:
  /auth:
    post:
      description: Request Authentication Token
      operationId: auth_post
      parameters:
      - description: Client id of the downloaded credentials file
        explode: true
        in: query
        name: client_id
        required: true
        schema:
          type: string
        style: form
      - description: Client secret of the downloaded credentials file
        explode: true
        in: query
        name: client_secret
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    data:
                      token: eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwOi8vYXBpLmRldi5wZXJzb25pby5kZTozMDAwMS92MS9hdXRoIiwiaWF0IjoxNDg5MDkxMzA2LCJleHAiOjE0ODkxNzc3MDYsIm5iZiI6MTQ4OTA5MTMwNiwianRpIjoiZmU1ZjkxOGY2MDZjOWI4OGMwMzM0ZmJkZjkyYzkwMzgiLCJzdWIiOiJPR014TVdRd1kySmxZbVF6Tm1RNVpqQmxOell6WmpsaSJ9.QZZCdlDjmL-LYdoDx2XLUfhwTdcjDgm9h4t-6JoACiM
                    success: true
              schema:
                $ref: '#/components/schemas/AuthenticationTokenResponse'
          description: ""
      x-openapi-router-controller: openapi_server.controllers.default_controller
components:
  schemas:
    AuthenticationTokenResponse:
      allOf:
      - $ref: '#/components/schemas/Response'
      - properties:
          data:
            $ref: '#/components/schemas/AuthenticationTokenResponse_allOf_data'
        type: object
      example:
        data:
          token: token
        success: true
      title: Request Authentication Token response
    Response:
      properties:
        data:
          title: data
          type: object
        success:
          title: success
          type: boolean
      required:
      - data
      - success
      title: Default response object
      type: object
    AuthenticationTokenResponse_allOf_data:
      example:
        token: token
      properties:
        token:
          title: token
          type: string
      required:
      - token
      title: AuthenticationTokenResponse_allOf_data
      type: object
