openapi: 3.0.1
info:
  description: The Container Service Client.
  title: ContainerServiceClient
  version: 2018-09-30-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2018-09-30-preview/openShiftManagedClusters.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: containerservice-openShiftManagedClusters
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.ContainerService/openShiftManagedClusters:
    get:
      description: Gets a list of OpenShift managed clusters in the specified subscription.
        The operation returns properties of each OpenShift managed cluster.
      operationId: open_shift_managed_clusters_list
      parameters:
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenShiftManagedClusterListResult'
          description: OK
      summary: Gets a list of OpenShift managed clusters in the specified subscription.
      tags:
      - OpenShiftManagedClusters
      x-ms-examples:
        List Managed Clusters:
          parameters:
            api-version: 2018-09-30-preview
            subscriptionId: subid1
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subid1/providers/Microsoft.ContainerService/openShiftManagedClusters
                  location: location1
                  name: clustername1
                  properties:
                    agentPoolProfiles:
                    - count: 2
                      name: infra
                      osType: Linux
                      role: infra
                      subnetCidr: 10.0.0.0/24
                      vmSize: Standard_D4s_v3
                    - count: 4
                      name: compute
                      osType: Linux
                      role: compute
                      subnetCidr: 10.0.0.0/24
                      vmSize: Standard_D4s_v3
                    authProfile:
                      identityProviders:
                      - name: Azure AD
                        provider:
                          clientId: clientId
                          customerAdminGroupId: "{customerAdminGroupId}"
                          kind: AADIdentityProvider
                          tenantId: tenantId
                    fqdn: clustername1.location1.cloudapp.azure.com
                    masterPoolProfile:
                      count: 3
                      subnetCidr: 10.0.0.0/24
                      vmSize: Standard_D4s_v3
                    networkProfile:
                      vnetCidr: 10.0.0.0/8
                    openShiftVersion: v3.10
                    provisioningState: Succeeded
                    routerProfiles:
                    - fqdn: dce5faa189c841b99f8a.location1.cloudapp.azure.com
                      name: default
                      publicSubdomain: b788fade68d345da9b77.location1.int.aksapp.io
                  tags:
                    archv2: ""
                    tier: production
                  type: Microsoft.ContainerService/OpenShiftManagedClusters
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.open_shift_managed_clusters_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/openShiftManagedClusters
  : get:
      description: Lists OpenShift managed clusters in the specified subscription
        and resource group. The operation returns properties of each OpenShift managed
        cluster.
      operationId: open_shift_managed_clusters_list_by_resource_group
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          minLength: 1
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenShiftManagedClusterListResult'
          description: OK
      summary: Lists OpenShift managed clusters in the specified subscription and
        resource group.
      tags:
      - OpenShiftManagedClusters
      x-ms-examples:
        Get Managed Clusters by Resource Group:
          parameters:
            api-version: 2018-09-30-preview
            resourceGroupName: rg1
            subscriptionId: subid1
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subid1/resourcegroups/rg1/providers/Microsoft.ContainerService/openShiftManagedClusters
                  location: location1
                  name: clustername1
                  properties:
                    agentPoolProfiles:
                    - count: 2
                      name: infra
                      osType: Linux
                      role: infra
                      subnetCidr: 10.0.0.0/24
                      vmSize: Standard_D4s_v3
                    - count: 4
                      name: compute
                      osType: Linux
                      role: compute
                      subnetCidr: 10.0.0.0/24
                      vmSize: Standard_D4s_v3
                    authProfile:
                      identityProviders:
                      - name: Azure AD
                        provider:
                          clientId: clientId
                          customerAdminGroupId: "{customerAdminGroupId}"
                          kind: AADIdentityProvider
                          tenantId: tenantId
                    fqdn: clustername1.location1.cloudapp.azure.com
                    masterPoolProfile:
                      count: 3
                      subnetCidr: 10.0.0.0/24
                      vmSize: Standard_D4s_v3
                    networkProfile:
                      vnetCidr: 10.0.0.0/8
                    openShiftVersion: v3.10
                    provisioningState: Succeeded
                    routerProfiles:
                    - fqdn: dce5faa189c841b99f8a.location1.cloudapp.azure.com
                      name: default
                      publicSubdomain: b788fade68d345da9b77.location1.int.aksapp.io
                  tags:
                    archv2: ""
                    tier: production
                  type: Microsoft.ContainerService/OpenShiftManagedClusters
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.open_shift_managed_clusters_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/openShiftManagedClusters/{resourceName}
  : delete:
      description: Deletes the OpenShift managed cluster with a specified resource
        group and name.
      operationId: open_shift_managed_clusters_delete
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the OpenShift managed cluster resource.
        in: path
        name: resourceName
        required: true
        schema:
          type: string
      responses:
        "202":
          content: {}
          description: Accepted
        "204":
          content: {}
          description: NoContent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      summary: Deletes an OpenShift managed cluster.
      tags:
      - OpenShiftManagedClusters
      x-ms-examples:
        Delete OpenShift Managed Cluster:
          parameters:
            api-version: 2018-09-30-preview
            resourceGroupName: rg1
            resourceName: clustername1
            subscriptionId: subid1
          responses:
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.open_shift_managed_clusters_controller
    get:
      description: Gets the details of the managed OpenShift cluster with a specified
        resource group and name.
      operationId: open_shift_managed_clusters_get
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the OpenShift managed cluster resource.
        in: path
        name: resourceName
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenShiftManagedCluster'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: "Error response describing why the operation failed. If the\
            \ cluster doesn't exist, 404 (Not found) is returned."
      summary: Gets a OpenShift managed cluster.
      tags:
      - OpenShiftManagedClusters
      x-ms-examples:
        Get OpenShift Managed Cluster:
          parameters:
            api-version: 2018-09-30-preview
            resourceGroupName: rg1
            resourceName: clustername1
            subscriptionId: subid1
          responses:
            "200":
              body:
                id: /subscriptions/subid1/resourcegroups/rg1/providers/Microsoft.ContainerService/openShiftManagedClusters/clustername1
                location: location1
                name: clustername1
                properties:
                  agentPoolProfiles:
                  - count: 2
                    name: infra
                    osType: Linux
                    role: infra
                    subnetCidr: 10.0.0.0/24
                    vmSize: Standard_D4s_v3
                  - count: 4
                    name: compute
                    osType: Linux
                    role: compute
                    subnetCidr: 10.0.0.0/24
                    vmSize: Standard_D4s_v3
                  authProfile:
                    identityProviders:
                    - name: Azure AD
                      provider:
                        clientId: "{clientId}"
                        customerAdminGroupId: "{customerAdminGroupId}"
                        kind: AADIdentityProvider
                        tenantId: "{tenantId}"
                  fqdn: clustername1.location1.cloudapp.azure.com
                  masterPoolProfile:
                    count: 3
                    subnetCidr: 10.0.0.0/24
                    vmSize: Standard_D4s_v3
                  networkProfile:
                    vnetCidr: 10.0.0.0/8
                  openShiftVersion: v3.10
                  provisioningState: Succeeded
                  routerProfiles:
                  - fqdn: dce5faa189c841b99f8a.location1.cloudapp.azure.com
                    name: default
                    publicSubdomain: b788fade68d345da9b77.location1.int.aksapp.io
                tags:
                  archv2: ""
                  tier: production
                type: Microsoft.ContainerService/OpenShiftManagedClusters
      x-openapi-router-controller: openapi_server.controllers.open_shift_managed_clusters_controller
    patch:
      description: Updates an OpenShift managed cluster with the specified tags.
      operationId: open_shift_managed_clusters_update_tags
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the OpenShift managed cluster resource.
        in: path
        name: resourceName
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TagsObject'
        description: Parameters supplied to the Update OpenShift Managed Cluster Tags
          operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenShiftManagedCluster'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: "Error response describing why the operation failed. If the\
            \ cluster doesn't exist, 404 (Not found) is returned. If any of the input\
            \ parameters is wrong, 400(Bad Request) is returned."
      summary: Updates tags on an OpenShift managed cluster.
      tags:
      - OpenShiftManagedClusters
      x-ms-examples:
        Update OpenShift Managed Cluster Tags:
          parameters:
            api-version: 2018-09-30-preview
            parameters:
              tags:
                archv3: ""
                tier: testing
            resourceGroupName: rg1
            resourceName: clustername1
            subscriptionId: subid1
          responses:
            "200":
              body:
                id: /subscriptions/subid1/resourcegroups/rg1/providers/Microsoft.ContainerService/openShiftManagedClusters/clustername1
                location: location1
                name: clustername1
                properties:
                  agentPoolProfiles:
                  - count: 2
                    name: infra
                    osType: Linux
                    role: infra
                    subnetCidr: 10.0.0.0/24
                    vmSize: Standard_D4s_v3
                  - count: 4
                    name: compute
                    osType: Linux
                    role: compute
                    subnetCidr: 10.0.0.0/24
                    vmSize: Standard_D4s_v3
                  authProfile:
                    identityProviders:
                    - name: Azure AD
                      provider:
                        clientId: clientId
                        customerAdminGroupId: "{customerAdminGroupId}"
                        kind: AADIdentityProvider
                        tenantId: tenantId
                  fqdn: clustername1.location1.cloudapp.azure.com
                  masterPoolProfile:
                    count: 3
                    subnetCidr: 10.0.0.0/24
                    vmSize: Standard_D4s_v3
                  networkProfile:
                    vnetCidr: 10.0.0.0/8
                  openShiftVersion: v3.10
                  provisioningState: Succeeded
                  routerProfiles:
                  - fqdn: 2925bdf9337748f4bd3b.location1.cloudapp.azure.com
                    name: default
                    publicSubdomain: bc309ee87c164153871c.location1.int.aksapp.io
                tags:
                  archv3: ""
                  tier: testing
                type: Microsoft.ContainerService/OpenShiftManagedClusters
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.open_shift_managed_clusters_controller
    put:
      description: Creates or updates a OpenShift managed cluster with the specified
        configuration for agents and OpenShift version.
      operationId: open_shift_managed_clusters_create_or_update
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the OpenShift managed cluster resource.
        in: path
        name: resourceName
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenShiftManagedCluster'
        description: Parameters supplied to the Create or Update an OpenShift Managed
          Cluster operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenShiftManagedCluster'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenShiftManagedCluster'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: "Error response describing why the operation failed. If the\
            \ cluster doesn't exist, 404 (Not found) is returned.If any of the input\
            \ parameters is wrong, 400(Bad Request) is returned."
      summary: Creates or updates an OpenShift managed cluster.
      tags:
      - OpenShiftManagedClusters
      x-ms-examples:
        Create/Update OpenShift Managed Cluster:
          parameters:
            api-version: 2018-09-30-preview
            parameters:
              location: location1
              properties:
                agentPoolProfiles:
                - count: 2
                  name: infra
                  osType: Linux
                  role: infra
                  subnetCidr: 10.0.0.0/24
                  vmSize: Standard_D4s_v3
                - count: 4
                  name: compute
                  osType: Linux
                  role: compute
                  subnetCidr: 10.0.0.0/24
                  vmSize: Standard_D4s_v3
                authProfile:
                  identityProviders:
                  - name: Azure AD
                    provider:
                      clientId: "{clientId}"
                      customerAdminGroupId: "{customerAdminGroupId}"
                      kind: AADIdentityProvider
                      secret: secret
                      tenantId: "{tenantId}"
                fqdn: clustername1.location1.cloudapp.azure.com
                masterPoolProfile:
                  count: 3
                  name: master
                  osType: Linux
                  subnetCidr: 10.0.0.0/24
                  vmSize: Standard_D4s_v3
                networkProfile:
                  vnetCidr: 10.0.0.0/8
                openShiftVersion: v3.10
                routerProfiles:
                - name: default
              tags:
                archv2: ""
                tier: production
            resourceGroupName: rg1
            resourceName: clustername1
            subscriptionId: subid1
          responses:
            "200":
              body:
                id: /subscriptions/subid1/resourcegroups/rg1/providers/Microsoft.ContainerService/openShiftManagedClusters/clustername1
                location: location1
                name: clustername1
                properties:
                  agentPoolProfiles:
                  - count: 2
                    name: infra
                    osType: Linux
                    role: infra
                    subnetCidr: 10.0.0.0/24
                    vmSize: Standard_D4s_v3
                  - count: 4
                    name: compute
                    osType: Linux
                    role: compute
                    subnetCidr: 10.0.0.0/24
                    vmSize: Standard_D4s_v3
                  authProfile:
                    identityProviders:
                    - name: Azure AD
                      provider:
                        clientId: clientId
                        customerAdminGroupId: "{customerAdminGroupId}"
                        kind: AADIdentityProvider
                        tenantId: tenantId
                  fqdn: clustername1.location1.cloudapp.azure.com
                  masterPoolProfile:
                    count: 3
                    subnetCidr: 10.0.0.0/24
                    vmSize: Standard_D4s_v3
                  networkProfile:
                    vnetCidr: 10.0.0.0/8
                  openShiftVersion: v3.10
                  provisioningState: Succeeded
                  routerProfiles:
                  - fqdn: 2925bdf9337748f4bd3b.location1.cloudapp.azure.com
                    name: default
                    publicSubdomain: bc309ee87c164153871c.location1.int.aksapp.io
                tags:
                  archv2: ""
                  tier: production
                type: Microsoft.ContainerService/OpenShiftManagedClusters
            "201":
              body:
                id: /subscriptions/subid1/resourcegroups/rg1/providers/Microsoft.ContainerService/openShiftManagedClusters/clustername1
                location: location1
                name: clustername1
                properties:
                  agentPoolProfiles:
                  - count: 2
                    name: infra
                    osType: Linux
                    role: infra
                    subnetCidr: 10.0.0.0/24
                    vmSize: Standard_D4s_v3
                  - count: 4
                    name: compute
                    osType: Linux
                    role: compute
                    subnetCidr: 10.0.0.0/24
                    vmSize: Standard_D4s_v3
                  authProfile:
                    identityProviders:
                    - name: Azure AD
                      provider:
                        clientId: "{clientId}"
                        customerAdminGroupId: "{customerAdminGroupId}"
                        kind: AADIdentityProvider
                        tenantId: "{tenantId}"
                  fqdn: clustername1.location1.cloudapp.azure.com
                  masterPoolProfile:
                    count: 3
                    name: master
                    osType: Linux
                    subnetCidr: 10.0.0.0/24
                    vmSize: Standard_D4s_v3
                  networkProfile:
                    vnetCidr: 10.0.0.0/8
                  openShiftVersion: v3.10
                  provisioningState: Creating
                  routerProfiles:
                  - name: default
                tags:
                  archv2: ""
                  tier: production
                type: Microsoft.ContainerService/OpenShiftManagedClusters
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.open_shift_managed_clusters_controller
components:
  parameters:
    ApiVersionParameter:
      description: Client Api Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
        x-ms-parameter-location: client
      x-ms-parameter-location: client
    SubscriptionIdParameter:
      description: Subscription credentials which uniquely identify Microsoft Azure
        subscription. The subscription ID forms part of the URI for every service
        call.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
        x-ms-parameter-location: client
      x-ms-parameter-location: client
  schemas:
    CloudError:
      description: An error response from the Container service.
      example:
        error:
          code: code
          details:
          - null
          - null
          message: message
          target: target
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorBody'
      title: CloudError
      type: object
      x-ms-external: true
    CloudErrorBody:
      description: An error response from the Container service.
      example:
        code: code
        details:
        - null
        - null
        message: message
        target: target
      properties:
        code:
          description: An identifier for the error. Codes are invariant and are intended
            to be consumed programmatically.
          title: code
          type: string
        details:
          description: A list of additional details about the error.
          items:
            $ref: '#/components/schemas/CloudErrorBody'
          title: details
          type: array
        message:
          description: "A message describing the error, intended to be suitable for\
            \ display in a user interface."
          title: message
          type: string
        target:
          description: "The target of the particular error. For example, the name\
            \ of the property in error."
          title: target
          type: string
      title: CloudErrorBody
      type: object
      x-ms-external: true
    NetworkProfile:
      description: Represents the OpenShift networking configuration
      example:
        peerVnetId: peerVnetId
        vnetCidr: 10.0.0.0/8
      properties:
        peerVnetId:
          description: CIDR of the Vnet to peer.
          title: peerVnetId
          type: string
        vnetCidr:
          default: 10.0.0.0/8
          description: CIDR for the OpenShift Vnet.
          title: vnetCidr
          type: string
      title: NetworkProfile
      type: object
    OSType:
      default: Linux
      description: OsType to be used to specify os type. Choose from Linux and Windows.
        Default to Linux.
      enum:
      - Linux
      - Windows
      title: OSType
      type: string
      x-ms-enum:
        modelAsString: true
        name: OSType
    OpenShiftAgentPoolProfileRole:
      description: OpenShiftAgentPoolProfileRole represents the role of the AgentPoolProfile.
      enum:
      - compute
      - infra
      title: OpenShiftAgentPoolProfileRole
      type: string
      x-ms-enum:
        modelAsString: true
        name: OpenShiftAgentPoolProfileRole
    OpenShiftContainerServiceVMSize:
      description: Size of OpenShift VMs.
      enum:
      - Standard_D2s_v3
      - Standard_D4s_v3
      - Standard_D8s_v3
      - Standard_D16s_v3
      - Standard_D32s_v3
      - Standard_D64s_v3
      - Standard_DS4_v2
      - Standard_DS5_v2
      - Standard_F8s_v2
      - Standard_F16s_v2
      - Standard_F32s_v2
      - Standard_F64s_v2
      - Standard_F72s_v2
      - Standard_F8s
      - Standard_F16s
      - Standard_E4s_v3
      - Standard_E8s_v3
      - Standard_E16s_v3
      - Standard_E20s_v3
      - Standard_E32s_v3
      - Standard_E64s_v3
      - Standard_GS2
      - Standard_GS3
      - Standard_GS4
      - Standard_GS5
      - Standard_DS12_v2
      - Standard_DS13_v2
      - Standard_DS14_v2
      - Standard_DS15_v2
      - Standard_L4s
      - Standard_L8s
      - Standard_L16s
      - Standard_L32s
      title: OpenShiftContainerServiceVMSize
      type: string
      x-ms-enum:
        modelAsString: true
        name: OpenShiftContainerServiceVMSize
    OpenShiftManagedCluster:
      allOf:
      - $ref: '#/components/schemas/Resource'
      - properties:
          plan:
            $ref: '#/components/schemas/PurchasePlan'
          properties:
            $ref: '#/components/schemas/OpenShiftManagedClusterProperties'
        type: object
      description: OpenShift Managed cluster.
      example:
        name: name
        location: location
        id: id
        type: type
        plan:
          product: product
          name: name
          promotionCode: promotionCode
          publisher: publisher
        properties:
          agentPoolProfiles:
          - subnetCidr: 10.0.0.0/24
            role: compute
            count: 0
            name: name
            osType: Linux
            vmSize: Standard_D2s_v3
          - subnetCidr: 10.0.0.0/24
            role: compute
            count: 0
            name: name
            osType: Linux
            vmSize: Standard_D2s_v3
          publicHostname: publicHostname
          fqdn: fqdn
          openShiftVersion: openShiftVersion
          routerProfiles:
          - publicSubdomain: publicSubdomain
            fqdn: fqdn
            name: name
          - publicSubdomain: publicSubdomain
            fqdn: fqdn
            name: name
          networkProfile:
            peerVnetId: peerVnetId
            vnetCidr: 10.0.0.0/8
          provisioningState: provisioningState
          masterPoolProfile:
            subnetCidr: subnetCidr
            count: 6
            name: name
            osType: null
            vmSize: null
          authProfile:
            identityProviders:
            - provider:
                kind: kind
              name: name
            - provider:
                kind: kind
              name: name
        tags:
          key: tags
      title: OpenShiftManagedCluster
    OpenShiftManagedClusterAADIdentityProvider:
      allOf:
      - $ref: '#/components/schemas/OpenShiftManagedClusterBaseIdentityProvider'
      - properties:
          clientId:
            description: The clientId password associated with the provider.
            type: string
          customerAdminGroupId:
            description: The groupId to be granted cluster admin role.
            type: string
          secret:
            description: The secret password associated with the provider.
            type: string
          tenantId:
            description: The tenantId associated with the provider.
            type: string
        type: object
      description: Defines the Identity provider for MS AAD.
      x-ms-discriminator-value: AADIdentityProvider
    OpenShiftManagedClusterAgentPoolProfile:
      description: Defines the configuration of the OpenShift cluster VMs.
      example:
        subnetCidr: 10.0.0.0/24
        role: compute
        count: 0
        name: name
        osType: Linux
        vmSize: Standard_D2s_v3
      properties:
        count:
          description: Number of agents (VMs) to host docker containers.
          format: int32
          title: count
          type: integer
        name:
          description: Unique name of the pool profile in the context of the subscription
            and resource group.
          title: name
          type: string
        osType:
          $ref: '#/components/schemas/OSType'
        role:
          $ref: '#/components/schemas/OpenShiftAgentPoolProfileRole'
        subnetCidr:
          default: 10.0.0.0/24
          description: Subnet CIDR for the peering.
          title: subnetCidr
          type: string
        vmSize:
          $ref: '#/components/schemas/OpenShiftContainerServiceVMSize'
      required:
      - count
      - name
      - vmSize
      title: OpenShiftManagedClusterAgentPoolProfile
      type: object
    OpenShiftManagedClusterAuthProfile:
      description: Defines all possible authentication profiles for the OpenShift
        cluster.
      example:
        identityProviders:
        - provider:
            kind: kind
          name: name
        - provider:
            kind: kind
          name: name
      properties:
        identityProviders:
          description: Type of authentication profile to use.
          items:
            $ref: '#/components/schemas/OpenShiftManagedClusterIdentityProvider'
          title: identityProviders
          type: array
      title: OpenShiftManagedClusterAuthProfile
      type: object
    OpenShiftManagedClusterBaseIdentityProvider:
      description: Structure for any Identity provider.
      discriminator:
        propertyName: kind
      example:
        kind: kind
      properties:
        kind:
          description: The kind of the provider.
          title: kind
          type: string
      required:
      - kind
      title: OpenShiftManagedClusterBaseIdentityProvider
      type: object
    OpenShiftManagedClusterIdentityProvider:
      description: Defines the configuration of the identity providers to be used
        in the OpenShift cluster.
      example:
        provider:
          kind: kind
        name: name
      properties:
        name:
          description: Name of the provider.
          title: name
          type: string
        provider:
          $ref: '#/components/schemas/OpenShiftManagedClusterBaseIdentityProvider'
      title: OpenShiftManagedClusterIdentityProvider
      type: object
    OpenShiftManagedClusterListResult:
      description: The response from the List OpenShift Managed Clusters operation.
      example:
        value:
        - name: name
          location: location
          id: id
          type: type
          plan:
            product: product
            name: name
            promotionCode: promotionCode
            publisher: publisher
          properties:
            agentPoolProfiles:
            - subnetCidr: 10.0.0.0/24
              role: compute
              count: 0
              name: name
              osType: Linux
              vmSize: Standard_D2s_v3
            - subnetCidr: 10.0.0.0/24
              role: compute
              count: 0
              name: name
              osType: Linux
              vmSize: Standard_D2s_v3
            publicHostname: publicHostname
            fqdn: fqdn
            openShiftVersion: openShiftVersion
            routerProfiles:
            - publicSubdomain: publicSubdomain
              fqdn: fqdn
              name: name
            - publicSubdomain: publicSubdomain
              fqdn: fqdn
              name: name
            networkProfile:
              peerVnetId: peerVnetId
              vnetCidr: 10.0.0.0/8
            provisioningState: provisioningState
            masterPoolProfile:
              subnetCidr: subnetCidr
              count: 6
              name: name
              osType: null
              vmSize: null
            authProfile:
              identityProviders:
              - provider:
                  kind: kind
                name: name
              - provider:
                  kind: kind
                name: name
          tags:
            key: tags
        - name: name
          location: location
          id: id
          type: type
          plan:
            product: product
            name: name
            promotionCode: promotionCode
            publisher: publisher
          properties:
            agentPoolProfiles:
            - subnetCidr: 10.0.0.0/24
              role: compute
              count: 0
              name: name
              osType: Linux
              vmSize: Standard_D2s_v3
            - subnetCidr: 10.0.0.0/24
              role: compute
              count: 0
              name: name
              osType: Linux
              vmSize: Standard_D2s_v3
            publicHostname: publicHostname
            fqdn: fqdn
            openShiftVersion: openShiftVersion
            routerProfiles:
            - publicSubdomain: publicSubdomain
              fqdn: fqdn
              name: name
            - publicSubdomain: publicSubdomain
              fqdn: fqdn
              name: name
            networkProfile:
              peerVnetId: peerVnetId
              vnetCidr: 10.0.0.0/8
            provisioningState: provisioningState
            masterPoolProfile:
              subnetCidr: subnetCidr
              count: 6
              name: name
              osType: null
              vmSize: null
            authProfile:
              identityProviders:
              - provider:
                  kind: kind
                name: name
              - provider:
                  kind: kind
                name: name
          tags:
            key: tags
        nextLink: nextLink
      properties:
        nextLink:
          description: The URL to get the next set of OpenShift managed cluster results.
          readOnly: true
          title: nextLink
          type: string
        value:
          description: The list of OpenShift managed clusters.
          items:
            $ref: '#/components/schemas/OpenShiftManagedCluster'
          title: value
          type: array
      title: OpenShiftManagedClusterListResult
      type: object
    OpenShiftManagedClusterMasterPoolProfile:
      description: OpenShiftManagedClusterMaterPoolProfile contains configuration
        for OpenShift master VMs.
      example:
        subnetCidr: subnetCidr
        count: 6
        name: name
        osType: null
        vmSize: null
      properties:
        count:
          description: Number of masters (VMs) to host docker containers. The default
            value is 3.
          format: int32
          title: count
          type: integer
        name:
          description: Unique name of the master pool profile in the context of the
            subscription and resource group.
          title: name
          type: string
        osType:
          $ref: '#/components/schemas/OSType'
        subnetCidr:
          description: Subnet CIDR for the peering.
          title: subnetCidr
          type: string
        vmSize:
          $ref: '#/components/schemas/OpenShiftContainerServiceVMSize'
      required:
      - count
      - vmSize
      title: OpenShiftManagedClusterMasterPoolProfile
      type: object
    OpenShiftManagedClusterProperties:
      description: Properties of the OpenShift managed cluster.
      example:
        agentPoolProfiles:
        - subnetCidr: 10.0.0.0/24
          role: compute
          count: 0
          name: name
          osType: Linux
          vmSize: Standard_D2s_v3
        - subnetCidr: 10.0.0.0/24
          role: compute
          count: 0
          name: name
          osType: Linux
          vmSize: Standard_D2s_v3
        publicHostname: publicHostname
        fqdn: fqdn
        openShiftVersion: openShiftVersion
        routerProfiles:
        - publicSubdomain: publicSubdomain
          fqdn: fqdn
          name: name
        - publicSubdomain: publicSubdomain
          fqdn: fqdn
          name: name
        networkProfile:
          peerVnetId: peerVnetId
          vnetCidr: 10.0.0.0/8
        provisioningState: provisioningState
        masterPoolProfile:
          subnetCidr: subnetCidr
          count: 6
          name: name
          osType: null
          vmSize: null
        authProfile:
          identityProviders:
          - provider:
              kind: kind
            name: name
          - provider:
              kind: kind
            name: name
      properties:
        agentPoolProfiles:
          description: Configuration of OpenShift cluster VMs.
          items:
            $ref: '#/components/schemas/OpenShiftManagedClusterAgentPoolProfile'
          title: agentPoolProfiles
          type: array
        authProfile:
          $ref: '#/components/schemas/OpenShiftManagedClusterAuthProfile'
        fqdn:
          description: User-specified FQDN for OpenShift API server loadbalancer internal
            hostname.
          title: fqdn
          type: string
        masterPoolProfile:
          $ref: '#/components/schemas/OpenShiftManagedClusterMasterPoolProfile'
        networkProfile:
          $ref: '#/components/schemas/NetworkProfile'
        openShiftVersion:
          description: Version of OpenShift specified when creating the cluster.
          title: openShiftVersion
          type: string
        provisioningState:
          description: "The current deployment or provisioning state, which only appears\
            \ in the response."
          readOnly: true
          title: provisioningState
          type: string
        publicHostname:
          description: Optional user-specified FQDN for OpenShift API server.
          title: publicHostname
          type: string
        routerProfiles:
          description: Configuration for OpenShift router(s).
          items:
            $ref: '#/components/schemas/OpenShiftRouterProfile'
          title: routerProfiles
          type: array
      required:
      - openShiftVersion
      title: OpenShiftManagedClusterProperties
      type: object
    OpenShiftRouterProfile:
      description: Represents an OpenShift router
      example:
        publicSubdomain: publicSubdomain
        fqdn: fqdn
        name: name
      properties:
        fqdn:
          description: Auto-allocated FQDN for the OpenShift router.
          readOnly: true
          title: fqdn
          type: string
        name:
          description: Name of the router profile.
          title: name
          type: string
        publicSubdomain:
          description: DNS subdomain for OpenShift router.
          title: publicSubdomain
          type: string
      title: OpenShiftRouterProfile
      type: object
    PurchasePlan:
      description: Used for establishing the purchase context of any 3rd Party artifact
        through MarketPlace.
      example:
        product: product
        name: name
        promotionCode: promotionCode
        publisher: publisher
      properties:
        name:
          description: The plan ID.
          title: name
          type: string
        product:
          description: Specifies the product of the image from the marketplace. This
            is the same value as Offer under the imageReference element.
          title: product
          type: string
        promotionCode:
          description: The promotion code.
          title: promotionCode
          type: string
        publisher:
          description: The plan ID.
          title: publisher
          type: string
      title: PurchasePlan
      type: object
    Resource:
      description: The Resource model definition.
      properties:
        id:
          description: Resource Id
          readOnly: true
          title: id
          type: string
        location:
          description: Resource location
          title: location
          type: string
          x-ms-mutability:
          - read
          - create
        name:
          description: Resource name
          readOnly: true
          title: name
          type: string
        tags:
          additionalProperties:
            type: string
          description: Resource tags
          title: tags
          type: object
        type:
          description: Resource type
          readOnly: true
          title: type
          type: string
      required:
      - location
      title: Resource
      type: object
      x-ms-azure-resource: true
    TagsObject:
      description: Tags object for patch operations.
      example:
        tags:
          key: tags
      properties:
        tags:
          additionalProperties:
            type: string
          description: Resource tags.
          title: tags
          type: object
      title: TagsObject
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
