openapi: 3.0.1
info:
  title: TrafficManagerManagementClient
  version: 2018-04-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/trafficmanager/resource-manager/Microsoft.Network/stable/2018-04-01/trafficmanager.json
    version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: trafficmanager
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.Network/checkTrafficManagerNameAvailability:
    post:
      description: Checks the availability of a Traffic Manager Relative DNS name.
      operationId: Profiles_CheckTrafficManagerRelativeDnsNameAvailability
      parameters:
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckTrafficManagerRelativeDnsNameAvailabilityParameters'
        description: The Traffic Manager name parameters supplied to the CheckTrafficManagerNameAvailability
          operation.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrafficManagerNameAvailability'
          description: The Traffic Manager Name Availability.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Default response. It will be deserialized as per the Error
            definition.
      tags:
      - Profiles
      x-ms-examples:
        NameAvailabilityTest_NameAvailablePOST21:
          parameters:
            api-version: 2018-04-01
            parameters:
              name: azsmnet5403
              type: microsoft.network/trafficmanagerprofiles
          responses:
            "200":
              body:
                name: azsmnet5403
                nameAvailable: true
                type: Microsoft.Network/trafficManagerProfiles
        NameAvailabilityTest_NameNotAvailablePOST23:
          parameters:
            api-version: 2018-04-01
            parameters:
              name: azsmnet4696
              type: microsoft.network/trafficmanagerprofiles
          responses:
            "200":
              body:
                message: Domain name azsmnet4696.tmpreview.watmtest.azure-test.net
                  already exists. Please choose a different DNS prefix.
                name: azsmnet4696
                nameAvailable: false
                reason: AlreadyExists
                type: Microsoft.Network/trafficManagerProfiles
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  /providers/Microsoft.Network/trafficManagerGeographicHierarchies/default:
    get:
      description: Gets the default Geographic Hierarchy used by the Geographic traffic
        routing method.
      operationId: GeographicHierarchies_GetDefault
      parameters:
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrafficManagerGeographicHierarchy'
          description: The default Geographic Hierarchy.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Default response. It will be deserialized as per the Error
            definition.
      tags:
      - GeographicHierarchies
      x-ms-examples:
        GeographicHierarchy-GET-default:
          parameters:
            api-version: 2018-04-01
          responses:
            "200":
              body:
                id: /providers/Microsoft.Network/trafficManagerGeographicHierarchies/default
                name: default
                properties:
                  geographicHierarchy:
                    code: WORLD
                    name: World
                    regions:
                    - code: GEO-ME
                      name: Middle East
                      regions:
                      - code: AE
                        name: United Arab Emirates
                        regions: []
                    - code: GEO-AP
                      name: Australia / Pacific
                      regions:
                      - code: AU
                        name: Australia
                        regions:
                        - code: AU-ACT
                          name: Australian Capital Territory
                          regions: []
                        - code: AU-NSW
                          name: New South Wales
                          regions: []
                      - code: CK
                        name: Cook Islands
                        regions: []
                type: Microsoft.Network/trafficManagerGeographicHierarchies
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/trafficManagerUserMetricsKeys/default:
    delete:
      description: Delete a subscription-level key used for Real User Metrics collection.
      operationId: TrafficManagerUserMetricsKeys_Delete
      parameters:
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteOperationResult'
          description: The Traffic Manager Real User Metrics key was deleted successfully.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Default response. It will be deserialized as per the Error
            definition.
      tags:
      - RealUserMetrics
      x-ms-examples:
        TrafficManagerUserMetricsKeys-DELETE:
          parameters:
            api-version: 2018-04-01
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body: ""
      x-accepts:
      - application/json
    get:
      description: Get the subscription-level key used for Real User Metrics collection.
      operationId: TrafficManagerUserMetricsKeys_Get
      parameters:
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserMetricsModel'
          description: The subscription-level Traffic Manager Real User Metrics key.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Default response. It will be deserialized as per the Error
            definition.
      tags:
      - RealUserMetrics
      x-ms-examples:
        TrafficManagerUserMetricsKeys-GET:
          parameters:
            api-version: 2018-04-01
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                id: /providers/Microsoft.Network/trafficManagerUserMetricsKeys/default
                name: default
                properties:
                  key: 9ea056eb38f145a0891b5d5dc15e9aa2
                type: Microsoft.Network/trafficManagerUserMetricsKeys
      x-accepts:
      - application/json
    put:
      description: Create or update a subscription-level key used for Real User Metrics
        collection.
      operationId: TrafficManagerUserMetricsKeys_CreateOrUpdate
      parameters:
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserMetricsModel'
          description: A new subscription-level key has been created for Real User
            Metrics collection.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Default response. It will be deserialized as per the Error
            definition.
      tags:
      - RealUserMetrics
      x-ms-examples:
        TrafficManagerUserMetricsKeys-PUT:
          parameters:
            api-version: 2018-04-01
            subscriptionId: "{subscription-id}"
          responses:
            "201":
              body:
                id: /providers/Microsoft.Network/trafficManagerUserMetricsKeys/default
                name: default
                properties:
                  key: 9ea056eb38f145a0891b5d5dc15e9aa2
                type: Microsoft.Network/trafficManagerUserMetricsKeys
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/trafficmanagerprofiles:
    get:
      description: Lists all Traffic Manager profiles within a subscription.
      operationId: Profiles_ListBySubscription
      parameters:
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileListResult'
          description: The list of Traffic Manager profiles.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Default response. It will be deserialized as per the Error
            definition.
      tags:
      - Profiles
      x-ms-examples:
        ListBySubscription:
          parameters:
            api-version: 2018-04-01
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                value:
                - id: "/subscriptions/{subscription-id}/resourceGroups/azsmnet1719/providers/Microsoft.Network/trafficManagerProfiles/azsmnet5183"
                  location: global
                  name: azsmnet5183
                  properties:
                    dnsConfig:
                      fqdn: azsmnet4696.tmpreview.watmtest.azure-test.net
                      relativeName: azsmnet4696
                      ttl: 35
                    endpoints: []
                    monitorConfig:
                      intervalInSeconds: 30
                      path: /testpath.aspx
                      port: 80
                      profileMonitorStatus: Online
                      protocol: HTTP
                      timeoutInSeconds: 10
                      toleratedNumberOfFailures: 3
                    profileStatus: Enabled
                    trafficRoutingMethod: Performance
                  tags: {}
                  type: Microsoft.Network/trafficManagerProfiles
                - id: "/subscriptions/{subscription-id}/resourceGroups/azuresdkfornetautoresttrafficmanager5168/providers/Microsoft.Network/trafficManagerProfiles/azuresdkfornetautoresttrafficmanager3440"
                  location: global
                  name: azuresdkfornetautoresttrafficmanager3440
                  properties:
                    dnsConfig:
                      fqdn: azuresdkfornetautoresttrafficmanager3440.tmpreview.watmtest.azure-test.net
                      relativeName: azuresdkfornetautoresttrafficmanager3440
                      ttl: 35
                    endpoints:
                    - id: "/subscriptions/{subscription-id}/resourceGroups/azuresdkfornetautoresttrafficmanager5168/providers/Microsoft.Network/trafficManagerProfiles/azuresdkfornetautoresttrafficmanager3440/externalEndpoints/My\
                        \ external endpoint"
                      name: My external endpoint
                      properties:
                        endpointLocation: North Europe
                        endpointMonitorStatus: Online
                        endpointStatus: Enabled
                        priority: 1
                        target: foobar.contoso.com
                        weight: 1
                      type: Microsoft.Network/trafficManagerProfiles/externalEndpoints
                    monitorConfig:
                      intervalInSeconds: 30
                      path: /testpath.aspx
                      port: 80
                      profileMonitorStatus: Online
                      protocol: HTTP
                      timeoutInSeconds: 10
                      toleratedNumberOfFailures: 3
                    profileStatus: Enabled
                    trafficRoutingMethod: Performance
                  tags: {}
                  type: Microsoft.Network/trafficManagerProfiles
                - id: "/subscriptions/{subscription-id}/resourceGroups/onesdk9785/providers/Microsoft.Network/trafficManagerProfiles/onesdk8819"
                  location: global
                  name: onesdk8819
                  properties:
                    dnsConfig:
                      fqdn: onesdk7242.tmpreview.watmtest.azure-test.net
                      relativeName: onesdk7242
                      ttl: 51
                    endpoints:
                    - id: "/subscriptions/{subscription-id}/resourceGroups/onesdk9785/providers/Microsoft.Network/trafficManagerProfiles/onesdk8819/nestedEndpoints/MyNestedEndpoint"
                      name: MyNestedEndpoint
                      properties:
                        endpointLocation: West Europe
                        endpointMonitorStatus: Stopped
                        endpointStatus: Enabled
                        minChildEndpoints: 1
                        priority: 1
                        target: onesdk4285.tmpreview.watmtest.azure-test.net
                        targetResourceId: "/subscriptions/{subscription-id}/resourceGroups/onesdk9785/providers/Microsoft.Network/trafficManagerProfiles/onesdk1792"
                        weight: 1
                      type: Microsoft.Network/trafficManagerProfiles/nestedEndpoints
                    monitorConfig:
                      intervalInSeconds: 30
                      path: /testparent.asp
                      port: 111
                      profileMonitorStatus: Online
                      protocol: HTTPS
                      timeoutInSeconds: 10
                      toleratedNumberOfFailures: 3
                    profileStatus: Enabled
                    trafficRoutingMethod: Performance
                  tags: {}
                  type: Microsoft.Network/trafficManagerProfiles
      x-ms-pageable: {}
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/trafficmanagerprofiles:
    get:
      description: Lists all Traffic Manager profiles within a resource group.
      operationId: Profiles_ListByResourceGroup
      parameters:
      - description: The name of the resource group containing the Traffic Manager
          profiles to be listed.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileListResult'
          description: The list of Traffic Manager profiles.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Default response. It will be deserialized as per the Error
            definition.
      tags:
      - Profiles
      x-ms-examples:
        ListProfilesByResourceGroup:
          parameters:
            api-version: 2018-04-01
            resourceGroupName: azuresdkfornetautoresttrafficmanager3640
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                value:
                - id: "/subscriptions/{subscription-id}/resourceGroups/azuresdkfornetautoresttrafficmanager3640/providers/Microsoft.Network/trafficManagerProfiles/azuresdkfornetautoresttrafficmanager1005"
                  location: global
                  name: azuresdkfornetautoresttrafficmanager1005
                  properties:
                    dnsConfig:
                      fqdn: azuresdkfornetautoresttrafficmanager1005.tmpreview.watmtest.azure-test.net
                      relativeName: azuresdkfornetautoresttrafficmanager1005
                      ttl: 35
                    endpoints:
                    - id: "/subscriptions/{subscription-id}/resourceGroups/azuresdkfornetautoresttrafficmanager3640/providers/Microsoft.Network/trafficManagerProfiles/azuresdkfornetautoresttrafficmanager1005/externalEndpoints/My\
                        \ external endpoint"
                      name: My external endpoint
                      properties:
                        endpointLocation: North Europe
                        endpointMonitorStatus: CheckingEndpoint
                        endpointStatus: Enabled
                        priority: 1
                        target: foobar.contoso.com
                        weight: 1
                      type: Microsoft.Network/trafficManagerProfiles/externalEndpoints
                    monitorConfig:
                      intervalInSeconds: 30
                      path: /testpath.aspx
                      port: 80
                      profileMonitorStatus: Online
                      protocol: HTTP
                      timeoutInSeconds: 10
                      toleratedNumberOfFailures: 3
                    profileStatus: Enabled
                    trafficRoutingMethod: Performance
                  tags: {}
                  type: Microsoft.Network/trafficManagerProfiles
                - id: "/subscriptions/{subscription-id}/resourceGroups/azuresdkfornetautoresttrafficmanager3640/providers/Microsoft.Network/trafficManagerProfiles/azuresdkfornetautoresttrafficmanager959"
                  location: global
                  name: azuresdkfornetautoresttrafficmanager959
                  properties:
                    dnsConfig:
                      fqdn: azuresdkfornetautoresttrafficmanager959.tmpreview.watmtest.azure-test.net
                      relativeName: azuresdkfornetautoresttrafficmanager959
                      ttl: 35
                    endpoints:
                    - id: "/subscriptions/{subscription-id}/resourceGroups/azuresdkfornetautoresttrafficmanager3640/providers/Microsoft.Network/trafficManagerProfiles/azuresdkfornetautoresttrafficmanager959/externalEndpoints/My\
                        \ external endpoint"
                      name: My external endpoint
                      properties:
                        endpointLocation: North Europe
                        endpointMonitorStatus: Online
                        endpointStatus: Enabled
                        priority: 1
                        target: foobar.contoso.com
                        weight: 1
                      type: Microsoft.Network/trafficManagerProfiles/externalEndpoints
                    monitorConfig:
                      intervalInSeconds: 30
                      path: /testpath.aspx
                      port: 80
                      profileMonitorStatus: Online
                      protocol: HTTP
                      timeoutInSeconds: 10
                      toleratedNumberOfFailures: 3
                    profileStatus: Enabled
                    trafficRoutingMethod: Performance
                  tags: {}
                  type: Microsoft.Network/trafficManagerProfiles
      x-ms-pageable: {}
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/trafficmanagerprofiles/{profileName}
  : delete:
      description: Deletes a Traffic Manager profile.
      operationId: Profiles_Delete
      parameters:
      - description: The name of the resource group containing the Traffic Manager
          profile to be deleted.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the Traffic Manager profile to be deleted.
        in: path
        name: profileName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteOperationResult'
          description: The Traffic Manager Profile was deleted successfully.
        "204":
          content: {}
          description: The profile does not exist. It could have been deleted on a
            previous request.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Default response. It will be deserialized as per the Error
            definition.
      tags:
      - Profiles
      x-ms-examples:
        Profile-DELETE:
          parameters:
            api-version: 2018-04-01
            profileName: azuresdkfornetautoresttrafficmanager3880
            resourceGroupName: azuresdkfornetautoresttrafficmanager1323
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body: ""
            "204":
              body: ""
      x-accepts:
      - application/json
    get:
      description: Gets a Traffic Manager profile.
      operationId: Profiles_Get
      parameters:
      - description: The name of the resource group containing the Traffic Manager
          profile.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the Traffic Manager profile.
        in: path
        name: profileName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
          description: The Traffic Manager profile.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Default response. It will be deserialized as per the Error
            definition.
      tags:
      - Profiles
      x-ms-examples:
        Profile-GET-WithEndpoints:
          parameters:
            api-version: 2018-04-01
            profileName: azuresdkfornetautoresttrafficmanager3880
            resourceGroupName: azuresdkfornetautoresttrafficmanager1323
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                id: "/subscriptions/{subscription-id}/resourceGroups/azuresdkfornetautoresttrafficmanager1323/providers/Microsoft.Network/trafficManagerProfiles/azuresdkfornetautoresttrafficmanager3880"
                location: global
                name: azuresdkfornetautoresttrafficmanager3880
                properties:
                  dnsConfig:
                    fqdn: azuresdkfornetautoresttrafficmanager3880.tmpreview.watmtest.azure-test.net
                    relativeName: azuresdkfornetautoresttrafficmanager3880
                    ttl: 35
                  endpoints:
                  - id: "/subscriptions/{subscription-id}/resourceGroups/azuresdkfornetautoresttrafficmanager1323/providers/Microsoft.Network/trafficManagerProfiles/azuresdkfornetautoresttrafficmanager3880/externalEndpoints/My\
                      \ external endpoint"
                    name: My external endpoint
                    properties:
                      endpointLocation: North Europe
                      endpointMonitorStatus: CheckingEndpoint
                      endpointStatus: Enabled
                      priority: 1
                      target: foobar.contoso.com
                      weight: 1
                    type: Microsoft.Network/trafficManagerProfiles/externalEndpoints
                  monitorConfig:
                    intervalInSeconds: 30
                    path: /testpath.aspx
                    port: 80
                    profileMonitorStatus: CheckingEndpoints
                    protocol: HTTP
                    timeoutInSeconds: 10
                    toleratedNumberOfFailures: 3
                  profileStatus: Enabled
                  trafficRoutingMethod: Performance
                tags: {}
                type: Microsoft.Network/trafficManagerProfiles
      x-accepts:
      - application/json
    patch:
      description: Update a Traffic Manager profile.
      operationId: Profiles_Update
      parameters:
      - description: The name of the resource group containing the Traffic Manager
          profile.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the Traffic Manager profile.
        in: path
        name: profileName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Profile'
        description: The Traffic Manager profile parameters supplied to the Update
          operation.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
          description: The updated Traffic Manager profile.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Default response. It will be deserialized as per the Error
            definition.
      tags:
      - Profiles
      x-ms-examples:
        Profile-PATCH-MonitorConfig:
          parameters:
            api-version: 2018-04-01
            parameters:
              properties:
                monitorConfig:
                  customHeaders:
                  - name: header-1
                    value: value-1
                  - name: header-2
                    value: value-2
                  intervalInSeconds: 30
                  path: /testpath.aspx
                  port: 80
                  protocol: HTTP
                  timeoutInSeconds: 6
                  toleratedNumberOfFailures: 4
            profileName: azuresdkfornetautoresttrafficmanager6192
            resourceGroupName: azuresdkfornetautoresttrafficmanager2583
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                id: "/subscriptions/{subscription-id}/resourceGroups/azuresdkfornetautoresttrafficmanager2583/providers/Microsoft.Network/trafficManagerProfiles/azuresdkfornetautoresttrafficmanager6192"
                location: global
                name: azuresdkfornetautoresttrafficmanager6192
                properties:
                  dnsConfig:
                    fqdn: azuresdkfornetautoresttrafficmanager6192.tmpreview.watmtest.azure-test.net
                    relativeName: azuresdkfornetautoresttrafficmanager6192
                    ttl: 35
                  endpoints:
                  - id: "/subscriptions/{subscription-id}/resourceGroups/azuresdkfornetautoresttrafficmanager2583/providers/Microsoft.Network/trafficManagerProfiles/azuresdkfornetautoresttrafficmanager6192/externalEndpoints/My\
                      \ external endpoint"
                    name: My external endpoint
                    properties:
                      endpointLocation: North Europe
                      endpointMonitorStatus: CheckingEndpoint
                      endpointStatus: Enabled
                      priority: 1
                      target: foobar.contoso.com
                      weight: 1
                    type: Microsoft.Network/trafficManagerProfiles/externalEndpoints
                  monitorConfig:
                    customHeaders:
                    - name: header-1
                      value: value-1
                    - name: header-2
                      value: value-2
                    intervalInSeconds: 30
                    path: /testpath.aspx
                    port: 80
                    profileMonitorStatus: CheckingEndpoints
                    protocol: HTTP
                    timeoutInSeconds: 6
                    toleratedNumberOfFailures: 4
                  profileStatus: Enabled
                  trafficRoutingMethod: Performance
                tags: {}
                type: Microsoft.Network/trafficManagerProfiles
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: Create or update a Traffic Manager profile.
      operationId: Profiles_CreateOrUpdate
      parameters:
      - description: The name of the resource group containing the Traffic Manager
          profile.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the Traffic Manager profile.
        in: path
        name: profileName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Profile'
        description: The Traffic Manager profile parameters supplied to the CreateOrUpdate
          operation.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
          description: The created or updated Traffic Manager profile.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
          description: The created or updated Traffic Manager profile.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Default response. It will be deserialized as per the Error
            definition.
      tags:
      - Profiles
      x-ms-examples:
        Profile-PUT-NoEndpoints:
          parameters:
            api-version: 2018-04-01
            parameters:
              location: global
              properties:
                dnsConfig:
                  relativeName: azsmnet6386
                  ttl: 35
                monitorConfig:
                  path: /testpath.aspx
                  port: 80
                  protocol: HTTP
                profileStatus: Enabled
                trafficRoutingMethod: Performance
            profileName: azsmnet6386
            resourceGroupName: azuresdkfornetautoresttrafficmanager1421
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                id: "/subscriptions/{subscription-id}/resourceGroups/azuresdkfornetautoresttrafficmanager1421/providers/Microsoft.Network/trafficManagerProfiles/azsmnet6386"
                location: global
                name: azsmnet6386
                properties:
                  dnsConfig:
                    fqdn: azsmnet6386.tmpreview.watmtest.azure-test.net
                    relativeName: azsmnet6386
                    ttl: 35
                  endpoints: []
                  monitorConfig:
                    intervalInSeconds: 30
                    path: /testpath.aspx
                    port: 80
                    profileMonitorStatus: Inactive
                    protocol: HTTP
                    timeoutInSeconds: 10
                    toleratedNumberOfFailures: 3
                  profileStatus: Enabled
                  trafficRoutingMethod: Performance
                type: Microsoft.Network/trafficManagerProfiles
            "201":
              body:
                id: "/subscriptions/{subscription-id}/resourceGroups/azuresdkfornetautoresttrafficmanager1421/providers/Microsoft.Network/trafficManagerProfiles/azsmnet6386"
                location: global
                name: azsmnet6386
                properties:
                  dnsConfig:
                    fqdn: azsmnet6386.tmpreview.watmtest.azure-test.net
                    relativeName: azsmnet6386
                    ttl: 35
                  endpoints: []
                  monitorConfig:
                    intervalInSeconds: 30
                    path: /testpath.aspx
                    port: 80
                    profileMonitorStatus: Inactive
                    protocol: HTTP
                    timeoutInSeconds: 10
                    toleratedNumberOfFailures: 3
                  profileStatus: Enabled
                  trafficRoutingMethod: Performance
                type: Microsoft.Network/trafficManagerProfiles
        Profile-PUT-WithCustomHeaders:
          parameters:
            api-version: 2018-04-01
            parameters:
              location: global
              properties:
                dnsConfig:
                  relativeName: azuresdkfornetautoresttrafficmanager6192
                  ttl: 35
                endpoints:
                - name: My external endpoint
                  properties:
                    customHeaders:
                    - name: header-2
                      value: value-2-overridden
                    endpointLocation: North Europe
                    endpointStatus: Enabled
                    target: foobar.contoso.com
                  type: Microsoft.network/TrafficManagerProfiles/ExternalEndpoints
                monitorConfig:
                  customHeaders:
                  - name: header-1
                    value: value-1
                  - name: header-2
                    value: value-2
                  expectedStatusCodeRanges:
                  - max: 205
                    min: 200
                  - max: 410
                    min: 400
                  intervalInSeconds: 10
                  path: /testpath.aspx
                  port: 80
                  protocol: HTTP
                  timeoutInSeconds: 5
                  toleratedNumberOfFailures: 2
                profileStatus: Enabled
                trafficRoutingMethod: Performance
                trafficViewEnrollmentStatus: Disabled
            profileName: azuresdkfornetautoresttrafficmanager6192
            resourceGroupName: azuresdkfornetautoresttrafficmanager2583
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                id: "/subscriptions/{subscription-id}/resourceGroups/azuresdkfornetautoresttrafficmanager2583/providers/Microsoft.Network/trafficManagerProfiles/azuresdkfornetautoresttrafficmanager6192"
                location: global
                name: azuresdkfornetautoresttrafficmanager6192
                properties:
                  dnsConfig:
                    fqdn: azuresdkfornetautoresttrafficmanager6192.tmpreview.watmtest.azure-test.net
                    relativeName: azuresdkfornetautoresttrafficmanager6192
                    ttl: 35
                  endpoints:
                  - id: "/subscriptions/{subscription-id}/resourceGroups/azuresdkfornetautoresttrafficmanager2583/providers/Microsoft.Network/trafficManagerProfiles/azuresdkfornetautoresttrafficmanager6192/externalEndpoints/My\
                      \ external endpoint"
                    name: My external endpoint
                    properties:
                      customHeaders:
                      - name: header-2
                        value: value-2-overridden
                      endpointLocation: North Europe
                      endpointMonitorStatus: CheckingEndpoint
                      endpointStatus: Enabled
                      priority: 1
                      target: foobar.contoso.com
                      weight: 1
                    type: Microsoft.Network/trafficManagerProfiles/externalEndpoints
                  monitorConfig:
                    customHeaders:
                    - name: header-1
                      value: value-1
                    - name: header-2
                      value: value-2
                    intervalInSeconds: 10
                    path: /testpath.aspx
                    port: 80
                    profileMonitorStatus: CheckingEndpoints
                    protocol: HTTP
                    timeoutInSeconds: 5
                    toleratedNumberOfFailures: 2
                  profileStatus: Enabled
                  trafficRoutingMethod: Performance
                  trafficViewEnrollmentStatus: Disabled
                type: Microsoft.Network/trafficManagerProfiles
            "201":
              body:
                id: "/subscriptions/{subscription-id}/resourceGroups/azuresdkfornetautoresttrafficmanager2583/providers/Microsoft.Network/trafficManagerProfiles/azuresdkfornetautoresttrafficmanager6192"
                location: global
                name: azuresdkfornetautoresttrafficmanager6192
                properties:
                  dnsConfig:
                    fqdn: azuresdkfornetautoresttrafficmanager6192.tmpreview.watmtest.azure-test.net
                    relativeName: azuresdkfornetautoresttrafficmanager6192
                    ttl: 35
                  endpoints:
                  - id: "/subscriptions/{subscription-id}/resourceGroups/azuresdkfornetautoresttrafficmanager2583/providers/Microsoft.Network/trafficManagerProfiles/azuresdkfornetautoresttrafficmanager6192/externalEndpoints/My\
                      \ external endpoint"
                    name: My external endpoint
                    properties:
                      customHeaders:
                      - name: header-2
                        value: value-2-overridden
                      endpointLocation: North Europe
                      endpointMonitorStatus: CheckingEndpoint
                      endpointStatus: Enabled
                      priority: 1
                      target: foobar.contoso.com
                      weight: 1
                    type: Microsoft.Network/trafficManagerProfiles/externalEndpoints
                  monitorConfig:
                    customHeaders:
                    - name: header-1
                      value: value-1
                    - name: header-2
                      value: value-2
                    intervalInSeconds: 10
                    path: /testpath.aspx
                    port: 80
                    profileMonitorStatus: CheckingEndpoints
                    protocol: HTTP
                    timeoutInSeconds: 5
                    toleratedNumberOfFailures: 2
                  profileStatus: Enabled
                  trafficRoutingMethod: Performance
                  trafficViewEnrollmentStatus: Disabled
                type: Microsoft.Network/trafficManagerProfiles
        Profile-PUT-WithEndpoints:
          parameters:
            api-version: 2018-04-01
            parameters:
              location: global
              properties:
                dnsConfig:
                  relativeName: azuresdkfornetautoresttrafficmanager6192
                  ttl: 35
                endpoints:
                - name: My external endpoint
                  properties:
                    endpointLocation: North Europe
                    endpointStatus: Enabled
                    target: foobar.contoso.com
                  type: Microsoft.network/TrafficManagerProfiles/ExternalEndpoints
                monitorConfig:
                  intervalInSeconds: 10
                  path: /testpath.aspx
                  port: 80
                  protocol: HTTP
                  timeoutInSeconds: 5
                  toleratedNumberOfFailures: 2
                profileStatus: Enabled
                trafficRoutingMethod: Performance
            profileName: azuresdkfornetautoresttrafficmanager6192
            resourceGroupName: azuresdkfornetautoresttrafficmanager2583
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                id: "/subscriptions/{subscription-id}/resourceGroups/azuresdkfornetautoresttrafficmanager2583/providers/Microsoft.Network/trafficManagerProfiles/azuresdkfornetautoresttrafficmanager6192"
                location: global
                name: azuresdkfornetautoresttrafficmanager6192
                properties:
                  dnsConfig:
                    fqdn: azuresdkfornetautoresttrafficmanager6192.tmpreview.watmtest.azure-test.net
                    relativeName: azuresdkfornetautoresttrafficmanager6192
                    ttl: 35
                  endpoints:
                  - id: "/subscriptions/{subscription-id}/resourceGroups/azuresdkfornetautoresttrafficmanager2583/providers/Microsoft.Network/trafficManagerProfiles/azuresdkfornetautoresttrafficmanager6192/externalEndpoints/My\
                      \ external endpoint"
                    name: My external endpoint
                    properties:
                      endpointLocation: North Europe
                      endpointMonitorStatus: CheckingEndpoint
                      endpointStatus: Enabled
                      priority: 1
                      target: foobar.contoso.com
                      weight: 1
                    type: Microsoft.Network/trafficManagerProfiles/externalEndpoints
                  monitorConfig:
                    intervalInSeconds: 10
                    path: /testpath.aspx
                    port: 80
                    profileMonitorStatus: CheckingEndpoints
                    protocol: HTTP
                    timeoutInSeconds: 5
                    toleratedNumberOfFailures: 2
                  profileStatus: Enabled
                  trafficRoutingMethod: Performance
                type: Microsoft.Network/trafficManagerProfiles
            "201":
              body:
                id: "/subscriptions/{subscription-id}/resourceGroups/azuresdkfornetautoresttrafficmanager2583/providers/Microsoft.Network/trafficManagerProfiles/azuresdkfornetautoresttrafficmanager6192"
                location: global
                name: azuresdkfornetautoresttrafficmanager6192
                properties:
                  dnsConfig:
                    fqdn: azuresdkfornetautoresttrafficmanager6192.tmpreview.watmtest.azure-test.net
                    relativeName: azuresdkfornetautoresttrafficmanager6192
                    ttl: 35
                  endpoints:
                  - id: "/subscriptions/{subscription-id}/resourceGroups/azuresdkfornetautoresttrafficmanager2583/providers/Microsoft.Network/trafficManagerProfiles/azuresdkfornetautoresttrafficmanager6192/externalEndpoints/My\
                      \ external endpoint"
                    name: My external endpoint
                    properties:
                      endpointLocation: North Europe
                      endpointMonitorStatus: CheckingEndpoint
                      endpointStatus: Enabled
                      priority: 1
                      target: foobar.contoso.com
                      weight: 1
                    type: Microsoft.Network/trafficManagerProfiles/externalEndpoints
                  monitorConfig:
                    intervalInSeconds: 10
                    path: /testpath.aspx
                    port: 80
                    profileMonitorStatus: CheckingEndpoints
                    protocol: HTTP
                    timeoutInSeconds: 5
                    toleratedNumberOfFailures: 2
                  profileStatus: Enabled
                  trafficRoutingMethod: Performance
                type: Microsoft.Network/trafficManagerProfiles
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/trafficmanagerprofiles/{profileName}/heatMaps/{heatMapType}
  : get:
      description: Gets latest heatmap for Traffic Manager profile.
      operationId: HeatMap_Get
      parameters:
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group containing the Traffic Manager
          endpoint.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the Traffic Manager profile.
        in: path
        name: profileName
        required: true
        schema:
          type: string
      - description: The type of HeatMap for the Traffic Manager profile.
        in: path
        name: heatMapType
        required: true
        schema:
          enum:
          - default
          type: string
      - allowEmptyValue: true
        description: "The top left latitude,longitude pair of the rectangular viewport\
          \ to query for."
        explode: false
        in: query
        name: topLeft
        schema:
          items:
            format: double
            type: number
          maxItems: 2
          minItems: 2
          type: array
        style: form
      - allowEmptyValue: true
        description: "The bottom right latitude,longitude pair of the rectangular\
          \ viewport to query for."
        explode: false
        in: query
        name: botRight
        schema:
          items:
            format: double
            type: number
          maxItems: 2
          minItems: 2
          type: array
        style: form
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HeatMapModel'
          description: The Traffic Manager heatmap.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Default response. It will be deserialized as per the Error
            definition.
      tags:
      - HeatMaps
      x-ms-examples:
        HeatMap-GET:
          parameters:
            api-version: 2018-04-01
            heatMapType: default
            profileName: azuresdkfornetautoresttrafficmanager3880
            resourceGroupName: azuresdkfornetautoresttrafficmanager1323
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                id: "/subscriptions/{subscription-id}/resourceGroups/azuresdkfornetautoresttrafficmanager1323/providers/Microsoft.Network/trafficManagerProfiles/azuresdkfornetautoresttrafficmanager3880/heatMaps/latencyVolumeByLocation"
                name: default
                properties:
                  endTime: 2017-08-22T12:50:00Z
                  endpoints:
                  - endpointId: 1
                    resourceId: "/subscriptions/{subscription-id}/resourceGroups/azuresdkfornetautoresttrafficmanager1323/providers/Microsoft.Network/trafficManagerProfiles/azuresdkfornetautoresttrafficmanager3880/externalEndpoints/azuresdkfornetautoresttrafficmanager3880"
                  - endpointId: 2
                    resourceId: /subscriptions/562d4115-c01e-4m67-9bbd-c11c2d58ad73/resourceGroups/azuresdkfornetautoresttrafficmanager1300/providers/Microsoft.Network/trafficManagerProfiles/azuresdkfornetautoresttrafficmanager3885/externalEndpoints/azuresdkfornetautoresttrafficmanager3881
                  startTime: 2017-08-15T12:00:00Z
                  trafficFlows:
                  - latitude: 99.99
                    longitude: 0
                    queryExperiences:
                    - endpointId: 1
                      latency: 99.222
                      queryCount: 1000000
                    - endpointId: 2
                      latency: 1.222
                      queryCount: 1
                    sourceIp: 1.1.1.1
                  - latitude: -99.99
                    longitude: 1
                    queryExperiences:
                    - endpointId: 1
                      latency: 96.222
                      queryCount: 100
                    - endpointId: 2
                      latency: 4.222
                      queryCount: 500
                    sourceIp: 2.255.1.1
                type: Microsoft.Network/trafficManagerProfiles/heatMaps/latencyVolumeByLocation
        HeatMap-GET-With-Null-Values:
          parameters:
            api-version: 2018-04-01
            heatMapType: default
            profileName: azuresdkfornetautoresttrafficmanager3880
            resourceGroupName: azuresdkfornetautoresttrafficmanager1323
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                id: "/subscriptions/{subscription-id}/resourceGroups/azuresdkfornetautoresttrafficmanager1323/providers/Microsoft.Network/trafficManagerProfiles/azuresdkfornetautoresttrafficmanager3880/heatMaps/default"
                name: default
                properties:
                  endTime: 2017-08-22T12:50:00Z
                  endpoints:
                  - endpointId: 0
                    resourceId: "/subscriptions/{subscription-id}/resourceGroups/azuresdkfornetautoresttrafficmanager1323/providers/Microsoft.Network/trafficManagerProfiles/azuresdkfornetautoresttrafficmanager3880/externalEndpoints/azuresdkfornetautoresttrafficmanager3880"
                  - endpointId: 1
                    resourceId: /subscriptions/562d4115-c01e-4m67-9bbd-c11c2d58ad73/resourceGroups/azuresdkfornetautoresttrafficmanager1300/providers/Microsoft.Network/trafficManagerProfiles/azuresdkfornetautoresttrafficmanager3885/externalEndpoints/azuresdkfornetautoresttrafficmanager3881
                  startTime: 2017-08-15T12:00:00Z
                  trafficFlows:
                  - latitude: 99.99
                    longitude: 0
                    queryExperiences:
                    - endpointId: 0
                      latency: 99
                      queryCount: 1000000
                    - endpointId: 1
                      latency: 1
                      queryCount: 1
                    sourceIp: 1.1.1.1
                  - latitude: 1.11
                    longitude: -2.35
                    queryExperiences:
                    - endpointId: 0
                      queryCount: 100
                    - endpointId: 1
                      latency: 4.222
                      queryCount: 500
                    sourceIp: 2.255.1.1
                type: Microsoft.Network/trafficManagerProfiles/heatMaps/default
        HeatMap-GET-With-TopLeft-BotRight:
          parameters:
            api-version: 2018-04-01
            botRight:
            - -50.001
            - 80
            heatMapType: default
            profileName: azuresdkfornetautoresttrafficmanager3880
            resourceGroupName: azuresdkfornetautoresttrafficmanager1323
            subscriptionId: "{subscription-id}"
            topLeft:
            - 10
            - 50.001
          responses:
            "200":
              body:
                id: "/subscriptions/{subscription-id}/resourceGroups/azuresdkfornetautoresttrafficmanager1323/providers/Microsoft.Network/trafficManagerProfiles/azuresdkfornetautoresttrafficmanager3880/heatMaps/latencyVolumeByLocation"
                name: default
                properties:
                  endTime: 2017-08-22T12:50:00Z
                  endpoints:
                  - endpointId: 1
                    resourceId: "/subscriptions/{subscription-id}/resourceGroups/azuresdkfornetautoresttrafficmanager1323/providers/Microsoft.Network/trafficManagerProfiles/azuresdkfornetautoresttrafficmanager3880/externalEndpoints/azuresdkfornetautoresttrafficmanager3880"
                  - endpointId: 2
                    resourceId: /subscriptions/562d4115-c01e-4m67-9bbd-c11c2d58ad73/resourceGroups/azuresdkfornetautoresttrafficmanager1300/providers/Microsoft.Network/trafficManagerProfiles/azuresdkfornetautoresttrafficmanager3885/externalEndpoints/azuresdkfornetautoresttrafficmanager3881
                  startTime: 2017-08-15T12:00:00Z
                  trafficFlows:
                  - latitude: 9.99
                    longitude: 75.01
                    queryExperiences:
                    - endpointId: 1
                      latency: 99.222
                      queryCount: 1000000
                    - endpointId: 2
                      latency: 1.222
                      queryCount: 1
                    sourceIp: 1.1.1.1
                  - latitude: -49.99
                    longitude: 51
                    queryExperiences:
                    - endpointId: 1
                      latency: 96.222
                      queryCount: 100
                    - endpointId: 2
                      latency: 4.222
                      queryCount: 500
                    sourceIp: 2.255.1.1
                type: Microsoft.Network/trafficManagerProfiles/heatMaps/latencyVolumeByLocation
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/trafficmanagerprofiles/{profileName}/{endpointType}/{endpointName}
  : delete:
      description: Deletes a Traffic Manager endpoint.
      operationId: Endpoints_Delete
      parameters:
      - description: The name of the resource group containing the Traffic Manager
          endpoint to be deleted.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the Traffic Manager profile.
        in: path
        name: profileName
        required: true
        schema:
          type: string
      - description: The type of the Traffic Manager endpoint to be deleted.
        in: path
        name: endpointType
        required: true
        schema:
          type: string
      - description: The name of the Traffic Manager endpoint to be deleted.
        in: path
        name: endpointName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteOperationResult'
          description: The Traffic Manager Endpoint was deleted successfully.
        "204":
          content: {}
          description: The Traffic Manager Endpoint does not exist. It could have
            been deleted on a previous request.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Default response. It will be deserialized as per the Error
            definition.
      tags:
      - Endpoints
      x-ms-examples:
        Endpoint-DELETE-External:
          parameters:
            api-version: 2018-04-01
            endpointName: azsmnet7187
            endpointType: ExternalEndpoints
            profileName: azsmnet6386
            resourceGroupName: azuresdkfornetautoresttrafficmanager1421
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body: ""
            "204":
              body: ""
      x-accepts:
      - application/json
    get:
      description: Gets a Traffic Manager endpoint.
      operationId: Endpoints_Get
      parameters:
      - description: The name of the resource group containing the Traffic Manager
          endpoint.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the Traffic Manager profile.
        in: path
        name: profileName
        required: true
        schema:
          type: string
      - description: The type of the Traffic Manager endpoint.
        in: path
        name: endpointType
        required: true
        schema:
          type: string
      - description: The name of the Traffic Manager endpoint.
        in: path
        name: endpointName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Endpoint'
          description: The Traffic Manager endpoint.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Default response. It will be deserialized as per the Error
            definition.
      tags:
      - Endpoints
      x-ms-examples:
        Endpoint-GET-External-WithGeoMapping:
          parameters:
            api-version: 2018-04-01
            endpointName: My%20external%20endpoint
            endpointType: ExternalEndpoints
            profileName: azuresdkfornetautoresttrafficmanager8224
            resourceGroupName: azuresdkfornetautoresttrafficmanager2191
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                id: "/subscriptions/{subscription-id}/resourceGroups/azuresdkfornetautoresttrafficmanager2191/providers/Microsoft.Network/trafficManagerProfiles/azuresdkfornetautoresttrafficmanager8224/externalEndpoints/My\
                  \ external endpoint"
                name: My external endpoint
                properties:
                  endpointMonitorStatus: CheckingEndpoint
                  endpointStatus: Enabled
                  geoMapping:
                  - GEO-AS
                  - GEO-AF
                  priority: 1
                  target: foobar.contoso.com
                  weight: 1
                type: Microsoft.Network/trafficManagerProfiles/externalEndpoints
        Endpoint-GET-External-WithLocation:
          parameters:
            api-version: 2018-04-01
            endpointName: azsmnet7187
            endpointType: ExternalEndpoints
            profileName: azsmnet6386
            resourceGroupName: azuresdkfornetautoresttrafficmanager1421
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                id: "/subscriptions/{subscription-id}/resourceGroups/azuresdkfornetautoresttrafficmanager1421/providers/Microsoft.Network/trafficManagerProfiles/azsmnet6386/externalEndpoints/azsmnet7187"
                name: azsmnet7187
                properties:
                  endpointLocation: North Europe
                  endpointMonitorStatus: CheckingEndpoint
                  endpointStatus: Enabled
                  priority: 1
                  target: foobar.contoso.com
                  weight: 1
                type: Microsoft.Network/trafficManagerProfiles/externalEndpoints
        Endpoint-GET-External-WithSubnetMapping:
          parameters:
            api-version: 2018-04-01
            endpointName: My%20external%20endpoint
            endpointType: ExternalEndpoints
            profileName: azuresdkfornetautoresttrafficmanager8224
            resourceGroupName: azuresdkfornetautoresttrafficmanager2191
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                id: "/subscriptions/{subscription-id}/resourceGroups/azuresdkfornetautoresttrafficmanager2191/providers/Microsoft.Network/trafficManagerProfiles/azuresdkfornetautoresttrafficmanager8224/externalEndpoints/My\
                  \ external endpoint"
                name: My external endpoint
                properties:
                  endpointMonitorStatus: CheckingEndpoint
                  endpointStatus: Enabled
                  priority: 1
                  subnets:
                  - first: 1.2.3.0
                    scope: 24
                  - first: 25.26.27.28
                    last: 29.30.31.32
                  target: foobar.contoso.com
                  weight: 1
                type: Microsoft.Network/trafficManagerProfiles/externalEndpoints
      x-accepts:
      - application/json
    patch:
      description: Update a Traffic Manager endpoint.
      operationId: Endpoints_Update
      parameters:
      - description: The name of the resource group containing the Traffic Manager
          endpoint to be updated.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the Traffic Manager profile.
        in: path
        name: profileName
        required: true
        schema:
          type: string
      - description: The type of the Traffic Manager endpoint to be updated.
        in: path
        name: endpointType
        required: true
        schema:
          type: string
      - description: The name of the Traffic Manager endpoint to be updated.
        in: path
        name: endpointName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Endpoint'
        description: The Traffic Manager endpoint parameters supplied to the Update
          operation.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Endpoint'
          description: The updated Traffic Manager endpoint.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Default response. It will be deserialized as per the Error
            definition.
      tags:
      - Endpoints
      x-ms-examples:
        Endpoint-PATCH-External-Target:
          parameters:
            api-version: 2018-04-01
            endpointName: azsmnet7187
            endpointType: ExternalEndpoints
            parameters:
              id: "/subscriptions/{subscription-id}/resourceGroups/azuresdkfornetautoresttrafficmanager1421/providers/Microsoft.Network/trafficManagerProfiles/azsmnet6386/externalEndpoints/azsmnet7187"
              name: azsmnet7187
              properties:
                target: another.foobar.contoso.com
              type: Microsoft.Network/trafficManagerProfiles/externalEndpoints
            profileName: azsmnet6386
            resourceGroupName: azuresdkfornetautoresttrafficmanager1421
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                id: "/subscriptions/{subscription-id}/resourceGroups/azuresdkfornetautoresttrafficmanager1421/providers/Microsoft.Network/trafficManagerProfiles/azsmnet6386/externalEndpoints/azsmnet7187"
                name: azsmnet7187
                properties:
                  endpointLocation: North Europe
                  endpointMonitorStatus: CheckingEndpoint
                  endpointStatus: Enabled
                  priority: 1
                  target: another.foobar.contoso.com
                  weight: 1
                type: Microsoft.Network/trafficManagerProfiles/externalEndpoints
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: Create or update a Traffic Manager endpoint.
      operationId: Endpoints_CreateOrUpdate
      parameters:
      - description: The name of the resource group containing the Traffic Manager
          endpoint to be created or updated.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the Traffic Manager profile.
        in: path
        name: profileName
        required: true
        schema:
          type: string
      - description: The type of the Traffic Manager endpoint to be created or updated.
        in: path
        name: endpointType
        required: true
        schema:
          type: string
      - description: The name of the Traffic Manager endpoint to be created or updated.
        in: path
        name: endpointName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Endpoint'
        description: The Traffic Manager endpoint parameters supplied to the CreateOrUpdate
          operation.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Endpoint'
          description: The created or updated Endpoint.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Endpoint'
          description: The created or updated Endpoint.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Default response. It will be deserialized as per the Error
            definition.
      tags:
      - Endpoints
      x-ms-examples:
        Endpoint-PUT-External-WithCustomHeaders:
          parameters:
            api-version: 2018-04-01
            endpointName: azsmnet7187
            endpointType: ExternalEndpoints
            parameters:
              name: azsmnet7187
              properties:
                customHeaders:
                - name: header-1
                  value: value-1
                - name: header-2
                  value: value-2
                endpointLocation: North Europe
                endpointStatus: Enabled
                target: foobar.contoso.com
              type: Microsoft.network/TrafficManagerProfiles/ExternalEndpoints
            profileName: azsmnet6386
            resourceGroupName: azuresdkfornetautoresttrafficmanager1421
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                id: "/subscriptions/{subscription-id}/resourceGroups/azuresdkfornetautoresttrafficmanager1421/providers/Microsoft.Network/trafficManagerProfiles/azsmnet6386/externalEndpoints/azsmnet7187"
                name: azsmnet7187
                properties:
                  customHeaders:
                  - name: header-1
                    value: value-1
                  - name: header-2
                    value: value-2
                  endpointLocation: North Europe
                  endpointMonitorStatus: CheckingEndpoint
                  endpointStatus: Enabled
                  priority: 1
                  target: foobar.contoso.com
                  weight: 1
                type: Microsoft.Network/trafficManagerProfiles/externalEndpoints
            "201":
              body:
                id: "/subscriptions/{subscription-id}/resourceGroups/azuresdkfornetautoresttrafficmanager1421/providers/Microsoft.Network/trafficManagerProfiles/azsmnet6386/externalEndpoints/azsmnet7187"
                name: azsmnet7187
                properties:
                  customHeaders:
                  - name: header-1
                    value: value-1
                  - name: header-2
                    value: value-2
                  endpointLocation: North Europe
                  endpointMonitorStatus: CheckingEndpoint
                  endpointStatus: Enabled
                  priority: 1
                  target: foobar.contoso.com
                  weight: 1
                type: Microsoft.Network/trafficManagerProfiles/externalEndpoints
        Endpoint-PUT-External-WithGeoMapping:
          parameters:
            api-version: 2018-04-01
            endpointName: My%20external%20endpoint
            endpointType: ExternalEndpoints
            parameters:
              name: My external endpoint
              properties:
                endpointStatus: Enabled
                geoMapping:
                - GEO-AS
                - GEO-AF
                target: foobar.contoso.com
              type: Microsoft.network/TrafficManagerProfiles/ExternalEndpoints
            profileName: azuresdkfornetautoresttrafficmanager8224
            resourceGroupName: azuresdkfornetautoresttrafficmanager2191
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                id: "/subscriptions/{subscription-id}/resourceGroups/azuresdkfornetautoresttrafficmanager2191/providers/Microsoft.Network/trafficManagerProfiles/azuresdkfornetautoresttrafficmanager8224/externalEndpoints/My\
                  \ external endpoint"
                name: My external endpoint
                properties:
                  endpointMonitorStatus: CheckingEndpoint
                  endpointStatus: Enabled
                  geoMapping:
                  - GEO-AS
                  - GEO-AF
                  priority: 1
                  target: foobar.contoso.com
                  weight: 1
                type: Microsoft.Network/trafficManagerProfiles/externalEndpoints
            "201":
              body:
                id: "/subscriptions/{subscription-id}/resourceGroups/azuresdkfornetautoresttrafficmanager2191/providers/Microsoft.Network/trafficManagerProfiles/azuresdkfornetautoresttrafficmanager8224/externalEndpoints/My\
                  \ external endpoint"
                name: My external endpoint
                properties:
                  endpointMonitorStatus: CheckingEndpoint
                  endpointStatus: Enabled
                  geoMapping:
                  - GEO-AS
                  - GEO-AF
                  priority: 1
                  target: foobar.contoso.com
                  weight: 1
                type: Microsoft.Network/trafficManagerProfiles/externalEndpoints
        Endpoint-PUT-External-WithLocation:
          parameters:
            api-version: 2018-04-01
            endpointName: azsmnet7187
            endpointType: ExternalEndpoints
            parameters:
              name: azsmnet7187
              properties:
                endpointLocation: North Europe
                endpointStatus: Enabled
                target: foobar.contoso.com
              type: Microsoft.network/TrafficManagerProfiles/ExternalEndpoints
            profileName: azsmnet6386
            resourceGroupName: azuresdkfornetautoresttrafficmanager1421
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                id: "/subscriptions/{subscription-id}/resourceGroups/azuresdkfornetautoresttrafficmanager1421/providers/Microsoft.Network/trafficManagerProfiles/azsmnet6386/externalEndpoints/azsmnet7187"
                name: azsmnet7187
                properties:
                  endpointLocation: North Europe
                  endpointMonitorStatus: CheckingEndpoint
                  endpointStatus: Enabled
                  priority: 1
                  target: foobar.contoso.com
                  weight: 1
                type: Microsoft.Network/trafficManagerProfiles/externalEndpoints
            "201":
              body:
                id: "/subscriptions/{subscription-id}/resourceGroups/azuresdkfornetautoresttrafficmanager1421/providers/Microsoft.Network/trafficManagerProfiles/azsmnet6386/externalEndpoints/azsmnet7187"
                name: azsmnet7187
                properties:
                  endpointLocation: North Europe
                  endpointMonitorStatus: CheckingEndpoint
                  endpointStatus: Enabled
                  priority: 1
                  target: foobar.contoso.com
                  weight: 1
                type: Microsoft.Network/trafficManagerProfiles/externalEndpoints
        Endpoint-PUT-External-WithSubnetMapping:
          parameters:
            api-version: 2018-04-01
            endpointName: My%20external%20endpoint
            endpointType: ExternalEndpoints
            parameters:
              name: My external endpoint
              properties:
                endpointStatus: Enabled
                subnets:
                - first: 1.2.3.0
                  scope: 24
                - first: 25.26.27.28
                  last: 29.30.31.32
                target: foobar.contoso.com
              type: Microsoft.network/TrafficManagerProfiles/ExternalEndpoints
            profileName: azuresdkfornetautoresttrafficmanager8224
            resourceGroupName: azuresdkfornetautoresttrafficmanager2191
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                id: "/subscriptions/{subscription-id}/resourceGroups/azuresdkfornetautoresttrafficmanager2191/providers/Microsoft.Network/trafficManagerProfiles/azuresdkfornetautoresttrafficmanager8224/externalEndpoints/My\
                  \ external endpoint"
                name: My external endpoint
                properties:
                  endpointMonitorStatus: CheckingEndpoint
                  endpointStatus: Enabled
                  priority: 1
                  subnets:
                  - first: 1.2.3.0
                    scope: 24
                  - first: 25.26.27.28
                    last: 29.30.31.32
                  target: foobar.contoso.com
                  weight: 1
                type: Microsoft.Network/trafficManagerProfiles/externalEndpoints
            "201":
              body:
                id: "/subscriptions/{subscription-id}/resourceGroups/azuresdkfornetautoresttrafficmanager2191/providers/Microsoft.Network/trafficManagerProfiles/azuresdkfornetautoresttrafficmanager8224/externalEndpoints/My\
                  \ external endpoint"
                name: My external endpoint
                properties:
                  endpointMonitorStatus: CheckingEndpoint
                  endpointStatus: Enabled
                  priority: 1
                  subnets:
                  - first: 1.2.3.0
                    scope: 24
                  - first: 25.26.27.28
                    last: 29.30.31.32
                  target: foobar.contoso.com
                  weight: 1
                type: Microsoft.Network/trafficManagerProfiles/externalEndpoints
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
components:
  parameters:
    ApiVersionParameter:
      description: Client Api Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    SubscriptionIdParameter:
      description: Gets subscription credentials which uniquely identify Microsoft
        Azure subscription. The subscription ID forms part of the URI for every service
        call.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    CheckTrafficManagerRelativeDnsNameAvailabilityParameters:
      description: Parameters supplied to check Traffic Manager name operation.
      example:
        name: name
        type: type
      properties:
        name:
          description: The name of the resource.
          type: string
        type:
          description: The type of the resource.
          type: string
      type: object
    CloudError:
      description: An error returned by the Azure Resource Manager
      example:
        error:
          code: code
          details:
          - null
          - null
          message: message
          target: target
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorBody'
      type: object
      x-ms-external: true
    CloudErrorBody:
      description: The content of an error returned by the Azure Resource Manager
      example:
        code: code
        details:
        - null
        - null
        message: message
        target: target
      properties:
        code:
          description: Error code
          type: string
        details:
          description: Error details
          items:
            $ref: '#/components/schemas/CloudErrorBody'
          type: array
        message:
          description: Error message
          type: string
        target:
          description: Error target
          type: string
      type: object
      x-ms-external: true
    DeleteOperationResult:
      description: The result of the request or operation.
      example:
        boolean: true
      properties:
        boolean:
          description: The result of the operation or request.
          readOnly: true
          type: boolean
          x-ms-client-name: operationResult
      type: object
    DnsConfig:
      description: Class containing DNS settings in a Traffic Manager profile.
      example:
        relativeName: relativeName
        fqdn: fqdn
        ttl: 0
      properties:
        fqdn:
          description: The fully-qualified domain name (FQDN) of the Traffic Manager
            profile. This is formed from the concatenation of the RelativeName with
            the DNS domain used by Azure Traffic Manager.
          readOnly: true
          type: string
        relativeName:
          description: The relative DNS name provided by this Traffic Manager profile.
            This value is combined with the DNS domain name used by Azure Traffic
            Manager to form the fully-qualified domain name (FQDN) of the profile.
          type: string
        ttl:
          description: "The DNS Time-To-Live (TTL), in seconds. This informs the local\
            \ DNS resolvers and DNS clients how long to cache DNS responses provided\
            \ by this Traffic Manager profile."
          format: int64
          type: integer
      type: object
    Endpoint:
      allOf:
      - $ref: '#/components/schemas/ProxyResource'
      description: Class representing a Traffic Manager endpoint.
      example:
        properties:
          targetResourceId: targetResourceId
          endpointLocation: endpointLocation
          endpointStatus: Enabled
          minChildEndpoints: 6
          weight: 5
          subnets:
          - last: last
            scope: 5
            first: first
          - last: last
            scope: 5
            first: first
          priority: 1
          customHeaders:
          - name: name
            value: value
          - name: name
            value: value
          geoMapping:
          - geoMapping
          - geoMapping
          endpointMonitorStatus: CheckingEndpoint
          target: target
      properties:
        properties:
          $ref: '#/components/schemas/EndpointProperties'
    EndpointProperties:
      description: Class representing a Traffic Manager endpoint properties.
      example:
        targetResourceId: targetResourceId
        endpointLocation: endpointLocation
        endpointStatus: Enabled
        minChildEndpoints: 6
        weight: 5
        subnets:
        - last: last
          scope: 5
          first: first
        - last: last
          scope: 5
          first: first
        priority: 1
        customHeaders:
        - name: name
          value: value
        - name: name
          value: value
        geoMapping:
        - geoMapping
        - geoMapping
        endpointMonitorStatus: CheckingEndpoint
        target: target
      properties:
        customHeaders:
          description: List of custom headers.
          items:
            $ref: '#/components/schemas/EndpointProperties_customHeaders_inner'
          type: array
        endpointLocation:
          description: Specifies the location of the external or nested endpoints
            when using the 'Performance' traffic routing method.
          type: string
        endpointMonitorStatus:
          description: The monitoring status of the endpoint.
          enum:
          - CheckingEndpoint
          - Online
          - Degraded
          - Disabled
          - Inactive
          - Stopped
          type: string
          x-ms-enum:
            modelAsString: true
            name: EndpointMonitorStatus
        endpointStatus:
          description: "The status of the endpoint. If the endpoint is Enabled, it\
            \ is probed for endpoint health and is included in the traffic routing\
            \ method."
          enum:
          - Enabled
          - Disabled
          type: string
          x-ms-enum:
            modelAsString: true
            name: EndpointStatus
        geoMapping:
          description: The list of countries/regions mapped to this endpoint when
            using the 'Geographic' traffic routing method. Please consult Traffic
            Manager Geographic documentation for a full list of accepted values.
          items:
            type: string
          type: array
        minChildEndpoints:
          description: The minimum number of endpoints that must be available in the
            child profile in order for the parent profile to be considered available.
            Only applicable to endpoint of type 'NestedEndpoints'.
          format: int64
          type: integer
        priority:
          description: "The priority of this endpoint when using the 'Priority' traffic\
            \ routing method. Possible values are from 1 to 1000, lower values represent\
            \ higher priority. This is an optional parameter.  If specified, it must\
            \ be specified on all endpoints, and no two endpoints can share the same\
            \ priority value."
          format: int64
          type: integer
        subnets:
          description: "The list of subnets, IP addresses, and/or address ranges mapped\
            \ to this endpoint when using the 'Subnet' traffic routing method. An\
            \ empty list will match all ranges not covered by other endpoints."
          items:
            $ref: '#/components/schemas/EndpointProperties_subnets_inner'
          type: array
        target:
          description: The fully-qualified DNS name or IP address of the endpoint.
            Traffic Manager returns this value in DNS responses to direct traffic
            to this endpoint.
          type: string
        targetResourceId:
          description: The Azure Resource URI of the of the endpoint. Not applicable
            to endpoints of type 'ExternalEndpoints'.
          type: string
        weight:
          description: The weight of this endpoint when using the 'Weighted' traffic
            routing method. Possible values are from 1 to 1000.
          format: int64
          type: integer
      type: object
    GeographicHierarchyProperties:
      description: Class representing the properties of the Geographic hierarchy used
        with the Geographic traffic routing method.
      example:
        geographicHierarchy:
          code: code
          regions:
          - null
          - null
          name: name
      properties:
        geographicHierarchy:
          $ref: '#/components/schemas/Region'
      type: object
    HeatMapEndpoint:
      description: Class which is a sparse representation of a Traffic Manager endpoint.
      example:
        resourceId: resourceId
        endpointId: 0
      properties:
        endpointId:
          description: A number uniquely identifying this endpoint in query experiences.
          type: integer
        resourceId:
          description: The ARM Resource ID of this Traffic Manager endpoint.
          type: string
      type: object
    HeatMapModel:
      allOf:
      - $ref: '#/components/schemas/ProxyResource'
      description: Class representing a Traffic Manager HeatMap.
      example:
        properties:
          endpoints:
          - resourceId: resourceId
            endpointId: 0
          - resourceId: resourceId
            endpointId: 0
          trafficFlows:
          - sourceIp: sourceIp
            latitude: 6.027456183070403
            queryExperiences:
            - endpointId: 5
              latency: 5.637376656633329
              queryCount: 2
            - endpointId: 5
              latency: 5.637376656633329
              queryCount: 2
            longitude: 1.4658129805029452
          - sourceIp: sourceIp
            latitude: 6.027456183070403
            queryExperiences:
            - endpointId: 5
              latency: 5.637376656633329
              queryCount: 2
            - endpointId: 5
              latency: 5.637376656633329
              queryCount: 2
            longitude: 1.4658129805029452
          startTime: 2000-01-23T04:56:07.000+00:00
          endTime: 2000-01-23T04:56:07.000+00:00
      properties:
        properties:
          $ref: '#/components/schemas/HeatMapProperties'
    HeatMapProperties:
      description: Class representing a Traffic Manager HeatMap properties.
      example:
        endpoints:
        - resourceId: resourceId
          endpointId: 0
        - resourceId: resourceId
          endpointId: 0
        trafficFlows:
        - sourceIp: sourceIp
          latitude: 6.027456183070403
          queryExperiences:
          - endpointId: 5
            latency: 5.637376656633329
            queryCount: 2
          - endpointId: 5
            latency: 5.637376656633329
            queryCount: 2
          longitude: 1.4658129805029452
        - sourceIp: sourceIp
          latitude: 6.027456183070403
          queryExperiences:
          - endpointId: 5
            latency: 5.637376656633329
            queryCount: 2
          - endpointId: 5
            latency: 5.637376656633329
            queryCount: 2
          longitude: 1.4658129805029452
        startTime: 2000-01-23T04:56:07.000+00:00
        endTime: 2000-01-23T04:56:07.000+00:00
      properties:
        endTime:
          description: "The ending of the time window for this HeatMap, exclusive."
          format: date-time
          type: string
        endpoints:
          description: The endpoints used in this HeatMap calculation.
          items:
            $ref: '#/components/schemas/HeatMapEndpoint'
          type: array
        startTime:
          description: "The beginning of the time window for this HeatMap, inclusive."
          format: date-time
          type: string
        trafficFlows:
          description: The traffic flows produced in this HeatMap calculation.
          items:
            $ref: '#/components/schemas/TrafficFlow'
          type: array
      type: object
    MonitorConfig:
      description: Class containing endpoint monitoring settings in a Traffic Manager
        profile.
      example:
        profileMonitorStatus: CheckingEndpoints
        path: path
        protocol: HTTP
        expectedStatusCodeRanges:
        - min: 9
          max: 7
        - min: 9
          max: 7
        port: 2
        toleratedNumberOfFailures: 7
        intervalInSeconds: 3
        customHeaders:
        - name: name
          value: value
        - name: name
          value: value
        timeoutInSeconds: 4
      properties:
        customHeaders:
          description: List of custom headers.
          items:
            $ref: '#/components/schemas/EndpointProperties_customHeaders_inner'
          type: array
        expectedStatusCodeRanges:
          description: List of expected status code ranges.
          items:
            $ref: '#/components/schemas/MonitorConfig_expectedStatusCodeRanges_inner'
          type: array
        intervalInSeconds:
          description: The monitor interval for endpoints in this profile. This is
            the interval at which Traffic Manager will check the health of each endpoint
            in this profile.
          format: int64
          type: integer
        path:
          description: The path relative to the endpoint domain name used to probe
            for endpoint health.
          type: string
        port:
          description: The TCP port used to probe for endpoint health.
          format: int64
          type: integer
        profileMonitorStatus:
          description: The profile-level monitoring status of the Traffic Manager
            profile.
          enum:
          - CheckingEndpoints
          - Online
          - Degraded
          - Disabled
          - Inactive
          type: string
          x-ms-enum:
            modelAsString: true
            name: ProfileMonitorStatus
        protocol:
          description: "The protocol (HTTP, HTTPS or TCP) used to probe for endpoint\
            \ health."
          enum:
          - HTTP
          - HTTPS
          - TCP
          type: string
          x-ms-enum:
            modelAsString: true
            name: MonitorProtocol
        timeoutInSeconds:
          description: The monitor timeout for endpoints in this profile. This is
            the time that Traffic Manager allows endpoints in this profile to response
            to the health check.
          format: int64
          type: integer
        toleratedNumberOfFailures:
          description: The number of consecutive failed health check that Traffic
            Manager tolerates before declaring an endpoint in this profile Degraded
            after the next failed health check.
          format: int64
          type: integer
      type: object
    Profile:
      allOf:
      - $ref: '#/components/schemas/TrackedResource'
      description: Class representing a Traffic Manager profile.
      example:
        properties:
          maxReturn: 2
          endpoints:
          - properties:
              targetResourceId: targetResourceId
              endpointLocation: endpointLocation
              endpointStatus: Enabled
              minChildEndpoints: 6
              weight: 5
              subnets:
              - last: last
                scope: 5
                first: first
              - last: last
                scope: 5
                first: first
              priority: 1
              customHeaders:
              - name: name
                value: value
              - name: name
                value: value
              geoMapping:
              - geoMapping
              - geoMapping
              endpointMonitorStatus: CheckingEndpoint
              target: target
          - properties:
              targetResourceId: targetResourceId
              endpointLocation: endpointLocation
              endpointStatus: Enabled
              minChildEndpoints: 6
              weight: 5
              subnets:
              - last: last
                scope: 5
                first: first
              - last: last
                scope: 5
                first: first
              priority: 1
              customHeaders:
              - name: name
                value: value
              - name: name
                value: value
              geoMapping:
              - geoMapping
              - geoMapping
              endpointMonitorStatus: CheckingEndpoint
              target: target
          trafficViewEnrollmentStatus: Enabled
          dnsConfig:
            relativeName: relativeName
            fqdn: fqdn
            ttl: 0
          monitorConfig:
            profileMonitorStatus: CheckingEndpoints
            path: path
            protocol: HTTP
            expectedStatusCodeRanges:
            - min: 9
              max: 7
            - min: 9
              max: 7
            port: 2
            toleratedNumberOfFailures: 7
            intervalInSeconds: 3
            customHeaders:
            - name: name
              value: value
            - name: name
              value: value
            timeoutInSeconds: 4
          profileStatus: Enabled
          trafficRoutingMethod: Performance
      properties:
        properties:
          $ref: '#/components/schemas/ProfileProperties'
    ProfileListResult:
      description: The list Traffic Manager profiles operation response.
      example:
        value:
        - properties:
            maxReturn: 2
            endpoints:
            - properties:
                targetResourceId: targetResourceId
                endpointLocation: endpointLocation
                endpointStatus: Enabled
                minChildEndpoints: 6
                weight: 5
                subnets:
                - last: last
                  scope: 5
                  first: first
                - last: last
                  scope: 5
                  first: first
                priority: 1
                customHeaders:
                - name: name
                  value: value
                - name: name
                  value: value
                geoMapping:
                - geoMapping
                - geoMapping
                endpointMonitorStatus: CheckingEndpoint
                target: target
            - properties:
                targetResourceId: targetResourceId
                endpointLocation: endpointLocation
                endpointStatus: Enabled
                minChildEndpoints: 6
                weight: 5
                subnets:
                - last: last
                  scope: 5
                  first: first
                - last: last
                  scope: 5
                  first: first
                priority: 1
                customHeaders:
                - name: name
                  value: value
                - name: name
                  value: value
[...]
