openapi: 3.0.3
info:
  contact: {}
  title: IPQualityScore API
  version: 1.0.0
  x-logo:
    url: https://ipqualityscore.com/templates/img/icons/fav/apple-touch-icon.png
  x-origin:
  - format: postman
    url: https://raw.githubusercontent.com/IPQualityScore/IP_Quality_Score_API_Spec/Review1/postman/collections/IP%20API%20Spec%20Review%201.json
    version: 2.x
  x-providerName: ipqualityscore.com
servers:
- url: https://ipqualityscore.com/api
tags:
- name: email_validation
- name: phone_validation
- name: malicious_url_scanner
paths:
  /json/email/{YOUR_API_KEY_HERE}/{USER_EMAIL_HERE}:
    get:
      description: Email Validation
      operationId: email_validation
      parameters:
      - description: (Required) YOUR_API_KEY_HERE
        explode: false
        in: path
        name: YOUR_API_KEY_HERE
        required: true
        schema:
          example: asd24#sdfs322#
          type: string
        style: simple
      - description: (Required) USER_EMAIL_HERE
        explode: false
        in: path
        name: USER_EMAIL_HERE
        required: true
        schema:
          example: example@example.com
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful response:
                  value:
                    associated_names:
                      names:
                      - names
                      - names
                      status: Enterprise Plus or higher required.
                    associated_phone_numbers:
                      phone_numbers:
                      - phone_numbers
                      - phone_numbers
                      status: Enterprise Plus or higher required.
                    catch_all: true
                    common: false
                    deliverability: high.
                    disposable: false
                    dns_valid: true
                    domain_age:
                      human: 9 years ago
                      iso: 2013-09-10T14:18:53-04:00
                      timestamp: 1378837133
                    domain_velocity: none
                    first_name: Success.
                    first_seen:
                      human: 9 years ago
                      iso: 2013-09-10T14:18:53-04:00
                      timestamp: 1378837133
                    fraud_score: 1
                    frequent_complainer: false
                    generic: false
                    honeypot: false
                    leaked: false
                    message: Success.
                    overall_score: 2
                    recent_abuse: false
                    request_id: 8cib1Ircsadw3gB
                    sanitized_email: example@example.com
                    smtp_score: 5
                    spam_trap_score: none.
                    success: true
                    suggested_domain: N/A
                    suspect: false
                    timed_out: true
                    user_activity: Enterprise L4+ required.
                    valid: true
              schema:
                $ref: '#/components/schemas/emailValidation_200_response'
          description: Successful response
        "400":
          content:
            application/json:
              examples:
                Bad Request:
                  value:
                    message: You have insufficient credits to make this query. Please
                      contact IPQualityScore support if this error persists.
                    request_id: 4OTORR352FU0p
                    success: false
              schema:
                $ref: '#/components/schemas/emailValidation_400_response'
          description: Bad Request
        "500":
          content:
            application/json:
              examples:
                Unexpected error:
                  value:
                    message: You have insufficient credits to make this query. Please
                      contact IPQualityScore support if this error persists.
                    request_id: 4OTORR352FU0p
                    success: false
              schema:
                $ref: '#/components/schemas/emailValidation_400_response'
          description: Unexpected error
      summary: Email Validation
      tags:
      - email_validation
      x-openapi-router-controller: openapi_server.controllers.email_validation_controller
  /json/phone/{YOUR_API_KEY_HERE}/{USER_PHONE_HERE}:
    get:
      description: Phone Validation
      operationId: phone_validation
      parameters:
      - description: (Required) YOUR_API_KEY_HERE
        explode: false
        in: path
        name: YOUR_API_KEY_HERE
        required: true
        schema:
          example: asd24#sdfs322#
          type: string
        style: simple
      - description: (Required) USER_PHONE_HERE
        explode: false
        in: path
        name: USER_PHONE_HERE
        required: true
        schema:
          example: "18007132618"
          type: string
        style: simple
      - description: country
        explode: true
        in: query
        name: country
        required: false
        schema:
          example: UK
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful response:
                  value:
                    VOIP: true
                    active: true
                    active_status: N/A
                    associated_email_addresses:
                      emails:
                      - names
                      - names
                      status: No associated emails found.
                    carrier: "ONVOY, LLC"
                    city: SEATTLE
                    country: US
                    dialing_code: 1
                    do_not_call: false
                    formatted: "+3234232342"
                    fraud_score: 100
                    leaked: false
                    line_type: VOIP
                    local_format: (206) 456-3059
                    mcc: N/A
                    message: Success.
                    mnc: N/A
                    name: N/A
                    prepaid: tempor ea proident quis
                    recent_abuse: true
                    region: WA
                    request_id: 8ctDi1gwuP
                    risky: true
                    sms_domain: N/A
                    sms_email: N/A
                    spammer: false
                    success: true
                    timezone: America/Los_Angeles
                    user_activity: Enterprise L4+ required.
                    valid: true
                    zip_code: "98104"
              schema:
                $ref: '#/components/schemas/phoneValidation_200_response'
          description: Successful response
        "400":
          content:
            application/json:
              examples:
                Bad Request:
                  value:
                    message: You have insufficient credits to make this query. Please
                      contact IPQualityScore support if this error persists.
                    request_id: 4OTORR352FU0p
                    success: false
              schema:
                $ref: '#/components/schemas/emailValidation_400_response'
          description: Bad Request
        "500":
          content:
            application/json:
              examples:
                Unexpected error:
                  value:
                    message: You have insufficient credits to make this query. Please
                      contact IPQualityScore support if this error persists.
                    request_id: 4OTORR352FU0p
                    success: false
              schema:
                $ref: '#/components/schemas/emailValidation_400_response'
          description: Unexpected error
      summary: Phone Validation
      tags:
      - phone_validation
      x-openapi-router-controller: openapi_server.controllers.phone_validation_controller
  /json/url/{YOUR_API_KEY_HERE}/{URL_HERE}:
    get:
      description: Malicious URL Scanner
      operationId: malicious_url_scanner
      parameters:
      - description: (Required) YOUR_API_KEY_HERE
        explode: false
        in: path
        name: YOUR_API_KEY_HERE
        required: true
        schema:
          example: asd24#sdfs322#
          type: string
        style: simple
      - description: (Required) URL_HERE
        explode: false
        in: path
        name: URL_HERE
        required: true
        schema:
          example: https%3A%2F%2Fgoogle.com
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful response:
                  value:
                    adult: false
                    category: Search Engine
                    content_type: text/html; charset=UTF-8
                    dns_valid: true
                    domain: google.com
                    domain_age:
                      human: 3 months ago
                      iso: 2019-09-09T16:40:34-04:00
                      timestamp: 1568061634
                    domain_rank: 1
                    ip_address: 172.217.7.206
                    malware: false
                    message: Success.
                    page_size: 68553
                    parking: false
                    phishing: false
                    request_id: 4ZGSfWu9RDf3oH
                    risk_score: 0
                    server: nginx
                    spamming: false
                    status_code: 200
                    success: true
                    suspicious: false
                    unsafe: true
              schema:
                $ref: '#/components/schemas/maliciousUrlScanner_200_response'
          description: Successful response
        "400":
          content:
            application/json:
              examples:
                Bad Request:
                  value:
                    message: You have insufficient credits to make this query. Please
                      contact IPQualityScore support if this error persists.
                    request_id: 4OTORR352FU0p
                    success: false
              schema:
                $ref: '#/components/schemas/emailValidation_400_response'
          description: Bad Request
        "500":
          content:
            application/json:
              examples:
                Unexpected error:
                  value:
                    message: You have insufficient credits to make this query. Please
                      contact IPQualityScore support if this error persists.
                    request_id: 4OTORR352FU0p
                    success: false
              schema:
                $ref: '#/components/schemas/emailValidation_400_response'
          description: Unexpected error
      summary: Malicious URL Scanner
      tags:
      - malicious_url_scanner
      x-openapi-router-controller: openapi_server.controllers.malicious_url_scanner_controller
components:
  schemas:
    emailValidation_200_response_associated_names:
      example:
        names:
        - names
        - names
        status: Enterprise Plus or higher required.
      properties:
        names:
          example:
          - names
          - names
          items:
            example: names
            type: string
          title: names
          type: array
        status:
          example: Enterprise Plus or higher required.
          title: status
          type: string
      title: emailValidation_200_response_associated_names
      type: object
    emailValidation_400_response:
      example:
        success: false
        message: You have insufficient credits to make this query. Please contact
          IPQualityScore support if this error persists.
        request_id: 4OTORR352FU0p
      properties:
        message:
          example: You have insufficient credits to make this query. Please contact
            IPQualityScore support if this error persists.
          title: message
          type: string
        request_id:
          example: 4OTORR352FU0p
          title: request_id
          type: string
        success:
          example: false
          title: success
          type: boolean
      title: emailValidation_400_response
      type: object
    maliciousUrlScanner_200_response_domain_age:
      example:
        iso: 2019-09-09T16:40:34-04:00
        human: 3 months ago
        timestamp: 1568061634
      properties:
        human:
          example: 3 months ago
          title: human
          type: string
        iso:
          example: 2019-09-09T16:40:34-04:00
          title: iso
          type: string
        timestamp:
          example: 1568061634
          title: timestamp
          type: number
      title: maliciousUrlScanner_200_response_domain_age
      type: object
    emailValidation_200_response:
      example:
        deliverability: high.
        first_seen:
          iso: 2013-09-10T14:18:53-04:00
          human: 9 years ago
          timestamp: 1378837133
        domain_velocity: none
        leaked: false
        user_activity: Enterprise L4+ required.
        fraud_score: 1
        recent_abuse: false
        valid: true
        associated_phone_numbers:
          phone_numbers:
          - phone_numbers
          - phone_numbers
          status: Enterprise Plus or higher required.
        common: false
        dns_valid: true
        frequent_complainer: false
        suggested_domain: N/A
        spam_trap_score: none.
        first_name: Success.
        domain_age:
          iso: 2013-09-10T14:18:53-04:00
          human: 9 years ago
          timestamp: 1378837133
        timed_out: true
        smtp_score: 5
        suspect: false
        catch_all: true
        message: Success.
        disposable: false
        generic: false
        overall_score: 2
        honeypot: false
        associated_names:
          names:
          - names
          - names
          status: Enterprise Plus or higher required.
        success: true
        request_id: 8cib1Ircsadw3gB
        sanitized_email: example@example.com
      properties:
        associated_names:
          $ref: '#/components/schemas/emailValidation_200_response_associated_names'
        associated_phone_numbers:
          $ref: '#/components/schemas/emailValidation_200_response_associated_phone_numbers'
        catch_all:
          example: true
          title: catch_all
          type: boolean
        common:
          example: false
          title: common
          type: boolean
        deliverability:
          example: high.
          title: deliverability
          type: string
        disposable:
          example: false
          title: disposable
          type: boolean
        dns_valid:
          example: true
          title: dns_valid
          type: boolean
        domain_age:
          $ref: '#/components/schemas/emailValidation_200_response_domain_age'
        domain_velocity:
          example: none
          title: domain_velocity
          type: string
        first_name:
          example: Success.
          title: first_name
          type: string
        first_seen:
          $ref: '#/components/schemas/emailValidation_200_response_domain_age'
        fraud_score:
          example: 1
          title: fraud_score
          type: number
        frequent_complainer:
          example: false
          title: frequent_complainer
          type: boolean
        generic:
          example: false
          title: generic
          type: boolean
        honeypot:
          example: false
          title: honeypot
          type: boolean
        leaked:
          example: false
          title: leaked
          type: boolean
        message:
          example: Success.
          title: message
          type: string
        overall_score:
          example: 2
          title: overall_score
          type: number
        recent_abuse:
          example: false
          title: recent_abuse
          type: boolean
        request_id:
          example: 8cib1Ircsadw3gB
          title: request_id
          type: string
        sanitized_email:
          example: example@example.com
          title: sanitized_email
          type: string
        smtp_score:
          example: 5
          title: smtp_score
          type: number
        spam_trap_score:
          example: none.
          title: spam_trap_score
          type: string
        success:
          example: true
          title: success
          type: boolean
        suggested_domain:
          example: N/A
          title: suggested_domain
          type: string
        suspect:
          example: false
          title: suspect
          type: boolean
        timed_out:
          example: true
          title: timed_out
          type: boolean
        user_activity:
          example: Enterprise L4+ required.
          title: user_activity
          type: string
        valid:
          example: true
          title: valid
          type: boolean
      title: emailValidation_200_response
      type: object
    phoneValidation_200_response_associated_email_addresses:
      example:
        emails:
        - names
        - names
        status: No associated emails found.
      properties:
        emails:
          example:
          - names
          - names
          items:
            example: names
            type: string
          title: emails
          type: array
        status:
          example: No associated emails found.
          title: status
          type: string
      title: phoneValidation_200_response_associated_email_addresses
      type: object
    phoneValidation_200_response:
      example:
        dialing_code: 1
        country: US
        city: SEATTLE
        formatted: "+3234232342"
        sms_domain: N/A
        timezone: America/Los_Angeles
        VOIP: true
        leaked: false
        mcc: N/A
        user_activity: Enterprise L4+ required.
        fraud_score: 100
        zip_code: "98104"
        recent_abuse: true
        valid: true
        line_type: VOIP
        sms_email: N/A
        mnc: N/A
        spammer: false
        associated_email_addresses:
          emails:
          - names
          - names
          status: No associated emails found.
        active: true
        prepaid: tempor ea proident quis
        message: Success.
        carrier: "ONVOY, LLC"
        active_status: N/A
        local_format: (206) 456-3059
        success: true
        name: N/A
        region: WA
        do_not_call: false
        request_id: 8ctDi1gwuP
        risky: true
      properties:
        VOIP:
          example: true
          title: VOIP
          type: boolean
        active:
          example: true
          title: active
          type: boolean
        active_status:
          example: N/A
          title: active_status
          type: string
        associated_email_addresses:
          $ref: '#/components/schemas/phoneValidation_200_response_associated_email_addresses'
        carrier:
          example: "ONVOY, LLC"
          title: carrier
          type: string
        city:
          example: SEATTLE
          title: city
          type: string
        country:
          example: US
          title: country
          type: string
        dialing_code:
          example: 1
          title: dialing_code
          type: number
        do_not_call:
          example: false
          title: do_not_call
          type: boolean
        formatted:
          example: "+3234232342"
          title: formatted
          type: string
        fraud_score:
          example: 100
          title: fraud_score
          type: number
        leaked:
          example: false
          title: leaked
          type: boolean
        line_type:
          example: VOIP
          title: line_type
          type: string
        local_format:
          example: (206) 456-3059
          title: local_format
          type: string
        mcc:
          example: N/A
          title: mcc
          type: string
        message:
          example: Success.
          title: message
          type: string
        mnc:
          example: N/A
          title: mnc
          type: string
        name:
          example: N/A
          title: name
          type: string
        prepaid:
          example: tempor ea proident quis
          title: prepaid
          type: string
        recent_abuse:
          example: true
          title: recent_abuse
          type: boolean
        region:
          example: WA
          title: region
          type: string
        request_id:
          example: 8ctDi1gwuP
          title: request_id
          type: string
        risky:
          example: true
          title: risky
          type: boolean
        sms_domain:
          example: N/A
          title: sms_domain
          type: string
        sms_email:
          example: N/A
          title: sms_email
          type: string
        spammer:
          example: false
          title: spammer
          type: boolean
        success:
          example: true
          title: success
          type: boolean
        timezone:
          example: America/Los_Angeles
          title: timezone
          type: string
        user_activity:
          example: Enterprise L4+ required.
          title: user_activity
          type: string
        valid:
          example: true
          title: valid
          type: boolean
        zip_code:
          example: "98104"
          title: zip_code
          type: string
      title: phoneValidation_200_response
      type: object
    emailValidation_200_response_domain_age:
      example:
        iso: 2013-09-10T14:18:53-04:00
        human: 9 years ago
        timestamp: 1378837133
      properties:
        human:
          example: 9 years ago
          title: human
          type: string
        iso:
          example: 2013-09-10T14:18:53-04:00
          title: iso
          type: string
        timestamp:
          example: 1378837133
          title: timestamp
          type: number
      title: emailValidation_200_response_domain_age
      type: object
    emailValidation_200_response_associated_phone_numbers:
      example:
        phone_numbers:
        - phone_numbers
        - phone_numbers
        status: Enterprise Plus or higher required.
      properties:
        phone_numbers:
          example:
          - phone_numbers
          - phone_numbers
          items:
            example: phone_numbers
            type: string
          title: phone_numbers
          type: array
        status:
          example: Enterprise Plus or higher required.
          title: status
          type: string
      title: emailValidation_200_response_associated_phone_numbers
      type: object
    maliciousUrlScanner_200_response:
      example:
        parking: false
        phishing: false
        server: nginx
        malware: false
        status_code: 200
        domain_age:
          iso: 2019-09-09T16:40:34-04:00
          human: 3 months ago
          timestamp: 1568061634
        spamming: false
        risk_score: 0
        ip_address: 172.217.7.206
        suspicious: false
        message: Success.
        unsafe: true
        domain_rank: 1
        content_type: text/html; charset=UTF-8
        dns_valid: true
        success: true
        domain: google.com
        adult: false
        category: Search Engine
        request_id: 4ZGSfWu9RDf3oH
        page_size: 68553
      properties:
        adult:
          example: false
          title: adult
          type: boolean
        category:
          example: Search Engine
          title: category
          type: string
        content_type:
          example: text/html; charset=UTF-8
          title: content_type
          type: string
        dns_valid:
          example: true
          title: dns_valid
          type: boolean
        domain:
          example: google.com
          title: domain
          type: string
        domain_age:
          $ref: '#/components/schemas/maliciousUrlScanner_200_response_domain_age'
        domain_rank:
          example: 1
          title: domain_rank
          type: number
        ip_address:
          example: 172.217.7.206
          title: ip_address
          type: string
        malware:
          example: false
          title: malware
          type: boolean
        message:
          example: Success.
          title: message
          type: string
        page_size:
          example: 68553
          title: page_size
          type: number
        parking:
          example: false
          title: parking
          type: boolean
        phishing:
          example: false
          title: phishing
          type: boolean
        request_id:
          example: 4ZGSfWu9RDf3oH
          title: request_id
          type: string
        risk_score:
          example: 0
          title: risk_score
          type: number
        server:
          example: nginx
          title: server
          type: string
        spamming:
          example: false
          title: spamming
          type: boolean
        status_code:
          example: 200
          title: status_code
          type: number
        success:
          example: true
          title: success
          type: boolean
        suspicious:
          example: false
          title: suspicious
          type: boolean
        unsafe:
          example: true
          title: unsafe
          type: boolean
      title: maliciousUrlScanner_200_response
      type: object
