openapi: 3.0.1
info:
  title: ComputeManagementConvenienceClient
  version: 2015-11-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/compute/quickstart-templates/swagger.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: compute-swagger
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Resources/deployments/{deploymentName}:
    put:
      description: Create a named template deployment using a template.
      operationId: virtual_machines_quick_create
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          pattern: "^[-\\w\\._]+$"
          type: string
      - description: The name of the deployment.
        in: path
        name: deploymentName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Deployment'
        description: Additional parameters supplied to the operation.
        required: false
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentExtended'
          description: ""
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentExtended'
          description: ""
      tags:
      - Deployments
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.deployments_controller
components:
  parameters:
    ApiVersionParameter:
      description: Client Api Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    SubscriptionIdParameter:
      description: Gets subscription credentials which uniquely identify Microsoft
        Azure subscription. The subscription ID forms part of the URI for every service
        call.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    BasicDependency:
      description: Deployment dependency information.
      example:
        resourceName: resourceName
        id: id
        resourceType: resourceType
      properties:
        id:
          description: Gets or sets the ID of the dependency.
          title: id
          type: string
        resourceName:
          description: Gets or sets the dependency resource name.
          title: resourceName
          type: string
        resourceType:
          description: Gets or sets the dependency resource type.
          title: resourceType
          type: string
      title: BasicDependency
      type: object
    Dependency:
      description: Deployment dependency information.
      example:
        dependsOn:
        - resourceName: resourceName
          id: id
          resourceType: resourceType
        - resourceName: resourceName
          id: id
          resourceType: resourceType
        resourceName: resourceName
        id: id
        resourceType: resourceType
      properties:
        dependsOn:
          description: Gets the list of dependencies.
          items:
            $ref: '#/components/schemas/BasicDependency'
          title: dependsOn
          type: array
        id:
          description: Gets or sets the ID of the dependency.
          title: id
          type: string
        resourceName:
          description: Gets or sets the dependency resource name.
          title: resourceName
          type: string
        resourceType:
          description: Gets or sets the dependency resource type.
          title: resourceType
          type: string
      title: Dependency
      type: object
    Deployment:
      description: Deployment operation parameters.
      example:
        properties:
          mode: Incremental
          templateLink:
            uri: https://raw.githubusercontent.com/stankovski/azure-rest-api-specs/master/arm-compute/quickstart-templates/vm-simple-linux.json
          parameters:
            adminUsername:
              value: value
            dnsLabelPrefix:
              value: value
            osVersion:
              value: 14.04.2-LTS
            adminPassword:
              value: value
      properties:
        properties:
          $ref: '#/components/schemas/DeploymentProperties'
      title: Deployment
      type: object
    DeploymentExtended:
      description: Deployment information.
      example:
        name: name
        id: id
        properties:
          mode: Incremental
          outputs: "{}"
          parametersLink:
            contentVersion: contentVersion
            uri: uri
          template: "{}"
          templateLink:
            uri: https://raw.githubusercontent.com/stankovski/azure-rest-api-specs/master/arm-compute/quickstart-templates/vm-simple-linux.json
          correlationId: correlationId
          provisioningState: provisioningState
          parameters: "{}"
          providers:
          - resourceTypes:
            - apiVersions:
              - apiVersions
              - apiVersions
              locations:
              - locations
              - locations
              properties:
                key: properties
              resourceType: resourceType
            - apiVersions:
              - apiVersions
              - apiVersions
              locations:
              - locations
              - locations
              properties:
                key: properties
              resourceType: resourceType
            namespace: namespace
            id: id
            registrationState: registrationState
          - resourceTypes:
            - apiVersions:
              - apiVersions
              - apiVersions
              locations:
              - locations
              - locations
              properties:
                key: properties
              resourceType: resourceType
            - apiVersions:
              - apiVersions
              - apiVersions
              locations:
              - locations
              - locations
              properties:
                key: properties
              resourceType: resourceType
            namespace: namespace
            id: id
            registrationState: registrationState
          dependencies:
          - dependsOn:
            - resourceName: resourceName
              id: id
              resourceType: resourceType
            - resourceName: resourceName
              id: id
              resourceType: resourceType
            resourceName: resourceName
            id: id
            resourceType: resourceType
          - dependsOn:
            - resourceName: resourceName
              id: id
              resourceType: resourceType
            - resourceName: resourceName
              id: id
              resourceType: resourceType
            resourceName: resourceName
            id: id
            resourceType: resourceType
          timestamp: 2000-01-23T04:56:07.000+00:00
      properties:
        id:
          description: Gets or sets the ID of the deployment.
          title: id
          type: string
        name:
          description: Gets or sets the name of the deployment.
          title: name
          type: string
        properties:
          $ref: '#/components/schemas/DeploymentPropertiesExtended'
      required:
      - name
      title: DeploymentExtended
      type: object
    DeploymentParameters:
      example:
        adminUsername:
          value: value
        dnsLabelPrefix:
          value: value
        osVersion:
          value: 14.04.2-LTS
        adminPassword:
          value: value
      properties:
        adminPassword:
          $ref: '#/components/schemas/DeploymentParameters_adminPassword'
        adminUsername:
          $ref: '#/components/schemas/DeploymentParameters_adminUsername'
        dnsLabelPrefix:
          $ref: '#/components/schemas/DeploymentParameters_dnsLabelPrefix'
        osVersion:
          $ref: '#/components/schemas/DeploymentParameters_osVersion'
      title: DeploymentParameters
      type: object
    DeploymentProperties:
      description: Deployment properties.
      example:
        mode: Incremental
        templateLink:
          uri: https://raw.githubusercontent.com/stankovski/azure-rest-api-specs/master/arm-compute/quickstart-templates/vm-simple-linux.json
        parameters:
          adminUsername:
            value: value
          dnsLabelPrefix:
            value: value
          osVersion:
            value: 14.04.2-LTS
          adminPassword:
            value: value
      properties:
        mode:
          description: Gets or sets the deployment mode.
          enum:
          - Incremental
          title: mode
          type: string
        parameters:
          $ref: '#/components/schemas/DeploymentParameters'
        templateLink:
          $ref: '#/components/schemas/TemplateLink'
      required:
      - mode
      - templateLink
      title: DeploymentProperties
      type: object
    DeploymentPropertiesExtended:
      description: Deployment properties with additional details.
      example:
        mode: Incremental
        outputs: "{}"
        parametersLink:
          contentVersion: contentVersion
          uri: uri
        template: "{}"
        templateLink:
          uri: https://raw.githubusercontent.com/stankovski/azure-rest-api-specs/master/arm-compute/quickstart-templates/vm-simple-linux.json
        correlationId: correlationId
        provisioningState: provisioningState
        parameters: "{}"
        providers:
        - resourceTypes:
          - apiVersions:
            - apiVersions
            - apiVersions
            locations:
            - locations
            - locations
            properties:
              key: properties
            resourceType: resourceType
          - apiVersions:
            - apiVersions
            - apiVersions
            locations:
            - locations
            - locations
            properties:
              key: properties
            resourceType: resourceType
          namespace: namespace
          id: id
          registrationState: registrationState
        - resourceTypes:
          - apiVersions:
            - apiVersions
            - apiVersions
            locations:
            - locations
            - locations
            properties:
              key: properties
            resourceType: resourceType
          - apiVersions:
            - apiVersions
            - apiVersions
            locations:
            - locations
            - locations
            properties:
              key: properties
            resourceType: resourceType
          namespace: namespace
          id: id
          registrationState: registrationState
        dependencies:
        - dependsOn:
          - resourceName: resourceName
            id: id
            resourceType: resourceType
          - resourceName: resourceName
            id: id
            resourceType: resourceType
          resourceName: resourceName
          id: id
          resourceType: resourceType
        - dependsOn:
          - resourceName: resourceName
            id: id
            resourceType: resourceType
          - resourceName: resourceName
            id: id
            resourceType: resourceType
          resourceName: resourceName
          id: id
          resourceType: resourceType
        timestamp: 2000-01-23T04:56:07.000+00:00
      properties:
        correlationId:
          description: Gets or sets the correlation ID of the deployment.
          title: correlationId
          type: string
        dependencies:
          description: Gets the list of deployment dependencies.
          items:
            $ref: '#/components/schemas/Dependency'
          title: dependencies
          type: array
        mode:
          description: Gets or sets the deployment mode.
          enum:
          - Incremental
          - Complete
          title: mode
          type: string
          x-ms-enum:
            modelAsString: false
            name: DeploymentMode
        outputs:
          description: Gets or sets key/value pairs that represent deployment output.
          properties: {}
          title: outputs
          type: object
        parameters:
          description: Deployment parameters. Use only one of Parameters or ParametersLink.
          properties: {}
          title: parameters
          type: object
        parametersLink:
          $ref: '#/components/schemas/ParametersLink'
        providers:
          description: Gets the list of resource providers needed for the deployment.
          items:
            $ref: '#/components/schemas/Provider'
          title: providers
          type: array
        provisioningState:
          description: Gets or sets the state of the provisioning.
          title: provisioningState
          type: string
        template:
          description: Gets or sets the template content. Use only one of Template
            or TemplateLink.
          properties: {}
          title: template
          type: object
        templateLink:
          $ref: '#/components/schemas/TemplateLink'
        timestamp:
          description: Gets or sets the timestamp of the template deployment.
          format: date-time
          title: timestamp
          type: string
      title: DeploymentPropertiesExtended
      type: object
    ParametersLink:
      description: Entity representing the reference to the deployment parameters.
      example:
        contentVersion: contentVersion
        uri: uri
      properties:
        contentVersion:
          description: If included it must match the ContentVersion in the template.
          title: contentVersion
          type: string
        uri:
          description: URI referencing the template.
          title: uri
          type: string
      required:
      - uri
      title: ParametersLink
      type: object
    Provider:
      description: Resource provider information.
      example:
        resourceTypes:
        - apiVersions:
          - apiVersions
          - apiVersions
          locations:
          - locations
          - locations
          properties:
            key: properties
          resourceType: resourceType
        - apiVersions:
          - apiVersions
          - apiVersions
          locations:
          - locations
          - locations
          properties:
            key: properties
          resourceType: resourceType
        namespace: namespace
        id: id
        registrationState: registrationState
      properties:
        id:
          description: Gets or sets the provider id.
          title: id
          type: string
        namespace:
          description: Gets or sets the namespace of the provider.
          title: namespace
          type: string
        registrationState:
          description: Gets or sets the registration state of the provider.
          title: registrationState
          type: string
        resourceTypes:
          description: Gets or sets the collection of provider resource types.
          items:
            $ref: '#/components/schemas/ProviderResourceType'
          title: resourceTypes
          type: array
      title: Provider
      type: object
    ProviderResourceType:
      description: Resource type managed by the resource provider.
      example:
        apiVersions:
        - apiVersions
        - apiVersions
        locations:
        - locations
        - locations
        properties:
          key: properties
        resourceType: resourceType
      properties:
        apiVersions:
          description: Gets or sets the api version.
          items:
            type: string
          title: apiVersions
          type: array
        locations:
          description: Gets or sets the collection of locations where this resource
            type can be created in.
          items:
            type: string
          title: locations
          type: array
        properties:
          additionalProperties:
            type: string
          description: Gets or sets the properties.
          title: properties
          type: object
        resourceType:
          description: Gets or sets the resource type.
          title: resourceType
          type: string
      title: ProviderResourceType
      type: object
    TemplateLink:
      description: Entity representing the reference to the template.
      example:
        uri: https://raw.githubusercontent.com/stankovski/azure-rest-api-specs/master/arm-compute/quickstart-templates/vm-simple-linux.json
      properties:
        uri:
          description: URI referencing the template.
          enum:
          - https://raw.githubusercontent.com/stankovski/azure-rest-api-specs/master/arm-compute/quickstart-templates/vm-simple-linux.json
          title: uri
          type: string
      required:
      - uri
      title: TemplateLink
      type: object
    DeploymentParameters_adminPassword:
      example:
        value: value
      properties:
        value:
          description: Password for the Virtual Machine.
          format: password
          title: value
          type: string
      required:
      - value
      title: DeploymentParameters_adminPassword
      type: object
      x-ms-client-flatten: true
    DeploymentParameters_adminUsername:
      example:
        value: value
      properties:
        value:
          description: Username for the Virtual Machine.
          title: value
          type: string
      required:
      - value
      title: DeploymentParameters_adminUsername
      type: object
      x-ms-client-flatten: true
    DeploymentParameters_dnsLabelPrefix:
      example:
        value: value
      properties:
        value:
          description: Unique DNS Name for the Public IP used to access the Virtual
            Machine.
          title: value
          type: string
      required:
      - value
      title: DeploymentParameters_dnsLabelPrefix
      type: object
      x-ms-client-flatten: true
    DeploymentParameters_osVersion:
      description: Deployment operation parameters.
      example:
        value: 14.04.2-LTS
      properties:
        value:
          default: 14.04.2-LTS
          description: The OS version for the VM. This will pick a fully patched image
            of this given OS version.
          enum:
          - 12.04.5-LTS
          - 14.04.2-LTS
          - "15.10"
          title: value
          type: string
      required:
      - value
      title: DeploymentParameters_osVersion
      type: object
      x-ms-client-flatten: true
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
