openapi: 3.0.1
info:
  title: Recommendations API Client
  version: 2019-08-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/web/resource-manager/Microsoft.Web/stable/2019-08-01/Recommendations.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: web-Recommendations
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Web/recommendations:
    get:
      description: Description for List all recommendations for a subscription.
      operationId: recommendations_list
      parameters:
      - description: "Specify <code>true</code> to return only the most critical recommendations.\
          \ The default is <code>false</code>, which returns all recommendations."
        in: query
        name: featured
        schema:
          type: boolean
      - description: "Filter is specified by using OData syntax. Example: $filter=channel\
          \ eq 'Api' or channel eq 'Notification' and startTime eq 2014-01-01T00:00:00Z\
          \ and endTime eq 2014-12-31T23:59:59Z and timeGrain eq duration'[PT1H|PT1M|P1D]"
        in: query
        name: $filter
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecommendationCollection'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Recommendations_List_default_response'
          description: App Service error response.
      summary: List all recommendations for a subscription.
      tags:
      - Recommendations
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.recommendations_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Web/recommendations/reset:
    post:
      description: Description for Reset all recommendation opt-out settings for a
        subscription.
      operationId: recommendations_reset_all_filters
      parameters:
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Recommendations_List_default_response'
          description: App Service error response.
      summary: Reset all recommendation opt-out settings for a subscription.
      tags:
      - Recommendations
      x-openapi-router-controller: openapi_server.controllers.recommendations_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Web/recommendations/{name}/disable:
    post:
      description: Description for Disables the specified rule so it will not apply
        to a subscription in the future.
      operationId: recommendations_disable_recommendation_for_subscription
      parameters:
      - description: Rule name
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Successfully disabled recommendations.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Recommendations_List_default_response'
          description: App Service error response.
      summary: Disables the specified rule so it will not apply to a subscription
        in the future.
      tags:
      - Recommendations
      x-openapi-router-controller: openapi_server.controllers.recommendations_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{hostingEnvironmentName}/recommendationHistory
  : get:
      description: "Description for Get past recommendations for an app, optionally\
        \ specified by the time range."
      operationId: recommendations_list_history_for_hosting_environment
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the hosting environment.
        in: path
        name: hostingEnvironmentName
        required: true
        schema:
          type: string
      - description: "Specify <code>false</code> to return all recommendations. The\
          \ default is <code>true</code>, which returns only expired recommendations."
        in: query
        name: expiredOnly
        schema:
          type: boolean
      - description: "Filter is specified by using OData syntax. Example: $filter=channel\
          \ eq 'Api' or channel eq 'Notification' and startTime eq 2014-01-01T00:00:00Z\
          \ and endTime eq 2014-12-31T23:59:59Z and timeGrain eq duration'[PT1H|PT1M|P1D]"
        in: query
        name: $filter
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecommendationCollection'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Recommendations_List_default_response'
          description: App Service error response.
      summary: "Get past recommendations for an app, optionally specified by the time\
        \ range."
      tags:
      - Recommendations
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.recommendations_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{hostingEnvironmentName}/recommendations
  : get:
      description: Description for Get all recommendations for an app.
      operationId: recommendations_list_recommended_rules_for_hosting_environment
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the app.
        in: path
        name: hostingEnvironmentName
        required: true
        schema:
          type: string
      - description: "Specify <code>true</code> to return only the most critical recommendations.\
          \ The default is <code>false</code>, which returns all recommendations."
        in: query
        name: featured
        schema:
          type: boolean
      - description: "Return only channels specified in the filter. Filter is specified\
          \ by using OData syntax. Example: $filter=channel eq 'Api' or channel eq\
          \ 'Notification'"
        in: query
        name: $filter
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecommendationCollection'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Recommendations_List_default_response'
          description: App Service error response.
      summary: Get all recommendations for an app.
      tags:
      - Recommendations
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.recommendations_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{hostingEnvironmentName}/recommendations/disable
  : post:
      description: Description for Disable all recommendations for an app.
      operationId: recommendations_disable_all_for_hosting_environment
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the app.
        in: query
        name: environmentName
        required: true
        schema:
          type: string
      - in: path
        name: hostingEnvironmentName
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Recommendations_List_default_response'
          description: App Service error response.
      summary: Disable all recommendations for an app.
      tags:
      - Recommendations
      x-openapi-router-controller: openapi_server.controllers.recommendations_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{hostingEnvironmentName}/recommendations/reset
  : post:
      description: Description for Reset all recommendation opt-out settings for an
        app.
      operationId: recommendations_reset_all_filters_for_hosting_environment
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the app.
        in: query
        name: environmentName
        required: true
        schema:
          type: string
      - in: path
        name: hostingEnvironmentName
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Recommendations_List_default_response'
          description: App Service error response.
      summary: Reset all recommendation opt-out settings for an app.
      tags:
      - Recommendations
      x-openapi-router-controller: openapi_server.controllers.recommendations_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{hostingEnvironmentName}/recommendations/{name}
  : get:
      description: Description for Get a recommendation rule for an app.
      operationId: recommendations_get_rule_details_by_hosting_environment
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the hosting environment.
        in: path
        name: hostingEnvironmentName
        required: true
        schema:
          type: string
      - description: Name of the recommendation.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Specify <code>true</code> to update the last-seen timestamp of
          the recommendation object.
        in: query
        name: updateSeen
        schema:
          type: boolean
      - description: The GUID of the recommendation object if you query an expired
          one. You don't need to specify it to query an active entry.
        in: query
        name: recommendationId
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecommendationRule'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Recommendations_List_default_response'
          description: App Service error response.
      summary: Get a recommendation rule for an app.
      tags:
      - Recommendations
      x-openapi-router-controller: openapi_server.controllers.recommendations_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{hostingEnvironmentName}/recommendations/{name}/disable
  : post:
      description: Description for Disables the specific rule for a web site permanently.
      operationId: recommendations_disable_recommendation_for_hosting_environment
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Site name
        in: query
        name: environmentName
        required: true
        schema:
          type: string
      - description: Rule name
        in: path
        name: name
        required: true
        schema:
          type: string
      - in: path
        name: hostingEnvironmentName
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Successfully disabled recommendations.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Recommendations_List_default_response'
          description: App Service error response.
      summary: Disables the specific rule for a web site permanently.
      tags:
      - Recommendations
      x-openapi-router-controller: openapi_server.controllers.recommendations_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/recommendationHistory
  : get:
      description: "Description for Get past recommendations for an app, optionally\
        \ specified by the time range."
      operationId: recommendations_list_history_for_web_app
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the app.
        in: path
        name: siteName
        required: true
        schema:
          type: string
      - description: "Specify <code>false</code> to return all recommendations. The\
          \ default is <code>true</code>, which returns only expired recommendations."
        in: query
        name: expiredOnly
        schema:
          type: boolean
      - description: "Filter is specified by using OData syntax. Example: $filter=channel\
          \ eq 'Api' or channel eq 'Notification' and startTime eq 2014-01-01T00:00:00Z\
          \ and endTime eq 2014-12-31T23:59:59Z and timeGrain eq duration'[PT1H|PT1M|P1D]"
        in: query
        name: $filter
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecommendationCollection'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Recommendations_List_default_response'
          description: App Service error response.
      summary: "Get past recommendations for an app, optionally specified by the time\
        \ range."
      tags:
      - Recommendations
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.recommendations_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/recommendations:
    get:
      description: Description for Get all recommendations for an app.
      operationId: recommendations_list_recommended_rules_for_web_app
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the app.
        in: path
        name: siteName
        required: true
        schema:
          type: string
      - description: "Specify <code>true</code> to return only the most critical recommendations.\
          \ The default is <code>false</code>, which returns all recommendations."
        in: query
        name: featured
        schema:
          type: boolean
      - description: "Return only channels specified in the filter. Filter is specified\
          \ by using OData syntax. Example: $filter=channel eq 'Api' or channel eq\
          \ 'Notification'"
        in: query
        name: $filter
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecommendationCollection'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Recommendations_List_default_response'
          description: App Service error response.
      summary: Get all recommendations for an app.
      tags:
      - Recommendations
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.recommendations_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/recommendations/disable
  : post:
      description: Description for Disable all recommendations for an app.
      operationId: recommendations_disable_all_for_web_app
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the app.
        in: path
        name: siteName
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Recommendations_List_default_response'
          description: App Service error response.
      summary: Disable all recommendations for an app.
      tags:
      - Recommendations
      x-openapi-router-controller: openapi_server.controllers.recommendations_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/recommendations/reset
  : post:
      description: Description for Reset all recommendation opt-out settings for an
        app.
      operationId: recommendations_reset_all_filters_for_web_app
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the app.
        in: path
        name: siteName
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Recommendations_List_default_response'
          description: App Service error response.
      summary: Reset all recommendation opt-out settings for an app.
      tags:
      - Recommendations
      x-openapi-router-controller: openapi_server.controllers.recommendations_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/recommendations/{name}
  : get:
      description: Description for Get a recommendation rule for an app.
      operationId: recommendations_get_rule_details_by_web_app
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the app.
        in: path
        name: siteName
        required: true
        schema:
          type: string
      - description: Name of the recommendation.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Specify <code>true</code> to update the last-seen timestamp of
          the recommendation object.
        in: query
        name: updateSeen
        schema:
          type: boolean
      - description: The GUID of the recommendation object if you query an expired
          one. You don't need to specify it to query an active entry.
        in: query
        name: recommendationId
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecommendationRule'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Recommendations_List_default_response'
          description: App Service error response.
      summary: Get a recommendation rule for an app.
      tags:
      - Recommendations
      x-openapi-router-controller: openapi_server.controllers.recommendations_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/recommendations/{name}/disable
  : post:
      description: Description for Disables the specific rule for a web site permanently.
      operationId: recommendations_disable_recommendation_for_site
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Site name
        in: path
        name: siteName
        required: true
        schema:
          type: string
      - description: Rule name
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Successfully disabled recommendations.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Recommendations_List_default_response'
          description: App Service error response.
      summary: Disables the specific rule for a web site permanently.
      tags:
      - Recommendations
      x-openapi-router-controller: openapi_server.controllers.recommendations_controller
components:
  parameters:
    apiVersionParameter:
      description: API Version
      in: query
      name: api-version
      required: true
      schema:
        type: string
    resourceGroupNameParameter:
      description: Name of the resource group to which the resource belongs.
      in: path
      name: resourceGroupName
      required: true
      schema:
        maxLength: 90
        minLength: 1
        pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    subscriptionIdParameter:
      description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
        00000000-0000-0000-0000-000000000000).
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    Recommendation:
      allOf:
      - description: Azure proxy only resource. This resource is not tracked by Azure
          Resource Manager.
        properties:
          id:
            description: Resource Id.
            readOnly: true
            type: string
          kind:
            description: Kind of resource.
            type: string
          name:
            description: Resource Name.
            readOnly: true
            type: string
          type:
            description: Resource type.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: Represents a recommendation result generated by the recommendation
        engine.
      example:
        properties: "{}"
      properties:
        properties:
          description: Recommendation resource specific properties
          properties:
            actionName:
              description: Name of action recommended by this object.
              title: actionName
              type: string
            bladeName:
              description: Deep link to a blade on the portal.
              title: bladeName
              type: string
            categoryTags:
              description: The list of category tags that this recommendation belongs
                to.
              items:
                type: string
              readOnly: true
              title: categoryTags
              type: array
            channels:
              description: List of channels that this recommendation can apply.
              enum:
              - Notification
              - Api
              - Email
              - Webhook
              - All
              title: channels
              type: string
              x-ms-enum:
                modelAsString: false
                name: Channels
            creationTime:
              description: Timestamp when this instance was created.
              format: date-time
              title: creationTime
              type: string
            displayName:
              description: UI friendly name of the rule (may not be unique).
              title: displayName
              type: string
            enabled:
              description: True if this recommendation is still valid (i.e. "actionable").
                False if it is invalid.
              format: int32
              title: enabled
              type: integer
            endTime:
              description: The end time in UTC of a range that the recommendation
                refers to.
              format: date-time
              title: endTime
              type: string
            extensionName:
              description: Extension name of the portal if exists.
              title: extensionName
              type: string
            forwardLink:
              description: Forward link to an external document associated with the
                rule.
              title: forwardLink
              type: string
            isDynamic:
              description: True if this is associated with a dynamically added rule
              title: isDynamic
              type: boolean
            level:
              description: Level indicating how critical this recommendation can impact.
              enum:
              - Critical
              - Warning
              - Information
              - NonUrgentSuggestion
              title: level
              type: string
              x-ms-enum:
                modelAsString: false
                name: NotificationLevel
            message:
              description: Recommendation text.
              title: message
              type: string
            nextNotificationTime:
              description: When to notify this recommendation next in UTC. Null means
                that this will never be notified anymore.
              format: date-time
              title: nextNotificationTime
              type: string
            notificationExpirationTime:
              description: Date and time in UTC when this notification expires.
              format: date-time
              title: notificationExpirationTime
              type: string
            notifiedTime:
              description: Last timestamp in UTC this instance was actually notified.
                Null means that this recommendation hasn't been notified yet.
              format: date-time
              title: notifiedTime
              type: string
            recommendationId:
              description: A GUID value that each recommendation object is associated
                with.
              example: 00000000-0000-0000-0000-000000000000
              format: uuid
              title: recommendationId
              type: string
            resourceId:
              description: Full ARM resource ID string that this recommendation object
                is associated with.
              title: resourceId
              type: string
            resourceScope:
              description: "Name of a resource type this recommendation applies, e.g.\
                \ Subscription, ServerFarm, Site."
              enum:
              - ServerFarm
              - Subscription
              - WebSite
              title: resourceScope
              type: string
              x-ms-enum:
                modelAsString: true
                name: ResourceScopeType
            ruleName:
              description: Unique name of the rule.
              title: ruleName
              type: string
            score:
              description: A metric value measured by the rule.
              format: double
              title: score
              type: number
            startTime:
              description: The beginning time in UTC of a range that the recommendation
                refers to.
              format: date-time
              title: startTime
              type: string
            states:
              description: The list of states of this recommendation. If it's null
                then it should be considered "Active".
              items:
                type: string
              title: states
              type: array
          title: properties
          type: object
          x-ms-client-flatten: true
      title: Recommendation
    RecommendationCollection:
      description: Collection of recommendations.
      example:
        value:
        - properties: "{}"
        - properties: "{}"
        nextLink: nextLink
      properties:
        nextLink:
          description: Link to next page of resources.
          readOnly: true
          title: nextLink
          type: string
        value:
          description: Collection of resources.
          items:
            $ref: '#/components/schemas/Recommendation'
          title: value
          type: array
      required:
      - value
      title: RecommendationCollection
      type: object
    RecommendationRule:
      allOf:
      - description: Azure proxy only resource. This resource is not tracked by Azure
          Resource Manager.
        properties:
          id:
            description: Resource Id.
            readOnly: true
            type: string
          kind:
            description: Kind of resource.
            type: string
          name:
            description: Resource Name.
            readOnly: true
            type: string
          type:
            description: Resource type.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: Represents a recommendation rule that the recommendation engine
        can perform.
      example:
        properties: "{}"
      properties:
        properties:
          description: RecommendationRule resource specific properties
          properties:
            actionName:
              description: Name of action that is recommended by this rule in string.
              title: actionName
              type: string
            bladeName:
              description: Deep link to a blade on the portal. Applicable to dynamic
                rule only.
              title: bladeName
              type: string
            categoryTags:
              description: The list of category tags that this recommendation rule
                belongs to.
              items:
                type: string
              readOnly: true
              title: categoryTags
              type: array
            channels:
              description: List of available channels that this rule applies.
              enum:
              - Notification
              - Api
              - Email
              - Webhook
              - All
              title: channels
              type: string
              x-ms-enum:
                modelAsString: false
                name: Channels
            description:
              description: Localized detailed description of the rule.
              title: description
              type: string
            displayName:
              description: UI friendly name of the rule.
              title: displayName
              type: string
            extensionName:
              description: Extension name of the portal if exists. Applicable to dynamic
                rule only.
              title: extensionName
              type: string
            forwardLink:
              description: Forward link to an external document associated with the
                rule. Applicable to dynamic rule only.
              title: forwardLink
              type: string
            isDynamic:
              description: True if this is associated with a dynamically added rule
              title: isDynamic
              type: boolean
            level:
              description: Level of impact indicating how critical this rule is.
              enum:
              - Critical
              - Warning
              - Information
              - NonUrgentSuggestion
              title: level
              type: string
              x-ms-enum:
                modelAsString: false
                name: NotificationLevel
            message:
              description: Localized name of the rule (Good for UI).
              title: message
              type: string
            recommendationId:
              description: |-
                Recommendation ID of an associated recommendation object tied to the rule, if exists.
                If such an object doesn't exist, it is set to null.
              example: 00000000-0000-0000-0000-000000000000
              format: uuid
              title: recommendationId
              type: string
            recommendationName:
              description: Unique name of the rule.
              title: recommendationName
              type: string
          title: properties
          type: object
          x-ms-client-flatten: true
      title: RecommendationRule
    Recommendations_List_default_response_error_details_inner:
      description: Detailed errors.
      example:
        code: code
        message: message
        target: target
      properties:
        code:
          description: Standardized string to programmatically identify the error.
          readOnly: true
          title: code
          type: string
        message:
          description: Detailed error description and debugging information.
          readOnly: true
          title: message
          type: string
        target:
          description: Detailed error description and debugging information.
          readOnly: true
          title: target
          type: string
      readOnly: true
      title: Recommendations_List_default_response_error_details_inner
      type: object
    Recommendations_List_default_response_error:
      description: Error model.
      example:
        code: code
        innererror: innererror
        details:
        - code: code
          message: message
          target: target
        - code: code
          message: message
          target: target
        message: message
        target: target
      properties:
        code:
          description: Standardized string to programmatically identify the error.
          readOnly: true
          title: code
          type: string
        details:
          items:
            $ref: '#/components/schemas/Recommendations_List_default_response_error_details_inner'
          title: details
          type: array
        innererror:
          description: More information to debug error.
          readOnly: true
          title: innererror
          type: string
        message:
          description: Detailed error description and debugging information.
          readOnly: true
          title: message
          type: string
        target:
          description: Detailed error description and debugging information.
          readOnly: true
          title: target
          type: string
      readOnly: true
      title: Recommendations_List_default_response_error
      type: object
    Recommendations_List_default_response:
      description: App Service error response.
      example:
        error:
          code: code
          innererror: innererror
          details:
          - code: code
            message: message
            target: target
          - code: code
            message: message
            target: target
          message: message
          target: target
      properties:
        error:
          $ref: '#/components/schemas/Recommendations_List_default_response_error'
      title: Recommendations_List_default_response
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
