openapi: 3.0.1
info:
  description: The Admin Infrastructure Insights Management Client.
  title: InfrastructureInsightsManagementClient
  version: 2016-05-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/infrastructureinsights/Microsoft.InfrastructureInsights.Admin/preview/2016-05-01/InfrastructureInsights.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: azsadmin-InfrastructureInsights
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://adminmanagement.local.azurestack.external/
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.InfrastructureInsights.Admin/operations:
    get:
      description: Returns a list of support REST operations.
      operationId: Operations_List
      parameters:
      - description: Client API Version.
        in: query
        name: api-version
        required: true
        schema:
          default: 2016-05-01
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationList'
          description: OK
      tags:
      - InfrastructureInsights
      x-ms-examples:
        Returns a list of support REST operations.:
          parameters:
            aggregationGranularity: ""
            api-version: 2015-06-01-preview
            continuationToken: ""
            location: local
            reportedEndTime: 2017-08-02T00:00:00.00Z
            reportedStartTime: 2017-08-01T00:00:00.00Z
            resourceGroupName: System.local
            subscriberId: ""
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                value: []
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
components:
  parameters:
    ApiVersionParameter:
      description: Client API Version.
      in: query
      name: api-version
      required: true
      schema:
        default: 2016-05-01
        type: string
    FilterParameter:
      description: OData filter parameter.
      in: query
      name: $filter
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    LocationParameter:
      description: Name of the region
      in: path
      name: location
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ResourceGroupParameter:
      description: The name of the resource group.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ResourceRegistrationIdParameter:
      description: Resource registration ID.
      in: path
      name: resourceRegistrationId
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ServiceRegistrationIdParameter:
      description: Service registration ID.
      in: path
      name: serviceRegistrationId
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: Subscription credentials that uniquely identify Microsoft Azure
        subscription. The subscription ID forms part of the URI for every service
        call.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    AlertSummary:
      description: Summary of the alerts.
      properties:
        criticalAlertCount:
          description: The number of critical alerts for the service.
          type: integer
        warningAlertCount:
          description: The number of warning alerts for the service.
          type: integer
      type: object
    BaseHealth:
      description: Models the base properties for health resource.
      properties:
        alertSummary:
          $ref: '#/components/schemas/AlertSummary'
        healthState:
          description: Health state.
          type: string
        namespace:
          description: Namespace of the health resource.
          type: string
        registrationId:
          description: Registration ID.
          type: string
        routePrefix:
          description: Route prefix.
          type: string
      type: object
    Dictionary:
      additionalProperties:
        type: string
      description: Dictionary of string key-value pairs.
      type: object
    Display:
      description: Contains the localized display information for this particular
        operation / action.
      example:
        provider: provider
        resource: resource
        description: description
        operation: operation
      properties:
        description:
          description: "The localized, friendly description for the operation. The\
            \ description will be displayed to the user. It should be thorough and\
            \ concise for used in both tooltips and detailed views."
          type: string
        operation:
          description: "The localized, friendly name for the operation. Use the name\
            \ as it will be displayed to the user."
          type: string
        provider:
          description: "The localized, friendly version of the resource provider name.\
            \ The provider name is expected to include the name of the publisher or\
            \ company responsible. The provider name format should use title case\
            \ and begin with \"Microsoft\" for first-party services. For example,\
            \ the provider name may be\"Microsoft Monitoring Insights\" or \"Microsoft\
            \ Compute\"."
          type: string
        resource:
          description: "The localized, friendly version of the resource type related\
            \ to this action or operation; the resource type should match the public\
            \ documentation for the resource provider."
          type: string
      type: object
    Metrics:
      description: Metrics for a source.
      properties:
        maCounterName:
          description: Name of the counter.
          type: string
        name:
          description: Name of the usage metric.
          type: string
        observedTimestamp:
          description: Time counter was observed.
          format: date-time
          type: string
        sourceName:
          $ref: '#/components/schemas/MetricsSourceType'
        sourceType:
          description: Type of the source.
          type: string
        unit:
          $ref: '#/components/schemas/MetricsUnit'
        value:
          description: Name of the usage metric.
          format: double
          type: number
      type: object
    MetricsSourceType:
      description: The origin of the metric.
      enum:
      - PhysicalNode
      - VirtualMachine
      - ResourceProvider
      type: string
      x-ms-enum:
        modelAsString: true
        name: MetricsSourceType
    MetricsUnit:
      description: The unit of the metric.
      enum:
      - One
      - Percentage
      - B
      - KB
      - MB
      - GB
      - TB
      type: string
      x-ms-enum:
        modelAsString: true
        name: MetricsUnit
    Operation:
      description: Describes the supported REST operation.
      example:
        display:
          provider: provider
          resource: resource
          description: description
          operation: operation
        name: name
      properties:
        display:
          $ref: '#/components/schemas/Display'
        name:
          description: The name of the operation performed on the object. The name
            should match the action name that appears in RBAC or the event service.
          type: string
      type: object
    OperationList:
      description: List of Operations
      example:
        value:
        - display:
            provider: provider
            resource: resource
            description: description
            operation: operation
          name: name
        - display:
            provider: provider
            resource: resource
            description: description
            operation: operation
          name: name
        nextLink: nextLink
      properties:
        nextLink:
          description: URI to the next page of operations.
          type: string
        value:
          description: Array of operations
          items:
            $ref: '#/components/schemas/Operation'
          type: array
      type: object
    Resource:
      description: The core properties of ARM resources
      properties:
        id:
          description: Fully qualified resource Id for the resource
          readOnly: true
          type: string
        name:
          description: The name of the resource
          readOnly: true
          type: string
        type:
          description: The type of the resource.
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
    TrackedResource:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: The resource model definition for a ARM tracked top level resource
      properties:
        location:
          description: The Azure Region where the resource lives
          type: string
          x-ms-mutability:
          - read
          - create
        tags:
          additionalProperties:
            type: string
          description: Resource tags.
          type: object
          x-ms-mutability:
          - read
          - create
          - update
    UsageMetrics:
      description: Metrics of resource usage.
      properties:
        metricsValue:
          description: List of usage metrics.
          items:
            $ref: '#/components/schemas/Metrics'
          type: array
        name:
          description: Name of the usage metric.
          type: string
      type: object
  securitySchemes:
    azure_auth:
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

