openapi: 3.0.1
info:
  description: Streaming resource management client for Azure Media Services
  title: Azure Media Services
  version: 2019-05-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/mediaservices/resource-manager/Microsoft.Media/preview/2019-05-01-preview/streamingservice.json
    version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: mediaservices-streamingservice
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaservices/{accountName}/liveEvents
  : get:
      description: Lists the Live Events in the account.
      operationId: LiveEvents_List
      parameters:
      - description: The unique identifier for a Microsoft Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Media Services account name.
        in: path
        name: accountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveEventListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: The streaming error response describing why the operation failed.
      summary: List Live Events
      tags:
      - LiveEvents
      x-ms-examples:
        List all LiveEvents:
          parameters:
            accountName: slitestmedia10
            api-version: 2018-07-01
            resourceGroupName: mediaresources
            subscriptionId: 0a6ec948-5a62-437d-b9df-934dc7c1b722
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/0a6ec948-5a62-437d-b9df-934dc7c1b722/resourceGroups/mediaresources/providers/Microsoft.Media/mediaservices/slitestmedia10/liveevents/myLiveEvent1
                  location: West US
                  name: myLiveEvent1
                  properties:
                    created: 2018-03-03T02:25:08.5564064Z
                    crossSiteAccessPolicies: {}
                    description: test event 1
                    encoding:
                      encodingType: None
                    input:
                      accessToken: de153bb0814542d9b7e2339ce9430dc4
                      endpoints:
                      - protocol: FragmentedMP4
                        url: http://clouddeployment.media-test.net/de153bb0814542d9b7e2339ce9430dc4/ingest.isml
                      keyFrameIntervalDuration: PT6S
                      streamingProtocol: FragmentedMP4
                    lastModified: 2018-03-03T02:25:08.5564064Z
                    preview:
                      accessControl:
                        ip:
                          allow:
                          - address: 0.0.0.0
                            name: AllowAll
                      endpoints:
                      - protocol: FragmentedMP4
                        url: https://myliveevent1-slitestmedia10.preview-usso.channel.mediaservices.windows.net/a220e223-faf8-4e03-b9a9-2c2432f48025/preview.ism/manifest
                      previewLocator: a220e223-faf8-4e03-b9a9-2c2432f48025
                    provisioningState: Succeeded
                    resourceState: Stopped
                    streamOptions: []
                    vanityUrl: false
                  tags:
                    tag1: value1
                    tag2: value2
                  type: Microsoft.Media/mediaservices/liveevents
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaservices/{accountName}/liveEvents/{liveEventName}
  : delete:
      description: Deletes a Live Event.
      operationId: LiveEvents_Delete
      parameters:
      - description: The unique identifier for a Microsoft Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Media Services account name.
        in: path
        name: accountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Live Event.
        in: path
        name: liveEventName
        required: true
        schema:
          maxLength: 32
          minLength: 1
          pattern: "^[a-zA-Z0-9]+(-*[a-zA-Z0-9])*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK. The request has succeeded.
        "202":
          content: {}
          description: Accepted. The request has been accepted for processing and
            the operation will complete asynchronously. See https://go.microsoft.com/fwlink/?linkid=2087017
            for details on the monitoring asynchronous Azure Operations.
        "204":
          content: {}
          description: No content. The request has been accepted but the Live Event
            was not found.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: The streaming error response describing why the operation failed.
      summary: Delete Live Event
      tags:
      - LiveEvents
      x-ms-examples:
        Delete a LiveEvent:
          parameters:
            accountName: slitestmedia10
            api-version: 2018-07-01
            liveEventName: myLiveEvent1
            parameters:
              Location: West US
              Name: myLiveEvent1
              Tags:
                DynamicProperties:
                  tag1: value1
                  tag2: value2
              Type: /subscriptions/0a6ec948-5a62-437d-b9df-934dc7c1b722/resourcegroups/mediaresources/providers/Microsoft.Media/mediaservices/slitestmedia10/liveevents
              id: /subscriptions/0a6ec948-5a62-437d-b9df-934dc7c1b722/resourceGroups/mediaresources/providers/Microsoft.Media/mediaservices/slitestmedia10/liveevents/myLiveEvent1
              properties:
                Created: 2018-03-02T18:25:07.5748853-08:00
                Description: test event updated
                Encoding:
                  EncodingType: None
                Input:
                  Endpoints: []
                  KeyFrameIntervalDuration: PT6S
                  StreamingProtocol: FragmentedMP4
                LastModified: 2018-03-02T18:25:07.5748853-08:00
                Preview:
                  AccessControl:
                    IP:
                      Allow:
                      - Address: 192.1.1.0
                        Name: AllowOne
                  Endpoints: []
                ResourceState: Stopped
                StreamOptions: []
                VanityUrl: false
            resourceGroupName: mediaresources
            subscriptionId: 0a6ec948-5a62-437d-b9df-934dc7c1b722
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
    get:
      description: Gets a Live Event.
      operationId: LiveEvents_Get
      parameters:
      - description: The unique identifier for a Microsoft Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Media Services account name.
        in: path
        name: accountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Live Event.
        in: path
        name: liveEventName
        required: true
        schema:
          maxLength: 32
          minLength: 1
          pattern: "^[a-zA-Z0-9]+(-*[a-zA-Z0-9])*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveEvent'
          description: OK. The request has succeeded.
        "404":
          content: {}
          description: NotFound
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: The streaming error response describing why the operation failed.
      summary: Get Live Event
      tags:
      - LiveEvents
      x-ms-examples:
        Get a LiveEvent by name:
          parameters:
            accountName: slitestmedia10
            api-version: 2018-07-01
            liveEventName: myLiveEvent1
            resourceGroupName: mediaresources
            subscriptionId: 0a6ec948-5a62-437d-b9df-934dc7c1b722
          responses:
            "200":
              body:
                id: /subscriptions/0a6ec948-5a62-437d-b9df-934dc7c1b722/resourceGroups/mediaresources/providers/Microsoft.Media/mediaservices/slitestmedia10/liveevents/myLiveEvent1
                location: West US
                name: myLiveEvent1
                properties:
                  created: 2018-03-03T02:25:08.3474032Z
                  crossSiteAccessPolicies:
                    clientAccessPolicy: <access-policy><cross-domain-access><policy><allow-from
                      http-methods="*"><domain uri="http://*"/></allow-from><grant-to><resource
                      path="/" include-subpaths="true"/></grant-to></policy></cross-domain-access></access-policy>
                    crossDomainPolicy: <cross-domain-policy><allow-access-from domain="*"
                      secure="false" /></cross-domain-policy>
                  description: ""
                  encoding:
                    encodingType: None
                  input:
                    endpoints:
                    - protocol: FragmentedMP4
                      url: http://clouddeployment.media-test.net/ingest.isml
                    keyFrameIntervalDuration: PT6S
                    streamingProtocol: FragmentedMP4
                  lastModified: 2018-03-03T02:25:08.3474032Z
                  preview:
                    accessControl:
                      ip:
                        allow:
                        - address: 0.0.0.0
                          name: AllowAll
                          subnetPrefixLength: 0
                    endpoints:
                    - protocol: FragmentedMP4
                      url: https://testeventopito4idh2r-weibzmedia05.preview-ts051.channel.media-test.windows-int.net/763f3ea4-d94f-441c-a634-c833f61a4e04/preview.ism/manifest
                    previewLocator: 763f3ea4-d94f-441c-a634-c833f61a4e04
                  provisioningState: Succeeded
                  resourceState: Stopped
                  streamOptions:
                  - Default
                  vanityUrl: false
                tags: {}
                type: Microsoft.Media/mediaservices/liveevents
            "404": {}
      x-accepts:
      - application/json
    patch:
      description: Updates a existing Live Event.
      operationId: LiveEvents_Update
      parameters:
      - description: The unique identifier for a Microsoft Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Media Services account name.
        in: path
        name: accountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Live Event.
        in: path
        name: liveEventName
        required: true
        schema:
          maxLength: 32
          minLength: 1
          pattern: "^[a-zA-Z0-9]+(-*[a-zA-Z0-9])*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LiveEvent'
        description: Live Event properties needed for creation.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveEvent'
          description: OK. The request has succeeded.
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveEvent'
          description: Accepted. The request has been accepted for processing and
            the operation will complete asynchronously. See https://go.microsoft.com/fwlink/?linkid=2087017
            for details on the monitoring asynchronous Azure Operations.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: The streaming error response describing why the operation failed.
      tags:
      - LiveEvents
      x-ms-examples:
        Update a LiveEvent:
          parameters:
            accountName: slitestmedia10
            api-version: 2019-05-01-preview
            liveEventName: myLiveEvent1
            parameters:
              location: West US
              properties:
                description: test event updated
                input:
                  keyFrameIntervalDuration: PT6S
                  streamingProtocol: FragmentedMP4
                preview:
                  accessControl:
                    ip:
                      allow:
                      - address: 192.1.1.0
                        name: AllowOne
              tags:
                tag1: value1
                tag2: value2
                tag3: value3
            resourceGroupName: mediaresources
            subscriptionId: 0a6ec948-5a62-437d-b9df-934dc7c1b722
          responses:
            "200":
              body:
                id: /subscriptions/0a6ec948-5a62-437d-b9df-934dc7c1b722/resourceGroups/mediaresources/providers/Microsoft.Media/mediaservices/slitestmedia10/liveevents/myLiveEvent1
                location: West US
                name: myLiveEvent1
                properties:
                  created: 0001-01-01T00:00:00Z
                  description: test event updated
                  encoding:
                    encodingType: None
                  input:
                    accessToken: c638baac3195406a84d7ff3bcba8bde4
                    endpoints: []
                    keyFrameIntervalDuration: PT6S
                    streamingProtocol: FragmentedMP4
                  lastModified: 0001-01-01T00:00:00Z
                  preview:
                    accessControl:
                      ip:
                        allow:
                        - address: 192.1.1.0
                          name: AllowOne
                    endpoints: []
                    previewLocator: c10ea3fc-587f-4daf-b2b2-fa8f647a9ed2
                  provisioningState: InProgress
                  resourceState: Running
                  streamOptions: []
                  vanityUrl: false
                tags:
                  tag1: value1
                  tag2: value2
                  tag3: value3
                type: Microsoft.Media/mediaservices/liveevents
            "202":
              body:
                id: /subscriptions/0a6ec948-5a62-437d-b9df-934dc7c1b722/resourceGroups/mediaresources/providers/Microsoft.Media/mediaservices/slitestmedia10/liveevents/myLiveEvent1
                location: West US
                name: myLiveEvent1
                properties:
                  created: 0001-01-01T00:00:00Z
                  description: test event updated
                  encoding:
                    encodingType: None
                  input:
                    accessToken: c638baac3195406a84d7ff3bcba8bde4
                    endpoints: []
                    keyFrameIntervalDuration: PT6S
                    streamingProtocol: FragmentedMP4
                  lastModified: 0001-01-01T00:00:00Z
                  preview:
                    accessControl:
                      ip:
                        allow:
                        - address: 192.1.1.0
                          name: AllowOne
                    endpoints: []
                    previewLocator: c10ea3fc-587f-4daf-b2b2-fa8f647a9ed2
                  provisioningState: InProgress
                  resourceState: Running
                  streamOptions: []
                  vanityUrl: false
                tags:
                  tag1: value1
                  tag2: value2
                  tag3: value3
                type: Microsoft.Media/mediaservices/liveevents
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: Creates a Live Event.
      operationId: LiveEvents_Create
      parameters:
      - description: The unique identifier for a Microsoft Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Media Services account name.
        in: path
        name: accountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Live Event.
        in: path
        name: liveEventName
        required: true
        schema:
          maxLength: 32
          minLength: 1
          pattern: "^[a-zA-Z0-9]+(-*[a-zA-Z0-9])*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The flag indicates if the resource should be automatically started
          on creation.
        in: query
        name: autoStart
        schema:
          type: boolean
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LiveEvent'
        description: Live Event properties needed for creation.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveEvent'
          description: OK. The request has succeeded.
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveEvent'
          description: Accepted. The request has been accepted for processing and
            the operation will complete asynchronously. See https://go.microsoft.com/fwlink/?linkid=2087017
            for details on the monitoring asynchronous Azure Operations.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: The streaming error response describing why the operation failed.
      summary: Create Live Event
      tags:
      - LiveEvents
      x-ms-examples:
        Create a LiveEvent:
          parameters:
            accountName: slitestmedia10
            api-version: 2018-07-01
            liveEventName: myLiveEvent1
            parameters:
              location: West US
              properties:
                description: test event 1
                input:
                  keyFrameIntervalDuration: PT2S
                  streamingProtocol: RTMP
                preview:
                  accessControl:
                    ip:
                      allow:
                      - address: 0.0.0.0
                        name: AllowAll
              tags:
                tag1: value1
                tag2: value2
            resourceGroupName: mediaresources
            subscriptionId: 0a6ec948-5a62-437d-b9df-934dc7c1b722
          responses:
            "200":
              body:
                id: /subscriptions/0a6ec948-5a62-437d-b9df-934dc7c1b722/resourceGroups/mediaresources/providers/Microsoft.Media/mediaservices/slitestmedia10/liveevents/myLiveEvent1
                location: West US
                name: myLiveEvent1
                properties:
                  created: 2018-03-03T02:25:06.0982751Z
                  crossSiteAccessPolicies: {}
                  description: test event 1
                  encoding:
                    encodingType: None
                  input:
                    accessToken: 0abf356884d74b4aacbd7b1ebd3da0f7
                    endpoints: []
                    keyFrameIntervalDuration: PT6S
                    streamingProtocol: FragmentedMP4
                  lastModified: 2018-03-03T02:25:06.0982751Z
                  preview:
                    accessControl:
                      ip:
                        allow:
                        - address: 0.0.0.0
                          name: AllowAll
                    endpoints: []
                    previewLocator: c91726b4-880c-4090-94aa-e6ddb1384b37
                  provisioningState: InProgress
                  resourceState: Stopped
                  streamOptions: []
                  vanityUrl: false
                tags:
                  tag1: value1
                  tag2: value2
                type: Microsoft.Media/mediaservices/liveevents
            "202":
              body:
                id: /subscriptions/0a6ec948-5a62-437d-b9df-934dc7c1b722/resourceGroups/mediaresources/providers/Microsoft.Media/mediaservices/slitestmedia10/liveevents/myLiveEvent1
                location: West US
                name: myLiveEvent1
                properties:
                  created: 2018-03-03T02:25:06.0982751Z
                  crossSiteAccessPolicies: {}
                  description: test event 1
                  encoding:
                    encodingType: None
                  input:
                    accessToken: 0abf356884d74b4aacbd7b1ebd3da0f7
                    endpoints: []
                    keyFrameIntervalDuration: PT6S
                    streamingProtocol: FragmentedMP4
                  lastModified: 2018-03-03T02:25:06.0982751Z
                  preview:
                    accessControl:
                      ip:
                        allow:
                        - address: 0.0.0.0
                          name: AllowAll
                    endpoints: []
                    previewLocator: c91726b4-880c-4090-94aa-e6ddb1384b37
                  provisioningState: InProgress
                  resourceState: Stopped
                  streamOptions: []
                  vanityUrl: false
                tags:
                  tag1: value1
                  tag2: value2
                type: Microsoft.Media/mediaservices/liveevents
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaservices/{accountName}/liveEvents/{liveEventName}/liveOutputs
  : get:
      description: Lists the Live Outputs in the Live Event.
      operationId: LiveOutputs_List
      parameters:
      - description: The unique identifier for a Microsoft Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Media Services account name.
        in: path
        name: accountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Live Event.
        in: path
        name: liveEventName
        required: true
        schema:
          maxLength: 32
          minLength: 1
          pattern: "^[a-zA-Z0-9]+(-*[a-zA-Z0-9])*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveOutputListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: The streaming error response describing why the operation failed.
      summary: List Live Outputs
      tags:
      - LiveOutputs
      x-ms-examples:
        List all LiveOutputs:
          parameters:
            accountName: slitestmedia10
            api-version: 2018-07-01
            liveEventName: myLiveEvent1
            resourceGroupName: mediaresources
            subscriptionId: 0a6ec948-5a62-437d-b9df-934dc7c1b722
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/0a6ec948-5a62-437d-b9df-934dc7c1b722/resourceGroups/mediaresources/providers/Microsoft.Media/mediaservices/slitestmedia10/liveevents/myLiveEvent1/liveoutputs/
                  name: liveoutput1
                  properties:
                    archiveWindowLength: PT30S
                    assetName: 95dafce4-5320-464c-8597-909373854119
                    created: 0001-01-01T00:00:00-08:00
                    hls:
                      fragmentsPerTsSegment: 5
                    lastModified: 0001-01-01T00:00:00-08:00
                    manifestName: c3a23d4b-02a6-4937-a1ad-6416f463fdca
                    outputSnapTime: 0
                    provisioningState: Succeeded
                    resourceState: Running
                  type: Microsoft.Media/mediaservices/liveevents/liveoutputs
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaservices/{accountName}/liveEvents/{liveEventName}/liveOutputs/{liveOutputName}
  : delete:
      description: Deletes a Live Output.
      operationId: LiveOutputs_Delete
      parameters:
      - description: The unique identifier for a Microsoft Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Media Services account name.
        in: path
        name: accountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Live Event.
        in: path
        name: liveEventName
        required: true
        schema:
          maxLength: 32
          minLength: 1
          pattern: "^[a-zA-Z0-9]+(-*[a-zA-Z0-9])*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Live Output.
        in: path
        name: liveOutputName
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^([a-zA-Z0-9])+(-*[a-zA-Z0-9])*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK. The request has succeeded.
        "202":
          content: {}
          description: Accepted. The request has been accepted for processing and
            the operation will complete asynchronously. See https://go.microsoft.com/fwlink/?linkid=2087017
            for details on the monitoring asynchronous Azure Operations.
        "204":
          content: {}
          description: No content. The request has been accepted but the Live Output
            was not found.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: The streaming error response describing why the operation failed.
      summary: Delete Live Output
      tags:
      - LiveOutputs
      x-ms-examples:
        Delete a LiveOutput:
          parameters:
            accountName: slitestmedia10
            api-version: 2018-07-01
            liveEventName: myLiveEvent1
            liveOutputName: myLiveOutput1
            resourceGroupName: mediaresources
            subscriptionId: 0a6ec948-5a62-437d-b9df-934dc7c1b722
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
    get:
      description: Gets a Live Output.
      operationId: LiveOutputs_Get
      parameters:
      - description: The unique identifier for a Microsoft Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Media Services account name.
        in: path
        name: accountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Live Event.
        in: path
        name: liveEventName
        required: true
        schema:
          maxLength: 32
          minLength: 1
          pattern: "^[a-zA-Z0-9]+(-*[a-zA-Z0-9])*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Live Output.
        in: path
        name: liveOutputName
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^([a-zA-Z0-9])+(-*[a-zA-Z0-9])*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveOutput'
          description: OK. The request has succeeded.
        "404":
          content: {}
          description: NotFound
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: The streaming error response describing why the operation failed.
      summary: Get Live Output
      tags:
      - LiveOutputs
      x-ms-examples:
        Get a LiveOutput by name:
          parameters:
            accountName: slitestmedia10
            api-version: 2018-07-01
            liveEventName: myLiveEvent1
            liveOutputName: myLiveOutput1
            resourceGroupName: mediaresources
            subscriptionId: 0a6ec948-5a62-437d-b9df-934dc7c1b722
          responses:
            "200":
              body:
                id: /subscriptions/0a6ec948-5a62-437d-b9df-934dc7c1b722/resourceGroups/mediaresources/providers/Microsoft.Media/mediaservices/slitestmedia10/liveevents/myLiveEvent1/liveoutputs/myLiveOutput1
                name: myLiveOutput1
                properties:
                  archiveWindowLength: PT30S
                  assetName: cb2ae0bc-677a-4830-9c8e-06ce4c4cb607
                  created: 0001-01-01T00:00:00-08:00
                  hls:
                    fragmentsPerTsSegment: 5
                  lastModified: 0001-01-01T00:00:00-08:00
                  manifestName: fc7096f5-c488-4b86-8302-f3bfde53fc27
                  outputSnapTime: 0
                  provisioningState: Succeeded
                  resourceState: Running
                type: Microsoft.Media/mediaservices/liveevents/liveoutputs
            "404": {}
      x-accepts:
      - application/json
    put:
      description: Creates a Live Output.
      operationId: LiveOutputs_Create
      parameters:
      - description: The unique identifier for a Microsoft Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Media Services account name.
        in: path
        name: accountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Live Event.
        in: path
        name: liveEventName
        required: true
        schema:
          maxLength: 32
          minLength: 1
          pattern: "^[a-zA-Z0-9]+(-*[a-zA-Z0-9])*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Live Output.
        in: path
        name: liveOutputName
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^([a-zA-Z0-9])+(-*[a-zA-Z0-9])*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LiveOutput'
        description: Live Output properties needed for creation.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveOutput'
          description: OK. The request has succeeded.
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveOutput'
          description: Accepted. The request has been accepted for processing and
            the operation will complete asynchronously. See https://go.microsoft.com/fwlink/?linkid=2087017
            for details on the monitoring asynchronous Azure Operations.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: The streaming error response describing why the operation failed.
      summary: Create Live Output
      tags:
      - LiveOutputs
      x-ms-examples:
        Create a LiveOutput:
          parameters:
            accountName: slitestmedia10
            api-version: 2018-07-01
            liveEventName: myLiveEvent1
            liveOutputName: myLiveOutput1
            parameters:
              properties:
                archiveWindowLength: PT5M
                assetName: 6f3264f5-a189-48b4-a29a-a40f22575212
                description: test live output 1
                hls:
                  fragmentsPerTsSegment: 5
                manifestName: testmanifest
            resourceGroupName: mediaresources
            subscriptionId: 0a6ec948-5a62-437d-b9df-934dc7c1b722
          responses:
            "200":
              body:
                id: /subscriptions/0a6ec948-5a62-437d-b9df-934dc7c1b722/resourceGroups/mediaresources/providers/Microsoft.Media/mediaservices/slitestmedia10/liveevents/myLiveEvent1/liveoutputs/myLiveOutput1
                name: myLiveOutput1
                properties:
                  archiveWindowLength: PT5M
                  assetName: 6f3264f5-a189-48b4-a29a-a40f22575212
                  created: 2018-03-03T02:25:09.9431835Z
                  description: test live output 1
                  hls:
                    fragmentsPerTsSegment: 5
                  lastModified: 2018-03-03T02:25:09.9431835Z
                  manifestName: testmanifest
                  outputSnapTime: 0
                  provisioningState: Succeeded
                  resourceState: Creating
                type: Microsoft.Media/mediaservices/liveevents/liveoutputs
            "202":
              body:
                id: /subscriptions/0a6ec948-5a62-437d-b9df-934dc7c1b722/resourceGroups/mediaresources/providers/Microsoft.Media/mediaservices/slitestmedia10/liveevents/myLiveEvent1/liveoutputs/myLiveOutput1
                name: myLiveOutput1
                properties:
                  archiveWindowLength: PT5M
                  assetName: 6f3264f5-a189-48b4-a29a-a40f22575212
                  created: 2018-03-03T02:25:09.9431835Z
                  description: test live output 1
                  hls:
                    fragmentsPerTsSegment: 5
                  lastModified: 2018-03-03T02:25:09.9431835Z
                  manifestName: testmanifest
                  outputSnapTime: 0
                  provisioningState: Succeeded
                  resourceState: Creating
                type: Microsoft.Media/mediaservices/liveevents/liveoutputs
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaservices/{accountName}/liveEvents/{liveEventName}/reset
  : post:
      description: Resets an existing Live Event.
      operationId: LiveEvents_Reset
      parameters:
      - description: The unique identifier for a Microsoft Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Media Services account name.
        in: path
        name: accountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Live Event.
        in: path
        name: liveEventName
        required: true
        schema:
          maxLength: 32
          minLength: 1
          pattern: "^[a-zA-Z0-9]+(-*[a-zA-Z0-9])*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK. The request has succeeded.
        "202":
          content: {}
          description: Accepted. The request has been accepted for processing and
            the operation will complete asynchronously. See https://go.microsoft.com/fwlink/?linkid=2087017
            for details on the monitoring asynchronous Azure Operations.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: The streaming error response describing why the operation failed.
      summary: Reset Live Event
      tags:
      - LiveEvents
      x-ms-examples:
        Reset a LiveEvent:
          parameters:
            accountName: slitestmedia10
            api-version: 2018-07-01
            liveEventName: myLiveEvent1
            resourceGroupName: mediaresources
            subscriptionId: 0a6ec948-5a62-437d-b9df-934dc7c1b722
          responses:
            "200": {}
            "202": {}
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaservices/{accountName}/liveEvents/{liveEventName}/start
  : post:
      description: Starts an existing Live Event.
      operationId: LiveEvents_Start
      parameters:
      - description: The unique identifier for a Microsoft Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Media Services account name.
        in: path
        name: accountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Live Event.
        in: path
        name: liveEventName
        required: true
        schema:
          maxLength: 32
          minLength: 1
          pattern: "^[a-zA-Z0-9]+(-*[a-zA-Z0-9])*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK. The request has succeeded.
        "202":
          content: {}
          description: Accepted. The request has been accepted for processing and
            the operation will complete asynchronously. See https://go.microsoft.com/fwlink/?linkid=2087017
            for details on the monitoring asynchronous Azure Operations.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: The streaming error response describing why the operation failed.
      summary: Start Live Event
      tags:
      - LiveEvents
      x-ms-examples:
        Start a LiveEvent:
          parameters:
            accountName: slitestmedia10
            api-version: 2018-07-01
            liveEventName: myLiveEvent1
            resourceGroupName: mediaresources
            subscriptionId: 0a6ec948-5a62-437d-b9df-934dc7c1b722
          responses:
            "200": {}
            "202": {}
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaservices/{accountName}/liveEvents/{liveEventName}/stop
  : post:
      description: Stops an existing Live Event.
      operationId: LiveEvents_Stop
      parameters:
      - description: The unique identifier for a Microsoft Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Media Services account name.
        in: path
        name: accountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Live Event.
        in: path
        name: liveEventName
        required: true
        schema:
          maxLength: 32
          minLength: 1
          pattern: "^[a-zA-Z0-9]+(-*[a-zA-Z0-9])*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LiveEventActionInput'
        description: LiveEvent stop parameters
        required: true
      responses:
        "200":
          content: {}
          description: OK. The request has succeeded.
        "202":
          content: {}
          description: Accepted. The request has been accepted for processing and
            the operation will complete asynchronously. See https://go.microsoft.com/fwlink/?linkid=2087017
            for details on the monitoring asynchronous Azure Operations.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: The streaming error response describing why the operation failed.
      summary: Stop Live Event
      tags:
      - LiveEvents
      x-ms-examples:
        Stop a LiveEvent:
          parameters:
            accountName: slitestmedia10
            api-version: 2018-07-01
            liveEventName: myLiveEvent1
            parameters:
              removeOutputsOnStop: false
            resourceGroupName: mediaresources
            subscriptionId: 0a6ec948-5a62-437d-b9df-934dc7c1b722
          responses:
            "200": {}
            "202": {}
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaservices/{accountName}/streamingEndpoints
  : get:
      description: Lists the StreamingEndpoints in the account.
      operationId: StreamingEndpoints_List
      parameters:
      - description: The unique identifier for a Microsoft Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Media Services account name.
        in: path
        name: accountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StreamingEndpointListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: The streaming error response describing why the operation failed.
      summary: List StreamingEndpoints
      tags:
      - StreamingEndpoints
      x-ms-examples:
        List all StreamingEndpoints:
          parameters:
            accountName: slitestmedia10
            api-version: 2018-07-01
            resourceGroupName: mediaresources
            subscriptionId: 0a6ec948-5a62-437d-b9df-934dc7c1b722
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/0a6ec948-5a62-437d-b9df-934dc7c1b722/resourceGroups/mediaresources/providers/Microsoft.Media/mediaservices/slitestmedia10/streamingendpoints/myStreamingEndpoint1
                  location: West US
                  name: myStreamingEndpoint1
                  properties:
                    availabilitySetName: availableset
                    cdnEnabled: false
                    cdnProfile: ""
                    created: 2018-03-03T02:25:09.202013Z
                    customHostNames: []
                    description: test event 1
                    freeTrialEndTime: 0001-01-01T08:00:00Z
                    hostName: mystreamingendpoint1-slitestmedia10.streaming.mediaservices.windows.net
                    lastModified: 2018-03-03T02:25:09.202013Z
                    provisioningState: Succeeded
                    resourceState: Stopped
                    scaleUnits: 1
                  tags:
                    tag1: value1
                    tag2: value2
                  type: Microsoft.Media/mediaservices/streamingEndpoints
                - id: /subscriptions/0a6ec948-5a62-437d-b9df-934dc7c1b722/resourceGroups/mediaresources/providers/Microsoft.Media/mediaservices/slitestmedia10/streamingendpoints/default
                  location: West US
                  name: default
                  properties:
                    cdnEnabled: true
                    cdnProfile: AzureMediaStreamingPlatformCdnProfile-StandardVerizon
                    cdnProvider: StandardVerizon
                    created: 2018-03-03T02:25:09.2310128Z
                    customHostNames: []
                    description: ""
                    freeTrialEndTime: 0001-01-01T00:00:00-08:00
                    hostName: slitestmedia10.streaming.mediaservices.windows.net
                    lastModified: 2018-03-03T02:25:09.2310128Z
                    provisioningState: InProgress
                    resourceState: Starting
                    scaleUnits: 0
                  tags: {}
                  type: Microsoft.Media/mediaservices/streamingEndpoints
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaservices/{accountName}/streamingEndpoints/{streamingEndpointName}
  : delete:
      description: Deletes a StreamingEndpoint.
      operationId: StreamingEndpoints_Delete
      parameters:
      - description: The unique identifier for a Microsoft Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Media Services account name.
        in: path
        name: accountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the StreamingEndpoint.
        in: path
        name: streamingEndpointName
        required: true
        schema:
          maxLength: 24
          minLength: 1
          pattern: "^[a-zA-Z0-9]+(-*[a-zA-Z0-9])*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK. The request has succeeded.
        "202":
          content: {}
          description: Accepted. The request has been accepted for processing and
            the operation will complete asynchronously. See https://go.microsoft.com/fwlink/?linkid=2087017
            for details on the monitoring asynchronous Azure Operations.
        "204":
          content: {}
          description: No content. The request has been accepted but the Streaming
            Endpoint was not found.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: The streaming error response describing why the operation failed.
      summary: Delete StreamingEndpoint
      tags:
      - StreamingEndpoints
      x-ms-examples:
        Delete a StreamingEndpoint:
          parameters:
            accountName: slitestmedia10
            api-version: 2018-07-01
            parameters:
              Location: West US
              Name: myStreamingEndpoint1
              Tags:
                DynamicProperties:
                  tag1: value1
                  tag2: value2
              Type: /subscriptions/0a6ec948-5a62-437d-b9df-934dc7c1b722/resourcegroups/mediaresources/providers/Microsoft.Media/mediaservices/slitestmedia10/streamingendpoints
              id: /subscriptions/0a6ec948-5a62-437d-b9df-934dc7c1b722/resourceGroups/mediaresources/providers/Microsoft.Media/mediaservices/slitestmedia10/streamingendpoints/myStreamingEndpoint1
              properties:
                AvailabilitySetName: availableset
                CdnEnabled: false
                Created: 2018-03-02T18:25:09.4897514-08:00
                CustomHostNames: []
                Description: test event 1
                FreeTrialEndTime: 0001-01-01T00:00:00-08:00
                LastModified: 2018-03-02T18:25:09.4897514-08:00
                ResourceState: Stopped
                ScaleUnits: 1
            resourceGroupName: mediaresources
            streamingEndpointName: myStreamingEndpoint1
            subscriptionId: 0a6ec948-5a62-437d-b9df-934dc7c1b722
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
    get:
      description: Gets a StreamingEndpoint.
      operationId: StreamingEndpoints_Get
      parameters:
      - description: The unique identifier for a Microsoft Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Media Services account name.
        in: path
        name: accountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the StreamingEndpoint.
        in: path
        name: streamingEndpointName
        required: true
        schema:
          maxLength: 24
          minLength: 1
          pattern: "^[a-zA-Z0-9]+(-*[a-zA-Z0-9])*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StreamingEndpoint'
          description: OK. The request has succeeded.
        "404":
          content: {}
          description: NotFound
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: The streaming error response describing why the operation failed.
      summary: Get StreamingEndpoint
      tags:
      - StreamingEndpoints
      x-ms-examples:
        Get a StreamingEndpoint by name:
          parameters:
            accountName: slitestmedia10
            api-version: 2018-07-01
            resourceGroupName: mediaresources
            streamingEndpointName: myStreamingEndpoint1
            subscriptionId: 0a6ec948-5a62-437d-b9df-934dc7c1b722
          responses:
            "200":
              body:
                id: /subscriptions/0a6ec948-5a62-437d-b9df-934dc7c1b722/resourceGroups/mediaresources/providers/Microsoft.Media/mediaservices/slitestmedia10/streamingendpoints/myStreamingEndpoint1
                location: West US
                name: myStreamingEndpoint1
                properties:
                  availabilitySetName: availableset
                  cdnEnabled: false
                  cdnProfile: ""
                  created: 2018-03-03T02:25:09.3500423Z
                  customHostNames: []
                  description: test event 1
                  freeTrialEndTime: 0001-01-01T08:00:00Z
                  hostName: mystreamingendpoint1-slitestmedia10.streaming.mediaservices.windows.net
                  lastModified: 2018-03-03T02:25:09.3500423Z
                  provisioningState: Succeeded
                  resourceState: Stopped
                  scaleUnits: 1
                tags:
                  tag1: value1
                  tag2: value2
                type: Microsoft.Media/mediaservices/streamingEndpoints
            "404": {}
      x-accepts:
      - application/json
    patch:
      description: Updates a existing StreamingEndpoint.
      operationId: StreamingEndpoints_Update
      parameters:
      - description: The unique identifier for a Microsoft Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Media Services account name.
        in: path
        name: accountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the StreamingEndpoint.
        in: path
        name: streamingEndpointName
        required: true
        schema:
          maxLength: 24
          minLength: 1
          pattern: "^[a-zA-Z0-9]+(-*[a-zA-Z0-9])*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StreamingEndpoint'
        description: StreamingEndpoint properties needed for creation.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StreamingEndpoint'
          description: OK. The request has succeeded.
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StreamingEndpoint'
          description: Accepted. The request has been accepted for processing and
            the operation will complete asynchronously. See https://go.microsoft.com/fwlink/?linkid=2087017
            for details on the monitoring asynchronous Azure Operations.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: The streaming error response describing why the operation failed.
      summary: Update StreamingEndpoint
      tags:
      - StreamingEndpoint
      x-ms-examples:
        Update a StreamingEndpoint:
          parameters:
            accountName: slitestmedia10
            api-version: 2018-07-01
            parameters:
              location: West US
              properties:
                availabilitySetName: availableset
                description: test event 2
                scaleUnits: 5
              tags:
                tag3: value3
                tag5: value5
            resourceGroupName: mediaresources
            streamingEndpointName: myStreamingEndpoint1
            subscriptionId: 0a6ec948-5a62-437d-b9df-934dc7c1b722
          responses:
            "200":
              body:
                id: /subscriptions/0a6ec948-5a62-437d-b9df-934dc7c1b722/resourceGroups/mediaresources/providers/Microsoft.Media/mediaservices/slitestmedia10/streamingendpoints/myStreamingEndpoint1
                location: West US
                name: myStreamingEndpoint1
                properties:
                  availabilitySetName: availableset
                  cdnEnabled: false
                  created: 0001-01-01T00:00:00Z
                  customHostNames: []
                  description: test event 2
                  freeTrialEndTime: 0001-01-01T00:00:00Z
                  lastModified: 0001-01-01T00:00:00Z
                  provisioningState: Succeeded
                  scaleUnits: 5
                tags:
                  tag3: value3
                  tag5: value5
                type: Microsoft.Media/mediaservices/streamingEndpoints
            "202":
              body:
                id: /subscriptions/0a6ec948-5a62-437d-b9df-934dc7c1b722/resourceGroups/mediaresources/providers/Microsoft.Media/mediaservices/slitestmedia10/streamingendpoints/myStreamingEndpoint1
                location: West US
                name: myStreamingEndpoint1
                properties:
                  availabilitySetName: availableset
                  cdnEnabled: false
                  created: 0001-01-01T00:00:00Z
                  customHostNames: []
                  description: test event 2
                  freeTrialEndTime: 0001-01-01T00:00:00Z
                  lastModified: 0001-01-01T00:00:00Z
                  provisioningState: Succeeded
                  scaleUnits: 5
                tags:
                  tag3: value3
                  tag5: value5
                type: Microsoft.Media/mediaservices/streamingEndpoints
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: Creates a StreamingEndpoint.
      operationId: StreamingEndpoints_Create
      parameters:
      - description: The unique identifier for a Microsoft Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Media Services account name.
        in: path
        name: accountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the StreamingEndpoint.
        in: path
        name: streamingEndpointName
        required: true
        schema:
          maxLength: 24
          minLength: 1
          pattern: "^[a-zA-Z0-9]+(-*[a-zA-Z0-9])*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The flag indicates if the resource should be automatically started
          on creation.
        in: query
        name: autoStart
        schema:
          type: boolean
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StreamingEndpoint'
        description: StreamingEndpoint properties needed for creation.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StreamingEndpoint'
          description: OK. The request has succeeded.
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StreamingEndpoint'
          description: Accepted. The request has been accepted for processing and
            the operation will complete asynchronously. See https://go.microsoft.com/fwlink/?linkid=2087017
            for details on the monitoring asynchronous Azure Operations.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: The streaming error response describing why the operation failed.
      summary: Create StreamingEndpoint
      tags:
      - StreamingEndpoints
      x-ms-examples:
        Create a StreamingEndpoint:
          parameters:
            accountName: slitestmedia10
            api-version: 2019-05-01-preview
            parameters:
              location: West US
              properties:
                accessControl:
                  akamai:
                    akamaiSignatureHeaderAuthenticationKeyList:
                    - base64Key: dGVzdGlkMQ==
                      expiration: 2029-12-31T16:00:00-08:00
                      identifier: id1
                    - base64Key: dGVzdGlkMQ==
                      expiration: 2030-12-31T16:00:00-08:00
                      identifier: id2
                  ip:
                    allow:
                    - address: 192.168.1.1
                      name: AllowedIp
                availabilitySetName: availableset
                cdnEnabled: false
                description: test event 1
                scaleUnits: 1
              tags:
                tag1: value1
                tag2: value2
            resourceGroupName: mediaresources
            streamingEndpointName: myStreamingEndpoint1
            subscriptionId: 0a6ec948-5a62-437d-b9df-934dc7c1b722
          responses:
            "200":
              body:
                id: /subscriptions/0a6ec948-5a62-437d-b9df-934dc7c1b722/resourceGroups/mediaresources/providers/Microsoft.Media/mediaservices/slitestmedia10/streamingendpoints/myStreamingEndpoint1
                location: West US
                name: myStreamingEndpoint1
                properties:
                  accessControl:
                    akamai:
                      akamaiSignatureHeaderAuthenticationKeyList:
                      - base64Key: dGVzdGlkMQ==
                        expiration: 2030-01-01T00:00:00Z
                        identifier: id1
                      - base64Key: dGVzdGlkMQ==
                        expiration: 2031-01-01T00:00:00Z
                        identifier: id2
                    ip:
                      allow:
                      - address: 192.168.1.1
                        name: AllowedIp
                  availabilitySetName: availableset
                  cdnEnabled: false
                  cdnProfile: ""
                  created: 2018-03-03T02:25:09.7561389Z
                  customHostNames: []
                  description: test event 1
                  freeTrialEndTime: 0001-01-01T00:00:00-08:00
                  hostName: mystreamingendpoint1-slitestmedia10.streaming.mediaservices.windows.net
                  lastModified: 2018-03-03T02:25:09.7561389Z
                  provisioningState: InProgress
                  resourceState: Stopped
                  scaleUnits: 1
                tags:
                  tag1: value1
                  tag2: value2
                type: Microsoft.Media/mediaservices/streamingEndpoints
            "202":
              body:
                id: /subscriptions/0a6ec948-5a62-437d-b9df-934dc7c1b722/resourceGroups/mediaresources/providers/Microsoft.Media/mediaservices/slitestmedia10/streamingendpoints/myStreamingEndpoint1
                location: West US
                name: myStreamingEndpoint1
                properties:
                  accessControl:
                    akamai:
                      akamaiSignatureHeaderAuthenticationKeyList:
                      - base64Key: dGVzdGlkMQ==
                        expiration: 2030-01-01T00:00:00Z
                        identifier: id1
                      - base64Key: dGVzdGlkMQ==
                        expiration: 2031-01-01T00:00:00Z
                        identifier: id2
                    ip:
                      allow:
                      - address: 192.168.1.1
                        name: AllowedIp
                  availabilitySetName: availableset
                  cdnEnabled: false
                  cdnProfile: ""
                  created: 2018-03-03T02:25:09.7561389Z
                  customHostNames: []
                  description: test event 1
                  freeTrialEndTime: 0001-01-01T00:00:00-08:00
                  hostName: mystreamingendpoint1-slitestmedia10.streaming.mediaservices.windows.net
                  lastModified: 2018-03-03T02:25:09.7561389Z
                  provisioningState: InProgress
                  resourceState: Stopped
                  scaleUnits: 1
                tags:
                  tag1: value1
                  tag2: value2
                type: Microsoft.Media/mediaservices/streamingEndpoints
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaservices/{accountName}/streamingEndpoints/{streamingEndpointName}/scale
  : post:
      description: Scales an existing StreamingEndpoint.
      operationId: StreamingEndpoints_Scale
      parameters:
      - description: The unique identifier for a Microsoft Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Media Services account name.
        in: path
        name: accountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the StreamingEndpoint.
        in: path
        name: streamingEndpointName
        required: true
        schema:
          maxLength: 24
          minLength: 1
          pattern: "^[a-zA-Z0-9]+(-*[a-zA-Z0-9])*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StreamingEntityScaleUnit'
        description: StreamingEndpoint scale parameters
        required: true
      responses:
        "200":
          content: {}
          description: OK. The request has succeeded.
        "202":
          content: {}
          description: Accepted. The request has been accepted for processing and
            the operation will complete asynchronously. See https://go.microsoft.com/fwlink/?linkid=2087017
            for details on the monitoring asynchronous Azure Operations.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: The streaming error response describing why the operation failed.
      summary: Scale StreamingEndpoint
      tags:
      - StreamingEndpoints
      x-ms-examples:
        Scale a StreamingEndpoint:
          parameters:
            accountName: slitestmedia10
            api-version: 2018-07-01
            parameters:
              scaleUnit: 5
            resourceGroupName: mediaresources
            streamingEndpointName: myStreamingEndpoint1
            subscriptionId: 0a6ec948-5a62-437d-b9df-934dc7c1b722
          responses:
            "200": {}
            "202": {}
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaservices/{accountName}/streamingEndpoints/{streamingEndpointName}/start
  : post:
      description: Starts an existing StreamingEndpoint.
      operationId: StreamingEndpoints_Start
      parameters:
      - description: The unique identifier for a Microsoft Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Media Services account name.
        in: path
        name: accountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the StreamingEndpoint.
        in: path
        name: streamingEndpointName
        required: true
        schema:
          maxLength: 24
          minLength: 1
          pattern: "^[a-zA-Z0-9]+(-*[a-zA-Z0-9])*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK. The request has succeeded.
        "202":
          content: {}
          description: Accepted. The request has been accepted for processing and
            the operation will complete asynchronously. See https://go.microsoft.com/fwlink/?linkid=2087017
            for details on the monitoring asynchronous Azure Operations.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: The streaming error response describing why the operation failed.
      summary: Start StreamingEndpoint
      tags:
      - StreamingEndpoints
      x-ms-examples:
        Start a StreamingEndpoint:
          parameters:
            accountName: slitestmedia10
            api-version: 2018-07-01
            resourceGroupName: mediaresources
            streamingEndpointName: myStreamingEndpoint1
            subscriptionId: 0a6ec948-5a62-437d-b9df-934dc7c1b722
          responses:
            "200": {}
            "202": {}
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaservices/{accountName}/streamingEndpoints/{streamingEndpointName}/stop
  : post:
      description: Stops an existing StreamingEndpoint.
      operationId: StreamingEndpoints_Stop
      parameters:
      - description: The unique identifier for a Microsoft Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Media Services account name.
        in: path
        name: accountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the StreamingEndpoint.
        in: path
        name: streamingEndpointName
        required: true
        schema:
          maxLength: 24
          minLength: 1
          pattern: "^[a-zA-Z0-9]+(-*[a-zA-Z0-9])*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK. The request has succeeded.
        "202":
          content: {}
          description: Accepted. The request has been accepted for processing and
            the operation will complete asynchronously. See https://go.microsoft.com/fwlink/?linkid=2087017
            for details on the monitoring asynchronous Azure Operations.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: The streaming error response describing why the operation failed.
      summary: Stop StreamingEndpoint
      tags:
      - StreamingEndpoints
      x-ms-examples:
        Stop a StreamingEndpoint:
          parameters:
            accountName: slitestmedia10
            api-version: 2018-07-01
            resourceGroupName: mediaresources
            streamingEndpointName: myStreamingEndpoint1
            subscriptionId: 0a6ec948-5a62-437d-b9df-934dc7c1b722
          responses:
            "200": {}
            "202": {}
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
components:
  parameters:
    ApiVersion:
      description: The Version of the API to be used with the client request.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    LiveEventName:
      description: The name of the Live Event.
      in: path
      name: liveEventName
      required: true
      schema:
        maxLength: 32
        minLength: 1
        pattern: "^[a-zA-Z0-9]+(-*[a-zA-Z0-9])*$"
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    LiveOutputName:
      description: The name of the Live Output.
      in: path
      name: liveOutputName
      required: true
      schema:
        maxLength: 256
        minLength: 1
        pattern: "^([a-zA-Z0-9])+(-*[a-zA-Z0-9])*$"
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    MediaServicesAccountName:
      description: The Media Services account name.
      in: path
      name: accountName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ResourceGroupName:
      description: The name of the resource group within the Azure subscription.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    StreamingEndpointName:
      description: The name of the StreamingEndpoint.
      in: path
      name: streamingEndpointName
      required: true
      schema:
        maxLength: 24
        minLength: 1
        pattern: "^[a-zA-Z0-9]+(-*[a-zA-Z0-9])*$"
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    StreamingResourceAutoStart:
      description: The flag indicates if the resource should be automatically started
        on creation.
      in: query
      name: autoStart
      schema:
        type: boolean
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SubscriptionId:
      description: The unique identifier for a Microsoft Azure subscription.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    AkamaiAccessControl:
      description: Akamai access control
      example:
        akamaiSignatureHeaderAuthenticationKeyList:
        - identifier: identifier
          expiration: 2000-01-23T04:56:07.000+00:00
          base64Key: base64Key
        - identifier: identifier
          expiration: 2000-01-23T04:56:07.000+00:00
          base64Key: base64Key
      properties:
        akamaiSignatureHeaderAuthenticationKeyList:
          description: authentication key list
          items:
            $ref: '#/components/schemas/AkamaiSignatureHeaderAuthenticationKey'
          type: array
      type: object
    AkamaiSignatureHeaderAuthenticationKey:
      description: Akamai Signature Header authentication key.
      example:
        identifier: identifier
        expiration: 2000-01-23T04:56:07.000+00:00
        base64Key: base64Key
      properties:
        base64Key:
          description: authentication key
          type: string
        expiration:
          description: The expiration time of the authentication key.
          format: date-time
          type: string
        identifier:
          description: identifier of the key
          type: string
      type: object
    ApiError:
      description: The API error.
      example:
        error:
          code: code
          details:
          - null
          - null
          message: message
          target: target
      properties:
        error:
          $ref: '#/components/schemas/ODataError'
      type: object
    CrossSiteAccessPolicies:
      description: The client access policy.
      example:
        crossDomainPolicy: crossDomainPolicy
        clientAccessPolicy: clientAccessPolicy
      properties:
        clientAccessPolicy:
          description: The content of clientaccesspolicy.xml used by Silverlight.
          type: string
        crossDomainPolicy:
          description: The content of crossdomain.xml used by Silverlight.
          type: string
      type: object
    Hls:
      description: The HLS configuration.
      example:
        fragmentsPerTsSegment: 6
      properties:
        fragmentsPerTsSegment:
          description: The amount of fragments per HTTP Live Streaming (HLS) segment.
          format: int32
          type: integer
      type: object
    IPAccessControl:
      description: The IP access control.
      example:
        allow:
        - address: address
          name: name
          subnetPrefixLength: 6
        - address: address
          name: name
          subnetPrefixLength: 6
      properties:
        allow:
          description: The IP allow list.
          items:
            $ref: '#/components/schemas/IPRange'
          type: array
      type: object
    IPRange:
      description: The IP address range in the CIDR scheme.
      example:
        address: address
        name: name
        subnetPrefixLength: 6
      properties:
        address:
          description: The IP address.
          type: string
        name:
          description: The friendly name for the IP address range.
          type: string
        subnetPrefixLength:
          description: The subnet mask prefix length (see CIDR notation).
          format: int32
          type: integer
      type: object
    LiveEvent:
      allOf:
      - allOf:
        - description: The core properties of ARM resources.
          properties:
            id:
              description: Fully qualified resource ID for the resource.
              readOnly: true
              type: string
            name:
              description: The name of the resource.
              readOnly: true
              type: string
            type:
              description: The type of the resource.
              readOnly: true
              type: string
          type: object
          x-ms-azure-resource: true
        description: The resource model definition for a ARM tracked resource.
        properties:
          location:
            description: The Azure Region of the resource.
            type: string
            x-ms-mutability:
            - read
            - create
          tags:
            additionalProperties:
              type: string
            description: Resource tags.
            type: object
            x-ms-mutability:
            - read
            - create
            - update
      description: The Live Event.
      example:
        properties:
          preview:
            accessControl:
              ip:
                allow:
                - address: address
                  name: name
                  subnetPrefixLength: 6
                - address: address
                  name: name
                  subnetPrefixLength: 6
            endpoints:
            - protocol: protocol
              url: url
            - protocol: protocol
              url: url
            alternativeMediaId: alternativeMediaId
            streamingPolicyName: streamingPolicyName
            previewLocator: previewLocator
          input:
            accessControl:
              ip:
                allow:
                - address: address
                  name: name
                  subnetPrefixLength: 6
                - address: address
                  name: name
                  subnetPrefixLength: 6
            endpoints:
            - protocol: protocol
              url: url
            - protocol: protocol
              url: url
            streamingProtocol: FragmentedMP4
            accessToken: accessToken
            keyFrameIntervalDuration: keyFrameIntervalDuration
          created: 2000-01-23T04:56:07.000+00:00
          vanityUrl: true
          streamOptions:
          - Default
          - Default
          description: description
          resourceState: Stopped
          transcriptions:
          - outputTranscriptionTrack:
              trackName: trackName
            language: language
            inputTrackSelection:
            - property: property
              operation: operation
              value: value
            - property: property
              operation: operation
              value: value
          - outputTranscriptionTrack:
              trackName: trackName
            language: language
            inputTrackSelection:
            - property: property
              operation: operation
              value: value
            - property: property
              operation: operation
              value: value
          lastModified: 2000-01-23T04:56:07.000+00:00
          provisioningState: provisioningState
          encoding:
            presetName: presetName
            encodingType: None
          crossSiteAccessPolicies:
            crossDomainPolicy: crossDomainPolicy
            clientAccessPolicy: clientAccessPolicy
      properties:
        properties:
          $ref: '#/components/schemas/LiveEventProperties'
    LiveEventActionInput:
      description: The LiveEvent action input parameter definition.
      example:
        removeOutputsOnStop: true
      properties:
        removeOutputsOnStop:
          description: The flag indicates if remove LiveOutputs on Stop.
          type: boolean
      type: object
    LiveEventEncoding:
      description: The Live Event encoding.
      example:
        presetName: presetName
        encodingType: None
      properties:
        encodingType:
          description: The encoding type for Live Event.  This value is specified
            at creation time and cannot be updated.
          enum:
          - None
          - Basic
          - Standard
          - Premium1080p
          type: string
          x-ms-enum:
            modelAsString: true
            name: LiveEventEncodingType
        presetName:
          description: The encoding preset name.  This value is specified at creation
            time and cannot be updated.
          type: string
      type: object
    LiveEventEndpoint:
      description: The Live Event endpoint.
      example:
        protocol: protocol
        url: url
      properties:
        protocol:
          description: The endpoint protocol.
          type: string
        url:
          description: The endpoint URL.
          type: string
      type: object
    LiveEventInput:
      description: The Live Event input.
      example:
        accessControl:
          ip:
            allow:
            - address: address
              name: name
              subnetPrefixLength: 6
            - address: address
              name: name
              subnetPrefixLength: 6
        endpoints:
        - protocol: protocol
          url: url
        - protocol: protocol
          url: url
        streamingProtocol: FragmentedMP4
        accessToken: accessToken
        keyFrameIntervalDuration: keyFrameIntervalDuration
      properties:
        accessControl:
          $ref: '#/components/schemas/LiveEventInputAccessControl'
        accessToken:
          description: "A unique identifier for a stream.  This can be specified at\
            \ creation time but cannot be updated.  If omitted, the service will generate\
            \ a unique value."
          type: string
        endpoints:
          description: The input endpoints for the Live Event.
          items:
            $ref: '#/components/schemas/LiveEventEndpoint'
          type: array
        keyFrameIntervalDuration:
          description: ISO 8601 timespan duration of the key frame interval duration.
          type: string
        streamingProtocol:
          description: The streaming protocol for the Live Event.  This is specified
            at creation time and cannot be updated.
          enum:
          - FragmentedMP4
          - RTMP
          type: string
          x-ms-enum:
            modelAsString: true
            name: LiveEventInputProtocol
      required:
      - streamingProtocol
      type: object
    LiveEventInputAccessControl:
      description: The IP access control for Live Event Input.
      example:
        ip:
          allow:
          - address: address
            name: name
            subnetPrefixLength: 6
          - address: address
            name: name
            subnetPrefixLength: 6
      properties:
        ip:
          $ref: '#/components/schemas/IPAccessControl'
      type: object
    LiveEventInputTrackSelection:
      description: A track selection condition.
      example:
        property: property
        operation: operation
        value: value
      properties:
        operation:
          description: Comparing operation.
          type: string
        property:
          description: Property name to select.
          type: string
        value:
          description: Property value to select.
          type: string
      type: object
    LiveEventListResult:
      description: The LiveEvent list result.
      example:
        '@odata.nextLink': '@odata.nextLink'
        '@odata.count': 0
        value:
        - properties:
            preview:
              accessControl:
                ip:
                  allow:
                  - address: address
                    name: name
                    subnetPrefixLength: 6
                  - address: address
                    name: name
                    subnetPrefixLength: 6
              endpoints:
              - protocol: protocol
                url: url
              - protocol: protocol
                url: url
              alternativeMediaId: alternativeMediaId
              streamingPolicyName: streamingPolicyName
              previewLocator: previewLocator
            input:
              accessControl:
                ip:
                  allow:
                  - address: address
                    name: name
                    subnetPrefixLength: 6
                  - address: address
                    name: name
                    subnetPrefixLength: 6
              endpoints:
              - protocol: protocol
                url: url
              - protocol: protocol
                url: url
              streamingProtocol: FragmentedMP4
              accessToken: accessToken
              keyFrameIntervalDuration: keyFrameIntervalDuration
            created: 2000-01-23T04:56:07.000+00:00
            vanityUrl: true
            streamOptions:
            - Default
            - Default
            description: description
            resourceState: Stopped
            transcriptions:
            - outputTranscriptionTrack:
                trackName: trackName
              language: language
              inputTrackSelection:
              - property: property
                operation: operation
                value: value
              - property: property
                operation: operation
                value: value
            - outputTranscriptionTrack:
                trackName: trackName
              language: language
              inputTrackSelection:
              - property: property
                operation: operation
                value: value
              - property: property
                operation: operation
                value: value
            lastModified: 2000-01-23T04:56:07.000+00:00
            provisioningState: provisioningState
            encoding:
              presetName: presetName
              encodingType: None
            crossSiteAccessPolicies:
              crossDomainPolicy: crossDomainPolicy
              clientAccessPolicy: clientAccessPolicy
        - properties:
            preview:
              accessControl:
                ip:
                  allow:
                  - address: address
                    name: name
                    subnetPrefixLength: 6
                  - address: address
                    name: name
                    subnetPrefixLength: 6
              endpoints:
              - protocol: protocol
                url: url
              - protocol: protocol
                url: url
              alternativeMediaId: alternativeMediaId
              streamingPolicyName: streamingPolicyName
              previewLocator: previewLocator
            input:
              accessControl:
                ip:
                  allow:
                  - address: address
                    name: name
                    subnetPrefixLength: 6
                  - address: address
                    name: name
                    subnetPrefixLength: 6
              endpoints:
              - protocol: protocol
                url: url
              - protocol: protocol
                url: url
              streamingProtocol: FragmentedMP4
              accessToken: accessToken
              keyFrameIntervalDuration: keyFrameIntervalDuration
            created: 2000-01-23T04:56:07.000+00:00
            vanityUrl: true
            streamOptions:
[...]
