openapi: 3.0.0
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: "Accesses report data in Google Analytics. Warning: Creating multiple\
    \ Customer Applications, Accounts, or Projects to simulate or act as a single\
    \ Customer Application, Account, or Project (respectively) or to circumvent Service-specific\
    \ usage limits or quotas is a direct violation of Google Cloud Platform Terms\
    \ of Service as well as Google APIs Terms of Service. These actions can result\
    \ in immediate termination of your GCP project(s) without any warning. "
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Google Analytics Data API
  version: v1beta
  x-apisguru-categories:
  - analytics
  - media
  x-logo:
    url: https://upload.wikimedia.org/wikipedia/commons/e/e1/YouTube_play_buttom_icon_%282013-2017%29.svg
  x-origin:
  - format: google
    url: https://analyticsdata.googleapis.com/$discovery/rest?version=v1beta
    version: v1
  x-providerName: googleapis.com
  x-serviceName: analyticsdata
externalDocs:
  url: https://developers.google.com/analytics/devguides/reporting/data/v1/
servers:
- url: https://analyticsdata.googleapis.com/
tags:
- name: properties
paths:
  /v1beta/{name}:
    get:
      description: "Gets configuration metadata about a specific audience export.\
        \ This method can be used to understand an audience export after it has been\
        \ created. See [Creating an Audience Export](https://developers.google.com/analytics/devguides/reporting/data/v1/audience-list-basics)\
        \ for an introduction to Audience Exports with examples. Audience Export APIs\
        \ have some methods at alpha and other methods at beta stability. The intention\
        \ is to advance methods to beta stability after some feedback and adoption.\
        \ To give your feedback on this API, complete the [Google Analytics Audience\
        \ Export API Feedback](https://forms.gle/EeA5u5LW6PEggtCEA) form."
      operationId: analyticsdata.properties.audienceExports.get
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The audience export resource name. Format: `properties/{property}/audienceExports/{audience_export}`"
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudienceExport'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/analytics
        Oauth2c:
        - https://www.googleapis.com/auth/analytics
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/analytics.readonly
      tags:
      - properties
      x-accepts:
      - application/json
  /v1beta/{name}:query:
    post:
      description: "Retrieves an audience export of users. After creating an audience,\
        \ the users are not immediately available for exporting. First, a request\
        \ to `CreateAudienceExport` is necessary to create an audience export of users,\
        \ and then second, this method is used to retrieve the users in the audience\
        \ export. See [Creating an Audience Export](https://developers.google.com/analytics/devguides/reporting/data/v1/audience-list-basics)\
        \ for an introduction to Audience Exports with examples. Audiences in Google\
        \ Analytics 4 allow you to segment your users in the ways that are important\
        \ to your business. To learn more, see https://support.google.com/analytics/answer/9267572.\
        \ Audience Export APIs have some methods at alpha and other methods at beta\
        \ stability. The intention is to advance methods to beta stability after some\
        \ feedback and adoption. To give your feedback on this API, complete the [Google\
        \ Analytics Audience Export API Feedback](https://forms.gle/EeA5u5LW6PEggtCEA)\
        \ form."
      operationId: analyticsdata.properties.audienceExports.query
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The name of the audience export to retrieve users\
          \ from. Format: `properties/{property}/audienceExports/{audience_export}`"
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryAudienceExportRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryAudienceExportResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/analytics
        Oauth2c:
        - https://www.googleapis.com/auth/analytics
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/analytics.readonly
      tags:
      - properties
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1beta/{parent}/audienceExports:
    get:
      description: "Lists all audience exports for a property. This method can be\
        \ used for you to find and reuse existing audience exports rather than creating\
        \ unnecessary new audience exports. The same audience can have multiple audience\
        \ exports that represent the export of users that were in an audience on different\
        \ days. See [Creating an Audience Export](https://developers.google.com/analytics/devguides/reporting/data/v1/audience-list-basics)\
        \ for an introduction to Audience Exports with examples. Audience Export APIs\
        \ have some methods at alpha and other methods at beta stability. The intention\
        \ is to advance methods to beta stability after some feedback and adoption.\
        \ To give your feedback on this API, complete the [Google Analytics Audience\
        \ Export API Feedback](https://forms.gle/EeA5u5LW6PEggtCEA) form."
      operationId: analyticsdata.properties.audienceExports.list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. All audience exports for this property will be listed\
          \ in the response. Format: `properties/{property}`"
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: "Optional. The maximum number of audience exports to return.\
          \ The service may return fewer than this value. If unspecified, at most\
          \ 200 audience exports will be returned. The maximum value is 1000 (higher\
          \ values will be coerced to the maximum)."
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: "Optional. A page token, received from a previous `ListAudienceExports`\
          \ call. Provide this to retrieve the subsequent page. When paginating, all\
          \ other parameters provided to `ListAudienceExports` must match the call\
          \ that provided the page token."
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAudienceExportsResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/analytics
        Oauth2c:
        - https://www.googleapis.com/auth/analytics
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/analytics.readonly
      tags:
      - properties
      x-accepts:
      - application/json
    post:
      description: "Creates an audience export for later retrieval. This method quickly\
        \ returns the audience export's resource name and initiates a long running\
        \ asynchronous request to form an audience export. To export the users in\
        \ an audience export, first create the audience export through this method\
        \ and then send the audience resource name to the `QueryAudienceExport` method.\
        \ See [Creating an Audience Export](https://developers.google.com/analytics/devguides/reporting/data/v1/audience-list-basics)\
        \ for an introduction to Audience Exports with examples. An audience export\
        \ is a snapshot of the users currently in the audience at the time of audience\
        \ export creation. Creating audience exports for one audience on different\
        \ days will return different results as users enter and exit the audience.\
        \ Audiences in Google Analytics 4 allow you to segment your users in the ways\
        \ that are important to your business. To learn more, see https://support.google.com/analytics/answer/9267572.\
        \ Audience exports contain the users in each audience. Audience Export APIs\
        \ have some methods at alpha and other methods at beta stability. The intention\
        \ is to advance methods to beta stability after some feedback and adoption.\
        \ To give your feedback on this API, complete the [Google Analytics Audience\
        \ Export API Feedback](https://forms.gle/EeA5u5LW6PEggtCEA) form."
      operationId: analyticsdata.properties.audienceExports.create
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The parent resource where this audience export will\
          \ be created. Format: `properties/{property}`"
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AudienceExport'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/analytics
        Oauth2c:
        - https://www.googleapis.com/auth/analytics
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/analytics.readonly
      tags:
      - properties
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1beta/{property}:batchRunPivotReports:
    post:
      description: Returns multiple pivot reports in a batch. All reports must be
        for the same GA4 Property.
      operationId: analyticsdata.properties.batchRunPivotReports
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "A Google Analytics GA4 property identifier whose events are\
          \ tracked. Specified in the URL path and not the body. To learn more, see\
          \ [where to find your Property ID](https://developers.google.com/analytics/devguides/reporting/data/v1/property-id).\
          \ This property must be specified for the batch. The property within RunPivotReportRequest\
          \ may either be unspecified or consistent with this property. Example: properties/1234"
        explode: false
        in: path
        name: property
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchRunPivotReportsRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchRunPivotReportsResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/analytics
        Oauth2c:
        - https://www.googleapis.com/auth/analytics
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/analytics.readonly
      tags:
      - properties
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1beta/{property}:batchRunReports:
    post:
      description: Returns multiple reports in a batch. All reports must be for the
        same GA4 Property.
      operationId: analyticsdata.properties.batchRunReports
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "A Google Analytics GA4 property identifier whose events are\
          \ tracked. Specified in the URL path and not the body. To learn more, see\
          \ [where to find your Property ID](https://developers.google.com/analytics/devguides/reporting/data/v1/property-id).\
          \ This property must be specified for the batch. The property within RunReportRequest\
          \ may either be unspecified or consistent with this property. Example: properties/1234"
        explode: false
        in: path
        name: property
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchRunReportsRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchRunReportsResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/analytics
        Oauth2c:
        - https://www.googleapis.com/auth/analytics
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/analytics.readonly
      tags:
      - properties
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1beta/{property}:checkCompatibility:
    post:
      description: "This compatibility method lists dimensions and metrics that can\
        \ be added to a report request and maintain compatibility. This method fails\
        \ if the request's dimensions and metrics are incompatible. In Google Analytics,\
        \ reports fail if they request incompatible dimensions and/or metrics; in\
        \ that case, you will need to remove dimensions and/or metrics from the incompatible\
        \ report until the report is compatible. The Realtime and Core reports have\
        \ different compatibility rules. This method checks compatibility for Core\
        \ reports."
      operationId: analyticsdata.properties.checkCompatibility
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "A Google Analytics GA4 property identifier whose events are\
          \ tracked. To learn more, see [where to find your Property ID](https://developers.google.com/analytics/devguides/reporting/data/v1/property-id).\
          \ `property` should be the same value as in your `runReport` request. Example:\
          \ properties/1234"
        explode: false
        in: path
        name: property
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckCompatibilityRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckCompatibilityResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/analytics
        Oauth2c:
        - https://www.googleapis.com/auth/analytics
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/analytics.readonly
      tags:
      - properties
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1beta/{property}:runPivotReport:
    post:
      description: "Returns a customized pivot report of your Google Analytics event\
        \ data. Pivot reports are more advanced and expressive formats than regular\
        \ reports. In a pivot report, dimensions are only visible if they are included\
        \ in a pivot. Multiple pivots can be specified to further dissect your data."
      operationId: analyticsdata.properties.runPivotReport
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "A Google Analytics GA4 property identifier whose events are\
          \ tracked. Specified in the URL path and not the body. To learn more, see\
          \ [where to find your Property ID](https://developers.google.com/analytics/devguides/reporting/data/v1/property-id).\
          \ Within a batch request, this property should either be unspecified or\
          \ consistent with the batch-level property. Example: properties/1234"
        explode: false
        in: path
        name: property
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RunPivotReportRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunPivotReportResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/analytics
        Oauth2c:
        - https://www.googleapis.com/auth/analytics
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/analytics.readonly
      tags:
      - properties
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1beta/{property}:runRealtimeReport:
    post:
      description: "Returns a customized report of realtime event data for your property.\
        \ Events appear in realtime reports seconds after they have been sent to the\
        \ Google Analytics. Realtime reports show events and usage data for the periods\
        \ of time ranging from the present moment to 30 minutes ago (up to 60 minutes\
        \ for Google Analytics 360 properties). For a guide to constructing realtime\
        \ requests & understanding responses, see [Creating a Realtime Report](https://developers.google.com/analytics/devguides/reporting/data/v1/realtime-basics)."
      operationId: analyticsdata.properties.runRealtimeReport
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "A Google Analytics GA4 property identifier whose events are\
          \ tracked. Specified in the URL path and not the body. To learn more, see\
          \ [where to find your Property ID](https://developers.google.com/analytics/devguides/reporting/data/v1/property-id).\
          \ Example: properties/1234"
        explode: false
        in: path
        name: property
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RunRealtimeReportRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunRealtimeReportResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/analytics
        Oauth2c:
        - https://www.googleapis.com/auth/analytics
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/analytics.readonly
      tags:
      - properties
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1beta/{property}:runReport:
    post:
      description: "Returns a customized report of your Google Analytics event data.\
        \ Reports contain statistics derived from data collected by the Google Analytics\
        \ tracking code. The data returned from the API is as a table with columns\
        \ for the requested dimensions and metrics. Metrics are individual measurements\
        \ of user activity on your property, such as active users or event count.\
        \ Dimensions break down metrics across some common criteria, such as country\
        \ or event name. For a guide to constructing requests & understanding responses,\
        \ see [Creating a Report](https://developers.google.com/analytics/devguides/reporting/data/v1/basics)."
      operationId: analyticsdata.properties.runReport
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "A Google Analytics GA4 property identifier whose events are\
          \ tracked. Specified in the URL path and not the body. To learn more, see\
          \ [where to find your Property ID](https://developers.google.com/analytics/devguides/reporting/data/v1/property-id).\
          \ Within a batch request, this property should either be unspecified or\
          \ consistent with the batch-level property. Example: properties/1234"
        explode: false
        in: path
        name: property
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RunReportRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunReportResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/analytics
        Oauth2c:
        - https://www.googleapis.com/auth/analytics
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/analytics.readonly
      tags:
      - properties
      x-content-type: application/json
      x-accepts:
      - application/json
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      explode: true
      in: query
      name: $.xgafv
      required: false
      schema:
        enum:
        - "1"
        - "2"
        type: string
      style: form
    access_token:
      description: OAuth access token.
      explode: true
      in: query
      name: access_token
      required: false
      schema:
        type: string
      style: form
    alt:
      description: Data format for response.
      explode: true
      in: query
      name: alt
      required: false
      schema:
        enum:
        - json
        - media
        - proto
        type: string
      style: form
    callback:
      description: JSONP
      explode: true
      in: query
      name: callback
      required: false
      schema:
        type: string
      style: form
    fields:
      description: Selector specifying which fields to include in a partial response.
      explode: true
      in: query
      name: fields
      required: false
      schema:
        type: string
      style: form
    key:
      description: "API key. Your API key identifies your project and provides you\
        \ with API access, quota, and reports. Required unless you provide an OAuth\
        \ 2.0 token."
      explode: true
      in: query
      name: key
      required: false
      schema:
        type: string
      style: form
    oauth_token:
      description: OAuth 2.0 token for the current user.
      explode: true
      in: query
      name: oauth_token
      required: false
      schema:
        type: string
      style: form
    prettyPrint:
      description: Returns response with indentations and line breaks.
      explode: true
      in: query
      name: prettyPrint
      required: false
      schema:
        type: boolean
      style: form
    quotaUser:
      description: "Available to use for quota purposes for server-side applications.\
        \ Can be any arbitrary string assigned to a user, but should not exceed 40\
        \ characters."
      explode: true
      in: query
      name: quotaUser
      required: false
      schema:
        type: string
      style: form
    uploadType:
      description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
        )."
      explode: true
      in: query
      name: uploadType
      required: false
      schema:
        type: string
      style: form
    upload_protocol:
      description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
      explode: true
      in: query
      name: upload_protocol
      required: false
      schema:
        type: string
      style: form
  schemas:
    ActiveMetricRestriction:
      description: A metric actively restricted in creating the report.
      example:
        metricName: metricName
        restrictedMetricTypes:
        - RESTRICTED_METRIC_TYPE_UNSPECIFIED
        - RESTRICTED_METRIC_TYPE_UNSPECIFIED
      properties:
        metricName:
          description: The name of the restricted metric.
          type: string
        restrictedMetricTypes:
          description: The reason for this metric's restriction.
          items:
            enum:
            - RESTRICTED_METRIC_TYPE_UNSPECIFIED
            - COST_DATA
            - REVENUE_DATA
            type: string
          type: array
      type: object
    AudienceExport:
      description: An audience export is a list of users in an audience at the time
        of the list's creation. One audience may have multiple audience exports created
        for different days.
      example:
        audience: audience
        percentageCompleted: 6.027456183070403
        beginCreatingTime: beginCreatingTime
        audienceDisplayName: audienceDisplayName
        errorMessage: errorMessage
        name: name
        creationQuotaTokensCharged: 0
        rowCount: 1
        state: STATE_UNSPECIFIED
        dimensions:
        - dimensionName: dimensionName
        - dimensionName: dimensionName
      properties:
        audience:
          description: "Required. The audience resource name. This resource name identifies\
            \ the audience being listed and is shared between the Analytics Data &\
            \ Admin APIs. Format: `properties/{property}/audiences/{audience}`"
          type: string
        audienceDisplayName:
          description: "Output only. The descriptive display name for this audience.\
            \ For example, \"Purchasers\"."
          readOnly: true
          type: string
        beginCreatingTime:
          description: Output only. The time when CreateAudienceExport was called
            and the AudienceExport began the `CREATING` state.
          format: google-datetime
          readOnly: true
          type: string
        creationQuotaTokensCharged:
          description: "Output only. The total quota tokens charged during creation\
            \ of the AudienceExport. Because this token count is based on activity\
            \ from the `CREATING` state, this tokens charged will be fixed once an\
            \ AudienceExport enters the `ACTIVE` or `FAILED` states."
          format: int32
          readOnly: true
          type: integer
        dimensions:
          description: Required. The dimensions requested and displayed in the query
            response.
          items:
            $ref: '#/components/schemas/V1betaAudienceDimension'
          type: array
        errorMessage:
          description: Output only. Error message is populated when an audience export
            fails during creation. A common reason for such a failure is quota exhaustion.
          readOnly: true
          type: string
        name:
          description: "Output only. Identifier. The audience export resource name\
            \ assigned during creation. This resource name identifies this `AudienceExport`.\
            \ Format: `properties/{property}/audienceExports/{audience_export}`"
          readOnly: true
          type: string
        percentageCompleted:
          description: Output only. The percentage completed for this audience export
            ranging between 0 to 100.
          format: double
          readOnly: true
          type: number
        rowCount:
          description: Output only. The total number of rows in the AudienceExport
            result.
          format: int32
          readOnly: true
          type: integer
        state:
          description: Output only. The current state for this AudienceExport.
          enum:
          - STATE_UNSPECIFIED
          - CREATING
          - ACTIVE
          - FAILED
          readOnly: true
          type: string
      type: object
    AudienceListMetadata:
      description: This metadata is currently blank.
      properties: {}
      type: object
    BatchRunPivotReportsRequest:
      description: The batch request containing multiple pivot report requests.
      example:
        requests:
        - dimensionFilter:
            filter:
              fieldName: fieldName
              inListFilter:
                caseSensitive: true
                values:
                - values
                - values
              betweenFilter:
                fromValue:
                  int64Value: int64Value
                  doubleValue: 1.4658129805029452
                toValue:
                  int64Value: int64Value
                  doubleValue: 1.4658129805029452
              numericFilter:
                operation: OPERATION_UNSPECIFIED
                value:
                  int64Value: int64Value
                  doubleValue: 1.4658129805029452
              stringFilter:
                caseSensitive: true
                matchType: MATCH_TYPE_UNSPECIFIED
                value: value
            orGroup:
              expressions:
              - null
              - null
            andGroup:
              expressions:
              - null
              - null
            notExpression: null
          cohortSpec:
            cohortReportSettings:
              accumulate: true
            cohortsRange:
              endOffset: 0
              startOffset: 6
              granularity: GRANULARITY_UNSPECIFIED
            cohorts:
            - dateRange:
                endDate: endDate
                name: name
                startDate: startDate
              name: name
              dimension: dimension
            - dateRange:
                endDate: endDate
                name: name
                startDate: startDate
              name: name
              dimension: dimension
          keepEmptyRows: true
          dateRanges:
          - endDate: endDate
            name: name
            startDate: startDate
          - endDate: endDate
            name: name
            startDate: startDate
          metricFilter:
            filter:
              fieldName: fieldName
              inListFilter:
                caseSensitive: true
                values:
                - values
                - values
              betweenFilter:
                fromValue:
                  int64Value: int64Value
                  doubleValue: 1.4658129805029452
                toValue:
                  int64Value: int64Value
                  doubleValue: 1.4658129805029452
              numericFilter:
                operation: OPERATION_UNSPECIFIED
                value:
                  int64Value: int64Value
                  doubleValue: 1.4658129805029452
              stringFilter:
                caseSensitive: true
                matchType: MATCH_TYPE_UNSPECIFIED
                value: value
            orGroup:
              expressions:
              - null
              - null
            andGroup:
              expressions:
              - null
              - null
            notExpression: null
          property: property
          returnPropertyQuota: true
          metrics:
          - expression: expression
            name: name
            invisible: true
          - expression: expression
            name: name
            invisible: true
          pivots:
          - offset: offset
            fieldNames:
            - fieldNames
            - fieldNames
            limit: limit
            metricAggregations:
            - METRIC_AGGREGATION_UNSPECIFIED
            - METRIC_AGGREGATION_UNSPECIFIED
            orderBys:
            - metric:
                metricName: metricName
              pivot:
                metricName: metricName
                pivotSelections:
                - dimensionValue: dimensionValue
                  dimensionName: dimensionName
                - dimensionValue: dimensionValue
                  dimensionName: dimensionName
              dimension:
                orderType: ORDER_TYPE_UNSPECIFIED
                dimensionName: dimensionName
              desc: true
            - metric:
                metricName: metricName
              pivot:
                metricName: metricName
                pivotSelections:
                - dimensionValue: dimensionValue
                  dimensionName: dimensionName
                - dimensionValue: dimensionValue
                  dimensionName: dimensionName
              dimension:
                orderType: ORDER_TYPE_UNSPECIFIED
                dimensionName: dimensionName
              desc: true
          - offset: offset
            fieldNames:
            - fieldNames
            - fieldNames
            limit: limit
            metricAggregations:
            - METRIC_AGGREGATION_UNSPECIFIED
            - METRIC_AGGREGATION_UNSPECIFIED
            orderBys:
            - metric:
                metricName: metricName
              pivot:
                metricName: metricName
                pivotSelections:
                - dimensionValue: dimensionValue
                  dimensionName: dimensionName
                - dimensionValue: dimensionValue
                  dimensionName: dimensionName
              dimension:
                orderType: ORDER_TYPE_UNSPECIFIED
                dimensionName: dimensionName
              desc: true
            - metric:
                metricName: metricName
              pivot:
                metricName: metricName
                pivotSelections:
                - dimensionValue: dimensionValue
                  dimensionName: dimensionName
                - dimensionValue: dimensionValue
                  dimensionName: dimensionName
              dimension:
                orderType: ORDER_TYPE_UNSPECIFIED
                dimensionName: dimensionName
              desc: true
          currencyCode: currencyCode
          dimensions:
          - name: name
            dimensionExpression:
              concatenate:
                dimensionNames:
                - dimensionNames
                - dimensionNames
                delimiter: delimiter
              upperCase:
                dimensionName: dimensionName
              lowerCase:
                dimensionName: dimensionName
          - name: name
            dimensionExpression:
              concatenate:
                dimensionNames:
                - dimensionNames
                - dimensionNames
                delimiter: delimiter
              upperCase:
                dimensionName: dimensionName
              lowerCase:
                dimensionName: dimensionName
        - dimensionFilter:
            filter:
              fieldName: fieldName
              inListFilter:
                caseSensitive: true
                values:
                - values
                - values
              betweenFilter:
                fromValue:
                  int64Value: int64Value
                  doubleValue: 1.4658129805029452
                toValue:
                  int64Value: int64Value
                  doubleValue: 1.4658129805029452
              numericFilter:
                operation: OPERATION_UNSPECIFIED
                value:
                  int64Value: int64Value
                  doubleValue: 1.4658129805029452
              stringFilter:
                caseSensitive: true
                matchType: MATCH_TYPE_UNSPECIFIED
                value: value
            orGroup:
              expressions:
              - null
              - null
            andGroup:
              expressions:
              - null
              - null
            notExpression: null
          cohortSpec:
            cohortReportSettings:
              accumulate: true
            cohortsRange:
              endOffset: 0
              startOffset: 6
              granularity: GRANULARITY_UNSPECIFIED
            cohorts:
            - dateRange:
                endDate: endDate
                name: name
                startDate: startDate
              name: name
              dimension: dimension
            - dateRange:
                endDate: endDate
                name: name
                startDate: startDate
              name: name
              dimension: dimension
          keepEmptyRows: true
          dateRanges:
          - endDate: endDate
            name: name
            startDate: startDate
          - endDate: endDate
            name: name
            startDate: startDate
          metricFilter:
            filter:
              fieldName: fieldName
              inListFilter:
                caseSensitive: true
                values:
                - values
                - values
              betweenFilter:
                fromValue:
                  int64Value: int64Value
                  doubleValue: 1.4658129805029452
                toValue:
                  int64Value: int64Value
                  doubleValue: 1.4658129805029452
              numericFilter:
                operation: OPERATION_UNSPECIFIED
                value:
                  int64Value: int64Value
                  doubleValue: 1.4658129805029452
              stringFilter:
                caseSensitive: true
                matchType: MATCH_TYPE_UNSPECIFIED
                value: value
            orGroup:
              expressions:
              - null
              - null
            andGroup:
              expressions:
              - null
              - null
            notExpression: null
          property: property
          returnPropertyQuota: true
          metrics:
          - expression: expression
            name: name
            invisible: true
          - expression: expression
            name: name
            invisible: true
          pivots:
          - offset: offset
            fieldNames:
            - fieldNames
            - fieldNames
            limit: limit
            metricAggregations:
            - METRIC_AGGREGATION_UNSPECIFIED
            - METRIC_AGGREGATION_UNSPECIFIED
            orderBys:
            - metric:
                metricName: metricName
              pivot:
                metricName: metricName
                pivotSelections:
                - dimensionValue: dimensionValue
                  dimensionName: dimensionName
                - dimensionValue: dimensionValue
                  dimensionName: dimensionName
              dimension:
                orderType: ORDER_TYPE_UNSPECIFIED
                dimensionName: dimensionName
              desc: true
            - metric:
                metricName: metricName
              pivot:
                metricName: metricName
                pivotSelections:
                - dimensionValue: dimensionValue
                  dimensionName: dimensionName
                - dimensionValue: dimensionValue
                  dimensionName: dimensionName
              dimension:
                orderType: ORDER_TYPE_UNSPECIFIED
                dimensionName: dimensionName
              desc: true
          - offset: offset
            fieldNames:
            - fieldNames
            - fieldNames
            limit: limit
            metricAggregations:
            - METRIC_AGGREGATION_UNSPECIFIED
            - METRIC_AGGREGATION_UNSPECIFIED
            orderBys:
            - metric:
                metricName: metricName
              pivot:
                metricName: metricName
                pivotSelections:
                - dimensionValue: dimensionValue
                  dimensionName: dimensionName
                - dimensionValue: dimensionValue
                  dimensionName: dimensionName
              dimension:
                orderType: ORDER_TYPE_UNSPECIFIED
                dimensionName: dimensionName
              desc: true
            - metric:
                metricName: metricName
              pivot:
                metricName: metricName
                pivotSelections:
                - dimensionValue: dimensionValue
                  dimensionName: dimensionName
                - dimensionValue: dimensionValue
                  dimensionName: dimensionName
              dimension:
                orderType: ORDER_TYPE_UNSPECIFIED
                dimensionName: dimensionName
              desc: true
          currencyCode: currencyCode
          dimensions:
          - name: name
            dimensionExpression:
              concatenate:
                dimensionNames:
                - dimensionNames
                - dimensionNames
                delimiter: delimiter
              upperCase:
                dimensionName: dimensionName
              lowerCase:
                dimensionName: dimensionName
          - name: name
            dimensionExpression:
              concatenate:
                dimensionNames:
                - dimensionNames
                - dimensionNames
                delimiter: delimiter
              upperCase:
                dimensionName: dimensionName
              lowerCase:
                dimensionName: dimensionName
      properties:
        requests:
          description: Individual requests. Each request has a separate pivot report
            response. Each batch request is allowed up to 5 requests.
          items:
            $ref: '#/components/schemas/RunPivotReportRequest'
          type: array
      type: object
    BatchRunPivotReportsResponse:
      description: The batch response containing multiple pivot reports.
      example:
        kind: kind
        pivotReports:
        - pivotHeaders:
          - pivotDimensionHeaders:
            - dimensionValues:
              - value: value
              - value: value
            - dimensionValues:
              - value: value
              - value: value
            rowCount: 0
          - pivotDimensionHeaders:
            - dimensionValues:
              - value: value
              - value: value
            - dimensionValues:
              - value: value
              - value: value
            rowCount: 0
          metadata:
            subjectToThresholding: true
            emptyReason: emptyReason
            timeZone: timeZone
            schemaRestrictionResponse:
              activeMetricRestrictions:
              - metricName: metricName
                restrictedMetricTypes:
                - RESTRICTED_METRIC_TYPE_UNSPECIFIED
                - RESTRICTED_METRIC_TYPE_UNSPECIFIED
              - metricName: metricName
                restrictedMetricTypes:
                - RESTRICTED_METRIC_TYPE_UNSPECIFIED
                - RESTRICTED_METRIC_TYPE_UNSPECIFIED
            samplingMetadatas:
            - samplingSpaceSize: samplingSpaceSize
              samplesReadCount: samplesReadCount
            - samplingSpaceSize: samplingSpaceSize
              samplesReadCount: samplesReadCount
            currencyCode: currencyCode
            dataLossFromOtherRow: true
          kind: kind
          dimensionHeaders:
          - name: name
          - name: name
          aggregates:
          - dimensionValues:
            - value: value
            - value: value
            metricValues:
            - value: value
            - value: value
          - dimensionValues:
            - value: value
            - value: value
            metricValues:
            - value: value
            - value: value
          propertyQuota:
            serverErrorsPerProjectPerHour:
              consumed: 6
              remaining: 1
            potentiallyThresholdedRequestsPerHour:
              consumed: 6
              remaining: 1
            tokensPerDay:
              consumed: 6
              remaining: 1
            tokensPerProjectPerHour:
              consumed: 6
              remaining: 1
            concurrentRequests:
              consumed: 6
              remaining: 1
            tokensPerHour:
              consumed: 6
              remaining: 1
          rows:
          - dimensionValues:
            - value: value
            - value: value
            metricValues:
            - value: value
            - value: value
          - dimensionValues:
            - value: value
            - value: value
            metricValues:
            - value: value
            - value: value
          metricHeaders:
          - name: name
            type: METRIC_TYPE_UNSPECIFIED
          - name: name
            type: METRIC_TYPE_UNSPECIFIED
        - pivotHeaders:
          - pivotDimensionHeaders:
            - dimensionValues:
              - value: value
              - value: value
            - dimensionValues:
              - value: value
              - value: value
            rowCount: 0
          - pivotDimensionHeaders:
            - dimensionValues:
              - value: value
              - value: value
            - dimensionValues:
              - value: value
              - value: value
            rowCount: 0
          metadata:
            subjectToThresholding: true
            emptyReason: emptyReason
            timeZone: timeZone
            schemaRestrictionResponse:
              activeMetricRestrictions:
              - metricName: metricName
                restrictedMetricTypes:
                - RESTRICTED_METRIC_TYPE_UNSPECIFIED
                - RESTRICTED_METRIC_TYPE_UNSPECIFIED
              - metricName: metricName
                restrictedMetricTypes:
                - RESTRICTED_METRIC_TYPE_UNSPECIFIED
                - RESTRICTED_METRIC_TYPE_UNSPECIFIED
            samplingMetadatas:
            - samplingSpaceSize: samplingSpaceSize
              samplesReadCount: samplesReadCount
            - samplingSpaceSize: samplingSpaceSize
              samplesReadCount: samplesReadCount
            currencyCode: currencyCode
            dataLossFromOtherRow: true
          kind: kind
          dimensionHeaders:
          - name: name
          - name: name
          aggregates:
          - dimensionValues:
            - value: value
            - value: value
            metricValues:
            - value: value
            - value: value
          - dimensionValues:
            - value: value
            - value: value
            metricValues:
            - value: value
            - value: value
          propertyQuota:
            serverErrorsPerProjectPerHour:
              consumed: 6
              remaining: 1
            potentiallyThresholdedRequestsPerHour:
              consumed: 6
              remaining: 1
            tokensPerDay:
              consumed: 6
              remaining: 1
            tokensPerProjectPerHour:
              consumed: 6
              remaining: 1
            concurrentRequests:
              consumed: 6
              remaining: 1
            tokensPerHour:
              consumed: 6
              remaining: 1
          rows:
          - dimensionValues:
            - value: value
            - value: value
            metricValues:
            - value: value
            - value: value
          - dimensionValues:
            - value: value
            - value: value
            metricValues:
            - value: value
            - value: value
          metricHeaders:
          - name: name
            type: METRIC_TYPE_UNSPECIFIED
          - name: name
            type: METRIC_TYPE_UNSPECIFIED
      properties:
        kind:
          description: Identifies what kind of resource this message is. This `kind`
            is always the fixed string "analyticsData#batchRunPivotReports". Useful
            to distinguish between response types in JSON.
          type: string
        pivotReports:
          description: Individual responses. Each response has a separate pivot report
            request.
          items:
            $ref: '#/components/schemas/RunPivotReportResponse'
          type: array
      type: object
    BatchRunReportsRequest:
      description: The batch request containing multiple report requests.
      example:
        requests:
        - dimensionFilter:
            filter:
              fieldName: fieldName
              inListFilter:
                caseSensitive: true
                values:
                - values
                - values
              betweenFilter:
                fromValue:
                  int64Value: int64Value
                  doubleValue: 1.4658129805029452
                toValue:
                  int64Value: int64Value
                  doubleValue: 1.4658129805029452
              numericFilter:
                operation: OPERATION_UNSPECIFIED
                value:
                  int64Value: int64Value
                  doubleValue: 1.4658129805029452
              stringFilter:
                caseSensitive: true
                matchType: MATCH_TYPE_UNSPECIFIED
                value: value
            orGroup:
              expressions:
              - null
              - null
            andGroup:
              expressions:
              - null
              - null
            notExpression: null
          cohortSpec:
            cohortReportSettings:
              accumulate: true
            cohortsRange:
              endOffset: 0
              startOffset: 6
              granularity: GRANULARITY_UNSPECIFIED
            cohorts:
            - dateRange:
                endDate: endDate
                name: name
                startDate: startDate
              name: name
              dimension: dimension
            - dateRange:
                endDate: endDate
                name: name
                startDate: startDate
              name: name
              dimension: dimension
          offset: offset
          keepEmptyRows: true
          metricAggregations:
          - METRIC_AGGREGATION_UNSPECIFIED
          - METRIC_AGGREGATION_UNSPECIFIED
          dateRanges:
          - endDate: endDate
            name: name
            startDate: startDate
          - endDate: endDate
            name: name
            startDate: startDate
          limit: limit
          metricFilter:
            filter:
              fieldName: fieldName
              inListFilter:
                caseSensitive: true
                values:
                - values
                - values
              betweenFilter:
                fromValue:
                  int64Value: int64Value
                  doubleValue: 1.4658129805029452
                toValue:
                  int64Value: int64Value
                  doubleValue: 1.4658129805029452
              numericFilter:
                operation: OPERATION_UNSPECIFIED
                value:
                  int64Value: int64Value
                  doubleValue: 1.4658129805029452
              stringFilter:
                caseSensitive: true
                matchType: MATCH_TYPE_UNSPECIFIED
                value: value
            orGroup:
              expressions:
              - null
              - null
            andGroup:
              expressions:
              - null
              - null
            notExpression: null
          property: property
          returnPropertyQuota: true
          metrics:
          - expression: expression
            name: name
            invisible: true
          - expression: expression
            name: name
            invisible: true
          currencyCode: currencyCode
          dimensions:
          - name: name
            dimensionExpression:
              concatenate:
                dimensionNames:
                - dimensionNames
                - dimensionNames
                delimiter: delimiter
              upperCase:
                dimensionName: dimensionName
              lowerCase:
                dimensionName: dimensionName
          - name: name
            dimensionExpression:
              concatenate:
                dimensionNames:
                - dimensionNames
                - dimensionNames
                delimiter: delimiter
              upperCase:
                dimensionName: dimensionName
              lowerCase:
                dimensionName: dimensionName
          orderBys:
          - metric:
              metricName: metricName
            pivot:
              metricName: metricName
              pivotSelections:
              - dimensionValue: dimensionValue
                dimensionName: dimensionName
              - dimensionValue: dimensionValue
                dimensionName: dimensionName
            dimension:
              orderType: ORDER_TYPE_UNSPECIFIED
              dimensionName: dimensionName
            desc: true
          - metric:
              metricName: metricName
            pivot:
              metricName: metricName
              pivotSelections:
              - dimensionValue: dimensionValue
                dimensionName: dimensionName
              - dimensionValue: dimensionValue
                dimensionName: dimensionName
            dimension:
              orderType: ORDER_TYPE_UNSPECIFIED
              dimensionName: dimensionName
            desc: true
        - dimensionFilter:
            filter:
              fieldName: fieldName
              inListFilter:
                caseSensitive: true
                values:
                - values
                - values
              betweenFilter:
                fromValue:
                  int64Value: int64Value
                  doubleValue: 1.4658129805029452
                toValue:
                  int64Value: int64Value
                  doubleValue: 1.4658129805029452
              numericFilter:
                operation: OPERATION_UNSPECIFIED
                value:
                  int64Value: int64Value
                  doubleValue: 1.4658129805029452
              stringFilter:
                caseSensitive: true
                matchType: MATCH_TYPE_UNSPECIFIED
                value: value
            orGroup:
              expressions:
              - null
              - null
            andGroup:
              expressions:
              - null
              - null
            notExpression: null
          cohortSpec:
            cohortReportSettings:
              accumulate: true
            cohortsRange:
              endOffset: 0
              startOffset: 6
              granularity: GRANULARITY_UNSPECIFIED
            cohorts:
            - dateRange:
                endDate: endDate
                name: name
                startDate: startDate
              name: name
              dimension: dimension
            - dateRange:
                endDate: endDate
                name: name
                startDate: startDate
              name: name
              dimension: dimension
          offset: offset
          keepEmptyRows: true
          metricAggregations:
          - METRIC_AGGREGATION_UNSPECIFIED
          - METRIC_AGGREGATION_UNSPECIFIED
          dateRanges:
          - endDate: endDate
            name: name
            startDate: startDate
          - endDate: endDate
            name: name
            startDate: startDate
          limit: limit
          metricFilter:
            filter:
              fieldName: fieldName
              inListFilter:
                caseSensitive: true
                values:
                - values
                - values
              betweenFilter:
                fromValue:
                  int64Value: int64Value
                  doubleValue: 1.4658129805029452
                toValue:
                  int64Value: int64Value
                  doubleValue: 1.4658129805029452
              numericFilter:
                operation: OPERATION_UNSPECIFIED
                value:
                  int64Value: int64Value
                  doubleValue: 1.4658129805029452
              stringFilter:
                caseSensitive: true
                matchType: MATCH_TYPE_UNSPECIFIED
                value: value
            orGroup:
              expressions:
              - null
              - null
            andGroup:
              expressions:
              - null
              - null
            notExpression: null
          property: property
          returnPropertyQuota: true
          metrics:
          - expression: expression
            name: name
            invisible: true
          - expression: expression
            name: name
            invisible: true
          currencyCode: currencyCode
          dimensions:
          - name: name
            dimensionExpression:
              concatenate:
                dimensionNames:
                - dimensionNames
                - dimensionNames
                delimiter: delimiter
              upperCase:
                dimensionName: dimensionName
              lowerCase:
                dimensionName: dimensionName
          - name: name
            dimensionExpression:
              concatenate:
                dimensionNames:
                - dimensionNames
                - dimensionNames
                delimiter: delimiter
              upperCase:
                dimensionName: dimensionName
              lowerCase:
                dimensionName: dimensionName
          orderBys:
          - metric:
              metricName: metricName
            pivot:
              metricName: metricName
              pivotSelections:
              - dimensionValue: dimensionValue
                dimensionName: dimensionName
              - dimensionValue: dimensionValue
                dimensionName: dimensionName
            dimension:
              orderType: ORDER_TYPE_UNSPECIFIED
              dimensionName: dimensionName
            desc: true
          - metric:
              metricName: metricName
            pivot:
              metricName: metricName
              pivotSelections:
              - dimensionValue: dimensionValue
                dimensionName: dimensionName
              - dimensionValue: dimensionValue
                dimensionName: dimensionName
            dimension:
              orderType: ORDER_TYPE_UNSPECIFIED
              dimensionName: dimensionName
            desc: true
      properties:
        requests:
          description: Individual requests. Each request has a separate report response.
            Each batch request is allowed up to 5 requests.
          items:
            $ref: '#/components/schemas/RunReportRequest'
          type: array
      type: object
    BatchRunReportsResponse:
      description: The batch response containing multiple reports.
      example:
        reports:
        - metadata:
            subjectToThresholding: true
            emptyReason: emptyReason
            timeZone: timeZone
            schemaRestrictionResponse:
              activeMetricRestrictions:
              - metricName: metricName
                restrictedMetricTypes:
                - RESTRICTED_METRIC_TYPE_UNSPECIFIED
                - RESTRICTED_METRIC_TYPE_UNSPECIFIED
              - metricName: metricName
                restrictedMetricTypes:
                - RESTRICTED_METRIC_TYPE_UNSPECIFIED
                - RESTRICTED_METRIC_TYPE_UNSPECIFIED
            samplingMetadatas:
            - samplingSpaceSize: samplingSpaceSize
              samplesReadCount: samplesReadCount
            - samplingSpaceSize: samplingSpaceSize
              samplesReadCount: samplesReadCount
            currencyCode: currencyCode
            dataLossFromOtherRow: true
          kind: kind
          dimensionHeaders:
          - name: name
          - name: name
          minimums:
          - dimensionValues:
            - value: value
            - value: value
            metricValues:
            - value: value
            - value: value
          - dimensionValues:
            - value: value
            - value: value
            metricValues:
            - value: value
            - value: value
          propertyQuota:
            serverErrorsPerProjectPerHour:
              consumed: 6
              remaining: 1
            potentiallyThresholdedRequestsPerHour:
              consumed: 6
              remaining: 1
            tokensPerDay:
              consumed: 6
              remaining: 1
            tokensPerProjectPerHour:
              consumed: 6
              remaining: 1
            concurrentRequests:
              consumed: 6
              remaining: 1
            tokensPerHour:
              consumed: 6
              remaining: 1
          rowCount: 0
          totals:
          - dimensionValues:
            - value: value
            - value: value
            metricValues:
            - value: value
            - value: value
          - dimensionValues:
            - value: value
            - value: value
            metricValues:
            - value: value
            - value: value
          rows:
          - dimensionValues:
            - value: value
            - value: value
            metricValues:
            - value: value
            - value: value
          - dimensionValues:
            - value: value
            - value: value
            metricValues:
            - value: value
            - value: value
          metricHeaders:
          - name: name
            type: METRIC_TYPE_UNSPECIFIED
          - name: name
            type: METRIC_TYPE_UNSPECIFIED
          maximums:
          - dimensionValues:
            - value: value
            - value: value
            metricValues:
            - value: value
            - value: value
          - dimensionValues:
            - value: value
            - value: value
            metricValues:
            - value: value
            - value: value
        - metadata:
            subjectToThresholding: true
            emptyReason: emptyReason
            timeZone: timeZone
            schemaRestrictionResponse:
              activeMetricRestrictions:
              - metricName: metricName
                restrictedMetricTypes:
                - RESTRICTED_METRIC_TYPE_UNSPECIFIED
                - RESTRICTED_METRIC_TYPE_UNSPECIFIED
              - metricName: metricName
                restrictedMetricTypes:
                - RESTRICTED_METRIC_TYPE_UNSPECIFIED
                - RESTRICTED_METRIC_TYPE_UNSPECIFIED
            samplingMetadatas:
            - samplingSpaceSize: samplingSpaceSize
              samplesReadCount: samplesReadCount
            - samplingSpaceSize: samplingSpaceSize
              samplesReadCount: samplesReadCount
            currencyCode: currencyCode
            dataLossFromOtherRow: true
          kind: kind
          dimensionHeaders:
          - name: name
          - name: name
          minimums:
          - dimensionValues:
            - value: value
            - value: value
            metricValues:
            - value: value
            - value: value
          - dimensionValues:
            - value: value
            - value: value
            metricValues:
            - value: value
            - value: value
          propertyQuota:
            serverErrorsPerProjectPerHour:
              consumed: 6
              remaining: 1
            potentiallyThresholdedRequestsPerHour:
              consumed: 6
              remaining: 1
            tokensPerDay:
              consumed: 6
              remaining: 1
            tokensPerProjectPerHour:
              consumed: 6
              remaining: 1
            concurrentRequests:
              consumed: 6
              remaining: 1
            tokensPerHour:
              consumed: 6
              remaining: 1
          rowCount: 0
          totals:
          - dimensionValues:
            - value: value
            - value: value
            metricValues:
            - value: value
            - value: value
          - dimensionValues:
            - value: value
            - value: value
            metricValues:
            - value: value
            - value: value
          rows:
          - dimensionValues:
            - value: value
            - value: value
            metricValues:
            - value: value
            - value: value
          - dimensionValues:
            - value: value
            - value: value
            metricValues:
            - value: value
            - value: value
          metricHeaders:
          - name: name
            type: METRIC_TYPE_UNSPECIFIED
          - name: name
            type: METRIC_TYPE_UNSPECIFIED
          maximums:
          - dimensionValues:
            - value: value
            - value: value
            metricValues:
            - value: value
            - value: value
          - dimensionValues:
            - value: value
            - value: value
            metricValues:
            - value: value
            - value: value
        kind: kind
      properties:
        kind:
          description: Identifies what kind of resource this message is. This `kind`
            is always the fixed string "analyticsData#batchRunReports". Useful to
            distinguish between response types in JSON.
          type: string
        reports:
          description: Individual responses. Each response has a separate report request.
          items:
            $ref: '#/components/schemas/RunReportResponse'
          type: array
      type: object
    BetweenFilter:
      description: To express that the result needs to be between two numbers (inclusive).
      example:
        fromValue:
          int64Value: int64Value
          doubleValue: 1.4658129805029452
        toValue:
          int64Value: int64Value
          doubleValue: 1.4658129805029452
      properties:
        fromValue:
          $ref: '#/components/schemas/NumericValue'
        toValue:
          $ref: '#/components/schemas/NumericValue'
      type: object
    CaseExpression:
      description: Used to convert a dimension value to a single case.
      example:
        dimensionName: dimensionName
      properties:
        dimensionName:
          description: Name of a dimension. The name must refer back to a name in
            dimensions field of the request.
          type: string
      type: object
    CheckCompatibilityRequest:
      description: The request for compatibility information for a report's dimensions
        and metrics. Check compatibility provides a preview of the compatibility of
        a report; fields shared with the `runReport` request should be the same values
        as in your `runReport` request.
      example:
        dimensionFilter:
          filter:
            fieldName: fieldName
            inListFilter:
              caseSensitive: true
              values:
              - values
              - values
            betweenFilter:
              fromValue:
                int64Value: int64Value
                doubleValue: 1.4658129805029452
              toValue:
                int64Value: int64Value
                doubleValue: 1.4658129805029452
            numericFilter:
              operation: OPERATION_UNSPECIFIED
              value:
                int64Value: int64Value
                doubleValue: 1.4658129805029452
            stringFilter:
              caseSensitive: true
              matchType: MATCH_TYPE_UNSPECIFIED
              value: value
          orGroup:
            expressions:
            - null
            - null
          andGroup:
            expressions:
            - null
            - null
          notExpression: null
        compatibilityFilter: COMPATIBILITY_UNSPECIFIED
        metricFilter:
          filter:
            fieldName: fieldName
            inListFilter:
              caseSensitive: true
              values:
              - values
              - values
            betweenFilter:
              fromValue:
                int64Value: int64Value
                doubleValue: 1.4658129805029452
              toValue:
                int64Value: int64Value
                doubleValue: 1.4658129805029452
            numericFilter:
              operation: OPERATION_UNSPECIFIED
              value:
                int64Value: int64Value
                doubleValue: 1.4658129805029452
            stringFilter:
              caseSensitive: true
              matchType: MATCH_TYPE_UNSPECIFIED
              value: value
          orGroup:
            expressions:
            - null
            - null
          andGroup:
            expressions:
            - null
            - null
          notExpression: null
        metrics:
        - expression: expression
          name: name
          invisible: true
        - expression: expression
          name: name
          invisible: true
        dimensions:
        - name: name
          dimensionExpression:
            concatenate:
              dimensionNames:
              - dimensionNames
              - dimensionNames
              delimiter: delimiter
            upperCase:
              dimensionName: dimensionName
            lowerCase:
              dimensionName: dimensionName
        - name: name
          dimensionExpression:
            concatenate:
              dimensionNames:
              - dimensionNames
              - dimensionNames
              delimiter: delimiter
            upperCase:
              dimensionName: dimensionName
            lowerCase:
              dimensionName: dimensionName
      properties:
        compatibilityFilter:
          description: "Filters the dimensions and metrics in the response to just\
            \ this compatibility. Commonly used as `”compatibilityFilter”: “COMPATIBLE”\
            ` to only return compatible dimensions & metrics."
          enum:
          - COMPATIBILITY_UNSPECIFIED
          - COMPATIBLE
          - INCOMPATIBLE
          type: string
        dimensionFilter:
          $ref: '#/components/schemas/FilterExpression'
        dimensions:
          description: The dimensions in this report. `dimensions` should be the same
            value as in your `runReport` request.
          items:
            $ref: '#/components/schemas/Dimension'
          type: array
        metricFilter:
          $ref: '#/components/schemas/FilterExpression'
        metrics:
          description: The metrics in this report. `metrics` should be the same value
            as in your `runReport` request.
          items:
            $ref: '#/components/schemas/Metric'
          type: array
      type: object
    CheckCompatibilityResponse:
      description: The compatibility response with the compatibility of each dimension
        & metric.
      example:
        metricCompatibilities:
        - metricMetadata:
            blockedReasons:
            - BLOCKED_REASON_UNSPECIFIED
            - BLOCKED_REASON_UNSPECIFIED
            apiName: apiName
            expression: expression
            deprecatedApiNames:
            - deprecatedApiNames
            - deprecatedApiNames
            customDefinition: true
            description: description
            category: category
            type: METRIC_TYPE_UNSPECIFIED
            uiName: uiName
          compatibility: COMPATIBILITY_UNSPECIFIED
        - metricMetadata:
            blockedReasons:
            - BLOCKED_REASON_UNSPECIFIED
            - BLOCKED_REASON_UNSPECIFIED
            apiName: apiName
            expression: expression
            deprecatedApiNames:
            - deprecatedApiNames
            - deprecatedApiNames
            customDefinition: true
            description: description
            category: category
            type: METRIC_TYPE_UNSPECIFIED
            uiName: uiName
          compatibility: COMPATIBILITY_UNSPECIFIED
        dimensionCompatibilities:
        - compatibility: COMPATIBILITY_UNSPECIFIED
          dimensionMetadata:
            apiName: apiName
            deprecatedApiNames:
            - deprecatedApiNames
            - deprecatedApiNames
            customDefinition: true
            description: description
            category: category
            uiName: uiName
        - compatibility: COMPATIBILITY_UNSPECIFIED
          dimensionMetadata:
            apiName: apiName
[...]
