openapi: 3.0.1
info:
  description: Software load balancer multiplexer operation endpoints and objects.
  title: FabricAdminClient
  version: 2016-05-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/fabric/Microsoft.Fabric.Admin/preview/2016-05-01/SlbMuxInstance.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: azsadmin-SlbMuxInstance
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://adminmanagement.local.azurestack.external/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/slbMuxInstances
  : get:
      description: Returns a list of all software load balancer instances at a location.
      operationId: SlbMuxInstances_List
      parameters:
      - description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Location of the resource.
        in: path
        name: location
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api-version
        required: true
        schema:
          default: 2016-05-01
          type: string
      - description: OData filter parameter.
        in: query
        name: $filter
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SlbMuxInstanceList'
          description: OK
        "404":
          content: {}
          description: NOT FOUND
      tags:
      - SlbMuxInstances
      x-ms-examples:
        Returns all software load balancer MUX Instances:
          parameters:
            api-version: 2016-05-01
            location: local
            resourceGroupName: System.local
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/36e98cad-c8a5-4580-bef7-af878a237908/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/slbMuxInstances/AzS-SLB01
                  location: local
                  name: local/AzS-SLB01
                  properties:
                    bgpPeers:
                    - BGPGateway-64000-64001
                    configurationState: Success
                    virtualServer: AzS-SLB01
                  tags: {}
                  type: Microsoft.Fabric.Admin/fabricLocations/slbMuxInstances
            "404": {}
      x-ms-odata: '#/definitions/SlbMuxInstance'
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/slbMuxInstances/{slbMuxInstance}
  : get:
      description: Returns the requested software load balancer multiplexer instance.
      operationId: SlbMuxInstances_Get
      parameters:
      - description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Location of the resource.
        in: path
        name: location
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of a SLB MUX instance.
        in: path
        name: slbMuxInstance
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api-version
        required: true
        schema:
          default: 2016-05-01
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SlbMuxInstance'
          description: OK
        "404":
          content: {}
          description: NOT FOUND
      tags:
      - SlbMuxInstances
      x-ms-examples:
        Returns the requested software load balancer MUX Instance:
          parameters:
            api-version: 2016-05-01
            location: local
            resourceGroupName: System.local
            slbMuxInstance: AzS-SLB01
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                id: /subscriptions/36e98cad-c8a5-4580-bef7-af878a237908/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/slbMuxInstances/AzS-SLB01
                location: local
                name: local/AzS-SLB01
                properties:
                  bgpPeers:
                  - BGPGateway-64000-64001
                  configurationState: Success
                  virtualServer: AzS-SLB01
                tags: {}
                type: Microsoft.Fabric.Admin/fabricLocations/slbMuxInstances
            "404": {}
      x-accepts:
      - application/json
components:
  parameters:
    SLBMuxInstanceParameter:
      description: Name of a SLB MUX instance.
      in: path
      name: slbMuxInstance
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  schemas:
    SlbMuxInstance:
      allOf:
      - description: Base resource object.
        properties:
          id:
            description: URI of the resource.
            readOnly: true
            type: string
          location:
            description: The region where the resource is located.
            type: string
          name:
            description: Name of the resource.
            readOnly: true
            type: string
          tags:
            additionalProperties:
              type: string
            description: List of key-value pairs.
            type: object
          type:
            description: Type of resource.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: "This resource represents an SLB MUX (software load balancing multiplexer,\
        \ which distributes the tenant and tenant customer network traffic)."
      example:
        properties:
          bgpPeers:
          - bgpPeers
          - bgpPeers
          configurationState: configurationState
          virtualServer: virtualServer
      properties:
        properties:
          $ref: '#/components/schemas/SlbMuxInstanceModel'
    SlbMuxInstanceList:
      description: A pageable list of SLB MUX instances.
      example:
        value:
        - properties:
            bgpPeers:
            - bgpPeers
            - bgpPeers
            configurationState: configurationState
            virtualServer: virtualServer
        - properties:
            bgpPeers:
            - bgpPeers
            - bgpPeers
            configurationState: configurationState
            virtualServer: virtualServer
        nextLink: nextLink
      properties:
        nextLink:
          description: URI to the next page.
          type: string
        value:
          description: List of SLB MUX instances.
          items:
            $ref: '#/components/schemas/SlbMuxInstance'
          type: array
      type: object
    SlbMuxInstanceModel:
      description: Properties of a SLB MUX.
      example:
        bgpPeers:
        - bgpPeers
        - bgpPeers
        configurationState: configurationState
        virtualServer: virtualServer
      properties:
        bgpPeers:
          description: List of BGP peers.
          items:
            type: string
          type: array
        configurationState:
          description: Configuration state.
          type: string
        virtualServer:
          description: Virtual server.
          type: string
      type: object
  securitySchemes:
    azure_auth:
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

