openapi: 3.0.1
info:
  description: "Provides create, read, update and delete functionality for Azure SQL\
    \ Database resources including servers, databases, elastic pools, recommendations,\
    \ and operations."
  title: Azure SQL Database
  version: 2014-04-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/sql/resource-manager/Microsoft.Sql/stable/2014-04-01/deprecated.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: sql-deprecated
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/extensions
  : get:
      description: Gets database extensions. This API is deprecated and should not
        be used.
      operationId: extensions_list_by_database
      parameters:
      - description: The API version to use for the request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: serverName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the database to import into
        in: path
        name: databaseName
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtensionListResult'
          description: OK
      tags:
      - ImportExport
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.import_export_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/extensions/{extensionName}
  : get:
      description: Gets a database extension. This API is deprecated and should not
        be used.
      operationId: extensions_get
      parameters:
      - description: The API version to use for the request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: server_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the database to import into
        in: path
        name: databaseName
        required: true
        schema:
          type: string
      - description: The name of the extension to get
        in: path
        name: extensionName
        required: true
        schema:
          enum:
          - import
          type: string
          x-ms-enum:
            modelAsString: true
            name: ExtensionName
        x-ms-enum:
          modelAsString: true
          name: ExtensionName
      responses:
        "200":
          content: {}
          description: OK
      tags:
      - ImportExport
      x-openapi-router-controller: openapi_server.controllers.import_export_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/transparentDataEncryption
  : get:
      deprecated: true
      description: "Gets a list of a database's transparent data encryption configurations.\
        \ There is only ever one element, named 'current', so GetTransparentDataEncryptionConfiguration\
        \ should be used instead."
      operationId: transparent_data_encryption_configurations_list_by_database
      parameters:
      - description: The API version to use for the request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: server_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the database for which the transparent data encryption
          applies.
        in: path
        name: databaseName
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransparentDataEncryptionListResult'
          description: OK
      tags:
      - TransparentDataEncryption
      x-ms-examples:
        Get a list of transparent data encryption configurations:
          parameters:
            api-version: 2014-04-01
            databaseName: sqlcrudtest-9187
            resourceGroupName: sqlcrudtest-6852
            serverName: sqlcrudtest-2080
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6852/providers/Microsoft.Sql/servers/sqlcrudtest-2080/databases/sqlcrudtest-9187/transparentDataEncryption/current
                  location: North Europe
                  name: current
                  properties:
                    status: Enabled
                  type: Microsoft.Sql/servers/databases/transparentDataEncryption
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.transparent_data_encryption_controller
components:
  parameters:
    DatabaseExpandParameter:
      description: "A comma separated list of child objects to expand in the response.\
        \ Possible properties: serviceTierAdvisors, transparentDataEncryption."
      in: query
      name: $expand
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ServerNameParameter:
      description: The name of the server.
      in: path
      name: serverName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  schemas:
    ExtensionListResult:
      description: Represents the response to a list extensions request.
      example:
        value:
        - "{}"
        - "{}"
      properties:
        value:
          description: The list of extensions.
          items:
            properties: {}
            type: object
          title: value
          type: array
      title: ExtensionListResult
      type: object
    TransparentDataEncryptionListResult:
      description: Represents the response to a list transparent data encryption configurations
        request.
      example:
        value:
        - location: location
          properties:
            status: Enabled
        - location: location
          properties:
            status: Enabled
      properties:
        value:
          description: The list of transparent data encryption configurations.
          items:
            $ref: '#/components/schemas/TransparentDataEncryptionListResult_value_inner'
          title: value
          type: array
      title: TransparentDataEncryptionListResult
      type: object
    TransparentDataEncryptionListResult_value_inner_properties:
      description: Represents the properties of a database transparent data encryption.
      example:
        status: Enabled
      properties:
        status:
          description: The status of the database transparent data encryption.
          enum:
          - Enabled
          - Disabled
          title: status
          type: string
          x-ms-enum:
            name: TransparentDataEncryptionStatus
      title: TransparentDataEncryptionListResult_value_inner_properties
      type: object
    TransparentDataEncryptionListResult_value_inner:
      description: Represents a database transparent data encryption configuration.
      example:
        location: location
        properties:
          status: Enabled
      properties:
        location:
          description: Resource location.
          readOnly: true
          title: location
          type: string
        properties:
          $ref: '#/components/schemas/TransparentDataEncryptionListResult_value_inner_properties'
      title: TransparentDataEncryptionListResult_value_inner
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
