openapi: 3.0.1
info:
  contact:
    email: softwareengineering@parliament.uk
    name: UK Parliament
    url: https://www.parliament.uk
  description: "API to get and search for information regarding Bills, their stages,\
    \ associated amendments and publications."
  title: Bills API
  version: v1
  x-apisguru-categories:
  - open_data
  x-origin:
  - format: openapi
    url: https://bills-api.parliament.uk/swagger/v1/swagger.json
    version: "3.0"
  x-providerName: parliament.uk
  x-serviceName: bills
servers:
- url: https://bills-api.parliament.uk
paths:
  /api/v1/BillTypes:
    get:
      parameters:
      - explode: true
        in: query
        name: Category
        required: false
        schema:
          $ref: '#/components/schemas/BillTypeCategory'
        style: form
      - explode: true
        in: query
        name: Skip
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: Take
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillTypeSearchResult'
            text/json:
              schema:
                $ref: '#/components/schemas/BillTypeSearchResult'
            text/plain:
              schema:
                $ref: '#/components/schemas/BillTypeSearchResult'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            text/plain:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
      summary: Returns a list of Bill types.
      tags:
      - BillTypes
      x-accepts:
      - application/json
      - text/json
      - text/plain
  /api/v1/Bills:
    get:
      operationId: GetBills
      parameters:
      - explode: true
        in: query
        name: SearchTerm
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: Session
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: CurrentHouse
        required: false
        schema:
          $ref: '#/components/schemas/House'
        style: form
      - explode: true
        in: query
        name: OriginatingHouse
        required: false
        schema:
          $ref: '#/components/schemas/OriginatingHouse'
        style: form
      - explode: true
        in: query
        name: MemberId
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: DepartmentId
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: BillStage
        required: false
        schema:
          items:
            format: int32
            type: integer
          type: array
        style: form
      - explode: true
        in: query
        name: BillStagesExcluded
        required: false
        schema:
          items:
            format: int32
            type: integer
          type: array
        style: form
      - explode: true
        in: query
        name: IsDefeated
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: IsWithdrawn
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: BillType
        required: false
        schema:
          items:
            format: int32
            type: integer
          type: array
        style: form
      - explode: true
        in: query
        name: SortOrder
        required: false
        schema:
          $ref: '#/components/schemas/BillSortOrder'
        style: form
      - explode: true
        in: query
        name: BillIds
        required: false
        schema:
          items:
            format: int32
            type: integer
          type: array
        style: form
      - explode: true
        in: query
        name: Skip
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: Take
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillSummarySearchResult'
            text/json:
              schema:
                $ref: '#/components/schemas/BillSummarySearchResult'
            text/plain:
              schema:
                $ref: '#/components/schemas/BillSummarySearchResult'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            text/plain:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
      summary: Returns a list of Bills.
      tags:
      - Bills
      x-accepts:
      - application/json
      - text/json
      - text/plain
  /api/v1/Bills/{billId}:
    get:
      operationId: GetBill
      parameters:
      - description: Bill with ID specified
        explode: false
        in: path
        name: billId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bill'
            text/json:
              schema:
                $ref: '#/components/schemas/Bill'
            text/plain:
              schema:
                $ref: '#/components/schemas/Bill'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            text/plain:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            text/plain:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
      summary: Return a Bill.
      tags:
      - Bills
      x-accepts:
      - application/json
      - text/json
      - text/plain
  /api/v1/Bills/{billId}/NewsArticles:
    get:
      operationId: GetNewsArticles
      parameters:
      - explode: false
        in: path
        name: billId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - explode: true
        in: query
        name: Skip
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: Take
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewsArticlesSummarySearchResult'
            text/json:
              schema:
                $ref: '#/components/schemas/NewsArticlesSummarySearchResult'
            text/plain:
              schema:
                $ref: '#/components/schemas/NewsArticlesSummarySearchResult'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            text/plain:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            text/plain:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
      summary: Returns a list of news articles for a Bill.
      tags:
      - BillNews
      x-accepts:
      - application/json
      - text/json
      - text/plain
  /api/v1/Bills/{billId}/Publications:
    get:
      operationId: GetBillPublication
      parameters:
      - description: Publications relating to Bill with Bill ID specified
        explode: false
        in: path
        name: billId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillPublicationList'
            text/json:
              schema:
                $ref: '#/components/schemas/BillPublicationList'
            text/plain:
              schema:
                $ref: '#/components/schemas/BillPublicationList'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            text/plain:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            text/plain:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
      summary: Return a list of Bill publications.
      tags:
      - Publications
      x-accepts:
      - application/json
      - text/json
      - text/plain
  /api/v1/Bills/{billId}/Stages:
    get:
      parameters:
      - description: Stages relating to a Bill with Bill ID specified
        explode: false
        in: path
        name: billId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - explode: true
        in: query
        name: Skip
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: Take
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StageSummarySearchResult'
            text/json:
              schema:
                $ref: '#/components/schemas/StageSummarySearchResult'
            text/plain:
              schema:
                $ref: '#/components/schemas/StageSummarySearchResult'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            text/plain:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            text/plain:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
      summary: Returns all Bill stages.
      tags:
      - Bills
      x-accepts:
      - application/json
      - text/json
      - text/plain
  /api/v1/Bills/{billId}/Stages/{billStageId}:
    get:
      operationId: GetBillStageDetails
      parameters:
      - description: Bill stage relating to Bill with Bill ID specified
        explode: false
        in: path
        name: billId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: Bill stage with ID specified
        explode: false
        in: path
        name: billStageId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillStageDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/BillStageDetails'
            text/plain:
              schema:
                $ref: '#/components/schemas/BillStageDetails'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            text/plain:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            text/plain:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
      summary: Returns a Bill stage.
      tags:
      - Bills
      x-accepts:
      - application/json
      - text/json
      - text/plain
  /api/v1/Bills/{billId}/Stages/{billStageId}/Amendments:
    get:
      operationId: GetAmendments
      parameters:
      - description: Amendments relating to a Bill with Bill ID specified
        explode: false
        in: path
        name: billId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: Amendments relating to a Bill stage with Bill stage ID specified
        explode: false
        in: path
        name: billStageId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - explode: true
        in: query
        name: SearchTerm
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: Decision
        required: false
        schema:
          $ref: '#/components/schemas/Decision'
        style: form
      - explode: true
        in: query
        name: MemberId
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: Skip
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: Take
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AmendmentSearchItemSearchResult'
            text/json:
              schema:
                $ref: '#/components/schemas/AmendmentSearchItemSearchResult'
            text/plain:
              schema:
                $ref: '#/components/schemas/AmendmentSearchItemSearchResult'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            text/plain:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            text/plain:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
      summary: Returns a list of amendments.
      tags:
      - Amendments
      x-accepts:
      - application/json
      - text/json
      - text/plain
  /api/v1/Bills/{billId}/Stages/{billStageId}/Amendments/{amendmentId}:
    get:
      operationId: GetAmendment
      parameters:
      - description: Amendment relating to a bill with bill ID specified
        explode: false
        in: path
        name: billId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: Amendment relating to a bill stage with bill stage ID specified
        explode: false
        in: path
        name: billStageId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: Amendment with amendment ID specified
        explode: false
        in: path
        name: amendmentId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AmendmentDetail'
            text/json:
              schema:
                $ref: '#/components/schemas/AmendmentDetail'
            text/plain:
              schema:
                $ref: '#/components/schemas/AmendmentDetail'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            text/plain:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            text/plain:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
      summary: Returns an amendment.
      tags:
      - Amendments
      x-accepts:
      - application/json
      - text/json
      - text/plain
  /api/v1/Bills/{billId}/Stages/{stageId}/Publications:
    get:
      parameters:
      - explode: false
        in: path
        name: billId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - explode: false
        in: path
        name: stageId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillStagePublicationList'
            text/json:
              schema:
                $ref: '#/components/schemas/BillStagePublicationList'
            text/plain:
              schema:
                $ref: '#/components/schemas/BillStagePublicationList'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            text/plain:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            text/plain:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
      summary: Return a list of Bill stage publications.
      tags:
      - Publications
      x-accepts:
      - application/json
      - text/json
      - text/plain
  /api/v1/PublicationTypes:
    get:
      parameters:
      - explode: true
        in: query
        name: Skip
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: Take
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicationTypeSearchResult'
            text/json:
              schema:
                $ref: '#/components/schemas/PublicationTypeSearchResult'
            text/plain:
              schema:
                $ref: '#/components/schemas/PublicationTypeSearchResult'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            text/plain:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
      summary: Returns a list of publication types.
      tags:
      - PublicationTypes
      x-accepts:
      - application/json
      - text/json
      - text/plain
  /api/v1/Publications/{publicationId}/Documents/{documentId}:
    get:
      parameters:
      - description: Document with publication Id specified
        explode: false
        in: path
        name: publicationId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: Document with Id specified
        explode: false
        in: path
        name: documentId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicationDocument'
            text/json:
              schema:
                $ref: '#/components/schemas/PublicationDocument'
            text/plain:
              schema:
                $ref: '#/components/schemas/PublicationDocument'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            text/plain:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            text/plain:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
      summary: Return information on a document.
      tags:
      - Documents
      x-accepts:
      - application/json
      - text/json
      - text/plain
  /api/v1/Publications/{publicationId}/Documents/{documentId}/Download:
    get:
      parameters:
      - description: Document with publication Id specified
        explode: false
        in: path
        name: publicationId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: Document with Id specified
        explode: false
        in: path
        name: documentId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            text/plain:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            text/plain:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
      summary: Return a document.
      tags:
      - Documents
      x-accepts:
      - application/json
      - text/json
      - text/plain
  /api/v1/Rss/Bills/{id}.rss:
    get:
      parameters:
      - description: Id of Bill
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            text/plain:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            text/plain:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
      summary: Returns an Rss feed of a certain Bill.
      tags:
      - Rss
      x-accepts:
      - application/json
      - text/json
      - text/plain
  /api/v1/Rss/allbills.rss:
    get:
      responses:
        "200":
          description: Success
      summary: Returns an Rss feed of all Bills.
      tags:
      - Rss
      x-accepts:
      - application/json
  /api/v1/Rss/privatebills.rss:
    get:
      responses:
        "200":
          description: Success
      summary: Returns an Rss feed of private Bills.
      tags:
      - Rss
      x-accepts:
      - application/json
  /api/v1/Rss/publicbills.rss:
    get:
      responses:
        "200":
          description: Success
      summary: Returns an Rss feed of public Bills.
      tags:
      - Rss
      x-accepts:
      - application/json
  /api/v1/Sittings:
    get:
      operationId: GetSittings
      parameters:
      - explode: true
        in: query
        name: House
        required: false
        schema:
          $ref: '#/components/schemas/House'
        style: form
      - explode: true
        in: query
        name: DateFrom
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: DateTo
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: Skip
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: Take
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillStageSittingSearchResult'
            text/json:
              schema:
                $ref: '#/components/schemas/BillStageSittingSearchResult'
            text/plain:
              schema:
                $ref: '#/components/schemas/BillStageSittingSearchResult'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            text/plain:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
      summary: Returns a list of Sittings.
      tags:
      - Sittings
      x-accepts:
      - application/json
      - text/json
      - text/plain
  /api/v1/Stages:
    get:
      parameters:
      - explode: true
        in: query
        name: Skip
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: Take
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StageReferenceSearchResult'
            text/json:
              schema:
                $ref: '#/components/schemas/StageReferenceSearchResult'
            text/plain:
              schema:
                $ref: '#/components/schemas/StageReferenceSearchResult'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            text/plain:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
      summary: Returns a list of Bill stages.
      tags:
      - Stages
      x-accepts:
      - application/json
      - text/json
      - text/plain
components:
  schemas:
    AmendmentDecision:
      enum:
      - NoDecision
      - Withdrawn
      - Disagreed
      - NotMoved
      - Agreed
      type: string
    AmendmentDetail:
      additionalProperties: false
      example:
        amendmentNote: amendmentNote
        clause: 5
        pageNumber: 7
        decision: NoDecision
        amendmentType: EditLongTitle
        amendmentId: 0
        explanatoryTextPrefix: explanatoryTextPrefix
        marshalledListText: marshalledListText
        amendmentLines:
        - hangingIndentation: hangingIndentation
          isImage: true
          indentation: 6
          text: text
          imageType: imageType
        - hangingIndentation: hangingIndentation
          isImage: true
          indentation: 6
          text: text
          imageType: imageType
        explanatoryText: explanatoryText
        schedule: 9
        amendmentPosition: amendmentPosition
        sponsors:
        - isLead: true
          memberPage: memberPage
          sortOrder: 3
          name: name
          partyColour: partyColour
          house: All
          memberFrom: memberFrom
          memberPhoto: memberPhoto
          party: party
          memberId: 9
        - isLead: true
          memberPage: memberPage
          sortOrder: 3
          name: name
          partyColour: partyColour
          house: All
          memberFrom: memberFrom
          memberPhoto: memberPhoto
          party: party
          memberId: 9
        billId: 1
        billStageId: 5
        lineNumber: 2
      properties:
        amendmentId:
          format: int32
          type: integer
        amendmentLines:
          items:
            $ref: '#/components/schemas/AmendmentLine'
          nullable: true
          type: array
        amendmentNote:
          nullable: true
          type: string
        amendmentPosition:
          nullable: true
          type: string
        amendmentType:
          $ref: '#/components/schemas/AmendmentType'
        billId:
          format: int32
          type: integer
        billStageId:
          format: int32
          type: integer
        clause:
          format: int32
          nullable: true
          type: integer
        decision:
          $ref: '#/components/schemas/AmendmentDecision'
        explanatoryText:
          nullable: true
          type: string
        explanatoryTextPrefix:
          nullable: true
          type: string
        lineNumber:
          format: int32
          nullable: true
          type: integer
        marshalledListText:
          nullable: true
          type: string
        pageNumber:
          format: int32
          nullable: true
          type: integer
        schedule:
          format: int32
          nullable: true
          type: integer
        sponsors:
          items:
            $ref: '#/components/schemas/AmendmentMember'
          nullable: true
          type: array
      type: object
    AmendmentLine:
      additionalProperties: false
      example:
        hangingIndentation: hangingIndentation
        isImage: true
        indentation: 6
        text: text
        imageType: imageType
      properties:
        hangingIndentation:
          nullable: true
          type: string
        imageType:
          nullable: true
          type: string
        indentation:
          format: int32
          type: integer
        isImage:
          type: boolean
        text:
          nullable: true
          type: string
      type: object
    AmendmentMember:
      additionalProperties: false
      example:
        isLead: true
        memberPage: memberPage
        sortOrder: 3
        name: name
        partyColour: partyColour
        house: All
        memberFrom: memberFrom
        memberPhoto: memberPhoto
        party: party
        memberId: 9
      properties:
        house:
          $ref: '#/components/schemas/House'
        isLead:
          type: boolean
        memberFrom:
          nullable: true
          type: string
        memberId:
          format: int32
          type: integer
        memberPage:
          nullable: true
          type: string
        memberPhoto:
          nullable: true
          type: string
        name:
          nullable: true
          type: string
        party:
          nullable: true
          type: string
        partyColour:
          nullable: true
          type: string
        sortOrder:
          format: int32
          type: integer
      type: object
    AmendmentSearchItem:
      additionalProperties: false
      example:
        clause: 5
        pageNumber: 2
        decision: NoDecision
        amendmentType: EditLongTitle
        amendmentId: 0
        marshalledListText: marshalledListText
        schedule: 7
        summaryText:
        - summaryText
        - summaryText
        amendmentPosition: amendmentPosition
        sponsors:
        - isLead: true
          memberPage: memberPage
          sortOrder: 3
          name: name
          partyColour: partyColour
          house: All
          memberFrom: memberFrom
          memberPhoto: memberPhoto
          party: party
          memberId: 9
        - isLead: true
          memberPage: memberPage
          sortOrder: 3
          name: name
          partyColour: partyColour
          house: All
          memberFrom: memberFrom
          memberPhoto: memberPhoto
          party: party
          memberId: 9
        billId: 6
        billStageId: 1
        lineNumber: 5
      properties:
        amendmentId:
          format: int32
          type: integer
        amendmentPosition:
          nullable: true
          type: string
        amendmentType:
          $ref: '#/components/schemas/AmendmentType'
        billId:
          format: int32
          type: integer
        billStageId:
          format: int32
          type: integer
        clause:
          format: int32
          nullable: true
          type: integer
        decision:
          $ref: '#/components/schemas/AmendmentDecision'
        lineNumber:
          format: int32
          nullable: true
          type: integer
        marshalledListText:
          nullable: true
          type: string
        pageNumber:
          format: int32
          nullable: true
          type: integer
        schedule:
          format: int32
          nullable: true
          type: integer
        sponsors:
          items:
            $ref: '#/components/schemas/AmendmentMember'
          nullable: true
          type: array
        summaryText:
          items:
            type: string
          nullable: true
          type: array
      type: object
    AmendmentSearchItemSearchResult:
      additionalProperties: false
      example:
        totalResults: 4
        itemsPerPage: 2
        items:
        - clause: 5
          pageNumber: 2
          decision: NoDecision
          amendmentType: EditLongTitle
          amendmentId: 0
          marshalledListText: marshalledListText
          schedule: 7
          summaryText:
          - summaryText
          - summaryText
          amendmentPosition: amendmentPosition
          sponsors:
          - isLead: true
            memberPage: memberPage
            sortOrder: 3
            name: name
            partyColour: partyColour
            house: All
            memberFrom: memberFrom
            memberPhoto: memberPhoto
            party: party
            memberId: 9
          - isLead: true
            memberPage: memberPage
            sortOrder: 3
            name: name
            partyColour: partyColour
            house: All
            memberFrom: memberFrom
            memberPhoto: memberPhoto
            party: party
            memberId: 9
          billId: 6
          billStageId: 1
          lineNumber: 5
        - clause: 5
          pageNumber: 2
          decision: NoDecision
          amendmentType: EditLongTitle
          amendmentId: 0
          marshalledListText: marshalledListText
          schedule: 7
          summaryText:
          - summaryText
          - summaryText
          amendmentPosition: amendmentPosition
          sponsors:
          - isLead: true
            memberPage: memberPage
            sortOrder: 3
            name: name
            partyColour: partyColour
            house: All
            memberFrom: memberFrom
            memberPhoto: memberPhoto
            party: party
            memberId: 9
          - isLead: true
            memberPage: memberPage
            sortOrder: 3
            name: name
            partyColour: partyColour
            house: All
            memberFrom: memberFrom
            memberPhoto: memberPhoto
            party: party
            memberId: 9
          billId: 6
          billStageId: 1
          lineNumber: 5
      properties:
        items:
          items:
            $ref: '#/components/schemas/AmendmentSearchItem'
          nullable: true
          type: array
        itemsPerPage:
          format: int32
          type: integer
        totalResults:
          format: int32
          type: integer
      type: object
    AmendmentType:
      enum:
      - EditLongTitle
      - EditBillBody
      - AddClauseOrSchedule
      - DeleteClauseOrSchedule
      type: string
    Bill:
      additionalProperties: false
      example:
        currentHouse: All
        petitionInformation: petitionInformation
        summary: summary
        currentStage:
          stageSittings:
          - date: 2000-01-23T04:56:07.000+00:00
            billId: 7
            billStageId: 9
            id: 3
            stageId: 2
          - date: 2000-01-23T04:56:07.000+00:00
            billId: 7
            billStageId: 9
            id: 3
            stageId: 2
          sortOrder: 5
          description: description
          id: 1
          sessionId: 5
          abbreviation: abbreviation
          house: null
          stageId: 2
        agent:
          website: website
          address: address
          name: name
          email: email
          phoneNo: phoneNo
        originatingHouse: null
        billWithdrawn: 2000-01-23T04:56:07.000+00:00
        shortTitle: shortTitle
        isDefeated: true
        isAct: true
        sponsors:
        - sortOrder: 2
          member:
            memberPage: memberPage
            name: name
            partyColour: partyColour
            house: null
            memberFrom: memberFrom
            memberPhoto: memberPhoto
            party: party
            memberId: 5
          organisation:
            name: name
            url: url
        - sortOrder: 2
          member:
            memberPage: memberPage
            name: name
            partyColour: partyColour
            house: null
            memberFrom: memberFrom
            memberPhoto: memberPhoto
            party: party
            memberId: 5
          organisation:
            name: name
            url: url
        billId: 0
        lastUpdate: 2000-01-23T04:56:07.000+00:00
        petitioningPeriod: petitioningPeriod
        introducedSessionId: 5
        includedSessionIds:
        - 1
        - 1
        promoters:
        - organisationName: organisationName
          organisationUrl: organisationUrl
        - organisationName: organisationName
          organisationUrl: organisationUrl
        billTypeId: 6
        longTitle: longTitle
      properties:
        agent:
          $ref: '#/components/schemas/BillAgent'
        billId:
          format: int32
          type: integer
        billTypeId:
          format: int32
          type: integer
        billWithdrawn:
          format: date-time
          nullable: true
          type: string
        currentHouse:
          $ref: '#/components/schemas/House'
        currentStage:
          $ref: '#/components/schemas/StageSummary'
        includedSessionIds:
          items:
            format: int32
            type: integer
          nullable: true
          type: array
        introducedSessionId:
          format: int32
          type: integer
        isAct:
          type: boolean
        isDefeated:
          type: boolean
        lastUpdate:
          format: date-time
          type: string
        longTitle:
          nullable: true
          type: string
        originatingHouse:
          $ref: '#/components/schemas/House'
        petitionInformation:
          nullable: true
          type: string
        petitioningPeriod:
          nullable: true
          type: string
        promoters:
          items:
            $ref: '#/components/schemas/Promoter'
          nullable: true
          type: array
        shortTitle:
          nullable: true
          type: string
        sponsors:
          items:
            $ref: '#/components/schemas/Sponsor'
          nullable: true
          type: array
        summary:
          nullable: true
          type: string
      type: object
    BillAgent:
      additionalProperties: false
      example:
        website: website
        address: address
        name: name
        email: email
        phoneNo: phoneNo
      properties:
        address:
          nullable: true
          type: string
        email:
          nullable: true
          type: string
        name:
          nullable: true
          type: string
        phoneNo:
          nullable: true
          type: string
        website:
          nullable: true
          type: string
      type: object
    BillPublication:
      additionalProperties: false
      example:
        displayDate: 2000-01-23T04:56:07.000+00:00
        publicationType:
          name: name
          description: description
          id: 2
        files:
        - filename: filename
          contentLength: 6
          id: 1
          contentType: contentType
        - filename: filename
          contentLength: 6
          id: 1
          contentType: contentType
        links:
        - id: 5
          title: title
          contentType: contentType
          url: url
        - id: 5
          title: title
          contentType: contentType
          url: url
        id: 5
        title: title
        house: All
      properties:
        displayDate:
          format: date-time
          type: string
        files:
          items:
            $ref: '#/components/schemas/PublicationDocument'
          nullable: true
          type: array
        house:
          $ref: '#/components/schemas/House'
        id:
          format: int32
          type: integer
        links:
          items:
            $ref: '#/components/schemas/PublicationLink'
          nullable: true
          type: array
        publicationType:
          $ref: '#/components/schemas/PublicationType'
        title:
          nullable: true
          type: string
      type: object
    BillPublicationList:
      additionalProperties: false
      example:
        billId: 0
        publications:
        - displayDate: 2000-01-23T04:56:07.000+00:00
          publicationType:
            name: name
            description: description
            id: 2
          files:
          - filename: filename
            contentLength: 6
            id: 1
            contentType: contentType
          - filename: filename
            contentLength: 6
            id: 1
            contentType: contentType
          links:
          - id: 5
            title: title
            contentType: contentType
            url: url
          - id: 5
            title: title
            contentType: contentType
            url: url
          id: 5
          title: title
          house: All
        - displayDate: 2000-01-23T04:56:07.000+00:00
          publicationType:
            name: name
            description: description
            id: 2
          files:
          - filename: filename
            contentLength: 6
            id: 1
            contentType: contentType
          - filename: filename
            contentLength: 6
            id: 1
            contentType: contentType
          links:
          - id: 5
            title: title
            contentType: contentType
            url: url
          - id: 5
            title: title
            contentType: contentType
            url: url
          id: 5
          title: title
          house: All
      properties:
        billId:
          format: int32
          type: integer
        publications:
          items:
            $ref: '#/components/schemas/BillPublication'
          nullable: true
          type: array
      type: object
    BillSortOrder:
      enum:
      - TitleAscending
      - TitleDescending
      - DateUpdatedAscending
      - DateUpdatedDescending
      type: string
    BillStageDetails:
      additionalProperties: false
      example:
        stageSittings:
        - date: 2000-01-23T04:56:07.000+00:00
          billId: 7
          billStageId: 9
          id: 3
          stageId: 2
        - date: 2000-01-23T04:56:07.000+00:00
          billId: 7
          billStageId: 9
          id: 3
          stageId: 2
        committee:
          name: name
          id: 0
          category: category
          house: Commons
          url: url
        lastUpdate: 2000-01-23T04:56:07.000+00:00
        sortOrder: 2
        description: description
        nextStageBillStageId: 1
        id: 6
        sessionId: 5
        abbreviation: abbreviation
        house: All
        previousStageBillStageId: 5
        stageId: 7
      properties:
        abbreviation:
          nullable: true
          type: string
        committee:
          $ref: '#/components/schemas/Committee'
        description:
          nullable: true
          type: string
        house:
          $ref: '#/components/schemas/House'
        id:
          format: int32
          type: integer
        lastUpdate:
          format: date-time
          type: string
        nextStageBillStageId:
          format: int32
          nullable: true
          type: integer
        previousStageBillStageId:
          format: int32
          nullable: true
          type: integer
        sessionId:
          format: int32
          type: integer
        sortOrder:
          format: int32
          type: integer
        stageId:
          format: int32
          type: integer
        stageSittings:
          items:
            $ref: '#/components/schemas/BillStageSitting'
          nullable: true
          type: array
      type: object
    BillStagePublicationList:
      additionalProperties: false
      example:
        billStageId: 0
        sittings:
        - sittingId: 1
          publications:
          - displayDate: 2000-01-23T04:56:07.000+00:00
            publicationType:
              name: name
              description: description
              id: 2
            files:
            - filename: filename
              contentLength: 6
              id: 1
              contentType: contentType
            - filename: filename
              contentLength: 6
              id: 1
              contentType: contentType
            links:
            - id: 5
              title: title
              contentType: contentType
              url: url
            - id: 5
              title: title
              contentType: contentType
              url: url
            id: 6
            title: title
          - displayDate: 2000-01-23T04:56:07.000+00:00
            publicationType:
              name: name
              description: description
              id: 2
            files:
            - filename: filename
              contentLength: 6
              id: 1
              contentType: contentType
            - filename: filename
              contentLength: 6
              id: 1
              contentType: contentType
            links:
            - id: 5
              title: title
              contentType: contentType
              url: url
            - id: 5
              title: title
              contentType: contentType
              url: url
            id: 6
            title: title
        - sittingId: 1
          publications:
          - displayDate: 2000-01-23T04:56:07.000+00:00
            publicationType:
              name: name
              description: description
              id: 2
            files:
            - filename: filename
              contentLength: 6
              id: 1
              contentType: contentType
            - filename: filename
              contentLength: 6
              id: 1
              contentType: contentType
            links:
            - id: 5
              title: title
              contentType: contentType
              url: url
            - id: 5
              title: title
              contentType: contentType
              url: url
            id: 6
            title: title
          - displayDate: 2000-01-23T04:56:07.000+00:00
            publicationType:
              name: name
              description: description
              id: 2
            files:
            - filename: filename
              contentLength: 6
              id: 1
              contentType: contentType
            - filename: filename
              contentLength: 6
              id: 1
              contentType: contentType
            links:
            - id: 5
              title: title
              contentType: contentType
              url: url
            - id: 5
              title: title
              contentType: contentType
              url: url
            id: 6
            title: title
        publications:
        - displayDate: 2000-01-23T04:56:07.000+00:00
          publicationType:
            name: name
            description: description
            id: 2
          files:
          - filename: filename
            contentLength: 6
            id: 1
            contentType: contentType
          - filename: filename
            contentLength: 6
            id: 1
            contentType: contentType
          links:
          - id: 5
            title: title
            contentType: contentType
            url: url
          - id: 5
            title: title
            contentType: contentType
            url: url
          id: 6
          title: title
        - displayDate: 2000-01-23T04:56:07.000+00:00
          publicationType:
            name: name
            description: description
            id: 2
          files:
          - filename: filename
            contentLength: 6
            id: 1
            contentType: contentType
          - filename: filename
            contentLength: 6
            id: 1
            contentType: contentType
          links:
          - id: 5
            title: title
            contentType: contentType
            url: url
          - id: 5
            title: title
            contentType: contentType
            url: url
          id: 6
          title: title
      properties:
        billStageId:
          format: int32
          type: integer
        publications:
          items:
            $ref: '#/components/schemas/Publication'
          nullable: true
          type: array
        sittings:
          items:
            $ref: '#/components/schemas/BillStageSittingPublicationList'
          nullable: true
          type: array
      type: object
    BillStageSitting:
      additionalProperties: false
      example:
        date: 2000-01-23T04:56:07.000+00:00
        billId: 7
        billStageId: 9
        id: 3
        stageId: 2
      properties:
        billId:
          format: int32
          type: integer
        billStageId:
          format: int32
          type: integer
        date:
          format: date-time
          nullable: true
          type: string
        id:
          format: int32
          type: integer
        stageId:
          format: int32
          type: integer
      type: object
    BillStageSittingPublicationList:
      additionalProperties: false
      example:
        sittingId: 1
        publications:
        - displayDate: 2000-01-23T04:56:07.000+00:00
          publicationType:
            name: name
            description: description
            id: 2
          files:
          - filename: filename
            contentLength: 6
            id: 1
            contentType: contentType
          - filename: filename
            contentLength: 6
            id: 1
            contentType: contentType
          links:
          - id: 5
            title: title
            contentType: contentType
            url: url
          - id: 5
            title: title
            contentType: contentType
            url: url
          id: 6
          title: title
        - displayDate: 2000-01-23T04:56:07.000+00:00
          publicationType:
            name: name
            description: description
            id: 2
          files:
          - filename: filename
            contentLength: 6
            id: 1
            contentType: contentType
          - filename: filename
            contentLength: 6
            id: 1
            contentType: contentType
          links:
          - id: 5
            title: title
            contentType: contentType
            url: url
          - id: 5
            title: title
            contentType: contentType
            url: url
          id: 6
          title: title
      properties:
        publications:
          items:
            $ref: '#/components/schemas/Publication'
          nullable: true
          type: array
        sittingId:
          format: int32
          type: integer
      type: object
    BillStageSittingSearchResult:
      additionalProperties: false
      example:
        totalResults: 6
        itemsPerPage: 0
        items:
        - date: 2000-01-23T04:56:07.000+00:00
          billId: 7
          billStageId: 9
          id: 3
          stageId: 2
        - date: 2000-01-23T04:56:07.000+00:00
          billId: 7
          billStageId: 9
          id: 3
          stageId: 2
      properties:
        items:
          items:
            $ref: '#/components/schemas/BillStageSitting'
          nullable: true
          type: array
        itemsPerPage:
          format: int32
          type: integer
        totalResults:
          format: int32
          type: integer
      type: object
    BillSummary:
      additionalProperties: false
      example:
        currentHouse: All
        currentStage:
          stageSittings:
          - date: 2000-01-23T04:56:07.000+00:00
            billId: 7
            billStageId: 9
            id: 3
            stageId: 2
          - date: 2000-01-23T04:56:07.000+00:00
            billId: 7
            billStageId: 9
            id: 3
            stageId: 2
          sortOrder: 5
          description: description
          id: 1
          sessionId: 5
          abbreviation: abbreviation
          house: null
          stageId: 2
        isDefeated: true
        isAct: true
        originatingHouse: null
        billId: 0
        billWithdrawn: 2000-01-23T04:56:07.000+00:00
        lastUpdate: 2000-01-23T04:56:07.000+00:00
        shortTitle: shortTitle
        introducedSessionId: 7
        includedSessionIds:
        - 4
        - 4
        billTypeId: 6
      properties:
        billId:
          format: int32
          type: integer
        billTypeId:
          format: int32
          type: integer
        billWithdrawn:
          format: date-time
          nullable: true
          type: string
        currentHouse:
          $ref: '#/components/schemas/House'
        currentStage:
          $ref: '#/components/schemas/StageSummary'
        includedSessionIds:
          items:
            format: int32
            type: integer
          nullable: true
          type: array
        introducedSessionId:
          format: int32
          type: integer
        isAct:
          type: boolean
        isDefeated:
          type: boolean
        lastUpdate:
          format: date-time
          type: string
        originatingHouse:
          $ref: '#/components/schemas/House'
        shortTitle:
          nullable: true
          type: string
      type: object
    BillSummarySearchResult:
      additionalProperties: false
      example:
        totalResults: 1
        itemsPerPage: 1
        items:
        - currentHouse: All
          currentStage:
            stageSittings:
            - date: 2000-01-23T04:56:07.000+00:00
              billId: 7
              billStageId: 9
              id: 3
              stageId: 2
            - date: 2000-01-23T04:56:07.000+00:00
              billId: 7
              billStageId: 9
              id: 3
              stageId: 2
            sortOrder: 5
            description: description
            id: 1
            sessionId: 5
            abbreviation: abbreviation
            house: null
            stageId: 2
          isDefeated: true
          isAct: true
          originatingHouse: null
          billId: 0
          billWithdrawn: 2000-01-23T04:56:07.000+00:00
          lastUpdate: 2000-01-23T04:56:07.000+00:00
          shortTitle: shortTitle
          introducedSessionId: 7
          includedSessionIds:
          - 4
          - 4
          billTypeId: 6
        - currentHouse: All
          currentStage:
            stageSittings:
            - date: 2000-01-23T04:56:07.000+00:00
              billId: 7
              billStageId: 9
              id: 3
              stageId: 2
            - date: 2000-01-23T04:56:07.000+00:00
              billId: 7
              billStageId: 9
              id: 3
              stageId: 2
            sortOrder: 5
            description: description
            id: 1
            sessionId: 5
            abbreviation: abbreviation
            house: null
            stageId: 2
          isDefeated: true
          isAct: true
          originatingHouse: null
          billId: 0
          billWithdrawn: 2000-01-23T04:56:07.000+00:00
          lastUpdate: 2000-01-23T04:56:07.000+00:00
          shortTitle: shortTitle
          introducedSessionId: 7
          includedSessionIds:
          - 4
          - 4
          billTypeId: 6
      properties:
        items:
          items:
            $ref: '#/components/schemas/BillSummary'
          nullable: true
          type: array
        itemsPerPage:
          format: int32
          type: integer
        totalResults:
          format: int32
          type: integer
      type: object
    BillType:
      additionalProperties: false
      example:
        name: name
        description: description
        id: 0
        category: Public
      properties:
        category:
          $ref: '#/components/schemas/BillTypeCategory'
        description:
          nullable: true
          type: string
        id:
          format: int32
          type: integer
        name:
          nullable: true
          type: string
      type: object
    BillTypeCategory:
      enum:
      - Public
      - Private
      - Hybrid
      type: string
    BillTypeSearchResult:
      additionalProperties: false
      example:
        totalResults: 1
        itemsPerPage: 6
        items:
        - name: name
          description: description
          id: 0
          category: Public
        - name: name
          description: description
          id: 0
          category: Public
      properties:
        items:
          items:
            $ref: '#/components/schemas/BillType'
          nullable: true
          type: array
        itemsPerPage:
          format: int32
          type: integer
        totalResults:
          format: int32
          type: integer
      type: object
    Committee:
      additionalProperties: false
      example:
        name: name
        id: 0
        category: category
        house: Commons
        url: url
      properties:
        category:
          nullable: true
          type: string
        house:
          $ref: '#/components/schemas/CommitteeHouse'
        id:
          format: int32
          type: integer
        name:
          nullable: true
          type: string
        url:
          nullable: true
          type: string
      type: object
    CommitteeHouse:
      enum:
      - Commons
      - Lords
      - Joint
      type: string
    Decision:
      enum:
      - All
      - NoDecision
      - Withdrawn
      - Disagreed
      - NotMoved
      - Agreed
      type: string
    House:
      enum:
      - All
      - Commons
      - Lords
      - Unassigned
      type: string
    Member:
      additionalProperties: false
      example:
        memberPage: memberPage
        name: name
        partyColour: partyColour
        house: null
        memberFrom: memberFrom
        memberPhoto: memberPhoto
        party: party
        memberId: 5
      properties:
        house:
          $ref: '#/components/schemas/House'
        memberFrom:
          nullable: true
          type: string
        memberId:
          format: int32
          type: integer
        memberPage:
          nullable: true
          type: string
        memberPhoto:
          nullable: true
          type: string
        name:
          nullable: true
          type: string
        party:
          nullable: true
          type: string
        partyColour:
          nullable: true
          type: string
      type: object
    NewsArticlesSummary:
      additionalProperties: false
      example:
        displayDate: 2000-01-23T04:56:07.000+00:00
        id: 0
        title: title
        content: content
      properties:
        content:
          nullable: true
          type: string
        displayDate:
          format: date-time
          nullable: true
          type: string
        id:
          format: int32
          type: integer
        title:
          nullable: true
          type: string
      type: object
    NewsArticlesSummarySearchResult:
      additionalProperties: false
      example:
        totalResults: 1
        itemsPerPage: 6
        items:
        - displayDate: 2000-01-23T04:56:07.000+00:00
          id: 0
          title: title
          content: content
        - displayDate: 2000-01-23T04:56:07.000+00:00
          id: 0
          title: title
          content: content
      properties:
        items:
          items:
            $ref: '#/components/schemas/NewsArticlesSummary'
          nullable: true
          type: array
        itemsPerPage:
          format: int32
          type: integer
        totalResults:
          format: int32
          type: integer
      type: object
    Organisation:
      additionalProperties: false
      example:
        name: name
        url: url
      properties:
        name:
          nullable: true
          type: string
        url:
          nullable: true
          type: string
      type: object
    OriginatingHouse:
      enum:
      - All
      - Commons
      - Lords
      type: string
    ProblemDetails:
      additionalProperties: {}
      example:
        instance: instance
        detail: detail
        title: title
        type: type
        status: 5
      properties:
        detail:
          nullable: true
          type: string
        instance:
          nullable: true
          type: string
        status:
          format: int32
          nullable: true
          type: integer
        title:
          nullable: true
          type: string
        type:
          nullable: true
          type: string
      type: object
    Promoter:
      additionalProperties: false
      example:
        organisationName: organisationName
        organisationUrl: organisationUrl
      properties:
        organisationName:
          nullable: true
          type: string
        organisationUrl:
          nullable: true
          type: string
      type: object
    Publication:
      additionalProperties: false
      example:
        displayDate: 2000-01-23T04:56:07.000+00:00
        publicationType:
          name: name
          description: description
          id: 2
        files:
        - filename: filename
          contentLength: 6
          id: 1
          contentType: contentType
        - filename: filename
          contentLength: 6
          id: 1
          contentType: contentType
        links:
        - id: 5
          title: title
          contentType: contentType
          url: url
        - id: 5
          title: title
          contentType: contentType
          url: url
        id: 6
        title: title
      properties:
        displayDate:
          format: date-time
          type: string
        files:
          items:
            $ref: '#/components/schemas/PublicationDocument'
          nullable: true
          type: array
        id:
          format: int32
          type: integer
        links:
          items:
            $ref: '#/components/schemas/PublicationLink'
          nullable: true
          type: array
        publicationType:
          $ref: '#/components/schemas/PublicationType'
        title:
          nullable: true
          type: string
      type: object
    PublicationDocument:
      additionalProperties: false
      example:
        filename: filename
        contentLength: 6
        id: 1
        contentType: contentType
      properties:
        contentLength:
          format: int32
          type: integer
        contentType:
          nullable: true
          type: string
        filename:
          nullable: true
          type: string
        id:
          format: int32
          type: integer
      type: object
    PublicationLink:
      additionalProperties: false
      example:
        id: 5
        title: title
        contentType: contentType
        url: url
      properties:
        contentType:
          nullable: true
          type: string
        id:
          format: int32
          type: integer
        title:
          nullable: true
          type: string
        url:
          nullable: true
          type: string
      type: object
    PublicationType:
      additionalProperties: false
      example:
        name: name
        description: description
        id: 2
      properties:
        description:
          nullable: true
          type: string
        id:
          format: int32
          type: integer
        name:
          nullable: true
          type: string
      type: object
    PublicationTypeSearchResult:
      additionalProperties: false
      example:
        totalResults: 6
        itemsPerPage: 0
        items:
        - name: name
          description: description
          id: 2
        - name: name
          description: description
          id: 2
      properties:
        items:
          items:
            $ref: '#/components/schemas/PublicationType'
          nullable: true
          type: array
        itemsPerPage:
          format: int32
          type: integer
        totalResults:
          format: int32
          type: integer
      type: object
    Sponsor:
      additionalProperties: false
      example:
        sortOrder: 2
        member:
          memberPage: memberPage
          name: name
          partyColour: partyColour
          house: null
          memberFrom: memberFrom
          memberPhoto: memberPhoto
          party: party
          memberId: 5
        organisation:
          name: name
          url: url
      properties:
        member:
          $ref: '#/components/schemas/Member'
        organisation:
          $ref: '#/components/schemas/Organisation'
        sortOrder:
          format: int32
          type: integer
      type: object
    StageReference:
      additionalProperties: false
      example:
        name: name
        id: 0
        house: All
      properties:
        house:
          $ref: '#/components/schemas/House'
        id:
          format: int32
          type: integer
        name:
          nullable: true
          type: string
      type: object
    StageReferenceSearchResult:
      additionalProperties: false
      example:
        totalResults: 1
        itemsPerPage: 6
        items:
        - name: name
          id: 0
          house: All
        - name: name
          id: 0
          house: All
      properties:
        items:
          items:
            $ref: '#/components/schemas/StageReference'
          nullable: true
          type: array
        itemsPerPage:
          format: int32
          type: integer
        totalResults:
          format: int32
          type: integer
      type: object
    StageSummary:
      additionalProperties: false
      example:
        stageSittings:
        - date: 2000-01-23T04:56:07.000+00:00
          billId: 7
          billStageId: 9
          id: 3
          stageId: 2
        - date: 2000-01-23T04:56:07.000+00:00
          billId: 7
          billStageId: 9
          id: 3
          stageId: 2
        sortOrder: 5
        description: description
        id: 1
        sessionId: 5
        abbreviation: abbreviation
        house: null
        stageId: 2
      properties:
        abbreviation:
          nullable: true
          type: string
        description:
          nullable: true
          type: string
        house:
          $ref: '#/components/schemas/House'
        id:
          format: int32
          type: integer
        sessionId:
          format: int32
          type: integer
        sortOrder:
          format: int32
          type: integer
        stageId:
          format: int32
          type: integer
        stageSittings:
          items:
            $ref: '#/components/schemas/BillStageSitting'
          nullable: true
          type: array
      type: object
    StageSummarySearchResult:
      additionalProperties: false
      example:
        totalResults: 6
        itemsPerPage: 0
        items:
        - stageSittings:
          - date: 2000-01-23T04:56:07.000+00:00
            billId: 7
            billStageId: 9
            id: 3
            stageId: 2
          - date: 2000-01-23T04:56:07.000+00:00
            billId: 7
            billStageId: 9
            id: 3
            stageId: 2
          sortOrder: 5
          description: description
          id: 1
          sessionId: 5
          abbreviation: abbreviation
          house: null
          stageId: 2
        - stageSittings:
          - date: 2000-01-23T04:56:07.000+00:00
            billId: 7
            billStageId: 9
            id: 3
            stageId: 2
          - date: 2000-01-23T04:56:07.000+00:00
            billId: 7
            billStageId: 9
            id: 3
            stageId: 2
          sortOrder: 5
          description: description
          id: 1
          sessionId: 5
          abbreviation: abbreviation
          house: null
          stageId: 2
      properties:
        items:
          items:
            $ref: '#/components/schemas/StageSummary'
          nullable: true
          type: array
        itemsPerPage:
          format: int32
          type: integer
        totalResults:
          format: int32
          type: integer
      type: object

