openapi: 3.0.0
info:
  contact:
    x-twitter: nfldata
  description: CS:GO v3 Stats
  title: CS:GO v3 Stats
  version: "1.0"
  x-apisguru-categories:
  - entertainment
  x-logo:
    url: https://twitter.com/nfldata/profile_image?size=original
  x-origin:
  - format: swagger
    url: https://fantasydata.com/downloads/swagger/csgo-v3-stats.json
    version: "2.0"
  x-providerName: sportsdata.io
  x-serviceName: csgo-v3-stats
servers:
- url: http://azure-api.sportsdata.io/v3/csgo/stats
- url: https://azure-api.sportsdata.io/v3/csgo/stats
security:
- apiKeyHeader: []
- apiKeyQuery: []
paths:
  /{format}/ActiveMemberships:
    get:
      description: Memberships (Active)
      operationId: memberships_active
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Membership'
                type: array
          description: ""
      summary: Memberships (Active)
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/Areas:
    get:
      description: Areas (Countries)
      operationId: areas_countries
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Area'
                type: array
          description: ""
      summary: Areas (Countries)
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/BoxScore/{gameid}:
    get:
      description: Box Scores by Date
      operationId: box_score
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          type: string
        style: simple
      - description: "Unique GameId for the desired box scores. Examples: <code>100000091</code>"
        explode: false
        in: path
        name: gameid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/BoxScore'
                type: array
          description: ""
      summary: Box Score
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/BoxScores/{date}:
    get:
      description: Box Scores by Date
      operationId: box_scores_by_date
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          type: string
        style: simple
      - description: |-
          The date of the game(s).
          <br>Examples: <code>2018-01-13</code>, <code>2018-06-13</code>.
        explode: false
        in: path
        name: date
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/BoxScore'
                type: array
          description: ""
      summary: Box Scores by Date
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/CompetitionDetails/{competitionid}:
    get:
      description: Competition Fixtures (League Details)
      operationId: competition_fixtures_league_details
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          type: string
        style: simple
      - description: "A CS:GO competition/league unique CompetitionId. Possible values\
          \ include: <code>100000009</code>, etc."
        explode: false
        in: path
        name: competitionid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompetitionDetail'
          description: ""
      summary: Competition Fixtures (League Details)
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/Competitions:
    get:
      description: Competitions (Leagues)
      operationId: competitions_leagues
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Competition'
                type: array
          description: ""
      summary: Competitions (Leagues)
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/GamesByDate/{date}:
    get:
      description: Games by Date
      operationId: games_by_date
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          type: string
        style: simple
      - description: |-
          The date of the game(s).
          <br>Examples: <code>2018-01-13</code>, <code>2018-06-13</code>.
        explode: false
        in: path
        name: date
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Game'
                type: array
          description: ""
      summary: Games by Date
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/HistoricalMemberships:
    get:
      description: Memberships (Historical)
      operationId: memberships_historical
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Membership'
                type: array
          description: ""
      summary: Memberships (Historical)
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/HistoricalMembershipsByTeam/{teamid}:
    get:
      description: Memberships by Team (Historical)
      operationId: memberships_by_team_historical
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          type: string
        style: simple
      - description: "Unique FantasyData Team ID. \nExample:<code>100000001</code>."
        explode: false
        in: path
        name: teamid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Membership'
                type: array
          description: ""
      summary: Memberships by Team (Historical)
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/MembershipsByTeam/{teamid}:
    get:
      description: Memberships by Team (Active)
      operationId: memberships_by_team_active
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          type: string
        style: simple
      - description: "Unique FantasyData Team ID. \nExample:<code>100000001</code>."
        explode: false
        in: path
        name: teamid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Membership'
                type: array
          description: ""
      summary: Memberships by Team (Active)
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/Player/{playerid}:
    get:
      description: Player
      operationId: player
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          type: string
        style: simple
      - description: |-
          Unique FantasyData Player ID.
          Example:<code>100000576</code>.
        explode: false
        in: path
        name: playerid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Player'
          description: ""
      summary: Player
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/Players:
    get:
      description: Players
      operationId: players
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Player'
                type: array
          description: ""
      summary: Players
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/PlayersByTeam/{teamid}:
    get:
      description: Players by Team
      operationId: players_by_team
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          type: string
        style: simple
      - description: "Unique FantasyData Team ID. \nExample:<code>100000001</code>."
        explode: false
        in: path
        name: teamid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Player'
                type: array
          description: ""
      summary: Players by Team
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/Schedule/{roundid}:
    get:
      description: Schedule
      operationId: schedule
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          type: string
        style: simple
      - description: "Unique FantasyData Round ID. RoundIDs can be found in the Competitions\
          \ and Competition Details endpoints. \nExamples: <code>100000138</code>,\
          \ <code>1000001412</code>, etc"
        explode: false
        in: path
        name: roundid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Game'
                type: array
          description: ""
      summary: Schedule
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/SeasonTeams/{seasonid}:
    get:
      description: Season Teams
      operationId: season_teams
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          type: string
        style: simple
      - description: "Unique FantasyData Season ID. SeasonIDs can be found in the\
          \ Competitions and Competition Details endpoints. \nExamples: <code>100000023</code>,\
          \ <code>100000024</code>, etc"
        explode: false
        in: path
        name: seasonid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/SeasonTeam'
                type: array
          description: ""
      summary: Season Teams
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/Standings/{roundid}:
    get:
      description: Schedule
      operationId: standings
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          type: string
        style: simple
      - description: "Unique FantasyData Round ID. RoundIDs can be found in the Competitions\
          \ and Competition Details endpoints. \nExample: <code>100000138</code>,\
          \ etc"
        explode: false
        in: path
        name: roundid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Standing'
                type: array
          description: ""
      summary: Standings
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/Teams:
    get:
      description: Teams
      operationId: teams
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Team'
                type: array
          description: ""
      summary: Teams
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/Venues:
    get:
      description: Venues
      operationId: venues
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Venue'
                type: array
          description: ""
      summary: Venues
      x-openapi-router-controller: openapi_server.controllers.default_controller
components:
  schemas:
    Area:
      example:
        AreaId: 0
        CountryCode: CountryCode
        Name: Name
      properties:
        AreaId:
          nullable: false
          title: AreaId
          type: integer
        CountryCode:
          nullable: true
          title: CountryCode
          type: string
        Name:
          nullable: true
          title: Name
          type: string
      title: Area
    BoxScore:
      example:
        Game:
          Group: Group
          TeamAKey: TeamAKey
          TeamAMoneyLine: 9
          IsClosed: true
          TeamBMoneyLine: 7
          DateTime: DateTime
          TeamBId: 4
          TeamAName: TeamAName
          DrawMoneyLine: 0
          TeamAScore: 2
          Season: 5
          BestOf: BestOf
          TeamBName: TeamBName
          Status: Status
          RoundId: 5
          Updated: Updated
          TeamBPointSpreadPayout: 1
          TeamBKey: TeamBKey
          Winner: Winner
          TeamAId: 7
          SeasonType: 2
          PointSpread: 1.4658129805029452
          TeamAPointSpreadPayout: 3
          VenueType: VenueType
          UpdatedUtc: UpdatedUtc
          VenueId: 1
          Day: Day
          Week: 6
          GameId: 6
          TeamBScore: 1
        Maps:
        - Status: Status
          TeamAScore: 6
          Number: 7
          CurrentRound: 7
          Leaderboards:
          - Clutch1v5s: 8.762042012749001
            Headshots: 2.8841621266687802
            Clutch1v3s: 9.369310271410669
            Rating: 7.143538047012306
            AverageDamagePerRound: 5.025004791520295
            IsClosed: true
            DateTime: DateTime
            Name: Name
            OpponentId: 6
            Maps: 5.944895607614016
            MatchName: MatchName
            Opponent: Opponent
            Deaths: 9.018348186070783
            Team: Team
            FantasyPoints: 3.5571952270680973
            PlayerId: 3
            Clutch1v4s: 6.683562403749608
            Updated: Updated
            Clutch1v2s: 9.965781217890562
            Kills: 6.878052220127876
            TeamId: 0
            EntryKills: 6.438423552598547
            QuadKills: 3.0937452626664474
            Aces: 1.1730742509559433
            Assists: 4.965218492984954
            Kast: 6.778324963048013
            Games: 1
            UpdatedUtc: UpdatedUtc
            Day: Day
            GameId: 6
          - Clutch1v5s: 8.762042012749001
            Headshots: 2.8841621266687802
            Clutch1v3s: 9.369310271410669
            Rating: 7.143538047012306
            AverageDamagePerRound: 5.025004791520295
            IsClosed: true
            DateTime: DateTime
            Name: Name
            OpponentId: 6
            Maps: 5.944895607614016
            MatchName: MatchName
            Opponent: Opponent
            Deaths: 9.018348186070783
            Team: Team
            FantasyPoints: 3.5571952270680973
            PlayerId: 3
            Clutch1v4s: 6.683562403749608
            Updated: Updated
            Clutch1v2s: 9.965781217890562
            Kills: 6.878052220127876
            TeamId: 0
            EntryKills: 6.438423552598547
            QuadKills: 3.0937452626664474
            Aces: 1.1730742509559433
            Assists: 4.965218492984954
            Kast: 6.778324963048013
            Games: 1
            UpdatedUtc: UpdatedUtc
            Day: Day
            GameId: 6
          Name: Name
          TeamBScore: 0
        - Status: Status
          TeamAScore: 6
          Number: 7
          CurrentRound: 7
          Leaderboards:
          - Clutch1v5s: 8.762042012749001
            Headshots: 2.8841621266687802
            Clutch1v3s: 9.369310271410669
            Rating: 7.143538047012306
            AverageDamagePerRound: 5.025004791520295
            IsClosed: true
            DateTime: DateTime
            Name: Name
            OpponentId: 6
            Maps: 5.944895607614016
            MatchName: MatchName
            Opponent: Opponent
            Deaths: 9.018348186070783
            Team: Team
            FantasyPoints: 3.5571952270680973
            PlayerId: 3
            Clutch1v4s: 6.683562403749608
            Updated: Updated
            Clutch1v2s: 9.965781217890562
            Kills: 6.878052220127876
            TeamId: 0
            EntryKills: 6.438423552598547
            QuadKills: 3.0937452626664474
            Aces: 1.1730742509559433
            Assists: 4.965218492984954
            Kast: 6.778324963048013
            Games: 1
            UpdatedUtc: UpdatedUtc
            Day: Day
            GameId: 6
          - Clutch1v5s: 8.762042012749001
            Headshots: 2.8841621266687802
            Clutch1v3s: 9.369310271410669
            Rating: 7.143538047012306
            AverageDamagePerRound: 5.025004791520295
            IsClosed: true
            DateTime: DateTime
            Name: Name
            OpponentId: 6
            Maps: 5.944895607614016
            MatchName: MatchName
            Opponent: Opponent
            Deaths: 9.018348186070783
            Team: Team
            FantasyPoints: 3.5571952270680973
            PlayerId: 3
            Clutch1v4s: 6.683562403749608
            Updated: Updated
            Clutch1v2s: 9.965781217890562
            Kills: 6.878052220127876
            TeamId: 0
            EntryKills: 6.438423552598547
            QuadKills: 3.0937452626664474
            Aces: 1.1730742509559433
            Assists: 4.965218492984954
            Kast: 6.778324963048013
            Games: 1
            UpdatedUtc: UpdatedUtc
            Day: Day
            GameId: 6
          Name: Name
          TeamBScore: 0
      properties:
        Game:
          $ref: '#/components/schemas/Game'
        Maps:
          items:
            $ref: '#/components/schemas/Map'
          title: Maps
          type: array
      title: BoxScore
    Competition:
      example:
        AreaName: AreaName
        PlayerStatsCoverage: true
        Type: Type
        Format: Format
        AreaId: 0
        Gender: Gender
        Seasons:
        - StartDate: StartDate
          Rounds:
          - StartDate: StartDate
            Type: Type
            SeasonType: 9
            RoundId: 5
            CurrentRound: true
            SeasonId: 7
            CurrentWeek: 5
            Season: 2
            EndDate: EndDate
            Name: Name
          - StartDate: StartDate
            Type: Type
            SeasonType: 9
            RoundId: 5
            CurrentRound: true
            SeasonId: 7
            CurrentWeek: 5
            Season: 2
            EndDate: EndDate
            Name: Name
          CurrentSeason: true
          CompetitionName: CompetitionName
          SeasonId: 2
          Season: 3
          CompetitionId: 1
          EndDate: EndDate
          Name: Name
        - StartDate: StartDate
          Rounds:
          - StartDate: StartDate
            Type: Type
            SeasonType: 9
            RoundId: 5
            CurrentRound: true
            SeasonId: 7
            CurrentWeek: 5
            Season: 2
            EndDate: EndDate
            Name: Name
          - StartDate: StartDate
            Type: Type
            SeasonType: 9
            RoundId: 5
            CurrentRound: true
            SeasonId: 7
            CurrentWeek: 5
            Season: 2
            EndDate: EndDate
            Name: Name
          CurrentSeason: true
          CompetitionName: CompetitionName
          SeasonId: 2
          Season: 3
          CompetitionId: 1
          EndDate: EndDate
          Name: Name
        CompetitionId: 6
        Name: Name
      properties:
        AreaId:
          nullable: false
          title: AreaId
          type: integer
        AreaName:
          nullable: true
          title: AreaName
          type: string
        CompetitionId:
          nullable: false
          title: CompetitionId
          type: integer
        Format:
          nullable: true
          title: Format
          type: string
        Gender:
          nullable: true
          title: Gender
          type: string
        Name:
          nullable: true
          title: Name
          type: string
        PlayerStatsCoverage:
          nullable: true
          title: PlayerStatsCoverage
          type: boolean
        Seasons:
          items:
            $ref: '#/components/schemas/Season'
          title: Seasons
          type: array
        Type:
          nullable: true
          title: Type
          type: string
      title: Competition
    CompetitionDetail:
      example:
        AreaName: AreaName
        PlayerStatsCoverage: true
        Type: Type
        Format: Format
        CurrentSeason:
          StartDate: StartDate
          Rounds:
          - StartDate: StartDate
            Type: Type
            SeasonType: 9
            RoundId: 5
            CurrentRound: true
            SeasonId: 7
            CurrentWeek: 5
            Season: 2
            EndDate: EndDate
            Name: Name
          - StartDate: StartDate
            Type: Type
            SeasonType: 9
            RoundId: 5
            CurrentRound: true
            SeasonId: 7
            CurrentWeek: 5
            Season: 2
            EndDate: EndDate
            Name: Name
          CurrentSeason: true
          CompetitionName: CompetitionName
          SeasonId: 2
          Season: 3
          CompetitionId: 1
          EndDate: EndDate
          Name: Name
        Games:
        - Group: Group
          TeamAKey: TeamAKey
          TeamAMoneyLine: 9
          IsClosed: true
          TeamBMoneyLine: 7
          DateTime: DateTime
          TeamBId: 4
          TeamAName: TeamAName
          DrawMoneyLine: 0
          TeamAScore: 2
          Season: 5
          BestOf: BestOf
          TeamBName: TeamBName
          Status: Status
          RoundId: 5
          Updated: Updated
          TeamBPointSpreadPayout: 1
          TeamBKey: TeamBKey
          Winner: Winner
          TeamAId: 7
          SeasonType: 2
          PointSpread: 1.4658129805029452
          TeamAPointSpreadPayout: 3
          VenueType: VenueType
          UpdatedUtc: UpdatedUtc
          VenueId: 1
          Day: Day
          Week: 6
          GameId: 6
          TeamBScore: 1
        - Group: Group
          TeamAKey: TeamAKey
          TeamAMoneyLine: 9
          IsClosed: true
          TeamBMoneyLine: 7
          DateTime: DateTime
          TeamBId: 4
          TeamAName: TeamAName
          DrawMoneyLine: 0
          TeamAScore: 2
          Season: 5
          BestOf: BestOf
          TeamBName: TeamBName
          Status: Status
          RoundId: 5
          Updated: Updated
          TeamBPointSpreadPayout: 1
          TeamBKey: TeamBKey
          Winner: Winner
          TeamAId: 7
          SeasonType: 2
          PointSpread: 1.4658129805029452
          TeamAPointSpreadPayout: 3
          VenueType: VenueType
          UpdatedUtc: UpdatedUtc
          VenueId: 1
          Day: Day
          Week: 6
          GameId: 6
          TeamBScore: 1
        AreaId: 0
        Teams:
        - Email: Email
          Founded: 7
          AreaId: 4
          Twitter: Twitter
          Website: Website
          ShortName: ShortName
          TertiaryColor: TertiaryColor
          Gender: Gender
          TeamId: 1
          YouTube: YouTube
          Name: Name
          AreaName: AreaName
          Active: true
          Type: Type
          PrimaryColor: PrimaryColor
          SecondaryColor: SecondaryColor
          Instagram: Instagram
          Facebook: Facebook
          Key: Key
          QuaternaryColor: QuaternaryColor
          Players:
          - PlayerId: 1
            Updated: Updated
            Position: Position
            FirstName: FirstName
            BirthCity: BirthCity
            MatchName: MatchName
            Gender: Gender
            LastName: LastName
            BirthCountry: BirthCountry
            Nationality: Nationality
            BirthDate: BirthDate
            CommonName: CommonName
          - PlayerId: 1
            Updated: Updated
            Position: Position
            FirstName: FirstName
            BirthCity: BirthCity
            MatchName: MatchName
            Gender: Gender
            LastName: LastName
            BirthCountry: BirthCountry
            Nationality: Nationality
            BirthDate: BirthDate
            CommonName: CommonName
        - Email: Email
          Founded: 7
          AreaId: 4
          Twitter: Twitter
          Website: Website
          ShortName: ShortName
          TertiaryColor: TertiaryColor
          Gender: Gender
          TeamId: 1
          YouTube: YouTube
          Name: Name
          AreaName: AreaName
          Active: true
          Type: Type
          PrimaryColor: PrimaryColor
          SecondaryColor: SecondaryColor
          Instagram: Instagram
          Facebook: Facebook
          Key: Key
          QuaternaryColor: QuaternaryColor
          Players:
          - PlayerId: 1
            Updated: Updated
            Position: Position
            FirstName: FirstName
            BirthCity: BirthCity
            MatchName: MatchName
            Gender: Gender
            LastName: LastName
            BirthCountry: BirthCountry
            Nationality: Nationality
            BirthDate: BirthDate
            CommonName: CommonName
          - PlayerId: 1
            Updated: Updated
            Position: Position
            FirstName: FirstName
            BirthCity: BirthCity
            MatchName: MatchName
            Gender: Gender
            LastName: LastName
            BirthCountry: BirthCountry
            Nationality: Nationality
            BirthDate: BirthDate
            CommonName: CommonName
        Gender: Gender
        Seasons:
        - StartDate: StartDate
          Rounds:
          - StartDate: StartDate
            Type: Type
            SeasonType: 9
            RoundId: 5
            CurrentRound: true
            SeasonId: 7
            CurrentWeek: 5
            Season: 2
            EndDate: EndDate
            Name: Name
          - StartDate: StartDate
            Type: Type
            SeasonType: 9
            RoundId: 5
            CurrentRound: true
            SeasonId: 7
            CurrentWeek: 5
            Season: 2
            EndDate: EndDate
            Name: Name
          CurrentSeason: true
          CompetitionName: CompetitionName
          SeasonId: 2
          Season: 3
          CompetitionId: 1
          EndDate: EndDate
          Name: Name
        - StartDate: StartDate
          Rounds:
          - StartDate: StartDate
            Type: Type
            SeasonType: 9
            RoundId: 5
            CurrentRound: true
            SeasonId: 7
            CurrentWeek: 5
            Season: 2
            EndDate: EndDate
            Name: Name
          - StartDate: StartDate
            Type: Type
            SeasonType: 9
            RoundId: 5
            CurrentRound: true
            SeasonId: 7
            CurrentWeek: 5
            Season: 2
            EndDate: EndDate
            Name: Name
          CurrentSeason: true
          CompetitionName: CompetitionName
          SeasonId: 2
          Season: 3
          CompetitionId: 1
          EndDate: EndDate
          Name: Name
        CompetitionId: 6
        Name: Name
      properties:
        AreaId:
          nullable: false
          title: AreaId
          type: integer
        AreaName:
          nullable: true
          title: AreaName
          type: string
        CompetitionId:
          nullable: false
          title: CompetitionId
          type: integer
        CurrentSeason:
          $ref: '#/components/schemas/Season'
        Format:
          nullable: true
          title: Format
          type: string
        Games:
          items:
            $ref: '#/components/schemas/Game'
          title: Games
          type: array
        Gender:
          nullable: true
          title: Gender
          type: string
        Name:
          nullable: true
          title: Name
          type: string
        PlayerStatsCoverage:
          nullable: true
          title: PlayerStatsCoverage
          type: boolean
        Seasons:
          items:
            $ref: '#/components/schemas/Season'
          title: Seasons
          type: array
        Teams:
          items:
            $ref: '#/components/schemas/TeamDetail'
          title: Teams
          type: array
        Type:
          nullable: true
          title: Type
          type: string
      title: CompetitionDetail
    Game:
      example:
        Group: Group
        TeamAKey: TeamAKey
        TeamAMoneyLine: 9
        IsClosed: true
        TeamBMoneyLine: 7
        DateTime: DateTime
        TeamBId: 4
        TeamAName: TeamAName
        DrawMoneyLine: 0
        TeamAScore: 2
        Season: 5
        BestOf: BestOf
        TeamBName: TeamBName
        Status: Status
        RoundId: 5
        Updated: Updated
        TeamBPointSpreadPayout: 1
        TeamBKey: TeamBKey
        Winner: Winner
        TeamAId: 7
        SeasonType: 2
        PointSpread: 1.4658129805029452
        TeamAPointSpreadPayout: 3
        VenueType: VenueType
        UpdatedUtc: UpdatedUtc
        VenueId: 1
        Day: Day
        Week: 6
        GameId: 6
        TeamBScore: 1
      properties:
        BestOf:
          nullable: true
          title: BestOf
          type: string
        DateTime:
          nullable: true
          title: DateTime
          type: string
        Day:
          nullable: true
          title: Day
          type: string
        DrawMoneyLine:
          nullable: true
          title: DrawMoneyLine
          type: integer
        GameId:
          nullable: false
          title: GameId
          type: integer
        Group:
          nullable: true
          title: Group
          type: string
        IsClosed:
          nullable: true
          title: IsClosed
          type: boolean
        PointSpread:
          nullable: true
          title: PointSpread
          type: number
        RoundId:
          nullable: false
          title: RoundId
          type: integer
        Season:
          nullable: false
          title: Season
          type: integer
        SeasonType:
          nullable: false
          title: SeasonType
          type: integer
        Status:
          nullable: true
          title: Status
          type: string
        TeamAId:
          nullable: true
          title: TeamAId
          type: integer
        TeamAKey:
          nullable: true
          title: TeamAKey
          type: string
        TeamAMoneyLine:
          nullable: true
          title: TeamAMoneyLine
          type: integer
        TeamAName:
          nullable: true
          title: TeamAName
          type: string
        TeamAPointSpreadPayout:
          nullable: true
          title: TeamAPointSpreadPayout
          type: integer
        TeamAScore:
          nullable: true
          title: TeamAScore
          type: integer
        TeamBId:
          nullable: true
          title: TeamBId
          type: integer
        TeamBKey:
          nullable: true
          title: TeamBKey
          type: string
        TeamBMoneyLine:
          nullable: true
          title: TeamBMoneyLine
          type: integer
        TeamBName:
          nullable: true
          title: TeamBName
          type: string
        TeamBPointSpreadPayout:
          nullable: true
          title: TeamBPointSpreadPayout
          type: integer
        TeamBScore:
          nullable: true
          title: TeamBScore
          type: integer
        Updated:
          nullable: true
          title: Updated
          type: string
        UpdatedUtc:
          nullable: true
          title: UpdatedUtc
          type: string
        VenueId:
          nullable: true
          title: VenueId
          type: integer
        VenueType:
          nullable: true
          title: VenueType
          type: string
        Week:
          nullable: true
          title: Week
          type: integer
        Winner:
          nullable: true
          title: Winner
          type: string
      title: Game
    Leaderboard:
      example:
        Clutch1v5s: 8.762042012749001
        Headshots: 2.8841621266687802
        Clutch1v3s: 9.369310271410669
        Rating: 7.143538047012306
        AverageDamagePerRound: 5.025004791520295
        IsClosed: true
        DateTime: DateTime
        Name: Name
        OpponentId: 6
        Maps: 5.944895607614016
        MatchName: MatchName
        Opponent: Opponent
        Deaths: 9.018348186070783
        Team: Team
        FantasyPoints: 3.5571952270680973
        PlayerId: 3
        Clutch1v4s: 6.683562403749608
        Updated: Updated
        Clutch1v2s: 9.965781217890562
        Kills: 6.878052220127876
        TeamId: 0
        EntryKills: 6.438423552598547
        QuadKills: 3.0937452626664474
        Aces: 1.1730742509559433
        Assists: 4.965218492984954
        Kast: 6.778324963048013
        Games: 1
        UpdatedUtc: UpdatedUtc
        Day: Day
        GameId: 6
      properties:
        Aces:
          nullable: true
          title: Aces
          type: number
        Assists:
          nullable: true
          title: Assists
          type: number
        AverageDamagePerRound:
          nullable: true
          title: AverageDamagePerRound
          type: number
        Clutch1v2s:
          nullable: true
          title: Clutch1v2s
          type: number
        Clutch1v3s:
          nullable: true
          title: Clutch1v3s
          type: number
        Clutch1v4s:
          nullable: true
          title: Clutch1v4s
          type: number
        Clutch1v5s:
          nullable: true
          title: Clutch1v5s
          type: number
        DateTime:
          nullable: true
          title: DateTime
          type: string
        Day:
          nullable: true
          title: Day
          type: string
        Deaths:
          nullable: true
          title: Deaths
          type: number
        EntryKills:
          nullable: true
          title: EntryKills
          type: number
        FantasyPoints:
          nullable: true
          title: FantasyPoints
          type: number
        GameId:
          nullable: true
          title: GameId
          type: integer
        Games:
          nullable: true
          title: Games
          type: integer
        Headshots:
          nullable: true
          title: Headshots
          type: number
        IsClosed:
          nullable: false
          title: IsClosed
          type: boolean
        Kast:
          nullable: true
          title: Kast
          type: number
        Kills:
          nullable: true
          title: Kills
          type: number
        Maps:
          nullable: true
          title: Maps
          type: number
        MatchName:
          nullable: true
          title: MatchName
          type: string
        Name:
          nullable: true
          title: Name
          type: string
        Opponent:
          nullable: true
          title: Opponent
          type: string
        OpponentId:
          nullable: true
          title: OpponentId
          type: integer
        PlayerId:
          nullable: true
          title: PlayerId
          type: integer
        QuadKills:
          nullable: true
          title: QuadKills
          type: number
        Rating:
          nullable: true
          title: Rating
          type: number
        Team:
          nullable: true
          title: Team
          type: string
        TeamId:
          nullable: true
          title: TeamId
          type: integer
        Updated:
          nullable: true
          title: Updated
          type: string
        UpdatedUtc:
          nullable: true
          title: UpdatedUtc
          type: string
      title: Leaderboard
    Map:
      example:
        Status: Status
        TeamAScore: 6
        Number: 7
        CurrentRound: 7
        Leaderboards:
        - Clutch1v5s: 8.762042012749001
          Headshots: 2.8841621266687802
          Clutch1v3s: 9.369310271410669
          Rating: 7.143538047012306
          AverageDamagePerRound: 5.025004791520295
          IsClosed: true
          DateTime: DateTime
          Name: Name
          OpponentId: 6
          Maps: 5.944895607614016
          MatchName: MatchName
          Opponent: Opponent
          Deaths: 9.018348186070783
          Team: Team
          FantasyPoints: 3.5571952270680973
          PlayerId: 3
          Clutch1v4s: 6.683562403749608
          Updated: Updated
          Clutch1v2s: 9.965781217890562
          Kills: 6.878052220127876
          TeamId: 0
          EntryKills: 6.438423552598547
          QuadKills: 3.0937452626664474
          Aces: 1.1730742509559433
          Assists: 4.965218492984954
          Kast: 6.778324963048013
          Games: 1
          UpdatedUtc: UpdatedUtc
          Day: Day
          GameId: 6
        - Clutch1v5s: 8.762042012749001
          Headshots: 2.8841621266687802
          Clutch1v3s: 9.369310271410669
          Rating: 7.143538047012306
          AverageDamagePerRound: 5.025004791520295
          IsClosed: true
          DateTime: DateTime
          Name: Name
          OpponentId: 6
          Maps: 5.944895607614016
          MatchName: MatchName
          Opponent: Opponent
          Deaths: 9.018348186070783
          Team: Team
          FantasyPoints: 3.5571952270680973
          PlayerId: 3
          Clutch1v4s: 6.683562403749608
          Updated: Updated
          Clutch1v2s: 9.965781217890562
          Kills: 6.878052220127876
          TeamId: 0
          EntryKills: 6.438423552598547
          QuadKills: 3.0937452626664474
          Aces: 1.1730742509559433
          Assists: 4.965218492984954
          Kast: 6.778324963048013
          Games: 1
          UpdatedUtc: UpdatedUtc
          Day: Day
          GameId: 6
        Name: Name
        TeamBScore: 0
      properties:
        CurrentRound:
          nullable: true
          title: CurrentRound
          type: integer
        Leaderboards:
          items:
            $ref: '#/components/schemas/Leaderboard'
          title: Leaderboards
          type: array
        Name:
          nullable: true
          title: Name
          type: string
        Number:
          nullable: true
          title: Number
          type: integer
        Status:
          nullable: true
          title: Status
          type: string
        TeamAScore:
          nullable: true
          title: TeamAScore
          type: integer
        TeamBScore:
          nullable: true
          title: TeamBScore
          type: integer
      title: Map
    Membership:
      example:
        StartDate: StartDate
        PlayerId: 6
        Active: true
        Updated: Updated
        MembershipId: 0
        PlayerName: PlayerName
        TeamArea: TeamArea
        TeamName: TeamName
        TeamId: 1
        EndDate: EndDate
      properties:
        Active:
          nullable: false
          title: Active
          type: boolean
        EndDate:
          nullable: true
          title: EndDate
          type: string
        MembershipId:
          nullable: false
          title: MembershipId
          type: integer
        PlayerId:
          nullable: false
          title: PlayerId
          type: integer
        PlayerName:
          nullable: true
          title: PlayerName
          type: string
        StartDate:
          nullable: true
          title: StartDate
          type: string
        TeamArea:
          nullable: true
          title: TeamArea
          type: string
        TeamId:
          nullable: false
          title: TeamId
          type: integer
        TeamName:
          nullable: true
          title: TeamName
          type: string
        Updated:
          nullable: true
          title: Updated
          type: string
      title: Membership
    Player:
      example:
        PlayerId: 1
        Updated: Updated
        Position: Position
        FirstName: FirstName
        BirthCity: BirthCity
        MatchName: MatchName
        Gender: Gender
        LastName: LastName
        BirthCountry: BirthCountry
        Nationality: Nationality
        BirthDate: BirthDate
        CommonName: CommonName
      properties:
        BirthCity:
          nullable: true
          title: BirthCity
          type: string
        BirthCountry:
          nullable: true
          title: BirthCountry
          type: string
        BirthDate:
          nullable: true
          title: BirthDate
          type: string
        CommonName:
          nullable: true
          title: CommonName
          type: string
        FirstName:
          nullable: true
          title: FirstName
          type: string
        Gender:
          nullable: true
          title: Gender
          type: string
        LastName:
          nullable: true
          title: LastName
          type: string
        MatchName:
          nullable: true
          title: MatchName
          type: string
        Nationality:
          nullable: true
          title: Nationality
          type: string
        PlayerId:
          nullable: false
          title: PlayerId
          type: integer
        Position:
          nullable: true
          title: Position
          type: string
        Updated:
          nullable: true
          title: Updated
          type: string
      title: Player
    Round:
      example:
        StartDate: StartDate
        Type: Type
        SeasonType: 9
        RoundId: 5
        CurrentRound: true
        SeasonId: 7
        CurrentWeek: 5
        Season: 2
        EndDate: EndDate
        Name: Name
      properties:
        CurrentRound:
          nullable: false
          title: CurrentRound
          type: boolean
        CurrentWeek:
          nullable: true
          title: CurrentWeek
          type: integer
        EndDate:
          nullable: true
          title: EndDate
          type: string
        Name:
          nullable: true
          title: Name
          type: string
        RoundId:
          nullable: false
          title: RoundId
          type: integer
        Season:
          nullable: false
          title: Season
          type: integer
        SeasonId:
          nullable: false
          title: SeasonId
          type: integer
        SeasonType:
          nullable: false
          title: SeasonType
          type: integer
        StartDate:
          nullable: true
          title: StartDate
          type: string
        Type:
          nullable: true
          title: Type
          type: string
      title: Round
    Season:
      example:
        StartDate: StartDate
        Rounds:
        - StartDate: StartDate
          Type: Type
          SeasonType: 9
          RoundId: 5
          CurrentRound: true
          SeasonId: 7
          CurrentWeek: 5
          Season: 2
          EndDate: EndDate
          Name: Name
        - StartDate: StartDate
          Type: Type
          SeasonType: 9
          RoundId: 5
          CurrentRound: true
          SeasonId: 7
          CurrentWeek: 5
          Season: 2
          EndDate: EndDate
          Name: Name
        CurrentSeason: true
        CompetitionName: CompetitionName
        SeasonId: 2
        Season: 3
        CompetitionId: 1
        EndDate: EndDate
        Name: Name
      properties:
        CompetitionId:
          nullable: false
          title: CompetitionId
          type: integer
        CompetitionName:
          nullable: true
          title: CompetitionName
          type: string
        CurrentSeason:
          nullable: false
          title: CurrentSeason
          type: boolean
        EndDate:
          nullable: true
          title: EndDate
          type: string
        Name:
          nullable: true
          title: Name
          type: string
        Rounds:
          items:
            $ref: '#/components/schemas/Round'
          title: Rounds
          type: array
        Season:
          nullable: false
          title: Season
          type: integer
        SeasonId:
          nullable: false
          title: SeasonId
          type: integer
        StartDate:
          nullable: true
          title: StartDate
          type: string
      title: Season
    SeasonTeam:
      example:
        Active: true
        Type: Type
        SeasonTeamId: 6
        Team:
          Email: Email
          Founded: 5
          AreaId: 1
          Twitter: Twitter
          Website: Website
          ShortName: ShortName
          TertiaryColor: TertiaryColor
          Gender: Gender
          TeamId: 5
          YouTube: YouTube
          Name: Name
          AreaName: AreaName
          Active: true
          Type: Type
          PrimaryColor: PrimaryColor
          SecondaryColor: SecondaryColor
          Instagram: Instagram
          Facebook: Facebook
          Key: Key
          QuaternaryColor: QuaternaryColor
        Gender: Gender
        SeasonId: 0
        TeamName: TeamName
        TeamId: 2
      properties:
        Active:
          nullable: false
          title: Active
          type: boolean
        Gender:
          nullable: true
          title: Gender
          type: string
        SeasonId:
          nullable: false
          title: SeasonId
          type: integer
        SeasonTeamId:
          nullable: false
          title: SeasonTeamId
          type: integer
        Team:
          $ref: '#/components/schemas/Team'
        TeamId:
          nullable: false
          title: TeamId
          type: integer
        TeamName:
          nullable: true
          title: TeamName
          type: string
        Type:
          nullable: true
          title: Type
          type: string
      title: SeasonTeam
    Standing:
      example:
        Order: 1
        Group: Group
        RoundId: 5
        ScoreDifference: 7
        TeamId: 2
        Name: Name
        Points: 5
        Losses: 6
        StandingId: 3
        Games: 0
        ScoreAgainst: 2
        ScoreFor: 9
        Wins: 4
      properties:
        Games:
          nullable: false
          title: Games
          type: integer
        Group:
          nullable: true
          title: Group
          type: string
        Losses:
          nullable: false
          title: Losses
          type: integer
        Name:
          nullable: true
          title: Name
          type: string
        Order:
          nullable: true
          title: Order
          type: integer
        Points:
          nullable: false
          title: Points
          type: integer
        RoundId:
          nullable: false
          title: RoundId
          type: integer
        ScoreAgainst:
          nullable: false
          title: ScoreAgainst
          type: integer
        ScoreDifference:
          nullable: false
          title: ScoreDifference
          type: integer
        ScoreFor:
          nullable: false
          title: ScoreFor
          type: integer
        StandingId:
          nullable: false
          title: StandingId
          type: integer
        TeamId:
          nullable: false
          title: TeamId
          type: integer
        Wins:
          nullable: false
          title: Wins
          type: integer
      title: Standing
    Team:
      example:
        Email: Email
        Founded: 5
        AreaId: 1
        Twitter: Twitter
        Website: Website
        ShortName: ShortName
        TertiaryColor: TertiaryColor
        Gender: Gender
        TeamId: 5
        YouTube: YouTube
        Name: Name
        AreaName: AreaName
        Active: true
        Type: Type
        PrimaryColor: PrimaryColor
        SecondaryColor: SecondaryColor
        Instagram: Instagram
        Facebook: Facebook
        Key: Key
        QuaternaryColor: QuaternaryColor
      properties:
        Active:
          nullable: false
          title: Active
          type: boolean
        AreaId:
          nullable: true
          title: AreaId
          type: integer
        AreaName:
          nullable: true
          title: AreaName
          type: string
        Email:
          nullable: true
          title: Email
          type: string
        Facebook:
          nullable: true
          title: Facebook
          type: string
        Founded:
          nullable: true
          title: Founded
          type: integer
        Gender:
          nullable: true
          title: Gender
          type: string
        Instagram:
          nullable: true
          title: Instagram
          type: string
        Key:
          nullable: true
          title: Key
          type: string
        Name:
          nullable: true
          title: Name
          type: string
        PrimaryColor:
          nullable: true
          title: PrimaryColor
          type: string
        QuaternaryColor:
          nullable: true
          title: QuaternaryColor
          type: string
        SecondaryColor:
          nullable: true
          title: SecondaryColor
          type: string
        ShortName:
          nullable: true
          title: ShortName
          type: string
        TeamId:
          nullable: false
          title: TeamId
          type: integer
        TertiaryColor:
          nullable: true
          title: TertiaryColor
          type: string
        Twitter:
          nullable: true
          title: Twitter
          type: string
        Type:
          nullable: true
          title: Type
          type: string
        Website:
          nullable: true
          title: Website
          type: string
        YouTube:
          nullable: true
          title: YouTube
          type: string
      title: Team
    TeamDetail:
      example:
        Email: Email
        Founded: 7
        AreaId: 4
        Twitter: Twitter
        Website: Website
        ShortName: ShortName
        TertiaryColor: TertiaryColor
        Gender: Gender
        TeamId: 1
        YouTube: YouTube
        Name: Name
        AreaName: AreaName
        Active: true
        Type: Type
        PrimaryColor: PrimaryColor
        SecondaryColor: SecondaryColor
        Instagram: Instagram
        Facebook: Facebook
        Key: Key
        QuaternaryColor: QuaternaryColor
        Players:
        - PlayerId: 1
          Updated: Updated
          Position: Position
          FirstName: FirstName
          BirthCity: BirthCity
          MatchName: MatchName
          Gender: Gender
          LastName: LastName
          BirthCountry: BirthCountry
          Nationality: Nationality
          BirthDate: BirthDate
          CommonName: CommonName
        - PlayerId: 1
          Updated: Updated
          Position: Position
          FirstName: FirstName
          BirthCity: BirthCity
          MatchName: MatchName
          Gender: Gender
          LastName: LastName
          BirthCountry: BirthCountry
          Nationality: Nationality
          BirthDate: BirthDate
          CommonName: CommonName
      properties:
        Active:
          nullable: false
          title: Active
          type: boolean
        AreaId:
          nullable: true
          title: AreaId
          type: integer
        AreaName:
          nullable: true
          title: AreaName
          type: string
        Email:
          nullable: true
          title: Email
          type: string
        Facebook:
          nullable: true
          title: Facebook
          type: string
        Founded:
          nullable: true
          title: Founded
          type: integer
        Gender:
          nullable: true
          title: Gender
          type: string
        Instagram:
          nullable: true
          title: Instagram
          type: string
        Key:
          nullable: true
          title: Key
          type: string
        Name:
          nullable: true
          title: Name
          type: string
        Players:
          items:
            $ref: '#/components/schemas/Player'
          title: Players
          type: array
        PrimaryColor:
          nullable: true
          title: PrimaryColor
          type: string
        QuaternaryColor:
          nullable: true
          title: QuaternaryColor
          type: string
        SecondaryColor:
          nullable: true
          title: SecondaryColor
          type: string
        ShortName:
          nullable: true
          title: ShortName
          type: string
        TeamId:
          nullable: false
          title: TeamId
          type: integer
        TertiaryColor:
          nullable: true
          title: TertiaryColor
          type: string
        Twitter:
          nullable: true
          title: Twitter
          type: string
        Type:
          nullable: true
          title: Type
          type: string
        Website:
          nullable: true
          title: Website
          type: string
        YouTube:
          nullable: true
          title: YouTube
          type: string
      title: TeamDetail
    Venue:
      example:
        Zip: Zip
        Opened: 5
        Address: Address
        GeoLat: 6.027456183070403
        City: City
        Name: Name
        Open: true
        Nickname1: Nickname1
        Nickname2: Nickname2
        Capacity: 0
        Country: Country
        GeoLong: 1.4658129805029452
        VenueId: 5
      properties:
        Address:
          nullable: true
          title: Address
          type: string
        Capacity:
          nullable: true
          title: Capacity
          type: integer
        City:
          nullable: true
          title: City
          type: string
        Country:
          nullable: true
          title: Country
          type: string
        GeoLat:
          nullable: true
          title: GeoLat
          type: number
        GeoLong:
          nullable: true
          title: GeoLong
          type: number
        Name:
          nullable: true
          title: Name
          type: string
        Nickname1:
          nullable: true
          title: Nickname1
          type: string
        Nickname2:
          nullable: true
          title: Nickname2
          type: string
        Open:
          nullable: false
          title: Open
          type: boolean
        Opened:
          nullable: true
          title: Opened
          type: integer
        VenueId:
          nullable: false
          title: VenueId
          type: integer
        Zip:
          nullable: true
          title: Zip
          type: string
      title: Venue
  securitySchemes:
    apiKeyHeader:
      in: header
      name: Ocp-Apim-Subscription-Key
      type: apiKey
      x-apikeyInfoFunc: openapi_server.controllers.security_controller.info_from_apiKeyHeader
    apiKeyQuery:
      in: query
      name: key
      type: apiKey
      x-apikeyInfoFunc: openapi_server.controllers.security_controller.info_from_apiKeyQuery
