openapi: 3.0.0
info:
  contact:
    email: info@bluerain.de
    name: BlueRain Software GmbH & Co. KG
    url: http://bluerain.de
  description: ID4i HTTP API
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  termsOfService: http://id4i.de
  title: ID4i API
  version: 1.0.2
  x-apisguru-categories:
  - enterprise
  x-logo:
    backgroundColor: '#FAFAFA'
    url: https://id4i.de/wp-content/uploads/2017/11/id4d_logo_h87.png
  x-origin:
  - format: openapi
    url: https://backend.id4i.de/docs/swagger.json
    version: "3.0"
  x-providerName: id4i.de
servers:
- url: //backend.id4i.de
tags:
- description: "User accounts allows people to register for ID4i and login. All permissions\
    \ and roles for interactive ID4i usage (as opposed to machine-to-machine interactions)\
    \ are attached to Organizations and User Accounts. The API allows users to register,\
    \ verify their registration, login and reset their passwords."
  name: Accounts
- description: Guid Alias Controller
  name: Alias
- description: Api Key Controller
  name: Api Keys
- description: Auditing services allow to review changes made by users or api keys.
    Changelog messages can be resolved as plain text or formatted message with parameters.
  name: Auditing
- description: Billing Controller
  name: Billing
- description: Collection Controller
  name: Collections
- description: Guid Alias Controller
  name: Guids
- description: Allows to retrieve a GUID's history and to publish new history items.
  name: History
- description: Services can use images stored with public visibility. This API allows
    you to retrieve the stored image by ID.
  name: Images
- description: Organization Messaging Controller
  name: Messaging
- description: App Info Controller
  name: Meta Information
- description: Country Controller
  name: Organizations
- description: Go Controller
  name: Public Services
- description: Routing Controller
  name: Routing
- description: Document Storage Controller
  name: Storage
- description: Id 4n Transfer Controller
  name: Transfer
- description: Who Is Controller
  name: WhoIs
paths:
  /account/password:
    post:
      description: 'Requesting a reset for a new password. '
      operationId: request_password_reset
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PasswordResetRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/PasswordResetRequest'
        description: Contains the required information to request a new password.
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimpleMessageResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/SimpleMessageResponse'
          description: OK
        "201":
          description: Created
        "202":
          description: Accepted
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Method not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not Acceptable
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Conflict
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unsupported Media Type
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Internal Server Error
      summary: Request password reset
      tags:
      - Accounts
      x-openapi-router-controller: openapi_server.controllers.accounts_controller
      x-codegen-request-body-name: body
    put:
      description: Setting a new password and verifying the request to set the password.
      operationId: verify_password_reset
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PasswordResetVerificationRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/PasswordResetVerificationRequest'
        description: Contains the new password and the verification token to set the
          new password.
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimpleMessageResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/SimpleMessageResponse'
          description: OK
        "202":
          description: Accepted
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Method not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not Acceptable
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Conflict
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unsupported Media Type
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Internal Server Error
      summary: Verify password reset
      tags:
      - Accounts
      x-openapi-router-controller: openapi_server.controllers.accounts_controller
      x-codegen-request-body-name: body
  /account/registration:
    post:
      description: Registering a new user.
      operationId: register_user
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserRegistrationRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/UserRegistrationRequest'
        description: The user information about the new created user.
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserRegistrationResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/UserRegistrationResponse'
          description: OK
        "201":
          description: Created
        "202":
          description: Accepted
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Method not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not Acceptable
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Conflict
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unsupported Media Type
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Internal Server Error
      summary: Register user
      tags:
      - Accounts
      x-openapi-router-controller: openapi_server.controllers.accounts_controller
      x-codegen-request-body-name: body
    put:
      description: Completing a registration e.g. for invited users. Finish registration
        with a username and a password.
      operationId: complete_registration
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompleteUserRegistrationRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/CompleteUserRegistrationRequest'
        description: "Contains the verification token, the username and the initial\
          \ password."
        required: true
        x-body-name: body
      responses:
        "200":
          description: OK
        "202":
          description: Accepted
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Method not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not Acceptable
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Conflict
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unsupported Media Type
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Internal Server Error
      summary: Complete registration
      tags:
      - Accounts
      x-openapi-router-controller: openapi_server.controllers.accounts_controller
      x-codegen-request-body-name: body
  /account/verification:
    post:
      description: Verifies a new user registration.
      operationId: verify_user_registration
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegistrationVerificationTokenPresentation'
          application/xml:
            schema:
              $ref: '#/components/schemas/RegistrationVerificationTokenPresentation'
        description: The token for user verification.
        required: true
        x-body-name: body
      responses:
        "200":
          description: OK
        "201":
          description: Created
        "202":
          description: Accepted
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Method not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not Acceptable
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Conflict
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unsupported Media Type
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Internal Server Error
      summary: Verify registration
      tags:
      - Accounts
      x-openapi-router-controller: openapi_server.controllers.accounts_controller
      x-codegen-request-body-name: body
  /api/v1/apikeys:
    get:
      description: Finding all API key assigned to the specified organization in a
        paginated manner.
      operationId: list_all_api_keys_of_organization
      parameters:
      - description: The namespace of the organization to search in.
        explode: true
        in: query
        name: organizationId
        required: false
        schema:
          type: string
        style: form
      - description: Start with the n-th element
        explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: The maximum count of returned elements
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponseOfApiKeyPresentation'
            application/xml:
              schema:
                $ref: '#/components/schemas/PaginatedResponseOfApiKeyPresentation'
          description: OK
        "202":
          description: Accepted
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Method not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not Acceptable
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unsupported Media Type
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Internal Server Error
      security:
      - Authorization: []
      summary: Find API key by organization
      tags:
      - Api Keys
      x-openapi-router-controller: openapi_server.controllers.api_keys_controller
    post:
      description: Creation of a new API key.
      operationId: create_new_api_key
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKeyCreationRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/ApiKeyCreationRequest'
        description: API key to be created.
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyPresentation'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiKeyPresentation'
          description: OK
        "201":
          description: Created
        "202":
          description: Accepted
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Method not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not Acceptable
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Conflict
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unsupported Media Type
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Internal Server Error
      security:
      - Authorization: []
      summary: Create API key
      tags:
      - Api Keys
      x-openapi-router-controller: openapi_server.controllers.api_keys_controller
      x-codegen-request-body-name: body
  /api/v1/apikeys/privileges:
    get:
      description: Listing all possible API key privileges.
      operationId: list_all_api_key_privileges
      parameters:
      - description: id4nConcerning
        explode: true
        in: query
        name: id4nConcerning
        required: false
        schema:
          type: boolean
        style: form
      - description: Start with the n-th element
        explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: The maximum count of returned elements
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponseOfApiKeyPrivilegeInfo'
            application/xml:
              schema:
                $ref: '#/components/schemas/PaginatedResponseOfApiKeyPrivilegeInfo'
          description: OK
        "202":
          description: Accepted
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Method not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not Acceptable
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unsupported Media Type
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Internal Server Error
      security:
      - Authorization: []
      summary: List all privileges
      tags:
      - Api Keys
      x-openapi-router-controller: openapi_server.controllers.api_keys_controller
  /api/v1/apikeys/{key}:
    delete:
      description: Deletion of an API key.
      operationId: delete_api_key
      parameters:
      - description: The API key to delete.
        explode: false
        in: path
        name: key
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Internal Server Error
      security:
      - Authorization: []
      summary: Delete API key
      tags:
      - Api Keys
      x-openapi-router-controller: openapi_server.controllers.api_keys_controller
    get:
      description: Showing the details of an API key.
      operationId: get_api_key
      parameters:
      - description: The API key to show.
        explode: false
        in: path
        name: key
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyPresentation'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiKeyPresentation'
          description: OK
        "202":
          description: Accepted
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Method not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not Acceptable
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unsupported Media Type
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Internal Server Error
      security:
      - Authorization: []
      summary: Show API key
      tags:
      - Api Keys
      x-openapi-router-controller: openapi_server.controllers.api_keys_controller
    put:
      description: "API keys can be updated with new labels, and be activated and\
        \ deactivated. The secret or UUID cannot be changed."
      operationId: update_api_key
      parameters:
      - description: The API key to be updated.
        explode: false
        in: path
        name: key
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKeyChangeRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/ApiKeyChangeRequest'
        description: The new values to apply.
        required: true
        x-body-name: body
      responses:
        "200":
          description: OK
        "202":
          description: Accepted
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Method not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not Acceptable
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Conflict
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unsupported Media Type
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Internal Server Error
      security:
      - Authorization: []
      summary: Update API keys
      tags:
      - Api Keys
      x-openapi-router-controller: openapi_server.controllers.api_keys_controller
      x-codegen-request-body-name: body
  /api/v1/apikeys/{key}/privileges:
    delete:
      operationId: remove_api_key_privilege
      parameters:
      - description: key
        explode: false
        in: path
        name: key
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoveApiKeyPrivilegeRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/RemoveApiKeyPrivilegeRequest'
        description: removeApiKeyPrivilegeRequest
        required: true
        x-body-name: body
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Internal Server Error
      security:
      - Authorization: []
      summary: Remove privilege
      tags:
      - Api Keys
      x-openapi-router-controller: openapi_server.controllers.api_keys_controller
      x-codegen-request-body-name: body
    get:
      operationId: list_api_key_privileges
      parameters:
      - description: key
        explode: false
        in: path
        name: key
        required: true
        schema:
          type: string
        style: simple
      - description: Start with the n-th element
        explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: The maximum count of returned elements
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponseOfApiKeyPrivilege'
            application/xml:
              schema:
                $ref: '#/components/schemas/PaginatedResponseOfApiKeyPrivilege'
          description: OK
        "202":
          description: Accepted
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Method not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not Acceptable
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unsupported Media Type
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Internal Server Error
      security:
      - Authorization: []
      summary: List privileges
      tags:
      - Api Keys
      x-openapi-router-controller: openapi_server.controllers.api_keys_controller
    post:
      operationId: add_api_key_privilege
      parameters:
      - description: key
        explode: false
        in: path
        name: key
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddApiKeyPrivilegeRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/AddApiKeyPrivilegeRequest'
        description: addApiKeyPrivilegeRequest
        required: true
        x-body-name: body
      responses:
        "200":
          description: OK
        "201":
          description: Created
        "202":
          description: Accepted
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Method not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not Acceptable
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Conflict
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unsupported Media Type
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Internal Server Error
      security:
      - Authorization: []
      summary: Add privilege
      tags:
      - Api Keys
      x-openapi-router-controller: openapi_server.controllers.api_keys_controller
      x-codegen-request-body-name: body
  /api/v1/apikeys/{key}/privileges/{privilege}/id4ns:
    delete:
      operationId: remove_api_key_privilege_for_id4ns
      parameters:
      - description: key
        explode: false
        in: path
        name: key
        required: true
        schema:
          type: string
        style: simple
      - description: privilege
        explode: false
        in: path
        name: privilege
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/ListOfId4ns'
        x-body-name: body
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Internal Server Error
      security:
      - Authorization: []
      summary: Remove id4ns of a privilege
      tags:
      - Api Keys
      x-openapi-router-controller: openapi_server.controllers.api_keys_controller
      x-codegen-request-body-name: body
    get:
      description: Listing ID4ns of a id4n concerning privilege
      operationId: list_id4ns
      parameters:
      - description: key
        explode: false
        in: path
        name: key
        required: true
        schema:
          type: string
        style: simple
      - description: privilege
        explode: false
        in: path
        name: privilege
        required: true
        schema:
          type: string
        style: simple
      - description: Start with the n-th element
        explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: The maximum count of returned elements
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponseOfId4nPresentation'
            application/xml:
              schema:
                $ref: '#/components/schemas/PaginatedResponseOfId4nPresentation'
          description: OK
        "202":
          description: Accepted
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Method not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not Acceptable
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unsupported Media Type
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Internal Server Error
      security:
      - Authorization: []
      summary: ID4ns of a privilege
      tags:
      - Api Keys
      x-openapi-router-controller: openapi_server.controllers.api_keys_controller
    post:
      operationId: add_api_key_privilege_for_id4ns
      parameters:
      - description: key
        explode: false
        in: path
        name: key
        required: true
        schema:
          type: string
        style: simple
      - description: privilege
        explode: false
        in: path
        name: privilege
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/ListOfId4ns'
        x-body-name: body
      responses:
        "200":
          description: OK
        "201":
          description: Created
        "202":
          description: Accepted
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Method not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not Acceptable
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Conflict
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unsupported Media Type
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Internal Server Error
      security:
      - Authorization: []
      summary: Add ID4ns of a privilege
      tags:
      - Api Keys
      x-openapi-router-controller: openapi_server.controllers.api_keys_controller
      x-codegen-request-body-name: body
  /api/v1/billing/{organizationId}:
    get:
      operationId: get_sum_for_organization
      parameters:
      - description: The organization to compute the billing information for
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          type: string
        style: simple
      - description: Billing start date
        explode: true
        in: query
        name: fromDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Billing end date
        explode: true
        in: query
        name: toDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceCosts'
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceCosts'
          description: OK
        "202":
          description: Accepted
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Method not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not Acceptable
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unsupported Media Type
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Internal Server Error
      security:
      - Authorization: []
      summary: Get billing amount of services for a given organization
      tags:
      - Billing
      x-openapi-router-controller: openapi_server.controllers.billing_controller
  /api/v1/billing/{organizationId}/positions:
    get:
      operationId: get_positions_for_organization
      parameters:
      - description: The organization to compute the billing information for
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          type: string
        style: simple
      - description: Billing start date
        explode: true
        in: query
        name: fromDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Billing end date
        explode: true
        in: query
        name: toDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/BillingPosition'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/BillingPosition'
                type: array
          description: OK
        "202":
          description: Accepted
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Method not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not Acceptable
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unsupported Media Type
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Internal Server Error
      security:
      - Authorization: []
      summary: Get billing positions for a given organization
      tags:
      - Billing
      x-openapi-router-controller: openapi_server.controllers.billing_controller
  /api/v1/changelog/organization/{organizationId}/:
    get:
      description: Listing change log entries of the specified organization id.
      operationId: list_organization_change_log
      parameters:
      - description: The namespace identifying the organization whose change log entries
          are to be listed
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          type: string
        style: simple
      - description: 'The Mime-type for the message format that should be returned.
          e.g. ''text/plain'' or ''text/mustache'' '
        explode: true
        in: query
        name: messageMimeType
        required: false
        schema:
          default: text/mustache
          type: string
        style: form
      - description: From date time as UTC Date-Time format
        explode: true
        in: query
        name: fromDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: To date time as UTC Date-Time format
        explode: true
        in: query
        name: toDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Start with the n-th element
        explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: The maximum count of returned elements
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponseOfChangeLogEntry'
            application/xml:
              schema:
                $ref: '#/components/schemas/PaginatedResponseOfChangeLogEntry'
          description: OK
        "202":
          description: Accepted
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Method not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not Acceptable
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unsupported Media Type
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Internal Server Error
      security:
      - Authorization: []
      summary: List change log entries of an organization
      tags:
      - Auditing
      x-openapi-router-controller: openapi_server.controllers.auditing_controller
  /api/v1/collections:
    post:
      operationId: create_collection
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCollectionRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/CreateCollectionRequest'
        description: createInfo
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Id4n'
            application/xml:
              schema:
                $ref: '#/components/schemas/Id4n'
          description: OK
        "201":
          description: Created
        "202":
          description: Accepted
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Method not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not Acceptable
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Conflict
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unsupported Media Type
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Internal Server Error
      security:
      - Authorization: []
      summary: Create collection
      tags:
      - Collections
      x-openapi-router-controller: openapi_server.controllers.collections_controller
      x-codegen-request-body-name: body
  /api/v1/collections/{id4n}:
    delete:
      operationId: delete_collection
      parameters:
      - description: id4n
        explode: false
        in: path
        name: id4n
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Internal Server Error
      security:
      - Authorization: []
      summary: Delete collection
      tags:
      - Collections
      x-openapi-router-controller: openapi_server.controllers.collections_controller
    get:
      operationId: find_collection
      parameters:
      - description: id4n
        explode: false
        in: path
        name: id4n
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuidCollection'
            application/xml:
              schema:
                $ref: '#/components/schemas/GuidCollection'
          description: OK
        "202":
          description: Accepted
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Method not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not Acceptable
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unsupported Media Type
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Internal Server Error
      security:
      - Authorization: []
      summary: Find collection
      tags:
      - Collections
      x-openapi-router-controller: openapi_server.controllers.collections_controller
    patch:
      description: Update collection changing only the given values
      operationId: update_collection
      parameters:
      - description: id4n
        explode: false
        in: path
        name: id4n
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GuidCollection'
          application/xml:
            schema:
              $ref: '#/components/schemas/GuidCollection'
        description: request
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
          description: OK
        "204":
          description: No Content
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
      security:
      - Authorization: []
      summary: Update collection
      tags:
      - Collections
      x-openapi-router-controller: openapi_server.controllers.collections_controller
      x-codegen-request-body-name: body
  /api/v1/collections/{id4n}/elements:
    delete:
      operationId: remove_elements_from_collection
      parameters:
      - description: id4n
        explode: false
        in: path
        name: id4n
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/ListOfId4ns2'
        x-body-name: body
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Internal Server Error
      security:
      - Authorization: []
      summary: Remove elements from collection
      tags:
      - Collections
      x-openapi-router-controller: openapi_server.controllers.collections_controller
      x-codegen-request-body-name: body
    get:
      operationId: list_elements_of_collection
      parameters:
      - description: id4n
        explode: false
        in: path
        name: id4n
        required: true
        schema:
          type: string
        style: simple
      - description: Start with the n-th element
        explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: The maximum count of returned elements
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: The organization namespace.
        explode: true
        in: query
        name: organizationId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponseOfGuid'
            application/xml:
              schema:
                $ref: '#/components/schemas/PaginatedResponseOfGuid'
          description: OK
        "202":
          description: Accepted
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Method not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not Acceptable
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unsupported Media Type
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Internal Server Error
      security:
      - Authorization: []
      summary: List contents of the collection
      tags:
      - Collections
      x-openapi-router-controller: openapi_server.controllers.collections_controller
    post:
      operationId: add_elements_to_collection
      parameters:
      - description: id4n
        explode: false
        in: path
        name: id4n
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/ListOfId4ns2'
        x-body-name: body
      responses:
        "200":
          description: OK
        "201":
          description: Created
        "202":
          description: Accepted
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Method not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not Acceptable
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Conflict
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unsupported Media Type
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Internal Server Error
      security:
      - Authorization: []
      summary: Add elements to collection
      tags:
      - Collections
      x-openapi-router-controller: openapi_server.controllers.collections_controller
      x-codegen-request-body-name: body
  /api/v1/countries:
    get:
      operationId: list_countries
      parameters:
      - description: Start with the n-th element
        explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: The maximum count of returned elements
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponseOfCountry'
            application/xml:
              schema:
                $ref: '#/components/schemas/PaginatedResponseOfCountry'
          description: OK
        "202":
          description: Accepted
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Method not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not Acceptable
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unsupported Media Type
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Internal Server Error
      security:
      - Authorization: []
      summary: List countries
      tags:
      - Organizations
      x-openapi-router-controller: openapi_server.controllers.organizations_controller
  /api/v1/documents/{id4n}:
    get:
      description: Listing all documents of an id4n
      operationId: list_all_documents
      parameters:
      - description: id4n
        explode: false
        in: path
        name: id4n
        required: true
        schema:
          type: string
        style: simple
      - description: Filter by owner organization
        explode: true
        in: query
        name: owner
        required: false
        schema:
          type: string
        style: form
      - description: Start with the n-th element
        explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: The maximum count of returned elements
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponseOfDocument'
            application/xml:
              schema:
                $ref: '#/components/schemas/PaginatedResponseOfDocument'
          description: OK
        "202":
          description: Accepted
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Method not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not Acceptable
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unsupported Media Type
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Internal Server Error
      security:
      - Authorization: []
      summary: List documents
      tags:
      - Storage
      x-openapi-router-controller: openapi_server.controllers.storage_controller
  /api/v1/documents/{id4n}/{organizationId}:
    get:
      description: Listing documents of an id4n seen by a specified organization
      operationId: list_documents
      parameters:
      - description: organizationId
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          type: string
        style: simple
      - description: id4n
        explode: false
        in: path
        name: id4n
        required: true
        schema:
          type: string
        style: simple
      - description: Filter by owner organization
        explode: true
        in: query
        name: owner
        required: false
        schema:
          type: string
        style: form
      - description: Start with the n-th element
        explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: The maximum count of returned elements
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponseOfDocument'
            application/xml:
              schema:
                $ref: '#/components/schemas/PaginatedResponseOfDocument'
          description: OK
        "202":
          description: Accepted
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Method not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not Acceptable
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unsupported Media Type
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Internal Server Error
      security:
      - Authorization: []
      summary: List organization specific documents
      tags:
      - Storage
      x-openapi-router-controller: openapi_server.controllers.storage_controller
    post:
      description: The documents' mime type is suggested on octet-stream data. Otherwise
        the specified content mime type is used.
      operationId: create_document
      parameters:
      - description: organizationId
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          type: string
        style: simple
      - description: id4n
        explode: false
        in: path
        name: id4n
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/createDocument'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
            application/xml:
              schema:
                $ref: '#/components/schemas/Document'
          description: OK
        "201":
          description: Created
        "202":
          description: Accepted
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Method not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not Acceptable
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Conflict
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
[...]
