openapi: 3.0.1
info:
  description: "The Microsoft Azure ExpressRouteCrossConnection Resource Provider\
    \ REST APIs describes the operations for the connectivity provider to provision\
    \ ExpressRoute circuit, create and modify BGP peering entities and troubleshoot\
    \ connectivity on customer's ExpressRoute circuit."
  title: ExpressRouteCrossConnection REST APIs
  version: 2019-08-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/network/resource-manager/Microsoft.Network/stable/2019-08-01/expressRouteCrossConnection.json
    version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: network-expressRouteCrossConnection
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/expressRouteCrossConnections:
    get:
      description: Retrieves all the ExpressRouteCrossConnections in a subscription.
      operationId: ExpressRouteCrossConnections_List
      parameters:
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCrossConnectionListResult'
          description: Request successful. The operation returns a list of ExpressRouteCrossConnection
            resources. If there are no cross connection resources an empty list is
            returned.
      tags:
      - ExpressRouteCrossConnections
      x-ms-examples:
        ExpressRouteCrossConnectionList:
          parameters:
            api-version: 2019-08-01
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subid/resourceGroups/CrossConnectionSiliconValley/providers/Microsoft.Network/expressRouteCrossConnections/<circuitServiceKey>
                  location: brazilsouth
                  name: <circuitServiceKey>
                  properties:
                    bandwidthInMbps: 1000
                    expressRouteCircuit:
                      id: /subscriptions/subid/resourceGroups/ertest/providers/Microsoft.Network/expressRouteCircuits/er1
                    peeringLocation: SiliconValley
                    peerings: []
                    primaryAzurePort: bvtazureixp01
                    provisioningState: Enabled
                    sTag: 2
                    secondaryAzurePort: bvtazureixp01
                    serviceProviderProvisioningState: NotProvisioned
                  type: Microsoft.Network/expressRouteCrossConnections
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCrossConnections:
    get:
      description: Retrieves all the ExpressRouteCrossConnections in a resource group.
      operationId: ExpressRouteCrossConnections_ListByResourceGroup
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCrossConnectionListResult'
          description: Request successful.The operation returns a list of ExpressRouteCrossConnection
            resources. If there are no cross connection resources an empty list is
            returned.
      tags:
      - ExpressRouteCrossConnections
      x-ms-examples:
        ExpressRouteCrossConnectionListByResourceGroup:
          parameters:
            api-version: 2019-08-01
            resourceGroupName: CrossConnection-SiliconValley
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subid/resourceGroups/CrossConnectionSilicon-Valley/providers/Microsoft.Network/expressRouteCrossConnections/<circuitServiceKey>
                  location: brazilsouth
                  name: <circuitServiceKey>
                  properties:
                    bandwidthInMbps: 1000
                    expressRouteCircuit:
                      id: /subscriptions/subid/resourceGroups/ertest/providers/Microsoft.Network/expressRouteCircuits/er1
                    peeringLocation: SiliconValley
                    peerings: []
                    primaryAzurePort: bvtazureixp01
                    provisioningState: Enabled
                    sTag: 2
                    secondaryAzurePort: bvtazureixp01
                    serviceProviderProvisioningState: NotProvisioned
                  type: Microsoft.Network/expressRouteCrossConnections
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCrossConnections/{crossConnectionName}
  : get:
      description: Gets details about the specified ExpressRouteCrossConnection.
      operationId: ExpressRouteCrossConnections_Get
      parameters:
      - description: The name of the resource group (peering location of the circuit).
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the ExpressRouteCrossConnection (service key of the
          circuit).
        in: path
        name: crossConnectionName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCrossConnection'
          description: Request successful. The operation returns the resulting ExpressRouteCrossConnection
            resource.
      tags:
      - ExpressRouteCrossConnections
      x-ms-examples:
        GetExpressRouteCrossConnection:
          parameters:
            api-version: 2019-08-01
            crossConnectionName: <circuitServiceKey>
            resourceGroupName: CrossConnection-SiliconValley
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: W/"c0e6477e-8150-4d4f-9bf6-bb10e6acb63a"
                id: /subscriptions/subid/resourceGroups/CrossConnection-SiliconValley/providers/Microsoft.Network/expressRouteCrossConnections/<circuitServiceKey>
                location: brazilsouth
                name: <circuitServiceKey>
                properties:
                  bandwidthInMbps: 1000
                  expressRouteCircuit:
                    id: /subscriptions/subid/resourceGroups/ertest/providers/Microsoft.Network/expressRouteCircuits/er1
                  peeringLocation: SiliconValley
                  peerings: []
                  primaryAzurePort: bvtazureixp01
                  provisioningState: Enabled
                  sTag: 2
                  secondaryAzurePort: bvtazureixp01
                  serviceProviderProvisioningState: NotProvisioned
                type: Microsoft.Network/expressRouteCrossConnections
      x-accepts:
      - application/json
    patch:
      description: Updates an express route cross connection tags.
      operationId: ExpressRouteCrossConnections_UpdateTags
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the cross connection.
        in: path
        name: crossConnectionName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExpressRouteCrossConnections_UpdateTags_request'
        description: Parameters supplied to update express route cross connection
          tags.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCrossConnection'
          description: Update successful. The operation returns the resulting ExpressRouteCrossConnection
            resource.
      tags:
      - ExpressRouteCrossConnections
      x-ms-examples:
        UpdateExpressRouteCrossConnectionTags:
          parameters:
            api-version: 2019-08-01
            crossConnectionName: <circuitServiceKey>
            crossConnectionParameters:
              tags:
                tag1: value1
                tag2: value2
            resourceGroupName: CrossConnection-SiliconValley
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/CrossConnectionSiliconValley/providers/Microsoft.Network/expressRouteCrossConnections/<circuitServiceKey>
                location: brazilsouth
                name: er1
                properties:
                  bandwidthInMbps: 1000
                  expressRouteCircuit:
                    id: /subscriptions/subid/resourceGroups/ertest/providers/Microsoft.Network/expressRouteCircuits/er1
                  peeringLocation: SiliconValley
                  peerings: []
                  primaryAzurePort: bvtazureixp01
                  provisioningState: Failed
                  sTag: 2
                  secondaryAzurePort: bvtazureixp01
                  serviceProviderProvisioningState: NotProvisioned
                tags:
                  tag1: value1
                  tag2: value2
                type: Microsoft.Network/expressRouteCrossConnections
      x-ms-long-running-operation: true
      x-codegen-request-body-name: crossConnectionParameters
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: Update the specified ExpressRouteCrossConnection.
      operationId: ExpressRouteCrossConnections_CreateOrUpdate
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the ExpressRouteCrossConnection.
        in: path
        name: crossConnectionName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExpressRouteCrossConnection'
        description: Parameters supplied to the update express route crossConnection
          operation.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCrossConnection'
          description: Update successful. The operation returns the resulting ExpressRouteCrossConnection
            resource.
      tags:
      - ExpressRouteCrossConnections
      x-ms-examples:
        UpdateExpressRouteCrossConnection:
          parameters:
            api-version: 2019-08-01
            crossConnectionName: <circuitServiceKey>
            parameters:
              properties:
                serviceProviderProvisioningState: NotProvisioned
            resourceGroupName: CrossConnection-SiliconValley
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/CrossConnectionSiliconValley/providers/Microsoft.Network/expressRouteCrossConnections/<circuitServiceKey>
                location: brazilsouth
                name: <circuitServiceKey>
                properties:
                  bandwidthInMbps: 1000
                  expressRouteCircuit:
                    id: /subscriptions/subid/resourceGroups/ertest/providers/Microsoft.Network/expressRouteCircuits/er1
                  peeringLocation: SiliconValley
                  peerings: []
                  primaryAzurePort: bvtazureixp01
                  provisioningState: Enabled
                  sTag: 2
                  secondaryAzurePort: bvtazureixp01
                  serviceProviderProvisioningState: NotProvisioned
                type: Microsoft.Network/expressRouteCrossConnections
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCrossConnections/{crossConnectionName}/peerings
  : get:
      description: Gets all peerings in a specified ExpressRouteCrossConnection.
      operationId: ExpressRouteCrossConnectionPeerings_List
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the ExpressRouteCrossConnection.
        in: path
        name: crossConnectionName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCrossConnectionPeeringList'
          description: Request successful. The operation returns a list of ExpressRouteCrossConnectionPeering
            resources.
      tags:
      - ExpressRouteCrossConnectionPeerings
      x-ms-examples:
        ExpressRouteCrossConnectionBgpPeeringList:
          parameters:
            api-version: 2019-08-01
            crossConnectionName: <circuitServiceKey>
            resourceGroupName: CrossConnection-SiliconValley
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - etag: W/"72090554-7e3b-43f2-80ad-99a9020dcb11"
                  id: /subscriptions/subid/resourceGroups/CrossConnection-SiliconValley/providers/Microsoft.Network/expressRouteCrossConnections/<circuitServiceKey>/peerings/AzurePrivatePeering
                  name: AzurePrivatePeering
                  properties:
                    azureASN: 12076
                    gatewayManagerEtag: ""
                    ipv6PeeringConfig:
                      primaryPeerAddressPrefix: 3FFE:FFFF:0:CD30::/126
                      secondaryPeerAddressPrefix: 3FFE:FFFF:0:CD30::4/126
                      state: Enabled
                    lastModifiedBy: Customer
                    peerASN: 200
                    peeringType: AzurePrivatePeering
                    primaryAzurePort: ""
                    primaryPeerAddressPrefix: 192.168.16.252/30
                    provisioningState: Succeeded
                    secondaryAzurePort: ""
                    secondaryPeerAddressPrefix: 192.168.18.252/30
                    state: Enabled
                    vlanId: 200
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCrossConnections/{crossConnectionName}/peerings/{peeringName}
  : delete:
      description: Deletes the specified peering from the ExpressRouteCrossConnection.
      operationId: ExpressRouteCrossConnectionPeerings_Delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the ExpressRouteCrossConnection.
        in: path
        name: crossConnectionName
        required: true
        schema:
          type: string
      - description: The name of the peering.
        in: path
        name: peeringName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Delete successful.
        "202":
          content: {}
          description: Accepted and the operation will complete asynchronously.
        "204":
          content: {}
          description: Delete successful.
      tags:
      - ExpressRouteCrossConnectionPeerings
      x-ms-examples:
        DeleteExpressRouteCrossConnectionBgpPeering:
          parameters:
            api-version: 2019-08-01
            crossConnectionName: <circuitServiceKey>
            peeringName: AzurePrivatePeering
            resourceGroupName: CrossConnection-SiliconValley
            subscriptionId: subid
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-accepts:
      - application/json
    get:
      description: Gets the specified peering for the ExpressRouteCrossConnection.
      operationId: ExpressRouteCrossConnectionPeerings_Get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the ExpressRouteCrossConnection.
        in: path
        name: crossConnectionName
        required: true
        schema:
          type: string
      - description: The name of the peering.
        in: path
        name: peeringName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCrossConnectionPeering'
          description: Request successful. The operation returns the resulting ExpressRouteCrossConnectionPeering
            resource.
      tags:
      - ExpressRouteCrossConnectionPeerings
      x-ms-examples:
        GetExpressRouteCrossConnectionBgpPeering:
          parameters:
            api-version: 2019-08-01
            crossConnectionName: <circuitServiceKey>
            peeringName: AzurePrivatePeering
            resourceGroupName: CrossConnection-SiliconValley
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: W/"72090554-7e3b-43f2-80ad-99a9020dcb11"
                id: /subscriptions/subid/resourceGroups/CrossConnection-Boydton1DC/providers/Microsoft.Network/expressRouteCrossConnections/<circuitServiceKey>/peerings/AzurePrivatePeering
                name: AzurePrivatePeering
                properties:
                  azureASN: 12076
                  gatewayManagerEtag: ""
                  ipv6PeeringConfig:
                    primaryPeerAddressPrefix: 3FFE:FFFF:0:CD30::/126
                    secondaryPeerAddressPrefix: 3FFE:FFFF:0:CD30::4/126
                    state: Enabled
                  lastModifiedBy: Customer
                  peerASN: 200
                  peeringType: AzurePrivatePeering
                  primaryAzurePort: ""
                  primaryPeerAddressPrefix: 192.168.16.252/30
                  provisioningState: Succeeded
                  secondaryAzurePort: ""
                  secondaryPeerAddressPrefix: 192.168.18.252/30
                  state: Enabled
                  vlanId: 200
      x-accepts:
      - application/json
    put:
      description: Creates or updates a peering in the specified ExpressRouteCrossConnection.
      operationId: ExpressRouteCrossConnectionPeerings_CreateOrUpdate
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the ExpressRouteCrossConnection.
        in: path
        name: crossConnectionName
        required: true
        schema:
          type: string
      - description: The name of the peering.
        in: path
        name: peeringName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExpressRouteCrossConnectionPeering'
        description: Parameters supplied to the create or update ExpressRouteCrossConnection
          peering operation.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCrossConnectionPeering'
          description: Update successful. The operation returns the resulting ExpressRouteCrossConnectionPeering
            resource.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCrossConnectionPeering'
          description: Create successful. The operation returns the resulting ExpressRouteCrossConnectionPeering
            resource.
      tags:
      - ExpressRouteCrossConnectionPeerings
      x-ms-examples:
        ExpressRouteCrossConnectionBgpPeeringCreate:
          parameters:
            api-version: 2019-08-01
            crossConnectionName: <circuitServiceKey>
            peeringName: AzurePrivatePeering
            peeringParameters:
              properties:
                ipv6PeeringConfig:
                  primaryPeerAddressPrefix: 3FFE:FFFF:0:CD30::/126
                  secondaryPeerAddressPrefix: 3FFE:FFFF:0:CD30::4/126
                peerASN: 200
                primaryPeerAddressPrefix: 192.168.16.252/30
                secondaryPeerAddressPrefix: 192.168.18.252/30
                vlanId: 200
            resourceGroupName: CrossConnection-SiliconValley
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: W/"72090554-7e3b-43f2-80ad-99a9020dcb11"
                id: /subscriptions/subid/resourceGroups/CrossConnection-Boydton1DC/providers/Microsoft.Network/expressRouteCrossConnections/<circuitServiceKey>/peerings/AzurePrivatePeering
                name: AzurePrivatePeering
                properties:
                  azureASN: 12076
                  gatewayManagerEtag: ""
                  ipv6PeeringConfig:
                    primaryPeerAddressPrefix: 3FFE:FFFF:0:CD30::/126
                    secondaryPeerAddressPrefix: 3FFE:FFFF:0:CD30::4/126
                    state: Enabled
                  lastModifiedBy: Customer
                  peerASN: 200
                  peeringType: AzurePrivatePeering
                  primaryAzurePort: ""
                  primaryPeerAddressPrefix: 192.168.16.252/30
                  provisioningState: Succeeded
                  secondaryAzurePort: ""
                  secondaryPeerAddressPrefix: 192.168.18.252/30
                  state: Enabled
                  vlanId: 200
            "201":
              body:
                etag: W/"72090554-7e3b-43f2-80ad-99a9020dcb11"
                id: /subscriptions/subid/resourceGroups/CrossConnection-SiliconValley/providers/Microsoft.Network/expressRouteCrossConnections/<circuitServiceKey>/peerings/AzurePrivatePeering
                name: AzurePrivatePeering
                properties:
                  azureASN: 12076
                  gatewayManagerEtag: ""
                  ipv6PeeringConfig:
                    primaryPeerAddressPrefix: 3FFE:FFFF:0:CD30::/126
                    secondaryPeerAddressPrefix: 3FFE:FFFF:0:CD30::4/126
                    state: Enabled
                  lastModifiedBy: Customer
                  peerASN: 200
                  peeringType: AzurePrivatePeering
                  primaryAzurePort: ""
                  primaryPeerAddressPrefix: 192.168.16.252/30
                  provisioningState: Succeeded
                  secondaryAzurePort: ""
                  secondaryPeerAddressPrefix: 192.168.18.252/30
                  state: Enabled
                  vlanId: 200
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-codegen-request-body-name: peeringParameters
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCrossConnections/{crossConnectionName}/peerings/{peeringName}/arpTables/{devicePath}
  : post:
      description: Gets the currently advertised ARP table associated with the express
        route cross connection in a resource group.
      operationId: ExpressRouteCrossConnections_ListArpTable
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the ExpressRouteCrossConnection.
        in: path
        name: crossConnectionName
        required: true
        schema:
          type: string
      - description: The name of the peering.
        in: path
        name: peeringName
        required: true
        schema:
          type: string
      - description: The path of the device.
        in: path
        name: devicePath
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCrossConnections_ListArpTable_200_response'
          description: Request successful. The operation returns the resulting ExpressRouteCrossConnectionsArpTable
            resource.
        "202":
          content: {}
          description: Accepted and the operation will complete asynchronously.
      tags:
      - ExpressRouteCrossConnectionArpTable
      x-ms-examples:
        GetExpressRouteCrossConnectionsArpTable:
          parameters:
            api-version: 2019-08-01
            crossConnectionName: <circuitServiceKey>
            devicePath: primary
            peeringName: AzurePrivatePeering
            resourceGroupName: CrossConnection-SiliconValley
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - age: 0
                  interface: Microsoft
                  ipAddress: 192.116.14.254
                  macAddress: 885a.9269.9110
            "202": {}
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCrossConnections/{crossConnectionName}/peerings/{peeringName}/routeTables/{devicePath}
  : post:
      description: Gets the currently advertised routes table associated with the
        express route cross connection in a resource group.
      operationId: ExpressRouteCrossConnections_ListRoutesTable
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the ExpressRouteCrossConnection.
        in: path
        name: crossConnectionName
        required: true
        schema:
          type: string
      - description: The name of the peering.
        in: path
        name: peeringName
        required: true
        schema:
          type: string
      - description: The path of the device.
        in: path
        name: devicePath
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCrossConnections_ListRoutesTable_200_response'
          description: Request successful. The operation returns the resulting ExpressRouteCrossConnectionsRouteTable
            resource.
        "202":
          content: {}
          description: Accepted and the operation will complete asynchronously.
      tags:
      - ExpressRouteCrossConnectionRouteTable
      x-ms-examples:
        GetExpressRouteCrossConnectionsRouteTable:
          parameters:
            api-version: 2019-08-01
            crossConnectionName: <circuitServiceKey>
            devicePath: primary
            peeringName: AzurePrivatePeering
            resourceGroupName: CrossConnection-SiliconValley
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - locPrf: ""
                  network: 10.6.0.0/16
                  nextHop: 10.6.1.12
                  path: "65514"
                  weight: 0
                - locPrf: ""
                  network: 10.7.0.0/16
                  nextHop: 10.7.1.13
                  path: "65514"
                  weight: 0
            "202": {}
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCrossConnections/{crossConnectionName}/peerings/{peeringName}/routeTablesSummary/{devicePath}
  : post:
      description: Gets the route table summary associated with the express route
        cross connection in a resource group.
      operationId: ExpressRouteCrossConnections_ListRoutesTableSummary
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the ExpressRouteCrossConnection.
        in: path
        name: crossConnectionName
        required: true
        schema:
          type: string
      - description: The name of the peering.
        in: path
        name: peeringName
        required: true
        schema:
          type: string
      - description: The path of the device.
        in: path
        name: devicePath
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCrossConnectionsRoutesTableSummaryListResult'
          description: Request successful. The operation returns the resulting ExpressRouteCrossConnectionsRouteTableSummary
            resource.
        "202":
          content: {}
          description: Accepted and the operation will complete asynchronously.
      tags:
      - ExpressRouteCrossConnectionRouteTableSummary
      x-ms-examples:
        GetExpressRouteCrossConnectionsRouteTableSummary:
          parameters:
            api-version: 2019-08-01
            crossConnectionName: <circuitServiceKey>
            devicePath: primary
            peeringName: AzurePrivatePeering
            resourceGroupName: CrossConnection-SiliconValley
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - asn: 65514
                  neighbor: 10.6.1.112
                  stateOrPrefixesReceived: Active
                  upDown: 1d14h
                - asn: 65514
                  neighbor: 10.6.1.113
                  stateOrPrefixesReceived: "1"
                  upDown: 1d14h
            "202": {}
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-accepts:
      - application/json
components:
  schemas:
    ExpressRouteCircuitReference:
      description: Reference to an express route circuit.
      example:
        id: id
      properties:
        id:
          description: Corresponding Express Route Circuit Id.
          type: string
      type: object
    ExpressRouteCrossConnection:
      allOf:
      - description: Common resource representation.
        properties:
          id:
            description: Resource ID.
            type: string
          location:
            description: Resource location.
            type: string
          name:
            description: Resource name.
            readOnly: true
            type: string
          tags:
            additionalProperties:
              type: string
            description: Resource tags.
            type: object
          type:
            description: Resource type.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: ExpressRouteCrossConnection resource.
      example:
        etag: etag
        properties:
          primaryAzurePort: primaryAzurePort
          sTag: 7
          secondaryAzurePort: secondaryAzurePort
          bandwidthInMbps: 0
          serviceProviderNotes: serviceProviderNotes
          peerings:
          - name: name
            etag: etag
            properties:
              sharedKey: sharedKey
              primaryAzurePort: primaryAzurePort
              ipv6PeeringConfig:
                routeFilter:
                  id: id
                microsoftPeeringConfig:
                  advertisedCommunities:
                  - advertisedCommunities
                  - advertisedCommunities
                  routingRegistryName: routingRegistryName
                  legacyMode: 5
                  advertisedPublicPrefixes:
                  - advertisedPublicPrefixes
                  - advertisedPublicPrefixes
                  advertisedPublicPrefixesState: NotConfigured
                  customerASN: 1
                primaryPeerAddressPrefix: primaryPeerAddressPrefix
                state: Disabled
                secondaryPeerAddressPrefix: secondaryPeerAddressPrefix
              secondaryAzurePort: secondaryAzurePort
              vlanId: 2
              lastModifiedBy: lastModifiedBy
              azureASN: 6
              provisioningState: Succeeded
              peerASN: 2421234837
              secondaryPeerAddressPrefix: secondaryPeerAddressPrefix
              gatewayManagerEtag: gatewayManagerEtag
              microsoftPeeringConfig:
                advertisedCommunities:
                - advertisedCommunities
                - advertisedCommunities
                routingRegistryName: routingRegistryName
                legacyMode: 5
                advertisedPublicPrefixes:
                - advertisedPublicPrefixes
                - advertisedPublicPrefixes
                advertisedPublicPrefixesState: NotConfigured
                customerASN: 1
              primaryPeerAddressPrefix: primaryPeerAddressPrefix
              state: Disabled
              peeringType: AzurePublicPeering
          - name: name
            etag: etag
            properties:
              sharedKey: sharedKey
              primaryAzurePort: primaryAzurePort
              ipv6PeeringConfig:
                routeFilter:
                  id: id
                microsoftPeeringConfig:
                  advertisedCommunities:
                  - advertisedCommunities
                  - advertisedCommunities
                  routingRegistryName: routingRegistryName
                  legacyMode: 5
                  advertisedPublicPrefixes:
                  - advertisedPublicPrefixes
                  - advertisedPublicPrefixes
                  advertisedPublicPrefixesState: NotConfigured
                  customerASN: 1
                primaryPeerAddressPrefix: primaryPeerAddressPrefix
                state: Disabled
                secondaryPeerAddressPrefix: secondaryPeerAddressPrefix
              secondaryAzurePort: secondaryAzurePort
              vlanId: 2
              lastModifiedBy: lastModifiedBy
              azureASN: 6
              provisioningState: Succeeded
              peerASN: 2421234837
              secondaryPeerAddressPrefix: secondaryPeerAddressPrefix
              gatewayManagerEtag: gatewayManagerEtag
              microsoftPeeringConfig:
                advertisedCommunities:
                - advertisedCommunities
                - advertisedCommunities
                routingRegistryName: routingRegistryName
                legacyMode: 5
                advertisedPublicPrefixes:
                - advertisedPublicPrefixes
                - advertisedPublicPrefixes
                advertisedPublicPrefixesState: NotConfigured
                customerASN: 1
              primaryPeerAddressPrefix: primaryPeerAddressPrefix
              state: Disabled
              peeringType: AzurePublicPeering
          provisioningState: Succeeded
          serviceProviderProvisioningState: NotProvisioned
          expressRouteCircuit:
            id: id
          peeringLocation: peeringLocation
      properties:
        etag:
          description: A unique read-only string that changes whenever the resource
            is updated.
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/ExpressRouteCrossConnectionProperties'
    ExpressRouteCrossConnectionListResult:
      description: Response for ListExpressRouteCrossConnection API service call.
      example:
        value:
        - etag: etag
          properties:
            primaryAzurePort: primaryAzurePort
            sTag: 7
            secondaryAzurePort: secondaryAzurePort
            bandwidthInMbps: 0
            serviceProviderNotes: serviceProviderNotes
            peerings:
            - name: name
              etag: etag
              properties:
                sharedKey: sharedKey
                primaryAzurePort: primaryAzurePort
                ipv6PeeringConfig:
                  routeFilter:
                    id: id
                  microsoftPeeringConfig:
                    advertisedCommunities:
                    - advertisedCommunities
                    - advertisedCommunities
                    routingRegistryName: routingRegistryName
                    legacyMode: 5
                    advertisedPublicPrefixes:
                    - advertisedPublicPrefixes
                    - advertisedPublicPrefixes
                    advertisedPublicPrefixesState: NotConfigured
                    customerASN: 1
                  primaryPeerAddressPrefix: primaryPeerAddressPrefix
                  state: Disabled
                  secondaryPeerAddressPrefix: secondaryPeerAddressPrefix
                secondaryAzurePort: secondaryAzurePort
                vlanId: 2
                lastModifiedBy: lastModifiedBy
                azureASN: 6
                provisioningState: Succeeded
                peerASN: 2421234837
                secondaryPeerAddressPrefix: secondaryPeerAddressPrefix
                gatewayManagerEtag: gatewayManagerEtag
                microsoftPeeringConfig:
                  advertisedCommunities:
                  - advertisedCommunities
                  - advertisedCommunities
                  routingRegistryName: routingRegistryName
                  legacyMode: 5
                  advertisedPublicPrefixes:
                  - advertisedPublicPrefixes
                  - advertisedPublicPrefixes
                  advertisedPublicPrefixesState: NotConfigured
                  customerASN: 1
                primaryPeerAddressPrefix: primaryPeerAddressPrefix
                state: Disabled
                peeringType: AzurePublicPeering
            - name: name
              etag: etag
              properties:
                sharedKey: sharedKey
                primaryAzurePort: primaryAzurePort
                ipv6PeeringConfig:
                  routeFilter:
                    id: id
                  microsoftPeeringConfig:
                    advertisedCommunities:
                    - advertisedCommunities
                    - advertisedCommunities
                    routingRegistryName: routingRegistryName
                    legacyMode: 5
                    advertisedPublicPrefixes:
                    - advertisedPublicPrefixes
                    - advertisedPublicPrefixes
                    advertisedPublicPrefixesState: NotConfigured
                    customerASN: 1
                  primaryPeerAddressPrefix: primaryPeerAddressPrefix
                  state: Disabled
                  secondaryPeerAddressPrefix: secondaryPeerAddressPrefix
                secondaryAzurePort: secondaryAzurePort
                vlanId: 2
                lastModifiedBy: lastModifiedBy
                azureASN: 6
                provisioningState: Succeeded
                peerASN: 2421234837
                secondaryPeerAddressPrefix: secondaryPeerAddressPrefix
                gatewayManagerEtag: gatewayManagerEtag
                microsoftPeeringConfig:
                  advertisedCommunities:
                  - advertisedCommunities
                  - advertisedCommunities
                  routingRegistryName: routingRegistryName
                  legacyMode: 5
                  advertisedPublicPrefixes:
                  - advertisedPublicPrefixes
                  - advertisedPublicPrefixes
                  advertisedPublicPrefixesState: NotConfigured
                  customerASN: 1
                primaryPeerAddressPrefix: primaryPeerAddressPrefix
                state: Disabled
                peeringType: AzurePublicPeering
            provisioningState: Succeeded
            serviceProviderProvisioningState: NotProvisioned
            expressRouteCircuit:
              id: id
            peeringLocation: peeringLocation
        - etag: etag
          properties:
            primaryAzurePort: primaryAzurePort
            sTag: 7
            secondaryAzurePort: secondaryAzurePort
            bandwidthInMbps: 0
            serviceProviderNotes: serviceProviderNotes
            peerings:
            - name: name
              etag: etag
              properties:
                sharedKey: sharedKey
                primaryAzurePort: primaryAzurePort
                ipv6PeeringConfig:
                  routeFilter:
                    id: id
                  microsoftPeeringConfig:
                    advertisedCommunities:
                    - advertisedCommunities
                    - advertisedCommunities
                    routingRegistryName: routingRegistryName
                    legacyMode: 5
                    advertisedPublicPrefixes:
                    - advertisedPublicPrefixes
                    - advertisedPublicPrefixes
                    advertisedPublicPrefixesState: NotConfigured
                    customerASN: 1
                  primaryPeerAddressPrefix: primaryPeerAddressPrefix
                  state: Disabled
                  secondaryPeerAddressPrefix: secondaryPeerAddressPrefix
                secondaryAzurePort: secondaryAzurePort
                vlanId: 2
                lastModifiedBy: lastModifiedBy
                azureASN: 6
                provisioningState: Succeeded
                peerASN: 2421234837
                secondaryPeerAddressPrefix: secondaryPeerAddressPrefix
                gatewayManagerEtag: gatewayManagerEtag
                microsoftPeeringConfig:
                  advertisedCommunities:
                  - advertisedCommunities
                  - advertisedCommunities
                  routingRegistryName: routingRegistryName
                  legacyMode: 5
                  advertisedPublicPrefixes:
                  - advertisedPublicPrefixes
                  - advertisedPublicPrefixes
                  advertisedPublicPrefixesState: NotConfigured
                  customerASN: 1
                primaryPeerAddressPrefix: primaryPeerAddressPrefix
                state: Disabled
                peeringType: AzurePublicPeering
            - name: name
              etag: etag
              properties:
                sharedKey: sharedKey
                primaryAzurePort: primaryAzurePort
                ipv6PeeringConfig:
                  routeFilter:
                    id: id
                  microsoftPeeringConfig:
                    advertisedCommunities:
                    - advertisedCommunities
                    - advertisedCommunities
                    routingRegistryName: routingRegistryName
                    legacyMode: 5
                    advertisedPublicPrefixes:
                    - advertisedPublicPrefixes
                    - advertisedPublicPrefixes
                    advertisedPublicPrefixesState: NotConfigured
                    customerASN: 1
                  primaryPeerAddressPrefix: primaryPeerAddressPrefix
                  state: Disabled
                  secondaryPeerAddressPrefix: secondaryPeerAddressPrefix
                secondaryAzurePort: secondaryAzurePort
                vlanId: 2
                lastModifiedBy: lastModifiedBy
                azureASN: 6
                provisioningState: Succeeded
                peerASN: 2421234837
                secondaryPeerAddressPrefix: secondaryPeerAddressPrefix
                gatewayManagerEtag: gatewayManagerEtag
                microsoftPeeringConfig:
                  advertisedCommunities:
                  - advertisedCommunities
                  - advertisedCommunities
                  routingRegistryName: routingRegistryName
                  legacyMode: 5
                  advertisedPublicPrefixes:
                  - advertisedPublicPrefixes
                  - advertisedPublicPrefixes
                  advertisedPublicPrefixesState: NotConfigured
                  customerASN: 1
                primaryPeerAddressPrefix: primaryPeerAddressPrefix
                state: Disabled
                peeringType: AzurePublicPeering
            provisioningState: Succeeded
            serviceProviderProvisioningState: NotProvisioned
            expressRouteCircuit:
              id: id
            peeringLocation: peeringLocation
        nextLink: nextLink
      properties:
        nextLink:
          description: The URL to get the next set of results.
          readOnly: true
          type: string
        value:
          description: A list of ExpressRouteCrossConnection resources.
          items:
            $ref: '#/components/schemas/ExpressRouteCrossConnection'
          type: array
      type: object
    ExpressRouteCrossConnectionPeering:
      allOf:
      - description: Reference to another subresource.
        properties:
          id:
            description: Resource ID.
            type: string
        type: object
        x-ms-azure-resource: true
      description: Peering in an ExpressRoute Cross Connection resource.
      example:
        name: name
        etag: etag
        properties:
          sharedKey: sharedKey
          primaryAzurePort: primaryAzurePort
          ipv6PeeringConfig:
            routeFilter:
              id: id
            microsoftPeeringConfig:
              advertisedCommunities:
              - advertisedCommunities
              - advertisedCommunities
              routingRegistryName: routingRegistryName
              legacyMode: 5
              advertisedPublicPrefixes:
              - advertisedPublicPrefixes
              - advertisedPublicPrefixes
              advertisedPublicPrefixesState: NotConfigured
              customerASN: 1
            primaryPeerAddressPrefix: primaryPeerAddressPrefix
            state: Disabled
            secondaryPeerAddressPrefix: secondaryPeerAddressPrefix
          secondaryAzurePort: secondaryAzurePort
          vlanId: 2
          lastModifiedBy: lastModifiedBy
          azureASN: 6
          provisioningState: Succeeded
          peerASN: 2421234837
          secondaryPeerAddressPrefix: secondaryPeerAddressPrefix
          gatewayManagerEtag: gatewayManagerEtag
          microsoftPeeringConfig:
            advertisedCommunities:
            - advertisedCommunities
            - advertisedCommunities
            routingRegistryName: routingRegistryName
            legacyMode: 5
            advertisedPublicPrefixes:
            - advertisedPublicPrefixes
            - advertisedPublicPrefixes
            advertisedPublicPrefixesState: NotConfigured
            customerASN: 1
          primaryPeerAddressPrefix: primaryPeerAddressPrefix
          state: Disabled
          peeringType: AzurePublicPeering
      properties:
        etag:
          description: A unique read-only string that changes whenever the resource
            is updated.
          readOnly: true
          type: string
        name:
          description: The name of the resource that is unique within a resource group.
            This name can be used to access the resource.
          type: string
        properties:
          $ref: '#/components/schemas/ExpressRouteCrossConnectionPeeringProperties'
    ExpressRouteCrossConnectionPeeringList:
      description: Response for ListPeering API service call retrieves all peerings
        that belong to an ExpressRouteCrossConnection.
      example:
        value:
        - name: name
          etag: etag
          properties:
            sharedKey: sharedKey
            primaryAzurePort: primaryAzurePort
            ipv6PeeringConfig:
              routeFilter:
                id: id
              microsoftPeeringConfig:
                advertisedCommunities:
                - advertisedCommunities
                - advertisedCommunities
                routingRegistryName: routingRegistryName
                legacyMode: 5
                advertisedPublicPrefixes:
                - advertisedPublicPrefixes
                - advertisedPublicPrefixes
                advertisedPublicPrefixesState: NotConfigured
                customerASN: 1
              primaryPeerAddressPrefix: primaryPeerAddressPrefix
              state: Disabled
              secondaryPeerAddressPrefix: secondaryPeerAddressPrefix
            secondaryAzurePort: secondaryAzurePort
            vlanId: 2
            lastModifiedBy: lastModifiedBy
            azureASN: 6
            provisioningState: Succeeded
            peerASN: 2421234837
            secondaryPeerAddressPrefix: secondaryPeerAddressPrefix
            gatewayManagerEtag: gatewayManagerEtag
            microsoftPeeringConfig:
              advertisedCommunities:
              - advertisedCommunities
              - advertisedCommunities
              routingRegistryName: routingRegistryName
              legacyMode: 5
              advertisedPublicPrefixes:
              - advertisedPublicPrefixes
              - advertisedPublicPrefixes
              advertisedPublicPrefixesState: NotConfigured
              customerASN: 1
            primaryPeerAddressPrefix: primaryPeerAddressPrefix
            state: Disabled
            peeringType: AzurePublicPeering
        - name: name
          etag: etag
          properties:
            sharedKey: sharedKey
            primaryAzurePort: primaryAzurePort
            ipv6PeeringConfig:
              routeFilter:
                id: id
              microsoftPeeringConfig:
                advertisedCommunities:
                - advertisedCommunities
                - advertisedCommunities
                routingRegistryName: routingRegistryName
                legacyMode: 5
                advertisedPublicPrefixes:
                - advertisedPublicPrefixes
                - advertisedPublicPrefixes
                advertisedPublicPrefixesState: NotConfigured
                customerASN: 1
              primaryPeerAddressPrefix: primaryPeerAddressPrefix
              state: Disabled
              secondaryPeerAddressPrefix: secondaryPeerAddressPrefix
            secondaryAzurePort: secondaryAzurePort
            vlanId: 2
            lastModifiedBy: lastModifiedBy
            azureASN: 6
            provisioningState: Succeeded
            peerASN: 2421234837
            secondaryPeerAddressPrefix: secondaryPeerAddressPrefix
            gatewayManagerEtag: gatewayManagerEtag
            microsoftPeeringConfig:
              advertisedCommunities:
              - advertisedCommunities
              - advertisedCommunities
              routingRegistryName: routingRegistryName
              legacyMode: 5
              advertisedPublicPrefixes:
              - advertisedPublicPrefixes
              - advertisedPublicPrefixes
              advertisedPublicPrefixesState: NotConfigured
              customerASN: 1
            primaryPeerAddressPrefix: primaryPeerAddressPrefix
            state: Disabled
            peeringType: AzurePublicPeering
        nextLink: nextLink
      properties:
        nextLink:
          description: The URL to get the next set of results.
          readOnly: true
          type: string
        value:
          description: The peerings in an express route cross connection.
          items:
            $ref: '#/components/schemas/ExpressRouteCrossConnectionPeering'
          type: array
      type: object
    ExpressRouteCrossConnectionPeeringProperties:
      description: Properties of express route cross connection peering.
      example:
        sharedKey: sharedKey
        primaryAzurePort: primaryAzurePort
        ipv6PeeringConfig:
          routeFilter:
            id: id
          microsoftPeeringConfig:
            advertisedCommunities:
            - advertisedCommunities
            - advertisedCommunities
            routingRegistryName: routingRegistryName
            legacyMode: 5
            advertisedPublicPrefixes:
            - advertisedPublicPrefixes
            - advertisedPublicPrefixes
            advertisedPublicPrefixesState: NotConfigured
            customerASN: 1
          primaryPeerAddressPrefix: primaryPeerAddressPrefix
          state: Disabled
          secondaryPeerAddressPrefix: secondaryPeerAddressPrefix
        secondaryAzurePort: secondaryAzurePort
        vlanId: 2
        lastModifiedBy: lastModifiedBy
        azureASN: 6
        provisioningState: Succeeded
        peerASN: 2421234837
        secondaryPeerAddressPrefix: secondaryPeerAddressPrefix
        gatewayManagerEtag: gatewayManagerEtag
        microsoftPeeringConfig:
          advertisedCommunities:
          - advertisedCommunities
          - advertisedCommunities
          routingRegistryName: routingRegistryName
          legacyMode: 5
          advertisedPublicPrefixes:
          - advertisedPublicPrefixes
          - advertisedPublicPrefixes
          advertisedPublicPrefixesState: NotConfigured
          customerASN: 1
        primaryPeerAddressPrefix: primaryPeerAddressPrefix
        state: Disabled
        peeringType: AzurePublicPeering
      properties:
        azureASN:
          description: The Azure ASN.
          format: int32
          readOnly: true
          type: integer
        gatewayManagerEtag:
          description: The GatewayManager Etag.
          type: string
        ipv6PeeringConfig:
          $ref: '#/components/schemas/ExpressRouteCrossConnectionPeeringProperties_ipv6PeeringConfig'
        lastModifiedBy:
          description: Who was the last to modify the peering.
          type: string
        microsoftPeeringConfig:
          $ref: '#/components/schemas/ExpressRouteCrossConnectionPeeringProperties_ipv6PeeringConfig_microsoftPeeringConfig'
        peerASN:
          description: The peer ASN.
          format: int64
          maximum: 4294967295
          minimum: 1
          type: integer
        peeringType:
          description: The peering type.
          enum:
          - AzurePublicPeering
          - AzurePrivatePeering
          - MicrosoftPeering
          type: string
          x-ms-enum:
            modelAsString: true
            name: ExpressRoutePeeringType
        primaryAzurePort:
          description: The primary port.
          readOnly: true
          type: string
        primaryPeerAddressPrefix:
          description: The primary address prefix.
          type: string
        provisioningState:
          description: The current provisioning state.
          enum:
          - Succeeded
          - Updating
          - Deleting
          - Failed
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: ProvisioningState
        secondaryAzurePort:
          description: The secondary port.
          readOnly: true
          type: string
        secondaryPeerAddressPrefix:
          description: The secondary address prefix.
          type: string
        sharedKey:
          description: The shared key.
          type: string
        state:
          description: The state of peering.
          enum:
          - Disabled
          - Enabled
          type: string
          x-ms-enum:
            modelAsString: true
            name: ExpressRoutePeeringState
        vlanId:
          description: The VLAN ID.
          format: int32
          type: integer
      type: object
    ExpressRouteCrossConnectionProperties:
      description: Properties of ExpressRouteCrossConnection.
      example:
        primaryAzurePort: primaryAzurePort
        sTag: 7
        secondaryAzurePort: secondaryAzurePort
        bandwidthInMbps: 0
        serviceProviderNotes: serviceProviderNotes
        peerings:
        - name: name
          etag: etag
          properties:
            sharedKey: sharedKey
            primaryAzurePort: primaryAzurePort
            ipv6PeeringConfig:
              routeFilter:
                id: id
              microsoftPeeringConfig:
                advertisedCommunities:
                - advertisedCommunities
                - advertisedCommunities
                routingRegistryName: routingRegistryName
                legacyMode: 5
                advertisedPublicPrefixes:
                - advertisedPublicPrefixes
                - advertisedPublicPrefixes
                advertisedPublicPrefixesState: NotConfigured
                customerASN: 1
              primaryPeerAddressPrefix: primaryPeerAddressPrefix
              state: Disabled
              secondaryPeerAddressPrefix: secondaryPeerAddressPrefix
            secondaryAzurePort: secondaryAzurePort
            vlanId: 2
            lastModifiedBy: lastModifiedBy
            azureASN: 6
            provisioningState: Succeeded
            peerASN: 2421234837
            secondaryPeerAddressPrefix: secondaryPeerAddressPrefix
            gatewayManagerEtag: gatewayManagerEtag
            microsoftPeeringConfig:
              advertisedCommunities:
              - advertisedCommunities
              - advertisedCommunities
              routingRegistryName: routingRegistryName
              legacyMode: 5
              advertisedPublicPrefixes:
              - advertisedPublicPrefixes
              - advertisedPublicPrefixes
              advertisedPublicPrefixesState: NotConfigured
              customerASN: 1
            primaryPeerAddressPrefix: primaryPeerAddressPrefix
            state: Disabled
            peeringType: AzurePublicPeering
        - name: name
          etag: etag
          properties:
            sharedKey: sharedKey
            primaryAzurePort: primaryAzurePort
            ipv6PeeringConfig:
              routeFilter:
                id: id
              microsoftPeeringConfig:
                advertisedCommunities:
                - advertisedCommunities
                - advertisedCommunities
                routingRegistryName: routingRegistryName
                legacyMode: 5
                advertisedPublicPrefixes:
                - advertisedPublicPrefixes
                - advertisedPublicPrefixes
                advertisedPublicPrefixesState: NotConfigured
                customerASN: 1
              primaryPeerAddressPrefix: primaryPeerAddressPrefix
              state: Disabled
              secondaryPeerAddressPrefix: secondaryPeerAddressPrefix
            secondaryAzurePort: secondaryAzurePort
            vlanId: 2
            lastModifiedBy: lastModifiedBy
            azureASN: 6
            provisioningState: Succeeded
            peerASN: 2421234837
            secondaryPeerAddressPrefix: secondaryPeerAddressPrefix
            gatewayManagerEtag: gatewayManagerEtag
            microsoftPeeringConfig:
              advertisedCommunities:
              - advertisedCommunities
              - advertisedCommunities
              routingRegistryName: routingRegistryName
              legacyMode: 5
              advertisedPublicPrefixes:
              - advertisedPublicPrefixes
              - advertisedPublicPrefixes
              advertisedPublicPrefixesState: NotConfigured
              customerASN: 1
            primaryPeerAddressPrefix: primaryPeerAddressPrefix
            state: Disabled
            peeringType: AzurePublicPeering
        provisioningState: Succeeded
        serviceProviderProvisioningState: NotProvisioned
        expressRouteCircuit:
          id: id
        peeringLocation: peeringLocation
      properties:
        bandwidthInMbps:
          description: The circuit bandwidth In Mbps.
          format: int32
          type: integer
        expressRouteCircuit:
          $ref: '#/components/schemas/ExpressRouteCircuitReference'
        peeringLocation:
          description: The peering location of the ExpressRoute circuit.
          type: string
        peerings:
          description: The list of peerings.
          items:
            $ref: '#/components/schemas/ExpressRouteCrossConnectionPeering'
          type: array
        primaryAzurePort:
          description: The name of the primary port.
          readOnly: true
          type: string
        provisioningState:
          description: The current provisioning state.
          enum:
          - Succeeded
          - Updating
          - Deleting
          - Failed
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: ProvisioningState
        sTag:
          description: The identifier of the circuit traffic.
          readOnly: true
          type: integer
        secondaryAzurePort:
          description: The name of the secondary port.
          readOnly: true
          type: string
        serviceProviderNotes:
          description: Additional read only notes set by the connectivity provider.
          type: string
        serviceProviderProvisioningState:
          description: The ServiceProviderProvisioningState state of the resource.
          enum:
          - NotProvisioned
          - Provisioning
          - Provisioned
          - Deprovisioning
          type: string
          x-ms-enum:
            modelAsString: true
            name: ServiceProviderProvisioningState
      type: object
    ExpressRouteCrossConnectionRoutesTableSummary:
      description: The routes table associated with the ExpressRouteCircuit.
      example:
        upDown: upDown
        asn: 0
        neighbor: neighbor
        stateOrPrefixesReceived: stateOrPrefixesReceived
      properties:
        asn:
          description: Autonomous system number.
          format: int32
          type: integer
        neighbor:
          description: IP address of Neighbor router.
          type: string
        stateOrPrefixesReceived:
          description: "Current state of the BGP session, and the number of prefixes\
            \ that have been received from a neighbor or peer group."
          type: string
        upDown:
          description: "The length of time that the BGP session has been in the Established\
            \ state, or the current status if not in the Established state."
          type: string
      type: object
    ExpressRouteCrossConnectionsRoutesTableSummaryListResult:
      description: Response for ListRoutesTable associated with the Express Route
        Cross Connections.
      example:
        value:
        - upDown: upDown
          asn: 0
          neighbor: neighbor
          stateOrPrefixesReceived: stateOrPrefixesReceived
        - upDown: upDown
          asn: 0
          neighbor: neighbor
          stateOrPrefixesReceived: stateOrPrefixesReceived
        nextLink: nextLink
      properties:
        nextLink:
          description: The URL to get the next set of results.
          readOnly: true
          type: string
        value:
          description: A list of the routes table.
          items:
            $ref: '#/components/schemas/ExpressRouteCrossConnectionRoutesTableSummary'
          type: array
      type: object
    ExpressRouteCrossConnections_UpdateTags_request:
      description: Tags object for patch operations.
      properties:
        tags:
          additionalProperties:
            type: string
          description: Resource tags.
          type: object
      type: object
    ExpressRouteCrossConnections_ListArpTable_200_response_value_inner:
      description: The ARP table associated with the ExpressRouteCircuit.
      example:
        macAddress: macAddress
        ipAddress: ipAddress
        interface: interface
        age: 0
      properties:
        age:
          description: Entry age in minutes.
          format: int32
          type: integer
        interface:
          description: Interface address.
          type: string
        ipAddress:
          description: The IP address.
          type: string
        macAddress:
          description: The MAC address.
          type: string
      type: object
    ExpressRouteCrossConnections_ListArpTable_200_response:
      description: Response for ListArpTable associated with the Express Route Circuits
        API.
      example:
        value:
        - macAddress: macAddress
          ipAddress: ipAddress
          interface: interface
          age: 0
        - macAddress: macAddress
          ipAddress: ipAddress
          interface: interface
          age: 0
        nextLink: nextLink
      properties:
        nextLink:
          description: The URL to get the next set of results.
          type: string
        value:
          description: A list of the ARP tables.
          items:
            $ref: '#/components/schemas/ExpressRouteCrossConnections_ListArpTable_200_response_value_inner'
          type: array
      type: object
    ExpressRouteCrossConnections_ListRoutesTable_200_response_value_inner:
      description: The routes table associated with the ExpressRouteCircuit.
      example:
        locPrf: locPrf
        nextHop: nextHop
        path: path
        weight: 0
        network: network
      properties:
        locPrf:
          description: Local preference value as set with the set local-preference
            route-map configuration command.
          type: string
        network:
          description: IP address of a network entity.
          type: string
        nextHop:
          description: NextHop address.
          type: string
        path:
          description: Autonomous system paths to the destination network.
          type: string
        weight:
          description: Route Weight.
          format: int32
          type: integer
      type: object
    ExpressRouteCrossConnections_ListRoutesTable_200_response:
      description: Response for ListRoutesTable associated with the Express Route
        Circuits API.
      example:
        value:
        - locPrf: locPrf
          nextHop: nextHop
          path: path
          weight: 0
          network: network
        - locPrf: locPrf
          nextHop: nextHop
          path: path
          weight: 0
          network: network
        nextLink: nextLink
      properties:
        nextLink:
          description: The URL to get the next set of results.
          type: string
        value:
          description: The list of routes table.
          items:
            $ref: '#/components/schemas/ExpressRouteCrossConnections_ListRoutesTable_200_response_value_inner'
          type: array
      type: object
    ExpressRouteCrossConnectionPeeringProperties_ipv6PeeringConfig_microsoftPeeringConfig:
      description: Specifies the peering configuration.
      example:
        advertisedCommunities:
        - advertisedCommunities
        - advertisedCommunities
        routingRegistryName: routingRegistryName
        legacyMode: 5
        advertisedPublicPrefixes:
        - advertisedPublicPrefixes
        - advertisedPublicPrefixes
        advertisedPublicPrefixesState: NotConfigured
        customerASN: 1
      properties:
        advertisedCommunities:
          description: The communities of bgp peering. Specified for microsoft peering.
          items:
            type: string
          type: array
        advertisedPublicPrefixes:
          description: The reference of AdvertisedPublicPrefixes.
          items:
            type: string
          type: array
        advertisedPublicPrefixesState:
          description: The advertised public prefix state of the Peering resource.
          enum:
          - NotConfigured
          - Configuring
          - Configured
          - ValidationNeeded
          type: string
          x-ms-enum:
            modelAsString: true
            name: ExpressRouteCircuitPeeringAdvertisedPublicPrefixState
        customerASN:
          description: The CustomerASN of the peering.
          format: int32
          type: integer
        legacyMode:
          description: The legacy mode of the peering.
          format: int32
          type: integer
        routingRegistryName:
          description: The RoutingRegistryName of the configuration.
          type: string
      type: object
    ExpressRouteCrossConnectionPeeringProperties_ipv6PeeringConfig_routeFilter:
      description: Reference to another subresource.
      example:
        id: id
      properties:
        id:
          description: Resource ID.
          type: string
      type: object
      x-ms-azure-resource: true
    ExpressRouteCrossConnectionPeeringProperties_ipv6PeeringConfig:
      description: Contains IPv6 peering config.
      example:
        routeFilter:
          id: id
        microsoftPeeringConfig:
          advertisedCommunities:
          - advertisedCommunities
          - advertisedCommunities
          routingRegistryName: routingRegistryName
          legacyMode: 5
          advertisedPublicPrefixes:
          - advertisedPublicPrefixes
          - advertisedPublicPrefixes
          advertisedPublicPrefixesState: NotConfigured
          customerASN: 1
        primaryPeerAddressPrefix: primaryPeerAddressPrefix
        state: Disabled
        secondaryPeerAddressPrefix: secondaryPeerAddressPrefix
      properties:
        microsoftPeeringConfig:
          $ref: '#/components/schemas/ExpressRouteCrossConnectionPeeringProperties_ipv6PeeringConfig_microsoftPeeringConfig'
        primaryPeerAddressPrefix:
          description: The primary address prefix.
          type: string
        routeFilter:
          $ref: '#/components/schemas/ExpressRouteCrossConnectionPeeringProperties_ipv6PeeringConfig_routeFilter'
        secondaryPeerAddressPrefix:
          description: The secondary address prefix.
          type: string
        state:
          description: The state of peering.
          enum:
          - Disabled
          - Enabled
          type: string
          x-ms-enum:
            modelAsString: true
            name: ExpressRouteCircuitPeeringState
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

