openapi: 3.0.0
info:
  description: A client for issuing REST requests to the Azure Batch service.
  title: BatchService
  version: 2015-12-01.2.2
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-ms-code-generation-settings:
    name: BatchServiceClient
  x-origin:
  - format: openapi
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/batch/data-plane/Microsoft.Batch/stable/2015-12-01.2.2/BatchService.json
    version: "3.0"
  x-preferred: false
  x-providerName: windows.net
  x-serviceName: batch-BatchService
servers:
- url: https://batch.core.windows.net
paths:
  /applications:
    get:
      description: Lists all of the applications available in the specified account.
      operationId: application_list
      parameters:
      - description: Sets the maximum number of items to return in the response.
        explode: true
        in: query
        name: maxresults
        required: false
        schema:
          format: int32
          type: integer
        style: form
        x-ms-client-name: maxResults
        x-ms-parameter-grouping:
          postfix: Options
      - description: "Sets the maximum time that the server can spend processing the\
          \ request, in seconds. The default is 30 seconds."
        explode: true
        in: query
        name: timeout
        required: false
        schema:
          default: 30
          format: int32
          type: integer
        style: form
        x-ms-parameter-grouping:
          postfix: Options
      - description: "Caller generated request identity, in the form of a GUID with\
          \ no decoration such as curly braces e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0."
        explode: false
        in: header
        name: client-request-id
        required: false
        schema:
          type: string
        style: simple
        x-ms-client-request-id: true
        x-ms-parameter-grouping:
          postfix: Options
      - description: Specifies if the server should return the client-request-id identifier
          in the response.
        explode: false
        in: header
        name: return-client-request-id
        required: false
        schema:
          type: boolean
        style: simple
        x-ms-parameter-grouping:
          postfix: Options
      - description: "The time the request was issued. If not specified, this header\
          \ will be automatically populated with the current system clock time."
        explode: false
        in: header
        name: ocp-date
        required: false
        schema:
          format: date-time-rfc1123
          type: string
        style: simple
        x-ms-parameter-grouping:
          postfix: Options
      - description: Client API Version.
        explode: true
        in: query
        name: api-version
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationListResult'
          description: ""
          headers:
            ETag:
              description: Gets the content of the ETag HTTP response header.
              explode: false
              schema:
                type: string
              style: simple
            Last-Modified:
              description: Gets the content of the Last-Modified HTTP response header.
              explode: false
              schema:
                format: date-time-rfc1123
                type: string
              style: simple
            client-request-id:
              description: "Gets the ClientRequestId provided by the client during\
                \ the request, if present and requested to be returned."
              explode: false
              schema:
                type: string
              style: simple
            request-id:
              description: Gets the value that uniquely identifies a request.
              explode: false
              schema:
                type: string
              style: simple
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchError'
          description: Error from the Batch service
      tags:
      - Applications
      x-ms-pageable:
        nextLinkName: odata.nextLink
      x-ms-request-id: request-id
      x-openapi-router-controller: openapi_server.controllers.applications_controller
  /applications/{applicationId}:
    get:
      description: Gets information about the specified application.
      operationId: application_get
      parameters:
      - description: The id of the application.
        explode: false
        in: path
        name: applicationId
        required: true
        schema:
          type: string
        style: simple
      - description: "Sets the maximum time that the server can spend processing the\
          \ request, in seconds. The default is 30 seconds."
        explode: true
        in: query
        name: timeout
        required: false
        schema:
          default: 30
          format: int32
          type: integer
        style: form
        x-ms-parameter-grouping:
          postfix: Options
      - description: "Caller generated request identity, in the form of a GUID with\
          \ no decoration such as curly braces e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0."
        explode: false
        in: header
        name: client-request-id
        required: false
        schema:
          type: string
        style: simple
        x-ms-client-request-id: true
        x-ms-parameter-grouping:
          postfix: Options
      - description: Specifies if the server should return the client-request-id identifier
          in the response.
        explode: false
        in: header
        name: return-client-request-id
        required: false
        schema:
          type: boolean
        style: simple
        x-ms-parameter-grouping:
          postfix: Options
      - description: "The time the request was issued. If not specified, this header\
          \ will be automatically populated with the current system clock time."
        explode: false
        in: header
        name: ocp-date
        required: false
        schema:
          format: date-time-rfc1123
          type: string
        style: simple
        x-ms-parameter-grouping:
          postfix: Options
      - description: Client API Version.
        explode: true
        in: query
        name: api-version
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationSummary'
          description: ""
          headers:
            ETag:
              description: Gets the content of the ETag HTTP response header.
              explode: false
              schema:
                type: string
              style: simple
            Last-Modified:
              description: Gets the content of the Last-Modified HTTP response header.
              explode: false
              schema:
                format: date-time-rfc1123
                type: string
              style: simple
            client-request-id:
              description: "Gets the ClientRequestId provided by the client during\
                \ the request, if present and requested to be returned."
              explode: false
              schema:
                type: string
              style: simple
            request-id:
              description: Gets the value that uniquely identifies a request.
              explode: false
              schema:
                type: string
              style: simple
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchError'
          description: Error from the Batch service
      tags:
      - Applications
      x-ms-request-id: request-id
      x-openapi-router-controller: openapi_server.controllers.applications_controller
  /certificates:
    get:
      description: Lists all of the certificates that have been added to the specified
        account.
      operationId: certificate_list
      parameters:
      - description: Sets an OData $filter clause.
        explode: true
        in: query
        name: $filter
        required: false
        schema:
          type: string
        style: form
        x-ms-parameter-grouping:
          postfix: Options
      - description: Sets an OData $select clause.
        explode: true
        in: query
        name: $select
        required: false
        schema:
          type: string
        style: form
        x-ms-parameter-grouping:
          postfix: Options
      - description: Sets the maximum number of items to return in the response.
        explode: true
        in: query
        name: maxresults
        required: false
        schema:
          format: int32
          type: integer
        style: form
        x-ms-client-name: maxResults
        x-ms-parameter-grouping:
          postfix: Options
      - description: "Sets the maximum time that the server can spend processing the\
          \ request, in seconds. The default is 30 seconds."
        explode: true
        in: query
        name: timeout
        required: false
        schema:
          default: 30
          format: int32
          type: integer
        style: form
        x-ms-parameter-grouping:
          postfix: Options
      - description: "Caller generated request identity, in the form of a GUID with\
          \ no decoration such as curly braces e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0."
        explode: false
        in: header
        name: client-request-id
        required: false
        schema:
          type: string
        style: simple
        x-ms-client-request-id: true
        x-ms-parameter-grouping:
          postfix: Options
      - description: Specifies if the server should return the client-request-id identifier
          in the response.
        explode: false
        in: header
        name: return-client-request-id
        required: false
        schema:
          type: boolean
        style: simple
        x-ms-parameter-grouping:
          postfix: Options
      - description: "The time the request was issued. If not specified, this header\
          \ will be automatically populated with the current system clock time."
        explode: false
        in: header
        name: ocp-date
        required: false
        schema:
          format: date-time-rfc1123
          type: string
        style: simple
        x-ms-parameter-grouping:
          postfix: Options
      - description: Client API Version.
        explode: true
        in: query
        name: api-version
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateListResult'
          description: Gets the list of certificates.
          headers:
            ETag:
              description: Gets the content of the ETag HTTP response header.
              explode: false
              schema:
                type: string
              style: simple
            Last-Modified:
              description: Gets the content of the Last-Modified HTTP response header.
              explode: false
              schema:
                format: date-time-rfc1123
                type: string
              style: simple
            client-request-id:
              description: "Gets the ClientRequestId provided by the client during\
                \ the request, if present and requested to be returned."
              explode: false
              schema:
                type: string
              style: simple
            request-id:
              description: Gets the value that uniquely identifies a request.
              explode: false
              schema:
                type: string
              style: simple
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchError'
          description: Error from the Batch service
      tags:
      - Certificates
      x-ms-pageable:
        nextLinkName: odata.nextLink
      x-ms-request-id: request-id
      x-openapi-router-controller: openapi_server.controllers.certificates_controller
    post:
      description: Adds a certificate to the specified account.
      operationId: certificate_add
      parameters:
      - description: "Sets the maximum time that the server can spend processing the\
          \ request, in seconds. The default is 30 seconds."
        explode: true
        in: query
        name: timeout
        required: false
        schema:
          default: 30
          format: int32
          type: integer
        style: form
        x-ms-parameter-grouping:
          postfix: Options
      - description: "Caller generated request identity, in the form of a GUID with\
          \ no decoration such as curly braces e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0."
        explode: false
        in: header
        name: client-request-id
        required: false
        schema:
          type: string
        style: simple
        x-ms-client-request-id: true
        x-ms-parameter-grouping:
          postfix: Options
      - description: Specifies if the server should return the client-request-id identifier
          in the response.
        explode: false
        in: header
        name: return-client-request-id
        required: false
        schema:
          type: boolean
        style: simple
        x-ms-parameter-grouping:
          postfix: Options
      - description: "The time the request was issued. If not specified, this header\
          \ will be automatically populated with the current system clock time."
        explode: false
        in: header
        name: ocp-date
        required: false
        schema:
          format: date-time-rfc1123
          type: string
        style: simple
        x-ms-parameter-grouping:
          postfix: Options
      - description: Client API Version.
        explode: true
        in: query
        name: api-version
        required: true
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json; odata=minimalmetadata:
            schema:
              $ref: '#/components/schemas/CertificateAddParameter'
        description: Specifies the certificate to be added.
        required: true
        x-body-name: body
      responses:
        "201":
          description: Initial response
          headers:
            DataServiceId:
              description: Gets the OData id of the resource to which the request
                applied.
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Gets the content of the ETag HTTP response header.
              explode: false
              schema:
                type: string
              style: simple
            Last-Modified:
              description: Gets the content of the Last-Modified HTTP response header.
              explode: false
              schema:
                format: date-time-rfc1123
                type: string
              style: simple
            client-request-id:
              description: "Gets the ClientRequestId provided by the client during\
                \ the request, if present and requested to be returned."
              explode: false
              schema:
                type: string
              style: simple
            request-id:
              description: Gets the value that uniquely identifies a request.
              explode: false
              schema:
                type: string
              style: simple
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchError'
          description: Error from the Batch service
      tags:
      - Certificates
      x-ms-request-id: request-id
      x-openapi-router-controller: openapi_server.controllers.certificates_controller
      x-codegen-request-body-name: body
  /certificates(thumbprintAlgorithm={thumbprintAlgorithm},thumbprint={thumbprint}):
    delete:
      description: Deletes a certificate from the specified account.
      operationId: certificate_delete
      parameters:
      - description: The algorithm used to derive the thumbprint parameter. This must
          be sha1.
        explode: false
        in: path
        name: thumbprintAlgorithm
        required: true
        schema:
          type: string
        style: simple
      - description: The thumbprint of the certificate to be deleted.
        explode: false
        in: path
        name: thumbprint
        required: true
        schema:
          type: string
        style: simple
      - description: "Sets the maximum time that the server can spend processing the\
          \ request, in seconds. The default is 30 seconds."
        explode: true
        in: query
        name: timeout
        required: false
        schema:
          default: 30
          format: int32
          type: integer
        style: form
        x-ms-parameter-grouping:
          postfix: Options
      - description: "Caller generated request identity, in the form of a GUID with\
          \ no decoration such as curly braces e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0."
        explode: false
        in: header
        name: client-request-id
        required: false
        schema:
          type: string
        style: simple
        x-ms-client-request-id: true
        x-ms-parameter-grouping:
          postfix: Options
      - description: Specifies if the server should return the client-request-id identifier
          in the response.
        explode: false
        in: header
        name: return-client-request-id
        required: false
        schema:
          type: boolean
        style: simple
        x-ms-parameter-grouping:
          postfix: Options
      - description: "The time the request was issued. If not specified, this header\
          \ will be automatically populated with the current system clock time."
        explode: false
        in: header
        name: ocp-date
        required: false
        schema:
          format: date-time-rfc1123
          type: string
        style: simple
        x-ms-parameter-grouping:
          postfix: Options
      - description: Client API Version.
        explode: true
        in: query
        name: api-version
        required: true
        schema:
          type: string
        style: form
      responses:
        "202":
          description: ""
          headers:
            ETag:
              description: Gets the content of the ETag HTTP response header.
              explode: false
              schema:
                type: string
              style: simple
            Last-Modified:
              description: Gets the content of the Last-Modified HTTP response header.
              explode: false
              schema:
                format: date-time-rfc1123
                type: string
              style: simple
            client-request-id:
              description: "Gets the ClientRequestId provided by the client during\
                \ the request, if present and requested to be returned."
              explode: false
              schema:
                type: string
              style: simple
            request-id:
              description: Gets the value that uniquely identifies a request.
              explode: false
              schema:
                type: string
              style: simple
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchError'
          description: Error from the Batch service
      tags:
      - Certificates
      x-ms-request-id: request-id
      x-openapi-router-controller: openapi_server.controllers.certificates_controller
    get:
      description: Gets information about the specified certificate.
      operationId: certificate_get
      parameters:
      - description: The algorithm used to derive the thumbprint parameter. This must
          be sha1.
        explode: false
        in: path
        name: thumbprintAlgorithm
        required: true
        schema:
          type: string
        style: simple
      - description: The thumbprint of the certificate to get.
        explode: false
        in: path
        name: thumbprint
        required: true
        schema:
          type: string
        style: simple
      - description: Sets an OData $select clause.
        explode: true
        in: query
        name: $select
        required: false
        schema:
          type: string
        style: form
        x-ms-parameter-grouping:
          postfix: Options
      - description: "Sets the maximum time that the server can spend processing the\
          \ request, in seconds. The default is 30 seconds."
        explode: true
        in: query
        name: timeout
        required: false
        schema:
          default: 30
          format: int32
          type: integer
        style: form
        x-ms-parameter-grouping:
          postfix: Options
      - description: "Caller generated request identity, in the form of a GUID with\
          \ no decoration such as curly braces e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0."
        explode: false
        in: header
        name: client-request-id
        required: false
        schema:
          type: string
        style: simple
        x-ms-client-request-id: true
        x-ms-parameter-grouping:
          postfix: Options
      - description: Specifies if the server should return the client-request-id identifier
          in the response.
        explode: false
        in: header
        name: return-client-request-id
        required: false
        schema:
          type: boolean
        style: simple
        x-ms-parameter-grouping:
          postfix: Options
      - description: "The time the request was issued. If not specified, this header\
          \ will be automatically populated with the current system clock time."
        explode: false
        in: header
        name: ocp-date
        required: false
        schema:
          format: date-time-rfc1123
          type: string
        style: simple
        x-ms-parameter-grouping:
          postfix: Options
      - description: Client API Version.
        explode: true
        in: query
        name: api-version
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Certificate'
          description: ""
          headers:
            ETag:
              description: Gets the content of the ETag HTTP response header.
              explode: false
              schema:
                type: string
              style: simple
            Last-Modified:
              description: Gets the content of the Last-Modified HTTP response header.
              explode: false
              schema:
                format: date-time-rfc1123
                type: string
              style: simple
            client-request-id:
              description: "Gets the ClientRequestId provided by the client during\
                \ the request, if present and requested to be returned."
              explode: false
              schema:
                type: string
              style: simple
            request-id:
              description: Gets the value that uniquely identifies a request.
              explode: false
              schema:
                type: string
              style: simple
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchError'
          description: Error from the Batch service
      tags:
      - Certificates
      x-ms-request-id: request-id
      x-openapi-router-controller: openapi_server.controllers.certificates_controller
  /certificates(thumbprintAlgorithm={thumbprintAlgorithm},thumbprint={thumbprint})/canceldelete:
    post:
      description: Cancels a failed deletion of a certificate from the specified account.
      operationId: certificate_cancel_deletion
      parameters:
      - description: The algorithm used to derive the thumbprint parameter. This must
          be sha1.
        explode: false
        in: path
        name: thumbprintAlgorithm
        required: true
        schema:
          type: string
        style: simple
      - description: The thumbprint of the certificate being deleted.
        explode: false
        in: path
        name: thumbprint
        required: true
        schema:
          type: string
        style: simple
      - description: "Sets the maximum time that the server can spend processing the\
          \ request, in seconds. The default is 30 seconds."
        explode: true
        in: query
        name: timeout
        required: false
        schema:
          default: 30
          format: int32
          type: integer
        style: form
        x-ms-parameter-grouping:
          postfix: Options
      - description: "Caller generated request identity, in the form of a GUID with\
          \ no decoration such as curly braces e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0."
        explode: false
        in: header
        name: client-request-id
        required: false
        schema:
          type: string
        style: simple
        x-ms-client-request-id: true
        x-ms-parameter-grouping:
          postfix: Options
      - description: Specifies if the server should return the client-request-id identifier
          in the response.
        explode: false
        in: header
        name: return-client-request-id
        required: false
        schema:
          type: boolean
        style: simple
        x-ms-parameter-grouping:
          postfix: Options
      - description: "The time the request was issued. If not specified, this header\
          \ will be automatically populated with the current system clock time."
        explode: false
        in: header
        name: ocp-date
        required: false
        schema:
          format: date-time-rfc1123
          type: string
        style: simple
        x-ms-parameter-grouping:
          postfix: Options
      - description: Client API Version.
        explode: true
        in: query
        name: api-version
        required: true
        schema:
          type: string
        style: form
      responses:
        "204":
          description: ""
          headers:
            DataServiceId:
              description: Gets the OData id of the resource to which the request
                applied.
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Gets the content of the ETag HTTP response header.
              explode: false
              schema:
                type: string
              style: simple
            Last-Modified:
              description: Gets the content of the Last-Modified HTTP response header.
              explode: false
              schema:
                format: date-time-rfc1123
                type: string
              style: simple
            client-request-id:
              description: "Gets the ClientRequestId provided by the client during\
                \ the request, if present and requested to be returned."
              explode: false
              schema:
                type: string
              style: simple
            request-id:
              description: Gets the value that uniquely identifies a request.
              explode: false
              schema:
                type: string
              style: simple
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchError'
          description: Error from the Batch service
      tags:
      - Certificates
      x-ms-request-id: request-id
      x-openapi-router-controller: openapi_server.controllers.certificates_controller
  /jobs:
    get:
      description: Lists all of the jobs in the specified account.
      operationId: job_list
      parameters:
      - description: Sets an OData $filter clause.
        explode: true
        in: query
        name: $filter
        required: false
        schema:
          type: string
        style: form
        x-ms-parameter-grouping:
          postfix: Options
      - description: Sets an OData $select clause.
        explode: true
        in: query
        name: $select
        required: false
        schema:
          type: string
        style: form
        x-ms-parameter-grouping:
          postfix: Options
      - description: Sets an OData $expand clause.
        explode: true
        in: query
        name: $expand
        required: false
        schema:
          type: string
        style: form
        x-ms-parameter-grouping:
          postfix: Options
      - description: Sets the maximum number of items to return in the response.
        explode: true
        in: query
        name: maxresults
        required: false
        schema:
          format: int32
          type: integer
        style: form
        x-ms-client-name: maxResults
        x-ms-parameter-grouping:
          postfix: Options
      - description: "Sets the maximum time that the server can spend processing the\
          \ request, in seconds. The default is 30 seconds."
        explode: true
        in: query
        name: timeout
        required: false
        schema:
          default: 30
          format: int32
          type: integer
        style: form
        x-ms-parameter-grouping:
          postfix: Options
      - description: "Caller generated request identity, in the form of a GUID with\
          \ no decoration such as curly braces e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0."
        explode: false
        in: header
        name: client-request-id
        required: false
        schema:
          type: string
        style: simple
        x-ms-client-request-id: true
        x-ms-parameter-grouping:
          postfix: Options
      - description: Specifies if the server should return the client-request-id identifier
          in the response.
        explode: false
        in: header
        name: return-client-request-id
        required: false
        schema:
          type: boolean
        style: simple
        x-ms-parameter-grouping:
          postfix: Options
      - description: "The time the request was issued. If not specified, this header\
          \ will be automatically populated with the current system clock time."
        explode: false
        in: header
        name: ocp-date
        required: false
        schema:
          format: date-time-rfc1123
          type: string
        style: simple
        x-ms-parameter-grouping:
          postfix: Options
      - description: Client API Version.
        explode: true
        in: query
        name: api-version
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudJobListResult'
          description: ""
          headers:
            ETag:
              description: Gets the content of the ETag HTTP response header.
              explode: false
              schema:
                type: string
              style: simple
            Last-Modified:
              description: Gets the content of the Last-Modified HTTP response header.
              explode: false
              schema:
                format: date-time-rfc1123
                type: string
              style: simple
            client-request-id:
              description: "Gets the ClientRequestId provided by the client during\
                \ the request, if present and requested to be returned."
              explode: false
              schema:
                type: string
              style: simple
            request-id:
              description: Gets the value that uniquely identifies a request.
              explode: false
              schema:
                type: string
              style: simple
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchError'
          description: Error from the Batch service
      tags:
      - Jobs
      x-ms-pageable:
        nextLinkName: odata.nextLink
      x-ms-request-id: request-id
      x-openapi-router-controller: openapi_server.controllers.jobs_controller
    post:
      description: Adds a job to the specified account.
      operationId: job_add
      parameters:
      - description: "Sets the maximum time that the server can spend processing the\
          \ request, in seconds. The default is 30 seconds."
        explode: true
        in: query
        name: timeout
        required: false
        schema:
          default: 30
          format: int32
          type: integer
        style: form
        x-ms-parameter-grouping:
          postfix: Options
      - description: "Caller generated request identity, in the form of a GUID with\
          \ no decoration such as curly braces e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0."
        explode: false
        in: header
        name: client-request-id
        required: false
        schema:
          type: string
        style: simple
        x-ms-client-request-id: true
        x-ms-parameter-grouping:
          postfix: Options
      - description: Specifies if the server should return the client-request-id identifier
          in the response.
        explode: false
        in: header
        name: return-client-request-id
        required: false
        schema:
          type: boolean
        style: simple
        x-ms-parameter-grouping:
          postfix: Options
      - description: "The time the request was issued. If not specified, this header\
          \ will be automatically populated with the current system clock time."
        explode: false
        in: header
        name: ocp-date
        required: false
        schema:
          format: date-time-rfc1123
          type: string
        style: simple
        x-ms-parameter-grouping:
          postfix: Options
      - description: Client API Version.
        explode: true
        in: query
        name: api-version
        required: true
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json; odata=minimalmetadata:
            schema:
              $ref: '#/components/schemas/JobAddParameter'
        description: Specifies the job to be added.
        required: true
        x-body-name: body
      responses:
        "201":
          description: ""
          headers:
            DataServiceId:
              description: Gets the OData id of the resource to which the request
                applied.
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Gets the content of the ETag HTTP response header.
              explode: false
              schema:
                type: string
              style: simple
            Last-Modified:
              description: Gets the content of the Last-Modified HTTP response header.
              explode: false
              schema:
                format: date-time-rfc1123
                type: string
              style: simple
            client-request-id:
              description: "Gets the ClientRequestId provided by the client during\
                \ the request, if present and requested to be returned."
              explode: false
              schema:
                type: string
              style: simple
            request-id:
              description: Gets the value that uniquely identifies a request.
              explode: false
              schema:
                type: string
              style: simple
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchError'
          description: Error from the Batch service
      tags:
      - Jobs
      x-ms-request-id: request-id
      x-openapi-router-controller: openapi_server.controllers.jobs_controller
      x-codegen-request-body-name: body
  /jobs/{jobId}:
    delete:
      description: Deletes a job.
      operationId: job_delete
      parameters:
      - description: The id of the job to delete.
        explode: false
        in: path
        name: jobId
        required: true
        schema:
          type: string
        style: simple
      - description: "Sets the maximum time that the server can spend processing the\
          \ request, in seconds. The default is 30 seconds."
        explode: true
        in: query
        name: timeout
        required: false
        schema:
          default: 30
          format: int32
          type: integer
        style: form
        x-ms-parameter-grouping:
          postfix: Options
      - description: "Caller generated request identity, in the form of a GUID with\
          \ no decoration such as curly braces e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0."
        explode: false
        in: header
        name: client-request-id
        required: false
        schema:
          type: string
        style: simple
        x-ms-client-request-id: true
        x-ms-parameter-grouping:
          postfix: Options
      - description: Specifies if the server should return the client-request-id identifier
          in the response.
        explode: false
        in: header
        name: return-client-request-id
        required: false
        schema:
          type: boolean
        style: simple
        x-ms-parameter-grouping:
          postfix: Options
      - description: "The time the request was issued. If not specified, this header\
          \ will be automatically populated with the current system clock time."
        explode: false
        in: header
        name: ocp-date
        required: false
        schema:
          format: date-time-rfc1123
          type: string
        style: simple
        x-ms-parameter-grouping:
          postfix: Options
      - description: An ETag is specified. Specify this header to perform the operation
          only if the resource's ETag is an exact match as specified.
        explode: false
        in: header
        name: If-Match
        required: false
        schema:
          type: string
        style: simple
        x-ms-parameter-grouping:
          postfix: Options
      - description: An ETag is specified. Specify this header to perform the operation
          only if the resource's ETag does not match the specified ETag.
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
        x-ms-parameter-grouping:
          postfix: Options
      - description: Specify this header to perform the operation only if the resource
          has been modified since the specified date/time.
        explode: false
        in: header
        name: If-Modified-Since
        required: false
        schema:
          format: date-time-rfc1123
          type: string
        style: simple
        x-ms-parameter-grouping:
          postfix: Options
      - description: Specify this header to perform the operation only if the resource
          has not been modified since the specified date/time.
        explode: false
        in: header
        name: If-Unmodified-Since
        required: false
        schema:
          format: date-time-rfc1123
          type: string
        style: simple
        x-ms-parameter-grouping:
          postfix: Options
      - description: Client API Version.
        explode: true
        in: query
        name: api-version
        required: true
        schema:
          type: string
        style: form
      responses:
        "202":
          description: ""
          headers:
            client-request-id:
              description: "Gets the ClientRequestId provided by the client during\
                \ the request, if present and requested to be returned."
              explode: false
              schema:
                type: string
              style: simple
            request-id:
              description: Gets the value that uniquely identifies a request.
              explode: false
              schema:
                type: string
              style: simple
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchError'
          description: Error from the Batch service
      tags:
      - Jobs
      x-ms-request-id: request-id
      x-openapi-router-controller: openapi_server.controllers.jobs_controller
    get:
      description: Gets information about the specified job.
      operationId: job_get
      parameters:
      - description: The id of the job.
        explode: false
        in: path
        name: jobId
        required: true
        schema:
          type: string
        style: simple
      - description: Sets an OData $select clause.
        explode: true
        in: query
        name: $select
        required: false
        schema:
          type: string
        style: form
        x-ms-parameter-grouping:
          postfix: Options
      - description: Sets an OData $expand clause.
        explode: true
        in: query
        name: $expand
        required: false
        schema:
          type: string
        style: form
        x-ms-parameter-grouping:
          postfix: Options
      - description: "Sets the maximum time that the server can spend processing the\
          \ request, in seconds. The default is 30 seconds."
        explode: true
        in: query
        name: timeout
        required: false
        schema:
          default: 30
          format: int32
          type: integer
        style: form
        x-ms-parameter-grouping:
          postfix: Options
      - description: "Caller generated request identity, in the form of a GUID with\
          \ no decoration such as curly braces e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0."
        explode: false
        in: header
        name: client-request-id
        required: false
        schema:
          type: string
        style: simple
        x-ms-client-request-id: true
        x-ms-parameter-grouping:
          postfix: Options
      - description: Specifies if the server should return the client-request-id identifier
          in the response.
        explode: false
        in: header
        name: return-client-request-id
        required: false
        schema:
          type: boolean
        style: simple
        x-ms-parameter-grouping:
          postfix: Options
      - description: "The time the request was issued. If not specified, this header\
          \ will be automatically populated with the current system clock time."
        explode: false
        in: header
        name: ocp-date
        required: false
        schema:
          format: date-time-rfc1123
          type: string
        style: simple
        x-ms-parameter-grouping:
          postfix: Options
      - description: Client API Version.
        explode: true
        in: query
        name: api-version
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudJob'
          description: ""
          headers:
            ETag:
              description: Gets the content of the ETag HTTP response header.
              explode: false
              schema:
                type: string
              style: simple
            Last-Modified:
              description: Gets the content of the Last-Modified HTTP response header.
              explode: false
              schema:
                format: date-time-rfc1123
                type: string
              style: simple
            client-request-id:
              description: "Gets the ClientRequestId provided by the client during\
                \ the request, if present and requested to be returned."
              explode: false
              schema:
                type: string
              style: simple
            request-id:
              description: Gets the value that uniquely identifies a request.
              explode: false
              schema:
                type: string
              style: simple
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchError'
          description: Error from the Batch service
      tags:
      - Jobs
      x-ms-request-id: request-id
      x-openapi-router-controller: openapi_server.controllers.jobs_controller
    patch:
      description: Updates the properties of a job.
      operationId: job_patch
      parameters:
      - description: The id of the job whose properties you want to update.
        explode: false
        in: path
        name: jobId
        required: true
        schema:
          type: string
        style: simple
      - description: "Sets the maximum time that the server can spend processing the\
          \ request, in seconds. The default is 30 seconds."
        explode: true
        in: query
        name: timeout
        required: false
        schema:
          default: 30
          format: int32
          type: integer
        style: form
        x-ms-parameter-grouping:
          postfix: Options
      - description: "Caller generated request identity, in the form of a GUID with\
          \ no decoration such as curly braces e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0."
        explode: false
        in: header
        name: client-request-id
        required: false
        schema:
          type: string
        style: simple
        x-ms-client-request-id: true
        x-ms-parameter-grouping:
          postfix: Options
      - description: Specifies if the server should return the client-request-id identifier
          in the response.
        explode: false
        in: header
        name: return-client-request-id
        required: false
        schema:
          type: boolean
        style: simple
        x-ms-parameter-grouping:
          postfix: Options
      - description: "The time the request was issued. If not specified, this header\
          \ will be automatically populated with the current system clock time."
        explode: false
        in: header
        name: ocp-date
        required: false
        schema:
          format: date-time-rfc1123
          type: string
        style: simple
        x-ms-parameter-grouping:
          postfix: Options
      - description: An ETag is specified. Specify this header to perform the operation
          only if the resource's ETag is an exact match as specified.
        explode: false
        in: header
        name: If-Match
        required: false
        schema:
          type: string
        style: simple
        x-ms-parameter-grouping:
          postfix: Options
      - description: An ETag is specified. Specify this header to perform the operation
          only if the resource's ETag does not match the specified ETag.
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
        x-ms-parameter-grouping:
          postfix: Options
      - description: Specify this header to perform the operation only if the resource
          has been modified since the specified date/time.
        explode: false
        in: header
        name: If-Modified-Since
        required: false
        schema:
          format: date-time-rfc1123
          type: string
        style: simple
        x-ms-parameter-grouping:
          postfix: Options
      - description: Specify this header to perform the operation only if the resource
          has not been modified since the specified date/time.
        explode: false
        in: header
        name: If-Unmodified-Since
        required: false
        schema:
          format: date-time-rfc1123
          type: string
        style: simple
        x-ms-parameter-grouping:
          postfix: Options
      - description: Client API Version.
        explode: true
        in: query
        name: api-version
        required: true
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json; odata=minimalmetadata:
            schema:
              $ref: '#/components/schemas/JobPatchParameter'
        description: The parameters for the request.
        required: true
        x-body-name: body
      responses:
        "200":
          description: ""
          headers:
            DataServiceId:
              description: Gets the OData id of the resource to which the request
                applied.
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Gets the content of the ETag HTTP response header.
              explode: false
              schema:
                type: string
              style: simple
            Last-Modified:
              description: Gets the content of the Last-Modified HTTP response header.
              explode: false
              schema:
                format: date-time-rfc1123
                type: string
              style: simple
            client-request-id:
              description: "Gets the ClientRequestId provided by the client during\
                \ the request, if present and requested to be returned."
              explode: false
              schema:
                type: string
              style: simple
            request-id:
              description: Gets the value that uniquely identifies a request.
              explode: false
              schema:
                type: string
              style: simple
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchError'
          description: Error from the Batch service
      tags:
      - Jobs
      x-ms-request-id: request-id
      x-openapi-router-controller: openapi_server.controllers.jobs_controller
      x-codegen-request-body-name: body
    put:
      description: Updates the properties of a job.
      operationId: job_update
      parameters:
      - description: The id of the job whose properties you want to update.
        explode: false
        in: path
        name: jobId
        required: true
        schema:
          type: string
        style: simple
      - description: "Sets the maximum time that the server can spend processing the\
          \ request, in seconds. The default is 30 seconds."
        explode: true
        in: query
        name: timeout
        required: false
        schema:
          default: 30
          format: int32
          type: integer
        style: form
        x-ms-parameter-grouping:
          postfix: Options
      - description: "Caller generated request identity, in the form of a GUID with\
          \ no decoration such as curly braces e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0."
        explode: false
        in: header
        name: client-request-id
        required: false
        schema:
          type: string
        style: simple
        x-ms-client-request-id: true
        x-ms-parameter-grouping:
          postfix: Options
      - description: Specifies if the server should return the client-request-id identifier
          in the response.
        explode: false
        in: header
        name: return-client-request-id
        required: false
        schema:
          type: boolean
        style: simple
        x-ms-parameter-grouping:
          postfix: Options
      - description: "The time the request was issued. If not specified, this header\
          \ will be automatically populated with the current system clock time."
        explode: false
        in: header
        name: ocp-date
        required: false
        schema:
          format: date-time-rfc1123
          type: string
        style: simple
        x-ms-parameter-grouping:
          postfix: Options
      - description: An ETag is specified. Specify this header to perform the operation
          only if the resource's ETag is an exact match as specified.
        explode: false
        in: header
        name: If-Match
        required: false
        schema:
          type: string
        style: simple
        x-ms-parameter-grouping:
          postfix: Options
      - description: An ETag is specified. Specify this header to perform the operation
          only if the resource's ETag does not match the specified ETag.
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
        x-ms-parameter-grouping:
          postfix: Options
      - description: Specify this header to perform the operation only if the resource
          has been modified since the specified date/time.
        explode: false
        in: header
        name: If-Modified-Since
        required: false
        schema:
          format: date-time-rfc1123
          type: string
        style: simple
        x-ms-parameter-grouping:
          postfix: Options
      - description: Specify this header to perform the operation only if the resource
          has not been modified since the specified date/time.
        explode: false
        in: header
        name: If-Unmodified-Since
        required: false
        schema:
          format: date-time-rfc1123
          type: string
        style: simple
        x-ms-parameter-grouping:
          postfix: Options
      - description: Client API Version.
        explode: true
        in: query
        name: api-version
        required: true
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json; odata=minimalmetadata:
            schema:
              $ref: '#/components/schemas/JobUpdateParameter'
        description: The parameters for the request.
        required: true
        x-body-name: body
      responses:
        "200":
          description: ""
          headers:
            DataServiceId:
              description: Gets the OData id of the resource to which the request
                applied.
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Gets the content of the ETag HTTP response header.
              explode: false
              schema:
                type: string
              style: simple
            Last-Modified:
              description: Gets the content of the Last-Modified HTTP response header.
              explode: false
              schema:
                format: date-time-rfc1123
                type: string
              style: simple
            client-request-id:
              description: "Gets the ClientRequestId provided by the client during\
                \ the request, if present and requested to be returned."
              explode: false
              schema:
                type: string
              style: simple
            request-id:
              description: Gets the value that uniquely identifies a request.
              explode: false
              schema:
                type: string
              style: simple
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchError'
          description: Error from the Batch service
      tags:
      - Jobs
      x-ms-request-id: request-id
      x-openapi-router-controller: openapi_server.controllers.jobs_controller
      x-codegen-request-body-name: body
  /jobs/{jobId}/disable:
    post:
      description: "Disables the specified job, preventing new tasks from running."
      operationId: job_disable
      parameters:
      - description: The id of the job to disable.
        explode: false
        in: path
        name: jobId
        required: true
        schema:
          type: string
        style: simple
      - description: "Sets the maximum time that the server can spend processing the\
          \ request, in seconds. The default is 30 seconds."
        explode: true
        in: query
        name: timeout
        required: false
        schema:
          default: 30
          format: int32
          type: integer
        style: form
        x-ms-parameter-grouping:
          postfix: Options
      - description: "Caller generated request identity, in the form of a GUID with\
          \ no decoration such as curly braces e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0."
        explode: false
        in: header
        name: client-request-id
        required: false
        schema:
          type: string
        style: simple
        x-ms-client-request-id: true
        x-ms-parameter-grouping:
          postfix: Options
      - description: Specifies if the server should return the client-request-id identifier
          in the response.
        explode: false
        in: header
        name: return-client-request-id
        required: false
        schema:
          type: boolean
        style: simple
        x-ms-parameter-grouping:
          postfix: Options
      - description: "The time the request was issued. If not specified, this header\
          \ will be automatically populated with the current system clock time."
        explode: false
        in: header
        name: ocp-date
        required: false
        schema:
          format: date-time-rfc1123
          type: string
        style: simple
        x-ms-parameter-grouping:
          postfix: Options
      - description: An ETag is specified. Specify this header to perform the operation
          only if the resource's ETag is an exact match as specified.
        explode: false
        in: header
        name: If-Match
        required: false
        schema:
          type: string
        style: simple
        x-ms-parameter-grouping:
          postfix: Options
      - description: An ETag is specified. Specify this header to perform the operation
          only if the resource's ETag does not match the specified ETag.
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
        x-ms-parameter-grouping:
          postfix: Options
      - description: Specify this header to perform the operation only if the resource
          has been modified since the specified date/time.
        explode: false
        in: header
        name: If-Modified-Since
        required: false
        schema:
          format: date-time-rfc1123
          type: string
        style: simple
        x-ms-parameter-grouping:
          postfix: Options
      - description: Specify this header to perform the operation only if the resource
          has not been modified since the specified date/time.
        explode: false
        in: header
        name: If-Unmodified-Since
        required: false
        schema:
          format: date-time-rfc1123
          type: string
        style: simple
        x-ms-parameter-grouping:
          postfix: Options
      - description: Client API Version.
        explode: true
        in: query
        name: api-version
        required: true
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json; odata=minimalmetadata:
            schema:
              $ref: '#/components/schemas/JobDisableParameter'
        description: The parameters for the request.
        required: true
        x-body-name: body
      responses:
        "202":
          description: ""
          headers:
            DataServiceId:
              description: Gets the OData id of the resource to which the request
                applied.
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Gets the content of the ETag HTTP response header.
              explode: false
              schema:
                type: string
              style: simple
            Last-Modified:
              description: Gets the content of the Last-Modified HTTP response header.
              explode: false
              schema:
                format: date-time-rfc1123
                type: string
              style: simple
            client-request-id:
              description: "Gets the ClientRequestId provided by the client during\
                \ the request, if present and requested to be returned."
              explode: false
              schema:
                type: string
              style: simple
            request-id:
              description: Gets the value that uniquely identifies a request.
              explode: false
              schema:
                type: string
              style: simple
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchError'
          description: Error from the Batch service
      tags:
      - Jobs
      x-ms-request-id: request-id
      x-openapi-router-controller: openapi_server.controllers.jobs_controller
      x-codegen-request-body-name: body
  /jobs/{jobId}/enable:
    post:
      description: "Enables the specified job, allowing new tasks to run."
      operationId: job_enable
      parameters:
      - description: The id of the job to enable.
        explode: false
        in: path
        name: jobId
        required: true
        schema:
          type: string
        style: simple
      - description: "Sets the maximum time that the server can spend processing the\
          \ request, in seconds. The default is 30 seconds."
        explode: true
        in: query
        name: timeout
        required: false
        schema:
          default: 30
          format: int32
          type: integer
        style: form
        x-ms-parameter-grouping:
          postfix: Options
      - description: "Caller generated request identity, in the form of a GUID with\
          \ no decoration such as curly braces e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0."
        explode: false
        in: header
        name: client-request-id
        required: false
        schema:
          type: string
        style: simple
        x-ms-client-request-id: true
        x-ms-parameter-grouping:
          postfix: Options
      - description: Specifies if the server should return the client-request-id identifier
          in the response.
        explode: false
        in: header
        name: return-client-request-id
        required: false
        schema:
          type: boolean
        style: simple
        x-ms-parameter-grouping:
          postfix: Options
      - description: "The time the request was issued. If not specified, this header\
          \ will be automatically populated with the current system clock time."
        explode: false
        in: header
        name: ocp-date
        required: false
        schema:
          format: date-time-rfc1123
          type: string
        style: simple
        x-ms-parameter-grouping:
          postfix: Options
      - description: An ETag is specified. Specify this header to perform the operation
          only if the resource's ETag is an exact match as specified.
        explode: false
        in: header
        name: If-Match
        required: false
        schema:
          type: string
        style: simple
        x-ms-parameter-grouping:
          postfix: Options
      - description: An ETag is specified. Specify this header to perform the operation
          only if the resource's ETag does not match the specified ETag.
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
        x-ms-parameter-grouping:
          postfix: Options
      - description: Specify this header to perform the operation only if the resource
          has been modified since the specified date/time.
        explode: false
        in: header
        name: If-Modified-Since
        required: false
        schema:
          format: date-time-rfc1123
          type: string
        style: simple
        x-ms-parameter-grouping:
          postfix: Options
      - description: Specify this header to perform the operation only if the resource
          has not been modified since the specified date/time.
        explode: false
        in: header
        name: If-Unmodified-Since
        required: false
        schema:
          format: date-time-rfc1123
          type: string
        style: simple
        x-ms-parameter-grouping:
          postfix: Options
      - description: Client API Version.
        explode: true
        in: query
        name: api-version
        required: true
        schema:
          type: string
        style: form
      responses:
        "202":
          description: ""
          headers:
            DataServiceId:
              description: Gets the OData id of the resource to which the request
                applied.
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Gets the content of the ETag HTTP response header.
              explode: false
              schema:
                type: string
              style: simple
            Last-Modified:
              description: Gets the content of the Last-Modified HTTP response header.
              explode: false
              schema:
                format: date-time-rfc1123
                type: string
              style: simple
            client-request-id:
              description: "Gets the ClientRequestId provided by the client during\
                \ the request, if present and requested to be returned."
              explode: false
              schema:
                type: string
              style: simple
            request-id:
              description: Gets the value that uniquely identifies a request.
              explode: false
              schema:
                type: string
              style: simple
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchError'
          description: Error from the Batch service
      tags:
      - Jobs
      x-ms-request-id: request-id
      x-openapi-router-controller: openapi_server.controllers.jobs_controller
  /jobs/{jobId}/jobpreparationandreleasetaskstatus:
    get:
      description: Lists the execution status of the Job Preparation and Job Release
        task for the specified job across the compute nodes where the job has run.
      operationId: job_list_preparation_and_release_task_status
      parameters:
      - description: The id of the job.
        explode: false
        in: path
        name: jobId
        required: true
        schema:
          type: string
        style: simple
      - description: Sets an OData $filter clause.
        explode: true
        in: query
        name: $filter
        required: false
        schema:
          type: string
        style: form
        x-ms-parameter-grouping:
          postfix: Options
      - description: Sets an OData $select clause.
        explode: true
        in: query
        name: $select
        required: false
        schema:
          type: string
        style: form
        x-ms-parameter-grouping:
          postfix: Options
      - description: Sets the maximum number of items to return in the response.
        explode: true
        in: query
        name: maxresults
        required: false
        schema:
          format: int32
          type: integer
        style: form
        x-ms-client-name: maxResults
        x-ms-parameter-grouping:
          postfix: Options
      - description: "Sets the maximum time that the server can spend processing the\
          \ request, in seconds. The default is 30 seconds."
        explode: true
        in: query
        name: timeout
        required: false
        schema:
          default: 30
          format: int32
          type: integer
        style: form
        x-ms-parameter-grouping:
          postfix: Options
      - description: "Caller generated request identity, in the form of a GUID with\
          \ no decoration such as curly braces e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0."
        explode: false
        in: header
        name: client-request-id
        required: false
        schema:
          type: string
        style: simple
        x-ms-client-request-id: true
        x-ms-parameter-grouping:
          postfix: Options
      - description: Specifies if the server should return the client-request-id identifier
          in the response.
        explode: false
        in: header
        name: return-client-request-id
        required: false
        schema:
          type: boolean
        style: simple
        x-ms-parameter-grouping:
          postfix: Options
      - description: "The time the request was issued. If not specified, this header\
          \ will be automatically populated with the current system clock time."
        explode: false
        in: header
        name: ocp-date
        required: false
        schema:
          format: date-time-rfc1123
          type: string
        style: simple
        x-ms-parameter-grouping:
          postfix: Options
      - description: Client API Version.
        explode: true
        in: query
        name: api-version
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudJobListPreparationAndReleaseTaskStatusResult'
          description: ""
          headers:
            ETag:
              description: Gets the content of the ETag HTTP response header.
              explode: false
              schema:
                type: string
              style: simple
            Last-Modified:
              description: Gets the content of the Last-Modified HTTP response header.
              explode: false
              schema:
                format: date-time-rfc1123
                type: string
              style: simple
            client-request-id:
              description: "Gets the ClientRequestId provided by the client during\
                \ the request, if present and requested to be returned."
              explode: false
              schema:
                type: string
              style: simple
            request-id:
              description: Gets the value that uniquely identifies a request.
              explode: false
              schema:
                type: string
              style: simple
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchError'
          description: Error from the Batch service
      tags:
      - Jobs
      x-ms-pageable:
        nextLinkName: odata.nextLink
      x-ms-request-id: request-id
      x-openapi-router-controller: openapi_server.controllers.jobs_controller
  /jobs/{jobId}/tasks:
    get:
      description: Lists all of the tasks that are associated with the specified job.
      operationId: task_list
      parameters:
      - description: The id of the job.
        explode: false
        in: path
        name: jobId
        required: true
        schema:
          type: string
        style: simple
      - description: Sets an OData $filter clause.
        explode: true
        in: query
        name: $filter
        required: false
        schema:
          type: string
        style: form
        x-ms-parameter-grouping:
          postfix: Options
      - description: Sets an OData $select clause.
        explode: true
        in: query
        name: $select
        required: false
        schema:
          type: string
        style: form
        x-ms-parameter-grouping:
          postfix: Options
      - description: Sets an OData $expand clause.
        explode: true
        in: query
        name: $expand
        required: false
        schema:
          type: string
        style: form
        x-ms-parameter-grouping:
          postfix: Options
      - description: Sets the maximum number of items to return in the response.
        explode: true
        in: query
        name: maxresults
        required: false
        schema:
          format: int32
          type: integer
        style: form
        x-ms-client-name: maxResults
        x-ms-parameter-grouping:
          postfix: Options
      - description: "Sets the maximum time that the server can spend processing the\
          \ request, in seconds. The default is 30 seconds."
        explode: true
        in: query
        name: timeout
        required: false
        schema:
          default: 30
          format: int32
          type: integer
        style: form
        x-ms-parameter-grouping:
          postfix: Options
      - description: "Caller generated request identity, in the form of a GUID with\
          \ no decoration such as curly braces e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0."
        explode: false
        in: header
        name: client-request-id
        required: false
        schema:
          type: string
        style: simple
        x-ms-client-request-id: true
        x-ms-parameter-grouping:
          postfix: Options
      - description: Specifies if the server should return the client-request-id identifier
          in the response.
        explode: false
        in: header
        name: return-client-request-id
        required: false
        schema:
          type: boolean
        style: simple
        x-ms-parameter-grouping:
          postfix: Options
      - description: "The time the request was issued. If not specified, this header\
          \ will be automatically populated with the current system clock time."
        explode: false
        in: header
        name: ocp-date
        required: false
        schema:
          format: date-time-rfc1123
          type: string
        style: simple
        x-ms-parameter-grouping:
          postfix: Options
      - description: Client API Version.
        explode: true
        in: query
        name: api-version
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudTaskListResult'
          description: ""
          headers:
            ETag:
              description: Gets the content of the ETag HTTP response header.
              explode: false
              schema:
                type: string
              style: simple
            Last-Modified:
              description: Gets the content of the Last-Modified HTTP response header.
              explode: false
              schema:
                format: date-time-rfc1123
                type: string
              style: simple
            client-request-id:
              description: "Gets the ClientRequestId provided by the client during\
                \ the request, if present and requested to be returned."
              explode: false
              schema:
                type: string
              style: simple
            request-id:
              description: Gets the value that uniquely identifies a request.
              explode: false
              schema:
                type: string
              style: simple
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchError'
          description: Error from the Batch service
      tags:
      - Tasks
      x-ms-pageable:
        nextLinkName: odata.nextLink
      x-ms-request-id: request-id
      x-openapi-router-controller: openapi_server.controllers.tasks_controller
    post:
      description: Adds a task to the specified job.
      operationId: task_add
      parameters:
      - description: The id of the job to which the task is to be added.
        explode: false
        in: path
        name: jobId
        required: true
        schema:
          type: string
        style: simple
      - description: "Sets the maximum time that the server can spend processing the\
          \ request, in seconds. The default is 30 seconds."
        explode: true
        in: query
        name: timeout
        required: false
        schema:
          default: 30
          format: int32
          type: integer
        style: form
        x-ms-parameter-grouping:
          postfix: Options
      - description: "Caller generated request identity, in the form of a GUID with\
          \ no decoration such as curly braces e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0."
        explode: false
        in: header
        name: client-request-id
        required: false
        schema:
          type: string
        style: simple
        x-ms-client-request-id: true
        x-ms-parameter-grouping:
          postfix: Options
      - description: Specifies if the server should return the client-request-id identifier
          in the response.
        explode: false
        in: header
        name: return-client-request-id
        required: false
        schema:
          type: boolean
        style: simple
        x-ms-parameter-grouping:
          postfix: Options
      - description: "The time the request was issued. If not specified, this header\
          \ will be automatically populated with the current system clock time."
        explode: false
        in: header
        name: ocp-date
        required: false
        schema:
          format: date-time-rfc1123
          type: string
        style: simple
        x-ms-parameter-grouping:
          postfix: Options
      - description: Client API Version.
        explode: true
        in: query
        name: api-version
        required: true
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json; odata=minimalmetadata:
            schema:
              $ref: '#/components/schemas/TaskAddParameter'
        description: Specifies the task to be added.
        required: true
        x-body-name: body
      responses:
        "201":
          description: ""
          headers:
            DataServiceId:
              description: Gets the OData id of the resource to which the request
                applied.
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Gets the content of the ETag HTTP response header.
              explode: false
              schema:
                type: string
              style: simple
            Last-Modified:
              description: Gets the content of the Last-Modified HTTP response header.
              explode: false
              schema:
                format: date-time-rfc1123
                type: string
              style: simple
            client-request-id:
              description: "Gets the ClientRequestId provided by the client during\
                \ the request, if present and requested to be returned."
              explode: false
              schema:
                type: string
              style: simple
            request-id:
              description: Gets the value that uniquely identifies a request.
              explode: false
              schema:
                type: string
              style: simple
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchError'
          description: Error from the Batch service
      tags:
      - Tasks
      x-ms-request-id: request-id
      x-openapi-router-controller: openapi_server.controllers.tasks_controller
      x-codegen-request-body-name: body
  /jobs/{jobId}/tasks/{taskId}:
    delete:
      description: Deletes a task from the specified job.
      operationId: task_delete
      parameters:
      - description: The id of the job from which to delete the task.
        explode: false
        in: path
        name: jobId
        required: true
        schema:
          type: string
        style: simple
      - description: The id of the task to delete.
        explode: false
        in: path
        name: taskId
        required: true
        schema:
          type: string
        style: simple
      - description: "Sets the maximum time that the server can spend processing the\
          \ request, in seconds. The default is 30 seconds."
        explode: true
        in: query
        name: timeout
        required: false
        schema:
          default: 30
          format: int32
          type: integer
        style: form
        x-ms-parameter-grouping:
          postfix: Options
      - description: "Caller generated request identity, in the form of a GUID with\
          \ no decoration such as curly braces e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0."
        explode: false
        in: header
        name: client-request-id
        required: false
        schema:
          type: string
        style: simple
        x-ms-client-request-id: true
        x-ms-parameter-grouping:
          postfix: Options
      - description: Specifies if the server should return the client-request-id identifier
          in the response.
        explode: false
        in: header
        name: return-client-request-id
        required: false
        schema:
          type: boolean
        style: simple
        x-ms-parameter-grouping:
          postfix: Options
      - description: "The time the request was issued. If not specified, this header\
          \ will be automatically populated with the current system clock time."
        explode: false
        in: header
        name: ocp-date
        required: false
        schema:
          format: date-time-rfc1123
          type: string
        style: simple
        x-ms-parameter-grouping:
          postfix: Options
      - description: An ETag is specified. Specify this header to perform the operation
          only if the resource's ETag is an exact match as specified.
        explode: false
        in: header
        name: If-Match
        required: false
        schema:
          type: string
        style: simple
        x-ms-parameter-grouping:
          postfix: Options
      - description: An ETag is specified. Specify this header to perform the operation
          only if the resource's ETag does not match the specified ETag.
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
        x-ms-parameter-grouping:
          postfix: Options
      - description: Specify this header to perform the operation only if the resource
          has been modified since the specified date/time.
        explode: false
        in: header
        name: If-Modified-Since
        required: false
        schema:
          format: date-time-rfc1123
          type: string
        style: simple
        x-ms-parameter-grouping:
          postfix: Options
      - description: Specify this header to perform the operation only if the resource
          has not been modified since the specified date/time.
        explode: false
        in: header
        name: If-Unmodified-Since
        required: false
        schema:
          format: date-time-rfc1123
          type: string
        style: simple
        x-ms-parameter-grouping:
          postfix: Options
      - description: Client API Version.
        explode: true
        in: query
        name: api-version
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          description: ""
          headers:
            client-request-id:
              description: "Gets the ClientRequestId provided by the client during\
                \ the request, if present and requested to be returned."
              explode: false
              schema:
                type: string
              style: simple
            request-id:
              description: Gets the value that uniquely identifies a request.
              explode: false
              schema:
                type: string
              style: simple
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchError'
          description: Error from the Batch service
      tags:
      - Tasks
      x-ms-request-id: request-id
      x-openapi-router-controller: openapi_server.controllers.tasks_controller
    get:
      description: Gets information about the specified task.
      operationId: task_get
      parameters:
      - description: The id of the job that contains the task.
        explode: false
        in: path
        name: jobId
        required: true
        schema:
          type: string
        style: simple
      - description: The id of the task to get information about.
        explode: false
        in: path
        name: taskId
        required: true
        schema:
          type: string
        style: simple
      - description: Sets an OData $select clause.
        explode: true
        in: query
        name: $select
        required: false
        schema:
          type: string
        style: form
        x-ms-parameter-grouping:
          postfix: Options
      - description: Sets an OData $expand clause.
        explode: true
        in: query
        name: $expand
        required: false
        schema:
          type: string
        style: form
        x-ms-parameter-grouping:
          postfix: Options
      - description: "Sets the maximum time that the server can spend processing the\
          \ request, in seconds. The default is 30 seconds."
        explode: true
        in: query
        name: timeout
        required: false
        schema:
          default: 30
          format: int32
          type: integer
        style: form
        x-ms-parameter-grouping:
          postfix: Options
      - description: "Caller generated request identity, in the form of a GUID with\
          \ no decoration such as curly braces e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0."
        explode: false
        in: header
        name: client-request-id
        required: false
        schema:
          type: string
        style: simple
        x-ms-client-request-id: true
        x-ms-parameter-grouping:
          postfix: Options
      - description: Specifies if the server should return the client-request-id identifier
          in the response.
        explode: false
        in: header
        name: return-client-request-id
        required: false
        schema:
          type: boolean
        style: simple
        x-ms-parameter-grouping:
          postfix: Options
      - description: "The time the request was issued. If not specified, this header\
          \ will be automatically populated with the current system clock time."
        explode: false
        in: header
        name: ocp-date
        required: false
        schema:
          format: date-time-rfc1123
          type: string
        style: simple
        x-ms-parameter-grouping:
          postfix: Options
      - description: An ETag is specified. Specify this header to perform the operation
          only if the resource's ETag is an exact match as specified.
        explode: false
        in: header
        name: If-Match
        required: false
        schema:
          type: string
        style: simple
        x-ms-parameter-grouping:
          postfix: Options
      - description: An ETag is specified. Specify this header to perform the operation
          only if the resource's ETag does not match the specified ETag.
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
        x-ms-parameter-grouping:
          postfix: Options
      - description: Specify this header to perform the operation only if the resource
          has been modified since the specified date/time.
        explode: false
        in: header
        name: If-Modified-Since
        required: false
        schema:
          format: date-time-rfc1123
          type: string
        style: simple
        x-ms-parameter-grouping:
          postfix: Options
      - description: Specify this header to perform the operation only if the resource
          has not been modified since the specified date/time.
        explode: false
        in: header
        name: If-Unmodified-Since
        required: false
        schema:
          format: date-time-rfc1123
          type: string
        style: simple
        x-ms-parameter-grouping:
          postfix: Options
      - description: Client API Version.
        explode: true
        in: query
        name: api-version
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudTask'
          description: ""
          headers:
            DataServiceId:
              description: Gets the OData id of the resource to which the request
                applied.
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Gets the content of the ETag HTTP response header.
              explode: false
              schema:
                type: string
              style: simple
            Last-Modified:
              description: Gets the content of the Last-Modified HTTP response header.
              explode: false
              schema:
                format: date-time-rfc1123
                type: string
              style: simple
            client-request-id:
              description: "Gets the ClientRequestId provided by the client during\
                \ the request, if present and requested to be returned."
              explode: false
              schema:
                type: string
              style: simple
            request-id:
              description: Gets the value that uniquely identifies a request.
              explode: false
              schema:
                type: string
              style: simple
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchError'
          description: Error from the Batch service
      tags:
      - Tasks
      x-ms-request-id: request-id
      x-openapi-router-controller: openapi_server.controllers.tasks_controller
    put:
      description: Updates the properties of the specified task.
      operationId: task_update
      parameters:
      - description: The id of the job containing the task.
        explode: false
        in: path
        name: jobId
        required: true
        schema:
          type: string
        style: simple
      - description: The id of the task to update.
        explode: false
        in: path
        name: taskId
        required: true
        schema:
          type: string
        style: simple
      - description: "Sets the maximum time that the server can spend processing the\
          \ request, in seconds. The default is 30 seconds."
        explode: true
        in: query
        name: timeout
        required: false
        schema:
          default: 30
          format: int32
          type: integer
        style: form
        x-ms-parameter-grouping:
          postfix: Options
      - description: "Caller generated request identity, in the form of a GUID with\
          \ no decoration such as curly braces e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0."
        explode: false
        in: header
        name: client-request-id
        required: false
        schema:
          type: string
        style: simple
        x-ms-client-request-id: true
        x-ms-parameter-grouping:
          postfix: Options
      - description: Specifies if the server should return the client-request-id identifier
          in the response.
        explode: false
        in: header
        name: return-client-request-id
        required: false
        schema:
          type: boolean
        style: simple
        x-ms-parameter-grouping:
          postfix: Options
      - description: "The time the request was issued. If not specified, this header\
          \ will be automatically populated with the current system clock time."
        explode: false
        in: header
        name: ocp-date
        required: false
        schema:
          format: date-time-rfc1123
          type: string
        style: simple
        x-ms-parameter-grouping:
          postfix: Options
      - description: An ETag is specified. Specify this header to perform the operation
          only if the resource's ETag is an exact match as specified.
        explode: false
        in: header
        name: If-Match
        required: false
        schema:
          type: string
        style: simple
        x-ms-parameter-grouping:
          postfix: Options
      - description: An ETag is specified. Specify this header to perform the operation
          only if the resource's ETag does not match the specified ETag.
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
        x-ms-parameter-grouping:
          postfix: Options
      - description: Specify this header to perform the operation only if the resource
          has been modified since the specified date/time.
        explode: false
        in: header
        name: If-Modified-Since
        required: false
        schema:
          format: date-time-rfc1123
          type: string
        style: simple
        x-ms-parameter-grouping:
          postfix: Options
      - description: Specify this header to perform the operation only if the resource
          has not been modified since the specified date/time.
        explode: false
        in: header
        name: If-Unmodified-Since
        required: false
        schema:
          format: date-time-rfc1123
          type: string
        style: simple
        x-ms-parameter-grouping:
          postfix: Options
      - description: Client API Version.
        explode: true
        in: query
        name: api-version
        required: true
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json; odata=minimalmetadata:
            schema:
              $ref: '#/components/schemas/TaskUpdateParameter'
        description: The parameters for the request.
        required: true
        x-body-name: body
      responses:
        "200":
          description: ""
          headers:
            DataServiceId:
              description: Gets the OData id of the resource to which the request
                applied.
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Gets the content of the ETag HTTP response header.
              explode: false
              schema:
                type: string
              style: simple
            Last-Modified:
              description: Gets the content of the Last-Modified HTTP response header.
              explode: false
              schema:
                format: date-time-rfc1123
                type: string
              style: simple
            client-request-id:
              description: "Gets the ClientRequestId provided by the client during\
                \ the request, if present and requested to be returned."
              explode: false
              schema:
                type: string
              style: simple
            request-id:
              description: Gets the value that uniquely identifies a request.
              explode: false
              schema:
                type: string
              style: simple
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchError'
          description: Error from the Batch service
      tags:
      - Tasks
      x-ms-request-id: request-id
      x-openapi-router-controller: openapi_server.controllers.tasks_controller
      x-codegen-request-body-name: body
  /jobs/{jobId}/tasks/{taskId}/files:
    get:
      description: Lists the files in a task's directory on its compute node.
      operationId: file_list_from_task
      parameters:
      - description: The id of the job that contains the task.
        explode: false
        in: path
        name: jobId
        required: true
        schema:
          type: string
        style: simple
      - description: The id of the task whose files you want to list.
        explode: false
        in: path
        name: taskId
        required: true
        schema:
          type: string
        style: simple
      - description: Sets an OData $filter clause.
        explode: true
        in: query
        name: $filter
        required: false
        schema:
          type: string
        style: form
        x-ms-parameter-grouping:
          postfix: Options
      - description: Sets whether to list children of a directory.
        explode: true
        in: query
        name: recursive
        required: false
        schema:
          type: boolean
        style: form
      - description: Sets the maximum number of items to return in the response.
        explode: true
        in: query
        name: maxresults
        required: false
        schema:
          format: int32
          type: integer
        style: form
        x-ms-client-name: maxResults
        x-ms-parameter-grouping:
          postfix: Options
      - description: "Sets the maximum time that the server can spend processing the\
          \ request, in seconds. The default is 30 seconds."
        explode: true
[...]
