openapi: 3.0.0
info:
  contact:
    x-twitter: nfldata
  title: NBA v3 Stats
  version: "1.0"
  x-apisguru-categories:
  - entertainment
  x-logo:
    url: https://twitter.com/nfldata/profile_image?size=original
  x-origin:
  - format: swagger
    url: https://fantasydata.com/downloads/swagger/nba-v3-stats.json
    version: "2.0"
  x-providerName: sportsdata.io
  x-serviceName: nba-v3-stats
servers:
- url: http://azure-api.sportsdata.io/v3/nba/stats
- url: https://azure-api.sportsdata.io/v3/nba/stats
security:
- apiKeyHeader: []
- apiKeyQuery: []
paths:
  /{format}/AllStars/{season}:
    get:
      operationId: all_stars
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: |-
          Year of the season.
          <br>Examples: <code>2015</code>, <code>2016</code>.
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PlayerInfo'
                type: array
          description: ""
      summary: All-Stars
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/AllTeams:
    get:
      operationId: teams_all
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Team'
                type: array
          description: ""
      summary: Teams (All)
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/AreAnyGamesInProgress:
    get:
      description: Returns <code>true</code> if there is at least one game being played
        at the time of the request or <code>false</code> if there are none.
      operationId: are_games_in_progress
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                nullable: false
                type: boolean
          description: ""
      summary: Are Games In Progress
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/BoxScore/{gameid}:
    get:
      operationId: box_score
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "The GameID of an NBA game.  GameIDs can be found in the Games\
          \ API.  Valid entries are <code>14620</code>, <code>16905</code>, etc."
        explode: false
        in: path
        name: gameid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BoxScore'
          description: ""
      summary: Box Score
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/BoxScores/{date}:
    get:
      operationId: box_scores_by_date
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: |-
          The date of the game(s).
          <br>Examples: <code>2015-JUL-31</code>, <code>2015-SEP-01</code>.
        explode: false
        in: path
        name: date
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/BoxScore'
                type: array
          description: ""
      summary: Box Scores by Date
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/BoxScoresDelta/{date}/{minutes}:
    get:
      operationId: box_scores_by_date_delta
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: |-
          The date of the game(s).
          <br>Examples: <code>2015-JUL-31</code>, <code>2015-SEP-01</code>.
        explode: false
        in: path
        name: date
        required: true
        schema:
          type: string
        style: simple
      - description: |-
          Only returns player statistics that have changed in the last X minutes.  You specify how many minutes in time to go back.  Valid entries are:
          <code>1</code> or <code>2</code>.
        explode: false
        in: path
        name: minutes
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/BoxScore'
                type: array
          description: ""
      summary: Box Scores by Date Delta
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/CurrentSeason:
    get:
      operationId: current_season
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Season'
          description: ""
      summary: Current Season
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/DfsSlatesByDate/{date}:
    get:
      operationId: dfs_slates_by_date
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: |-
          The date of the game(s).
          <br>Examples: <code>2017-DEC-01</code>, <code>2018-FEB-15</code>.
        explode: false
        in: path
        name: date
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/DfsSlate'
                type: array
          description: ""
      summary: DFS Slates by Date
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/FreeAgents:
    get:
      operationId: player_details_by_free_agent
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Player'
                type: array
          description: ""
      summary: Player Details by Free Agent
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/Games/{season}:
    get:
      operationId: schedules
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Year of the season (with optional season type).<br>Examples:\
          \ <code>2018</code>, <code>2018PRE</code>, <code>2018POST</code>, <code>2018STAR</code>,\
          \ <code>2019</code>, etc."
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Game'
                type: array
          description: ""
      summary: Schedules
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/GamesByDate/{date}:
    get:
      operationId: games_by_date
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: |-
          The date of the game(s).
          <br>Examples: <code>2015-JUL-31</code>, <code>2015-SEP-01</code>.
        explode: false
        in: path
        name: date
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Game'
                type: array
          description: ""
      summary: Games by Date
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/News:
    get:
      operationId: news
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/News'
                type: array
          description: ""
      summary: News
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/NewsByDate/{date}:
    get:
      operationId: news_by_date
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: |-
          The date of the news.
          <br>Examples: <code>2015-JUL-31</code>, <code>2015-SEP-01</code>.
        explode: false
        in: path
        name: date
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/News'
                type: array
          description: ""
      summary: News by Date
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/NewsByPlayerID/{playerid}:
    get:
      operationId: news_by_player
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: |-
          Unique FantasyData Player ID.
          Example:<code>10000507</code>.
        explode: false
        in: path
        name: playerid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/News'
                type: array
          description: ""
      summary: News by Player
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/Player/{playerid}:
    get:
      operationId: player_details_by_player
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: |-
          Unique FantasyData Player ID.
          Example:<code>20000571</code>.
        explode: false
        in: path
        name: playerid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Player'
          description: ""
      summary: Player Details by Player
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/PlayerGameStatsByDate/{date}:
    get:
      operationId: player_game_stats_by_date
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: |-
          The date of the game(s).
          <br>Examples: <code>2015-JUL-31</code>, <code>2015-SEP-01</code>.
        explode: false
        in: path
        name: date
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PlayerGame'
                type: array
          description: ""
      summary: Player Game Stats by Date
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/PlayerGameStatsByPlayer/{date}/{playerid}:
    get:
      operationId: player_game_stats_by_player
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: |-
          The date of the game(s).
          <br>Examples: <code>2015-JUL-31</code>, <code>2015-SEP-01</code>.
        explode: false
        in: path
        name: date
        required: true
        schema:
          type: string
        style: simple
      - description: |-
          Unique FantasyData Player ID.
          Example:<code>20000571</code>.
        explode: false
        in: path
        name: playerid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerGame'
          description: ""
      summary: Player Game Stats by Player
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/PlayerGameStatsBySeason/{season}/{playerid}/{numberofgames}:
    get:
      operationId: player_game_logs_by_season
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Season to get games from. Example <code>2019POST</code>, <code>2020</code>"
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: |-
          Unique FantasyData Player ID.
          Example:<code>20000571</code>.
        explode: false
        in: path
        name: playerid
        required: true
        schema:
          type: string
        style: simple
      - description: "How many games to return. Example <code>all</code>, <code>10</code>,\
          \ <code>25</code>"
        explode: false
        in: path
        name: numberofgames
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PlayerGame'
                type: array
          description: ""
      summary: Player Game Logs By Season
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/PlayerSeasonStats/{season}:
    get:
      operationId: player_season_stats
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: |-
          Year of the season.
          <br>Examples: <code>2015</code>, <code>2016</code>.
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PlayerSeason'
                type: array
          description: ""
      summary: Player Season Stats
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/PlayerSeasonStatsByPlayer/{season}/{playerid}:
    get:
      operationId: player_season_stats_by_player
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: |
          Year of the season.
          <br>Examples: <code>2015</code>, <code>2016</code>.
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: |-
          Unique FantasyData Player ID.
          Example:<code>20000571</code>.
        explode: false
        in: path
        name: playerid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerSeason'
          description: ""
      summary: Player Season Stats By Player
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/PlayerSeasonStatsByTeam/{season}/{team}:
    get:
      operationId: player_season_stats_by_team
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: |
          Year of the season.
          <br>Examples: <code>2015</code>, <code>2016</code>.
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: |-
          The abbreviation of the requested team.
          <br>Examples: <code>MIA</code>, <code>PHI</code>.
        explode: false
        in: path
        name: team
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PlayerSeason'
                type: array
          description: ""
      summary: Player Season Stats by Team
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/Players:
    get:
      operationId: player_details_by_active
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Player'
                type: array
          description: ""
      summary: Player Details by Active
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/Players/{team}:
    get:
      description: This endpoint provides active player details by team.
      operationId: players_by_team
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: |-
          The abbreviation of the requested team.
          <br>Examples: <code>PHI</code>, <code>BKN</code>.
        explode: false
        in: path
        name: team
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Player'
                type: array
          description: ""
      summary: Players by Team
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/Stadiums:
    get:
      operationId: stadiums
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Stadium'
                type: array
          description: ""
      summary: Stadiums
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/Standings/{season}:
    get:
      operationId: standings
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: |-
          Year of the season.
          <br>Examples: <code>2015</code>, <code>2016</code>.
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Standing'
                type: array
          description: ""
      summary: Standings
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/TeamGameStatsByDate/{date}:
    get:
      operationId: team_game_stats_by_date
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: |-
          The date of the game(s).
          <br>Examples: <code>2015-JUL-31</code>, <code>2015-SEP-01</code>.
        explode: false
        in: path
        name: date
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TeamGame'
                type: array
          description: ""
      summary: Team Game Stats by Date
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/TeamGameStatsBySeason/{season}/{teamid}/{numberofgames}:
    get:
      description: Game by game log of total team statistics.
      operationId: team_game_logs_by_season
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Season to get games from. Example <code>2019POST</code>, <code>2020</code>"
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: Unique ID of team.  Example <code> 8 </code>
        explode: false
        in: path
        name: teamid
        required: true
        schema:
          type: string
        style: simple
      - description: "How many games to return. Example <code>all</code>, <code>10</code>,\
          \ <code>25</code>"
        explode: false
        in: path
        name: numberofgames
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TeamGame'
                type: array
          description: ""
      summary: Team Game Logs By Season
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/TeamSeasonStats/{season}:
    get:
      operationId: team_season_stats
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: |-
          Year of the season.
          <br>Examples: <code>2015</code>, <code>2016</code>.
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TeamSeason'
                type: array
          description: ""
      summary: Team Season Stats
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/TeamStatsAllowedByPosition/{season}:
    get:
      operationId: team_stats_allowed_by_position
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: |-
          Year of the season.
          <br>Examples: <code>2015</code>, <code>2016</code>.
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TeamSeason'
                type: array
          description: ""
      summary: Team Stats Allowed by Position
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/teams:
    get:
      operationId: teams_active
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Team'
                type: array
          description: ""
      summary: Teams (Active)
      x-openapi-router-controller: openapi_server.controllers.default_controller
components:
  schemas:
    BoxScore:
      example:
        Game:
          Quarter: Quarter
          AwayTeam: AwayTeam
          GameEndDateTime: GameEndDateTime
          HomeRotationNumber: 7
          HomeTeamMoneyLine: 1
          HomeTeamID: 1
          AwayTeamID: 5
          IsClosed: true
          DateTime: DateTime
          LastPlay: LastPlay
          TimeRemainingSeconds: 3
          RefereeID: 6
          UnderPayout: 7
          UmpireID: 3
          GlobalHomeTeamID: 4
          AlternateID: 0
          Quarters:
          - QuarterID: 9
            HomeScore: 6
            Number: 8
            AwayScore: 9
            GameID: 9
            Name: Name
          - QuarterID: 9
            HomeScore: 6
            Number: 8
            AwayScore: 9
            GameID: 9
            Name: Name
          Season: 3
          GameID: 9
          GlobalGameID: 2
          OverPayout: 6
          Attendance: 6
          Status: Status
          HomeTeam: HomeTeam
          Updated: Updated
          TimeRemainingMinutes: 6
          Channel: Channel
          OverUnder: 7.457744773683766
          NeutralVenue: true
          StadiumID: 5
          SeriesInfo:
            GameNumber: 2
            MaxLength: 6
            AwayTeamWins: 1
            HomeTeamWins: 6
          SeasonType: 6
          CrewChiefID: 7
          HomeTeamScore: 1
          PointSpread: 1.1730742509559433
          AwayRotationNumber: 1
          PointSpreadAwayTeamMoneyLine: 4
          AwayTeamScore: 2
          GlobalAwayTeamID: 3
          DateTimeUTC: DateTimeUTC
          PointSpreadHomeTeamMoneyLine: 5
          AwayTeamMoneyLine: 5
          Day: Day
        PlayerGames:
        - PlayerID: 8
          FanDuelPosition: FanDuelPosition
          InjuryStartDate: InjuryStartDate
          FreeThrowsPercentage: 0.5199002018724985
          ThreePointersAttempted: 3.111202833403195
          GlobalTeamID: 8
          TripleDoubles: 0.4768402382624515
          DateTime: DateTime
          InjuryStatus: InjuryStatus
          Minutes: 4
          TotalReboundsPercentage: 7.835035282970782
          DraftKingsSalary: 3
          Name: Name
          PlusMinus: 9.254183946267839
          Steals: 8.37823741034869
          FreeThrowsAttempted: 0.8774076871421566
          GameID: 7
          OpponentPositionRank: 1
          Updated: Updated
          Position: Position
          ThreePointersPercentage: 5.877124706116695
          FantasyDraftSalary: 3
          FantasyPointsFanDuel: 6.628464275087742
          TwoPointersMade: 0.4833312865174044
          OpponentID: 2
          Assists: 0.8851374739011653
          PersonalFouls: 6.623518433804886
          OffensiveReboundsPercentage: 0.43431398824148815
          StealsPercentage: 7.606863723092579
          FantasyPointsDraftKings: 0.2025324113236393
          Games: 5
          BlockedShots: 6.519180951018382
          StatID: 5
          TrueShootingAttempts: 3.1497903714250555
          BlocksPercentage: 0.10263654006109402
          OffensiveRebounds: 3.901545264248647
          Started: 5
          IsGameOver: true
          DefensiveRebounds: 4.652396432933246
          FantasyPointsYahoo: 1.041444916118296
          IsClosed: true
          OpponentRank: 8
          Rebounds: 3.502657762086401
          DoubleDoubles: 7.740351818741173
          TeamID: 3
          FieldGoalsPercentage: 9.132027271330688
          Turnovers: 8.675064425986758
          YahooSalary: 4
          FantasyDataSalary: 5
          ThreePointersMade: 9.897492629215506
          TwoPointersPercentage: 0.35262192099236644
          Points: 1.8268702177058116
          FieldGoalsAttempted: 4.678947989005849
          DraftKingsPosition: DraftKingsPosition
          FantasyPointsFantasyDraft: 4.258773108174356
          GlobalOpponentID: 6
          Opponent: Opponent
          LineupConfirmed: true
          Team: Team
          Season: 9
          GlobalGameID: 4
          YahooPosition: YahooPosition
          FantasyDraftPosition: FantasyDraftPosition
          FanDuelSalary: 7
          FantasyPoints: 4.078845849666752
          AssistsPercentage: 7.058770351582356
          DefensiveReboundsPercentage: 8.969578798196912
          EffectiveFieldGoalsPercentage: 3.0576100241049344
          TwoPointersAttempted: 4.518309517874243
          InjuryBodyPart: InjuryBodyPart
          HomeOrAway: HomeOrAway
          InjuryNotes: InjuryNotes
          LineupStatus: LineupStatus
          SeasonType: 8
          FreeThrowsMade: 9.702963800023566
          FieldGoalsMade: 7.260521264802104
          UsageRatePercentage: 7.203794749804894
          Seconds: 0
          PlayerEfficiencyRating: 4.573936264232251
          TurnOversPercentage: 3.804112695731078
          Day: Day
          TrueShootingPercentage: 2.380090174313445
        - PlayerID: 8
          FanDuelPosition: FanDuelPosition
          InjuryStartDate: InjuryStartDate
          FreeThrowsPercentage: 0.5199002018724985
          ThreePointersAttempted: 3.111202833403195
          GlobalTeamID: 8
          TripleDoubles: 0.4768402382624515
          DateTime: DateTime
          InjuryStatus: InjuryStatus
          Minutes: 4
          TotalReboundsPercentage: 7.835035282970782
          DraftKingsSalary: 3
          Name: Name
          PlusMinus: 9.254183946267839
          Steals: 8.37823741034869
          FreeThrowsAttempted: 0.8774076871421566
          GameID: 7
          OpponentPositionRank: 1
          Updated: Updated
          Position: Position
          ThreePointersPercentage: 5.877124706116695
          FantasyDraftSalary: 3
          FantasyPointsFanDuel: 6.628464275087742
          TwoPointersMade: 0.4833312865174044
          OpponentID: 2
          Assists: 0.8851374739011653
          PersonalFouls: 6.623518433804886
          OffensiveReboundsPercentage: 0.43431398824148815
          StealsPercentage: 7.606863723092579
          FantasyPointsDraftKings: 0.2025324113236393
          Games: 5
          BlockedShots: 6.519180951018382
          StatID: 5
          TrueShootingAttempts: 3.1497903714250555
          BlocksPercentage: 0.10263654006109402
          OffensiveRebounds: 3.901545264248647
          Started: 5
          IsGameOver: true
          DefensiveRebounds: 4.652396432933246
          FantasyPointsYahoo: 1.041444916118296
          IsClosed: true
          OpponentRank: 8
          Rebounds: 3.502657762086401
          DoubleDoubles: 7.740351818741173
          TeamID: 3
          FieldGoalsPercentage: 9.132027271330688
          Turnovers: 8.675064425986758
          YahooSalary: 4
          FantasyDataSalary: 5
          ThreePointersMade: 9.897492629215506
          TwoPointersPercentage: 0.35262192099236644
          Points: 1.8268702177058116
          FieldGoalsAttempted: 4.678947989005849
          DraftKingsPosition: DraftKingsPosition
          FantasyPointsFantasyDraft: 4.258773108174356
          GlobalOpponentID: 6
          Opponent: Opponent
          LineupConfirmed: true
          Team: Team
          Season: 9
          GlobalGameID: 4
          YahooPosition: YahooPosition
          FantasyDraftPosition: FantasyDraftPosition
          FanDuelSalary: 7
          FantasyPoints: 4.078845849666752
          AssistsPercentage: 7.058770351582356
          DefensiveReboundsPercentage: 8.969578798196912
          EffectiveFieldGoalsPercentage: 3.0576100241049344
          TwoPointersAttempted: 4.518309517874243
          InjuryBodyPart: InjuryBodyPart
          HomeOrAway: HomeOrAway
          InjuryNotes: InjuryNotes
          LineupStatus: LineupStatus
          SeasonType: 8
          FreeThrowsMade: 9.702963800023566
          FieldGoalsMade: 7.260521264802104
          UsageRatePercentage: 7.203794749804894
          Seconds: 0
          PlayerEfficiencyRating: 4.573936264232251
          TurnOversPercentage: 3.804112695731078
          Day: Day
          TrueShootingPercentage: 2.380090174313445
        TeamGames:
        - FreeThrowsPercentage: 3.2841216543560217
          ThreePointersAttempted: 6.749525837406151
          GlobalTeamID: 9
          TripleDoubles: 9.456612101333725
          DateTime: DateTime
          Minutes: 4
          TotalReboundsPercentage: 0.4867146239815201
          Name: Name
          PlusMinus: 8.276461147928103
          Steals: 5.747795090145878
          Possessions: 4.141296055235948
          FreeThrowsAttempted: 3.8008573585058016
          Wins: 6
          GameID: 9
          Updated: Updated
          ThreePointersPercentage: 0.30134145536422907
          FantasyPointsFanDuel: 3.812761638325517
          TwoPointersMade: 0.36062689002149373
          OpponentID: 2
          Assists: 2.7977867356748476
          PersonalFouls: 9.146339979307802
          Losses: 1
          OffensiveReboundsPercentage: 8.262795412896967
          StealsPercentage: 0.7012260588964747
          FantasyPointsDraftKings: 1.2555055362323109
          Games: 7
          BlockedShots: 0.58919091925136
          StatID: 2
          TrueShootingAttempts: 9.721723570087065
          BlocksPercentage: 2.535258963197524
          OffensiveRebounds: 3.209082285545927
          IsGameOver: true
          DefensiveRebounds: 6.173804034172511
          FantasyPointsYahoo: 1.5970080735609526
          IsClosed: true
          Rebounds: 8.910869026866926
          DoubleDoubles: 6.966044574347761
          TeamID: 7
          FieldGoalsPercentage: 5.974942028545841
          Turnovers: 0.11859130807119977
          ThreePointersMade: 4.943637496515336
          TwoPointersPercentage: 7.390706075830692
          Points: 6.458262756685686
          FieldGoalsAttempted: 4.372688051310086
          FantasyPointsFantasyDraft: 5.6644160867523485
          GlobalOpponentID: 7
          Opponent: Opponent
          LineupConfirmed: true
          Team: Team
          Season: 2
          GlobalGameID: 7
          FantasyPoints: 1.3949519358941398
          AssistsPercentage: 9.386524999783381
          DefensiveReboundsPercentage: 4.8789878742268815
          EffectiveFieldGoalsPercentage: 9.806951670467935
          TwoPointersAttempted: 4.637509675190766
          HomeOrAway: HomeOrAway
          LineupStatus: LineupStatus
          SeasonType: 6
          FreeThrowsMade: 1.0639121808530916
          FieldGoalsMade: 5.7911894223693885
          UsageRatePercentage: 1.0502890910539986
          Seconds: 0
          PlayerEfficiencyRating: 4.010300976654761
          TurnOversPercentage: 6.918231485891953
          Day: Day
          TrueShootingPercentage: 7.88722683998926
        - FreeThrowsPercentage: 3.2841216543560217
          ThreePointersAttempted: 6.749525837406151
          GlobalTeamID: 9
          TripleDoubles: 9.456612101333725
          DateTime: DateTime
          Minutes: 4
          TotalReboundsPercentage: 0.4867146239815201
          Name: Name
          PlusMinus: 8.276461147928103
          Steals: 5.747795090145878
          Possessions: 4.141296055235948
          FreeThrowsAttempted: 3.8008573585058016
          Wins: 6
          GameID: 9
          Updated: Updated
          ThreePointersPercentage: 0.30134145536422907
          FantasyPointsFanDuel: 3.812761638325517
          TwoPointersMade: 0.36062689002149373
          OpponentID: 2
          Assists: 2.7977867356748476
          PersonalFouls: 9.146339979307802
          Losses: 1
          OffensiveReboundsPercentage: 8.262795412896967
          StealsPercentage: 0.7012260588964747
          FantasyPointsDraftKings: 1.2555055362323109
          Games: 7
          BlockedShots: 0.58919091925136
          StatID: 2
          TrueShootingAttempts: 9.721723570087065
          BlocksPercentage: 2.535258963197524
          OffensiveRebounds: 3.209082285545927
          IsGameOver: true
          DefensiveRebounds: 6.173804034172511
          FantasyPointsYahoo: 1.5970080735609526
          IsClosed: true
          Rebounds: 8.910869026866926
          DoubleDoubles: 6.966044574347761
          TeamID: 7
          FieldGoalsPercentage: 5.974942028545841
          Turnovers: 0.11859130807119977
          ThreePointersMade: 4.943637496515336
          TwoPointersPercentage: 7.390706075830692
          Points: 6.458262756685686
          FieldGoalsAttempted: 4.372688051310086
          FantasyPointsFantasyDraft: 5.6644160867523485
          GlobalOpponentID: 7
          Opponent: Opponent
          LineupConfirmed: true
          Team: Team
          Season: 2
          GlobalGameID: 7
          FantasyPoints: 1.3949519358941398
          AssistsPercentage: 9.386524999783381
          DefensiveReboundsPercentage: 4.8789878742268815
          EffectiveFieldGoalsPercentage: 9.806951670467935
          TwoPointersAttempted: 4.637509675190766
          HomeOrAway: HomeOrAway
          LineupStatus: LineupStatus
          SeasonType: 6
          FreeThrowsMade: 1.0639121808530916
          FieldGoalsMade: 5.7911894223693885
          UsageRatePercentage: 1.0502890910539986
          Seconds: 0
          PlayerEfficiencyRating: 4.010300976654761
          TurnOversPercentage: 6.918231485891953
          Day: Day
          TrueShootingPercentage: 7.88722683998926
        Quarters:
        - QuarterID: 9
          HomeScore: 6
          Number: 8
          AwayScore: 9
          GameID: 9
          Name: Name
        - QuarterID: 9
          HomeScore: 6
          Number: 8
          AwayScore: 9
          GameID: 9
          Name: Name
      properties:
        Game:
          $ref: '#/components/schemas/Game'
        PlayerGames:
          items:
            $ref: '#/components/schemas/PlayerGame'
          title: PlayerGames
          type: array
        Quarters:
          items:
            $ref: '#/components/schemas/Quarter'
          title: Quarters
          type: array
        TeamGames:
          items:
            $ref: '#/components/schemas/TeamGame'
          title: TeamGames
          type: array
      title: BoxScore
    DfsSlate:
      example:
        Operator: Operator
        OperatorDay: OperatorDay
        OperatorName: OperatorName
        IsMultiDaySlate: true
        SlateID: 1
        DfsSlateGames:
        - RemovedByOperator: true
          Game:
            Quarter: Quarter
            AwayTeam: AwayTeam
            GameEndDateTime: GameEndDateTime
            HomeRotationNumber: 7
            HomeTeamMoneyLine: 1
            HomeTeamID: 1
            AwayTeamID: 5
            IsClosed: true
            DateTime: DateTime
            LastPlay: LastPlay
            TimeRemainingSeconds: 3
            RefereeID: 6
            UnderPayout: 7
            UmpireID: 3
            GlobalHomeTeamID: 4
            AlternateID: 0
            Quarters:
            - QuarterID: 9
              HomeScore: 6
              Number: 8
              AwayScore: 9
              GameID: 9
              Name: Name
            - QuarterID: 9
              HomeScore: 6
              Number: 8
              AwayScore: 9
              GameID: 9
              Name: Name
            Season: 3
            GameID: 9
            GlobalGameID: 2
            OverPayout: 6
            Attendance: 6
            Status: Status
            HomeTeam: HomeTeam
            Updated: Updated
            TimeRemainingMinutes: 6
            Channel: Channel
            OverUnder: 7.457744773683766
            NeutralVenue: true
            StadiumID: 5
            SeriesInfo:
              GameNumber: 2
              MaxLength: 6
              AwayTeamWins: 1
              HomeTeamWins: 6
            SeasonType: 6
            CrewChiefID: 7
            HomeTeamScore: 1
            PointSpread: 1.1730742509559433
            AwayRotationNumber: 1
            PointSpreadAwayTeamMoneyLine: 4
            AwayTeamScore: 2
            GlobalAwayTeamID: 3
            DateTimeUTC: DateTimeUTC
            PointSpreadHomeTeamMoneyLine: 5
            AwayTeamMoneyLine: 5
            Day: Day
          OperatorGameID: 6
          SlateGameID: 1
          SlateID: 5
          GameID: 0
        - RemovedByOperator: true
          Game:
            Quarter: Quarter
            AwayTeam: AwayTeam
            GameEndDateTime: GameEndDateTime
            HomeRotationNumber: 7
            HomeTeamMoneyLine: 1
            HomeTeamID: 1
            AwayTeamID: 5
            IsClosed: true
            DateTime: DateTime
            LastPlay: LastPlay
            TimeRemainingSeconds: 3
            RefereeID: 6
            UnderPayout: 7
            UmpireID: 3
            GlobalHomeTeamID: 4
            AlternateID: 0
            Quarters:
            - QuarterID: 9
              HomeScore: 6
              Number: 8
              AwayScore: 9
              GameID: 9
              Name: Name
            - QuarterID: 9
              HomeScore: 6
              Number: 8
              AwayScore: 9
              GameID: 9
              Name: Name
            Season: 3
            GameID: 9
            GlobalGameID: 2
            OverPayout: 6
            Attendance: 6
            Status: Status
            HomeTeam: HomeTeam
            Updated: Updated
            TimeRemainingMinutes: 6
            Channel: Channel
            OverUnder: 7.457744773683766
            NeutralVenue: true
            StadiumID: 5
            SeriesInfo:
              GameNumber: 2
              MaxLength: 6
              AwayTeamWins: 1
              HomeTeamWins: 6
            SeasonType: 6
            CrewChiefID: 7
            HomeTeamScore: 1
            PointSpread: 1.1730742509559433
            AwayRotationNumber: 1
            PointSpreadAwayTeamMoneyLine: 4
            AwayTeamScore: 2
            GlobalAwayTeamID: 3
            DateTimeUTC: DateTimeUTC
            PointSpreadHomeTeamMoneyLine: 5
            AwayTeamMoneyLine: 5
            Day: Day
          OperatorGameID: 6
          SlateGameID: 1
          SlateID: 5
          GameID: 0
        SlateRosterSlots:
        - SlateRosterSlots
        - SlateRosterSlots
        SalaryCap: 1
        OperatorStartTime: OperatorStartTime
        NumberOfGames: 7
        RemovedByOperator: true
        OperatorGameType: OperatorGameType
        DfsSlatePlayers:
        - PlayerID: 7
          OperatorPosition: OperatorPosition
          OperatorPlayerName: OperatorPlayerName
          SlateID: 3
          SlatePlayerID: 2
          TeamID: 4
          PlayerGameProjectionStatID: 2
          OperatorSalary: 5
          RemovedByOperator: true
          OperatorRosterSlots:
          - OperatorRosterSlots
          - OperatorRosterSlots
          OperatorSlatePlayerID: OperatorSlatePlayerID
          SlateGameID: 9
          Team: Team
          OperatorPlayerID: OperatorPlayerID
        - PlayerID: 7
          OperatorPosition: OperatorPosition
          OperatorPlayerName: OperatorPlayerName
          SlateID: 3
          SlatePlayerID: 2
          TeamID: 4
          PlayerGameProjectionStatID: 2
          OperatorSalary: 5
          RemovedByOperator: true
          OperatorRosterSlots:
          - OperatorRosterSlots
          - OperatorRosterSlots
          OperatorSlatePlayerID: OperatorSlatePlayerID
          SlateGameID: 9
          Team: Team
          OperatorPlayerID: OperatorPlayerID
        OperatorSlateID: 1
      properties:
        DfsSlateGames:
          items:
            $ref: '#/components/schemas/DfsSlateGame'
          title: DfsSlateGames
          type: array
        DfsSlatePlayers:
          items:
            $ref: '#/components/schemas/DfsSlatePlayer'
          title: DfsSlatePlayers
          type: array
        IsMultiDaySlate:
          nullable: true
          title: IsMultiDaySlate
          type: boolean
        NumberOfGames:
          nullable: true
          title: NumberOfGames
          type: integer
        Operator:
          nullable: true
          title: Operator
          type: string
        OperatorDay:
          nullable: true
          title: OperatorDay
          type: string
        OperatorGameType:
          nullable: true
          title: OperatorGameType
          type: string
        OperatorName:
          nullable: true
          title: OperatorName
          type: string
        OperatorSlateID:
          nullable: true
          title: OperatorSlateID
          type: integer
        OperatorStartTime:
          nullable: true
          title: OperatorStartTime
          type: string
        RemovedByOperator:
          nullable: true
          title: RemovedByOperator
          type: boolean
        SalaryCap:
          nullable: true
          title: SalaryCap
          type: integer
        SlateID:
          nullable: false
          title: SlateID
          type: integer
        SlateRosterSlots:
          items:
            nullable: true
            type: string
          title: SlateRosterSlots
          type: array
      title: DfsSlate
    DfsSlateGame:
      example:
        RemovedByOperator: true
        Game:
          Quarter: Quarter
          AwayTeam: AwayTeam
          GameEndDateTime: GameEndDateTime
          HomeRotationNumber: 7
          HomeTeamMoneyLine: 1
          HomeTeamID: 1
          AwayTeamID: 5
          IsClosed: true
          DateTime: DateTime
          LastPlay: LastPlay
          TimeRemainingSeconds: 3
          RefereeID: 6
          UnderPayout: 7
          UmpireID: 3
          GlobalHomeTeamID: 4
          AlternateID: 0
          Quarters:
          - QuarterID: 9
            HomeScore: 6
            Number: 8
            AwayScore: 9
            GameID: 9
            Name: Name
          - QuarterID: 9
            HomeScore: 6
            Number: 8
            AwayScore: 9
            GameID: 9
            Name: Name
          Season: 3
          GameID: 9
          GlobalGameID: 2
          OverPayout: 6
          Attendance: 6
          Status: Status
          HomeTeam: HomeTeam
          Updated: Updated
          TimeRemainingMinutes: 6
          Channel: Channel
          OverUnder: 7.457744773683766
          NeutralVenue: true
          StadiumID: 5
          SeriesInfo:
            GameNumber: 2
            MaxLength: 6
            AwayTeamWins: 1
            HomeTeamWins: 6
          SeasonType: 6
          CrewChiefID: 7
          HomeTeamScore: 1
          PointSpread: 1.1730742509559433
          AwayRotationNumber: 1
          PointSpreadAwayTeamMoneyLine: 4
          AwayTeamScore: 2
          GlobalAwayTeamID: 3
          DateTimeUTC: DateTimeUTC
          PointSpreadHomeTeamMoneyLine: 5
          AwayTeamMoneyLine: 5
          Day: Day
        OperatorGameID: 6
        SlateGameID: 1
        SlateID: 5
        GameID: 0
      properties:
        Game:
          $ref: '#/components/schemas/Game'
        GameID:
          nullable: true
          title: GameID
          type: integer
        OperatorGameID:
          nullable: true
          title: OperatorGameID
          type: integer
        RemovedByOperator:
          nullable: true
          title: RemovedByOperator
          type: boolean
        SlateGameID:
          nullable: false
          title: SlateGameID
          type: integer
        SlateID:
          nullable: false
          title: SlateID
          type: integer
      title: DfsSlateGame
    DfsSlatePlayer:
      example:
        PlayerID: 7
        OperatorPosition: OperatorPosition
        OperatorPlayerName: OperatorPlayerName
        SlateID: 3
        SlatePlayerID: 2
        TeamID: 4
        PlayerGameProjectionStatID: 2
        OperatorSalary: 5
        RemovedByOperator: true
        OperatorRosterSlots:
        - OperatorRosterSlots
        - OperatorRosterSlots
        OperatorSlatePlayerID: OperatorSlatePlayerID
        SlateGameID: 9
        Team: Team
        OperatorPlayerID: OperatorPlayerID
      properties:
        OperatorPlayerID:
          nullable: true
          title: OperatorPlayerID
          type: string
        OperatorPlayerName:
          nullable: true
          title: OperatorPlayerName
          type: string
        OperatorPosition:
          nullable: true
          title: OperatorPosition
          type: string
        OperatorRosterSlots:
          items:
            nullable: true
            type: string
          title: OperatorRosterSlots
          type: array
        OperatorSalary:
          nullable: true
          title: OperatorSalary
          type: integer
        OperatorSlatePlayerID:
          nullable: true
          title: OperatorSlatePlayerID
          type: string
        PlayerGameProjectionStatID:
          nullable: true
          title: PlayerGameProjectionStatID
          type: integer
        PlayerID:
          nullable: true
          title: PlayerID
          type: integer
        RemovedByOperator:
          nullable: true
          title: RemovedByOperator
          type: boolean
        SlateGameID:
          nullable: true
          title: SlateGameID
          type: integer
        SlateID:
          nullable: false
          title: SlateID
          type: integer
        SlatePlayerID:
          nullable: false
          title: SlatePlayerID
          type: integer
        Team:
          nullable: true
          title: Team
          type: string
        TeamID:
          nullable: true
          title: TeamID
          type: integer
      title: DfsSlatePlayer
    Game:
      example:
        Quarter: Quarter
        AwayTeam: AwayTeam
        GameEndDateTime: GameEndDateTime
        HomeRotationNumber: 7
        HomeTeamMoneyLine: 1
        HomeTeamID: 1
        AwayTeamID: 5
        IsClosed: true
        DateTime: DateTime
        LastPlay: LastPlay
        TimeRemainingSeconds: 3
        RefereeID: 6
        UnderPayout: 7
        UmpireID: 3
        GlobalHomeTeamID: 4
        AlternateID: 0
        Quarters:
        - QuarterID: 9
          HomeScore: 6
          Number: 8
          AwayScore: 9
          GameID: 9
          Name: Name
        - QuarterID: 9
          HomeScore: 6
          Number: 8
          AwayScore: 9
          GameID: 9
          Name: Name
        Season: 3
        GameID: 9
        GlobalGameID: 2
        OverPayout: 6
        Attendance: 6
        Status: Status
        HomeTeam: HomeTeam
        Updated: Updated
        TimeRemainingMinutes: 6
        Channel: Channel
        OverUnder: 7.457744773683766
        NeutralVenue: true
        StadiumID: 5
        SeriesInfo:
          GameNumber: 2
          MaxLength: 6
          AwayTeamWins: 1
          HomeTeamWins: 6
        SeasonType: 6
        CrewChiefID: 7
        HomeTeamScore: 1
        PointSpread: 1.1730742509559433
        AwayRotationNumber: 1
        PointSpreadAwayTeamMoneyLine: 4
        AwayTeamScore: 2
        GlobalAwayTeamID: 3
        DateTimeUTC: DateTimeUTC
        PointSpreadHomeTeamMoneyLine: 5
        AwayTeamMoneyLine: 5
        Day: Day
      properties:
        AlternateID:
          nullable: true
          title: AlternateID
          type: integer
        Attendance:
          nullable: true
          title: Attendance
          type: integer
        AwayRotationNumber:
          nullable: true
          title: AwayRotationNumber
          type: integer
        AwayTeam:
          nullable: true
          title: AwayTeam
          type: string
        AwayTeamID:
          nullable: false
          title: AwayTeamID
          type: integer
        AwayTeamMoneyLine:
          nullable: true
          title: AwayTeamMoneyLine
          type: integer
        AwayTeamScore:
          nullable: true
          title: AwayTeamScore
          type: integer
        Channel:
          nullable: true
          title: Channel
          type: string
        CrewChiefID:
          nullable: true
          title: CrewChiefID
          type: integer
        DateTime:
          nullable: true
          title: DateTime
          type: string
        DateTimeUTC:
          nullable: true
          title: DateTimeUTC
          type: string
        Day:
          nullable: true
          title: Day
          type: string
        GameEndDateTime:
          nullable: true
          title: GameEndDateTime
          type: string
        GameID:
          nullable: false
          title: GameID
          type: integer
        GlobalAwayTeamID:
          nullable: false
          title: GlobalAwayTeamID
          type: integer
        GlobalGameID:
          nullable: false
          title: GlobalGameID
          type: integer
        GlobalHomeTeamID:
          nullable: false
          title: GlobalHomeTeamID
          type: integer
        HomeRotationNumber:
          nullable: true
          title: HomeRotationNumber
          type: integer
        HomeTeam:
          nullable: true
          title: HomeTeam
          type: string
        HomeTeamID:
          nullable: false
          title: HomeTeamID
          type: integer
        HomeTeamMoneyLine:
          nullable: true
          title: HomeTeamMoneyLine
          type: integer
        HomeTeamScore:
          nullable: true
          title: HomeTeamScore
          type: integer
        IsClosed:
          nullable: false
          title: IsClosed
          type: boolean
        LastPlay:
          nullable: true
          title: LastPlay
          type: string
        NeutralVenue:
          nullable: true
          title: NeutralVenue
          type: boolean
        OverPayout:
          nullable: true
          title: OverPayout
          type: integer
        OverUnder:
          nullable: true
          title: OverUnder
          type: number
        PointSpread:
          nullable: true
          title: PointSpread
          type: number
        PointSpreadAwayTeamMoneyLine:
          nullable: true
          title: PointSpreadAwayTeamMoneyLine
          type: integer
        PointSpreadHomeTeamMoneyLine:
          nullable: true
          title: PointSpreadHomeTeamMoneyLine
          type: integer
        Quarter:
          nullable: true
          title: Quarter
          type: string
        Quarters:
          items:
            $ref: '#/components/schemas/Quarter'
          title: Quarters
          type: array
        RefereeID:
          nullable: true
          title: RefereeID
          type: integer
        Season:
          nullable: false
          title: Season
          type: integer
        SeasonType:
          nullable: false
          title: SeasonType
          type: integer
        SeriesInfo:
          $ref: '#/components/schemas/Series'
        StadiumID:
          nullable: true
          title: StadiumID
          type: integer
        Status:
          nullable: true
          title: Status
          type: string
        TimeRemainingMinutes:
          nullable: true
          title: TimeRemainingMinutes
          type: integer
        TimeRemainingSeconds:
          nullable: true
          title: TimeRemainingSeconds
          type: integer
        UmpireID:
          nullable: true
          title: UmpireID
          type: integer
        UnderPayout:
          nullable: true
          title: UnderPayout
          type: integer
        Updated:
          nullable: true
          title: Updated
          type: string
      title: Game
    News:
      example:
        PlayerID: 6
        OriginalSourceUrl: OriginalSourceUrl
        Updated: Updated
        Categories: Categories
        TermsOfUse: TermsOfUse
        Title: Title
        PlayerID2: 1
        TeamID: 5
        Source: Source
        Url: Url
        NewsID: 0
        TeamID2: 5
        Content: Content
        OriginalSource: OriginalSource
        Author: Author
        Team: Team
        Team2: Team2
        TimeAgo: TimeAgo
      properties:
        Author:
          nullable: true
          title: Author
          type: string
        Categories:
          nullable: true
          title: Categories
          type: string
        Content:
          nullable: true
          title: Content
          type: string
        NewsID:
          nullable: false
          title: NewsID
          type: integer
        OriginalSource:
          nullable: true
          title: OriginalSource
          type: string
        OriginalSourceUrl:
          nullable: true
          title: OriginalSourceUrl
          type: string
        PlayerID:
          nullable: true
          title: PlayerID
          type: integer
        PlayerID2:
          nullable: true
          title: PlayerID2
          type: integer
        Source:
          nullable: true
          title: Source
          type: string
        Team:
          nullable: true
          title: Team
          type: string
        Team2:
          nullable: true
          title: Team2
          type: string
        TeamID:
          nullable: true
          title: TeamID
          type: integer
        TeamID2:
          nullable: true
          title: TeamID2
          type: integer
        TermsOfUse:
          nullable: true
          title: TermsOfUse
          type: string
        TimeAgo:
          nullable: true
          title: TimeAgo
          type: string
        Title:
          nullable: true
          title: Title
          type: string
        Updated:
          nullable: true
          title: Updated
          type: string
        Url:
          nullable: true
          title: Url
          type: string
      title: News
    OpponentSeason:
      example:
        FreeThrowsPercentage: 7.740351818741173
        ThreePointersAttempted: 6.073898085781152
        GlobalTeamID: 3
        TripleDoubles: 0.43431398824148815
        Minutes: 5
        TotalReboundsPercentage: 3.901545264248647
        Name: Name
        PlusMinus: 4.258773108174356
        Steals: 7.933506881737151
        Possessions: 4.678947989005849
        FreeThrowsAttempted: 4.652396432933246
        Wins: 3
        OpponentPosition: OpponentPosition
        Updated: Updated
        ThreePointersPercentage: 4.459605034958679
        FantasyPointsFanDuel: 3.0937452626664474
        TwoPointersMade: 8.863729185622827
        Assists: 6.438423552598547
        PersonalFouls: 0.2025324113236393
        Losses: 7
        OffensiveReboundsPercentage: 4.078845849666752
        StealsPercentage: 5.507386964179881
        FantasyPointsDraftKings: 3.353193347011243
        Games: 3
        BlockedShots: 6.965117697638846
        StatID: 0
        TrueShootingAttempts: 2.9409642974827896
        BlocksPercentage: 1.284659006116532
        OffensiveRebounds: 3.2588565619047607
        DefensiveRebounds: 2.8841621266687802
        FantasyPointsYahoo: 0.8851374739011653
        IsClosed: true
        Rebounds: 7.260521264802104
        DoubleDoubles: 6.878052220127876
        TeamID: 4
        FieldGoalsPercentage: 0.10263654006109402
        Turnovers: 6.623518433804886
        ThreePointersMade: 8.251625748923757
        TwoPointersPercentage: 9.254183946267839
        Points: 1.041444916118296
        FieldGoalsAttempted: 7.058770351582356
        FantasyPointsFantasyDraft: 7.143538047012306
        LineupConfirmed: true
        Team: Team
        Season: 9
        FantasyPoints: 6.704019297950036
        AssistsPercentage: 3.5571952270680973
        DefensiveReboundsPercentage: 6.778324963048013
        EffectiveFieldGoalsPercentage: 5.944895607614016
        TwoPointersAttempted: 4.573936264232251
        LineupStatus: LineupStatus
        SeasonType: 0
        FreeThrowsMade: 8.969578798196912
        FieldGoalsMade: 6.519180951018382
        UsageRatePercentage: 1.8268702177058116
        Seconds: 9
        PlayerEfficiencyRating: 6.628464275087742
        TurnOversPercentage: 8.28965939814297
        TrueShootingPercentage: 1.7325933120207193
      properties:
        Assists:
          nullable: true
          title: Assists
          type: number
        AssistsPercentage:
          nullable: true
          title: AssistsPercentage
          type: number
        BlockedShots:
          nullable: true
          title: BlockedShots
          type: number
        BlocksPercentage:
          nullable: true
          title: BlocksPercentage
          type: number
        DefensiveRebounds:
          nullable: true
          title: DefensiveRebounds
          type: number
        DefensiveReboundsPercentage:
          nullable: true
          title: DefensiveReboundsPercentage
          type: number
        DoubleDoubles:
          nullable: true
          title: DoubleDoubles
          type: number
        EffectiveFieldGoalsPercentage:
          nullable: true
          title: EffectiveFieldGoalsPercentage
          type: number
        FantasyPoints:
          nullable: true
          title: FantasyPoints
          type: number
        FantasyPointsDraftKings:
          nullable: true
          title: FantasyPointsDraftKings
          type: number
        FantasyPointsFanDuel:
          nullable: true
          title: FantasyPointsFanDuel
          type: number
        FantasyPointsFantasyDraft:
          nullable: true
          title: FantasyPointsFantasyDraft
          type: number
        FantasyPointsYahoo:
          nullable: true
          title: FantasyPointsYahoo
          type: number
        FieldGoalsAttempted:
          nullable: true
          title: FieldGoalsAttempted
          type: number
        FieldGoalsMade:
          nullable: true
          title: FieldGoalsMade
          type: number
        FieldGoalsPercentage:
          nullable: true
          title: FieldGoalsPercentage
          type: number
        FreeThrowsAttempted:
          nullable: true
          title: FreeThrowsAttempted
          type: number
        FreeThrowsMade:
          nullable: true
          title: FreeThrowsMade
          type: number
        FreeThrowsPercentage:
          nullable: true
          title: FreeThrowsPercentage
          type: number
        Games:
          nullable: true
          title: Games
          type: integer
        GlobalTeamID:
          nullable: true
          title: GlobalTeamID
          type: integer
        IsClosed:
          nullable: false
          title: IsClosed
          type: boolean
        LineupConfirmed:
          nullable: true
          title: LineupConfirmed
          type: boolean
        LineupStatus:
          nullable: true
          title: LineupStatus
          type: string
        Losses:
          nullable: true
          title: Losses
          type: integer
        Minutes:
          nullable: true
          title: Minutes
          type: integer
        Name:
          nullable: true
          title: Name
          type: string
        OffensiveRebounds:
          nullable: true
          title: OffensiveRebounds
          type: number
        OffensiveReboundsPercentage:
          nullable: true
          title: OffensiveReboundsPercentage
          type: number
        OpponentPosition:
          nullable: true
          title: OpponentPosition
          type: string
        PersonalFouls:
          nullable: true
          title: PersonalFouls
          type: number
        PlayerEfficiencyRating:
          nullable: true
          title: PlayerEfficiencyRating
          type: number
        PlusMinus:
          nullable: true
          title: PlusMinus
          type: number
        Points:
          nullable: true
          title: Points
          type: number
        Possessions:
          nullable: true
          title: Possessions
          type: number
        Rebounds:
          nullable: true
          title: Rebounds
          type: number
        Season:
          nullable: true
          title: Season
          type: integer
        SeasonType:
          nullable: true
          title: SeasonType
          type: integer
        Seconds:
          nullable: true
          title: Seconds
          type: integer
        StatID:
          nullable: false
          title: StatID
          type: integer
        Steals:
          nullable: true
          title: Steals
          type: number
        StealsPercentage:
          nullable: true
          title: StealsPercentage
          type: number
        Team:
          nullable: true
          title: Team
          type: string
        TeamID:
          nullable: true
          title: TeamID
          type: integer
        ThreePointersAttempted:
          nullable: true
          title: ThreePointersAttempted
          type: number
        ThreePointersMade:
          nullable: true
          title: ThreePointersMade
          type: number
        ThreePointersPercentage:
          nullable: true
          title: ThreePointersPercentage
          type: number
        TotalReboundsPercentage:
          nullable: true
          title: TotalReboundsPercentage
          type: number
        TripleDoubles:
          nullable: true
          title: TripleDoubles
          type: number
        TrueShootingAttempts:
          nullable: true
          title: TrueShootingAttempts
          type: number
        TrueShootingPercentage:
          nullable: true
          title: TrueShootingPercentage
          type: number
        TurnOversPercentage:
          nullable: true
          title: TurnOversPercentage
          type: number
        Turnovers:
          nullable: true
          title: Turnovers
          type: number
        TwoPointersAttempted:
          nullable: true
          title: TwoPointersAttempted
          type: number
        TwoPointersMade:
          nullable: true
          title: TwoPointersMade
          type: number
        TwoPointersPercentage:
          nullable: true
          title: TwoPointersPercentage
          type: number
        Updated:
          nullable: true
          title: Updated
          type: string
        UsageRatePercentage:
          nullable: true
          title: UsageRatePercentage
          type: number
        Wins:
          nullable: true
          title: Wins
          type: integer
      title: OpponentSeason
    Player:
      example:
        PlayerID: 4
        InjuryStartDate: InjuryStartDate
        YahooName: YahooName
        GlobalTeamID: 7
        FanDuelName: FanDuelName
        InjuryStatus: InjuryStatus
        UsaTodayHeadshotUpdated: UsaTodayHeadshotUpdated
        SportsDirectPlayerID: 1
        UsaTodayPlayerID: 1
        DepthChartPosition: DepthChartPosition
        Jersey: 3
        PhotoUrl: PhotoUrl
        Status: Status
        Position: Position
        FanDuelPlayerID: 5
        UsaTodayHeadshotUrl: UsaTodayHeadshotUrl
        XmlTeamPlayerID: 5
        Weight: 4
        Experience: 1
        SportRadarPlayerID: SportRadarPlayerID
        College: College
        LastName: LastName
        BirthDate: BirthDate
        Salary: 1
        FantasyDraftPlayerID: 2
        SportsDataID: SportsDataID
        RotoworldPlayerID: 1
        TeamID: 7
        DraftKingsPlayerID: 6
        UsaTodayHeadshotNoBackgroundUpdated: UsaTodayHeadshotNoBackgroundUpdated
        Height: 9
        Team: Team
        YahooPlayerID: 9
        FantasyDraftName: FantasyDraftName
        StatsPlayerID: 6
        FirstName: FirstName
        PositionCategory: PositionCategory
        NbaDotComPlayerID: 2
        UsaTodayHeadshotNoBackgroundUrl: UsaTodayHeadshotNoBackgroundUrl
        BirthState: BirthState
        DraftKingsName: DraftKingsName
        BirthCountry: BirthCountry
        InjuryBodyPart: InjuryBodyPart
        InjuryNotes: InjuryNotes
        RotoWirePlayerID: 7
        DepthChartOrder: 0
        FantasyAlarmPlayerID: 5
        HighSchool: HighSchool
        BirthCity: BirthCity
      properties:
        BirthCity:
          nullable: true
          title: BirthCity
          type: string
        BirthCountry:
          nullable: true
          title: BirthCountry
          type: string
        BirthDate:
          nullable: true
          title: BirthDate
          type: string
        BirthState:
          nullable: true
          title: BirthState
          type: string
        College:
          nullable: true
          title: College
          type: string
        DepthChartOrder:
          nullable: true
          title: DepthChartOrder
          type: integer
        DepthChartPosition:
          nullable: true
          title: DepthChartPosition
          type: string
        DraftKingsName:
          nullable: true
          title: DraftKingsName
          type: string
        DraftKingsPlayerID:
          nullable: true
          title: DraftKingsPlayerID
          type: integer
        Experience:
          nullable: true
          title: Experience
          type: integer
        FanDuelName:
          nullable: true
          title: FanDuelName
          type: string
        FanDuelPlayerID:
          nullable: true
          title: FanDuelPlayerID
          type: integer
        FantasyAlarmPlayerID:
          nullable: true
          title: FantasyAlarmPlayerID
          type: integer
        FantasyDraftName:
          nullable: true
          title: FantasyDraftName
          type: string
        FantasyDraftPlayerID:
          nullable: true
          title: FantasyDraftPlayerID
          type: integer
        FirstName:
          nullable: true
          title: FirstName
          type: string
        GlobalTeamID:
          nullable: true
          title: GlobalTeamID
          type: integer
        Height:
          nullable: true
          title: Height
          type: integer
        HighSchool:
          nullable: true
          title: HighSchool
          type: string
        InjuryBodyPart:
          nullable: true
          title: InjuryBodyPart
          type: string
        InjuryNotes:
          nullable: true
          title: InjuryNotes
          type: string
        InjuryStartDate:
          nullable: true
          title: InjuryStartDate
          type: string
        InjuryStatus:
          nullable: true
          title: InjuryStatus
          type: string
        Jersey:
          nullable: true
          title: Jersey
          type: integer
        LastName:
          nullable: true
          title: LastName
          type: string
        NbaDotComPlayerID:
          nullable: true
          title: NbaDotComPlayerID
          type: integer
        PhotoUrl:
          nullable: true
          title: PhotoUrl
          type: string
        PlayerID:
          nullable: false
          title: PlayerID
          type: integer
        Position:
          nullable: true
          title: Position
          type: string
        PositionCategory:
          nullable: true
          title: PositionCategory
          type: string
        RotoWirePlayerID:
          nullable: true
          title: RotoWirePlayerID
          type: integer
        RotoworldPlayerID:
          nullable: true
          title: RotoworldPlayerID
          type: integer
        Salary:
          nullable: true
          title: Salary
          type: integer
        SportRadarPlayerID:
          nullable: true
          title: SportRadarPlayerID
          type: string
        SportsDataID:
          nullable: true
          title: SportsDataID
          type: string
        SportsDirectPlayerID:
          nullable: true
          title: SportsDirectPlayerID
          type: integer
        StatsPlayerID:
          nullable: true
          title: StatsPlayerID
          type: integer
        Status:
          nullable: true
          title: Status
          type: string
        Team:
          nullable: true
          title: Team
          type: string
        TeamID:
          nullable: true
          title: TeamID
          type: integer
        UsaTodayHeadshotNoBackgroundUpdated:
          nullable: true
          title: UsaTodayHeadshotNoBackgroundUpdated
          type: string
        UsaTodayHeadshotNoBackgroundUrl:
          nullable: true
          title: UsaTodayHeadshotNoBackgroundUrl
          type: string
        UsaTodayHeadshotUpdated:
          nullable: true
          title: UsaTodayHeadshotUpdated
          type: string
        UsaTodayHeadshotUrl:
          nullable: true
          title: UsaTodayHeadshotUrl
          type: string
        UsaTodayPlayerID:
          nullable: true
          title: UsaTodayPlayerID
          type: integer
        Weight:
          nullable: true
          title: Weight
          type: integer
        XmlTeamPlayerID:
          nullable: true
          title: XmlTeamPlayerID
          type: integer
        YahooName:
          nullable: true
          title: YahooName
          type: string
        YahooPlayerID:
          nullable: true
          title: YahooPlayerID
          type: integer
      title: Player
    PlayerGame:
      example:
        PlayerID: 8
        FanDuelPosition: FanDuelPosition
        InjuryStartDate: InjuryStartDate
        FreeThrowsPercentage: 0.5199002018724985
        ThreePointersAttempted: 3.111202833403195
        GlobalTeamID: 8
        TripleDoubles: 0.4768402382624515
        DateTime: DateTime
        InjuryStatus: InjuryStatus
        Minutes: 4
        TotalReboundsPercentage: 7.835035282970782
        DraftKingsSalary: 3
        Name: Name
        PlusMinus: 9.254183946267839
        Steals: 8.37823741034869
        FreeThrowsAttempted: 0.8774076871421566
        GameID: 7
        OpponentPositionRank: 1
        Updated: Updated
        Position: Position
        ThreePointersPercentage: 5.877124706116695
        FantasyDraftSalary: 3
        FantasyPointsFanDuel: 6.628464275087742
        TwoPointersMade: 0.4833312865174044
        OpponentID: 2
        Assists: 0.8851374739011653
        PersonalFouls: 6.623518433804886
        OffensiveReboundsPercentage: 0.43431398824148815
        StealsPercentage: 7.606863723092579
        FantasyPointsDraftKings: 0.2025324113236393
        Games: 5
        BlockedShots: 6.519180951018382
        StatID: 5
        TrueShootingAttempts: 3.1497903714250555
        BlocksPercentage: 0.10263654006109402
        OffensiveRebounds: 3.901545264248647
        Started: 5
        IsGameOver: true
        DefensiveRebounds: 4.652396432933246
        FantasyPointsYahoo: 1.041444916118296
        IsClosed: true
        OpponentRank: 8
        Rebounds: 3.502657762086401
        DoubleDoubles: 7.740351818741173
        TeamID: 3
        FieldGoalsPercentage: 9.132027271330688
        Turnovers: 8.675064425986758
        YahooSalary: 4
        FantasyDataSalary: 5
        ThreePointersMade: 9.897492629215506
        TwoPointersPercentage: 0.35262192099236644
        Points: 1.8268702177058116
        FieldGoalsAttempted: 4.678947989005849
        DraftKingsPosition: DraftKingsPosition
        FantasyPointsFantasyDraft: 4.258773108174356
        GlobalOpponentID: 6
        Opponent: Opponent
        LineupConfirmed: true
        Team: Team
        Season: 9
        GlobalGameID: 4
        YahooPosition: YahooPosition
        FantasyDraftPosition: FantasyDraftPosition
        FanDuelSalary: 7
        FantasyPoints: 4.078845849666752
        AssistsPercentage: 7.058770351582356
        DefensiveReboundsPercentage: 8.969578798196912
        EffectiveFieldGoalsPercentage: 3.0576100241049344
        TwoPointersAttempted: 4.518309517874243
        InjuryBodyPart: InjuryBodyPart
        HomeOrAway: HomeOrAway
        InjuryNotes: InjuryNotes
        LineupStatus: LineupStatus
        SeasonType: 8
        FreeThrowsMade: 9.702963800023566
        FieldGoalsMade: 7.260521264802104
        UsageRatePercentage: 7.203794749804894
        Seconds: 0
        PlayerEfficiencyRating: 4.573936264232251
        TurnOversPercentage: 3.804112695731078
        Day: Day
        TrueShootingPercentage: 2.380090174313445
      properties:
        Assists:
          nullable: true
          title: Assists
          type: number
        AssistsPercentage:
          nullable: true
          title: AssistsPercentage
          type: number
        BlockedShots:
          nullable: true
          title: BlockedShots
          type: number
        BlocksPercentage:
          nullable: true
          title: BlocksPercentage
          type: number
        DateTime:
          nullable: true
          title: DateTime
          type: string
        Day:
          nullable: true
          title: Day
          type: string
        DefensiveRebounds:
          nullable: true
          title: DefensiveRebounds
          type: number
        DefensiveReboundsPercentage:
          nullable: true
          title: DefensiveReboundsPercentage
          type: number
        DoubleDoubles:
          nullable: true
          title: DoubleDoubles
          type: number
        DraftKingsPosition:
          nullable: true
          title: DraftKingsPosition
          type: string
        DraftKingsSalary:
          nullable: true
          title: DraftKingsSalary
          type: integer
        EffectiveFieldGoalsPercentage:
          nullable: true
          title: EffectiveFieldGoalsPercentage
          type: number
        FanDuelPosition:
          nullable: true
          title: FanDuelPosition
          type: string
        FanDuelSalary:
          nullable: true
          title: FanDuelSalary
          type: integer
        FantasyDataSalary:
          nullable: true
          title: FantasyDataSalary
          type: integer
        FantasyDraftPosition:
          nullable: true
          title: FantasyDraftPosition
          type: string
        FantasyDraftSalary:
          nullable: true
          title: FantasyDraftSalary
          type: integer
        FantasyPoints:
          nullable: true
          title: FantasyPoints
          type: number
        FantasyPointsDraftKings:
          nullable: true
          title: FantasyPointsDraftKings
          type: number
        FantasyPointsFanDuel:
          nullable: true
          title: FantasyPointsFanDuel
          type: number
        FantasyPointsFantasyDraft:
          nullable: true
          title: FantasyPointsFantasyDraft
          type: number
        FantasyPointsYahoo:
          nullable: true
          title: FantasyPointsYahoo
          type: number
        FieldGoalsAttempted:
          nullable: true
          title: FieldGoalsAttempted
          type: number
        FieldGoalsMade:
          nullable: true
          title: FieldGoalsMade
          type: number
        FieldGoalsPercentage:
          nullable: true
          title: FieldGoalsPercentage
          type: number
        FreeThrowsAttempted:
          nullable: true
          title: FreeThrowsAttempted
          type: number
        FreeThrowsMade:
          nullable: true
          title: FreeThrowsMade
          type: number
        FreeThrowsPercentage:
          nullable: true
          title: FreeThrowsPercentage
          type: number
        GameID:
          nullable: true
          title: GameID
          type: integer
        Games:
          nullable: true
          title: Games
          type: integer
        GlobalGameID:
          nullable: true
          title: GlobalGameID
          type: integer
        GlobalOpponentID:
          nullable: true
          title: GlobalOpponentID
          type: integer
        GlobalTeamID:
          nullable: true
          title: GlobalTeamID
          type: integer
        HomeOrAway:
          nullable: true
          title: HomeOrAway
          type: string
        InjuryBodyPart:
          nullable: true
          title: InjuryBodyPart
          type: string
        InjuryNotes:
          nullable: true
          title: InjuryNotes
          type: string
        InjuryStartDate:
          nullable: true
          title: InjuryStartDate
          type: string
        InjuryStatus:
          nullable: true
          title: InjuryStatus
          type: string
        IsClosed:
          nullable: false
          title: IsClosed
          type: boolean
        IsGameOver:
          nullable: false
          title: IsGameOver
          type: boolean
        LineupConfirmed:
          nullable: true
          title: LineupConfirmed
          type: boolean
        LineupStatus:
          nullable: true
          title: LineupStatus
          type: string
        Minutes:
          nullable: true
          title: Minutes
          type: integer
        Name:
          nullable: true
          title: Name
          type: string
        OffensiveRebounds:
          nullable: true
          title: OffensiveRebounds
          type: number
        OffensiveReboundsPercentage:
          nullable: true
          title: OffensiveReboundsPercentage
          type: number
        Opponent:
          nullable: true
          title: Opponent
          type: string
        OpponentID:
          nullable: true
          title: OpponentID
          type: integer
        OpponentPositionRank:
          nullable: true
          title: OpponentPositionRank
          type: integer
        OpponentRank:
          nullable: true
          title: OpponentRank
          type: integer
        PersonalFouls:
          nullable: true
          title: PersonalFouls
          type: number
        PlayerEfficiencyRating:
          nullable: true
          title: PlayerEfficiencyRating
          type: number
        PlayerID:
          nullable: true
          title: PlayerID
          type: integer
        PlusMinus:
          nullable: true
          title: PlusMinus
          type: number
        Points:
          nullable: true
          title: Points
          type: number
        Position:
          nullable: true
          title: Position
          type: string
        Rebounds:
          nullable: true
          title: Rebounds
          type: number
        Season:
          nullable: true
          title: Season
          type: integer
        SeasonType:
          nullable: true
          title: SeasonType
          type: integer
        Seconds:
          nullable: true
          title: Seconds
          type: integer
        Started:
          nullable: true
          title: Started
          type: integer
        StatID:
          nullable: false
          title: StatID
          type: integer
        Steals:
          nullable: true
          title: Steals
          type: number
        StealsPercentage:
          nullable: true
          title: StealsPercentage
          type: number
        Team:
          nullable: true
          title: Team
          type: string
        TeamID:
          nullable: true
          title: TeamID
          type: integer
        ThreePointersAttempted:
          nullable: true
          title: ThreePointersAttempted
          type: number
        ThreePointersMade:
          nullable: true
          title: ThreePointersMade
          type: number
        ThreePointersPercentage:
          nullable: true
          title: ThreePointersPercentage
          type: number
        TotalReboundsPercentage:
          nullable: true
          title: TotalReboundsPercentage
          type: number
        TripleDoubles:
          nullable: true
          title: TripleDoubles
          type: number
        TrueShootingAttempts:
          nullable: true
          title: TrueShootingAttempts
          type: number
        TrueShootingPercentage:
          nullable: true
          title: TrueShootingPercentage
          type: number
        TurnOversPercentage:
          nullable: true
          title: TurnOversPercentage
          type: number
        Turnovers:
          nullable: true
          title: Turnovers
          type: number
        TwoPointersAttempted:
          nullable: true
          title: TwoPointersAttempted
          type: number
        TwoPointersMade:
          nullable: true
          title: TwoPointersMade
          type: number
        TwoPointersPercentage:
          nullable: true
          title: TwoPointersPercentage
          type: number
        Updated:
          nullable: true
          title: Updated
          type: string
        UsageRatePercentage:
          nullable: true
          title: UsageRatePercentage
          type: number
        YahooPosition:
          nullable: true
          title: YahooPosition
          type: string
        YahooSalary:
          nullable: true
          title: YahooSalary
          type: integer
      title: PlayerGame
    PlayerInfo:
      example:
        PlayerID: 0
        Position: Position
        Team: Team
        TeamID: 6
        Name: Name
      properties:
        Name:
          nullable: true
          title: Name
          type: string
        PlayerID:
          nullable: false
          title: PlayerID
          type: integer
        Position:
          nullable: true
          title: Position
          type: string
        Team:
          nullable: true
          title: Team
          type: string
        TeamID:
          nullable: true
          title: TeamID
          type: integer
      title: PlayerInfo
    PlayerSeason:
      example:
        PlayerID: 3
        FreeThrowsPercentage: 4.965218492984954
        ThreePointersAttempted: 7.058770351582356
        GlobalTeamID: 9
        TripleDoubles: 8.969578798196912
        Minutes: 9
        TotalReboundsPercentage: 4.652396432933246
        Name: Name
        PlusMinus: 6.965117697638846
        Steals: 3.0937452626664474
        FreeThrowsAttempted: 7.457744773683766
        Updated: Updated
        Position: Position
        ThreePointersPercentage: 0.10263654006109402
        FantasyPointsFanDuel: 4.145608029883936
        TwoPointersMade: 3.2588565619047607
        Assists: 0.8008281904610115
        PersonalFouls: 9.018348186070783
        OffensiveReboundsPercentage: 8.762042012749001
        StealsPercentage: 7.143538047012306
        FantasyPointsDraftKings: 2.027123023002322
        Games: 5
        BlockedShots: 1.4658129805029452
        StatID: 3
        TrueShootingAttempts: 7.740351818741173
        BlocksPercentage: 5.962133916683182
        OffensiveRebounds: 6.683562403749608
        Started: 6
        DefensiveRebounds: 5.637376656633329
        FantasyPointsYahoo: 1.2315135367772556
        IsClosed: true
        Rebounds: 2.8841621266687802
        DoubleDoubles: 7.061401241503109
        TeamID: 0
        FieldGoalsPercentage: 6.84685269835264
        Turnovers: 7.04836565559697
        ThreePointersMade: 6.519180951018382
        TwoPointersPercentage: 4.078845849666752
        Points: 1.284659006116532
        FieldGoalsAttempted: 1.0246457001441578
        FantasyPointsFantasyDraft: 7.386281948385884
        LineupConfirmed: true
        Team: Team
        Season: 6
        FantasyPoints: 3.616076749251911
        AssistsPercentage: 6.027456183070403
        DefensiveReboundsPercentage: 2.3021358869347655
        EffectiveFieldGoalsPercentage: 9.301444243932576
        TwoPointersAttempted: 5.533258397034986
        LineupStatus: LineupStatus
        SeasonType: 6
        FreeThrowsMade: 1.1730742509559433
        FieldGoalsMade: 1.4894159098541704
        UsageRatePercentage: 0.2025324113236393
        Seconds: 5
        PlayerEfficiencyRating: 6.438423552598547
        TurnOversPercentage: 3.0576100241049344
        TrueShootingPercentage: 3.0205796992916243
      properties:
        Assists:
          nullable: true
          title: Assists
          type: number
        AssistsPercentage:
          nullable: true
          title: AssistsPercentage
          type: number
        BlockedShots:
          nullable: true
          title: BlockedShots
          type: number
        BlocksPercentage:
          nullable: true
          title: BlocksPercentage
          type: number
        DefensiveRebounds:
          nullable: true
          title: DefensiveRebounds
          type: number
        DefensiveReboundsPercentage:
          nullable: true
          title: DefensiveReboundsPercentage
          type: number
        DoubleDoubles:
          nullable: true
          title: DoubleDoubles
          type: number
        EffectiveFieldGoalsPercentage:
          nullable: true
          title: EffectiveFieldGoalsPercentage
          type: number
        FantasyPoints:
          nullable: true
          title: FantasyPoints
          type: number
        FantasyPointsDraftKings:
          nullable: true
          title: FantasyPointsDraftKings
          type: number
        FantasyPointsFanDuel:
          nullable: true
          title: FantasyPointsFanDuel
          type: number
        FantasyPointsFantasyDraft:
          nullable: true
          title: FantasyPointsFantasyDraft
          type: number
        FantasyPointsYahoo:
          nullable: true
          title: FantasyPointsYahoo
          type: number
        FieldGoalsAttempted:
          nullable: true
          title: FieldGoalsAttempted
          type: number
        FieldGoalsMade:
          nullable: true
          title: FieldGoalsMade
          type: number
        FieldGoalsPercentage:
          nullable: true
          title: FieldGoalsPercentage
          type: number
        FreeThrowsAttempted:
          nullable: true
          title: FreeThrowsAttempted
          type: number
        FreeThrowsMade:
          nullable: true
          title: FreeThrowsMade
          type: number
        FreeThrowsPercentage:
          nullable: true
          title: FreeThrowsPercentage
          type: number
        Games:
          nullable: true
          title: Games
          type: integer
        GlobalTeamID:
          nullable: true
          title: GlobalTeamID
          type: integer
        IsClosed:
          nullable: false
          title: IsClosed
          type: boolean
        LineupConfirmed:
          nullable: true
          title: LineupConfirmed
          type: boolean
        LineupStatus:
          nullable: true
          title: LineupStatus
          type: string
        Minutes:
          nullable: true
          title: Minutes
          type: integer
        Name:
          nullable: true
          title: Name
          type: string
        OffensiveRebounds:
          nullable: true
          title: OffensiveRebounds
          type: number
        OffensiveReboundsPercentage:
          nullable: true
          title: OffensiveReboundsPercentage
          type: number
        PersonalFouls:
          nullable: true
          title: PersonalFouls
          type: number
        PlayerEfficiencyRating:
          nullable: true
          title: PlayerEfficiencyRating
          type: number
        PlayerID:
          nullable: true
          title: PlayerID
          type: integer
        PlusMinus:
          nullable: true
          title: PlusMinus
          type: number
        Points:
          nullable: true
          title: Points
          type: number
        Position:
          nullable: true
          title: Position
          type: string
        Rebounds:
          nullable: true
          title: Rebounds
          type: number
        Season:
          nullable: true
          title: Season
          type: integer
        SeasonType:
          nullable: true
          title: SeasonType
          type: integer
        Seconds:
          nullable: true
          title: Seconds
          type: integer
        Started:
          nullable: true
          title: Started
          type: integer
        StatID:
          nullable: false
          title: StatID
          type: integer
        Steals:
          nullable: true
          title: Steals
          type: number
        StealsPercentage:
          nullable: true
          title: StealsPercentage
          type: number
        Team:
          nullable: true
          title: Team
          type: string
        TeamID:
          nullable: true
          title: TeamID
          type: integer
        ThreePointersAttempted:
          nullable: true
          title: ThreePointersAttempted
[...]
