openapi: 3.0.1
info:
  title: ' API Client'
  version: 2018-02-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/web/resource-manager/Microsoft.Web/stable/2018-02-01/ResourceProvider.json
    version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: web-ResourceProvider
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.Web/publishingUsers/web:
    get:
      description: Gets publishing user
      operationId: get_publishing_user
      parameters:
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPublishingUser_200_response'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPublishingUser_default_response'
          description: App Service error response.
      summary: Gets publishing user
      x-openapi-router-controller: openapi_server.controllers.default_controller
    put:
      description: Updates publishing user
      operationId: update_publishing_user
      parameters:
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetPublishingUser_200_response'
        description: Details of publishing user
        required: true
        x-body-name: userDetails
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPublishingUser_200_response'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPublishingUser_default_response'
          description: App Service error response.
      summary: Updates publishing user
      x-codegen-request-body-name: userDetails
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /providers/Microsoft.Web/sourcecontrols:
    get:
      description: Gets the source controls available for Azure websites.
      operationId: list_source_controls
      parameters:
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SourceControlCollection'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPublishingUser_default_response'
          description: App Service error response.
      summary: Gets the source controls available for Azure websites.
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /providers/Microsoft.Web/sourcecontrols/{sourceControlType}:
    get:
      description: Gets source control token
      operationId: get_source_control
      parameters:
      - description: Type of source control
        in: path
        name: sourceControlType
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SourceControl'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPublishingUser_default_response'
          description: App Service error response.
      summary: Gets source control token
      x-openapi-router-controller: openapi_server.controllers.default_controller
    put:
      description: Updates source control token
      operationId: update_source_control
      parameters:
      - description: Type of source control
        in: path
        name: sourceControlType
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SourceControl'
        description: Source control token information
        required: true
        x-body-name: requestMessage
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SourceControl'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPublishingUser_default_response'
          description: App Service error response.
      summary: Updates source control token
      x-codegen-request-body-name: requestMessage
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Web/billingMeters:
    get:
      description: Gets a list of meters for a given location.
      operationId: list_billing_meters
      parameters:
      - description: Azure Location of billable resource
        in: query
        name: billingLocation
        schema:
          type: string
      - description: App Service OS type meters used for
        in: query
        name: osType
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingMeterCollection'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPublishingUser_default_response'
          description: App Service error response.
      summary: Gets a list of meters for a given location.
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Web/checknameavailability:
    post:
      description: Check if a resource name is available.
      operationId: check_name_availability
      parameters:
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceNameAvailabilityRequest'
        description: Name availability request.
        required: true
        x-ms-client-flatten: true
        x-body-name: request
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNameAvailability'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPublishingUser_default_response'
          description: App Service error response.
      summary: Check if a resource name is available.
      x-codegen-request-body-name: request
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Web/deploymentLocations:
    get:
      description: Gets list of available geo regions plus ministamps
      operationId: get_subscription_deployment_locations
      parameters:
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentLocations'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPublishingUser_default_response'
          description: App Service error response.
      summary: Gets list of available geo regions plus ministamps
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Web/geoRegions:
    get:
      description: Get a list of available geographical regions.
      operationId: list_geo_regions
      parameters:
      - description: Name of SKU used to filter the regions.
        in: query
        name: sku
        schema:
          enum:
          - Free
          - Shared
          - Basic
          - Standard
          - Premium
          - Dynamic
          - Isolated
          - PremiumV2
          - ElasticPremium
          - ElasticIsolated
          type: string
          x-ms-enum:
            modelAsString: true
            name: SkuName
        x-ms-enum:
          modelAsString: true
          name: SkuName
      - description: Specify <code>true</code> if you want to filter to only regions
          that support Linux workers.
        in: query
        name: linuxWorkersEnabled
        schema:
          type: boolean
      - description: Specify <code>true</code> if you want to filter to only regions
          that support Xenon workers.
        in: query
        name: xenonWorkersEnabled
        schema:
          type: boolean
      - description: Specify <code>true</code> if you want to filter to only regions
          that support Linux Consumption Workers.
        in: query
        name: linuxDynamicWorkersEnabled
        schema:
          type: boolean
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeoRegionCollection'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPublishingUser_default_response'
          description: App Service error response.
      summary: Get a list of available geographical regions.
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Web/listSitesAssignedToHostName:
    post:
      description: List all apps that are assigned to a hostname.
      operationId: list_site_identifiers_assigned_to_host_name
      parameters:
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListSiteIdentifiersAssignedToHostName_request'
        description: Hostname information.
        required: true
        x-body-name: nameIdentifier
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSiteIdentifiersAssignedToHostName_200_response'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPublishingUser_default_response'
          description: App Service error response.
      summary: List all apps that are assigned to a hostname.
      x-ms-pageable:
        nextLinkName: nextLink
      x-codegen-request-body-name: nameIdentifier
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Web/premieraddonoffers:
    get:
      description: List all premier add-on offers.
      operationId: list_premier_add_on_offers
      parameters:
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PremierAddOnOfferCollection'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPublishingUser_default_response'
          description: App Service error response.
      summary: List all premier add-on offers.
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Web/skus:
    get:
      description: List all SKUs.
      operationId: list_skus
      parameters:
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SkuInfos'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPublishingUser_default_response'
          description: App Service error response.
      summary: List all SKUs.
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Web/verifyHostingEnvironmentVnet:
    post:
      description: Verifies if this VNET is compatible with an App Service Environment
        by analyzing the Network Security Group rules.
      operationId: verify_hosting_environment_vnet
      parameters:
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VnetParameters'
        description: VNET information
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VnetValidationFailureDetails'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPublishingUser_default_response'
          description: App Service error response.
      summary: Verifies if this VNET is compatible with an App Service Environment
        by analyzing the Network Security Group rules.
      x-ms-examples:
        VerifyHostingEnvironmentVnet:
          parameters:
            api-version: 2018-02-01
            parameters:
              properties:
                vnetName: vNet123
                vnetResourceGroup: vNet123rg
                vnetSubnetName: vNet123SubNet
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/providers/Microsoft.Web/verifyHostingEnvironmentVnet
                properties:
                  failed: false
                  failedTests: []
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/moveResources:
    post:
      description: Move resources between resource groups.
      operationId: move
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CsmMoveResourceEnvelope'
        description: Object that represents the resource to move.
        required: true
        x-body-name: moveResourceEnvelope
      responses:
        "204":
          content: {}
          description: No Content
      summary: Move resources between resource groups.
      x-codegen-request-body-name: moveResourceEnvelope
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/validate:
    post:
      description: Validate if a resource can be created.
      operationId: validate
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidateRequest'
        description: Request with the resources to validate.
        required: true
        x-body-name: validateRequest
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateResponse'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPublishingUser_default_response'
          description: App Service error response.
      summary: Validate if a resource can be created.
      x-codegen-request-body-name: validateRequest
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/validateContainerSettings:
    post:
      description: Validate if the container settings are correct.
      operationId: validate_container_settings
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidateContainerSettingsRequest'
        required: true
        x-body-name: validateContainerSettingsRequest
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPublishingUser_default_response'
          description: App Service error response.
      summary: Validate if the container settings are correct.
      x-codegen-request-body-name: validateContainerSettingsRequest
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/validateMoveResources:
    post:
      description: Validate whether a resource can be moved.
      operationId: validate_move
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CsmMoveResourceEnvelope'
        description: Object that represents the resource to move.
        required: true
        x-body-name: moveResourceEnvelope
      responses:
        "204":
          content: {}
          description: No Content
      summary: Validate whether a resource can be moved.
      x-codegen-request-body-name: moveResourceEnvelope
      x-openapi-router-controller: openapi_server.controllers.default_controller
components:
  parameters:
    apiVersionParameter:
      description: API Version
      in: query
      name: api-version
      required: true
      schema:
        type: string
    resourceGroupNameParameter:
      description: Name of the resource group to which the resource belongs.
      in: path
      name: resourceGroupName
      required: true
      schema:
        maxLength: 90
        minLength: 1
        pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    subscriptionIdParameter:
      description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
        00000000-0000-0000-0000-000000000000).
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    BillingMeter:
      allOf:
      - description: Azure proxy only resource. This resource is not tracked by Azure
          Resource Manager.
        properties:
          id:
            description: Resource Id.
            readOnly: true
            type: string
          kind:
            description: Kind of resource.
            type: string
          name:
            description: Resource Name.
            readOnly: true
            type: string
          type:
            description: Resource type.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: App Service billing entity that contains information about meter
        which the Azure billing system utilizes to charge users for services.
      example:
        properties: "{}"
      properties:
        properties:
          description: BillingMeter resource specific properties
          properties:
            billingLocation:
              description: Azure Location of billable resource
              title: billingLocation
              type: string
            friendlyName:
              description: Friendly name of the meter
              title: friendlyName
              type: string
            meterId:
              description: Meter GUID onboarded in Commerce
              title: meterId
              type: string
            osType:
              description: App Service OS type meter used for
              title: osType
              type: string
            resourceType:
              description: App Service ResourceType meter used for
              title: resourceType
              type: string
            shortName:
              description: Short Name from App Service Azure pricing Page
              title: shortName
              type: string
          title: properties
          type: object
          x-ms-client-flatten: true
      title: BillingMeter
    BillingMeterCollection:
      description: Collection of Billing Meters
      example:
        value:
        - properties: "{}"
        - properties: "{}"
        nextLink: nextLink
      properties:
        nextLink:
          description: Link to next page of resources.
          readOnly: true
          title: nextLink
          type: string
        value:
          description: Collection of resources.
          items:
            $ref: '#/components/schemas/BillingMeter'
          title: value
          type: array
      required:
      - value
      title: BillingMeterCollection
      type: object
    CsmMoveResourceEnvelope:
      description: Object with a list of the resources that need to be moved and the
        resource group they should be moved to.
      example:
        targetResourceGroup: targetResourceGroup
        resources:
        - resources
        - resources
      properties:
        resources:
          items:
            type: string
          title: resources
          type: array
        targetResourceGroup:
          maxLength: 90
          minLength: 1
          pattern: " ^[-\\w\\._\\(\\)]+[^\\.]$"
          title: targetResourceGroup
          type: string
      title: CsmMoveResourceEnvelope
      type: object
    DeploymentLocations:
      description: |-
        List of available locations (regions or App Service Environments) for
        deployment of App Service resources.
      example:
        hostingEnvironmentDeploymentInfos:
        - name: name
          location: location
        - name: name
          location: location
        hostingEnvironments:
        - defaultFrontEndScaleFactor: 0
          resourceGroup: resourceGroup
          vipMappings:
          - internalHttpsPort: 7
            inUse: true
            internalHttpPort: 4
            virtualIP: virtualIP
          - internalHttpsPort: 7
            inUse: true
            internalHttpPort: 4
            virtualIP: virtualIP
          maximumNumberOfMachines: 7
          vnetName: vnetName
          hasLinuxWorkers: true
          workerPools:
          - workerCount: 1
            instanceNames:
            - instanceNames
            - instanceNames
            computeMode: Shared
            workerSizeId: 1
            workerSize: workerSize
          - workerCount: 1
            instanceNames:
            - instanceNames
            - instanceNames
            computeMode: Shared
            workerSizeId: 1
            workerSize: workerSize
          databaseEdition: databaseEdition
          environmentCapacities:
          - availableCapacity: 6
            isLinux: true
            siteMode: siteMode
            unit: unit
            excludeFromCapacityAllocation: true
            computeMode: Shared
            totalCapacity: 1
            workerSizeId: 5
            name: name
            workerSize: Small
            isApplicableForAllComputeModes: true
          - availableCapacity: 6
            isLinux: true
            siteMode: siteMode
            unit: unit
            excludeFromCapacityAllocation: true
            computeMode: Shared
            totalCapacity: 1
            workerSizeId: 5
            name: name
            workerSize: Small
            isApplicableForAllComputeModes: true
          lastAction: lastAction
          multiSize: multiSize
          ipsslAddressCount: 2
          upgradeDomains: 2
          vnetResourceGroupName: vnetResourceGroupName
          vnetSubnetName: vnetSubnetName
          environmentIsHealthy: true
          environmentStatus: environmentStatus
          userWhitelistedIpRanges:
          - userWhitelistedIpRanges
          - userWhitelistedIpRanges
          internalLoadBalancingMode: None
          sslCertKeyVaultSecretName: sslCertKeyVaultSecretName
          networkAccessControlList:
          - remoteSubnet: remoteSubnet
            action: Permit
            description: description
            order: 3
          - remoteSubnet: remoteSubnet
            action: Permit
            description: description
            order: 3
          databaseServiceObjective: databaseServiceObjective
          apiManagementAccountId: apiManagementAccountId
          provisioningState: Succeeded
          sslCertKeyVaultId: sslCertKeyVaultId
          suspended: true
          multiRoleCount: 9
          virtualNetwork:
            subnet: subnet
            name: name
            id: id
            type: type
          dynamicCacheEnabled: true
          allowedMultiSizes: allowedMultiSizes
          clusterSettings:
          - name: name
            value: value
          - name: name
            value: value
          dnsSuffix: dnsSuffix
          allowedWorkerSizes: allowedWorkerSizes
          name: name
          location: location
          frontEndScaleFactor: 5
          subscriptionId: subscriptionId
          lastActionResult: lastActionResult
          status: Preparing
        - defaultFrontEndScaleFactor: 0
          resourceGroup: resourceGroup
          vipMappings:
          - internalHttpsPort: 7
            inUse: true
            internalHttpPort: 4
            virtualIP: virtualIP
          - internalHttpsPort: 7
            inUse: true
            internalHttpPort: 4
            virtualIP: virtualIP
          maximumNumberOfMachines: 7
          vnetName: vnetName
          hasLinuxWorkers: true
          workerPools:
          - workerCount: 1
            instanceNames:
            - instanceNames
            - instanceNames
            computeMode: Shared
            workerSizeId: 1
            workerSize: workerSize
          - workerCount: 1
            instanceNames:
            - instanceNames
            - instanceNames
            computeMode: Shared
            workerSizeId: 1
            workerSize: workerSize
          databaseEdition: databaseEdition
          environmentCapacities:
          - availableCapacity: 6
            isLinux: true
            siteMode: siteMode
            unit: unit
            excludeFromCapacityAllocation: true
            computeMode: Shared
            totalCapacity: 1
            workerSizeId: 5
            name: name
            workerSize: Small
            isApplicableForAllComputeModes: true
          - availableCapacity: 6
            isLinux: true
            siteMode: siteMode
            unit: unit
            excludeFromCapacityAllocation: true
            computeMode: Shared
            totalCapacity: 1
            workerSizeId: 5
            name: name
            workerSize: Small
            isApplicableForAllComputeModes: true
          lastAction: lastAction
          multiSize: multiSize
          ipsslAddressCount: 2
          upgradeDomains: 2
          vnetResourceGroupName: vnetResourceGroupName
          vnetSubnetName: vnetSubnetName
          environmentIsHealthy: true
          environmentStatus: environmentStatus
          userWhitelistedIpRanges:
          - userWhitelistedIpRanges
          - userWhitelistedIpRanges
          internalLoadBalancingMode: None
          sslCertKeyVaultSecretName: sslCertKeyVaultSecretName
          networkAccessControlList:
          - remoteSubnet: remoteSubnet
            action: Permit
            description: description
            order: 3
          - remoteSubnet: remoteSubnet
            action: Permit
            description: description
            order: 3
          databaseServiceObjective: databaseServiceObjective
          apiManagementAccountId: apiManagementAccountId
          provisioningState: Succeeded
          sslCertKeyVaultId: sslCertKeyVaultId
          suspended: true
          multiRoleCount: 9
          virtualNetwork:
            subnet: subnet
            name: name
            id: id
            type: type
          dynamicCacheEnabled: true
          allowedMultiSizes: allowedMultiSizes
          clusterSettings:
          - name: name
            value: value
          - name: name
            value: value
          dnsSuffix: dnsSuffix
          allowedWorkerSizes: allowedWorkerSizes
          name: name
          location: location
          frontEndScaleFactor: 5
          subscriptionId: subscriptionId
          lastActionResult: lastActionResult
          status: Preparing
        locations:
        - properties: "{}"
        - properties: "{}"
      properties:
        hostingEnvironmentDeploymentInfos:
          description: Available App Service Environments with basic information.
          items:
            $ref: '#/components/schemas/HostingEnvironmentDeploymentInfo'
          title: hostingEnvironmentDeploymentInfos
          type: array
        hostingEnvironments:
          description: Available App Service Environments with full descriptions of
            the environments.
          items:
            $ref: '#/components/schemas/DeploymentLocations_hostingEnvironments_inner'
          title: hostingEnvironments
          type: array
        locations:
          description: Available regions.
          items:
            $ref: '#/components/schemas/GeoRegion'
          title: locations
          type: array
      title: DeploymentLocations
      type: object
    GeoRegion:
      allOf:
      - description: Azure proxy only resource. This resource is not tracked by Azure
          Resource Manager.
        properties:
          id:
            description: Resource Id.
            readOnly: true
            type: string
          kind:
            description: Kind of resource.
            type: string
          name:
            description: Resource Name.
            readOnly: true
            type: string
          type:
            description: Resource type.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: Geographical region.
      example:
        properties: "{}"
      properties:
        properties:
          description: GeoRegion resource specific properties
          properties:
            description:
              description: Region description.
              readOnly: true
              title: description
              type: string
            displayName:
              description: Display name for region.
              readOnly: true
              title: displayName
              type: string
          title: properties
          type: object
          x-ms-client-flatten: true
      title: GeoRegion
    GeoRegionCollection:
      description: Collection of geographical regions.
      example:
        value:
        - properties: "{}"
        - properties: "{}"
        nextLink: nextLink
      properties:
        nextLink:
          description: Link to next page of resources.
          readOnly: true
          title: nextLink
          type: string
        value:
          description: Collection of resources.
          items:
            $ref: '#/components/schemas/GeoRegion'
          title: value
          type: array
      required:
      - value
      title: GeoRegionCollection
      type: object
    GlobalCsmSkuDescription:
      description: A Global SKU Description.
      example:
        capabilities:
        - reason: reason
          name: name
          value: value
        - reason: reason
          name: name
          value: value
        size: size
        tier: tier
        name: name
        locations:
        - locations
        - locations
        family: family
        capacity:
          default: 0
          scaleType: scaleType
          maximum: 6
          minimum: 1
      properties:
        capabilities:
          description: "Capabilities of the SKU, e.g., is traffic manager enabled?"
          items:
            $ref: '#/components/schemas/GlobalCsmSkuDescription_capabilities_inner'
          title: capabilities
          type: array
        capacity:
          $ref: '#/components/schemas/GlobalCsmSkuDescription_capacity'
        family:
          description: Family code of the resource SKU.
          title: family
          type: string
        locations:
          description: Locations of the SKU.
          items:
            type: string
          title: locations
          type: array
        name:
          description: Name of the resource SKU.
          title: name
          type: string
        size:
          description: Size specifier of the resource SKU.
          title: size
          type: string
        tier:
          description: Service Tier of the resource SKU.
          title: tier
          type: string
      title: GlobalCsmSkuDescription
      type: object
    HostingEnvironmentDeploymentInfo:
      description: Information needed to create resources on an App Service Environment.
      example:
        name: name
        location: location
      properties:
        location:
          description: Location of the App Service Environment.
          title: location
          type: string
        name:
          description: Name of the App Service Environment.
          title: name
          type: string
      title: HostingEnvironmentDeploymentInfo
      type: object
    PremierAddOnOffer:
      allOf:
      - description: Azure proxy only resource. This resource is not tracked by Azure
          Resource Manager.
        properties:
          id:
            description: Resource Id.
            readOnly: true
            type: string
          kind:
            description: Kind of resource.
            type: string
          name:
            description: Resource Name.
            readOnly: true
            type: string
          type:
            description: Resource type.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: Premier add-on offer.
      example:
        properties: "{}"
      properties:
        properties:
          description: PremierAddOnOffer resource specific properties
          properties:
            legalTermsUrl:
              description: Legal terms URL.
              title: legalTermsUrl
              type: string
            marketplaceOffer:
              description: Marketplace offer.
              title: marketplaceOffer
              type: string
            marketplacePublisher:
              description: Marketplace publisher.
              title: marketplacePublisher
              type: string
            privacyPolicyUrl:
              description: Privacy policy URL.
              title: privacyPolicyUrl
              type: string
            product:
              description: Premier add on offer Product.
              title: product
              type: string
            promoCodeRequired:
              description: "<code>true</code> if promotion code is required; otherwise,\
                \ <code>false</code>."
              title: promoCodeRequired
              type: boolean
            quota:
              description: Premier add on offer Quota.
              format: int32
              title: quota
              type: integer
            sku:
              description: Premier add on SKU.
              title: sku
              type: string
            vendor:
              description: Premier add on offer Vendor.
              title: vendor
              type: string
            webHostingPlanRestrictions:
              description: App Service plans this offer is restricted to.
              enum:
              - None
              - Free
              - Shared
              - Basic
              - Standard
              - Premium
              title: webHostingPlanRestrictions
              type: string
              x-ms-enum:
                modelAsString: false
                name: AppServicePlanRestrictions
          title: properties
          type: object
          x-ms-client-flatten: true
      title: PremierAddOnOffer
    PremierAddOnOfferCollection:
      description: Collection of premier add-on offers.
      example:
        value:
        - properties: "{}"
        - properties: "{}"
        nextLink: nextLink
      properties:
        nextLink:
          description: Link to next page of resources.
          readOnly: true
          title: nextLink
          type: string
        value:
          description: Collection of resources.
          items:
            $ref: '#/components/schemas/PremierAddOnOffer'
          title: value
          type: array
      required:
      - value
      title: PremierAddOnOfferCollection
      type: object
    ResourceNameAvailability:
      description: Information regarding availability of a resource name.
      example:
        reason: Invalid
        nameAvailable: true
        message: message
      properties:
        message:
          description: "If reason == invalid, provide the user with the reason why\
            \ the given name is invalid, and provide the resource naming requirements\
            \ so that the user can select a valid name. If reason == AlreadyExists,\
            \ explain that resource name is already in use, and direct them to select\
            \ a different name."
          title: message
          type: string
        nameAvailable:
          description: "<code>true</code> indicates name is valid and available. <code>false</code>\
            \ indicates the name is invalid, unavailable, or both."
          title: nameAvailable
          type: boolean
        reason:
          description: <code>Invalid</code> indicates the name provided does not match
            Azure App Service naming requirements. <code>AlreadyExists</code> indicates
            that the name is already in use and is therefore unavailable.
          enum:
          - Invalid
          - AlreadyExists
          title: reason
          type: string
          x-ms-enum:
            modelAsString: true
            name: InAvailabilityReasonType
      title: ResourceNameAvailability
      type: object
    ResourceNameAvailabilityRequest:
      description: Resource name availability request content.
      example:
        name: name
        type: Site
        isFqdn: true
      properties:
        isFqdn:
          description: Is fully qualified domain name.
          title: isFqdn
          type: boolean
        name:
          description: Resource name to verify.
          title: name
          type: string
        type:
          description: Resource type used for verification.
          enum:
          - Site
          - Slot
          - HostingEnvironment
          - PublishingUser
          - Microsoft.Web/sites
          - Microsoft.Web/sites/slots
          - Microsoft.Web/hostingEnvironments
          - Microsoft.Web/publishingUsers
          title: type
          type: string
          x-ms-enum:
            modelAsString: true
            name: CheckNameResourceTypes
      required:
      - name
      - type
      title: ResourceNameAvailabilityRequest
      type: object
    SkuInfos:
      description: Collection of SKU information.
      example:
        skus:
        - capabilities:
          - reason: reason
            name: name
            value: value
          - reason: reason
            name: name
            value: value
          size: size
          tier: tier
          name: name
          locations:
          - locations
          - locations
          family: family
          capacity:
            default: 0
            scaleType: scaleType
            maximum: 6
            minimum: 1
        - capabilities:
          - reason: reason
            name: name
            value: value
          - reason: reason
            name: name
            value: value
          size: size
          tier: tier
          name: name
          locations:
          - locations
          - locations
          family: family
          capacity:
            default: 0
            scaleType: scaleType
            maximum: 6
            minimum: 1
        resourceType: resourceType
      properties:
        resourceType:
          description: Resource type that this SKU applies to.
          title: resourceType
          type: string
        skus:
          description: List of SKUs the subscription is able to use.
          items:
            $ref: '#/components/schemas/GlobalCsmSkuDescription'
          title: skus
          type: array
      title: SkuInfos
      type: object
    SourceControl:
      allOf:
      - description: Azure proxy only resource. This resource is not tracked by Azure
          Resource Manager.
        properties:
          id:
            description: Resource Id.
            readOnly: true
            type: string
          kind:
            description: Kind of resource.
            type: string
          name:
            description: Resource Name.
            readOnly: true
            type: string
          type:
            description: Resource type.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: The source control OAuth token.
      example:
        properties: "{}"
      properties:
        properties:
          description: SourceControl resource specific properties
          properties:
            expirationTime:
              description: OAuth token expiration.
              format: date-time
              title: expirationTime
              type: string
            refreshToken:
              description: OAuth refresh token.
              title: refreshToken
              type: string
            token:
              description: OAuth access token.
              title: token
              type: string
            tokenSecret:
              description: OAuth access token secret.
              title: tokenSecret
              type: string
          title: properties
          type: object
          x-ms-client-flatten: true
      title: SourceControl
    SourceControlCollection:
      description: Collection of source controls.
      example:
        value:
        - properties: "{}"
        - properties: "{}"
        nextLink: nextLink
      properties:
        nextLink:
          description: Link to next page of resources.
          readOnly: true
          title: nextLink
          type: string
        value:
          description: Collection of resources.
          items:
            $ref: '#/components/schemas/SourceControl'
          title: value
          type: array
      required:
      - value
      title: SourceControlCollection
      type: object
    ValidateContainerSettingsRequest:
      description: Container settings validation request context
      example:
        baseUrl: baseUrl
        password: password
        tag: tag
        repository: repository
        platform: platform
        username: username
      properties:
        baseUrl:
          description: Base URL of the container registry
          title: baseUrl
          type: string
        password:
          description: Password for to access the container registry
          title: password
          type: string
        platform:
          description: Platform (windows or linux)
          title: platform
          type: string
        repository:
          description: Repository name (image name)
          title: repository
          type: string
        tag:
          description: Image tag
          title: tag
          type: string
        username:
          description: Username for to access the container registry
          title: username
          type: string
      title: ValidateContainerSettingsRequest
      type: object
    ValidateProperties:
      description: App properties used for validation.
      example:
        serverFarmId: serverFarmId
        skuName: skuName
        isSpot: true
        isXenon: true
        needLinuxWorkers: true
        capacity: 1
        hostingEnvironment: hostingEnvironment
      properties:
        capacity:
          description: Target capacity of the App Service plan (number of VMs).
          format: int32
          minimum: 1
          title: capacity
          type: integer
        hostingEnvironment:
          description: Name of App Service Environment where app or App Service plan
            should be created.
          title: hostingEnvironment
          type: string
        isSpot:
          description: "<code>true</code> if App Service plan is for Spot instances;\
            \ otherwise, <code>false</code>."
          title: isSpot
          type: boolean
        isXenon:
          description: <code>true</code> if App Service plan is running as a windows
            container
          title: isXenon
          type: boolean
        needLinuxWorkers:
          description: "<code>true</code> if App Service plan is for Linux workers;\
            \ otherwise, <code>false</code>."
          title: needLinuxWorkers
          type: boolean
        serverFarmId:
          description: ARM resource ID of an App Service plan that would host the
            app.
          title: serverFarmId
          type: string
        skuName:
          description: Name of the target SKU for the App Service plan.
          title: skuName
          type: string
      title: ValidateProperties
      type: object
    ValidateRequest:
      description: Resource validation request content.
      example:
        name: name
        location: location
        type: ServerFarm
        properties:
          serverFarmId: serverFarmId
          skuName: skuName
          isSpot: true
          isXenon: true
          needLinuxWorkers: true
          capacity: 1
          hostingEnvironment: hostingEnvironment
      properties:
        location:
          description: Expected location of the resource.
          title: location
          type: string
        name:
          description: Resource name to verify.
          title: name
          type: string
        properties:
          $ref: '#/components/schemas/ValidateProperties'
        type:
          description: Resource type used for verification.
          enum:
          - ServerFarm
          - Site
          title: type
          type: string
          x-ms-enum:
            modelAsString: true
            name: ValidateResourceTypes
      required:
      - location
      - name
      - properties
      - type
      title: ValidateRequest
      type: object
    ValidateResponse:
      description: Describes the result of resource validation.
      example:
        error:
          code: code
          message: message
        status: status
      properties:
        error:
          $ref: '#/components/schemas/ValidateResponseError'
        status:
          description: Result of validation.
          title: status
          type: string
      title: ValidateResponse
      type: object
    ValidateResponseError:
      description: Error details for when validation fails.
      example:
        code: code
        message: message
      properties:
        code:
          description: Validation error code.
          title: code
          type: string
        message:
          description: Validation error message.
          title: message
          type: string
      title: ValidateResponseError
      type: object
    VnetParameters:
      allOf:
      - description: Azure proxy only resource. This resource is not tracked by Azure
          Resource Manager.
        properties:
          id:
            description: Resource Id.
            readOnly: true
            type: string
          kind:
            description: Kind of resource.
            type: string
          name:
            description: Resource Name.
            readOnly: true
            type: string
          type:
            description: Resource type.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: The required set of inputs to validate a VNET
      example:
        properties: "{}"
      properties:
        properties:
          description: VnetParameters resource specific properties
          properties:
            vnetName:
              description: The name of the VNET to be validated
              title: vnetName
              type: string
            vnetResourceGroup:
              description: The Resource Group of the VNET to be validated
              title: vnetResourceGroup
              type: string
            vnetSubnetName:
              description: The subnet name to be validated
              title: vnetSubnetName
              type: string
          title: properties
          type: object
          x-ms-client-flatten: true
      title: VnetParameters
    VnetValidationFailureDetails:
      allOf:
      - description: Azure proxy only resource. This resource is not tracked by Azure
          Resource Manager.
        properties:
          id:
            description: Resource Id.
            readOnly: true
            type: string
          kind:
            description: Kind of resource.
            type: string
          name:
            description: Resource Name.
            readOnly: true
            type: string
          type:
            description: Resource type.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: A class that describes the reason for a validation failure.
      example:
        properties: "{}"
      properties:
        properties:
          description: VnetValidationFailureDetails resource specific properties
          properties:
            failed:
              description: A flag describing whether or not validation failed.
              title: failed
              type: boolean
            failedTests:
              description: A list of tests that failed in the validation.
              items:
                $ref: '#/components/schemas/VnetValidationTestFailure'
              title: failedTests
              type: array
          title: properties
          type: object
          x-ms-client-flatten: true
      title: VnetValidationFailureDetails
    VnetValidationTestFailure:
      allOf:
      - description: Azure proxy only resource. This resource is not tracked by Azure
          Resource Manager.
        properties:
          id:
            description: Resource Id.
            readOnly: true
            type: string
          kind:
            description: Kind of resource.
            type: string
          name:
            description: Resource Name.
            readOnly: true
            type: string
          type:
            description: Resource type.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: A class that describes a test that failed during NSG and UDR validation.
      properties:
        properties:
          description: VnetValidationTestFailure resource specific properties
          properties:
            details:
              description: "The details of what caused the failure, e.g. the blocking\
                \ rule name, etc."
              title: details
              type: string
            testName:
              description: The name of the test that failed.
              title: testName
              type: string
          title: properties
          type: object
          x-ms-client-flatten: true
      title: VnetValidationTestFailure
    GetPublishingUser_200_response_properties:
      description: User resource specific properties
      example:
        publishingPasswordHashSalt: publishingPasswordHashSalt
        publishingPasswordHash: publishingPasswordHash
        publishingPassword: publishingPassword
        publishingUserName: publishingUserName
        scmUri: scmUri
      properties:
        publishingPassword:
          description: Password used for publishing.
          format: password
          title: publishingPassword
          type: string
        publishingPasswordHash:
          description: Password hash used for publishing.
          format: password
          title: publishingPasswordHash
          type: string
        publishingPasswordHashSalt:
          description: Password hash salt used for publishing.
          format: password
          title: publishingPasswordHashSalt
          type: string
        publishingUserName:
          description: Username used for publishing.
          title: publishingUserName
          type: string
        scmUri:
          description: Url of SCM site.
          title: scmUri
          type: string
      required:
      - publishingUserName
      title: GetPublishingUser_200_response_properties
      type: object
      x-ms-client-flatten: true
    GetPublishingUser_200_response:
      allOf:
      - description: Azure proxy only resource. This resource is not tracked by Azure
          Resource Manager.
        properties:
          id:
            description: Resource Id.
            readOnly: true
            type: string
          kind:
            description: Kind of resource.
            type: string
          name:
            description: Resource Name.
            readOnly: true
            type: string
          type:
            description: Resource type.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: User credentials used for publishing activity.
      example:
        properties:
          publishingPasswordHashSalt: publishingPasswordHashSalt
          publishingPasswordHash: publishingPasswordHash
          publishingPassword: publishingPassword
          publishingUserName: publishingUserName
          scmUri: scmUri
      properties:
        properties:
          $ref: '#/components/schemas/GetPublishingUser_200_response_properties'
      title: GetPublishingUser_200_response
    GetPublishingUser_default_response_error_details_inner:
      description: Detailed errors.
      example:
        code: code
        message: message
        target: target
      properties:
        code:
          description: Standardized string to programmatically identify the error.
          readOnly: true
          title: code
          type: string
        message:
          description: Detailed error description and debugging information.
          readOnly: true
          title: message
          type: string
        target:
          description: Detailed error description and debugging information.
          readOnly: true
          title: target
          type: string
      readOnly: true
      title: GetPublishingUser_default_response_error_details_inner
      type: object
    GetPublishingUser_default_response_error:
      description: Error model.
      example:
        code: code
        innererror: innererror
        details:
        - code: code
          message: message
          target: target
        - code: code
          message: message
          target: target
        message: message
        target: target
      properties:
        code:
          description: Standardized string to programmatically identify the error.
          readOnly: true
          title: code
          type: string
        details:
          items:
            $ref: '#/components/schemas/GetPublishingUser_default_response_error_details_inner'
          title: details
          type: array
        innererror:
          description: More information to debug error.
          readOnly: true
          title: innererror
          type: string
        message:
          description: Detailed error description and debugging information.
          readOnly: true
          title: message
          type: string
        target:
          description: Detailed error description and debugging information.
          readOnly: true
          title: target
          type: string
      readOnly: true
      title: GetPublishingUser_default_response_error
      type: object
    GetPublishingUser_default_response:
      description: App Service error response.
      example:
        error:
          code: code
          innererror: innererror
          details:
          - code: code
            message: message
            target: target
          - code: code
            message: message
            target: target
          message: message
          target: target
      properties:
        error:
          $ref: '#/components/schemas/GetPublishingUser_default_response_error'
      title: GetPublishingUser_default_response
      type: object
    ListSiteIdentifiersAssignedToHostName_request:
      description: Identifies an object.
      properties:
        name:
          description: Name of the object.
          title: name
          type: string
      title: ListSiteIdentifiersAssignedToHostName_request
      type: object
    ListSiteIdentifiersAssignedToHostName_200_response_value_inner_properties:
      description: Identifier resource specific properties
      example:
        id: id
      properties:
        id:
          description: String representation of the identity.
          title: id
          type: string
      title: ListSiteIdentifiersAssignedToHostName_200_response_value_inner_properties
      type: object
      x-ms-client-flatten: true
    ListSiteIdentifiersAssignedToHostName_200_response_value_inner:
      description: A domain specific resource identifier.
      example:
        properties:
          id: id
      properties:
        properties:
          $ref: '#/components/schemas/ListSiteIdentifiersAssignedToHostName_200_response_value_inner_properties'
      title: ListSiteIdentifiersAssignedToHostName_200_response_value_inner
      type: object
    ListSiteIdentifiersAssignedToHostName_200_response:
      description: Collection of identifiers.
      example:
        value:
        - properties:
            id: id
        - properties:
            id: id
        nextLink: nextLink
      properties:
        nextLink:
          description: Link to next page of resources.
          readOnly: true
          title: nextLink
          type: string
        value:
          description: Collection of resources.
          items:
            $ref: '#/components/schemas/ListSiteIdentifiersAssignedToHostName_200_response_value_inner'
          title: value
          type: array
      required:
      - value
      title: ListSiteIdentifiersAssignedToHostName_200_response
      type: object
    DeploymentLocations_hostingEnvironments_inner_clusterSettings_inner:
      description: Name value pair.
      example:
        name: name
        value: value
      properties:
        name:
          description: Pair name.
          title: name
          type: string
        value:
          description: Pair value.
          title: value
          type: string
      title: DeploymentLocations_hostingEnvironments_inner_clusterSettings_inner
      type: object
    DeploymentLocations_hostingEnvironments_inner_environmentCapacities_inner:
      description: Stamp capacity information.
      example:
        availableCapacity: 6
        isLinux: true
        siteMode: siteMode
        unit: unit
        excludeFromCapacityAllocation: true
        computeMode: Shared
        totalCapacity: 1
        workerSizeId: 5
        name: name
        workerSize: Small
        isApplicableForAllComputeModes: true
      properties:
        availableCapacity:
          description: "Available capacity (# of machines, bytes of storage etc...)."
          format: int64
          title: availableCapacity
          type: integer
        computeMode:
          description: Shared/dedicated workers.
          enum:
          - Shared
          - Dedicated
          - Dynamic
          title: computeMode
          type: string
          x-ms-enum:
            modelAsString: false
            name: ComputeModeOptions
        excludeFromCapacityAllocation:
          description: |-
            If <code>true</code>, it includes basic apps.
            Basic apps are not used for capacity allocation.
          title: excludeFromCapacityAllocation
          type: boolean
        isApplicableForAllComputeModes:
          description: "<code>true</code> if capacity is applicable for all apps;\
            \ otherwise, <code>false</code>."
          title: isApplicableForAllComputeModes
          type: boolean
        isLinux:
          description: Is this a linux stamp capacity
          title: isLinux
          type: boolean
        name:
          description: Name of the stamp.
          title: name
          type: string
        siteMode:
          description: Shared or Dedicated.
          title: siteMode
          type: string
        totalCapacity:
          description: "Total capacity (# of machines, bytes of storage etc...)."
          format: int64
          title: totalCapacity
          type: integer
        unit:
          description: Name of the unit.
          title: unit
          type: string
        workerSize:
          description: Size of the machines.
          enum:
          - Small
          - Medium
          - Large
          - D1
          - D2
          - D3
          - Default
          title: workerSize
          type: string
          x-ms-enum:
            modelAsString: false
            name: WorkerSizeOptions
        workerSizeId:
          description: "Size ID of machines: \n0 - Small\n1 - Medium\n2 - Large"
          format: int32
          title: workerSizeId
          type: integer
      title: DeploymentLocations_hostingEnvironments_inner_environmentCapacities_inner
      type: object
    DeploymentLocations_hostingEnvironments_inner_networkAccessControlList_inner:
      description: Network access control entry.
      example:
        remoteSubnet: remoteSubnet
        action: Permit
        description: description
        order: 3
      properties:
        action:
          description: Action object.
          enum:
          - Permit
          - Deny
          title: action
          type: string
          x-ms-enum:
            modelAsString: false
            name: AccessControlEntryAction
        description:
          description: Description of network access control entry.
          title: description
          type: string
        order:
          description: Order of precedence.
          format: int32
          title: order
          type: integer
        remoteSubnet:
          description: Remote subnet.
          title: remoteSubnet
          type: string
      title: DeploymentLocations_hostingEnvironments_inner_networkAccessControlList_inner
      type: object
    DeploymentLocations_hostingEnvironments_inner_vipMappings_inner:
      description: Virtual IP mapping.
      example:
        internalHttpsPort: 7
        inUse: true
        internalHttpPort: 4
        virtualIP: virtualIP
      properties:
        inUse:
          description: Is virtual IP mapping in use.
          title: inUse
          type: boolean
        internalHttpPort:
          description: Internal HTTP port.
          format: int32
          title: internalHttpPort
          type: integer
        internalHttpsPort:
          description: Internal HTTPS port.
          format: int32
          title: internalHttpsPort
          type: integer
        virtualIP:
          description: Virtual IP address.
          title: virtualIP
          type: string
      title: DeploymentLocations_hostingEnvironments_inner_vipMappings_inner
      type: object
    DeploymentLocations_hostingEnvironments_inner_virtualNetwork:
      description: Specification for using a Virtual Network.
      example:
        subnet: subnet
        name: name
        id: id
        type: type
      properties:
        id:
          description: Resource id of the Virtual Network.
          title: id
          type: string
        name:
          description: Name of the Virtual Network (read-only).
          readOnly: true
          title: name
          type: string
        subnet:
          description: Subnet within the Virtual Network.
          title: subnet
          type: string
        type:
          description: Resource type of the Virtual Network (read-only).
          readOnly: true
          title: type
          type: string
      title: DeploymentLocations_hostingEnvironments_inner_virtualNetwork
      type: object
    DeploymentLocations_hostingEnvironments_inner_workerPools_inner:
      description: Worker pool of an App Service Environment.
      example:
        workerCount: 1
        instanceNames:
        - instanceNames
        - instanceNames
        computeMode: Shared
        workerSizeId: 1
        workerSize: workerSize
      properties:
        computeMode:
          description: Shared or dedicated app hosting.
          enum:
          - Shared
          - Dedicated
          - Dynamic
          title: computeMode
          type: string
          x-ms-enum:
            modelAsString: false
            name: ComputeModeOptions
        instanceNames:
          description: Names of all instances in the worker pool (read only).
          items:
            type: string
          readOnly: true
          title: instanceNames
          type: array
        workerCount:
          description: Number of instances in the worker pool.
          format: int32
          title: workerCount
          type: integer
        workerSize:
          description: VM size of the worker pool instances.
          title: workerSize
          type: string
        workerSizeId:
          description: Worker size ID for referencing this worker pool.
          format: int32
          title: workerSizeId
          type: integer
      title: DeploymentLocations_hostingEnvironments_inner_workerPools_inner
      type: object
    DeploymentLocations_hostingEnvironments_inner:
      description: Description of an App Service Environment.
      example:
        defaultFrontEndScaleFactor: 0
        resourceGroup: resourceGroup
        vipMappings:
        - internalHttpsPort: 7
          inUse: true
          internalHttpPort: 4
          virtualIP: virtualIP
        - internalHttpsPort: 7
          inUse: true
          internalHttpPort: 4
          virtualIP: virtualIP
        maximumNumberOfMachines: 7
        vnetName: vnetName
        hasLinuxWorkers: true
        workerPools:
        - workerCount: 1
          instanceNames:
          - instanceNames
          - instanceNames
          computeMode: Shared
          workerSizeId: 1
          workerSize: workerSize
        - workerCount: 1
          instanceNames:
          - instanceNames
          - instanceNames
          computeMode: Shared
          workerSizeId: 1
          workerSize: workerSize
        databaseEdition: databaseEdition
        environmentCapacities:
        - availableCapacity: 6
          isLinux: true
          siteMode: siteMode
          unit: unit
          excludeFromCapacityAllocation: true
          computeMode: Shared
          totalCapacity: 1
          workerSizeId: 5
          name: name
          workerSize: Small
          isApplicableForAllComputeModes: true
        - availableCapacity: 6
          isLinux: true
          siteMode: siteMode
          unit: unit
          excludeFromCapacityAllocation: true
          computeMode: Shared
          totalCapacity: 1
          workerSizeId: 5
          name: name
          workerSize: Small
          isApplicableForAllComputeModes: true
        lastAction: lastAction
        multiSize: multiSize
        ipsslAddressCount: 2
        upgradeDomains: 2
        vnetResourceGroupName: vnetResourceGroupName
        vnetSubnetName: vnetSubnetName
        environmentIsHealthy: true
        environmentStatus: environmentStatus
        userWhitelistedIpRanges:
        - userWhitelistedIpRanges
        - userWhitelistedIpRanges
        internalLoadBalancingMode: None
        sslCertKeyVaultSecretName: sslCertKeyVaultSecretName
        networkAccessControlList:
        - remoteSubnet: remoteSubnet
          action: Permit
          description: description
          order: 3
        - remoteSubnet: remoteSubnet
          action: Permit
          description: description
          order: 3
        databaseServiceObjective: databaseServiceObjective
        apiManagementAccountId: apiManagementAccountId
        provisioningState: Succeeded
        sslCertKeyVaultId: sslCertKeyVaultId
        suspended: true
        multiRoleCount: 9
        virtualNetwork:
          subnet: subnet
          name: name
          id: id
          type: type
        dynamicCacheEnabled: true
        allowedMultiSizes: allowedMultiSizes
        clusterSettings:
        - name: name
          value: value
        - name: name
          value: value
        dnsSuffix: dnsSuffix
        allowedWorkerSizes: allowedWorkerSizes
        name: name
        location: location
        frontEndScaleFactor: 5
        subscriptionId: subscriptionId
        lastActionResult: lastActionResult
        status: Preparing
      properties:
        allowedMultiSizes:
          description: List of comma separated strings describing which VM sizes are
            allowed for front-ends.
          readOnly: true
          title: allowedMultiSizes
          type: string
        allowedWorkerSizes:
          description: List of comma separated strings describing which VM sizes are
            allowed for workers.
          readOnly: true
          title: allowedWorkerSizes
          type: string
        apiManagementAccountId:
          description: API Management Account associated with the App Service Environment.
          title: apiManagementAccountId
          type: string
        clusterSettings:
          description: Custom settings for changing the behavior of the App Service
            Environment.
          items:
            $ref: '#/components/schemas/DeploymentLocations_hostingEnvironments_inner_clusterSettings_inner'
          title: clusterSettings
          type: array
        databaseEdition:
          description: "Edition of the metadata database for the App Service Environment,\
            \ e.g. \"Standard\"."
          readOnly: true
          title: databaseEdition
          type: string
        databaseServiceObjective:
          description: "Service objective of the metadata database for the App Service\
            \ Environment, e.g. \"S0\"."
          readOnly: true
          title: databaseServiceObjective
          type: string
        defaultFrontEndScaleFactor:
          description: Default Scale Factor for FrontEnds.
          format: int32
          readOnly: true
          title: defaultFrontEndScaleFactor
          type: integer
        dnsSuffix:
          description: DNS suffix of the App Service Environment.
          title: dnsSuffix
          type: string
        dynamicCacheEnabled:
          description: |-
            True/false indicating whether the App Service Environment is suspended. The environment can be suspended e.g. when the management endpoint is no longer available
            (most likely because NSG blocked the incoming traffic).
          title: dynamicCacheEnabled
          type: boolean
        environmentCapacities:
          description: "Current total, used, and available worker capacities."
          items:
            $ref: '#/components/schemas/DeploymentLocations_hostingEnvironments_inner_environmentCapacities_inner'
          readOnly: true
          title: environmentCapacities
          type: array
        environmentIsHealthy:
          description: True/false indicating whether the App Service Environment is
            healthy.
          readOnly: true
          title: environmentIsHealthy
          type: boolean
        environmentStatus:
          description: Detailed message about with results of the last check of the
            App Service Environment.
          readOnly: true
          title: environmentStatus
          type: string
        frontEndScaleFactor:
          description: Scale factor for front-ends.
          format: int32
          title: frontEndScaleFactor
          type: integer
        hasLinuxWorkers:
          description: Flag that displays whether an ASE has linux workers or not
          title: hasLinuxWorkers
          type: boolean
        internalLoadBalancingMode:
          description: Specifies which endpoints to serve internally in the Virtual
            Network for the App Service Environment.
          enum:
          - None
          - Web
          - Publishing
          title: internalLoadBalancingMode
          type: string
          x-ms-enum:
            modelAsString: false
            name: InternalLoadBalancingMode
        ipsslAddressCount:
          description: Number of IP SSL addresses reserved for the App Service Environment.
          format: int32
          title: ipsslAddressCount
          type: integer
        lastAction:
          description: Last deployment action on the App Service Environment.
          readOnly: true
          title: lastAction
          type: string
        lastActionResult:
          description: Result of the last deployment action on the App Service Environment.
          readOnly: true
          title: lastActionResult
          type: string
        location:
          description: "Location of the App Service Environment, e.g. \"West US\"."
          title: location
          type: string
        maximumNumberOfMachines:
          description: Maximum number of VMs in the App Service Environment.
          format: int32
          readOnly: true
          title: maximumNumberOfMachines
          type: integer
        multiRoleCount:
          description: Number of front-end instances.
          format: int32
          title: multiRoleCount
          type: integer
        multiSize:
          description: "Front-end VM size, e.g. \"Medium\", \"Large\"."
          title: multiSize
          type: string
        name:
          description: Name of the App Service Environment.
          title: name
          type: string
        networkAccessControlList:
          description: Access control list for controlling traffic to the App Service
            Environment.
          items:
            $ref: '#/components/schemas/DeploymentLocations_hostingEnvironments_inner_networkAccessControlList_inner'
          title: networkAccessControlList
          type: array
        provisioningState:
          description: Provisioning state of the App Service Environment.
          enum:
          - Succeeded
          - Failed
          - Canceled
          - InProgress
          - Deleting
          readOnly: true
          title: provisioningState
          type: string
          x-ms-enum:
            modelAsString: false
            name: ProvisioningState
        resourceGroup:
          description: Resource group of the App Service Environment.
          readOnly: true
          title: resourceGroup
          type: string
        sslCertKeyVaultId:
          description: Key Vault ID for ILB App Service Environment default SSL certificate
          title: sslCertKeyVaultId
          type: string
        sslCertKeyVaultSecretName:
          description: Key Vault Secret Name for ILB App Service Environment default
            SSL certificate
          title: sslCertKeyVaultSecretName
          type: string
        status:
          description: Current status of the App Service Environment.
          enum:
          - Preparing
          - Ready
          - Scaling
          - Deleting
          readOnly: true
          title: status
          type: string
          x-ms-enum:
            modelAsString: false
            name: HostingEnvironmentStatus
        subscriptionId:
          description: Subscription of the App Service Environment.
          readOnly: true
          title: subscriptionId
          type: string
        suspended:
          description: |-
            <code>true</code> if the App Service Environment is suspended; otherwise, <code>false</code>. The environment can be suspended, e.g. when the management endpoint is no longer available
             (most likely because NSG blocked the incoming traffic).
          title: suspended
          type: boolean
        upgradeDomains:
          description: Number of upgrade domains of the App Service Environment.
          format: int32
          readOnly: true
          title: upgradeDomains
          type: integer
        userWhitelistedIpRanges:
          description: User added ip ranges to whitelist on ASE db
          items:
            type: string
          title: userWhitelistedIpRanges
          type: array
        vipMappings:
          description: Description of IP SSL mapping for the App Service Environment.
          items:
            $ref: '#/components/schemas/DeploymentLocations_hostingEnvironments_inner_vipMappings_inner'
          readOnly: true
          title: vipMappings
          type: array
        virtualNetwork:
          $ref: '#/components/schemas/DeploymentLocations_hostingEnvironments_inner_virtualNetwork'
        vnetName:
          description: Name of the Virtual Network for the App Service Environment.
          title: vnetName
          type: string
        vnetResourceGroupName:
          description: Resource group of the Virtual Network.
          title: vnetResourceGroupName
          type: string
        vnetSubnetName:
          description: Subnet of the Virtual Network.
          title: vnetSubnetName
          type: string
        workerPools:
          description: "Description of worker pools with worker size IDs, VM sizes,\
            \ and number of workers in each pool."
          items:
            $ref: '#/components/schemas/DeploymentLocations_hostingEnvironments_inner_workerPools_inner'
          title: workerPools
          type: array
      required:
      - location
      - name
      - virtualNetwork
      - workerPools
      title: DeploymentLocations_hostingEnvironments_inner
      type: object
    GlobalCsmSkuDescription_capabilities_inner:
      description: Describes the capabilities/features allowed for a specific SKU.
      example:
        reason: reason
        name: name
        value: value
      properties:
        name:
          description: Name of the SKU capability.
          title: name
          type: string
        reason:
          description: Reason of the SKU capability.
          title: reason
          type: string
        value:
          description: Value of the SKU capability.
          title: value
          type: string
      title: GlobalCsmSkuDescription_capabilities_inner
      type: object
    GlobalCsmSkuDescription_capacity:
      description: Description of the App Service plan scale options.
      example:
        default: 0
        scaleType: scaleType
        maximum: 6
        minimum: 1
      properties:
        default:
          description: Default number of workers for this App Service plan SKU.
          format: int32
          title: default
          type: integer
        maximum:
          description: Maximum number of workers for this App Service plan SKU.
          format: int32
          title: maximum
          type: integer
        minimum:
          description: Minimum number of workers for this App Service plan SKU.
          format: int32
          title: minimum
          type: integer
        scaleType:
          description: Available scale configurations for an App Service plan.
          title: scaleType
          type: string
      title: GlobalCsmSkuDescription_capacity
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
