openapi: 3.0.1
info:
  description: Azure Application Insights client for saved items.
  title: ApplicationInsightsManagementClient
  version: 2015-05-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2015-05-01/analyticsItems_API.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: applicationinsights-analyticsItems_API
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.insights/components/{resourceName}/{scopePath}
  : get:
      description: Gets a list of Analytics Items defined within an Application Insights
        component.
      operationId: analytics_items_list
      parameters:
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Application Insights component resource.
        in: path
        name: resourceName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Enum indicating if this item definition is owned by a specific
          user or is shared between all users with access to the Application Insights
          component.
        in: path
        name: scopePath
        required: true
        schema:
          enum:
          - analyticsItems
          - myanalyticsItems
          type: string
          x-ms-enum:
            modelAsString: true
            name: ItemScopePath
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: ItemScopePath
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: Enum indicating if this item definition is owned by a specific
          user or is shared between all users with access to the Application Insights
          component.
        in: query
        name: scope
        schema:
          default: shared
          enum:
          - shared
          - user
          type: string
          x-ms-enum:
            modelAsString: true
            name: ItemScope
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: ItemScope
        x-ms-parameter-location: method
      - description: Enum indicating the type of the Analytics item.
        in: query
        name: type
        schema:
          default: none
          enum:
          - none
          - query
          - function
          - folder
          - recent
          type: string
          x-ms-enum:
            modelAsString: true
            name: ItemTypeParameter
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: ItemTypeParameter
        x-ms-parameter-location: method
      - description: "Flag indicating whether or not to return the content of each\
          \ applicable item. If false, only return the item information."
        in: query
        name: includeContent
        schema:
          type: boolean
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ApplicationInsightsComponentAnalyticsItem'
                type: array
          description: A list containing 0 or more items associated with the Application
            Insights component.
      x-ms-examples:
        AnalyticsItemList:
          parameters:
            api-version: 2015-05-01
            resourceGroupName: my-resource-group
            resourceName: my-component
            scopePath: analyticsItems
            subscriptionId: subid
          responses:
            "200":
              body:
              - Content: "//Top 10 countries by traffic in the past 24 hours\nrequests\
                  \ \n | where  timestamp > ago(24h) \n | summarize count() by client_CountryOrRegion\n\
                  \ | top 10 by count_ \n | render piechart"
                Id: b753348d-333a-4678-a684-c0e9090713b7
                Name: "1"
                Scope: user
                TimeModified: 2017-06-29T10:27:03Z
                Type: query
                Version: "1.0"
              - Content: "//Top 10 countries by traffic in the past 24 hours\nrequests\
                  \ \n | where  timestamp > ago(24h) \n | summarize count() by client_CountryOrRegion\n\
                  \ | top 10 by count_ \n | render piechart"
                Id: 0d2f1b19-04b2-4c93-bc6f-2466b23c5284
                Name: "4"
                Scope: user
                TimeModified: 2017-06-29T10:27:13Z
                Type: query
                Version: "1.0"
              - Content: "//Top 10 countries by traffic in the past 24 hours\nrequests\
                  \ \n | where  timestamp > ago(24h) \n | summarize count() by client_CountryOrRegion\n\
                  \ | top 10 by count_ \n | render piechart"
                Id: 3d17bebb-0b20-4b58-9bbd-22aeed70be51
                Name: "2"
                Scope: user
                TimeModified: 2018-02-10T23:21:05.9952874Z
                Type: query
                Version: "1.0"
              - Content: "//Top 10 countries by traffic in the past 24 hours\nrequests\
                  \ \n | where  timestamp > ago(24h) \n | summarize count() by client_CountryOrRegion\n\
                  \ | top 10 by count_ \n | render piechart"
                Id: 2be491c6-10d9-4cf6-9490-2a7ce7270c54
                Name: "5"
                Scope: user
                TimeModified: 2017-06-29T10:27:17Z
                Type: query
                Version: "1.0"
              - Content: "//Top 10 countries by traffic in the past 24 hours\nrequests\
                  \ \n | where  timestamp > ago(24h) \n | summarize count() by client_CountryOrRegion\n\
                  \ | top 10 by count_ \n | render piechart"
                Id: d8f83601-4a40-4dc1-8516-0a28dcb74420
                Name: "8"
                Scope: user
                TimeCreated: 2018-02-10T23:20:19.0174631Z
                TimeModified: 2018-02-10T23:20:19.0174631Z
                Type: query
                Version: "1.0"
              - Content: "let newExceptionsTimeRange = 7d;\nlet timeRangeToCheckBefore\
                  \ = 7d;\nexceptions\n| where timestamp < ago(timeRangeToCheckBefore)\n\
                  | summarize count() by problemId\n| join kind= rightanti (\nexceptions\n\
                  | where timestamp >= ago(newExceptionsTimeRange)\n| extend stack\
                  \ = tostring(details[0].rawStack)\n| summarize count(), dcount(user_AuthenticatedId),\
                  \ min(timestamp), max(timestamp), any(stack) by problemId  \n) on\
                  \ problemId \n| order by  count_ desc\n"
                Id: fd3afe4d-9139-4c76-9b47-81d0fada977b
                Name: Exceptions - New in the last 7 days
                Scope: user
                TimeCreated: 2018-02-11T22:05:57.6019354Z
                TimeModified: 2018-02-12T11:01:15.5687326Z
                Type: query
                Version: "1.0"
              - Content: "let newExceptionsTimeRange = 1d;\nlet timeRangeToCheckBefore\
                  \ = 7d;\nexceptions\n| where timestamp < ago(timeRangeToCheckBefore)\n\
                  | summarize count() by problemId\n| join kind= rightanti (\nexceptions\n\
                  | where timestamp >= ago(newExceptionsTimeRange)\n| extend stack\
                  \ = tostring(details[0].rawStack)\n| summarize count(), dcount(user_AuthenticatedId),\
                  \ min(timestamp), max(timestamp), any(stack) by problemId  \n) on\
                  \ problemId \n| order by  count_ desc\n"
                Id: 3466c160-4a10-4df8-afdf-0007f3f6dee5
                Name: Exceptions - New in the last 24 hours
                Scope: shared
                TimeCreated: 2018-02-12T11:44:39.2980634Z
                TimeModified: 2018-02-14T13:13:19.3381394Z
                Type: query
                Version: "1.0"
      x-openapi-router-controller: openapi_server.controllers.default_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.insights/components/{resourceName}/{scopePath}/item
  : delete:
      description: Deletes a specific Analytics Items defined within an Application
        Insights component.
      operationId: analytics_items_delete
      parameters:
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Application Insights component resource.
        in: path
        name: resource_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Enum indicating if this item definition is owned by a specific
          user or is shared between all users with access to the Application Insights
          component.
        in: path
        name: scope_path
        required: true
        schema:
          enum:
          - analyticsItems
          - myanalyticsItems
          type: string
          x-ms-enum:
            modelAsString: true
            name: ItemScopePath
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: ItemScopePath
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: The Id of a specific item defined in the Application Insights
          component
        in: query
        name: id
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of a specific item defined in the Application Insights
          component
        in: query
        name: name
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content: {}
          description: The item has been successfully removed from the Application
            Insights component
      x-ms-examples:
        AnalyticsItemDelete:
          parameters:
            api-version: 2015-05-01
            id: 3466c160-4a10-4df8-afdf-0007f3f6dee5
            resourceGroupName: my-resource-group
            resourceName: my-component
            scope: shared
            scopePath: analyticsItems
            subscriptionId: subid
          responses:
            "200": {}
      x-openapi-router-controller: openapi_server.controllers.default_controller
    get:
      description: Gets a specific Analytics Items defined within an Application Insights
        component.
      operationId: analytics_items_get
      parameters:
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Application Insights component resource.
        in: path
        name: resource_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Enum indicating if this item definition is owned by a specific
          user or is shared between all users with access to the Application Insights
          component.
        in: path
        name: scope_path
        required: true
        schema:
          enum:
          - analyticsItems
          - myanalyticsItems
          type: string
          x-ms-enum:
            modelAsString: true
            name: ItemScopePath
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: ItemScopePath
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: The Id of a specific item defined in the Application Insights
          component
        in: query
        name: id
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of a specific item defined in the Application Insights
          component
        in: query
        name: name
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationInsightsComponentAnalyticsItem'
          description: A single item associated with the Application Insights component.
      x-ms-examples:
        AnalyticsItemGet:
          parameters:
            api-version: 2015-05-01
            id: 3466c160-4a10-4df8-afdf-0007f3f6dee5
            resourceGroupName: my-resource-group
            resourceName: my-component
            scope: shared
            scopePath: analyticsItems
            subscriptionId: subid
          responses:
            "200":
              body:
                Content: "let newExceptionsTimeRange = 1d;\nlet timeRangeToCheckBefore\
                  \ = 7d;\nexceptions\n| where timestamp < ago(timeRangeToCheckBefore)\n\
                  | summarize count() by problemId\n| join kind= rightanti (\nexceptions\n\
                  | where timestamp >= ago(newExceptionsTimeRange)\n| extend stack\
                  \ = tostring(details[0].rawStack)\n| summarize count(), dcount(user_AuthenticatedId),\
                  \ min(timestamp), max(timestamp), any(stack) by problemId  \n) on\
                  \ problemId \n| order by  count_ desc\n"
                Id: 3466c160-4a10-4df8-afdf-0007f3f6dee5
                Name: Exceptions - New in the last 24 hours
                Scope: shared
                TimeCreated: 2018-02-12T11:44:39.2980634Z
                TimeModified: 2018-02-14T13:13:19.3381394Z
                Type: query
                Version: "1.0"
      x-openapi-router-controller: openapi_server.controllers.default_controller
    put:
      description: Adds or Updates a specific Analytics Item within an Application
        Insights component.
      operationId: analytics_items_put
      parameters:
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Application Insights component resource.
        in: path
        name: resource_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Enum indicating if this item definition is owned by a specific
          user or is shared between all users with access to the Application Insights
          component.
        in: path
        name: scope_path
        required: true
        schema:
          enum:
          - analyticsItems
          - myanalyticsItems
          type: string
          x-ms-enum:
            modelAsString: true
            name: ItemScopePath
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: ItemScopePath
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: Flag indicating whether or not to force save an item. This allows
          overriding an item if it already exists.
        in: query
        name: overrideItem
        schema:
          type: boolean
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationInsightsComponentAnalyticsItem'
        description: Properties that need to be specified to create a new item and
          add it to an Application Insights component.
        required: true
        x-body-name: itemProperties
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationInsightsComponentAnalyticsItem'
          description: The new or updated item associated with the Application Insights
            component.
      x-ms-examples:
        AnalyticsItemPut:
          parameters:
            api-version: 2015-05-01
            id: 3466c160-4a10-4df8-afdf-0007f3f6dee5
            itemProperties:
              Content: "let newExceptionsTimeRange = 1d;\nlet timeRangeToCheckBefore\
                \ = 7d;\nexceptions\n| where timestamp < ago(timeRangeToCheckBefore)\n\
                | summarize count() by problemId\n| join kind= rightanti (\nexceptions\n\
                | where timestamp >= ago(newExceptionsTimeRange)\n| extend stack =\
                \ tostring(details[0].rawStack)\n| summarize count(), dcount(user_AuthenticatedId),\
                \ min(timestamp), max(timestamp), any(stack) by problemId  \n) on\
                \ problemId \n| order by  count_ desc\n"
              Name: Exceptions - New in the last 24 hours
              Scope: shared
              Type: query
            resourceGroupName: my-resource-group
            resourceName: my-component
            scope: shared
            scopePath: analyticsItems
            subscriptionId: subid
          responses:
            "200":
              body:
                Content: "let newExceptionsTimeRange = 1d;\nlet timeRangeToCheckBefore\
                  \ = 7d;\nexceptions\n| where timestamp < ago(timeRangeToCheckBefore)\n\
                  | summarize count() by problemId\n| join kind= rightanti (\nexceptions\n\
                  | where timestamp >= ago(newExceptionsTimeRange)\n| extend stack\
                  \ = tostring(details[0].rawStack)\n| summarize count(), dcount(user_AuthenticatedId),\
                  \ min(timestamp), max(timestamp), any(stack) by problemId  \n) on\
                  \ problemId \n| order by  count_ desc\n"
                Id: 3466c160-4a10-4df8-afdf-0007f3f6dee5
                Name: Exceptions - New in the last 24 hours
                Scope: shared
                TimeCreated: 2018-02-12T11:44:39.2980634Z
                TimeModified: 2018-02-14T13:13:19.3381394Z
                Type: query
                Version: "1.0"
      x-codegen-request-body-name: itemProperties
      x-openapi-router-controller: openapi_server.controllers.default_controller
components:
  parameters:
    IncludeContentParameter:
      description: "Flag indicating whether or not to return the content of each applicable\
        \ item. If false, only return the item information."
      in: query
      name: includeContent
      schema:
        type: boolean
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ItemIdParameter:
      description: The Id of a specific item defined in the Application Insights component
      in: query
      name: id
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ItemNameParameter:
      description: The name of a specific item defined in the Application Insights
        component
      in: query
      name: name
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ItemScopeParameter:
      description: Enum indicating if this item definition is owned by a specific
        user or is shared between all users with access to the Application Insights
        component.
      in: query
      name: scope
      schema:
        default: shared
        enum:
        - shared
        - user
        type: string
        x-ms-enum:
          modelAsString: true
          name: ItemScope
        x-ms-parameter-location: method
      x-ms-enum:
        modelAsString: true
        name: ItemScope
      x-ms-parameter-location: method
    ItemScopePathParameter:
      description: Enum indicating if this item definition is owned by a specific
        user or is shared between all users with access to the Application Insights
        component.
      in: path
      name: scopePath
      required: true
      schema:
        enum:
        - analyticsItems
        - myanalyticsItems
        type: string
        x-ms-enum:
          modelAsString: true
          name: ItemScopePath
        x-ms-parameter-location: method
      x-ms-enum:
        modelAsString: true
        name: ItemScopePath
      x-ms-parameter-location: method
    ItemTypeParameter:
      description: Enum indicating the type of the Analytics item.
      in: query
      name: type
      schema:
        default: none
        enum:
        - none
        - query
        - function
        - folder
        - recent
        type: string
        x-ms-enum:
          modelAsString: true
          name: ItemTypeParameter
        x-ms-parameter-location: method
      x-ms-enum:
        modelAsString: true
        name: ItemTypeParameter
      x-ms-parameter-location: method
    OverrideItemParameter:
      description: Flag indicating whether or not to force save an item. This allows
        overriding an item if it already exists.
      in: query
      name: overrideItem
      schema:
        type: boolean
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ResourceNameParameter:
      description: The name of the Application Insights component resource.
      in: path
      name: resourceName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  schemas:
    ApplicationInsightsComponentAnalyticsItem:
      description: Properties that define an Analytics item that is associated to
        an Application Insights component.
      example:
        TimeCreated: TimeCreated
        TimeModified: TimeModified
        Type: query
        Scope: shared
        Version: Version
        Content: Content
        Id: Id
        Properties:
          functionAlias: functionAlias
        Name: Name
      properties:
        Content:
          description: The content of this item
          title: Content
          type: string
        Id:
          description: Internally assigned unique id of the item definition.
          title: Id
          type: string
        Name:
          description: The user-defined name of the item.
          title: Name
          type: string
        Properties:
          $ref: '#/components/schemas/ApplicationInsightsComponentAnalyticsItemProperties'
        Scope:
          description: Enum indicating if this item definition is owned by a specific
            user or is shared between all users with access to the Application Insights
            component.
          enum:
          - shared
          - user
          title: Scope
          type: string
          x-ms-enum:
            modelAsString: true
            name: ItemScope
        TimeCreated:
          description: Date and time in UTC when this item was created.
          readOnly: true
          title: TimeCreated
          type: string
        TimeModified:
          description: Date and time in UTC of the last modification that was made
            to this item.
          readOnly: true
          title: TimeModified
          type: string
        Type:
          description: Enum indicating the type of the Analytics item.
          enum:
          - query
          - function
          - folder
          - recent
          title: Type
          type: string
          x-ms-enum:
            modelAsString: true
            name: ItemType
        Version:
          description: This instance's version of the data model. This can change
            as new features are added.
          readOnly: true
          title: Version
          type: string
      title: ApplicationInsightsComponentAnalyticsItem
      type: object
    ApplicationInsightsComponentAnalyticsItemProperties:
      description: A set of properties that can be defined in the context of a specific
        item type. Each type may have its own properties.
      example:
        functionAlias: functionAlias
      properties:
        functionAlias:
          description: "A function alias, used when the type of the item is Function"
          title: functionAlias
          type: string
      title: ApplicationInsightsComponentAnalyticsItemProperties
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
