openapi: 3.0.1
info:
  contact:
    email: support@twilio.com
    name: Twilio Support
    url: https://support.twilio.com
  description: This is the public Twilio REST API.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://www.twilio.com/legal/tos
  title: Twilio - Ip_messaging
  version: 1.55.0
  x-apisguru-categories:
  - telecom
  - messaging
  x-logo:
    url: https://static1.twilio.com/marketing/bundles/marketing/img/logos/wordmark-red.svg
  x-origin:
  - format: openapi
    url: https://raw.githubusercontent.com/twilio/twilio-oai/main/spec/json/twilio_ip_messaging_v2.json
    version: "3.0"
  x-providerName: twilio.com
  x-serviceName: twilio_ip_messaging_v2
servers:
- url: https://ip-messaging.twilio.com
tags:
- name: IpMessagingV2Binding
- name: IpMessagingV2Channel
- name: IpMessagingV2Credential
- name: IpMessagingV2Invite
- name: IpMessagingV2Member
- name: IpMessagingV2Message
- name: IpMessagingV2Role
- name: IpMessagingV2Service
- name: IpMessagingV2User
- name: IpMessagingV2UserBinding
- name: IpMessagingV2UserChannel
- name: IpMessagingV2Webhook
paths:
  /v2/Credentials:
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: list_credential
      parameters:
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCredentialResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - IpMessagingV2Credential
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.ip_messaging_v2_credential_controller
    post:
      description: ""
      operationId: create_credential
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateCredentialRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ip_messaging.v2.credential'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - IpMessagingV2Credential
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.ip_messaging_v2_credential_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://ip-messaging.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      - type
      pathType: list
  /v2/Credentials/{Sid}:
    delete:
      description: ""
      operationId: delete_credential
      parameters:
      - description: ""
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^CR[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - IpMessagingV2Credential
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.ip_messaging_v2_credential_controller
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: fetch_credential
      parameters:
      - description: ""
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^CR[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ip_messaging.v2.credential'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - IpMessagingV2Credential
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.ip_messaging_v2_credential_controller
    post:
      description: ""
      operationId: update_credential
      parameters:
      - description: ""
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^CR[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateCredentialRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ip_messaging.v2.credential'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - IpMessagingV2Credential
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.ip_messaging_v2_credential_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://ip-messaging.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      - type
      pathType: instance
  /v2/Services:
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: list_service
      parameters:
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListServiceResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - IpMessagingV2Service
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.ip_messaging_v2_service_controller
    post:
      description: ""
      operationId: create_service
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateServiceRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ip_messaging.v2.service'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - IpMessagingV2Service
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.ip_messaging_v2_service_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://ip-messaging.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      - date_created
      dependentProperties:
        bindings:
          mapping:
            service_sid: sid
          resource_url: "/v2/Services/{service_sid}/Bindings"
        channels:
          mapping:
            service_sid: sid
          resource_url: "/v2/Services/{service_sid}/Channels"
        roles:
          mapping:
            service_sid: sid
          resource_url: "/v2/Services/{service_sid}/Roles"
        users:
          mapping:
            service_sid: sid
          resource_url: "/v2/Services/{service_sid}/Users"
      pathType: list
  /v2/Services/{ServiceSid}/Bindings:
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: list_binding
      parameters:
      - description: ""
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: ""
        explode: true
        in: query
        name: BindingType
        required: false
        schema:
          items:
            $ref: '#/components/schemas/binding_enum_binding_type'
          type: array
        style: form
      - description: ""
        explode: true
        in: query
        name: Identity
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListBindingResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - IpMessagingV2Binding
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.ip_messaging_v2_binding_controller
    servers:
    - url: https://ip-messaging.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - endpoint
      - identity
      parent: "/Services/{Sid}"
      pathType: list
  /v2/Services/{ServiceSid}/Bindings/{Sid}:
    delete:
      description: ""
      operationId: delete_binding
      parameters:
      - description: ""
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^BS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - IpMessagingV2Binding
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.ip_messaging_v2_binding_controller
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: fetch_binding
      parameters:
      - description: ""
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^BS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ip_messaging.v2.service.binding'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - IpMessagingV2Binding
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.ip_messaging_v2_binding_controller
    servers:
    - url: https://ip-messaging.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - endpoint
      - identity
      parent: "/Services/{Sid}"
      pathType: instance
  /v2/Services/{ServiceSid}/Channels:
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: list_channel
      parameters:
      - description: ""
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: ""
        explode: true
        in: query
        name: Type
        required: false
        schema:
          items:
            $ref: '#/components/schemas/channel_enum_channel_type'
          type: array
        style: form
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListChannelResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - IpMessagingV2Channel
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.ip_messaging_v2_channel_controller
    post:
      description: ""
      operationId: create_channel
      parameters:
      - description: ""
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The X-Twilio-Webhook-Enabled HTTP request header
        explode: false
        in: header
        name: X-Twilio-Webhook-Enabled
        required: false
        schema:
          $ref: '#/components/schemas/channel_enum_webhook_enabled_type'
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateChannelRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ip_messaging.v2.service.channel'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - IpMessagingV2Channel
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.ip_messaging_v2_channel_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://ip-messaging.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - unique_name
      - friendly_name
      dependentProperties:
        invites:
          mapping:
            channel_sid: sid
            service_sid: service_sid
          resource_url: "/v2/Services/{service_sid}/Channels/{channel_sid}/Invites"
        members:
          mapping:
            channel_sid: sid
            service_sid: service_sid
          resource_url: "/v2/Services/{service_sid}/Channels/{channel_sid}/Members"
        messages:
          mapping:
            channel_sid: sid
            service_sid: service_sid
          resource_url: "/v2/Services/{service_sid}/Channels/{channel_sid}/Messages"
        webhooks:
          mapping:
            channel_sid: sid
            service_sid: service_sid
          resource_url: "/v2/Services/{service_sid}/Channels/{channel_sid}/Webhooks"
      parent: "/Services/{Sid}"
      pathType: list
  /v2/Services/{ServiceSid}/Channels/{ChannelSid}/Invites:
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: list_invite
      parameters:
      - description: ""
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: ChannelSid
        required: true
        schema:
          type: string
        style: simple
      - description: ""
        explode: true
        in: query
        name: Identity
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListInviteResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - IpMessagingV2Invite
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.ip_messaging_v2_invite_controller
    post:
      description: ""
      operationId: create_invite
      parameters:
      - description: ""
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: ChannelSid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateInviteRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ip_messaging.v2.service.channel.invite'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - IpMessagingV2Invite
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.ip_messaging_v2_invite_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://ip-messaging.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - identity
      - date_created
      parent: "/Services/{ServiceSid}/Channels/{Sid}"
      pathType: list
  /v2/Services/{ServiceSid}/Channels/{ChannelSid}/Invites/{Sid}:
    delete:
      description: ""
      operationId: delete_invite
      parameters:
      - description: ""
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: ChannelSid
        required: true
        schema:
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IN[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - IpMessagingV2Invite
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.ip_messaging_v2_invite_controller
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: fetch_invite
      parameters:
      - description: ""
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: ChannelSid
        required: true
        schema:
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IN[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ip_messaging.v2.service.channel.invite'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - IpMessagingV2Invite
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.ip_messaging_v2_invite_controller
    servers:
    - url: https://ip-messaging.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - identity
      - date_created
      parent: "/Services/{ServiceSid}/Channels/{Sid}"
      pathType: instance
  /v2/Services/{ServiceSid}/Channels/{ChannelSid}/Members:
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: list_member
      parameters:
      - description: ""
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: ChannelSid
        required: true
        schema:
          type: string
        style: simple
      - description: ""
        explode: true
        in: query
        name: Identity
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListMemberResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - IpMessagingV2Member
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.ip_messaging_v2_member_controller
    post:
      description: ""
      operationId: create_member
      parameters:
      - description: ""
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: ChannelSid
        required: true
        schema:
          type: string
        style: simple
      - description: The X-Twilio-Webhook-Enabled HTTP request header
        explode: false
        in: header
        name: X-Twilio-Webhook-Enabled
        required: false
        schema:
          $ref: '#/components/schemas/member_enum_webhook_enabled_type'
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateMemberRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ip_messaging.v2.service.channel.member'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - IpMessagingV2Member
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.ip_messaging_v2_member_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://ip-messaging.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - identity
      - date_created
      parent: "/Services/{ServiceSid}/Channels/{Sid}"
      pathType: list
  /v2/Services/{ServiceSid}/Channels/{ChannelSid}/Members/{Sid}:
    delete:
      description: ""
      operationId: delete_member
      parameters:
      - description: ""
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: ChannelSid
        required: true
        schema:
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      - description: The X-Twilio-Webhook-Enabled HTTP request header
        explode: false
        in: header
        name: X-Twilio-Webhook-Enabled
        required: false
        schema:
          $ref: '#/components/schemas/member_enum_webhook_enabled_type'
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - IpMessagingV2Member
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.ip_messaging_v2_member_controller
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: fetch_member
      parameters:
      - description: ""
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: ChannelSid
        required: true
        schema:
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ip_messaging.v2.service.channel.member'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - IpMessagingV2Member
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.ip_messaging_v2_member_controller
    post:
      description: ""
      operationId: update_member
      parameters:
      - description: ""
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: ChannelSid
        required: true
        schema:
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      - description: The X-Twilio-Webhook-Enabled HTTP request header
        explode: false
        in: header
        name: X-Twilio-Webhook-Enabled
        required: false
        schema:
          $ref: '#/components/schemas/member_enum_webhook_enabled_type'
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateMemberRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ip_messaging.v2.service.channel.member'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - IpMessagingV2Member
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.ip_messaging_v2_member_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://ip-messaging.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - identity
      - date_created
      parent: "/Services/{ServiceSid}/Channels/{Sid}"
      pathType: instance
  /v2/Services/{ServiceSid}/Channels/{ChannelSid}/Messages:
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: list_message
      parameters:
      - description: ""
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: ChannelSid
        required: true
        schema:
          type: string
        style: simple
      - description: ""
        explode: true
        in: query
        name: Order
        required: false
        schema:
          $ref: '#/components/schemas/message_enum_order_type'
        style: form
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListMessageResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - IpMessagingV2Message
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.ip_messaging_v2_message_controller
    post:
      description: ""
      operationId: create_message
      parameters:
      - description: ""
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: ChannelSid
        required: true
        schema:
          type: string
        style: simple
      - description: The X-Twilio-Webhook-Enabled HTTP request header
        explode: false
        in: header
        name: X-Twilio-Webhook-Enabled
        required: false
        schema:
          $ref: '#/components/schemas/message_enum_webhook_enabled_type'
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateMessageRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ip_messaging.v2.service.channel.message'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - IpMessagingV2Message
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.ip_messaging_v2_message_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://ip-messaging.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - from
      - to
      - date_created
      parent: "/Services/{ServiceSid}/Channels/{Sid}"
      pathType: list
  /v2/Services/{ServiceSid}/Channels/{ChannelSid}/Messages/{Sid}:
    delete:
      description: ""
      operationId: delete_message
      parameters:
      - description: ""
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: ChannelSid
        required: true
        schema:
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IM[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The X-Twilio-Webhook-Enabled HTTP request header
        explode: false
        in: header
        name: X-Twilio-Webhook-Enabled
        required: false
        schema:
          $ref: '#/components/schemas/message_enum_webhook_enabled_type'
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - IpMessagingV2Message
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.ip_messaging_v2_message_controller
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: fetch_message
      parameters:
      - description: ""
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: ChannelSid
        required: true
        schema:
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IM[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ip_messaging.v2.service.channel.message'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - IpMessagingV2Message
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.ip_messaging_v2_message_controller
    post:
      description: ""
      operationId: update_message
      parameters:
      - description: ""
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: ChannelSid
        required: true
        schema:
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IM[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The X-Twilio-Webhook-Enabled HTTP request header
        explode: false
        in: header
        name: X-Twilio-Webhook-Enabled
        required: false
        schema:
          $ref: '#/components/schemas/message_enum_webhook_enabled_type'
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateMessageRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ip_messaging.v2.service.channel.message'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - IpMessagingV2Message
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.ip_messaging_v2_message_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://ip-messaging.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - from
      - to
      - date_created
      parent: "/Services/{ServiceSid}/Channels/{Sid}"
      pathType: instance
  /v2/Services/{ServiceSid}/Channels/{ChannelSid}/Webhooks:
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: list_channel_webhook
      parameters:
      - description: ""
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: ChannelSid
        required: true
        schema:
          type: string
        style: simple
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListChannelWebhookResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - IpMessagingV2Webhook
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.ip_messaging_v2_webhook_controller
    post:
      description: ""
      operationId: create_channel_webhook
      parameters:
      - description: ""
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: ChannelSid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateChannelWebhookRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ip_messaging.v2.service.channel.channel_webhook'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - IpMessagingV2Webhook
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.ip_messaging_v2_webhook_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://ip-messaging.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - configuration
      parent: "/Services/{ServiceSid}/Channels/{Sid}"
      pathType: list
  /v2/Services/{ServiceSid}/Channels/{ChannelSid}/Webhooks/{Sid}:
    delete:
      description: ""
      operationId: delete_channel_webhook
      parameters:
      - description: ""
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: ChannelSid
        required: true
        schema:
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^WH[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - IpMessagingV2Webhook
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.ip_messaging_v2_webhook_controller
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: fetch_channel_webhook
      parameters:
      - description: ""
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: ChannelSid
        required: true
        schema:
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^WH[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ip_messaging.v2.service.channel.channel_webhook'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - IpMessagingV2Webhook
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.ip_messaging_v2_webhook_controller
    post:
      description: ""
      operationId: update_channel_webhook
      parameters:
      - description: ""
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: ChannelSid
        required: true
        schema:
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^WH[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateChannelWebhookRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ip_messaging.v2.service.channel.channel_webhook'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - IpMessagingV2Webhook
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.ip_messaging_v2_webhook_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://ip-messaging.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - configuration
      parent: "/Services/{ServiceSid}/Channels/{Sid}"
      pathType: instance
  /v2/Services/{ServiceSid}/Channels/{Sid}:
    delete:
      description: ""
      operationId: delete_channel
      parameters:
      - description: ""
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      - description: The X-Twilio-Webhook-Enabled HTTP request header
        explode: false
        in: header
        name: X-Twilio-Webhook-Enabled
        required: false
        schema:
          $ref: '#/components/schemas/channel_enum_webhook_enabled_type'
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - IpMessagingV2Channel
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.ip_messaging_v2_channel_controller
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: fetch_channel
      parameters:
      - description: ""
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ip_messaging.v2.service.channel'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - IpMessagingV2Channel
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.ip_messaging_v2_channel_controller
    post:
      description: ""
      operationId: update_channel
      parameters:
      - description: ""
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      - description: The X-Twilio-Webhook-Enabled HTTP request header
        explode: false
        in: header
        name: X-Twilio-Webhook-Enabled
        required: false
        schema:
          $ref: '#/components/schemas/channel_enum_webhook_enabled_type'
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateChannelRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ip_messaging.v2.service.channel'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - IpMessagingV2Channel
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.ip_messaging_v2_channel_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://ip-messaging.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - unique_name
      - friendly_name
      dependentProperties:
        invites:
          mapping:
            channel_sid: sid
            service_sid: service_sid
          resource_url: "/v2/Services/{service_sid}/Channels/{channel_sid}/Invites"
        members:
          mapping:
            channel_sid: sid
            service_sid: service_sid
          resource_url: "/v2/Services/{service_sid}/Channels/{channel_sid}/Members"
        messages:
          mapping:
            channel_sid: sid
            service_sid: service_sid
          resource_url: "/v2/Services/{service_sid}/Channels/{channel_sid}/Messages"
        webhooks:
          mapping:
            channel_sid: sid
            service_sid: service_sid
          resource_url: "/v2/Services/{service_sid}/Channels/{channel_sid}/Webhooks"
      parent: "/Services/{Sid}"
      pathType: instance
  /v2/Services/{ServiceSid}/Roles:
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: list_role
      parameters:
      - description: ""
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListRoleResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - IpMessagingV2Role
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.ip_messaging_v2_role_controller
    post:
      description: ""
      operationId: create_role
      parameters:
      - description: ""
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateRoleRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ip_messaging.v2.service.role'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - IpMessagingV2Role
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.ip_messaging_v2_role_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://ip-messaging.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      - type
      parent: "/Services/{Sid}"
      pathType: list
  /v2/Services/{ServiceSid}/Roles/{Sid}:
    delete:
      description: ""
      operationId: delete_role
      parameters:
      - description: ""
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^RL[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - IpMessagingV2Role
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.ip_messaging_v2_role_controller
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: fetch_role
      parameters:
      - description: ""
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^RL[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ip_messaging.v2.service.role'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - IpMessagingV2Role
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.ip_messaging_v2_role_controller
    post:
      description: ""
      operationId: update_role
      parameters:
      - description: ""
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^RL[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateRoleRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ip_messaging.v2.service.role'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - IpMessagingV2Role
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.ip_messaging_v2_role_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://ip-messaging.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      - type
      parent: "/Services/{Sid}"
      pathType: instance
  /v2/Services/{ServiceSid}/Users:
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: list_user
      parameters:
      - description: ""
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListUserResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - IpMessagingV2User
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.ip_messaging_v2_user_controller
    post:
      description: ""
      operationId: create_user
      parameters:
      - description: ""
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The X-Twilio-Webhook-Enabled HTTP request header
        explode: false
        in: header
        name: X-Twilio-Webhook-Enabled
        required: false
        schema:
          $ref: '#/components/schemas/user_enum_webhook_enabled_type'
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateUserRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ip_messaging.v2.service.user'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - IpMessagingV2User
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.ip_messaging_v2_user_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://ip-messaging.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      - identity
      - date_created
      dependentProperties:
        user_bindings:
          mapping:
            service_sid: service_sid
            user_sid: sid
          resource_url: "/v2/Services/{service_sid}/Users/{user_sid}/Bindings"
        user_channels:
          mapping:
            service_sid: service_sid
            user_sid: sid
          resource_url: "/v2/Services/{service_sid}/Users/{user_sid}/Channels"
      parent: "/Services/{Sid}"
      pathType: list
  /v2/Services/{ServiceSid}/Users/{Sid}:
    delete:
      description: ""
      operationId: delete_user
      parameters:
      - description: ""
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - IpMessagingV2User
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.ip_messaging_v2_user_controller
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: fetch_user
      parameters:
      - description: ""
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ip_messaging.v2.service.user'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - IpMessagingV2User
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.ip_messaging_v2_user_controller
    post:
      description: ""
      operationId: update_user
      parameters:
      - description: ""
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      - description: The X-Twilio-Webhook-Enabled HTTP request header
        explode: false
        in: header
        name: X-Twilio-Webhook-Enabled
        required: false
        schema:
          $ref: '#/components/schemas/user_enum_webhook_enabled_type'
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateUserRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ip_messaging.v2.service.user'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - IpMessagingV2User
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.ip_messaging_v2_user_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://ip-messaging.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      - identity
      - date_created
      dependentProperties:
        user_bindings:
          mapping:
            service_sid: service_sid
            user_sid: sid
          resource_url: "/v2/Services/{service_sid}/Users/{user_sid}/Bindings"
        user_channels:
          mapping:
            service_sid: service_sid
            user_sid: sid
          resource_url: "/v2/Services/{service_sid}/Users/{user_sid}/Channels"
      parent: "/Services/{Sid}"
      pathType: instance
  /v2/Services/{ServiceSid}/Users/{UserSid}/Bindings:
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: list_user_binding
      parameters:
      - description: ""
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: UserSid
        required: true
        schema:
          type: string
        style: simple
      - description: ""
        explode: true
        in: query
        name: BindingType
        required: false
        schema:
          items:
            $ref: '#/components/schemas/user_binding_enum_binding_type'
          type: array
        style: form
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListUserBindingResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - IpMessagingV2UserBinding
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.ip_messaging_v2_user_binding_controller
    servers:
    - url: https://ip-messaging.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - endpoint
      - identity
      - binding_type
      mountName: user_bindings
      parent: "/Services/{ServiceSid}/Users/{Sid}"
      pathType: list
  /v2/Services/{ServiceSid}/Users/{UserSid}/Bindings/{Sid}:
    delete:
      description: ""
      operationId: delete_user_binding
      parameters:
      - description: ""
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: UserSid
        required: true
        schema:
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^BS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - IpMessagingV2UserBinding
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.ip_messaging_v2_user_binding_controller
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: fetch_user_binding
      parameters:
      - description: ""
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: UserSid
        required: true
        schema:
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^BS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ip_messaging.v2.service.user.user_binding'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - IpMessagingV2UserBinding
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.ip_messaging_v2_user_binding_controller
    servers:
    - url: https://ip-messaging.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - endpoint
      - identity
      - binding_type
      mountName: user_bindings
      parent: "/Services/{ServiceSid}/Users/{Sid}"
      pathType: instance
  /v2/Services/{ServiceSid}/Users/{UserSid}/Channels:
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: list_user_channel
      parameters:
      - description: ""
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: UserSid
        required: true
        schema:
          type: string
        style: simple
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListUserChannelResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - IpMessagingV2UserChannel
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.ip_messaging_v2_user_channel_controller
    servers:
    - url: https://ip-messaging.twilio.com
    x-twilio:
      defaultOutputProperties:
      - channel_sid
      - status
      mountName: user_channels
      parent: "/Services/{ServiceSid}/Users/{Sid}"
      pathType: list
  /v2/Services/{ServiceSid}/Users/{UserSid}/Channels/{ChannelSid}:
    delete:
      description: ""
      operationId: delete_user_channel
      parameters:
      - description: ""
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: UserSid
        required: true
        schema:
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: ChannelSid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - IpMessagingV2UserChannel
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.ip_messaging_v2_user_channel_controller
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: fetch_user_channel
      parameters:
      - description: ""
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: UserSid
        required: true
        schema:
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: ChannelSid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ip_messaging.v2.service.user.user_channel'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - IpMessagingV2UserChannel
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.ip_messaging_v2_user_channel_controller
    post:
      description: ""
      operationId: update_user_channel
      parameters:
      - description: ""
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: UserSid
        required: true
        schema:
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: ChannelSid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateUserChannelRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ip_messaging.v2.service.user.user_channel'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - IpMessagingV2UserChannel
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.ip_messaging_v2_user_channel_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://ip-messaging.twilio.com
    x-twilio:
      defaultOutputProperties:
      - channel_sid
      - status
      mountName: user_channels
      parent: "/Services/{ServiceSid}/Users/{Sid}"
      pathType: instance
  /v2/Services/{Sid}:
    delete:
      description: ""
      operationId: delete_service
      parameters:
      - description: ""
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - IpMessagingV2Service
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.ip_messaging_v2_service_controller
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: fetch_service
      parameters:
      - description: ""
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ip_messaging.v2.service'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - IpMessagingV2Service
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.ip_messaging_v2_service_controller
    post:
      description: ""
      operationId: update_service
      parameters:
      - description: ""
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateServiceRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ip_messaging.v2.service'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - IpMessagingV2Service
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.ip_messaging_v2_service_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://ip-messaging.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      - date_created
      dependentProperties:
        bindings:
          mapping:
            service_sid: sid
          resource_url: "/v2/Services/{service_sid}/Bindings"
        channels:
          mapping:
            service_sid: sid
          resource_url: "/v2/Services/{service_sid}/Channels"
        roles:
          mapping:
            service_sid: sid
          resource_url: "/v2/Services/{service_sid}/Roles"
        users:
          mapping:
            service_sid: sid
          resource_url: "/v2/Services/{service_sid}/Users"
      pathType: instance
components:
  schemas:
    binding_enum_binding_type:
      enum:
      - gcm
      - apn
      - fcm
      title: binding_enum_binding_type
      type: string
    channel_enum_channel_type:
      enum:
      - public
      - private
      title: channel_enum_channel_type
      type: string
    channel_enum_webhook_enabled_type:
      enum:
      - "true"
      - "false"
      title: channel_enum_webhook_enabled_type
      type: string
    channel_webhook_enum_method:
      enum:
      - GET
      - POST
      title: channel_webhook_enum_method
      type: string
    channel_webhook_enum_type:
      enum:
      - webhook
      - trigger
      - studio
      title: channel_webhook_enum_type
      type: string
    credential_enum_push_service:
      enum:
      - gcm
      - apn
      - fcm
      title: credential_enum_push_service
      type: string
    ip_messaging.v2.credential:
      example:
        friendly_name: friendly_name
        date_updated: 2000-01-23T04:56:07.000+00:00
        date_created: 2000-01-23T04:56:07.000+00:00
        sandbox: sandbox
        account_sid: account_sid
        type: type
        url: https://openapi-generator.tech
        sid: sid
      properties:
        account_sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          title: account_sid
          type: string
        date_created:
          format: date-time
          nullable: true
          title: date_created
          type: string
        date_updated:
          format: date-time
          nullable: true
          title: date_updated
          type: string
        friendly_name:
          nullable: true
          title: friendly_name
          type: string
        sandbox:
          nullable: true
          title: sandbox
          type: string
        sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^CR[0-9a-fA-F]{32}$"
          title: sid
          type: string
        type:
          $ref: '#/components/schemas/credential_enum_push_service'
        url:
          format: uri
          nullable: true
          title: url
          type: string
      title: ip_messaging.v2.credential
      type: object
    ip_messaging.v2.service:
      example:
        friendly_name: friendly_name
        webhook_method: webhook_method
        date_updated: 2000-01-23T04:56:07.000+00:00
        default_channel_role_sid: default_channel_role_sid
        date_created: 2000-01-23T04:56:07.000+00:00
        post_webhook_retry_count: 6
        media: ""
        pre_webhook_retry_count: 1
        post_webhook_url: post_webhook_url
        read_status_enabled: true
        url: https://openapi-generator.tech
        pre_webhook_url: pre_webhook_url
        sid: sid
        reachability_enabled: true
        consumption_report_interval: 0
        default_service_role_sid: default_service_role_sid
        account_sid: account_sid
        default_channel_creator_role_sid: default_channel_creator_role_sid
        links: "{}"
        typing_indicator_timeout: 5
        webhook_filters:
        - webhook_filters
        - webhook_filters
        limits: ""
        notifications: ""
      properties:
        account_sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          title: account_sid
          type: string
        consumption_report_interval:
          nullable: true
          title: consumption_report_interval
          type: integer
        date_created:
          format: date-time
          nullable: true
          title: date_created
          type: string
        date_updated:
          format: date-time
          nullable: true
          title: date_updated
          type: string
        default_channel_creator_role_sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^RL[0-9a-fA-F]{32}$"
          title: default_channel_creator_role_sid
          type: string
        default_channel_role_sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^RL[0-9a-fA-F]{32}$"
          title: default_channel_role_sid
          type: string
        default_service_role_sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^RL[0-9a-fA-F]{32}$"
          title: default_service_role_sid
          type: string
        friendly_name:
          nullable: true
          title: friendly_name
          type: string
        limits:
          nullable: true
          title: limits
        links:
          format: uri-map
          nullable: true
          title: links
          type: object
        media:
          nullable: true
          title: media
        notifications:
          nullable: true
          title: notifications
        post_webhook_retry_count:
          nullable: true
          title: post_webhook_retry_count
          type: integer
        post_webhook_url:
          nullable: true
          title: post_webhook_url
          type: string
        pre_webhook_retry_count:
          nullable: true
          title: pre_webhook_retry_count
          type: integer
        pre_webhook_url:
          nullable: true
          title: pre_webhook_url
          type: string
        reachability_enabled:
          nullable: true
          title: reachability_enabled
          type: boolean
        read_status_enabled:
          nullable: true
          title: read_status_enabled
          type: boolean
        sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^IS[0-9a-fA-F]{32}$"
          title: sid
          type: string
        typing_indicator_timeout:
          nullable: true
          title: typing_indicator_timeout
          type: integer
        url:
          format: uri
          nullable: true
          title: url
          type: string
        webhook_filters:
          items:
            type: string
          nullable: true
          title: webhook_filters
          type: array
        webhook_method:
          nullable: true
          title: webhook_method
          type: string
      title: ip_messaging.v2.service
      type: object
    ip_messaging.v2.service.binding:
      example:
        credential_sid: credential_sid
        service_sid: service_sid
        binding_type: binding_type
        endpoint: endpoint
        date_updated: 2000-01-23T04:56:07.000+00:00
        date_created: 2000-01-23T04:56:07.000+00:00
        identity: identity
        account_sid: account_sid
        links: "{}"
        url: https://openapi-generator.tech
        message_types:
        - message_types
        - message_types
        sid: sid
      properties:
        account_sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          title: account_sid
          type: string
        binding_type:
          $ref: '#/components/schemas/binding_enum_binding_type'
        credential_sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^CR[0-9a-fA-F]{32}$"
          title: credential_sid
          type: string
        date_created:
          format: date-time
          nullable: true
          title: date_created
          type: string
        date_updated:
          format: date-time
          nullable: true
          title: date_updated
          type: string
        endpoint:
          nullable: true
          title: endpoint
          type: string
        identity:
          nullable: true
          title: identity
          type: string
        links:
          format: uri-map
          nullable: true
          title: links
          type: object
        message_types:
          items:
            type: string
          nullable: true
          title: message_types
          type: array
        service_sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^IS[0-9a-fA-F]{32}$"
          title: service_sid
          type: string
        sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^BS[0-9a-fA-F]{32}$"
          title: sid
          type: string
        url:
          format: uri
          nullable: true
          title: url
          type: string
      title: ip_messaging.v2.service.binding
      type: object
    ip_messaging.v2.service.channel:
      example:
        friendly_name: friendly_name
        date_updated: 2000-01-23T04:56:07.000+00:00
        date_created: 2000-01-23T04:56:07.000+00:00
        type: type
        created_by: created_by
        url: https://openapi-generator.tech
        sid: sid
        service_sid: service_sid
        messages_count: 6
        unique_name: unique_name
        account_sid: account_sid
        attributes: attributes
        links: "{}"
        members_count: 0
      properties:
        account_sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          title: account_sid
          type: string
        attributes:
          nullable: true
          title: attributes
          type: string
        created_by:
          nullable: true
          title: created_by
          type: string
        date_created:
          format: date-time
          nullable: true
          title: date_created
          type: string
        date_updated:
          format: date-time
          nullable: true
          title: date_updated
          type: string
        friendly_name:
          nullable: true
          title: friendly_name
          type: string
        links:
          format: uri-map
          nullable: true
          title: links
          type: object
        members_count:
          nullable: true
          title: members_count
          type: integer
        messages_count:
          nullable: true
          title: messages_count
          type: integer
        service_sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^IS[0-9a-fA-F]{32}$"
          title: service_sid
          type: string
        sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^CH[0-9a-fA-F]{32}$"
          title: sid
          type: string
        type:
          $ref: '#/components/schemas/channel_enum_channel_type'
        unique_name:
          nullable: true
          title: unique_name
          type: string
        url:
          format: uri
          nullable: true
          title: url
          type: string
      title: ip_messaging.v2.service.channel
      type: object
    ip_messaging.v2.service.channel.channel_webhook:
      example:
        service_sid: service_sid
        date_updated: 2000-01-23T04:56:07.000+00:00
        configuration: ""
        date_created: 2000-01-23T04:56:07.000+00:00
        account_sid: account_sid
        type: type
        channel_sid: channel_sid
        url: https://openapi-generator.tech
        sid: sid
      properties:
        account_sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          title: account_sid
          type: string
        channel_sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^CH[0-9a-fA-F]{32}$"
          title: channel_sid
          type: string
        configuration:
          nullable: true
          title: configuration
        date_created:
          format: date-time
          nullable: true
          title: date_created
          type: string
        date_updated:
          format: date-time
          nullable: true
          title: date_updated
          type: string
        service_sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^IS[0-9a-fA-F]{32}$"
          title: service_sid
          type: string
        sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^WH[0-9a-fA-F]{32}$"
          title: sid
          type: string
        type:
          nullable: true
          title: type
          type: string
        url:
          format: uri
          nullable: true
          title: url
          type: string
      title: ip_messaging.v2.service.channel.channel_webhook
      type: object
    ip_messaging.v2.service.channel.invite:
      example:
        service_sid: service_sid
        date_updated: 2000-01-23T04:56:07.000+00:00
        role_sid: role_sid
        date_created: 2000-01-23T04:56:07.000+00:00
        identity: identity
        account_sid: account_sid
        created_by: created_by
        channel_sid: channel_sid
        url: https://openapi-generator.tech
        sid: sid
      properties:
        account_sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          title: account_sid
          type: string
        channel_sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^CH[0-9a-fA-F]{32}$"
          title: channel_sid
          type: string
        created_by:
          nullable: true
          title: created_by
          type: string
        date_created:
          format: date-time
          nullable: true
          title: date_created
          type: string
        date_updated:
          format: date-time
          nullable: true
          title: date_updated
          type: string
        identity:
          nullable: true
          title: identity
          type: string
        role_sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^RL[0-9a-fA-F]{32}$"
          title: role_sid
          type: string
        service_sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^IS[0-9a-fA-F]{32}$"
          title: service_sid
          type: string
        sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^IN[0-9a-fA-F]{32}$"
          title: sid
          type: string
        url:
          format: uri
          nullable: true
          title: url
          type: string
      title: ip_messaging.v2.service.channel.invite
      type: object
    ip_messaging.v2.service.channel.member:
      example:
        last_consumption_timestamp: 2000-01-23T04:56:07.000+00:00
        service_sid: service_sid
        date_updated: 2000-01-23T04:56:07.000+00:00
        role_sid: role_sid
        date_created: 2000-01-23T04:56:07.000+00:00
        identity: identity
        account_sid: account_sid
        attributes: attributes
        last_consumed_message_index: 0
        channel_sid: channel_sid
        url: https://openapi-generator.tech
        sid: sid
      properties:
        account_sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          title: account_sid
          type: string
        attributes:
          nullable: true
          title: attributes
          type: string
        channel_sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^CH[0-9a-fA-F]{32}$"
          title: channel_sid
          type: string
        date_created:
          format: date-time
          nullable: true
          title: date_created
          type: string
        date_updated:
          format: date-time
          nullable: true
          title: date_updated
          type: string
        identity:
          nullable: true
          title: identity
          type: string
        last_consumed_message_index:
          nullable: true
          title: last_consumed_message_index
          type: integer
        last_consumption_timestamp:
          format: date-time
          nullable: true
          title: last_consumption_timestamp
          type: string
        role_sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^RL[0-9a-fA-F]{32}$"
          title: role_sid
          type: string
        service_sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^IS[0-9a-fA-F]{32}$"
          title: service_sid
          type: string
        sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^MB[0-9a-fA-F]{32}$"
          title: sid
          type: string
        url:
          format: uri
          nullable: true
          title: url
          type: string
      title: ip_messaging.v2.service.channel.member
      type: object
    ip_messaging.v2.service.channel.message:
      example:
        date_updated: 2000-01-23T04:56:07.000+00:00
        date_created: 2000-01-23T04:56:07.000+00:00
        index: 0
        media: ""
        was_edited: true
        body: body
        type: type
        channel_sid: channel_sid
        url: https://openapi-generator.tech
        sid: sid
        service_sid: service_sid
        last_updated_by: last_updated_by
        account_sid: account_sid
        attributes: attributes
        from: from
        to: to
      properties:
        account_sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          title: account_sid
          type: string
        attributes:
          nullable: true
          title: attributes
          type: string
        body:
          nullable: true
          title: body
          type: string
        channel_sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^CH[0-9a-fA-F]{32}$"
          title: channel_sid
          type: string
        date_created:
          format: date-time
          nullable: true
          title: date_created
          type: string
        date_updated:
          format: date-time
          nullable: true
          title: date_updated
          type: string
        from:
          nullable: true
          title: from
          type: string
        index:
          nullable: true
          title: index
          type: integer
        last_updated_by:
          nullable: true
          title: last_updated_by
          type: string
        media:
          nullable: true
          title: media
        service_sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^IS[0-9a-fA-F]{32}$"
          title: service_sid
          type: string
        sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^IM[0-9a-fA-F]{32}$"
          title: sid
          type: string
        to:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^CH[0-9a-fA-F]{32}$"
          title: to
          type: string
        type:
          nullable: true
          title: type
          type: string
        url:
          format: uri
          nullable: true
          title: url
          type: string
        was_edited:
          nullable: true
          title: was_edited
          type: boolean
      title: ip_messaging.v2.service.channel.message
      type: object
    ip_messaging.v2.service.role:
      example:
        service_sid: service_sid
        friendly_name: friendly_name
        date_updated: 2000-01-23T04:56:07.000+00:00
        date_created: 2000-01-23T04:56:07.000+00:00
        permissions:
        - permissions
        - permissions
        account_sid: account_sid
        type: type
        url: https://openapi-generator.tech
        sid: sid
      properties:
        account_sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          title: account_sid
          type: string
        date_created:
          format: date-time
          nullable: true
          title: date_created
          type: string
        date_updated:
          format: date-time
          nullable: true
          title: date_updated
          type: string
        friendly_name:
          nullable: true
          title: friendly_name
          type: string
        permissions:
          items:
            type: string
          nullable: true
          title: permissions
[...]
