openapi: 3.0.1
info:
  title: AutomationManagement
  version: 2015-10-31
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/automation/resource-manager/Microsoft.Automation/stable/2015-10-31/dscConfiguration.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: automation-dscConfiguration
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/configurations
  : get:
      description: Retrieve a list of configurations.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/configurationoperations
      operationId: dsc_configuration_list_by_automation_account
      parameters:
      - description: Name of an Azure Resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the automation account.
        in: path
        name: automationAccountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        schema:
          type: string
      - description: The number of rows to skip.
        in: query
        name: $skip
        schema:
          type: integer
      - description: The number of rows to take.
        in: query
        name: $top
        schema:
          type: integer
      - description: Return total rows.
        in: query
        name: $inlinecount
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DscConfigurationListResult'
            text/plain; charset=utf-8:
              schema:
                $ref: '#/components/schemas/DscConfigurationListResult'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DscConfiguration_ListByAutomationAccount_default_response'
            text/plain; charset=utf-8:
              schema:
                $ref: '#/components/schemas/DscConfiguration_ListByAutomationAccount_default_response'
          description: Automation error response describing why the operation failed.
      tags:
      - DscConfiguration
      x-ms-examples:
        Get DSC Configuration:
          parameters:
            api-version: 2015-10-31
            automationAccountName: myAutomationAccount33
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/configurations/SetupServer
                  location: East US 2
                  name: SetupServer
                  properties:
                    creationTime: 2017-03-28T18:53:24.997+00:00
                    lastModifiedTime: 2017-03-28T18:53:24.997+00:00
                    state: Published
                  type: Microsoft.Automation/AutomationAccounts/Configurations
              headers: {}
        List Paged DSC Configurations with name filter:
          parameters:
            $filter: "contains(name,'server')"
            $inlinecount: allpages
            $skip: 0
            $top: 2
            api-version: 2015-10-31
            automationAccountName: myAutomationAccount33
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200":
              body:
                totalCount: 4
                value:
                - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/configurations/SqlServerBig
                  location: East US 2
                  name: SqlServerBig
                  properties:
                    creationTime: 2017-03-28T18:53:24.997+00:00
                    lastModifiedTime: 2017-03-28T18:53:24.997+00:00
                    nodeConfigurationCount: 1
                    state: Published
                  type: Microsoft.Automation/AutomationAccounts/Configurations
                - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/configurations/SqlServerLittle
                  location: East US 2
                  name: SqlServerLittle
                  properties:
                    creationTime: 2017-03-28T18:53:24.997+00:00
                    lastModifiedTime: 2017-03-28T18:53:24.997+00:00
                    nodeConfigurationCount: 1
                    state: Published
                  type: Microsoft.Automation/AutomationAccounts/Configurations
              headers: {}
        List Paged DSC Configurations with no filter:
          parameters:
            $inlinecount: allpages
            $skip: 0
            $top: 3
            api-version: 2015-10-31
            automationAccountName: myAutomationAccount33
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200":
              body:
                totalCount: 12
                value:
                - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/configurations/SqlServerBig
                  location: East US 2
                  name: SqlServerBig
                  properties:
                    creationTime: 2017-03-28T18:53:24.997+00:00
                    lastModifiedTime: 2017-03-28T18:53:24.997+00:00
                    nodeConfigurationCount: 1
                    state: Published
                  type: Microsoft.Automation/AutomationAccounts/Configurations
                - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/configurations/SqlServerLittle
                  location: East US 2
                  name: SqlServerLittle
                  properties:
                    creationTime: 2017-03-28T18:53:24.997+00:00
                    lastModifiedTime: 2017-03-28T18:53:24.997+00:00
                    nodeConfigurationCount: 1
                    state: Published
                  type: Microsoft.Automation/AutomationAccounts/Configurations
                - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/configurations/SetupServer
                  location: East US 2
                  name: SetupServer
                  properties:
                    creationTime: 2017-03-28T18:53:24.997+00:00
                    lastModifiedTime: 2017-03-28T18:53:24.997+00:00
                    nodeConfigurationCount: 1
                    state: Published
                  type: Microsoft.Automation/AutomationAccounts/Configurations
              headers: {}
      x-ms-odata: '#/definitions/DscConfiguration'
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.dsc_configuration_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/configurations/{configurationName}
  : delete:
      description: Delete the dsc configuration identified by configuration name.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/configurationoperations
      operationId: dsc_configuration_delete
      parameters:
      - description: Name of an Azure Resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the automation account.
        in: path
        name: automationAccountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The configuration name.
        in: path
        name: configurationName
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "204":
          content: {}
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DscConfiguration_ListByAutomationAccount_default_response'
            text/plain; charset=utf-8:
              schema:
                $ref: '#/components/schemas/DscConfiguration_ListByAutomationAccount_default_response'
          description: Automation error response describing why the operation failed.
      tags:
      - DscConfiguration
      x-ms-examples:
        Delete DSC Configuration:
          parameters:
            api-version: 2015-10-31
            automationAccountName: myAutomationAccount33
            configurationName: TemplateBasic
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200": {}
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.dsc_configuration_controller
    get:
      description: Retrieve the configuration identified by configuration name.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/configurationoperations
      operationId: dsc_configuration_get
      parameters:
      - description: Name of an Azure Resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the automation account.
        in: path
        name: automationAccountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The configuration name.
        in: path
        name: configurationName
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DscConfiguration'
            text/plain; charset=utf-8:
              schema:
                $ref: '#/components/schemas/DscConfiguration'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DscConfiguration_ListByAutomationAccount_default_response'
            text/plain; charset=utf-8:
              schema:
                $ref: '#/components/schemas/DscConfiguration_ListByAutomationAccount_default_response'
          description: Automation error response describing why the operation failed.
      tags:
      - DscConfiguration
      x-ms-examples:
        Get a DSC Configuration:
          parameters:
            api-version: 2015-10-31
            automationAccountName: myAutomationAccount33
            configurationName: TemplateBasic
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: '"636263396635600000"'
                id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/configurations/TemplateBasic
                location: East US 2
                name: TemplateBasic
                properties:
                  creationTime: 2017-03-28T23:14:23.56+00:00
                  description: sample configuration
                  jobCount: 0
                  lastModifiedTime: 2017-03-28T23:14:23.56+00:00
                  logVerbose: false
                  parameters: {}
                  state: Published
                tags: {}
                type: Microsoft.Automation/AutomationAccounts/Configurations
              headers: {}
      x-openapi-router-controller: openapi_server.controllers.dsc_configuration_controller
    patch:
      description: Create the configuration identified by configuration name.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/configurationoperations
      operationId: dsc_configuration_update
      parameters:
      - description: Name of an Azure Resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the automation account.
        in: path
        name: automationAccountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The create or update parameters for configuration.
        in: path
        name: configurationName
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DscConfigurationUpdateParameters'
          text/plain; charset=utf-8:
            schema:
              $ref: '#/components/schemas/DscConfigurationUpdateParameters'
        description: The create or update parameters for configuration.
        required: false
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DscConfiguration'
            text/plain; charset=utf-8:
              schema:
                $ref: '#/components/schemas/DscConfiguration'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DscConfiguration_ListByAutomationAccount_default_response'
            text/plain; charset=utf-8:
              schema:
                $ref: '#/components/schemas/DscConfiguration_ListByAutomationAccount_default_response'
          description: Automation error response describing why the operation failed.
      tags:
      - DscConfiguration
      x-ms-examples:
        Create or Update Configuration:
          parameters:
            api-version: 2015-10-31
            automationAccountName: myAutomationAccount18
            configurationName: SetupServer
            parameters:
              name: SetupServer
              tags:
                Hello: World
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: '"636572843399170000"'
                id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/configurations/SetupServer
                location: eastus2
                name: SetupServer
                properties:
                  creationTime: 0001-01-01T00:00:00+00:00
                  description: sample configuration
                  jobCount: 0
                  lastModifiedTime: 0001-01-01T00:00:00+00:00
                  logVerbose: false
                  parameters: {}
                  provisioningState: Succeeded
                tags:
                  Hello: World
                type: Microsoft.Automation/AutomationAccounts/Configurations
              headers: {}
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.dsc_configuration_controller
    put:
      description: Create the configuration identified by configuration name.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/configurationoperations
      operationId: dsc_configuration_create_or_update
      parameters:
      - description: Name of an Azure Resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the automation account.
        in: path
        name: automationAccountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The create or update parameters for configuration.
        in: path
        name: configurationName
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DscConfigurationCreateOrUpdateParameters'
          text/plain; charset=utf-8:
            schema:
              $ref: '#/components/schemas/DscConfigurationCreateOrUpdateParameters'
        description: The create or update parameters for configuration.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DscConfiguration'
            text/plain; charset=utf-8:
              schema:
                $ref: '#/components/schemas/DscConfiguration'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DscConfiguration'
            text/plain; charset=utf-8:
              schema:
                $ref: '#/components/schemas/DscConfiguration'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DscConfiguration_ListByAutomationAccount_default_response'
            text/plain; charset=utf-8:
              schema:
                $ref: '#/components/schemas/DscConfiguration_ListByAutomationAccount_default_response'
          description: Automation error response describing why the operation failed.
      tags:
      - DscConfiguration
      x-ms-examples:
        Create or Update Configuration:
          parameters:
            api-version: 2015-10-31
            automationAccountName: myAutomationAccount18
            configurationName: SetupServer
            parameters:
              location: East US 2
              name: SetupServer
              properties:
                description: sample configuration
                source:
                  hash:
                    algorithm: sha256
                    value: A9E5DB56BA21513F61E0B3868816FDC6D4DF5131F5617D7FF0D769674BD5072F
                  type: embeddedContent
                  value: "Configuration SetupServer {\r\n    Node localhost {\r\n\
                    \                               WindowsFeature IIS {\r\n     \
                    \                          Name = \"Web-Server\";\r\n        \
                    \    Ensure = \"Present\"\r\n        }\r\n    }\r\n}"
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/configurations/SetupServer
                location: East US 2
                name: SetupServer
                properties:
                  creationTime: 0001-01-01T00:00:00+00:00
                  description: sample configuration
                  jobCount: 0
                  lastModifiedTime: 0001-01-01T00:00:00+00:00
                  logVerbose: false
                  parameters: {}
                  provisioningState: Succeeded
                tags: {}
                type: Microsoft.Automation/AutomationAccounts/Configurations
              headers: {}
            "201":
              body:
                etag: '"636263396635600000"'
                id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/configurations/SetupServer
                location: East US 2
                name: SetupServer
                properties:
                  creationTime: 2017-03-28T23:14:23.56+00:00
                  description: sample configuration
                  jobCount: 0
                  lastModifiedTime: 2017-03-28T23:14:23.56+00:00
                  logVerbose: false
                  parameters: {}
                  provisioningState: Succeeded
                  state: Published
                tags: {}
                type: Microsoft.Automation/AutomationAccounts/Configurations
              headers: {}
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.dsc_configuration_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/configurations/{configurationName}/content
  : get:
      description: Retrieve the configuration script identified by configuration name.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/configurationoperations
      operationId: dsc_configuration_get_content
      parameters:
      - description: Name of an Azure Resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the automation account.
        in: path
        name: automationAccountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The configuration name.
        in: path
        name: configurationName
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            text/powershell:
              schema:
                format: binary
                type: string
          description: OK
        default:
          content:
            text/powershell:
              schema:
                $ref: '#/components/schemas/DscConfiguration_ListByAutomationAccount_default_response'
          description: Automation error response describing why the operation failed.
      tags:
      - DscConfiguration
      x-ms-examples:
        Get DSC Configuration content:
          parameters:
            api-version: 2015-10-31
            automationAccountName: myAutomationAccount33
            configurationName: ConfigName
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200":
              body: "Configuration ConfigName {\r\n    Node localhost {\r\n      \
                \                         WindowsFeature IIS {\r\n               \
                \                Name = \"Web-Server\";\r\n            Ensure = \"\
                Present\"\r\n        }\r\n    }\r\n}"
              headers:
                Content-Type: text/powershell
      x-openapi-router-controller: openapi_server.controllers.dsc_configuration_controller
components:
  schemas:
    ContentHash:
      description: Definition of the runbook property type.
      example:
        value: value
        algorithm: algorithm
      properties:
        algorithm:
          description: Gets or sets the content hash algorithm used to hash the content.
          title: algorithm
          type: string
        value:
          description: Gets or sets expected hash value of the content.
          title: value
          type: string
      required:
      - algorithm
      - value
      title: ContentHash
      type: object
    ContentSource:
      description: Definition of the content source.
      example:
        type: embeddedContent
        value: value
        version: version
        hash:
          value: value
          algorithm: algorithm
      properties:
        hash:
          $ref: '#/components/schemas/ContentHash'
        type:
          description: Gets or sets the content source type.
          enum:
          - embeddedContent
          - uri
          title: type
          type: string
          x-ms-enum:
            modelAsString: true
            name: ContentSourceType
        value:
          description: Gets or sets the value of the content. This is based on the
            content source type.
          title: value
          type: string
        version:
          description: Gets or sets the version of the content.
          title: version
          type: string
      title: ContentSource
      type: object
    DscConfiguration:
      allOf:
      - allOf:
        - description: The core properties of ARM resources
          properties:
            id:
              description: Fully qualified resource Id for the resource
              readOnly: true
              type: string
            name:
              description: The name of the resource
              readOnly: true
              type: string
            type:
              description: The type of the resource.
              readOnly: true
              type: string
          type: object
          x-ms-azure-resource: true
        description: The resource model definition for a ARM tracked top level resource
        properties:
          location:
            description: The Azure Region where the resource lives
            type: string
            x-ms-mutability:
            - read
            - create
          tags:
            additionalProperties:
              type: string
            description: Resource tags.
            type: object
            x-ms-mutability:
            - read
            - create
            - update
      description: Definition of the configuration type.
      example:
        etag: etag
        properties:
          lastModifiedTime: 2000-01-23T04:56:07.000+00:00
          creationTime: 2000-01-23T04:56:07.000+00:00
          nodeConfigurationCount: 1
          logVerbose: true
          description: description
          provisioningState: Succeeded
          source:
            type: embeddedContent
            value: value
            version: version
            hash:
              value: value
              algorithm: algorithm
          state: New
          jobCount: 6
          parameters:
            key:
              defaultValue: defaultValue
              position: 5
              type: type
              isMandatory: true
      properties:
        etag:
          description: Gets or sets the etag of the resource.
          title: etag
          type: string
        properties:
          $ref: '#/components/schemas/DscConfigurationProperties'
      title: DscConfiguration
    DscConfigurationCreateOrUpdateParameters:
      description: The parameters supplied to the create or update configuration operation.
      example:
        name: name
        location: location
        properties:
          logVerbose: true
          description: description
          logProgress: true
          source:
            type: embeddedContent
            value: value
            version: version
            hash:
              value: value
              algorithm: algorithm
          parameters:
            key:
              defaultValue: defaultValue
              position: 5
              type: type
              isMandatory: true
        tags:
          key: tags
      properties:
        location:
          description: Gets or sets the location of the resource.
          title: location
          type: string
        name:
          description: Gets or sets name of the resource.
          title: name
          type: string
        properties:
          $ref: '#/components/schemas/DscConfigurationCreateOrUpdateProperties'
        tags:
          additionalProperties:
            type: string
          description: Gets or sets the tags attached to the resource.
          title: tags
          type: object
      required:
      - properties
      title: DscConfigurationCreateOrUpdateParameters
      type: object
    DscConfigurationCreateOrUpdateProperties:
      description: The properties to create or update configuration.
      example:
        logVerbose: true
        description: description
        logProgress: true
        source:
          type: embeddedContent
          value: value
          version: version
          hash:
            value: value
            algorithm: algorithm
        parameters:
          key:
            defaultValue: defaultValue
            position: 5
            type: type
            isMandatory: true
      properties:
        description:
          description: Gets or sets the description of the configuration.
          title: description
          type: string
        logProgress:
          description: Gets or sets progress log option.
          title: logProgress
          type: boolean
        logVerbose:
          description: Gets or sets verbose log option.
          title: logVerbose
          type: boolean
        parameters:
          additionalProperties:
            $ref: '#/components/schemas/DscConfigurationParameter'
          description: Gets or sets the configuration parameters.
          title: parameters
          type: object
        source:
          $ref: '#/components/schemas/ContentSource'
      required:
      - source
      title: DscConfigurationCreateOrUpdateProperties
      type: object
    DscConfigurationListResult:
      description: The response model for the list configuration operation.
      example:
        totalCount: 0
        value:
        - etag: etag
          properties:
            lastModifiedTime: 2000-01-23T04:56:07.000+00:00
            creationTime: 2000-01-23T04:56:07.000+00:00
            nodeConfigurationCount: 1
            logVerbose: true
            description: description
            provisioningState: Succeeded
            source:
              type: embeddedContent
              value: value
              version: version
              hash:
                value: value
                algorithm: algorithm
            state: New
            jobCount: 6
            parameters:
              key:
                defaultValue: defaultValue
                position: 5
                type: type
                isMandatory: true
        - etag: etag
          properties:
            lastModifiedTime: 2000-01-23T04:56:07.000+00:00
            creationTime: 2000-01-23T04:56:07.000+00:00
            nodeConfigurationCount: 1
            logVerbose: true
            description: description
            provisioningState: Succeeded
            source:
              type: embeddedContent
              value: value
              version: version
              hash:
                value: value
                algorithm: algorithm
            state: New
            jobCount: 6
            parameters:
              key:
                defaultValue: defaultValue
                position: 5
                type: type
                isMandatory: true
        nextLink: nextLink
      properties:
        nextLink:
          description: Gets or sets the next link.
          title: nextLink
          type: string
        totalCount:
          description: Gets the total number of configurations matching filter criteria.
          title: totalCount
          type: integer
        value:
          description: Gets or sets a list of configurations.
          items:
            $ref: '#/components/schemas/DscConfiguration'
          title: value
          type: array
      title: DscConfigurationListResult
      type: object
    DscConfigurationParameter:
      description: Definition of the configuration parameter type.
      example:
        defaultValue: defaultValue
        position: 5
        type: type
        isMandatory: true
      properties:
        defaultValue:
          description: Gets or sets the default value of parameter.
          title: defaultValue
          type: string
        isMandatory:
          description: Gets or sets a Boolean value to indicate whether the parameter
            is mandatory or not.
          title: isMandatory
          type: boolean
        position:
          description: Get or sets the position of the parameter.
          format: int32
          title: position
          type: integer
        type:
          description: Gets or sets the type of the parameter.
          title: type
          type: string
      title: DscConfigurationParameter
      type: object
    DscConfigurationProperties:
      description: Definition of the configuration property type.
      example:
        lastModifiedTime: 2000-01-23T04:56:07.000+00:00
        creationTime: 2000-01-23T04:56:07.000+00:00
        nodeConfigurationCount: 1
        logVerbose: true
        description: description
        provisioningState: Succeeded
        source:
          type: embeddedContent
          value: value
          version: version
          hash:
            value: value
            algorithm: algorithm
        state: New
        jobCount: 6
        parameters:
          key:
            defaultValue: defaultValue
            position: 5
            type: type
            isMandatory: true
      properties:
        creationTime:
          description: Gets or sets the creation time.
          format: date-time
          nullable: false
          title: creationTime
          type: string
        description:
          description: Gets or sets the description.
          title: description
          type: string
        jobCount:
          description: Gets or sets the job count of the configuration.
          format: int32
          title: jobCount
          type: integer
        lastModifiedTime:
          description: Gets or sets the last modified time.
          format: date-time
          nullable: false
          title: lastModifiedTime
          type: string
        logVerbose:
          description: Gets or sets verbose log option.
          title: logVerbose
          type: boolean
        nodeConfigurationCount:
          description: Gets the number of compiled node configurations.
          nullable: false
          title: nodeConfigurationCount
          type: integer
        parameters:
          additionalProperties:
            $ref: '#/components/schemas/DscConfigurationParameter'
          description: Gets or sets the configuration parameters.
          title: parameters
          type: object
        provisioningState:
          description: Gets or sets the provisioning state of the configuration.
          enum:
          - Succeeded
          title: provisioningState
          type: string
          x-ms-enum:
            modelAsString: false
            name: DscConfigurationProvisioningState
        source:
          $ref: '#/components/schemas/ContentSource'
        state:
          description: Gets or sets the state of the configuration.
          enum:
          - New
          - Edit
          - Published
          title: state
          type: string
          x-ms-enum:
            modelAsString: true
            name: DscConfigurationState
      title: DscConfigurationProperties
      type: object
    DscConfigurationUpdateParameters:
      description: The parameters supplied to the create or update configuration operation.
      example:
        name: name
        properties:
          logVerbose: true
          description: description
          logProgress: true
          source:
            type: embeddedContent
            value: value
            version: version
            hash:
              value: value
              algorithm: algorithm
          parameters:
            key:
              defaultValue: defaultValue
              position: 5
              type: type
              isMandatory: true
        tags:
          key: tags
      properties:
        name:
          description: Gets or sets name of the resource.
          title: name
          type: string
        properties:
          $ref: '#/components/schemas/DscConfigurationCreateOrUpdateProperties'
        tags:
          additionalProperties:
            type: string
          description: Gets or sets the tags attached to the resource.
          title: tags
          type: object
      title: DscConfigurationUpdateParameters
      type: object
    DscConfiguration_ListByAutomationAccount_default_response:
      description: Error response of an operation failure
      example:
        code: code
        message: message
      properties:
        code:
          description: Error code
          title: code
          type: string
        message:
          description: Error message indicating why the operation failed.
          title: message
          type: string
      title: DscConfiguration_ListByAutomationAccount_default_response
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
