openapi: 3.0.1
info:
  description: Provides operations for working with resources and resource groups.
  title: ResourceManagementClient
  version: 2019-08-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/resources/resource-manager/Microsoft.Resources/stable/2019-08-01/resources.json
    version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: resources
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /providers:
    get:
      description: Gets all resource providers for the tenant.
      operationId: Providers_ListAtTenantScope
      parameters:
      - description: The number of results to return. If null is passed returns all
          providers.
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: "The properties to include in the results. For example, use &$expand=metadata\
          \ in the query string to retrieve resource provider metadata. To include\
          \ property aliases in response, use $expand=resourceTypes/aliases."
        in: query
        name: $expand
        schema:
          type: string
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderListResult'
          description: OK - Returns an array of resource providers.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Providers
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /providers/Microsoft.Management/managementGroups/{groupId}/providers/Microsoft.Resources/deployments/:
    get:
      description: Get all the deployments for a management group.
      operationId: Deployments_ListAtManagementGroupScope
      parameters:
      - description: The management group ID.
        in: path
        name: groupId
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "The filter to apply on the operation. For example, you can use\
          \ $filter=provisioningState eq '{state}'."
        in: query
        name: $filter
        schema:
          type: string
      - description: "The number of results to get. If null is passed, returns all\
          \ deployments."
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentListResult'
          description: OK - Returns an array of deployments.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Deployments
      x-ms-odata: '#/definitions/DeploymentExtendedFilter'
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /providers/Microsoft.Management/managementGroups/{groupId}/providers/Microsoft.Resources/deployments/{deploymentName}:
    delete:
      description: "A template deployment that is currently running cannot be deleted.\
        \ Deleting a template deployment removes the associated deployment operations.\
        \ This is an asynchronous operation that returns a status of 202 until the\
        \ template deployment is successfully deleted. The Location response header\
        \ contains the URI that is used to obtain the status of the process. While\
        \ the process is running, a call to the URI in the Location header returns\
        \ a status of 202. When the process finishes, the URI in the Location header\
        \ returns a status of 204 on success. If the asynchronous request failed,\
        \ the URI in the Location header returns an error-level status code."
      operationId: Deployments_DeleteAtManagementGroupScope
      parameters:
      - description: The management group ID.
        in: path
        name: groupId
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the deployment.
        in: path
        name: deploymentName
        required: true
        schema:
          maxLength: 64
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "202":
          content: {}
          description: Accepted - Returns this status until the asynchronous operation
            has completed.
        "204":
          content: {}
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      summary: Deletes a deployment from the deployment history.
      tags:
      - Deployments
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
    get:
      description: Gets a deployment.
      operationId: Deployments_GetAtManagementGroupScope
      parameters:
      - description: The management group ID.
        in: path
        name: groupId
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the deployment.
        in: path
        name: deploymentName
        required: true
        schema:
          maxLength: 64
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentExtended'
          description: "OK - Returns information about the deployment, including provisioning\
            \ status."
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Deployments
      x-accepts:
      - application/json
    head:
      description: Checks whether the deployment exists.
      operationId: Deployments_CheckExistenceAtManagementGroupScope
      parameters:
      - description: The management group ID.
        in: path
        name: groupId
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the deployment.
        in: path
        name: deploymentName
        required: true
        schema:
          maxLength: 64
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: No Content
        "404":
          content: {}
          description: Not Found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Deployments
      x-accepts:
      - application/json
    put:
      description: You can provide the template and parameters directly in the request
        or link to JSON files.
      operationId: Deployments_CreateOrUpdateAtManagementGroupScope
      parameters:
      - description: The management group ID.
        in: path
        name: groupId
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the deployment.
        in: path
        name: deploymentName
        required: true
        schema:
          maxLength: 64
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScopedDeployment'
        description: Additional parameters supplied to the operation.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentExtended'
          description: "OK - Returns information about the deployment, including provisioning\
            \ status."
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentExtended'
          description: "Created - Returns information about the deployment, including\
            \ provisioning status."
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      summary: Deploys resources at management group scope.
      tags:
      - Deployments
      x-ms-examples:
        Create deployment at management group scope.:
          parameters:
            api-version: 2019-08-01
            deploymentName: mg-dep01
            groupId: tiano-group1
            parameters:
              location: eastus
              properties:
                mode: Incremental
                parameters: {}
                templateLink: "{templateUri}"
          responses:
            "200":
              body:
                id: /providers/Microsoft.Management/managementGroups/tiano-group1/providers/Microsoft.Resources/deployments/mg-dep01
                location: eastus
                name: mg-dep01
                properties:
                  correlationId: "{correlationId}"
                  dependencies:
                  - dependsOn:
                    - id: /providers/Microsoft.Management/managementGroups/tiano-group1/providers/Microsoft.Authorization/policyDefinitions/policy2
                      resourceName: policy2
                      resourceType: Microsoft.Authorization/policyDefinitions
                    id: /providers/Microsoft.Management/managementGroups/tiano-group1/providers/Microsoft.Authorization/policyAssignments/location-lock
                    resourceName: location-lock
                    resourceType: Microsoft.Authorization/policyAssignments
                  duration: PT1.2970875S
                  mode: Incremental
                  parameters: {}
                  providers:
                  - namespace: Microsoft.Authorization
                    resourceTypes:
                    - locations:
                      - null
                      resourceType: policyDefinitions
                    - locations:
                      - null
                      resourceType: policyAssignments
                  - namespace: Microsoft.Resources
                    resourceTypes:
                    - locations:
                      - eastus
                      resourceType: deployments
                  provisioningState: Accepted
                  timestamp: 2019-04-24T22:52:38.7895563Z
                type: Microsoft.Resources/deployments
            "201":
              body:
                id: /providers/Microsoft.Management/managementGroups/tiano-group1/providers/Microsoft.Resources/deployments/mg-dep01
                location: eastus
                name: mg-dep01
                properties:
                  correlationId: "{correlationId}"
                  dependencies:
                  - dependsOn:
                    - id: /providers/Microsoft.Management/managementGroups/tiano-group1/providers/Microsoft.Authorization/policyDefinitions/policy2
                      resourceName: policy2
                      resourceType: Microsoft.Authorization/policyDefinitions
                    id: /providers/Microsoft.Management/managementGroups/tiano-group1/providers/Microsoft.Authorization/policyAssignments/location-lock
                    resourceName: location-lock
                    resourceType: Microsoft.Authorization/policyAssignments
                  duration: PT1.2970875S
                  mode: Incremental
                  parameters: {}
                  providers:
                  - namespace: Microsoft.Authorization
                    resourceTypes:
                    - locations:
                      - null
                      resourceType: policyDefinitions
                    - locations:
                      - null
                      resourceType: policyAssignments
                  - namespace: Microsoft.Resources
                    resourceTypes:
                    - locations:
                      - eastus
                      resourceType: deployments
                  provisioningState: Accepted
                  timestamp: 2019-04-24T22:52:38.7895563Z
                type: Microsoft.Resources/deployments
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  /providers/Microsoft.Management/managementGroups/{groupId}/providers/Microsoft.Resources/deployments/{deploymentName}/cancel:
    post:
      description: "You can cancel a deployment only if the provisioningState is Accepted\
        \ or Running. After the deployment is canceled, the provisioningState is set\
        \ to Canceled. Canceling a template deployment stops the currently running\
        \ template deployment and leaves the resources partially deployed."
      operationId: Deployments_CancelAtManagementGroupScope
      parameters:
      - description: The management group ID.
        in: path
        name: groupId
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the deployment.
        in: path
        name: deploymentName
        required: true
        schema:
          maxLength: 64
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      summary: Cancels a currently running template deployment.
      tags:
      - Deployments
      x-accepts:
      - application/json
  ? /providers/Microsoft.Management/managementGroups/{groupId}/providers/Microsoft.Resources/deployments/{deploymentName}/exportTemplate
  : post:
      description: Exports the template used for specified deployment.
      operationId: Deployments_ExportTemplateAtManagementGroupScope
      parameters:
      - description: The management group ID.
        in: path
        name: groupId
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the deployment.
        in: path
        name: deploymentName
        required: true
        schema:
          maxLength: 64
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentExportResult'
          description: OK - Returns the template.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Deployments
      x-accepts:
      - application/json
  ? /providers/Microsoft.Management/managementGroups/{groupId}/providers/Microsoft.Resources/deployments/{deploymentName}/operations
  : get:
      description: Gets all deployments operations for a deployment.
      operationId: DeploymentOperations_ListAtManagementGroupScope
      parameters:
      - description: The management group ID.
        in: path
        name: groupId
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the deployment.
        in: path
        name: deploymentName
        required: true
        schema:
          maxLength: 64
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The number of results to return.
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentOperationsListResult'
          description: OK - Return an array of deployment operations.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - DeploymentOperations
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /providers/Microsoft.Management/managementGroups/{groupId}/providers/Microsoft.Resources/deployments/{deploymentName}/operations/{operationId}
  : get:
      description: Gets a deployments operation.
      operationId: DeploymentOperations_GetAtManagementGroupScope
      parameters:
      - description: The management group ID.
        in: path
        name: groupId
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the deployment.
        in: path
        name: deploymentName
        required: true
        schema:
          maxLength: 64
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The ID of the operation to get.
        in: path
        name: operationId
        required: true
        schema:
          type: string
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentOperation'
          description: OK - Returns information about the deployment operation.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - DeploymentOperations
      x-accepts:
      - application/json
  /providers/Microsoft.Management/managementGroups/{groupId}/providers/Microsoft.Resources/deployments/{deploymentName}/validate:
    post:
      description: Validates whether the specified template is syntactically correct
        and will be accepted by Azure Resource Manager..
      operationId: Deployments_ValidateAtManagementGroupScope
      parameters:
      - description: The management group ID.
        in: path
        name: groupId
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the deployment.
        in: path
        name: deploymentName
        required: true
        schema:
          maxLength: 64
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScopedDeployment'
        description: Parameters to validate.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentValidateResult'
          description: OK - Returns the validation result.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentValidateResult'
          description: Returns the validation result.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Deployments
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  /providers/Microsoft.Resources/calculateTemplateHash:
    post:
      description: Calculate the hash of the given template.
      operationId: Deployments_CalculateTemplateHash
      parameters:
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
        description: The template provided to calculate hash.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateHashResult'
          description: OK - Returns the hash.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Deployments
      x-ms-examples:
        Calculate template hash:
          parameters:
            api-version: 2019-08-01
            template:
              $schema: http://schemas.management.azure.com/deploymentTemplate?api-version=2014-04-01-preview
              contentVersion: 1.0.0.0
              outputs:
                string:
                  type: string
                  value: myvalue
              parameters:
                string:
                  type: string
              resources: []
              variables:
                array:
                - 1
                - 2
                - 3
                - 4
                bool: true
                int: 42
                object:
                  object:
                    location: West US
                    vmSize: Large
                string: string
          responses:
            "200":
              body:
                minifiedTemplate: "{\"$SCHEMA\":\"HTTP://SCHEMAS.MANAGEMENT.AZURE.COM/DEPLOYMENTTEMPLATE?API-VERSION=2014-04-01-PREVIEW\"\
                  ,\"CONTENTVERSION\":\"1.0.0.0\",\"PARAMETERS\":{\"STRING\":{\"TYPE\"\
                  :\"STRING\"}},\"VARIABLES\":{\"STRING\":\"STRING\",\"INT\":42,\"\
                  BOOL\":TRUE,\"ARRAY\":[1,2,3,4],\"OBJECT\":{\"OBJECT\":{\"VMSIZE\"\
                  :\"LARGE\",\"LOCATION\":\"WEST US\"}}},\"RESOURCES\":[],\"OUTPUTS\"\
                  :{\"STRING\":{\"TYPE\":\"STRING\",\"VALUE\":\"MYVALUE\"}}}"
                templateHash: "695440707931307747"
      x-codegen-request-body-name: template
      x-content-type: application/json
      x-accepts:
      - application/json
  /providers/Microsoft.Resources/deployments/:
    get:
      description: Get all the deployments at the tenant scope.
      operationId: Deployments_ListAtTenantScope
      parameters:
      - description: "The filter to apply on the operation. For example, you can use\
          \ $filter=provisioningState eq '{state}'."
        in: query
        name: $filter
        schema:
          type: string
      - description: "The number of results to get. If null is passed, returns all\
          \ deployments."
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentListResult'
          description: OK - Returns an array of deployments.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Deployments
      x-ms-odata: '#/definitions/DeploymentExtendedFilter'
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /providers/Microsoft.Resources/deployments/{deploymentName}:
    delete:
      description: "A template deployment that is currently running cannot be deleted.\
        \ Deleting a template deployment removes the associated deployment operations.\
        \ This is an asynchronous operation that returns a status of 202 until the\
        \ template deployment is successfully deleted. The Location response header\
        \ contains the URI that is used to obtain the status of the process. While\
        \ the process is running, a call to the URI in the Location header returns\
        \ a status of 202. When the process finishes, the URI in the Location header\
        \ returns a status of 204 on success. If the asynchronous request failed,\
        \ the URI in the Location header returns an error-level status code."
      operationId: Deployments_DeleteAtTenantScope
      parameters:
      - description: The name of the deployment.
        in: path
        name: deploymentName
        required: true
        schema:
          maxLength: 64
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "202":
          content: {}
          description: Accepted - Returns this status until the asynchronous operation
            has completed.
        "204":
          content: {}
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      summary: Deletes a deployment from the deployment history.
      tags:
      - Deployments
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
    get:
      description: Gets a deployment.
      operationId: Deployments_GetAtTenantScope
      parameters:
      - description: The name of the deployment.
        in: path
        name: deploymentName
        required: true
        schema:
          maxLength: 64
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentExtended'
          description: "OK - Returns information about the deployment, including provisioning\
            \ status."
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Deployments
      x-accepts:
      - application/json
    head:
      description: Checks whether the deployment exists.
      operationId: Deployments_CheckExistenceAtTenantScope
      parameters:
      - description: The name of the deployment.
        in: path
        name: deploymentName
        required: true
        schema:
          maxLength: 64
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: No Content
        "404":
          content: {}
          description: Not Found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Deployments
      x-accepts:
      - application/json
    put:
      description: You can provide the template and parameters directly in the request
        or link to JSON files.
      operationId: Deployments_CreateOrUpdateAtTenantScope
      parameters:
      - description: The name of the deployment.
        in: path
        name: deploymentName
        required: true
        schema:
          maxLength: 64
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScopedDeployment'
        description: Additional parameters supplied to the operation.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentExtended'
          description: "OK - Returns information about the deployment, including provisioning\
            \ status."
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentExtended'
          description: "Created - Returns information about the deployment, including\
            \ provisioning status."
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      summary: Deploys resources at tenant scope.
      tags:
      - Deployments
      x-ms-examples:
        Create deployment at tenant scope.:
          parameters:
            api-version: 2019-08-01
            deploymentName: tenant-dep01
            parameters:
              location: eastus
              properties:
                mode: Incremental
                parameters: {}
                templateLink: "{templateUri}"
          responses:
            "200":
              body:
                id: /providers/Microsoft.Resources/deployments/tenant-dep01
                location: eastus
                name: tenant-dep01
                properties:
                  correlationId: "{correlationId}"
                  dependencies:
                  - dependsOn:
                    - id: /providers/Microsoft.Authorization/policyDefinitions/policy2
                      resourceName: policy2
                      resourceType: Microsoft.Authorization/policyDefinitions
                    id: /providers/Microsoft.Authorization/policyAssignments/location-lock
                    resourceName: location-lock
                    resourceType: Microsoft.Authorization/policyAssignments
                  duration: PT1.2970875S
                  mode: Incremental
                  parameters: {}
                  providers:
                  - namespace: Microsoft.Authorization
                    resourceTypes:
                    - locations:
                      - null
                      resourceType: policyDefinitions
                    - locations:
                      - null
                      resourceType: policyAssignments
                  - namespace: Microsoft.Resources
                    resourceTypes:
                    - locations:
                      - eastus
                      resourceType: deployments
                  provisioningState: Accepted
                  timestamp: 2019-04-24T22:52:38.7895563Z
                type: Microsoft.Resources/deployments
            "201":
              body:
                id: /providers/Microsoft.Resources/deployments/tenant-dep01
                location: eastus
                name: tenant-dep01
                properties:
                  correlationId: "{correlationId}"
                  dependencies:
                  - dependsOn:
                    - id: /providers/Microsoft.Authorization/policyDefinitions/policy2
                      resourceName: policy2
                      resourceType: Microsoft.Authorization/policyDefinitions
                    id: /providers/Microsoft.Authorization/policyAssignments/location-lock
                    resourceName: location-lock
                    resourceType: Microsoft.Authorization/policyAssignments
                  duration: PT1.2970875S
                  mode: Incremental
                  parameters: {}
                  providers:
                  - namespace: Microsoft.Authorization
                    resourceTypes:
                    - locations:
                      - null
                      resourceType: policyDefinitions
                    - locations:
                      - null
                      resourceType: policyAssignments
                  - namespace: Microsoft.Resources
                    resourceTypes:
                    - locations:
                      - eastus
                      resourceType: deployments
                  provisioningState: Accepted
                  timestamp: 2019-04-24T22:52:38.7895563Z
                type: Microsoft.Resources/deployments
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  /providers/Microsoft.Resources/deployments/{deploymentName}/cancel:
    post:
      description: "You can cancel a deployment only if the provisioningState is Accepted\
        \ or Running. After the deployment is canceled, the provisioningState is set\
        \ to Canceled. Canceling a template deployment stops the currently running\
        \ template deployment and leaves the resources partially deployed."
      operationId: Deployments_CancelAtTenantScope
      parameters:
      - description: The name of the deployment.
        in: path
        name: deploymentName
        required: true
        schema:
          maxLength: 64
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      summary: Cancels a currently running template deployment.
      tags:
      - Deployments
      x-accepts:
      - application/json
  /providers/Microsoft.Resources/deployments/{deploymentName}/exportTemplate:
    post:
      description: Exports the template used for specified deployment.
      operationId: Deployments_ExportTemplateAtTenantScope
      parameters:
      - description: The name of the deployment.
        in: path
        name: deploymentName
        required: true
        schema:
          maxLength: 64
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentExportResult'
          description: OK - Returns the template.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Deployments
      x-accepts:
      - application/json
  /providers/Microsoft.Resources/deployments/{deploymentName}/operations:
    get:
      description: Gets all deployments operations for a deployment.
      operationId: DeploymentOperations_ListAtTenantScope
      parameters:
      - description: The name of the deployment.
        in: path
        name: deploymentName
        required: true
        schema:
          maxLength: 64
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The number of results to return.
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentOperationsListResult'
          description: OK - Return an array of deployment operations.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - DeploymentOperations
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /providers/Microsoft.Resources/deployments/{deploymentName}/operations/{operationId}:
    get:
      description: Gets a deployments operation.
      operationId: DeploymentOperations_GetAtTenantScope
      parameters:
      - description: The name of the deployment.
        in: path
        name: deploymentName
        required: true
        schema:
          maxLength: 64
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The ID of the operation to get.
        in: path
        name: operationId
        required: true
        schema:
          type: string
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentOperation'
          description: OK - Returns information about the deployment operation.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - DeploymentOperations
      x-accepts:
      - application/json
  /providers/Microsoft.Resources/deployments/{deploymentName}/validate:
    post:
      description: Validates whether the specified template is syntactically correct
        and will be accepted by Azure Resource Manager..
      operationId: Deployments_ValidateAtTenantScope
      parameters:
      - description: The name of the deployment.
        in: path
        name: deploymentName
        required: true
        schema:
          maxLength: 64
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScopedDeployment'
        description: Parameters to validate.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentValidateResult'
          description: OK - Returns the validation result.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentValidateResult'
          description: Returns the validation result.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Deployments
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  /providers/Microsoft.Resources/operations:
    get:
      description: Lists all of the available Microsoft.Resources REST API operations.
      operationId: Operations_List
      parameters:
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Operations
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /providers/{resourceProviderNamespace}:
    get:
      description: Gets the specified resource provider at the tenant level.
      operationId: Providers_GetAtTenantScope
      parameters:
      - description: "The $expand query parameter. For example, to include property\
          \ aliases in response, use $expand=resourceTypes/aliases."
        in: query
        name: $expand
        schema:
          type: string
      - description: The namespace of the resource provider.
        in: path
        name: resourceProviderNamespace
        required: true
        schema:
          type: string
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Provider'
          description: OK - Returns information about the resource provider.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Providers
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers:
    get:
      description: Gets all resource providers for a subscription.
      operationId: Providers_List
      parameters:
      - description: The number of results to return. If null is passed returns all
          deployments.
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: "The properties to include in the results. For example, use &$expand=metadata\
          \ in the query string to retrieve resource provider metadata. To include\
          \ property aliases in response, use $expand=resourceTypes/aliases."
        in: query
        name: $expand
        schema:
          type: string
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderListResult'
          description: OK - Returns an array of resource providers.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Providers
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.Resources/deployments/:
    get:
      description: Get all the deployments for a subscription.
      operationId: Deployments_ListAtSubscriptionScope
      parameters:
      - description: "The filter to apply on the operation. For example, you can use\
          \ $filter=provisioningState eq '{state}'."
        in: query
        name: $filter
        schema:
          type: string
      - description: "The number of results to get. If null is passed, returns all\
          \ deployments."
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentListResult'
          description: OK - Returns an array of deployments.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Deployments
      x-ms-odata: '#/definitions/DeploymentExtendedFilter'
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.Resources/deployments/{deploymentName}:
    delete:
      description: "A template deployment that is currently running cannot be deleted.\
        \ Deleting a template deployment removes the associated deployment operations.\
        \ This is an asynchronous operation that returns a status of 202 until the\
        \ template deployment is successfully deleted. The Location response header\
        \ contains the URI that is used to obtain the status of the process. While\
        \ the process is running, a call to the URI in the Location header returns\
        \ a status of 202. When the process finishes, the URI in the Location header\
        \ returns a status of 204 on success. If the asynchronous request failed,\
        \ the URI in the Location header returns an error-level status code."
      operationId: Deployments_DeleteAtSubscriptionScope
      parameters:
      - description: The name of the deployment.
        in: path
        name: deploymentName
        required: true
        schema:
          maxLength: 64
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "202":
          content: {}
          description: Accepted - Returns this status until the asynchronous operation
            has completed.
        "204":
          content: {}
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      summary: Deletes a deployment from the deployment history.
      tags:
      - Deployments
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
    get:
      description: Gets a deployment.
      operationId: Deployments_GetAtSubscriptionScope
      parameters:
      - description: The name of the deployment.
        in: path
        name: deploymentName
        required: true
        schema:
          maxLength: 64
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentExtended'
          description: "OK - Returns information about the deployment, including provisioning\
            \ status."
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Deployments
      x-accepts:
      - application/json
    head:
      description: Checks whether the deployment exists.
      operationId: Deployments_CheckExistenceAtSubscriptionScope
      parameters:
      - description: The name of the deployment.
        in: path
        name: deploymentName
        required: true
        schema:
          maxLength: 64
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: No Content
        "404":
          content: {}
          description: Not Found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Deployments
      x-accepts:
      - application/json
    put:
      description: You can provide the template and parameters directly in the request
        or link to JSON files.
      operationId: Deployments_CreateOrUpdateAtSubscriptionScope
      parameters:
      - description: The name of the deployment.
        in: path
        name: deploymentName
        required: true
        schema:
          maxLength: 64
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Deployment'
        description: Additional parameters supplied to the operation.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentExtended'
          description: "OK - Returns information about the deployment, including provisioning\
            \ status."
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentExtended'
          description: "Created - Returns information about the deployment, including\
            \ provisioning status."
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      summary: Deploys resources at subscription scope.
      tags:
      - Deployments
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.Resources/deployments/{deploymentName}/cancel:
    post:
      description: "You can cancel a deployment only if the provisioningState is Accepted\
        \ or Running. After the deployment is canceled, the provisioningState is set\
        \ to Canceled. Canceling a template deployment stops the currently running\
        \ template deployment and leaves the resources partially deployed."
      operationId: Deployments_CancelAtSubscriptionScope
      parameters:
      - description: The name of the deployment.
        in: path
        name: deploymentName
        required: true
        schema:
          maxLength: 64
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      summary: Cancels a currently running template deployment.
      tags:
      - Deployments
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.Resources/deployments/{deploymentName}/exportTemplate:
    post:
      description: Exports the template used for specified deployment.
      operationId: Deployments_ExportTemplateAtSubscriptionScope
      parameters:
      - description: The name of the deployment.
        in: path
        name: deploymentName
        required: true
        schema:
          maxLength: 64
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentExportResult'
          description: OK - Returns the template.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Deployments
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.Resources/deployments/{deploymentName}/operations:
    get:
      description: Gets all deployments operations for a deployment.
      operationId: DeploymentOperations_ListAtSubscriptionScope
      parameters:
      - description: The name of the deployment.
        in: path
        name: deploymentName
        required: true
        schema:
          maxLength: 64
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The number of results to return.
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentOperationsListResult'
          description: OK - Return an array of deployment operations.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - DeploymentOperations
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.Resources/deployments/{deploymentName}/operations/{operationId}:
    get:
      description: Gets a deployments operation.
      operationId: DeploymentOperations_GetAtSubscriptionScope
      parameters:
      - description: The name of the deployment.
        in: path
        name: deploymentName
        required: true
        schema:
          maxLength: 64
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The ID of the operation to get.
        in: path
        name: operationId
        required: true
        schema:
          type: string
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentOperation'
          description: OK - Returns information about the deployment operation.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - DeploymentOperations
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.Resources/deployments/{deploymentName}/validate:
    post:
      description: Validates whether the specified template is syntactically correct
        and will be accepted by Azure Resource Manager..
      operationId: Deployments_ValidateAtSubscriptionScope
      parameters:
      - description: The name of the deployment.
        in: path
        name: deploymentName
        required: true
        schema:
          maxLength: 64
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Deployment'
        description: Parameters to validate.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentValidateResult'
          description: OK - Returns the validation result.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentValidateResult'
          description: Returns the validation result.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Deployments
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.Resources/deployments/{deploymentName}/whatIf:
    post:
      description: Returns changes that will be made by the deployment if executed
        at the scope of the subscription.
      operationId: Deployments_WhatIfAtSubscriptionScope
      parameters:
      - description: The name of the deployment.
        in: path
        name: deploymentName
        required: true
        schema:
          maxLength: 64
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeploymentWhatIf'
        description: Parameters to What If.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatIfOperationResult'
          description: OK - Returns What-If operation status
        "202":
          content: {}
          description: Accepted - Returns URL in Location header to query for long-running
            operation status.
          headers:
            Retry-After:
              description: Number of seconds to wait before polling for status.
              schema:
                type: string
            Location:
              description: URL to get status of this long-running operation.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Deployments
      x-ms-examples:
        Predict template changes at subscription scope:
          parameters:
            api-version: 2019-08-01
            deploymentName: exampleDeploymentName
            parameters:
              location: westus
              properties:
                mode: Incremental
                parameters: {}
                templateLink: https://example.com/exampleTemplate.json
            subscriptionId: 00000000-0000-0000-0000-000000000001
          responses:
            "200":
              body:
                properties:
                  changes:
                  - after:
                      apiVersion: 2018-11-30
                      id: /subscriptions/00000000-0000-0000-0000-000000000001/resourceGroups/myResourceGroup/providers/Microsoft.ManagedIdentity/userAssignedIdentities/myExistingIdentity
                      location: westus2
                      name: myExistingIdentity
                      tags:
                        myNewTag: my tag value
                      type: Microsoft.ManagedIdentity/userAssignedIdentities
                    before:
                      apiVersion: 2018-11-30
                      id: /subscriptions/00000000-0000-0000-0000-000000000001/resourceGroups/myResourceGroup/providers/Microsoft.ManagedIdentity/userAssignedIdentities/myExistingIdentity
                      location: westus2
                      name: myExistingIdentity
                      type: Microsoft.ManagedIdentity/userAssignedIdentities
                    changeType: Modify
                    delta:
                    - after: my tag value
                      path: tags.myNewTag
                      propertyChangeType: Create
                    resourceId: /subscriptions/00000000-0000-0000-0000-000000000001/resourceGroups/myResourceGroup/providers/Microsoft.ManagedIdentity/userAssignedIdentities/myExistingIdentity
                  - after:
                      apiVersion: 2018-11-30
                      id: /subscriptions/00000000-0000-0000-0000-000000000001/resourceGroups/myResourceGroup/providers/Microsoft.ManagedIdentity/userAssignedIdentities/myNewIdentity
                      location: eastus
                      name: myNewIdentity
                      tags:
                        myOtherNewTag: another new tag value
                      type: Microsoft.ManagedIdentity/userAssignedIdentities
                    changeType: Create
                    resourceId: /subscriptions/00000000-0000-0000-0000-000000000001/resourceGroups/myResourceGroup/providers/Microsoft.ManagedIdentity/userAssignedIdentities/myNewIdentity
                  - after:
                      apiVersion: 2019-03-01
                      id: /subscriptions/00000000-0000-0000-0000-000000000001/resourceGroups/myResourceGroup2
                      location: "{location3}"
                      name: myResourceGroup2
                      type: Microsoft.Resources/resourceGroups
                    changeType: Create
                    resourceId: /subscriptions/00000000-0000-0000-0000-000000000001/resourceGroups/myResourceGroup2
                status: succeeded
            "202":
              headers:
                Location: /subscriptions/4d0ca63b-7939-4c9c-afbe-5fafae501724/operationresults/ZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZ
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/{resourceProviderNamespace}:
    get:
      description: Gets the specified resource provider.
      operationId: Providers_Get
      parameters:
      - description: "The $expand query parameter. For example, to include property\
          \ aliases in response, use $expand=resourceTypes/aliases."
        in: query
        name: $expand
        schema:
          type: string
      - description: The namespace of the resource provider.
        in: path
        name: resourceProviderNamespace
        required: true
        schema:
          type: string
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Provider'
          description: OK - Returns information about the resource provider.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Providers
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/{resourceProviderNamespace}/register:
    post:
      description: Registers a subscription with a resource provider.
      operationId: Providers_Register
      parameters:
      - description: The namespace of the resource provider to register.
        in: path
        name: resourceProviderNamespace
        required: true
        schema:
          type: string
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Provider'
          description: OK - Returns information about the resource provider.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Providers
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/{resourceProviderNamespace}/unregister:
    post:
      description: Unregisters a subscription from a resource provider.
      operationId: Providers_Unregister
      parameters:
      - description: The namespace of the resource provider to unregister.
        in: path
        name: resourceProviderNamespace
        required: true
        schema:
          type: string
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Provider'
          description: OK - Returns information about the resource provider.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Providers
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/resources:
    get:
      description: Get all the resources for a resource group.
      operationId: Resources_ListByResourceGroup
      parameters:
      - description: The resource group with the resources to get.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: "The filter to apply on the operation.<br><br>The properties\
          \ you can use for eq (equals) or ne (not equals) are: location, resourceType,\
          \ name, resourceGroup, identity, identity/principalId, plan, plan/publisher,\
          \ plan/product, plan/name, plan/version, and plan/promotionCode.<br><br>For\
          \ example, to filter by a resource type, use: $filter=resourceType eq 'Microsoft.Network/virtualNetworks'<br><br>You\
          \ can use substringof(value, property) in the filter. The properties you\
          \ can use for substring are: name and resourceGroup.<br><br>For example,\
          \ to get all resources with 'demo' anywhere in the name, use: $filter=substringof('demo',\
          \ name)<br><br>You can link more than one substringof together by adding\
          \ and/or operators.<br><br>You can filter by tag names and values. For example,\
          \ to filter for a tag name and value, use $filter=tagName eq 'tag1' and\
          \ tagValue eq 'Value1'. When you filter by a tag name and value, the tags\
          \ for each resource are not returned in the results.<br><br>You can use\
          \ some properties together when filtering. The combinations you can use\
          \ are: substringof and/or resourceType, plan and plan/publisher and plan/name,\
          \ identity and identity/principalId."
        in: query
        name: $filter
        schema:
          type: string
      - description: "The $expand query parameter. You can expand createdTime and\
          \ changedTime. For example, to expand both properties, use $expand=changedTime,createdTime"
        in: query
        name: $expand
        schema:
          type: string
      - description: "The number of results to return. If null is passed, returns\
          \ all resources."
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceListResult'
          description: OK - Returns an array of resources
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - ResourceGroups
      x-ms-odata: '#/definitions/GenericResourceFilter'
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{sourceResourceGroupName}/moveResources:
    post:
      description: "The resources to move must be in the same source resource group.\
        \ The target resource group may be in a different subscription. When moving\
        \ resources, both the source group and the target group are locked for the\
        \ duration of the operation. Write and delete operations are blocked on the\
        \ groups until the move completes. "
      operationId: Resources_MoveResources
      parameters:
      - description: The name of the resource group containing the resources to move.
        in: path
        name: sourceResourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourcesMoveInfo'
        description: Parameters for moving resources.
        required: true
      responses:
        "202":
          content: {}
          description: Accepted
        "204":
          content: {}
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      summary: Moves resources from one resource group to another resource group.
      tags:
      - Resources
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{sourceResourceGroupName}/validateMoveResources:
    post:
      description: "This operation checks whether the specified resources can be moved\
        \ to the target. The resources to move must be in the same source resource\
        \ group. The target resource group may be in a different subscription. If\
        \ validation succeeds, it returns HTTP response code 204 (no content). If\
        \ validation fails, it returns HTTP response code 409 (Conflict) with an error\
        \ message. Retrieve the URL in the Location header value to check the result\
        \ of the long-running operation."
      operationId: Resources_ValidateMoveResources
      parameters:
      - description: The name of the resource group containing the resources to validate
          for move.
        in: path
        name: sourceResourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourcesMoveInfo'
        description: Parameters for moving resources.
        required: true
      responses:
        "202":
          content: {}
          description: Accepted
        "204":
          content: {}
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      summary: Validates whether resources can be moved from one resource group to
        another resource group.
      tags:
      - Resources
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourcegroups:
    get:
      description: Gets all the resource groups for a subscription.
      operationId: ResourceGroups_List
      parameters:
      - description: "The filter to apply on the operation.<br><br>You can filter\
          \ by tag names and values. For example, to filter for a tag name and value,\
          \ use $filter=tagName eq 'tag1' and tagValue eq 'Value1'"
        in: query
        name: $filter
        schema:
          type: string
      - description: "The number of results to return. If null is passed, returns\
          \ all resource groups."
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceGroupListResult'
          description: OK - Returns an array of resource groups.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - ResourceGroups
      x-ms-odata: '#/definitions/ResourceGroupFilter'
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}:
    delete:
      description: "When you delete a resource group, all of its resources are also\
        \ deleted. Deleting a resource group deletes all of its template deployments\
        \ and currently stored operations."
      operationId: ResourceGroups_Delete
      parameters:
      - description: The name of the resource group to delete. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "202":
          content: {}
          description: Accepted
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      summary: Deletes a resource group.
      tags:
      - ResourceGroups
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
    get:
      description: Gets a resource group.
      operationId: ResourceGroups_Get
      parameters:
      - description: The name of the resource group to get. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceGroup'
          description: OK - Returns information about the resource group.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - ResourceGroups
      x-accepts:
      - application/json
    head:
      description: Checks whether a resource group exists.
      operationId: ResourceGroups_CheckExistence
      parameters:
      - description: The name of the resource group to check. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: No Content
        "404":
          content: {}
          description: Not Found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - ResourceGroups
      x-accepts:
      - application/json
    patch:
      description: "Resource groups can be updated through a simple PATCH operation\
        \ to a group address. The format of the request is the same as that for creating\
        \ a resource group. If a field is unspecified, the current value is retained."
      operationId: ResourceGroups_Update
      parameters:
      - description: The name of the resource group to update. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceGroupPatchable'
        description: Parameters supplied to update a resource group.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceGroup'
          description: OK - Returns information about the resource group.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      summary: Updates a resource group.
      tags:
      - ResourceGroups
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: Creates or updates a resource group.
      operationId: ResourceGroups_CreateOrUpdate
      parameters:
      - description: "The name of the resource group to create or update. Can include\
          \ alphanumeric, underscore, parentheses, hyphen, period (except at end),\
          \ and Unicode characters that match the allowed characters."
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceGroup'
        description: Parameters supplied to the create or update a resource group.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceGroup'
          description: OK - Returns information about the new resource group.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceGroup'
          description: Created - Returns information about the new resource group.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - ResourceGroups
      x-ms-examples:
        Create or update a resource group:
          parameters:
            api-version: 2019-08-01
            parameters:
              location: eastus
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                id: "/subscriptions/{subscription-id}/resourceGroups/myResourceGroup"
                location: eastus
                name: myResourceGroup
                properties:
                  provisioningState: Succeeded
            "201":
              body:
                id: "/subscriptions/{subscription-id}/resourceGroups/myResourceGroup"
                location: eastus
                name: myResourceGroup
                properties:
                  provisioningState: Succeeded
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/deployments/{deploymentName}/operations:
    get:
      description: Gets all deployments operations for a deployment.
      operationId: DeploymentOperations_List
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: The name of the deployment.
        in: path
        name: deploymentName
        required: true
        schema:
          maxLength: 64
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The number of results to return.
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentOperationsListResult'
          description: OK - Return an array of deployment operations.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - DeploymentOperations
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/deployments/{deploymentName}/operations/{operationId}:
    get:
      description: Gets a deployments operation.
      operationId: DeploymentOperations_Get
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: The name of the deployment.
        in: path
        name: deploymentName
        required: true
        schema:
          maxLength: 64
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The ID of the operation to get.
        in: path
        name: operationId
        required: true
        schema:
          type: string
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentOperation'
          description: OK - Returns information about the deployment operation.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - DeploymentOperations
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/exportTemplate:
    post:
      description: Captures the specified resource group as a template.
      operationId: ResourceGroups_ExportTemplate
      parameters:
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExportTemplateRequest'
        description: Parameters for exporting the template.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceGroupExportResult'
          description: OK - Returns the result of the export.
        "202":
          content: {}
          description: Accepted
        default:
[...]
