openapi: 3.0.1
info:
  contact:
    x-twitter: fraudlabspro
  description: "Online payment fraud detection service. It helps merchants to minimize\
    \ chargebacks and therefore maximize the revenue. It can be used to detect fraud\
    \ for various kinds of payment method, such as credit card, paypal, cod and so\
    \ on. Please visit https://www.fraudlabspro.com to learn more."
  title: FraudLabs Pro Fraud Detection
  version: "1.1"
  x-apisguru-categories:
  - ecommerce
  x-logo:
    url: https://twitter.com/fraudlabspro/profile_image?size=original
  x-origin:
  - converter:
      url: https://github.com/lucybot/api-spec-converter
      version: 2.7.31
    format: openapi
    url: https://app.swaggerhub.com/apiproxy/schema/file/fraudlabspro/fraudlabspro-fraud-detection/1.1/swagger.json
    version: "3.0"
  x-providerName: fraudlabspro.com
  x-serviceName: fraud-detection
servers:
- description: FraudLabs Pro
  url: https://api.fraudlabspro.com
- description: SwaggerHub API Auto Mocking
  url: https://virtserver.swaggerhub.com/fraudlabspro/fraudlabspro/1.0
paths:
  /v1/order/feedback:
    post:
      description: Feedback the status of an order transaction.
      operationId: v1_order_feedback_post
      parameters:
      - explode: true
        in: query
        name: id
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: key
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - json
          - xml
          type: string
        style: form
      - explode: true
        in: query
        name: action
        required: true
        schema:
          enum:
          - APPROVE
          - REJECT
          - REJECT_BLACKLIST
          type: string
        style: form
      - allowEmptyValue: true
        explode: true
        in: query
        name: notes
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              examples:
                "0":
                  value: "{\"fraudlabspro_error_code\":\"\",\"fraudlabspro_message\"\
                    :\"\"}"
              schema:
                type: string
          description: Feedback order response
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /v1/order/screen:
    post:
      description: Screen order for payment fraud.
      operationId: v1_order_screen_post
      parameters:
      - explode: true
        in: query
        name: ip
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: key
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - json
          - xml
          type: string
        style: form
      - allowEmptyValue: true
        explode: true
        in: query
        name: last_name
        required: false
        schema:
          type: string
        style: form
      - allowEmptyValue: true
        explode: true
        in: query
        name: first_name
        required: false
        schema:
          type: string
        style: form
      - allowEmptyValue: true
        explode: true
        in: query
        name: bill_addr
        required: false
        schema:
          type: string
        style: form
      - allowEmptyValue: true
        explode: true
        in: query
        name: bill_city
        required: false
        schema:
          type: string
        style: form
      - allowEmptyValue: true
        explode: true
        in: query
        name: bill_state
        required: false
        schema:
          type: string
        style: form
      - allowEmptyValue: true
        explode: true
        in: query
        name: bill_country
        required: false
        schema:
          type: string
        style: form
      - allowEmptyValue: true
        explode: true
        in: query
        name: bill_zip_code
        required: false
        schema:
          type: string
        style: form
      - allowEmptyValue: true
        explode: true
        in: query
        name: ship_addr
        required: false
        schema:
          type: string
        style: form
      - allowEmptyValue: true
        explode: true
        in: query
        name: ship_city
        required: false
        schema:
          type: string
        style: form
      - allowEmptyValue: true
        explode: true
        in: query
        name: ship_state
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: ship_country
        required: false
        schema:
          type: string
        style: form
      - allowEmptyValue: true
        explode: true
        in: query
        name: ship_zip_code
        required: false
        schema:
          type: string
        style: form
      - allowEmptyValue: true
        explode: true
        in: query
        name: email_domain
        required: false
        schema:
          type: string
        style: form
      - allowEmptyValue: true
        explode: true
        in: query
        name: user_phone
        required: false
        schema:
          type: string
        style: form
      - allowEmptyValue: true
        explode: true
        in: query
        name: email
        required: false
        schema:
          type: string
        style: form
      - allowEmptyValue: true
        explode: true
        in: query
        name: email_hash
        required: false
        schema:
          type: string
        style: form
      - allowEmptyValue: true
        explode: true
        in: query
        name: username_hash
        required: false
        schema:
          type: string
        style: form
      - allowEmptyValue: true
        explode: true
        in: query
        name: password_hash
        required: false
        schema:
          type: string
        style: form
      - allowEmptyValue: true
        explode: true
        in: query
        name: bin_no
        required: false
        schema:
          type: string
        style: form
      - allowEmptyValue: true
        explode: true
        in: query
        name: card_hash
        required: false
        schema:
          type: string
        style: form
      - allowEmptyValue: true
        explode: true
        in: query
        name: avs_result
        required: false
        schema:
          type: string
        style: form
      - allowEmptyValue: true
        explode: true
        in: query
        name: cvv_result
        required: false
        schema:
          type: string
        style: form
      - allowEmptyValue: true
        explode: true
        in: query
        name: user_order_id
        required: false
        schema:
          type: string
        style: form
      - allowEmptyValue: true
        explode: true
        in: query
        name: user_order_memo
        required: false
        schema:
          type: string
        style: form
      - allowEmptyValue: true
        explode: true
        in: query
        name: amount
        required: false
        schema:
          type: number
        style: form
      - allowEmptyValue: true
        explode: true
        in: query
        name: quantity
        required: false
        schema:
          type: integer
        style: form
      - allowEmptyValue: true
        explode: true
        in: query
        name: currency
        required: false
        schema:
          type: string
        style: form
      - allowEmptyValue: true
        explode: true
        in: query
        name: department
        required: false
        schema:
          type: string
        style: form
      - allowEmptyValue: true
        explode: true
        in: query
        name: payment_mode
        required: false
        schema:
          type: string
        style: form
      - allowEmptyValue: true
        explode: true
        in: query
        name: flp_checksum
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              examples:
                "0":
                  value: "{\"is_country_match\":\"\",\"is_high_risk_country\":\"\"\
                    ,\"distance_in_km\":\"-\",\"distance_in_mile\":\"-\",\"ip_country\"\
                    :\"\",\"ip_continent\":\"\",\"ip_region\":\"\",\"ip_city\":\"\"\
                    ,\"ip_latitude\":\"\",\"ip_longitude\":\"\",\"ip_timezone\":\"\
                    \",\"ip_elevation\":\"\",\"ip_domain\":\"\",\"ip_mobile_mnc\"\
                    :\"\",\"ip_mobile_mcc\":\"\",\"ip_mobile_brand\":\"\",\"ip_netspeed\"\
                    :\"\",\"ip_isp_name\":\"\",\"ip_usage_type\":\"\",\"is_free_email\"\
                    :\"\",\"is_new_domain_name\":\"\",\"is_domain_exists\":\"\",\"\
                    is_proxy_ip_address\":\"\",\"is_bin_found\":\"\",\"is_bin_country_match\"\
                    :\"\",\"is_bin_name_match\":\"\",\"is_bin_phone_match\":\"\",\"\
                    is_bin_prepaid\":\"\",\"is_address_ship_forward\":\"NA\",\"is_bill_ship_city_match\"\
                    :\"\",\"is_bill_ship_state_match\":\"\",\"is_bill_ship_country_match\"\
                    :\"\",\"is_bill_ship_postal_match\":\"\",\"is_ship_address_blacklist\"\
                    :\"\",\"is_phone_blacklist\":\"\",\"is_ip_blacklist\":\"\",\"\
                    is_email_blacklist\":\"\",\"is_credit_card_blacklist\":\"\",\"\
                    is_device_blacklist\":\"\",\"is_user_blacklist\":\"\",\"is_high_risk_username_password\"\
                    :\"\",\"is_export_controlled_country\":\"\",\"is_malware_exploit\"\
                    :\"\",\"user_order_id\":\"\",\"user_order_memo\":\"\",\"fraudlabspro_score\"\
                    :0,\"fraudlabspro_distribution\":0,\"fraudlabspro_status\":\"\"\
                    ,\"fraudlabspro_id\":\"NA\",\"fraudlabspro_version\":\"1.5.0\"\
                    ,\"fraudlabspro_error_code\":\"\",\"fraudlabspro_message\":\"\"\
                    ,\"fraudlabspro_credits\":\"0\"}"
              schema:
                type: string
          description: Screen order response
      x-openapi-router-controller: openapi_server.controllers.default_controller
components:
  schemas: {}
