openapi: 3.0.1
info:
  description: This Swagger was generated by the API Framework.
  title: Azure Media Services
  version: 2018-06-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/mediaservices/resource-manager/Microsoft.Media/preview/2018-06-01-preview/Accounts.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: mediaservices-Accounts
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
paths:
  /providers/Microsoft.Media/operations:
    get:
      description: Lists all the Media Services operations.
      operationId: Operations_List
      parameters:
      - description: The Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationCollection'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Detailed error information.
      summary: List Operations
      x-ms-examples:
        List Operations:
          parameters:
            api-version: 2018-06-01-preview
            resourceGroupName: contoso
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                - display:
                    description: Registers the subscription for the Media Services
                      resource provider and enables the creation of Media Services
                      accounts
                    operation: Registers the Media Services Resource Provider
                    provider: Microsoft Media Services
                    resource: Microsoft Media Services
                  name: Microsoft.Media/register/action
                - display:
                    description: Unregisters the subscription for the Media Services
                      resource provider
                    operation: Unregisters the Media Services Resource Provider
                    provider: Microsoft Media Services
                    resource: Microsoft Media Services
                  name: Microsoft.Media/unregister/action
                - display:
                    description: Checks if a Media Services account name is available
                    operation: Check Name Availability
                    provider: Microsoft Media Services
                    resource: Microsoft Media Services
                  name: Microsoft.Media/checknameavailability/action
                - display:
                    description: Get Available Operations
                    operation: Get Available Operations
                    provider: Microsoft Media Services
                    resource: Available Operations
                  name: Microsoft.Media/operations/read
                - display:
                    description: Read any Media Services Account
                    operation: Read Media Services Account
                    provider: Microsoft Media Services
                    resource: Media Services Account
                  name: Microsoft.Media/mediaservices/read
                - display:
                    description: Create or Update any Media Services Account
                    operation: Create or Update Media Services Account
                    provider: Microsoft Media Services
                    resource: Media Services Account
                  name: Microsoft.Media/mediaservices/write
                - display:
                    description: Delete any Media Services Account
                    operation: Delete Media Services Account
                    provider: Microsoft Media Services
                    resource: Media Services Account
                  name: Microsoft.Media/mediaservices/delete
                - display:
                    description: Synchronize the Storage Keys for an attached Azure
                      Storage account
                    operation: Synchronize Storage Keys
                    provider: Microsoft Media Services
                    resource: Media Services Account
                  name: Microsoft.Media/mediaservices/syncStorageKeys/action
                - display:
                    description: Read any Event Grid Filter
                    operation: Read Event Grid Filter
                    provider: Microsoft Media Services
                    resource: Event Grid Filter
                  name: Microsoft.Media/mediaservices/eventGridFilters/read
                - display:
                    description: Create or Update any Event Grid Filter
                    operation: Create or Update Event Grid Filter
                    provider: Microsoft Media Services
                    resource: Event Grid Filter
                  name: Microsoft.Media/mediaservices/eventGridFilters/write
                - display:
                    description: Delete any Event Grid Filter
                    operation: Delete Event Grid Filter
                    provider: Microsoft Media Services
                    resource: Event Grid Filter
                  name: Microsoft.Media/mediaservices/eventGridFilters/delete
                - display:
                    description: Read any Asset
                    operation: Read Asset
                    provider: Microsoft Media Services
                    resource: Asset
                  name: Microsoft.Media/mediaservices/assets/read
                - display:
                    description: Create or Update any Asset
                    operation: Create or Update Asset
                    provider: Microsoft Media Services
                    resource: Asset
                  name: Microsoft.Media/mediaservices/assets/write
                - display:
                    description: Delete any Asset
                    operation: Delete Asset
                    provider: Microsoft Media Services
                    resource: Asset
                  name: Microsoft.Media/mediaservices/assets/delete
                - display:
                    description: List Asset Container SAS URLs
                    operation: List Asset Container SAS URLs
                    provider: Microsoft Media Services
                    resource: Asset
                  name: Microsoft.Media/mediaservices/assets/listContainerSas/action
                - display:
                    description: Get Asset Encryption Key
                    operation: Get Asset Encryption Key
                    provider: Microsoft Media Services
                    resource: Asset
                  name: Microsoft.Media/mediaservices/assets/getEncryptionKey/action
                - display:
                    description: Read any Streaming Policy
                    operation: Read Streaming Policy
                    provider: Microsoft Media Services
                    resource: Streaming Policy
                  name: Microsoft.Media/mediaservices/streamingPolicies/read
                - display:
                    description: Create or Update any Streaming Policy
                    operation: Create or Update Streaming Policy
                    provider: Microsoft Media Services
                    resource: Streaming Policy
                  name: Microsoft.Media/mediaservices/streamingPolicies/write
                - display:
                    description: Delete any Streaming Policy
                    operation: Delete Streaming Policy
                    provider: Microsoft Media Services
                    resource: Streaming Policy
                  name: Microsoft.Media/mediaservices/streamingPolicies/delete
                - display:
                    description: Read any Streaming Locator
                    operation: Read Streaming Locator
                    provider: Microsoft Media Services
                    resource: Streaming Locator
                  name: Microsoft.Media/mediaservices/streamingLocators/read
                - display:
                    description: Create or Update any Streaming Locator
                    operation: Create or Update Streaming Locator
                    provider: Microsoft Media Services
                    resource: Streaming Locator
                  name: Microsoft.Media/mediaservices/streamingLocators/write
                - display:
                    description: Delete any Streaming Locator
                    operation: Delete Streaming Locator
                    provider: Microsoft Media Services
                    resource: Streaming Locator
                  name: Microsoft.Media/mediaservices/streamingLocators/delete
                - display:
                    description: List Content Keys
                    operation: List Content Keys
                    provider: Microsoft Media Services
                    resource: Streaming Locator
                  name: Microsoft.Media/mediaservices/streamingLocators/listContentKeys/action
                - display:
                    description: List Paths
                    operation: List Paths
                    provider: Microsoft Media Services
                    resource: Streaming Locator
                  name: Microsoft.Media/mediaservices/streamingLocators/listPaths/action
                - display:
                    description: Read any Content Key Policy
                    operation: Read Content Key Policy
                    provider: Microsoft Media Services
                    resource: Content Key Policy
                  name: Microsoft.Media/mediaservices/contentKeyPolicies/read
                - display:
                    description: Create or Update any Content Key Policy
                    operation: Create or Update Content Key Policy
                    provider: Microsoft Media Services
                    resource: Content Key Policy
                  name: Microsoft.Media/mediaservices/contentKeyPolicies/write
                - display:
                    description: Delete any Content Key Policy
                    operation: Delete Content Key Policy
                    provider: Microsoft Media Services
                    resource: Content Key Policy
                  name: Microsoft.Media/mediaservices/contentKeyPolicies/delete
                - display:
                    description: Get Policy Properties With Secrets
                    operation: Get Policy Properties With Secrets
                    provider: Microsoft Media Services
                    resource: Content Key Policy
                  name: Microsoft.Media/mediaservices/contentKeyPolicies/getPolicyPropertiesWithSecrets/action
                - display:
                    description: Read any Transform
                    operation: Read Transform
                    provider: Microsoft Media Services
                    resource: Transform
                  name: Microsoft.Media/mediaservices/transforms/read
                - display:
                    description: Create or Update any Transform
                    operation: Create or Update Transform
                    provider: Microsoft Media Services
                    resource: Transform
                  name: Microsoft.Media/mediaservices/transforms/write
                - display:
                    description: Delete any Transform
                    operation: Delete Transform
                    provider: Microsoft Media Services
                    resource: Transform
                  name: Microsoft.Media/mediaservices/transforms/delete
                - display:
                    description: Read any Job
                    operation: Read Job
                    provider: Microsoft Media Services
                    resource: Job
                  name: Microsoft.Media/mediaservices/transforms/jobs/read
                - display:
                    description: Create or Update any Job
                    operation: Create or Update Job
                    provider: Microsoft Media Services
                    resource: Job
                  name: Microsoft.Media/mediaservices/transforms/jobs/write
                - display:
                    description: Delete any Job
                    operation: Delete Job
                    provider: Microsoft Media Services
                    resource: Job
                  name: Microsoft.Media/mediaservices/transforms/jobs/delete
                - display:
                    description: Cancel Job
                    operation: Cancel Job
                    provider: Microsoft Media Services
                    resource: Job
                  name: Microsoft.Media/mediaservices/transforms/jobs/cancelJob/action
                - display:
                    description: Read any Streaming Endpoint
                    operation: Read Streaming Endpoint
                    provider: Microsoft Media Services
                    resource: Streaming Endpoint
                  name: Microsoft.Media/mediaservices/streamingEndpoints/read
                - display:
                    description: Create or Update any Streaming Endpoint
                    operation: Create or Update Streaming Endpoint
                    provider: Microsoft Media Services
                    resource: Streaming Endpoint
                  name: Microsoft.Media/mediaservices/streamingEndpoints/write
                - display:
                    description: Delete any Streaming Endpoint
                    operation: Delete Streaming Endpoint
                    provider: Microsoft Media Services
                    resource: Streaming Endpoint
                  name: Microsoft.Media/mediaservices/streamingEndpoints/delete
                - display:
                    description: Start any Streaming Endpoint Operation
                    operation: Start Streaming Endpoint Operation
                    provider: Microsoft Media Services
                    resource: Streaming Endpoint
                  name: Microsoft.Media/mediaservices/streamingEndpoints/start/action
                - display:
                    description: Stop any Streaming Endpoint Operation
                    operation: Stop Streaming Endpoint Operation
                    provider: Microsoft Media Services
                    resource: Streaming Endpoint
                  name: Microsoft.Media/mediaservices/streamingEndpoints/stop/action
                - display:
                    description: Scale any Streaming Endpoint Operation
                    operation: Scale Streaming Endpoint Operation
                    provider: Microsoft Media Services
                    resource: Streaming Endpoint
                  name: Microsoft.Media/mediaservices/streamingEndpoints/scale/action
                - display:
                    description: Read any Live Event
                    operation: Read Live Event
                    provider: Microsoft Media Services
                    resource: Live Event
                  name: Microsoft.Media/mediaservices/liveEvents/read
                - display:
                    description: Create or Update any Live Event
                    operation: Create or Update Live Event
                    provider: Microsoft Media Services
                    resource: Live Event
                  name: Microsoft.Media/mediaservices/liveEvents/write
                - display:
                    description: Delete any Live Event
                    operation: Delete Live Event
                    provider: Microsoft Media Services
                    resource: Live Event
                  name: Microsoft.Media/mediaservices/liveEvents/delete
                - display:
                    description: Start any Live Event Operation
                    operation: Start Live Event Operation
                    provider: Microsoft Media Services
                    resource: Live Event
                  name: Microsoft.Media/mediaservices/liveEvents/start/action
                - display:
                    description: Stop any Live Event Operation
                    operation: Stop Live Event Operation
                    provider: Microsoft Media Services
                    resource: Live Event
                  name: Microsoft.Media/mediaservices/liveEvents/stop/action
                - display:
                    description: Reset any Live Event Operation
                    operation: Reset Live Event Operation
                    provider: Microsoft Media Services
                    resource: Live Event
                  name: Microsoft.Media/mediaservices/liveEvents/reset/action
                - display:
                    description: Read any Live Output
                    operation: Read Live Output
                    provider: Microsoft Media Services
                    resource: Live Output
                  name: Microsoft.Media/mediaservices/liveEvents/liveOutputs/read
                - display:
                    description: Create or Update any Live Output
                    operation: Create or Update Live Output
                    provider: Microsoft Media Services
                    resource: Live Output
                  name: Microsoft.Media/mediaservices/liveEvents/liveOutputs/write
                - display:
                    description: Delete any Live Output
                    operation: Delete Live Output
                    provider: Microsoft Media Services
                    resource: Live Output
                  name: Microsoft.Media/mediaservices/liveEvents/liveOutputs/delete
                - display:
                    description: Read any Streaming Endpoint Operation
                    operation: Read Streaming Endpoint Operation
                    provider: Microsoft Media Services
                    resource: Streaming Endpoint Operation
                  name: Microsoft.Media/mediaservices/streamingEndpointOperations/read
                - display:
                    description: Read any Live Event Operation
                    operation: Read Live Event Operation
                    provider: Microsoft Media Services
                    resource: Live Event Operation
                  name: Microsoft.Media/mediaservices/liveEventOperations/read
                - display:
                    description: Read any Live Output Operation
                    operation: Read Live Output Operation
                    provider: Microsoft Media Services
                    resource: Live Output Operation
                  name: Microsoft.Media/mediaservices/liveOutputOperations/read
                - display:
                    description: Checks if a Media Services account name is available
                    operation: Check Name Availability
                    provider: Microsoft Media Services
                    resource: Microsoft Media Services
                  name: Microsoft.Media/locations/checkNameAvailability/action
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.Media/locations/{locationName}/checkNameAvailability:
    post:
      description: Checks whether the Media Service resource name is available.
      operationId: Locations_CheckNameAvailability
      parameters:
      - description: The unique identifier for a Microsoft Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - in: path
        name: locationName
        required: true
        schema:
          type: string
      - description: The Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckNameAvailabilityInput'
        description: The request parameters
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityNameAvailabilityCheckOutput'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Detailed error information.
      summary: Check Name Availability
      x-ms-examples:
        Check Name Availability:
          parameters:
            api-version: 2018-06-01-preview
            locationName: japaneast
            parameters:
              name: contosonew
              type: Microsoft.Media/MediaService
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                message: ""
                nameAvailable: true
                reason: None
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.Media/mediaservices:
    get:
      description: List Media Services accounts in the subscription.
      operationId: Mediaservices_ListBySubscription
      parameters:
      - description: The unique identifier for a Microsoft Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionMediaServiceCollection'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Detailed error information.
      summary: List Media Services accounts
      x-ms-examples:
        List all Media Services accounts:
          parameters:
            api-version: 2018-06-01-preview
            resourceGroupName: contoso
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contoso/providers/Microsoft.Media/mediaservices/contosotv
                  location: South Central US
                  name: contosotv
                  properties:
                    mediaServiceId: 6ac94f91-283c-4492-85a7-57976928c17d
                    storageAccounts:
                    - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contoso/providers/Microsoft.Storage/storageAccounts/contosotvstore
                      type: Primary
                  tags:
                    key1: value1
                    key2: value2
                  type: Microsoft.Media/mediaservices
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contoso/providers/Microsoft.Media/mediaservices/contosomovies
                  location: South Central US
                  name: contosomovies
                  properties:
                    mediaServiceId: 72681c0f-9dd1-4f1c-95c9-8a8d7d31c4ee
                    storageAccounts:
                    - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contoso/providers/Microsoft.Storage/storageAccounts/contosomoviesstore
                      type: Primary
                  tags:
                    key1: value1
                    key2: value2
                  type: Microsoft.Media/mediaservices
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contoso/providers/Microsoft.Media/mediaservices/fabrikamnews
                  location: East US
                  name: fabrikamnews
                  properties:
                    mediaServiceId: d96036f9-4e37-491d-8c29-5bc53a29dfcd
                    storageAccounts:
                    - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/fabrikam/providers/Microsoft.Storage/storageAccounts/fabrikamnewsstore
                      type: Primary
                  tags:
                    key1: value1
                    key2: value2
                  type: Microsoft.Media/mediaservices
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.Media/mediaservices/{accountName}:
    get:
      description: Get the details of a Media Services account
      operationId: Mediaservices_GetBySubscription
      parameters:
      - description: The unique identifier for a Microsoft Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The Media Services account name.
        in: path
        name: accountName
        required: true
        schema:
          type: string
      - description: The Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionMediaService'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Detailed error information.
      summary: Get a Media Services account
      x-ms-examples:
        Get a Media Services account by name:
          parameters:
            accountName: contososports
            api-version: 2018-06-01-preview
            resourceGroupName: contoso
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contoso/providers/Microsoft.Media/mediaservices/contososports
                location: South Central US
                name: contososports
                properties:
                  mediaServiceId: 42bea25f-1aa9-4f7a-82af-5a417592f22d
                  storageAccounts:
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contoso/providers/Microsoft.Storage/storageAccounts/contososportsstore
                    type: Primary
                tags:
                  key1: value1
                  key2: value2
                type: Microsoft.Media/mediaservices
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaservices:
    get:
      description: List Media Services accounts in the resource group
      operationId: Mediaservices_List
      parameters:
      - description: The unique identifier for a Microsoft Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaServiceCollection'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Detailed error information.
      summary: List Media Services accounts
      x-ms-examples:
        List all Media Services accounts:
          parameters:
            api-version: 2018-06-01-preview
            resourceGroupName: contoso
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contoso/providers/Microsoft.Media/mediaservices/contosotv
                  location: South Central US
                  name: contosotv
                  properties:
                    mediaServiceId: 6ac94f91-283c-4492-85a7-57976928c17d
                    storageAccounts:
                    - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contoso/providers/Microsoft.Storage/storageAccounts/contosotvstore
                      type: Primary
                  tags:
                    key1: value1
                    key2: value2
                  type: Microsoft.Media/mediaservices
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contoso/providers/Microsoft.Media/mediaservices/contosomovies
                  location: South Central US
                  name: contosomovies
                  properties:
                    mediaServiceId: 72681c0f-9dd1-4f1c-95c9-8a8d7d31c4ee
                    storageAccounts:
                    - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contoso/providers/Microsoft.Storage/storageAccounts/contosomoviesstore
                      type: Primary
                  tags:
                    key1: value1
                    key2: value2
                  type: Microsoft.Media/mediaservices
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaservices/{accountName}:
    delete:
      description: Deletes a Media Services account
      operationId: Mediaservices_Delete
      parameters:
      - description: The unique identifier for a Microsoft Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Media Services account name.
        in: path
        name: accountName
        required: true
        schema:
          type: string
      - description: The Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Detailed error information.
      summary: Delete a Media Services account.
      x-ms-examples:
        Delete a Media Services account:
          parameters:
            accountName: contososports
            api-version: 2018-06-01-preview
            resourceGroupName: contoso
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200": {}
      x-accepts:
      - application/json
    get:
      description: Get the details of a Media Services account
      operationId: Mediaservices_Get
      parameters:
      - description: The unique identifier for a Microsoft Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Media Services account name.
        in: path
        name: accountName
        required: true
        schema:
          type: string
      - description: The Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaService'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Detailed error information.
      summary: Get a Media Services account
      x-ms-examples:
        Get a Media Services account by name:
          parameters:
            accountName: contosotv
            api-version: 2018-06-01-preview
            resourceGroupName: contoso
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contoso/providers/Microsoft.Media/mediaservices/contosotv
                location: South Central US
                name: contosotv
                properties:
                  mediaServiceId: 6ac94f91-283c-4492-85a7-57976928c17d
                  storageAccounts:
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contoso/providers/Microsoft.Storage/storageAccounts/contosotvstore
                    type: Primary
                tags:
                  key1: value1
                  key2: value2
                type: Microsoft.Media/mediaservices
      x-accepts:
      - application/json
    patch:
      description: Updates an existing Media Services account
      operationId: Mediaservices_Update
      parameters:
      - description: The unique identifier for a Microsoft Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Media Services account name.
        in: path
        name: accountName
        required: true
        schema:
          type: string
      - description: The Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MediaService'
        description: The request parameters
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaService'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Detailed error information.
      summary: Update a Media Services account
      x-ms-examples:
        Update a Media Services accounts:
          parameters:
            accountName: contososports
            api-version: 2018-06-01-preview
            parameters:
              tags:
                key1: value3
            resourceGroupName: contoso
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contoso/providers/Microsoft.Media/mediaservices/contososports
                location: South Central US
                name: contososports
                properties:
                  mediaServiceId: 42bea25f-1aa9-4f7a-82af-5a417592f22d
                  storageAccounts:
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contoso/providers/Microsoft.Storage/storageAccounts/contososportsstore
                    type: Primary
                tags:
                  key1: value3
                type: Microsoft.Media/mediaservices
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: Creates or updates a Media Services account
      operationId: Mediaservices_CreateOrUpdate
      parameters:
      - description: The unique identifier for a Microsoft Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Media Services account name.
        in: path
        name: accountName
        required: true
        schema:
          type: string
      - description: The Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MediaService'
        description: The request parameters
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaService'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaService'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Detailed error information.
      summary: Create or update a Media Services account
      x-ms-examples:
        Create a Media Services account:
          parameters:
            accountName: contososports
            api-version: 2018-06-01-preview
            parameters:
              location: South Central US
              properties:
                storageAccounts:
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contoso/providers/Microsoft.Storage/storageAccounts/contososportsstore
                  type: Primary
              tags:
                key1: value1
                key2: value2
            resourceGroupName: contoso
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contoso/providers/Microsoft.Media/mediaservices/contososports
                location: South Central US
                name: contososports
                properties:
                  mediaServiceId: 42bea25f-1aa9-4f7a-82af-5a417592f22d
                  storageAccounts:
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contoso/providers/Microsoft.Storage/storageAccounts/contososportsstore
                    type: Primary
                tags:
                  key1: value1
                  key2: value2
                type: Microsoft.Media/mediaservices
            "201":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contoso/providers/Microsoft.Media/mediaservices/contososports
                location: South Central US
                name: contososports
                properties:
                  mediaServiceId: 42bea25f-1aa9-4f7a-82af-5a417592f22d
                  storageAccounts:
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contoso/providers/Microsoft.Storage/storageAccounts/contososportsstore
                    type: Primary
                tags:
                  key1: value1
                  key2: value2
                type: Microsoft.Media/mediaservices
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaservices/{accountName}/syncStorageKeys
  : post:
      description: Synchronizes storage account keys for a storage account associated
        with the Media Service account.
      operationId: Mediaservices_SyncStorageKeys
      parameters:
      - description: The unique identifier for a Microsoft Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Media Services account name.
        in: path
        name: accountName
        required: true
        schema:
          type: string
      - description: The Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SyncStorageKeysInput'
        description: The request parameters
        required: true
      responses:
        "200":
          content: {}
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Detailed error information.
      summary: Synchronizes Storage Account Keys
      x-ms-examples:
        Synchronizes Storage Account Keys:
          parameters:
            accountName: contososports
            api-version: 2018-06-01-preview
            parameters:
              id: contososportsstore
            resourceGroupName: contoso
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200": {}
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
components:
  parameters:
    ApiVersion:
      description: The Version of the API to be used with the client request.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    ResourceGroupName:
      description: The name of the resource group within the Azure subscription.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SubscriptionId:
      description: The unique identifier for a Microsoft Azure subscription.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    ApiError:
      description: The API error.
      example:
        error:
          code: code
          details:
          - null
          - null
          message: message
          target: target
      properties:
        error:
          $ref: '#/components/schemas/ODataError'
      type: object
    CheckNameAvailabilityInput:
      description: The input to the check name availability request.
      example:
        name: name
        type: type
      properties:
        name:
          description: The account name.
          type: string
        type:
          description: "The account type. For a Media Services account, this should\
            \ be 'MediaServices'."
          type: string
      type: object
    EntityNameAvailabilityCheckOutput:
      description: The response from the check name availability request.
      example:
        reason: reason
        nameAvailable: true
        message: message
      properties:
        message:
          description: Specifies the detailed reason if the name is not available.
          type: string
        nameAvailable:
          description: Specifies if the name is available.
          type: boolean
        reason:
          description: Specifies the reason if the name is not available.
          type: string
      required:
      - nameAvailable
      type: object
    Location:
      properties:
        name:
          type: string
      required:
      - name
      type: object
    MediaService:
      allOf:
      - allOf:
        - description: The core properties of ARM resources.
          properties:
            id:
              description: Fully qualified resource ID for the resource.
              readOnly: true
              type: string
            name:
              description: The name of the resource.
              readOnly: true
              type: string
            type:
              description: The type of the resource.
              readOnly: true
              type: string
          type: object
          x-ms-azure-resource: true
        description: The resource model definition for a ARM tracked resource.
        properties:
          location:
            description: The Azure Region of the resource.
            type: string
            x-ms-mutability:
            - read
            - create
          tags:
            additionalProperties:
              type: string
            description: Resource tags.
            type: object
            x-ms-mutability:
            - read
            - create
            - update
      description: A Media Services account.
      example:
        properties:
          storageAccounts:
          - id: id
            type: Primary
          - id: id
            type: Primary
          mediaServiceId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      properties:
        properties:
          $ref: '#/components/schemas/MediaServiceProperties'
    MediaServiceCollection:
      description: A collection of MediaService items.
      example:
        '@odata.nextLink': '@odata.nextLink'
        value:
        - properties:
            storageAccounts:
            - id: id
              type: Primary
            - id: id
              type: Primary
            mediaServiceId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        - properties:
            storageAccounts:
            - id: id
              type: Primary
            - id: id
              type: Primary
            mediaServiceId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      properties:
        '@odata.nextLink':
          description: A link to the next page of the collection (when the collection
            contains too many results to return in one response).
          type: string
        value:
          description: A collection of MediaService items.
          items:
            $ref: '#/components/schemas/MediaService'
          type: array
      type: object
    MediaServiceProperties:
      description: Properties of the Media Services account.
      example:
        storageAccounts:
        - id: id
          type: Primary
        - id: id
          type: Primary
        mediaServiceId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      properties:
        mediaServiceId:
          description: The Media Services account ID.
          format: uuid
          nullable: false
          readOnly: true
          type: string
        storageAccounts:
          description: The storage accounts for this resource.
          items:
            $ref: '#/components/schemas/StorageAccount'
          type: array
      type: object
    ODataError:
      description: Information about an error.
      example:
        code: code
        details:
        - null
        - null
        message: message
        target: target
      properties:
        code:
          description: A language-independent error name.
          type: string
        details:
          description: The error details.
          items:
            $ref: '#/components/schemas/ODataError'
          type: array
        message:
          description: The error message.
          type: string
        target:
          description: "The target of the error (for example, the name of the property\
            \ in error)."
          type: string
      type: object
    Operation:
      description: An operation.
      example:
        display:
          provider: provider
          resource: resource
          description: description
          operation: operation
        name: name
      properties:
        display:
          $ref: '#/components/schemas/OperationDisplay'
        name:
          description: The operation name.
          type: string
      required:
      - name
      type: object
    OperationCollection:
      description: A collection of Operation items.
      example:
        '@odata.nextLink': '@odata.nextLink'
        value:
        - display:
            provider: provider
            resource: resource
            description: description
            operation: operation
          name: name
        - display:
            provider: provider
            resource: resource
            description: description
            operation: operation
          name: name
      properties:
        '@odata.nextLink':
          description: A link to the next page of the collection (when the collection
            contains too many results to return in one response).
          type: string
        value:
          description: A collection of Operation items.
          items:
            $ref: '#/components/schemas/Operation'
          type: array
      type: object
    OperationDisplay:
      description: Operation details.
      example:
        provider: provider
        resource: resource
        description: description
        operation: operation
      properties:
        description:
          description: The operation description.
          type: string
        operation:
          description: The operation type.
          type: string
        provider:
          description: The service provider.
          type: string
        resource:
          description: Resource on which the operation is performed.
          type: string
      type: object
    Provider:
      description: A resource provider.
      properties:
        providerName:
          description: The provider name.
          type: string
      required:
      - providerName
      type: object
    StorageAccount:
      description: The storage account details.
      example:
        id: id
        type: Primary
      properties:
        id:
          description: "The ID of the storage account resource. Media Services relies\
            \ on tables and queues as well as blobs, so the primary storage account\
            \ must be a Standard Storage account (either Microsoft.ClassicStorage\
            \ or Microsoft.Storage). Blob only storage accounts can be added as secondary\
            \ storage accounts."
          type: string
        type:
          description: The type of the storage account.
          enum:
          - Primary
          - Secondary
          type: string
          x-ms-enum:
            modelAsExtensible: true
            name: StorageAccountType
            values:
            - description: The primary storage account for the Media Services account.
              value: Primary
            - description: A secondary storage account for the Media Services account.
              value: Secondary
      required:
      - type
      type: object
    SubscriptionMediaService:
      allOf:
      - allOf:
        - description: The core properties of ARM resources.
          properties:
            id:
              description: Fully qualified resource ID for the resource.
              readOnly: true
              type: string
            name:
              description: The name of the resource.
              readOnly: true
              type: string
            type:
              description: The type of the resource.
              readOnly: true
              type: string
          type: object
          x-ms-azure-resource: true
        description: The resource model definition for a ARM tracked resource.
        properties:
          location:
            description: The Azure Region of the resource.
            type: string
            x-ms-mutability:
            - read
            - create
          tags:
            additionalProperties:
              type: string
            description: Resource tags.
            type: object
            x-ms-mutability:
            - read
            - create
            - update
      description: A Media Services account.
      example:
        properties:
          storageAccounts:
          - id: id
            type: Primary
          - id: id
            type: Primary
          mediaServiceId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      properties:
        properties:
          $ref: '#/components/schemas/MediaServiceProperties'
    SubscriptionMediaServiceCollection:
      description: A collection of SubscriptionMediaService items.
      example:
        '@odata.nextLink': '@odata.nextLink'
        value:
        - properties:
            storageAccounts:
            - id: id
              type: Primary
            - id: id
              type: Primary
            mediaServiceId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        - properties:
            storageAccounts:
            - id: id
              type: Primary
            - id: id
              type: Primary
            mediaServiceId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      properties:
        '@odata.nextLink':
          description: A link to the next page of the collection (when the collection
            contains too many results to return in one response).
          type: string
        value:
          description: A collection of SubscriptionMediaService items.
          items:
            $ref: '#/components/schemas/SubscriptionMediaService'
          type: array
      type: object
    SyncStorageKeysInput:
      description: The input to the sync storage keys request.
      example:
        id: id
      properties:
        id:
          description: The ID of the storage account resource.
          type: string
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: Impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

