openapi: 3.0.1
info:
  description: The Microsoft Azure Network management API provides a RESTful set of
    web services that interact with Microsoft Azure Networks service to manage your
    network resources. The API has entities that capture the relationship between
    an end user and the Microsoft Azure Networks service.
  title: NetworkManagementClient
  version: 2019-11-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/network/resource-manager/Microsoft.Network/stable/2019-11-01/ipGroups.json
    version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: network-ipGroups
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/ipGroups:
    get:
      description: Gets all IpGroups in a subscription.
      operationId: ip_groups_list
      parameters:
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IpGroupListResult'
          description: Request successful. The operation returns a list of ipGroups
            resources.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IpGroups_List_default_response'
          description: Unexpected error.
      tags:
      - IpGroups
      x-ms-examples:
        List_IpGroups:
          parameters:
            api-version: 2019-11-01
            subscriptionId: subId
          responses:
            "200":
              body:
                value:
                - etag: w/\00000000-0000-0000-0000-000000000000\
                  id: /subscriptions/subId/providers/Microsoft.Network/resourceGroup/myResourceGroup1/ipGroups
                  location: westcentralus
                  name: iptag1
                  properties:
                    firewalls:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/azureFirewalls/azurefirewall
                    ipAddresses:
                    - 13.64.39.16/32
                    - 40.74.146.80/31
                    - 40.74.147.32/28
                    provisioningState: Succeeded
                  type: Microsoft.Network/ipGroups
                - etag: w/\00000000-0000-0000-0000-000000000000\
                  id: /subscriptions/subId/providers/Microsoft.Network/resourceGroup/myResourceGroup2/ipGroups
                  location: centralus
                  name: iptag2
                  properties:
                    firewalls:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/azureFirewalls/azurefirewall
                    ipAddresses:
                    - 14.64.39.16/32
                    - 41.74.146.80/31
                    - 42.74.147.32/28
                    provisioningState: Succeeded
                  type: Microsoft.Network/ipGroups
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.ip_groups_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/ipGroups:
    get:
      description: Gets all IpGroups in a resource group.
      operationId: ip_groups_list_by_resource_group
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IpGroupListResult'
          description: Request successful. The operation returns a list of ipGroups
            resources.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IpGroups_List_default_response'
          description: Unexpected error.
      tags:
      - IpGroups
      x-ms-examples:
        ListByResourceGroup_IpGroups:
          parameters:
            api-version: 2019-11-01
            resourceGroupName: myResourceGroup
            subscriptionId: subId
          responses:
            "200":
              body:
                value:
                - etag: w/\00000000-0000-0000-0000-000000000000\
                  id: /subscriptions/subId/providers/Microsoft.Network/resourceGroup/myResourceGroup/ipGroups
                  location: westcentralus
                  name: ipGroups1
                  properties:
                    firewalls:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/azureFirewalls/azurefirewall
                    ipAddresses:
                    - 13.64.39.16/32
                    - 40.74.146.80/31
                    - 40.74.147.32/28
                    provisioningState: Succeeded
                  type: Microsoft.Network/ipGroups
                - etag: w/\00000000-0000-0000-0000-000000000000\
                  id: /subscriptions/subId/providers/Microsoft.Network/resourceGroup/myResourceGroup/ipGroups
                  location: centralus
                  name: ipGroups2
                  properties:
                    firewalls:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/azureFirewalls/azurefirewall
                    ipAddresses:
                    - 14.64.39.16/32
                    - 41.74.146.80/31
                    - 42.74.147.32/28
                    provisioningState: Succeeded
                  type: Microsoft.Network/ipGroups
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.ip_groups_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/ipGroups/{ipGroupsName}:
    delete:
      description: Deletes the specified ipGroups.
      operationId: ip_groups_delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the ipGroups.
        in: path
        name: ipGroupsName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Delete successful.
        "202":
          content: {}
          description: Accepted and the operation will complete asynchronously.
        "204":
          content: {}
          description: Delete successful.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IpGroups_List_default_response'
          description: Unexpected error.
      tags:
      - IpGroups
      x-ms-examples:
        Delete_IpGroups:
          parameters:
            api-version: 2019-11-01
            ipGroupsName: ipGroups1
            resourceGroupName: myResourceGroup
            subscriptionId: subId
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-openapi-router-controller: openapi_server.controllers.ip_groups_controller
    get:
      description: Gets the specified ipGroups.
      operationId: ip_groups_get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the ipGroups.
        in: path
        name: ipGroupsName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Expands resourceIds (of Firewalls/Network Security Groups etc.)
          back referenced by the IpGroups resource.
        in: query
        name: $expand
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IpGroup'
          description: Request successful. The operation returns the resulting IpGroups
            resource.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IpGroups_List_default_response'
          description: Unexpected error.
      tags:
      - IpGroups
      x-ms-examples:
        Get_IpGroups:
          parameters:
            api-version: 2019-11-01
            ipGroupsName: ipGroups1
            resourceGroupName: myResourceGroup
            subscriptionId: subId
          responses:
            "200":
              body:
                etag: w/\00000000-0000-0000-0000-000000000000\
                id: /subscriptions/subId/providers/Microsoft.Network/resourceGroup/myResourceGroup/ipGroups/ipGroups1
                location: westcentralus
                name: ipGroups1
                properties:
                  firewalls:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/azureFirewalls/azurefirewall
                  ipAddresses:
                  - 13.64.39.16/32
                  - 40.74.146.80/31
                  - 40.74.147.32/28
                  provisioningState: Succeeded
                type: Microsoft.Network/ipGroups
      x-openapi-router-controller: openapi_server.controllers.ip_groups_controller
    patch:
      description: Updates tags of an IpGroups resource.
      operationId: ip_groups_update_groups
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the ipGroups.
        in: path
        name: ipGroupsName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IpGroups_UpdateGroups_request'
        description: Parameters supplied to the update ipGroups operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IpGroup'
          description: Request successful. The operation returns the resulting ipGroups
            resource.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IpGroups_List_default_response'
          description: Unexpected error.
      tags:
      - IpGroups
      x-ms-examples:
        Update_IpGroups:
          parameters:
            api-version: 2019-11-01
            ipGroupsName: ipGroups1
            parameters:
              tags:
                key1: value1
                key2: value2
            resourceGroupName: myResourceGroup
            subscriptionId: subId
          responses:
            "200":
              body:
                etag: w/\00000000-0000-0000-0000-000000000000\
                id: /subscriptions/subId/providers/Microsoft.Network/resourceGroup/myResourceGroup/ipGroups/ipGroups1
                location: westcentralus
                name: ipGroups1
                properties:
                  firewalls:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/azureFirewalls/azurefirewall
                  ipAddresses:
                  - 13.64.39.16/32
                  - 40.74.146.80/31
                  - 40.74.147.32/28
                  provisioningState: Succeeded
                tags:
                  key1: value1
                  key2: value2
                type: Microsoft.Network/ipGroups
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.ip_groups_controller
    put:
      description: Creates or updates an ipGroups in a specified resource group.
      operationId: ip_groups_create_or_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the ipGroups.
        in: path
        name: ipGroupsName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IpGroup'
        description: Parameters supplied to the create or update IpGroups operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IpGroup'
          description: Request successful. The operation returns the resulting ipGroups
            resource.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IpGroup'
          description: Create successful. The operation returns the resulting ipGroups
            resource.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IpGroups_List_default_response'
          description: Unexpected error.
      tags:
      - IpGroups
      x-ms-examples:
        CreateOrUpdate_IpGroups:
          parameters:
            api-version: 2019-11-01
            ipGroupsName: ipGroups1
            parameters:
              location: West US
              properties:
                ipAddresses:
                - 13.64.39.16/32
                - 40.74.146.80/31
                - 40.74.147.32/28
              tags:
                key1: value1
            resourceGroupName: myResourceGroup
            subscriptionId: subId
          responses:
            "200":
              body:
                etag: w/\00000000-0000-0000-0000-000000000000\
                id: /subscriptions/subId/providers/Microsoft.Network/resourceGroup/myResourceGroup/ipGroups/ipGroups1
                location: westcentralus
                name: ipGroups1
                properties:
                  firewalls:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/azureFirewalls/azurefirewall
                  ipAddresses:
                  - 13.64.39.16/32
                  - 40.74.146.80/31
                  - 40.74.147.32/28
                  provisioningState: Succeeded
                type: Microsoft.Network/ipGroups
            "201":
              body:
                etag: w/\00000000-0000-0000-0000-000000000000\
                id: /subscriptions/subId/providers/Microsoft.Network/resourceGroup/myResourceGroup/ipGroups/ipGroups1
                location: westcentralus
                name: ipGroups1
                properties:
                  firewalls:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/azureFirewalls/azurefirewall
                  ipAddresses:
                  - 13.64.39.16/32
                  - 40.74.146.80/31
                  - 40.74.147.32/28
                  provisioningState: Succeeded
                type: Microsoft.Network/ipGroups
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.ip_groups_controller
components:
  schemas:
    IpGroup:
      allOf:
      - description: Common resource representation.
        properties:
          id:
            description: Resource ID.
            type: string
          location:
            description: Resource location.
            type: string
          name:
            description: Resource name.
            readOnly: true
            type: string
          tags:
            additionalProperties:
              type: string
            description: Resource tags.
            type: object
          type:
            description: Resource type.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: The IpGroups resource information.
      example:
        etag: etag
        properties:
          firewalls:
          - id: id
          - id: id
          ipAddresses:
          - ipAddresses
          - ipAddresses
          provisioningState: Succeeded
      properties:
        etag:
          description: A unique read-only string that changes whenever the resource
            is updated.
          readOnly: true
          title: etag
          type: string
        properties:
          $ref: '#/components/schemas/IpGroupPropertiesFormat'
      title: IpGroup
    IpGroupListResult:
      description: Response for the ListIpGroups API service call.
      example:
        value:
        - etag: etag
          properties:
            firewalls:
            - id: id
            - id: id
            ipAddresses:
            - ipAddresses
            - ipAddresses
            provisioningState: Succeeded
        - etag: etag
          properties:
            firewalls:
            - id: id
            - id: id
            ipAddresses:
            - ipAddresses
            - ipAddresses
            provisioningState: Succeeded
        nextLink: nextLink
      properties:
        nextLink:
          description: URL to get the next set of results.
          title: nextLink
          type: string
        value:
          description: The list of IpGroups information resources.
          items:
            $ref: '#/components/schemas/IpGroup'
          title: value
          type: array
      title: IpGroupListResult
      type: object
    IpGroupPropertiesFormat:
      description: The IpGroups property information.
      example:
        firewalls:
        - id: id
        - id: id
        ipAddresses:
        - ipAddresses
        - ipAddresses
        provisioningState: Succeeded
      properties:
        firewalls:
          description: List of references to Azure resources that this IpGroups is
            associated with.
          items:
            $ref: '#/components/schemas/IpGroupPropertiesFormat_firewalls_inner'
          readOnly: true
          title: firewalls
          type: array
        ipAddresses:
          description: IpAddresses/IpAddressPrefixes in the IpGroups resource.
          items:
            type: string
          title: ipAddresses
          type: array
        provisioningState:
          description: The current provisioning state.
          enum:
          - Succeeded
          - Updating
          - Deleting
          - Failed
          readOnly: true
          title: provisioningState
          type: string
          x-ms-enum:
            modelAsString: true
            name: ProvisioningState
      title: IpGroupPropertiesFormat
      type: object
    IpGroups_List_default_response_details_inner:
      description: Common error details representation.
      example:
        code: code
        message: message
        target: target
      properties:
        code:
          description: Error code.
          title: code
          type: string
        message:
          description: Error message.
          title: message
          type: string
        target:
          description: Error target.
          title: target
          type: string
      title: IpGroups_List_default_response_details_inner
      type: object
    IpGroups_List_default_response:
      description: Common error representation.
      example:
        code: code
        details:
        - code: code
          message: message
          target: target
        - code: code
          message: message
          target: target
        innerError: innerError
        message: message
        target: target
      properties:
        code:
          description: Error code.
          title: code
          type: string
        details:
          description: Error details.
          items:
            $ref: '#/components/schemas/IpGroups_List_default_response_details_inner'
          title: details
          type: array
        innerError:
          description: Inner error message.
          title: innerError
          type: string
        message:
          description: Error message.
          title: message
          type: string
        target:
          description: Error target.
          title: target
          type: string
      title: IpGroups_List_default_response
      type: object
    IpGroups_UpdateGroups_request:
      description: Tags object for patch operations.
      properties:
        tags:
          additionalProperties:
            type: string
          description: Resource tags.
          title: tags
          type: object
      title: IpGroups_UpdateGroups_request
      type: object
    IpGroupPropertiesFormat_firewalls_inner:
      description: Reference to another subresource.
      example:
        id: id
      properties:
        id:
          description: Resource ID.
          title: id
          type: string
      title: IpGroupPropertiesFormat_firewalls_inner
      type: object
      x-ms-azure-resource: true
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
