openapi: 3.0.1
info:
  description: The Admin Subscriptions Management Client.
  title: SubscriptionsManagementClient
  version: 2015-11-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/subscriptions/Microsoft.Subscriptions.Admin/preview/2015-11-01/OfferDelegation.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: azsadmin-OfferDelegation
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://adminmanagement.local.azurestack.external/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Subscriptions.Admin/offers/{offer}/offerDelegations
  : get:
      description: Get the list of offer delegations.
      operationId: offer_delegations_list
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription.The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The resource group the resource is located under.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of an offer.
        in: path
        name: offer
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          default: 2015-11-01
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfferDelegationList'
          description: OK
      tags:
      - OfferDelegations
      x-ms-examples:
        Get the list of offer delegations.:
          parameters:
            api-version: 2015-11-01
            location: local
            offer: Default Offer
            resourceGroupName: RG
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/2ac7d4ad-fece-4cf0-bc29-e8678897fa75/resourceGroups/cnur9852subscrrg374/providers/Microsoft.Subscriptions.Admin/offers/cnur9852tenantoffer374/offerDelegations/testOfferDelegation
                  location: local
                  name: cnur9852tenantoffer374/testOfferDelegation
                  properties:
                    subscriptionId: 9e8052f2-70df-44c0-8300-f97949ca75f0
                  type: Microsoft.Subscriptions.Admin/offers/offerDelegations
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.offer_delegations_controller
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Subscriptions.Admin/offers/{offer}/offerDelegations/{offerDelegationName}
  : delete:
      description: Delete the specified offer delegation.
      operationId: offer_delegations_delete
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription.The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The resource group the resource is located under.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of an offer.
        in: path
        name: offer
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of a offer delegation.
        in: path
        name: offer_delegation_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          default: 2015-11-01
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "204":
          content: {}
          description: No Content
      tags:
      - OfferDelegations
      x-ms-examples:
        Delete the specified offer delegation.:
          parameters:
            api-version: 2015-11-01
            location: local
            offer: cnur9852tenantoffer374
            offerDelegationName: testOfferDelegation
            resourceGroupName: cnur9852subscrrg374
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200": {}
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.offer_delegations_controller
    get:
      description: Get the specified offer delegation.
      operationId: offer_delegations_get
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription.The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The resource group the resource is located under.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of an offer.
        in: path
        name: offer
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of a offer delegation.
        in: path
        name: offerDelegationName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          default: 2015-11-01
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfferDelegation'
          description: OK
      tags:
      - OfferDelegations
      x-ms-examples:
        Get the specified offer delegation.:
          parameters:
            api-version: 2015-11-01
            location: local
            offer: cnur9852tenantoffer374
            offerDelegationName: testOfferDelegation
            resourceGroupName: cnur9852subscrrg374
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                id: /subscriptions/2ac7d4ad-fece-4cf0-bc29-e8678897fa75/resourceGroups/cnur9852subscrrg374/providers/Microsoft.Subscriptions.Admin/offers/cnur9852tenantoffer374/offerDelegations/testOfferDelegation
                location: local
                name: cnur9852tenantoffer374/testOfferDelegation
                properties:
                  subscriptionId: 9e8052f2-70df-44c0-8300-f97949ca75f0
                type: Microsoft.Subscriptions.Admin/offers/offerDelegations
      x-openapi-router-controller: openapi_server.controllers.offer_delegations_controller
    put:
      description: Create or update the offer delegation.
      operationId: offer_delegations_create_or_update
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription.The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The resource group the resource is located under.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of an offer.
        in: path
        name: offer
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of a offer delegation.
        in: path
        name: offer_delegation_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          default: 2015-11-01
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OfferDelegation'
        description: New offer delegation parameter.
        required: true
        x-ms-parameter-location: method
        x-body-name: newOfferDelegation
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfferDelegation'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfferDelegation'
          description: Created
      tags:
      - OfferDelegations
      x-ms-examples:
        Create or update the offer delegation.:
          parameters:
            api-version: 2015-11-01
            location: local
            newOfferDelegation: newDelegationName
            offer: cnur9852tenantoffer374
            offerDelegationName: testOfferDelegation
            resourceGroupName: cnur9852subscrrg374
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                id: /subscriptions/2ac7d4ad-fece-4cf0-bc29-e8678897fa75/resourceGroups/cnur9852subscrrg374/providers/Microsoft.Subscriptions.Admin/offers/cnur9852tenantoffer374/offerDelegations/testOfferDelegation
                location: local
                name: cnur9852tenantoffer374/testOfferDelegation
                properties:
                  subscriptionId: 9e8052f2-70df-44c0-8300-f97949ca75f0
                type: Microsoft.Subscriptions.Admin/offers/offerDelegations
            "201":
              body:
                id: /subscriptions/2ac7d4ad-fece-4cf0-bc29-e8678897fa75/resourceGroups/cnur9852subscrrg374/providers/Microsoft.Subscriptions.Admin/offers/cnur9852tenantoffer374/offerDelegations/testOfferDelegation
                location: local
                name: cnur9852tenantoffer374/testOfferDelegation
                properties:
                  subscriptionId: 9e8052f2-70df-44c0-8300-f97949ca75f0
                type: Microsoft.Subscriptions.Admin/offers/offerDelegations
      x-codegen-request-body-name: newOfferDelegation
      x-openapi-router-controller: openapi_server.controllers.offer_delegations_controller
components:
  parameters:
    OfferDelegationParameter:
      description: Name of a offer delegation.
      in: path
      name: offerDelegationName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  requestBodies:
    NewOfferDelegationParameter:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OfferDelegation'
      description: New offer delegation parameter.
      required: true
      x-ms-parameter-location: method
      x-body-name: newOfferDelegation
  schemas:
    OfferDelegation:
      allOf:
      - description: Base Resource Object
        properties:
          id:
            description: URI of the resource.
            readOnly: true
            type: string
          location:
            description: Location of the resource
            type: string
          name:
            description: Name of the resource.
            readOnly: true
            type: string
          tags:
            additionalProperties:
              type: string
            description: List of key-value pairs.
            readOnly: true
            type: object
          type:
            description: Type of resource.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: Offer delegation.
      example:
        properties:
          subscriptionId: subscriptionId
      properties:
        properties:
          $ref: '#/components/schemas/OfferDelegationProperties'
      title: OfferDelegation
    OfferDelegationList:
      description: "."
      example:
        value:
        - properties:
            subscriptionId: subscriptionId
        - properties:
            subscriptionId: subscriptionId
        nextLink: nextLink
      properties:
        nextLink:
          description: Continuation token
          title: nextLink
          type: string
        value:
          description: Array of usage aggregates.
          items:
            $ref: '#/components/schemas/OfferDelegation'
          title: value
          type: array
      title: OfferDelegationList
      type: object
    OfferDelegationProperties:
      description: Properties for an offer delegation.
      example:
        subscriptionId: subscriptionId
      properties:
        subscriptionId:
          description: Identifier of the subscription receiving the delegated offer.
          title: subscriptionId
          type: string
      title: OfferDelegationProperties
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
