openapi: 3.0.1
info:
  description: The Managed Labs Client.
  title: ManagedLabsClient
  version: 2018-10-15
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/labservices/resource-manager/Microsoft.LabServices/stable/2018-10-15/ML.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: labservices-ML
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.LabServices/operations:
    get:
      description: Result of the request to list REST API operations
      operationId: provider_operations_list
      parameters:
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          default: 2018-10-15
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderOperationResult'
          description: Success
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - ProviderOperations
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.provider_operations_controller
  /providers/Microsoft.LabServices/users/{userName}/getEnvironment:
    post:
      description: Gets the virtual machine details
      operationId: global_users_get_environment
      parameters:
      - description: The name of the user.
        in: path
        name: userName
        required: true
        schema:
          type: string
      - description: "Specify the $expand query. Example: 'properties($expand=environment)'"
        in: query
        name: $expand
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2018-10-15
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnvironmentOperationsPayload'
        description: "Represents payload for any Environment operations like get,\
          \ start, stop, connect"
        required: true
        x-body-name: environmentOperationsPayload
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetEnvironmentResponse'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - GlobalUsers
      x-codegen-request-body-name: environmentOperationsPayload
      x-openapi-router-controller: openapi_server.controllers.global_users_controller
  /providers/Microsoft.LabServices/users/{userName}/getOperationBatchStatus:
    post:
      description: Get batch operation status
      operationId: global_users_get_operation_batch_status
      parameters:
      - description: The name of the user.
        in: path
        name: userName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2018-10-15
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OperationBatchStatusPayload'
        description: Payload to get the status of an operation
        required: true
        x-body-name: operationBatchStatusPayload
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationBatchStatusResponse'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - GlobalUsers
      x-codegen-request-body-name: operationBatchStatusPayload
      x-openapi-router-controller: openapi_server.controllers.global_users_controller
  /providers/Microsoft.LabServices/users/{userName}/getOperationStatus:
    post:
      description: Gets the status of long running operation
      operationId: global_users_get_operation_status
      parameters:
      - description: The name of the user.
        in: path
        name: userName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2018-10-15
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OperationStatusPayload'
        description: Payload to get the status of an operation
        required: true
        x-body-name: operationStatusPayload
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatusResponse'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - GlobalUsers
      x-codegen-request-body-name: operationStatusPayload
      x-openapi-router-controller: openapi_server.controllers.global_users_controller
  /providers/Microsoft.LabServices/users/{userName}/getPersonalPreferences:
    post:
      description: Get personal preferences for a user
      operationId: global_users_get_personal_preferences
      parameters:
      - description: The name of the user.
        in: path
        name: userName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2018-10-15
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PersonalPreferencesOperationsPayload'
        description: "Represents payload for any Environment operations like get,\
          \ start, stop, connect"
        required: true
        x-body-name: personalPreferencesOperationsPayload
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPersonalPreferencesResponse'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - GlobalUsers
      x-codegen-request-body-name: personalPreferencesOperationsPayload
      x-openapi-router-controller: openapi_server.controllers.global_users_controller
  /providers/Microsoft.LabServices/users/{userName}/listEnvironments:
    post:
      description: List Environments for the user
      operationId: global_users_list_environments
      parameters:
      - description: The name of the user.
        in: path
        name: userName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2018-10-15
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListEnvironmentsPayload'
        description: Represents the payload to list environments owned by a user
        required: true
        x-body-name: listEnvironmentsPayload
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListEnvironmentsResponse'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - GlobalUsers
      x-codegen-request-body-name: listEnvironmentsPayload
      x-openapi-router-controller: openapi_server.controllers.global_users_controller
  /providers/Microsoft.LabServices/users/{userName}/listLabs:
    post:
      description: List labs for the user.
      operationId: global_users_list_labs
      parameters:
      - description: The name of the user.
        in: path
        name: userName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2018-10-15
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListLabsResponse'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - GlobalUsers
      x-openapi-router-controller: openapi_server.controllers.global_users_controller
  /providers/Microsoft.LabServices/users/{userName}/register:
    post:
      description: Register a user to a managed lab
      operationId: global_users_register
      parameters:
      - description: The name of the user.
        in: path
        name: userName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2018-10-15
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterPayload'
        description: Represents payload for Register action.
        required: true
        x-body-name: registerPayload
      responses:
        "200":
          content: {}
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - GlobalUsers
      x-codegen-request-body-name: registerPayload
      x-openapi-router-controller: openapi_server.controllers.global_users_controller
  /providers/Microsoft.LabServices/users/{userName}/resetPassword:
    post:
      description: Resets the user password on an environment This operation can take
        a while to complete
      operationId: global_users_reset_password
      parameters:
      - description: The name of the user.
        in: path
        name: userName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2018-10-15
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResetPasswordPayload'
        description: Represents the payload for resetting passwords.
        required: true
        x-body-name: resetPasswordPayload
      responses:
        "200":
          content: {}
          description: OK
        "202":
          content: {}
          description: Accepted
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - GlobalUsers
      x-ms-long-running-operation: true
      x-codegen-request-body-name: resetPasswordPayload
      x-openapi-router-controller: openapi_server.controllers.global_users_controller
  /providers/Microsoft.LabServices/users/{userName}/startEnvironment:
    post:
      description: Starts an environment by starting all resources inside the environment.
        This operation can take a while to complete
      operationId: global_users_start_environment
      parameters:
      - description: The name of the user.
        in: path
        name: userName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2018-10-15
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnvironmentOperationsPayload'
        description: "Represents payload for any Environment operations like get,\
          \ start, stop, connect"
        required: true
        x-body-name: environmentOperationsPayload
      responses:
        "200":
          content: {}
          description: OK
        "202":
          content: {}
          description: Accepted
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - GlobalUsers
      x-ms-long-running-operation: true
      x-codegen-request-body-name: environmentOperationsPayload
      x-openapi-router-controller: openapi_server.controllers.global_users_controller
  /providers/Microsoft.LabServices/users/{userName}/stopEnvironment:
    post:
      description: Stops an environment by stopping all resources inside the environment
        This operation can take a while to complete
      operationId: global_users_stop_environment
      parameters:
      - description: The name of the user.
        in: path
        name: userName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2018-10-15
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnvironmentOperationsPayload'
        description: "Represents payload for any Environment operations like get,\
          \ start, stop, connect"
        required: true
        x-body-name: environmentOperationsPayload
      responses:
        "200":
          content: {}
          description: OK
        "202":
          content: {}
          description: Accepted
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - GlobalUsers
      x-ms-long-running-operation: true
      x-codegen-request-body-name: environmentOperationsPayload
      x-openapi-router-controller: openapi_server.controllers.global_users_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.LabServices/labaccounts:
    get:
      description: List lab accounts in a subscription.
      operationId: lab_accounts_list_by_subscription
      parameters:
      - description: The subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: "Specify the $expand query. Example: 'properties($expand=sizeConfiguration)'"
        in: query
        name: $expand
        schema:
          type: string
      - description: The filter to apply to the operation.
        in: query
        name: $filter
        schema:
          type: string
      - description: The maximum number of resources to return from the operation.
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: "The ordering expression for the results, using OData notation."
        in: query
        name: $orderby
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2018-10-15
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseWithContinuation[LabAccount]"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - LabAccounts
      x-ms-odata: '#/definitions/LabAccount'
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.lab_accounts_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.LabServices/locations/{locationName}/operations/{operationName}:
    get:
      description: Get operation
      operationId: operations_get
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the location.
        in: path
        name: locationName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the operation.
        in: path
        name: operationName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2018-10-15
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResult'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - Operations
      x-openapi-router-controller: openapi_server.controllers.operations_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts:
    get:
      description: List lab accounts in a resource group.
      operationId: lab_accounts_list_by_resource_group
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "Specify the $expand query. Example: 'properties($expand=sizeConfiguration)'"
        in: query
        name: $expand
        schema:
          type: string
      - description: The filter to apply to the operation.
        in: query
        name: $filter
        schema:
          type: string
      - description: The maximum number of resources to return from the operation.
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: "The ordering expression for the results, using OData notation."
        in: query
        name: $orderby
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2018-10-15
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseWithContinuation[LabAccount]"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - LabAccounts
      x-ms-odata: '#/definitions/LabAccount'
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.lab_accounts_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}:
    delete:
      description: Delete lab account. This operation can take a while to complete
      operationId: lab_accounts_delete
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab Account.
        in: path
        name: labAccountName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2018-10-15
          type: string
      responses:
        "202":
          content: {}
          description: Accepted
        "204":
          content: {}
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - LabAccounts
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.lab_accounts_controller
    get:
      description: Get lab account
      operationId: lab_accounts_get
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab Account.
        in: path
        name: labAccountName
        required: true
        schema:
          type: string
      - description: "Specify the $expand query. Example: 'properties($expand=sizeConfiguration)'"
        in: query
        name: $expand
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2018-10-15
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabAccount'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - LabAccounts
      x-openapi-router-controller: openapi_server.controllers.lab_accounts_controller
    patch:
      description: Modify properties of lab accounts.
      operationId: lab_accounts_update
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab Account.
        in: path
        name: labAccountName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2018-10-15
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LabAccountFragment'
        description: Represents a lab account.
        required: true
        x-body-name: labAccount
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabAccount'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - LabAccounts
      x-codegen-request-body-name: labAccount
      x-openapi-router-controller: openapi_server.controllers.lab_accounts_controller
    put:
      description: Create or replace an existing Lab Account.
      operationId: lab_accounts_create_or_update
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab Account.
        in: path
        name: labAccountName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2018-10-15
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LabAccount'
        description: Represents a lab account.
        required: true
        x-body-name: labAccount
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabAccount'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabAccount'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - LabAccounts
      x-codegen-request-body-name: labAccount
      x-openapi-router-controller: openapi_server.controllers.lab_accounts_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/createLab
  : post:
      description: Create a lab in a lab account.
      operationId: lab_accounts_create_lab
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab Account.
        in: path
        name: labAccountName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2018-10-15
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateLabProperties'
        description: Properties for creating a managed lab and a default environment
          setting
        required: true
        x-body-name: createLabProperties
      responses:
        "200":
          content: {}
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - LabAccounts
      x-codegen-request-body-name: createLabProperties
      x-openapi-router-controller: openapi_server.controllers.lab_accounts_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/galleryimages
  : get:
      description: List gallery images in a given lab account.
      operationId: gallery_images_list
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab Account.
        in: path
        name: labAccountName
        required: true
        schema:
          type: string
      - description: "Specify the $expand query. Example: 'properties($select=author)'"
        in: query
        name: $expand
        schema:
          type: string
      - description: The filter to apply to the operation.
        in: query
        name: $filter
        schema:
          type: string
      - description: The maximum number of resources to return from the operation.
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: "The ordering expression for the results, using OData notation."
        in: query
        name: $orderby
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2018-10-15
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseWithContinuation[GalleryImage]"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - GalleryImages
      x-ms-odata: '#/definitions/GalleryImage'
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.gallery_images_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/galleryimages/{galleryImageName}
  : delete:
      description: Delete gallery image.
      operationId: gallery_images_delete
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab Account.
        in: path
        name: labAccountName
        required: true
        schema:
          type: string
      - description: The name of the gallery Image.
        in: path
        name: galleryImageName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2018-10-15
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "204":
          content: {}
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - GalleryImages
      x-openapi-router-controller: openapi_server.controllers.gallery_images_controller
    get:
      description: Get gallery image
      operationId: gallery_images_get
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab Account.
        in: path
        name: labAccountName
        required: true
        schema:
          type: string
      - description: The name of the gallery Image.
        in: path
        name: galleryImageName
        required: true
        schema:
          type: string
      - description: "Specify the $expand query. Example: 'properties($select=author)'"
        in: query
        name: $expand
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2018-10-15
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GalleryImage'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - GalleryImages
      x-openapi-router-controller: openapi_server.controllers.gallery_images_controller
    patch:
      description: Modify properties of gallery images.
      operationId: gallery_images_update
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab Account.
        in: path
        name: labAccountName
        required: true
        schema:
          type: string
      - description: The name of the gallery Image.
        in: path
        name: galleryImageName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2018-10-15
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GalleryImageFragment'
        description: Represents an image from the Azure Marketplace
        required: true
        x-body-name: galleryImage
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GalleryImage'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - GalleryImages
      x-codegen-request-body-name: galleryImage
      x-openapi-router-controller: openapi_server.controllers.gallery_images_controller
    put:
      description: Create or replace an existing Gallery Image.
      operationId: gallery_images_create_or_update
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab Account.
        in: path
        name: labAccountName
        required: true
        schema:
          type: string
      - description: The name of the gallery Image.
        in: path
        name: galleryImageName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2018-10-15
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GalleryImage'
        description: Represents an image from the Azure Marketplace
        required: true
        x-body-name: galleryImage
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GalleryImage'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GalleryImage'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - GalleryImages
      x-codegen-request-body-name: galleryImage
      x-openapi-router-controller: openapi_server.controllers.gallery_images_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/getRegionalAvailability
  : post:
      description: Get regional availability information for each size category configured
        under a lab account
      operationId: lab_accounts_get_regional_availability
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab Account.
        in: path
        name: labAccountName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2018-10-15
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRegionalAvailabilityResponse'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - LabAccounts
      x-openapi-router-controller: openapi_server.controllers.lab_accounts_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/labs
  : get:
      description: List labs in a given lab account.
      operationId: labs_list
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab Account.
        in: path
        name: labAccountName
        required: true
        schema:
          type: string
      - description: "Specify the $expand query. Example: 'properties($select=maxUsersInLab)'"
        in: query
        name: $expand
        schema:
          type: string
      - description: The filter to apply to the operation.
        in: query
        name: $filter
        schema:
          type: string
      - description: The maximum number of resources to return from the operation.
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: "The ordering expression for the results, using OData notation."
        in: query
        name: $orderby
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2018-10-15
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseWithContinuation[Lab]"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - Labs
      x-ms-examples:
        Labs_List:
          parameters:
            api-version: 2018-10-15
            labAccountName: "{devtestlab-name}"
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                value:
                - id: "/subscriptions/{subscription-id}/resourcegroups/myResourceGroup/providers/microsoft.labservices/labaccounts/{devtestlab-name}/labs/{labName}"
                  location: australiaeast
                  name: "{labName}"
                  properties:
                    createdByObjectId: 11111111-1111-1111-1111-111111111111
                    createdByUserPrincipalName: YourNameHere@domain.com
                    createdDate: 2018-10-09T21:05:25.0408858+00:00
                    invitationCode: "{invitationCode}"
                    latestOperationResult: {}
                    maxUsersInLab: 1
                    provisioningState: Succeeded
                    uniqueIdentifier: 22222222-2222-2222-2222-222222222222
                    userAccessMode: Restricted
                    userQuota: 100
                  tags:
                    Name: CreatedDate
                    Value: 8/30/118 9:37:32 PM
                  type: Microsoft.LabServices/labAccounts/labs
                - id: "/subscriptions/{subscription-id}/resourcegroups/myResourceGroup/providers/microsoft.labservices/labaccounts/{devtestlab-name}/labs/{labName}"
                  location: australiaeast
                  name: "{labName}"
                  properties:
                    createdByObjectId: 11111111-1111-1111-1111-111111111111
                    createdByUserPrincipalName: YourNameHere@domain.com
                    createdDate: 2018-10-09T21:29:47.2453342+00:00
                    invitationCode: "{invitationCode}"
                    latestOperationResult: {}
                    maxUsersInLab: 1
                    provisioningState: Succeeded
                    uniqueIdentifier: 22222222-2222-2222-2222-222222222222
                    userAccessMode: Restricted
                    userQuota: 100
                  tags:
                    Name: CreatedDate
                    Value: 8/30/118 9:37:36 PM
                  type: Microsoft.LabServices/labAccounts/labs
      x-ms-odata: '#/definitions/Lab'
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.labs_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/labs/{labName}
  : delete:
      description: Delete lab. This operation can take a while to complete
      operationId: labs_delete
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab Account.
        in: path
        name: labAccountName
        required: true
        schema:
          type: string
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2018-10-15
          type: string
      responses:
        "202":
          content: {}
          description: Accepted
        "204":
          content: {}
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - Labs
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.labs_controller
    get:
      description: Get lab
      operationId: labs_get
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab Account.
        in: path
        name: labAccountName
        required: true
        schema:
          type: string
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: "Specify the $expand query. Example: 'properties($select=maxUsersInLab)'"
        in: query
        name: $expand
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2018-10-15
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Lab'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - Labs
      x-openapi-router-controller: openapi_server.controllers.labs_controller
    patch:
      description: Modify properties of labs.
      operationId: labs_update
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab Account.
        in: path
        name: labAccountName
        required: true
        schema:
          type: string
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2018-10-15
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LabFragment'
        description: Represents a lab.
        required: true
        x-body-name: lab
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Lab'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - Labs
      x-codegen-request-body-name: lab
      x-openapi-router-controller: openapi_server.controllers.labs_controller
    put:
      description: Create or replace an existing Lab.
      operationId: labs_create_or_update
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab Account.
        in: path
        name: labAccountName
        required: true
        schema:
          type: string
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2018-10-15
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Lab'
        description: Represents a lab.
        required: true
        x-body-name: lab
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Lab'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Lab'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - Labs
      x-codegen-request-body-name: lab
      x-openapi-router-controller: openapi_server.controllers.labs_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/labs/{labName}/addUsers
  : post:
      description: Add users to a lab
      operationId: labs_add_users
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab Account.
        in: path
        name: labAccountName
        required: true
        schema:
          type: string
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2018-10-15
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddUsersPayload'
        description: Payload for Add Users operation on a Lab.
        required: true
        x-body-name: addUsersPayload
      responses:
        "200":
          content: {}
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - Labs
      x-codegen-request-body-name: addUsersPayload
      x-openapi-router-controller: openapi_server.controllers.labs_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/labs/{labName}/environmentsettings
  : get:
      description: List environment setting in a given lab.
      operationId: environment_settings_list
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab Account.
        in: path
        name: labAccountName
        required: true
        schema:
          type: string
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: "Specify the $expand query. Example: 'properties($select=publishingState)'"
        in: query
        name: $expand
        schema:
          type: string
      - description: The filter to apply to the operation.
        in: query
        name: $filter
        schema:
          type: string
      - description: The maximum number of resources to return from the operation.
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: "The ordering expression for the results, using OData notation."
        in: query
        name: $orderby
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2018-10-15
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseWithContinuation[EnvironmentSetting]"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - EnvironmentSettings
      x-ms-odata: '#/definitions/EnvironmentSetting'
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.environment_settings_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/labs/{labName}/environmentsettings/{environmentSettingName}
  : delete:
      description: Delete environment setting. This operation can take a while to
        complete
      operationId: environment_settings_delete
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab Account.
        in: path
        name: labAccountName
        required: true
        schema:
          type: string
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the environment Setting.
        in: path
        name: environmentSettingName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2018-10-15
          type: string
      responses:
        "202":
          content: {}
          description: Accepted
        "204":
          content: {}
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - EnvironmentSettings
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.environment_settings_controller
    get:
      description: Get environment setting
      operationId: environment_settings_get
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab Account.
        in: path
        name: labAccountName
        required: true
        schema:
          type: string
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the environment Setting.
        in: path
        name: environmentSettingName
        required: true
        schema:
          type: string
      - description: "Specify the $expand query. Example: 'properties($select=publishingState)'"
        in: query
        name: $expand
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2018-10-15
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentSetting'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - EnvironmentSettings
      x-openapi-router-controller: openapi_server.controllers.environment_settings_controller
    patch:
      description: Modify properties of environment setting.
      operationId: environment_settings_update
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab Account.
        in: path
        name: labAccountName
        required: true
        schema:
          type: string
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the environment Setting.
        in: path
        name: environmentSettingName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2018-10-15
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnvironmentSettingFragment'
        description: "Represents settings of an environment, from which environment\
          \ instances would be created"
        required: true
        x-body-name: environmentSetting
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentSetting'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - EnvironmentSettings
      x-codegen-request-body-name: environmentSetting
      x-openapi-router-controller: openapi_server.controllers.environment_settings_controller
    put:
      description: Create or replace an existing Environment Setting. This operation
        can take a while to complete
      operationId: environment_settings_create_or_update
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab Account.
        in: path
        name: labAccountName
        required: true
        schema:
          type: string
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the environment Setting.
        in: path
        name: environmentSettingName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2018-10-15
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnvironmentSetting'
        description: "Represents settings of an environment, from which environment\
          \ instances would be created"
        required: true
        x-body-name: environmentSetting
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentSetting'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentSetting'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - EnvironmentSettings
      x-ms-long-running-operation: true
      x-codegen-request-body-name: environmentSetting
      x-openapi-router-controller: openapi_server.controllers.environment_settings_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/labs/{labName}/environmentsettings/{environmentSettingName}/claimAny
  : post:
      description: Claims a random environment for a user in an environment settings
      operationId: environment_settings_claim_any
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab Account.
        in: path
        name: labAccountName
        required: true
        schema:
          type: string
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the environment Setting.
        in: path
        name: environmentSettingName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2018-10-15
          type: string
      responses:
        "200":
          content: {}
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - EnvironmentSettings
      x-openapi-router-controller: openapi_server.controllers.environment_settings_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/labs/{labName}/environmentsettings/{environmentSettingName}/environments
  : get:
      description: List environments in a given environment setting.
      operationId: environments_list
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab Account.
        in: path
        name: labAccountName
        required: true
        schema:
          type: string
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the environment Setting.
        in: path
        name: environmentSettingName
        required: true
        schema:
          type: string
      - description: "Specify the $expand query. Example: 'properties($expand=networkInterface)'"
        in: query
        name: $expand
        schema:
          type: string
      - description: The filter to apply to the operation.
        in: query
        name: $filter
        schema:
          type: string
      - description: The maximum number of resources to return from the operation.
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: "The ordering expression for the results, using OData notation."
        in: query
        name: $orderby
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2018-10-15
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseWithContinuation[Environment]"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - Environments
      x-ms-odata: '#/definitions/Environment'
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.environments_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/labs/{labName}/environmentsettings/{environmentSettingName}/environments/{environmentName}
  : delete:
      description: Delete environment. This operation can take a while to complete
      operationId: environments_delete
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab Account.
        in: path
        name: labAccountName
        required: true
        schema:
          type: string
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the environment Setting.
        in: path
        name: environmentSettingName
        required: true
        schema:
          type: string
      - description: The name of the environment.
        in: path
        name: environmentName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2018-10-15
          type: string
      responses:
        "202":
          content: {}
          description: Accepted
        "204":
          content: {}
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - Environments
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.environments_controller
    get:
      description: Get environment
      operationId: environments_get
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab Account.
        in: path
        name: labAccountName
        required: true
        schema:
          type: string
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the environment Setting.
        in: path
        name: environmentSettingName
        required: true
        schema:
          type: string
      - description: The name of the environment.
        in: path
        name: environmentName
        required: true
        schema:
          type: string
      - description: "Specify the $expand query. Example: 'properties($expand=networkInterface)'"
        in: query
        name: $expand
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2018-10-15
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Environment'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - Environments
      x-openapi-router-controller: openapi_server.controllers.environments_controller
    patch:
      description: Modify properties of environments.
      operationId: environments_update
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab Account.
        in: path
        name: labAccountName
        required: true
        schema:
          type: string
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the environment Setting.
        in: path
        name: environmentSettingName
        required: true
        schema:
          type: string
      - description: The name of the environment.
        in: path
        name: environmentName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2018-10-15
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnvironmentFragment'
        description: Represents an environment instance
        required: true
        x-body-name: environment
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Environment'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - Environments
      x-codegen-request-body-name: environment
      x-openapi-router-controller: openapi_server.controllers.environments_controller
    put:
      description: Create or replace an existing Environment.
      operationId: environments_create_or_update
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab Account.
        in: path
        name: labAccountName
        required: true
        schema:
          type: string
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the environment Setting.
        in: path
        name: environmentSettingName
        required: true
        schema:
          type: string
      - description: The name of the environment.
        in: path
        name: environmentName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2018-10-15
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Environment'
        description: Represents an environment instance
        required: true
        x-body-name: environment
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Environment'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Environment'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - Environments
      x-codegen-request-body-name: environment
      x-openapi-router-controller: openapi_server.controllers.environments_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/labs/{labName}/environmentsettings/{environmentSettingName}/environments/{environmentName}/claim
  : post:
      description: Claims the environment and assigns it to the user
      operationId: environments_claim
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab Account.
        in: path
        name: labAccountName
        required: true
        schema:
          type: string
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the environment Setting.
        in: path
        name: environmentSettingName
        required: true
        schema:
          type: string
      - description: The name of the environment.
        in: path
        name: environmentName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2018-10-15
          type: string
      responses:
        "200":
          content: {}
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - Environments
      x-openapi-router-controller: openapi_server.controllers.environments_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/labs/{labName}/environmentsettings/{environmentSettingName}/environments/{environmentName}/resetPassword
  : post:
      description: Resets the user password on an environment This operation can take
        a while to complete
      operationId: environments_reset_password
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab Account.
        in: path
        name: labAccountName
        required: true
        schema:
          type: string
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the environment Setting.
        in: path
        name: environmentSettingName
        required: true
        schema:
          type: string
      - description: The name of the environment.
        in: path
        name: environmentName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2018-10-15
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResetPasswordPayload'
        description: Represents the payload for resetting passwords.
        required: true
        x-body-name: resetPasswordPayload
      responses:
        "200":
          content: {}
          description: OK
        "202":
          content: {}
          description: Accepted
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - Environments
      x-ms-long-running-operation: true
      x-codegen-request-body-name: resetPasswordPayload
      x-openapi-router-controller: openapi_server.controllers.environments_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/labs/{labName}/environmentsettings/{environmentSettingName}/environments/{environmentName}/start
  : post:
      description: Starts an environment by starting all resources inside the environment.
        This operation can take a while to complete
      operationId: environments_start
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab Account.
        in: path
        name: labAccountName
        required: true
        schema:
          type: string
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the environment Setting.
        in: path
        name: environmentSettingName
        required: true
        schema:
          type: string
      - description: The name of the environment.
        in: path
        name: environmentName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2018-10-15
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "202":
          content: {}
          description: Accepted
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - Environments
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.environments_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/labs/{labName}/environmentsettings/{environmentSettingName}/environments/{environmentName}/stop
  : post:
      description: Stops an environment by stopping all resources inside the environment
        This operation can take a while to complete
      operationId: environments_stop
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab Account.
        in: path
        name: labAccountName
        required: true
        schema:
          type: string
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the environment Setting.
        in: path
        name: environmentSettingName
        required: true
        schema:
          type: string
      - description: The name of the environment.
        in: path
        name: environmentName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2018-10-15
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "202":
          content: {}
          description: Accepted
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - Environments
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.environments_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/labs/{labName}/environmentsettings/{environmentSettingName}/publish
  : post:
      description: Provisions/deprovisions required resources for an environment setting
        based on current state of the lab/environment setting.
      operationId: environment_settings_publish
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab Account.
        in: path
        name: labAccountName
        required: true
        schema:
          type: string
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the environment Setting.
        in: path
        name: environmentSettingName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2018-10-15
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublishPayload'
        description: Payload for Publish operation on EnvironmentSetting.
        required: true
        x-body-name: publishPayload
      responses:
        "200":
          content: {}
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - EnvironmentSettings
      x-codegen-request-body-name: publishPayload
      x-openapi-router-controller: openapi_server.controllers.environment_settings_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/labs/{labName}/environmentsettings/{environmentSettingName}/start
  : post:
      description: Starts a template by starting all resources inside the template.
        This operation can take a while to complete
      operationId: environment_settings_start
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab Account.
        in: path
        name: labAccountName
        required: true
        schema:
          type: string
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the environment Setting.
        in: path
        name: environmentSettingName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2018-10-15
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "202":
          content: {}
          description: Accepted
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - EnvironmentSettings
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.environment_settings_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/labs/{labName}/environmentsettings/{environmentSettingName}/stop
  : post:
      description: Starts a template by starting all resources inside the template.
        This operation can take a while to complete
      operationId: environment_settings_stop
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab Account.
        in: path
        name: labAccountName
        required: true
        schema:
          type: string
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the environment Setting.
        in: path
        name: environmentSettingName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2018-10-15
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "202":
          content: {}
          description: Accepted
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - EnvironmentSettings
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.environment_settings_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/labs/{labName}/register
  : post:
      description: Register to managed lab.
      operationId: labs_register
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab Account.
        in: path
        name: labAccountName
        required: true
        schema:
          type: string
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2018-10-15
          type: string
      responses:
        "200":
          content: {}
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - Labs
      x-openapi-router-controller: openapi_server.controllers.labs_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/labs/{labName}/users
  : get:
      description: List users in a given lab.
      operationId: users_list
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab Account.
        in: path
        name: labAccountName
        required: true
        schema:
          type: string
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: "Specify the $expand query. Example: 'properties($select=email)'"
        in: query
        name: $expand
        schema:
          type: string
      - description: The filter to apply to the operation.
        in: query
        name: $filter
        schema:
          type: string
      - description: The maximum number of resources to return from the operation.
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: "The ordering expression for the results, using OData notation."
        in: query
        name: $orderby
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2018-10-15
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseWithContinuation[User]"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - Users
      x-ms-odata: '#/definitions/User'
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.users_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/labs/{labName}/users/{userName}
  : delete:
      description: Delete user. This operation can take a while to complete
      operationId: users_delete
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab Account.
        in: path
        name: labAccountName
        required: true
        schema:
          type: string
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the user.
        in: path
        name: userName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2018-10-15
          type: string
      responses:
        "202":
          content: {}
          description: Accepted
        "204":
          content: {}
          description: No Content
[...]
