openapi: 3.0.1
info:
  description: Billing client provides access to billing resources for Azure subscriptions.
  title: BillingManagementClient
  version: 2019-10-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/billing/resource-manager/Microsoft.Billing/preview/2019-10-01-preview/billing.json
    version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: billing
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.Billing/billingAccounts:
    get:
      description: Lists all billing accounts for a user which he has access to.
      operationId: billing_accounts_list
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2019-10-01-preview.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: "May be used to expand the address, invoiceSections and billingProfiles."
        in: query
        name: $expand
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingAccountListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - BillingAccounts
      x-ms-examples:
        BillingAccountsList:
          parameters:
            api-version: 2019-10-01-preview
          responses:
            "200":
              body:
                value:
                - id: /providers/Microsoft.Billing/billingAccounts/00000000-0000-0000-0000-000000000000_00000000-0000-0000-0000-000000000000
                  name: 00000000-0000-0000-0000-000000000000_00000000-0000-0000-0000-000000000000
                  properties:
                    agreementType: MicrosoftCustomerAgreement
                    customerType: Enterprise
                    displayName: Test Account 1
                    organizationId: 00000000-0000-0000-0000-000000000000
                  type: Microsoft.Billing/billingAccounts
                - id: /providers/Microsoft.Billing/billingAccounts/10000000-0000-0000-0000-000000000001_00000000-0000-0000-0000-000000000000
                  name: 10000000-0000-0000-0000-000000000001_00000000-0000-0000-0000-000000000000
                  properties:
                    agreementType: MicrosoftCustomerAgreement
                    customerType: Enterprise
                    displayName: Test Account 2
                    organizationId: 00000000-0000-0000-0000-000000000000
                  type: Microsoft.Billing/billingAccounts
                - id: /providers/Microsoft.Billing/billingAccounts/20000000-0000-0000-0000-000000000002_00000000-0000-0000-0000-000000000000
                  name: 20000000-0000-0000-0000-000000000002_00000000-0000-0000-0000-000000000000
                  properties:
                    agreementType: MicrosoftCustomerAgreement
                    customerType: Enterprise
                    displayName: Test Account 3
                    organizationId: 00000000-0000-0000-0000-000000000000
                  type: Microsoft.Billing/billingAccounts
        BillingAccountsListWithExpand:
          parameters:
            $expand: "address, billingProfiles, billingProfiles/invoiceSections"
            api-version: 2019-10-01-preview
          responses:
            "200":
              body:
                value:
                - id: /providers/Microsoft.Billing/billingAccounts/00000000-0000-0000-0000-000000000000_00000000-0000-0000-0000-000000000000
                  name: 00000000-0000-0000-0000-000000000000_00000000-0000-0000-0000-000000000000
                  properties:
                    address:
                      addressLine1: Test Address
                      addressLine2: Test Address
                      addressLine3: Test Address
                      city: City
                      companyName: Contoso
                      country: US
                      firstName: Test
                      lastName: User
                      postalCode: "00000"
                      region: WA
                    agreementType: MicrosoftCustomerAgreement
                    billingProfiles:
                    - id: /providers/Microsoft.Billing/billingAccounts/00000000-0000-0000-0000-000000000000_00000000-0000-0000-0000-000000000000/billingProfiles/11000000-0000-0000-0000-000000000000
                      name: 11000000-0000-0000-0000-000000000000
                      properties:
                        address:
                          addressLine1: Test Address1
                          addressLine2: Test Address2
                          addressLine3: Test Address3
                          city: City
                          companyName: Contoso
                          country: US
                          firstName: Test
                          lastName: User
                          postalCode: "00000"
                          region: WA
                        currency: USD
                        displayName: BillingProfile1
                        enabledAzurePlans:
                        - skuDescription: Microsoft Azure Dev/Test
                          skuId: "0001"
                        - skuDescription: Microsoft Azure Standard
                          skuId: "0002"
                        invoiceDay: 5
                        invoiceEmailOptIn: true
                        invoiceSections:
                        - id: /providers/Microsoft.Billing/billingAccounts/00000000-0000-0000-0000-000000000000_00000000-0000-0000-0000-000000000000/billingProfiles/11000000-0000-0000-0000-000000000000/invoiceSections/invoiceSectionId1
                          name: invoiceSectionId1
                          properties:
                            displayName: invoiceSectionName1
                          type: Microsoft.Billing/billingAccounts/billingProfiles/invoiceSections
                        - id: /providers/Microsoft.Billing/billingAccounts/00000000-0000-0000-0000-000000000000_00000000-0000-0000-0000-000000000000/billingProfiles/11000000-0000-0000-0000-000000000000/invoiceSections/invoiceSectionId2
                          name: invoiceSectionId2
                          properties:
                            displayName: invoiceSectionName2
                          type: Microsoft.Billing/billingAccounts/billingProfiles/invoiceSections
                        poNumber: ABC12345
                      type: Microsoft.Billing/billingAccounts/billingProfiles
                    - id: /providers/Microsoft.Billing/billingAccounts/00000000-0000-0000-0000-000000000000_00000000-0000-0000-0000-000000000000/billingProfiles/11000000-0000-0000-0000-000000000001
                      name: 11000000-0000-0000-0000-000000000001
                      properties:
                        address:
                          addressLine1: Test Address1
                          addressLine2: Test Address2
                          addressLine3: Test Address3
                          city: City
                          companyName: Contoso
                          country: US
                          firstName: Test
                          lastName: User
                          postalCode: "00000"
                          region: WA
                        currency: USD
                        displayName: BillingProfile2
                        enabledAzurePlans:
                        - skuDescription: Microsoft Azure Dev/Test
                          skuId: "0001"
                        - skuDescription: Microsoft Azure Standard
                          skuId: "0002"
                        invoiceDay: 5
                        invoiceEmailOptIn: true
                        invoiceSections:
                        - id: /providers/Microsoft.Billing/billingAccounts/00000000-0000-0000-0000-000000000000_00000000-0000-0000-0000-000000000000/billingProfiles/11000000-0000-0000-0000-000000000001/invoiceSections/invoiceSectionId11
                          name: invoiceSectionId11
                          properties:
                            displayName: invoiceSectionName11
                          type: Microsoft.Billing/billingAccounts/billingProfiles/invoiceSections
                        poNumber: ABC12345
                      type: Microsoft.Billing/billingAccounts/billingProfiles
                    customerType: Enterprise
                    displayName: Test Account 1
                    organizationId: 00000000-0000-0000-0000-000000000000
                  type: Microsoft.Billing/billingAccounts
                - id: /providers/Microsoft.Billing/billingAccounts/10000000-0000-0000-0000-000000000001_00000000-0000-0000-0000-000000000000
                  name: 10000000-0000-0000-0000-000000000001_00000000-0000-0000-0000-000000000000
                  properties:
                    agreementType: MicrosoftCustomerAgreement
                    billingProfiles:
                    - id: /providers/Microsoft.Billing/billingAccounts/10000000-0000-0000-0000-000000000001_00000000-0000-0000-0000-000000000000/billingProfiles/11000000-0000-0000-0000-000000000004
                      name: 11000000-0000-0000-0000-000000000004
                      properties:
                        address:
                          addressLine1: Test Address1
                          addressLine2: Test Address2
                          addressLine3: Test Address3
                          city: City
                          companyName: Contoso Test
                          country: US
                          firstName: Test
                          lastName: User
                          postalCode: "00000"
                          region: WA
                        currency: USD
                        displayName: BillingProfile3
                        enabledAzurePlans:
                        - skuDescription: Microsoft Azure Dev/Test
                          skuId: "0001"
                        - skuDescription: Microsoft Azure Standard
                          skuId: "0002"
                        invoiceDay: 5
                        invoiceEmailOptIn: true
                        invoiceSections:
                        - id: /providers/Microsoft.Billing/billingAccounts/10000000-0000-0000-0000-000000000001_00000000-0000-0000-0000-000000000000/billingProfiles/11000000-0000-0000-0000-000000000004/invoiceSections/invoiceSectionId3
                          name: invoiceSectionId3
                          properties:
                            displayName: invoiceSectionName3
                          type: Microsoft.Billing/billingAccounts/billingProfiles/invoiceSections
                        - id: /providers/Microsoft.Billing/billingAccounts/10000000-0000-0000-0000-000000000001_00000000-0000-0000-0000-000000000000/billingProfiles/11000000-0000-0000-0000-000000000004/invoiceSections/invoiceSectionId4
                          name: invoiceSectionId4
                          properties:
                            displayName: invoiceSectionName4
                          type: Microsoft.Billing/billingAccounts/billingProfiles/invoiceSections
                        poNumber: ABC12345
                      type: Microsoft.Billing/billingAccounts/billingProfiles
                    - id: /providers/Microsoft.Billing/billingAccounts/10000000-0000-0000-0000-000000000001_00000000-0000-0000-0000-000000000000/billingProfiles/11000000-0000-0000-0000-000000000005
                      name: 11000000-0000-0000-0000-000000000005
                      properties:
                        address:
                          addressLine1: Test Address1
                          addressLine2: Test Address2
                          addressLine3: Test Address3
                          city: City
                          companyName: Contoso Test
                          country: US
                          firstName: Test
                          lastName: User
                          postalCode: "00000"
                          region: WA
                        currency: USD
                        displayName: BillingProfile4
                        enabledAzurePlans:
                        - skuDescription: Microsoft Azure Dev/Test
                          skuId: "0001"
                        - skuDescription: Microsoft Azure Standard
                          skuId: "0002"
                        invoiceDay: 5
                        invoiceEmailOptIn: true
                        invoiceSections:
                        - id: /providers/Microsoft.Billing/billingAccounts/10000000-0000-0000-0000-000000000001_00000000-0000-0000-0000-000000000000/billingProfiles/11000000-0000-0000-0000-000000000005/invoiceSections/invoiceSectionId5
                          name: invoiceSectionId5
                          properties:
                            displayName: invoiceSectionName5
                          type: Microsoft.Billing/billingAccounts/billingProfiles/invoiceSections
                        - id: /providers/Microsoft.Billing/billingAccounts/10000000-0000-0000-0000-000000000001_00000000-0000-0000-0000-000000000000/billingProfiles/11000000-0000-0000-0000-000000000005/invoiceSections/invoiceSectionId6
                          name: invoiceSectionId6
                          properties:
                            displayName: invoiceSectionName6
                          type: Microsoft.Billing/billingAccounts/billingProfiles/invoiceSections
                        poNumber: ABC12345
                      type: Microsoft.Billing/billingAccounts/billingProfiles
                    customerType: Enterprise
                    displayName: Test Account 2
                    organizationId: 00000000-0000-0000-0000-000000000000
                  type: Microsoft.Billing/billingAccounts
        BillingAccountsListWithExpandForEnrollmentDetails:
          parameters:
            $expand: "properties/enrollmentDetails, properties/departments, properties/enrollmentAccounts"
            api-version: 2019-10-01-preview
          responses:
            "200":
              body:
                value:
                - id: /providers/Microsoft.Billing/billingAccounts/7645820
                  name: "7645820"
                  properties:
                    address:
                      addressLine1: Test Address
                      addressLine2: Test Address
                      addressLine3: Test Address
                      city: City
                      country: US
                      postalCode: "00000"
                      region: WA
                    agreementType: EnterpriseAgreement
                    departments:
                    - id: "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/departments/departmentId1"
                      name: departmentId1
                      properties:
                        costCenter: C1
                        departmentName: departmentName1
                        status: Active
                      type: Microsoft.Billing/departments
                    - id: "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/departments/departmentId2"
                      name: departmentId2
                      properties:
                        costCenter: C4
                        departmentName: departmentName2
                        status: Active
                      type: Microsoft.Billing/departments
                    enrollmentAccounts:
                    - id: "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/enrollmentAccounts/accountId0"
                      name: accountId0
                      properties:
                        accountName: AccountName0
                        costCenter: C0
                        endDate: 2019-05-31T17:32:28Z
                        startDate: 2018-05-01T17:32:28Z
                        status: Active
                      type: Microsoft.Billing/enrollmentAccounts
                    - id: "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/enrollmentAccounts/accountId1"
                      name: accountId1
                      properties:
                        accountName: AccountName1
                        costCenter: C4
                        endDate: 2019-05-31T17:32:28Z
                        startDate: 2018-05-01T17:32:28Z
                        status: Active
                      type: Microsoft.Billing/enrollmentAccounts
                    - id: "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/enrollmentAccounts/accountId2"
                      name: accountId2
                      properties:
                        accountName: AccountName2
                        costCenter: C4
                        endDate: 2019-05-31T17:32:28Z
                        startDate: 2018-05-01T17:32:28Z
                        status: Active
                      type: Microsoft.Billing/enrollmentAccounts
                    enrollmentDetails:
                      billingCycle: Monthly
                      channel: EaDirect
                      countryCode: US
                      currency: USD
                      endDate: 2019-05-31T17:32:28Z
                      language: en
                      policies:
                        accountOwnerViewCharges: true
                        departmentAdminViewCharges: true
                        marketplacesEnabled: true
                        reservedInstancesEnabled: true
                      startDate: 2018-05-01T17:32:28Z
                      status: Active
                  type: Microsoft.Billing/billingAccounts
      x-openapi-router-controller: openapi_server.controllers.billing_accounts_controller
  /providers/Microsoft.Billing/billingAccounts/{billingAccountName}:
    get:
      description: Get the billing account by id.
      operationId: billing_accounts_get
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2019-10-01-preview.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: billing Account Id.
        in: path
        name: billingAccountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "May be used to expand the address, invoiceSections and billingProfiles."
        in: query
        name: $expand
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingAccount'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - BillingAccounts
      x-ms-examples:
        BillingAccountWithExpand:
          parameters:
            $expand: "address, invoiceSections, billingProfiles"
            api-version: 2019-10-01-preview
            billingAccountName: "{billingAccountName}"
          responses:
            "200":
              body:
                id: "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}"
                name: "{billingAccountName}"
                properties:
                  address:
                    addressLine1: Test Address
                    addressLine2: Test Address
                    addressLine3: Test Address
                    city: City
                    companyName: Contoso
                    country: US
                    firstName: Test
                    lastName: User
                    postalCode: "00000"
                    region: WA
                  agreementType: MicrosoftCustomerAgreement
                  billingProfiles:
                  - id: "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/11000000-0000-0000-0000-000000000000"
                    name: 11000000-0000-0000-0000-000000000000
                    properties:
                      address:
                        addressLine1: Test Address1
                        addressLine2: Test Address2
                        addressLine3: Test Address3
                        city: City
                        companyName: Contoso
                        country: US
                        firstName: Test
                        lastName: User
                        postalCode: "00000"
                        region: WA
                      currency: USD
                      displayName: BillingProfile1
                      enabledAzurePlans:
                      - skuDescription: Microsoft Azure Dev/Test
                        skuId: "0001"
                      - skuDescription: Microsoft Azure Standard
                        skuId: "0002"
                      invoiceDay: 5
                      invoiceEmailOptIn: true
                      invoiceSections:
                      - id: "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/11000000-0000-0000-0000-000000000000/invoiceSections/invoiceSectionId1"
                        name: invoiceSectionId1
                        properties:
                          displayName: invoiceSectionName1
                        type: Microsoft.Billing/billingAccounts/billingProfiles/invoiceSections
                      poNumber: ABC12345
                    type: Microsoft.Billing/billingAccounts/billingProfiles
                  - id: "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/11000000-0000-0000-0000-000000000001"
                    name: 11000000-0000-0000-0000-000000000001
                    properties:
                      address:
                        addressLine1: Test Address1
                        addressLine2: Test Address2
                        addressLine3: Test Address3
                        city: City
                        companyName: Contoso
                        country: US
                        firstName: Test
                        lastName: User
                        postalCode: "00000"
                        region: WA
                      currency: USD
                      displayName: BillingProfile2
                      enabledAzurePlans:
                      - skuDescription: Microsoft Azure Dev/Test
                        skuId: "0001"
                      - skuDescription: Microsoft Azure Standard
                        skuId: "0002"
                      invoiceDay: 5
                      invoiceEmailOptIn: true
                      invoiceSections:
                      - id: "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/11000000-0000-0000-0000-000000000001/invoiceSections/invoiceSectionId2"
                        name: invoiceSectionId2
                        properties:
                          displayName: invoiceSectionName2
                        type: Microsoft.Billing/billingAccounts/billingProfiles/invoiceSections
                      poNumber: ABC12345
                    type: Microsoft.Billing/billingAccounts/billingProfiles
                  customerType: Enterprise
                  displayName: Test Account 1
                  organizationId: 00000000-0000-0000-0000-000000000000
                type: Microsoft.Billing/billingAccounts
        BillingAccounts:
          parameters:
            api-version: 2019-10-01-preview
            billingAccountName: "{billingAccountName}"
          responses:
            "200":
              body:
                id: "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}"
                name: "{billingAccountName}"
                properties:
                  agreementType: MicrosoftCustomerAgreement
                  customerType: Enterprise
                  displayName: Test Account
                  organizationId: 00000000-0000-0000-0000-000000000000
                type: Microsoft.Billing/billingAccounts
      x-openapi-router-controller: openapi_server.controllers.billing_accounts_controller
    patch:
      description: The operation to update a billing account.
      operationId: billing_accounts_update
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2019-10-01-preview.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: billing Account Id.
        in: path
        name: billing_account_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingAccountUpdateRequest'
        description: Request parameters supplied to the update billing account operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingAccount'
          description: OK. The request has succeeded.
        "202":
          content: {}
          description: Accepted. Billing account update is in progress.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - BillingAccounts
      x-ms-examples:
        UpdateBillingAccount:
          parameters:
            api-version: 2019-10-01-preview
            billingAccountName: "{billingAccountName}"
            parameters:
              properties:
                address:
                  addressLine1: 1 Microsoft Way
                  city: Redmond
                  companyName: Contoso
                  country: US
                  firstName: Test
                  lastName: User
                  postalCode: "98052"
                  region: WA
          responses:
            "200":
              body:
                id: "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}"
                name: "{billingAccountName}"
                properties:
                  agreementType: MicrosoftCustomerAgreement
                  customerType: Enterprise
                  displayName: Test Account
                  organizationId: 00000000-0000-0000-0000-000000000000
                type: Microsoft.Billing/billingAccounts
            "202":
              headers:
                Location: "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/operationStatus/65e1f2bf-c31c-4b89-a599-25d9d4172af9?api-version=2019-10-01-preview"
                Retry-After: "10"
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.billing_accounts_controller
  /providers/Microsoft.Billing/billingAccounts/{billingAccountName}/agreements:
    get:
      description: Lists all agreements for a billing account.
      operationId: agreements_list_by_billing_account
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2019-10-01-preview.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: billing Account Id.
        in: path
        name: billing_account_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: May be used to expand the participants.
        in: query
        name: $expand
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgreementListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Agreements
      x-ms-examples:
        AgreementsListByBillingAccount:
          parameters:
            api-version: 2019-10-01-preview
            billingAccountName: "{billingAccountName}"
          responses:
            "200":
              body:
                value:
                - id: "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/agreements/Agreement1"
                  name: Agreement1
                  properties:
                    agreementLink: https://agreementuri1.com
                    effectiveDate: 2018-12-05T00:00:00Z
                    expirationDate: 2018-12-05T00:00:00Z
                    participants:
                    - email: abc@contoso.com
                      status: Accepted
                      statusDate: 2018-11-01T00:00:00Z
                    - email: xtz@contoso.com
                      status: Declined
                      statusDate: 2018-11-02T00:00:00Z
                    status: Published
                  type: Microsoft.Billing/billingAccounts/agreements
                - id: "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/agreements/Agreement2"
                  name: Agreement2
                  properties:
                    agreementLink: https://agreementuri2.com
                    effectiveDate: 2018-12-05T00:00:00Z
                    expirationDate: 2018-12-05T00:00:00Z
                    participants:
                    - email: abc@contoso.com
                      status: Unknown
                      statusDate: 2018-11-01T00:00:00Z
                    status: PendingSignature
                  type: Microsoft.Billing/billingAccounts/agreements
      x-openapi-router-controller: openapi_server.controllers.agreements_controller
  /providers/Microsoft.Billing/billingAccounts/{billingAccountName}/agreements/{agreementName}:
    get:
      description: Get the agreement by name.
      operationId: agreements_get
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2019-10-01-preview.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: billing Account Id.
        in: path
        name: billing_account_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Agreement Id.
        in: path
        name: agreementName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: May be used to expand the participants.
        in: query
        name: $expand
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agreement'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Agreements
      x-ms-examples:
        AgreementByName:
          parameters:
            agreementName: "{agreementName}"
            api-version: 2019-10-01-preview
            billingAccountName: "{billingAccountName}"
          responses:
            "200":
              body:
                id: "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/agreements/{agreementName}"
                name: "{agreementName}"
                properties:
                  agreementLink: https://agreementuri1.com
                  effectiveDate: 2018-12-05T00:00:00Z
                  expirationDate: 2018-12-05T00:00:00Z
                  participants:
                  - email: abc@contoso.com
                    status: Accepted
                    statusDate: 2018-11-01T00:00:00Z
                  - email: xyz@contoso.com
                    status: Declined
                    statusDate: 2018-11-02T00:00:00Z
                  status: Published
                type: Microsoft.Billing/billingAccounts/agreements
      x-openapi-router-controller: openapi_server.controllers.agreements_controller
  /providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingPermissions:
    get:
      description: Lists all billing permissions for the caller under a billing account.
      operationId: billing_permissions_list_by_billing_account
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2019-10-01-preview.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: billing Account Id.
        in: path
        name: billing_account_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingPermissionsListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - BillingPermissions
      x-ms-examples:
        BillingAccountPermissionsList:
          parameters:
            api-version: 2019-10-01-preview
            billingAccountName: "{billingAccountName}"
          responses:
            "200":
              body:
                value:
                - actions:
                  - 10000000-aaaa-bbbb-cccc-200000000006
                  - 10000000-aaaa-bbbb-cccc-200000000003
                  - 10000000-aaaa-bbbb-cccc-200000000002
                  - 10000000-aaaa-bbbb-cccc-200000000001
                  - 10000000-aaaa-bbbb-cccc-200000000000
                  - 30000000-aaaa-bbbb-cccc-200000000007
                  - 30000000-aaaa-bbbb-cccc-200000000004
                  - 30000000-aaaa-bbbb-cccc-200000000015
                  - 20000000-aaaa-bbbb-cccc-200000000002
                  - 30000000-aaaa-bbbb-cccc-200000000009
                  - 40000000-aaaa-bbbb-cccc-200000000000
                  - 30000000-aaaa-bbbb-cccc-200000000000
                  - 20000000-aaaa-bbbb-cccc-200000000000
                  - 10000000-aaaa-bbbb-cccc-200000000008
                  - 10000000-aaaa-bbbb-cccc-200000000007
                  - 40000000-aaaa-bbbb-cccc-200000000008
                  - 40000000-aaaa-bbbb-cccc-200000000006
                  - 40000000-aaaa-bbbb-cccc-200000000007
                  - 30000000-aaaa-bbbb-cccc-200000000010
                  - 30000000-aaaa-bbbb-cccc-200000000001
                  notActions: []
      x-openapi-router-controller: openapi_server.controllers.billing_permissions_controller
  /providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles:
    get:
      description: Lists all billing profiles for a user which that user has access
        to.
      operationId: billing_profiles_list_by_billing_account
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2019-10-01-preview.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: billing Account Id.
        in: path
        name: billing_account_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: May be used to expand the invoiceSections.
        in: query
        name: $expand
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingProfileListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - BillingProfiles
      x-ms-examples:
        BillingProfilesListByBillingAccount:
          parameters:
            api-version: 2019-10-01-preview
            billingAccountName: "{billingAccountName}"
          responses:
            "200":
              body:
                value:
                - id: "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/11000000-0000-0000-0000-000000000000"
                  name: 11000000-0000-0000-0000-000000000000
                  properties:
                    address:
                      addressLine1: Test Address1
                      addressLine2: Test Address2
                      addressLine3: Test Address3
                      city: City
                      companyName: Contoso
                      country: US
                      firstName: Test
                      lastName: User
                      postalCode: "00000"
                      region: WA
                    currency: USD
                    displayName: BillingProfile1
                    enabledAzurePlans:
                    - skuDescription: Microsoft Azure Dev/Test
                      skuId: "0001"
                    - skuDescription: Microsoft Azure Standard
                      skuId: "0002"
                    invoiceDay: 5
                    invoiceEmailOptIn: true
                    poNumber: ABC12345
                  type: Microsoft.Billing/billingAccounts/billingProfiles
                - id: "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/11000000-0000-0000-0000-000000000001"
                  name: 11000000-0000-0000-0000-000000000001
                  properties:
                    address:
                      addressLine1: Test Address1
                      addressLine2: Test Address2
                      addressLine3: Test Address3
                      city: City
                      companyName: Contoso
                      country: US
                      firstName: Test
                      lastName: User
                      postalCode: "00000"
                      region: WA
                    currency: USD
                    displayName: BillingProfile2
                    enabledAzurePlans:
                    - skuDescription: Microsoft Azure Dev/Test
                      skuId: "0001"
                    - skuDescription: Microsoft Azure Standard
                      skuId: "0002"
                    invoiceDay: 5
                    invoiceEmailOptIn: true
                    poNumber: ABC12345
                  type: Microsoft.Billing/billingAccounts/billingProfiles
        BillingProfilesListWithExpand:
          parameters:
            api-version: 2019-10-01-preview
            billingAccountName: "{billingAccountName}"
          responses:
            "200":
              body:
                value:
                - id: "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/11000000-0000-0000-0000-000000000000"
                  name: 11000000-0000-0000-0000-000000000000
                  properties:
                    address:
                      addressLine1: Test Address1
                      addressLine2: Test Address2
                      addressLine3: Test Address3
                      city: City
                      companyName: Contoso
                      country: US
                      firstName: Test
                      lastName: User
                      postalCode: "00000"
                      region: WA
                    currency: USD
                    displayName: BillingProfile1
                    enabledAzurePlans:
                    - skuDescription: Microsoft Azure Dev/Test
                      skuId: "0001"
                    - skuDescription: Microsoft Azure Standard
                      skuId: "0002"
                    invoiceDay: 5
                    invoiceEmailOptIn: true
                    invoiceSections:
                    - id: "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/11000000-0000-0000-0000-000000000000/invoiceSections/invoiceSectionId1"
                      name: invoiceSectionId1
                      properties:
                        displayName: invoiceSectionName1
                      type: Microsoft.Billing/billingAccounts/billingProfiles/invoiceSections
                    poNumber: ABC12345
                  type: Microsoft.Billing/billingAccounts/billingProfiles
                - id: "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/11000000-0000-0000-0000-000000000001"
                  name: 11000000-0000-0000-0000-000000000001
                  properties:
                    address:
                      addressLine1: Test Address1
                      addressLine2: Test Address2
                      addressLine3: Test Address3
                      city: City
                      companyName: Contoso
                      country: US
                      firstName: Test
                      lastName: User
                      postalCode: "00000"
                      region: WA
                    currency: USD
                    displayName: BillingProfile2
                    enabledAzurePlans:
                    - skuDescription: Microsoft Azure Dev/Test
                      skuId: "0001"
                    - skuDescription: Microsoft Azure Standard
                      skuId: "0002"
                    invoiceDay: 5
                    invoiceEmailOptIn: true
                    invoiceSections:
                    - id: "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/11000000-0000-0000-0000-000000000001/invoiceSections/invoiceSectionId2"
                      name: invoiceSectionId2
                      properties:
                        displayName: invoiceSectionName2
                      type: Microsoft.Billing/billingAccounts/billingProfiles/invoiceSections
                    poNumber: ABC12345
                  type: Microsoft.Billing/billingAccounts/billingProfiles
      x-openapi-router-controller: openapi_server.controllers.billing_profiles_controller
  /providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}:
    get:
      description: Get the billing profile by id.
      operationId: billing_profiles_get
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2019-10-01-preview.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: billing Account Id.
        in: path
        name: billing_account_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Billing Profile Id.
        in: path
        name: billingProfileName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: May be used to expand the invoiceSections.
        in: query
        name: $expand
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingProfile'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - BillingProfiles
      x-ms-examples:
        BillingProfile:
          parameters:
            api-version: 2019-10-01-preview
            billingAccountName: "{billingAccountName}"
            billingProfileName: "{billingProfileName}"
          responses:
            "200":
              body:
                id: "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}"
                name: "{billingProfileName}"
                properties:
                  address:
                    addressLine1: Test Address1
                    addressLine2: Test Address2
                    addressLine3: Test Address3
                    city: City
                    companyName: Contoso
                    country: US
                    firstName: Test
                    lastName: User
                    postalCode: "00000"
                    region: WA
                  currency: USD
                  displayName: Billing Profile1
                  enabledAzurePlans:
                  - skuDescription: Microsoft Azure Dev/Test
                    skuId: "0001"
                  - skuDescription: Microsoft Azure Standard
                    skuId: "0002"
                  invoiceDay: 5
                  invoiceEmailOptIn: true
                  poNumber: ABC12345
                type: Microsoft.Billing/billingAccounts/billingProfiles
        BillingProfileWithExpand:
          parameters:
            api-version: 2019-10-01-preview
            billingAccountName: "{billingAccountName}"
            billingProfileName: "{billingProfileName}"
          responses:
            "200":
              body:
                id: "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}"
                name: "{billingProfileName}"
                properties:
                  address:
                    addressLine1: Test Address1
                    addressLine2: Test Address2
                    addressLine3: Test Address3
                    city: City
                    companyName: Contoso
                    country: US
                    firstName: Test
                    lastName: User
                    postalCode: "00000"
                    region: WA
                  currency: USD
                  displayName: Billing Profile1
                  enabledAzurePlans:
                  - skuDescription: Microsoft Azure Dev/Test
                    skuId: "0001"
                  - skuDescription: Microsoft Azure Standard
                    skuId: "0002"
                  invoiceDay: 5
                  invoiceEmailOptIn: true
                  invoiceSections:
                  - id: "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/invoiceSections/invoiceSectionId1"
                    name: invoiceSectionId1
                    properties:
                      displayName: invoiceSectionName1
                    type: Microsoft.Billing/billingAccounts/billingProfiles/invoiceSections
                  poNumber: ABC12345
                type: Microsoft.Billing/billingAccounts/billingProfiles
      x-openapi-router-controller: openapi_server.controllers.billing_profiles_controller
    patch:
      description: The operation to update a billing profile.
      operationId: billing_profiles_update
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2019-10-01-preview.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: billing Account Id.
        in: path
        name: billing_account_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Billing Profile Id.
        in: path
        name: billing_profile_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingProfile'
        description: Request parameters supplied to the update billing profile operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingProfile'
          description: OK. The request has succeeded.
        "202":
          content: {}
          description: Accepted. Billing profile update is in progress.
          headers:
            Retry-After:
              description: The amount of delay to use while the status of the operation
                is checked. The value is expressed in seconds.
              schema:
                type: string
            Location:
              description: GET this URL to retrieve the status of the asynchronous
                operation.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - BillingProfiles
      x-ms-examples:
        UpdateBillingProfile:
          parameters:
            api-version: 2019-10-01-preview
            billingAccountName: "{billingAccountName}"
            billingProfileName: "{billingProfileName}"
            parameters:
              properties:
                displayName: BillingProfile11
                invoiceEmailOptIn: true
                poNumber: ABC12345
          responses:
            "200":
              body:
                id: "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}"
                name: "{billingProfileName}"
                properties:
                  address:
                    addressLine1: Test Address1
                    addressLine2: Test Address2
                    addressLine3: Test Address3
                    city: City
                    companyName: Contoso
                    country: US
                    firstName: Test
                    lastName: User
                    postalCode: "00000"
                    region: WA
                  currency: USD
                  displayName: BillingProfile11
                  enabledAzurePlans:
                  - skuDescription: Microsoft Azure Dev/Test
                    skuId: "0001"
                  - skuDescription: Microsoft Azure Standard
                    skuId: "0002"
                  invoiceDay: 5
                  invoiceEmailOptIn: true
                  poNumber: ABC12345
                type: Microsoft.Billing/billingAccounts/billingProfiles
            "202":
              headers:
                Location: /providers/Microsoft.Billing/billingOperations/ed2975a8-8f77-43bb-a717-ace54326b14b?api-version=2018-05-31-preview
                Retry-After: "60"
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.billing_profiles_controller
    put:
      description: The operation to create a BillingProfile.
      operationId: billing_profiles_create
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2019-10-01-preview.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: billing Account Id.
        in: path
        name: billing_account_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Billing Profile Id.
        in: path
        name: billing_profile_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingProfileCreationRequest'
        description: Request parameters supplied to the Create BillingProfile operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingProfile'
          description: OK. The request has succeeded.
        "202":
          content: {}
          description: Accepted
          headers:
            Retry-After:
              description: Recommends the retryable time after receiving this.
              schema:
                type: integer
            Location:
              description: Location URI to poll for result
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - BillingProfiles
      x-ms-examples:
        CreateBillingProfile:
          parameters:
            api-version: 2019-10-01-preview
            billingAccountName: "{billingAccountName}"
            billingProfileName: "{billingProfileName}"
            parameters:
              address:
                addressLine1: 1 Microsoft Way
                city: Redmond
                country: US
                firstName: Test
                lastName: User
                postalCode: "98052"
                region: WA
              displayName: Finance
              enabledAzurePlans:
              - skuId: "0001"
              - skuId: "0002"
              invoiceEmailOptIn: true
              poNumber: ABC12345
          responses:
            "200":
              body:
                id: "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/billingProfileId1"
                name: billingProfileId1
                properties:
                  address:
                    addressLine1: 1 Microsoft Way
                    city: Redmond
                    country: US
                    firstName: Test
                    lastName: User
                    postalCode: "98052"
                    region: WA
                  currency: USD
                  displayName: Finance
                  enabledAzurePlans:
                  - skuDescription: Microsoft Azure Dev/Test
                    skuId: "0001"
                  - skuDescription: Microsoft Azure Standard
                    skuId: "0002"
                  invoiceDay: 5
                  invoiceEmailOptIn: true
                  poNumber: ABC12345
                type: Microsoft.Billing/billingAccounts/billingProfiles
            "202":
              headers:
                Location: "https://management.azure.com/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/operationResults/ed2975a8-8f77-43bb-a717-ace54326b14b?api-version=2018-07-31"
                Retry-After: "60"
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.billing_profiles_controller
  /providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/availableBalance/default:
    get:
      description: The latest available credit balance for a given billingAccountName
        and billingProfileName.
      operationId: available_balances_get_by_billing_profile
      parameters:
      - description: billing Account Id.
        in: path
        name: billing_account_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Billing Profile Id.
        in: path
        name: billing_profile_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request. The current
          version is 2019-10-01-preview.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailableBalance'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - AvailableBalances
      x-ms-examples:
        AvailableBalanceByBillingProfile:
          parameters:
            api-version: 2019-10-01-preview
            billingAccountName: "{billingAccountName}"
            billingProfileName: "{billingProfileName}"
          responses:
            "200":
              body:
                id: "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/availableBalance/default"
                name: default
                properties:
                  amount:
                    currency: USD
                    value: 500
                type: Microsoft.Billing/billingAccounts/billingProfiles/availableBalance
      x-openapi-router-controller: openapi_server.controllers.available_balances_controller
  /providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/billingPermissions:
    get:
      description: Lists all billing permissions the caller has for a billing account.
      operationId: billing_permissions_list_by_billing_profile
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2019-10-01-preview.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: billing Account Id.
        in: path
        name: billing_account_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Billing Profile Id.
        in: path
        name: billing_profile_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingPermissionsListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - BillingPermissions
      x-ms-examples:
        BillingProfilePermissionsList:
          parameters:
            api-version: 2019-10-01-preview
            billingAccountName: "{billingAccountName}"
            billingProfileName: "{billingProfileName}"
          responses:
            "200":
              body:
                value:
                - actions:
                  - 10000000-aaaa-bbbb-cccc-200000000006
                  - 10000000-aaaa-bbbb-cccc-200000000003
                  - 10000000-aaaa-bbbb-cccc-200000000002
                  - 10000000-aaaa-bbbb-cccc-200000000001
                  - 10000000-aaaa-bbbb-cccc-200000000000
                  - 30000000-aaaa-bbbb-cccc-200000000007
                  - 30000000-aaaa-bbbb-cccc-200000000004
                  - 30000000-aaaa-bbbb-cccc-200000000015
                  - 20000000-aaaa-bbbb-cccc-200000000002
                  - 30000000-aaaa-bbbb-cccc-200000000009
                  - 40000000-aaaa-bbbb-cccc-200000000000
                  - 30000000-aaaa-bbbb-cccc-200000000000
                  - 20000000-aaaa-bbbb-cccc-200000000000
                  - 10000000-aaaa-bbbb-cccc-200000000008
                  - 10000000-aaaa-bbbb-cccc-200000000007
                  - 40000000-aaaa-bbbb-cccc-200000000008
                  - 40000000-aaaa-bbbb-cccc-200000000006
                  - 40000000-aaaa-bbbb-cccc-200000000007
                  - 30000000-aaaa-bbbb-cccc-200000000010
                  - 30000000-aaaa-bbbb-cccc-200000000001
                  notActions: []
      x-openapi-router-controller: openapi_server.controllers.billing_permissions_controller
  /providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/billingRoleAssignments:
    get:
      description: Get the role assignments on the Billing Profile
      operationId: billing_role_assignments_list_by_billing_profile
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2019-10-01-preview.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: billing Account Id.
        in: path
        name: billing_account_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Billing Profile Id.
        in: path
        name: billing_profile_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingRoleAssignmentListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - BillingRoleAssignments
      x-ms-examples:
        BillingProfileRoleAssignmentList:
          parameters:
            api-version: 2019-10-01-preview
            billingAccountName: "{billingAccountName}"
            billingProfileName: "{billingProfileName}"
          responses:
            "200":
              body:
                value:
                - id: 10000000-aaaa-bbbb-cccc-100000000000_6fd330f6-7d26-4aff-b9cf-7bd699f965b9
                  name: 10000000-aaaa-bbbb-cccc-100000000000_6fd330f6-7d26-4aff-b9cf-7bd699f965b9
                  properties:
                    createdByPrincipalId: ""
                    createdByPrincipalTenantId: 7ca289b9-c32d-4f01-8566-7ff93261d76f
                    createdOn: 2018-06-21T21:34:12.2363515+00:00
                    name: 10000000-aaaa-bbbb-cccc-100000000000_6fd330f6-7d26-4aff-b9cf-7bd699f965b9
                    principalId: 6fd330f6-7d26-4aff-b9cf-7bd699f965b9
                    scope: "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}"
                  type: Microsoft.Billing/billingRoleAssignments
                - id: 10000000-aaaa-bbbb-cccc-100000000000_00000000-0000-0000-0000-000000000000
                  name: 10000000-aaaa-bbbb-cccc-100000000000_00000000-0000-0000-0000-000000000000
                  properties:
                    createdByPrincipalId: 46b831ec-42b2-4f1a-8b54-3fd5ff9d6aa1
                    createdByPrincipalTenantId: 7ca289b9-c32d-4f01-8566-7ff93261d76f
                    createdOn: 2018-06-21T21:58:19.9073876+00:00
                    name: 10000000-aaaa-bbbb-cccc-100000000000_00000000-0000-0000-0000-000000000000
                    principalId: 00000000-0000-0000-0000-000000000000
                    scope: "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}"
                  type: Microsoft.Billing/billingRoleAssignments
                - id: 10000000-aaaa-bbbb-cccc-100000000002_129db794-64a5-44e0-9838-002780478959
                  name: 10000000-aaaa-bbbb-cccc-100000000002_129db794-64a5-44e0-9838-002780478959
                  properties:
                    createdByPrincipalId: 00000000-0000-0000-0000-000000000000
                    createdByPrincipalTenantId: 7ca289b9-c32d-4f01-8566-7ff93261d76f
                    createdOn: 2018-06-22T06:03:51.430844+00:00
                    name: 10000000-aaaa-bbbb-cccc-100000000002_129db794-64a5-44e0-9838-002780478959
                    principalId: 129db794-64a5-44e0-9838-002780478959
                    scope: "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}"
                  type: Microsoft.Billing/billingRoleAssignments
                - id: 10000000-aaaa-bbbb-cccc-100000000001_d7b03fbc-ecd9-49b8-8e38-285b75eaa8f7
                  name: 10000000-aaaa-bbbb-cccc-100000000001_d7b03fbc-ecd9-49b8-8e38-285b75eaa8f7
                  properties:
                    createdByPrincipalId: 00000000-0000-0000-0000-000000000000
                    createdByPrincipalTenantId: 7ca289b9-c32d-4f01-8566-7ff93261d76f
                    createdOn: 2018-07-06T05:52:57.1463874+00:00
                    name: 10000000-aaaa-bbbb-cccc-100000000001_d7b03fbc-ecd9-49b8-8e38-285b75eaa8f7
                    principalId: d7b03fbc-ecd9-49b8-8e38-285b75eaa8f7
                    scope: "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}"
                  type: Microsoft.Billing/billingRoleAssignments
                - id: 10000000-aaaa-bbbb-cccc-100000000000_c4f54fd2-d920-4c49-9b4d-9f09387b881c
                  name: 10000000-aaaa-bbbb-cccc-100000000000_c4f54fd2-d920-4c49-9b4d-9f09387b881c
                  properties:
                    createdByPrincipalId: 00000000-0000-0000-0000-000000000000
                    createdByPrincipalTenantId: 7ca289b9-c32d-4f01-8566-7ff93261d76f
                    createdOn: 2018-07-10T22:04:33.8309285+00:00
                    name: 10000000-aaaa-bbbb-cccc-100000000000_c4f54fd2-d920-4c49-9b4d-9f09387b881c
                    principalId: c4f54fd2-d920-4c49-9b4d-9f09387b881c
                    scope: "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}"
                  type: Microsoft.Billing/billingRoleAssignments
      x-openapi-router-controller: openapi_server.controllers.billing_role_assignments_controller
  ? /providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/billingRoleAssignments/{billingRoleAssignmentName}
  : delete:
      description: Delete the role assignment on this Billing Profile
      operationId: billing_role_assignments_delete_by_billing_profile
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2019-10-01-preview.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: billing Account Id.
        in: path
        name: billing_account_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Billing Profile Id.
        in: path
        name: billing_profile_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: role assignment id.
        in: path
        name: billing_role_assignment_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingRoleAssignment'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - BillingRoleAssignments
      x-ms-examples:
        BillingProfileRoleAssignmentDelete:
          parameters:
            api-version: 2019-10-01-preview
            billingAccountName: "{billingAccountName}"
            billingProfileName: "{billingProfileName}"
            billingRoleAssignmentName: "{billingRoleAssignmentName}"
          responses:
            "200":
              body:
                id: 10000000-aaaa-bbbb-cccc-100000000000_b1839933-b3ac-42ca-8112-d29c43f3ab47
                name: 10000000-aaaa-bbbb-cccc-100000000000_b1839933-b3ac-42ca-8112-d29c43f3ab47
                properties:
                  createdByPrincipalId: 46b831ec-42b2-4f1a-8b54-3fd5ff9d6aa1
                  createdByPrincipalTenantId: 7ca289b9-c32d-4f01-8566-7ff93261d76f
                  createdOn: 2018-06-21T21:58:19.9073876+00:00
                  name: 10000000-aaaa-bbbb-cccc-100000000000_b1839933-b3ac-42ca-8112-d29c43f3ab47
                  principalId: b1839933-b3ac-42ca-8112-d29c43f3ab47
                  scope: "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}"
                type: Microsoft.Billing/billingRoleAssignments
      x-openapi-router-controller: openapi_server.controllers.billing_role_assignments_controller
    get:
      description: Get the role assignment for the caller on the Billing Profile
      operationId: billing_role_assignments_get_by_billing_profile
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2019-10-01-preview.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: billing Account Id.
        in: path
        name: billing_account_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Billing Profile Id.
        in: path
        name: billing_profile_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: role assignment id.
        in: path
        name: billingRoleAssignmentName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingRoleAssignment'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - BillingRoleAssignments
      x-ms-examples:
        BillingProfileRoleAssignment:
          parameters:
            api-version: 2019-10-01-preview
            billingAccountName: "{billingAccountName}"
            billingProfileName: "{billingProfileName}"
            billingRoleAssignmentName: "{billingRoleAssignmentName}"
          responses:
            "200":
              body:
                id: 10000000-aaaa-bbbb-cccc-100000000000_b1839933-b3ac-42ca-8112-d29c43f3ab47
                name: 10000000-aaaa-bbbb-cccc-100000000000_b1839933-b3ac-42ca-8112-d29c43f3ab47
                properties:
                  createdByPrincipalId: 46b831ec-42b2-4f1a-8b54-3fd5ff9d6aa1
                  createdByPrincipalTenantId: 7ca289b9-c32d-4f01-8566-7ff93261d76f
                  createdOn: 2018-06-21T21:58:19.9073876+00:00
                  name: 10000000-aaaa-bbbb-cccc-100000000000_b1839933-b3ac-42ca-8112-d29c43f3ab47
                  principalId: b1839933-b3ac-42ca-8112-d29c43f3ab47
                  scope: "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}"
                type: Microsoft.Billing/billingRoleAssignments
      x-openapi-router-controller: openapi_server.controllers.billing_role_assignments_controller
  /providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/billingRoleDefinitions:
    get:
      description: Lists the role definition for a Billing Profile
      operationId: billing_role_definitions_list_by_billing_profile
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2019-10-01-preview.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: billing Account Id.
        in: path
        name: billing_account_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Billing Profile Id.
        in: path
        name: billing_profile_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingRoleDefinitionListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - BillingRoleDefinitions
      x-ms-examples:
        BillingProfileRoleDefinitionsList:
          parameters:
            api-version: 2019-10-01-preview
            billingAccountName: "{billingAccountName}"
            billingProfileName: "{billingProfileName}"
          responses:
            "200":
              body:
                value:
                - id: "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/billingRoleDefinitions/10000000-aaaa-bbbb-cccc-100000000000"
                  name: 10000000-aaaa-bbbb-cccc-100000000000
                  properties:
                    description: The Owner role gives the user all permissions including
                      access management rights to the Commerce Root.
                    permissions:
                    - actions:
                      - 10000000-aaaa-bbbb-cccc-200000000000
                      - 10000000-aaaa-bbbb-cccc-200000000008
                      - 10000000-aaaa-bbbb-cccc-200000000001
                      - 10000000-aaaa-bbbb-cccc-200000000002
                      - 10000000-aaaa-bbbb-cccc-200000000003
                      - 10000000-aaaa-bbbb-cccc-200000000006
                      - 10000000-aaaa-bbbb-cccc-200000000007
                      - 20000000-aaaa-bbbb-cccc-200000000000
                      - 30000000-aaaa-bbbb-cccc-200000000000
                      - 40000000-aaaa-bbbb-cccc-200000000000
                      - 30000000-aaaa-bbbb-cccc-200000000009
                      - 20000000-aaaa-bbbb-cccc-200000000002
                      - 30000000-aaaa-bbbb-cccc-200000000015
                      - 30000000-aaaa-bbbb-cccc-200000000004
                      - 30000000-aaaa-bbbb-cccc-200000000007
                      - 30000000-aaaa-bbbb-cccc-200000000001
                      - 30000000-aaaa-bbbb-cccc-200000000010
                      - 40000000-aaaa-bbbb-cccc-200000000007
                      - 40000000-aaaa-bbbb-cccc-200000000006
                      - 40000000-aaaa-bbbb-cccc-200000000008
                      notActions: []
                    roleName: billing_profile_owner
                  type: Microsoft.Billing/billingRoleDefinitions
                - id: "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/billingRoleDefinitions/10000000-aaaa-bbbb-cccc-100000000001"
                  name: 10000000-aaaa-bbbb-cccc-100000000001
                  properties:
                    description: The Contributor role give the user all permissions
                      except access management rights to the Commerce Root.
                    permissions:
                    - actions:
                      - 10000000-aaaa-bbbb-cccc-200000000008
                      - 10000000-aaaa-bbbb-cccc-200000000001
                      - 10000000-aaaa-bbbb-cccc-200000000002
                      - 10000000-aaaa-bbbb-cccc-200000000003
                      - 10000000-aaaa-bbbb-cccc-200000000006
                      - 10000000-aaaa-bbbb-cccc-200000000007
                      - 30000000-aaaa-bbbb-cccc-200000000009
                      - 20000000-aaaa-bbbb-cccc-200000000002
                      - 30000000-aaaa-bbbb-cccc-200000000015
                      - 30000000-aaaa-bbbb-cccc-200000000004
                      - 30000000-aaaa-bbbb-cccc-200000000007
                      - 30000000-aaaa-bbbb-cccc-200000000001
                      - 30000000-aaaa-bbbb-cccc-200000000010
                      - 40000000-aaaa-bbbb-cccc-200000000007
                      - 40000000-aaaa-bbbb-cccc-200000000006
                      - 40000000-aaaa-bbbb-cccc-200000000008
                      notActions: []
                    roleName: billing_profile_contributor
                  type: Microsoft.Billing/billingRoleDefinitions
      x-openapi-router-controller: openapi_server.controllers.billing_role_definitions_controller
  ? /providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/billingRoleDefinitions/{billingRoleDefinitionName}
  : get:
      description: Gets the role definition for a role
      operationId: billing_role_definitions_get_by_billing_profile
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2019-10-01-preview.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: billing Account Id.
        in: path
        name: billing_account_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Billing Profile Id.
        in: path
        name: billing_profile_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: role definition id.
        in: path
        name: billingRoleDefinitionName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingRoleDefinition'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - BillingRoleDefinitions
      x-ms-examples:
        BillingProfileRoleDefinition:
          parameters:
            api-version: 2019-10-01-preview
            billingAccountName: "{billingAccountName}"
            billingProfileName: "{billingProfileName}"
            billingRoleDefinitionName: "{billingRoleDefinitionName}"
          responses:
            "200":
              body:
                id: "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/billingRoleDefinitions/{billingRoleDefinitionName}"
                name: "{billingRoleDefinitionName}"
                properties:
                  description: The Owner role gives the user all permissions including
                    access management rights to the Commerce Root.
                  permissions:
                  - actions:
                    - 10000000-aaaa-bbbb-cccc-200000000000
                    - 10000000-aaaa-bbbb-cccc-200000000008
                    - 10000000-aaaa-bbbb-cccc-200000000001
                    - 10000000-aaaa-bbbb-cccc-200000000002
                    - 10000000-aaaa-bbbb-cccc-200000000003
                    - 10000000-aaaa-bbbb-cccc-200000000006
                    - 10000000-aaaa-bbbb-cccc-200000000007
                    - 20000000-aaaa-bbbb-cccc-200000000000
                    - 30000000-aaaa-bbbb-cccc-200000000000
                    - 40000000-aaaa-bbbb-cccc-200000000000
                    - 30000000-aaaa-bbbb-cccc-200000000009
                    - 20000000-aaaa-bbbb-cccc-200000000002
                    - 30000000-aaaa-bbbb-cccc-200000000015
                    - 30000000-aaaa-bbbb-cccc-200000000004
                    - 30000000-aaaa-bbbb-cccc-200000000007
                    - 30000000-aaaa-bbbb-cccc-200000000001
                    - 30000000-aaaa-bbbb-cccc-200000000010
                    - 40000000-aaaa-bbbb-cccc-200000000007
                    - 40000000-aaaa-bbbb-cccc-200000000006
                    - 40000000-aaaa-bbbb-cccc-200000000008
                    notActions: []
                  roleName: commerce_root_owner
                type: Microsoft.Billing/billingRoleDefinitions
      x-openapi-router-controller: openapi_server.controllers.billing_role_definitions_controller
  /providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/billingSubscriptions:
    get:
      description: Lists billing subscriptions by billing profile name.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/billing/
      operationId: billing_subscriptions_list_by_billing_profile
      parameters:
      - description: billing Account Id.
        in: path
        name: billing_account_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Billing Profile Id.
        in: path
        name: billing_profile_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request. The current
          version is 2019-10-01-preview.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingSubscriptionsListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - BillingSubscriptions
      x-ms-examples:
        BillingSubscriptionsListByBillingProfile:
          parameters:
            api-version: 2019-10-01-preview
            billingAccountName: "{billingAccountName}"
            billingProfileName: "{billingProfileName}"
          responses:
            "200":
              body:
                value:
                - id: "/providers/Microsoft.Billing/BillingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/invoiceSections/22000000-0000-0000-0000-000000000000/billingSubscriptions/billinSubscriptionId1"
                  name: billingSubscriptionId1
                  properties:
                    billingProfileDisplayName: Contoso operations billing
                    billingProfileId: "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}"
                    displayName: My subscription
                    invoiceSectionDisplayName: Contoso operations invoiceSection
                    invoiceSectionId: "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/invoiceSections/22000000-0000-0000-0000-000000000000"
                    lastMonthCharges:
                      currency: USD
                      value: 5000
                    monthToDateCharges:
                      currency: USD
                      value: 600
                    skuDescription: Microsoft Azure Dev/Test
                    skuId: "0001"
                    subscriptionBillingStatus: Active
                    subscriptionId: 6b96d3f2-9008-4a9d-912f-f87744185aa3
                  type: Microsoft.Billing/billingAccounts/billingProfiles/invoiceSections/billingSubscriptions
                - id: "/providers/Microsoft.Billing/BillingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/invoiceSections/22000000-0000-0000-0000-000000000000/billingSubscriptions/billinSubscriptionId2"
                  name: billingSubscriptionId2
                  properties:
                    billingProfileDisplayName: Contoso operations billing
                    billingProfileId: "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}"
                    displayName: Test subscription
                    invoiceSectionDisplayName: Contoso operations invoiceSection
                    invoiceSectionId: "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/invoiceSections/22000000-0000-0000-0000-000000000000"
                    lastMonthCharges:
                      currency: USD
                      value: 1000
                    monthToDateCharges:
                      currency: USD
                      value: 400
                    skuDescription: Microsoft Azure Dev/Test
                    skuId: "0001"
                    subscriptionBillingStatus: Active
                    subscriptionId: 6b96d3f2-9008-4a9d-912f-6b96d3f2
                  type: Microsoft.Billing/billingSubscriptions
                - id: "/providers/Microsoft.Billing/BillingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/invoiceSections/22000000-0000-0000-0000-000000000000/billingSubscriptions/billinSubscriptionId3"
                  name: billingSubscriptionId3
                  properties:
                    billingProfileDisplayName: Contoso operations billing
                    billingProfileId: "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}"
                    displayName: Dev Subscription
                    invoiceSectionDisplayName: Contoso operations invoiceSection
                    invoiceSectionId: "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/invoiceSections/22000000-0000-0000-0000-000000000000"
                    lastMonthCharges:
                      currency: USD
                      value: 6000
                    monthToDateCharges:
                      currency: USD
                      value: 900
                    skuDescription: Microsoft Azure Dev/Test
                    skuId: "0001"
                    subscriptionBillingStatus: Active
                    subscriptionId: 6b96d3f2-4a9d-9008-912f-f87744185aa3
                  type: Microsoft.Billing/billingSubscriptions
      x-openapi-router-controller: openapi_server.controllers.billing_subscriptions_controller
  ? /providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/createBillingRoleAssignment
  : post:
      description: The operation to add a role assignment to a billing profile.
      operationId: billing_role_assignments_add_by_billing_profile
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2019-10-01-preview.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: billing Account Id.
        in: path
        name: billing_account_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Billing Profile Id.
        in: path
        name: billing_profile_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingRoleAssignmentPayload'
        description: Parameters supplied to add a role assignment.
        required: true
        x-body-name: parameters
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingRoleAssignmentListResult'
          description: Role assignment is successfully created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - BillingRoleAssignments
      x-ms-examples:
        AddRoleAssignmentToBillingProfile:
          parameters:
            api-version: 2019-10-01-preview
            billingAccountName: "{billingAccountName}"
            billingProfileName: "{billingProfileName}"
            parameters:
              billingRoleDefinitionId: "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/providers/Microsoft.Billing/billingRoleDefinition/10000000-aaaa-bbbb-cccc-100000000000"
              principalId: 00000000-0000-0000-0000-000000000000
          responses:
            "201":
              body:
                value:
                - id: 10000000-aaaa-bbbb-cccc-100000000000_00000000-0000-0000-0000-000000000000
                  name: 10000000-aaaa-bbbb-cccc-100000000000_00000000-0000-0000-0000-000000000000
                  properties:
                    createdByPrincipalId: ""
                    createdByPrincipalTenantId: 7ca289b9-c32d-4f01-8566-7ff93261d76f
                    createdOn: 2018-06-21T21:34:12.2363515+00:00
                    name: 10000000-aaaa-bbbb-cccc-100000000000_00000000-0000-0000-0000-000000000000
                    principalId: 00000000-0000-0000-0000-000000000000
                    scope: "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}"
                  type: Microsoft.Billing/billingRoleAssignments
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.billing_role_assignments_controller
  /providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/customers:
    get:
      description: Lists customers by billing profile which the current user can work
        with on-behalf of a partner.
      operationId: customers_list_by_billing_profile
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2019-10-01-preview.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: billing Account Id.
        in: path
        name: billing_account_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Billing Profile Id.
        in: path
        name: billing_profile_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: May be used to filter the list of customers.
        in: query
        name: $filter
        schema:
          type: string
      - description: "Skiptoken is only used if a previous operation returned a partial\
          \ result. If a previous response contains a nextLink element, the value\
          \ of the nextLink element will include a skiptoken parameter that specifies\
          \ a starting point to use for subsequent calls."
        in: query
        name: $skiptoken
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Customers
      x-ms-examples:
        CustomersListByBillingAccount:
          parameters:
            api-version: 2018-11-01-preview
            billingAccountName: "{billingAccountName}"
            billingProfileName: "{billingProfileName}"
          responses:
            "200":
              body:
                value:
                - id: "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/customers/22000000-0000-0000-0000-000000000000"
                  name: 22000000-0000-0000-0000-000000000000
                  properties:
                    displayName: customer1
                  type: Microsoft.Billing/customers
                - id: "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/customers/22000000-0000-0000-0000-000000000011"
                  name: 22000000-0000-0000-0000-000000000011
                  properties:
                    displayName: customer2
                  type: Microsoft.Billing/customers
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.customers_controller
  ? /providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/customers/{customerName}/initiateTransfer
  : post:
      description: Initiates the request to transfer the legacy subscriptions or RIs.
      operationId: partner_transfers_initiate
      parameters:
      - description: billing Account Id.
        in: path
        name: billing_account_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Billing Profile Id.
        in: path
        name: billing_profile_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Customer name.
        in: path
        name: customerName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InitiateTransferRequest'
        description: Parameters supplied to initiate the transfer.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferDetails'
          description: Initiated transfer details.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unexpected error.
      tags:
      - Transfers
      x-ms-examples:
        InitiatePartnerTransfer:
          parameters:
            api-version: 2019-10-01-preview
            billingAccountName: "{billingAccountName}"
            billingProfileName: "{billingProfileName}"
            customerName: "{customerName}"
            parameters:
              properties:
                recipientEmailId: user@contoso.com
          responses:
            "200":
              body:
                properties:
                  billingAccountId: "/providers/Microsoft.Billing/BillingAccounts/{billingAccountName}"
                  billingProfileId: "/providers/Microsoft.Billing/BillingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}"
                  creationTime: 2018-10-10T17:32:28Z
                  expirationTime: 2018-11-05T17:32:28Z
                  initiatorEmailId: xyz@contoso.com
                  invoiceSectionId: "/providers/Microsoft.Billing/BillingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/customers/{customerName}"
                  lastModifiedTime: 2018-10-10T17:32:28Z
                  recipientEmailId: user@contoso.com
                  transferStatus: Pending
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.transfers_controller
  ? /providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/customers/{customerName}/transfers
  : get:
      description: Lists all transfer's details initiated from given invoice section.
      operationId: partner_transfers_list
      parameters:
      - description: billing Account Id.
[...]
