# GkeHubApi.ValidationResult

## Properties

Name | Type | Description | Notes
------------ | ------------- | ------------- | -------------
**result** | **String** | Additional information for the validation. | [optional] 
**success** | **Boolean** | Whether the validation is passed or not. | [optional] 
**validator** | **String** | Validator type to validate membership with. | [optional] 



## Enum: ValidatorEnum


* `VALIDATOR_TYPE_UNSPECIFIED` (value: `"VALIDATOR_TYPE_UNSPECIFIED"`)

* `MEMBERSHIP_ID` (value: `"MEMBERSHIP_ID"`)

* `CROSS_PROJECT_PERMISSION` (value: `"CROSS_PROJECT_PERMISSION"`)




