openapi: 3.0.1
info:
  description: "The Microsoft Azure management API provides create, read, update,\
    \ and delete functionality for Azure MariaDB resources including servers, databases,\
    \ firewall rules, VNET rules, security alert policies, log files and configurations\
    \ with new business model."
  title: MariaDBManagementClient
  version: 2018-06-01-privatepreview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/mariadb/resource-manager/Microsoft.DBforMariaDB/preview/2018-06-01-privatepreview/PrivateLinkResources.json
    version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: mariadb-PrivateLinkResources
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMariaDB/servers/{serverName}/privateLinkResources
  : get:
      description: Gets the private link resources for MariaDB server.
      operationId: private_link_resources_list_by_server
      parameters:
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: serverName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The API version to use for the request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateLinkResourceListResult'
          description: Successfully retrieved private link resources.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - PrivateLinkResources
      x-ms-examples:
        Gets private link resources for MariaDB.:
          parameters:
            api-version: 2018-06-01-privatepreview
            resourceGroupName: Default
            serverName: test-svr
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                value:
                - id: subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/Default/providers/Microsoft.DBforMariaDB/servers/test-svr/privateLinkResources/plr
                  name: plr
                  properties:
                    groupId: mariadbServer
                    requiredMembers:
                    - mariadbServer
                  type: Microsoft.DBforMariaDB/servers/privateLinkResources
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.private_link_resources_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMariaDB/servers/{serverName}/privateLinkResources/{groupName}
  : get:
      description: Gets a private link resource for MariaDB server.
      operationId: private_link_resources_get
      parameters:
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: server_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the private link resource.
        in: path
        name: groupName
        required: true
        schema:
          type: string
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The API version to use for the request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateLinkResource'
          description: Successfully retrieved private link resources.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - PrivateLinkResources
      x-ms-examples:
        Gets a private link resource for MariaDB.:
          parameters:
            api-version: 2018-06-01-privatepreview
            groupName: plr
            resourceGroupName: Default
            serverName: test-svr
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/Default/providers/Microsoft.DBforMariaDB/servers/test-svr/privateLinkResources/plr
                name: plr
                properties:
                  groupId: mariadbServer
                  requiredMembers:
                  - mariadbServer
                type: Microsoft.DBforMariaDB/servers/privateLinkResources
      x-openapi-router-controller: openapi_server.controllers.private_link_resources_controller
components:
  parameters:
    ApiVersionParameter:
      description: The API version to use for the request.
      in: query
      name: api-version
      required: true
      schema:
        type: string
        x-ms-parameter-location: client
      x-ms-parameter-location: client
    ResourceGroupParameter:
      description: The name of the resource group that contains the resource. You
        can obtain this value from the Azure Resource Manager API or the portal.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ServerNameParameter:
      description: The name of the server.
      in: path
      name: serverName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: The subscription ID that identifies an Azure subscription.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
        x-ms-parameter-location: client
      x-ms-parameter-location: client
  schemas:
    CloudError:
      description: An error response from the Batch service.
      example:
        error:
          code: code
          details:
          - null
          - null
          message: message
          target: target
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorBody'
      title: CloudError
      type: object
      x-ms-external: true
    CloudErrorBody:
      description: An error response from the Batch service.
      example:
        code: code
        details:
        - null
        - null
        message: message
        target: target
      properties:
        code:
          description: An identifier for the error. Codes are invariant and are intended
            to be consumed programmatically.
          title: code
          type: string
        details:
          description: A list of additional details about the error.
          items:
            $ref: '#/components/schemas/CloudErrorBody'
          title: details
          type: array
        message:
          description: "A message describing the error, intended to be suitable for\
            \ display in a user interface."
          title: message
          type: string
        target:
          description: "The target of the particular error. For example, the name\
            \ of the property in error."
          title: target
          type: string
      title: CloudErrorBody
      type: object
      x-ms-external: true
    PrivateLinkResource:
      allOf:
      - $ref: '#/components/schemas/ProxyResource'
      description: A private link resource
      example:
        properties:
          requiredMembers:
          - requiredMembers
          - requiredMembers
          groupId: groupId
      properties:
        properties:
          $ref: '#/components/schemas/PrivateLinkResourceProperties'
      title: PrivateLinkResource
    PrivateLinkResourceListResult:
      description: A list of private link resources
      example:
        value:
        - properties:
            requiredMembers:
            - requiredMembers
            - requiredMembers
            groupId: groupId
        - properties:
            requiredMembers:
            - requiredMembers
            - requiredMembers
            groupId: groupId
        nextLink: nextLink
      properties:
        nextLink:
          description: Link to retrieve next page of results.
          readOnly: true
          title: nextLink
          type: string
        value:
          description: Array of results.
          items:
            $ref: '#/components/schemas/PrivateLinkResource'
          readOnly: true
          title: value
          type: array
      title: PrivateLinkResourceListResult
      type: object
    PrivateLinkResourceProperties:
      description: Properties of a private link resource.
      example:
        requiredMembers:
        - requiredMembers
        - requiredMembers
        groupId: groupId
      properties:
        groupId:
          description: The private link resource group id.
          readOnly: true
          title: groupId
          type: string
        requiredMembers:
          description: The private link resource required member names.
          items:
            type: string
          readOnly: true
          title: requiredMembers
          type: array
      title: PrivateLinkResourceProperties
      type: object
    ProxyResource:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: ARM proxy resource.
      title: ProxyResource
    Resource:
      description: ARM resource.
      properties:
        id:
          description: Resource ID.
          readOnly: true
          title: id
          type: string
        name:
          description: Resource name.
          readOnly: true
          title: name
          type: string
        type:
          description: Resource type.
          readOnly: true
          title: type
          type: string
      title: Resource
      type: object
      x-ms-azure-resource: true
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
