openapi: 3.0.1
info:
  description: The Windows Azure Network management API provides a RESTful set of
    web services that interact with Windows Azure Networks service to manage your
    network resources. The API has entities that capture the relationship between
    an end user and the Windows Azure Networks service.
  title: NetworkResourceProviderClient
  version: 2015-05-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/network/resource-manager/Microsoft.Network/preview/2015-05-01-preview/network.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: network
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/applicationGateways:
    get:
      description: The List application gateway operation retrieves all the application
        gateways in a subscription.
      operationId: ApplicationGateways_ListAll
      parameters:
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationGatewayListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ApplicationGatewayListResult'
          description: ""
      tags:
      - ApplicationGateways
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
      - text/json
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/expressRouteCircuits:
    get:
      description: The List ExpressRouteCircuit operation retrieves all the ExpressRouteCircuits
        in a subscription.
      operationId: ExpressRouteCircuits_ListAll
      parameters:
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuitListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuitListResult'
          description: ""
      tags:
      - ExpressRouteCircuits
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
      - text/json
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/expressRouteServiceProviders:
    get:
      description: The List ExpressRouteServiceProvider operation retrieves all the
        available ExpressRouteServiceProviders.
      operationId: ExpressRouteServiceProviders_List
      parameters:
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteServiceProviderListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteServiceProviderListResult'
          description: ""
      tags:
      - ExpressRouteServiceProviders
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
      - text/json
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/loadBalancers:
    get:
      description: The List loadBalancer operation retrieves all the load balancers
        in a subscription.
      operationId: LoadBalancers_ListAll
      parameters:
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoadBalancerListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/LoadBalancerListResult'
          description: ""
      tags:
      - LoadBalancers
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
      - text/json
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/locations/{location}/CheckDnsNameAvailability:
    get:
      description: Checks whether a domain name in the cloudapp.net zone is available
        for use.
      operationId: CheckDnsNameAvailability
      parameters:
      - description: The location of the domain name
        in: path
        name: location
        required: true
        schema:
          type: string
      - description: "The domain name to be verified. It must conform to the following\
          \ regular expression: ^[a-z][a-z0-9-]{1,61}[a-z0-9]$."
        in: query
        name: domainNameLabel
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DnsNameAvailabilityResult'
            text/json:
              schema:
                $ref: '#/components/schemas/DnsNameAvailabilityResult'
          description: ""
      x-accepts:
      - application/json
      - text/json
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/locations/{location}/usages:
    get:
      description: Lists compute usages for a subscription.
      operationId: Usages_List
      parameters:
      - description: The location upon which resource usage is queried.
        in: path
        name: location
        required: true
        schema:
          pattern: "^[-\\w\\._]+$"
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsagesListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/UsagesListResult'
          description: ""
      tags:
      - Usages
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
      - text/json
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/networkInterfaces:
    get:
      description: The List networkInterfaces operation retrieves all the networkInterfaces
        in a subscription.
      operationId: NetworkInterfaces_ListAll
      parameters:
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkInterfaceListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/NetworkInterfaceListResult'
          description: ""
      tags:
      - NetworkInterfaces
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
      - text/json
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/networkSecurityGroups:
    get:
      description: The list NetworkSecurityGroups returns all network security groups
        in a subscription
      operationId: NetworkSecurityGroups_ListAll
      parameters:
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkSecurityGroupListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/NetworkSecurityGroupListResult'
          description: ""
      tags:
      - NetworkSecurityGroups
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
      - text/json
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/publicIPAddresses:
    get:
      description: The List publicIpAddress operation retrieves all the publicIpAddresses
        in a subscription.
      operationId: PublicIpAddresses_ListAll
      parameters:
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicIpAddressListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/PublicIpAddressListResult'
          description: ""
      tags:
      - PublicIpAddresses
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
      - text/json
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/routeTables:
    get:
      description: The list RouteTables returns all route tables in a subscription
      operationId: RouteTables_ListAll
      parameters:
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RouteTableListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/RouteTableListResult'
          description: ""
      tags:
      - RouteTables
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
      - text/json
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/virtualnetworks:
    get:
      description: The list VirtualNetwork returns all Virtual Networks in a subscription
      operationId: VirtualNetworks_ListAll
      parameters:
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkListResult'
          description: ""
      tags:
      - VirtualNetworks
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
      - text/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/applicationGateways:
    get:
      description: The List ApplicationGateway operation retrieves all the application
        gateways in a resource group.
      operationId: ApplicationGateways_List
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationGatewayListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ApplicationGatewayListResult'
          description: ""
      tags:
      - ApplicationGateways
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
      - text/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/applicationGateways/{applicationGatewayName}
  : delete:
      description: The delete application gateway operation deletes the specified
        application gateway.
      operationId: ApplicationGateways_Delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the application gateway.
        in: path
        name: applicationGatewayName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: ""
        "202":
          content: {}
          description: ""
        "204":
          content: {}
          description: ""
      tags:
      - ApplicationGateways
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
    get:
      description: The Get application gateway operation retrieves information about
        the specified application gateway.
      operationId: ApplicationGateways_Get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the application gateway.
        in: path
        name: applicationGatewayName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationGateway'
            text/json:
              schema:
                $ref: '#/components/schemas/ApplicationGateway'
          description: ""
      tags:
      - ApplicationGateways
      x-accepts:
      - application/json
      - text/json
    put:
      description: The Put ApplicationGateway operation creates/updates a ApplicationGateway
      operationId: ApplicationGateways_CreateOrUpdate
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the ApplicationGateway.
        in: path
        name: applicationGatewayName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationGateway'
          text/json:
            schema:
              $ref: '#/components/schemas/ApplicationGateway'
        description: Parameters supplied to the create/delete ApplicationGateway operation
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationGateway'
            text/json:
              schema:
                $ref: '#/components/schemas/ApplicationGateway'
          description: ""
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationGateway'
            text/json:
              schema:
                $ref: '#/components/schemas/ApplicationGateway'
          description: ""
      tags:
      - ApplicationGateways
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/applicationGateways/{applicationGatewayName}/start
  : post:
      description: The Start ApplicationGateway operation starts application gateway
        in the specified resource group through Network resource provider.
      operationId: ApplicationGateways_Start
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the application gateway.
        in: path
        name: applicationGatewayName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "202":
          content: {}
          description: ""
      tags:
      - ApplicationGateways
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/applicationGateways/{applicationGatewayName}/stop
  : post:
      description: The STOP ApplicationGateway operation stops application gateway
        in the specified resource group through Network resource provider.
      operationId: ApplicationGateways_Stop
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the application gateway.
        in: path
        name: applicationGatewayName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: ""
        "202":
          content: {}
          description: ""
      tags:
      - ApplicationGateways
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/connections:
    get:
      description: The List VirtualNetworkGatewayConnections operation retrieves all
        the virtual network gateways connections created.
      operationId: VirtualNetworkGatewayConnections_List
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkGatewayConnectionListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkGatewayConnectionListResult'
          description: ""
      tags:
      - VirtualNetworkGatewayConnections
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
      - text/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/connections/{virtualNetworkGatewayConnectionName}
  : get:
      description: The Get VirtualNetworkGatewayConnection operation retrieves information
        about the specified virtual network gateway connection through Network resource
        provider.
      operationId: VirtualNetworkGatewayConnections_Get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the virtual network gateway connection.
        in: path
        name: virtualNetworkGatewayConnectionName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkGatewayConnection'
            text/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkGatewayConnection'
          description: ""
      tags:
      - VirtualNetworkGatewayConnections
      x-accepts:
      - application/json
      - text/json
    put:
      description: The Put VirtualNetworkGatewayConnection operation creates/updates
        a virtual network gateway connection in the specified resource group through
        Network resource provider.
      operationId: VirtualNetworkGatewayConnections_CreateOrUpdate
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the virtual network gateway connection.
        in: path
        name: virtualNetworkGatewayConnectionName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VirtualNetworkGatewayConnection'
          text/json:
            schema:
              $ref: '#/components/schemas/VirtualNetworkGatewayConnection'
        description: Parameters supplied to the Begin Create or update Virtual Network
          Gateway connection operation through Network resource provider.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkGatewayConnection'
            text/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkGatewayConnection'
          description: ""
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkGatewayConnection'
            text/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkGatewayConnection'
          description: ""
      tags:
      - VirtualNetworkGatewayConnections
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/connections/{virtualNetworkGatewayConnectionName}/
  : delete:
      description: The Delete VirtualNetworkGatewayConnection operation deletes the
        specified virtual network Gateway connection through Network resource provider.
      operationId: VirtualNetworkGatewayConnections_Delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the virtual network gateway connection.
        in: path
        name: virtualNetworkGatewayConnectionName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: ""
        "202":
          content: {}
          description: ""
        "204":
          content: {}
          description: ""
      tags:
      - VirtualNetworkGatewayConnections
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/connections/{virtualNetworkGatewayConnectionName}/sharedkey
  : get:
      description: The Get VirtualNetworkGatewayConnectionSharedKey operation retrieves
        information about the specified virtual network gateway connection shared
        key through Network resource provider.
      operationId: VirtualNetworkGatewayConnections_GetSharedKey
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The virtual network gateway connection shared key name.
        in: path
        name: virtualNetworkGatewayConnectionName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionSharedKey'
            text/json:
              schema:
                $ref: '#/components/schemas/ConnectionSharedKey'
          description: ""
      tags:
      - VirtualNetworkGatewayConnections
      x-accepts:
      - application/json
      - text/json
    put:
      description: The Put VirtualNetworkGatewayConnectionSharedKey operation sets
        the virtual network gateway connection shared key for passed virtual network
        gateway connection in the specified resource group through Network resource
        provider.
      operationId: VirtualNetworkGatewayConnections_SetSharedKey
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The virtual network gateway connection name.
        in: path
        name: virtualNetworkGatewayConnectionName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectionSharedKey'
          text/json:
            schema:
              $ref: '#/components/schemas/ConnectionSharedKey'
        description: Parameters supplied to the Begin Set Virtual Network Gateway
          connection Shared key operation through Network resource provider.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionSharedKey'
            text/json:
              schema:
                $ref: '#/components/schemas/ConnectionSharedKey'
          description: ""
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionSharedKey'
            text/json:
              schema:
                $ref: '#/components/schemas/ConnectionSharedKey'
          description: ""
      tags:
      - VirtualNetworkGatewayConnections
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/connections/{virtualNetworkGatewayConnectionName}/sharedkey/reset
  : post:
      description: The VirtualNetworkGatewayConnectionResetSharedKey operation resets
        the virtual network gateway connection shared key for passed virtual network
        gateway connection in the specified resource group through Network resource
        provider.
      operationId: VirtualNetworkGatewayConnections_ResetSharedKey
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The virtual network gateway connection reset shared key Name.
        in: path
        name: virtualNetworkGatewayConnectionName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectionResetSharedKey'
          text/json:
            schema:
              $ref: '#/components/schemas/ConnectionResetSharedKey'
        description: Parameters supplied to the Begin Reset Virtual Network Gateway
          connection shared key operation through Network resource provider.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionResetSharedKey'
            text/json:
              schema:
                $ref: '#/components/schemas/ConnectionResetSharedKey'
          description: ""
        "202":
          content: {}
          description: ""
      tags:
      - VirtualNetworkGatewayConnections
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits:
    get:
      description: The List ExpressRouteCircuit operation retrieves all the ExpressRouteCircuits
        in a resource group.
      operationId: ExpressRouteCircuits_List
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuitListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuitListResult'
          description: ""
      tags:
      - ExpressRouteCircuits
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
      - text/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}/
  : delete:
      description: The delete ExpressRouteCircuit operation deletes the specified
        ExpressRouteCircuit.
      operationId: ExpressRouteCircuits_Delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the express route Circuit.
        in: path
        name: circuitName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: ""
        "202":
          content: {}
          description: ""
        "204":
          content: {}
          description: ""
      tags:
      - ExpressRouteCircuits
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
    get:
      description: The Get ExpressRouteCircuit operation retrieves information about
        the specified ExpressRouteCircuit.
      operationId: ExpressRouteCircuits_Get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the circuit.
        in: path
        name: circuitName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuit'
            text/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuit'
          description: ""
      tags:
      - ExpressRouteCircuits
      x-accepts:
      - application/json
      - text/json
    put:
      description: The Put ExpressRouteCircuit operation creates/updates a ExpressRouteCircuit
      operationId: ExpressRouteCircuits_CreateOrUpdate
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the circuit.
        in: path
        name: circuitName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExpressRouteCircuit'
          text/json:
            schema:
              $ref: '#/components/schemas/ExpressRouteCircuit'
        description: Parameters supplied to the create/delete ExpressRouteCircuit
          operation
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuit'
            text/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuit'
          description: ""
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuit'
            text/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuit'
          description: ""
      tags:
      - ExpressRouteCircuits
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}/authorizations
  : get:
      description: The List authorization operation retrieves all the authorizations
        in an ExpressRouteCircuit.
      operationId: ExpressRouteCircuitAuthorizations_List
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the circuit.
        in: path
        name: circuitName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizationListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/AuthorizationListResult'
          description: ""
      tags:
      - ExpressRouteCircuitAuthorizations
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
      - text/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}/authorizations/{authorizationName}
  : delete:
      description: The delete authorization operation deletes the specified authorization
        from the specified ExpressRouteCircuit.
      operationId: ExpressRouteCircuitAuthorizations_Delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the express route circuit.
        in: path
        name: circuitName
        required: true
        schema:
          type: string
      - description: The name of the authorization.
        in: path
        name: authorizationName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: ""
        "202":
          content: {}
          description: ""
        "204":
          content: {}
          description: ""
      tags:
      - ExpressRouteCircuitAuthorizations
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
    get:
      description: The GET authorization operation retrieves the specified authorization
        from the specified ExpressRouteCircuit.
      operationId: ExpressRouteCircuitAuthorizations_Get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the express route circuit.
        in: path
        name: circuitName
        required: true
        schema:
          type: string
      - description: The name of the authorization.
        in: path
        name: authorizationName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuitAuthorization'
            text/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuitAuthorization'
          description: ""
      tags:
      - ExpressRouteCircuitAuthorizations
      x-accepts:
      - application/json
      - text/json
    put:
      description: The Put Authorization operation creates/updates an authorization
        in the specified ExpressRouteCircuits
      operationId: ExpressRouteCircuitAuthorizations_CreateOrUpdate
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the express route circuit.
        in: path
        name: circuitName
        required: true
        schema:
          type: string
      - description: The name of the authorization.
        in: path
        name: authorizationName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExpressRouteCircuitAuthorization'
          text/json:
            schema:
              $ref: '#/components/schemas/ExpressRouteCircuitAuthorization'
        description: Parameters supplied to the create/update ExpressRouteCircuitAuthorization
          operation
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuitAuthorization'
            text/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuitAuthorization'
          description: ""
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuitAuthorization'
            text/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuitAuthorization'
          description: ""
      tags:
      - ExpressRouteCircuitAuthorizations
      x-ms-long-running-operation: true
      x-codegen-request-body-name: authorizationParameters
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}/peerings
  : get:
      description: The List peering operation retrieves all the peerings in an ExpressRouteCircuit.
      operationId: ExpressRouteCircuitPeerings_List
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the circuit.
        in: path
        name: circuitName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuitPeeringListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuitPeeringListResult'
          description: ""
      tags:
      - ExpressRouteCircuitPeerings
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
      - text/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}/peerings/{peeringName}
  : delete:
      description: The delete peering operation deletes the specified peering from
        the ExpressRouteCircuit.
      operationId: ExpressRouteCircuitPeerings_Delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the express route circuit.
        in: path
        name: circuitName
        required: true
        schema:
          type: string
      - description: The name of the peering.
        in: path
        name: peeringName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: ""
        "202":
          content: {}
          description: ""
        "204":
          content: {}
          description: ""
      tags:
      - ExpressRouteCircuitPeerings
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
    get:
      description: The GET peering operation retrieves the specified authorization
        from the ExpressRouteCircuit.
      operationId: ExpressRouteCircuitPeerings_Get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the express route circuit.
        in: path
        name: circuitName
        required: true
        schema:
          type: string
      - description: The name of the peering.
        in: path
        name: peeringName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuitPeering'
            text/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuitPeering'
          description: ""
      tags:
      - ExpressRouteCircuitPeerings
      x-accepts:
      - application/json
      - text/json
    put:
      description: The Put Peering operation creates/updates an peering in the specified
        ExpressRouteCircuits
      operationId: ExpressRouteCircuitPeerings_CreateOrUpdate
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the express route circuit.
        in: path
        name: circuitName
        required: true
        schema:
          type: string
      - description: The name of the peering.
        in: path
        name: peeringName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExpressRouteCircuitPeering'
          text/json:
            schema:
              $ref: '#/components/schemas/ExpressRouteCircuitPeering'
        description: Parameters supplied to the create/update ExpressRouteCircuit
          Peering operation
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuitPeering'
            text/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuitPeering'
          description: ""
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuitPeering'
            text/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuitPeering'
          description: ""
      tags:
      - ExpressRouteCircuitPeerings
      x-ms-long-running-operation: true
      x-codegen-request-body-name: peeringParameters
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}arpTable
  : get:
      description: The ListArpTable from ExpressRouteCircuit operation retrieves the
        currently advertised arp table associated with the ExpressRouteCircuits in
        a resource group.
      operationId: ExpressRouteCircuits_ListArpTable
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the circuit.
        in: path
        name: circuitName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuitsArpTableListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuitsArpTableListResult'
          description: ""
      tags:
      - ExpressRouteCircuits
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
      - text/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}routesTable
  : get:
      description: The ListRoutesTable from ExpressRouteCircuit operation retrieves
        the currently advertised routes table associated with the ExpressRouteCircuits
        in a resource group.
      operationId: ExpressRouteCircuits_ListRoutesTable
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the circuit.
        in: path
        name: circuitName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuitsRoutesTableListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuitsRoutesTableListResult'
          description: ""
      tags:
      - ExpressRouteCircuits
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
      - text/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}stats
  : get:
      description: The ListStats ExpressRouteCircuit operation retrieves all the stats
        from a ExpressRouteCircuits in a resource group.
      operationId: ExpressRouteCircuits_ListStats
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the loadBalancer.
        in: path
        name: circuitName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuitsStatsListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuitsStatsListResult'
          description: ""
      tags:
      - ExpressRouteCircuits
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
      - text/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/loadBalancers:
    get:
      description: The List loadBalancer operation retrieves all the load balancers
        in a resource group.
      operationId: LoadBalancers_List
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoadBalancerListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/LoadBalancerListResult'
          description: ""
      tags:
      - LoadBalancers
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
      - text/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/loadBalancers/{loadBalancerName}:
    delete:
      description: The delete loadbalancer operation deletes the specified loadbalancer.
      operationId: LoadBalancers_Delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the loadBalancer.
        in: path
        name: loadBalancerName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: ""
        "202":
          content: {}
          description: ""
        "204":
          content: {}
          description: ""
      tags:
      - LoadBalancers
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
    get:
      description: The Get network interface operation retrieves information about
        the specified network interface.
      operationId: LoadBalancers_Get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the loadBalancer.
        in: path
        name: loadBalancerName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoadBalancer'
            text/json:
              schema:
                $ref: '#/components/schemas/LoadBalancer'
          description: ""
      tags:
      - LoadBalancers
      x-accepts:
      - application/json
      - text/json
    put:
      description: The Put LoadBalancer operation creates/updates a LoadBalancer
      operationId: LoadBalancers_CreateOrUpdate
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the loadBalancer.
        in: path
        name: loadBalancerName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoadBalancer'
          text/json:
            schema:
              $ref: '#/components/schemas/LoadBalancer'
        description: Parameters supplied to the create/delete LoadBalancer operation
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoadBalancer'
            text/json:
              schema:
                $ref: '#/components/schemas/LoadBalancer'
          description: ""
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoadBalancer'
            text/json:
              schema:
                $ref: '#/components/schemas/LoadBalancer'
          description: ""
      tags:
      - LoadBalancers
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/localNetworkGateways:
    get:
      description: The List LocalNetworkGateways operation retrieves all the local
        network gateways stored.
      operationId: LocalNetworkGateways_List
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocalNetworkGatewayListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/LocalNetworkGatewayListResult'
          description: ""
      tags:
      - LocalNetworkGateways
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
      - text/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/localNetworkGateways/{localNetworkGatewayName}
  : get:
      description: The Get LocalNetworkGateway operation retrieves information about
        the specified local network gateway through Network resource provider.
      operationId: LocalNetworkGateways_Get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the local network gateway.
        in: path
        name: localNetworkGatewayName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocalNetworkGateway'
            text/json:
              schema:
                $ref: '#/components/schemas/LocalNetworkGateway'
          description: ""
      tags:
      - LocalNetworkGateways
      x-accepts:
      - application/json
      - text/json
    put:
      description: The Put LocalNetworkGateway operation creates/updates a local network
        gateway in the specified resource group through Network resource provider.
      operationId: LocalNetworkGateways_CreateOrUpdate
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the local network gateway.
        in: path
        name: localNetworkGatewayName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LocalNetworkGateway'
          text/json:
            schema:
              $ref: '#/components/schemas/LocalNetworkGateway'
        description: Parameters supplied to the Begin Create or update Local Network
          Gateway operation through Network resource provider.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocalNetworkGateway'
            text/json:
              schema:
                $ref: '#/components/schemas/LocalNetworkGateway'
          description: ""
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocalNetworkGateway'
            text/json:
              schema:
                $ref: '#/components/schemas/LocalNetworkGateway'
          description: ""
      tags:
      - LocalNetworkGateways
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/localNetworkGateways/{localNetworkGatewayName}/
  : delete:
      description: The Delete LocalNetworkGateway operation deletes the specified
        local network Gateway through Network resource provider.
      operationId: LocalNetworkGateways_Delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the local network gateway.
        in: path
        name: localNetworkGatewayName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: ""
        "202":
          content: {}
          description: ""
        "204":
          content: {}
          description: ""
      tags:
      - LocalNetworkGateways
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkInterfaces:
    get:
      description: The List networkInterfaces operation retrieves all the networkInterfaces
        in a resource group.
      operationId: NetworkInterfaces_List
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkInterfaceListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/NetworkInterfaceListResult'
          description: ""
      tags:
      - NetworkInterfaces
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
      - text/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkInterfaces/{networkInterfaceName}
  : delete:
      description: The delete networkInterface operation deletes the specified networkInterface.
      operationId: NetworkInterfaces_Delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the network interface.
        in: path
        name: networkInterfaceName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: ""
        "202":
          content: {}
          description: ""
        "204":
          content: {}
          description: ""
      tags:
      - NetworkInterfaces
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
    get:
      description: The Get network interface operation retrieves information about
        the specified network interface.
      operationId: NetworkInterfaces_Get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the network interface.
        in: path
        name: networkInterfaceName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkInterface'
            text/json:
              schema:
                $ref: '#/components/schemas/NetworkInterface'
          description: ""
      tags:
      - NetworkInterfaces
      x-accepts:
      - application/json
      - text/json
    put:
      description: The Put NetworkInterface operation creates/updates a networkInterface
      operationId: NetworkInterfaces_CreateOrUpdate
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the network interface.
        in: path
        name: networkInterfaceName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NetworkInterface'
          text/json:
            schema:
              $ref: '#/components/schemas/NetworkInterface'
        description: Parameters supplied to the create/update NetworkInterface operation
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkInterface'
            text/json:
              schema:
                $ref: '#/components/schemas/NetworkInterface'
          description: ""
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkInterface'
            text/json:
              schema:
                $ref: '#/components/schemas/NetworkInterface'
          description: ""
      tags:
      - NetworkInterfaces
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkSecurityGroups:
    get:
      description: The list NetworkSecurityGroups returns all network security groups
        in a resource group
      operationId: NetworkSecurityGroups_List
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkSecurityGroupListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/NetworkSecurityGroupListResult'
          description: ""
      tags:
      - NetworkSecurityGroups
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
      - text/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkSecurityGroups/{networkSecurityGroupName}
  : delete:
      description: The Delete NetworkSecurityGroup operation deletes the specified
        network security group
      operationId: NetworkSecurityGroups_Delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the network security group.
        in: path
        name: networkSecurityGroupName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: ""
        "202":
          content: {}
          description: ""
        "204":
          content: {}
          description: ""
      tags:
      - NetworkSecurityGroups
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
    get:
      description: The Get NetworkSecurityGroups operation retrieves information about
        the specified network security group.
      operationId: NetworkSecurityGroups_Get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the network security group.
        in: path
        name: networkSecurityGroupName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkSecurityGroup'
            text/json:
              schema:
                $ref: '#/components/schemas/NetworkSecurityGroup'
          description: ""
      tags:
      - NetworkSecurityGroups
      x-accepts:
      - application/json
      - text/json
    put:
      description: The Put NetworkSecurityGroup operation creates/updates a network
        security group in the specified resource group.
      operationId: NetworkSecurityGroups_CreateOrUpdate
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the network security group.
        in: path
        name: networkSecurityGroupName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NetworkSecurityGroup'
          text/json:
            schema:
              $ref: '#/components/schemas/NetworkSecurityGroup'
        description: Parameters supplied to the create/update Network Security Group
          operation
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkSecurityGroup'
            text/json:
              schema:
                $ref: '#/components/schemas/NetworkSecurityGroup'
          description: ""
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkSecurityGroup'
            text/json:
              schema:
                $ref: '#/components/schemas/NetworkSecurityGroup'
          description: ""
      tags:
      - NetworkSecurityGroups
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkSecurityGroups/{networkSecurityGroupName}/securityRules
  : get:
      description: The List network security rule operation retrieves all the security
        rules in a network security group.
      operationId: SecurityRules_List
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the network security group.
        in: path
        name: networkSecurityGroupName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityRuleListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/SecurityRuleListResult'
          description: ""
      tags:
      - SecurityRules
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
      - text/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkSecurityGroups/{networkSecurityGroupName}/securityRules/{securityRuleName}
  : delete:
      description: The delete network security rule operation deletes the specified
        network security rule.
      operationId: SecurityRules_Delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the network security group.
        in: path
        name: networkSecurityGroupName
        required: true
        schema:
          type: string
      - description: The name of the security rule.
        in: path
        name: securityRuleName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: ""
        "202":
          content: {}
          description: ""
        "204":
          content: {}
          description: ""
      tags:
      - SecurityRules
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
    get:
      description: The Get NetworkSecurityRule operation retrieves information about
        the specified network security rule.
      operationId: SecurityRules_Get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the network security group.
        in: path
        name: networkSecurityGroupName
        required: true
        schema:
          type: string
      - description: The name of the security rule.
        in: path
        name: securityRuleName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityRule'
            text/json:
              schema:
                $ref: '#/components/schemas/SecurityRule'
          description: ""
      tags:
      - SecurityRules
      x-accepts:
      - application/json
      - text/json
    put:
      description: The Put network security rule operation creates/updates a security
        rule in the specified network security group
      operationId: SecurityRules_CreateOrUpdate
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the network security group.
        in: path
        name: networkSecurityGroupName
        required: true
        schema:
          type: string
      - description: The name of the security rule.
        in: path
        name: securityRuleName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecurityRule'
          text/json:
            schema:
              $ref: '#/components/schemas/SecurityRule'
        description: Parameters supplied to the create/update network security rule
          operation
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityRule'
            text/json:
              schema:
                $ref: '#/components/schemas/SecurityRule'
          description: ""
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityRule'
            text/json:
              schema:
                $ref: '#/components/schemas/SecurityRule'
          description: ""
      tags:
      - SecurityRules
      x-ms-long-running-operation: true
      x-codegen-request-body-name: securityRuleParameters
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/publicIPAddresses:
    get:
      description: The List publicIpAddress operation retrieves all the publicIpAddresses
        in a resource group.
      operationId: PublicIpAddresses_List
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicIpAddressListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/PublicIpAddressListResult'
          description: ""
      tags:
      - PublicIpAddresses
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
      - text/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/publicIPAddresses/{publicIpAddressName}/
  : delete:
      description: The delete publicIpAddress operation deletes the specified publicIpAddress.
      operationId: PublicIpAddresses_Delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the subnet.
        in: path
        name: publicIpAddressName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: ""
        "202":
          content: {}
          description: ""
        "204":
          content: {}
          description: ""
      tags:
      - PublicIpAddresses
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
    get:
      description: The Get publicIpAddress operation retrieves information about the
        specified pubicIpAddress
      operationId: PublicIpAddresses_Get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the subnet.
        in: path
        name: publicIpAddressName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicIpAddress'
            text/json:
              schema:
                $ref: '#/components/schemas/PublicIpAddress'
          description: ""
      tags:
      - PublicIpAddresses
      x-accepts:
      - application/json
      - text/json
    put:
[...]
