openapi: 3.0.3
info:
  contact: {}
  title: Endpoints
  version: 1.0.0
  x-apisguru-categories:
  - financial
  x-logo:
    url: https://files.readme.io/53cd56d-2d5efc7-logo.svg
  x-origin:
  - format: postman
    url: https://www.postman.com/collections/25954042-3a7b5f30-f598-4f9e-ba5f-4ebb58a1f18d
    version: 2.x
  x-providerName: tokenmetrics.com
servers:
- url: https://api.tokenmetrics.com
paths:
  /v1/correlation:
    get:
      description: Correlation
      operationId: correlation
      parameters:
      - explode: true
        in: query
        name: tokens
        required: false
        schema:
          example: "3375, 3306"
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          example: "1000"
          type: string
        style: form
      responses:
        "200":
          description: ""
      summary: Correlation
      x-accepts:
      - application/json
  /v1/indices:
    get:
      description: Indices
      operationId: indices
      parameters:
      - explode: true
        in: query
        name: exchanges
        required: false
        schema:
          example: binance
          type: string
        style: form
      - explode: true
        in: query
        name: timeHorizon
        required: false
        schema:
          example: daily
          type: string
        style: form
      - explode: true
        in: query
        name: lowCap
        required: false
        schema:
          example: "true"
          type: string
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          example: 2023-01-10
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          example: 2023-01-11
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          example: "1000"
          type: string
        style: form
      responses:
        "200":
          description: ""
      summary: Indices
      x-accepts:
      - application/json
  /v1/investor-grades:
    get:
      description: Investor Grades
      operationId: investorGrades
      parameters:
      - explode: true
        in: query
        name: tokens
        required: false
        schema:
          example: "3375, 3306"
          type: string
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          example: 2023-01-10
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          example: 2023-01-11
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          example: "1000"
          type: string
        style: form
      responses:
        "200":
          description: ""
      summary: Investor Grades
      x-accepts:
      - application/json
  /v1/market-indicator:
    get:
      description: Market Indicator
      operationId: marketIndicator
      parameters:
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          example: 2023-01-10
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          example: 2023-01-11
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          example: "1000"
          type: string
        style: form
      responses:
        "200":
          description: ""
      summary: Market Indicator
      x-accepts:
      - application/json
  /v1/price:
    get:
      description: Price
      operationId: price
      parameters:
      - explode: true
        in: query
        name: tokens
        required: false
        schema:
          example: "3375, 3306"
          type: string
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          example: 2023-01-10
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          example: 2023-01-11
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          example: "1000"
          type: string
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          example: "1"
          type: string
        style: form
      responses:
        "200":
          description: ""
      summary: Price
      x-accepts:
      - application/json
  /v1/price-prediction:
    get:
      description: Price Prediction
      operationId: pricePrediction
      parameters:
      - explode: true
        in: query
        name: tokens
        required: false
        schema:
          example: "3375, 3306"
          type: string
        style: form
      - explode: true
        in: query
        name: date
        required: false
        schema:
          example: 2023-02-01
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          example: "1000"
          type: string
        style: form
      responses:
        "200":
          description: ""
      summary: Price Prediction
      x-accepts:
      - application/json
  /v1/quantmetrics-tier-1:
    get:
      description: Quantmetrics Tier 1
      operationId: quantmetricsTier1
      parameters:
      - explode: true
        in: query
        name: tokens
        required: false
        schema:
          example: "3375, 3306"
          type: string
        style: form
      - explode: true
        in: query
        name: date
        required: false
        schema:
          example: 2023-02-01
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          example: "1000"
          type: string
        style: form
      responses:
        "200":
          description: ""
      summary: Quantmetrics Tier 1
      x-accepts:
      - application/json
  /v1/quantmetrics-tier-2:
    get:
      description: Quantmetrics Tier 2
      operationId: quantmetricsTier2
      parameters:
      - explode: true
        in: query
        name: tokens
        required: false
        schema:
          example: "3375, 3306"
          type: string
        style: form
      - explode: true
        in: query
        name: date
        required: false
        schema:
          example: 2023-02-01
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          example: "1000"
          type: string
        style: form
      responses:
        "200":
          description: ""
      summary: Quantmetrics Tier 2
      x-accepts:
      - application/json
  /v1/resistance-support:
    get:
      description: Resistance & Support
      operationId: resistanceSupport
      parameters:
      - explode: true
        in: query
        name: tokens
        required: false
        schema:
          example: "3375, 3306"
          type: string
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          example: 2023-01-10
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          example: 2023-01-11
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          example: "1000"
          type: string
        style: form
      responses:
        "200":
          description: ""
      summary: Resistance & Support
      x-accepts:
      - application/json
  /v1/scenario-analysis:
    get:
      description: Scenario Analysis
      operationId: scenarioAnalysis
      parameters:
      - explode: true
        in: query
        name: tokens
        required: false
        schema:
          example: "3375, 3306"
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          example: "1000"
          type: string
        style: form
      responses:
        "200":
          description: ""
      summary: Scenario Analysis
      x-accepts:
      - application/json
  /v1/sentiments:
    get:
      description: Sentiments
      operationId: sentiments
      parameters:
      - explode: true
        in: query
        name: tokens
        required: false
        schema:
          example: "3375, 3306"
          type: string
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          example: 2023-01-10
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          example: 2023-01-11
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          example: "1000"
          type: string
        style: form
      responses:
        "200":
          description: ""
      summary: Sentiments
      x-accepts:
      - application/json
  /v1/tokens:
    get:
      description: Tokens
      operationId: tokens
      parameters:
      - explode: true
        in: query
        name: token_ids
        required: false
        schema:
          example: "3375, 3306"
          type: string
        style: form
      - explode: true
        in: query
        name: token_names
        required: false
        schema:
          example: "Hivemapper, Sei_Network, Layer_Zero, Lyra Huobi"
          type: string
        style: form
      - explode: true
        in: query
        name: token_symbols
        required: false
        schema:
          example: "bds, bds, btc"
          type: string
        style: form
      responses:
        "200":
          description: ""
      summary: Tokens
      x-accepts:
      - application/json
  /v1/trader-grades:
    get:
      description: Trader Grades
      operationId: traderGrades
      parameters:
      - explode: true
        in: query
        name: tokens
        required: false
        schema:
          example: "3375, 3306"
          type: string
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          example: 2023-01-10
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          example: 2023-01-11
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          example: "1000"
          type: string
        style: form
      responses:
        "200":
          description: ""
      summary: Trader Grades
      x-accepts:
      - application/json
  /v1/trading-indicator:
    get:
      description: Trading Indicator
      operationId: tradingIndicator
      parameters:
      - explode: true
        in: query
        name: tokens
        required: false
        schema:
          example: "3375, 3306"
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          example: "1000"
          type: string
        style: form
      responses:
        "200":
          description: ""
      summary: Trading Indicator
      x-accepts:
      - application/json
components:
  schemas: {}

