openapi: 3.0.1
info:
  description: This API will provide monthly data which includes metrics such as sales
    volume and growth rate.
  title: Spending Pulse
  version: "1.0"
  x-artifactId: spending-pulse
  x-origin:
  - format: swagger
    url: https://developer.mastercard.com/devzone/api/portal/swagger/spendingpulse
    version: "2.0"
  x-providerName: mastercard.com
  x-serviceName: SpendingPulse
servers:
- url: https://api.mastercard.com/spendingpulse/v1/spulse.svc
paths:
  /gasweekly:
    get:
      description: |
        Returns the weekly gasoline report. This resource pulls back the report with ProductLine = "US Weekly Gasoline Demand Report". Keep in mind that you must be subscribed to the gasoline weekly report to be able to receive data back from this resource.
      parameters:
      - description: Starting record number to return.
        example: "1"
        in: query
        name: CurrentRow
        schema:
          type: string
      - description: Used to restrict the number of records returned if needed to
          be less than max.
        example: "25"
        in: query
        name: Offset
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GasWeeklyListResponse'
          description: A list of subscriptions.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: Unexpected errors
      summary: Returns the weekly gasoline report. This resource pulls back the report
        with ProductLine = "US Weekly Gasoline Demand Report". Keep in mind that you
        must be subscribed to the gasoline weekly report to be able to receive data
        back from this resource.
      tags:
      - Gas Weekly
      x-samples:
      - name: example_gasweekly
        request:
          application/json: |-
            {
              "CurrentRow": "1",
              "Offset" : "25"
            }
        response:
          application/json: |-
            {
              "GasWeeklyList": {
                "Count": "4",
                "GasWeeklyArray": {
                  "GasWeeklyRecord": [
                    {
                      "Country": "US",
                      "PADDCode": "NE",
                      "PADDMillionsofBarrelsSold": "5",
                      "PADDPercentChangeInBarrelsFromPriorWeek": "0.001",
                      "PADDPercentChangeinBarrelsfrom52WeeksAgo": "0.002",
                      "Period": "Week",
                      "ProductLine": "US Gasoline Weekly",
                      "PublicationCoveragePeriod": "Week",
                      "ReportType": "Gas",
                      "Sector": "Gas",
                      "Segment": "Gas",
                      "SubSector": "Gas",
                      "TotalBarrelsChangeFromPriorWeek": "5",
                      "TotalMillionsOfBarrels4WeekAverage": "40",
                      "TotalMillionsOfBarrelsDailyAverage": "15",
                      "TotalMillionsOfBarrelsSold": "40",
                      "TotalPercentChangeInBarrelsFrom52WeeksAgo": "0.005",
                      "TotalPercentChangeInBarrelsFromPriorWeek": "0.004",
                      "TotalPercentChangeInThe4WeekAverageFrom52WeeksAgo": "0.006",
                      "WeekEndDate": "6/12/2015"
                    },
                    {
                      "Country": "US",
                      "PADDCode": "CA",
                      "PADDMillionsofBarrelsSold": "5",
                      "PADDPercentChangeInBarrelsFromPriorWeek": "0.015",
                      "PADDPercentChangeinBarrelsfrom52WeeksAgo": "0.025",
                      "Period": "Week",
                      "ProductLine": "US Gasoline Weekly",
                      "PublicationCoveragePeriod": "Week",
                      "ReportType": "Gas",
                      "Sector": "Gas",
                      "Segment": "Gas",
                      "SubSector": "Gas",
                      "TotalBarrelsChangeFromPriorWeek": "5",
                      "TotalMillionsOfBarrels4WeekAverage": "40",
                      "TotalMillionsOfBarrelsDailyAverage": "15",
                      "TotalMillionsOfBarrelsSold": "40",
                      "TotalPercentChangeInBarrelsFrom52WeeksAgo": "0.005",
                      "TotalPercentChangeInBarrelsFromPriorWeek": "0.004",
                      "TotalPercentChangeInThe4WeekAverageFrom52WeeksAgo": "0.006",
                      "WeekEndDate": "6/12/2015"
                    },
                    {
                      "Country": "US",
                      "PADDCode": "NE",
                      "PADDMillionsofBarrelsSold": "6",
                      "PADDPercentChangeInBarrelsFromPriorWeek": "0.002",
                      "PADDPercentChangeinBarrelsfrom52WeeksAgo": "0.003",
                      "Period": "Week",
                      "ProductLine": "US Gasoline Weekly",
                      "PublicationCoveragePeriod": "Week",
                      "ReportType": "Gas",
                      "Sector": "Gas",
                      "Segment": "Gas",
                      "SubSector": "Gas",
                      "TotalBarrelsChangeFromPriorWeek": "6",
                      "TotalMillionsOfBarrels4WeekAverage": "50",
                      "TotalMillionsOfBarrelsDailyAverage": "16",
                      "TotalMillionsOfBarrelsSold": "50",
                      "TotalPercentChangeInBarrelsFrom52WeeksAgo": "0.006",
                      "TotalPercentChangeInBarrelsFromPriorWeek": "0.005",
                      "TotalPercentChangeInThe4WeekAverageFrom52WeeksAgo": "0.007",
                      "WeekEndDate": "6/5/2015"
                    }
                  ]
                },
                "Message": "Success"
              }
            }
      - name: example_gasweekly_for_explorer
        populateDefaults:
          application/json: |-
            {
              "CurrentRow" : true,
              "Offset" : true
            }
        request:
          application/json: |-
            {
              "CurrentRow" : "0",
              "Offset" : "2"
            }
        response:
          application/json: |-
            {
              "GasWeeklyList": {
                "Count": "4",
                "Message": "Success",
                "GasWeeklyArray": {
                  "GasWeeklyRecord": [
                    {
                      "ProductLine": "US Gasoline Weekly",
                      "PublicationCoveragePeriod": "Week",
                      "Country": "US",
                      "ReportType": "Gas",
                      "Period": "Week",
                      "Sector": "Gas",
                      "SubSector": "Gas",
                      "Segment": "Gas",
                      "WeekEndDate": "6/12/2015",
                      "TotalMillionsOfBarrelsSold": "40",
                      "TotalBarrelsChangeFromPriorWeek": "5",
                      "TotalPercentChangeInBarrelsFromPriorWeek": "0.004",
                      "TotalPercentChangeInBarrelsFrom52WeeksAgo": "0.005",
                      "TotalMillionsOfBarrels4WeekAverage": "40",
                      "TotalPercentChangeInThe4WeekAverageFrom52WeeksAgo": "0.006",
                      "TotalMillionsOfBarrelsDailyAverage": "15",
                      "AveragePricePerGalRegularGasoline": "",
                      "PADDCode": "NE",
                      "PADDMillionsofBarrelsSold": "5",
                      "PADDPercentChangeInBarrelsFromPriorWeek": "0.001",
                      "PADDPercentChangeinBarrelsfrom52WeeksAgo": "0.002"
                    },
                    {
                      "ProductLine": "US Gasoline Weekly",
                      "PublicationCoveragePeriod": "Week",
                      "Country": "US",
                      "ReportType": "Gas",
                      "Period": "Week",
                      "Sector": "Gas",
                      "SubSector": "Gas",
                      "Segment": "Gas",
                      "WeekEndDate": "6/12/2015",
                      "TotalMillionsOfBarrelsSold": "40",
                      "TotalBarrelsChangeFromPriorWeek": "5",
                      "TotalPercentChangeInBarrelsFromPriorWeek": "0.004",
                      "TotalPercentChangeInBarrelsFrom52WeeksAgo": "0.005",
                      "TotalMillionsOfBarrels4WeekAverage": "40",
                      "TotalPercentChangeInThe4WeekAverageFrom52WeeksAgo": "0.006",
                      "TotalMillionsOfBarrelsDailyAverage": "15",
                      "AveragePricePerGalRegularGasoline": "",
                      "PADDCode": "CA",
                      "PADDMillionsofBarrelsSold": "5",
                      "PADDPercentChangeInBarrelsFromPriorWeek": "0.015",
                      "PADDPercentChangeinBarrelsfrom52WeeksAgo": "0.025"
                    },
                    {
                      "ProductLine": "US Gasoline Weekly",
                      "PublicationCoveragePeriod": "Week",
                      "Country": "US",
                      "ReportType": "Gas",
                      "Period": "Week",
                      "Sector": "Gas",
                      "SubSector": "Gas",
                      "Segment": "Gas",
                      "WeekEndDate": "6/5/2015",
                      "TotalMillionsOfBarrelsSold": "50",
                      "TotalBarrelsChangeFromPriorWeek": "6",
                      "TotalPercentChangeInBarrelsFromPriorWeek": "0.005",
                      "TotalPercentChangeInBarrelsFrom52WeeksAgo": "0.006",
                      "TotalMillionsOfBarrels4WeekAverage": "50",
                      "TotalPercentChangeInThe4WeekAverageFrom52WeeksAgo": "0.007",
                      "TotalMillionsOfBarrelsDailyAverage": "16",
                      "AveragePricePerGalRegularGasoline": "",
                      "PADDCode": "NE",
                      "PADDMillionsofBarrelsSold": "6",
                      "PADDPercentChangeInBarrelsFromPriorWeek": "0.002",
                      "PADDPercentChangeinBarrelsfrom52WeeksAgo": "0.003"
                    },
                    {
                      "ProductLine": "US Gasoline Weekly",
                      "PublicationCoveragePeriod": "Week",
                      "Country": "US",
                      "ReportType": "Gas",
                      "Period": "Week",
                      "Sector": "Gas",
                      "SubSector": "Gas",
                      "Segment": "Gas",
                      "WeekEndDate": "6/5/2015",
                      "TotalMillionsOfBarrelsSold": "50",
                      "TotalBarrelsChangeFromPriorWeek": "6",
                      "TotalPercentChangeInBarrelsFromPriorWeek": "0.005",
                      "TotalPercentChangeInBarrelsFrom52WeeksAgo": "0.006",
                      "TotalMillionsOfBarrels4WeekAverage": "50",
                      "TotalPercentChangeInThe4WeekAverageFrom52WeeksAgo": "0.007",
                      "TotalMillionsOfBarrelsDailyAverage": "16",
                      "AveragePricePerGalRegularGasoline": "",
                      "PADDCode": "CA",
                      "PADDMillionsofBarrelsSold": "6",
                      "PADDPercentChangeInBarrelsFromPriorWeek": "0.016",
                      "PADDPercentChangeinBarrelsfrom52WeeksAgo": "0.026"
                    }
                  ]
                }
              }
            }
        type: documentation
      x-accepts:
      - application/json
  /parameters:
    get:
      description: |
        Returns a distinct list of all reports are available and that one is subscribed to.
      parameters:
      - description: Starting record number to return.
        example: "1"
        in: query
        name: CurrentRow
        schema:
          type: string
      - description: Used to restrict the number of records returned if needed to
          be less than max.
        example: "25"
        in: query
        name: Offset
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParameterListResponse'
          description: A List of Parameters
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: Unexpected errors
      summary: Returns a distinct list of all reports are available and that one is
        subscribed to.
      tags:
      - Parameters
      x-samples:
      - name: example_parameters
        request:
          application/json: |-
            {
              "CurrentRow": "1",
              "Offset" : "25"
            }
        response:
          application/json: |-
            {
              "ParameterList": {
                "Count": "4",
                "Message": "Success",
                "ParameterArray": {
                  "Parameter": [
                    {
                      "Country": "US",
                      "Ecomm": "Y",
                      "Period": "Weekly",
                      "ProductLine": "US Gasoline Weekly",
                      "PublicationCoveragePeriod": "March 2015",
                      "ReportType": "Gas",
                      "Sector": "Gas"
                    },
                    {
                      "Country": "US",
                      "Ecomm": "Y",
                      "Period": "Monthly",
                      "ProductLine": "US Gasoline Monthly",
                      "PublicationCoveragePeriod": "March 2015",
                      "ReportType": "Gas",
                      "Sector": "Gas"
                    },
                    {
                      "Country": "US",
                      "Ecomm": "Y",
                      "Period": "Weekly",
                      "ProductLine": "Weekly Sales",
                      "PublicationCoveragePeriod": "March 2015",
                      "ReportType": "reportA",
                      "Sector": "sectorA"
                    },
                    {
                      "Country": "US",
                      "Ecomm": "Y",
                      "Period": "Weekly",
                      "ProductLine": "Weekly Sales",
                      "PublicationCoveragePeriod": "March 2015",
                      "ReportType": "reportB",
                      "Sector": "sectorB"
                    }
                  ]
                }
              }
            }
      - name: example_parameters_for explorer
        populateDefaults:
          application/json: |-
            {
              "CurrentRow": true,
              "Offset" : true
            }
        request:
          application/json: |-
            {
              "CurrentRow": "1",
              "Offset" : "25"
            }
        response:
          application/json: |-
            {
              "ParameterList": {
                "Count": "4",
                "Message": "Success",
                "ParameterArray": {
                  "Parameter": [
                    {
                      "Country": "US",
                      "Ecomm": "Y",
                      "Period": "Weekly",
                      "ProductLine": "US Gasoline Weekly",
                      "PublicationCoveragePeriod": "Week",
                      "ReportType": "Gas",
                      "Sector": "Gas"
                    },
                    {
                      "Country": "US",
                      "Ecomm": "Y",
                      "Period": "Monthly",
                      "ProductLine": "US Gasoline Monthly",
                      "PublicationCoveragePeriod": "Month",
                      "ReportType": "Gas",
                      "Sector": "Gas"
                    },
                    {
                      "Country": "US",
                      "Ecomm": "Y",
                      "Period": "Weekly",
                      "ProductLine": "Weekly Sales",
                      "PublicationCoveragePeriod": "Week",
                      "ReportType": "reportA",
                      "Sector": "sectorA"
                    },
                    {
                      "Country": "US",
                      "Ecomm": "Y",
                      "Period": "Weekly",
                      "ProductLine": "Weekly Sales",
                      "PublicationCoveragePeriod": "Week",
                      "ReportType": "reportB",
                      "Sector": "sectorB"
                    }
                  ]
                }
              }
            }
        type: documentation
      x-accepts:
      - application/json
  /spendingpulse:
    get:
      description: |
        Returns all Spending Pulse reports (with the exception of the gasoline weekly report, which has its own resource), that one is subscribed to.
      parameters:
      - description: Starting record number to return.
        example: "1"
        in: query
        name: CurrentRow
        schema:
          type: string
      - description: Used to restrict the number of records returned if needed to
          be less than max.
        example: "25"
        in: query
        name: Offset
        schema:
          type: string
      - description: Product Line.  Either ?US Executive Report? or ?Weekly Sales?
        example: Weekly Sales
        in: query
        name: ProductLine
        schema:
          type: string
      - description: "Publication Coverage Period indicates what period is to be covered,\
          \ often the current report will include the month prior."
        example: March 2015
        in: query
        name: PublicationCoveragePeriod
        schema:
          type: string
      - description: Country code.
        example: US
        in: query
        name: Country
        schema:
          type: string
      - description: "Report type name, today the only report supported is \"monitor\"\
          ."
        example: reportA
        in: query
        name: ReportType
        schema:
          type: string
      - description: "Indicates the period covered by the data with possible values\
          \ of - day, week, month, quarter, annual"
        example: Weekly
        in: query
        name: Period
        schema:
          type: string
      - description: Sector name.
        example: sectorA
        in: query
        name: Sector
        schema:
          type: string
      - description: Ecommerce indicator.
        example: "Y"
        in: query
        name: Ecomm
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpendingPulseListResponse'
          description: A List of Spending Pulse Reports.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: Unexpected errors
      summary: "Returns all Spending Pulse reports (with the exception of the gasoline\
        \ weekly report, which has its own resource), that one is subscribed to."
      tags:
      - SpendingPulse Report
      x-samples:
      - name: example_spendingpulse
        request:
          application/json: |-
            {
              "CurrentRow": "1",
              "Offset" : "25",
              "ProductLine": "Weekly Sales",
              "PublicationCoveragePeriod": "March 2015",
              "Country": "US",
              "ReportType": "reportA",
              "Period": "Weekly",
              "Sector": "sectorA",
              "Ecomm": "Y"
            }
        response:
          application/json: |-
            {
              "SpendingPulseList": {
                "Count": "2",
                "Message": "Success",
                "SpendingPulseArray": {
                  "SpendingPulseRecord": [
                    {
                      "Country": "US",
                      "CurrencyOfForSalesValue": "US Dollars",
                      "Ecomm": "Y",
                      "ImpliedDeflatorMonthOverMonthChange": "0.0012",
                      "ImpliedDeflatorYearOverYearChange": "0.0011",
                      "NonGregorianReportingPeriod": "2015-05",
                      "Period": "Weekly",
                      "PeriodEndDate": "5/14/2015",
                      "PeriodStartDate": "5/8/2015",
                      "PriceAdjustmentFlag": "Y",
                      "PriceIndex3MonthMovingAverageChange": "0.012",
                      "PriceIndexMonthOverMonthChange": "0.005",
                      "PriceIndexValue": "0.00115",
                      "PriceIndexYearOverYearChange": "0.00115",
                      "ProductLine": "Weekly Sales",
                      "PublicationCoveragePeriod": "Week",
                      "ReportType": "reportA",
                      "ReportingCalender": "G",
                      "Sales3MonthMovingAverageChange": "150",
                      "SalesMonthOverMonthChange": "50",
                      "SalesValueIndex": "5",
                      "SalesYearOverYearChange": "500",
                      "SalesYearToDateChange": "20",
                      "SameStoreSalesIndex3MonthMovingAverageChange": "0.68",
                      "SameStoreSalesIndexYearOverYearChange": "0.6",
                      "SeasonalAdjustmentFlag": "Y",
                      "Sector": "sectorA",
                      "Segment": "seg1",
                      "SubGeographyValue": "region",
                      "SubSector": "subA",
                      "TransactionIndex3MonthMovingAverageChange": "0.58",
                      "TransactionIndexMonthOverMonthChange": "0.57",
                      "TransactionIndexValue": "0.5",
                      "TransactionIndexYearOverYearChange": "0.56"
                    },
                    {
                      "Country": "US",
                      "CurrencyOfForSalesValue": "US Dollars",
                      "Ecomm": "Y",
                      "ImpliedDeflatorMonthOverMonthChange": "0.0012",
                      "ImpliedDeflatorYearOverYearChange": "0.0011",
                      "NonGregorianReportingPeriod": "2015-05",
                      "Period": "Weekly",
                      "PeriodEndDate": "5/7/2015",
                      "PeriodStartDate": "5/1/2015",
                      "PriceAdjustmentFlag": "Y",
                      "PriceIndex3MonthMovingAverageChange": "0.013",
                      "PriceIndexMonthOverMonthChange": "0.006",
                      "PriceIndexValue": "0.000116",
                      "PriceIndexYearOverYearChange": "0.00116",
                      "ProductLine": "Weekly Sales",
                      "PublicationCoveragePeriod": "Week",
                      "ReportType": "reportA",
                      "ReportingCalender": "G",
                      "Sales3MonthMovingAverageChange": "160",
                      "SalesMonthOverMonthChange": "60",
                      "SalesValueIndex": "6",
                      "SalesYearOverYearChange": "600",
                      "SalesYearToDateChange": "30",
                      "SameStoreSalesIndex3MonthMovingAverageChange": "0.88",
                      "SameStoreSalesIndexYearOverYearChange": "0.8",
                      "SeasonalAdjustmentFlag": "Y",
                      "Sector": "sectorA",
                      "Segment": "seg1",
                      "SubGeographyValue": "region",
                      "SubSector": "subA",
                      "TransactionIndex3MonthMovingAverageChange": "0.48",
                      "TransactionIndexMonthOverMonthChange": "0.47",
                      "TransactionIndexValue": "0.4",
                      "TransactionIndexYearOverYearChange": "0.46"
                    }
                  ]
                }
              }
            }
      - name: example_spendingpulse_for_explorer
        populateDefaults:
          application/json: |-
            {
              "CurrentRow" : true,
              "Offset" : true,
              "Country" : true,
              "Sector" : true,
              "ProductLine" : true,
              "PublicationCoveragePeriod" : true,
              "ReportType" : true,
              "Ecomm" : true,
              "Period" : true
            }
        request:
          application/json: |-
            {
              "CurrentRow" : "1",
              "Offset" : "2",
              "Country" : "US",
              "Sector" : "sectorA",
              "ProductLine" : "Weekly+Sales",
              "PublicationCoveragePeriod" : "Week",
              "ReportType" : "reportA",
              "Ecomm" : "Y",
              "Period" : "Weekly"
            }
        response:
          application/json: |-
            {
              "SpendingPulseList": {
                "Count": "4",
                "Message": "Success",
                "SpendingPulseArray": {
                  "SpendingPulseRecord": [
                    {
                      "ProductLine": "Weekly Sales",
                      "PublicationCoveragePeriod": "Week",
                      "Country": "US",
                      "ReportType": "reportA",
                      "Period": "Weekly",
                      "Sector": "sectorA",
                      "SubSector": "subA",
                      "Segment": "seg1",
                      "Ecomm": "Y",
                      "SeasonalAdjustmentFlag": "Y",
                      "PriceAdjustmentFlag": "Y",
                      "ImpliedDeflatorYearOverYearChange": "0.0011",
                      "ImpliedDeflatorMonthOverMonthChange": "0.0012",
                      "PeriodStartDate": "5/8/2015",
                      "PeriodEndDate": "5/14/2015",
                      "ReportingCalender": "G",
                      "NonGregorianReportingPeriod": "2015-05",
                      "SubGeographyValue": "region",
                      "SalesValueIndex": "5",
                      "CurrencyOfForSalesValue": "US Dollars",
                      "SalesYearOverYearChange": "500",
                      "SalesMonthOverMonthChange": "50",
                      "Sales3MonthMovingAverageChange": "150",
                      "SalesYearToDateChange": "20",
                      "PriceIndexValue": "0.00115",
                      "PriceIndexYearOverYearChange": "0.00115",
                      "PriceIndexMonthOverMonthChange": "0.005",
                      "PriceIndex3MonthMovingAverageChange": "0.012",
                      "TransactionIndexValue": "0.5",
                      "TransactionIndexYearOverYearChange": "0.56",
                      "TransactionIndexMonthOverMonthChange": "0.57",
                      "TransactionIndex3MonthMovingAverageChange": "0.58",
                      "SameStoreSalesIndexYearOverYearChange": "0.6",
                      "SameStoreSalesIndex3MonthMovingAverageChange": "0.68"
                    },
                    {
                      "ProductLine": "Weekly Sales",
                      "PublicationCoveragePeriod": "Week",
                      "Country": "US",
                      "ReportType": "reportA",
                      "Period": "Weekly",
                      "Sector": "sectorA",
                      "SubSector": "subA",
                      "Segment": "seg1",
                      "Ecomm": "Y",
                      "SeasonalAdjustmentFlag": "Y",
                      "PriceAdjustmentFlag": "Y",
                      "ImpliedDeflatorYearOverYearChange": "0.0011",
                      "ImpliedDeflatorMonthOverMonthChange": "0.0012",
                      "PeriodStartDate": "5/1/2015",
                      "PeriodEndDate": "5/7/2015",
                      "ReportingCalender": "G",
                      "NonGregorianReportingPeriod": "2015-05",
                      "SubGeographyValue": "region",
                      "SalesValueIndex": "6",
                      "CurrencyOfForSalesValue": "US Dollars",
                      "SalesYearOverYearChange": "600",
                      "SalesMonthOverMonthChange": "60",
                      "Sales3MonthMovingAverageChange": "160",
                      "SalesYearToDateChange": "30",
                      "PriceIndexValue": "0.000116",
                      "PriceIndexYearOverYearChange": "0.00116",
                      "PriceIndexMonthOverMonthChange": "0.006",
                      "PriceIndex3MonthMovingAverageChange": "0.013",
                      "TransactionIndexValue": "0.4",
                      "TransactionIndexYearOverYearChange": "0.46",
                      "TransactionIndexMonthOverMonthChange": "0.47",
                      "TransactionIndex3MonthMovingAverageChange": "0.48",
                      "SameStoreSalesIndexYearOverYearChange": "0.8",
                      "SameStoreSalesIndex3MonthMovingAverageChange": "0.88"
                    },
                    {
                      "ProductLine": "Weekly Sales",
                      "PublicationCoveragePeriod": "Week",
                      "Country": "US",
                      "ReportType": "reportB",
                      "Period": "Weekly",
                      "Sector": "sectorB",
                      "SubSector": "subA",
                      "Segment": "seg1",
                      "Ecomm": "Y",
                      "SeasonalAdjustmentFlag": "Y",
                      "PriceAdjustmentFlag": "Y",
                      "ImpliedDeflatorYearOverYearChange": "0.0011",
                      "ImpliedDeflatorMonthOverMonthChange": "0.0012",
                      "PeriodStartDate": "5/8/2015",
                      "PeriodEndDate": "5/14/2015",
                      "ReportingCalender": "G",
                      "NonGregorianReportingPeriod": "2015-05",
                      "SubGeographyValue": "region",
                      "SalesValueIndex": "5",
                      "CurrencyOfForSalesValue": "US Dollars",
                      "SalesYearOverYearChange": "500",
                      "SalesMonthOverMonthChange": "50",
                      "Sales3MonthMovingAverageChange": "150",
                      "SalesYearToDateChange": "20",
                      "PriceIndexValue": "0.00115",
                      "PriceIndexYearOverYearChange": "0.00115",
                      "PriceIndexMonthOverMonthChange": "0.005",
                      "PriceIndex3MonthMovingAverageChange": "0.012",
                      "TransactionIndexValue": "0.5",
                      "TransactionIndexYearOverYearChange": "0.56",
                      "TransactionIndexMonthOverMonthChange": "0.57",
                      "TransactionIndex3MonthMovingAverageChange": "0.58",
                      "SameStoreSalesIndexYearOverYearChange": "0.6",
                      "SameStoreSalesIndex3MonthMovingAverageChange": "0.68"
                    },
                    {
                      "ProductLine": "Weekly Sales",
                      "PublicationCoveragePeriod": "Week",
                      "Country": "US",
                      "ReportType": "reportB",
                      "Period": "Weekly",
                      "Sector": "sectorB",
                      "SubSector": "subA",
                      "Segment": "seg1",
                      "Ecomm": "Y",
                      "SeasonalAdjustmentFlag": "Y",
                      "PriceAdjustmentFlag": "Y",
                      "ImpliedDeflatorYearOverYearChange": "0.0011",
                      "ImpliedDeflatorMonthOverMonthChange": "0.0012",
                      "PeriodStartDate": "5/1/2015",
                      "PeriodEndDate": "5/7/2015",
                      "ReportingCalender": "G",
                      "NonGregorianReportingPeriod": "2015-05",
                      "SubGeographyValue": "region",
                      "SalesValueIndex": "6",
                      "CurrencyOfForSalesValue": "US Dollars",
                      "SalesYearOverYearChange": "600",
                      "SalesMonthOverMonthChange": "60",
                      "Sales3MonthMovingAverageChange": "160",
                      "SalesYearToDateChange": "30",
                      "PriceIndexValue": "0.000116",
                      "PriceIndexYearOverYearChange": "0.00116",
                      "PriceIndexMonthOverMonthChange": "0.006",
                      "PriceIndex3MonthMovingAverageChange": "0.013",
                      "TransactionIndexValue": "0.4",
                      "TransactionIndexYearOverYearChange": "0.46",
                      "TransactionIndexMonthOverMonthChange": "0.47",
                      "TransactionIndex3MonthMovingAverageChange": "0.48",
                      "SameStoreSalesIndexYearOverYearChange": "0.8",
                      "SameStoreSalesIndex3MonthMovingAverageChange": "0.88"
                    }
                  ]
                }
              }
            }
        type: documentation
      x-accepts:
      - application/json
  /subscription:
    get:
      description: |
        Returns a list of all reports one is currently subscribed to.
      parameters:
      - description: Starting record number to return.
        example: "1"
        in: query
        name: CurrentRow
        schema:
          type: string
      - description: Used to restrict the number of records returned if needed to
          be less than max.
        example: "25"
        in: query
        name: Offset
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionListResponse'
          description: A list of subscriptions.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: Unexpected errors
      summary: Returns a list of all reports one is currently subscribed to.
      tags:
      - Subscription
      x-samples:
      - name: example_subscription
        request:
          application/json: |-
            {
              "CurrentRow": "1",
              "Offset" : "25"
            }
        response:
          application/json: |-
            {
              "SubscriptionList": {
                "Count": "4",
                "Message": "Success",
                "SubscriptionArray": {
                  "Subscription": [
                    {
                      "Country": "US",
                      "ReportType": "reportA",
                      "Period": "Weekly",
                      "Sector": "sectorA",
                      "Ecomm": "Y"
                    },
                    {
                      "Country": "US",
                      "ReportType": "sectorB",
                      "Period": "Weekly",
                      "Sector": "sectorB",
                      "Ecomm": "Y"
                    },
                    {
                      "Country": "US",
                      "ReportType": "Gas",
                      "Period": "Weekly",
                      "Sector": "Gas",
                      "Ecomm": "N"
                    },
                    {
                      "Country": "US",
                      "ReportType": "Gas",
                      "Period": "Monthly",
                      "Sector": "Gas",
                      "Ecomm": "N"
                    }
                  ]
                }
              }
            }
      - name: example_subscription_for explorer
        populateDefaults:
          application/json: |-
            {
              "CurrentRow": true,
              "Offset" : true
            }
        request:
          application/json: |-
            {
              "CurrentRow": "1",
              "Offset" : "25"
            }
        response:
          application/json: |-
            {
              "SubscriptionList": {
                "Count": "4",
                "Message": "Success",
                "SubscriptionArray": {
                  "Subscription": [
                    {
                      "Country": "US",
                      "ReportType": "reportA",
                      "Period": "Weekly",
                      "Sector": "sectorA",
                      "Ecomm": "Y"
                    },
                    {
                      "Country": "US",
                      "ReportType": "sectorB",
                      "Period": "Weekly",
                      "Sector": "sectorB",
                      "Ecomm": "Y"
                    },
                    {
                      "Country": "US",
                      "ReportType": "Gas",
                      "Period": "Weekly",
                      "Sector": "Gas",
                      "Ecomm": "N"
                    },
                    {
                      "Country": "US",
                      "ReportType": "Gas",
                      "Period": "Monthly",
                      "Sector": "Gas",
                      "Ecomm": "N"
                    }
                  ]
                }
              }
            }
        type: documentation
      x-accepts:
      - application/json
components:
  schemas:
    Error:
      example:
        Description: Unauthorized Access
        ReasonCode: AUTHENTICATION_FAILED
        Source: System
        Recoverable: true
      properties:
        Description:
          description: This is the text description of the error. This is optional
            and will only be displayed if more information is available than is stored
            in the data identifier and reason code.
          example: Unauthorized Access
          type: string
        ReasonCode:
          description: This will identify the reason for the error.
          example: AUTHENTICATION_FAILED
          type: string
        Recoverable:
          description: This is a true/false presentation to explain if the transaction
            was submitted again would it be successful or not.
          example: true
          type: boolean
        Source:
          description: Unique identifier that attempts to define the field in error
            when available.  If a specific field can't be identified System will be
            returned.
          example: System
          type: string
      type: object
    ErrorSchema:
      example:
        Errors:
          Error:
          - Description: Unauthorized Access
            ReasonCode: AUTHENTICATION_FAILED
            Source: System
            Recoverable: true
          - Description: Unauthorized Access
            ReasonCode: AUTHENTICATION_FAILED
            Source: System
            Recoverable: true
      properties:
        Errors:
          $ref: '#/components/schemas/Errors'
      type: object
    Errors:
      example:
        Error:
        - Description: Unauthorized Access
          ReasonCode: AUTHENTICATION_FAILED
          Source: System
          Recoverable: true
        - Description: Unauthorized Access
          ReasonCode: AUTHENTICATION_FAILED
          Source: System
          Recoverable: true
      properties:
        Error:
          items:
            $ref: '#/components/schemas/Error'
          type: array
      type: object
    GasWeeklyArray:
      example:
        GasWeeklyRecord:
        - TotalPercentChangeInBarrelsFrom52WeeksAgo: "true"
          WeekEndDate: 5/1/2015
          PADDMillionsofBarrelsSold: "12.023"
          PublicationCoveragePeriod: "20150710"
          PADDCode: West Coast
          TotalPercentChangeInThe4WeekAverageFrom52WeeksAgo: "true"
          Sector: Gas
          Period: Week
          TotalBarrelsChangeFromPriorWeek: "1.426"
          PADDPercentChangeInBarrelsFromPriorWeek: "0.021"
          Segment: "true"
          TotalMillionsOfBarrelsSold: "68.313"
          PADDPercentChangeinBarrelsfrom52WeeksAgo: "true"
          AveragePricePerGalRegularGasoline: "true"
          TotalMillionsOfBarrelsDailyAverage: "9.759"
          Country: UK
          SubSector: "true"
          TotalMillionsOfBarrels4WeekAverage: "66.78"
          TotalPercentChangeInBarrelsFromPriorWeek: "0.021"
          ProductLine: US Weekly Gasoline Demand Report
          ReportType: monitor
        - TotalPercentChangeInBarrelsFrom52WeeksAgo: "true"
          WeekEndDate: 5/1/2015
          PADDMillionsofBarrelsSold: "12.023"
          PublicationCoveragePeriod: "20150710"
          PADDCode: West Coast
          TotalPercentChangeInThe4WeekAverageFrom52WeeksAgo: "true"
          Sector: Gas
          Period: Week
          TotalBarrelsChangeFromPriorWeek: "1.426"
          PADDPercentChangeInBarrelsFromPriorWeek: "0.021"
          Segment: "true"
          TotalMillionsOfBarrelsSold: "68.313"
          PADDPercentChangeinBarrelsfrom52WeeksAgo: "true"
          AveragePricePerGalRegularGasoline: "true"
          TotalMillionsOfBarrelsDailyAverage: "9.759"
          Country: UK
          SubSector: "true"
          TotalMillionsOfBarrels4WeekAverage: "66.78"
          TotalPercentChangeInBarrelsFromPriorWeek: "0.021"
          ProductLine: US Weekly Gasoline Demand Report
          ReportType: monitor
      properties:
        GasWeeklyRecord:
          items:
            $ref: '#/components/schemas/GasWeeklyRecord'
          type: array
      type: object
    GasWeeklyList:
      example:
        Message: Success
        GasWeeklyArray:
          GasWeeklyRecord:
          - TotalPercentChangeInBarrelsFrom52WeeksAgo: "true"
            WeekEndDate: 5/1/2015
            PADDMillionsofBarrelsSold: "12.023"
            PublicationCoveragePeriod: "20150710"
            PADDCode: West Coast
            TotalPercentChangeInThe4WeekAverageFrom52WeeksAgo: "true"
            Sector: Gas
            Period: Week
            TotalBarrelsChangeFromPriorWeek: "1.426"
            PADDPercentChangeInBarrelsFromPriorWeek: "0.021"
            Segment: "true"
            TotalMillionsOfBarrelsSold: "68.313"
            PADDPercentChangeinBarrelsfrom52WeeksAgo: "true"
            AveragePricePerGalRegularGasoline: "true"
            TotalMillionsOfBarrelsDailyAverage: "9.759"
            Country: UK
            SubSector: "true"
            TotalMillionsOfBarrels4WeekAverage: "66.78"
            TotalPercentChangeInBarrelsFromPriorWeek: "0.021"
            ProductLine: US Weekly Gasoline Demand Report
            ReportType: monitor
          - TotalPercentChangeInBarrelsFrom52WeeksAgo: "true"
            WeekEndDate: 5/1/2015
            PADDMillionsofBarrelsSold: "12.023"
            PublicationCoveragePeriod: "20150710"
            PADDCode: West Coast
            TotalPercentChangeInThe4WeekAverageFrom52WeeksAgo: "true"
            Sector: Gas
            Period: Week
            TotalBarrelsChangeFromPriorWeek: "1.426"
            PADDPercentChangeInBarrelsFromPriorWeek: "0.021"
            Segment: "true"
            TotalMillionsOfBarrelsSold: "68.313"
            PADDPercentChangeinBarrelsfrom52WeeksAgo: "true"
            AveragePricePerGalRegularGasoline: "true"
            TotalMillionsOfBarrelsDailyAverage: "9.759"
            Country: UK
            SubSector: "true"
            TotalMillionsOfBarrels4WeekAverage: "66.78"
            TotalPercentChangeInBarrelsFromPriorWeek: "0.021"
            ProductLine: US Weekly Gasoline Demand Report
            ReportType: monitor
        Count: "100"
      properties:
        Count:
          description: Total number of records returned from the query.
          example: "100"
          type: string
        GasWeeklyArray:
          $ref: '#/components/schemas/GasWeeklyArray'
        Message:
          description: Success/Failure.
          example: Success
          type: string
      type: object
    GasWeeklyListResponse:
      example:
        GasWeeklyList:
          Message: Success
          GasWeeklyArray:
            GasWeeklyRecord:
            - TotalPercentChangeInBarrelsFrom52WeeksAgo: "true"
              WeekEndDate: 5/1/2015
              PADDMillionsofBarrelsSold: "12.023"
              PublicationCoveragePeriod: "20150710"
              PADDCode: West Coast
              TotalPercentChangeInThe4WeekAverageFrom52WeeksAgo: "true"
              Sector: Gas
              Period: Week
              TotalBarrelsChangeFromPriorWeek: "1.426"
              PADDPercentChangeInBarrelsFromPriorWeek: "0.021"
              Segment: "true"
              TotalMillionsOfBarrelsSold: "68.313"
              PADDPercentChangeinBarrelsfrom52WeeksAgo: "true"
              AveragePricePerGalRegularGasoline: "true"
              TotalMillionsOfBarrelsDailyAverage: "9.759"
              Country: UK
              SubSector: "true"
              TotalMillionsOfBarrels4WeekAverage: "66.78"
              TotalPercentChangeInBarrelsFromPriorWeek: "0.021"
              ProductLine: US Weekly Gasoline Demand Report
              ReportType: monitor
            - TotalPercentChangeInBarrelsFrom52WeeksAgo: "true"
              WeekEndDate: 5/1/2015
              PADDMillionsofBarrelsSold: "12.023"
              PublicationCoveragePeriod: "20150710"
              PADDCode: West Coast
              TotalPercentChangeInThe4WeekAverageFrom52WeeksAgo: "true"
              Sector: Gas
              Period: Week
              TotalBarrelsChangeFromPriorWeek: "1.426"
              PADDPercentChangeInBarrelsFromPriorWeek: "0.021"
              Segment: "true"
              TotalMillionsOfBarrelsSold: "68.313"
              PADDPercentChangeinBarrelsfrom52WeeksAgo: "true"
              AveragePricePerGalRegularGasoline: "true"
              TotalMillionsOfBarrelsDailyAverage: "9.759"
              Country: UK
              SubSector: "true"
              TotalMillionsOfBarrels4WeekAverage: "66.78"
              TotalPercentChangeInBarrelsFromPriorWeek: "0.021"
              ProductLine: US Weekly Gasoline Demand Report
              ReportType: monitor
          Count: "100"
      properties:
        GasWeeklyList:
          $ref: '#/components/schemas/GasWeeklyList'
      type: object
    GasWeeklyRecord:
      example:
        TotalPercentChangeInBarrelsFrom52WeeksAgo: "true"
        WeekEndDate: 5/1/2015
        PADDMillionsofBarrelsSold: "12.023"
        PublicationCoveragePeriod: "20150710"
        PADDCode: West Coast
        TotalPercentChangeInThe4WeekAverageFrom52WeeksAgo: "true"
        Sector: Gas
        Period: Week
        TotalBarrelsChangeFromPriorWeek: "1.426"
        PADDPercentChangeInBarrelsFromPriorWeek: "0.021"
        Segment: "true"
        TotalMillionsOfBarrelsSold: "68.313"
        PADDPercentChangeinBarrelsfrom52WeeksAgo: "true"
        AveragePricePerGalRegularGasoline: "true"
        TotalMillionsOfBarrelsDailyAverage: "9.759"
        Country: UK
        SubSector: "true"
        TotalMillionsOfBarrels4WeekAverage: "66.78"
        TotalPercentChangeInBarrelsFromPriorWeek: "0.021"
        ProductLine: US Weekly Gasoline Demand Report
        ReportType: monitor
      properties:
        AveragePricePerGalRegularGasoline:
          description: Average price at the pump for all gallons sold during the reporting
            week.
          example: "true"
          type: string
        Country:
          description: Country Code.
          example: UK
          type: string
        PADDCode:
          description: "PADD (Petroleum Administration for Defense Districts) are\
            \ defined by the U.S. Energy Information Administration. The PADD Districts\
            \ are New England, Central Atlantic, Lower Atlantic, Midwest, Gulf Coast,\
            \ Rocky Mountain, West Coast."
          example: West Coast
          type: string
        PADDMillionsofBarrelsSold:
          description: "For the PADD being reported, the estimated number of barrels\
            \ (42 U.S. gallons) of regular motor gasoline (includes all finished motor\
            \ gasoline grades and formulations or blends . It does not contain diesel\
            \ nor aviation fuel.) sold during the week."
          example: "12.023"
          type: string
        PADDPercentChangeInBarrelsFromPriorWeek:
          description: The percent change from one week ago in the PADDMillionsofBarrelsSold.
          example: "0.021"
          type: string
        PADDPercentChangeinBarrelsfrom52WeeksAgo:
          description: The percent change from 52 weeks ago in the PADDMillionsofBarrelsSold.
          example: "true"
          type: string
        Period:
          description: "Indicates the period covered by the data with possible values\
            \ of - day, week, month, quarter, annual"
          example: Week
          type: string
        ProductLine:
          description: "Overall product line that the report belongs to, the only\
            \ report for this resource is US Weekly Gasoline Demand Report."
          example: US Weekly Gasoline Demand Report
          type: string
        PublicationCoveragePeriod:
          description: Publication Coverage Period indicates what period is to be
            covered.  For this report it will include the gasoline week ending date
            which will always be a Friday.
          example: "20150710"
          type: string
        ReportType:
          description: "Report type name, today the only report supported is \"monitor\"\
            ."
          example: monitor
          type: string
        Sector:
          description: Gas
          example: Gas
          type: string
        Segment:
          description: Not used.
          example: "true"
          type: string
        SubSector:
          description: Not used.
          example: "true"
          type: string
        TotalBarrelsChangeFromPriorWeek:
          description: Change in TotalMillionsOfBarrelsSold from one week ago.
          example: "1.426"
          type: string
        TotalMillionsOfBarrels4WeekAverage:
          description: Average millions of barrels of gasoline sold per week during
            the prior 4 weeks.
          example: "66.78"
          type: string
        TotalMillionsOfBarrelsDailyAverage:
          description: Average millions of barrels of gasoline sold per day during
            the week being reported.
          example: "9.759"
          type: string
        TotalMillionsOfBarrelsSold:
          description: Estimated number of barrels (42 U.S. Gallons) of regular motor
            gasoline (includes all finished motor gasoline grades and formulations
            or blends . IT does not contain diesel nor aviation fuel).
          example: "68.313"
          type: string
        TotalPercentChangeInBarrelsFrom52WeeksAgo:
          description: Percent change from 52 weeks ago in the TotalMillionsOfBarrelsSold.
          example: "true"
          type: string
        TotalPercentChangeInBarrelsFromPriorWeek:
          description: Percent change from one week ago in the TotalMillionsOfBarrelsSold.
          example: "0.021"
          type: string
        TotalPercentChangeInThe4WeekAverageFrom52WeeksAgo:
          description: Percent change from 52 weeks ago in the TotalMillionsOfBarrels4WeekAverage.
          example: "true"
          type: string
        WeekEndDate:
          description: End of week date.
          example: 5/1/2015
          type: string
      type: object
    Parameter:
      example:
        PublicationCoveragePeriod: March 2015
        Sector: Petrol
        Country: UK
        Period: Week
        Ecomm: "true"
        ProductLine: US Executive
        ReportType: monitor
      properties:
        Country:
          description: Country Code.
          example: UK
          type: string
        Ecomm:
          description: Ecommerce indicator. "yes" or "no" are the options.
          example: "true"
          type: string
        Period:
          description: "Indicates the period covered by the data with possible values\
            \ of - day, week, month, quarter, annual"
          example: Week
          type: string
        ProductLine:
          description: Product lines available for the consumer ?US Executive Report?
            and/or ?US Weekly Gasoline Report?.
          example: US Executive
          type: string
        PublicationCoveragePeriod:
          description: Publication Coverage Period indicates what period is to be
            covered by the current report.
          example: March 2015
          type: string
        ReportType:
          description: "Report type name, today the only report supported is \"monitor\"\
            ."
          example: monitor
          type: string
        Sector:
          description: Sector name/id.
          example: Petrol
          type: string
      type: object
    ParameterArray:
      example:
        Parameter:
        - PublicationCoveragePeriod: March 2015
          Sector: Petrol
          Country: UK
          Period: Week
          Ecomm: "true"
          ProductLine: US Executive
          ReportType: monitor
        - PublicationCoveragePeriod: March 2015
          Sector: Petrol
          Country: UK
          Period: Week
          Ecomm: "true"
          ProductLine: US Executive
          ReportType: monitor
      properties:
        Parameter:
          items:
            $ref: '#/components/schemas/Parameter'
          type: array
      type: object
    ParameterList:
      example:
        Message: Success
        Count: "100"
        ParameterArray:
          Parameter:
          - PublicationCoveragePeriod: March 2015
            Sector: Petrol
            Country: UK
            Period: Week
            Ecomm: "true"
            ProductLine: US Executive
            ReportType: monitor
          - PublicationCoveragePeriod: March 2015
            Sector: Petrol
            Country: UK
            Period: Week
            Ecomm: "true"
            ProductLine: US Executive
            ReportType: monitor
      properties:
        Count:
          description: Total number of records returned from the query.
          example: "100"
          type: string
        Message:
          description: Success/Failure.
          example: Success
          type: string
        ParameterArray:
          $ref: '#/components/schemas/ParameterArray'
      type: object
    ParameterListResponse:
      example:
        ParameterList:
          Message: Success
          Count: "100"
          ParameterArray:
            Parameter:
            - PublicationCoveragePeriod: March 2015
              Sector: Petrol
              Country: UK
              Period: Week
              Ecomm: "true"
              ProductLine: US Executive
              ReportType: monitor
            - PublicationCoveragePeriod: March 2015
              Sector: Petrol
              Country: UK
              Period: Week
              Ecomm: "true"
              ProductLine: US Executive
              ReportType: monitor
      properties:
        ParameterList:
          $ref: '#/components/schemas/ParameterList'
      type: object
    SpendingPulseArray:
      example:
        SpendingPulseRecord:
        - PublicationCoveragePeriod: March 2015
          SalesValueIndex: "3"
          SalesYearToDateChange: "7"
          PeriodEndDate: 05/31/2015
          Segment: Fine Dining
          SameStoreSalesIndexYearOverYearChange: "16"
          TransactionIndexValue: "12"
          SubGeographyValue: region
          ImpliedDeflatorYearOverYearChange: "1"
          PriceIndexValue: "8"
          PriceAdjustmentFlag: "true"
          ProductLine: US Executive
          ReportType: monitor
          SameStoreSalesIndex3MonthMovingAverageChange: "17"
          TransactionIndexMonthOverMonthChange: "14"
          SeasonalAdjustmentFlag: "true"
          PriceIndexYearOverYearChange: "9"
          Sector: Petrol
          SalesYearOverYearChange: "4"
          Period: Week
          Ecomm: "true"
          PriceIndexMonthOverMonthChange: "10"
          PeriodStartDate: 05/01/2015
          TransactionIndexYearOverYearChange: "13"
          ImpliedDeflatorMonthOverMonthChange: "2"
          PriceIndex3MonthMovingAverageChange: "11"
          CurrencyOfForSalesValue: us dollar
          Country: UK
          SalesMonthOverMonthChange: "5"
          Sales3MonthMovingAverageChange: "6"
          SubSector: Electronics
          ReportingCalender: gregorian
          NonGregorianReportingPeriod: 2015-01
          TransactionIndex3MonthMovingAverageChange: "3"
        - PublicationCoveragePeriod: March 2015
          SalesValueIndex: "3"
          SalesYearToDateChange: "7"
          PeriodEndDate: 05/31/2015
          Segment: Fine Dining
          SameStoreSalesIndexYearOverYearChange: "16"
          TransactionIndexValue: "12"
          SubGeographyValue: region
          ImpliedDeflatorYearOverYearChange: "1"
          PriceIndexValue: "8"
          PriceAdjustmentFlag: "true"
          ProductLine: US Executive
          ReportType: monitor
          SameStoreSalesIndex3MonthMovingAverageChange: "17"
          TransactionIndexMonthOverMonthChange: "14"
          SeasonalAdjustmentFlag: "true"
          PriceIndexYearOverYearChange: "9"
          Sector: Petrol
          SalesYearOverYearChange: "4"
          Period: Week
          Ecomm: "true"
          PriceIndexMonthOverMonthChange: "10"
          PeriodStartDate: 05/01/2015
          TransactionIndexYearOverYearChange: "13"
          ImpliedDeflatorMonthOverMonthChange: "2"
          PriceIndex3MonthMovingAverageChange: "11"
          CurrencyOfForSalesValue: us dollar
          Country: UK
          SalesMonthOverMonthChange: "5"
          Sales3MonthMovingAverageChange: "6"
          SubSector: Electronics
          ReportingCalender: gregorian
          NonGregorianReportingPeriod: 2015-01
          TransactionIndex3MonthMovingAverageChange: "3"
      properties:
        SpendingPulseRecord:
          items:
            $ref: '#/components/schemas/SpendingPulseRecord'
          type: array
      type: object
    SpendingPulseList:
      example:
        Message: Success
        SpendingPulseArray:
          SpendingPulseRecord:
          - PublicationCoveragePeriod: March 2015
            SalesValueIndex: "3"
            SalesYearToDateChange: "7"
            PeriodEndDate: 05/31/2015
            Segment: Fine Dining
            SameStoreSalesIndexYearOverYearChange: "16"
            TransactionIndexValue: "12"
            SubGeographyValue: region
            ImpliedDeflatorYearOverYearChange: "1"
            PriceIndexValue: "8"
            PriceAdjustmentFlag: "true"
            ProductLine: US Executive
            ReportType: monitor
            SameStoreSalesIndex3MonthMovingAverageChange: "17"
            TransactionIndexMonthOverMonthChange: "14"
            SeasonalAdjustmentFlag: "true"
            PriceIndexYearOverYearChange: "9"
            Sector: Petrol
            SalesYearOverYearChange: "4"
            Period: Week
            Ecomm: "true"
            PriceIndexMonthOverMonthChange: "10"
            PeriodStartDate: 05/01/2015
            TransactionIndexYearOverYearChange: "13"
            ImpliedDeflatorMonthOverMonthChange: "2"
            PriceIndex3MonthMovingAverageChange: "11"
            CurrencyOfForSalesValue: us dollar
            Country: UK
            SalesMonthOverMonthChange: "5"
            Sales3MonthMovingAverageChange: "6"
            SubSector: Electronics
            ReportingCalender: gregorian
            NonGregorianReportingPeriod: 2015-01
            TransactionIndex3MonthMovingAverageChange: "3"
          - PublicationCoveragePeriod: March 2015
            SalesValueIndex: "3"
            SalesYearToDateChange: "7"
            PeriodEndDate: 05/31/2015
            Segment: Fine Dining
            SameStoreSalesIndexYearOverYearChange: "16"
            TransactionIndexValue: "12"
            SubGeographyValue: region
            ImpliedDeflatorYearOverYearChange: "1"
            PriceIndexValue: "8"
            PriceAdjustmentFlag: "true"
            ProductLine: US Executive
            ReportType: monitor
            SameStoreSalesIndex3MonthMovingAverageChange: "17"
            TransactionIndexMonthOverMonthChange: "14"
            SeasonalAdjustmentFlag: "true"
            PriceIndexYearOverYearChange: "9"
            Sector: Petrol
            SalesYearOverYearChange: "4"
            Period: Week
            Ecomm: "true"
            PriceIndexMonthOverMonthChange: "10"
            PeriodStartDate: 05/01/2015
            TransactionIndexYearOverYearChange: "13"
            ImpliedDeflatorMonthOverMonthChange: "2"
            PriceIndex3MonthMovingAverageChange: "11"
            CurrencyOfForSalesValue: us dollar
            Country: UK
            SalesMonthOverMonthChange: "5"
            Sales3MonthMovingAverageChange: "6"
            SubSector: Electronics
            ReportingCalender: gregorian
            NonGregorianReportingPeriod: 2015-01
            TransactionIndex3MonthMovingAverageChange: "3"
        Count: "100"
      properties:
        Count:
          description: Total number of records returned from the query.
          example: "100"
          type: string
        Message:
          description: Success/Failure.
          example: Success
          type: string
        SpendingPulseArray:
          $ref: '#/components/schemas/SpendingPulseArray'
      type: object
    SpendingPulseListResponse:
      example:
        SpendingPulseList:
          Message: Success
          SpendingPulseArray:
            SpendingPulseRecord:
            - PublicationCoveragePeriod: March 2015
              SalesValueIndex: "3"
              SalesYearToDateChange: "7"
              PeriodEndDate: 05/31/2015
              Segment: Fine Dining
              SameStoreSalesIndexYearOverYearChange: "16"
              TransactionIndexValue: "12"
              SubGeographyValue: region
              ImpliedDeflatorYearOverYearChange: "1"
              PriceIndexValue: "8"
              PriceAdjustmentFlag: "true"
              ProductLine: US Executive
              ReportType: monitor
              SameStoreSalesIndex3MonthMovingAverageChange: "17"
              TransactionIndexMonthOverMonthChange: "14"
              SeasonalAdjustmentFlag: "true"
              PriceIndexYearOverYearChange: "9"
              Sector: Petrol
              SalesYearOverYearChange: "4"
              Period: Week
              Ecomm: "true"
              PriceIndexMonthOverMonthChange: "10"
              PeriodStartDate: 05/01/2015
              TransactionIndexYearOverYearChange: "13"
              ImpliedDeflatorMonthOverMonthChange: "2"
              PriceIndex3MonthMovingAverageChange: "11"
              CurrencyOfForSalesValue: us dollar
              Country: UK
              SalesMonthOverMonthChange: "5"
              Sales3MonthMovingAverageChange: "6"
              SubSector: Electronics
              ReportingCalender: gregorian
              NonGregorianReportingPeriod: 2015-01
              TransactionIndex3MonthMovingAverageChange: "3"
            - PublicationCoveragePeriod: March 2015
              SalesValueIndex: "3"
              SalesYearToDateChange: "7"
              PeriodEndDate: 05/31/2015
              Segment: Fine Dining
              SameStoreSalesIndexYearOverYearChange: "16"
              TransactionIndexValue: "12"
              SubGeographyValue: region
              ImpliedDeflatorYearOverYearChange: "1"
              PriceIndexValue: "8"
              PriceAdjustmentFlag: "true"
              ProductLine: US Executive
              ReportType: monitor
              SameStoreSalesIndex3MonthMovingAverageChange: "17"
              TransactionIndexMonthOverMonthChange: "14"
              SeasonalAdjustmentFlag: "true"
              PriceIndexYearOverYearChange: "9"
              Sector: Petrol
              SalesYearOverYearChange: "4"
              Period: Week
              Ecomm: "true"
              PriceIndexMonthOverMonthChange: "10"
              PeriodStartDate: 05/01/2015
              TransactionIndexYearOverYearChange: "13"
              ImpliedDeflatorMonthOverMonthChange: "2"
              PriceIndex3MonthMovingAverageChange: "11"
              CurrencyOfForSalesValue: us dollar
              Country: UK
              SalesMonthOverMonthChange: "5"
              Sales3MonthMovingAverageChange: "6"
              SubSector: Electronics
              ReportingCalender: gregorian
              NonGregorianReportingPeriod: 2015-01
              TransactionIndex3MonthMovingAverageChange: "3"
          Count: "100"
      properties:
        SpendingPulseList:
          $ref: '#/components/schemas/SpendingPulseList'
      type: object
    SpendingPulseRecord:
      example:
        PublicationCoveragePeriod: March 2015
        SalesValueIndex: "3"
        SalesYearToDateChange: "7"
        PeriodEndDate: 05/31/2015
        Segment: Fine Dining
        SameStoreSalesIndexYearOverYearChange: "16"
        TransactionIndexValue: "12"
        SubGeographyValue: region
        ImpliedDeflatorYearOverYearChange: "1"
        PriceIndexValue: "8"
        PriceAdjustmentFlag: "true"
        ProductLine: US Executive
        ReportType: monitor
        SameStoreSalesIndex3MonthMovingAverageChange: "17"
        TransactionIndexMonthOverMonthChange: "14"
        SeasonalAdjustmentFlag: "true"
        PriceIndexYearOverYearChange: "9"
        Sector: Petrol
        SalesYearOverYearChange: "4"
        Period: Week
        Ecomm: "true"
        PriceIndexMonthOverMonthChange: "10"
        PeriodStartDate: 05/01/2015
        TransactionIndexYearOverYearChange: "13"
        ImpliedDeflatorMonthOverMonthChange: "2"
        PriceIndex3MonthMovingAverageChange: "11"
        CurrencyOfForSalesValue: us dollar
        Country: UK
        SalesMonthOverMonthChange: "5"
        Sales3MonthMovingAverageChange: "6"
        SubSector: Electronics
        ReportingCalender: gregorian
        NonGregorianReportingPeriod: 2015-01
        TransactionIndex3MonthMovingAverageChange: "3"
      properties:
        Country:
          description: Country Code.
          example: UK
          type: string
        CurrencyOfForSalesValue:
          description: "A value to indicate the currency in which the sales value\
            \ is being reported. For sales index values, this field is not used."
          example: us dollar
          type: string
        Ecomm:
          description: Ecommerce indicator. "yes" or "no" are the options.
          example: "true"
          type: string
        ImpliedDeflatorMonthOverMonthChange:
          description: Percent change from one month ago in the implied deflator (the
            deflator is used in seasonal adjustment calculation).
          example: "2"
          type: string
        ImpliedDeflatorYearOverYearChange:
          description: Percent change from one year ago in the implied deflator (the
            deflator is used in seasonal adjustment calculation).
          example: "1"
          type: string
        NonGregorianReportingPeriod:
          description: "For only those data reported by a non-Gregorian calendar (e.g.\
            \ US Sectors which are reported based on the National Retail Federation\
            \ 4-5-4 calendar) this value designates the retail period being reported.\
            \ As an example, for the US apparel sector, for Period Date = February\
            \ 2015, the reporting period is 2015-01 (February is the first month of\
            \ US retail year 2015)."
          example: 2015-01
          type: string
        Period:
          description: "Indicates the period covered by the data with possible values\
            \ of - day, week, month, quarter, annual"
          example: Week
          type: string
        PeriodEndDate:
          description: Date indicating the end of the period covered by ensuing data.
          example: 05/31/2015
          type: string
        PeriodStartDate:
          description: Date indicating the beginning of the period covered by ensuing
            data.
          example: 05/01/2015
          type: string
        PriceAdjustmentFlag:
          description: Price adjustment indicator.
          example: "true"
          type: string
        PriceIndex3MonthMovingAverageChange:
          description: Percent change from one year ago in the three-month moving
            PriceIndexValue average.
          example: "11"
          type: string
        PriceIndexMonthOverMonthChange:
          description: Percent change from one month ago in the PriceIndexValue.
          example: "10"
          type: string
        PriceIndexValue:
          description: Published price index value for the period being reported.
            Not a currency value - a decimal index value. The price index takes into
            account both the average ticket value and the size of the basket. Changes
            in either will be reflected in the price index changes.
          example: "8"
          type: string
        PriceIndexYearOverYearChange:
          description: Percent change from one year ago in the PriceIndexValue.
          example: "9"
          type: string
        ProductLine:
          description: "Product line, either for this resource it will be ?US Executive\"\
            ."
          example: US Executive
          type: string
        PublicationCoveragePeriod:
          description: "Publication Coverage Period indicates what period is to be\
            \ covered, often the current report will include the month prior."
          example: March 2015
          type: string
        ReportType:
          description: "Report type name, today the only report supported is \"monitor\"\
            ."
          example: monitor
          type: string
        ReportingCalender:
          description: "Value indicates calendar used for periodic aggregation (e.g.\
            \ \"G\" = Gregorian, \"454\" = US Retail, \"445\" = UK ONS, etc.) Please\
            \ note that some data are reported under more than one calendar. As a\
            \ result, in order to uniquely identify the data being reported, the reporting\
            \ calendar must be included."
          example: gregorian
          type: string
        Sales3MonthMovingAverageChange:
          description: Percent change from one year ago in the three-month moving
            SalesIndexValue average.
          example: "6"
          type: string
        SalesMonthOverMonthChange:
          description: Percent change from one month ago in the SalesValueIndex.
          example: "5"
          type: string
        SalesValueIndex:
          description: "Aggregated/computed value of sales for the period being reported.\
            \ This may be an index value (not a currency value - just a decimal value)\
            \ or it may be a currency value that would typically be in local currency\
            \ (dollar, pound, yen, etc.)"
          example: "3"
          type: string
        SalesYearOverYearChange:
          description: Percent change from one year ago in the SalesValueIndex.
          example: "4"
          type: string
        SalesYearToDateChange:
          description: Percent change from year ago.
          example: "7"
          type: string
        SameStoreSalesIndex3MonthMovingAverageChange:
          description: Percent change from one month ago in the SameStoreSalesIndex.
          example: "17"
          type: string
        SameStoreSalesIndexYearOverYearChange:
          description: Percent change from one year ago in the SameStoreSalesIndex.
          example: "16"
          type: string
        SeasonalAdjustmentFlag:
          description: Seasonal data adjustment indicator.
          example: "true"
          type: string
        Sector:
          description: Sector name/id.
          example: Petrol
          type: string
        Segment:
          description: Sub unit within a sector e.g. Sector = restaurant; SubSector
            = Full Service; Segment = Fine Dining.
          example: Fine Dining
          type: string
        SubGeographyValue:
          description: "For those data reported by sub-geographies (e.g. regions,\
            \ states, etc.) the sub-geography being reported."
          example: region
          type: string
        SubSector:
          description: Sub unit within a sector e.g. Sector = Electronics & Appliances;
            SubSector = Electronics.
          example: Electronics
          type: string
        TransactionIndex3MonthMovingAverageChange:
          description: Percent change from one year ago in the three-month moving
            TransactionIndexValue average.
          example: "3"
          type: string
        TransactionIndexMonthOverMonthChange:
          description: Percent change from one month ago in the TransactionIndexValue.
          example: "14"
          type: string
        TransactionIndexValue:
          description: Published transaction index value for the period being reported.
            Not a currency value - a decimal index value. The transaction index is
            a relative indication of transactions volume in the sector/sub-sector/segment
            being reported.
          example: "12"
          type: string
        TransactionIndexYearOverYearChange:
          description: Percent change from one year ago in the TransactionIndexValue.
          example: "13"
          type: string
      type: object
    Subscription:
      example:
        Sector: Sporting Goods
        Country: UK
        Period: Week
        Ecomm: "true"
        ReportType: monitor
      properties:
        Country:
          description: Country Code.
          example: UK
          type: string
        Ecomm:
          description: Ecommerce indicator. "yes" or "no" are the options.
          example: "true"
          type: string
        Period:
          description: "Indicates the period covered by the data with possible values\
            \ of - day, week, month, quarter, annual"
          example: Week
          type: string
        ReportType:
          description: "Report type name, today the only report supported is \"monitor\"\
            ."
          example: monitor
          type: string
        Sector:
          description: Sector name.
          example: Sporting Goods
          type: string
      type: object
    SubscriptionArray:
      example:
        Subscription:
        - Sector: Sporting Goods
          Country: UK
          Period: Week
          Ecomm: "true"
          ReportType: monitor
        - Sector: Sporting Goods
          Country: UK
          Period: Week
          Ecomm: "true"
          ReportType: monitor
      properties:
        Subscription:
          items:
            $ref: '#/components/schemas/Subscription'
          type: array
      type: object
    SubscriptionList:
      example:
        Message: Success
        Count: "100"
        SubscriptionArray:
          Subscription:
          - Sector: Sporting Goods
            Country: UK
            Period: Week
            Ecomm: "true"
            ReportType: monitor
          - Sector: Sporting Goods
            Country: UK
            Period: Week
            Ecomm: "true"
            ReportType: monitor
      properties:
        Count:
          description: Total number of records returned from the query.
          example: "100"
          type: string
        Message:
          description: Success/Failure
          example: Success
          type: string
        SubscriptionArray:
          $ref: '#/components/schemas/SubscriptionArray'
      type: object
    SubscriptionListResponse:
      example:
        SubscriptionList:
          Message: Success
          Count: "100"
          SubscriptionArray:
            Subscription:
            - Sector: Sporting Goods
              Country: UK
              Period: Week
              Ecomm: "true"
              ReportType: monitor
            - Sector: Sporting Goods
              Country: UK
              Period: Week
              Ecomm: "true"
              ReportType: monitor
      properties:
        SubscriptionList:
          $ref: '#/components/schemas/SubscriptionList'
      type: object
x-original-swagger-version: "2.0"

