openapi: 3.0.1
info:
  description: Azure Cosmos DB Database Service Resource Provider REST API
  title: Cosmos DB
  version: 2019-12-12
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2019-12-12/cosmos-db.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: cosmos-db
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.DocumentDB/databaseAccountNames/{accountName}:
    head:
      description: "Checks that the Azure Cosmos DB account name already exists. A\
        \ valid account name may contain only lowercase letters, numbers, and the\
        \ '-' character, and must be between 3 and 50 characters."
      operationId: database_accounts_check_name_exists
      parameters:
      - description: Cosmos DB database account name.
        in: path
        name: accountName
        required: true
        schema:
          maxLength: 50
          minLength: 3
          pattern: "^[a-z0-9]+(-[a-z0-9]+)*"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request. The current
          version is 2019-08-01.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK. The account name is valid but is already in use.
        "404":
          content: {}
          description: Not Found. The account name is available and valid.
      x-ms-examples:
        CosmosDBDatabaseAccountCheckNameExists:
          parameters:
            accountName: ddb1
            api-version: 2019-12-12
          responses:
            "200": {}
            "404": {}
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /providers/Microsoft.DocumentDB/operations:
    get:
      description: Lists all of the available Cosmos DB Resource Provider operations.
      operationId: operations_list
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2019-08-01.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
          description: OK
      tags:
      - Operations
      x-ms-examples:
        CosmosDBOperationsList:
          parameters:
            api-version: 2019-12-12
          responses:
            "200":
              body:
                value:
                - display:
                    Description: description
                    Operation: operationName
                    Provider: providerName
                    Resource: resourceName
                  name: operationName
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.operations_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.DocumentDB/databaseAccounts:
    get:
      description: Lists all the Azure Cosmos DB database accounts available under
        the subscription.
      operationId: database_accounts_list
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2019-08-01.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatabaseAccountsListResult'
          description: The operation completed successfully.
      x-ms-examples:
        CosmosDBDatabaseAccountList:
          parameters:
            api-version: 2019-12-12
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.DocumentDB/databaseAccounts/ddb1
                  kind: GlobalDocumentDB
                  location: West US
                  name: ddb1
                  properties:
                    consistencyPolicy:
                      defaultConsistencyLevel: Session
                      maxIntervalInSeconds: 5
                      maxStalenessPrefix: 100
                    databaseAccountOfferType: Standard
                    disableKeyBasedMetadataWriteAccess: false
                    documentEndpoint: https://ddb1.documents.azure.com:443/
                    failoverPolicies:
                    - failoverPriority: 0
                      id: ddb1-eastus
                      locationName: East US
                    ipRangeFilter: ""
                    locations:
                    - documentEndpoint: https://ddb1-eastus.documents.azure.com:443/
                      failoverPriority: 0
                      id: ddb1-eastus
                      locationName: East US
                      provisioningState: Succeeded
                    provisioningState: Succeeded
                    readLocations:
                    - documentEndpoint: https://ddb1-eastus.documents.azure.com:443/
                      failoverPriority: 0
                      id: ddb1-eastus
                      locationName: East US
                      provisioningState: Succeeded
                    writeLocations:
                    - documentEndpoint: https://ddb1-eastus.documents.azure.com:443/
                      failoverPriority: 0
                      id: ddb1-eastus
                      locationName: East US
                      provisioningState: Succeeded
                  tags: {}
                  type: Microsoft.DocumentDB/databaseAccounts
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts:
    get:
      description: Lists all the Azure Cosmos DB database accounts available under
        the given resource group.
      operationId: database_accounts_list_by_resource_group
      parameters:
      - description: Name of an Azure resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request. The current
          version is 2019-08-01.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatabaseAccountsListResult'
          description: The operation completed successfully.
      x-ms-examples:
        CosmosDBDatabaseAccountListByResourceGroup:
          parameters:
            api-version: 2019-12-12
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.DocumentDB/databaseAccounts/ddb1
                  kind: GlobalDocumentDB
                  location: West US
                  name: ddb1
                  properties:
                    consistencyPolicy:
                      defaultConsistencyLevel: Session
                      maxIntervalInSeconds: 5
                      maxStalenessPrefix: 100
                    databaseAccountOfferType: Standard
                    disableKeyBasedMetadataWriteAccess: false
                    documentEndpoint: https://ddb1.documents.azure.com:443/
                    failoverPolicies:
                    - failoverPriority: 0
                      id: ddb1-eastus
                      locationName: East US
                    ipRangeFilter: ""
                    locations:
                    - documentEndpoint: https://ddb1-eastus.documents.azure.com:443/
                      failoverPriority: 0
                      id: ddb1-eastus
                      locationName: East US
                      provisioningState: Succeeded
                    provisioningState: Succeeded
                    readLocations:
                    - documentEndpoint: https://ddb1-eastus.documents.azure.com:443/
                      failoverPriority: 0
                      id: ddb1-eastus
                      locationName: East US
                      provisioningState: Succeeded
                    writeLocations:
                    - documentEndpoint: https://ddb1-eastus.documents.azure.com:443/
                      failoverPriority: 0
                      id: ddb1-eastus
                      locationName: East US
                      provisioningState: Succeeded
                  tags: {}
                  type: Microsoft.DocumentDB/databaseAccounts
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.default_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}
  : delete:
      description: Deletes an existing Azure Cosmos DB database account.
      operationId: database_accounts_delete
      parameters:
      - description: Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Name of an Azure resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB database account name.
        in: path
        name: account_name
        required: true
        schema:
          maxLength: 50
          minLength: 3
          pattern: "^[a-z0-9]+(-[a-z0-9]+)*"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request. The current
          version is 2019-08-01.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "202":
          content: {}
          description: The database account delete operation will complete asynchronously.
        "204":
          content: {}
          description: The specified account does not exist in the subscription.
      x-ms-examples:
        CosmosDBDatabaseAccountDelete:
          parameters:
            accountName: ddb1
            api-version: 2019-12-12
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.default_controller
    get:
      description: Retrieves the properties of an existing Azure Cosmos DB database
        account.
      operationId: database_accounts_get
      parameters:
      - description: Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Name of an Azure resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB database account name.
        in: path
        name: account_name
        required: true
        schema:
          maxLength: 50
          minLength: 3
          pattern: "^[a-z0-9]+(-[a-z0-9]+)*"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request. The current
          version is 2019-08-01.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatabaseAccountGetResults'
          description: The database account properties were retrieved successfully.
      x-ms-examples:
        CosmosDBDatabaseAccountGet:
          parameters:
            accountName: ddb1
            api-version: 2019-12-12
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.DocumentDB/databaseAccounts/ddb1
                kind: GlobalDocumentDB
                location: West US
                name: ddb1
                properties:
                  consistencyPolicy:
                    defaultConsistencyLevel: Session
                    maxIntervalInSeconds: 5
                    maxStalenessPrefix: 100
                  databaseAccountOfferType: Standard
                  disableKeyBasedMetadataWriteAccess: false
                  documentEndpoint: https://ddb1.documents.azure.com:443/
                  failoverPolicies:
                  - failoverPriority: 0
                    id: ddb1-eastus
                    locationName: East US
                  ipRangeFilter: ""
                  isVirtualNetworkFilterEnabled: false
                  locations:
                  - documentEndpoint: https://ddb1-eastus.documents.azure.com:443/
                    failoverPriority: 0
                    id: ddb1-eastus
                    locationName: East US
                    provisioningState: Succeeded
                  provisioningState: Succeeded
                  readLocations:
                  - documentEndpoint: https://ddb1-eastus.documents.azure.com:443/
                    failoverPriority: 0
                    id: ddb1-eastus
                    locationName: East US
                    provisioningState: Succeeded
                  virtualNetworkRules: []
                  writeLocations:
                  - documentEndpoint: https://ddb1-eastus.documents.azure.com:443/
                    failoverPriority: 0
                    id: ddb1-eastus
                    locationName: East US
                    provisioningState: Succeeded
                tags: {}
                type: Microsoft.DocumentDB/databaseAccounts
      x-openapi-router-controller: openapi_server.controllers.default_controller
    patch:
      description: Updates the properties of an existing Azure Cosmos DB database
        account.
      operationId: database_accounts_update
      parameters:
      - description: Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Name of an Azure resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB database account name.
        in: path
        name: account_name
        required: true
        schema:
          maxLength: 50
          minLength: 3
          pattern: "^[a-z0-9]+(-[a-z0-9]+)*"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request. The current
          version is 2019-08-01.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DatabaseAccountUpdateParameters'
        description: The parameters to provide for the current database account.
        required: true
        x-body-name: updateParameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatabaseAccountGetResults'
          description: The database account update operation will complete asynchronously.
      x-ms-examples:
        CosmosDBDatabaseAccountPatch:
          parameters:
            accountName: ddb1
            api-version: 2019-12-12
            resourceGroupName: rg1
            subscriptionId: subid
            updateParameters:
              location: westus
              properties:
                consistencyPolicy:
                  defaultConsistencyLevel: BoundedStaleness
                  maxIntervalInSeconds: 10
                  maxStalenessPrefix: 200
                ipRangeFilter: 10.10.10.10
                isVirtualNetworkFilterEnabled: true
                virtualNetworkRules:
                - id: /subscriptions/subId/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet1
                  ignoreMissingVNetServiceEndpoint: false
              tags:
                dept: finance
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.DocumentDB/databaseAccounts/ddb1
                kind: GlobalDocumentDB
                location: West US
                name: ddb1
                properties:
                  consistencyPolicy:
                    defaultConsistencyLevel: BoundedStaleness
                    maxIntervalInSeconds: 10
                    maxStalenessPrefix: 200
                  databaseAccountOfferType: Standard
                  disableKeyBasedMetadataWriteAccess: false
                  documentEndpoint: https://ddb1.documents.azure.com:443/
                  failoverPolicies:
                  - failoverPriority: 0
                    id: ddb1-eastus
                    locationName: East US
                  ipRangeFilter: 10.10.10.10
                  isVirtualNetworkFilterEnabled: true
                  locations:
                  - documentEndpoint: https://ddb1-eastus.documents.azure.com:443/
                    failoverPriority: 0
                    id: ddb1-eastus
                    locationName: East US
                    provisioningState: Succeeded
                  provisioningState: Succeeded
                  readLocations:
                  - documentEndpoint: https://ddb1-eastus.documents.azure.com:443/
                    failoverPriority: 0
                    id: ddb1-eastus
                    locationName: East US
                    provisioningState: Succeeded
                  virtualNetworkRules:
                  - id: /subscriptions/subId/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet1
                    ignoreMissingVNetServiceEndpoint: false
                  writeLocations:
                  - documentEndpoint: https://ddb1-eastus.documents.azure.com:443/
                    failoverPriority: 0
                    id: ddb1-eastus
                    locationName: East US
                    provisioningState: Succeeded
                tags:
                  dept: finance
                type: Microsoft.DocumentDB/databaseAccounts
      x-ms-long-running-operation: true
      x-codegen-request-body-name: updateParameters
      x-openapi-router-controller: openapi_server.controllers.default_controller
    put:
      description: Creates or updates an Azure Cosmos DB database account. The "Update"
        method is preferred when performing updates on an account.
      operationId: database_accounts_create_or_update
      parameters:
      - description: Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Name of an Azure resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB database account name.
        in: path
        name: account_name
        required: true
        schema:
          maxLength: 50
          minLength: 3
          pattern: "^[a-z0-9]+(-[a-z0-9]+)*"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request. The current
          version is 2019-08-01.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DatabaseAccountCreateUpdateParameters'
        description: The parameters to provide for the current database account.
        required: true
        x-body-name: createUpdateParameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatabaseAccountGetResults'
          description: The database account create or update operation will complete
            asynchronously.
      x-ms-examples:
        CosmosDBDatabaseAccountCreateMax:
          parameters:
            accountName: ddb1
            api-version: 2019-12-12
            createUpdateParameters:
              kind: GlobalDocumentDB
              location: westus
              properties:
                consistencyPolicy:
                  defaultConsistencyLevel: BoundedStaleness
                  maxIntervalInSeconds: 10
                  maxStalenessPrefix: 200
                databaseAccountOfferType: Standard
                ipRangeFilter: 10.10.10.10
                isVirtualNetworkFilterEnabled: true
                keyVaultKeyUri: https://myKeyVault.vault.azure.net
                locations:
                - failoverPriority: 0
                  isZoneRedundant: false
                  locationName: southcentralus
                - failoverPriority: 1
                  isZoneRedundant: false
                  locationName: eastus
                virtualNetworkRules:
                - id: /subscriptions/subId/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet1
                  ignoreMissingVNetServiceEndpoint: false
              tags: {}
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.DocumentDB/databaseAccounts/ddb1
                kind: GlobalDocumentDB
                location: West US
                name: ddb1
                properties:
                  consistencyPolicy:
                    defaultConsistencyLevel: BoundedStaleness
                    maxIntervalInSeconds: 10
                    maxStalenessPrefix: 200
                  databaseAccountOfferType: Standard
                  disableKeyBasedMetadataWriteAccess: false
                  failoverPolicies:
                  - failoverPriority: 0
                    id: ddb1-southcentralus
                    locationName: South Central US
                  - failoverPriority: 1
                    id: ddb1-eastus
                    locationName: East US
                  ipRangeFilter: 10.10.10.10
                  isVirtualNetworkFilterEnabled: true
                  keyVaultKeyUri: https://myKeyVault.vault.azure.net
                  locations:
                  - failoverPriority: 0
                    id: ddb1-southcentralus
                    isZoneRedundant: false
                    locationName: South Central US
                    provisioningState: Initializing
                  - failoverPriority: 1
                    id: ddb1-eastus
                    isZoneRedundant: false
                    locationName: East US
                    provisioningState: Initializing
                  provisioningState: Initializing
                  readLocations:
                  - failoverPriority: 0
                    id: ddb1-southcentralus
                    isZoneRedundant: false
                    locationName: South Central US
                    provisioningState: Initializing
                  - failoverPriority: 1
                    id: ddb1-eastus
                    isZoneRedundant: false
                    locationName: East US
                    provisioningState: Initializing
                  virtualNetworkRules:
                  - id: /subscriptions/subId/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet1
                  writeLocations:
                  - failoverPriority: 0
                    id: ddb1-southcentralus
                    isZoneRedundant: false
                    locationName: South Central US
                    provisioningState: Initializing
                tags: {}
                type: Microsoft.DocumentDB/databaseAccounts
        CosmosDBDatabaseAccountCreateMin:
          parameters:
            accountName: ddb1
            api-version: 2019-12-12
            createUpdateParameters:
              location: westus
              properties:
                databaseAccountOfferType: Standard
                locations:
                - failoverPriority: 0
                  isZoneRedundant: false
                  locationName: southcentralus
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.DocumentDB/databaseAccounts/ddb1
                kind: GlobalDocumentDB
                location: West US
                name: ddb1
                properties:
                  consistencyPolicy:
                    defaultConsistencyLevel: Session
                    maxIntervalInSeconds: 5
                    maxStalenessPrefix: 100
                  databaseAccountOfferType: Standard
                  disableKeyBasedMetadataWriteAccess: false
                  failoverPolicies:
                  - failoverPriority: 0
                    id: ddb1-southcentralus
                    locationName: South Central US
                  ipRangeFilter: ""
                  locations:
                  - failoverPriority: 0
                    id: ddb1-southcentralus
                    isZoneRedundant: false
                    locationName: South Central US
                    provisioningState: Initializing
                  provisioningState: Initializing
                  readLocations:
                  - failoverPriority: 0
                    id: ddb1-southcentralus
                    isZoneRedundant: false
                    locationName: South Central US
                    provisioningState: Initializing
                  writeLocations:
                  - failoverPriority: 0
                    id: ddb1-southcentralus
                    isZoneRedundant: false
                    locationName: South Central US
                    provisioningState: Initializing
                tags: {}
                type: Microsoft.DocumentDB/databaseAccounts
      x-ms-long-running-operation: true
      x-codegen-request-body-name: createUpdateParameters
      x-openapi-router-controller: openapi_server.controllers.default_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/cassandraKeyspaces
  : get:
      description: Lists the Cassandra keyspaces under an existing Azure Cosmos DB
        database account.
      operationId: cassandra_resources_list_cassandra_keyspaces
      parameters:
      - description: Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Name of an Azure resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB database account name.
        in: path
        name: account_name
        required: true
        schema:
          maxLength: 50
          minLength: 3
          pattern: "^[a-z0-9]+(-[a-z0-9]+)*"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request. The current
          version is 2019-08-01.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CassandraKeyspaceListResult'
          description: The Cassandra keyspace properties were retrieved successfully.
      x-ms-examples:
        CosmosDBCassandraKeyspaceList:
          parameters:
            accountName: ddb1
            api-version: 2019-12-12
            resourceGroupName: rgName
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.DocumentDB/databaseAccounts/ddb1/cassandraKeyspaces/keyspaceName
                  location: West US
                  name: keyspaceName
                  properties:
                    resource:
                      id: keyspaceName
                  tags: {}
                  type: Microsoft.DocumentDB/databaseAccounts/cassandraKeyspaces
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.default_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/cassandraKeyspaces/{keyspaceName}
  : delete:
      description: Deletes an existing Azure Cosmos DB Cassandra keyspace.
      operationId: cassandra_resources_delete_cassandra_keyspace
      parameters:
      - description: Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Name of an Azure resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB database account name.
        in: path
        name: account_name
        required: true
        schema:
          maxLength: 50
          minLength: 3
          pattern: "^[a-z0-9]+(-[a-z0-9]+)*"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB keyspace name.
        in: path
        name: keyspace_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request. The current
          version is 2019-08-01.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "202":
          content: {}
          description: The Cassandra keyspace delete operation will complete asynchronously.
        "204":
          content: {}
          description: The Cassandra keyspace delete operation was completed successfully.
      x-ms-examples:
        CosmosDBCassandraKeyspaceDelete:
          parameters:
            accountName: ddb1
            api-version: 2019-12-12
            keyspaceName: keyspaceName
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.default_controller
    get:
      description: Gets the Cassandra keyspaces under an existing Azure Cosmos DB
        database account with the provided name.
      operationId: cassandra_resources_get_cassandra_keyspace
      parameters:
      - description: Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Name of an Azure resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB database account name.
        in: path
        name: account_name
        required: true
        schema:
          maxLength: 50
          minLength: 3
          pattern: "^[a-z0-9]+(-[a-z0-9]+)*"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB keyspace name.
        in: path
        name: keyspaceName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request. The current
          version is 2019-08-01.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CassandraKeyspaceGetResults'
          description: The Cassandra keyspace property was retrieved successfully.
      x-ms-examples:
        CosmosDBCassandraKeyspaceGet:
          parameters:
            accountName: ddb1
            api-version: 2019-12-12
            keyspaceName: keyspaceName
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.DocumentDB/databaseAccounts/ddb1/cassandraKeyspaces/keyspaceName
                location: West US
                name: keyspaceName
                properties:
                  resource:
                    _etag: '"00005900-0000-0000-0000-56f9a2630000"'
                    _rid: PD5DALigDgw=
                    _ts: 1459200611
                    id: keyspaceName
                tags: {}
                type: Microsoft.DocumentDB/databaseAccounts/cassandraKeyspaces
      x-openapi-router-controller: openapi_server.controllers.default_controller
    put:
      description: Create or update an Azure Cosmos DB Cassandra keyspace
      operationId: cassandra_resources_create_update_cassandra_keyspace
      parameters:
      - description: Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Name of an Azure resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB database account name.
        in: path
        name: account_name
        required: true
        schema:
          maxLength: 50
          minLength: 3
          pattern: "^[a-z0-9]+(-[a-z0-9]+)*"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB keyspace name.
        in: path
        name: keyspace_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request. The current
          version is 2019-08-01.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CassandraKeyspaceCreateUpdateParameters'
        description: The parameters to provide for the current Cassandra keyspace.
        required: true
        x-body-name: createUpdateCassandraKeyspaceParameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CassandraKeyspaceGetResults'
          description: The Cassandra keyspace create or update operation was completed
            successfully.
        "202":
          content: {}
          description: The Cassandra keyspace create or update operation will complete
            asynchronously.
      x-ms-examples:
        CosmosDBCassandraKeyspaceCreateUpdate:
          parameters:
            accountName: ddb1
            api-version: 2019-12-12
            createUpdateCassandraKeyspaceParameters:
              location: West US
              properties:
                options: {}
                resource:
                  id: keyspaceName
              tags: {}
            keyspaceName: keyspaceName
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.DocumentDB/databaseAccounts/ddb1/cassandraKeyspaces/keyspaceName
                location: West US
                name: keyspaceName
                properties:
                  resource:
                    id: keyspaceName
                tags: {}
                type: Microsoft.DocumentDB/databaseAccounts/cassandraKeyspaces
            "202": {}
      x-ms-long-running-operation: true
      x-codegen-request-body-name: createUpdateCassandraKeyspaceParameters
      x-openapi-router-controller: openapi_server.controllers.default_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/cassandraKeyspaces/{keyspaceName}/tables
  : get:
      description: Lists the Cassandra table under an existing Azure Cosmos DB database
        account.
      operationId: cassandra_resources_list_cassandra_tables
      parameters:
      - description: Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Name of an Azure resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB database account name.
        in: path
        name: account_name
        required: true
        schema:
          maxLength: 50
          minLength: 3
          pattern: "^[a-z0-9]+(-[a-z0-9]+)*"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB keyspace name.
        in: path
        name: keyspace_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request. The current
          version is 2019-08-01.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CassandraTableListResult'
          description: The Cassandra table properties were retrieved successfully.
      x-ms-examples:
        CosmosDBCassandraTableList:
          parameters:
            accountName: ddb1
            api-version: 2019-12-12
            keyspaceName: keyspaceName
            resourceGroupName: rgName
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.DocumentDB/databaseAccounts/ddb1/cassandraKeyspaces/keyspaceName/cassandraTables/tableName
                  location: West US
                  name: tableName
                  properties:
                    resource:
                      defaultTtl: 100
                      id: tableName
                      schema:
                        clusterKeys:
                        - name: columnA
                          orderBy: Asc
                        columns:
                        - name: columnA
                          type: Ascii
                        partitionKeys:
                        - name: columnA
                  tags: {}
                  type: Microsoft.DocumentDB/databaseAccounts/cassandraKeyspaces/cassandraTables
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.default_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/cassandraKeyspaces/{keyspaceName}/tables/{tableName}
  : delete:
      description: Deletes an existing Azure Cosmos DB Cassandra table.
      operationId: cassandra_resources_delete_cassandra_table
      parameters:
      - description: Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Name of an Azure resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB database account name.
        in: path
        name: account_name
        required: true
        schema:
          maxLength: 50
          minLength: 3
          pattern: "^[a-z0-9]+(-[a-z0-9]+)*"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB keyspace name.
        in: path
        name: keyspace_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB table name.
        in: path
        name: table_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request. The current
          version is 2019-08-01.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "202":
          content: {}
          description: The Cassandra table delete operation will complete asynchronously.
        "204":
          content: {}
          description: The Cassandra table delete operation was completed successfully.
      x-ms-examples:
        CosmosDBCassandraTableDelete:
          parameters:
            accountName: ddb1
            api-version: 2019-12-12
            keyspaceName: keyspaceName
            resourceGroupName: rg1
            subscriptionId: subid
            tableName: tableName
          responses:
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.default_controller
    get:
      description: Gets the Cassandra table under an existing Azure Cosmos DB database
        account.
      operationId: cassandra_resources_get_cassandra_table
      parameters:
      - description: Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Name of an Azure resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB database account name.
        in: path
        name: account_name
        required: true
        schema:
          maxLength: 50
          minLength: 3
          pattern: "^[a-z0-9]+(-[a-z0-9]+)*"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB keyspace name.
        in: path
        name: keyspace_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB table name.
        in: path
        name: tableName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request. The current
          version is 2019-08-01.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CassandraTableGetResults'
          description: The Cassandra table property was retrieved successfully.
      x-ms-examples:
        CosmosDBCassandraTableGet:
          parameters:
            accountName: ddb1
            api-version: 2019-12-12
            keyspaceName: keyspaceName
            resourceGroupName: rg1
            subscriptionId: subid
            tableName: tableName
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.DocumentDB/databaseAccounts/ddb1/cassandraKeyspaces/keyspaceName/cassandraTables/tableName
                location: West US
                name: tableName
                properties:
                  resource:
                    _etag: '"00005900-0000-0000-0000-56f9a2630000"'
                    _rid: PD5DALigDgw=
                    _ts: 1459200611
                    defaultTtl: 100
                    id: tableName
                    schema:
                      clusterKeys:
                      - name: columnA
                        orderBy: Asc
                      columns:
                      - name: columnA
                        type: Ascii
                      partitionKeys:
                      - name: columnA
                tags: {}
                type: Microsoft.DocumentDB/databaseAccounts/cassandraKeyspaces/cassandraTables
      x-openapi-router-controller: openapi_server.controllers.default_controller
    put:
      description: Create or update an Azure Cosmos DB Cassandra Table
      operationId: cassandra_resources_create_update_cassandra_table
      parameters:
      - description: Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Name of an Azure resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB database account name.
        in: path
        name: account_name
        required: true
        schema:
          maxLength: 50
          minLength: 3
          pattern: "^[a-z0-9]+(-[a-z0-9]+)*"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB keyspace name.
        in: path
        name: keyspace_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB table name.
        in: path
        name: table_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request. The current
          version is 2019-08-01.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CassandraTableCreateUpdateParameters'
        description: The parameters to provide for the current Cassandra Table.
        required: true
        x-body-name: createUpdateCassandraTableParameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CassandraTableGetResults'
          description: The Cassandra Table create or update operation was completed
            successfully.
        "202":
          content: {}
          description: The Cassandra Table create or update operation will complete
            asynchronously.
      x-ms-examples:
        CosmosDBCassandraTableCreateUpdate:
          parameters:
            accountName: ddb1
            api-version: 2019-12-12
            createUpdateCassandraTableParameters:
              location: West US
              properties:
                options: {}
                resource:
                  defaultTtl: 100
                  id: tableName
                  schema:
                    clusterKeys:
                    - name: columnA
                      orderBy: Asc
                    columns:
                    - name: columnA
                      type: Ascii
                    partitionKeys:
                    - name: columnA
              tags: {}
            keyspaceName: keyspaceName
            resourceGroupName: rg1
            subscriptionId: subid
            tableName: tableName
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.DocumentDB/databaseAccounts/ddb1/cassandraKeyspaces/keyspaceName/cassandraTables/tableName
                location: West US
                name: tableName
                properties:
                  resource:
                    defaultTtl: 100
                    id: tableName
                    schema:
                      clusterKeys:
                      - name: columnA
                        orderBy: Asc
                      columns:
                      - name: columnA
                        type: Ascii
                      partitionKeys:
                      - name: columnA
                tags: {}
                type: Microsoft.DocumentDB/databaseAccounts/cassandraKeyspaces/cassandraTables
            "202": {}
      x-ms-long-running-operation: true
      x-codegen-request-body-name: createUpdateCassandraTableParameters
      x-openapi-router-controller: openapi_server.controllers.default_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/cassandraKeyspaces/{keyspaceName}/tables/{tableName}/throughputSettings/default
  : get:
      description: Gets the RUs per second of the Cassandra table under an existing
        Azure Cosmos DB database account with the provided name.
      operationId: cassandra_resources_get_cassandra_table_throughput
      parameters:
      - description: Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Name of an Azure resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB database account name.
        in: path
        name: account_name
        required: true
        schema:
          maxLength: 50
          minLength: 3
          pattern: "^[a-z0-9]+(-[a-z0-9]+)*"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB keyspace name.
        in: path
        name: keyspace_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB table name.
        in: path
        name: table_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request. The current
          version is 2019-08-01.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThroughputSettingsGetResults'
          description: The RUs per second of the Cassandra table was retrieved successfully.
      x-ms-examples:
        CosmosDBCassandraTableThroughputGet:
          parameters:
            accountName: ddb1
            api-version: 2019-12-12
            keyspaceName: keyspaceName
            resourceGroupName: rg1
            subscriptionId: subid
            tableName: tableName
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.DocumentDB/databaseAccounts/ddb1/cassandraKeyspaces/keyspaceName/cassandraTables/tableName/throughputSettings/default
                location: West US
                name: default
                properties:
                  resource:
                    _etag: '"00005900-0000-0000-0000-56f9a2630000"'
                    _rid: PD5DALigDgw=
                    _ts: 1459200611
                    minimumThroughput: "400"
                    offerReplacePending: "true"
                    throughput: 400
                tags: {}
                type: Microsoft.DocumentDB/databaseAccounts/cassandraKeyspaces/cassandraTables/throughputSettings
      x-openapi-router-controller: openapi_server.controllers.default_controller
    put:
      description: Update RUs per second of an Azure Cosmos DB Cassandra table
      operationId: cassandra_resources_update_cassandra_table_throughput
      parameters:
      - description: Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Name of an Azure resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB database account name.
        in: path
        name: account_name
        required: true
        schema:
          maxLength: 50
          minLength: 3
          pattern: "^[a-z0-9]+(-[a-z0-9]+)*"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB keyspace name.
        in: path
        name: keyspace_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB table name.
        in: path
        name: table_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request. The current
          version is 2019-08-01.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ThroughputSettingsUpdateParameters'
        description: The RUs per second of the parameters to provide for the current
          Cassandra table.
        required: true
        x-body-name: updateThroughputParameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThroughputSettingsGetResults'
          description: The RUs per second of the Cassandra table update operation
            was completed successfully.
        "202":
          content: {}
          description: The RUs per second of the Cassandra table update operation
            will complete asynchronously.
      x-ms-examples:
        CosmosDBCassandraTableThroughputUpdate:
          parameters:
            accountName: ddb1
            api-version: 2019-12-12
            keyspaceName: keyspaceName
            resourceGroupName: rg1
            subscriptionId: subid
            tableName: tableName
            updateThroughputParameters:
              location: West US
              properties:
                resource:
                  throughput: 400
              tags: {}
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.DocumentDB/databaseAccounts/ddb1/cassandraKeyspaces/keyspaceName/cassandraTables/tableName/throughputSettings/default
                name: default
                properties:
                  resource:
                    _etag: '"00005900-0000-0000-0000-56f9a2630000"'
                    _rid: PD5DALigDgw=
                    _ts: 1459200611
                    minimumThroughput: "400"
                    offerReplacePending: "true"
                    throughput: 400
                type: Microsoft.DocumentDB/databaseAccounts/cassandraKeyspaces/cassandraTables/throughputSettings
            "202": {}
      x-ms-long-running-operation: true
      x-codegen-request-body-name: updateThroughputParameters
      x-openapi-router-controller: openapi_server.controllers.default_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/cassandraKeyspaces/{keyspaceName}/throughputSettings/default
  : get:
      description: Gets the RUs per second of the Cassandra Keyspace under an existing
        Azure Cosmos DB database account with the provided name.
      operationId: cassandra_resources_get_cassandra_keyspace_throughput
      parameters:
      - description: Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Name of an Azure resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB database account name.
        in: path
        name: account_name
        required: true
        schema:
          maxLength: 50
          minLength: 3
          pattern: "^[a-z0-9]+(-[a-z0-9]+)*"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB keyspace name.
        in: path
        name: keyspace_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request. The current
          version is 2019-08-01.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThroughputSettingsGetResults'
          description: The RUs per second of the Cassandra Keyspace was retrieved
            successfully.
      x-ms-examples:
        CosmosDBCassandraKeyspaceThroughputGet:
          parameters:
            accountName: ddb1
            api-version: 2019-12-12
            keyspaceName: keyspaceName
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.DocumentDB/databaseAccounts/ddb1/cassandraKeyspaces/keyspaceName/throughputSettings/default
                location: West US
                name: default
                properties:
                  resource:
                    _etag: '"00005900-0000-0000-0000-56f9a2630000"'
                    _rid: PD5DALigDgw=
                    _ts: 1459200611
                    minimumThroughput: "400"
                    offerReplacePending: "true"
                    throughput: 400
                tags: {}
                type: Microsoft.DocumentDB/databaseAccounts/cassandraKeyspaces/throughputSettings
      x-openapi-router-controller: openapi_server.controllers.default_controller
    put:
      description: Update RUs per second of an Azure Cosmos DB Cassandra Keyspace
      operationId: cassandra_resources_update_cassandra_keyspace_throughput
      parameters:
      - description: Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Name of an Azure resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB database account name.
        in: path
        name: account_name
        required: true
        schema:
          maxLength: 50
          minLength: 3
          pattern: "^[a-z0-9]+(-[a-z0-9]+)*"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB keyspace name.
        in: path
        name: keyspace_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request. The current
          version is 2019-08-01.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ThroughputSettingsUpdateParameters'
        description: The RUs per second of the parameters to provide for the current
          Cassandra Keyspace.
        required: true
        x-body-name: updateThroughputParameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThroughputSettingsGetResults'
          description: The RUs per second of the Cassandra Keyspace update operation
            was completed successfully.
        "202":
          content: {}
          description: The RUs per second of the Cassandra Keyspace update operation
            will complete asynchronously.
      x-ms-examples:
        CosmosDBCassandraKeyspaceThroughputUpdate:
          parameters:
            accountName: ddb1
            api-version: 2019-12-12
            keyspaceName: keyspaceName
            resourceGroupName: rg1
            subscriptionId: subid
            updateThroughputParameters:
              location: West US
              properties:
                resource:
                  throughput: 400
              tags: {}
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.DocumentDB/databaseAccounts/ddb1/cassandraKeyspaces/keyspaceName/throughputSettings/default
                location: West US
                name: default
                properties:
                  resource:
                    _etag: '"00005900-0000-0000-0000-56f9a2630000"'
                    _rid: PD5DALigDgw=
                    _ts: 1459200611
                    minimumThroughput: "400"
                    offerReplacePending: "true"
                    throughput: 400
                tags: {}
                type: Microsoft.DocumentDB/databaseAccounts/cassandraKeyspaces/throughputSettings
            "202": {}
      x-ms-long-running-operation: true
      x-codegen-request-body-name: updateThroughputParameters
      x-openapi-router-controller: openapi_server.controllers.default_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/databases/{databaseRid}/collections/{collectionRid}/metricDefinitions
  : get:
      description: Retrieves metric definitions for the given collection.
      operationId: collection_list_metric_definitions
      parameters:
      - description: Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Name of an Azure resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB database account name.
        in: path
        name: account_name
        required: true
        schema:
          maxLength: 50
          minLength: 3
          pattern: "^[a-z0-9]+(-[a-z0-9]+)*"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB database rid.
        in: path
        name: databaseRid
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB collection rid.
        in: path
        name: collectionRid
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request. The current
          version is 2019-08-01.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricDefinitionsListResult'
          description: The metric definitions for the collection were retrieved successfully.
      x-ms-examples:
        CosmosDBCollectionGetMetricDefinitions:
          parameters:
            accountName: ddb1
            api-version: 2019-12-12
            collectionRid: collectionRid
            databaseRid: databaseRid
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - metricAvailabilities:
                  - retention: P2D
                    timeGrain: PT5M
                  - retention: P14D
                    timeGrain: PT1H
                  - retention: P60D
                    timeGrain: P1D
                  name:
                    localizedValue: Total Requests
                    value: Total Requests
                  primaryAggregationType: Total
                  resourceUri: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.DocumentDB/databaseAccounts/ddb1
                  unit: Count
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.default_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/databases/{databaseRid}/collections/{collectionRid}/metrics
  : get:
      description: Retrieves the metrics determined by the given filter for the given
        database account and collection.
      operationId: collection_list_metrics
      parameters:
      - description: Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Name of an Azure resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB database account name.
        in: path
        name: account_name
        required: true
        schema:
          maxLength: 50
          minLength: 3
          pattern: "^[a-z0-9]+(-[a-z0-9]+)*"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB database rid.
        in: path
        name: database_rid
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB collection rid.
        in: path
        name: collection_rid
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request. The current
          version is 2019-08-01.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: "An OData filter expression that describes a subset of metrics\
          \ to return. The parameters that can be filtered are name.value (name of\
          \ the metric, can have an or of multiple names), startTime, endTime, and\
          \ timeGrain. The supported operator is eq."
        in: query
        name: $filter
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricListResult'
          description: The metrics for the database account were retrieved successfully.
      x-ms-examples:
        CosmosDBCollectionGetMetrics:
          parameters:
            $filter: $filter=(name.value eq 'Total Requests') and timeGrain eq duration'PT5M'
              and startTime eq '2017-11-19T23:53:55.2780000Z' and endTime eq '2017-11-20T00:13:55.2780000Z
            accountName: ddb1
            api-version: 2019-12-12
            collectionRid: collectionRid
            databaseRid: databaseRid
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - endTime: 2017-11-20T00:13:55.2780000Z
                  metricValues:
                  - _count: 0
                    average: 0
                    timestamp: 2017-11-19T23:53:55.2780000Z
                    total: 0
                  - _count: 0
                    average: 0
                    timestamp: 2017-11-19T23:58:55.2780000Z
                    total: 0
                  - _count: 0
                    average: 0
                    timestamp: 2017-11-20T00:03:55.2780000Z
                    total: 0
                  - _count: 0
                    average: 0
                    timestamp: 2017-11-20T00:08:55.2780000Z
                    total: 0
                  name:
                    localizedValue: Total Requests
                    value: Total Requests
                  startTime: 2017-11-19T23:53:55.2780000Z
                  timeGrain: PT5M
                  unit: Count
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.default_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/databases/{databaseRid}/collections/{collectionRid}/partitionKeyRangeId/{partitionKeyRangeId}/metrics
  : get:
      description: Retrieves the metrics determined by the given filter for the given
        partition key range id.
      operationId: partition_key_range_id_list_metrics
      parameters:
      - description: Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Name of an Azure resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB database account name.
        in: path
        name: account_name
        required: true
        schema:
          maxLength: 50
          minLength: 3
          pattern: "^[a-z0-9]+(-[a-z0-9]+)*"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB database rid.
        in: path
        name: database_rid
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB collection rid.
        in: path
        name: collection_rid
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Partition Key Range Id for which to get data.
        in: path
        name: partitionKeyRangeId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request. The current
          version is 2019-08-01.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: "An OData filter expression that describes a subset of metrics\
          \ to return. The parameters that can be filtered are name.value (name of\
          \ the metric, can have an or of multiple names), startTime, endTime, and\
          \ timeGrain. The supported operator is eq."
        in: query
        name: filter
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartitionMetricListResult'
          description: The partition-level metrics for the partition key range id
            were retrieved successfully.
      x-ms-examples:
        CosmosDBDatabaseAccountRegionGetMetrics:
          parameters:
            $filter: $filter=(name.value eq 'Max RUs Per Second') and timeGrain eq
              duration'PT1M' and startTime eq '2017-11-19T23:53:55.2780000Z' and endTime
              eq '2017-11-20T23:58:55.2780000Z
            accountName: ddb1
            api-version: 2019-12-12
            collectionRid: collectionRid
            databaseRid: databaseRid
            partitionKeyRangeId: "0"
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - endTime: 2017-11-20T23:58:55.2780000Z
                  metricValues:
                  - maximum: 5
                    timestamp: 2017-11-19T23:53:55.2780000Z
                  - maximum: 5
                    timestamp: 2017-11-19T23:54:55.2780000Z
                  - maximum: 5
                    timestamp: 2017-11-19T23:55:55.2780000Z
                  - maximum: 5
                    timestamp: 2017-11-19T23:56:55.2780000Z
                  - maximum: 5
                    timestamp: 2017-11-19T23:57:55.2780000Z
                  - maximum: 5
                    timestamp: 2017-11-19T23:58:55.2780000Z
                  name:
                    localizedValue: Max RUs Per Second
                    value: Max RUs Per Second
                  partitionId: 00000000-0000-0000-0000-000000000000
                  partitionKeyRangeId: "0"
                  startTime: 2017-11-19T23:53:55.2780000Z
                  timeGrain: PT1M
                  unit: Count
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.default_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/databases/{databaseRid}/collections/{collectionRid}/partitions/metrics
  : get:
      description: "Retrieves the metrics determined by the given filter for the given\
        \ collection, split by partition."
      operationId: collection_partition_list_metrics
      parameters:
      - description: Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Name of an Azure resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB database account name.
        in: path
        name: account_name
        required: true
        schema:
          maxLength: 50
          minLength: 3
          pattern: "^[a-z0-9]+(-[a-z0-9]+)*"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB database rid.
        in: path
        name: database_rid
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB collection rid.
        in: path
        name: collection_rid
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request. The current
          version is 2019-08-01.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: "An OData filter expression that describes a subset of metrics\
          \ to return. The parameters that can be filtered are name.value (name of\
          \ the metric, can have an or of multiple names), startTime, endTime, and\
          \ timeGrain. The supported operator is eq."
        in: query
        name: filter
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartitionMetricListResult'
          description: The partition-level metrics for the collection were retrieved
            successfully.
      x-ms-examples:
        CosmosDBDatabaseAccountRegionGetMetrics:
          parameters:
            $filter: $filter=(name.value eq 'Max RUs Per Second') and timeGrain eq
              duration'PT1M' and startTime eq '2017-11-19T23:53:55.2780000Z' and endTime
              eq '2017-11-20T23:58:55.2780000Z
            accountName: ddb1
            api-version: 2019-12-12
            collectionRid: collectionRid
            databaseRid: databaseRid
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - endTime: 2017-11-20T23:58:55.2780000Z
                  metricValues:
                  - maximum: 5
                    timestamp: 2017-11-19T23:53:55.2780000Z
                  - maximum: 5
                    timestamp: 2017-11-19T23:54:55.2780000Z
                  - maximum: 5
                    timestamp: 2017-11-19T23:55:55.2780000Z
                  - maximum: 5
                    timestamp: 2017-11-19T23:56:55.2780000Z
                  - maximum: 5
                    timestamp: 2017-11-19T23:57:55.2780000Z
                  - maximum: 5
                    timestamp: 2017-11-19T23:58:55.2780000Z
                  name:
                    localizedValue: Max RUs Per Second
                    value: Max RUs Per Second
                  partitionId: 00000000-0000-0000-0000-000000000000
                  partitionKeyRangeId: "0"
                  startTime: 2017-11-19T23:53:55.2780000Z
                  timeGrain: PT1M
                  unit: Count
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.default_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/databases/{databaseRid}/collections/{collectionRid}/partitions/usages
  : get:
      description: "Retrieves the usages (most recent storage data) for the given\
        \ collection, split by partition."
      operationId: collection_partition_list_usages
      parameters:
      - description: Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Name of an Azure resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB database account name.
        in: path
        name: account_name
        required: true
        schema:
          maxLength: 50
          minLength: 3
          pattern: "^[a-z0-9]+(-[a-z0-9]+)*"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB database rid.
        in: path
        name: database_rid
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB collection rid.
        in: path
        name: collection_rid
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request. The current
          version is 2019-08-01.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: "An OData filter expression that describes a subset of usages\
          \ to return. The supported parameter is name.value (name of the metric,\
          \ can have an or of multiple names)."
        in: query
        name: $filter
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartitionUsagesResult'
          description: "The usages for the collection, per partition were retrieved\
            \ successfully."
      x-ms-examples:
        CosmosDBCollectionGetUsages:
          parameters:
            $filter: $filter=name.value eq 'Partition Storage'
            accountName: ddb1
            api-version: 2019-12-12
            collectionRid: collectionRid
            databaseRid: databaseRid
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - currentValue: 0
                  limit: 10737418240
                  name:
                    localizedValue: Storage
                    value: Storage
                  partitionId: 00000000-0000-0000-0000-000000000000
                  partitionKeyRangeId: "0"
                  quotaPeriod: P1D
                  unit: Bytes
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.default_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/databases/{databaseRid}/collections/{collectionRid}/usages
  : get:
      description: Retrieves the usages (most recent storage data) for the given collection.
      operationId: collection_list_usages
      parameters:
      - description: Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Name of an Azure resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB database account name.
        in: path
        name: account_name
        required: true
        schema:
          maxLength: 50
          minLength: 3
          pattern: "^[a-z0-9]+(-[a-z0-9]+)*"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB database rid.
        in: path
        name: database_rid
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB collection rid.
        in: path
        name: collection_rid
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request. The current
          version is 2019-08-01.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: "An OData filter expression that describes a subset of usages\
          \ to return. The supported parameter is name.value (name of the metric,\
          \ can have an or of multiple names)."
        in: query
        name: filter
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsagesResult'
          description: The usages for the collection were retrieved successfully.
      x-ms-examples:
        CosmosDBCollectionGetUsages:
          parameters:
            $filter: $filter=name.value eq 'Storage'
            accountName: ddb1
            api-version: 2019-12-12
            collectionRid: collectionRid
            databaseRid: databaseRid
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - currentValue: 0
                  limit: 10737418240
                  name:
                    localizedValue: Storage
                    value: Storage
                  quotaPeriod: P1D
                  unit: Bytes
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.default_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/databases/{databaseRid}/metricDefinitions
  : get:
      description: Retrieves metric definitions for the given database.
      operationId: database_list_metric_definitions
      parameters:
      - description: Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Name of an Azure resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB database account name.
        in: path
        name: account_name
        required: true
        schema:
          maxLength: 50
          minLength: 3
          pattern: "^[a-z0-9]+(-[a-z0-9]+)*"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB database rid.
        in: path
        name: database_rid
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request. The current
          version is 2019-08-01.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricDefinitionsListResult'
          description: The metric definitions for the database were retrieved successfully.
      x-ms-examples:
        CosmosDBDatabaseGetMetricDefinitions:
          parameters:
            accountName: ddb1
            api-version: 2019-12-12
            databaseRid: databaseRid
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - metricAvailabilities:
                  - retention: P2D
                    timeGrain: PT5M
                  - retention: P14D
                    timeGrain: PT1H
                  - retention: P60D
                    timeGrain: P1D
                  name:
                    localizedValue: Total Requests
                    value: Total Requests
                  primaryAggregationType: Total
                  resourceUri: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.DocumentDB/databaseAccounts/ddb1
                  unit: Count
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.default_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/databases/{databaseRid}/metrics
  : get:
      description: Retrieves the metrics determined by the given filter for the given
        database account and database.
      operationId: database_list_metrics
      parameters:
      - description: Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Name of an Azure resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB database account name.
        in: path
        name: account_name
        required: true
        schema:
          maxLength: 50
          minLength: 3
          pattern: "^[a-z0-9]+(-[a-z0-9]+)*"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB database rid.
        in: path
        name: database_rid
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request. The current
          version is 2019-08-01.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: "An OData filter expression that describes a subset of metrics\
          \ to return. The parameters that can be filtered are name.value (name of\
          \ the metric, can have an or of multiple names), startTime, endTime, and\
          \ timeGrain. The supported operator is eq."
        in: query
        name: filter
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricListResult'
          description: The metrics for the database account were retrieved successfully.
      x-ms-examples:
        CosmosDBDatabaseGetMetrics:
          parameters:
            $filter: $filter=(name.value eq 'Total Requests') and timeGrain eq duration'PT5M'
              and startTime eq '2017-11-19T23:53:55.2780000Z' and endTime eq '2017-11-20T00:13:55.2780000Z
            accountName: ddb1
            api-version: 2019-12-12
            databaseRid: rid
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - endTime: 2017-11-20T00:13:55.2780000Z
                  metricValues:
                  - _count: 0
                    average: 0
                    timestamp: 2017-11-19T23:53:55.2780000Z
                    total: 0
                  - _count: 0
                    average: 0
                    timestamp: 2017-11-19T23:58:55.2780000Z
                    total: 0
                  - _count: 0
                    average: 0
                    timestamp: 2017-11-20T00:03:55.2780000Z
                    total: 0
                  - _count: 0
                    average: 0
                    timestamp: 2017-11-20T00:08:55.2780000Z
                    total: 0
                  name:
                    localizedValue: Total Requests
                    value: Total Requests
                  startTime: 2017-11-19T23:53:55.2780000Z
                  timeGrain: PT5M
                  unit: Count
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.default_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/databases/{databaseRid}/usages
  : get:
      description: Retrieves the usages (most recent data) for the given database.
      operationId: database_list_usages
      parameters:
      - description: Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Name of an Azure resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB database account name.
        in: path
        name: account_name
        required: true
        schema:
          maxLength: 50
          minLength: 3
          pattern: "^[a-z0-9]+(-[a-z0-9]+)*"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB database rid.
        in: path
        name: database_rid
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request. The current
          version is 2019-08-01.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: "An OData filter expression that describes a subset of usages\
          \ to return. The supported parameter is name.value (name of the metric,\
          \ can have an or of multiple names)."
        in: query
        name: filter
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsagesResult'
          description: The usages for the database were retrieved successfully.
      x-ms-examples:
        CosmosDBDatabaseGetUsages:
          parameters:
            $filter: $filter=name.value eq 'Storage'
            accountName: ddb1
[...]
