openapi: 3.0.1
info:
  description: Azure Alerts Management Service provides a single pane of glass of
    alerts across Azure Monitor.
  title: Azure Alerts Management Service Resource Provider
  version: 2019-03-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2019-03-01/AlertsManagement.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: alertsmanagement-AlertsManagement
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
paths:
  /providers/Microsoft.AlertsManagement/operations:
    get:
      description: List all operations available through Azure Alerts Management Resource
        Provider.
      operationId: operations_list
      parameters:
      - description: API version.
        in: query
        name: api-version
        required: true
        schema:
          enum:
          - 2018-05-05
          type: string
          x-ms-enum:
            modelAsString: true
            name: api-version
        x-ms-enum:
          modelAsString: true
          name: api-version
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/operationsList'
          description: OK. Successfully retrieved operations list.
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.AlertsManagement/smartGroups:
    get:
      description: 'List all the Smart Groups within a specified subscription. '
      operationId: smart_groups_get_all
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Filter by target resource( which is full ARM ID) Default value
          is select all.
        in: query
        name: targetResource
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Filter by target resource group name. Default value is select
          all.
        in: query
        name: targetResourceGroup
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Filter by target resource type. Default value is select all.
        in: query
        name: targetResourceType
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Filter by monitor service which generates the alert instance.
          Default value is select all.
        in: query
        name: monitorService
        schema:
          enum:
          - Application Insights
          - ActivityLog Administrative
          - ActivityLog Security
          - ActivityLog Recommendation
          - ActivityLog Policy
          - ActivityLog Autoscale
          - Log Analytics
          - Nagios
          - Platform
          - SCOM
          - ServiceHealth
          - SmartDetector
          - VM Insights
          - Zabbix
          - Resource Health
          type: string
          x-ms-enum:
            modelAsString: true
            name: MonitorService
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: MonitorService
        x-ms-parameter-location: method
      - description: Filter by monitor condition which is either 'Fired' or 'Resolved'.
          Default value is to select all.
        in: query
        name: monitorCondition
        schema:
          enum:
          - Fired
          - Resolved
          type: string
          x-ms-enum:
            modelAsString: true
            name: MonitorCondition
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: MonitorCondition
        x-ms-parameter-location: method
      - description: Filter by severity.  Default value is select all.
        in: query
        name: severity
        schema:
          enum:
          - Sev0
          - Sev1
          - Sev2
          - Sev3
          - Sev4
          type: string
          x-ms-enum:
            modelAsString: true
            name: Severity
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: Severity
        x-ms-parameter-location: method
      - description: Filter by state of the smart group. Default value is to select
          all.
        in: query
        name: smartGroupState
        schema:
          enum:
          - New
          - Acknowledged
          - Closed
          type: string
          x-ms-enum:
            modelAsString: true
            name: AlertState
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: AlertState
        x-ms-parameter-location: method
      - description: Filter by time range by below listed values. Default value is
          1 day.
        in: query
        name: timeRange
        schema:
          enum:
          - 1h
          - 1d
          - 7d
          - 30d
          type: string
          x-ms-enum:
            modelAsString: true
            name: TimeRange
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: TimeRange
        x-ms-parameter-location: method
      - description: "Determines number of alerts returned per page in response. Permissible\
          \ value is between 1 to 250. When the \"includeContent\"  filter is selected,\
          \ maximum value allowed is 25. Default value is 25."
        in: query
        name: pageCount
        schema:
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Sort the query results by input field. Default value is sort
          by 'lastModifiedDateTime'.
        in: query
        name: sortBy
        schema:
          enum:
          - alertsCount
          - state
          - severity
          - startDateTime
          - lastModifiedDateTime
          type: string
          x-ms-enum:
            modelAsString: true
            name: SmartGroupsSortByFields
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: SmartGroupsSortByFields
        x-ms-parameter-location: method
      - description: Sort the query results order in either ascending or descending.  Default
          value is 'desc' for time fields and 'asc' for others.
        in: query
        name: sortOrder
        schema:
          enum:
          - asc
          - desc
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API version.
        in: query
        name: api_version
        required: true
        schema:
          enum:
          - 2018-05-05
          type: string
          x-ms-enum:
            modelAsString: true
            name: api-version
        x-ms-enum:
          modelAsString: true
          name: api-version
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/smartGroupsList'
          description: OK. Returns list of all smartGroups.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Error response describing why the operation failed.
      summary: Get all Smart Groups within a specified subscription
      x-ms-examples:
        List:
          parameters:
            api-version: 2018-05-05
            subscriptionId: dd91de05-d791-4ceb-b6dc-988682dc7d72
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/dd91de05-d791-4ceb-b6dc-988682dc7d72/providers/Microsoft.AlertsManagement/smartGroups/a808445e-bb38-4751-85c2-1b109ccc1059
                  name: cpu alert
                  properties:
                    alertSeverities:
                    - count: 1942
                      name: Sev3
                    alertStates:
                    - count: 1941
                      name: New
                    - count: 1
                      name: Acknowledged
                    alertsCount: 1942
                    lastModifiedDateTime: 2018-06-13T06:30:09Z
                    lastModifiedUserName: System
                    monitorConditions:
                    - count: 1942
                      name: Fired
                    monitorServices:
                    - count: 1942
                      name: Application Insights
                    resourceGroups:
                    - count: 1942
                      name: alertscorrelationrg
                    resourceTypes:
                    - count: 1942
                      name: components
                    resources:
                    - count: 1942
                      name: /subscriptions/dd91de05-d791-4ceb-b6dc-988682dc7d72/resourcegroups/alertscorrelationrg/providers/microsoft.insights/components/alertscorrelationworkerrole_int
                    severity: Sev3
                    smartGroupState: New
                    startDateTime: 2018-06-06T12:35:09Z
                  type: Microsoft.AlertsManagement/smartGroups
                - id: /subscriptions/dd91de05-d791-4ceb-b6dc-988682dc7d72/providers/Microsoft.AlertsManagement/smartGroups/01114c7c-769f-4fd4-b6fa-ab77693b83cd
                  name: CPU Alert
                  properties:
                    alertSeverities:
                    - count: 6984
                      name: Sev0
                    - count: 6927
                      name: Sev1
                    alertStates:
                    - count: 15358
                      name: New
                    - count: 12
                      name: Acknowledged
                    - count: 4
                      name: Closed
                    alertsCount: 15374
                    lastModifiedDateTime: 2018-06-13T06:29:01Z
                    lastModifiedUserName: System
                    monitorConditions:
                    - count: 15374
                      name: Fired
                    monitorServices:
                    - count: 13911
                      name: Log Analytics
                    resourceGroups:
                    - count: 15374
                      name: mms-eus
                    resourceTypes:
                    - count: 6912
                      name: microsoft.operationalinsights/workspaces
                    - count: 8462
                      name: workspaces
                    resources:
                    - count: 15374
                      name: /subscriptions/dd91de05-d791-4ceb-b6dc-988682dc7d72/resourcegroups/mms-eus/providers/microsoft.operationalinsights/workspaces/alertsint
                    severity: Sev0
                    smartGroupState: Acknowledged
                    startDateTime: 2018-05-17T10:18:44.2020997Z
                  type: Microsoft.AlertsManagement/smartGroups
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.AlertsManagement/smartGroups/{smartGroupId}:
    get:
      description: Get information related to a specific Smart Group.
      operationId: smart_groups_get_by_id
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: 'Smart group unique id. '
        in: path
        name: smartGroupId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API version.
        in: query
        name: api_version
        required: true
        schema:
          enum:
          - 2018-05-05
          type: string
          x-ms-enum:
            modelAsString: true
            name: api-version
        x-ms-enum:
          modelAsString: true
          name: api-version
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/smartGroup'
          description: OK. Returns the group with the specified smart group Id.
          headers:
            x-ms-request-id:
              description: Service generated Request ID.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Error response describing why the operation failed.
      summary: Get information related to a specific Smart Group.
      x-ms-examples:
        Get:
          parameters:
            api-version: 2018-05-05
            smartGroupId: 603675da-9851-4b26-854a-49fc53d32715
            subscriptionId: 9e261de7-c804-4b9d-9ebf-6f50fe350a9a
          responses:
            "200":
              body:
                id: /subscriptions/dd91de05-d791-4ceb-b6dc-988682dc7d72/providers/Microsoft.AlertsManagement/smartGroups/a808445e-bb38-4751-85c2-1b109ccc1059
                name: cpu alert
                properties:
                  alertSeverities:
                  - count: 1942
                    name: Sev3
                  alertStates:
                  - count: 1941
                    name: New
                  - count: 1
                    name: Acknowledged
                  alertsCount: 1942
                  lastModifiedDateTime: 2018-06-13T06:30:09Z
                  lastModifiedUserName: System
                  monitorConditions:
                  - count: 1942
                    name: Fired
                  monitorServices:
                  - count: 1942
                    name: Application Insights
                  resourceGroups:
                  - count: 1942
                    name: alertscorrelationrg
                  resourceTypes:
                  - count: 1942
                    name: components
                  resources:
                  - count: 1942
                    name: /subscriptions/dd91de05-d791-4ceb-b6dc-988682dc7d72/resourcegroups/alertscorrelationrg/providers/microsoft.insights/components/alertscorrelationworkerrole_int
                  severity: Sev3
                  smartGroupState: New
                  startDateTime: 2018-06-06T12:35:09Z
                type: Microsoft.AlertsManagement/smartGroups
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.AlertsManagement/smartGroups/{smartGroupId}/changeState:
    post:
      description: Change the state of a Smart Group.
      operationId: smart_groups_change_state
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: 'Smart group unique id. '
        in: path
        name: smart_group_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API version.
        in: query
        name: api_version
        required: true
        schema:
          enum:
          - 2018-05-05
          type: string
          x-ms-enum:
            modelAsString: true
            name: api-version
        x-ms-enum:
          modelAsString: true
          name: api-version
      - description: New state of the alert.
        in: query
        name: newState
        required: true
        schema:
          enum:
          - New
          - Acknowledged
          - Closed
          type: string
          x-ms-enum:
            modelAsString: true
            name: AlertState
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: AlertState
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/smartGroup'
          description: OK. Smart Group state updated.
          headers:
            x-ms-request-id:
              description: Service generated Request ID.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Error response describing why the operation failed.
      x-ms-examples:
        changestate:
          parameters:
            api-version: 2018-05-05
            body:
              comments: Acknowledging smart group
            newState: Acknowledged
            smartGroupId: a808445e-bb38-4751-85c2-1b109ccc1059
            subscriptionId: dd91de05-d791-4ceb-b6dc-988682dc7d72
          responses:
            "200":
              body:
                id: /subscriptions/dd91de05-d791-4ceb-b6dc-988682dc7d72/providers/Microsoft.AlertsManagement/smartGroups/a808445e-bb38-4751-85c2-1b109ccc1059
                name: cpu alert
                properties:
                  alertSeverities:
                  - count: 1942
                    name: Sev3
                  alertStates:
                  - count: 1941
                    name: New
                  - count: 1
                    name: Acknowledged
                  alertsCount: 1942
                  lastModifiedDateTime: 2018-06-13T06:30:09Z
                  lastModifiedUserName: System
                  monitorConditions:
                  - count: 1942
                    name: Fired
                  monitorServices:
                  - count: 1942
                    name: Application Insights
                  resourceGroups:
                  - count: 1942
                    name: alertscorrelationrg
                  resourceTypes:
                  - count: 1942
                    name: components
                  resources:
                  - count: 1942
                    name: /subscriptions/dd91de05-d791-4ceb-b6dc-988682dc7d72/resourcegroups/alertscorrelationrg/providers/microsoft.insights/components/alertscorrelationworkerrole_int
                  severity: Sev3
                  smartGroupState: Acknowledged
                  startDateTime: 2018-06-06T12:35:09Z
                type: Microsoft.AlertsManagement/smartGroups
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.AlertsManagement/smartGroups/{smartGroupId}/history:
    get:
      description: "Get the history a smart group, which captures any Smart Group\
        \ state changes (New/Acknowledged/Closed) ."
      operationId: smart_groups_get_history
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: 'Smart group unique id. '
        in: path
        name: smart_group_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API version.
        in: query
        name: api_version
        required: true
        schema:
          enum:
          - 2018-05-05
          type: string
          x-ms-enum:
            modelAsString: true
            name: api-version
        x-ms-enum:
          modelAsString: true
          name: api-version
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/smartGroupModification'
          description: OK. Returns the list of changes of smart group.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Error response describing why the operation failed.
      x-ms-examples:
        Resolve:
          parameters:
            api-version: 2018-05-05
            smartGroupId: a808445e-bb38-4751-85c2-1b109ccc1059
            subscriptionId: 9e261de7-c804-4b9d-9ebf-6f50fe350a9a
          responses:
            "200":
              body:
                id: /subscriptions/9e261de7-c804-4b9d-9ebf-6f50fe350a9a/providers/Microsoft.AlertsManagement/smartGroups/a808445e-bb38-4751-85c2-1b109ccc1059/history/default
                name: cpu alert
                properties:
                  modifications:
                  - comments: ""
                    description: New Smart Group is created
                    modificationEvent: SmartGroupCreated
                    modifiedAt: 2018-06-06T12:35:09Z
                    modifiedBy: System
                    newValue: ""
                    oldValue: ""
                  smartGroupId: a808445e-bb38-4751-85c2-1b109ccc1059
                type: Microsoft.AlertsManagement/alerts
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{scope}/providers/Microsoft.AlertsManagement/alerts:
    get:
      description: "List all existing alerts, where the results can be filtered on\
        \ the basis of multiple parameters (e.g. time range). The results can then\
        \ be sorted on the basis specific fields, with the default being lastModifiedDateTime. "
      operationId: alerts_get_all
      parameters:
      - description: scope here is resourceId for which alert is created.
        in: path
        name: scope
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
          x-ms-skip-url-encoding: true
        x-ms-parameter-location: client
        x-ms-skip-url-encoding: true
      - description: Filter by target resource( which is full ARM ID) Default value
          is select all.
        in: query
        name: target_resource
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Filter by target resource type. Default value is select all.
        in: query
        name: target_resource_type
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Filter by target resource group name. Default value is select
          all.
        in: query
        name: target_resource_group
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Filter by monitor service which generates the alert instance.
          Default value is select all.
        in: query
        name: monitor_service
        schema:
          enum:
          - Application Insights
          - ActivityLog Administrative
          - ActivityLog Security
          - ActivityLog Recommendation
          - ActivityLog Policy
          - ActivityLog Autoscale
          - Log Analytics
          - Nagios
          - Platform
          - SCOM
          - ServiceHealth
          - SmartDetector
          - VM Insights
          - Zabbix
          - Resource Health
          type: string
          x-ms-enum:
            modelAsString: true
            name: MonitorService
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: MonitorService
        x-ms-parameter-location: method
      - description: Filter by monitor condition which is either 'Fired' or 'Resolved'.
          Default value is to select all.
        in: query
        name: monitor_condition
        schema:
          enum:
          - Fired
          - Resolved
          type: string
          x-ms-enum:
            modelAsString: true
            name: MonitorCondition
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: MonitorCondition
        x-ms-parameter-location: method
      - description: Filter by severity.  Default value is select all.
        in: query
        name: severity
        schema:
          enum:
          - Sev0
          - Sev1
          - Sev2
          - Sev3
          - Sev4
          type: string
          x-ms-enum:
            modelAsString: true
            name: Severity
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: Severity
        x-ms-parameter-location: method
      - description: Filter by state of the alert instance. Default value is to select
          all.
        in: query
        name: alertState
        schema:
          enum:
          - New
          - Acknowledged
          - Closed
          type: string
          x-ms-enum:
            modelAsString: true
            name: AlertState
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: AlertState
        x-ms-parameter-location: method
      - description: Filter by specific alert rule.  Default value is to select all.
        in: query
        name: alertRule
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Filter the alerts list by the Smart Group Id. Default value is
          none.
        in: query
        name: smartGroupId
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Include context which has contextual data specific to the monitor
          service. Default value is false'
        in: query
        name: includeContext
        schema:
          type: boolean
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Include egress config which would be used for displaying the
          content in portal.  Default value is 'false'.
        in: query
        name: includeEgressConfig
        schema:
          type: boolean
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "Determines number of alerts returned per page in response. Permissible\
          \ value is between 1 to 250. When the \"includeContent\"  filter is selected,\
          \ maximum value allowed is 25. Default value is 25."
        in: query
        name: page_count
        schema:
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "Sort the query results by input field,  Default value is 'lastModifiedDateTime'."
        in: query
        name: sortBy
        schema:
          enum:
          - name
          - severity
          - alertState
          - monitorCondition
          - targetResource
          - targetResourceName
          - targetResourceGroup
          - targetResourceType
          - startDateTime
          - lastModifiedDateTime
          type: string
          x-ms-enum:
            modelAsString: true
            name: AlertsSortByFields
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: AlertsSortByFields
        x-ms-parameter-location: method
      - description: Sort the query results order in either ascending or descending.  Default
          value is 'desc' for time fields and 'asc' for others.
        in: query
        name: sort_order
        schema:
          enum:
          - asc
          - desc
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: This filter allows to selection of the fields(comma separated)
          which would  be part of the essential section. This would allow to project
          only the  required fields rather than getting entire content.  Default is
          to fetch all the fields in the essentials section.
        in: query
        name: select
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Filter by time range by below listed values. Default value is
          1 day.
        in: query
        name: time_range
        schema:
          enum:
          - 1h
          - 1d
          - 7d
          - 30d
          type: string
          x-ms-enum:
            modelAsString: true
            name: TimeRange
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: TimeRange
        x-ms-parameter-location: method
      - description: Filter by custom time range in the format <start-time>/<end-time>  where
          time is in (ISO-8601 format)'. Permissible values is within 30 days from  query
          time. Either timeRange or customTimeRange could be used but not both. Default
          is none.
        in: query
        name: customTimeRange
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API version.
        in: query
        name: api_version
        required: true
        schema:
          enum:
          - 2018-05-05
          type: string
          x-ms-enum:
            modelAsString: true
            name: api-version
        x-ms-enum:
          modelAsString: true
          name: api-version
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alertsList'
          description: OK. Successfully listed alert objects.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Error response describing why the operation failed.
      x-ms-examples:
        ListAlerts:
          parameters:
            api-version: 2019-03-01
            scope: subscriptions/3b540246-808d-4331-99aa-917b808a9166
          responses:
            "200":
              body:
                nextLink: https://management.azure.com:443/subscriptions/1e3ff1c0-771a-4119-a03b-be82a51e232d/providers/Microsoft.AlertsManagement/alerts?api-version=2018-05-05-preview&timeRange=1d&ctoken=%2bRID%3aPlwOAPHEGwB9UwEAAAAgCw%3d%3d%23RT%3a2%23TRC%3a500%23RTD%3aqtQyMDE4LTA2LTEyVDE1OjEyOjE1
                value:
                - id: /subscriptions/3b540246-808d-4331-99aa-917b808a9166/resourcegroups/servicedeskresourcegroup/providers/microsoft.insights/components/servicedeskappinsight/providers/Microsoft.AlertsManagement/alerts/66114d64-d9d9-478b-95c9-b789d6502100
                  name: cpu alert
                  properties:
                    context: {}
                    egressConfig: {}
                    essentials:
                      alertRule: https://servisdffsdf.portal.mms.microsoft.com/#Workspace/overview/settings/details/Edit
                        Alert Rule/details/index?savedSearchId=&scheduleId=
                      alertState: Acknowledged
                      lastModifiedDateTime: 2018-09-13T15:51:02Z
                      lastModifiedUserName: System
                      monitorCondition: Fired
                      monitorConditionResolvedDateTime: 2018-09-13T15:51:02Z
                      monitorService: Application Insights
                      severity: Sev3
                      signalType: Log
                      smartGroupId: 23d6b2ce-8c54-468f-aff0-sd32aebb7e56
                      smartGroupingReason: Occurred frequently with other alerts
                      sourceCreatedId: 6cd6b2ce-8c54-468f-aff0-9d12aebb7e49
                      startDateTime: 2018-09-13T15:51:02Z
                      targetResource: /subscriptions/3b540246-808d-4331-99aa-917b808a9166/resourcegroups/servicedeskresourcegroup/providers/microsoft.insights/components/servicedeskappinsight
                      targetResourceGroup: servicedeskresourcegroup
                      targetResourceName: servicedeskappinsight
                      targetResourceType: components
                  type: Microsoft.AlertsManagement/alerts
                - id: /subscriptions/3b540246-808d-4331-99aa-917b808a9166/resourcegroups/cind/providers/microsoft.operationalinsights/workspaces/servicedeskwcus/providers/Microsoft.AlertsManagement/alerts/66114d64-d9d9-478b-95c9-b789d6502100
                  name: cpu alert
                  properties:
                    context: {}
                    egressConfig: {}
                    essentials:
                      alertRule: https://servicsdfsdf.portal.mms.microsoft.com/#Workspace/overview/settings/details/Edit
                        Alert Rule/details/index?savedSearchId=&scheduleId=
                      alertState: New
                      lastModifiedDateTime: 2018-09-13T15:51:02Z
                      lastModifiedUserName: System
                      monitorCondition: Fired
                      monitorConditionResolvedDateTime: 2018-09-13T15:51:02Z
                      monitorService: Application Insights
                      severity: Sev3
                      signalType: Log
                      smartGroupId: d1c49c89-ea95-4697-a299-c0f5ebac62f1
                      smartGroupingReason: Alerts that frequently occur together have
                        been grouped.
                      sourceCreatedId: 6cd6b2ce-8c54-468f-aff0-9d12aebb7e49
                      startDateTime: 2018-09-13T15:51:02Z
                      targetResource: /subscriptions/3b540246-808d-4331-99aa-917b808a9166/resourcegroups/cind/providers/microsoft.operationalinsights/workspaces/servicedeskwcus
                      targetResourceGroup: servicedeskresourcegroup
                      targetResourceName: servicedeskwcus
                      targetResourceType: components
                  type: Microsoft.AlertsManagement/alerts
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{scope}/providers/Microsoft.AlertsManagement/alerts/{alertId}:
    get:
      description: "Get information related to a specific alert. If scope is a deleted\
        \ resource then please use scope as parent resource of the delete resource.\
        \ For example if my alert id is '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.Compute/virtualMachines/vm1/providers/Microsoft.AlertsManagement/alerts/{alertId}'\
        \ and 'vm1' is deleted then if you want to get alert by id then use parent\
        \ resource of scope. So in this example get alert by id call will look like\
        \ this: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.AlertsManagement/alerts/{alertId}'."
      operationId: alerts_get_by_id
      parameters:
      - description: scope here is resourceId for which alert is created.
        in: path
        name: scope
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
          x-ms-skip-url-encoding: true
        x-ms-parameter-location: client
        x-ms-skip-url-encoding: true
      - description: Unique ID of an alert instance.
        in: path
        name: alertId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API version.
        in: query
        name: api_version
        required: true
        schema:
          enum:
          - 2018-05-05
          type: string
          x-ms-enum:
            modelAsString: true
            name: api-version
        x-ms-enum:
          modelAsString: true
          name: api-version
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alert'
          description: OK. Returns the alert with the specified ID.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Error response describing why the operation failed.
      summary: Get a specific alert.
      x-ms-examples:
        GetById:
          parameters:
            alertId: 66114d64-d9d9-478b-95c9-b789d6502100
            api-version: 2019-03-01
            scope: subscriptions/3b540246-808d-4331-99aa-917b808a9166/resourcegroups/servicedeskresourcegroup/providers/microsoft.insights/components/servicedeskappinsight
          responses:
            "200":
              body:
                id: /subscriptions/3b540246-808d-4331-99aa-917b808a9166/resourcegroups/servicedeskresourcegroup/providers/microsoft.insights/components/servicedeskappinsight/providers/Microsoft.AlertsManagement/alerts/66114d64-d9d9-478b-95c9-b789d6502100
                name: cpu alert
                properties:
                  context: {}
                  egressConfig: {}
                  essentials:
                    alertRule: https://sersdfsdfinsight.portal.mms.microsoft.com/#Workspace/overview/settings/details/Edit
                      Alert Rule/details/index?savedSearchId=&scheduleId=
                    alertState: Acknowledged
                    lastModifiedDateTime: 2018-09-13T15:51:02Z
                    lastModifiedUserName: System
                    monitorCondition: Fired
                    monitorConditionResolvedDateTime: 2018-09-13T15:51:02Z
                    monitorService: Application Insights
                    severity: Sev3
                    signalType: Log
                    smartGroupId: 23d6b2ce-8c54-468f-aff0-sd32aebb7e56
                    smartGroupingReason: Occurred frequently with other alerts
                    sourceCreatedId: 6cd6b2ce-8c54-468f-aff0-9d12aebb7e49
                    startDateTime: 2018-09-13T15:51:02Z
                    targetResource: /subscriptions/3b540246-808d-4331-99aa-917b808a9166/resourcegroups/servicedeskresourcegroup/providers/microsoft.insights/components/servicedeskappinsight
                    targetResourceGroup: servicedeskresourcegroup
                    targetResourceName: servicedeskappinsight
                    targetResourceType: components
                type: Microsoft.AlertsManagement/alerts
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{scope}/providers/Microsoft.AlertsManagement/alerts/{alertId}/changestate:
    post:
      description: "Change the state of an alert. If scope is a deleted resource then\
        \ please use scope as parent resource of the delete resource. For example\
        \ if my alert id is '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.Compute/virtualMachines/vm1/providers/Microsoft.AlertsManagement/alerts/{alertId}'\
        \ and 'vm1' is deleted then if you want to change state of this particular\
        \ alert then use parent resource of scope. So in this example change state\
        \ call will look like this: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.AlertsManagement/alerts/{alertId}'."
      operationId: alerts_change_state
      parameters:
      - description: scope here is resourceId for which alert is created.
        in: path
        name: scope
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
          x-ms-skip-url-encoding: true
        x-ms-parameter-location: client
        x-ms-skip-url-encoding: true
      - description: Unique ID of an alert instance.
        in: path
        name: alert_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API version.
        in: query
        name: api_version
        required: true
        schema:
          enum:
          - 2018-05-05
          type: string
          x-ms-enum:
            modelAsString: true
            name: api-version
        x-ms-enum:
          modelAsString: true
          name: api-version
      - description: New state of the alert.
        in: query
        name: new_state
        required: true
        schema:
          enum:
          - New
          - Acknowledged
          - Closed
          type: string
          x-ms-enum:
            modelAsString: true
            name: AlertState
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: AlertState
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alert'
          description: OK. Alert state updated.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Error response describing why the operation failed.
      x-ms-examples:
        Resolve:
          parameters:
            alertId: 66114d64-d9d9-478b-95c9-b789d6502100
            api-version: 2019-03-01
            body:
              comments: Acknowledging alert
            newState: Acknowledged
            scope: subscriptions/3b540246-808d-4331-99aa-917b808a9166/resourcegroups/servicedeskresourcegroup/providers/microsoft.insights/components/servicedeskappinsight
          responses:
            "200":
              body:
                id: /subscriptions/3b540246-808d-4331-99aa-917b808a9166/resourcegroups/servicedeskresourcegroup/providers/microsoft.insights/components/servicedeskappinsight/providers/Microsoft.AlertsManagement/alerts/66114d64-d9d9-478b-95c9-b789d6502100
                name: cpu alert
                properties:
                  context: {}
                  egressConfig: {}
                  essentials:
                    alertRule: https://servisdfsdfappinsight.portal.mms.microsoft.com/#Workspace/overview/settings/details/Edit
                      Alert Rule/details/index?savedSearchId=&scheduleId=
                    alertState: Acknowledged
                    lastModifiedDateTime: 2018-09-13T15:51:02Z
                    lastModifiedUserName: System
                    monitorCondition: Fired
                    monitorConditionResolvedDateTime: 2018-09-13T15:51:02Z
                    monitorService: Application Insights
                    severity: Sev3
                    signalType: Log
                    smartGroupId: 23d6b2ce-8c54-468f-aff0-sd32aebb7e56
                    smartGroupingReason: Occurred frequently with other alerts
                    sourceCreatedId: 6cd6b2ce-8c54-468f-aff0-9d12aebb7e49
                    startDateTime: 2018-09-13T15:51:02Z
                    targetResource: /subscriptions/3b540246-808d-4331-99aa-917b808a9166/resourcegroups/servicedeskresourcegroup/providers/microsoft.insights/components/servicedeskappinsight
                    targetResourceGroup: servicedeskresourcegroup
                    targetResourceName: servicedeskappinsight
                    targetResourceType: components
                type: Microsoft.AlertsManagement/alerts
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{scope}/providers/Microsoft.AlertsManagement/alerts/{alertId}/history:
    get:
      description: "Get the history of an alert, which captures any monitor condition\
        \ changes (Fired/Resolved), alert state changes (New/Acknowledged/Closed)\
        \ and applied action rules for that particular alert. If scope is a deleted\
        \ resource then please use scope as parent resource of the delete resource.\
        \ For example if my alert id is '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.Compute/virtualMachines/vm1/providers/Microsoft.AlertsManagement/alerts/{alertId}'\
        \ and 'vm1' is deleted then if you want to get history of this particular\
        \ alert then use parent resource of scope. So in this example get history\
        \ call will look like this: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.AlertsManagement/alerts/{alertId}/history'."
      operationId: alerts_get_history
      parameters:
      - description: scope here is resourceId for which alert is created.
        in: path
        name: scope
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
          x-ms-skip-url-encoding: true
        x-ms-parameter-location: client
        x-ms-skip-url-encoding: true
      - description: Unique ID of an alert instance.
        in: path
        name: alert_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API version.
        in: query
        name: api_version
        required: true
        schema:
          enum:
          - 2018-05-05
          type: string
          x-ms-enum:
            modelAsString: true
            name: api-version
        x-ms-enum:
          modelAsString: true
          name: api-version
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alertModification'
          description: OK. Returns the history of the specified alert.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Error response describing why the operation failed.
      x-ms-examples:
        Resolve:
          parameters:
            alertId: 66114d64-d9d9-478b-95c9-b789d6502100
            api-version: 2019-03-01
            scope: subscriptions/9e261de7-c804-4b9d-9ebf-6f50fe350a9a
          responses:
            "200":
              body:
                id: /subscriptions/9e261de7-c804-4b9d-9ebf-6f50fe350a9a/providers/Microsoft.AlertsManagement/alerts/66114d64-d9d9-478b-95c9-b789d6502100/history/default
                name: CPU Alert
                properties:
                  alertId: 66114d64-d9d9-478b-95c9-b789d6502100
                  modifications:
                  - comments: Acknowledging alert
                    description: State changed from 'New' to 'Acknowledged'
                    modificationEvent: StateChange
                    modifiedAt: 2018-06-13T06:14:15.7378737Z
                    modifiedBy: vikramm@microsoft.com
                    newValue: Acknowledged
                    oldValue: New
                  - comments: ""
                    description: New Alert Object is created
                    modificationEvent: AlertCreated
                    modifiedAt: 2018-06-13T06:09:01Z
                    modifiedBy: System
                    newValue: ""
                    oldValue: ""
                type: Microsoft.AlertsManagement/alerts
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{scope}/providers/Microsoft.AlertsManagement/alertsSummary:
    get:
      description: Get a summarized count of your alerts grouped by various parameters
        (e.g. grouping by 'Severity' returns the count of alerts for each severity).
      operationId: alerts_get_summary
      parameters:
      - description: scope here is resourceId for which alert is created.
        in: path
        name: scope
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
          x-ms-skip-url-encoding: true
        x-ms-parameter-location: client
        x-ms-skip-url-encoding: true
      - description: "This parameter allows the result set to be grouped by input\
          \ fields. For example, groupby=severity,alertstate."
        in: query
        name: groupby
        required: true
        schema:
          enum:
          - severity
          - alertState
          - monitorCondition
          - monitorService
          - signalType
          - alertRule
          type: string
          x-ms-enum:
            modelAsString: true
            name: AlertsSummaryGroupByFields
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: AlertsSummaryGroupByFields
        x-ms-parameter-location: method
      - description: Include count of the SmartGroups as part of the summary. Default
          value is 'false'.
        in: query
        name: includeSmartGroupsCount
        schema:
          type: boolean
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Filter by target resource( which is full ARM ID) Default value
          is select all.
        in: query
        name: target_resource
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Filter by target resource type. Default value is select all.
        in: query
        name: target_resource_type
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Filter by target resource group name. Default value is select
          all.
        in: query
        name: target_resource_group
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Filter by monitor service which generates the alert instance.
          Default value is select all.
        in: query
        name: monitor_service
        schema:
          enum:
          - Application Insights
          - ActivityLog Administrative
          - ActivityLog Security
          - ActivityLog Recommendation
          - ActivityLog Policy
          - ActivityLog Autoscale
          - Log Analytics
          - Nagios
          - Platform
          - SCOM
          - ServiceHealth
          - SmartDetector
          - VM Insights
          - Zabbix
          - Resource Health
          type: string
          x-ms-enum:
            modelAsString: true
            name: MonitorService
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: MonitorService
        x-ms-parameter-location: method
      - description: Filter by monitor condition which is either 'Fired' or 'Resolved'.
          Default value is to select all.
        in: query
        name: monitor_condition
        schema:
          enum:
          - Fired
          - Resolved
          type: string
          x-ms-enum:
            modelAsString: true
            name: MonitorCondition
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: MonitorCondition
        x-ms-parameter-location: method
      - description: Filter by severity.  Default value is select all.
        in: query
        name: severity
        schema:
          enum:
          - Sev0
          - Sev1
          - Sev2
          - Sev3
          - Sev4
          type: string
          x-ms-enum:
            modelAsString: true
            name: Severity
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: Severity
        x-ms-parameter-location: method
      - description: Filter by state of the alert instance. Default value is to select
          all.
        in: query
        name: alert_state
        schema:
          enum:
          - New
          - Acknowledged
          - Closed
          type: string
          x-ms-enum:
            modelAsString: true
            name: AlertState
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: AlertState
        x-ms-parameter-location: method
      - description: Filter by specific alert rule.  Default value is to select all.
        in: query
        name: alert_rule
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Filter by time range by below listed values. Default value is
          1 day.
        in: query
        name: time_range
        schema:
          enum:
          - 1h
          - 1d
          - 7d
          - 30d
          type: string
          x-ms-enum:
            modelAsString: true
            name: TimeRange
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: TimeRange
        x-ms-parameter-location: method
      - description: Filter by custom time range in the format <start-time>/<end-time>  where
          time is in (ISO-8601 format)'. Permissible values is within 30 days from  query
          time. Either timeRange or customTimeRange could be used but not both. Default
          is none.
        in: query
        name: custom_time_range
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API version.
        in: query
        name: api_version
        required: true
        schema:
          enum:
          - 2018-05-05
          type: string
          x-ms-enum:
            modelAsString: true
            name: api-version
        x-ms-enum:
          modelAsString: true
          name: api-version
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alertsSummary'
          description: OK. Alert summary returned.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Error response describing why the operation failed.
      x-ms-examples:
        Summary:
          parameters:
            api-version: 2019-03-01
            groupby: "severity,alertState"
            scope: subscriptions/1e3ff1c0-771a-4119-a03b-be82a51e232d
          responses:
            "200":
              body:
                id: /subscriptions/1e3ff1c0-771a-4119-a03b-be82a51e232d/providers/Microsoft.AlertsManagement/alertsSummary/current
                name: current
                properties:
                  groupedby: severity
                  smartGroupsCount: 100
                  total: 14189
                  values:
                  - count: 6517
                    groupedby: alertState
                    name: Sev0
                    values:
                    - count: 6517
                      name: New
                    - count: 0
                      name: Acknowledged
                    - count: 0
                      name: Closed
                  - count: 3175
                    groupedby: alertState
                    name: Sev1
                    values:
                    - count: 3175
                      name: New
                    - count: 0
                      name: Acknowledged
                    - count: 0
                      name: Closed
                  - count: 1120
                    groupedby: alertState
                    name: Sev2
                    values:
                    - count: 1120
                      name: New
                    - count: 0
                      name: Acknowledged
                    - count: 0
                      name: Closed
                  - count: 1902
                    groupedby: alertState
                    name: Sev3
                    values:
                    - count: 1902
                      name: New
                    - count: 0
                      name: Acknowledged
                    - count: 0
                      name: Closed
                  - count: 1475
                    groupedby: alertState
                    name: Sev4
                    values:
                    - count: 1475
                      name: New
                    - count: 0
                      name: Acknowledged
                    - count: 0
                      name: Closed
                type: Microsoft.AlertsManagement/alertsSummary
      x-openapi-router-controller: openapi_server.controllers.default_controller
components:
  parameters:
    alertId:
      description: Unique ID of an alert instance.
      in: path
      name: alertId
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    alertRule:
      description: Filter by specific alert rule.  Default value is to select all.
      in: query
      name: alertRule
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    alertState:
      description: Filter by state of the alert instance. Default value is to select
        all.
      in: query
      name: alertState
      schema:
        enum:
        - New
        - Acknowledged
        - Closed
        type: string
        x-ms-enum:
          modelAsString: true
          name: AlertState
        x-ms-parameter-location: method
      x-ms-enum:
        modelAsString: true
        name: AlertState
      x-ms-parameter-location: method
    alertsSortBy:
      description: "Sort the query results by input field,  Default value is 'lastModifiedDateTime'."
      in: query
      name: sortBy
      schema:
        enum:
        - name
        - severity
        - alertState
        - monitorCondition
        - targetResource
        - targetResourceName
        - targetResourceGroup
        - targetResourceType
        - startDateTime
        - lastModifiedDateTime
        type: string
        x-ms-enum:
          modelAsString: true
          name: AlertsSortByFields
        x-ms-parameter-location: method
      x-ms-enum:
        modelAsString: true
        name: AlertsSortByFields
      x-ms-parameter-location: method
    alertsSummaryGroupBy:
      description: "This parameter allows the result set to be grouped by input fields.\
        \ For example, groupby=severity,alertstate."
      in: query
      name: groupby
      required: true
      schema:
        enum:
        - severity
        - alertState
        - monitorCondition
        - monitorService
        - signalType
        - alertRule
        type: string
        x-ms-enum:
          modelAsString: true
          name: AlertsSummaryGroupByFields
        x-ms-parameter-location: method
      x-ms-enum:
        modelAsString: true
        name: AlertsSummaryGroupByFields
      x-ms-parameter-location: method
    api-version:
      description: API version.
      in: query
      name: api-version
      required: true
      schema:
        enum:
        - 2018-05-05
        type: string
        x-ms-enum:
          modelAsString: true
          name: api-version
      x-ms-enum:
        modelAsString: true
        name: api-version
    customTimeRange:
      description: Filter by custom time range in the format <start-time>/<end-time>  where
        time is in (ISO-8601 format)'. Permissible values is within 30 days from  query
        time. Either timeRange or customTimeRange could be used but not both. Default
        is none.
      in: query
      name: customTimeRange
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    includeContext:
      description: Include context which has contextual data specific to the monitor
        service. Default value is false'
      in: query
      name: includeContext
      schema:
        type: boolean
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    includeEgressConfig:
      description: Include egress config which would be used for displaying the content
        in portal.  Default value is 'false'.
      in: query
      name: includeEgressConfig
      schema:
        type: boolean
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    includeSmartGroupsCount:
      description: Include count of the SmartGroups as part of the summary. Default
        value is 'false'.
      in: query
      name: includeSmartGroupsCount
      schema:
        type: boolean
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    monitorCondition:
      description: Filter by monitor condition which is either 'Fired' or 'Resolved'.
        Default value is to select all.
      in: query
      name: monitorCondition
      schema:
        enum:
        - Fired
        - Resolved
        type: string
        x-ms-enum:
          modelAsString: true
          name: MonitorCondition
        x-ms-parameter-location: method
      x-ms-enum:
        modelAsString: true
        name: MonitorCondition
      x-ms-parameter-location: method
    monitorService:
      description: Filter by monitor service which generates the alert instance. Default
        value is select all.
      in: query
      name: monitorService
      schema:
        enum:
        - Application Insights
        - ActivityLog Administrative
        - ActivityLog Security
        - ActivityLog Recommendation
        - ActivityLog Policy
        - ActivityLog Autoscale
        - Log Analytics
        - Nagios
        - Platform
        - SCOM
        - ServiceHealth
        - SmartDetector
        - VM Insights
        - Zabbix
        - Resource Health
        type: string
        x-ms-enum:
          modelAsString: true
          name: MonitorService
        x-ms-parameter-location: method
      x-ms-enum:
        modelAsString: true
        name: MonitorService
      x-ms-parameter-location: method
    newState:
      description: New state of the alert.
      in: query
      name: newState
      required: true
      schema:
        enum:
        - New
        - Acknowledged
        - Closed
        type: string
        x-ms-enum:
          modelAsString: true
          name: AlertState
        x-ms-parameter-location: method
      x-ms-enum:
        modelAsString: true
        name: AlertState
      x-ms-parameter-location: method
    pageCount:
      description: "Determines number of alerts returned per page in response. Permissible\
        \ value is between 1 to 250. When the \"includeContent\"  filter is selected,\
        \ maximum value allowed is 25. Default value is 25."
      in: query
      name: pageCount
      schema:
        type: integer
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    scope:
      description: scope here is resourceId for which alert is created.
      in: path
      name: scope
      required: true
      schema:
        type: string
        x-ms-parameter-location: client
        x-ms-skip-url-encoding: true
      x-ms-parameter-location: client
      x-ms-skip-url-encoding: true
    select:
      description: This filter allows to selection of the fields(comma separated)
        which would  be part of the essential section. This would allow to project
        only the  required fields rather than getting entire content.  Default is
        to fetch all the fields in the essentials section.
      in: query
      name: select
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    severity:
      description: Filter by severity.  Default value is select all.
      in: query
      name: severity
      schema:
        enum:
        - Sev0
        - Sev1
        - Sev2
        - Sev3
        - Sev4
        type: string
        x-ms-enum:
          modelAsString: true
          name: Severity
        x-ms-parameter-location: method
      x-ms-enum:
        modelAsString: true
        name: Severity
      x-ms-parameter-location: method
    smartGroupId:
      description: 'Smart group unique id. '
      in: path
      name: smartGroupId
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    smartGroupIdFilter:
      description: Filter the alerts list by the Smart Group Id. Default value is
        none.
      in: query
      name: smartGroupId
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    smartGroupState:
      description: Filter by state of the smart group. Default value is to select
        all.
      in: query
      name: smartGroupState
      schema:
        enum:
        - New
        - Acknowledged
        - Closed
        type: string
        x-ms-enum:
          modelAsString: true
          name: AlertState
        x-ms-parameter-location: method
      x-ms-enum:
        modelAsString: true
        name: AlertState
      x-ms-parameter-location: method
    smartGroupsSortBy:
      description: Sort the query results by input field. Default value is sort by
        'lastModifiedDateTime'.
      in: query
      name: sortBy
      schema:
        enum:
        - alertsCount
        - state
        - severity
        - startDateTime
        - lastModifiedDateTime
        type: string
        x-ms-enum:
          modelAsString: true
          name: SmartGroupsSortByFields
        x-ms-parameter-location: method
      x-ms-enum:
        modelAsString: true
        name: SmartGroupsSortByFields
      x-ms-parameter-location: method
    sortOrder:
      description: Sort the query results order in either ascending or descending.  Default
        value is 'desc' for time fields and 'asc' for others.
      in: query
      name: sortOrder
      schema:
        enum:
        - asc
        - desc
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    subscriptionId:
      description: Subscription credentials which uniquely identify Microsoft Azure
        subscription. The subscription ID forms part of the URI for every service
        call.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
    targetResource:
      description: Filter by target resource( which is full ARM ID) Default value
        is select all.
      in: query
      name: targetResource
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    targetResourceGroup:
      description: Filter by target resource group name. Default value is select all.
      in: query
      name: targetResourceGroup
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    targetResourceType:
      description: Filter by target resource type. Default value is select all.
      in: query
      name: targetResourceType
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    timeRange:
      description: Filter by time range by below listed values. Default value is 1
        day.
      in: query
      name: timeRange
      schema:
        enum:
        - 1h
        - 1d
        - 7d
        - 30d
        type: string
        x-ms-enum:
          modelAsString: true
          name: TimeRange
        x-ms-parameter-location: method
      x-ms-enum:
        modelAsString: true
        name: TimeRange
      x-ms-parameter-location: method
  schemas:
    ProxyResource:
      description: An azure resource object
      properties:
        id:
          description: Azure resource Id
          readOnly: true
          title: id
          type: string
        name:
          description: Azure resource name
          readOnly: true
          title: name
          type: string
        type:
          description: Azure resource type
          readOnly: true
          title: type
          type: string
      title: ProxyResource
      type: object
      x-ms-azure-resource: true
    alert:
      allOf:
      - $ref: '#/components/schemas/ProxyResource'
      description: An alert created in alert management service.
      example:
        properties:
          egressConfig: "{}"
          context: "{}"
          essentials:
            monitorCondition: Fired
            severity: Sev0
            lastModifiedDateTime: 2000-01-23T04:56:07.000+00:00
            sourceCreatedId: sourceCreatedId
            smartGroupId: smartGroupId
            alertRule: alertRule
            lastModifiedUserName: lastModifiedUserName
            monitorService: Application Insights
            targetResourceType: targetResourceType
            targetResourceGroup: targetResourceGroup
            monitorConditionResolvedDateTime: 2000-01-23T04:56:07.000+00:00
            startDateTime: 2000-01-23T04:56:07.000+00:00
            signalType: Metric
            targetResourceName: targetResourceName
            targetResource: targetResource
            alertState: New
            smartGroupingReason: smartGroupingReason
      properties:
        properties:
          $ref: '#/components/schemas/alertProperties'
      title: alert
    alertContext:
      description: Information specific to the monitor service that gives more contextual
        details about the alert.
      title: alertContext
      type: object
    alertModification:
      allOf:
      - $ref: '#/components/schemas/ProxyResource'
      description: Alert Modification details
      example:
        properties:
          alertId: alertId
          modifications:
          - newValue: newValue
            comments: comments
            modifiedAt: modifiedAt
            description: description
            modifiedBy: modifiedBy
            oldValue: oldValue
            modificationEvent: AlertCreated
          - newValue: newValue
            comments: comments
            modifiedAt: modifiedAt
            description: description
            modifiedBy: modifiedBy
            oldValue: oldValue
            modificationEvent: AlertCreated
      properties:
        properties:
          $ref: '#/components/schemas/alertModificationProperties'
      title: alertModification
    alertModificationItem:
      description: Alert modification item.
      example:
        newValue: newValue
        comments: comments
        modifiedAt: modifiedAt
        description: description
        modifiedBy: modifiedBy
        oldValue: oldValue
        modificationEvent: AlertCreated
      properties:
        comments:
          description: Modification comments
          title: comments
          type: string
        description:
          description: Description of the modification
          title: description
          type: string
        modificationEvent:
          description: Reason for the modification
          enum:
          - AlertCreated
          - StateChange
          - MonitorConditionChange
          title: modificationEvent
          type: string
          x-ms-enum:
            name: AlertModificationEvent
        modifiedAt:
          description: Modified date and time
          title: modifiedAt
          type: string
        modifiedBy:
          description: Modified user details (Principal client name)
          title: modifiedBy
          type: string
        newValue:
          description: New value
          title: newValue
          type: string
        oldValue:
          description: Old value
          title: oldValue
          type: string
      title: alertModificationItem
      type: object
    alertModificationProperties:
      description: Properties of the alert modification item.
      example:
        alertId: alertId
        modifications:
        - newValue: newValue
          comments: comments
          modifiedAt: modifiedAt
          description: description
          modifiedBy: modifiedBy
          oldValue: oldValue
          modificationEvent: AlertCreated
        - newValue: newValue
          comments: comments
          modifiedAt: modifiedAt
          description: description
          modifiedBy: modifiedBy
          oldValue: oldValue
          modificationEvent: AlertCreated
      properties:
        alertId:
          description: Unique Id of the alert for which the history is being retrieved
          readOnly: true
          title: alertId
          type: string
        modifications:
          description: Modification details
          items:
            $ref: '#/components/schemas/alertModificationItem'
          title: modifications
          type: array
      title: alertModificationProperties
      type: object
    alertProperties:
      description: Alert property bag
      example:
        egressConfig: "{}"
        context: "{}"
        essentials:
          monitorCondition: Fired
          severity: Sev0
          lastModifiedDateTime: 2000-01-23T04:56:07.000+00:00
          sourceCreatedId: sourceCreatedId
          smartGroupId: smartGroupId
          alertRule: alertRule
          lastModifiedUserName: lastModifiedUserName
          monitorService: Application Insights
          targetResourceType: targetResourceType
          targetResourceGroup: targetResourceGroup
          monitorConditionResolvedDateTime: 2000-01-23T04:56:07.000+00:00
          startDateTime: 2000-01-23T04:56:07.000+00:00
          signalType: Metric
          targetResourceName: targetResourceName
          targetResource: targetResource
          alertState: New
          smartGroupingReason: smartGroupingReason
      properties:
        context:
          description: Information specific to the monitor service that gives more
            contextual details about the alert.
          title: alertContext
          type: object
        egressConfig:
          description: Config which would be used for displaying the data in portal.
          title: egressConfig
          type: object
        essentials:
          $ref: '#/components/schemas/essentials'
      title: alertProperties
      type: object
    alertsList:
      description: List the alerts.
      example:
        value:
        - properties:
            egressConfig: "{}"
            context: "{}"
            essentials:
              monitorCondition: Fired
              severity: Sev0
              lastModifiedDateTime: 2000-01-23T04:56:07.000+00:00
              sourceCreatedId: sourceCreatedId
              smartGroupId: smartGroupId
              alertRule: alertRule
              lastModifiedUserName: lastModifiedUserName
              monitorService: Application Insights
              targetResourceType: targetResourceType
              targetResourceGroup: targetResourceGroup
              monitorConditionResolvedDateTime: 2000-01-23T04:56:07.000+00:00
              startDateTime: 2000-01-23T04:56:07.000+00:00
              signalType: Metric
              targetResourceName: targetResourceName
              targetResource: targetResource
              alertState: New
              smartGroupingReason: smartGroupingReason
        - properties:
            egressConfig: "{}"
            context: "{}"
            essentials:
              monitorCondition: Fired
              severity: Sev0
              lastModifiedDateTime: 2000-01-23T04:56:07.000+00:00
              sourceCreatedId: sourceCreatedId
              smartGroupId: smartGroupId
              alertRule: alertRule
              lastModifiedUserName: lastModifiedUserName
              monitorService: Application Insights
              targetResourceType: targetResourceType
              targetResourceGroup: targetResourceGroup
              monitorConditionResolvedDateTime: 2000-01-23T04:56:07.000+00:00
              startDateTime: 2000-01-23T04:56:07.000+00:00
              signalType: Metric
              targetResourceName: targetResourceName
              targetResource: targetResource
              alertState: New
              smartGroupingReason: smartGroupingReason
        nextLink: nextLink
      properties:
        nextLink:
          description: URL to fetch the next set of alerts.
          title: nextLink
          type: string
        value:
          description: List of alerts
          items:
            $ref: '#/components/schemas/alert'
          title: value
          type: array
      title: alertsList
      type: object
    alertsSummary:
      allOf:
      - $ref: '#/components/schemas/ProxyResource'
      description: Summary of alerts based on the input filters and 'groupby' parameters.
      example:
        properties:
          total: 6
          smartGroupsCount: 0
          groupedby: groupedby
          values:
          - groupedby: groupedby
            values:
            - null
            - null
            count: 1
            name: name
          - groupedby: groupedby
            values:
            - null
            - null
            count: 1
            name: name
      properties:
        properties:
          $ref: '#/components/schemas/alertsSummaryGroup'
      title: alertsSummary
    alertsSummaryGroup:
      description: Group the result set.
      example:
        total: 6
        smartGroupsCount: 0
        groupedby: groupedby
        values:
        - groupedby: groupedby
          values:
          - null
          - null
          count: 1
          name: name
        - groupedby: groupedby
          values:
          - null
          - null
          count: 1
          name: name
      properties:
        groupedby:
          description: Name of the field aggregated
          title: groupedby
          type: string
        smartGroupsCount:
          description: Total count of the smart groups.
          title: smartGroupsCount
          type: integer
        total:
          description: Total count of the result set.
          title: total
          type: integer
        values:
          description: List of the items
          items:
            $ref: '#/components/schemas/alertsSummaryGroupItem'
          title: values
          type: array
      title: alertsSummaryGroup
      type: object
    alertsSummaryGroupItem:
      description: Alerts summary group item
      example:
        groupedby: groupedby
        values:
        - null
        - null
        count: 1
        name: name
      properties:
        count:
          description: Count of the aggregated field
          title: count
          type: integer
        groupedby:
          description: Name of the field aggregated
          title: groupedby
          type: string
        name:
          description: Value of the aggregated field
          title: name
          type: string
        values:
          description: List of the items
          items:
            $ref: '#/components/schemas/alertsSummaryGroupItem'
          title: values
          type: array
      title: alertsSummaryGroupItem
      type: object
    egressConfig:
      description: Config which would be used for displaying the data in portal.
      title: egressConfig
      type: object
    errorResponse:
      description: An error response from the service.
      example:
        error:
          code: code
          details:
          - null
          - null
          message: message
          target: target
      properties:
        error:
          $ref: '#/components/schemas/errorResponseBody'
      title: errorResponse
      type: object
      x-ms-external: true
    errorResponseBody:
      description: Details of error response.
      example:
        code: code
        details:
        - null
        - null
        message: message
        target: target
      properties:
        code:
          description: "Error code, intended to be consumed programmatically."
          title: code
          type: string
        details:
          description: A list of additional details about the error.
          items:
            $ref: '#/components/schemas/errorResponseBody'
          title: details
          type: array
        message:
          description: "Description of the error, intended for display in user interface."
          title: message
          type: string
        target:
          description: "Target of the particular error, for example name of the property."
          title: target
          type: string
      title: errorResponseBody
      type: object
      x-ms-external: true
    essentials:
      description: This object contains consistent fields across different monitor
        services.
      example:
        monitorCondition: Fired
        severity: Sev0
        lastModifiedDateTime: 2000-01-23T04:56:07.000+00:00
        sourceCreatedId: sourceCreatedId
        smartGroupId: smartGroupId
        alertRule: alertRule
        lastModifiedUserName: lastModifiedUserName
        monitorService: Application Insights
        targetResourceType: targetResourceType
        targetResourceGroup: targetResourceGroup
        monitorConditionResolvedDateTime: 2000-01-23T04:56:07.000+00:00
        startDateTime: 2000-01-23T04:56:07.000+00:00
        signalType: Metric
        targetResourceName: targetResourceName
        targetResource: targetResource
        alertState: New
        smartGroupingReason: smartGroupingReason
      properties:
        alertRule:
          description: "Rule(monitor) which fired alert instance. Depending on the\
            \ monitor service,  this would be ARM id or name of the rule."
          readOnly: true
          title: alertRule
          type: string
        alertState:
          description: "Alert object state, which can be modified by the user."
          enum:
          - New
          - Acknowledged
          - Closed
          readOnly: true
          title: alertState
          type: string
          x-ms-enum:
            modelAsString: true
            name: AlertState
        lastModifiedDateTime:
          description: Last modification time(ISO-8601 format) of alert instance.
          format: date-time
          readOnly: true
          title: lastModifiedDateTime
          type: string
        lastModifiedUserName:
          description: "User who last modified the alert, in case of monitor service\
            \ updates user would be 'system', otherwise name of the user."
          readOnly: true
          title: lastModifiedUserName
          type: string
        monitorCondition:
          description: "Can be 'Fired' or 'Resolved', which represents whether the\
            \ underlying conditions have crossed the defined alert rule thresholds."
          enum:
          - Fired
          - Resolved
          readOnly: true
          title: monitorCondition
          type: string
          x-ms-enum:
            modelAsString: true
            name: MonitorCondition
        monitorConditionResolvedDateTime:
          description: Resolved time(ISO-8601 format) of alert instance. This will
            be updated when monitor service resolves the alert instance because the
            rule condition is no longer met.
          format: date-time
          readOnly: true
          title: monitorConditionResolvedDateTime
          type: string
        monitorService:
          description: Monitor service on which the rule(monitor) is set.
          enum:
          - Application Insights
          - ActivityLog Administrative
          - ActivityLog Security
          - ActivityLog Recommendation
          - ActivityLog Policy
          - ActivityLog Autoscale
          - Log Analytics
          - Nagios
          - Platform
          - SCOM
          - ServiceHealth
          - SmartDetector
          - VM Insights
          - Zabbix
          - Resource Health
          readOnly: true
          title: monitorService
          type: string
          x-ms-enum:
            modelAsString: true
            name: MonitorService
        severity:
          description: Severity of alert Sev0 being highest and Sev4 being lowest.
          enum:
          - Sev0
          - Sev1
          - Sev2
          - Sev3
          - Sev4
          readOnly: true
          title: severity
          type: string
          x-ms-enum:
            modelAsString: true
            name: Severity
        signalType:
          description: "The type of signal the alert is based on, which could be metrics,\
            \ logs or activity logs."
          enum:
          - Metric
          - Log
          - Unknown
          readOnly: true
          title: signalType
          type: string
          x-ms-enum:
            modelAsString: true
            name: SignalType
        smartGroupId:
          description: Unique Id of the smart group
          readOnly: true
          title: smartGroupId
          type: string
        smartGroupingReason:
          description: Verbose reason describing the reason why this alert instance
            is added to a smart group
          readOnly: true
          title: smartGroupingReason
          type: string
        sourceCreatedId:
          description: "Unique Id created by monitor service for each alert instance.\
            \ This could be used to track the issue at the monitor service, in case\
            \ of Nagios, Zabbix, SCOM etc."
          readOnly: true
          title: sourceCreatedId
          type: string
        startDateTime:
          description: Creation time(ISO-8601 format) of alert instance.
          format: date-time
          readOnly: true
          title: startDateTime
          type: string
        targetResource:
          description: "Target ARM resource, on which alert got created."
          title: targetResource
          type: string
        targetResourceGroup:
          description: "Resource group of target ARM resource, on which alert got\
            \ created."
          title: targetResourceGroup
          type: string
        targetResourceName:
          description: "Name of the target ARM resource name, on which alert got created."
          title: targetResourceName
          type: string
        targetResourceType:
          description: "Resource type of target ARM resource, on which alert got created."
          title: targetResourceType
          type: string
      title: essentials
      type: object
    operation:
      description: Operation provided by provider
      example:
        display:
          provider: provider
          resource: resource
          description: description
          operation: operation
        name: name
      properties:
        display:
          $ref: '#/components/schemas/operation_display'
        name:
          description: Name of the operation
          title: name
          type: string
      title: operation
      type: object
    operationsList:
      description: Lists the operations available in the AlertsManagement RP.
      example:
        value:
        - display:
            provider: provider
            resource: resource
            description: description
            operation: operation
          name: name
        - display:
            provider: provider
            resource: resource
            description: description
            operation: operation
          name: name
        nextLink: nextLink
      properties:
        nextLink:
          description: URL to fetch the next set of alerts.
          title: nextLink
          type: string
        value:
          description: Array of operations
          items:
            $ref: '#/components/schemas/operation'
          title: value
          type: array
      required:
      - value
      title: operationsList
      type: object
    smartGroup:
      allOf:
      - $ref: '#/components/schemas/ProxyResource'
      description: Set of related alerts grouped together smartly by AMS.
      example:
        properties:
          resourceGroups:
          - count: 0
            name: name
          - count: 0
            name: name
          severity: Sev0
          smartGroupState: New
          resourceTypes:
          - count: 0
            name: name
          - count: 0
            name: name
          lastModifiedDateTime: 2000-01-23T04:56:07.000+00:00
          alertsCount: 6
          resources:
          - count: 0
            name: name
          - count: 0
            name: name
          lastModifiedUserName: lastModifiedUserName
          alertSeverities:
          - count: 0
            name: name
          - count: 0
            name: name
          nextLink: nextLink
          alertStates:
          - count: 0
            name: name
          - count: 0
            name: name
          startDateTime: 2000-01-23T04:56:07.000+00:00
          monitorConditions:
          - count: 0
            name: name
          - count: 0
            name: name
          monitorServices:
          - count: 0
            name: name
          - count: 0
            name: name
      properties:
        properties:
          $ref: '#/components/schemas/smartGroupProperties'
      title: smartGroup
    smartGroupAggregatedProperty:
      description: Aggregated property of each type
      example:
        count: 0
        name: name
      properties:
        count:
          description: Total number of items of type.
          title: count
          type: integer
        name:
          description: Name of the type.
          title: name
          type: string
      title: smartGroupAggregatedProperty
      type: object
    smartGroupModification:
      allOf:
      - $ref: '#/components/schemas/ProxyResource'
      description: Alert Modification details
      example:
        properties:
          smartGroupId: smartGroupId
          modifications:
          - newValue: newValue
            comments: comments
            modifiedAt: modifiedAt
            description: description
            modifiedBy: modifiedBy
            oldValue: oldValue
            modificationEvent: SmartGroupCreated
          - newValue: newValue
            comments: comments
            modifiedAt: modifiedAt
            description: description
            modifiedBy: modifiedBy
            oldValue: oldValue
            modificationEvent: SmartGroupCreated
          nextLink: nextLink
      properties:
        properties:
          $ref: '#/components/schemas/smartGroupModificationProperties'
      title: smartGroupModification
    smartGroupModificationItem:
      description: smartGroup modification item.
      example:
        newValue: newValue
        comments: comments
        modifiedAt: modifiedAt
        description: description
        modifiedBy: modifiedBy
        oldValue: oldValue
        modificationEvent: SmartGroupCreated
      properties:
        comments:
          description: Modification comments
          title: comments
          type: string
        description:
          description: Description of the modification
          title: description
          type: string
        modificationEvent:
          description: Reason for the modification
          enum:
          - SmartGroupCreated
          - StateChange
          - AlertAdded
          - AlertRemoved
          title: modificationEvent
          type: string
          x-ms-enum:
            name: SmartGroupModificationEvent
        modifiedAt:
          description: Modified date and time
          title: modifiedAt
          type: string
        modifiedBy:
          description: Modified user details (Principal client name)
          title: modifiedBy
          type: string
        newValue:
          description: New value
          title: newValue
          type: string
        oldValue:
          description: Old value
          title: oldValue
          type: string
      title: smartGroupModificationItem
      type: object
    smartGroupModificationProperties:
      description: Properties of the smartGroup modification item.
      example:
        smartGroupId: smartGroupId
        modifications:
        - newValue: newValue
          comments: comments
          modifiedAt: modifiedAt
          description: description
          modifiedBy: modifiedBy
          oldValue: oldValue
          modificationEvent: SmartGroupCreated
        - newValue: newValue
          comments: comments
          modifiedAt: modifiedAt
          description: description
          modifiedBy: modifiedBy
          oldValue: oldValue
          modificationEvent: SmartGroupCreated
        nextLink: nextLink
      properties:
        modifications:
          description: Modification details
          items:
            $ref: '#/components/schemas/smartGroupModificationItem'
          title: modifications
          type: array
        nextLink:
          description: URL to fetch the next set of results.
          title: nextLink
          type: string
        smartGroupId:
          description: Unique Id of the smartGroup for which the history is being
            retrieved
          readOnly: true
          title: smartGroupId
          type: string
      title: smartGroupModificationProperties
      type: object
    smartGroupProperties:
      description: Properties of smart group.
      example:
        resourceGroups:
        - count: 0
          name: name
        - count: 0
          name: name
        severity: Sev0
        smartGroupState: New
        resourceTypes:
        - count: 0
          name: name
        - count: 0
          name: name
        lastModifiedDateTime: 2000-01-23T04:56:07.000+00:00
        alertsCount: 6
        resources:
        - count: 0
          name: name
        - count: 0
          name: name
        lastModifiedUserName: lastModifiedUserName
        alertSeverities:
        - count: 0
          name: name
        - count: 0
          name: name
        nextLink: nextLink
        alertStates:
        - count: 0
          name: name
        - count: 0
          name: name
        startDateTime: 2000-01-23T04:56:07.000+00:00
        monitorConditions:
        - count: 0
          name: name
        - count: 0
          name: name
        monitorServices:
        - count: 0
          name: name
        - count: 0
          name: name
      properties:
        alertSeverities:
          description: Summary of alertSeverities in the smart group
          items:
            $ref: '#/components/schemas/smartGroupAggregatedProperty'
          title: alertSeverities
          type: array
        alertStates:
          description: Summary of alertStates in the smart group
          items:
            $ref: '#/components/schemas/smartGroupAggregatedProperty'
          title: alertStates
          type: array
        alertsCount:
          description: Total number of alerts in smart group
          title: alertsCount
          type: integer
        lastModifiedDateTime:
          description: Last updated time of smart group. Date-Time in ISO-8601 format.
          format: date-time
          readOnly: true
          title: lastModifiedDateTime
          type: string
        lastModifiedUserName:
          description: Last modified by user name.
          readOnly: true
          title: lastModifiedUserName
          type: string
        monitorConditions:
          description: Summary of monitorConditions in the smart group
          items:
            $ref: '#/components/schemas/smartGroupAggregatedProperty'
          title: monitorConditions
          type: array
        monitorServices:
          description: Summary of monitorServices in the smart group
          items:
            $ref: '#/components/schemas/smartGroupAggregatedProperty'
          title: monitorServices
          type: array
        nextLink:
          description: The URI to fetch the next page of alerts. Call ListNext() with
            this URI to fetch the next page alerts.
          title: nextLink
          type: string
        resourceGroups:
          description: Summary of target resource groups in the smart group
          items:
            $ref: '#/components/schemas/smartGroupAggregatedProperty'
          title: resourceGroups
          type: array
        resourceTypes:
          description: Summary of target resource types in the smart group
          items:
            $ref: '#/components/schemas/smartGroupAggregatedProperty'
          title: resourceTypes
          type: array
        resources:
          description: Summary of target resources in the smart group
          items:
            $ref: '#/components/schemas/smartGroupAggregatedProperty'
          title: resources
          type: array
        severity:
          description: Severity of smart group is the highest(Sev0 >... > Sev4) severity
            of all the alerts in the group.
          enum:
          - Sev0
          - Sev1
          - Sev2
          - Sev3
          - Sev4
          readOnly: true
          title: severity
          type: string
          x-ms-enum:
            modelAsString: true
            name: Severity
        smartGroupState:
          description: Smart group state
          enum:
          - New
          - Acknowledged
          - Closed
          readOnly: true
          title: smartGroupState
          type: string
          x-ms-enum:
            modelAsString: true
            name: State
        startDateTime:
          description: Creation time of smart group. Date-Time in ISO-8601 format.
          format: date-time
          readOnly: true
          title: startDateTime
          type: string
      title: smartGroupProperties
      type: object
    smartGroupsList:
      description: List the alerts.
      example:
        value:
        - properties:
            resourceGroups:
            - count: 0
              name: name
            - count: 0
              name: name
            severity: Sev0
            smartGroupState: New
            resourceTypes:
            - count: 0
              name: name
            - count: 0
              name: name
            lastModifiedDateTime: 2000-01-23T04:56:07.000+00:00
            alertsCount: 6
            resources:
            - count: 0
              name: name
            - count: 0
              name: name
            lastModifiedUserName: lastModifiedUserName
            alertSeverities:
            - count: 0
              name: name
            - count: 0
              name: name
            nextLink: nextLink
            alertStates:
            - count: 0
              name: name
            - count: 0
              name: name
            startDateTime: 2000-01-23T04:56:07.000+00:00
            monitorConditions:
            - count: 0
              name: name
            - count: 0
              name: name
            monitorServices:
            - count: 0
              name: name
            - count: 0
              name: name
        - properties:
            resourceGroups:
[...]
