openapi: 3.0.1
info:
  description: The Microsoft Azure Network management API provides a RESTful set of
    web services that interact with Microsoft Azure Networks service to manage your
    network resources. The API has entities that capture the relationship between
    an end user and the Microsoft Azure Networks service.
  title: NetworkManagementClient
  version: 2018-08-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/network/resource-manager/Microsoft.Network/stable/2018-08-01/expressRoutePort.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: network-expressRoutePort
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/ExpressRoutePorts:
    get:
      description: List all the ExpressRoutePort resources in the specified subscription
      operationId: ExpressRoutePorts_List
      parameters:
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRoutePortListResult'
          description: Request successful. The operation returns a list of ExpressRoutePort
            resources. If there are no ExpressRoutePort resources then an empty list
            is returned.
      tags:
      - ExpressRoutePorts
      x-ms-examples:
        ExpressRoutePortList:
          parameters:
            api-version: 2018-08-01
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/expressRoutePorts/portName
                  location: westus
                  name: portName
                  properties:
                    allocationDate: "Friday, July 1, 2018"
                    bandwidthInGbps: 100
                    circuits: []
                    encapsulation: QinQ
                    etherType: 0x8100
                    links:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/expressRoutePorts/portName/links/link1
                      name: link1
                      properties:
                        adminState: Disabled
                        connectorType: LC
                        interfaceName: Ethernet 0/0
                        patchPanelId: patchPanelId1
                        provisioningState: Succeeded
                        rackId: rackId1
                        routerName: router1
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/expressRoutePorts/portName/links/link2
                      name: link2
                      properties:
                        adminState: Disabled
                        connectorType: LC
                        interfaceName: Ethernet 0/0
                        patchPanelId: patchPanelId2
                        provisioningState: Succeeded
                        rackId: rackId2
                        routerName: router2
                    mtu: "1500"
                    peeringLocation: peeringLocationName
                    provisionedBandwidthInGbps: 0
                    provisioningState: Succeeded
                  type: Microsoft.Network/expressRoutePorts
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/ExpressRoutePortsLocations:
    get:
      description: Retrieves all ExpressRoutePort peering locations. Does not return
        available bandwidths for each location. Available bandwidths can only be obtained
        when retrieving a specific peering location.
      operationId: ExpressRoutePortsLocations_List
      parameters:
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRoutePortsLocationListResult'
          description: Request successful. The operation returns the list of all ExpressRoutePort
            peering locations.
      tags:
      - ExpressRoutePortsLocations
      x-ms-examples:
        ExpressRoutePortsLocationList:
          parameters:
            api-version: 2018-08-01
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subid/providers/Microsoft.Network/expressRoutePortsLocations/locationName
                  location: westus
                  name: locationName
                  properties:
                    address: "123 Main Street, City, State, Zip"
                    availableBandwidths: []
                    contact: email@address.com
                    provisioningState: Succeeded
                  type: Microsoft.Network/expressRoutePortsLocations
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/ExpressRoutePortsLocations/{locationName}:
    get:
      description: "Retrieves a single ExpressRoutePort peering location, including\
        \ the list of available bandwidths available at said peering location."
      operationId: ExpressRoutePortsLocations_Get
      parameters:
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Name of the requested ExpressRoutePort peering location.
        in: path
        name: locationName
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRoutePortsLocation'
          description: Request successful. The operation returns the requested ExpressRoutePort
            peering location.
      tags:
      - ExpressRoutePortsLocations
      x-ms-examples:
        ExpressRoutePortsLocationGet:
          parameters:
            api-version: 2018-08-01
            locationName: locationName
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/providers/Microsoft.Network/expressRoutePortsLocations/locationName
                location: westus
                name: locationName
                properties:
                  address: "123 Main Street, City, State, Zip"
                  availableBandwidths:
                  - offerName: 100 Gbps
                    valueInGbps: 100
                  contact: email@address.com
                  provisioningState: Succeeded
                type: Microsoft.Network/expressRoutePortsLocations
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/ExpressRoutePorts:
    get:
      description: List all the ExpressRoutePort resources in the specified resource
        group.
      operationId: ExpressRoutePorts_ListByResourceGroup
      parameters:
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRoutePortListResult'
          description: Request successful. The operation returns a list of ExpressRoutePort
            resources. If there are no ExpressRoutePort resources then an empty list
            is returned.
      tags:
      - ExpressRoutePorts
      x-ms-examples:
        ExpressRoutePortListByResourceGroup:
          parameters:
            api-version: 2018-08-01
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/expressRoutePorts/portName
                  location: westus
                  name: portName
                  properties:
                    allocationDate: "Friday, July 1, 2018"
                    bandwidthInGbps: 100
                    circuits: []
                    encapsulation: QinQ
                    etherType: 0x8100
                    links:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/expressRoutePorts/portName/links/link1
                      name: link1
                      properties:
                        adminState: Disabled
                        connectorType: LC
                        interfaceName: Ethernet 0/0
                        patchPanelId: patchPanelId1
                        provisioningState: Succeeded
                        rackId: rackId1
                        routerName: router1
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/expressRoutePorts/portName/links/link2
                      name: link2
                      properties:
                        adminState: Disabled
                        connectorType: LC
                        interfaceName: Ethernet 0/0
                        patchPanelId: patchPanelId2
                        provisioningState: Succeeded
                        rackId: rackId2
                        routerName: router2
                    mtu: "1500"
                    peeringLocation: peeringLocationName
                    provisionedBandwidthInGbps: 0
                    provisioningState: Succeeded
                  type: Microsoft.Network/expressRoutePorts
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/ExpressRoutePorts/{expressRoutePortName}
  : delete:
      description: Deletes the specified ExpressRoutePort resource.
      operationId: ExpressRoutePorts_Delete
      parameters:
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the ExpressRoutePort resource.
        in: path
        name: expressRoutePortName
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Delete successful.
        "202":
          content: {}
          description: Accepted and the operation will complete asynchronously.
        "204":
          content: {}
          description: Request successful. Resource does not exist.
      tags:
      - ExpressRoutePorts
      x-ms-examples:
        ExpressRoutePortDelete:
          parameters:
            api-version: 2018-08-01
            expressRoutePortName: portName
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
    get:
      description: Retrieves the requested ExpressRoutePort resource.
      operationId: ExpressRoutePorts_Get
      parameters:
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of ExpressRoutePort.
        in: path
        name: expressRoutePortName
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRoutePort'
          description: Request successful. The operation returns the requested ExpressRoutePort
            resource.
      tags:
      - ExpressRoutePorts
      x-ms-examples:
        ExpressRoutePortGet:
          parameters:
            api-version: 2018-08-01
            expressRoutePortName: portName
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/expressRoutePorts/portName
                location: westus
                name: portName
                properties:
                  allocationDate: "Friday, July 1, 2018"
                  bandwidthInGbps: 100
                  circuits: []
                  encapsulation: QinQ
                  etherType: 0x8100
                  links:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/expressRoutePorts/portName/links/link1
                    name: link1
                    properties:
                      adminState: Disabled
                      connectorType: LC
                      interfaceName: Ethernet 0/0
                      patchPanelId: patchPanelId1
                      provisioningState: Succeeded
                      rackId: rackId1
                      routerName: router1
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/expressRoutePorts/portName/links/link2
                    name: link2
                    properties:
                      adminState: Disabled
                      connectorType: LC
                      interfaceName: Ethernet 0/0
                      patchPanelId: patchPanelId2
                      provisioningState: Succeeded
                      rackId: rackId2
                      routerName: router2
                  mtu: "1500"
                  peeringLocation: peeringLocationName
                  provisionedBandwidthInGbps: 0
                  provisioningState: Succeeded
                type: Microsoft.Network/expressRoutePorts
      x-accepts:
      - application/json
    patch:
      description: Update ExpressRoutePort tags
      operationId: ExpressRoutePorts_UpdateTags
      parameters:
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the ExpressRoutePort resource.
        in: path
        name: expressRoutePortName
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExpressRoutePorts_UpdateTags_request'
        description: Parameters supplied to update ExpressRoutePort resource tags.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRoutePort'
          description: Update successful. The operation returns the resulting ExpressRoutePort
            resource.
      tags:
      - ExpressRoutePorts
      x-ms-examples:
        ExpressRoutePortUpdateTags:
          parameters:
            api-version: 2018-08-01
            expressRoutePortName: portName
            parameters:
              tags:
                tag1: value1
                tag2: value2
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/expressRoutePorts/portName
                location: westus
                name: portName
                properties:
                  allocationDate: "Friday, July 1, 2018"
                  bandwidthInGbps: 100
                  circuits: []
                  encapsulation: QinQ
                  etherType: 0x8100
                  links:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/expressRoutePorts/portName/links/link1
                    name: link1
                    properties:
                      adminState: Disabled
                      connectorType: LC
                      interfaceName: Ethernet 0/0
                      patchPanelId: patchPanelId1
                      provisioningState: Succeeded
                      rackId: rackId1
                      routerName: router1
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/expressRoutePorts/portName/links/link2
                    name: link2
                    properties:
                      adminState: Disabled
                      connectorType: LC
                      interfaceName: Ethernet 0/0
                      patchPanelId: patchPanelId2
                      provisioningState: Succeeded
                      rackId: rackId2
                      routerName: router2
                  mtu: "1500"
                  peeringLocation: peeringLocationName
                  provisionedBandwidthInGbps: 0
                  provisioningState: Succeeded
                type: Microsoft.Network/expressRoutePorts
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: Creates or updates the specified ExpressRoutePort resource.
      operationId: ExpressRoutePorts_CreateOrUpdate
      parameters:
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the ExpressRoutePort resource.
        in: path
        name: expressRoutePortName
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExpressRoutePort'
        description: Parameters supplied to the create ExpressRoutePort operation.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRoutePort'
          description: Update successful. The operation returns the resulting ExpressRoutePort
            resource.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRoutePort'
          description: Create successful. The operation returns the resulting ExpressRoutePort
            resource.
      tags:
      - ExpressRoutePorts
      x-ms-examples:
        ExpressRoutePortCreate:
          parameters:
            api-version: 2018-08-01
            expressRoutePortName: portName
            parameters:
              location: westus
              properties:
                bandwidthInGbps: 100
                encapsulation: QinQ
                peeringLocation: peeringLocationName
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/expressRoutePorts/portName
                location: westus
                name: portName
                properties:
                  allocationDate: "Friday, July 1, 2018"
                  bandwidthInGbps: 100
                  circuits: []
                  encapsulation: QinQ
                  etherType: 0x8100
                  links:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/expressRoutePorts/portName/links/link1
                    name: link1
                    properties:
                      adminState: Disabled
                      connectorType: LC
                      interfaceName: Ethernet 0/0
                      patchPanelId: patchPanelId1
                      provisioningState: Succeeded
                      rackId: rackId1
                      routerName: router1
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/expressRoutePorts/portName/links/link2
                    name: link2
                    properties:
                      adminState: Disabled
                      connectorType: LC
                      interfaceName: Ethernet 0/0
                      patchPanelId: patchPanelId2
                      provisioningState: Succeeded
                      rackId: rackId2
                      routerName: router2
                  mtu: "1500"
                  peeringLocation: peeringLocationName
                  provisionedBandwidthInGbps: 0
                  provisioningState: Succeeded
                type: Microsoft.Network/expressRoutePorts
            "201":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/expressRoutePorts/portName
                location: westus
                name: portName
                properties:
                  allocationDate: "Friday, July 1, 2018"
                  bandwidthInGbps: 100
                  circuits: []
                  encapsulation: QinQ
                  etherType: 0x8100
                  links:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/expressRoutePorts/portName/links/link1
                    name: link1
                    properties:
                      adminState: Disabled
                      connectorType: LC
                      interfaceName: Ethernet 0/0
                      patchPanelId: patchPanelId1
                      provisioningState: Succeeded
                      rackId: rackId1
                      routerName: router1
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/expressRoutePorts/portName/links/link2
                    name: link2
                    properties:
                      adminState: Disabled
                      connectorType: LC
                      interfaceName: Ethernet 0/0
                      patchPanelId: patchPanelId2
                      provisioningState: Succeeded
                      rackId: rackId2
                      routerName: router2
                  mtu: "1500"
                  peeringLocation: peeringLocationName
                  provisionedBandwidthInGbps: 0
                  provisioningState: Succeeded
                type: Microsoft.Network/expressRoutePorts
        ExpressRoutePortUpdateLink:
          parameters:
            api-version: 2018-08-01
            expressRoutePortName: portName
            parameters:
              location: westus
              properties:
                bandwidthInGbps: 100
                encapsulation: QinQ
                links:
                - name: link1
                  properties:
                    adminState: Enabled
                peeringLocation: peeringLocationName
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/expressRoutePorts/portName
                location: westus
                name: portName
                properties:
                  allocationDate: "Friday, July 1, 2018"
                  bandwidthInGbps: 100
                  circuits: []
                  encapsulation: QinQ
                  etherType: 0x8100
                  links:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/expressRoutePorts/portName/links/link1
                    name: link1
                    properties:
                      adminState: Enabled
                      connectorType: LC
                      interfaceName: Ethernet 0/0
                      patchPanelId: patchPanelId1
                      provisioningState: Succeeded
                      rackId: rackId1
                      routerName: router1
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/expressRoutePorts/portName/links/link2
                    name: link2
                    properties:
                      adminState: Disabled
                      connectorType: LC
                      interfaceName: Ethernet 0/0
                      patchPanelId: patchPanelId2
                      provisioningState: Succeeded
                      rackId: rackId2
                      routerName: router2
                  mtu: "1500"
                  peeringLocation: peeringLocationName
                  provisionedBandwidthInGbps: 0
                  provisioningState: Succeeded
                type: Microsoft.Network/expressRoutePorts
            "201":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/expressRoutePorts/portName
                location: westus
                name: portName
                properties:
                  allocationDate: "Friday, July 1, 2018"
                  bandwidthInGbps: 100
                  circuits: []
                  encapsulation: QinQ
                  etherType: 0x8100
                  links:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/expressRoutePorts/portName/links/link1
                    name: link1
                    properties:
                      adminState: Enabled
                      connectorType: LC
                      interfaceName: Ethernet 0/0
                      patchPanelId: patchPanelId1
                      provisioningState: Succeeded
                      rackId: rackId1
                      routerName: router1
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/expressRoutePorts/portName/links/link2
                    name: link2
                    properties:
                      adminState: Disabled
                      connectorType: LC
                      interfaceName: Ethernet 0/0
                      patchPanelId: patchPanelId2
                      provisioningState: Succeeded
                      rackId: rackId2
                      routerName: router2
                  mtu: "1500"
                  peeringLocation: peeringLocationName
                  provisionedBandwidthInGbps: 0
                  provisioningState: Succeeded
                type: Microsoft.Network/expressRoutePorts
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/ExpressRoutePorts/{expressRoutePortName}/links
  : get:
      description: Retrieve the ExpressRouteLink sub-resources of the specified ExpressRoutePort
        resource.
      operationId: ExpressRouteLinks_List
      parameters:
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the ExpressRoutePort resource.
        in: path
        name: expressRoutePortName
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteLinkListResult'
          description: Request successful. The operation returns a list of ExpressRouteLink
            resources. If there are no ExpressRouteLink resources then an empty list
            is returned.
      tags:
      - ExpressRouteLinks
      x-ms-examples:
        ExpressRouteLinkGet:
          parameters:
            api-version: 2018-08-01
            expressRoutePortName: portName
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/expressRoutePorts/portName/links/link1
                  name: link1
                  properties:
                    adminState: Disabled
                    connectorType: LC
                    interfaceName: Ethernet 0/0
                    patchPanelId: patchPanelId1
                    provisioningState: Succeeded
                    rackId: rackId1
                    routerName: router1
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/expressRoutePorts/portName/links/link2
                  name: link2
                  properties:
                    adminState: Disabled
                    connectorType: LC
                    interfaceName: Ethernet 0/0
                    patchPanelId: patchPanelId2
                    provisioningState: Succeeded
                    rackId: rackId2
                    routerName: router2
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/ExpressRoutePorts/{expressRoutePortName}/links/{linkName}
  : get:
      description: Retrieves the specified ExpressRouteLink resource.
      operationId: ExpressRouteLinks_Get
      parameters:
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the ExpressRoutePort resource.
        in: path
        name: expressRoutePortName
        required: true
        schema:
          type: string
      - description: The name of the ExpressRouteLink resource.
        in: path
        name: linkName
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteLink'
          description: Request successful. The operation returns the requested ExpressRouteLink
            resource.
      tags:
      - ExpressRouteLinks
      x-ms-examples:
        ExpressRouteLinkGet:
          parameters:
            api-version: 2018-08-01
            expressRoutePortName: portName
            linkName: linkName
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/expressRoutePorts/portName/links/linkName
                name: linkName
                properties:
                  adminState: Disabled
                  connectorType: LC
                  interfaceName: Ethernet 0/0
                  patchPanelId: patchPanelId1
                  provisioningState: Succeeded
                  rackId: rackId1
                  routerName: router1
      x-accepts:
      - application/json
components:
  schemas:
    ExpressRouteLink:
      allOf:
      - description: Reference to another subresource.
        properties:
          id:
            description: Resource ID.
            type: string
        type: object
        x-ms-azure-resource: true
      description: ExpressRouteLink child resource definition.
      example:
        name: name
        etag: etag
        properties:
          connectorType: LC
          routerName: routerName
          adminState: Enabled
          patchPanelId: patchPanelId
          interfaceName: interfaceName
          provisioningState: provisioningState
          rackId: rackId
      properties:
        etag:
          description: A unique read-only string that changes whenever the resource
            is updated.
          readOnly: true
          type: string
        name:
          description: Name of child port resource that is unique among child port
            resources of the parent.
          type: string
        properties:
          $ref: '#/components/schemas/ExpressRouteLinkPropertiesFormat'
      title: ExpressRouteLink
    ExpressRouteLinkListResult:
      description: Response for ListExpressRouteLinks API service call.
      example:
        value:
        - name: name
          etag: etag
          properties:
            connectorType: LC
            routerName: routerName
            adminState: Enabled
            patchPanelId: patchPanelId
            interfaceName: interfaceName
            provisioningState: provisioningState
            rackId: rackId
        - name: name
          etag: etag
          properties:
            connectorType: LC
            routerName: routerName
            adminState: Enabled
            patchPanelId: patchPanelId
            interfaceName: interfaceName
            provisioningState: provisioningState
            rackId: rackId
        nextLink: nextLink
      properties:
        nextLink:
          description: The URL to get the next set of results.
          type: string
        value:
          description: The list of ExpressRouteLink sub-resources.
          items:
            $ref: '#/components/schemas/ExpressRouteLink'
          type: array
      title: ExpressRouteLink List Result
      type: object
    ExpressRouteLinkPropertiesFormat:
      description: Properties specific to ExpressRouteLink resources.
      example:
        connectorType: LC
        routerName: routerName
        adminState: Enabled
        patchPanelId: patchPanelId
        interfaceName: interfaceName
        provisioningState: provisioningState
        rackId: rackId
      properties:
        adminState:
          description: Administrative state of the physical port
          enum:
          - Enabled
          - Disabled
          type: string
          x-ms-enum:
            modelAsString: true
            name: ExpressRouteLinkAdminState
        connectorType:
          description: Physical fiber port type.
          enum:
          - LC
          - SC
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: ExpressRouteLinkConnectorType
        interfaceName:
          description: Name of Azure router interface.
          readOnly: true
          type: string
        patchPanelId:
          description: Mapping between physical port to patch panel port.
          readOnly: true
          type: string
        provisioningState:
          description: "The provisioning state of the ExpressRouteLink resource. Possible\
            \ values are: 'Succeeded', 'Updating', 'Deleting', and 'Failed'."
          readOnly: true
          type: string
        rackId:
          description: Mapping of physical patch panel to rack.
          readOnly: true
          type: string
        routerName:
          description: Name of Azure router associated with physical port.
          readOnly: true
          type: string
      title: ExpressRouteLink Resource Properties
      type: object
    ExpressRoutePort:
      allOf:
      - description: Common resource representation.
        properties:
          id:
            description: Resource ID.
            type: string
          location:
            description: Resource location.
            type: string
          name:
            description: Resource name.
            readOnly: true
            type: string
          tags:
            additionalProperties:
              type: string
            description: Resource tags.
            type: object
          type:
            description: Resource type.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: ExpressRoutePort resource definition.
      example:
        etag: etag
        properties:
          allocationDate: allocationDate
          bandwidthInGbps: 0
          encapsulation: Dot1Q
          resourceGuid: resourceGuid
          provisionedBandwidthInGbps: 6.027456183070403
          etherType: etherType
          links:
          - name: name
            etag: etag
            properties:
              connectorType: LC
              routerName: routerName
              adminState: Enabled
              patchPanelId: patchPanelId
              interfaceName: interfaceName
              provisioningState: provisioningState
              rackId: rackId
          - name: name
            etag: etag
            properties:
              connectorType: LC
              routerName: routerName
              adminState: Enabled
              patchPanelId: patchPanelId
              interfaceName: interfaceName
              provisioningState: provisioningState
              rackId: rackId
          provisioningState: provisioningState
          circuits:
          - id: id
          - id: id
          mtu: mtu
          peeringLocation: peeringLocation
      properties:
        etag:
          description: A unique read-only string that changes whenever the resource
            is updated.
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/ExpressRoutePortPropertiesFormat'
      title: ExpressRoute Port
    ExpressRoutePortListResult:
      description: Response for ListExpressRoutePorts API service call.
      example:
        value:
        - etag: etag
          properties:
            allocationDate: allocationDate
            bandwidthInGbps: 0
            encapsulation: Dot1Q
            resourceGuid: resourceGuid
            provisionedBandwidthInGbps: 6.027456183070403
            etherType: etherType
            links:
            - name: name
              etag: etag
              properties:
                connectorType: LC
                routerName: routerName
                adminState: Enabled
                patchPanelId: patchPanelId
                interfaceName: interfaceName
                provisioningState: provisioningState
                rackId: rackId
            - name: name
              etag: etag
              properties:
                connectorType: LC
                routerName: routerName
                adminState: Enabled
                patchPanelId: patchPanelId
                interfaceName: interfaceName
                provisioningState: provisioningState
                rackId: rackId
            provisioningState: provisioningState
            circuits:
            - id: id
            - id: id
            mtu: mtu
            peeringLocation: peeringLocation
        - etag: etag
          properties:
            allocationDate: allocationDate
            bandwidthInGbps: 0
            encapsulation: Dot1Q
            resourceGuid: resourceGuid
            provisionedBandwidthInGbps: 6.027456183070403
            etherType: etherType
            links:
            - name: name
              etag: etag
              properties:
                connectorType: LC
                routerName: routerName
                adminState: Enabled
                patchPanelId: patchPanelId
                interfaceName: interfaceName
                provisioningState: provisioningState
                rackId: rackId
            - name: name
              etag: etag
              properties:
                connectorType: LC
                routerName: routerName
                adminState: Enabled
                patchPanelId: patchPanelId
                interfaceName: interfaceName
                provisioningState: provisioningState
                rackId: rackId
            provisioningState: provisioningState
            circuits:
            - id: id
            - id: id
            mtu: mtu
            peeringLocation: peeringLocation
        nextLink: nextLink
      properties:
        nextLink:
          description: The URL to get the next set of results.
          type: string
        value:
          description: A list of ExpressRoutePort resources.
          items:
            $ref: '#/components/schemas/ExpressRoutePort'
          type: array
      title: ExpressRoute Port List Result
      type: object
    ExpressRoutePortPropertiesFormat:
      description: Properties specific to ExpressRoutePort resources.
      example:
        allocationDate: allocationDate
        bandwidthInGbps: 0
        encapsulation: Dot1Q
        resourceGuid: resourceGuid
        provisionedBandwidthInGbps: 6.027456183070403
        etherType: etherType
        links:
        - name: name
          etag: etag
          properties:
            connectorType: LC
            routerName: routerName
            adminState: Enabled
            patchPanelId: patchPanelId
            interfaceName: interfaceName
            provisioningState: provisioningState
            rackId: rackId
        - name: name
          etag: etag
          properties:
            connectorType: LC
            routerName: routerName
            adminState: Enabled
            patchPanelId: patchPanelId
            interfaceName: interfaceName
            provisioningState: provisioningState
            rackId: rackId
        provisioningState: provisioningState
        circuits:
        - id: id
        - id: id
        mtu: mtu
        peeringLocation: peeringLocation
      properties:
        allocationDate:
          description: Date of the physical port allocation to be used in Letter of
            Authorization.
          readOnly: true
          type: string
        bandwidthInGbps:
          description: Bandwidth of procured ports in Gbps
          type: integer
        circuits:
          description: Reference the ExpressRoute circuit(s) that are provisioned
            on this ExpressRoutePort resource.
          items:
            $ref: '#/components/schemas/ExpressRoutePortPropertiesFormat_circuits_inner'
          readOnly: true
          type: array
        encapsulation:
          description: Encapsulation method on physical ports.
          enum:
          - Dot1Q
          - QinQ
          type: string
          x-ms-enum:
            modelAsString: true
            name: ExpressRoutePortsEncapsulation
        etherType:
          description: Ether type of the physical port.
          readOnly: true
          type: string
        links:
          description: The set of physical links of the ExpressRoutePort resource
          items:
            $ref: '#/components/schemas/ExpressRouteLink'
          title: ExpressRouteLink Sub-Resources
          type: array
        mtu:
          description: Maximum transmission unit of the physical port pair(s)
          readOnly: true
          type: string
        peeringLocation:
          description: The name of the peering location that the ExpressRoutePort
            is mapped to physically.
          type: string
        provisionedBandwidthInGbps:
          description: Aggregate Gbps of associated circuit bandwidths.
          readOnly: true
          type: number
        provisioningState:
          description: "The provisioning state of the ExpressRoutePort resource. Possible\
            \ values are: 'Succeeded', 'Updating', 'Deleting', and 'Failed'."
          readOnly: true
          type: string
        resourceGuid:
          description: The resource GUID property of the ExpressRoutePort resource.
          type: string
      title: ExpressRoutePort Properties
      type: object
    ExpressRoutePortsLocation:
      allOf:
      - description: Common resource representation.
        properties:
          id:
            description: Resource ID.
            type: string
          location:
            description: Resource location.
            type: string
          name:
            description: Resource name.
            readOnly: true
            type: string
          tags:
            additionalProperties:
              type: string
            description: Resource tags.
            type: object
          type:
            description: Resource type.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: Definition of the ExpressRoutePorts peering location resource.
      example:
        properties:
          address: address
          contact: contact
          availableBandwidths:
          - offerName: offerName
            valueInGbps: 0
          - offerName: offerName
            valueInGbps: 0
          provisioningState: provisioningState
      properties:
        properties:
          $ref: '#/components/schemas/ExpressRoutePortsLocationPropertiesFormat'
      title: ExpressRoutePorts Peering Location
    ExpressRoutePortsLocationBandwidths:
      description: Real-time inventory of available ExpressRoute port bandwidths.
      example:
        offerName: offerName
        valueInGbps: 0
      properties:
        offerName:
          description: Bandwidth descriptive name
          readOnly: true
          type: string
        valueInGbps:
          description: Bandwidth value in Gbps
          readOnly: true
          type: integer
      title: ExpressRoutePorts Location Bandwidths
      type: object
    ExpressRoutePortsLocationListResult:
      description: Response for ListExpressRoutePortsLocations API service call.
      example:
        value:
        - properties:
            address: address
            contact: contact
            availableBandwidths:
            - offerName: offerName
              valueInGbps: 0
            - offerName: offerName
              valueInGbps: 0
            provisioningState: provisioningState
        - properties:
            address: address
            contact: contact
            availableBandwidths:
            - offerName: offerName
              valueInGbps: 0
            - offerName: offerName
              valueInGbps: 0
            provisioningState: provisioningState
        nextLink: nextLink
      properties:
        nextLink:
          description: The URL to get the next set of results.
          type: string
        value:
          description: The list of all ExpressRoutePort peering locations.
          items:
            $ref: '#/components/schemas/ExpressRoutePortsLocation'
          type: array
      title: ExpressRoutePorts Location List Result
      type: object
    ExpressRoutePortsLocationPropertiesFormat:
      description: Properties specific to ExpressRoutePorts peering location resources.
      example:
        address: address
        contact: contact
        availableBandwidths:
        - offerName: offerName
          valueInGbps: 0
        - offerName: offerName
          valueInGbps: 0
        provisioningState: provisioningState
      properties:
        address:
          description: Address of peering location.
          readOnly: true
          type: string
        availableBandwidths:
          description: The inventory of available ExpressRoutePort bandwidths.
          items:
            $ref: '#/components/schemas/ExpressRoutePortsLocationBandwidths'
          type: array
        contact:
          description: Contact details of peering locations.
          readOnly: true
          type: string
        provisioningState:
          description: "The provisioning state of the ExpressRoutePortLocation resource.\
            \ Possible values are: 'Succeeded', 'Updating', 'Deleting', and 'Failed'."
          readOnly: true
          type: string
      title: ExpressRoutePorts Location Properties
      type: object
    ExpressRoutePorts_UpdateTags_request:
      description: Tags object for patch operations.
      properties:
        tags:
          additionalProperties:
            type: string
          description: Resource tags.
          type: object
      type: object
    ExpressRoutePortPropertiesFormat_circuits_inner:
      description: Reference to another subresource.
      example:
        id: id
      properties:
        id:
          description: Resource ID.
          type: string
      type: object
      x-ms-azure-resource: true
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

