openapi: 3.0.0
info:
  contact:
    email: mike.ralphson@gmail.com
    name: Mike Ralphson
    url: https://github.com/mermade/aws2openapi
    x-twitter: PermittedSoc
  description: "<fullname>Amazon Web Services Support</fullname> <p>The <i>Amazon\
    \ Web Services Support API Reference</i> is intended for programmers who need\
    \ detailed information about the Amazon Web Services Support operations and data\
    \ types. You can use the API to manage your support cases programmatically. The\
    \ Amazon Web Services Support API uses HTTP methods that return results in JSON\
    \ format.</p> <note> <ul> <li> <p>You must have a Business, Enterprise On-Ramp,\
    \ or Enterprise Support plan to use the Amazon Web Services Support API. </p>\
    \ </li> <li> <p>If you call the Amazon Web Services Support API from an account\
    \ that doesn't have a Business, Enterprise On-Ramp, or Enterprise Support plan,\
    \ the <code>SubscriptionRequiredException</code> error message appears. For information\
    \ about changing your support plan, see <a href=\"http://aws.amazon.com/premiumsupport/\"\
    >Amazon Web Services Support</a>.</p> </li> </ul> </note> <p>You can also use\
    \ the Amazon Web Services Support API to access features for <a href=\"http://aws.amazon.com/premiumsupport/trustedadvisor/\"\
    >Trusted Advisor</a>. You can return a list of checks and their descriptions,\
    \ get check results, specify checks to refresh, and get the refresh status of\
    \ checks.</p> <p>You can manage your support cases with the following Amazon Web\
    \ Services Support API operations:</p> <ul> <li> <p>The <a>CreateCase</a>, <a>DescribeCases</a>,\
    \ <a>DescribeAttachment</a>, and <a>ResolveCase</a> operations create Amazon Web\
    \ Services Support cases, retrieve information about cases, and resolve cases.</p>\
    \ </li> <li> <p>The <a>DescribeCommunications</a>, <a>AddCommunicationToCase</a>,\
    \ and <a>AddAttachmentsToSet</a> operations retrieve and add communications and\
    \ attachments to Amazon Web Services Support cases.</p> </li> <li> <p>The <a>DescribeServices</a>\
    \ and <a>DescribeSeverityLevels</a> operations return Amazon Web Service names,\
    \ service codes, service categories, and problem severity levels. You use these\
    \ values when you call the <a>CreateCase</a> operation.</p> </li> </ul> <p>You\
    \ can also use the Amazon Web Services Support API to call the Trusted Advisor\
    \ operations. For more information, see <a href=\"https://docs.aws.amazon.com/\"\
    >Trusted Advisor</a> in the <i>Amazon Web Services Support User Guide</i>.</p>\
    \ <p>For authentication of requests, Amazon Web Services Support uses <a href=\"\
    https://docs.aws.amazon.com/general/latest/gr/signature-version-4.html\">Signature\
    \ Version 4 Signing Process</a>.</p> <p>For more information about this service\
    \ and the endpoints to use, see <a href=\"https://docs.aws.amazon.com/awssupport/latest/user/about-support-api.html\"\
    >About the Amazon Web Services Support API</a> in the <i>Amazon Web Services Support\
    \ User Guide</i>.</p>"
  license:
    name: Apache 2.0 License
    url: http://www.apache.org/licenses/
  termsOfService: https://aws.amazon.com/service-terms/
  title: AWS Support
  version: 2013-04-15
  x-release: v4
  x-logo:
    url: https://twitter.com/awscloud/profile_image?size=original
    backgroundColor: '#FFFFFF'
  x-providerName: amazonaws.com
  x-serviceName: support
  x-origin:
  - contentType: application/json
    url: https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/support-2013-04-15.normal.json
    converter:
      url: https://github.com/mermade/aws2openapi
      version: 1.0.0
    x-apisguru-driver: external
  x-apiClientRegistration:
    url: https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct
  x-apisguru-categories:
  - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: https://docs.aws.amazon.com/support/
servers:
- description: The general AWS Support multi-region endpoint
  url: https://support.us-east-1.amazonaws.com
- description: The AWS Support endpoint for China (Beijing) and China (Ningxia)
  url: "http://support.{region}.amazonaws.com.cn"
  variables:
    region:
      default: cn-north-1
      description: The AWS region
      enum:
      - cn-north-1
      - cn-northwest-1
- description: The AWS Support endpoint for China (Beijing) and China (Ningxia)
  url: "https://support.{region}.amazonaws.com.cn"
  variables:
    region:
      default: cn-north-1
      description: The AWS region
      enum:
      - cn-north-1
      - cn-northwest-1
security:
- hmac: []
paths:
  /#X-Amz-Target=AWSSupport_20130415.AddAttachmentsToSet:
    post:
      description: "<p>Adds one or more attachments to an attachment set. </p> <p>An\
        \ attachment set is a temporary container for attachments that you add to\
        \ a case or case communication. The set is available for 1 hour after it's\
        \ created. The <code>expiryTime</code> returned in the response is when the\
        \ set expires. </p> <note> <ul> <li> <p>You must have a Business, Enterprise\
        \ On-Ramp, or Enterprise Support plan to use the Amazon Web Services Support\
        \ API. </p> </li> <li> <p>If you call the Amazon Web Services Support API\
        \ from an account that doesn't have a Business, Enterprise On-Ramp, or Enterprise\
        \ Support plan, the <code>SubscriptionRequiredException</code> error message\
        \ appears. For information about changing your support plan, see <a href=\"\
        http://aws.amazon.com/premiumsupport/\">Amazon Web Services Support</a>.</p>\
        \ </li> </ul> </note>"
      operationId: add_attachments_to_set
      parameters:
      - explode: false
        in: header
        name: X-Amz-Content-Sha256
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Date
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Algorithm
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Credential
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Security-Token
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Signature
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-SignedHeaders
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Target
        required: true
        schema:
          enum:
          - AWSSupport_20130415.AddAttachmentsToSet
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddAttachmentsToSetRequest'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddAttachmentsToSetResponse'
          description: Success
        "480":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
          description: InternalServerError
        "481":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachmentSetIdNotFound'
          description: AttachmentSetIdNotFound
        "482":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachmentSetExpired'
          description: AttachmentSetExpired
        "483":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachmentSetSizeLimitExceeded'
          description: AttachmentSetSizeLimitExceeded
        "484":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachmentLimitExceeded'
          description: AttachmentLimitExceeded
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /#X-Amz-Target=AWSSupport_20130415.AddCommunicationToCase:
    post:
      description: "<p>Adds additional customer communication to an Amazon Web Services\
        \ Support case. Use the <code>caseId</code> parameter to identify the case\
        \ to which to add communication. You can list a set of email addresses to\
        \ copy on the communication by using the <code>ccEmailAddresses</code> parameter.\
        \ The <code>communicationBody</code> value contains the text of the communication.</p>\
        \ <note> <ul> <li> <p>You must have a Business, Enterprise On-Ramp, or Enterprise\
        \ Support plan to use the Amazon Web Services Support API. </p> </li> <li>\
        \ <p>If you call the Amazon Web Services Support API from an account that\
        \ doesn't have a Business, Enterprise On-Ramp, or Enterprise Support plan,\
        \ the <code>SubscriptionRequiredException</code> error message appears. For\
        \ information about changing your support plan, see <a href=\"http://aws.amazon.com/premiumsupport/\"\
        >Amazon Web Services Support</a>.</p> </li> </ul> </note>"
      operationId: add_communication_to_case
      parameters:
      - explode: false
        in: header
        name: X-Amz-Content-Sha256
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Date
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Algorithm
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Credential
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Security-Token
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Signature
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-SignedHeaders
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Target
        required: true
        schema:
          enum:
          - AWSSupport_20130415.AddCommunicationToCase
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddCommunicationToCaseRequest'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddCommunicationToCaseResponse'
          description: Success
        "480":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
          description: InternalServerError
        "481":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CaseIdNotFound'
          description: CaseIdNotFound
        "482":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachmentSetIdNotFound'
          description: AttachmentSetIdNotFound
        "483":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachmentSetExpired'
          description: AttachmentSetExpired
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /#X-Amz-Target=AWSSupport_20130415.CreateCase:
    post:
      description: "<p>Creates a case in the Amazon Web Services Support Center. This\
        \ operation is similar to how you create a case in the Amazon Web Services\
        \ Support Center <a href=\"https://console.aws.amazon.com/support/home#/case/create\"\
        >Create Case</a> page.</p> <p>The Amazon Web Services Support API doesn't\
        \ support requesting service limit increases. You can submit a service limit\
        \ increase in the following ways: </p> <ul> <li> <p>Submit a request from\
        \ the Amazon Web Services Support Center <a href=\"https://console.aws.amazon.com/support/home#/case/create\"\
        >Create Case</a> page.</p> </li> <li> <p>Use the Service Quotas <a href=\"\
        https://docs.aws.amazon.com/servicequotas/2019-06-24/apireference/API_RequestServiceQuotaIncrease.html\"\
        >RequestServiceQuotaIncrease</a> operation.</p> </li> </ul> <p>A successful\
        \ <code>CreateCase</code> request returns an Amazon Web Services Support case\
        \ number. You can use the <a>DescribeCases</a> operation and specify the case\
        \ number to get existing Amazon Web Services Support cases. After you create\
        \ a case, use the <a>AddCommunicationToCase</a> operation to add additional\
        \ communication or attachments to an existing case.</p> <p>The <code>caseId</code>\
        \ is separate from the <code>displayId</code> that appears in the <a href=\"\
        https://console.aws.amazon.com/support\">Amazon Web Services Support Center</a>.\
        \ Use the <a>DescribeCases</a> operation to get the <code>displayId</code>.</p>\
        \ <note> <ul> <li> <p>You must have a Business, Enterprise On-Ramp, or Enterprise\
        \ Support plan to use the Amazon Web Services Support API. </p> </li> <li>\
        \ <p>If you call the Amazon Web Services Support API from an account that\
        \ doesn't have a Business, Enterprise On-Ramp, or Enterprise Support plan,\
        \ the <code>SubscriptionRequiredException</code> error message appears. For\
        \ information about changing your support plan, see <a href=\"http://aws.amazon.com/premiumsupport/\"\
        >Amazon Web Services Support</a>.</p> </li> </ul> </note>"
      operationId: create_case
      parameters:
      - explode: false
        in: header
        name: X-Amz-Content-Sha256
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Date
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Algorithm
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Credential
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Security-Token
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Signature
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-SignedHeaders
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Target
        required: true
        schema:
          enum:
          - AWSSupport_20130415.CreateCase
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCaseRequest'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateCaseResponse'
          description: Success
        "480":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
          description: InternalServerError
        "481":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CaseCreationLimitExceeded'
          description: CaseCreationLimitExceeded
        "482":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachmentSetIdNotFound'
          description: AttachmentSetIdNotFound
        "483":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachmentSetExpired'
          description: AttachmentSetExpired
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /#X-Amz-Target=AWSSupport_20130415.DescribeAttachment:
    post:
      description: "<p>Returns the attachment that has the specified ID. Attachments\
        \ can include screenshots, error logs, or other files that describe your issue.\
        \ Attachment IDs are generated by the case management system when you add\
        \ an attachment to a case or case communication. Attachment IDs are returned\
        \ in the <a>AttachmentDetails</a> objects that are returned by the <a>DescribeCommunications</a>\
        \ operation.</p> <note> <ul> <li> <p>You must have a Business, Enterprise\
        \ On-Ramp, or Enterprise Support plan to use the Amazon Web Services Support\
        \ API. </p> </li> <li> <p>If you call the Amazon Web Services Support API\
        \ from an account that doesn't have a Business, Enterprise On-Ramp, or Enterprise\
        \ Support plan, the <code>SubscriptionRequiredException</code> error message\
        \ appears. For information about changing your support plan, see <a href=\"\
        http://aws.amazon.com/premiumsupport/\">Amazon Web Services Support</a>.</p>\
        \ </li> </ul> </note>"
      operationId: describe_attachment
      parameters:
      - explode: false
        in: header
        name: X-Amz-Content-Sha256
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Date
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Algorithm
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Credential
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Security-Token
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Signature
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-SignedHeaders
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Target
        required: true
        schema:
          enum:
          - AWSSupport_20130415.DescribeAttachment
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DescribeAttachmentRequest'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DescribeAttachmentResponse'
          description: Success
        "480":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
          description: InternalServerError
        "481":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DescribeAttachmentLimitExceeded'
          description: DescribeAttachmentLimitExceeded
        "482":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachmentIdNotFound'
          description: AttachmentIdNotFound
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /#X-Amz-Target=AWSSupport_20130415.DescribeCases:
    post:
      description: "<p>Returns a list of cases that you specify by passing one or\
        \ more case IDs. You can use the <code>afterTime</code> and <code>beforeTime</code>\
        \ parameters to filter the cases by date. You can set values for the <code>includeResolvedCases</code>\
        \ and <code>includeCommunications</code> parameters to specify how much information\
        \ to return.</p> <p>The response returns the following in JSON format:</p>\
        \ <ul> <li> <p>One or more <a href=\"https://docs.aws.amazon.com/awssupport/latest/APIReference/API_CaseDetails.html\"\
        >CaseDetails</a> data types.</p> </li> <li> <p>One or more <code>nextToken</code>\
        \ values, which specify where to paginate the returned records represented\
        \ by the <code>CaseDetails</code> objects.</p> </li> </ul> <p>Case data is\
        \ available for 12 months after creation. If a case was created more than\
        \ 12 months ago, a request might return an error.</p> <note> <ul> <li> <p>You\
        \ must have a Business, Enterprise On-Ramp, or Enterprise Support plan to\
        \ use the Amazon Web Services Support API. </p> </li> <li> <p>If you call\
        \ the Amazon Web Services Support API from an account that doesn't have a\
        \ Business, Enterprise On-Ramp, or Enterprise Support plan, the <code>SubscriptionRequiredException</code>\
        \ error message appears. For information about changing your support plan,\
        \ see <a href=\"http://aws.amazon.com/premiumsupport/\">Amazon Web Services\
        \ Support</a>.</p> </li> </ul> </note>"
      operationId: describe_cases
      parameters:
      - explode: false
        in: header
        name: X-Amz-Content-Sha256
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Date
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Algorithm
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Credential
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Security-Token
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Signature
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-SignedHeaders
        required: false
        schema:
          type: string
        style: simple
      - description: Pagination limit
        explode: true
        in: query
        name: maxResults
        required: false
        schema:
          type: string
        style: form
      - description: Pagination token
        explode: true
        in: query
        name: nextToken
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: header
        name: X-Amz-Target
        required: true
        schema:
          enum:
          - AWSSupport_20130415.DescribeCases
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DescribeCasesRequest'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DescribeCasesResponse'
          description: Success
        "480":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
          description: InternalServerError
        "481":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CaseIdNotFound'
          description: CaseIdNotFound
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /#X-Amz-Target=AWSSupport_20130415.DescribeCommunications:
    post:
      description: "<p>Returns communications and attachments for one or more support\
        \ cases. Use the <code>afterTime</code> and <code>beforeTime</code> parameters\
        \ to filter by date. You can use the <code>caseId</code> parameter to restrict\
        \ the results to a specific case.</p> <p>Case data is available for 12 months\
        \ after creation. If a case was created more than 12 months ago, a request\
        \ for data might cause an error.</p> <p>You can use the <code>maxResults</code>\
        \ and <code>nextToken</code> parameters to control the pagination of the results.\
        \ Set <code>maxResults</code> to the number of cases that you want to display\
        \ on each page, and use <code>nextToken</code> to specify the resumption of\
        \ pagination.</p> <note> <ul> <li> <p>You must have a Business, Enterprise\
        \ On-Ramp, or Enterprise Support plan to use the Amazon Web Services Support\
        \ API. </p> </li> <li> <p>If you call the Amazon Web Services Support API\
        \ from an account that doesn't have a Business, Enterprise On-Ramp, or Enterprise\
        \ Support plan, the <code>SubscriptionRequiredException</code> error message\
        \ appears. For information about changing your support plan, see <a href=\"\
        http://aws.amazon.com/premiumsupport/\">Amazon Web Services Support</a>.</p>\
        \ </li> </ul> </note>"
      operationId: describe_communications
      parameters:
      - explode: false
        in: header
        name: X-Amz-Content-Sha256
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Date
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Algorithm
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Credential
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Security-Token
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Signature
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-SignedHeaders
        required: false
        schema:
          type: string
        style: simple
      - description: Pagination limit
        explode: true
        in: query
        name: maxResults
        required: false
        schema:
          type: string
        style: form
      - description: Pagination token
        explode: true
        in: query
        name: nextToken
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: header
        name: X-Amz-Target
        required: true
        schema:
          enum:
          - AWSSupport_20130415.DescribeCommunications
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DescribeCommunicationsRequest'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DescribeCommunicationsResponse'
          description: Success
        "480":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
          description: InternalServerError
        "481":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CaseIdNotFound'
          description: CaseIdNotFound
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /#X-Amz-Target=AWSSupport_20130415.DescribeCreateCaseOptions:
    post:
      description: "<p>Returns a list of CreateCaseOption types along with the corresponding\
        \ supported hours and language availability. You can specify the <code>language</code>\
        \ <code>categoryCode</code>, <code>issueType</code> and <code>serviceCode</code>\
        \ used to retrieve the CreateCaseOptions.</p> <note> <ul> <li> <p>You must\
        \ have a Business, Enterprise On-Ramp, or Enterprise Support plan to use the\
        \ Amazon Web Services Support API. </p> </li> <li> <p>If you call the Amazon\
        \ Web Services Support API from an account that doesn't have a Business, Enterprise\
        \ On-Ramp, or Enterprise Support plan, the <code>SubscriptionRequiredException</code>\
        \ error message appears. For information about changing your support plan,\
        \ see <a href=\"http://aws.amazon.com/premiumsupport/\">Amazon Web Services\
        \ Support</a>.</p> </li> </ul> </note>"
      operationId: describe_create_case_options
      parameters:
      - explode: false
        in: header
        name: X-Amz-Content-Sha256
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Date
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Algorithm
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Credential
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Security-Token
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Signature
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-SignedHeaders
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Target
        required: true
        schema:
          enum:
          - AWSSupport_20130415.DescribeCreateCaseOptions
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DescribeCreateCaseOptionsRequest'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DescribeCreateCaseOptionsResponse'
          description: Success
        "480":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
          description: InternalServerError
        "481":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThrottlingException'
          description: ThrottlingException
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /#X-Amz-Target=AWSSupport_20130415.DescribeServices:
    post:
      description: "<p>Returns the current list of Amazon Web Services services and\
        \ a list of service categories for each service. You then use service names\
        \ and categories in your <a>CreateCase</a> requests. Each Amazon Web Services\
        \ service has its own set of categories.</p> <p>The service codes and category\
        \ codes correspond to the values that appear in the <b>Service</b> and <b>Category</b>\
        \ lists on the Amazon Web Services Support Center <a href=\"https://console.aws.amazon.com/support/home#/case/create\"\
        >Create Case</a> page. The values in those fields don't necessarily match\
        \ the service codes and categories returned by the <code>DescribeServices</code>\
        \ operation. Always use the service codes and categories that the <code>DescribeServices</code>\
        \ operation returns, so that you have the most recent set of service and category\
        \ codes.</p> <note> <ul> <li> <p>You must have a Business, Enterprise On-Ramp,\
        \ or Enterprise Support plan to use the Amazon Web Services Support API. </p>\
        \ </li> <li> <p>If you call the Amazon Web Services Support API from an account\
        \ that doesn't have a Business, Enterprise On-Ramp, or Enterprise Support\
        \ plan, the <code>SubscriptionRequiredException</code> error message appears.\
        \ For information about changing your support plan, see <a href=\"http://aws.amazon.com/premiumsupport/\"\
        >Amazon Web Services Support</a>.</p> </li> </ul> </note>"
      operationId: describe_services
      parameters:
      - explode: false
        in: header
        name: X-Amz-Content-Sha256
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Date
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Algorithm
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Credential
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Security-Token
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Signature
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-SignedHeaders
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Target
        required: true
        schema:
          enum:
          - AWSSupport_20130415.DescribeServices
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DescribeServicesRequest'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DescribeServicesResponse'
          description: Success
        "480":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
          description: InternalServerError
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /#X-Amz-Target=AWSSupport_20130415.DescribeSeverityLevels:
    post:
      description: "<p>Returns the list of severity levels that you can assign to\
        \ a support case. The severity level for a case is also a field in the <a>CaseDetails</a>\
        \ data type that you include for a <a>CreateCase</a> request.</p> <note> <ul>\
        \ <li> <p>You must have a Business, Enterprise On-Ramp, or Enterprise Support\
        \ plan to use the Amazon Web Services Support API. </p> </li> <li> <p>If you\
        \ call the Amazon Web Services Support API from an account that doesn't have\
        \ a Business, Enterprise On-Ramp, or Enterprise Support plan, the <code>SubscriptionRequiredException</code>\
        \ error message appears. For information about changing your support plan,\
        \ see <a href=\"http://aws.amazon.com/premiumsupport/\">Amazon Web Services\
        \ Support</a>.</p> </li> </ul> </note>"
      operationId: describe_severity_levels
      parameters:
      - explode: false
        in: header
        name: X-Amz-Content-Sha256
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Date
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Algorithm
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Credential
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Security-Token
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Signature
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-SignedHeaders
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Target
        required: true
        schema:
          enum:
          - AWSSupport_20130415.DescribeSeverityLevels
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DescribeSeverityLevelsRequest'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DescribeSeverityLevelsResponse'
          description: Success
        "480":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
          description: InternalServerError
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /#X-Amz-Target=AWSSupport_20130415.DescribeSupportedLanguages:
    post:
      description: "<p>Returns a list of supported languages for a specified <code>categoryCode</code>,\
        \ <code>issueType</code> and <code>serviceCode</code>. The returned supported\
        \ languages will include a ISO 639-1 code for the <code>language</code>, and\
        \ the language display name.</p> <note> <ul> <li> <p>You must have a Business,\
        \ Enterprise On-Ramp, or Enterprise Support plan to use the Amazon Web Services\
        \ Support API. </p> </li> <li> <p>If you call the Amazon Web Services Support\
        \ API from an account that doesn't have a Business, Enterprise On-Ramp, or\
        \ Enterprise Support plan, the <code>SubscriptionRequiredException</code>\
        \ error message appears. For information about changing your support plan,\
        \ see <a href=\"http://aws.amazon.com/premiumsupport/\">Amazon Web Services\
        \ Support</a>.</p> </li> </ul> </note>"
      operationId: describe_supported_languages
      parameters:
      - explode: false
        in: header
        name: X-Amz-Content-Sha256
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Date
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Algorithm
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Credential
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Security-Token
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Signature
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-SignedHeaders
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Target
        required: true
        schema:
          enum:
          - AWSSupport_20130415.DescribeSupportedLanguages
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DescribeSupportedLanguagesRequest'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DescribeSupportedLanguagesResponse'
          description: Success
        "480":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
          description: InternalServerError
        "481":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThrottlingException'
          description: ThrottlingException
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /#X-Amz-Target=AWSSupport_20130415.DescribeTrustedAdvisorCheckRefreshStatuses:
    post:
      description: "<p>Returns the refresh status of the Trusted Advisor checks that\
        \ have the specified check IDs. You can get the check IDs by calling the <a>DescribeTrustedAdvisorChecks</a>\
        \ operation.</p> <p>Some checks are refreshed automatically, and you can't\
        \ return their refresh statuses by using the <code>DescribeTrustedAdvisorCheckRefreshStatuses</code>\
        \ operation. If you call this operation for these checks, you might see an\
        \ <code>InvalidParameterValue</code> error.</p> <note> <ul> <li> <p>You must\
        \ have a Business, Enterprise On-Ramp, or Enterprise Support plan to use the\
        \ Amazon Web Services Support API. </p> </li> <li> <p>If you call the Amazon\
        \ Web Services Support API from an account that doesn't have a Business, Enterprise\
        \ On-Ramp, or Enterprise Support plan, the <code>SubscriptionRequiredException</code>\
        \ error message appears. For information about changing your support plan,\
        \ see <a href=\"http://aws.amazon.com/premiumsupport/\">Amazon Web Services\
        \ Support</a>.</p> </li> </ul> </note> <p>To call the Trusted Advisor operations\
        \ in the Amazon Web Services Support API, you must use the US East (N. Virginia)\
        \ endpoint. Currently, the US West (Oregon) and Europe (Ireland) endpoints\
        \ don't support the Trusted Advisor operations. For more information, see\
        \ <a href=\"https://docs.aws.amazon.com/awssupport/latest/user/about-support-api.html#endpoint\"\
        >About the Amazon Web Services Support API</a> in the <i>Amazon Web Services\
        \ Support User Guide</i>.</p>"
      operationId: describe_trusted_advisor_check_refresh_statuses
      parameters:
      - explode: false
        in: header
        name: X-Amz-Content-Sha256
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Date
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Algorithm
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Credential
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Security-Token
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Signature
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-SignedHeaders
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Target
        required: true
        schema:
          enum:
          - AWSSupport_20130415.DescribeTrustedAdvisorCheckRefreshStatuses
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DescribeTrustedAdvisorCheckRefreshStatusesRequest'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DescribeTrustedAdvisorCheckRefreshStatusesResponse'
          description: Success
        "480":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
          description: InternalServerError
        "481":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThrottlingException'
          description: ThrottlingException
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /#X-Amz-Target=AWSSupport_20130415.DescribeTrustedAdvisorCheckResult:
    post:
      description: "<p>Returns the results of the Trusted Advisor check that has the\
        \ specified check ID. You can get the check IDs by calling the <a>DescribeTrustedAdvisorChecks</a>\
        \ operation.</p> <p>The response contains a <a>TrustedAdvisorCheckResult</a>\
        \ object, which contains these three objects:</p> <ul> <li> <p> <a>TrustedAdvisorCategorySpecificSummary</a>\
        \ </p> </li> <li> <p> <a>TrustedAdvisorResourceDetail</a> </p> </li> <li>\
        \ <p> <a>TrustedAdvisorResourcesSummary</a> </p> </li> </ul> <p>In addition,\
        \ the response contains these fields:</p> <ul> <li> <p> <b>status</b> - The\
        \ alert status of the check can be <code>ok</code> (green), <code>warning</code>\
        \ (yellow), <code>error</code> (red), or <code>not_available</code>.</p> </li>\
        \ <li> <p> <b>timestamp</b> - The time of the last refresh of the check.</p>\
        \ </li> <li> <p> <b>checkId</b> - The unique identifier for the check.</p>\
        \ </li> </ul> <note> <ul> <li> <p>You must have a Business, Enterprise On-Ramp,\
        \ or Enterprise Support plan to use the Amazon Web Services Support API. </p>\
        \ </li> <li> <p>If you call the Amazon Web Services Support API from an account\
        \ that doesn't have a Business, Enterprise On-Ramp, or Enterprise Support\
        \ plan, the <code>SubscriptionRequiredException</code> error message appears.\
        \ For information about changing your support plan, see <a href=\"http://aws.amazon.com/premiumsupport/\"\
        >Amazon Web Services Support</a>.</p> </li> </ul> </note> <p>To call the Trusted\
        \ Advisor operations in the Amazon Web Services Support API, you must use\
        \ the US East (N. Virginia) endpoint. Currently, the US West (Oregon) and\
        \ Europe (Ireland) endpoints don't support the Trusted Advisor operations.\
        \ For more information, see <a href=\"https://docs.aws.amazon.com/awssupport/latest/user/about-support-api.html#endpoint\"\
        >About the Amazon Web Services Support API</a> in the <i>Amazon Web Services\
        \ Support User Guide</i>.</p>"
      operationId: describe_trusted_advisor_check_result
      parameters:
      - explode: false
        in: header
        name: X-Amz-Content-Sha256
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Date
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Algorithm
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Credential
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Security-Token
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Signature
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-SignedHeaders
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Target
        required: true
        schema:
          enum:
          - AWSSupport_20130415.DescribeTrustedAdvisorCheckResult
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DescribeTrustedAdvisorCheckResultRequest'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DescribeTrustedAdvisorCheckResultResponse'
          description: Success
        "480":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
          description: InternalServerError
        "481":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThrottlingException'
          description: ThrottlingException
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /#X-Amz-Target=AWSSupport_20130415.DescribeTrustedAdvisorCheckSummaries:
    post:
      description: "<p>Returns the results for the Trusted Advisor check summaries\
        \ for the check IDs that you specified. You can get the check IDs by calling\
        \ the <a>DescribeTrustedAdvisorChecks</a> operation.</p> <p>The response contains\
        \ an array of <a>TrustedAdvisorCheckSummary</a> objects.</p> <note> <ul> <li>\
        \ <p>You must have a Business, Enterprise On-Ramp, or Enterprise Support plan\
        \ to use the Amazon Web Services Support API. </p> </li> <li> <p>If you call\
        \ the Amazon Web Services Support API from an account that doesn't have a\
        \ Business, Enterprise On-Ramp, or Enterprise Support plan, the <code>SubscriptionRequiredException</code>\
        \ error message appears. For information about changing your support plan,\
        \ see <a href=\"http://aws.amazon.com/premiumsupport/\">Amazon Web Services\
        \ Support</a>.</p> </li> </ul> </note> <p>To call the Trusted Advisor operations\
        \ in the Amazon Web Services Support API, you must use the US East (N. Virginia)\
        \ endpoint. Currently, the US West (Oregon) and Europe (Ireland) endpoints\
        \ don't support the Trusted Advisor operations. For more information, see\
        \ <a href=\"https://docs.aws.amazon.com/awssupport/latest/user/about-support-api.html#endpoint\"\
        >About the Amazon Web Services Support API</a> in the <i>Amazon Web Services\
        \ Support User Guide</i>.</p>"
      operationId: describe_trusted_advisor_check_summaries
      parameters:
      - explode: false
        in: header
        name: X-Amz-Content-Sha256
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Date
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Algorithm
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Credential
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Security-Token
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Signature
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-SignedHeaders
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Target
        required: true
        schema:
          enum:
          - AWSSupport_20130415.DescribeTrustedAdvisorCheckSummaries
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DescribeTrustedAdvisorCheckSummariesRequest'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DescribeTrustedAdvisorCheckSummariesResponse'
          description: Success
        "480":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
          description: InternalServerError
        "481":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThrottlingException'
          description: ThrottlingException
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /#X-Amz-Target=AWSSupport_20130415.DescribeTrustedAdvisorChecks:
    post:
      description: "<p>Returns information about all available Trusted Advisor checks,\
        \ including the name, ID, category, description, and metadata. You must specify\
        \ a language code.</p> <p>The response contains a <a>TrustedAdvisorCheckDescription</a>\
        \ object for each check. You must set the Amazon Web Services Region to us-east-1.</p>\
        \ <note> <ul> <li> <p>You must have a Business, Enterprise On-Ramp, or Enterprise\
        \ Support plan to use the Amazon Web Services Support API. </p> </li> <li>\
        \ <p>If you call the Amazon Web Services Support API from an account that\
        \ doesn't have a Business, Enterprise On-Ramp, or Enterprise Support plan,\
        \ the <code>SubscriptionRequiredException</code> error message appears. For\
        \ information about changing your support plan, see <a href=\"http://aws.amazon.com/premiumsupport/\"\
        >Amazon Web Services Support</a>.</p> </li> <li> <p>The names and descriptions\
        \ for Trusted Advisor checks are subject to change. We recommend that you\
        \ specify the check ID in your code to uniquely identify a check.</p> </li>\
        \ </ul> </note> <p>To call the Trusted Advisor operations in the Amazon Web\
        \ Services Support API, you must use the US East (N. Virginia) endpoint. Currently,\
        \ the US West (Oregon) and Europe (Ireland) endpoints don't support the Trusted\
        \ Advisor operations. For more information, see <a href=\"https://docs.aws.amazon.com/awssupport/latest/user/about-support-api.html#endpoint\"\
        >About the Amazon Web Services Support API</a> in the <i>Amazon Web Services\
        \ Support User Guide</i>.</p>"
      operationId: describe_trusted_advisor_checks
      parameters:
      - explode: false
        in: header
        name: X-Amz-Content-Sha256
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Date
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Algorithm
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Credential
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Security-Token
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Signature
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-SignedHeaders
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Target
        required: true
        schema:
          enum:
          - AWSSupport_20130415.DescribeTrustedAdvisorChecks
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DescribeTrustedAdvisorChecksRequest'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DescribeTrustedAdvisorChecksResponse'
          description: Success
        "480":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
          description: InternalServerError
        "481":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThrottlingException'
          description: ThrottlingException
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /#X-Amz-Target=AWSSupport_20130415.RefreshTrustedAdvisorCheck:
    post:
      description: "<p>Refreshes the Trusted Advisor check that you specify using\
        \ the check ID. You can get the check IDs by calling the <a>DescribeTrustedAdvisorChecks</a>\
        \ operation.</p> <p>Some checks are refreshed automatically. If you call the\
        \ <code>RefreshTrustedAdvisorCheck</code> operation to refresh them, you might\
        \ see the <code>InvalidParameterValue</code> error.</p> <p>The response contains\
        \ a <a>TrustedAdvisorCheckRefreshStatus</a> object.</p> <note> <ul> <li> <p>You\
        \ must have a Business, Enterprise On-Ramp, or Enterprise Support plan to\
        \ use the Amazon Web Services Support API. </p> </li> <li> <p>If you call\
        \ the Amazon Web Services Support API from an account that doesn't have a\
        \ Business, Enterprise On-Ramp, or Enterprise Support plan, the <code>SubscriptionRequiredException</code>\
        \ error message appears. For information about changing your support plan,\
        \ see <a href=\"http://aws.amazon.com/premiumsupport/\">Amazon Web Services\
        \ Support</a>.</p> </li> </ul> </note> <p>To call the Trusted Advisor operations\
        \ in the Amazon Web Services Support API, you must use the US East (N. Virginia)\
        \ endpoint. Currently, the US West (Oregon) and Europe (Ireland) endpoints\
        \ don't support the Trusted Advisor operations. For more information, see\
        \ <a href=\"https://docs.aws.amazon.com/awssupport/latest/user/about-support-api.html#endpoint\"\
        >About the Amazon Web Services Support API</a> in the <i>Amazon Web Services\
        \ Support User Guide</i>.</p>"
      operationId: refresh_trusted_advisor_check
      parameters:
      - explode: false
        in: header
        name: X-Amz-Content-Sha256
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Date
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Algorithm
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Credential
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Security-Token
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Signature
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-SignedHeaders
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Target
        required: true
        schema:
          enum:
          - AWSSupport_20130415.RefreshTrustedAdvisorCheck
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshTrustedAdvisorCheckRequest'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefreshTrustedAdvisorCheckResponse'
          description: Success
        "480":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
          description: InternalServerError
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /#X-Amz-Target=AWSSupport_20130415.ResolveCase:
    post:
      description: "<p>Resolves a support case. This operation takes a <code>caseId</code>\
        \ and returns the initial and final state of the case.</p> <note> <ul> <li>\
        \ <p>You must have a Business, Enterprise On-Ramp, or Enterprise Support plan\
        \ to use the Amazon Web Services Support API. </p> </li> <li> <p>If you call\
        \ the Amazon Web Services Support API from an account that doesn't have a\
        \ Business, Enterprise On-Ramp, or Enterprise Support plan, the <code>SubscriptionRequiredException</code>\
        \ error message appears. For information about changing your support plan,\
        \ see <a href=\"http://aws.amazon.com/premiumsupport/\">Amazon Web Services\
        \ Support</a>.</p> </li> </ul> </note>"
      operationId: resolve_case
      parameters:
      - explode: false
        in: header
        name: X-Amz-Content-Sha256
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Date
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Algorithm
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Credential
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Security-Token
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Signature
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-SignedHeaders
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Amz-Target
        required: true
        schema:
          enum:
          - AWSSupport_20130415.ResolveCase
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResolveCaseRequest'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResolveCaseResponse'
          description: Success
        "480":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
          description: InternalServerError
        "481":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CaseIdNotFound'
          description: CaseIdNotFound
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
components:
  parameters:
    X-Amz-Content-Sha256:
      explode: false
      in: header
      name: X-Amz-Content-Sha256
      required: false
      schema:
        type: string
      style: simple
    X-Amz-Date:
      explode: false
      in: header
      name: X-Amz-Date
      required: false
      schema:
        type: string
      style: simple
    X-Amz-Algorithm:
      explode: false
      in: header
      name: X-Amz-Algorithm
      required: false
      schema:
        type: string
      style: simple
    X-Amz-Credential:
      explode: false
      in: header
      name: X-Amz-Credential
      required: false
      schema:
        type: string
      style: simple
    X-Amz-Security-Token:
      explode: false
      in: header
      name: X-Amz-Security-Token
      required: false
      schema:
        type: string
      style: simple
    X-Amz-Signature:
      explode: false
      in: header
      name: X-Amz-Signature
      required: false
      schema:
        type: string
      style: simple
    X-Amz-SignedHeaders:
      explode: false
      in: header
      name: X-Amz-SignedHeaders
      required: false
      schema:
        type: string
      style: simple
  schemas:
    AddAttachmentsToSetResponse:
      description: The ID and expiry time of the attachment set returned by the <a>AddAttachmentsToSet</a>
        operation.
      example:
        expiryTime: ""
        attachmentSetId: ""
      properties:
        attachmentSetId:
          allOf:
          - $ref: '#/components/schemas/AttachmentSetId'
          - description: "The ID of the attachment set. If an <code>attachmentSetId</code>\
              \ was not specified, a new attachment set is created, and the ID of\
              \ the set is returned in the response. If an <code>attachmentSetId</code>\
              \ was specified, the attachments are added to the specified set, if\
              \ it exists."
          title: attachmentSetId
        expiryTime:
          allOf:
          - $ref: '#/components/schemas/ExpiryTime'
          - description: The time and date when the attachment set expires.
          title: expiryTime
      title: AddAttachmentsToSetResponse
      type: object
    AddAttachmentsToSetRequest:
      example:
        attachments: ""
        attachmentSetId: ""
      properties:
        attachmentSetId:
          allOf:
          - $ref: '#/components/schemas/AttachmentSetId'
          - description: "The ID of the attachment set. If an <code>attachmentSetId</code>\
              \ is not specified, a new attachment set is created, and the ID of the\
              \ set is returned in the response. If an <code>attachmentSetId</code>\
              \ is specified, the attachments are added to the specified set, if it\
              \ exists."
          title: attachmentSetId
        attachments:
          allOf:
          - $ref: '#/components/schemas/Attachments'
          - description: "<p>One or more attachments to add to the set. You can add\
              \ up to three attachments per set. The size limit is 5 MB per attachment.</p>\
              \ <p>In the <code>Attachment</code> object, use the <code>data</code>\
              \ parameter to specify the contents of the attachment file. In the previous\
              \ request syntax, the value for <code>data</code> appear as <code>blob</code>,\
              \ which is represented as a base64-encoded string. The value for <code>fileName</code>\
              \ is the name of the attachment, such as <code>troubleshoot-screenshot.png</code>.</p>"
          title: attachments
      required:
      - attachments
      title: AddAttachmentsToSetRequest
      type: object
    InternalServerError: {}
    AttachmentSetIdNotFound: {}
    AttachmentSetExpired: {}
    AttachmentSetSizeLimitExceeded: {}
    AttachmentLimitExceeded: {}
    AddCommunicationToCaseResponse:
      description: The result of the <a>AddCommunicationToCase</a> operation.
      example:
        result: ""
      properties:
        result:
          allOf:
          - $ref: '#/components/schemas/Result'
          - description: "True if <a>AddCommunicationToCase</a> succeeds. Otherwise,\
              \ returns an error."
          title: result
      title: AddCommunicationToCaseResponse
      type: object
    AddCommunicationToCaseRequest:
      example:
        caseId: ""
        ccEmailAddresses: ""
        attachmentSetId: ""
        communicationBody: ""
      properties:
        caseId:
          allOf:
          - $ref: '#/components/schemas/CaseId'
          - description: "The support case ID requested or returned in the call. The\
              \ case ID is an alphanumeric string formatted as shown in this example:\
              \ case-<i>12345678910-2013-c4c1d2bf33c5cf47</i> "
          title: caseId
        communicationBody:
          allOf:
          - $ref: '#/components/schemas/CommunicationBody'
          - description: The body of an email communication to add to the support
              case.
          title: communicationBody
        ccEmailAddresses:
          allOf:
          - $ref: '#/components/schemas/CcEmailAddressList'
          - description: The email addresses in the CC line of an email to be added
              to the support case.
          title: ccEmailAddresses
        attachmentSetId:
          allOf:
          - $ref: '#/components/schemas/AttachmentSetId'
          - description: 'The ID of a set of one or more attachments for the communication
              to add to the case. Create the set by calling <a>AddAttachmentsToSet</a> '
          title: attachmentSetId
      required:
      - communicationBody
      title: AddCommunicationToCaseRequest
      type: object
    CaseIdNotFound: {}
    CreateCaseResponse:
      description: The support case ID returned by a successful completion of the
        <a>CreateCase</a> operation.
      example:
        caseId: ""
      properties:
        caseId:
          allOf:
          - $ref: '#/components/schemas/CaseId'
          - description: "The support case ID requested or returned in the call. The\
              \ case ID is an alphanumeric string in the following format: case-<i>12345678910-2013-c4c1d2bf33c5cf47</i> "
          title: caseId
      title: CreateCaseResponse
      type: object
    CreateCaseRequest:
      example:
        issueType: ""
        serviceCode: ""
        subject: ""
        ccEmailAddresses: ""
        attachmentSetId: ""
        communicationBody: ""
        language: ""
        severityCode: ""
        categoryCode: ""
      properties:
        subject:
          allOf:
          - $ref: '#/components/schemas/Subject'
          - description: The title of the support case. The title appears in the <b>Subject</b>
              field on the Amazon Web Services Support Center <a href="https://console.aws.amazon.com/support/home#/case/create">Create
              Case</a> page.
          title: subject
        serviceCode:
          allOf:
          - $ref: '#/components/schemas/ServiceCode'
          - description: The code for the Amazon Web Services service. You can use
              the <a>DescribeServices</a> operation to get the possible <code>serviceCode</code>
              values.
          title: serviceCode
        severityCode:
          allOf:
          - $ref: '#/components/schemas/SeverityCode'
          - description: "<p>A value that indicates the urgency of the case. This\
              \ value determines the response time according to your service level\
              \ agreement with Amazon Web Services Support. You can use the <a>DescribeSeverityLevels</a>\
              \ operation to get the possible values for <code>severityCode</code>.\
              \ </p> <p>For more information, see <a>SeverityLevel</a> and <a href=\"\
              https://docs.aws.amazon.com/awssupport/latest/user/getting-started.html#choosing-severity\"\
              >Choosing a Severity</a> in the <i>Amazon Web Services Support User\
              \ Guide</i>.</p> <note> <p>The availability of severity levels depends\
              \ on the support plan for the Amazon Web Services account.</p> </note>"
          title: severityCode
        categoryCode:
          allOf:
          - $ref: '#/components/schemas/CategoryCode'
          - description: The category of problem for the support case. You also use
              the <a>DescribeServices</a> operation to get the category code for a
              service. Each Amazon Web Services service defines its own set of category
              codes.
          title: categoryCode
        communicationBody:
          allOf:
          - $ref: '#/components/schemas/CommunicationBody'
          - description: The communication body text that describes the issue. This
              text appears in the <b>Description</b> field on the Amazon Web Services
              Support Center <a href="https://console.aws.amazon.com/support/home#/case/create">Create
              Case</a> page.
          title: communicationBody
        ccEmailAddresses:
          allOf:
          - $ref: '#/components/schemas/CcEmailAddressList'
          - description: 'A list of email addresses that Amazon Web Services Support
              copies on case correspondence. Amazon Web Services Support identifies
              the account that creates the case when you specify your Amazon Web Services
              credentials in an HTTP POST method or use the <a href="http://aws.amazon.com/tools/">Amazon
              Web Services SDKs</a>. '
          title: ccEmailAddresses
        language:
          allOf:
          - $ref: '#/components/schemas/Language'
          - description: "The language in which Amazon Web Services Support handles\
              \ the case. Amazon Web Services Support currently supports Chinese (“\
              zh”), English (\"en\"), Japanese (\"ja\") and Korean (“ko”). You must\
              \ specify the ISO 639-1 code for the <code>language</code> parameter\
              \ if you want support in that language."
          title: language
        issueType:
          allOf:
          - $ref: '#/components/schemas/IssueType'
          - description: "The type of issue for the case. You can specify <code>customer-service</code>\
              \ or <code>technical</code>. If you don't specify a value, the default\
              \ is <code>technical</code>."
          title: issueType
        attachmentSetId:
          allOf:
          - $ref: '#/components/schemas/AttachmentSetId'
          - description: The ID of a set of one or more attachments for the case.
              Create the set by using the <a>AddAttachmentsToSet</a> operation.
          title: attachmentSetId
      required:
      - communicationBody
      - subject
      title: CreateCaseRequest
      type: object
    CaseCreationLimitExceeded: {}
    DescribeAttachmentResponse:
      description: The content and file name of the attachment returned by the <a>DescribeAttachment</a>
        operation.
      example:
        attachment:
          fileName: ""
          data: ""
      properties:
        attachment:
          $ref: '#/components/schemas/DescribeAttachmentResponse_attachment'
      title: DescribeAttachmentResponse
      type: object
    DescribeAttachmentRequest:
      example:
        attachmentId: ""
      properties:
        attachmentId:
          allOf:
          - $ref: '#/components/schemas/AttachmentId'
          - description: The ID of the attachment to return. Attachment IDs are returned
              by the <a>DescribeCommunications</a> operation.
          title: attachmentId
      required:
      - attachmentId
      title: DescribeAttachmentRequest
      type: object
    DescribeAttachmentLimitExceeded: {}
    AttachmentIdNotFound: {}
    DescribeCasesResponse:
      description: Returns an array of <a href="https://docs.aws.amazon.com/awssupport/latest/APIReference/API_CaseDetails.html">CaseDetails</a>
        objects and a <code>nextToken</code> that defines a point for pagination in
        the result set.
      example:
        cases: ""
        nextToken: ""
      properties:
        cases:
          allOf:
          - $ref: '#/components/schemas/CaseList'
          - description: The details for the cases that match the request.
          title: cases
        nextToken:
          allOf:
          - $ref: '#/components/schemas/NextToken'
          - description: A resumption point for pagination.
          title: nextToken
      title: DescribeCasesResponse
      type: object
    DescribeCasesRequest:
      example:
        caseIdList: ""
        beforeTime: ""
        nextToken: ""
        maxResults: ""
        afterTime: ""
        language: ""
        displayId: ""
        includeResolvedCases: ""
        includeCommunications: ""
      properties:
        caseIdList:
          allOf:
          - $ref: '#/components/schemas/CaseIdList'
          - description: A list of ID numbers of the support cases you want returned.
              The maximum number of cases is 100.
          title: caseIdList
        displayId:
          allOf:
          - $ref: '#/components/schemas/DisplayId'
          - description: The ID displayed for a case in the Amazon Web Services Support
              Center user interface.
          title: displayId
        afterTime:
          allOf:
          - $ref: '#/components/schemas/AfterTime'
          - description: The start date for a filtered date search on support case
              communications. Case communications are available for 12 months after
              creation.
          title: afterTime
        beforeTime:
          allOf:
          - $ref: '#/components/schemas/BeforeTime'
          - description: The end date for a filtered date search on support case communications.
              Case communications are available for 12 months after creation.
          title: beforeTime
        includeResolvedCases:
          allOf:
          - $ref: '#/components/schemas/IncludeResolvedCases'
          - description: "Specifies whether to include resolved support cases in the\
              \ <code>DescribeCases</code> response. By default, resolved cases aren't\
              \ included."
          title: includeResolvedCases
        nextToken:
          allOf:
          - $ref: '#/components/schemas/NextToken'
          - description: A resumption point for pagination.
          title: nextToken
        maxResults:
          allOf:
          - $ref: '#/components/schemas/MaxResults'
          - description: The maximum number of results to return before paginating.
          title: maxResults
        language:
          allOf:
          - $ref: '#/components/schemas/Language'
          - description: "The language in which Amazon Web Services Support handles\
              \ the case. Amazon Web Services Support currently supports Chinese (“\
              zh”), English (\"en\"), Japanese (\"ja\") and Korean (“ko”). You must\
              \ specify the ISO 639-1 code for the <code>language</code> parameter\
              \ if you want support in that language."
          title: language
        includeCommunications:
          allOf:
          - $ref: '#/components/schemas/IncludeCommunications'
          - description: "Specifies whether to include communications in the <code>DescribeCases</code>\
              \ response. By default, communications are included."
          title: includeCommunications
      title: DescribeCasesRequest
      type: object
    DescribeCommunicationsResponse:
      description: The communications returned by the <a>DescribeCommunications</a>
        operation.
      example:
        communications: ""
        nextToken: ""
      properties:
        communications:
          allOf:
          - $ref: '#/components/schemas/CommunicationList'
          - description: The communications for the case.
          title: communications
        nextToken:
          allOf:
          - $ref: '#/components/schemas/NextToken'
          - description: A resumption point for pagination.
          title: nextToken
      title: DescribeCommunicationsResponse
      type: object
    DescribeCommunicationsRequest:
      example:
        beforeTime: ""
        nextToken: ""
        maxResults: ""
        caseId: ""
        afterTime: ""
      properties:
        caseId:
          allOf:
          - $ref: '#/components/schemas/CaseId'
          - description: "The support case ID requested or returned in the call. The\
              \ case ID is an alphanumeric string formatted as shown in this example:\
              \ case-<i>12345678910-2013-c4c1d2bf33c5cf47</i> "
          title: caseId
        beforeTime:
          allOf:
          - $ref: '#/components/schemas/BeforeTime'
          - description: The end date for a filtered date search on support case communications.
              Case communications are available for 12 months after creation.
          title: beforeTime
        afterTime:
          allOf:
          - $ref: '#/components/schemas/AfterTime'
          - description: The start date for a filtered date search on support case
              communications. Case communications are available for 12 months after
              creation.
          title: afterTime
        nextToken:
          allOf:
          - $ref: '#/components/schemas/NextToken'
          - description: A resumption point for pagination.
          title: nextToken
        maxResults:
          allOf:
          - $ref: '#/components/schemas/MaxResults'
          - description: The maximum number of results to return before paginating.
          title: maxResults
      required:
      - caseId
      title: DescribeCommunicationsRequest
      type: object
    DescribeCreateCaseOptionsResponse:
      example:
        languageAvailability: ""
        communicationTypes: ""
      properties:
        languageAvailability:
          allOf:
          - $ref: '#/components/schemas/ValidatedLanguageAvailability'
          - description: <p>Language availability can be any of the following:</p>
              <ul> <li> <p> available </p> </li> <li> <p> best_effort </p> </li> <li>
              <p> unavailable </p> </li> </ul>
          title: languageAvailability
        communicationTypes:
          allOf:
          - $ref: '#/components/schemas/CommunicationTypeOptionsList'
          - description: " A JSON-formatted array that contains the available communication\
              \ type options, along with the available support timeframes for the\
              \ given inputs. "
          title: communicationTypes
      title: DescribeCreateCaseOptionsResponse
      type: object
    DescribeCreateCaseOptionsRequest:
      example:
        issueType: ""
        serviceCode: ""
        language: ""
        categoryCode: ""
      properties:
        issueType:
          allOf:
          - $ref: '#/components/schemas/IssueType'
          - description: "The type of issue for the case. You can specify <code>customer-service</code>\
              \ or <code>technical</code>. If you don't specify a value, the default\
              \ is <code>technical</code>."
          title: issueType
        serviceCode:
          allOf:
          - $ref: '#/components/schemas/ServiceCode'
          - description: The code for the Amazon Web Services service. You can use
              the <a>DescribeServices</a> operation to get the possible <code>serviceCode</code>
              values.
          title: serviceCode
        language:
          allOf:
          - $ref: '#/components/schemas/Language'
          - description: "The language in which Amazon Web Services Support handles\
              \ the case. Amazon Web Services Support currently supports Chinese (“\
              zh”), English (\"en\"), Japanese (\"ja\") and Korean (“ko”). You must\
              \ specify the ISO 639-1 code for the <code>language</code> parameter\
              \ if you want support in that language."
          title: language
        categoryCode:
          allOf:
          - $ref: '#/components/schemas/CategoryCode'
          - description: The category of problem for the support case. You also use
              the <a>DescribeServices</a> operation to get the category code for a
              service. Each Amazon Web Services service defines its own set of category
              codes.
          title: categoryCode
      required:
      - categoryCode
      - issueType
      - language
      - serviceCode
      title: DescribeCreateCaseOptionsRequest
      type: object
    ThrottlingException: {}
    DescribeServicesResponse:
      description: The list of Amazon Web Services services returned by the <a>DescribeServices</a>
        operation.
      example:
        services: ""
      properties:
        services:
          allOf:
          - $ref: '#/components/schemas/ServiceList'
          - description: A JSON-formatted list of Amazon Web Services services.
          title: services
      title: DescribeServicesResponse
      type: object
    DescribeServicesRequest:
      example:
        serviceCodeList: ""
        language: ""
      properties:
        serviceCodeList:
          allOf:
          - $ref: '#/components/schemas/ServiceCodeList'
          - description: A JSON-formatted list of service codes available for Amazon
              Web Services services.
          title: serviceCodeList
        language:
          allOf:
          - $ref: '#/components/schemas/Language'
          - description: "The language in which Amazon Web Services Support handles\
              \ the case. Amazon Web Services Support currently supports Chinese (“\
              zh”), English (\"en\"), Japanese (\"ja\") and Korean (“ko”). You must\
              \ specify the ISO 639-1 code for the <code>language</code> parameter\
              \ if you want support in that language."
          title: language
      title: DescribeServicesRequest
      type: object
    DescribeSeverityLevelsResponse:
      description: The list of severity levels returned by the <a>DescribeSeverityLevels</a>
        operation.
      example:
        severityLevels: ""
      properties:
        severityLevels:
          allOf:
          - $ref: '#/components/schemas/SeverityLevelsList'
          - description: The available severity levels for the support case. Available
              severity levels are defined by your service level agreement with Amazon
              Web Services.
          title: severityLevels
      title: DescribeSeverityLevelsResponse
      type: object
    DescribeSeverityLevelsRequest:
      example:
        language: ""
      properties:
        language:
          allOf:
          - $ref: '#/components/schemas/Language'
          - description: "The language in which Amazon Web Services Support handles\
              \ the case. Amazon Web Services Support currently supports Chinese (“\
              zh”), English (\"en\"), Japanese (\"ja\") and Korean (“ko”). You must\
              \ specify the ISO 639-1 code for the <code>language</code> parameter\
              \ if you want support in that language."
          title: language
      title: DescribeSeverityLevelsRequest
      type: object
    DescribeSupportedLanguagesResponse:
      example:
        supportedLanguages: ""
      properties:
        supportedLanguages:
          allOf:
          - $ref: '#/components/schemas/SupportedLanguagesList'
          - description: ' A JSON-formatted array that contains the available ISO
              639-1 language codes. '
          title: supportedLanguages
      title: DescribeSupportedLanguagesResponse
      type: object
    DescribeSupportedLanguagesRequest:
      example:
        issueType: ""
        serviceCode: ""
        categoryCode: ""
      properties:
        issueType:
          allOf:
          - $ref: '#/components/schemas/ValidatedIssueTypeString'
          - description: The type of issue for the case. You can specify <code>customer-service</code>
              or <code>technical</code>.
          title: issueType
        serviceCode:
          allOf:
          - $ref: '#/components/schemas/ValidatedServiceCode'
          - description: The code for the Amazon Web Services service. You can use
              the <a>DescribeServices</a> operation to get the possible <code>serviceCode</code>
              values.
          title: serviceCode
        categoryCode:
          allOf:
          - $ref: '#/components/schemas/ValidatedCategoryCode'
          - description: The category of problem for the support case. You also use
              the <a>DescribeServices</a> operation to get the category code for a
              service. Each Amazon Web Services service defines its own set of category
              codes.
          title: categoryCode
      required:
      - categoryCode
      - issueType
      - serviceCode
      title: DescribeSupportedLanguagesRequest
      type: object
    DescribeTrustedAdvisorCheckRefreshStatusesResponse:
      description: The statuses of the Trusted Advisor checks returned by the <a>DescribeTrustedAdvisorCheckRefreshStatuses</a>
        operation.
      example:
        statuses: ""
      properties:
        statuses:
          allOf:
          - $ref: '#/components/schemas/TrustedAdvisorCheckRefreshStatusList'
          - description: The refresh status of the specified Trusted Advisor checks.
          title: statuses
      required:
      - statuses
      title: DescribeTrustedAdvisorCheckRefreshStatusesResponse
      type: object
    DescribeTrustedAdvisorCheckRefreshStatusesRequest:
      example:
        checkIds: ""
      properties:
        checkIds:
          allOf:
          - $ref: '#/components/schemas/StringList'
          - description: "<p>The IDs of the Trusted Advisor checks to get the status.</p>\
              \ <note> <p>If you specify the check ID of a check that is automatically\
              \ refreshed, you might see an <code>InvalidParameterValue</code> error.</p>\
              \ </note>"
          title: checkIds
      required:
      - checkIds
      title: DescribeTrustedAdvisorCheckRefreshStatusesRequest
      type: object
    DescribeTrustedAdvisorCheckResultResponse:
      description: The result of the Trusted Advisor check returned by the <a>DescribeTrustedAdvisorCheckResult</a>
        operation.
      example:
        result:
          flaggedResources: ""
          categorySpecificSummary:
            costOptimizing:
              estimatedMonthlySavings: ""
              estimatedPercentMonthlySavings: ""
          checkId: ""
          resourcesSummary:
            resourcesIgnored: ""
            resourcesFlagged: ""
            resourcesProcessed: ""
            resourcesSuppressed: ""
          timestamp: ""
          status: ""
      properties:
        result:
          $ref: '#/components/schemas/DescribeTrustedAdvisorCheckResultResponse_result'
      title: DescribeTrustedAdvisorCheckResultResponse
      type: object
    DescribeTrustedAdvisorCheckResultRequest:
      description: <p/>
      example:
        language: ""
        checkId: ""
      properties:
        checkId:
          allOf:
          - $ref: '#/components/schemas/String'
          - description: The unique identifier for the Trusted Advisor check.
          title: checkId
        language:
          allOf:
          - $ref: '#/components/schemas/String'
          - description: "<p>The ISO 639-1 code for the language that you want your\
              \ check results to appear in.</p> <p>The Amazon Web Services Support\
              \ API currently supports the following languages for Trusted Advisor:</p>\
              \ <ul> <li> <p>Chinese, Simplified - <code>zh</code> </p> </li> <li>\
              \ <p>Chinese, Traditional - <code>zh_TW</code> </p> </li> <li> <p>English\
              \ - <code>en</code> </p> </li> <li> <p>French - <code>fr</code> </p>\
              \ </li> <li> <p>German - <code>de</code> </p> </li> <li> <p>Indonesian\
              \ - <code>id</code> </p> </li> <li> <p>Italian - <code>it</code> </p>\
              \ </li> <li> <p>Japanese - <code>ja</code> </p> </li> <li> <p>Korean\
              \ - <code>ko</code> </p> </li> <li> <p>Portuguese, Brazilian - <code>pt_BR</code>\
              \ </p> </li> <li> <p>Spanish - <code>es</code> </p> </li> </ul>"
          title: language
      required:
      - checkId
      title: DescribeTrustedAdvisorCheckResultRequest
      type: object
    DescribeTrustedAdvisorCheckSummariesResponse:
      description: The summaries of the Trusted Advisor checks returned by the <a>DescribeTrustedAdvisorCheckSummaries</a>
        operation.
      example:
        summaries: ""
      properties:
        summaries:
          allOf:
          - $ref: '#/components/schemas/TrustedAdvisorCheckSummaryList'
          - description: The summary information for the requested Trusted Advisor
              checks.
          title: summaries
      required:
      - summaries
      title: DescribeTrustedAdvisorCheckSummariesResponse
      type: object
    DescribeTrustedAdvisorCheckSummariesRequest:
      example:
        checkIds: ""
      properties:
        checkIds:
          allOf:
          - $ref: '#/components/schemas/StringList'
          - description: The IDs of the Trusted Advisor checks.
          title: checkIds
      required:
      - checkIds
      title: DescribeTrustedAdvisorCheckSummariesRequest
      type: object
    DescribeTrustedAdvisorChecksResponse:
      description: Information about the Trusted Advisor checks returned by the <a>DescribeTrustedAdvisorChecks</a>
        operation.
      example:
        checks: ""
      properties:
        checks:
          allOf:
          - $ref: '#/components/schemas/TrustedAdvisorCheckList'
          - description: Information about all available Trusted Advisor checks.
          title: checks
      required:
      - checks
      title: DescribeTrustedAdvisorChecksResponse
      type: object
    DescribeTrustedAdvisorChecksRequest:
      example:
        language: ""
      properties:
        language:
          allOf:
          - $ref: '#/components/schemas/String'
          - description: "<p>The ISO 639-1 code for the language that you want your\
              \ checks to appear in.</p> <p>The Amazon Web Services Support API currently\
              \ supports the following languages for Trusted Advisor:</p> <ul> <li>\
              \ <p>Chinese, Simplified - <code>zh</code> </p> </li> <li> <p>Chinese,\
              \ Traditional - <code>zh_TW</code> </p> </li> <li> <p>English - <code>en</code>\
              \ </p> </li> <li> <p>French - <code>fr</code> </p> </li> <li> <p>German\
              \ - <code>de</code> </p> </li> <li> <p>Indonesian - <code>id</code>\
              \ </p> </li> <li> <p>Italian - <code>it</code> </p> </li> <li> <p>Japanese\
              \ - <code>ja</code> </p> </li> <li> <p>Korean - <code>ko</code> </p>\
              \ </li> <li> <p>Portuguese, Brazilian - <code>pt_BR</code> </p> </li>\
              \ <li> <p>Spanish - <code>es</code> </p> </li> </ul>"
          title: language
      required:
      - language
      title: DescribeTrustedAdvisorChecksRequest
      type: object
    RefreshTrustedAdvisorCheckResponse:
      description: The current refresh status of a Trusted Advisor check.
      example:
        status:
          millisUntilNextRefreshable: ""
          checkId: ""
          status: ""
      properties:
        status:
          $ref: '#/components/schemas/RefreshTrustedAdvisorCheckResponse_status'
      required:
      - status
      title: RefreshTrustedAdvisorCheckResponse
      type: object
    RefreshTrustedAdvisorCheckRequest:
      description: <p/>
      example:
        checkId: ""
      properties:
        checkId:
          allOf:
          - $ref: '#/components/schemas/String'
          - description: <p>The unique identifier for the Trusted Advisor check to
              refresh.</p> <note> <p>Specifying the check ID of a check that is automatically
              refreshed causes an <code>InvalidParameterValue</code> error.</p> </note>
          title: checkId
      required:
      - checkId
      title: RefreshTrustedAdvisorCheckRequest
      type: object
    ResolveCaseResponse:
      description: The status of the case returned by the <a>ResolveCase</a> operation.
      example:
        initialCaseStatus: ""
        finalCaseStatus: ""
      properties:
        initialCaseStatus:
          allOf:
          - $ref: '#/components/schemas/CaseStatus'
          - description: The status of the case when the <a>ResolveCase</a> request
              was sent.
          title: initialCaseStatus
        finalCaseStatus:
          allOf:
          - $ref: '#/components/schemas/CaseStatus'
          - description: The status of the case after the <a>ResolveCase</a> request
              was processed.
          title: finalCaseStatus
      title: ResolveCaseResponse
      type: object
[...]
