openapi: 3.0.1
info:
  description: API spec for Microsoft.Security (Azure Security Center) resource provider
  title: Security Center
  version: 2017-08-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/security/resource-manager/Microsoft.Security/preview/2017-08-01-preview/advancedThreatProtectionSettings.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: security-advancedThreatProtectionSettings
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /{resourceId}/providers/Microsoft.Security/advancedThreatProtectionSettings/{settingName}:
    get:
      description: Gets the Advanced Threat Protection settings for the specified
        resource.
      operationId: AdvancedThreatProtection_Get
      parameters:
      - description: API version for the operation
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The identifier of the resource.
        in: path
        name: resourceId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Advanced Threat Protection setting name.
        in: path
        name: settingName
        required: true
        schema:
          enum:
          - current
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvancedThreatProtectionSetting'
          description: Successful request to get Advanced Threat Protection settings.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvancedThreatProtection_Get_default_response'
          description: Error response describing why the operation failed.
      tags:
      - AdvancedThreatProtection
      x-ms-examples:
        Gets the Advanced Threat Protection settings for the specified resource.:
          parameters:
            api-version: 2017-08-01-preview
            resourceId: subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/SampleRG/providers/Microsoft.Storage/storageAccounts/samplestorageaccount
            settingName: current
          responses:
            "200":
              body:
                id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/SampleRG/providers/Microsoft.Storage/storageAccounts/samplestorageaccount/providers/Microsoft.Security/advancedThreatProtectionSettings/current
                name: current
                properties:
                  isEnabled: true
                type: Microsoft.Security/advancedThreatProtectionSettings
      x-accepts:
      - application/json
    put:
      description: Creates or updates the Advanced Threat Protection settings on a
        specified resource.
      operationId: AdvancedThreatProtection_Create
      parameters:
      - description: API version for the operation
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The identifier of the resource.
        in: path
        name: resourceId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Advanced Threat Protection setting name.
        in: path
        name: settingName
        required: true
        schema:
          enum:
          - current
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdvancedThreatProtectionSetting'
        description: Advanced Threat Protection Settings
        required: true
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvancedThreatProtectionSetting'
          description: Successful request to put Advanced Threat Protection settings.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvancedThreatProtection_Get_default_response'
          description: Error response describing why the operation failed.
      tags:
      - AdvancedThreatProtection
      x-ms-examples:
        Creates or updates the Advanced Threat Protection settings on a specified resource.:
          parameters:
            advancedThreatProtectionSetting:
              id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/SampleRG/providers/Microsoft.Storage/storageAccounts/samplestorageaccount/providers/Microsoft.Security/advancedThreatProtectionSettings/current
              name: current
              properties:
                isEnabled: true
              type: Microsoft.Security/advancedThreatProtectionSettings
            api-version: 2017-08-01-preview
            resourceId: subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/SampleRG/providers/Microsoft.Storage/storageAccounts/samplestorageaccount
            settingName: current
          responses:
            "200":
              body:
                id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/SampleRG/providers/Microsoft.Storage/storageAccounts/samplestorageaccount/providers/Microsoft.Security/advancedThreatProtectionSettings/current
                name: current
                properties:
                  isEnabled: true
                type: Microsoft.Security/advancedThreatProtectionSettings
      x-codegen-request-body-name: advancedThreatProtectionSetting
      x-content-type: application/json
      x-accepts:
      - application/json
components:
  parameters:
    AdvancedThreatProtectionSettingName:
      description: Advanced Threat Protection setting name.
      in: path
      name: settingName
      required: true
      schema:
        enum:
        - current
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  requestBodies:
    AdvancedThreatProtectionSetting:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AdvancedThreatProtectionSetting'
      description: Advanced Threat Protection Settings
      required: true
      x-ms-parameter-location: method
  schemas:
    AdvancedThreatProtectionProperties:
      description: The Advanced Threat Protection settings.
      example:
        isEnabled: true
      properties:
        isEnabled:
          description: Indicates whether Advanced Threat Protection is enabled.
          type: boolean
      type: object
    AdvancedThreatProtectionSetting:
      allOf:
      - description: Describes an Azure resource.
        properties:
          id:
            description: Resource Id
            readOnly: true
            type: string
          name:
            description: Resource name
            readOnly: true
            type: string
          type:
            description: Resource type
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: The Advanced Threat Protection resource.
      example:
        properties:
          isEnabled: true
      properties:
        properties:
          $ref: '#/components/schemas/AdvancedThreatProtectionProperties'
    AdvancedThreatProtection_Get_default_response_error:
      description: Error details.
      example:
        code: code
        message: message
      properties:
        code:
          description: An identifier for the error. Codes are invariant and are intended
            to be consumed programmatically.
          readOnly: true
          type: string
        message:
          description: "A message describing the error, intended to be suitable for\
            \ display in a user interface."
          readOnly: true
          type: string
      type: object
      x-ms-external: true
    AdvancedThreatProtection_Get_default_response:
      description: Error response structure.
      example:
        error:
          code: code
          message: message
      properties:
        error:
          $ref: '#/components/schemas/AdvancedThreatProtection_Get_default_response_error'
      type: object
      x-ms-external: true
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

