

# VerificationStatus

## Enum


* `PENDING` (value: `"Pending"`)

* `SUCCESS` (value: `"Success"`)

* `FAILED` (value: `"Failed"`)

* `TEMPORARY_FAILURE` (value: `"TemporaryFailure"`)

* `NOT_STARTED` (value: `"NotStarted"`)



