openapi: 3.0.1
info:
  title: Compute Admin Client
  version: 2015-12-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/compute/Microsoft.Compute.Admin/preview/2015-12-01-preview/PlatformImages.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: azsadmin-PlatformImages
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://adminmanagement.local.azurestack.external/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Compute.Admin/locations/{location}/artifactTypes/platformImage:
    get:
      description: Returns a list of all platform images.
      operationId: PlatformImages_List
      parameters:
      - description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Location of the resource.
        in: path
        name: location
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api-version
        required: true
        schema:
          default: 2015-12-01-preview
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlatformImageList'
          description: OK
      summary: Returns all platform images.
      tags:
      - PlatformImages
      x-ms-examples:
        Returns a list of all platform images.:
          parameters:
            api-version: 2015-12-01-preview
            location: local
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
              - id: /subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/providers/Microsoft.Compute.Admin/locations/local/artifactTypes/platformImage/publishers/Canonical/offers/UbuntuServer/skus/16.04-LTS/versions/1.0.0
                location: local
                properties:
                  osDisk:
                    osType: Linux
                    uri: https://test.blob.local.azurestack.external/test/medium.vhd
                  provisioningState: Creating
                type: Microsoft.Compute.Admin/locations/artifactTypes/publishers/offers/skus/versions
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/providers/Microsoft.Compute.Admin/locations/{location}/artifactTypes/platformImage/publishers/{publisher}/offers/{offer}/skus/{sku}/versions/{version}
  : delete:
      description: Delete a platform image
      operationId: PlatformImages_Delete
      parameters:
      - description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Location of the resource.
        in: path
        name: location
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the publisher.
        in: path
        name: publisher
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the offer.
        in: path
        name: offer
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the SKU.
        in: path
        name: sku
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The version of the resource.
        in: path
        name: version
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api-version
        required: true
        schema:
          default: 2015-12-01-preview
          type: string
      responses:
        "200":
          content: {}
          description: OK
      summary: "Deletes a platform image matching publisher, offer, skus and version"
      tags:
      - PlatformImages
      x-ms-examples:
        Delete a platform image.:
          parameters:
            api-version: 2015-12-01-preview
            location: local
            offer: UbuntuServer
            publisher: Canonical
            sku: 16.04-:LTS
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
            version: "16.04"
          responses:
            "200": {}
      x-accepts:
      - application/json
    get:
      description: "Returns the specific platform image matching publisher, offer,\
        \ skus and version."
      operationId: PlatformImages_Get
      parameters:
      - description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Location of the resource.
        in: path
        name: location
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the publisher.
        in: path
        name: publisher
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the offer.
        in: path
        name: offer
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the SKU.
        in: path
        name: sku
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The version of the resource.
        in: path
        name: version
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api-version
        required: true
        schema:
          default: 2015-12-01-preview
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlatformImage'
          description: OK
      summary: Returns the requested platform image.
      tags:
      - PlatformImages
      x-ms-examples:
        Get a platform image by name.:
          parameters:
            api-version: 2015-12-01-preview
            location: local
            offer: UbuntuServer
            publisher: Canonical
            sku: 16.04-:LTS
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
            version: "16.04"
          responses:
            "200":
              body:
                id: /subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/providers/Microsoft.Compute.Admin/locations/local/artifactTypes/platformImage/publishers/Canonical/offers/UbuntuServer/skus/16.04-LTS/versions/1.0.0
                location: local
                properties:
                  osDisk:
                    osType: Linux
                    uri: https://test.blob.local.azurestack.external/test/medium.vhd
                  provisioningState: Creating
                type: Microsoft.Compute.Admin/locations/artifactTypes/publishers/offers/skus/versions
      x-accepts:
      - application/json
    put:
      description: "Creates a new platform image with given publisher, offer, skus\
        \ and version."
      operationId: PlatformImages_Create
      parameters:
      - description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Location of the resource.
        in: path
        name: location
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the publisher.
        in: path
        name: publisher
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the offer.
        in: path
        name: offer
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the SKU.
        in: path
        name: sku
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The version of the resource.
        in: path
        name: version
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api-version
        required: true
        schema:
          default: 2015-12-01-preview
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlatformImageParameters'
        description: New platform image.
        required: true
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlatformImage'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlatformImage'
          description: CREATED
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlatformImage'
          description: ACCEPTED
      summary: Creates a platform image.
      tags:
      - PlatformImages
      x-ms-examples:
        Creates a new platform image.:
          parameters:
            api-version: 2015-12-01-preview
            location: local
            newImage:
              properties:
                osDisk:
                  osType: Linux
                  uri: https://test.blob.local.azurestack.external/test/medium.vhd
            offer: UbuntuServer
            publisher: Canonical
            sku: 16.04-:LTS
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
            version: "16.04"
          responses:
            "200":
              body:
                id: /subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/providers/Microsoft.Compute.Admin/locations/local/artifactTypes/platformImage/publishers/Canonical/offers/UbuntuServer/skus/16.04-LTS/versions/1.0.0
                location: local
                properties:
                  osDisk:
                    osType: Linux
                    uri: https://test.blob.local.azurestack.external/test/medium.vhd
                  provisioningState: Creating
                type: Microsoft.Compute.Admin/locations/artifactTypes/publishers/offers/skus/versions
            "201":
              body:
                id: /subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/providers/Microsoft.Compute.Admin/locations/local/artifactTypes/platformImage/publishers/Canonical/offers/UbuntuServer/skus/16.04-LTS/versions/1.0.0
                location: local
                properties:
                  osDisk:
                    osType: Linux
                    uri: https://test.blob.local.azurestack.external/test/medium.vhd
                  provisioningState: Creating
                type: Microsoft.Compute.Admin/locations/artifactTypes/publishers/offers/skus/versions
            "202":
              body:
                id: /subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/providers/Microsoft.Compute.Admin/locations/local/artifactTypes/platformImage/publishers/Canonical/offers/UbuntuServer/skus/16.04-LTS/versions/1.0.0
                location: local
                properties:
                  osDisk:
                    osType: Linux
                    uri: https://test.blob.local.azurestack.external/test/medium.vhd
                  provisioningState: Creating
                type: Microsoft.Compute.Admin/locations/artifactTypes/publishers/offers/skus/versions
      x-ms-long-running-operation: true
      x-codegen-request-body-name: newImage
      x-content-type: application/json
      x-accepts:
      - application/json
components:
  parameters:
    OfferParameter:
      description: Name of the offer.
      in: path
      name: offer
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SkuParameter:
      description: Name of the SKU.
      in: path
      name: sku
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  requestBodies:
    NewPlatformImageParameter:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PlatformImageParameters'
      description: New platform image.
      required: true
      x-ms-parameter-location: method
  schemas:
    DataDisk:
      description: Information about datadisk.
      example:
        lun: 0
        uri: uri
      properties:
        lun:
          description: Logical unit number.
          format: int32
          type: integer
        uri:
          description: Location of the disk template.
          type: string
      type: object
    ImageDetails:
      description: Information about the disk image.
      example:
        billingPartNumber: billingPartNumber
      properties:
        billingPartNumber:
          description: The part number is used to bill for software costs.
          type: string
      type: object
    OsDisk:
      description: Operating system disk.
      example:
        osType: Unknown
        uri: uri
      properties:
        osType:
          $ref: '#/components/schemas/OsType'
        uri:
          description: Location of the disk.
          type: string
      type: object
    OsType:
      description: Operating system type.
      enum:
      - Unknown
      - Windows
      - Linux
      type: string
      x-ms-enum:
        name: OsType
    PlatformImage:
      allOf:
      - description: Base resource object.
        properties:
          id:
            description: ID of the resource.
            readOnly: true
            type: string
          location:
            description: Location of the resource.
            type: string
          name:
            description: Name of the resource.
            readOnly: true
            type: string
          type:
            description: Type of Resource.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: Platform image represents a virtual machine.
      example:
        properties:
          dataDisks:
          - lun: 0
            uri: uri
          - lun: 0
            uri: uri
          details:
            billingPartNumber: billingPartNumber
          provisioningState: Creating
          osDisk:
            osType: Unknown
            uri: uri
      properties:
        properties:
          $ref: '#/components/schemas/PlatformImageProperties'
    PlatformImageList:
      description: List of platform images.
      items:
        $ref: '#/components/schemas/PlatformImage'
      type: array
    PlatformImageParameters:
      description: Parameters used to create a new platform image.
      example:
        properties:
          dataDisks:
          - lun: 0
            uri: uri
          - lun: 0
            uri: uri
          details:
            billingPartNumber: billingPartNumber
          provisioningState: Creating
          osDisk:
            osType: Unknown
            uri: uri
      properties:
        properties:
          $ref: '#/components/schemas/PlatformImageProperties'
      type: object
    PlatformImageProperties:
      description: Properties of platform image.
      example:
        dataDisks:
        - lun: 0
          uri: uri
        - lun: 0
          uri: uri
        details:
          billingPartNumber: billingPartNumber
        provisioningState: Creating
        osDisk:
          osType: Unknown
          uri: uri
      properties:
        dataDisks:
          description: Data disks used by the platform image.
          items:
            $ref: '#/components/schemas/DataDisk'
          type: array
        details:
          $ref: '#/components/schemas/ImageDetails'
        osDisk:
          $ref: '#/components/schemas/OsDisk'
        provisioningState:
          description: The provisioning state of the resource.
          enum:
          - Creating
          - Failed
          - Succeeded
          - Canceled
          type: string
          x-ms-enum:
            name: ProvisioningState
      type: object
  securitySchemes:
    azure_auth:
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

