openapi: 3.0.0
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: Execute workflows created with Workflows API.
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Workflow Executions API
  version: v1beta
  x-apisguru-categories:
  - analytics
  - media
  x-logo:
    url: https://upload.wikimedia.org/wikipedia/commons/e/e1/YouTube_play_buttom_icon_%282013-2017%29.svg
  x-origin:
  - format: google
    url: https://workflowexecutions.googleapis.com/$discovery/rest?version=v1beta
    version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: workflowexecutions
externalDocs:
  url: https://cloud.google.com/workflows
servers:
- url: https://workflowexecutions.googleapis.com/
tags:
- name: projects
paths:
  /v1beta/{name}:
    get:
      description: Returns an execution of the given name.
      operationId: workflowexecutions.projects.locations.workflows.executions.get
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. Name of the execution to be retrieved. Format: projects/{project}/locations/{location}/workflows/{workflow}/executions/{execution}"
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: Optional. A view defining which fields should be filled in the
          returned execution. The API will default to the FULL view.
        explode: true
        in: query
        name: view
        required: false
        schema:
          enum:
          - EXECUTION_VIEW_UNSPECIFIED
          - BASIC
          - FULL
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Execution'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-accepts:
      - application/json
  /v1beta/{name}:cancel:
    post:
      description: Cancels an execution of the given name.
      operationId: workflowexecutions.projects.locations.workflows.executions.cancel
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. Name of the execution to be cancelled. Format: projects/{project}/locations/{location}/workflows/{workflow}/executions/{execution}"
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelExecutionRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Execution'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1beta/{parent}/executions:
    get:
      description: Returns a list of executions which belong to the workflow with
        the given name. The method returns executions of all workflow revisions. Returned
        executions are ordered by their start time (newest first).
      operationId: workflowexecutions.projects.locations.workflows.executions.list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. Name of the workflow for which the executions should\
          \ be listed. Format: projects/{project}/locations/{location}/workflows/{workflow}"
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: "Maximum number of executions to return per call. Max supported\
          \ value depends on the selected Execution view: it's 10000 for BASIC and\
          \ 100 for FULL. The default value used if the field is not specified is\
          \ 100, regardless of the selected view. Values greater than the max value\
          \ will be coerced down to it."
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: "A page token, received from a previous `ListExecutions` call.\
          \ Provide this to retrieve the subsequent page. When paginating, all other\
          \ parameters provided to `ListExecutions` must match the call that provided\
          \ the page token."
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      - description: Optional. A view defining which fields should be filled in the
          returned executions. The API will default to the BASIC view.
        explode: true
        in: query
        name: view
        required: false
        schema:
          enum:
          - EXECUTION_VIEW_UNSPECIFIED
          - BASIC
          - FULL
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListExecutionsResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-accepts:
      - application/json
    post:
      description: Creates a new execution using the latest revision of the given
        workflow.
      operationId: workflowexecutions.projects.locations.workflows.executions.create
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. Name of the workflow for which an execution should\
          \ be created. Format: projects/{project}/locations/{location}/workflows/{workflow}\
          \ The latest revision of the workflow will be used."
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Execution'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Execution'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-content-type: application/json
      x-accepts:
      - application/json
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      explode: true
      in: query
      name: $.xgafv
      required: false
      schema:
        enum:
        - "1"
        - "2"
        type: string
      style: form
    access_token:
      description: OAuth access token.
      explode: true
      in: query
      name: access_token
      required: false
      schema:
        type: string
      style: form
    alt:
      description: Data format for response.
      explode: true
      in: query
      name: alt
      required: false
      schema:
        enum:
        - json
        - media
        - proto
        type: string
      style: form
    callback:
      description: JSONP
      explode: true
      in: query
      name: callback
      required: false
      schema:
        type: string
      style: form
    fields:
      description: Selector specifying which fields to include in a partial response.
      explode: true
      in: query
      name: fields
      required: false
      schema:
        type: string
      style: form
    key:
      description: "API key. Your API key identifies your project and provides you\
        \ with API access, quota, and reports. Required unless you provide an OAuth\
        \ 2.0 token."
      explode: true
      in: query
      name: key
      required: false
      schema:
        type: string
      style: form
    oauth_token:
      description: OAuth 2.0 token for the current user.
      explode: true
      in: query
      name: oauth_token
      required: false
      schema:
        type: string
      style: form
    prettyPrint:
      description: Returns response with indentations and line breaks.
      explode: true
      in: query
      name: prettyPrint
      required: false
      schema:
        type: boolean
      style: form
    quotaUser:
      description: "Available to use for quota purposes for server-side applications.\
        \ Can be any arbitrary string assigned to a user, but should not exceed 40\
        \ characters."
      explode: true
      in: query
      name: quotaUser
      required: false
      schema:
        type: string
      style: form
    uploadType:
      description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
        )."
      explode: true
      in: query
      name: uploadType
      required: false
      schema:
        type: string
      style: form
    upload_protocol:
      description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
      explode: true
      in: query
      name: upload_protocol
      required: false
      schema:
        type: string
      style: form
  schemas:
    CancelExecutionRequest:
      description: Request for the CancelExecution method.
      properties: {}
      type: object
    Error:
      description: Error describes why the execution was abnormally terminated.
      example:
        payload: payload
        context: context
        stackTrace:
          elements:
          - routine: routine
            step: step
            position:
              line: line
              column: column
              length: length
          - routine: routine
            step: step
            position:
              line: line
              column: column
              length: length
      properties:
        context:
          description: Human-readable stack trace string.
          type: string
        payload:
          description: Error message and data returned represented as a JSON string.
          type: string
        stackTrace:
          $ref: '#/components/schemas/StackTrace'
      type: object
    Execution:
      description: "A running instance of a [Workflow](/workflows/docs/reference/rest/v1beta/projects.locations.workflows)."
      example:
        result: result
        workflowRevisionId: workflowRevisionId
        argument: argument
        name: name
        callLogLevel: CALL_LOG_LEVEL_UNSPECIFIED
        startTime: startTime
        endTime: endTime
        state: STATE_UNSPECIFIED
        error:
          payload: payload
          context: context
          stackTrace:
            elements:
            - routine: routine
              step: step
              position:
                line: line
                column: column
                length: length
            - routine: routine
              step: step
              position:
                line: line
                column: column
                length: length
        status:
          currentSteps:
          - routine: routine
            step: step
          - routine: routine
            step: step
      properties:
        argument:
          description: "Input parameters of the execution represented as a JSON string.\
            \ The size limit is 32KB. *Note*: If you are using the REST API directly\
            \ to run your workflow, you must escape any JSON string value of `argument`.\
            \ Example: `'{\"argument\":\"{\\\"firstName\\\":\\\"FIRST\\\",\\\"lastName\\\
            \":\\\"LAST\\\"}\"}'`"
          type: string
        callLogLevel:
          description: The call logging level associated to this execution.
          enum:
          - CALL_LOG_LEVEL_UNSPECIFIED
          - LOG_ALL_CALLS
          - LOG_ERRORS_ONLY
          type: string
        endTime:
          description: "Output only. Marks the end of execution, successful or not."
          format: google-datetime
          readOnly: true
          type: string
        error:
          $ref: '#/components/schemas/Error'
        name:
          description: "Output only. The resource name of the execution. Format: projects/{project}/locations/{location}/workflows/{workflow}/executions/{execution}"
          readOnly: true
          type: string
        result:
          description: Output only. Output of the execution represented as a JSON
            string. The value can only be present if the execution's state is `SUCCEEDED`.
          readOnly: true
          type: string
        startTime:
          description: Output only. Marks the beginning of execution.
          format: google-datetime
          readOnly: true
          type: string
        state:
          description: Output only. Current state of the execution.
          enum:
          - STATE_UNSPECIFIED
          - ACTIVE
          - SUCCEEDED
          - FAILED
          - CANCELLED
          - UNAVAILABLE
          - QUEUED
          readOnly: true
          type: string
        status:
          $ref: '#/components/schemas/Status'
        workflowRevisionId:
          description: Output only. Revision of the workflow this execution is using.
          readOnly: true
          type: string
      type: object
    ListExecutionsResponse:
      description: Response for the ListExecutions method.
      example:
        executions:
        - result: result
          workflowRevisionId: workflowRevisionId
          argument: argument
          name: name
          callLogLevel: CALL_LOG_LEVEL_UNSPECIFIED
          startTime: startTime
          endTime: endTime
          state: STATE_UNSPECIFIED
          error:
            payload: payload
            context: context
            stackTrace:
              elements:
              - routine: routine
                step: step
                position:
                  line: line
                  column: column
                  length: length
              - routine: routine
                step: step
                position:
                  line: line
                  column: column
                  length: length
          status:
            currentSteps:
            - routine: routine
              step: step
            - routine: routine
              step: step
        - result: result
          workflowRevisionId: workflowRevisionId
          argument: argument
          name: name
          callLogLevel: CALL_LOG_LEVEL_UNSPECIFIED
          startTime: startTime
          endTime: endTime
          state: STATE_UNSPECIFIED
          error:
            payload: payload
            context: context
            stackTrace:
              elements:
              - routine: routine
                step: step
                position:
                  line: line
                  column: column
                  length: length
              - routine: routine
                step: step
                position:
                  line: line
                  column: column
                  length: length
          status:
            currentSteps:
            - routine: routine
              step: step
            - routine: routine
              step: step
        nextPageToken: nextPageToken
      properties:
        executions:
          description: The executions which match the request.
          items:
            $ref: '#/components/schemas/Execution'
          type: array
        nextPageToken:
          description: "A token, which can be sent as `page_token` to retrieve the\
            \ next page. If this field is omitted, there are no subsequent pages."
          type: string
      type: object
    Position:
      description: "Position contains source position information about the stack\
        \ trace element such as line number, column number and length of the code\
        \ block in bytes."
      example:
        line: line
        column: column
        length: length
      properties:
        column:
          description: The source code column position (of the line) the current instruction
            was generated from.
          format: int64
          type: string
        length:
          description: The number of bytes of source code making up this stack trace
            element.
          format: int64
          type: string
        line:
          description: The source code line number the current instruction was generated
            from.
          format: int64
          type: string
      type: object
    StackTrace:
      description: A collection of stack elements (frames) where an error occurred.
      example:
        elements:
        - routine: routine
          step: step
          position:
            line: line
            column: column
            length: length
        - routine: routine
          step: step
          position:
            line: line
            column: column
            length: length
      properties:
        elements:
          description: An array of stack elements.
          items:
            $ref: '#/components/schemas/StackTraceElement'
          type: array
      type: object
    StackTraceElement:
      description: A single stack element (frame) where an error occurred.
      example:
        routine: routine
        step: step
        position:
          line: line
          column: column
          length: length
      properties:
        position:
          $ref: '#/components/schemas/Position'
        routine:
          description: The routine where the error occurred.
          type: string
        step:
          description: The step the error occurred at.
          type: string
      type: object
    Status:
      description: Represents the current status of this execution.
      example:
        currentSteps:
        - routine: routine
          step: step
        - routine: routine
          step: step
      properties:
        currentSteps:
          description: "A list of currently executing or last executed step names\
            \ for the workflow execution currently running. If the workflow has succeeded\
            \ or failed, this is the last attempted or executed step. Presently, if\
            \ the current step is inside a subworkflow, the list only includes that\
            \ step. In the future, the list will contain items for each step in the\
            \ call stack, starting with the outermost step in the `main` subworkflow,\
            \ and ending with the most deeply nested step."
          items:
            $ref: '#/components/schemas/Step'
          type: array
      type: object
    Step:
      description: Represents a step of the workflow this execution is running.
      example:
        routine: routine
        step: step
      properties:
        routine:
          description: Name of a routine within the workflow.
          type: string
        step:
          description: Name of a step within the routine.
          type: string
      type: object
  securitySchemes:
    Oauth2:
      description: Oauth 2.0 implicit authentication
      flows:
        implicit:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/cloud-platform: "See, edit, configure,\
              \ and delete your Google Cloud data and see the email address for your\
              \ Google Account."
      type: oauth2
    Oauth2c:
      description: Oauth 2.0 authorizationCode authentication
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/cloud-platform: "See, edit, configure,\
              \ and delete your Google Cloud data and see the email address for your\
              \ Google Account."
          tokenUrl: https://accounts.google.com/o/oauth2/token
      type: oauth2

