openapi: 3.0.1
info:
  title: RecoveryServicesBackupClient
  version: 2016-12-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2016-12-01/backup.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: recoveryservices-backup
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupconfig/vaultconfig
  : get:
      deprecated: false
      description: Fetches vault config.
      operationId: backup_vault_configs_get
      parameters:
      - description: The subscription Id.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The name of the resource group where the recovery services vault
          is present.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the recovery services vault.
        in: path
        name: vaultName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackupVaultConfig'
          description: OK
      tags:
      - BackupVaultConfigs
      x-openapi-router-controller: openapi_server.controllers.backup_vault_configs_controller
    patch:
      deprecated: false
      description: Updates vault config model type.
      operationId: backup_vault_configs_update
      parameters:
      - description: The subscription Id.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The name of the resource group where the recovery services vault
          is present.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the recovery services vault.
        in: path
        name: vault_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BackupVaultConfig'
        description: Backup vault config.
        required: true
        x-body-name: backupVaultConfig
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackupVaultConfig'
          description: OK
      tags:
      - BackupVaultConfigs
      x-codegen-request-body-name: backupVaultConfig
      x-openapi-router-controller: openapi_server.controllers.backup_vault_configs_controller
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupstorageconfig/vaultstorageconfig
  : get:
      deprecated: false
      description: Fetches resource storage config.
      operationId: backup_storage_configs_get
      parameters:
      - description: The subscription Id.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The name of the resource group where the recovery services vault
          is present.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the recovery services vault.
        in: path
        name: vault_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackupStorageConfig'
          description: OK
      tags:
      - BackupStorageConfigs
      x-openapi-router-controller: openapi_server.controllers.backup_storage_configs_controller
    patch:
      deprecated: false
      description: Updates vault storage model type.
      operationId: backup_storage_configs_update
      parameters:
      - description: The subscription Id.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The name of the resource group where the recovery services vault
          is present.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the recovery services vault.
        in: path
        name: vault_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BackupStorageConfig'
        description: Backup storage config.
        required: true
        x-body-name: backupStorageConfig
      responses:
        "204":
          content: {}
          description: NoContent
      tags:
      - BackupStorageConfigs
      x-codegen-request-body-name: backupStorageConfig
      x-openapi-router-controller: openapi_server.controllers.backup_storage_configs_controller
components:
  parameters:
    ApiVersion:
      description: Client Api Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    ResourceGroupName:
      description: The name of the resource group where the recovery services vault
        is present.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SubscriptionId:
      description: The subscription Id.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
    VaultName:
      description: The name of the recovery services vault.
      in: path
      name: vaultName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  schemas:
    BackupStorageConfig:
      allOf:
      - description: ARM Resource.
        properties:
          eTag:
            description: Optional ETag.
            type: string
          id:
            description: Resource Id represents the complete path to the resource.
            readOnly: true
            type: string
          name:
            description: Resource name associated with the resource.
            readOnly: true
            type: string
          type:
            description: Resource type represents the complete path of the form Namespace/ResourceType/ResourceType/...
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: The backup storage config.
      example:
        properties:
          storageModelType: Invalid
          storageType: Invalid
          storageTypeState: Invalid
      properties:
        properties:
          $ref: '#/components/schemas/BackupStorageConfigProperties'
      title: BackupStorageConfig
    BackupStorageConfigProperties:
      description: The backup storage config.
      example:
        storageModelType: Invalid
        storageType: Invalid
        storageTypeState: Invalid
      properties:
        storageModelType:
          description: Storage model type.
          enum:
          - Invalid
          - GeoRedundant
          - LocallyRedundant
          title: storageModelType
          type: string
          x-ms-enum:
            modelAsString: true
            name: StorageModelType
        storageType:
          description: Storage type.
          enum:
          - Invalid
          - GeoRedundant
          - LocallyRedundant
          title: storageType
          type: string
          x-ms-enum:
            modelAsString: true
            name: StorageType
        storageTypeState:
          description: "Locked or Unlocked. Once a machine is registered against a\
            \ resource, the storageTypeState is always Locked."
          enum:
          - Invalid
          - Locked
          - Unlocked
          title: storageTypeState
          type: string
          x-ms-enum:
            modelAsString: true
            name: StorageTypeState
      title: BackupStorageConfigProperties
      type: object
    BackupVaultConfig:
      allOf:
      - description: ARM Resource.
        properties:
          eTag:
            description: Optional ETag.
            type: string
          id:
            description: Resource Id represents the complete path to the resource.
            readOnly: true
            type: string
          name:
            description: Resource name associated with the resource.
            readOnly: true
            type: string
          type:
            description: Resource type represents the complete path of the form Namespace/ResourceType/ResourceType/...
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: Backup vault config details.
      example:
        properties:
          enhancedSecurityState: Invalid
          storageType: Invalid
          storageTypeState: Invalid
      properties:
        properties:
          $ref: '#/components/schemas/BackupVaultConfigProperties'
      title: BackupVaultConfig
    BackupVaultConfigProperties:
      description: Backup vault config details.
      example:
        enhancedSecurityState: Invalid
        storageType: Invalid
        storageTypeState: Invalid
      properties:
        enhancedSecurityState:
          description: Enabled or Disabled.
          enum:
          - Invalid
          - Enabled
          - Disabled
          title: enhancedSecurityState
          type: string
          x-ms-enum:
            modelAsString: true
            name: EnhancedSecurityState
        storageType:
          description: Storage type.
          enum:
          - Invalid
          - GeoRedundant
          - LocallyRedundant
          title: storageType
          type: string
          x-ms-enum:
            modelAsString: true
            name: StorageType
        storageTypeState:
          description: "Locked or Unlocked. Once a machine is registered against a\
            \ resource, the storageTypeState is always Locked."
          enum:
          - Invalid
          - Locked
          - Unlocked
          title: storageTypeState
          type: string
          x-ms-enum:
            modelAsString: true
            name: StorageTypeState
      title: BackupVaultConfigProperties
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account.
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
