openapi: 3.0.0
info:
  description: The Graph RBAC Management Client
  title: GraphRbacManagementClient
  version: "1.6"
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: openapi
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/graphrbac/data-plane/Microsoft.GraphRbac/stable/1.6/graphrbac.json
    version: "3.0"
  x-providerName: windows.net
  x-serviceName: graphrbac
servers:
- url: https://graph.windows.net
security:
- azure_auth:
  - user_impersonation
paths:
  /{tenantID}/applications:
    get:
      description: Lists applications by filter parameters.
      operationId: applications_list
      parameters:
      - description: The filters to apply to the operation.
        explode: true
        in: query
        name: $filter
        required: false
        schema:
          type: string
        style: form
      - description: Client API version.
        explode: true
        in: query
        name: api-version
        required: true
        schema:
          type: string
        style: form
      - description: The tenant ID.
        explode: false
        in: path
        name: tenantID
        required: true
        schema:
          type: string
        style: simple
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ApplicationListResult'
          description: OK. The operation was successful.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphError'
            text/json:
              schema:
                $ref: '#/components/schemas/GraphError'
          description: Error response describing why the operation failed.
      tags:
      - Application
      x-ms-odata: '#/components/schemas/Application'
      x-ms-pageable:
        nextLinkName: odata.nextLink
        operationName: Applications_ListNext
      x-openapi-router-controller: openapi_server.controllers.application_controller
    post:
      description: Create a new application.
      operationId: applications_create
      parameters:
      - description: Client API version.
        explode: true
        in: query
        name: api-version
        required: true
        schema:
          type: string
        style: form
      - description: The tenant ID.
        explode: false
        in: path
        name: tenantID
        required: true
        schema:
          type: string
        style: simple
        x-ms-parameter-location: client
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationCreateParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/ApplicationCreateParameters'
        description: The parameters for creating an application.
        required: true
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
            text/json:
              schema:
                $ref: '#/components/schemas/Application'
          description: The application was created successfully.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphError'
            text/json:
              schema:
                $ref: '#/components/schemas/GraphError'
          description: Error response describing why the operation failed.
      tags:
      - Application
      x-openapi-router-controller: openapi_server.controllers.application_controller
      x-codegen-request-body-name: body
  /{tenantID}/applications/{applicationObjectId}:
    delete:
      description: Delete an application.
      operationId: applications_delete
      parameters:
      - description: Application object ID.
        explode: false
        in: path
        name: applicationObjectId
        required: true
        schema:
          type: string
        style: simple
      - description: Client API version.
        explode: true
        in: query
        name: api-version
        required: true
        schema:
          type: string
        style: form
      - description: The tenant ID.
        explode: false
        in: path
        name: tenantID
        required: true
        schema:
          type: string
        style: simple
        x-ms-parameter-location: client
      responses:
        "204":
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphError'
            text/json:
              schema:
                $ref: '#/components/schemas/GraphError'
          description: Error response describing why the operation failed.
      tags:
      - Application
      x-openapi-router-controller: openapi_server.controllers.application_controller
    get:
      description: Get an application by object ID.
      operationId: applications_get
      parameters:
      - description: Application object ID.
        explode: false
        in: path
        name: applicationObjectId
        required: true
        schema:
          type: string
        style: simple
      - description: Client API version.
        explode: true
        in: query
        name: api-version
        required: true
        schema:
          type: string
        style: form
      - description: The tenant ID.
        explode: false
        in: path
        name: tenantID
        required: true
        schema:
          type: string
        style: simple
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
            text/json:
              schema:
                $ref: '#/components/schemas/Application'
          description: OK. The operation was successful.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphError'
            text/json:
              schema:
                $ref: '#/components/schemas/GraphError'
          description: Error response describing why the operation failed.
      tags:
      - Application
      x-openapi-router-controller: openapi_server.controllers.application_controller
    patch:
      description: Update an existing application.
      operationId: applications_patch
      parameters:
      - description: Application object ID.
        explode: false
        in: path
        name: applicationObjectId
        required: true
        schema:
          type: string
        style: simple
      - description: Client API version.
        explode: true
        in: query
        name: api-version
        required: true
        schema:
          type: string
        style: form
      - description: The tenant ID.
        explode: false
        in: path
        name: tenantID
        required: true
        schema:
          type: string
        style: simple
        x-ms-parameter-location: client
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationUpdateParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/ApplicationUpdateParameters'
        description: Parameters to update an existing application.
        required: true
        x-body-name: body
      responses:
        "204":
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphError'
            text/json:
              schema:
                $ref: '#/components/schemas/GraphError'
          description: Error response describing why the operation failed.
      tags:
      - Application
      x-openapi-router-controller: openapi_server.controllers.application_controller
      x-codegen-request-body-name: body
  /{tenantID}/applications/{applicationObjectId}/$links/owners:
    post:
      description: Add an owner to an application.
      operationId: applications_add_owner
      parameters:
      - description: The object ID of the application to which to add the owner.
        explode: false
        in: path
        name: applicationObjectId
        required: true
        schema:
          type: string
        style: simple
      - description: Client API version.
        explode: true
        in: query
        name: api-version
        required: true
        schema:
          type: string
        style: form
      - description: The tenant ID.
        explode: false
        in: path
        name: tenantID
        required: true
        schema:
          type: string
        style: simple
        x-ms-parameter-location: client
      requestBody:
        $ref: '#/components/requestBodies/AddOwnerParameters'
        x-body-name: body
      responses:
        "204":
          description: No Content. Indicates success. No response body is returned.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphError'
            text/json:
              schema:
                $ref: '#/components/schemas/GraphError'
          description: Error response describing why the operation failed.
      tags:
      - ApplicationOwners
      x-openapi-router-controller: openapi_server.controllers.application_owners_controller
      x-codegen-request-body-name: body
  /{tenantID}/applications/{applicationObjectId}/$links/owners/{ownerObjectId}:
    delete:
      description: Remove a member from owners.
      operationId: applications_remove_owner
      parameters:
      - description: The object ID of the application from which to remove the owner.
        explode: false
        in: path
        name: applicationObjectId
        required: true
        schema:
          type: string
        style: simple
      - description: Owner object id
        explode: false
        in: path
        name: ownerObjectId
        required: true
        schema:
          type: string
        style: simple
      - description: Client API version.
        explode: true
        in: query
        name: api-version
        required: true
        schema:
          type: string
        style: form
      - description: The tenant ID.
        explode: false
        in: path
        name: tenantID
        required: true
        schema:
          type: string
        style: simple
        x-ms-parameter-location: client
      responses:
        "204":
          description: No Content. Indicates success. No response body is returned.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphError'
            text/json:
              schema:
                $ref: '#/components/schemas/GraphError'
          description: Error response describing why the operation failed.
      tags:
      - ApplicationOwners
      x-openapi-router-controller: openapi_server.controllers.application_owners_controller
  /{tenantID}/applications/{applicationObjectId}/keyCredentials:
    get:
      description: Get the keyCredentials associated with an application.
      operationId: applications_list_key_credentials
      parameters:
      - description: Application object ID.
        explode: false
        in: path
        name: applicationObjectId
        required: true
        schema:
          type: string
        style: simple
      - description: Client API version.
        explode: true
        in: query
        name: api-version
        required: true
        schema:
          type: string
        style: form
      - description: The tenant ID.
        explode: false
        in: path
        name: tenantID
        required: true
        schema:
          type: string
        style: simple
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeyCredentialListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/KeyCredentialListResult'
          description: OK. The operation was successful.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphError'
            text/json:
              schema:
                $ref: '#/components/schemas/GraphError'
          description: Error response describing why the operation failed.
      tags:
      - ApplicationKeyCredentials
      x-ms-pageable:
        nextLinkName:
          $ref: "#/paths/~1{tenantID}~1domains/get/x-ms-pageable/nextLinkName"
      x-openapi-router-controller: openapi_server.controllers.application_key_credentials_controller
    patch:
      description: Update the keyCredentials associated with an application.
      operationId: applications_update_key_credentials
      parameters:
      - description: Application object ID.
        explode: false
        in: path
        name: applicationObjectId
        required: true
        schema:
          type: string
        style: simple
      - description: Client API version.
        explode: true
        in: query
        name: api-version
        required: true
        schema:
          type: string
        style: form
      - description: The tenant ID.
        explode: false
        in: path
        name: tenantID
        required: true
        schema:
          type: string
        style: simple
        x-ms-parameter-location: client
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KeyCredentialsUpdateParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/KeyCredentialsUpdateParameters'
        description: Parameters to update the keyCredentials of an existing application.
        required: true
        x-body-name: body
      responses:
        "204":
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphError'
            text/json:
              schema:
                $ref: '#/components/schemas/GraphError'
          description: Error response describing why the operation failed.
      tags:
      - ApplicationKeyCredentials
      x-openapi-router-controller: openapi_server.controllers.application_key_credentials_controller
      x-codegen-request-body-name: body
  /{tenantID}/applications/{applicationObjectId}/owners:
    get:
      description: The owners are a set of non-admin users who are allowed to modify
        this object.
      operationId: applications_list_owners
      parameters:
      - description: The object ID of the application for which to get owners.
        explode: false
        in: path
        name: applicationObjectId
        required: true
        schema:
          type: string
        style: simple
      - description: Client API version.
        explode: true
        in: query
        name: api-version
        required: true
        schema:
          type: string
        style: form
      - description: The tenant ID.
        explode: false
        in: path
        name: tenantID
        required: true
        schema:
          type: string
        style: simple
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DirectoryObjectListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/DirectoryObjectListResult'
          description: OK. The operation was successful.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphError'
            text/json:
              schema:
                $ref: '#/components/schemas/GraphError'
          description: Error response describing why the operation failed.
      summary: Directory objects that are owners of the application.
      tags:
      - ApplicationOwners
      x-ms-pageable:
        nextLinkName: odata.nextLink
      x-openapi-router-controller: openapi_server.controllers.application_owners_controller
  /{tenantID}/applications/{applicationObjectId}/passwordCredentials:
    get:
      description: Get the passwordCredentials associated with an application.
      operationId: applications_list_password_credentials
      parameters:
      - description: Application object ID.
        explode: false
        in: path
        name: applicationObjectId
        required: true
        schema:
          type: string
        style: simple
      - description: Client API version.
        explode: true
        in: query
        name: api-version
        required: true
        schema:
          type: string
        style: form
      - description: The tenant ID.
        explode: false
        in: path
        name: tenantID
        required: true
        schema:
          type: string
        style: simple
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PasswordCredentialListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/PasswordCredentialListResult'
          description: OK. The operation was successful.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphError'
            text/json:
              schema:
                $ref: '#/components/schemas/GraphError'
          description: Error response describing why the operation failed.
      tags:
      - ApplicationPasswordCredentials
      x-ms-pageable:
        nextLinkName:
          $ref: "#/paths/~1{tenantID}~1domains/get/x-ms-pageable/nextLinkName"
      x-openapi-router-controller: openapi_server.controllers.application_password_credentials_controller
    patch:
      description: Update passwordCredentials associated with an application.
      operationId: applications_update_password_credentials
      parameters:
      - description: Application object ID.
        explode: false
        in: path
        name: applicationObjectId
        required: true
        schema:
          type: string
        style: simple
      - description: Client API version.
        explode: true
        in: query
        name: api-version
        required: true
        schema:
          type: string
        style: form
      - description: The tenant ID.
        explode: false
        in: path
        name: tenantID
        required: true
        schema:
          type: string
        style: simple
        x-ms-parameter-location: client
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PasswordCredentialsUpdateParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/PasswordCredentialsUpdateParameters'
        description: Parameters to update passwordCredentials of an existing application.
        required: true
        x-body-name: body
      responses:
        "204":
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphError'
            text/json:
              schema:
                $ref: '#/components/schemas/GraphError'
          description: Error response describing why the operation failed.
      tags:
      - ApplicationPasswordCredentials
      x-openapi-router-controller: openapi_server.controllers.application_password_credentials_controller
      x-codegen-request-body-name: body
  /{tenantID}/deletedApplications:
    get:
      description: Gets a list of deleted applications in the directory.
      operationId: deleted_applications_list
      parameters:
      - description: The filter to apply to the operation.
        explode: true
        in: query
        name: $filter
        required: false
        schema:
          type: string
        style: form
      - description: Client API version.
        explode: true
        in: query
        name: api-version
        required: true
        schema:
          type: string
        style: form
      - description: The tenant ID.
        explode: false
        in: path
        name: tenantID
        required: true
        schema:
          type: string
        style: simple
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ApplicationListResult'
          description: The applications were retrieved successfully.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphError'
            text/json:
              schema:
                $ref: '#/components/schemas/GraphError'
          description: Error response describing why the operation failed.
      tags:
      - deletedApplications
      x-ms-pageable:
        nextLinkName: odata.nextLink
        operationName: DeletedApplications_ListNext
      x-openapi-router-controller: openapi_server.controllers.deleted_applications_controller
  /{tenantID}/deletedApplications/{applicationObjectId}:
    delete:
      description: Hard-delete an application.
      operationId: deleted_applications_hard_delete
      parameters:
      - description: Application object ID.
        explode: false
        in: path
        name: applicationObjectId
        required: true
        schema:
          type: string
        style: simple
      - description: Client API version.
        explode: true
        in: query
        name: api-version
        required: true
        schema:
          type: string
        style: form
      - description: The tenant ID.
        explode: false
        in: path
        name: tenantID
        required: true
        schema:
          type: string
        style: simple
        x-ms-parameter-location: client
      responses:
        "204":
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphError'
            text/json:
              schema:
                $ref: '#/components/schemas/GraphError'
          description: Error response describing why the operation failed.
      tags:
      - Application
      x-openapi-router-controller: openapi_server.controllers.application_controller
  /{tenantID}/deletedApplications/{objectId}/restore:
    post:
      description: Restores the deleted application in the directory.
      operationId: deleted_applications_restore
      parameters:
      - description: Application object ID.
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      - description: Client API version.
        explode: true
        in: query
        name: api-version
        required: true
        schema:
          type: string
        style: form
      - description: The tenant ID.
        explode: false
        in: path
        name: tenantID
        required: true
        schema:
          type: string
        style: simple
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
            text/json:
              schema:
                $ref: '#/components/schemas/Application'
          description: The application was restored successfully.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphError'
            text/json:
              schema:
                $ref: '#/components/schemas/GraphError'
          description: Error response describing why the operation failed.
      tags:
      - deletedApplications
      x-openapi-router-controller: openapi_server.controllers.deleted_applications_controller
  /{tenantID}/domains:
    get:
      description: Gets a list of domains for the current tenant.
      operationId: domains_list
      parameters:
      - description: The filter to apply to the operation.
        explode: true
        in: query
        name: $filter
        required: false
        schema:
          type: string
        style: form
      - description: Client API version.
        explode: true
        in: query
        name: api-version
        required: true
        schema:
          type: string
        style: form
      - description: The tenant ID.
        explode: false
        in: path
        name: tenantID
        required: true
        schema:
          type: string
        style: simple
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/DomainListResult'
          description: OK. The operation was successful.
      tags:
      - Domain
      x-ms-odata: '#/components/schemas/User'
      x-ms-pageable:
        nextLinkName: {}
      x-openapi-router-controller: openapi_server.controllers.domain_controller
  /{tenantID}/domains/{domainName}:
    get:
      description: Gets a specific domain in the current tenant.
      operationId: domains_get
      parameters:
      - description: name of the domain.
        explode: false
        in: path
        name: domainName
        required: true
        schema:
          type: string
        style: simple
      - description: Client API version.
        explode: true
        in: query
        name: api-version
        required: true
        schema:
          type: string
        style: form
      - description: The tenant ID.
        explode: false
        in: path
        name: tenantID
        required: true
        schema:
          type: string
        style: simple
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
            text/json:
              schema:
                $ref: '#/components/schemas/Domain'
          description: OK. The operation was successful.
      tags:
      - Domain
      x-openapi-router-controller: openapi_server.controllers.domain_controller
  /{tenantID}/getObjectsByObjectIds:
    post:
      description: "Gets the directory objects specified in a list of object IDs.\
        \ You can also specify which resource collections (users, groups, etc.) should\
        \ be searched by specifying the optional types parameter."
      operationId: objects_get_objects_by_object_ids
      parameters:
      - description: Client API version.
        explode: true
        in: query
        name: api-version
        required: true
        schema:
          type: string
        style: form
      - description: The tenant ID.
        explode: false
        in: path
        name: tenantID
        required: true
        schema:
          type: string
        style: simple
        x-ms-parameter-location: client
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetObjectsParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/GetObjectsParameters'
        description: Objects filtering parameters.
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DirectoryObjectListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/DirectoryObjectListResult'
          description: OK. The operation was successful.
      tags:
      - Objects
      x-ms-pageable:
        nextLinkName: odata.nextLink
        operationName: Objects_GetObjectsByObjectIdsNext
      x-openapi-router-controller: openapi_server.controllers.objects_controller
      x-codegen-request-body-name: body
  /{tenantID}/groups:
    get:
      description: Gets list of groups for the current tenant.
      operationId: groups_list
      parameters:
      - description: The filter to apply to the operation.
        explode: true
        in: query
        name: $filter
        required: false
        schema:
          type: string
        style: form
      - description: Client API version.
        explode: true
        in: query
        name: api-version
        required: true
        schema:
          type: string
        style: form
      - description: The tenant ID.
        explode: false
        in: path
        name: tenantID
        required: true
        schema:
          type: string
        style: simple
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/GroupListResult'
          description: OK. The operation was successful.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphError'
            text/json:
              schema:
                $ref: '#/components/schemas/GraphError'
          description: Error response describing why the operation failed.
      tags:
      - Group
      x-ms-odata: '#/components/schemas/ADGroup'
      x-ms-pageable:
        nextLinkName: odata.nextLink
        operationName: Groups_ListNext
      x-openapi-router-controller: openapi_server.controllers.group_controller
    post:
      description: Create a group in the directory.
      operationId: groups_create
      parameters:
      - description: Client API version.
        explode: true
        in: query
        name: api-version
        required: true
        schema:
          type: string
        style: form
      - description: The tenant ID.
        explode: false
        in: path
        name: tenantID
        required: true
        schema:
          type: string
        style: simple
        x-ms-parameter-location: client
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupCreateParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/GroupCreateParameters'
        description: The parameters for the group to create.
        required: true
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ADGroup'
            text/json:
              schema:
                $ref: '#/components/schemas/ADGroup'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphError'
            text/json:
              schema:
                $ref: '#/components/schemas/GraphError'
          description: Error response describing why the operation failed.
      tags:
      - Group
      x-openapi-router-controller: openapi_server.controllers.group_controller
      x-codegen-request-body-name: body
  /{tenantID}/groups/{groupObjectId}/$links/members:
    post:
      description: Add a member to a group.
      operationId: groups_add_member
      parameters:
      - description: The object ID of the group to which to add the member.
        explode: false
        in: path
        name: groupObjectId
        required: true
        schema:
          type: string
        style: simple
      - description: Client API version.
        explode: true
        in: query
        name: api-version
        required: true
        schema:
          type: string
        style: form
      - description: The tenant ID.
        explode: false
        in: path
        name: tenantID
        required: true
        schema:
          type: string
        style: simple
        x-ms-parameter-location: client
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupAddMemberParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/GroupAddMemberParameters'
        description: "The URL of the member object, such as https://graph.windows.net/0b1f9851-1bf0-433f-aec3-cb9272f093dc/directoryObjects/f260bbc4-c254-447b-94cf-293b5ec434dd."
        required: true
        x-body-name: body
      responses:
        "204":
          description: No Content. Indicates success. No response body is returned.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphError'
            text/json:
              schema:
                $ref: '#/components/schemas/GraphError'
          description: Error response describing why the operation failed.
      tags:
      - Group
      x-openapi-router-controller: openapi_server.controllers.group_controller
      x-codegen-request-body-name: body
  /{tenantID}/groups/{groupObjectId}/$links/members/{memberObjectId}:
    delete:
      description: Remove a member from a group.
      operationId: groups_remove_member
      parameters:
      - description: The object ID of the group from which to remove the member.
        explode: false
        in: path
        name: groupObjectId
        required: true
        schema:
          type: string
        style: simple
      - description: Member object id
        explode: false
        in: path
        name: memberObjectId
        required: true
        schema:
          type: string
        style: simple
      - description: Client API version.
        explode: true
        in: query
        name: api-version
        required: true
        schema:
          type: string
        style: form
      - description: The tenant ID.
        explode: false
        in: path
        name: tenantID
        required: true
        schema:
          type: string
        style: simple
        x-ms-parameter-location: client
      responses:
        "204":
          description: No Content. Indicates success. No response body is returned.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphError'
            text/json:
              schema:
                $ref: '#/components/schemas/GraphError'
          description: Error response describing why the operation failed.
      tags:
      - Group
      x-openapi-router-controller: openapi_server.controllers.group_controller
  /{tenantID}/groups/{objectId}:
    delete:
      description: Delete a group from the directory.
      operationId: groups_delete
      parameters:
      - description: The object ID of the group to delete.
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      - description: Client API version.
        explode: true
        in: query
        name: api-version
        required: true
        schema:
          type: string
        style: form
      - description: The tenant ID.
        explode: false
        in: path
        name: tenantID
        required: true
        schema:
          type: string
        style: simple
        x-ms-parameter-location: client
      responses:
        "204":
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphError'
            text/json:
              schema:
                $ref: '#/components/schemas/GraphError'
          description: Error response describing why the operation failed.
      tags:
      - Group
      x-openapi-router-controller: openapi_server.controllers.group_controller
    get:
      description: Gets group information from the directory.
      operationId: groups_get
      parameters:
      - description: The object ID of the user for which to get group information.
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      - description: Client API version.
        explode: true
        in: query
        name: api-version
        required: true
        schema:
          type: string
        style: form
      - description: The tenant ID.
        explode: false
        in: path
        name: tenantID
        required: true
        schema:
          type: string
        style: simple
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ADGroup'
            text/json:
              schema:
                $ref: '#/components/schemas/ADGroup'
          description: OK. The operation was successful.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphError'
            text/json:
              schema:
                $ref: '#/components/schemas/GraphError'
          description: Error response describing why the operation failed.
      tags:
      - Group
      x-openapi-router-controller: openapi_server.controllers.group_controller
  /{tenantID}/groups/{objectId}/$links/owners:
    post:
      description: Add an owner to a group.
      operationId: groups_add_owner
      parameters:
      - description: The object ID of the application to which to add the owner.
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      - description: Client API version.
        explode: true
        in: query
        name: api-version
        required: true
        schema:
          type: string
        style: form
      - description: The tenant ID.
        explode: false
        in: path
        name: tenantID
        required: true
        schema:
          type: string
        style: simple
        x-ms-parameter-location: client
      requestBody:
        $ref: '#/components/requestBodies/AddOwnerParameters'
        x-body-name: body
      responses:
        "204":
          description: No Content. Indicates success. No response body is returned.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphError'
            text/json:
              schema:
                $ref: '#/components/schemas/GraphError'
          description: Error response describing why the operation failed.
      tags:
      - GroupsOwners
      x-openapi-router-controller: openapi_server.controllers.groups_owners_controller
      x-codegen-request-body-name: body
  /{tenantID}/groups/{objectId}/$links/owners/{ownerObjectId}:
    delete:
      description: Remove a member from owners.
      operationId: groups_remove_owner
      parameters:
      - description: The object ID of the group from which to remove the owner.
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      - description: Owner object id
        explode: false
        in: path
        name: ownerObjectId
        required: true
        schema:
          type: string
        style: simple
      - description: Client API version.
        explode: true
        in: query
        name: api-version
        required: true
        schema:
          type: string
        style: form
      - description: The tenant ID.
        explode: false
        in: path
        name: tenantID
        required: true
        schema:
          type: string
        style: simple
        x-ms-parameter-location: client
      responses:
        "204":
          description: No Content. Indicates success. No response body is returned.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphError'
            text/json:
              schema:
                $ref: '#/components/schemas/GraphError'
          description: Error response describing why the operation failed.
      tags:
      - GroupsOwners
      x-openapi-router-controller: openapi_server.controllers.groups_owners_controller
  /{tenantID}/groups/{objectId}/getMemberGroups:
    post:
      description: Gets a collection of object IDs of groups of which the specified
        group is a member.
      operationId: groups_get_member_groups
      parameters:
      - description: The object ID of the group for which to get group membership.
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      - description: Client API version.
        explode: true
        in: query
        name: api-version
        required: true
        schema:
          type: string
        style: form
      - description: The tenant ID.
        explode: false
        in: path
        name: tenantID
        required: true
        schema:
          type: string
        style: simple
        x-ms-parameter-location: client
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupGetMemberGroupsParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/GroupGetMemberGroupsParameters'
        description: Group filtering parameters.
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupGetMemberGroupsResult'
            text/json:
              schema:
                $ref: '#/components/schemas/GroupGetMemberGroupsResult'
          description: OK. The operation was successful.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphError'
            text/json:
              schema:
                $ref: '#/components/schemas/GraphError'
          description: Error response describing why the operation failed.
      tags:
      - Group
      x-ms-pageable:
        nextLinkName:
          $ref: "#/paths/~1{tenantID}~1domains/get/x-ms-pageable/nextLinkName"
      x-openapi-router-controller: openapi_server.controllers.group_controller
      x-codegen-request-body-name: body
  /{tenantID}/groups/{objectId}/members:
    get:
      description: Gets the members of a group.
      operationId: groups_get_group_members
      parameters:
      - description: The object ID of the group whose members should be retrieved.
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      - description: Client API version.
        explode: true
        in: query
        name: api-version
        required: true
        schema:
          type: string
        style: form
      - description: The tenant ID.
        explode: false
        in: path
        name: tenantID
        required: true
        schema:
          type: string
        style: simple
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DirectoryObjectListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/DirectoryObjectListResult'
          description: OK. The operation was successful.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphError'
            text/json:
              schema:
                $ref: '#/components/schemas/GraphError'
          description: Error response describing why the operation failed.
      tags:
      - Group
      x-ms-pageable:
        nextLinkName: odata.nextLink
        operationName: Groups_GetGroupMembersNext
      x-openapi-router-controller: openapi_server.controllers.group_controller
  /{tenantID}/groups/{objectId}/owners:
    get:
      description: The owners are a set of non-admin users who are allowed to modify
        this object.
      operationId: groups_list_owners
      parameters:
      - description: The object ID of the group for which to get owners.
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      - description: Client API version.
        explode: true
        in: query
        name: api-version
        required: true
        schema:
          type: string
        style: form
      - description: The tenant ID.
        explode: false
        in: path
        name: tenantID
        required: true
        schema:
          type: string
        style: simple
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DirectoryObjectListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/DirectoryObjectListResult'
          description: OK. The operation was successful.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphError'
            text/json:
              schema:
                $ref: '#/components/schemas/GraphError'
          description: Error response describing why the operation failed.
      summary: Directory objects that are owners of the group.
      tags:
      - GroupOwners
      x-ms-pageable:
        nextLinkName: odata.nextLink
      x-openapi-router-controller: openapi_server.controllers.group_owners_controller
  /{tenantID}/isMemberOf:
    post:
      description: "Checks whether the specified user, group, contact, or service\
        \ principal is a direct or transitive member of the specified group."
      operationId: groups_is_member_of
      parameters:
      - description: Client API version.
        explode: true
        in: query
        name: api-version
        required: true
        schema:
          type: string
        style: form
      - description: The tenant ID.
        explode: false
        in: path
        name: tenantID
        required: true
        schema:
          type: string
        style: simple
        x-ms-parameter-location: client
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckGroupMembershipParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/CheckGroupMembershipParameters'
        description: The check group membership parameters.
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckGroupMembershipResult'
            text/json:
              schema:
                $ref: '#/components/schemas/CheckGroupMembershipResult'
          description: "OK. Indicates success. Returns true if the user, contact,\
            \ group, or service principal is a direct or a transitive member of the\
            \ specified group; otherwise, false."
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphError'
            text/json:
              schema:
                $ref: '#/components/schemas/GraphError'
          description: Error response describing why the operation failed.
      tags:
      - Group
      x-openapi-router-controller: openapi_server.controllers.group_controller
      x-codegen-request-body-name: body
  /{tenantID}/me:
    get:
      description: Gets the details for the currently logged-in user.
      operationId: signed_in_user_get
      parameters:
      - description: Client API version.
        explode: true
        in: query
        name: api-version
        required: true
        schema:
          type: string
        style: form
      - description: The tenant ID.
        explode: false
        in: path
        name: tenantID
        required: true
        schema:
          type: string
        style: simple
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
            text/json:
              schema:
                $ref: '#/components/schemas/User'
          description: OK. The operation was successful.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphError'
            text/json:
              schema:
                $ref: '#/components/schemas/GraphError'
          description: Error response describing why the operation failed.
      tags:
      - SignedInUser
      x-openapi-router-controller: openapi_server.controllers.signed_in_user_controller
  /{tenantID}/me/ownedObjects:
    get:
      description: Get the list of directory objects that are owned by the user.
      operationId: signed_in_user_list_owned_objects
      parameters:
      - description: Client API version.
        explode: true
        in: query
        name: api-version
        required: true
        schema:
          type: string
        style: form
      - description: The tenant ID.
        explode: false
        in: path
        name: tenantID
        required: true
        schema:
          type: string
        style: simple
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DirectoryObjectListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/DirectoryObjectListResult'
          description: OK. The operation was successful.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphError'
            text/json:
              schema:
                $ref: '#/components/schemas/GraphError'
          description: Error response describing why the operation failed.
      tags:
      - SignedInUser
      x-ms-pageable:
        nextLinkName: odata.nextLink
        operationName: SignedInUser_ListOwnedObjectsNext
      x-openapi-router-controller: openapi_server.controllers.signed_in_user_controller
  /{tenantID}/oauth2PermissionGrants:
    get:
      description: Queries OAuth2 permissions grants for the relevant SP ObjectId
        of an app.
      operationId: o_auth2_permission_grant_list
      parameters:
      - description: This is the Service Principal ObjectId associated with the app
        example: clientId+eq+'61ed44c3-5a1d-4639-a215-07f25129c6c3
        explode: true
        in: query
        name: $filter
        required: false
        schema:
          type: string
        style: form
      - description: Client API version.
        explode: true
        in: query
        name: api-version
        required: true
        schema:
          type: string
        style: form
      - description: The tenant ID.
        explode: false
        in: path
        name: tenantID
        required: true
        schema:
          type: string
        style: simple
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuth2PermissionGrantListResult'
          description: OK. The operation was successful.
      tags:
      - OAuth2PermissionGrant_List
      x-ms-pageable:
        nextLinkName: odata.nextLink
        operationName: OAuth2PermissionGrant_ListNext
      x-openapi-router-controller: openapi_server.controllers.o_auth2_permission_grant_list_controller
    post:
      description: Grants OAuth2 permissions for the relevant resource Ids of an app.
      operationId: o_auth2_permission_grant_create
      parameters:
      - description: Client API version.
        explode: true
        in: query
        name: api-version
        required: true
        schema:
          type: string
        style: form
      - description: The tenant ID.
        explode: false
        in: path
        name: tenantID
        required: true
        schema:
          type: string
        style: simple
        x-ms-parameter-location: client
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAuth2PermissionGrant'
        description: The relevant app Service Principal Object Id and the Service
          Principal Object Id you want to grant.
        x-examples:
          application/json: "{\n\t\"odata.type\": \"Microsoft.DirectoryServices.OAuth2PermissionGrant\"\
            ,\n\t\"clientId\": \"39afbaa2-4a5c-4f5b-9ee3-2c83f09bbc87\", \n\t\"consentType\"\
            : \"AllPrincipals\",\n\t\"principalId\": null,\n\t\"resourceId\": \"d3247842-c517-4520-80a7-332690ae2fe4\"\
            ,\n\t\"scope\": \"user_impersonation\",\n    \"startTime\": \"0001-01-01T00:00:00\"\
            ,\n    \"expiryTime\": \"9000-01-01T00:00:00\"\n}"
          description: "These are the values required to grant permission to a resourceId\
            \ for an app, only one operation is allowed per request"
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuth2PermissionGrant'
          description: OK. The operation was successful.
      tags:
      - OAuth2PermissionGrant_Create
      x-openapi-router-controller: openapi_server.controllers.o_auth2_permission_grant_create_controller
      x-codegen-request-body-name: body
  /{tenantID}/oauth2PermissionGrants/{objectId}:
    delete:
      description: Delete a OAuth2 permission grant for the relevant resource Ids
        of an app.
      operationId: o_auth2_permission_grant_delete
      parameters:
      - description: The object ID of a permission grant.
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      - description: Client API version.
        explode: true
        in: query
        name: api-version
        required: true
        schema:
          type: string
        style: form
      - description: The tenant ID.
        explode: false
        in: path
        name: tenantID
        required: true
        schema:
          type: string
        style: simple
        x-ms-parameter-location: client
      responses:
        "204":
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphError'
            text/json:
              schema:
                $ref: '#/components/schemas/GraphError'
          description: Error response describing why the operation failed.
      tags:
      - OAuth2PermissionGrant_delete
      x-openapi-router-controller: openapi_server.controllers.o_auth2_permission_grant_delete_controller
  /{tenantID}/servicePrincipals:
    get:
      description: Gets a list of service principals from the current tenant.
      operationId: service_principals_list
      parameters:
      - description: The filter to apply to the operation.
        explode: true
        in: query
        name: $filter
        required: false
        schema:
          type: string
        style: form
      - description: Client API version.
        explode: true
        in: query
        name: api-version
        required: true
        schema:
          type: string
        style: form
      - description: The tenant ID.
        explode: false
        in: path
        name: tenantID
        required: true
        schema:
          type: string
        style: simple
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServicePrincipalListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ServicePrincipalListResult'
          description: OK. The operation was successful.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphError'
            text/json:
              schema:
                $ref: '#/components/schemas/GraphError'
          description: Error response describing why the operation failed.
      tags:
      - ServicePrincipal
      x-ms-odata: '#/components/schemas/ServicePrincipal'
      x-ms-pageable:
        nextLinkName: odata.nextLink
        operationName: ServicePrincipals_ListNext
      x-openapi-router-controller: openapi_server.controllers.service_principal_controller
    post:
      description: Creates a service principal in the directory.
      operationId: service_principals_create
      parameters:
      - description: Client API version.
        explode: true
        in: query
        name: api-version
        required: true
        schema:
          type: string
        style: form
      - description: The tenant ID.
        explode: false
        in: path
        name: tenantID
        required: true
        schema:
          type: string
        style: simple
        x-ms-parameter-location: client
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServicePrincipalCreateParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/ServicePrincipalCreateParameters'
        description: Parameters to create a service principal.
        required: true
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServicePrincipal'
            text/json:
              schema:
                $ref: '#/components/schemas/ServicePrincipal'
          description: The service principal was created successfully.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphError'
            text/json:
              schema:
                $ref: '#/components/schemas/GraphError'
          description: Error response describing why the operation failed.
      tags:
      - ServicePrincipal
      x-openapi-router-controller: openapi_server.controllers.service_principal_controller
      x-codegen-request-body-name: body
  /{tenantID}/servicePrincipals/{objectId}:
    delete:
      description: Deletes a service principal from the directory.
      operationId: service_principals_delete
      parameters:
      - description: The object ID of the service principal to delete.
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      - description: Client API version.
        explode: true
        in: query
        name: api-version
        required: true
        schema:
          type: string
        style: form
      - description: The tenant ID.
        explode: false
        in: path
        name: tenantID
        required: true
        schema:
          type: string
        style: simple
        x-ms-parameter-location: client
      responses:
        "204":
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphError'
            text/json:
              schema:
                $ref: '#/components/schemas/GraphError'
          description: Error response describing why the operation failed.
      tags:
      - ServicePrincipal
      x-openapi-router-controller: openapi_server.controllers.service_principal_controller
    get:
      description: Gets service principal information from the directory. Query by
        objectId or pass a filter to query by appId
      operationId: service_principals_get
      parameters:
      - description: The object ID of the service principal to get.
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      - description: Client API version.
        explode: true
        in: query
        name: api-version
        required: true
        schema:
          type: string
        style: form
      - description: The tenant ID.
        explode: false
        in: path
        name: tenantID
        required: true
        schema:
          type: string
        style: simple
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServicePrincipal'
            text/json:
              schema:
                $ref: '#/components/schemas/ServicePrincipal'
          description: OK. The operation was successful.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphError'
            text/json:
              schema:
                $ref: '#/components/schemas/GraphError'
          description: Error response describing why the operation failed.
      tags:
      - ServicePrincipal
      x-openapi-router-controller: openapi_server.controllers.service_principal_controller
    patch:
      description: Updates a service principal in the directory.
      operationId: service_principals_update
      parameters:
      - description: The object ID of the service principal to delete.
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      - description: Client API version.
        explode: true
        in: query
        name: api-version
        required: true
        schema:
          type: string
        style: form
      - description: The tenant ID.
        explode: false
        in: path
        name: tenantID
        required: true
        schema:
          type: string
        style: simple
        x-ms-parameter-location: client
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServicePrincipalUpdateParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/ServicePrincipalUpdateParameters'
        description: Parameters to update a service principal.
        required: true
        x-body-name: body
      responses:
        "204":
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphError'
            text/json:
              schema:
                $ref: '#/components/schemas/GraphError'
          description: Error response describing why the operation failed.
      tags:
      - ServicePrincipal
      x-openapi-router-controller: openapi_server.controllers.service_principal_controller
      x-codegen-request-body-name: body
  /{tenantID}/servicePrincipals/{objectId}/$links/owners:
    post:
      description: Add an owner to a service principal.
      operationId: service_principals_add_owner
      parameters:
      - description: The object ID of the service principal to which to add the owner.
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      - description: Client API version.
        explode: true
        in: query
        name: api-version
        required: true
        schema:
          type: string
        style: form
      - description: The tenant ID.
        explode: false
        in: path
        name: tenantID
        required: true
        schema:
          type: string
        style: simple
        x-ms-parameter-location: client
      requestBody:
        $ref: '#/components/requestBodies/AddOwnerParameters'
        x-body-name: body
      responses:
        "204":
          description: No Content. Indicates success. No response body is returned.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphError'
            text/json:
              schema:
                $ref: '#/components/schemas/GraphError'
          description: Error response describing why the operation failed.
      tags:
      - ServicePrincipalOwners
      x-openapi-router-controller: openapi_server.controllers.service_principal_owners_controller
      x-codegen-request-body-name: body
  /{tenantID}/servicePrincipals/{objectId}/$links/owners/{ownerObjectId}:
    delete:
      description: Remove a member from owners.
      operationId: service_principals_remove_owner
      parameters:
      - description: The object ID of the service principal from which to remove the
          owner.
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      - description: Owner object id
        explode: false
        in: path
        name: ownerObjectId
        required: true
        schema:
          type: string
        style: simple
      - description: Client API version.
        explode: true
        in: query
        name: api-version
        required: true
        schema:
          type: string
        style: form
      - description: The tenant ID.
        explode: false
        in: path
        name: tenantID
        required: true
        schema:
          type: string
        style: simple
        x-ms-parameter-location: client
      responses:
        "204":
          description: No Content. Indicates success. No response body is returned.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphError'
            text/json:
              schema:
                $ref: '#/components/schemas/GraphError'
          description: Error response describing why the operation failed.
      tags:
      - ServicePrincipalOwners
      x-openapi-router-controller: openapi_server.controllers.service_principal_owners_controller
  /{tenantID}/servicePrincipals/{objectId}/appRoleAssignedTo:
    get:
      operationId: service_principals_list_app_role_assigned_to
      parameters:
      - description: The object ID of the service principal for which to get owners.
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      - description: Client API version.
        explode: true
        in: query
        name: api-version
        required: true
        schema:
          type: string
        style: form
      - description: The tenant ID.
        explode: false
        in: path
        name: tenantID
        required: true
        schema:
          type: string
        style: simple
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppRoleAssignmentListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/AppRoleAssignmentListResult'
          description: OK. The operation was successful.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphError'
            text/json:
              schema:
                $ref: '#/components/schemas/GraphError'
          description: Error response describing why the operation failed.
      summary: "Principals (users, groups, and service principals) that are assigned\
        \ to this service principal."
      tags:
      - ServicePrincipalAppRoleAssignedTo
      x-ms-pageable:
        nextLinkName: odata.nextLink
      x-openapi-router-controller: openapi_server.controllers.service_principal_app_role_assigned_to_controller
  /{tenantID}/servicePrincipals/{objectId}/appRoleAssignments:
    get:
      operationId: service_principals_list_app_role_assignments
      parameters:
      - description: The object ID of the service principal for which to get owners.
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      - description: Client API version.
        explode: true
        in: query
        name: api-version
        required: true
        schema:
          type: string
        style: form
      - description: The tenant ID.
        explode: false
        in: path
        name: tenantID
        required: true
        schema:
          type: string
        style: simple
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppRoleAssignmentListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/AppRoleAssignmentListResult'
          description: OK. The operation was successful.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphError'
            text/json:
              schema:
                $ref: '#/components/schemas/GraphError'
          description: Error response describing why the operation failed.
      summary: Applications that the service principal is assigned to.
      tags:
      - ServicePrincipalAppRoleAssignments
      x-ms-pageable:
        nextLinkName: odata.nextLink
      x-openapi-router-controller: openapi_server.controllers.service_principal_app_role_assignments_controller
  /{tenantID}/servicePrincipals/{objectId}/keyCredentials:
    get:
      description: Get the keyCredentials associated with the specified service principal.
      operationId: service_principals_list_key_credentials
      parameters:
      - description: The object ID of the service principal for which to get keyCredentials.
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      - description: Client API version.
        explode: true
        in: query
        name: api-version
        required: true
        schema:
          type: string
        style: form
      - description: The tenant ID.
        explode: false
        in: path
        name: tenantID
        required: true
        schema:
          type: string
        style: simple
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeyCredentialListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/KeyCredentialListResult'
          description: OK. The operation was successful.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphError'
            text/json:
              schema:
                $ref: '#/components/schemas/GraphError'
          description: Error response describing why the operation failed.
      tags:
      - ServicePrincipalKeyCredentials
      x-ms-pageable:
        nextLinkName:
          $ref: "#/paths/~1{tenantID}~1domains/get/x-ms-pageable/nextLinkName"
      x-openapi-router-controller: openapi_server.controllers.service_principal_key_credentials_controller
    patch:
      description: Update the keyCredentials associated with a service principal.
      operationId: service_principals_update_key_credentials
      parameters:
      - description: The object ID for which to get service principal information.
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      - description: Client API version.
        explode: true
        in: query
        name: api-version
        required: true
        schema:
          type: string
        style: form
      - description: The tenant ID.
        explode: false
        in: path
        name: tenantID
        required: true
        schema:
          type: string
        style: simple
        x-ms-parameter-location: client
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KeyCredentialsUpdateParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/KeyCredentialsUpdateParameters'
        description: Parameters to update the keyCredentials of an existing service
          principal.
        required: true
        x-body-name: body
      responses:
        "204":
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphError'
            text/json:
              schema:
                $ref: '#/components/schemas/GraphError'
          description: Error response describing why the operation failed.
      tags:
      - ServicePrincipalKeyCredentials
      x-openapi-router-controller: openapi_server.controllers.service_principal_key_credentials_controller
      x-codegen-request-body-name: body
  /{tenantID}/servicePrincipals/{objectId}/owners:
    get:
      description: The owners are a set of non-admin users who are allowed to modify
        this object.
      operationId: service_principals_list_owners
      parameters:
      - description: The object ID of the service principal for which to get owners.
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      - description: Client API version.
        explode: true
        in: query
        name: api-version
        required: true
        schema:
          type: string
        style: form
      - description: The tenant ID.
        explode: false
        in: path
        name: tenantID
        required: true
        schema:
          type: string
        style: simple
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DirectoryObjectListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/DirectoryObjectListResult'
          description: OK. The operation was successful.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphError'
            text/json:
              schema:
                $ref: '#/components/schemas/GraphError'
          description: Error response describing why the operation failed.
      summary: Directory objects that are owners of this service principal.
      tags:
      - ServicePrincipalOwners
      x-ms-pageable:
        nextLinkName: odata.nextLink
      x-openapi-router-controller: openapi_server.controllers.service_principal_owners_controller
  /{tenantID}/servicePrincipals/{objectId}/passwordCredentials:
    get:
      description: Gets the passwordCredentials associated with a service principal.
      operationId: service_principals_list_password_credentials
      parameters:
      - description: The object ID of the service principal.
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      - description: Client API version.
        explode: true
        in: query
        name: api-version
        required: true
        schema:
          type: string
        style: form
      - description: The tenant ID.
        explode: false
        in: path
        name: tenantID
        required: true
        schema:
          type: string
        style: simple
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PasswordCredentialListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/PasswordCredentialListResult'
          description: OK. The operation was successful.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphError'
            text/json:
              schema:
                $ref: '#/components/schemas/GraphError'
          description: Error response describing why the operation failed.
      tags:
      - ServicePrincipalPasswordCredentials
      x-ms-pageable:
        nextLinkName:
          $ref: "#/paths/~1{tenantID}~1domains/get/x-ms-pageable/nextLinkName"
      x-openapi-router-controller: openapi_server.controllers.service_principal_password_credentials_controller
    patch:
      description: Updates the passwordCredentials associated with a service principal.
      operationId: service_principals_update_password_credentials
      parameters:
      - description: The object ID of the service principal.
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      - description: Client API version.
        explode: true
        in: query
        name: api-version
        required: true
        schema:
          type: string
        style: form
      - description: The tenant ID.
        explode: false
        in: path
        name: tenantID
        required: true
        schema:
          type: string
        style: simple
        x-ms-parameter-location: client
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PasswordCredentialsUpdateParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/PasswordCredentialsUpdateParameters'
        description: Parameters to update the passwordCredentials of an existing service
          principal.
        required: true
        x-body-name: body
      responses:
        "204":
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphError'
            text/json:
              schema:
                $ref: '#/components/schemas/GraphError'
          description: Error response describing why the operation failed.
      tags:
      - ServicePrincipalPasswordCredentials
      x-openapi-router-controller: openapi_server.controllers.service_principal_password_credentials_controller
      x-codegen-request-body-name: body
  /{tenantID}/servicePrincipalsByAppId/{applicationID}/objectId:
    get:
      description: Gets an object id for a given application id from the current tenant.
      operationId: applications_get_service_principals_id_by_app_id
      parameters:
      - description: Client API version.
        explode: true
        in: query
        name: api-version
        required: true
        schema:
          type: string
        style: form
      - description: The tenant ID.
        explode: false
        in: path
        name: tenantID
        required: true
        schema:
          type: string
        style: simple
        x-ms-parameter-location: client
      - description: The application ID.
        explode: false
        in: path
        name: applicationID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServicePrincipalObjectResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ServicePrincipalObjectResult'
          description: OK. The operation was successful.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphError'
            text/json:
              schema:
                $ref: '#/components/schemas/GraphError'
          description: Error response describing why the operation failed.
      tags:
      - ServicePrincipalsByAppId
      x-openapi-router-controller: openapi_server.controllers.service_principals_by_app_id_controller
  /{tenantID}/users:
    get:
      description: Gets list of users for the current tenant.
      operationId: users_list
      parameters:
      - description: The filter to apply to the operation.
        explode: true
        in: query
        name: $filter
        required: false
        schema:
          type: string
        style: form
      - description: The expand value for the operation result.
        explode: true
        in: query
        name: $expand
        required: false
        schema:
          type: string
        style: form
      - description: (Optional) Set the maximum number of results per response.
        explode: true
        in: query
        name: $top
        required: false
        schema:
          default: 100
          maximum: 999
          minimum: 1
          type: integer
        style: form
        x-ms-parameter-location: method
      - description: Client API version.
        explode: true
        in: query
        name: api-version
        required: true
        schema:
          type: string
        style: form
      - description: The tenant ID.
        explode: false
        in: path
        name: tenantID
        required: true
        schema:
          type: string
        style: simple
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/UserListResult'
          description: OK. The operation was successful.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphError'
            text/json:
              schema:
                $ref: '#/components/schemas/GraphError'
          description: Error response describing why the operation failed.
      tags:
      - User
      x-ms-odata: '#/components/schemas/User'
      x-ms-pageable:
        nextLinkName: odata.nextLink
        operationName: Users_ListNext
      x-openapi-router-controller: openapi_server.controllers.user_controller
    post:
      description: Create a new user.
      operationId: users_create
      parameters:
      - description: Client API version.
        explode: true
        in: query
        name: api-version
        required: true
        schema:
          type: string
        style: form
      - description: The tenant ID.
        explode: false
        in: path
        name: tenantID
        required: true
        schema:
          type: string
        style: simple
        x-ms-parameter-location: client
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserCreateParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/UserCreateParameters'
        description: Parameters to create a user.
        required: true
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
            text/json:
              schema:
                $ref: '#/components/schemas/User'
          description: Created. Indicates success. The new user is returned in the
            response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphError'
            text/json:
              schema:
                $ref: '#/components/schemas/GraphError'
          description: Error response describing why the operation failed.
      tags:
      - User
      x-openapi-router-controller: openapi_server.controllers.user_controller
      x-codegen-request-body-name: body
  /{tenantID}/users/{objectId}/getMemberGroups:
    post:
      description: Gets a collection that contains the object IDs of the groups of
        which the user is a member.
      operationId: users_get_member_groups
      parameters:
      - description: The object ID of the user for which to get group membership.
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      - description: Client API version.
        explode: true
        in: query
        name: api-version
        required: true
        schema:
          type: string
        style: form
      - description: The tenant ID.
        explode: false
        in: path
        name: tenantID
        required: true
        schema:
          type: string
        style: simple
        x-ms-parameter-location: client
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserGetMemberGroupsParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/UserGetMemberGroupsParameters'
        description: User filtering parameters.
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserGetMemberGroupsResult'
            text/json:
              schema:
                $ref: '#/components/schemas/UserGetMemberGroupsResult'
          description: OK. The operation was successful.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphError'
            text/json:
              schema:
                $ref: '#/components/schemas/GraphError'
          description: Error response describing why the operation failed.
      tags:
      - User
      x-ms-pageable:
        nextLinkName:
          $ref: "#/paths/~1{tenantID}~1domains/get/x-ms-pageable/nextLinkName"
      x-openapi-router-controller: openapi_server.controllers.user_controller
      x-codegen-request-body-name: body
  /{tenantID}/users/{upnOrObjectId}:
    delete:
      description: Delete a user.
      operationId: users_delete
      parameters:
      - description: The object ID or principal name of the user to delete.
        explode: false
        in: path
        name: upnOrObjectId
        required: true
        schema:
          type: string
        style: simple
      - description: Client API version.
        explode: true
        in: query
        name: api-version
        required: true
        schema:
          type: string
        style: form
      - description: The tenant ID.
        explode: false
        in: path
        name: tenantID
        required: true
        schema:
          type: string
        style: simple
        x-ms-parameter-location: client
      responses:
        "204":
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphError'
            text/json:
              schema:
                $ref: '#/components/schemas/GraphError'
          description: Error response describing why the operation failed.
      tags:
      - User
      x-openapi-router-controller: openapi_server.controllers.user_controller
    get:
      description: Gets user information from the directory.
      operationId: users_get
      parameters:
      - description: The object ID or principal name of the user for which to get
          information.
        explode: false
        in: path
        name: upnOrObjectId
        required: true
        schema:
          type: string
        style: simple
      - description: Client API version.
        explode: true
        in: query
        name: api-version
        required: true
        schema:
          type: string
        style: form
      - description: The tenant ID.
        explode: false
        in: path
        name: tenantID
        required: true
        schema:
          type: string
        style: simple
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
            text/json:
              schema:
                $ref: '#/components/schemas/User'
          description: OK. The operation was successful.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphError'
            text/json:
              schema:
                $ref: '#/components/schemas/GraphError'
          description: Error response describing why the operation failed.
      tags:
      - User
      x-openapi-router-controller: openapi_server.controllers.user_controller
    patch:
      description: Updates a user.
      operationId: users_update
      parameters:
      - description: The object ID or principal name of the user to update.
        explode: false
        in: path
        name: upnOrObjectId
        required: true
        schema:
          type: string
        style: simple
      - description: Client API version.
        explode: true
        in: query
        name: api-version
        required: true
        schema:
          type: string
        style: form
      - description: The tenant ID.
        explode: false
        in: path
        name: tenantID
        required: true
        schema:
          type: string
        style: simple
        x-ms-parameter-location: client
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserUpdateParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/UserUpdateParameters'
        description: Parameters to update an existing user.
        required: true
        x-body-name: body
      responses:
        "204":
          description: No Content.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphError'
            text/json:
              schema:
                $ref: '#/components/schemas/GraphError'
          description: Error response describing why the operation failed.
      tags:
      - User
      x-openapi-router-controller: openapi_server.controllers.user_controller
      x-codegen-request-body-name: body
components:
  parameters:
    ApiVersionParameter:
      description: Client API version.
      explode: true
      in: query
      name: api-version
      required: true
      schema:
        type: string
      style: form
    tenantIDInPath:
      description: The tenant ID.
      explode: false
      in: path
      name: tenantID
      required: true
      schema:
        type: string
      style: simple
      x-ms-parameter-location: client
    top:
      description: (Optional) Set the maximum number of results per response.
      explode: true
      in: query
      name: $top
      required: false
      schema:
        default: 100
        maximum: 999
        minimum: 1
        type: integer
      style: form
      x-ms-parameter-location: method
  requestBodies:
    AddOwnerParameters:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AddOwnerParameters'
        text/json:
          schema:
            $ref: '#/components/schemas/AddOwnerParameters'
      description: "The URL of the owner object, such as https://graph.windows.net/0b1f9851-1bf0-433f-aec3-cb9272f093dc/directoryObjects/f260bbc4-c254-447b-94cf-293b5ec434dd."
      required: true
  schemas:
    ADGroup:
      allOf:
      - $ref: '#/components/schemas/DirectoryObject'
      description: Active Directory group information.
      example:
        mail: mail
        displayName: displayName
        mailEnabled: true
        securityEnabled: true
        mailNickname: mailNickname
      properties:
        displayName:
          description: The display name of the group.
          title: displayName
          type: string
        mail:
          description: The primary email address of the group.
          title: mail
          type: string
        mailEnabled:
          description: Whether the group is mail-enabled. Must be false. This is because
            only pure security groups can be created using the Graph API.
          title: mailEnabled
          type: boolean
        mailNickname:
          description: 'The mail alias for the group. '
          title: mailNickname
          type: string
        securityEnabled:
          description: Whether the group is security-enable.
          title: securityEnabled
          type: boolean
      title: ADGroup
      type: object
      x-ms-discriminator-value: Group
    AddOwnerParameters:
      additionalProperties:
        type: object
      description: Request parameters for adding a owner to an application.
      example:
        url: url
      properties:
        url:
          description: "A owner object URL, such as \"https://graph.windows.net/0b1f9851-1bf0-433f-aec3-cb9272f093dc/directoryObjects/f260bbc4-c254-447b-94cf-293b5ec434dd\"\
            , where \"0b1f9851-1bf0-433f-aec3-cb9272f093dc\" is the tenantId and \"\
            f260bbc4-c254-447b-94cf-293b5ec434dd\" is the objectId of the owner (user,\
            \ application, servicePrincipal, group) to be added."
          type: string
      required:
      - url
      title: AddOwnerParameters
      type: object
    AppRole:
      example:
        displayName: displayName
        isEnabled: true
        description: description
        id: id
        allowedMemberTypes:
        - allowedMemberTypes
        - allowedMemberTypes
        value: value
      properties:
        allowedMemberTypes:
          description: "Specifies whether this app role definition can be assigned\
            \ to users and groups by setting to 'User', or to other applications (that\
            \ are accessing this application in daemon service scenarios) by setting\
            \ to 'Application', or to both. "
          items:
            type: string
          title: allowedMemberTypes
          type: array
        description:
          description: Permission help text that appears in the admin app assignment
            and consent experiences.
          title: description
          type: string
        displayName:
          description: Display name for the permission that appears in the admin consent
            and app assignment experiences.
          title: displayName
          type: string
        id:
          description: Unique role identifier inside the appRoles collection.
          title: id
          type: string
        isEnabled:
          description: "When creating or updating a role definition, this must be\
            \ set to true (which is the default). To delete a role, this must first\
            \ be set to false. At that point, in a subsequent call, this role may\
            \ be removed."
          title: isEnabled
          type: boolean
        value:
          description: Specifies the value of the roles claim that the application
            should expect in the authentication and access tokens.
          title: value
          type: string
      title: AppRole
      type: object
    AppRoleAssignment:
      allOf:
      - $ref: '#/components/schemas/DirectoryObject'
      description: AppRoleAssignment information.
      example:
        resourceDisplayName: resourceDisplayName
        resourceId: resourceId
        principalDisplayName: principalDisplayName
        principalId: principalId
        id: id
        principalType: principalType
      properties:
        id:
          description: The role id that was assigned to the principal. This role must
            be declared by the target resource application resourceId in its appRoles
            property.
          title: id
          type: string
        principalDisplayName:
          description: The display name of the principal that was granted the access.
          title: principalDisplayName
          type: string
        principalId:
          description: The unique identifier (objectId) for the principal being granted
            the access.
          title: principalId
          type: string
        principalType:
          description: "The type of principal. This can either be \"User\", \"Group\"\
            \ or \"ServicePrincipal\"."
          title: principalType
          type: string
        resourceDisplayName:
          description: The display name of the resource to which the assignment was
            made.
          title: resourceDisplayName
          type: string
        resourceId:
          description: The unique identifier (objectId) for the target resource (service
            principal) for which the assignment was made.
          title: resourceId
          type: string
      title: AppRoleAssignment
      type: object
      x-ms-discriminator-value: AppRoleAssignment
[...]
