openapi: 3.0.1
info:
  description: Azure Log Analytics API reference for Query Packs management.
  title: Azure Log Analytics Query Packs
  version: 2019-09-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2019-09-01-preview/QueryPacks_API.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: applicationinsights-QueryPacks_API
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/microsoft.insights/queryPacks:
    get:
      description: Gets a list of all Log Analytics QueryPacks within a subscription.
      operationId: query_packs_list
      parameters:
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogAnalyticsQueryPackListResult'
          description: A list containing 0 or more Log Analytics QueryPack definitions.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      x-ms-examples:
        QueryPacksList.json:
          parameters:
            api-version: 2019-09-01-preview
            subscriptionId: 86dc51d3-92ed-4d7e-947a-775ea79b4919
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/86dc51d3-92ed-4d7e-947a-775ea79b4919/resourceGroups/my-resource-group/providers/microsoft.insights/queryPacks/my-querypack
                  location: South Central US
                  name: my-querypack
                  properties:
                    provisioningState: Succeeded
                    queryPackId: d1c8fc00-2b68-441e-8f9b-ded8748dc6aa
                    timeCreated: 2019-08-04T12:37:56.8543652Z
                    timeModified: 2019-08-04T12:37:56.8543652Z
                  tags: {}
                  type: microsoft.insights/querypacks
                - id: /subscriptions/86dc51d3-92ed-4d7e-947a-775ea79b4919/resourceGroups/my-other-resource-group/providers/microsoft.insights/queryPacks/my-other-querypack
                  location: South Central US
                  name: my-other-querypack
                  properties:
                    provisioningState: Succeeded
                    queryPackId: aac8fc00-2b68-441e-8f9b-ded8748dc635
                    timeCreated: 2019-06-04T12:37:56.8543652Z
                    timeModified: 2019-08-04T12:37:56.8543652Z
                  tags: {}
                  type: microsoft.insights/querypacks
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.insights/queryPacks:
    get:
      description: Gets a list of Log Analytics QueryPacks within a resource group.
      operationId: query_packs_list_by_resource_group
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogAnalyticsQueryPackListResult'
          description: A list containing 0 or more Log Analytics QueryPack definitions.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      x-ms-examples:
        QueryPackListByResourceGroup:
          parameters:
            api-version: 2019-09-01-preview
            resourceGroupName: my-resource-group
            subscriptionId: 86dc51d3-92ed-4d7e-947a-775ea79b4919
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/86dc51d3-92ed-4d7e-947a-775ea79b4919/resourceGroups/my-resource-group/providers/microsoft.insights/queryPacks/my-querypack
                  location: South Central US
                  name: my-querypack
                  properties:
                    provisioningState: Succeeded
                    queryPackId: d1c8fc00-2b68-441e-8f9b-ded8748dc6aa
                    timeCreated: 2019-08-04T12:37:56.8543652Z
                    timeModified: 2019-08-04T12:37:56.8543652Z
                  tags: {}
                  type: microsoft.insights/querypacks
                - id: /subscriptions/86dc51d3-92ed-4d7e-947a-775ea79b4919/resourceGroups/my-resource-group/providers/microsoft.insights/queryPacks/my-other-querypack
                  location: South Central US
                  name: my-other-querypack
                  properties:
                    provisioningState: Succeeded
                    queryPackId: aac8fc00-2b68-441e-8f9b-ded8748dc635
                    timeCreated: 2019-06-04T12:37:56.8543652Z
                    timeModified: 2019-08-04T12:37:56.8543652Z
                  tags: {}
                  type: microsoft.insights/querypacks
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.insights/queryPacks/{queryPackName}:
    delete:
      description: Deletes a Log Analytics QueryPack.
      operationId: query_packs_delete
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the Log Analytics QueryPack resource.
        in: path
        name: query_pack_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content: {}
          description: Successful request when deleting a Log Analytics QueryPack.
        "204":
          content: {}
          description: The specified QueryPack does not exist.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      x-ms-examples:
        QueryPacksDelete:
          parameters:
            api-version: 2019-09-01-preview
            queryPackName: my-querypack
            resourceGroupName: my-resource-group
            subscriptionId: 86dc51d3-92ed-4d7e-947a-775ea79b4919
          responses:
            "200": {}
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.default_controller
    get:
      description: Returns a Log Analytics QueryPack.
      operationId: query_packs_get
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the Log Analytics QueryPack resource.
        in: path
        name: queryPackName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogAnalyticsQueryPack'
          description: An Log Analytics QueryPack definition.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      x-ms-examples:
        QueryPackGet:
          parameters:
            api-version: 2019-09-01-preview
            queryPackName: my-querypack
            resourceGroupName: my-resource-group
            subscriptionId: 86dc51d3-92ed-4d7e-947a-775ea79b4919
          responses:
            "200":
              body:
                id: /subscriptions/86dc51d3-92ed-4d7e-947a-775ea79b4919/resourceGroups/my-resource-group/providers/microsoft.insights/queryPacks/my-querypack
                location: southcentralus
                name: my-querypack
                properties:
                  provisioningState: Succeeded
                  queryPackId: d1c8fc00-2b68-441e-8f9b-ded8748dc635
                  timeCreated: 2019-08-04T12:37:56.8543652Z
                  timeModified: 2019-08-04T12:37:56.8543652Z
                tags: {}
                type: microsoft.insights/querypacks
      x-openapi-router-controller: openapi_server.controllers.default_controller
    patch:
      description: Updates an existing QueryPack's tags. To update other fields use
        the CreateOrUpdate method.
      operationId: query_packs_update_tags
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the Log Analytics QueryPack resource.
        in: path
        name: query_pack_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TagsResource'
        description: Updated tag information to set into the QueryPack instance.
        required: true
        x-body-name: QueryPackTags
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogAnalyticsQueryPack'
          description: Updating the Log Analytics QueryPack's tags was successful.
            QueryPack tags are updated and returned with the rest of the QueryPack's
            object properties.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      x-ms-examples:
        QueryPackUpdateTagsOnly:
          parameters:
            QueryPackTags:
              tags:
                Tag1: Value1
                Tag2: Value2
            api-version: 2019-09-01-preview
            queryPackName: my-querypack
            resourceGroupName: my-resource-group
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/my-resource-group/providers/microsoft.insights/queryPacks/my-querypack
                location: South Central US
                name: my-querypack
                properties:
                  provisioningState: Succeeded
                  queryPackId: aac8fc00-2b68-441e-8f9b-ded8748dc635
                  timeCreated: 2019-06-04T12:37:56.8543652Z
                  timeModified: 2019-08-04T12:37:56.8543652Z
                tags:
                  Tag1: Value1
                  Tag2: Value2
                type: microsoft.insights/querypacks
      x-codegen-request-body-name: QueryPackTags
      x-openapi-router-controller: openapi_server.controllers.default_controller
    put:
      description: "Creates (or updates) a Log Analytics QueryPack. Note: You cannot\
        \ specify a different value for InstrumentationKey nor AppId in the Put operation."
      operationId: query_packs_create_or_update
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the Log Analytics QueryPack resource.
        in: path
        name: query_pack_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LogAnalyticsQueryPack'
        description: Properties that need to be specified to create or update a Log
          Analytics QueryPack.
        required: true
        x-body-name: LogAnalyticsQueryPackPayload
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogAnalyticsQueryPack'
          description: Successful request when creating or updating a Log Analytics
            QueryPack. The updated QueryPack is returned.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      x-ms-examples:
        QueryPackCreate:
          parameters:
            LogAnalyticsQueryPackPayload:
              location: South Central US
              properties: {}
            api-version: 2019-09-01-preview
            queryPackName: my-querypack
            resourceGroupName: my-resource-group
            subscriptionId: 86dc51d3-92ed-4d7e-947a-775ea79b4919
          responses:
            "200":
              body:
                id: /subscriptions/86dc51d3-92ed-4d7e-947a-775ea79b4919/resourceGroups/my-resource-group/providers/microsoft.insights/queryPacks/my-querypack
                location: South Central US
                name: my-querypack
                properties:
                  provisioningState: Succeeded
                  queryPackId: d1c8fc00-2b68-441e-8f9b-ded8748dc635
                  timeCreated: 2019-08-04T12:37:56.8543652Z
                  timeModified: 2019-08-04T12:37:56.8543652Z
                tags: {}
                type: microsoft.insights/querypacks
        QueryPackUpdate:
          parameters:
            LogAnalyticsQueryPackPayload:
              location: South Central US
              properties: {}
              tags:
                Tag1: Value1
            api-version: 2019-09-01-preview
            queryPackName: my-querypack
            resourceGroupName: my-resource-group
            subscriptionId: 86dc51d3-92ed-4d7e-947a-775ea79b4919
          responses:
            "200":
              body:
                id: /subscriptions/86dc51d3-92ed-4d7e-947a-775ea79b4919/resourceGroups/my-resource-group/providers/microsoft.insights/queryPacks/my-querypack
                location: South Central US
                name: my-querypack
                properties:
                  provisioningState: Succeeded
                  queryPackId: aac8fc00-2b68-441e-8f9b-ded8748dc635
                  timeCreated: 2019-06-04T12:37:56.8543652Z
                  timeModified: 2019-08-04T12:37:56.8543652Z
                tags:
                  Tag1: Value1
                type: microsoft.insights/querypacks
      x-codegen-request-body-name: LogAnalyticsQueryPackPayload
      x-openapi-router-controller: openapi_server.controllers.default_controller
components:
  parameters:
    ResourceNameParameter:
      description: The name of the Log Analytics QueryPack resource.
      in: path
      name: queryPackName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  schemas:
    ErrorResponse:
      description: Describe the format of an Error response.
      example:
        code: code
        message: message
      properties:
        code:
          description: Error code
          title: code
          type: string
        message:
          description: Error message indicating why the operation failed.
          title: message
          type: string
      title: ErrorResponse
      type: object
    LogAnalyticsQueryPack:
      allOf:
      - $ref: '#/components/schemas/QueryPacksResource'
      description: An Log Analytics QueryPack definition.
      example:
        properties:
          queryPackId: queryPackId
          timeCreated: 2000-01-23T04:56:07.000+00:00
          provisioningState: provisioningState
          timeModified: 2000-01-23T04:56:07.000+00:00
      properties:
        properties:
          $ref: '#/components/schemas/LogAnalyticsQueryPackProperties'
      required:
      - properties
      title: LogAnalyticsQueryPack
    LogAnalyticsQueryPackListResult:
      description: Describes the list of Log Analytics QueryPack resources.
      example:
        value:
        - properties:
            queryPackId: queryPackId
            timeCreated: 2000-01-23T04:56:07.000+00:00
            provisioningState: provisioningState
            timeModified: 2000-01-23T04:56:07.000+00:00
        - properties:
            queryPackId: queryPackId
            timeCreated: 2000-01-23T04:56:07.000+00:00
            provisioningState: provisioningState
            timeModified: 2000-01-23T04:56:07.000+00:00
        nextLink: nextLink
      properties:
        nextLink:
          description: The URI to get the next set of Log Analytics QueryPack definitions
            if too many QueryPacks where returned in the result set.
          title: nextLink
          type: string
        value:
          description: List of Log Analytics QueryPack definitions.
          items:
            $ref: '#/components/schemas/LogAnalyticsQueryPack'
          title: value
          type: array
      required:
      - value
      title: LogAnalyticsQueryPackListResult
      type: object
    LogAnalyticsQueryPackProperties:
      description: Properties that define a Log Analytics QueryPack resource.
      example:
        queryPackId: queryPackId
        timeCreated: 2000-01-23T04:56:07.000+00:00
        provisioningState: provisioningState
        timeModified: 2000-01-23T04:56:07.000+00:00
      properties:
        provisioningState:
          description: "Current state of this QueryPack: whether or not is has been\
            \ provisioned within the resource group it is defined. Users cannot change\
            \ this value but are able to read from it. Values will include Succeeded,\
            \ Deploying, Canceled, and Failed."
          readOnly: true
          title: provisioningState
          type: string
        queryPackId:
          description: The unique ID of your application. This field cannot be changed.
          readOnly: true
          title: queryPackId
          type: string
        timeCreated:
          description: "Creation Date for the Log Analytics QueryPack, in ISO 8601\
            \ format."
          format: date-time
          readOnly: true
          title: timeCreated
          type: string
        timeModified:
          description: "Last modified date of the Log Analytics QueryPack, in ISO\
            \ 8601 format."
          format: date-time
          readOnly: true
          title: timeModified
          type: string
      title: LogAnalyticsQueryPackProperties
      type: object
    QueryPacksResource:
      description: An azure resource object
      properties:
        id:
          description: Azure resource Id
          readOnly: true
          title: id
          type: string
        location:
          description: Resource location
          title: location
          type: string
          x-ms-mutability:
          - create
          - read
        name:
          description: Azure resource name
          readOnly: true
          title: name
          type: string
        tags:
          description: Resource tags
          title: tags
          type: object
        type:
          description: Azure resource type
          readOnly: true
          title: type
          type: string
      required:
      - location
      title: QueryPacksResource
      type: object
      x-ms-azure-resource: true
    TagsResource:
      description: "A container holding only the Tags for a resource, allowing the\
        \ user to update the tags on a QueryPack instance."
      example:
        tags: "{}"
      properties:
        tags:
          description: Resource tags
          title: tags
          type: object
      title: TagsResource
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
