openapi: 3.0.0
info:
  contact:
    x-twitter: agentOSSoftware
  title: "agentOS API V3, Diary Call Group"
  version: v3-diary
  x-apisguru-categories:
  - ecommerce
  x-logo:
    url: https://twitter.com/agentOSSoftware/profile_image?size=original
  x-origin:
  - format: swagger
    url: https://live-api.letmc.com/swagger/docs/v3-diary
    version: "2.0"
  - format: openapi
    url: https://live-api.letmc.com/swagger/docs/v3-diary
    version: "3.0"
  x-providerName: letmc.com
  x-serviceName: diary
servers:
- url: https://live-api.letmc.com
paths:
  /v3/diary/{shortName}/allocations:
    get:
      deprecated: false
      operationId: DiaryController_GetAllocations
      parameters:
      - description: The unique client short-name
        explode: false
        in: path
        name: shortName
        required: true
        schema:
          type: string
        style: simple
      - description: The date to search from
        explode: true
        in: query
        name: preferredDate
        required: true
        schema:
          format: date-time
          type: string
        style: form
      - description: The unique appointment type identifier
        explode: true
        in: query
        name: appointmentType
        required: true
        schema:
          type: string
        style: form
      - description: Sales or Lettings property?
        explode: true
        in: query
        name: lettings
        required: false
        schema:
          type: boolean
        style: form
      - description: The unique property identifier (Sales or Lettings) determines
          branch and property type
        explode: true
        in: query
        name: propertyIdentifier
        required: false
        schema:
          type: string
        style: form
      - description: Branch ID to check appointments (required if no property submitted)
        explode: true
        in: query
        name: branchID
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/DiaryBookingModel'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/DiaryBookingModel'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/DiaryBookingModel'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/DiaryBookingModel'
                type: array
          description: OK
      summary: Get a list of all available allocations for a date + 7 days for a specified
        appointment type
      tags:
      - DiaryController
      x-accepts:
      - application/json
      - application/xml
      - text/json
      - text/xml
  /v3/diary/{shortName}/appointment:
    delete:
      deprecated: false
      operationId: DiaryController_DeleteAppointment
      parameters:
      - description: The unique client short-name
        explode: false
        in: path
        name: shortName
        required: true
        schema:
          type: string
        style: simple
      - description: The unique appointment id
        explode: true
        in: query
        name: appointmentID
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/json:
              schema:
                type: string
            text/xml:
              schema:
                type: string
          description: OK
      summary: Delete an existing appointment using its unique identifier
      tags:
      - DiaryController
      x-accepts:
      - application/json
      - application/xml
      - text/json
      - text/xml
    get:
      deprecated: false
      operationId: DiaryController_GetAppointment
      parameters:
      - description: Company short name
        explode: false
        in: path
        name: shortName
        required: true
        schema:
          type: string
        style: simple
      - description: Appointment ID
        explode: true
        in: query
        name: appointmentID
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiaryAppointmentModel'
            text/json:
              schema:
                $ref: '#/components/schemas/DiaryAppointmentModel'
          description: OK
      summary: Get an appointment by ID
      tags:
      - DiaryController
      x-accepts:
      - application/json
      - text/json
    post:
      deprecated: false
      operationId: DiaryController_PostAppointment
      parameters:
      - description: The unique client short-name
        explode: false
        in: path
        name: shortName
        required: true
        schema:
          type: string
        style: simple
      - description: The unique property identifier (Sales or Lettings)
        explode: true
        in: query
        name: propertyIdentifier
        required: true
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Sales or Lettings property?
        explode: true
        in: query
        name: lettings
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        $ref: '#/components/requestBodies/DiaryAppointmentDetails'
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/json:
              schema:
                type: string
            text/xml:
              schema:
                type: string
          description: OK
      summary: Post an appointment into a valid diary allocation
      tags:
      - DiaryController
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/xml
      - text/json
      - text/xml
    put:
      deprecated: false
      operationId: DiaryController_PutAppointment
      parameters:
      - description: The unique client short-name
        explode: false
        in: path
        name: shortName
        required: true
        schema:
          type: string
        style: simple
      - description: The unique appointment id
        explode: true
        in: query
        name: appointmentID
        required: true
        schema:
          type: string
        style: form
      - description: Sales or Lettings property?
        explode: true
        in: query
        name: lettings
        required: false
        schema:
          type: boolean
        style: form
      - description: Sales or Lettings property?
        explode: true
        in: query
        name: AllowMarketingCorrespondence
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        $ref: '#/components/requestBodies/DiaryAppointmentDetails'
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/json:
              schema:
                type: string
            text/xml:
              schema:
                type: string
          description: OK
      summary: Update an existing appointment using its unique identifier
      tags:
      - DiaryController
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/xml
      - text/json
      - text/xml
  /v3/diary/{shortName}/appointment/feedback:
    post:
      deprecated: false
      operationId: DiaryController_AddFeedback
      parameters:
      - description: The unique client short-name
        explode: false
        in: path
        name: shortName
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FeedbackSubmissionModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/FeedbackSubmissionModel'
          application/xml:
            schema:
              $ref: '#/components/schemas/FeedbackSubmissionModel'
          text/json:
            schema:
              $ref: '#/components/schemas/FeedbackSubmissionModel'
          text/xml:
            schema:
              $ref: '#/components/schemas/FeedbackSubmissionModel'
        description: Feedback submission model
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/json:
              schema:
                type: string
            text/xml:
              schema:
                type: string
          description: OK
      summary: Submit appointment feedback
      tags:
      - DiaryController
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/xml
      - text/json
      - text/xml
  /v3/diary/{shortName}/appointment/{appointmentID}/cancel:
    patch:
      deprecated: false
      operationId: DiaryController_CancelAppointment
      parameters:
      - description: The unique client short-name
        explode: false
        in: path
        name: shortName
        required: true
        schema:
          type: string
        style: simple
      - description: The unique appointment id
        explode: false
        in: path
        name: appointmentID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/json:
              schema:
                type: string
            text/xml:
              schema:
                type: string
          description: OK
      summary: Cancel an existing appointment using its unique identifier
      tags:
      - DiaryController
      x-accepts:
      - application/json
      - application/xml
      - text/json
      - text/xml
  /v3/diary/{shortName}/appointmentsbetweendates:
    get:
      deprecated: false
      operationId: DiaryController_GetAppointmentsBetweenDates
      parameters:
      - description: The unique client short-name
        explode: false
        in: path
        name: shortName
        required: true
        schema:
          type: string
        style: simple
      - description: The unique ID of the Branch
        explode: true
        in: query
        name: branchID
        required: true
        schema:
          type: string
        style: form
      - description: The search from date
        explode: true
        in: query
        name: startDate
        required: true
        schema:
          format: date-time
          type: string
        style: form
      - description: The search to date
        explode: true
        in: query
        name: endDate
        required: true
        schema:
          format: date-time
          type: string
        style: form
      - description: The appointment IDs to search for
        explode: true
        in: query
        name: appointmentTypesToSearch
        required: true
        schema:
          items:
            type: string
          type: array
        style: form
      - description: The index of the first item to return
        explode: true
        in: query
        name: offset
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - description: The maximum number of items to return (up to 1000 per request)
        explode: true
        in: query
        name: count
        required: true
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiaryAppointmentModelResults'
            application/xml:
              schema:
                $ref: '#/components/schemas/DiaryAppointmentModelResults'
            text/json:
              schema:
                $ref: '#/components/schemas/DiaryAppointmentModelResults'
            text/xml:
              schema:
                $ref: '#/components/schemas/DiaryAppointmentModelResults'
          description: OK
      summary: A collection of diary appointments linked to a company filtered between
        specific dates and by appointment type
      tags:
      - DiaryController
      x-accepts:
      - application/json
      - application/xml
      - text/json
      - text/xml
  /v3/diary/{shortName}/appointmenttypes:
    get:
      deprecated: false
      operationId: DiaryController_GetAppointmentTypes
      parameters:
      - description: The unique client short-name
        explode: false
        in: path
        name: shortName
        required: true
        schema:
          type: string
        style: simple
      - description: The index of the first item to return
        explode: true
        in: query
        name: offset
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - description: The maximum number of items to return (up to 1000 per request)
        explode: true
        in: query
        name: count
        required: true
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiaryAppointmentTypeModelResults'
            application/xml:
              schema:
                $ref: '#/components/schemas/DiaryAppointmentTypeModelResults'
            text/json:
              schema:
                $ref: '#/components/schemas/DiaryAppointmentTypeModelResults'
            text/xml:
              schema:
                $ref: '#/components/schemas/DiaryAppointmentTypeModelResults'
          description: OK
      summary: A collection of all diary appointment types
      tags:
      - DiaryController
      x-accepts:
      - application/json
      - application/xml
      - text/json
      - text/xml
  /v3/diary/{shortName}/company/branches:
    get:
      deprecated: false
      operationId: CompanyController_GetBranches
      parameters:
      - description: The unique client short-name
        explode: false
        in: path
        name: shortName
        required: true
        schema:
          type: string
        style: simple
      - description: The index of the first item to return
        explode: true
        in: query
        name: offset
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - description: The maximum number of items to return (up to 1000 per request)
        explode: true
        in: query
        name: count
        required: true
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvertisingBranchModelResults'
            application/xml:
              schema:
                $ref: '#/components/schemas/AdvertisingBranchModelResults'
            text/json:
              schema:
                $ref: '#/components/schemas/AdvertisingBranchModelResults'
            text/xml:
              schema:
                $ref: '#/components/schemas/AdvertisingBranchModelResults'
          description: OK
      summary: All branches defined for a company
      tags:
      - CompanyController
      x-accepts:
      - application/json
      - application/xml
      - text/json
      - text/xml
  /v3/diary/{shortName}/company/branches/{branchID}:
    get:
      deprecated: false
      parameters:
      - description: The unique client short-name
        explode: false
        in: path
        name: shortName
        required: true
        schema:
          type: string
        style: simple
      - description: The unique ID of the Branch
        explode: false
        in: path
        name: branchID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvertisingBranchModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/AdvertisingBranchModel'
            text/json:
              schema:
                $ref: '#/components/schemas/AdvertisingBranchModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/AdvertisingBranchModel'
          description: OK
      summary: Get a specific branch given its unique Object ID (OID)
      tags:
      - CompanyController
      x-accepts:
      - application/json
      - application/xml
      - text/json
      - text/xml
  /v3/diary/{shortName}/recurringappointment:
    get:
      deprecated: false
      operationId: DiaryController_GetRecurringAppointments
      parameters:
      - description: The unique client short-name
        explode: false
        in: path
        name: shortName
        required: true
        schema:
          type: string
        style: simple
      - description: The unique ID of the Branch
        explode: true
        in: query
        name: branchID
        required: true
        schema:
          type: string
        style: form
      - description: The appointment IDs to search for
        explode: true
        in: query
        name: appointmentTypesToSearch
        required: true
        schema:
          items:
            type: string
          type: array
        style: form
      - description: The index of the first item to return
        explode: true
        in: query
        name: offset
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - description: The maximum number of items to return (up to 1000 per request)
        explode: true
        in: query
        name: count
        required: true
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiaryAppointmentModelResults'
            application/xml:
              schema:
                $ref: '#/components/schemas/DiaryAppointmentModelResults'
            text/json:
              schema:
                $ref: '#/components/schemas/DiaryAppointmentModelResults'
            text/xml:
              schema:
                $ref: '#/components/schemas/DiaryAppointmentModelResults'
          description: OK
      summary: Retrieves all recurring appointments:-
      tags:
      - DiaryController
      x-accepts:
      - application/json
      - application/xml
      - text/json
      - text/xml
  /v3/diary/{shortname}/{branchID}/guest/search:
    get:
      deprecated: false
      operationId: DiaryController_SearchGuest
      parameters:
      - description: ""
        explode: false
        in: path
        name: shortname
        required: true
        schema:
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: branchID
        required: true
        schema:
          type: string
        style: simple
      - description: ""
        explode: true
        in: query
        name: forename
        required: true
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: emailaddress
        required: true
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: surname
        required: true
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: offset
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - description: ""
        explode: true
        in: query
        name: count
        required: true
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuestDiaryParametersResultsModel'
            text/json:
              schema:
                $ref: '#/components/schemas/GuestDiaryParametersResultsModel'
          description: OK
      summary: Match Guest Parameters with existing applicants
      tags:
      - DiaryController
      x-accepts:
      - application/json
      - text/json
components:
  requestBodies:
    DiaryAppointmentDetails:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DiaryAppointmentDetails'
        application/x-www-form-urlencoded:
          schema:
            $ref: '#/components/schemas/DiaryAppointmentDetails'
        application/xml:
          schema:
            $ref: '#/components/schemas/DiaryAppointmentDetails'
        text/json:
          schema:
            $ref: '#/components/schemas/DiaryAppointmentDetails'
        text/xml:
          schema:
            $ref: '#/components/schemas/DiaryAppointmentDetails'
      description: The appointment details model
      required: true
  schemas:
    AdvertisingBranchModel:
      description: Defines a single branch of a client.
      example:
        EMailAddress: EMailAddress
        Address2: Address2
        Address3: Address3
        Address1: Address1
        OID: OID
        County: County
        Postcode: Postcode
        LandPhone: LandPhone
        Name: Name
        CompanyName: CompanyName
        ETag: ETag
        Address4: Address4
        WebAddress: WebAddress
        FaxPhone: FaxPhone
      properties:
        Address1:
          description: Branch address line 1.
          type: string
        Address2:
          description: Branch address line 2.
          type: string
        Address3:
          description: Branch address line 3.
          type: string
        Address4:
          description: Branch address line 4.
          type: string
        CompanyName:
          description: "The relevant company name, if not the one specified on the\
            \ branch then the one on company."
          type: string
        County:
          description: County
          type: string
        EMailAddress:
          description: Branch email address.
          type: string
        ETag:
          description: A unique identifier defining the object and change revision.
          type: string
        FaxPhone:
          description: Branch fax phone number.
          type: string
        LandPhone:
          description: Branch land phone number.
          type: string
        Name:
          description: The branch name.
          type: string
        OID:
          description: The unique Object ID (OID).
          type: string
        Postcode:
          description: Branch address postcode.
          type: string
        WebAddress:
          description: Branch web address.
          type: string
      type: object
    AdvertisingBranchModelResults:
      description: Holds results from a paged query returning BranchModel values
      example:
        Data:
        - EMailAddress: EMailAddress
          Address2: Address2
          Address3: Address3
          Address1: Address1
          OID: OID
          County: County
          Postcode: Postcode
          LandPhone: LandPhone
          Name: Name
          CompanyName: CompanyName
          ETag: ETag
          Address4: Address4
          WebAddress: WebAddress
          FaxPhone: FaxPhone
        - EMailAddress: EMailAddress
          Address2: Address2
          Address3: Address3
          Address1: Address1
          OID: OID
          County: County
          Postcode: Postcode
          LandPhone: LandPhone
          Name: Name
          CompanyName: CompanyName
          ETag: ETag
          Address4: Address4
          WebAddress: WebAddress
          FaxPhone: FaxPhone
        Count: 0
      properties:
        Count:
          description: The total number of results available for all pages
          format: int32
          type: integer
        Data:
          description: The resulting data returned from the paged query range
          items:
            $ref: '#/components/schemas/AdvertisingBranchModel'
          type: array
      type: object
    BaseHypermediaLink:
      description: Hypermedia Link Class
      example:
        Relationship: Relationship
        Href: Href
        Method: Method
      properties:
        Href:
          description: The hypermedia href
          type: string
        Method:
          description: The http method type
          type: string
        Relationship:
          description: The hypermedia link relationship to current result object.
          type: string
      type: object
    DiaryAppointmentDetails:
      description: Submission Model - Structure to submit the appointment details
      example:
        AllocationDetails:
          StaffID: StaffID
          Start: 2000-01-23T04:56:07.000+00:00
          End: 2000-01-23T04:56:07.000+00:00
          StaffName: StaffName
        AppointmentType: AppointmentType
        Guests:
        - Forename: Forename
          AllowMarketingCorrespondence: true
          OID: OID
          Surname: Surname
          EmailAddress: EmailAddress
          MobilePhone: MobilePhone
        - Forename: Forename
          AllowMarketingCorrespondence: true
          OID: OID
          Surname: Surname
          EmailAddress: EmailAddress
          MobilePhone: MobilePhone
        Subject: Subject
        ExtraComments: ExtraComments
      properties:
        AllocationDetails:
          $ref: '#/components/schemas/DiaryBookingModel'
        AppointmentType:
          description: The Appointment Type ID
          type: string
        ExtraComments:
          description: Additional appointment comments
          type: string
        Guests:
          description: A collection of guests linked to the appointment. If none leave
            empty
          items:
            $ref: '#/components/schemas/DiaryGuestDetails'
          type: array
        Subject:
          description: The subject of the appointment
          type: string
      type: object
    DiaryAppointmentModel:
      description: Represents a single diary appointment for a staff member.
      example:
        Comment: Comment
        Recurrence: 0
        CreatedBy: CreatedBy
        RemindBefore: Min
        LinkedProperties:
        - AddressFlatRoomNumber: AddressFlatRoomNumber
          ETag: ETag
          MainLandlord:
            Email: Email
            ETag: ETag
            Forename: Forename
            PhoneNumber: PhoneNumber
            Title: Title
            OID: OID
            Surname: Surname
          Address4: Address4
          Address2: Address2
          Address3: Address3
          AddressNumber: AddressNumber
          Address1: Address1
          OID: OID
          Postcode: Postcode
          LatestTenancy:
            IsTenancyEnded: true
            GlobalReference: GlobalReference
            AccessMobile3: AccessMobile3
            AccessName1: AccessName1
            AccessMobile2: AccessMobile2
            AccessName2: AccessName2
            OID: OID
            AccessMobile1: AccessMobile1
            AccessName3: AccessName3
            EndDate: 2000-01-23T04:56:07.000+00:00
            StartDate: 2000-01-23T04:56:07.000+00:00
            ETag: ETag
            FixedDate: 2000-01-23T04:56:07.000+00:00
            IsTenancySigned: true
            AccessArrangements: AccessArrangements
            IsTenancyProposed: true
            LinkedTenants:
            - Email: Email
              ETag: ETag
              Forename: Forename
              PhoneNumber: PhoneNumber
              Title: Title
              OID: OID
              Surname: Surname
            - Email: Email
              ETag: ETag
              Forename: Forename
              PhoneNumber: PhoneNumber
              Title: Title
              OID: OID
              Surname: Surname
        - AddressFlatRoomNumber: AddressFlatRoomNumber
          ETag: ETag
          MainLandlord:
            Email: Email
            ETag: ETag
            Forename: Forename
            PhoneNumber: PhoneNumber
            Title: Title
            OID: OID
            Surname: Surname
          Address4: Address4
          Address2: Address2
          Address3: Address3
          AddressNumber: AddressNumber
          Address1: Address1
          OID: OID
          Postcode: Postcode
          LatestTenancy:
            IsTenancyEnded: true
            GlobalReference: GlobalReference
            AccessMobile3: AccessMobile3
            AccessName1: AccessName1
            AccessMobile2: AccessMobile2
            AccessName2: AccessName2
            OID: OID
            AccessMobile1: AccessMobile1
            AccessName3: AccessName3
            EndDate: 2000-01-23T04:56:07.000+00:00
            StartDate: 2000-01-23T04:56:07.000+00:00
            ETag: ETag
            FixedDate: 2000-01-23T04:56:07.000+00:00
            IsTenancySigned: true
            AccessArrangements: AccessArrangements
            IsTenancyProposed: true
            LinkedTenants:
            - Email: Email
              ETag: ETag
              Forename: Forename
              PhoneNumber: PhoneNumber
              Title: Title
              OID: OID
              Surname: Surname
            - Email: Email
              ETag: ETag
              Forename: Forename
              PhoneNumber: PhoneNumber
              Title: Title
              OID: OID
              Surname: Surname
        Start: 2000-01-23T04:56:07.000+00:00
        CreatedAt: 2000-01-23T04:56:07.000+00:00
        RecurrenceType: RecurrenceType
        Staff: Staff
        RemindAt: 2000-01-23T04:56:07.000+00:00
        Cancelled: true
        OID: OID
        Subject: Subject
        AppointmentType: AppointmentType
        ETag: ETag
        End: 2000-01-23T04:56:07.000+00:00
        LinkedGuest:
        - Email: Email
          GlobalReference: GlobalReference
          CreatedAt: 2000-01-23T04:56:07.000+00:00
          OID: OID
          Mobile: Mobile
          Name: Name
        - Email: Email
          GlobalReference: GlobalReference
          CreatedAt: 2000-01-23T04:56:07.000+00:00
          OID: OID
          Mobile: Mobile
          Name: Name
        NextRecurringDate: 2000-01-23T04:56:07.000+00:00
      properties:
        AppointmentType:
          description: The diary appointment type.
          type: string
        Cancelled:
          description: Whether the appointment has been cancelled.
          type: boolean
        Comment:
          description: The appointment comments text.
          type: string
        CreatedAt:
          description: The date/time this appointment was created.
          format: date-time
          type: string
        CreatedBy:
          description: The staff member that created this appointment.
          type: string
        ETag:
          description: A unique identifier defining the object and change revision.
          type: string
        End:
          description: The end date/time of this appointment.
          format: date-time
          type: string
        LinkedGuest:
          description: Linked Guest Model:-
          items:
            $ref: '#/components/schemas/LinkedGuestModel'
          readOnly: true
          type: array
        LinkedProperties:
          description: A collection of properties linked to the appointment:-
          items:
            $ref: '#/components/schemas/LinkedPropertiesModel'
          type: array
        NextRecurringDate:
          description: Date appointment next repeats:-
          format: date-time
          type: string
        OID:
          description: The unique Object ID (OID).
          type: string
        Recurrence:
          description: The reccurrence interval for the appointment:-
          format: int32
          type: integer
        RecurrenceType:
          description: The type of recurrence:-
          type: string
        RemindAt:
          description: The date/time to remind the staff member of this appointment.
          format: date-time
          type: string
        RemindBefore:
          description: The number of minutes before the appointment start date/time
            to remind the staff member. -1 means don't remind.
          enum:
          - Min
          - Min2
          - Min5
          - Min10
          - Min15
          - Min30
          - Min45
          - Hour
          - Hour2
          - Hour3
          - Hour6
          - Hour12
          - Day
          - Day2
          - Day3
          - Week
          - NoReminder
          type: string
        Staff:
          description: The staff member holding this appointment.
          type: string
        Start:
          description: The start date/time of this appointment.
          format: date-time
          type: string
        Subject:
          description: The appointment subject text.
          type: string
      type: object
    DiaryAppointmentModelResults:
      description: Holds results from a paged query returning DiaryAppointmentModel
        values
      example:
        Data:
        - Comment: Comment
          Recurrence: 0
          CreatedBy: CreatedBy
          RemindBefore: Min
          LinkedProperties:
          - AddressFlatRoomNumber: AddressFlatRoomNumber
            ETag: ETag
            MainLandlord:
              Email: Email
              ETag: ETag
              Forename: Forename
              PhoneNumber: PhoneNumber
              Title: Title
              OID: OID
              Surname: Surname
            Address4: Address4
            Address2: Address2
            Address3: Address3
            AddressNumber: AddressNumber
            Address1: Address1
            OID: OID
            Postcode: Postcode
            LatestTenancy:
              IsTenancyEnded: true
              GlobalReference: GlobalReference
              AccessMobile3: AccessMobile3
              AccessName1: AccessName1
              AccessMobile2: AccessMobile2
              AccessName2: AccessName2
              OID: OID
              AccessMobile1: AccessMobile1
              AccessName3: AccessName3
              EndDate: 2000-01-23T04:56:07.000+00:00
              StartDate: 2000-01-23T04:56:07.000+00:00
              ETag: ETag
              FixedDate: 2000-01-23T04:56:07.000+00:00
              IsTenancySigned: true
              AccessArrangements: AccessArrangements
              IsTenancyProposed: true
              LinkedTenants:
              - Email: Email
                ETag: ETag
                Forename: Forename
                PhoneNumber: PhoneNumber
                Title: Title
                OID: OID
                Surname: Surname
              - Email: Email
                ETag: ETag
                Forename: Forename
                PhoneNumber: PhoneNumber
                Title: Title
                OID: OID
                Surname: Surname
          - AddressFlatRoomNumber: AddressFlatRoomNumber
            ETag: ETag
            MainLandlord:
              Email: Email
              ETag: ETag
              Forename: Forename
              PhoneNumber: PhoneNumber
              Title: Title
              OID: OID
              Surname: Surname
            Address4: Address4
            Address2: Address2
            Address3: Address3
            AddressNumber: AddressNumber
            Address1: Address1
            OID: OID
            Postcode: Postcode
            LatestTenancy:
              IsTenancyEnded: true
              GlobalReference: GlobalReference
              AccessMobile3: AccessMobile3
              AccessName1: AccessName1
              AccessMobile2: AccessMobile2
              AccessName2: AccessName2
              OID: OID
              AccessMobile1: AccessMobile1
              AccessName3: AccessName3
              EndDate: 2000-01-23T04:56:07.000+00:00
              StartDate: 2000-01-23T04:56:07.000+00:00
              ETag: ETag
              FixedDate: 2000-01-23T04:56:07.000+00:00
              IsTenancySigned: true
              AccessArrangements: AccessArrangements
              IsTenancyProposed: true
              LinkedTenants:
              - Email: Email
                ETag: ETag
                Forename: Forename
                PhoneNumber: PhoneNumber
                Title: Title
                OID: OID
                Surname: Surname
              - Email: Email
                ETag: ETag
                Forename: Forename
                PhoneNumber: PhoneNumber
                Title: Title
                OID: OID
                Surname: Surname
          Start: 2000-01-23T04:56:07.000+00:00
          CreatedAt: 2000-01-23T04:56:07.000+00:00
          RecurrenceType: RecurrenceType
          Staff: Staff
          RemindAt: 2000-01-23T04:56:07.000+00:00
          Cancelled: true
          OID: OID
          Subject: Subject
          AppointmentType: AppointmentType
          ETag: ETag
          End: 2000-01-23T04:56:07.000+00:00
          LinkedGuest:
          - Email: Email
            GlobalReference: GlobalReference
            CreatedAt: 2000-01-23T04:56:07.000+00:00
            OID: OID
            Mobile: Mobile
            Name: Name
          - Email: Email
            GlobalReference: GlobalReference
            CreatedAt: 2000-01-23T04:56:07.000+00:00
            OID: OID
            Mobile: Mobile
            Name: Name
          NextRecurringDate: 2000-01-23T04:56:07.000+00:00
        - Comment: Comment
          Recurrence: 0
          CreatedBy: CreatedBy
          RemindBefore: Min
          LinkedProperties:
          - AddressFlatRoomNumber: AddressFlatRoomNumber
            ETag: ETag
            MainLandlord:
              Email: Email
              ETag: ETag
              Forename: Forename
              PhoneNumber: PhoneNumber
              Title: Title
              OID: OID
              Surname: Surname
            Address4: Address4
            Address2: Address2
            Address3: Address3
            AddressNumber: AddressNumber
            Address1: Address1
            OID: OID
            Postcode: Postcode
            LatestTenancy:
              IsTenancyEnded: true
              GlobalReference: GlobalReference
              AccessMobile3: AccessMobile3
              AccessName1: AccessName1
              AccessMobile2: AccessMobile2
              AccessName2: AccessName2
              OID: OID
              AccessMobile1: AccessMobile1
              AccessName3: AccessName3
              EndDate: 2000-01-23T04:56:07.000+00:00
              StartDate: 2000-01-23T04:56:07.000+00:00
              ETag: ETag
              FixedDate: 2000-01-23T04:56:07.000+00:00
              IsTenancySigned: true
              AccessArrangements: AccessArrangements
              IsTenancyProposed: true
              LinkedTenants:
              - Email: Email
                ETag: ETag
                Forename: Forename
                PhoneNumber: PhoneNumber
                Title: Title
                OID: OID
                Surname: Surname
              - Email: Email
                ETag: ETag
                Forename: Forename
                PhoneNumber: PhoneNumber
                Title: Title
                OID: OID
                Surname: Surname
          - AddressFlatRoomNumber: AddressFlatRoomNumber
            ETag: ETag
            MainLandlord:
              Email: Email
              ETag: ETag
              Forename: Forename
              PhoneNumber: PhoneNumber
              Title: Title
              OID: OID
              Surname: Surname
            Address4: Address4
            Address2: Address2
            Address3: Address3
            AddressNumber: AddressNumber
            Address1: Address1
            OID: OID
            Postcode: Postcode
            LatestTenancy:
              IsTenancyEnded: true
              GlobalReference: GlobalReference
              AccessMobile3: AccessMobile3
              AccessName1: AccessName1
              AccessMobile2: AccessMobile2
              AccessName2: AccessName2
              OID: OID
              AccessMobile1: AccessMobile1
              AccessName3: AccessName3
              EndDate: 2000-01-23T04:56:07.000+00:00
              StartDate: 2000-01-23T04:56:07.000+00:00
              ETag: ETag
              FixedDate: 2000-01-23T04:56:07.000+00:00
              IsTenancySigned: true
              AccessArrangements: AccessArrangements
              IsTenancyProposed: true
              LinkedTenants:
              - Email: Email
                ETag: ETag
                Forename: Forename
                PhoneNumber: PhoneNumber
                Title: Title
                OID: OID
                Surname: Surname
              - Email: Email
                ETag: ETag
                Forename: Forename
                PhoneNumber: PhoneNumber
                Title: Title
                OID: OID
                Surname: Surname
          Start: 2000-01-23T04:56:07.000+00:00
          CreatedAt: 2000-01-23T04:56:07.000+00:00
          RecurrenceType: RecurrenceType
          Staff: Staff
          RemindAt: 2000-01-23T04:56:07.000+00:00
          Cancelled: true
          OID: OID
          Subject: Subject
          AppointmentType: AppointmentType
          ETag: ETag
          End: 2000-01-23T04:56:07.000+00:00
          LinkedGuest:
          - Email: Email
            GlobalReference: GlobalReference
            CreatedAt: 2000-01-23T04:56:07.000+00:00
            OID: OID
            Mobile: Mobile
            Name: Name
          - Email: Email
            GlobalReference: GlobalReference
            CreatedAt: 2000-01-23T04:56:07.000+00:00
            OID: OID
            Mobile: Mobile
            Name: Name
          NextRecurringDate: 2000-01-23T04:56:07.000+00:00
        Count: 0
      properties:
        Count:
          description: The total number of results available for all pages
          format: int32
          type: integer
        Data:
          description: The resulting data returned from the paged query range
          items:
            $ref: '#/components/schemas/DiaryAppointmentModel'
          type: array
      type: object
    DiaryAppointmentTypeModel:
      description: Represents a diary appointment type.
      example:
        ETag: ETag
        SystemType: Viewing
        OID: OID
        Name: Name
      properties:
        ETag:
          description: A unique identifier defining the object and change revision.
          type: string
        Name:
          description: The appointment type name.
          type: string
        OID:
          description: The unique Object ID (OID).
          type: string
        SystemType:
          description: The appointment system type.
          enum:
          - Viewing
          - ViewAndValue
          - OpeningInspection
          - InterimInspection
          - ClosingInspection
          - SalesAppraisal
          - Custom
          type: string
      type: object
    DiaryAppointmentTypeModelResults:
      description: Holds results from a paged query returning DiaryAppointmentTypeModel
        values
      example:
        Data:
        - ETag: ETag
          SystemType: Viewing
          OID: OID
          Name: Name
        - ETag: ETag
          SystemType: Viewing
          OID: OID
          Name: Name
        Count: 0
      properties:
        Count:
          description: The total number of results available for all pages
          format: int32
          type: integer
        Data:
          description: The resulting data returned from the paged query range
          items:
            $ref: '#/components/schemas/DiaryAppointmentTypeModel'
          type: array
      type: object
    DiaryBookingModel:
      description: Represents a viewing booking slot
      example:
        StaffID: StaffID
        Start: 2000-01-23T04:56:07.000+00:00
        End: 2000-01-23T04:56:07.000+00:00
        StaffName: StaffName
      properties:
        End:
          description: The end time of the booking
          format: date-time
          type: string
        StaffID:
          description: The unique ID of the staff member this booking is with
          type: string
        StaffName:
          description: The name of the staff member this booking is with
          type: string
        Start:
          description: The start time of the booking
          format: date-time
          type: string
      type: object
    DiaryGuestDetails:
      description: Submission Model - Structure to submit appointment guest details
      example:
        Forename: Forename
        AllowMarketingCorrespondence: true
        OID: OID
        Surname: Surname
        EmailAddress: EmailAddress
        MobilePhone: MobilePhone
      properties:
        AllowMarketingCorrespondence:
          description: Marketing Correspondence Preferences
          type: boolean
        EmailAddress:
          description: Email address
          type: string
        Forename:
          description: Forename
          type: string
        MobilePhone:
          description: Mobile phone
          type: string
        OID:
          description: "The unique identifier of a user, only submit this is known"
          type: string
        Surname:
          description: Surname
          type: string
      type: object
    FeedbackSubmissionModel:
      description: Feedback Submission Model:-
      example:
        Feedback: Feedback
        AppointmentID: AppointmentID
        PropertyID: PropertyID
      properties:
        AppointmentID:
          description: Appointment to submit feedback to:-
          type: string
        Feedback:
          description: Feedback to submit:-
          type: string
        PropertyID:
          description: Property to submit feedback to:-
          type: string
      type: object
    GuestDiaryParametersModel:
      description: Guest Diary Parameters Model
      example:
        ContactMobile: ContactMobile
        Forename: Forename
        OID: OID
        Surname: Surname
        EmailAddress: EmailAddress
      properties:
        ContactMobile:
          description: Guest Mobile Phone
          readOnly: true
          type: string
        EmailAddress:
          description: Guest Email Address
          readOnly: true
          type: string
        Forename:
          description: Guest Forename
          readOnly: true
          type: string
        OID:
          description: Guest OID
          readOnly: true
          type: string
        Surname:
          description: Guest Surname
          readOnly: true
          type: string
      type: object
    GuestDiaryParametersResultsModel:
      description: Contacts Person Model Results:-
      example:
        Links:
        - Relationship: Relationship
          Href: Href
          Method: Method
        - Relationship: Relationship
          Href: Href
          Method: Method
        Data:
        - ContactMobile: ContactMobile
          Forename: Forename
          OID: OID
          Surname: Surname
          EmailAddress: EmailAddress
        - ContactMobile: ContactMobile
          Forename: Forename
          OID: OID
          Surname: Surname
          EmailAddress: EmailAddress
        Count: 0
      properties:
        Count:
          description: Results count:-
          format: int32
          type: integer
        Data:
          description: Results data:-
          items:
            $ref: '#/components/schemas/GuestDiaryParametersModel'
          type: array
        Links:
          description: Results links:-
          items:
            $ref: '#/components/schemas/BaseHypermediaLink'
          type: array
      type: object
    LatestTenancyModel:
      description: Holds information on the most recent tenancy linked to the property.
      example:
        IsTenancyEnded: true
        GlobalReference: GlobalReference
        AccessMobile3: AccessMobile3
        AccessName1: AccessName1
        AccessMobile2: AccessMobile2
        AccessName2: AccessName2
        OID: OID
        AccessMobile1: AccessMobile1
        AccessName3: AccessName3
        EndDate: 2000-01-23T04:56:07.000+00:00
        StartDate: 2000-01-23T04:56:07.000+00:00
        ETag: ETag
        FixedDate: 2000-01-23T04:56:07.000+00:00
        IsTenancySigned: true
        AccessArrangements: AccessArrangements
        IsTenancyProposed: true
        LinkedTenants:
        - Email: Email
          ETag: ETag
          Forename: Forename
          PhoneNumber: PhoneNumber
          Title: Title
          OID: OID
          Surname: Surname
        - Email: Email
          ETag: ETag
          Forename: Forename
          PhoneNumber: PhoneNumber
          Title: Title
          OID: OID
          Surname: Surname
      properties:
        AccessArrangements:
          description: Access Arrangements
          readOnly: true
          type: string
        AccessMobile1:
          description: Arrange access Mobile 1
          readOnly: true
          type: string
        AccessMobile2:
          description: Arrange access Mobile 2
          readOnly: true
          type: string
        AccessMobile3:
          description: Arrange access Mobile 3
          readOnly: true
          type: string
        AccessName1:
          description: Arrange access contact name 1
          readOnly: true
          type: string
        AccessName2:
          description: Arrange access contact name 2
          readOnly: true
          type: string
        AccessName3:
          description: Arrange access contact name 3
          readOnly: true
          type: string
        ETag:
          description: ETag
          type: string
        EndDate:
          description: The end date of the Tenancy
          format: date-time
          type: string
        FixedDate:
          description: The fixed date of the Tenancy
          format: date-time
          type: string
        GlobalReference:
          description: The unique global reference of the Tenancy
          type: string
        IsTenancyEnded:
          description: Has the Tenancy ended?
          type: boolean
        IsTenancyProposed:
          description: Is the tenancy Proposed?
          type: boolean
        IsTenancySigned:
          description: Is the tenancy signed?
          type: boolean
        LinkedTenants:
          description: A collection of tenants linked to the tenancy:-
          items:
            $ref: '#/components/schemas/LinkedTenantModel'
          type: array
        OID:
          description: OID
          type: string
        StartDate:
          description: The start date of the Tenancy
          format: date-time
          type: string
      type: object
    LinkedGuestModel:
      description: Holds information on guests
      example:
        Email: Email
        GlobalReference: GlobalReference
        CreatedAt: 2000-01-23T04:56:07.000+00:00
        OID: OID
        Mobile: Mobile
        Name: Name
      properties:
        CreatedAt:
          description: Guest Created At:-
          format: date-time
          readOnly: true
          type: string
        Email:
          description: Guest Email:-
          readOnly: true
          type: string
        GlobalReference:
          description: Guest Global Reference:-
          readOnly: true
          type: string
        Mobile:
          description: Guest Mobile:-
          readOnly: true
          type: string
        Name:
          description: Guest Name:-
          readOnly: true
          type: string
        OID:
          description: Guest OID:-
          readOnly: true
          type: string
      type: object
    LinkedLandlordModel:
      description: Holds information on landlords
      example:
        Email: Email
        ETag: ETag
        Forename: Forename
        PhoneNumber: PhoneNumber
        Title: Title
        OID: OID
        Surname: Surname
      properties:
        ETag:
          description: ETag
          type: string
        Email:
          description: Landlord's email address
          type: string
        Forename:
          description: Forename
          type: string
        OID:
          description: OID
          type: string
        PhoneNumber:
          description: Landlord's phone number
          type: string
        Surname:
          description: Surname
          type: string
        Title:
          description: Title
          type: string
      type: object
    LinkedPropertiesModel:
      description: Holds information on linked properties
      example:
        AddressFlatRoomNumber: AddressFlatRoomNumber
        ETag: ETag
        MainLandlord:
          Email: Email
          ETag: ETag
          Forename: Forename
          PhoneNumber: PhoneNumber
          Title: Title
          OID: OID
          Surname: Surname
        Address4: Address4
        Address2: Address2
        Address3: Address3
        AddressNumber: AddressNumber
        Address1: Address1
        OID: OID
        Postcode: Postcode
        LatestTenancy:
          IsTenancyEnded: true
          GlobalReference: GlobalReference
          AccessMobile3: AccessMobile3
          AccessName1: AccessName1
          AccessMobile2: AccessMobile2
          AccessName2: AccessName2
          OID: OID
          AccessMobile1: AccessMobile1
          AccessName3: AccessName3
          EndDate: 2000-01-23T04:56:07.000+00:00
          StartDate: 2000-01-23T04:56:07.000+00:00
          ETag: ETag
          FixedDate: 2000-01-23T04:56:07.000+00:00
          IsTenancySigned: true
          AccessArrangements: AccessArrangements
          IsTenancyProposed: true
          LinkedTenants:
          - Email: Email
            ETag: ETag
            Forename: Forename
            PhoneNumber: PhoneNumber
            Title: Title
            OID: OID
            Surname: Surname
          - Email: Email
            ETag: ETag
            Forename: Forename
            PhoneNumber: PhoneNumber
            Title: Title
            OID: OID
            Surname: Surname
      properties:
        Address1:
          description: Address 1
          type: string
        Address2:
          description: Address2
          type: string
        Address3:
          description: Address 3
          type: string
        Address4:
          description: Address 4
          type: string
        AddressFlatRoomNumber:
          description: Address Flat Room Number
          type: string
        AddressNumber:
          description: Address Number
          type: string
        ETag:
          description: ETag
          type: string
        LatestTenancy:
          $ref: '#/components/schemas/LatestTenancyModel'
        MainLandlord:
          $ref: '#/components/schemas/LinkedLandlordModel'
        OID:
          description: OID
          type: string
        Postcode:
          description: Postcode
          type: string
      type: object
    LinkedTenantModel:
      description: Holds information on tenants
      example:
        Email: Email
        ETag: ETag
        Forename: Forename
        PhoneNumber: PhoneNumber
        Title: Title
        OID: OID
        Surname: Surname
      properties:
        ETag:
          description: ETag
          type: string
        Email:
          description: Tenant's email address
          type: string
        Forename:
          description: Forename
          type: string
        OID:
          description: OID
          type: string
        PhoneNumber:
          description: Tenant's phone number
          type: string
        Surname:
          description: Surname
          type: string
        Title:
          description: Title
          type: string
      type: object
  securitySchemes:
    apiKey:
      description: ApiKey Authentication
      in: header
      name: ApiKey
      type: apiKey
    basic:
      description: Basic HTTP Authentication
      scheme: basic
      type: http

