openapi: 3.0.0
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: ""
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Policy Analyzer API
  version: v1
  x-apisguru-categories:
  - analytics
  - media
  x-logo:
    url: https://upload.wikimedia.org/wikipedia/commons/e/e1/YouTube_play_buttom_icon_%282013-2017%29.svg
  x-origin:
  - format: openapi
    url: https://policyanalyzer.googleapis.com/$discovery/rest?version=v1
    version: "3.0"
  x-preferred: false
  x-providerName: googleapis.com
  x-serviceName: policyanalyzer
externalDocs:
  url: https://www.google.com
servers:
- url: https://policyanalyzer.googleapis.com/
tags:
- name: projects
paths:
  /v1/{parent}/activities:query:
    get:
      description: Queries policy activities on Google Cloud resources.
      operationId: policyanalyzer_projects_locations_activity_types_activities_query
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The container resource on which to execute the request.\
          \ Acceptable formats: `projects/[PROJECT_ID|PROJECT_NUMBER]/locations/[LOCATION]/activityTypes/[ACTIVITY_TYPE]`\
          \ LOCATION here refers to Google Cloud Locations: https://cloud.google.com/about/locations/"
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: "Optional. Filter expression to restrict the activities returned.\
          \ For serviceAccountLastAuthentication activities, supported filters are:\
          \ - `activities.full_resource_name {=} [STRING]` - `activities.fullResourceName\
          \ {=} [STRING]` where `[STRING]` is the full resource name of the service\
          \ account. For serviceAccountKeyLastAuthentication activities, supported\
          \ filters are: - `activities.full_resource_name {=} [STRING]` - `activities.fullResourceName\
          \ {=} [STRING]` where `[STRING]` is the full resource name of the service\
          \ account key."
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - description: Optional. The maximum number of results to return from this request.
          Max limit is 1000. Non-positive values are ignored. The presence of `nextPageToken`
          in the response indicates that more results might be available.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: "Optional. If present, then retrieve the next batch of results\
          \ from the preceding call to this method. `pageToken` must be the value\
          \ of `nextPageToken` from the previous response. The values of other method\
          \ parameters should be identical to those in the previous call."
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudPolicyanalyzerV1QueryActivityResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      explode: true
      in: query
      name: $.xgafv
      required: false
      schema:
        enum:
        - "1"
        - "2"
        type: string
      style: form
    access_token:
      description: OAuth access token.
      explode: true
      in: query
      name: access_token
      required: false
      schema:
        type: string
      style: form
    alt:
      description: Data format for response.
      explode: true
      in: query
      name: alt
      required: false
      schema:
        enum:
        - json
        - media
        - proto
        type: string
      style: form
    callback:
      description: JSONP
      explode: true
      in: query
      name: callback
      required: false
      schema:
        type: string
      style: form
    fields:
      description: Selector specifying which fields to include in a partial response.
      explode: true
      in: query
      name: fields
      required: false
      schema:
        type: string
      style: form
    key:
      description: "API key. Your API key identifies your project and provides you\
        \ with API access, quota, and reports. Required unless you provide an OAuth\
        \ 2.0 token."
      explode: true
      in: query
      name: key
      required: false
      schema:
        type: string
      style: form
    oauth_token:
      description: OAuth 2.0 token for the current user.
      explode: true
      in: query
      name: oauth_token
      required: false
      schema:
        type: string
      style: form
    prettyPrint:
      description: Returns response with indentations and line breaks.
      explode: true
      in: query
      name: prettyPrint
      required: false
      schema:
        type: boolean
      style: form
    quotaUser:
      description: "Available to use for quota purposes for server-side applications.\
        \ Can be any arbitrary string assigned to a user, but should not exceed 40\
        \ characters."
      explode: true
      in: query
      name: quotaUser
      required: false
      schema:
        type: string
      style: form
    uploadType:
      description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
        )."
      explode: true
      in: query
      name: uploadType
      required: false
      schema:
        type: string
      style: form
    upload_protocol:
      description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
      explode: true
      in: query
      name: upload_protocol
      required: false
      schema:
        type: string
      style: form
  schemas:
    GoogleCloudPolicyanalyzerV1Activity:
      example:
        activity:
          key: ""
        fullResourceName: fullResourceName
        activityType: activityType
        observationPeriod:
          startTime: startTime
          endTime: endTime
      properties:
        activity:
          additionalProperties:
            description: Properties of the object.
          description: A struct of custom fields to explain the activity.
          title: activity
          type: object
        activityType:
          description: The type of the activity.
          title: activityType
          type: string
        fullResourceName:
          description: "The full resource name that identifies the resource. For examples\
            \ of full resource names for Google Cloud services, see https://cloud.google.com/iam/help/troubleshooter/full-resource-names."
          title: fullResourceName
          type: string
        observationPeriod:
          $ref: '#/components/schemas/GoogleCloudPolicyanalyzerV1ObservationPeriod'
      title: GoogleCloudPolicyanalyzerV1Activity
      type: object
    GoogleCloudPolicyanalyzerV1ObservationPeriod:
      description: Represents data observation period.
      example:
        startTime: startTime
        endTime: endTime
      properties:
        endTime:
          description: The observation end time. The time in this timestamp is always
            `07:00:00Z`.
          format: google-datetime
          title: endTime
          type: string
        startTime:
          description: The observation start time. The time in this timestamp is always
            `07:00:00Z`.
          format: google-datetime
          title: startTime
          type: string
      title: GoogleCloudPolicyanalyzerV1ObservationPeriod
      type: object
    GoogleCloudPolicyanalyzerV1QueryActivityResponse:
      description: Response to the `QueryActivity` method.
      example:
        activities:
        - activity:
            key: ""
          fullResourceName: fullResourceName
          activityType: activityType
          observationPeriod:
            startTime: startTime
            endTime: endTime
        - activity:
            key: ""
          fullResourceName: fullResourceName
          activityType: activityType
          observationPeriod:
            startTime: startTime
            endTime: endTime
        nextPageToken: nextPageToken
      properties:
        activities:
          description: The set of activities that match the filter included in the
            request.
          items:
            $ref: '#/components/schemas/GoogleCloudPolicyanalyzerV1Activity'
          title: activities
          type: array
        nextPageToken:
          description: "If there might be more results than those appearing in this\
            \ response, then `nextPageToken` is included. To get the next set of results,\
            \ call this method again using the value of `nextPageToken` as `pageToken`."
          title: nextPageToken
          type: string
      title: GoogleCloudPolicyanalyzerV1QueryActivityResponse
      type: object
  securitySchemes:
    Oauth2:
      description: Oauth 2.0 implicit authentication
      flows:
        implicit:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/cloud-platform: "See, edit, configure,\
              \ and delete your Google Cloud data and see the email address for your\
              \ Google Account."
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_Oauth2
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_Oauth2
    Oauth2c:
      description: Oauth 2.0 authorizationCode authentication
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/cloud-platform: "See, edit, configure,\
              \ and delete your Google Cloud data and see the email address for your\
              \ Google Account."
          tokenUrl: https://accounts.google.com/o/oauth2/token
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_Oauth2c
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_Oauth2c
