

# ValidationResult


## Properties

| Name | Type | Description | Notes |
|------------ | ------------- | ------------- | -------------|
|**validation** | [**List&lt;ValidationErrors&gt;**](ValidationErrors.md) | An array of standardization issues |  [optional] |



