openapi: 3.0.1
info:
  description: Use these APIs to manage Azure Front Door resources through the Azure
    Resource Manager. You must make sure that requests made to these resources are
    secure.
  title: FrontDoorManagementClient
  version: 2018-08-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/frontdoor/resource-manager/Microsoft.Network/preview/2018-08-01-preview/frontdoor.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: frontdoor
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.Network/checkFrontDoorNameAvailability:
    post:
      description: Check the availability of a Front Door resource name.
      operationId: check_front_door_name_availability
      parameters:
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckNameAvailabilityInput'
        description: Input to check.
        required: true
        x-body-name: checkFrontDoorNameAvailabilityInput
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckNameAvailabilityOutput'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Front Door error response describing why the operation failed.
      tags:
      - CheckFrontDoorNameAvailability
      x-ms-examples:
        CheckNameAvailability:
          parameters:
            api-version: 2018-08-01
            checkFrontDoorNameAvailabilityInput:
              name: sampleName
              type: Microsoft.Network/frontDoors
          responses:
            "200":
              body:
                message: Name not available
                nameAvailability: Unavailable
                reason: Name is already in use
      x-codegen-request-body-name: checkFrontDoorNameAvailabilityInput
      x-openapi-router-controller: openapi_server.controllers.check_front_door_name_availability_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/checkFrontDoorNameAvailability:
    post:
      description: Check the availability of a Front Door subdomain.
      operationId: check_front_door_name_availability_with_subscription
      parameters:
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckNameAvailabilityInput'
        description: Input to check.
        required: true
        x-body-name: checkFrontDoorNameAvailabilityInput
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckNameAvailabilityOutput'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Front Door error response describing why the operation failed.
      tags:
      - CheckFrontDoorNameAvailabilityWithSubscription
      x-ms-examples:
        CheckNameAvailabilityWithSubscription:
          parameters:
            api-version: 2018-08-01
            checkFrontDoorNameAvailabilityInput:
              name: sampleName
              type: Microsoft.Network/frontDoors/frontendEndpoints
            subscriptionId: subid
          responses:
            "200":
              body:
                message: Name not available
                nameAvailability: Unavailable
                reason: Name is already in use
      x-codegen-request-body-name: checkFrontDoorNameAvailabilityInput
      x-openapi-router-controller: openapi_server.controllers.check_front_door_name_availability_with_subscription_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/frontDoors:
    get:
      description: Lists all of the Front Doors within an Azure subscription.
      operationId: front_doors_list
      parameters:
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FrontDoorListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Front Door error response describing why the operation failed.
      tags:
      - FrontDoors
      x-ms-examples:
        List all Front Doors:
          parameters:
            api-version: 2018-08-01
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/frontDoors/frontDoor1
                  location: westus
                  name: frontDoor1
                  properties:
                    backendPools:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/frontDoors/frontDoor1/backendPools/backendPool1
                      name: backendPool1
                      properties:
                        backends:
                        - address: w3.contoso.com
                          enabledState: Enabled
                          httpPort: 80
                          httpsPort: 443
                          priority: 2
                          weight: 1
                        - address: contoso.com.website-us-west-2.othercloud.net
                          enabledState: Enabled
                          httpPort: 80
                          httpsPort: 443
                          priority: 1
                          weight: 2
                        - address: contoso1.azurewebsites.net
                          enabledState: Enabled
                          httpPort: 80
                          httpsPort: 443
                          priority: 1
                          weight: 1
                        healthProbeSettings:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/frontDoors/frontDoor1/healthProbeSettings/healthProbeSettings1
                        loadBalancingSettings:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/frontDoors/frontDoor1/loadBalancingSettings/loadBalancingSettings1
                    cname: frontDoor1.azurefd.net
                    enabledState: Enabled
                    frontendEndpoints:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/frontDoors/frontDoor1/frontendEndpoints/frontendEndpoint1
                      name: frontendEndpoint1
                      properties:
                        hostName: www.contoso.com
                        sessionAffinityEnabledState: Enabled
                        sessionAffinityTtlSeconds: 60
                        webApplicationFirewallPolicyLink:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/frontDoorWebApplicationFirewallPolicies/policy1
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/frontDoors/frontDoor1/frontendEndpoints/default
                      name: default
                      properties:
                        hostName: frontDoor1.azurefd.net
                    healthProbeSettings:
                    - name: healthProbeSettings1
                      properties:
                        intervalInSeconds: 120
                        path: /
                        protocol: Http
                    loadBalancingSettings:
                    - name: loadBalancingSettings1
                      properties:
                        sampleSize: 4
                        successfulSamplesRequired: 2
                    provisioningState: Succeeded
                    resourceState: Enabled
                    routingRules:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/frontDoors/frontDoor1/routingRules/routingRule1
                      name: routingRule1
                      properties:
                        acceptedProtocols:
                        - Http
                        backendPool:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/frontDoors/frontDoor1/backendPools/backendPool1
                        customForwardingPath: ""
                        enabledState: Enabled
                        forwardingProtocol: MatchRequest
                        frontendEndpoints:
                        - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/frontDoors/frontDoor1/frontendEndpoints/frontendEndpoint1
                        - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/frontDoors/frontDoor1/frontendEndpoints/default
                        patternsToMatch:
                        - /*
                  tags:
                    tag1: value1
                    tag2: value2
                  type: Microsoft.Network/frontDoor
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.front_doors_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/frontDoors:
    get:
      description: Lists all of the Front Doors within a resource group under a subscription.
      operationId: front_doors_list_by_resource_group
      parameters:
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 80
          minLength: 1
          pattern: "^[a-zA-Z0-9_\\-\\(\\)\\.]*[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FrontDoorListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Front Door error response describing why the operation failed.
      tags:
      - FrontDoors
      x-ms-examples:
        List Front Doors in a Resource Group:
          parameters:
            api-version: 2018-08-01
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/frontDoors/frontDoor1
                  location: westus
                  name: frontDoor1
                  properties:
                    backendPools:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/frontDoors/frontDoor1/backendPools/backendPool1
                      name: backendPool1
                      properties:
                        backends:
                        - address: w3.contoso.com
                          enabledState: Enabled
                          httpPort: 80
                          httpsPort: 443
                          priority: 2
                          weight: 1
                        - address: contoso.com.website-us-west-2.othercloud.net
                          enabledState: Enabled
                          httpPort: 80
                          httpsPort: 443
                          priority: 1
                          weight: 2
                        - address: contoso1.azurewebsites.net
                          enabledState: Enabled
                          httpPort: 80
                          httpsPort: 443
                          priority: 1
                          weight: 1
                        healthProbeSettings:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/frontDoors/frontDoor1/healthProbeSettings/healthProbeSettings1
                        loadBalancingSettings:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/frontDoors/frontDoor1/loadBalancingSettings/loadBalancingSettings1
                    cname: frontDoor1.azurefd.net
                    enabledState: Enabled
                    frontendEndpoints:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/frontDoors/frontDoor1/frontendEndpoints/frontendEndpoint1
                      name: frontendEndpoint1
                      properties:
                        hostName: www.contoso.com
                        sessionAffinityEnabledState: Enabled
                        sessionAffinityTtlSeconds: 60
                        webApplicationFirewallPolicyLink:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/frontDoorWebApplicationFirewallPolicies/policy1
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/frontDoors/frontDoor1/frontendEndpoints/default
                      name: default
                      properties:
                        hostName: frontDoor1.azurefd.net
                    healthProbeSettings:
                    - name: healthProbeSettings1
                      properties:
                        intervalInSeconds: 120
                        path: /
                        protocol: Http
                    loadBalancingSettings:
                    - name: loadBalancingSettings1
                      properties:
                        sampleSize: 4
                        successfulSamplesRequired: 2
                    provisioningState: Succeeded
                    resourceState: Enabled
                    routingRules:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/frontDoors/frontDoor1/routingRules/routingRule1
                      name: routingRule1
                      properties:
                        acceptedProtocols:
                        - Http
                        backendPool:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/frontDoors/frontDoor1/backendPools/backendPool1
                        customForwardingPath: ""
                        enabledState: Enabled
                        forwardingProtocol: MatchRequest
                        frontendEndpoints:
                        - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/frontDoors/frontDoor1/frontendEndpoints/frontendEndpoint1
                        - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/frontDoors/frontDoor1/frontendEndpoints/default
                        patternsToMatch:
                        - /*
                  tags:
                    tag1: value1
                    tag2: value2
                  type: Microsoft.Network/frontDoor
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.front_doors_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/frontDoors/{frontDoorName}:
    delete:
      description: Deletes an existing Front Door with the specified parameters.
      operationId: front_doors_delete
      parameters:
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 80
          minLength: 1
          pattern: "^[a-zA-Z0-9_\\-\\(\\)\\.]*[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the Front Door which is globally unique.
        in: path
        name: front_door_name
        required: true
        schema:
          maxLength: 64
          minLength: 5
          pattern: "^[a-zA-Z0-9]+([-a-zA-Z0-9]?[a-zA-Z0-9])*$"
          type: string
          x-ms-parameter-location: method
          x-new-pattern: "^[a-zA-Z0-9]+([-a-zA-Z0-9]?[a-zA-Z0-9])*$"
        x-ms-parameter-location: method
        x-new-pattern: "^[a-zA-Z0-9]+([-a-zA-Z0-9]?[a-zA-Z0-9])*$"
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "202":
          content: {}
          description: Accepted. The request has been accepted for processing and
            the operation will complete asynchronously.
        "204":
          content: {}
          description: No Content. The request has been accepted but the Front Door
            was not found.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Front Door error response describing why the operation failed.
      tags:
      - FrontDoors
      x-ms-examples:
        Delete Front Door:
          parameters:
            api-version: 2018-08-01
            frontDoorName: frontDoor1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.front_doors_controller
    get:
      description: Gets a Front Door with the specified Front Door name under the
        specified subscription and resource group.
      operationId: front_doors_get
      parameters:
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 80
          minLength: 1
          pattern: "^[a-zA-Z0-9_\\-\\(\\)\\.]*[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the Front Door which is globally unique.
        in: path
        name: frontDoorName
        required: true
        schema:
          maxLength: 64
          minLength: 5
          pattern: "^[a-zA-Z0-9]+([-a-zA-Z0-9]?[a-zA-Z0-9])*$"
          type: string
          x-ms-parameter-location: method
          x-new-pattern: "^[a-zA-Z0-9]+([-a-zA-Z0-9]?[a-zA-Z0-9])*$"
        x-ms-parameter-location: method
        x-new-pattern: "^[a-zA-Z0-9]+([-a-zA-Z0-9]?[a-zA-Z0-9])*$"
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FrontDoor'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Front Door error response describing why the operation failed.
      tags:
      - FrontDoors
      x-ms-examples:
        Get Front Door:
          parameters:
            api-version: 2018-08-01
            frontDoorName: frontDoor1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/frontDoors/frontDoor1
                location: westus
                name: frontDoor1
                properties:
                  backendPools:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/frontDoors/frontDoor1/backendPools/backendPool1
                    name: backendPool1
                    properties:
                      backends:
                      - address: w3.contoso.com
                        enabledState: Enabled
                        httpPort: 80
                        httpsPort: 443
                        priority: 2
                        weight: 1
                      - address: contoso.com.website-us-west-2.othercloud.net
                        enabledState: Enabled
                        httpPort: 80
                        httpsPort: 443
                        priority: 1
                        weight: 2
                      - address: contoso1.azurewebsites.net
                        enabledState: Enabled
                        httpPort: 80
                        httpsPort: 443
                        priority: 1
                        weight: 1
                      healthProbeSettings:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/frontDoors/frontDoor1/healthProbeSettings/healthProbeSettings1
                      loadBalancingSettings:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/frontDoors/frontDoor1/loadBalancingSettings/loadBalancingSettings1
                  cname: frontDoor1.azurefd.net
                  enabledState: Enabled
                  frontendEndpoints:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/frontDoors/frontDoor1/frontendEndpoints/frontendEndpoint1
                    name: frontendEndpoint1
                    properties:
                      hostName: www.contoso.com
                      sessionAffinityEnabledState: Enabled
                      sessionAffinityTtlSeconds: 60
                      webApplicationFirewallPolicyLink:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/frontDoorWebApplicationFirewallPolicies/policy1
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/frontDoors/frontDoor1/frontendEndpoints/default
                    name: default
                    properties:
                      hostName: frontDoor1.azurefd.net
                  healthProbeSettings:
                  - name: healthProbeSettings1
                    properties:
                      intervalInSeconds: 120
                      path: /
                      protocol: Http
                  loadBalancingSettings:
                  - name: loadBalancingSettings1
                    properties:
                      sampleSize: 4
                      successfulSamplesRequired: 2
                  provisioningState: Succeeded
                  resourceState: Enabled
                  routingRules:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/frontDoors/frontDoor1/routingRules/routingRule1
                    name: routingRule1
                    properties:
                      acceptedProtocols:
                      - Http
                      backendPool:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/frontDoors/frontDoor1/backendPools/backendPool1
                      customForwardingPath: ""
                      enabledState: Enabled
                      forwardingProtocol: MatchRequest
                      frontendEndpoints:
                      - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/frontDoors/frontDoor1/frontendEndpoints/frontendEndpoint1
                      - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/frontDoors/frontDoor1/frontendEndpoints/default
                      patternsToMatch:
                      - /*
                tags:
                  tag1: value1
                  tag2: value2
                type: Microsoft.Network/frontDoor
      x-openapi-router-controller: openapi_server.controllers.front_doors_controller
    put:
      description: Creates a new Front Door with a Front Door name under the specified
        subscription and resource group.
      operationId: front_doors_create_or_update
      parameters:
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 80
          minLength: 1
          pattern: "^[a-zA-Z0-9_\\-\\(\\)\\.]*[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the Front Door which is globally unique.
        in: path
        name: front_door_name
        required: true
        schema:
          maxLength: 64
          minLength: 5
          pattern: "^[a-zA-Z0-9]+([-a-zA-Z0-9]?[a-zA-Z0-9])*$"
          type: string
          x-ms-parameter-location: method
          x-new-pattern: "^[a-zA-Z0-9]+([-a-zA-Z0-9]?[a-zA-Z0-9])*$"
        x-ms-parameter-location: method
        x-new-pattern: "^[a-zA-Z0-9]+([-a-zA-Z0-9]?[a-zA-Z0-9])*$"
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FrontDoor'
        description: Front Door properties needed to create a new Front Door.
        required: true
        x-body-name: frontDoorParameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FrontDoor'
          description: OK. The request has succeeded.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FrontDoor'
          description: Created. The request has been fulfilled and a new Front Door
            has been created.
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FrontDoor'
          description: Accepted. The request has been accepted for processing and
            the operation will complete asynchronously.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Front Door error response describing why the operation failed.
      tags:
      - FrontDoors
      x-ms-examples:
        Create or update specific Front Door:
          parameters:
            api-version: 2018-08-01
            frontDoorName: frontDoor1
            frontDoorParameters:
              location: westus
              properties:
                backendPools:
                - name: backendPool1
                  properties:
                    backends:
                    - address: w3.contoso.com
                      httpPort: 80
                      httpsPort: 443
                      priority: 2
                      weight: 1
                    - address: contoso.com.website-us-west-2.othercloud.net
                      httpPort: 80
                      httpsPort: 443
                      priority: 1
                      weight: 2
                    - address: contoso1.azurewebsites.net
                      httpPort: 80
                      httpsPort: 443
                      priority: 1
                      weight: 1
                    healthProbeSettings:
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/frontDoors/frontDoor1/healthProbeSettings/healthProbeSettings1
                    loadBalancingSettings:
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/frontDoors/frontDoor1/loadBalancingSettings/loadBalancingSettings1
                enabledState: Enabled
                frontendEndpoints:
                - name: frontendEndpoint1
                  properties:
                    hostName: www.contoso.com
                    sessionAffinityEnabledState: Enabled
                    sessionAffinityTtlSeconds: 60
                    webApplicationFirewallPolicyLink:
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/frontDoorWebApplicationFirewallPolicies/policy1
                - name: default
                  properties:
                    hostName: frontDoor1.azurefd.net
                healthProbeSettings:
                - name: healthProbeSettings1
                  properties:
                    intervalInSeconds: 120
                    path: /
                    protocol: Http
                loadBalancingSettings:
                - name: loadBalancingSettings1
                  properties:
                    sampleSize: 4
                    successfulSamplesRequired: 2
                routingRules:
                - name: routingRule1
                  properties:
                    acceptedProtocols:
                    - Http
                    backendPool:
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/frontDoors/frontDoor1/backendPools/backendPool1
                    enabledState: Enabled
                    frontendEndpoints:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/frontDoors/frontDoor1/frontendEndpoints/frontendEndpoint1
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/frontDoors/frontDoor1/frontendEndpoints/default
                    patternsToMatch:
                    - /*
              tags:
                tag1: value1
                tag2: value2
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/frontDoors/frontDoor1
                location: westus
                name: frontDoor1
                properties:
                  backendPools:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/frontDoors/frontDoor1/backendPools/backendPool1
                    name: backendPool1
                    properties:
                      backends:
                      - address: w3.contoso.com
                        enabledState: Enabled
                        httpPort: 80
                        httpsPort: 443
                        priority: 2
                        weight: 1
                      - address: contoso.com.website-us-west-2.othercloud.net
                        enabledState: Enabled
                        httpPort: 80
                        httpsPort: 443
                        priority: 1
                        weight: 2
                      - address: contoso1.azurewebsites.net
                        enabledState: Enabled
                        httpPort: 80
                        httpsPort: 443
                        priority: 1
                        weight: 1
                      healthProbeSettings:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/frontDoors/frontDoor1/healthProbeSettings/healthProbeSettings1
                      loadBalancingSettings:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/frontDoors/frontDoor1/loadBalancingSettings/loadBalancingSettings1
                  cname: frontDoor1.azurefd.net
                  enabledState: Enabled
                  frontendEndpoints:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/frontDoors/frontDoor1/frontendEndpoints/frontendEndpoint1
                    name: frontendEndpoint1
                    properties:
                      hostName: www.contoso.com
                      sessionAffinityEnabledState: Enabled
                      sessionAffinityTtlSeconds: 60
                      webApplicationFirewallPolicyLink:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/frontDoorWebApplicationFirewallPolicies/policy1
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/frontDoors/frontDoor1/frontendEndpoints/default
                    name: default
                    properties:
                      hostName: frontDoor1.azurefd.net
                  healthProbeSettings:
                  - name: healthProbeSettings1
                    properties:
                      intervalInSeconds: 120
                      path: /
                      protocol: Http
                  loadBalancingSettings:
                  - name: loadBalancingSettings1
                    properties:
                      sampleSize: 4
                      successfulSamplesRequired: 2
                  provisioningState: Succeeded
                  resourceState: Creating
                  routingRules:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/frontDoors/frontDoor1/routingRules/routingRule1
                    name: routingRule1
                    properties:
                      acceptedProtocols:
                      - Http
                      backendPool:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/frontDoors/frontDoor1/backendPools/backendPool1
                      customForwardingPath: ""
                      enabledState: Enabled
                      forwardingProtocol: MatchRequest
                      frontendEndpoints:
                      - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/frontDoors/frontDoor1/frontendEndpoints/frontendEndpoint1
                      - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/frontDoors/frontDoor1/frontendEndpoints/default
                      patternsToMatch:
                      - /*
                tags:
                  tag1: value1
                  tag2: value2
                type: Microsoft.Network/frontDoor
            "201":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/frontDoors/frontDoor1
                location: westus
                name: frontDoor1
                properties:
                  backendPools:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/frontDoors/frontDoor1/backendPools/backendPool1
                    name: backendPool1
                    properties:
                      backends:
                      - address: w3.contoso.com
                        enabledState: Enabled
                        httpPort: 80
                        httpsPort: 443
                        priority: 2
                        weight: 1
                      - address: contoso.com.website-us-west-2.othercloud.net
                        enabledState: Enabled
                        httpPort: 80
                        httpsPort: 443
                        priority: 1
                        weight: 2
                      - address: contoso1.azurewebsites.net
                        enabledState: Enabled
                        httpPort: 80
                        httpsPort: 443
                        priority: 1
                        weight: 1
                      healthProbeSettings:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/frontDoors/frontDoor1/healthProbeSettings/healthProbeSettings1
                      loadBalancingSettings:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/frontDoors/frontDoor1/loadBalancingSettings/loadBalancingSettings1
                  cname: frontDoor1.azurefd.net
                  enabledState: Enabled
                  frontendEndpoints:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/frontDoors/frontDoor1/frontendEndpoints/frontendEndpoint1
                    name: frontendEndpoint1
                    properties:
                      hostName: www.contoso.com
                      sessionAffinityEnabledState: Enabled
                      sessionAffinityTtlSeconds: 60
                      webApplicationFirewallPolicyLink:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/frontDoorWebApplicationFirewallPolicies/policy1
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/frontDoors/frontDoor1/frontendEndpoints/default
                    name: default
                    properties:
                      hostName: frontDoor1.azurefd.net
                  healthProbeSettings:
                  - name: healthProbeSettings1
                    properties:
                      intervalInSeconds: 120
                      path: /
                      protocol: Http
                  loadBalancingSettings:
                  - name: loadBalancingSettings1
                    properties:
                      sampleSize: 4
                      successfulSamplesRequired: 2
                  provisioningState: Provisioning
                  resourceState: Creating
                  routingRules:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/frontDoors/frontDoor1/routingRules/routingRule1
                    name: routingRule1
                    properties:
                      acceptedProtocols:
                      - Http
                      backendPool:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/frontDoors/frontDoor1/backendPools/backendPool1
                      customForwardingPath: ""
                      enabledState: Enabled
                      forwardingProtocol: MatchRequest
                      frontendEndpoints:
                      - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/frontDoors/frontDoor1/frontendEndpoints/frontendEndpoint1
                      - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/frontDoors/frontDoor1/frontendEndpoints/default
                      patternsToMatch:
                      - /*
                tags:
                  tag1: value1
                  tag2: value2
                type: Microsoft.Network/frontDoor
            "202":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/frontDoors/frontDoor1
                location: westus
                name: frontDoor1
                properties:
                  backendPools:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/frontDoors/frontDoor1/backendPools/backendPool1
                    name: backendPool1
                    properties:
                      backends:
                      - address: w3.contoso.com
                        enabledState: Enabled
                        httpPort: 80
                        httpsPort: 443
                        priority: 2
                        weight: 1
                      - address: contoso.com.website-us-west-2.othercloud.net
                        enabledState: Enabled
                        httpPort: 80
                        httpsPort: 443
                        priority: 1
                        weight: 2
                      - address: contoso1.azurewebsites.net
                        enabledState: Enabled
                        httpPort: 80
                        httpsPort: 443
                        priority: 1
                        weight: 1
                      healthProbeSettings:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/frontDoors/frontDoor1/healthProbeSettings/healthProbeSettings1
                      loadBalancingSettings:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/frontDoors/frontDoor1/loadBalancingSettings/loadBalancingSettings1
                  cname: frontDoor1.azurefd.net
                  enabledState: Enabled
                  frontendEndpoints:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/frontDoors/frontDoor1/frontendEndpoints/frontendEndpoint1
                    name: frontendEndpoint1
                    properties:
                      hostName: www.contoso.com
                      sessionAffinityEnabledState: Enabled
                      sessionAffinityTtlSeconds: 60
                      webApplicationFirewallPolicyLink:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/frontDoorWebApplicationFirewallPolicies/policy1
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/frontDoors/frontDoor1/frontendEndpoints/default
                    name: default
                    properties:
                      hostName: frontDoor1.azurefd.net
                  healthProbeSettings:
                  - name: healthProbeSettings1
                    properties:
                      intervalInSeconds: 120
                      path: /
                      protocol: Http
                  loadBalancingSettings:
                  - name: loadBalancingSettings1
                    properties:
                      sampleSize: 4
                      successfulSamplesRequired: 2
                  provisioningState: Provisioning
                  resourceState: Creating
                  routingRules:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/frontDoors/frontDoor1/routingRules/routingRule1
                    name: routingRule1
                    properties:
                      acceptedProtocols:
                      - Http
                      backendPool:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/frontDoors/frontDoor1/backendPools/backendPool1
                      customForwardingPath: ""
                      enabledState: Enabled
                      forwardingProtocol: MatchRequest
                      frontendEndpoints:
                      - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/frontDoors/frontDoor1/frontendEndpoints/frontendEndpoint1
                      - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/frontDoors/frontDoor1/frontendEndpoints/default
                      patternsToMatch:
                      - /*
                tags:
                  tag1: value1
                  tag2: value2
                type: Microsoft.Network/frontDoor
      x-ms-long-running-operation: true
      x-codegen-request-body-name: frontDoorParameters
      x-openapi-router-controller: openapi_server.controllers.front_doors_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/frontDoors/{frontDoorName}/frontendEndpoints
  : get:
      description: Lists all of the frontend endpoints within a Front Door.
      operationId: frontend_endpoints_list_by_front_door
      parameters:
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 80
          minLength: 1
          pattern: "^[a-zA-Z0-9_\\-\\(\\)\\.]*[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the Front Door which is globally unique.
        in: path
        name: front_door_name
        required: true
        schema:
          maxLength: 64
          minLength: 5
          pattern: "^[a-zA-Z0-9]+([-a-zA-Z0-9]?[a-zA-Z0-9])*$"
          type: string
          x-ms-parameter-location: method
          x-new-pattern: "^[a-zA-Z0-9]+([-a-zA-Z0-9]?[a-zA-Z0-9])*$"
        x-ms-parameter-location: method
        x-new-pattern: "^[a-zA-Z0-9]+([-a-zA-Z0-9]?[a-zA-Z0-9])*$"
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FrontendEndpointsListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Front Door error response describing why the operation failed.
      tags:
      - FrontDoors
      x-ms-examples:
        List Frontend endpoints in a Front Door:
          parameters:
            api-version: 2018-08-01
            frontDoorName: frontDoor1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/frontDoors/frontDoor1/frontendEndpoints/frontendEndpoint1
                  name: frontendEndpoint1
                  properties:
                    hostName: www.contoso.com
                    sessionAffinityEnabledState: Enabled
                    sessionAffinityTtlSeconds: 60
                    webApplicationFirewallPolicyLink:
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/frontDoorWebApplicationFirewallPolicies/policy1
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.front_doors_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/frontDoors/{frontDoorName}/frontendEndpoints/{frontendEndpointName}
  : get:
      description: Gets a Frontend endpoint with the specified name within the specified
        Front Door.
      operationId: frontend_endpoints_get
      parameters:
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 80
          minLength: 1
          pattern: "^[a-zA-Z0-9_\\-\\(\\)\\.]*[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the Front Door which is globally unique.
        in: path
        name: front_door_name
        required: true
        schema:
          maxLength: 64
          minLength: 5
          pattern: "^[a-zA-Z0-9]+([-a-zA-Z0-9]?[a-zA-Z0-9])*$"
          type: string
          x-ms-parameter-location: method
          x-new-pattern: "^[a-zA-Z0-9]+([-a-zA-Z0-9]?[a-zA-Z0-9])*$"
        x-ms-parameter-location: method
        x-new-pattern: "^[a-zA-Z0-9]+([-a-zA-Z0-9]?[a-zA-Z0-9])*$"
      - description: Name of the Frontend endpoint which is unique within the Front
          Door.
        in: path
        name: frontendEndpointName
        required: true
        schema:
          maxLength: 255
          minLength: 1
          pattern: "^[a-zA-Z0-9]+(-*[a-zA-Z0-9])*$"
          type: string
          x-ms-parameter-location: method
          x-previous-pattern: "^[-\\w\\d\\._]+$"
        x-ms-parameter-location: method
        x-previous-pattern: "^[-\\w\\d\\._]+$"
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FrontendEndpoint'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Front Door error response describing why the operation failed.
      tags:
      - FrontDoors
      x-ms-examples:
        Get Frontend Endpoint:
          parameters:
            api-version: 2018-08-01
            frontDoorName: frontDoor1
            frontendEndpointName: frontendEndpoint1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/frontDoors/frontDoor1/frontendEndpoints/frontendEndpoint1
                name: frontendEndpoint1
                properties:
                  hostName: www.contoso.com
                  sessionAffinityEnabledState: Enabled
                  sessionAffinityTtlSeconds: 60
                  webApplicationFirewallPolicyLink:
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/frontDoorWebApplicationFirewallPolicies/policy1
      x-openapi-router-controller: openapi_server.controllers.front_doors_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/frontDoors/{frontDoorName}/frontendEndpoints/{frontendEndpointName}/disableHttps
  : post:
      description: Disables a frontendEndpoint for HTTPS traffic
      operationId: frontend_endpoints_disable_https
      parameters:
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 80
          minLength: 1
          pattern: "^[a-zA-Z0-9_\\-\\(\\)\\.]*[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the Front Door which is globally unique.
        in: path
        name: front_door_name
        required: true
        schema:
          maxLength: 64
          minLength: 5
          pattern: "^[a-zA-Z0-9]+([-a-zA-Z0-9]?[a-zA-Z0-9])*$"
          type: string
          x-ms-parameter-location: method
          x-new-pattern: "^[a-zA-Z0-9]+([-a-zA-Z0-9]?[a-zA-Z0-9])*$"
        x-ms-parameter-location: method
        x-new-pattern: "^[a-zA-Z0-9]+([-a-zA-Z0-9]?[a-zA-Z0-9])*$"
      - description: Name of the Frontend endpoint which is unique within the Front
          Door.
        in: path
        name: frontend_endpoint_name
        required: true
        schema:
          maxLength: 255
          minLength: 1
          pattern: "^[a-zA-Z0-9]+(-*[a-zA-Z0-9])*$"
          type: string
          x-ms-parameter-location: method
          x-previous-pattern: "^[-\\w\\d\\._]+$"
        x-ms-parameter-location: method
        x-previous-pattern: "^[-\\w\\d\\._]+$"
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK. The request has succeeded.
        "202":
          content: {}
          description: Accepted and the operation will complete asynchronously.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Front Door error response describing why the operation failed.
      tags:
      - FrontDoors
      x-ms-examples:
        FrontendEndpoints_DisableHttps:
          parameters:
            api-version: 2018-08-01
            frontDoorName: frontDoor1
            frontendEndpointName: frontendEndpoint1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200": {}
            "202": {}
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.front_doors_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/frontDoors/{frontDoorName}/frontendEndpoints/{frontendEndpointName}/enableHttps
  : post:
      description: Enables a frontendEndpoint for HTTPS traffic
      operationId: frontend_endpoints_enable_https
      parameters:
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 80
          minLength: 1
          pattern: "^[a-zA-Z0-9_\\-\\(\\)\\.]*[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the Front Door which is globally unique.
        in: path
        name: front_door_name
        required: true
        schema:
          maxLength: 64
          minLength: 5
          pattern: "^[a-zA-Z0-9]+([-a-zA-Z0-9]?[a-zA-Z0-9])*$"
          type: string
          x-ms-parameter-location: method
          x-new-pattern: "^[a-zA-Z0-9]+([-a-zA-Z0-9]?[a-zA-Z0-9])*$"
        x-ms-parameter-location: method
        x-new-pattern: "^[a-zA-Z0-9]+([-a-zA-Z0-9]?[a-zA-Z0-9])*$"
      - description: Name of the Frontend endpoint which is unique within the Front
          Door.
        in: path
        name: frontend_endpoint_name
        required: true
        schema:
          maxLength: 255
          minLength: 1
          pattern: "^[a-zA-Z0-9]+(-*[a-zA-Z0-9])*$"
          type: string
          x-ms-parameter-location: method
          x-previous-pattern: "^[-\\w\\d\\._]+$"
        x-ms-parameter-location: method
        x-previous-pattern: "^[-\\w\\d\\._]+$"
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomHttpsConfiguration'
        description: The configuration specifying how to enable HTTPS
        required: true
        x-body-name: customHttpsConfiguration
      responses:
        "200":
          content: {}
          description: OK. The request has succeeded.
        "202":
          content: {}
          description: Accepted and the operation will complete asynchronously.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Front Door error response describing why the operation failed.
      tags:
      - FrontDoors
      x-ms-examples:
        FrontendEndpoints_EnableHttps:
          parameters:
            api-version: 2018-08-01
            customHttpsConfiguration:
              certificateSource: AzureKeyVault
              keyVaultCertificateSourceParameters:
                secretName: secret1
                secretVersion: 00000000-0000-0000-0000-000000000000
                vault:
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.KeyVault/vaults/vault1
              protocolType: ServerNameIndication
            frontDoorName: frontDoor1
            frontendEndpointName: frontendEndpoint1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200": {}
            "202": {}
      x-ms-long-running-operation: true
      x-codegen-request-body-name: customHttpsConfiguration
      x-openapi-router-controller: openapi_server.controllers.front_doors_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/frontDoors/{frontDoorName}/purge:
    post:
      description: Removes a content from Front Door.
      operationId: endpoints_purge_content
      parameters:
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 80
          minLength: 1
          pattern: "^[a-zA-Z0-9_\\-\\(\\)\\.]*[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the Front Door which is globally unique.
        in: path
        name: front_door_name
        required: true
        schema:
          maxLength: 64
          minLength: 5
          pattern: "^[a-zA-Z0-9]+([-a-zA-Z0-9]?[a-zA-Z0-9])*$"
          type: string
          x-ms-parameter-location: method
          x-new-pattern: "^[a-zA-Z0-9]+([-a-zA-Z0-9]?[a-zA-Z0-9])*$"
        x-ms-parameter-location: method
        x-new-pattern: "^[a-zA-Z0-9]+([-a-zA-Z0-9]?[a-zA-Z0-9])*$"
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PurgeParameters'
        description: "The path to the content to be purged. Path can be a full URL,\
          \ e.g. '/pictures/city.png' which removes a single file, or a directory\
          \ with a wildcard, e.g. '/pictures/*' which removes all folders and files\
          \ in the directory."
        required: true
        x-body-name: contentFilePaths
      responses:
        "200":
          content: {}
          description: OK. The request has succeeded.
        "202":
          content: {}
          description: Accepted and the operation will complete asynchronously.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Front Door error response describing why the operation failed.
      tags:
      - FrontDoors
      x-ms-examples:
        Purge content from Front Door:
          parameters:
            api-version: 2018-08-01
            contentFilePaths:
              contentPaths:
              - /pictures.aspx
              - /pictures/*
            frontDoorName: frontDoor1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200": {}
            "202": {}
      x-ms-long-running-operation: true
      x-codegen-request-body-name: contentFilePaths
      x-openapi-router-controller: openapi_server.controllers.front_doors_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/frontDoors/{frontDoorName}/validateCustomDomain
  : post:
      description: Validates the custom domain mapping to ensure it maps to the correct
        Front Door endpoint in DNS.
      operationId: front_doors_validate_custom_domain
      parameters:
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 80
          minLength: 1
          pattern: "^[a-zA-Z0-9_\\-\\(\\)\\.]*[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the Front Door which is globally unique.
        in: path
        name: front_door_name
        required: true
        schema:
          maxLength: 64
          minLength: 5
          pattern: "^[a-zA-Z0-9]+([-a-zA-Z0-9]?[a-zA-Z0-9])*$"
          type: string
          x-ms-parameter-location: method
          x-new-pattern: "^[a-zA-Z0-9]+([-a-zA-Z0-9]?[a-zA-Z0-9])*$"
        x-ms-parameter-location: method
        x-new-pattern: "^[a-zA-Z0-9]+([-a-zA-Z0-9]?[a-zA-Z0-9])*$"
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidateCustomDomainInput'
        description: Custom domain to be validated.
        required: true
        x-body-name: customDomainProperties
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateCustomDomainOutput'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Front Door error response describing why the operation failed.
      tags:
      - FrontDoors
      x-ms-examples:
        FrontDoor_ValidateCustomDomain:
          parameters:
            api-version: 2018-08-01
            customDomainProperties:
              hostName: www.someDomain.com
            frontDoorName: frontDoor1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                customDomainValidated: true
      x-codegen-request-body-name: customDomainProperties
      x-openapi-router-controller: openapi_server.controllers.front_doors_controller
components:
  parameters:
    backendPoolNameParameter:
      description: Name of the Backend Pool which is unique within the Front Door.
      in: path
      name: backendPoolName
      required: true
      schema:
        maxLength: 90
        minLength: 1
        pattern: "^[a-zA-Z0-9]+(-*[a-zA-Z0-9])*$"
        type: string
        x-ms-parameter-location: method
        x-previous-pattern: "^[-\\w\\d\\._]+$"
      x-ms-parameter-location: method
      x-previous-pattern: "^[-\\w\\d\\._]+$"
    frontDoorNameParameter:
      description: Name of the Front Door which is globally unique.
      in: path
      name: frontDoorName
      required: true
      schema:
        maxLength: 64
        minLength: 5
        pattern: "^[a-zA-Z0-9]+([-a-zA-Z0-9]?[a-zA-Z0-9])*$"
        type: string
        x-ms-parameter-location: method
        x-new-pattern: "^[a-zA-Z0-9]+([-a-zA-Z0-9]?[a-zA-Z0-9])*$"
      x-ms-parameter-location: method
      x-new-pattern: "^[a-zA-Z0-9]+([-a-zA-Z0-9]?[a-zA-Z0-9])*$"
    frontendEndpointNameParameter:
      description: Name of the Frontend endpoint which is unique within the Front
        Door.
      in: path
      name: frontendEndpointName
      required: true
      schema:
        maxLength: 255
        minLength: 1
        pattern: "^[a-zA-Z0-9]+(-*[a-zA-Z0-9])*$"
        type: string
        x-ms-parameter-location: method
        x-previous-pattern: "^[-\\w\\d\\._]+$"
      x-ms-parameter-location: method
      x-previous-pattern: "^[-\\w\\d\\._]+$"
    healthProbeSettingsNameParameter:
      description: Name of the health probe settings which is unique within the Front
        Door.
      in: path
      name: healthProbeSettingsName
      required: true
      schema:
        maxLength: 90
        minLength: 1
        pattern: "^[a-zA-Z0-9]+(-*[a-zA-Z0-9])*$"
        type: string
        x-ms-parameter-location: method
        x-previous-pattern: "^[-\\w\\d\\._]+$"
      x-ms-parameter-location: method
      x-previous-pattern: "^[-\\w\\d\\._]+$"
    loadBalancingSettingsNameParameter:
      description: Name of the load balancing settings which is unique within the
        Front Door.
      in: path
      name: loadBalancingSettingsName
      required: true
      schema:
        maxLength: 90
        minLength: 1
        pattern: "^[a-zA-Z0-9]+(-*[a-zA-Z0-9])*$"
        type: string
        x-ms-parameter-location: method
        x-previous-pattern: "^[-\\w\\d\\._]+$"
      x-ms-parameter-location: method
      x-previous-pattern: "^[-\\w\\d\\._]+$"
    resourceGroupNameParameter:
      description: Name of the Resource group within the Azure subscription.
      in: path
      name: resourceGroupName
      required: true
      schema:
        maxLength: 80
        minLength: 1
        pattern: "^[a-zA-Z0-9_\\-\\(\\)\\.]*[^\\.]$"
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    routingRuleNameParameter:
      description: Name of the Routing Rule which is unique within the Front Door.
      in: path
      name: routingRuleName
      required: true
      schema:
        maxLength: 90
        minLength: 1
        pattern: "^[a-zA-Z0-9]+(-*[a-zA-Z0-9])*$"
        type: string
        x-ms-parameter-location: method
        x-previous-pattern: "^[-\\w\\d\\._]+$"
      x-ms-parameter-location: method
      x-previous-pattern: "^[-\\w\\d\\._]+$"
  schemas:
    Backend:
      description: Backend address of a frontDoor load balancer.
      properties:
        address:
          description: Location of the backend (IP address or FQDN)
          title: address
          type: string
        backendHostHeader:
          description: "The value to use as the host header sent to the backend. If\
            \ blank or unspecified, this defaults to the incoming host."
          title: backendHostHeader
          type: string
        enabledState:
          description: Whether to enable use of this backend. Permitted values are
            'Enabled' or 'Disabled'
          enum:
          - Enabled
          - Disabled
          title: enabledState
          type: string
          x-ms-enum:
            modelAsString: true
            name: FrontDoorEnabledState
        httpPort:
          description: The HTTP TCP port number. Must be between 1 and 65535.
          exclusiveMaximum: false
          exclusiveMinimum: false
          maximum: 65535
          minimum: 1
          title: httpPort
          type: integer
        httpsPort:
          description: The HTTPS TCP port number. Must be between 1 and 65535.
          exclusiveMaximum: false
          exclusiveMinimum: false
          maximum: 65535
          minimum: 1
          title: httpsPort
          type: integer
        priority:
          description: Priority to use for load balancing. Higher priorities will
            not be used for load balancing if any lower priority backend is healthy.
          maximum: 5
          minimum: 1
          title: priority
          type: integer
        weight:
          description: Weight of this endpoint for load balancing purposes.
          maximum: 1000
          minimum: 1
          title: weight
          type: integer
      title: Backend
      type: object
    BackendPool:
      allOf:
      - description: Reference to another subresource.
        properties:
          id:
            description: Resource ID.
            type: string
        type: object
        x-ms-azure-resource: true
      description: A backend pool is a collection of backends that can be routed to.
      properties:
        name:
          description: Resource name.
          title: name
          type: string
        properties:
          $ref: '#/components/schemas/BackendPoolProperties'
        type:
          description: Resource type.
          readOnly: true
          title: type
          type: string
      title: BackendPool
    BackendPoolListResult:
      description: Result of the request to list Backend Pools. It contains a list
        of Backend Pools objects and a URL link to get the next set of results.
      properties:
        nextLink:
          description: URL to get the next set of BackendPool objects if there are
            any.
          type: string
        value:
          description: List of Backend Pools within a Front Door.
          items:
            $ref: '#/components/schemas/BackendPool'
          readOnly: true
          type: array
      type: object
    BackendPoolProperties:
      allOf:
      - $ref: '#/components/schemas/BackendPoolUpdateParameters'
      description: The JSON object that contains the properties required to create
        a routing rule.
      properties:
        resourceState:
          $ref: '#/components/schemas/ResourceState'
      title: BackendPoolProperties
    BackendPoolUpdateParameters:
      description: A collection of backends that can be routed to.
      properties:
        backends:
          description: The set of backends for this pool
          items:
            $ref: '#/components/schemas/Backend'
          title: backends
          type: array
        healthProbeSettings:
          $ref: '#/components/schemas/BackendPoolUpdateParameters_healthProbeSettings'
        loadBalancingSettings:
          $ref: '#/components/schemas/BackendPoolUpdateParameters_healthProbeSettings'
      title: BackendPoolUpdateParameters
      type: object
    CacheConfiguration:
      description: "Caching settings for a caching-type route. To disable caching,\
        \ do not provide a cacheConfiguration object."
      properties:
        dynamicCompression:
          description: Whether to use dynamic compression for cached content
          enum:
          - Enabled
          - Disabled
          title: dynamicCompression
          type: string
          x-ms-enum:
            modelAsString: true
            name: DynamicCompressionEnabled
        queryParameterStripDirective:
          description: Treatment of URL query terms when forming the cache key.
          enum:
          - StripNone
          - StripAll
          title: queryParameterStripDirective
          type: string
          x-ms-enum:
            modelAsString: true
            name: FrontDoorQuery
      title: CacheConfiguration
      type: object
    CheckNameAvailabilityInput:
      description: Input of CheckNameAvailability API.
      example:
        name: name
        type: Microsoft.Network/frontDoors
      properties:
        name:
          description: The resource name to validate.
          title: name
          type: string
        type:
          $ref: '#/components/schemas/ResourceType'
      required:
      - name
      - type
      title: CheckNameAvailabilityInput
      type: object
    CheckNameAvailabilityOutput:
      description: Output of check name availability API.
      example:
        reason: reason
        nameAvailability: Available
        message: message
      properties:
        message:
          description: The detailed error message describing why the name is not available.
          readOnly: true
          title: message
          type: string
        nameAvailability:
          description: Indicates whether the name is available.
          enum:
          - Available
          - Unavailable
          readOnly: true
          title: nameAvailability
          type: string
          x-ms-enum:
            modelAsString: true
            name: Availability
        reason:
          description: The reason why the name is not available.
          readOnly: true
          title: reason
          type: string
      title: CheckNameAvailabilityOutput
      type: object
    CustomHttpsConfiguration:
      description: Https settings for a domain
      example:
        frontDoorCertificateSourceParameters:
          certificateType: Dedicated
        keyVaultCertificateSourceParameters:
          secretName: secretName
          secretVersion: secretVersion
          vault:
            id: id
        protocolType: ServerNameIndication
        certificateSource: AzureKeyVault
      properties:
        certificateSource:
          description: Defines the source of the SSL certificate
          enum:
          - AzureKeyVault
          - FrontDoor
          title: certificateSource
          type: string
          x-ms-enum:
            modelAsString: true
            name: FrontDoorCertificateSource
        frontDoorCertificateSourceParameters:
          $ref: '#/components/schemas/FrontDoorCertificateSourceParameters'
        keyVaultCertificateSourceParameters:
          $ref: '#/components/schemas/KeyVaultCertificateSourceParameters'
        protocolType:
          description: Defines the TLS extension protocol that is used for secure
            delivery
          enum:
          - ServerNameIndication
          title: protocolType
          type: string
          x-ms-enum:
            modelAsString: true
            name: FrontDoorTlsProtocolType
      title: CustomHttpsConfiguration
      type: object
    ErrorResponse:
      description: Error response indicates Front Door service is not able to process
        the incoming request. The reason is provided in the error message.
      example:
        code: code
        message: message
      properties:
        code:
          description: Error code.
          readOnly: true
          title: code
          type: string
        message:
          description: Error message indicating why the operation failed.
          readOnly: true
          title: message
          type: string
      title: ErrorResponse
      type: object
    FrontDoor:
      allOf:
      - description: Common resource representation.
        properties:
          id:
            description: Resource ID.
            readOnly: true
            type: string
          location:
            description: Resource location.
            type: string
          name:
            description: Resource name.
            readOnly: true
            type: string
          tags:
            additionalProperties:
              type: string
            description: Resource tags.
            type: object
          type:
            description: Resource type.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: Front Door represents a collection of backend endpoints to route
        traffic to along with rules that specify how traffic is sent there.
      example:
        properties:
          cname: cname
          resourceState: Creating
          provisioningState: provisioningState
      properties:
        properties:
          $ref: '#/components/schemas/FrontDoorProperties'
      title: FrontDoor
    FrontDoorCertificateSourceParameters:
      description: Parameters required for enabling SSL with Front Door-managed certificates
      example:
        certificateType: Dedicated
      properties:
        certificateType:
          description: Defines the type of the certificate used for secure connections
            to a frontendEndpoint
          enum:
          - Dedicated
          title: certificateType
          type: string
          x-ms-enum:
            modelAsString: true
            name: FrontDoorCertificateType
      title: FrontDoorCertificateSourceParameters
      type: object
    FrontDoorListResult:
      description: Result of the request to list Front Doors. It contains a list of
        Front Door objects and a URL link to get the next set of results.
      example:
        value:
        - properties:
            cname: cname
            resourceState: Creating
            provisioningState: provisioningState
        - properties:
            cname: cname
            resourceState: Creating
            provisioningState: provisioningState
        nextLink: nextLink
      properties:
        nextLink:
          description: URL to get the next set of Front Door objects if there are
            any.
          title: nextLink
          type: string
        value:
          description: List of Front Doors within a resource group.
          items:
            $ref: '#/components/schemas/FrontDoor'
          readOnly: true
          title: value
          type: array
      title: FrontDoorListResult
      type: object
    FrontDoorProperties:
      allOf:
      - $ref: '#/components/schemas/FrontDoorUpdateParameters'
      description: The JSON object that contains the properties required to create
        an endpoint.
      example:
        cname: cname
        resourceState: Creating
        provisioningState: provisioningState
      properties:
        cname:
          description: The host that each frontendEndpoint must CNAME to.
          readOnly: true
          title: cname
          type: string
        provisioningState:
          description: Provisioning state of the Front Door.
          readOnly: true
          title: provisioningState
          type: string
        resourceState:
          $ref: '#/components/schemas/ResourceState'
      title: FrontDoorProperties
    FrontDoorUpdateParameters:
      description: The properties needed to update a Front Door
      properties:
        backendPools:
          description: Backend pools available to routing rules.
          items:
            $ref: '#/components/schemas/BackendPool'
          title: backendPools
          type: array
        enabledState:
          description: Operational status of the Front Door load balancer. Permitted
            values are 'Enabled' or 'Disabled'
          enum:
          - Enabled
          - Disabled
          title: enabledState
          type: string
          x-ms-enum:
            modelAsString: true
            name: FrontDoorEnabledState
        friendlyName:
          description: A friendly name for the frontDoor
          title: friendlyName
          type: string
        frontendEndpoints:
          description: Frontend endpoints available to routing rules.
          items:
            $ref: '#/components/schemas/FrontendEndpoint'
          title: frontendEndpoints
          type: array
        healthProbeSettings:
          description: Health probe settings associated with this Front Door instance.
          items:
            $ref: '#/components/schemas/HealthProbeSettingsModel'
          title: healthProbeSettings
          type: array
        loadBalancingSettings:
          description: Load balancing settings associated with this Front Door instance.
          items:
            $ref: '#/components/schemas/LoadBalancingSettingsModel'
          title: loadBalancingSettings
          type: array
        routingRules:
          description: Routing rules associated with this Front Door.
          items:
            $ref: '#/components/schemas/RoutingRule'
          title: routingRules
          type: array
      title: FrontDoorUpdateParameters
      type: object
    FrontendEndpoint:
      allOf:
      - description: Reference to another subresource.
        properties:
          id:
            description: Resource ID.
            type: string
        type: object
        x-ms-azure-resource: true
      description: A frontend endpoint used for routing.
      example:
        name: name
        type: type
        properties:
          customHttpsProvisioningState: Enabling
          customHttpsProvisioningSubstate: SubmittingDomainControlValidationRequest
          customHttpsConfiguration:
            frontDoorCertificateSourceParameters:
              certificateType: Dedicated
            keyVaultCertificateSourceParameters:
              secretName: secretName
              secretVersion: secretVersion
              vault:
                id: id
            protocolType: ServerNameIndication
            certificateSource: AzureKeyVault
          resourceState: Creating
      properties:
        name:
          description: Resource name.
          title: name
          type: string
        properties:
          $ref: '#/components/schemas/FrontendEndpointProperties'
        type:
          description: Resource type.
          readOnly: true
          title: type
          type: string
      title: FrontendEndpoint
    FrontendEndpointProperties:
      allOf:
      - $ref: '#/components/schemas/FrontendEndpointUpdateParameters'
      description: The JSON object that contains the properties required to create
        a frontend endpoint.
      example:
        customHttpsProvisioningState: Enabling
        customHttpsProvisioningSubstate: SubmittingDomainControlValidationRequest
        customHttpsConfiguration:
          frontDoorCertificateSourceParameters:
            certificateType: Dedicated
          keyVaultCertificateSourceParameters:
            secretName: secretName
            secretVersion: secretVersion
            vault:
              id: id
          protocolType: ServerNameIndication
          certificateSource: AzureKeyVault
        resourceState: Creating
      properties:
        customHttpsConfiguration:
          $ref: '#/components/schemas/CustomHttpsConfiguration'
        customHttpsProvisioningState:
          description: Provisioning status of Custom Https of the frontendEndpoint.
          enum:
          - Enabling
          - Enabled
          - Disabling
          - Disabled
          - Failed
          readOnly: true
          title: customHttpsProvisioningState
          type: string
          x-ms-enum:
            modelAsString: true
            name: CustomHttpsProvisioningState
        customHttpsProvisioningSubstate:
          description: Provisioning substate shows the progress of custom HTTPS enabling/disabling
            process step by step.
          enum:
          - SubmittingDomainControlValidationRequest
          - PendingDomainControlValidationREquestApproval
          - DomainControlValidationRequestApproved
          - DomainControlValidationRequestRejected
          - DomainControlValidationRequestTimedOut
          - IssuingCertificate
          - DeployingCertificate
          - CertificateDeployed
          - DeletingCertificate
          - CertificateDeleted
          readOnly: true
          title: customHttpsProvisioningSubstate
          type: string
          x-ms-enum:
            modelAsString: true
            name: CustomHttpsProvisioningSubstate
        resourceState:
          $ref: '#/components/schemas/ResourceState'
      title: FrontendEndpointProperties
    FrontendEndpointUpdateParameters:
      description: Frontend endpoint used in routing rule
      properties:
        hostName:
          description: The host name of the frontendEndpoint. Must be a domain name.
          title: hostName
          type: string
        sessionAffinityEnabledState:
          description: Whether to allow session affinity on this host. Valid options
            are 'Enabled' or 'Disabled'
          enum:
          - Enabled
          - Disabled
          title: sessionAffinityEnabledState
          type: string
          x-ms-enum:
            modelAsString: true
            name: SessionAffinityEnabledState
        sessionAffinityTtlSeconds:
          description: "UNUSED. This field will be ignored. The TTL to use in seconds\
            \ for session affinity, if applicable."
          title: sessionAffinityTtlSeconds
          type: integer
        webApplicationFirewallPolicyLink:
          $ref: '#/components/schemas/FrontendEndpointUpdateParameters_webApplicationFirewallPolicyLink'
      title: FrontendEndpointUpdateParameters
      type: object
    FrontendEndpointsListResult:
      description: Result of the request to list frontend endpoints. It contains a
        list of Frontend endpoint objects and a URL link to get the next set of results.
      example:
        value:
        - name: name
          type: type
          properties:
            customHttpsProvisioningState: Enabling
            customHttpsProvisioningSubstate: SubmittingDomainControlValidationRequest
            customHttpsConfiguration:
              frontDoorCertificateSourceParameters:
                certificateType: Dedicated
              keyVaultCertificateSourceParameters:
                secretName: secretName
                secretVersion: secretVersion
                vault:
                  id: id
              protocolType: ServerNameIndication
              certificateSource: AzureKeyVault
            resourceState: Creating
        - name: name
          type: type
          properties:
            customHttpsProvisioningState: Enabling
            customHttpsProvisioningSubstate: SubmittingDomainControlValidationRequest
            customHttpsConfiguration:
              frontDoorCertificateSourceParameters:
                certificateType: Dedicated
              keyVaultCertificateSourceParameters:
                secretName: secretName
                secretVersion: secretVersion
                vault:
                  id: id
              protocolType: ServerNameIndication
              certificateSource: AzureKeyVault
            resourceState: Creating
        nextLink: nextLink
      properties:
        nextLink:
          description: URL to get the next set of frontend endpoints if there are
            any.
          title: nextLink
          type: string
        value:
          description: List of Frontend endpoints within a Front Door.
          items:
            $ref: '#/components/schemas/FrontendEndpoint'
          readOnly: true
          title: value
          type: array
      title: FrontendEndpointsListResult
      type: object
    HealthProbeSettingsListResult:
      description: Result of the request to list HealthProbeSettings. It contains
        a list of HealthProbeSettings objects and a URL link to get the next set of
        results.
      properties:
        nextLink:
          description: URL to get the next set of HealthProbeSettings objects if there
            are any.
          type: string
        value:
          description: List of HealthProbeSettings within a Front Door.
          items:
            $ref: '#/components/schemas/HealthProbeSettingsModel'
          readOnly: true
          type: array
      type: object
    HealthProbeSettingsModel:
      allOf:
      - description: Reference to another subresource.
        properties:
          id:
            description: Resource ID.
            type: string
        type: object
        x-ms-azure-resource: true
      description: Load balancing settings for a backend pool
      properties:
        name:
          description: Resource name.
          title: name
          type: string
        properties:
          $ref: '#/components/schemas/HealthProbeSettingsProperties'
        type:
          description: Resource type.
          readOnly: true
          title: type
          type: string
      title: HealthProbeSettingsModel
    HealthProbeSettingsProperties:
      allOf:
      - $ref: '#/components/schemas/HealthProbeSettingsUpdateParameters'
      description: The JSON object that contains the properties required to create
        a health probe settings.
      properties:
        resourceState:
          $ref: '#/components/schemas/ResourceState'
      title: HealthProbeSettingsProperties
    HealthProbeSettingsUpdateParameters:
      description: L7 health probe settings for a backend pool
      properties:
        intervalInSeconds:
          description: The number of seconds between health probes.
          title: intervalInSeconds
          type: integer
        path:
          description: The path to use for the health probe. Default is /
          title: path
          type: string
        protocol:
          description: Protocol scheme to use for this probe
          enum:
          - Http
          - Https
          title: protocol
          type: string
          x-ms-enum:
            modelAsString: true
            name: FrontDoorProtocol
      title: HealthProbeSettingsUpdateParameters
      type: object
    KeyVaultCertificateSourceParameters:
      description: Parameters required for bring-your-own-certification via Key Vault
      example:
        secretName: secretName
        secretVersion: secretVersion
        vault:
          id: id
      properties:
        secretName:
          description: The name of the Key Vault secret representing the full certificate
            PFX
          title: secretName
          type: string
        secretVersion:
          description: The version of the Key Vault secret representing the full certificate
            PFX
          title: secretVersion
          type: string
        vault:
          $ref: '#/components/schemas/KeyVaultCertificateSourceParameters_vault'
      title: KeyVaultCertificateSourceParameters
      type: object
    LoadBalancingSettingsListResult:
      description: Result of the request to list load balancing settings. It contains
        a list of load balancing settings objects and a URL link to get the next set
        of results.
      properties:
        nextLink:
          description: URL to get the next set of LoadBalancingSettings objects if
            there are any.
          type: string
        value:
          description: List of Backend Pools within a Front Door.
          items:
            $ref: '#/components/schemas/LoadBalancingSettingsModel'
          readOnly: true
          type: array
      type: object
    LoadBalancingSettingsModel:
      allOf:
      - description: Reference to another subresource.
        properties:
          id:
            description: Resource ID.
            type: string
        type: object
        x-ms-azure-resource: true
      description: Load balancing settings for a backend pool
      properties:
        name:
          description: Resource name.
          title: name
          type: string
        properties:
          $ref: '#/components/schemas/LoadBalancingSettingsProperties'
        type:
          description: Resource type.
          readOnly: true
          title: type
          type: string
      title: LoadBalancingSettingsModel
    LoadBalancingSettingsProperties:
      allOf:
      - $ref: '#/components/schemas/LoadBalancingSettingsUpdateParameters'
      description: The JSON object that contains the properties required to create
        load balancing settings
      properties:
        resourceState:
          $ref: '#/components/schemas/ResourceState'
      title: LoadBalancingSettingsProperties
    LoadBalancingSettingsUpdateParameters:
      description: Round-Robin load balancing settings for a backend pool
      properties:
        additionalLatencyMilliseconds:
          description: The additional latency in milliseconds for probes to fall into
            the lowest latency bucket
          title: additionalLatencyMilliseconds
          type: integer
        sampleSize:
          description: The number of samples to consider for load balancing decisions
          title: sampleSize
          type: integer
        successfulSamplesRequired:
          description: The number of samples within the sample period that must succeed
          title: successfulSamplesRequired
          type: integer
      title: LoadBalancingSettingsUpdateParameters
      type: object
    PurgeParameters:
      description: Parameters required for content purge.
      example:
        contentPaths:
        - contentPaths
        - contentPaths
      properties:
        contentPaths:
          description: The path to the content to be purged. Can describe a file path
            or a wild card directory.
          items:
            type: string
          title: contentPaths
          type: array
      required:
      - contentPaths
      title: PurgeParameters
      type: object
    ResourceState:
      enum:
      - Creating
      - Enabling
      - Enabled
      - Disabling
      - Disabled
      - Deleting
      title: Resource status of the Front Door or Front Door SubResource.
      type: string
      x-ms-enum:
        modelAsString: true
        name: FrontDoorResourceState
    ResourceType:
      description: Type of Front Door resource used in CheckNameAvailability.
      enum:
      - Microsoft.Network/frontDoors
      - Microsoft.Network/frontDoors/frontendEndpoints
      title: ResourceType
      type: string
      x-ms-enum:
        modelAsString: false
        name: ResourceType
    RoutingRule:
      allOf:
      - description: Reference to another subresource.
        properties:
          id:
            description: Resource ID.
            type: string
        type: object
        x-ms-azure-resource: true
      description: "A routing rule represents a specification for traffic to treat\
        \ and where to send it, along with health probe information."
      properties:
        name:
          description: Resource name.
          title: name
          type: string
        properties:
          $ref: '#/components/schemas/RoutingRuleProperties'
        type:
          description: Resource type.
          readOnly: true
          title: type
          type: string
      title: RoutingRule
    RoutingRuleListResult:
      description: Result of the request to list Routing Rules. It contains a list
        of Routing Rule objects and a URL link to get the next set of results.
      properties:
        nextLink:
          description: URL to get the next set of RoutingRule objects if there are
            any.
          type: string
        value:
          description: List of Routing Rules within a Front Door.
          items:
            $ref: '#/components/schemas/RoutingRule'
          readOnly: true
          type: array
      type: object
    RoutingRuleProperties:
      allOf:
      - $ref: '#/components/schemas/RoutingRuleUpdateParameters'
      description: The JSON object that contains the properties required to create
        a routing rule.
      properties:
        resourceState:
          $ref: '#/components/schemas/ResourceState'
      title: RoutingRuleProperties
    RoutingRuleUpdateParameters:
      description: Routing rules to apply to an endpoint
      properties:
        acceptedProtocols:
          description: Protocol schemes to match for this rule
          items:
            description: Accepted protocol schemes.
            enum:
            - Http
            - Https
            type: string
            x-ms-enum:
              modelAsString: true
              name: FrontDoorProtocol
          title: acceptedProtocols
          type: array
        backendPool:
          $ref: '#/components/schemas/BackendPoolUpdateParameters_healthProbeSettings'
        cacheConfiguration:
          $ref: '#/components/schemas/CacheConfiguration'
        customForwardingPath:
          description: A custom path used to rewrite resource paths matched by this
            rule. Leave empty to use incoming path.
          title: customForwardingPath
          type: string
        enabledState:
          description: Whether to enable use of this rule. Permitted values are 'Enabled'
            or 'Disabled'
          enum:
          - Enabled
          - Disabled
          title: enabledState
          type: string
          x-ms-enum:
            modelAsString: true
            name: FrontDoorEnabledState
        forwardingProtocol:
          description: Protocol this rule will use when forwarding traffic to backends.
          enum:
          - HttpOnly
          - HttpsOnly
          - MatchRequest
          title: forwardingProtocol
          type: string
          x-ms-enum:
            modelAsString: true
            name: FrontDoorForwardingProtocol
        frontendEndpoints:
          description: Frontend endpoints associated with this rule
          items:
            $ref: '#/components/schemas/BackendPoolUpdateParameters_healthProbeSettings'
          title: frontendEndpoints
          type: array
        patternsToMatch:
          description: The route patterns of the rule.
[...]
