openapi: 3.0.1
info:
  description: The Compute Management Client.
  title: ComputeManagementClient
  version: 2018-04-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/compute/resource-manager/Microsoft.Compute/stable/2018-04-01/compute.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: compute
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.Compute/operations:
    get:
      description: Gets a list of compute operations.
      operationId: operations_list
      parameters:
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComputeOperationListResult'
          description: OK
      tags:
      - ComputeOperations
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.compute_operations_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Compute/availabilitySets:
    get:
      description: Lists all availability sets in a subscription.
      operationId: availability_sets_list_by_subscription
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The expand expression to apply to the operation.
        in: query
        name: $expand
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailabilitySetListResult'
          description: OK
      tags:
      - AvailabilitySets
      x-ms-examples:
        List availability sets in a subscription.:
          parameters:
            $expand: virtualMachines\$ref
            api-version: 2018-04-01
            subscriptionId: "{subscriptionId}"
          responses:
            "200":
              body:
                value:
                - id: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets/{availabilitySetName}"
                  location: australiasoutheast
                  name: "{availabilitySetName}"
                  properties:
                    platformFaultDomainCount: 3
                    platformUpdateDomainCount: 5
                    virtualMachines:
                    - id: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}"
                  sku:
                    name: Classic
                  type: Microsoft.Compute/availabilitySets
                - id: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets/{availabilitySetName}"
                  location: australiasoutheast
                  name: "{availabilitySetName}"
                  properties:
                    platformFaultDomainCount: 3
                    platformUpdateDomainCount: 5
                    virtualMachines:
                    - id: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}"
                  sku:
                    name: Classic
                  type: Microsoft.Compute/availabilitySets
                - id: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets/{availabilitySetName}"
                  location: westcentralus
                  name: "{availabilitySetName}"
                  properties:
                    platformFaultDomainCount: 3
                    platformUpdateDomainCount: 5
                    virtualMachines: []
                  sku:
                    name: Classic
                  tags:
                    '{tagName}': "{tagValue}"
                  type: Microsoft.Compute/availabilitySets
                - id: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets/{availabilitySetName}"
                  location: westcentralus
                  name: "{availabilitySetName}"
                  properties:
                    platformFaultDomainCount: 3
                    platformUpdateDomainCount: 5
                    virtualMachines: []
                  sku:
                    name: Classic
                  tags:
                    '{tagName}': "{tagValue}"
                  type: Microsoft.Compute/availabilitySets
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.availability_sets_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Compute/images:
    get:
      description: Gets the list of Images in the subscription. Use nextLink property
        in the response to get the next page of Images. Do this till nextLink is null
        to fetch all the Images.
      operationId: images_list
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageListResult'
          description: OK
      tags:
      - Images
      x-ms-examples:
        List all virtual machine images in a subscription.:
          parameters:
            api-version: 2018-04-01
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                value:
                - id: "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/images/myImage"
                  location: West US
                  name: myImage
                  properties:
                    provisioningState: created
                    storageProfile:
                      dataDisks:
                      - blobUri: https://mystorageaccount.blob.core.windows.net/dataimages/dataimage.vhd
                        lun: 1
                        managedDisk:
                          id: "subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myManagedDisk2"
                        snapshot:
                          id: "subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot2"
                        storageAccountType: Standard_LRS
                      osDisk:
                        blobUri: https://mystorageaccount.blob.core.windows.net/osimages/osimage.vhd
                        managedDisk:
                          id: "subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myManagedDisk1"
                        osState: Generalized
                        osType: Windows
                        snapshot:
                          id: "subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot1"
                        storageAccountType: Standard_LRS
                  type: Microsoft.Compute/images
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.images_controller
  ? /subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/logAnalytics/apiAccess/getRequestRateByInterval
  : post:
      description: Export logs that show Api requests made by this subscription in
        the given time window to show throttling activities.
      operationId: log_analytics_export_request_rate_by_interval
      parameters:
      - description: The location upon which virtual-machine-sizes is queried.
        in: path
        name: location
        required: true
        schema:
          pattern: "^[-\\w\\._]+$"
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestRateByIntervalInput'
        description: Parameters supplied to the LogAnalytics getRequestRateByInterval
          Api.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogAnalyticsOperationResult'
          description: OK
        "202":
          content: {}
          description: Accepted
      tags:
      - LogAnalytics
      x-ms-examples:
        ? Export logs which contain all Api requests made to Compute Resource Provider
          within the given time period broken down by intervals.
        : parameters:
            api-version: 2018-04-01
            location: westus
            parameters:
              blobContainerSasUri: https://somesasuri
              fromTime: 2018-01-21T01:54:06.862601Z
              groupByResourceName: true
              intervalLength: FiveMins
              toTime: 2018-01-23T01:54:06.862601Z
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                properties:
                  output: https://crptestar4227.blob.core.windows.net:443/sascontainer/RequestRateByInterval_20180121-0154_20180123-0154.csv
            "202": {}
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.log_analytics_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/logAnalytics/apiAccess/getThrottledRequests:
    post:
      description: Export logs that show total throttled Api requests for this subscription
        in the given time window.
      operationId: log_analytics_export_throttled_requests
      parameters:
      - description: The location upon which virtual-machine-sizes is queried.
        in: path
        name: location
        required: true
        schema:
          pattern: "^[-\\w\\._]+$"
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ThrottledRequestsInput'
        description: Parameters supplied to the LogAnalytics getThrottledRequests
          Api.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogAnalyticsOperationResult'
          description: OK
        "202":
          content: {}
          description: Accepted
      tags:
      - LogAnalytics
      x-ms-examples:
        Export logs which contain all throttled Api requests made to Compute Resource Provider within the given time period.:
          parameters:
            api-version: 2018-04-01
            location: westus
            parameters:
              blobContainerSasUri: https://somesasuri
              fromTime: 2018-01-21T01:54:06.862601Z
              groupByOperationName: true
              groupByResourceName: false
              toTime: 2018-01-23T01:54:06.862601Z
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                properties:
                  output: https://crptestar4227.blob.core.windows.net:443/sascontainer/ThrottledRequests_20180121-0154_20180123-0154.csv
            "202": {}
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.log_analytics_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/publishers:
    get:
      description: Gets a list of virtual machine image publishers for the specified
        Azure location.
      operationId: virtual_machine_images_list_publishers
      parameters:
      - description: The name of a supported Azure region.
        in: path
        name: location
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/VirtualMachineImageResource'
                type: array
          description: OK
      tags:
      - VirtualMachineImages
      x-openapi-router-controller: openapi_server.controllers.virtual_machine_images_controller
  ? /subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/publishers/{publisherName}/artifacttypes/vmextension/types
  : get:
      description: Gets a list of virtual machine extension image types.
      operationId: virtual_machine_extension_images_list_types
      parameters:
      - description: The name of a supported Azure region.
        in: path
        name: location
        required: true
        schema:
          type: string
      - in: path
        name: publisherName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/VirtualMachineExtensionImage'
                type: array
          description: OK
      tags:
      - VirtualMachineExtensionImages
      x-openapi-router-controller: openapi_server.controllers.virtual_machine_extension_images_controller
  ? /subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/publishers/{publisherName}/artifacttypes/vmextension/types/{type}/versions
  : get:
      description: Gets a list of virtual machine extension image versions.
      operationId: virtual_machine_extension_images_list_versions
      parameters:
      - description: The name of a supported Azure region.
        in: path
        name: location
        required: true
        schema:
          type: string
      - in: path
        name: publisherName
        required: true
        schema:
          type: string
      - in: path
        name: type
        required: true
        schema:
          type: string
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        schema:
          type: string
      - in: query
        name: $top
        schema:
          format: int32
          type: integer
      - in: query
        name: $orderby
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/VirtualMachineExtensionImage'
                type: array
          description: OK
      tags:
      - VirtualMachineExtensionImages
      x-ms-odata: '#/definitions/VirtualMachineExtensionImage'
      x-openapi-router-controller: openapi_server.controllers.virtual_machine_extension_images_controller
  ? /subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/publishers/{publisherName}/artifacttypes/vmextension/types/{type}/versions/{version}
  : get:
      description: Gets a virtual machine extension image.
      operationId: virtual_machine_extension_images_get
      parameters:
      - description: The name of a supported Azure region.
        in: path
        name: location
        required: true
        schema:
          type: string
      - in: path
        name: publisherName
        required: true
        schema:
          type: string
      - in: path
        name: type
        required: true
        schema:
          type: string
      - in: path
        name: version
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualMachineExtensionImage'
          description: OK
      tags:
      - VirtualMachineExtensionImages
      x-openapi-router-controller: openapi_server.controllers.virtual_machine_extension_images_controller
  ? /subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/publishers/{publisherName}/artifacttypes/vmimage/offers
  : get:
      description: Gets a list of virtual machine image offers for the specified location
        and publisher.
      operationId: virtual_machine_images_list_offers
      parameters:
      - description: The name of a supported Azure region.
        in: path
        name: location
        required: true
        schema:
          type: string
      - description: A valid image publisher.
        in: path
        name: publisherName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/VirtualMachineImageResource'
                type: array
          description: OK
      tags:
      - VirtualMachineImages
      x-openapi-router-controller: openapi_server.controllers.virtual_machine_images_controller
  ? /subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/publishers/{publisherName}/artifacttypes/vmimage/offers/{offer}/skus
  : get:
      description: "Gets a list of virtual machine image SKUs for the specified location,\
        \ publisher, and offer."
      operationId: virtual_machine_images_list_skus
      parameters:
      - description: The name of a supported Azure region.
        in: path
        name: location
        required: true
        schema:
          type: string
      - description: A valid image publisher.
        in: path
        name: publisherName
        required: true
        schema:
          type: string
      - description: A valid image publisher offer.
        in: path
        name: offer
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/VirtualMachineImageResource'
                type: array
          description: OK
      tags:
      - VirtualMachineImages
      x-openapi-router-controller: openapi_server.controllers.virtual_machine_images_controller
  ? /subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/publishers/{publisherName}/artifacttypes/vmimage/offers/{offer}/skus/{skus}/versions
  : get:
      description: "Gets a list of all virtual machine image versions for the specified\
        \ location, publisher, offer, and SKU."
      operationId: virtual_machine_images_list
      parameters:
      - description: The name of a supported Azure region.
        in: path
        name: location
        required: true
        schema:
          type: string
      - description: A valid image publisher.
        in: path
        name: publisherName
        required: true
        schema:
          type: string
      - description: A valid image publisher offer.
        in: path
        name: offer
        required: true
        schema:
          type: string
      - description: A valid image SKU.
        in: path
        name: skus
        required: true
        schema:
          type: string
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        schema:
          type: string
      - in: query
        name: $top
        schema:
          format: int32
          type: integer
      - in: query
        name: $orderby
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/VirtualMachineImageResource'
                type: array
          description: OK
      tags:
      - VirtualMachineImages
      x-ms-odata: '#/definitions/VirtualMachineImageResource'
      x-openapi-router-controller: openapi_server.controllers.virtual_machine_images_controller
  ? /subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/publishers/{publisherName}/artifacttypes/vmimage/offers/{offer}/skus/{skus}/versions/{version}
  : get:
      description: Gets a virtual machine image.
      operationId: virtual_machine_images_get
      parameters:
      - description: The name of a supported Azure region.
        in: path
        name: location
        required: true
        schema:
          type: string
      - description: A valid image publisher.
        in: path
        name: publisherName
        required: true
        schema:
          type: string
      - description: A valid image publisher offer.
        in: path
        name: offer
        required: true
        schema:
          type: string
      - description: A valid image SKU.
        in: path
        name: skus
        required: true
        schema:
          type: string
      - description: A valid image SKU version.
        in: path
        name: version
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualMachineImage'
          description: OK
      tags:
      - VirtualMachineImages
      x-openapi-router-controller: openapi_server.controllers.virtual_machine_images_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/usages:
    get:
      description: "Gets, for the specified location, the current compute resource\
        \ usage information as well as the limits for compute resources under the\
        \ subscription."
      operationId: usage_list
      parameters:
      - description: The location for which resource usage is queried.
        in: path
        name: location
        required: true
        schema:
          pattern: "^[-\\w\\._]+$"
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListUsagesResult'
          description: OK
      tags:
      - Usage
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.usage_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/virtualMachines:
    get:
      description: Gets all the virtual machines under the specified subscription
        for the specified location.
      operationId: virtual_machines_list_by_location
      parameters:
      - description: The location for which virtual machines under the subscription
          are queried.
        in: path
        name: location
        required: true
        schema:
          pattern: "^[-\\w\\._]+$"
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualMachineListResult'
          description: OK
      tags:
      - VirtualMachines
      x-ms-examples:
        Lists all the virtual machines under the specified subscription for the specified location.:
          parameters:
            api-version: 2018-04-01
            location: eastus
            subscriptionId: "{subscriptionId}"
          responses:
            "200":
              body:
                value:
                - id: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{virtualMachineName}"
                  location: eastus
                  name: "{virtualMachineName}"
                  properties:
                    availabilitySet:
                      id: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets/{availabilitySetName}"
                    hardwareProfile:
                      vmSize: Standard_A0
                    networkProfile:
                      networkInterfaces:
                      - id: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkInterfaces/{networkInterfaceName}"
                    osProfile:
                      adminUsername: Foo12
                      computerName: Test
                      secrets: []
                      windowsConfiguration:
                        enableAutomaticUpdates: true
                        provisionVMAgent: true
                    provisioningState: Succeeded
                    storageProfile:
                      dataDisks: []
                      imageReference:
                        offer: WindowsServer
                        publisher: MicrosoftWindowsServer
                        sku: 2012-R2-Datacenter
                        version: 4.127.20170406
                      osDisk:
                        caching: None
                        createOption: FromImage
                        diskSizeGB: 127
                        name: test
                        osType: Windows
                        vhd:
                          uri: "https://{storageAccountName}.blob.core.windows.net/{containerName}/{vhdName}.vhd"
                    vmId: "{vmId}"
                  tags:
                    RG: rg
                    testTag: "1"
                  type: Microsoft.Compute/virtualMachines
                - id: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{virtualMachineName}"
                  location: eastus
                  name: "{virtualMachineName}"
                  properties:
                    availabilitySet:
                      id: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets/{availabilitySetName}"
                    hardwareProfile:
                      vmSize: Standard_A0
                    networkProfile:
                      networkInterfaces:
                      - id: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkInterfaces/{networkInterfaceName}"
                    osProfile:
                      adminUsername: Foo12
                      computerName: Test
                      secrets: []
                      windowsConfiguration:
                        enableAutomaticUpdates: true
                        provisionVMAgent: true
                    provisioningState: Succeeded
                    storageProfile:
                      dataDisks: []
                      imageReference:
                        offer: WindowsServer
                        publisher: MicrosoftWindowsServer
                        sku: 2012-R2-Datacenter
                        version: 4.127.20170406
                      osDisk:
                        caching: None
                        createOption: FromImage
                        diskSizeGB: 127
                        name: test
                        osType: Windows
                        vhd:
                          uri: "https://{storageAccountName}.blob.core.windows.net/{containerName}/{vhdName}.vhd"
                    vmId: "{vmId}"
                  tags:
                    RG: rg
                    testTag: "1"
                  type: Microsoft.Compute/virtualMachines
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.virtual_machines_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/vmSizes:
    get:
      description: Lists all available virtual machine sizes for a subscription in
        a location.
      operationId: virtual_machine_sizes_list
      parameters:
      - description: The location upon which virtual-machine-sizes is queried.
        in: path
        name: location
        required: true
        schema:
          pattern: "^[-\\w\\._]+$"
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualMachineSizeListResult'
          description: OK
      tags:
      - VirtualMachineSizes
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.virtual_machine_sizes_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Compute/proximityPlacementGroups:
    get:
      description: Lists all proximity placement groups in a subscription.
      operationId: proximity_placement_groups_list_by_subscription
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProximityPlacementGroupListResult'
          description: OK
      tags:
      - ProximityPlacementGroups
      x-ms-examples:
        Create a proximity placement group.:
          parameters:
            api-version: 2018-04-01
            parameters: {}
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                nextLink: string
                value:
                - id: "/subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/proximityPlacementGroups/myProximityPlacementGroup"
                  location: westus
                  name: myProximityPlacementGroup
                  properties:
                    availabilitySets:
                    - id: string
                    proximityPlacementGroupType: Standard
                    virtualMachineScaleSets:
                    - id: string
                    virtualMachines:
                    - id: string
                  type: Microsoft.Compute/proximityPlacementGroups
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.proximity_placement_groups_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Compute/virtualMachineScaleSets:
    get:
      description: "Gets a list of all VM Scale Sets in the subscription, regardless\
        \ of the associated resource group. Use nextLink property in the response\
        \ to get the next page of VM Scale Sets. Do this till nextLink is null to\
        \ fetch all the VM Scale Sets."
      operationId: virtual_machine_scale_sets_list_all
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualMachineScaleSetListWithLinkResult'
          description: OK
      tags:
      - VirtualMachineScaleSets
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.virtual_machine_scale_sets_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Compute/virtualMachines:
    get:
      description: Lists all of the virtual machines in the specified subscription.
        Use the nextLink property in the response to get the next page of virtual
        machines.
      operationId: virtual_machines_list_all
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualMachineListResult'
          description: OK
      tags:
      - VirtualMachines
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.virtual_machines_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets:
    get:
      description: Lists all availability sets in a resource group.
      operationId: availability_sets_list
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailabilitySetListResult'
          description: OK
      tags:
      - AvailabilitySets
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.availability_sets_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets/{availabilitySetName}
  : delete:
      description: Delete an availability set.
      operationId: availability_sets_delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the availability set.
        in: path
        name: availabilitySetName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "204":
          content: {}
          description: No Content
      tags:
      - AvailabilitySets
      x-openapi-router-controller: openapi_server.controllers.availability_sets_controller
    get:
      description: Retrieves information about an availability set.
      operationId: availability_sets_get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the availability set.
        in: path
        name: availabilitySetName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailabilitySet'
          description: OK
      tags:
      - AvailabilitySets
      x-openapi-router-controller: openapi_server.controllers.availability_sets_controller
    patch:
      description: Update an availability set.
      operationId: availability_sets_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the availability set.
        in: path
        name: availabilitySetName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AvailabilitySetUpdate'
        description: Parameters supplied to the Update Availability Set operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailabilitySet'
          description: OK
      tags:
      - AvailabilitySets
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.availability_sets_controller
    put:
      description: Create or update an availability set.
      operationId: availability_sets_create_or_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the availability set.
        in: path
        name: availabilitySetName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AvailabilitySet'
        description: Parameters supplied to the Create Availability Set operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailabilitySet'
          description: OK
      tags:
      - AvailabilitySets
      x-ms-examples:
        Create an availability set.:
          parameters:
            api-version: 2018-04-01
            availabilitySetName: myAvailabilitySet
            parameters:
              location: westus
              properties:
                platformFaultDomainCount: 2
                platformUpdateDomainCount: 20
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                id: "/subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/availabilitySets/myAvailabilitySet"
                location: westus
                name: myAvailabilitySet
                properties:
                  platformFaultDomainCount: 2
                  platformUpdateDomainCount: 20
                sku:
                  name: Classic
                type: Microsoft.Compute/availabilitySets
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.availability_sets_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets/{availabilitySetName}/vmSizes
  : get:
      description: Lists all available virtual machine sizes that can be used to create
        a new virtual machine in an existing availability set.
      operationId: availability_sets_list_available_sizes
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the availability set.
        in: path
        name: availabilitySetName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualMachineSizeListResult'
          description: OK
      tags:
      - AvailabilitySets
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.availability_sets_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/images:
    get:
      description: Gets the list of images under a resource group.
      operationId: images_list_by_resource_group
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageListResult'
          description: OK
      tags:
      - Images
      x-ms-examples:
        List all virtual machine images in a resource group.:
          parameters:
            api-version: 2018-04-01
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                value:
                - id: "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/images/myImage"
                  location: West US
                  name: myImage
                  properties:
                    provisioningState: created
                    storageProfile:
                      dataDisks:
                      - blobUri: https://mystorageaccount.blob.core.windows.net/dataimages/dataimage.vhd
                        lun: 1
                        managedDisk:
                          id: "subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myManagedDisk2"
                        snapshot:
                          id: "subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot2"
                        storageAccountType: Standard_LRS
                      osDisk:
                        blobUri: https://mystorageaccount.blob.core.windows.net/osimages/osimage.vhd
                        managedDisk:
                          id: "subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myManagedDisk1"
                        osState: Generalized
                        osType: Windows
                        snapshot:
                          id: "subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot1"
                        storageAccountType: Standard_LRS
                  type: Microsoft.Compute/images
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.images_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/images/{imageName}:
    delete:
      description: Deletes an Image.
      operationId: images_delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the image.
        in: path
        name: imageName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "202":
          content: {}
          description: Accepted
        "204":
          content: {}
          description: No Content
      tags:
      - Images
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.images_controller
    get:
      description: Gets an image.
      operationId: images_get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the image.
        in: path
        name: imageName
        required: true
        schema:
          type: string
      - description: The expand expression to apply on the operation.
        in: query
        name: $expand
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Image'
          description: OK
      tags:
      - Images
      x-ms-examples:
        Get information about a virtual machine image.:
          parameters:
            api-version: 2018-04-01
            imageName: myImage
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                id: "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/images/myImage"
                location: West US
                name: myImage
                properties:
                  provisioningState: created
                  storageProfile:
                    dataDisks:
                    - blobUri: https://mystorageaccount.blob.core.windows.net/dataimages/dataimage.vhd
                      lun: 1
                      managedDisk:
                        id: "subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myManagedDisk2"
                      snapshot:
                        id: "subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot2"
                      storageAccountType: Standard_LRS
                    osDisk:
                      blobUri: https://mystorageaccount.blob.core.windows.net/osimages/osimage.vhd
                      diskSizeGB: 20
                      managedDisk:
                        id: "subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myManagedDisk1"
                      osState: Generalized
                      osType: Windows
                      snapshot:
                        id: "subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot1"
                      storageAccountType: Standard_LRS
                type: Microsoft.Compute/images
      x-openapi-router-controller: openapi_server.controllers.images_controller
    patch:
      description: Update an image.
      operationId: images_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the image.
        in: path
        name: imageName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImageUpdate'
        description: Parameters supplied to the Update Image operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Image'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Image'
          description: Created
      tags:
      - Images
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.images_controller
    put:
      description: Create or update an image.
      operationId: images_create_or_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the image.
        in: path
        name: imageName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Image'
        description: Parameters supplied to the Create Image operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Image'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Image'
          description: Created
      tags:
      - Images
      x-ms-examples:
        Create a virtual machine image from a blob.:
          parameters:
            api-version: 2018-04-01
            imageName: myImage
            parameters:
              location: West US
              properties:
                storageProfile:
                  osDisk:
                    blobUri: https://mystorageaccount.blob.core.windows.net/osimages/osimage.vhd
                    osState: Generalized
                    osType: Linux
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                id: "/subscriptions/{subscription-id}/resourceGroups/disk/providers/Microsoft.Compute/images/myImage"
                location: westus
                name: myImage
                properties:
                  provisioningState: Creating
                  storageProfile:
                    dataDisks: []
                    osDisk:
                      blobUri: https://mystorageaccount.blob.core.windows.net/osimages/osimage.vhd
                      caching: ReadWrite
                      osState: Generalized
                      osType: Linux
                type: Microsoft.Compute/images
            "201":
              body:
                id: "/subscriptions/{subscription-id}/resourceGroups/disk/providers/Microsoft.Compute/images/myImage"
                location: westus
                name: myImage
                properties:
                  provisioningState: Creating
                  storageProfile:
                    dataDisks: []
                    osDisk:
                      blobUri: https://mystorageaccount.blob.core.windows.net/osimages/osimage.vhd
                      caching: ReadWrite
                      osState: Generalized
                      osType: Linux
                type: Microsoft.Compute/images
        Create a virtual machine image from a managed disk.:
          parameters:
            api-version: 2018-04-01
            imageName: myImage
            parameters:
              location: West US
              properties:
                storageProfile:
                  osDisk:
                    managedDisk:
                      id: "subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myManagedDisk"
                    osState: Generalized
                    osType: Linux
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                id: "/subscriptions/{subscription-id}/resourceGroups/disk/providers/Microsoft.Compute/images/myImage"
                location: westus
                name: myImage
                properties:
                  provisioningState: Creating
                  storageProfile:
                    dataDisks: []
                    osDisk:
                      caching: ReadWrite
                      managedDisk:
                        id: "subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myManagedDisk"
                      osState: Generalized
                      osType: Linux
                type: Microsoft.Compute/images
            "201":
              body:
                id: "/subscriptions/{subscription-id}/resourceGroups/disk/providers/Microsoft.Compute/images/myImage"
                location: westus
                name: myImage
                properties:
                  provisioningState: Creating
                  storageProfile:
                    dataDisks: []
                    osDisk:
                      caching: ReadWrite
                      managedDisk:
                        id: "subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myManagedDisk"
                      osState: Generalized
                      osType: Linux
                type: Microsoft.Compute/images
        Create a virtual machine image from a snapshot.:
          parameters:
            api-version: 2018-04-01
            imageName: myImage
            parameters:
              location: West US
              properties:
                storageProfile:
                  osDisk:
                    osState: Generalized
                    osType: Linux
                    snapshot:
                      id: "subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot"
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                id: "/subscriptions/{subscription-id}/resourceGroups/disk/providers/Microsoft.Compute/images/myImage"
                location: westus
                name: myImage
                properties:
                  provisioningState: Creating
                  storageProfile:
                    dataDisks: []
                    osDisk:
                      caching: ReadWrite
                      osState: Generalized
                      osType: Linux
                      snapshot:
                        id: "subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot"
                type: Microsoft.Compute/images
            "201":
              body:
                id: "/subscriptions/{subscription-id}/resourceGroups/disk/providers/Microsoft.Compute/images/myImage"
                location: westus
                name: myImage
                properties:
                  provisioningState: Creating
                  storageProfile:
                    dataDisks: []
                    osDisk:
                      caching: ReadWrite
                      osState: Generalized
                      osType: Linux
                      snapshot:
                        id: "subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot"
                type: Microsoft.Compute/images
        Create a virtual machine image from an existing virtual machine.:
          parameters:
            api-version: 2018-04-01
            imageName: myImage
            parameters:
              location: West US
              properties:
                sourceVirtualMachine:
                  id: "/subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/virtualMachines/myVM"
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                id: "/subscriptions/{subscription-id}/resourceGroups/disk/providers/Microsoft.Compute/images/myImage"
                location: westus
                name: myImage
                properties:
                  provisioningState: Creating
                  sourceVirtualMachine:
                    id: "/subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/virtualMachines/myVM"
                  storageProfile:
                    dataDisks: []
                    osDisk:
                      caching: ReadWrite
                      managedDisk:
                        id: "/subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myVM_OsDisk_1_6dc293b7d811433196903acf92665022"
                      osState: Generalized
                      osType: Linux
                type: Microsoft.Compute/images
            "201":
              body:
                id: "/subscriptions/{subscription-id}/resourceGroups/disk/providers/Microsoft.Compute/images/myImage"
                location: westus
                name: myImage
                properties:
                  provisioningState: Creating
                  sourceVirtualMachine:
                    id: "/subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/virtualMachines/myVM"
                  storageProfile:
                    dataDisks: []
                    osDisk:
                      caching: ReadWrite
                      managedDisk:
                        id: "/subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myVM_OsDisk_1_6dc293b7d811433196903acf92665022"
                      osState: Generalized
                      osType: Linux
                type: Microsoft.Compute/images
        Create a virtual machine image that includes a data disk from a blob.:
          parameters:
            api-version: 2018-04-01
            imageName: myImage
            parameters:
              location: West US
              properties:
                storageProfile:
                  dataDisks:
                  - blobUri: https://mystorageaccount.blob.core.windows.net/dataimages/dataimage.vhd
                    lun: 1
                  osDisk:
                    blobUri: https://mystorageaccount.blob.core.windows.net/osimages/osimage.vhd
                    osState: Generalized
                    osType: Linux
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                id: "/subscriptions/{subscription-id}/resourceGroups/disk/providers/Microsoft.Compute/images/myImage"
                location: westus
                name: myImage
                properties:
                  provisioningState: Creating
                  storageProfile:
                    dataDisks:
                    - blobUri: https://mystorageaccount.blob.core.windows.net/dataimages/dataimage.vhd
                      lun: 1
                    osDisk:
                      blobUri: https://mystorageaccount.blob.core.windows.net/osimages/osimage.vhd
                      caching: ReadWrite
                      osState: Generalized
                      osType: Linux
                type: Microsoft.Compute/images
            "201":
              body:
                id: "/subscriptions/{subscription-id}/resourceGroups/disk/providers/Microsoft.Compute/images/myImage"
                location: westus
                name: myImage
                properties:
                  provisioningState: Creating
                  storageProfile:
                    dataDisks:
                    - blobUri: https://mystorageaccount.blob.core.windows.net/dataimages/dataimage.vhd
                      lun: 1
                    osDisk:
                      blobUri: https://mystorageaccount.blob.core.windows.net/osimages/osimage.vhd
                      caching: ReadWrite
                      osState: Generalized
                      osType: Linux
                type: Microsoft.Compute/images
        Create a virtual machine image that includes a data disk from a managed disk.:
          parameters:
            api-version: 2018-04-01
            imageName: myImage
            parameters:
              location: West US
              properties:
                storageProfile:
                  dataDisks:
                  - lun: 1
                    managedDisk:
                      id: "subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myManagedDisk2"
                  osDisk:
                    managedDisk:
                      id: "subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myManagedDisk"
                    osState: Generalized
                    osType: Linux
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                id: "/subscriptions/{subscription-id}/resourceGroups/disk/providers/Microsoft.Compute/images/myImage"
                location: westus
                name: myImage
                properties:
                  provisioningState: Creating
                  storageProfile:
                    dataDisks:
                    - lun: 1
                      managedDisk:
                        id: "subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myManagedDisk2"
                    osDisk:
                      caching: ReadWrite
                      managedDisk:
                        id: "subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myManagedDisk"
                      osState: Generalized
                      osType: Linux
                type: Microsoft.Compute/images
            "201":
              body:
                id: "/subscriptions/{subscription-id}/resourceGroups/disk/providers/Microsoft.Compute/images/myImage"
                location: westus
                name: myImage
                properties:
                  provisioningState: Creating
                  storageProfile:
                    dataDisks:
                    - lun: 1
                      managedDisk:
                        id: "subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myManagedDisk2"
                    osDisk:
                      caching: ReadWrite
                      managedDisk:
                        id: "subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myManagedDisk"
                      osState: Generalized
                      osType: Linux
                type: Microsoft.Compute/images
        Create a virtual machine image that includes a data disk from a snapshot.:
          parameters:
            api-version: 2018-04-01
            imageName: myImage
            parameters:
              location: West US
              properties:
                storageProfile:
                  dataDisks:
                  - lun: 1
                    snapshot:
                      id: "subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot2"
                  osDisk:
                    osState: Generalized
                    osType: Linux
                    snapshot:
                      id: "subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot"
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                id: "/subscriptions/{subscription-id}/resourceGroups/disk/providers/Microsoft.Compute/images/myImage"
                location: westus
                name: myImage
                properties:
                  provisioningState: Creating
                  storageProfile:
                    dataDisks:
                    - lun: 1
                      snapshot:
                        id: "subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot2"
                    osDisk:
                      caching: ReadWrite
                      osState: Generalized
                      osType: Linux
                      snapshot:
                        id: "subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot"
                type: Microsoft.Compute/images
            "201":
              body:
                id: "/subscriptions/{subscription-id}/resourceGroups/disk/providers/Microsoft.Compute/images/myImage"
                location: westus
                name: myImage
                properties:
                  provisioningState: Creating
                  storageProfile:
                    dataDisks:
                    - lun: 1
                      snapshot:
                        id: "subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot2"
                    osDisk:
                      caching: ReadWrite
                      osState: Generalized
                      osType: Linux
                      snapshot:
                        id: "subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot"
                type: Microsoft.Compute/images
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.images_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/proximityPlacementGroups:
    get:
      description: Lists all proximity placement groups in a resource group.
      operationId: proximity_placement_groups_list_by_resource_group
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProximityPlacementGroupListResult'
          description: OK
      tags:
      - ProximityPlacementGroups
      x-ms-examples:
        Create a proximity placement group.:
          parameters:
            api-version: 2018-04-01
            parameters: {}
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                nextLink: string
                value:
                - id: "/subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/proximityPlacementGroups/myProximityPlacementGroup"
                  location: westus
                  name: myProximityPlacementGroup
                  properties:
                    availabilitySets:
                    - id: string
                    proximityPlacementGroupType: Standard
                    virtualMachineScaleSets:
                    - id: string
                    virtualMachines:
                    - id: string
                  type: Microsoft.Compute/proximityPlacementGroups
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.proximity_placement_groups_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/proximityPlacementGroups/{proximityPlacementGroupName}
  : delete:
      description: Delete a proximity placement group.
      operationId: proximity_placement_groups_delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the proximity placement group.
        in: path
        name: proximityPlacementGroupName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
      tags:
      - ProximityPlacementGroups
      x-ms-examples:
        Create a proximity placement group.:
          parameters:
            api-version: 2018-04-01
            parameters: {}
            proximityPlacementGroupName: myProximityPlacementGroup
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200": {}
      x-openapi-router-controller: openapi_server.controllers.proximity_placement_groups_controller
    get:
      description: Retrieves information about a proximity placement group .
      operationId: proximity_placement_groups_get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the proximity placement group.
        in: path
        name: proximityPlacementGroupName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProximityPlacementGroup'
          description: OK
      tags:
      - ProximityPlacementGroups
      x-ms-examples:
        Create a proximity placement group.:
          parameters:
            api-version: 2018-04-01
            parameters: {}
            proximityPlacementGroupName: myProximityPlacementGroup
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                id: "/subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/proximityPlacementGroups/myProximityPlacementGroup"
                location: westus
                name: myProximityPlacementGroup
                properties:
                  availabilitySets:
                  - id: string
                  proximityPlacementGroupType: Standard
                  virtualMachineScaleSets:
                  - id: string
                  virtualMachines:
                  - id: string
                type: Microsoft.Compute/proximityPlacementGroups
      x-openapi-router-controller: openapi_server.controllers.proximity_placement_groups_controller
    patch:
      description: Update a proximity placement group.
      operationId: proximity_placement_groups_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the proximity placement group.
        in: path
        name: proximityPlacementGroupName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProximityPlacementGroupUpdate'
        description: Parameters supplied to the Update Proximity Placement Group operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProximityPlacementGroup'
          description: OK
      tags:
      - ProximityPlacementGroups
      x-ms-examples:
        Create a proximity placement group.:
          parameters:
            api-version: 2018-04-01
            parameters:
              tags:
                additionalProp1: string
            proximityPlacementGroupName: myProximityPlacementGroup
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                id: "/subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/proximityPlacementGroups/myProximityPlacementGroup"
                location: westus
                name: myProximityPlacementGroup
                properties:
                  proximityPlacementGroupType: Standard
                type: Microsoft.Compute/proximityPlacementGroups
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.proximity_placement_groups_controller
    put:
      description: Create or update a proximity placement group.
      operationId: proximity_placement_groups_create_or_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the proximity placement group.
        in: path
        name: proximityPlacementGroupName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProximityPlacementGroup'
        description: Parameters supplied to the Create Proximity Placement Group operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProximityPlacementGroup'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProximityPlacementGroup'
          description: Created
      tags:
      - ProximityPlacementGroups
      x-ms-examples:
        Create or Update a proximity placement group.:
          parameters:
            api-version: 2018-04-01
            parameters:
              location: westus
              properties:
                proximityPlacementGroupType: Standard
            proximityPlacementGroupName: myProximityPlacementGroup
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                id: "/subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/proximityPlacementGroups/myProximityPlacementGroup"
                location: westus
                name: myProximityPlacementGroup
                properties:
                  proximityPlacementGroupType: Standard
                type: Microsoft.Compute/proximityPlacementGroups
            "201":
              body:
                id: "/subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/proximityPlacementGroups/myProximityPlacementGroup"
                location: westus
                name: myProximityPlacementGroup
                properties:
                  proximityPlacementGroupType: Standard
                type: Microsoft.Compute/proximityPlacementGroups
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.proximity_placement_groups_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets:
    get:
      description: Gets a list of all VM scale sets under a resource group.
      operationId: virtual_machine_scale_sets_list
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualMachineScaleSetListResult'
          description: OK
      tags:
      - VirtualMachineScaleSets
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.virtual_machine_scale_sets_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{virtualMachineScaleSetName}/virtualMachines
  : get:
      description: Gets a list of all virtual machines in a VM scale sets.
      operationId: virtual_machine_scale_set_vms_list
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the VM scale set.
        in: path
        name: virtualMachineScaleSetName
        required: true
        schema:
          type: string
      - description: The filter to apply to the operation.
        in: query
        name: $filter
        schema:
          type: string
      - description: The list parameters.
        in: query
        name: $select
        schema:
          type: string
      - description: The expand expression to apply to the operation.
        in: query
        name: $expand
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualMachineScaleSetVMListResult'
          description: OK
      tags:
      - VirtualMachineScaleSetVMs
      x-ms-odata: '#/definitions/VirtualMachineScaleSetVM'
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.virtual_machine_scale_set_vms_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmScaleSetName}
  : delete:
      description: Deletes a VM scale set.
      operationId: virtual_machine_scale_sets_delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the VM scale set.
        in: path
        name: vmScaleSetName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "202":
          content: {}
          description: Accepted
        "204":
          content: {}
          description: No Content
      tags:
      - VirtualMachineScaleSets
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.virtual_machine_scale_sets_controller
    get:
      description: Display information about a virtual machine scale set.
      operationId: virtual_machine_scale_sets_get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the VM scale set.
        in: path
        name: vmScaleSetName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualMachineScaleSet'
          description: OK
      tags:
      - VirtualMachineScaleSets
      x-openapi-router-controller: openapi_server.controllers.virtual_machine_scale_sets_controller
    patch:
      description: Update a VM scale set.
      operationId: virtual_machine_scale_sets_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the VM scale set to create or update.
        in: path
        name: vmScaleSetName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VirtualMachineScaleSetUpdate'
        description: The scale set object.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualMachineScaleSet'
          description: OK
      tags:
      - VirtualMachineScaleSets
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.virtual_machine_scale_sets_controller
    put:
      description: Create or update a VM scale set.
      operationId: virtual_machine_scale_sets_create_or_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the VM scale set to create or update.
        in: path
        name: vmScaleSetName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VirtualMachineScaleSet'
        description: The scale set object.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualMachineScaleSet'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualMachineScaleSet'
          description: Created
      tags:
      - VirtualMachineScaleSets
      x-ms-examples:
        Create a custom-image scale set from an unmanaged generalized os image.:
          parameters:
            api-version: 2018-04-01
            parameters:
              location: westus
              properties:
                overprovision: true
                upgradePolicy:
                  mode: Manual
                virtualMachineProfile:
                  networkProfile:
                    networkInterfaceConfigurations:
                    - name: "{vmss-name}"
                      properties:
                        enableIPForwarding: true
                        ipConfigurations:
                        - name: "{vmss-name}"
                          properties:
                            subnet:
                              id: "/subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Network/virtualNetworks/{existing-virtual-network-name}/subnets/{existing-subnet-name}"
                        primary: true
                  osProfile:
                    adminPassword: "{your-password}"
                    adminUsername: "{your-username}"
                    computerNamePrefix: "{vmss-name}"
                  storageProfile:
                    osDisk:
                      caching: ReadWrite
                      createOption: FromImage
                      image:
                        uri: "http://{existing-storage-account-name}.blob.core.windows.net/{existing-container-name}/{existing-generalized-os-image-blob-name}.vhd"
                      name: osDisk
              sku:
                capacity: 3
                name: Standard_D1_v2
                tier: Standard
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
            vmScaleSetName: "{vmss-name}"
          responses:
            "200":
              body:
                id: "/subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/virtualMachineScaleSets/{vmss-name}"
                location: westus
                name: "{vmss-name}"
                properties:
                  overprovision: true
                  provisioningState: Creating
                  singlePlacementGroup: true
                  uniqueId: d6e9ab29-f8c9-4792-978c-ae2c07b98f17
                  upgradePolicy:
[...]
