openapi: 3.0.1
info:
  description: A simple API to get the current time based on a request with a timezone.
  title: World Time API
  version: "20210108"
  x-apisguru-categories:
  - location
  x-origin:
  - format: openapi
    url: http://worldtimeapi.org/api
    version: "3.0"
  x-providerName: worldtimeapi.org
servers:
- url: http://worldtimeapi.org/api/
paths:
  /ip:
    get:
      operationId: ip_get
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DateTimeJsonResponse'
          description: the current time for the timezone requested in JSON format
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorJsonResponse'
          description: an error response in JSON format
      summary: "request the current time based on the ip of the request. note: this\
        \ is a \"best guess\" obtained from open-source data."
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /ip.txt:
    get:
      operationId: ip_txt_get
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/DateTimeTextResponse'
          description: the current time for the timezone requested in plain text
        default:
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorTextResponse'
          description: an error response in plain text
      summary: "request the current time based on the ip of the request. note: this\
        \ is a \"best guess\" obtained from open-source data."
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /ip/{ipv4}:
    get:
      operationId: ip_ipv4_get
      parameters:
      - explode: false
        in: path
        name: ipv4
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DateTimeJsonResponse'
          description: the current time for the timezone requested in JSON format
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorJsonResponse'
          description: an error response in JSON format
      summary: "request the current time based on the ip of the request. note: this\
        \ is a \"best guess\" obtained from open-source data."
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /ip/{ipv4}.txt:
    get:
      operationId: ip_ipv4_txt_get
      parameters:
      - explode: false
        in: path
        name: ipv4
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/DateTimeTextResponse'
          description: the current time for the timezone requested in plain text
        default:
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorTextResponse'
          description: an error response in plain text
      summary: "request the current time based on the ip of the request. note: this\
        \ is a \"best guess\" obtained from open-source data."
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /timezone:
    get:
      operationId: timezone_get
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListJsonResponse'
          description: the list of available timezones in JSON format
      summary: a listing of all timezones.
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /timezone.txt:
    get:
      operationId: timezone_txt_get
      responses:
        default:
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ListTextResponse'
          description: the list of available timezones in plain text
      summary: a listing of all timezones.
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /timezone/{area}:
    get:
      operationId: timezone_area_get
      parameters:
      - explode: false
        in: path
        name: area
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListJsonResponse'
          description: the list of available timezones in JSON format
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorJsonResponse'
          description: an error response in JSON format
      summary: a listing of all timezones available for that area.
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /timezone/{area}.txt:
    get:
      operationId: timezone_area_txt_get
      parameters:
      - explode: false
        in: path
        name: area
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ListTextResponse'
          description: the list of available timezones in plain text
        default:
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorTextResponse'
          description: an error response in plain text
      summary: a listing of all timezones available for that area.
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /timezone/{area}/{location}:
    get:
      operationId: timezone_area_location_get
      parameters:
      - explode: false
        in: path
        name: area
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: location
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DateTimeJsonResponse'
          description: the current time for the timezone requested in JSON format
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorJsonResponse'
          description: an error response in JSON format
      summary: request the current time for a timezone.
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /timezone/{area}/{location}.txt:
    get:
      operationId: timezone_area_location_txt_get
      parameters:
      - explode: false
        in: path
        name: area
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: location
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/DateTimeTextResponse'
          description: the current time for the timezone requested in plain text
        default:
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorTextResponse'
          description: an error response in plain text
      summary: request the current time for a timezone.
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /timezone/{area}/{location}/{region}:
    get:
      operationId: timezone_area_location_region_get
      parameters:
      - explode: false
        in: path
        name: area
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: location
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: region
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DateTimeJsonResponse'
          description: the current time for the timezone requested in JSON format
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorJsonResponse'
          description: an error response in JSON format
      summary: request the current time for a timezone.
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /timezone/{area}/{location}/{region}.txt:
    get:
      operationId: timezone_area_location_region_txt_get
      parameters:
      - explode: false
        in: path
        name: area
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: location
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: region
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/DateTimeTextResponse'
          description: the current time for the timezone requested in plain text
        default:
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorTextResponse'
          description: an error response in plain text
      summary: request the current time for a timezone.
      x-openapi-router-controller: openapi_server.controllers.default_controller
components:
  responses:
    ErrorJsonResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorJsonResponse'
      description: an error response in JSON format
    ErrorTextResponse:
      content:
        text/plain:
          schema:
            $ref: '#/components/schemas/ErrorTextResponse'
      description: an error response in plain text
    SuccessfulDateTimeJsonResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DateTimeJsonResponse'
      description: the current time for the timezone requested in JSON format
    SuccessfulDateTimeTextResponse:
      content:
        text/plain:
          schema:
            $ref: '#/components/schemas/DateTimeTextResponse'
      description: the current time for the timezone requested in plain text
    SuccessfulListJsonResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ListJsonResponse'
      description: the list of available timezones in JSON format
    SuccessfulListTextResponse:
      content:
        text/plain:
          schema:
            $ref: '#/components/schemas/ListTextResponse'
      description: the list of available timezones in plain text
  schemas:
    DateTimeJsonResponse:
      example:
        unixtime: 5
        utc_offset: utc_offset
        dst: true
        day_of_year: 6
        timezone: timezone
        abbreviation: abbreviation
        dst_offset: 1
        utc_datetime: utc_datetime
        datetime: datetime
        dst_until: dst_until
        client_ip: client_ip
        dst_from: dst_from
        week_number: 2
        day_of_week: 0
        raw_offset: 5
      properties:
        abbreviation:
          description: the abbreviated name of the timezone
          title: abbreviation
          type: string
        client_ip:
          description: the IP of the client making the request
          title: client_ip
          type: string
        datetime:
          description: "an ISO8601-valid string representing the current, local date/time"
          title: datetime
          type: string
        day_of_week:
          description: "current day number of the week, where sunday is 0"
          title: day_of_week
          type: integer
        day_of_year:
          description: ordinal date of the current year
          title: day_of_year
          type: integer
        dst:
          description: flag indicating whether the local time is in daylight savings
          title: dst
          type: boolean
        dst_from:
          description: an ISO8601-valid string representing the datetime when daylight
            savings started for this timezone
          title: dst_from
          type: string
        dst_offset:
          description: the difference in seconds between the current local time and
            daylight saving time for the location
          title: dst_offset
          type: integer
        dst_until:
          description: an ISO8601-valid string representing the datetime when daylight
            savings will end for this timezone
          title: dst_until
          type: string
        raw_offset:
          description: "the difference in seconds between the current local time and\
            \ the time in UTC, excluding any daylight saving difference (see dst_offset)"
          title: raw_offset
          type: integer
        timezone:
          description: timezone in `Area/Location` or `Area/Location/Region` format
          title: timezone
          type: string
        unixtime:
          description: number of seconds since the Epoch
          title: unixtime
          type: integer
        utc_datetime:
          description: an ISO8601-valid string representing the current date/time
            in UTC
          title: utc_datetime
          type: string
        utc_offset:
          description: an ISO8601-valid string representing the offset from UTC
          title: utc_offset
          type: string
        week_number:
          description: the current week number
          title: week_number
          type: integer
      required:
      - abbreviation
      - client_ip
      - datetime
      - day_of_week
      - day_of_year
      - dst
      - dst_offset
      - timezone
      - unixtime
      - utc_datetime
      - utc_offset
      - week_number
      title: DateTimeJsonResponse
    DateTimeTextResponse:
      description: "time zone details, as per the DateTimeJsonResponse response, in\
        \ the format `key: value`, one item per line"
      type: string
    ErrorJsonResponse:
      example:
        error: error
      properties:
        error:
          description: details about the error encountered
          title: error
          type: string
      required:
      - error
      title: ErrorJsonResponse
    ErrorTextResponse:
      description: details about the error encountered in plain text
      type: string
    ListJsonResponse:
      description: a list of available timezones
      items:
        type: string
      type: array
    ListTextResponse:
      description: "a list of available timezones, one per line"
      type: string
