openapi: 3.0.1
info:
  contact:
    email: support@transitfeeds.com
    name: TransitFeeds.com
    url: https://transitfeeds.com/issues
  description: |
    API to view feed information and download feeds from TransitFeeds.com
  title: TransitFeeds API
  version: 1.0.0
  x-apisguru-categories:
  - location
  x-logo:
    url: https://twitter.com/openmobilityorg/profile_image?size=original
  x-origin:
  - format: swagger
    url: https://transitfeeds.com/api/transitfeeds-api.yaml
    version: "2.0"
  x-providerName: transitfeeds.com
servers:
- url: https://api.transitfeeds.com/v1
paths:
  /getFeedVersions:
    get:
      description: |
        This API call allows you to easily see every single feed update in the TranstiFeeds.com system. Since this can be quite
        long, it's also possible to filter this list by a single feed ID.
      operationId: get_feed_versions
      parameters:
      - description: "Your personal API key, used for authentication."
        in: query
        name: key
        required: true
        schema:
          default: YOUR_API_KEY
          type: string
      - description: "If you only want to retrieve feed versions for a particular\
          \ feed, include its ID here. You can use the `/getFeeds` call to discover\
          \ feed IDs."
        in: query
        name: feed
        schema:
          type: string
      - description: |
          The page number of results to return. For example, if you specify a `page` of `2` with a `limit` of 10, then results 11-20 are returned.
          The number of pages available is included in the response.
        in: query
        name: page
        schema:
          default: 1
          type: integer
      - description: The maximum number of results to return..
        in: query
        name: limit
        schema:
          default: 10
          type: integer
      - description: "To include any errors detected when importing this feed in the\
          \ response, specify a valud of `1`."
        in: query
        name: err
        schema:
          default: 1
          enum:
          - 0
          - 1
          type: integer
      - description: "To include any warnings detected when importing this feed in\
          \ the response, specify a valud of `1`."
        in: query
        name: warn
        schema:
          default: 1
          enum:
          - 0
          - 1
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetFeedVersionsResponse'
          description: The response for a valid `/getFeedVersions` API call.
      summary: Retrieve a list of versions of specified (or all) feeds.
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /getFeeds:
    get:
      description: |
        Used this API to retrieve a list of feeds in the system. Doing so can be usedful to discover feed IDs that
        can be used in other API calls.
      operationId: get_feeds
      parameters:
      - description: "Your personal API key, used for authentication."
        in: query
        name: key
        required: true
        schema:
          default: YOUR_API_KEY
          type: string
      - description: |
          This is the unique ID of a location. If specified, feeds will only be returned that belong to this location
          (and perhaps sub-locations too, depending on the `descendants` value). You can use the `/getLocations` API
          endpoint to determine location IDs.
        in: query
        name: location
        schema:
          type: integer
      - description: "If a location is specified in `location`, this flag can be used\
          \ to control if returned feeds must be assigned directly to the location,\
          \ or if feeds belonging to sub-locations can also be returned. If `0`, then\
          \ feeds must be assigned directly to the specified location."
        in: query
        name: descendants
        schema:
          default: 1
          enum:
          - 0
          - 1
          type: integer
      - description: |
          The page number of results to return. For example, if you specify a `page` of `2` with a `limit` of 10, then results 11-20 are returned.
          The number of pages available is included in the response.
        in: query
        name: page
        schema:
          default: 1
          type: integer
      - description: The maximum number of results to return..
        in: query
        name: limit
        schema:
          default: 10
          type: integer
      - description: "The type of feeds to return. If unspecified, feeds of all types\
          \ are returned."
        in: query
        name: type
        schema:
          enum:
          - gtfs
          - gtfsrealtime
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetFeedsResponse'
          description: The response for a valid `/getFeeds` API call.
      summary: Retrieve a list of feeds.
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /getLatestFeedVersion:
    get:
      description: |
        Once you have used `/getFeeds` to discover a feed's URL, you can use this endpoint to download its latest version from TranstiFeeds.
        It will be unmodified in the original format from the provider.
      operationId: get_latest_feed_version
      parameters:
      - description: "Your personal API key, used for authentication."
        in: query
        name: key
        required: true
        schema:
          default: YOUR_API_KEY
          type: string
      - description: The ID of the feed to retrieve the latest feed version for. You
          can use the `/getFeeds` call to discover feed IDs.
        in: query
        name: feed
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetLatestFeedVersionResponse'
          description: The response for a `/getLatestFeedVersion` API call that includes
            invalid request parameters.
        "302":
          content: {}
          description: |
            If a `/getLatestFeedVersion` request is valid, then a HTTP 302 Temporary Redirect is issued to the download location.
            For example, if the requested feed is a GTFS feed, then this will redirect to the URL of the latest zip file for
            this feed.
          headers:
            Location:
              schema:
                type: string
      summary: Retrieve the download URL for the latest version of a feed.
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /getLocations:
    get:
      description: |
        Retrieve a list of locations. Each location (except for the root) has a parent location, and each
        location has zero or more child locations. This hierarchy is generally structured so countries contain
        states, states contain cities (although this typically depends on the country).
      operationId: get_locations
      parameters:
      - description: "Your personal API key, used for authentication."
        in: query
        name: key
        required: true
        schema:
          default: YOUR_API_KEY
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetLocationsResponse'
          description: The response for a valid `getLocations` API call.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API401Response'
          description: The response for invalid key or permission denied.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API404Response'
          description: The response for invalid API method.
      summary: Retrieve a list of locations.
      x-openapi-router-controller: openapi_server.controllers.default_controller
components:
  schemas:
    API401Response:
      description: This element contains information about a 401 Unauthorized error.
      example:
        msg: msg
        status: INVALIDKEY
        ts: 6
      properties:
        msg:
          description: Description of the error.
          title: msg
          type: string
        status:
          description: Indicates the status of this request.
          enum:
          - INVALIDKEY
          - PERMISSIONDENIED
          title: status
          type: string
        ts:
          description: Indicates the timestamp (in number of seconds since the epoch
            (January 1 1970 00:00:00 GMT).
          title: ts
          type: integer
      title: API401Response
      type: object
    API404Response:
      description: This element contains information about a 404 File Not Found error.
      example:
        msg: msg
        status: INVALIDMETHOD
        ts: 1
      properties:
        msg:
          description: Description of the error.
          title: msg
          type: string
        status:
          description: Indicates the status of this request.
          enum:
          - INVALIDMETHOD
          title: status
          type: string
        ts:
          description: Indicates the timestamp (in number of seconds since the epoch
            (January 1 1970 00:00:00 GMT).
          title: ts
          type: integer
      title: API404Response
      type: object
    Feed:
      description: Contains the information about a single feed.
      example:
        t: t
        ty: gtfs
        u:
          d: d
          i: i
        id: id
        l:
          lng: 1.4658129805029452
          t: t
          pid: 5
          id: 0
          lat: 6.027456183070403
          "n": "n"
        latest:
          ts: 5
      properties:
        id:
          description: |
            The unique ID for this feed. This is constructed using the ID of the feed's provider and an internal ID. This ID
            can be used in other calls, such as `/getFeedVersions` or `/getLatestFeedVersion`.
          title: id
          type: string
        l:
          $ref: '#/components/schemas/Location'
        latest:
          $ref: '#/components/schemas/Feed_latest'
        t:
          description: The title of the feed as it appears on TransitFeeds.com
          title: t
          type: string
        ty:
          description: The type of feed (such as GTFS or GTFS-realtime).
          enum:
          - gtfs
          - gtfsrealtime
          title: ty
          type: string
        u:
          $ref: '#/components/schemas/Feed_u'
      required:
      - id
      - l
      - t
      - ty
      title: Feed
      type: object
    FeedVersion:
      description: Contains the information about a single feed version.
      example:
        warn:
        - c: c
          f: f
          l: l
          m: m
        - c: c
          f: f
          l: l
          m: m
        d:
          s: s
          f: f
        err:
        - c: c
          f: f
          l: l
          m: m
        - c: c
          f: f
          l: l
          m: m
        size: 2
        f:
          t: t
          ty: gtfs
          u:
            d: d
            i: i
          id: id
          l:
            lng: 1.4658129805029452
            t: t
            pid: 5
            id: 0
            lat: 6.027456183070403
            "n": "n"
          latest:
            ts: 5
        id: id
        url: url
        ts: 7
      properties:
        d:
          $ref: '#/components/schemas/FeedVersion_d'
        err:
          description: "If you have included an `err` value of `1` in your request,\
            \ then any errors detected when importing this feed version are included."
          items:
            $ref: '#/components/schemas/FeedVersionIssue'
          title: err
          type: array
        f:
          $ref: '#/components/schemas/Feed'
        id:
          description: "The unique ID for this feed. This is constructed using the\
            \ feed ID and an internal ID (generally the date it was imported, but\
            \ not always, so do not rely on this)."
          title: id
          type: string
        size:
          description: The filesize in bytes of the feed version when compressed.
          title: size
          type: integer
        ts:
          description: The timestamp of when this feed version was registered in the
            TransitFeeds.com system (in number of seconds since the epoch (January
            1 1970 00:00:00 GMT).
          title: ts
          type: integer
        url:
          description: |
            This is the URL to directly download the feed version via the TranstiFeeds.com web site (and not via the API). In other words,
            you can provide a download URL without exposing your API key to others.
          title: url
          type: string
        warn:
          description: "If you have included a `warn` value of `1` in your request,\
            \ then any warnings detected when importing this feed version are included."
          items:
            $ref: '#/components/schemas/FeedVersionIssue'
          title: warn
          type: array
      required:
      - f
      - id
      - size
      - ts
      - url
      title: FeedVersion
      type: object
    FeedVersionIssue:
      description: Contains the information about a single error or warning associated
        with a feed version.
      example:
        c: c
        f: f
        l: l
        m: m
      properties:
        c:
          description: The column name (if referring to a GTFS file / CSV file) associated
            with the issue.
          title: c
          type: string
        f:
          description: The filename associated with this issue.
          title: f
          type: string
        l:
          description: The line number in the given file associated with the issue.
          title: l
          type: string
        m:
          description: A description of the issue.
          title: m
          type: string
      title: FeedVersionIssue
      type: object
    GetFeedVersionsResponse:
      description: This element contains the response for a `/getFeedVersions` request.
      example:
        msg: msg
        results:
          input: input
          numPages: 3
          total: 4
          limit: 9
          feeds:
          - warn:
            - c: c
              f: f
              l: l
              m: m
            - c: c
              f: f
              l: l
              m: m
            d:
              s: s
              f: f
            err:
            - c: c
              f: f
              l: l
              m: m
            - c: c
              f: f
              l: l
              m: m
            size: 2
            f:
              t: t
              ty: gtfs
              u:
                d: d
                i: i
              id: id
              l:
                lng: 1.4658129805029452
                t: t
                pid: 5
                id: 0
                lat: 6.027456183070403
                "n": "n"
              latest:
                ts: 5
            id: id
            url: url
            ts: 7
          - warn:
            - c: c
              f: f
              l: l
              m: m
            - c: c
              f: f
              l: l
              m: m
            d:
              s: s
              f: f
            err:
            - c: c
              f: f
              l: l
              m: m
            - c: c
              f: f
              l: l
              m: m
            size: 2
            f:
              t: t
              ty: gtfs
              u:
                d: d
                i: i
              id: id
              l:
                lng: 1.4658129805029452
                t: t
                pid: 5
                id: 0
                lat: 6.027456183070403
                "n": "n"
              latest:
                ts: 5
            id: id
            url: url
            ts: 7
          page: 2
        status: OK
        ts: 7
      properties:
        msg:
          description: "Description of the error, if the `status` value was not `OK`."
          title: msg
          type: string
        results:
          $ref: '#/components/schemas/GetFeedVersionsResponse_results'
        status:
          description: |
            Indicates the success status of this request. The following values are possible:

            * `OK` - Request was valid.
            * `DEPRECATED` - Request resolved to a deprecated resource which will not be returned.
            * `EMPTYKEY` - Request was missing API key.
            * `MISSINGINPUT` - A required request parameter was missing.
            * `INVALIDINPUT` - A request parameter was invalid.
          enum:
          - OK
          - DEPRECATED
          - EMPTYKEY
          - MISSINGINPUT
          - INVALIDINPUT
          title: status
          type: string
        ts:
          description: Indicates the timestamp (in number of seconds since the epoch
            (January 1 1970 00:00:00 GMT).
          title: ts
          type: integer
      title: GetFeedVersionsResponse
      type: object
    GetFeedsResponse:
      description: This element contains the response for a `/getFeeds` request.
      example:
        msg: msg
        results:
          input: input
          numPages: 6
          total: 5
          limit: 0
          feeds:
          - t: t
            ty: gtfs
            u:
              d: d
              i: i
            id: id
            l:
              lng: 1.4658129805029452
              t: t
              pid: 5
              id: 0
              lat: 6.027456183070403
              "n": "n"
            latest:
              ts: 5
          - t: t
            ty: gtfs
            u:
              d: d
              i: i
            id: id
            l:
              lng: 1.4658129805029452
              t: t
              pid: 5
              id: 0
              lat: 6.027456183070403
              "n": "n"
            latest:
              ts: 5
          page: 1
        status: OK
        ts: 5
      properties:
        msg:
          description: "Description of the error, if the `status` value was not `OK`."
          title: msg
          type: string
        results:
          $ref: '#/components/schemas/GetFeedsResponse_results'
        status:
          description: |
            Indicates the success status of this request. The following values are possible:

            * `OK` - Request was valid.
            * `EMPTYKEY` - Request was missing API key.
            * `MISSINGINPUT` - A required request parameter was missing.
            * `INVALIDINPUT` - A request parameter was invalid.
          enum:
          - OK
          - EMPTYKEY
          - MISSINGINPUT
          - INVALIDINPUT
          title: status
          type: string
        ts:
          description: Indicates the timestamp (in number of seconds since the epoch
            (January 1 1970 00:00:00 GMT).
          title: ts
          type: integer
      title: GetFeedsResponse
      type: object
    GetLatestFeedVersionResponse:
      description: This element contains the response for a `/getLatestFeedVersion`
        request.
      example:
        msg: msg
        results:
          input: input
          numPages: 3
          total: 4
          limit: 9
          feeds:
          - warn:
            - c: c
              f: f
              l: l
              m: m
            - c: c
              f: f
              l: l
              m: m
            d:
              s: s
              f: f
            err:
            - c: c
              f: f
              l: l
              m: m
            - c: c
              f: f
              l: l
              m: m
            size: 2
            f:
              t: t
              ty: gtfs
              u:
                d: d
                i: i
              id: id
              l:
                lng: 1.4658129805029452
                t: t
                pid: 5
                id: 0
                lat: 6.027456183070403
                "n": "n"
              latest:
                ts: 5
            id: id
            url: url
            ts: 7
          - warn:
            - c: c
              f: f
              l: l
              m: m
            - c: c
              f: f
              l: l
              m: m
            d:
              s: s
              f: f
            err:
            - c: c
              f: f
              l: l
              m: m
            - c: c
              f: f
              l: l
              m: m
            size: 2
            f:
              t: t
              ty: gtfs
              u:
                d: d
                i: i
              id: id
              l:
                lng: 1.4658129805029452
                t: t
                pid: 5
                id: 0
                lat: 6.027456183070403
                "n": "n"
              latest:
                ts: 5
            id: id
            url: url
            ts: 7
          page: 2
        status: OK
        ts: 0
      properties:
        msg:
          description: "Description of the error, if the `status` value was not `OK`."
          title: msg
          type: string
        results:
          $ref: '#/components/schemas/GetFeedVersionsResponse_results'
        status:
          description: |
            Indicates the success status of this request. The following values are possible:

            * `OK` - Request was valid.
            * `DEPRECATED` - Request resolved to a deprecated resource which will not be returned.
            * `EMPTYKEY` - Request was missing API key.
            * `MISSINGINPUT` - A required request parameter was missing.
            * `INVALIDINPUT` - A request parameter was invalid.
            * `OTHER` - Some other error occurred.
          enum:
          - OK
          - DEPRECATED
          - EMPTYKEY
          - MISSINGINPUT
          - INVALIDINPUT
          - OTHER
          title: status
          type: string
        ts:
          description: Indicates the timestamp (in number of seconds since the epoch
            (January 1 1970 00:00:00 GMT).
          title: ts
          type: integer
      title: GetLatestFeedVersionResponse
      type: object
    GetLocationsResponse:
      description: This element contains the response for a `/getLocations` request.
      example:
        msg: msg
        results:
          input: input
          locations:
          - lng: 1.4658129805029452
            t: t
            pid: 5
            id: 0
            lat: 6.027456183070403
            "n": "n"
          - lng: 1.4658129805029452
            t: t
            pid: 5
            id: 0
            lat: 6.027456183070403
            "n": "n"
        status: OK
        ts: 0
      properties:
        msg:
          description: "Description of the error, if the `status` value was not `OK`."
          title: msg
          type: string
        results:
          $ref: '#/components/schemas/GetLocationsResponse_results'
        status:
          description: |
            Indicates the success status of this request. The following values are possible:

            * `OK` - Request was valid.
            * `EMPTYKEY` - Request was missing API key.
            * `MISSINGINPUT` - A required request parameter was missing.
            * `INVALIDINPUT` - A request parameter was invalid.
          enum:
          - OK
          - EMPTYKEY
          - MISSINGINPUT
          - INVALIDINPUT
          title: status
          type: string
        ts:
          description: Indicates the timestamp (in number of seconds since the epoch
            (January 1 1970 00:00:00 GMT).
          title: ts
          type: integer
      title: GetLocationsResponse
      type: object
    Location:
      description: Contains the information about a single location.
      example:
        lng: 1.4658129805029452
        t: t
        pid: 5
        id: 0
        lat: 6.027456183070403
        "n": "n"
      properties:
        id:
          description: The unique ID for this location.
          title: id
          type: integer
        lat:
          description: The latitude of the approximate point of this location.
          format: double
          title: lat
          type: number
        lng:
          description: The longitude of the approximate point of this location.
          format: double
          title: lng
          type: number
        "n":
          description: The title of this location on its own (i.e. without any state
            or country information).
          title: "n"
          type: string
        pid:
          description: The ID for the parent location. If a location has no parent
            this value is `0`.
          title: pid
          type: integer
        t:
          description: |
            The title of this location. This may include state/province and country, depending
             on the location of type it refers to.
          title: t
          type: string
      required:
      - id
      - lat
      - lng
      - "n"
      - pid
      - t
      title: Location
      type: object
    Feed_latest:
      description: |
        If available, contains information about the latest version of this feed. This can help to determine if you need to call
        `/getLatestFeedVersion` to retrieve a newer version of a feed.
      example:
        ts: 5
      properties:
        ts:
          description: Indicates the timestamp of the latest feed version (in number
            of seconds since the epoch (January 1 1970 00:00:00 GMT).
          title: ts
          type: integer
      title: Feed_latest
      type: object
    Feed_u:
      description: Contains URLs with additional information about this feed.
      example:
        d: d
        i: i
      properties:
        d:
          description: |
            If available, this contains a URL to download the feed directly from the provider (as opposed to downloading from TransitFeeds.com).
          title: d
          type: string
        i:
          description: |
            If available, this contains a URL with additional information about registering or downloading the feed from the provider.
          title: i
          type: string
      title: Feed_u
      type: object
    FeedVersion_d:
      description: |
        Contains the start/finish dates for this feed version, if available.
      example:
        s: s
        f: f
      properties:
        f:
          description: "The start date of the feed version, in `YYYYMMDD` format."
          title: f
          type: string
        s:
          description: "The start date of the feed version, in `YYYYMMDD` format."
          title: s
          type: string
      title: FeedVersion_d
      type: object
    GetFeedVersionsResponse_results:
      description: Contains requested data for a valid request.
      example:
        input: input
        numPages: 3
        total: 4
        limit: 9
        feeds:
        - warn:
          - c: c
            f: f
            l: l
            m: m
          - c: c
            f: f
            l: l
            m: m
          d:
            s: s
            f: f
          err:
          - c: c
            f: f
            l: l
            m: m
          - c: c
            f: f
            l: l
            m: m
          size: 2
          f:
            t: t
            ty: gtfs
            u:
              d: d
              i: i
            id: id
            l:
              lng: 1.4658129805029452
              t: t
              pid: 5
              id: 0
              lat: 6.027456183070403
              "n": "n"
            latest:
              ts: 5
          id: id
          url: url
          ts: 7
        - warn:
          - c: c
            f: f
            l: l
            m: m
          - c: c
            f: f
            l: l
            m: m
          d:
            s: s
            f: f
          err:
          - c: c
            f: f
            l: l
            m: m
          - c: c
            f: f
            l: l
            m: m
          size: 2
          f:
            t: t
            ty: gtfs
            u:
              d: d
              i: i
            id: id
            l:
              lng: 1.4658129805029452
              t: t
              pid: 5
              id: 0
              lat: 6.027456183070403
              "n": "n"
            latest:
              ts: 5
          id: id
          url: url
          ts: 7
        page: 2
      properties:
        feeds:
          description: An array of zero or more feed versions.
          items:
            $ref: '#/components/schemas/FeedVersion'
          title: feeds
          type: array
        input:
          description: "If the status value is `MISSINGINPUT` or `INVALIDINPUT`, this\
            \ field contains the name of the offending field."
          title: input
          type: string
        limit:
          description: |
            The maximum number of feed versions that can be returned in this response. If the final page is being
            requested then this number may be larger than the number of feed versions returned in `versions`.
          title: limit
          type: integer
        numPages:
          description: "The number of pages available, based on the `total` and `limit`."
          title: numPages
          type: integer
        page:
          description: "The page number being requested, based on the maximum number\
            \ than can be returned from in `limit`."
          title: page
          type: integer
        total:
          description: |
            The total number of feed versions found based on the request input. Note that this number may be larger
            than the number of feed versions returned in `versions`, based on the values for `limit` and `page`.
          title: total
          type: integer
      title: GetFeedVersionsResponse_results
      type: object
    GetFeedsResponse_results:
      description: Contains requested data for a valid request.
      example:
        input: input
        numPages: 6
        total: 5
        limit: 0
        feeds:
        - t: t
          ty: gtfs
          u:
            d: d
            i: i
          id: id
          l:
            lng: 1.4658129805029452
            t: t
            pid: 5
            id: 0
            lat: 6.027456183070403
            "n": "n"
          latest:
            ts: 5
        - t: t
          ty: gtfs
          u:
            d: d
            i: i
          id: id
          l:
            lng: 1.4658129805029452
            t: t
            pid: 5
            id: 0
            lat: 6.027456183070403
            "n": "n"
          latest:
            ts: 5
        page: 1
      properties:
        feeds:
          description: An array of zero or more feeds.
          items:
            $ref: '#/components/schemas/Feed'
          title: feeds
          type: array
        input:
          description: "If the status value is `MISSINGINPUT` or `INVALIDINPUT`, this\
            \ field contains the name of the offending field."
          title: input
          type: string
        limit:
          description: |
            The maximum number of feeds that can be returned in this response. If the final page is being
            requested then this number may be larger than the number of feeds returned in `feeds`.
          title: limit
          type: integer
        numPages:
          description: "The number of pages available, based on the `total` and `limit`."
          title: numPages
          type: integer
        page:
          description: "The page number being requested, based on the maximum number\
            \ than can be returned from in `limit`."
          title: page
          type: integer
        total:
          description: |
            The total number of feeds found based on the request input. Note that this number may be larger
            than the number of feeds returned in `feeds`, based on the values for `limit` and `page`.
          title: total
          type: integer
      title: GetFeedsResponse_results
      type: object
    GetLocationsResponse_results:
      description: Contains requested data for a valid request.
      example:
        input: input
        locations:
        - lng: 1.4658129805029452
          t: t
          pid: 5
          id: 0
          lat: 6.027456183070403
          "n": "n"
        - lng: 1.4658129805029452
          t: t
          pid: 5
          id: 0
          lat: 6.027456183070403
          "n": "n"
      properties:
        input:
          description: "If the status value is `MISSINGINPUT` or `INVALIDINPUT`, this\
            \ field contains the name of the offending field."
          title: input
          type: string
        locations:
          description: An array of zero or more locations.
          items:
            $ref: '#/components/schemas/Location'
          title: locations
          type: array
      title: GetLocationsResponse_results
      type: object
x-original-swagger-version: "2.0"
