openapi: 3.0.1
info:
  description: Role based access control provides you a way to apply granular level
    policy administration down to individual resources or resource groups. These operations
    enable you to manage role definitions and role assignments. A role definition
    describes the set of actions that can be performed on resources. A role assignment
    grants access to Azure Active Directory users.
  title: AuthorizationManagementClient
  version: 2018-01-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/authorization/resource-manager/Microsoft.Authorization/preview/2018-01-01-preview/authorization-RoleBasedCalls.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: authorization-authorization-RoleBasedCalls
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.Authorization/providerOperations:
    get:
      description: Gets provider operations metadata for all resource providers.
      operationId: ProviderOperationsMetadata_List
      parameters:
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Specifies whether to expand the values.
        in: query
        name: $expand
        schema:
          default: resourceTypes
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderOperationsMetadataListResult'
          description: OK - Returns an array of the operations metadata.
      tags:
      - ProviderOperationsMetadata
      x-ms-examples:
        GetConfigurations:
          parameters:
            api-version: 2017-05-01
          responses:
            "200":
              body:
                value:
                - displayName: displayName
                  id: id
                  name: name
                  operations: []
                  resourceTypes:
                  - displayName: name
                    name: name
                    operations: []
                  type: type
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /providers/Microsoft.Authorization/providerOperations/{resourceProviderNamespace}:
    get:
      description: Gets provider operations metadata for the specified resource provider.
      operationId: ProviderOperationsMetadata_Get
      parameters:
      - description: The namespace of the resource provider.
        in: path
        name: resourceProviderNamespace
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Specifies whether to expand the values.
        in: query
        name: $expand
        schema:
          default: resourceTypes
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderOperationsMetadata'
          description: OK - Returns the operations metadata.
      tags:
      - ProviderOperationsMetadata
      x-ms-examples:
        GetConfigurations:
          parameters:
            api-version: 2017-05-01
            resourceProviderNamespace: resourceProviderNamespace
          responses:
            "200":
              body:
                displayName: displayName
                id: id
                name: name
                operations: []
                resourceTypes:
                - displayName: name
                  name: name
                  operations: []
                type: type
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.Authorization/roleAssignments:
    get:
      description: Gets all role assignments for the subscription.
      operationId: RoleAssignments_List
      parameters:
      - description: "The filter to apply on the operation. Use $filter=atScope()\
          \ to return all role assignments at or above the scope. Use $filter=principalId\
          \ eq {id} to return all role assignments at, above or below the scope for\
          \ the specified principal."
        in: query
        name: $filter
        schema:
          type: string
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleAssignmentListResult'
          description: OK - Returns an array of role assignments.
      tags:
      - RoleAssignments
      x-ms-examples:
        GetConfigurations:
          parameters:
            api-version: 2018-01-01-preview
            subscriptionId: subId
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subId/resourcegroups/rgname/providers/Microsoft.Authorization/roleAssignments/roleassignmentId
                  name: raId
                  properties:
                    canDelegate: false
                    principalId: Pid
                    roleDefinitionId: /subscriptions/subId/providers/Microsoft.Authorization/roleDefinitions/roledefinitionId
                    scope: /subscriptions/subId/resourcegroups/rgname
                  type: Microsoft.Authorization/roleAssignments
      x-ms-odata: '#/definitions/RoleAssignmentFilter'
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Authorization/roleAssignments:
    get:
      description: Gets role assignments for a resource group.
      operationId: RoleAssignments_ListForResourceGroup
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "The filter to apply on the operation. Use $filter=atScope()\
          \ to return all role assignments at or above the scope. Use $filter=principalId\
          \ eq {id} to return all role assignments at, above or below the scope for\
          \ the specified principal."
        in: query
        name: $filter
        schema:
          type: string
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleAssignmentListResult'
          description: OK - Returns an array of role assignments.
      tags:
      - RoleAssignments
      x-ms-examples:
        GetConfigurations:
          parameters:
            api-version: 2018-01-01-preview
            resourceGroupName: rgname
            subscriptionId: subId
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subId/resourcegroups/rgname/providers/Microsoft.Authorization/roleAssignments/roleassignmentId
                  name: raId
                  properties:
                    canDelegate: false
                    principalId: Pid
                    roleDefinitionId: /subscriptions/subId/providers/Microsoft.Authorization/roleDefinitions/roledefinitionId
                    scope: /subscriptions/subId/resourcegroups/rgname
                  type: Microsoft.Authorization/roleAssignments
      x-ms-odata: '#/definitions/RoleAssignmentFilter'
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Authorization/permissions:
    get:
      description: Gets all permissions the caller has for a resource group.
      operationId: Permissions_ListForResourceGroup
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PermissionGetResult'
          description: OK - Returns an array of permissions.
      tags:
      - Permissions
      x-ms-examples:
        GetConfigurations:
          parameters:
            api-version: 2015-07-01
            resourceGroupName: rgname
            subscriptionId: subID
          responses:
            "200":
              body:
                nextLink: nextlink
                value:
                - actions: []
                  dataActions: []
                  notActions: []
                  notDataActions: []
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{parentResourcePath}/{resourceType}/{resourceName}/providers/Microsoft.Authorization/permissions
  : get:
      description: Gets all permissions the caller has for a resource.
      operationId: Permissions_ListForResource
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The namespace of the resource provider.
        in: path
        name: resourceProviderNamespace
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The parent resource identity.
        in: path
        name: parentResourcePath
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: The resource type of the resource.
        in: path
        name: resourceType
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: The name of the resource to get the permissions for.
        in: path
        name: resourceName
        required: true
        schema:
          type: string
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PermissionGetResult'
          description: OK - Returns an array of permissions.
      tags:
      - Permissions
      x-ms-examples:
        GetConfigurations:
          parameters:
            api-version: 2015-07-01
            parentResourcePath: parentResourcePath
            resourceGroupName: rgname
            resourceName: resourceName
            resourceProviderNamespace: rpnamespace
            resourceType: resourceType
            subscriptionId: subId
          responses:
            "200":
              body:
                value:
                - actions: []
                  notActions: []
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{parentResourcePath}/{resourceType}/{resourceName}/providers/Microsoft.Authorization/roleAssignments
  : get:
      description: Gets role assignments for a resource.
      operationId: RoleAssignments_ListForResource
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The namespace of the resource provider.
        in: path
        name: resourceProviderNamespace
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The parent resource identity.
        in: path
        name: parentResourcePath
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: The resource type of the resource.
        in: path
        name: resourceType
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: The name of the resource to get role assignments for.
        in: path
        name: resourceName
        required: true
        schema:
          type: string
      - description: "The filter to apply on the operation. Use $filter=atScope()\
          \ to return all role assignments at or above the scope. Use $filter=principalId\
          \ eq {id} to return all role assignments at, above or below the scope for\
          \ the specified principal."
        in: query
        name: $filter
        schema:
          type: string
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleAssignmentListResult'
          description: OK - Returns an array of role assignments.
      tags:
      - RoleAssignments
      x-ms-examples:
        GetConfigurations:
          parameters:
            api-version: 2018-01-01-preview
            parentResourcePath: parentResourcePath
            resourceGroupName: rgname
            resourceName: resourceName
            resourceProviderNamespace: resourceProviderNamespace
            resourceType: resourceType
            subscriptionId: subId
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subId/resourcegroups/rgname/providers/Microsoft.Authorization/roleAssignments/roleassignmentId
                  name: raId
                  properties:
                    canDelegate: false
                    principalId: Pid
                    roleDefinitionId: /subscriptions/subId/providers/Microsoft.Authorization/roleDefinitions/roledefinitionId
                    scope: /subscriptions/subId/resourcegroups/rgname
                  type: Microsoft.Authorization/roleAssignments
      x-ms-odata: '#/definitions/RoleAssignmentFilter'
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /{roleId}:
    delete:
      description: Deletes a role assignment.
      operationId: RoleAssignments_DeleteById
      parameters:
      - description: The ID of the role assignment to delete.
        in: path
        name: roleId
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleAssignment'
          description: OK - Returns information about the role assignment.
      tags:
      - RoleAssignments
      x-ms-examples:
        GetConfigurations:
          parameters:
            api-version: 2018-01-01-preview
            roleId: roleAssignmentId
            scope: scope
          responses:
            "200":
              body:
                id: /subscriptions/subId/resourcegroups/rgname/providers/Microsoft.Authorization/roleAssignments/roleassignmentId
                name: roleassignmentId
                properties:
                  canDelegate: false
                  principalId: Pid
                  roleDefinitionId: /subscriptions/subId/providers/Microsoft.Authorization/roleDefinitions/roledefinitionId
                  scope: /subscriptions/subId/resourcegroups/rgname
                type: Microsoft.Authorization/roleAssignments
      x-accepts:
      - application/json
    get:
      description: Gets a role assignment by ID.
      operationId: RoleAssignments_GetById
      parameters:
      - description: The ID of the role assignment to get.
        in: path
        name: roleId
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleAssignment'
          description: OK - Returns the role assignment.
      tags:
      - RoleAssignments
      x-ms-examples:
        GetConfigurations:
          parameters:
            api-version: 2018-01-01-preview
            roleId: roleassignmentId
          responses:
            "200":
              body:
                id: /subscriptions/subId/resourcegroups/rgname/providers/Microsoft.Authorization/roleAssignments/roleassignmentId
                name: roleassignmentId
                properties:
                  canDelegate: false
                  principalId: Pid
                  roleDefinitionId: /subscriptions/subId/providers/Microsoft.Authorization/roleDefinitions/roledefinitionId
                  scope: /subscriptions/subId/resourcegroups/rgname
                type: Microsoft.Authorization/roleAssignments
      x-accepts:
      - application/json
    put:
      description: Creates a role assignment by ID.
      operationId: RoleAssignments_CreateById
      parameters:
      - description: The ID of the role assignment to create.
        in: path
        name: roleId
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RoleAssignmentCreateParameters'
        description: Parameters for the role assignment.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleAssignment'
          description: Created - Returns the role assignment.
      tags:
      - RoleAssignments
      x-ms-examples:
        GetConfigurations:
          parameters:
            api-version: 2018-01-01-preview
            parameters:
              properties:
                canDelegate: false
                principalId: d93a38bc-d029-4160-bfb0-fbda779ac214
                roleDefinitionId: /subscriptions/4004a9fd-d58e-48dc-aeb2-4a4aec58606f/providers/Microsoft.Authorization/roleDefinitions/de139f84-1756-47ae-9be6-808fbbe84772
            roleId: roleAssignmentId
            scope: scope
          responses:
            "201":
              body:
                id: /subscriptions/subId/resourcegroups/rgname/providers/Microsoft.Authorization/roleAssignments/roleassignmentId
                name: roleassignmentId
                properties:
                  canDelegate: false
                  principalId: Pid
                  roleDefinitionId: /subscriptions/subId/providers/Microsoft.Authorization/roleDefinitions/roledefinitionId
                  scope: /subscriptions/subId/resourcegroups/rgname
                type: Microsoft.Authorization/roleAssignments
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  /{scope}/providers/Microsoft.Authorization/roleAssignments:
    get:
      description: Gets role assignments for a scope.
      operationId: RoleAssignments_ListForScope
      parameters:
      - description: The scope of the role assignments.
        in: path
        name: scope
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: "The filter to apply on the operation. Use $filter=atScope()\
          \ to return all role assignments at or above the scope. Use $filter=principalId\
          \ eq {id} to return all role assignments at, above or below the scope for\
          \ the specified principal."
        in: query
        name: $filter
        schema:
          type: string
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleAssignmentListResult'
          description: OK - Returns an array of role assignments.
      tags:
      - RoleAssignments
      x-ms-examples:
        GetConfigurations:
          parameters:
            api-version: 2018-01-01-preview
            scope: scope
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subId/resourcegroups/rgname/providers/Microsoft.Authorization/roleAssignments/roleassignmentId
                  name: raId
                  properties:
                    canDelegate: false
                    principalId: Pid
                    roleDefinitionId: /subscriptions/subId/providers/Microsoft.Authorization/roleDefinitions/roledefinitionId
                    scope: /subscriptions/subId/resourcegroups/rgname
                  type: Microsoft.Authorization/roleAssignments
      x-ms-odata: '#/definitions/RoleAssignmentFilter'
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /{scope}/providers/Microsoft.Authorization/roleAssignments/{roleAssignmentName}:
    delete:
      description: Deletes a role assignment.
      operationId: RoleAssignments_Delete
      parameters:
      - description: The scope of the role assignment to delete.
        in: path
        name: scope
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: The name of the role assignment to delete.
        in: path
        name: roleAssignmentName
        required: true
        schema:
          type: string
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleAssignment'
          description: OK - Returns information about the role assignment.
      tags:
      - RoleAssignments
      x-ms-examples:
        GetConfigurations:
          parameters:
            api-version: 2018-01-01-preview
            roleAssignmentName: roleAssignmentName
            scope: scope
          responses:
            "200":
              body:
                id: /subscriptions/subId/resourcegroups/rgname/providers/Microsoft.Authorization/roleAssignments/roleassignmentId
                name: roleassignmentId
                properties:
                  canDelegate: false
                  principalId: Pid
                  roleDefinitionId: /subscriptions/subId/providers/Microsoft.Authorization/roleDefinitions/roledefinitionId
                  scope: /subscriptions/subId/resourcegroups/rgname
                type: Microsoft.Authorization/roleAssignments
      x-accepts:
      - application/json
    get:
      description: Get the specified role assignment.
      operationId: RoleAssignments_Get
      parameters:
      - description: The scope of the role assignment.
        in: path
        name: scope
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: The name of the role assignment to get.
        in: path
        name: roleAssignmentName
        required: true
        schema:
          type: string
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleAssignment'
          description: OK - Returns information about the role assignment.
      tags:
      - RoleAssignments
      x-ms-examples:
        GetConfigurations:
          parameters:
            api-version: 2018-01-01-preview
            roleAssignmentName: roleAssignmentName
            scope: scope
            subscriptionId: subId
          responses:
            "200":
              body:
                id: /subscriptions/subId/resourcegroups/rgname/providers/Microsoft.Authorization/roleAssignments/roleassignmentId
                name: raId
                properties:
                  canDelegate: false
                  principalId: Pid
                  roleDefinitionId: /subscriptions/subId/providers/Microsoft.Authorization/roleDefinitions/roledefinitionId
                  scope: /subscriptions/subId/resourcegroups/rgname
                type: Microsoft.Authorization/roleAssignments
      x-accepts:
      - application/json
    put:
      description: Creates a role assignment.
      operationId: RoleAssignments_Create
      parameters:
      - description: "The scope of the role assignment to create. The scope can be\
          \ any REST resource instance. For example, use '/subscriptions/{subscription-id}/'\
          \ for a subscription, '/subscriptions/{subscription-id}/resourceGroups/{resource-group-name}'\
          \ for a resource group, and '/subscriptions/{subscription-id}/resourceGroups/{resource-group-name}/providers/{resource-provider}/{resource-type}/{resource-name}'\
          \ for a resource."
        in: path
        name: scope
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: The name of the role assignment to create. It can be any valid
          GUID.
        in: path
        name: roleAssignmentName
        required: true
        schema:
          type: string
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RoleAssignmentCreateParameters'
        description: Parameters for the role assignment.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleAssignment'
          description: Created - Returns information about the role assignment.
      tags:
      - RoleAssignments
      x-ms-examples:
        GetConfigurations:
          parameters:
            api-version: 2018-01-01-preview
            parameters:
              properties:
                canDelegate: false
                principalId: d93a38bc-d029-4160-bfb0-fbda779ac214
                roleDefinitionId: /subscriptions/4004a9fd-d58e-48dc-aeb2-4a4aec58606f/providers/Microsoft.Authorization/roleDefinitions/de139f84-1756-47ae-9be6-808fbbe84772
            roleAssignmentName: roleAssignmentName
            scope: scope
          responses:
            "201":
              body:
                id: /subscriptions/subId/resourcegroups/rgname/providers/Microsoft.Authorization/roleAssignments/roleassignmentId
                name: roleassignmentId
                properties:
                  canDelegate: false
                  principalId: Pid
                  roleDefinitionId: /subscriptions/subId/providers/Microsoft.Authorization/roleDefinitions/roledefinitionId
                  scope: /subscriptions/subId/resourcegroups/rgname
                type: Microsoft.Authorization/roleAssignments
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  /{scope}/providers/Microsoft.Authorization/roleDefinitions:
    get:
      description: Get all role definitions that are applicable at scope and above.
      operationId: RoleDefinitions_List
      parameters:
      - description: The scope of the role definition.
        in: path
        name: scope
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: The filter to apply on the operation. Use atScopeAndBelow filter
          to search below the given scope as well.
        in: query
        name: $filter
        schema:
          type: string
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleDefinitionListResult'
          description: OK - Returns an array of role definitions.
      tags:
      - RoleDefinitions
      x-ms-examples:
        GetConfigurations:
          parameters:
            api-version: 2018-01-01-preview
            scope: scope
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subID/providers/Microsoft.Authorization/roleDefinitions/roleDefinitionId
                  name: roleDefinitionId
                  properties:
                    assignableScopes:
                    - /subscriptions/subId
                    description: Role description
                    permissions:
                    - actions:
                      - action
                      dataActions:
                      - dataAction
                      notActions: []
                      notDataActions: []
                    roleName: Role name
                    type: roletype
                  type: Microsoft.Authorization/roleDefinitions
      x-ms-odata: '#/definitions/RoleDefinitionFilter'
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /{scope}/providers/Microsoft.Authorization/roleDefinitions/{roleDefinitionId}:
    delete:
      description: Deletes a role definition.
      operationId: RoleDefinitions_Delete
      parameters:
      - description: The scope of the role definition.
        in: path
        name: scope
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: The ID of the role definition to delete.
        in: path
        name: roleDefinitionId
        required: true
        schema:
          type: string
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleDefinition'
          description: OK - Returns information about the role definition.
      tags:
      - RoleDefinitions
      x-ms-examples:
        GetConfigurations:
          parameters:
            api-version: 2018-01-01-preview
            roleDefinitionId: roleDefinitionId
            scope: scope
          responses:
            "200":
              body:
                id: /subscriptions/subID/providers/Microsoft.Authorization/roleDefinitions/roleDefinitionId
                name: roleDefinitionId
                properties:
                  assignableScopes:
                  - /subscriptions/subId
                  description: Role description
                  permissions:
                  - actions:
                    - action
                    dataActions:
                    - dataAction
                    notActions: []
                    notDataActions: []
                  roleName: Role name
                  type: roletype
                type: Microsoft.Authorization/roleDefinitions
      x-accepts:
      - application/json
    get:
      description: Get role definition by name (GUID).
      operationId: RoleDefinitions_Get
      parameters:
      - description: The scope of the role definition.
        in: path
        name: scope
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: The ID of the role definition.
        in: path
        name: roleDefinitionId
        required: true
        schema:
          type: string
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleDefinition'
          description: OK - Returns information about the role definition.
      tags:
      - RoleDefinitions
      x-ms-examples:
        GetConfigurations:
          parameters:
            api-version: 2018-01-01-preview
            roleDefinitionId: roleDefinitionId
            scope: scope
          responses:
            "200":
              body:
                id: /subscriptions/subID/providers/Microsoft.Authorization/roleDefinitions/roleDefinitionId
                name: roleDefinitionId
                properties:
                  assignableScopes:
                  - /subscriptions/subId
                  description: Role description
                  permissions:
                  - actions:
                    - action
                    dataActions:
                    - dataAction
                    notActions: []
                    notDataActions: []
                  roleName: Role name
                  type: roletype
                type: Microsoft.Authorization/roleDefinitions
      x-accepts:
      - application/json
    put:
      description: Creates or updates a role definition.
      operationId: RoleDefinitions_CreateOrUpdate
      parameters:
      - description: The scope of the role definition.
        in: path
        name: scope
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: The ID of the role definition.
        in: path
        name: roleDefinitionId
        required: true
        schema:
          type: string
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RoleDefinition'
        description: The values for the role definition.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleDefinition'
          description: OK - Returns information about the role definition.
      tags:
      - RoleDefinitions
      x-ms-examples:
        GetConfigurations:
          parameters:
            api-version: 2018-01-01-preview
            body:
              roleDefinition:
                assignableScopes:
                - /subscriptions/subId
                description: Role description
                id: /subscriptions/subID/providers/Microsoft.Authorization/roleDefinitions/roleDefinitionId
                name: roleDefinitionId
                permissions:
                - actions:
                  - action
                  dataActions:
                  - dataAction
                  notActions: []
                  notDataActions: []
                roleName: Role name
                type: Microsoft.Authorization/roleDefinitions
            roleDefinition: {}
            roleDefinitionId: roleDefinitionId
            scope: scope
          responses:
            "201":
              body:
                id: /subscriptions/subID/providers/Microsoft.Authorization/roleDefinitions/roleDefinitionId
                name: roleDefinitionId
                properties:
                  assignableScopes:
                  - /subscriptions/subId
                  description: Role description
                  permissions:
                  - actions:
                    - action
                    dataActions:
                    - dataAction
                    notActions: []
                    notDataActions: []
                  roleName: Role name
                  type: roletype
                type: Microsoft.Authorization/roleDefinitions
      x-codegen-request-body-name: roleDefinition
      x-content-type: application/json
      x-accepts:
      - application/json
components:
  parameters:
    ApiVersionParameter:
      description: The API version to use for this operation.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    ResourceGroupNameParameter:
      description: The name of the resource group.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ResourceProviderNamespaceParameter:
      description: The namespace of the resource provider.
      in: path
      name: resourceProviderNamespace
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: The ID of the target subscription.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    Permission:
      description: Role definition permissions.
      example:
        notActions:
        - notActions
        - notActions
        dataActions:
        - dataActions
        - dataActions
        notDataActions:
        - notDataActions
        - notDataActions
        actions:
        - actions
        - actions
      properties:
        actions:
          description: Allowed actions.
          items:
            type: string
          type: array
        dataActions:
          description: Allowed Data actions.
          items:
            type: string
          type: array
        notActions:
          description: Denied actions.
          items:
            type: string
          type: array
        notDataActions:
          description: Denied Data actions.
          items:
            type: string
          type: array
      type: object
    PermissionGetResult:
      description: Permissions information.
      example:
        value:
        - notActions:
          - notActions
          - notActions
          dataActions:
          - dataActions
          - dataActions
          notDataActions:
          - notDataActions
          - notDataActions
          actions:
          - actions
          - actions
        - notActions:
          - notActions
          - notActions
          dataActions:
          - dataActions
          - dataActions
          notDataActions:
          - notDataActions
          - notDataActions
          actions:
          - actions
          - actions
        nextLink: nextLink
      properties:
        nextLink:
          description: The URL to use for getting the next set of results.
          type: string
        value:
          description: An array of permissions.
          items:
            $ref: '#/components/schemas/Permission'
          type: array
      type: object
    ProviderOperation:
      description: Operation
      example:
        displayName: displayName
        origin: origin
        isDataAction: true
        name: name
        description: description
        properties: "{}"
      properties:
        description:
          description: The operation description.
          type: string
        displayName:
          description: The operation display name.
          type: string
        isDataAction:
          description: The dataAction flag to specify the operation type.
          type: boolean
        name:
          description: The operation name.
          type: string
        origin:
          description: The operation origin.
          type: string
        properties:
          description: The operation properties.
          properties: {}
          type: object
          x-ms-client-flatten: true
      type: object
    ProviderOperationsMetadata:
      description: Provider Operations metadata
      example:
        resourceTypes:
        - operations:
          - displayName: displayName
            origin: origin
            isDataAction: true
            name: name
            description: description
            properties: "{}"
          - displayName: displayName
            origin: origin
            isDataAction: true
            name: name
            description: description
            properties: "{}"
          displayName: displayName
          name: name
        - operations:
          - displayName: displayName
            origin: origin
            isDataAction: true
            name: name
            description: description
            properties: "{}"
          - displayName: displayName
            origin: origin
            isDataAction: true
            name: name
            description: description
            properties: "{}"
          displayName: displayName
          name: name
        operations:
        - displayName: displayName
          origin: origin
          isDataAction: true
          name: name
          description: description
          properties: "{}"
        - displayName: displayName
          origin: origin
          isDataAction: true
          name: name
          description: description
          properties: "{}"
        displayName: displayName
        name: name
        id: id
        type: type
      properties:
        displayName:
          description: The provider display name.
          type: string
        id:
          description: The provider id.
          type: string
        name:
          description: The provider name.
          type: string
        operations:
          description: The provider operations.
          items:
            $ref: '#/components/schemas/ProviderOperation'
          type: array
        resourceTypes:
          description: The provider resource types
          items:
            $ref: '#/components/schemas/ResourceType'
          type: array
        type:
          description: The provider type.
          type: string
      type: object
    ProviderOperationsMetadataListResult:
      description: Provider operations metadata list
      example:
        value:
        - resourceTypes:
          - operations:
            - displayName: displayName
              origin: origin
              isDataAction: true
              name: name
              description: description
              properties: "{}"
            - displayName: displayName
              origin: origin
              isDataAction: true
              name: name
              description: description
              properties: "{}"
            displayName: displayName
            name: name
          - operations:
            - displayName: displayName
              origin: origin
              isDataAction: true
              name: name
              description: description
              properties: "{}"
            - displayName: displayName
              origin: origin
              isDataAction: true
              name: name
              description: description
              properties: "{}"
            displayName: displayName
            name: name
          operations:
          - displayName: displayName
            origin: origin
            isDataAction: true
            name: name
            description: description
            properties: "{}"
          - displayName: displayName
            origin: origin
            isDataAction: true
            name: name
            description: description
            properties: "{}"
          displayName: displayName
          name: name
          id: id
          type: type
        - resourceTypes:
          - operations:
            - displayName: displayName
              origin: origin
              isDataAction: true
              name: name
              description: description
              properties: "{}"
            - displayName: displayName
              origin: origin
              isDataAction: true
              name: name
              description: description
              properties: "{}"
            displayName: displayName
            name: name
          - operations:
            - displayName: displayName
              origin: origin
              isDataAction: true
              name: name
              description: description
              properties: "{}"
            - displayName: displayName
              origin: origin
              isDataAction: true
              name: name
              description: description
              properties: "{}"
            displayName: displayName
            name: name
          operations:
          - displayName: displayName
            origin: origin
            isDataAction: true
            name: name
            description: description
            properties: "{}"
          - displayName: displayName
            origin: origin
            isDataAction: true
            name: name
            description: description
            properties: "{}"
          displayName: displayName
          name: name
          id: id
          type: type
        nextLink: nextLink
      properties:
        nextLink:
          description: The URL to use for getting the next set of results.
          type: string
        value:
          description: The list of providers.
          items:
            $ref: '#/components/schemas/ProviderOperationsMetadata'
          type: array
      type: object
    ResourceType:
      description: Resource Type
      example:
        operations:
        - displayName: displayName
          origin: origin
          isDataAction: true
          name: name
          description: description
          properties: "{}"
        - displayName: displayName
          origin: origin
          isDataAction: true
          name: name
          description: description
          properties: "{}"
        displayName: displayName
        name: name
      properties:
        displayName:
          description: The resource type display name.
          type: string
        name:
          description: The resource type name.
          type: string
        operations:
          description: The resource type operations.
          items:
            $ref: '#/components/schemas/ProviderOperation'
          type: array
      type: object
    RoleAssignment:
      description: Role Assignments
      example:
        name: name
        id: id
        type: type
        properties:
          roleDefinitionId: roleDefinitionId
          scope: scope
          canDelegate: true
          principalId: principalId
      properties:
        id:
          description: The role assignment ID.
          readOnly: true
          type: string
        name:
          description: The role assignment name.
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/RoleAssignmentPropertiesWithScope'
        type:
          description: The role assignment type.
          readOnly: true
          type: string
      type: object
    RoleAssignmentCreateParameters:
      description: Role assignment create parameters.
      example:
        properties:
          roleDefinitionId: roleDefinitionId
          canDelegate: true
          principalId: principalId
      properties:
        properties:
          $ref: '#/components/schemas/RoleAssignmentProperties'
      type: object
    RoleAssignmentFilter:
      description: Role Assignments filter
      properties:
        canDelegate:
          description: The Delegation flag for the roleassignment
          type: boolean
        principalId:
          description: Returns role assignment of the specific principal.
          type: string
      type: object
    RoleAssignmentListResult:
      description: Role assignment list operation result.
      example:
        value:
        - name: name
          id: id
          type: type
          properties:
            roleDefinitionId: roleDefinitionId
            scope: scope
            canDelegate: true
            principalId: principalId
        - name: name
          id: id
          type: type
          properties:
            roleDefinitionId: roleDefinitionId
            scope: scope
            canDelegate: true
            principalId: principalId
        nextLink: nextLink
      properties:
        nextLink:
          description: The URL to use for getting the next set of results.
          type: string
        value:
          description: Role assignment list.
          items:
            $ref: '#/components/schemas/RoleAssignment'
          type: array
      type: object
    RoleAssignmentProperties:
      description: Role assignment properties.
      example:
        roleDefinitionId: roleDefinitionId
        canDelegate: true
        principalId: principalId
      properties:
        canDelegate:
          description: The delgation flag used for creating a role assignment
          type: boolean
        principalId:
          description: "The principal ID assigned to the role. This maps to the ID\
            \ inside the Active Directory. It can point to a user, service principal,\
            \ or security group."
          type: string
        roleDefinitionId:
          description: The role definition ID used in the role assignment.
          type: string
      type: object
    RoleAssignmentPropertiesWithScope:
      description: Role assignment properties with scope.
      example:
        roleDefinitionId: roleDefinitionId
        scope: scope
        canDelegate: true
        principalId: principalId
      properties:
        canDelegate:
          description: The Delegation flag for the roleassignment
          type: boolean
        principalId:
          description: The principal ID.
          type: string
        roleDefinitionId:
          description: The role definition ID.
          type: string
        scope:
          description: The role assignment scope.
          type: string
      type: object
    RoleDefinition:
      description: Role definition.
      example:
        name: name
        id: id
        type: type
        properties:
          permissions:
          - notActions:
            - notActions
            - notActions
            dataActions:
            - dataActions
            - dataActions
            notDataActions:
            - notDataActions
            - notDataActions
            actions:
            - actions
            - actions
          - notActions:
            - notActions
            - notActions
            dataActions:
            - dataActions
            - dataActions
            notDataActions:
            - notDataActions
            - notDataActions
            actions:
            - actions
            - actions
          roleName: roleName
          description: description
          type: type
          assignableScopes:
          - assignableScopes
          - assignableScopes
      properties:
        id:
          description: The role definition ID.
          readOnly: true
          type: string
        name:
          description: The role definition name.
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/RoleDefinitionProperties'
        type:
          description: The role definition type.
          readOnly: true
          type: string
      type: object
    RoleDefinitionFilter:
      description: Role Definitions filter
      properties:
        roleName:
          description: Returns role definition with the specific name.
          type: string
        type:
          description: Returns role definition with the specific type.
          type: string
      type: object
    RoleDefinitionListResult:
      description: Role definition list operation result.
      example:
        value:
        - name: name
          id: id
          type: type
          properties:
            permissions:
            - notActions:
              - notActions
              - notActions
              dataActions:
              - dataActions
              - dataActions
              notDataActions:
              - notDataActions
              - notDataActions
              actions:
              - actions
              - actions
            - notActions:
              - notActions
              - notActions
              dataActions:
              - dataActions
              - dataActions
              notDataActions:
              - notDataActions
              - notDataActions
              actions:
              - actions
              - actions
            roleName: roleName
            description: description
            type: type
            assignableScopes:
            - assignableScopes
            - assignableScopes
        - name: name
          id: id
          type: type
          properties:
            permissions:
            - notActions:
              - notActions
              - notActions
              dataActions:
              - dataActions
              - dataActions
              notDataActions:
              - notDataActions
              - notDataActions
              actions:
              - actions
              - actions
            - notActions:
              - notActions
              - notActions
              dataActions:
              - dataActions
              - dataActions
              notDataActions:
              - notDataActions
              - notDataActions
              actions:
              - actions
              - actions
            roleName: roleName
            description: description
            type: type
            assignableScopes:
            - assignableScopes
            - assignableScopes
        nextLink: nextLink
      properties:
        nextLink:
          description: The URL to use for getting the next set of results.
          type: string
        value:
          description: Role definition list.
          items:
            $ref: '#/components/schemas/RoleDefinition'
          type: array
      type: object
    RoleDefinitionProperties:
      description: Role definition properties.
      example:
        permissions:
        - notActions:
          - notActions
          - notActions
          dataActions:
          - dataActions
          - dataActions
          notDataActions:
          - notDataActions
          - notDataActions
          actions:
          - actions
          - actions
        - notActions:
          - notActions
          - notActions
          dataActions:
          - dataActions
          - dataActions
          notDataActions:
          - notDataActions
          - notDataActions
          actions:
          - actions
          - actions
        roleName: roleName
        description: description
        type: type
        assignableScopes:
        - assignableScopes
        - assignableScopes
      properties:
        assignableScopes:
          description: Role definition assignable scopes.
          items:
            type: string
          type: array
        description:
          description: The role definition description.
          type: string
        permissions:
          description: Role definition permissions.
          items:
            $ref: '#/components/schemas/Permission'
          type: array
        roleName:
          description: The role name.
          type: string
        type:
          description: The role type.
          type: string
          x-ms-client-name: roleType
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-ms-paths:
  /{roleId}?disambiguation_dummy:
    get:
      description: Gets a role definition by ID.
      operationId: RoleDefinitions_GetById
      parameters:
      - description: "The fully qualified role definition ID. Use the format, /subscriptions/{guid}/providers/Microsoft.Authorization/roleDefinitions/{roleDefinitionId}\
          \ for subscription level role definitions, or /providers/Microsoft.Authorization/roleDefinitions/{roleDefinitionId}\
          \ for tenant level role definitions."
        in: path
        name: roleId
        required: true
        type: string
        x-ms-skip-url-encoding: true
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        "200":
          description: OK - Returns information about the role definition.
          schema:
            $ref: '#/definitions/RoleDefinition'
      tags:
      - RoleDefinitions
      x-ms-examples:
        GetConfigurations:
          parameters:
            api-version: 2018-01-01-preview
            roleId: roleDefinitionId
          responses:
            "200":
              body:
                id: /subscriptions/subID/providers/Microsoft.Authorization/roleDefinitions/roleDefinitionId
                name: roleDefinitionId
                properties:
                  assignableScopes:
                  - /subscriptions/subId
                  description: Role description
                  permissions:
                  - actions:
                    - action
                    dataActions:
                    - dataAction
                    notActions: []
                    notDataActions: []
                  roleName: Role name
                  type: roletype
                type: Microsoft.Authorization/roleDefinitions
x-original-swagger-version: "2.0"

