openapi: 3.0.0
info:
  contact:
    x-twitter: rawgtheworld
  description: |2

    The largest open video games database.

    ### Why build on RAWG
    - More than 350,000 games for 50 platforms including mobiles.
    - Rich metadata: tags, genres, developers, publishers, individual creators, official websites, release dates,
    Metacritic ratings.
    - Where to buy: links to digital distribution services
    - Similar games based on visual similarity.
    - Player activity data: Steam average playtime and RAWG player counts and ratings.
    - Actively developing and constantly getting better by user contribution and our algorithms.

    ### Terms of Use
    - Free for personal use as long as you attribute RAWG as the source of the data and/or images and add an active
    hyperlink from every page where the data of RAWG is used.
    - Free for commercial use for startups and hobby projects with not more than 100,000 monthly active users or 500,000
    page views per month. If your project is larger than that, email us at [api@rawg.io](mailto:api@rawg.io) for
    commercial terms.
    - No cloning. It would not be cool if you used our API to launch a clone of RAWG. We know it is not always easy
    to say what is a duplicate and what isn't. Drop us a line at [api@rawg.io](mailto:api@rawg.io) if you are in doubt,
    and we will talk it through.
    - You must include an API key with every request. The key can be obtained at https://rawg.io/apidocs.
    If you don’t provide it, we may ban your requests.

    __[Read more](https://rawg.io/apidocs)__.
  title: RAWG Video Games Database API
  version: v1.0
  x-apisguru-categories:
  - entertainment
  x-logo:
    url: https://twitter.com/rawgtheworld/profile_image?size=original
  x-origin:
  - format: openapi
    url: https://api.rawg.io/docs/?format=openapi
    version: "3.0"
  x-providerName: rawg.io
servers:
- url: https://api.rawg.io/api
paths:
  /creator-roles:
    get:
      description: ""
      operationId: creator_roles_list
      parameters:
      - description: A page number within the paginated result set.
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/creator_roles_list_200_response'
          description: ""
      summary: Get a list of creator positions (jobs).
      tags:
      - creator-roles
      x-openapi-router-controller: openapi_server.controllers.creator_roles_controller
  /creators:
    get:
      description: ""
      operationId: creators_list
      parameters:
      - description: A page number within the paginated result set.
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/creators_list_200_response'
          description: ""
      summary: Get a list of game creators.
      tags:
      - creators
      x-openapi-router-controller: openapi_server.controllers.creators_controller
  /creators/{id}:
    get:
      description: ""
      operationId: creators_read
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonSingle'
          description: ""
      summary: Get details of the creator.
      tags:
      - creators
      x-openapi-router-controller: openapi_server.controllers.creators_controller
  /developers:
    get:
      description: ""
      operationId: developers_list
      parameters:
      - description: A page number within the paginated result set.
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/developers_list_200_response'
          description: ""
      summary: Get a list of game developers.
      tags:
      - developers
      x-openapi-router-controller: openapi_server.controllers.developers_controller
  /developers/{id}:
    get:
      description: ""
      operationId: developers_read
      parameters:
      - description: A unique integer value identifying this Developer.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeveloperSingle'
          description: ""
      summary: Get details of the developer.
      tags:
      - developers
      x-openapi-router-controller: openapi_server.controllers.developers_controller
  /games:
    get:
      description: ""
      operationId: games_list
      parameters:
      - description: A page number within the paginated result set.
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: Search query.
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: Disable fuzziness for the search query.
        explode: true
        in: query
        name: search_precise
        required: false
        schema:
          type: boolean
        style: form
      - description: Mark the search query as exact.
        explode: true
        in: query
        name: search_exact
        required: false
        schema:
          type: boolean
        style: form
      - description: "Filter by parent platforms, for example: `1,2,3`."
        explode: true
        in: query
        name: parent_platforms
        required: false
        schema:
          type: string
        style: form
      - description: "Filter by platforms, for example: `4,5`."
        explode: true
        in: query
        name: platforms
        required: false
        schema:
          type: string
        style: form
      - description: "Filter by stores, for example: `5,6`."
        explode: true
        in: query
        name: stores
        required: false
        schema:
          type: string
        style: form
      - description: "Filter by developers, for example: `1612,18893` or `valve-software,feral-interactive`."
        explode: true
        in: query
        name: developers
        required: false
        schema:
          type: string
        style: form
      - description: "Filter by publishers, for example: `354,20987` or `electronic-arts,microsoft-studios`."
        explode: true
        in: query
        name: publishers
        required: false
        schema:
          type: string
        style: form
      - description: "Filter by genres, for example: `4,51` or `action,indie`."
        explode: true
        in: query
        name: genres
        required: false
        schema:
          type: string
        style: form
      - description: "Filter by tags, for example: `31,7` or `singleplayer,multiplayer`."
        explode: true
        in: query
        name: tags
        required: false
        schema:
          type: string
        style: form
      - description: "Filter by creators, for example: `78,28` or `cris-velasco,mike-morasky`."
        explode: true
        in: query
        name: creators
        required: false
        schema:
          type: string
        style: form
      - description: "Filter by a release date, for example: `2010-01-01,2018-12-31.1960-01-01,1969-12-31`."
        explode: true
        in: query
        name: dates
        required: false
        schema:
          type: string
        style: form
      - description: "Filter by an update date, for example: `2020-12-01,2020-12-31`."
        explode: true
        in: query
        name: updated
        required: false
        schema:
          type: string
        style: form
      - description: "Filter by platforms count, for example: `1`."
        explode: true
        in: query
        name: platforms_count
        required: false
        schema:
          type: integer
        style: form
      - description: "Filter by a metacritic rating, for example: `80,100`."
        explode: true
        in: query
        name: metacritic
        required: false
        schema:
          type: string
        style: form
      - description: "Exclude games from a particular collection, for example: `123`."
        explode: true
        in: query
        name: exclude_collection
        required: false
        schema:
          type: integer
        style: form
      - description: Exclude additions.
        explode: true
        in: query
        name: exclude_additions
        required: false
        schema:
          type: boolean
        style: form
      - description: Exclude games which have additions.
        explode: true
        in: query
        name: exclude_parents
        required: false
        schema:
          type: boolean
        style: form
      - description: Exclude games which included in a game series.
        explode: true
        in: query
        name: exclude_game_series
        required: false
        schema:
          type: boolean
        style: form
      - description: "Exclude stores, for example: `5,6`."
        explode: true
        in: query
        name: exclude_stores
        required: false
        schema:
          type: string
        style: form
      - description: "Available fields: `name`, `released`, `added`, `created`, `updated`,\
          \ `rating`, `metacritic`. You can reverse the sort order adding a hyphen,\
          \ for example: `-released`."
        explode: true
        in: query
        name: ordering
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/games_list_200_response'
          description: ""
      summary: Get a list of games.
      tags:
      - games
      x-openapi-router-controller: openapi_server.controllers.games_controller
  /games/{game_pk}/additions:
    get:
      description: ""
      operationId: games_additions_list
      parameters:
      - explode: false
        in: path
        name: game_pk
        required: true
        schema:
          type: string
        style: simple
      - description: A page number within the paginated result set.
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/games_list_200_response'
          description: ""
      summary: "Get a list of DLC's for the game, GOTY and other editions, companion\
        \ apps, etc."
      tags:
      - games
      x-openapi-router-controller: openapi_server.controllers.games_controller
  /games/{game_pk}/development-team:
    get:
      description: ""
      operationId: games_development_team_list
      parameters:
      - explode: false
        in: path
        name: game_pk
        required: true
        schema:
          type: string
        style: simple
      - description: Which field to use when ordering the results.
        explode: true
        in: query
        name: ordering
        required: false
        schema:
          type: string
        style: form
      - description: A page number within the paginated result set.
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/games_development_team_list_200_response'
          description: ""
      summary: Get a list of individual creators that were part of the development
        team.
      tags:
      - games
      x-openapi-router-controller: openapi_server.controllers.games_controller
  /games/{game_pk}/game-series:
    get:
      description: ""
      operationId: games_game_series_list
      parameters:
      - explode: false
        in: path
        name: game_pk
        required: true
        schema:
          type: string
        style: simple
      - description: A page number within the paginated result set.
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/games_list_200_response'
          description: ""
      summary: Get a list of games that are part of the same series.
      tags:
      - games
      x-openapi-router-controller: openapi_server.controllers.games_controller
  /games/{game_pk}/parent-games:
    get:
      description: ""
      operationId: games_parent_games_list
      parameters:
      - explode: false
        in: path
        name: game_pk
        required: true
        schema:
          type: string
        style: simple
      - description: A page number within the paginated result set.
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/games_list_200_response'
          description: ""
      summary: Get a list of parent games for DLC's and editions.
      tags:
      - games
      x-openapi-router-controller: openapi_server.controllers.games_controller
  /games/{game_pk}/screenshots:
    get:
      description: ""
      operationId: games_screenshots_list
      parameters:
      - explode: false
        in: path
        name: game_pk
        required: true
        schema:
          type: string
        style: simple
      - description: Which field to use when ordering the results.
        explode: true
        in: query
        name: ordering
        required: false
        schema:
          type: string
        style: form
      - description: A page number within the paginated result set.
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/games_screenshots_list_200_response'
          description: ""
      summary: Get screenshots for the game.
      tags:
      - games
      x-openapi-router-controller: openapi_server.controllers.games_controller
  /games/{game_pk}/stores:
    get:
      description: ""
      operationId: games_stores_list
      parameters:
      - explode: false
        in: path
        name: game_pk
        required: true
        schema:
          type: string
        style: simple
      - description: Which field to use when ordering the results.
        explode: true
        in: query
        name: ordering
        required: false
        schema:
          type: string
        style: form
      - description: A page number within the paginated result set.
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/games_stores_list_200_response'
          description: ""
      summary: Get links to the stores that sell the game.
      tags:
      - games
      x-openapi-router-controller: openapi_server.controllers.games_controller
  /games/{id}:
    get:
      description: ""
      operationId: games_read
      parameters:
      - description: An ID or a slug identifying this Game.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameSingle'
          description: ""
      summary: Get details of the game.
      tags:
      - games
      x-openapi-router-controller: openapi_server.controllers.games_controller
  /games/{id}/achievements:
    get:
      description: ""
      operationId: games_achievements_read
      parameters:
      - description: An ID or a slug identifying this Game.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParentAchievement'
          description: ""
      summary: Get a list of game achievements.
      tags:
      - games
      x-openapi-router-controller: openapi_server.controllers.games_controller
  /games/{id}/movies:
    get:
      description: ""
      operationId: games_movies_read
      parameters:
      - description: An ID or a slug identifying this Game.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Movie'
          description: ""
      summary: Get a list of game trailers.
      tags:
      - games
      x-openapi-router-controller: openapi_server.controllers.games_controller
  /games/{id}/reddit:
    get:
      description: ""
      operationId: games_reddit_read
      parameters:
      - description: An ID or a slug identifying this Game.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Reddit'
          description: ""
      summary: Get a list of most recent posts from the game's subreddit.
      tags:
      - games
      x-openapi-router-controller: openapi_server.controllers.games_controller
  /games/{id}/suggested:
    get:
      description: ""
      operationId: games_suggested_read
      parameters:
      - description: An ID or a slug identifying this Game.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameSingle'
          description: ""
      summary: "Get a list of visually similar games, available only for business\
        \ and enterprise API users."
      tags:
      - games
      x-openapi-router-controller: openapi_server.controllers.games_controller
  /games/{id}/twitch:
    get:
      description: ""
      operationId: games_twitch_read
      parameters:
      - description: An ID or a slug identifying this Game.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Twitch'
          description: ""
      summary: "Get streams on Twitch associated with the game, available only for\
        \ business and enterprise API users."
      tags:
      - games
      x-openapi-router-controller: openapi_server.controllers.games_controller
  /games/{id}/youtube:
    get:
      description: ""
      operationId: games_youtube_read
      parameters:
      - description: An ID or a slug identifying this Game.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Youtube'
          description: ""
      summary: "Get videos from YouTube associated with the game, available only for\
        \ business and enterprise API users."
      tags:
      - games
      x-openapi-router-controller: openapi_server.controllers.games_controller
  /genres:
    get:
      description: ""
      operationId: genres_list
      parameters:
      - description: Which field to use when ordering the results.
        explode: true
        in: query
        name: ordering
        required: false
        schema:
          type: string
        style: form
      - description: A page number within the paginated result set.
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/genres_list_200_response'
          description: ""
      summary: Get a list of video game genres.
      tags:
      - genres
      x-openapi-router-controller: openapi_server.controllers.genres_controller
  /genres/{id}:
    get:
      description: ""
      operationId: genres_read
      parameters:
      - description: A unique integer value identifying this Genre.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenreSingle'
          description: ""
      summary: Get details of the genre.
      tags:
      - genres
      x-openapi-router-controller: openapi_server.controllers.genres_controller
  /platforms:
    get:
      description: ""
      operationId: platforms_list
      parameters:
      - description: Which field to use when ordering the results.
        explode: true
        in: query
        name: ordering
        required: false
        schema:
          type: string
        style: form
      - description: A page number within the paginated result set.
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/platforms_list_200_response'
          description: ""
      summary: Get a list of video game platforms.
      tags:
      - platforms
      x-openapi-router-controller: openapi_server.controllers.platforms_controller
  /platforms/lists/parents:
    get:
      description: "For instance, for PS2 and PS4 the “parent platform” is PlayStation."
      operationId: platforms_lists_parents_list
      parameters:
      - description: Which field to use when ordering the results.
        explode: true
        in: query
        name: ordering
        required: false
        schema:
          type: string
        style: form
      - description: A page number within the paginated result set.
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/platforms_lists_parents_list_200_response'
          description: ""
      summary: Get a list of parent platforms.
      tags:
      - platforms
      x-openapi-router-controller: openapi_server.controllers.platforms_controller
  /platforms/{id}:
    get:
      description: ""
      operationId: platforms_read
      parameters:
      - description: A unique integer value identifying this Platform.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlatformSingle'
          description: ""
      summary: Get details of the platform.
      tags:
      - platforms
      x-openapi-router-controller: openapi_server.controllers.platforms_controller
  /publishers:
    get:
      description: ""
      operationId: publishers_list
      parameters:
      - description: A page number within the paginated result set.
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/publishers_list_200_response'
          description: ""
      summary: Get a list of video game publishers.
      tags:
      - publishers
      x-openapi-router-controller: openapi_server.controllers.publishers_controller
  /publishers/{id}:
    get:
      description: ""
      operationId: publishers_read
      parameters:
      - description: A unique integer value identifying this Publisher.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublisherSingle'
          description: ""
      summary: Get details of the publisher.
      tags:
      - publishers
      x-openapi-router-controller: openapi_server.controllers.publishers_controller
  /stores:
    get:
      description: ""
      operationId: stores_list
      parameters:
      - description: Which field to use when ordering the results.
        explode: true
        in: query
        name: ordering
        required: false
        schema:
          type: string
        style: form
      - description: A page number within the paginated result set.
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stores_list_200_response'
          description: ""
      summary: Get a list of video game storefronts.
      tags:
      - stores
      x-openapi-router-controller: openapi_server.controllers.stores_controller
  /stores/{id}:
    get:
      description: ""
      operationId: stores_read
      parameters:
      - description: A unique integer value identifying this Store.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoreSingle'
          description: ""
      summary: Get details of the store.
      tags:
      - stores
      x-openapi-router-controller: openapi_server.controllers.stores_controller
  /tags:
    get:
      description: ""
      operationId: tags_list
      parameters:
      - description: A page number within the paginated result set.
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tags_list_200_response'
          description: ""
      summary: Get a list of tags.
      tags:
      - tags
      x-openapi-router-controller: openapi_server.controllers.tags_controller
  /tags/{id}:
    get:
      description: ""
      operationId: tags_read
      parameters:
      - description: A unique integer value identifying this Tag.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagSingle'
          description: ""
      summary: Get details of the tag.
      tags:
      - tags
      x-openapi-router-controller: openapi_server.controllers.tags_controller
components:
  schemas:
    Developer:
      example:
        games_count: 6
        name: name
        id: 1
        image_background: https://openapi-generator.tech
        slug: slug
      properties:
        games_count:
          readOnly: true
          title: Games count
          type: integer
        id:
          readOnly: true
          title: ID
          type: integer
        image_background:
          format: uri
          minLength: 1
          readOnly: true
          title: Image background
          type: string
        name:
          maxLength: 100
          minLength: 1
          title: Name
          type: string
        slug:
          format: slug
          minLength: 1
          pattern: "^[-a-zA-Z0-9_]+$"
          readOnly: true
          title: Slug
          type: string
      required:
      - name
      title: Developer
      type: object
    DeveloperSingle:
      example:
        games_count: 0
        name: name
        description: description
        id: 6
        image_background: https://openapi-generator.tech
        slug: slug
      properties:
        description:
          title: Description
          type: string
        games_count:
          readOnly: true
          title: Games count
          type: integer
        id:
          readOnly: true
          title: ID
          type: integer
        image_background:
          format: uri
          minLength: 1
          readOnly: true
          title: Image background
          type: string
        name:
          maxLength: 100
          minLength: 1
          title: Name
          type: string
        slug:
          format: slug
          minLength: 1
          pattern: "^[-a-zA-Z0-9_]+$"
          readOnly: true
          title: Slug
          type: string
      required:
      - name
      title: DeveloperSingle
      type: object
    Game:
      example:
        added: 6
        suggestions_count: 4
        metacritic: 5
        rating: 9.301444243932576
        playtime: 7
        platforms:
        - requirements:
            minimum: minimum
            recommended: recommended
          released_at: released_at
          platform:
            name: name
            id: 2
            slug: slug
        - requirements:
            minimum: minimum
            recommended: recommended
          released_at: released_at
          platform:
            name: name
            id: 2
            slug: slug
        background_image: https://openapi-generator.tech
        tba: true
        esrb_rating:
          name: Everyone
          id: 1
          slug: everyone
        rating_top: 3
        reviews_text_count: reviews_text_count
        ratings: "{}"
        name: name
        added_by_status: "{}"
        id: 5
        ratings_count: 2
        updated: 2000-01-23T04:56:07.000+00:00
        released: 2000-01-23
        slug: slug
      properties:
        added:
          readOnly: true
          title: Added
          type: integer
        added_by_status:
          readOnly: true
          title: Added by status
          type: object
        background_image:
          format: uri
          readOnly: true
          title: Background image
          type: string
        esrb_rating:
          $ref: '#/components/schemas/Game_esrb_rating'
        id:
          readOnly: true
          title: ID
          type: integer
        metacritic:
          readOnly: true
          title: Metacritic
          type: integer
        name:
          minLength: 1
          readOnly: true
          title: Name
          type: string
        platforms:
          items:
            $ref: '#/components/schemas/Game_platforms_inner'
          title: platforms
          type: array
        playtime:
          description: in hours
          readOnly: true
          title: Playtime
          type: integer
        rating:
          title: Rating
          type: number
        rating_top:
          readOnly: true
          title: Rating top
          type: integer
        ratings:
          readOnly: true
          title: Ratings
          type: object
        ratings_count:
          readOnly: true
          title: Ratings count
          type: integer
        released:
          format: date
          readOnly: true
          title: Released
          type: string
        reviews_text_count:
          readOnly: true
          title: Reviews text count
          type: string
        slug:
          format: slug
          minLength: 1
          pattern: "^[-a-zA-Z0-9_]+$"
          readOnly: true
          title: Slug
          type: string
        suggestions_count:
          readOnly: true
          title: Suggestions count
          type: integer
        tba:
          readOnly: true
          title: TBA
          type: boolean
        updated:
          format: date-time
          readOnly: true
          title: Updated
          type: string
      required:
      - rating
      title: Game
      type: object
    GamePersonList:
      example:
        image: https://openapi-generator.tech
        games_count: 6
        name: name
        id: 1
        image_background: https://openapi-generator.tech
        slug: slug
      properties:
        games_count:
          readOnly: true
          title: Games count
          type: integer
        id:
          readOnly: true
          title: ID
          type: integer
        image:
          format: uri
          readOnly: true
          title: Image
          type: string
        image_background:
          format: uri
          minLength: 1
          readOnly: true
          title: Image background
          type: string
        name:
          minLength: 1
          title: Name
          type: string
        slug:
          format: slug
          minLength: 1
          pattern: "^[-a-zA-Z0-9_]+$"
          readOnly: true
          title: Slug
          type: string
      required:
      - name
      title: GamePersonList
      type: object
    GamePlatformMetacritic:
      example:
        metascore: 9
        url: url
      properties:
        metascore:
          readOnly: true
          title: Metascore
          type: integer
        url:
          minLength: 1
          readOnly: true
          title: Url
          type: string
      title: GamePlatformMetacritic
      type: object
    GameSingle:
      example:
        added: 6
        metacritic: 7
        name_original: name_original
        rating: 7.386281948385884
        description: description
        game_series_count: 5
        metacritic_url: metacritic_url
        playtime: 4
        alternative_names:
        - alternative_names
        - alternative_names
        parents_count: 2
        platforms:
        - requirements:
            minimum: minimum
            recommended: recommended
          released_at: released_at
          platform:
            name: name
            id: 2
            slug: slug
        - requirements:
            minimum: minimum
            recommended: recommended
          released_at: released_at
          platform:
            name: name
            id: 2
            slug: slug
        metacritic_platforms:
        - metascore: 9
          url: url
        - metascore: 9
          url: url
        creators_count: 5
        rating_top: 1
        reviews_text_count: reviews_text_count
        ratings: "{}"
        achievements_count: 0
        added_by_status: "{}"
        id: 2
        reddit_url: reddit_url
        ratings_count: 1
        reddit_name: reddit_name
        reddit_count: 1
        released: 2000-01-23
        slug: slug
        parent_achievements_count: parent_achievements_count
        website: https://openapi-generator.tech
        suggestions_count: 7
        youtube_count: youtube_count
        additions_count: 1
        movies_count: 3
        twitch_count: twitch_count
        background_image_additional: background_image_additional
        background_image: https://openapi-generator.tech
        tba: true
        esrb_rating:
          name: Everyone
          id: 1
          slug: everyone
        screenshots_count: 6
        name: name
        reddit_description: reddit_description
        reactions: "{}"
        reddit_logo: https://openapi-generator.tech
        updated: 2000-01-23T04:56:07.000+00:00
      properties:
        achievements_count:
          readOnly: true
          title: Achievements count
          type: integer
        added:
          readOnly: true
          title: Added
          type: integer
        added_by_status:
          readOnly: true
          title: Added by status
          type: object
        additions_count:
          readOnly: true
          title: Additions count
          type: integer
        alternative_names:
          items:
            maxLength: 200
            minLength: 1
            title: Alternative names
            type: string
          readOnly: true
          title: alternative_names
          type: array
        background_image:
          format: uri
          readOnly: true
          title: Background image
          type: string
        background_image_additional:
          readOnly: true
          title: Background image additional
          type: string
        creators_count:
          readOnly: true
          title: Creators count
          type: integer
        description:
          minLength: 1
          readOnly: true
          title: Description
          type: string
        esrb_rating:
          $ref: '#/components/schemas/Game_esrb_rating'
        game_series_count:
          readOnly: true
          title: Game series count
          type: integer
        id:
          readOnly: true
          title: ID
          type: integer
        metacritic:
          readOnly: true
          title: Metacritic
          type: integer
        metacritic_platforms:
          items:
            $ref: '#/components/schemas/GamePlatformMetacritic'
          readOnly: true
          title: metacritic_platforms
          type: array
        metacritic_url:
          description: For example "http://www.metacritic.com/game/playstation-4/the-witcher-3-wild-hunt"
          minLength: 1
          readOnly: true
          title: Metacritic url
          type: string
        movies_count:
          readOnly: true
          title: Movies count
          type: integer
        name:
          minLength: 1
          readOnly: true
          title: Name
          type: string
        name_original:
          minLength: 1
          readOnly: true
          title: Name original
          type: string
        parent_achievements_count:
          readOnly: true
          title: Parent achievements count
          type: string
        parents_count:
          readOnly: true
          title: Parents count
          type: integer
        platforms:
          items:
            $ref: '#/components/schemas/Game_platforms_inner'
          title: platforms
          type: array
        playtime:
          description: in hours
          readOnly: true
          title: Playtime
          type: integer
        rating:
          title: Rating
          type: number
        rating_top:
          readOnly: true
          title: Rating top
          type: integer
        ratings:
          readOnly: true
          title: Ratings
          type: object
        ratings_count:
          readOnly: true
          title: Ratings count
          type: integer
        reactions:
          readOnly: true
          title: Reactions
          type: object
        reddit_count:
          readOnly: true
          title: Reddit count
          type: integer
        reddit_description:
          minLength: 1
          readOnly: true
          title: Reddit description
          type: string
        reddit_logo:
          format: uri
          minLength: 1
          readOnly: true
          title: Reddit logo
          type: string
        reddit_name:
          minLength: 1
          readOnly: true
          title: Reddit name
          type: string
        reddit_url:
          description: For example "https://www.reddit.com/r/uncharted/" or "uncharted"
          minLength: 1
          readOnly: true
          title: Reddit url
          type: string
        released:
          format: date
          readOnly: true
          title: Released
          type: string
        reviews_text_count:
          readOnly: true
          title: Reviews text count
          type: string
        screenshots_count:
          readOnly: true
          title: Screenshots count
          type: integer
        slug:
          format: slug
          minLength: 1
          pattern: "^[-a-zA-Z0-9_]+$"
          readOnly: true
          title: Slug
          type: string
        suggestions_count:
          readOnly: true
          title: Suggestions count
          type: integer
        tba:
          readOnly: true
          title: TBA
          type: boolean
        twitch_count:
          readOnly: true
          title: Twitch count
          type: string
        updated:
          format: date-time
          readOnly: true
          title: Updated
          type: string
        website:
          format: uri
          minLength: 1
          readOnly: true
          title: Website
          type: string
        youtube_count:
          readOnly: true
          title: Youtube count
          type: string
      required:
      - rating
      title: GameSingle
      type: object
    GameStoreFull:
      example:
        store_id: store_id
        id: 6
        url: https://openapi-generator.tech
        game_id: game_id
      properties:
        game_id:
          readOnly: true
          title: Game id
          type: string
        id:
          readOnly: true
          title: ID
          type: integer
        store_id:
          readOnly: true
          title: Store id
          type: string
        url:
          format: uri
          maxLength: 500
          minLength: 1
          title: Url
          type: string
      required:
      - url
      title: GameStoreFull
      type: object
    Genre:
      example:
        games_count: 6
        name: name
        id: 1
        image_background: https://openapi-generator.tech
        slug: slug
      properties:
        games_count:
          readOnly: true
          title: Games count
          type: integer
        id:
          readOnly: true
          title: ID
          type: integer
        image_background:
          format: uri
          minLength: 1
          readOnly: true
          title: Image background
          type: string
        name:
          maxLength: 100
          minLength: 1
          title: Name
          type: string
        slug:
          format: slug
          minLength: 1
          pattern: "^[-a-zA-Z0-9_]+$"
          readOnly: true
          title: Slug
          type: string
      required:
      - name
      title: Genre
      type: object
    GenreSingle:
      example:
        games_count: 0
        name: name
        description: description
        id: 6
        image_background: https://openapi-generator.tech
        slug: slug
      properties:
        description:
          title: Description
          type: string
        games_count:
          readOnly: true
          title: Games count
          type: integer
        id:
          readOnly: true
          title: ID
          type: integer
        image_background:
          format: uri
          minLength: 1
          readOnly: true
          title: Image background
          type: string
        name:
          maxLength: 100
          minLength: 1
          title: Name
          type: string
        slug:
          format: slug
          minLength: 1
          pattern: "^[-a-zA-Z0-9_]+$"
          readOnly: true
          title: Slug
          type: string
      required:
      - name
      title: GenreSingle
      type: object
    Movie:
      example:
        preview: https://openapi-generator.tech
        data: "{}"
        name: name
        id: 0
      properties:
        data:
          readOnly: true
          title: Data
          type: object
        id:
          readOnly: true
          title: ID
          type: integer
        name:
          minLength: 1
          readOnly: true
          title: Name
          type: string
        preview:
          format: uri
          readOnly: true
          title: Preview
          type: string
      title: Movie
      type: object
    ParentAchievement:
      example:
        image: https://openapi-generator.tech
        name: name
        description: description
        id: 0
        percent: percent
      properties:
        description:
          minLength: 1
          readOnly: true
          title: Description
          type: string
        id:
          readOnly: true
          title: ID
          type: integer
        image:
          format: uri
          readOnly: true
          title: Image
          type: string
        name:
          minLength: 1
          readOnly: true
          title: Name
          type: string
        percent:
          format: decimal
          readOnly: true
          title: Percent
          type: string
      title: ParentAchievement
      type: object
    Person:
      example:
        image: https://openapi-generator.tech
        games_count: 6
        name: name
        id: 1
        image_background: https://openapi-generator.tech
        slug: slug
      properties:
        games_count:
          readOnly: true
          title: Games count
          type: integer
        id:
          readOnly: true
          title: ID
          type: integer
        image:
          format: uri
          readOnly: true
          title: Image
          type: string
        image_background:
          format: uri
          minLength: 1
          readOnly: true
          title: Image background
          type: string
        name:
          minLength: 1
          title: Name
          type: string
        slug:
          format: slug
          minLength: 1
          pattern: "^[-a-zA-Z0-9_]+$"
          readOnly: true
          title: Slug
          type: string
      required:
      - name
      title: Person
      type: object
    PersonSingle:
      example:
        image: https://openapi-generator.tech
        games_count: 0
        rating_top: 1
        name: name
        rating: rating
        description: description
        id: 6
        image_background: https://openapi-generator.tech
        updated: 2000-01-23T04:56:07.000+00:00
        slug: slug
        reviews_count: 5
      properties:
        description:
          minLength: 1
          title: Description
          type: string
        games_count:
          readOnly: true
          title: Games count
          type: integer
        id:
          readOnly: true
          title: ID
          type: integer
        image:
          format: uri
          readOnly: true
          title: Image
          type: string
        image_background:
          format: uri
          minLength: 1
          readOnly: true
          title: Image background
          type: string
        name:
          minLength: 1
          title: Name
          type: string
        rating:
          format: decimal
          readOnly: true
          title: Rating
          type: string
        rating_top:
          readOnly: true
          title: Rating top
          type: integer
        reviews_count:
          readOnly: true
          title: Reviews count
          type: integer
        slug:
          format: slug
          minLength: 1
          pattern: "^[-a-zA-Z0-9_]+$"
          readOnly: true
          title: Slug
          type: string
        updated:
          format: date-time
          readOnly: true
          title: Updated
          type: string
      required:
      - name
      title: PersonSingle
      type: object
    Platform:
      example:
        image: https://openapi-generator.tech
        games_count: 6
        year_end: 19536
        year_start: 18471
        name: name
        id: 1
        image_background: https://openapi-generator.tech
        slug: slug
      properties:
        games_count:
          readOnly: true
          title: Games count
          type: integer
        id:
          readOnly: true
          title: ID
          type: integer
        image:
          format: uri
          nullable: true
          readOnly: true
          title: Image
          type: string
        image_background:
          format: uri
          readOnly: true
          title: Image background
          type: string
        name:
          maxLength: 100
          minLength: 1
          title: Name
          type: string
        slug:
          format: slug
          minLength: 1
          pattern: "^[-a-zA-Z0-9_]+$"
          readOnly: true
          title: Slug
          type: string
        year_end:
          maximum: 32767
          minimum: 0
          nullable: true
          title: Year end
          type: integer
        year_start:
          maximum: 32767
          minimum: 0
          nullable: true
          title: Year start
          type: integer
      required:
      - name
      title: Platform
      type: object
    PlatformParentSingle:
      example:
        name: name
        id: 6
        slug: slug
        platforms:
        - image: https://openapi-generator.tech
          games_count: 6
          year_end: 19536
          year_start: 18471
          name: name
          id: 1
          image_background: https://openapi-generator.tech
          slug: slug
        - image: https://openapi-generator.tech
          games_count: 6
          year_end: 19536
          year_start: 18471
          name: name
          id: 1
          image_background: https://openapi-generator.tech
          slug: slug
      properties:
        id:
          readOnly: true
          title: ID
          type: integer
        name:
          maxLength: 100
          minLength: 1
          title: Name
          type: string
        platforms:
          items:
            $ref: '#/components/schemas/Platform'
          title: platforms
          type: array
        slug:
          format: slug
          minLength: 1
          pattern: "^[-a-zA-Z0-9_]+$"
          readOnly: true
          title: Slug
          type: string
      required:
      - name
      - platforms
      title: PlatformParentSingle
      type: object
    PlatformSingle:
      example:
        image: https://openapi-generator.tech
        games_count: 0
        year_end: 4803
        year_start: 19536
        name: name
        description: description
        id: 6
        image_background: https://openapi-generator.tech
        slug: slug
      properties:
        description:
          title: Description
          type: string
        games_count:
          readOnly: true
          title: Games count
          type: integer
        id:
          readOnly: true
          title: ID
          type: integer
        image:
          format: uri
          nullable: true
          readOnly: true
          title: Image
          type: string
        image_background:
          format: uri
          readOnly: true
          title: Image background
          type: string
        name:
          maxLength: 100
          minLength: 1
          title: Name
          type: string
        slug:
          format: slug
          minLength: 1
          pattern: "^[-a-zA-Z0-9_]+$"
          readOnly: true
          title: Slug
          type: string
        year_end:
          maximum: 32767
          minimum: 0
          nullable: true
          title: Year end
          type: integer
        year_start:
          maximum: 32767
          minimum: 0
          nullable: true
          title: Year start
          type: integer
      required:
      - name
      title: PlatformSingle
      type: object
    Position:
      example:
        name: name
        id: 6
        slug: slug
      properties:
        id:
          readOnly: true
          title: ID
          type: integer
        name:
          minLength: 1
          readOnly: true
          title: Name
          type: string
        slug:
          format: slug
          minLength: 1
          pattern: "^[-a-zA-Z0-9_]+$"
          readOnly: true
          title: Slug
          type: string
      title: Position
      type: object
    Publisher:
      example:
        games_count: 6
        name: name
        id: 1
        image_background: https://openapi-generator.tech
        slug: slug
      properties:
        games_count:
          readOnly: true
          title: Games count
          type: integer
        id:
          readOnly: true
          title: ID
          type: integer
        image_background:
          format: uri
          minLength: 1
          readOnly: true
          title: Image background
          type: string
        name:
          maxLength: 100
          minLength: 1
          title: Name
          type: string
        slug:
          format: slug
          minLength: 1
          pattern: "^[-a-zA-Z0-9_]+$"
          readOnly: true
          title: Slug
          type: string
      required:
      - name
      title: Publisher
      type: object
    PublisherSingle:
      example:
        games_count: 0
        name: name
        description: description
        id: 6
        image_background: https://openapi-generator.tech
        slug: slug
      properties:
        description:
          title: Description
          type: string
        games_count:
          readOnly: true
          title: Games count
          type: integer
        id:
          readOnly: true
          title: ID
          type: integer
        image_background:
          format: uri
          minLength: 1
          readOnly: true
          title: Image background
          type: string
        name:
          maxLength: 100
          minLength: 1
          title: Name
          type: string
        slug:
          format: slug
          minLength: 1
          pattern: "^[-a-zA-Z0-9_]+$"
          readOnly: true
          title: Slug
          type: string
      required:
      - name
      title: PublisherSingle
      type: object
    Reddit:
      example:
        image: https://openapi-generator.tech
        created: 2000-01-23T04:56:07.000+00:00
        name: name
        id: 0
        text: text
        username_url: https://openapi-generator.tech
        url: https://openapi-generator.tech
        username: username
      properties:
        created:
          format: date-time
          readOnly: true
          title: Created
          type: string
        id:
          readOnly: true
          title: ID
          type: integer
        image:
          format: uri
          minLength: 1
          readOnly: true
          title: Image
          type: string
        name:
          minLength: 1
          readOnly: true
          title: Name
          type: string
        text:
          minLength: 1
          readOnly: true
          title: Text
          type: string
        url:
          format: uri
          minLength: 1
          readOnly: true
          title: Url
          type: string
        username:
          minLength: 1
          readOnly: true
          title: Username
          type: string
        username_url:
          format: uri
          minLength: 1
          readOnly: true
          title: Username url
          type: string
      title: Reddit
      type: object
    ScreenShot:
      example:
        hidden: false
        image: '@image.jpg'
      properties:
        height:
          readOnly: true
          title: Height
          type: integer
        hidden:
          default: false
          description: Set image as hidden or visible.
          title: Hidden
          type: boolean
        id:
          readOnly: true
          title: ID
          type: integer
        image:
          description: An image file with size up to 20 MB.
          format: uri
          readOnly: true
          title: Image
          type: string
        width:
          readOnly: true
          title: Width
          type: integer
      title: ScreenShot
      type: object
    Store:
      example:
        games_count: 6
        domain: domain
        name: name
        id: 1
        image_background: https://openapi-generator.tech
        slug: slug
      properties:
        domain:
          maxLength: 255
          nullable: true
          title: Domain
          type: string
        games_count:
          readOnly: true
          title: Games count
          type: integer
        id:
          readOnly: true
          title: ID
          type: integer
        image_background:
          format: uri
          minLength: 1
          readOnly: true
          title: Image background
          type: string
        name:
          maxLength: 100
          minLength: 1
          title: Name
          type: string
        slug:
          format: slug
          minLength: 1
          pattern: "^[-a-zA-Z0-9_]+$"
          readOnly: true
          title: Slug
          type: string
      required:
      - name
      title: Store
      type: object
    StoreSingle:
      example:
        games_count: 0
        domain: domain
        name: name
        description: description
        id: 6
        image_background: https://openapi-generator.tech
        slug: slug
      properties:
        description:
          title: Description
          type: string
        domain:
          maxLength: 255
          nullable: true
          title: Domain
          type: string
        games_count:
          readOnly: true
          title: Games count
          type: integer
        id:
          readOnly: true
          title: ID
          type: integer
        image_background:
          format: uri
          minLength: 1
          readOnly: true
          title: Image background
          type: string
        name:
          maxLength: 100
          minLength: 1
          title: Name
          type: string
        slug:
          format: slug
          minLength: 1
          pattern: "^[-a-zA-Z0-9_]+$"
          readOnly: true
          title: Slug
          type: string
      required:
      - name
      title: StoreSingle
      type: object
    Tag:
      example:
        games_count: 6
        name: name
        language: language
        id: 1
        image_background: https://openapi-generator.tech
        slug: slug
      properties:
        games_count:
          readOnly: true
          title: Games count
          type: integer
        id:
          readOnly: true
          title: ID
          type: integer
        image_background:
          format: uri
          minLength: 1
          readOnly: true
          title: Image background
          type: string
        language:
          minLength: 1
          readOnly: true
          title: Language
          type: string
        name:
          maxLength: 100
          minLength: 1
          title: Name
          type: string
        slug:
          format: slug
          minLength: 1
          pattern: "^[-a-zA-Z0-9_]+$"
          readOnly: true
          title: Slug
          type: string
      required:
      - name
      title: Tag
      type: object
    TagSingle:
      example:
        games_count: 0
        name: name
        description: description
        id: 6
        image_background: https://openapi-generator.tech
        slug: slug
      properties:
        description:
          title: Description
          type: string
        games_count:
          readOnly: true
          title: Games count
          type: integer
        id:
          readOnly: true
          title: ID
          type: integer
        image_background:
          format: uri
          minLength: 1
          readOnly: true
          title: Image background
          type: string
        name:
          maxLength: 100
          minLength: 1
          title: Name
          type: string
        slug:
          format: slug
          minLength: 1
          pattern: "^[-a-zA-Z0-9_]+$"
          readOnly: true
          title: Slug
          type: string
      required:
      - name
      title: TagSingle
      type: object
    Twitch:
      example:
        thumbnail: https://openapi-generator.tech
        created: 2000-01-23T04:56:07.000+00:00
        name: name
        description: description
        external_id: 0
        language: language
        id: 6
        published: 2000-01-23T04:56:07.000+00:00
        view_count: 1
      properties:
        created:
          format: date-time
          readOnly: true
          title: Created
          type: string
        description:
          minLength: 1
          readOnly: true
          title: Description
          type: string
        external_id:
          readOnly: true
          title: External id
          type: integer
        id:
          readOnly: true
          title: ID
          type: integer
        language:
          minLength: 1
          readOnly: true
          title: Language
          type: string
        name:
          minLength: 1
          readOnly: true
          title: Name
          type: string
        published:
          format: date-time
          readOnly: true
          title: Published
          type: string
        thumbnail:
          format: uri
          minLength: 1
          readOnly: true
          title: Thumbnail
          type: string
        view_count:
          readOnly: true
          title: View count
          type: integer
      title: Twitch
      type: object
    Youtube:
      example:
        channel_title: channel_title
        like_count: 5
        created: 2000-01-23T04:56:07.000+00:00
        description: description
        external_id: external_id
        comments_count: 0
        name: name
        favorite_count: 1
        id: 5
        thumbnails: "{}"
        channel_id: channel_id
        dislike_count: 6
        view_count: 2
      properties:
        channel_id:
          minLength: 1
          readOnly: true
          title: Channel id
          type: string
        channel_title:
          minLength: 1
          readOnly: true
          title: Channel title
          type: string
        comments_count:
          readOnly: true
          title: Comments count
          type: integer
        created:
          format: date-time
          readOnly: true
          title: Created
          type: string
        description:
          minLength: 1
          readOnly: true
          title: Description
          type: string
        dislike_count:
          readOnly: true
          title: Dislike count
          type: integer
        external_id:
          minLength: 1
          readOnly: true
          title: External id
          type: string
        favorite_count:
          readOnly: true
          title: Favorite count
          type: integer
        id:
          readOnly: true
          title: ID
          type: integer
        like_count:
          readOnly: true
          title: Like count
          type: integer
        name:
          minLength: 1
          readOnly: true
          title: Name
          type: string
        thumbnails:
          readOnly: true
          title: Thumbnails
          type: object
        view_count:
          readOnly: true
          title: View count
          type: integer
      title: Youtube
      type: object
    creator_roles_list_200_response:
      example:
        next: https://openapi-generator.tech
        previous: https://openapi-generator.tech
        count: 0
        results:
        - name: name
          id: 6
          slug: slug
        - name: name
          id: 6
          slug: slug
      properties:
        count:
          title: count
          type: integer
        next:
          format: uri
          nullable: true
          title: next
          type: string
        previous:
          format: uri
          nullable: true
          title: previous
          type: string
        results:
          items:
            $ref: '#/components/schemas/Position'
          title: results
          type: array
      required:
      - count
      - results
      title: creator_roles_list_200_response
      type: object
    creators_list_200_response:
      example:
        next: https://openapi-generator.tech
        previous: https://openapi-generator.tech
        count: 0
        results:
        - image: https://openapi-generator.tech
          games_count: 6
          name: name
          id: 1
          image_background: https://openapi-generator.tech
          slug: slug
        - image: https://openapi-generator.tech
          games_count: 6
          name: name
          id: 1
          image_background: https://openapi-generator.tech
          slug: slug
      properties:
        count:
          title: count
          type: integer
        next:
          format: uri
          nullable: true
          title: next
          type: string
        previous:
          format: uri
          nullable: true
          title: previous
          type: string
        results:
          items:
            $ref: '#/components/schemas/Person'
          title: results
          type: array
      required:
      - count
      - results
      title: creators_list_200_response
      type: object
    developers_list_200_response:
      example:
        next: https://openapi-generator.tech
        previous: https://openapi-generator.tech
        count: 0
        results:
        - games_count: 6
          name: name
          id: 1
          image_background: https://openapi-generator.tech
          slug: slug
        - games_count: 6
          name: name
          id: 1
          image_background: https://openapi-generator.tech
          slug: slug
      properties:
        count:
          title: count
          type: integer
        next:
          format: uri
          nullable: true
          title: next
          type: string
        previous:
          format: uri
          nullable: true
          title: previous
          type: string
        results:
          items:
            $ref: '#/components/schemas/Developer'
          title: results
          type: array
      required:
      - count
      - results
      title: developers_list_200_response
      type: object
    games_list_200_response:
      example:
        next: https://openapi-generator.tech
        previous: https://openapi-generator.tech
        count: 0
        results:
        - added: 6
          suggestions_count: 4
          metacritic: 5
          rating: 9.301444243932576
          playtime: 7
          platforms:
          - requirements:
              minimum: minimum
              recommended: recommended
            released_at: released_at
            platform:
              name: name
              id: 2
              slug: slug
          - requirements:
              minimum: minimum
              recommended: recommended
            released_at: released_at
            platform:
              name: name
              id: 2
              slug: slug
          background_image: https://openapi-generator.tech
          tba: true
          esrb_rating:
            name: Everyone
            id: 1
            slug: everyone
          rating_top: 3
          reviews_text_count: reviews_text_count
          ratings: "{}"
          name: name
          added_by_status: "{}"
          id: 5
          ratings_count: 2
          updated: 2000-01-23T04:56:07.000+00:00
          released: 2000-01-23
          slug: slug
        - added: 6
          suggestions_count: 4
          metacritic: 5
          rating: 9.301444243932576
          playtime: 7
          platforms:
          - requirements:
              minimum: minimum
              recommended: recommended
            released_at: released_at
            platform:
              name: name
              id: 2
              slug: slug
          - requirements:
              minimum: minimum
              recommended: recommended
            released_at: released_at
            platform:
              name: name
              id: 2
              slug: slug
          background_image: https://openapi-generator.tech
          tba: true
          esrb_rating:
            name: Everyone
            id: 1
            slug: everyone
          rating_top: 3
          reviews_text_count: reviews_text_count
          ratings: "{}"
          name: name
          added_by_status: "{}"
          id: 5
          ratings_count: 2
          updated: 2000-01-23T04:56:07.000+00:00
          released: 2000-01-23
          slug: slug
      properties:
        count:
          title: count
          type: integer
        next:
          format: uri
          nullable: true
          title: next
          type: string
        previous:
          format: uri
          nullable: true
          title: previous
          type: string
        results:
          items:
            $ref: '#/components/schemas/Game'
          title: results
          type: array
      required:
      - count
      - results
      title: games_list_200_response
      type: object
    games_development_team_list_200_response:
      example:
        next: https://openapi-generator.tech
        previous: https://openapi-generator.tech
        count: 0
        results:
        - image: https://openapi-generator.tech
          games_count: 6
          name: name
          id: 1
          image_background: https://openapi-generator.tech
          slug: slug
        - image: https://openapi-generator.tech
          games_count: 6
          name: name
          id: 1
          image_background: https://openapi-generator.tech
          slug: slug
      properties:
        count:
          title: count
          type: integer
        next:
          format: uri
          nullable: true
          title: next
          type: string
        previous:
          format: uri
          nullable: true
          title: previous
          type: string
        results:
          items:
            $ref: '#/components/schemas/GamePersonList'
          title: results
          type: array
      required:
      - count
      - results
      title: games_development_team_list_200_response
      type: object
    games_screenshots_list_200_response:
      example:
        next: https://openapi-generator.tech
        previous: https://openapi-generator.tech
        count: 0
        results:
        - hidden: false
          image: '@image.jpg'
        - hidden: false
          image: '@image.jpg'
      properties:
        count:
          title: count
          type: integer
        next:
          format: uri
          nullable: true
          title: next
          type: string
        previous:
          format: uri
          nullable: true
          title: previous
          type: string
        results:
          items:
            $ref: '#/components/schemas/ScreenShot'
          title: results
          type: array
      required:
      - count
      - results
      title: games_screenshots_list_200_response
      type: object
    games_stores_list_200_response:
      example:
        next: https://openapi-generator.tech
        previous: https://openapi-generator.tech
        count: 0
        results:
        - store_id: store_id
          id: 6
          url: https://openapi-generator.tech
          game_id: game_id
        - store_id: store_id
          id: 6
          url: https://openapi-generator.tech
          game_id: game_id
      properties:
        count:
          title: count
          type: integer
        next:
          format: uri
          nullable: true
          title: next
          type: string
        previous:
          format: uri
          nullable: true
          title: previous
          type: string
        results:
          items:
            $ref: '#/components/schemas/GameStoreFull'
          title: results
          type: array
      required:
      - count
      - results
      title: games_stores_list_200_response
      type: object
    genres_list_200_response:
      example:
        next: https://openapi-generator.tech
        previous: https://openapi-generator.tech
        count: 0
        results:
        - games_count: 6
          name: name
          id: 1
          image_background: https://openapi-generator.tech
          slug: slug
        - games_count: 6
          name: name
          id: 1
          image_background: https://openapi-generator.tech
          slug: slug
      properties:
        count:
          title: count
          type: integer
        next:
          format: uri
          nullable: true
          title: next
          type: string
        previous:
          format: uri
          nullable: true
          title: previous
          type: string
        results:
          items:
            $ref: '#/components/schemas/Genre'
          title: results
          type: array
      required:
      - count
      - results
      title: genres_list_200_response
      type: object
    platforms_list_200_response:
      example:
        next: https://openapi-generator.tech
        previous: https://openapi-generator.tech
        count: 0
        results:
        - image: https://openapi-generator.tech
          games_count: 6
          year_end: 19536
          year_start: 18471
          name: name
          id: 1
          image_background: https://openapi-generator.tech
          slug: slug
        - image: https://openapi-generator.tech
          games_count: 6
          year_end: 19536
          year_start: 18471
          name: name
          id: 1
          image_background: https://openapi-generator.tech
          slug: slug
      properties:
        count:
          title: count
          type: integer
        next:
          format: uri
          nullable: true
          title: next
          type: string
        previous:
          format: uri
          nullable: true
          title: previous
          type: string
        results:
          items:
            $ref: '#/components/schemas/Platform'
          title: results
          type: array
      required:
      - count
      - results
      title: platforms_list_200_response
      type: object
    platforms_lists_parents_list_200_response:
      example:
        next: https://openapi-generator.tech
        previous: https://openapi-generator.tech
        count: 0
        results:
        - name: name
          id: 6
          slug: slug
          platforms:
          - image: https://openapi-generator.tech
            games_count: 6
            year_end: 19536
            year_start: 18471
            name: name
            id: 1
            image_background: https://openapi-generator.tech
            slug: slug
          - image: https://openapi-generator.tech
            games_count: 6
            year_end: 19536
            year_start: 18471
            name: name
            id: 1
            image_background: https://openapi-generator.tech
            slug: slug
        - name: name
          id: 6
          slug: slug
          platforms:
          - image: https://openapi-generator.tech
            games_count: 6
            year_end: 19536
            year_start: 18471
            name: name
            id: 1
            image_background: https://openapi-generator.tech
            slug: slug
          - image: https://openapi-generator.tech
            games_count: 6
            year_end: 19536
            year_start: 18471
            name: name
            id: 1
            image_background: https://openapi-generator.tech
            slug: slug
      properties:
        count:
          title: count
          type: integer
        next:
          format: uri
          nullable: true
          title: next
          type: string
        previous:
          format: uri
          nullable: true
          title: previous
          type: string
        results:
          items:
            $ref: '#/components/schemas/PlatformParentSingle'
          title: results
          type: array
      required:
      - count
      - results
      title: platforms_lists_parents_list_200_response
      type: object
    publishers_list_200_response:
      example:
        next: https://openapi-generator.tech
        previous: https://openapi-generator.tech
        count: 0
        results:
        - games_count: 6
          name: name
          id: 1
          image_background: https://openapi-generator.tech
          slug: slug
        - games_count: 6
          name: name
          id: 1
          image_background: https://openapi-generator.tech
          slug: slug
      properties:
        count:
          title: count
          type: integer
        next:
          format: uri
          nullable: true
          title: next
          type: string
        previous:
          format: uri
          nullable: true
          title: previous
          type: string
        results:
          items:
            $ref: '#/components/schemas/Publisher'
          title: results
          type: array
      required:
      - count
      - results
      title: publishers_list_200_response
      type: object
    stores_list_200_response:
      example:
        next: https://openapi-generator.tech
        previous: https://openapi-generator.tech
        count: 0
        results:
        - games_count: 6
          domain: domain
          name: name
          id: 1
          image_background: https://openapi-generator.tech
          slug: slug
        - games_count: 6
          domain: domain
          name: name
          id: 1
          image_background: https://openapi-generator.tech
          slug: slug
      properties:
        count:
          title: count
          type: integer
        next:
          format: uri
          nullable: true
          title: next
          type: string
        previous:
          format: uri
          nullable: true
          title: previous
          type: string
        results:
          items:
            $ref: '#/components/schemas/Store'
          title: results
          type: array
      required:
      - count
      - results
      title: stores_list_200_response
      type: object
    tags_list_200_response:
      example:
        next: https://openapi-generator.tech
        previous: https://openapi-generator.tech
        count: 0
        results:
        - games_count: 6
          name: name
          language: language
          id: 1
          image_background: https://openapi-generator.tech
          slug: slug
        - games_count: 6
          name: name
          language: language
          id: 1
          image_background: https://openapi-generator.tech
          slug: slug
      properties:
        count:
          title: count
          type: integer
        next:
          format: uri
          nullable: true
          title: next
          type: string
        previous:
          format: uri
          nullable: true
          title: previous
          type: string
        results:
          items:
            $ref: '#/components/schemas/Tag'
          title: results
          type: array
      required:
      - count
      - results
      title: tags_list_200_response
      type: object
    Game_esrb_rating:
      example:
        name: Everyone
        id: 1
        slug: everyone
      nullable: true
      properties:
        id:
          title: id
          type: integer
        name:
          enum:
          - Everyone
          - Everyone 10+
          - Teen
          - Mature
          - Adults Only
          - Rating Pending
          title: name
          type: string
        slug:
          enum:
          - everyone
          - everyone-10-plus
          - teen
          - mature
          - adults-only
          - rating-pending
          title: slug
          type: string
      title: Game_esrb_rating
      type: object
    Game_platforms_inner_platform:
      example:
        name: name
        id: 2
        slug: slug
      properties:
        id:
          title: id
          type: integer
        name:
          title: name
          type: string
        slug:
          title: slug
          type: string
      title: Game_platforms_inner_platform
      type: object
    Game_platforms_inner_requirements:
      example:
        minimum: minimum
        recommended: recommended
      nullable: true
      properties:
        minimum:
          title: minimum
          type: string
        recommended:
          title: recommended
          type: string
      title: Game_platforms_inner_requirements
      type: object
    Game_platforms_inner:
      example:
        requirements:
          minimum: minimum
          recommended: recommended
        released_at: released_at
        platform:
          name: name
          id: 2
          slug: slug
      properties:
        platform:
          $ref: '#/components/schemas/Game_platforms_inner_platform'
        released_at:
          nullable: true
          title: released_at
          type: string
        requirements:
          $ref: '#/components/schemas/Game_platforms_inner_requirements'
      title: Game_platforms_inner
      type: object
