openapi: 3.0.1
info:
  contact: {}
  title: "LetMC Api V2, Basic (Tier 2)"
  version: v2-basic-tier
  x-apisguru-categories:
  - ecommerce
  x-logo:
    url: https://twitter.com/agentOSSoftware/profile_image?size=original
  x-origin:
  - format: swagger
    url: https://live-api.letmc.com/swagger/docs/v2-basic-tier
    version: "2.0"
  x-providerName: letmc.com
  x-serviceName: basic-tier
servers:
- url: https://live-api.letmc.com/
paths:
  /v2/tier2/{shortName}/area/areas:
    get:
      deprecated: false
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        schema:
          type: string
      - description: The index of the first item to return
        in: query
        name: offset
        required: true
        schema:
          format: int32
          type: integer
      - description: The maximum number of items to return (up to 1000 per request)
        in: query
        name: count
        required: true
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AreaModelResults'
            text/json:
              schema:
                $ref: '#/components/schemas/AreaModelResults'
            application/xml:
              schema:
                $ref: '#/components/schemas/AreaModelResults'
            text/xml:
              schema:
                $ref: '#/components/schemas/AreaModelResults'
          description: OK
      summary: A collection of all the areas for a company
      tags:
      - AreaController
      x-accepts:
      - application/json
      - application/xml
      - text/json
      - text/xml
  /v2/tier2/{shortName}/area/areas/{areaID}:
    get:
      deprecated: false
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        schema:
          type: string
      - description: The unique ID of the Area
        in: path
        name: areaID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AreaModel'
            text/json:
              schema:
                $ref: '#/components/schemas/AreaModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/AreaModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/AreaModel'
          description: OK
      summary: Get a specific area given its unique Object ID (OID)
      tags:
      - AreaController
      x-accepts:
      - application/json
      - application/xml
      - text/json
      - text/xml
  /v2/tier2/{shortName}/branch/branches:
    get:
      deprecated: false
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        schema:
          type: string
      - description: The index of the first item to return
        in: query
        name: offset
        required: true
        schema:
          format: int32
          type: integer
      - description: The maximum number of items to return (up to 1000 per request)
        in: query
        name: count
        required: true
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BranchModelResults'
            text/json:
              schema:
                $ref: '#/components/schemas/BranchModelResults'
            application/xml:
              schema:
                $ref: '#/components/schemas/BranchModelResults'
            text/xml:
              schema:
                $ref: '#/components/schemas/BranchModelResults'
          description: OK
      summary: All branches defined for a company
      tags:
      - BranchController
      x-accepts:
      - application/json
      - application/xml
      - text/json
      - text/xml
  /v2/tier2/{shortName}/branch/branches/{branchID}:
    get:
      deprecated: false
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        schema:
          type: string
      - description: The unique ID of the Branch
        in: path
        name: branchID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BranchModel'
            text/json:
              schema:
                $ref: '#/components/schemas/BranchModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/BranchModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/BranchModel'
          description: OK
      summary: Get a specific branch given its unique Object ID (OID)
      tags:
      - BranchController
      x-accepts:
      - application/json
      - application/xml
      - text/json
      - text/xml
  /v2/tier2/{shortName}/company:
    get:
      deprecated: false
      operationId: CompanyController_GetCompany
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyModel'
            text/json:
              schema:
                $ref: '#/components/schemas/CompanyModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/CompanyModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/CompanyModel'
          description: OK
      summary: Information about a specific company
      tags:
      - CompanyController
      x-accepts:
      - application/json
      - application/xml
      - text/json
      - text/xml
  /v2/tier2/{shortName}/county/counties:
    get:
      deprecated: false
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        schema:
          type: string
      - description: The index of the first item to return
        in: query
        name: offset
        required: true
        schema:
          format: int32
          type: integer
      - description: The maximum number of items to return (up to 1000 per request)
        in: query
        name: count
        required: true
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CountyModelResults'
            text/json:
              schema:
                $ref: '#/components/schemas/CountyModelResults'
            application/xml:
              schema:
                $ref: '#/components/schemas/CountyModelResults'
            text/xml:
              schema:
                $ref: '#/components/schemas/CountyModelResults'
          description: OK
      summary: A collection of all counties available for a company
      tags:
      - CountyController
      x-accepts:
      - application/json
      - application/xml
      - text/json
      - text/xml
  /v2/tier2/{shortName}/county/counties/{countyID}:
    get:
      deprecated: false
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        schema:
          type: string
      - description: The unique ID of the County
        in: path
        name: countyID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CountyModel'
            text/json:
              schema:
                $ref: '#/components/schemas/CountyModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/CountyModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/CountyModel'
          description: OK
      summary: Get a specific county given its unique Object ID (OID)
      tags:
      - CountyController
      x-accepts:
      - application/json
      - application/xml
      - text/json
      - text/xml
  /v2/tier2/{shortName}/county/counties/{countyID}/branches:
    get:
      deprecated: false
      operationId: CountyController_GetCountiesBranches
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        schema:
          type: string
      - description: The unique ID of the County
        in: path
        name: countyID
        required: true
        schema:
          type: string
      - description: The index of the first item to return
        in: query
        name: offset
        required: true
        schema:
          format: int32
          type: integer
      - description: The maximum number of items to return (up to 1000 per request)
        in: query
        name: count
        required: true
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BranchModelResults'
            text/json:
              schema:
                $ref: '#/components/schemas/BranchModelResults'
            application/xml:
              schema:
                $ref: '#/components/schemas/BranchModelResults'
            text/xml:
              schema:
                $ref: '#/components/schemas/BranchModelResults'
          description: OK
      summary: A collection of branches that manage a specific county
      tags:
      - CountyController
      x-accepts:
      - application/json
      - application/xml
      - text/json
      - text/xml
  /v2/tier2/{shortName}/diary/allocations:
    get:
      deprecated: false
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        schema:
          type: string
      - description: The index of the first item to return
        in: query
        name: offset
        required: true
        schema:
          format: int32
          type: integer
      - description: The maximum number of items to return (up to 1000 per request)
        in: query
        name: count
        required: true
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiaryAllocationModelResults'
            text/json:
              schema:
                $ref: '#/components/schemas/DiaryAllocationModelResults'
            application/xml:
              schema:
                $ref: '#/components/schemas/DiaryAllocationModelResults'
            text/xml:
              schema:
                $ref: '#/components/schemas/DiaryAllocationModelResults'
          description: OK
      summary: A collection of all diary allocations
      tags:
      - DiaryController
      x-accepts:
      - application/json
      - application/xml
      - text/json
      - text/xml
  /v2/tier2/{shortName}/diary/allocations/{diaryAllocationID}:
    get:
      deprecated: false
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        schema:
          type: string
      - description: The unique ID of the DiaryAllocation
        in: path
        name: diaryAllocationID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiaryAllocationModel'
            text/json:
              schema:
                $ref: '#/components/schemas/DiaryAllocationModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/DiaryAllocationModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/DiaryAllocationModel'
          description: OK
      summary: Get a specific diary allocation given its unique Object ID (OID)
      tags:
      - DiaryController
      x-accepts:
      - application/json
      - application/xml
      - text/json
      - text/xml
  /v2/tier2/{shortName}/diary/appointments:
    get:
      deprecated: false
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        schema:
          type: string
      - description: The index of the first item to return
        in: query
        name: offset
        required: true
        schema:
          format: int32
          type: integer
      - description: The maximum number of items to return (up to 1000 per request)
        in: query
        name: count
        required: true
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiaryAppointmentModelResults'
            text/json:
              schema:
                $ref: '#/components/schemas/DiaryAppointmentModelResults'
            application/xml:
              schema:
                $ref: '#/components/schemas/DiaryAppointmentModelResults'
            text/xml:
              schema:
                $ref: '#/components/schemas/DiaryAppointmentModelResults'
          description: OK
      summary: A collection of all diary appointments
      tags:
      - DiaryController
      x-accepts:
      - application/json
      - application/xml
      - text/json
      - text/xml
  /v2/tier2/{shortName}/diary/appointments/{diaryAppointmentID}:
    get:
      deprecated: false
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        schema:
          type: string
      - description: The unique ID of the DiaryAppointment
        in: path
        name: diaryAppointmentID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiaryAppointmentModel'
            text/json:
              schema:
                $ref: '#/components/schemas/DiaryAppointmentModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/DiaryAppointmentModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/DiaryAppointmentModel'
          description: OK
      summary: Get a specific diary appointment given its unique Object ID (OID)
      tags:
      - DiaryController
      x-accepts:
      - application/json
      - application/xml
      - text/json
      - text/xml
  /v2/tier2/{shortName}/diary/appointmenttypes:
    get:
      deprecated: false
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        schema:
          type: string
      - description: The index of the first item to return
        in: query
        name: offset
        required: true
        schema:
          format: int32
          type: integer
      - description: The maximum number of items to return (up to 1000 per request)
        in: query
        name: count
        required: true
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiaryAppointmentTypeModelResults'
            text/json:
              schema:
                $ref: '#/components/schemas/DiaryAppointmentTypeModelResults'
            application/xml:
              schema:
                $ref: '#/components/schemas/DiaryAppointmentTypeModelResults'
            text/xml:
              schema:
                $ref: '#/components/schemas/DiaryAppointmentTypeModelResults'
          description: OK
      summary: A collection of all diary appointment types
      tags:
      - DiaryController
      x-accepts:
      - application/json
      - application/xml
      - text/json
      - text/xml
  /v2/tier2/{shortName}/diary/appointmenttypes/{diaryAppointmentTypeID}:
    get:
      deprecated: false
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        schema:
          type: string
      - description: The unique ID of the DiaryAppointmentType
        in: path
        name: diaryAppointmentTypeID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiaryAppointmentTypeModel'
            text/json:
              schema:
                $ref: '#/components/schemas/DiaryAppointmentTypeModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/DiaryAppointmentTypeModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/DiaryAppointmentTypeModel'
          description: OK
      summary: Get a specific diary appointment type given its unique Object ID (OID)
      tags:
      - DiaryController
      x-accepts:
      - application/json
      - application/xml
      - text/json
      - text/xml
  /v2/tier2/{shortName}/lettings/advertised:
    get:
      deprecated: false
      operationId: LettingsController_GetAdvertised
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        schema:
          type: string
      - description: The unique ID of the Branch
        in: query
        name: branchID
        required: true
        schema:
          type: string
      - description: The index of the first item to return
        in: query
        name: offset
        required: true
        schema:
          format: int32
          type: integer
      - description: The maximum number of items to return (up to 1000 per request)
        in: query
        name: count
        required: true
        schema:
          format: int32
          type: integer
      - description: The unique ID of the Area
        in: query
        name: areaID
        schema:
          type: string
      - description: The minimum advertised rent to search for
        in: query
        name: rentMinimum
        schema:
          format: double
          type: number
      - description: The maximum advertised rent to search for
        in: query
        name: rentMaximum
        schema:
          format: double
          type: number
      - description: The maximum number of tenants a property can accommodate
        in: query
        name: maximumTenants
        schema:
          format: int32
          type: integer
      - description: Search for shared properties?
        in: query
        name: wantSharedProperties
        schema:
          type: boolean
      - description: Search for student properties?
        in: query
        name: wantStudentProperties
        schema:
          type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenancyModelResults'
            text/json:
              schema:
                $ref: '#/components/schemas/TenancyModelResults'
            application/xml:
              schema:
                $ref: '#/components/schemas/TenancyModelResults'
            text/xml:
              schema:
                $ref: '#/components/schemas/TenancyModelResults'
          description: OK
      summary: Search all properties available for rent given a range of search criteria.
      tags:
      - LettingsController
      x-accepts:
      - application/json
      - application/xml
      - text/json
      - text/xml
  /v2/tier2/{shortName}/lettings/advertisedbetweendates:
    get:
      deprecated: false
      operationId: LettingsController_GetAdvertisedBetweenDates
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        schema:
          type: string
      - description: The unique ID of the Branch
        in: query
        name: branchID
        required: true
        schema:
          type: string
      - description: The index of the first item to return
        in: query
        name: offset
        required: true
        schema:
          format: int32
          type: integer
      - description: The maximum number of items to return (up to 1000 per request)
        in: query
        name: count
        required: true
        schema:
          format: int32
          type: integer
      - description: The date to search from
        in: query
        name: rangeStartDate
        required: true
        schema:
          format: date-time
          type: string
      - description: The date to search to
        in: query
        name: rangeEndDate
        required: true
        schema:
          format: date-time
          type: string
      - description: The unique ID of the Area
        in: query
        name: areaID
        schema:
          type: string
      - description: The minimum advertised rent to search for
        in: query
        name: rentMinimum
        schema:
          format: double
          type: number
      - description: The maximum advertised rent to search for
        in: query
        name: rentMaximum
        schema:
          format: double
          type: number
      - description: The maximum number of tenants a property can accommodate
        in: query
        name: maximumTenants
        schema:
          format: int32
          type: integer
      - description: Search for shared properties?
        in: query
        name: wantSharedProperties
        schema:
          type: boolean
      - description: Search for student properties?
        in: query
        name: wantStudentProperties
        schema:
          type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenancyModelResults'
            text/json:
              schema:
                $ref: '#/components/schemas/TenancyModelResults'
            application/xml:
              schema:
                $ref: '#/components/schemas/TenancyModelResults'
            text/xml:
              schema:
                $ref: '#/components/schemas/TenancyModelResults'
          description: OK
      summary: Search all properties available for rent given a range of search criteria
        and dates.
      tags:
      - LettingsController
      x-accepts:
      - application/json
      - application/xml
      - text/json
      - text/xml
  /v2/tier2/{shortName}/lettings/tenancies:
    get:
      deprecated: false
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        schema:
          type: string
      - description: The index of the first item to return
        in: query
        name: offset
        required: true
        schema:
          format: int32
          type: integer
      - description: The maximum number of items to return (up to 1000 per request)
        in: query
        name: count
        required: true
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenancyModelResults'
            text/json:
              schema:
                $ref: '#/components/schemas/TenancyModelResults'
            application/xml:
              schema:
                $ref: '#/components/schemas/TenancyModelResults'
            text/xml:
              schema:
                $ref: '#/components/schemas/TenancyModelResults'
          description: OK
      summary: A collection of all the company's tenancies
      tags:
      - LettingsController
      x-accepts:
      - application/json
      - application/xml
      - text/json
      - text/xml
  /v2/tier2/{shortName}/lettings/tenancies/{tenancyID}:
    get:
      deprecated: false
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        schema:
          type: string
      - description: The unique ID of the Tenancy
        in: path
        name: tenancyID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenancyModel'
            text/json:
              schema:
                $ref: '#/components/schemas/TenancyModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/TenancyModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/TenancyModel'
          description: OK
      summary: Get a specific tenancy given its unique Object ID (OID)
      tags:
      - LettingsController
      x-accepts:
      - application/json
      - application/xml
      - text/json
      - text/xml
  /v2/tier2/{shortName}/lettings/tenancies/{tenancyID}/brochure:
    get:
      deprecated: false
      operationId: LettingsController_GetTenancyBrochure
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        schema:
          type: string
      - description: The unique ID of the tenancy
        in: path
        name: tenancyID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Object'
            text/json:
              schema:
                $ref: '#/components/schemas/Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/Object'
          description: OK
      summary: Downloads the brochure relating to the latest advertised rental of
        a property
      tags:
      - LettingsController
      x-accepts:
      - application/json
      - application/xml
      - text/json
      - text/xml
  /v2/tier2/{shortName}/photo/photos:
    get:
      deprecated: false
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        schema:
          type: string
      - description: The index of the first item to return
        in: query
        name: offset
        required: true
        schema:
          format: int32
          type: integer
      - description: The maximum number of items to return (up to 1000 per request)
        in: query
        name: count
        required: true
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhotoModelResults'
            text/json:
              schema:
                $ref: '#/components/schemas/PhotoModelResults'
            application/xml:
              schema:
                $ref: '#/components/schemas/PhotoModelResults'
            text/xml:
              schema:
                $ref: '#/components/schemas/PhotoModelResults'
          description: OK
      summary: A collection of all photos in the company
      tags:
      - PhotoController
      x-accepts:
      - application/json
      - application/xml
      - text/json
      - text/xml
  /v2/tier2/{shortName}/photo/photos/{photoID}:
    get:
      deprecated: false
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        schema:
          type: string
      - description: The unique ID of the Photo
        in: path
        name: photoID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhotoModel'
            text/json:
              schema:
                $ref: '#/components/schemas/PhotoModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/PhotoModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/PhotoModel'
          description: OK
      summary: Get a specific photo given its unique Object ID (OID)
      tags:
      - PhotoController
      x-accepts:
      - application/json
      - application/xml
      - text/json
      - text/xml
  /v2/tier2/{shortName}/photos/photo/{photoID}/download:
    get:
      deprecated: false
      operationId: PhotoController_GetPhotoDownload
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        schema:
          type: string
      - description: The unique ID of the photo on the property
        in: path
        name: photoID
        required: true
        schema:
          type: string
      - description: An optional parameter specifying the image width
        in: query
        name: width
        schema:
          format: int32
          type: integer
      - description: An optional parameter specifying the image height
        in: query
        name: height
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Object'
            text/json:
              schema:
                $ref: '#/components/schemas/Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/Object'
          description: OK
      summary: Downloads the photo of a property given the property and photo ID.
      tags:
      - PhotoController
      x-accepts:
      - application/json
      - application/xml
      - text/json
      - text/xml
  /v2/tier2/{shortName}/property/properties:
    get:
      deprecated: false
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        schema:
          type: string
      - description: The index of the first item to return
        in: query
        name: offset
        required: true
        schema:
          format: int32
          type: integer
      - description: The maximum number of items to return (up to 1000 per request)
        in: query
        name: count
        required: true
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyModelResults'
            text/json:
              schema:
                $ref: '#/components/schemas/PropertyModelResults'
            application/xml:
              schema:
                $ref: '#/components/schemas/PropertyModelResults'
            text/xml:
              schema:
                $ref: '#/components/schemas/PropertyModelResults'
          description: OK
      summary: A collection of all properties within a company
      tags:
      - PropertyController
      x-accepts:
      - application/json
      - application/xml
      - text/json
      - text/xml
  /v2/tier2/{shortName}/property/properties/{propertyID}:
    get:
      deprecated: false
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        schema:
          type: string
      - description: The unique ID of the Property
        in: path
        name: propertyID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyModel'
            text/json:
              schema:
                $ref: '#/components/schemas/PropertyModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/PropertyModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/PropertyModel'
          description: OK
      summary: Get a specific property given its unique Object ID (OID)
      tags:
      - PropertyController
      x-accepts:
      - application/json
      - application/xml
      - text/json
      - text/xml
  /v2/tier2/{shortName}/property/properties/{propertyID}/facilities:
    get:
      deprecated: false
      operationId: PropertyController_GetPropertiesFacilities
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        schema:
          type: string
      - description: The unique ID of the Property
        in: path
        name: propertyID
        required: true
        schema:
          type: string
      - description: The index of the first item to return
        in: query
        name: offset
        required: true
        schema:
          format: int32
          type: integer
      - description: The maximum number of items to return (up to 1000 per request)
        in: query
        name: count
        required: true
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyFacilityModelResults'
            text/json:
              schema:
                $ref: '#/components/schemas/PropertyFacilityModelResults'
            application/xml:
              schema:
                $ref: '#/components/schemas/PropertyFacilityModelResults'
            text/xml:
              schema:
                $ref: '#/components/schemas/PropertyFacilityModelResults'
          description: OK
      summary: "A collection of facilities linked to a block, property or room"
      tags:
      - PropertyController
      x-accepts:
      - application/json
      - application/xml
      - text/json
      - text/xml
  /v2/tier2/{shortName}/property/properties/{propertyID}/photos:
    get:
      deprecated: false
      operationId: PropertyController_GetPropertiesPhotos
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        schema:
          type: string
      - description: The unique ID of the Property
        in: path
        name: propertyID
        required: true
        schema:
          type: string
      - description: The index of the first item to return
        in: query
        name: offset
        required: true
        schema:
          format: int32
          type: integer
      - description: The maximum number of items to return (up to 1000 per request)
        in: query
        name: count
        required: true
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhotoModelResults'
            text/json:
              schema:
                $ref: '#/components/schemas/PhotoModelResults'
            application/xml:
              schema:
                $ref: '#/components/schemas/PhotoModelResults'
            text/xml:
              schema:
                $ref: '#/components/schemas/PhotoModelResults'
          description: OK
      summary: "A collection showing all the photos linked to a specific block, property\
        \ or room"
      tags:
      - PropertyController
      x-accepts:
      - application/json
      - application/xml
      - text/json
      - text/xml
  /v2/tier2/{shortName}/property/properties/{propertyID}/rooms:
    get:
      deprecated: false
      operationId: PropertyController_GetPropertiesRooms
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        schema:
          type: string
      - description: The unique ID of the Property
        in: path
        name: propertyID
        required: true
        schema:
          type: string
      - description: The index of the first item to return
        in: query
        name: offset
        required: true
        schema:
          format: int32
          type: integer
      - description: The maximum number of items to return (up to 1000 per request)
        in: query
        name: count
        required: true
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyRoomModelResults'
            text/json:
              schema:
                $ref: '#/components/schemas/PropertyRoomModelResults'
            application/xml:
              schema:
                $ref: '#/components/schemas/PropertyRoomModelResults'
            text/xml:
              schema:
                $ref: '#/components/schemas/PropertyRoomModelResults'
          description: OK
      summary: A collection of the rooms that belong to this property or block
      tags:
      - PropertyController
      x-accepts:
      - application/json
      - application/xml
      - text/json
      - text/xml
  /v2/tier2/{shortName}/property/properties/{propertyID}/tenancies:
    get:
      deprecated: false
      operationId: PropertyController_GetPropertiesTenancies
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        schema:
          type: string
      - description: The unique ID of the Property
        in: path
        name: propertyID
        required: true
        schema:
          type: string
      - description: The index of the first item to return
        in: query
        name: offset
        required: true
        schema:
          format: int32
          type: integer
      - description: The maximum number of items to return (up to 1000 per request)
        in: query
        name: count
        required: true
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenancyModelResults'
            text/json:
              schema:
                $ref: '#/components/schemas/TenancyModelResults'
            application/xml:
              schema:
                $ref: '#/components/schemas/TenancyModelResults'
            text/xml:
              schema:
                $ref: '#/components/schemas/TenancyModelResults'
          description: OK
      summary: "A collection of all tenancies associated with this block, property\
        \ or room"
      tags:
      - PropertyController
      x-accepts:
      - application/json
      - application/xml
      - text/json
      - text/xml
  /v2/tier2/{shortName}/property/structures/{propertyStructureID}/reports/eer:
    get:
      deprecated: false
      operationId: PropertyController_GetPropertyEERDownload
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        schema:
          type: string
      - description: The unique ID of the property structure
        in: path
        name: propertyStructureID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Object'
            text/json:
              schema:
                $ref: '#/components/schemas/Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/Object'
          description: OK
      summary: Downloads the energy efficiency report (EER) graph for a property
      tags:
      - PropertyController
      x-accepts:
      - application/json
      - application/xml
      - text/json
      - text/xml
  /v2/tier2/{shortName}/property/structures/{propertyStructureID}/reports/eir:
    get:
      deprecated: false
      operationId: PropertyController_GetPropertyEIRDownload
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        schema:
          type: string
      - description: The unique ID of the property structure
        in: path
        name: propertyStructureID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Object'
            text/json:
              schema:
                $ref: '#/components/schemas/Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/Object'
          description: OK
      summary: Downloads the environmental impact report (EIR) graph for a property
      tags:
      - PropertyController
      x-accepts:
      - application/json
      - application/xml
      - text/json
      - text/xml
  /v2/tier2/{shortName}/sales/advertisedsales:
    get:
      deprecated: false
      operationId: SalesController_GetAdvertisedSales
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        schema:
          type: string
      - description: The unique ID of the Branch
        in: query
        name: branchID
        required: true
        schema:
          type: string
      - description: The index of the first item to return
        in: query
        name: offset
        required: true
        schema:
          format: int32
          type: integer
      - description: The maximum number of items to return (up to 1000 per request)
        in: query
        name: count
        required: true
        schema:
          format: int32
          type: integer
      - description: Show only development properties?
        in: query
        name: onlyDevelopement
        required: true
        schema:
          type: boolean
      - description: Show only investment properties?
        in: query
        name: onlyInvestements
        required: true
        schema:
          type: boolean
      - description: The minimum price to search for
        in: query
        name: minimumPrice
        schema:
          format: double
          type: number
      - description: The maximum price to search for
        in: query
        name: maximumPrice
        schema:
          format: double
          type: number
      - description: The minimum beds to search for
        in: query
        name: minimumBeds
        schema:
          format: int32
          type: integer
      - description: The minimum bathrooms to search for
        in: query
        name: minimumBathrooms
        schema:
          format: int32
          type: integer
      - description: The minimum ensuite bathrooms to search for
        in: query
        name: minimumEnsuites
        schema:
          format: int32
          type: integer
      - description: The minimum toilets to search for
        in: query
        name: minimumToilets
        schema:
          format: int32
          type: integer
      - description: The minimum reception rooms to search for
        in: query
        name: minimumReception
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesInstructionModelResults'
            text/json:
              schema:
                $ref: '#/components/schemas/SalesInstructionModelResults'
            application/xml:
              schema:
                $ref: '#/components/schemas/SalesInstructionModelResults'
            text/xml:
              schema:
                $ref: '#/components/schemas/SalesInstructionModelResults'
          description: OK
      summary: Search all sales properties available given a range of search criteria
      tags:
      - SalesController
      x-accepts:
      - application/json
      - application/xml
      - text/json
      - text/xml
  /v2/tier2/{shortName}/sales/reports/eer/{salesInstructionID}:
    get:
      deprecated: false
      operationId: SalesController_GetEER
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        schema:
          type: string
      - description: The unique ID of the SalesInstruction
        in: path
        name: salesInstructionID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Object'
            text/json:
              schema:
                $ref: '#/components/schemas/Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/Object'
          description: OK
      summary: Downloads the energy efficiency report (EER) graph for a sales instruction
      tags:
      - SalesController
      x-accepts:
      - application/json
      - application/xml
      - text/json
      - text/xml
  /v2/tier2/{shortName}/sales/reports/eir/{salesInstructionID}:
    get:
      deprecated: false
      operationId: SalesController_GetEIR
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        schema:
          type: string
      - description: The unique ID of the SalesInstruction
        in: path
        name: salesInstructionID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Object'
            text/json:
              schema:
                $ref: '#/components/schemas/Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/Object'
          description: OK
      summary: Downloads the energy efficiency report (EIR) graph for a sales instruction
      tags:
      - SalesController
      x-accepts:
      - application/json
      - application/xml
      - text/json
      - text/xml
  /v2/tier2/{shortName}/sales/salesfeaturetypes:
    get:
      deprecated: false
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        schema:
          type: string
      - description: The index of the first item to return
        in: query
        name: offset
        required: true
        schema:
          format: int32
          type: integer
      - description: The maximum number of items to return (up to 1000 per request)
        in: query
        name: count
        required: true
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesFeatureTypeModelResults'
            text/json:
              schema:
                $ref: '#/components/schemas/SalesFeatureTypeModelResults'
            application/xml:
              schema:
                $ref: '#/components/schemas/SalesFeatureTypeModelResults'
            text/xml:
              schema:
                $ref: '#/components/schemas/SalesFeatureTypeModelResults'
          description: OK
      summary: A collection of all sales feature types linked to a company
      tags:
      - SalesController
      x-accepts:
      - application/json
      - application/xml
      - text/json
      - text/xml
  /v2/tier2/{shortName}/sales/salesfeaturetypes/{salesFeatureTypeID}:
    get:
      deprecated: false
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        schema:
          type: string
      - description: The unique ID of the SalesFeatureType
        in: path
        name: salesFeatureTypeID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesFeatureTypeModel'
            text/json:
              schema:
                $ref: '#/components/schemas/SalesFeatureTypeModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/SalesFeatureTypeModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/SalesFeatureTypeModel'
          description: OK
      summary: Get a specific sales feature type given its unique Object ID (OID)
      tags:
      - SalesController
      x-accepts:
      - application/json
      - application/xml
      - text/json
      - text/xml
  /v2/tier2/{shortName}/sales/salesinstructions:
    get:
      deprecated: false
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        schema:
          type: string
      - description: The index of the first item to return
        in: query
        name: offset
        required: true
        schema:
          format: int32
          type: integer
      - description: The maximum number of items to return (up to 1000 per request)
        in: query
        name: count
        required: true
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesInstructionModelResults'
            text/json:
              schema:
                $ref: '#/components/schemas/SalesInstructionModelResults'
            application/xml:
              schema:
                $ref: '#/components/schemas/SalesInstructionModelResults'
            text/xml:
              schema:
                $ref: '#/components/schemas/SalesInstructionModelResults'
          description: OK
      summary: A collection of all sales instructions linked to a company
      tags:
      - SalesController
      x-accepts:
      - application/json
      - application/xml
      - text/json
      - text/xml
  /v2/tier2/{shortName}/sales/salesinstructions/{salesInstructionID}:
    get:
      deprecated: false
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        schema:
          type: string
      - description: The unique ID of the SalesInstruction
        in: path
        name: salesInstructionID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesInstructionModel'
            text/json:
              schema:
                $ref: '#/components/schemas/SalesInstructionModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/SalesInstructionModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/SalesInstructionModel'
          description: OK
      summary: Get a specific sales instruction given its unique Object ID (OID)
      tags:
      - SalesController
      x-accepts:
      - application/json
      - application/xml
      - text/json
      - text/xml
  /v2/tier2/{shortName}/sales/salesinstructions/{salesInstructionID}/features:
    get:
      deprecated: false
      operationId: SalesController_GetSalesInstructionsFeatures
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        schema:
          type: string
      - description: The unique ID of the SalesInstruction
        in: path
        name: salesInstructionID
        required: true
        schema:
          type: string
      - description: The index of the first item to return
        in: query
        name: offset
        required: true
        schema:
          format: int32
          type: integer
      - description: The maximum number of items to return (up to 1000 per request)
        in: query
        name: count
        required: true
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesFeatureModelResults'
            text/json:
              schema:
                $ref: '#/components/schemas/SalesFeatureModelResults'
            application/xml:
              schema:
                $ref: '#/components/schemas/SalesFeatureModelResults'
            text/xml:
              schema:
                $ref: '#/components/schemas/SalesFeatureModelResults'
          description: OK
      summary: A collection of all features linked to a sales instruction
      tags:
      - SalesController
      x-accepts:
      - application/json
      - application/xml
      - text/json
      - text/xml
  /v2/tier2/{shortName}/sales/salesinstructions/{salesInstructionID}/floorplans:
    get:
      deprecated: false
      operationId: SalesController_GetSalesInstructionsFloorPlans
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        schema:
          type: string
      - description: The unique ID of the SalesInstruction
        in: path
        name: salesInstructionID
        required: true
        schema:
          type: string
      - description: The index of the first item to return
        in: query
        name: offset
        required: true
        schema:
          format: int32
          type: integer
      - description: The maximum number of items to return (up to 1000 per request)
        in: query
        name: count
        required: true
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhotoModelResults'
            text/json:
              schema:
                $ref: '#/components/schemas/PhotoModelResults'
            application/xml:
              schema:
                $ref: '#/components/schemas/PhotoModelResults'
            text/xml:
              schema:
                $ref: '#/components/schemas/PhotoModelResults'
          description: OK
      summary: A collection of floor plans linked to an instruction
      tags:
      - SalesController
      x-accepts:
      - application/json
      - application/xml
      - text/json
      - text/xml
  /v2/tier2/{shortName}/sales/salesinstructions/{salesInstructionID}/photos:
    get:
      deprecated: false
      operationId: SalesController_GetSalesInstructionsPhotos
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        schema:
          type: string
      - description: The unique ID of the SalesInstruction
        in: path
        name: salesInstructionID
        required: true
        schema:
          type: string
      - description: The index of the first item to return
        in: query
        name: offset
        required: true
        schema:
          format: int32
          type: integer
      - description: The maximum number of items to return (up to 1000 per request)
        in: query
        name: count
        required: true
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhotoModelResults'
            text/json:
              schema:
                $ref: '#/components/schemas/PhotoModelResults'
            application/xml:
              schema:
                $ref: '#/components/schemas/PhotoModelResults'
            text/xml:
              schema:
                $ref: '#/components/schemas/PhotoModelResults'
          description: OK
      summary: A collection of photos linked to an instruction
      tags:
      - SalesController
      x-accepts:
      - application/json
      - application/xml
      - text/json
      - text/xml
  /v2/tier2/{shortName}/sales/salesinstructions/{salesInstructionID}/rooms:
    get:
      deprecated: false
      operationId: SalesController_GetSalesInstructionsRooms
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        schema:
          type: string
      - description: The unique ID of the SalesInstruction
        in: path
        name: salesInstructionID
        required: true
        schema:
          type: string
      - description: The index of the first item to return
        in: query
        name: offset
        required: true
        schema:
          format: int32
          type: integer
      - description: The maximum number of items to return (up to 1000 per request)
        in: query
        name: count
        required: true
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyRoomModelResults'
            text/json:
              schema:
                $ref: '#/components/schemas/PropertyRoomModelResults'
            application/xml:
              schema:
                $ref: '#/components/schemas/PropertyRoomModelResults'
            text/xml:
              schema:
                $ref: '#/components/schemas/PropertyRoomModelResults'
          description: OK
      summary: A collection of rooms linked to an instruction
      tags:
      - SalesController
      x-accepts:
      - application/json
      - application/xml
      - text/json
      - text/xml
  /v2/tier2/{shortName}/staff/staff:
    get:
      deprecated: false
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        schema:
          type: string
      - description: The index of the first item to return
        in: query
        name: offset
        required: true
        schema:
          format: int32
          type: integer
      - description: The maximum number of items to return (up to 1000 per request)
        in: query
        name: count
        required: true
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationStaffModelResults'
            text/json:
              schema:
                $ref: '#/components/schemas/ApplicationStaffModelResults'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApplicationStaffModelResults'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApplicationStaffModelResults'
          description: OK
      summary: A collection of all the staff members linked to a specific company
      tags:
      - StaffController
      x-accepts:
      - application/json
      - application/xml
      - text/json
      - text/xml
  /v2/tier2/{shortName}/staff/staff/{applicationStaffID}:
    get:
      deprecated: false
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        schema:
          type: string
      - description: The unique ID of the ApplicationStaff
        in: path
        name: applicationStaffID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationStaffModel'
            text/json:
              schema:
                $ref: '#/components/schemas/ApplicationStaffModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApplicationStaffModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApplicationStaffModel'
          description: OK
      summary: Get a specific application staff given its unique Object ID (OID)
      tags:
      - StaffController
      x-accepts:
      - application/json
      - application/xml
      - text/json
      - text/xml
  /v2/tier2/{shortName}/viewing/bookings:
    get:
      deprecated: false
      operationId: ViewingController_GetBookings
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        schema:
          type: string
      - description: The preferred date for a viewing
        in: query
        name: preferredDate
        required: true
        schema:
          format: date-time
          type: string
      - description: An array of unique IDs of properties to view
        explode: true
        in: query
        name: propertyIDsToView
        required: true
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ViewingBookingModel'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/ViewingBookingModel'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/ViewingBookingModel'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/ViewingBookingModel'
                type: array
          description: OK
      summary: Gets a list of available viewing slots for one or more properties
      tags:
      - ViewingController
      x-accepts:
      - application/json
      - application/xml
      - text/json
      - text/xml
    post:
      deprecated: false
      operationId: ViewingController_MakeBooking
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        schema:
          type: string
      - description: The forename of the prospect
        in: query
        name: forename
        required: true
        schema:
          type: string
      - description: The surname of the prospect
        in: query
        name: surname
        required: true
        schema:
          type: string
      - description: The mobile phone number of the prospect
        in: query
        name: mobilePhone
        required: true
        schema:
          type: string
      - description: The email address of the prospect
        in: query
        name: emailAddress
        required: true
        schema:
          type: string
      - description: An array of unique IDs of properties to view
        explode: true
        in: query
        name: propertyIDsToView
        required: true
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Whether the prospect wants a shared property
        in: query
        name: wantRoomInSharedProperty
        schema:
          type: boolean
      - description: The minimum rent amount the prospect is looking for
        in: query
        name: alertMinRent
        schema:
          format: double
          type: number
      - description: The maximum rent amount the prospect is looking for
        in: query
        name: alertMaxRent
        schema:
          format: double
          type: number
      - description: The minimum number of beds the prospect is looking for
        in: query
        name: alertNumberOfBeds
        schema:
          format: int32
          type: integer
      - description: The unique ID of the area the prospect is looking for
        in: query
        name: alertAreaID
        schema:
          type: string
      - description: The tenanct type the prospect is looking for
        in: query
        name: alertTenantType
        schema:
          enum:
          - Employed
          - SelfEmployed
          - Unemployed
          - Student
          - OwnMeans
          - Retired
          - Company
          - Council
          type: string
      - description: Whether to subscribe the prospect to email alerts
        in: query
        name: subscribeToEmailAlerts
        schema:
          type: boolean
      - description: Whether to subscribe the prospect to SMS alerts
        in: query
        name: subscribeToSMSAlerts
        schema:
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ViewingBookingModel'
          text/json:
            schema:
              $ref: '#/components/schemas/ViewingBookingModel'
          application/xml:
            schema:
              $ref: '#/components/schemas/ViewingBookingModel'
          text/xml:
            schema:
              $ref: '#/components/schemas/ViewingBookingModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ViewingBookingModel'
        description: The prospect's selected viewing slot
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: boolean
            text/json:
              schema:
                type: boolean
            application/xml:
              schema:
                type: boolean
            text/xml:
              schema:
                type: boolean
          description: OK
      summary: Book an appointment for a viewing slot returned from the GET verb
      tags:
      - ViewingController
      x-codegen-request-body-name: selectedViewingSlot
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/xml
      - text/json
      - text/xml
components:
  schemas:
    ApplicationStaffModel:
      description: Holds the information about a member of staff.
      example:
        ContactMobile: ContactMobile
        DateOfBirth: 2000-01-23T04:56:07.000+00:00
        ManagedBy: ManagedBy
        ETag: ETag
        GlobalReference: GlobalReference
        IsEnabled: true
        Forename: Forename
        Title: Title
        ContactEMail: ContactEMail
        Middlename: Middlename
        OID: OID
        Surname: Surname
      properties:
        ContactEMail:
          description: The user's email contact.
          type: string
        ContactMobile:
          description: The user's mobile contact.
          type: string
        DateOfBirth:
          description: The user's date of birth.
          format: date-time
          type: string
        ETag:
          description: A unique identifier defining the object and change revision.
          type: string
        Forename:
          description: The user's forename.
          type: string
        GlobalReference:
          description: The global reference to this user.
          type: string
        IsEnabled:
          description: Is this staff member enabled?
          type: boolean
        ManagedBy:
          description: The branch linked to this user
          type: string
        Middlename:
          description: The user's middlename.
          type: string
        OID:
          description: The unique Object ID (OID).
          type: string
        Surname:
          description: The user's surname.
          type: string
        Title:
          description: The user's title.
          type: string
      type: object
    ApplicationStaffModelResults:
      description: Holds results from a paged query returning ApplicationStaffModel
        values
      example:
        Data:
        - ContactMobile: ContactMobile
          DateOfBirth: 2000-01-23T04:56:07.000+00:00
          ManagedBy: ManagedBy
          ETag: ETag
          GlobalReference: GlobalReference
          IsEnabled: true
          Forename: Forename
          Title: Title
          ContactEMail: ContactEMail
          Middlename: Middlename
          OID: OID
          Surname: Surname
        - ContactMobile: ContactMobile
          DateOfBirth: 2000-01-23T04:56:07.000+00:00
          ManagedBy: ManagedBy
          ETag: ETag
          GlobalReference: GlobalReference
          IsEnabled: true
          Forename: Forename
          Title: Title
          ContactEMail: ContactEMail
          Middlename: Middlename
          OID: OID
          Surname: Surname
        Count: 0
      properties:
        Count:
          description: The total number of results available for all pages
          format: int32
          type: integer
        Data:
          description: The resulting data returned from the paged query range
          items:
            $ref: '#/components/schemas/ApplicationStaffModel'
          type: array
      type: object
    AreaModel:
      description: Stores the information about a single property area.
      example:
        ETag: ETag
        Branch: Branch
        ShowOnSites: true
        OID: OID
        Name: Name
      properties:
        Branch:
          description: The branch that manages this area.
          type: string
        ETag:
          description: A unique identifier defining the object and change revision.
          type: string
        Name:
          description: The property area name.
          type: string
        OID:
          description: The unique Object ID (OID).
          type: string
        ShowOnSites:
          description: Show the area on sites?
          type: boolean
      type: object
    AreaModelResults:
      description: Holds results from a paged query returning AreaModel values
      example:
        Data:
        - ETag: ETag
          Branch: Branch
          ShowOnSites: true
          OID: OID
          Name: Name
        - ETag: ETag
          Branch: Branch
          ShowOnSites: true
          OID: OID
          Name: Name
        Count: 0
      properties:
        Count:
          description: The total number of results available for all pages
          format: int32
          type: integer
        Data:
          description: The resulting data returned from the paged query range
          items:
            $ref: '#/components/schemas/AreaModel'
          type: array
      type: object
    BranchModel:
      description: Defines a single branch of a client.
      example:
        EMailAddress: EMailAddress
        Address2: Address2
        Address3: Address3
        Address1: Address1
        OID: OID
        County: County
        Postcode: Postcode
        LandPhone: LandPhone
        Name: Name
        CompanyName: CompanyName
        ETag: ETag
        Address4: Address4
        WebAddress: WebAddress
        FaxPhone: FaxPhone
      properties:
        Address1:
          description: Branch address line 1.
          type: string
        Address2:
          description: Branch address line 2.
          type: string
        Address3:
          description: Branch address line 3.
          type: string
        Address4:
          description: Branch address line 4.
          type: string
        CompanyName:
          description: "The relevant company name, if not the one specified on the\
            \ branch then the one on company."
          type: string
        County:
          description: County
          type: string
        EMailAddress:
          description: Branch email address.
          type: string
        ETag:
          description: A unique identifier defining the object and change revision.
          type: string
        FaxPhone:
          description: Branch fax phone number.
          type: string
        LandPhone:
          description: Branch land phone number.
          type: string
        Name:
          description: The branch name.
          type: string
        OID:
          description: The unique Object ID (OID).
          type: string
        Postcode:
          description: Branch address postcode.
          type: string
        WebAddress:
          description: Branch web address.
          type: string
      type: object
    BranchModelResults:
      description: Holds results from a paged query returning BranchModel values
      example:
        Data:
        - EMailAddress: EMailAddress
          Address2: Address2
          Address3: Address3
          Address1: Address1
          OID: OID
          County: County
          Postcode: Postcode
          LandPhone: LandPhone
          Name: Name
          CompanyName: CompanyName
          ETag: ETag
          Address4: Address4
          WebAddress: WebAddress
          FaxPhone: FaxPhone
        - EMailAddress: EMailAddress
          Address2: Address2
          Address3: Address3
          Address1: Address1
          OID: OID
          County: County
          Postcode: Postcode
          LandPhone: LandPhone
          Name: Name
          CompanyName: CompanyName
          ETag: ETag
          Address4: Address4
          WebAddress: WebAddress
          FaxPhone: FaxPhone
        Count: 0
      properties:
        Count:
          description: The total number of results available for all pages
          format: int32
          type: integer
        Data:
          description: The resulting data returned from the paged query range
          items:
            $ref: '#/components/schemas/BranchModel'
          type: array
      type: object
    CompanyModel:
      description: The search code for the ApplicationCompany storage object.
      example:
        CompanyName: CompanyName
        MarketingCompanyName: MarketingCompanyName
        ETag: ETag
        ShortName: ShortName
        OID: OID
        CompanyRegistration: CompanyRegistration
      properties:
        CompanyName:
          description: Company name
          type: string
        CompanyRegistration:
          description: Company registration number
          type: string
        ETag:
          description: A unique identifier defining the object and change revision.
          type: string
        MarketingCompanyName:
          description: Company Marketing Name
          type: string
        OID:
          description: The unique Object ID (OID).
          type: string
        ShortName:
          description: The unique identifier assigned to the client
          type: string
      type: object
    CountyModel:
      description: Stores the information about a single property County. A County
        can have a number of areas linked to it.
      example:
        ETag: ETag
        OID: OID
        Name: Name
      properties:
        ETag:
          description: A unique identifier defining the object and change revision.
          type: string
        Name:
          description: The property county name.
          type: string
        OID:
          description: The unique Object ID (OID).
          type: string
      type: object
    CountyModelResults:
      description: Holds results from a paged query returning CountyModel values
      example:
        Data:
        - ETag: ETag
          OID: OID
          Name: Name
        - ETag: ETag
          OID: OID
          Name: Name
        Count: 0
      properties:
        Count:
          description: The total number of results available for all pages
          format: int32
          type: integer
        Data:
          description: The resulting data returned from the paged query range
          items:
            $ref: '#/components/schemas/CountyModel'
          type: array
      type: object
    DiaryAllocationModel:
      description: "Represents a single diary allocation, capable of holding a number\r\
        \n            of appointments associated with a member of staff."
      example:
        AppointmentType: AppointmentType
        ETag: ETag
        Start: 2000-01-23T04:56:07.000+00:00
        Staff: Staff
        End: 2000-01-23T04:56:07.000+00:00
        OID: OID
      properties:
        AppointmentType:
          description: The diary appointment type.
          type: string
        ETag:
          description: A unique identifier defining the object and change revision.
          type: string
        End:
          description: The end date/time of this allocation.
          format: date-time
          type: string
        OID:
          description: The unique Object ID (OID).
          type: string
        Staff:
          description: The staff member holding this allocation.
          type: string
        Start:
          description: The start date/time of this allocation.
          format: date-time
          type: string
      type: object
    DiaryAllocationModelResults:
      description: Holds results from a paged query returning DiaryAllocationModel
        values
      example:
        Data:
        - AppointmentType: AppointmentType
          ETag: ETag
          Start: 2000-01-23T04:56:07.000+00:00
          Staff: Staff
          End: 2000-01-23T04:56:07.000+00:00
          OID: OID
        - AppointmentType: AppointmentType
          ETag: ETag
          Start: 2000-01-23T04:56:07.000+00:00
          Staff: Staff
          End: 2000-01-23T04:56:07.000+00:00
          OID: OID
        Count: 0
      properties:
        Count:
          description: The total number of results available for all pages
          format: int32
          type: integer
        Data:
          description: The resulting data returned from the paged query range
          items:
            $ref: '#/components/schemas/DiaryAllocationModel'
          type: array
      type: object
    DiaryAppointmentModel:
      description: Represents a single diary appointment for a staff member.
      example:
        Comment: Comment
        CreatedBy: CreatedBy
        RemindBefore: Min
        Start: 2000-01-23T04:56:07.000+00:00
        CreatedAt: 2000-01-23T04:56:07.000+00:00
        Staff: Staff
        RemindAt: 2000-01-23T04:56:07.000+00:00
        Cancelled: true
        OID: OID
        Subject: Subject
        AppointmentType: AppointmentType
        ETag: ETag
        End: 2000-01-23T04:56:07.000+00:00
      properties:
        AppointmentType:
          description: The diary appointment type.
          type: string
        Cancelled:
          description: Whether the appointment has been cancelled.
          type: boolean
        Comment:
          description: The appointment comments text.
          type: string
        CreatedAt:
          description: The date/time this appointment was created.
          format: date-time
          type: string
        CreatedBy:
          description: The staff member that created this appointment.
          type: string
        ETag:
          description: A unique identifier defining the object and change revision.
          type: string
        End:
          description: The end date/time of this appointment.
          format: date-time
          type: string
        OID:
          description: The unique Object ID (OID).
          type: string
        RemindAt:
          description: The date/time to remind the staff member of this appointment.
          format: date-time
          type: string
        RemindBefore:
          description: The number of minutes before the appointment start date/time
            to remind the staff member. -1 means don't remind.
          enum:
          - Min
          - Min2
          - Min5
          - Min10
          - Min15
          - Min30
          - Min45
          - Hour
          - Hour2
          - Hour3
          - Hour6
          - Hour12
          - Day
          - Day2
          - Day3
          - Week
          - NoReminder
          type: string
        Staff:
          description: The staff member holding this appointment.
          type: string
        Start:
          description: The start date/time of this appointment.
          format: date-time
          type: string
        Subject:
          description: The appointment subject text.
          type: string
      type: object
    DiaryAppointmentModelResults:
      description: Holds results from a paged query returning DiaryAppointmentModel
        values
      example:
        Data:
        - Comment: Comment
          CreatedBy: CreatedBy
          RemindBefore: Min
          Start: 2000-01-23T04:56:07.000+00:00
          CreatedAt: 2000-01-23T04:56:07.000+00:00
          Staff: Staff
          RemindAt: 2000-01-23T04:56:07.000+00:00
          Cancelled: true
          OID: OID
          Subject: Subject
          AppointmentType: AppointmentType
          ETag: ETag
          End: 2000-01-23T04:56:07.000+00:00
        - Comment: Comment
          CreatedBy: CreatedBy
          RemindBefore: Min
          Start: 2000-01-23T04:56:07.000+00:00
          CreatedAt: 2000-01-23T04:56:07.000+00:00
          Staff: Staff
          RemindAt: 2000-01-23T04:56:07.000+00:00
          Cancelled: true
          OID: OID
          Subject: Subject
          AppointmentType: AppointmentType
          ETag: ETag
          End: 2000-01-23T04:56:07.000+00:00
        Count: 0
      properties:
        Count:
          description: The total number of results available for all pages
          format: int32
          type: integer
        Data:
          description: The resulting data returned from the paged query range
          items:
            $ref: '#/components/schemas/DiaryAppointmentModel'
          type: array
      type: object
    DiaryAppointmentTypeModel:
      description: Represents a diary appointment type.
      example:
        ETag: ETag
        SystemType: Viewing
        OID: OID
        Name: Name
      properties:
        ETag:
          description: A unique identifier defining the object and change revision.
          type: string
        Name:
          description: The appointment type name.
          type: string
        OID:
          description: The unique Object ID (OID).
          type: string
        SystemType:
          description: The appointment system type.
          enum:
          - Viewing
          - ViewAndValue
          - OpeningInspection
          - InterimInspection
          - ClosingInspection
          - SalesAppraisal
          - Custom
          type: string
      type: object
    DiaryAppointmentTypeModelResults:
      description: Holds results from a paged query returning DiaryAppointmentTypeModel
        values
      example:
        Data:
        - ETag: ETag
          SystemType: Viewing
          OID: OID
          Name: Name
        - ETag: ETag
          SystemType: Viewing
          OID: OID
          Name: Name
        Count: 0
      properties:
        Count:
          description: The total number of results available for all pages
          format: int32
          type: integer
        Data:
          description: The resulting data returned from the paged query range
          items:
            $ref: '#/components/schemas/DiaryAppointmentTypeModel'
          type: array
      type: object
    Object:
      type: object
    PhotoModel:
      description: Stores a photo related to a property structure.
      example:
        InventoryItem: InventoryItem
        ETag: ETag
        FileName: FileName
        PhotoNumber: 6
        InterimInspection: InterimInspection
        PhotoType: Photo
        OID: OID
        Property: Property
        Room: Room
        InspectionItem: InspectionItem
        Name: Name
      properties:
        ETag:
          description: A unique identifier defining the object and change revision.
          type: string
        FileName:
          description: The file name.
          type: string
        InspectionItem:
          description: The inspection item the photo is assigned to (if applicable).
          type: string
        InterimInspection:
          description: The inspection the photo is assigned to (if applicable).
          type: string
        InventoryItem:
          description: The inventory item the photo is assigned to (if applicable).
          type: string
        Name:
          description: The photo name.
          type: string
        OID:
          description: The unique Object ID (OID).
          type: string
        PhotoNumber:
          description: The photo ordering number
          format: int32
          type: integer
        PhotoType:
          description: The photo type.
          enum:
          - Photo
          - Map
          - FloorPlan
          - SiteMap
          - AerialPhoto
          type: string
        Property:
          description: The property the photo is assigned to.
          type: string
        Room:
          description: The room the photo is assigned to. (If applicable)
          type: string
      type: object
    PhotoModelResults:
      description: Holds results from a paged query returning PhotoModel values
      example:
        Data:
        - InventoryItem: InventoryItem
          ETag: ETag
          FileName: FileName
          PhotoNumber: 6
          InterimInspection: InterimInspection
          PhotoType: Photo
          OID: OID
          Property: Property
          Room: Room
          InspectionItem: InspectionItem
          Name: Name
        - InventoryItem: InventoryItem
          ETag: ETag
          FileName: FileName
          PhotoNumber: 6
          InterimInspection: InterimInspection
          PhotoType: Photo
          OID: OID
          Property: Property
          Room: Room
          InspectionItem: InspectionItem
          Name: Name
        Count: 0
      properties:
        Count:
          description: The total number of results available for all pages
          format: int32
          type: integer
        Data:
          description: The resulting data returned from the paged query range
          items:
            $ref: '#/components/schemas/PhotoModel'
          type: array
      type: object
    PropertyFacilityModel:
      description: Stores the information about a single property facility.
      example:
        ETag: ETag
        OID: OID
        Name: Name
      properties:
        ETag:
          description: A unique identifier defining the object and change revision.
          type: string
        Name:
          description: Display Name
          type: string
        OID:
          description: The unique Object ID (OID).
          type: string
      type: object
    PropertyFacilityModelResults:
      description: Holds results from a paged query returning PropertyFacilityModel
        values
      example:
        Data:
        - ETag: ETag
          OID: OID
          Name: Name
        - ETag: ETag
          OID: OID
          Name: Name
        Count: 0
      properties:
        Count:
          description: The total number of results available for all pages
          format: int32
          type: integer
        Data:
          description: The resulting data returned from the paged query range
          items:
            $ref: '#/components/schemas/PropertyFacilityModel'
          type: array
      type: object
    PropertyModel:
      description: Stores the 'Sales' type fields for property ownable as a stepping
        stone to a full on BO when we finally get the go ahead to write sales!!
      example:
        FullAddress: FullAddress
        Description: Description
        RoomName: RoomName
        GlobalReference: GlobalReference
        OID: OID
        PropertyType: House
        PropertySource: PropertySource
        VideoURL: VideoURL
        Area: Area
        ETag: ETag
        Branch: Branch
        MainPhoto: MainPhoto
        ManagedByStaff: ManagedByStaff
      properties:
        Area:
          description: The area the property is located in.
          type: string
        Branch:
          description: "The branch the block, property or room is assigned to"
          type: string
        Description:
          description: "The block, property or room description."
          type: string
        ETag:
          description: A unique identifier defining the object and change revision.
          type: string
        FullAddress:
          description: "The full address of a block, property or room, formatted with\
            \ line breaks such that it may be used on a letter directly."
          type: string
        GlobalReference:
          description: "The global reference to this block, property or room"
          type: string
        MainPhoto:
          description: "Gets the main photo, if there is one."
          type: string
        ManagedByStaff:
          description: "The staff memeber that manages the block, property or room"
          type: string
        OID:
          description: The unique Object ID (OID).
          type: string
        PropertySource:
          description: "The block, property or room source type"
          type: string
        PropertyType:
          description: The block or property type.
          enum:
          - House
          - FlatApartment
          - Bungalow
          - Land
          - HouseFlatShare
          - GarageParking
          - CommercialProperty
          - Block
          - TerracedHouse
          - EndTerraceHouse
          - SemiDetachedHouse
          - DetachedHouse
          - SemiDetachedBungalow
          - TownHouse
          - Cottage
          - ServicedApartment
          - Studio
          - Apartment
          - Barn
          - FarmHouse
          - Penthouse
          - BuildingPlot
          - DetachedBungalow
          - LinkDetached
          - MidTerracedBungalow
          - LandResidential
          type: string
        RoomName:
          description: The room name (if applicable).
          type: string
        VideoURL:
          description: URL of the video linked to the property
          type: string
      type: object
    PropertyModelResults:
      description: Holds results from a paged query returning PropertyModel values
      example:
        Data:
        - FullAddress: FullAddress
          Description: Description
          RoomName: RoomName
          GlobalReference: GlobalReference
          OID: OID
          PropertyType: House
          PropertySource: PropertySource
          VideoURL: VideoURL
          Area: Area
          ETag: ETag
          Branch: Branch
          MainPhoto: MainPhoto
          ManagedByStaff: ManagedByStaff
        - FullAddress: FullAddress
          Description: Description
          RoomName: RoomName
          GlobalReference: GlobalReference
          OID: OID
          PropertyType: House
          PropertySource: PropertySource
          VideoURL: VideoURL
          Area: Area
          ETag: ETag
          Branch: Branch
          MainPhoto: MainPhoto
          ManagedByStaff: ManagedByStaff
        Count: 0
      properties:
        Count:
          description: The total number of results available for all pages
          format: int32
          type: integer
        Data:
          description: The resulting data returned from the paged query range
          items:
            $ref: '#/components/schemas/PropertyModel'
          type: array
      type: object
    PropertyRoomModel:
      description: A single room (bedroom) property structure.
      example:
        HeightMeters: 1
        FullAddress: FullAddress
        Description: Description
        RoomName: RoomName
        GlobalReference: GlobalReference
        LengthCentimeters: 5
        OID: OID
        PropertySource: PropertySource
        Area: Area
        ETag: ETag
        Branch: Branch
        LengthMeters: 5
        MainPhoto: MainPhoto
        HeightCentimeters: 6
        ManagedByStaff: ManagedByStaff
        RoomFloor: Basement
        WidthCentiMeters: 2
        WidthMeters: 7
      properties:
        Area:
          description: The area the property is located in.
          type: string
        Branch:
          description: "The branch the block, property or room is assigned to"
          type: string
        Description:
          description: "The block, property or room description."
          type: string
        ETag:
          description: A unique identifier defining the object and change revision.
          type: string
        FullAddress:
          description: "The full address of a block, property or room, formatted with\
            \ line breaks such that it may be used on a letter directly."
          type: string
        GlobalReference:
          description: "The global reference to this block, property or room"
          type: string
        HeightCentimeters:
          description: Gets the CentiMeter part of the room Height.
          format: int32
          type: integer
        HeightMeters:
          description: Gets the Meter part of the room Height.
          format: int32
          type: integer
        LengthCentimeters:
          description: Gets the CentiMeter part of the room Length.
          format: int32
          type: integer
        LengthMeters:
          description: Gets the Meter part of the room Length.
          format: int32
          type: integer
        MainPhoto:
          description: "Gets the main photo, if there is one."
          type: string
        ManagedByStaff:
          description: "The staff memeber that manages the block, property or room"
          type: string
        OID:
          description: The unique Object ID (OID).
          type: string
        PropertySource:
          description: "The block, property or room source type"
          type: string
        RoomFloor:
          description: Gets and sets the room floor.
          enum:
          - Basement
          - Ground
          - First
          - Second
          - Third
          - Fourth
          - Fifth
          - SixthPlus
          - Unknown
          type: string
        RoomName:
          description: The room name (if applicable).
          type: string
        WidthCentiMeters:
          description: Gets the CentiMeter part of the room width.
          format: int32
          type: integer
        WidthMeters:
          description: Gets the Meter part of the room width.
          format: int32
          type: integer
      type: object
    PropertyRoomModelResults:
      description: Holds results from a paged query returning PropertyRoomModel values
      example:
        Data:
        - HeightMeters: 1
          FullAddress: FullAddress
          Description: Description
          RoomName: RoomName
          GlobalReference: GlobalReference
          LengthCentimeters: 5
          OID: OID
          PropertySource: PropertySource
          Area: Area
          ETag: ETag
          Branch: Branch
          LengthMeters: 5
          MainPhoto: MainPhoto
          HeightCentimeters: 6
          ManagedByStaff: ManagedByStaff
          RoomFloor: Basement
          WidthCentiMeters: 2
          WidthMeters: 7
        - HeightMeters: 1
          FullAddress: FullAddress
          Description: Description
          RoomName: RoomName
          GlobalReference: GlobalReference
          LengthCentimeters: 5
          OID: OID
          PropertySource: PropertySource
          Area: Area
          ETag: ETag
          Branch: Branch
          LengthMeters: 5
          MainPhoto: MainPhoto
          HeightCentimeters: 6
          ManagedByStaff: ManagedByStaff
          RoomFloor: Basement
          WidthCentiMeters: 2
          WidthMeters: 7
        Count: 0
      properties:
        Count:
          description: The total number of results available for all pages
          format: int32
          type: integer
        Data:
          description: The resulting data returned from the paged query range
          items:
            $ref: '#/components/schemas/PropertyRoomModel'
          type: array
      type: object
    SalesFeatureModel:
      description: ""
      example:
        Comment: Comment
        Type: Type
        ETag: ETag
        OID: OID
      properties:
        Comment:
          description: The feature comment
          type: string
        ETag:
          description: A unique identifier defining the object and change revision.
          type: string
        OID:
          description: The unique Object ID (OID).
          type: string
        Type:
          description: The feature type
          type: string
      type: object
    SalesFeatureModelResults:
      description: Holds results from a paged query returning SalesFeatureModel values
      example:
        Data:
        - Comment: Comment
          Type: Type
          ETag: ETag
          OID: OID
        - Comment: Comment
          Type: Type
          ETag: ETag
          OID: OID
        Count: 0
      properties:
        Count:
          description: The total number of results available for all pages
          format: int32
          type: integer
        Data:
          description: The resulting data returned from the paged query range
          items:
            $ref: '#/components/schemas/SalesFeatureModel'
          type: array
      type: object
    SalesFeatureTypeModel:
      description: ""
      example:
        ETag: ETag
        OID: OID
[...]
