openapi: 3.0.1
info:
  contact:
    x-twitter: _geodatasource
  description: "GeoDataSource™ Web Service is a REST API enable user to lookup for\
    \ a city by using latitude and longitude coordinate. It will return the result\
    \ in either JSON or XML containing the information of country, region, city, latitude\
    \ and longitude. Visit https://www.geodatasource.com/web-service for further information."
  title: GeoDataSource Location Search
  version: "1.0"
  x-apisguru-categories:
  - location
  x-logo:
    url: https://twitter.com/_geodatasource/profile_image?size=original
  x-origin:
  - converter:
      url: https://github.com/lucybot/api-spec-converter
      version: 2.7.31
    format: openapi
    url: https://app.swaggerhub.com/apiproxy/schema/file/geodatasource/geodatasource-location-search/1.0/swagger.yaml
    version: "3.0"
  x-providerName: geodatasource.com
servers:
- url: https://api.geodatasource.com
paths:
  /city:
    get:
      description: Get City name by using latitude and longitude
      parameters:
      - explode: true
        in: query
        name: key
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: lng
        required: true
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: lat
        required: true
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - json
          - xml
          type: string
        style: form
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              examples:
                "0":
                  value: "{\"country\":\"\",\"region\":\"\",\"city\":\"\",\"latitude\"\
                    :\"\",\"longitude\":\"\"}"
              schema:
                type: string
          description: Get response from longitude latitude lookup
      x-accepts:
      - application/json; charset=utf-8
components:
  schemas: {}

