openapi: 3.0.1
info:
  description: API spec for Microsoft.Security (Azure Security Center) resource provider
  title: Security Center
  version: 2019-08-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/security/resource-manager/Microsoft.Security/stable/2019-08-01/iotSecuritySolutionAnalytics.json
    version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: security-iotSecuritySolutionAnalytics
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/iotSecuritySolutions/{solutionName}/analyticsModels
  : get:
      description: Use this method to get IoT security Analytics metrics in an array.
      operationId: iot_security_solution_analytics_list
      parameters:
      - description: API version for the operation
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Azure subscription ID
        in: path
        name: subscriptionId
        required: true
        schema:
          pattern: "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$"
          type: string
      - description: The name of the resource group within the user's subscription.
          The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the IoT Security solution.
        in: path
        name: solutionName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IoTSecuritySolutionAnalyticsModelList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IotSecuritySolutionAnalytics_List_default_response'
          description: Error response describing why the operation failed.
      tags:
      - IoT Security Solution Analytics
      x-ms-examples:
        Get Security Solution Analytics:
          parameters:
            api-version: 2019-08-01
            resourceGroupName: MyGroup
            solutionName: default
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/MyGroup/providers/Microsoft.Security/IoTSecuritySolutions/Locations/eastus/default
                  name: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/MyGroup/providers/Microsoft.Security/IoTSecuritySolutions/Locations/eastus/default
                  properties:
                    devicesMetrics:
                    - date: 2019-02-01T00:00:00Z
                      devicesMetrics:
                        high: 3
                        low: 70
                        medium: 15
                    - date: 2019-02-02T00:00:00Z
                      devicesMetrics:
                        high: 3
                        low: 65
                        medium: 45
                    metrics:
                      high: 5
                      low: 102
                      medium: 200
                    mostPrevalentDeviceAlerts:
                    - alertDisplayName: Custom Alert - number of device to cloud messages
                        in AMQP protocol is not in the allowed range
                      alertsCount: 200
                      reportedSeverity: Low
                    - alertDisplayName: Custom Alert - execution of a process that
                        is not allowed
                      alertsCount: 170
                      reportedSeverity: Medium
                    - alertDisplayName: Successful Bruteforce
                      alertsCount: 150
                      reportedSeverity: Low
                    mostPrevalentDeviceRecommendations:
                    - devicesCount: 200
                      recommendationDisplayName: Install the Azure Security of Things
                        Agent
                      reportedSeverity: Low
                    - devicesCount: 170
                      recommendationDisplayName: High level permissions configured
                        in Edge model twin for Edge module
                      reportedSeverity: Low
                    - devicesCount: 150
                      recommendationDisplayName: Same Authentication Credentials used
                        by multiple devices
                      reportedSeverity: Medium
                    topAlertedDevices:
                    - alertsCount: 200
                      deviceId: id1
                    - alertsCount: 170
                      deviceId: id2
                    - alertsCount: 150
                      deviceId: id3
                    unhealthyDeviceCount: 1200
                  type: Microsoft.Security/IoTSecuritySolutionAnalyticsModelList
      x-openapi-router-controller: openapi_server.controllers.io_t_security_solution_analytics_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/iotSecuritySolutions/{solutionName}/analyticsModels/default
  : get:
      description: Use this method to get IoT Security Analytics metrics.
      operationId: iot_security_solution_analytics_get
      parameters:
      - description: API version for the operation
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Azure subscription ID
        in: path
        name: subscriptionId
        required: true
        schema:
          pattern: "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$"
          type: string
      - description: The name of the resource group within the user's subscription.
          The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the IoT Security solution.
        in: path
        name: solution_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IoTSecuritySolutionAnalyticsModel'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IotSecuritySolutionAnalytics_List_default_response'
          description: Error response describing why the operation failed.
      tags:
      - IoT Security Solution Analytics
      x-ms-examples:
        Get Security Solution Analytics:
          parameters:
            api-version: 2019-08-01
            resourceGroupName: MyGroup
            solutionName: default
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/MyGroup/providers/Microsoft.Security/IoTSecuritySolutions/Locations/eastus/default
                name: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/MyGroup/providers/Microsoft.Security/IoTSecuritySolutions/Locations/eastus/default
                properties:
                  devicesMetrics:
                  - date: 2019-02-01T00:00:00Z
                    devicesMetrics:
                      high: 3
                      low: 70
                      medium: 15
                  - date: 2019-02-02T00:00:00Z
                    devicesMetrics:
                      high: 3
                      low: 65
                      medium: 45
                  metrics:
                    high: 5
                    low: 102
                    medium: 200
                  mostPrevalentDeviceAlerts:
                  - alertDisplayName: Custom Alert - number of device to cloud messages
                      in AMQP protocol is not in the allowed range
                    alertsCount: 200
                    reportedSeverity: Low
                  - alertDisplayName: Custom Alert - execution of a process that is
                      not allowed
                    alertsCount: 170
                    reportedSeverity: Medium
                  - alertDisplayName: Successful Bruteforce
                    alertsCount: 150
                    reportedSeverity: Low
                  mostPrevalentDeviceRecommendations:
                  - devicesCount: 200
                    recommendationDisplayName: Install the Azure Security of Things
                      Agent
                    reportedSeverity: Low
                  - devicesCount: 170
                    recommendationDisplayName: High level permissions configured in
                      Edge model twin for Edge module
                    reportedSeverity: Low
                  - devicesCount: 150
                    recommendationDisplayName: Same Authentication Credentials used
                      by multiple devices
                    reportedSeverity: Medium
                  topAlertedDevices:
                  - alertsCount: 200
                    deviceId: id1
                  - alertsCount: 170
                    deviceId: id2
                  - alertsCount: 150
                    deviceId: id3
                  unhealthyDeviceCount: 1200
                type: Microsoft.Security/IoTSecuritySolutionAnalyticsModel
      x-openapi-router-controller: openapi_server.controllers.io_t_security_solution_analytics_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/iotSecuritySolutions/{solutionName}/analyticsModels/default/aggregatedAlerts
  : get:
      description: Use this method to get the aggregated alert list of yours IoT Security
        solution.
      operationId: iot_security_solutions_analytics_aggregated_alert_list
      parameters:
      - description: API version for the operation
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Azure subscription ID
        in: path
        name: subscriptionId
        required: true
        schema:
          pattern: "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$"
          type: string
      - description: The name of the resource group within the user's subscription.
          The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the IoT Security solution.
        in: path
        name: solution_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Number of results to retrieve.
        in: query
        name: $top
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IoTSecurityAggregatedAlertList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IotSecuritySolutionAnalytics_List_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Aggregated Alert
      x-ms-examples:
        Get the aggregated alert list of yours IoT Security solution:
          parameters:
            api-version: 2019-08-01
            resourceGroupName: MyGroup
            solutionName: default
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/MyGroup/providers/Microsoft.Security/IoTSecuritySolutions/Locations/eastus/default/IoT_Bruteforce_Fail/2019-02-02
                  name: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/MyGroup/providers/Microsoft.Security/IoTSecuritySolutions/Locations/eastus/default/IoT_Bruteforce_Fail/2019-02-02
                  properties:
                    actionTaken: Detected
                    aggregatedDateUtc: 2019-02-02
                    alertDisplayName: Failed Bruteforce
                    alertType: IoT_Bruteforce_Fail
                    count: 50
                    description: Multiple unsuccsseful login attempts identified.
                      A Bruteforce attack on the device failed.
                    effectedResourceType: IoT Device
                    logAnalyticsQuery: "SecurityAlert | where tolower(ResourceId)\
                      \ == tolower('/subscriptions/b77ec8a9-04ed-48d2-a87a-e5887b978ba6/resourceGroups/IoT-Solution-DemoEnv/providers/Microsoft.Devices/IotHubs/rtogm-hub')\
                      \ and tolower(AlertName) == tolower('Custom Alert - number of\
                      \ device to cloud messages in MQTT protocol is not in the allowed\
                      \ range') | extend DeviceId=parse_json(ExtendedProperties)['DeviceId']\
                      \ | project DeviceId, TimeGenerated, DisplayName, AlertSeverity,\
                      \ Description, RemediationSteps, ExtendedProperties"
                    remediationSteps: ""
                    reportedSeverity: Low
                    systemSource: Devices
                    topDevicesList:
                    - alertsCount: 45
                      deviceId: testDevice1
                      lastOccurrence: 10:42
                    - alertsCount: 30
                      deviceId: testDevice2
                      lastOccurrence: 15:42
                    vendorName: Microsoft
                  type: Microsoft.Security/IoTSecurityAggregatedAlert
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/MyGroup/providers/Microsoft.Security/IoTSecuritySolutions/Locations/eastus/default/IoT_Bruteforce_Success/2019-02-02
                  name: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/MyGroup/providers/Microsoft.Security/IoTSecuritySolutions/Locations/eastus/default/IoT_Bruteforce_Success/2019-02-02
                  properties:
                    actionTaken: Detected
                    aggregatedDateUtc: 2019-02-02
                    alertDisplayName: Successful Bruteforce
                    alertType: IoT_Bruteforce_Success
                    count: 600000
                    description: Multiple unsuccsseful login attempts identified followed
                      by a succssful login. A Bruteforce attack on the device was
                      Successfule
                    effectedResourceType: IoT Device
                    logAnalyticsQuery: "SecurityAlert | where tolower(ResourceId)\
                      \ == tolower('/subscriptions/b77ec8a9-04ed-48d2-a87a-e5887b978ba6/resourceGroups/IoT-Solution-DemoEnv/providers/Microsoft.Devices/IotHubs/rtogm-hub')\
                      \ and tolower(AlertName) == tolower('Custom Alert - number of\
                      \ device to cloud messages in MQTT protocol is not in the allowed\
                      \ range') | extend DeviceId=parse_json(ExtendedProperties)['DeviceId']\
                      \ | project DeviceId, TimeGenerated, DisplayName, AlertSeverity,\
                      \ Description, RemediationSteps, ExtendedProperties"
                    remediationSteps: ""
                    reportedSeverity: Low
                    systemSource: Devices
                    topDevicesList:
                    - alertsCount: 12321
                      deviceId: testDevice1
                      lastOccurrence: 10:42
                    - alertsCount: 455
                      deviceId: testDevice2
                      lastOccurrence: 15:42
                    vendorName: Microsoft
                  type: Microsoft.Security/IoTSecurityAggregatedAlert
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.aggregated_alert_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/iotSecuritySolutions/{solutionName}/analyticsModels/default/aggregatedAlerts/{aggregatedAlertName}
  : get:
      description: Use this method to get a single the aggregated alert of yours IoT
        Security solution. This aggregation is performed by alert name.
      operationId: iot_security_solutions_analytics_aggregated_alert_get
      parameters:
      - description: API version for the operation
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Azure subscription ID
        in: path
        name: subscriptionId
        required: true
        schema:
          pattern: "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$"
          type: string
      - description: The name of the resource group within the user's subscription.
          The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the IoT Security solution.
        in: path
        name: solution_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Identifier of the aggregated alert.
        in: path
        name: aggregatedAlertName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IoTSecurityAggregatedAlert'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IotSecuritySolutionAnalytics_List_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Aggregated Alert
      x-ms-examples:
        Get the aggregated security analytics alert of yours IoT Security solution. This aggregation is performed by alert name:
          parameters:
            aggregatedAlertName: IoT_Bruteforce_Fail/2019-02-02
            api-version: 2019-08-01
            resourceGroupName: MyGroup
            solutionName: default
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/MyGroup/providers/Microsoft.Security/IoTSecuritySolutions/Locations/eastus/default/IoT_Bruteforce_Fail/2019-02-02
                name: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/MyGroup/providers/Microsoft.Security/IoTSecuritySolutions/Locations/eastus/default/IoT_Bruteforce_Fail/2019-02-02
                properties:
                  actionTaken: Detected
                  aggregatedDateUtc: 2019-02-02
                  alertDisplayName: Failed Bruteforce
                  alertType: IoT_Bruteforce_Fail
                  count: 50
                  description: Multiple unsuccsseful login attempts identified. A
                    Bruteforce attack on the device failed.
                  effectedResourceType: IoT Device
                  logAnalyticsQuery: "SecurityAlert | where tolower(ResourceId) ==\
                    \ tolower('/subscriptions/b77ec8a9-04ed-48d2-a87a-e5887b978ba6/resourceGroups/IoT-Solution-DemoEnv/providers/Microsoft.Devices/IotHubs/rtogm-hub')\
                    \ and tolower(AlertName) == tolower('Custom Alert - number of\
                    \ device to cloud messages in MQTT protocol is not in the allowed\
                    \ range') | extend DeviceId=parse_json(ExtendedProperties)['DeviceId']\
                    \ | project DeviceId, TimeGenerated, DisplayName, AlertSeverity,\
                    \ Description, RemediationSteps, ExtendedProperties"
                  remediationSteps: ""
                  reportedSeverity: Low
                  systemSource: Devices
                  topDevicesList:
                  - alertsCount: 100
                    deviceId: testDevice1
                    lastOccurrence: 10:42
                  - alertsCount: 80
                    deviceId: testDevice2
                    lastOccurrence: 15:42
                  vendorName: Microsoft
                type: Microsoft.Security/IoTSecurityAggregatedAlert
      x-openapi-router-controller: openapi_server.controllers.aggregated_alert_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/iotSecuritySolutions/{solutionName}/analyticsModels/default/aggregatedAlerts/{aggregatedAlertName}/dismiss
  : post:
      description: Use this method to dismiss an aggregated IoT Security Solution
        Alert.
      operationId: iot_security_solutions_analytics_aggregated_alert_dismiss
      parameters:
      - description: API version for the operation
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Azure subscription ID
        in: path
        name: subscriptionId
        required: true
        schema:
          pattern: "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$"
          type: string
      - description: The name of the resource group within the user's subscription.
          The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the IoT Security solution.
        in: path
        name: solution_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Identifier of the aggregated alert.
        in: path
        name: aggregated_alert_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content: {}
          description: This aggregate alert is permanently dismissed.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IotSecuritySolutionAnalytics_List_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Aggregated Alert
      x-ms-examples:
        Dismiss an aggregated IoT Security Solution Alert:
          parameters:
            aggregatedAlertName: IoT_Bruteforce_Fail/2019-02-02/dismiss
            api-version: 2019-08-01
            resourceGroupName: IoTEdgeResources
            solutionName: default
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200": {}
      x-openapi-router-controller: openapi_server.controllers.aggregated_alert_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/iotSecuritySolutions/{solutionName}/analyticsModels/default/aggregatedRecommendations
  : get:
      description: Use this method to get the list of aggregated security analytics
        recommendations of yours IoT Security solution.
      operationId: iot_security_solutions_analytics_recommendation_list
      parameters:
      - description: API version for the operation
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Azure subscription ID
        in: path
        name: subscriptionId
        required: true
        schema:
          pattern: "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$"
          type: string
      - description: The name of the resource group within the user's subscription.
          The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the IoT Security solution.
        in: path
        name: solution_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Number of results to retrieve.
        in: query
        name: $top
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IoTSecurityAggregatedRecommendationList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IotSecuritySolutionAnalytics_List_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Aggregated Recommendation
      x-ms-examples:
        Get the list of aggregated security analytics recommendations of yours IoT Security solution:
          parameters:
            api-version: 2019-08-01
            resourceGroupName: IoTEdgeResources
            solutionName: default
            subscriptionId: 075423e9-7d33-4166-8bdf-3920b04e3735
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/075423e9-7d33-4166-8bdf-3920b04e3735/resourceGroups/IoTEdgeResources/providers/Microsoft.Security/IoTSecuritySolutions/Locations/eastus/default/OpenPortsOnDevice
                  name: /subscriptions/075423e9-7d33-4166-8bdf-3920b04e3735/resourceGroups/IoTEdgeResources/providers/Microsoft.Security/IoTSecuritySolutions/Locations/eastus/default/OpenPortsOnDevice
                  properties:
                    description: An allowed firewall policy was found in main firewall
                      Chains (INPUT/OUTPUT). The policy should Deny all traffic by
                      default define rules to allow necessary communication to/from
                      the device
                    detectedBy: Microsoft
                    healthyDevices: 10000
                    logAnalyticsQuery: SecurityRecommendation | where tolower(AssessedResourceId)
                      == tolower('/subscriptions/075423e9-7d33-4166-8bdf-3920b04e3735/resourceGroups/IoTEdgeResources/providers/Microsoft.Devices/IotHubs/t-ofdadu-hub')
                      and tolower(RecommendationName) == tolower('OpenPortsOnDevice')
                    recommendationDisplayName: Permissive firewall policy in one of
                      the chains was found
                    recommendationName: OpenPortsOnDevice
                    recommendationTypeId: "{20ff7fc3-e762-44dd-bd96-b71116dcdc23}"
                    remediationSteps: ""
                    reportedSeverity: Low
                    unhealthyDeviceCount: 200
                  type: Microsoft.Security/IoTSecurityAggregatedRecommendation
                - id: /subscriptions/075423e9-7d33-4166-8bdf-3920b04e3735/resourceGroups/IoTEdgeResources/providers/Microsoft.Security/IoTSecuritySolutions/Locations/eastus/default/TooLargeIPRange
                  name: /subscriptions/075423e9-7d33-4166-8bdf-3920b04e3735/resourceGroups/IoTEdgeResources/providers/Microsoft.Security/IoTSecuritySolutions/Locations/eastus/default/IoT_InstallAgent
                  properties:
                    description: An allow IP filter rule source IP range is too large.
                      Overly permissive rules can expose your IoT hub to malicious
                      actors.
                    detectedBy: Microsoft
                    healthyDevices: 130000
                    logAnalyticsQuery: SecurityRecommendation | where tolower(AssessedResourceId)
                      == tolower('/subscriptions/075423e9-7d33-4166-8bdf-3920b04e3735/resourceGroups/IoTEdgeResources/providers/Microsoft.Devices/IotHubs/t-ofdadu-hub')
                      and tolower(RecommendationName) == tolower('TooLargeIPRange')
                    recommendationDisplayName: Permissive firewall policy in one of
                      the chains was found
                    recommendationName: TooLargeIPRange
                    recommendationTypeId: "{20ff7fc3-e762-44dd-bd96-b71116dcdc23}"
                    remediationSteps: ""
                    reportedSeverity: High
                    unhealthyDeviceCount: 1
                  type: Microsoft.Security/IoTSecurityAggregatedRecommendation
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.aggregated_recommendation_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/iotSecuritySolutions/{solutionName}/analyticsModels/default/aggregatedRecommendations/{aggregatedRecommendationName}
  : get:
      description: Use this method to get the aggregated security analytics recommendation
        of yours IoT Security solution. This aggregation is performed by recommendation
        name.
      operationId: iot_security_solutions_analytics_recommendation_get
      parameters:
      - description: API version for the operation
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Azure subscription ID
        in: path
        name: subscriptionId
        required: true
        schema:
          pattern: "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$"
          type: string
      - description: The name of the resource group within the user's subscription.
          The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the IoT Security solution.
        in: path
        name: solution_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the recommendation aggregated for this query.
        in: path
        name: aggregatedRecommendationName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IoTSecurityAggregatedRecommendation'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IotSecuritySolutionAnalytics_List_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Aggregated Recommendation
      x-ms-examples:
        Get the aggregated security analytics recommendation of yours IoT Security solution:
          parameters:
            aggregatedRecommendationName: OpenPortsOnDevice
            api-version: 2019-08-01
            resourceGroupName: IoTEdgeResources
            solutionName: default
            subscriptionId: 075423e9-7d33-4166-8bdf-3920b04e3735
          responses:
            "200":
              body:
                id: /subscriptions/075423e9-7d33-4166-8bdf-3920b04e3735/resourceGroups/IoTEdgeResources/providers/Microsoft.Security/IoTSecuritySolutions/Locations/eastus/default/OpenPortsOnDevice
                name: /subscriptions/075423e9-7d33-4166-8bdf-3920b04e3735/resourceGroups/IoTEdgeResources/providers/Microsoft.Security/IoTSecuritySolutions/Locations/eastus/default/OpenPortsOnDevice
                properties:
                  description: An allowed firewall policy was found in main firewall
                    Chains (INPUT/OUTPUT). The policy should Deny all traffic by default
                    define rules to allow necessary communication to/from the device
                  detectedBy: Microsoft
                  healthyDevices: 10000
                  logAnalyticsQuery: SecurityRecommendation | where tolower(AssessedResourceId)
                    == tolower('/subscriptions/075423e9-7d33-4166-8bdf-3920b04e3735/resourceGroups/IoTEdgeResources/providers/Microsoft.Devices/IotHubs/t-ofdadu-hub')
                    and tolower(RecommendationName) == tolower('OpenPortsOnDevice')
                  recommendationDisplayName: Permissive firewall policy in one of
                    the chains was found
                  recommendationName: OpenPortsOnDevice
                  recommendationTypeId: "{20ff7fc3-e762-44dd-bd96-b71116dcdc23}"
                  remediationSteps: ""
                  reportedSeverity: Low
                  unhealthyDeviceCount: 200
                type: Microsoft.Security/IoTSecurityAggregatedRecommendation
      x-openapi-router-controller: openapi_server.controllers.aggregated_recommendation_controller
components:
  parameters:
    AggregatedAlertName:
      description: Identifier of the aggregated alert.
      in: path
      name: aggregatedAlertName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    AggregatedRecommendationName:
      description: Name of the recommendation aggregated for this query.
      in: path
      name: aggregatedRecommendationName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SolutionName:
      description: The name of the IoT Security solution.
      in: path
      name: solutionName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  schemas:
    IoTSecurityAggregatedAlert:
      allOf:
      - description: Describes an Azure resource.
        properties:
          id:
            description: Resource Id
            readOnly: true
            type: string
          name:
            description: Resource name
            readOnly: true
            type: string
          type:
            description: Resource type
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      - $ref: '#/components/schemas/TagsResource'
      description: Security Solution Aggregated Alert information
      example:
        properties:
          alertType: alertType
          topDevicesList:
          - alertsCount: 6
            lastOccurrence: lastOccurrence
            deviceId: deviceId
          - alertsCount: 6
            lastOccurrence: lastOccurrence
            deviceId: deviceId
          count: 0
          description: description
          vendorName: vendorName
          alertDisplayName: alertDisplayName
          actionTaken: actionTaken
          systemSource: systemSource
          reportedSeverity: Informational
          remediationSteps: remediationSteps
          aggregatedDateUtc: 2000-01-23
          logAnalyticsQuery: logAnalyticsQuery
          effectedResourceType: effectedResourceType
      properties:
        properties:
          $ref: '#/components/schemas/IoTSecurityAggregatedAlertProperties'
      title: IoTSecurityAggregatedAlert
    IoTSecurityAggregatedAlertList:
      description: List of IoT Security solution aggregated alert data.
      example:
        value:
        - properties:
            alertType: alertType
            topDevicesList:
            - alertsCount: 6
              lastOccurrence: lastOccurrence
              deviceId: deviceId
            - alertsCount: 6
              lastOccurrence: lastOccurrence
              deviceId: deviceId
            count: 0
            description: description
            vendorName: vendorName
            alertDisplayName: alertDisplayName
            actionTaken: actionTaken
            systemSource: systemSource
            reportedSeverity: Informational
            remediationSteps: remediationSteps
            aggregatedDateUtc: 2000-01-23
            logAnalyticsQuery: logAnalyticsQuery
            effectedResourceType: effectedResourceType
        - properties:
            alertType: alertType
            topDevicesList:
            - alertsCount: 6
              lastOccurrence: lastOccurrence
              deviceId: deviceId
            - alertsCount: 6
              lastOccurrence: lastOccurrence
              deviceId: deviceId
            count: 0
            description: description
            vendorName: vendorName
            alertDisplayName: alertDisplayName
            actionTaken: actionTaken
            systemSource: systemSource
            reportedSeverity: Informational
            remediationSteps: remediationSteps
            aggregatedDateUtc: 2000-01-23
            logAnalyticsQuery: logAnalyticsQuery
            effectedResourceType: effectedResourceType
        nextLink: nextLink
      properties:
        nextLink:
          description: "When there is too much alert data for one page, use this URI\
            \ to fetch the next page."
          readOnly: true
          title: nextLink
          type: string
        value:
          description: List of aggregated alerts data.
          items:
            $ref: '#/components/schemas/IoTSecurityAggregatedAlert'
          title: value
          type: array
      required:
      - value
      title: IoTSecurityAggregatedAlertList
      type: object
    IoTSecurityAggregatedAlertProperties:
      description: IoT Security solution aggregated alert details.
      example:
        alertType: alertType
        topDevicesList:
        - alertsCount: 6
          lastOccurrence: lastOccurrence
          deviceId: deviceId
        - alertsCount: 6
          lastOccurrence: lastOccurrence
          deviceId: deviceId
        count: 0
        description: description
        vendorName: vendorName
        alertDisplayName: alertDisplayName
        actionTaken: actionTaken
        systemSource: systemSource
        reportedSeverity: Informational
        remediationSteps: remediationSteps
        aggregatedDateUtc: 2000-01-23
        logAnalyticsQuery: logAnalyticsQuery
        effectedResourceType: effectedResourceType
      properties:
        actionTaken:
          description: IoT Security solution alert response.
          readOnly: true
          title: actionTaken
          type: string
        aggregatedDateUtc:
          description: Date of detection.
          format: date
          readOnly: true
          title: aggregatedDateUtc
          type: string
        alertDisplayName:
          description: Display name of the alert type.
          readOnly: true
          title: alertDisplayName
          type: string
        alertType:
          description: Name of the alert type.
          readOnly: true
          title: alertType
          type: string
        count:
          description: Number of alerts occurrences within the aggregated time window.
          readOnly: true
          title: count
          type: integer
        description:
          description: Description of the suspected vulnerability and meaning.
          readOnly: true
          title: description
          type: string
        effectedResourceType:
          description: Azure resource ID of the resource that received the alerts.
          readOnly: true
          title: effectedResourceType
          type: string
        logAnalyticsQuery:
          description: Log analytics query for getting the list of affected devices/alerts.
          readOnly: true
          title: logAnalyticsQuery
          type: string
        remediationSteps:
          description: Recommended steps for remediation.
          readOnly: true
          title: remediationSteps
          type: string
        reportedSeverity:
          description: Assessed alert severity.
          enum:
          - Informational
          - Low
          - Medium
          - High
          readOnly: true
          title: reportedSeverity
          type: string
          x-ms-enum:
            modelAsString: true
            name: reportedSeverity
            values:
            - value: Informational
            - value: Low
            - value: Medium
            - value: High
        systemSource:
          description: "The type of the alerted resource (Azure, Non-Azure)."
          readOnly: true
          title: systemSource
          type: string
        topDevicesList:
          description: "10 devices with the highest number of occurrences of this\
            \ alert type, on this day."
          items:
            $ref: '#/components/schemas/IoTSecurityAggregatedAlertProperties_topDevicesList_inner'
          readOnly: true
          title: topDevicesList
          type: array
        vendorName:
          description: Name of the organization that raised the alert.
          readOnly: true
          title: vendorName
          type: string
      title: IoTSecurityAggregatedAlertProperties
      type: object
    IoTSecurityAggregatedRecommendation:
      allOf:
      - description: Describes an Azure resource.
        properties:
          id:
            description: Resource Id
            readOnly: true
            type: string
          name:
            description: Resource name
            readOnly: true
            type: string
          type:
            description: Resource type
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      - $ref: '#/components/schemas/TagsResource'
      description: IoT Security solution recommendation information.
      example:
        properties:
          recommendationTypeId: recommendationTypeId
          detectedBy: detectedBy
          reportedSeverity: Informational
          unhealthyDeviceCount: 6
          recommendationName: recommendationName
          remediationSteps: remediationSteps
          description: description
          logAnalyticsQuery: logAnalyticsQuery
          healthyDevices: 0
          recommendationDisplayName: recommendationDisplayName
      properties:
        properties:
          $ref: '#/components/schemas/IoTSecurityAggregatedRecommendationProperties'
      title: IoTSecurityAggregatedRecommendation
    IoTSecurityAggregatedRecommendationList:
      description: List of IoT Security solution aggregated recommendations.
      example:
        value:
        - properties:
            recommendationTypeId: recommendationTypeId
            detectedBy: detectedBy
            reportedSeverity: Informational
            unhealthyDeviceCount: 6
            recommendationName: recommendationName
            remediationSteps: remediationSteps
            description: description
            logAnalyticsQuery: logAnalyticsQuery
            healthyDevices: 0
            recommendationDisplayName: recommendationDisplayName
        - properties:
            recommendationTypeId: recommendationTypeId
            detectedBy: detectedBy
            reportedSeverity: Informational
            unhealthyDeviceCount: 6
            recommendationName: recommendationName
            remediationSteps: remediationSteps
            description: description
            logAnalyticsQuery: logAnalyticsQuery
            healthyDevices: 0
            recommendationDisplayName: recommendationDisplayName
        nextLink: nextLink
      properties:
        nextLink:
          description: "When there is too much alert data for one page, use this URI\
            \ to fetch the next page."
          readOnly: true
          title: nextLink
          type: string
        value:
          description: List of aggregated recommendations data.
          items:
            $ref: '#/components/schemas/IoTSecurityAggregatedRecommendation'
          title: value
          type: array
      required:
      - value
      title: IoTSecurityAggregatedRecommendationList
      type: object
    IoTSecurityAggregatedRecommendationProperties:
      description: IoT Security solution aggregated recommendation information
      example:
        recommendationTypeId: recommendationTypeId
        detectedBy: detectedBy
        reportedSeverity: Informational
        unhealthyDeviceCount: 6
        recommendationName: recommendationName
        remediationSteps: remediationSteps
        description: description
        logAnalyticsQuery: logAnalyticsQuery
        healthyDevices: 0
        recommendationDisplayName: recommendationDisplayName
      properties:
        description:
          description: Description of the suspected vulnerability and meaning.
          readOnly: true
          title: description
          type: string
        detectedBy:
          description: Name of the organization that made the recommendation.
          readOnly: true
          title: detectedBy
          type: string
        healthyDevices:
          description: Number of healthy devices within the IoT Security solution.
          readOnly: true
          title: healthyDevices
          type: integer
        logAnalyticsQuery:
          description: Log analytics query for getting the list of affected devices/alerts.
          readOnly: true
          title: logAnalyticsQuery
          type: string
        recommendationDisplayName:
          description: Display name of the recommendation type.
          readOnly: true
          title: recommendationDisplayName
          type: string
        recommendationName:
          description: Name of the recommendation.
          title: recommendationName
          type: string
        recommendationTypeId:
          description: Recommendation-type GUID.
          readOnly: true
          title: recommendationTypeId
          type: string
        remediationSteps:
          description: Recommended steps for remediation
          readOnly: true
          title: remediationSteps
          type: string
        reportedSeverity:
          description: Assessed recommendation severity.
          enum:
          - Informational
          - Low
          - Medium
          - High
          readOnly: true
          title: reportedSeverity
          type: string
          x-ms-enum:
            modelAsString: true
            name: reportedSeverity
            values:
            - value: Informational
            - value: Low
            - value: Medium
            - value: High
        unhealthyDeviceCount:
          description: Number of unhealthy devices within the IoT Security solution.
          readOnly: true
          title: unhealthyDeviceCount
          type: integer
      title: IoTSecurityAggregatedRecommendationProperties
      type: object
    IoTSecurityAlertedDevice:
      description: Statistical information about the number of alerts per device during
        last set number of days.
      example:
        alertsCount: 2
        deviceId: deviceId
      properties:
        alertsCount:
          description: Number of alerts raised for this device.
          readOnly: true
          title: alertsCount
          type: integer
        deviceId:
          description: Device identifier.
          readOnly: true
          title: deviceId
          type: string
      title: IoTSecurityAlertedDevice
      type: object
    IoTSecurityAlertedDevicesList:
      description: List of devices with open alerts including the count of alerts
        per device.
      items:
        $ref: '#/components/schemas/IoTSecurityAlertedDevice'
      title: IoTSecurityAlertedDevicesList
      type: array
    IoTSecurityDeviceAlert:
      description: Statistical information about the number of alerts per alert type
        during last set number of days
      example:
        alertDisplayName: alertDisplayName
        alertsCount: 5
        reportedSeverity: Informational
      properties:
        alertDisplayName:
          description: Display name of the alert
          readOnly: true
          title: alertDisplayName
          type: string
        alertsCount:
          description: Number of alerts raised for this alert type.
          readOnly: true
          title: alertsCount
          type: integer
        reportedSeverity:
          description: Assessed Alert severity.
          enum:
          - Informational
          - Low
          - Medium
          - High
          readOnly: true
          title: reportedSeverity
          type: string
          x-ms-enum:
            modelAsString: true
            name: reportedSeverity
            values:
            - value: Informational
            - value: Low
            - value: Medium
            - value: High
      title: IoTSecurityDeviceAlert
      type: object
    IoTSecurityDeviceAlertsList:
      description: List of alerts with the count of raised alerts
      items:
        $ref: '#/components/schemas/IoTSecurityDeviceAlert'
      title: IoTSecurityDeviceAlertsList
      type: array
    IoTSecurityDeviceRecommendation:
      description: "Statistical information about the number of recommendations per\
        \ device, per recommendation type."
      example:
        devicesCount: 5
        reportedSeverity: Informational
        recommendationDisplayName: recommendationDisplayName
      properties:
        devicesCount:
          description: Number of devices with this recommendation.
          readOnly: true
          title: devicesCount
          type: integer
        recommendationDisplayName:
          description: Display name of the recommendation.
          readOnly: true
          title: recommendationDisplayName
          type: string
        reportedSeverity:
          description: Assessed recommendation severity.
          enum:
          - Informational
          - Low
          - Medium
          - High
          readOnly: true
          title: reportedSeverity
          type: string
          x-ms-enum:
            modelAsString: true
            name: reportedSeverity
            values:
            - value: Informational
            - value: Low
            - value: Medium
            - value: High
      title: IoTSecurityDeviceRecommendation
      type: object
    IoTSecurityDeviceRecommendationsList:
      description: "List of aggregated recommendation data, per recommendation type,\
        \ per device."
      items:
        $ref: '#/components/schemas/IoTSecurityDeviceRecommendation'
      title: IoTSecurityDeviceRecommendationsList
      type: array
    IoTSecuritySolutionAnalyticsModel:
      allOf:
      - description: Describes an Azure resource.
        properties:
          id:
            description: Resource Id
            readOnly: true
            type: string
          name:
            description: Resource name
            readOnly: true
            type: string
          type:
            description: Resource type
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: Security analytics of your IoT Security solution
      example:
        properties:
          devicesMetrics:
          - date: 2000-01-23T04:56:07.000+00:00
            devicesMetrics:
              high: 0
              low: 6
              medium: 1
          - date: 2000-01-23T04:56:07.000+00:00
            devicesMetrics:
              high: 0
              low: 6
              medium: 1
          mostPrevalentDeviceAlerts:
          - alertDisplayName: alertDisplayName
            alertsCount: 5
            reportedSeverity: Informational
          - alertDisplayName: alertDisplayName
            alertsCount: 5
            reportedSeverity: Informational
          unhealthyDeviceCount: 7
          metrics:
            high: 0
            low: 6
            medium: 1
          mostPrevalentDeviceRecommendations:
          - devicesCount: 5
            reportedSeverity: Informational
            recommendationDisplayName: recommendationDisplayName
          - devicesCount: 5
            reportedSeverity: Informational
            recommendationDisplayName: recommendationDisplayName
          topAlertedDevices:
          - alertsCount: 2
            deviceId: deviceId
          - alertsCount: 2
            deviceId: deviceId
      properties:
        properties:
          $ref: '#/components/schemas/IoTSecuritySolutionAnalyticsModelProperties'
      title: IoTSecuritySolutionAnalyticsModel
    IoTSecuritySolutionAnalyticsModelList:
      description: List of Security analytics of your IoT Security solution
      example:
        value:
        - properties:
            devicesMetrics:
            - date: 2000-01-23T04:56:07.000+00:00
              devicesMetrics:
                high: 0
                low: 6
                medium: 1
            - date: 2000-01-23T04:56:07.000+00:00
              devicesMetrics:
                high: 0
                low: 6
                medium: 1
            mostPrevalentDeviceAlerts:
            - alertDisplayName: alertDisplayName
              alertsCount: 5
              reportedSeverity: Informational
            - alertDisplayName: alertDisplayName
              alertsCount: 5
              reportedSeverity: Informational
            unhealthyDeviceCount: 7
            metrics:
              high: 0
              low: 6
              medium: 1
            mostPrevalentDeviceRecommendations:
            - devicesCount: 5
              reportedSeverity: Informational
              recommendationDisplayName: recommendationDisplayName
            - devicesCount: 5
              reportedSeverity: Informational
              recommendationDisplayName: recommendationDisplayName
            topAlertedDevices:
            - alertsCount: 2
              deviceId: deviceId
            - alertsCount: 2
              deviceId: deviceId
        - properties:
            devicesMetrics:
            - date: 2000-01-23T04:56:07.000+00:00
              devicesMetrics:
                high: 0
                low: 6
                medium: 1
            - date: 2000-01-23T04:56:07.000+00:00
              devicesMetrics:
                high: 0
                low: 6
                medium: 1
            mostPrevalentDeviceAlerts:
            - alertDisplayName: alertDisplayName
              alertsCount: 5
              reportedSeverity: Informational
            - alertDisplayName: alertDisplayName
              alertsCount: 5
              reportedSeverity: Informational
            unhealthyDeviceCount: 7
            metrics:
              high: 0
              low: 6
              medium: 1
            mostPrevalentDeviceRecommendations:
            - devicesCount: 5
              reportedSeverity: Informational
              recommendationDisplayName: recommendationDisplayName
            - devicesCount: 5
              reportedSeverity: Informational
              recommendationDisplayName: recommendationDisplayName
            topAlertedDevices:
            - alertsCount: 2
              deviceId: deviceId
            - alertsCount: 2
              deviceId: deviceId
        nextLink: nextLink
      properties:
        nextLink:
          description: "When there is too much alert data for one page, use this URI\
            \ to fetch the next page."
          readOnly: true
          title: nextLink
          type: string
        value:
          description: List of Security analytics of your IoT Security solution
          items:
            $ref: '#/components/schemas/IoTSecuritySolutionAnalyticsModel'
          title: value
          type: array
      required:
      - value
      title: IoTSecuritySolutionAnalyticsModelList
      type: object
    IoTSecuritySolutionAnalyticsModelProperties:
      description: Security analytics properties of your IoT Security solution
      example:
        devicesMetrics:
        - date: 2000-01-23T04:56:07.000+00:00
          devicesMetrics:
            high: 0
            low: 6
            medium: 1
        - date: 2000-01-23T04:56:07.000+00:00
          devicesMetrics:
            high: 0
            low: 6
            medium: 1
        mostPrevalentDeviceAlerts:
        - alertDisplayName: alertDisplayName
          alertsCount: 5
          reportedSeverity: Informational
        - alertDisplayName: alertDisplayName
          alertsCount: 5
          reportedSeverity: Informational
        unhealthyDeviceCount: 7
        metrics:
          high: 0
          low: 6
          medium: 1
        mostPrevalentDeviceRecommendations:
        - devicesCount: 5
          reportedSeverity: Informational
          recommendationDisplayName: recommendationDisplayName
        - devicesCount: 5
          reportedSeverity: Informational
          recommendationDisplayName: recommendationDisplayName
        topAlertedDevices:
        - alertsCount: 2
          deviceId: deviceId
        - alertsCount: 2
          deviceId: deviceId
      properties:
        devicesMetrics:
          description: List of device metrics by the aggregation date.
          items:
            $ref: '#/components/schemas/IoTSecuritySolutionAnalyticsModelProperties_devicesMetrics_inner'
          readOnly: true
          title: devicesMetrics
          type: array
        metrics:
          $ref: '#/components/schemas/IoTSeverityMetrics'
        mostPrevalentDeviceAlerts:
          description: List of alerts with the count of raised alerts
          items:
            $ref: '#/components/schemas/IoTSecurityDeviceAlert'
          title: IoTSecurityDeviceAlertsList
          type: array
        mostPrevalentDeviceRecommendations:
          description: "List of aggregated recommendation data, per recommendation\
            \ type, per device."
          items:
            $ref: '#/components/schemas/IoTSecurityDeviceRecommendation'
          title: IoTSecurityDeviceRecommendationsList
          type: array
        topAlertedDevices:
          description: List of devices with open alerts including the count of alerts
            per device.
          items:
            $ref: '#/components/schemas/IoTSecurityAlertedDevice'
          title: IoTSecurityAlertedDevicesList
          type: array
        unhealthyDeviceCount:
          description: Number of unhealthy devices within your IoT Security solution.
          readOnly: true
          title: unhealthyDeviceCount
          type: integer
      title: IoTSecuritySolutionAnalyticsModelProperties
      type: object
    IoTSeverityMetrics:
      description: IoT Security solution analytics severity metrics.
      example:
        high: 0
        low: 6
        medium: 1
      properties:
        high:
          description: Count of high severity alerts/recommendations.
          title: high
          type: integer
        low:
          description: Count of low severity alerts/recommendations.
          title: low
          type: integer
        medium:
          description: Count of medium severity alerts/recommendations.
          title: medium
          type: integer
      title: IoTSeverityMetrics
      type: object
    TagsResource:
      description: "A container holding only the Tags for a resource, allowing the\
        \ user to update the tags."
      properties:
        tags:
          additionalProperties:
            type: string
          description: Resource tags
          title: tags
          type: object
      title: TagsResource
      type: object
    IotSecuritySolutionAnalytics_List_default_response_error:
      description: Error details.
      example:
        code: code
        message: message
      properties:
        code:
          description: An identifier for the error. Codes are invariant and are intended
            to be consumed programmatically.
          readOnly: true
          title: code
          type: string
        message:
          description: "A message describing the error, intended to be suitable for\
            \ display in a user interface."
          readOnly: true
          title: message
          type: string
      title: IotSecuritySolutionAnalytics_List_default_response_error
      type: object
      x-ms-external: true
    IotSecuritySolutionAnalytics_List_default_response:
      description: Error response structure.
      example:
        error:
          code: code
          message: message
      properties:
        error:
          $ref: '#/components/schemas/IotSecuritySolutionAnalytics_List_default_response_error'
      title: IotSecuritySolutionAnalytics_List_default_response
      type: object
      x-ms-external: true
    IoTSecurityAggregatedAlertProperties_topDevicesList_inner:
      example:
        alertsCount: 6
        lastOccurrence: lastOccurrence
        deviceId: deviceId
      properties:
        alertsCount:
          description: Number of alerts raised for this device.
          readOnly: true
          title: alertsCount
          type: integer
        deviceId:
          description: Name of the device.
          readOnly: true
          title: deviceId
          type: string
        lastOccurrence:
          description: "Most recent time this alert was raised for this device, on\
            \ this day."
          readOnly: true
          title: lastOccurrence
          type: string
      title: IoTSecurityAggregatedAlertProperties_topDevicesList_inner
      type: object
    IoTSecuritySolutionAnalyticsModelProperties_devicesMetrics_inner:
      example:
        date: 2000-01-23T04:56:07.000+00:00
        devicesMetrics:
          high: 0
          low: 6
          medium: 1
      properties:
        date:
          description: Aggregation of IoT Security solution device alert metrics by
            date.
          format: date-time
          title: date
          type: string
        devicesMetrics:
          $ref: '#/components/schemas/IoTSeverityMetrics'
      title: IoTSecuritySolutionAnalyticsModelProperties_devicesMetrics_inner
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
