openapi: 3.0.1
info:
  description: The HDInsight Management Client.
  title: HDInsightManagementClient
  version: 2015-03-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/hdinsight/resource-manager/Microsoft.HDInsight/preview/2015-03-01-preview/cluster.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: hdinsight-cluster
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.HDInsight/clusters:
    get:
      description: Lists all the HDInsight clusters under the subscription.
      operationId: Clusters_List
      parameters:
      - description: The subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The HDInsight client API Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterListResult'
          description: OK response definition.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Clusters_List_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Clusters
      x-ms-examples:
        Get All Hadoop on Linux clusters:
          parameters:
            api-version: 2015-03-01-preview
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - etag: f0212a39-b827-45e0-9ffa-4f5232e58851
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.HDInsight/clusters/cluster1
                  location: West US
                  name: cluster1
                  properties:
                    clusterDefinition:
                      blueprint: https://blueprints.azurehdinsight.net/hadoop-3.5.1000.0.9243893.json
                      kind: hadoop
                    clusterState: Running
                    clusterVersion: 3.5.1000.0
                    computeProfile:
                      roles:
                      - hardwareProfile:
                          vmSize: Standard_D3_V2
                        name: headnode
                        osProfile:
                          linuxOperatingSystemProfile:
                            username: pulkitssh
                        targetInstanceCount: 2
                      - hardwareProfile:
                          vmSize: Standard_D3_V2
                        name: workernode
                        osProfile:
                          linuxOperatingSystemProfile:
                            username: pulkitssh
                        targetInstanceCount: 4
                      - hardwareProfile:
                          vmSize: Medium
                        name: zookeepernode
                        osProfile:
                          linuxOperatingSystemProfile:
                            username: pulkitssh
                        targetInstanceCount: 3
                    connectivityEndpoints:
                    - location: cluster1-ssh.azurehdinsight.net
                      name: SSH
                      port: 22
                      protocol: TCP
                    - location: cluster1.azurehdinsight.net
                      name: HTTPS
                      port: 443
                      protocol: TCP
                    createdDate: 2017-01-11T18:58:26.187
                    osType: Linux
                    provisioningState: Succeeded
                    quotaInfo:
                      coresUsed: 24
                    tier: Standard
                  tags:
                    key1: val1
                  type: Microsoft.HDInsight/clusters
                - etag: f0212a39-b827-45e0-9ffa-4f5232e58851
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.HDInsight/clusters/cluster2
                  location: West US
                  name: cluster2
                  properties:
                    clusterDefinition:
                      blueprint: https://blueprints.azurehdinsight.net/hadoop-3.5.1000.0.9243893.json
                      kind: hadoop
                    clusterState: Running
                    clusterVersion: 3.5.1000.0
                    computeProfile:
                      roles:
                      - hardwareProfile:
                          vmSize: Standard_D3_V2
                        name: headnode
                        osProfile:
                          linuxOperatingSystemProfile:
                            username: pulkitssh
                        targetInstanceCount: 2
                      - hardwareProfile:
                          vmSize: Standard_D3_V2
                        name: workernode
                        osProfile:
                          linuxOperatingSystemProfile:
                            username: pulkitssh
                        targetInstanceCount: 4
                      - hardwareProfile:
                          vmSize: Medium
                        name: zookeepernode
                        osProfile:
                          linuxOperatingSystemProfile:
                            username: pulkitssh
                        targetInstanceCount: 3
                    connectivityEndpoints:
                    - location: cluster2-ssh.azurehdinsight.net
                      name: SSH
                      port: 22
                      protocol: TCP
                    - location: cluster2.azurehdinsight.net
                      name: HTTPS
                      port: 443
                      protocol: TCP
                    createdDate: 2017-01-11T18:58:26.187
                    osType: Linux
                    provisioningState: Succeeded
                    quotaInfo:
                      coresUsed: 24
                    tier: Standard
                  tags:
                    key1: val1
                  type: Microsoft.HDInsight/clusters
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters:
    get:
      description: Lists the HDInsight clusters in a resource group.
      operationId: Clusters_ListByResourceGroup
      parameters:
      - description: The subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The HDInsight client API Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterListResult'
          description: OK response definition.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Clusters_List_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Clusters
      x-ms-examples:
        Get All Hadoop on Linux clusters in a resource group:
          parameters:
            api-version: 2015-03-01-preview
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - etag: f0212a39-b827-45e0-9ffa-4f5232e58851
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.HDInsight/clusters/cluster1
                  location: West US
                  name: cluster1
                  properties:
                    clusterDefinition:
                      blueprint: https://blueprints.azurehdinsight.net/hadoop-3.5.1000.0.9243893.json
                      kind: hadoop
                    clusterState: Running
                    clusterVersion: 3.5.1000.0
                    computeProfile:
                      roles:
                      - hardwareProfile:
                          vmSize: Standard_D3_V2
                        name: headnode
                        osProfile:
                          linuxOperatingSystemProfile:
                            username: pulkitssh
                        targetInstanceCount: 2
                      - hardwareProfile:
                          vmSize: Standard_D3_V2
                        name: workernode
                        osProfile:
                          linuxOperatingSystemProfile:
                            username: pulkitssh
                        targetInstanceCount: 4
                      - hardwareProfile:
                          vmSize: Medium
                        name: zookeepernode
                        osProfile:
                          linuxOperatingSystemProfile:
                            username: pulkitssh
                        targetInstanceCount: 3
                    connectivityEndpoints:
                    - location: cluster1-ssh.azurehdinsight.net
                      name: SSH
                      port: 22
                      protocol: TCP
                    - location: cluster1.azurehdinsight.net
                      name: HTTPS
                      port: 443
                      protocol: TCP
                    createdDate: 2017-01-11T18:58:26.187
                    osType: Linux
                    provisioningState: Succeeded
                    quotaInfo:
                      coresUsed: 24
                    tier: Standard
                  tags:
                    key1: val1
                  type: Microsoft.HDInsight/clusters
                - etag: f0212a39-b827-45e0-9ffa-4f5232e58851
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.HDInsight/clusters/cluster2
                  location: West US
                  name: cluster2
                  properties:
                    clusterDefinition:
                      blueprint: https://blueprints.azurehdinsight.net/hadoop-3.5.1000.0.9243893.json
                      kind: hadoop
                    clusterState: Running
                    clusterVersion: 3.5.1000.0
                    computeProfile:
                      roles:
                      - hardwareProfile:
                          vmSize: Standard_D3_V2
                        name: headnode
                        osProfile:
                          linuxOperatingSystemProfile:
                            username: pulkitssh
                        targetInstanceCount: 2
                      - hardwareProfile:
                          vmSize: Standard_D3_V2
                        name: workernode
                        osProfile:
                          linuxOperatingSystemProfile:
                            username: pulkitssh
                        targetInstanceCount: 4
                      - hardwareProfile:
                          vmSize: Medium
                        name: zookeepernode
                        osProfile:
                          linuxOperatingSystemProfile:
                            username: pulkitssh
                        targetInstanceCount: 3
                    connectivityEndpoints:
                    - location: cluster2-ssh.azurehdinsight.net
                      name: SSH
                      port: 22
                      protocol: TCP
                    - location: cluster2.azurehdinsight.net
                      name: HTTPS
                      port: 443
                      protocol: TCP
                    createdDate: 2017-01-11T18:58:26.187
                    osType: Linux
                    provisioningState: Succeeded
                    quotaInfo:
                      coresUsed: 24
                    tier: Standard
                  tags:
                    key1: val1
                  type: Microsoft.HDInsight/clusters
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}:
    delete:
      description: Deletes the specified HDInsight cluster.
      operationId: Clusters_Delete
      parameters:
      - description: The subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the cluster.
        in: path
        name: clusterName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The HDInsight client API Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Ok response definition.
        "202":
          content: {}
          description: Accepted response definition.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Clusters_List_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Clusters
      x-ms-examples:
        Delete Hadoop on Linux cluster:
          parameters:
            api-version: 2015-03-01-preview
            clusterName: cluster1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200": {}
            "202": {}
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
    get:
      description: Gets the specified cluster.
      operationId: Clusters_Get
      parameters:
      - description: The subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the cluster.
        in: path
        name: clusterName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The HDInsight client API Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cluster'
          description: OK response definition.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Clusters_List_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Clusters
      x-ms-examples:
        Get Hadoop on Linux cluster:
          parameters:
            api-version: 2015-03-01-preview
            clusterName: cluster1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: f0212a39-b827-45e0-9ffa-4f5232e58851
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.HDInsight/clusters/cluster1
                location: West US
                name: cluster1
                properties:
                  clusterDefinition:
                    blueprint: https://blueprints.azurehdinsight.net/hadoop-3.5.1000.0.9243893.json
                    kind: hadoop
                  clusterState: Running
                  clusterVersion: 3.5.1000.0
                  computeProfile:
                    roles:
                    - hardwareProfile:
                        vmSize: Standard_D3_V2
                      name: headnode
                      osProfile:
                        linuxOperatingSystemProfile:
                          username: sshuser
                      targetInstanceCount: 2
                    - hardwareProfile:
                        vmSize: Standard_D3_V2
                      name: workernode
                      osProfile:
                        linuxOperatingSystemProfile:
                          username: sshuser
                      targetInstanceCount: 4
                    - hardwareProfile:
                        vmSize: Medium
                      name: zookeepernode
                      osProfile:
                        linuxOperatingSystemProfile:
                          username: sshuser
                      targetInstanceCount: 3
                  connectivityEndpoints:
                  - location: cluster1-ssh.azurehdinsight.net
                    name: SSH
                    port: 22
                    protocol: TCP
                  - location: cluster1.azurehdinsight.net
                    name: HTTPS
                    port: 443
                    protocol: TCP
                  createdDate: 2017-01-11T18:58:26.187
                  osType: Linux
                  provisioningState: Succeeded
                  quotaInfo:
                    coresUsed: 24
                  tier: Standard
                tags:
                  key1: val1
                type: Microsoft.HDInsight/clusters
        Get Spark on Linux cluster:
          parameters:
            api-version: 2015-03-01-preview
            clusterName: cluster1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: 4cd8b5a9-ca9c-4239-9e5b-3916032e994c
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.HDInsight/clusters/cluster1
                location: West US
                name: cluster1
                properties:
                  clusterDefinition:
                    blueprint: https://blueprints.azurehdinsight.net/spark-3.5.1000.0.9625065.json
                    componentVersion:
                      Spark: "2.0"
                    kind: SPARK
                  clusterState: Running
                  clusterVersion: 3.5.1000.0
                  computeProfile:
                    roles:
                    - hardwareProfile:
                        vmSize: Standard_D12_V2
                      name: headnode
                      osProfile:
                        linuxOperatingSystemProfile:
                          username: sshuser
                      targetInstanceCount: 2
                    - hardwareProfile:
                        vmSize: Standard_D4_V2
                      name: workernode
                      osProfile:
                        linuxOperatingSystemProfile:
                          username: sshuser
                      targetInstanceCount: 4
                    - hardwareProfile:
                        vmSize: Medium
                      name: zookeepernode
                      osProfile:
                        linuxOperatingSystemProfile:
                          username: sshuser
                      targetInstanceCount: 3
                  connectivityEndpoints:
                  - location: cluster1-ssh.azurehdinsight.net
                    name: SSH
                    port: 22
                    protocol: TCP
                  - location: cluster1.azurehdinsight.net
                    name: HTTPS
                    port: 443
                    protocol: TCP
                  createdDate: 2017-03-03T08:35:07.323
                  osType: Linux
                  provisioningState: Succeeded
                  quotaInfo:
                    coresUsed: 40
                  tier: Standard
                tags:
                  key1: val1
                type: Microsoft.HDInsight/clusters
      x-accepts:
      - application/json
    patch:
      description: Patch HDInsight cluster with the specified parameters.
      operationId: Clusters_Update
      parameters:
      - description: The subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the cluster.
        in: path
        name: clusterName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The HDInsight client API Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClusterPatchParameters'
        description: The cluster patch request.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cluster'
          description: OK response definition.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Clusters_List_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Clusters
      x-ms-examples:
        Patch HDInsight Linux clusters:
          parameters:
            api-version: 2015-03-01-preview
            clusterName: cluster1
            parameters:
              tags:
                key1: val1
                key2: val2
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: f0212a39-b827-45e0-9ffa-4f5232e58851
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.HDInsight/clusters/cluster1
                location: West US
                name: cluster1
                properties:
                  clusterDefinition:
                    blueprint: https://blueprints.azurehdinsight.net/hadoop-3.5.1000.0.9243893.json
                    kind: hadoop
                  clusterState: Running
                  clusterVersion: 3.5.1000.0
                  computeProfile:
                    roles:
                    - hardwareProfile:
                        vmSize: Standard_D3_V2
                      name: headnode
                      osProfile:
                        linuxOperatingSystemProfile:
                          username: sshuser
                      targetInstanceCount: 2
                    - hardwareProfile:
                        vmSize: Standard_D3_V2
                      name: workernode
                      osProfile:
                        linuxOperatingSystemProfile:
                          username: sshuser
                      targetInstanceCount: 4
                    - hardwareProfile:
                        vmSize: Medium
                      name: zookeepernode
                      osProfile:
                        linuxOperatingSystemProfile:
                          username: sshuser
                      targetInstanceCount: 3
                  connectivityEndpoints:
                  - location: cluster1-ssh.azurehdinsight.net
                    name: SSH
                    port: 22
                    protocol: TCP
                  - location: cluster1.azurehdinsight.net
                    name: HTTPS
                    port: 443
                    protocol: TCP
                  createdDate: 2017-01-11T18:58:26.187
                  osType: Linux
                  provisioningState: Succeeded
                  quotaInfo:
                    coresUsed: 24
                  tier: Standard
                tags:
                  key1: val1
                  key2: val2
                type: Microsoft.HDInsight/clusters
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: Creates a new HDInsight cluster with the specified parameters.
      operationId: Clusters_Create
      parameters:
      - description: The subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the cluster.
        in: path
        name: clusterName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The HDInsight client API Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClusterCreateParametersExtended'
        description: The cluster create request.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cluster'
          description: OK response definition.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Clusters_List_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Clusters
      x-ms-examples:
        Create HDInsight cluster with Autoscale configuration:
          parameters:
            api-version: 2015-03-01-preview
            clusterName: cluster1
            parameters:
              properties:
                clusterDefinition:
                  componentVersion:
                    Hadoop: "2.7"
                  configurations:
                    gateway:
                      restAuthCredential.isEnabled: true
                      restAuthCredential.password: '**********'
                      restAuthCredential.username: admin
                  kind: hadoop
                clusterVersion: "3.6"
                computeProfile:
                  roles:
                  - autoscale:
                      recurrence:
                        schedule:
                        - days:
                          - Monday
                          - Tuesday
                          - Wednesday
                          - Thursday
                          - Friday
                          timeAndCapacity:
                            maxInstanceCount: 3
                            minInstanceCount: 3
                            time: 09:00
                        - days:
                          - Monday
                          - Tuesday
                          - Wednesday
                          - Thursday
                          - Friday
                          timeAndCapacity:
                            maxInstanceCount: 6
                            minInstanceCount: 6
                            time: 18:00
                        - days:
                          - Saturday
                          - Sunday
                          timeAndCapacity:
                            maxInstanceCount: 2
                            minInstanceCount: 2
                            time: 09:00
                        - days:
                          - Saturday
                          - Sunday
                          timeAndCapacity:
                            maxInstanceCount: 4
                            minInstanceCount: 4
                            time: 18:00
                        timeZone: China Standard Time
                    hardwareProfile:
                      vmSize: Standard_D4_V2
                    name: workernode
                    osProfile:
                      linuxOperatingSystemProfile:
                        password: '**********'
                        username: sshuser
                    scriptActions: []
                    targetInstanceCount: 4
                osType: Linux
                storageProfile:
                  storageaccounts:
                  - container: hdinsight-autoscale-tes-2019-06-18t05-49-16-591z
                    isDefault: true
                    key: storagekey
                    name: mystorage.blob.core.windows.net
                tier: Standard
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: fdf2a6e8-ce83-42cc-8c2d-0ceb11a370ff
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/zzy-test-rg/providers/Microsoft.HDInsight/clusters/cluster1
                location: East US
                name: cluster1
                properties:
                  clusterDefinition:
                    blueprint: https://blueprints.azurehdinsight.net/hadoop-4.0.1000.1.1910270459.json
                    componentVersion:
                      Hadoop: "3.1"
                    kind: HADOOP
                  clusterState: Running
                  clusterVersion: 4.0.1000.1
                  computeProfile:
                    roles:
                    - hardwareProfile:
                        vmSize: standard_d12_v2
                      name: headnode
                      osProfile:
                        linuxOperatingSystemProfile:
                          username: sshuser
                      targetInstanceCount: 2
                    - hardwareProfile:
                        vmSize: standard_d4_v2
                      name: workernode
                      osProfile:
                        linuxOperatingSystemProfile:
                          username: sshuser
                      targetInstanceCount: 4
                    - hardwareProfile:
                        vmSize: standard_a2_v2
                      name: zookeepernode
                      osProfile:
                        linuxOperatingSystemProfile:
                          username: sshuser
                      targetInstanceCount: 3
                  connectivityEndpoints:
                  - location: cluster1-ssh.azurehdinsight.net
                    name: SSH
                    port: 22
                    protocol: TCP
                  - location: cluster1.azurehdinsight.net
                    name: HTTPS
                    port: 443
                    protocol: TCP
                  createdDate: 2019-11-18T12:25:43.48
                  osType: Linux
                  provisioningState: Succeeded
                  quotaInfo:
                    coresUsed: 40
                  tier: Standard
                type: Microsoft.HDInsight/clusters
              headers:
                location: https://management.azure.com/subscriptions/subid/providers/Microsoft.HDInsight/pathToOperationResult
        Create Hadoop cluster with Azure Data Lake Storage Gen 2:
          parameters:
            api-version: 2015-03-01-preview
            clusterName: cluster1
            parameters:
              properties:
                clusterDefinition:
                  configurations:
                    gateway:
                      restAuthCredential.isEnabled: "true"
                      restAuthCredential.password: '**********'
                      restAuthCredential.username: admin
                  kind: Hadoop
                clusterVersion: "3.6"
                computeProfile:
                  roles:
                  - hardwareProfile:
                      vmSize: Standard_D3_V2
                    minInstanceCount: 1
                    name: headnode
                    osProfile:
                      linuxOperatingSystemProfile:
                        password: '**********'
                        username: sshuser
                    targetInstanceCount: 2
                  - hardwareProfile:
                      vmSize: Standard_D3_V2
                    minInstanceCount: 1
                    name: workernode
                    osProfile:
                      linuxOperatingSystemProfile:
                        password: '**********'
                        username: sshuser
                    targetInstanceCount: 4
                  - hardwareProfile:
                      vmSize: Small
                    minInstanceCount: 1
                    name: zookeepernode
                    osProfile:
                      linuxOperatingSystemProfile:
                        password: '**********'
                        username: sshuser
                    targetInstanceCount: 3
                osType: Linux
                storageProfile:
                  storageaccounts:
                  - fileSystem: default
                    isDefault: true
                    key: storagekey
                    name: mystorage.dfs.core.windows.net
                tier: Standard
              tags:
                key1: val1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: fdf2a6e8-ce83-42cc-8c2d-0ceb11a370ff
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/zzy-test-rg/providers/Microsoft.HDInsight/clusters/cluster1
                location: East US
                name: cluster1
                properties:
                  clusterDefinition:
                    blueprint: https://blueprints.azurehdinsight.net/hadoop-4.0.1000.1.1910270459.json
                    componentVersion:
                      Hadoop: "3.1"
                    kind: HADOOP
                  clusterState: Running
                  clusterVersion: 4.0.1000.1
                  computeProfile:
                    roles:
                    - hardwareProfile:
                        vmSize: standard_d12_v2
                      name: headnode
                      osProfile:
                        linuxOperatingSystemProfile:
                          username: sshuser
                      targetInstanceCount: 2
                    - hardwareProfile:
                        vmSize: standard_d4_v2
                      name: workernode
                      osProfile:
                        linuxOperatingSystemProfile:
                          username: sshuser
                      targetInstanceCount: 4
                    - hardwareProfile:
                        vmSize: standard_a2_v2
                      name: zookeepernode
                      osProfile:
                        linuxOperatingSystemProfile:
                          username: sshuser
                      targetInstanceCount: 3
                  connectivityEndpoints:
                  - location: cluster1-ssh.azurehdinsight.net
                    name: SSH
                    port: 22
                    protocol: TCP
                  - location: cluster1.azurehdinsight.net
                    name: HTTPS
                    port: 443
                    protocol: TCP
                  createdDate: 2019-11-18T12:25:43.48
                  osType: Linux
                  provisioningState: Succeeded
                  quotaInfo:
                    coresUsed: 40
                  tier: Standard
                type: Microsoft.HDInsight/clusters
              headers:
                location: https://management.azure.com/subscriptions/subid/providers/Microsoft.HDInsight/pathToOperationResult
        Create Hadoop on Linux cluster with SSH password:
          parameters:
            api-version: 2015-03-01-preview
            clusterName: cluster1
            parameters:
              properties:
                clusterDefinition:
                  configurations:
                    gateway:
                      restAuthCredential.isEnabled: "true"
                      restAuthCredential.password: '**********'
                      restAuthCredential.username: admin
                  kind: Hadoop
                clusterVersion: "3.5"
                computeProfile:
                  roles:
                  - hardwareProfile:
                      vmSize: Standard_D3_V2
                    minInstanceCount: 1
                    name: headnode
                    osProfile:
                      linuxOperatingSystemProfile:
                        password: '**********'
                        username: sshuser
                    targetInstanceCount: 2
                  - hardwareProfile:
                      vmSize: Standard_D3_V2
                    minInstanceCount: 1
                    name: workernode
                    osProfile:
                      linuxOperatingSystemProfile:
                        password: '**********'
                        username: sshuser
                    targetInstanceCount: 4
                  - hardwareProfile:
                      vmSize: Small
                    minInstanceCount: 1
                    name: zookeepernode
                    osProfile:
                      linuxOperatingSystemProfile:
                        password: '**********'
                        username: sshuser
                    targetInstanceCount: 3
                osType: Linux
                storageProfile:
                  storageaccounts:
                  - container: containername
                    isDefault: true
                    key: storagekey
                    name: mystorage
                tier: Standard
              tags:
                key1: val1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: fdf2a6e8-ce83-42cc-8c2d-0ceb11a370ff
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/zzy-test-rg/providers/Microsoft.HDInsight/clusters/cluster1
                location: East US
                name: cluster1
                properties:
                  clusterDefinition:
                    blueprint: https://blueprints.azurehdinsight.net/hadoop-4.0.1000.1.1910270459.json
                    componentVersion:
                      Hadoop: "3.1"
                    kind: HADOOP
                  clusterState: Running
                  clusterVersion: 4.0.1000.1
                  computeProfile:
                    roles:
                    - hardwareProfile:
                        vmSize: standard_d12_v2
                      name: headnode
                      osProfile:
                        linuxOperatingSystemProfile:
                          username: sshuser
                      targetInstanceCount: 2
                    - hardwareProfile:
                        vmSize: standard_d4_v2
                      name: workernode
                      osProfile:
                        linuxOperatingSystemProfile:
                          username: sshuser
                      targetInstanceCount: 4
                    - hardwareProfile:
                        vmSize: standard_a2_v2
                      name: zookeepernode
                      osProfile:
                        linuxOperatingSystemProfile:
                          username: sshuser
                      targetInstanceCount: 3
                  connectivityEndpoints:
                  - location: cluster1-ssh.azurehdinsight.net
                    name: SSH
                    port: 22
                    protocol: TCP
                  - location: cluster1.azurehdinsight.net
                    name: HTTPS
                    port: 443
                    protocol: TCP
                  createdDate: 2019-11-18T12:25:43.48
                  osType: Linux
                  provisioningState: Succeeded
                  quotaInfo:
                    coresUsed: 40
                  tier: Standard
                type: Microsoft.HDInsight/clusters
              headers:
                location: https://management.azure.com/subscriptions/subid/providers/Microsoft.HDInsight/pathToOperationResult
        Create Hadoop on Linux cluster with SSH public key:
          parameters:
            api-version: 2015-03-01-preview
            clusterName: cluster1
            parameters:
              properties:
                clusterDefinition:
                  configurations:
                    gateway:
                      restAuthCredential.isEnabled: true
                      restAuthCredential.password: '**********'
                      restAuthCredential.username: admin
                  kind: Hadoop
                clusterVersion: "3.5"
                computeProfile:
                  roles:
                  - hardwareProfile:
                      vmSize: Standard_D3_V2
                    minInstanceCount: 1
                    name: headnode
                    osProfile:
                      linuxOperatingSystemProfile:
                        sshProfile:
                          publicKeys:
                          - certificateData: '**********'
                        username: sshuser
                    targetInstanceCount: 2
                  - hardwareProfile:
                      vmSize: Standard_D3_V2
                    minInstanceCount: 1
                    name: workernode
                    osProfile:
                      linuxOperatingSystemProfile:
                        password: '**********'
                        username: sshuser
                    targetInstanceCount: 4
                  - hardwareProfile:
                      vmSize: Small
                    minInstanceCount: 1
                    name: zookeepernode
                    osProfile:
                      linuxOperatingSystemProfile:
                        password: '**********'
                        username: sshuser
                    targetInstanceCount: 3
                osType: Linux
                storageProfile:
                  storageaccounts:
                  - container: containername
                    isDefault: true
                    key: storagekey
                    name: mystorage
                tier: Standard
              tags:
                key1: val1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: fdf2a6e8-ce83-42cc-8c2d-0ceb11a370ff
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/zzy-test-rg/providers/Microsoft.HDInsight/clusters/cluster1
                location: East US
                name: cluster1
                properties:
                  clusterDefinition:
                    blueprint: https://blueprints.azurehdinsight.net/hadoop-4.0.1000.1.1910270459.json
                    componentVersion:
                      Hadoop: "3.1"
                    kind: HADOOP
                  clusterState: Running
                  clusterVersion: 4.0.1000.1
                  computeProfile:
                    roles:
                    - hardwareProfile:
                        vmSize: standard_d12_v2
                      name: headnode
                      osProfile:
                        linuxOperatingSystemProfile:
                          username: sshuser
                      targetInstanceCount: 2
                    - hardwareProfile:
                        vmSize: standard_d4_v2
                      name: workernode
                      osProfile:
                        linuxOperatingSystemProfile:
                          username: sshuser
                      targetInstanceCount: 4
                    - hardwareProfile:
                        vmSize: standard_a2_v2
                      name: zookeepernode
                      osProfile:
                        linuxOperatingSystemProfile:
                          username: sshuser
                      targetInstanceCount: 3
                  connectivityEndpoints:
                  - location: cluster1-ssh.azurehdinsight.net
                    name: SSH
                    port: 22
                    protocol: TCP
                  - location: cluster1.azurehdinsight.net
                    name: HTTPS
                    port: 443
                    protocol: TCP
                  createdDate: 2019-11-18T12:25:43.48
                  osType: Linux
                  provisioningState: Succeeded
                  quotaInfo:
                    coresUsed: 40
                  tier: Standard
                type: Microsoft.HDInsight/clusters
              headers:
                location: https://management.azure.com/subscriptions/subid/providers/Microsoft.HDInsight/pathToOperationResult
        Create Kafka cluster with Kafka Rest Proxy:
          parameters:
            api-version: 2018-06-01-preview
            clusterName: cluster1
            parameters:
              properties:
                clusterDefinition:
                  componentVersion:
                    Kafka: "2.1"
                  configurations:
                    gateway:
                      restAuthCredential.isEnabled: true
                      restAuthCredential.password: '**********'
                      restAuthCredential.username: admin
                  kind: kafka
                clusterVersion: "4.0"
                computeProfile:
                  roles:
                  - hardwareProfile:
                      vmSize: Large
                    name: headnode
                    osProfile:
                      linuxOperatingSystemProfile:
                        password: '**********'
                        username: sshuser
                    targetInstanceCount: 2
                  - dataDisksGroups:
                    - disksPerNode: 8
                    hardwareProfile:
                      vmSize: Large
                    name: workernode
                    osProfile:
                      linuxOperatingSystemProfile:
                        password: '**********'
                        username: sshuser
                    targetInstanceCount: 3
                  - hardwareProfile:
                      vmSize: Small
                    name: zookeepernode
                    osProfile:
                      linuxOperatingSystemProfile:
                        password: '**********'
                        username: sshuser
                    targetInstanceCount: 3
                  - hardwareProfile:
                      vmSize: Standard_D4_v2
                    name: kafkamanagementnode
                    osProfile:
                      linuxOperatingSystemProfile:
                        password: '**********'
                        username: kafkauser
                    targetInstanceCount: 2
                kafkaRestProperties:
                  clientGroupInfo:
                    groupId: 00000000-0000-0000-0000-111111111111
                    groupName: Kafka security group name
                osType: Linux
                storageProfile:
                  storageaccounts:
                  - container: containername
                    isDefault: true
                    key: storagekey
                    name: mystorage.blob.core.windows.net
                tier: Standard
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: e1266b83-9bda-4797-a906-1bf82c8eb09a
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg1/providers/Microsoft.HDInsight/clusters/cluster1
                location: South Central US
                name: cluster1
                properties:
                  clusterDefinition:
                    blueprint: https://blueprints.azurehdinsight.net/kafka-4.0.1000.1.1911212244.json
                    componentVersion:
                      Kafka: "2.1"
                    kind: KAFKA
                  clusterState: Running
                  clusterVersion: 4.0.1000.1
                  computeProfile:
                    roles:
                    - hardwareProfile:
                        vmSize: standard_d3_v2
                      name: headnode
                      osProfile:
                        linuxOperatingSystemProfile:
                          username: sshuser
                      targetInstanceCount: 2
                    - dataDisksGroups:
                      - diskSizeGB: 1023
                        disksPerNode: 2
                        storageAccountType: Standard_LRS
                      hardwareProfile:
                        vmSize: standard_d3_v2
                      name: workernode
                      osProfile:
                        linuxOperatingSystemProfile:
                          username: sshuser
                      targetInstanceCount: 4
                    - hardwareProfile:
                        vmSize: standard_d4_v2
                      name: kafkamanagementnode
                      osProfile:
                        linuxOperatingSystemProfile:
                          username: sshuser
                      targetInstanceCount: 2
                    - hardwareProfile:
                        vmSize: standard_a4_v2
                      name: zookeepernode
                      osProfile:
                        linuxOperatingSystemProfile:
                          username: sshuser
                      targetInstanceCount: 3
                  connectivityEndpoints:
                  - location: cluster1-ssh.azurehdinsight.net
                    name: SSH
                    port: 22
                    protocol: TCP
                  - location: cluster1.azurehdinsight.net
                    name: HTTPS
                    port: 443
                    protocol: TCP
                  - location: cluster1-kafkarest.azurehdinsight.net
                    name: KafkaRestProxyPublicEndpoint
                    port: 443
                    protocol: TCP
                  createdDate: 2019-11-25T03:43:23.663
                  kafkaRestProperties:
                    clientGroupInfo:
                      groupId: 00000000-0000-0000-0000-000000000000
                      groupName: security group name
                  osType: Linux
                  provisioningState: Succeeded
                  quotaInfo:
                    coresUsed: 52
                  tier: Standard
                type: Microsoft.HDInsight/clusters
              headers:
                location: https://management.azure.com/subscriptions/subid/providers/Microsoft.HDInsight/pathToOperationResult
        Create Secure Hadoop cluster:
          parameters:
            api-version: 2015-03-01-preview
            clusterName: cluster1
            parameters:
              properties:
                clusterDefinition:
                  configurations:
                    gateway:
                      restAuthCredential.isEnabled: true
                      restAuthCredential.password: '**********'
                      restAuthCredential.username: admin
                  kind: Hadoop
                clusterVersion: "3.5"
                computeProfile:
                  roles:
                  - hardwareProfile:
                      vmSize: Standard_D3_V2
                    minInstanceCount: 1
                    name: headnode
                    osProfile:
                      linuxOperatingSystemProfile:
                        password: '**********'
                        sshProfile:
                          publicKeys:
                          - certificateData: '**********'
                        username: sshuser
                    scriptActions: []
                    targetInstanceCount: 2
                    virtualNetworkProfile:
                      id: /subscriptions/subId/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/vnetname
                      subnet: /subscriptions/subId/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/vnetname/subnets/vnetsubnet
                  - hardwareProfile:
                      vmSize: Standard_D3_V2
                    minInstanceCount: 1
                    name: workernode
                    osProfile:
                      linuxOperatingSystemProfile:
                        password: '**********'
                        sshProfile:
                          publicKeys:
                          - certificateData: '**********'
                        username: sshuser
                    scriptActions: []
                    targetInstanceCount: 4
                    virtualNetworkProfile:
                      id: /subscriptions/subId/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/vnetname
                      subnet: /subscriptions/subId/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/vnetname/subnets/vnetsubnet
                  - hardwareProfile:
                      vmSize: Small
                    minInstanceCount: 1
                    name: zookeepernode
                    osProfile:
                      linuxOperatingSystemProfile:
                        password: '**********'
                        sshProfile:
                          publicKeys:
                          - certificateData: '**********'
                        username: sshuser
                    scriptActions: []
                    targetInstanceCount: 3
                    virtualNetworkProfile:
                      id: /subscriptions/subId/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/vnetname
                      subnet: /subscriptions/subId/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/vnetname/subnets/vnetsubnet
                osType: Linux
                securityProfile:
                  clusterUsersGroupDNs:
                  - hdiusers
                  directoryType: ActiveDirectory
                  domain: DomainName
                  domainUserPassword: '**********'
                  domainUsername: DomainUsername
                  ldapsUrls:
                  - ldaps://10.10.0.4:636
                  organizationalUnitDN: "OU=Hadoop,DC=hdinsight,DC=test"
                storageProfile:
                  storageaccounts:
                  - container: containername
                    isDefault: true
                    key: storage account key
                    name: mystorage
                tier: Premium
              tags:
                key1: val1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: fdf2a6e8-ce83-42cc-8c2d-0ceb11a370ff
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/zzy-test-rg/providers/Microsoft.HDInsight/clusters/cluster1
                location: East US
                name: cluster1
                properties:
                  clusterDefinition:
                    blueprint: https://blueprints.azurehdinsight.net/hadoop-4.0.1000.1.1910270459.json
                    componentVersion:
                      Hadoop: "3.1"
                    kind: HADOOP
                  clusterState: Running
                  clusterVersion: 4.0.1000.1
                  computeProfile:
                    roles:
                    - hardwareProfile:
                        vmSize: standard_d12_v2
                      name: headnode
                      osProfile:
                        linuxOperatingSystemProfile:
                          username: sshuser
                      targetInstanceCount: 2
                    - hardwareProfile:
                        vmSize: standard_d4_v2
                      name: workernode
                      osProfile:
                        linuxOperatingSystemProfile:
                          username: sshuser
                      targetInstanceCount: 4
                    - hardwareProfile:
                        vmSize: standard_a2_v2
                      name: zookeepernode
                      osProfile:
                        linuxOperatingSystemProfile:
                          username: sshuser
                      targetInstanceCount: 3
                  connectivityEndpoints:
                  - location: cluster1-ssh.azurehdinsight.net
                    name: SSH
                    port: 22
                    protocol: TCP
                  - location: cluster1.azurehdinsight.net
                    name: HTTPS
                    port: 443
                    protocol: TCP
                  createdDate: 2019-11-18T12:25:43.48
                  osType: Linux
                  provisioningState: Succeeded
                  quotaInfo:
                    coresUsed: 40
                  tier: Standard
                type: Microsoft.HDInsight/clusters
              headers:
                location: https://management.azure.com/subscriptions/subid/providers/Microsoft.HDInsight/pathToOperationResult
        Create Spark on Linux Cluster with SSH password:
          parameters:
            api-version: 2015-03-01-preview
            clusterName: cluster1
            parameters:
              properties:
                clusterDefinition:
                  componentVersion:
                    Spark: "2.0"
                  configurations:
                    gateway:
                      restAuthCredential.isEnabled: true
                      restAuthCredential.password: '**********'
                      restAuthCredential.username: admin
                  kind: Spark
                clusterVersion: "3.5"
                computeProfile:
                  roles:
                  - hardwareProfile:
                      vmSize: Standard_D12_V2
                    minInstanceCount: 1
                    name: headnode
                    osProfile:
                      linuxOperatingSystemProfile:
                        password: '**********'
                        username: sshuser
                    targetInstanceCount: 2
                  - hardwareProfile:
                      vmSize: Standard_D4_V2
                    minInstanceCount: 1
                    name: workernode
                    osProfile:
                      linuxOperatingSystemProfile:
                        password: '**********'
                        username: sshuser
                    targetInstanceCount: 4
                osType: Linux
                storageProfile:
                  storageaccounts:
                  - container: containername
                    isDefault: true
                    key: storageapikey*
                    name: mystorage
                tier: Standard
              tags:
                key1: val1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: fdf2a6e8-ce83-42cc-8c2d-0ceb11a370ff
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/zzy-test-rg/providers/Microsoft.HDInsight/clusters/cluster1
                location: East US
                name: cluster1
                properties:
                  clusterDefinition:
                    blueprint: https://blueprints.azurehdinsight.net/hadoop-4.0.1000.1.1910270459.json
                    componentVersion:
                      Hadoop: "3.1"
                    kind: HADOOP
                  clusterState: Running
                  clusterVersion: 4.0.1000.1
                  computeProfile:
                    roles:
                    - hardwareProfile:
                        vmSize: standard_d12_v2
                      name: headnode
                      osProfile:
                        linuxOperatingSystemProfile:
                          username: sshuser
                      targetInstanceCount: 2
                    - hardwareProfile:
                        vmSize: standard_d4_v2
                      name: workernode
                      osProfile:
                        linuxOperatingSystemProfile:
                          username: sshuser
                      targetInstanceCount: 4
                    - hardwareProfile:
                        vmSize: standard_a2_v2
                      name: zookeepernode
                      osProfile:
                        linuxOperatingSystemProfile:
                          username: sshuser
                      targetInstanceCount: 3
                  connectivityEndpoints:
                  - location: cluster1-ssh.azurehdinsight.net
                    name: SSH
                    port: 22
                    protocol: TCP
                  - location: cluster1.azurehdinsight.net
                    name: HTTPS
                    port: 443
                    protocol: TCP
                  createdDate: 2019-11-18T12:25:43.48
                  osType: Linux
                  provisioningState: Succeeded
                  quotaInfo:
                    coresUsed: 40
                  tier: Standard
                type: Microsoft.HDInsight/clusters
              headers:
                location: https://management.azure.com/subscriptions/subid/providers/Microsoft.HDInsight/pathToOperationResult
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/getGatewaySettings
  : post:
      description: Gets the gateway settings for the specified cluster.
      operationId: Clusters_GetGatewaySettings
      parameters:
      - description: The subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the cluster.
        in: path
        name: clusterName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The HDInsight client API Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewaySettings'
          description: OK response definition.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Clusters_List_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Clusters
      x-ms-examples:
        Get HTTP settings:
          parameters:
            api-version: 2015-03-01-preview
            clusterName: cluster1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                restAuthCredential.isEnabled: "true"
                restAuthCredential.password: '**********'
                restAuthCredential.username: hadoop
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/roles/{roleName}/resize
  : post:
      description: Resizes the specified HDInsight cluster to the specified size.
      operationId: Clusters_Resize
      parameters:
      - description: The subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the cluster.
        in: path
        name: clusterName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The constant value for the roleName
        in: path
        name: roleName
        required: true
        schema:
          enum:
          - workernode
          type: string
          x-ms-enum:
            modelAsString: true
            name: RoleName
        x-ms-enum:
          modelAsString: true
          name: RoleName
      - description: The HDInsight client API Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClusterResizeParameters'
        description: The parameters for the resize operation.
        required: true
      responses:
        "200":
          content: {}
          description: OK response definition.
        "202":
          content: {}
          description: Accepted response definition.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Clusters_List_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Clusters
      x-ms-examples:
        Resize the worker nodes for a Hadoop on Linux cluster:
          parameters:
            api-version: 2015-03-01-preview
            clusterName: cluster1
            parameters:
              targetInstanceCount: 10
            resourceGroupName: rg1
            roleName: workernode
            subscriptionId: subid
          responses:
            "200": {}
            "202": {}
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/rotatediskencryptionkey
  : post:
      description: Rotate disk encryption key of the specified HDInsight cluster.
      operationId: Clusters_RotateDiskEncryptionKey
      parameters:
      - description: The subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the cluster.
        in: path
        name: clusterName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The HDInsight client API Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClusterDiskEncryptionParameters'
        description: The parameters for the disk encryption operation.
        required: true
      responses:
        "200":
          content: {}
          description: OK response definition.
        "202":
          content: {}
          description: Accepted response definition.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Clusters_List_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Clusters
      x-ms-examples:
        Rotate disk encryption key of the specified HDInsight cluster:
          parameters:
            api-version: 2015-03-01-preview
            clusterName: cluster1
            parameters:
              keyName: newkeyname
              keyVersion: newkeyversion
              vaultUri: https://newkeyvault.vault.azure.net/
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200": {}
            "202": {}
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/updateGatewaySettings
  : post:
      description: Configures the gateway settings on the specified cluster.
      operationId: Clusters_UpdateGatewaySettings
      parameters:
      - description: The subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the cluster.
        in: path
        name: clusterName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The HDInsight client API Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateGatewaySettingsParameters'
        description: The cluster configurations.
        required: true
      responses:
        "200":
          content: {}
          description: OK response definition.
        "202":
          content: {}
          description: Accepted response definition
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Clusters_List_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Clusters
      x-ms-examples:
        Enable HTTP connectivity:
          parameters:
            api-version: 2015-03-01-preview
            clusterName: cluster1
            parameters:
              restAuthCredential.isEnabled: true
              restAuthCredential.password: '**********'
              restAuthCredential.username: hadoop
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              headers:
                location: https://management.azure.com/subscriptions/subid/providers/Microsoft.HDInsight/pathToOperationResult
            "202":
              headers:
                location: https://management.azure.com/subscriptions/subid/providers/Microsoft.HDInsight/pathToOperationResult
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
components:
  parameters:
    ApiVersionParameter:
      description: The HDInsight client API Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    ClusterNameParameter:
      description: The name of the cluster.
      in: path
      name: clusterName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ResourceGroupNameParameter:
      description: The name of the resource group.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: The subscription credentials which uniquely identify Microsoft
        Azure subscription. The subscription ID forms part of the URI for every service
        call.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    Autoscale:
      description: The autoscale request parameters
      example:
        recurrence:
          schedule:
          - days:
            - Monday
            - Monday
            timeAndCapacity:
              maxInstanceCount: 1
              minInstanceCount: 5
              time: time
          - days:
            - Monday
            - Monday
            timeAndCapacity:
              maxInstanceCount: 1
              minInstanceCount: 5
              time: time
          timeZone: timeZone
        capacity:
          maxInstanceCount: 0
          minInstanceCount: 6
      properties:
        capacity:
          $ref: '#/components/schemas/AutoscaleCapacity'
        recurrence:
          $ref: '#/components/schemas/AutoscaleRecurrence'
      type: object
    AutoscaleCapacity:
      description: The load-based autoscale request parameters
      example:
        maxInstanceCount: 0
        minInstanceCount: 6
      properties:
        maxInstanceCount:
          description: The maximum instance count of the cluster
          format: int32
          type: integer
        minInstanceCount:
          description: The minimum instance count of the cluster
          format: int32
          type: integer
      type: object
    AutoscaleRecurrence:
      description: Schedule-based autoscale request parameters
      example:
        schedule:
        - days:
          - Monday
          - Monday
          timeAndCapacity:
            maxInstanceCount: 1
            minInstanceCount: 5
            time: time
        - days:
          - Monday
          - Monday
          timeAndCapacity:
            maxInstanceCount: 1
            minInstanceCount: 5
            time: time
        timeZone: timeZone
      properties:
        schedule:
          description: Array of schedule-based autoscale rules
          items:
            $ref: '#/components/schemas/AutoscaleSchedule'
          type: array
        timeZone:
          description: The time zone for the autoscale schedule times
          type: string
      type: object
    AutoscaleSchedule:
      description: "Parameters for a schedule-based autoscale rule, consisting of\
        \ an array of days + a time and capacity"
      example:
        days:
        - Monday
        - Monday
        timeAndCapacity:
          maxInstanceCount: 1
          minInstanceCount: 5
          time: time
      properties:
        days:
          description: Days of the week for a schedule-based autoscale rule
          items:
            enum:
            - Monday
            - Tuesday
            - Wednesday
            - Thursday
            - Friday
            - Saturday
            - Sunday
            type: string
            x-ms-enum:
              modelAsString: false
              name: DaysOfWeek
          type: array
        timeAndCapacity:
          $ref: '#/components/schemas/AutoscaleTimeAndCapacity'
      type: object
    AutoscaleTimeAndCapacity:
      description: Time and capacity request parameters
      example:
        maxInstanceCount: 1
        minInstanceCount: 5
        time: time
      properties:
        maxInstanceCount:
          description: The maximum instance count of the cluster
          format: int32
          type: integer
        minInstanceCount:
          description: The minimum instance count of the cluster
          format: int32
          type: integer
        time:
          description: 24-hour time in the form xx:xx
          type: string
      type: object
    ClientGroupInfo:
      description: The information of AAD security group.
      example:
        groupName: groupName
        groupId: groupId
      properties:
        groupId:
          description: The AAD security group id.
          type: string
        groupName:
          description: The AAD security group name.
          type: string
      type: object
    Cluster:
      allOf:
      - $ref: '#/components/schemas/TrackedResource'
      description: The HDInsight cluster.
      example:
        identity:
          userAssignedIdentities:
            key:
              clientId: clientId
              principalId: principalId
          tenantId: tenantId
          principalId: principalId
          type: SystemAssigned
        etag: etag
        properties:
          diskEncryptionProperties:
            keyVersion: keyVersion
            keyName: keyName
            vaultUri: vaultUri
            encryptionAlgorithm: RSA-OAEP
            msiResourceId: msiResourceId
          computeProfile:
            roles:
            - targetInstanceCount: 9
              hardwareProfile:
                vmSize: vmSize
              scriptActions:
              - name: name
                parameters: parameters
                uri: uri
              - name: name
                parameters: parameters
                uri: uri
              dataDisksGroups:
              - disksPerNode: 2
                storageAccountType: storageAccountType
                diskSizeGB: 5
              - disksPerNode: 2
                storageAccountType: storageAccountType
                diskSizeGB: 5
              name: name
              minInstanceCount: 7
              virtualNetworkProfile:
                subnet: subnet
                id: id
              autoscale:
                recurrence:
                  schedule:
                  - days:
                    - Monday
                    - Monday
                    timeAndCapacity:
                      maxInstanceCount: 1
                      minInstanceCount: 5
                      time: time
                  - days:
                    - Monday
                    - Monday
                    timeAndCapacity:
                      maxInstanceCount: 1
                      minInstanceCount: 5
                      time: time
                  timeZone: timeZone
                capacity:
                  maxInstanceCount: 0
                  minInstanceCount: 6
              osProfile:
                linuxOperatingSystemProfile:
                  password: password
                  sshProfile:
                    publicKeys:
                    - certificateData: certificateData
                    - certificateData: certificateData
                  username: username
            - targetInstanceCount: 9
              hardwareProfile:
                vmSize: vmSize
              scriptActions:
              - name: name
                parameters: parameters
                uri: uri
              - name: name
                parameters: parameters
                uri: uri
              dataDisksGroups:
              - disksPerNode: 2
                storageAccountType: storageAccountType
                diskSizeGB: 5
              - disksPerNode: 2
                storageAccountType: storageAccountType
                diskSizeGB: 5
              name: name
              minInstanceCount: 7
              virtualNetworkProfile:
                subnet: subnet
                id: id
              autoscale:
                recurrence:
                  schedule:
                  - days:
                    - Monday
                    - Monday
                    timeAndCapacity:
                      maxInstanceCount: 1
                      minInstanceCount: 5
                      time: time
                  - days:
                    - Monday
                    - Monday
                    timeAndCapacity:
                      maxInstanceCount: 1
                      minInstanceCount: 5
                      time: time
                  timeZone: timeZone
                capacity:
                  maxInstanceCount: 0
                  minInstanceCount: 6
              osProfile:
                linuxOperatingSystemProfile:
                  password: password
                  sshProfile:
                    publicKeys:
                    - certificateData: certificateData
                    - certificateData: certificateData
                  username: username
          clusterDefinition:
            blueprint: blueprint
            configurations: "{}"
            kind: kind
            componentVersion:
              key: componentVersion
          provisioningState: InProgress
          clusterVersion: clusterVersion
          createdDate: createdDate
          tier: Standard
          securityProfile:
            domainUsername: domainUsername
            aaddsResourceId: aaddsResourceId
            organizationalUnitDN: organizationalUnitDN
            domain: domain
            clusterUsersGroupDNs:
            - clusterUsersGroupDNs
            - clusterUsersGroupDNs
            domainUserPassword: domainUserPassword
            ldapsUrls:
            - ldapsUrls
            - ldapsUrls
            msiResourceId: msiResourceId
            directoryType: ActiveDirectory
          connectivityEndpoints:
          - protocol: protocol
            port: 3
            name: name
            location: location
          - protocol: protocol
            port: 3
            name: name
            location: location
          osType: Windows
          quotaInfo:
            coresUsed: 2
          clusterState: clusterState
          kafkaRestProperties:
            clientGroupInfo:
              groupName: groupName
              groupId: groupId
          errors:
          - code: code
            message: message
          - code: code
            message: message
      properties:
        etag:
          description: The ETag for the resource
          type: string
        identity:
          $ref: '#/components/schemas/ClusterIdentity'
        properties:
          $ref: '#/components/schemas/ClusterGetProperties'
    ClusterCreateParametersExtended:
      description: The CreateCluster request parameters.
      example:
        identity:
          userAssignedIdentities:
            key:
              clientId: clientId
              principalId: principalId
          tenantId: tenantId
          principalId: principalId
          type: SystemAssigned
        location: location
        properties:
          diskEncryptionProperties:
            keyVersion: keyVersion
            keyName: keyName
            vaultUri: vaultUri
            encryptionAlgorithm: RSA-OAEP
            msiResourceId: msiResourceId
          tier: Standard
          computeProfile:
            roles:
            - targetInstanceCount: 9
              hardwareProfile:
                vmSize: vmSize
              scriptActions:
              - name: name
                parameters: parameters
                uri: uri
              - name: name
                parameters: parameters
                uri: uri
              dataDisksGroups:
              - disksPerNode: 2
                storageAccountType: storageAccountType
                diskSizeGB: 5
              - disksPerNode: 2
                storageAccountType: storageAccountType
                diskSizeGB: 5
              name: name
              minInstanceCount: 7
              virtualNetworkProfile:
                subnet: subnet
                id: id
              autoscale:
                recurrence:
                  schedule:
                  - days:
                    - Monday
                    - Monday
                    timeAndCapacity:
                      maxInstanceCount: 1
                      minInstanceCount: 5
                      time: time
                  - days:
                    - Monday
                    - Monday
                    timeAndCapacity:
                      maxInstanceCount: 1
                      minInstanceCount: 5
                      time: time
                  timeZone: timeZone
                capacity:
                  maxInstanceCount: 0
                  minInstanceCount: 6
              osProfile:
                linuxOperatingSystemProfile:
                  password: password
                  sshProfile:
                    publicKeys:
                    - certificateData: certificateData
                    - certificateData: certificateData
                  username: username
            - targetInstanceCount: 9
              hardwareProfile:
                vmSize: vmSize
              scriptActions:
              - name: name
                parameters: parameters
                uri: uri
              - name: name
                parameters: parameters
                uri: uri
              dataDisksGroups:
              - disksPerNode: 2
                storageAccountType: storageAccountType
                diskSizeGB: 5
              - disksPerNode: 2
                storageAccountType: storageAccountType
                diskSizeGB: 5
              name: name
              minInstanceCount: 7
              virtualNetworkProfile:
                subnet: subnet
                id: id
              autoscale:
                recurrence:
                  schedule:
                  - days:
                    - Monday
                    - Monday
                    timeAndCapacity:
                      maxInstanceCount: 1
                      minInstanceCount: 5
                      time: time
                  - days:
                    - Monday
                    - Monday
                    timeAndCapacity:
                      maxInstanceCount: 1
                      minInstanceCount: 5
                      time: time
                  timeZone: timeZone
                capacity:
                  maxInstanceCount: 0
                  minInstanceCount: 6
              osProfile:
                linuxOperatingSystemProfile:
                  password: password
                  sshProfile:
                    publicKeys:
                    - certificateData: certificateData
                    - certificateData: certificateData
                  username: username
          securityProfile:
            domainUsername: domainUsername
            aaddsResourceId: aaddsResourceId
            organizationalUnitDN: organizationalUnitDN
            domain: domain
            clusterUsersGroupDNs:
            - clusterUsersGroupDNs
            - clusterUsersGroupDNs
            domainUserPassword: domainUserPassword
            ldapsUrls:
            - ldapsUrls
            - ldapsUrls
            msiResourceId: msiResourceId
            directoryType: ActiveDirectory
          clusterDefinition:
            blueprint: blueprint
            configurations: "{}"
            kind: kind
            componentVersion:
              key: componentVersion
          storageProfile:
            storageaccounts:
            - container: container
              fileSystem: fileSystem
              isDefault: true
              resourceId: resourceId
              name: name
              msiResourceId: msiResourceId
              key: key
            - container: container
              fileSystem: fileSystem
              isDefault: true
              resourceId: resourceId
              name: name
              msiResourceId: msiResourceId
              key: key
          osType: Windows
          clusterVersion: clusterVersion
          kafkaRestProperties:
            clientGroupInfo:
              groupName: groupName
              groupId: groupId
        tags:
          key: tags
      properties:
        identity:
          $ref: '#/components/schemas/ClusterIdentity'
        location:
          description: The location of the cluster.
          type: string
        properties:
          $ref: '#/components/schemas/ClusterCreateProperties'
        tags:
          additionalProperties:
            type: string
          description: The resource tags.
          type: object
      type: object
    ClusterCreateProperties:
      description: The cluster create parameters.
      example:
        diskEncryptionProperties:
          keyVersion: keyVersion
          keyName: keyName
          vaultUri: vaultUri
          encryptionAlgorithm: RSA-OAEP
          msiResourceId: msiResourceId
        tier: Standard
        computeProfile:
          roles:
          - targetInstanceCount: 9
            hardwareProfile:
              vmSize: vmSize
            scriptActions:
            - name: name
              parameters: parameters
              uri: uri
            - name: name
              parameters: parameters
              uri: uri
            dataDisksGroups:
            - disksPerNode: 2
              storageAccountType: storageAccountType
              diskSizeGB: 5
            - disksPerNode: 2
              storageAccountType: storageAccountType
              diskSizeGB: 5
            name: name
            minInstanceCount: 7
            virtualNetworkProfile:
              subnet: subnet
              id: id
            autoscale:
              recurrence:
                schedule:
                - days:
                  - Monday
                  - Monday
                  timeAndCapacity:
                    maxInstanceCount: 1
                    minInstanceCount: 5
                    time: time
                - days:
                  - Monday
                  - Monday
                  timeAndCapacity:
                    maxInstanceCount: 1
                    minInstanceCount: 5
                    time: time
                timeZone: timeZone
              capacity:
                maxInstanceCount: 0
                minInstanceCount: 6
            osProfile:
              linuxOperatingSystemProfile:
                password: password
                sshProfile:
                  publicKeys:
                  - certificateData: certificateData
                  - certificateData: certificateData
                username: username
          - targetInstanceCount: 9
            hardwareProfile:
              vmSize: vmSize
            scriptActions:
            - name: name
              parameters: parameters
              uri: uri
            - name: name
              parameters: parameters
              uri: uri
            dataDisksGroups:
            - disksPerNode: 2
              storageAccountType: storageAccountType
              diskSizeGB: 5
            - disksPerNode: 2
              storageAccountType: storageAccountType
              diskSizeGB: 5
            name: name
            minInstanceCount: 7
            virtualNetworkProfile:
              subnet: subnet
              id: id
            autoscale:
              recurrence:
                schedule:
                - days:
                  - Monday
                  - Monday
                  timeAndCapacity:
                    maxInstanceCount: 1
                    minInstanceCount: 5
                    time: time
                - days:
                  - Monday
                  - Monday
                  timeAndCapacity:
                    maxInstanceCount: 1
                    minInstanceCount: 5
                    time: time
                timeZone: timeZone
              capacity:
                maxInstanceCount: 0
                minInstanceCount: 6
            osProfile:
              linuxOperatingSystemProfile:
                password: password
                sshProfile:
                  publicKeys:
                  - certificateData: certificateData
                  - certificateData: certificateData
                username: username
        securityProfile:
          domainUsername: domainUsername
          aaddsResourceId: aaddsResourceId
          organizationalUnitDN: organizationalUnitDN
          domain: domain
          clusterUsersGroupDNs:
          - clusterUsersGroupDNs
          - clusterUsersGroupDNs
          domainUserPassword: domainUserPassword
          ldapsUrls:
          - ldapsUrls
          - ldapsUrls
          msiResourceId: msiResourceId
          directoryType: ActiveDirectory
        clusterDefinition:
          blueprint: blueprint
          configurations: "{}"
          kind: kind
          componentVersion:
            key: componentVersion
        storageProfile:
          storageaccounts:
          - container: container
            fileSystem: fileSystem
            isDefault: true
            resourceId: resourceId
            name: name
            msiResourceId: msiResourceId
            key: key
          - container: container
            fileSystem: fileSystem
            isDefault: true
            resourceId: resourceId
            name: name
            msiResourceId: msiResourceId
            key: key
        osType: Windows
        clusterVersion: clusterVersion
        kafkaRestProperties:
          clientGroupInfo:
            groupName: groupName
            groupId: groupId
      properties:
        clusterDefinition:
          $ref: '#/components/schemas/ClusterDefinition'
        clusterVersion:
          description: The version of the cluster.
          type: string
        computeProfile:
          $ref: '#/components/schemas/ComputeProfile'
        diskEncryptionProperties:
          $ref: '#/components/schemas/DiskEncryptionProperties'
        kafkaRestProperties:
          $ref: '#/components/schemas/KafkaRestProperties'
        osType:
          description: The type of operating system.
          enum:
          - Windows
          - Linux
          type: string
          x-ms-enum:
            modelAsString: false
            name: OSType
        securityProfile:
          $ref: '#/components/schemas/SecurityProfile'
        storageProfile:
          $ref: '#/components/schemas/StorageProfile'
        tier:
          description: The cluster tier.
          enum:
          - Standard
          - Premium
          type: string
          x-ms-enum:
            modelAsString: false
            name: Tier
      type: object
    ClusterDefinition:
      description: The cluster definition.
      example:
        blueprint: blueprint
        configurations: "{}"
        kind: kind
        componentVersion:
          key: componentVersion
      properties:
        blueprint:
          description: The link to the blueprint.
          type: string
        componentVersion:
          additionalProperties:
            type: string
          description: The versions of different services in the cluster.
          type: object
        configurations:
          description: The cluster configurations.
          properties: {}
          type: object
        kind:
          description: The type of cluster.
          type: string
      type: object
    ClusterDiskEncryptionParameters:
      description: The Disk Encryption Cluster request parameters.
      example:
        keyVersion: keyVersion
        keyName: keyName
        vaultUri: vaultUri
      properties:
        keyName:
          description: Key name that is used for enabling disk encryption.
          type: string
        keyVersion:
          description: Specific key version that is used for enabling disk encryption.
          type: string
        vaultUri:
          description: Base key vault URI where the customers key is located eg. https://myvault.vault.azure.net
          type: string
      type: object
    ClusterGetProperties:
      description: The properties of cluster.
      example:
        diskEncryptionProperties:
          keyVersion: keyVersion
          keyName: keyName
          vaultUri: vaultUri
          encryptionAlgorithm: RSA-OAEP
          msiResourceId: msiResourceId
        computeProfile:
          roles:
          - targetInstanceCount: 9
            hardwareProfile:
              vmSize: vmSize
            scriptActions:
            - name: name
              parameters: parameters
              uri: uri
            - name: name
              parameters: parameters
              uri: uri
            dataDisksGroups:
            - disksPerNode: 2
              storageAccountType: storageAccountType
              diskSizeGB: 5
            - disksPerNode: 2
              storageAccountType: storageAccountType
              diskSizeGB: 5
            name: name
            minInstanceCount: 7
            virtualNetworkProfile:
              subnet: subnet
              id: id
            autoscale:
              recurrence:
                schedule:
                - days:
                  - Monday
                  - Monday
                  timeAndCapacity:
                    maxInstanceCount: 1
                    minInstanceCount: 5
                    time: time
                - days:
                  - Monday
                  - Monday
                  timeAndCapacity:
                    maxInstanceCount: 1
                    minInstanceCount: 5
                    time: time
[...]
