openapi: 3.0.1
info:
  contact: {}
  description: |2

    This data set contains the list of polling places. It can be organized by ward/division, accessibility rating, or type of building.

    This list is used to assign poll workers, send the machines and necessary accessibility materials, etc.

    **Endpoint:** http://api.phila.gov/polling-places/v1
  title: Polling Places API
  version: "1.0"
  x-apisguru-categories:
  - open_data
  x-logo:
    url: https://twitter.com/PhiladelphiaGov/profile_image?size=original
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/CityOfPhiladelphia/phlapi/gh-pages/pollingplaces/swagger.json
    version: "2.0"
  x-providerName: phila.gov
  x-serviceName: pollingplaces
servers:
- url: http://api.phila.gov/polling-places/v1
paths:
  /:
    get:
      operationId: root_get
      parameters:
      - description: Ward Number
        in: query
        name: ward
        required: true
        schema:
          format: int32
          type: integer
      - description: Division Number
        in: query
        name: division
        required: true
        schema:
          format: int32
          type: integer
      - description: Optional parameter for jsonp support.
        in: query
        name: callback
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/features'
          description: An array containing the polling place
      summary: Get Polling Places Data
      x-openapi-router-controller: openapi_server.controllers.default_controller
components:
  schemas:
    features:
      example:
        division: division
        parking: parking
        lng: 6.0274563
        pin_address: pin_address
        display_address: display_address
        location: location
        ward: ward
        building: building
        lat: 0.8008282
        zip_code: 1
      properties:
        building:
          description: |
            Assigned code to denote the accessibility of the polling place. See above for details of the codes.
            F = Building Fully Accessible;
            B = Building Substantially Accessible;
            M = Building Accessibilty Modified;
            A = Alternate Entrance;
            R = Building Accessible With Ramp;
            N = Building Not Accessible
          title: building
          type: string
        display_address:
          description: Mailing address of the polling place (formatted for display
            purposes).
          title: display_address
          type: string
        division:
          description: The number of the electoral section that houses the polling
            place.
          title: division
          type: string
        lat:
          description: Latitudinal coordinates of the polling place.
          format: float
          title: lat
          type: number
        lng:
          description: Longitudinal coordinates of the polling place.
          format: float
          title: lng
          type: number
        location:
          description: The name of the polling place.
          title: location
          type: string
        parking:
          description: |
            Assigned code to denote the availability of parking. See above for details of the codes.
            N = No Parking;
            G = General Parking;
            L = Loading Zone;
            H = Handicap Parking
          title: parking
          type: string
        pin_address:
          description: Mailing address of the polling place.
          title: pin_address
          type: string
        ward:
          description: The number of the electoral subdivision that houses the polling
            place.
          title: ward
          type: string
        zip_code:
          description: Zipcode of the polling place.
          format: int32
          title: zip_code
          type: integer
      title: features
      type: object
x-original-swagger-version: "2.0"
