openapi: 3.0.1
info:
  title: MonitorManagementClient
  version: 2016-09-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/monitor/resource-manager/Microsoft.Insights/stable/2016-09-01/serviceDiagnosticsSettings_API.json
    version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: monitor-serviceDiagnosticsSettings_API
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /{resourceUri}/providers/microsoft.insights/diagnosticSettings/service:
    get:
      description: "Gets the active diagnostic settings for the specified resource.\
        \ **WARNING**: This method will be deprecated in future releases."
      operationId: service_diagnostic_settings_get
      parameters:
      - description: The identifier of the resource.
        in: path
        name: resourceUri
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
          x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
                id: /subscriptions/1a66ce04-b633-4a0b-b2bc-a912ec8986a6/resourcegroups/viruela1/providers/microsoft.logic/workflows/viruela6/diagnosticSettings/service
                location: ""
                name: service
                properties:
                  logs:
                  - category: WorkflowRuntime
                    enabled: true
                    retentionPolicy:
                      days: 0
                      enabled: false
                  metrics:
                  - enabled: true
                    retentionPolicy:
                      days: 0
                      enabled: false
                    timeGrain: PT1M
                  serviceBusRuleId: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/andy1101/providers/Microsoft.EventHub/namespaces/andy1101/authorizationrules/RootManageSharedAccessKey
                  storageAccountId: /subscriptions/df602c9c-7aa0-407d-a6fb-eb20c8bd1192/resourceGroups/apptest/providers/Microsoft.Storage/storageAccounts/appteststorage1
                  workspaceId: ""
                type: ""
              schema:
                $ref: '#/components/schemas/ServiceDiagnosticSettingsResource'
          description: Successful request to get more information about service diagnostic
            setting
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - ServiceDiagnosticSettings
      x-ms-examples:
        Get service diagnostic setting:
          parameters:
            api-version: 2016-09-01
            resourceUri: /subscriptions/1a66ce04-b633-4a0b-b2bc-a912ec8986a6/resourcegroups/viruela1/providers/microsoft.logic/workflows/viruela6
          responses:
            "200":
              body:
                id: /subscriptions/1a66ce04-b633-4a0b-b2bc-a912ec8986a6/resourcegroups/viruela1/providers/microsoft.logic/workflows/viruela6/diagnosticSettings/service
                location: ""
                name: service
                properties:
                  eventHubAuthorizationRuleId: /subscriptions/1a66ce04-b633-4a0b-b2bc-a912ec8986a6/resourceGroups/montest/providers/microsoft.eventhub/namespaces/mynamespace/eventhubs/myeventhub/authorizationrules/myrule
                  logs:
                  - category: WorkflowRuntime
                    enabled: true
                    retentionPolicy:
                      days: 0
                      enabled: false
                  metrics:
                  - enabled: true
                    retentionPolicy:
                      days: 0
                      enabled: false
                    timeGrain: PT1M
                  serviceBusRuleId: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/andy1101/providers/Microsoft.EventHub/namespaces/andy1101/authorizationrules/RootManageSharedAccessKey
                  storageAccountId: /subscriptions/df602c9c-7aa0-407d-a6fb-eb20c8bd1192/resourceGroups/apptest/providers/Microsoft.Storage/storageAccounts/appteststorage1
                  workspaceId: ""
                type: ""
              headers: {}
      x-openapi-router-controller: openapi_server.controllers.service_diagnostic_settings_controller
    patch:
      description: "Updates an existing ServiceDiagnosticSettingsResource. To update\
        \ other fields use the CreateOrUpdate method. **WARNING**: This method will\
        \ be deprecated in future releases."
      operationId: service_diagnostic_settings_update
      parameters:
      - description: The identifier of the resource.
        in: path
        name: resource_uri
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
          x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceDiagnosticSettingsResourcePatch'
        description: Parameters supplied to the operation.
        required: true
        x-body-name: serviceDiagnosticSettingsResource
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceDiagnosticSettingsResource'
          description: An existing service diagnostics setting resource was successfully
            updated.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      x-ms-examples:
        Update a service diagnostic setting:
          parameters:
            api-version: 2016-09-01
            parameters:
              properties:
                eventHubAuthorizationRuleId: /subscriptions/1a66ce04-b633-4a0b-b2bc-a912ec8986a6/resourceGroups/montest/providers/microsoft.eventhub/namespaces/mynamespace/eventhubs/myeventhub/authorizationrules/myrule
                logs:
                - category: WorkflowRuntime
                  enabled: true
                  retentionPolicy:
                    days: 5
                    enabled: false
                metrics:
                - enabled: true
                  retentionPolicy:
                    days: 3
                    enabled: false
                  timeGrain: PT1M
                serviceBusRuleId: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/andy1101/providers/Microsoft.EventHub/namespaces/andy1101/authorizationrules/RootManageSharedAccessKey
                storageAccountId: /subscriptions/df602c9c-7aa0-407d-a6fb-eb20c8bd1192/resourceGroups/apptest/providers/Microsoft.Storage/storageAccounts/appteststorage1
                workspaceId: ""
            resourceUri: /subscriptions/1a66ce04-b633-4a0b-b2bc-a912ec8986a6/resourcegroups/viruela1/providers/microsoft.logic/workflows/viruela6
          responses:
            "200":
              body:
                id: /subscriptions/1a66ce04-b633-4a0b-b2bc-a912ec8986a6/resourcegroups/viruela1/providers/microsoft.logic/workflows/viruela6/diagnosticSettings/service
                location: ""
                name: service
                properties:
                  eventHubAuthorizationRuleId: /subscriptions/1a66ce04-b633-4a0b-b2bc-a912ec8986a6/resourceGroups/montest/providers/microsoft.eventhub/namespaces/mynamespace/eventhubs/myeventhub/authorizationrules/myrule
                  logs:
                  - category: WorkflowRuntime
                    enabled: true
                    retentionPolicy:
                      days: 5
                      enabled: false
                  metrics:
                  - enabled: true
                    retentionPolicy:
                      days: 3
                      enabled: false
                    timeGrain: PT1M
                  serviceBusRuleId: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/andy1101/providers/Microsoft.EventHub/namespaces/andy1101/authorizationrules/RootManageSharedAccessKey
                  storageAccountId: /subscriptions/df602c9c-7aa0-407d-a6fb-eb20c8bd1192/resourceGroups/apptest/providers/Microsoft.Storage/storageAccounts/appteststorage1
                  workspaceId: ""
                type: ""
              headers: {}
      x-codegen-request-body-name: serviceDiagnosticSettingsResource
      x-openapi-router-controller: openapi_server.controllers.default_controller
    put:
      description: "Create or update new diagnostic settings for the specified resource.\
        \ **WARNING**: This method will be deprecated in future releases."
      operationId: service_diagnostic_settings_create_or_update
      parameters:
      - description: The identifier of the resource.
        in: path
        name: resource_uri
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
          x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceDiagnosticSettingsResource'
        description: Parameters supplied to the operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              example:
                id: /subscriptions/1a66ce04-b633-4a0b-b2bc-a912ec8986a6/resourcegroups/viruela1/providers/microsoft.logic/workflows/viruela6/diagnosticSettings/service
                location: ""
                name: service
                properties:
                  eventHubAuthorizationRuleId: /subscriptions/1a66ce04-b633-4a0b-b2bc-a912ec8986a6/resourceGroups/montest/providers/microsoft.eventhub/namespaces/mynamespace/authorizationrules/myrule
                  logs:
                  - category: WorkflowRuntime
                    enabled: true
                    retentionPolicy:
                      days: 0
                      enabled: false
                  metrics:
                  - enabled: true
                    retentionPolicy:
                      days: 0
                      enabled: false
                    timeGrain: PT1M
                  serviceBusRuleId: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/andy1101/providers/Microsoft.EventHub/namespaces/andy1101/authorizationrules/RootManageSharedAccessKey
                  storageAccountId: /subscriptions/df602c9c-7aa0-407d-a6fb-eb20c8bd1192/resourceGroups/apptest/providers/Microsoft.Storage/storageAccounts/appteststorage1
                  workspaceId: ""
                type: ""
              schema:
                $ref: '#/components/schemas/ServiceDiagnosticSettingsResource'
          description: Successful request to create a service diagnostic setting
      tags:
      - ServiceDiagnosticSettings
      x-ms-examples:
        Create or update a service diagnostic setting:
          parameters:
            api-version: 2016-09-01
            parameters:
              location: ""
              properties:
                eventHubAuthorizationRuleId: /subscriptions/1a66ce04-b633-4a0b-b2bc-a912ec8986a6/resourceGroups/montest/providers/microsoft.eventhub/namespaces/mynamespace/eventhubs/myeventhub/authorizationrules/myrule
                logs:
                - category: WorkflowRuntime
                  enabled: true
                  retentionPolicy:
                    days: 0
                    enabled: false
                metrics:
                - enabled: true
                  retentionPolicy:
                    days: 0
                    enabled: false
                  timeGrain: PT1M
                serviceBusRuleId: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/andy1101/providers/Microsoft.EventHub/namespaces/andy1101/authorizationrules/RootManageSharedAccessKey
                storageAccountId: /subscriptions/df602c9c-7aa0-407d-a6fb-eb20c8bd1192/resourceGroups/apptest/providers/Microsoft.Storage/storageAccounts/appteststorage1
                workspaceId: ""
            resourceUri: /subscriptions/1a66ce04-b633-4a0b-b2bc-a912ec8986a6/resourcegroups/viruela1/providers/microsoft.logic/workflows/viruela6
          responses:
            "200":
              body:
                id: /subscriptions/1a66ce04-b633-4a0b-b2bc-a912ec8986a6/resourcegroups/viruela1/providers/microsoft.logic/workflows/viruela6/diagnosticSettings/service
                location: ""
                name: service
                properties:
                  eventHubAuthorizationRuleId: /subscriptions/1a66ce04-b633-4a0b-b2bc-a912ec8986a6/resourceGroups/montest/providers/microsoft.eventhub/namespaces/mynamespace/eventhubs/myeventhub/authorizationrules/myrule
                  logs:
                  - category: WorkflowRuntime
                    enabled: true
                    retentionPolicy:
                      days: 0
                      enabled: false
                  metrics:
                  - enabled: true
                    retentionPolicy:
                      days: 0
                      enabled: false
                    timeGrain: PT1M
                  serviceBusRuleId: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/andy1101/providers/Microsoft.EventHub/namespaces/andy1101/authorizationrules/RootManageSharedAccessKey
                  storageAccountId: /subscriptions/df602c9c-7aa0-407d-a6fb-eb20c8bd1192/resourceGroups/apptest/providers/Microsoft.Storage/storageAccounts/appteststorage1
                  workspaceId: ""
                type: ""
              headers: {}
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.service_diagnostic_settings_controller
components:
  parameters:
    ApiVersionParameter:
      description: Client Api Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    ResourceUriParameter:
      description: The identifier of the resource.
      in: path
      name: resourceUri
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
      x-ms-parameter-location: method
      x-ms-skip-url-encoding: true
  schemas:
    ErrorResponse:
      description: Describes the format of Error response.
      example:
        code: code
        message: message
      properties:
        code:
          description: Error code
          title: code
          type: string
        message:
          description: Error message indicating why the operation failed.
          title: message
          type: string
      title: ErrorResponse
      type: object
    LogSettings:
      description: Part of MultiTenantDiagnosticSettings. Specifies the settings for
        a particular log.
      example:
        retentionPolicy:
          days: 0
          enabled: true
        category: category
        enabled: true
      properties:
        category:
          description: "Name of a Diagnostic Log category for a resource type this\
            \ setting is applied to. To obtain the list of Diagnostic Log categories\
            \ for a resource, first perform a GET diagnostic settings operation."
          title: category
          type: string
        enabled:
          description: a value indicating whether this log is enabled.
          title: enabled
          type: boolean
        retentionPolicy:
          $ref: '#/components/schemas/RetentionPolicy'
      required:
      - enabled
      title: LogSettings
      type: object
    MetricSettings:
      description: Part of MultiTenantDiagnosticSettings. Specifies the settings for
        a particular metric.
      example:
        timeGrain: timeGrain
        retentionPolicy:
          days: 0
          enabled: true
        enabled: true
      properties:
        enabled:
          description: a value indicating whether this timegrain is enabled.
          title: enabled
          type: boolean
        retentionPolicy:
          $ref: '#/components/schemas/RetentionPolicy'
        timeGrain:
          description: the timegrain of the metric in ISO8601 format.
          format: duration
          title: timeGrain
          type: string
      required:
      - enabled
      - timeGrain
      title: MetricSettings
      type: object
    Resource:
      description: An azure resource object
      properties:
        id:
          description: Azure resource Id
          readOnly: true
          title: id
          type: string
        location:
          description: Resource location
          title: location
          type: string
          x-ms-mutability:
          - create
          - read
        name:
          description: Azure resource name
          readOnly: true
          title: name
          type: string
        tags:
          description: Resource tags
          title: tags
          type: object
        type:
          description: Azure resource type
          readOnly: true
          title: type
          type: string
      required:
      - location
      title: Resource
      type: object
      x-ms-azure-resource: true
    RetentionPolicy:
      description: Specifies the retention policy for the log.
      example:
        days: 0
        enabled: true
      properties:
        days:
          description: the number of days for the retention in days. A value of 0
            will retain the events indefinitely.
          format: int32
          minimum: 0
          title: days
          type: integer
        enabled:
          description: a value indicating whether the retention policy is enabled.
          title: enabled
          type: boolean
      required:
      - days
      - enabled
      title: RetentionPolicy
      type: object
    ServiceDiagnosticSettings:
      description: The diagnostic settings for service.
      example:
        serviceBusRuleId: serviceBusRuleId
        storageAccountId: storageAccountId
        eventHubAuthorizationRuleId: eventHubAuthorizationRuleId
        metrics:
        - timeGrain: timeGrain
          retentionPolicy:
            days: 0
            enabled: true
          enabled: true
        - timeGrain: timeGrain
          retentionPolicy:
            days: 0
            enabled: true
          enabled: true
        logs:
        - retentionPolicy:
            days: 0
            enabled: true
          category: category
          enabled: true
        - retentionPolicy:
            days: 0
            enabled: true
          category: category
          enabled: true
        workspaceId: workspaceId
      properties:
        eventHubAuthorizationRuleId:
          description: The resource Id for the event hub namespace authorization rule.
          title: eventHubAuthorizationRuleId
          type: string
        logs:
          description: the list of logs settings.
          items:
            $ref: '#/components/schemas/LogSettings'
          title: logs
          type: array
        metrics:
          description: the list of metric settings.
          items:
            $ref: '#/components/schemas/MetricSettings'
          title: metrics
          type: array
        serviceBusRuleId:
          description: "The service bus rule ID of the service bus namespace in which\
            \ you would like to have Event Hubs created for streaming Diagnostic Logs.\
            \ The rule ID is of the format: '{service bus resource ID}/authorizationrules/{key\
            \ name}'."
          title: serviceBusRuleId
          type: string
        storageAccountId:
          description: The resource ID of the storage account to which you would like
            to send Diagnostic Logs.
          title: storageAccountId
          type: string
        workspaceId:
          description: "The workspace ID (resource ID of a Log Analytics workspace)\
            \ for a Log Analytics workspace to which you would like to send Diagnostic\
            \ Logs. Example: /subscriptions/4b9e8510-67ab-4e9a-95a9-e2f1e570ea9c/resourceGroups/insights-integration/providers/Microsoft.OperationalInsights/workspaces/viruela2"
          title: workspaceId
          type: string
      title: ServiceDiagnosticSettings
      type: object
    ServiceDiagnosticSettingsResource:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: Description of a service diagnostic setting
      example:
        properties:
          serviceBusRuleId: serviceBusRuleId
          storageAccountId: storageAccountId
          eventHubAuthorizationRuleId: eventHubAuthorizationRuleId
          metrics:
          - timeGrain: timeGrain
            retentionPolicy:
              days: 0
              enabled: true
            enabled: true
          - timeGrain: timeGrain
            retentionPolicy:
              days: 0
              enabled: true
            enabled: true
          logs:
          - retentionPolicy:
              days: 0
              enabled: true
            category: category
            enabled: true
          - retentionPolicy:
              days: 0
              enabled: true
            category: category
            enabled: true
          workspaceId: workspaceId
      properties:
        properties:
          $ref: '#/components/schemas/ServiceDiagnosticSettings'
      title: ServiceDiagnosticSettingsResource
    ServiceDiagnosticSettingsResourcePatch:
      description: Service diagnostic setting resource for patch operations
      example:
        properties:
          serviceBusRuleId: serviceBusRuleId
          storageAccountId: storageAccountId
          eventHubAuthorizationRuleId: eventHubAuthorizationRuleId
          metrics:
          - timeGrain: timeGrain
            retentionPolicy:
              days: 0
              enabled: true
            enabled: true
          - timeGrain: timeGrain
            retentionPolicy:
              days: 0
              enabled: true
            enabled: true
          logs:
          - retentionPolicy:
              days: 0
              enabled: true
            category: category
            enabled: true
          - retentionPolicy:
              days: 0
              enabled: true
            category: category
            enabled: true
          workspaceId: workspaceId
        tags: "{}"
      properties:
        properties:
          $ref: '#/components/schemas/ServiceDiagnosticSettings'
        tags:
          description: Resource tags
          title: tags
          type: object
      title: ServiceDiagnosticSettingsResourcePatch
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
