openapi: 3.0.0
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: "Display & Video 360 API allows users to automate complex Display &\
    \ Video 360 workflows, such as creating insertion orders and setting targeting\
    \ options for individual line items."
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Display & Video 360 API
  version: v3
  x-apiClientRegistration:
    url: https://console.developers.google.com
  x-apisguru-categories:
  - analytics
  - media
  x-logo:
    url: https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png
  x-origin:
  - format: google
    url: https://displayvideo.googleapis.com/$discovery/rest?version=v3
    version: v1
  x-preferred: false
  x-providerName: googleapis.com
  x-serviceName: displayvideo
externalDocs:
  url: https://developers.google.com/display-video/
servers:
- url: https://displayvideo.googleapis.com/
tags:
- name: advertisers
- name: combinedAudiences
- name: customBiddingAlgorithms
- name: customLists
- name: firstAndThirdPartyAudiences
- name: floodlightGroups
- name: googleAudiences
- name: guaranteedOrders
- name: inventorySourceGroups
- name: inventorySources
- name: media
- name: partners
- name: sdfdownloadtasks
- name: targetingTypes
- name: users
paths:
  /download/{resourceName}:
    get:
      description: "Downloads media. Download is supported on the URI `/download/{resource_name=**}?alt=media.`\
        \ **Note**: Download requests will not be successful without including `alt=media`\
        \ query string."
      operationId: displayvideo.media.download
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Name of the media that is being downloaded. See ReadRequest.resource_name.
        explode: false
        in: path
        name: resourceName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleBytestreamMedia'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/display-video
        Oauth2c:
        - https://www.googleapis.com/auth/display-video
      - Oauth2:
        - https://www.googleapis.com/auth/doubleclickbidmanager
        Oauth2c:
        - https://www.googleapis.com/auth/doubleclickbidmanager
      tags:
      - media
      x-accepts:
      - application/json
  /media/{resourceName}:
    post:
      description: "Uploads media. Upload is supported on the URI `/upload/media/{resource_name=**}?upload_type=media.`\
        \ **Note**: Upload requests will not be successful without including `upload_type=media`\
        \ query string."
      operationId: displayvideo.media.upload
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Name of the media that is being downloaded. See ReadRequest.resource_name.
        explode: false
        in: path
        name: resourceName
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/octet-stream:
            schema:
              $ref: '#/components/schemas/GoogleBytestreamMedia'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleBytestreamMedia'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/display-video
        Oauth2c:
        - https://www.googleapis.com/auth/display-video
      - Oauth2:
        - https://www.googleapis.com/auth/doubleclickbidmanager
        Oauth2c:
        - https://www.googleapis.com/auth/doubleclickbidmanager
      tags:
      - media
      x-content-type: application/octet-stream
      x-accepts:
      - application/json
  /v3/advertisers:
    get:
      description: Lists advertisers that are accessible to the current user. The
        order is defined by the order_by parameter. A single partner_id is required.
        Cross-partner listing is not supported.
      operationId: displayvideo.advertisers.list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Allows filtering by advertiser fields. Supported syntax: * Filter\
          \ expressions are made up of one or more restrictions. * Restrictions can\
          \ be combined by `AND` or `OR` logical operators. * A restriction has the\
          \ form of `{field} {operator} {value}`. * The `updateTime` field must use\
          \ the `GREATER THAN OR EQUAL TO (>=)` or `LESS THAN OR EQUAL TO (<=)` operators.\
          \ * All other fields must use the `EQUALS (=)` operator. Supported fields:\
          \ * `advertiserId` * `displayName` * `entityStatus` * `updateTime` (input\
          \ in ISO 8601 format, or `YYYY-MM-DDTHH:MM:SSZ`) Examples: * All active\
          \ advertisers under a partner: `entityStatus=\"ENTITY_STATUS_ACTIVE\"` *\
          \ All advertisers with an update time less than or equal to 2020-11-04T18:54:47Z\
          \ (format of ISO 8601): `updateTime<=\"2020-11-04T18:54:47Z\"` * All advertisers\
          \ with an update time greater than or equal to 2020-11-04T18:54:47Z (format\
          \ of ISO 8601): `updateTime>=\"2020-11-04T18:54:47Z\"` The length of this\
          \ field should be no more than 500 characters. Reference our [filter `LIST`\
          \ requests](/display-video/api/guides/how-tos/filters) guide for more information."
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - description: "Field by which to sort the list. Acceptable values are: * `displayName`\
          \ (default) * `entityStatus` * `updateTime` The default sorting order is\
          \ ascending. To specify descending order for a field, a suffix \"desc\"\
          \ should be added to the field name. For example, `displayName desc`."
        explode: true
        in: query
        name: orderBy
        required: false
        schema:
          type: string
        style: form
      - description: Requested page size. Must be between `1` and `200`. If unspecified
          will default to `100`.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: "A token identifying a page of results the server should return.\
          \ Typically, this is the value of next_page_token returned from the previous\
          \ call to `ListAdvertisers` method. If not specified, the first page of\
          \ results will be returned."
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      - description: Required. The ID of the partner that the fetched advertisers
          should all belong to. The system only supports listing advertisers for one
          partner at a time.
        explode: true
        in: query
        name: partnerId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAdvertisersResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/display-video
        Oauth2c:
        - https://www.googleapis.com/auth/display-video
      tags:
      - advertisers
      x-accepts:
      - application/json
    post:
      description: "Creates a new advertiser. Returns the newly created advertiser\
        \ if successful. **This method regularly experiences high latency.** We recommend\
        \ [increasing your default timeout](/display-video/api/guides/best-practices/timeouts#client_library_timeout)\
        \ to avoid errors."
      operationId: displayvideo.advertisers.create
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Advertiser'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Advertiser'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/display-video
        Oauth2c:
        - https://www.googleapis.com/auth/display-video
      tags:
      - advertisers
      x-content-type: application/json
      x-accepts:
      - application/json
  /v3/advertisers/{advertiserId}:
    delete:
      description: "Deletes an advertiser. Deleting an advertiser will delete all\
        \ of its child resources, for example, campaigns, insertion orders and line\
        \ items. A deleted advertiser cannot be recovered."
      operationId: displayvideo.advertisers.delete
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: The ID of the advertiser we need to delete.
        explode: false
        in: path
        name: advertiserId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/display-video
        Oauth2c:
        - https://www.googleapis.com/auth/display-video
      tags:
      - advertisers
      x-accepts:
      - application/json
    get:
      description: Gets an advertiser.
      operationId: displayvideo.advertisers.get
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. The ID of the advertiser to fetch.
        explode: false
        in: path
        name: advertiserId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Advertiser'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/display-video
        Oauth2c:
        - https://www.googleapis.com/auth/display-video
      tags:
      - advertisers
      x-accepts:
      - application/json
    patch:
      description: Updates an existing advertiser. Returns the updated advertiser
        if successful.
      operationId: displayvideo.advertisers.patch
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Output only. The unique ID of the advertiser. Assigned by the
          system.
        explode: false
        in: path
        name: advertiserId
        required: true
        schema:
          type: string
        style: simple
      - description: Required. The mask to control which fields to update.
        explode: true
        in: query
        name: updateMask
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Advertiser'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Advertiser'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/display-video
        Oauth2c:
        - https://www.googleapis.com/auth/display-video
      tags:
      - advertisers
      x-content-type: application/json
      x-accepts:
      - application/json
  /v3/advertisers/{advertiserId}/adGroupAds:
    get:
      description: Lists ad group ads.
      operationId: displayvideo.advertisers.adGroupAds.list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. The ID of the advertiser the ad groups belongs to.
        explode: false
        in: path
        name: advertiserId
        required: true
        schema:
          type: string
        style: simple
      - description: "Optional. Allows filtering by custom ad group ad fields. Supported\
          \ syntax: * Filter expressions are made up of one or more restrictions.\
          \ * Restrictions can be combined by `AND` and `OR`. A sequence of restrictions\
          \ implicitly uses `AND`. * A restriction has the form of `{field} {operator}\
          \ {value}`. * All fields must use the `EQUALS (=)` operator. Supported fields:\
          \ * `adGroupId` * `displayName` * `entityStatus` * `adGroupAdId` Examples:\
          \ * All ad group ads under an ad group: `adGroupId=\"1234\"` * All ad group\
          \ ads under an ad group with an entityStatus of `ENTITY_STATUS_ACTIVE` or\
          \ `ENTITY_STATUS_PAUSED`: `(entityStatus=\"ENTITY_STATUS_ACTIVE\" OR entityStatus=\"\
          ENTITY_STATUS_PAUSED\") AND adGroupId=\"12345\"` The length of this field\
          \ should be no more than 500 characters. Reference our [filter `LIST` requests](/display-video/api/guides/how-tos/filters)\
          \ guide for more information."
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. Field by which to sort the list. Acceptable values\
          \ are: * `displayName` (default) * `entityStatus` The default sorting order\
          \ is ascending. To specify descending order for a field, a suffix \"desc\"\
          \ should be added to the field name. Example: `displayName desc`."
        explode: true
        in: query
        name: orderBy
        required: false
        schema:
          type: string
        style: form
      - description: Optional. Requested page size. Must be between `1` and `100`.
          If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT`
          if an invalid value is specified.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: "Optional. A token identifying a page of results the server should\
          \ return. Typically, this is the value of next_page_token returned from\
          \ the previous call to `ListAdGroupAds` method. If not specified, the first\
          \ page of results will be returned."
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAdGroupAdsResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/display-video
        Oauth2c:
        - https://www.googleapis.com/auth/display-video
      tags:
      - advertisers
      x-accepts:
      - application/json
  /v3/advertisers/{advertiserId}/adGroupAds/{adGroupAdId}:
    get:
      description: Gets an ad group ad.
      operationId: displayvideo.advertisers.adGroupAds.get
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. The ID of the advertiser this ad group ad belongs to.
        explode: false
        in: path
        name: advertiserId
        required: true
        schema:
          type: string
        style: simple
      - description: Required. The ID of the ad group ad to fetch.
        explode: false
        in: path
        name: adGroupAdId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdGroupAd'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/display-video
        Oauth2c:
        - https://www.googleapis.com/auth/display-video
      tags:
      - advertisers
      x-accepts:
      - application/json
  /v3/advertisers/{advertiserId}/adGroups:
    get:
      description: Lists ad groups.
      operationId: displayvideo.advertisers.adGroups.list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. The ID of the advertiser the ad groups belongs to.
        explode: false
        in: path
        name: advertiserId
        required: true
        schema:
          type: string
        style: simple
      - description: "Optional. Allows filtering by custom ad group fields. Supported\
          \ syntax: * Filter expressions are made up of one or more restrictions.\
          \ * Restrictions can be combined by `AND` and `OR`. A sequence of restrictions\
          \ implicitly uses `AND`. * A restriction has the form of `{field} {operator}\
          \ {value}`. * All fields must use the `EQUALS (=)` operator. Supported properties:\
          \ * `adGroupId` * `displayName` * `entityStatus` * `lineItemId` * `adGroupFormat`\
          \ Examples: * All ad groups under an line item: `lineItemId=\"1234\"` *\
          \ All `ENTITY_STATUS_ACTIVE` or `ENTITY_STATUS_PAUSED` `AD_GROUP_FORMAT_IN_STREAM`\
          \ ad groups under an advertiser: `(entityStatus=\"ENTITY_STATUS_ACTIVE\"\
          \ OR entityStatus=\"ENTITY_STATUS_PAUSED\") AND adGroupFormat=\"AD_GROUP_FORMAT_IN_STREAM\"\
          ` The length of this field should be no more than 500 characters. Reference\
          \ our [filter `LIST` requests](/display-video/api/guides/how-tos/filters)\
          \ guide for more information."
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. Field by which to sort the list. Acceptable values\
          \ are: * `displayName` (default) * `entityStatus` The default sorting order\
          \ is ascending. To specify descending order for a field, a suffix \"desc\"\
          \ should be added to the field name. Example: `displayName desc`."
        explode: true
        in: query
        name: orderBy
        required: false
        schema:
          type: string
        style: form
      - description: Optional. Requested page size. Must be between `1` and `200`.
          If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT`
          if an invalid value is specified.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: "Optional. A token identifying a page of results the server should\
          \ return. Typically, this is the value of next_page_token returned from\
          \ the previous call to `ListAdGroups` method. If not specified, the first\
          \ page of results will be returned."
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAdGroupsResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/display-video
        Oauth2c:
        - https://www.googleapis.com/auth/display-video
      tags:
      - advertisers
      x-accepts:
      - application/json
  /v3/advertisers/{advertiserId}/adGroups/{adGroupId}:
    get:
      description: Gets an ad group.
      operationId: displayvideo.advertisers.adGroups.get
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. The ID of the advertiser this ad group belongs to.
        explode: false
        in: path
        name: advertiserId
        required: true
        schema:
          type: string
        style: simple
      - description: Required. The ID of the ad group to fetch.
        explode: false
        in: path
        name: adGroupId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdGroup'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/display-video
        Oauth2c:
        - https://www.googleapis.com/auth/display-video
      tags:
      - advertisers
      x-accepts:
      - application/json
  /v3/advertisers/{advertiserId}/adGroups/{adGroupId}/targetingTypes/{targetingType}/assignedTargetingOptions:
    get:
      description: Lists the targeting options assigned to an ad group. Inherited
        assigned targeting options are not included.
      operationId: displayvideo.advertisers.adGroups.targetingTypes.assignedTargetingOptions.list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. The ID of the advertiser the ad group belongs to.
        explode: false
        in: path
        name: advertiserId
        required: true
        schema:
          type: string
        style: simple
      - description: Required. The ID of the ad group to list assigned targeting options
          for.
        explode: false
        in: path
        name: adGroupId
        required: true
        schema:
          type: string
        style: simple
      - description: "Required. Identifies the type of assigned targeting options\
          \ to list. Supported targeting types include: * `TARGETING_TYPE_AGE_RANGE`\
          \ * `TARGETING_TYPE_APP` * `TARGETING_TYPE_APP_CATEGORY` * `TARGETING_TYPE_AUDIENCE_GROUP`\
          \ * `TARGETING_TYPE_CATEGORY` * `TARGETING_TYPE_GENDER` * `TARGETING_TYPE_HOUSEHOLD_INCOME`\
          \ * `TARGETING_TYPE_KEYWORD` * `TARGETING_TYPE_PARENTAL_STATUS` * `TARGETING_TYPE_SESSION_POSITION`\
          \ * `TARGETING_TYPE_URL` * `TARGETING_TYPE_YOUTUBE_CHANNEL` * `TARGETING_TYPE_YOUTUBE_VIDEO`"
        explode: false
        in: path
        name: targetingType
        required: true
        schema:
          enum:
          - TARGETING_TYPE_UNSPECIFIED
          - TARGETING_TYPE_CHANNEL
          - TARGETING_TYPE_APP_CATEGORY
          - TARGETING_TYPE_APP
          - TARGETING_TYPE_URL
          - TARGETING_TYPE_DAY_AND_TIME
          - TARGETING_TYPE_AGE_RANGE
          - TARGETING_TYPE_REGIONAL_LOCATION_LIST
          - TARGETING_TYPE_PROXIMITY_LOCATION_LIST
          - TARGETING_TYPE_GENDER
          - TARGETING_TYPE_VIDEO_PLAYER_SIZE
          - TARGETING_TYPE_USER_REWARDED_CONTENT
          - TARGETING_TYPE_PARENTAL_STATUS
          - TARGETING_TYPE_CONTENT_INSTREAM_POSITION
          - TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION
          - TARGETING_TYPE_DEVICE_TYPE
          - TARGETING_TYPE_AUDIENCE_GROUP
          - TARGETING_TYPE_BROWSER
          - TARGETING_TYPE_HOUSEHOLD_INCOME
          - TARGETING_TYPE_ON_SCREEN_POSITION
          - TARGETING_TYPE_THIRD_PARTY_VERIFIER
          - TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION
          - TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION
          - TARGETING_TYPE_ENVIRONMENT
          - TARGETING_TYPE_CARRIER_AND_ISP
          - TARGETING_TYPE_OPERATING_SYSTEM
          - TARGETING_TYPE_DEVICE_MAKE_MODEL
          - TARGETING_TYPE_KEYWORD
          - TARGETING_TYPE_NEGATIVE_KEYWORD_LIST
          - TARGETING_TYPE_VIEWABILITY
          - TARGETING_TYPE_CATEGORY
          - TARGETING_TYPE_INVENTORY_SOURCE
          - TARGETING_TYPE_LANGUAGE
          - TARGETING_TYPE_AUTHORIZED_SELLER_STATUS
          - TARGETING_TYPE_GEO_REGION
          - TARGETING_TYPE_INVENTORY_SOURCE_GROUP
          - TARGETING_TYPE_EXCHANGE
          - TARGETING_TYPE_SUB_EXCHANGE
          - TARGETING_TYPE_POI
          - TARGETING_TYPE_BUSINESS_CHAIN
          - TARGETING_TYPE_CONTENT_DURATION
          - TARGETING_TYPE_CONTENT_STREAM_TYPE
          - TARGETING_TYPE_NATIVE_CONTENT_POSITION
          - TARGETING_TYPE_OMID
          - TARGETING_TYPE_AUDIO_CONTENT_TYPE
          - TARGETING_TYPE_CONTENT_GENRE
          - TARGETING_TYPE_YOUTUBE_VIDEO
          - TARGETING_TYPE_YOUTUBE_CHANNEL
          - TARGETING_TYPE_SESSION_POSITION
          type: string
        style: simple
      - description: "Optional. Allows filtering by assigned targeting option fields.\
          \ Supported syntax: * Filter expressions are made up of one or more restrictions.\
          \ * Restrictions can be combined by the logical operator `OR`. * A restriction\
          \ has the form of `{field} {operator} {value}`. * All fields must use the\
          \ `EQUALS (=)` operator. Supported fields: * `assignedTargetingOptionId`\
          \ Examples: * `AssignedTargetingOption` resources with ID 1 or 2: `assignedTargetingOptionId=\"\
          1\" OR assignedTargetingOptionId=\"2\"` The length of this field should\
          \ be no more than 500 characters. Reference our [filter `LIST` requests](/display-video/api/guides/how-tos/filters)\
          \ guide for more information."
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. Field by which to sort the list. Acceptable values\
          \ are: * `assignedTargetingOptionId` (default) The default sorting order\
          \ is ascending. To specify descending order for a field, a suffix \"desc\"\
          \ should be added to the field name. Example: `assignedTargetingOptionId\
          \ desc`."
        explode: true
        in: query
        name: orderBy
        required: false
        schema:
          type: string
        style: form
      - description: Optional. Requested page size. Must be between `1` and `5000`.
          If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT`
          if an invalid value is specified.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: "Optional. A token identifying a page of results the server should\
          \ return. Typically, this is the value of next_page_token returned from\
          \ the previous call to `ListAdGroupAssignedTargetingOptions` method. If\
          \ not specified, the first page of results will be returned."
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAdGroupAssignedTargetingOptionsResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/display-video
        Oauth2c:
        - https://www.googleapis.com/auth/display-video
      tags:
      - advertisers
      x-accepts:
      - application/json
  ? /v3/advertisers/{advertiserId}/adGroups/{adGroupId}/targetingTypes/{targetingType}/assignedTargetingOptions/{assignedTargetingOptionId}
  : get:
      description: Gets a single targeting option assigned to an ad group. Inherited
        assigned targeting options are not included.
      operationId: displayvideo.advertisers.adGroups.targetingTypes.assignedTargetingOptions.get
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. The ID of the advertiser the ad group belongs to.
        explode: false
        in: path
        name: advertiserId
        required: true
        schema:
          type: string
        style: simple
      - description: Required. The ID of the ad group the assigned targeting option
          belongs to.
        explode: false
        in: path
        name: adGroupId
        required: true
        schema:
          type: string
        style: simple
      - description: "Required. Identifies the type of this assigned targeting option.\
          \ Supported targeting types include: * `TARGETING_TYPE_AGE_RANGE` * `TARGETING_TYPE_APP`\
          \ * `TARGETING_TYPE_APP_CATEGORY` * `TARGETING_TYPE_AUDIENCE_GROUP` * `TARGETING_TYPE_CATEGORY`\
          \ * `TARGETING_TYPE_GENDER` * `TARGETING_TYPE_HOUSEHOLD_INCOME` * `TARGETING_TYPE_KEYWORD`\
          \ * `TARGETING_TYPE_PARENTAL_STATUS` * `TARGETING_TYPE_SESSION_POSITION`\
          \ * `TARGETING_TYPE_URL` * `TARGETING_TYPE_YOUTUBE_CHANNEL` * `TARGETING_TYPE_YOUTUBE_VIDEO`"
        explode: false
        in: path
        name: targetingType
        required: true
        schema:
          enum:
          - TARGETING_TYPE_UNSPECIFIED
          - TARGETING_TYPE_CHANNEL
          - TARGETING_TYPE_APP_CATEGORY
          - TARGETING_TYPE_APP
          - TARGETING_TYPE_URL
          - TARGETING_TYPE_DAY_AND_TIME
          - TARGETING_TYPE_AGE_RANGE
          - TARGETING_TYPE_REGIONAL_LOCATION_LIST
          - TARGETING_TYPE_PROXIMITY_LOCATION_LIST
          - TARGETING_TYPE_GENDER
          - TARGETING_TYPE_VIDEO_PLAYER_SIZE
          - TARGETING_TYPE_USER_REWARDED_CONTENT
          - TARGETING_TYPE_PARENTAL_STATUS
          - TARGETING_TYPE_CONTENT_INSTREAM_POSITION
          - TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION
          - TARGETING_TYPE_DEVICE_TYPE
          - TARGETING_TYPE_AUDIENCE_GROUP
          - TARGETING_TYPE_BROWSER
          - TARGETING_TYPE_HOUSEHOLD_INCOME
          - TARGETING_TYPE_ON_SCREEN_POSITION
          - TARGETING_TYPE_THIRD_PARTY_VERIFIER
          - TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION
          - TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION
          - TARGETING_TYPE_ENVIRONMENT
          - TARGETING_TYPE_CARRIER_AND_ISP
          - TARGETING_TYPE_OPERATING_SYSTEM
          - TARGETING_TYPE_DEVICE_MAKE_MODEL
          - TARGETING_TYPE_KEYWORD
          - TARGETING_TYPE_NEGATIVE_KEYWORD_LIST
          - TARGETING_TYPE_VIEWABILITY
          - TARGETING_TYPE_CATEGORY
          - TARGETING_TYPE_INVENTORY_SOURCE
          - TARGETING_TYPE_LANGUAGE
          - TARGETING_TYPE_AUTHORIZED_SELLER_STATUS
          - TARGETING_TYPE_GEO_REGION
          - TARGETING_TYPE_INVENTORY_SOURCE_GROUP
          - TARGETING_TYPE_EXCHANGE
          - TARGETING_TYPE_SUB_EXCHANGE
          - TARGETING_TYPE_POI
          - TARGETING_TYPE_BUSINESS_CHAIN
          - TARGETING_TYPE_CONTENT_DURATION
          - TARGETING_TYPE_CONTENT_STREAM_TYPE
          - TARGETING_TYPE_NATIVE_CONTENT_POSITION
          - TARGETING_TYPE_OMID
          - TARGETING_TYPE_AUDIO_CONTENT_TYPE
          - TARGETING_TYPE_CONTENT_GENRE
          - TARGETING_TYPE_YOUTUBE_VIDEO
          - TARGETING_TYPE_YOUTUBE_CHANNEL
          - TARGETING_TYPE_SESSION_POSITION
          type: string
        style: simple
      - description: Required. An identifier unique to the targeting type in this
          line item that identifies the assigned targeting option being requested.
        explode: false
        in: path
        name: assignedTargetingOptionId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssignedTargetingOption'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/display-video
        Oauth2c:
        - https://www.googleapis.com/auth/display-video
      tags:
      - advertisers
      x-accepts:
      - application/json
  /v3/advertisers/{advertiserId}/adGroups:bulkListAdGroupAssignedTargetingOptions:
    get:
      description: Lists assigned targeting options for multiple ad groups across
        targeting types. Inherited assigned targeting options are not included.
      operationId: displayvideo.advertisers.adGroups.bulkListAdGroupAssignedTargetingOptions
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. The ID of the advertiser the line items belongs to.
        explode: false
        in: path
        name: advertiserId
        required: true
        schema:
          type: string
        style: simple
      - description: Required. The IDs of the ad groups to list assigned targeting
          options for.
        explode: true
        in: query
        name: adGroupIds
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "Optional. Allows filtering by assigned targeting option fields.\
          \ Supported syntax: * Filter expressions are made up of one or more restrictions.\
          \ * Restrictions can be combined by the logical operator `OR`. * A restriction\
          \ has the form of `{field} {operator} {value}`. * All fields must use the\
          \ `EQUALS (=)` operator. Supported fields: * `targetingType` Examples: *\
          \ `AssignedTargetingOption` resources of targeting type `TARGETING_TYPE_YOUTUBE_VIDEO`\
          \ or `TARGETING_TYPE_YOUTUBE_CHANNEL`: `targetingType=\"TARGETING_TYPE_YOUTUBE_VIDEO\"\
          \ OR targetingType=\"TARGETING_TYPE_YOUTUBE_CHANNEL\"` The length of this\
          \ field should be no more than 500 characters. Reference our [filter `LIST`\
          \ requests](/display-video/api/guides/how-tos/filters) guide for more information."
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. Field by which to sort the list. Acceptable values\
          \ are: * `adGroupId` (default) * `assignedTargetingOption.targetingType`\
          \ The default sorting order is ascending. To specify descending order for\
          \ a field, a suffix \"desc\" should be added to the field name. Example:\
          \ `targetingType desc`."
        explode: true
        in: query
        name: orderBy
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. Requested page size. The size must be an integer between\
          \ `1` and `5000`. If unspecified, the default is `5000`. Returns error code\
          \ `INVALID_ARGUMENT` if an invalid value is specified."
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: "Optional. A token that lets the client fetch the next page of\
          \ results. Typically, this is the value of next_page_token returned from\
          \ the previous call to the `BulkListAdGroupAssignedTargetingOptions` method.\
          \ If not specified, the first page of results will be returned."
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkListAdGroupAssignedTargetingOptionsResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/display-video
        Oauth2c:
        - https://www.googleapis.com/auth/display-video
      tags:
      - advertisers
      x-accepts:
      - application/json
  /v3/advertisers/{advertiserId}/assets:
    post:
      description: "Uploads an asset. Returns the ID of the newly uploaded asset if\
        \ successful. The asset file size should be no more than 10 MB for images,\
        \ 200 MB for ZIP files, and 1 GB for videos. Must be used within the [multipart\
        \ media upload process](/display-video/api/guides/how-tos/upload#multipart).\
        \ Examples using provided client libraries can be found in our [Creating Creatives\
        \ guide](/display-video/api/guides/creating-creatives/overview#upload_an_asset)."
      operationId: displayvideo.advertisers.assets.upload
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. The ID of the advertiser this asset belongs to.
        explode: false
        in: path
        name: advertiserId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/octet-stream:
            schema:
              $ref: '#/components/schemas/CreateAssetRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAssetResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/display-video
        Oauth2c:
        - https://www.googleapis.com/auth/display-video
      tags:
      - advertisers
      x-content-type: application/octet-stream
      x-accepts:
      - application/json
  /v3/advertisers/{advertiserId}/campaigns:
    get:
      description: "Lists campaigns in an advertiser. The order is defined by the\
        \ order_by parameter. If a filter by entity_status is not specified, campaigns\
        \ with `ENTITY_STATUS_ARCHIVED` will not be included in the results."
      operationId: displayvideo.advertisers.campaigns.list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: The ID of the advertiser to list campaigns for.
        explode: false
        in: path
        name: advertiserId
        required: true
        schema:
          type: string
        style: simple
      - description: "Allows filtering by campaign fields. Supported syntax: * Filter\
          \ expressions are made up of one or more restrictions. * Restrictions can\
          \ be combined by `AND` or `OR` logical operators. A sequence of restrictions\
          \ implicitly uses `AND`. * A restriction has the form of `{field} {operator}\
          \ {value}`. * The `updateTime` field must use the `GREATER THAN OR EQUAL\
          \ TO (>=)` or `LESS THAN OR EQUAL TO (<=)` operators. * All other fields\
          \ must use the `EQUALS (=)` operator. Supported fields: * `campaignId` *\
          \ `displayName` * `entityStatus` * `updateTime` (input in ISO 8601 format,\
          \ or `YYYY-MM-DDTHH:MM:SSZ`) Examples: * All `ENTITY_STATUS_ACTIVE` or `ENTITY_STATUS_PAUSED`\
          \ campaigns under an advertiser: `(entityStatus=\"ENTITY_STATUS_ACTIVE\"\
          \ OR entityStatus=\"ENTITY_STATUS_PAUSED\")` * All campaigns with an update\
          \ time less than or equal to 2020-11-04T18:54:47Z (format of ISO 8601):\
          \ `updateTime<=\"2020-11-04T18:54:47Z\"` * All campaigns with an update\
          \ time greater than or equal to 2020-11-04T18:54:47Z (format of ISO 8601):\
          \ `updateTime>=\"2020-11-04T18:54:47Z\"` The length of this field should\
          \ be no more than 500 characters. Reference our [filter `LIST` requests](/display-video/api/guides/how-tos/filters)\
          \ guide for more information."
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - description: "Field by which to sort the list. Acceptable values are: * `displayName`\
          \ (default) * `entityStatus` * `updateTime` The default sorting order is\
          \ ascending. To specify descending order for a field, a suffix \"desc\"\
          \ should be added to the field name. Example: `displayName desc`."
        explode: true
        in: query
        name: orderBy
        required: false
        schema:
          type: string
        style: form
      - description: Requested page size. Must be between `1` and `200`. If unspecified
          will default to `100`.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: "A token identifying a page of results the server should return.\
          \ Typically, this is the value of next_page_token returned from the previous\
          \ call to `ListCampaigns` method. If not specified, the first page of results\
          \ will be returned."
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCampaignsResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/display-video
        Oauth2c:
        - https://www.googleapis.com/auth/display-video
      - Oauth2:
        - https://www.googleapis.com/auth/display-video-mediaplanning
        Oauth2c:
        - https://www.googleapis.com/auth/display-video-mediaplanning
      tags:
      - advertisers
      x-accepts:
      - application/json
    post:
      description: Creates a new campaign. Returns the newly created campaign if successful.
      operationId: displayvideo.advertisers.campaigns.create
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Output only. The unique ID of the advertiser the campaign belongs
          to.
        explode: false
        in: path
        name: advertiserId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Campaign'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Campaign'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/display-video
        Oauth2c:
        - https://www.googleapis.com/auth/display-video
      - Oauth2:
        - https://www.googleapis.com/auth/display-video-mediaplanning
        Oauth2c:
        - https://www.googleapis.com/auth/display-video-mediaplanning
      tags:
      - advertisers
      x-content-type: application/json
      x-accepts:
      - application/json
  /v3/advertisers/{advertiserId}/campaigns/{campaignId}:
    delete:
      description: "Permanently deletes a campaign. A deleted campaign cannot be recovered.\
        \ The campaign should be archived first, i.e. set entity_status to `ENTITY_STATUS_ARCHIVED`,\
        \ to be able to delete it. **This method regularly experiences high latency.**\
        \ We recommend [increasing your default timeout](/display-video/api/guides/best-practices/timeouts#client_library_timeout)\
        \ to avoid errors."
      operationId: displayvideo.advertisers.campaigns.delete
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: The ID of the advertiser this campaign belongs to.
        explode: false
        in: path
        name: advertiserId
        required: true
        schema:
          type: string
        style: simple
      - description: The ID of the campaign we need to delete.
        explode: false
        in: path
        name: campaignId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/display-video
        Oauth2c:
        - https://www.googleapis.com/auth/display-video
      - Oauth2:
        - https://www.googleapis.com/auth/display-video-mediaplanning
        Oauth2c:
        - https://www.googleapis.com/auth/display-video-mediaplanning
      tags:
      - advertisers
      x-accepts:
      - application/json
    get:
      description: Gets a campaign.
      operationId: displayvideo.advertisers.campaigns.get
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. The ID of the advertiser this campaign belongs to.
        explode: false
        in: path
        name: advertiserId
        required: true
        schema:
          type: string
        style: simple
      - description: Required. The ID of the campaign to fetch.
        explode: false
        in: path
        name: campaignId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Campaign'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/display-video
        Oauth2c:
        - https://www.googleapis.com/auth/display-video
      - Oauth2:
        - https://www.googleapis.com/auth/display-video-mediaplanning
        Oauth2c:
        - https://www.googleapis.com/auth/display-video-mediaplanning
      tags:
      - advertisers
      x-accepts:
      - application/json
    patch:
      description: Updates an existing campaign. Returns the updated campaign if successful.
      operationId: displayvideo.advertisers.campaigns.patch
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Output only. The unique ID of the advertiser the campaign belongs
          to.
        explode: false
        in: path
        name: advertiserId
        required: true
        schema:
          type: string
        style: simple
      - description: Output only. The unique ID of the campaign. Assigned by the system.
        explode: false
        in: path
        name: campaignId
        required: true
        schema:
          type: string
        style: simple
      - description: Required. The mask to control which fields to update.
        explode: true
        in: query
        name: updateMask
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Campaign'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Campaign'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/display-video
        Oauth2c:
[...]
