openapi: 3.0.1
info:
  description: The Container Service Client.
  title: ContainerServiceClient
  version: 2019-06-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-06-01/location.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: containerservice-location
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.ContainerService/locations/{location}/orchestrators:
    get:
      description: "Gets a list of supported orchestrators in the specified subscription.\
        \ The operation returns properties of each orchestrator including version,\
        \ available upgrades and whether that version or upgrades are in preview."
      operationId: ContainerServices_ListOrchestrators
      parameters:
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The name of a supported Azure region.
        in: path
        name: location
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: resource type for which the list of orchestrators needs to be
          returned
        in: query
        name: resource-type
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrchestratorVersionProfileListResult'
          description: OK
      summary: Gets a list of supported orchestrators in the specified subscription.
      tags:
      - ContainerServices
      x-ms-examples:
        List Container Service Orchestrators:
          parameters:
            api-version: 2019-06-01
            location: location1
            subscriptionId: subid1
          responses:
            "200":
              body:
                id: /subscriptions/subid1/providers/Microsoft.ContainerService/locations/location1/orchestrators
                name: default
                properties:
                  orchestrators:
                  - orchestratorType: DCOS
                    orchestratorVersion: 1.10.0
                  - orchestratorType: DCOS
                    orchestratorVersion: 1.9.0
                  - orchestratorType: DCOS
                    orchestratorVersion: 1.8.8
                  - orchestratorType: Swarm
                    orchestratorVersion: swarm:1.1.0
                  - orchestratorType: DockerCE
                    orchestratorVersion: 17.03.*
                  - orchestratorType: Kubernetes
                    orchestratorVersion: 1.8.1
                    upgrades:
                    - orchestratorVersion: 1.8.4
                    - orchestratorVersion: 1.8.2
                  - orchestratorType: Kubernetes
                    orchestratorVersion: 1.9.10
                    upgrades:
                    - isPreview: false
                      orchestratorType: ""
                      orchestratorVersion: 1.9.11
                    - isPreview: false
                      orchestratorType: ""
                      orchestratorVersion: 1.10.12
                    - isPreview: false
                      orchestratorType: ""
                      orchestratorVersion: 1.10.13
                  - orchestratorType: Kubernetes
                    orchestratorVersion: 1.9.11
                    upgrades:
                    - isPreview: false
                      orchestratorType: ""
                      orchestratorVersion: 1.10.12
                    - isPreview: false
                      orchestratorType: ""
                      orchestratorVersion: 1.10.13
                  - orchestratorType: Kubernetes
                    orchestratorVersion: 1.10.12
                    upgrades:
                    - isPreview: false
                      orchestratorType: ""
                      orchestratorVersion: 1.10.13
                    - isPreview: false
                      orchestratorType: ""
                      orchestratorVersion: 1.11.8
                    - isPreview: false
                      orchestratorType: ""
                      orchestratorVersion: 1.11.9
                  - orchestratorType: Kubernetes
                    orchestratorVersion: 1.10.13
                    upgrades:
                    - isPreview: false
                      orchestratorType: ""
                      orchestratorVersion: 1.11.8
                    - isPreview: false
                      orchestratorType: ""
                      orchestratorVersion: 1.11.9
                  - orchestratorType: Kubernetes
                    orchestratorVersion: 1.11.8
                    upgrades:
                    - isPreview: false
                      orchestratorType: ""
                      orchestratorVersion: 1.11.9
                    - isPreview: false
                      orchestratorType: ""
                      orchestratorVersion: 1.12.6
                    - isPreview: false
                      orchestratorType: ""
                      orchestratorVersion: 1.12.7
                  - orchestratorType: Kubernetes
                    orchestratorVersion: 1.11.9
                    upgrades:
                    - isPreview: false
                      orchestratorType: ""
                      orchestratorVersion: 1.12.6
                    - isPreview: false
                      orchestratorType: ""
                      orchestratorVersion: 1.12.7
                  - orchestratorType: Kubernetes
                    orchestratorVersion: 1.12.6
                    upgrades:
                    - isPreview: false
                      orchestratorType: ""
                      orchestratorVersion: 1.12.7
                    - isPreview: false
                      orchestratorType: ""
                      orchestratorVersion: 1.13.5
                  - default: true
                    orchestratorType: Kubernetes
                    orchestratorVersion: 1.12.7
                    upgrades:
                    - isPreview: false
                      orchestratorType: ""
                      orchestratorVersion: 1.13.5
                  - orchestratorType: Kubernetes
                    orchestratorVersion: 1.13.5
                    upgrades:
                    - isPreview: true
                      orchestratorType: ""
                      orchestratorVersion: 1.14.0
                  - isPreview: true
                    orchestratorType: Kubernetes
                    orchestratorVersion: 1.14.0
                type: Microsoft.ContainerService/locations/orchestrators
      x-accepts:
      - application/json
components:
  parameters:
    ApiVersionParameter:
      description: Client Api Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
        x-ms-parameter-location: client
      x-ms-parameter-location: client
    LocationParameter:
      description: The name of a supported Azure region.
      in: path
      name: location
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ResourceTypeParameter:
      description: resource type for which the list of orchestrators needs to be returned
      in: query
      name: resource-type
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: Subscription credentials which uniquely identify Microsoft Azure
        subscription. The subscription ID forms part of the URI for every service
        call.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
        x-ms-parameter-location: client
      x-ms-parameter-location: client
  schemas:
    OrchestratorProfile:
      description: Contains information about orchestrator.
      example:
        orchestratorType: orchestratorType
        isPreview: true
        orchestratorVersion: orchestratorVersion
      properties:
        isPreview:
          description: Whether Kubernetes version is currently in preview.
          type: boolean
        orchestratorType:
          description: Orchestrator type.
          type: string
        orchestratorVersion:
          description: "Orchestrator version (major, minor, patch)."
          type: string
      required:
      - orchestratorVersion
      type: object
    OrchestratorVersionProfile:
      description: The profile of an orchestrator and its available versions.
      example:
        orchestratorType: orchestratorType
        default: true
        isPreview: true
        orchestratorVersion: orchestratorVersion
        upgrades:
        - orchestratorType: orchestratorType
          isPreview: true
          orchestratorVersion: orchestratorVersion
        - orchestratorType: orchestratorType
          isPreview: true
          orchestratorVersion: orchestratorVersion
      properties:
        default:
          description: Installed by default if version is not specified.
          type: boolean
        isPreview:
          description: Whether Kubernetes version is currently in preview.
          type: boolean
        orchestratorType:
          description: Orchestrator type.
          type: string
        orchestratorVersion:
          description: "Orchestrator version (major, minor, patch)."
          type: string
        upgrades:
          description: The list of available upgrade versions.
          items:
            $ref: '#/components/schemas/OrchestratorProfile'
          type: array
      required:
      - orchestratorType
      - orchestratorVersion
      type: object
    OrchestratorVersionProfileListResult:
      description: The list of versions for supported orchestrators.
      example:
        name: name
        id: id
        type: type
        properties:
          orchestrators:
          - orchestratorType: orchestratorType
            default: true
            isPreview: true
            orchestratorVersion: orchestratorVersion
            upgrades:
            - orchestratorType: orchestratorType
              isPreview: true
              orchestratorVersion: orchestratorVersion
            - orchestratorType: orchestratorType
              isPreview: true
              orchestratorVersion: orchestratorVersion
          - orchestratorType: orchestratorType
            default: true
            isPreview: true
            orchestratorVersion: orchestratorVersion
            upgrades:
            - orchestratorType: orchestratorType
              isPreview: true
              orchestratorVersion: orchestratorVersion
            - orchestratorType: orchestratorType
              isPreview: true
              orchestratorVersion: orchestratorVersion
      properties:
        id:
          description: Id of the orchestrator version profile list result.
          readOnly: true
          type: string
        name:
          description: Name of the orchestrator version profile list result.
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/OrchestratorVersionProfileProperties'
        type:
          description: Type of the orchestrator version profile list result.
          readOnly: true
          type: string
      required:
      - properties
      type: object
    OrchestratorVersionProfileProperties:
      description: The properties of an orchestrator version profile.
      example:
        orchestrators:
        - orchestratorType: orchestratorType
          default: true
          isPreview: true
          orchestratorVersion: orchestratorVersion
          upgrades:
          - orchestratorType: orchestratorType
            isPreview: true
            orchestratorVersion: orchestratorVersion
          - orchestratorType: orchestratorType
            isPreview: true
            orchestratorVersion: orchestratorVersion
        - orchestratorType: orchestratorType
          default: true
          isPreview: true
          orchestratorVersion: orchestratorVersion
          upgrades:
          - orchestratorType: orchestratorType
            isPreview: true
            orchestratorVersion: orchestratorVersion
          - orchestratorType: orchestratorType
            isPreview: true
            orchestratorVersion: orchestratorVersion
      properties:
        orchestrators:
          description: List of orchestrator version profiles.
          items:
            $ref: '#/components/schemas/OrchestratorVersionProfile'
          type: array
      required:
      - orchestrators
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

