openapi: 3.0.1
info:
  description: These APIs allow end users to operate on Azure Machine Learning Workspace
    resources.
  title: Azure Machine Learning Workspaces
  version: 2020-01-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-01-01/machineLearningServices.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: machinelearningservices-machineLearningServices
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.MachineLearningServices/operations:
    get:
      description: Lists all of the available Azure Machine Learning Workspaces REST
        API operations.
      operationId: operations_list
      parameters:
      - description: Version of Azure Machine Learning resource provider API.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
          description: The request was successful; the request was well-formed and
            received properly.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MachineLearningServiceError'
          description: Error response describing why the operation failed
      tags:
      - Operation
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.operation_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.MachineLearningServices/locations/{location}/Quotas:
    get:
      description: Gets the currently assigned Workspace Quotas based on VMFamily.
      operationId: quotas_list
      parameters:
      - description: Version of Azure Machine Learning resource provider API.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Azure subscription identifier.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The location for which resource usage is queried.
        in: path
        name: location
        required: true
        schema:
          pattern: "^[-\\w\\._]+$"
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListWorkspaceQuotas'
          description: OK
      tags:
      - Quota
      x-ms-examples:
        List workspace quotas by VMFamily:
          parameters:
            api-version: 2020-01-01
            location: eastus
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/quotas/Standard_D_Family_Cluster_Dedicated_vCPUs
                  limit: 48
                  name:
                    localizedValue: Standard D Family Cluster Dedicated vCPUs
                    value: Standard D Family Cluster Dedicated vCPUs
                  type: Microsoft.MachineLearningServices/vmFamily/quotas
                  unit: Count
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace1/quotas/Standard_D_Family_Cluster_Dedicated_vCPUs
                  limit: 12
                  name:
                    localizedValue: Standard D Family Cluster Dedicated vCPUs
                    value: Standard D Family Cluster Dedicated vCPUs
                  type: Microsoft.MachineLearningServices/workspaces/quotas
                  unit: Count
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace2/quotas/Standard_D_Family_Cluster_Dedicated_vCPUs
                  limit: 12
                  name:
                    localizedValue: Standard D Family Cluster Dedicated vCPUs
                    value: Standard D Family Cluster Dedicated vCPUs
                  type: Microsoft.MachineLearningServices/workspaces/quotas
                  unit: Count
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace3/quotas/Standard_D_Family_Cluster_Dedicated_vCPUs
                  limit: 24
                  name:
                    localizedValue: Standard D Family Cluster Dedicated vCPUs
                    value: Standard D Family Cluster Dedicated vCPUs
                  type: Microsoft.MachineLearningServices/workspaces/quotas
                  unit: Count
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/quotas/Standard_DSv2_Family_Cluster_Dedicated_vCPUs
                  limit: 24
                  name:
                    localizedValue: Standard DSv2 Family Cluster Dedicated vCPUs
                    value: Standard DSv2 Family Cluster Dedicated vCPUs
                  type: Microsoft.MachineLearningServices/vmFamily/quota
                  unit: Count
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace1/quotas/Standard_DSv2_Family_Cluster_Dedicated_vCPUs
                  limit: 24
                  name:
                    localizedValue: Standard DSv2 Family Cluster Dedicated vCPUs
                    value: Standard DSv2 Family Cluster Dedicated vCPUs
                  type: Microsoft.MachineLearningServices/workspaces/quotas
                  unit: Count
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace2/quotas/Standard_DSv2_Family_Cluster_Dedicated_vCPUs
                  limit: 12
                  name:
                    localizedValue: Standard DSv2 Family Cluster Dedicated vCPUs
                    value: Standard DSv2 Family Cluster Dedicated vCPUs
                  type: Microsoft.MachineLearningServices/workspaces/quotas
                  unit: Count
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace3/quotas/Standard_DSv2_Family_Cluster_Dedicated_vCPUs
                  limit: 12
                  name:
                    localizedValue: Standard DSv2 Family Cluster Dedicated vCPUs
                    value: Standard DSv2 Family Cluster Dedicated vCPUs
                  type: Microsoft.MachineLearningServices/workspaces/quotas
                  unit: Count
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/quotas/Standard_Dv2_Family_Cluster_Dedicated_vCPUs
                  limit: 24
                  name:
                    localizedValue: Standard Dv2 Family Cluster Dedicated vCPUs
                    value: Standard Dv2 Family Cluster Dedicated vCPUs
                  type: Microsoft.MachineLearningServices/vmFamily/quotas
                  unit: Count
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace1/quotas/Standard_Dv2_Family_Cluster_Dedicated_vCPUs
                  limit: 0
                  name:
                    localizedValue: Standard Dv2 Family Cluster Dedicated vCPUs
                    value: Standard Dv2 Family Cluster Dedicated vCPUs
                  type: Microsoft.MachineLearningServices/workspaces/quotas
                  unit: Count
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace2/quotas/Standard_Dv2_Family_Cluster_Dedicated_vCPUs
                  limit: 24
                  name:
                    localizedValue: Standard Dv2 Family Cluster Dedicated vCPUs
                    value: Standard Dv2 Family Cluster Dedicated vCPUs
                  type: Microsoft.MachineLearningServices/workspaces/quotas
                  unit: Count
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace3/quotas/Standard_Dv2_Family_Cluster_Dedicated_vCPUs
                  limit: 0
                  name:
                    localizedValue: Standard Dv2 Family Cluster Dedicated vCPUs
                    value: Standard Dv2 Family Cluster Dedicated vCPUs
                  type: Microsoft.MachineLearningServices/workspaces/quotas
                  unit: Count
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/quotas/Standard_FSv2_Family_Cluster_Dedicated_vCPUs
                  limit: 24
                  name:
                    localizedValue: Standard FSv2 Family Cluster Dedicated vCPUs
                    value: Standard FSv2 Family Cluster Dedicated vCPUs
                  type: Microsoft.MachineLearningServices/vmFamily/quotas
                  unit: Count
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace1/quotas/Standard_FSv2_Family_Cluster_Dedicated_vCPUs
                  limit: 0
                  name:
                    localizedValue: Standard FSv2 Family Cluster Dedicated vCPUs
                    value: Standard FSv2 Family Cluster Dedicated vCPUs
                  type: Microsoft.MachineLearningServices/workspaces/quotas
                  unit: Count
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace2/quotas/Standard_FSv2_Family_Cluster_Dedicated_vCPUs
                  limit: 24
                  name:
                    localizedValue: Standard FSv2 Family Cluster Dedicated vCPUs
                    value: Standard FSv2 Family Cluster Dedicated vCPUs
                  type: Microsoft.MachineLearningServices/workspaces/quotas
                  unit: Count
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace3/quotas/Standard_FSv2_Family_Cluster_Dedicated_vCPUs
                  limit: 12
                  name:
                    localizedValue: Standard FSv2 Family Cluster Dedicated vCPUs
                    value: Standard FSv2 Family Cluster Dedicated vCPUs
                  type: Microsoft.MachineLearningServices/workspaces/quotas
                  unit: Count
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/quotas/Standard_NC_Family_Cluster_Dedicated_vCPUs
                  limit: 24
                  name:
                    localizedValue: Standard NC Family Cluster Dedicated vCPUs
                    value: Standard NC Family Cluster Dedicated vCPUs
                  type: Microsoft.MachineLearningServices/vmFamily/quotas
                  unit: Count
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace1/quotas/Standard_NC_Family_Cluster_Dedicated_vCPUs
                  limit: 24
                  name:
                    localizedValue: Standard NC Family Cluster Dedicated vCPUs
                    value: Standard NC Family Cluster Dedicated vCPUs
                  type: Microsoft.MachineLearningServices/workspaces/quotas
                  unit: Count
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace2/quotas/Standard_NC_Family_Cluster_Dedicated_vCPUs
                  limit: 24
                  name:
                    localizedValue: Standard NC Family Cluster Dedicated vCPUs
                    value: Standard NC Family Cluster Dedicated vCPUs
                  type: Microsoft.MachineLearningServices/workspaces/quotas
                  unit: Count
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace3/quotas/Standard_NC_Family_Cluster_Dedicated_vCPUs
                  limit: 24
                  name:
                    localizedValue: Standard NC Family Cluster Dedicated vCPUs
                    value: Standard NC Family Cluster Dedicated vCPUs
                  type: Microsoft.MachineLearningServices/workspaces/quotas
                  unit: Count
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/quotas/Standard_NCv2_Family_Cluster_Dedicated_vCPUs
                  limit: 0
                  name:
                    localizedValue: Standard NCv2 Family Cluster Dedicated vCPUs
                    value: Standard NCv2 Family Cluster Dedicated vCPUs
                  type: Microsoft.MachineLearningServices/vmFamily/quotas
                  unit: Count
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace1/quotas/Standard_NCv2_Family_Cluster_Dedicated_vCPUs
                  limit: 0
                  name:
                    localizedValue: Standard NCv2 Family Cluster Dedicated vCPUs
                    value: Standard NCv2 Family Cluster Dedicated vCPUs
                  type: Microsoft.MachineLearningServices/workspaces/quotas
                  unit: Count
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace2/quotas/Standard_NCv2_Family_Cluster_Dedicated_vCPUs
                  limit: 0
                  name:
                    localizedValue: Standard NCv2 Family Cluster Dedicated vCPUs
                    value: Standard NCv2 Family Cluster Dedicated vCPUs
                  type: Microsoft.MachineLearningServices/workspaces/quotas
                  unit: Count
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace3/quotas/Standard_NCv2_Family_Cluster_Dedicated_vCPUs
                  limit: 0
                  name:
                    localizedValue: Standard NCv2 Family Cluster Dedicated vCPUs
                    value: Standard NCv2 Family Cluster Dedicated vCPUs
                  type: Microsoft.MachineLearningServices/workspaces/quotas
                  unit: Count
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/quotas/Standard_NCv3_Family_Cluster_Dedicated_vCPUs
                  limit: 0
                  name:
                    localizedValue: Standard NCv3 Family Cluster Dedicated vCPUs
                    value: Standard NCv3 Family Cluster Dedicated vCPUs
                  type: Microsoft.MachineLearningServices/vmFamily/quotas
                  unit: Count
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace1/quotas/Standard_NCv3_Family_Cluster_Dedicated_vCPUs
                  limit: 0
                  name:
                    localizedValue: Standard NCv3 Family Cluster Dedicated vCPUs
                    value: Standard NCv3 Family Cluster Dedicated vCPUs
                  type: Microsoft.MachineLearningServices/workspaces/quotas
                  unit: Count
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace2/quotas/Standard_NCv3_Family_Cluster_Dedicated_vCPUs
                  limit: 0
                  name:
                    localizedValue: Standard NCv3 Family Cluster Dedicated vCPUs
                    value: Standard NCv3 Family Cluster Dedicated vCPUs
                  type: Microsoft.MachineLearningServices/workspaces/quotas
                  unit: Count
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace3/quotas/Standard_NCv3_Family_Cluster_Dedicated_vCPUs
                  limit: 0
                  name:
                    localizedValue: Standard NCv3 Family Cluster Dedicated vCPUs
                    value: Standard NCv3 Family Cluster Dedicated vCPUs
                  type: Microsoft.MachineLearningServices/workspaces/quotas
                  unit: Count
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/quotas/Standard_ND_Family_Cluster_Dedicated_vCPUs
                  limit: 0
                  name:
                    localizedValue: Standard ND Family Cluster Dedicated vCPUs
                    value: Standard ND Family Cluster Dedicated vCPUs
                  type: Microsoft.MachineLearningServices/vmFamily/quotas
                  unit: Count
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace1/quotas/Standard_ND_Family_Cluster_Dedicated_vCPUs
                  limit: 0
                  name:
                    localizedValue: Standard ND Family Cluster Dedicated vCPUs
                    value: Standard ND Family Cluster Dedicated vCPUs
                  type: Microsoft.MachineLearningServices/workspaces/quotas
                  unit: Count
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace2/quotas/Standard_ND_Family_Cluster_Dedicated_vCPUs
                  limit: 0
                  name:
                    localizedValue: Standard ND Family Cluster Dedicated vCPUs
                    value: Standard ND Family Cluster Dedicated vCPUs
                  type: Microsoft.MachineLearningServices/workspaces/quotas
                  unit: Count
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace3/quotas/Standard_ND_Family_Cluster_Dedicated_vCPUs
                  limit: 0
                  name:
                    localizedValue: Standard ND Family Cluster Dedicated vCPUs
                    value: Standard ND Family Cluster Dedicated vCPUs
                  type: Microsoft.MachineLearningServices/workspaces/quotas
                  unit: Count
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/quotas/Standard_NDv2_Family_Cluster_Dedicated_vCPUs
                  limit: 0
                  name:
                    localizedValue: Standard NDv2 Family Cluster Dedicated vCPUs
                    value: Standard NDv2 Family Cluster Dedicated vCPUs
                  type: Microsoft.MachineLearningServices/vmFamily/quotas
                  unit: Count
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace1/quotas/Standard_NDv2_Family_Cluster_Dedicated_vCPUs
                  limit: 0
                  name:
                    localizedValue: Standard NDv2 Family Cluster Dedicated vCPUs
                    value: Standard NDv2 Family Cluster Dedicated vCPUs
                  type: Microsoft.MachineLearningServices/workspaces/quotas
                  unit: Count
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace2/quotas/Standard_NDv2_Family_Cluster_Dedicated_vCPUs
                  limit: 0
                  name:
                    localizedValue: Standard NDv2 Family Cluster Dedicated vCPUs
                    value: Standard NDv2 Family Cluster Dedicated vCPUs
                  type: Microsoft.MachineLearningServices/workspaces/quotas
                  unit: Count
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace3/quotas/Standard_NDv2_Family_Cluster_Dedicated_vCPUs
                  limit: 0
                  name:
                    localizedValue: Standard NDv2 Family Cluster Dedicated vCPUs
                    value: Standard NDv2 Family Cluster Dedicated vCPUs
                  type: Microsoft.MachineLearningServices/workspaces/quotas
                  unit: Count
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/quotas/Standard_NV_Family_Cluster_Dedicated_vCPUs
                  limit: 24
                  name:
                    localizedValue: Standard NV Family Cluster Dedicated vCPUs
                    value: Standard NV Family Cluster Dedicated vCPUs
                  type: Microsoft.MachineLearningServices/vmFamily/quotas
                  unit: Count
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace1/quotas/Standard_NV_Family_Cluster_Dedicated_vCPUs
                  limit: 24
                  name:
                    localizedValue: Standard NV Family Cluster Dedicated vCPUs
                    value: Standard NV Family Cluster Dedicated vCPUs
                  type: Microsoft.MachineLearningServices/workspaces/quotas
                  unit: Count
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace2/quotas/Standard_NV_Family_Cluster_Dedicated_vCPUs
                  limit: 24
                  name:
                    localizedValue: Standard NV Family Cluster Dedicated vCPUs
                    value: Standard NV Family Cluster Dedicated vCPUs
                  type: Microsoft.MachineLearningServices/workspaces/quotas
                  unit: Count
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace3/quotas/Standard_NV_Family_Cluster_Dedicated_vCPUs
                  limit: 24
                  name:
                    localizedValue: Standard NV Family Cluster Dedicated vCPUs
                    value: Standard NV Family Cluster Dedicated vCPUs
                  type: Microsoft.MachineLearningServices/workspaces/quotas
                  unit: Count
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.quota_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.MachineLearningServices/locations/{location}/updateQuotas:
    post:
      description: Update quota for each VM family in workspace.
      operationId: quotas_update
      parameters:
      - description: The location for update quota is queried.
        in: path
        name: location
        required: true
        schema:
          pattern: "^[-\\w\\._]+$"
          type: string
      - description: Version of Azure Machine Learning resource provider API.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Azure subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QuotaUpdateParameters'
        description: Quota update parameters.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateWorkspaceQuotasResult'
          description: The operation was successful.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MachineLearningServiceError'
          description: Error response describing why the operation failed.
      tags:
      - Quota
      x-ms-examples:
        update quotas:
          parameters:
            api-version: 2020-01-01
            location: eastus
            parameters:
              value:
              - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace1/quotas/Standard_DSv2_Family_Cluster_Dedicated_vCPUs
                limit: 100
                type: Microsoft.MachineLearningServices/workspaces/quotas
                unit: Count
              - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace2/quotas/Standard_DSv2_Family_Cluster_Dedicated_vCPUs
                limit: 200
                type: Microsoft.MachineLearningServices/workspaces/quotas
                unit: Count
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace1/quotas/Standard_DSv2_Family_Cluster_Dedicated_vCPUs
                  limit: 100
                  status: Success
                  type: Microsoft.MachineLearningServices/workspaces/quotas
                  unit: Count
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace2/quotas/Standard_DSv2_Family_Cluster_Dedicated_vCPUs
                  limit: 200
                  status: Success
                  type: Microsoft.MachineLearningServices/workspaces/quotas
                  unit: Count
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.quota_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.MachineLearningServices/locations/{location}/usages:
    get:
      description: Gets the current usage information as well as limits for AML resources
        for given subscription and location.
      operationId: usages_list
      parameters:
      - description: Version of Azure Machine Learning resource provider API.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Azure subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The location for which resource usage is queried.
        in: path
        name: location
        required: true
        schema:
          pattern: "^[-\\w\\._]+$"
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListUsagesResult'
          description: OK
      tags:
      - Usage
      x-ms-examples:
        List Usages:
          parameters:
            api-version: 2020-01-01
            location: eastus
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                - currentValue: 7
                  id: /subscriptions/00000000-0000-0000-0000-000000000000/usages
                  limit: 100
                  name:
                    localizedValue: Clusters
                    value: Clusters
                  type: Microsoft.MachineLearningServices/totalCores/usages
                  unit: Count
                - currentValue: 14
                  id: /subscriptions/00000000-0000-0000-0000-000000000000/usages
                  limit: 24
                  name:
                    localizedValue: Total Cluster Dedicated Regional vCPUs
                    value: Total Cluster Dedicated Regional vCPUs
                  type: Microsoft.MachineLearningServices/dedicatedCores/usages
                  unit: Count
                - currentValue: 0
                  id: /subscriptions/00000000-0000-0000-0000-000000000000/usages/Standard_D_Family_Cluster_Dedicated_vCPUs
                  limit: 48
                  name:
                    localizedValue: Standard D Family Cluster Dedicated vCPUs
                    value: Standard D Family Cluster Dedicated vCPUs
                  type: Microsoft.MachineLearningServices/vmFamily/usages
                  unit: Count
                - currentValue: 2
                  id: /subscriptions/00000000-0000-0000-0000-000000000000/usages/Standard_DSv2_Family_Cluster_Dedicated_vCPUs
                  limit: 24
                  name:
                    localizedValue: Standard DSv2 Family Cluster Dedicated vCPUs
                    value: Standard DSv2 Family Cluster Dedicated vCPUs
                  type: Microsoft.MachineLearningServices/vmFamily/usages
                  unit: Count
                - currentValue: 2
                  id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace1/usages/Standard_DSv2_Family_Cluster_Dedicated_vCPUs
                  limit: 24
                  name:
                    localizedValue: Standard DSv2 Family Cluster Dedicated vCPUs
                    value: Standard DSv2 Family Cluster Dedicated vCPUs
                  type: Microsoft.MachineLearningServices/workspaces/usages
                  unit: Count
                - currentValue: 2
                  id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace1/computes/demo_cluster1_dsv2/usages/Standard_DSv2_Family_Cluster_Dedicated_vCPUs
                  limit: 24
                  name:
                    localizedValue: Standard DSv2 Family Cluster Dedicated vCPUs
                    value: Standard DSv2 Family Cluster Dedicated vCPUs
                  type: Microsoft.MachineLearningServices/workspaces/computes/usages
                  unit: Count
                - currentValue: 0
                  id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace1/computes/demo_cluster2_dsv2/usages/Standard_DSv2_Family_Cluster_Dedicated_vCPUs
                  limit: 24
                  name:
                    localizedValue: Standard DSv2 Family Cluster Dedicated vCPUs
                    value: Standard DSv2 Family Cluster Dedicated vCPUs
                  type: Microsoft.MachineLearningServices/workspaces/computes/usages
                  unit: Count
                - currentValue: 0
                  id: /subscriptions/00000000-0000-0000-0000-000000000000/usages/Standard_Dv2_Family_Cluster_Dedicated_vCPUs
                  limit: 24
                  name:
                    localizedValue: Standard Dv2 Family Cluster Dedicated vCPUs
                    value: Standard Dv2 Family Cluster Dedicated vCPUs
                  type: Microsoft.MachineLearningServices/vmFamily/usages
                  unit: Count
                - currentValue: 0
                  id: /subscriptions/00000000-0000-0000-0000-000000000000/usages/Standard_FSv2_Family_Cluster_Dedicated_vCPUs
                  limit: 24
                  name:
                    localizedValue: Standard FSv2 Family Cluster Dedicated vCPUs
                    value: Standard FSv2 Family Cluster Dedicated vCPUs
                  type: Microsoft.MachineLearningServices/vmFamily/usages
                  unit: Count
                - currentValue: 12
                  id: /subscriptions/00000000-0000-0000-0000-000000000000/usages/Standard_NC_Family_Cluster_Dedicated_vCPUs
                  limit: 24
                  name:
                    localizedValue: Standard NC Family Cluster Dedicated vCPUs
                    value: Standard NC Family Cluster Dedicated vCPUs
                  type: Microsoft.MachineLearningServices/vmFamily/usages
                  unit: Count
                - currentValue: 6
                  id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace1/usages/Standard_NC_Family_Cluster_Dedicated_vCPUs
                  limit: 24
                  name:
                    localizedValue: Standard NC Family Cluster Dedicated vCPUs
                    value: Standard NC Family Cluster Dedicated vCPUs
                  type: Microsoft.MachineLearningServices/workspace/usages
                  unit: Count
                - currentValue: 6
                  id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace1/computes/demo_cluster1_nc/usages/Standard_NC_Family_Cluster_Dedicated_vCPUs
                  limit: 24
                  name:
                    localizedValue: Standard NC Family Cluster Dedicated vCPUs
                    value: Standard NC Family Cluster Dedicated vCPUs
                  type: Microsoft.MachineLearningServices/workspace/computes/usages
                  unit: Count
                - currentValue: 6
                  id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace2/usages/Standard_NC_Family_Cluster_Dedicated_vCPUs
                  limit: 24
                  name:
                    localizedValue: Standard NC Family Cluster Dedicated vCPUs
                    value: Standard NC Family Cluster Dedicated vCPUs
                  type: Microsoft.MachineLearningServices/workspaces/usages
                  unit: Count
                - currentValue: 6
                  id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace2/computes/demo_cluser1_nc/usages/Standard_NC_Family_Cluster_Dedicated_vCPUs
                  limit: 24
                  name:
                    localizedValue: Standard NC Family Cluster Dedicated vCPUs
                    value: Standard NC Family Cluster Dedicated vCPUs
                  type: Microsoft.MachineLearningServices/workspaces/computes/usages
                  unit: Count
                - currentValue: 0
                  id: /subscriptions/00000000-0000-0000-0000-000000000000/usages/Standard_NCv2_Family_Cluster_Dedicated_vCPUs
                  limit: 0
                  name:
                    localizedValue: Standard NCv2 Family Cluster Dedicated vCPUs
                    value: Standard NCv2 Family Cluster Dedicated vCPUs
                  type: Microsoft.MachineLearningServices/vmFamily/usages
                  unit: Count
                - currentValue: 0
                  id: /subscriptions/00000000-0000-0000-0000-000000000000/usages/Standard_NCv3_Family_Cluster_Dedicated_vCPUs
                  limit: 0
                  name:
                    localizedValue: Standard NCv3 Family Cluster Dedicated vCPUs
                    value: Standard NCv3 Family Cluster Dedicated vCPUs
                  type: Microsoft.MachineLearningServices/vmFamily/usages
                  unit: Count
                - currentValue: 0
                  id: /subscriptions/00000000-0000-0000-0000-000000000000/usages/Standard_ND_Family_Cluster_Dedicated_vCPUs
                  limit: 0
                  name:
                    localizedValue: Standard ND Family Cluster Dedicated vCPUs
                    value: Standard ND Family Cluster Dedicated vCPUs
                  type: Microsoft.MachineLearningServices/vmFamily/usages
                  unit: Count
                - currentValue: 0
                  id: /subscriptions/00000000-0000-0000-0000-000000000000/usages/Standard_NDv2_Family_Cluster_Dedicated_vCPUs
                  limit: 0
                  name:
                    localizedValue: Standard NDv2 Family Cluster Dedicated vCPUs
                    value: Standard NDv2 Family Cluster Dedicated vCPUs
                  type: Microsoft.MachineLearningServices/vmFamily/usages
                  unit: Count
                - currentValue: 0
                  id: /subscriptions/00000000-0000-0000-0000-000000000000/usages/Standard_NV_Family_Cluster_Dedicated_vCPUs
                  limit: 24
                  name:
                    localizedValue: Standard NV Family Cluster Dedicated vCPUs
                    value: Standard NV Family Cluster Dedicated vCPUs
                  type: Microsoft.MachineLearningServices/vmFamily/usages
                  unit: Count
                - currentValue: 18
                  id: /subscriptions/00000000-0000-0000-0000-000000000000/usages
                  limit: 50
                  name:
                    localizedValue: Total Cluster LowPriority Regional vCPUs
                    value: Total Cluster LowPriority Regional vCPUs
                  type: Microsoft.MachineLearningServices/lowPriorityCores/usages
                  unit: Count
                - currentValue: 0
                  id: /subscriptions/00000000-0000-0000-0000-000000000000/usages/Standard_D_Family_Cluster_LowPriority_vCPUs
                  limit: -1
                  name:
                    localizedValue: Standard D Family Cluster LowPriority vCPUs
                    value: Standard D Family Cluster LowPriority vCPUs
                  type: Microsoft.MachineLearningServices/vmFamily/usages
                  unit: Count
                - currentValue: 0
                  id: /subscriptions/00000000-0000-0000-0000-000000000000/usages/Standard_DSv2_Family_Cluster_LowPriority_vCPUs
                  limit: -1
                  name:
                    localizedValue: Standard DSv2 Family Cluster LowPriority vCPUs
                    value: Standard DSv2 Family Cluster LowPriority vCPUs
                  type: Microsoft.MachineLearningServices/vmFamily/usages
                  unit: Count
                - currentValue: 0
                  id: /subscriptions/00000000-0000-0000-0000-000000000000/usages/Standard_Dv2_Family_Cluster_LowPriority_vCPUs
                  limit: -1
                  name:
                    localizedValue: Standard Dv2 Family Cluster LowPriority vCPUs
                    value: Standard Dv2 Family Cluster LowPriority vCPUs
                  type: Microsoft.MachineLearningServices/vmFamily/usages
                  unit: Count
                - currentValue: 0
                  id: /subscriptions/00000000-0000-0000-0000-000000000000/usages/Standard_FSv2_Family_Cluster_LowPriority_vCPUs
                  limit: -1
                  name:
                    localizedValue: Standard FSv2 Family Cluster LowPriority vCPUs
                    value: Standard FSv2 Family Cluster LowPriority vCPUs
                  type: Microsoft.MachineLearningServices/vmFamily/usages
                  unit: Count
                - currentValue: 18
                  id: /subscriptions/00000000-0000-0000-0000-000000000000/usages/Standard_NC_Family_Cluster_LowPriority_vCPUs
                  limit: -1
                  name:
                    localizedValue: Standard NC Family Cluster LowPriority vCPUs
                    value: Standard NC Family Cluster LowPriority vCPUs
                  type: Microsoft.MachineLearningServices/vmFamily/usages
                  unit: Count
                - currentValue: 6
                  id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace1/usages/Standard_NC_Family_Cluster_LowPriority_vCPUs
                  limit: -1
                  name:
                    localizedValue: Standard NC Family Cluster LowPriority vCPUs
                    value: Standard NC Family Cluster LowPriority vCPUs
                  type: Microsoft.MachineLearningServices/workspace/usages
                  unit: Count
                - currentValue: 6
                  id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace1/computes/demo_cluster1_lowPriority_nc/usages/Standard_NC_Family_Cluster_LowPriority_vCPUs
                  limit: -1
                  name:
                    localizedValue: Standard NC Family Cluster LowPriority vCPUs
                    value: Standard NC Family Cluster LowPriority vCPUs
                  type: Microsoft.MachineLearningServices/workspace/computes/usages
                  unit: Count
                - currentValue: 12
                  id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace2/usages/Standard_NC_Family_Cluster_LowPriority_vCPUs
                  limit: -1
                  name:
                    localizedValue: Standard NC Family Cluster LowPriority vCPUs
                    value: Standard NC Family Cluster LowPriority vCPUs
                  type: Microsoft.MachineLearningServices/workspace/usages
                  unit: Count
                - currentValue: 6
                  id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace2/computes/demo_cluster2_lowPriority_nc/usages/Standard_NC_Family_Cluster_LowPriority_vCPUs
                  limit: -1
                  name:
                    localizedValue: Standard NC Family Cluster LowPriority vCPUs
                    value: Standard NC Family Cluster LowPriority vCPUs
                  type: Microsoft.MachineLearningServices/workspace/computes/usages
                  unit: Count
                - currentValue: 6
                  id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace2/computes/demo_cluster3_lowPriority_nc/usages/Standard_NC_Family_Cluster_LowPriority_vCPUs
                  limit: -1
                  name:
                    localizedValue: Standard NC Family Cluster LowPriority vCPUs
                    value: Standard NC Family Cluster LowPriority vCPUs
                  type: Microsoft.MachineLearningServices/workspace/computes/usages
                  unit: Count
                - currentValue: 0
                  id: /subscriptions/00000000-0000-0000-0000-000000000000/usages/Standard_NCv2_Family_Cluster_LowPriority_vCPUs
                  limit: -1
                  name:
                    localizedValue: Standard NCv2 Family Cluster LowPriority vCPUs
                    value: Standard NCv2 Family Cluster LowPriority vCPUs
                  type: Microsoft.MachineLearningServices/vmFamily/usages
                  unit: Count
                - currentValue: 0
                  id: /subscriptions/00000000-0000-0000-0000-000000000000/usages/Standard_NCv3_Family_Cluster_LowPriority_vCPUs
                  limit: -1
                  name:
                    localizedValue: Standard NCv3 Family Cluster LowPriority vCPUs
                    value: Standard NCv3 Family Cluster LowPriority vCPUs
                  type: Microsoft.MachineLearningServices/vmFamily/usages
                  unit: Count
                - currentValue: 0
                  id: /subscriptions/00000000-0000-0000-0000-000000000000/usages/Standard_ND_Family_Cluster_LowPriority_vCPUs
                  limit: -1
                  name:
                    localizedValue: Standard ND Family Cluster LowPriority vCPUs
                    value: Standard ND Family Cluster LowPriority vCPUs
                  type: Microsoft.MachineLearningServices/vmFamily/usages
                  unit: Count
                - currentValue: 0
                  id: /subscriptions/00000000-0000-0000-0000-000000000000/usages/Standard_NDv2_Family_Cluster_LowPriority_vCPUs
                  limit: -1
                  name:
                    localizedValue: Standard NDv2 Family Cluster LowPriority vCPUs
                    value: Standard NDv2 Family Cluster LowPriority vCPUs
                  type: Microsoft.MachineLearningServices/vmFamily/usages
                  unit: Count
                - currentValue: 0
                  id: /subscriptions/00000000-0000-0000-0000-000000000000/usages/Standard_NV_Family_Cluster_LowPriority_vCPUs
                  limit: -1
                  name:
                    localizedValue: Standard NV Family Cluster LowPriority vCPUs
                    value: Standard NV Family Cluster LowPriority vCPUs
                  type: Microsoft.MachineLearningServices/vmFamily/usages
                  unit: Count
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.usage_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.MachineLearningServices/locations/{location}/vmSizes:
    get:
      description: Returns supported VM Sizes in a location
      operationId: virtual_machine_sizes_list
      parameters:
      - description: The location upon which virtual-machine-sizes is queried.
        in: path
        name: location
        required: true
        schema:
          pattern: "^[-\\w\\._]+$"
          type: string
      - description: Version of Azure Machine Learning resource provider API.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Azure subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualMachineSizeListResult'
          description: OK
      tags:
      - VirtualMachineSizes
      x-ms-examples:
        List VM Sizes:
          parameters:
            api-version: 2020-01-01
            location: eastus
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                amlCompute:
                - family: standardFSv2Family
                  lowPriorityCapable: true
                  maxResourceVolumeMB: 16384
                  memoryGB: 4
                  name: Standard_F2s_v2
                  osVhdSizeMB: 1047552
                  premiumIO: true
                  vCPUs: 2
                - family: standardFSv2Family
                  lowPriorityCapable: true
                  maxResourceVolumeMB: 32768
                  memoryGB: 8
                  name: Standard_F4s_v2
                  osVhdSizeMB: 1047552
                  premiumIO: true
                  vCPUs: 4
                - family: standardFSv2Family
                  lowPriorityCapable: true
                  maxResourceVolumeMB: 65536
                  memoryGB: 16
                  name: Standard_F8s_v2
                  osVhdSizeMB: 1047552
                  premiumIO: true
                  vCPUs: 8
                - family: standardFSv2Family
                  lowPriorityCapable: true
                  maxResourceVolumeMB: 131072
                  memoryGB: 32
                  name: Standard_F16s_v2
                  osVhdSizeMB: 1047552
                  premiumIO: true
                  vCPUs: 16
                - family: standardFSv2Family
                  lowPriorityCapable: true
                  maxResourceVolumeMB: 262144
                  memoryGB: 64
                  name: Standard_F32s_v2
                  osVhdSizeMB: 1047552
                  premiumIO: true
                  vCPUs: 32
                - family: standardFSv2Family
                  lowPriorityCapable: true
                  maxResourceVolumeMB: 524288
                  memoryGB: 128
                  name: Standard_F64s_v2
                  osVhdSizeMB: 1047552
                  premiumIO: true
                  vCPUs: 64
                - family: standardFSv2Family
                  lowPriorityCapable: true
                  maxResourceVolumeMB: 589824
                  memoryGB: 144
                  name: Standard_F72s_v2
                  osVhdSizeMB: 1047552
                  premiumIO: true
                  vCPUs: 72
                - family: standardDv2Family
                  lowPriorityCapable: true
                  maxResourceVolumeMB: 51200
                  memoryGB: 3.5
                  name: Standard_D1_v2
                  osVhdSizeMB: 1047552
                  premiumIO: false
                  vCPUs: 1
                - family: standardDv2Family
                  lowPriorityCapable: true
                  maxResourceVolumeMB: 102400
                  memoryGB: 7
                  name: Standard_D2_v2
                  osVhdSizeMB: 1047552
                  premiumIO: false
                  vCPUs: 2
                - family: standardDv2Family
                  lowPriorityCapable: true
                  maxResourceVolumeMB: 204800
                  memoryGB: 14
                  name: Standard_D3_v2
                  osVhdSizeMB: 1047552
                  premiumIO: false
                  vCPUs: 4
                - family: standardDv2Family
                  lowPriorityCapable: true
                  maxResourceVolumeMB: 409600
                  memoryGB: 28
                  name: Standard_D4_v2
                  osVhdSizeMB: 1047552
                  premiumIO: false
                  vCPUs: 8
                - family: standardDv2Family
                  lowPriorityCapable: true
                  maxResourceVolumeMB: 102400
                  memoryGB: 14
                  name: Standard_D11_v2
                  osVhdSizeMB: 1047552
                  premiumIO: false
                  vCPUs: 2
                - family: standardDv2Family
                  lowPriorityCapable: true
                  maxResourceVolumeMB: 204800
                  memoryGB: 28
                  name: Standard_D12_v2
                  osVhdSizeMB: 1047552
                  premiumIO: false
                  vCPUs: 4
                - family: standardDv2Family
                  lowPriorityCapable: true
                  maxResourceVolumeMB: 409600
                  memoryGB: 56
                  name: Standard_D13_v2
                  osVhdSizeMB: 1047552
                  premiumIO: false
                  vCPUs: 8
                - family: standardDv2Family
                  lowPriorityCapable: true
                  maxResourceVolumeMB: 819200
                  memoryGB: 112
                  name: Standard_D14_v2
                  osVhdSizeMB: 1047552
                  premiumIO: false
                  vCPUs: 16
                - family: standardDSv2Family
                  lowPriorityCapable: true
                  maxResourceVolumeMB: 7168
                  memoryGB: 3.5
                  name: Standard_DS1_v2
                  osVhdSizeMB: 1047552
                  premiumIO: true
                  vCPUs: 1
                - family: standardDSv2Family
                  lowPriorityCapable: true
                  maxResourceVolumeMB: 14336
                  memoryGB: 7
                  name: Standard_DS2_v2
                  osVhdSizeMB: 1047552
                  premiumIO: true
                  vCPUs: 2
                - family: standardDSv2Family
                  lowPriorityCapable: true
                  maxResourceVolumeMB: 28672
                  memoryGB: 14
                  name: Standard_DS3_v2
                  osVhdSizeMB: 1047552
                  premiumIO: true
                  vCPUs: 4
                - family: standardDSv2Family
                  lowPriorityCapable: true
                  maxResourceVolumeMB: 57344
                  memoryGB: 28
                  name: Standard_DS4_v2
                  osVhdSizeMB: 1047552
                  premiumIO: true
                  vCPUs: 8
                - family: standardDSv2Family
                  lowPriorityCapable: true
                  maxResourceVolumeMB: 114688
                  memoryGB: 56
                  name: Standard_DS5_v2
                  osVhdSizeMB: 1047552
                  premiumIO: true
                  vCPUs: 16
                - family: standardDSv2Family
                  lowPriorityCapable: true
                  maxResourceVolumeMB: 28672
                  memoryGB: 14
                  name: Standard_DS11_v2
                  osVhdSizeMB: 1047552
                  premiumIO: true
                  vCPUs: 2
                - family: standardDSv2Family
                  lowPriorityCapable: true
                  maxResourceVolumeMB: 57344
                  memoryGB: 28
                  name: Standard_DS12_v2
                  osVhdSizeMB: 1047552
                  premiumIO: true
                  vCPUs: 4
                - family: standardDSv2Family
                  lowPriorityCapable: true
                  maxResourceVolumeMB: 114688
                  memoryGB: 56
                  name: Standard_DS13_v2
                  osVhdSizeMB: 1047552
                  premiumIO: true
                  vCPUs: 8
                - family: standardDSv2Family
                  lowPriorityCapable: true
                  maxResourceVolumeMB: 229376
                  memoryGB: 112
                  name: Standard_DS14_v2
                  osVhdSizeMB: 1047552
                  premiumIO: true
                  vCPUs: 16
                - family: standardDSv2Family
                  lowPriorityCapable: true
                  maxResourceVolumeMB: 286720
                  memoryGB: 140
                  name: Standard_DS15_v2
                  osVhdSizeMB: 1047552
                  premiumIO: true
                  vCPUs: 20
                - family: standardNCSv2Family
                  lowPriorityCapable: true
                  maxResourceVolumeMB: 344064
                  memoryGB: 112
                  name: Standard_NC6s_v2
                  osVhdSizeMB: 1047552
                  premiumIO: true
                  vCPUs: 6
                - family: standardNCSv2Family
                  lowPriorityCapable: true
                  maxResourceVolumeMB: 688128
                  memoryGB: 224
                  name: Standard_NC12s_v2
                  osVhdSizeMB: 1047552
                  premiumIO: true
                  vCPUs: 12
                - family: standardNCSv2Family
                  lowPriorityCapable: true
                  maxResourceVolumeMB: 1376256
                  memoryGB: 448
                  name: Standard_NC24rs_v2
                  osVhdSizeMB: 1047552
                  premiumIO: true
                  vCPUs: 24
                - family: standardNCSv2Family
                  lowPriorityCapable: true
                  maxResourceVolumeMB: 1376256
                  memoryGB: 448
                  name: Standard_NC24s_v2
                  osVhdSizeMB: 1047552
                  premiumIO: true
                  vCPUs: 24
                - family: standardNCSv3Family
                  lowPriorityCapable: true
                  maxResourceVolumeMB: 344064
                  memoryGB: 112
                  name: Standard_NC6s_v3
                  osVhdSizeMB: 1047552
                  premiumIO: true
                  vCPUs: 6
                - family: standardNCSv3Family
                  lowPriorityCapable: true
                  maxResourceVolumeMB: 688128
                  memoryGB: 224
                  name: Standard_NC12s_v3
                  osVhdSizeMB: 1047552
                  premiumIO: true
                  vCPUs: 12
                - family: standardNCSv3Family
                  lowPriorityCapable: true
                  maxResourceVolumeMB: 1376256
                  memoryGB: 448
                  name: Standard_NC24rs_v3
                  osVhdSizeMB: 1047552
                  premiumIO: true
                  vCPUs: 24
                - family: standardNCSv3Family
                  lowPriorityCapable: true
                  maxResourceVolumeMB: 1376256
                  memoryGB: 448
                  name: Standard_NC24s_v3
                  osVhdSizeMB: 1047552
                  premiumIO: true
                  vCPUs: 24
                - family: standardNCFamily
                  lowPriorityCapable: true
                  maxResourceVolumeMB: 389120
                  memoryGB: 56
                  name: Standard_NC6
                  osVhdSizeMB: 1047552
                  premiumIO: false
                  vCPUs: 6
                - family: standardNCFamily
                  lowPriorityCapable: true
                  maxResourceVolumeMB: 696320
                  memoryGB: 112
                  name: Standard_NC12
                  osVhdSizeMB: 1047552
                  premiumIO: false
                  vCPUs: 12
                - family: standardNCFamily
                  lowPriorityCapable: true
                  maxResourceVolumeMB: 1474560
                  memoryGB: 224
                  name: Standard_NC24
                  osVhdSizeMB: 1047552
                  premiumIO: false
                  vCPUs: 24
                - family: standardNCFamily
                  lowPriorityCapable: true
                  maxResourceVolumeMB: 1474560
                  memoryGB: 224
                  name: Standard_NC24r
                  osVhdSizeMB: 1047552
                  premiumIO: false
                  vCPUs: 24
                - family: standardNVFamily
                  lowPriorityCapable: true
                  maxResourceVolumeMB: 389120
                  memoryGB: 56
                  name: Standard_NV6
                  osVhdSizeMB: 1047552
                  premiumIO: false
                  vCPUs: 6
                - family: standardNVFamily
                  lowPriorityCapable: true
                  maxResourceVolumeMB: 696320
                  memoryGB: 112
                  name: Standard_NV12
                  osVhdSizeMB: 1047552
                  premiumIO: false
                  vCPUs: 12
                - family: standardNVFamily
                  lowPriorityCapable: true
                  maxResourceVolumeMB: 1474560
                  memoryGB: 224
                  name: Standard_NV24
                  osVhdSizeMB: 1047552
                  premiumIO: false
                  vCPUs: 24
                - family: standardNDSFamily
                  lowPriorityCapable: true
                  maxResourceVolumeMB: 344064
                  memoryGB: 112
                  name: Standard_ND6s
                  osVhdSizeMB: 1047552
                  premiumIO: true
                  vCPUs: 6
                - family: standardNDSFamily
                  lowPriorityCapable: true
                  maxResourceVolumeMB: 688128
                  memoryGB: 224
                  name: Standard_ND12s
                  osVhdSizeMB: 1047552
                  premiumIO: true
                  vCPUs: 12
                - family: standardNDSFamily
                  lowPriorityCapable: true
                  maxResourceVolumeMB: 1376256
                  memoryGB: 448
                  name: Standard_ND24rs
                  osVhdSizeMB: 1047552
                  premiumIO: true
                  vCPUs: 24
                - family: standardNDSFamily
                  lowPriorityCapable: true
                  maxResourceVolumeMB: 1376256
                  memoryGB: 448
                  name: Standard_ND24s
                  osVhdSizeMB: 1047552
                  premiumIO: true
                  vCPUs: 24
      x-openapi-router-controller: openapi_server.controllers.virtual_machine_sizes_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.MachineLearningServices/workspaces:
    get:
      description: Lists all the available machine learning workspaces under the specified
        subscription.
      operationId: workspaces_list_by_subscription
      parameters:
      - description: Version of Azure Machine Learning resource provider API.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Azure subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Continuation token for pagination.
        in: query
        name: $skiptoken
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceListResult'
          description: The request was successful; the request was well-formed and
            received properly.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MachineLearningServiceError'
          description: Error response describing why the operation failed
      tags:
      - Workspaces
      x-ms-examples:
        Get Workspaces by subscription:
          parameters:
            api-version: 2020-01-01
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                nextLink: nextLink
                value:
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.MachineLearningServices/workspaces/testworkspace
                  location: eastus2euap
                  name: testworkspace
                  properties:
                    applicationInsights: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/microsoft.insights/components/testinsights
                    containerRegistry: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.ContainerRegistry/registries/testRegistry
                    creationTime: 2017-03-01T23:14:37.0707808Z
                    description: test description
                    discoveryUrl: http://example.com
                    friendlyName: HelloName
                    keyVault: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.KeyVault/vaults/testkv
                    storageAccount: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.Storage/storageAccounts/testStorageAccount
                  sku:
                    name: Enterprise
                    tier: Enterprise
                  type: Microsoft.MachineLearningServices/workspaces
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-5678/providers/Microsoft.MachineLearningServices/workspaces/testworkspace
                  location: eastus2euap
                  name: testworkspace
                  properties:
                    applicationInsights: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/microsoft.insights/components/testinsights
                    containerRegistry: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.ContainerRegistry/registries/testRegistryNew
                    creationTime: 2017-03-01T23:14:37.0707808Z
                    description: test description
                    discoveryUrl: http://example.com
                    friendlyName: HelloName
                    keyVault: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.KeyVault/vaults/testkvNew
                    storageAccount: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.Storage/storageAccounts/testStorageAccountOld
                  sku:
                    name: Enterprise
                    tier: Enterprise
                  type: Microsoft.MachineLearningServices/workspaces
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.workspaces_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.MachineLearningServices/workspaces/skus:
    get:
      description: Lists all skus with associated features
      operationId: list_skus
      parameters:
      - description: Version of Azure Machine Learning resource provider API.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Azure subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SkuListResult'
          description: The request was successful; the request was well-formed and
            received properly.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MachineLearningServiceError'
          description: Error response describing why the operation failed.
      tags:
      - WorkspaceSkus
      x-ms-examples:
        List Skus:
          parameters:
            api-version: 2020-01-01
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                value:
                - capabilities:
                  - name: automatedml_readhyperdrivesdk
                    value: |-
                      {
                        "id": "automatedml_ readhyperdrivesdk",
                        "name": "Read hyperdrive SDK",
                        "description": "Read only access to Hyperdrive in the SDK"
                      }
                  - name: workspace_upgradeworkspacesdk
                    value: |-
                      {
                        "id": "workspace_upgradeworkspacesdk",
                        "name": "Upgrade workspace SDK",
                        "description": "Upgrade workspace from Basic to enterprise from the SDK"
                      }
                  locationInfo:
                  - location: westus
                    zones:
                    - westus-AZ02
                    - westus-AZ01
                  locations:
                  - westus
                  name: Basic
                  resourceType: workspaces
                  restrictions: []
                  tier: Basic
                - capabilities:
                  - name: automatedml_createeditexperimentssdk
                    value: |-
                      {
                        "id": "automatedml_createeditexperimentssdk",
                        "name": "Create edit experiments SDK",
                        "description": "Create, edit or delete AutoML experiments in the SDK"
                      }
                  locationInfo:
                  - location: westus
                    zoneDetails:
                    - capabilities:
                      - name: automatedml_createeditexperimentssdk
                        value: |-
                          {
                            "id": "automatedml_createeditexperimentssdk",
                            "name": "Create edit experiments SDK",
                            "description": "Create, edit or delete AutoML experiments in the SDK"
                          }
                      name:
                      - westus-AZ01
                    zones:
                    - westus-AZ01
                  locations:
                  - westus
                  name: Enterprise
                  resourceType: workspaces
                  restrictions: []
                  tier: Enterprise
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.workspace_skus_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces:
    get:
      description: Lists all the available machine learning workspaces under the specified
        resource group.
      operationId: workspaces_list_by_resource_group
      parameters:
      - description: Version of Azure Machine Learning resource provider API.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Azure subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Name of the resource group in which workspace is located.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Continuation token for pagination.
        in: query
        name: skiptoken
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceListResult'
          description: The request was successful; the request was well-formed and
            received properly.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MachineLearningServiceError'
          description: Error response describing why the operation failed
      tags:
      - Workspaces
      x-ms-examples:
        Get Workspaces by Resource Group:
          parameters:
            api-version: 2020-01-01
            resourceGroupName: workspace-1234
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                nextLink: nextLink
                value:
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.MachineLearningServices/workspaces/testworkspace
                  location: eastus2euap
                  name: testworkspace
                  properties:
                    applicationInsights: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/microsoft.insights/components/testinsights
                    containerRegistry: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.ContainerRegistry/registries/testRegistry
                    creationTime: 2017-03-01T23:14:37.0707808Z
                    description: test description
                    discoveryUrl: http://example.com
                    friendlyName: HelloName
                    keyVault: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.KeyVault/vaults/testkv
                    storageAccount: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.Storage/storageAccounts/testStorageAccount
                  sku:
                    name: Basic
                    tier: Basic
                  type: Microsoft.MachineLearningServices/workspaces
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.MachineLearningServices/workspaces/testworkspace1
                  location: eastus2euap
                  name: testworkspace1
                  properties:
                    applicationInsights: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/microsoft.insights/components/testinsights
                    containerRegistry: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.ContainerRegistry/registries/testRegistryNew
                    creationTime: 2017-03-01T23:14:37.0707808Z
                    description: test description
                    discoveryUrl: http://example.com
                    friendlyName: HelloName 1
                    keyVault: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.KeyVault/vaults/testkvNew
                    storageAccount: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.Storage/storageAccounts/testStorageAccountOld
                  sku:
                    name: Basic
                    tier: Basic
                  type: Microsoft.MachineLearningServices/workspaces
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.workspaces_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}
  : delete:
      description: Deletes a machine learning workspace.
      operationId: workspaces_delete
      parameters:
      - description: Version of Azure Machine Learning resource provider API.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Azure subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Name of the resource group in which workspace is located.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of Azure Machine Learning workspace.
        in: path
        name: workspace_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content: {}
          description: The request was successful; the request was well-formed and
            received properly.
        "204":
          content: {}
          description: The machine learning workspace does not exist in the subscription.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MachineLearningServiceError'
          description: Error response describing why the operation failed
      tags:
      - Workspaces
      x-ms-examples:
        Delete Workspace:
          parameters:
            api-version: 2020-01-01
            resourceGroupName: workspace-1234
            subscriptionId: 00000000-1111-2222-3333-444444444444
            workspaceName: testworkspace
          responses:
            "200": {}
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.workspaces_controller
    get:
      description: Gets the properties of the specified machine learning workspace.
      operationId: workspaces_get
      parameters:
      - description: Version of Azure Machine Learning resource provider API.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Azure subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Name of the resource group in which workspace is located.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of Azure Machine Learning workspace.
        in: path
        name: workspaceName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
          description: The request was successful; the request was well-formed and
            received properly.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MachineLearningServiceError'
          description: Error response describing why the operation failed
      tags:
      - Workspaces
      x-ms-examples:
        Get Workspace:
          parameters:
            api-version: 2020-01-01
            resourceGroupName: workspace-1234
            subscriptionId: 00000000-1111-2222-3333-444444444444
            workspaceName: testworkspace
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.MachineLearningServices/workspaces/testworkspace
                location: eastus2euap
                name: testworkspace
                properties:
                  applicationInsights: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/microsoft.insights/components/testinsights
                  containerRegistry: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.ContainerRegistry/registries/testRegistry
                  creationTime: 2017-03-01T23:14:37.0707808Z
                  description: test description
                  discoveryUrl: http://example.com
                  encryption:
                    keyVaultProperties:
                      identityClientId: ""
                      keyIdentifier: https://testkv.vault.azure.net/keys/testkey/aabbccddee112233445566778899aabb
                      keyVaultArmId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.KeyVault/vaults/testkv
                    status: Enabled
                  friendlyName: HelloName
                  hbiWorkspace: false
                  keyVault: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.KeyVault/vaults/testkv
                  serviceProvisionedResourceGroup: testworkspace_0000111122223333
                  storageAccount: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.Storage/storageAccounts/testStorageAccount
                sku:
                  name: Enterprise
                  tier: Enterprise
                type: Microsoft.MachineLearningServices/workspaces
      x-openapi-router-controller: openapi_server.controllers.workspaces_controller
    patch:
      description: Updates a machine learning workspace with the specified parameters.
      operationId: workspaces_update
      parameters:
      - description: Version of Azure Machine Learning resource provider API.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Azure subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Name of the resource group in which workspace is located.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of Azure Machine Learning workspace.
        in: path
        name: workspace_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceUpdateParameters'
        description: The parameters for updating a machine learning workspace.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
          description: The request was successful; the request was well-formed and
            received properly.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MachineLearningServiceError'
          description: Error response describing why the operation failed
      tags:
      - Workspaces
      x-ms-examples:
        Update Workspace:
          parameters:
            api-version: 2020-01-01
            parameters:
              properties:
                description: new description
                friendlyName: New friendly name
              sku:
                name: Enterprise
                tier: Enterprise
            resourceGroupName: workspace-1234
            subscriptionId: 00000000-1111-2222-3333-444444444444
            workspaceName: testworkspace
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.MachineLearningServices/workspaces/testworkspace
                location: eastus2euap
                name: testworkspace
                properties:
                  applicationInsights: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/microsoft.insights/components/testinsights
                  containerRegistry: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.ContainerRegistry/registries/testRegistry
                  creationTime: 2017-03-01T23:14:37.0707808Z
                  description: new description
                  discoveryUrl: http://example.com
                  friendlyName: New friendly name
                  keyVault: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.KeyVault/vaults/testkv
                  storageAccount: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.Storage/storageAccounts/testStorageAccount
                sku:
                  name: Enterprise
                  tier: Enterprise
                type: Microsoft.MachineLearningServices/workspaces
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.workspaces_controller
    put:
      description: Creates or updates a workspace with the specified parameters.
      operationId: workspaces_create_or_update
      parameters:
      - description: Version of Azure Machine Learning resource provider API.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Azure subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Name of the resource group in which workspace is located.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of Azure Machine Learning workspace.
        in: path
        name: workspace_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Workspace'
        description: The parameters for creating or updating a machine learning workspace.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
          description: The request was successful; the request was well-formed and
            received properly.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
          description: The request was successful; the request was well-formed and
            received properly.
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
          description: The request was successful; the request was well-formed and
            received properly.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MachineLearningServiceError'
          description: Error response describing why the operation failed
      tags:
      - Workspaces
      x-ms-examples:
        Create Workspace:
          parameters:
            api-version: 2020-01-01
            parameters:
              location: eastus2euap
              properties:
                applicationInsights: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/microsoft.insights/components/testinsights
                containerRegistry: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.ContainerRegistry/registries/testRegistry
                description: test description
                encryption:
                  keyVaultProperties:
                    identityClientId: ""
                    keyIdentifier: https://testkv.vault.azure.net/keys/testkey/aabbccddee112233445566778899aabb
                    keyVaultArmId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.KeyVault/vaults/testkv
                  status: Enabled
                friendlyName: HelloName
                hbiWorkspace: false
                keyVault: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.KeyVault/vaults/testkv
                storageAccount: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.Storage/storageAccounts/testStorageAccount
              sku:
                name: Basic
                tier: Basic
            resourceGroupName: workspace-1234
            subscriptionId: 00000000-1111-2222-3333-444444444444
            workspaceName: testworkspace
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.MachineLearningServices/workspaces/testworkspace
                location: eastus2euap
                name: testworkspace
                properties:
                  applicationInsights: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/microsoft.insights/components/testinsights
                  containerRegistry: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.ContainerRegistry/registries/testRegistry
                  creationTime: 2017-03-01T23:14:37.0707808Z
                  description: test description
                  discoveryUrl: http://example.com
                  encryption:
                    keyVaultProperties:
                      identityClientId: ""
                      keyIdentifier: https://testkv.vault.azure.net/keys/testkey/aabbccddee112233445566778899aabb
                      keyVaultArmId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.KeyVault/vaults/testkv
                    status: Enabled
                  friendlyName: HelloName
                  hbiWorkspace: false
                  keyVault: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.KeyVault/vaults/testkv
                  storageAccount: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.Storage/storageAccounts/testStorageAccount
                sku:
                  name: Basic
                  tier: Basic
                type: Microsoft.MachineLearningServices/workspaces
            "201":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.MachineLearningServices/workspaces/testworkspace
                location: eastus2euap
                name: testworkspace
                properties:
                  applicationInsights: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/microsoft.insights/components/testinsights
                  containerRegistry: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.ContainerRegistry/registries/testRegistry
                  creationTime: 2017-03-01T23:14:37.0707808Z
                  description: test description
                  discoveryUrl: http://example.com
                  encryption:
                    keyVaultProperties:
                      identityClientId: ""
                      keyIdentifier: https://testkv.vault.azure.net/keys/testkey/aabbccddee112233445566778899aabb
                      keyVaultArmId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.KeyVault/vaults/testkv
                    status: Enabled
                  friendlyName: HelloName
                  hbiWorkspace: false
                  keyVault: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.KeyVault/vaults/testkv
                  storageAccount: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.Storage/storageAccounts/testStorageAccount
                sku:
                  name: Basic
                  tier: Basic
                type: Microsoft.MachineLearningServices/workspaces
            "202":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.MachineLearningServices/workspaces/testworkspace
                location: eastus2euap
                name: testworkspace
                properties:
                  applicationInsights: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/microsoft.insights/components/testinsights
                  containerRegistry: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.ContainerRegistry/registries/testRegistry
                  creationTime: 2017-03-01T23:14:37.0707808Z
                  description: test description
                  discoveryUrl: http://example.com
                  encryption:
                    keyVaultProperties:
                      identityClientId: ""
                      keyIdentifier: https://testkv.vault.azure.net/keys/testkey/aabbccddee112233445566778899aabb
                      keyVaultArmId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.KeyVault/vaults/testkv
                    status: Enabled
                  friendlyName: HelloName
                  hbiWorkspace: true
                  keyVault: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.KeyVault/vaults/testkv
                  storageAccount: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.Storage/storageAccounts/testStorageAccount
                sku:
                  name: Basic
                  tier: Basic
                type: Microsoft.MachineLearningServices/workspaces
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.workspaces_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/computes
  : get:
      description: Gets computes in specified workspace.
      operationId: machine_learning_compute_list_by_workspace
      parameters:
      - description: Azure subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Name of the resource group in which workspace is located.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of Azure Machine Learning workspace.
        in: path
        name: workspace_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of Azure Machine Learning resource provider API.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Continuation token for pagination.
        in: query
        name: skiptoken
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedComputeResourcesList'
          description: "The response includes a paginated array of Machine Learning\
            \ computes and a URI to the next set of results, if any. For the more\
            \ information the limits of the number of items in a resource group, see\
            \ https://azure.microsoft.com/en-us/documentation/articles/azure-subscription-service-limits/."
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MachineLearningServiceError'
          description: Error response describing why the request failed.
      tags:
      - OperationalizationClusters
      - MachineLearningComputes
      x-ms-examples:
        Get Computes:
          parameters:
            api-version: 2020-01-01
            resourceGroupName: testrg123
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
            workspaceName: workspaces123
          responses:
            "200":
              body:
                nextLink: nextLink
                value:
                - id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.MachineLearningServices/workspaces/workspaces123/computes/compute123
                  location: eastus
                  name: compute123
                  properties:
                    computeType: AKS
                    description: some compute
                    provisioningState: Succeeded
                    resourceId: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourcegroups/testrg123/providers/Microsoft.ContainerService/managedClusters/compute123-56826-c9b00420020b2
                  type: Microsoft.MachineLearningServices/workspaces/computes
                - id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.MachineLearningServices/workspaces/workspaces123/computes/compute1234
                  location: eastus
                  name: compute1234
                  properties:
                    computeType: AKS
                    description: some compute
                    provisioningState: Succeeded
                    resourceId: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourcegroups/testrg123/providers/Microsoft.ContainerService/managedClusters/compute1234-56826-c9b00420020b2
                  type: Microsoft.MachineLearningServices/workspaces/computes
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.operationalization_clusters_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/computes/{computeName}
  : delete:
      description: Deletes specified Machine Learning compute.
      operationId: machine_learning_compute_delete
      parameters:
      - description: Azure subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Name of the resource group in which workspace is located.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of Azure Machine Learning workspace.
        in: path
        name: workspace_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the Azure Machine Learning compute.
        in: path
        name: compute_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of Azure Machine Learning resource provider API.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: "Delete the underlying compute if 'Delete', or detach the underlying\
          \ compute from workspace if 'Detach'."
        in: query
        name: underlyingResourceAction
        required: true
        schema:
          enum:
          - Delete
          - Detach
          type: string
          x-ms-enum:
            modelAsString: true
            name: UnderlyingResourceAction
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: UnderlyingResourceAction
        x-ms-parameter-location: method
      responses:
        "200":
          content: {}
          description: The request was successful; the request was well-formed and
            received properly.
        "202":
          content: {}
          description: Compute deletion initiated.
          headers:
            Azure-AsyncOperation:
              description: URI to poll for asynchronous operation status.
              schema:
                type: string
            Location:
[...]
