openapi: 3.0.1
info:
  description: Azure Service Fabric Resource Provider API Client
  title: ServiceFabricManagementClient
  version: 2019-03-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2019-03-01/application.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: servicefabric-application
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.ServiceFabric/operations:
    get:
      description: Get the list of available Service Fabric resource provider API
        operations.
      operationId: Operations_List
      parameters:
      - description: The version of the Service Fabric resource provider API
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error response describing why the operation failed.
      summary: Lists all of the available Service Fabric resource provider API operations.
      tags:
      - Operations
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabric/clusters/{clusterName}/applicationTypes
  : get:
      description: Gets all application type name resources created or in the process
        of being created in the Service Fabric cluster resource.
      operationId: ApplicationTypes_List
      parameters:
      - description: The customer subscription identifier.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the cluster resource.
        in: path
        name: clusterName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The version of the Service Fabric resource provider API. This
          is a required parameter and it's value must be "2019-03-01" for this specification.
        in: query
        name: api-version
        required: true
        schema:
          default: 2019-03-01
          enum:
          - 2019-03-01
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationTypeResourceList'
          description: The operation completed successfully.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: The detailed error response.
      summary: Gets the list of application type name resources created in the specified
        Service Fabric cluster resource.
      tags:
      - ApplicationType
      x-ms-examples:
        Get a list of application type name resources:
          parameters:
            api-version: 2019-03-01
            clusterName: myCluster
            resourceGroupName: resRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                nextLink: ""
                value:
                - etag: W/"636462502174844831"
                  id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/resRg/providers/Microsoft.ServiceFabric/clusters/myCluster/applicationTypes/myAppType
                  location: eastus
                  name: myCluster
                  properties:
                    provisioningState: Succeeded
                  tags: {}
                  type: applicationTypes
              headers: {}
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabric/clusters/{clusterName}/applicationTypes/{applicationTypeName}
  : delete:
      description: Delete a Service Fabric application type name resource with the
        specified name.
      operationId: ApplicationTypes_Delete
      parameters:
      - description: The customer subscription identifier.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the cluster resource.
        in: path
        name: clusterName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the application type name resource.
        in: path
        name: applicationTypeName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The version of the Service Fabric resource provider API. This
          is a required parameter and it's value must be "2019-03-01" for this specification.
        in: query
        name: api-version
        required: true
        schema:
          default: 2019-03-01
          enum:
          - 2019-03-01
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "202":
          content: {}
          description: The request was accepted and the operation will complete asynchronously.
        "204":
          content: {}
          description: The resource was not found.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: The detailed error response.
      summary: Deletes a Service Fabric application type name resource.
      tags:
      - ApplicationType
      x-ms-examples:
        Delete an application type:
          parameters:
            api-version: 2019-03-01
            applicationTypeName: myAppType
            clusterName: myCluster
            resourceGroupName: resRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "202":
              headers:
                Location: http://10.91.140.224/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/eastus/operationResults/6a367b2d-9f60-4941-b886-e348ddcb4127?api-version=2019-03-01
                Retry-After: "10"
            "204": {}
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
    get:
      description: Get a Service Fabric application type name resource created or
        in the process of being created in the Service Fabric cluster resource.
      operationId: ApplicationTypes_Get
      parameters:
      - description: The customer subscription identifier.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the cluster resource.
        in: path
        name: clusterName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the application type name resource.
        in: path
        name: applicationTypeName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The version of the Service Fabric resource provider API. This
          is a required parameter and it's value must be "2019-03-01" for this specification.
        in: query
        name: api-version
        required: true
        schema:
          default: 2019-03-01
          enum:
          - 2019-03-01
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationTypeResource'
          description: The operation completed successfully.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: The detailed error response.
      summary: Gets a Service Fabric application type name resource.
      tags:
      - ApplicationType
      x-ms-examples:
        Get an application type:
          parameters:
            api-version: 2019-03-01
            applicationTypeName: myAppType
            clusterName: myCluster
            resourceGroupName: resRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                etag: W/"636462502174844831"
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/resRg/providers/Microsoft.ServiceFabric/clusters/myCluster/applicationTypes/myAppType
                location: eastus
                name: myCluster
                properties:
                  provisioningState: Succeeded
                tags: {}
                type: applicationTypes
              headers: {}
      x-accepts:
      - application/json
    put:
      description: Create or update a Service Fabric application type name resource
        with the specified name.
      operationId: ApplicationTypes_CreateOrUpdate
      parameters:
      - description: The customer subscription identifier.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the cluster resource.
        in: path
        name: clusterName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the application type name resource.
        in: path
        name: applicationTypeName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The version of the Service Fabric resource provider API. This
          is a required parameter and it's value must be "2019-03-01" for this specification.
        in: query
        name: api-version
        required: true
        schema:
          default: 2019-03-01
          enum:
          - 2019-03-01
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationTypeResource'
        description: The application type name resource.
        required: true
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationTypeResource'
          description: The operation completed successfully.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: The detailed error response.
      summary: Creates or updates a Service Fabric application type name resource.
      tags:
      - ApplicationType
      x-ms-examples:
        Put an application type:
          parameters:
            api-version: 2019-03-01
            applicationTypeName: myAppType
            clusterName: myCluster
            parameters:
              location: eastus
              tags: {}
            resourceGroupName: resRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                etag: W/"636462502174844831"
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/resRg/providers/Microsoft.ServiceFabric/clusters/myCluster/applicationTypes/myAppType
                location: eastus
                name: myCluster
                properties:
                  provisioningState: Succeeded
                tags: {}
                type: applicationTypes
              headers: {}
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabric/clusters/{clusterName}/applicationTypes/{applicationTypeName}/versions
  : get:
      description: Gets all application type version resources created or in the process
        of being created in the Service Fabric application type name resource.
      operationId: ApplicationTypeVersions_List
      parameters:
      - description: The customer subscription identifier.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the cluster resource.
        in: path
        name: clusterName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the application type name resource.
        in: path
        name: applicationTypeName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The version of the Service Fabric resource provider API. This
          is a required parameter and it's value must be "2019-03-01" for this specification.
        in: query
        name: api-version
        required: true
        schema:
          default: 2019-03-01
          enum:
          - 2019-03-01
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationTypeVersionResourceList'
          description: The operation completed successfully.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: The detailed error response.
      summary: Gets the list of application type version resources created in the
        specified Service Fabric application type name resource.
      tags:
      - ApplicationTypeVersion
      x-ms-examples:
        Get a list of application type version resources:
          parameters:
            api-version: 2019-03-01
            applicationTypeName: myAppType
            clusterName: myCluster
            resourceGroupName: resRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                nextLink: ""
                value:
                - etag: W/"636462502176040417"
                  id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/resRg/providers/Microsoft.ServiceFabric/clusters/myCluster/applicationTypes/myAppType/versions/1.0
                  location: eastus
                  name: myCluster
                  properties:
                    appPackageUrl: http://fakelink.test.com/MyAppType
                    defaultParameterList: {}
                    provisioningState: Updating
                  tags: {}
                  type: versions
              headers: {}
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabric/clusters/{clusterName}/applicationTypes/{applicationTypeName}/versions/{version}
  : delete:
      description: Delete a Service Fabric application type version resource with
        the specified name.
      operationId: ApplicationTypeVersions_Delete
      parameters:
      - description: The customer subscription identifier.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the cluster resource.
        in: path
        name: clusterName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the application type name resource.
        in: path
        name: applicationTypeName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The application type version.
        in: path
        name: version
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The version of the Service Fabric resource provider API. This
          is a required parameter and it's value must be "2019-03-01" for this specification.
        in: query
        name: api-version
        required: true
        schema:
          default: 2019-03-01
          enum:
          - 2019-03-01
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "202":
          content: {}
          description: The request was accepted and the operation will complete asynchronously.
        "204":
          content: {}
          description: The resource was not found.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: The detailed error response.
      summary: Deletes a Service Fabric application type version resource.
      tags:
      - ApplicationTypeVersion
      x-ms-examples:
        Delete an application type version:
          parameters:
            api-version: 2019-03-01
            applicationTypeName: myAppType
            clusterName: myCluster
            resourceGroupName: resRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            version: "1.0"
          responses:
            "202":
              headers:
                Location: http://10.91.140.224/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/eastus/operationResults/28e62369-ed8c-4aba-8c05-ab7d6238cc3d?api-version=2019-03-01
                Retry-After: "10"
            "204": {}
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
    get:
      description: Get a Service Fabric application type version resource created
        or in the process of being created in the Service Fabric application type
        name resource.
      operationId: ApplicationTypeVersions_Get
      parameters:
      - description: The customer subscription identifier.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the cluster resource.
        in: path
        name: clusterName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the application type name resource.
        in: path
        name: applicationTypeName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The application type version.
        in: path
        name: version
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The version of the Service Fabric resource provider API. This
          is a required parameter and it's value must be "2019-03-01" for this specification.
        in: query
        name: api-version
        required: true
        schema:
          default: 2019-03-01
          enum:
          - 2019-03-01
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationTypeVersionResource'
          description: The operation completed successfully.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: The detailed error response.
      summary: Gets a Service Fabric application type version resource.
      tags:
      - ApplicationTypeVersion
      x-ms-examples:
        Get an application type version:
          parameters:
            api-version: 2019-03-01
            applicationTypeName: myAppType
            clusterName: myCluster
            resourceGroupName: resRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            version: "1.0"
          responses:
            "200":
              body:
                etag: W/"636462502176040417"
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/resRg/providers/Microsoft.ServiceFabric/clusters/myCluster/applicationTypes/myAppType/versions/1.0
                location: eastus
                name: myCluster
                properties:
                  appPackageUrl: http://fakelink.test.com/MyAppType
                  defaultParameterList: {}
                  provisioningState: Updating
                tags: {}
                type: versions
              headers: {}
      x-accepts:
      - application/json
    put:
      description: Create or update a Service Fabric application type version resource
        with the specified name.
      operationId: ApplicationTypeVersions_CreateOrUpdate
      parameters:
      - description: The customer subscription identifier.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the cluster resource.
        in: path
        name: clusterName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the application type name resource.
        in: path
        name: applicationTypeName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The application type version.
        in: path
        name: version
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The version of the Service Fabric resource provider API. This
          is a required parameter and it's value must be "2019-03-01" for this specification.
        in: query
        name: api-version
        required: true
        schema:
          default: 2019-03-01
          enum:
          - 2019-03-01
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationTypeVersionResource'
        description: The application type version resource.
        required: true
        x-ms-parameter-location: method
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationTypeVersionResource'
          description: The request was accepted and the operation will complete asynchronously.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: The detailed error response.
      summary: Creates or updates a Service Fabric application type version resource.
      tags:
      - ApplicationTypeVersion
      x-ms-examples:
        Put an application type version:
          parameters:
            api-version: 2019-03-01
            applicationTypeName: myAppType
            clusterName: myCluster
            parameters:
              location: eastus
              properties:
                appPackageUrl: http://fakelink.test.com/MyAppType
              tags: {}
            resourceGroupName: resRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            version: "1.0"
          responses:
            "202":
              body:
                etag: W/"636462502176040417"
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/resRg/providers/Microsoft.ServiceFabric/clusters/myCluster/applicationTypes/myAppType/versions/1.0
                location: eastus
                name: myCluster
                properties:
                  appPackageUrl: http://fakelink.test.com/MyAppType
                  defaultParameterList: {}
                  provisioningState: Updating
                tags: {}
                type: versions
              headers:
                Location: http://10.91.140.224/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/eastus/operationResults/e2413c7e-d51b-40ac-8155-bc85bf8ae856?api-version=2019-03-01
                Retry-After: "10"
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabric/clusters/{clusterName}/applications
  : get:
      description: Gets all application resources created or in the process of being
        created in the Service Fabric cluster resource.
      operationId: Applications_List
      parameters:
      - description: The customer subscription identifier.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the cluster resource.
        in: path
        name: clusterName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The version of the Service Fabric resource provider API. This
          is a required parameter and it's value must be "2019-03-01" for this specification.
        in: query
        name: api-version
        required: true
        schema:
          default: 2019-03-01
          enum:
          - 2019-03-01
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationResourceList'
          description: The operation completed successfully.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: The detailed error response.
      summary: Gets the list of application resources created in the specified Service
        Fabric cluster resource.
      tags:
      - Application
      x-ms-examples:
        Get a list of application resources:
          parameters:
            api-version: 2019-03-01
            clusterName: myCluster
            resourceGroupName: resRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                nextLink: ""
                value:
                - etag: W/"636462502180261858"
                  id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/resRg/providers/Microsoft.ServiceFabric/clusters/myCluster/applications/myApp
                  location: eastus
                  name: myCluster
                  properties:
                    metrics:
                    - maximumCapacity: 3
                      name: metric1
                      reservationCapacity: 1
                      totalApplicationCapacity: 5
                    provisioningState: Updating
                    removeApplicationCapacity: false
                    typeName: myAppType
                    typeVersion: "1.0"
                  tags: {}
                  type: applications
              headers: {}
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabric/clusters/{clusterName}/applications/{applicationName}
  : delete:
      description: Delete a Service Fabric application resource with the specified
        name.
      operationId: Applications_Delete
      parameters:
      - description: The customer subscription identifier.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the cluster resource.
        in: path
        name: clusterName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the application resource.
        in: path
        name: applicationName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The version of the Service Fabric resource provider API. This
          is a required parameter and it's value must be "2019-03-01" for this specification.
        in: query
        name: api-version
        required: true
        schema:
          default: 2019-03-01
          enum:
          - 2019-03-01
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "202":
          content: {}
          description: The request was accepted and the operation will complete asynchronously.
        "204":
          content: {}
          description: The resource was not found.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: The detailed error response.
      summary: Deletes a Service Fabric application resource.
      tags:
      - Application
      x-ms-examples:
        Delete an application:
          parameters:
            api-version: 2019-03-01
            applicationName: myApp
            clusterName: myCluster
            resourceGroupName: resRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "202":
              headers:
                Location: http://10.91.140.224/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/eastus/operationResults/76053752-a423-4a80-b283-1dad1ba5f314?api-version=2019-03-01
                Retry-After: "10"
            "204": {}
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
    get:
      description: Get a Service Fabric application resource created or in the process
        of being created in the Service Fabric cluster resource.
      operationId: Applications_Get
      parameters:
      - description: The customer subscription identifier.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the cluster resource.
        in: path
        name: clusterName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the application resource.
        in: path
        name: applicationName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The version of the Service Fabric resource provider API. This
          is a required parameter and it's value must be "2019-03-01" for this specification.
        in: query
        name: api-version
        required: true
        schema:
          default: 2019-03-01
          enum:
          - 2019-03-01
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationResource'
          description: The operation completed successfully.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: The detailed error response.
      summary: Gets a Service Fabric application resource.
      tags:
      - Application
      x-ms-examples:
        Get an application:
          parameters:
            api-version: 2019-03-01
            applicationName: myApp
            clusterName: myCluster
            resourceGroupName: resRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                etag: W/"636462502180261859"
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/resRg/providers/Microsoft.ServiceFabric/clusters/myCluster/applications/myApp
                location: eastus
                name: myCluster
                properties:
                  maximumNodes: 3
                  metrics:
                  - maximumCapacity: 3
                    name: metric1
                    reservationCapacity: 1
                    totalApplicationCapacity: 5
                  minimumNodes: 1
                  parameters:
                    param1: value1
                  provisioningState: Updating
                  removeApplicationCapacity: false
                  typeName: myAppType
                  typeVersion: "1.0"
                  upgradePolicy:
                    applicationHealthPolicy:
                      considerWarningAsError: true
                      defaultServiceTypeHealthPolicy:
                        maxPercentUnhealthyPartitionsPerService: 0
                        maxPercentUnhealthyReplicasPerPartition: 0
                        maxPercentUnhealthyServices: 0
                      maxPercentUnhealthyDeployedApplications: 0
                    forceRestart: false
                    rollingUpgradeMonitoringPolicy:
                      failureAction: Rollback
                      healthCheckRetryTimeout: 00:10:00
                      healthCheckStableDuration: 00:05:00
                      healthCheckWaitDuration: 00:02:00
                      upgradeDomainTimeout: 1.06:00:00
                      upgradeTimeout: 01:00:00
                    upgradeReplicaSetCheckTimeout: 01:00:00
                tags: {}
                type: applications
              headers: {}
      x-accepts:
      - application/json
    patch:
      description: Update a Service Fabric application resource with the specified
        name.
      operationId: Applications_Update
      parameters:
      - description: The customer subscription identifier.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the cluster resource.
        in: path
        name: clusterName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the application resource.
        in: path
        name: applicationName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The version of the Service Fabric resource provider API. This
          is a required parameter and it's value must be "2019-03-01" for this specification.
        in: query
        name: api-version
        required: true
        schema:
          default: 2019-03-01
          enum:
          - 2019-03-01
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationResourceUpdate'
        description: The application resource for patch operations.
        required: true
        x-ms-parameter-location: method
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationResource'
          description: The request was accepted and the operation will complete asynchronously.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: The detailed error response.
      summary: Updates a Service Fabric application resource.
      tags:
      - Application
      x-ms-examples:
        Patch an application:
          parameters:
            api-version: 2019-03-01
            applicationName: myApp
            clusterName: myCluster
            parameters:
              location: eastus
              properties:
                metrics:
                - maximumCapacity: 3
                  name: metric1
                  reservationCapacity: 1
                  totalApplicationCapacity: 5
                removeApplicationCapacity: false
                typeVersion: "1.0"
              tags: {}
            resourceGroupName: resRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "202":
              body:
                etag: W/"636462502180261858"
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/resRg/providers/Microsoft.ServiceFabric/clusters/myCluster/applications/myApp
                location: eastus
                name: myCluster
                properties:
                  metrics:
                  - maximumCapacity: 3
                    name: metric1
                    reservationCapacity: 1
                    totalApplicationCapacity: 5
                  provisioningState: Updating
                  removeApplicationCapacity: false
                  typeName: myAppType
                  typeVersion: "1.0"
                tags: {}
                type: applications
              headers:
                Location: http://10.91.140.224/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/eastus/operationResults/a553eb63-c332-40df-8ace-eb8d34a9b298?api-version=2019-03-01
                Retry-After: "10"
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: Create or update a Service Fabric application resource with the
        specified name.
      operationId: Applications_CreateOrUpdate
      parameters:
      - description: The customer subscription identifier.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the cluster resource.
        in: path
        name: clusterName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the application resource.
        in: path
        name: applicationName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The version of the Service Fabric resource provider API. This
          is a required parameter and it's value must be "2019-03-01" for this specification.
        in: query
        name: api-version
        required: true
        schema:
          default: 2019-03-01
          enum:
          - 2019-03-01
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationResource'
        description: The application resource.
        required: true
        x-ms-parameter-location: method
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationResource'
          description: The request was accepted and the operation will complete asynchronously.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: The detailed error response.
      summary: Creates or updates a Service Fabric application resource.
      tags:
      - Application
      x-ms-examples:
        Put an application with maximum parameters:
          parameters:
            api-version: 2019-03-01
            applicationName: myApp
            clusterName: myCluster
            parameters:
              location: eastus
              properties:
                maximumNodes: 3
                metrics:
                - maximumCapacity: 3
                  name: metric1
                  reservationCapacity: 1
                  totalApplicationCapacity: 5
                minimumNodes: 1
                parameters:
                  param1: value1
                removeApplicationCapacity: false
                typeName: myAppType
                typeVersion: "1.0"
                upgradePolicy:
                  applicationHealthPolicy:
                    considerWarningAsError: true
                    defaultServiceTypeHealthPolicy:
                      maxPercentUnhealthyPartitionsPerService: 0
                      maxPercentUnhealthyReplicasPerPartition: 0
                      maxPercentUnhealthyServices: 0
                    maxPercentUnhealthyDeployedApplications: 0
                  forceRestart: false
                  rollingUpgradeMonitoringPolicy:
                    failureAction: Rollback
                    healthCheckRetryTimeout: 00:10:00
                    healthCheckStableDuration: 00:05:00
                    healthCheckWaitDuration: 00:02:00
                    upgradeDomainTimeout: 1.06:00:00
                    upgradeTimeout: 01:00:00
                  upgradeReplicaSetCheckTimeout: 01:00:00
              tags: {}
            resourceGroupName: resRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "202":
              body:
                etag: W/"636462502180261859"
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/resRg/providers/Microsoft.ServiceFabric/clusters/myCluster/applications/myApp
                location: eastus
                name: myCluster
                properties:
                  maximumNodes: 3
                  metrics:
                  - maximumCapacity: 3
                    name: metric1
                    reservationCapacity: 1
                    totalApplicationCapacity: 5
                  minimumNodes: 1
                  parameters:
                    param1: value1
                  provisioningState: Updating
                  removeApplicationCapacity: false
                  typeName: myAppType
                  typeVersion: "1.0"
                  upgradePolicy:
                    applicationHealthPolicy:
                      considerWarningAsError: true
                      defaultServiceTypeHealthPolicy:
                        maxPercentUnhealthyPartitionsPerService: 0
                        maxPercentUnhealthyReplicasPerPartition: 0
                        maxPercentUnhealthyServices: 0
                      maxPercentUnhealthyDeployedApplications: 0
                    forceRestart: false
                    rollingUpgradeMonitoringPolicy:
                      failureAction: Rollback
                      healthCheckRetryTimeout: 00:10:00
                      healthCheckStableDuration: 00:05:00
                      healthCheckWaitDuration: 00:02:00
                      upgradeDomainTimeout: 1.06:00:00
                      upgradeTimeout: 01:00:00
                    upgradeReplicaSetCheckTimeout: 01:00:00
                tags: {}
                type: applications
              headers:
                Location: http://10.91.140.224/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/eastus/operationResults/9c2ce367-47ea-43de-b69e-c5a423da4557?api-version=2019-03-01
                Retry-After: "10"
        Put an application with minimum parameters:
          parameters:
            api-version: 2019-03-01
            applicationName: myApp
            clusterName: myCluster
            parameters:
              location: eastus
              properties:
                removeApplicationCapacity: false
                typeName: myAppType
                typeVersion: "1.0"
              tags: {}
            resourceGroupName: resRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "202":
              body:
                etag: W/"636462502180261857"
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/resRg/providers/Microsoft.ServiceFabric/clusters/myCluster/applications/myApp
                location: eastus
                name: myCluster
                properties:
                  provisioningState: Updating
                  removeApplicationCapacity: false
                  typeName: myAppType
                  typeVersion: "1.0"
                tags: {}
                type: applications
              headers:
                Location: http://10.91.140.224/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/eastus/operationResults/5dce62ce-439b-47af-81d8-99ab14708e91?api-version=2019-03-01
                Retry-After: "10"
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabric/clusters/{clusterName}/applications/{applicationName}/services
  : get:
      description: Gets all service resources created or in the process of being created
        in the Service Fabric application resource.
      operationId: Services_List
      parameters:
      - description: The customer subscription identifier.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the cluster resource.
        in: path
        name: clusterName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the application resource.
        in: path
        name: applicationName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The version of the Service Fabric resource provider API. This
          is a required parameter and it's value must be "2019-03-01" for this specification.
        in: query
        name: api-version
        required: true
        schema:
          default: 2019-03-01
          enum:
          - 2019-03-01
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceResourceList'
          description: The operation completed successfully.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: The detailed error response.
      summary: Gets the list of service resources created in the specified Service
        Fabric application resource.
      tags:
      - Service
      x-ms-examples:
        Get a list of service resources:
          parameters:
            api-version: 2019-03-01
            applicationName: myApp
            clusterName: myCluster
            resourceGroupName: resRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                nextLink: ""
                value:
                - etag: W/"636462502183671257"
                  id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/resRg/providers/Microsoft.ServiceFabric/clusters/myCluster/applications/myApp/services/myService
                  location: eastus
                  name: myCluster
                  properties:
                    instanceCount: 1
                    partitionDescription:
                      partitionScheme: Singleton
                    provisioningState: Updating
                    serviceKind: Stateless
                    serviceLoadMetrics:
                    - name: metric1
                      weight: Low
                    servicePackageActivationMode: SharedProcess
                    serviceTypeName: myServiceType
                  tags: {}
                  type: services
              headers: {}
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabric/clusters/{clusterName}/applications/{applicationName}/services/{serviceName}
  : delete:
      description: Delete a Service Fabric service resource with the specified name.
      operationId: Services_Delete
      parameters:
      - description: The customer subscription identifier.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the cluster resource.
        in: path
        name: clusterName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the application resource.
        in: path
        name: applicationName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "The name of the service resource in the format of {applicationName}~{serviceName}."
        in: path
        name: serviceName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The version of the Service Fabric resource provider API. This
          is a required parameter and it's value must be "2019-03-01" for this specification.
        in: query
        name: api-version
        required: true
        schema:
          default: 2019-03-01
          enum:
          - 2019-03-01
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "202":
          content: {}
          description: The request was accepted and the operation will complete asynchronously.
        "204":
          content: {}
          description: The resource was not found.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: The detailed error response.
      summary: Deletes a Service Fabric service resource.
      tags:
      - Service
      x-ms-examples:
        Delete a service:
          parameters:
            api-version: 2019-03-01
            applicationName: myApp
            clusterName: myCluster
            resourceGroupName: resRg
            serviceName: myService
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "202":
              headers:
                Location: http://10.91.140.224/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/eastus/operationResults/41fa5ef9-7f34-4c36-a730-93e0bb757d22?api-version=2019-03-01
                Retry-After: "10"
            "204": {}
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
    get:
      description: Get a Service Fabric service resource created or in the process
        of being created in the Service Fabric application resource.
      operationId: Services_Get
      parameters:
      - description: The customer subscription identifier.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the cluster resource.
        in: path
        name: clusterName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the application resource.
        in: path
        name: applicationName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "The name of the service resource in the format of {applicationName}~{serviceName}."
        in: path
        name: serviceName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The version of the Service Fabric resource provider API. This
          is a required parameter and it's value must be "2019-03-01" for this specification.
        in: query
        name: api-version
        required: true
        schema:
          default: 2019-03-01
          enum:
          - 2019-03-01
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceResource'
          description: The operation completed successfully.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: The detailed error response.
      summary: Gets a Service Fabric service resource.
      tags:
      - Service
      x-ms-examples:
        Get a service:
          parameters:
            api-version: 2019-03-01
            applicationName: myApp
            clusterName: myCluster
            resourceGroupName: resRg
            serviceName: myService
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                etag: W/"636462502183671258"
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/resRg/providers/Microsoft.ServiceFabric/clusters/myCluster/applications/myApp/services/myService
                location: eastus
                name: myCluster
                properties:
                  defaultMoveCost: Medium
                  instanceCount: 5
                  partitionDescription:
                    partitionScheme: Singleton
                  placementConstraints: NodeType==frontend
                  provisioningState: Updating
                  serviceKind: Stateless
                  serviceLoadMetrics:
                  - name: metric1
                    weight: Low
                  servicePackageActivationMode: SharedProcess
                  servicePlacementPolicies: []
                  serviceTypeName: myServiceType
                tags: {}
                type: services
              headers: {}
      x-accepts:
      - application/json
    patch:
      description: Update a Service Fabric service resource with the specified name.
      operationId: Services_Update
      parameters:
      - description: The customer subscription identifier.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the cluster resource.
        in: path
        name: clusterName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the application resource.
        in: path
        name: applicationName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "The name of the service resource in the format of {applicationName}~{serviceName}."
        in: path
        name: serviceName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The version of the Service Fabric resource provider API. This
          is a required parameter and it's value must be "2019-03-01" for this specification.
        in: query
        name: api-version
        required: true
        schema:
          default: 2019-03-01
          enum:
          - 2019-03-01
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceResourceUpdate'
        description: The service resource for patch operations.
        required: true
        x-ms-parameter-location: method
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceResource'
          description: The request was accepted and the operation will complete asynchronously.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: The detailed error response.
      summary: Updates a Service Fabric service resource.
      tags:
      - Service
      x-ms-examples:
        Patch a service:
          parameters:
            api-version: 2019-03-01
            applicationName: myApp
            clusterName: myCluster
            parameters:
              location: eastus
              properties:
                serviceKind: Stateless
                serviceLoadMetrics:
                - name: metric1
                  weight: Low
              tags: {}
            resourceGroupName: resRg
            serviceName: myService
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "202":
              body:
                etag: W/"636462502183671257"
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/resRg/providers/Microsoft.ServiceFabric/clusters/myCluster/applications/myApp/services/myService
                location: eastus
                name: myCluster
                properties:
                  instanceCount: 1
                  partitionDescription:
                    partitionScheme: Singleton
                  provisioningState: Updating
                  serviceKind: Stateless
                  serviceLoadMetrics:
                  - name: metric1
                    weight: Low
                  servicePackageActivationMode: SharedProcess
                  serviceTypeName: myServiceType
                tags: {}
                type: services
              headers:
                Location: http://10.91.140.224/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/eastus/operationResults/4dde8d8b-b6b2-4c56-99c6-9b83932bb09a?api-version=2019-03-01
                Retry-After: "10"
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: Create or update a Service Fabric service resource with the specified
        name.
      operationId: Services_CreateOrUpdate
      parameters:
      - description: The customer subscription identifier.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the cluster resource.
        in: path
        name: clusterName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the application resource.
        in: path
        name: applicationName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "The name of the service resource in the format of {applicationName}~{serviceName}."
        in: path
        name: serviceName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The version of the Service Fabric resource provider API. This
          is a required parameter and it's value must be "2019-03-01" for this specification.
        in: query
        name: api-version
        required: true
        schema:
          default: 2019-03-01
          enum:
          - 2019-03-01
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceResource'
        description: The service resource.
        required: true
        x-ms-parameter-location: method
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceResource'
          description: The request was accepted and the operation will complete asynchronously.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: The detailed error response.
      summary: Creates or updates a Service Fabric service resource.
      tags:
      - Service
      x-ms-examples:
        Put a service with maximum parameters:
          parameters:
            api-version: 2019-03-01
            applicationName: myApp
            clusterName: myCluster
            parameters:
              location: eastus
              properties:
                correlationScheme:
                - scheme: Affinity
                  serviceName: fabric:/app1/app1~svc1
                defaultMoveCost: Medium
                instanceCount: 5
                partitionDescription:
                  partitionScheme: Singleton
                placementConstraints: NodeType==frontend
                serviceKind: Stateless
                serviceLoadMetrics:
                - name: metric1
                  weight: Low
                servicePackageActivationMode: SharedProcess
                servicePlacementPolicies: []
                serviceTypeName: myServiceType
              tags: {}
            resourceGroupName: resRg
            serviceName: myService
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "202":
              body:
                etag: W/"636462502183671258"
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/resRg/providers/Microsoft.ServiceFabric/clusters/myCluster/applications/myApp/services/myService
                location: eastus
                name: myCluster
                properties:
                  defaultMoveCost: Medium
                  instanceCount: 5
                  partitionDescription:
                    partitionScheme: Singleton
                  placementConstraints: NodeType==frontend
                  provisioningState: Updating
                  serviceKind: Stateless
                  serviceLoadMetrics:
                  - name: metric1
                    weight: Low
                  servicePackageActivationMode: SharedProcess
                  servicePlacementPolicies: []
                  serviceTypeName: myServiceType
                tags: {}
                type: services
              headers:
                Location: http://10.91.140.224/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/eastus/operationResults/2e633105-aadc-4928-9164-d76b974170a3?api-version=2019-03-01
                Retry-After: "10"
        Put a service with minimum parameters:
          parameters:
            api-version: 2019-03-01
            applicationName: myApp
            clusterName: myCluster
            parameters:
              location: eastus
              properties:
                instanceCount: 1
                partitionDescription:
                  partitionScheme: Singleton
                serviceKind: Stateless
                serviceTypeName: myServiceType
              tags: {}
            resourceGroupName: resRg
            serviceName: myService
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "202":
              body:
                etag: W/"636462502183671256"
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/resRg/providers/Microsoft.ServiceFabric/clusters/myCluster/applications/myApp/services/myService
                location: eastus
                name: myCluster
                properties:
                  instanceCount: 1
                  partitionDescription:
                    partitionScheme: Singleton
                  provisioningState: Updating
                  serviceKind: Stateless
                  serviceTypeName: myServiceType
                tags: {}
                type: services
              headers:
                Location: http://10.91.140.224/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/eastus/operationResults/5bc615c3-6c5b-4593-80e1-008f55376ec7?api-version=2019-03-01
                Retry-After: "10"
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
components:
  parameters:
    api-version:
      description: The version of the Service Fabric resource provider API. This is
        a required parameter and it's value must be "2019-03-01" for this specification.
      in: query
      name: api-version
      required: true
      schema:
        default: 2019-03-01
        enum:
        - 2019-03-01
        type: string
        x-ms-parameter-location: client
      x-ms-parameter-location: client
    applicationName:
      description: The name of the application resource.
      in: path
      name: applicationName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    applicationTypeName:
      description: The name of the application type name resource.
      in: path
      name: applicationTypeName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    clusterNameParameter:
      description: The name of the cluster resource.
      in: path
      name: clusterName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    resourceGroupNameParameter:
      description: The name of the resource group.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    serviceName:
      description: "The name of the service resource in the format of {applicationName}~{serviceName}."
      in: path
      name: serviceName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    subscriptionId:
      description: The customer subscription identifier.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
        x-ms-parameter-location: client
      x-ms-parameter-location: client
    version:
      description: The application type version.
      in: path
      name: version
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  schemas:
    ApplicationMetricDescription:
      description: |
        Describes capacity information for a custom resource balancing metric. This can be used to limit the total consumption of this metric by the services of this application.
      example:
        name: name
        totalApplicationCapacity: 5
        maximumCapacity: 6
        reservationCapacity: 1
      properties:
        maximumCapacity:
          description: |
            The maximum node capacity for Service Fabric application.
            This is the maximum Load for an instance of this application on a single node. Even if the capacity of node is greater than this value, Service Fabric will limit the total load of services within the application on each node to this value.
            If set to zero, capacity for this metric is unlimited on each node.
            When creating a new application with application capacity defined, the product of MaximumNodes and this value must always be smaller than or equal to TotalApplicationCapacity.
            When updating existing application with application capacity, the product of MaximumNodes and this value must always be smaller than or equal to TotalApplicationCapacity.
          format: int64
          type: integer
        name:
          description: The name of the metric.
          type: string
        reservationCapacity:
          description: |
            The node reservation capacity for Service Fabric application.
            This is the amount of load which is reserved on nodes which have instances of this application.
            If MinimumNodes is specified, then the product of these values will be the capacity reserved in the cluster for the application.
            If set to zero, no capacity is reserved for this metric.
            When setting application capacity or when updating application capacity; this value must be smaller than or equal to MaximumCapacity for each metric.
          format: int64
          type: integer
        totalApplicationCapacity:
          description: |
            The total metric capacity for Service Fabric application.
            This is the total metric capacity for this application in the cluster. Service Fabric will try to limit the sum of loads of services within the application to this value.
            When creating a new application with application capacity defined, the product of MaximumNodes and MaximumCapacity must always be smaller than or equal to this value.
          format: int64
          type: integer
      type: object
    ApplicationMetricDescriptionList:
      description: List of application capacity metric description.
      items:
        $ref: '#/components/schemas/ApplicationMetricDescription'
      type: array
    ApplicationParameterList:
      additionalProperties:
        type: string
      description: List of application parameters with overridden values from their
        default values specified in the application manifest.
      type: object
    ApplicationResource:
      allOf:
      - $ref: '#/components/schemas/ProxyResource'
      description: The application resource.
      example:
        properties:
          typeName: typeName
          provisioningState: provisioningState
      properties:
        properties:
          $ref: '#/components/schemas/ApplicationResourceProperties'
    ApplicationResourceList:
      description: The list of application resources.
      example:
        value:
        - properties:
            typeName: typeName
            provisioningState: provisioningState
        - properties:
            typeName: typeName
            provisioningState: provisioningState
        nextLink: nextLink
      properties:
        nextLink:
          description: URL to get the next set of application list results if there
            are any.
          readOnly: true
          type: string
        value:
          items:
            $ref: '#/components/schemas/ApplicationResource'
          type: array
      type: object
    ApplicationResourceProperties:
      allOf:
      - $ref: '#/components/schemas/ApplicationResourceUpdateProperties'
      description: The application resource properties.
      example:
        typeName: typeName
        provisioningState: provisioningState
      properties:
        provisioningState:
          description: "The current deployment or provisioning state, which only appears\
            \ in the response"
          readOnly: true
          type: string
        typeName:
          description: The application type name as defined in the application manifest.
          type: string
    ApplicationResourceUpdate:
      allOf:
      - $ref: '#/components/schemas/ProxyResource'
      description: The application resource for patch operations.
      example:
        properties:
          upgradePolicy:
            upgradeReplicaSetCheckTimeout: upgradeReplicaSetCheckTimeout
            forceRestart: false
            applicationHealthPolicy:
              maxPercentUnhealthyDeployedApplications: 3
              considerWarningAsError: false
              serviceTypeHealthPolicyMap:
                key:
                  maxPercentUnhealthyServices: 93
                  maxPercentUnhealthyReplicasPerPartition: 70
                  maxPercentUnhealthyPartitionsPerService: 23
              defaultServiceTypeHealthPolicy:
                maxPercentUnhealthyServices: 93
                maxPercentUnhealthyReplicasPerPartition: 70
                maxPercentUnhealthyPartitionsPerService: 23
            rollingUpgradeMonitoringPolicy:
              healthCheckRetryTimeout: PT0H10M0S
              healthCheckWaitDuration: "0"
              failureAction: Rollback
              healthCheckStableDuration: PT0H2M0S
              upgradeDomainTimeout: P10675199DT02H48M05.4775807S
              upgradeTimeout: P10675199DT02H48M05.4775807S
          typeVersion: typeVersion
          maximumNodes: 0
          minimumNodes: 0
          metrics:
          - name: name
            totalApplicationCapacity: 5
            maximumCapacity: 6
            reservationCapacity: 1
          - name: name
            totalApplicationCapacity: 5
            maximumCapacity: 6
            reservationCapacity: 1
          parameters:
            key: parameters
          removeApplicationCapacity: true
      properties:
        properties:
          $ref: '#/components/schemas/ApplicationResourceUpdateProperties'
    ApplicationResourceUpdateProperties:
      description: The application resource properties for patch operations.
      example:
        upgradePolicy:
          upgradeReplicaSetCheckTimeout: upgradeReplicaSetCheckTimeout
          forceRestart: false
          applicationHealthPolicy:
            maxPercentUnhealthyDeployedApplications: 3
            considerWarningAsError: false
            serviceTypeHealthPolicyMap:
              key:
                maxPercentUnhealthyServices: 93
                maxPercentUnhealthyReplicasPerPartition: 70
                maxPercentUnhealthyPartitionsPerService: 23
            defaultServiceTypeHealthPolicy:
              maxPercentUnhealthyServices: 93
              maxPercentUnhealthyReplicasPerPartition: 70
              maxPercentUnhealthyPartitionsPerService: 23
          rollingUpgradeMonitoringPolicy:
            healthCheckRetryTimeout: PT0H10M0S
            healthCheckWaitDuration: "0"
            failureAction: Rollback
            healthCheckStableDuration: PT0H2M0S
            upgradeDomainTimeout: P10675199DT02H48M05.4775807S
            upgradeTimeout: P10675199DT02H48M05.4775807S
        typeVersion: typeVersion
        maximumNodes: 0
        minimumNodes: 0
        metrics:
        - name: name
          totalApplicationCapacity: 5
          maximumCapacity: 6
          reservationCapacity: 1
        - name: name
          totalApplicationCapacity: 5
          maximumCapacity: 6
          reservationCapacity: 1
        parameters:
          key: parameters
        removeApplicationCapacity: true
      properties:
        maximumNodes:
          default: 0
          description: "The maximum number of nodes where Service Fabric will reserve\
            \ capacity for this application. Note that this does not mean that the\
            \ services of this application will be placed on all of those nodes. By\
            \ default, the value of this property is zero and it means that the services\
            \ can be placed on any node."
          format: int64
          minimum: 0
          type: integer
        metrics:
          description: List of application capacity metric description.
          items:
            $ref: '#/components/schemas/ApplicationMetricDescription'
          type: array
        minimumNodes:
          description: "The minimum number of nodes where Service Fabric will reserve\
            \ capacity for this application. Note that this does not mean that the\
            \ services of this application will be placed on all of those nodes. If\
            \ this property is set to zero, no capacity will be reserved. The value\
            \ of this property cannot be more than the value of the MaximumNodes property."
          format: int64
          minimum: 0
          type: integer
        parameters:
          additionalProperties:
            type: string
          description: List of application parameters with overridden values from
            their default values specified in the application manifest.
          type: object
        removeApplicationCapacity:
          description: Remove the current application capacity settings.
          type: boolean
        typeVersion:
          description: The version of the application type as defined in the application
            manifest.
          type: string
        upgradePolicy:
          $ref: '#/components/schemas/ApplicationUpgradePolicy'
      type: object
    ApplicationTypeName:
      description: The application type name as defined in the application manifest.
      type: string
    ApplicationTypeParameterList:
      additionalProperties:
        type: string
      description: List of application type parameters that can be overridden when
        creating or updating the application.
      type: object
    ApplicationTypeResource:
      allOf:
      - $ref: '#/components/schemas/ProxyResource'
      description: The application type name resource
      example:
        properties:
          provisioningState: provisioningState
      properties:
        properties:
          $ref: '#/components/schemas/ApplicationTypeResourceProperties'
    ApplicationTypeResourceList:
      description: The list of application type names.
      example:
        value:
        - properties:
            provisioningState: provisioningState
        - properties:
            provisioningState: provisioningState
        nextLink: nextLink
      properties:
        nextLink:
          description: URL to get the next set of application type list results if
            there are any.
          readOnly: true
          type: string
        value:
          items:
            $ref: '#/components/schemas/ApplicationTypeResource'
          type: array
      type: object
    ApplicationTypeResourceProperties:
      description: The application type name properties
      example:
        provisioningState: provisioningState
      properties:
        provisioningState:
          description: "The current deployment or provisioning state, which only appears\
            \ in the response."
          readOnly: true
          type: string
      type: object
    ApplicationTypeVersion:
      description: The version of the application type as defined in the application
        manifest.
      type: string
    ApplicationTypeVersionResource:
      allOf:
      - $ref: '#/components/schemas/ProxyResource'
      description: An application type version resource for the specified application
        type name resource.
      example:
        properties:
          defaultParameterList:
            key: defaultParameterList
          appPackageUrl: appPackageUrl
          provisioningState: provisioningState
      properties:
        properties:
          $ref: '#/components/schemas/ApplicationTypeVersionResourceProperties'
    ApplicationTypeVersionResourceList:
      description: The list of application type version resources for the specified
        application type name resource.
      example:
        value:
        - properties:
            defaultParameterList:
              key: defaultParameterList
            appPackageUrl: appPackageUrl
            provisioningState: provisioningState
        - properties:
            defaultParameterList:
              key: defaultParameterList
            appPackageUrl: appPackageUrl
            provisioningState: provisioningState
        nextLink: nextLink
      properties:
        nextLink:
          description: URL to get the next set of application type version list results
            if there are any.
          readOnly: true
          type: string
        value:
          items:
            $ref: '#/components/schemas/ApplicationTypeVersionResource'
          type: array
      type: object
    ApplicationTypeVersionResourceProperties:
      description: The properties of the application type version resource.
      example:
        defaultParameterList:
          key: defaultParameterList
        appPackageUrl: appPackageUrl
        provisioningState: provisioningState
      properties:
        appPackageUrl:
          description: The URL to the application package
          type: string
        defaultParameterList:
          additionalProperties:
            type: string
          description: List of application type parameters that can be overridden
            when creating or updating the application.
          type: object
        provisioningState:
          description: "The current deployment or provisioning state, which only appears\
            \ in the response"
          readOnly: true
          type: string
      required:
      - appPackageUrl
      type: object
    ApplicationUpgradePolicy:
      description: Describes the policy for a monitored application upgrade.
      example:
        upgradeReplicaSetCheckTimeout: upgradeReplicaSetCheckTimeout
        forceRestart: false
        applicationHealthPolicy:
          maxPercentUnhealthyDeployedApplications: 3
          considerWarningAsError: false
          serviceTypeHealthPolicyMap:
            key:
              maxPercentUnhealthyServices: 93
              maxPercentUnhealthyReplicasPerPartition: 70
              maxPercentUnhealthyPartitionsPerService: 23
          defaultServiceTypeHealthPolicy:
            maxPercentUnhealthyServices: 93
            maxPercentUnhealthyReplicasPerPartition: 70
            maxPercentUnhealthyPartitionsPerService: 23
        rollingUpgradeMonitoringPolicy:
          healthCheckRetryTimeout: PT0H10M0S
          healthCheckWaitDuration: "0"
          failureAction: Rollback
          healthCheckStableDuration: PT0H2M0S
          upgradeDomainTimeout: P10675199DT02H48M05.4775807S
          upgradeTimeout: P10675199DT02H48M05.4775807S
      properties:
        applicationHealthPolicy:
          $ref: '#/components/schemas/ArmApplicationHealthPolicy'
        forceRestart:
          default: false
          description: "If true, then processes are forcefully restarted during upgrade\
            \ even when the code version has not changed (the upgrade only changes\
            \ configuration or data)."
          type: boolean
        rollingUpgradeMonitoringPolicy:
          $ref: '#/components/schemas/ArmRollingUpgradeMonitoringPolicy'
        upgradeReplicaSetCheckTimeout:
          description: "The maximum amount of time to block processing of an upgrade\
            \ domain and prevent loss of availability when there are unexpected issues.\
            \ When this timeout expires, processing of the upgrade domain will proceed\
            \ regardless of availability loss issues. The timeout is reset at the\
            \ start of each upgrade domain. Valid values are between 0 and 42949672925\
            \ inclusive. (unsigned 32-bit integer)."
          type: string
      type: object
    ArmApplicationHealthPolicy:
      description: |
        Defines a health policy used to evaluate the health of an application or one of its children entities.
      example:
        maxPercentUnhealthyDeployedApplications: 3
        considerWarningAsError: false
        serviceTypeHealthPolicyMap:
          key:
            maxPercentUnhealthyServices: 93
            maxPercentUnhealthyReplicasPerPartition: 70
            maxPercentUnhealthyPartitionsPerService: 23
        defaultServiceTypeHealthPolicy:
          maxPercentUnhealthyServices: 93
          maxPercentUnhealthyReplicasPerPartition: 70
          maxPercentUnhealthyPartitionsPerService: 23
      properties:
        considerWarningAsError:
          default: false
          description: Indicates whether warnings are treated with the same severity
            as errors.
          type: boolean
        defaultServiceTypeHealthPolicy:
          $ref: '#/components/schemas/ArmServiceTypeHealthPolicy'
        maxPercentUnhealthyDeployedApplications:
          description: |
            The maximum allowed percentage of unhealthy deployed applications. Allowed values are Byte values from zero to 100.
            The percentage represents the maximum tolerated percentage of deployed applications that can be unhealthy before the application is considered in error.
            This is calculated by dividing the number of unhealthy deployed applications over the number of nodes where the application is currently deployed on in the cluster.
            The computation rounds up to tolerate one failure on small numbers of nodes. Default percentage is zero.
          type: integer
        serviceTypeHealthPolicyMap:
          additionalProperties:
            $ref: '#/components/schemas/ArmServiceTypeHealthPolicy'
          description: |
            Defines a ServiceTypeHealthPolicy per service type name.

            The entries in the map replace the default service type health policy for each specified service type.
            For example, in an application that contains both a stateless gateway service type and a stateful engine service type, the health policies for the stateless and stateful services can be configured differently.
            With policy per service type, there's more granular control of the health of the service.

            If no policy is specified for a service type name, the DefaultServiceTypeHealthPolicy is used for evaluation.
          type: object
      type: object
    ArmRollingUpgradeMonitoringPolicy:
      description: The policy used for monitoring the application upgrade
      example:
        healthCheckRetryTimeout: PT0H10M0S
        healthCheckWaitDuration: "0"
        failureAction: Rollback
        healthCheckStableDuration: PT0H2M0S
        upgradeDomainTimeout: P10675199DT02H48M05.4775807S
        upgradeTimeout: P10675199DT02H48M05.4775807S
      properties:
        failureAction:
          description: The activation Mode of the service package
          enum:
          - Rollback
          - Manual
          type: string
          x-ms-enum:
            modelAsString: true
            name: ArmUpgradeFailureAction
            values:
            - description: Indicates that a rollback of the upgrade will be performed
                by Service Fabric if the upgrade fails.
              value: Rollback
            - description: Indicates that a manual repair will need to be performed
                by the administrator if the upgrade fails. Service Fabric will not
                proceed to the next upgrade domain automatically.
              value: Manual
        healthCheckRetryTimeout:
          default: PT0H10M0S
          description: "The amount of time to retry health evaluation when the application\
            \ or cluster is unhealthy before FailureAction is executed. It is first\
            \ interpreted as a string representing an ISO 8601 duration. If that fails,\
            \ then it is interpreted as a number representing the total number of\
            \ milliseconds."
          type: string
        healthCheckStableDuration:
          default: PT0H2M0S
          description: "The amount of time that the application or cluster must remain\
            \ healthy before the upgrade proceeds to the next upgrade domain. It is\
            \ first interpreted as a string representing an ISO 8601 duration. If\
            \ that fails, then it is interpreted as a number representing the total\
            \ number of milliseconds."
          type: string
        healthCheckWaitDuration:
          default: "0"
          description: "The amount of time to wait after completing an upgrade domain\
            \ before applying health policies. It is first interpreted as a string\
            \ representing an ISO 8601 duration. If that fails, then it is interpreted\
            \ as a number representing the total number of milliseconds."
          type: string
        upgradeDomainTimeout:
          default: P10675199DT02H48M05.4775807S
          description: "The amount of time each upgrade domain has to complete before\
            \ FailureAction is executed. It is first interpreted as a string representing\
            \ an ISO 8601 duration. If that fails, then it is interpreted as a number\
            \ representing the total number of milliseconds."
          type: string
        upgradeTimeout:
          default: P10675199DT02H48M05.4775807S
          description: "The amount of time the overall upgrade has to complete before\
            \ FailureAction is executed. It is first interpreted as a string representing\
            \ an ISO 8601 duration. If that fails, then it is interpreted as a number\
            \ representing the total number of milliseconds."
          type: string
      type: object
    ArmServiceTypeHealthPolicy:
      description: |
        Represents the health policy used to evaluate the health of services belonging to a service type.
      example:
        maxPercentUnhealthyServices: 93
        maxPercentUnhealthyReplicasPerPartition: 70
        maxPercentUnhealthyPartitionsPerService: 23
      properties:
        maxPercentUnhealthyPartitionsPerService:
          description: |
            The maximum percentage of partitions per service allowed to be unhealthy before your application is considered in error.
          maximum: 100
          minimum: 0
          type: integer
        maxPercentUnhealthyReplicasPerPartition:
          description: |
            The maximum percentage of replicas per partition allowed to be unhealthy before your application is considered in error.
          maximum: 100
          minimum: 0
          type: integer
        maxPercentUnhealthyServices:
          description: |
            The maximum percentage of services allowed to be unhealthy before your application is considered in error.
          maximum: 100
          minimum: 0
          type: integer
      type: object
    ArmServiceTypeHealthPolicyMap:
      additionalProperties:
        $ref: '#/components/schemas/ArmServiceTypeHealthPolicy'
      description: |
        Defines a ServiceTypeHealthPolicy per service type name.

        The entries in the map replace the default service type health policy for each specified service type.
[...]
