openapi: 3.0.1
info:
  title: CostManagementClient
  version: 2019-04-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2019-04-01-preview/costmanagement.json
    version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: cost-management-costmanagement
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.CostManagement/operations:
    get:
      description: Lists all of the available consumption REST API operations.
      operationId: operations_list
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2019-04-01-preview
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Operations
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.operations_controller
  /providers/Microsoft.CostManagement/views:
    get:
      description: Lists all views by tenant and object.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: views_list
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2019-04-01-preview
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ViewListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Views
      x-ms-examples:
        PrivateViewList:
          parameters:
            api-version: 2019-04-01-preview
          responses:
            "200":
              body:
                value:
                - eTag: '"1d4ff9fe66f1d10"'
                  id: /providers/Microsoft.CostManagement/views/swaggerExample
                  name: swaggerExample
                  properties:
                    accumulated: "true"
                    chart: Table
                    displayName: swagger Example
                    kpis:
                    - enabled: true
                      type: Forecast
                    - enabled: true
                      id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MYDEVTESTRG/providers/Microsoft.Consumption/budgets/swaggerDemo
                      type: Budget
                    metric: ActualCost
                    pivots:
                    - name: ServiceName
                      type: Dimension
                    - name: MeterCategory
                      type: Dimension
                    - name: swaggerTagKey
                      type: TagKey
                    query:
                      dataset:
                        aggregation:
                          totalCost:
                            function: Sum
                            name: PreTaxCost
                        granularity: Daily
                        grouping: []
                        sorting:
                        - direction: Ascending
                          name: UsageDate
                      timeframe: MonthToDate
                      type: Usage
                    scope: ""
                  type: Microsoft.CostManagement/Views
                - eTag: '"1d4ffa5a9c2430c"'
                  id: /providers/Microsoft.CostManagement/views/swaggerExample2
                  name: swaggerExample2
                  properties:
                    accumulated: "true"
                    chart: GroupedColumn
                    displayName: swagger Example 2
                    kpis:
                    - enabled: true
                      type: Forecast
                    - enabled: true
                      id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MYDEVTESTRG/providers/Microsoft.Consumption/budgets/swaggerDemo
                      type: Budget
                    metric: ActualCost
                    pivots:
                    - name: ServiceName
                      type: Dimension
                    - name: MeterCategory
                      type: Dimension
                    - name: swaggerTagKey
                      type: TagKey
                    query:
                      dataset:
                        aggregation:
                          totalCost:
                            function: Sum
                            name: PreTaxCost
                        granularity: Daily
                        grouping: []
                        sorting:
                        - direction: Ascending
                          name: UsageDate
                      timeframe: LastMonthToDate
                      type: Usage
                    scope: ""
                  type: Microsoft.CostManagement/Views
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.views_controller
  /providers/Microsoft.CostManagement/views/{viewName}:
    delete:
      description: The operation to delete a view.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: views_delete
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2019-04-01-preview
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: View name
        in: path
        name: view_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content: {}
          description: OK. The request has succeeded.
        "204":
          content: {}
          description: NoContent. Resource is not available.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Views
      x-ms-examples:
        DeletePrivateView:
          parameters:
            api-version: 2019-04-01-preview
            viewName: TestView
          responses:
            "200": {}
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.views_controller
    get:
      description: Gets the view by view name.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: views_get
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2019-04-01-preview
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: View name
        in: path
        name: viewName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/View'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Views
      x-ms-examples:
        PrivateView:
          parameters:
            api-version: 2019-04-01-preview
            viewName: swaggerExample
          responses:
            "200":
              body:
                eTag: '"1d4ff9fe66f1d10"'
                id: /providers/Microsoft.CostManagement/views/swaggerExample
                name: swaggerExample
                properties:
                  accumulated: "true"
                  chart: Table
                  displayName: swagger Example
                  kpis:
                  - enabled: true
                    type: Forecast
                  - enabled: true
                    id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MYDEVTESTRG/providers/Microsoft.Consumption/budgets/swaggerDemo
                    type: Budget
                  metric: ActualCost
                  pivots:
                  - name: ServiceName
                    type: Dimension
                  - name: MeterCategory
                    type: Dimension
                  - name: swaggerTagKey
                    type: TagKey
                  query:
                    dataset:
                      aggregation:
                        totalCost:
                          function: Sum
                          name: PreTaxCost
                      granularity: Daily
                      grouping: []
                      sorting:
                      - direction: Ascending
                        name: UsageDate
                    timeframe: MonthToDate
                    type: Usage
                  scope: ""
                type: Microsoft.CostManagement/Views
      x-openapi-router-controller: openapi_server.controllers.views_controller
    put:
      description: The operation to create or update a view. Update operation requires
        latest eTag to be set in the request. You may obtain the latest eTag by performing
        a get operation. Create operation does not require eTag.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: views_create_or_update
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2019-04-01-preview
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: View name
        in: path
        name: view_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/View'
        description: Parameters supplied to the CreateOrUpdate View operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/View'
          description: OK. The request has succeeded.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/View'
          description: Created.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Views
      x-ms-examples:
        CreateOrUpdatePrivateView:
          parameters:
            api-version: 2019-04-01-preview
            parameters:
              eTag: '"1d4ff9fe66f1d10"'
              properties:
                accumulated: "true"
                chart: Table
                displayName: swagger Example
                kpis:
                - enabled: true
                  type: Forecast
                - enabled: true
                  id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MYDEVTESTRG/providers/Microsoft.Consumption/budgets/swaggerDemo
                  type: Budget
                metric: ActualCost
                pivots:
                - name: ServiceName
                  type: Dimension
                - name: MeterCategory
                  type: Dimension
                - name: swaggerTagKey
                  type: TagKey
                query:
                  dataset:
                    aggregation:
                      totalCost:
                        function: Sum
                        name: PreTaxCost
                    granularity: Daily
                    grouping: []
                    sorting:
                    - direction: Ascending
                      name: UsageDate
                  timeframe: MonthToDate
                  type: Usage
            viewName: swaggerExample
          responses:
            "200":
              body:
                eTag: '"1d4ffa5a9c2430c"'
                id: /providers/Microsoft.CostManagement/views/swaggerExample
                name: swaggerExample
                properties:
                  accumulated: "true"
                  chart: Table
                  displayName: swagger Example
                  kpis:
                  - enabled: true
                    type: Forecast
                  - enabled: true
                    id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MYDEVTESTRG/providers/Microsoft.Consumption/budgets/swaggerDemo
                    type: Budget
                  metric: ActualCost
                  pivots:
                  - name: ServiceName
                    type: Dimension
                  - name: MeterCategory
                    type: Dimension
                  - name: swaggerTagKey
                    type: TagKey
                  query:
                    dataset:
                      aggregation:
                        totalCost:
                          function: Sum
                          name: PreTaxCost
                      granularity: Daily
                      grouping: []
                      sorting:
                      - direction: Ascending
                        name: UsageDate
                    timeframe: MonthToDate
                    type: Usage
                  scope: ""
                type: Microsoft.CostManagement/Views
            "201":
              body:
                eTag: '"1d4ffa5a9c2430c"'
                id: /providers/Microsoft.CostManagement/views/swaggerExample
                name: swaggerExample
                properties:
                  accumulated: "true"
                  chart: Table
                  displayName: swagger Example
                  kpis:
                  - enabled: true
                    type: Forecast
                  - enabled: true
                    id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MYDEVTESTRG/providers/Microsoft.Consumption/budgets/swaggerDemo
                    type: Budget
                  metric: ActualCost
                  pivots:
                  - name: ServiceName
                    type: Dimension
                  - name: MeterCategory
                    type: Dimension
                  - name: swaggerTagKey
                    type: TagKey
                  query:
                    dataset:
                      aggregation:
                        totalCost:
                          function: Sum
                          name: PreTaxCost
                      granularity: Daily
                      grouping: []
                      sorting:
                      - direction: Ascending
                        name: UsageDate
                    timeframe: MonthToDate
                    type: Usage
                  scope: ""
                type: Microsoft.CostManagement/Views
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.views_controller
  /{scope}/providers/Microsoft.CostManagement/budgets:
    get:
      description: Lists all budgets for the defined scope.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/cost-management/
      operationId: budgets_list
      parameters:
      - description: "The scope associated with budget operations. This includes '/subscriptions/{subscriptionId}/'\
          \ for subscription scope, '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}'\
          \ for resourceGroup scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}'\
          \ for Billing Account scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/departments/{departmentId}'\
          \ for Department scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/enrollmentAccounts/{enrollmentAccountId}'\
          \ for EnrollmentAccount scope, '/providers/Microsoft.Management/managementGroups/{managementGroupId}'\
          \ for Management Group scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}'\
          \ for billingProfile scope, 'providers/Microsoft.Billing/billingAccounts/{billingAccountId}/invoiceSections/{invoiceSectionId}'\
          \ for invoiceSection scope."
        in: path
        name: scope
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
          x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
      - description: Version of the API to be used with the client request. The current
          version is 2019-04-01-preview
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetsListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Budgets
      x-ms-examples:
        BudgetsList:
          parameters:
            api-version: 2019-05-01-preview
            resourceGroupName: MYDEVTESTRG
            scope: subscriptions/00000000-0000-0000-0000-000000000000
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                - eTag: '"1d34d012214157f"'
                  id: "subscriptions/{subscription-id}/providers/Microsoft.Consumption/budgets/TestBudget"
                  name: TestBudget
                  properties:
                    amount: 100.65
                    category: Cost
                    currentSpend:
                      amount: 80.89
                      unit: USD
                    filter:
                      and:
                      - dimension:
                          name: ResourceGroupName
                          operator: In
                          values:
                          - MYDEVTESTRG
                      - dimension:
                          name: ResourceId
                          operator: In
                          values:
                          - "/subscriptions/{subscription-id}/resourceGroups/MYDEVTESTRG/providers/Microsoft.Compute/virtualMachines/MYVM2"
                          - "/subscriptions/{subscription-id}/resourceGroups/MYDEVTESTRG/providers/Microsoft.Compute/virtualMachines/platformcloudplatformGeneric1"
                      - dimension:
                          name: Meter
                          operator: In
                          values:
                          - 00000000-0000-0000-0000-000000000000
                      - tag:
                          name: Dev
                          operator: In
                          values:
                          - engineering
                    notifications:
                      Actual_GreaterThanOrEqualTo_90_Percent:
                        contactEmails:
                        - johndoe@contoso.com
                        - janesmith@contoso.com
                        contactGroups:
                        - "/subscriptions/{subscription-id}/resourceGroups/MYDEVTESTRG/providers/microsoft.insights/actionGroups/SampleActionGroup"
                        contactRoles:
                        - Contributor
                        - Reader
                        enabled: true
                        operator: GreaterThanOrEqualTo
                        threshold: 90
                      Actual_GreaterThan_80_Percent:
                        contactEmails:
                        - johndoe@contoso.com
                        - janesmith@contoso.com
                        contactRoles:
                        - Contributor
                        - Reader
                        enabled: true
                        operator: GreaterThan
                        threshold: 80
                    timeGrain: Monthly
                    timePeriod:
                      endDate: 2018-10-31T00:00:00Z
                      startDate: 2017-10-01T00:00:00Z
                  type: Microsoft.Consumption/budgets
                - eTag: '"1d34d012214157f"'
                  id: "subscriptions/{subscription-id}/providers/Microsoft.Consumption/budgets/TestBudget"
                  name: TestBudget
                  properties:
                    amount: 600.65
                    category: Cost
                    currentSpend:
                      amount: 120.89
                      unit: USD
                    filter:
                      and:
                      - dimension:
                          name: ResourceGroupName
                          operator: In
                          values:
                          - MYDEVTESTRG
                      - dimension:
                          name: ResourceId
                          operator: In
                          values:
                          - "/subscriptions/{subscription-id}/resourceGroups/MYDEVTESTRG/providers/Microsoft.Compute/virtualMachines/MYVM2"
                          - "/subscriptions/{subscription-id}/resourceGroups/MYDEVTESTRG/providers/Microsoft.Compute/virtualMachines/platformcloudplatformGeneric1"
                      - dimension:
                          name: Meter
                          operator: In
                          values:
                          - 00000000-0000-0000-0000-000000000000
                      - tag:
                          name: Dev
                          operator: In
                          values:
                          - engineering
                    notifications:
                      Actual_GreaterThanOrEqualTo_60_Percent:
                        contactEmails:
                        - johndoe@contoso.com
                        - janesmith@contoso.com
                        contactGroups:
                        - "/subscriptions/{subscription-id}/resourceGroups/MYDEVTESTRG/providers/microsoft.insights/actionGroups/SampleActionGroup"
                        contactRoles:
                        - Contributor
                        - Reader
                        enabled: true
                        operator: GreaterThanOrEqualTo
                        threshold: 60
                      Actual_GreaterThan_40_Percent:
                        contactEmails:
                        - johndoe@contoso.com
                        - janesmith@contoso.com
                        contactRoles:
                        - Contributor
                        - Reader
                        enabled: true
                        operator: GreaterThan
                        threshold: 40
                    timeGrain: Monthly
                    timePeriod:
                      endDate: 2018-10-31T00:00:00Z
                      startDate: 2017-10-01T00:00:00Z
                  type: Microsoft.Consumption/budgets
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.budgets_controller
  /{scope}/providers/Microsoft.CostManagement/budgets/{budgetName}:
    delete:
      description: The operation to delete a budget.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/cost-management/
      operationId: budget_delete
      parameters:
      - description: "The scope associated with budget operations. This includes '/subscriptions/{subscriptionId}/'\
          \ for subscription scope, '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}'\
          \ for resourceGroup scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}'\
          \ for Billing Account scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/departments/{departmentId}'\
          \ for Department scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/enrollmentAccounts/{enrollmentAccountId}'\
          \ for EnrollmentAccount scope, '/providers/Microsoft.Management/managementGroups/{managementGroupId}'\
          \ for Management Group scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}'\
          \ for billingProfile scope, 'providers/Microsoft.Billing/billingAccounts/{billingAccountId}/invoiceSections/{invoiceSectionId}'\
          \ for invoiceSection scope."
        in: path
        name: scope
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
          x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
      - description: Version of the API to be used with the client request. The current
          version is 2019-04-01-preview
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Budget Name.
        in: path
        name: budget_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content: {}
          description: OK. The request has succeeded.
        "204":
          content: {}
          description: NoContent. Resource is not available.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Budgets
      x-ms-examples:
        DeleteBudget:
          parameters:
            api-version: 2019-05-01-preview
            budgetName: TestBudget
            resourceGroupName: MYDEVTESTRG
            scope: subscriptions/00000000-0000-0000-0000-000000000000
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200": {}
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.budgets_controller
    get:
      description: Gets the budget for the scope by budget name.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/cost-management/
      operationId: budget_get
      parameters:
      - description: "The scope associated with budget operations. This includes '/subscriptions/{subscriptionId}/'\
          \ for subscription scope, '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}'\
          \ for resourceGroup scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}'\
          \ for Billing Account scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/departments/{departmentId}'\
          \ for Department scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/enrollmentAccounts/{enrollmentAccountId}'\
          \ for EnrollmentAccount scope, '/providers/Microsoft.Management/managementGroups/{managementGroupId}'\
          \ for Management Group scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}'\
          \ for billingProfile scope, 'providers/Microsoft.Billing/billingAccounts/{billingAccountId}/invoiceSections/{invoiceSectionId}'\
          \ for invoiceSection scope."
        in: path
        name: scope
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
          x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
      - description: Version of the API to be used with the client request. The current
          version is 2019-04-01-preview
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Budget Name.
        in: path
        name: budgetName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetModel'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Budgets
      x-ms-examples:
        Budget:
          parameters:
            api-version: 2019-05-01-preview
            budgetName: TestBudget
            resourceGroupName: MYDEVTESTRG
            scope: subscriptions/00000000-0000-0000-0000-000000000000
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                eTag: '"1d34d012214157f"'
                id: "subscriptions/{subscription-id}/providers/Microsoft.Consumption/budgets/TestBudget"
                name: TestBudget
                properties:
                  amount: 100.65
                  category: Cost
                  currentSpend:
                    amount: 80.89
                    unit: USD
                  filter:
                    and:
                    - dimension:
                        name: ResourceGroupName
                        operator: In
                        values:
                        - MYDEVTESTRG
                    - dimension:
                        name: ResourceId
                        operator: In
                        values:
                        - "/subscriptions/{subscription-id}/resourceGroups/MYDEVTESTRG/providers/Microsoft.Compute/virtualMachines/MYVM2"
                        - "/subscriptions/{subscription-id}/resourceGroups/MYDEVTESTRG/providers/Microsoft.Compute/virtualMachines/platformcloudplatformGeneric1"
                    - dimension:
                        name: Meter
                        operator: In
                        values:
                        - 00000000-0000-0000-0000-000000000000
                    - tag:
                        name: Dev
                        operator: In
                        values:
                        - engineering
                  notifications:
                    Actual_GreaterThan_80_Percent:
                      contactEmails:
                      - johndoe@contoso.com
                      - janesmith@contoso.com
                      contactGroups:
                      - "/subscriptions/{subscription-id}/resourceGroups/MYDEVTESTRG/providers/microsoft.insights/actionGroups/SampleActionGroup"
                      contactRoles:
                      - Contributor
                      - Reader
                      enabled: true
                      operator: GreaterThan
                      threshold: 80
                  timeGrain: Monthly
                  timePeriod:
                    endDate: 2018-10-31T00:00:00Z
                    startDate: 2017-10-01T00:00:00Z
                type: Microsoft.Consumption/budgets
      x-openapi-router-controller: openapi_server.controllers.budgets_controller
    put:
      description: The operation to create or update a budget. Update operation requires
        latest eTag to be set in the request mandatorily. You may obtain the latest
        eTag by performing a get operation. Create operation does not require eTag.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/cost-management/
      operationId: budget_create_or_update
      parameters:
      - description: "The scope associated with budget operations. This includes '/subscriptions/{subscriptionId}/'\
          \ for subscription scope, '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}'\
          \ for resourceGroup scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}'\
          \ for Billing Account scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/departments/{departmentId}'\
          \ for Department scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/enrollmentAccounts/{enrollmentAccountId}'\
          \ for EnrollmentAccount scope, '/providers/Microsoft.Management/managementGroups/{managementGroupId}'\
          \ for Management Group scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}'\
          \ for billingProfile scope, 'providers/Microsoft.Billing/billingAccounts/{billingAccountId}/invoiceSections/{invoiceSectionId}'\
          \ for invoiceSection scope."
        in: path
        name: scope
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
          x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
      - description: Version of the API to be used with the client request. The current
          version is 2019-04-01-preview
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Budget Name.
        in: path
        name: budget_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BudgetModel'
        description: Parameters supplied to the Create Budget operation.
        required: false
        x-required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetModel'
          description: OK. The request has succeeded.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetModel'
          description: Created.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Budgets
      x-ms-examples:
        CreateOrUpdateBudget:
          parameters:
            api-version: 2019-05-01-preview
            budgetName: TestBudget
            parameters:
              eTag: '"1d34d016a593709"'
              properties:
                amount: 100.65
                category: Cost
                filter:
                  and:
                  - dimension:
                      name: ResourceGroupName
                      operator: In
                      values:
                      - MYDEVTESTRG
                  - dimension:
                      name: ResourceId
                      operator: In
                      values:
                      - "/subscriptions/{subscription-id}/resourceGroups/MYDEVTESTRG/providers/Microsoft.Compute/virtualMachines/MYVM2"
                      - "/subscriptions/{subscription-id}/resourceGroups/MYDEVTESTRG/providers/Microsoft.Compute/virtualMachines/platformcloudplatformGeneric1"
                  - dimension:
                      name: Meter
                      operator: In
                      values:
                      - 00000000-0000-0000-0000-000000000000
                  - tag:
                      name: Dev
                      operator: In
                      values:
                      - engineering
                notifications:
                  Actual_GreaterThan_80_Percent:
                    contactEmails:
                    - johndoe@contoso.com
                    - janesmith@contoso.com
                    contactGroups:
                    - "/subscriptions/{subscription-id}/resourceGroups/MYDEVTESTRG/providers/microsoft.insights/actionGroups/SampleActionGroup"
                    contactRoles:
                    - Contributor
                    - Reader
                    enabled: true
                    operator: GreaterThan
                    threshold: 80
                timeGrain: Monthly
                timePeriod:
                  endDate: 2018-10-31T00:00:00Z
                  startDate: 2017-10-01T00:00:00Z
            resourceGroupName: MYDEVTESTRG
            scope: subscriptions/00000000-0000-0000-0000-000000000000
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                eTag: '"1d34d012214157f"'
                id: "subscriptions/{subscription-id}/providers/Microsoft.Consumption/budgets/TestBudget"
                name: TestBudget
                properties:
                  amount: 100.65
                  category: Cost
                  currentSpend:
                    amount: 80.89
                    unit: USD
                  filter:
                    and:
                    - dimension:
                        name: ResourceGroupName
                        operator: In
                        values:
                        - MYDEVTESTRG
                    - dimension:
                        name: ResourceId
                        operator: In
                        values:
                        - "/subscriptions/{subscription-id}/resourceGroups/MYDEVTESTRG/providers/Microsoft.Compute/virtualMachines/MYVM2"
                        - "/subscriptions/{subscription-id}/resourceGroups/MYDEVTESTRG/providers/Microsoft.Compute/virtualMachines/platformcloudplatformGeneric1"
                    - dimension:
                        name: Meter
                        operator: In
                        values:
                        - 00000000-0000-0000-0000-000000000000
                    - tag:
                        name: Dev
                        operator: In
                        values:
                        - engineering
                  notifications:
                    Actual_GreaterThan_80_Percent:
                      contactEmails:
                      - johndoe@contoso.com
                      - janesmith@contoso.com
                      contactGroups:
                      - "/subscriptions/{subscription-id}/resourceGroups/MYDEVTESTRG/providers/microsoft.insights/actionGroups/SampleActionGroup"
                      contactRoles:
                      - Contributor
                      - Reader
                      enabled: true
                      operator: GreaterThan
                      threshold: 80
                  timeGrain: Monthly
                  timePeriod:
                    endDate: 2018-10-31T00:00:00Z
                    startDate: 2017-10-01T00:00:00Z
                type: Microsoft.Consumption/budgets
            "201":
              body:
                eTag: '"1d34d012214157f"'
                id: "subscriptions/{subscription-id}/providers/Microsoft.Consumption/budgets/TestBudget"
                name: TestBudget
                properties:
                  amount: 100.65
                  category: Cost
                  currentSpend:
                    amount: 80.89
                    unit: USD
                  filter:
                    and:
                    - dimension:
                        name: ResourceGroupName
                        operator: In
                        values:
                        - MYDEVTESTRG
                    - dimension:
                        name: ResourceId
                        operator: In
                        values:
                        - "/subscriptions/{subscription-id}/resourceGroups/MYDEVTESTRG/providers/Microsoft.Compute/virtualMachines/MYVM2"
                        - "/subscriptions/{subscription-id}/resourceGroups/MYDEVTESTRG/providers/Microsoft.Compute/virtualMachines/platformcloudplatformGeneric1"
                    - dimension:
                        name: Meter
                        operator: In
                        values:
                        - 00000000-0000-0000-0000-000000000000
                    - tag:
                        name: Dev
                        operator: In
                        values:
                        - engineering
                  notifications:
                    Actual_GreaterThan_80_Percent:
                      contactEmails:
                      - johndoe@contoso.com
                      - janesmith@contoso.com
                      contactGroups:
                      - "/subscriptions/{subscription-id}/resourceGroups/MYDEVTESTRG/providers/microsoft.insights/actionGroups/SampleActionGroup"
                      contactRoles:
                      - Contributor
                      - Reader
                      enabled: true
                      operator: GreaterThan
                      threshold: 80
                  timeGrain: Monthly
                  timePeriod:
                    endDate: 2018-10-31T00:00:00Z
                    startDate: 2017-10-01T00:00:00Z
                type: Microsoft.Consumption/budgets
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.budgets_controller
  /{scope}/providers/Microsoft.CostManagement/views:
    get:
      description: Lists all views at the given scope.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: views_list_by_scope
      parameters:
      - description: "The scope associated with view operations. This includes 'subscriptions/{subscriptionId}'\
          \ for subscription scope, 'subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}'\
          \ for resourceGroup scope, 'providers/Microsoft.Billing/billingAccounts/{billingAccountId}'\
          \ for Billing Account scope, 'providers/Microsoft.Billing/billingAccounts/{billingAccountId}/departments/{departmentId}'\
          \ for Department scope, 'providers/Microsoft.Billing/billingAccounts/{billingAccountId}/enrollmentAccounts/{enrollmentAccountId}'\
          \ for EnrollmentAccount scope, 'providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}'\
          \ for BillingProfile scope, 'providers/Microsoft.Billing/billingAccounts/{billingAccountId}/invoiceSections/{invoiceSectionId}'\
          \ for InvoiceSection scope, 'providers/Microsoft.Management/managementGroups/{managementGroupId}'\
          \ for Management Group scope, 'providers/Microsoft.CostManagement/externalBillingAccounts/{externalBillingAccountName}'\
          \ for External Billing Account scope and 'providers/Microsoft.CostManagement/externalSubscriptions/{externalSubscriptionName}'\
          \ for External Subscription scope."
        in: path
        name: scope
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request. The current
          version is 2019-04-01-preview
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ViewListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Views
      x-ms-examples:
        ResourceGroupViewList:
          parameters:
            api-version: 2019-04-01-preview
            scope: subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MYDEVTESTRG
          responses:
            "200":
              body:
                value:
                - eTag: '"1d4ff9fe66f1d10"'
                  id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MYDEVTESTRG/providers/Microsoft.CostManagement/views/swaggerExample
                  name: swaggerExample
                  properties:
                    accumulated: "true"
                    chart: Table
                    displayName: swagger Example
                    kpis:
                    - enabled: true
                      type: Forecast
                    - enabled: true
                      id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MYDEVTESTRG/providers/Microsoft.Consumption/budgets/swaggerDemo
                      type: Budget
                    metric: ActualCost
                    pivots:
                    - name: ServiceName
                      type: Dimension
                    - name: MeterCategory
                      type: Dimension
                    - name: swaggerTagKey
                      type: TagKey
                    query:
                      dataset:
                        aggregation:
                          totalCost:
                            function: Sum
                            name: PreTaxCost
                        granularity: Daily
                        grouping: []
                        sorting:
                        - direction: Ascending
                          name: UsageDate
                      timeframe: MonthToDate
                      type: Usage
                    scope: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MYDEVTESTRG
                  type: Microsoft.CostManagement/Views
                - eTag: '"1d4ffa5a9c2430c"'
                  id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MYDEVTESTRG/providers/Microsoft.CostManagement/views/swaggerExample2
                  name: swaggerExample2
                  properties:
                    accumulated: "true"
                    chart: GroupedColumn
                    displayName: swagger Example 2
                    kpis:
                    - enabled: true
                      type: Forecast
                    - enabled: true
                      id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MYDEVTESTRG/providers/Microsoft.Consumption/budgets/swaggerDemo
                      type: Budget
                    metric: ActualCost
                    pivots:
                    - name: ServiceName
                      type: Dimension
                    - name: MeterCategory
                      type: Dimension
                    - name: swaggerTagKey
                      type: TagKey
                    query:
                      dataset:
                        aggregation:
                          totalCost:
                            function: Sum
                            name: PreTaxCost
                        granularity: Daily
                        grouping: []
                        sorting:
                        - direction: Ascending
                          name: UsageDate
                      timeframe: LastMonthToDate
                      type: Usage
                    scope: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MYDEVTESTRG
                  type: Microsoft.CostManagement/Views
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.views_controller
  /{scope}/providers/Microsoft.CostManagement/views/{viewName}:
    delete:
      description: The operation to delete a view.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: views_delete_by_scope
      parameters:
      - description: "The scope associated with view operations. This includes 'subscriptions/{subscriptionId}'\
          \ for subscription scope, 'subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}'\
          \ for resourceGroup scope, 'providers/Microsoft.Billing/billingAccounts/{billingAccountId}'\
          \ for Billing Account scope, 'providers/Microsoft.Billing/billingAccounts/{billingAccountId}/departments/{departmentId}'\
          \ for Department scope, 'providers/Microsoft.Billing/billingAccounts/{billingAccountId}/enrollmentAccounts/{enrollmentAccountId}'\
          \ for EnrollmentAccount scope, 'providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}'\
          \ for BillingProfile scope, 'providers/Microsoft.Billing/billingAccounts/{billingAccountId}/invoiceSections/{invoiceSectionId}'\
          \ for InvoiceSection scope, 'providers/Microsoft.Management/managementGroups/{managementGroupId}'\
          \ for Management Group scope, 'providers/Microsoft.CostManagement/externalBillingAccounts/{externalBillingAccountName}'\
          \ for External Billing Account scope and 'providers/Microsoft.CostManagement/externalSubscriptions/{externalSubscriptionName}'\
          \ for External Subscription scope."
        in: path
        name: scope
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request. The current
          version is 2019-04-01-preview
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: View name
        in: path
        name: view_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content: {}
          description: OK. The request has succeeded.
        "204":
          content: {}
          description: NoContent. Resource is not available.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Views
      x-ms-examples:
        ResourceGroupDeleteView:
          parameters:
            api-version: 2019-04-01-preview
            scope: subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MYDEVTESTRG
            viewName: TestView
          responses:
            "200": {}
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.views_controller
    get:
      description: Gets the view for the defined scope by view name.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: views_get_by_scope
      parameters:
      - description: "The scope associated with view operations. This includes 'subscriptions/{subscriptionId}'\
          \ for subscription scope, 'subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}'\
          \ for resourceGroup scope, 'providers/Microsoft.Billing/billingAccounts/{billingAccountId}'\
          \ for Billing Account scope, 'providers/Microsoft.Billing/billingAccounts/{billingAccountId}/departments/{departmentId}'\
          \ for Department scope, 'providers/Microsoft.Billing/billingAccounts/{billingAccountId}/enrollmentAccounts/{enrollmentAccountId}'\
          \ for EnrollmentAccount scope, 'providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}'\
          \ for BillingProfile scope, 'providers/Microsoft.Billing/billingAccounts/{billingAccountId}/invoiceSections/{invoiceSectionId}'\
          \ for InvoiceSection scope, 'providers/Microsoft.Management/managementGroups/{managementGroupId}'\
          \ for Management Group scope, 'providers/Microsoft.CostManagement/externalBillingAccounts/{externalBillingAccountName}'\
          \ for External Billing Account scope and 'providers/Microsoft.CostManagement/externalSubscriptions/{externalSubscriptionName}'\
          \ for External Subscription scope."
        in: path
        name: scope
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request. The current
          version is 2019-04-01-preview
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: View name
        in: path
        name: view_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/View'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Views
      x-ms-examples:
        ResourceGroupView:
          parameters:
            api-version: 2019-04-01-preview
            scope: subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MYDEVTESTRG
            viewName: swaggerExample
          responses:
            "200":
              body:
                eTag: '"1d4ff9fe66f1d10"'
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MYDEVTESTRG/providers/Microsoft.CostManagement/views/swaggerExample
                name: swaggerExample
                properties:
                  accumulated: "true"
                  chart: Table
                  displayName: swagger Example
                  kpis:
                  - enabled: true
                    type: Forecast
                  - enabled: true
                    id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MYDEVTESTRG/providers/Microsoft.Consumption/budgets/swaggerDemo
                    type: Budget
                  metric: ActualCost
                  pivots:
                  - name: ServiceName
                    type: Dimension
                  - name: MeterCategory
                    type: Dimension
                  - name: swaggerTagKey
                    type: TagKey
                  query:
                    dataset:
                      aggregation:
                        totalCost:
                          function: Sum
                          name: PreTaxCost
                      granularity: Daily
                      grouping: []
                      sorting:
                      - direction: Ascending
                        name: UsageDate
                    timeframe: MonthToDate
                    type: Usage
                  scope: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MYDEVTESTRG
                type: Microsoft.CostManagement/Views
      x-openapi-router-controller: openapi_server.controllers.views_controller
    put:
      description: The operation to create or update a view. Update operation requires
        latest eTag to be set in the request. You may obtain the latest eTag by performing
        a get operation. Create operation does not require eTag.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: views_create_or_update_by_scope
      parameters:
      - description: "The scope associated with view operations. This includes 'subscriptions/{subscriptionId}'\
          \ for subscription scope, 'subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}'\
          \ for resourceGroup scope, 'providers/Microsoft.Billing/billingAccounts/{billingAccountId}'\
          \ for Billing Account scope, 'providers/Microsoft.Billing/billingAccounts/{billingAccountId}/departments/{departmentId}'\
          \ for Department scope, 'providers/Microsoft.Billing/billingAccounts/{billingAccountId}/enrollmentAccounts/{enrollmentAccountId}'\
          \ for EnrollmentAccount scope, 'providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}'\
          \ for BillingProfile scope, 'providers/Microsoft.Billing/billingAccounts/{billingAccountId}/invoiceSections/{invoiceSectionId}'\
          \ for InvoiceSection scope, 'providers/Microsoft.Management/managementGroups/{managementGroupId}'\
          \ for Management Group scope, 'providers/Microsoft.CostManagement/externalBillingAccounts/{externalBillingAccountName}'\
          \ for External Billing Account scope and 'providers/Microsoft.CostManagement/externalSubscriptions/{externalSubscriptionName}'\
          \ for External Subscription scope."
        in: path
        name: scope
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request. The current
          version is 2019-04-01-preview
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: View name
        in: path
        name: view_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/View'
        description: Parameters supplied to the CreateOrUpdate View operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/View'
          description: OK. The request has succeeded.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/View'
          description: Created.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Views
      x-ms-examples:
        ResourceGroupCreateOrUpdateView:
          parameters:
            api-version: 2019-04-01-preview
            parameters:
              eTag: '"1d4ff9fe66f1d10"'
              properties:
                accumulated: "true"
                chart: Table
                displayName: swagger Example
                kpis:
                - enabled: true
                  type: Forecast
                - enabled: true
                  id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MYDEVTESTRG/providers/Microsoft.Consumption/budgets/swaggerDemo
                  type: Budget
                metric: ActualCost
                pivots:
                - name: ServiceName
                  type: Dimension
                - name: MeterCategory
                  type: Dimension
                - name: swaggerTagKey
                  type: TagKey
                query:
                  dataset:
                    aggregation:
                      totalCost:
                        function: Sum
                        name: PreTaxCost
                    granularity: Daily
                    grouping: []
                    sorting:
                    - direction: Ascending
                      name: UsageDate
                  timeframe: MonthToDate
                  type: Usage
            scope: subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MYDEVTESTRG
            viewName: swaggerExample
          responses:
            "200":
              body:
                eTag: '"1d4ffa5a9c2430c"'
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MYDEVTESTRG/providers/Microsoft.CostManagement/views/swaggerExample
                name: swaggerExample
                properties:
                  accumulated: "true"
                  chart: Table
                  displayName: swagger Example
                  kpis:
                  - enabled: true
                    type: Forecast
                  - enabled: true
                    id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MYDEVTESTRG/providers/Microsoft.Consumption/budgets/swaggerDemo
                    type: Budget
                  metric: ActualCost
                  pivots:
                  - name: ServiceName
                    type: Dimension
                  - name: MeterCategory
                    type: Dimension
                  - name: swaggerTagKey
                    type: TagKey
                  query:
                    dataset:
                      aggregation:
                        totalCost:
                          function: Sum
                          name: PreTaxCost
                      granularity: Daily
                      grouping: []
                      sorting:
                      - direction: Ascending
                        name: UsageDate
                    timeframe: MonthToDate
                    type: Usage
                  scope: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MYDEVTESTRG
                type: Microsoft.CostManagement/Views
            "201":
              body:
                eTag: '"1d4ffa5a9c2430c"'
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MYDEVTESTRG/providers/Microsoft.CostManagement/views/swaggerExample
                name: swaggerExample
                properties:
                  accumulated: "true"
                  chart: Table
                  displayName: swagger Example
                  kpis:
                  - enabled: true
                    type: Forecast
                  - enabled: true
                    id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MYDEVTESTRG/providers/Microsoft.Consumption/budgets/swaggerDemo
                    type: Budget
                  metric: ActualCost
                  pivots:
                  - name: ServiceName
                    type: Dimension
                  - name: MeterCategory
                    type: Dimension
                  - name: swaggerTagKey
                    type: TagKey
                  query:
                    dataset:
                      aggregation:
                        totalCost:
                          function: Sum
                          name: PreTaxCost
                      granularity: Daily
                      grouping: []
                      sorting:
                      - direction: Ascending
                        name: UsageDate
                    timeframe: MonthToDate
                    type: Usage
                  scope: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MYDEVTESTRG
                type: Microsoft.CostManagement/Views
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.views_controller
components:
  parameters:
    apiVersionParameter:
      description: Version of the API to be used with the client request. The current
        version is 2019-04-01-preview
      in: query
      name: api-version
      required: true
      schema:
        type: string
    billingAccountIdParameter:
      description: BillingAccount ID
      in: path
      name: billingAccountId
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    budgetNameParameter:
      description: Budget Name.
      in: path
      name: budgetName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    departmentIdParameter:
      description: Department ID
      in: path
      name: departmentId
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    enrollmentAccountIdParameter:
      description: Enrollment Account ID
      in: path
      name: enrollmentAccountId
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    managementGroupIdParameter:
      description: ManagementGroup ID
      in: path
      name: managementGroupId
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    resourceGroupNameParameter:
      description: Azure Resource Group Name.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    scopeBudgetParameter:
      description: "The scope associated with budget operations. This includes '/subscriptions/{subscriptionId}/'\
        \ for subscription scope, '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}'\
        \ for resourceGroup scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}'\
        \ for Billing Account scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/departments/{departmentId}'\
        \ for Department scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/enrollmentAccounts/{enrollmentAccountId}'\
        \ for EnrollmentAccount scope, '/providers/Microsoft.Management/managementGroups/{managementGroupId}'\
        \ for Management Group scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}'\
        \ for billingProfile scope, 'providers/Microsoft.Billing/billingAccounts/{billingAccountId}/invoiceSections/{invoiceSectionId}'\
        \ for invoiceSection scope."
      in: path
      name: scope
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
      x-ms-parameter-location: method
      x-ms-skip-url-encoding: true
    scopeViewParameter:
      description: "The scope associated with view operations. This includes 'subscriptions/{subscriptionId}'\
        \ for subscription scope, 'subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}'\
        \ for resourceGroup scope, 'providers/Microsoft.Billing/billingAccounts/{billingAccountId}'\
        \ for Billing Account scope, 'providers/Microsoft.Billing/billingAccounts/{billingAccountId}/departments/{departmentId}'\
        \ for Department scope, 'providers/Microsoft.Billing/billingAccounts/{billingAccountId}/enrollmentAccounts/{enrollmentAccountId}'\
        \ for EnrollmentAccount scope, 'providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}'\
        \ for BillingProfile scope, 'providers/Microsoft.Billing/billingAccounts/{billingAccountId}/invoiceSections/{invoiceSectionId}'\
        \ for InvoiceSection scope, 'providers/Microsoft.Management/managementGroups/{managementGroupId}'\
        \ for Management Group scope, 'providers/Microsoft.CostManagement/externalBillingAccounts/{externalBillingAccountName}'\
        \ for External Billing Account scope and 'providers/Microsoft.CostManagement/externalSubscriptions/{externalSubscriptionName}'\
        \ for External Subscription scope."
      in: path
      name: scope
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    subscriptionIdParameter:
      description: Azure Subscription ID.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
    viewNameParameter:
      description: View name
      in: path
      name: viewName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  schemas:
    BudgetModel:
      allOf:
      - $ref: '#/components/schemas/ProxyResource'
      description: A budget resource.
      example:
        properties:
          filter:
            not: null
            or:
            - null
            - null
            and:
            - null
            - null
            tag:
              values:
              - values
              - values
              name: name
              operator: In
            dimension:
              values:
              - values
              - values
              name: name
              operator: In
          amount: 0.8008281904610115
          timeGrain: Monthly
          currentSpend:
            amount: 6.027456183070403
            unit: unit
          timePeriod:
            endDate: 2000-01-23T04:56:07.000+00:00
            startDate: 2000-01-23T04:56:07.000+00:00
          category: Cost
          notifications:
            key:
              contactGroups:
              - contactGroups
              - contactGroups
              - contactGroups
              - contactGroups
              - contactGroups
              contactEmails:
              - contactEmails
              - contactEmails
              - contactEmails
              - contactEmails
              - contactEmails
              threshold: 1.4658129805029452
              enabled: true
              operator: EqualTo
              contactRoles:
              - contactRoles
              - contactRoles
      properties:
        properties:
          $ref: '#/components/schemas/BudgetProperties'
      title: BudgetModel
    BudgetProperties:
      description: The properties of the budget.
      example:
        filter:
          not: null
          or:
          - null
          - null
          and:
          - null
          - null
          tag:
            values:
            - values
            - values
            name: name
            operator: In
          dimension:
            values:
            - values
            - values
            name: name
            operator: In
        amount: 0.8008281904610115
        timeGrain: Monthly
        currentSpend:
          amount: 6.027456183070403
          unit: unit
        timePeriod:
          endDate: 2000-01-23T04:56:07.000+00:00
          startDate: 2000-01-23T04:56:07.000+00:00
        category: Cost
        notifications:
          key:
            contactGroups:
            - contactGroups
            - contactGroups
            - contactGroups
            - contactGroups
            - contactGroups
            contactEmails:
            - contactEmails
            - contactEmails
            - contactEmails
            - contactEmails
            - contactEmails
            threshold: 1.4658129805029452
            enabled: true
            operator: EqualTo
            contactRoles:
            - contactRoles
            - contactRoles
      properties:
        amount:
          description: The total amount of cost to track with the budget
          format: decimal
          title: amount
          type: number
        category:
          description: "The category of the budget, whether the budget tracks cost\
            \ or usage."
          enum:
          - Cost
          - Usage
          title: category
          type: string
          x-ms-enum:
            modelAsString: true
            name: CategoryType
        currentSpend:
          $ref: '#/components/schemas/CurrentSpend'
        filter:
          $ref: '#/components/schemas/ReportConfigFilter'
        notifications:
          additionalProperties:
            $ref: '#/components/schemas/Notification'
          description: Dictionary of notifications associated with the budget. Budget
            can have up to five notifications.
          title: notifications
          type: object
        timeGrain:
          description: The time covered by a budget. Tracking of the amount will be
            reset based on the time grain.
          enum:
          - Monthly
          - Quarterly
          - Annually
          title: timeGrain
          type: string
          x-ms-enum:
            modelAsString: true
            name: TimeGrainType
        timePeriod:
          $ref: '#/components/schemas/BudgetTimePeriod'
      required:
      - amount
      - category
      - timeGrain
      - timePeriod
      title: BudgetProperties
      type: object
    BudgetTimePeriod:
      description: The start and end date for a budget.
      example:
        endDate: 2000-01-23T04:56:07.000+00:00
        startDate: 2000-01-23T04:56:07.000+00:00
      properties:
        endDate:
          description: "The end date for the budget. If not provided, we default this\
            \ to 10 years from the start date."
          format: date-time
          title: endDate
          type: string
        startDate:
          description: The start date for the budget.
          format: date-time
          title: startDate
          type: string
      required:
      - startDate
      title: BudgetTimePeriod
      type: object
    BudgetsListResult:
      description: Result of listing budgets. It contains a list of available budgets
        in the scope provided.
      example:
        value:
        - properties:
            filter:
              not: null
              or:
              - null
              - null
              and:
              - null
              - null
              tag:
                values:
                - values
                - values
                name: name
                operator: In
              dimension:
                values:
                - values
                - values
                name: name
                operator: In
            amount: 0.8008281904610115
            timeGrain: Monthly
            currentSpend:
              amount: 6.027456183070403
              unit: unit
            timePeriod:
              endDate: 2000-01-23T04:56:07.000+00:00
              startDate: 2000-01-23T04:56:07.000+00:00
            category: Cost
            notifications:
              key:
                contactGroups:
                - contactGroups
                - contactGroups
                - contactGroups
                - contactGroups
                - contactGroups
                contactEmails:
                - contactEmails
                - contactEmails
                - contactEmails
                - contactEmails
                - contactEmails
                threshold: 1.4658129805029452
                enabled: true
                operator: EqualTo
                contactRoles:
                - contactRoles
                - contactRoles
        - properties:
            filter:
              not: null
              or:
              - null
              - null
              and:
              - null
              - null
              tag:
                values:
                - values
                - values
                name: name
                operator: In
              dimension:
                values:
                - values
                - values
                name: name
                operator: In
            amount: 0.8008281904610115
            timeGrain: Monthly
            currentSpend:
              amount: 6.027456183070403
              unit: unit
            timePeriod:
              endDate: 2000-01-23T04:56:07.000+00:00
              startDate: 2000-01-23T04:56:07.000+00:00
            category: Cost
            notifications:
              key:
                contactGroups:
                - contactGroups
                - contactGroups
                - contactGroups
                - contactGroups
                - contactGroups
                contactEmails:
                - contactEmails
                - contactEmails
                - contactEmails
                - contactEmails
                - contactEmails
                threshold: 1.4658129805029452
                enabled: true
                operator: EqualTo
                contactRoles:
                - contactRoles
                - contactRoles
        nextLink: nextLink
      properties:
        nextLink:
          description: The link (url) to the next page of results.
          readOnly: true
          title: nextLink
          type: string
        value:
          description: The list of budgets.
          items:
            $ref: '#/components/schemas/BudgetModel'
          readOnly: true
          title: value
          type: array
      title: BudgetsListResult
      type: object
    CurrentSpend:
      description: The current amount of cost which is being tracked for a budget.
      example:
        amount: 6.027456183070403
        unit: unit
      properties:
        amount:
          description: The total amount of cost which is being tracked by the budget.
          format: decimal
          readOnly: true
          title: amount
          type: number
        unit:
          description: The unit of measure for the budget amount.
          readOnly: true
          title: unit
          type: string
      title: CurrentSpend
      type: object
    ErrorBase:
      description: The details of the error.
      example:
        code: code
        message: message
        target: target
      properties:
        code:
          description: A machine readable error code.
          readOnly: true
          title: code
          type: string
        message:
          description: A human readable error message.
          readOnly: true
          title: message
          type: string
        target:
          description: Indicates which property in the request is responsible for
            the error.
          readOnly: true
          title: target
          type: string
      title: ErrorBase
      type: object
    ErrorDetails:
      description: The details of the error.
      example:
        code: code
        details:
        - code: code
          message: message
          target: target
        - code: code
          message: message
          target: target
        message: message
        target: target
      properties:
        code:
          description: A machine readable error code.
          readOnly: true
          title: code
          type: string
        details:
          description: error details.
          items:
            $ref: '#/components/schemas/ErrorBase'
          title: details
          type: array
        message:
          description: A human readable error message.
          readOnly: true
          title: message
          type: string
        target:
          description: Indicates which property in the request is responsible for
            the error.
          title: target
          type: string
      title: ErrorDetails
      type: object
    ErrorResponse:
      description: Error response indicates that the service is not able to process
        the incoming request. The reason is provided in the error message.
      example:
        error:
          code: code
          details:
          - code: code
            message: message
            target: target
          - code: code
            message: message
            target: target
          message: message
          target: target
      properties:
        error:
          $ref: '#/components/schemas/ErrorDetails'
      title: ErrorResponse
      type: object
    KpiProperties:
      description: Each KPI must contain a 'type' and 'enabled' key.
      example:
        id: id
        type: Forecast
        enabled: true
      properties:
        enabled:
          description: show the KPI in the UI?
          title: enabled
          type: boolean
        id:
          description: ID of resource related to metric (budget).
          title: id
          type: string
        type:
          description: "KPI type (Forecast, Budget)."
          enum:
          - Forecast
          - Budget
          title: type
          type: string
          x-ms-enum:
            modelAsString: true
            name: KpiTypeType
      title: KpiProperties
      type: object
    Notification:
      description: The notification associated with a budget.
      example:
        contactGroups:
        - contactGroups
        - contactGroups
        - contactGroups
        - contactGroups
        - contactGroups
        contactEmails:
        - contactEmails
        - contactEmails
        - contactEmails
        - contactEmails
        - contactEmails
        threshold: 1.4658129805029452
        enabled: true
        operator: EqualTo
        contactRoles:
        - contactRoles
        - contactRoles
      properties:
        contactEmails:
          description: Email addresses to send the budget notification to when the
            threshold is exceeded.
          items:
            type: string
          maxItems: 50
          minItems: 1
          title: contactEmails
          type: array
        contactGroups:
          description: Action groups to send the budget notification to when the threshold
            is exceeded.
          items:
            type: string
          maxItems: 50
          minItems: 0
          title: contactGroups
          type: array
        contactRoles:
          description: Contact roles to send the budget notification to when the threshold
            is exceeded.
          items:
            type: string
          title: contactRoles
          type: array
        enabled:
          description: The notification is enabled or not.
          title: enabled
          type: boolean
        operator:
          description: The comparison operator.
          enum:
          - EqualTo
          - GreaterThan
          - GreaterThanOrEqualTo
          title: operator
          type: string
          x-ms-enum:
            modelAsString: true
            name: NotificationOperatorType
        threshold:
          description: Threshold value associated with a notification. Notification
            is sent when the cost exceeded the threshold. It is always percent and
            has to be between 0 and 1000.
          format: decimal
          title: threshold
          type: number
      required:
      - contactEmails
      - enabled
      - operator
      - threshold
      title: Notification
      type: object
    Operation:
      description: A Cost management REST API operation.
      example:
        display:
          provider: provider
          resource: resource
          operation: operation
        name: name
      properties:
        display:
          $ref: '#/components/schemas/Operation_display'
        name:
          description: "Operation name: {provider}/{resource}/{operation}."
          readOnly: true
          title: name
          type: string
      title: Operation
      type: object
    OperationListResult:
      description: Result of listing cost management operations. It contains a list
        of operations and a URL link to get the next set of results.
      example:
        value:
        - display:
            provider: provider
            resource: resource
            operation: operation
          name: name
        - display:
            provider: provider
            resource: resource
            operation: operation
          name: name
        nextLink: nextLink
      properties:
        nextLink:
          description: URL to get the next set of operation list results if there
            are any.
          readOnly: true
          title: nextLink
          type: string
        value:
          description: List of cost management operations supported by the Microsoft.CostManagement
            resource provider.
          items:
            $ref: '#/components/schemas/Operation'
          readOnly: true
          title: value
          type: array
      title: OperationListResult
      type: object
    PivotProperties:
      description: Each pivot must contain a 'type' and 'name'.
      example:
        name: name
        type: Dimension
      properties:
        name:
          description: Data field to show in view.
          title: name
          type: string
        type:
          description: Data type to show in view.
          enum:
          - Dimension
          - TagKey
          title: type
          type: string
          x-ms-enum:
            modelAsString: true
            name: PivotTypeType
      title: PivotProperties
      type: object
    ProxyResource:
      description: The Resource model definition.
      properties:
        eTag:
          description: "eTag of the resource. To handle concurrent update scenario,\
            \ this field will be used to determine whether the user is updating the\
            \ latest version or not."
          title: eTag
          type: string
        id:
          description: Resource Id.
          readOnly: true
          title: id
          type: string
        name:
          description: Resource name.
          readOnly: true
          title: name
          type: string
        type:
          description: Resource type.
          readOnly: true
          title: type
          type: string
      title: ProxyResource
      type: object
      x-ms-azure-resource: true
    ReportConfigAggregation:
      description: The aggregation expression to be used in the report.
      example:
        function: Sum
        name: name
      properties:
        function:
          description: The name of the aggregation function to use.
          enum:
          - Sum
          title: function
          type: string
          x-ms-enum:
            modelAsString: true
            name: FunctionType
        name:
          description: The name of the column to aggregate.
          title: name
          type: string
      required:
      - function
      - name
      title: ReportConfigAggregation
      type: object
    ReportConfigColumnType:
      description: The type of the column in the report.
      enum:
      - Tag
      - Dimension
      title: ReportConfigColumnType
      type: string
      x-ms-enum:
        modelAsString: true
        name: ReportConfigColumnType
    ReportConfigComparisonExpression:
      description: The comparison expression to be used in the report.
      example:
        values:
        - values
        - values
        name: name
        operator: In
      properties:
        name:
          description: The name of the column to use in comparison.
          title: name
          type: string
        operator:
          description: The operator to use for comparison.
          enum:
          - In
          - Contains
          title: operator
          type: string
          x-ms-enum:
            modelAsString: true
            name: OperatorType
        values:
          description: Array of values to use for comparison
          items:
            type: string
          minItems: 1
          title: values
          type: array
      required:
      - name
      - operator
      - values
      title: ReportConfigComparisonExpression
      type: object
    ReportConfigDataset:
      description: The definition of data present in the report.
      example:
        filter:
          not: null
          or:
          - null
          - null
          and:
          - null
          - null
          tag:
            values:
            - values
            - values
            name: name
            operator: In
          dimension:
            values:
            - values
            - values
            name: name
            operator: In
        configuration:
          columns:
          - columns
          - columns
        granularity: Daily
        sorting:
        - name: name
          direction: Ascending
        - name: name
          direction: Ascending
        aggregation:
          key:
            function: Sum
            name: name
        grouping:
        - name: name
          type: Tag
        - name: name
          type: Tag
      properties:
        aggregation:
          additionalProperties:
            $ref: '#/components/schemas/ReportConfigAggregation'
          description: Dictionary of aggregation expression to use in the report.
            The key of each item in the dictionary is the alias for the aggregated
            column. Report can have up to 2 aggregation clauses.
          title: aggregation
          type: object
        configuration:
          $ref: '#/components/schemas/ReportConfigDatasetConfiguration'
        filter:
          $ref: '#/components/schemas/ReportConfigFilter'
        granularity:
          description: The granularity of rows in the report.
          enum:
          - Daily
          - Monthly
          title: granularity
          type: string
          x-ms-enum:
            modelAsString: true
            name: GranularityType
        grouping:
          description: Array of group by expression to use in the report. Report can
            have up to 2 group by clauses.
          items:
            $ref: '#/components/schemas/ReportConfigGrouping'
          maxItems: 2
          title: grouping
          type: array
        sorting:
          description: Array of order by expression to use in the report.
          items:
            $ref: '#/components/schemas/ReportConfigSorting'
          title: sorting
          type: array
      title: ReportConfigDataset
      type: object
    ReportConfigDatasetConfiguration:
      description: The configuration of dataset in the report.
      example:
        columns:
        - columns
        - columns
      properties:
        columns:
          description: "Array of column names to be included in the report. Any valid\
            \ report column name is allowed. If not provided, then report includes\
            \ all columns."
          items:
            type: string
          title: columns
          type: array
      title: ReportConfigDatasetConfiguration
      type: object
    ReportConfigDefinition:
      description: The definition of a report config.
      example:
        timeframe: WeekToDate
        timePeriod:
          from: 2000-01-23T04:56:07.000+00:00
          to: 2000-01-23T04:56:07.000+00:00
        type: Usage
        dataset:
          filter:
            not: null
            or:
            - null
            - null
            and:
            - null
            - null
            tag:
              values:
              - values
              - values
              name: name
              operator: In
            dimension:
              values:
              - values
              - values
              name: name
              operator: In
          configuration:
            columns:
            - columns
            - columns
          granularity: Daily
          sorting:
          - name: name
            direction: Ascending
          - name: name
            direction: Ascending
          aggregation:
            key:
              function: Sum
              name: name
          grouping:
          - name: name
            type: Tag
          - name: name
            type: Tag
      properties:
        dataset:
          $ref: '#/components/schemas/ReportConfigDataset'
        timePeriod:
          $ref: '#/components/schemas/ReportConfigTimePeriod'
        timeframe:
          description: "The time frame for pulling data for the report. If custom,\
            \ then a specific time period must be provided."
          enum:
          - WeekToDate
          - MonthToDate
          - YearToDate
          - Custom
          title: timeframe
          type: string
          x-ms-enum:
            modelAsString: true
            name: TimeframeType
        type:
          description: "The type of the report. Usage represents actual usage, forecast\
            \ represents forecasted data and UsageAndForecast represents both usage\
            \ and forecasted data. Actual usage and forecasted data can be differentiated\
            \ based on dates."
          enum:
          - Usage
          title: type
          type: string
          x-ms-enum:
            modelAsString: true
            name: ReportType
      required:
      - timeframe
      - type
      title: ReportConfigDefinition
      type: object
    ReportConfigFilter:
      description: The filter expression to be used in the report.
      example:
        not: null
        or:
        - null
        - null
        and:
        - null
        - null
        tag:
          values:
          - values
          - values
          name: name
          operator: In
        dimension:
          values:
          - values
          - values
          name: name
          operator: In
      properties:
        and:
          description: The logical "AND" expression. Must have at least 2 items.
          items:
            $ref: '#/components/schemas/ReportConfigFilter'
          minItems: 2
          title: and
          type: array
        dimension:
          $ref: '#/components/schemas/ReportConfigComparisonExpression'
        not:
          $ref: '#/components/schemas/ReportConfigFilter'
        or:
          description: The logical "OR" expression. Must have at least 2 items.
          items:
            $ref: '#/components/schemas/ReportConfigFilter'
          minItems: 2
          title: or
          type: array
        tag:
          $ref: '#/components/schemas/ReportConfigComparisonExpression'
      title: ReportConfigFilter
      type: object
    ReportConfigGrouping:
      description: The group by expression to be used in the report.
      example:
        name: name
        type: Tag
      properties:
        name:
          description: The name of the column to group. This version supports subscription
            lowest possible grain.
          title: name
          type: string
        type:
          $ref: '#/components/schemas/ReportConfigColumnType'
      required:
      - name
      - type
      title: ReportConfigGrouping
      type: object
    ReportConfigSorting:
      description: The order by expression to be used in the report.
      example:
        name: name
        direction: Ascending
      properties:
        direction:
          description: Direction of sort.
          enum:
          - Ascending
          - Descending
          title: direction
          type: string
        name:
          description: The name of the column to sort.
          title: name
          type: string
      required:
      - name
      title: ReportConfigSorting
      type: object
    ReportConfigTimePeriod:
      description: The start and end date for pulling data for the report.
      example:
        from: 2000-01-23T04:56:07.000+00:00
        to: 2000-01-23T04:56:07.000+00:00
      properties:
        from:
          description: The start date to pull data from.
          format: date-time
          title: from
          type: string
        to:
          description: The end date to pull data to.
          format: date-time
          title: to
          type: string
      required:
      - from
      - to
      title: ReportConfigTimePeriod
      type: object
    Resource:
      description: The Resource model definition.
      properties:
        id:
          description: Resource Id.
          readOnly: true
          type: string
        name:
          description: Resource name.
          readOnly: true
          type: string
        tags:
          additionalProperties:
            type: string
          description: Resource tags.
          readOnly: true
          type: object
        type:
          description: Resource type.
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
    Scope:
      description: The Scope model definition
      properties:
        childScope:
          $ref: '#/components/schemas/Scope'
        id:
          description: Scope id
          title: id
          type: string
        name:
          description: Scope name
          title: name
          type: string
        type:
          description: Scope type
          title: type
          type: string
      title: Scope
      type: object
    View:
      allOf:
      - $ref: '#/components/schemas/ProxyResource'
      description: States and configurations of Cost Analysis.
      example:
        properties:
          modifiedOn: 2000-01-23T04:56:07.000+00:00
          metric: ActualCost
          displayName: displayName
          query:
            timeframe: WeekToDate
            timePeriod:
              from: 2000-01-23T04:56:07.000+00:00
              to: 2000-01-23T04:56:07.000+00:00
            type: Usage
            dataset:
              filter:
                not: null
                or:
                - null
                - null
                and:
                - null
                - null
                tag:
                  values:
                  - values
                  - values
                  name: name
                  operator: In
                dimension:
                  values:
                  - values
                  - values
                  name: name
                  operator: In
              configuration:
                columns:
                - columns
                - columns
              granularity: Daily
              sorting:
              - name: name
                direction: Ascending
              - name: name
                direction: Ascending
              aggregation:
                key:
                  function: Sum
                  name: name
              grouping:
              - name: name
                type: Tag
              - name: name
                type: Tag
          scope: scope
          pivots:
          - name: name
            type: Dimension
[...]
