openapi: 3.0.1
info:
  contact:
    name: text2data.com
    url: https://text2data.com/Integration
  description: "<p>The current api version is <b>v3.4</b></p><br><br><p>The api methods\
    \ listed below can be called directly from this page to test the output. You might\
    \ set the api_key to pre-authenticate all requests on this page (this will work\
    \ if your secret is blank).</p><br><br> API endpoint URL: http://{apiName}.text2data.com/v3/\
    \ {method}<br><br>The api can be consumed directly or using our SDK. Our Excel\
    \ Add-In and Google Sheets Add-on are also using this api to process the data."
  license:
    name: See license
    url: https://text2data.com/License
  title: Text Analytics & Sentiment Analysis API | api.text2data.com
  version: v3.4
  x-apisguru-categories:
  - text
  x-logo:
    url: https://twitter.com/Text2Data/profile_image?size=original
  x-origin:
  - format: swagger
    url: http://api.text2data.org/swagger/docs/v3.4
    version: "2.0"
  x-providerName: text2data.org
servers:
- url: http://api.text2data.org/
paths:
  /v3/Analyze:
    get:
      operationId: analyze_get
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentResult'
            text/json:
              schema:
                $ref: '#/components/schemas/DocumentResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/DocumentResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/DocumentResult'
          description: OK
      summary: Test api response without api key
      tags:
      - Analyze
      x-openapi-router-controller: openapi_server.controllers.analyze_controller
    post:
      description: "Sample request:\r\n            \r\n    POST /Analyze\r\n    {\r\
        \n       \"DocumentText\": \"Excellent location, opposite a very large mall\
        \ with wide variety of shops, restaurants and more.\",\r\n       \"PrivateKey\"\
        : \"your_api_key\",\r\n       \"Secret\": \"\"\r\n    }"
      operationId: analyze_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Document'
          text/json:
            schema:
              $ref: '#/components/schemas/Document'
          application/xml:
            schema:
              $ref: '#/components/schemas/Document'
          text/xml:
            schema:
              $ref: '#/components/schemas/Document'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Document'
        required: true
        x-body-name: requestDoc
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentResult'
            text/json:
              schema:
                $ref: '#/components/schemas/DocumentResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/DocumentResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/DocumentResult'
          description: OK
      summary: Sentiment analysis service
      tags:
      - Analyze
      x-codegen-request-body-name: requestDoc
      x-openapi-router-controller: openapi_server.controllers.analyze_controller
  /v3/Categorize:
    get:
      operationId: categorize_get
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentResult'
            text/json:
              schema:
                $ref: '#/components/schemas/DocumentResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/DocumentResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/DocumentResult'
          description: OK
      summary: Test api response without api key
      tags:
      - Categorize
      x-openapi-router-controller: openapi_server.controllers.categorize_controller
    post:
      description: "Sample request:\r\n            \r\n    POST /Categorize\r\n  \
        \  {\r\n       \"DocumentText\": \"Excellent location, opposite a very large\
        \ mall with wide variety of shops, restaurants and more.\",\r\n       \"PrivateKey\"\
        : \"your_api_key\",\r\n       \"UserCategoryModelName\": \"your_model_name\"\
        ,\r\n       \"Secret\": \"\"\r\n    }"
      operationId: categorize_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Document'
          text/json:
            schema:
              $ref: '#/components/schemas/Document'
          application/xml:
            schema:
              $ref: '#/components/schemas/Document'
          text/xml:
            schema:
              $ref: '#/components/schemas/Document'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Document'
        required: true
        x-body-name: requestDoc
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentResult'
            text/json:
              schema:
                $ref: '#/components/schemas/DocumentResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/DocumentResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/DocumentResult'
          description: OK
      summary: Document categorization service
      tags:
      - Categorize
      x-codegen-request-body-name: requestDoc
      x-openapi-router-controller: openapi_server.controllers.categorize_controller
  /v3/Extract:
    get:
      operationId: extract_get
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentResult'
            text/json:
              schema:
                $ref: '#/components/schemas/DocumentResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/DocumentResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/DocumentResult'
          description: OK
      summary: Test api response without api key
      tags:
      - Extract
      x-openapi-router-controller: openapi_server.controllers.extract_controller
    post:
      description: "Sample request:\r\n            \r\n    POST /Extract\r\n    {\r\
        \n       \"DocumentText\": \"Excellent location, opposite a very large mall\
        \ with wide variety of shops, restaurants and more.\",\r\n       \"PrivateKey\"\
        : \"your_api_key\",\r\n       \"UserCategoryModelName\": \"your_model_name\"\
        ,\r\n       \"Secret\": \"\"\r\n    }"
      operationId: extract_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Document'
          text/json:
            schema:
              $ref: '#/components/schemas/Document'
          application/xml:
            schema:
              $ref: '#/components/schemas/Document'
          text/xml:
            schema:
              $ref: '#/components/schemas/Document'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Document'
        required: true
        x-body-name: requestDoc
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentResult'
            text/json:
              schema:
                $ref: '#/components/schemas/DocumentResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/DocumentResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/DocumentResult'
          description: OK
      summary: Document extraction service
      tags:
      - Extract
      x-codegen-request-body-name: requestDoc
      x-openapi-router-controller: openapi_server.controllers.extract_controller
components:
  schemas:
    ApiConfig:
      properties:
        APIPrivateKey:
          type: string
        APISecret:
          type: string
        BlacklistedWords:
          items:
            type: string
          type: array
        ErrorMessage:
          type: string
        IsRequestStatusOK:
          type: boolean
      type: object
    Category:
      example:
        Score: 0.8008281904610115
        CategoryName: CategoryName
      properties:
        CategoryName:
          title: CategoryName
          type: string
        Score:
          format: double
          title: Score
          type: number
      title: Category
      type: object
    Document:
      example:
        Secret: Secret
        IsTwitterContent: true
        DocumentText: DocumentText
        PrivateKey: PrivateKey
        DocumentLanguage: DocumentLanguage
        UserCategoryModelName: UserCategoryModelName
        RequestIdentifier: RequestIdentifier
        SerializeFormat: 0
      properties:
        DocumentLanguage:
          title: DocumentLanguage
          type: string
        DocumentText:
          title: DocumentText
          type: string
        IsTwitterContent:
          title: IsTwitterContent
          type: boolean
        PrivateKey:
          title: PrivateKey
          type: string
        RequestIdentifier:
          title: RequestIdentifier
          type: string
        Secret:
          title: Secret
          type: string
        SerializeFormat:
          format: int32
          title: SerializeFormat
          type: integer
        UserCategoryModelName:
          title: UserCategoryModelName
          type: string
      required:
      - DocumentText
      - PrivateKey
      title: Document
      type: object
    DocumentResult:
      example:
        Keywords:
        - KeywordType: KeywordType
          Mentions: 1
          SentimentValue: 5.962133916683182
          SentimentPolarity: SentimentPolarity
          SentimentResult: SentimentResult
          SentencePartType: SentencePartType
          Text: Text
          Magnitude: 6.027456183070403
          SentenceText: SentenceText
        - KeywordType: KeywordType
          Mentions: 1
          SentimentValue: 5.962133916683182
          SentimentPolarity: SentimentPolarity
          SentimentResult: SentimentResult
          SentencePartType: SentencePartType
          Text: Text
          Magnitude: 6.027456183070403
          SentenceText: SentenceText
        SlangWords:
        - SlangWordTranslation: SlangWordTranslation
          SlangWordText: SlangWordText
        - SlangWordTranslation: SlangWordTranslation
          SlangWordText: SlangWordText
        Magnitude: 3.616076749251911
        Timestamp: 7
        SwearWords:
        - SlangWordTranslation: SlangWordTranslation
          SlangWordText: SlangWordText
        - SlangWordTranslation: SlangWordTranslation
          SlangWordText: SlangWordText
        DocSentimentValue: 9.301444243932576
        TransactionUseByDate: 2000-01-23T04:56:07.000+00:00
        ResultTextHtml: ResultTextHtml
        CloudTagHTML: CloudTagHTML
        TransactionCurrentDay: 1
        Status: 4
        UserCategories:
        - Score: 0.8008281904610115
          CategoryName: CategoryName
        - Score: 0.8008281904610115
          CategoryName: CategoryName
        DocSentimentPolarity: DocSentimentPolarity
        TransactionTotalCreditsLeft: 1
        Themes:
        - KeywordType: KeywordType
          Mentions: 1
          SentimentValue: 5.962133916683182
          SentimentPolarity: SentimentPolarity
          SentimentResult: SentimentResult
          SentencePartType: SentencePartType
          Text: Text
          Magnitude: 6.027456183070403
          SentenceText: SentenceText
        - KeywordType: KeywordType
          Mentions: 1
          SentimentValue: 5.962133916683182
          SentimentPolarity: SentimentPolarity
          SentimentResult: SentimentResult
          SentencePartType: SentencePartType
          Text: Text
          Magnitude: 6.027456183070403
          SentenceText: SentenceText
        PartsOfSpeech:
        - Action: Action
          ObjectSentimentPolarity: ObjectSentimentPolarity
          Object: Object
          Text: Text
          Subject: Subject
          ObjectSentimentResultString: ObjectSentimentResultString
          ObjectSentimentValue: 2.027123023002322
        - Action: Action
          ObjectSentimentPolarity: ObjectSentimentPolarity
          Object: Object
          Text: Text
          Subject: Subject
          ObjectSentimentResultString: ObjectSentimentResultString
          ObjectSentimentValue: 2.027123023002322
        DetectedLanguage: DetectedLanguage
        Entities:
        - KeywordType: KeywordType
          Mentions: 1
          SentimentValue: 5.962133916683182
          SentimentPolarity: SentimentPolarity
          SentimentResult: SentimentResult
          SentencePartType: SentencePartType
          Text: Text
          Magnitude: 6.027456183070403
          SentenceText: SentenceText
        - KeywordType: KeywordType
          Mentions: 1
          SentimentValue: 5.962133916683182
          SentimentPolarity: SentimentPolarity
          SentimentResult: SentimentResult
          SentencePartType: SentencePartType
          Text: Text
          Magnitude: 6.027456183070403
          SentenceText: SentenceText
        Subjectivity: Subjectivity
        AutoCategories:
        - Score: 0.8008281904610115
          CategoryName: CategoryName
        - Score: 0.8008281904610115
          CategoryName: CategoryName
        StorageInfo:
          DocumentText: DocumentText
          PrivateKey: PrivateKey
          IsExcel: true
          IsTwitterMode: true
          IP: IP
          IsGSExcel: true
          CreateDate: 2000-01-23T04:56:07.000+00:00
          UserCategoryModelName: UserCategoryModelName
          RequestIdentifier: RequestIdentifier
        CoreSentences:
        - SentimentValue: 7.061401241503109
          SentimentPolarity: SentimentPolarity
          SentenceNumber: 2
          SentimentResultString: SentimentResultString
          Text: Text
          Magnitude: 5.637376656633329
        - SentimentValue: 7.061401241503109
          SentimentPolarity: SentimentPolarity
          SentenceNumber: 2
          SentimentResultString: SentimentResultString
          Text: Text
          Magnitude: 5.637376656633329
        ErrorMessage: ErrorMessage
        Citations:
        - KeywordType: KeywordType
          Mentions: 1
          SentimentValue: 5.962133916683182
          SentimentPolarity: SentimentPolarity
          SentimentResult: SentimentResult
          SentencePartType: SentencePartType
          Text: Text
          Magnitude: 6.027456183070403
          SentenceText: SentenceText
        - KeywordType: KeywordType
          Mentions: 1
          SentimentValue: 5.962133916683182
          SentimentPolarity: SentimentPolarity
          SentimentResult: SentimentResult
          SentencePartType: SentencePartType
          Text: Text
          Magnitude: 6.027456183070403
          SentenceText: SentenceText
        TransactionDailyLimit: 1
        DocSentimentResultString: DocSentimentResultString
      properties:
        AutoCategories:
          items:
            $ref: '#/components/schemas/Category'
          title: AutoCategories
          type: array
        Citations:
          items:
            $ref: '#/components/schemas/SentencePart'
          title: Citations
          type: array
        CloudTagHTML:
          title: CloudTagHTML
          type: string
        CoreSentences:
          items:
            $ref: '#/components/schemas/Sentence'
          title: CoreSentences
          type: array
        DetectedLanguage:
          title: DetectedLanguage
          type: string
        DocSentimentPolarity:
          title: DocSentimentPolarity
          type: string
        DocSentimentResultString:
          title: DocSentimentResultString
          type: string
        DocSentimentValue:
          format: double
          title: DocSentimentValue
          type: number
        Entities:
          items:
            $ref: '#/components/schemas/SentencePart'
          title: Entities
          type: array
        ErrorMessage:
          title: ErrorMessage
          type: string
        Keywords:
          items:
            $ref: '#/components/schemas/SentencePart'
          title: Keywords
          type: array
        Magnitude:
          format: double
          title: Magnitude
          type: number
        PartsOfSpeech:
          items:
            $ref: '#/components/schemas/PartOfSpeech'
          title: PartsOfSpeech
          type: array
        ResultTextHtml:
          title: ResultTextHtml
          type: string
        SlangWords:
          items:
            $ref: '#/components/schemas/SlangWord'
          title: SlangWords
          type: array
        Status:
          format: int32
          title: Status
          type: integer
        StorageInfo:
          $ref: '#/components/schemas/StorageInfo'
        Subjectivity:
          title: Subjectivity
          type: string
        SwearWords:
          items:
            $ref: '#/components/schemas/SlangWord'
          title: SwearWords
          type: array
        Themes:
          items:
            $ref: '#/components/schemas/SentencePart'
          title: Themes
          type: array
        Timestamp:
          format: int64
          title: Timestamp
          type: integer
        TransactionCurrentDay:
          format: int32
          title: TransactionCurrentDay
          type: integer
        TransactionDailyLimit:
          format: int32
          title: TransactionDailyLimit
          type: integer
        TransactionTotalCreditsLeft:
          format: int32
          title: TransactionTotalCreditsLeft
          type: integer
        TransactionUseByDate:
          format: date-time
          title: TransactionUseByDate
          type: string
        UserCategories:
          items:
            $ref: '#/components/schemas/Category'
          title: UserCategories
          type: array
      title: DocumentResult
      type: object
    PartOfSpeech:
      example:
        Action: Action
        ObjectSentimentPolarity: ObjectSentimentPolarity
        Object: Object
        Text: Text
        Subject: Subject
        ObjectSentimentResultString: ObjectSentimentResultString
        ObjectSentimentValue: 2.027123023002322
      properties:
        Action:
          title: Action
          type: string
        Object:
          title: Object
          type: string
        ObjectSentimentPolarity:
          title: ObjectSentimentPolarity
          type: string
        ObjectSentimentResultString:
          title: ObjectSentimentResultString
          type: string
        ObjectSentimentValue:
          format: double
          title: ObjectSentimentValue
          type: number
        Subject:
          title: Subject
          type: string
        Text:
          title: Text
          type: string
      title: PartOfSpeech
      type: object
    Sentence:
      example:
        SentimentValue: 7.061401241503109
        SentimentPolarity: SentimentPolarity
        SentenceNumber: 2
        SentimentResultString: SentimentResultString
        Text: Text
        Magnitude: 5.637376656633329
      properties:
        Magnitude:
          format: double
          title: Magnitude
          type: number
        SentenceNumber:
          format: int32
          title: SentenceNumber
          type: integer
        SentimentPolarity:
          title: SentimentPolarity
          type: string
        SentimentResultString:
          title: SentimentResultString
          type: string
        SentimentValue:
          format: double
          title: SentimentValue
          type: number
        Text:
          title: Text
          type: string
      title: Sentence
      type: object
    SentencePart:
      example:
        KeywordType: KeywordType
        Mentions: 1
        SentimentValue: 5.962133916683182
        SentimentPolarity: SentimentPolarity
        SentimentResult: SentimentResult
        SentencePartType: SentencePartType
        Text: Text
        Magnitude: 6.027456183070403
        SentenceText: SentenceText
      properties:
        KeywordType:
          title: KeywordType
          type: string
        Magnitude:
          format: double
          title: Magnitude
          type: number
        Mentions:
          format: int32
          title: Mentions
          type: integer
        SentencePartType:
          title: SentencePartType
          type: string
        SentenceText:
          title: SentenceText
          type: string
        SentimentPolarity:
          title: SentimentPolarity
          type: string
        SentimentResult:
          title: SentimentResult
          type: string
        SentimentValue:
          format: double
          title: SentimentValue
          type: number
        Text:
          title: Text
          type: string
      title: SentencePart
      type: object
    SlangWord:
      example:
        SlangWordTranslation: SlangWordTranslation
        SlangWordText: SlangWordText
      properties:
        SlangWordText:
          title: SlangWordText
          type: string
        SlangWordTranslation:
          title: SlangWordTranslation
          type: string
      title: SlangWord
      type: object
    StorageInfo:
      example:
        DocumentText: DocumentText
        PrivateKey: PrivateKey
        IsExcel: true
        IsTwitterMode: true
        IP: IP
        IsGSExcel: true
        CreateDate: 2000-01-23T04:56:07.000+00:00
        UserCategoryModelName: UserCategoryModelName
        RequestIdentifier: RequestIdentifier
      properties:
        CreateDate:
          format: date-time
          title: CreateDate
          type: string
        DocumentText:
          title: DocumentText
          type: string
        IP:
          title: IP
          type: string
        IsExcel:
          title: IsExcel
          type: boolean
        IsGSExcel:
          title: IsGSExcel
          type: boolean
        IsTwitterMode:
          title: IsTwitterMode
          type: boolean
        PrivateKey:
          title: PrivateKey
          type: string
        RequestIdentifier:
          title: RequestIdentifier
          type: string
        UserCategoryModelName:
          title: UserCategoryModelName
          type: string
      title: StorageInfo
      type: object
  securitySchemes:
    PrivateKey:
      description: API Key Authentication
      in: query
      name: PrivateKey
      type: apiKey
      x-apikeyInfoFunc: openapi_server.controllers.security_controller.info_from_PrivateKey
x-original-swagger-version: "2.0"
