openapi: 3.0.0
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: The Google Drive API allows clients to access resources from Google
    Drive.
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Google Drive API
  version: v2
  x-apiClientRegistration:
    url: https://console.developers.google.com
  x-apisguru-categories:
  - analytics
  - media
  x-logo:
    url: https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png
  x-origin:
  - converter:
      url: https://github.com/mermade/oas-kit
      version: 7.0.4
    format: google
    url: https://www.googleapis.com/discovery/v1/apis/drive/v2/rest
    version: v1
  x-preferred: false
  x-providerName: googleapis.com
  x-serviceName: drive
externalDocs:
  url: https://developers.google.com/drive/
servers:
- url: https://www.googleapis.com/drive/v2
tags:
- name: about
- name: apps
- name: changes
- name: channels
- name: children
- name: comments
- name: drives
- name: files
- name: parents
- name: permissions
- name: properties
- name: replies
- name: revisions
- name: teamdrives
paths:
  /about:
    get:
      description: Gets the information about the current user along with Drive API
        settings
      operationId: drive_about_get
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Whether to count changes outside the My Drive hierarchy. When\
          \ set to false, changes to files such as those in the Application Data folder\
          \ or shared files which have not been added to My Drive will be omitted\
          \ from the `maxChangeIdCount`."
        explode: true
        in: query
        name: includeSubscribed
        required: false
        schema:
          type: boolean
        style: form
      - description: Maximum number of remaining change IDs to count
        explode: true
        in: query
        name: maxChangeIdCount
        required: false
        schema:
          type: string
        style: form
      - description: Change ID to start counting from when calculating number of remaining
          change IDs
        explode: true
        in: query
        name: startChangeId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/About'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/drive
        Oauth2c:
        - https://www.googleapis.com/auth/drive
      - Oauth2:
        - https://www.googleapis.com/auth/drive.appdata
        Oauth2c:
        - https://www.googleapis.com/auth/drive.appdata
      - Oauth2:
        - https://www.googleapis.com/auth/drive.file
        Oauth2c:
        - https://www.googleapis.com/auth/drive.file
      - Oauth2:
        - https://www.googleapis.com/auth/drive.metadata
        Oauth2c:
        - https://www.googleapis.com/auth/drive.metadata
      - Oauth2:
        - https://www.googleapis.com/auth/drive.metadata.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/drive.metadata.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/drive.photos.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/drive.photos.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/drive.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/drive.readonly
      tags:
      - about
      x-openapi-router-controller: openapi_server.controllers.about_controller
  /apps:
    get:
      description: Lists a user's installed apps.
      operationId: drive_apps_list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "A comma-separated list of file extensions for open with filtering.\
          \ All apps within the given app query scope which can open any of the given\
          \ file extensions will be included in the response. If `appFilterMimeTypes`\
          \ are provided as well, the result is a union of the two resulting app lists."
        explode: true
        in: query
        name: appFilterExtensions
        required: false
        schema:
          type: string
        style: form
      - description: "A comma-separated list of MIME types for open with filtering.\
          \ All apps within the given app query scope which can open any of the given\
          \ MIME types will be included in the response. If `appFilterExtensions`\
          \ are provided as well, the result is a union of the two resulting app lists."
        explode: true
        in: query
        name: appFilterMimeTypes
        required: false
        schema:
          type: string
        style: form
      - description: "A language or locale code, as defined by BCP 47, with some extensions\
          \ from Unicode's LDML format (http://www.unicode.org/reports/tr35/)."
        explode: true
        in: query
        name: languageCode
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppList'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/drive.apps.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/drive.apps.readonly
      tags:
      - apps
      x-openapi-router-controller: openapi_server.controllers.apps_controller
  /apps/{appId}:
    get:
      description: Gets a specific app.
      operationId: drive_apps_get
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: The ID of the app.
        explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/App'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/drive
        Oauth2c:
        - https://www.googleapis.com/auth/drive
      - Oauth2:
        - https://www.googleapis.com/auth/drive.appdata
        Oauth2c:
        - https://www.googleapis.com/auth/drive.appdata
      - Oauth2:
        - https://www.googleapis.com/auth/drive.apps.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/drive.apps.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/drive.file
        Oauth2c:
        - https://www.googleapis.com/auth/drive.file
      - Oauth2:
        - https://www.googleapis.com/auth/drive.metadata
        Oauth2c:
        - https://www.googleapis.com/auth/drive.metadata
      - Oauth2:
        - https://www.googleapis.com/auth/drive.metadata.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/drive.metadata.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/drive.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/drive.readonly
      tags:
      - apps
      x-openapi-router-controller: openapi_server.controllers.apps_controller
  /changes:
    get:
      description: Lists the changes for a user or shared drive.
      operationId: drive_changes_list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: The shared drive from which changes will be returned. If specified
          the change IDs will be reflective of the shared drive; use the combined
          drive ID and change ID as an identifier.
        explode: true
        in: query
        name: driveId
        required: false
        schema:
          type: string
        style: form
      - description: "Whether changes should include the file resource if the file\
          \ is still accessible by the user at the time of the request, even when\
          \ a file was removed from the list of changes and there will be no further\
          \ change entries for this file."
        explode: true
        in: query
        name: includeCorpusRemovals
        required: false
        schema:
          type: boolean
        style: form
      - description: "Whether to include changes indicating that items have been removed\
          \ from the list of changes, for example by deletion or loss of access."
        explode: true
        in: query
        name: includeDeleted
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether both My Drive and shared drive items should be included
          in results.
        explode: true
        in: query
        name: includeItemsFromAllDrives
        required: false
        schema:
          type: boolean
        style: form
      - description: A comma-separated list of IDs of labels to include in the `labelInfo`
          part of the response.
        explode: true
        in: query
        name: includeLabels
        required: false
        schema:
          type: string
        style: form
      - description: Specifies which additional view's permissions to include in the
          response. Only `published` is supported.
        explode: true
        in: query
        name: includePermissionsForView
        required: false
        schema:
          type: string
        style: form
      - description: "Whether to include changes outside the My Drive hierarchy in\
          \ the result. When set to false, changes to files such as those in the Application\
          \ Data folder or shared files which have not been added to My Drive will\
          \ be omitted from the result."
        explode: true
        in: query
        name: includeSubscribed
        required: false
        schema:
          type: boolean
        style: form
      - description: "Deprecated: Use `includeItemsFromAllDrives` instead."
        explode: true
        in: query
        name: includeTeamDriveItems
        required: false
        schema:
          type: boolean
        style: form
      - description: Maximum number of changes to return.
        explode: true
        in: query
        name: maxResults
        required: false
        schema:
          minimum: 1
          type: integer
        style: form
      - description: The token for continuing a previous list request on the next
          page. This should be set to the value of `nextPageToken` from the previous
          response or to the response from the getStartPageToken method.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      - description: "A comma-separated list of spaces to query. Supported values\
          \ are `drive`, `appDataFolder` and `photos`."
        explode: true
        in: query
        name: spaces
        required: false
        schema:
          type: string
        style: form
      - description: "Deprecated: Use `pageToken` instead."
        explode: true
        in: query
        name: startChangeId
        required: false
        schema:
          type: string
        style: form
      - description: Whether the requesting application supports both My Drives and
          shared drives.
        explode: true
        in: query
        name: supportsAllDrives
        required: false
        schema:
          type: boolean
        style: form
      - description: "Deprecated: Use `supportsAllDrives` instead."
        explode: true
        in: query
        name: supportsTeamDrives
        required: false
        schema:
          type: boolean
        style: form
      - description: "Deprecated: Use `driveId` instead."
        explode: true
        in: query
        name: teamDriveId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChangeList'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/drive
        Oauth2c:
        - https://www.googleapis.com/auth/drive
      - Oauth2:
        - https://www.googleapis.com/auth/drive.appdata
        Oauth2c:
        - https://www.googleapis.com/auth/drive.appdata
      - Oauth2:
        - https://www.googleapis.com/auth/drive.apps.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/drive.apps.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/drive.file
        Oauth2c:
        - https://www.googleapis.com/auth/drive.file
      - Oauth2:
        - https://www.googleapis.com/auth/drive.metadata
        Oauth2c:
        - https://www.googleapis.com/auth/drive.metadata
      - Oauth2:
        - https://www.googleapis.com/auth/drive.metadata.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/drive.metadata.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/drive.photos.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/drive.photos.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/drive.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/drive.readonly
      tags:
      - changes
      x-openapi-router-controller: openapi_server.controllers.changes_controller
  /changes/startPageToken:
    get:
      description: Gets the starting pageToken for listing future changes.
      operationId: drive_changes_get_start_page_token
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: The ID of the shared drive for which the starting pageToken for
          listing future changes from that shared drive will be returned.
        explode: true
        in: query
        name: driveId
        required: false
        schema:
          type: string
        style: form
      - description: Whether the requesting application supports both My Drives and
          shared drives.
        explode: true
        in: query
        name: supportsAllDrives
        required: false
        schema:
          type: boolean
        style: form
      - description: "Deprecated: Use `supportsAllDrives` instead."
        explode: true
        in: query
        name: supportsTeamDrives
        required: false
        schema:
          type: boolean
        style: form
      - description: "Deprecated: Use `driveId` instead."
        explode: true
        in: query
        name: teamDriveId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StartPageToken'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/drive
        Oauth2c:
        - https://www.googleapis.com/auth/drive
      - Oauth2:
        - https://www.googleapis.com/auth/drive.appdata
        Oauth2c:
        - https://www.googleapis.com/auth/drive.appdata
      - Oauth2:
        - https://www.googleapis.com/auth/drive.apps.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/drive.apps.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/drive.file
        Oauth2c:
        - https://www.googleapis.com/auth/drive.file
      - Oauth2:
        - https://www.googleapis.com/auth/drive.metadata
        Oauth2c:
        - https://www.googleapis.com/auth/drive.metadata
      - Oauth2:
        - https://www.googleapis.com/auth/drive.metadata.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/drive.metadata.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/drive.photos.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/drive.photos.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/drive.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/drive.readonly
      tags:
      - changes
      x-openapi-router-controller: openapi_server.controllers.changes_controller
  /changes/watch:
    post:
      description: Subscribe to changes for a user.
      operationId: drive_changes_watch
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: The shared drive from which changes will be returned. If specified
          the change IDs will be reflective of the shared drive; use the combined
          drive ID and change ID as an identifier.
        explode: true
        in: query
        name: driveId
        required: false
        schema:
          type: string
        style: form
      - description: "Whether changes should include the file resource if the file\
          \ is still accessible by the user at the time of the request, even when\
          \ a file was removed from the list of changes and there will be no further\
          \ change entries for this file."
        explode: true
        in: query
        name: includeCorpusRemovals
        required: false
        schema:
          type: boolean
        style: form
      - description: "Whether to include changes indicating that items have been removed\
          \ from the list of changes, for example by deletion or loss of access."
        explode: true
        in: query
        name: includeDeleted
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether both My Drive and shared drive items should be included
          in results.
        explode: true
        in: query
        name: includeItemsFromAllDrives
        required: false
        schema:
          type: boolean
        style: form
      - description: A comma-separated list of IDs of labels to include in the `labelInfo`
          part of the response.
        explode: true
        in: query
        name: includeLabels
        required: false
        schema:
          type: string
        style: form
      - description: Specifies which additional view's permissions to include in the
          response. Only `published` is supported.
        explode: true
        in: query
        name: includePermissionsForView
        required: false
        schema:
          type: string
        style: form
      - description: "Whether to include changes outside the My Drive hierarchy in\
          \ the result. When set to false, changes to files such as those in the Application\
          \ Data folder or shared files which have not been added to My Drive will\
          \ be omitted from the result."
        explode: true
        in: query
        name: includeSubscribed
        required: false
        schema:
          type: boolean
        style: form
      - description: "Deprecated: Use `includeItemsFromAllDrives` instead."
        explode: true
        in: query
        name: includeTeamDriveItems
        required: false
        schema:
          type: boolean
        style: form
      - description: Maximum number of changes to return.
        explode: true
        in: query
        name: maxResults
        required: false
        schema:
          minimum: 1
          type: integer
        style: form
      - description: The token for continuing a previous list request on the next
          page. This should be set to the value of `nextPageToken` from the previous
          response or to the response from the getStartPageToken method.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      - description: "A comma-separated list of spaces to query. Supported values\
          \ are `drive`, `appDataFolder` and `photos`."
        explode: true
        in: query
        name: spaces
        required: false
        schema:
          type: string
        style: form
      - description: "Deprecated: Use `pageToken` instead."
        explode: true
        in: query
        name: startChangeId
        required: false
        schema:
          type: string
        style: form
      - description: Whether the requesting application supports both My Drives and
          shared drives.
        explode: true
        in: query
        name: supportsAllDrives
        required: false
        schema:
          type: boolean
        style: form
      - description: "Deprecated: Use `supportsAllDrives` instead."
        explode: true
        in: query
        name: supportsTeamDrives
        required: false
        schema:
          type: boolean
        style: form
      - description: "Deprecated: Use `driveId` instead."
        explode: true
        in: query
        name: teamDriveId
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Channel'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Channel'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/drive
        Oauth2c:
        - https://www.googleapis.com/auth/drive
      - Oauth2:
        - https://www.googleapis.com/auth/drive.appdata
        Oauth2c:
        - https://www.googleapis.com/auth/drive.appdata
      - Oauth2:
        - https://www.googleapis.com/auth/drive.apps.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/drive.apps.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/drive.file
        Oauth2c:
        - https://www.googleapis.com/auth/drive.file
      - Oauth2:
        - https://www.googleapis.com/auth/drive.metadata
        Oauth2c:
        - https://www.googleapis.com/auth/drive.metadata
      - Oauth2:
        - https://www.googleapis.com/auth/drive.metadata.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/drive.metadata.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/drive.photos.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/drive.photos.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/drive.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/drive.readonly
      tags:
      - changes
      x-openapi-router-controller: openapi_server.controllers.changes_controller
      x-codegen-request-body-name: body
  /changes/{changeId}:
    get:
      description: "Deprecated: Use `changes.getStartPageToken` and `changes.list`\
        \ to retrieve recent changes."
      operationId: drive_changes_get
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: The ID of the change.
        explode: false
        in: path
        name: changeId
        required: true
        schema:
          type: string
        style: simple
      - description: The shared drive from which the change will be returned.
        explode: true
        in: query
        name: driveId
        required: false
        schema:
          type: string
        style: form
      - description: Whether the requesting application supports both My Drives and
          shared drives.
        explode: true
        in: query
        name: supportsAllDrives
        required: false
        schema:
          type: boolean
        style: form
      - description: "Deprecated: Use `supportsAllDrives` instead."
        explode: true
        in: query
        name: supportsTeamDrives
        required: false
        schema:
          type: boolean
        style: form
      - description: "Deprecated: Use `driveId` instead."
        explode: true
        in: query
        name: teamDriveId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Change'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/drive
        Oauth2c:
        - https://www.googleapis.com/auth/drive
      - Oauth2:
        - https://www.googleapis.com/auth/drive.appdata
        Oauth2c:
        - https://www.googleapis.com/auth/drive.appdata
      - Oauth2:
        - https://www.googleapis.com/auth/drive.apps.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/drive.apps.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/drive.file
        Oauth2c:
        - https://www.googleapis.com/auth/drive.file
      - Oauth2:
        - https://www.googleapis.com/auth/drive.metadata
        Oauth2c:
        - https://www.googleapis.com/auth/drive.metadata
      - Oauth2:
        - https://www.googleapis.com/auth/drive.metadata.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/drive.metadata.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/drive.photos.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/drive.photos.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/drive.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/drive.readonly
      tags:
      - changes
      x-openapi-router-controller: openapi_server.controllers.changes_controller
  /channels/stop:
    post:
      description: Stops watching resources through this channel.
      operationId: drive_channels_stop
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Channel'
        x-body-name: body
      responses:
        "200":
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/drive
        Oauth2c:
        - https://www.googleapis.com/auth/drive
      - Oauth2:
        - https://www.googleapis.com/auth/drive.appdata
        Oauth2c:
        - https://www.googleapis.com/auth/drive.appdata
      - Oauth2:
        - https://www.googleapis.com/auth/drive.apps.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/drive.apps.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/drive.file
        Oauth2c:
        - https://www.googleapis.com/auth/drive.file
      - Oauth2:
        - https://www.googleapis.com/auth/drive.metadata
        Oauth2c:
        - https://www.googleapis.com/auth/drive.metadata
      - Oauth2:
        - https://www.googleapis.com/auth/drive.metadata.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/drive.metadata.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/drive.photos.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/drive.photos.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/drive.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/drive.readonly
      tags:
      - channels
      x-openapi-router-controller: openapi_server.controllers.channels_controller
      x-codegen-request-body-name: body
  /drives:
    get:
      description: " Lists the user's shared drives. This method accepts the `q` parameter,\
        \ which is a search query combining one or more search terms. For more information,\
        \ see the [Search for shared drives](/drive/api/guides/search-shareddrives)\
        \ guide."
      operationId: drive_drives_list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Maximum number of shared drives to return per page.
        explode: true
        in: query
        name: maxResults
        required: false
        schema:
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Page token for shared drives.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      - description: Query string for searching shared drives.
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      - description: "Issue the request as a domain administrator; if set to true,\
          \ then all shared drives of the domain in which the requester is an administrator\
          \ are returned."
        explode: true
        in: query
        name: useDomainAdminAccess
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DriveList'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/drive
        Oauth2c:
        - https://www.googleapis.com/auth/drive
      - Oauth2:
        - https://www.googleapis.com/auth/drive.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/drive.readonly
      tags:
      - drives
      x-openapi-router-controller: openapi_server.controllers.drives_controller
    post:
      description: Creates a new shared drive.
      operationId: drive_drives_insert
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. An ID, such as a random UUID, which uniquely identifies\
          \ this user's request for idempotent creation of a shared drive. A repeated\
          \ request by the same user and with the same request ID will avoid creating\
          \ duplicates by attempting to create the same shared drive. If the shared\
          \ drive already exists a 409 error will be returned."
        explode: true
        in: query
        name: requestId
        required: true
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Drive'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Drive'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/drive
        Oauth2c:
        - https://www.googleapis.com/auth/drive
      tags:
      - drives
      x-openapi-router-controller: openapi_server.controllers.drives_controller
      x-codegen-request-body-name: body
  /drives/{driveId}:
    delete:
      description: Permanently deletes a shared drive for which the user is an `organizer`.
        The shared drive cannot contain any untrashed items.
      operationId: drive_drives_delete
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: The ID of the shared drive.
        explode: false
        in: path
        name: driveId
        required: true
        schema:
          type: string
        style: simple
      - description: Whether any items inside the shared drive should also be deleted.
          This option is only supported when `useDomainAdminAccess` is also set to
          `true`.
        explode: true
        in: query
        name: allowItemDeletion
        required: false
        schema:
          type: boolean
        style: form
      - description: "Issue the request as a domain administrator; if set to true,\
          \ then the requester will be granted access if they are an administrator\
          \ of the domain to which the shared drive belongs."
        explode: true
        in: query
        name: useDomainAdminAccess
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/drive
        Oauth2c:
        - https://www.googleapis.com/auth/drive
      tags:
      - drives
      x-openapi-router-controller: openapi_server.controllers.drives_controller
    get:
      description: Gets a shared drive's metadata by ID.
      operationId: drive_drives_get
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: The ID of the shared drive.
        explode: false
        in: path
        name: driveId
        required: true
        schema:
          type: string
        style: simple
      - description: "Issue the request as a domain administrator; if set to true,\
          \ then the requester will be granted access if they are an administrator\
          \ of the domain to which the shared drive belongs."
        explode: true
        in: query
        name: useDomainAdminAccess
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Drive'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/drive
        Oauth2c:
        - https://www.googleapis.com/auth/drive
      - Oauth2:
        - https://www.googleapis.com/auth/drive.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/drive.readonly
      tags:
      - drives
      x-openapi-router-controller: openapi_server.controllers.drives_controller
    put:
      description: Updates the metadata for a shared drive.
      operationId: drive_drives_update
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: The ID of the shared drive.
        explode: false
        in: path
        name: driveId
        required: true
        schema:
          type: string
        style: simple
      - description: "Issue the request as a domain administrator; if set to true,\
          \ then the requester will be granted access if they are an administrator\
          \ of the domain to which the shared drive belongs."
        explode: true
        in: query
        name: useDomainAdminAccess
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Drive'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Drive'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/drive
        Oauth2c:
        - https://www.googleapis.com/auth/drive
      tags:
      - drives
      x-openapi-router-controller: openapi_server.controllers.drives_controller
      x-codegen-request-body-name: body
  /drives/{driveId}/hide:
    post:
      description: Hides a shared drive from the default view.
      operationId: drive_drives_hide
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: The ID of the shared drive.
        explode: false
        in: path
        name: driveId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Drive'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/drive
        Oauth2c:
        - https://www.googleapis.com/auth/drive
      tags:
      - drives
      x-openapi-router-controller: openapi_server.controllers.drives_controller
  /drives/{driveId}/unhide:
    post:
      description: Restores a shared drive to the default view.
      operationId: drive_drives_unhide
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: The ID of the shared drive.
        explode: false
        in: path
        name: driveId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Drive'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/drive
        Oauth2c:
        - https://www.googleapis.com/auth/drive
      tags:
      - drives
      x-openapi-router-controller: openapi_server.controllers.drives_controller
  /files:
    get:
      description: " Lists the user's files. This method accepts the `q` parameter,\
        \ which is a search query combining one or more search terms. For more information,\
        \ see the [Search for files & folders](/drive/api/guides/search-files) guide.\
        \ *Note:* This method returns *all* files by default, including trashed files.\
        \ If you don't want trashed files to appear in the list, use the `trashed=false`\
        \ query parameter to remove trashed files from the results."
      operationId: drive_files_list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Bodies of items (files/documents) to which the query applies.\
          \ Supported bodies are `default`, `domain`, `drive` and `allDrives`. Prefer\
          \ `default` or `drive` to `allDrives` for efficiency."
        explode: true
        in: query
        name: corpora
        required: false
        schema:
          type: string
        style: form
      - description: "Deprecated: The body of items (files/documents) to which the\
          \ query applies. Use `corpora` instead."
        explode: true
        in: query
        name: corpus
        required: false
        schema:
          enum:
          - DEFAULT
          - DOMAIN
          type: string
        style: form
      - description: ID of the shared drive to search.
        explode: true
        in: query
        name: driveId
        required: false
        schema:
          type: string
        style: form
      - description: Whether both My Drive and shared drive items should be included
          in results.
        explode: true
        in: query
        name: includeItemsFromAllDrives
        required: false
        schema:
          type: boolean
        style: form
      - description: A comma-separated list of IDs of labels to include in the `labelInfo`
          part of the response.
        explode: true
        in: query
        name: includeLabels
        required: false
        schema:
          type: string
        style: form
      - description: Specifies which additional view's permissions to include in the
          response. Only `published` is supported.
        explode: true
        in: query
        name: includePermissionsForView
        required: false
        schema:
          type: string
        style: form
      - description: "Deprecated: Use `includeItemsFromAllDrives` instead."
        explode: true
        in: query
        name: includeTeamDriveItems
        required: false
        schema:
          type: boolean
        style: form
      - description: The maximum number of files to return per page. Partial or empty
          result pages are possible even before the end of the files list has been
          reached.
        explode: true
        in: query
        name: maxResults
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: "A comma-separated list of sort keys. Valid keys are `createdDate`,\
          \ `folder`, `lastViewedByMeDate`, `modifiedByMeDate`, `modifiedDate`, `quotaBytesUsed`,\
          \ `recency`, `sharedWithMeDate`, `starred`, `title`, and `title_natural`.\
          \ Each key sorts ascending by default, but may be reversed with the `desc`\
          \ modifier. Example usage: ?orderBy=folder,modifiedDate desc,title. Please\
          \ note that there is a current limitation for users with approximately one\
          \ million files in which the requested sort order is ignored."
        explode: true
        in: query
        name: orderBy
        required: false
        schema:
          type: string
        style: form
      - description: Page token for files.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      - description: "Deprecated: This parameter has no function."
        explode: true
        in: query
        name: projection
        required: false
        schema:
          enum:
          - BASIC
          - FULL
          type: string
        style: form
      - description: Query string for searching files.
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      - description: "A comma-separated list of spaces to query. Supported values\
          \ are `drive`, and `appDataFolder`."
        explode: true
        in: query
        name: spaces
        required: false
        schema:
          type: string
        style: form
      - description: Whether the requesting application supports both My Drives and
          shared drives.
        explode: true
        in: query
        name: supportsAllDrives
        required: false
        schema:
          type: boolean
        style: form
      - description: "Deprecated: Use `supportsAllDrives` instead."
        explode: true
        in: query
        name: supportsTeamDrives
        required: false
        schema:
          type: boolean
        style: form
      - description: "Deprecated: Use `driveId` instead."
        explode: true
        in: query
        name: teamDriveId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileList'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/drive
        Oauth2c:
        - https://www.googleapis.com/auth/drive
      - Oauth2:
        - https://www.googleapis.com/auth/drive.appdata
        Oauth2c:
        - https://www.googleapis.com/auth/drive.appdata
      - Oauth2:
        - https://www.googleapis.com/auth/drive.apps.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/drive.apps.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/drive.file
        Oauth2c:
        - https://www.googleapis.com/auth/drive.file
      - Oauth2:
        - https://www.googleapis.com/auth/drive.metadata
        Oauth2c:
        - https://www.googleapis.com/auth/drive.metadata
      - Oauth2:
        - https://www.googleapis.com/auth/drive.metadata.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/drive.metadata.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/drive.photos.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/drive.photos.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/drive.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/drive.readonly
      tags:
      - files
      x-openapi-router-controller: openapi_server.controllers.files_controller
    post:
      description: " Inserts a new file. This method supports an */upload* URI and\
        \ accepts uploaded media with the following characteristics: - *Maximum file\
        \ size:* 5,120 GB - *Accepted Media MIME types:*`*/*` Note: Specify a valid\
        \ MIME type, rather than the literal `*/*` value. The literal `*/*` is only\
        \ used to indicate that any valid MIME type can be uploaded. For more information\
        \ on uploading files, see [Upload file data](/drive/api/guides/manage-uploads).\
        \ Apps creating shortcuts with `files.insert` must specify the MIME type `application/vnd.google-apps.shortcut`.\
        \ Apps should specify a file extension in the `title` property when inserting\
        \ files with the API. For example, an operation to insert a JPEG file should\
        \ specify something like `\"title\": \"cat.jpg\"` in the metadata. Subsequent\
        \ `GET` requests include the read-only `fileExtension` property populated\
        \ with the extension originally specified in the `title` property. When a\
        \ Google Drive user requests to download a file, or when the file is downloaded\
        \ through the sync client, Drive builds a full filename (with extension) based\
        \ on the title. In cases where the extension is missing, Drive attempts to\
        \ determine the extension based on the file's MIME type."
      operationId: drive_files_insert
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Whether to convert this file to the corresponding Docs Editors
          format.
        explode: true
        in: query
        name: convert
        required: false
        schema:
          type: boolean
        style: form
      - description: "Deprecated: Creating files in multiple folders is no longer\
          \ supported."
        explode: true
        in: query
        name: enforceSingleParent
        required: false
        schema:
          type: boolean
        style: form
      - description: A comma-separated list of IDs of labels to include in the `labelInfo`
          part of the response.
        explode: true
        in: query
        name: includeLabels
        required: false
        schema:
          type: string
        style: form
      - description: Specifies which additional view's permissions to include in the
          response. Only `published` is supported.
        explode: true
        in: query
        name: includePermissionsForView
        required: false
        schema:
          type: string
        style: form
      - description: "Whether to attempt OCR on .jpg, .png, .gif, or .pdf uploads."
        explode: true
        in: query
        name: ocr
        required: false
        schema:
          type: boolean
        style: form
      - description: "If ocr is true, hints at the language to use. Valid values are\
          \ BCP 47 codes."
        explode: true
        in: query
        name: ocrLanguage
        required: false
        schema:
          type: string
        style: form
      - description: Whether to pin the head revision of the uploaded file. A file
          can have a maximum of 200 pinned revisions.
        explode: true
        in: query
        name: pinned
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether the requesting application supports both My Drives and
          shared drives.
        explode: true
        in: query
        name: supportsAllDrives
        required: false
        schema:
          type: boolean
        style: form
      - description: "Deprecated: Use `supportsAllDrives` instead."
        explode: true
        in: query
        name: supportsTeamDrives
        required: false
        schema:
          type: boolean
        style: form
      - description: The language of the timed text.
        explode: true
        in: query
        name: timedTextLanguage
        required: false
        schema:
          type: string
        style: form
      - description: The timed text track name.
        explode: true
        in: query
        name: timedTextTrackName
        required: false
        schema:
          type: string
        style: form
      - description: Whether to use the content as indexable text.
        explode: true
        in: query
        name: useContentAsIndexableText
        required: false
        schema:
          type: boolean
        style: form
      - description: The visibility of the new file. This parameter is only relevant
          when convert=false.
        explode: true
        in: query
        name: visibility
        required: false
        schema:
          enum:
          - DEFAULT
          - PRIVATE
          type: string
        style: form
      requestBody:
        content:
          application/octet-stream:
            schema:
              $ref: '#/components/schemas/File'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/File'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/drive
        Oauth2c:
        - https://www.googleapis.com/auth/drive
      - Oauth2:
        - https://www.googleapis.com/auth/drive.appdata
        Oauth2c:
        - https://www.googleapis.com/auth/drive.appdata
      - Oauth2:
        - https://www.googleapis.com/auth/drive.apps.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/drive.apps.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/drive.file
        Oauth2c:
        - https://www.googleapis.com/auth/drive.file
      tags:
      - files
      x-openapi-router-controller: openapi_server.controllers.files_controller
      x-codegen-request-body-name: body
  /files/generateIds:
    get:
      description: Generates a set of file IDs which can be provided in insert or
        copy requests.
      operationId: drive_files_generate_ids
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Maximum number of IDs to return.
        explode: true
        in: query
        name: maxResults
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: "The space in which the IDs can be used to create new files.\
          \ Supported values are `drive` and `appDataFolder`. (Default: `drive`)"
        explode: true
        in: query
        name: space
        required: false
        schema:
          type: string
        style: form
      - description: "The type of items which the IDs can be used for. Supported values\
          \ are `files` and `shortcuts`. Note that `shortcuts` are only supported\
          \ in the `drive` `space`. (Default: `files`)"
        explode: true
        in: query
        name: type
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneratedIds'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/drive
        Oauth2c:
        - https://www.googleapis.com/auth/drive
      - Oauth2:
        - https://www.googleapis.com/auth/drive.appdata
        Oauth2c:
        - https://www.googleapis.com/auth/drive.appdata
      - Oauth2:
        - https://www.googleapis.com/auth/drive.file
        Oauth2c:
        - https://www.googleapis.com/auth/drive.file
      tags:
      - files
      x-openapi-router-controller: openapi_server.controllers.files_controller
  /files/trash:
    delete:
      description: Permanently deletes all of the user's trashed files.
      operationId: drive_files_empty_trash
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
[...]
