openapi: 3.0.1
info:
  description: The Microsoft Azure Network management API provides a RESTful set of
    web services that interact with Microsoft Azure Networks service to manage your
    network resources. The API has entities that capture the relationship between
    an end user and the Microsoft Azure Networks service.
  title: NetworkManagementClient
  version: 2019-07-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/network/resource-manager/Microsoft.Network/stable/2019-07-01/serviceCommunity.json
    version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: network-serviceCommunity
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/bgpServiceCommunities:
    get:
      description: Gets all the available bgp service communities.
      operationId: bgp_service_communities_list
      parameters:
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BgpServiceCommunityListResult'
          description: Request successful. The operation returns a list of BgpServiceCommunity
            resources.
      tags:
      - BgpServiceCommunities
      x-ms-examples:
        ServiceCommunityList:
          parameters:
            api-version: 2019-07-01
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subid/providers/Microsoft.Network/bgpServiceCommunities/skype
                  name: skype
                  properties:
                    bgpCommunities:
                    - communityName: Skype For Business Online
                      communityPrefixes:
                      - 13.67.56.225/32
                      - 13.67.186.105/32
                      communityValue: 12076:5030
                      isAuthorizedToUse: true
                      serviceGroup: O365
                      serviceSupportedRegion: Global
                    serviceName: skype
                  type: Microsoft.Network/bgpServiceCommunities
                - id: /subscriptions/subid/providers/Microsoft.Network/bgpServiceCommunities/exchange
                  name: exchange
                  properties:
                    bgpCommunities:
                    - communityName: Exchange Online
                      communityPrefixes:
                      - 13.67.56.225/32
                      - 13.67.186.105/32
                      communityValue: 12076:5040
                      isAuthorizedToUse: true
                      serviceGroup: O365
                      serviceSupportedRegion: Global
                    serviceName: exchange
                  type: Microsoft.Network/bgpServiceCommunities
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.bgp_service_communities_controller
components:
  schemas:
    BGPCommunity:
      description: Contains bgp community information offered in Service Community
        resources.
      example:
        communityPrefixes:
        - communityPrefixes
        - communityPrefixes
        serviceSupportedRegion: serviceSupportedRegion
        serviceGroup: serviceGroup
        communityName: communityName
        communityValue: communityValue
        isAuthorizedToUse: true
      properties:
        communityName:
          description: The name of the bgp community. e.g. Skype.
          title: communityName
          type: string
        communityPrefixes:
          description: The prefixes that the bgp community contains.
          items:
            type: string
          title: communityPrefixes
          type: array
        communityValue:
          description: "The value of the bgp community. For more information: https://docs.microsoft.com/en-us/azure/expressroute/expressroute-routing."
          title: communityValue
          type: string
        isAuthorizedToUse:
          description: Customer is authorized to use bgp community or not.
          title: isAuthorizedToUse
          type: boolean
        serviceGroup:
          description: The service group of the bgp community contains.
          title: serviceGroup
          type: string
        serviceSupportedRegion:
          description: "The region which the service support. e.g. For O365, region\
            \ is Global."
          title: serviceSupportedRegion
          type: string
      title: BGPCommunity
      type: object
    BgpServiceCommunity:
      allOf:
      - description: Common resource representation.
        properties:
          id:
            description: Resource ID.
            type: string
          location:
            description: Resource location.
            type: string
          name:
            description: Resource name.
            readOnly: true
            type: string
          tags:
            additionalProperties:
              type: string
            description: Resource tags.
            type: object
          type:
            description: Resource type.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: Service Community Properties.
      example:
        properties:
          bgpCommunities:
          - communityPrefixes:
            - communityPrefixes
            - communityPrefixes
            serviceSupportedRegion: serviceSupportedRegion
            serviceGroup: serviceGroup
            communityName: communityName
            communityValue: communityValue
            isAuthorizedToUse: true
          - communityPrefixes:
            - communityPrefixes
            - communityPrefixes
            serviceSupportedRegion: serviceSupportedRegion
            serviceGroup: serviceGroup
            communityName: communityName
            communityValue: communityValue
            isAuthorizedToUse: true
          serviceName: serviceName
      properties:
        properties:
          $ref: '#/components/schemas/BgpServiceCommunityPropertiesFormat'
      title: BgpServiceCommunity
    BgpServiceCommunityListResult:
      description: Response for the ListServiceCommunity API service call.
      example:
        value:
        - properties:
            bgpCommunities:
            - communityPrefixes:
              - communityPrefixes
              - communityPrefixes
              serviceSupportedRegion: serviceSupportedRegion
              serviceGroup: serviceGroup
              communityName: communityName
              communityValue: communityValue
              isAuthorizedToUse: true
            - communityPrefixes:
              - communityPrefixes
              - communityPrefixes
              serviceSupportedRegion: serviceSupportedRegion
              serviceGroup: serviceGroup
              communityName: communityName
              communityValue: communityValue
              isAuthorizedToUse: true
            serviceName: serviceName
        - properties:
            bgpCommunities:
            - communityPrefixes:
              - communityPrefixes
              - communityPrefixes
              serviceSupportedRegion: serviceSupportedRegion
              serviceGroup: serviceGroup
              communityName: communityName
              communityValue: communityValue
              isAuthorizedToUse: true
            - communityPrefixes:
              - communityPrefixes
              - communityPrefixes
              serviceSupportedRegion: serviceSupportedRegion
              serviceGroup: serviceGroup
              communityName: communityName
              communityValue: communityValue
              isAuthorizedToUse: true
            serviceName: serviceName
        nextLink: nextLink
      properties:
        nextLink:
          description: The URL to get the next set of results.
          title: nextLink
          type: string
        value:
          description: A list of service community resources.
          items:
            $ref: '#/components/schemas/BgpServiceCommunity'
          title: value
          type: array
      title: BgpServiceCommunityListResult
      type: object
    BgpServiceCommunityPropertiesFormat:
      description: Properties of Service Community.
      example:
        bgpCommunities:
        - communityPrefixes:
          - communityPrefixes
          - communityPrefixes
          serviceSupportedRegion: serviceSupportedRegion
          serviceGroup: serviceGroup
          communityName: communityName
          communityValue: communityValue
          isAuthorizedToUse: true
        - communityPrefixes:
          - communityPrefixes
          - communityPrefixes
          serviceSupportedRegion: serviceSupportedRegion
          serviceGroup: serviceGroup
          communityName: communityName
          communityValue: communityValue
          isAuthorizedToUse: true
        serviceName: serviceName
      properties:
        bgpCommunities:
          description: A list of bgp communities.
          items:
            $ref: '#/components/schemas/BGPCommunity'
          title: bgpCommunities
          type: array
        serviceName:
          description: The name of the bgp community. e.g. Skype.
          title: serviceName
          type: string
      title: BgpServiceCommunityPropertiesFormat
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
