openapi: 3.0.1
info:
  description: REST API for MarketplaceOrdering Agreements.
  title: MarketplaceOrdering.Agreements
  version: 2015-06-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/marketplaceordering/resource-manager/Microsoft.MarketplaceOrdering/stable/2015-06-01/Agreements.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: marketplaceordering-Agreements
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.MarketplaceOrdering/operations:
    get:
      description: Lists all of the available Microsoft.MarketplaceOrdering REST API
        operations.
      operationId: operations_list
      parameters:
      - description: The API version to use for the request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Microsoft.MarketplaceOrdering error response describing why
            the operation failed.
      tags:
      - Operations
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.operations_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.MarketplaceOrdering/agreements:
    get:
      description: List marketplace agreements in the subscription.
      operationId: marketplace_agreements_list
      parameters:
      - description: The API version to use for the request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AgreementTerms'
                type: array
          description: Terms returned successfully
      x-ms-examples:
        SetMarketplaceTerms:
          parameters:
            api-version: 2016-04-01
            subscriptionId: subid
          responses:
            "200":
              body:
              - id: id
                name: planid
                properties:
                  accepted: true
                  licenseTextLink: test.licenseLink
                  plan: planid
                  privacyPolicyLink: test.privacyPolicyLink
                  product: offid
                  publisher: pubid
                  retrieveDatetime: 2017-08-15T11:33:07.12132Z
                  signature: ASDFSDAFWEFASDGWERLWER
                type: Microsoft.MarketplaceOrdering/offertypes
      x-openapi-router-controller: openapi_server.controllers.default_controller
  ? /subscriptions/{subscriptionId}/providers/Microsoft.MarketplaceOrdering/agreements/{publisherId}/offers/{offerId}/plans/{planId}
  : get:
      description: Get marketplace agreement.
      operationId: marketplace_agreements_get_agreement
      parameters:
      - description: The API version to use for the request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Publisher identifier string of image being deployed.
        in: path
        name: publisherId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Offer identifier string of image being deployed.
        in: path
        name: offerId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Plan identifier string of image being deployed.
        in: path
        name: planId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgreementTerms'
          description: Terms returned successfully
      x-ms-examples:
        SetMarketplaceTerms:
          parameters:
            api-version: 2016-04-01
            offerId: offid
            planId: planid
            publisherId: pubid
            subscriptionId: subid
          responses:
            "200":
              body:
                id: id
                name: planid
                properties:
                  accepted: true
                  licenseTextLink: test.licenseLink
                  plan: planid
                  privacyPolicyLink: test.privacyPolicyLink
                  product: offid
                  publisher: pubid
                  retrieveDatetime: 2017-08-15T11:33:07.12132Z
                  signature: ASDFSDAFWEFASDGWERLWER
                type: Microsoft.MarketplaceOrdering/offertypes
      x-openapi-router-controller: openapi_server.controllers.default_controller
  ? /subscriptions/{subscriptionId}/providers/Microsoft.MarketplaceOrdering/agreements/{publisherId}/offers/{offerId}/plans/{planId}/cancel
  : post:
      description: Cancel marketplace terms.
      operationId: marketplace_agreements_cancel
      parameters:
      - description: The API version to use for the request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Publisher identifier string of image being deployed.
        in: path
        name: publisher_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Offer identifier string of image being deployed.
        in: path
        name: offer_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Plan identifier string of image being deployed.
        in: path
        name: plan_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgreementTerms'
          description: OK. The request was successfully processed and the terms were
            rejected.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Microsoft.MarketplaceOrdering error response describing why
            the operation failed.
      x-ms-examples:
        SetMarketplaceTerms:
          parameters:
            api-version: 2016-04-01
            offerId: offid
            planId: planid
            publisherId: pubid
            subscriptionId: subid
          responses:
            "200":
              body:
                id: id
                name: planid
                properties:
                  accepted: false
                  licenseTextLink: test.licenseLink
                  plan: planid
                  privacyPolicyLink: test.privacyPolicyLink
                  product: offid
                  publisher: pubid
                  retrieveDatetime: 2017-08-15T11:33:07.12132Z
                  signature: ASDFSDAFWEFASDGWERLWER
                type: Microsoft.MarketplaceOrdering/offertypes
      x-openapi-router-controller: openapi_server.controllers.default_controller
  ? /subscriptions/{subscriptionId}/providers/Microsoft.MarketplaceOrdering/agreements/{publisherId}/offers/{offerId}/plans/{planId}/sign
  : post:
      description: Sign marketplace terms.
      operationId: marketplace_agreements_sign
      parameters:
      - description: The API version to use for the request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Publisher identifier string of image being deployed.
        in: path
        name: publisher_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Offer identifier string of image being deployed.
        in: path
        name: offer_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Plan identifier string of image being deployed.
        in: path
        name: plan_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgreementTerms'
          description: OK. The request was successfully processed and the terms were
            accepted.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Microsoft.MarketplaceOrdering error response describing why
            the operation failed.
      x-ms-examples:
        SetMarketplaceTerms:
          parameters:
            api-version: 2016-04-01
            offerId: offid
            planId: planid
            publisherId: pubid
            subscriptionId: subid
          responses:
            "200":
              body:
                id: id
                name: planid
                properties:
                  accepted: true
                  licenseTextLink: test.licenseLink
                  plan: planid
                  privacyPolicyLink: test.privacyPolicyLink
                  product: offid
                  publisher: pubid
                  retrieveDatetime: 2017-08-15T11:33:07.12132Z
                  signature: ASDFSDAFWEFASDGWERLWER
                type: Microsoft.MarketplaceOrdering/offertypes
      x-openapi-router-controller: openapi_server.controllers.default_controller
  ? /subscriptions/{subscriptionId}/providers/Microsoft.MarketplaceOrdering/offerTypes/{offerType}/publishers/{publisherId}/offers/{offerId}/plans/{planId}/agreements/current
  : get:
      description: Get marketplace terms.
      operationId: marketplace_agreements_get
      parameters:
      - description: The API version to use for the request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: "Offer Type, currently only virtualmachine type is supported."
        in: path
        name: offerType
        required: true
        schema:
          enum:
          - virtualmachine
          type: string
          x-ms-enum:
            modelAsString: true
            name: OfferType
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: OfferType
        x-ms-parameter-location: method
      - description: Publisher identifier string of image being deployed.
        in: path
        name: publisher_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Offer identifier string of image being deployed.
        in: path
        name: offer_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Plan identifier string of image being deployed.
        in: path
        name: plan_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgreementTerms'
          description: Terms returned successfully
      x-ms-examples:
        GetMarketplaceTerms:
          parameters:
            api-version: 2016-04-01
            offerId: offid
            offerType: virtualmachine
            planId: planid
            publisherId: pubid
            subscriptionId: subid
          responses:
            "200":
              body:
                id: id
                name: planid
                properties:
                  accepted: true
                  licenseTextLink: test.licenseLink
                  plan: planid
                  privacyPolicyLink: test.privacyPolicyLink
                  product: offid
                  publisher: pubid
                  retrieveDatetime: 2017-08-15T11:33:07.12132Z
                  signature: ASDFSDAFWEFASDGWERLWER
                type: Microsoft.MarketplaceOrdering/offertypes
      x-openapi-router-controller: openapi_server.controllers.default_controller
    put:
      description: Save marketplace terms.
      operationId: marketplace_agreements_create
      parameters:
      - description: The API version to use for the request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: "Offer Type, currently only virtualmachine type is supported."
        in: path
        name: offer_type
        required: true
        schema:
          enum:
          - virtualmachine
          type: string
          x-ms-enum:
            modelAsString: true
            name: OfferType
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: OfferType
        x-ms-parameter-location: method
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Publisher identifier string of image being deployed.
        in: path
        name: publisher_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Offer identifier string of image being deployed.
        in: path
        name: offer_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Plan identifier string of image being deployed.
        in: path
        name: plan_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgreementTerms'
        description: Parameters supplied to the Create Marketplace Terms operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgreementTerms'
          description: OK. The request was successfully processed and the terms were
            accepted or acceptance revoked as per the request body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Microsoft.MarketplaceOrdering error response describing why
            the operation failed.
      x-ms-examples:
        SetMarketplaceTerms:
          parameters:
            api-version: 2016-04-01
            offerId: offid
            offerType: virtualmachine
            parameters:
              id: id
              name: planid
              properties:
                accepted: false
                licenseTextLink: test.licenseLink
                plan: planid
                privacyPolicyLink: test.privacyPolicyLink
                product: offid
                publisher: pubid
                retrieveDatetime: 2017-08-15T11:33:07.12132Z
                signature: ASDFSDAFWEFASDGWERLWER
              type: Microsoft.MarketplaceOrdering/offertypes
            planId: planid
            publisherId: pubid
            subscriptionId: subid
          responses:
            "200":
              body:
                id: id
                name: planid
                properties:
                  accepted: true
                  licenseTextLink: test.licenseLink
                  plan: planid
                  privacyPolicyLink: test.privacyPolicyLink
                  product: offid
                  publisher: pubid
                  retrieveDatetime: 2017-08-15T11:33:07.12132Z
                  signature: ASDFSDAFWEFASDGWERLWER
                type: Microsoft.MarketplaceOrdering/offertypes
              description: OK. The request was successfully processed and the terms
                were accepted or acceptance revoked as per the request body.
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.default_controller
components:
  parameters:
    ApiVersionParameter:
      description: The API version to use for the request.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    OfferTypeParameter:
      description: "Offer Type, currently only virtualmachine type is supported."
      in: path
      name: offerType
      required: true
      schema:
        enum:
        - virtualmachine
        type: string
        x-ms-enum:
          modelAsString: true
          name: OfferType
        x-ms-parameter-location: method
      x-ms-enum:
        modelAsString: true
        name: OfferType
      x-ms-parameter-location: method
    OffersParameter:
      description: Offer identifier string of image being deployed.
      in: path
      name: offerId
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    PlansParameter:
      description: Plan identifier string of image being deployed.
      in: path
      name: planId
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    PublishersParameter:
      description: Publisher identifier string of image being deployed.
      in: path
      name: publisherId
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: The subscription ID that identifies an Azure subscription.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    AgreementProperties:
      description: Agreement Terms definition
      example:
        product: product
        retrieveDatetime: 2000-01-23T04:56:07.000+00:00
        signature: signature
        accepted: true
        licenseTextLink: licenseTextLink
        publisher: publisher
        plan: plan
        privacyPolicyLink: privacyPolicyLink
      properties:
        accepted:
          description: "If any version of the terms have been accepted, otherwise\
            \ false."
          title: accepted
          type: boolean
        licenseTextLink:
          description: Link to HTML with Microsoft and Publisher terms.
          title: licenseTextLink
          type: string
        plan:
          description: Plan identifier string of image being deployed.
          title: plan
          type: string
        privacyPolicyLink:
          description: Link to the privacy policy of the publisher.
          title: privacyPolicyLink
          type: string
        product:
          description: Offer identifier string of image being deployed.
          title: product
          type: string
        publisher:
          description: Publisher identifier string of image being deployed.
          title: publisher
          type: string
        retrieveDatetime:
          description: Date and time in UTC of when the terms were accepted. This
            is empty if Accepted is false.
          format: date-time
          title: retrieveDatetime
          type: string
        signature:
          description: Terms signature.
          title: signature
          type: string
      title: AgreementProperties
      type: object
    AgreementTerms:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: Terms properties for provided Publisher/Offer/Plan tuple
      example:
        properties:
          product: product
          retrieveDatetime: 2000-01-23T04:56:07.000+00:00
          signature: signature
          accepted: true
          licenseTextLink: licenseTextLink
          publisher: publisher
          plan: plan
          privacyPolicyLink: privacyPolicyLink
      properties:
        properties:
          $ref: '#/components/schemas/AgreementProperties'
      title: AgreementTerms
    ErrorResponse:
      description: Error response indicates Microsoft.MarketplaceOrdering service
        is not able to process the incoming request. The reason is provided in the
        error message.
      example:
        error:
          code: code
          message: message
      properties:
        error:
          $ref: '#/components/schemas/ErrorResponse_error'
      title: ErrorResponse
      type: object
    Operation:
      description: Microsoft.MarketplaceOrdering REST API operation
      example:
        display:
          provider: provider
          resource: resource
          operation: operation
        name: name
      properties:
        display:
          $ref: '#/components/schemas/Operation_display'
        name:
          description: "Operation name: {provider}/{resource}/{operation}"
          title: name
          type: string
      title: Operation
      type: object
    OperationListResult:
      description: Result of the request to list MarketplaceOrdering operations. It
        contains a list of operations and a URL link to get the next set of results.
      example:
        value:
        - display:
            provider: provider
            resource: resource
            operation: operation
          name: name
        - display:
            provider: provider
            resource: resource
            operation: operation
          name: name
        nextLink: nextLink
      properties:
        nextLink:
          description: URL to get the next set of operation list results if there
            are any.
          readOnly: true
          title: nextLink
          type: string
        value:
          description: List of Microsoft.MarketplaceOrdering operations supported
            by the Microsoft.MarketplaceOrdering resource provider.
          items:
            $ref: '#/components/schemas/Operation'
          title: value
          type: array
      title: OperationListResult
      type: object
    Resource:
      description: ARM resource.
      properties:
        id:
          description: Resource ID.
          readOnly: true
          title: id
          type: string
        name:
          description: Resource name.
          readOnly: true
          title: name
          type: string
        type:
          description: Resource type.
          readOnly: true
          title: type
          type: string
      title: Resource
      type: object
      x-ms-azure-resource: true
    ErrorResponse_error:
      description: The details of the error.
      example:
        code: code
        message: message
      properties:
        code:
          description: Error code.
          readOnly: true
          title: code
          type: string
        message:
          description: Error message indicating why the operation failed.
          readOnly: true
          title: message
          type: string
      title: ErrorResponse_error
      type: object
    Operation_display:
      description: The object that represents the operation.
      example:
        provider: provider
        resource: resource
        operation: operation
      properties:
        operation:
          description: "Operation type: Get Agreement, Sign Agreement, Cancel Agreement\
            \ etc."
          title: operation
          type: string
        provider:
          description: "Service provider: Microsoft.MarketplaceOrdering"
          title: provider
          type: string
        resource:
          description: "Resource on which the operation is performed: Agreement, virtualmachine,\
            \ etc."
          title: resource
          type: string
      title: Operation_display
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
