openapi: 3.0.0
info:
  contact:
    email: contact@api2cart.com
    x-twitter: API2Cart
  description: API2Cart
  termsOfService: https://api2cart.com/terms-service
  title: Swagger API2Cart
  version: "1.1"
  x-apisguru-categories:
  - ecommerce
  x-logo:
    url: https://twitter.com/API2Cart/profile_image?size=original
  x-origin:
  - format: openapi
    url: https://app.api2cart.com/default/index/swagger-json
    version: "3.0"
  x-providerName: api2cart.com
externalDocs:
  description: Find out more about API2Cart
  url: http://docs.api2cart.com
servers:
- url: https://api.api2cart.com/v1.1
tags:
- name: account
- name: cart
- name: product
- name: category
- name: order
- name: customer
- name: attribute
- name: tax
- name: webhook
paths:
  /account.cart.add.json:
    post:
      description: Add store to the account
      operationId: account_cart_add
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountCartAdd'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountCartAdd_200_response'
          description: successful operation
      security:
      - api_key: []
      tags:
      - account
      x-openapi-router-controller: openapi_server.controllers.account_controller
      x-codegen-request-body-name: body
  /account.cart.list.json:
    get:
      description: Get list of carts.
      operationId: account_cart_list
      parameters:
      - description: Set this parameter in order to choose which entity fields you
          want to retrieve
        explode: true
        in: query
        name: params
        required: false
        schema:
          default: force_all
          type: string
        style: form
      - description: Set this parameter in order to choose which entity fields you
          want to ignore. Works only if parameter `params` equal force_all
        explode: true
        in: query
        name: exclude
        required: false
        schema:
          type: string
        style: form
      - description: Retrieve entities from their creation date
        explode: true
        in: query
        name: request_from_date
        required: false
        schema:
          type: string
        style: form
      - description: Retrieve entities to their creation date
        explode: true
        in: query
        name: request_to_date
        required: false
        schema:
          type: string
        style: form
      - description: A web address of a store
        explode: true
        in: query
        name: store_url
        required: false
        schema:
          type: string
        style: form
      - description: Find store by store key
        explode: true
        in: query
        name: store_key
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountCartList_200_response'
          description: successful operation
      security:
      - api_key: []
      tags:
      - account
      x-openapi-router-controller: openapi_server.controllers.account_controller
  /account.config.update.json:
    put:
      description: Update configs in the API2Cart database.
      operationId: account_config_update
      parameters:
      - description: Update store key
        explode: true
        in: query
        name: new_store_key
        required: false
        schema:
          type: string
        style: form
      - description: This parameter allows to set up store with custom bridge url
          (also you must use store_root parameter if a bridge folder is not in the
          root folder of the store)
        explode: true
        in: query
        name: bridge_url
        required: false
        schema:
          type: string
        style: form
      - description: Absolute path to the store root directory (used with "bridge_url"
          parameter)
        explode: true
        in: query
        name: store_root
        required: false
        schema:
          type: string
        style: form
      - description: DB tables prefix
        explode: true
        in: query
        name: db_tables_prefix
        required: false
        schema:
          type: string
        style: form
      - description: 3DCart Private Key
        explode: true
        in: query
        name: 3dcart_private_key
        required: false
        schema:
          type: string
        style: form
      - description: 3DCart Token
        explode: true
        in: query
        name: 3dcart_access_token
        required: false
        schema:
          type: string
        style: form
      - description: 3DCart API Key
        explode: true
        in: query
        name: 3dcartapi_api_key
        required: false
        schema:
          type: string
        style: form
      - description: Amazon SP API app client id
        explode: true
        in: query
        name: amazon_sp_client_id
        required: false
        schema:
          type: string
        style: form
      - description: Amazon SP API app client secret
        explode: true
        in: query
        name: amazon_sp_client_secret
        required: false
        schema:
          type: string
        style: form
      - description: Amazon AWS user access key ID
        explode: true
        in: query
        name: amazon_sp_aws_user_key_id
        required: false
        schema:
          type: string
        style: form
      - description: Amazon AWS user secret access key
        explode: true
        in: query
        name: amazon_sp_aws_user_secret
        required: false
        schema:
          type: string
        style: form
      - description: Amazon AWS Region
        explode: true
        in: query
        name: amazon_sp_aws_region
        required: false
        schema:
          type: string
        style: form
      - description: Amazon AWS Role ARN
        explode: true
        in: query
        name: amazon_sp_aws_role_arn
        required: false
        schema:
          type: string
        style: form
      - description: Amazon SP API OAuth refresh token
        explode: true
        in: query
        name: amazon_sp_refresh_token
        required: false
        schema:
          type: string
        style: form
      - description: Amazon SP API environment
        explode: true
        in: query
        name: amazon_sp_api_environment
        required: false
        schema:
          default: production
          type: string
        style: form
      - description: MWS Auth Token. Access token authorizing the app to access resources
          on behalf of a user
        explode: true
        in: query
        name: amazon_access_token
        required: false
        schema:
          type: string
        style: form
      - description: Amazon Seller ID (Merchant token)
        explode: true
        in: query
        name: amazon_seller_id
        required: false
        schema:
          type: string
        style: form
      - description: Amazon Marketplace IDs comma separated string
        explode: true
        in: query
        name: amazon_marketplaces_ids
        required: false
        schema:
          type: string
        style: form
      - description: Amazon Secret Key
        explode: true
        in: query
        name: amazon_secret_key
        required: false
        schema:
          type: string
        style: form
      - description: Amazon Secret Key Id
        explode: true
        in: query
        name: amazon_access_key_id
        required: false
        schema:
          type: string
        style: form
      - description: It's a AspDotNetStorefront account for which API is available
        explode: true
        in: query
        name: aspdotnetstorefront_api_user
        required: false
        schema:
          type: string
        style: form
      - description: AspDotNetStorefront API Password
        explode: true
        in: query
        name: aspdotnetstorefront_api_pass
        required: false
        schema:
          type: string
        style: form
      - description: It's a BigCommerce account for which API is enabled
        explode: true
        in: query
        name: bigcommerceapi_admin_account
        required: false
        schema:
          type: string
        style: form
      - description: BigCommerce API URL
        explode: true
        in: query
        name: bigcommerceapi_api_path
        required: false
        schema:
          type: string
        style: form
      - description: Bigcommerce API Key
        explode: true
        in: query
        name: bigcommerceapi_api_key
        required: false
        schema:
          type: string
        style: form
      - description: Client ID of the requesting app
        explode: true
        in: query
        name: bigcommerceapi_client_id
        required: false
        schema:
          type: string
        style: form
      - description: Access token authorizing the app to access resources on behalf
          of a user
        explode: true
        in: query
        name: bigcommerceapi_access_token
        required: false
        schema:
          type: string
        style: form
      - description: API Path section unique to the store
        explode: true
        in: query
        name: bigcommerceapi_context
        required: false
        schema:
          type: string
        style: form
      - description: Demandware client id
        explode: true
        in: query
        name: demandware_client_id
        required: false
        schema:
          type: string
        style: form
      - description: Demandware api password
        explode: true
        in: query
        name: demandware_api_password
        required: false
        schema:
          type: string
        style: form
      - description: Demandware user name
        explode: true
        in: query
        name: demandware_user_name
        required: false
        schema:
          type: string
        style: form
      - description: Demandware user password
        explode: true
        in: query
        name: demandware_user_password
        required: false
        schema:
          type: string
        style: form
      - description: Application ID (AppID).
        explode: true
        in: query
        name: ebay_client_id
        required: false
        schema:
          type: string
        style: form
      - description: Shared Secret from eBay application
        explode: true
        in: query
        name: ebay_client_secret
        required: false
        schema:
          type: string
        style: form
      - description: The RuName value that eBay assigns to your application.
        explode: true
        in: query
        name: ebay_runame
        required: false
        schema:
          type: string
        style: form
      - description: Used to authenticate API requests.
        explode: true
        in: query
        name: ebay_access_token
        required: false
        schema:
          type: string
        style: form
      - description: Used to renew the access token.
        explode: true
        in: query
        name: ebay_refresh_token
        required: false
        schema:
          type: string
        style: form
      - description: eBay environment
        explode: true
        in: query
        name: ebay_environment
        required: false
        schema:
          type: string
        style: form
      - description: eBay global ID
        explode: true
        in: query
        name: ebay_site_id
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: Access token authorizing the app to access resources on behalf
          of a user
        explode: true
        in: query
        name: ecwid_acess_token
        required: false
        schema:
          type: string
        style: form
      - description: Store Id
        explode: true
        in: query
        name: ecwid_store_id
        required: false
        schema:
          type: string
        style: form
      - description: Etsy keystring
        explode: true
        in: query
        name: etsy_keystring
        required: false
        schema:
          type: string
        style: form
      - description: Etsy shared secret
        explode: true
        in: query
        name: etsy_shared_secret
        required: false
        schema:
          type: string
        style: form
      - description: Access token authorizing the app to access resources on behalf
          of a user
        explode: true
        in: query
        name: etsy_access_token
        required: false
        schema:
          type: string
        style: form
      - description: Secret token authorizing the app to access resources on behalf
          of a user
        explode: true
        in: query
        name: etsy_token_secret
        required: false
        schema:
          type: string
        style: form
      - description: Etsy Client Id
        explode: true
        in: query
        name: etsy_client_id
        required: false
        schema:
          type: string
        style: form
      - description: Etsy Refresh token
        explode: true
        in: query
        name: etsy_refresh_token
        required: false
        schema:
          type: string
        style: form
      - description: Neto API Key
        explode: true
        in: query
        name: neto_api_key
        required: false
        schema:
          type: string
        style: form
      - description: Neto User Name
        explode: true
        in: query
        name: neto_api_username
        required: false
        schema:
          type: string
        style: form
      - description: Shopify API Key
        explode: true
        in: query
        name: shopify_api_key
        required: false
        schema:
          type: string
        style: form
      - description: Shopify API Password
        explode: true
        in: query
        name: shopify_api_password
        required: false
        schema:
          type: string
        style: form
      - description: Shared secret
        explode: true
        in: query
        name: shopify_shared_secret
        required: false
        schema:
          type: string
        style: form
      - description: Access token authorizing the app to access resources on behalf
          of a user
        explode: true
        in: query
        name: shopify_access_token
        required: false
        schema:
          type: string
        style: form
      - description: Shopware access key
        explode: true
        in: query
        name: shopware_access_key
        required: false
        schema:
          type: string
        style: form
      - description: Shopware api key
        explode: true
        in: query
        name: shopware_api_key
        required: false
        schema:
          type: string
        style: form
      - description: Shopware client secret access key
        explode: true
        in: query
        name: shopware_api_secret
        required: false
        schema:
          type: string
        style: form
      - description: It's a Volusion account for which API is enabled
        explode: true
        in: query
        name: volusion_login
        required: false
        schema:
          type: string
        style: form
      - description: Volusion API Password
        explode: true
        in: query
        name: volusion_password
        required: false
        schema:
          type: string
        style: form
      - description: Walmart client ID
        explode: true
        in: query
        name: walmart_client_id
        required: false
        schema:
          type: string
        style: form
      - description: Walmart client secret
        explode: true
        in: query
        name: walmart_client_secret
        required: false
        schema:
          type: string
        style: form
      - description: Walmart environment
        explode: true
        in: query
        name: walmart_environment
        required: false
        schema:
          default: production
          type: string
        style: form
      - description: Walmart WM_CONSUMER.CHANNEL.TYPE header
        explode: true
        in: query
        name: walmart_channel_type
        required: false
        schema:
          type: string
        style: form
      - description: Squarespace API Key
        explode: true
        in: query
        name: squarespace_api_key
        required: false
        schema:
          type: string
        style: form
      - description: Omni Commerce Connector Client ID
        explode: true
        in: query
        name: hybris_client_id
        required: false
        schema:
          type: string
        style: form
      - description: Omni Commerce Connector Client Secret
        explode: true
        in: query
        name: hybris_client_secret
        required: false
        schema:
          type: string
        style: form
      - description: User Name
        explode: true
        in: query
        name: hybris_username
        required: false
        schema:
          type: string
        style: form
      - description: User password
        explode: true
        in: query
        name: hybris_password
        required: false
        schema:
          type: string
        style: form
      - description: Websites to stores mapping data
        explode: false
        in: query
        name: hybris_websites
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: LightSpeed api key
        explode: true
        in: query
        name: lightspeed_api_key
        required: false
        schema:
          type: string
        style: form
      - description: LightSpeed api secret
        explode: true
        in: query
        name: lightspeed_api_secret
        required: false
        schema:
          type: string
        style: form
      - description: CommerceHQ api key
        explode: true
        in: query
        name: commercehq_api_key
        required: false
        schema:
          type: string
        style: form
      - description: CommerceHQ api password
        explode: true
        in: query
        name: commercehq_api_password
        required: false
        schema:
          type: string
        style: form
      - description: Woocommerce consumer key
        explode: true
        in: query
        name: wc_consumer_key
        required: false
        schema:
          type: string
        style: form
      - description: Woocommerce consumer secret
        explode: true
        in: query
        name: wc_consumer_secret
        required: false
        schema:
          type: string
        style: form
      - description: Magento Consumer Key
        explode: true
        in: query
        name: magento_consumer_key
        required: false
        schema:
          type: string
        style: form
      - description: Magento Consumer Secret
        explode: true
        in: query
        name: magento_consumer_secret
        required: false
        schema:
          type: string
        style: form
      - description: Magento Access Token
        explode: true
        in: query
        name: magento_access_token
        required: false
        schema:
          type: string
        style: form
      - description: Magento Token Secret
        explode: true
        in: query
        name: magento_token_secret
        required: false
        schema:
          type: string
        style: form
      - description: Prestashop webservice key
        explode: true
        in: query
        name: prestashop_webservice_key
        required: false
        schema:
          type: string
        style: form
      - description: Wix App ID
        explode: true
        in: query
        name: wix_app_id
        required: false
        schema:
          type: string
        style: form
      - description: Wix App Secret Key
        explode: true
        in: query
        name: wix_app_secret_key
        required: false
        schema:
          type: string
        style: form
      - description: Wix refresh token
        explode: true
        in: query
        name: wix_refresh_token
        required: false
        schema:
          type: string
        style: form
      - description: Mercado Libre App ID
        explode: true
        in: query
        name: mercado_libre_app_id
        required: false
        schema:
          type: string
        style: form
      - description: Mercado Libre App Secret Key
        explode: true
        in: query
        name: mercado_libre_app_secret_key
        required: false
        schema:
          type: string
        style: form
      - description: Mercado Libre Refresh Token
        explode: true
        in: query
        name: mercado_libre_refresh_token
        required: false
        schema:
          type: string
        style: form
      - description: Zid Client ID
        explode: true
        in: query
        name: zid_client_id
        required: false
        schema:
          type: integer
        style: form
      - description: Zid Client Secret
        explode: true
        in: query
        name: zid_client_secret
        required: false
        schema:
          type: string
        style: form
      - description: Zid Access Token
        explode: true
        in: query
        name: zid_access_token
        required: false
        schema:
          type: string
        style: form
      - description: Zid Authorization
        explode: true
        in: query
        name: zid_authorization
        required: false
        schema:
          type: string
        style: form
      - description: Zid refresh token
        explode: true
        in: query
        name: zid_refresh_token
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountConfigUpdate_200_response'
          description: successful operation
      security:
      - api_key: []
        store_key: []
      tags:
      - account
      x-openapi-router-controller: openapi_server.controllers.account_controller
  /account.failed_webhooks.json:
    get:
      description: List webhooks that was not delivered to the callback.
      operationId: account_failed_webhooks
      parameters:
      - description: This parameter sets the entity amount that has to be retrieved.
          Max allowed count=250
        explode: true
        in: query
        name: count
        required: false
        schema:
          default: 10
          type: integer
        style: form
      - description: This parameter sets the number from which you want to get entities
        explode: true
        in: query
        name: start
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: List of сomma-separated webhook ids
        explode: true
        in: query
        name: ids
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountFailedWebhooks_200_response'
          description: successful operation
      security:
      - api_key: []
      tags:
      - account
      x-openapi-router-controller: openapi_server.controllers.account_controller
  /account.supported_platforms.json:
    get:
      description: Get list of supported platforms
      operationId: account_supported_platforms
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountSupportedPlatforms_200_response'
          description: successful operation
      security:
      - api_key: []
      tags:
      - account
      x-openapi-router-controller: openapi_server.controllers.account_controller
  /attribute.add.json:
    post:
      description: Add new attribute
      operationId: attribute_add
      parameters:
      - description: Defines attribute's type
        explode: true
        in: query
        name: type
        required: true
        schema:
          enum:
          - text
          - select
          - textarea
          - date
          - price
          - multiselect
          - boolean
          type: string
        style: form
      - description: Entity code
        explode: true
        in: query
        name: code
        required: false
        schema:
          type: string
        style: form
      - description: Defines attributes's name
        explode: true
        in: query
        name: name
        required: true
        schema:
          type: string
        style: form
      - description: Store Id
        explode: true
        in: query
        name: store_id
        required: false
        schema:
          type: string
        style: form
      - description: Language id
        explode: true
        in: query
        name: lang_id
        required: false
        schema:
          type: string
        style: form
      - description: Set visibility status
        explode: true
        in: query
        name: visible
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Defines if the option is required
        explode: true
        in: query
        name: required
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Attribute`s position
        explode: true
        in: query
        name: position
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: Filter by attribute_group_id
        explode: true
        in: query
        name: attribute_group_id
        required: false
        schema:
          type: string
        style: form
      - description: Attribute saving scope
        explode: true
        in: query
        name: is_global
        required: false
        schema:
          default: Store
          type: string
        style: form
      - description: Use attribute in Quick Search
        explode: true
        in: query
        name: is_searchable
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Use In Layered Navigation
        explode: true
        in: query
        name: is_filterable
        required: false
        schema:
          default: "false"
          type: string
        style: form
      - description: Comparable on Front-end
        explode: true
        in: query
        name: is_comparable
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Allow HTML Tags on Frontend
        explode: true
        in: query
        name: is_html_allowed_on_front
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Use In Search Results Layered Navigation
        explode: true
        in: query
        name: is_filterable_in_search
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Use To Create Configurable Product
        explode: true
        in: query
        name: is_configurable
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Use in Advanced Search
        explode: true
        in: query
        name: is_visible_in_advanced_search
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Use for Promo Rule Conditions
        explode: true
        in: query
        name: is_used_for_promo_rules
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Used in Product Listing
        explode: true
        in: query
        name: used_in_product_listing
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Used for Sorting in Product Listing
        explode: true
        in: query
        name: used_for_sort_by
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Types of products which can have this attribute
        explode: true
        in: query
        name: apply_to
        required: false
        schema:
          default: all_types
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttributeAdd_200_response'
          description: successful operation
      security:
      - api_key: []
        store_key: []
      tags:
      - attribute
      x-openapi-router-controller: openapi_server.controllers.attribute_controller
  /attribute.assign.group.json:
    post:
      description: Assign attribute to the group
      operationId: attribute_assign_group
      parameters:
      - description: Entity id
        explode: true
        in: query
        name: id
        required: true
        schema:
          type: string
        style: form
      - description: Attribute group_id
        explode: true
        in: query
        name: group_id
        required: true
        schema:
          type: string
        style: form
      - description: Attribute set id
        explode: true
        in: query
        name: attribute_set_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttributeAssignGroup_200_response'
          description: successful operation
      security:
      - api_key: []
        store_key: []
      tags:
      - attribute
      x-openapi-router-controller: openapi_server.controllers.attribute_controller
  /attribute.assign.set.json:
    post:
      description: Assign attribute to the attribute set
      operationId: attribute_assign_set
      parameters:
      - description: Entity id
        explode: true
        in: query
        name: id
        required: true
        schema:
          type: string
        style: form
      - description: Attribute group_id
        explode: true
        in: query
        name: group_id
        required: false
        schema:
          type: string
        style: form
      - description: Attribute set id
        explode: true
        in: query
        name: attribute_set_id
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttributeAssignGroup_200_response'
          description: successful operation
      security:
      - api_key: []
        store_key: []
      tags:
      - attribute
      x-openapi-router-controller: openapi_server.controllers.attribute_controller
  /attribute.attributeset.list.json:
    get:
      description: Get attribute_set list
      operationId: attribute_attributeset_list
      parameters:
      - description: This parameter sets the number from which you want to get entities
        explode: true
        in: query
        name: start
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: This parameter sets the entity amount that has to be retrieved.
          Max allowed count=250
        explode: true
        in: query
        name: count
        required: false
        schema:
          default: 10
          type: integer
        style: form
      - description: Set this parameter in order to choose which entity fields you
          want to retrieve
        explode: true
        in: query
        name: params
        required: false
        schema:
          default: "id,name"
          type: string
        style: form
      - description: Set this parameter in order to choose which entity fields you
          want to ignore. Works only if parameter `params` equal force_all
        explode: true
        in: query
        name: exclude
        required: false
        schema:
          type: string
        style: form
      - description: Set this parameter in order to choose which entity fields you
          want to retrieve
        explode: true
        in: query
        name: response_fields
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttributeAttributesetList_200_response'
          description: successful operation
      security:
      - api_key: []
        store_key: []
      tags:
      - attribute
      x-openapi-router-controller: openapi_server.controllers.attribute_controller
  /attribute.count.json:
    get:
      description: Get attributes count
      operationId: attribute_count
      parameters:
      - description: Defines attribute's type
        explode: true
        in: query
        name: type
        required: false
        schema:
          type: string
        style: form
      - description: Store Id
        explode: true
        in: query
        name: store_id
        required: false
        schema:
          type: string
        style: form
      - description: Language id
        explode: true
        in: query
        name: lang_id
        required: false
        schema:
          type: string
        style: form
      - description: Filter items by visibility status
        explode: true
        in: query
        name: visible
        required: false
        schema:
          type: boolean
        style: form
      - description: Defines if the option is required
        explode: true
        in: query
        name: required
        required: false
        schema:
          type: boolean
        style: form
      - description: True if attribute is system
        explode: true
        in: query
        name: system
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttributeCount_200_response'
          description: successful operation
      security:
      - api_key: []
        store_key: []
      tags:
      - attribute
      x-openapi-router-controller: openapi_server.controllers.attribute_controller
  /attribute.delete.json:
    delete:
      description: Delete attribute from store
      operationId: attribute_delete
      parameters:
      - description: Store Id
        explode: true
        in: query
        name: store_id
        required: false
        schema:
          type: string
        style: form
      - description: Entity id
        explode: true
        in: query
        name: id
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttributeDelete_200_response'
          description: successful operation
      security:
      - api_key: []
        store_key: []
      tags:
      - attribute
      x-openapi-router-controller: openapi_server.controllers.attribute_controller
  /attribute.group.list.json:
    get:
      description: Get attribute group list
      operationId: attribute_group_list
      parameters:
      - description: This parameter sets the number from which you want to get entities
        explode: true
        in: query
        name: start
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: This parameter sets the entity amount that has to be retrieved.
          Max allowed count=250
        explode: true
        in: query
        name: count
        required: false
        schema:
          default: 10
          type: integer
        style: form
      - description: Language id
        explode: true
        in: query
        name: lang_id
        required: false
        schema:
          type: string
        style: form
      - description: Set this parameter in order to choose which entity fields you
          want to retrieve
        explode: true
        in: query
        name: params
        required: false
        schema:
          default: "id,name"
          type: string
        style: form
      - description: Set this parameter in order to choose which entity fields you
          want to ignore. Works only if parameter `params` equal force_all
        explode: true
        in: query
        name: exclude
        required: false
        schema:
          type: string
        style: form
      - description: Set this parameter in order to choose which entity fields you
          want to retrieve
        explode: true
        in: query
        name: response_fields
        required: false
        schema:
          type: string
        style: form
      - description: Attribute set id
        explode: true
        in: query
        name: attribute_set_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttributeAttributesetList_200_response'
          description: successful operation
      security:
      - api_key: []
        store_key: []
      tags:
      - attribute
      x-openapi-router-controller: openapi_server.controllers.attribute_controller
  /attribute.info.json:
    get:
      description: Get attribute info
      operationId: attribute_info
      parameters:
      - description: Entity id
        explode: true
        in: query
        name: id
        required: true
        schema:
          type: string
        style: form
      - description: Store Id
        explode: true
        in: query
        name: store_id
        required: false
        schema:
          type: string
        style: form
      - description: Language id
        explode: true
        in: query
        name: lang_id
        required: false
        schema:
          type: string
        style: form
      - description: Set this parameter in order to choose which entity fields you
          want to retrieve
        explode: true
        in: query
        name: params
        required: false
        schema:
          default: force_all
          type: string
        style: form
      - description: Set this parameter in order to choose which entity fields you
          want to ignore. Works only if parameter `params` equal force_all
        explode: true
        in: query
        name: exclude
        required: false
        schema:
          type: string
        style: form
      - description: Set this parameter in order to choose which entity fields you
          want to retrieve
        explode: true
        in: query
        name: response_fields
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttributeInfo_200_response'
          description: successful operation
      security:
      - api_key: []
        store_key: []
      tags:
      - attribute
      x-openapi-router-controller: openapi_server.controllers.attribute_controller
  /attribute.list.json:
    get:
      description: Get attributes list
      operationId: attribute_list
      parameters:
      - description: This parameter sets the number from which you want to get entities
        explode: true
        in: query
        name: start
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: This parameter sets the entity amount that has to be retrieved.
          Max allowed count=250
        explode: true
        in: query
        name: count
        required: false
        schema:
          default: 10
          type: integer
        style: form
      - description: Defines attribute's type
        explode: true
        in: query
        name: type
        required: false
        schema:
          type: string
        style: form
      - description: Filter attributes by ids
        explode: true
        in: query
        name: attribute_ids
        required: false
        schema:
          type: string
        style: form
      - description: Store Id
        explode: true
        in: query
        name: store_id
        required: false
        schema:
          type: string
        style: form
      - description: Retrieves attributes on specified language id
        explode: true
        in: query
        name: lang_id
        required: false
        schema:
          type: string
        style: form
      - description: Set this parameter in order to choose which entity fields you
          want to retrieve
        explode: true
        in: query
        name: params
        required: false
        schema:
          default: "id,name,code,type"
          type: string
        style: form
      - description: Set this parameter in order to choose which entity fields you
          want to ignore. Works only if parameter `params` equal force_all
        explode: true
        in: query
        name: exclude
        required: false
        schema:
          type: string
        style: form
      - description: Set this parameter in order to choose which entity fields you
          want to retrieve
        explode: true
        in: query
        name: response_fields
        required: false
        schema:
          type: string
        style: form
      - description: Filter items by visibility status
        explode: true
        in: query
        name: visible
        required: false
        schema:
          type: boolean
        style: form
      - description: Defines if the option is required
        explode: true
        in: query
        name: required
        required: false
        schema:
          type: boolean
        style: form
      - description: True if attribute is system
        explode: true
        in: query
        name: system
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model_Response_Attribute_List'
          description: successful operation
      security:
      - api_key: []
        store_key: []
      tags:
      - attribute
      x-openapi-router-controller: openapi_server.controllers.attribute_controller
  /attribute.type.list.json:
    get:
      description: Get list of supported attributes types
      operationId: attribute_type_list
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttributeTypeList_200_response'
          description: successful operation
      security:
      - api_key: []
        store_key: []
      tags:
      - attribute
      x-openapi-router-controller: openapi_server.controllers.attribute_controller
  /attribute.unassign.group.json:
    post:
      description: Unassign attribute from group
      operationId: attribute_unassign_group
      parameters:
      - description: Entity id
        explode: true
        in: query
        name: id
        required: true
        schema:
          type: string
        style: form
      - description: Customer group_id
        explode: true
        in: query
        name: group_id
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttributeUnassignGroup_200_response'
          description: successful operation
      security:
      - api_key: []
        store_key: []
      tags:
      - attribute
      x-openapi-router-controller: openapi_server.controllers.attribute_controller
  /attribute.unassign.set.json:
    post:
      description: Unassign attribute from attribute set
      operationId: attribute_unassign_set
      parameters:
      - description: Entity id
        explode: true
        in: query
        name: id
        required: true
        schema:
          type: string
        style: form
      - description: Attribute set id
        explode: true
        in: query
        name: attribute_set_id
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttributeUnassignGroup_200_response'
          description: successful operation
      security:
      - api_key: []
        store_key: []
      tags:
      - attribute
      x-openapi-router-controller: openapi_server.controllers.attribute_controller
  /attribute.update.json:
    post:
      description: Update attribute data
      operationId: attribute_update
      parameters:
      - description: Entity id
        explode: true
        in: query
        name: id
        required: true
        schema:
          type: string
        style: form
      - description: Defines new attributes's name
        explode: true
        in: query
        name: name
        required: true
        schema:
          type: string
        style: form
      - description: Store Id
        explode: true
        in: query
        name: store_id
        required: false
        schema:
          type: string
        style: form
      - description: Language id
        explode: true
        in: query
        name: lang_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttributeUpdate_200_response'
          description: successful operation
      security:
      - api_key: []
        store_key: []
      tags:
      - attribute
      x-openapi-router-controller: openapi_server.controllers.attribute_controller
  /basket.info.json:
    get:
      description: Retrieve basket information.
      operationId: basket_info
      parameters:
      - description: Entity id
        explode: true
        in: query
        name: id
        required: true
        schema:
          type: string
        style: form
      - description: Store Id
        explode: true
        in: query
        name: store_id
        required: false
        schema:
          type: string
        style: form
      - description: Set this parameter in order to choose which entity fields you
          want to retrieve
        explode: true
        in: query
        name: params
        required: false
        schema:
          default: force_all
          type: string
        style: form
      - description: Set this parameter in order to choose which entity fields you
          want to ignore. Works only if parameter `params` equal force_all
        explode: true
        in: query
        name: exclude
        required: false
        schema:
          type: string
        style: form
      - description: Set this parameter in order to choose which entity fields you
          want to retrieve
        explode: true
        in: query
        name: response_fields
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasketInfo_200_response'
          description: successful operation
      security:
      - api_key: []
        store_key: []
      tags:
      - basket
      x-openapi-router-controller: openapi_server.controllers.basket_controller
  /basket.item.add.json:
    post:
      description: Add item to basket
      operationId: basket_item_add
      parameters:
      - description: Retrieves orders specified by customer id
        explode: true
        in: query
        name: customer_id
        required: true
        schema:
          type: string
        style: form
      - description: Defines id of the product which should be added to the basket
        explode: true
        in: query
        name: product_id
        required: true
        schema:
          type: string
        style: form
      - description: Defines product's variants specified by variant id
        explode: true
        in: query
        name: variant_id
        required: false
        schema:
          type: string
        style: form
      - description: Defines new items quantity
        explode: true
        in: query
        name: quantity
        required: false
        schema:
          default: 0
          type: number
        style: form
      - description: Store Id
        explode: true
        in: query
        name: store_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasketItemAdd_200_response'
          description: successful operation
      security:
      - api_key: []
        store_key: []
      tags:
      - basket
      x-openapi-router-controller: openapi_server.controllers.basket_controller
  /basket.live_shipping_service.create.json:
    post:
      description: Create live shipping rate service.
      operationId: basket_live_shipping_service_create
      parameters:
      - description: Store Id
        explode: true
        in: query
        name: store_id
        required: false
        schema:
          type: string
        style: form
      - description: Shipping Service Name
        explode: true
        in: query
        name: name
        required: true
        schema:
          type: string
        style: form
      - description: Callback url that returns shipping rates. It should be able to
          accept POST requests with json data.
        explode: true
        in: query
        name: callback
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasketLiveShippingServiceCreate_200_response'
          description: successful operation
      security:
      - api_key: []
        store_key: []
      tags:
      - basket
      x-openapi-router-controller: openapi_server.controllers.basket_controller
  /basket.live_shipping_service.delete.json:
    delete:
      description: Delete live shipping rate service.
      operationId: basket_live_shipping_service_delete
      parameters:
      - description: Entity id
        explode: true
        in: query
        name: id
        required: true
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasketLiveShippingServiceDelete_200_response'
          description: successful operation
      security:
      - api_key: []
        store_key: []
      tags:
      - basket
      x-openapi-router-controller: openapi_server.controllers.basket_controller
  /basket.live_shipping_service.list.json:
    get:
      description: Retrieve a list of live shipping rate services.
      operationId: basket_live_shipping_service_list
      parameters:
      - description: Store Id
        explode: true
        in: query
        name: store_id
        required: false
        schema:
          type: string
        style: form
      - description: This parameter sets the number from which you want to get entities
        explode: true
        in: query
        name: start
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: This parameter sets the entity amount that has to be retrieved.
          Max allowed count=250
        explode: true
        in: query
        name: count
        required: false
        schema:
          default: 10
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasketLiveShippingServiceList_200_response'
          description: successful operation
      security:
      - api_key: []
        store_key: []
      tags:
      - basket
      x-openapi-router-controller: openapi_server.controllers.basket_controller
  /bridge.delete.json:
    post:
      description: Delete bridge from the store.
      operationId: bridge_delete
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BridgeDelete_200_response'
          description: successful operation
      security:
      - api_key: []
        store_key: []
      tags:
      - bridge
      x-openapi-router-controller: openapi_server.controllers.bridge_controller
  /bridge.download.file:
    get:
      description: Download bridge for store
      operationId: bridge_download
      parameters:
      - description: Identifies if there is a necessity to download whitelabel bridge.
        explode: true
        in: query
        name: whitelabel
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/zip:
              schema:
                format: binary
                type: string
          description: successful operation
      security:
      - api_key: []
        store_key: []
      tags:
      - cart
      x-openapi-router-controller: openapi_server.controllers.cart_controller
  /bridge.update.json:
    post:
      description: Update bridge in the store.
      operationId: bridge_update
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttributeUpdate_200_response'
          description: successful operation
      security:
      - api_key: []
        store_key: []
      tags:
      - bridge
      x-openapi-router-controller: openapi_server.controllers.bridge_controller
  /cart.bridge.json:
    get:
      description: Get bridge key and store key
      operationId: cart_bridge
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartBridge_200_response'
          description: successful operation
      security:
      - api_key: []
      tags:
      - cart
      x-openapi-router-controller: openapi_server.controllers.cart_controller
  /cart.catalog_price_rules.count.json:
    get:
      description: Get count of cart catalog price rules discounts.
      operationId: cart_catalog_price_rules_count
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartCatalogPriceRulesCount_200_response'
          description: successful operation
      security:
      - api_key: []
        store_key: []
      tags:
      - cart
      x-openapi-router-controller: openapi_server.controllers.cart_controller
  /cart.catalog_price_rules.list.json:
    get:
      description: Get cart catalog price rules discounts.
      operationId: cart_catalog_price_rules_list
      parameters:
      - description: Used to retrieve entities via cursor-based pagination (it can't
          be used with any other filtering parameter)
        explode: true
        in: query
        name: page_cursor
        required: false
        schema:
          type: string
        style: form
      - description: This parameter sets the number from which you want to get entities
        explode: true
        in: query
        name: start
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: This parameter sets the entity amount that has to be retrieved.
          Max allowed count=250
        explode: true
        in: query
        name: count
        required: false
        schema:
          default: 10
          type: integer
        style: form
      - description: Retrieves  catalog_price_rules by ids
        explode: true
        in: query
        name: ids
        required: false
        schema:
          type: string
        style: form
      - description: Set this parameter in order to choose which entity fields you
          want to retrieve
        explode: true
        in: query
        name: params
        required: false
        schema:
          default: "id,name,description"
          type: string
        style: form
      - description: Set this parameter in order to choose which entity fields you
          want to retrieve
        explode: true
        in: query
        name: response_fields
        required: false
        schema:
          type: string
        style: form
      - description: Set this parameter in order to choose which entity fields you
          want to ignore. Works only if parameter `params` equal force_all
        explode: true
        in: query
        name: exclude
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model_Response_Cart_Catalog_PriceRules_List'
          description: successful operation
      security:
      - api_key: []
        store_key: []
      tags:
      - cart
      x-openapi-router-controller: openapi_server.controllers.cart_controller
  /cart.clear_cache.json:
    post:
      description: Clear cache on store.
      operationId: cart_clear_cache
      parameters:
      - description: Defines which cache should be cleared.
        explode: true
        in: query
        name: cache_type
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartClearCache_200_response'
          description: successful operation
      security:
      - api_key: []
        store_key: []
      tags:
      - cart
      x-openapi-router-controller: openapi_server.controllers.cart_controller
  /cart.config.json:
    get:
      description: Get list of cart configs
      operationId: cart_config
      parameters:
      - description: Set this parameter in order to choose which entity fields you
          want to retrieve
        explode: true
        in: query
        name: params
        required: false
        schema:
          default: "store_name,store_url,db_prefix"
          type: string
        style: form
      - description: Set this parameter in order to choose which entity fields you
          want to ignore. Works only if parameter `params` equal force_all
        explode: true
        in: query
        name: exclude
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartConfig_200_response'
          description: successful operation
      security:
      - api_key: []
        store_key: []
      tags:
      - cart
      x-openapi-router-controller: openapi_server.controllers.cart_controller
  /cart.config.update.json:
    put:
      deprecated: true
      description: Use this API method to update custom data in client database.
      operationId: cart_config_update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CartConfigUpdate'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartConfigUpdate_200_response'
          description: successful operation
      security:
      - api_key: []
        store_key: []
      tags:
      - cart
      x-openapi-router-controller: openapi_server.controllers.cart_controller
      x-codegen-request-body-name: body
  /cart.coupon.add.json:
    post:
      description: Create new coupon
      operationId: cart_coupon_add
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CartCouponAdd'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartCouponAdd_200_response'
          description: successful operation
      security:
      - api_key: []
        store_key: []
      tags:
      - cart
      x-openapi-router-controller: openapi_server.controllers.cart_controller
      x-codegen-request-body-name: body
  /cart.coupon.condition.add.json:
    post:
      description: Create new coupon condition
      operationId: cart_coupon_condition_add
      parameters:
      - description: Store Id
        explode: true
        in: query
        name: store_id
        required: false
        schema:
          type: string
        style: form
      - description: Coupon Id
        explode: true
        in: query
        name: coupon_id
        required: true
        schema:
          type: string
        style: form
      - description: Defines condition operator
        explode: true
        in: query
        name: target
        required: false
        schema:
          default: coupon_prerequisite
          type: string
        style: form
      - description: Defines condition entity type
        explode: true
        in: query
        name: entity
        required: true
        schema:
          enum:
          - order
          - order_shipping_address
          - product
          - customer
          type: string
        style: form
      - description: Defines condition entity attribute key
        explode: true
        in: query
        name: key
        required: true
        schema:
          enum:
          - total
          - subtotal
          - shipping_total
          - total_quantity
          - total_weight
          - country
          - product_id
          - variant_id
          - category_id
          - customer_id
          - item_price
          - item_total_price
          - item_quantity
          type: string
        style: form
      - description: Defines condition operator
        explode: true
        in: query
        name: operator
        required: true
        schema:
          enum:
          - ==
          - <
          - <=
          - '>'
          - '>='
          - ONE_OF
          type: string
        style: form
      - description: "Defines condition value, can be comma separated according to\
          \ the operator."
        explode: true
        in: query
        name: value
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasketLiveShippingServiceDelete_200_response'
          description: successful operation
      security:
      - api_key: []
        store_key: []
      tags:
      - cart
      x-openapi-router-controller: openapi_server.controllers.cart_controller
  /cart.coupon.count.json:
    get:
      description: Get cart coupons count.
      operationId: cart_coupon_count
      parameters:
      - description: Store Id
        explode: true
        in: query
        name: store_id
        required: false
        schema:
          type: string
        style: form
      - description: Filter entity by date_start (greater or equal)
        explode: true
        in: query
        name: date_start_from
        required: false
        schema:
          type: string
        style: form
      - description: Filter entity by date_start (less or equal)
        explode: true
        in: query
        name: date_start_to
        required: false
        schema:
          type: string
        style: form
      - description: Filter entity by date_end (greater or equal)
        explode: true
        in: query
        name: date_end_from
        required: false
        schema:
          type: string
        style: form
      - description: Filter entity by date_end (less or equal)
        explode: true
        in: query
        name: date_end_to
        required: false
        schema:
          type: string
        style: form
      - description: Defines category's visibility status
        explode: true
        in: query
        name: avail
        required: false
        schema:
          default: true
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartCouponCount_200_response'
          description: successful operation
      security:
      - api_key: []
        store_key: []
      tags:
      - cart
      x-openapi-router-controller: openapi_server.controllers.cart_controller
  /cart.coupon.delete.json:
    delete:
      description: Delete coupon
      operationId: cart_coupon_delete
      parameters:
      - description: Entity id
        explode: true
        in: query
        name: id
        required: true
        schema:
          type: string
        style: form
      - description: Store Id
        explode: true
        in: query
        name: store_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttributeDelete_200_response'
          description: successful operation
      security:
      - api_key: []
        store_key: []
      tags:
      - cart
      x-openapi-router-controller: openapi_server.controllers.cart_controller
  /cart.coupon.list.json:
    get:
      description: Get cart coupon discounts.
      operationId: cart_coupon_list
      parameters:
      - description: Used to retrieve entities via cursor-based pagination (it can't
          be used with any other filtering parameter)
        explode: true
        in: query
        name: page_cursor
        required: false
        schema:
          type: string
        style: form
      - description: This parameter sets the number from which you want to get entities
        explode: true
        in: query
        name: start
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: This parameter sets the entity amount that has to be retrieved.
          Max allowed count=250
        explode: true
        in: query
        name: count
        required: false
        schema:
          default: 10
          type: integer
        style: form
      - description: Filter coupons by ids
        explode: true
        in: query
        name: coupons_ids
        required: false
        schema:
          type: string
        style: form
      - description: Filter coupons by store id
        explode: true
        in: query
        name: store_id
        required: false
        schema:
          type: string
        style: form
      - description: Filter entity by date_start (greater or equal)
        explode: true
        in: query
        name: date_start_from
        required: false
        schema:
          type: string
        style: form
      - description: Filter entity by date_start (less or equal)
        explode: true
        in: query
        name: date_start_to
        required: false
        schema:
          type: string
        style: form
      - description: Filter entity by date_end (greater or equal)
        explode: true
        in: query
        name: date_end_from
        required: false
        schema:
          type: string
        style: form
      - description: Filter entity by date_end (less or equal)
        explode: true
        in: query
        name: date_end_to
        required: false
        schema:
          type: string
        style: form
      - description: Filter coupons by avail status
        explode: true
        in: query
        name: avail
        required: false
        schema:
          type: boolean
        style: form
      - description: Language id
        explode: true
        in: query
        name: lang_id
        required: false
        schema:
          type: string
        style: form
      - description: Set this parameter in order to choose which entity fields you
          want to retrieve
        explode: true
        in: query
        name: params
        required: false
        schema:
          default: "id,code,name,description"
          type: string
        style: form
      - description: Set this parameter in order to choose which entity fields you
          want to retrieve
        explode: true
        in: query
        name: response_fields
        required: false
        schema:
          type: string
        style: form
      - description: Set this parameter in order to choose which entity fields you
          want to ignore. Works only if parameter `params` equal force_all
        explode: true
        in: query
        name: exclude
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model_Response_Cart_Coupon_List'
          description: successful operation
      security:
      - api_key: []
        store_key: []
      tags:
      - cart
      x-openapi-router-controller: openapi_server.controllers.cart_controller
  /cart.create.json:
    post:
      deprecated: true
      description: Add store to the account
      operationId: cart_create
      parameters:
      - description: Store’s identifier which you can get from cart_list method
        explode: true
        in: query
        name: cart_id
        required: true
        schema:
          enum:
          - 3DCart
          - 3DCartApi
          - AceShop
          - AmazonSP
          - Amazon
          - AspDotNetStorefront
          - BigcommerceApi
          - Creloaded
          - CommerceHQ
          - Cscart
          - Cubecart
          - Demandware
          - EBay
          - Ecwid
          - Etsy
          - EtsyAPIv3
          - Gambio
          - JooCart
          - Magento1212
          - Magento2Api
          - MijoShop
          - Neto
          - Opencart14
          - LightSpeed
          - Oscmax2
          - Oscommerce22ms2
          - Oxid
          - Pinnacle
          - Prestashop
          - PrestashopApi
          - SSPremium
          - Shopify
          - Squarespace
          - Shopware
          - ShopwareApi
          - Tomatocart
          - Ubercart
          - Virtuemart
          - Volusion
          - WPecommerce
          - Walmart
          - WebAsyst
          - Woocommerce
          - WoocommerceApi
          - Wix
          - Xcart
          - Xtcommerce
          - XtcommerceVeyton
          - Zencart137
          - Hybris
          - MercadoLibre
          - Zid
          - Zoey
          type: string
        style: form
      - description: A web address of a store that you would like to connect to API2Cart
        explode: true
        in: query
        name: store_url
        required: true
        schema:
          type: string
        style: form
      - description: This parameter allows to set up store with custom bridge url
          (also you must use store_root parameter if a bridge folder is not in the
          root folder of the store)
        explode: true
        in: query
        name: bridge_url
        required: false
        schema:
          type: string
        style: form
      - description: Absolute path to the store root directory (used with "bridge_url"
          parameter)
        explode: true
        in: query
        name: store_root
        required: false
        schema:
          type: string
        style: form
      - description: Set this parameter if bridge is already uploaded to store
        explode: true
        in: query
        name: store_key
        required: false
        schema:
          type: string
        style: form
      - description: Shared secret
        explode: true
        in: query
        name: shared_secret
        required: false
        schema:
          type: string
        style: form
      - description: Specify if api2cart should validate cart version
        explode: true
        in: query
        name: validate_version
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Enables or disables cart's verification
        explode: true
        in: query
        name: verify
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: DB tables prefix
        explode: true
        in: query
        name: db_tables_prefix
        required: false
        schema:
          type: string
        style: form
      - description: FTP connection host
        explode: true
        in: query
        name: ftp_host
        required: false
        schema:
          type: string
        style: form
      - description: FTP User
        explode: true
        in: query
        name: ftp_user
        required: false
        schema:
          type: string
        style: form
      - description: FTP Password
        explode: true
        in: query
        name: ftp_password
        required: false
        schema:
          type: string
        style: form
      - description: FTP Port
        explode: true
        in: query
        name: ftp_port
        required: false
        schema:
          type: integer
        style: form
      - description: FTP Store dir
        explode: true
        in: query
        name: ftp_store_dir
        required: false
        schema:
          type: string
        style: form
      - description: 3DCart API Key
        explode: true
        in: query
        name: apiKey_3dcart
        required: false
        schema:
          type: string
        style: form
      - description: It's a BigCommerce account for which API is enabled
        explode: true
        in: query
        name: AdminAccount
        required: false
        schema:
          type: string
        style: form
      - description: BigCommerce API URL
        explode: true
        in: query
        name: ApiPath
        required: false
        schema:
          type: string
        style: form
      - description: Bigcommerce API Key
        explode: true
        in: query
        name: ApiKey
        required: false
        schema:
          type: string
        style: form
      - description: Client ID of the requesting app
        explode: true
        in: query
        name: client_id
        required: false
        schema:
          type: string
        style: form
      - description: Access token authorizing the app to access resources on behalf
          of a user
        explode: true
        in: query
        name: accessToken
        required: false
        schema:
          type: string
        style: form
      - description: API Path section unique to the store
        explode: true
        in: query
        name: context
        required: false
        schema:
          type: string
        style: form
      - description: Access token authorizing the app to access resources on behalf
          of a user
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Shopify API Key
        explode: true
        in: query
        name: apiKey_shopify
        required: false
        schema:
          type: string
        style: form
      - description: Shopify API Password
        explode: true
        in: query
        name: apiPassword
        required: false
        schema:
          type: string
        style: form
      - description: Access token authorizing the app to access resources on behalf
          of a user
        explode: true
        in: query
        name: accessToken_shopify
        required: false
        schema:
          type: string
        style: form
      - description: Neto API Key
        explode: true
        in: query
        name: apiKey
        required: false
        schema:
          type: string
        style: form
      - description: Neto User Name
        explode: true
        in: query
        name: apiUsername
        required: false
        schema:
          type: string
        style: form
      - description: Volusion API Password
        explode: true
        in: query
        name: EncryptedPassword
        required: false
        schema:
          type: string
        style: form
      - description: It's a Volusion account for which API is enabled
        explode: true
        in: query
        name: Login
        required: false
        schema:
          type: string
        style: form
      - description: It's a AspDotNetStorefront account for which API is available
        explode: true
        in: query
        name: apiUser_adnsf
        required: false
        schema:
          type: string
        style: form
      - description: AspDotNetStorefront API Password
        explode: true
        in: query
        name: apiPass
        required: false
        schema:
          type: string
        style: form
      - description: 3DCart Application Private Key
        explode: true
        in: query
        name: privateKey
        required: false
        schema:
          type: string
        style: form
      - description: 3DCart Token from Application
        explode: true
        in: query
        name: appToken
        required: false
        schema:
          type: string
        style: form
      - description: Etsy keystring
        explode: true
        in: query
        name: etsy_keystring
        required: false
        schema:
          type: string
        style: form
      - description: Etsy shared secret
        explode: true
        in: query
        name: etsy_shared_secret
        required: false
        schema:
          type: string
        style: form
      - description: Secret token authorizing the app to access resources on behalf
          of a user
        explode: true
        in: query
        name: tokenSecret
        required: false
        schema:
          type: string
        style: form
      - description: Etsy Client Id
        explode: true
        in: query
        name: etsy_client_id
        required: true
        schema:
          type: string
        style: form
      - description: Etsy Refresh token
        explode: true
        in: query
        name: etsy_refresh_token
        required: true
        schema:
          type: string
        style: form
      - description: Application ID (AppID).
        explode: true
        in: query
        name: ebay_client_id
        required: false
        schema:
          type: string
        style: form
      - description: Shared Secret from eBay application
        explode: true
        in: query
        name: ebay_client_secret
        required: false
        schema:
          type: string
        style: form
      - description: The RuName value that eBay assigns to your application.
        explode: true
        in: query
        name: ebay_runame
        required: false
        schema:
          type: string
        style: form
      - description: Used to authenticate API requests.
        explode: true
        in: query
        name: ebay_access_token
        required: false
        schema:
          type: string
        style: form
      - description: Used to renew the access token.
        explode: true
        in: query
        name: ebay_refresh_token
        required: false
        schema:
          type: string
        style: form
      - description: eBay environment
        explode: true
        in: query
        name: ebay_environment
        required: false
        schema:
          default: production
          type: string
        style: form
      - description: eBay global ID
        explode: true
        in: query
        name: ebay_site_id
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: Demandware client id
        explode: true
        in: query
        name: dw_client_id
        required: false
        schema:
          type: string
        style: form
      - description: Demandware api password
        explode: true
        in: query
        name: dw_api_pass
        required: false
        schema:
          type: string
        style: form
      - description: Demandware user name
        explode: true
        in: query
        name: demandware_user_name
        required: false
        schema:
          type: string
        style: form
      - description: Demandware user password
        explode: true
        in: query
        name: demandware_user_password
        required: false
        schema:
          type: string
        style: form
      - description: Store Id
        explode: true
        in: query
        name: store_id
        required: true
        schema:
          type: string
        style: form
      - description: Seller Id
        explode: true
        in: query
        name: seller_id
        required: false
        schema:
          type: string
        style: form
      - description: Amazon Secret Key
        explode: true
        in: query
        name: amazon_secret_key
        required: false
        schema:
          type: string
        style: form
      - description: Amazon Secret Key Id
        explode: true
        in: query
        name: amazon_access_key_id
        required: false
        schema:
          type: string
        style: form
      - description: Comma separated marketplaces ids
        explode: true
        in: query
        name: marketplaces_ids
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: environment
        required: false
        schema:
          default: production
          type: string
        style: form
      - description: Omni Commerce Connector Client ID
        explode: true
        in: query
        name: hybris_client_id
        required: false
        schema:
          type: string
        style: form
      - description: Omni Commerce Connector Client Secret
        explode: true
        in: query
        name: hybris_client_secret
        required: false
        schema:
          type: string
        style: form
      - description: User Name
        explode: true
        in: query
        name: hybris_username
        required: false
        schema:
          type: string
        style: form
      - description: User password
        explode: true
        in: query
        name: hybris_password
        required: false
        schema:
          type: string
        style: form
      - description: Websites to stores mapping data
        explode: false
        in: query
        name: hybris_websites
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Walmart client ID
        explode: true
        in: query
        name: walmart_client_id
        required: false
        schema:
          type: string
        style: form
      - description: Walmart client secret
        explode: true
        in: query
        name: walmart_client_secret
        required: false
        schema:
          type: string
        style: form
      - description: Walmart environment
        explode: true
        in: query
        name: walmart_environment
        required: false
        schema:
          default: production
          type: string
        style: form
      - description: Walmart WM_CONSUMER.CHANNEL.TYPE header
        explode: true
        in: query
        name: walmart_channel_type
        required: false
        schema:
          type: string
        style: form
      - description: LightSpeed api key
        explode: true
        in: query
        name: lightspeed_api_key
        required: false
        schema:
          type: string
        style: form
      - description: LightSpeed api secret
        explode: true
        in: query
        name: lightspeed_api_secret
        required: false
        schema:
          type: string
        style: form
      - description: Shopware access key
        explode: true
        in: query
        name: shopware_access_key
        required: false
        schema:
          type: string
        style: form
      - description: Shopware api key
        explode: true
        in: query
        name: shopware_api_key
        required: false
        schema:
          type: string
        style: form
      - description: Shopware client secret access key
        explode: true
        in: query
        name: shopware_api_secret
        required: false
        schema:
          type: string
        style: form
      - description: CommerceHQ api key
        explode: true
        in: query
        name: commercehq_api_key
        required: false
        schema:
          type: string
        style: form
      - description: CommerceHQ api password
        explode: true
        in: query
        name: commercehq_api_password
        required: false
        schema:
          type: string
        style: form
      - description: 3DCart Private Key
        explode: true
        in: query
        name: 3dcart_private_key
        required: false
        schema:
          type: string
        style: form
      - description: 3DCart Token
        explode: true
        in: query
        name: 3dcart_access_token
        required: false
        schema:
          type: string
        style: form
      - description: Woocommerce consumer key
        explode: true
        in: query
        name: wc_consumer_key
        required: false
        schema:
          type: string
        style: form
      - description: Woocommerce consumer secret
        explode: true
        in: query
        name: wc_consumer_secret
        required: false
        schema:
          type: string
        style: form
      - description: Magento Consumer Key
        explode: true
        in: query
        name: magento_consumer_key
        required: false
        schema:
          type: string
        style: form
      - description: Magento Consumer Secret
        explode: true
        in: query
        name: magento_consumer_secret
        required: false
        schema:
          type: string
        style: form
      - description: Magento Access Token
        explode: true
        in: query
        name: magento_access_token
        required: false
        schema:
          type: string
        style: form
      - description: Magento Token Secret
        explode: true
        in: query
        name: magento_token_secret
        required: false
        schema:
          type: string
        style: form
      - description: Prestashop webservice key
        explode: true
        in: query
        name: prestashop_webservice_key
        required: false
        schema:
          type: string
        style: form
      - description: Wix App ID
        explode: true
        in: query
        name: wix_app_id
        required: false
        schema:
          type: string
        style: form
      - description: Wix App Secret Key
        explode: true
        in: query
        name: wix_app_secret_key
        required: false
        schema:
          type: string
        style: form
      - description: Wix refresh token
        explode: true
        in: query
        name: wix_refresh_token
        required: false
        schema:
          type: string
        style: form
      - description: Mercado Libre App ID
        explode: true
        in: query
        name: mercado_libre_app_id
        required: false
        schema:
          type: string
        style: form
      - description: Mercado Libre App Secret Key
        explode: true
        in: query
        name: mercado_libre_app_secret_key
        required: false
        schema:
          type: string
        style: form
      - description: Mercado Libre Refresh Token
        explode: true
        in: query
        name: mercado_libre_refresh_token
        required: false
        schema:
          type: string
        style: form
      - description: Zid Client ID
        explode: true
        in: query
        name: zid_client_id
        required: false
        schema:
          type: integer
        style: form
      - description: Zid Client Secret
        explode: true
        in: query
        name: zid_client_secret
        required: false
        schema:
          type: string
        style: form
      - description: Zid Access Token
        explode: true
        in: query
        name: zid_access_token
        required: false
        schema:
          type: string
        style: form
      - description: Zid Authorization
        explode: true
        in: query
        name: zid_authorization
        required: false
        schema:
          type: string
        style: form
      - description: Zid refresh token
        explode: true
        in: query
        name: zid_refresh_token
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountCartAdd_200_response'
          description: successful operation
      security:
      - api_key: []
      tags:
      - cart
      x-openapi-router-controller: openapi_server.controllers.cart_controller
  /cart.delete.json:
    delete:
      description: Remove store from API2Cart
      operationId: cart_delete
      parameters:
      - description: Identifies if there is a necessity to delete bridge
        explode: true
        in: query
        name: delete_bridge
        required: false
        schema:
          default: true
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartDelete_200_response'
          description: successful operation
      security:
      - api_key: []
        store_key: []
      tags:
      - cart
      x-openapi-router-controller: openapi_server.controllers.cart_controller
  /cart.disconnect.json:
    get:
      deprecated: true
      description: Disconnect with the store and clear store session data.
      operationId: cart_disconnect
      parameters:
      - description: Identifies if there is a necessity to delete bridge
        explode: true
        in: query
        name: delete_bridge
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartDisconnect_200_response'
          description: successful operation
      security:
      - api_key: []
        store_key: []
      tags:
      - cart
      x-openapi-router-controller: openapi_server.controllers.cart_controller
  /cart.giftcard.add.json:
    post:
      description: Create new gift card
      operationId: cart_giftcard_add
      parameters:
      - description: Defines the gift card amount value.
        explode: true
        in: query
        name: amount
        required: true
        schema:
          type: number
        style: form
      - description: Gift card code
        explode: true
        in: query
        name: code
        required: false
        schema:
          type: string
        style: form
      - description: Gift card owner email
        explode: true
        in: query
        name: owner_email
        required: false
        schema:
          type: string
        style: form
      - description: Gift card recipient email
        explode: true
        in: query
        name: recipient_email
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartGiftcardAdd_200_response'
          description: successful operation
      security:
      - api_key: []
        store_key: []
      tags:
      - cart
      x-openapi-router-controller: openapi_server.controllers.cart_controller
  /cart.giftcard.count.json:
    get:
      description: Get gift cards count.
      operationId: cart_giftcard_count
      parameters:
      - description: Store Id
        explode: true
        in: query
        name: store_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartGiftcardCount_200_response'
          description: successful operation
      security:
      - api_key: []
        store_key: []
      tags:
      - cart
      x-openapi-router-controller: openapi_server.controllers.cart_controller
  /cart.giftcard.list.json:
    get:
      description: Get gift cards list.
      operationId: cart_giftcard_list
      parameters:
      - description: Used to retrieve entities via cursor-based pagination (it can't
          be used with any other filtering parameter)
        explode: true
        in: query
        name: page_cursor
        required: false
        schema:
          type: string
        style: form
      - description: This parameter sets the number from which you want to get entities
        explode: true
        in: query
        name: start
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: This parameter sets the entity amount that has to be retrieved.
          Max allowed count=250
        explode: true
        in: query
        name: count
        required: false
        schema:
          default: 10
          type: integer
        style: form
      - description: Store Id
        explode: true
        in: query
        name: store_id
        required: false
        schema:
          type: string
        style: form
      - description: Set this parameter in order to choose which entity fields you
          want to retrieve
        explode: true
        in: query
        name: params
        required: false
        schema:
          default: "id,code,name"
          type: string
        style: form
      - description: Set this parameter in order to choose which entity fields you
          want to retrieve
        explode: true
        in: query
        name: response_fields
        required: false
        schema:
          type: string
        style: form
      - description: Set this parameter in order to choose which entity fields you
          want to ignore. Works only if parameter `params` equal force_all
        explode: true
        in: query
        name: exclude
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model_Response_Cart_GiftCard_List'
          description: successful operation
      security:
      - api_key: []
        store_key: []
      tags:
      - cart
      x-openapi-router-controller: openapi_server.controllers.cart_controller
  /cart.info.json:
    get:
      description: Get cart information
      operationId: cart_info
      parameters:
      - description: Set this parameter in order to choose which entity fields you
          want to retrieve
        explode: true
        in: query
        name: params
        required: false
        schema:
          default: "store_name,store_url,db_prefix"
          type: string
        style: form
      - description: Set this parameter in order to choose which entity fields you
          want to retrieve
        explode: true
        in: query
        name: response_fields
        required: false
        schema:
          type: string
        style: form
      - description: Set this parameter in order to choose which entity fields you
          want to ignore. Works only if parameter `params` equal force_all
        explode: true
        in: query
        name: exclude
        required: false
        schema:
          type: string
        style: form
      - description: Store Id
        explode: true
        in: query
        name: store_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartInfo_200_response'
          description: successful operation
      security:
      - api_key: []
        store_key: []
      tags:
      - cart
      x-openapi-router-controller: openapi_server.controllers.cart_controller
  /cart.list.json:
    get:
      deprecated: true
      description: Get list of supported carts
      operationId: cart_list
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartList_200_response'
          description: successful operation
      security:
      - api_key: []
      tags:
      - cart
[...]
