openapi: 3.0.0
info:
  description: "Get access to comments from registered users on New York Times articles.\
    \  NOTE: This API is deprecated."
  termsOfService: http://developer.nytimes.com/tou
  title: Community API
  version: 3.0.0
  x-apiClientRegistration:
    url: http://developer.nytimes.com/signup
  x-apisguru-categories:
  - media
  - open_data
  x-logo:
    url: https://static01.nyt.com/images/icons/t_logo_291_black.png
  x-origin:
  - format: openapi
    url: https://raw.githubusercontent.com/nytimes/public_api_specs/master/community/community_api_v3.json
    version: "3.0"
  x-providerName: nytimes.com
  x-serviceName: community
externalDocs:
  url: http://developer.nytimes.com/
servers:
- url: http://api.nytimes.com/svc/community/v3
paths:
  /user-content/by-date.json:
    get:
      description: ""
      operationId: GET_user-content-by-date-json
      parameters:
      - explode: true
        in: query
        name: date
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    copyright: Copyright (c) 2016 The New York Times Company.  All
                      Rights Reserved.
                    debug:
                      version: 3.1
                    results:
                      api_timestamp: "1458149967"
                      comments:
                      - approveDate: "1451710808"
                        assetID: 3444599
                        assetURL: http://cooking.nytimes.com/recipes/1017904
                        commentBody: "We used black eyed peas and kale (couldn&#x27;t\
                          \ find mustard greens), and this recipe is fantastic! With\
                          \ cornbread it was perfect!"
                        commentID: 17096625
                        commentSequence: 17096625
                        commentTitle: <br/>
                        commentType: comment
                        createDate: "1451710797"
                        editorsSelection: 0
                        lft: 42
                        parentID: null
                        recommendationCount: 0
                        replies: []
                        replyCount: 0
                        rgt: 43
                        status: approved
                        statusID: 2
                        updateDate: "1451710808"
                        userDisplayName: Sharon
                        userID: 72856041
                        userLocation: <br/>
                        userTitle: "NULL"
                        userURL: 72856041
                      totalCommentsFound: 4121
                      totalCommentsReturned: 25
                    status: OK
              schema:
                $ref: '#/components/schemas/GET_user_content_by_date_json_200_response'
          description: ""
      security:
      - api-key: []
      summary: Comments by Date
      x-accepts:
      - application/json
  /user-content/recent.json:
    get:
      description: ""
      operationId: GET_user-content-recent-json
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    copyright: Copyright (c) 2016 The New York Times Company.  All
                      Rights Reserved.
                    debug:
                      version: 3.1
                    results:
                      api_timestamp: "1458149501"
                      comments:
                      - approveDate: "1458149469"
                        asset:
                          all-properties:
                          - description: Not in a group
                            name: no-group
                            properties: []
                          assetID: 3449092
                          assetTitle: "Kasich, the Boulder Between the G.O.P. and\
                            \ Trump (16collins)"
                          assetURL: http://www.nytimes.com/2016/03/16/opinion/campaign-stops/kasich-the-boulder-between-the-gop.html
                          createDate: "1458096538"
                          labels: []
                          properties:
                            automoderation-on:
                              groupID: 2
                              taxonomyID: 364114
                            comment-list-sort-editors:
                              groupID: 1
                              taxonomyID: 364114
                            reached-max-com-off:
                              groupID: 3
                              taxonomyID: 9188
                          source: url
                          taxonomies:
                          - - name: opinion
                              taxonomyID: 9188
                          taxonomy: "opinion/Kasich, the Boulder Between the G.O.P.\
                            \ and Trump (16collins)"
                          text: []
                          updateDate: "1458149477"
                          vendorID: MQdKLYFNCfZ7XvixkGz2rw==
                        assetID: 3449092
                        commentBody: "Two things to know about our Governor Kasich.\
                          \ First, he was one of the few Republican governors to accept\
                          \ Obamacare and Medicaid expansion in Ohio, despite the\
                          \ efforts of legislators from his party. Second, as Gail\
                          \ Collins pointed out, he has done everything in his power\
                          \ to eliminate access to safe abortion in Ohio. This will\
                          \ soon include a bill he is expected to sign that will make\
                          \ it illegal for women to have an abortion after learning\
                          \ their fetus has Down's syndrome. Like most candidates\
                          \ these days, we have to take the good with the bad."
                        commentID: 17912830
                        commentSequence: 17912830
                        commentTitle: <br/>
                        commentType: comment
                        createDate: "1458149421"
                        display_name: DD
                        editorsSelection: 0
                        location: "Cincinnati, OH"
                        parentID: null
                        recommendationCount: 0
                        replies: []
                        status: approved
                        statusID: 2
                        updateDate: "1458149469"
                        userDisplayName: DD
                        userID: 64507566
                        userLocation: "Cincinnati, OH"
                        userTitle: "NULL"
                        userURL: "NULL"
                      totalCommentsReturned: 25
                    status: OK
              schema:
                $ref: '#/components/schemas/GET_user_content_recent_json_200_response'
          description: ""
      security:
      - api-key: []
      summary: Recent User Comments
      x-accepts:
      - application/json
  /user-content/url.json:
    get:
      description: ""
      operationId: GET_user-content-url-json
      parameters:
      - explode: true
        in: query
        name: url
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    copyright: Copyright (c) 2016 The New York Times Company.  All
                      Rights Reserved.
                    debug:
                      version: 3.1
                    results:
                      api_timestamp: "1455718117"
                      callerID: null
                      comments:
                      - approveDate: "1199322293"
                        commentBody: "I have always wondered how much energy US would\
                          \ save if it shut down Vegas? Can you imagine the amount\
                          \ of electricity consumed on the strip, the ice melted for\
                          \ its water supply - all in the name of gambling? That's\
                          \ the kind of consumerism I would like to see halted. Same\
                          \ goes for all the downtown skylines which cause so much\
                          \ light pollution. Even a simple thing like having an \"\
                          off\" switch in the homes rather than just power outlets\
                          \ would save a lot of energy and hopefully make a huge difference\
                          \ in the \"consumption footprint.\" Can American live with\
                          \ that?<br/><br/>As for the growing economies of China &\
                          \ India: the increased industrialization has also increased\
                          \ environmental pollution in those countries. West has conveniently\
                          \ handed down it's dirty work to them. And at the same time\
                          \ we have Americans screaming about lost jobs. When will\
                          \ they realize that they can't have it both ways?<br/><br/>All\
                          \ in all they are acting like spoilt brats who have realized\
                          \ that they are no longer the teacher's favorite. Is it\
                          \ surprising that other folks hate you for your spoilt ways,\
                          \ at the same time envying how you have it so easy?<br/><br/>"
                        commentID: 20831
                        commentSequence: 138
                        commentTitle: ""
                        commentType: comment
                        createDate: "1199309173"
                        depth: 1
                        editorsSelection: false
                        parentID: null
                        parentUserDisplayName: null
                        permID: "138"
                        picURL: http://graphics8.nytimes.com/images/apps/timespeople/none.png
                        recommendations: 5
                        recommendedFlag: null
                        replies: []
                        replyCount: 0
                        reportAbuseFlag: null
                        sharing: 0
                        status: approved
                        timespeople: 1
                        trusted: 0
                        updateDate: "1199322293"
                        userDisplayName: byakushi
                        userID: 44150303
                        userLocation: US
                        userTitle: null
                        userURL: null
                      depthLimit: 0
                      filter: ""
                      page: 1
                      replyLimit: 3
                      sort: oldest
                      totalCommentsFound: 138
                      totalCommentsReturned: 25
                      totalEditorsSelectionFound: 13
                      totalEditorsSelectionReturned: 1
                      totalParentCommentsFound: 138
                      totalParentCommentsReturned: 25
                      totalRecommendationsFound: 118
                      totalRecommendationsReturned: 23
                      totalReplyCommentsFound: 0
                      totalReplyCommentsReturned: 0
                      totalReporterReplyCommentsFound: 0
                      totalReporterReplyCommentsReturned: 0
                    status: OK
              schema:
                $ref: '#/components/schemas/GET_user_content_url_json_200_response'
          description: ""
      security:
      - api-key: []
      summary: Comments by URL
      x-accepts:
      - application/json
  /user-content/user.json:
    get:
      description: ""
      operationId: GET_user-content-user-json
      parameters:
      - explode: true
        in: query
        name: userID
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    copyright: Copyright (c) 2016 The New York Times Company.  All
                      Rights Reserved.
                    debug:
                      version: 3.1
                    results:
                      api_timestamp: "1458150045"
                      comments:
                      - approveDate: "1316728099"
                        asset:
                          all-properties:
                          - description: Not in a group
                            name: no-group
                            properties: []
                          assetID: 3267087
                          assetTitle: Cellphone Service Coming to the Subway
                          assetURL: http://cityroom.blogs.nytimes.com/2011/09/22/cell-phone-service-on-some-subway-platforms-starts-next-week/
                          createDate: "1316722025"
                          labels:
                          - labelID: 54906
                            labelName: NYT_Blogs
                          properties:
                            automoderation-off:
                              groupID: 2
                              taxonomyID: 199832
                            comment-list-sort-approvedate-desc:
                              groupID: 1
                              taxonomyID: 199832
                            reached-max-com-on:
                              groupID: 3
                              taxonomyID: 199832
                          source: url
                          taxonomies:
                          - - name: blogs
                              taxonomyID: 70457
                          taxonomy: blogs/cityroom/Cellphone Service Coming to the
                            Subway
                          text: []
                          updateDate: "1319743568"
                          vendorID: P12Rq7kT2AvJyomlFgcylQ==
                        commentBody: time to Google for "cell phone signal blocker"...
                        commentID: 4570862
                        commentSequence: 10
                        commentTitle: hardcoded comment title
                        commentType: comment
                        createDate: "1316723787"
                        editorsSelection: false
                        labels: []
                        parentID: null
                        permid: 10
                        picURL: http://pimage.timespeople.nytimes.com/2364/811/cropped-2364811.jpg?0.8428952772024576
                        recommendations: 11
                        replies: []
                        replyCount: 0
                        status: approved
                        updateDate: "1316728099"
                        userDisplayName: null
                        userID: 2364811
                        userLocation: null
                        userSubmittedDisplayName: Jim
                        userSubmittedLocation: NYC
                        userSubmittedTitle: null
                        userSubmittedURL: null
                        userTitle: null
                        userURL: null
                      totalCommentsFound: 2
                      totalCommentsReturned: 2
                    status: OK
              schema:
                $ref: '#/components/schemas/GET_user_content_user_json_200_response'
          description: ""
      security:
      - api-key: []
      summary: Comments by User
      x-accepts:
      - application/json
components:
  schemas:
    GET_user_content_user_json_200_response_results_comments_inner_asset_properties:
      example:
        reached-max-com-on:
          taxonomyID: 1
          groupID: 6
        automoderation-off:
          taxonomyID: 1
          groupID: 6
        comment-list-sort-approvedate-desc:
          taxonomyID: 1
          groupID: 6
      properties:
        automoderation-off:
          $ref: '#/components/schemas/GET_user_content_recent_json_200_response_results_comments_inner_asset_properties_automoderation_on'
        comment-list-sort-approvedate-desc:
          $ref: '#/components/schemas/GET_user_content_recent_json_200_response_results_comments_inner_asset_properties_automoderation_on'
        reached-max-com-on:
          $ref: '#/components/schemas/GET_user_content_recent_json_200_response_results_comments_inner_asset_properties_automoderation_on'
      type: object
    GET_user_content_user_json_200_response_results_comments_inner_asset_labels_inner:
      example:
        labelID: 6
        labelName: labelName
      properties:
        labelID:
          type: integer
        labelName:
          type: string
      type: object
    GET_user_content_by_date_json_200_response_debug:
      example:
        version: 0.8008281904610115
      properties:
        version:
          type: number
      type: object
    GET_user_content_by_date_json_200_response_results:
      example:
        totalCommentsReturned: 1
        comments:
        - recommendationCount: 7
          updateDate: updateDate
          approveDate: approveDate
          commentSequence: 5
          userDisplayName: userDisplayName
          userLocation: userLocation
          userID: 4
          parentID: ""
          userTitle: userTitle
          replyCount: 9
          replies:
          - "{}"
          - "{}"
          statusID: 2
          commentTitle: commentTitle
          assetID: 6
          commentBody: commentBody
          commentType: commentType
          commentID: 1
          editorsSelection: 5
          lft: 2
          assetURL: assetURL
          rgt: 3
          userURL: 7
          createDate: createDate
          status: status
        - recommendationCount: 7
          updateDate: updateDate
          approveDate: approveDate
          commentSequence: 5
          userDisplayName: userDisplayName
          userLocation: userLocation
          userID: 4
          parentID: ""
          userTitle: userTitle
          replyCount: 9
          replies:
          - "{}"
          - "{}"
          statusID: 2
          commentTitle: commentTitle
          assetID: 6
          commentBody: commentBody
          commentType: commentType
          commentID: 1
          editorsSelection: 5
          lft: 2
          assetURL: assetURL
          rgt: 3
          userURL: 7
          createDate: createDate
          status: status
        api_timestamp: api_timestamp
        totalCommentsFound: 1
      properties:
        api_timestamp:
          type: string
        comments:
          items:
            $ref: '#/components/schemas/GET_user_content_by_date_json_200_response_results_comments_inner'
          type: array
        totalCommentsFound:
          type: integer
        totalCommentsReturned:
          type: integer
      type: object
    GET_user_content_by_date_json_200_response:
      example:
        copyright: copyright
        debug:
          version: 0.8008281904610115
        results:
          totalCommentsReturned: 1
          comments:
          - recommendationCount: 7
            updateDate: updateDate
            approveDate: approveDate
            commentSequence: 5
            userDisplayName: userDisplayName
            userLocation: userLocation
            userID: 4
            parentID: ""
            userTitle: userTitle
            replyCount: 9
            replies:
            - "{}"
            - "{}"
            statusID: 2
            commentTitle: commentTitle
            assetID: 6
            commentBody: commentBody
            commentType: commentType
            commentID: 1
            editorsSelection: 5
            lft: 2
            assetURL: assetURL
            rgt: 3
            userURL: 7
            createDate: createDate
            status: status
          - recommendationCount: 7
            updateDate: updateDate
            approveDate: approveDate
            commentSequence: 5
            userDisplayName: userDisplayName
            userLocation: userLocation
            userID: 4
            parentID: ""
            userTitle: userTitle
            replyCount: 9
            replies:
            - "{}"
            - "{}"
            statusID: 2
            commentTitle: commentTitle
            assetID: 6
            commentBody: commentBody
            commentType: commentType
            commentID: 1
            editorsSelection: 5
            lft: 2
            assetURL: assetURL
            rgt: 3
            userURL: 7
            createDate: createDate
            status: status
          api_timestamp: api_timestamp
          totalCommentsFound: 1
        status: status
      properties:
        copyright:
          type: string
        debug:
          $ref: '#/components/schemas/GET_user_content_by_date_json_200_response_debug'
        results:
          $ref: '#/components/schemas/GET_user_content_by_date_json_200_response_results'
        status:
          type: string
      type: object
    GET_user_content_user_json_200_response:
      example:
        copyright: copyright
        debug:
          version: 0.8008281904610115
        results:
          totalCommentsReturned: 2
          comments:
          - updateDate: updateDate
            approveDate: approveDate
            commentSequence: 5
            recommendations: 2
            userID: 9
            parentID: ""
            userSubmittedURL: ""
            picURL: picURL
            userSubmittedDisplayName: userSubmittedDisplayName
            userTitle: ""
            userSubmittedTitle: ""
            commentType: commentType
            commentID: 1
            editorsSelection: true
            userURL: ""
            createDate: createDate
            permid: 5
            userDisplayName: ""
            userLocation: ""
            labels:
            - "{}"
            - "{}"
            replyCount: 7
            replies:
            - "{}"
            - "{}"
            commentTitle: commentTitle
            userSubmittedLocation: userSubmittedLocation
            commentBody: commentBody
            asset:
              updateDate: updateDate
              assetID: 0
              assetTitle: assetTitle
              vendorID: vendorID
              source: source
              taxonomy: taxonomy
              text:
              - "{}"
              - "{}"
              all-properties:
              - name: name
                description: description
                properties:
                - "{}"
                - "{}"
              - name: name
                description: description
                properties:
                - "{}"
                - "{}"
              assetURL: assetURL
              properties:
                reached-max-com-on:
                  taxonomyID: 1
                  groupID: 6
                automoderation-off:
                  taxonomyID: 1
                  groupID: 6
                comment-list-sort-approvedate-desc:
                  taxonomyID: 1
                  groupID: 6
              createDate: createDate
              labels:
              - labelID: 6
                labelName: labelName
              - labelID: 6
                labelName: labelName
            status: status
          - updateDate: updateDate
            approveDate: approveDate
            commentSequence: 5
            recommendations: 2
            userID: 9
            parentID: ""
            userSubmittedURL: ""
            picURL: picURL
            userSubmittedDisplayName: userSubmittedDisplayName
            userTitle: ""
            userSubmittedTitle: ""
            commentType: commentType
            commentID: 1
            editorsSelection: true
            userURL: ""
            createDate: createDate
            permid: 5
            userDisplayName: ""
            userLocation: ""
            labels:
            - "{}"
            - "{}"
            replyCount: 7
            replies:
            - "{}"
            - "{}"
            commentTitle: commentTitle
            userSubmittedLocation: userSubmittedLocation
            commentBody: commentBody
            asset:
              updateDate: updateDate
              assetID: 0
              assetTitle: assetTitle
              vendorID: vendorID
              source: source
              taxonomy: taxonomy
              text:
              - "{}"
              - "{}"
              all-properties:
              - name: name
                description: description
                properties:
                - "{}"
                - "{}"
              - name: name
                description: description
                properties:
                - "{}"
                - "{}"
              assetURL: assetURL
              properties:
                reached-max-com-on:
                  taxonomyID: 1
                  groupID: 6
                automoderation-off:
                  taxonomyID: 1
                  groupID: 6
                comment-list-sort-approvedate-desc:
                  taxonomyID: 1
                  groupID: 6
              createDate: createDate
              labels:
              - labelID: 6
                labelName: labelName
              - labelID: 6
                labelName: labelName
            status: status
          api_timestamp: api_timestamp
          totalCommentsFound: 3
        status: status
      properties:
        copyright:
          type: string
        debug:
          $ref: '#/components/schemas/GET_user_content_by_date_json_200_response_debug'
        results:
          $ref: '#/components/schemas/GET_user_content_user_json_200_response_results'
        status:
          type: string
      type: object
    GET_user_content_by_date_json_200_response_results_comments_inner:
      example:
        recommendationCount: 7
        updateDate: updateDate
        approveDate: approveDate
        commentSequence: 5
        userDisplayName: userDisplayName
        userLocation: userLocation
        userID: 4
        parentID: ""
        userTitle: userTitle
        replyCount: 9
        replies:
        - "{}"
        - "{}"
        statusID: 2
        commentTitle: commentTitle
        assetID: 6
        commentBody: commentBody
        commentType: commentType
        commentID: 1
        editorsSelection: 5
        lft: 2
        assetURL: assetURL
        rgt: 3
        userURL: 7
        createDate: createDate
        status: status
      properties:
        approveDate:
          type: string
        assetID:
          type: integer
        assetURL:
          type: string
        commentBody:
          type: string
        commentID:
          type: integer
        commentSequence:
          type: integer
        commentTitle:
          type: string
        commentType:
          type: string
        createDate:
          type: string
        editorsSelection:
          type: integer
        lft:
          type: integer
        parentID:
          nullable: true
        recommendationCount:
          type: integer
        replies:
          items:
            properties: {}
            type: object
          type: array
        replyCount:
          type: integer
        rgt:
          type: integer
        status:
          type: string
        statusID:
          type: integer
        updateDate:
          type: string
        userDisplayName:
          type: string
        userID:
          type: integer
        userLocation:
          type: string
        userTitle:
          type: string
        userURL:
          type: integer
      type: object
    GET_user_content_user_json_200_response_results_comments_inner_asset:
      example:
        updateDate: updateDate
        assetID: 0
        assetTitle: assetTitle
        vendorID: vendorID
        source: source
        taxonomy: taxonomy
        text:
        - "{}"
        - "{}"
        all-properties:
        - name: name
          description: description
          properties:
          - "{}"
          - "{}"
        - name: name
          description: description
          properties:
          - "{}"
          - "{}"
        assetURL: assetURL
        properties:
          reached-max-com-on:
            taxonomyID: 1
            groupID: 6
          automoderation-off:
            taxonomyID: 1
            groupID: 6
          comment-list-sort-approvedate-desc:
            taxonomyID: 1
            groupID: 6
        createDate: createDate
        labels:
        - labelID: 6
          labelName: labelName
        - labelID: 6
          labelName: labelName
      properties:
        all-properties:
          items:
            $ref: '#/components/schemas/GET_user_content_recent_json_200_response_results_comments_inner_asset_all_properties_inner'
          type: array
        assetID:
          type: integer
        assetTitle:
          type: string
        assetURL:
          type: string
        createDate:
          type: string
        labels:
          items:
            $ref: '#/components/schemas/GET_user_content_user_json_200_response_results_comments_inner_asset_labels_inner'
          type: array
        properties:
          $ref: '#/components/schemas/GET_user_content_user_json_200_response_results_comments_inner_asset_properties'
        source:
          type: string
        taxonomy:
          type: string
        text:
          items:
            type: object
          type: array
        updateDate:
          type: string
        vendorID:
          type: string
      type: object
    GET_user_content_recent_json_200_response_results_comments_inner_asset_all_properties_inner:
      example:
        name: name
        description: description
        properties:
        - "{}"
        - "{}"
      properties:
        description:
          type: string
        name:
          type: string
        properties:
          items:
            type: object
          type: array
      type: object
    GET_user_content_url_json_200_response:
      example:
        copyright: copyright
        debug:
          version: 0.8008281904610115
        results:
          replyLimit: 7
          comments:
          - updateDate: updateDate
            approveDate: approveDate
            commentSequence: 6
            parentUserDisplayName: ""
            recommendations: 5
            userID: 3
            parentID: ""
            picURL: picURL
            userTitle: ""
            reportAbuseFlag: ""
            commentType: commentType
            commentID: 0
            editorsSelection: true
            timespeople: 7
            recommendedFlag: ""
            userURL: ""
            createDate: createDate
            permID: permID
            userDisplayName: userDisplayName
            userLocation: userLocation
            sharing: 2
            replyCount: 5
            depth: 1
            replies:
            - ""
            - ""
            commentTitle: commentTitle
            trusted: 9
            commentBody: commentBody
            status: status
          - updateDate: updateDate
            approveDate: approveDate
            commentSequence: 6
            parentUserDisplayName: ""
            recommendations: 5
            userID: 3
            parentID: ""
            picURL: picURL
            userTitle: ""
            reportAbuseFlag: ""
            commentType: commentType
            commentID: 0
            editorsSelection: true
            timespeople: 7
            recommendedFlag: ""
            userURL: ""
            createDate: createDate
            permID: permID
            userDisplayName: userDisplayName
            userLocation: userLocation
            sharing: 2
            replyCount: 5
            depth: 1
            replies:
            - ""
            - ""
            commentTitle: commentTitle
            trusted: 9
            commentBody: commentBody
            status: status
          api_timestamp: api_timestamp
          depthLimit: 2
          totalReporterReplyCommentsFound: 6
          totalEditorsSelectionFound: 1
          sort: sort
          totalReplyCommentsFound: 9
          totalReplyCommentsReturned: 9
          totalCommentsFound: 1
          filter: filter
          totalEditorsSelectionReturned: 6
          totalCommentsReturned: 1
          totalParentCommentsReturned: 1
          totalReporterReplyCommentsReturned: 8
          callerID: ""
          page: 4
          totalRecommendationsReturned: 5
          totalParentCommentsFound: 7
          totalRecommendationsFound: 4
        status: status
      properties:
        copyright:
          type: string
        debug:
          $ref: '#/components/schemas/GET_user_content_by_date_json_200_response_debug'
        results:
          $ref: '#/components/schemas/GET_user_content_url_json_200_response_results'
        status:
          type: string
      type: object
    GET_user_content_recent_json_200_response_results_comments_inner_asset_properties_automoderation_on:
      example:
        taxonomyID: 1
        groupID: 6
      properties:
        groupID:
          type: integer
        taxonomyID:
          type: integer
      type: object
    GET_user_content_recent_json_200_response_results_comments_inner_asset:
      example:
        updateDate: updateDate
        assetID: 0
        assetTitle: assetTitle
        vendorID: vendorID
        source: source
        taxonomy: taxonomy
        text:
        - "{}"
        - "{}"
        all-properties:
        - name: name
          description: description
          properties:
          - "{}"
          - "{}"
        - name: name
          description: description
          properties:
          - "{}"
          - "{}"
        assetURL: assetURL
        properties:
          reached-max-com-off:
            taxonomyID: 1
            groupID: 6
          comment-list-sort-editors:
            taxonomyID: 1
            groupID: 6
          automoderation-on:
            taxonomyID: 1
            groupID: 6
        createDate: createDate
        labels:
        - "{}"
        - "{}"
      properties:
        all-properties:
          items:
            $ref: '#/components/schemas/GET_user_content_recent_json_200_response_results_comments_inner_asset_all_properties_inner'
          type: array
        assetID:
          type: integer
        assetTitle:
          type: string
        assetURL:
          type: string
        createDate:
          type: string
        labels:
          items:
            type: object
          type: array
        properties:
          $ref: '#/components/schemas/GET_user_content_recent_json_200_response_results_comments_inner_asset_properties'
        source:
          type: string
        taxonomy:
          type: string
        text:
          items:
            type: object
          type: array
        updateDate:
          type: string
        vendorID:
          type: string
      type: object
    GET_user_content_url_json_200_response_results_comments_inner:
      example:
        updateDate: updateDate
        approveDate: approveDate
        commentSequence: 6
        parentUserDisplayName: ""
        recommendations: 5
        userID: 3
        parentID: ""
        picURL: picURL
        userTitle: ""
        reportAbuseFlag: ""
        commentType: commentType
        commentID: 0
        editorsSelection: true
        timespeople: 7
        recommendedFlag: ""
        userURL: ""
        createDate: createDate
        permID: permID
        userDisplayName: userDisplayName
        userLocation: userLocation
        sharing: 2
        replyCount: 5
        depth: 1
        replies:
        - ""
        - ""
        commentTitle: commentTitle
        trusted: 9
        commentBody: commentBody
        status: status
      properties:
        approveDate:
          type: string
        commentBody:
          type: string
        commentID:
          type: integer
        commentSequence:
          type: integer
        commentTitle:
          type: string
        commentType:
          type: string
        createDate:
          type: string
        depth:
          type: integer
        editorsSelection:
          type: boolean
        parentID:
          nullable: true
        parentUserDisplayName:
          nullable: true
        permID:
          type: string
        picURL:
          type: string
        recommendations:
          type: integer
        recommendedFlag:
          nullable: true
        replies:
          items: {}
          type: array
        replyCount:
          type: integer
        reportAbuseFlag:
          nullable: true
        sharing:
          type: integer
        status:
          type: string
        timespeople:
          type: integer
        trusted:
          type: integer
        updateDate:
          type: string
        userDisplayName:
          type: string
        userID:
          type: integer
        userLocation:
          type: string
        userTitle:
          nullable: true
        userURL:
          nullable: true
      type: object
    GET_user_content_recent_json_200_response_results:
      example:
        totalCommentsReturned: 4
        comments:
        - recommendationCount: 9
          updateDate: updateDate
          approveDate: approveDate
          commentSequence: 2
          userDisplayName: userDisplayName
          userLocation: userLocation
          display_name: display_name
          userID: 2
          parentID: ""
          userTitle: userTitle
          replies:
          - "{}"
          - "{}"
          statusID: 3
          commentTitle: commentTitle
          assetID: 5
          commentBody: commentBody
          commentType: commentType
          commentID: 5
          editorsSelection: 7
          location: location
          asset:
            updateDate: updateDate
            assetID: 0
            assetTitle: assetTitle
            vendorID: vendorID
            source: source
            taxonomy: taxonomy
            text:
            - "{}"
            - "{}"
            all-properties:
            - name: name
              description: description
              properties:
              - "{}"
              - "{}"
            - name: name
              description: description
              properties:
              - "{}"
              - "{}"
            assetURL: assetURL
            properties:
              reached-max-com-off:
                taxonomyID: 1
                groupID: 6
              comment-list-sort-editors:
                taxonomyID: 1
                groupID: 6
              automoderation-on:
                taxonomyID: 1
                groupID: 6
            createDate: createDate
            labels:
            - "{}"
            - "{}"
          userURL: userURL
          createDate: createDate
          status: status
        - recommendationCount: 9
          updateDate: updateDate
          approveDate: approveDate
          commentSequence: 2
          userDisplayName: userDisplayName
          userLocation: userLocation
          display_name: display_name
          userID: 2
          parentID: ""
          userTitle: userTitle
          replies:
          - "{}"
          - "{}"
          statusID: 3
          commentTitle: commentTitle
          assetID: 5
          commentBody: commentBody
          commentType: commentType
          commentID: 5
          editorsSelection: 7
          location: location
          asset:
            updateDate: updateDate
            assetID: 0
            assetTitle: assetTitle
            vendorID: vendorID
            source: source
            taxonomy: taxonomy
            text:
            - "{}"
            - "{}"
            all-properties:
            - name: name
              description: description
              properties:
              - "{}"
              - "{}"
            - name: name
              description: description
              properties:
              - "{}"
              - "{}"
            assetURL: assetURL
            properties:
              reached-max-com-off:
                taxonomyID: 1
                groupID: 6
              comment-list-sort-editors:
                taxonomyID: 1
                groupID: 6
              automoderation-on:
                taxonomyID: 1
                groupID: 6
            createDate: createDate
            labels:
            - "{}"
            - "{}"
          userURL: userURL
          createDate: createDate
          status: status
        api_timestamp: api_timestamp
      properties:
        api_timestamp:
          type: string
        comments:
          items:
            $ref: '#/components/schemas/GET_user_content_recent_json_200_response_results_comments_inner'
          type: array
        totalCommentsReturned:
          type: integer
      type: object
    GET_user_content_recent_json_200_response_results_comments_inner_asset_properties:
      example:
        reached-max-com-off:
          taxonomyID: 1
          groupID: 6
        comment-list-sort-editors:
          taxonomyID: 1
          groupID: 6
        automoderation-on:
          taxonomyID: 1
          groupID: 6
      properties:
        automoderation-on:
          $ref: '#/components/schemas/GET_user_content_recent_json_200_response_results_comments_inner_asset_properties_automoderation_on'
        comment-list-sort-editors:
          $ref: '#/components/schemas/GET_user_content_recent_json_200_response_results_comments_inner_asset_properties_automoderation_on'
        reached-max-com-off:
          $ref: '#/components/schemas/GET_user_content_recent_json_200_response_results_comments_inner_asset_properties_automoderation_on'
      type: object
    GET_user_content_user_json_200_response_results:
      example:
        totalCommentsReturned: 2
        comments:
        - updateDate: updateDate
          approveDate: approveDate
          commentSequence: 5
          recommendations: 2
          userID: 9
          parentID: ""
          userSubmittedURL: ""
          picURL: picURL
          userSubmittedDisplayName: userSubmittedDisplayName
          userTitle: ""
          userSubmittedTitle: ""
          commentType: commentType
          commentID: 1
          editorsSelection: true
          userURL: ""
          createDate: createDate
          permid: 5
          userDisplayName: ""
          userLocation: ""
          labels:
          - "{}"
          - "{}"
          replyCount: 7
          replies:
          - "{}"
          - "{}"
          commentTitle: commentTitle
          userSubmittedLocation: userSubmittedLocation
          commentBody: commentBody
          asset:
            updateDate: updateDate
            assetID: 0
            assetTitle: assetTitle
            vendorID: vendorID
            source: source
            taxonomy: taxonomy
            text:
            - "{}"
            - "{}"
            all-properties:
            - name: name
              description: description
              properties:
              - "{}"
              - "{}"
            - name: name
              description: description
              properties:
              - "{}"
              - "{}"
            assetURL: assetURL
            properties:
              reached-max-com-on:
                taxonomyID: 1
                groupID: 6
              automoderation-off:
                taxonomyID: 1
                groupID: 6
              comment-list-sort-approvedate-desc:
                taxonomyID: 1
                groupID: 6
            createDate: createDate
            labels:
            - labelID: 6
              labelName: labelName
            - labelID: 6
              labelName: labelName
          status: status
        - updateDate: updateDate
          approveDate: approveDate
          commentSequence: 5
          recommendations: 2
          userID: 9
          parentID: ""
          userSubmittedURL: ""
          picURL: picURL
          userSubmittedDisplayName: userSubmittedDisplayName
          userTitle: ""
          userSubmittedTitle: ""
          commentType: commentType
          commentID: 1
          editorsSelection: true
          userURL: ""
          createDate: createDate
          permid: 5
          userDisplayName: ""
          userLocation: ""
          labels:
          - "{}"
          - "{}"
          replyCount: 7
          replies:
          - "{}"
          - "{}"
          commentTitle: commentTitle
          userSubmittedLocation: userSubmittedLocation
          commentBody: commentBody
          asset:
            updateDate: updateDate
            assetID: 0
            assetTitle: assetTitle
            vendorID: vendorID
            source: source
            taxonomy: taxonomy
            text:
            - "{}"
            - "{}"
            all-properties:
            - name: name
              description: description
              properties:
              - "{}"
              - "{}"
            - name: name
              description: description
              properties:
              - "{}"
              - "{}"
            assetURL: assetURL
            properties:
              reached-max-com-on:
                taxonomyID: 1
                groupID: 6
              automoderation-off:
                taxonomyID: 1
                groupID: 6
              comment-list-sort-approvedate-desc:
                taxonomyID: 1
                groupID: 6
            createDate: createDate
            labels:
            - labelID: 6
              labelName: labelName
            - labelID: 6
              labelName: labelName
          status: status
        api_timestamp: api_timestamp
        totalCommentsFound: 3
      properties:
        api_timestamp:
          type: string
        comments:
          items:
            $ref: '#/components/schemas/GET_user_content_user_json_200_response_results_comments_inner'
          type: array
        totalCommentsFound:
          type: integer
        totalCommentsReturned:
          type: integer
      type: object
    GET_user_content_recent_json_200_response_results_comments_inner:
      example:
        recommendationCount: 9
        updateDate: updateDate
        approveDate: approveDate
        commentSequence: 2
        userDisplayName: userDisplayName
        userLocation: userLocation
        display_name: display_name
        userID: 2
        parentID: ""
        userTitle: userTitle
        replies:
        - "{}"
        - "{}"
        statusID: 3
        commentTitle: commentTitle
        assetID: 5
        commentBody: commentBody
        commentType: commentType
        commentID: 5
        editorsSelection: 7
        location: location
        asset:
          updateDate: updateDate
          assetID: 0
          assetTitle: assetTitle
          vendorID: vendorID
          source: source
          taxonomy: taxonomy
          text:
          - "{}"
          - "{}"
          all-properties:
          - name: name
            description: description
            properties:
            - "{}"
            - "{}"
          - name: name
            description: description
            properties:
            - "{}"
            - "{}"
          assetURL: assetURL
          properties:
            reached-max-com-off:
              taxonomyID: 1
              groupID: 6
            comment-list-sort-editors:
              taxonomyID: 1
              groupID: 6
            automoderation-on:
              taxonomyID: 1
              groupID: 6
          createDate: createDate
          labels:
          - "{}"
          - "{}"
        userURL: userURL
        createDate: createDate
        status: status
      properties:
        approveDate:
          type: string
        asset:
          $ref: '#/components/schemas/GET_user_content_recent_json_200_response_results_comments_inner_asset'
        assetID:
          type: integer
        commentBody:
          type: string
        commentID:
          type: integer
        commentSequence:
          type: integer
        commentTitle:
          type: string
        commentType:
          type: string
        createDate:
          type: string
        display_name:
          type: string
        editorsSelection:
          type: integer
        location:
          type: string
        parentID:
          nullable: true
        recommendationCount:
          type: integer
        replies:
          items:
            type: object
          type: array
        status:
          type: string
        statusID:
          type: integer
        updateDate:
          type: string
        userDisplayName:
          type: string
        userID:
          type: integer
        userLocation:
          type: string
        userTitle:
          type: string
        userURL:
          type: string
      type: object
    GET_user_content_url_json_200_response_results:
      example:
        replyLimit: 7
        comments:
        - updateDate: updateDate
          approveDate: approveDate
          commentSequence: 6
          parentUserDisplayName: ""
          recommendations: 5
          userID: 3
          parentID: ""
          picURL: picURL
          userTitle: ""
          reportAbuseFlag: ""
          commentType: commentType
          commentID: 0
          editorsSelection: true
          timespeople: 7
          recommendedFlag: ""
          userURL: ""
          createDate: createDate
          permID: permID
          userDisplayName: userDisplayName
          userLocation: userLocation
          sharing: 2
          replyCount: 5
          depth: 1
          replies:
          - ""
          - ""
          commentTitle: commentTitle
          trusted: 9
          commentBody: commentBody
          status: status
        - updateDate: updateDate
          approveDate: approveDate
          commentSequence: 6
          parentUserDisplayName: ""
          recommendations: 5
          userID: 3
          parentID: ""
          picURL: picURL
          userTitle: ""
          reportAbuseFlag: ""
          commentType: commentType
          commentID: 0
          editorsSelection: true
          timespeople: 7
          recommendedFlag: ""
          userURL: ""
          createDate: createDate
          permID: permID
          userDisplayName: userDisplayName
          userLocation: userLocation
          sharing: 2
          replyCount: 5
          depth: 1
          replies:
          - ""
          - ""
          commentTitle: commentTitle
          trusted: 9
          commentBody: commentBody
          status: status
        api_timestamp: api_timestamp
        depthLimit: 2
        totalReporterReplyCommentsFound: 6
        totalEditorsSelectionFound: 1
        sort: sort
        totalReplyCommentsFound: 9
        totalReplyCommentsReturned: 9
        totalCommentsFound: 1
        filter: filter
        totalEditorsSelectionReturned: 6
        totalCommentsReturned: 1
        totalParentCommentsReturned: 1
        totalReporterReplyCommentsReturned: 8
        callerID: ""
        page: 4
        totalRecommendationsReturned: 5
        totalParentCommentsFound: 7
        totalRecommendationsFound: 4
      properties:
        api_timestamp:
          type: string
        callerID:
          nullable: true
        comments:
          items:
            $ref: '#/components/schemas/GET_user_content_url_json_200_response_results_comments_inner'
          type: array
        depthLimit:
          type: integer
        filter:
          nullable: true
          type: string
        page:
          type: integer
        replyLimit:
          type: integer
        sort:
          type: string
        totalCommentsFound:
          type: integer
        totalCommentsReturned:
          type: integer
        totalEditorsSelectionFound:
          type: integer
        totalEditorsSelectionReturned:
          type: integer
        totalParentCommentsFound:
          type: integer
        totalParentCommentsReturned:
          type: integer
        totalRecommendationsFound:
          type: integer
        totalRecommendationsReturned:
          type: integer
        totalReplyCommentsFound:
          type: integer
        totalReplyCommentsReturned:
          type: integer
        totalReporterReplyCommentsFound:
          type: integer
        totalReporterReplyCommentsReturned:
          type: integer
      type: object
    GET_user_content_recent_json_200_response:
      example:
        copyright: copyright
        debug:
          version: 0.8008281904610115
        results:
          totalCommentsReturned: 4
          comments:
          - recommendationCount: 9
            updateDate: updateDate
            approveDate: approveDate
            commentSequence: 2
            userDisplayName: userDisplayName
            userLocation: userLocation
            display_name: display_name
            userID: 2
            parentID: ""
            userTitle: userTitle
            replies:
            - "{}"
            - "{}"
            statusID: 3
            commentTitle: commentTitle
            assetID: 5
            commentBody: commentBody
            commentType: commentType
            commentID: 5
            editorsSelection: 7
            location: location
            asset:
              updateDate: updateDate
              assetID: 0
              assetTitle: assetTitle
              vendorID: vendorID
              source: source
              taxonomy: taxonomy
              text:
              - "{}"
              - "{}"
              all-properties:
              - name: name
                description: description
                properties:
                - "{}"
                - "{}"
              - name: name
                description: description
                properties:
                - "{}"
                - "{}"
              assetURL: assetURL
              properties:
                reached-max-com-off:
                  taxonomyID: 1
                  groupID: 6
                comment-list-sort-editors:
                  taxonomyID: 1
                  groupID: 6
                automoderation-on:
                  taxonomyID: 1
                  groupID: 6
              createDate: createDate
              labels:
              - "{}"
              - "{}"
            userURL: userURL
            createDate: createDate
            status: status
          - recommendationCount: 9
            updateDate: updateDate
            approveDate: approveDate
            commentSequence: 2
            userDisplayName: userDisplayName
            userLocation: userLocation
            display_name: display_name
            userID: 2
            parentID: ""
            userTitle: userTitle
            replies:
            - "{}"
            - "{}"
            statusID: 3
            commentTitle: commentTitle
            assetID: 5
            commentBody: commentBody
            commentType: commentType
            commentID: 5
            editorsSelection: 7
            location: location
            asset:
              updateDate: updateDate
              assetID: 0
              assetTitle: assetTitle
              vendorID: vendorID
              source: source
              taxonomy: taxonomy
              text:
              - "{}"
              - "{}"
              all-properties:
              - name: name
                description: description
                properties:
                - "{}"
                - "{}"
              - name: name
                description: description
                properties:
                - "{}"
                - "{}"
              assetURL: assetURL
              properties:
                reached-max-com-off:
                  taxonomyID: 1
                  groupID: 6
                comment-list-sort-editors:
                  taxonomyID: 1
                  groupID: 6
                automoderation-on:
                  taxonomyID: 1
                  groupID: 6
              createDate: createDate
              labels:
              - "{}"
              - "{}"
            userURL: userURL
            createDate: createDate
            status: status
          api_timestamp: api_timestamp
        status: status
      properties:
        copyright:
          type: string
        debug:
          $ref: '#/components/schemas/GET_user_content_by_date_json_200_response_debug'
        results:
          $ref: '#/components/schemas/GET_user_content_recent_json_200_response_results'
        status:
          type: string
      type: object
    GET_user_content_user_json_200_response_results_comments_inner:
      example:
        updateDate: updateDate
        approveDate: approveDate
        commentSequence: 5
        recommendations: 2
        userID: 9
        parentID: ""
        userSubmittedURL: ""
        picURL: picURL
        userSubmittedDisplayName: userSubmittedDisplayName
        userTitle: ""
        userSubmittedTitle: ""
        commentType: commentType
        commentID: 1
        editorsSelection: true
        userURL: ""
        createDate: createDate
        permid: 5
        userDisplayName: ""
        userLocation: ""
        labels:
        - "{}"
        - "{}"
        replyCount: 7
        replies:
        - "{}"
        - "{}"
        commentTitle: commentTitle
        userSubmittedLocation: userSubmittedLocation
        commentBody: commentBody
        asset:
          updateDate: updateDate
          assetID: 0
          assetTitle: assetTitle
          vendorID: vendorID
          source: source
          taxonomy: taxonomy
          text:
          - "{}"
          - "{}"
          all-properties:
          - name: name
            description: description
            properties:
            - "{}"
            - "{}"
          - name: name
            description: description
            properties:
            - "{}"
            - "{}"
          assetURL: assetURL
          properties:
            reached-max-com-on:
              taxonomyID: 1
              groupID: 6
            automoderation-off:
              taxonomyID: 1
              groupID: 6
            comment-list-sort-approvedate-desc:
              taxonomyID: 1
              groupID: 6
          createDate: createDate
          labels:
          - labelID: 6
            labelName: labelName
          - labelID: 6
            labelName: labelName
        status: status
      properties:
        approveDate:
          type: string
        asset:
          $ref: '#/components/schemas/GET_user_content_user_json_200_response_results_comments_inner_asset'
        commentBody:
          type: string
        commentID:
          type: integer
        commentSequence:
          type: integer
        commentTitle:
          type: string
        commentType:
          type: string
        createDate:
          type: string
        editorsSelection:
          type: boolean
        labels:
          items:
            type: object
          type: array
        parentID:
          nullable: true
        permid:
          type: integer
        picURL:
          type: string
        recommendations:
          type: integer
        replies:
          items:
            type: object
          type: array
        replyCount:
          type: integer
        status:
          type: string
        updateDate:
          type: string
        userDisplayName:
          nullable: true
        userID:
          type: integer
        userLocation:
          nullable: true
        userSubmittedDisplayName:
          type: string
        userSubmittedLocation:
          type: string
        userSubmittedTitle:
          nullable: true
        userSubmittedURL:
          nullable: true
        userTitle:
          nullable: true
        userURL:
          nullable: true
      type: object
  securitySchemes:
    api-key:
      in: query
      name: api-key
      type: apiKey

