openapi: 3.0.1
info:
  description: API spec for Microsoft.Security (Azure Security Center) resource provider
  title: Security Center
  version: 2017-08-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/security/resource-manager/Microsoft.Security/stable/2017-08-01/complianceResults.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: security-complianceResults
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /{resourceId}/providers/Microsoft.Security/complianceResults/{complianceResultName}:
    get:
      description: Security Compliance Result
      operationId: compliance_results_get
      parameters:
      - description: API version for the operation
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The identifier of the resource.
        in: path
        name: resourceId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: name of the desired assessment compliance result
        in: path
        name: complianceResultName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComplianceResult'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComplianceResults_Get_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Compliance Results
      x-ms-examples:
        Get compliance results on subscription:
          parameters:
            api-version: 2017-08-01
            complianceResultName: DesignateMoreThanOneOwner
            resourceId: subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/complianceResults/DesignateMoreThanOneOwner
                name: DesignateMoreThanOneOwner
                properties:
                  resourceStatus: Healthy
                type: Microsoft.Security/complianceResults
      x-openapi-router-controller: openapi_server.controllers.compliance_results_controller
  /{scope}/providers/Microsoft.Security/complianceResults:
    get:
      description: Security compliance results in the subscription
      operationId: compliance_results_list
      parameters:
      - description: API version for the operation
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: "Scope of the query, can be subscription (/subscriptions/0b06d9ea-afe6-4779-bd59-30e5c2d9d13f)\
          \ or management group (/providers/Microsoft.Management/managementGroups/mgName)."
        in: path
        name: scope
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComplianceResultList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComplianceResults_Get_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Compliance Results
      x-ms-examples:
        Get compliance results on subscription:
          parameters:
            api-version: 2017-08-01
            scope: subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/complianceResults/DesignateMoreThanOneOwner
                  name: DesignateMoreThanOneOwner
                  properties:
                    resourceStatus: Healthy
                  type: Microsoft.Security/complianceResults
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/complianceResults/RemoveExternalAccountsWithReadPermissions
                  name: RemoveExternalAccountsWithReadPermissions
                  properties:
                    resourceStatus: NotHealthy
                  type: Microsoft.Security/complianceResults
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/complianceResults/RemoveDeprecatedAccounts
                  name: RemoveDeprecatedAccounts
                  properties:
                    resourceStatus: Healthy
                  type: Microsoft.Security/complianceResults
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.compliance_results_controller
components:
  parameters:
    ComplianceResultName:
      description: name of the desired assessment compliance result
      in: path
      name: complianceResultName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  schemas:
    ComplianceResult:
      allOf:
      - description: Describes an Azure resource.
        properties:
          id:
            description: Resource Id
            readOnly: true
            type: string
          name:
            description: Resource name
            readOnly: true
            type: string
          type:
            description: Resource type
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: a compliance result
      example:
        properties:
          resourceStatus: Healthy
      properties:
        properties:
          $ref: '#/components/schemas/ComplianceResultProperties'
      title: ComplianceResult
    ComplianceResultList:
      description: List of compliance results response
      example:
        value:
        - properties:
            resourceStatus: Healthy
        - properties:
            resourceStatus: Healthy
        nextLink: nextLink
      properties:
        nextLink:
          description: The URI to fetch the next page.
          readOnly: true
          title: nextLink
          type: string
        value:
          description: List of compliance results
          items:
            $ref: '#/components/schemas/ComplianceResult'
          title: value
          type: array
      required:
      - value
      title: ComplianceResultList
      type: object
    ComplianceResultProperties:
      description: Compliance result data
      example:
        resourceStatus: Healthy
      properties:
        resourceStatus:
          description: The status of the resource regarding a single assessment
          enum:
          - Healthy
          - NotApplicable
          - OffByPolicy
          - NotHealthy
          readOnly: true
          title: resourceStatus
          type: string
          x-ms-enum:
            modelAsString: true
            name: resourceStatus
            values:
            - description: This assessment on the resource is healthy
              value: Healthy
            - description: This assessment is not applicable to this resource
              value: NotApplicable
            - description: This assessment is turned off by policy on this subscription
              value: OffByPolicy
            - description: This assessment on the resource is not healthy
              value: NotHealthy
      title: ComplianceResultProperties
      type: object
    ComplianceResults_Get_default_response_error:
      description: Error details.
      example:
        code: code
        message: message
      properties:
        code:
          description: An identifier for the error. Codes are invariant and are intended
            to be consumed programmatically.
          readOnly: true
          title: code
          type: string
        message:
          description: "A message describing the error, intended to be suitable for\
            \ display in a user interface."
          readOnly: true
          title: message
          type: string
      title: ComplianceResults_Get_default_response_error
      type: object
      x-ms-external: true
    ComplianceResults_Get_default_response:
      description: Error response structure.
      example:
        error:
          code: code
          message: message
      properties:
        error:
          $ref: '#/components/schemas/ComplianceResults_Get_default_response_error'
      title: ComplianceResults_Get_default_response
      type: object
      x-ms-external: true
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
