openapi: 3.0.0
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: "Allow select enterprise partners to access, control, and manage Google\
    \ and Nest devices programmatically."
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Smart Device Management API
  version: v1
  x-apisguru-categories:
  - analytics
  - media
  x-logo:
    url: https://upload.wikimedia.org/wikipedia/commons/e/e1/YouTube_play_buttom_icon_%282013-2017%29.svg
  x-origin:
  - format: google
    url: https://smartdevicemanagement.googleapis.com/$discovery/rest?version=v1
    version: v1
  x-providerName: googleapis.com
  x-serviceName: smartdevicemanagement
externalDocs:
  url: https://developers.google.com/nest/device-access
servers:
- url: https://smartdevicemanagement.googleapis.com/
tags:
- name: enterprises
paths:
  /v1/{name}:
    get:
      description: Gets a room managed by the enterprise.
      operationId: smartdevicemanagement_enterprises_structures_rooms_get
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "The name of the room requested. For example: \"enterprises/XYZ/structures/ABC/rooms/123\"\
          ."
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleHomeEnterpriseSdmV1Room'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/sdm.service
        Oauth2c:
        - https://www.googleapis.com/auth/sdm.service
      tags:
      - enterprises
      x-openapi-router-controller: openapi_server.controllers.enterprises_controller
  /v1/{name}:executeCommand:
    post:
      description: Executes a command to device managed by the enterprise.
      operationId: smartdevicemanagement_enterprises_devices_execute_command
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "The name of the device requested. For example: \"enterprises/XYZ/devices/123\""
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleHomeEnterpriseSdmV1ExecuteDeviceCommandRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleHomeEnterpriseSdmV1ExecuteDeviceCommandResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/sdm.service
        Oauth2c:
        - https://www.googleapis.com/auth/sdm.service
      tags:
      - enterprises
      x-openapi-router-controller: openapi_server.controllers.enterprises_controller
      x-codegen-request-body-name: body
  /v1/{parent}/devices:
    get:
      description: Lists devices managed by the enterprise.
      operationId: smartdevicemanagement_enterprises_devices_list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: The parent enterprise to list devices under. E.g. "enterprises/XYZ".
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: "Optional filter to list devices. Filters can be done on: Device\
          \ custom name (substring match): 'customName=wing'"
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleHomeEnterpriseSdmV1ListDevicesResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/sdm.service
        Oauth2c:
        - https://www.googleapis.com/auth/sdm.service
      tags:
      - enterprises
      x-openapi-router-controller: openapi_server.controllers.enterprises_controller
  /v1/{parent}/rooms:
    get:
      description: Lists rooms managed by the enterprise.
      operationId: smartdevicemanagement_enterprises_structures_rooms_list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "The parent resource name of the rooms requested. For example:\
          \ \"enterprises/XYZ/structures/ABC\"."
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleHomeEnterpriseSdmV1ListRoomsResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/sdm.service
        Oauth2c:
        - https://www.googleapis.com/auth/sdm.service
      tags:
      - enterprises
      x-openapi-router-controller: openapi_server.controllers.enterprises_controller
  /v1/{parent}/structures:
    get:
      description: Lists structures managed by the enterprise.
      operationId: smartdevicemanagement_enterprises_structures_list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: The parent enterprise to list structures under. E.g. "enterprises/XYZ".
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: Optional filter to list structures.
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleHomeEnterpriseSdmV1ListStructuresResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/sdm.service
        Oauth2c:
        - https://www.googleapis.com/auth/sdm.service
      tags:
      - enterprises
      x-openapi-router-controller: openapi_server.controllers.enterprises_controller
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      explode: true
      in: query
      name: $.xgafv
      required: false
      schema:
        enum:
        - "1"
        - "2"
        type: string
      style: form
    access_token:
      description: OAuth access token.
      explode: true
      in: query
      name: access_token
      required: false
      schema:
        type: string
      style: form
    alt:
      description: Data format for response.
      explode: true
      in: query
      name: alt
      required: false
      schema:
        enum:
        - json
        - media
        - proto
        type: string
      style: form
    callback:
      description: JSONP
      explode: true
      in: query
      name: callback
      required: false
      schema:
        type: string
      style: form
    fields:
      description: Selector specifying which fields to include in a partial response.
      explode: true
      in: query
      name: fields
      required: false
      schema:
        type: string
      style: form
    key:
      description: "API key. Your API key identifies your project and provides you\
        \ with API access, quota, and reports. Required unless you provide an OAuth\
        \ 2.0 token."
      explode: true
      in: query
      name: key
      required: false
      schema:
        type: string
      style: form
    oauth_token:
      description: OAuth 2.0 token for the current user.
      explode: true
      in: query
      name: oauth_token
      required: false
      schema:
        type: string
      style: form
    prettyPrint:
      description: Returns response with indentations and line breaks.
      explode: true
      in: query
      name: prettyPrint
      required: false
      schema:
        type: boolean
      style: form
    quotaUser:
      description: "Available to use for quota purposes for server-side applications.\
        \ Can be any arbitrary string assigned to a user, but should not exceed 40\
        \ characters."
      explode: true
      in: query
      name: quotaUser
      required: false
      schema:
        type: string
      style: form
    uploadType:
      description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
        )."
      explode: true
      in: query
      name: uploadType
      required: false
      schema:
        type: string
      style: form
    upload_protocol:
      description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
      explode: true
      in: query
      name: upload_protocol
      required: false
      schema:
        type: string
      style: form
  schemas:
    GoogleHomeEnterpriseSdmV1Device:
      description: Device resource represents an instance of enterprise managed device
        in the property.
      example:
        traits:
          key: ""
        name: name
        type: type
        parentRelations:
        - parent: parent
          displayName: displayName
        - parent: parent
          displayName: displayName
      properties:
        name:
          description: "Required. The resource name of the device. For example: \"\
            enterprises/XYZ/devices/123\"."
          title: name
          type: string
        parentRelations:
          description: Assignee details of the device.
          items:
            $ref: '#/components/schemas/GoogleHomeEnterpriseSdmV1ParentRelation'
          title: parentRelations
          type: array
        traits:
          additionalProperties:
            description: Properties of the object.
          description: Output only. Device traits.
          readOnly: true
          title: traits
          type: object
        type:
          description: "Output only. Type of the device for general display purposes.\
            \ For example: \"THERMOSTAT\". The device type should not be used to deduce\
            \ or infer functionality of the actual device it is assigned to. Instead,\
            \ use the returned traits for the device."
          readOnly: true
          title: type
          type: string
      title: GoogleHomeEnterpriseSdmV1Device
      type: object
    GoogleHomeEnterpriseSdmV1ExecuteDeviceCommandRequest:
      description: Request message for SmartDeviceManagementService.ExecuteDeviceCommand
      example:
        params:
          key: ""
        command: command
      properties:
        command:
          description: "The command name to execute, represented by the fully qualified\
            \ protobuf message name."
          title: command
          type: string
        params:
          additionalProperties:
            description: Properties of the object.
          description: "The command message to execute, represented as a Struct."
          title: params
          type: object
      title: GoogleHomeEnterpriseSdmV1ExecuteDeviceCommandRequest
      type: object
    GoogleHomeEnterpriseSdmV1ExecuteDeviceCommandResponse:
      description: Response message for SmartDeviceManagementService.ExecuteDeviceCommand
      example:
        results:
          key: ""
      properties:
        results:
          additionalProperties:
            description: Properties of the object.
          description: The results of executing the command.
          title: results
          type: object
      title: GoogleHomeEnterpriseSdmV1ExecuteDeviceCommandResponse
      type: object
    GoogleHomeEnterpriseSdmV1ListDevicesResponse:
      description: Response message for SmartDeviceManagementService.ListDevices
      example:
        devices:
        - traits:
            key: ""
          name: name
          type: type
          parentRelations:
          - parent: parent
            displayName: displayName
          - parent: parent
            displayName: displayName
        - traits:
            key: ""
          name: name
          type: type
          parentRelations:
          - parent: parent
            displayName: displayName
          - parent: parent
            displayName: displayName
      properties:
        devices:
          description: The list of devices.
          items:
            $ref: '#/components/schemas/GoogleHomeEnterpriseSdmV1Device'
          title: devices
          type: array
      title: GoogleHomeEnterpriseSdmV1ListDevicesResponse
      type: object
    GoogleHomeEnterpriseSdmV1ListRoomsResponse:
      description: Response message for SmartDeviceManagementService.ListRooms
      example:
        rooms:
        - traits:
            key: ""
          name: name
        - traits:
            key: ""
          name: name
      properties:
        rooms:
          description: The list of rooms.
          items:
            $ref: '#/components/schemas/GoogleHomeEnterpriseSdmV1Room'
          title: rooms
          type: array
      title: GoogleHomeEnterpriseSdmV1ListRoomsResponse
      type: object
    GoogleHomeEnterpriseSdmV1ListStructuresResponse:
      description: Response message for SmartDeviceManagementService.ListStructures
      example:
        structures:
        - traits:
            key: ""
          name: name
        - traits:
            key: ""
          name: name
      properties:
        structures:
          description: The list of structures.
          items:
            $ref: '#/components/schemas/GoogleHomeEnterpriseSdmV1Structure'
          title: structures
          type: array
      title: GoogleHomeEnterpriseSdmV1ListStructuresResponse
      type: object
    GoogleHomeEnterpriseSdmV1ParentRelation:
      description: "Represents device relationships, for instance, structure/room\
        \ to which the device is assigned to."
      example:
        parent: parent
        displayName: displayName
      properties:
        displayName:
          description: "Output only. The custom name of the relation -- e.g., structure/room\
            \ where the device is assigned to."
          readOnly: true
          title: displayName
          type: string
        parent:
          description: "Output only. The name of the relation -- e.g., structure/room\
            \ where the device is assigned to. For example: \"enterprises/XYZ/structures/ABC\"\
            \ or \"enterprises/XYZ/structures/ABC/rooms/123\""
          readOnly: true
          title: parent
          type: string
      title: GoogleHomeEnterpriseSdmV1ParentRelation
      type: object
    GoogleHomeEnterpriseSdmV1Room:
      description: Room resource represents an instance of sub-space within a structure
        such as rooms in a hotel suite or rental apartment.
      example:
        traits:
          key: ""
        name: name
      properties:
        name:
          description: "Output only. The resource name of the room. For example: \"\
            enterprises/XYZ/structures/ABC/rooms/123\"."
          readOnly: true
          title: name
          type: string
        traits:
          additionalProperties:
            description: Properties of the object.
          description: Room traits.
          title: traits
          type: object
      title: GoogleHomeEnterpriseSdmV1Room
      type: object
    GoogleHomeEnterpriseSdmV1Structure:
      description: Structure resource represents an instance of enterprise managed
        home or hotel room.
      example:
        traits:
          key: ""
        name: name
      properties:
        name:
          description: "Output only. The resource name of the structure. For example:\
            \ \"enterprises/XYZ/structures/ABC\"."
          readOnly: true
          title: name
          type: string
        traits:
          additionalProperties:
            description: Properties of the object.
          description: Structure traits.
          title: traits
          type: object
      title: GoogleHomeEnterpriseSdmV1Structure
      type: object
  securitySchemes:
    Oauth2:
      description: Oauth 2.0 implicit authentication
      flows:
        implicit:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/sdm.service: See and/or control the devices
              that you selected
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_Oauth2
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_Oauth2
    Oauth2c:
      description: Oauth 2.0 authorizationCode authentication
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/sdm.service: See and/or control the devices
              that you selected
          tokenUrl: https://accounts.google.com/o/oauth2/token
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_Oauth2c
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_Oauth2c
