openapi: 3.0.1
info:
  description: The Admin Storage Management Client.
  title: StorageManagementClient
  version: 2015-12-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/storage/Microsoft.Storage.Admin/preview/2015-12-01/containers.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: azsadmin-containers
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://adminmanagement.local.azurestack.external/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Storage.Admin/farms/{farmId}/shares/operationresults/{operationId}
  : get:
      description: Returns the status of a container migration job.
      operationId: containers_migration_status
      parameters:
      - description: Subscription Id.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Farm Id.
        in: path
        name: farmId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Operation Id.
        in: path
        name: operationId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: REST Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MigrationResult'
          description: OK -- Operation has been accepted and processed
      tags:
      - Containers
      x-ms-examples:
        Returns the status of a container migration job.:
          parameters:
            api-version: 2015-12-01-preview
            farmId: 3cf03497-c44a-4e51-a56f-3987d88c70af
            operationId: 3ada6328-89ae-4263-8bfd-b76504a2bf66
            resourceGroupName: System.local
            share: '||SU1FileServer.azurestack.local|SU1_ObjStore'
            subscriptionId: 9ad61516-995c-4873-a21f-7e44904f0ed2
          responses:
            "200":
              body:
                containerName: ContainerName1
                destinationShareName: \192.168.1.1
                failureReason: ""
                jobId: 3ada6328-89ae-4263-8bfd-b76504a2bf66
                migrationStatus: Active
                sourceShareName: '||SU1FileServer.azurestack.local|SU1_ObjStore'
                storageAccountName: StorageAccountName1
                subEntitiesCompleted: 165
                subEntitiesFailed: 5
      x-openapi-router-controller: openapi_server.controllers.containers_controller
    post:
      description: Cancel a container migration job.
      operationId: containers_cancel_migration
      parameters:
      - description: Subscription Id.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Farm Id.
        in: path
        name: farmId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Operation Id.
        in: path
        name: operationId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: REST Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MigrationResult'
          description: OK -- Operation has been accepted and processed
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MigrationResult'
          description: ACCEPTED - Operation has been accepted will be processed asynchronously
      tags:
      - Containers
      x-ms-examples:
        Cancel a container migration job.:
          parameters:
            api-version: 2015-12-01-preview
            farmId: 3cf03497-c44a-4e51-a56f-3987d88c70af
            operationId: 3ada6328-89ae-4263-8bfd-b76504a2bf66
            resourceGroupName: System.local
            share: '||SU1FileServer.azurestack.local|SU1_ObjStore'
            subscriptionId: 9ad61516-995c-4873-a21f-7e44904f0ed2
          responses:
            "200":
              body:
                containerName: ContainerName1
                destinationShareName: \\192.168.1.1\DestinationShare
                failureReason: ""
                jobId: 3ada6328-89ae-4263-8bfd-b76504a2bf66
                migrationStatus: Canceled
                sourceShareName: '||SU1FileServer.azurestack.local|SU1_ObjStore'
                storageAccountName: StorageAccountName1
                subEntitiesCompleted: 165
                subEntitiesFailed: 5
            "202":
              body:
                containerName: ContainerName1
                destinationShareName: \\192.168.1.1\DestinationShare
                failureReason: ""
                jobId: 3ada6328-89ae-4263-8bfd-b76504a2bf66
                migrationStatus: Rollback
                sourceShareName: '||SU1FileServer.azurestack.local|SU1_ObjStore'
                storageAccountName: StorageAccountName1
                subEntitiesCompleted: 165
                subEntitiesFailed: 5
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.containers_controller
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Storage.Admin/farms/{farmId}/shares/{shareName}/containers
  : get:
      description: Returns the list of containers which can be migrated in the specified
        share.
      operationId: containers_list
      parameters:
      - description: Subscription Id.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Farm Id.
        in: path
        name: farmId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Share name.
        in: path
        name: shareName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: REST Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The container migration intent.
        in: query
        name: Intent
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The maximum number of containers.
        in: query
        name: MaxCount
        schema:
          format: int32
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The starting index the resource provider uses.
        in: query
        name: StartIndex
        schema:
          format: int32
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContainerList'
          description: OK -- The list of containers has been returned.
        "404":
          content: {}
          description: NOT FOUND -- The specified farm or share was not found.
      tags:
      - Containers
      x-ms-examples:
        Returns the list of containers which can be migrated in the specified share.:
          parameters:
            Intent: Migration
            MaxCount: 1000
            StartIndex: 0
            api-version: 2015-12-01-preview
            farmId: 3cf03497-c44a-4e51-a56f-3987d88c70af
            resourceGroupName: System.local
            shareName: '||SU1FileServer.azurestack.local|SU1_ObjStore'
            subscriptionId: 9ad61516-995c-4873-a21f-7e44904f0ed2
          responses:
            "200":
              body:
              - accountid: 3fe86317cc0d40e0a0d4833641a64fdb
                accountname: srphealthaccount
                containerState: Active
                containerid: 22
                containername: azurestackhealthrestrequestprocessed
                sharename: \\\\SU1FileServer.azurestack.local\\SU1_ObjStore
                usedBytesInPrimaryVolume: 2551603200
              - accountid: 3fe86317cc0d40e0a0d4833641a64fdb
                accountname: srphealthaccount
                containerState: Active
                containerid: 23
                containername: azurestackhealthrestrequestaccept
                sharename: \\\\SU1FileServer.azurestack.local\\SU1_ObjStore
                usedBytesInPrimaryVolume: 2282553344
              - accountid: 0a6b4f6b1de14cc08aa1fefadcc481eb
                accountname: frphealthaccount
                containerState: Active
                containerid: 6
                containername: azurestackhealthazssecurity
                sharename: \\\\SU1FileServer.azurestack.local\\SU1_ObjStore
                usedBytesInPrimaryVolume: 880074752
              - accountid: 3fe86317cc0d40e0a0d4833641a64fdb
                accountname: srphealthaccount
                containerState: Active
                containerid: 30
                containername: azurestackhealthtsqueueresponse
                sharename: \\\\SU1FileServer.azurestack.local\\SU1_ObjStore
                usedBytesInPrimaryVolume: 560037888
              - accountid: 3fe86317cc0d40e0a0d4833641a64fdb
                accountname: srphealthaccount
                containerState: Active
                containerid: 26
                containername: azurestackhealthtsqueuerequest
                sharename: \\\\SU1FileServer.azurestack.local\\SU1_ObjStore
                usedBytesInPrimaryVolume: 541351936
              - accountid: c2a6bdd19e404154afe27e2637e64ee1
                accountname: hrphealthaccount
                containerState: Active
                containerid: 37
                containername: azurestackhealthcentralmaeventtable
                sharename: \\\\SU1FileServer.azurestack.local\\SU1_ObjStore
                usedBytesInPrimaryVolume: 456925184
              - accountid: 3fe86317cc0d40e0a0d4833641a64fdb
                accountname: srphealthaccount
                containerState: Active
                containerid: 17
                containername: azurestackhealthblobsvcrpcverbose
                sharename: \\\\SU1FileServer.azurestack.local\\SU1_ObjStore
                usedBytesInPrimaryVolume: 343273472
              - accountid: 0a6b4f6b1de14cc08aa1fefadcc481eb
                accountname: frphealthaccount
                containerState: Active
                containerid: 7
                containername: azurestackhealthsystemperfcounter60s
                sharename: \\\\SU1FileServer.azurestack.local\\SU1_ObjStore
                usedBytesInPrimaryVolume: 208580608
              - accountid: 3fe86317cc0d40e0a0d4833641a64fdb
                accountname: srphealthaccount
                containerState: Active
                containerid: 31
                containername: azurestackhealthtstableresponse
                sharename: \\\\SU1FileServer.azurestack.local\\SU1_ObjStore
                usedBytesInPrimaryVolume: 86974464
              - accountid: 3fe86317cc0d40e0a0d4833641a64fdb
                accountname: srphealthaccount
                containerState: Active
                containerid: 28
                containername: azurestackhealthtstablerequest
                sharename: \\\\SU1FileServer.azurestack.local\\SU1_ObjStore
                usedBytesInPrimaryVolume: 85082112
            "404": {}
      x-openapi-router-controller: openapi_server.controllers.containers_controller
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Storage.Admin/farms/{farmId}/shares/{shareName}/destinationshares
  : get:
      description: Returns a list of destination shares that the system considers
        as best candidates for migration.
      operationId: containers_list_destination_shares
      parameters:
      - description: Subscription Id.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Farm Id.
        in: path
        name: farmId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Share name.
        in: path
        name: shareName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: REST Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                description: List of storage shares.
                items:
                  $ref: '#/components/schemas/Containers_ListDestinationShares_200_response_inner'
                type: array
          description: OK -- The list of shares has been returned.
        "404":
          content: {}
          description: NOT FOUND -- The specified farm or share was not found.
      tags:
      - Containers
      x-ms-examples:
        Returns a list of destination shares that the system considers as best candidates for migration.:
          parameters:
            api-version: 2015-12-01-preview
            farmId: 3cf03497-c44a-4e51-a56f-3987d88c70af
            resourceGroupName: System.local
            shareName: '||SU1FileServer.azurestack.local|SU1_ObjStore'
            subscriptionId: 9ad61516-995c-4873-a21f-7e44904f0ed2
          responses:
            "200":
              body: []
            "404": {}
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.containers_controller
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Storage.Admin/farms/{farmId}/shares/{shareName}/migrate
  : post:
      description: Starts a container migration job to migrate containers to the specified
        destination share.
      operationId: containers_migrate
      parameters:
      - description: Subscription Id.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Farm Id.
        in: path
        name: farmId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Share name.
        in: path
        name: shareName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: REST Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MigrationParameters'
        description: The parameters of container migration job.
        required: true
        x-ms-parameter-location: method
        x-body-name: migrationParameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MigrationResult'
          description: OK -- Container has been migrated
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MigrationResult'
          description: ACCEPTED -- Operation accepted and will be performed asynchronously
      tags:
      - Containers
      x-ms-examples:
        Starts a container migration job to migrate containers to the specified destination share.:
          parameters:
            api-version: 2015-12-01-preview
            farmId: 3cf03497-c44a-4e51-a56f-3987d88c70af
            migrationParameters:
              containerName: ContainerName1
              destinationShareUncPath: \\192.168.1.1\DestinationShare
              storageAccountName: StorageAccountName1
            resourceGroupName: System.local
            shareName: '||SU1FileServer.azurestack.local|SU1_ObjStore'
            subscriptionId: 9ad61516-995c-4873-a21f-7e44904f0ed2
          responses:
            "200":
              body:
                containerName: ContainerName1
                destinationShareName: \\192.168.1.1\DestinationShare
                failureReason: ""
                jobId: 3ada6328-89ae-4263-8bfd-b76504a2bf66
                migrationStatus: Complete
                sourceShareName: '||SU1FileServer.azurestack.local|SU1_ObjStore'
                storageAccountName: StorageAccountName1
                subEntitiesCompleted: 165
                subEntitiesFailed: 5
            "202":
              body:
                containerName: ContainerName1
                destinationShareName: \\192.168.1.1\DestinationShare
                failureReason: ""
                jobId: 3ada6328-89ae-4263-8bfd-b76504a2bf66
                migrationStatus: Active
                sourceShareName: '||SU1FileServer.azurestack.local|SU1_ObjStore'
                storageAccountName: StorageAccountName1
                subEntitiesCompleted: 165
                subEntitiesFailed: 5
      x-ms-long-running-operation: true
      x-codegen-request-body-name: migrationParameters
      x-openapi-router-controller: openapi_server.controllers.containers_controller
components:
  parameters:
    MaxCountParameter:
      description: The maximum number of containers.
      in: query
      name: MaxCount
      schema:
        format: int32
        type: integer
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    MigrationIntentParameter:
      description: The container migration intent.
      in: query
      name: Intent
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    StartIndexParameter:
      description: The starting index the resource provider uses.
      in: query
      name: StartIndex
      schema:
        format: int32
        type: integer
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  requestBodies:
    MigrationParameterParameter:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/MigrationParameters'
      description: The parameters of container migration job.
      required: true
      x-ms-parameter-location: method
      x-body-name: migrationParameters
  schemas:
    Container:
      description: Container properties.
      example:
        accountid: accountid
        usedBytesInPrimaryVolume: 6
        accountname: accountname
        containername: containername
        sharename: sharename
        containerState: containerState
        containerid: 0
      properties:
        accountid:
          description: The ID of the storage account.
          readOnly: true
          title: accountid
          type: string
        accountname:
          description: The name of storage account where the container locates.
          readOnly: true
          title: accountname
          type: string
        containerState:
          description: The current state of the container.
          readOnly: true
          title: containerState
          type: string
        containerid:
          description: The container ID.
          format: int64
          readOnly: true
          title: containerid
          type: integer
        containername:
          description: Container name.
          readOnly: true
          title: containername
          type: string
        sharename:
          description: The name of the share where the container locates.
          readOnly: true
          title: sharename
          type: string
        usedBytesInPrimaryVolume:
          description: "The used space, in bytes, of the container in the primary\
            \ volume."
          format: int64
          readOnly: true
          title: usedBytesInPrimaryVolume
          type: integer
      title: Container
      type: object
    ContainerList:
      description: List of containers.
      items:
        $ref: '#/components/schemas/Container'
      type: array
    MigrationParameters:
      description: Parameters of container migration job.
      example:
        destinationShareUncPath: destinationShareUncPath
        containerName: containerName
        storageAccountName: storageAccountName
      properties:
        containerName:
          description: The name of the container to be migrated.
          title: containerName
          type: string
        destinationShareUncPath:
          description: The UNC path of the destination share for migration.
          title: destinationShareUncPath
          type: string
        storageAccountName:
          description: The name of the storage account where the container locates.
          title: storageAccountName
          type: string
      required:
      - containerName
      - destinationShareUncPath
      - storageAccountName
      title: MigrationParameters
      type: object
    MigrationResult:
      description: The result of the container migration.
      example:
        destinationShareName: destinationShareName
        jobId: jobId
        subEntitiesCompleted: 0
        subEntitiesFailed: 6
        containerName: containerName
        failureReason: failureReason
        sourceShareName: sourceShareName
        storageAccountName: storageAccountName
        migrationStatus: Active
      properties:
        containerName:
          description: The name of the container to be migrated.
          readOnly: true
          title: containerName
          type: string
        destinationShareName:
          description: The name of the destination storage share.
          readOnly: true
          title: destinationShareName
          type: string
        failureReason:
          description: The migration failure reason.
          readOnly: true
          title: failureReason
          type: string
        jobId:
          description: The migration job ID.
          readOnly: true
          title: jobId
          type: string
        migrationStatus:
          $ref: '#/components/schemas/MigrationState'
        sourceShareName:
          description: The name of the source storage share.
          readOnly: true
          title: sourceShareName
          type: string
        storageAccountName:
          description: The storage account name.
          readOnly: true
          title: storageAccountName
          type: string
        subEntitiesCompleted:
          description: The number of entities which have been migrated.
          format: int64
          readOnly: true
          title: subEntitiesCompleted
          type: integer
        subEntitiesFailed:
          description: The number of entities which failed in migration.
          format: int64
          readOnly: true
          title: subEntitiesFailed
          type: integer
      title: MigrationResult
      type: object
    MigrationState:
      enum:
      - Active
      - Paused
      - Deleted
      - Rollback
      - Complete
      - Canceled
      - Failed
      - All
      title: MigrationState
      type: string
      x-ms-enum:
        modelAsString: true
        name: MigrationState
    Containers_ListDestinationShares_200_response_inner_properties:
      description: Storage share properties.
      example:
        healthStatus: Unknown
        totalCapacity: 6
        usedCapacity: 1
        uncPath: uncPath
        shareName: shareName
        freeCapacity: 0
      properties:
        freeCapacity:
          description: The free space of the storage share in bytes.
          format: int64
          readOnly: true
          title: freeCapacity
          type: integer
        healthStatus:
          description: Current health status.
          enum:
          - Unknown
          - Healthy
          - Warning
          - Critical
          readOnly: true
          title: healthStatus
          type: string
          x-ms-enum:
            modelAsString: true
            name: HealthStatus
        shareName:
          description: The name of the storage share.
          readOnly: true
          title: shareName
          type: string
        totalCapacity:
          description: The total capacity of the storage share in bytes.
          format: int64
          readOnly: true
          title: totalCapacity
          type: integer
        uncPath:
          description: The UNC path to the storage share.
          readOnly: true
          title: uncPath
          type: string
        usedCapacity:
          description: The used capacity of the storage share in bytes.
          format: int64
          readOnly: true
          title: usedCapacity
          type: integer
      title: Containers_ListDestinationShares_200_response_inner_properties
      type: object
    Containers_ListDestinationShares_200_response_inner:
      description: Storage share.
      example:
        properties:
          healthStatus: Unknown
          totalCapacity: 6
          usedCapacity: 1
          uncPath: uncPath
          shareName: shareName
          freeCapacity: 0
      properties:
        properties:
          $ref: '#/components/schemas/Containers_ListDestinationShares_200_response_inner_properties'
      title: Containers_ListDestinationShares_200_response_inner
      type: object
  securitySchemes:
    azure_auth:
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
