openapi: 3.0.1
info:
  title: bridgedb webservices
  version: 0.9.0
  x-origin:
  - format: swagger
    url: https://bridgedb.github.io/swagger/swagger.json
    version: "2.0"
  x-providerName: bridgedb.org
servers:
- url: https://webservice.bridgedb.org/
- url: http://webservice.bridgedb.org/
paths:
  /{organism}/attributeSearch/{query}:
    get:
      description: |
        Returns a list of xrefs and associated attributes that contain the query string for a given organism. Results are not restricted to exact matches. Optionally limit results to a specified number per data source, or by the type of attribute. See possible attribute types via /{organism}/attributeSet.
      parameters:
      - description: "Organism [Latin name](http://vocabularies.bridgedb.org/#latinName)\
          \ or [short name](http://vocabularies.bridgedb.org/#shortName)."
        in: path
        name: organism
        required: true
        schema:
          enum:
          - Human
          - Homo sapiens
          - Tuberculosis
          - Mycobacterium tuberculosis
          - Mosquito
          - Anopheles gambiae
          - Zebra fish
          - Danio rerio
          - Arabidopsis thaliana
          - Rice
          - Oryza sativa
          - Sea Squirt
          - Ciona intestinalis
          - Barley
          - Hordeum vulgare
          - Frog
          - Xenopus tropicalis
          - Soybean
          - Glycine max
          - Fruit fly
          - Drosophila melanogaster
          - Horse
          - Equus caballus
          - Rhesus Monkey
          - Macaca mulatta
          - Wine Grape
          - Vitis vinifera
          - Yeast
          - Saccharomyces cerevisiae
          - Tomato
          - Solanum lycopersicum
          - Rat
          - Rattus norvegicus
          - Cow
          - Bos taurus
          - Western Balsam Poplar
          - Populus trichocarpa
          - Chimpanzee
          - Pan troglodytes
          - Indian Rice
          - Oryza indica
          - Dog
          - Canis familiaris
          - Maize
          - Zea mays
          - Pig
          - Sus scrofa
          - Worm
          - Caenorhabditis elegans
          - Platypus
          - Ornithorhynchus anatinus
          - Chicken
          - Gallus gallus
          - Fusarium graminearum
          - Gibberella zeae
          - Bacillus subtilis
          - Escherichia coli
          - Black mold
          - Aspergillus niger
          - Mouse
          - Mus musculus
          type: string
      - description: Text to find in attributes
        in: path
        name: query
        required: true
        schema:
          type: string
      - description: Number of results
        in: query
        name: limit
        schema:
          type: integer
      - description: "Restrict search by attribute name (case sensitive). Use GET\
          \ /{organism}/attributeSet to find out which attributes are supported."
        in: query
        name: attrName
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: "returns a tab-delimited list with the identifier, data source\
            \ and descriptions found."
      tags:
      - "Identifiers (Genes, proteins, metabolites, interactions)"
      x-accepts:
      - application/json
  /{organism}/attributeSet:
    get:
      description: Returns the supported attributes to the given Organism.
      parameters:
      - description: "Organism [Latin name](http://vocabularies.bridgedb.org/#latinName)\
          \ or [short name](http://vocabularies.bridgedb.org/#shortName)."
        in: path
        name: organism
        required: true
        schema:
          enum:
          - Human
          - Homo sapiens
          - Tuberculosis
          - Mycobacterium tuberculosis
          - Mosquito
          - Anopheles gambiae
          - Zebra fish
          - Danio rerio
          - Arabidopsis thaliana
          - Rice
          - Oryza sativa
          - Sea Squirt
          - Ciona intestinalis
          - Barley
          - Hordeum vulgare
          - Frog
          - Xenopus tropicalis
          - Soybean
          - Glycine max
          - Fruit fly
          - Drosophila melanogaster
          - Horse
          - Equus caballus
          - Rhesus Monkey
          - Macaca mulatta
          - Wine Grape
          - Vitis vinifera
          - Yeast
          - Saccharomyces cerevisiae
          - Tomato
          - Solanum lycopersicum
          - Rat
          - Rattus norvegicus
          - Cow
          - Bos taurus
          - Western Balsam Poplar
          - Populus trichocarpa
          - Chimpanzee
          - Pan troglodytes
          - Indian Rice
          - Oryza indica
          - Dog
          - Canis familiaris
          - Maize
          - Zea mays
          - Pig
          - Sus scrofa
          - Worm
          - Caenorhabditis elegans
          - Platypus
          - Ornithorhynchus anatinus
          - Chicken
          - Gallus gallus
          - Fusarium graminearum
          - Gibberella zeae
          - Bacillus subtilis
          - Escherichia coli
          - Black mold
          - Aspergillus niger
          - Mouse
          - Mus musculus
          type: string
      responses:
        "200":
          content: {}
          description: Returns the supported attributes
      tags:
      - "Identifiers (Genes, proteins, metabolites, interactions)"
      x-accepts:
      - application/json
  /{organism}/attributes/{systemCode}/{identifier}:
    get:
      description: "Returns the attributes for a given identifier, data source, organism.\
        \ Optionally display only a specified attribute"
      parameters:
      - description: "Organism [Latin name](http://vocabularies.bridgedb.org/#latinName)\
          \ or [short name](http://vocabularies.bridgedb.org/#shortName)."
        in: path
        name: organism
        required: true
        schema:
          enum:
          - Human
          - Homo sapiens
          - Tuberculosis
          - Mycobacterium tuberculosis
          - Mosquito
          - Anopheles gambiae
          - Zebra fish
          - Danio rerio
          - Arabidopsis thaliana
          - Rice
          - Oryza sativa
          - Sea Squirt
          - Ciona intestinalis
          - Barley
          - Hordeum vulgare
          - Frog
          - Xenopus tropicalis
          - Soybean
          - Glycine max
          - Fruit fly
          - Drosophila melanogaster
          - Horse
          - Equus caballus
          - Rhesus Monkey
          - Macaca mulatta
          - Wine Grape
          - Vitis vinifera
          - Yeast
          - Saccharomyces cerevisiae
          - Tomato
          - Solanum lycopersicum
          - Rat
          - Rattus norvegicus
          - Cow
          - Bos taurus
          - Western Balsam Poplar
          - Populus trichocarpa
          - Chimpanzee
          - Pan troglodytes
          - Indian Rice
          - Oryza indica
          - Dog
          - Canis familiaris
          - Maize
          - Zea mays
          - Pig
          - Sus scrofa
          - Worm
          - Caenorhabditis elegans
          - Platypus
          - Ornithorhynchus anatinus
          - Chicken
          - Gallus gallus
          - Fusarium graminearum
          - Gibberella zeae
          - Bacillus subtilis
          - Escherichia coli
          - Black mold
          - Aspergillus niger
          - Mouse
          - Mus musculus
          type: string
      - description: System
        in: path
        name: systemCode
        required: true
        schema:
          default: En
          enum:
          - En
          - Cs
          - X
          - E
          - Rh
          - Ck
          - Eco
          - Cg
          - Ch
          - Il
          - Uc
          - Rf
          - Pd
          - U
          - Ma
          - Lm
          - Wd
          - Wi
          - Cpc
          - Mb
          - Rk
          - Ce
          - S
          - L
          - Wg
          - Om
          - T
          - Mc
          - Ik
          - H
          - Re
          - Ag
          - Q
          - Ca
          - Up
          - Cks
          type: string
      - description: Identifier
        in: path
        name: identifier
        required: true
        schema:
          default: ENSG00000122375
          type: string
      - description: Type of attribute
        in: query
        name: attrName
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Returns a tab-delimited list with the attributes and their
            content
      tags:
      - "Identifiers (Genes, proteins, metabolites, interactions)"
      x-accepts:
      - application/json
  /{organism}/isFreeSearchSupported:
    get:
      description: "Returns `true` or `false` based on whether or not /{organism}/search/{query}\
        \ is supported for a given organism."
      parameters:
      - description: "Organism [Latin name](http://vocabularies.bridgedb.org/#latinName)\
          \ or [short name](http://vocabularies.bridgedb.org/#shortName)."
        in: path
        name: organism
        required: true
        schema:
          enum:
          - Human
          - Homo sapiens
          - Tuberculosis
          - Mycobacterium tuberculosis
          - Mosquito
          - Anopheles gambiae
          - Zebra fish
          - Danio rerio
          - Arabidopsis thaliana
          - Rice
          - Oryza sativa
          - Sea Squirt
          - Ciona intestinalis
          - Barley
          - Hordeum vulgare
          - Frog
          - Xenopus tropicalis
          - Soybean
          - Glycine max
          - Fruit fly
          - Drosophila melanogaster
          - Horse
          - Equus caballus
          - Rhesus Monkey
          - Macaca mulatta
          - Wine Grape
          - Vitis vinifera
          - Yeast
          - Saccharomyces cerevisiae
          - Tomato
          - Solanum lycopersicum
          - Rat
          - Rattus norvegicus
          - Cow
          - Bos taurus
          - Western Balsam Poplar
          - Populus trichocarpa
          - Chimpanzee
          - Pan troglodytes
          - Indian Rice
          - Oryza indica
          - Dog
          - Canis familiaris
          - Maize
          - Zea mays
          - Pig
          - Sus scrofa
          - Worm
          - Caenorhabditis elegans
          - Platypus
          - Ornithorhynchus anatinus
          - Chicken
          - Gallus gallus
          - Fusarium graminearum
          - Gibberella zeae
          - Bacillus subtilis
          - Escherichia coli
          - Black mold
          - Aspergillus niger
          - Mouse
          - Mus musculus
          type: string
      responses:
        "200":
          content: {}
          description: Returns `true` or `false`.
      tags:
      - "Identifiers (Genes, proteins, metabolites, interactions)"
      x-accepts:
      - application/json
  /{organism}/isMappingSupported/{sourceSystemCode}/{targetSystemCode}:
    get:
      description: "Returns `true` or `false` based on whether or not /{organism}/xrefs/{systemCode}/{identifier}\
        \ would possibly return a {targetSystemCode} result given a {sourceSystemCode}\
        \ query. This function basically combines the results of /{organism}/sourceDataSources\
        \ and /{organism}/targetDataSources into a single boolean result."
      parameters:
      - description: "Organism [Latin name](http://vocabularies.bridgedb.org/#latinName)\
          \ or [short name](http://vocabularies.bridgedb.org/#shortName)."
        in: path
        name: organism
        required: true
        schema:
          enum:
          - Human
          - Homo sapiens
          - Tuberculosis
          - Mycobacterium tuberculosis
          - Mosquito
          - Anopheles gambiae
          - Zebra fish
          - Danio rerio
          - Arabidopsis thaliana
          - Rice
          - Oryza sativa
          - Sea Squirt
          - Ciona intestinalis
          - Barley
          - Hordeum vulgare
          - Frog
          - Xenopus tropicalis
          - Soybean
          - Glycine max
          - Fruit fly
          - Drosophila melanogaster
          - Horse
          - Equus caballus
          - Rhesus Monkey
          - Macaca mulatta
          - Wine Grape
          - Vitis vinifera
          - Yeast
          - Saccharomyces cerevisiae
          - Tomato
          - Solanum lycopersicum
          - Rat
          - Rattus norvegicus
          - Cow
          - Bos taurus
          - Western Balsam Poplar
          - Populus trichocarpa
          - Chimpanzee
          - Pan troglodytes
          - Indian Rice
          - Oryza indica
          - Dog
          - Canis familiaris
          - Maize
          - Zea mays
          - Pig
          - Sus scrofa
          - Worm
          - Caenorhabditis elegans
          - Platypus
          - Ornithorhynchus anatinus
          - Chicken
          - Gallus gallus
          - Fusarium graminearum
          - Gibberella zeae
          - Bacillus subtilis
          - Escherichia coli
          - Black mold
          - Aspergillus niger
          - Mouse
          - Mus musculus
          type: string
      - description: "[System code](http://vocabularies.bridgedb.org/#systemCode)\
          \ for source (input/query) data source"
        in: path
        name: sourceSystemCode
        required: true
        schema:
          default: L
          enum:
          - En
          - Cs
          - X
          - E
          - Rh
          - Ck
          - Eco
          - Cg
          - Ch
          - Il
          - Uc
          - Rf
          - Pd
          - U
          - Ma
          - Lm
          - Wd
          - Wi
          - Cpc
          - Mb
          - Rk
          - Ce
          - S
          - L
          - Wg
          - Om
          - T
          - Mc
          - Ik
          - H
          - Re
          - Ag
          - Q
          - Ca
          - Up
          - Cks
          type: string
      - description: "[System code](http://vocabularies.bridgedb.org/#systemCode)\
          \ for target (output/result) data source"
        in: path
        name: targetSystemCode
        required: true
        schema:
          enum:
          - En
          - Cs
          - X
          - E
          - Rh
          - Ck
          - Eco
          - Cg
          - Ch
          - Il
          - Uc
          - Rf
          - Pd
          - U
          - Ma
          - Lm
          - Wd
          - Wi
          - Cpc
          - Mb
          - Rk
          - Ce
          - S
          - L
          - Wg
          - Om
          - T
          - Mc
          - Ik
          - H
          - Re
          - Ag
          - Q
          - Ca
          - Up
          - Cks
          type: string
      responses:
        "200":
          content: {}
          description: Returns `true` or `false`.
      tags:
      - "Identifiers (Genes, proteins, metabolites, interactions)"
      x-accepts:
      - application/json
  /{organism}/properties:
    get:
      description: |
        Returns the list of properties available for a given organism
      parameters:
      - description: "Organism [Latin name](http://vocabularies.bridgedb.org/#latinName)\
          \ or [short name](http://vocabularies.bridgedb.org/#shortName)."
        in: path
        name: organism
        required: true
        schema:
          enum:
          - Human
          - Homo sapiens
          - Tuberculosis
          - Mycobacterium tuberculosis
          - Mosquito
          - Anopheles gambiae
          - Zebra fish
          - Danio rerio
          - Arabidopsis thaliana
          - Rice
          - Oryza sativa
          - Sea Squirt
          - Ciona intestinalis
          - Barley
          - Hordeum vulgare
          - Frog
          - Xenopus tropicalis
          - Soybean
          - Glycine max
          - Fruit fly
          - Drosophila melanogaster
          - Horse
          - Equus caballus
          - Rhesus Monkey
          - Macaca mulatta
          - Wine Grape
          - Vitis vinifera
          - Yeast
          - Saccharomyces cerevisiae
          - Tomato
          - Solanum lycopersicum
          - Rat
          - Rattus norvegicus
          - Cow
          - Bos taurus
          - Western Balsam Poplar
          - Populus trichocarpa
          - Chimpanzee
          - Pan troglodytes
          - Indian Rice
          - Oryza indica
          - Dog
          - Canis familiaris
          - Maize
          - Zea mays
          - Pig
          - Sus scrofa
          - Worm
          - Caenorhabditis elegans
          - Platypus
          - Ornithorhynchus anatinus
          - Chicken
          - Gallus gallus
          - Fusarium graminearum
          - Gibberella zeae
          - Bacillus subtilis
          - Escherichia coli
          - Black mold
          - Aspergillus niger
          - Mouse
          - Mus musculus
          type: string
      responses:
        "200":
          content: {}
          description: Returns the list of properties available for a given organism
      tags:
      - "Identifiers (Genes, proteins, metabolites, interactions)"
      x-accepts:
      - application/json
  /{organism}/search/{query}:
    get:
      description: Returns a list of xrefs with identifiers that contain the query
        string for a given organism. Results are not restricted to exact matches.
        Optionally limit results to a specified number per data source.
      parameters:
      - description: "Organism [Latin name](http://vocabularies.bridgedb.org/#latinName)\
          \ or [short name](http://vocabularies.bridgedb.org/#shortName)."
        in: path
        name: organism
        required: true
        schema:
          enum:
          - Human
          - Homo sapiens
          - Tuberculosis
          - Mycobacterium tuberculosis
          - Mosquito
          - Anopheles gambiae
          - Zebra fish
          - Danio rerio
          - Arabidopsis thaliana
          - Rice
          - Oryza sativa
          - Sea Squirt
          - Ciona intestinalis
          - Barley
          - Hordeum vulgare
          - Frog
          - Xenopus tropicalis
          - Soybean
          - Glycine max
          - Fruit fly
          - Drosophila melanogaster
          - Horse
          - Equus caballus
          - Rhesus Monkey
          - Macaca mulatta
          - Wine Grape
          - Vitis vinifera
          - Yeast
          - Saccharomyces cerevisiae
          - Tomato
          - Solanum lycopersicum
          - Rat
          - Rattus norvegicus
          - Cow
          - Bos taurus
          - Western Balsam Poplar
          - Populus trichocarpa
          - Chimpanzee
          - Pan troglodytes
          - Indian Rice
          - Oryza indica
          - Dog
          - Canis familiaris
          - Maize
          - Zea mays
          - Pig
          - Sus scrofa
          - Worm
          - Caenorhabditis elegans
          - Platypus
          - Ornithorhynchus anatinus
          - Chicken
          - Gallus gallus
          - Fusarium graminearum
          - Gibberella zeae
          - Bacillus subtilis
          - Escherichia coli
          - Black mold
          - Aspergillus niger
          - Mouse
          - Mus musculus
          type: string
      - description: Identifier query
        in: path
        name: query
        required: true
        schema:
          default: "1234"
          type: string
      - description: Number of results per data source
        in: query
        name: limit
        schema:
          type: integer
      responses:
        "200":
          content: {}
          description: Returns a tab-delimited list of xrefs with identifiers that
            contain the query string for a given organism
      tags:
      - "Identifiers (Genes, proteins, metabolites, interactions)"
      x-accepts:
      - application/json
  /{organism}/sourceDataSources:
    get:
      description: Returns a list of data sources available as xref sources for a
        given organism.
      parameters:
      - description: "Organism [Latin name](http://vocabularies.bridgedb.org/#latinName)\
          \ or [short name](http://vocabularies.bridgedb.org/#shortName)."
        in: path
        name: organism
        required: true
        schema:
          enum:
          - Human
          - Homo sapiens
          - Tuberculosis
          - Mycobacterium tuberculosis
          - Mosquito
          - Anopheles gambiae
          - Zebra fish
          - Danio rerio
          - Arabidopsis thaliana
          - Rice
          - Oryza sativa
          - Sea Squirt
          - Ciona intestinalis
          - Barley
          - Hordeum vulgare
          - Frog
          - Xenopus tropicalis
          - Soybean
          - Glycine max
          - Fruit fly
          - Drosophila melanogaster
          - Horse
          - Equus caballus
          - Rhesus Monkey
          - Macaca mulatta
          - Wine Grape
          - Vitis vinifera
          - Yeast
          - Saccharomyces cerevisiae
          - Tomato
          - Solanum lycopersicum
          - Rat
          - Rattus norvegicus
          - Cow
          - Bos taurus
          - Western Balsam Poplar
          - Populus trichocarpa
          - Chimpanzee
          - Pan troglodytes
          - Indian Rice
          - Oryza indica
          - Dog
          - Canis familiaris
          - Maize
          - Zea mays
          - Pig
          - Sus scrofa
          - Worm
          - Caenorhabditis elegans
          - Platypus
          - Ornithorhynchus anatinus
          - Chicken
          - Gallus gallus
          - Fusarium graminearum
          - Gibberella zeae
          - Bacillus subtilis
          - Escherichia coli
          - Black mold
          - Aspergillus niger
          - Mouse
          - Mus musculus
          type: string
      responses:
        "200":
          content: {}
          description: Returns a list of data sources available as xref sources.
      tags:
      - "Identifiers (Genes, proteins, metabolites, interactions)"
      x-accepts:
      - application/json
  /{organism}/targetDataSources:
    get:
      description: Returns a list of data sources available as xref targets for a
        given organism.
      parameters:
      - description: "Organism [Latin name](http://vocabularies.bridgedb.org/#latinName)\
          \ or [short name](http://vocabularies.bridgedb.org/#shortName)."
        in: path
        name: organism
        required: true
        schema:
          enum:
          - Human
          - Homo sapiens
          - Tuberculosis
          - Mycobacterium tuberculosis
          - Mosquito
          - Anopheles gambiae
          - Zebra fish
          - Danio rerio
          - Arabidopsis thaliana
          - Rice
          - Oryza sativa
          - Sea Squirt
          - Ciona intestinalis
          - Barley
          - Hordeum vulgare
          - Frog
          - Xenopus tropicalis
          - Soybean
          - Glycine max
          - Fruit fly
          - Drosophila melanogaster
          - Horse
          - Equus caballus
          - Rhesus Monkey
          - Macaca mulatta
          - Wine Grape
          - Vitis vinifera
          - Yeast
          - Saccharomyces cerevisiae
          - Tomato
          - Solanum lycopersicum
          - Rat
          - Rattus norvegicus
          - Cow
          - Bos taurus
          - Western Balsam Poplar
          - Populus trichocarpa
          - Chimpanzee
          - Pan troglodytes
          - Indian Rice
          - Oryza indica
          - Dog
          - Canis familiaris
          - Maize
          - Zea mays
          - Pig
          - Sus scrofa
          - Worm
          - Caenorhabditis elegans
          - Platypus
          - Ornithorhynchus anatinus
          - Chicken
          - Gallus gallus
          - Fusarium graminearum
          - Gibberella zeae
          - Bacillus subtilis
          - Escherichia coli
          - Black mold
          - Aspergillus niger
          - Mouse
          - Mus musculus
          type: string
      responses:
        "200":
          content: {}
          description: Returns a list of data sources available as xref targets.
      tags:
      - "Identifiers (Genes, proteins, metabolites, interactions)"
      x-accepts:
      - application/json
  /{organism}/xrefExists/{systemCode}/{identifier}:
    get:
      description: "Returns `true` or `false` based on whether or not an xref exists\
        \ in the database given an identifier, data source, and organism."
      parameters:
      - description: "Organism [Latin name](http://vocabularies.bridgedb.org/#latinName)\
          \ or [short name](http://vocabularies.bridgedb.org/#shortName)."
        in: path
        name: organism
        required: true
        schema:
          enum:
          - Human
          - Homo sapiens
          - Tuberculosis
          - Mycobacterium tuberculosis
          - Mosquito
          - Anopheles gambiae
          - Zebra fish
          - Danio rerio
          - Arabidopsis thaliana
          - Rice
          - Oryza sativa
          - Sea Squirt
          - Ciona intestinalis
          - Barley
          - Hordeum vulgare
          - Frog
          - Xenopus tropicalis
          - Soybean
          - Glycine max
          - Fruit fly
          - Drosophila melanogaster
          - Horse
          - Equus caballus
          - Rhesus Monkey
          - Macaca mulatta
          - Wine Grape
          - Vitis vinifera
          - Yeast
          - Saccharomyces cerevisiae
          - Tomato
          - Solanum lycopersicum
          - Rat
          - Rattus norvegicus
          - Cow
          - Bos taurus
          - Western Balsam Poplar
          - Populus trichocarpa
          - Chimpanzee
          - Pan troglodytes
          - Indian Rice
          - Oryza indica
          - Dog
          - Canis familiaris
          - Maize
          - Zea mays
          - Pig
          - Sus scrofa
          - Worm
          - Caenorhabditis elegans
          - Platypus
          - Ornithorhynchus anatinus
          - Chicken
          - Gallus gallus
          - Fusarium graminearum
          - Gibberella zeae
          - Bacillus subtilis
          - Escherichia coli
          - Black mold
          - Aspergillus niger
          - Mouse
          - Mus musculus
          type: string
      - description: "Source (input) data source [system code](https://bridgedb.github.io/pages/system-codes.html)"
        in: path
        name: systemCode
        required: true
        schema:
          default: L
          enum:
          - En
          - Cs
          - X
          - E
          - Rh
          - Ck
          - Eco
          - Cg
          - Ch
          - Il
          - Uc
          - Rf
          - Pd
          - U
          - Ma
          - Lm
          - Wd
          - Wi
          - Cpc
          - Mb
          - Rk
          - Ce
          - S
          - L
          - Wg
          - Om
          - T
          - Mc
          - Ik
          - H
          - Re
          - Ag
          - Q
          - Ca
          - Up
          - Cks
          type: string
      - description: Identifier
        in: path
        name: identifier
        required: true
        schema:
          default: "1234"
          type: string
      responses:
        "200":
          content: {}
          description: Returns `true` or `false`
      tags:
      - "Identifiers (Genes, proteins, metabolites, interactions)"
      x-accepts:
      - application/json
  /{organism}/xrefs/{systemCode}/{identifier}:
    get:
      description: "Returns a list of xrefs that map to a given identifier, data source,\
        \ and organism."
      parameters:
      - description: "(Optional) Restrict results by data source [system code](https://bridgedb.github.io/pages/system-codes.html)"
        in: query
        name: dataSource
        schema:
          enum:
          - En
          - Cs
          - X
          - E
          - Rh
          - Ck
          - Eco
          - Cg
          - Ch
          - Il
          - Uc
          - Rf
          - Pd
          - U
          - Ma
          - Lm
          - Wd
          - Wi
          - Cpc
          - Mb
          - Rk
          - Ce
          - S
          - L
          - Wg
          - Om
          - T
          - Mc
          - Ik
          - H
          - Re
          - Ag
          - Q
          - Ca
          - Up
          - Cks
          type: string
      - description: "Organism [Latin name](http://vocabularies.bridgedb.org/#latinName)\
          \ or [short name](http://vocabularies.bridgedb.org/#shortName)."
        in: path
        name: organism
        required: true
        schema:
          enum:
          - Human
          - Homo sapiens
          - Tuberculosis
          - Mycobacterium tuberculosis
          - Mosquito
          - Anopheles gambiae
          - Zebra fish
          - Danio rerio
          - Arabidopsis thaliana
          - Rice
          - Oryza sativa
          - Sea Squirt
          - Ciona intestinalis
          - Barley
          - Hordeum vulgare
          - Frog
          - Xenopus tropicalis
          - Soybean
          - Glycine max
          - Fruit fly
          - Drosophila melanogaster
          - Horse
          - Equus caballus
          - Rhesus Monkey
          - Macaca mulatta
          - Wine Grape
          - Vitis vinifera
          - Yeast
          - Saccharomyces cerevisiae
          - Tomato
          - Solanum lycopersicum
          - Rat
          - Rattus norvegicus
          - Cow
          - Bos taurus
          - Western Balsam Poplar
          - Populus trichocarpa
          - Chimpanzee
          - Pan troglodytes
          - Indian Rice
          - Oryza indica
          - Dog
          - Canis familiaris
          - Maize
          - Zea mays
          - Pig
          - Sus scrofa
          - Worm
          - Caenorhabditis elegans
          - Platypus
          - Ornithorhynchus anatinus
          - Chicken
          - Gallus gallus
          - Fusarium graminearum
          - Gibberella zeae
          - Bacillus subtilis
          - Escherichia coli
          - Black mold
          - Aspergillus niger
          - Mouse
          - Mus musculus
          type: string
      - description: "Source (input) data source [system code](https://bridgedb.github.io/pages/system-codes.html)"
        in: path
        name: systemCode
        required: true
        schema:
          default: L
          enum:
          - En
          - Cs
          - X
          - E
          - Rh
          - Ck
          - Eco
          - Cg
          - Ch
          - Il
          - Uc
          - Rf
          - Pd
          - U
          - Ma
          - Lm
          - Wd
          - Wi
          - Cpc
          - Mb
          - Rk
          - Ce
          - S
          - L
          - Wg
          - Om
          - T
          - Mc
          - Ik
          - H
          - Re
          - Ag
          - Q
          - Ca
          - Up
          - Cks
          type: string
      - description: Identifier
        in: path
        name: identifier
        required: true
        schema:
          default: "1234"
          type: string
      responses:
        "200":
          content: {}
          description: Returns a tab-delimited list of xrefs that map to a given identifier
      tags:
      - "Identifiers (Genes, proteins, metabolites, interactions)"
      x-accepts:
      - application/json
  /{organism}/xrefsBatch:
    post:
      description: "Returns a list of xrefs, per identifier, that maps to a given\
        \ list of identifiers an data source given an organism."
      parameters:
      - description: "(Optional) Restrict results by data source [system code](https://bridgedb.github.io/pages/system-codes.html)"
        in: query
        name: dataSource
        schema:
          enum:
          - En
          - Cs
          - X
          - E
          - Rh
          - Ck
          - Eco
          - Cg
          - Ch
          - Il
          - Uc
          - Rf
          - Pd
          - U
          - Ma
          - Lm
          - Wd
          - Wi
          - Cpc
          - Mb
          - Rk
          - Ce
          - S
          - L
          - Wg
          - Om
          - T
          - Mc
          - Ik
          - H
          - Re
          - Ag
          - Q
          - Ca
          - Up
          - Cks
          type: string
      - description: "Organism [Latin name](http://vocabularies.bridgedb.org/#latinName)\
          \ or [short name](http://vocabularies.bridgedb.org/#shortName)."
        in: path
        name: organism
        required: true
        schema:
          enum:
          - Human
          - Homo sapiens
          - Tuberculosis
          - Mycobacterium tuberculosis
          - Mosquito
          - Anopheles gambiae
          - Zebra fish
          - Danio rerio
          - Arabidopsis thaliana
          - Rice
          - Oryza sativa
          - Sea Squirt
          - Ciona intestinalis
          - Barley
          - Hordeum vulgare
          - Frog
          - Xenopus tropicalis
          - Soybean
          - Glycine max
          - Fruit fly
          - Drosophila melanogaster
          - Horse
          - Equus caballus
          - Rhesus Monkey
          - Macaca mulatta
          - Wine Grape
          - Vitis vinifera
          - Yeast
          - Saccharomyces cerevisiae
          - Tomato
          - Solanum lycopersicum
          - Rat
          - Rattus norvegicus
          - Cow
          - Bos taurus
          - Western Balsam Poplar
          - Populus trichocarpa
          - Chimpanzee
          - Pan troglodytes
          - Indian Rice
          - Oryza indica
          - Dog
          - Canis familiaris
          - Maize
          - Zea mays
          - Pig
          - Sus scrofa
          - Worm
          - Caenorhabditis elegans
          - Platypus
          - Ornithorhynchus anatinus
          - Chicken
          - Gallus gallus
          - Fusarium graminearum
          - Gibberella zeae
          - Bacillus subtilis
          - Escherichia coli
          - Black mold
          - Aspergillus niger
          - Mouse
          - Mus musculus
          type: string
      requestBody:
        content:
          text/html:
            schema:
              example: "17716\tL\n17717\tL\nENSMUSG00000032462\tEn\nENSMUSG00000021938\t\
                En"
              format: string
              type: string
        description: "List of tab separated values: id<tab>systemcode\\n"
        required: true
      responses:
        "200":
          content: {}
          description: Returns a tab-delimited list of xrefs that map to a given identifier
      tags:
      - "Identifiers (Genes, proteins, metabolites, interactions)"
      x-codegen-request-body-name: body
      x-content-type: text/html
      x-accepts:
      - application/json
  /{organism}/xrefsBatch/{systemCode}:
    post:
      description: "Returns a list of xrefs, that maps to a given list of identifiers\
        \ to a given data source and organism."
      parameters:
      - description: "(Optional) Restrict results by data source [system code](https://bridgedb.github.io/pages/system-codes.html)"
        in: query
        name: dataSource
        schema:
          enum:
          - En
          - Cs
          - X
          - E
          - Rh
          - Ck
          - Eco
          - Cg
          - Ch
          - Il
          - Uc
          - Rf
          - Pd
          - U
          - Ma
          - Lm
          - Wd
          - Wi
          - Cpc
          - Mb
          - Rk
          - Ce
          - S
          - L
          - Wg
          - Om
          - T
          - Mc
          - Ik
          - H
          - Re
          - Ag
          - Q
          - Ca
          - Up
          - Cks
          type: string
      - description: "Organism [Latin name](http://vocabularies.bridgedb.org/#latinName)\
          \ or [short name](http://vocabularies.bridgedb.org/#shortName)."
        in: path
        name: organism
        required: true
        schema:
          enum:
          - Human
          - Homo sapiens
          - Tuberculosis
          - Mycobacterium tuberculosis
          - Mosquito
          - Anopheles gambiae
          - Zebra fish
          - Danio rerio
          - Arabidopsis thaliana
          - Rice
          - Oryza sativa
          - Sea Squirt
          - Ciona intestinalis
          - Barley
          - Hordeum vulgare
          - Frog
          - Xenopus tropicalis
          - Soybean
          - Glycine max
          - Fruit fly
          - Drosophila melanogaster
          - Horse
          - Equus caballus
          - Rhesus Monkey
          - Macaca mulatta
          - Wine Grape
          - Vitis vinifera
          - Yeast
          - Saccharomyces cerevisiae
          - Tomato
          - Solanum lycopersicum
          - Rat
          - Rattus norvegicus
          - Cow
          - Bos taurus
          - Western Balsam Poplar
          - Populus trichocarpa
          - Chimpanzee
          - Pan troglodytes
          - Indian Rice
          - Oryza indica
          - Dog
          - Canis familiaris
          - Maize
          - Zea mays
          - Pig
          - Sus scrofa
          - Worm
          - Caenorhabditis elegans
          - Platypus
          - Ornithorhynchus anatinus
          - Chicken
          - Gallus gallus
          - Fusarium graminearum
          - Gibberella zeae
          - Bacillus subtilis
          - Escherichia coli
          - Black mold
          - Aspergillus niger
          - Mouse
          - Mus musculus
          type: string
      - description: "Source (input) data source [system code](http://vocabularies.bridgedb.org/#systemCode)"
        in: path
        name: systemCode
        required: true
        schema:
          default: L
          enum:
          - En
          - Cs
          - X
          - E
          - Rh
          - Ck
          - Eco
          - Cg
          - Ch
          - Il
          - Uc
          - Rf
          - Pd
          - U
          - Ma
          - Lm
          - Wd
          - Wi
          - Cpc
          - Mb
          - Rk
          - Ce
          - S
          - L
          - Wg
          - Om
          - T
          - Mc
          - Ik
          - H
          - Re
          - Ag
          - Q
          - Ca
          - Up
          - Cks
          type: string
      requestBody:
        content:
          text/html:
            schema:
              example: |-
                ENSMUSG00000063455
                ENSMUSG00000073823
                ENSMUSG00000037031
              type: string
        description: List of identifiers. The separator is a new line (\n)
        required: true
      responses:
        "200":
          content: {}
          description: Returns a tab-delimited list of xrefs that map to a given identifier
      tags:
      - "Identifiers (Genes, proteins, metabolites, interactions)"
      x-codegen-request-body-name: body
      x-content-type: text/html
      x-accepts:
      - application/json
components:
  schemas: {}
x-original-swagger-version: "2.0"

