openapi: 3.0.1
info:
  title: BatchManagement
  version: 2017-09-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-ms-code-generation-settings:
    name: BatchManagementClient
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/batch/resource-manager/Microsoft.Batch/stable/2017-09-01/BatchManagement.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: batch-BatchManagement
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.Batch/operations:
    get:
      description: Lists available operations for the Microsoft.Batch provider
      operationId: Operations_List
      parameters:
      - description: The API version to be used with the HTTP request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
          description: The operation was successful. The response contains the list
            of available operations.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Operations
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.Batch/batchAccounts:
    get:
      description: Gets information about the Batch accounts associated with the subscription.
      operationId: BatchAccount_List
      parameters:
      - description: The API version to be used with the HTTP request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000)
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchAccountListResult'
          description: The operation was successful. The response contains a list
            of Batch account entities associated with the subscription.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - BatchAccount
      x-ms-examples:
        BatchAccountList:
          parameters:
            api-version: 2017-09-01
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subid/resourceGroups/default-azurebatch-japaneast/providers/Microsoft.Batch/batchAccounts/sampleacct
                  location: japaneast
                  name: sampleacct
                  properties:
                    accountEndpoint: sampleacct.japaneast.batch.azure.com
                    activeJobAndJobScheduleQuota: 20
                    autoStorage:
                      lastKeySync: 2016-03-10T23:48:38.9878479Z
                      storageAccountId: /subscriptions/subid/resourceGroups/default-azurebatch-japaneast/providers/Microsoft.Storage/storageAccounts/samplestorage
                    dedicatedCoreQuota: 20
                    lowPriorityCoreQuota: 20
                    poolAllocationMode: BatchService
                    poolQuota: 20
                    provisioningState: Succeeded
                  type: Microsoft.Batch/batchAccounts
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.Batch/locations/{locationName}/checkNameAvailability:
    post:
      description: Checks whether the Batch account name is available in the specified
        region.
      operationId: Location_CheckNameAvailability
      parameters:
      - description: The desired region for the name check.
        in: path
        name: locationName
        required: true
        schema:
          type: string
      - description: The API version to be used with the HTTP request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000)
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckNameAvailabilityParameters'
        description: Properties needed to check the availability of a name.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckNameAvailabilityResult'
          description: Success. Returns details about whether a Batch account name
            is available.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      x-ms-examples:
        LocationCheckNameAvailability_AlreadyExists:
          parameters:
            api-version: 2017-09-01
            locationName: japaneast
            parameters:
              name: existingaccountname
              type: Microsoft.Batch/batchAccounts
            subscriptionId: subid
          responses:
            "200":
              body:
                message: An account named 'existingaccountname' is already in use.
                nameAvailable: false
                reason: AlreadyExists
        LocationCheckNameAvailability_Available:
          parameters:
            api-version: 2017-09-01
            locationName: japaneast
            parameters:
              name: newaccountname
              type: Microsoft.Batch/batchAccounts
            subscriptionId: subid
          responses:
            "200":
              body:
                nameAvailable: true
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.Batch/locations/{locationName}/quotas:
    get:
      description: Gets the Batch service quotas for the specified subscription at
        the given location.
      operationId: Location_GetQuotas
      parameters:
      - description: The region for which to retrieve Batch service quotas.
        in: path
        name: locationName
        required: true
        schema:
          type: string
      - description: The API version to be used with the HTTP request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000)
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchLocationQuota'
          description: The operation was successful. The response contains the Batch
            service quotas for the subscription in the specified location.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Location
      x-ms-examples:
        LocationGetQuotas:
          parameters:
            api-version: 2017-09-01
            locationName: japaneast
            subscriptionId: subid
          responses:
            "200":
              body:
                accountQuota: 1
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Batch/batchAccounts:
    get:
      description: Gets information about the Batch accounts associated with the specified
        resource group.
      operationId: BatchAccount_ListByResourceGroup
      parameters:
      - description: The name of the resource group that contains the Batch account.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to be used with the HTTP request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000)
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchAccountListResult'
          description: The operation was successful. The response contains a list
            of Batch account entities associated with the resource group.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - BatchAccount
      x-ms-examples:
        BatchAccountListByResourceGroup:
          parameters:
            api-version: 2017-09-01
            resourceGroupName: default-azurebatch-japaneast
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subid/resourceGroups/default-azurebatch-japaneast/providers/Microsoft.Batch/batchAccounts/sampleacct
                  location: japaneast
                  name: sampleacct
                  properties:
                    accountEndpoint: sampleacct.japaneast.batch.azure.com
                    activeJobAndJobScheduleQuota: 20
                    autoStorage:
                      lastKeySync: 2016-03-10T23:48:38.9878479Z
                      storageAccountId: /subscriptions/subid/resourceGroups/default-azurebatch-japaneast/providers/Microsoft.Storage/storageAccounts/samplestorage
                    dedicatedCoreQuota: 20
                    lowPriorityCoreQuota: 20
                    poolAllocationMode: BatchService
                    poolQuota: 20
                    provisioningState: Succeeded
                  type: Microsoft.Batch/batchAccounts
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Batch/batchAccounts/{accountName}:
    delete:
      description: Deletes the specified Batch account.
      operationId: BatchAccount_Delete
      parameters:
      - description: The name of the resource group that contains the Batch account.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Batch account.
        in: path
        name: accountName
        required: true
        schema:
          maxLength: 24
          minLength: 3
          pattern: "^[-\\w\\._]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to be used with the HTTP request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000)
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: The operation was successful.
        "202":
          content: {}
          description: The operation will be completed asynchronously.
          headers:
            Retry-After:
              description: Suggested delay to check the status of the asynchronous
                operation. The value is an integer that specifies the delay in seconds.
              schema:
                format: int32
                type: integer
            Location:
              description: The URL of the resource used to check the status of the
                asynchronous operation.
              schema:
                type: string
        "204":
          content: {}
          description: NoContent -- account does not exist in the subscription.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - BatchAccount
      x-ms-examples:
        BatchAccountDelete:
          parameters:
            accountName: sampleacct
            api-version: 2017-09-01
            resourceGroupName: default-azurebatch-japaneast
            subscriptionId: subid
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
    get:
      description: Gets information about the specified Batch account.
      operationId: BatchAccount_Get
      parameters:
      - description: The name of the resource group that contains the Batch account.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Batch account.
        in: path
        name: accountName
        required: true
        schema:
          maxLength: 24
          minLength: 3
          pattern: "^[-\\w\\._]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to be used with the HTTP request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000)
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchAccount'
          description: The operation was successful. The response contains the Batch
            account entity.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - BatchAccount
      x-ms-examples:
        BatchAccountGet:
          parameters:
            accountName: sampleacct
            api-version: 2017-09-01
            resourceGroupName: default-azurebatch-japaneast
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/default-azurebatch-japaneast/providers/Microsoft.Batch/batchAccounts/sampleacct
                location: japaneast
                name: sampleacct
                properties:
                  accountEndpoint: sampleacct.japaneast.batch.azure.com
                  activeJobAndJobScheduleQuota: 20
                  autoStorage:
                    lastKeySync: 2016-03-10T23:48:38.9878479Z
                    storageAccountId: /subscriptions/subid/resourceGroups/default-azurebatch-japaneast/providers/Microsoft.Storage/storageAccounts/samplestorage
                  dedicatedCoreQuota: 20
                  lowPriorityCoreQuota: 20
                  poolAllocationMode: BatchService
                  poolQuota: 20
                  provisioningState: Succeeded
                type: Microsoft.Batch/batchAccounts
      x-accepts:
      - application/json
    patch:
      description: Updates the properties of an existing Batch account.
      operationId: BatchAccount_Update
      parameters:
      - description: The name of the resource group that contains the Batch account.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Batch account.
        in: path
        name: accountName
        required: true
        schema:
          maxLength: 24
          minLength: 3
          pattern: "^[-\\w\\._]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to be used with the HTTP request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000)
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchAccountUpdateParameters'
        description: Additional parameters for account update.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchAccount'
          description: The operation was successful. The response contains the Batch
            account entity.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - BatchAccount
      x-ms-examples:
        BatchAccountUpdate:
          parameters:
            accountName: sampleacct
            api-version: 2017-09-01
            parameters:
              properties:
                autoStorage:
                  storageAccountId: /subscriptions/subid/resourceGroups/default-azurebatch-japaneast/providers/Microsoft.Storage/storageAccounts/samplestorage
            resourceGroupName: default-azurebatch-japaneast
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/default-azurebatch-japaneast/providers/Microsoft.Batch/batchAccounts/sampleacct
                location: japaneast
                name: sampleacct
                properties:
                  accountEndpoint: sampleacct.japaneast.batch.azure.com
                  activeJobAndJobScheduleQuota: 20
                  autoStorage:
                    lastKeySync: 2016-03-10T23:48:38.9878479Z
                    storageAccountId: /subscriptions/subid/resourceGroups/default-azurebatch-japaneast/providers/Microsoft.Storage/storageAccounts/samplestorage
                  dedicatedCoreQuota: 20
                  lowPriorityCoreQuota: 20
                  poolAllocationMode: BatchService
                  poolQuota: 20
                  provisioningState: Succeeded
                type: Microsoft.Batch/batchAccounts
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: Creates a new Batch account with the specified parameters. Existing
        accounts cannot be updated with this API and should instead be updated with
        the Update Batch Account API.
      operationId: BatchAccount_Create
      parameters:
      - description: The name of the resource group that contains the Batch account.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "A name for the Batch account which must be unique within the\
          \ region. Batch account names must be between 3 and 24 characters in length\
          \ and must use only numbers and lowercase letters. This name is used as\
          \ part of the DNS name that is used to access the Batch service in the region\
          \ in which the account is created. For example: http://accountname.region.batch.azure.com/."
        in: path
        name: accountName
        required: true
        schema:
          maxLength: 24
          minLength: 3
          pattern: "^[-\\w\\._]+$"
          type: string
      - description: The API version to be used with the HTTP request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000)
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchAccountCreateParameters'
        description: Additional parameters for account creation.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchAccount'
          description: The operation was successful. The response contains the Batch
            account entity.
        "202":
          content: {}
          description: The operation will be completed asynchronously.
          headers:
            Retry-After:
              description: Suggested delay to check the status of the asynchronous
                operation. The value is an integer that specifies the delay in seconds.
              schema:
                format: int32
                type: integer
            Location:
              description: The URL of the resource used to check the status of the
                asynchronous operation.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - BatchAccount
      x-ms-examples:
        BatchAccountCreate_BYOS:
          parameters:
            accountName: sampleacct
            api-version: 2017-09-01
            parameters:
              location: japaneast
              properties:
                autoStorage:
                  storageAccountId: /subscriptions/subid/resourceGroups/default-azurebatch-japaneast/providers/Microsoft.Storage/storageAccounts/samplestorage
                keyVaultReference:
                  id: /subscriptions/subid/resourceGroups/default-azurebatch-japaneast/providers/Microsoft.KeyVault/vaults/sample
                  url: http://sample.vault.azure.net/
                poolAllocationMode: UserSubscription
            resourceGroupName: default-azurebatch-japaneast
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/default-azurebatch-japaneast/providers/Microsoft.Batch/batchAccounts/sampleacct
                location: japaneast
                name: sampleacct
                properties:
                  accountEndpoint: sampleacct.japaneast.batch.azure.com
                  activeJobAndJobScheduleQuota: 20
                  autoStorage:
                    lastKeySync: 2016-03-10T23:48:38.9878479Z
                    storageAccountId: /subscriptions/subid/resourceGroups/default-azurebatch-japaneast/providers/Microsoft.Storage/storageAccounts/samplestorage
                  dedicatedCoreQuota: 20
                  keyVaultReference:
                    id: /subscriptions/subid/resourceGroups/default-azurebatch-japaneast/providers/Microsoft.KeyVault/vaults/sample
                    url: http://sample.vault.azure.net/
                  lowPriorityCoreQuota: 20
                  poolAllocationMode: UserSubscription
                  poolQuota: 20
                  provisioningState: Succeeded
                type: Microsoft.Batch/batchAccounts
            "202": {}
        BatchAccountCreate_Default:
          parameters:
            accountName: sampleacct
            api-version: 2017-09-01
            parameters:
              location: japaneast
              properties:
                autoStorage:
                  storageAccountId: /subscriptions/subid/resourceGroups/default-azurebatch-japaneast/providers/Microsoft.Storage/storageAccounts/samplestorage
            resourceGroupName: default-azurebatch-japaneast
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/default-azurebatch-japaneast/providers/Microsoft.Batch/batchAccounts/sampleacct
                location: japaneast
                name: sampleacct
                properties:
                  accountEndpoint: sampleacct.japaneast.batch.azure.com
                  activeJobAndJobScheduleQuota: 20
                  autoStorage:
                    lastKeySync: 2016-03-10T23:48:38.9878479Z
                    storageAccountId: /subscriptions/subid/resourceGroups/default-azurebatch-japaneast/providers/Microsoft.Storage/storageAccounts/samplestorage
                  dedicatedCoreQuota: 20
                  lowPriorityCoreQuota: 20
                  poolAllocationMode: BatchService
                  poolQuota: 20
                  provisioningState: Succeeded
                type: Microsoft.Batch/batchAccounts
            "202": {}
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Batch/batchAccounts/{accountName}/applications
  : get:
      description: Lists all of the applications in the specified account.
      operationId: Application_List
      parameters:
      - description: The name of the resource group that contains the Batch account.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Batch account.
        in: path
        name: accountName
        required: true
        schema:
          maxLength: 24
          minLength: 3
          pattern: "^[-\\w\\._]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The maximum number of items to return in the response.
        in: query
        name: maxresults
        schema:
          format: int32
          type: integer
      - description: The API version to be used with the HTTP request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000)
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListApplicationsResult'
          description: The operation was successful. The response contains a list
            of the application entities associated with the specified account.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Application
      x-ms-examples:
        ApplicationList:
          parameters:
            accountName: sampleacct
            api-version: 2017-09-01
            resourceGroupName: default-azurebatch-japaneast
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - allowUpdates: false
                  defaultVersion: "1"
                  displayName: myAppName
                  id: app1
                  packages:
                  - format: zip
                    lastActivationTime: 2017-06-27T18:48:09.9330991Z
                    state: Active
                    version: "1"
                - allowUpdates: false
                  defaultVersion: "1"
                  displayName: myAppName
                  id: app2
                  packages:
                  - format: zip
                    lastActivationTime: 2017-06-27T18:48:09.9330991Z
                    state: Active
                    version: "1"
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Batch/batchAccounts/{accountName}/applications/{applicationId}
  : delete:
      description: Deletes an application.
      operationId: Application_Delete
      parameters:
      - description: The name of the resource group that contains the Batch account.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Batch account.
        in: path
        name: accountName
        required: true
        schema:
          maxLength: 24
          minLength: 3
          pattern: "^[-\\w\\._]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The ID of the application.
        in: path
        name: applicationId
        required: true
        schema:
          type: string
      - description: The API version to be used with the HTTP request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000)
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: The operation was successful.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Application
      x-ms-examples:
        ApplicationDelete:
          parameters:
            accountName: sampleacct
            api-version: 2017-09-01
            applicationId: app1
            resourceGroupName: default-azurebatch-japaneast
            subscriptionId: subid
          responses:
            "204": {}
      x-accepts:
      - application/json
    get:
      description: Gets information about the specified application.
      operationId: Application_Get
      parameters:
      - description: The name of the resource group that contains the Batch account.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Batch account.
        in: path
        name: accountName
        required: true
        schema:
          maxLength: 24
          minLength: 3
          pattern: "^[-\\w\\._]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The ID of the application.
        in: path
        name: applicationId
        required: true
        schema:
          type: string
      - description: The API version to be used with the HTTP request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000)
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
          description: The operation was successful. The response contains the application
            entity.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Application
      x-ms-examples:
        ApplicationGet:
          parameters:
            accountName: sampleacct
            api-version: 2017-09-01
            applicationId: app1
            resourceGroupName: default-azurebatch-japaneast
            subscriptionId: subid
          responses:
            "200":
              body:
                allowUpdates: false
                defaultVersion: "1"
                displayName: myAppName
                id: app1
                packages:
                - format: zip
                  id: app1
                  lastActivationTime: 2017-06-27T18:48:09.9330991Z
                  state: Active
                  version: "1"
      x-accepts:
      - application/json
    patch:
      description: Updates settings for the specified application.
      operationId: Application_Update
      parameters:
      - description: The name of the resource group that contains the Batch account.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Batch account.
        in: path
        name: accountName
        required: true
        schema:
          maxLength: 24
          minLength: 3
          pattern: "^[-\\w\\._]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The ID of the application.
        in: path
        name: applicationId
        required: true
        schema:
          type: string
      - description: The API version to be used with the HTTP request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000)
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationUpdateParameters'
        description: The parameters for the request.
        required: true
      responses:
        "204":
          content: {}
          description: The operation was successful.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Application
      x-ms-examples:
        ApplicationUpdate:
          parameters:
            accountName: sampleacct
            api-version: 2017-09-01
            applicationId: app1
            parameters:
              allowUpdates: true
              defaultVersion: "2"
              displayName: myAppName
            resourceGroupName: default-azurebatch-japaneast
            subscriptionId: subid
          responses:
            "204": {}
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: Adds an application to the specified Batch account.
      operationId: Application_Create
      parameters:
      - description: The name of the resource group that contains the Batch account.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Batch account.
        in: path
        name: accountName
        required: true
        schema:
          maxLength: 24
          minLength: 3
          pattern: "^[-\\w\\._]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The ID of the application.
        in: path
        name: applicationId
        required: true
        schema:
          type: string
      - description: The API version to be used with the HTTP request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000)
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationCreateParameters'
        description: The parameters for the request.
        required: false
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
          description: The operation was successful. The response contains the application
            entity.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Application
      x-ms-examples:
        ApplicationCreate:
          parameters:
            accountName: sampleacct
            api-version: 2017-09-01
            applicationId: app1
            parameters:
              allowUpdates: false
              displayName: myAppName
            resourceGroupName: default-azurebatch-japaneast
            subscriptionId: subid
          responses:
            "201":
              body:
                allowUpdates: false
                displayName: myAppName
                id: app1
                packages: []
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Batch/batchAccounts/{accountName}/applications/{applicationId}/versions/{version}
  : delete:
      description: Deletes an application package record and its associated binary
        file.
      operationId: ApplicationPackage_Delete
      parameters:
      - description: The name of the resource group that contains the Batch account.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Batch account.
        in: path
        name: accountName
        required: true
        schema:
          maxLength: 24
          minLength: 3
          pattern: "^[-\\w\\._]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The ID of the application.
        in: path
        name: applicationId
        required: true
        schema:
          type: string
      - description: The version of the application to delete.
        in: path
        name: version
        required: true
        schema:
          type: string
      - description: The API version to be used with the HTTP request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000)
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: The operation was successful.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - ApplicationPackage
      x-ms-examples:
        ApplicationPackageDelete:
          parameters:
            accountName: sampleacct
            api-version: 2017-09-01
            applicationId: app1
            resourceGroupName: default-azurebatch-japaneast
            subscriptionId: subid
            version: "1"
          responses:
            "204": {}
      x-accepts:
      - application/json
    get:
      description: Gets information about the specified application package.
      operationId: ApplicationPackage_Get
      parameters:
      - description: The name of the resource group that contains the Batch account.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Batch account.
        in: path
        name: accountName
        required: true
        schema:
          maxLength: 24
          minLength: 3
          pattern: "^[-\\w\\._]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The ID of the application.
        in: path
        name: applicationId
        required: true
        schema:
          type: string
      - description: The version of the application.
        in: path
        name: version
        required: true
        schema:
          type: string
      - description: The API version to be used with the HTTP request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000)
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationPackage'
          description: The operation was successful. The response contains the application
            package entity.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - ApplicationPackage
      x-ms-examples:
        ApplicationPackageGet:
          parameters:
            accountName: sampleacct
            api-version: 2017-09-01
            applicationId: app1
            resourceGroupName: default-azurebatch-japaneast
            subscriptionId: subid
            version: "1"
          responses:
            "200":
              body:
                format: zip
                id: app1
                lastActivationTime: 2017-06-27T18:48:09.9330991Z
                state: Active
                version: "1"
      x-accepts:
      - application/json
    put:
      description: Creates an application package record.
      operationId: ApplicationPackage_Create
      parameters:
      - description: The name of the resource group that contains the Batch account.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Batch account.
        in: path
        name: accountName
        required: true
        schema:
          maxLength: 24
          minLength: 3
          pattern: "^[-\\w\\._]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The ID of the application.
        in: path
        name: applicationId
        required: true
        schema:
          type: string
      - description: The version of the application.
        in: path
        name: version
        required: true
        schema:
          type: string
      - description: The API version to be used with the HTTP request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000)
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationPackage'
          description: The operation was successful. The response contains the application
            package entity.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - ApplicationPackage
      x-ms-examples:
        ApplicationPackageCreate:
          parameters:
            accountName: sampleacct
            api-version: 2017-09-01
            applicationId: app1
            resourceGroupName: default-azurebatch-japaneast
            subscriptionId: subid
            version: "1"
          responses:
            "201":
              body:
                format: zip
                id: app1
                state: Active
                storageUrl: http://mystorage1.blob.core.windows.net/myapp?mysas
                storageUrlExpiry: 2017-06-27T18:48:09.9330991Z
                version: "1"
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Batch/batchAccounts/{accountName}/applications/{applicationId}/versions/{version}/activate
  : post:
      description: Activates the specified application package.
      operationId: ApplicationPackage_Activate
      parameters:
      - description: The name of the resource group that contains the Batch account.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Batch account.
        in: path
        name: accountName
        required: true
        schema:
          maxLength: 24
          minLength: 3
          pattern: "^[-\\w\\._]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The ID of the application.
        in: path
        name: applicationId
        required: true
        schema:
          type: string
      - description: The version of the application to activate.
        in: path
        name: version
        required: true
        schema:
          type: string
      - description: The API version to be used with the HTTP request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000)
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActivateApplicationPackageParameters'
        description: The parameters for the request.
        required: true
      responses:
        "204":
          content: {}
          description: The operation was successful.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - ApplicationPackage
      x-ms-examples:
        ApplicationPackageActivate:
          parameters:
            accountName: sampleacct
            api-version: 2017-09-01
            applicationId: app1
            parameters:
              format: zip
            resourceGroupName: default-azurebatch-japaneast
            subscriptionId: subid
            version: "1"
          responses:
            "204": {}
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Batch/batchAccounts/{accountName}/certificates
  : get:
      description: Lists all of the certificates in the specified account.
      operationId: Certificate_ListByBatchAccount
      parameters:
      - description: The name of the resource group that contains the Batch account.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Batch account.
        in: path
        name: accountName
        required: true
        schema:
          maxLength: 24
          minLength: 3
          pattern: "^[-\\w\\._]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The maximum number of items to return in the response.
        in: query
        name: maxresults
        schema:
          format: int32
          type: integer
      - description: Comma separated list of properties that should be returned. e.g.
          "properties/provisioningState". Only top level properties under properties/
          are valid for selection.
        in: query
        name: $select
        schema:
          type: string
      - description: "OData filter expression. Valid properties for filtering are\
          \ \"properties/provisioningState\", \"properties/provisioningStateTransitionTime\"\
          , \"name\"."
        in: query
        name: $filter
        schema:
          type: string
      - description: The API version to be used with the HTTP request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000)
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCertificatesResult'
          description: The operation was successful. The response contains a list
            of certificates associated with the account.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Certificate
      x-ms-examples:
        ListCertificates:
          parameters:
            accountName: sampleacct
            api-version: 2017-09-01
            maxResults: "1"
            resourceGroupName: default-azurebatch-japaneast
            subscriptionId: subid
          responses:
            "200":
              body:
                nextLink: https://management.azure.com/subscriptions/subid/resourceGroups/default-azurebatch-japaneast/providers/Microsoft.Batch/batchAccounts/samplecct/certificates?api-version=2017-06-01&$skiptoken=NPK%3D28%3A2857p428pug%2022F53A7734C947B8NRK%3D45%3Asha1-c23dc7f22edc793856a7506fe66397ccb4a33b46SM%3D5%3AFalse
                value:
                - etag: W/"0x8D4EDD5118668F7"
                  id: /subscriptions/subid/resourceGroups/default-azurebatch-japaneast/providers/Microsoft.Batch/batchAccounts/samplecct/certificates/SHA1-0A0E4F50D51BEADEAC1D35AFC5116098E7902E6E
                  name: SHA1-0A0E4F50D51BEADEAC1D35AFC5116098E7902E6E
                  properties:
                    format: Pfx
                    provisioningState: Succeeded
                    provisioningStateTransitionTime: 2017-07-21T01:47:38.4420202Z
                    publicData: MIICrjCCAZagAwI...
                    thumbprint: 0A0E4F50D51BEADEAC1D35AFC5116098E7902E6E
                    thumbprintAlgorithm: SHA1
                  type: Microsoft.Batch/batchAccounts/certificates
        ListCertificates - Filter and Select:
          parameters:
            $filter: properties/provisioningStateTransitionTime gt '2017-05-01' or
              properties/provisioningState eq 'Failed'
            $select: "properties/format,properties/provisioningState"
            accountName: sampleacct
            api-version: 2017-09-01
            resourceGroupName: default-azurebatch-japaneast
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - etag: W/"0x8D4EDD5118668F7"
                  id: /subscriptions/subid/resourceGroups/default-azurebatch-japaneast/providers/Microsoft.Batch/batchAccounts/samplecct/certificates/SHA1-0A0E4F50D51BEADEAC1D35AFC5116098E7902E6E
                  name: SHA1-0A0E4F50D51BEADEAC1D35AFC5116098E7902E6E
                  properties:
                    format: Pfx
                    provisioningState: Failed
                  type: Microsoft.Batch/batchAccounts/certificates
                - etag: W/"0x8D4EDD5118572E0"
                  id: /subscriptions/subid/resourceGroups/default-azurebatch-japaneast/providers/Microsoft.Batch/batchAccounts/samplecct/certificates/SHA1-AEB228FFB0BF67A793D61DCE263EBD16949F15A1
                  name: SHA1-AEB228FFB0BF67A793D61DCE263EBD16949F15A1
                  properties:
                    format: Cer
                    provisioningState: Failed
                  type: Microsoft.Batch/batchAccounts/certificates
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Batch/batchAccounts/{accountName}/certificates/{certificateName}
  : delete:
      description: Deletes the specified certificate.
      operationId: Certificate_Delete
      parameters:
      - description: The name of the resource group that contains the Batch account.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Batch account.
        in: path
        name: accountName
        required: true
        schema:
          maxLength: 24
          minLength: 3
          pattern: "^[-\\w\\._]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "The identifier for the certificate. This must be made up of\
          \ algorithm and thumbprint separated by a dash, and must match the certificate\
          \ data in the request. For example SHA1-a3d1c5."
        in: path
        name: certificateName
        required: true
        schema:
          maxLength: 45
          minLength: 5
          pattern: "^[\\w]+-[\\w]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to be used with the HTTP request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000)
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: The operation was successful.
        "202":
          content: {}
          description: The operation will be completed asynchronously.
          headers:
            Retry-After:
              description: Suggested delay to check the status of the asynchronous
                operation. The value is an integer that represents the seconds.
              schema:
                format: int32
                type: integer
            Location:
              description: The URL of the resource used to check the status of the
                asynchronous operation.
              schema:
                type: string
        "204":
          content: {}
          description: The operation was successful.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Certificate
      x-ms-examples:
        CertificateDelete:
          parameters:
            accountName: sampleacct
            api-version: 2017-09-01
            certificateName: SHA1-0A0E4F50D51BEADEAC1D35AFC5116098E7902E6E
            resourceGroupName: default-azurebatch-japaneast
            subscriptionId: subid
          responses:
            "200": {}
            "202":
              headers:
                Location: https://management.azure.com/subscriptions/subid/resourceGroups/default-azurebatch-japaneast/providers/Microsoft.Batch/batchAccounts/sampleacct/certificateOperationResults/SHA1-0A0E4F50D51BEADEAC1D35AFC5116098E7902E6E-8D4EDFF164A11C9?api-version=2017-09-01
                Retry-After: "15"
            "204": {}
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
    get:
      description: Gets information about the specified certificate.
      operationId: Certificate_Get
      parameters:
      - description: The name of the resource group that contains the Batch account.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Batch account.
        in: path
        name: accountName
        required: true
        schema:
          maxLength: 24
          minLength: 3
          pattern: "^[-\\w\\._]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "The identifier for the certificate. This must be made up of\
          \ algorithm and thumbprint separated by a dash, and must match the certificate\
          \ data in the request. For example SHA1-a3d1c5."
        in: path
        name: certificateName
        required: true
        schema:
          maxLength: 45
          minLength: 5
          pattern: "^[\\w]+-[\\w]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to be used with the HTTP request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000)
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Certificate'
          description: The operation was successful. The response contains the certificate
            entity.
          headers:
            ETag:
              description: "The ETag HTTP response header. This is an opaque string.\
                \ You can use it to detect whether the resource has changed between\
                \ requests. In particular, you can pass the ETag to one of the If-Match\
                \ or If-None-Match headers."
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Certificate
      x-ms-examples:
        Get Certificate:
          parameters:
            accountName: sampleacct
            api-version: 2017-09-01
            certificateName: SHA1-0A0E4F50D51BEADEAC1D35AFC5116098E7902E6E
            resourceGroupName: default-azurebatch-japaneast
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: W/"0x8D4EDD5118668F7"
                id: /subscriptions/subid/resourceGroups/default-azurebatch-japaneast/providers/Microsoft.Batch/batchAccounts/samplecct/certificates/SHA1-0A0E4F50D51BEADEAC1D35AFC5116098E7902E6E
                name: SHA1-0A0E4F50D51BEADEAC1D35AFC5116098E7902E6E
                properties:
                  format: Pfx
                  provisioningState: Succeeded
                  provisioningStateTransitionTime: 2017-07-21T01:47:38.4420202Z
                  publicData: MIICrjCCAZagAwI...
                  thumbprint: 0A0E4F50D51BEADEAC1D35AFC5116098E7902E6E
                  thumbprintAlgorithm: SHA1
                type: Microsoft.Batch/batchAccounts/certificates
              headers:
                ETag: W/"0x8D4EDD5118668F7"
        Get Certificate with Deletion Error:
          parameters:
            accountName: sampleacct
            api-version: 2017-09-01
            certificateName: SHA1-0A0E4F50D51BEADEAC1D35AFC5116098E7902E6E
            resourceGroupName: default-azurebatch-japaneast
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: W/"0x8D4EDD5118668F7"
                id: /subscriptions/subid/resourceGroups/default-azurebatch-japaneast/providers/Microsoft.Batch/batchAccounts/samplecct/certificates/SHA1-0A0E4F50D51BEADEAC1D35AFC5116098E7902E6E
                name: SHA1-0A0E4F50D51BEADEAC1D35AFC5116098E7902E6E
                properties:
                  deleteCertificateError:
                    code: NodesReferencingCertificate
                    details:
                    - code: Nodes
                      message: "node1, node3"
                    message: |-
                      The specified certificate is being used by the below mentioned node(s)
                      RequestId:2dc78afc-b15b-42d2-8c85-39cb61a0799e
                      Time:2017-08-28T10:22:52.8633406Z
                    target: BatchAccount
                  format: Pfx
                  previousProvisioningState: Deleting
                  previousProvisioningStateTransitionTime: 2017-07-21T00:15:25.5625498Z
                  provisioningState: Failed
                  provisioningStateTransitionTime: 2017-07-21T01:47:38.4420202Z
                  publicData: MIICrjCCAZagAwI...
                  thumbprint: 0A0E4F50D51BEADEAC1D35AFC5116098E7902E6E
                  thumbprintAlgorithm: SHA1
                type: Microsoft.Batch/batchAccounts/certificates
              headers:
                ETag: W/"0x8D4EDD5118668F7"
      x-accepts:
      - application/json
    patch:
      description: Updates the properties of an existing certificate.
      operationId: Certificate_Update
      parameters:
      - description: The name of the resource group that contains the Batch account.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Batch account.
        in: path
        name: accountName
        required: true
        schema:
          maxLength: 24
          minLength: 3
          pattern: "^[-\\w\\._]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "The identifier for the certificate. This must be made up of\
          \ algorithm and thumbprint separated by a dash, and must match the certificate\
          \ data in the request. For example SHA1-a3d1c5."
        in: path
        name: certificateName
        required: true
        schema:
          maxLength: 45
          minLength: 5
          pattern: "^[\\w]+-[\\w]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The entity state (ETag) version of the certificate to update.
          This value can be omitted or set to "*" to apply the operation unconditionally.
        in: header
        name: If-Match
        schema:
          type: string
      - description: The API version to be used with the HTTP request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000)
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CertificateCreateOrUpdateParameters'
        description: Certificate entity to update.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Certificate'
          description: The operation was successful. The response contains the certificate
            entity.
          headers:
            ETag:
              description: "The ETag HTTP response header. This is an opaque string.\
                \ You can use it to detect whether the resource has changed between\
                \ requests. In particular, you can pass the ETag to one of the If-Match\
                \ or If-None-Match headers."
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Certificate
      x-ms-examples:
        UpdateCertificate:
          parameters:
            accountName: sampleacct
            api-version: 2017-09-01
            certificateName: SHA1-0A0E4F50D51BEADEAC1D35AFC5116098E7902E6E
            parameters:
              properties:
                data: MIIJsgIBAzCCCW4GCSqGSIb3DQE...
                password: KG0UY40e...
            resourceGroupName: default-azurebatch-japaneast
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: W/"0x8D4EDD5118668F7"
                id: /subscriptions/subid/resourceGroups/default-azurebatch-japaneast/providers/Microsoft.Batch/batchAccounts/samplecct/certificates/SHA1-0A0E4F50D51BEADEAC1D35AFC5116098E7902E6E
                name: SHA1-0A0E4F50D51BEADEAC1D35AFC5116098E7902E6E
                properties:
                  format: Pfx
                  provisioningState: Succeeded
                  provisioningStateTransitionTime: 2017-07-21T01:47:38.4420202Z
                  publicData: MIICrjCCAZagAwI...
                  thumbprint: 0A0E4F50D51BEADEAC1D35AFC5116098E7902E6E
                  thumbprintAlgorithm: SHA1
                type: Microsoft.Batch/batchAccounts/certificates
              headers:
                ETag: W/"0x8D4EDD5118668F7"
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: Creates a new certificate inside the specified account.
      operationId: Certificate_Create
      parameters:
      - description: The name of the resource group that contains the Batch account.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Batch account.
        in: path
        name: accountName
        required: true
        schema:
          maxLength: 24
          minLength: 3
          pattern: "^[-\\w\\._]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "The identifier for the certificate. This must be made up of\
          \ algorithm and thumbprint separated by a dash, and must match the certificate\
          \ data in the request. For example SHA1-a3d1c5."
        in: path
        name: certificateName
        required: true
        schema:
          maxLength: 45
          minLength: 5
          pattern: "^[\\w]+-[\\w]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "The entity state (ETag) version of the certificate to update.\
          \ A value of \"*\" can be used to apply the operation only if the certificate\
          \ already exists. If omitted, this operation will always be applied."
        in: header
        name: If-Match
        schema:
          type: string
      - description: "Set to '*' to allow a new certificate to be created, but to\
          \ prevent updating an existing certificate. Other values will be ignored."
        in: header
        name: If-None-Match
        schema:
          type: string
      - description: The API version to be used with the HTTP request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000)
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CertificateCreateOrUpdateParameters'
        description: Additional parameters for certificate creation.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Certificate'
          description: The operation was successful. The response contains the certificate
            entity.
          headers:
            ETag:
              description: "The ETag HTTP response header. This is an opaque string.\
                \ You can use it to detect whether the resource has changed between\
                \ requests. In particular, you can pass the ETag to one of the If-Match\
                \ or If-None-Match headers."
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Certificate
      x-ms-examples:
        CreateCertificate - Full:
          parameters:
            accountName: sampleacct
            api-version: 2017-09-01
            certificateName: SHA1-0A0E4F50D51BEADEAC1D35AFC5116098E7902E6E
            parameters:
              properties:
                data: MIIJsgIBAzCCCW4GCSqGSIb3DQE...
                format: Pfx
                password: KG0UY40e...
                thumbprint: 0A0E4F50D51BEADEAC1D35AFC5116098E7902E6E
                thumbprintAlgorithm: SHA1
            resourceGroupName: default-azurebatch-japaneast
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: W/"0x8D4EDD5118668F7"
                id: /subscriptions/subid/resourceGroups/default-azurebatch-japaneast/providers/Microsoft.Batch/batchAccounts/samplecct/certificates/SHA1-0A0E4F50D51BEADEAC1D35AFC5116098E7902E6E
                name: SHA1-0A0E4F50D51BEADEAC1D35AFC5116098E7902E6E
                properties:
                  format: Pfx
                  provisioningState: Succeeded
                  provisioningStateTransitionTime: 2017-07-21T01:47:38.4420202Z
                  publicData: MIICrjCCAZagAwI...
                  thumbprint: 0A0E4F50D51BEADEAC1D35AFC5116098E7902E6E
                  thumbprintAlgorithm: SHA1
                type: Microsoft.Batch/batchAccounts/certificates
              headers:
                ETag: W/"0x8D4EDD5118668F7"
        CreateCertificate - Minimal Cer:
          parameters:
            accountName: sampleacct
            api-version: 2017-09-01
            certificateName: SHA1-0A0E4F50D51BEADEAC1D35AFC5116098E7902E6E
            parameters:
              properties:
                data: MIICrjCCAZagAwI...
                format: Cer
            resourceGroupName: default-azurebatch-japaneast
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: W/"0x8D4EDD5118668F7"
                id: /subscriptions/subid/resourceGroups/default-azurebatch-japaneast/providers/Microsoft.Batch/batchAccounts/samplecct/certificates/SHA1-0A0E4F50D51BEADEAC1D35AFC5116098E7902E6E
                name: SHA1-0A0E4F50D51BEADEAC1D35AFC5116098E7902E6E
                properties:
                  format: Cer
                  provisioningState: Succeeded
                  provisioningStateTransitionTime: 2017-07-21T01:47:38.4420202Z
                  publicData: MIICrjCCAZagAwI...
                  thumbprint: 0A0E4F50D51BEADEAC1D35AFC5116098E7902E6E
                  thumbprintAlgorithm: SHA1
                type: Microsoft.Batch/batchAccounts/certificates
              headers:
                ETag: W/"0x8D4EDD5118668F7"
        CreateCertificate - Minimal Pfx:
          parameters:
            accountName: sampleacct
            api-version: 2017-09-01
            certificateName: SHA1-0A0E4F50D51BEADEAC1D35AFC5116098E7902E6E
            parameters:
              properties:
                data: MIIJsgIBAzCCCW4GCSqGSIb3DQE...
                password: KG0UY40e...
            resourceGroupName: default-azurebatch-japaneast
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: W/"0x8D4EDD5118668F7"
                id: /subscriptions/subid/resourceGroups/default-azurebatch-japaneast/providers/Microsoft.Batch/batchAccounts/samplecct/certificates/SHA1-0A0E4F50D51BEADEAC1D35AFC5116098E7902E6E
                name: SHA1-0A0E4F50D51BEADEAC1D35AFC5116098E7902E6E
                properties:
                  format: Pfx
                  provisioningState: Succeeded
                  provisioningStateTransitionTime: 2017-07-21T01:47:38.4420202Z
                  publicData: MIICrjCCAZagAwI...
                  thumbprint: 0A0E4F50D51BEADEAC1D35AFC5116098E7902E6E
                  thumbprintAlgorithm: SHA1
                type: Microsoft.Batch/batchAccounts/certificates
              headers:
                ETag: W/"0x8D4EDD5118668F7"
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Batch/batchAccounts/{accountName}/certificates/{certificateName}/cancelDelete
  : post:
      description: "If you try to delete a certificate that is being used by a pool\
        \ or compute node, the status of the certificate changes to deleteFailed.\
        \ If you decide that you want to continue using the certificate, you can use\
        \ this operation to set the status of the certificate back to active. If you\
        \ intend to delete the certificate, you do not need to run this operation\
        \ after the deletion failed. You must make sure that the certificate is not\
        \ being used by any resources, and then you can try again to delete the certificate."
      operationId: Certificate_CancelDeletion
      parameters:
      - description: The name of the resource group that contains the Batch account.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Batch account.
        in: path
        name: accountName
        required: true
        schema:
          maxLength: 24
          minLength: 3
          pattern: "^[-\\w\\._]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "The identifier for the certificate. This must be made up of\
          \ algorithm and thumbprint separated by a dash, and must match the certificate\
          \ data in the request. For example SHA1-a3d1c5."
        in: path
        name: certificateName
        required: true
        schema:
          maxLength: 45
          minLength: 5
          pattern: "^[\\w]+-[\\w]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to be used with the HTTP request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000)
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Certificate'
          description: The operation was successful. The response contains the certificate
            entity.
          headers:
            ETag:
              description: "The ETag HTTP response header. This is an opaque string.\
                \ You can use it to detect whether the resource has changed between\
                \ requests. In particular, you can pass the ETag to one of the If-Match\
                \ or If-None-Match headers."
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      summary: Cancels a failed deletion of a certificate from the specified account.
      tags:
      - Certificate
      x-ms-examples:
        CertificateCancelDeletion:
          parameters:
            accountName: sampleacct
            api-version: 2017-09-01
            certificateName: SHA1-0A0E4F50D51BEADEAC1D35AFC5116098E7902E6E
            resourceGroupName: default-azurebatch-japaneast
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: W/"0x8D4EDD513C3EDBB"
                id: /subscriptions/subid/resourceGroups/default-azurebatch-japaneast/providers/Microsoft.Batch/batchAccounts/samplecct/certificates/SHA1-0A0E4F50D51BEADEAC1D35AFC5116098E7902E6E
                name: SHA1-0A0E4F50D51BEADEAC1D35AFC5116098E7902E6E
                properties:
                  format: Pfx
                  previousProvisioningState: Failed
                  previousProvisioningStateTransitionTime: 2017-07-21T00:22:54.3299195Z
                  provisioningState: Succeeded
                  provisioningStateTransitionTime: 2017-07-21T01:47:38.4420202Z
                  publicData: MIICrjCCAZagAwI...
                  thumbprint: 0A0E4F50D51BEADEAC1D35AFC5116098E7902E6E
                  thumbprintAlgorithm: SHA1
                type: Microsoft.Batch/batchAccounts/certificates
              headers:
                ETag: W/"0x8D4EDD513C3EDBB"
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Batch/batchAccounts/{accountName}/listKeys
  : post:
      description: "This operation applies only to Batch accounts created with a poolAllocationMode\
        \ of 'BatchService'. If the Batch account was created with a poolAllocationMode\
        \ of 'UserSubscription', clients cannot use access to keys to authenticate,\
        \ and must use Azure Active Directory instead. In this case, getting the keys\
        \ will fail."
      operationId: BatchAccount_GetKeys
      parameters:
      - description: The name of the resource group that contains the Batch account.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Batch account.
        in: path
        name: accountName
        required: true
        schema:
          maxLength: 24
          minLength: 3
          pattern: "^[-\\w\\._]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to be used with the HTTP request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000)
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchAccountKeys'
          description: The operation was successful. The response contains the keys
            of the Batch account.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      summary: Gets the account keys for the specified Batch account.
      tags:
      - BatchAccount
      x-ms-examples:
        BatchAccountGetKeys:
          parameters:
            accountName: sampleacct
            api-version: 2017-09-01
            resourceGroupName: default-azurebatch-japaneast
            subscriptionId: subid
          responses:
            "200":
              body:
                accountName: sampleacct
                primary: AAAA==
                secondary: BBBB==
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Batch/batchAccounts/{accountName}/pools:
    get:
      description: Lists all of the pools in the specified account.
      operationId: Pool_ListByBatchAccount
      parameters:
      - description: The name of the resource group that contains the Batch account.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Batch account.
        in: path
        name: accountName
        required: true
        schema:
          maxLength: 24
          minLength: 3
          pattern: "^[-\\w\\._]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The maximum number of items to return in the response.
        in: query
        name: maxresults
        schema:
          format: int32
          type: integer
      - description: Comma separated list of properties that should be returned. e.g.
          "properties/provisioningState". Only top level properties under properties/
          are valid for selection.
        in: query
        name: $select
        schema:
          type: string
      - description: |-
          OData filter expression. Valid properties for filtering are:

           name
           properties/allocationState
           properties/allocationStateTransitionTime
           properties/creationTime
           properties/provisioningState
           properties/provisioningStateTransitionTime
           properties/lastModified
           properties/vmSize
           properties/interNodeCommunication
           properties/scaleSettings/autoScale
           properties/scaleSettings/fixedScale
        in: query
        name: $filter
        schema:
          type: string
      - description: The API version to be used with the HTTP request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000)
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPoolsResult'
          description: The operation was successful. The response contains a list
            of certificates associated with the account.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Pool
      x-ms-examples:
        ListPool:
          parameters:
            accountName: sampleacct
            api-version: 2017-09-01
            poolName: testpool
            resourceGroupName: default-azurebatch-japaneast
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - etag: W/"0x8D4EDFEBFADF4AB"
                  id: /subscriptions/subid/resourceGroups/default-azurebatch-japaneast/providers/Microsoft.Batch/batchAccounts/sampleacct/pools/testpool
                  name: testpool
                  properties:
                    allocationState: Steady
                    allocationStateTransitionTime: 2017-08-28T10:22:55.9407275Z
                    applicationLicenses:
                    - app-license0
                    - app-license1
                    applicationPackages:
                    - id: /subscriptions/subid/resourceGroups/default-azurebatch-japaneast/providers/Microsoft.Batch/batchAccounts/sampleacct/pools/testpool/applications/app_1234
                      version: asdf
                    certificates:
                    - id: /subscriptions/subid/resourceGroups/default-azurebatch-japaneast/providers/Microsoft.Batch/batchAccounts/sampleacct/pools/testpool/certificates/SHA1-1234567
                      storeLocation: LocalMachine
                      storeName: MY
                      visibility:
                      - RemoteUser
                    creationTime: 2017-08-28T10:22:55.9407275Z
                    currentDedicatedNodes: 0
                    currentLowPriorityNodes: 0
                    deploymentConfiguration:
                      cloudServiceConfiguration:
                        osFamily: "4"
                        targetOSVersion: WA-GUEST-OS-4.45_201708-01
                    interNodeCommunication: Enabled
                    lastModified: 2017-08-28T10:22:55.9407275Z
                    maxTasksPerNode: 13
                    metadata:
                    - name: metadata-1
                      value: value-1
                    - name: metadata-2
                      value: value-2
                    networkConfiguration:
                      endpointConfiguration:
                        inboundNatPools:
                        - backendPort: 12001
                          frontendPortRangeEnd: 15100
                          frontendPortRangeStart: 15000
                          name: testnat
                          networkSecurityGroupRules:
                          - access: Allow
                            priority: 150
                            sourceAddressPrefix: 192.100.12.45
                          - access: Deny
                            priority: 3500
                            sourceAddressPrefix: '*'
                          protocol: TCP
                      subnetId: /subscriptions/subid/resourceGroups/rg1234/providers/Microsoft.Network/virtualNetworks/network1234/subnets/subnet123
                    provisioningState: Succeeded
                    provisioningStateTransitionTime: 2017-08-28T10:22:55.9407275Z
                    resizeOperationStatus:
                      errors:
                      - code: AllocationTimedout
                        message: Desired number of dedicated nodes could not be allocated
                          as the resize timeout was reached
                      nodeDeallocationOption: TaskCompletion
                      resizeTimeout: PT8M
                      startTime: 2017-08-28T10:22:55.9407275Z
                      targetDedicatedNodes: 6
                      targetLowPriorityNodes: 28
                    scaleSettings:
                      fixedScale:
                        resizeTimeout: PT8M
                        targetDedicatedNodes: 6
                        targetLowPriorityNodes: 28
                    startTask:
                      commandLine: cmd /c SET
                      environmentSettings:
                      - name: MYSET
                        value: "1234"
                      maxTaskRetryCount: 6
                      resourceFiles:
                      - blobSource: https://testaccount.blob.core.windows.net/example-blob-file
                        fileMode: "777"
                        filePath: c:\temp\gohere
                      userIdentity:
                        autoUser:
                          elevationLevel: Admin
                          scope: Pool
                      waitForSuccess: true
                    taskSchedulingPolicy:
                      nodeFillType: Pack
                    userAccounts:
                    - elevationLevel: Admin
                      linuxUserConfiguration:
                        gid: 4567
                        uid: 1234
                      name: username1
                    vmSize: STANDARD_D4
                  type: Microsoft.Batch/batchAccounts/pools
        ListPoolWithFilter:
          parameters:
            $filter: "startswith(name, 'po') or (properties/allocationState eq 'Steady'\
              \ and properties/provisioningStateTransitionTime lt datetime'2017-02-02')"
            $select: "properties/allocationState,properties/provisioningStateTransitionTime,properties/currentDedicatedNodes,properties/currentLowPriorityNodes"
            accountName: sampleacct
            api-version: 2017-09-01
            maxResults: "50"
            poolName: testpool
            resourceGroupName: default-azurebatch-japaneast
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - etag: W/"0x8D4EDFEBFADF4AB"
                  id: /subscriptions/subid/resourceGroups/default-azurebatch-japaneast/providers/Microsoft.Batch/batchAccounts/sampleacct/pools/testpool
                  name: testpool
                  properties:
                    allocationState: Steady
                    currentDedicatedNodes: 0
                    currentLowPriorityNodes: 2
                    provisioningStateTransitionTime: 2017-08-28T10:22:55.9407275Z
                  type: Microsoft.Batch/batchAccounts/pools
                - etag: W/"0x8D4EDFEBFADF4AB"
                  id: /subscriptions/subid/resourceGroups/default-azurebatch-japaneast/providers/Microsoft.Batch/batchAccounts/sampleacct/pools/pooltest
                  name: pooltest
                  properties:
                    allocationState: Resizing
                    currentDedicatedNodes: 4
                    currentLowPriorityNodes: 0
                    provisioningStateTransitionTime: 2017-08-26T10:22:55.9407275Z
                  type: Microsoft.Batch/batchAccounts/pools
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Batch/batchAccounts/{accountName}/pools/{poolName}
  : delete:
      description: Deletes the specified pool.
      operationId: Pool_Delete
      parameters:
      - description: The name of the resource group that contains the Batch account.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Batch account.
        in: path
        name: accountName
        required: true
        schema:
          maxLength: 24
          minLength: 3
          pattern: "^[-\\w\\._]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The pool name. This must be unique within the account.
        in: path
        name: poolName
        required: true
        schema:
          maxLength: 64
          minLength: 1
          pattern: "^[a-zA-Z0-9_-]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to be used with the HTTP request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000)
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: The operation was successful.
        "202":
          content: {}
          description: The operation will be completed asynchronously.
          headers:
            Retry-After:
              description: Suggested delay to check the status of the asynchronous
                operation. The value is an integer that represents the seconds.
              schema:
                format: int32
                type: integer
            Location:
              description: The URL of the resource used to check the status of the
                asynchronous operation.
              schema:
                type: string
        "204":
          content: {}
          description: The operation was successful.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Pool
      x-ms-examples:
        DeletePool:
          parameters:
            accountName: sampleacct
            api-version: 2017-09-01
            poolName: testpool
            resourceGroupName: default-azurebatch-japaneast
            subscriptionId: subid
          responses:
            "200": {}
            "202":
              headers:
                Location: https://management.azure.com/subscriptions/subid/resourceGroups/default-azurebatch-japaneast/providers/Microsoft.Batch/batchAccounts/sampleacct/poolOperationResults/delete-testpool-8D4EDFF164A11C9?api-version=2017-09-01
                Retry-After: "15"
            "204": {}
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
    get:
      description: Gets information about the specified pool.
      operationId: Pool_Get
      parameters:
      - description: The name of the resource group that contains the Batch account.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Batch account.
        in: path
        name: accountName
        required: true
        schema:
          maxLength: 24
          minLength: 3
          pattern: "^[-\\w\\._]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The pool name. This must be unique within the account.
        in: path
        name: poolName
        required: true
        schema:
          maxLength: 64
          minLength: 1
          pattern: "^[a-zA-Z0-9_-]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to be used with the HTTP request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000)
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pool'
          description: The operation was successful. The response contains the pool
            entity.
          headers:
            ETag:
              description: "The ETag HTTP response header. This is an opaque string.\
[...]
