openapi: 3.0.1
info:
  title: AutomationManagement
  version: 2017-05-15-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/automation/resource-manager/Microsoft.Automation/preview/2017-05-15-preview/sourceControl.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: automation-sourceControl
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/sourceControls
  : get:
      description: Retrieve a list of source controls.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/sourcecontroloperations
      operationId: SourceControl_ListByAutomationAccount
      parameters:
      - description: Name of an Azure Resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the automation account.
        in: path
        name: automationAccountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SourceControlListResult'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SourceControl_ListByAutomationAccount_default_response'
          description: Automation error response describing why the operation failed.
      tags:
      - SourceControl
      x-ms-examples:
        List sourceControls:
          parameters:
            api-version: 2017-05-15-preview
            automationAccountName: sampleAccount9
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/sourcecontrols/sampleSourceControl1
                  name: sampleSourceControl1
                  properties:
                    autoSync: true
                    branch: master
                    creationTime: 2017-03-28T22:59:00.937+00:00
                    description: my description
                    folderPath: /sampleFolder/sampleFolder2
                    lastModifiedTime: 2017-03-28T22:59:00.937+00:00
                    publishRunbook: true
                    repoUrl: https://github.com/SampleUserRepro/PowerShell-1
                    sourceType: GitHub
                - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/sourcecontrols/sampleSourceControl2
                  name: sampleSourceControl2
                  properties:
                    autoSync: true
                    branch: master
                    creationTime: 2017-03-28T22:59:00.937+00:00
                    description: my description
                    folderPath: /sampleFolder/sampleFolder2
                    lastModifiedTime: 2017-03-28T22:59:00.937+00:00
                    publishRunbook: true
                    repoUrl: https://github.com/SampleUserRepro/PowerShell-2
                    sourceType: GitHub
                - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/sourcecontrols/sampleSourceControl3
                  name: sampleSourceControl3
                  properties:
                    autoSync: true
                    branch: master
                    creationTime: 2017-03-28T22:59:00.937+00:00
                    description: my description
                    folderPath: /sampleFolder/sampleFolder2
                    lastModifiedTime: 2017-03-28T22:59:00.937+00:00
                    publishRunbook: true
                    repoUrl: https://github.com/SampleUserRepro/PowerShell-3
                    sourceType: GitHub
                - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/sourcecontrols/sampleSourceControl4
                  name: sampleSourceControl4
                  properties:
                    autoSync: true
                    branch: master
                    creationTime: 2017-03-28T22:59:00.937+00:00
                    description: my description
                    folderPath: /sampleFolder/sampleFolder2
                    lastModifiedTime: 2017-03-28T22:59:00.937+00:00
                    publishRunbook: true
                    repoUrl: https://github.com/SampleUserRepro/PowerShell-4
                    sourceType: GitHub
                - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/sourcecontrols/sampleSourceControl5
                  name: sampleSourceControl5
                  properties:
                    autoSync: true
                    branch: master
                    creationTime: 2017-03-28T22:59:00.937+00:00
                    description: my description
                    folderPath: /sampleFolder/sampleFolder2
                    lastModifiedTime: 2017-03-28T22:59:00.937+00:00
                    publishRunbook: true
                    repoUrl: https://github.com/SampleUserRepro/PowerShell-5
                    sourceType: GitHub
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/sourceControls/{sourceControlName}
  : delete:
      description: Delete the source control.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/sourcecontroloperations
      operationId: SourceControl_Delete
      parameters:
      - description: Name of an Azure Resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the automation account.
        in: path
        name: automationAccountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of source control.
        in: path
        name: sourceControlName
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SourceControl_ListByAutomationAccount_default_response'
          description: Automation error response describing why the operation failed.
      tags:
      - SourceControl
      x-ms-examples:
        Delete a source control:
          parameters:
            api-version: 2017-05-15-preview
            automationAccountName: sampleAccount9
            resourceGroupName: rg
            sourceControlName: sampleSourceControl
            subscriptionId: subid
          responses:
            "200": {}
      x-accepts:
      - application/json
    get:
      description: Retrieve the source control identified by source control name.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/sourcecontroloperations
      operationId: SourceControl_Get
      parameters:
      - description: Name of an Azure Resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the automation account.
        in: path
        name: automationAccountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of source control.
        in: path
        name: sourceControlName
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SourceControl'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SourceControl_ListByAutomationAccount_default_response'
          description: Automation error response describing why the operation failed.
      tags:
      - SourceControl
      x-ms-examples:
        Get a source control:
          parameters:
            api-version: 2017-05-15-preview
            automationAccountName: sampleAccount9
            resourceGroupName: rg
            sourceControlName: sampleSourceControl
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/sourcecontrols/sampleSourceControl
                name: sampleSourceControl
                properties:
                  autoSync: true
                  branch: master
                  creationTime: 2017-03-28T22:59:00.937+00:00
                  description: my description
                  folderPath: /folderOne/folderTwo
                  lastModifiedTime: 2017-03-28T22:59:00.937+00:00
                  publishRunbook: true
                  repoUrl: https://github.com/SampleUserRepro/PowerShell
                  sourceType: GitHub
      x-accepts:
      - application/json
    patch:
      description: Update a source control.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/sourcecontroloperations
      operationId: SourceControl_Update
      parameters:
      - description: Name of an Azure Resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the automation account.
        in: path
        name: automationAccountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The source control name.
        in: path
        name: sourceControlName
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SourceControlUpdateParameters'
        description: The parameters supplied to the update source control operation.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SourceControl'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SourceControl_ListByAutomationAccount_default_response'
          description: Automation error response describing why the operation failed.
      tags:
      - SourceControl
      x-ms-examples:
        Update a source control:
          parameters:
            api-version: 2017-05-15-preview
            automationAccountName: sampleAccount9
            parameters:
              properties:
                autoSync: true
                branch: master
                description: my description
                folderPath: /folderOne/folderTwo
                publishRunbook: true
                securityToken:
                  accessToken: 3a326f7a0dcd343ea58fee21f2fd5fb4c1234567
                  tokenType: PersonalAccessToken
            resourceGroupName: rg
            sourceControlName: sampleSourceControl
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/sourcecontrols/sampleSourceControl
                name: sampleSourceControl
                properties:
                  autoSync: true
                  branch: master
                  creationTime: 2017-03-28T22:59:00.937+00:00
                  description: my description
                  folderPath: /folderOne/folderTwo
                  lastModifiedTime: 2017-03-28T22:59:00.937+00:00
                  publishRunbook: true
                  repoUrl: https://sampleUser.visualstudio.com/myProject/_git/myRepository
                  sourceType: VsoGit
              headers: {}
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: Create a source control.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/sourcecontroloperations
      operationId: SourceControl_CreateOrUpdate
      parameters:
      - description: Name of an Azure Resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the automation account.
        in: path
        name: automationAccountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The source control name.
        in: path
        name: sourceControlName
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SourceControlCreateOrUpdateParameters'
        description: The parameters supplied to the create or update source control
          operation.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SourceControl'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SourceControl'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SourceControl_ListByAutomationAccount_default_response'
          description: Automation error response describing why the operation failed.
      tags:
      - SourceControl
      x-ms-examples:
        Create or update a source control:
          parameters:
            api-version: 2017-05-15-preview
            automationAccountName: sampleAccount9
            parameters:
              properties:
                autoSync: true
                branch: master
                description: my description
                folderPath: /folderOne/folderTwo
                publishRunbook: true
                repoUrl: https://sampleUser.visualstudio.com/myProject/_git/myRepository
                securityToken:
                  accessToken: 3a326f7a0dcd343ea58fee21f2fd5fb4c1234567
                  tokenType: PersonalAccessToken
                sourceType: VsoGit
            resourceGroupName: rg
            sourceControlName: sampleSourceControl
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/sourcecontrols/sampleSourceControl
                name: sampleSourceControl
                properties:
                  autoSync: true
                  branch: master
                  creationTime: 2017-03-28T22:59:00.937+00:00
                  description: my description
                  folderPath: /folderOne/folderTwo
                  lastModifiedTime: 2017-03-28T22:59:00.937+00:00
                  publishRunbook: true
                  repoUrl: https://sampleUser.visualstudio.com/myProject/_git/myRepository
                  sourceType: VsoGit
              headers: {}
            "201":
              body:
                id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/sourcecontrols/sampleSourceControl
                name: sampleSourceControl
                properties:
                  autoSync: true
                  branch: master
                  creationTime: 2017-03-28T22:59:00.937+00:00
                  description: my description
                  folderPath: /folderOne/folderTwo
                  lastModifiedTime: 2017-03-28T22:59:00.937+00:00
                  publishRunbook: true
                  repoUrl: https://sampleUser.visualstudio.com/myProject/_git/myRepository
                  sourceType: VsoGit
              headers: {}
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
components:
  schemas:
    SourceControl:
      allOf:
      - allOf:
        - description: The core properties of ARM resources
          properties:
            id:
              description: Fully qualified resource Id for the resource
              readOnly: true
              type: string
            name:
              description: The name of the resource
              readOnly: true
              type: string
            type:
              description: The type of the resource.
              readOnly: true
              type: string
          type: object
          x-ms-azure-resource: true
        description: ARM proxy resource.
      description: Definition of the source control.
      example:
        properties:
          folderPath: folderPath
          repoUrl: repoUrl
          lastModifiedTime: 2000-01-23T04:56:07.000+00:00
          creationTime: 2000-01-23T04:56:07.000+00:00
          publishRunbook: true
          sourceType: VsoGit
          description: description
          autoSync: true
          branch: branch
      properties:
        properties:
          $ref: '#/components/schemas/SourceControlProperties'
    SourceControlCreateOrUpdateParameters:
      description: The parameters supplied to the create or update source control
        operation.
      example:
        properties:
          folderPath: folderPath
          repoUrl: repoUrl
          securityToken:
            accessToken: accessToken
            tokenType: PersonalAccessToken
            refreshToken: refreshToken
          publishRunbook: true
          sourceType: VsoGit
          description: description
          autoSync: true
          branch: branch
      properties:
        properties:
          $ref: '#/components/schemas/SourceControlCreateOrUpdateProperties'
      required:
      - properties
      type: object
    SourceControlCreateOrUpdateProperties:
      description: The properties of the create source control operation.
      example:
        folderPath: folderPath
        repoUrl: repoUrl
        securityToken:
          accessToken: accessToken
          tokenType: PersonalAccessToken
          refreshToken: refreshToken
        publishRunbook: true
        sourceType: VsoGit
        description: description
        autoSync: true
        branch: branch
      properties:
        autoSync:
          description: The auto async of the source control. Default is false.
          type: boolean
        branch:
          description: The repo branch of the source control. Include branch as empty
            string for VsoTfvc.
          maxLength: 255
          type: string
        description:
          description: The user description of the source control.
          maxLength: 512
          type: string
        folderPath:
          description: The folder path of the source control. Path must be relative.
          maxLength: 255
          type: string
        publishRunbook:
          description: The auto publish of the source control. Default is true.
          type: boolean
        repoUrl:
          description: The repo url of the source control.
          maxLength: 2000
          type: string
        securityToken:
          $ref: '#/components/schemas/SourceControlSecurityTokenProperties'
        sourceType:
          description: "The source type. Must be one of VsoGit, VsoTfvc, GitHub, case\
            \ sensitive."
          enum:
          - VsoGit
          - VsoTfvc
          - GitHub
          type: string
          x-ms-enum:
            modelAsString: true
            name: sourceType
      type: object
    SourceControlListResult:
      description: The response model for the list source controls operation.
      example:
        value:
        - properties:
            folderPath: folderPath
            repoUrl: repoUrl
            lastModifiedTime: 2000-01-23T04:56:07.000+00:00
            creationTime: 2000-01-23T04:56:07.000+00:00
            publishRunbook: true
            sourceType: VsoGit
            description: description
            autoSync: true
            branch: branch
        - properties:
            folderPath: folderPath
            repoUrl: repoUrl
            lastModifiedTime: 2000-01-23T04:56:07.000+00:00
            creationTime: 2000-01-23T04:56:07.000+00:00
            publishRunbook: true
            sourceType: VsoGit
            description: description
            autoSync: true
            branch: branch
        nextLink: nextLink
      properties:
        nextLink:
          description: The next link.
          type: string
        value:
          description: The list of source controls.
          items:
            $ref: '#/components/schemas/SourceControl'
          type: array
      type: object
    SourceControlProperties:
      description: Definition of the source control properties
      example:
        folderPath: folderPath
        repoUrl: repoUrl
        lastModifiedTime: 2000-01-23T04:56:07.000+00:00
        creationTime: 2000-01-23T04:56:07.000+00:00
        publishRunbook: true
        sourceType: VsoGit
        description: description
        autoSync: true
        branch: branch
      properties:
        autoSync:
          description: The auto sync of the source control. Default is false.
          type: boolean
        branch:
          description: The repo branch of the source control. Include branch as empty
            string for VsoTfvc.
          type: string
        creationTime:
          description: The creation time.
          format: date-time
          nullable: false
          type: string
        description:
          description: The description.
          type: string
        folderPath:
          description: The folder path of the source control.
          type: string
        lastModifiedTime:
          description: The last modified time.
          format: date-time
          nullable: false
          type: string
        publishRunbook:
          description: The auto publish of the source control. Default is true.
          type: boolean
        repoUrl:
          description: The repo url of the source control.
          type: string
        sourceType:
          description: "The source type. Must be one of VsoGit, VsoTfvc, GitHub."
          enum:
          - VsoGit
          - VsoTfvc
          - GitHub
          type: string
          x-ms-enum:
            modelAsString: true
            name: sourceType
      type: object
    SourceControlSecurityTokenProperties:
      example:
        accessToken: accessToken
        tokenType: PersonalAccessToken
        refreshToken: refreshToken
      properties:
        accessToken:
          description: The access token.
          maxLength: 1024
          type: string
        refreshToken:
          description: The refresh token.
          maxLength: 1024
          type: string
        tokenType:
          description: The token type. Must be either PersonalAccessToken or Oauth.
          enum:
          - PersonalAccessToken
          - Oauth
          type: string
          x-ms-enum:
            modelAsString: true
            name: tokenType
      type: object
    SourceControlUpdateParameters:
      description: The parameters supplied to the update source control operation.
      example:
        properties:
          folderPath: folderPath
          securityToken:
            accessToken: accessToken
            tokenType: PersonalAccessToken
            refreshToken: refreshToken
          publishRunbook: true
          description: description
          autoSync: true
          branch: branch
      properties:
        properties:
          $ref: '#/components/schemas/SourceControlUpdateProperties'
      type: object
    SourceControlUpdateProperties:
      description: The properties of the update source control
      example:
        folderPath: folderPath
        securityToken:
          accessToken: accessToken
          tokenType: PersonalAccessToken
          refreshToken: refreshToken
        publishRunbook: true
        description: description
        autoSync: true
        branch: branch
      properties:
        autoSync:
          description: The auto sync of the source control. Default is false.
          type: boolean
        branch:
          description: The repo branch of the source control.
          type: string
        description:
          description: The user description of the source control.
          type: string
        folderPath:
          description: The folder path of the source control. Path must be relative.
          type: string
        publishRunbook:
          description: The auto publish of the source control. Default is true.
          type: boolean
        securityToken:
          $ref: '#/components/schemas/SourceControlSecurityTokenProperties'
      type: object
    SourceControl_ListByAutomationAccount_default_response:
      description: Error response of an operation failure
      example:
        code: code
        message: message
      properties:
        code:
          description: Error code
          type: string
        message:
          description: Error message indicating why the operation failed.
          type: string
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

