openapi: 3.0.0
info:
  contact:
    x-twitter: clever_cloud
  description: Public API for managing Clever-Cloud data and products
  title: Clever-Cloud API
  version: 1.0.0
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://twitter.com/clever_cloud/profile_image?size=original
  x-origin:
  - format: openapi
    url: https://www.clever-cloud.com/doc/api/swagger.json
    version: "3.0"
  x-providerName: clever-cloud.com
servers:
- url: https://api.clever-cloud.com/v2
paths:
  //openapi:
    get:
      responses:
        "200":
          description: The swagger documenting this API in yaml format.
      tags:
      - all
      x-accepts:
      - application/json
  //openapi.{type}: {}
  /application/{appId}/environment:
    get:
      parameters:
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: token
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Status 200
      tags:
      - all
      x-accepts:
      - application/json
    put:
      parameters:
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: token
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Status 200
      tags:
      - all
      x-accepts:
      - application/json
  /authorize:
    post:
      description: Handled by our API.
      operationId: postAuthorize
      responses:
        "200":
          description: authorize
      tags:
      - all
      x-accepts:
      - application/json
  /events/event-socket:
    get:
      description: "Retrieve events as they come through a websocket connection. To\
        \ have authorization, you have to send a `{ \"message_type\": \"oauth\", \"\
        authorization\": \"oauth authorization string\" }` message"
      responses:
        default:
          description: <No description>
      tags:
      - all
      - events
      x-accepts:
      - application/json
  /github:
    get:
      operationId: getGithub
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transaction_Id'
          description: startGithub
      tags:
      - all
      - github
      x-accepts:
      - application/json
  /github/applications:
    get:
      operationId: getGithubApplications
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Application'
                type: array
          description: getGithubApplications
      tags:
      - all
      - applications
      - github
      x-accepts:
      - application/json
  /github/callback:
    get:
      operationId: getGithubCallback
      parameters:
      - explode: true
        in: query
        name: code
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: state
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: error
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: error_description
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: error_uri
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: header
        name: Cookie
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: githubCallback
      tags:
      - all
      - github
      x-accepts:
      - application/json
  /github/emails:
    get:
      operationId: getGithubEmails
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  type: string
                type: array
          description: getGithubEmails
      tags:
      - all
      - github
      x-accepts:
      - '*/*'
  /github/keys:
    get:
      operationId: getGithubKeys
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Key'
                type: array
          description: getGithubKeys
      tags:
      - all
      - github
      x-accepts:
      - application/json
  /github/link:
    delete:
      operationId: deleteGithubLink
      responses:
        "200":
          description: unlinkGithub
      tags:
      - all
      - github
      x-accepts:
      - application/json
    get:
      operationId: getGithubLink
      parameters:
      - description: From GET /github
        explode: true
        in: query
        name: transactionId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: redirectUrl
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: linkGithub
      tags:
      - all
      - github
      x-accepts:
      - application/json
  /github/login:
    get:
      operationId: getGithubLogin
      parameters:
      - explode: true
        in: query
        name: redirectUrl
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: fromAuthorize
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: githubLogin
      tags:
      - all
      - github
      x-accepts:
      - application/json
  /github/redeploy:
    post:
      operationId: postGithubRedeploy
      parameters:
      - explode: false
        in: header
        name: User-Agent
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Github-Event
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Hub-Signature
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: redeployApp
      tags:
      - all
      - github
      x-accepts:
      - application/json
  /github/signup:
    get:
      operationId: getGithubSignup
      parameters:
      - explode: true
        in: query
        name: redirectUrl
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: fromAuthorize
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: githubSignup
      tags:
      - all
      - github
      x-accepts:
      - application/json
    post:
      operationId: postGithubSignup
      parameters:
      - explode: true
        in: query
        name: transactionId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: otherId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: otherEmail
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: password
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: autoLink
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: terms
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: finsihGithubSignup
      tags:
      - all
      - github
      x-accepts:
      - application/json
  /github/username:
    get:
      operationId: getGithubUsername
      responses:
        "200":
          content:
            '*/*':
              schema:
                type: string
          description: getGithubUsername
      tags:
      - all
      - github
      x-accepts:
      - '*/*'
  /logs-socket/{appId}:
    get:
      description: WebSocket to get logs for :appID. Optional queryString arg bind_to_es=true
        to bind WS on log storage and not real time AMQP broker
      parameters:
      - description: Automatically added
        explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: <No description>
      tags:
      - all
      x-accepts:
      - application/json
  /logs/drains:
    get:
      description: Fetch all the logs drains (ccadmin dedicated route)
      responses:
        default:
          description: <No description>
      tags:
      - all
      - logs
      x-accepts:
      - application/json
  /logs/drains/{drainId}:
    put:
      description: Fetch all the logs drains (ccadmin dedicated route)
      parameters:
      - description: Automatically added
        explode: false
        in: path
        name: drainId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: <No description>
      tags:
      - all
      - logs
      x-accepts:
      - application/json
  /logs/logs-chunked/{appId}:
    get:
      description: "Retrieve logs as they come through a chunked, never-ending response"
      parameters:
      - description: Application Id
        explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      - description: Tell the user-agent to download the body as a file
        explode: true
        in: query
        name: download
        required: false
        schema:
          type: boolean
        style: form
      responses:
        default:
          description: <No description>
      tags:
      - all
      - logs
      x-accepts:
      - application/json
  /logs/logs-socket/{appId}:
    get:
      description: "Retrieve logs as they come through a websocket connection. To\
        \ have authorization, you have to send a `{ \"message_type\": \"oauth\", \"\
        authorization\": \"oauth authorization string\" }` message"
      parameters:
      - description: Application Id
        explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      - description: Only fetch logs newer than this (ISO-8601 formatted) date
        explode: true
        in: query
        name: since
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: A pattern to filter with
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - description: Only fetch logs emitted by this deployment
        explode: true
        in: query
        name: deployment_id
        required: false
        schema:
          type: string
        style: form
      responses:
        default:
          description: <No description>
      tags:
      - all
      - logs
      x-accepts:
      - application/json
  /logs/{appId}:
    get:
      description: Fetch the logs for a given application
      parameters:
      - description: Application Id
        explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      - description: Number of lines to return
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Logs order
        explode: true
        in: query
        name: order
        required: false
        schema:
          default: desc
          enum:
          - asc
          - desc
          type: string
        style: form
      - description: "Lowest bound for logs date, ISO 8601"
        explode: true
        in: query
        name: after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Highest bounds for logs date, ISO 8601"
        explode: true
        in: query
        name: before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: A pattern to filter with
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - description: Only fetch logs emitted by this deployment
        explode: true
        in: query
        name: deployment_id
        required: false
        schema:
          type: string
        style: form
      responses:
        default:
          description: <No description>
      tags:
      - all
      - logs
      x-accepts:
      - application/json
  /logs/{appId}/drains:
    get:
      description: Fetch the logs drains for a given application
      parameters:
      - description: Automatically added
        explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: <No description>
      tags:
      - all
      - logs
      x-accepts:
      - application/json
    post:
      description: Add a log drain for a given application
      parameters:
      - description: Automatically added
        explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: <No description>
      tags:
      - all
      - logs
      x-accepts:
      - application/json
  /logs/{appId}/drains/:idOrUrl:
    delete:
      description: Delete the logs drain by id or url for a given application
      parameters:
      - description: Automatically added
        explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: <No description>
      tags:
      - all
      - logs
      x-accepts:
      - application/json
    get:
      description: Fetch the logs drain by id or url for a given application
      parameters:
      - description: Automatically added
        explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: <No description>
      tags:
      - all
      - logs
      x-accepts:
      - application/json
  /logs/{appId}/sse:
    get:
      description: "Retrieve logs as they come through a sse connection. To have authorization,\
        \ you have to add `authorization=oAuthAuthorizationString` as query param."
      parameters:
      - description: Automatically added
        explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: <No description>
      tags:
      - all
      - logs
      x-accepts:
      - application/json
  /newsfeeds/blog:
    get:
      operationId: getNewsfeedsBlog
      responses:
        "200":
          description: getBlogFeed
      tags:
      - all
      x-accepts:
      - application/json
  /newsfeeds/engineering:
    get:
      operationId: getNewsfeedEngineering
      responses:
        "200":
          description: getEngineeringFeed
      tags:
      - all
      x-accepts:
      - application/json
  /notifications/emailhooks/{ownerId}:
    get:
      description: list created e-mail hooks
      parameters:
      - description: Automatically added
        explode: false
        in: path
        name: ownerId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: <No description>
      tags:
      - all
      x-accepts:
      - application/json
    post:
      description: create a hook for e-mail notifications
      parameters:
      - description: Automatically added
        explode: false
        in: path
        name: ownerId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: <No description>
      tags:
      - all
      x-accepts:
      - application/json
  /notifications/emailhooks/{ownerId}/:id:
    delete:
      description: delete an e-mail hook
      parameters:
      - description: Automatically added
        explode: false
        in: path
        name: ownerId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: <No description>
      tags:
      - all
      x-accepts:
      - application/json
    put:
      description: edit an e-mail hook
      parameters:
      - description: Automatically added
        explode: false
        in: path
        name: ownerId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: <No description>
      tags:
      - all
      x-accepts:
      - application/json
  /notifications/info/events:
    get:
      description: list available events
      responses:
        default:
          description: <No description>
      tags:
      - all
      - events
      x-accepts:
      - application/json
  /notifications/info/webhookformats:
    get:
      description: list available webhook formats
      responses:
        default:
          description: <No description>
      tags:
      - all
      x-accepts:
      - application/json
  /notifications/webhooks/{ownerId}:
    get:
      description: list created hooks
      parameters:
      - description: Automatically added
        explode: false
        in: path
        name: ownerId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: <No description>
      tags:
      - all
      x-accepts:
      - application/json
    post:
      description: create a hook for notifications
      parameters:
      - description: Automatically added
        explode: false
        in: path
        name: ownerId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: <No description>
      tags:
      - all
      x-accepts:
      - application/json
  /notifications/webhooks/{ownerId}/:id:
    delete:
      description: delete a hook
      parameters:
      - description: Automatically added
        explode: false
        in: path
        name: ownerId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: <No description>
      tags:
      - all
      x-accepts:
      - application/json
    put:
      description: edit a hook
      parameters:
      - description: Automatically added
        explode: false
        in: path
        name: ownerId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: <No description>
      tags:
      - all
      x-accepts:
      - application/json
  /oauth/access_token:
    post:
      operationId: postOauthAccessToken
      parameters:
      - explode: true
        in: query
        name: oauth_consumer_key
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_signature_method
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_signature
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_timestamp
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_nonce
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_version
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_verifier
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_callback
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_token_secret
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_callback_confirmed
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: postAccessTokenRequest
      tags:
      - all
      - oauth
      x-accepts:
      - application/json
  /oauth/access_token_query:
    post:
      parameters:
      - explode: true
        in: query
        name: oauth_consumer_key
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_signature_method
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_signature
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_timestamp
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_nonce
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_version
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_verifier
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_callback
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_token_secret
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_callback_confirmed
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Status 200
      tags:
      - all
      - oauth
      x-accepts:
      - application/json
  /oauth/authorize:
    get:
      operationId: getOauthAuthorize
      parameters:
      - explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: header
        name: Cookie
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: authorizeForm
      tags:
      - all
      - oauth
      x-accepts:
      - application/json
    post:
      operationId: postOauthAuthorize
      parameters:
      - explode: true
        in: query
        name: almighty
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: access_organisations
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: manage_organisations
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: manage_organisations_services
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: manage_organisations_applications
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: manage_organisations_members
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: access_organisations_bills
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: access_organisations_credit_count
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: access_organisations_consumption_statistics
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: access_personal_information
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: manage_personal_information
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: manage_ssh_keys
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: manage_services
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: manage_applications
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: access_bills
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: access_credit_count
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: access_consumption_statistics
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: header
        name: Cookie
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: authorizeToken
      tags:
      - all
      - oauth
      x-accepts:
      - application/json
  /oauth/request_token:
    post:
      operationId: postOauthRequestToken
      parameters:
      - explode: true
        in: query
        name: oauth_consumer_key
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_signature_method
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_signature
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_timestamp
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_nonce
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_version
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_verifier
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_callback
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_token_secret
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_callback_confirmed
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: postReqTokenRequest
      tags:
      - all
      - oauth
      x-accepts:
      - application/json
  /oauth/request_token_query:
    post:
      parameters:
      - explode: true
        in: query
        name: oauth_consumer_key
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_signature_method
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_signature
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_timestamp
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_nonce
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_version
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_verifier
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_callback
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_token_secret
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_callback_confirmed
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Status 200
      tags:
      - all
      - oauth
      x-accepts:
      - application/json
  /oauth/rights:
    get:
      operationId: getOauthRights
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rights'
          description: getAvailableRights
      tags:
      - all
      - oauth
      x-accepts:
      - application/json
  /openapi.{type}:
    get:
      description: "Get the swagger for this API as {type}. Type can be either \"\
        yml\" or \"json\"."
      parameters:
      - explode: false
        in: path
        name: type
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: "This API swagger documentation in {type} format."
      summary: "Get the swagger for this API as {type}"
      tags:
      - all
      x-accepts:
      - application/json
  /organisations:
    get:
      operationId: getOrganisations
      parameters:
      - explode: true
        in: query
        name: user
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Organisation'
                type: array
          description: getUserOrganisations
      tags:
      - all
      - organisations
      x-accepts:
      - application/json
    post:
      operationId: postOrganisations
      requestBody:
        $ref: '#/components/requestBodies/WannabeOrganisation'
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Organisation'
          description: createOrganisation
      tags:
      - all
      - organisations
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /organisations/{id}:
    delete:
      operationId: deleteOrganisationsId
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: deleteOrganisation
      tags:
      - all
      - organisations
      x-accepts:
      - application/json
    get:
      operationId: getOrganisationsId
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organisation'
          description: getOrganisation
      tags:
      - all
      - organisations
      x-accepts:
      - application/json
    put:
      operationId: putOrganisationsId
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/WannabeOrganisation'
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Organisation'
          description: editOrganisation
      tags:
      - all
      - organisations
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /organisations/{id}/addonproviders:
    get:
      operationId: getOrganisationsIdAddonproviders
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Provider'
                type: array
          description: Get all informations about all providers.
      tags:
      - all
      - organisations
      x-accepts:
      - application/json
    post:
      operationId: postOrganisationsIdAddonproviders
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/WannabeAddonProvider'
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Provider'
          description: createProvider
      tags:
      - all
      - organisations
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /organisations/{id}/addonproviders/{providerId}:
    delete:
      description: "Remove a given add-on provider. providerId must be owned by organisation\
        \ {id}."
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: providerId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: If the deletion was successful.
        "403":
          content:
            application/json:
              examples:
                response:
                  value: "{\"type\":\"error\",\"id\":6200,\"message\":\"You do not\
                    \ belong to this organisation so you cannot access it\"}"
              schema:
                $ref: '#/components/schemas/Error'
          description: "If user has no access to organisation {id} or provider or\
            \ if there still are add-ons of this provider."
        "404":
          description: If no such organisation/provider exists.
      summary: Remove an add-on provider
      tags:
      - all
      - organisations
      x-accepts:
      - application/json
    get:
      operationId: getOrganisationsIdAddonprovidersProviderId
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: providerId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Provider'
          description: Get all informations about given provider.
      tags:
      - all
      - organisations
      x-accepts:
      - application/json
    put:
      operationId: putOrganisationsIdAddonprovidersProviderId
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: providerId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/WannabeAddonProvider'
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Provider'
          description: updateProviderInfos
      tags:
      - all
      - organisations
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /organisations/{id}/addonproviders/{providerId}/features:
    get:
      operationId: getOrganisationsIdAddonprovidersProviderIdFeatures
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: providerId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Feature'
                type: array
          description: getProviderFeatures
      tags:
      - all
      - organisations
      x-accepts:
      - application/json
    post:
      operationId: postOrganisationsIdAddonprovidersProviderIdFeatures
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: providerId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WannabeFeature'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Feature'
          description: addProviderFeature
      tags:
      - all
      - organisations
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /organisations/{id}/addonproviders/{providerId}/features/{featureId}:
    delete:
      operationId: deleteOrganisationsIdAddonprovidersProviderIdFeaturesFeatureId
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: featureId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: providerId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: deleteProviderFeature
      tags:
      - all
      - organisations
      x-accepts:
      - application/json
  /organisations/{id}/addonproviders/{providerId}/plans:
    get:
      operationId: getOrganisationsIdAddonprovidersProviderIdPlans
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: providerId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Plan'
                type: array
          description: getProviderPlans
      tags:
      - all
      - organisations
      x-accepts:
      - application/json
    post:
      operationId: postOrganisationsIdAddonprovidersProviderIdPlans
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: providerId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/WannabePlan'
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Plan'
          description: addProviderPlan
      tags:
      - all
      - organisations
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /organisations/{id}/addonproviders/{providerId}/plans/{planId}:
    delete:
      operationId: deleteOrganisationsIdAddonprovidersProviderIdPlansPlanId
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: providerId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: planId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: deleteProviderPlan
      tags:
      - all
      - organisations
      x-accepts:
      - application/json
    get:
      operationId: getOrganisationsIdAddonprovidersProviderIdPlansPlanId
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: providerId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: planId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plan'
          description: getProviderPlan
      tags:
      - all
      - organisations
      x-accepts:
      - application/json
    put:
      operationId: putOrganisationsIdAddonprovidersProviderIdPlansPlanId
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: providerId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: planId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/WannabePlan'
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Plan'
          description: editProviderPlan
      tags:
      - all
      - organisations
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /organisations/{id}/addonproviders/{providerId}/plans/{planId}/features/{featureName}:
    delete:
      operationId: deleteOrganisationsIdAddonprovidersProviderIdPlansPlanIdFeaturesFeatureName
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: featureName
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: providerId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: planId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: deleteProviderPlanFeature
      tags:
      - all
      - organisations
      x-accepts:
      - application/json
    put:
      operationId: putOrganisationsIdAddonprovidersProviderIdPlansPlanIdFeaturesFeatureName
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: featureName
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: providerId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: planId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WannabePlanFeature'
        required: true
      responses:
        "200":
          description: editProviderPlanFeature
      tags:
      - all
      - organisations
      x-content-type: application/json
      x-accepts:
      - application/json
  /organisations/{id}/addonproviders/{providerId}/sso:
    get:
      operationId: getOrganisationsIdAddonsAddonIdSso
      parameters:
      - explode: false
        in: path
        name: providerId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddonProviderSso'
          description: getSSOData
      tags:
      - all
      - organisations
      x-accepts:
      - application/json
  /organisations/{id}/addonproviders/{providerId}/tags:
    get:
      operationId: getOrganisationsIdAddonprovidersProviderIdTags
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: providerId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  type: string
                type: array
          description: getProviderTags
      tags:
      - all
      - organisations
      x-accepts:
      - '*/*'
  /organisations/{id}/addonproviders/{providerId}/testers:
    post:
      operationId: postOrganisationsIdAddonprovidersProviderIdTesters
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: providerId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: addBetaTester
      tags:
      - all
      - organisations
      x-accepts:
      - application/json
  /organisations/{id}/addons:
    get:
      operationId: getOrganisationsIdAddons
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Addon'
                type: array
          description: getAddons
      tags:
      - all
      - addons
      - organisations
      x-accepts:
      - application/json
    post:
      operationId: postOrganisationsIdAddons
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/WannabeAddon'
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Addon'
          description: provisionAddon
      tags:
      - all
      - addons
      - organisations
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /organisations/{id}/addons/preorders:
    post:
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/WannabeAddon'
      responses:
        "200":
          description: Status 200
      tags:
      - all
      - addons
      - organisations
      x-content-type: application/json
      x-accepts:
      - application/json
  /organisations/{id}/addons/{addonId}:
    delete:
      operationId: deleteOrganisationsIdAddonsAddonId
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: addonId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: deprovisionAddon
      tags:
      - all
      - addons
      - organisations
      x-accepts:
      - application/json
    get:
      operationId: getOrganisationsIdAddonsAddonId
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: addonId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Addon'
          description: getAddon
      tags:
      - all
      - addons
      - organisations
      x-accepts:
      - application/json
    put:
      operationId: putOrganisationsIdAddonsAddonId
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: addonId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/WannabeAddon'
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Addon'
          description: Update addon information
      tags:
      - all
      - addons
      - organisations
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /organisations/{id}/addons/{addonId}/applications:
    get:
      operationId: getOrganisationsIdAddonsAddonIdApplications
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: addonId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Application'
                type: array
          description: getApplicationsLinkedToAddon
      tags:
      - all
      - addons
      - applications
      - organisations
      x-accepts:
      - application/json
  /organisations/{id}/addons/{addonId}/env:
    get:
      operationId: getOrganisationsIdAddonsAddonIdEnv
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: addonId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ListEnv'
                type: array
          description: getAddonEnv
      tags:
      - all
      - addons
      - organisations
      x-accepts:
      - application/json
  /organisations/{id}/addons/{addonId}/instances:
    get:
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: addonId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: deploymentId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: withDeleted
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                description: List of instances.
                items:
                  $ref: '#/components/schemas/SupernovaInstanceView'
                type: array
          description: The instance list
      summary: List instances for this add-on.
      tags:
      - all
      - addons
      - organisations
      x-accepts:
      - application/json
  /organisations/{id}/addons/{addonId}/instances/{instanceId}:
    get:
      parameters:
      - explode: false
        in: path
        name: instanceId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: addonId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupernovaInstanceView'
          description: An instance
      summary: "Get a specific instance for {addonId}"
      tags:
      - all
      - addons
      - organisations
      x-accepts:
      - application/json
  /organisations/{id}/addons/{addonId}/migrations:
    get:
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: addonId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value: "{\n   \"id\": \"<UUID>\",\n   \"addon_id\": \"addon_<uuid>\"\
                    ,\n   \"kind\": \"SHARED_TO_SHARED|SHARED_TO_DEDICATED|DEDICATED_TO_DEDICATED|DEDICATED_TO_SHARED\"\
                    ,\n   \"state\": \"??\",\n   \"hostname\": \"db.hostname\",\n\
                    \   \"database\": \"dbname\",\n   \"port\": 5432,\n   \"database_user\"\
                    : \"username\",\n   \"callback_url\": \"https://api.clever-cloud.com/v2/…\
                    \",\n   \"old_cluster_id\": \"acddc485-79c2-4c6b-a617-c92a06c0cb0b\"\
                    ,\n   \"old_cluster_label\": \"par2-01\",\n   \"old_instance_id\"\
                    : \"acddc485-79c2-4c6b-a617-c92a06c0cb0b\",\n   \"old_plan\":\
                    \ \"s\",\n   \"old_zone\": \"par2\",\n   \"old_recipient_hostname\"\
                    : \"postgresql-sdc-par2-clevercloud.services.clever-cloud.com\"\
                    , \n   \"new_cluster_id\": \"acddc485-79c2-4c6b-a617-c92a06c0cb0b\"\
                    ,\n   \"new_cluster_label\": \"par2-02\",\n   \"new_instance_id\"\
                    : \"acddc485-79c2-4c6b-a617-c92a06c0cb0b\",\n   \"new_plan\":\
                    \ \"m\",\n   \"new_zone\": \"par3\",\n   \"new_recipient_hostname\"\
                    : \"postgresql-sdc-par3-clevercloud.services.clever-cloud.com\"\
                    , \n   \"request_date\": \"2018-10-31T10:00:23Z\",\n   \"last_state_update_date\"\
                    :  \"2018-10-31T10:00:23Z\",\n   \"dump_restore_start_date\":\
                    \  \"2018-10-31T10:00:23Z\",\n   \"dump_restore_finished_date\"\
                    :  \"2018-10-31T10:00:23Z\",\n   \"end_date\":  \"2018-10-31T10:00:23Z\"\
                    ,\n   \"exit_message\": \"Success\" \n}"
              schema:
                items:
                  $ref: '#/components/schemas/AddonMigration'
                type: array
          description: List of migrations
      summary: Get past migrations from add-on.
      tags:
      - all
      - addons
      - organisations
      x-accepts:
      - application/json
    post:
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: addonId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_organisations__id__addons__addonId__migrations_post_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                description: The output of the POST to the add-on API.
                type: object
          description: Migration has started.
      summary: Start a new add-on migration
      tags:
      - all
      - addons
      - organisations
      x-content-type: application/json
      x-accepts:
      - application/json
  /organisations/{id}/addons/{addonId}/migrations/{migrationId}:
    get:
      parameters:
      - explode: false
        in: path
        name: migrationId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: addonId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddonMigration'
          description: The migration object
      summary: Get a given migration
      tags:
      - all
      - addons
      - organisations
      x-accepts:
      - application/json
  /organisations/{id}/addons/{addonId}/sso:
    get:
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: addonId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sso'
          description: getSSOData
      tags:
      - all
      - addons
      - organisations
      x-accepts:
      - application/json
  /organisations/{id}/addons/{addonId}/tags:
    get:
      operationId: getOrganisationsIdAddonsAddonIdTags
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: addonId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  type: string
                type: array
          description: getAddonTags
      tags:
      - all
      - addons
      - organisations
      x-accepts:
      - '*/*'
  /organisations/{id}/addons/{addonId}/tags/{tag}:
    delete:
      operationId: deleteOrganisationsIdAddonsAddonIdTagsTag
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: tag
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: addonId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: deleteAddonTag
      tags:
      - all
      - addons
      - organisations
      x-accepts:
      - application/json
    put:
      operationId: putOrganisationsIdAddonsAddonIdTagsTag
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: tag
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: addonId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/Body'
      responses:
        "200":
          description: addAddonTag
      tags:
      - all
      - addons
      - organisations
      x-content-type: application/json
      x-accepts:
      - application/json
  /organisations/{id}/applications:
    get:
      operationId: getOrganisationsIdApplications
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Application'
                type: array
          description: getAllApplications
      tags:
      - all
      - applications
      - organisations
      x-accepts:
      - application/json
    post:
      description: "Creates an application. If you want to create a Github app, you\
        \ need to replace the oauthApp field with what you will find here: https://github.com/CleverCloud/doc.clever-cloud.com/issues/179"
      operationId: postOrganisationsIdApplications
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/WannabeApplication'
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Application'
          description: addApplication
      tags:
      - all
      - applications
      - organisations
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /organisations/{id}/applications/{appId}:
    delete:
      operationId: deleteOrganisationsIdApplicationsAppId
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: deleteApplication
      tags:
      - all
      - applications
      - organisations
      x-accepts:
      - application/json
    get:
      operationId: getOrganisationsIdApplicationsAppId
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
          description: getApplication
      tags:
      - all
      - applications
      - organisations
      x-accepts:
      - application/json
    put:
      operationId: putOrganisationsIdApplicationsAppId
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/WannabeApplication'
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Application'
          description: editApplication
      tags:
      - all
      - applications
      - organisations
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /organisations/{id}/applications/{appId}/addons:
    get:
      operationId: getOrganisationsIdApplicationsAppIdAddons
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Addon'
                type: array
          description: getAddonsLinkedToApplication
      tags:
      - all
      - addons
      - applications
      - organisations
      x-accepts:
      - application/json
    post:
      operationId: postOrganisationsIdApplicationsAppIdAddons
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/Body'
      responses:
        "200":
          description: linkAddonToApplication
      tags:
      - all
      - addons
      - applications
      - organisations
      x-content-type: application/json
      x-accepts:
      - application/json
  /organisations/{id}/applications/{appId}/addons/env:
    get:
      operationId: getOrganisationsIdApplicationsAppIdAddonsEnv
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Env'
                type: array
          description: getEnvOfAddonsLinkedToApplication
      tags:
      - all
      - addons
      - applications
      - organisations
      x-accepts:
      - application/json
  /organisations/{id}/applications/{appId}/addons/{addonId}:
    delete:
      operationId: deleteOrganisationsIdApplicationsAppIdAddonsAddonId
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: addonId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: unlinkAddonFromApplication
      tags:
      - all
      - addons
      - applications
      - organisations
      x-accepts:
      - application/json
  /organisations/{id}/applications/{appId}/branch:
    put:
      parameters:
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Status 200
      tags:
      - all
      - applications
      - organisations
      x-accepts:
      - application/json
  /organisations/{id}/applications/{appId}/branches:
    get:
      parameters:
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Status 200
      tags:
      - all
      - applications
      - organisations
      x-accepts:
      - application/json
  /organisations/{id}/applications/{appId}/buildflavor:
    put:
      parameters:
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Status 200
      tags:
      - all
      - applications
      - organisations
      x-accepts:
      - application/json
  /organisations/{id}/applications/{appId}/dependencies:
    get:
      operationId: getOrganisationsIdApplicationsAppIdDependencies
      parameters:
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Application'
                type: array
          description: getApplicationDependencies
      tags:
      - all
      - applications
      - organisations
      x-accepts:
      - application/json
  /organisations/{id}/applications/{appId}/dependencies/env:
    get:
      parameters:
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/LinkedAppEnv'
                type: array
          description: Get env variables defined by application dependencies
      tags:
      - all
      - applications
      - organisations
      x-accepts:
      - '*/*'
  /organisations/{id}/applications/{appId}/dependencies/{dependencyId}:
    delete:
      operationId: deleteOrganisationsIdApplicationsAppIdDependenciesDependencyId
      parameters:
      - explode: false
        in: path
        name: dependencyId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: deleteApplicationDependency
      tags:
      - all
      - applications
      - organisations
      x-accepts:
      - application/json
    put:
      operationId: putOrganisationsIdApplicationsAppIdDependenciesDependencyId
      parameters:
      - explode: false
        in: path
        name: dependencyId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/Body'
      responses:
        "200":
          description: addApplicationDependency
      tags:
      - all
      - applications
      - organisations
      x-content-type: application/json
      x-accepts:
      - application/json
  /organisations/{id}/applications/{appId}/dependents:
    get:
      operationId: getOrganisationsIdApplicationsAppIdDependents
      parameters:
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Application'
                type: array
          description: getApplicationDependents
      tags:
      - all
      - applications
      - organisations
      x-accepts:
      - application/json
  /organisations/{id}/applications/{appId}/deployments:
    get:
      operationId: getOrganisationsIdApplicationsAppIdDeployments
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: action
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Deployment'
                type: array
          description: getApplicationDeploymentsForOrga
      tags:
      - all
      - applications
      - organisations
      x-accepts:
      - application/json
  /organisations/{id}/applications/{appId}/deployments/{deploymentId}:
    get:
      parameters:
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: deploymentId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Status 200
      tags:
      - all
      - applications
      - organisations
      x-accepts:
      - application/json
  /organisations/{id}/applications/{appId}/deployments/{deploymentId}/instances:
    delete:
      operationId: deleteOrganisationsIdApplicationsAppIdDeploymentsDeploymentIdInstances
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: deploymentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: getApplicationDeploymentsForOrga
      tags:
      - all
      - applications
      - organisations
      x-accepts:
      - application/json
  /organisations/{id}/applications/{appId}/env:
    get:
      operationId: getOrganisationsIdApplicationsAppIdEnv
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ListEnv'
                type: array
          description: getApplicationEnv
      tags:
      - all
      - applications
      - organisations
      x-accepts:
      - application/json
    put:
      operationId: putOrganisationsIdApplicationsAppIdEnv
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/WannabeEnv'
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ListEnv'
          description: editApplicationEnvironment
      tags:
      - all
      - applications
      - organisations
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /organisations/{id}/applications/{appId}/env/{envName}:
    delete:
      operationId: deleteOrganisationsIdApplicationsAppIdEnvEnvName
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: envName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: removeApplicationEnv
      tags:
      - all
      - applications
      - organisations
      x-accepts:
      - application/json
    put:
      operationId: putOrganisationsIdApplicationsAppIdEnvEnvName
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: envName
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/WannabeEnv'
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ListEnv'
          description: editApplicationEnv
      tags:
      - all
      - applications
      - organisations
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /organisations/{id}/applications/{appId}/exposed_env:
    get:
      parameters:
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Status 200
      tags:
      - all
      - applications
      - organisations
      x-accepts:
      - application/json
    put:
      parameters:
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Status 200
      tags:
      - all
      - applications
      - organisations
      x-accepts:
      - application/json
  /organisations/{id}/applications/{appId}/instances:
    delete:
      operationId: deleteOrganisationsIdApplicationsAppIdInstances
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: undeployApplication
      tags:
      - all
      - applications
      - organisations
      x-accepts:
      - application/json
    get:
      operationId: getOrganisationsIdApplicationsAppIdInstances
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AppInstance'
                type: array
          description: getApplicationInstances
      tags:
      - all
      - applications
      - organisations
      x-accepts:
      - application/json
    post:
      operationId: postOrganisationsIdApplicationsAppIdInstances
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: commit
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: redeployApplication
      tags:
      - all
      - applications
      - organisations
      x-accepts:
      - application/json
  /organisations/{id}/applications/{appId}/instances/{instanceId}:
    get:
      parameters:
      - explode: false
        in: path
        name: instanceId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Status 200
      tags:
      - all
      - applications
      - organisations
      x-accepts:
      - application/json
  /organisations/{id}/applications/{appId}/tags:
    get:
      operationId: getOrganisationsIdApplicationsAppIdTags
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  type: string
                type: array
          description: getApplicationTags
      tags:
      - all
      - applications
      - organisations
      x-accepts:
      - '*/*'
  /organisations/{id}/applications/{appId}/tags/{tag}:
    delete:
      operationId: deleteOrganisationsIdApplicationsAppIdTagsTag
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: tag
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: deleteApplicationTag
      tags:
      - all
      - applications
      - organisations
      x-accepts:
      - application/json
    put:
      operationId: putOrganisationsIdApplicationsAppIdTagsTag
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: tag
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/Body'
      responses:
        "200":
          description: addApplicationTag
      tags:
      - all
      - applications
      - organisations
      x-content-type: application/json
      x-accepts:
      - application/json
  /organisations/{id}/applications/{appId}/vhosts:
    get:
      operationId: getOrganisationsIdApplicationsAppIdVhosts
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Vhost'
                type: array
          description: getVhosts
      tags:
      - all
      - applications
      - organisations
      x-accepts:
      - application/json
  /organisations/{id}/applications/{appId}/vhosts/favourite:
    delete:
      operationId: deleteOrganisationsIdApplicationsAppIdVhostsFavourite
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: unmarkFavouriteVhost
      tags:
      - all
      - applications
      - organisations
      x-accepts:
      - application/json
    get:
      operationId: getOrganisationsIdApplicationsAppIdVhostsFavourite
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Vhost'
          description: getFavouriteVhost
      tags:
      - all
      - applications
      - organisations
      x-accepts:
      - application/json
    put:
      operationId: putOrganisationsIdApplicationsAppIdVhostsFavourite
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/Vhost'
      responses:
        "200":
          description: markFavouriteVhost
      tags:
      - all
      - applications
      - organisations
      x-content-type: application/json
      x-accepts:
      - application/json
  /organisations/{id}/applications/{appId}/vhosts/{domain}:
    delete:
      operationId: deleteOrganisationsIdApplicationsAppIdVhostsDomain
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: domain
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: removeVhost
      tags:
      - all
      - applications
      - organisations
      x-accepts:
      - application/json
    put:
      operationId: putOrganisationsIdApplicationsAppIdVhostsDomain
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: domain
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/Vhost'
      responses:
        "200":
          description: addVhost
      tags:
      - all
      - applications
      - organisations
      x-content-type: application/json
      x-accepts:
      - application/json
  /organisations/{id}/avatar:
    put:
      description: "If you want to upload an image from your computer, send the image\
        \ in the body of the request without anything else."
      operationId: putOrganisationsIdAvatar
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: |-
            setOrgaAvatar
            setOrgaAvatarFromSource
      tags:
      - all
      - organisations
      x-accepts:
      - application/json
  /organisations/{id}/consumers:
    get:
      operationId: getOrganisationsIdConsumers
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Consumer'
                type: array
          description: getConsumers
      tags:
      - all
      - organisations
      x-accepts:
      - application/json
    post:
      operationId: postOrganisationsIdConsumers
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/WannabeConsumer'
      responses:
        "200":
          description: createConsumer
      tags:
      - all
      - organisations
      x-content-type: application/json
      x-accepts:
      - application/json
  /organisations/{id}/consumers/{key}:
    delete:
      operationId: deleteOrganisationsIdConsumersKey
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: key
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: deleteConsumer
      tags:
      - all
      - organisations
      x-accepts:
      - application/json
    get:
      operationId: getOrganisationsIdConsumersKey
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: key
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Consumer'
          description: getConsumer
      tags:
      - all
      - organisations
      x-accepts:
      - application/json
    put:
      operationId: putOrganisationsIdConsumersKey
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: key
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/WannabeConsumer'
      responses:
        "200":
          description: PUT the same data as in POST.
      tags:
      - all
      - organisations
      x-content-type: application/json
      x-accepts:
      - application/json
  /organisations/{id}/consumers/{key}/secret:
    get:
      operationId: getOrganisationsIdConsumersKeySecret
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: key
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Secret'
          description: getConsumerSecret
      tags:
      - all
      - organisations
      x-accepts:
      - application/json
  /organisations/{id}/consumptions:
    get:
      operationId: getOrganisationsIdConsumptions
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: appId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: from
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: to
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conso'
          description: getAmount
      tags:
      - all
      - organisations
      x-accepts:
      - application/json
  /organisations/{id}/credits:
    get:
      operationId: getOrganisationsIdCredits
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Credits'
          description: getAmount
      tags:
      - all
      - organisations
      x-accepts:
      - application/json
  /organisations/{id}/deployments:
    get:
      operationId: getOrganisationsIdDeployments
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentSummary'
          description: getDeploymentsForAllApps
      tags:
      - all
      - organisations
      x-accepts:
      - application/json
  /organisations/{id}/instances:
    get:
      operationId: getOrganisationsIdInstances
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: getInstancesForAllApps
      tags:
      - all
      - organisations
      x-accepts:
      - application/json
  /organisations/{id}/members:
    get:
      operationId: getOrganisationsIdMembers
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
[...]
