openapi: 3.0.1
info:
  description: "Use these REST APIs for performing operations on OpenId Connect Provider\
    \ entity associated with your Azure API Management deployment. API Management\
    \ allows you to access APIs secured with token from [OpenID Connect Provider ](http://openid.net/connect/)\
    \ to be accessed from the Developer Console."
  title: ApiManagementClient
  version: 2019-01-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2019-01-01/apimopenidconnectproviders.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: apimanagement-apimopenidconnectproviders
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/openidConnectProviders
  : get:
      description: Lists of all the OpenId Connect Providers.
      operationId: open_id_connect_provider_list_by_service
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "|   Field     |     Usage     |     Supported operators    \
          \ |     Supported functions     |</br>|-------------|-------------|-------------|-------------|</br>|\
          \ name | filter | ge, le, eq, ne, gt, lt | substringof, contains, startswith,\
          \ endswith | </br>| displayName | filter | ge, le, eq, ne, gt, lt | substringof,\
          \ contains, startswith, endswith | </br>"
        in: query
        name: $filter
        schema:
          type: string
      - description: Number of records to return.
        in: query
        name: $top
        schema:
          format: int32
          minimum: 1
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Number of records to skip.
        in: query
        name: $skip
        schema:
          format: int32
          minimum: 0
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenIdConnectProvider_ListByService_200_response'
          description: Lists of all the OpenId Connect Providers.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenIdConnectProvider_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - OpenidConnectProvider
      x-ms-examples:
        ApiManagementListOpenIdConnectProviders:
          parameters:
            api-version: 2019-01-01
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                nextLink: ""
                value:
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/openidConnectProviders/templateOpenIdConnect2
                  name: templateOpenIdConnect2
                  properties:
                    clientId: oidprovidertemplate2
                    clientSecret: oidsecretproviderTemplate2
                    description: open id provider template2
                    displayName: templateoidprovider2
                    metadataEndpoint: https://oidprovider-template2.net
                  type: Microsoft.ApiManagement/service/openidconnectproviders
      x-ms-odata: ./definitions.json#/definitions/OpenidConnectProviderContract
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.openid_connect_provider_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/openidConnectProviders/{opid}
  : delete:
      description: Deletes specific OpenID Connect Provider of the API Management
        service instance.
      operationId: open_id_connect_provider_delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Identifier of the OpenID Connect Provider.
        in: path
        name: opid
        required: true
        schema:
          maxLength: 256
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: ETag of the Entity. ETag should match the current entity state
          from the header response of the GET request or it should be * for unconditional
          update.
        in: header
        name: If-Match
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OpenId Connect Provider was successfully deleted.
        "204":
          content: {}
          description: OpenId Connect Provider was successfully deleted.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenIdConnectProvider_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - OpenidConnectProvider
      x-ms-examples:
        ApiManagementDeleteOpenIdConnectProvider:
          parameters:
            If-Match: '*'
            api-version: 2019-01-01
            opid: templateOpenIdConnect3
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200": {}
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.openid_connect_provider_controller
    get:
      description: Gets specific OpenID Connect Provider.
      operationId: open_id_connect_provider_get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Identifier of the OpenID Connect Provider.
        in: path
        name: opid
        required: true
        schema:
          maxLength: 256
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenIdConnectProvider_Get_200_response'
          description: The response body contains the specified OpenId Connect Provider
            entity.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenIdConnectProvider_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - OpenidConnectProvider
      x-ms-examples:
        ApiManagementGetOpenIdConnectProvider:
          parameters:
            api-version: 2019-01-01
            opid: templateOpenIdConnect2
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/openidConnectProviders/templateOpenIdConnect2
                name: templateOpenIdConnect2
                properties:
                  clientId: oidprovidertemplate2
                  clientSecret: oidsecretproviderTemplate2
                  description: open id provider template2
                  displayName: templateoidprovider2
                  metadataEndpoint: https://oidprovider-template2.net
                type: Microsoft.ApiManagement/service/openidconnectproviders
      x-openapi-router-controller: openapi_server.controllers.openid_connect_provider_controller
    head:
      description: Gets the entity state (Etag) version of the openIdConnectProvider
        specified by its identifier.
      operationId: open_id_connect_provider_get_entity_tag
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Identifier of the OpenID Connect Provider.
        in: path
        name: opid
        required: true
        schema:
          maxLength: 256
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Specified openidConnectProvider entity exists and current entity
            state version is present in the ETag header.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenIdConnectProvider_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - OpenidConnectProvider
      x-ms-examples:
        ApiManagementHeadOpenIdConnectProvider:
          parameters:
            api-version: 2019-01-01
            opid: templateOpenIdConnect2
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              headers:
                etag: AAAAAAAAAAa=
      x-openapi-router-controller: openapi_server.controllers.openid_connect_provider_controller
    patch:
      description: Updates the specific OpenID Connect Provider.
      operationId: open_id_connect_provider_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Identifier of the OpenID Connect Provider.
        in: path
        name: opid
        required: true
        schema:
          maxLength: 256
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: ETag of the Entity. ETag should match the current entity state
          from the header response of the GET request or it should be * for unconditional
          update.
        in: header
        name: If-Match
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenIdConnectProvider_Update_request'
        description: Update parameters.
        required: true
        x-body-name: parameters
      responses:
        "204":
          content: {}
          description: OpenId Connect Provider was successfully updated.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenIdConnectProvider_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - OpenidConnectProvider
      x-ms-examples:
        ApiManagementUpdateOpenIdConnectProvider:
          parameters:
            If-Match: '*'
            api-version: 2019-01-01
            opid: templateOpenIdConnect2
            parameters:
              properties:
                clientSecret: updatedsecret
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "204": {}
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.openid_connect_provider_controller
    put:
      description: Creates or updates the OpenID Connect Provider.
      operationId: open_id_connect_provider_create_or_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Identifier of the OpenID Connect Provider.
        in: path
        name: opid
        required: true
        schema:
          maxLength: 256
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "ETag of the Entity. Not required when creating an entity, but\
          \ required when updating an entity."
        in: header
        name: If-Match
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenIdConnectProvider_Get_200_response'
        description: Create parameters.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenIdConnectProvider_Get_200_response'
          description: OpenIdConnect Provider was successfully updated.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenIdConnectProvider_Get_200_response'
          description: OpenIdConnect Provider was successfully created.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenIdConnectProvider_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - OpenidConnectProvider
      x-ms-examples:
        ApiManagementCreateOpenIdConnectProvider:
          parameters:
            api-version: 2019-01-01
            opid: templateOpenIdConnect3
            parameters:
              properties:
                clientId: oidprovidertemplate3
                displayName: templateoidprovider3
                metadataEndpoint: https://oidprovider-template3.net
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/openidConnectProviders/templateOpenIdConnect3
                name: templateOpenIdConnect3
                properties:
                  clientId: oidprovidertemplate3
                  displayName: templateoidprovider3
                  metadataEndpoint: https://oidprovider-template3.net
                type: Microsoft.ApiManagement/service/openidconnectproviders
            "201":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/openidConnectProviders/templateOpenIdConnect3
                name: templateOpenIdConnect3
                properties:
                  clientId: oidprovidertemplate3
                  displayName: templateoidprovider3
                  metadataEndpoint: https://oidprovider-template3.net
                type: Microsoft.ApiManagement/service/openidconnectproviders
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.openid_connect_provider_controller
components:
  schemas:
    OpenIdConnectProvider_Update_request:
      description: Parameters supplied to the Update OpenID Connect Provider operation.
      properties:
        properties:
          $ref: '#/components/schemas/OpenIdConnectProvider_Update_request_properties'
      title: OpenIdConnectProvider_Update_request
      type: object
    OpenIdConnectProvider_ListByService_200_response_value_inner:
      description: OpenId Connect Provider details.
      example:
        properties:
          metadataEndpoint: metadataEndpoint
          clientId: clientId
          displayName: displayName
          description: description
          clientSecret: clientSecret
      properties:
        properties:
          $ref: '#/components/schemas/OpenIdConnectProvider_ListByService_200_response_value_inner_properties'
      title: OpenIdConnectProvider_ListByService_200_response_value_inner
      type: object
    OpenIdConnectProvider_ListByService_200_response:
      description: Paged OpenIdProviders list representation.
      example:
        value:
        - properties:
            metadataEndpoint: metadataEndpoint
            clientId: clientId
            displayName: displayName
            description: description
            clientSecret: clientSecret
        - properties:
            metadataEndpoint: metadataEndpoint
            clientId: clientId
            displayName: displayName
            description: description
            clientSecret: clientSecret
        nextLink: nextLink
      properties:
        nextLink:
          description: Next page link if any.
          title: nextLink
          type: string
        value:
          description: Page values.
          items:
            $ref: '#/components/schemas/OpenIdConnectProvider_ListByService_200_response_value_inner'
          title: value
          type: array
      title: OpenIdConnectProvider_ListByService_200_response
      type: object
    OpenIdConnectProvider_ListByService_default_response:
      description: Error Response.
      example:
        error:
          code: code
          details:
          - code: code
            message: message
            target: target
          - code: code
            message: message
            target: target
          message: message
      properties:
        error:
          $ref: '#/components/schemas/OpenIdConnectProvider_ListByService_default_response_error'
      title: OpenIdConnectProvider_ListByService_default_response
      type: object
    OpenIdConnectProvider_Get_200_response:
      allOf:
      - description: The Resource definition.
        properties:
          id:
            description: Resource ID.
            readOnly: true
            type: string
          name:
            description: Resource name.
            readOnly: true
            type: string
          type:
            description: Resource type for API Management resource.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: OpenId Connect Provider details.
      example:
        properties:
          metadataEndpoint: metadataEndpoint
          clientId: clientId
          displayName: displayName
          description: description
          clientSecret: clientSecret
      properties:
        properties:
          $ref: '#/components/schemas/OpenIdConnectProvider_ListByService_200_response_value_inner_properties'
      title: OpenIdConnectProvider_Get_200_response
    OpenIdConnectProvider_ListByService_200_response_value_inner_properties:
      description: OpenID Connect Providers Contract.
      example:
        metadataEndpoint: metadataEndpoint
        clientId: clientId
        displayName: displayName
        description: description
        clientSecret: clientSecret
      properties:
        clientId:
          description: Client ID of developer console which is the client application.
          title: clientId
          type: string
        clientSecret:
          description: Client Secret of developer console which is the client application.
          title: clientSecret
          type: string
        description:
          description: User-friendly description of OpenID Connect Provider.
          title: description
          type: string
        displayName:
          description: User-friendly OpenID Connect Provider name.
          maxLength: 50
          title: displayName
          type: string
        metadataEndpoint:
          description: Metadata endpoint URI.
          title: metadataEndpoint
          type: string
      required:
      - clientId
      - displayName
      - metadataEndpoint
      title: OpenIdConnectProvider_ListByService_200_response_value_inner_properties
      type: object
    OpenIdConnectProvider_ListByService_default_response_error:
      description: Error Body contract.
      example:
        code: code
        details:
        - code: code
          message: message
          target: target
        - code: code
          message: message
          target: target
        message: message
      properties:
        code:
          description: Service-defined error code. This code serves as a sub-status
            for the HTTP error code specified in the response.
          title: code
          type: string
        details:
          description: "The list of invalid fields send in request, in case of validation\
            \ error."
          items:
            $ref: '#/components/schemas/OpenIdConnectProvider_ListByService_default_response_error_details_inner'
          title: details
          type: array
        message:
          description: Human-readable representation of the error.
          title: message
          type: string
      title: OpenIdConnectProvider_ListByService_default_response_error
      type: object
    OpenIdConnectProvider_Update_request_properties:
      description: Parameters supplied to the Update OpenID Connect Provider operation.
      properties:
        clientId:
          description: Client ID of developer console which is the client application.
          title: clientId
          type: string
        clientSecret:
          description: Client Secret of developer console which is the client application.
          title: clientSecret
          type: string
        description:
          description: User-friendly description of OpenID Connect Provider.
          title: description
          type: string
        displayName:
          description: User-friendly OpenID Connect Provider name.
          maxLength: 50
          title: displayName
          type: string
        metadataEndpoint:
          description: Metadata endpoint URI.
          title: metadataEndpoint
          type: string
      title: OpenIdConnectProvider_Update_request_properties
      type: object
    OpenIdConnectProvider_ListByService_default_response_error_details_inner:
      description: Error Field contract.
      example:
        code: code
        message: message
        target: target
      properties:
        code:
          description: Property level error code.
          title: code
          type: string
        message:
          description: Human-readable representation of property-level error.
          title: message
          type: string
        target:
          description: Property name.
          title: target
          type: string
      title: OpenIdConnectProvider_ListByService_default_response_error_details_inner
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
