openapi: 3.0.1
info:
  description: Dev Spaces REST API
  title: DevSpacesManagement
  version: 2019-04-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/devspaces/resource-manager/Microsoft.DevSpaces/stable/2019-04-01/devspaces.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: devspaces
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
paths:
  /providers/Microsoft.DevSpaces/operations:
    get:
      description: Lists all the supported operations by the Microsoft.DevSpaces resource
        provider along with their description.
      operationId: operations_list
      parameters:
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceProviderOperationList'
          description: The request was successful; response contains the list of operations
            under Microsoft.DevSpaces resource provider.
      summary: Lists operations for the resource provider.
      tags:
      - Operations
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.operations_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.DevSpaces/controllers:
    get:
      description: Lists all the Azure Dev Spaces Controllers with their properties
        in the subscription.
      operationId: controllers_list
      parameters:
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ControllerList'
          description: The request was successful; response contains the list of Azure
            Dev Spaces Controllers in the subscription.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DevSpacesErrorResponse'
          description: Error response describing the reason for operation failure.
      summary: Lists the Azure Dev Spaces Controllers in a subscription.
      tags:
      - Controllers
      x-ms-examples:
        ControllersList:
          parameters:
            api-version: 2019-04-01
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.DevSpaces/controllers/myControllerResource
                  location: eastus
                  name: myControllerResource
                  properties:
                    dataPlaneFqdn: dataplane.azds.io
                    provisioningState: Succeeded
                    targetContainerHostResourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerService/managedClusters/myCluster
                  sku:
                    name: S1
                    tier: Standard
                  tags: {}
                  type: Microsoft.DevSpaces/controllers
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.controllers_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevSpaces/controllers:
    get:
      description: Lists all the Azure Dev Spaces Controllers with their properties
        in the specified resource group and subscription.
      operationId: controllers_list_by_resource_group
      parameters:
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ControllerList'
          description: The request was successful; response contains the list of Azure
            Dev Spaces Controllers in the resource group.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DevSpacesErrorResponse'
          description: Error response describing the reason for operation failure.
      summary: Lists the Azure Dev Spaces Controllers in a resource group.
      tags:
      - Controllers
      x-ms-examples:
        ControllersListByResourceGroup:
          parameters:
            api-version: 2019-04-01
            resourceGroupName: myResourceGroup
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.DevSpaces/controllers/myControllerResource
                  location: eastus
                  name: myControllerResource
                  properties:
                    dataPlaneFqdn: dataplane.azds.io
                    provisioningState: Succeeded
                    targetContainerHostResourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerService/managedClusters/myCluster
                  sku:
                    name: S1
                    tier: Standard
                  tags: {}
                  type: Microsoft.DevSpaces/controllers
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.controllers_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevSpaces/controllers/{name}:
    delete:
      description: Deletes an existing Azure Dev Spaces Controller.
      operationId: controllers_delete
      parameters:
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the resource.
        in: path
        name: name
        required: true
        schema:
          maxLength: 63
          minLength: 1
          pattern: "^[a-zA-Z0-9]([_-]*[a-zA-Z0-9])*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content: {}
          description: The request was successful; the Azure Dev Spaces Controller
            is deleted.
        "202":
          content: {}
          description: The request was successful; Azure Dev Spaces Controller is
            being deleted.
        "204":
          content: {}
          description: The request was successful; Azure Dev Spaces Controller does
            not exist.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DevSpacesErrorResponse'
          description: Error response describing the reason for operation failure.
            409 - Conflict(Azure Dev Spaces Controller is in a non-terminal state
            due to an ongoing operation.)
      summary: Deletes an Azure Dev Spaces Controller.
      tags:
      - Controllers
      x-ms-examples:
        ControllersDelete:
          parameters:
            api-version: 2019-04-01
            name: myControllerResource
            resourceGroupName: myResourceGroup
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200": {}
            "202":
              headers:
                Location: /subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DevSpaces/operationresults/00000000-0000-0000-0000-000000000000
            "204": {}
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.controllers_controller
    get:
      description: Gets the properties for an Azure Dev Spaces Controller.
      operationId: controllers_get
      parameters:
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the resource.
        in: path
        name: name
        required: true
        schema:
          maxLength: 63
          minLength: 1
          pattern: "^[a-zA-Z0-9]([_-]*[a-zA-Z0-9])*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Controller'
          description: The request was successful; response contains the Azure Dev
            Spaces Controller.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DevSpacesErrorResponse'
          description: Error response describing the reason for operation failure.
            404 - NotFound(Azure Dev Spaces Controller doesn't exist.)
      summary: Gets an Azure Dev Spaces Controller.
      tags:
      - Controllers
      x-ms-examples:
        ControllersGet:
          parameters:
            api-version: 2019-04-01
            name: myControllerResource
            resourceGroupName: myResourceGroup
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.DevSpaces/controllers/myControllerResource
                location: eastus
                name: myControllerResource
                properties:
                  dataPlaneFqdn: dataplane.azds.io
                  provisioningState: Succeeded
                  targetContainerHostResourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerService/managedClusters/myCluster
                sku:
                  name: S1
                  tier: Standard
                tags: {}
                type: Microsoft.DevSpaces/controllers
      x-openapi-router-controller: openapi_server.controllers.controllers_controller
    patch:
      description: Updates the properties of an existing Azure Dev Spaces Controller
        with the specified update parameters.
      operationId: controllers_update
      parameters:
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the resource.
        in: path
        name: name
        required: true
        schema:
          maxLength: 63
          minLength: 1
          pattern: "^[a-zA-Z0-9]([_-]*[a-zA-Z0-9])*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ControllerUpdateParameters'
        description: Parameters for updating the Azure Dev Spaces Controller.
        required: true
        x-body-name: controllerUpdateParameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Controller'
          description: The request was successful; response contains the updated Azure
            Dev Spaces Controller .
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Controller'
          description: The request was successful; Azure Dev Spaces Controller is
            being updated.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DevSpacesErrorResponse'
          description: "Error response describing the reason for operation failure.\
            \ 404 - NotFound(Azure Dev Spaces Controller doesn't exist.), 400 - BadRequest(One\
            \ or more update parameters are invalid.)"
      summary: Updates an Azure Dev Spaces Controller.
      tags:
      - Controllers
      x-ms-examples:
        ControllersUpdate:
          parameters:
            api-version: 2019-04-01
            controllerUpdateParameters:
              properties:
                targetContainerHostCredentialsBase64: QmFzZTY0IEVuY29kZWQgVmFsdWUK
              tags:
                key: value
            name: myControllerResource
            resourceGroupName: myResourceGroup
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.DevSpaces/controllers/myControllerResource
                location: eastus
                name: myControllerResource
                properties:
                  dataPlaneFqdn: dataplane.azds.io
                  provisioningState: Succeeded
                  targetContainerHostResourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerService/managedClusters/myCluster
                sku:
                  name: S1
                  tier: Standard
                tags: {}
                type: Microsoft.DevSpaces/controllers
            "201":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.DevSpaces/controllers/myControllerResource
                location: eastus
                name: myControllerResource
                properties:
                  dataPlaneFqdn: dataplane.azds.io
                  provisioningState: Updating
                  targetContainerHostResourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerService/managedClusters/myCluster
                sku:
                  name: S1
                  tier: Standard
                tags:
                  key: value
                type: Microsoft.DevSpaces/controllers
      x-codegen-request-body-name: controllerUpdateParameters
      x-openapi-router-controller: openapi_server.controllers.controllers_controller
    put:
      description: Creates an Azure Dev Spaces Controller with the specified create
        parameters.
      operationId: controllers_create
      parameters:
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the resource.
        in: path
        name: name
        required: true
        schema:
          maxLength: 63
          minLength: 1
          pattern: "^[a-zA-Z0-9]([_-]*[a-zA-Z0-9])*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Controller'
        description: Controller create parameters.
        required: true
        x-body-name: controller
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Controller'
          description: The request was successful; response contains the created Azure
            Dev Spaces Controller .
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Controller'
          description: The request was successful; Azure Dev Spaces Controller is
            being created.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DevSpacesErrorResponse'
          description: "Error response describing the reason for operation failure.\
            \ 400 - BadRequest(One or more creation parameters are invalid.), 409\
            \ - Conflict(Target container host is not in a supported state.)"
      summary: Creates an Azure Dev Spaces Controller.
      tags:
      - Controllers
      x-ms-examples:
        ControllersCreate:
          parameters:
            api-version: 2019-04-01
            controller:
              location: eastus
              properties:
                targetContainerHostCredentialsBase64: QmFzZTY0IEVuY29kZWQgVmFsdWUK
                targetContainerHostResourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerService/managedClusters/myCluster
              sku:
                name: S1
                tier: Standard
              tags: {}
            name: myControllerResource
            resourceGroupName: myResourceGroup
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.DevSpaces/controllers/myControllerResource
                location: eastus
                name: myControllerResource
                properties:
                  dataPlaneFqdn: dataplane.azds.io
                  provisioningState: Succeeded
                  targetContainerHostResourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerService/managedClusters/myCluster
                sku:
                  name: S1
                  tier: Standard
                tags: {}
                type: Microsoft.DevSpaces/controllers
            "201":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.DevSpaces/controllers/myControllerResource
                location: eastus
                name: myControllerResource
                properties:
                  provisioningState: Creating
                  targetContainerHostResourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerService/managedClusters/myCluster
                sku:
                  name: S1
                  tier: Standard
                tags: {}
                type: Microsoft.DevSpaces/controllers
      x-ms-long-running-operation: true
      x-codegen-request-body-name: controller
      x-openapi-router-controller: openapi_server.controllers.controllers_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevSpaces/controllers/{name}/listConnectionDetails
  : post:
      description: Lists connection details for the underlying container resources
        of an Azure Dev Spaces Controller.
      operationId: controllers_list_connection_details
      parameters:
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the resource.
        in: path
        name: name
        required: true
        schema:
          maxLength: 63
          minLength: 1
          pattern: "^[a-zA-Z0-9]([_-]*[a-zA-Z0-9])*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListConnectionDetailsParameters'
        description: Parameters for listing connection details of Azure Dev Spaces
          Controller.
        required: true
        x-body-name: listConnectionDetailsParameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ControllerConnectionDetailsList'
          description: The request was successful; response contains the list of connection
            details for the Azure Dev Spaces Controller .
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DevSpacesErrorResponse'
          description: Error response describing the reason for operation failure.
            404 - NotFound(Azure Dev Spaces Controller doesn't exist.)
      summary: Lists connection details for an Azure Dev Spaces Controller.
      tags:
      - Controllers
      x-ms-examples:
        ControllersListConnectionDetails:
          parameters:
            api-version: 2019-04-01
            listConnectionDetailsParameters:
              targetContainerHostResourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerService/managedClusters/myCluster
            name: myControllerResource
            resourceGroupName: myResourceGroup
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                connectionDetailsList:
                - orchestratorSpecificConnectionDetails:
                    instanceType: Kubernetes
                    kubeConfig: "0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000"
      x-codegen-request-body-name: listConnectionDetailsParameters
      x-openapi-router-controller: openapi_server.controllers.controllers_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevSpaces/locations/{location}/checkContainerHostMapping
  : post:
      operationId: container_host_mappings_get_container_host_mapping
      parameters:
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Location of the container host.
        in: path
        name: location
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContainerHostMapping'
        required: true
        x-body-name: containerHostMapping
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContainerHostMapping'
          description: The request was successful; response contains the container
            host mapping.
        "204":
          content: {}
          description: The request was successful; container host mapping does not
            exist.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DevSpacesErrorResponse'
          description: Error response describing the reason for operation failure.
            400 - BadRequest(Invalid container host resource ID.)
      summary: Returns container host mapping object for a container host resource
        ID if an associated controller exists.
      tags:
      - ContainerHostMappings
      x-ms-examples:
        ContainerHostMappingsGetContainerHostMapping:
          parameters:
            api-version: 2019-04-01
            containerHostMapping:
              containerHostResourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerService/managedClusters/myCluster
            location: eastus
            resourceGroupName: myResourceGroup
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                containerHostResourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerService/managedClusters/myCluster
                mappedControllerResourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/myResourceGroup/providers/Microsoft.DevSpaces/controllers/myController
            "204": {}
      x-codegen-request-body-name: containerHostMapping
      x-openapi-router-controller: openapi_server.controllers.container_host_mappings_controller
components:
  parameters:
    ApiVersionParameter:
      description: Client API version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    NameParameter:
      description: Name of the resource.
      in: path
      name: name
      required: true
      schema:
        maxLength: 63
        minLength: 1
        pattern: "^[a-zA-Z0-9]([_-]*[a-zA-Z0-9])*$"
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ResourceGroupParameter:
      description: Resource group to which the resource belongs.
      in: path
      name: resourceGroupName
      required: true
      schema:
        maxLength: 90
        minLength: 1
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: Azure subscription ID.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    ContainerHostMapping:
      description: Container host mapping object specifying the Container host resource
        ID and its associated Controller resource.
      example:
        containerHostResourceId: containerHostResourceId
        mappedControllerResourceId: mappedControllerResourceId
      properties:
        containerHostResourceId:
          description: ARM ID of the Container Host resource
          title: containerHostResourceId
          type: string
        mappedControllerResourceId:
          description: ARM ID of the mapped Controller resource
          readOnly: true
          title: mappedControllerResourceId
          type: string
      title: ContainerHostMapping
      type: object
    Controller:
      allOf:
      - $ref: '#/components/schemas/TrackedResource'
      example:
        sku:
          tier: Standard
          name: S1
        properties:
          dataPlaneFqdn: dataPlaneFqdn
          targetContainerHostCredentialsBase64: targetContainerHostCredentialsBase64
          hostSuffix: hostSuffix
          targetContainerHostResourceId: targetContainerHostResourceId
          provisioningState: Succeeded
      properties:
        properties:
          $ref: '#/components/schemas/ControllerProperties'
        sku:
          $ref: '#/components/schemas/Sku'
      required:
      - properties
      - sku
      title: Controller
    ControllerConnectionDetails:
      example:
        orchestratorSpecificConnectionDetails:
          instanceType: instanceType
      properties:
        orchestratorSpecificConnectionDetails:
          $ref: '#/components/schemas/OrchestratorSpecificConnectionDetails'
      title: ControllerConnectionDetails
      type: object
    ControllerConnectionDetailsList:
      example:
        connectionDetailsList:
        - orchestratorSpecificConnectionDetails:
            instanceType: instanceType
        - orchestratorSpecificConnectionDetails:
            instanceType: instanceType
      properties:
        connectionDetailsList:
          description: List of Azure Dev Spaces Controller connection details.
          items:
            $ref: '#/components/schemas/ControllerConnectionDetails'
          title: connectionDetailsList
          type: array
      title: ControllerConnectionDetailsList
      type: object
    ControllerList:
      example:
        value:
        - sku:
            tier: Standard
            name: S1
          properties:
            dataPlaneFqdn: dataPlaneFqdn
            targetContainerHostCredentialsBase64: targetContainerHostCredentialsBase64
            hostSuffix: hostSuffix
            targetContainerHostResourceId: targetContainerHostResourceId
            provisioningState: Succeeded
        - sku:
            tier: Standard
            name: S1
          properties:
            dataPlaneFqdn: dataPlaneFqdn
            targetContainerHostCredentialsBase64: targetContainerHostCredentialsBase64
            hostSuffix: hostSuffix
            targetContainerHostResourceId: targetContainerHostResourceId
            provisioningState: Succeeded
        nextLink: nextLink
      properties:
        nextLink:
          description: The URI that can be used to request the next page for list
            of Azure Dev Spaces Controllers.
          readOnly: true
          title: nextLink
          type: string
        value:
          description: List of Azure Dev Spaces Controllers.
          items:
            $ref: '#/components/schemas/Controller'
          title: value
          type: array
      title: ControllerList
      type: object
    ControllerProperties:
      example:
        dataPlaneFqdn: dataPlaneFqdn
        targetContainerHostCredentialsBase64: targetContainerHostCredentialsBase64
        hostSuffix: hostSuffix
        targetContainerHostResourceId: targetContainerHostResourceId
        provisioningState: Succeeded
      properties:
        dataPlaneFqdn:
          description: DNS name for accessing DataPlane services
          readOnly: true
          title: dataPlaneFqdn
          type: string
        hostSuffix:
          description: DNS suffix for public endpoints running in the Azure Dev Spaces
            Controller.
          readOnly: true
          title: hostSuffix
          type: string
        provisioningState:
          description: Provisioning state of the Azure Dev Spaces Controller.
          enum:
          - Succeeded
          - Failed
          - Canceled
          - Updating
          - Creating
          - Deleting
          - Deleted
          readOnly: true
          title: provisioningState
          type: string
          x-ms-enum:
            modelAsString: true
            name: ProvisioningState
        targetContainerHostCredentialsBase64:
          description: Credentials of the target container host (base64).
          title: targetContainerHostCredentialsBase64
          type: string
          x-ms-mutability:
          - create
        targetContainerHostResourceId:
          description: Resource ID of the target container host
          title: targetContainerHostResourceId
          type: string
          x-ms-mutability:
          - read
          - create
      required:
      - targetContainerHostCredentialsBase64
      - targetContainerHostResourceId
      title: ControllerProperties
      type: object
    ControllerUpdateParameters:
      description: Parameters for updating an Azure Dev Spaces Controller.
      example:
        properties:
          targetContainerHostCredentialsBase64: targetContainerHostCredentialsBase64
        tags: "{}"
      properties:
        properties:
          $ref: '#/components/schemas/ControllerUpdateParametersProperties'
        tags:
          description: Tags for the Azure Dev Spaces Controller.
          title: tags
          type: object
      title: ControllerUpdateParameters
      type: object
    ControllerUpdateParametersProperties:
      example:
        targetContainerHostCredentialsBase64: targetContainerHostCredentialsBase64
      properties:
        targetContainerHostCredentialsBase64:
          description: Credentials of the target container host (base64).
          title: targetContainerHostCredentialsBase64
          type: string
      title: ControllerUpdateParametersProperties
      type: object
    DevSpacesErrorResponse:
      description: Error response indicates that the service is not able to process
        the incoming request. The reason is provided in the error message.
      example:
        error:
          code: code
          message: message
          target: target
      properties:
        error:
          $ref: '#/components/schemas/ErrorDetails'
      title: DevSpacesErrorResponse
      type: object
    ErrorDetails:
      example:
        code: code
        message: message
        target: target
      properties:
        code:
          description: Status code for the error.
          readOnly: true
          title: code
          type: string
        message:
          description: Error message describing the error in detail.
          readOnly: true
          title: message
          type: string
        target:
          description: The target of the particular error.
          readOnly: true
          title: target
          type: string
      title: ErrorDetails
      type: object
    KubernetesConnectionDetails:
      allOf:
      - $ref: '#/components/schemas/OrchestratorSpecificConnectionDetails'
      description: Contains information used to connect to a Kubernetes cluster
      properties:
        kubeConfig:
          description: Gets the kubeconfig for the cluster.
          type: string
      x-ms-discriminator-value: Kubernetes
    ListConnectionDetailsParameters:
      description: Parameters for listing connection details of an Azure Dev Spaces
        Controller.
      example:
        targetContainerHostResourceId: targetContainerHostResourceId
      properties:
        targetContainerHostResourceId:
          description: Resource ID of the target container host mapped to the Azure
            Dev Spaces Controller.
          title: targetContainerHostResourceId
          type: string
      required:
      - targetContainerHostResourceId
      title: ListConnectionDetailsParameters
      type: object
    OrchestratorSpecificConnectionDetails:
      description: Base class for types that supply values used to connect to container
        orchestrators
      discriminator:
        propertyName: instanceType
      example:
        instanceType: instanceType
      properties:
        instanceType:
          description: Gets the Instance type.
          readOnly: true
          type: string
      title: OrchestratorSpecificConnectionDetails
      type: object
    Resource:
      description: An Azure resource.
      properties:
        id:
          description: Fully qualified resource Id for the resource.
          readOnly: true
          title: id
          type: string
        name:
          description: The name of the resource.
          readOnly: true
          title: name
          type: string
        type:
          description: The type of the resource.
          readOnly: true
          title: type
          type: string
      title: Resource
      type: object
      x-ms-azure-resource: true
    ResourceProviderOperationDefinition:
      example:
        display:
          provider: provider
          resource: resource
          description: description
          operation: operation
        name: name
      properties:
        display:
          $ref: '#/components/schemas/ResourceProviderOperationDisplay'
        name:
          description: Resource provider operation name.
          title: name
          type: string
      title: ResourceProviderOperationDefinition
      type: object
    ResourceProviderOperationDisplay:
      example:
        provider: provider
        resource: resource
        description: description
        operation: operation
      properties:
        description:
          description: Description of the resource provider operation.
          title: description
          type: string
        operation:
          description: Name of the resource provider operation.
          title: operation
          type: string
        provider:
          description: Name of the resource provider.
          title: provider
          type: string
        resource:
          description: Name of the resource type.
          title: resource
          type: string
      title: ResourceProviderOperationDisplay
      type: object
    ResourceProviderOperationList:
      example:
        value:
        - display:
            provider: provider
            resource: resource
            description: description
            operation: operation
          name: name
        - display:
            provider: provider
            resource: resource
            description: description
            operation: operation
          name: name
        nextLink: nextLink
      properties:
        nextLink:
          description: The URI that can be used to request the next page for list
            of Azure operations.
          readOnly: true
          title: nextLink
          type: string
        value:
          description: Resource provider operations list.
          items:
            $ref: '#/components/schemas/ResourceProviderOperationDefinition'
          title: value
          type: array
      title: ResourceProviderOperationList
      type: object
    Sku:
      description: Model representing SKU for Azure Dev Spaces Controller.
      example:
        tier: Standard
        name: S1
      properties:
        name:
          description: The name of the SKU for Azure Dev Spaces Controller.
          enum:
          - S1
          title: name
          type: string
          x-ms-enum:
            modelAsString: true
            name: SkuName
        tier:
          description: The tier of the SKU for Azure Dev Spaces Controller.
          enum:
          - Standard
          title: tier
          type: string
          x-ms-enum:
            modelAsString: true
            name: SkuTier
      required:
      - name
      title: Sku
      type: object
    TrackedResource:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: The resource model definition for a ARM tracked top level resource.
      properties:
        location:
          description: Region where the Azure resource is located.
          title: location
          type: string
          x-ms-mutability:
          - read
          - create
        tags:
          additionalProperties:
            type: string
          description: Tags for the Azure resource.
          title: tags
          type: object
          x-ms-mutability:
          - read
          - create
          - update
      title: TrackedResource
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
