openapi: 3.0.1
info:
  contact: {}
  description: Multimodal travel API to return modes of transportation between cities
    and points of interest.
  title: Faretrotter Travel API
  version: "2.0"
  x-apisguru-categories:
  - transport
  x-logo:
    url: https://twitter.com/faretrotter/profile_image?size=original
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Faretrotter/api/master/docs/oas20.yaml
    version: "2.0"
  x-providerName: faretrotter.com
servers:
- url: "https://api.faretrotter.com/v2.0/{apikey}"
paths:
  /places:
    get:
      operationId: GET_places
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaceResponse'
          description: Everything worked as expected.
        "400":
          content: {}
          description: Parameters did not match the endpoint requirements. Check that
            all required fields are present and spelt correctly.
        "401":
          content: {}
          description: Authentication Failed.
        "402":
          content: {}
          description: All parameters are correct but the request failed.
        "403":
          content: {}
          description: Request IP does not match IP address registered with key.
        "404":
          content: {}
          description: The endpoint doesn't exist.
        "429":
          content: {}
          description: Too many requests hit the API too quickly.
        "501":
          content: {}
          description: Server error
        "502":
          content: {}
          description: Server error
      summary: Returns possible modes of transportation between two cities.
      x-accepts:
      - application/json
  /routes:
    get:
      operationId: GET_routes
      parameters:
      - in: query
        name: origin_lat
        required: true
        schema:
          type: number
      - in: query
        name: origin_lng
        required: true
        schema:
          type: number
      - in: query
        name: destination_lat
        required: true
        schema:
          type: number
      - in: query
        name: destination_lng
        required: true
        schema:
          type: number
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoutesResponse'
          description: Everything worked as expected.
        "400":
          content: {}
          description: Parameters did not match the endpoint requirements. Check that
            all required fields are present and spelt correctly.
        "401":
          content: {}
          description: Authentication Failed.
        "402":
          content: {}
          description: All parameters are correct but the request failed.
        "403":
          content: {}
          description: Request IP does not match IP address registered with key.
        "404":
          content: {}
          description: The endpoint doesn't exist.
        "429":
          content: {}
          description: Too many requests hit the API too quickly.
        "501":
          content: {}
          description: Server error
        "502":
          content: {}
          description: Server error
      x-accepts:
      - application/json
components:
  schemas:
    PlaceResponse:
      example:
        country: country
        lng: 6.027456183070403
        city: city
        name_long: name_long
        name: name
        id: id
        region: region
        type: type
        lat: 0.8008281904610115
        slug: slug
        geoname_id: geoname_id
      properties:
        city:
          type: string
        country:
          type: string
        geoname_id:
          type: string
        id:
          type: string
        lat:
          type: number
        lng:
          type: number
        name:
          type: string
        name_long:
          type: string
        region:
          type: string
        slug:
          type: string
        type:
          type: string
      required:
      - city
      - country
      - geoname_id
      - id
      - lat
      - lng
      - name
      - name_long
      - region
      - slug
      - type
      title: Place response
      type: object
    PlacesResponse:
      properties:
        places:
          items:
            $ref: '#/components/schemas/PlaceResponse'
          type: array
        request:
          $ref: '#/components/schemas/PlacesResponse_request'
        status:
          $ref: '#/components/schemas/PlacesResponse_status'
      required:
      - places
      - request
      - status
      title: Places response
      type: object
    RoutesResponse:
      example:
        request:
          endpoint: endpoint
          environment: environment
          distance_miles: 5.962133916683182
          fields:
            origin_lat: 7.061401241503109
            destination_lng: 2.3021358869347655
            destination_lat: 5.637376656633329
            origin_lng: 9.301444243932576
          version: version
        data:
          routes:
          - duration: 6.027456183070403
            mode: mode
            fare: 1.4658129805029452
            co2: 0.8008281904610115
            destination_id: destination_id
            origin_id: origin_id
          - duration: 6.027456183070403
            mode: mode
            fare: 1.4658129805029452
            co2: 0.8008281904610115
            destination_id: destination_id
            origin_id: origin_id
          places:
          - country: country
            lng: 6.027456183070403
            city: city
            name_long: name_long
            name: name
            id: id
            region: region
            type: type
            lat: 0.8008281904610115
            slug: slug
            geoname_id: geoname_id
          - country: country
            lng: 6.027456183070403
            city: city
            name_long: name_long
            name: name
            id: id
            region: region
            type: type
            lat: 0.8008281904610115
            slug: slug
            geoname_id: geoname_id
          operators:
          - mode: mode
            logo_img: logo_img
            code: code
            name: name
            attributes:
            - attributes
            - attributes
            id: id
          - mode: mode
            logo_img: logo_img
            code: code
            name: name
            attributes:
            - attributes
            - attributes
            id: id
        response:
          time: 3.616076749251911
          url: url
        status:
          code: 2.027123023002322
          message: message
      properties:
        data:
          $ref: '#/components/schemas/RoutesResponse_data'
        request:
          $ref: '#/components/schemas/PlacesResponse_request'
        response:
          $ref: '#/components/schemas/RoutesResponse_response'
        status:
          $ref: '#/components/schemas/PlacesResponse_status'
      required:
      - data
      - request
      - response
      - status
      title: Routes response
      type: object
    PlacesResponse_request_fields:
      example:
        origin_lat: 7.061401241503109
        destination_lng: 2.3021358869347655
        destination_lat: 5.637376656633329
        origin_lng: 9.301444243932576
      properties:
        destination_lat:
          type: number
        destination_lng:
          type: number
        origin_lat:
          type: number
        origin_lng:
          type: number
      required:
      - destination_lat
      - destination_lng
      - origin_lat
      - origin_lng
      type: object
    PlacesResponse_request:
      example:
        endpoint: endpoint
        environment: environment
        distance_miles: 5.962133916683182
        fields:
          origin_lat: 7.061401241503109
          destination_lng: 2.3021358869347655
          destination_lat: 5.637376656633329
          origin_lng: 9.301444243932576
        version: version
      properties:
        distance_miles:
          type: number
        endpoint:
          type: string
        environment:
          type: string
        fields:
          $ref: '#/components/schemas/PlacesResponse_request_fields'
        version:
          type: string
      required:
      - distance_miles
      - endpoint
      - environment
      - fields
      - version
      type: object
    PlacesResponse_status:
      example:
        code: 2.027123023002322
        message: message
      properties:
        code:
          type: number
        message:
          type: string
      required:
      - code
      - message
      type: object
    RoutesResponse_data_operators_inner:
      example:
        mode: mode
        logo_img: logo_img
        code: code
        name: name
        attributes:
        - attributes
        - attributes
        id: id
      properties:
        attributes:
          items:
            type: string
          type: array
        code:
          type: string
        id:
          type: string
        logo_img:
          type: string
        mode:
          type: string
        name:
          type: string
      required:
      - attributes
      - code
      - id
      - logo_img
      - mode
      - name
      type: object
    RoutesResponse_data_routes_inner:
      example:
        duration: 6.027456183070403
        mode: mode
        fare: 1.4658129805029452
        co2: 0.8008281904610115
        destination_id: destination_id
        origin_id: origin_id
      properties:
        co2:
          type: number
        destination_id:
          type: string
        duration:
          type: number
        fare:
          type: number
        mode:
          type: string
        origin_id:
          type: string
      required:
      - co2
      - destination_id
      - duration
      - fare
      - mode
      - origin_id
      type: object
    RoutesResponse_data:
      example:
        routes:
        - duration: 6.027456183070403
          mode: mode
          fare: 1.4658129805029452
          co2: 0.8008281904610115
          destination_id: destination_id
          origin_id: origin_id
        - duration: 6.027456183070403
          mode: mode
          fare: 1.4658129805029452
          co2: 0.8008281904610115
          destination_id: destination_id
          origin_id: origin_id
        places:
        - country: country
          lng: 6.027456183070403
          city: city
          name_long: name_long
          name: name
          id: id
          region: region
          type: type
          lat: 0.8008281904610115
          slug: slug
          geoname_id: geoname_id
        - country: country
          lng: 6.027456183070403
          city: city
          name_long: name_long
          name: name
          id: id
          region: region
          type: type
          lat: 0.8008281904610115
          slug: slug
          geoname_id: geoname_id
        operators:
        - mode: mode
          logo_img: logo_img
          code: code
          name: name
          attributes:
          - attributes
          - attributes
          id: id
        - mode: mode
          logo_img: logo_img
          code: code
          name: name
          attributes:
          - attributes
          - attributes
          id: id
      properties:
        operators:
          items:
            $ref: '#/components/schemas/RoutesResponse_data_operators_inner'
          type: array
        places:
          items:
            $ref: '#/components/schemas/PlaceResponse'
          type: array
        routes:
          items:
            $ref: '#/components/schemas/RoutesResponse_data_routes_inner'
          type: array
      required:
      - operators
      - places
      - routes
      type: object
    RoutesResponse_response:
      example:
        time: 3.616076749251911
        url: url
      properties:
        time:
          type: number
        url:
          type: string
      required:
      - time
      - url
      type: object
  securitySchemes:
    ApiKeyAuth:
      in: header
      name: ApiKeyAuth
      type: apiKey
x-original-swagger-version: "2.0"

