openapi: 3.0.1
info:
  contact:
    email: support@nfusionsolutions.com
    name: nFusion Solutions
    url: https://nfusionsolutions.com/contact-us
    x-twitter: nfusionsolution
  description: "[nFusion Solutions](https://nfusionsolutions.com) provides [REST APIs](https://nfusionsolutions.com/data-feeds/)\
    \ that deliver enterprise-grade financial data. Data sets include real-time and\
    \ historical pricing for Spot prices of precious metals such as Gold, Silver,\
    \ Platinum, and Palladium, exchange rates for major currency pairs, exchange rates\
    \ for Crypto Currencies such as BTC, ETH, and LTC. All API access requires authentication.\
    \ In order to be issued access credentials you must first enter into a service\
    \ agreement with nFusion Solutions and acquire a commercial license. For information\
    \ on how to obtain a licence [take a tour of our products](https://nfusionsolutions.com/nfusion-solutions-metals-gold-price-feed-tour/)\
    \ or email sales@nfusionsolutions.com."
  license:
    name: Commercial License
    url: https://nfusionsolutions.com/nfusion-solutions-metals-gold-price-feed-quote/
  title: nFusion Solutions Market Data API
  version: "1"
  x-apisguru-categories:
  - financial
  x-logo:
    url: https://twitter.com/nfusionsolution/profile_image?size=original
  x-origin:
  - format: openapi
    url: https://api.nfusionsolutions.biz/swagger/1/swagger.json
    version: "3.0"
  x-providerName: nfusionsolutions.biz
servers:
- url: https://api.nfusionsolutions.biz
security:
- token: []
paths:
  /api/v1/Currencies/history:
    get:
      description: "Historical OHLC data for the specified period and interval size\r\
        \n\r\nThe combination of the interval parameter and start and end dates can\
        \ result in results\r\nbeing truncated to conform to result size limits. See\
        \ comments on interval parameter for details on valid interval values."
      operationId: currencies_history_get
      parameters:
      - description: "comma separated list of currency pairs. For example: USD/CAD,USD/EUR,USD/AUD"
        explode: true
        in: query
        name: pairs
        required: true
        schema:
          type: string
        style: form
      - description: start date of time period. format is <i>yyyy-mm-dd</i>
        explode: true
        in: query
        name: start
        required: true
        schema:
          format: date-time
          type: string
        style: form
      - description: end date of time period. format is <i>yyyy-mm-dd</i>. Default
          is current date.
        explode: true
        in: query
        name: end
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "aggregation interval. Composed of an optional integer value\
          \ (which defaults to 1 when not specified), \r\nfollowed by a type string\
          \ which must be one of the following values:\r\ny=year,\r\nm=month,\r\n\
          w=week,\r\nd=day,\r\nh=hour,\r\nmi=minute\r\n\r\nFor example, a yearly interval\
          \ can be specified as \"y\" and 6 month interval as \"6m\". \r\n\r\nIf not\
          \ specified the interval parameter default is 1 Day."
        explode: true
        in: query
        name: interval
        required: false
        schema:
          type: string
        style: form
      - description: to override content negotiation specify a value of json or xml
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - json
          - xml
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/IntervalCollectionResponse'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/IntervalCollectionResponse'
                type: array
          description: Success
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
      summary: Get historical prices for requested currency pairs
      tags:
      - Currencies
      x-openapi-router-controller: openapi_server.controllers.currencies_controller
  /api/v1/Currencies/history/supported:
    get:
      description: "Only the currency pairs in the direction noted can be used with\
        \ the history endpoint.\r\nFor example: USD/CAD is not the same as CAD/USD"
      operationId: currencies_supported_currencies_history_get
      parameters:
      - description: to override content negotiation specify a value of json or xml
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - json
          - xml
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
            application/xml:
              schema:
                items:
                  type: string
                type: array
          description: Success
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
      summary: Get list of currency pairs supported by the history endpoint
      tags:
      - Currencies
      x-openapi-router-controller: openapi_server.controllers.currencies_controller
  /api/v1/Currencies/rate:
    get:
      description: Current Mid Rate
      operationId: currencies_rate_get
      parameters:
      - description: "comma separated list of currency pairs. For example: USD/CAD,USD/EUR,USD/AUD"
        explode: true
        in: query
        name: pairs
        required: true
        schema:
          type: string
        style: form
      - description: to override content negotiation specify a value of json or xml
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - json
          - xml
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/RateResponse'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/RateResponse'
                type: array
          description: Success
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
      summary: Get latest mid rate for requested currency pairs
      tags:
      - Currencies
      x-openapi-router-controller: openapi_server.controllers.currencies_controller
  /api/v1/Currencies/rate/supported:
    get:
      description: "Any of the currencies in this list can be paired with any other\
        \ currency in this list when supplied to the Rate endpoint.\r\nFor example:\
        \ USD/CAD,CAD/USD,USD/EUR,EUR/CAD"
      operationId: currencies_supported_currencies_rate_get
      parameters:
      - description: to override content negotiation specify a value of json or xml
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - json
          - xml
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
            application/xml:
              schema:
                items:
                  type: string
                type: array
          description: Success
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
      summary: Get list of currencies supported by the rate endpoint
      tags:
      - Currencies
      x-openapi-router-controller: openapi_server.controllers.currencies_controller
  /api/v1/Currencies/summary:
    get:
      description: Current and daily summary information combined into a single quote
      operationId: currencies_summary_get
      parameters:
      - description: "comma separated list of currency pairs. For example: USD/CAD,USD/EUR,USD/AUD"
        explode: true
        in: query
        name: pairs
        required: true
        schema:
          type: string
        style: form
      - description: to override content negotiation specify a value of json or xml
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - json
          - xml
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/SummaryResponse'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/SummaryResponse'
                type: array
          description: Success
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
      summary: Get latest Summary for requested currency pairs
      tags:
      - Currencies
      x-openapi-router-controller: openapi_server.controllers.currencies_controller
  /api/v1/Currencies/summary/supported:
    get:
      description: "Only the currency pairs in the direction noted can be used with\
        \ the Summary endpoint.\r\nFor example: USD/CAD is not the same as CAD/USD"
      operationId: currencies_supported_currencies_summary_get
      parameters:
      - description: to override content negotiation specify a value of json or xml
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - json
          - xml
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
            application/xml:
              schema:
                items:
                  type: string
                type: array
          description: Success
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
      summary: Get list of currency pairs supported by the Summary endpoint
      tags:
      - Currencies
      x-openapi-router-controller: openapi_server.controllers.currencies_controller
  /api/v1/Metals/benchmark/history:
    get:
      description: "Historical OHLC data for the specified period and interval size\r\
        \n\r\nThe combination of the interval parameter and start and end dates can\
        \ result in results\r\nbeing truncated to conform to result size limits. See\
        \ comments on interval parameter for details on valid interval values.\r\n\
        \r\nThe historicalfx flag is used to determine whether to apply today's fx\
        \ rates to a historical period, or to apply the historical rates from that\
        \ same time frame."
      operationId: metals_benchmark_history_get
      parameters:
      - description: comma separated list of metals
        explode: true
        in: query
        name: metals
        required: true
        schema:
          type: string
        style: form
      - description: start date of time period. format is <i>yyyy-mm-dd</i>
        explode: true
        in: query
        name: start
        required: true
        schema:
          format: date-time
          type: string
        style: form
      - description: end date of time period. format is <i>yyyy-mm-dd</i>. Default
          is current date.
        explode: true
        in: query
        name: end
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "aggregation interval. Composed of an optional integer value\
          \ (which defaults to 1 when not specified), \r\nfollowed by a type string\
          \ which must be one of the following values:\r\ny=year,\r\nm=month,\r\n\
          w=week,\r\nd=day,\r\nh=hour,\r\nmi=minute\r\n\r\nFor example, a yearly interval\
          \ can be specified as \"y\" and 6 month interval as \"6m\". \r\n\r\nIf not\
          \ specified the interval parameter default is 1 Day."
        explode: true
        in: query
        name: interval
        required: false
        schema:
          type: string
        style: form
      - description: if true use historical currency rates otherwise current currency
          rates. Defaults to true.
        explode: true
        in: query
        name: historicalfx
        required: false
        schema:
          type: boolean
        style: form
      - description: "comma separated list of conversion currencies, defaults to USD"
        explode: true
        in: query
        name: currency
        required: false
        schema:
          type: string
        style: form
      - description: "unit of meaure, defaults to troy ounces. allowed values are:\r\
          \nmg=milligram\r\ng=gram\r\nkg=kilogram\r\ngr=grain\r\noz=ounce\r\ntoz=troy\
          \ ounce\r\nct=carat\r\ndwt=pennyweight"
        explode: true
        in: query
        name: unitofmeasure
        required: false
        schema:
          enum:
          - mg
          - g
          - kg
          - gr
          - oz
          - toz
          - ct
          - dwt
          type: string
        style: form
      - description: to override content negotiation specify a value of json or xml
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - json
          - xml
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/IntervalCollectionResponse'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/IntervalCollectionResponse'
                type: array
          description: Success
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
      summary: Get historical benchmark prices for requested metals
      tags:
      - Metals
      x-openapi-router-controller: openapi_server.controllers.metals_controller
  /api/v1/Metals/benchmark/summary:
    get:
      description: Benchmark price information
      operationId: metals_benchmark_summary_get
      parameters:
      - description: comma separated list of metals
        explode: true
        in: query
        name: metals
        required: true
        schema:
          type: string
        style: form
      - description: "comma separated list of conversion currencies, defaults to USD"
        explode: true
        in: query
        name: currency
        required: false
        schema:
          type: string
        style: form
      - description: "unit of meaure, defaults to troy ounces. allowed values are:\r\
          \nmg=milligram\r\ng=gram\r\nkg=kilogram\r\ngr=grain\r\noz=ounce\r\ntoz=troy\
          \ ounce\r\nct=carat\r\ndwt=pennyweight"
        explode: true
        in: query
        name: unitofmeasure
        required: false
        schema:
          enum:
          - mg
          - g
          - kg
          - gr
          - oz
          - toz
          - ct
          - dwt
          type: string
        style: form
      - description: to override content negotiation specify a value of json or xml
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - json
          - xml
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/SummaryResponse'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/SummaryResponse'
                type: array
          description: Success
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
      summary: Get latest Benchmark prices for requested metals
      tags:
      - Metals
      x-openapi-router-controller: openapi_server.controllers.metals_controller
  /api/v1/Metals/benchmark/supported:
    get:
      description: ""
      operationId: metals_benchmark_supported_metals_get
      parameters:
      - description: to override content negotiation specify a value of json or xml
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - json
          - xml
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
            application/xml:
              schema:
                items:
                  type: string
                type: array
          description: Success
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
      summary: Get list of symbols supported by the benchmark endpoints
      tags:
      - Metals
      x-openapi-router-controller: openapi_server.controllers.metals_controller
  /api/v1/Metals/spot/history:
    get:
      description: "Historical OHLC data for the specified period and interval size\r\
        \n\r\nThe combination of the interval parameter and start and end dates can\
        \ result in results\r\nbeing truncated to conform to result size limits. See\
        \ comments on interval parameter for details on valid interval values.\r\n\
        \r\nThe historicalfx flag is used to determine whether to apply today's fx\
        \ rates to a historical period, or to apply the historical rates from that\
        \ same time frame."
      operationId: metals_spot_history_get
      parameters:
      - description: comma separated list of metals
        explode: true
        in: query
        name: metals
        required: true
        schema:
          type: string
        style: form
      - description: start date of time period. format is <i>yyyy-mm-dd</i>
        explode: true
        in: query
        name: start
        required: true
        schema:
          format: date-time
          type: string
        style: form
      - description: end date of time period. format is <i>yyyy-mm-dd</i>. Default
          is current date.
        explode: true
        in: query
        name: end
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "aggregation interval. Composed of an optional integer value\
          \ (which defaults to 1 when not specified), \r\nfollowed by a type string\
          \ which must be one of the following values:\r\ny=year,\r\nm=month,\r\n\
          w=week,\r\nd=day,\r\nh=hour,\r\nmi=minute\r\n\r\nFor example, a yearly interval\
          \ can be specified as \"y\" and 6 month interval as \"6m\". \r\n\r\nIf not\
          \ specified the interval parameter default is 1 Day."
        explode: true
        in: query
        name: interval
        required: false
        schema:
          type: string
        style: form
      - description: if true use historical currency rates otherwise current currency
          rates. Defaults to true.
        explode: true
        in: query
        name: historicalfx
        required: false
        schema:
          type: boolean
        style: form
      - description: "comma separated list of conversion currencies, defaults to USD"
        explode: true
        in: query
        name: currency
        required: false
        schema:
          type: string
        style: form
      - description: "unit of meaure, defaults to troy ounces. allowed values are:\r\
          \nmg=milligram\r\ng=gram\r\nkg=kilogram\r\ngr=grain\r\noz=ounce\r\ntoz=troy\
          \ ounce\r\nct=carat\r\ndwt=pennyweight"
        explode: true
        in: query
        name: unitofmeasure
        required: false
        schema:
          enum:
          - mg
          - g
          - kg
          - gr
          - oz
          - toz
          - ct
          - dwt
          type: string
        style: form
      - description: to override content negotiation specify a value of json or xml
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - json
          - xml
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/IntervalCollectionResponse'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/IntervalCollectionResponse'
                type: array
          description: Success
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
      summary: Get historical Spot prices for requested metals
      tags:
      - Metals
      x-openapi-router-controller: openapi_server.controllers.metals_controller
  /api/v1/Metals/spot/performance:
    get:
      description: Historical Performance information
      operationId: metals_spot_historical_performance_get
      parameters:
      - description: comma separated list of metals
        explode: true
        in: query
        name: metals
        required: true
        schema:
          type: string
        style: form
      - description: "comma separated list of conversion currencies, defaults to USD"
        explode: true
        in: query
        name: currency
        required: false
        schema:
          type: string
        style: form
      - description: "unit of meaure, defaults to troy ounces. allowed values are:\r\
          \nmg=milligram\r\ng=gram\r\nkg=kilogram\r\ngr=grain\r\noz=ounce\r\ntoz=troy\
          \ ounce\r\nct=carat\r\ndwt=pennyweight"
        explode: true
        in: query
        name: unitofmeasure
        required: false
        schema:
          enum:
          - mg
          - g
          - kg
          - gr
          - oz
          - toz
          - ct
          - dwt
          type: string
        style: form
      - description: to override content negotiation specify a value of json or xml
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - json
          - xml
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/IntervalCollectionResponse'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/IntervalCollectionResponse'
                type: array
          description: Success
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
      summary: Get Historical Performance for requested metals
      tags:
      - Metals
      x-openapi-router-controller: openapi_server.controllers.metals_controller
  /api/v1/Metals/spot/performance/annual:
    get:
      description: Annual Historical Performance information
      operationId: metals_spot_annual_historical_performance_get
      parameters:
      - description: comma separated list of metals
        explode: true
        in: query
        name: metals
        required: true
        schema:
          type: string
        style: form
      - description: "comma separated list of conversion currencies, defaults to USD"
        explode: true
        in: query
        name: currency
        required: false
        schema:
          type: string
        style: form
      - description: "unit of meaure, defaults to troy ounces. allowed values are:\r\
          \nmg=milligram\r\ng=gram\r\nkg=kilogram\r\ngr=grain\r\noz=ounce\r\ntoz=troy\
          \ ounce\r\nct=carat\r\ndwt=pennyweight"
        explode: true
        in: query
        name: unitofmeasure
        required: false
        schema:
          enum:
          - mg
          - g
          - kg
          - gr
          - oz
          - toz
          - ct
          - dwt
          type: string
        style: form
      - description: to override content negotiation specify a value of json or xml
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - json
          - xml
          type: string
        style: form
      - description: Number of years of history to return. Defaults to 10.
        explode: true
        in: query
        name: years
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/IntervalCollectionResponse'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/IntervalCollectionResponse'
                type: array
          description: Success
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
      summary: Get Historical Annual Performance for requested metals
      tags:
      - Metals
      x-openapi-router-controller: openapi_server.controllers.metals_controller
  /api/v1/Metals/spot/ratio/history:
    get:
      description: "Historical data for the specified period and interval size\r\n\
        \r\nThe combination of the interval parameter and start and end dates can\
        \ result in results\r\nbeing truncated to conform to result size limits. See\
        \ comments on interval parameter for details on valid interval values."
      operationId: metals_spot_ratio_history_get
      parameters:
      - description: comma separated list of metals
        explode: true
        in: query
        name: pairs
        required: true
        schema:
          type: string
        style: form
      - description: start date of time period. format is <i>yyyy-mm-dd</i>
        explode: true
        in: query
        name: start
        required: true
        schema:
          format: date-time
          type: string
        style: form
      - description: end date of time period. format is <i>yyyy-mm-dd</i>. Default
          is current date.
        explode: true
        in: query
        name: end
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "aggregation interval. Composed of an optional integer value\
          \ (which defaults to 1 when not specified), \r\nfollowed by a type string\
          \ which must be one of the following values:\r\ny=year,\r\nm=month,\r\n\
          w=week,\r\nd=day,\r\nh=hour,\r\nmi=minute\r\n\r\nFor example, a yearly interval\
          \ can be specified as \"y\" and 6 month interval as \"6m\". \r\n\r\nIf not\
          \ specified the interval parameter default is 1 Day."
        explode: true
        in: query
        name: interval
        required: false
        schema:
          type: string
        style: form
      - description: to override content negotiation specify a value of json or xml
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - json
          - xml
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/IntervalCollectionResponse'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/IntervalCollectionResponse'
                type: array
          description: Success
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
      summary: Get historical Spot Ratio prices for requested metals
      tags:
      - Metals
      x-openapi-router-controller: openapi_server.controllers.metals_controller
  /api/v1/Metals/spot/ratio/summary:
    get:
      description: Ratios between prices of two metals
      operationId: metals_spot_ratio_summary_get
      parameters:
      - description: "comma separated list of metal pairs. For example: gold/silver,gold/platinum,silver/palladium"
        explode: true
        in: query
        name: pairs
        required: true
        schema:
          type: string
        style: form
      - description: to override content negotiation specify a value of json or xml
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - json
          - xml
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/SummaryResponse'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/SummaryResponse'
                type: array
          description: Success
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
      summary: Get latest Spot Summary for requested metal ratios
      tags:
      - Metals
      x-openapi-router-controller: openapi_server.controllers.metals_controller
  /api/v1/Metals/spot/summary:
    get:
      description: Current and daily summary information combined into a single quote
      operationId: metals_spot_summary_get
      parameters:
      - description: comma separated list of metals
        explode: true
        in: query
        name: metals
        required: true
        schema:
          type: string
        style: form
      - description: "comma separated list of conversion currencies, defaults to USD"
        explode: true
        in: query
        name: currency
        required: false
        schema:
          type: string
        style: form
      - description: "unit of meaure, defaults to troy ounces. allowed values are:\r\
          \nmg=milligram\r\ng=gram\r\nkg=kilogram\r\ngr=grain\r\noz=ounce\r\ntoz=troy\
          \ ounce\r\nct=carat\r\ndwt=pennyweight"
        explode: true
        in: query
        name: unitofmeasure
        required: false
        schema:
          enum:
          - mg
          - g
          - kg
          - gr
          - oz
          - toz
          - ct
          - dwt
          type: string
        style: form
      - description: to override content negotiation specify a value of json or xml
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - json
          - xml
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/SummaryResponse'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/SummaryResponse'
                type: array
          description: Success
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
      summary: Get latest Spot Summary for requested metals
      tags:
      - Metals
      x-openapi-router-controller: openapi_server.controllers.metals_controller
  /api/v1/Metals/spot/supported:
    get:
      description: ""
      operationId: metals_spot_supported_metals_get
      parameters:
      - description: to override content negotiation specify a value of json or xml
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - json
          - xml
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
            application/xml:
              schema:
                items:
                  type: string
                type: array
          description: Success
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
      summary: Get list of symbols supported by the spot endpoints
      tags:
      - Metals
      x-openapi-router-controller: openapi_server.controllers.metals_controller
  /api/v1/Metals/supported/currency:
    get:
      description: ""
      operationId: metals_supported_currencies_metals_get
      parameters:
      - description: to override content negotiation specify a value of json or xml
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - json
          - xml
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
            application/xml:
              schema:
                items:
                  type: string
                type: array
          description: Success
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
      summary: Get list of currencies supported by metals endpoints for currency conversion
      tags:
      - Metals
      x-openapi-router-controller: openapi_server.controllers.metals_controller
components:
  schemas:
    Interval:
      additionalProperties: false
      example:
        high: 1.4658129805029452
        last: 5.962133916683182
        low: 5.637376656633329
        change: 0.8008281904610115
        changePercent: 6.027456183070403
        start: 2000-01-23T04:56:07.000+00:00
        end: 2000-01-23T04:56:07.000+00:00
        open: 2.3021358869347655
      properties:
        change:
          format: double
          nullable: true
          title: change
          type: number
        changePercent:
          format: double
          nullable: true
          title: changePercent
          type: number
        end:
          format: date-time
          title: end
          type: string
        high:
          format: double
          nullable: true
          title: high
          type: number
        last:
          format: double
          nullable: true
          title: last
          type: number
        low:
          format: double
          nullable: true
          title: low
          type: number
        open:
          format: double
          nullable: true
          title: open
          type: number
        start:
          format: date-time
          title: start
          type: string
      title: Interval
      type: object
    IntervalCollection:
      additionalProperties: false
      example:
        symbol: symbol
        intervals:
        - high: 1.4658129805029452
          last: 5.962133916683182
          low: 5.637376656633329
          change: 0.8008281904610115
          changePercent: 6.027456183070403
          start: 2000-01-23T04:56:07.000+00:00
          end: 2000-01-23T04:56:07.000+00:00
          open: 2.3021358869347655
        - high: 1.4658129805029452
          last: 5.962133916683182
          low: 5.637376656633329
          change: 0.8008281904610115
          changePercent: 6.027456183070403
          start: 2000-01-23T04:56:07.000+00:00
          end: 2000-01-23T04:56:07.000+00:00
          open: 2.3021358869347655
        name: name
        baseCurrency: baseCurrency
      properties:
        baseCurrency:
          nullable: true
          title: baseCurrency
          type: string
        intervals:
          items:
            $ref: '#/components/schemas/Interval'
          nullable: true
          title: intervals
          type: array
        name:
          nullable: true
          title: name
          type: string
        symbol:
          nullable: true
          title: symbol
          type: string
      title: IntervalCollection
      type: object
    IntervalCollectionResponse:
      additionalProperties: false
      example:
        requestedUnitOfMeasure: requestedUnitOfMeasure
        data:
          symbol: symbol
          intervals:
          - high: 1.4658129805029452
            last: 5.962133916683182
            low: 5.637376656633329
            change: 0.8008281904610115
            changePercent: 6.027456183070403
            start: 2000-01-23T04:56:07.000+00:00
            end: 2000-01-23T04:56:07.000+00:00
            open: 2.3021358869347655
          - high: 1.4658129805029452
            last: 5.962133916683182
            low: 5.637376656633329
            change: 0.8008281904610115
            changePercent: 6.027456183070403
            start: 2000-01-23T04:56:07.000+00:00
            end: 2000-01-23T04:56:07.000+00:00
            open: 2.3021358869347655
          name: name
          baseCurrency: baseCurrency
        success: true
        error: error
        requestedCurrency: requestedCurrency
        requestedSymbol: requestedSymbol
      properties:
        data:
          $ref: '#/components/schemas/IntervalCollection'
        error:
          nullable: true
          title: error
          type: string
        requestedCurrency:
          nullable: true
          title: requestedCurrency
          type: string
        requestedSymbol:
          nullable: true
          title: requestedSymbol
          type: string
        requestedUnitOfMeasure:
          nullable: true
          title: requestedUnitOfMeasure
          type: string
        success:
          title: success
          type: boolean
      title: IntervalCollectionResponse
      type: object
    Rate:
      additionalProperties: false
      example:
        symbol: symbol
        value: 0.8008281904610115
        timestamp: 2000-01-23T04:56:07.000+00:00
      properties:
        symbol:
          nullable: true
          title: symbol
          type: string
        timestamp:
          format: date-time
          nullable: true
          title: timestamp
          type: string
        value:
          format: double
          nullable: true
          title: value
          type: number
      title: Rate
      type: object
    RateResponse:
      additionalProperties: false
      example:
        requestedUnitOfMeasure: requestedUnitOfMeasure
        data:
          symbol: symbol
          value: 0.8008281904610115
          timestamp: 2000-01-23T04:56:07.000+00:00
        success: true
        error: error
        requestedCurrency: requestedCurrency
        requestedSymbol: requestedSymbol
      properties:
        data:
          $ref: '#/components/schemas/Rate'
        error:
          nullable: true
          title: error
          type: string
        requestedCurrency:
          nullable: true
          title: requestedCurrency
          type: string
        requestedSymbol:
          nullable: true
          title: requestedSymbol
          type: string
        requestedUnitOfMeasure:
          nullable: true
          title: requestedUnitOfMeasure
          type: string
        success:
          title: success
          type: boolean
      title: RateResponse
      type: object
    Summary:
      additionalProperties: false
      example:
        symbol: symbol
        last: 9.301444243932576
        yearToDatePercentChange: 1.4894159098541704
        fiftyTwoWeekPercentChange: 5.637376656633329
        baseCurrency: baseCurrency
        fiftyTwoWeekLow: 5.962133916683182
        fourWeekPercentChange: 2.3021358869347655
        timeStamp: 2000-01-23T04:56:07.000+00:00
        high: 7.061401241503109
        oneDayValue: 7.386281948385884
        twelveWeekPercentChange: 1.0246457001441578
        oneDayChange: 2.027123023002322
        low: 3.616076749251911
        ask: 0.8008281904610115
        bid: 6.027456183070403
        fiftyTwoWeekHigh: 1.4658129805029452
        oneDayPercentChange: 4.145608029883936
        open: 1.2315135367772556
      properties:
        ask:
          format: double
          nullable: true
          title: ask
          type: number
        baseCurrency:
          nullable: true
          title: baseCurrency
          type: string
        bid:
          format: double
          nullable: true
          title: bid
          type: number
        fiftyTwoWeekHigh:
          format: double
          nullable: true
          title: fiftyTwoWeekHigh
          type: number
        fiftyTwoWeekLow:
          format: double
          nullable: true
          title: fiftyTwoWeekLow
          type: number
        fiftyTwoWeekPercentChange:
          format: double
          nullable: true
          title: fiftyTwoWeekPercentChange
          type: number
        fourWeekPercentChange:
          format: double
          nullable: true
          title: fourWeekPercentChange
          type: number
        high:
          format: double
          nullable: true
          title: high
          type: number
        last:
          format: double
          nullable: true
          title: last
          type: number
        low:
          format: double
          nullable: true
          title: low
          type: number
        oneDayChange:
          format: double
          nullable: true
          title: oneDayChange
          type: number
        oneDayPercentChange:
          format: double
          nullable: true
          title: oneDayPercentChange
          type: number
        oneDayValue:
          format: double
          nullable: true
          title: oneDayValue
          type: number
        open:
          format: double
          nullable: true
          title: open
          type: number
        symbol:
          nullable: true
          title: symbol
          type: string
        timeStamp:
          format: date-time
          title: timeStamp
          type: string
        twelveWeekPercentChange:
          format: double
          nullable: true
          title: twelveWeekPercentChange
          type: number
        yearToDatePercentChange:
          format: double
          nullable: true
          title: yearToDatePercentChange
          type: number
      title: Summary
      type: object
    SummaryResponse:
      additionalProperties: false
      example:
        requestedUnitOfMeasure: requestedUnitOfMeasure
        data:
          symbol: symbol
          last: 9.301444243932576
          yearToDatePercentChange: 1.4894159098541704
          fiftyTwoWeekPercentChange: 5.637376656633329
          baseCurrency: baseCurrency
          fiftyTwoWeekLow: 5.962133916683182
          fourWeekPercentChange: 2.3021358869347655
          timeStamp: 2000-01-23T04:56:07.000+00:00
          high: 7.061401241503109
          oneDayValue: 7.386281948385884
          twelveWeekPercentChange: 1.0246457001441578
          oneDayChange: 2.027123023002322
          low: 3.616076749251911
          ask: 0.8008281904610115
          bid: 6.027456183070403
          fiftyTwoWeekHigh: 1.4658129805029452
          oneDayPercentChange: 4.145608029883936
          open: 1.2315135367772556
        success: true
        error: error
        requestedCurrency: requestedCurrency
        requestedSymbol: requestedSymbol
      properties:
        data:
          $ref: '#/components/schemas/Summary'
        error:
          nullable: true
          title: error
          type: string
        requestedCurrency:
          nullable: true
          title: requestedCurrency
          type: string
        requestedSymbol:
          nullable: true
          title: requestedSymbol
          type: string
        requestedUnitOfMeasure:
          nullable: true
          title: requestedUnitOfMeasure
          type: string
        success:
          title: success
          type: boolean
      title: SummaryResponse
      type: object
  securitySchemes:
    token:
      description: authorization token
      in: query
      name: token
      type: apiKey
      x-apikeyInfoFunc: openapi_server.controllers.security_controller.info_from_token
