openapi: 3.0.1
info:
  contact:
    email: dev-support@frankiefinancial.com
  description: "------  \nThis API allows developers to integrate the Frankie Financial\
    \ Compliance Utility into their applications. The API allows:\n  - Checking name,\
    \ address, date of birth against national databases\n  - Validating Australian\
    \ driver's licences, passports, medicare, visas and other Australian national\
    \ ID documents\n  - Validating Australian electricity bills\n  - Validating NZ\
    \ driver's licences\n  - Validating Chinese bank cards and national ID card\n\
    \  - Validating International passports and national ID documents\n  - PEP, Sanctions,\
    \ Watchlist and adverse media checking\n  - Australian visa checks \n  - Fraud\
    \ list and fraud background checks\n  - ID validation and selfie check comparisons.\n\
    \  \n------  \n \nIndustry specific services\n\n  - Comparing Australian electricity\
    \ retailers for a better deal.\n\n------  \n \nKYB specific services\n\n  - Query\
    \ organisation ownership\n  - Perform KYC & AML checks on shareholders, beneficial\
    \ owners and office bearers.\n  - Query credit score and credit reports\n  - International\
    \ company searches\n  - International company profiles\n  \n------  \nThe full\
    \ version of this documentation along with supplemental articles can be found\
    \ here:\n  - https://apidocs.frankiefinancial.com/\n\nThe traditional Swagger\
    \ view of this documentation can be found here:\n  - https://app.swaggerhub.com/apis-docs/FrankieFinancial/kycutility\n\
    \n------  \nSandbox base URL is:\n  - https://api.demo.frankiefinancial.io/compliance/v1.2\n\
    \  \n  - We do have an old sandbox at https://sandbox.frankiefinancial.com/compliance/v1.2\
    \ but this has been retired.\n\n  - All calls are the same as production, only\
    \ with canned data. \n\n  - Full Swagger definition, along with test data for\
    \ playing in the sandbox can be obtained once initial commercial discussions have\
    \ commenced.\n\n  - Production and optional UAT access will be opened up only\
    \ to those with a signed commercial contract.\n  \n------  \nContact us at hello@frankiefinancial.com\
    \ to speak with a sales rep about issuing a Customer ID and Sandbox api key.\n"
  title: Frankie Financial API
  version: 1.5.3
  x-apisguru-categories:
  - financial
  x-origin:
  - format: swagger
    url: https://app.swaggerhub.com/apiproxy/registry/FrankieFinancial/kycutility/1.5.3
    version: "2.0"
  x-providerName: frankiefinancial.io
servers:
- url: https://api.demo.frankiefinancial.io/compliance/v1.2
security:
- api_key: []
tags:
- description: Service status functions you can use to make sure things are up and
    running.
  name: Status
- description: "Operations on specific ID documents, specific to an entity (people)."
  name: Document
- description: Operations on specific entities (people / companies / etc)
  name: Entity
- description: Operations on entities that are set to type ORGANISATION
  name: Business
- description: Industry-specific operations on documents and entities.
  name: Industry
- description: "These are callback/webhook functions. If you've requested a callback,\
    \ this will be what is sent to you. You do not need to implement these as a client,\
    \ but you do need to be able to accept them as a server."
  name: Push Notification
- description: Functions used for retrieving past results
  name: Retrieve
- description: Operations on entities to set specific flags and states.
  name: Flag
paths:
  /business/international/profile:
    post:
      description: |
        Using the Company Code retrieved from the search response (see above) you can pull back the details of the company.

        The Frankie platform will save the details of the response as an ORGANISATION type entity with the profile attached as a report which you can potentially re-retrieve later if you wish.
      operationId: international_business_profile
      parameters:
      - description: |
          Customer ID issued by Frankie Financial. This will never change. Your API key, which is mapped to this identity, will change over time.
        in: header
        name: X-Frankie-CustomerID
        required: true
        schema:
          format: uuid
          type: string
      - description: |
          If, as a Frankie Customer, you are acting on behalf of your own customers, then you can populate this field with a Frankie-assigned ID.

          Note: If using a CustomerChildID, you will also need a separate api_key for each child.

          Any documents, checks, entities that are created when this field has been populated will now be tied to this CustomerID + CustomerChildID combination. Just as Customers cannot see data created by other Customers, so too a Customer's Children will not be able to see each other's data.

          A Customer can see the documents/entities and checks of all their Children.
        in: header
        name: X-Frankie-CustomerChildID
        schema:
          format: uuid
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InternationalBusinessProfileCriteria'
        description: |
          The country, cxompany code and optional registry of the organisation to be queried.
        required: true
        x-body-name: organisation
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternationalBusinessProfileResponse'
          description: The request was valid and was successfully processed. The search
            has been carried out and the results are attached.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
          description: Bad request. One or more request fields is either missing or
            incorrect. Details are in the error response.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
          description: "The request has failed an authorisation check. This can happen\
            \ for a variety of reasons, such as an invalid or expired API key, or\
            \ invalid Customer/CustomerChildIDs. \n* NOTE: This does not include attempts\
            \ to read/write data you don't have access to - that's a 404 error (as\
            \ we don't want to leak information through guessing)\n"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
          description: "Cannot return response. In the case of a query, or reference\
            \ to a specific entity/check/etc, it means that the requested item was\
            \ not found, or you don't have access to it. Please check your query before\
            \ trying again."
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
          description: "A request to POST an update to an object was not allowed due\
            \ to it's state. This may indicate an already completed check, or a document\
            \ that has been processed. You need to create a new document/check if\
            \ you wish to update the object in question."
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
          description: "The API client is making too many concurrent requests, and\
            \ some are being throttled. Throttled requests can be retried after a\
            \ short delay."
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
          description: Unexpected error. Something went wrong during the checking
            process.
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
          description: "All of the ID sources configured by the customer are unavailable,\
            \ or there is no available document processor."
      summary: Retrieve a business profile from any country (AUS included).
      tags:
      - Business
      x-codegen-request-body-name: organisation
      x-openapi-router-controller: openapi_server.controllers.business_controller
  /business/international/search:
    post:
      description: |
        Search for a given business name or business number across international business registers.

        The search will return a list of matching companies that you can then potentially query using the international profile query (see below).
        Each search result will have a CompanyCode that you use to retrieve the specific company details using the profile function.

        This process will not save any details from the search results.
      operationId: international_business_search
      parameters:
      - description: |
          Customer ID issued by Frankie Financial. This will never change. Your API key, which is mapped to this identity, will change over time.
        in: header
        name: x_frankie_customer_id
        required: true
        schema:
          format: uuid
          type: string
      - description: |
          If, as a Frankie Customer, you are acting on behalf of your own customers, then you can populate this field with a Frankie-assigned ID.

          Note: If using a CustomerChildID, you will also need a separate api_key for each child.

          Any documents, checks, entities that are created when this field has been populated will now be tied to this CustomerID + CustomerChildID combination. Just as Customers cannot see data created by other Customers, so too a Customer's Children will not be able to see each other's data.

          A Customer can see the documents/entities and checks of all their Children.
        in: header
        name: x_frankie_customer_child_id
        schema:
          format: uuid
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InternationalBusinessSearchCriteria'
        description: |
          The country, name or business number of the organisation to be queried.
        required: true
        x-body-name: organisation
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternationalBusinessSearchResponse'
          description: The request was valid and was successfully processed. The search
            has been carried out and the results are attached.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
          description: Bad request. One or more request fields is either missing or
            incorrect. Details are in the error response.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
          description: "The request has failed an authorisation check. This can happen\
            \ for a variety of reasons, such as an invalid or expired API key, or\
            \ invalid Customer/CustomerChildIDs. \n* NOTE: This does not include attempts\
            \ to read/write data you don't have access to - that's a 404 error (as\
            \ we don't want to leak information through guessing)\n"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
          description: "Cannot return response. In the case of a query, or reference\
            \ to a specific entity/check/etc, it means that the requested item was\
            \ not found, or you don't have access to it. Please check your query before\
            \ trying again."
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
          description: "A request to POST an update to an object was not allowed due\
            \ to it's state. This may indicate an already completed check, or a document\
            \ that has been processed. You need to create a new document/check if\
            \ you wish to update the object in question."
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
          description: "The API client is making too many concurrent requests, and\
            \ some are being throttled. Throttled requests can be retried after a\
            \ short delay."
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
          description: Unexpected error. Something went wrong during the checking
            process.
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
          description: "All of the ID sources configured by the customer are unavailable,\
            \ or there is no available document processor."
      summary: Search for a business from any country (AUS included).
      tags:
      - Business
      x-codegen-request-body-name: organisation
      x-openapi-router-controller: openapi_server.controllers.business_controller
  /business/ownership/query:
    post:
      description: "Process a request for ownership details for an Australian organisation.\n\
        \nSee below for more generic international queries.\n\nAt a minimum, you just\
        \ need to supply an ACN or ABN and we can retrieve the rest.\nYou also have\
        \ the option of supplying company name, type (as per ABR types) and both ABN/ACN\
        \ and we'll attempt to verfy that that data matches what is on record before\
        \ attempting any further verification and validation.\n\nKYC/AML for a selection\
        \ of entities associated with an organisation and/or the organisation itself\
        \ can optionally be run, but not by default. To enable KYC/AML checks one\
        \ or more entity categories must be provided. If such a list of entity categories\
        \ is given then default checks based on configuration will be run for those\
        \ categories. If a check type is also provided in the request then that type\
        \ will be used for entities representing individual entities, and the AML\
        \ subset of that check will be used for organisations if any. Specifying a\
        \ check type without an entity category will result in an error.\n\nNOTE:\
        \ This query will always run asynchronously and you will only ever be returned\
        \ a 202 ACCEPT response, or an error.\nResults will be pushed using the Push\
        \ Notification API below and you will be able to retrieve the results using\
        \ the Retrieve API.\n\nWe have supplied the 200 response in the definition\
        \ below only so what will be sent to you when you later retrieve the details.\n\
        \nMore details on how to use this API and interpret the results can be found\
        \ here:\n  \n  https://apidocs.frankiefinancial.com/docs/which-function-to-use\n"
      operationId: business_ownership_query
      parameters:
      - description: |
          Customer ID issued by Frankie Financial. This will never change. Your API key, which is mapped to this identity, will change over time.
        in: header
        name: x_frankie_customer_id
        required: true
        schema:
          format: uuid
          type: string
      - description: |
          If, as a Frankie Customer, you are acting on behalf of your own customers, then you can populate this field with a Frankie-assigned ID.

          Note: If using a CustomerChildID, you will also need a separate api_key for each child.

          Any documents, checks, entities that are created when this field has been populated will now be tied to this CustomerID + CustomerChildID combination. Just as Customers cannot see data created by other Customers, so too a Customer's Children will not be able to see each other's data.

          A Customer can see the documents/entities and checks of all their Children.
        in: header
        name: x_frankie_customer_child_id
        schema:
          format: uuid
          type: string
      - description: "When creating a new check, we need to define the checks we wish\
          \ to run. If this parameter is not supplied then the check will be based\
          \ on a configured check type for each entity category.\n  \nThe checkType\
          \ is make up of a comma separated list of the types of check we wish to\
          \ run.\n\nThe order is important, and must be of the form:\n  - Entity Check\
          \ (if you're running this). Choose one from the available options\n  - ID\
          \ Check (If you want this)\n  - PEP Checks (again if you want this, choose\
          \ one of the options)\n\nEntity Checks - One of:\n  - \"one_plus\": Checks\
          \ name, address and DoB against a minimum of 1 data source. (also known\
          \ as a 1+1)\n  - \"two_plus\": Checks name, address and DoB against a minimum\
          \ of 2 independent data sources (also known as a 2+2)\n\nID Checks - One\
          \ of:\n  - \"id\": Checks all of the identity documents, but not necessarily\
          \ the entity itself independently. Use this in conjunction with a one_plus\
          \ or two_plus for more.\n  \nFraud Checks - One or more  of:\n  - \"fraudlist\"\
          : Checks to see if the identity appears on any known fraud lists. Should\
          \ be run after KYC/ID checks have passed.\n  - \"fraudid\": Checks external\
          \ ID services to see if details appear in fraud detection services (e.g.\
          \ EmailAge or FraudNet)\n  \nPEP Checks - One of:\n  - \"pep\": Will only\
          \ run PEP/Sanctions checks (no identity verification)\n  - \"pep_media\"\
          : Will run PEP/Sanctions checks, as well as watchlist and adverse media\
          \ checks. (no identity verification)\n  \n  * NOTE: These checks will ONLY\
          \ run if either the KYC/ID checks have been run prior, or it is the only\
          \ check requested.\n  \nPre-defined combinations:\n  - \"full\": equivalent\
          \ to \"two_plus,id,pep_media\" or \"pep_media\" if the target is an organisation.\n\
          \  - \"default\": Currently defined as \"two_plus,id\" or \"pep\" if the\
          \ target is an organisation.\n\nCustom:\n  - By arrangement with Frankie\
          \ you can define your own KYC check type.\n  \n  This will allow you to\
          \ set the minimum number of matches for:\n    - name \n    - date of birth\n\
          \    - address\n    - government id\n  \n  This allows for alternatives\
          \ to the \"standard\" two_plus or one_plus (note, these can be overridden\
          \ too).\n  \nProfile:\n  - \"profile\": By arrangement with Frankie you\
          \ can have a \"profile\" check type that applies checks according to a profile\
          \ that you assign to the entity from a predefined set of profiles.\n  \n\
          \  The profile to use will be taken from the entity.entityProfile field\
          \ if set, or be run through a set of configurable rules to determine which\
          \ one to use.\n  \n  Profiles act a little like the Pre-defined combinations\
          \ above in that they can map to a defined list. But they offer a lot more\
          \ besides, including rules for determining default settings, inbuild data\
          \ aging and other configurable features.\n  They also allow for a new result\
          \ set top be returned that provides a more detailed and useful breakdown\
          \ of the check/verification process.\n  \n  Entity Profiles are the future\
          \ of checks with Frankie Financial.\n"
        explode: false
        in: query
        name: checkType
        schema:
          items:
            enum:
            - full
            - default
            - one_plus
            - two_plus
            - id
            - fraudlist
            - fraudcheck
            - pep
            - pep_media
            - profile
            type: string
          type: array
          uniqueItems: true
        style: form
      - description: |
          A comma separated list that specifies the categories of entities associated with the target organisation that will be checked.

            - organisation - Just the organisation itself.
            - ubos - All ultimate beneficial owners.
            - pseudo_ubos - Use an alterntive category when an organisation has no actual UBOs. The actual category to use is defined via configuration, default is no alterntive category.
            - direct_owners - All direct owners of the company, both organisations and individuals, may include UBOs for for simple ownership.
            - officers - All officers of the company
            - officers_directors - All directors of the company
            - officers_other - All non-director officers of the company
            - all - All direct and indirect owners, both organisations and individuals (including UBOs), and officers of all organisations.
        explode: false
        in: query
        name: entityCategories
        schema:
          items:
            enum:
            - organisation
            - ubos
            - pseudo_ubos
            - direct_owners
            - officers
            - officers_directors
            - officers_other
            - all
            type: string
          type: array
          uniqueItems: true
        style: form
      - description: |
          The result level allows you to specify the level of detail returned for the entity check. You can choose summary or full.
        in: query
        name: resultLevel
        schema:
          default: summary
          enum:
          - summary
          - full
          type: string
      - description: "Should a validation check be run before the ownership query.\
          \ The default is specified via configuration. The validation checks to see\
          \ if the provided organisation is suitable for an ownership query by looking\
          \ for the ACN in public data sources. \nOptions are:\n- \"on\": Validate\
          \ only when ACN is not provided. This is the typical default.\n- \"acn\"\
          : Validate even if ACN is provided.\n- \"only\": Like \"acn\" but only do\
          \ validation query, don't proceed with ownership query. This option cannot\
          \ be set as the default via configuration.\n- \"off\": Never validate. The\
          \ Ownership query will then fail if an ACN is not provided.\n"
        in: query
        name: validation
        schema:
          enum:
          - "true"
          - "false"
          - only
          - acn
          type: string
      - description: |
          The type of human readable report, if any, to generate based on the ownership query results.
        in: query
        name: generateReport
        schema:
          type: string
      - description: |
          If set to true, historical ownership data will be requested.
        in: query
        name: includeHistorical
        schema:
          type: boolean
      - description: |
          If set to true, a full UBO report will not be requested.
        in: query
        name: onlyProfile
        schema:
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OwnershipQuery'
        description: |
          The organisation to be queried. An entity object that must have an organisation object with at least one organisation number.
        required: true
        x-body-name: query
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationCheckResponseObject'
          description: |
            !!!! This response will never be sent synchronously !!!!

            This is what you will find in the payload of a retrieved response should the ownership query succeed.
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcceptedEntityResultObject'
          description: "The request was valid and can potentially be fulfilled. The\
            \ Frankie service has now accepted responsibility for processing and we\
            \ will either push the results to you, or send you a notification, depending\
            \ on the request and your configuration."
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
          description: Bad request. One or more request fields is either missing or
            incorrect. Details are in the error response.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
          description: "The request has failed an authorisation check. This can happen\
            \ for a variety of reasons, such as an invalid or expired API key, or\
            \ invalid Customer/CustomerChildIDs. \n* NOTE: This does not include attempts\
            \ to read/write data you don't have access to - that's a 404 error (as\
            \ we don't want to leak information through guessing)\n"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
          description: "Cannot return response. In the case of a query, or reference\
            \ to a specific entity/check/etc, it means that the requested item was\
            \ not found, or you don't have access to it. Please check your query before\
            \ trying again."
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
          description: "A request to POST an update to an object was not allowed due\
            \ to it's state. This may indicate an already completed check, or a document\
            \ that has been processed. You need to create a new document/check if\
            \ you wish to update the object in question."
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
          description: |
            Unprocessable request. This can be triggered in a number of ways.
            * An attempt to force a check or scan to run, but there is insufficient data to be able to do so.
            * An attempt to run a utility comparison, or similar industry/document/entity specific scan or process on an unsupported document type (e.g. electricity comparison on a passport)
            Details of what is required will be in the issues list of the error response.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
          description: "The API client is making too many concurrent requests, and\
            \ some are being throttled. Throttled requests can be retried after a\
            \ short delay."
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
          description: Unexpected error. Something went wrong during the checking
            process.
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
          description: "All of the ID sources configured by the customer are unavailable,\
            \ or there is no available document processor."
      summary: Create Business Entity and Query UBO (AUS Only)
      tags:
      - Business
      x-codegen-request-body-name: query
      x-openapi-router-controller: openapi_server.controllers.business_controller
  /business/reports:
    post:
      description: |
        NOTE: Australian companies ONLY.
        Create or find and update an ORGANISATION type entity, then run the requested reports.
        Reports include:
         - Credit Report
         - Credit Score

        At a minimum, you just need to supply an ACN and/or ABN and an entity type set to ORGANISATION. Alternatively the entity ID of an existing ORGANISATION entity gan be given in the request body

        Note: these reports are different to the Ultimate Beneficial Owner and Business Detail requests - these reports are independent data and analysis over and above company information and verification details.

        You can request multiple reports to be run at once and they will be returned as a group (where feasible).

        If a report can only be generated over time, then a temporary response will be returned and a webhook notification will be pushed later once the report has been completed.
      operationId: run_business_reports
      parameters:
      - description: |
          Customer ID issued by Frankie Financial. This will never change. Your API key, which is mapped to this identity, will change over time.
        in: header
        name: x_frankie_customer_id
        required: true
        schema:
          format: uuid
          type: string
      - description: |
          If, as a Frankie Customer, you are acting on behalf of your own customers, then you can populate this field with a Frankie-assigned ID.

          Note: If using a CustomerChildID, you will also need a separate api_key for each child.

          Any documents, checks, entities that are created when this field has been populated will now be tied to this CustomerID + CustomerChildID combination. Just as Customers cannot see data created by other Customers, so too a Customer's Children will not be able to see each other's data.

          A Customer can see the documents/entities and checks of all their Children.
        in: header
        name: x_frankie_customer_child_id
        schema:
          format: uuid
          type: string
      - description: "Define the report(s) you wish to run.\n\nYou can request more\
          \ than one as a comma separated list. \nDuplicates will be ignored.\n\n\
          Note: These reports are different to the business details and UBO queries\
          \ and are meant to provide deeper detail and background on a business or\
          \ organisation.\n  \nCurrent valid report types are:\n  - creditScore\n\
          \  - creditReport\n"
        in: query
        name: reportTypes
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EntityObject'
        description: |
          The organisation to be queried. An entity object that must have be an ORGANISATION type with at least one organisation number (ABN or ACN).
        required: true
        x-body-name: organisation
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessReportResponseDetails'
          description: The request was valid and was successfully processed. The report
            was run and the results have been attached.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
          description: Bad request. One or more request fields is either missing or
            incorrect. Details are in the error response.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
          description: "The request has failed an authorisation check. This can happen\
            \ for a variety of reasons, such as an invalid or expired API key, or\
            \ invalid Customer/CustomerChildIDs. \n* NOTE: This does not include attempts\
            \ to read/write data you don't have access to - that's a 404 error (as\
            \ we don't want to leak information through guessing)\n"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
          description: "Cannot return response. In the case of a query, or reference\
            \ to a specific entity/check/etc, it means that the requested item was\
            \ not found, or you don't have access to it. Please check your query before\
            \ trying again."
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
          description: "A request to POST an update to an object was not allowed due\
            \ to it's state. This may indicate an already completed check, or a document\
            \ that has been processed. You need to create a new document/check if\
            \ you wish to update the object in question."
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
          description: "The API client is making too many concurrent requests, and\
            \ some are being throttled. Throttled requests can be retried after a\
            \ short delay."
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
          description: Unexpected error. Something went wrong during the checking
            process.
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
          description: "All of the ID sources configured by the customer are unavailable,\
            \ or there is no available document processor."
      summary: Run Report(s) against a new or existing organisation entity (AUS Only).
      tags:
      - Business
      x-codegen-request-body-name: organisation
      x-openapi-router-controller: openapi_server.controllers.business_controller
  /business/{entityId}/verify:
    post:
      description: |
        Run KYC/AML for a selection of entities associated with an organisation and/or the organisation itself based on a previous ownership query.
        By default AML will be checked for just the organisation itself. If a list of entity categories is given then default checks based on configuration will be run for those categories. If a check type is also provided in the request then that type will be used for entities representing individual entities, and the AML subset of that check will be used for organisations if any.
        If no ownership query has been run, then this operation will return an error.
      operationId: check_organisation
      parameters:
      - description: |
          Customer ID issued by Frankie Financial. This will never change. Your API key, which is mapped to this identity, will change over time.
        in: header
        name: x_frankie_customer_id
        required: true
        schema:
          format: uuid
          type: string
      - description: |
          If, as a Frankie Customer, you are acting on behalf of your own customers, then you can populate this field with a Frankie-assigned ID.

          Note: If using a CustomerChildID, you will also need a separate api_key for each child.

          Any documents, checks, entities that are created when this field has been populated will now be tied to this CustomerID + CustomerChildID combination. Just as Customers cannot see data created by other Customers, so too a Customer's Children will not be able to see each other's data.

          A Customer can see the documents/entities and checks of all their Children.
        in: header
        name: x_frankie_customer_child_id
        schema:
          format: uuid
          type: string
      - description: The entityId returned previously from an earlier call to /check
          or /entity
        in: path
        name: entityId
        required: true
        schema:
          format: uuid
          type: string
      - description: "When creating a new check, we need to define the checks we wish\
          \ to run. If this parameter is not supplied then the check will be based\
          \ on a configured check type for each entity category.\n  \nThe checkType\
          \ is make up of a comma separated list of the types of check we wish to\
          \ run.\n\nThe order is important, and must be of the form:\n  - Entity Check\
          \ (if you're running this). Choose one from the available options\n  - ID\
          \ Check (If you want this)\n  - PEP Checks (again if you want this, choose\
          \ one of the options)\n\nEntity Checks - One of:\n  - \"one_plus\": Checks\
          \ name, address and DoB against a minimum of 1 data source. (also known\
          \ as a 1+1)\n  - \"two_plus\": Checks name, address and DoB against a minimum\
          \ of 2 independent data sources (also known as a 2+2)\n\nID Checks - One\
          \ of:\n  - \"id\": Checks all of the identity documents, but not necessarily\
          \ the entity itself independently. Use this in conjunction with a one_plus\
          \ or two_plus for more.\n  \nFraud Checks - One or more  of:\n  - \"fraudlist\"\
          : Checks to see if the identity appears on any known fraud lists. Should\
          \ be run after KYC/ID checks have passed.\n  - \"fraudid\": Checks external\
          \ ID services to see if details appear in fraud detection services (e.g.\
          \ EmailAge or FraudNet)\n  \nPEP Checks - One of:\n  - \"pep\": Will only\
          \ run PEP/Sanctions checks (no identity verification)\n  - \"pep_media\"\
          : Will run PEP/Sanctions checks, as well as watchlist and adverse media\
          \ checks. (no identity verification)\n  \n  * NOTE: These checks will ONLY\
          \ run if either the KYC/ID checks have been run prior, or it is the only\
          \ check requested.\n  \nPre-defined combinations:\n  - \"full\": equivalent\
          \ to \"two_plus,id,pep_media\" or \"pep_media\" if the target is an organisation.\n\
          \  - \"default\": Currently defined as \"two_plus,id\" or \"pep\" if the\
          \ target is an organisation.\n\nCustom:\n  - By arrangement with Frankie\
          \ you can define your own KYC check type.\n  \n  This will allow you to\
          \ set the minimum number of matches for:\n    - name \n    - date of birth\n\
          \    - address\n    - government id\n  \n  This allows for alternatives\
          \ to the \"standard\" two_plus or one_plus (note, these can be overridden\
          \ too).\n  \nProfile:\n  - \"profile\": By arrangement with Frankie you\
          \ can have a \"profile\" check type that applies checks according to a profile\
          \ that you assign to the entity from a predefined set of profiles.\n  \n\
          \  The profile to use will be taken from the entity.entityProfile field\
          \ if set, or be run through a set of configurable rules to determine which\
          \ one to use.\n  \n  Profiles act a little like the Pre-defined combinations\
          \ above in that they can map to a defined list. But they offer a lot more\
          \ besides, including rules for determining default settings, inbuild data\
          \ aging and other configurable features.\n  They also allow for a new result\
          \ set top be returned that provides a more detailed and useful breakdown\
          \ of the check/verification process.\n  \n  Entity Profiles are the future\
          \ of checks with Frankie Financial.\n"
        explode: false
        in: query
        name: check_type
        schema:
          items:
            enum:
            - full
            - default
            - one_plus
            - two_plus
            - id
            - fraudlist
            - fraudcheck
            - pep
            - pep_media
            - profile
            type: string
          type: array
          uniqueItems: true
        style: form
      - description: |
          A comma separated list that specifies the categories of entities associated with the target organisation that will be checked.

            - organisation - Just the organisation itself.
            - ubos - All ultimate beneficial owners.
            - pseudo_ubos - Use an alterntive category when an organisation has no actual UBOs. The actual category to use is defined via configuration, default is no alterntive category.
            - direct_owners - All direct owners of the company, both organisations and individuals, may include UBOs for for simple ownership.
            - officers - All officers of the company
            - officers_directors - All directors of the company
            - officers_other - All non-director officers of the company
            - all - All direct and indirect owners, both organisations and individuals (including UBOs), and officers of all organisations.
        explode: false
        in: query
        name: entity_categories
        schema:
          items:
            enum:
            - organisation
            - ubos
            - pseudo_ubos
            - direct_owners
            - officers
            - officers_directors
            - officers_other
            - all
            type: string
          type: array
          uniqueItems: true
        style: form
      - description: |
          The result level allows you to specify the level of detail returned for the entity check. You can choose summary or full.
        in: query
        name: result_level
        schema:
          default: summary
          enum:
          - summary
          - full
          type: string
      - description: |
          The type of human readable report, if any, to generate based on the ownership query results.
        in: query
        name: generate_report
        schema:
          type: string
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcceptedEntityResultObject'
          description: "The request was valid and can potentially be fulfilled. The\
            \ Frankie service has now accepted responsibility for processing and we\
            \ will either push the results to you, or send you a notification, depending\
            \ on the request and your configuration."
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
          description: Bad request. One or more request fields is either missing or
            incorrect. Details are in the error response.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
          description: "The request has failed an authorisation check. This can happen\
            \ for a variety of reasons, such as an invalid or expired API key, or\
            \ invalid Customer/CustomerChildIDs. \n* NOTE: This does not include attempts\
            \ to read/write data you don't have access to - that's a 404 error (as\
            \ we don't want to leak information through guessing)\n"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
          description: "Cannot return response. In the case of a query, or reference\
            \ to a specific entity/check/etc, it means that the requested item was\
            \ not found, or you don't have access to it. Please check your query before\
            \ trying again."
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
          description: "A request to POST an update to an object was not allowed due\
            \ to it's state. This may indicate an already completed check, or a document\
            \ that has been processed. You need to create a new document/check if\
            \ you wish to update the object in question."
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
          description: "The API client is making too many concurrent requests, and\
            \ some are being throttled. Throttled requests can be retried after a\
            \ short delay."
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
          description: Unexpected error. Something went wrong during the checking
            process.
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
          description: "All of the ID sources configured by the customer are unavailable,\
            \ or there is no available document processor."
      summary: Run KYC/AML Checks on Organisation and/or Associated Individuals.
      tags:
      - Business
      x-openapi-router-controller: openapi_server.controllers.business_controller
  /document:
    post:
      description: |
        Create a document object. A document object can be used to simply store data around a given identity or similar document. You can attach scans, PDFs, photos, videos, etc to the objectif you wish and these may be processed later (using the /scan function) to extract useful information. Or you can manually supply the extracted information if you choose.
        Document objects can be used to create an entity, based on extracted or supplied data; or it may be attached to an existing entity, either directly or through an ID check.
      operationId: create_document
      parameters:
      - description: |
          Customer ID issued by Frankie Financial. This will never change. Your API key, which is mapped to this identity, will change over time.
        in: header
        name: x_frankie_customer_id
        required: true
        schema:
          format: uuid
          type: string
      - description: |
          If, as a Frankie Customer, you are acting on behalf of your own customers, then you can populate this field with a Frankie-assigned ID.

          Note: If using a CustomerChildID, you will also need a separate api_key for each child.

          Any documents, checks, entities that are created when this field has been populated will now be tied to this CustomerID + CustomerChildID combination. Just as Customers cannot see data created by other Customers, so too a Customer's Children will not be able to see each other's data.

          A Customer can see the documents/entities and checks of all their Children.
        in: header
        name: x_frankie_customer_child_id
        schema:
          format: uuid
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IdentityDocumentObject'
        required: false
        x-body-name: document
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentResultObject'
          description: "The request was valid and able to be processed in some fashion.\
            \ Results may or may not be successful, but it was completed as far as\
            \ practical with no actual errors. Returns the document object as it stands\
            \ now. No docScan file data will be returned unless the /full variant\
            \ is requested."
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
          description: Bad request. One or more request fields is either missing or
            incorrect. Details are in the error response.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
          description: "The request has failed an authorisation check. This can happen\
            \ for a variety of reasons, such as an invalid or expired API key, or\
            \ invalid Customer/CustomerChildIDs. \n* NOTE: This does not include attempts\
            \ to read/write data you don't have access to - that's a 404 error (as\
            \ we don't want to leak information through guessing)\n"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
          description: "Cannot return response. In the case of a query, or reference\
            \ to a specific entity/check/etc, it means that the requested item was\
            \ not found, or you don't have access to it. Please check your query before\
            \ trying again."
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
          description: "For requests with payloads, an unsupported Content-Type was\
            \ specified. The Frankie Financial API only supports a content type of\
            \ application/json."
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
          description: "The API client is making too many concurrent requests, and\
            \ some are being throttled. Throttled requests can be retried after a\
            \ short delay."
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
          description: Unexpected error. Something went wrong during the checking
            process.
      summary: Create New Document.
      tags:
      - Document
      x-codegen-request-body-name: document
      x-openapi-router-controller: openapi_server.controllers.document_controller
  /document/new/compare:
    post:
      description: "Creates a new document from the \"toDocument\" parameter (usual\
        \ rules apply in that it must be a valid document, with no existing documentId).\n\
        The compareDocument can be an existing documentId, or it too can be new as\
        \ well.\n  * If existing (i.e. a valid DocumentId is supplied), it will be\
        \ updated with any new data supplied before being sent to the comparison process.\n\
        \  * If new, then a new document will be created too, and the ID returned\
        \ in the result.\n  \nThe document scans are then sent for processing and\
        \ comparison, such as comparing a selfie-video against a drivers licence photo.\n\
        \n* NOTE: This is NOT the verification process (see /document/verify)\n\n\
        * NOTE: This is NOT the OCR data extraction process either (see /document/scan)\n"
      operationId: compare_document
      parameters:
      - description: |
          Customer ID issued by Frankie Financial. This will never change. Your API key, which is mapped to this identity, will change over time.
        in: header
        name: x_frankie_customer_id
        required: true
        schema:
          format: uuid
          type: string
      - description: |
          If, as a Frankie Customer, you are acting on behalf of your own customers, then you can populate this field with a Frankie-assigned ID.

          Note: If using a CustomerChildID, you will also need a separate api_key for each child.

          Any documents, checks, entities that are created when this field has been populated will now be tied to this CustomerID + CustomerChildID combination. Just as Customers cannot see data created by other Customers, so too a Customer's Children will not be able to see each other's data.

          A Customer can see the documents/entities and checks of all their Children.
        in: header
        name: x_frankie_customer_child_id
        schema:
          format: uuid
          type: string
      - description: |
          If this header parameter is supplied and set to 1, then the request will not wait for the process to finish, and will return a 202 if there are no obvious errors in the input. The request will then run in the background and send a notification back to the customer. See out callback API for details on this.

          See more details here:
            https://apidocs.frankiefinancial.com/docs/asynchronous-calls-backgrounding-processes
        in: header
        name: X-Frankie-Background
        schema:
          maximum: 1
          minimum: 0
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ComparisonSet'
        description: |
          Contains the document (compareDocument) we want to compare (toDocument)
        required: true
        x-body-name: ComparisonSet
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentCompareResultObject'
          description: |
            The request was valid and able to be processed in some fashion. Results may or may not be successful, but it was completed as far as practical with no actual errors. Returns the results of the document comparison process.
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcceptedDocumentResultObject'
          description: "The request was valid and can potentially be fulfilled. The\
            \ Frankie service has now accepted responsibility for processing and we\
            \ will either push the results to you, or send you a notification, depending\
            \ on the request and your configuration."
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
          description: Bad request. One or more request fields is either missing or
            incorrect. Details are in the error response.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
          description: "The request has failed an authorisation check. This can happen\
            \ for a variety of reasons, such as an invalid or expired API key, or\
            \ invalid Customer/CustomerChildIDs. \n* NOTE: This does not include attempts\
            \ to read/write data you don't have access to - that's a 404 error (as\
            \ we don't want to leak information through guessing)\n"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
          description: "Cannot return response. In the case of a query, or reference\
            \ to a specific entity/check/etc, it means that the requested item was\
            \ not found, or you don't have access to it. Please check your query before\
            \ trying again."
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
          description: "A request to POST an update to an object was not allowed due\
            \ to it's state. This may indicate an already completed check, or a document\
            \ that has been processed. You need to create a new document/check if\
            \ you wish to update the object in question."
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
          description: "For requests with payloads, an unsupported Content-Type was\
            \ specified. The Frankie Financial API only supports a content type of\
            \ application/json."
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
          description: |
            Unprocessable request. This can be triggered in a number of ways.
            * An attempt to force a check or scan to run, but there is insufficient data to be able to do so.
            * An attempt to run a utility comparison, or similar industry/document/entity specific scan or process on an unsupported document type (e.g. electricity comparison on a passport)
            Details of what is required will be in the issues list of the error response.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
          description: "The API client is making too many concurrent requests, and\
            \ some are being throttled. Throttled requests can be retried after a\
            \ short delay."
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
          description: Unexpected error. Something went wrong during the checking
            process.
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
          description: "All of the ID sources configured by the customer are unavailable,\
            \ or there is no available document processor."
      summary: Create Document and Compare to Original.
      tags:
      - Document
      x-codegen-request-body-name: ComparisonSet
      x-openapi-router-controller: openapi_server.controllers.document_controller
  /document/new/scan:
    post:
      description: |
        Create a document object. This is then processed to extract useful information and create an entity; or it may be attached to an entity, either directly or through an ID check.
        The service will attempt to extract relevant data from any/all uploaded images/documents and will place those in the extraData KVP block.
      operationId: create_scan_document
      parameters:
      - description: |
          Customer ID issued by Frankie Financial. This will never change. Your API key, which is mapped to this identity, will change over time.
        in: header
        name: x_frankie_customer_id
        required: true
        schema:
          format: uuid
          type: string
      - description: |
          If, as a Frankie Customer, you are acting on behalf of your own customers, then you can populate this field with a Frankie-assigned ID.

          Note: If using a CustomerChildID, you will also need a separate api_key for each child.

          Any documents, checks, entities that are created when this field has been populated will now be tied to this CustomerID + CustomerChildID combination. Just as Customers cannot see data created by other Customers, so too a Customer's Children will not be able to see each other's data.

          A Customer can see the documents/entities and checks of all their Children.
        in: header
        name: x_frankie_customer_child_id
        schema:
          format: uuid
          type: string
      - description: |
          If this header parameter is supplied and set to 1, then the request will not wait for the process to finish, and will return a 202 if there are no obvious errors in the input. The request will then run in the background and send a notification back to the customer. See out callback API for details on this.

          See more details here:
            https://apidocs.frankiefinancial.com/docs/asynchronous-calls-backgrounding-processes
        in: header
        name: x_frankie_background
        schema:
          maximum: 1
          minimum: 0
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IdentityDocumentObject'
        required: false
        x-body-name: document
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentScanResultObject'
          description: |
            The request was valid and able to be processed in some fashion. Results may or may not be successful, but it was completed as far as practical with no actual errors. Returns the results of the document scanning process.
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcceptedDocumentResultObject'
          description: "The request was valid and can potentially be fulfilled. The\
            \ Frankie service has now accepted responsibility for processing and we\
            \ will either push the results to you, or send you a notification, depending\
            \ on the request and your configuration."
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
          description: Bad request. One or more request fields is either missing or
            incorrect. Details are in the error response.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
          description: "The request has failed an authorisation check. This can happen\
            \ for a variety of reasons, such as an invalid or expired API key, or\
            \ invalid Customer/CustomerChildIDs. \n* NOTE: This does not include attempts\
            \ to read/write data you don't have access to - that's a 404 error (as\
            \ we don't want to leak information through guessing)\n"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
          description: "Cannot return response. In the case of a query, or reference\
            \ to a specific entity/check/etc, it means that the requested item was\
            \ not found, or you don't have access to it. Please check your query before\
            \ trying again."
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
          description: "For requests with payloads, an unsupported Content-Type was\
            \ specified. The Frankie Financial API only supports a content type of\
            \ application/json."
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
          description: |
            Unprocessable request. This can be triggered in a number of ways.
            * An attempt to force a check or scan to run, but there is insufficient data to be able to do so.
            * An attempt to run a utility comparison, or similar industry/document/entity specific scan or process on an unsupported document type (e.g. electricity comparison on a passport)
            Details of what is required will be in the issues list of the error response.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
          description: "The API client is making too many concurrent requests, and\
            \ some are being throttled. Throttled requests can be retried after a\
            \ short delay."
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
          description: Unexpected error. Something went wrong during the checking
            process.
      summary: Create and OCR Scan Document.
      tags:
      - Document
      x-codegen-request-body-name: document
      x-openapi-router-controller: openapi_server.controllers.document_controller
  /document/new/utility/process/compare:
    post:
      description: "Create a document object. This is then processed to extract useful\
        \ information, just like a normal OCR scan. The service will then push the\
        \ document through an industry specific comparison process, where the details\
        \ are used to find a better plan, based on the bill.\n\n100's of datapoints\
        \ are accurately extracted from the uploaded document. This data is then used\
        \ to compare the bill against the whole market. A personalised comparison\
        \ is returned that is a best fit for the customer's energy profile.\n\n* NOTE:\
        \ It is expected that the type of document being uploaded will be a PDF and\
        \ the idType is UTILITY_BILL. (These values will be set automatically if not\
        \ supplied). \n  You can optionally include the utility name (e.g. Origin\
        \ Energy) in the idSubType if you wish.\n"
      operationId: create_process_industry_utility_document
      parameters:
      - description: |
          Customer ID issued by Frankie Financial. This will never change. Your API key, which is mapped to this identity, will change over time.
        in: header
        name: x_frankie_customer_id
        required: true
        schema:
          format: uuid
          type: string
      - description: |
          If, as a Frankie Customer, you are acting on behalf of your own customers, then you can populate this field with a Frankie-assigned ID.

          Note: If using a CustomerChildID, you will also need a separate api_key for each child.

          Any documents, checks, entities that are created when this field has been populated will now be tied to this CustomerID + CustomerChildID combination. Just as Customers cannot see data created by other Customers, so too a Customer's Children will not be able to see each other's data.

          A Customer can see the documents/entities and checks of all their Children.
        in: header
        name: x_frankie_customer_child_id
        schema:
          format: uuid
          type: string
      - description: |
          If this header parameter is supplied and set to 1, then the request will not wait for the process to finish, and will return a 202 if there are no obvious errors in the input. The request will then run in the background and send a notification back to the customer. See out callback API for details on this.

          See more details here:
            https://apidocs.frankiefinancial.com/docs/asynchronous-calls-backgrounding-processes
        in: header
        name: x_frankie_background
        schema:
          maximum: 1
          minimum: 0
          type: integer
      - description: The maximum number of plans to return
        in: query
        name: planLimit
        schema:
          default: 30
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IdentityDocumentObject'
        required: false
        x-body-name: document
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentIndustryUtilityProcessResultObject'
          description: "The request was valid and able to be processed in some fashion.\
            \ Results may or may not be successful, but it was completed as far as\
            \ practical with no actual errors. \nReturns the results of the utility\
            \ comparison directly from the service provider.\n"
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcceptedDocumentResultObject'
          description: "The request was valid and can potentially be fulfilled. The\
            \ Frankie service has now accepted responsibility for processing and we\
            \ will either push the results to you, or send you a notification, depending\
            \ on the request and your configuration."
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
          description: Bad request. One or more request fields is either missing or
            incorrect. Details are in the error response.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
          description: "The request has failed an authorisation check. This can happen\
            \ for a variety of reasons, such as an invalid or expired API key, or\
            \ invalid Customer/CustomerChildIDs. \n* NOTE: This does not include attempts\
            \ to read/write data you don't have access to - that's a 404 error (as\
            \ we don't want to leak information through guessing)\n"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
          description: "Cannot return response. In the case of a query, or reference\
            \ to a specific entity/check/etc, it means that the requested item was\
            \ not found, or you don't have access to it. Please check your query before\
            \ trying again."
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
          description: "For requests with payloads, an unsupported Content-Type was\
            \ specified. The Frankie Financial API only supports a content type of\
            \ application/json."
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
          description: |
            Unprocessable request. This can be triggered in a number of ways.
            * An attempt to force a check or scan to run, but there is insufficient data to be able to do so.
            * An attempt to run a utility comparison, or similar industry/document/entity specific scan or process on an unsupported document type (e.g. electricity comparison on a passport)
            Details of what is required will be in the issues list of the error response.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
          description: "The API client is making too many concurrent requests, and\
            \ some are being throttled. Throttled requests can be retried after a\
            \ short delay."
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
          description: Unexpected error. Something went wrong during the checking
            process.
      summary: Create Document and Run Utility Price Comparison.
      tags:
      - Industry
      x-codegen-request-body-name: document
      x-openapi-router-controller: openapi_server.controllers.industry_controller
  /document/new/verify:
    post:
      description: |
        Send the document to an external service to have the detailed verified.

        For example, we could send through the details of a drivers licence to be checked against a national database.

        * NOTE: This is NOT the OCR data extraction process (see /document/scan)
        * NOTE: This is NOT the comparison process (see /document/compare)
      operationId: verify_document
      parameters:
      - description: |
          Customer ID issued by Frankie Financial. This will never change. Your API key, which is mapped to this identity, will change over time.
        in: header
        name: x_frankie_customer_id
        required: true
        schema:
          format: uuid
          type: string
      - description: |
          If, as a Frankie Customer, you are acting on behalf of your own customers, then you can populate this field with a Frankie-assigned ID.

          Note: If using a CustomerChildID, you will also need a separate api_key for each child.

          Any documents, checks, entities that are created when this field has been populated will now be tied to this CustomerID + CustomerChildID combination. Just as Customers cannot see data created by other Customers, so too a Customer's Children will not be able to see each other's data.

          A Customer can see the documents/entities and checks of all their Children.
        in: header
        name: x_frankie_customer_child_id
        schema:
          format: uuid
          type: string
      - description: |
          If this header parameter is supplied and set to 1, then the request will not wait for the process to finish, and will return a 202 if there are no obvious errors in the input. The request will then run in the background and send a notification back to the customer. See out callback API for details on this.

          See more details here:
            https://apidocs.frankiefinancial.com/docs/asynchronous-calls-backgrounding-processes
        in: header
        name: x_frankie_background
        schema:
          maximum: 1
          minimum: 0
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DocumentVerify'
        description: |
          The document and (possibly) its associated scans to be verified.

          There is also an entity object (normally stripped back to it's bare minimum) that can be used to provide supporting data, such as name, address, etc. The entity object may be empty/
        required: true
        x-body-name: processDocument
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentVerifyResultObject'
          description: |
            The request was valid and able to be processed in some fashion. Results may or may not be successful, but it was completed as far as practical with no actual errors. Returns the results of the document verification process.
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcceptedDocumentResultObject'
          description: "The request was valid and can potentially be fulfilled. The\
            \ Frankie service has now accepted responsibility for processing and we\
            \ will either push the results to you, or send you a notification, depending\
            \ on the request and your configuration."
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
          description: Bad request. One or more request fields is either missing or
            incorrect. Details are in the error response.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
          description: "The request has failed an authorisation check. This can happen\
            \ for a variety of reasons, such as an invalid or expired API key, or\
            \ invalid Customer/CustomerChildIDs. \n* NOTE: This does not include attempts\
            \ to read/write data you don't have access to - that's a 404 error (as\
            \ we don't want to leak information through guessing)\n"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
          description: "Cannot return response. In the case of a query, or reference\
            \ to a specific entity/check/etc, it means that the requested item was\
            \ not found, or you don't have access to it. Please check your query before\
            \ trying again."
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
          description: "A request to POST an update to an object was not allowed due\
            \ to it's state. This may indicate an already completed check, or a document\
            \ that has been processed. You need to create a new document/check if\
            \ you wish to update the object in question."
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
          description: "For requests with payloads, an unsupported Content-Type was\
            \ specified. The Frankie Financial API only supports a content type of\
            \ application/json."
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
          description: |
            Unprocessable request. This can be triggered in a number of ways.
            * An attempt to force a check or scan to run, but there is insufficient data to be able to do so.
            * An attempt to run a utility comparison, or similar industry/document/entity specific scan or process on an unsupported document type (e.g. electricity comparison on a passport)
            Details of what is required will be in the issues list of the error response.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
          description: "The API client is making too many concurrent requests, and\
            \ some are being throttled. Throttled requests can be retried after a\
            \ short delay."
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
          description: Unexpected error. Something went wrong during the checking
            process.
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
          description: "All of the ID sources configured by the customer are unavailable,\
            \ or there is no available document processor."
      summary: Create and Verify Document.
      tags:
      - Document
      x-codegen-request-body-name: processDocument
      x-openapi-router-controller: openapi_server.controllers.document_controller
  /document/search:
    post:
      description: |2

        Search for an existing document that matches the criteria supplied

        There are of course limits to what can be searched upon. For a document search to work, you must supply at a minimum:

          * idType
          * country
          * idNumber

        The service will return a list of matching documents with confidence levels.

        If you are the "owner" of the document - i.e. the same CustomerID and CustomerChildID (if relevant) - then the full details of the document will be returned, except for the contents of any attached scans.
        If you are not the owner of the document, then just the ID and confidence level is returned. You can still use this ID to retrieve any check results (see GET /document/{documentId}/checks)

        Note: At this time, we cannot perform searches on document scans. But, you can supply extraData KVPs if they're known. These will help doublecheck search results with ambiguous results.
      operationId: search_document
      parameters:
      - description: |
          Customer ID issued by Frankie Financial. This will never change. Your API key, which is mapped to this identity, will change over time.
        in: header
        name: x_frankie_customer_id
        required: true
        schema:
          format: uuid
          type: string
      - description: |
          If, as a Frankie Customer, you are acting on behalf of your own customers, then you can populate this field with a Frankie-assigned ID.

          Note: If using a CustomerChildID, you will also need a separate api_key for each child.

          Any documents, checks, entities that are created when this field has been populated will now be tied to this CustomerID + CustomerChildID combination. Just as Customers cannot see data created by other Customers, so too a Customer's Children will not be able to see each other's data.

          A Customer can see the documents/entities and checks of all their Children.
        in: header
        name: x_frankie_customer_child_id
        schema:
          format: uuid
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IdentityDocumentObject'
        description: |
          A document object with the parameters you wish to search on.
        required: true
        x-body-name: searchDocument
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentSearchResultObject'
          description: |
            The request was valid and able to be processed in some fashion. Returns a list of potentially matching documents or document references, along with a confidence level in the match.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
          description: Bad request. One or more request fields is either missing or
            incorrect. Details are in the error response.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
          description: "The request has failed an authorisation check. This can happen\
            \ for a variety of reasons, such as an invalid or expired API key, or\
            \ invalid Customer/CustomerChildIDs. \n* NOTE: This does not include attempts\
            \ to read/write data you don't have access to - that's a 404 error (as\
            \ we don't want to leak information through guessing)\n"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
          description: "Cannot return response. In the case of a query, or reference\
            \ to a specific entity/check/etc, it means that the requested item was\
            \ not found, or you don't have access to it. Please check your query before\
            \ trying again."
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
          description: "A request to POST an update to an object was not allowed due\
            \ to it's state. This may indicate an already completed check, or a document\
            \ that has been processed. You need to create a new document/check if\
            \ you wish to update the object in question."
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
          description: "For requests with payloads, an unsupported Content-Type was\
            \ specified. The Frankie Financial API only supports a content type of\
            \ application/json."
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
          description: |
            Unprocessable request. This can be triggered in a number of ways.
            * An attempt to force a check or scan to run, but there is insufficient data to be able to do so.
            * An attempt to run a utility comparison, or similar industry/document/entity specific scan or process on an unsupported document type (e.g. electricity comparison on a passport)
            Details of what is required will be in the issues list of the error response.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
          description: "The API client is making too many concurrent requests, and\
            \ some are being throttled. Throttled requests can be retried after a\
            \ short delay."
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
          description: Unexpected error. Something went wrong during the checking
            process.
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
          description: "All of the ID sources configured by the customer are unavailable,\
            \ or there is no available document processor."
      summary: Search For a Document !! EXPERIMENTAL !!
      tags:
      - Document
      x-codegen-request-body-name: searchDocument
      x-openapi-router-controller: openapi_server.controllers.document_controller
  /document/{documentId}:
    delete:
      description: |
        Mark this document as deleted. It will then become effectively invisible to all queries, but will be available in anonymised form for a past check.
      operationId: delete_document
      parameters:
      - description: |
          Customer ID issued by Frankie Financial. This will never change. Your API key, which is mapped to this identity, will change over time.
        in: header
        name: x_frankie_customer_id
        required: true
        schema:
          format: uuid
          type: string
      - description: |
          If, as a Frankie Customer, you are acting on behalf of your own customers, then you can populate this field with a Frankie-assigned ID.

          Note: If using a CustomerChildID, you will also need a separate api_key for each child.

          Any documents, checks, entities that are created when this field has been populated will now be tied to this CustomerID + CustomerChildID combination. Just as Customers cannot see data created by other Customers, so too a Customer's Children will not be able to see each other's data.

          A Customer can see the documents/entities and checks of all their Children.
        in: header
        name: x_frankie_customer_child_id
        schema:
          format: uuid
          type: string
      - description: |
          If this header parameter is supplied and set to 1, then the request will not wait for the process to finish, and will return a 202 if there are no obvious errors in the input. The request will then run in the background and send a notification back to the customer. See out callback API for details on this.

          See more details here:
            https://apidocs.frankiefinancial.com/docs/asynchronous-calls-backgrounding-processes
        in: header
        name: x_frankie_background
        schema:
          maximum: 1
          minimum: 0
          type: integer
      - description: The documentId returned previously from an earlier call to /check
          or /entity or /document
        in: path
        name: document_id
        required: true
        schema:
          format: uuid
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicStatusResultObject'
          description: |
            The request was valid and able to be processed in some fashion. Returns a simple status to indicate that the deletion has taken place.
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcceptedDocumentResultObject'
          description: "The request was valid and can potentially be fulfilled. The\
            \ Frankie service has now accepted responsibility for processing and we\
            \ will either push the results to you, or send you a notification, depending\
            \ on the request and your configuration."
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
          description: Bad request. One or more request fields is either missing or
            incorrect. Details are in the error response.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
          description: "The request has failed an authorisation check. This can happen\
            \ for a variety of reasons, such as an invalid or expired API key, or\
            \ invalid Customer/CustomerChildIDs. \n* NOTE: This does not include attempts\
            \ to read/write data you don't have access to - that's a 404 error (as\
            \ we don't want to leak information through guessing)\n"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
          description: "Cannot return response. In the case of a query, or reference\
            \ to a specific entity/check/etc, it means that the requested item was\
            \ not found, or you don't have access to it. Please check your query before\
            \ trying again."
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
          description: "The API client is making too many concurrent requests, and\
            \ some are being throttled. Throttled requests can be retried after a\
            \ short delay."
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
          description: Unexpected error. Something went wrong during the checking
            process.
      summary: Delete Document.
      tags:
      - Document
      x-openapi-router-controller: openapi_server.controllers.document_controller
    get:
      description: |
        Query the current status and details of a given documentId.
      operationId: query_document
      parameters:
      - description: |
          Customer ID issued by Frankie Financial. This will never change. Your API key, which is mapped to this identity, will change over time.
        in: header
        name: x_frankie_customer_id
        required: true
        schema:
          format: uuid
          type: string
      - description: |
          If, as a Frankie Customer, you are acting on behalf of your own customers, then you can populate this field with a Frankie-assigned ID.

          Note: If using a CustomerChildID, you will also need a separate api_key for each child.

          Any documents, checks, entities that are created when this field has been populated will now be tied to this CustomerID + CustomerChildID combination. Just as Customers cannot see data created by other Customers, so too a Customer's Children will not be able to see each other's data.

          A Customer can see the documents/entities and checks of all their Children.
        in: header
        name: x_frankie_customer_child_id
        schema:
          format: uuid
          type: string
      - description: The documentId returned previously from an earlier call to /check
          or /entity or /document
        in: path
        name: documentId
        required: true
        schema:
          format: uuid
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentResultObject'
          description: "The request was valid and able to be processed in some fashion.\
            \ Results may or may not be successful, but it was completed as far as\
            \ practical with no actual errors. Returns the document object as it stands\
            \ now. No docScan file data will be returned unless the /full variant\
            \ is requested."
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
          description: Bad request. One or more request fields is either missing or
            incorrect. Details are in the error response.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
          description: "The request has failed an authorisation check. This can happen\
            \ for a variety of reasons, such as an invalid or expired API key, or\
            \ invalid Customer/CustomerChildIDs. \n* NOTE: This does not include attempts\
            \ to read/write data you don't have access to - that's a 404 error (as\
            \ we don't want to leak information through guessing)\n"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
          description: "Cannot return response. In the case of a query, or reference\
            \ to a specific entity/check/etc, it means that the requested item was\
            \ not found, or you don't have access to it. Please check your query before\
            \ trying again."
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
          description: "The API client is making too many concurrent requests, and\
            \ some are being throttled. Throttled requests can be retried after a\
            \ short delay."
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
          description: Unexpected error. Something went wrong during the checking
            process.
      summary: Retrieve Document Details
      tags:
      - Document
      x-openapi-router-controller: openapi_server.controllers.document_controller
    post:
      description: |
        Using a previously uploaded but incomplete document, you can optionally supply updated details (such as corrections on a previous scan), along with one or more additional ID scans (e.g. additional pages).
      operationId: update_document
      parameters:
      - description: |
          Customer ID issued by Frankie Financial. This will never change. Your API key, which is mapped to this identity, will change over time.
        in: header
        name: x_frankie_customer_id
        required: true
        schema:
          format: uuid
          type: string
      - description: |
          If, as a Frankie Customer, you are acting on behalf of your own customers, then you can populate this field with a Frankie-assigned ID.

          Note: If using a CustomerChildID, you will also need a separate api_key for each child.

          Any documents, checks, entities that are created when this field has been populated will now be tied to this CustomerID + CustomerChildID combination. Just as Customers cannot see data created by other Customers, so too a Customer's Children will not be able to see each other's data.

          A Customer can see the documents/entities and checks of all their Children.
        in: header
        name: x_frankie_customer_child_id
        schema:
          format: uuid
          type: string
      - description: |
          If this header parameter is supplied and set to 1, then the request will not wait for the process to finish, and will return a 202 if there are no obvious errors in the input. The request will then run in the background and send a notification back to the customer. See out callback API for details on this.

          See more details here:
            https://apidocs.frankiefinancial.com/docs/asynchronous-calls-backgrounding-processes
        in: header
        name: x_frankie_background
        schema:
          maximum: 1
          minimum: 0
          type: integer
      - description: The documentId returned previously from an earlier call to /check
          or /entity or /document
        in: path
        name: document_id
        required: true
        schema:
          format: uuid
          type: string
      - description: |
          Disable check result invalidation for this update request.
        in: query
        name: noInvalidate
        schema:
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IdentityDocumentObject'
        description: The document to be updated
        required: true
        x-body-name: document
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentResultObject'
          description: "The request was valid and able to be processed in some fashion.\
            \ Results may or may not be successful, but it was completed as far as\
            \ practical with no actual errors. Returns the document object as it stands\
            \ now. No docScan file data will be returned unless the /full variant\
            \ is requested."
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcceptedDocumentResultObject'
          description: "The request was valid and can potentially be fulfilled. The\
            \ Frankie service has now accepted responsibility for processing and we\
            \ will either push the results to you, or send you a notification, depending\
            \ on the request and your configuration."
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
          description: Bad request. One or more request fields is either missing or
            incorrect. Details are in the error response.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
          description: "The request has failed an authorisation check. This can happen\
            \ for a variety of reasons, such as an invalid or expired API key, or\
            \ invalid Customer/CustomerChildIDs. \n* NOTE: This does not include attempts\
            \ to read/write data you don't have access to - that's a 404 error (as\
            \ we don't want to leak information through guessing)\n"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
          description: "Cannot return response. In the case of a query, or reference\
            \ to a specific entity/check/etc, it means that the requested item was\
[...]
