openapi: 3.0.1
info:
  contact:
    email: api-support@lyft.com
    name: Lyft
    url: http://developer.lyft.com
  description: Drive your app to success with Lyft's API
  title: Lyft
  version: 1.0.0
  x-apisguru-categories:
  - location
  x-logo:
    url: https://twitter.com/lyft/profile_image?size=original
  x-origin:
  - format: swagger
    url: https://api.lyft.com/v1/spec
    version: "2.0"
  x-providerName: lyft.com
servers:
- url: https://api.lyft.com/v1
security:
- Client Authentication:
  - public
- User Authentication:
  - public
tags:
- description: Endpoints that do not require a user
  name: Public
- description: Endpoints that require a user context
  name: User
- description: Endpoints that manipulate the Lyft sandbox
  name: Sandbox
- description: Endpoints that require special permission from Lyft to use
  name: Restricted
paths:
  /cost:
    get:
      description: |
        Estimate the cost of taking a Lyft between two points.
      operationId: get_cost
      parameters:
      - description: ID of a ride type
        in: query
        name: ride_type
        schema:
          enum:
          - lyft
          - lyft_line
          - lyft_plus
          - lyft_premier
          - lyft_lux
          - lyft_luxsuv
          type: string
      - description: Latitude of the starting location
        in: query
        name: start_lat
        required: true
        schema:
          format: double
          type: number
      - description: Longitude of the starting location
        in: query
        name: start_lng
        required: true
        schema:
          format: double
          type: number
      - description: Latitude of the ending location
        in: query
        name: end_lat
        schema:
          format: double
          type: number
      - description: Longitude of the ending location
        in: query
        name: end_lng
        schema:
          format: double
          type: number
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CostEstimateResponse'
          description: An object with an array of cost estimates by ride type
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: |
            The 'error' field will be one of the following:
             * `bad_parameter`: A validation error occurred
             * `no_service_in_area`: start location is not within a Lyft service area
             * `ridetype_unavailable_in_region`: ridetype not supported at this start location
      summary: Cost estimates
      tags:
      - Public
      x-openapi-router-controller: openapi_server.controllers.public_controller
  /drivers:
    get:
      description: |
        The drivers endpoint returns a list of nearby drivers' lat and lng at a given location.
      operationId: get_drivers
      parameters:
      - description: Latitude of a location
        in: query
        name: lat
        required: true
        schema:
          format: double
          type: number
      - description: Longitude of a location
        in: query
        name: lng
        required: true
        schema:
          format: double
          type: number
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NearbyDriversResponse'
          description: An object with an array of available drivers sorted by eta
            for the given location
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: A validation error occurred
      summary: Available drivers nearby
      tags:
      - Public
      x-openapi-router-controller: openapi_server.controllers.public_controller
  /eta:
    get:
      description: |
        The ETA endpoint lets you know how quickly a Lyft driver can come get you
      operationId: get_eta
      parameters:
      - description: Latitude of a location
        in: query
        name: lat
        required: true
        schema:
          format: double
          type: number
      - description: Longitude of a location
        in: query
        name: lng
        required: true
        schema:
          format: double
          type: number
      - description: Latitude of destination location
        in: query
        name: destination_lat
        schema:
          format: double
          type: number
      - description: Longitude of destination location
        in: query
        name: destination_lng
        schema:
          format: double
          type: number
      - description: ID of a ride type
        in: query
        name: ride_type
        schema:
          enum:
          - lyft
          - lyft_line
          - lyft_plus
          - lyft_premier
          - lyft_lux
          - lyft_luxsuv
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EtaEstimateResponse'
          description: An object with an array of ETAs by ride type for the given
            location
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: |
            The 'error' field will be one of the following:
             * `bad_parameter`: A validation error occurred
             * `no_service_in_area`: location is not within a Lyft service area
             * `ridetype_unavailable_in_region`: ridetype not supported at this location
      summary: Pickup ETAs
      tags:
      - Public
      x-openapi-router-controller: openapi_server.controllers.public_controller
  /profile:
    get:
      description: |
        The v1 of this endpoint returns the user's ID, v2 will return more general info about the user. We require authentication for this endpoint, so we extract the user ID from the access token.
      operationId: get_profile
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
          description: User ID was found and returned
      security:
      - User Authentication:
        - profile
      summary: The user's general info
      tags:
      - User
      x-openapi-router-controller: openapi_server.controllers.user_controller
  /rides:
    get:
      description: |
        Get a list of past & current rides for this passenger.
      operationId: get_rides
      parameters:
      - description: |
          Restrict to rides starting after this point in time. The earliest supported date is 2015-01-01T00:00:00+00:00
        in: query
        name: start_time
        required: true
        schema:
          format: date-time
          type: string
      - description: |
          Restrict to rides starting before this point in time. The earliest supported date is 2015-01-01T00:00:00+00:00
        in: query
        name: end_time
        schema:
          format: date-time
          type: string
      - description: |
          The maximum number of rides to return. The default limit is 10 if not specified. The maximum allowed value is 50, an integer greater that 50 will return at most 50 results.
        in: query
        name: limit
        schema:
          default: 10
          exclusiveMaximum: false
          exclusiveMinimum: true
          format: int32
          maximum: 50
          minimum: 0
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RidesResponse'
          description: |
            An object with an array of up to `limit` rides taken by the user between `start_time` and `end_time`.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: A validation error occurred
      security:
      - User Authentication:
        - rides.read
      summary: List rides
      tags:
      - User
      x-openapi-router-controller: openapi_server.controllers.user_controller
    post:
      description: |
        Request a Lyft come pick you up at the given location.
      operationId: new_ride
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Ride'
        description: Ride request information
        required: true
        x-body-name: request
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RideRequest'
          description: "An object with high level ride information. Use `GET /v1/rides/{id}`\
            \ for more details."
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RideRequestError'
          description: |
            The 'error' field can be one of the following:
             * `bad_parameter`: A validation error occurred
             * `no_service_in_area`: origin is not within a Lyft service area
             * `ridetype_unavailable_in_region`: ridetype not supported at origin
             * `primetime_confirmation_required`: user must accept primetime. A primetime confirmation token and
            details will be included in the response
             * `invalid_primetime_confirmation`: supplied token is invalid or expired
             * `destination_prohibited`: Lyft is not allowed to drop off at that destination (e.g. some airports).
             User-displayable details in the 'error_description' field
             * `client_error`: an uncategorized error. Details in the 'error_description' field
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: |
            User or client does not have permission to complete this request. Specific errors include:
             * `user_payment_required`: The user does not have a valid payment method on file.
             They must use the Lyft app to add or update one.
             * `account_disabled`: The user's account has been suspended, and they must contact Lyft support.
             * `user_in_driver_mode`: The user is logged in as a driver and can't request rides until they log out
             * `verified_phone_required`: The user has not provided or verified their phone number.
             They can add one in the Lyft app
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: |
            The 'error' field will be one of the following:
             * `no_drivers_available`: No drivers are available right now
             * `user_already_in_ride`: User cannot request a ride while in a ride
      security:
      - User Authentication:
        - rides.request
      summary: Request a Lyft
      tags:
      - User
      x-codegen-request-body-name: request
      x-openapi-router-controller: openapi_server.controllers.user_controller
  /rides/{id}:
    get:
      description: |
        Get the status of a ride along with information about the driver, vehicle and price of a given ride ID
      operationId: get_ride
      parameters:
      - description: The ID of the ride
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RideDetail'
          description: |
            Detailed ride information including ride status, driver information, passenger information, vehicle information, location information and price
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: User or client does not have permission to complete this request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: No ride found with provided ride ID
      security:
      - User Authentication:
        - rides.read
      summary: Get the ride detail of a given ride ID
      tags:
      - User
      x-openapi-router-controller: openapi_server.controllers.user_controller
  /rides/{id}/cancel:
    post:
      description: |
        Cancel a ongoing ride which was requested earlier by providing the ride id.
      operationId: cancel_ride
      parameters:
      - description: The ID of the ride
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancellationRequest'
        required: false
        x-body-name: request
      responses:
        "204":
          content: {}
          description: Successfully canceled the ride
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancellationCostError'
          description: |
            Cancellation token required
             * `cancel_confirmation_required`: a cancelation fee applies which the user must accept
             * `invalid_cancel_confirmation`: provided token was invalid or expired
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: User or client does not have permission to complete this request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: No ride found with provided ride ID
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: You cannot cancel this ride
      security:
      - User Authentication:
        - rides.request
      summary: Cancel a ongoing requested ride
      tags:
      - User
      x-codegen-request-body-name: request
      x-openapi-router-controller: openapi_server.controllers.user_controller
  /rides/{id}/destination:
    put:
      description: |
        Add or update the ride's destination. Note that the ride must still be active (not droppedOff or canceled), and that destinations on Lyft Line rides can not be changed.
      operationId: set_ride_destination
      parameters:
      - description: The ID of the ride
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Location'
        description: The coordinates and optional address of the destination
        required: true
        x-body-name: request
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Location'
          description: Successfully updated the destination. Returns the new destination.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: |
            The 'error' field will be one of the following:
             * `bad_parameter`: A validation error occurred
             * `invalid_destination`: Destination is generally invalid (eg. not in a Lyft service area)
             * `destination_prohibited`: Lyft drop-offs are not permitted at this location (eg. some airports).
             The 'error_description' field will contain an explaination suitable to display to the user.
             * `ride_is_lyft_line`: Cannot change the destination on Line rides
             * `ride_is_finished`: Ride has already been completed
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: |
            User or client does not have permission to complete this request (`ride_does_not_belong_to_user`)
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: No ride found with provided ride ID
      security:
      - User Authentication:
        - rides.request
      summary: Update the destination of the ride
      tags:
      - User
      x-codegen-request-body-name: request
      x-openapi-router-controller: openapi_server.controllers.user_controller
  /rides/{id}/rating:
    put:
      description: |
        Add the passenger's 1 to 5 star rating of the ride, optional written feedback, and optional tip amount in minor units and currency. The ride must already be dropped off, and ratings must be given within 24 hours of drop off. For purposes of display, 5 is considered the default rating. When this endpoint is successfully called, payment processing will begin.
      operationId: set_ride_rating
      parameters:
      - description: The ID of the ride
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RatingRequest'
        description: The rating and optional feedback
        required: true
        x-body-name: request
      responses:
        "204":
          content: {}
          description: Successfully added the rating
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: |
            The 'error' field will be one of the following:
             * `bad_parameter`: A validation error occurred
             * `user_cannot_rate_this_ride`: Rides can only be rated once, within 24 hours of drop-off, and before
             the user starts another ride
             * `tip_too_large`: tip amount is too large for this ride
             * `tip_currency_not_accepted`: That tip currency is not accepted
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: |
            The 'error' field will be:
             * `ride_not_finished`: Ride is still in progress (not yet in the droppedOff status)
      security:
      - User Authentication:
        - rides.request
      summary: "Add the passenger's rating, feedback, and tip"
      tags:
      - User
      x-codegen-request-body-name: request
      x-openapi-router-controller: openapi_server.controllers.user_controller
  /rides/{id}/receipt:
    get:
      description: |
        Get the receipt information of a processed ride by providing the ride id. Receipts will only be available to view once the payment has been processed. In the case of canceled ride, cancellation penalty is included if applicable.
      operationId: get_ride_receipt
      parameters:
      - description: The ID of the ride
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RideReceipt'
          description: Detailed ride receipt information including cancel penalty
            if applicable.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: User or client does not have permission to complete this request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: No ride receipt found with provided ride ID
      security:
      - User Authentication:
        - rides.read
      summary: Get the receipt of the rides.
      tags:
      - User
      x-openapi-router-controller: openapi_server.controllers.user_controller
  /ridetypes:
    get:
      description: |
        The ride types endpoint returns information about what kinds of Lyft rides you can request at a given location.
      operationId: get_ride_types
      parameters:
      - description: Latitude of a location
        in: query
        name: lat
        required: true
        schema:
          format: double
          type: number
      - description: Longitude of a location
        in: query
        name: lng
        required: true
        schema:
          format: double
          type: number
      - description: ID of a ride type
        in: query
        name: ride_type
        schema:
          enum:
          - lyft
          - lyft_line
          - lyft_plus
          - lyft_premier
          - lyft_lux
          - lyft_luxsuv
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RideTypesResponse'
          description: An object with an array of available Ride Types for the given
            location
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: A validation error occurred
      summary: Types of rides
      tags:
      - Public
      x-openapi-router-controller: openapi_server.controllers.public_controller
  /sandbox/primetime:
    put:
      description: |
        Preset a Prime Time percentage in the region surrounding the specified location. This Prime Time percentage will be applied when requesting cost, or when requesting a ride in sandbox mode.
      operationId: set_prime_time
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SandboxPrimetime'
        description: "Prime Time to be preset in the region surrounding the lat, lng"
        required: true
        x-body-name: request
      responses:
        "204":
          content: {}
          description: Successfully applied Prime Time in sandbox
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Validation error occurred
      summary: Preset Prime Time percentage
      tags:
      - Sandbox
      x-codegen-request-body-name: request
      x-openapi-router-controller: openapi_server.controllers.sandbox_controller
  /sandbox/rides/{id}:
    put:
      description: |
        Propagate a sandbox-ride through various ride status
      operationId: set_ride_status
      parameters:
      - description: The ID of the ride
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SandboxRideStatus'
        description: status to propagate the ride into
        required: true
        x-body-name: request
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SandboxRideUpdate'
          description: An object with the Ride ID and the new status
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Validation error occurred
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: User or client does not have permission to complete this request
      security:
      - User Authentication:
        - rides.request
      summary: Propagate ride through ride status
      tags:
      - Sandbox
      x-codegen-request-body-name: request
      x-openapi-router-controller: openapi_server.controllers.sandbox_controller
  /sandbox/ridetypes:
    put:
      description: |
        The sandbox-ridetypes endpoint allows you to preset the ridetypes in the region surrounding the specified latitude and longitude to allow testing different scenarios
      operationId: set_ride_types
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SandboxRideType'
        description: "Ridetypes to be preset in the region surrounding the lat, lng"
        required: true
        x-body-name: request
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SandboxRideType'
          description: An object listing the ridetypes at a given location
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Validation error occurred
      summary: Preset types of rides for sandbox
      tags:
      - Sandbox
      x-codegen-request-body-name: request
      x-openapi-router-controller: openapi_server.controllers.sandbox_controller
  /sandbox/ridetypes/{ride_type}:
    put:
      description: |
        Set driver availability for the provided ride_type in the city/region surrounding the specified location
      operationId: set_ride_type_availability
      parameters:
      - in: path
        name: ride_type
        required: true
        schema:
          enum:
          - lyft
          - lyft_line
          - lyft_plus
          - lyft_premier
          - lyft_lux
          - lyft_luxsuv
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SandboxDriverAvailability'
        description: "Driver availability to be preset in the region surrounding the\
          \ lat, lng"
        required: true
        x-body-name: request
      responses:
        "204":
          content: {}
          description: Successfully set driver availability in sandbox
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Validation error occurred
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: ride_type provided in the path is not supported in the current
            area
      summary: Driver availability for processing ride request
      tags:
      - Sandbox
      x-codegen-request-body-name: request
      x-openapi-router-controller: openapi_server.controllers.sandbox_controller
components:
  parameters:
    LatParam:
      description: Latitude of a location
      in: query
      name: lat
      required: true
      schema:
        format: double
        type: number
    LngParam:
      description: Longitude of a location
      in: query
      name: lng
      required: true
      schema:
        format: double
        type: number
    OptionalDestLatParam:
      description: Latitude of destination location
      in: query
      name: destination_lat
      schema:
        format: double
        type: number
    OptionalDestLngParam:
      description: Longitude of destination location
      in: query
      name: destination_lng
      schema:
        format: double
        type: number
    OptionalEndTime:
      description: |
        Restrict to rides starting before this point in time. The earliest supported date is 2015-01-01T00:00:00+00:00
      in: query
      name: end_time
      schema:
        format: date-time
        type: string
    OptionalLimit:
      description: |
        The maximum number of rides to return. The default limit is 10 if not specified. The maximum allowed value is 50, an integer greater that 50 will return at most 50 results.
      in: query
      name: limit
      schema:
        default: 10
        exclusiveMaximum: false
        exclusiveMinimum: true
        format: int32
        maximum: 50
        minimum: 0
        type: integer
    OptionalRideType:
      description: ID of a ride type
      in: query
      name: ride_type
      schema:
        enum:
        - lyft
        - lyft_line
        - lyft_plus
        - lyft_premier
        - lyft_lux
        - lyft_luxsuv
        type: string
    RideStatusParam:
      in: path
      name: ride_type
      required: true
      schema:
        enum:
        - lyft
        - lyft_line
        - lyft_plus
        - lyft_premier
        - lyft_lux
        - lyft_luxsuv
        type: string
    StartTime:
      description: |
        Restrict to rides starting after this point in time. The earliest supported date is 2015-01-01T00:00:00+00:00
      in: query
      name: start_time
      required: true
      schema:
        format: date-time
        type: string
  schemas:
    ApiError:
      description: "Details about why a request failed, such as missing or invalid\
        \ parameters"
      example:
        error_description: error_description
        error_detail:
        - lat: (latitude) Missing required parameter in the query string
        - lat: (latitude) Missing required parameter in the query string
        error: error
      properties:
        error:
          description: A "slug" that serves as the error code (eg. "bad_parameter")
          title: error
          type: string
        error_description:
          description: A user-friendly description of the error (appropriate to show
            to an end-user)
          title: error_description
          type: string
        error_detail:
          items:
            $ref: '#/components/schemas/ErrorDetail'
          title: error_detail
          type: array
      title: ApiError
      type: object
    CancellationCost:
      allOf:
      - $ref: '#/components/schemas/Cost'
      - properties:
          token:
            description: Token used to confirm the fee when cancelling a request
            type: string
          token_duration:
            description: "How long, in seconds, before the token expires"
            format: int32
            minimum: 0
            type: integer
        type: object
      title: CancellationCost
    CancellationCostError:
      allOf:
      - $ref: '#/components/schemas/CancellationCost'
      - $ref: '#/components/schemas/ApiError'
      example:
        amount: 0
        error_description: error_description
        error_detail:
        - lat: (latitude) Missing required parameter in the query string
        - lat: (latitude) Missing required parameter in the query string
        description: description
        currency: currency
        token_duration: 0
        error: error
        token: token
      title: CancellationCostError
    CancellationRequest:
      example:
        cancel_confirmation_token: 656a91d
      properties:
        cancel_confirmation_token:
          description: Token affirming the user accepts the cancellation fee. Required
            if a cancellation fee is in effect.
          type: string
      title: CancellationRequest
      type: object
    Charge:
      properties:
        amount:
          description: The line item amount
          format: int32
          title: amount
          type: integer
        currency:
          description: The currency for the amount
          title: currency
          type: string
        payment_method:
          description: The payment method display name.
          title: payment_method
          type: string
      required:
      - amount
      - currency
      - payment_method
      title: Charge
      type: object
    Cost:
      example:
        amount: 500
        currency: USD
        description: Total cost
      properties:
        amount:
          description: Total price of the ride
          format: int32
          type: integer
        currency:
          description: The ISO 4217 currency code for the amount (e.g. USD)
          type: string
        description:
          description: The description for the cost
          type: string
      required:
      - amount
      - currency
      - description
      title: Cost
      type: object
    CostEstimate:
      description: A non-guaranteed estimate of price
      example:
        cost_token: EupdCgIzy17lJoRmiO5
        display_name: Lyft
        estimated_cost_cents_max: 1080
        estimated_cost_cents_min: 1390
        estimated_distance_miles: 12.4
        estimated_duration_seconds: 540
        is_valid_estimate: true
        primetime_confirmation_token: EupdCgIzy17lJoRmiO5
        primetime_percentage: 25%
        ride_type: lyft
      properties:
        cost_token:
          description: A token that confirms the user has accepted current Prime Time
            and/or fixed price charges. See 'Request a Lyft' for more details
          type: string
        currency:
          description: The ISO 4217 currency code for the amount (e.g. 'USD')
          type: string
        display_name:
          description: A human readable description of the ride type
          type: string
        estimated_cost_cents_max:
          description: |
            Estimated upper bound for trip cost, in minor units (cents). Estimates are not guaranteed, and only provide a reasonable range based on current conditions.
          format: int32
          type: integer
        estimated_cost_cents_min:
          description: |
            Estimated lower bound for trip cost, in minor units (cents). Estimates are not guaranteed, and only provide a reasonable range based on current conditions.
          format: int32
          type: integer
        estimated_distance_miles:
          description: |
            Estimated distance for this trip
          format: double
          type: number
        estimated_duration_seconds:
          description: |
            Estimated time to get from the start location to the end.
          format: int32
          type: integer
        is_valid_estimate:
          description: The validity of the cost estimate returned
          type: boolean
        primetime_confirmation_token:
          description: This token is needed when requesting rides. (Deprecated)
          type: string
        primetime_percentage:
          description: |
            Current Prime Time Percentage. Prime Time adds a percentage to ride costs, prior to other applicable fees. When ride requests greatly outnumber available drivers, our system will automatically turn on Prime Time.
            If Prime Time is inactive, the value returned will be '0%'.
            Note: The returned estimate already has Prime Time factored in. The value is returned here for reference and to allow users to confirm/accept Prime Time prior to initiating a ride.
          type: string
        ride_type:
          $ref: '#/components/schemas/RideTypeEnum'
      title: CostEstimate
      type: object
    CurrentRideLocation:
      allOf:
      - $ref: '#/components/schemas/LatLng'
      - properties:
          bearing:
            description: Bearing of the driver's car in degrees
            format: double
            type: number
        type: object
      title: CurrentRideLocation
    DriverDetail:
      example:
        first_name: Joe
        image_url: http://example.com/lyft.png
        phone_number: "+15554445000"
        rating: "4.9"
        user_id: "123456789"
      properties:
        first_name:
          description: The driver's first name
          type: string
        image_url:
          description: The driver's image url
          type: string
        phone_number:
          description: |
            The driver's contact phone number. Must be E.164 formatted.
          format: phone
          type: string
        rating:
          description: The driver's rating based in 0-5 scale
          type: string
        user_id:
          description: The driver's id
          type: string
      required:
      - first_name
      - image_url
      - phone_number
      - rating
      - user_id
      title: DriverDetail
      type: object
    ErrorDetail:
      description: |
        An object with a single key-value pair, where the key is the name of the invalid parameter, and the value is a description of the error.
      example:
        lat: (latitude) Missing required parameter in the query string
      properties:
        field_name:
          description: description of the error
          type: string
      title: ErrorDetail
      type: object
    Eta:
      description: Estimated Time of Arrival
      example:
        display_name: Lyft Line
        eta_seconds: 120
        is_valid_estimate: true
        ride_type: lyft_line
      properties:
        display_name:
          description: A human readable description of the ride type
          type: string
        eta_seconds:
          description: Estimated seconds for a driver to arrive
          format: int32
          type: integer
        eta_seconds_max:
          description: Estimated upper bound of seconds for a driver to arrive
          format: int32
          type: integer
        is_valid_estimate:
          description: The validity of the ETA estimate returned
          type: boolean
        ride_type:
          $ref: '#/components/schemas/RideTypeEnum'
      title: Eta
      type: object
    LatLng:
      example:
        lat: 36.9442175
        lng: -123.8679133
      properties:
        lat:
          description: The latitude component of a location
          format: double
          type: number
        lng:
          description: The longitude component of a location
          format: double
          type: number
      required:
      - lat
      - lng
      title: LatLng
      type: object
    LineItem:
      properties:
        amount:
          description: The line item amount
          format: int32
          title: amount
          type: integer
        currency:
          description: The currency for the amount
          title: currency
          type: string
        type:
          description: The line item display name for a charge item
          title: type
          type: string
      required:
      - amount
      - currency
      - type
      title: LineItem
      type: object
    Location:
      allOf:
      - $ref: '#/components/schemas/LatLng'
      - properties:
          address:
            description: A human readable address at/near the given location
            type: string
        type: object
      example:
        address: address
        lng: 6.027456183070403
        lat: 0.8008281904610115
      title: Location
    NearbyDriver:
      example:
        locations:
        - lat: 36.9442175
          lng: -123.8679133
        - lat: 36.9442175
          lng: -123.8679133
      properties:
        locations:
          description: the lastest recorded driver locations up to 5 sorted in chronological
            order.
          items:
            $ref: '#/components/schemas/LatLng'
          title: locations
          type: array
      title: NearbyDriver
      type: object
    NearbyDriversByRideType:
      example:
        drivers:
        - locations:
          - lat: 36.9442175
            lng: -123.8679133
          - lat: 36.9442175
            lng: -123.8679133
        - locations:
          - lat: 36.9442175
            lng: -123.8679133
          - lat: 36.9442175
            lng: -123.8679133
        ride_type: ride_type
      properties:
        drivers:
          description: list of nearby drivers group by ride type sorted by eta
          items:
            $ref: '#/components/schemas/NearbyDriver'
          title: drivers
          type: array
        ride_type:
          description: "driver's ride type. if driver is eligable for several ride\
            \ types, he will be duplicated."
          title: ride_type
          type: string
      title: NearbyDriversByRideType
      type: object
    PassengerDetail:
      allOf:
      - $ref: '#/components/schemas/UserDetail'
      - properties:
          last_name:
            description: The passenger's last name
            type: string
          user_id:
            description: The passenger's lyft user id
            type: string
        type: object
      title: PassengerDetail
    PickupDropoffLocation:
      allOf:
      - $ref: '#/components/schemas/Location'
      - properties:
          time:
            description: Server time when the location object is created
            format: date-time
            type: string
        type: object
      title: PickupDropoffLocation
    PricingDetails:
      example:
        base_charge: 175
        cancel_penalty_amount: 500
        cost_minumum: 500
        cost_per_mile: 116
        cost_per_minute: 23
        currency: USD
        trust_and_service: 155
      properties:
        base_charge:
          description: The base charge of the trip
          format: int32
          type: integer
        cancel_penalty_amount:
          description: The charge amount if cancel penalty is involved
          format: int32
          type: integer
        cost_minimum:
          description: The minimum charge for the trip
          format: int32
          type: integer
        cost_per_mile:
          description: The cost per mile
          format: int32
          type: integer
        cost_per_minute:
          description: The cost per minute
          format: int32
          type: integer
        currency:
          description: The ISO 4217 currency code for the amount (e.g. USD)
          type: string
        trust_and_service:
          description: Service fee
          format: int32
          type: integer
      title: PricingDetails
      type: object
    Profile:
      description: Represents the general information about a user.
      example:
        has_taken_a_ride: true
        last_name: last_name
        id: id
        first_name: first_name
      properties:
        first_name:
          description: The first name of this user
          title: first_name
          type: string
        has_taken_a_ride:
          description: Indicates whether this user has taken at least one Lyft ride
          title: has_taken_a_ride
          type: boolean
        id:
          description: The unique ID of this user
          title: id
          type: string
        last_name:
          description: The last name of this user
          title: last_name
          type: string
      required:
      - first_name
      - has_taken_a_ride
      - id
      - last_name
      title: Profile
      type: object
    RatingRequest:
      description: Rating and optional feedback and tip
      example:
        feedback: Great ride!
        rating: 5
        tip:
          amount: 100
          currency: USD
      properties:
        feedback:
          description: The passenger's written feedback about this ride
          type: string
        rating:
          description: The passenger's rating of this ride from 1 to 5
          format: int32
          maximum: 5
          minimum: 1
          type: integer
        tip:
          allOf:
          - $ref: '#/components/schemas/TipParams'
          description: Tip amount in minor units and tip currency
          type: object
      required:
      - rating
      title: RatingRequest
      type: object
    Ride:
      description: "Represents a requested, ongoing, or finished Lyft ride"
      example:
        origin: "{}"
        cost_token: cost_token
        destination: "{}"
        primetime_confirmation_token: primetime_confirmation_token
        ride_type: lyft
      properties:
        cost_token:
          description: A token that confirms the user has accepted current Prime Time
            and/or fixed price charges
          title: cost_token
          type: string
        destination:
          allOf:
          - $ref: '#/components/schemas/Location'
          description: The *requested* location for passenger drop off
          title: destination
          type: object
        origin:
          allOf:
          - $ref: '#/components/schemas/Location'
          description: The *requested* location for passenger pickup
          title: origin
          type: object
        primetime_confirmation_token:
          description: A token that confirms the user has accepted current primetime
            charges (Deprecated)
          title: primetime_confirmation_token
          type: string
        ride_type:
          $ref: '#/components/schemas/RideTypeEnum'
      required:
      - origin
      - ride_type
      title: Ride
      type: object
    RideDetail:
      description: Detail information about a ride
      example:
        beacon_color: '#FFFFFF'
        destination:
          address: "987 Second St, Anytown, CA"
          lat: 36.9453452
          lng: -123.8642521
        distance_miles: 16.2
        driver:
          first_name: Joe
          image_url: http://example.com/lyft.png
          phone_number: "+15554445111"
          rating: "4.9"
        dropoff:
          address: "987 Second St, Anytown, CA"
          lat: 36.9453452
          lng: -123.8642521
          time: 2015-09-24T23:28:25+00:00
        duration_seconds: 1620
        line_items:
        - amount: 500
          currency: USD
          type: Ride
        - amount: 250
          currency: USD
          type: Prime Time
        - amount: 155
          currency: USD
          type: Service fee
        location:
          address: "987 Second St, Anytown, CA"
          lat: 36.9453452
          lng: -123.8642521
        origin:
          address: "123 Main St, Anytown, CA"
          lat: 36.9442175
          lng: -123.8679133
        passenger:
          first_name: Jane
          phone_number: "+15554445000"
          user_id: "776630198662493392"
        pickup:
          address: "123 Main St, Anytown, CA"
          lat: 36.9442175
          lng: -123.8679133
          time: 2015-09-24T23:27:25+00:00
        price:
          amount: 905
          currency: USD
          description: Total ride price
        primetime_percentage: 50%
        requested_at: 2015-09-24T23:26:25+00:00
        ride_id: 123456789
        ride_profile: personal
        ride_type: lyft
        status: droppedOff
        vehicle:
          color: black
          image_url: http://example.com/lyft.png
          license_plate: AAAAAAA
          make: Audi
          model: A4
      properties:
        beacon_color:
          description: Hex color code of the driver AMP device.
          type: string
        can_cancel:
          items:
            description: The array of actors who may cancel the ride at this point
            enum:
            - driver
            - passenger
            - dispatcher
            type: string
          type: array
        canceled_by:
          description: The role of user who canceled the ride (if applicable)
          type: string
        cancellation_price:
          allOf:
          - $ref: '#/components/schemas/CancellationCost'
          description: The cost of cancellation if there would be a penalty
          type: object
        destination:
          allOf:
          - $ref: '#/components/schemas/RideLocation'
          description: The *requested* location for passenger drop off
          type: object
        distance_miles:
          description: "The distance, in miles, that this ride traveled. This field\
            \ is only present after drop-off"
          format: float
          type: number
        driver:
          $ref: '#/components/schemas/DriverDetail'
        dropoff:
          allOf:
          - $ref: '#/components/schemas/PickupDropoffLocation'
          description: The *actual* location of passenger drop off
          type: object
        duration_seconds:
          description: Duration of the ride in seconds from pickup to drop-off. This
            field is only present after drop-off.
          format: int32
          type: integer
        feedback:
          description: The written feedback the user left for this ride
          type: string
        generated_at:
          description: The request timestamp in date and time
          format: date-time
          type: string
        line_items:
          description: The break down of cost
          items:
            $ref: '#/components/schemas/LineItem'
          type: array
        location:
          allOf:
          - $ref: '#/components/schemas/CurrentRideLocation'
          description: The *current* location info of the ride
          type: object
        origin:
          allOf:
          - $ref: '#/components/schemas/RideLocation'
          description: The *requested* location for passenger pickup
          type: object
        passenger:
          $ref: '#/components/schemas/PassengerDetail'
        pickup:
          allOf:
          - $ref: '#/components/schemas/PickupDropoffLocation'
          description: The *actual* location of passenger pickup
          type: object
        price:
          allOf:
          - $ref: '#/components/schemas/Cost'
          description: The total price for the current ride
          type: object
        pricing_details_url:
          description: |
            The web view showing the pricing structure for the geographic area where the ride was taken
          type: string
        primetime_percentage:
          description: The Prime Time percentage applied to the base price
          type: string
        rating:
          description: "The rating the user left for this ride, from 1 to 5"
          format: int32
          type: integer
        requested_at:
          description: The ride requested timestamp in date and time
          format: date-time
          type: string
        ride_id:
          description: The unique ID of this ride
          type: string
        ride_profile:
          allOf:
          - $ref: '#/components/schemas/RideProfileEnum'
          description: |
            Indicates whether the ride was requested from the business profile or personal profile of the user.
          type: object
        ride_type:
          $ref: '#/components/schemas/RideTypeEnumWithOther'
        route_url:
          description: |
            The web view showing the passenger, driver, and route for this ride. This field will only be present for rides created through this API, or that have been shared through the "Share my Route" feature
          type: string
        status:
          $ref: '#/components/schemas/RideStatusEnum'
        vehicle:
          $ref: '#/components/schemas/VehicleDetail'
      title: RideDetail
      type: object
    RideLocation:
      allOf:
      - $ref: '#/components/schemas/Location'
      - properties:
          eta_seconds:
            description: Estimated seconds for a driver to pickup or reach destination
              based on ride status
            format: int32
            type: integer
        type: object
      title: RideLocation
    RideProfileEnum:
      description: The payment profile which the user has picked for the ride
      enum:
      - personal
      - business
      title: RideProfileEnum
      type: string
    RideReceipt:
      description: Receipt information of a processed ride.
      example:
        charges:
        - amount: 500
          currency: USD
          payment_method: Card
        - amount: 405
          currency: USD
          payment_method: Lyft Credit
        line_items:
        - amount: 500
          currency: USD
          type: Ride
        - amount: 250
          currency: USD
          type: Prime Time
        - amount: 155
          currency: USD
          type: Service fee
        price:
          amount: 905
          currency: USD
          description: Total ride price
        requested_at: 2015-09-24T23:26:25+00:00
        ride_id: 123456789
        ride_profile: personal
      properties:
        charges:
          description: The break down of charge method
          items:
            $ref: '#/components/schemas/Charge'
          type: array
        line_items:
          description: The break down of line items
          items:
            $ref: '#/components/schemas/LineItem'
          type: array
        price:
          allOf:
          - $ref: '#/components/schemas/Cost'
          description: The total price for the current ride
          type: object
        requested_at:
          description: The ride requested timestamp in date and time
          format: date-time
          type: string
        ride_id:
          description: The unique ID of this ride
          type: string
        ride_profile:
          allOf:
          - $ref: '#/components/schemas/RideProfileEnum'
          description: |
            Indicates whether the ride was requested from the business profile or personal profile of the user.
          type: object
      title: RideReceipt
      type: object
    RideRequest:
      description: Minimal set of ride details
      example:
        destination:
          address: "123 Main St, Anytown, CA"
          lat: 36.9442175
          lng: -123.8679133
        origin:
          address: "123 Main St, Anytown, CA"
          lat: 36.9442175
          lng: -123.8679133
        passenger:
          first_name: Jane
          image_url: https://public-api.lyft.com/static/images/user.png
          rating: 4.9
          user_id: "776630198662493392"
        ride_id: 123456789
        status: pending
      properties:
        destination:
          allOf:
          - $ref: '#/components/schemas/Location'
          description: The *requested* location for passenger drop off
          type: object
        origin:
          allOf:
          - $ref: '#/components/schemas/Location'
          description: The *requested* location for passenger pickup
          type: object
        passenger:
          $ref: '#/components/schemas/PassengerDetail'
        ride_id:
          description: The ID of the requested ride
          type: string
        status:
          $ref: '#/components/schemas/RideStatusEnum'
      title: RideRequest
      type: object
    RideRequestError:
      description: "Details about why a request failed, such as missing or invalid\
        \ parameters"
      example:
        error_description: error_description
        error_detail:
        - lat: (latitude) Missing required parameter in the query string
        - lat: (latitude) Missing required parameter in the query string
        cost_token: cost_token
        primetime_multiplier: 0.8008282
        primetime_confirmation_token: primetime_confirmation_token
        token_duration: token_duration
        error: error
        error_uri: error_uri
        primetime_percentage: primetime_percentage
      properties:
        cost_token:
          description: A token that confirms the user has accepted current Prime Time
            and/or fixed price charges
          title: cost_token
          type: string
        error:
          description: A "slug" that serves as the error code (eg. "bad_parameter")
          title: error
          type: string
        error_description:
          description: A user-friendly description of the error (appropriate to show
            to an end-user)
          title: error_description
          type: string
        error_detail:
          items:
            $ref: '#/components/schemas/ErrorDetail'
          title: error_detail
          type: array
        error_uri:
          description: "When a user must go through another flow before requesting\
            \ a ride, this URI specifies which flow to use (e.g. an account challenge\
            \ flow in a web view)"
          title: error_uri
          type: string
        primetime_confirmation_token:
          description: A token that confirms the user has accepted current Prime Time
            charges (Deprecated)
          title: primetime_confirmation_token
          type: string
        primetime_multiplier:
          description: "Current Prime Time multiplier (eg. if primetime_percentage\
            \ is 100%, primetime_multiplier will be 2.0)"
          format: float
          title: primetime_multiplier
          type: number
        primetime_percentage:
          description: Current Prime Time percentage
          title: primetime_percentage
          type: string
        token_duration:
          description: Validity of the token in seconds
          title: token_duration
          type: string
      required:
      - error
      title: RideRequestError
      type: object
    RideStatusEnum:
      description: The status of the ride
      enum:
      - pending
      - accepted
      - arrived
      - pickedUp
      - droppedOff
      - canceled
      - scheduled
      - unknown
      title: RideStatusEnum
      type: string
    RideType:
      example:
        ride_types:
        - display_name: Lyft Line
          image_url: https://cdn.lyft.com/assets/car_standard.png
          pricing_details:
            base_charge: 200
            cancel_penalty_amount: 500
            cost_minimum: 475
            cost_per_mile: 115
            cost_per_minute: 23
            currency: USD
            trust_and_service: 155
          ride_type: lyft_line
          seats: 2
        - display_name: Lyft
          image_url: https://cdn.lyft.com/assets/car_standard.png
          pricing_details:
            base_charge: 200
            cancel_penalty_amount: 500
            cost_minimum: 500
            cost_per_mile: 115
            cost_per_minute: 23
            currency: USD
            trust_and_service: 155
          ride_type: lyft
          seats: 4
        - display_name: Lyft Plus
          image_url: https://cdn.lyft.com/assets/car_plus.png
          pricing_details:
            base_charge: 300
            cancel_penalty_amount: 500
            cost_minimum: 700
            cost_per_mile: 200
            cost_per_minute: 30
            currency: USD
            trust_and_service: 155
          ride_type: lyft_plus
          seats: 6
      properties:
        display_name:
          description: A human readable description of the ride type
          type: string
        image_url:
          description: The URL of an image representing this ride type
          type: string
        pricing_details:
          $ref: '#/components/schemas/PricingDetails'
        ride_type:
          $ref: '#/components/schemas/RideTypeEnum'
        scheduled_pricing_details:
          $ref: '#/components/schemas/PricingDetails'
        seats:
          description: The maximum number of seats available for rides requested with
            this ride type
          type: integer
      title: RideType
      type: object
    RideTypeEnum:
      description: The ID of the ride type
      enum:
      - lyft
      - lyft_line
      - lyft_plus
      - lyft_premier
      - lyft_lux
      - lyft_luxsuv
      title: RideTypeEnum
      type: string
    RideTypeEnumWithOther:
      description: The ID of the ride type
      enum:
      - lyft
      - lyft_line
      - lyft_plus
      - lyft_premier
      - lyft_lux
      - lyft_luxsuv
      - other
      title: RideTypeEnumWithOther
      type: string
    SandboxDriverAvailability:
      example:
        driver_availability: true
        lat: 37.7833
        lng: -122.4167
      properties:
        driver_availability:
          description: The availability of driver in a region
          type: boolean
        lat:
          description: The latitude component of a location
          format: double
          type: number
        lng:
          description: The longitude component of a location
          format: double
          type: number
      required:
      - driver_availability
      - lat
      - lng
      title: SandboxDriverAvailability
      type: object
    SandboxPrimetime:
      example:
        lat: 37.7833
        lng: -122.4167
        primetime_percentage: 25%
      properties:
        lat:
          description: The latitude component of a location
          format: double
          type: number
        lng:
          description: The longitude component of a location
          format: double
          type: number
        primetime_percentage:
          description: "The Prime Time to be applied as a string, e.g., '25%'"
          type: string
      required:
      - lat
      - lng
      - primetime_percentage
      title: SandboxPrimetime
      type: object
    SandboxRideStatus:
      example:
        status: lyft
      properties:
        status:
          $ref: '#/components/schemas/RideStatusEnum'
      required:
      - status
      title: SandboxRideStatus
      type: object
    SandboxRideType:
      example:
        lat: 37.7833
        lng: -122.4167
        ride_types:
        - lyft
        - lyft_line
        - lyft_plus
      properties:
        lat:
          description: The latitude component of a location
          format: double
          type: number
        lng:
          description: The longitude component of a location
          format: double
          type: number
        ride_types:
          items:
            $ref: '#/components/schemas/RideTypeEnum'
          type: array
      required:
      - lat
      - lng
      - ride_types
      title: SandboxRideType
      type: object
    SandboxRideUpdate:
      description: Response when a sandbox ride is propagated through ride status
      example:
        ride_id: 123456789
        status: accepted
      properties:
        ride_id:
          description: The ID of the ride
          type: string
        status:
          $ref: '#/components/schemas/RideStatusEnum'
      title: SandboxRideUpdate
      type: object
    Tip:
      example:
        amount: 300
        currency: USD
      properties:
        amount:
          description: A tip for the driver in cents. To be charged to the user's
            default charge account.
          format: int32
          minimum: 0
          type: integer
        currency:
          description: The currency in which you want to tip. e.g. USD
          type: string
      title: Tip
      type: object
    TipParams:
      allOf:
      - $ref: '#/components/schemas/Tip'
      title: TipParams
    UserDetail:
      example:
        first_name: Jane
        image_url: https://public-api.lyft.com/static/images/user.png
        rating: 4.9
      properties:
        first_name:
          description: The passenger's first name
          type: string
        image_url:
          description: The passenger's profile image
          type: string
        rating:
          description: The passenger's rating
          type: string
      required:
      - first_name
      - image_url
      - rating
      title: UserDetail
      type: object
    VehicleDetail:
      example:
        color: black
        image_url: http://example.com/lyft.png
        license_plate: AAAAAAA
        license_plate_state: CA
        make: Audi
        model: A4
        year: 2016
      properties:
        color:
          description: The vehicle's color
          type: string
        image_url:
          description: The vehicle's image url
          type: string
        license_plate:
          description: The vehicle's license plate
          type: string
        license_plate_state:
          description: The vehicle's license plate state
          type: string
        make:
          description: The vehicle's maker
          type: string
        model:
          description: The vehicle's model
          type: string
        year:
          description: The vehicle's model year
          format: int32
          type: integer
      required:
      - color
      - image_url
      - license_plate
      - license_plate_state
      - make
      - model
      - year
      title: VehicleDetail
      type: object
    CostEstimateResponse:
      example:
        cost_estimates:
        - cost_token: EupdCgIzy17lJoRmiO5
          display_name: Lyft
          estimated_cost_cents_max: 1080
          estimated_cost_cents_min: 1390
          estimated_distance_miles: 12.4
          estimated_duration_seconds: 540
          is_valid_estimate: true
          primetime_confirmation_token: EupdCgIzy17lJoRmiO5
          primetime_percentage: 25%
          ride_type: lyft
        - cost_token: EupdCgIzy17lJoRmiO5
          display_name: Lyft
          estimated_cost_cents_max: 1080
          estimated_cost_cents_min: 1390
          estimated_distance_miles: 12.4
          estimated_duration_seconds: 540
          is_valid_estimate: true
          primetime_confirmation_token: EupdCgIzy17lJoRmiO5
          primetime_percentage: 25%
          ride_type: lyft
      properties:
        cost_estimates:
          items:
            $ref: '#/components/schemas/CostEstimate'
          title: cost_estimates
          type: array
      title: CostEstimateResponse
      type: object
    NearbyDriversResponse:
      example:
        nearby_drivers:
        - drivers:
          - locations:
            - lat: 36.9442175
              lng: -123.8679133
            - lat: 36.9442175
              lng: -123.8679133
          - locations:
            - lat: 36.9442175
              lng: -123.8679133
            - lat: 36.9442175
              lng: -123.8679133
          ride_type: ride_type
        - drivers:
          - locations:
            - lat: 36.9442175
              lng: -123.8679133
            - lat: 36.9442175
              lng: -123.8679133
          - locations:
            - lat: 36.9442175
              lng: -123.8679133
            - lat: 36.9442175
              lng: -123.8679133
          ride_type: ride_type
      properties:
        nearby_drivers:
          items:
            $ref: '#/components/schemas/NearbyDriversByRideType'
          title: nearby_drivers
          type: array
      title: NearbyDriversResponse
      type: object
    EtaEstimateResponse:
      example:
        eta_estimates:
        - display_name: Lyft Line
          eta_seconds: 120
          is_valid_estimate: true
          ride_type: lyft_line
        - display_name: Lyft Line
          eta_seconds: 120
          is_valid_estimate: true
          ride_type: lyft_line
      properties:
        eta_estimates:
          items:
            $ref: '#/components/schemas/Eta'
          title: eta_estimates
          type: array
      title: EtaEstimateResponse
      type: object
    RidesResponse:
      example:
        ride_history:
        - beacon_color: '#FFFFFF'
          destination:
            address: "987 Second St, Anytown, CA"
            lat: 36.9453452
            lng: -123.8642521
          distance_miles: 16.2
          driver:
            first_name: Joe
            image_url: http://example.com/lyft.png
            phone_number: "+15554445111"
            rating: "4.9"
          dropoff:
            address: "987 Second St, Anytown, CA"
            lat: 36.9453452
            lng: -123.8642521
            time: 2015-09-24T23:28:25+00:00
          duration_seconds: 1620
          line_items:
          - amount: 500
            currency: USD
            type: Ride
          - amount: 250
            currency: USD
            type: Prime Time
          - amount: 155
            currency: USD
            type: Service fee
          location:
            address: "987 Second St, Anytown, CA"
            lat: 36.9453452
            lng: -123.8642521
          origin:
            address: "123 Main St, Anytown, CA"
            lat: 36.9442175
            lng: -123.8679133
          passenger:
            first_name: Jane
            phone_number: "+15554445000"
            user_id: "776630198662493392"
          pickup:
            address: "123 Main St, Anytown, CA"
            lat: 36.9442175
            lng: -123.8679133
            time: 2015-09-24T23:27:25+00:00
          price:
            amount: 905
            currency: USD
            description: Total ride price
          primetime_percentage: 50%
          requested_at: 2015-09-24T23:26:25+00:00
          ride_id: 123456789
          ride_profile: personal
          ride_type: lyft
          status: droppedOff
          vehicle:
            color: black
            image_url: http://example.com/lyft.png
            license_plate: AAAAAAA
            make: Audi
            model: A4
        - beacon_color: '#FFFFFF'
          destination:
            address: "987 Second St, Anytown, CA"
            lat: 36.9453452
            lng: -123.8642521
          distance_miles: 16.2
          driver:
            first_name: Joe
            image_url: http://example.com/lyft.png
            phone_number: "+15554445111"
            rating: "4.9"
          dropoff:
            address: "987 Second St, Anytown, CA"
            lat: 36.9453452
            lng: -123.8642521
            time: 2015-09-24T23:28:25+00:00
          duration_seconds: 1620
          line_items:
          - amount: 500
            currency: USD
            type: Ride
          - amount: 250
            currency: USD
            type: Prime Time
          - amount: 155
            currency: USD
            type: Service fee
          location:
            address: "987 Second St, Anytown, CA"
            lat: 36.9453452
            lng: -123.8642521
          origin:
            address: "123 Main St, Anytown, CA"
            lat: 36.9442175
            lng: -123.8679133
          passenger:
            first_name: Jane
            phone_number: "+15554445000"
            user_id: "776630198662493392"
          pickup:
            address: "123 Main St, Anytown, CA"
            lat: 36.9442175
            lng: -123.8679133
            time: 2015-09-24T23:27:25+00:00
          price:
            amount: 905
            currency: USD
            description: Total ride price
          primetime_percentage: 50%
          requested_at: 2015-09-24T23:26:25+00:00
          ride_id: 123456789
          ride_profile: personal
          ride_type: lyft
          status: droppedOff
          vehicle:
            color: black
            image_url: http://example.com/lyft.png
            license_plate: AAAAAAA
            make: Audi
            model: A4
      properties:
        ride_history:
          items:
            $ref: '#/components/schemas/RideDetail'
          title: ride_history
          type: array
      title: RidesResponse
      type: object
    RideTypesResponse:
      example:
        ride_types:
        - ride_types:
          - display_name: Lyft Line
            image_url: https://cdn.lyft.com/assets/car_standard.png
            pricing_details:
              base_charge: 200
              cancel_penalty_amount: 500
              cost_minimum: 475
              cost_per_mile: 115
              cost_per_minute: 23
              currency: USD
              trust_and_service: 155
            ride_type: lyft_line
            seats: 2
          - display_name: Lyft
            image_url: https://cdn.lyft.com/assets/car_standard.png
            pricing_details:
              base_charge: 200
              cancel_penalty_amount: 500
              cost_minimum: 500
              cost_per_mile: 115
              cost_per_minute: 23
              currency: USD
              trust_and_service: 155
            ride_type: lyft
            seats: 4
          - display_name: Lyft Plus
            image_url: https://cdn.lyft.com/assets/car_plus.png
            pricing_details:
              base_charge: 300
              cancel_penalty_amount: 500
              cost_minimum: 700
              cost_per_mile: 200
              cost_per_minute: 30
              currency: USD
              trust_and_service: 155
            ride_type: lyft_plus
            seats: 6
        - ride_types:
          - display_name: Lyft Line
            image_url: https://cdn.lyft.com/assets/car_standard.png
            pricing_details:
              base_charge: 200
              cancel_penalty_amount: 500
              cost_minimum: 475
              cost_per_mile: 115
              cost_per_minute: 23
              currency: USD
              trust_and_service: 155
            ride_type: lyft_line
            seats: 2
          - display_name: Lyft
            image_url: https://cdn.lyft.com/assets/car_standard.png
            pricing_details:
              base_charge: 200
              cancel_penalty_amount: 500
              cost_minimum: 500
              cost_per_mile: 115
              cost_per_minute: 23
              currency: USD
              trust_and_service: 155
            ride_type: lyft
            seats: 4
          - display_name: Lyft Plus
            image_url: https://cdn.lyft.com/assets/car_plus.png
            pricing_details:
              base_charge: 300
              cancel_penalty_amount: 500
              cost_minimum: 700
              cost_per_mile: 200
              cost_per_minute: 30
              currency: USD
              trust_and_service: 155
            ride_type: lyft_plus
            seats: 6
      properties:
        ride_types:
          items:
            $ref: '#/components/schemas/RideType'
          title: ride_types
          type: array
      title: RideTypesResponse
      type: object
  securitySchemes:
    Client Authentication:
      description: OAuth 2.0 - Application Only Credentials
      flows:
        clientCredentials:
          scopes:
            public: Access public information such as ETAs and cost estimates
          tokenUrl: https://api.lyft.com/oauth/token
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_Client
        Authentication
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_Client
        Authentication
    User Authentication:
      description: OAuth 2.0 - User Credentials
      flows:
        authorizationCode:
          authorizationUrl: https://api.lyft.com/oauth/authorize
          scopes:
            profile: Access profile information about the user
            public: Access public information such as ETAs and cost estimates
            rides.read: Access information about the user's current and past rides
            rides.request: |
              Request a ride for the user. Cancel an existing request.
          tokenUrl: https://api.lyft.com/oauth/token
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_User
        Authentication
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_User
        Authentication
x-original-swagger-version: "2.0"
