openapi: 3.0.1
info:
  description: These APIs allow end users to operate on Azure Machine Learning Team
    Account resources. They support CRUD operations for Azure Machine Learning Team
    Accounts.
  title: ML Team Account Management Client
  version: 2017-05-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/machinelearningexperimentation/resource-manager/Microsoft.MachineLearningExperimentation/preview/2017-05-01-preview/machineLearningExperimentation.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: machinelearningexperimentation-machineLearningExperimentation
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.MachineLearningExperimentation/operations:
    get:
      description: Lists all of the available Azure Machine Learning Team Accounts
        REST API operations.
      operationId: operations_list
      parameters:
      - description: The client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
          description: The request was successful; the request was well-formed and
            received properly.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed
      tags:
      - Operation
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.operation_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.MachineLearningExperimentation/accounts:
    get:
      description: Lists all the available machine learning team accounts under the
        specified subscription.
      operationId: accounts_list
      parameters:
      - description: The client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The Microsoft Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountListResult'
          description: The request was successful; the request was well-formed and
            received properly.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed
      tags:
      - Accounts
      x-ms-examples:
        AccountCreate:
          parameters:
            api-version: 2017-05-01-preview
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.MachineLearningExperimentation/accounts/accountcrud5678
                  location: East US
                  name: accountcrud5678
                  properties:
                    creationDate: 2017-03-01T23:14:37.0707808Z
                    discoveryUri: http://example.com
                    keyVaultId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.KeyVault/vaults/testkv
                    provisioningState: Succeeded
                    seats: "2"
                    storageAccount:
                      accessKey: key
                      storageAccountId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.Storage/storageAccounts/testStorageAccount
                    vsoAccountId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/microsoft.visualstudio/account/vsotest
                  type: Microsoft.MachineLearningExperimentation/accounts
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-4321/providers/Microsoft.MachineLearningExperimentation/accounts/accountcrud8765
                  location: East US
                  name: accountcrud8765
                  properties:
                    creationDate: 2017-03-02T23:14:37.0707808Z
                    discoveryUri: http://example.com
                    keyVaultId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.KeyVault/vaults/testkv
                    provisioningState: Succeeded
                    seats: "2"
                    storageAccount:
                      accessKey: key
                      storageAccountId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.Storage/storageAccounts/testStorageAccount
                    vsoAccountId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/microsoft.visualstudio/account/vsotest1
                  type: Microsoft.MachineLearningExperimentation/accounts
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.accounts_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningExperimentation/accounts:
    get:
      description: Lists all the available machine learning team accounts under the
        specified resource group.
      operationId: accounts_list_by_resource_group
      parameters:
      - description: The client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The Microsoft Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group to which the machine learning
          team account belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountListResult'
          description: The request was successful; the request was well-formed and
            received properly.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed
      tags:
      - Accounts
      x-ms-examples:
        AccountCreate:
          parameters:
            api-version: 2017-05-01-preview
            resourceGroupName: accountcrud-1234
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.MachineLearningExperimentation/accounts/accountcrud-5678
                  location: East US
                  name: accountcrud-5678
                  properties:
                    creationDate: 2017-03-01T23:14:37.0707808Z
                    discoveryUri: http://example.com
                    keyVaultId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.KeyVault/vaults/testkv
                    provisioningState: Succeeded
                    seats: "2"
                    storageAccount:
                      accessKey: key
                      storageAccountId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.Storage/storageAccounts/testStorageAccount
                    vsoAccountId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/microsoft.visualstudio/account/vsotest
                  type: Microsoft.MachineLearningExperimentation/accounts
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.MachineLearningExperimentation/accounts/accountcrud-8765
                  location: East US
                  name: accountcrud-8765
                  properties:
                    creationDate: 2017-03-02T23:14:37.0707808Z
                    discoveryUri: http://example.com
                    keyVaultId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.KeyVault/vaults/testkv
                    provisioningState: Succeeded
                    seats: "2"
                    storageAccount:
                      accessKey: key
                      storageAccountId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.Storage/storageAccounts/testStorageAccount
                    vsoAccountId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/microsoft.visualstudio/account/vsotest1
                  type: Microsoft.MachineLearningExperimentation/accounts
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.accounts_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningExperimentation/accounts/{accountName}
  : delete:
      description: Deletes a machine learning team account.
      operationId: accounts_delete
      parameters:
      - description: The client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The Microsoft Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group to which the machine learning
          team account belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the machine learning team account.
        in: path
        name: account_name
        required: true
        schema:
          maxLength: 50
          minLength: 5
          pattern: "^[a-zA-Z0-9]*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content: {}
          description: The request was successful; the request was well-formed and
            received properly.
        "204":
          content: {}
          description: The machine learning team account does not exist in the subscription.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed
      tags:
      - Accounts
      x-ms-examples:
        AccountCreate:
          parameters:
            accountName: myAccount
            api-version: 2017-05-01-preview
            resourceGroupName: myResourceGroup
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200": {}
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.accounts_controller
    get:
      description: Gets the properties of the specified machine learning team account.
      operationId: accounts_get
      parameters:
      - description: The client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The Microsoft Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group to which the machine learning
          team account belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the machine learning team account.
        in: path
        name: accountName
        required: true
        schema:
          maxLength: 50
          minLength: 5
          pattern: "^[a-zA-Z0-9]*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
          description: The request was successful; the request was well-formed and
            received properly.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed
      tags:
      - Accounts
      x-ms-examples:
        AccountGet:
          parameters:
            accountName: accountcrud5678
            api-version: 2017-05-01-preview
            resourceGroupName: accountcrud-1234
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.MachineLearningExperimentation/accounts/accountcrud5678
                location: East US
                name: accountcrud5678
                properties:
                  creationDate: 2017-03-01T23:14:37.0707808Z
                  discoveryUri: http://example.com
                  keyVaultId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.KeyVault/vaults/testkv1
                  provisioningState: Succeeded
                  seats: "2"
                  storageAccount:
                    accessKey: key
                    storageAccountId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.Storage/storageAccounts/testStorageAccount
                  vsoAccountId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/microsoft.visualstudio/account/vsotest
                tags:
                  tagKey1: TagValue1
                type: Microsoft.MachineLearningExperimentation/accounts
      x-openapi-router-controller: openapi_server.controllers.accounts_controller
    patch:
      description: Updates a machine learning team account with the specified parameters.
      operationId: accounts_update
      parameters:
      - description: The client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The Microsoft Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group to which the machine learning
          team account belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the machine learning team account.
        in: path
        name: account_name
        required: true
        schema:
          maxLength: 50
          minLength: 5
          pattern: "^[a-zA-Z0-9]*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountUpdateParameters'
        description: The parameters for updating a machine learning team account.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
          description: The request was successful; the request was well-formed and
            received properly.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed
      tags:
      - Accounts
      x-ms-examples:
        AccountUpdate:
          parameters:
            accountName: accountcrud5678
            api-version: 2017-05-01-preview
            parameters:
              properties:
                description: new description
              tags:
                tagKey1: TagValue1
            resourceGroupName: accountcrud-1234
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.MachineLearningExperimentation/accounts/accountcrud5678
                location: East US
                name: accountcrud5678
                properties:
                  creationDate: 2017-03-01T23:14:37.0707808Z
                  description: new description
                  discoveryUri: http://example.com
                  keyVaultId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.KeyVault/vaults/testkv1
                  provisioningState: Succeeded
                  seats: "2"
                  storageAccount:
                    accessKey: key
                    storageAccountId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.Storage/storageAccounts/testStorageAccount
                  vsoAccountId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/microsoft.visualstudio/account/vsotest
                tags:
                  tagKey1: TagValue1
                type: Microsoft.MachineLearningExperimentation/accounts
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.accounts_controller
    put:
      description: Creates or updates a team account with the specified parameters.
      operationId: accounts_create_or_update
      parameters:
      - description: The client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The Microsoft Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group to which the machine learning
          team account belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the machine learning team account.
        in: path
        name: account_name
        required: true
        schema:
          maxLength: 50
          minLength: 5
          pattern: "^[a-zA-Z0-9]*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Account'
        description: The parameters for creating or updating a machine learning team
          account.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
          description: The request was successful; the resource already exists and
            was updated.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
          description: The request was successful; the request was well-formed and
            received properly.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed
      tags:
      - Accounts
      x-ms-examples:
        AccountCreate:
          parameters:
            accountName: accountcrud5678
            api-version: 2017-05-01-preview
            parameters:
              location: East US
              properties:
                keyVaultId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.KeyVault/vaults/testkv
                storageAccount:
                  accessKey: key
                  storageAccountId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.Storage/storageAccounts/testStorageAccount
                vsoAccountId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/microsoft.visualstudio/account/vsotest
              tags:
                tagKey1: TagValue1
            resourceGroupName: accountcrud-1234
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.MachineLearningExperimentation/accounts/accountcrud5678
                location: East US
                name: accountcrud5678
                properties:
                  creationDate: 2017-03-01T23:14:37.0707808Z
                  discoveryUri: http://example.com
                  keyVaultId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.KeyVault/vaults/testkv
                  provisioningState: Succeeded
                  storageAccount:
                    accessKey: key
                    storageAccountId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.Storage/storageAccounts/testStorageAccount
                  vsoAccountId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/microsoft.visualstudio/account/vsotest
                tags:
                  tagKey1: TagValue1
                type: Microsoft.MachineLearningExperimentation/accounts
            "201":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.MachineLearningExperimentation/accounts/accountcrud5678
                location: East US
                name: accountcrud5678
                properties:
                  creationDate: 2017-03-01T23:14:37.0707808Z
                  discoveryUri: http://example.com
                  keyVaultId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.KeyVault/vaults/testkv
                  provisioningState: Succeeded
                  seats: "2"
                  storageAccount:
                    accessKey: key
                    storageAccountId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.Storage/storageAccounts/testStorageAccount
                  vsoAccountId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/microsoft.visualstudio/account/vsotest
                tags:
                  tagKey1: TagValue1
                type: Microsoft.MachineLearningExperimentation/accounts
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.accounts_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningExperimentation/accounts/{accountName}/workspaces
  : get:
      description: Lists all the available machine learning workspaces under the specified
        team account.
      operationId: workspaces_list_by_accounts
      parameters:
      - description: The client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The Microsoft Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the machine learning team account.
        in: path
        name: account_name
        required: true
        schema:
          maxLength: 50
          minLength: 5
          pattern: "^[a-zA-Z0-9]*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the resource group to which the machine learning
          team account belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceListResult'
          description: The request was successful; the request was well-formed and
            received properly.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed
      tags:
      - Workspaces
      x-ms-examples:
        ListWorkspacesByAccounts:
          parameters:
            accountName: testaccount
            api-version: 2017-05-01-preview
            resourceGroupName: accountcrud-1234
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.MachineLearningExperimentation/accounts/accountcrud5678/workspaces/testworkspace
                  location: East US
                  name: testworkspace
                  properties:
                    creationDate: 2017-03-01T23:14:37.0707808Z
                    friendlyName: testName
                    provisioningState: Succeeded
                  tags:
                    tagKey1: TagValue1
                  type: Microsoft.MachineLearningExperimentation/accounts/workspaces
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.MachineLearningExperimentation/accounts/accountcrud5678/workspaces/testworkspace1
                  location: East US
                  name: testworkspace1
                  properties:
                    creationDate: 2017-03-01T23:14:37.0707808Z
                    friendlyName: testName1
                    provisioningState: Succeeded
                  tags:
                    tagKey1: TagValue1
                  type: Microsoft.MachineLearningExperimentation/accounts/workspaces
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.workspaces_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningExperimentation/accounts/{accountName}/workspaces/{workspaceName}
  : delete:
      description: Deletes a machine learning workspace.
      operationId: workspaces_delete
      parameters:
      - description: The client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The Microsoft Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group to which the machine learning
          team account belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the machine learning team account.
        in: path
        name: account_name
        required: true
        schema:
          maxLength: 50
          minLength: 5
          pattern: "^[a-zA-Z0-9]*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the machine learning team account workspace.
        in: path
        name: workspace_name
        required: true
        schema:
          maxLength: 50
          minLength: 5
          pattern: "^[a-zA-Z0-9]*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content: {}
          description: The request was successful; the request was well-formed and
            received properly.
        "204":
          content: {}
          description: The machine learning workspace does not exist in the subscription.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed
      tags:
      - Workspaces
      x-ms-examples:
        WorkspaceDelete:
          parameters:
            accountName: myAccount
            api-version: 2017-05-01-preview
            resourceGroupName: myResourceGroup
            subscriptionId: 00000000-0000-0000-0000-000000000000
            workspaceName: testworkspace
          responses:
            "200": {}
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.workspaces_controller
    get:
      description: Gets the properties of the specified machine learning workspace.
      operationId: workspaces_get
      parameters:
      - description: The client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The Microsoft Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group to which the machine learning
          team account belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the machine learning team account.
        in: path
        name: account_name
        required: true
        schema:
          maxLength: 50
          minLength: 5
          pattern: "^[a-zA-Z0-9]*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the machine learning team account workspace.
        in: path
        name: workspaceName
        required: true
        schema:
          maxLength: 50
          minLength: 5
          pattern: "^[a-zA-Z0-9]*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
          description: The request was successful; the request was well-formed and
            received properly.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed
      tags:
      - Workspaces
      x-ms-examples:
        WorkspaceGet:
          parameters:
            accountName: accountcrud5678
            api-version: 2017-05-01-preview
            resourceGroupName: accountcrud-1234
            subscriptionId: 00000000-1111-2222-3333-444444444444
            workspaceName: testworkspace
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.MachineLearningExperimentation/accounts/accountcrud5678/workspaces/testworkspace
                location: East US 2 EUAP
                name: testworkspace
                properties:
                  creationDate: 2017-03-01T23:14:37.0707808Z
                  friendlyName: testName
                  provisioningState: Succeeded
                tags:
                  tagKey1: TagValue1
                type: Microsoft.MachineLearningExperimentation/accounts/workspaces
      x-openapi-router-controller: openapi_server.controllers.workspaces_controller
    patch:
      description: Updates a machine learning workspace with the specified parameters.
      operationId: workspaces_update
      parameters:
      - description: The client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The Microsoft Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group to which the machine learning
          team account belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the machine learning team account.
        in: path
        name: account_name
        required: true
        schema:
          maxLength: 50
          minLength: 5
          pattern: "^[a-zA-Z0-9]*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the machine learning team account workspace.
        in: path
        name: workspace_name
        required: true
        schema:
          maxLength: 50
          minLength: 5
          pattern: "^[a-zA-Z0-9]*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceUpdateParameters'
        description: The parameters for updating a machine learning workspace.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
          description: The request was successful; the request was well-formed and
            received properly.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed
      tags:
      - Workspaces
      x-ms-examples:
        WorkspaceUpdate:
          parameters:
            accountName: accountcrud5678
            api-version: 2017-05-01-preview
            parameters:
              properties:
                friendlyName: testNameNew
            resourceGroupName: accountcrud-1234
            subscriptionId: 00000000-1111-2222-3333-444444444444
            workspaceName: testworkspace
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.MachineLearningExperimentation/accounts/testaccount/workspaces/testworkspace
                location: East US 2 EUAP
                name: accountcrud5678
                properties:
                  creationDate: 2017-03-01T23:14:37.0707808Z
                  friendlyName: testNameNew
                  provisioningState: Succeeded
                tags:
                  tagKey1: TagValue1
                type: Microsoft.MachineLearningExperimentation/accounts/workspaces
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.workspaces_controller
    put:
      description: Creates or updates a machine learning workspace with the specified
        parameters.
      operationId: workspaces_create_or_update
      parameters:
      - description: The client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The Microsoft Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group to which the machine learning
          team account belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the machine learning team account.
        in: path
        name: account_name
        required: true
        schema:
          maxLength: 50
          minLength: 5
          pattern: "^[a-zA-Z0-9]*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the machine learning team account workspace.
        in: path
        name: workspace_name
        required: true
        schema:
          maxLength: 50
          minLength: 5
          pattern: "^[a-zA-Z0-9]*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Workspace'
        description: The parameters for creating or updating a machine learning workspace.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
          description: The request was successful; the resource already exists and
            was updated.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
          description: The request was successful; the request was well-formed and
            received properly.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed
      tags:
      - Workspaces
      x-ms-examples:
        WorkspaceCreate:
          parameters:
            accountName: testaccount
            api-version: 2017-05-01-preview
            parameters:
              location: East US
              properties:
                friendlyName: testName
              tags:
                tagKey1: TagValue1
            resourceGroupName: myResourceGroup
            subscriptionId: 00000000-0000-0000-0000-000000000000
            workspaceName: testworkspace
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.MachineLearningExperimentation/accounts/testaccount/workspaces/testworkspace
                location: East US
                name: testworkspace
                properties:
                  creationDate: 2017-03-01T23:14:37.0707808Z
                  friendlyName: testName
                  provisioningState: Succeeded
                tags:
                  tagKey1: TagValue1
                type: Microsoft.MachineLearningExperimentation/accounts/workspaces
            "201":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.MachineLearningExperimentation/accounts/testaccount/workspaces/testworkspace
                location: East US
                name: testworkspace
                properties:
                  creationDate: 2017-03-01T23:14:37.0707808Z
                  friendlyName: testName
                  provisioningState: Succeeded
                tags:
                  tagKey1: TagValue1
                type: Microsoft.MachineLearningExperimentation/accounts/workspaces
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.workspaces_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningExperimentation/accounts/{accountName}/workspaces/{workspaceName}/projects/{projectName}
  : delete:
      description: Deletes a project.
      operationId: projects_delete
      parameters:
      - description: The client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The Microsoft Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group to which the machine learning
          team account belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the machine learning team account.
        in: path
        name: account_name
        required: true
        schema:
          maxLength: 50
          minLength: 5
          pattern: "^[a-zA-Z0-9]*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the machine learning team account workspace.
        in: path
        name: workspace_name
        required: true
        schema:
          maxLength: 50
          minLength: 5
          pattern: "^[a-zA-Z0-9]*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the machine learning project under a team account
          workspace.
        in: path
        name: project_name
        required: true
        schema:
          maxLength: 50
          minLength: 5
          pattern: "^[a-zA-Z0-9]*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content: {}
          description: The request was successful; the request was well-formed and
            received properly.
        "204":
          content: {}
          description: The machine learning team account does not exist in the subscription.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed
      tags:
      - Projects
      x-ms-examples:
        AccountCreate:
          parameters:
            accountName: myAccount
            api-version: 2017-05-01-preview
            projectName: testProject
            resourceGroupName: myResourceGroup
            subscriptionId: 00000000-0000-0000-0000-000000000000
            workspaceName: testworkspace
          responses:
            "200": {}
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.projects_controller
    get:
      description: Gets the properties of the specified machine learning project.
      operationId: projects_get
      parameters:
      - description: The client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The Microsoft Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group to which the machine learning
          team account belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the machine learning team account.
        in: path
        name: account_name
        required: true
        schema:
          maxLength: 50
          minLength: 5
          pattern: "^[a-zA-Z0-9]*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the machine learning team account workspace.
        in: path
        name: workspace_name
        required: true
        schema:
          maxLength: 50
          minLength: 5
          pattern: "^[a-zA-Z0-9]*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the machine learning project under a team account
          workspace.
        in: path
        name: projectName
        required: true
        schema:
          maxLength: 50
          minLength: 5
          pattern: "^[a-zA-Z0-9]*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
          description: The request was successful; the request was well-formed and
            received properly.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed
      tags:
      - Projects
      x-ms-examples:
        GetProject:
          parameters:
            accountName: accountcrud5678
            api-version: 2017-05-01-preview
            projectName: testProject
            resourceGroupName: accountcrud-1234
            subscriptionId: 00000000-1111-2222-3333-444444444444
            workspaceName: testworkspace
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.MachineLearningExperimentation/accounts/accountcrud5678/workspaces/testworkspace/projects/testProject
                location: East US 2
                name: testProject
                properties:
                  creationDate: 2017-03-01T23:14:37.0707808Z
                  friendlyName: testName
                  gitrepo: https://github/abc
                  provisioningState: Succeeded
                tags:
                  tagKey1: TagValue1
                type: Microsoft.MachineLearningExperimentation/accounts/workspaces/projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
    patch:
      description: Updates a project with the specified parameters.
      operationId: projects_update
      parameters:
      - description: The client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The Microsoft Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group to which the machine learning
          team account belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the machine learning team account.
        in: path
        name: account_name
        required: true
        schema:
          maxLength: 50
          minLength: 5
          pattern: "^[a-zA-Z0-9]*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the machine learning team account workspace.
        in: path
        name: workspace_name
        required: true
        schema:
          maxLength: 50
          minLength: 5
          pattern: "^[a-zA-Z0-9]*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the machine learning project under a team account
          workspace.
        in: path
        name: project_name
        required: true
        schema:
          maxLength: 50
          minLength: 5
          pattern: "^[a-zA-Z0-9]*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectUpdateParameters'
        description: The parameters for updating a machine learning team account.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
          description: The request was successful; the request was well-formed and
            received properly.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed
      tags:
      - Projects
      x-ms-examples:
        UpdateProject:
          parameters:
            accountName: accountcrud5678
            api-version: 2017-05-01-preview
            parameters:
              properties:
                friendlyName: testName
              tags:
                tagKey1: TagValue1
            projectName: testProject
            resourceGroupName: accountcrud-1234
            subscriptionId: 00000000-1111-2222-3333-444444444444
            workspaceName: testworkspace
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.MachineLearningExperimentation/accounts/testaccount/workspaces/testworkspace/projects/testProject
                location: East US
                name: accountcrud5678
                properties:
                  creationDate: 2017-03-01T23:14:37.0707808Z
                  friendlyName: testName
                  gitrepo: https://github/abc
                  provisioningState: Succeeded
                tags:
                  tagKey1: TagValue1
                type: Microsoft.MachineLearningExperimentation/accounts/workspaces/projects
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.projects_controller
    put:
      description: Creates or updates a project with the specified parameters.
      operationId: projects_create_or_update
      parameters:
      - description: The client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The Microsoft Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group to which the machine learning
          team account belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the machine learning team account.
        in: path
        name: account_name
        required: true
        schema:
          maxLength: 50
          minLength: 5
          pattern: "^[a-zA-Z0-9]*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the machine learning team account workspace.
        in: path
        name: workspace_name
        required: true
        schema:
          maxLength: 50
          minLength: 5
          pattern: "^[a-zA-Z0-9]*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the machine learning project under a team account
          workspace.
        in: path
        name: project_name
        required: true
        schema:
          maxLength: 50
          minLength: 5
          pattern: "^[a-zA-Z0-9]*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Project'
        description: The parameters for creating or updating a project.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
          description: The request was successful; the resource already exists and
            was updated.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
          description: The request was successful; the request was well-formed and
            received properly.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed
      tags:
      - Projects
      x-ms-examples:
        CreateProject:
          parameters:
            accountName: testaccount
            api-version: 2017-05-01-preview
            parameters:
              location: East US
              properties:
                friendlyName: testName
                gitrepo: https://github/abc
              tags:
                tagKey1: TagValue1
            projectName: testProject
            resourceGroupName: myResourceGroup
            subscriptionId: 00000000-0000-0000-0000-000000000000
            workspaceName: testworkspace
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.MachineLearningExperimentation/accounts/testaccount/workspaces/testworkspace/projects/testProject
                location: East US
                name: testProject
                properties:
                  creationDate: 2017-03-01T23:14:37.0707808Z
                  friendlyName: testName
                  gitrepo: https://github/abc
                  provisioningState: Succeeded
                tags:
                  tagKey1: TagValue1
                type: Microsoft.MachineLearningExperimentation/accounts/workspaces/projects
            "201":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.MachineLearningExperimentation/accounts/testaccount/workspaces/testworkspace/projects/testProject
                location: East US
                name: teamAccountcrud5678
                properties:
                  creationDate: 2017-03-01T23:14:37.0707808Z
                  friendlyName: testName
                  gitrepo: https://github/abc
                  provisioningState: Succeeded
                tags:
                  tagKey1: TagValue1
                type: Microsoft.MachineLearningExperimentation/accounts/workspaces/projects
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.projects_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningExperimentation/accounts/{accountName}/workspaces{workspaceName}/projects
  : get:
      description: Lists all the available machine learning projects under the specified
        workspace.
      operationId: projects_list_by_workspace
      parameters:
      - description: The client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The Microsoft Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the machine learning team account.
        in: path
        name: account_name
        required: true
        schema:
          maxLength: 50
          minLength: 5
          pattern: "^[a-zA-Z0-9]*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the machine learning team account workspace.
        in: path
        name: workspace_name
        required: true
        schema:
          maxLength: 50
          minLength: 5
          pattern: "^[a-zA-Z0-9]*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the resource group to which the machine learning
          team account belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectListResult'
          description: The request was successful; the request was well-formed and
            received properly.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed
      tags:
      - Projects
      x-ms-examples:
        ProjectListByWorkspaces:
          parameters:
            accountName: testaccount
            api-version: 2017-05-01-preview
            resourceGroupName: testrg
            subscriptionId: 00000000-1111-2222-3333-444444444444
            workspaceName: testworkspace
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.MachineLearningExperimentation/accounts/accountcrud5678/workspaces/testworkspace/projects/testProject
                  location: East US
                  name: testProject
                  properties:
                    creationDate: 2017-03-01T23:14:37.0707808Z
                    friendlyName: testName
                    gitrepo: https://github/abc
                    provisioningState: Succeeded
                  tags:
                    tagKey1: TagValue1
                  type: Microsoft.MachineLearningExperimentation/accounts/workspaces/projects
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.MachineLearningExperimentation/accounts/accountcrud5678/workspaces/testworkspace/projects/testProject1
                  location: East US
                  name: testProject1
                  properties:
                    creationDate: 2017-03-01T23:14:37.0707808Z
                    friendlyName: testName1
                    gitrepo: https://github/def
                    provisioningState: Succeeded
                  tags:
                    tagKey1: TagValue1
                  type: Microsoft.MachineLearningExperimentation/accounts/workspaces/projects
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.projects_controller
components:
  parameters:
    AccountNameParameter:
      description: The name of the machine learning team account.
      in: path
      name: accountName
      required: true
      schema:
        maxLength: 50
        minLength: 5
        pattern: "^[a-zA-Z0-9]*$"
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ApiVersionParameter:
      description: The client API version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    ProjectNameParameter:
      description: The name of the machine learning project under a team account workspace.
      in: path
      name: projectName
      required: true
      schema:
        maxLength: 50
        minLength: 5
        pattern: "^[a-zA-Z0-9]*$"
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ResourceGroupParameter:
      description: The name of the resource group to which the machine learning team
        account belongs.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: The Microsoft Azure subscription ID.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
    WorkspaceNameParameter:
      description: The name of the machine learning team account workspace.
      in: path
      name: workspaceName
      required: true
      schema:
        maxLength: 50
        minLength: 5
        pattern: "^[a-zA-Z0-9]*$"
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  schemas:
    Account:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: An object that represents a machine learning team account.
      example:
        properties:
          accountId: accountId
          vsoAccountId: vsoAccountId
          description: description
          provisioningState: Creating
          creationDate: 2000-01-23T04:56:07.000+00:00
          discoveryUri: discoveryUri
          storageAccount:
            storageAccountId: storageAccountId
            accessKey: accessKey
          seats: seats
          friendlyName: friendlyName
          keyVaultId: keyVaultId
      properties:
        properties:
          $ref: '#/components/schemas/AccountProperties'
      title: Account
    AccountListResult:
      description: The result of a request to list machine learning team accounts.
      example:
        value:
        - properties:
            accountId: accountId
            vsoAccountId: vsoAccountId
            description: description
            provisioningState: Creating
            creationDate: 2000-01-23T04:56:07.000+00:00
            discoveryUri: discoveryUri
            storageAccount:
              storageAccountId: storageAccountId
              accessKey: accessKey
            seats: seats
            friendlyName: friendlyName
            keyVaultId: keyVaultId
        - properties:
            accountId: accountId
            vsoAccountId: vsoAccountId
            description: description
            provisioningState: Creating
            creationDate: 2000-01-23T04:56:07.000+00:00
            discoveryUri: discoveryUri
            storageAccount:
              storageAccountId: storageAccountId
              accessKey: accessKey
            seats: seats
            friendlyName: friendlyName
            keyVaultId: keyVaultId
        nextLink: nextLink
      properties:
        nextLink:
          description: The URI that can be used to request the next list of machine
            learning team accounts.
          title: nextLink
          type: string
        value:
          description: "The list of machine learning team accounts. Since this list\
            \ may be incomplete, the nextLink field should be used to request the\
            \ next list of machine learning team accounts."
          items:
            $ref: '#/components/schemas/Account'
          title: value
          type: array
      title: AccountListResult
      type: object
    AccountProperties:
      description: The properties of a machine learning team account.
      example:
        accountId: accountId
        vsoAccountId: vsoAccountId
        description: description
        provisioningState: Creating
        creationDate: 2000-01-23T04:56:07.000+00:00
        discoveryUri: discoveryUri
        storageAccount:
          storageAccountId: storageAccountId
          accessKey: accessKey
        seats: seats
        friendlyName: friendlyName
        keyVaultId: keyVaultId
      properties:
        accountId:
          description: The immutable id associated with this team account.
          readOnly: true
          title: accountId
          type: string
        creationDate:
          description: The creation date of the machine learning team account in ISO8601
            format.
          format: date-time
          readOnly: true
          title: creationDate
          type: string
        description:
          description: The description of this workspace.
          title: description
          type: string
        discoveryUri:
          description: The uri for this machine learning team account.
          readOnly: true
          title: discoveryUri
          type: string
        friendlyName:
          description: The friendly name for this workspace. This will be the workspace
            name in the arm id when the workspace object gets created
          title: friendlyName
          type: string
        keyVaultId:
          description: The fully qualified arm id of the user key vault.
          title: keyVaultId
          type: string
        provisioningState:
          description: The current deployment state of team account resource. The
            provisioningState is to indicate states for resource provisioning.
          enum:
          - Creating
          - Succeeded
          - Updating
          - Deleting
          - Failed
          readOnly: true
          title: provisioningState
          type: string
          x-ms-enum:
            modelAsString: false
            name: ProvisioningState
        seats:
          description: The no of users/seats who can access this team account. This
            property defines the charge on the team account.
          title: seats
          type: string
        storageAccount:
          $ref: '#/components/schemas/StorageAccountProperties'
        vsoAccountId:
          description: The fully qualified arm id of the vso account to be used for
            this team account.
          title: vsoAccountId
          type: string
      required:
      - keyVaultId
      - storageAccount
      - vsoAccountId
      title: AccountProperties
      type: object
    AccountPropertiesUpdateParameters:
      description: The parameters for updating the properties of a machine learning
        team account.
      example:
        description: description
        storageAccountKey: storageAccountKey
        seats: seats
        friendlyName: friendlyName
      properties:
        description:
          description: The description of this workspace.
          title: description
          type: string
        friendlyName:
          description: The friendly name for this workspace. This will be the workspace
            name in the arm id when the workspace object gets created
          title: friendlyName
          type: string
        seats:
          description: The no of users/seats who can access this team account. This
            property defines the charge on the team account.
          title: seats
          type: string
        storageAccountKey:
          description: The key for storage account associated with this team account
          title: storageAccountKey
          type: string
      title: AccountPropertiesUpdateParameters
      type: object
    AccountUpdateParameters:
      description: The parameters for updating a machine learning team account.
      example:
        properties:
          description: description
          storageAccountKey: storageAccountKey
          seats: seats
          friendlyName: friendlyName
        tags:
          key: tags
      properties:
        properties:
          $ref: '#/components/schemas/AccountPropertiesUpdateParameters'
        tags:
          additionalProperties:
            type: string
          description: The resource tags for the machine learning team account.
          title: tags
          type: object
      title: AccountUpdateParameters
      type: object
    ErrorResponse:
      description: The error response send when an operation fails.
      example:
        code: code
        message: message
      properties:
        code:
          description: error code
          title: code
          type: string
        message:
          description: error message
          title: message
          type: string
      required:
      - code
      - message
      title: ErrorResponse
      type: object
    Operation:
      description: Azure Machine Learning team account REST API operation
      example:
        display:
          provider: provider
          resource: resource
          description: description
          operation: operation
        name: name
      properties:
        display:
          $ref: '#/components/schemas/Operation_display'
        name:
          description: "Operation name: {provider}/{resource}/{operation}"
          title: name
          type: string
      title: Operation
      type: object
    OperationListResult:
      description: An array of operations supported by the resource provider.
      example:
        value:
        - display:
            provider: provider
            resource: resource
            description: description
            operation: operation
          name: name
        - display:
            provider: provider
            resource: resource
            description: description
            operation: operation
          name: name
      properties:
        value:
          description: List of AML team account operations supported by the AML team
            account resource provider.
          items:
            $ref: '#/components/schemas/Operation'
          title: value
          type: array
      title: OperationListResult
      type: object
    Project:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: An object that represents a machine learning project.
      example:
        properties:
          accountId: accountId
          gitrepo: gitrepo
          description: description
          provisioningState: Creating
          creationDate: 2000-01-23T04:56:07.000+00:00
          projectId: projectId
          friendlyName: friendlyName
          workspaceId: workspaceId
      properties:
        properties:
          $ref: '#/components/schemas/ProjectProperties'
      title: Project
    ProjectListResult:
      description: The result of a request to list projects.
      example:
        value:
        - properties:
            accountId: accountId
            gitrepo: gitrepo
            description: description
            provisioningState: Creating
            creationDate: 2000-01-23T04:56:07.000+00:00
            projectId: projectId
            friendlyName: friendlyName
            workspaceId: workspaceId
        - properties:
            accountId: accountId
            gitrepo: gitrepo
            description: description
            provisioningState: Creating
            creationDate: 2000-01-23T04:56:07.000+00:00
            projectId: projectId
            friendlyName: friendlyName
            workspaceId: workspaceId
        nextLink: nextLink
      properties:
        nextLink:
          description: The URI that can be used to request the next list of projects.
          title: nextLink
          type: string
        value:
          description: "The list of projects. Since this list may be incomplete, the\
            \ nextLink field should be used to request the next list of projects."
          items:
            $ref: '#/components/schemas/Project'
          title: value
          type: array
      title: ProjectListResult
      type: object
    ProjectProperties:
      description: The properties of a machine learning project.
      example:
        accountId: accountId
        gitrepo: gitrepo
        description: description
        provisioningState: Creating
        creationDate: 2000-01-23T04:56:07.000+00:00
        projectId: projectId
        friendlyName: friendlyName
        workspaceId: workspaceId
      properties:
        accountId:
          description: The immutable id of the team account which contains this project.
          readOnly: true
          title: accountId
          type: string
        creationDate:
          description: The creation date of the project in ISO8601 format.
          format: date-time
          readOnly: true
          title: creationDate
          type: string
        description:
          description: The description of this project.
          title: description
          type: string
        friendlyName:
          description: The friendly name for this project.
          title: friendlyName
          type: string
        gitrepo:
          description: The reference to git repo for this project.
          title: gitrepo
          type: string
        projectId:
          description: The immutable id of this project.
          readOnly: true
          title: projectId
          type: string
        provisioningState:
          description: The current deployment state of project resource. The provisioningState
            is to indicate states for resource provisioning.
          enum:
          - Creating
          - Succeeded
          - Updating
          - Deleting
          - Failed
          readOnly: true
          title: provisioningState
          type: string
          x-ms-enum:
            modelAsString: false
            name: ProvisioningState
        workspaceId:
          description: The immutable id of the workspace which contains this project.
          readOnly: true
          title: workspaceId
          type: string
      required:
      - friendlyName
      title: ProjectProperties
      type: object
    ProjectPropertiesUpdateParameters:
      description: The parameters for updating the properties of a project.
      example:
        gitrepo: gitrepo
        description: description
        friendlyName: friendlyName
      properties:
        description:
          description: The description of this project.
          title: description
          type: string
        friendlyName:
          description: The friendly name for this project.
          title: friendlyName
          type: string
        gitrepo:
          description: The reference to git repo for this project.
          title: gitrepo
          type: string
      title: ProjectPropertiesUpdateParameters
      type: object
    ProjectUpdateParameters:
      description: The parameters for updating a machine learning project.
      example:
        properties:
          gitrepo: gitrepo
          description: description
          friendlyName: friendlyName
        tags:
          key: tags
      properties:
        properties:
          $ref: '#/components/schemas/ProjectPropertiesUpdateParameters'
        tags:
          additionalProperties:
            type: string
          description: The resource tags for the machine learning project.
          title: tags
          type: object
      title: ProjectUpdateParameters
      type: object
    Resource:
      description: An Azure resource.
      properties:
        id:
          description: The resource ID.
          readOnly: true
          title: id
          type: string
        location:
          description: The location of the resource. This cannot be changed after
            the resource is created.
          title: location
          type: string
        name:
          description: The name of the resource.
          readOnly: true
          title: name
          type: string
        tags:
          additionalProperties:
            type: string
          description: The tags of the resource.
          title: tags
          type: object
        type:
          description: The type of the resource.
          readOnly: true
          title: type
          type: string
      required:
      - location
      title: Resource
      type: object
      x-ms-azure-resource: true
    StorageAccountProperties:
      description: The properties of a storage account for a machine learning team
        account.
      example:
        storageAccountId: storageAccountId
        accessKey: accessKey
      properties:
        accessKey:
          description: The access key to the storage account.
          title: accessKey
          type: string
        storageAccountId:
          description: The fully qualified arm Id of the storage account.
          title: storageAccountId
          type: string
      required:
      - accessKey
      - storageAccountId
      title: StorageAccountProperties
      type: object
    Workspace:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: An object that represents a machine learning team account workspace.
      example:
        properties:
          accountId: accountId
          description: description
          provisioningState: Creating
          creationDate: 2000-01-23T04:56:07.000+00:00
          friendlyName: friendlyName
          workspaceId: workspaceId
      properties:
        properties:
          $ref: '#/components/schemas/WorkspaceProperties'
      title: Workspace
    WorkspaceListResult:
      description: The result of a request to list machine learning team account workspaces.
      example:
        value:
        - properties:
            accountId: accountId
            description: description
            provisioningState: Creating
            creationDate: 2000-01-23T04:56:07.000+00:00
            friendlyName: friendlyName
            workspaceId: workspaceId
        - properties:
            accountId: accountId
            description: description
            provisioningState: Creating
            creationDate: 2000-01-23T04:56:07.000+00:00
            friendlyName: friendlyName
            workspaceId: workspaceId
        nextLink: nextLink
      properties:
        nextLink:
          description: The URI that can be used to request the next list of machine
            learning workspaces.
          title: nextLink
          type: string
        value:
          description: "The list of machine learning team account workspaces. Since\
            \ this list may be incomplete, the nextLink field should be used to request\
            \ the next list of machine learning team accounts."
          items:
            $ref: '#/components/schemas/Workspace'
          title: value
          type: array
      title: WorkspaceListResult
      type: object
    WorkspaceProperties:
      description: The properties of a machine learning team account workspace.
      example:
        accountId: accountId
        description: description
        provisioningState: Creating
        creationDate: 2000-01-23T04:56:07.000+00:00
        friendlyName: friendlyName
        workspaceId: workspaceId
      properties:
        accountId:
          description: The immutable id of the team account which contains this workspace.
          readOnly: true
          title: accountId
          type: string
        creationDate:
          description: The creation date of the machine learning workspace in ISO8601
            format.
          format: date-time
          readOnly: true
          title: creationDate
          type: string
        description:
          description: The description of this workspace.
          title: description
          type: string
        friendlyName:
          description: The friendly name for this workspace. This will be the workspace
            name in the arm id when the workspace object gets created
          title: friendlyName
          type: string
        provisioningState:
          description: The current deployment state of team account workspace resource.
            The provisioningState is to indicate states for resource provisioning.
          enum:
          - Creating
          - Succeeded
          - Updating
          - Deleting
          - Failed
          readOnly: true
          title: provisioningState
          type: string
          x-ms-enum:
            modelAsString: false
            name: ProvisioningState
        workspaceId:
          description: The immutable id of this workspace.
          readOnly: true
          title: workspaceId
          type: string
      required:
      - friendlyName
      title: WorkspaceProperties
      type: object
    WorkspacePropertiesUpdateParameters:
      description: The parameters for updating the properties of a machine learning
        team account workspace.
      example:
        description: description
        friendlyName: friendlyName
      properties:
        description:
          description: Description for this workspace.
          title: description
          type: string
        friendlyName:
          description: Friendly name of this workspace.
          title: friendlyName
          type: string
      title: WorkspacePropertiesUpdateParameters
      type: object
    WorkspaceUpdateParameters:
      description: The parameters for updating a machine learning team account workspace.
      example:
        properties:
          description: description
          friendlyName: friendlyName
        tags:
          key: tags
      properties:
        properties:
          $ref: '#/components/schemas/WorkspacePropertiesUpdateParameters'
        tags:
          additionalProperties:
            type: string
          description: The resource tags for the machine learning team account workspace.
          title: tags
          type: object
      title: WorkspaceUpdateParameters
      type: object
    Operation_display:
      description: Display name of operation
      example:
        provider: provider
        resource: resource
        description: description
        operation: operation
      properties:
        description:
          description: The description for the operation.
          title: description
          type: string
        operation:
          description: The operation that users can perform.
          title: operation
          type: string
        provider:
          description: "The resource provider name: Microsoft.MachineLearningExperimentation"
          title: provider
          type: string
        resource:
          description: The resource on which the operation is performed.
          title: resource
          type: string
      title: Operation_display
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
