openapi: 3.0.1
info:
  description: Storage system operation endpoints and objects.
  title: FabricAdminClient
  version: 2016-05-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/fabric/Microsoft.Fabric.Admin/preview/2016-05-01/StorageSystem.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: azsadmin-StorageSystem
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://adminmanagement.local.azurestack.external/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/storageSubSystems
  : get:
      description: Returns a list of all storage subsystems for a location.
      operationId: storage_systems_list
      parameters:
      - description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Location of the resource.
        in: path
        name: location
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api-version
        required: true
        schema:
          default: 2016-05-01
          type: string
      - description: OData filter parameter.
        in: query
        name: $filter
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageSystemList'
          description: OK
        "404":
          content: {}
          description: NOT FOUND
      tags:
      - StorageSystems
      x-ms-examples:
        Returns a list of all storage subsystems for a location.:
          parameters:
            api-version: 2016-05-01
            location: local
            resourceGroupName: System.local
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/36e98cad-c8a5-4580-bef7-af878a237908/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/storageSubSystems/S-Cluster.azurestack.local
                  location: local
                  name: S-Cluster.azurestack.local
                  properties:
                    totalCapacityGB: 2540
                  tags: {}
                  type: Microsoft.Fabric.Admin/fabricLocations/storageSubSystems
            "404": {}
      x-ms-odata: '#/definitions/StorageSystem'
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.storage_systems_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/storageSubSystems/{storageSubSystem}
  : get:
      description: Return the requested storage subsystem.
      operationId: storage_systems_get
      parameters:
      - description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Location of the resource.
        in: path
        name: location
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the storage system.
        in: path
        name: storageSubSystem
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api-version
        required: true
        schema:
          default: 2016-05-01
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageSystem'
          description: OK
        "404":
          content: {}
          description: NOT FOUND
      tags:
      - StorageSystems
      x-ms-examples:
        Return the requested storage subsystem.:
          parameters:
            api-version: 2016-05-01
            location: local
            resourceGroupName: System.local
            storageSubSystem: S-Cluster.azurestack.local
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                id: /subscriptions/36e98cad-c8a5-4580-bef7-af878a237908/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/storageSubSystems/S-Cluster.azurestack.local
                location: local
                name: S-Cluster.azurestack.local
                properties:
                  totalCapacityGB: 2540
                tags: {}
                type: Microsoft.Fabric.Admin/fabricLocations/storageSubSystems
            "404": {}
      x-openapi-router-controller: openapi_server.controllers.storage_systems_controller
components:
  parameters:
    StorageSubSystemParameter:
      description: Name of the storage system.
      in: path
      name: storageSubSystem
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  schemas:
    StorageSystem:
      allOf:
      - description: Base resource object.
        properties:
          id:
            description: URI of the resource.
            readOnly: true
            type: string
          location:
            description: The region where the resource is located.
            type: string
          name:
            description: Name of the resource.
            readOnly: true
            type: string
          tags:
            additionalProperties:
              type: string
            description: List of key-value pairs.
            type: object
          type:
            description: Type of resource.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: Representation of a storage system resource.
      example:
        properties:
          totalCapacityGB: 0
      properties:
        properties:
          $ref: '#/components/schemas/StorageSystemModel'
      title: StorageSystem
    StorageSystemList:
      description: Pageable list of storage systems.
      example:
        value:
        - properties:
            totalCapacityGB: 0
        - properties:
            totalCapacityGB: 0
        nextLink: nextLink
      properties:
        nextLink:
          description: URI to the next page.
          title: nextLink
          type: string
        value:
          description: List of storage systems.
          items:
            $ref: '#/components/schemas/StorageSystem'
          title: value
          type: array
      title: StorageSystemList
      type: object
    StorageSystemModel:
      description: All properties of a storage system.
      example:
        totalCapacityGB: 0
      properties:
        totalCapacityGB:
          description: Total capacity of the system.
          format: int32
          title: totalCapacityGB
          type: integer
      title: StorageSystemModel
      type: object
  securitySchemes:
    azure_auth:
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
