openapi: 3.0.1
info:
  description: These APIs allow end users to operate on Azure Machine Learning Workspace
    resources.
  title: Azure Machine Learning Workspaces
  version: 2018-03-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2018-03-01-preview/machineLearningServices.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: machinelearningservices-machineLearningServices
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.MachineLearningServices/operations:
    get:
      description: Lists all of the available Azure Machine Learning Workspaces REST
        API operations.
      operationId: operations_list
      parameters:
      - description: Version of Azure Machine Learning resource provider API.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
          description: The request was successful; the request was well-formed and
            received properly.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MachineLearningServiceError'
          description: Error response describing why the operation failed
      tags:
      - Operation
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.operation_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.MachineLearningServices/workspaces:
    get:
      description: Lists all the available machine learning workspaces under the specified
        subscription.
      operationId: workspaces_list_by_subscription
      parameters:
      - description: Version of Azure Machine Learning resource provider API.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Azure subscription identifier.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Continuation token for pagination.
        in: query
        name: $skiptoken
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceListResult'
          description: The request was successful; the request was well-formed and
            received properly.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MachineLearningServiceError'
          description: Error response describing why the operation failed
      tags:
      - Workspaces
      x-ms-examples:
        Get Workspaces by subscription:
          parameters:
            api-version: 2018-03-01-preview
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                nextLink: nextLink
                value:
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.MachineLearningServices/workspaces/testworkspace
                  location: eastus2euap
                  name: testworkspace
                  properties:
                    applicationInsights: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/microsoft.insights/components/testinsights
                    batchaiWorkspace: /subscriptions/00000000-1111-2222-3333-444444444444/resourcegroups/workspace-1234/providers/Microsoft.BatchAI/workspaces/testBatchAIWorkspace
                    containerRegistry: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.ContainerRegistry/registries/testRegistry
                    creationTime: 2017-03-01T23:14:37.0707808Z
                    description: test description
                    discoveryUrl: http://example.com
                    friendlyName: HelloName
                    keyVault: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.KeyVault/vaults/testkv
                    storageAccount: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.Storage/storageAccounts/testStorageAccount
                  type: Microsoft.MachineLearningServices/workspaces
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-5678/providers/Microsoft.MachineLearningServices/workspaces/testworkspace
                  location: eastus2euap
                  name: testworkspace
                  properties:
                    applicationInsights: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/microsoft.insights/components/testinsights
                    batchaiWorkspace: /subscriptions/00000000-1111-2222-3333-444444444444/resourcegroups/workspace-1234/providers/Microsoft.BatchAI/workspaces/testBatchAIWorkspace
                    containerRegistry: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.ContainerRegistry/registries/testRegistryNew
                    creationTime: 2017-03-01T23:14:37.0707808Z
                    description: test description
                    discoveryUrl: http://example.com
                    friendlyName: HelloName
                    keyVault: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.KeyVault/vaults/testkvNew
                    storageAccount: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.Storage/storageAccounts/testStorageAccountOld
                  type: Microsoft.MachineLearningServices/workspaces
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.workspaces_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces:
    get:
      description: Lists all the available machine learning workspaces under the specified
        resource group.
      operationId: workspaces_list_by_resource_group
      parameters:
      - description: Version of Azure Machine Learning resource provider API.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Azure subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Name of the resource group in which workspace is located.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Continuation token for pagination.
        in: query
        name: skiptoken
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceListResult'
          description: The request was successful; the request was well-formed and
            received properly.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MachineLearningServiceError'
          description: Error response describing why the operation failed
      tags:
      - Workspaces
      x-ms-examples:
        Get Workspaces by Resource Group:
          parameters:
            api-version: 2018-03-01-preview
            resourceGroupName: workspace-1234
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                nextLink: nextLink
                value:
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.MachineLearningServices/workspaces/testworkspace
                  location: eastus2euap
                  name: testworkspace
                  properties:
                    applicationInsights: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/microsoft.insights/components/testinsights
                    batchaiWorkspace: /subscriptions/00000000-1111-2222-3333-444444444444/resourcegroups/workspace-1234/providers/Microsoft.BatchAI/workspaces/testBatchAIWorkspace
                    containerRegistry: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.ContainerRegistry/registries/testRegistry
                    creationTime: 2017-03-01T23:14:37.0707808Z
                    description: test description
                    discoveryUrl: http://example.com
                    friendlyName: HelloName
                    keyVault: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.KeyVault/vaults/testkv
                    storageAccount: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.Storage/storageAccounts/testStorageAccount
                  type: Microsoft.MachineLearningServices/workspaces
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.MachineLearningServices/workspaces/testworkspace1
                  location: eastus2euap
                  name: testworkspace1
                  properties:
                    applicationInsights: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/microsoft.insights/components/testinsights
                    batchaiWorkspace: /subscriptions/00000000-1111-2222-3333-444444444444/resourcegroups/workspace-1234/providers/Microsoft.BatchAI/workspaces/testBatchAIWorkspace
                    containerRegistry: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.ContainerRegistry/registries/testRegistryNew
                    creationTime: 2017-03-01T23:14:37.0707808Z
                    description: test description
                    discoveryUrl: http://example.com
                    friendlyName: HelloName 1
                    keyVault: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.KeyVault/vaults/testkvNew
                    storageAccount: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.Storage/storageAccounts/testStorageAccountOld
                  type: Microsoft.MachineLearningServices/workspaces
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.workspaces_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}
  : delete:
      description: Deletes a machine learning workspace.
      operationId: workspaces_delete
      parameters:
      - description: Version of Azure Machine Learning resource provider API.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Azure subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Name of the resource group in which workspace is located.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of Azure Machine Learning workspace.
        in: path
        name: workspace_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content: {}
          description: The request was successful; the request was well-formed and
            received properly.
        "204":
          content: {}
          description: The machine learning workspace does not exist in the subscription.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MachineLearningServiceError'
          description: Error response describing why the operation failed
      tags:
      - Workspaces
      x-ms-examples:
        Delete Workspace:
          parameters:
            api-version: 2018-03-01-preview
            resourceGroupName: workspace-1234
            subscriptionId: 00000000-1111-2222-3333-444444444444
            workspaceName: testworkspace
          responses:
            "200": {}
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.workspaces_controller
    get:
      description: Gets the properties of the specified machine learning workspace.
      operationId: workspaces_get
      parameters:
      - description: Version of Azure Machine Learning resource provider API.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Azure subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Name of the resource group in which workspace is located.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of Azure Machine Learning workspace.
        in: path
        name: workspaceName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
          description: The request was successful; the request was well-formed and
            received properly.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MachineLearningServiceError'
          description: Error response describing why the operation failed
      tags:
      - Workspaces
      x-ms-examples:
        Get Workspace:
          parameters:
            api-version: 2018-03-01-preview
            resourceGroupName: workspace-1234
            subscriptionId: 00000000-1111-2222-3333-444444444444
            workspaceName: testworkspace
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.MachineLearningServices/workspaces/testworkspace
                location: eastus2euap
                name: testworkspace
                properties:
                  applicationInsights: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/microsoft.insights/components/testinsights
                  batchaiWorkspace: /subscriptions/00000000-1111-2222-3333-444444444444/resourcegroups/workspace-1234/providers/Microsoft.BatchAI/workspaces/testBatchAIWorkspace
                  containerRegistry: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.ContainerRegistry/registries/testRegistry
                  creationTime: 2017-03-01T23:14:37.0707808Z
                  description: test description
                  discoveryUrl: http://example.com
                  friendlyName: HelloName
                  keyVault: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.KeyVault/vaults/testkv
                  storageAccount: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.Storage/storageAccounts/testStorageAccount
                type: Microsoft.MachineLearningServices/workspaces
      x-openapi-router-controller: openapi_server.controllers.workspaces_controller
    patch:
      description: Updates a machine learning workspace with the specified parameters.
      operationId: workspaces_update
      parameters:
      - description: Version of Azure Machine Learning resource provider API.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Azure subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Name of the resource group in which workspace is located.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of Azure Machine Learning workspace.
        in: path
        name: workspace_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceUpdateParameters'
        description: The parameters for updating a machine learning workspace.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
          description: The request was successful; the request was well-formed and
            received properly.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MachineLearningServiceError'
          description: Error response describing why the operation failed
      tags:
      - Workspaces
      x-ms-examples:
        Update Workspace:
          parameters:
            api-version: 2018-03-01-preview
            parameters:
              properties:
                description: new description
                friendlyName: New friendly name
            resourceGroupName: workspace-1234
            subscriptionId: 00000000-1111-2222-3333-444444444444
            workspaceName: testworkspace
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.MachineLearningServices/workspaces/testworkspace
                location: eastus2euap
                name: testworkspace
                properties:
                  applicationInsights: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/microsoft.insights/components/testinsights
                  batchaiWorkspace: /subscriptions/00000000-1111-2222-3333-444444444444/resourcegroups/workspace-1234/providers/Microsoft.BatchAI/workspaces/testBatchAIWorkspace
                  containerRegistry: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.ContainerRegistry/registries/testRegistry
                  creationTime: 2017-03-01T23:14:37.0707808Z
                  description: new description
                  discoveryUrl: http://example.com
                  friendlyName: New friendly name
                  keyVault: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.KeyVault/vaults/testkv
                  storageAccount: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.Storage/storageAccounts/testStorageAccount
                type: Microsoft.MachineLearningServices/workspaces
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.workspaces_controller
    put:
      description: Creates or updates a workspace with the specified parameters.
      operationId: workspaces_create_or_update
      parameters:
      - description: Version of Azure Machine Learning resource provider API.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Azure subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Name of the resource group in which workspace is located.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of Azure Machine Learning workspace.
        in: path
        name: workspace_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Workspace'
        description: The parameters for creating or updating a machine learning workspace.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
          description: The request was successful; the request was well-formed and
            received properly.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
          description: The request was successful; the request was well-formed and
            received properly.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MachineLearningServiceError'
          description: Error response describing why the operation failed
      tags:
      - Workspaces
      x-ms-examples:
        Create Workspace:
          parameters:
            api-version: 2018-03-01-preview
            parameters:
              location: eastus2euap
              properties:
                applicationInsights: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/microsoft.insights/components/testinsights
                batchaiWorkspace: /subscriptions/00000000-1111-2222-3333-444444444444/resourcegroups/workspace-1234/providers/Microsoft.BatchAI/workspaces/testBatchAIWorkspace
                containerRegistry: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.ContainerRegistry/registries/testRegistry
                description: test description
                friendlyName: HelloName
                keyVault: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.KeyVault/vaults/testkv
                storageAccount: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.Storage/storageAccounts/testStorageAccount
            resourceGroupName: workspace-1234
            subscriptionId: 00000000-1111-2222-3333-444444444444
            workspaceName: testworkspace
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.MachineLearningServices/workspaces/testworkspace
                location: eastus2euap
                name: testworkspace
                properties:
                  applicationInsights: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/microsoft.insights/components/testinsights
                  batchaiWorkspace: /subscriptions/00000000-1111-2222-3333-444444444444/resourcegroups/workspace-1234/providers/Microsoft.BatchAI/workspaces/testBatchAIWorkspace
                  containerRegistry: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.ContainerRegistry/registries/testRegistry
                  creationTime: 2017-03-01T23:14:37.0707808Z
                  description: test description
                  discoveryUrl: http://example.com
                  friendlyName: HelloName
                  keyVault: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.KeyVault/vaults/testkv
                  storageAccount: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.Storage/storageAccounts/testStorageAccount
                type: Microsoft.MachineLearningServices/workspaces
            "201":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.MachineLearningServices/workspaces/testworkspace
                location: eastus2euap
                name: testworkspace
                properties:
                  applicationInsights: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/microsoft.insights/components/testinsights
                  batchaiWorkspace: /subscriptions/00000000-1111-2222-3333-444444444444/resourcegroups/workspace-1234/providers/Microsoft.BatchAI/workspaces/testBatchAIWorkspace
                  containerRegistry: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.ContainerRegistry/registries/testRegistry
                  creationTime: 2017-03-01T23:14:37.0707808Z
                  description: test description
                  discoveryUrl: http://example.com
                  friendlyName: HelloName
                  keyVault: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.KeyVault/vaults/testkv
                  storageAccount: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.Storage/storageAccounts/testStorageAccount
                type: Microsoft.MachineLearningServices/workspaces
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.workspaces_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/computes
  : get:
      description: Gets computes in specified workspace.
      operationId: machine_learning_compute_list_by_workspace
      parameters:
      - description: Azure subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Name of the resource group in which workspace is located.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of Azure Machine Learning workspace.
        in: path
        name: workspace_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of Azure Machine Learning resource provider API.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Continuation token for pagination.
        in: query
        name: skiptoken
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedComputeResourcesList'
          description: "The response includes a paginated array of Machine Learning\
            \ computes and a URI to the next set of results, if any. For the more\
            \ information the limits of the number of items in a resource group, see\
            \ https://azure.microsoft.com/en-us/documentation/articles/azure-subscription-service-limits/."
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MachineLearningServiceError'
          description: Error response describing why the request failed.
      tags:
      - OperationalizationClusters
      - MachineLearningComputes
      x-ms-examples:
        Get Computes:
          parameters:
            api-version: 2018-03-01-preview
            resourceGroupName: testrg123
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
            workspaceName: workspaces123
          responses:
            "200":
              body:
                nextLink: nextLink
                value:
                - id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.MachineLearningServices/workspaces/workspaces123/computes/compute123
                  location: eastus
                  name: compute123
                  properties:
                    computeType: AKS
                    description: some compute
                    provisioningState: Succeeded
                    resourceId: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourcegroups/testrg123/providers/Microsoft.ContainerService/managedClusters/compute123-56826-c9b00420020b2
                  type: Microsoft.MachineLearningServices/workspaces/computes
                - id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.MachineLearningServices/workspaces/workspaces123/computes/compute1234
                  location: eastus
                  name: compute1234
                  properties:
                    computeType: AKS
                    description: some compute
                    provisioningState: Succeeded
                    resourceId: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourcegroups/testrg123/providers/Microsoft.ContainerService/managedClusters/compute1234-56826-c9b00420020b2
                  type: Microsoft.MachineLearningServices/workspaces/computes
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.operationalization_clusters_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/computes/{computeName}
  : delete:
      description: Deletes specified Machine Learning compute.
      operationId: machine_learning_compute_delete
      parameters:
      - description: Azure subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Name of the resource group in which workspace is located.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of Azure Machine Learning workspace.
        in: path
        name: workspace_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the Azure Machine Learning compute.
        in: path
        name: compute_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of Azure Machine Learning resource provider API.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: The request was successful; the request was well-formed and
            received properly.
        "202":
          content: {}
          description: Compute deletion initiated.
          headers:
            Azure-AsyncOperation:
              description: URI to poll for asynchronous operation status.
              schema:
                type: string
            Location:
              description: URI to poll for asynchronous operation result.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MachineLearningServiceError'
          description: Error response describing why the request failed.
      tags:
      - OperationalizationClusters
      - MachineLearningComputes
      x-ms-examples:
        Delete Compute:
          parameters:
            api-version: 2018-03-01-preview
            computeName: compute123
            resourceGroupName: testrg123
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
            workspaceName: workspaces123
          responses:
            "200": {}
            "202":
              headers:
                Azure-AsyncOperation: https://management.azure.com/subscriptions/...pathToOperationStatus...
                Location: https://management.azure.com/subscriptions/...pathToOperationResult...
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.operationalization_clusters_controller
    get:
      description: "Gets compute definition by its name. Any secrets (storage keys,\
        \ service credentials, etc) are not returned - use 'keys' nested resource\
        \ to get them."
      operationId: machine_learning_compute_get
      parameters:
      - description: Azure subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Name of the resource group in which workspace is located.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of Azure Machine Learning workspace.
        in: path
        name: workspace_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the Azure Machine Learning compute.
        in: path
        name: computeName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of Azure Machine Learning resource provider API.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComputeResource'
          description: Success.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MachineLearningServiceError'
          description: Error response describing why the request failed.
      tags:
      - OperationalizationClusters
      - MachineLearningComputes
      x-ms-examples:
        Get a AKS Compute:
          parameters:
            api-version: 2018-03-01-preview
            computeName: compute123
            resourceGroupName: testrg123
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
            workspaceName: workspaces123
          responses:
            "200":
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.MachineLearningServices/workspaces/workspaces123/computes/compute123
                location: eastus
                name: compute123
                properties:
                  computeType: AKS
                  description: some compute
                  provisioningState: Succeeded
                  resourceId: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourcegroups/testrg123/providers/Microsoft.ContainerService/managedClusters/compute123-56826-c9b00420020b2
                type: Microsoft.MachineLearningServices/workspaces/computes
        Get a BatchAI Compute:
          parameters:
            api-version: 2018-03-01-preview
            computeName: compute123
            resourceGroupName: testrg123
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
            workspaceName: workspaces123
          responses:
            "200":
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.MachineLearningServices/workspaces/workspaces123/computes/compute123
                location: eastus2
                name: compute123
                properties:
                  computeType: BatchAI
                  description: some compute
                  provisioningState: Succeeded
                  resourceId: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.BatchAI/clusters/compute123-ccb488844dcc2
                type: Microsoft.MachineLearningServices/workspaces/computes
      x-openapi-router-controller: openapi_server.controllers.operationalization_clusters_controller
    post:
      description: System Update On Machine Learning compute.
      operationId: machine_learning_compute_system_update
      parameters:
      - description: Azure subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Name of the resource group in which workspace is located.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of Azure Machine Learning workspace.
        in: path
        name: workspace_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the Azure Machine Learning compute.
        in: path
        name: compute_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of Azure Machine Learning resource provider API.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Compute System updated.
        "202":
          content: {}
          description: Compute System Update initiated.
          headers:
            Azure-AsyncOperation:
              description: URI to poll for asynchronous operation status.
              schema:
                type: string
            Location:
              description: URI to poll for asynchronous operation result.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MachineLearningServiceError'
          description: Error response describing why the request failed.
      tags:
      - OperationalizationClusters
      - MachineLearningComputes
      x-ms-examples:
        System Update Compute:
          parameters:
            api-version: 2018-03-01-preview
            computeName: compute123
            resourceGroupName: testrg123
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
            workspaceName: workspaces123
          responses:
            "200": {}
            "202":
              headers:
                Azure-AsyncOperation: https://management.azure.com/subscriptions/...pathToOperationStatus...
                Location: https://management.azure.com/subscriptions/...pathToOperationResult...
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.operationalization_clusters_controller
    put:
      description: "Creates or updates compute. This call will overwrite a compute\
        \ if it exists. This is a nonrecoverable operation. If your intent is to create\
        \ a new compute, do a GET first to verify that it does not exist yet."
      operationId: machine_learning_compute_create_or_update
      parameters:
      - description: Azure subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Name of the resource group in which workspace is located.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of Azure Machine Learning workspace.
        in: path
        name: workspace_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the Azure Machine Learning compute.
        in: path
        name: compute_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of Azure Machine Learning resource provider API.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ComputeResource'
        description: Payload with Machine Learning compute definition.
        required: true
        x-ms-parameter-location: method
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComputeResource'
          description: Compute creation or update initiated.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComputeResource'
          description: Compute creation or update initiated.
          headers:
            Azure-AsyncOperation:
              description: URI to poll for asynchronous operation status.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MachineLearningServiceError'
          description: Error response describing why the request failed.
      tags:
      - OperationalizationClusters
      - MachineLearningComputes
      x-ms-examples:
        Create AKS Compute:
          parameters:
            api-version: 2018-03-01-preview
            computeName: compute123
            parameters:
              location: eastus
              properties:
                computeType: AKS
            resourceGroupName: testrg123
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
            workspaceName: workspaces123
          responses:
            "200":
              body:
                id: subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.MachineLearningServices/workspaces/workspaces123/computes/compute123
                location: eastus
                name: compute123
                properties:
                  computeType: AKS
                  provisioningState: Creating
                type: Microsoft.MachineLearningServices/workspaces/computes
            "201":
              body:
                id: subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.MachineLearningServices/workspaces/workspaces123/computes/compute123
                location: eastus
                name: compute123
                properties:
                  computeType: AKS
                  provisioningState: Creating
                type: Microsoft.MachineLearningServices/workspaces/computes
              headers:
                Azure-AsyncOperation: https://management.azure.com/subscriptions/...pathToOperationStatus...
        Create a BatchAI Compute:
          parameters:
            api-version: 2018-03-01-preview
            computeName: compute123
            parameters:
              location: eastus
              properties:
                computeType: BatchAI
            resourceGroupName: testrg123
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
            workspaceName: workspaces123
          responses:
            "200":
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.MachineLearningServices/workspaces/workspaces123/computes/compute123
                location: eastus
                name: compute123
                properties:
                  computeType: BatchAI
                  provisioningState: Creating
                type: Microsoft.MachineLearningServices/workspaces/computes
            "201":
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.MachineLearningServices/workspaces/workspaces123/computes/compute123
                location: eastus
                name: compute123
                properties:
                  computeType: BatchAI
                  provisioningState: Creating
                type: Microsoft.MachineLearningServices/workspaces/computes
              headers:
                Azure-AsyncOperation: https://management.azure.com/subscriptions/...pathToOperationStatus...
        Create a DataFactory Compute:
          parameters:
            api-version: 2018-03-01-preview
            computeName: compute123
            parameters:
              location: eastus
              properties:
                computeType: DataFactory
            resourceGroupName: testrg123
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
            workspaceName: workspaces123
          responses:
            "200":
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.MachineLearningServices/workspaces/workspaces123/computes/compute123
                location: eastus
                name: compute123
                properties:
                  computeType: DataFactory
                  provisioningState: Creating
                type: Microsoft.MachineLearningServices/workspaces/computes
            "201":
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.MachineLearningServices/workspaces/workspaces123/computes/compute123
                location: eastus
                name: compute123
                properties:
                  computeType: DataFactory
                  provisioningState: Creating
                type: Microsoft.MachineLearningServices/workspaces/computes
              headers:
                Azure-AsyncOperation: https://management.azure.com/subscriptions/...pathToOperationStatus...
        Update a AKS Compute:
          parameters:
            api-version: 2018-03-01-preview
            computeName: compute123
            parameters:
              id: compute123
              location: eastus
              properties:
                computeType: AKS
                description: some compute
                properties:
                  agentCount: 4
                resourceId: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourcegroups/testrg123/providers/Microsoft.ContainerService/managedClusters/compute123-56826-c9b00420020b2
            resourceGroupName: testrg123
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
            workspaceName: workspaces123
          responses:
            "200":
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.MachineLearningServices/workspaces/workspaces123/computes/compute123
                location: eastus
                name: compute123
                properties:
                  computeType: AKS
                  description: some compute
                  provisioningState: Updating
                  resourceId: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourcegroups/testrg123/providers/Microsoft.ContainerService/managedClusters/compute123-56826-c9b00420020b2
                type: Microsoft.MachineLearningServices/workspaces/computes
            "201":
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.MachineLearningServices/workspaces/workspaces123/computes/compute123
                location: eastus
                name: compute123
                properties:
                  computeType: AKS
                  description: some compute
                  provisioningState: Updating
                  resourceId: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourcegroups/testrg123/providers/Microsoft.ContainerService/managedClusters/compute123-56826-c9b00420020b2
                type: Microsoft.MachineLearningServices/workspaces/computes
              headers:
                Azure-AsyncOperation: https://management.azure.com/subscriptions/...pathToOperationStatus...
        Update a BatchAI Compute:
          parameters:
            api-version: 2018-03-01-preview
            computeName: compute123
            parameters:
              location: eastus
              properties:
                computeType: BatchAI
                properties:
                  computeType: BatchAI
                  description: some compute
                  properties:
                    scaleSettings:
                      autoScaleEnabled: false
                      maxNodeCount: 4
                      minNodeCount: 4
                  resourceId: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.BatchAI/clusters/compute123-ccb488844dcc2
            resourceGroupName: testrg123
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
            workspaceName: workspaces123
          responses:
            "200":
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.MachineLearningServices/workspaces/workspaces123/computes/compute123
                location: eastus2
                name: compute123
                properties:
                  computeType: BatchAI
                  description: some compute
                  provisioningState: Updating
                  resourceId: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.BatchAI/clusters/compute123-ccb488844dcc2
                type: Microsoft.MachineLearningServices/workspaces/computes
            "201":
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.MachineLearningServices/workspaces/workspaces123/computes/compute123
                location: eastus2
                name: compute123
                properties:
                  computeType: BatchAI
                  description: some compute
                  provisioningState: Updating
                  resourceId: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.BatchAI/clusters/compute123-ccb488844dcc2
                type: Microsoft.MachineLearningServices/workspaces/computes
              headers:
                Azure-AsyncOperation: https://management.azure.com/subscriptions/...pathToOperationStatus...
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.operationalization_clusters_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/computes/{computeName}/listKeys
  : post:
      description: "Gets secrets related to Machine Learning compute (storage keys,\
        \ service credentials, etc)."
      operationId: machine_learning_compute_list_keys
      parameters:
      - description: Azure subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Name of the resource group in which workspace is located.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of Azure Machine Learning workspace.
        in: path
        name: workspace_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the Azure Machine Learning compute.
        in: path
        name: compute_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of Azure Machine Learning resource provider API.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComputeSecrets'
          description: Success.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MachineLearningServiceError'
          description: Error response describing why the operation failed.
      tags:
      - OperationalizationClusters
      - MachineLearningComputes
      x-ms-examples:
        List AKS Compute Keys:
          parameters:
            api-version: 2018-03-01-preview
            computeName: compute123
            resourceGroupName: testrg123
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
            workspaceName: workspaces123
          responses:
            "200":
              body:
                adminKubeConfig: admin kube config...
                computeType: AKS
                imagePullSecretName: the image pull secret name
                userKubeConfig: user kube config...
        List BatchAI Compute Keys:
          parameters:
            api-version: 2018-03-01-preview
            computeName: compute123
            resourceGroupName: testrg123
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
            workspaceName: workspaces123
          responses:
            "200":
              body:
                adminKubeConfig: admin kube config...
                computeType: AKS
                imagePullSecretName: the image pull secret name
                userKubeConfig: user kube config...
      x-openapi-router-controller: openapi_server.controllers.operationalization_clusters_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/listKeys
  : post:
      description: "Lists all the keys associated with this workspace. This includes\
        \ keys for the storage account, app insights and password for container registry"
      operationId: workspaces_list_keys
      parameters:
      - description: Version of Azure Machine Learning resource provider API.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Azure subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Name of the resource group in which workspace is located.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of Azure Machine Learning workspace.
        in: path
        name: workspace_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListWorkspaceKeysResult'
          description: The request was successful; the request was well-formed and
            received properly.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MachineLearningServiceError'
          description: Error response describing why the operation failed
      tags:
      - Workspaces
      x-ms-examples:
        List Workspace Keys:
          parameters:
            api-version: 2018-03-01-preview
            resourceGroupName: testrg123
            subscriptionId: aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee
            workspaceName: workspaces123
          responses:
            "200":
              body:
                containerRegistryCredentials:
                  passwords:
                  - name: password
                    value: vBvVhYgAGtUSewVCUv3w95p4/q5Yrsnw
                  - name: password2
                    value: 0KARRQoQHSUq1yViPWg7YFernOS=Ic/t
                  username: testdemoworkjmjmeykp
                userStorageKey: r5rKCJ018TLk+bdAi/9YaVzgcQ0nkLsUqGyUN03KsdCFtqG0SjFGPV8+vT1frWqkvBL0bGoPpLc1BlZSSaZmOA==
                userStorageResourceId: /subscriptions/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee/resourceGroups/ragargeastus2euap/providers/Microsoft.Storage/storageAccounts/testdemoworkazashomr
      x-openapi-router-controller: openapi_server.controllers.workspaces_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/resyncKeys
  : post:
      description: "Resync all the keys associated with this workspace. This includes\
        \ keys for the storage account, app insights and password for container registry"
      operationId: workspaces_resync_keys
      parameters:
      - description: Version of Azure Machine Learning resource provider API.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Azure subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Name of the resource group in which workspace is located.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of Azure Machine Learning workspace.
        in: path
        name: workspace_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content: {}
          description: The request was successful; the request was well-formed and
            received properly.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MachineLearningServiceError'
          description: Error response describing why the operation failed
      tags:
      - Workspaces
      x-ms-examples:
        Resync Workspace Keys:
          parameters:
            api-version: 2018-03-01-preview
            resourceGroupName: testrg123
            subscriptionId: aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee
            workspaceName: workspaces123
          responses:
            "200": {}
      x-openapi-router-controller: openapi_server.controllers.workspaces_controller
components:
  parameters:
    APIVersionParameter:
      description: Version of Azure Machine Learning resource provider API.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    AsyncOperationIdParameter:
      description: Identifier of an asynchronous Azure Machine Learning compute operation.
      in: path
      name: asyncOperationId
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ComputeNameParameter:
      description: Name of the Azure Machine Learning compute.
      in: path
      name: computeName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ComputeTypeParameter:
      description: Type of compute to filter by.
      in: query
      name: compute-type
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    LocationParameter:
      description: The name of the Azure location/region.
      in: path
      name: location
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    PaginationParameter:
      description: Continuation token for pagination.
      in: query
      name: $skiptoken
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ResourceGroupNameParameter:
      description: Name of the resource group in which workspace is located.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: Azure subscription identifier.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
    WorkspaceNameParameter:
      description: Name of Azure Machine Learning workspace.
      in: path
      name: workspaceName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  requestBodies:
    ComputeDefinitionParameter:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ComputeResource'
      description: Payload with Machine Learning compute definition.
      required: true
      x-ms-parameter-location: method
      x-body-name: parameters
  schemas:
    AKS:
      allOf:
      - $ref: '#/components/schemas/Compute'
      - properties:
          properties:
            $ref: '#/components/schemas/AKS_allOf_properties'
        type: object
      description: A Machine Learning compute based on AKS.
      x-ms-discriminator-value: AKS
    AksComputeSecrets:
      allOf:
      - $ref: '#/components/schemas/ComputeSecrets'
      - properties:
          adminKubeConfig:
            description: Content of kubeconfig file that can be used to connect to
              the Kubernetes cluster.
            type: string
          imagePullSecretName:
            description: Image registry pull secret.
            type: string
          userKubeConfig:
            description: Content of kubeconfig file that can be used to connect to
              the Kubernetes cluster.
            type: string
        type: object
      description: Secrets related to a Machine Learning compute based on AKS.
      x-ms-discriminator-value: AKS
    BatchAI:
      allOf:
      - $ref: '#/components/schemas/Compute'
      - properties:
          properties:
            $ref: '#/components/schemas/BatchAI_allOf_properties'
        type: object
      description: A Machine Learning compute based on Azure BatchAI.
      x-ms-discriminator-value: BatchAI
    Compute:
      description: Machine Learning compute object.
      discriminator:
        propertyName: computeType
      example:
        computeLocation: computeLocation
        modifiedOn: 2000-01-23T04:56:07.000+00:00
        resourceId: resourceId
        computeType: AKS
        description: description
        provisioningErrors:
        - error:
            code: code
            details:
            - code: code
              message: message
            - code: code
              message: message
            message: message
        - error:
            code: code
            details:
            - code: code
              message: message
            - code: code
              message: message
            message: message
        provisioningState: Unknown
        createdOn: 2000-01-23T04:56:07.000+00:00
      properties:
        computeLocation:
          description: Location for the underlying compute
          title: computeLocation
          type: string
        computeType:
          $ref: '#/components/schemas/ComputeType'
        createdOn:
          description: The date and time when the compute was created.
          format: date-time
          readOnly: true
          title: createdOn
          type: string
        description:
          description: The description of the Machine Learning compute.
          title: description
          type: string
        modifiedOn:
          description: The date and time when the compute was last modified.
          format: date-time
          readOnly: true
          title: modifiedOn
          type: string
        provisioningErrors:
          description: Errors during provisioning
          items:
            $ref: '#/components/schemas/MachineLearningServiceError'
          readOnly: true
          title: provisioningErrors
          type: array
        provisioningState:
          description: "The provision state of the cluster. Valid values are Unknown,\
            \ Updating, Provisioning, Succeeded, and Failed."
          enum:
          - Unknown
          - Updating
          - Creating
          - Deleting
          - Succeeded
          - Failed
          - Canceled
          readOnly: true
          title: provisioningState
          type: string
          x-ms-enum:
            modelAsString: true
            name: ProvisioningState
        resourceId:
          description: ARM resource id of the compute
          title: resourceId
          type: string
      required:
      - computeType
      title: Compute
      type: object
    ComputeResource:
      allOf:
      - $ref: '#/components/schemas/Resource'
      - properties:
          properties:
            $ref: '#/components/schemas/Compute'
        type: object
      description: Machine Learning compute object wrapped into ARM resource envelope.
      example:
        identity:
          tenantId: tenantId
          principalId: principalId
          type: SystemAssigned
        name: name
        location: location
        id: id
        type: type
        properties:
          computeLocation: computeLocation
          modifiedOn: 2000-01-23T04:56:07.000+00:00
          resourceId: resourceId
          computeType: AKS
          description: description
          provisioningErrors:
          - error:
              code: code
              details:
              - code: code
                message: message
              - code: code
                message: message
              message: message
          - error:
              code: code
              details:
              - code: code
                message: message
              - code: code
                message: message
              message: message
          provisioningState: Unknown
          createdOn: 2000-01-23T04:56:07.000+00:00
        tags:
          key: tags
      title: ComputeResource
    ComputeSecrets:
      description: Secrets related to a Machine Learning compute. Might differ for
        every type of compute.
      discriminator:
        propertyName: computeType
      example:
        computeType: AKS
      properties:
        computeType:
          $ref: '#/components/schemas/ComputeType'
      required:
      - computeType
      title: ComputeSecrets
      type: object
    ComputeType:
      description: The type of compute
      enum:
      - AKS
      - BatchAI
      - DataFactory
      - VirtualMachine
      - HDInsight
      title: ComputeType
      type: string
      x-ms-enum:
        modelAsString: true
        name: ComputeType
    DataFactory:
      allOf:
      - $ref: '#/components/schemas/Compute'
      description: A DataFactory compute.
      x-ms-discriminator-value: DataFactory
    ErrorDetail:
      description: Error detail information.
      example:
        code: code
        message: message
      properties:
        code:
          description: Error code.
          title: code
          type: string
        message:
          description: Error message.
          title: message
          type: string
      required:
      - code
      - message
      title: ErrorDetail
      type: object
    ErrorResponse:
      description: Error response information.
      example:
        code: code
        details:
        - code: code
          message: message
        - code: code
          message: message
        message: message
      properties:
        code:
          description: Error code.
          title: code
          type: string
        details:
          description: An array of error detail objects.
          items:
            $ref: '#/components/schemas/ErrorDetail'
          title: details
          type: array
        message:
          description: Error message.
          title: message
          type: string
      required:
      - code
      - message
      title: ErrorResponse
      type: object
    HDInsight:
      allOf:
      - $ref: '#/components/schemas/Compute'
      - properties:
          properties:
            $ref: '#/components/schemas/HDInsight_allOf_properties'
        type: object
      description: A HDInsight compute.
      x-ms-discriminator-value: HDInsight
    Identity:
      description: Identity for the resource.
      example:
        tenantId: tenantId
        principalId: principalId
        type: SystemAssigned
      properties:
        principalId:
          description: The principal ID of resource identity.
          readOnly: true
          title: principalId
          type: string
        tenantId:
          description: The tenant ID of resource.
          readOnly: true
          title: tenantId
          type: string
        type:
          description: The identity type.
          enum:
          - SystemAssigned
          title: type
          type: string
          x-ms-enum:
            modelAsString: false
            name: ResourceIdentityType
      title: Identity
      type: object
    ListWorkspaceKeysResult:
      example:
        appInsightsInstrumentationKey: appInsightsInstrumentationKey
        userStorageResourceId: userStorageResourceId
        userStorageKey: userStorageKey
        containerRegistryCredentials:
          passwords:
          - name: name
            value: value
          - name: name
            value: value
          location: location
          username: username
      properties:
        appInsightsInstrumentationKey:
          readOnly: true
          title: appInsightsInstrumentationKey
          type: string
        containerRegistryCredentials:
          $ref: '#/components/schemas/RegistryListCredentialsResult'
        userStorageKey:
          readOnly: true
          title: userStorageKey
          type: string
        userStorageResourceId:
          readOnly: true
          title: userStorageResourceId
          type: string
      title: ListWorkspaceKeysResult
      type: object
    MachineLearningServiceError:
      description: Wrapper for error response to follow ARM guidelines.
      example:
        error:
          code: code
          details:
          - code: code
            message: message
          - code: code
            message: message
          message: message
      properties:
        error:
          $ref: '#/components/schemas/ErrorResponse'
      title: MachineLearningServiceError
      type: object
    Operation:
      description: Azure Machine Learning workspace REST API operation
      example:
        display:
          provider: provider
          resource: resource
          description: description
          operation: operation
        name: name
      properties:
        display:
          $ref: '#/components/schemas/Operation_display'
        name:
          description: "Operation name: {provider}/{resource}/{operation}"
          title: name
          type: string
      title: Operation
      type: object
    OperationListResult:
      description: An array of operations supported by the resource provider.
      example:
        value:
        - display:
            provider: provider
            resource: resource
            description: description
            operation: operation
          name: name
        - display:
            provider: provider
            resource: resource
            description: description
            operation: operation
          name: name
      properties:
        value:
          description: List of AML workspace operations supported by the AML workspace
            resource provider.
          items:
            $ref: '#/components/schemas/Operation'
          title: value
          type: array
      title: OperationListResult
      type: object
    PaginatedComputeResourcesList:
      description: Paginated list of Machine Learning compute objects wrapped in ARM
        resource envelope.
      example:
        value:
        - identity:
            tenantId: tenantId
            principalId: principalId
            type: SystemAssigned
          name: name
          location: location
          id: id
          type: type
          properties:
            computeLocation: computeLocation
            modifiedOn: 2000-01-23T04:56:07.000+00:00
            resourceId: resourceId
            computeType: AKS
            description: description
            provisioningErrors:
            - error:
                code: code
                details:
                - code: code
                  message: message
                - code: code
                  message: message
                message: message
            - error:
                code: code
                details:
                - code: code
                  message: message
                - code: code
                  message: message
                message: message
            provisioningState: Unknown
            createdOn: 2000-01-23T04:56:07.000+00:00
          tags:
            key: tags
        - identity:
            tenantId: tenantId
            principalId: principalId
            type: SystemAssigned
          name: name
          location: location
          id: id
          type: type
          properties:
            computeLocation: computeLocation
            modifiedOn: 2000-01-23T04:56:07.000+00:00
            resourceId: resourceId
            computeType: AKS
            description: description
            provisioningErrors:
            - error:
                code: code
                details:
                - code: code
                  message: message
                - code: code
                  message: message
                message: message
            - error:
                code: code
                details:
                - code: code
                  message: message
                - code: code
                  message: message
                message: message
            provisioningState: Unknown
            createdOn: 2000-01-23T04:56:07.000+00:00
          tags:
            key: tags
        nextLink: nextLink
      properties:
        nextLink:
          description: A continuation link (absolute URI) to the next page of results
            in the list.
          title: nextLink
          type: string
        value:
          description: An array of Machine Learning compute objects wrapped in ARM
            resource envelope.
          items:
            $ref: '#/components/schemas/ComputeResource'
          title: value
          type: array
      title: PaginatedComputeResourcesList
      type: object
    Password:
      example:
        name: name
        value: value
      properties:
        name:
          readOnly: true
          title: name
          type: string
        value:
          readOnly: true
          title: value
          type: string
      title: Password
      type: object
    RegistryListCredentialsResult:
      example:
        passwords:
        - name: name
          value: value
        - name: name
          value: value
        location: location
        username: username
      properties:
        location:
          readOnly: true
          title: location
          type: string
        passwords:
          items:
            $ref: '#/components/schemas/Password'
          title: passwords
          type: array
        username:
          readOnly: true
          title: username
          type: string
      title: RegistryListCredentialsResult
      type: object
    Resource:
      description: Azure Resource Manager resource envelope.
      properties:
        id:
          description: Specifies the resource ID.
          readOnly: true
          title: id
          type: string
        identity:
          $ref: '#/components/schemas/Identity'
        location:
          description: Specifies the location of the resource.
          title: location
          type: string
        name:
          description: Specifies the name of the resource.
          readOnly: true
          title: name
          type: string
        tags:
          additionalProperties:
            type: string
          description: Contains resource tags defined as key/value pairs.
          title: tags
          type: object
        type:
          description: Specifies the type of the resource.
          readOnly: true
          title: type
          type: string
      title: Resource
      type: object
      x-ms-azure-resource: true
    ScaleSettings:
      description: scale settings for BatchAI Compute
      properties:
        autoScaleEnabled:
          description: Enable or disable auto scale
          title: autoScaleEnabled
          type: boolean
        maxNodeCount:
          description: Max number of nodes to use
          title: maxNodeCount
          type: integer
        minNodeCount:
          description: Min number of nodes to use
          title: minNodeCount
          type: integer
      title: ScaleSettings
      type: object
    ServicePrincipalCredentials:
      description: Service principal credentials.
      properties:
        clientId:
          description: Client Id
          type: string
        clientSecret:
          description: Client secret
          type: string
      required:
      - clientId
      - clientSecret
      type: object
    SslConfiguration:
      description: The SSL configuration for scoring
      properties:
        cert:
          description: Cert data
          title: cert
          type: string
        cname:
          description: CNAME of the cert
          title: cname
          type: string
        key:
          description: Key data
          title: key
          type: string
        status:
          description: Enable or disable SSL for scoring
          enum:
          - Disabled
          - Enabled
          title: status
          type: string
      title: SslConfiguration
      type: object
    SystemService:
      description: A system service running on a compute.
      properties:
        publicIpAddress:
          description: Public IP address
          readOnly: true
          title: publicIpAddress
          type: string
        systemServiceType:
          description: The type of this system service.
          readOnly: true
          title: systemServiceType
          type: string
        version:
          description: The version for this type.
          readOnly: true
          title: version
          type: string
      title: SystemService
      type: object
    VirtualMachine:
      allOf:
      - $ref: '#/components/schemas/Compute'
      - properties:
          properties:
            $ref: '#/components/schemas/VirtualMachine_allOf_properties'
        type: object
      description: A Machine Learning compute based on Azure Virtual Machines.
      x-ms-discriminator-value: VirtualMachine
    VirtualMachineSecrets:
      allOf:
      - $ref: '#/components/schemas/ComputeSecrets'
      - properties:
          administratorAccount:
            $ref: '#/components/schemas/VirtualMachineSshCredentials'
        type: object
      description: Secrets related to a Machine Learning compute based on AKS.
      x-ms-discriminator-value: VirtualMachine
    VirtualMachineSshCredentials:
      description: Admin credentials for virtual machine
      properties:
        password:
          description: Password of admin account
          title: password
          type: string
        privateKeyData:
          description: Private key data
          title: privateKeyData
          type: string
        publicKeyData:
          description: Public key data
          title: publicKeyData
          type: string
        username:
          description: Username of admin account
          title: username
          type: string
      title: VirtualMachineSshCredentials
      type: object
    Workspace:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: An object that represents a machine learning workspace.
      example:
        properties:
          applicationInsights: applicationInsights
          batchaiWorkspace: batchaiWorkspace
          creationTime: 2000-01-23T04:56:07.000+00:00
          keyVault: keyVault
          containerRegistry: containerRegistry
          description: description
          provisioningState: Unknown
          storageAccount: storageAccount
          friendlyName: friendlyName
          discoveryUrl: discoveryUrl
          workspaceId: workspaceId
      properties:
        properties:
          $ref: '#/components/schemas/WorkspaceProperties'
      title: Workspace
    WorkspaceListResult:
      description: The result of a request to list machine learning workspaces.
      example:
        value:
        - properties:
            applicationInsights: applicationInsights
            batchaiWorkspace: batchaiWorkspace
            creationTime: 2000-01-23T04:56:07.000+00:00
            keyVault: keyVault
            containerRegistry: containerRegistry
            description: description
            provisioningState: Unknown
            storageAccount: storageAccount
            friendlyName: friendlyName
            discoveryUrl: discoveryUrl
            workspaceId: workspaceId
        - properties:
            applicationInsights: applicationInsights
            batchaiWorkspace: batchaiWorkspace
            creationTime: 2000-01-23T04:56:07.000+00:00
            keyVault: keyVault
            containerRegistry: containerRegistry
            description: description
            provisioningState: Unknown
            storageAccount: storageAccount
            friendlyName: friendlyName
            discoveryUrl: discoveryUrl
            workspaceId: workspaceId
        nextLink: nextLink
      properties:
        nextLink:
          description: The URI that can be used to request the next list of machine
            learning workspaces.
          title: nextLink
          type: string
        value:
          description: "The list of machine learning workspaces. Since this list may\
            \ be incomplete, the nextLink field should be used to request the next\
            \ list of machine learning workspaces."
          items:
            $ref: '#/components/schemas/Workspace'
          title: value
          type: array
      title: WorkspaceListResult
      type: object
    WorkspaceProperties:
      description: The properties of a machine learning workspace.
      example:
        applicationInsights: applicationInsights
        batchaiWorkspace: batchaiWorkspace
        creationTime: 2000-01-23T04:56:07.000+00:00
        keyVault: keyVault
        containerRegistry: containerRegistry
        description: description
        provisioningState: Unknown
        storageAccount: storageAccount
        friendlyName: friendlyName
        discoveryUrl: discoveryUrl
        workspaceId: workspaceId
      properties:
        applicationInsights:
          description: ARM id of the application insights associated with this workspace.
            This cannot be changed once the workspace has been created
          title: applicationInsights
          type: string
        batchaiWorkspace:
          description: ARM id of the Batch AI workspace associated with this workspace.
            This cannot be changed once the workspace has been created
          title: batchaiWorkspace
          type: string
        containerRegistry:
          description: ARM id of the container registry associated with this workspace.
            This cannot be changed once the workspace has been created
          title: containerRegistry
          type: string
        creationTime:
          description: The creation time of the machine learning workspace in ISO8601
            format.
          format: date-time
          readOnly: true
          title: creationTime
          type: string
        description:
          description: The description of this workspace.
          title: description
          type: string
        discoveryUrl:
          description: Url for the discovery service to identify regional endpoints
            for machine learning experimentation services
          title: discoveryUrl
          type: string
        friendlyName:
          description: The friendly name for this workspace. This name in mutable
          title: friendlyName
          type: string
        keyVault:
          description: ARM id of the key vault associated with this workspace. This
            cannot be changed once the workspace has been created
          title: keyVault
          type: string
        provisioningState:
          description: The current deployment state of workspace resource. The provisioningState
            is to indicate states for resource provisioning.
          enum:
          - Unknown
          - Updating
          - Creating
          - Deleting
          - Succeeded
          - Failed
          - Canceled
          readOnly: true
          title: provisioningState
          type: string
          x-ms-enum:
            modelAsString: true
            name: ProvisioningState
        storageAccount:
          description: ARM id of the storage account associated with this workspace.
            This cannot be changed once the workspace has been created
          title: storageAccount
          type: string
        workspaceId:
          description: The immutable id associated with this workspace.
          readOnly: true
          title: workspaceId
          type: string
      title: WorkspaceProperties
      type: object
    WorkspacePropertiesUpdateParameters:
      description: The parameters for updating the properties of a machine learning
        workspace.
      example:
        description: description
        friendlyName: friendlyName
      properties:
        description:
          description: The description of this workspace.
          title: description
          type: string
        friendlyName:
          description: The friendly name for this workspace.
          title: friendlyName
          type: string
      title: WorkspacePropertiesUpdateParameters
      type: object
    WorkspaceUpdateParameters:
      description: The parameters for updating a machine learning workspace.
      example:
        properties:
          description: description
          friendlyName: friendlyName
        tags:
          key: tags
      properties:
        properties:
          $ref: '#/components/schemas/WorkspacePropertiesUpdateParameters'
        tags:
          additionalProperties:
            type: string
          description: The resource tags for the machine learning workspace.
          title: tags
          type: object
      title: WorkspaceUpdateParameters
      type: object
    AKS_allOf_properties:
      description: AKS properties
      properties:
        agentCount:
          description: Number of agents
          minimum: 1
          title: agentCount
          type: integer
        agentVMSize:
          description: Agent virtual machine size
          title: agentVMSize
          type: string
        clusterFqdn:
          description: Cluster full qualified domain name
          title: clusterFqdn
          type: string
        sslConfiguration:
          $ref: '#/components/schemas/SslConfiguration'
        systemServices:
          description: System services
          items:
            $ref: '#/components/schemas/SystemService'
          title: systemServices
          type: array
      title: AKS_allOf_properties
      type: object
    BatchAI_allOf_properties:
      description: BatchAI properties
      properties:
        scaleSettings:
          $ref: '#/components/schemas/ScaleSettings'
        vmPriority:
          description: Virtual Machine priority
          title: vmPriority
          type: string
        vmSize:
          description: Virtual Machine Size
          title: vmSize
          type: string
      title: BatchAI_allOf_properties
      type: object
    HDInsight_allOf_properties:
      properties:
        address:
          description: Public IP address of the master node of the cluster.
          title: address
          type: string
        administratorAccount:
          $ref: '#/components/schemas/VirtualMachineSshCredentials'
        sshPort:
          description: Port open for ssh connections on the master node of the cluster.
          title: sshPort
          type: integer
      title: HDInsight_allOf_properties
      type: object
    Operation_display:
      description: Display name of operation
      example:
        provider: provider
        resource: resource
        description: description
        operation: operation
      properties:
        description:
          description: The description for the operation.
          title: description
          type: string
        operation:
          description: The operation that users can perform.
          title: operation
          type: string
        provider:
          description: "The resource provider name: Microsoft.MachineLearningExperimentation"
          title: provider
          type: string
        resource:
          description: The resource on which the operation is performed.
          title: resource
          type: string
      title: Operation_display
      type: object
    VirtualMachine_allOf_properties:
      properties:
        address:
          description: Public IP address of the virtual machine.
          title: address
          type: string
        administratorAccount:
          $ref: '#/components/schemas/VirtualMachineSshCredentials'
        sshPort:
          description: Port open for ssh connections.
          title: sshPort
          type: integer
        virtualMachineSize:
          description: Virtual Machine size
          title: virtualMachineSize
          type: string
      title: VirtualMachine_allOf_properties
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
