openapi: 3.0.1
info:
  description: Use these REST APIs for performing retrieving a collection of policy
    snippets available in Azure API Management deployment.
  title: ApiManagementClient
  version: 2018-06-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2018-06-01-preview/apimpolicysnippets.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: apimanagement-apimpolicysnippets
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/policySnippets
  : get:
      description: Lists all policy snippets.
      operationId: policy_snippets_list_by_service
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Policy scope.
        in: query
        name: scope
        schema:
          enum:
          - Tenant
          - Product
          - Api
          - Operation
          - All
          type: string
          x-ms-enum:
            modelAsString: false
            name: PolicyScopeContract
        x-ms-enum:
          modelAsString: false
          name: PolicyScopeContract
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicySnippets_ListByService_200_response'
          description: Returns an array of Policy Snippets.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicySnippets_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - PolicySnippet
      x-ms-examples:
        ApiManagementListPolicySnippets:
          parameters:
            api-version: 2018-06-01-preview
            resourceGroupName: rg1
            scope: Api
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
              - content: <authentication-basic username="username" password="password"
                  />
                name: Authenticate with Basic
                scope: 268435471
                toolTip: Authenticate with the backend service using Basic authentication.
                  Use in the inbound section at API scope.
      x-openapi-router-controller: openapi_server.controllers.policy_snippet_controller
components:
  schemas:
    PolicySnippets_ListByService_200_response:
      description: The response of the list policy snippets operation.
      example:
        value:
        - scope: 0
          name: name
          toolTip: toolTip
          content: content
        - scope: 0
          name: name
          toolTip: toolTip
          content: content
      properties:
        value:
          description: Policy snippet value.
          items:
            $ref: '#/components/schemas/PolicySnippets_ListByService_200_response_value_inner'
          title: value
          type: array
      title: PolicySnippets_ListByService_200_response
      type: object
    PolicySnippets_ListByService_default_response:
      description: Error Response.
      example:
        error:
          code: code
          details:
          - code: code
            message: message
            target: target
          - code: code
            message: message
            target: target
          message: message
      properties:
        error:
          $ref: '#/components/schemas/PolicySnippets_ListByService_default_response_error'
      title: PolicySnippets_ListByService_default_response
      type: object
    PolicySnippets_ListByService_default_response_error:
      description: Error Body contract.
      example:
        code: code
        details:
        - code: code
          message: message
          target: target
        - code: code
          message: message
          target: target
        message: message
      properties:
        code:
          description: Service-defined error code. This code serves as a sub-status
            for the HTTP error code specified in the response.
          title: code
          type: string
        details:
          description: "The list of invalid fields send in request, in case of validation\
            \ error."
          items:
            $ref: '#/components/schemas/PolicySnippets_ListByService_default_response_error_details_inner'
          title: details
          type: array
        message:
          description: Human-readable representation of the error.
          title: message
          type: string
      title: PolicySnippets_ListByService_default_response_error
      type: object
    PolicySnippets_ListByService_200_response_value_inner:
      description: Policy snippet.
      example:
        scope: 0
        name: name
        toolTip: toolTip
        content: content
      properties:
        content:
          description: Snippet content.
          readOnly: true
          title: content
          type: string
        name:
          description: Snippet name.
          readOnly: true
          title: name
          type: string
        scope:
          description: Binary OR value of the Snippet scope.
          readOnly: true
          title: scope
          type: integer
        toolTip:
          description: Snippet toolTip.
          readOnly: true
          title: toolTip
          type: string
      title: PolicySnippets_ListByService_200_response_value_inner
      type: object
    PolicySnippets_ListByService_default_response_error_details_inner:
      description: Error Field contract.
      example:
        code: code
        message: message
        target: target
      properties:
        code:
          description: Property level error code.
          title: code
          type: string
        message:
          description: Human-readable representation of property-level error.
          title: message
          type: string
        target:
          description: Property name.
          title: target
          type: string
      title: PolicySnippets_ListByService_default_response_error_details_inner
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
