openapi: 3.0.1
info:
  description: Operation status operation endpoints and objects.
  title: FabricAdminClient
  version: 2016-05-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/fabric/Microsoft.Fabric.Admin/stable/2016-05-01/Operations.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: azsadmin-Operations
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://adminmanagement.local.azurestack.external/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/System.{location}/providers/{provider}/fabricLocations/{location}/computeOperationResults/{computeOperationResult}
  : get:
      description: Get the status of a compute fabric operation.
      operationId: ComputeFabricOperations_Get
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription.The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Location of the resource.
        in: path
        name: location
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the provider.
        in: path
        name: provider
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Id of a compute fabric operation.
        in: path
        name: computeOperationResult
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          default: 2016-05-01
          type: string
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatus'
          description: ACCEPTED
      tags:
      - ComputeFabricOperations
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/System.{location}/providers/{provider}/fabricLocations/{location}/networkOperationResults/{networkOperationResult}
  : get:
      description: Get the status of a network fabric operation.
      operationId: NetworkFabricOperations_Get
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription.The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Location of the resource.
        in: path
        name: location
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the provider.
        in: path
        name: provider
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Id of a network fabric operation.
        in: path
        name: networkOperationResult
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          default: 2016-05-01
          type: string
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatus'
          description: ACCEPTED
      tags:
      - NetworkFabricOperations
      x-accepts:
      - application/json
components:
  parameters:
    ApplicationOperationResultParameter:
      description: Id of an infra role operation.
      in: path
      name: applicationOperationResult
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ComputeOperationResultParameter:
      description: Id of a compute fabric operation.
      in: path
      name: computeOperationResult
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    NetworkOperationResultParameter:
      description: Id of a network fabric operation.
      in: path
      name: networkOperationResult
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ProviderParameter:
      description: Name of the provider.
      in: path
      name: provider
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    StorageOperationResultParameter:
      description: Id of a storage fabric operation.
      in: path
      name: storageOperationResult
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  schemas:
    OperationStatus:
      description: Status of the compute operation.
      example:
        properties:
          provisioningState: provisioningState
      properties:
        properties:
          $ref: '#/components/schemas/ProvisioningStateModel'
      type: object
    ProvisioningStateModel:
      description: The state of the operation.
      example:
        provisioningState: provisioningState
      properties:
        provisioningState:
          description: The state of the operation.
          type: string
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

