openapi: 3.0.1
info:
  title: ContainerInstanceManagementClient
  version: 2018-10-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2018-10-01/containerInstance.json
    version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: containerinstance-containerInstance
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.ContainerInstance/operations:
    get:
      description: List the operations for Azure Container Instance service.
      operationId: operations_list
      parameters:
      - description: Client API version
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Operations
      x-ms-examples:
        OperationsList:
          parameters:
            api-version: 2018-10-01
          responses:
            "200":
              body:
                value:
                - display:
                    description: Get all container goups.
                    operation: Get Container Groups
                    provider: Microsoft Container Instance
                    resource: Container Group
                  name: Microsoft.ContainerInstance/containerGroups/read
                  origin: User
      x-openapi-router-controller: openapi_server.controllers.operations_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.ContainerInstance/containerGroups:
    get:
      description: "Get a list of container groups in the specified subscription.\
        \ This operation returns properties of each container group including containers,\
        \ image registry credentials, restart policy, IP address type, OS type, state,\
        \ and volumes."
      operationId: container_groups_list
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: Client API version
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContainerGroupListResult'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      summary: Get a list of container groups in the specified subscription.
      x-ms-examples:
        ContainerGroupsList:
          parameters:
            api-version: 2018-10-01
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subid/resourceGroups/demo/providers/Microsoft.ContainerInstance/containerGroups/demo1
                  location: WestUs
                  name: demo1
                  properties:
                    containers:
                    - name: demo1
                      properties:
                        command: []
                        environmentVariables: []
                        image: nginx
                        instanceView:
                          currentState:
                            detailStatus: ""
                            startTime: 2017-10-17T17:27:21Z
                            state: Running
                          events: []
                          restartCount: 0
                        ports:
                        - port: 80
                        resources:
                          requests:
                            cpu: 1
                            memoryInGB: 1.5
                        volumeMounts:
                        - mountPath: /mnt/volume1
                          name: volume1
                          readOnly: false
                    imageRegistryCredentials:
                    - server: azcloudconsoleregistry.azurecr.io
                      username: azcloudconsoleregistry
                    ipAddress:
                      ip: 10.0.0.1
                      ports:
                      - port: 80
                        protocol: TCP
                      type: Public
                    osType: Linux
                    provisioningState: Succeeded
                    volumes:
                    - azureFile:
                        readOnly: false
                        shareName: share1
                        storageAccountName: storage1
                      name: volume1
                  type: Microsoft.ContainerInstance/containerGroups
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.ContainerInstance/locations/{location}/cachedImages:
    get:
      description: Get the list of cached images on specific OS type for a subscription
        in a region.
      operationId: list_cached_images
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The identifier for the physical azure location.
        in: path
        name: location
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API version
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CachedImagesListResult'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      summary: Get the list of cached images.
      x-ms-examples:
        CachedImages:
          parameters:
            api-version: 2018-10-01
            location: westcentralus
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - image: ubuntu:16.04
                  osType: Linux
                - image: alpine:3.6
                  osType: Linux
                - image: microsoft/nanoserver:10.0.14393.2485
                  osType: Windows
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.ContainerInstance/locations/{location}/capabilities:
    get:
      description: Get the list of CPU/memory/GPU capabilities of a region.
      operationId: list_capabilities
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The identifier for the physical azure location.
        in: path
        name: location
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API version
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CapabilitiesListResult'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      summary: Get the list of capabilities of the location.
      x-ms-examples:
        GetCapabilities:
          parameters:
            api-version: 2018-10-01
            location: westus
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - capabilities:
                    maxCpu: 4
                    maxGpuCount: 4
                    maxMemoryInGB: 14
                  gpu: K80
                  ipAddressType: Public
                  location: West US
                  osType: Linux
                  resourceType: containerGroups
                - capabilities:
                    maxCpu: 4
                    maxGpuCount: 0
                    maxMemoryInGB: 14
                  gpu: None
                  ipAddressType: Public
                  location: West US
                  osType: Windows
                  resourceType: containerGroups
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.ContainerInstance/locations/{location}/usages:
    get:
      description: Get the usage for a subscription
      operationId: container_group_usage_list
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The identifier for the physical azure location.
        in: path
        name: location
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API version
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageListResult'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      x-ms-examples:
        ContainerUsage:
          parameters:
            api-version: 2018-10-01
            location: westcentralus
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - currentValue: 1
                  limit: 2000
                  name:
                    localizedValue: Container Groups
                    value: ContainerGroups
                  unit: Count
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerInstance/containerGroups:
    get:
      description: "Get a list of container groups in a specified subscription and\
        \ resource group. This operation returns properties of each container group\
        \ including containers, image registry credentials, restart policy, IP address\
        \ type, OS type, state, and volumes."
      operationId: container_groups_list_by_resource_group
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: Client API version
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContainerGroupListResult'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      summary: Get a list of container groups in the specified subscription and resource
        group.
      x-ms-examples:
        ContainerGroupsListByResourceGroup:
          parameters:
            api-version: 2018-10-01
            resourceGroupName: demo
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subid/resourceGroups/demo/providers/Microsoft.ContainerInstance/containerGroups/demo1
                  location: WestUs
                  name: demo1
                  properties:
                    containers:
                    - name: demo1
                      properties:
                        command: []
                        environmentVariables: []
                        image: nginx
                        ports:
                        - port: 80
                        resources:
                          requests:
                            cpu: 1
                            memoryInGB: 1.5
                        volumeMounts:
                        - mountPath: /mnt/volume1
                          name: volume1
                          readOnly: false
                    imageRegistryCredentials:
                    - server: azcloudconsoleregistry.azurecr.io
                      username: azcloudconsoleregistry
                    ipAddress:
                      ip: 10.0.0.1
                      ports:
                      - port: 80
                        protocol: TCP
                      type: Public
                    osType: Linux
                    provisioningState: Succeeded
                    volumes:
                    - azureFile:
                        readOnly: false
                        shareName: share1
                        storageAccountName: storage1
                      name: volume1
                  type: Microsoft.ContainerInstance/containerGroups
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.default_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerInstance/containerGroups/{containerGroupName}
  : delete:
      description: "Delete the specified container group in the specified subscription\
        \ and resource group. The operation does not delete other resources provided\
        \ by the user, such as volumes."
      operationId: container_groups_delete
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: Client API version
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the container group.
        in: path
        name: container_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContainerGroup'
          description: OK
        "204":
          content: {}
          description: No Content - the specified container group was not found.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      summary: Delete the specified container group.
      x-ms-examples:
        ContainerGroupsDelete:
          parameters:
            api-version: 2018-10-01
            containerGroupName: demo1
            resourceGroupName: demo
            subscriptionId: subid
          responses:
            "200": {}
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.default_controller
    get:
      description: "Gets the properties of the specified container group in the specified\
        \ subscription and resource group. The operation returns the properties of\
        \ each container group including containers, image registry credentials, restart\
        \ policy, IP address type, OS type, state, and volumes."
      operationId: container_groups_get
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: Client API version
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the container group.
        in: path
        name: containerGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContainerGroup'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      summary: Get the properties of the specified container group.
      x-ms-examples:
        ContainerGroupsGet_Failed:
          parameters:
            api-version: 2018-10-01
            containerGroupName: demo1
            resourceGroupName: demo
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/demo/providers/Microsoft.ContainerInstance/containerGroups/demo1
                location: WestUs
                name: demo1
                properties:
                  containers:
                  - name: demo1
                    properties:
                      command: []
                      environmentVariables: []
                      image: nginx
                      instanceView:
                        currentState:
                          detailStatus: ""
                          startTime: 2017-08-08T00:09:10Z
                          state: Waiting
                        events:
                        - count: 1
                          firstTimestamp: 2017-08-08T00:09:01Z
                          lastTimestamp: 2017-08-08T00:09:01Z
                          message: pulling image "nginx"
                          name: Pulling
                          type: Normal
                        - count: 1
                          firstTimestamp: 2017-08-08T00:09:10Z
                          lastTimestamp: 2017-08-08T00:09:10Z
                          message: Successfully pulled image "nginx"
                          name: Pulled
                          type: Normal
                        restartCount: 0
                      ports:
                      - port: 80
                      resources:
                        requests:
                          cpu: 1
                          memoryInGB: 1.5
                      volumeMounts:
                      - mountPath: /mnt/volume1
                        name: volume1
                        readOnly: false
                  imageRegistryCredentials:
                  - server: azcloudconsoleregistry.azurecr.io
                    username: azcloudconsoleregistry
                  instanceView:
                    events:
                    - count: 1
                      firstTimestamp: 2017-10-08T00:19:10Z
                      lastTimestamp: 2017-10-08T00:19:10Z
                      message: "Output: mount error(2): Permission denied"
                      name: FailedMount
                      type: Normal
                    state: Pending
                  ipAddress:
                    ip: 10.0.0.1
                    ports:
                    - port: 80
                      protocol: TCP
                    type: Public
                  osType: Linux
                  provisioningState: Failed
                  volumes:
                  - azureFile:
                      readOnly: false
                      shareName: share1
                      storageAccountName: storage1
                    name: volume1
                type: Microsoft.ContainerInstance/containerGroups
        ContainerGroupsGet_Succeeded:
          parameters:
            api-version: 2018-10-01
            containerGroupName: demo1
            resourceGroupName: demo
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/demo/providers/Microsoft.ContainerInstance/containerGroups/demo1
                location: WestUs
                name: demo1
                properties:
                  containers:
                  - name: demo1
                    properties:
                      command: []
                      environmentVariables: []
                      image: nginx
                      ports:
                      - port: 80
                      resources:
                        requests:
                          cpu: 1
                          memoryInGB: 1.5
                      volumeMounts:
                      - mountPath: /mnt/volume1
                        name: volume1
                        readOnly: false
                  imageRegistryCredentials:
                  - server: azcloudconsoleregistry.azurecr.io
                    username: azcloudconsoleregistry
                  ipAddress:
                    ip: 10.0.0.1
                    ports:
                    - port: 80
                      protocol: TCP
                    type: Public
                  osType: Linux
                  provisioningState: Succeeded
                  volumes:
                  - azureFile:
                      readOnly: false
                      shareName: share1
                      storageAccountName: storage1
                    name: volume1
                type: Microsoft.ContainerInstance/containerGroups
      x-openapi-router-controller: openapi_server.controllers.default_controller
    patch:
      description: Updates container group tags with specified values.
      operationId: container_groups_update
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: Client API version
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the container group.
        in: path
        name: container_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Resource'
        description: The container group resource with just the tags to be updated.
        required: true
        x-body-name: Resource
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContainerGroup'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      summary: Update container groups.
      x-ms-examples:
        ContainerGroupsUpdate:
          parameters:
            Resource:
              tags:
                tag1key: tag1Value
                tag2key: tag2Value
            api-version: 2018-10-01
            containerGroupName: demo1
            resourceGroupName: demoResource
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/demoResource/providers/Microsoft.ContainerInstance/containerGroups/demo1
                location: WestUs
                name: demo1
                properties:
                  containers:
                  - name: demo1
                    properties:
                      command: []
                      environmentVariables: []
                      image: nginx
                      ports:
                      - port: 80
                      resources:
                        requests:
                          cpu: 1
                          memoryInGB: 1.5
                      volumeMounts:
                      - mountPath: /mnt/volume1
                        name: volume1
                        readOnly: false
                      - mountPath: /mnt/volume2
                        name: volume2
                        readOnly: false
                      - mountPath: /mnt/volume3
                        name: volume3
                        readOnly: true
                  imageRegistryCredentials: []
                  ipAddress:
                    dnsNameLabel: dnsnamelabel1
                    fqdn: dnsnamelabel1.azure-container.io
                    ip: 10.0.0.1
                    ports:
                    - port: 80
                      protocol: TCP
                    type: Public
                  osType: Linux
                  provisioningState: Succeeded
                  volumes:
                  - azureFile:
                      shareName: shareName
                      storageAccountName: accountName
                    name: volume1
                  - emptyDir: {}
                    name: volume2
                  - name: volume3
                    secret: {}
                tags:
                  tag1key: tag1Value
                  tag2key: tag2Value
                type: Microsoft.ContainerInstance/containerGroups
      x-codegen-request-body-name: Resource
      x-openapi-router-controller: openapi_server.controllers.default_controller
    put:
      description: Create or update container groups with specified configurations.
      operationId: container_groups_create_or_update
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: Client API version
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the container group.
        in: path
        name: container_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContainerGroup'
        description: The properties of the container group to be created or updated.
        required: true
        x-body-name: containerGroup
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContainerGroup'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContainerGroup'
          description: Created - the container group is created.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      summary: Create or update container groups.
      x-ms-examples:
        ContainerGroupsCreateOrUpdate:
          parameters:
            api-version: 2018-10-01
            containerGroup:
              id: /subscriptions/subid/resourceGroups/demo/providers/Microsoft.ContainerInstance/containerGroups/demo1
              identity:
                type: "SystemAssigned, UserAssigned"
                userAssignedIdentities:
                  ? /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ManagedIdentity/userAssignedIdentities/identity-name
                  : {}
              location: west us
              name: demo1
              properties:
                containers:
                - name: demo1
                  properties:
                    command: []
                    environmentVariables: []
                    image: nginx
                    ports:
                    - port: 80
                    resources:
                      requests:
                        cpu: 1
                        gpu:
                          count: 1
                          sku: K80
                        memoryInGB: 1.5
                    volumeMounts:
                    - mountPath: /mnt/volume1
                      name: volume1
                      readOnly: false
                    - mountPath: /mnt/volume2
                      name: volume2
                      readOnly: false
                    - mountPath: /mnt/volume3
                      name: volume3
                      readOnly: true
                diagnostics:
                  logAnalytics:
                    logType: ContainerInsights
                    metadata:
                      test-key: test-metadata-value
                    workspaceId: workspaceid
                    workspaceKey: workspaceKey
                dnsConfig:
                  nameServers:
                  - 1.1.1.1
                  options: ndots:2
                  searchDomains: cluster.local svc.cluster.local
                imageRegistryCredentials: []
                ipAddress:
                  dnsNameLabel: dnsnamelabel1
                  ports:
                  - port: 80
                    protocol: TCP
                  type: Public
                networkProfile:
                  id: test-network-profile-id
                osType: Linux
                volumes:
                - azureFile:
                    shareName: shareName
                    storageAccountKey: accountKey
                    storageAccountName: accountName
                  name: volume1
                - emptyDir: {}
                  name: volume2
                - name: volume3
                  secret:
                    secretKey1: SecretValue1InBase64
                    secretKey2: SecretValue2InBase64
              type: Microsoft.ContainerInstance/containerGroups
            containerGroupName: demo1
            resourceGroupName: demo
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/demo/providers/Microsoft.ContainerInstance/containerGroups/demo1
                location: WestUs
                name: demo1
                properties:
                  containers:
                  - name: demo1
                    properties:
                      command: []
                      environmentVariables: []
                      image: nginx
                      ports:
                      - port: 80
                      resources:
                        requests:
                          cpu: 1
                          gpu:
                            count: 1
                            sku: K80
                          memoryInGB: 1.5
                      volumeMounts:
                      - mountPath: /mnt/volume1
                        name: volume1
                        readOnly: false
                      - mountPath: /mnt/volume2
                        name: volume2
                        readOnly: false
                      - mountPath: /mnt/volume3
                        name: volume3
                        readOnly: true
                  diagnostics:
                    logAnalytics:
                      workspaceId: workspaceid
                      workspaceKey: ""
                  dnsConfig:
                    nameServers:
                    - 1.1.1.1
                    options: ndots:2
                    searchDomains: cluster.local svc.cluster.local
                  imageRegistryCredentials: []
                  ipAddress:
                    dnsNameLabel: dnsnamelabel1
                    fqdn: dnsnamelabel1.azure-container.io
                    ip: 10.0.0.1
                    ports:
                    - port: 80
                      protocol: TCP
                    type: Public
                  osType: Linux
                  provisioningState: Succeeded
                  volumes:
                  - azureFile:
                      shareName: shareName
                      storageAccountName: accountName
                    name: volume1
                  - emptyDir: {}
                    name: volume2
                  - name: volume3
                    secret: {}
                type: Microsoft.ContainerInstance/containerGroups
            "201":
              body:
                id: /subscriptions/subid/resourceGroups/demo/providers/Microsoft.ContainerInstance/containerGroups/demo1
                location: WestUs
                name: demo1
                properties:
                  containers:
                  - name: demo1
                    properties:
                      command: []
                      environmentVariables: []
                      image: nginx
                      ports:
                      - port: 80
                      resources:
                        requests:
                          cpu: 1
                          gpu:
                            count: 1
                            sku: K80
                          memoryInGB: 1.5
                      volumeMounts:
                      - mountPath: /mnt/volume1
                        name: volume1
                        readOnly: false
                      - mountPath: /mnt/volume2
                        name: volume2
                        readOnly: false
                      - mountPath: /mnt/volume3
                        name: volume3
                        readOnly: true
                  dnsConfig:
                    nameServers:
                    - 1.1.1.1
                  imageRegistryCredentials: []
                  ipAddress:
                    dnsNameLabel: dnsnamelabel1
                    fqdn: dnsnamelabel1.azure-container.io
                    ip: 10.0.0.1
                    ports:
                    - port: 80
                      protocol: TCP
                    type: Public
                  osType: Linux
                  provisioningState: Succeeded
                  volumes:
                  - azureFile:
                      shareName: shareName
                      storageAccountName: accountName
                    name: volume1
                  - emptyDir: {}
                    name: volume2
                  - name: volume3
                    secret: {}
                type: Microsoft.ContainerInstance/containerGroups
      x-ms-long-running-operation: true
      x-codegen-request-body-name: containerGroup
      x-openapi-router-controller: openapi_server.controllers.default_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerInstance/containerGroups/{containerGroupName}/containers/{containerName}/exec
  : post:
      description: Executes a command for a specific container instance in a specified
        resource group and container group.
      operationId: container_execute_command
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: Client API version
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the container group.
        in: path
        name: container_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the container instance.
        in: path
        name: containerName
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContainerExecRequest'
        description: The request for the exec command.
        required: true
        x-body-name: containerExecRequest
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContainerExecResponse'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      summary: Executes a command in a specific container instance.
      x-ms-examples:
        ContainerExec:
          parameters:
            api-version: 2018-10-01
            containerExecRequest:
              command: /bin/bash
              terminalSize:
                column: 12
                row: 12
            containerGroupName: demo1
            containerName: container1
            resourceGroupName: demo
            subscriptionId: subid
          responses:
            "200":
              body:
                password: password
                webSocketUri: wss://web-socket-uri
      x-codegen-request-body-name: containerExecRequest
      x-openapi-router-controller: openapi_server.controllers.default_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerInstance/containerGroups/{containerGroupName}/containers/{containerName}/logs
  : get:
      description: Get the logs for a specified container instance in a specified
        resource group and container group.
      operationId: container_list_logs
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: Client API version
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the container group.
        in: path
        name: container_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the container instance.
        in: path
        name: containerName
        required: true
        schema:
          type: string
      - description: "The number of lines to show from the tail of the container instance\
          \ log. If not provided, all available logs are shown up to 4mb."
        in: query
        name: tail
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Logs'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      summary: Get the logs for a specified container instance.
      x-ms-examples:
        ContainerListLogs:
          parameters:
            api-version: 2018-10-01
            containerGroupName: demo1
            containerName: container1
            resourceGroupName: demo
            subscriptionId: subid
            tail: 10
          responses:
            "200":
              body:
                content: log content
      x-openapi-router-controller: openapi_server.controllers.default_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerInstance/containerGroups/{containerGroupName}/restart
  : post:
      description: "Restarts all containers in a container group in place. If container\
        \ image has updates, new image will be downloaded."
      operationId: container_groups_restart
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: Client API version
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the container group.
        in: path
        name: container_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "204":
          content: {}
          description: NoContent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      summary: Restarts all containers in a container group.
      x-ms-examples:
        ContainerRestart:
          parameters:
            api-version: 2018-10-01
            containerGroupName: demo1
            resourceGroupName: demo
            subscriptionId: subid
          responses:
            "204": {}
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.default_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerInstance/containerGroups/{containerGroupName}/start
  : post:
      description: Starts all containers in a container group.
      operationId: container_groups_start
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: Client API version
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the container group.
        in: path
        name: container_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "204":
          content: {}
          description: NoContent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      summary: Starts all containers in a container group.
      x-ms-examples:
        ContainerStart:
          parameters:
            api-version: 2018-10-01
            containerGroupName: demo1
            resourceGroupName: demo
            subscriptionId: subid
          responses:
            "204": {}
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.default_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerInstance/containerGroups/{containerGroupName}/stop
  : post:
      description: Stops all containers in a container group. Compute resources will
        be deallocated and billing will stop.
      operationId: container_groups_stop
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: Client API version
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the container group.
        in: path
        name: container_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "204":
          content: {}
          description: NoContent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      summary: Stops all containers in a container group.
      x-ms-examples:
        ContainerStop:
          parameters:
            api-version: 2018-10-01
            containerGroupName: demo1
            resourceGroupName: demo
            subscriptionId: subid
          responses:
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.default_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworks/{virtualNetworkName}/subnets/{subnetName}/providers/Microsoft.ContainerInstance/serviceAssociationLinks/default
  : delete:
      description: Delete the container instance service association link for the
        subnet. This operation unblocks user from deleting subnet.
      operationId: service_association_link_delete
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: Client API version
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the virtual network.
        in: path
        name: virtualNetworkName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the subnet.
        in: path
        name: subnetName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content: {}
          description: OK
        "204":
          content: {}
          description: No Content - the specified service association link was not
            found.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      summary: Delete the container instance service association link for the subnet.
      x-ms-examples:
        ContainerGroupsDelete:
          parameters:
            api-version: 2018-09-01
            resourceGroupName: demo
            subnetName: demo1
            subscriptionId: subid
            virtualNetworkName: demo1
          responses:
            "200": {}
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.default_controller
components:
  parameters:
    ApiVersionParameter:
      description: Client API version
      in: query
      name: api-version
      required: true
      schema:
        type: string
        x-ms-parameter-location: client
      x-ms-parameter-location: client
    ContainerGroupNameParameter:
      description: The name of the container group.
      in: path
      name: containerGroupName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    LocationParameter:
      description: The identifier for the physical azure location.
      in: path
      name: location
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    OperationIdParameter:
      description: The operation Id.
      in: path
      name: operationId
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ResourceGroupNameParameter:
      description: The name of the resource group.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SubnetNameParameter:
      description: The name of the subnet.
      in: path
      name: subnetName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: Subscription credentials which uniquely identify Microsoft Azure
        subscription. The subscription ID forms part of the URI for every service
        call.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
        x-ms-parameter-location: client
      x-ms-parameter-location: client
    VirtualNetworkNameParameter:
      description: The name of the virtual network.
      in: path
      name: virtualNetworkName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  schemas:
    AzureFileVolume:
      description: The properties of the Azure File volume. Azure File shares are
        mounted as volumes.
      example:
        storageAccountName: storageAccountName
        readOnly: true
        storageAccountKey: storageAccountKey
        shareName: shareName
      properties:
        readOnly:
          description: The flag indicating whether the Azure File shared mounted as
            a volume is read-only.
          title: readOnly
          type: boolean
        shareName:
          description: The name of the Azure File share to be mounted as a volume.
          title: shareName
          type: string
        storageAccountKey:
          description: The storage account access key used to access the Azure File
            share.
          title: storageAccountKey
          type: string
        storageAccountName:
          description: The name of the storage account that contains the Azure File
            share.
          title: storageAccountName
          type: string
      required:
      - shareName
      - storageAccountName
      title: AzureFileVolume
      type: object
    CachedImagesListResult:
      description: The response containing cached images.
      example:
        value:
        - image: image
          osType: osType
          id: id
        - image: image
          osType: osType
          id: id
        nextLink: nextLink
      properties:
        nextLink:
          description: The URI to fetch the next page of cached images.
          title: nextLink
          type: string
        value:
          description: The list of cached images.
          items:
            $ref: '#/components/schemas/cachedImages'
          title: value
          type: array
      title: CachedImagesListResult
      type: object
    Capabilities:
      description: The regional capabilities.
      example:
        capabilities:
          maxGpuCount: 6.027456183070403
          maxMemoryInGB: 1.4658129805029452
          maxCpu: 0.8008281904610115
        osType: osType
        location: location
        gpu: gpu
        ipAddressType: ipAddressType
        resourceType: resourceType
      properties:
        capabilities:
          $ref: '#/components/schemas/Capabilities_capabilities'
        gpu:
          description: The GPU sku that this capability describes.
          readOnly: true
          title: gpu
          type: string
        ipAddressType:
          description: The ip address type that this capability describes.
          readOnly: true
          title: ipAddressType
          type: string
        location:
          description: The resource location.
          readOnly: true
          title: location
          type: string
        osType:
          description: The OS type that this capability describes.
          readOnly: true
          title: osType
          type: string
        resourceType:
          description: The resource type that this capability describes.
          readOnly: true
          title: resourceType
          type: string
      title: Capabilities
      type: object
    CapabilitiesListResult:
      description: The response containing list of capabilities.
      example:
        value:
        - capabilities:
            maxGpuCount: 6.027456183070403
            maxMemoryInGB: 1.4658129805029452
            maxCpu: 0.8008281904610115
          osType: osType
          location: location
          gpu: gpu
          ipAddressType: ipAddressType
          resourceType: resourceType
        - capabilities:
            maxGpuCount: 6.027456183070403
            maxMemoryInGB: 1.4658129805029452
            maxCpu: 0.8008281904610115
          osType: osType
          location: location
          gpu: gpu
          ipAddressType: ipAddressType
          resourceType: resourceType
        nextLink: nextLink
      properties:
        nextLink:
          description: The URI to fetch the next page of capabilities.
          title: nextLink
          type: string
        value:
          description: The list of capabilities.
          items:
            $ref: '#/components/schemas/Capabilities'
          title: value
          type: array
      title: CapabilitiesListResult
      type: object
    CloudError:
      description: An error response from the Batch service.
      example:
        error:
          code: code
          details:
          - null
          - null
          message: message
          target: target
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorBody'
      title: CloudError
      type: object
      x-ms-external: true
    CloudErrorBody:
      description: An error response from the Batch service.
      example:
        code: code
        details:
        - null
        - null
        message: message
        target: target
      properties:
        code:
          description: An identifier for the error. Codes are invariant and are intended
            to be consumed programmatically.
          title: code
          type: string
        details:
          description: A list of additional details about the error.
          items:
            $ref: '#/components/schemas/CloudErrorBody'
          title: details
          type: array
        message:
          description: "A message describing the error, intended to be suitable for\
            \ display in a user interface."
          title: message
          type: string
        target:
          description: "The target of the particular error. For example, the name\
            \ of the property in error."
          title: target
          type: string
      title: CloudErrorBody
      type: object
      x-ms-external: true
    Container:
      description: A container instance.
      example:
        name: name
        properties:
          image: image
          livenessProbe:
            failureThreshold: 5
            periodSeconds: 7
            timeoutSeconds: 3
            successThreshold: 9
            initialDelaySeconds: 2
            exec:
              command:
              - command
              - command
            httpGet:
              path: path
              scheme: http
              port: 5
          instanceView:
            restartCount: 1
            currentState:
              detailStatus: detailStatus
              finishTime: 2000-01-23T04:56:07.000+00:00
              exitCode: 0
              startTime: 2000-01-23T04:56:07.000+00:00
              state: state
            events:
            - firstTimestamp: 2000-01-23T04:56:07.000+00:00
              lastTimestamp: 2000-01-23T04:56:07.000+00:00
              count: 6
              name: name
              message: message
              type: type
            - firstTimestamp: 2000-01-23T04:56:07.000+00:00
              lastTimestamp: 2000-01-23T04:56:07.000+00:00
              count: 6
              name: name
              message: message
              type: type
            previousState:
              detailStatus: detailStatus
              finishTime: 2000-01-23T04:56:07.000+00:00
              exitCode: 0
              startTime: 2000-01-23T04:56:07.000+00:00
              state: state
          environmentVariables:
          - secureValue: secureValue
            name: name
            value: value
          - secureValue: secureValue
            name: name
            value: value
          readinessProbe:
            failureThreshold: 5
            periodSeconds: 7
            timeoutSeconds: 3
            successThreshold: 9
            initialDelaySeconds: 2
            exec:
              command:
              - command
              - command
            httpGet:
              path: path
              scheme: http
              port: 5
          resources:
            requests:
              cpu: 1.0246457001441578
              memoryInGB: 1.4894159098541704
              gpu:
                count: 7
                sku: K80
            limits:
              cpu: 4.145608029883936
              memoryInGB: 1.2315135367772556
              gpu:
                count: 7
                sku: K80
          ports:
          - protocol: TCP
            port: 2
          - protocol: TCP
            port: 2
          command:
          - command
          - command
          volumeMounts:
          - mountPath: mountPath
            name: name
            readOnly: true
          - mountPath: mountPath
            name: name
            readOnly: true
      properties:
        name:
          description: The user-provided name of the container instance.
          title: name
          type: string
        properties:
          $ref: '#/components/schemas/ContainerProperties'
      required:
      - name
      - properties
      title: Container
      type: object
    ContainerExec:
      description: "The container execution command, for liveness or readiness probe"
      example:
        command:
        - command
        - command
      properties:
        command:
          description: The commands to execute within the container.
          items:
            type: string
          title: command
          type: array
      title: ContainerExec
      type: object
    ContainerExecRequest:
      description: The container exec request.
      example:
        terminalSize:
          rows: 6
          cols: 0
        command: command
      properties:
        command:
          description: The command to be executed.
          title: command
          type: string
        terminalSize:
          $ref: '#/components/schemas/ContainerExecRequest_terminalSize'
      title: ContainerExecRequest
      type: object
    ContainerExecResponse:
      description: The information for the container exec command.
      example:
        password: password
        webSocketUri: webSocketUri
      properties:
        password:
          description: The password to start the exec command.
          title: password
          type: string
        webSocketUri:
          description: The uri for the exec websocket.
          title: webSocketUri
          type: string
      title: ContainerExecResponse
      type: object
    ContainerGroup:
      allOf:
      - $ref: '#/components/schemas/Resource'
      - properties:
          identity:
            $ref: '#/components/schemas/ContainerGroupIdentity'
          properties:
            $ref: '#/components/schemas/ContainerGroup_allOf_properties'
        required:
        - properties
        type: object
      description: A container group.
      example:
        identity:
          userAssignedIdentities:
            key:
              clientId: clientId
              principalId: principalId
          tenantId: tenantId
          principalId: principalId
          type: SystemAssigned
        name: name
        location: location
        id: id
        type: type
        properties:
          diagnostics:
            logAnalytics:
              logType: ContainerInsights
              metadata:
                key: metadata
              workspaceId: workspaceId
              workspaceKey: workspaceKey
          instanceView:
            state: state
            events:
            - firstTimestamp: 2000-01-23T04:56:07.000+00:00
              lastTimestamp: 2000-01-23T04:56:07.000+00:00
              count: 6
              name: name
              message: message
              type: type
            - firstTimestamp: 2000-01-23T04:56:07.000+00:00
              lastTimestamp: 2000-01-23T04:56:07.000+00:00
              count: 6
              name: name
              message: message
              type: type
          dnsConfig:
            options: options
            searchDomains: searchDomains
            nameServers:
            - nameServers
            - nameServers
          imageRegistryCredentials:
          - server: server
            password: password
            username: username
          - server: server
            password: password
            username: username
          ipAddress:
            dnsNameLabel: dnsNameLabel
            fqdn: fqdn
            ip: ip
            ports:
            - protocol: TCP
              port: 6
            - protocol: TCP
              port: 6
            type: Public
          osType: Windows
          volumes:
          - azureFile:
              storageAccountName: storageAccountName
              readOnly: true
              storageAccountKey: storageAccountKey
              shareName: shareName
            emptyDir: "{}"
            name: name
            secret:
              key: secret
            gitRepo:
              repository: repository
              directory: directory
              revision: revision
          - azureFile:
              storageAccountName: storageAccountName
              readOnly: true
              storageAccountKey: storageAccountKey
              shareName: shareName
            emptyDir: "{}"
            name: name
            secret:
              key: secret
            gitRepo:
              repository: repository
              directory: directory
              revision: revision
          networkProfile:
            id: id
          containers:
          - name: name
            properties:
              image: image
              livenessProbe:
                failureThreshold: 5
                periodSeconds: 7
                timeoutSeconds: 3
                successThreshold: 9
                initialDelaySeconds: 2
                exec:
                  command:
                  - command
                  - command
                httpGet:
                  path: path
                  scheme: http
                  port: 5
              instanceView:
                restartCount: 1
                currentState:
                  detailStatus: detailStatus
                  finishTime: 2000-01-23T04:56:07.000+00:00
                  exitCode: 0
                  startTime: 2000-01-23T04:56:07.000+00:00
                  state: state
                events:
                - firstTimestamp: 2000-01-23T04:56:07.000+00:00
                  lastTimestamp: 2000-01-23T04:56:07.000+00:00
                  count: 6
                  name: name
                  message: message
                  type: type
                - firstTimestamp: 2000-01-23T04:56:07.000+00:00
                  lastTimestamp: 2000-01-23T04:56:07.000+00:00
                  count: 6
                  name: name
                  message: message
                  type: type
                previousState:
                  detailStatus: detailStatus
                  finishTime: 2000-01-23T04:56:07.000+00:00
                  exitCode: 0
                  startTime: 2000-01-23T04:56:07.000+00:00
                  state: state
              environmentVariables:
              - secureValue: secureValue
                name: name
                value: value
              - secureValue: secureValue
                name: name
                value: value
              readinessProbe:
                failureThreshold: 5
                periodSeconds: 7
                timeoutSeconds: 3
                successThreshold: 9
                initialDelaySeconds: 2
                exec:
                  command:
                  - command
                  - command
                httpGet:
                  path: path
                  scheme: http
                  port: 5
              resources:
                requests:
                  cpu: 1.0246457001441578
                  memoryInGB: 1.4894159098541704
                  gpu:
                    count: 7
                    sku: K80
                limits:
                  cpu: 4.145608029883936
                  memoryInGB: 1.2315135367772556
                  gpu:
                    count: 7
                    sku: K80
              ports:
              - protocol: TCP
                port: 2
              - protocol: TCP
                port: 2
              command:
              - command
              - command
              volumeMounts:
              - mountPath: mountPath
                name: name
                readOnly: true
              - mountPath: mountPath
                name: name
                readOnly: true
          - name: name
            properties:
              image: image
              livenessProbe:
                failureThreshold: 5
                periodSeconds: 7
                timeoutSeconds: 3
                successThreshold: 9
                initialDelaySeconds: 2
                exec:
                  command:
                  - command
                  - command
                httpGet:
                  path: path
                  scheme: http
                  port: 5
              instanceView:
                restartCount: 1
                currentState:
                  detailStatus: detailStatus
                  finishTime: 2000-01-23T04:56:07.000+00:00
                  exitCode: 0
                  startTime: 2000-01-23T04:56:07.000+00:00
                  state: state
                events:
                - firstTimestamp: 2000-01-23T04:56:07.000+00:00
                  lastTimestamp: 2000-01-23T04:56:07.000+00:00
                  count: 6
                  name: name
                  message: message
                  type: type
                - firstTimestamp: 2000-01-23T04:56:07.000+00:00
                  lastTimestamp: 2000-01-23T04:56:07.000+00:00
                  count: 6
                  name: name
                  message: message
                  type: type
                previousState:
                  detailStatus: detailStatus
                  finishTime: 2000-01-23T04:56:07.000+00:00
                  exitCode: 0
                  startTime: 2000-01-23T04:56:07.000+00:00
                  state: state
              environmentVariables:
              - secureValue: secureValue
                name: name
                value: value
              - secureValue: secureValue
                name: name
                value: value
              readinessProbe:
                failureThreshold: 5
                periodSeconds: 7
                timeoutSeconds: 3
                successThreshold: 9
                initialDelaySeconds: 2
                exec:
                  command:
                  - command
                  - command
                httpGet:
                  path: path
                  scheme: http
                  port: 5
              resources:
                requests:
                  cpu: 1.0246457001441578
                  memoryInGB: 1.4894159098541704
                  gpu:
                    count: 7
                    sku: K80
                limits:
                  cpu: 4.145608029883936
                  memoryInGB: 1.2315135367772556
                  gpu:
                    count: 7
                    sku: K80
              ports:
              - protocol: TCP
                port: 2
              - protocol: TCP
                port: 2
              command:
              - command
              - command
              volumeMounts:
              - mountPath: mountPath
                name: name
                readOnly: true
              - mountPath: mountPath
                name: name
                readOnly: true
          provisioningState: provisioningState
          restartPolicy: Always
        tags:
          key: tags
      title: ContainerGroup
    ContainerGroupDiagnostics:
      description: Container group diagnostic information.
      example:
        logAnalytics:
          logType: ContainerInsights
          metadata:
            key: metadata
          workspaceId: workspaceId
          workspaceKey: workspaceKey
      properties:
        logAnalytics:
          $ref: '#/components/schemas/LogAnalytics'
      title: ContainerGroupDiagnostics
      type: object
    ContainerGroupIdentity:
      description: Identity for the container group.
      example:
        userAssignedIdentities:
          key:
            clientId: clientId
            principalId: principalId
        tenantId: tenantId
        principalId: principalId
        type: SystemAssigned
      properties:
        principalId:
          description: The principal id of the container group identity. This property
            will only be provided for a system assigned identity.
          readOnly: true
          title: principalId
          type: string
        tenantId:
          description: The tenant id associated with the container group. This property
            will only be provided for a system assigned identity.
          readOnly: true
          title: tenantId
          type: string
        type:
          description: "The type of identity used for the container group. The type\
            \ 'SystemAssigned, UserAssigned' includes both an implicitly created identity\
            \ and a set of user assigned identities. The type 'None' will remove any\
            \ identities from the container group."
          enum:
          - SystemAssigned
          - UserAssigned
          - "SystemAssigned, UserAssigned"
          - None
          title: type
          type: string
          x-ms-enum:
            modelAsString: false
            name: ResourceIdentityType
        userAssignedIdentities:
          additionalProperties:
            $ref: '#/components/schemas/ContainerGroupIdentity_userAssignedIdentities_value'
          description: "The list of user identities associated with the container\
            \ group. The user identity dictionary key references will be ARM resource\
            \ ids in the form: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}'."
          title: userAssignedIdentities
          type: object
      title: ContainerGroupIdentity
      type: object
    ContainerGroupListResult:
      description: The container group list response that contains the container group
        properties.
      example:
        value:
        - identity:
            userAssignedIdentities:
              key:
                clientId: clientId
                principalId: principalId
            tenantId: tenantId
            principalId: principalId
            type: SystemAssigned
          name: name
          location: location
          id: id
          type: type
          properties:
            diagnostics:
              logAnalytics:
                logType: ContainerInsights
                metadata:
                  key: metadata
                workspaceId: workspaceId
                workspaceKey: workspaceKey
            instanceView:
              state: state
              events:
              - firstTimestamp: 2000-01-23T04:56:07.000+00:00
                lastTimestamp: 2000-01-23T04:56:07.000+00:00
                count: 6
                name: name
                message: message
                type: type
              - firstTimestamp: 2000-01-23T04:56:07.000+00:00
                lastTimestamp: 2000-01-23T04:56:07.000+00:00
                count: 6
                name: name
                message: message
                type: type
            dnsConfig:
              options: options
              searchDomains: searchDomains
              nameServers:
              - nameServers
              - nameServers
            imageRegistryCredentials:
            - server: server
              password: password
              username: username
            - server: server
              password: password
              username: username
            ipAddress:
              dnsNameLabel: dnsNameLabel
              fqdn: fqdn
              ip: ip
              ports:
              - protocol: TCP
                port: 6
              - protocol: TCP
                port: 6
              type: Public
            osType: Windows
            volumes:
            - azureFile:
                storageAccountName: storageAccountName
                readOnly: true
                storageAccountKey: storageAccountKey
                shareName: shareName
              emptyDir: "{}"
              name: name
              secret:
                key: secret
              gitRepo:
                repository: repository
                directory: directory
                revision: revision
            - azureFile:
                storageAccountName: storageAccountName
                readOnly: true
                storageAccountKey: storageAccountKey
                shareName: shareName
              emptyDir: "{}"
              name: name
              secret:
                key: secret
              gitRepo:
                repository: repository
                directory: directory
                revision: revision
            networkProfile:
              id: id
            containers:
            - name: name
              properties:
                image: image
                livenessProbe:
                  failureThreshold: 5
                  periodSeconds: 7
                  timeoutSeconds: 3
                  successThreshold: 9
                  initialDelaySeconds: 2
                  exec:
                    command:
                    - command
                    - command
                  httpGet:
                    path: path
                    scheme: http
                    port: 5
                instanceView:
                  restartCount: 1
                  currentState:
                    detailStatus: detailStatus
                    finishTime: 2000-01-23T04:56:07.000+00:00
                    exitCode: 0
                    startTime: 2000-01-23T04:56:07.000+00:00
                    state: state
                  events:
                  - firstTimestamp: 2000-01-23T04:56:07.000+00:00
                    lastTimestamp: 2000-01-23T04:56:07.000+00:00
                    count: 6
                    name: name
                    message: message
                    type: type
                  - firstTimestamp: 2000-01-23T04:56:07.000+00:00
                    lastTimestamp: 2000-01-23T04:56:07.000+00:00
                    count: 6
                    name: name
                    message: message
                    type: type
                  previousState:
                    detailStatus: detailStatus
                    finishTime: 2000-01-23T04:56:07.000+00:00
                    exitCode: 0
                    startTime: 2000-01-23T04:56:07.000+00:00
                    state: state
                environmentVariables:
                - secureValue: secureValue
                  name: name
                  value: value
                - secureValue: secureValue
                  name: name
                  value: value
                readinessProbe:
                  failureThreshold: 5
                  periodSeconds: 7
                  timeoutSeconds: 3
                  successThreshold: 9
                  initialDelaySeconds: 2
                  exec:
                    command:
                    - command
                    - command
                  httpGet:
                    path: path
                    scheme: http
                    port: 5
                resources:
                  requests:
                    cpu: 1.0246457001441578
                    memoryInGB: 1.4894159098541704
                    gpu:
                      count: 7
                      sku: K80
                  limits:
                    cpu: 4.145608029883936
                    memoryInGB: 1.2315135367772556
                    gpu:
                      count: 7
                      sku: K80
                ports:
                - protocol: TCP
                  port: 2
                - protocol: TCP
                  port: 2
                command:
                - command
                - command
                volumeMounts:
                - mountPath: mountPath
                  name: name
                  readOnly: true
                - mountPath: mountPath
                  name: name
                  readOnly: true
            - name: name
              properties:
                image: image
                livenessProbe:
                  failureThreshold: 5
                  periodSeconds: 7
                  timeoutSeconds: 3
                  successThreshold: 9
                  initialDelaySeconds: 2
                  exec:
                    command:
                    - command
                    - command
                  httpGet:
                    path: path
                    scheme: http
                    port: 5
                instanceView:
                  restartCount: 1
                  currentState:
                    detailStatus: detailStatus
                    finishTime: 2000-01-23T04:56:07.000+00:00
                    exitCode: 0
                    startTime: 2000-01-23T04:56:07.000+00:00
                    state: state
                  events:
                  - firstTimestamp: 2000-01-23T04:56:07.000+00:00
                    lastTimestamp: 2000-01-23T04:56:07.000+00:00
                    count: 6
                    name: name
                    message: message
                    type: type
                  - firstTimestamp: 2000-01-23T04:56:07.000+00:00
                    lastTimestamp: 2000-01-23T04:56:07.000+00:00
                    count: 6
                    name: name
                    message: message
                    type: type
                  previousState:
                    detailStatus: detailStatus
                    finishTime: 2000-01-23T04:56:07.000+00:00
                    exitCode: 0
                    startTime: 2000-01-23T04:56:07.000+00:00
                    state: state
                environmentVariables:
                - secureValue: secureValue
                  name: name
                  value: value
                - secureValue: secureValue
                  name: name
                  value: value
                readinessProbe:
                  failureThreshold: 5
                  periodSeconds: 7
                  timeoutSeconds: 3
                  successThreshold: 9
                  initialDelaySeconds: 2
                  exec:
                    command:
                    - command
                    - command
                  httpGet:
                    path: path
                    scheme: http
                    port: 5
                resources:
                  requests:
                    cpu: 1.0246457001441578
                    memoryInGB: 1.4894159098541704
                    gpu:
                      count: 7
                      sku: K80
                  limits:
                    cpu: 4.145608029883936
                    memoryInGB: 1.2315135367772556
                    gpu:
                      count: 7
                      sku: K80
                ports:
                - protocol: TCP
                  port: 2
                - protocol: TCP
                  port: 2
                command:
                - command
                - command
                volumeMounts:
                - mountPath: mountPath
                  name: name
                  readOnly: true
                - mountPath: mountPath
                  name: name
                  readOnly: true
            provisioningState: provisioningState
            restartPolicy: Always
          tags:
            key: tags
        - identity:
            userAssignedIdentities:
              key:
                clientId: clientId
                principalId: principalId
            tenantId: tenantId
            principalId: principalId
            type: SystemAssigned
          name: name
          location: location
          id: id
          type: type
          properties:
            diagnostics:
              logAnalytics:
                logType: ContainerInsights
                metadata:
                  key: metadata
                workspaceId: workspaceId
                workspaceKey: workspaceKey
            instanceView:
              state: state
              events:
              - firstTimestamp: 2000-01-23T04:56:07.000+00:00
                lastTimestamp: 2000-01-23T04:56:07.000+00:00
                count: 6
                name: name
                message: message
                type: type
              - firstTimestamp: 2000-01-23T04:56:07.000+00:00
                lastTimestamp: 2000-01-23T04:56:07.000+00:00
                count: 6
                name: name
                message: message
                type: type
            dnsConfig:
              options: options
              searchDomains: searchDomains
              nameServers:
              - nameServers
              - nameServers
            imageRegistryCredentials:
            - server: server
              password: password
              username: username
            - server: server
              password: password
              username: username
            ipAddress:
              dnsNameLabel: dnsNameLabel
              fqdn: fqdn
              ip: ip
              ports:
              - protocol: TCP
                port: 6
              - protocol: TCP
                port: 6
              type: Public
            osType: Windows
            volumes:
            - azureFile:
                storageAccountName: storageAccountName
                readOnly: true
                storageAccountKey: storageAccountKey
                shareName: shareName
              emptyDir: "{}"
              name: name
              secret:
                key: secret
              gitRepo:
                repository: repository
                directory: directory
                revision: revision
            - azureFile:
                storageAccountName: storageAccountName
                readOnly: true
                storageAccountKey: storageAccountKey
                shareName: shareName
              emptyDir: "{}"
              name: name
              secret:
                key: secret
              gitRepo:
                repository: repository
                directory: directory
                revision: revision
            networkProfile:
              id: id
            containers:
            - name: name
              properties:
                image: image
                livenessProbe:
                  failureThreshold: 5
                  periodSeconds: 7
                  timeoutSeconds: 3
                  successThreshold: 9
                  initialDelaySeconds: 2
                  exec:
                    command:
                    - command
                    - command
                  httpGet:
                    path: path
                    scheme: http
                    port: 5
                instanceView:
                  restartCount: 1
                  currentState:
                    detailStatus: detailStatus
                    finishTime: 2000-01-23T04:56:07.000+00:00
                    exitCode: 0
                    startTime: 2000-01-23T04:56:07.000+00:00
                    state: state
                  events:
                  - firstTimestamp: 2000-01-23T04:56:07.000+00:00
                    lastTimestamp: 2000-01-23T04:56:07.000+00:00
                    count: 6
                    name: name
                    message: message
                    type: type
                  - firstTimestamp: 2000-01-23T04:56:07.000+00:00
                    lastTimestamp: 2000-01-23T04:56:07.000+00:00
                    count: 6
                    name: name
                    message: message
                    type: type
                  previousState:
                    detailStatus: detailStatus
                    finishTime: 2000-01-23T04:56:07.000+00:00
                    exitCode: 0
                    startTime: 2000-01-23T04:56:07.000+00:00
                    state: state
                environmentVariables:
                - secureValue: secureValue
                  name: name
                  value: value
                - secureValue: secureValue
                  name: name
                  value: value
                readinessProbe:
                  failureThreshold: 5
                  periodSeconds: 7
                  timeoutSeconds: 3
                  successThreshold: 9
                  initialDelaySeconds: 2
                  exec:
                    command:
                    - command
                    - command
                  httpGet:
                    path: path
                    scheme: http
                    port: 5
                resources:
                  requests:
                    cpu: 1.0246457001441578
                    memoryInGB: 1.4894159098541704
                    gpu:
                      count: 7
                      sku: K80
                  limits:
                    cpu: 4.145608029883936
                    memoryInGB: 1.2315135367772556
                    gpu:
                      count: 7
                      sku: K80
                ports:
                - protocol: TCP
                  port: 2
                - protocol: TCP
                  port: 2
                command:
                - command
                - command
                volumeMounts:
                - mountPath: mountPath
                  name: name
                  readOnly: true
                - mountPath: mountPath
                  name: name
                  readOnly: true
            - name: name
              properties:
                image: image
                livenessProbe:
                  failureThreshold: 5
                  periodSeconds: 7
                  timeoutSeconds: 3
                  successThreshold: 9
                  initialDelaySeconds: 2
                  exec:
                    command:
                    - command
                    - command
                  httpGet:
                    path: path
                    scheme: http
                    port: 5
                instanceView:
                  restartCount: 1
                  currentState:
                    detailStatus: detailStatus
                    finishTime: 2000-01-23T04:56:07.000+00:00
                    exitCode: 0
                    startTime: 2000-01-23T04:56:07.000+00:00
                    state: state
                  events:
                  - firstTimestamp: 2000-01-23T04:56:07.000+00:00
                    lastTimestamp: 2000-01-23T04:56:07.000+00:00
                    count: 6
                    name: name
                    message: message
                    type: type
                  - firstTimestamp: 2000-01-23T04:56:07.000+00:00
                    lastTimestamp: 2000-01-23T04:56:07.000+00:00
                    count: 6
                    name: name
                    message: message
                    type: type
                  previousState:
                    detailStatus: detailStatus
                    finishTime: 2000-01-23T04:56:07.000+00:00
                    exitCode: 0
                    startTime: 2000-01-23T04:56:07.000+00:00
                    state: state
                environmentVariables:
                - secureValue: secureValue
                  name: name
                  value: value
                - secureValue: secureValue
                  name: name
                  value: value
                readinessProbe:
                  failureThreshold: 5
                  periodSeconds: 7
                  timeoutSeconds: 3
                  successThreshold: 9
                  initialDelaySeconds: 2
                  exec:
                    command:
                    - command
                    - command
                  httpGet:
                    path: path
                    scheme: http
                    port: 5
                resources:
                  requests:
                    cpu: 1.0246457001441578
                    memoryInGB: 1.4894159098541704
                    gpu:
                      count: 7
                      sku: K80
                  limits:
                    cpu: 4.145608029883936
                    memoryInGB: 1.2315135367772556
                    gpu:
                      count: 7
                      sku: K80
                ports:
                - protocol: TCP
                  port: 2
                - protocol: TCP
                  port: 2
                command:
                - command
                - command
                volumeMounts:
                - mountPath: mountPath
                  name: name
                  readOnly: true
                - mountPath: mountPath
                  name: name
                  readOnly: true
            provisioningState: provisioningState
            restartPolicy: Always
          tags:
            key: tags
        nextLink: nextLink
      properties:
        nextLink:
          description: The URI to fetch the next page of container groups.
          title: nextLink
          type: string
        value:
          description: The list of container groups.
          items:
            $ref: '#/components/schemas/ContainerGroup'
          title: value
          type: array
      title: ContainerGroupListResult
      type: object
    ContainerGroupNetworkProfile:
      description: Container group network profile information.
      example:
        id: id
      properties:
        id:
          description: The identifier for a network profile.
          title: id
          type: string
      required:
      - id
      title: ContainerGroupNetworkProfile
      type: object
    ContainerHttpGet:
      description: "The container Http Get settings, for liveness or readiness probe"
      example:
        path: path
        scheme: http
        port: 5
      properties:
        path:
          description: The path to probe.
          title: path
          type: string
        port:
          description: The port number to probe.
          format: int32
          title: port
          type: integer
        scheme:
          description: The scheme.
          enum:
          - http
          - https
          title: scheme
          type: string
      required:
      - port
      title: ContainerHttpGet
[...]
