openapi: 3.0.1
info:
  title: CostManagementClient
  version: 2018-08-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2018-08-01-preview/costmanagement.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: cost-management-costmanagement
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /providers/Microsoft.Billing/billingAccounts/{billingAccountId}/departments/{departmentId}/providers/Microsoft.CostManagement/alerts
  : get:
      description: List all alerts for a department.
      operationId: alerts_list_by_department
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2018-08-01-preview.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: BillingAccount ID
        in: path
        name: billingAccountId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Department ID
        in: path
        name: departmentId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "May be used to filter alerts by properties/definition/type,\
          \ properties/definition/category, properties/definition/criteria, properties/costEntityId,\
          \ properties/creationTime, properties/closeTime, properties/status, properties/source.\
          \ Supported operators are 'eq','lt', 'gt', 'le', 'ge'."
        in: query
        name: $filter
        schema:
          type: string
      - description: "Skiptoken is only used if a previous operation returned a partial\
          \ result. If a previous response contains a nextLink element, the value\
          \ of the nextLink element will include a skiptoken parameter that specifies\
          \ a starting point to use for subsequent calls."
        in: query
        name: $skiptoken
        schema:
          type: string
      - description: May be used to limit the number of results to the most recent
          N alerts.
        in: query
        name: $top
        schema:
          maximum: 1000
          minimum: 1
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Alerts
      x-ms-examples:
        Alert_List:
          parameters:
            api-version: 2018-08-01-preview
            resourceGroupName: rg1
            subscriptionId: 01234567-89ab-cdef-0123-456789abcdef
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/01234567-89ab-cdef-0123-456789abcdef/resourceGroups/rg1/providers/Microsoft.CostManagement/alerts/0e1d6ee7-0052-4996-89e2-023263106885
                  name: 0e1d6ee7-0052-4996-89e2-023263106885
                  properties:
                    closeTime: 2018-09-10T11:21:43.3495582+03:00
                    costEntityId: "123"
                    creationTime: 2018-09-03T11:21:43.3495582+03:00
                    definition:
                      category: Cost
                      criteria: CostThresholdExceeded
                      type: Budget
                    description: This is an example alert
                    details:
                      amountDue: "500.0"
                      billedAmount: "680.36"
                    modificationTime: 2018-12-05T10:04:36.0321998Z
                    source: User
                    status: Resolved
                    statusModificationTime: 2018-12-05T10:04:36.0321998Z
                    statusModificationUserName: Ido Ben
                  type: Microsoft.CostManagement/alerts
                - id: /subscriptions/01234567-89ab-cdef-0123-456789abcdef/resourceGroups/rg1/providers/Microsoft.CostManagement/alerts/0e1d6ee7-0052-4996-89e2-023263106454
                  name: 0e1d6ee7-0052-4996-89e2-023263106454
                  properties:
                    closeTime: 1970-01-01T00:00:00.0000000+00:00
                    costEntityId: abc
                    creationTime: 2018-09-03T11:21:43.3495582+03:00
                    definition:
                      category: Billing
                      criteria: CreditThresholdReached
                      type: Credit
                    description: This is another example alert
                    details:
                      amountDue: "500.0"
                      billedAmount: "680.36"
                    modificationTime: 2018-12-05T10:04:36.0321998Z
                    source: Preset
                    status: Active
                    statusModificationTime: 2018-12-05T10:04:36.0321998Z
                    statusModificationUserName: Ido Ben
                  type: Microsoft.CostManagement/alerts
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.alerts_controller
  ? /providers/Microsoft.Billing/billingAccounts/{billingAccountId}/departments/{departmentId}/providers/Microsoft.CostManagement/alerts/{alertId}
  : get:
      description: Gets the alert for a department by alert ID.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: alerts_get_by_department
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2018-08-01-preview.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: BillingAccount ID
        in: path
        name: billing_account_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Department ID
        in: path
        name: department_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Alert ID.
        in: path
        name: alertId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Alert'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Alerts
      x-ms-examples:
        Alert:
          parameters:
            alertId: 0e1d6ee7-0052-4996-89e2-023263106885
            api-version: 2018-08-01-preview
            resourceGroupName: rg1
            subscriptionId: 01234567-89ab-cdef-0123-456789abcdef
          responses:
            "200":
              body:
                id: /subscriptions/01234567-89ab-cdef-0123-456789abcdef/resourceGroups/rg1/providers/Microsoft.CostManagement/alerts/0e1d6ee7-0052-4996-89e2-023263106885
                name: 0e1d6ee7-0052-4996-89e2-023263106885
                properties:
                  closeTime: 2018-09-10T11:21:43.3495582+03:00
                  costEntityId: "123"
                  creationTime: 2018-09-03T11:21:43.3495582+03:00
                  definition:
                    category: Cost
                    criteria: CostThresholdExceeded
                    type: Budget
                  description: This is an example alert
                  details:
                    amountDue: "500.0"
                    billedAmount: "680.36"
                  modificationTime: 2018-12-05T10:04:36.0321998Z
                  source: User
                  status: Active
                  statusModificationTime: 2018-12-05T10:04:36.0321998Z
                  statusModificationUserName: Ido Ben
                type: Microsoft.CostManagement/alerts
      x-openapi-router-controller: openapi_server.controllers.alerts_controller
  ? /providers/Microsoft.Billing/billingAccounts/{billingAccountId}/departments/{departmentId}/providers/Microsoft.CostManagement/alerts/{alertId}/updateStatus
  : patch:
      description: Update alerts status for a department.
      operationId: alerts_update_departments_alert_status
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2018-08-01-preview.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: BillingAccount ID
        in: path
        name: billing_account_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Department ID
        in: path
        name: department_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Alert ID.
        in: path
        name: alert_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Alert'
        description: Parameters supplied to the update alerts status operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Alert'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Alerts
      x-ms-examples:
        Alert:
          parameters:
            alertId: 0e1d6ee7-0052-4996-89e2-023263106885
            api-version: 2018-08-01-preview
            resourceGroupName: rg1
            subscriptionId: 01234567-89ab-cdef-0123-456789abcdef
          responses:
            "200":
              body:
                id: /subscriptions/01234567-89ab-cdef-0123-456789abcdef/resourceGroups/rg1/providers/Microsoft.CostManagement/alerts/0e1d6ee7-0052-4996-89e2-023263106885
                name: 0e1d6ee7-0052-4996-89e2-023263106885
                properties:
                  closeTime: 2018-09-10T11:21:43.3495582+03:00
                  costEntityId: "123"
                  creationTime: 2018-09-03T11:21:43.3495582+03:00
                  definition:
                    category: Cost
                    criteria: CostThresholdExceeded
                    type: Budget
                  description: This is an example alert
                  details:
                    amountDue: "500.0"
                    billedAmount: "680.36"
                  modificationTime: 2018-12-05T10:04:36.0321998Z
                  source: User
                  status: Active
                  statusModificationTime: 2018-12-05T10:04:36.0321998Z
                  statusModificationUserName: Ido Ben
                type: Microsoft.CostManagement/alerts
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.alerts_controller
  ? /providers/Microsoft.Billing/billingAccounts/{billingAccountId}/enrollmentAccounts/{enrollmentAccountId}/providers/Microsoft.CostManagement/alerts
  : get:
      description: List all alerts for an account.
      operationId: alerts_list_by_account
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2018-08-01-preview.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: BillingAccount ID
        in: path
        name: billing_account_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Enrollment Account Id
        in: path
        name: enrollmentAccountId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "May be used to filter alerts by properties/definition/type,\
          \ properties/definition/category, properties/definition/criteria, properties/costEntityId,\
          \ properties/creationTime, properties/closeTime, properties/status, properties/source.\
          \ Supported operators are 'eq','lt', 'gt', 'le', 'ge'."
        in: query
        name: $filter
        schema:
          type: string
      - description: "Skiptoken is only used if a previous operation returned a partial\
          \ result. If a previous response contains a nextLink element, the value\
          \ of the nextLink element will include a skiptoken parameter that specifies\
          \ a starting point to use for subsequent calls."
        in: query
        name: $skiptoken
        schema:
          type: string
      - description: May be used to limit the number of results to the most recent
          N alerts.
        in: query
        name: $top
        schema:
          maximum: 1000
          minimum: 1
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Alerts
      x-ms-examples:
        Alert_List:
          parameters:
            api-version: 2018-08-01-preview
            resourceGroupName: rg1
            subscriptionId: 01234567-89ab-cdef-0123-456789abcdef
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/01234567-89ab-cdef-0123-456789abcdef/resourceGroups/rg1/providers/Microsoft.CostManagement/alerts/0e1d6ee7-0052-4996-89e2-023263106885
                  name: 0e1d6ee7-0052-4996-89e2-023263106885
                  properties:
                    closeTime: 2018-09-10T11:21:43.3495582+03:00
                    costEntityId: "123"
                    creationTime: 2018-09-03T11:21:43.3495582+03:00
                    definition:
                      category: Cost
                      criteria: CostThresholdExceeded
                      type: Budget
                    description: This is an example alert
                    details:
                      amountDue: "500.0"
                      billedAmount: "680.36"
                    modificationTime: 2018-12-05T10:04:36.0321998Z
                    source: User
                    status: Resolved
                    statusModificationTime: 2018-12-05T10:04:36.0321998Z
                    statusModificationUserName: Ido Ben
                  type: Microsoft.CostManagement/alerts
                - id: /subscriptions/01234567-89ab-cdef-0123-456789abcdef/resourceGroups/rg1/providers/Microsoft.CostManagement/alerts/0e1d6ee7-0052-4996-89e2-023263106454
                  name: 0e1d6ee7-0052-4996-89e2-023263106454
                  properties:
                    closeTime: 1970-01-01T00:00:00.0000000+00:00
                    costEntityId: abc
                    creationTime: 2018-09-03T11:21:43.3495582+03:00
                    definition:
                      category: Billing
                      criteria: CreditThresholdReached
                      type: Credit
                    description: This is another example alert
                    details:
                      amountDue: "500.0"
                      billedAmount: "680.36"
                    modificationTime: 2018-12-05T10:04:36.0321998Z
                    source: Preset
                    status: Active
                    statusModificationTime: 2018-12-05T10:04:36.0321998Z
                    statusModificationUserName: Ido Ben
                  type: Microsoft.CostManagement/alerts
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.alerts_controller
  ? /providers/Microsoft.Billing/billingAccounts/{billingAccountId}/enrollmentAccounts/{enrollmentAccountId}/providers/Microsoft.CostManagement/alerts/{alertId}
  : get:
      description: Gets the alert for an account by alert ID.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: alerts_get_by_account
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2018-08-01-preview.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: BillingAccount ID
        in: path
        name: billing_account_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Enrollment Account Id
        in: path
        name: enrollment_account_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Alert ID.
        in: path
        name: alert_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Alert'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Alerts
      x-ms-examples:
        Alert:
          parameters:
            alertId: 0e1d6ee7-0052-4996-89e2-023263106885
            api-version: 2018-08-01-preview
            resourceGroupName: rg1
            subscriptionId: 01234567-89ab-cdef-0123-456789abcdef
          responses:
            "200":
              body:
                id: /subscriptions/01234567-89ab-cdef-0123-456789abcdef/resourceGroups/rg1/providers/Microsoft.CostManagement/alerts/0e1d6ee7-0052-4996-89e2-023263106885
                name: 0e1d6ee7-0052-4996-89e2-023263106885
                properties:
                  closeTime: 2018-09-10T11:21:43.3495582+03:00
                  costEntityId: "123"
                  creationTime: 2018-09-03T11:21:43.3495582+03:00
                  definition:
                    category: Cost
                    criteria: CostThresholdExceeded
                    type: Budget
                  description: This is an example alert
                  details:
                    amountDue: "500.0"
                    billedAmount: "680.36"
                  modificationTime: 2018-12-05T10:04:36.0321998Z
                  source: User
                  status: Active
                  statusModificationTime: 2018-12-05T10:04:36.0321998Z
                  statusModificationUserName: Ido Ben
                type: Microsoft.CostManagement/alerts
      x-openapi-router-controller: openapi_server.controllers.alerts_controller
  ? /providers/Microsoft.Billing/billingAccounts/{billingAccountId}/enrollmentAccounts/{enrollmentAccountId}/providers/Microsoft.CostManagement/alerts/{alertId}/updateStatus
  : patch:
      description: Update alerts status for an enrollment account.
      operationId: alerts_update_enrollment_account_alert_status
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2018-08-01-preview.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: BillingAccount ID
        in: path
        name: billing_account_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Enrollment Account Id
        in: path
        name: enrollment_account_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Alert ID.
        in: path
        name: alert_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Alert'
        description: Parameters supplied to the update alerts status operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Alert'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Alerts
      x-ms-examples:
        Alert:
          parameters:
            alertId: 0e1d6ee7-0052-4996-89e2-023263106885
            api-version: 2018-08-01-preview
            resourceGroupName: rg1
            subscriptionId: 01234567-89ab-cdef-0123-456789abcdef
          responses:
            "200":
              body:
                id: /subscriptions/01234567-89ab-cdef-0123-456789abcdef/resourceGroups/rg1/providers/Microsoft.CostManagement/alerts/0e1d6ee7-0052-4996-89e2-023263106885
                name: 0e1d6ee7-0052-4996-89e2-023263106885
                properties:
                  closeTime: 2018-09-10T11:21:43.3495582+03:00
                  costEntityId: "123"
                  creationTime: 2018-09-03T11:21:43.3495582+03:00
                  definition:
                    category: Cost
                    criteria: CostThresholdExceeded
                    type: Budget
                  description: This is an example alert
                  details:
                    amountDue: "500.0"
                    billedAmount: "680.36"
                  modificationTime: 2018-12-05T10:04:36.0321998Z
                  source: User
                  status: Active
                  statusModificationTime: 2018-12-05T10:04:36.0321998Z
                  statusModificationUserName: Ido Ben
                type: Microsoft.CostManagement/alerts
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.alerts_controller
  /providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.CostManagement/Query:
    post:
      description: Lists the usage data for billing account.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: query_billing_account
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2018-08-01-preview.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: BillingAccount ID
        in: path
        name: billing_account_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportDefinition'
        description: Parameters supplied to the CreateOrUpdate Report operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Query
      x-ms-examples:
        BillingAccountQuery:
          parameters:
            api-version: 2018-08-01-preview
            billingAccountId: "70664866"
            parameters:
              dataset:
                configuration:
                  columns:
                  - PreTaxCost
                  - ResourceGroup
                  - UsageDate
                filter:
                  and:
                  - or:
                    - dimension:
                        name: ResourceLocation
                        operator: In
                        values:
                        - East US
                        - West Europe
                    - tag:
                        name: Environment
                        operator: In
                        values:
                        - UAT
                        - Prod
                  - dimension:
                      name: ResourceGroup
                      operator: In
                      values:
                      - API
                granularity: Daily
              timeframe: MonthToDate
              type: Usage
          responses:
            "200":
              body:
                value:
                - id: providers/Microsoft.Billing/billingAccounts/70664866/providers/Microsoft.CostManagement/Query/ad67fd91-c131-4bda-9ba9-7187ecb1cebd
                  name: ad67fd91-c131-4bda-9ba9-7187ecb1cebd
                  properties:
                    columns:
                    - name: PreTaxCost
                      type: Number
                    - name: ResourceGroup
                      type: String
                    - name: UsageDate
                      type: Number
                    nextLink: https://management.azure.com/providers/Microsoft.Billing/billingAccounts/70664866/providers/Microsoft.CostManagement/Query?api-version=2018-05-31&$skiptoken=AQAAAA%3D%3D
                    rows:
                    - - 19.545363672276512
                      - JapanUnifia-Trial
                      - 20180331
                    - - 173.41979241290323
                      - RVIIOT-TRIAL
                      - 20180331
                    - - 20.35941656262545
                      - VSTSHOL-1595322048000
                      - 20180331
                    - - 0.16677720329728665
                      - gs-stms-dev
                      - 20180331
                  type: microsoft.costmanagement/Query
      x-ms-pageable: {}
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.query_controller
  /providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.CostManagement/alerts:
    get:
      description: List all alerts for an enrollment.
      operationId: alerts_list_by_enrollment
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2018-08-01-preview.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: BillingAccount ID
        in: path
        name: billing_account_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "May be used to filter alerts by properties/definition/type,\
          \ properties/definition/category, properties/definition/criteria, properties/costEntityId,\
          \ properties/creationTime, properties/closeTime, properties/status, properties/source.\
          \ Supported operators are 'eq','lt', 'gt', 'le', 'ge'."
        in: query
        name: $filter
        schema:
          type: string
      - description: "Skiptoken is only used if a previous operation returned a partial\
          \ result. If a previous response contains a nextLink element, the value\
          \ of the nextLink element will include a skiptoken parameter that specifies\
          \ a starting point to use for subsequent calls."
        in: query
        name: $skiptoken
        schema:
          type: string
      - description: May be used to limit the number of results to the most recent
          N alerts.
        in: query
        name: $top
        schema:
          maximum: 1000
          minimum: 1
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Alerts
      x-ms-examples:
        Alert_List:
          parameters:
            api-version: 2018-08-01-preview
            resourceGroupName: rg1
            subscriptionId: 01234567-89ab-cdef-0123-456789abcdef
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/01234567-89ab-cdef-0123-456789abcdef/resourceGroups/rg1/providers/Microsoft.CostManagement/alerts/0e1d6ee7-0052-4996-89e2-023263106885
                  name: 0e1d6ee7-0052-4996-89e2-023263106885
                  properties:
                    closeTime: 2018-09-10T11:21:43.3495582+03:00
                    costEntityId: "123"
                    creationTime: 2018-09-03T11:21:43.3495582+03:00
                    definition:
                      category: Cost
                      criteria: CostThresholdExceeded
                      type: Budget
                    description: This is an example alert
                    details:
                      amountDue: "500.0"
                      billedAmount: "680.36"
                    modificationTime: 2018-12-05T10:04:36.0321998Z
                    source: User
                    status: Resolved
                    statusModificationTime: 2018-12-05T10:04:36.0321998Z
                    statusModificationUserName: Ido Ben
                  type: Microsoft.CostManagement/alerts
                - id: /subscriptions/01234567-89ab-cdef-0123-456789abcdef/resourceGroups/rg1/providers/Microsoft.CostManagement/alerts/0e1d6ee7-0052-4996-89e2-023263106454
                  name: 0e1d6ee7-0052-4996-89e2-023263106454
                  properties:
                    closeTime: 1970-01-01T00:00:00.0000000+00:00
                    costEntityId: abc
                    creationTime: 2018-09-03T11:21:43.3495582+03:00
                    definition:
                      category: Billing
                      criteria: CreditThresholdReached
                      type: Credit
                    description: This is another example alert
                    details:
                      amountDue: "500.0"
                      billedAmount: "680.36"
                    modificationTime: 2018-12-05T10:04:36.0321998Z
                    source: Preset
                    status: Active
                    statusModificationTime: 2018-12-05T10:04:36.0321998Z
                    statusModificationUserName: Ido Ben
                  type: Microsoft.CostManagement/alerts
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.alerts_controller
  /providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.CostManagement/alerts/{alertId}:
    get:
      description: Gets the alert for an enrollment by alert ID.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: alerts_get_by_enrollment
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2018-08-01-preview.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: BillingAccount ID
        in: path
        name: billing_account_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Alert ID.
        in: path
        name: alert_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Alert'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Alerts
      x-ms-examples:
        Alert:
          parameters:
            alertId: 0e1d6ee7-0052-4996-89e2-023263106885
            api-version: 2018-08-01-preview
            resourceGroupName: rg1
            subscriptionId: 01234567-89ab-cdef-0123-456789abcdef
          responses:
            "200":
              body:
                id: /subscriptions/01234567-89ab-cdef-0123-456789abcdef/resourceGroups/rg1/providers/Microsoft.CostManagement/alerts/0e1d6ee7-0052-4996-89e2-023263106885
                name: 0e1d6ee7-0052-4996-89e2-023263106885
                properties:
                  closeTime: 2018-09-10T11:21:43.3495582+03:00
                  costEntityId: "123"
                  creationTime: 2018-09-03T11:21:43.3495582+03:00
                  definition:
                    category: Cost
                    criteria: CostThresholdExceeded
                    type: Budget
                  description: This is an example alert
                  details:
                    amountDue: "500.0"
                    billedAmount: "680.36"
                  modificationTime: 2018-12-05T10:04:36.0321998Z
                  source: User
                  status: Active
                  statusModificationTime: 2018-12-05T10:04:36.0321998Z
                  statusModificationUserName: Ido Ben
                type: Microsoft.CostManagement/alerts
      x-openapi-router-controller: openapi_server.controllers.alerts_controller
  ? /providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.CostManagement/alerts/{alertId}/updateStatus
  : patch:
      description: Update alerts status for billing account.
      operationId: alerts_update_billing_account_alert_status
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2018-08-01-preview.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: BillingAccount ID
        in: path
        name: billing_account_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Alert ID.
        in: path
        name: alert_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Alert'
        description: Parameters supplied to the update alerts status operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Alert'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Alerts
      x-ms-examples:
        Alert:
          parameters:
            alertId: 0e1d6ee7-0052-4996-89e2-023263106885
            api-version: 2018-08-01-preview
            resourceGroupName: rg1
            subscriptionId: 01234567-89ab-cdef-0123-456789abcdef
          responses:
            "200":
              body:
                id: /subscriptions/01234567-89ab-cdef-0123-456789abcdef/resourceGroups/rg1/providers/Microsoft.CostManagement/alerts/0e1d6ee7-0052-4996-89e2-023263106885
                name: 0e1d6ee7-0052-4996-89e2-023263106885
                properties:
                  closeTime: 2018-09-10T11:21:43.3495582+03:00
                  costEntityId: "123"
                  creationTime: 2018-09-03T11:21:43.3495582+03:00
                  definition:
                    category: Cost
                    criteria: CostThresholdExceeded
                    type: Budget
                  description: This is an example alert
                  details:
                    amountDue: "500.0"
                    billedAmount: "680.36"
                  modificationTime: 2018-12-05T10:04:36.0321998Z
                  source: User
                  status: Active
                  statusModificationTime: 2018-12-05T10:04:36.0321998Z
                  statusModificationUserName: Ido Ben
                type: Microsoft.CostManagement/alerts
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.alerts_controller
  /providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.CostManagement/dimensions:
    get:
      description: Lists the dimensions by billingAccount Id.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: billing_account_dimensions_list
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2018-08-01-preview.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: BillingAccount ID
        in: path
        name: billing_account_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "May be used to filter dimensions by properties/category, properties/usageStart,\
          \ properties/usageEnd. Supported operators are 'eq','lt', 'gt', 'le', 'ge'."
        in: query
        name: $filter
        schema:
          type: string
      - description: "May be used to expand the properties/data within a dimension\
          \ category. By default, data is not included when listing dimensions."
        in: query
        name: $expand
        schema:
          type: string
      - description: "Skiptoken is only used if a previous operation returned a partial\
          \ result. If a previous response contains a nextLink element, the value\
          \ of the nextLink element will include a skiptoken parameter that specifies\
          \ a starting point to use for subsequent calls."
        in: query
        name: $skiptoken
        schema:
          type: string
      - description: May be used to limit the number of results to the most recent
          N dimension data.
        in: query
        name: $top
        schema:
          maximum: 1000
          minimum: 1
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DimensionsListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Dimensions
      x-ms-examples:
        BillingAccountDimensionsList:
          parameters:
            api-version: 2018-08-01-preview
            billingAccountId: "100"
          responses:
            "200":
              body:
                value:
                - id: providers/Microsoft.Billing/billingAccounts/100/providers/microsoft.consumption/dimensions_ResourceGroup_2018-05-01_2018-05-31
                  name: dimensions_ResourceGroup_2018-05-01_2018-05-31
                  properties:
                    category: ResourceGroup
                    data: []
                    total: 377
                    usageEnd: 2018-05-31T00:00:00-07:00
                    usageStart: 2018-05-01T00:00:00-07:00
                  type: microsoft.consumption/dimensions
                - id: providers/Microsoft.Billing/billingAccounts/100/providers/microsoft.consumption/dimensions_ResourceType_2018-05-01_2018-05-31
                  name: dimensions_ResourceType_2018-05-01_2018-05-31
                  properties:
                    category: ResourceType
                    data: []
                    total: 37
                    usageEnd: 2018-05-31T00:00:00-07:00
                    usageStart: 2018-05-01T00:00:00-07:00
                  type: microsoft.consumption/dimensions
        BillingAccountDimensionsListExpandAndTop:
          parameters:
            $expand: properties/data
            $top: 5
            api-version: 2018-08-01-preview
            billingAccountId: "100"
          responses:
            "200":
              body:
                value:
                - id: providers/Microsoft.Billing/billingAccounts/100/providers/microsoft.consumption/dimensions_ResourceGroup_2018-05-01_2018-05-31_5
                  name: dimensions_ResourceGroup_2018-05-01_2018-05-31_5
                  properties:
                    category: ResourceGroup
                    data:
                    - thoroetrg01
                    - default-notificationhubs-westus
                    - jedikeyvaultrg
                    - contosocodeflow8d4a
                    - noobaa
                    total: 377
                    usageEnd: 2018-05-31T00:00:00-07:00
                    usageStart: 2018-05-01T00:00:00-07:00
                  type: microsoft.consumption/dimensions
                - id: providers/Microsoft.Billing/billingAccounts/100/providers/microsoft.consumption/dimensions_ResourceType_2018-05-01_2018-05-31_5
                  name: dimensions_ResourceType_2018-05-01_2018-05-31_5
                  properties:
                    category: ResourceType
                    data:
                    - microsoft.automation/automationaccounts
                    - microsoft.databricks/workspaces
                    - microsoft.dbformysql/servers
                    - microsoft.containerregistry/registries
                    - microsoft.search/searchservices
                    total: 37
                    usageEnd: 2018-05-31T00:00:00-07:00
                    usageStart: 2018-05-01T00:00:00-07:00
                  type: microsoft.consumption/dimensions
        BillingAccountDimensionsListWithFilter:
          parameters:
            $expand: properties/data
            $filter: properties/category eq 'instanceId'
            $top: 5
            api-version: 2018-08-01-preview
            billingAccountId: "100"
          responses:
            "200":
              body:
                value:
                - id: providers/Microsoft.Billing/billingAccounts/100/providers/microsoft.consumption/dimensions_InstanceId_2018-05-01_2018-05-31_5
                  name: dimensions_InstanceId_2018-05-01_2018-05-31_5
                  properties:
                    category: InstanceId
                    data:
                    - /subscriptions/39ae8bea-c3fd-4e24-8936-7c34974326ce/resourcegroups/system.orlando/providers/microsoft.storage/storageaccounts/urphealthaccount
                    - /subscriptions/39ae8bea-c3fd-4e24-8936-7c34974326ce/resourcegroups/system.orlando/providers/microsoft.storage/storageaccounts/srphytenaccount
                    - /subscriptions/67e24f6b-1ec2-4c90-993a-dc2d25b00b6c/resourcegroups/defaultresourcegroup-eus/providers/microsoft.operationalinsights/workspaces/defaultworkspace-67e24f6b-1ec2-4c90-993a-dc2d25b00b6c-eus
                    - /subscriptions/39ae8bea-c3fd-4e24-8936-7c34974326ce/resourcegroups/rg-sql-ha/providers/microsoft.compute/virtualmachines/sql-4qqp1
                    - /subscriptions/a98d6dc5-eb8f-46cf-8938-f1fb08f03706/resourcegroups/databricks-rg-testwsp-xijmsdubneexm/providers/microsoft.compute/disks/488cdb42bf74474a98075415be3f806c-containerrootvolume
                    nextLink: http://management.azure.com/ccmapi/providers/Microsoft.Billing/billingAccounts/100/providers/Microsoft.Consumption/Dimensions?$filter=properties/category
                      eq 'instanceId'&$top=5&api-version=2018-05-31&$expand=properties/data&$skiptoken=AQAAAA%3D%3D
                    total: 1409
                    usageEnd: 2018-05-31T00:00:00-07:00
                    usageStart: 2018-05-01T00:00:00-07:00
                  type: microsoft.consumption/dimensions
      x-ms-odata: '#/definitions/Dimension'
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.dimensions_controller
  /providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.CostManagement/reports:
    get:
      description: Lists all reports for a billing account.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: reports_list_by_billing_account
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2018-08-01-preview.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: BillingAccount ID
        in: path
        name: billing_account_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Reports
      x-ms-examples:
        ReportList:
          parameters:
            api-version: 2018-08-01-preview
            billingAccountId: "123456"
          responses:
            "200":
              body:
                value:
                - id: "providers/Microsoft.Billing/billingAccounts/{billingAccount-Id}/providers/Microsoft.CostManagement/reports/TestReport1"
                  name: TestReport1
                  properties:
                    definition:
                      dataset:
                        aggregation:
                          costSum:
                            function: Sum
                            name: PreTaxCost
                        configuration:
                          columns:
                          - Date
                          - MeterId
                          - InstanceId
                          - ResourceLocation
                          - PreTaxCost
                        filter:
                          and:
                          - or:
                            - dimension:
                                name: ResourceLocation
                                operator: In
                                values:
                                - East US
                                - West Europe
                            - tag:
                                name: Environment
                                operator: In
                                values:
                                - UAT
                                - Prod
                          - dimension:
                              name: ResourceGroup
                              operator: In
                              values:
                              - API
                        granularity: Daily
                        grouping:
                        - name: SubscriptionName
                          type: Dimension
                      timePeriod:
                        from: 2018-06-01T00:00:00Z
                        to: 2018-10-31T00:00:00Z
                      timeframe: Custom
                      type: Usage
                    deliveryInfo:
                      destination:
                        container: reports
                        resourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MYDEVTESTRG/providers/Microsoft.Storage/storageAccounts/ccmeastusdiag182
                        rootFolderPath: ad-hoc
                    format: Csv
                  type: Microsoft.CostManagement/reports
                - id: "providers/Microsoft.Billing/billingAccounts/{billingAccount-Id}/providers/Microsoft.CostManagement/reports/TestReport2"
                  name: TestReport2
                  properties:
                    definition:
                      dataset:
                        aggregation:
                          usageSum:
                            function: Sum
                            name: UsageQuantity
                        configuration:
                          columns:
                          - Date
                          - MeterId
                          - InstanceId
                          - ResourceLocation
                          - UsageQuantity
                        filter:
                          and:
                          - dimension:
                              name: ResourceLocation
                              operator: In
                              values:
                              - East US
                              - West Europe
                          - tag:
                              name: Environment
                              operator: In
                              values:
                              - UAT
                              - Prod
                        granularity: Daily
                        grouping:
                        - name: Environment
                          type: Tag
                      timeframe: WeekToDate
                      type: Usage
                    deliveryInfo:
                      destination:
                        container: reports
                        resourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MYDEVTESTRG/providers/Microsoft.Storage/storageAccounts/ccmeastusdiag182
                        rootFolderPath: ad-hoc
                    format: Csv
                    schedule:
                      recurrence: Weekly
                      recurrencePeriod:
                        from: 2018-06-01T00:00:00Z
                        to: 2018-10-31T00:00:00Z
                      status: Active
                  type: Microsoft.CostManagement/reports
      x-openapi-router-controller: openapi_server.controllers.reports_controller
  /providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.CostManagement/reports/{reportName}:
    delete:
      description: The operation to delete a report for billing account.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: reports_delete_by_billing_account
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2018-08-01-preview.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: BillingAccount ID
        in: path
        name: billing_account_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Report Name.
        in: path
        name: report_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content: {}
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Reports
      x-ms-examples:
        DeleteReport:
          parameters:
            api-version: 2018-08-01-preview
            billingAccountId: "123456"
            reportName: TestReport
          responses:
            "200": {}
      x-openapi-router-controller: openapi_server.controllers.reports_controller
    get:
      description: Gets the report for a billing account by report name.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: reports_get_by_billing_account
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2018-08-01-preview.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: BillingAccount ID
        in: path
        name: billing_account_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Report Name.
        in: path
        name: reportName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Report'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Reports
      x-ms-examples:
        Report:
          parameters:
            api-version: 2018-08-01-preview
            billingAccountId: "123456"
            reportName: TestReport
          responses:
            "200":
              body:
                id: "providers/Microsoft.Billing/billingAccounts/{billingAccount-Id}/providers/Microsoft.CostManagement/reports/TestReport"
                name: TestReport
                properties:
                  definition:
                    dataset:
                      aggregation:
                        usageSum:
                          function: Sum
                          name: UsageQuantity
                      configuration:
                        columns:
                        - UsageDate
                        - MeterId
                        - InstanceId
                        - ResourceLocation
                        - UsageQuantity
                      filter:
                        and:
                        - dimension:
                            name: ResourceLocation
                            operator: In
                            values:
                            - East US
                            - West Europe
                        - tag:
                            name: Environment
                            operator: Contains
                            values:
                            - UAT
                            - Prod
                      granularity: Daily
                      grouping:
                      - name: SubscriptionName
                        type: Dimension
                      - name: Environment
                        type: Tag
                    timePeriod:
                      from: 2018-06-01T00:00:00Z
                      to: 2018-10-31T00:00:00Z
                    timeframe: Custom
                    type: Usage
                  deliveryInfo:
                    destination:
                      container: reports
                      resourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MYDEVTESTRG/providers/Microsoft.Storage/storageAccounts/ccmeastusdiag182
                      rootFolderPath: ad-hoc
                  format: Csv
                type: Microsoft.CostManagement/reports
      x-openapi-router-controller: openapi_server.controllers.reports_controller
    put:
      description: The operation to create or update a report for billingAccount.
        Update operation requires latest eTag to be set in the request mandatorily.
        You may obtain the latest eTag by performing a get operation. Create operation
        does not require eTag.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: reports_create_or_update_by_billing_account
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2018-08-01-preview.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: BillingAccount ID
        in: path
        name: billing_account_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Report Name.
        in: path
        name: report_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Report'
        description: Parameters supplied to the CreateOrUpdate Report operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Report'
          description: OK. The request has succeeded.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Report'
          description: Created.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Reports
      x-ms-examples:
        CreateOrUpdateReport:
          parameters:
            api-version: 2018-08-01-preview
            billingAccountId: "123456"
            parameters:
              properties:
                definition:
                  dataset:
                    aggregation:
                      costSum:
                        function: Sum
                        name: PreTaxCost
                    configuration:
                      columns:
                      - Date
                      - MeterId
                      - InstanceId
                      - ResourceLocation
                      - PreTaxCost
                    filter:
                      and:
                      - or:
                        - dimension:
                            name: ResourceLocation
                            operator: In
                            values:
                            - East US
                            - West Europe
                        - tag:
                            name: Environment
                            operator: In
                            values:
                            - UAT
                            - Prod
                      - dimension:
                          name: ResourceGroup
                          operator: In
                          values:
                          - API
                    granularity: Daily
                    grouping:
                    - name: SubscriptionName
                      type: Dimension
                    - name: Environment
                      type: Tag
                  timeframe: MonthToDate
                  type: Usage
                deliveryInfo:
                  destination:
                    container: reports
                    resourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MYDEVTESTRG/providers/Microsoft.Storage/storageAccounts/ccmeastusdiag182
                    rootFolderPath: ad-hoc
                format: Csv
                schedule:
                  recurrence: Weekly
                  recurrencePeriod:
                    from: 2018-06-01T00:00:00Z
                    to: 2018-10-31T00:00:00Z
                  status: Active
            reportName: TestReport
          responses:
            "200":
              body:
                id: "providers/Microsoft.Billing/billingAccounts/{billingAccount-Id}/providers/Microsoft.CostManagement/reports/TestReport"
                name: TestReport
                properties:
                  definition:
                    dataset:
                      aggregation:
                        costSum:
                          function: Sum
                          name: PreTaxCost
                      configuration:
                        columns:
                        - Date
                        - MeterId
                        - InstanceId
                        - ResourceLocation
                        - PreTaxCost
                      filter:
                        and:
                        - or:
                          - dimension:
                              name: ResourceLocation
                              operator: In
                              values:
                              - East US
                              - West Europe
                          - tag:
                              name: Environment
                              operator: In
                              values:
                              - UAT
                              - Prod
                        - dimension:
                            name: ResourceGroup
                            operator: In
                            values:
                            - API
                      granularity: Daily
                      grouping:
                      - name: SubscriptionName
                        type: Dimension
                      - name: Environment
                        type: Tag
                    timeframe: MonthToDate
                    type: Usage
                  deliveryInfo:
                    destination:
                      container: reports
                      resourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MYDEVTESTRG/providers/Microsoft.Storage/storageAccounts/ccmeastusdiag182
                      rootFolderPath: ad-hoc
                  format: Csv
                  schedule:
                    recurrence: Weekly
                    recurrencePeriod:
                      from: 2018-06-01T00:00:00Z
                      to: 2018-10-31T00:00:00Z
                    status: Active
                type: Microsoft.CostManagement/reports
            "201":
              body:
                id: "providers/Microsoft.Billing/billingAccounts/{billingAccount-id}/providers/Microsoft.CostManagement/reports/TestReport"
                name: TestReport
                properties:
                  definition:
                    dataset:
                      aggregation:
                        costSum:
                          function: Sum
                          name: PreTaxCost
                      configuration:
                        columns:
                        - Date
                        - MeterId
                        - InstanceId
                        - ResourceLocation
                        - PreTaxCost
                      filter:
                        and:
                        - or:
                          - dimension:
                              name: ResourceLocation
                              operator: In
                              values:
                              - East US
                              - West Europe
                          - tag:
                              name: Environment
                              operator: In
                              values:
                              - UAT
                              - Prod
                        - dimension:
                            name: ResourceGroup
                            operator: In
                            values:
                            - API
                      granularity: Daily
                      grouping:
                      - name: SubscriptionName
                        type: Dimension
                      - name: Environment
                        type: Tag
                    timeframe: MonthToDate
                    type: Usage
                  deliveryInfo:
                    destination:
                      container: reports
                      resourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MYDEVTESTRG/providers/Microsoft.Storage/storageAccounts/ccmeastusdiag182
                      rootFolderPath: ad-hoc
                  format: Csv
                  schedule:
                    recurrence: Weekly
                    recurrencePeriod:
                      from: 2018-06-01T00:00:00Z
                      to: 2018-10-31T00:00:00Z
                    status: Active
                type: Microsoft.CostManagement/reports
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.reports_controller
  /providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.CostManagement/reports/{reportName}/run:
    post:
      description: The operation to execute a report by billing account.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: reports_execute_by_billing_account
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2018-08-01-preview.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: BillingAccount ID
        in: path
        name: billing_account_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Report Name.
        in: path
        name: report_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content: {}
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Reports
      x-ms-examples:
        ExecuteReport:
          parameters:
            api-version: 2018-08-01-preview
            billingAccountId: "123456"
            reportName: TestReport
          responses:
            "200": {}
      x-openapi-router-controller: openapi_server.controllers.reports_controller
  ? /providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.CostManagement/reports/{reportName}/runHistory
  : get:
      description: Gets the execution history of a report for a billing account by
        report name.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: reports_get_execution_history_by_billing_account
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2018-08-01-preview.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: BillingAccount ID
        in: path
        name: billing_account_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Report Name.
        in: path
        name: report_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportExecutionListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Reports
      x-ms-examples:
        ExecutionHistoryReport:
          parameters:
            api-version: 2018-08-01-preview
            billingAccountId: "123456"
            reportName: TestReport
          responses:
            "200":
              body:
                value:
                - id: "providers/Microsoft.Billing/billingAccounts/{billingAccount-id}/providers/Microsoft.CostManagement/reports/JohnDoeSchedule/Run/1e25d58a-a3b0-4916-9542-6e04a89bc100"
                  properties:
                    executionType: OnDemand
                    fileName: ScheduledTestsForJohnDoe/JohnDoeSchedule/20180729-20180804/JohnDoeSchedule_1e25d58a-a3b0-4916-9542-6e04a89bc100.csv
                    processingEndTime: 2018-08-03T07:52:28.0373318Z
                    processingStartTime: 2018-08-03T07:52:16.9123797Z
                    reportSettings:
                      definition:
                        dataset:
                          aggregation:
                            costSum:
                              function: Sum
                              name: PreTaxCost
                          configuration:
                            columns:
                            - Date
                            - MeterId
                            - InstanceId
                            - ResourceLocation
                            - PreTaxCost
                          filter:
                            and:
                            - or:
                              - dimension:
                                  name: ResourceLocation
                                  operator: In
                                  values:
                                  - East US
                                  - West Europe
                              - tag:
                                  name: Environment
                                  operator: In
                                  values:
                                  - UAT
                                  - Prod
                            - dimension:
                                name: ResourceGroup
                                operator: In
                                values:
                                - API
                          granularity: Daily
                          grouping:
                          - name: SubscriptionName
                            type: Dimension
                        timePeriod:
                          from: 2018-06-01T00:00:00Z
                          to: 2018-10-31T00:00:00Z
                        timeframe: Custom
                        type: Usage
                      deliveryInfo:
                        destination:
                          container: reports
                          resourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MYDEVTESTRG/providers/Microsoft.Storage/storageAccounts/ccmeastusdiag182
                          rootFolderPath: ScheduledTestsForJohnDoe
                      format: Csv
                    status: Completed
                    submittedBy: john.doe@gmail.com
                    submittedTime: 2018-08-03T07:52:15.6016681Z
                - id: "providers/Microsoft.Billing/billingAccounts/{billingAccount-id}/providers/Microsoft.CostManagement/reports/JohnDoeSchedule/Run/11ac6811-dca3-46ad-b326-4704cf0c58ef"
                  properties:
                    executionType: Scheduled
                    fileName: ScheduledTestsForJohnDoe/JohnDoeSchedule/20180729-20180804/JohnDoeSchedule_11ac6811-dca3-46ad-b326-4704cf0c58ef.csv
                    processingEndTime: 2018-08-03T09:04:19.7223808Z
                    processingStartTime: 2018-08-03T09:03:58.5710244Z
                    reportSettings:
                      definition:
                        dataset:
                          aggregation:
                            costSum:
                              function: Sum
                              name: PreTaxCost
                          configuration:
                            columns:
                            - Date
                            - MeterId
                            - InstanceId
                            - ResourceLocation
                            - PreTaxCost
                          filter:
                            and:
                            - or:
                              - dimension:
                                  name: ResourceLocation
                                  operator: In
                                  values:
                                  - East US
                                  - West Europe
                              - tag:
                                  name: Environment
                                  operator: In
                                  values:
                                  - UAT
                                  - Prod
                            - dimension:
                                name: ResourceGroup
                                operator: In
                                values:
                                - API
                          granularity: Daily
                          grouping:
                          - name: SubscriptionName
                            type: Dimension
                        timePeriod:
                          from: 2018-06-01T00:00:00Z
                          to: 2018-10-31T00:00:00Z
                        timeframe: Custom
                        type: Usage
                      deliveryInfo:
                        destination:
                          container: reports
                          resourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MYDEVTESTRG/providers/Microsoft.Storage/storageAccounts/ccmeastusdiag182
                          rootFolderPath: ScheduledTestsForJohnDoe
                      format: Csv
                    status: Completed
                    submittedBy: System
                    submittedTime: 2018-08-03T09:03:58.5710244Z
      x-openapi-router-controller: openapi_server.controllers.reports_controller
  /providers/Microsoft.Billing/departments/{departmentId}/providers/Microsoft.CostManagement/reports:
    get:
      description: Lists all reports for a department.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: reports_list_by_department
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2018-08-01-preview.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Department ID
        in: path
        name: department_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Reports
      x-ms-examples:
        ReportList:
          parameters:
            api-version: 2018-08-01-preview
            departmentId: "1234"
          responses:
            "200":
              body:
                value:
                - id: "providers/Microsoft.Billing/departments/{department-Id}/providers/Microsoft.CostManagement/reports/TestReport1"
                  name: TestReport1
                  properties:
                    definition:
                      dataset:
                        aggregation:
                          costSum:
                            function: Sum
                            name: PreTaxCost
                        configuration:
                          columns:
                          - Date
                          - MeterId
                          - InstanceId
                          - ResourceLocation
                          - PreTaxCost
                        filter:
                          and:
                          - or:
                            - dimension:
                                name: ResourceLocation
                                operator: In
                                values:
                                - East US
                                - West Europe
                            - tag:
                                name: Environment
                                operator: In
                                values:
                                - UAT
                                - Prod
                          - dimension:
                              name: ResourceGroup
                              operator: In
                              values:
                              - API
                        granularity: Daily
                        grouping:
                        - name: SubscriptionName
                          type: Dimension
                      timePeriod:
                        from: 2018-06-01T00:00:00Z
                        to: 2018-10-31T00:00:00Z
                      timeframe: Custom
                      type: Usage
                    deliveryInfo:
                      destination:
                        container: reports
                        resourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MYDEVTESTRG/providers/Microsoft.Storage/storageAccounts/ccmeastusdiag182
                        rootFolderPath: ad-hoc
                    format: Csv
                  type: Microsoft.CostManagement/reports
                - id: "providers/Microsoft.Billing/departments/{department-Id}/providers/Microsoft.CostManagement/reports/TestReport2"
                  name: TestReport2
                  properties:
                    definition:
                      dataset:
                        aggregation:
                          usageSum:
                            function: Sum
                            name: UsageQuantity
                        configuration:
                          columns:
                          - Date
                          - MeterId
                          - InstanceId
                          - ResourceLocation
                          - UsageQuantity
                        filter:
                          and:
                          - dimension:
                              name: ResourceLocation
                              operator: In
                              values:
                              - East US
                              - West Europe
                          - tag:
                              name: Environment
                              operator: In
                              values:
                              - UAT
                              - Prod
                        granularity: Daily
                        grouping:
                        - name: Environment
                          type: Tag
                      timeframe: WeekToDate
                      type: Usage
                    deliveryInfo:
                      destination:
                        container: reports
                        resourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MYDEVTESTRG/providers/Microsoft.Storage/storageAccounts/ccmeastusdiag182
                        rootFolderPath: ad-hoc
                    format: Csv
                    schedule:
                      recurrence: Weekly
                      recurrencePeriod:
                        from: 2018-06-01T00:00:00Z
                        to: 2018-10-31T00:00:00Z
                      status: Active
                  type: Microsoft.CostManagement/reports
      x-openapi-router-controller: openapi_server.controllers.reports_controller
  /providers/Microsoft.Billing/departments/{departmentId}/providers/Microsoft.CostManagement/reports/{reportName}:
    delete:
      description: The operation to delete a report for department.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: reports_delete_by_department
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2018-08-01-preview.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Department ID
        in: path
        name: department_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Report Name.
        in: path
        name: report_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content: {}
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Reports
      x-ms-examples:
        DeleteReport:
          parameters:
            api-version: 2018-08-01-preview
            departmentId: "1234"
            reportName: TestReport
          responses:
            "200": {}
      x-openapi-router-controller: openapi_server.controllers.reports_controller
    get:
      description: Gets the report for a department by report name.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: reports_get_by_department
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2018-08-01-preview.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Department ID
        in: path
        name: department_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Report Name.
        in: path
        name: report_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Report'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Reports
      x-ms-examples:
        Report:
          parameters:
            api-version: 2018-08-01-preview
            departmentId: "1234"
            reportName: TestReport
          responses:
            "200":
              body:
                id: "providers/Microsoft.Billing/departments/{department-id}/providers/Microsoft.CostManagement/reports/TestReport"
                name: TestReport
                properties:
                  definition:
                    dataset:
                      aggregation:
                        usageSum:
                          function: Sum
                          name: UsageQuantity
                      configuration:
                        columns:
                        - UsageDate
                        - MeterId
                        - InstanceId
                        - ResourceLocation
                        - UsageQuantity
                      filter:
                        and:
                        - dimension:
                            name: ResourceLocation
                            operator: In
                            values:
                            - East US
                            - West Europe
                        - tag:
                            name: Environment
                            operator: Contains
                            values:
                            - UAT
                            - Prod
                      granularity: Daily
                      grouping:
                      - name: SubscriptionName
                        type: Dimension
                      - name: Environment
                        type: Tag
                    timePeriod:
                      from: 2018-06-01T00:00:00Z
                      to: 2018-10-31T00:00:00Z
                    timeframe: Custom
                    type: Usage
                  deliveryInfo:
                    destination:
                      container: reports
                      resourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MYDEVTESTRG/providers/Microsoft.Storage/storageAccounts/ccmeastusdiag182
                      rootFolderPath: ad-hoc
                  format: Csv
                type: Microsoft.CostManagement/reports
      x-openapi-router-controller: openapi_server.controllers.reports_controller
    put:
      description: The operation to create or update a report for department. Update
        operation requires latest eTag to be set in the request mandatorily. You may
        obtain the latest eTag by performing a get operation. Create operation does
        not require eTag.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: reports_create_or_update_by_department
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2018-08-01-preview.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Department ID
        in: path
        name: department_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Report Name.
        in: path
        name: report_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Report'
        description: Parameters supplied to the CreateOrUpdate Report operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Report'
          description: OK. The request has succeeded.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Report'
          description: Created.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Reports
      x-ms-examples:
        CreateOrUpdateReport:
          parameters:
            api-version: 2018-08-01-preview
            departmentId: "1234"
            parameters:
              properties:
                definition:
                  dataset:
                    aggregation:
                      costSum:
                        function: Sum
                        name: PreTaxCost
                    configuration:
                      columns:
                      - Date
                      - MeterId
                      - InstanceId
                      - ResourceLocation
                      - PreTaxCost
                    filter:
                      and:
                      - or:
                        - dimension:
                            name: ResourceLocation
                            operator: In
                            values:
                            - East US
                            - West Europe
                        - tag:
                            name: Environment
                            operator: In
                            values:
                            - UAT
                            - Prod
                      - dimension:
                          name: ResourceGroup
                          operator: In
                          values:
                          - API
                    granularity: Daily
                    grouping:
                    - name: SubscriptionName
                      type: Dimension
                    - name: Environment
                      type: Tag
                  timeframe: MonthToDate
                  type: Usage
                deliveryInfo:
                  destination:
                    container: reports
                    resourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MYDEVTESTRG/providers/Microsoft.Storage/storageAccounts/ccmeastusdiag182
                    rootFolderPath: ad-hoc
                format: Csv
                schedule:
                  recurrence: Weekly
                  recurrencePeriod:
                    from: 2018-06-01T00:00:00Z
                    to: 2018-10-31T00:00:00Z
                  status: Active
            reportName: TestReport
          responses:
            "200":
              body:
                id: "providers/Microsoft.Billing/departments/{department-Id}/providers/Microsoft.CostManagement/reports/TestReport"
                name: TestReport
                properties:
                  definition:
                    dataset:
                      aggregation:
                        costSum:
                          function: Sum
                          name: PreTaxCost
                      configuration:
                        columns:
                        - Date
                        - MeterId
                        - InstanceId
                        - ResourceLocation
                        - PreTaxCost
                      filter:
                        and:
                        - or:
                          - dimension:
                              name: ResourceLocation
                              operator: In
                              values:
                              - East US
                              - West Europe
                          - tag:
                              name: Environment
                              operator: In
                              values:
                              - UAT
                              - Prod
                        - dimension:
                            name: ResourceGroup
                            operator: In
                            values:
                            - API
                      granularity: Daily
                      grouping:
                      - name: SubscriptionName
                        type: Dimension
                      - name: Environment
                        type: Tag
                    timeframe: MonthToDate
                    type: Usage
                  deliveryInfo:
                    destination:
                      container: reports
                      resourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MYDEVTESTRG/providers/Microsoft.Storage/storageAccounts/ccmeastusdiag182
                      rootFolderPath: ad-hoc
                  format: Csv
                  schedule:
                    recurrence: Weekly
                    recurrencePeriod:
                      from: 2018-06-01T00:00:00Z
                      to: 2018-10-31T00:00:00Z
                    status: Active
                type: Microsoft.CostManagement/reports
            "201":
              body:
                id: "providers/Microsoft.Billing/departments/{department-id}/providers/Microsoft.CostManagement/reports/TestReport"
                name: TestReport
                properties:
                  definition:
                    dataset:
                      aggregation:
                        costSum:
                          function: Sum
                          name: PreTaxCost
                      configuration:
                        columns:
                        - Date
                        - MeterId
                        - InstanceId
                        - ResourceLocation
                        - PreTaxCost
                      filter:
                        and:
                        - or:
                          - dimension:
                              name: ResourceLocation
                              operator: In
                              values:
                              - East US
                              - West Europe
                          - tag:
                              name: Environment
                              operator: In
                              values:
                              - UAT
                              - Prod
                        - dimension:
                            name: ResourceGroup
                            operator: In
                            values:
                            - API
                      granularity: Daily
                      grouping:
                      - name: SubscriptionName
                        type: Dimension
                      - name: Environment
                        type: Tag
                    timeframe: MonthToDate
                    type: Usage
                  deliveryInfo:
                    destination:
                      container: reports
                      resourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MYDEVTESTRG/providers/Microsoft.Storage/storageAccounts/ccmeastusdiag182
                      rootFolderPath: ad-hoc
                  format: Csv
                  schedule:
                    recurrence: Weekly
                    recurrencePeriod:
                      from: 2018-06-01T00:00:00Z
                      to: 2018-10-31T00:00:00Z
                    status: Active
                type: Microsoft.CostManagement/reports
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.reports_controller
  /providers/Microsoft.Billing/departments/{departmentId}/providers/Microsoft.CostManagement/reports/{reportName}/run:
    post:
      description: The operation to execute a report by department.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: reports_execute_by_department
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2018-08-01-preview.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Department ID
        in: path
        name: department_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Report Name.
        in: path
        name: report_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content: {}
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Reports
      x-ms-examples:
        ExecuteReport:
          parameters:
            api-version: 2018-08-01-preview
            departmentId: "1234"
            reportName: TestReport
          responses:
            "200": {}
      x-openapi-router-controller: openapi_server.controllers.reports_controller
  /providers/Microsoft.Billing/departments/{departmentId}/providers/Microsoft.CostManagement/reports/{reportName}/runHistory:
    get:
[...]
