openapi: 3.0.0
info:
  description: "Get lists of NYT Articles based on shares, emails, and views."
  termsOfService: http://developer.nytimes.com/tou
  title: Most Popular API
  version: 2.0.0
  x-apiClientRegistration:
    url: http://developer.nytimes.com/signup
  x-apisguru-categories:
  - media
  - open_data
  x-logo:
    url: https://static01.nyt.com/images/icons/t_logo_291_black.png
  x-origin:
  - format: openapi
    url: https://raw.githubusercontent.com/nytimes/public_api_specs/master/most_popular_api/most_popular_api_v2.json
    version: "3.0"
  x-providerName: nytimes.com
  x-serviceName: most_popular_api
externalDocs:
  url: http://developer.nytimes.com/
servers:
- url: http://api.nytimes.com/svc/mostpopular/v2
- url: https://api.nytimes.com/svc/mostpopular/v2
paths:
  /mostemailed/{section}/{time-period}.json:
    get:
      description: ""
      operationId: g_et_mostemailed_section_time_period_json
      parameters:
      - description: "Limits the results by one or more sections. You can use\n`all-sections`\
          \ or one or more section names seperated by semicolons. See `viewed/sections.json`\
          \ call to get a list of sections. \n"
        explode: false
        in: path
        name: section
        required: true
        schema:
          enum:
          - Arts
          - Automobiles
          - Blogs
          - Books
          - Business Day
          - Education
          - Fashion & Style
          - Food
          - Health
          - Job Market
          - Magazine
          - membercenter
          - Movies
          - Multimedia
          - N.Y.%20%2F%20Region
          - NYT Now
          - Obituaries
          - Open
          - Opinion
          - Public Editor
          - Real Estate
          - Science
          - Sports
          - Style
          - Sunday Review
          - T Magazine
          - Technology
          - The Upshot
          - Theater
          - Times Insider
          - Today’s Paper
          - Travel
          - U.S.
          - World
          - Your Money
          - all-sections
          type: string
        style: simple
      - description: "Number of days `1 | 7 | 30 ` corresponds to a day, a week, or\
          \ a month of content."
        explode: false
        in: path
        name: time-period
        required: true
        schema:
          enum:
          - "1"
          - "7"
          - "30"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GET_mostemailed_section_time_period_json_200_response'
            application/xml:
              schema:
                $ref: '#/components/schemas/GET_mostemailed_section_time_period_json_200_response'
          description: An array of Articles
        "400":
          content:
            application/json:
              examples:
                response:
                  value:
                    copyright: Copyright (c) 2016 The New York Times Company.  All
                      Rights Reserved.
                    errors:
                    - Param 'period' is invalid.
                    results: []
                    status: ERROR
              schema:
                $ref: '#/components/schemas/GET_mostemailed_section_time_period_json_400_response'
            application/xml:
              schema:
                $ref: '#/components/schemas/GET_mostemailed_section_time_period_json_400_response'
          description: ""
        "403":
          content:
            application/json:
              schema:
                type: object
            application/xml:
              examples:
                response:
                  value: <h1>Developer Over Qps</h1>
              schema:
                type: object
          description: ""
      security:
      - api-key: []
      summary: Most Emailed by Section & Time Period
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /mostshared/{section}/{time-period}.json:
    get:
      description: ""
      operationId: g_et_mostshared_section_time_period_json
      parameters:
      - description: "Limits the results by one or more sections. You can use\n`all-sections`\
          \ or one or more section names seperated by semicolons. See `viewed/sections.json`\
          \ call to get a list of sections. \n"
        explode: false
        in: path
        name: section
        required: true
        schema:
          enum:
          - Arts
          - Automobiles
          - Blogs
          - Books
          - Business Day
          - Education
          - Fashion & Style
          - Food
          - Health
          - Job Market
          - Magazine
          - membercenter
          - Movies
          - Multimedia
          - N.Y.%20%2F%20Region
          - NYT Now
          - Obituaries
          - Open
          - Opinion
          - Public Editor
          - Real Estate
          - Science
          - Sports
          - Style
          - Sunday Review
          - T Magazine
          - Technology
          - The Upshot
          - Theater
          - Times Insider
          - Today’s Paper
          - Travel
          - U.S.
          - World
          - Your Money
          - all-sections
          type: string
        style: simple
      - description: "Number of days `1 | 7 | 30 ` corresponds to a day, a week, or\
          \ a month of content."
        explode: false
        in: path
        name: time-period
        required: true
        schema:
          enum:
          - "1"
          - "7"
          - "30"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    copyright: Copyright (c) 2016 The New York Times Company.  All
                      Rights Reserved.
                    num_results: 24
                    results:
                    - abstract: "Timothy D. Cook, Apple’s chief, said the government’\
                        s request to bypass security on the phone used by Syed Rizwan\
                        \ Farook had “chilling” implications."
                      asset_id: 100000004214575
                      byline: By ERIC LICHTBLAU and KATIE BENNER
                      column: ""
                      des_facet:
                      - IPHONE
                      geo_facet: ""
                      media:
                      - caption: "Timothy D. Cook, the chief executive of Apple, released\
                          \ a letter to customers several hours after a California\
                          \ judge ordered the company to unlock an iPhone used by\
                          \ one of the shooters in a recent attack that killed 14\
                          \ people in San Bernardino."
                        copyright: Jeff Chiu/Associated Press
                        media-metadata:
                        - format: Standard Thumbnail
                          height: 75
                          url: http://static01.nyt.com/images/2016/02/18/world/18Appleletter-web/18Appleletter-web-thumbStandard.jpg
                          width: 75
                        subtype: photo
                        type: image
                      org_facet:
                      - APPLE INC
                      per_facet:
                      - "COOK, TIMOTHY D"
                      published_date: 2016-02-18
                      section: Technology
                      source: The New York Times
                      title: Apple Fights Order to Unlock San Bernardino Gunman’s
                        iPhone
                      total_shares: 1
                      url: http://www.nytimes.com/2016/02/18/technology/apple-timothy-cook-fbi-san-bernardino.html
                    status: OK
              schema:
                $ref: '#/components/schemas/GET_mostshared_section_time_period_json_200_response'
          description: An array of Articles
        "400":
          content:
            application/json:
              examples:
                response:
                  value:
                    copyright: Copyright (c) 2016 The New York Times Company.  All
                      Rights Reserved.
                    errors:
                    - "Please specify a supported period, options are: 1,7,30"
                    results: []
                    status: ERROR
              schema:
                $ref: '#/components/schemas/GET_mostemailed_section_time_period_json_400_response'
          description: ""
      security:
      - api-key: []
      summary: Most Shared by Section & Time Period
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /mostviewed/{section}/{time-period}.json:
    get:
      description: ""
      operationId: g_et_mostviewed_section_time_period_json
      parameters:
      - description: "Limits the results by one or more sections. You can use\n`all-sections`\
          \ or one or more section names seperated by semicolons. See `viewed/sections.json`\
          \ call to get a list of sections. \n"
        explode: false
        in: path
        name: section
        required: true
        schema:
          enum:
          - Arts
          - Automobiles
          - Blogs
          - Books
          - Business Day
          - Education
          - Fashion & Style
          - Food
          - Health
          - Job Market
          - Magazine
          - membercenter
          - Movies
          - Multimedia
          - N.Y.%20%2F%20Region
          - NYT Now
          - Obituaries
          - Open
          - Opinion
          - Public Editor
          - Real Estate
          - Science
          - Sports
          - Style
          - Sunday Review
          - T Magazine
          - Technology
          - The Upshot
          - Theater
          - Times Insider
          - Today’s Paper
          - Travel
          - U.S.
          - World
          - Your Money
          - all-sections
          type: string
        style: simple
      - description: "Number of days `1 | 7 | 30 ` corresponds to a day, a week, or\
          \ a month of content."
        explode: false
        in: path
        name: time-period
        required: true
        schema:
          enum:
          - "1"
          - "7"
          - "30"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    copyright: Copyright (c) 2016 The New York Times Company.  All
                      Rights Reserved.
                    num_results: 121
                    results:
                    - abstract: Republicans have parked themselves so far to the right
                        for so many years that it’s not clear if they can hear how
                        deranged they sound.
                      adx_keywords: "Supreme Court (US);McConnell, Mitch;Scalia, Antonin;Obama,\
                        \ Barack;Kirk, Mark Steven;Republican Party;Senate;Cornyn,\
                        \ John;Collins, Susan M"
                      asset_id: 100000004229487
                      byline: By THE EDITORIAL BOARD
                      column: Editorial
                      des_facet: ""
                      geo_facet: ""
                      id: 100000004229487
                      media: ""
                      org_facet:
                      - SUPREME COURT (US)
                      per_facet:
                      - "MCCONNELL, MITCH"
                      published_date: 2016-02-25
                      section: Opinion
                      source: The New York Times
                      title: Senate Republicans Lose Their Minds on a Supreme Court
                        Seat
                      type: Article
                      url: http://www.nytimes.com/2016/02/25/opinion/senate-republicans-lose-their-minds-on-a-supreme-court-seat.html
                      views: 1
                    status: OK
              schema:
                $ref: '#/components/schemas/GET_mostshared_section_time_period_json_200_response'
          description: An array of Articles
      security:
      - api-key: []
      summary: Most Viewed by Section & Time Period
      x-openapi-router-controller: openapi_server.controllers.default_controller
components:
  parameters:
    OffSet:
      description: Positive integer in a multiple of 20
      explode: true
      in: query
      name: offset
      required: false
      schema:
        default: 20
        type: integer
      style: form
    Section:
      description: "Limits the results by one or more sections. You can use\n`all-sections`\
        \ or one or more section names seperated by semicolons. See `viewed/sections.json`\
        \ call to get a list of sections. \n"
      explode: false
      in: path
      name: section
      required: true
      schema:
        enum:
        - Arts
        - Automobiles
        - Blogs
        - Books
        - Business Day
        - Education
        - Fashion & Style
        - Food
        - Health
        - Job Market
        - Magazine
        - membercenter
        - Movies
        - Multimedia
        - N.Y.%20%2F%20Region
        - NYT Now
        - Obituaries
        - Open
        - Opinion
        - Public Editor
        - Real Estate
        - Science
        - Sports
        - Style
        - Sunday Review
        - T Magazine
        - Technology
        - The Upshot
        - Theater
        - Times Insider
        - Today’s Paper
        - Travel
        - U.S.
        - World
        - Your Money
        - all-sections
        type: string
      style: simple
    SharedTypes:
      description: Limits the results by the method used to share the items only works
        on mostshared requests.
      explode: true
      in: query
      name: shared-types
      required: false
      schema:
        enum:
        - digg
        - email
        - facebook
        - mixx
        - myspace
        - permalink
        - timespeople
        - twitter
        - yahoobuzz
        type: string
      style: form
    TimePeriod:
      description: "Number of days `1 | 7 | 30 ` corresponds to a day, a week, or\
        \ a month of content."
      explode: false
      in: path
      name: time-period
      required: true
      schema:
        enum:
        - "1"
        - "7"
        - "30"
        type: string
      style: simple
  schemas:
    Article:
      example:
        per_facet:
        - ""
        - ""
        org_facet:
        - ""
        - ""
        column: column
        section: section
        abstract: abstract
        media:
        - ""
        - ""
        source: source
        des_facet:
        - ""
        - ""
        title: title
        url: url
        geo_facet:
        - ""
        - ""
        byline: byline
        published_date: published_date
      properties:
        abstract:
          title: abstract
          type: string
        byline:
          title: byline
          type: string
        column:
          title: column
          type: string
        des_facet:
          items: {}
          title: des_facet
          type: array
        geo_facet:
          $ref: '#/components/schemas/GeoFacet'
        media:
          items: {}
          title: media
          type: array
        org_facet:
          items: {}
          nullable: true
          title: org_facet
          type: array
        per_facet:
          items: {}
          nullable: true
          title: per_facet
          type: array
        published_date:
          title: published_date
          type: string
        section:
          title: section
          type: string
        source:
          title: source
          type: string
        title:
          title: title
          type: string
        url:
          title: url
          type: string
      title: Article
      type: object
    ArticleWithCountType:
      example:
        per_facet:
        - ""
        - ""
        count_type: count_type
        org_facet:
        - ""
        - ""
        column: column
        section: section
        abstract: abstract
        media:
        - copyright: copyright
          media-metadata:
            format: format
            width: 1
            url: url
            height: 6
          subtype: subtype
          caption: caption
          type: type
        - copyright: copyright
          media-metadata:
            format: format
            width: 1
            url: url
            height: 6
          subtype: subtype
          caption: caption
          type: type
        source: source
        des_facet:
        - ""
        - ""
        title: title
        url: url
        geo_facet:
        - ""
        - ""
        byline: byline
        published_date: published_date
      properties:
        abstract:
          title: abstract
          type: string
        byline:
          title: byline
          type: string
        column:
          title: column
          type: string
        count_type:
          title: count_type
          type: string
        des_facet:
          items: {}
          title: des_facet
          type: array
        geo_facet:
          $ref: '#/components/schemas/GeoFacet'
        media:
          items:
            $ref: '#/components/schemas/ArticleWithCountType_media_inner'
          title: media
          type: array
          x-runscope/nullable: true
          x-runscope/nullable/value: ''''''
        org_facet:
          items: {}
          nullable: true
          title: org_facet
          type: array
        per_facet:
          items: {}
          nullable: true
          title: per_facet
          type: array
        published_date:
          title: published_date
          type: string
        section:
          title: section
          type: string
        source:
          title: source
          type: string
        title:
          title: title
          type: string
        url:
          title: url
          type: string
      title: ArticleWithCountType
      type: object
    DesFacet:
      items: {}
      title: des_facet
      type: array
    GeoFacet:
      enum:
      - ""
      items: {}
      nullable: true
      title: GeoFacet
      type: array
    OrgFacet:
      items: {}
      nullable: true
      title: org_facet
      type: array
    PerFacet:
      items: {}
      nullable: true
      title: per_facet
      type: array
    GET_mostemailed_section_time_period_json_200_response:
      example:
        copyright: copyright
        results:
        - per_facet:
          - ""
          - ""
          count_type: count_type
          org_facet:
          - ""
          - ""
          column: column
          section: section
          abstract: abstract
          media:
          - copyright: copyright
            media-metadata:
              format: format
              width: 1
              url: url
              height: 6
            subtype: subtype
            caption: caption
            type: type
          - copyright: copyright
            media-metadata:
              format: format
              width: 1
              url: url
              height: 6
            subtype: subtype
            caption: caption
            type: type
          source: source
          des_facet:
          - ""
          - ""
          title: title
          url: url
          geo_facet:
          - ""
          - ""
          byline: byline
          published_date: published_date
        - per_facet:
          - ""
          - ""
          count_type: count_type
          org_facet:
          - ""
          - ""
          column: column
          section: section
          abstract: abstract
          media:
          - copyright: copyright
            media-metadata:
              format: format
              width: 1
              url: url
              height: 6
            subtype: subtype
            caption: caption
            type: type
          - copyright: copyright
            media-metadata:
              format: format
              width: 1
              url: url
              height: 6
            subtype: subtype
            caption: caption
            type: type
          source: source
          des_facet:
          - ""
          - ""
          title: title
          url: url
          geo_facet:
          - ""
          - ""
          byline: byline
          published_date: published_date
        num_results: 0
        status: status
      properties:
        copyright:
          title: copyright
          type: string
        num_results:
          title: num_results
          type: integer
        results:
          items:
            $ref: '#/components/schemas/ArticleWithCountType'
          title: results
          type: array
        status:
          title: status
          type: string
      title: GET_mostemailed_section_time_period_json_200_response
      type: object
    GET_mostemailed_section_time_period_json_400_response:
      example:
        copyright: copyright
        results:
        - ""
        - ""
        errors:
        - errors
        - errors
        status: status
      properties:
        copyright:
          title: copyright
          type: string
        errors:
          items:
            type: string
          title: errors
          type: array
        results:
          items: {}
          title: results
          type: array
        status:
          title: status
          type: string
      title: GET_mostemailed_section_time_period_json_400_response
      type: object
    GET_mostshared_section_time_period_json_200_response:
      example:
        copyright: copyright
        results:
        - per_facet:
          - ""
          - ""
          org_facet:
          - ""
          - ""
          column: column
          section: section
          abstract: abstract
          media:
          - ""
          - ""
          source: source
          des_facet:
          - ""
          - ""
          title: title
          url: url
          geo_facet:
          - ""
          - ""
          byline: byline
          published_date: published_date
        - per_facet:
          - ""
          - ""
          org_facet:
          - ""
          - ""
          column: column
          section: section
          abstract: abstract
          media:
          - ""
          - ""
          source: source
          des_facet:
          - ""
          - ""
          title: title
          url: url
          geo_facet:
          - ""
          - ""
          byline: byline
          published_date: published_date
        num_results: 0
        status: status
      properties:
        copyright:
          title: copyright
          type: string
        num_results:
          title: num_results
          type: integer
        results:
          items:
            $ref: '#/components/schemas/Article'
          title: results
          type: array
        status:
          title: status
          type: string
      title: GET_mostshared_section_time_period_json_200_response
      type: object
    ArticleWithCountType_media_inner_media_metadata:
      example:
        format: format
        width: 1
        url: url
        height: 6
      properties:
        format:
          title: format
          type: string
        height:
          title: height
          type: integer
        url:
          title: url
          type: string
        width:
          title: width
          type: integer
      title: ArticleWithCountType_media_inner_media_metadata
      type: object
    ArticleWithCountType_media_inner:
      example:
        copyright: copyright
        media-metadata:
          format: format
          width: 1
          url: url
          height: 6
        subtype: subtype
        caption: caption
        type: type
      properties:
        caption:
          title: caption
          type: string
        copyright:
          title: copyright
          type: string
        media-metadata:
          $ref: '#/components/schemas/ArticleWithCountType_media_inner_media_metadata'
        subtype:
          title: subtype
          type: string
        type:
          title: type
          type: string
      title: ArticleWithCountType_media_inner
      type: object
  securitySchemes:
    api-key:
      in: query
      name: api-key
      type: apiKey
      x-apikeyInfoFunc: openapi_server.controllers.security_controller.info_from_api-key
