openapi: 3.0.1
info:
  description: "Use these REST APIs for performing operations on Certificate entity\
    \ in your Azure API Management deployment. Certificates can be used to setup mutual\
    \ authentication with your Backend in API Management. For more information refer\
    \ to [How to secure backend using Mutual Auth Certificate](https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-mutual-certificates)."
  title: ApiManagementClient
  version: 2016-10-10
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2016-10-10/apimcertificates.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: apimanagement-apimcertificates
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/certificates
  : get:
      description: Lists a collection of all certificates in the specified service
        instance.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/dn783483.aspx
      operationId: certificates_list_by_service
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: |-
          | Field          | Supported operators    | Supported functions                         |
          |----------------|------------------------|---------------------------------------------|
          | id             | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
          | subject        | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
          | thumbprint     | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
          | expirationDate | ge, le, eq, ne, gt, lt | N/A                                         |
        in: query
        name: $filter
        schema:
          type: string
      - description: Number of records to return.
        in: query
        name: $top
        schema:
          format: int32
          minimum: 1
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Number of records to skip.
        in: query
        name: $skip
        schema:
          format: int32
          minimum: 0
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateCollection'
          description: Returns a collection of Certificate entity.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Certificates_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Certificates
      x-ms-odata: '#/definitions/CertificateContract'
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.certificates_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/certificates/{certificateId}
  : delete:
      description: Deletes specific certificate.
      operationId: certificates_delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Identifier of the certificate entity. Must be unique in the current
          API Management service instance.
        in: path
        name: certificate_id
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The entity state (Etag) version of the certificate to delete.
          A value of "*" can be used for If-Match to unconditionally apply the operation.
        in: header
        name: If-Match
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: The certificate was successfully deleted.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Certificates_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Certificates
      x-openapi-router-controller: openapi_server.controllers.certificates_controller
    get:
      description: Gets the details of the certificate specified by its identifier.
      operationId: certificates_get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Identifier of the certificate entity. Must be unique in the current
          API Management service instance.
        in: path
        name: certificateId
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateContract'
          description: The response body contains the specified Certificate entity.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Certificates_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Certificates
      x-openapi-router-controller: openapi_server.controllers.certificates_controller
    put:
      description: Creates or updates the certificate being used for authentication
        with the backend.
      externalDocs:
        description: How to secure back-end services using client certificate authentication
          in Azure API Management
        url: https://azure.microsoft.com/en-us/documentation/articles/api-management-howto-mutual-certificates/
      operationId: certificates_create_or_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Identifier of the certificate entity. Must be unique in the current
          API Management service instance.
        in: path
        name: certificate_id
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The entity state (Etag) version of the certificate to update.
          A value of "*" can be used for If-Match to unconditionally apply the operation..
        in: header
        name: If-Match
        schema:
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CertificateCreateOrUpdateParameters'
        description: Create parameters.
        required: true
        x-body-name: parameters
      responses:
        "201":
          content: {}
          description: The new certificate was successfully added.
        "204":
          content: {}
          description: The certificate details were successfully updated.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Certificates_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Certificates
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.certificates_controller
components:
  parameters:
    CertificateIdParameter:
      description: Identifier of the certificate entity. Must be unique in the current
        API Management service instance.
      in: path
      name: certificateId
      required: true
      schema:
        maxLength: 256
        minLength: 1
        pattern: "^[^*#&+:<>?]+$"
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  schemas:
    CertificateCollection:
      description: Paged Certificates list representation.
      example:
        count: 0
        value:
        - subject: subject
          thumbprint: thumbprint
          id: id
          expirationDate: 2000-01-23T04:56:07.000+00:00
        - subject: subject
          thumbprint: thumbprint
          id: id
          expirationDate: 2000-01-23T04:56:07.000+00:00
        nextLink: nextLink
      properties:
        count:
          description: Total record count number across all pages.
          format: int64
          title: count
          type: integer
        nextLink:
          description: Next page link if any.
          title: nextLink
          type: string
        value:
          description: Page values.
          items:
            $ref: '#/components/schemas/CertificateContract'
          title: value
          type: array
      title: CertificateCollection
      type: object
    CertificateContract:
      description: Certificate details.
      example:
        subject: subject
        thumbprint: thumbprint
        id: id
        expirationDate: 2000-01-23T04:56:07.000+00:00
      properties:
        expirationDate:
          description: |
            Expiration date of the certificate. The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601 standard.
          format: date-time
          title: expirationDate
          type: string
        id:
          description: "Certificate identifier path: /certificates/{certificateId}"
          readOnly: true
          title: id
          type: string
        subject:
          description: Subject attribute of the certificate.
          title: subject
          type: string
        thumbprint:
          description: Thumbprint of the certificate.
          title: thumbprint
          type: string
      required:
      - expirationDate
      - subject
      - thumbprint
      title: CertificateContract
      type: object
    CertificateCreateOrUpdateParameters:
      description: Parameters supplied to the CreateOrUpdate certificate operation.
      example:
        password: password
        data: data
      properties:
        data:
          description: Base 64 encoded certificate using the application/x-pkcs12
            representation.
          title: data
          type: string
        password:
          description: Password for the Certificate
          title: password
          type: string
      required:
      - data
      - password
      title: CertificateCreateOrUpdateParameters
      type: object
    Certificates_ListByService_default_response_details_inner:
      description: Error Field contract.
      example:
        code: code
        message: message
        target: target
      properties:
        code:
          description: Property level error code.
          title: code
          type: string
        message:
          description: Human-readable representation of property-level error.
          title: message
          type: string
        target:
          description: Property name.
          title: target
          type: string
      title: Certificates_ListByService_default_response_details_inner
      type: object
    Certificates_ListByService_default_response:
      description: Error Body contract.
      example:
        code: code
        details:
        - code: code
          message: message
          target: target
        - code: code
          message: message
          target: target
        message: message
      properties:
        code:
          description: Service-defined error code. This code serves as a sub-status
            for the HTTP error code specified in the response.
          title: code
          type: string
        details:
          description: "The list of invalid fields send in request, in case of validation\
            \ error."
          items:
            $ref: '#/components/schemas/Certificates_ListByService_default_response_details_inner'
          title: details
          type: array
        message:
          description: Human-readable representation of the error.
          title: message
          type: string
      title: Certificates_ListByService_default_response
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
